<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercise.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            {{#if exerciseblock}}
            {{#each exerciseblock}}
                <p class="insturction {{instruction_class}}">{{{instructiondata}}}</p>

				{{#if draggableblock}}
					<div class="nep_draggableblock {{draggableblockadditionalclass}}">
	                {{#each draggableblock}}
	            		<div class="nep_draggablediv {{draggabledivadditionalclass}}">
		            		<img class="{{imgclass}}" src="images/speaker.png">
		            		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						</div>
		            {{/each}}
	            </div>
	            {{/if}}
	            {{#if droppableblock}}
		            <div class="nep_droppableblock {{droppableblockadditionalclass}}">
		            {{#each droppableblock}}
		            	<div class="nep_droppablediv {{droppabledivadditionalclass}}">
		            		<img class="{{imgclass}}" src="{{imgsrc}}">
		            		<div class="{{inputclass}}">
		            			<p class="item-text-nep">{{{textdata}}}</p>
		            		</div>
		            	</div>
		            {{/each}}
		            </div>
	            {{/if}}
            {{/each}}

             {{/if}}
             {{#if textblock}}
              {{#each textblock}}
                <p class="{{textclass}}">{{{textdata}}}</p>
              {{/each}}
             {{/if}}
             </div>
            </div>
        </script>


<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
