.bg{
    background-size: 100% 100%;
    background-color: #B3CAF3;
}
.bg1{
    background-size: 100% 100%;
    background-color: #B4A7D6;
}
.bg2{
    background-size: 100% 100%;
    background-color: #F6B26B;
}
.bg3{
    background-size: 100% 100%;
    background-color: #F6B26B;
}
.bg4{
    background-size: 100% 100%;
    background-color: #6EC496;
}
.bg5{
    background-size: 100% 100%;
    background-color: #EA9999;
}
.subtextclr{
    color: #9900FF;
}
.topic{
    position: absolute;
    width: 100%;
    height: 60%;
}
.div1 {
    position: absolute;
    width: 25%;
    top: 20%;
    float: left;
    left: 15%;
}
.div2{
    position: absolute;
    width: 25%;
    top: 20%;
    float: right;
    right: 15%;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 20%;
}
.boydiv1{
    position: absolute;
    width: 50%;
    top: 90%;
    float: left;
    left: 0;
}
.girldiv1{
    position: absolute;
    width: 50%;
    top: 90%;
    float: right;
    right: 0;
}
.emptydiv{
    position: absolute;
    width: 0%;
    border: 2px solid #FFD966;
    top: 20%;
    height: 77%;
    left: 50%;
}
.div3{
    position: absolute;
    width: 7%;
    float: left;
    left: 40%;
    top: 22%;
}
.div4{
    position: absolute;
    width: 7%;
    float: right;
    right: 40%;
    top: 22%;
}
.boysingdiv,.girlsingdiv{
    width:22%;
}
.girlscl,.boyscl{
    width:13%;
}
.maintitle1{
    position: absolute;
    width: 90%;
    height: 47%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding: 2% 1%;
    background-color: #FCE6DD;
    border-radius: 25px;
    color: #E99351;
    box-shadow: 3px 0px 10px 0 #5F7F51;
}
.text1{
    color: #4277C1;
}
.granddiv1{
    position: absolute;
    width: 13%;
    top: 7%;
    float: left;
    left: 20%;
}
.granddiv2{
    position: absolute;
    float: right;
    right: 20%;
    position: absolute;
    width: 12%;
    top: 7%;
}
.emptydiv1{
    position: absolute;
    width: 0%;
    border: 2px solid #FFD966;
    top: 10%;
    height: 85%;
    left: 50%;
}
.teacher1{
    position: absolute;
    width: 25%;
    top: 12%;
    float: left;
    left: 15%;
}
.teacher2{
    position: absolute;
    width: 18%;
    top: 12%;
    float: right;
    right: 15%;
}
.mamadiv{
    position: absolute;
    width: 25%;
    top: 7%;
    float: left;
    left: 20%;
}
.maijudiv{
    position: absolute;
    width: 20%;
    top: 7%;
    float: right;
    right: 15%;
}
.hghtcss{
    height:40%;
}
.oxdiv{
    position: absolute;
    width: 40%;
    top: 20%;
    float: left;
    left: 5%;
}
.cowdiv{
    position: absolute;
    width: 40%;
    top: 20%;
    float: right;
    right: 5%;
}