.bg{
    background-color:#EAB6CF;
    background-size: 100% 100%;
}
.bg1{
    background-color:#A2C4C9;
    background-size: 100% 100%;
}
.coverpagetext{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 30%;
}
.topic{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #0097A7;
    color: white;
}
.male{
    position: absolute;
    width: 30%;
    height: 52%;
    bottom: 10%;
    float: left;
    left: 2%;
    border-radius: 40px;
    background-color: #FFE599;
    color: #1155CC;
    border:2px solid #76A5AF;
}
.female{
    position: absolute;
    width: 30%;
    height: 52%;
    bottom: 10%;
    float: left;
    left: 35%;
    border-radius: 40px;
    background-color: #93C47D;
    color: #1155CC;
    border:2px solid #76A5AF;

}
.nondiv{
    position: absolute;
    width: 30%;
    height: 52%;
    bottom: 10%;
    float: left;
    left: 68%;
    border-radius: 40px;
    background-color: #F9CB9C;
    color: #1155CC;
    border:2px solid #76A5AF;

}
.droppable p:first-child{
     border-bottom: 1px solid;
     width: 80%;
     left: 9%;
    padding-top: 7%;
    padding-bottom: 5%;
    color: black;
 }
.dragopt{
    position: absolute;
    top: 20%;
    left: 39%;
    width: 24%;
    height: 12%;
    border-radius: 30px;
    background-color: #F4CCCC;
    color: #A64D79;
}
.dragopt:hover{
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:black;
    border-radius: 30px;
    cursor: grabbing;
    cursor: -webkit-grabbing;

}
.stars{
    display: block;
    position: absolute;
    width: 30%;
    top: 16%;
    left: 34%;
    z-index: 1;
}
.diydiv{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 40%;
    transform: translateY(-40%);
}