.bg{
    background-color: #7574B3;
    background-size: 100% 100%;
}
.boy{
    position: absolute;
    width: 20%;
    top: 15%;
    left: 3%;
}
.girl{
    position: absolute;
    width: 18%;
    float: right;
    right: 3%;
    top: 14%;
}
.coverpagetext{
    color:white;
    position: absolute;
    width: 100%;
    height: 20%;
    top: 45%;
    transform: translateY(-45%);
}
.topic{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #FFD966;
    top:0%;
}
.boydiv{
    position: absolute;
    width: 38%;
    height: 60%;
    top: 70%;
    transform: translateY(-70%);
    background-color: #A64D79;
    border-radius: 40px;
    color: white;
    float: left;
    left: 2%;
}
.girldiv{
    position: absolute;
    width: 38%;
    height: 60%;
    top: 70%;
    transform: translateY(-70%);
    background-color: #A64D79;
    border-radius: 40px;
    color: white;
    float: right;
    right: 2%;
}

.boydiv p,.girldiv p{
    position: absolute;
    height: 20%;
    top: 16%;
    left: 30%;
}
.draggable{
    position: absolute;
    width: 15%;
    top: 44%;
    left: 41%;
    z-index: 1;
}
.draggable:hover{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.mimg1{
    position: absolute;
    width: 15%;
    top: 44%;
    left: 3%;
    z-index: 1;
}
.mimg2{
    position: absolute;
    width: 15%;
    top: 44%;
    left: 61%;
    z-index: 1;

}
.fimg1{
    position: absolute;
    width: 15%;
    top: 46%;
    left: 78%;
    z-index: 1;

}
.fimg2{
    position: absolute;
    width: 15%;
    top: 44%;
    left: 24%;
    z-index: 1;
}
.boydiv1{
    position: absolute;
    width: 47%;
    height: 97%;
    top: 70%;
    transform: translateY(-70%);
    background-color: #A64D79;
    border-radius: 40px;
    color: white;
    float: left;
    left: 2%;
}
.girldiv1{
    position: absolute;
    width: 47%;
    height: 97%;
    top: 70%;
    transform: translateY(-70%);
    background-color: #A64D79;
    border-radius: 40px;
    color: white;
    float: right;
    right: 2%;
}
.boydiv1 p,.girldiv1 p{
    position: absolute;
    height: 20%;
    top: 13%;
    left: 35%;
}
.m1{
    position: absolute;
    width: 15%;
    top: 20%;
    left: 3%;
    z-index: 1;
}
.m2{
    position: absolute;
    left: 61%;
    z-index: 1;
    width: 15%;
    top: 20%;
}
.m3{
    position: absolute;
    left: 78%;
    z-index: 1;
    width: 15%;
    top: 20%;
}
.m4{
    position: absolute;
    left: 24%;
    z-index: 1;
    width: 15%;
    top: 20%;
}
.p1{
    position: absolute;
    width: 47%;
    top: 59%;
    left: 2%;
    color: white;
    height: 40%;
}
.p2{
    position: absolute;
    width: 47%;
    top: 59%;
    left: 51%;
    color: white;
    height: 40%;
}
.subtextclr{
    color: #FFD966;
}
.stars{
    position: absolute;
    width: 40%;
    z-index: 1;
    left: 29%;
}
.bg1{
    background-color: #B3D0C5;
    background-size: 100% 100%;
}