.bg{
    background-color: #FCE6DD;
    background-size: 100% 100%;
}
.coverpagetext{
    position: absolute;
    width: 94%;
    height: 40%;
    background-color: #484786;
    box-shadow: 3px 0px 10px 0 #5F7F51;
    color: white;
    top: 55%;
    transform: translateY(-55%);
    left: 3%;
    border-radius: 16px;
}
.subtextclr{
    color: #F1AA50;
}
.male{
    position: absolute;
    width: 50%;
    border-right: 1px solid;
    float: left;
    left: 0;
    height: 15%;
    background-color: #6BCDA9;
    color: white;
}
.female{
    position: absolute;
    width: 50%;
    border-left: 1px solid;
    float: right;
    right: 0;
    height: 15%;
    background-color: #6BCDA9;
    color: white;
}
.arrow{
    position: absolute;
    width: 15%;
    left: 44%;
    opacity: 0;
}
.arrow1{
    top: 22%;
}
.arrow2{
    top: 43%;
}
.arrow3{
    top: 63%;
}
.arrow4{
    top: 83%;
}
.box1{
    position: absolute;
    width: 25%;
    border-radius: 33px;
    background-color: #FFD966;
    height: 15%;
    color: #3C84A2;
    float: left;
    left:10%;
    opacity: 0;
}
.box2{
    position: absolute;
    width: 25%;
    border-radius: 33px;
    background-color: #FFD966;
    height: 15%;
    color: #3C84A2;
    float: right;
    right:10%;
    opacity:0;
}
.b1,.b2 {
    top: 20%;
}
.b3,.b4{
    top:40%;
}
.b5,.b6{
    top:60%;
}
.b7,.b8{
    top:80%;
}
.topic{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 15%;
    background-color: #7574B3;
    color: white;
}
.img1{
    position: absolute;
    width: 42%;
    top: 10%;
    float: left;
    left:3%;
}
.option{
    position: absolute;
    width: 20%;
    float: right;
    right: 15%;
    height: 16%;
    background-color: #B3D0C5;
    border-radius: 21px;
    color: #283593;
}
.option1{
    top: 25%;
}
.option2{
    top: 50%;
}
.img2{
    position: absolute;
    width: 42%;
    float: right;
    right: 3%;
    top: 10%;
    opacity: 0;
}
.img3{
     position: absolute;
     width: 40%;
     float: right;
     right: 3%;
     top: 14%;
     opacity: 0;
 }
.imgtext{
    position: absolute;
    top: 70%;
    left: 14%;
    color: #283593;
}
.option:hover{
    transform: scale(1);
    border:3px solid;
    background-color: #F6B26B;
    border-color: #E69138;
    color:white;
    border-radius: 21px;
    transition:0.5s;
    cursor: pointer;
}
.correctans{
    pointer-events: none;
    background-color: #98C02E;
    border:3px solid;
    border-color: #DEEF3C;
    border-radius:21px;
    color: white;
}
.wrongans{
    pointer-events: none;
    background-color:#FF0000;
    border:3px solid;
    border-color: #980000;
    border-radius: 21px;
}
.correctWrongImg{
    position: absolute;
    width: 17%;
    padding-top: 15%;
    float: left;
    left: 117%;
}

@keyframes slideToDown {
    100% {
        top:63%;
    }
}
@-moz-keyframes slideToDown {
    100% {
        top:63%;
    }
}
@-webkit-keyframes slideToDown {
    100% {
        top:63%;
    }
}
.slideD{
    animation:slideToDown 1s linear 0s forwards;
    animation-delay: 0s;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(-0%);
    }
}
@-moz-keyframes slideInFromTop {
    0%   { -moz-transform: translateY(-100%); }
    100% { opacity: 1;
        -moz-transform: translateY(-0%);}
}
@-webkit-keyframes slideInFromTop {
    0%   { -webkit-transform: translateY(-100%); }
    100% {opacity: 1;
        -webkit-transform: translateY(-0%); }
}


.slideT{
    animation:slideInFromTop 1s linear 0s forwards;
    animation-delay: 0s;
}

.malediv{
    position: absolute;
    width: 20%;
    height: 11%;
    bottom: 7%;
    float: right;
    right: 34%;
    background-color: #D9D2E9;
    border-radius: 14px;
    opacity: 0;
}
.femalediv{
    position: absolute;
    width: 20%;
    height: 11%;
    bottom: 7%;
    float: left;
    left: 22%;
    background-color: #D9D2E9;
    border-radius: 14px;
    opacity: 0;
}
.curvearrow1{
    position: absolute;
    width:13%;
    bottom:17%;
    float: left;
    left: 25%;
    opacity: 0;
}
.curvearrow2{
    position: absolute;
    width:13%;
    bottom:17%;
    float: right;
    right: 36%;
    opacity: 0;
}
