	@font-face {
	    font-family: sniglet;
	    src: url("../../../../../../fonts/sniglet.ttf");
	}
.ptbg{
	top:0%;
	left:0%;
	width:100%;
	height:100%;
}
.bgl{
	background-color:#D5C2D3;
}
.bg2{
	background-color:#D5C2D3;
}
.wall{
	position: absolute;
	top: 51%;
	left: 22%;
	width: 43%;
	z-index: 20;
	height: 45%;
}
.window01{
	position: absolute;
	top: 60%;
	left: 25%;
	width: 7%;
	z-index: 20;
	height: 14%;
}
.window02{
	position: absolute;
	top: 60%;
	left: 55%;
	width: 7%;
	z-index: 20;
	height: 14%;
}
.doorpt{
	position: absolute;
	top: 72%;
	left: 38%;
	width: 9%;
	z-index: 20;
	height: 23%;
}
.pole{
	position: absolute;
	top: 57%;
	left: 76%;
	width: 5%;
	z-index: 20;
	height: 32%;
}
.star{
	position: absolute;
	top: 43%;
	left: 72%;
	width: 13%;
	z-index: 20;
	height: 20%;
}
.rooftop{
	position: absolute;
	top: 34%;
	left: 22%;
	width: 43%;
	z-index: 20;
	height: 17%;
}
.sun{
	position: absolute;
	top: 17%;
	right: 1%;
	width: 12%;
}
.circlept{
	position: absolute;
	bottom: 14%;
	left: 38.5%;
	width: 2%;
	z-index: 20;
}
.orange_circle{
	position: absolute;
	top: 49%;
	left: 76%;
	width: 5%;
	z-index: 20;
	height: 8%;
}
.orangecircle{
	position: absolute;
	width: 2%;
	z-index: 20;
	height: 3%;
}
.oc1{
	top: 90%;
	left: 7%;
 }
 .oc2{
	 top: 93%;
	 left: 4%;
 }
 .oc3{
	 top: 95%;
	 left: 7%;
 }
 .oc4{
	 top: 93%;
	 left: 10%;
 }
 .oc5{
	 top: 92%;
	 left: 14%;
 }
 .oc6{
	 top: 90%;
	 left: 1%;
 }
.grayscld{
	animation:highlight 1s linear infinite;

}
@keyframes highlight{
	0%{
		 filter: grayscale(100%)  drop-shadow(0px 0px 0px black);
	}
	100%{
		 filter:grayscale(100%)	 drop-shadow(4px 4px 4px #ca3718);
		 transform:scale(1.1,1.1);

	}
}
.slwanm{
	animation:slw 2s linear forwards;
}
@keyframes slw{
	0%{
		filter:grayscale(100%);
	}
	100%{
		filter:grayscale(0%);
	}
}
.rhinodance{
	position: absolute;
	float: right;
	width: 18%;
	top: 44%;
	right: 66%;
	z-index: 2;
}
.squirreldance{
	position: absolute;
	float: right;
	width: 18%;
	top: 54%;
	right: 10%;
	z-index: 2;
}
.playtime{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #ffffff;
	font-family: sniglet;
	z-index: 20;
	font-size: 5vw;
	padding: 5%;
	width: 32%;
	transform: translate(-40%,-9%);
}
.pttxt{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: #D35501;
	font-family: sniglet;
	font-size: 5vw;
	color: #ffffff;
	z-index: 20;
}
.bg1{
	background-color:#88D5E7;
}
.housebg{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.commonNavBtn {
    border: none;
    border-radius: 25px;
    width: 194%;
    height: 51%;
    background-color: #0BA0A9;
    font-size: 4vmin;
    font-family: Sniglet !important;
    color: white;
		top: 20%;
}
.optionsdiv {
	top: 10%;
	display: flex;
	width: 74%;
	left: 13%;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	text-align: center;
	position: absolute;
	height: 20%;
	}


.optionsdiv p {
	 display: inline;
	padding: 3.5%;
	background: #F5EDDA;
	border-radius: 6px;
	margin: 1%;
	font-size: 4vmin;
	font-size: 4.5vmin;
	width: 82%;
	height: 55%;
	top:37%;
	font-family:sniglet;
	}

.optionscontainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;
	justify-content: space-between;
	height: 100%;
	}

.imagestartpos {
	width: 20%;
	display: none;
	top: 35%;
	}

.forhover{
		cursor: pointer;
	}

.forhover:hover {
	    background: #F6B26B;
	    border:2px solid #E69138;
}
.wallpt{
	position: absolute;
	top: 31%;
	left: 25%;
	width: 32%;
	z-index: 20;
	height: 32%;
	animation:lastanimate 2s linear forwards;
}
.window01pt{
	position: absolute;
	top: 35%;
	left: 26%;
	width: 5%;
	z-index: 20;
	height: 8%;
	animation:lastanimate 2s linear forwards;
}
.window02pt{
	position: absolute;
	top: 35%;
	left: 51%;
	width: 5%;
	z-index: 20;
	height: 8%;
	animation:lastanimate 2s linear forwards;
}
.doorptpt{
	position: absolute;
	top: 49%;
	left: 38%;
	width: 6%;
	z-index: 20;
	height: 14%;
	animation:lastanimate 2s linear forwards;
}
.polept{
	position: absolute;
	top: 41%;
	left: 64%;
	width: 3%;
	z-index: 20;
	height: 22%;
	animation:lastanimate 2s linear forwards;
}
.starpt{
	position: absolute;
	top: 30%;
	left: 62%;
	width: 7%;
	z-index: 20;
	height: 15%;
	opacity:0;
	animation:lastanimate 2s linear 2.5s forwards;
}
.rooftoppt{
	position: absolute;
	top: 19%;
	left: 25%;
	width: 32%;
	z-index: 20;
	height: 12%;
	opacity:0;
	animation:lastanimate 2s linear 2.5s forwards;
}
.sunpt{
	position: absolute;
	top: 17%;
	right: 17%;
	width: 7%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
}
.circleptpt{
	position: absolute;
	bottom: 43%;
	left: 38.5%;
	width: 1.5%;
	z-index: 20;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
}
.orange_circlept{
	position: absolute;
	top: 35%;
	left: 63.5%;
	width: 4%;
	z-index: 20;
	height: 6%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
}
.orangecirclept{
	position: absolute;
	width: 3%;
	z-index: 20;
	height: 5%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
}
.oc1pt{
	top: 57%;
	left: 15%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
 }
 .oc2pt{
	top: 60%;
	left: 17%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
 }
 .oc3pt{
	top: 62%;
	left: 20%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
 }
 .oc4pt{
	top: 54%;
	left: 18%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
 }
 .oc5pt{
	top: 57%;
	left: 20%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
 }
 .oc6pt{
	top: 51%;
	left: 21%;
	opacity:0;
	animation:lastanimate 2s linear 5s forwards;
 }
.ptbg1{
	top: 12%;
	left: 0%;
	width: 76%;
	height: 55%;
}

.grass1{
	position: absolute;
	width: 12%;
	top: 54%;
	left: 12%;
	opacity: 0;
	animation:lastanimate 2s linear 5s forwards;
}
.grass2{
    position: absolute;
    width: 10%;
    top: 60%;
    left: 12%;
    opacity: 0;
    animation: lastanimate 2s linear 5s forwards;

}
@keyframes lastanimate{
	0%{opacity:0;}
	100%{opacity:1;}
}
.flying-birds{
	position: absolute;
	top: 23%;
	/*right: 13%;*/
	width: 7%;
	opacity:0;
	animation:moveh 10s linear 4s infinite;
}
@keyframes moveh{
	from{left:10%;opacity:1;}
	to{left:80%;opacity:1;}
}

.grass{
	position: absolute;
    width: 21%;
    top: 77%;
    left: 0%;
}

.btnNavigationSong {
    width: 100%;
    height: 22%;
    top: 75%;
    z-index: 9999;
    position: absolute !important;
}
@media (min-aspect-ratio: 4/3){
			.playtime{
				font-size: 5vh;
			}
			.pttxt{
				font-size: 6vh;
			}
}
