

.tag_questions {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: laila;
}

.tag_questions, .tag_questions * {
	position: relative;
	margin: 0;
	padding: 0;
}

.tag_questions .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.tag_questions .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generalTemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.firsttitle{
	color: #3a3a3a;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

.coverboardfull, .textblock {
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
}

.coverboardfull{
	height: 100%;
}

.textblock{
	font-family: laila;
}

.maintitle {
	position: relative;
	width: 100%;
}

.table_body{
	position: absolute!important;
	width: 80%;
	left: 10%;
	top: 20%;
	height: 60%;
	text-align: center;
}

.table_body *{
	position: initial;
}

/* table{
	border-collapse: collapse;
	border-spacing: 10px;
} */


tr:nth-of-type(1){
	background-color: #FFF77B;

}

tr:nth-of-type(2){
	background-color: #FFF9D5;
}

th{
	text-align: center;
	height: 40%;
}

td{
	text-align: left;
	padding: 0.5em!important;
	width: 50%;
	background-color: #f3f3f3;
}

table, tr, th, td{
	border: 0.2em solid #a1a1a1;
}

.additional_content_block1{
	background-color: #FFF77B;
}

.additional_content_block2{
	background-color: #AAE0E0;
}

.utb_additional_class, .ltb_additional_class{
	background-color: #FFF77B;
}

.utb_additional_class2, .ltb_additional_class2{
	background-color: #AAE0E0;
}

.utb_additional_class, .utb_additional_class2{
	top: 0;
}

.ltb_additional_class, .ltb_additional_class2{
	bottom: 0;
}

.ltb_additional_class3{
	height: auto;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	padding : 1em 1em;
	text-align: left;
}

.miantitle_sub2{
	width: 60%;
	float: right;
	padding: 0.75em 0em 0.75em 0.8em;
	text-align: left;
}

.miantitle_sub{
	height: 100%;
	width: 40%;
	top: 0;
	right: 0;
	float: right;
	padding: 0.75em 1em;
	background-image: url("../images/topband.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.miantitle_sub3{
	position: relative;
	width: 100%;
	padding: 0.5em 1em;
	left: 0%;
}

.miantitle_sub4{
	position: relative;
	width: 100%;
	padding: 0.65em 1em;
}

.position_center{
	position: absolute;
	height: 50%;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
}

.dialog_right{
	bottom: 40%;
	left: 25%;
	width: 50%;
}

.underline_bold_text{
	font-weight: bold;
	text-decoration: underline;
}

.blue_highlight{
	color: #1155CC;

}

.correct, .incorrect{
	cursor: pointer;
}

.correct{
}

.incorrect{
}

.correct:hover, .incorrect:hover{
	background-color: #FFE67F;
	border-radius: 0.5em;
	padding: 0.2em;
}

.disable, .disable:hover{
	cursor: auto;
	background-color: transparent;
	padding: 0;
}


.yes, .yes:hover{
	color: #fff;
	background-color: #78c269;
	border-radius: 0.5em;
	padding: 0.2em;
}

.no, .no:hover{
	padding: 0.2em;
	color: #fff;
	background-color: #FF5A5A;
	border-radius: 0.5em;
}

.underline_black{
	text-decoration: underline;
	color: #000;
}
.box{
	text-align: center;
	font-size: 5.4vw;
}
/* table, tr, th, td{
	border: 0.2em solid #a1a1a1;
} */
.color_highlight{
	color: #9644e2;
}

table {

    border-spacing: 0;
    border-collapse: separate;

}
table, tr{
    width: 100%;
    height: 15%;
		top:5%;
    text-align: right;
    position: absolute;

}

td{

	font-size: 3vh;
	/* color: #fff2cc; */
	text-align: center;
}

.shortEqnBlk{
	position: absolute;
	top: 18%;
	left: 17%;
	height: 80%;
	width: 67%;

}
.shortEqnBlk table{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.shortEqnBlk table tr{
	position: relative;
	background: transparent;
}
/* .shortEqnBlk table tr td{
	border: 4px solid #000;
	background: transparent;
} */
.shortEqnBlk table tr:nth-of-type(1) td{
	background-color: #ffcd54;
	border: 4px solid #000;
}
.shortEqnBlk table tr:nth-of-type(2) td{
	background-color:#fff9d5;
	border: 4px solid #000;
}
.shortEqnBlk table tr:nth-of-type(3) td{
	background-color:#ffeda5;
	border: 4px solid #000;
}
.shortEqnBlk table tr:nth-of-type(4) td{
	background-color:#fff9d5;
	border: 4px solid #000;
}
.shortEqnBlk table tr:nth-of-type(5) td{
	background-color:#ffeda5;
	border: 4px solid #000;
}
.shortEqnBlk table tr:nth-of-type(6) td{
	background-color:#fff9d5;
	border: 4px solid #000;
}
.highlight{
	color: #ea526f;
}
.bld{
	font-weight: bold;
}

@media screen and (min-aspect-ratio: 4/3) {
	.table_body, .dialog_right{
		font-size: 3.56vh;
	}

	.maintitle{
		font-size: 6vh;
	}

	.miantitle_sub4{
		font-size: 4vh;
	}

	.miantitle_sub, .miantitle_sub2, .miantitle_sub3{
		font-size: 4vh;
	}
	.shortEqnBlk table tr td{
		font-size: 3vmin;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.table_body, .dialog_right{
		font-size: 3vw;
	}

	.maintitle{
		font-size: 5.56vw;
	}

	.miantitle_sub4{
		font-size: 3.56vw;
	}

	.miantitle_sub, .miantitle_sub2{
		font-size: 3.56vw;
	}
	.shortEqnBlk table tr td{
		font-size: 3vmin;
	}
	 .miantitle_sub3{
		 font-size: 3.2vw;
	 }

}
