

.tag_questions {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: laila;
}

.tag_questions, .tag_questions * {
	position: relative;
	margin: 0;
	padding: 0;
}

.tag_questions .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.tag_questions .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generalTemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

.coverboardfull, .textblock {
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
}

.coverboardfull{
	height: 100%;
}

.textblock{
	font-family: laila;
}

.greenboard_body{
	font-family: pangolin-regular;
	position: absolute;
	height: 80%;
	width: 80%;
	color: #fff;
	top: 5%;
	left: 10%;
	border: 0.5em solid #430B00;
	background-color: #5B7842;
	padding: 0.4em;
}

.greenboard_footer{
	position: absolute;
	height: auto;
	width: 86%;
	left: 7%;
	top: 84%;
	border: 0.5em solid #430B00;
	border-radius: 0.2em;
	box-shadow: 0px 0.6em 0.08em -0.29em rgba(50, 50, 50, 0.6);
}

.duster{
	width: 10%;
	position:absolute;
	bottom: 0;
	left: 5%;
	height: 5%;
}

.handle{
	width: 100%;
	height: 50%;
	position: absolute;
	background-color: #5E3626;
	top: 0;
	left: 0;
}

.wiper{
	width: 90%;
	height: 55%;
	left: 5%;
	bottom: 0%;
	position: absolute;
	background-color: #2a2a2a;
}

.lokherke_chalk{
	height: 30%;
	left: 80%;
	top: 70%;
	position: absolute;
	z-index: 20;
}

.chalk1, .chalk2, .chalk3, .chalk4, .chalk5, .chalk6{
	position: absolute;
	width: 7%;
	border-radius: 0.2em;
	bottom: 0;
}

.chalk1{
	border: 0.2em solid #fff;
	left: 70%;

}

.chalk2{
	border: 0.2em solid #F6B26B;
	left: 20%;
}

.chalk3{
	border: 0.2em solid #9FE3E4;
	left: 30%;
}

.chalk4{
	border: 0.2em solid #B4A7D6;
	left: 40%;
}

.chalk5{
	border: 0.2em solid #93C47D;
	left: 50%;
}

.chalk6{
	border: 0.2em solid #FFF77B;
	left: 60%;
}

.additional_content_block1{
	background-color: #FFF77B;
}

.additional_content_block2{
	backgroundkground-color: #AAE0E0;
}

.maintitle, .maintitle2 {
	position: relative;
	width: 100%;
	padding: 0.4em 0;
}



.fade_in1, .fade_in2, .fade_in3, .fade_in4, .fade_in5, .fade_in6{
	opacity: 0;
	transform: scale(0);
}

.fade_in1{
	animation: fadein_kfs 1s linear 0s forwards;
}

.fade_in2{
	animation: fadein_kfs 1s linear 0.4s forwards;
}

.fade_in3{
	animation: fadein_kfs 1s linear 0.8s forwards;
}

.fade_in4{
	animation: fadein_kfs 1s linear 1.2s forwards;
}

.fade_in5{
	animation: fadein_kfs 1s linear 1.6s forwards;
}

.fade_in6{
	animation: fadein_kfs 1s linear 2s forwards;
}

.dropinto{
	line-height: 1.6;
	width: 20%;
	border: 0.2em solid #fff;
	border-radius: 0.5em;
	content: " ";
	padding: 0.2em 1.6em 0.2em 0.5em;
}

.title_option1, .title_option2, .title_option3{
	position: absolute;
	/*width: 33.33%;*/
	width: auto;
	top: 30%;
	color: #fff;
	cursor: grab;
}

.title_option4, .title_option5{
	position: absolute;
	/*width: 33.33%;*/
	width: auto;
	top: 50%;
	color: #fff;
	cursor: grab;
}

.title_option1{
	left :10%;
}

.title_option2{
	left: 40%;
}

.title_option3{
	right: 10%;
}

.title_option4{
	left: 21.11%;
}

.title_option5{
	right: 21.11%;
}

.title_bottom{
	position: absolute;
	bottom: 14%;
	width: 100%;
	left: 0;
}


@keyframes fadein_kfs{
	90%{
		opacity: 1;
		transform:scale(1.1);
	}
	100%{
		opacity: 1;
		transform:scale(1);
	}
}
.imagestartpos {
  position: absolute;
  width: 14%;
  display: none;
  left: 75%;
  top: 19%;
  transform: translateY(-7%);
}

@media screen and (min-aspect-ratio: 4/3) {
	.maintitle {
		font-size: 6vh;
	}

	.maintitle2 {
		font-size: 9vh;
	}

	.title_option1, .title_option2, .title_option3, .title_option4, .title_option5{
		font-size: 4.56vh;
	}

	.title_bottom{
		font-size: 4.9vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.maintitle {
		font-size: 4vw;
	}

	.maintitle2 {
		font-size: 8vw;
	}

	.title_option1, .title_option2, .title_option3, .title_option4, .title_option5{
		font-size: 3.2vw;
	}

	.title_bottom{
		font-size: 3.3vw;
	}
}
