.covertext{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 90%;
  top: 50%;
  font-size: 6vw;
	opacity: 0;
	animation: cssfadein 1s linear forwards;
	z-index: 10;
	color: #0097A7;
  font-family: bangers;
}

@media (min-aspect-ratio: 4/3){
  .covertext{
		font-size: 12vmin;
	}
}

.diy-header {
    font-size: 5vmin;
    padding: 1%;
    height: auto;
}

@media (min-aspect-ratio: 4/3){
	.diy-header{
		font-size: 6vmin;
	}
}

.purpbg{
  background: #887EA7;
}

[class*="diybutton"] {
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    width: 30%;
    top: 91%;
    font-size: 3vmin;
    background: #52AAC4;
    padding: 1%;
    border-radius: 0.5em;
    color: white;
    font-family: sniglet;
    animation: buttanim 0.7s ease-out 2s forwards;
    border: 0.2em solid #52AAC4;
    transition-duration: 0.2s;
}

@media (min-aspect-ratio: 4/3){
	[class*="diybutton"]{
		font-size: 1.9vw;
	}
}

@keyframes buttanim {
  70%{
    transform: translate(-50%,-50%) scale(1.1);
  }
  80%{
    transform: translate(-50%,-50%) scale(1);
  }
  90%{
    transform: translate(-50%,-50%) scale(1.1);
  }
  100%{
    transform: translate(-50%,-50%) scale(1);
  }
}

.diybutton-1{
  left: 30%;
}

.diybutton-2{
  left: 70%;
}

.forhover:hover{
  cursor: pointer;
  background: #f9cb9c;
  border: 0.2em solid #e69138;
  color: black;
}

.painting {
    transform: translate(-50%,-50%);
    width: 42%;
    left: 50%;
    top: 49%;
    position: absolute;
}

.objnew {
    transform: translate(-50%,-50%);
    height: 42%;
    left: 120%;
    top: 49%;
    position: absolute;
    animation: newfloat 2s ease-out forwards;
}

@keyframes newfloat {
  100%{
    left: 60%;
  }
}

.objold {
    transform: translate(-50%,-50%);
    height: 42%;
    left: 60%;
    top: 49%;
    position: absolute;
    animation: oldfloat 2s ease-out forwards;
}

@keyframes oldfloat {
  100%{
    left: -10%;
  }
}

.icon-one {
  transform: translate(-50%,-50%);
  width: 5%;
  left: 48%;
  top: 91%;
  position: absolute;
}

.icon-two {
  transform: translate(-50%,-50%);
  width: 5%;
  left: 88%;
  top: 91%;
  position: absolute;
}
