.blurit{
  opacity: 0.4;
}

.purp-bg{
  background: #807D9E;
}

.texttype1{
  transform: translate(-50%);
  top: 20%;
  left: 50%;
  color: white;
}

.texttype2 {
  transform: translate(-50%);
  top: 80%;
  left: 50%;
  color: white;
  display: none;
  position: absolute;
  width: 90%;
}

.texttype3 {
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  color: white;
  background: #575269;
  padding: 6%;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
}

.yellowtext{
  color: #FFE599;
}

.yellowtext2{
  color: #F1C232;
}

[class*="ligimg"] {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 23%;
    top: 60%;
    display: none;
}

.ligimg-sun{
  left: 25%;
}

.ligimg-elec{
  left: 50%;
}

.ligimg-lamp{
  left: 75%;
}

[class*="imglabel"] {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 85%;
    display: none;
    font-family: sniglet;
    color: #FFE599;
}

.imglabel-sun{
  left: 25%;
}

.imglabel-elec{
  left: 50%;
}

.imglabel-lamp{
  left: 75%;
}

.ltb {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 85%;
    display: none;
    font-family: sniglet;
    left: 50%;
    background: #807D9E;
    width: 90%;
    padding: 1%;
    border-radius: 0.5em;
    color: #FFE599;
}

[class*="elec"] {
    transform: translate(-50%,-50%);
    position: absolute;
}

.elec-1 {
    width: 28%;
    top: 30%;
    left: 50%;
}

.elec-2 {
    width: 62%;
    top: 67%;
    left: 68%;
}

.elec-3 {
    width: 25%;
    top: 64%;
    left: 20%;
}

.switch-1 {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 5%;
    top: 43%;
    left: 39%;
    height: 8%;
    cursor: pointer;
}

.switch-2 {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 9%;
    top: 67%;
    left: 41%;
    height: 7%;
    cursor: pointer;
}

.hand-1 {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 3%;
    top: 46%;
    left: 39%;
    display: none;
    cursor: pointer;
}

.hand-2 {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 3%;
    top: 70%;
    left: 41%;
    display: none;
    cursor: pointer;
}

.front1 {
    background: #F9714E;
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 4.5vmin;
    padding: 8%;
    text-align: center;
    border-radius: 30px;
    cursor: default;
    color: white;
    border: 5px solid white;
    transform: rotateY( 180deg );
}

.back1 {
		margin: 0;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		border-radius: 30px;
		border: 5px solid #F4CC61;
    background: white;
}

.back1 img {
    width: 60%;
    height: auto;
}

.flipped {
		transform: rotateY( -180deg );
}

.imgcaption {
		background: #F4CC61;
		position: absolute;
		bottom: -0.5%;
		width: 100%;
		font-size: 1.2em;
		opacity: 0.9;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
}

.face1 {
  position: absolute;
  width: 40%;
  height: 40%;
  background: white;
  top: 25%;
  left: 5%;
}

.section {
  width: 32%;
  height: 38%;
  position: absolute;
  perspective: 800px;
  transform: translate(-50%);
}

.hoverclass:hover{
  cursor: pointer;
  transition: transform 0.5s;
  transform: translate(-50%) scale(1.05);
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.seone {
  top: 40%;
  left: 30%;
}

.setwo {
  top: 40%;
  left: 70%;
}

.hand-3 {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 5%;
    top: 60%;
    left: 39%;
    display: none;
    z-index: 5;
    cursor: pointer;
}

.hand-4 {
    transform: translate(-50%,-50%);
    position: absolute;
    width: 5%;
    top: 60%;
    left: 79%;
    display: none;
    z-index: 5;
    cursor: pointer;
}


@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
	.ltb{
		font-size: 4vh;
	}
  .texttype1{
    font-size: 4.5vh;
  }
  .texttype2{
    font-size: 4.5vh;
  }
  .texttype3{
    font-size: 5vh;
  }
  [class*="imglabel"] {
      font-size: 4vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.ltb{
		font-size: 3vw;
	}
  .texttype1{
    font-size: 3vw;
  }
  .texttype2{
    font-size: 3vw;
  }
  .texttype3{
    font-size: 3.5vw;
  }
  [class*="imglabel"] {
      font-size: 3vw;
  }
}
