body {
	margin: 30px;
	font-family: "Georgia", serif;
	line-height: 1.8em;
	color: #fff;
}

/* Give headings their own font */

h1, h2, h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}
h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	color:#4682B4;
}

/* Main content area */
.container_layout {
	max-width: 100%;
	background: #FFFFFF;
}
#wrapper {
	x  margin: 80px 70px;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Header/footer boxes */

.wideBox {
	clear: both;
	text-align: center;
	margin: 70px;
	padding: 10px;
	background: #ebedf2;
	border: 1px solid #333;
}

.wideBox h1 {
	font-weight: bold;
	margin: 20px;
	color: #666;
	font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
	margin: 5px auto 0 auto;
	background: #4682B4;
}

/* The initial pile of unsorted cards */

#cardPile {
	margin: 0 auto;
	background: #DCDCDC;
}

#cardPile:hover {
	cursor: pointer;
}

#cardSlots, #cardPile {
	height: 293px;
	padding: 25px;
	width: 798px;
	x  border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

#cardSlots div {
	border-radius: 10px;
	float: left;
	height: 107px;
	margin: 4 0 0 23px;
	x margin-left: 10px;
	x margin-top: 4px;
	padding-bottom: 3px;
	padding-top: 19px;
	x position: absolute;
	width: 123px;
	font-size: 20px;
}

#cardPile div {
	border-radius: 10px;
	float: left;
	height: 107px;
	margin: 4 0 0 23px;
	x margin-left: 10px;
	x margin-top: 4px;
	padding-bottom: 3px;
	padding-top: 13px;
	x position: absolute;
	width: 123px;
	font-size: 20px;
}

#cardSlots div:first-child, #cardPile div:first-child {
	x margin-left: 0;
}

#cardSlots div.hovered {
	background: #aaa;
}

#cardSlots div {
	border-style: solid;
}

#cardPile div {
	xbackground: #666;
	color: #fff;
	font-size: 50px;
	text-shadow: 0 0 3px #000;
}

#cardPile div.ui-draggable-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */

/* "You did it!" message */
#successMessage {
	position: absolute;
	left: 38%;
	top: 250px;
	width: 0;
	height: 0;
	z-index: 100;
	background: #dfd;
	border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	padding: 20px;
}