@font-face {
    font-family: ProximaNova;
    src: url('../fonts/sniglet.ttf');
}

body{
	position: relative;
	width: 100%;
	height: 100%;
  overflow: hidden;
}
#activity-page-container{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #f9f9fb;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mainBox {
	margin: auto;
	width: 960px;
  border-top: 6px solid #e8e8e8;
  border-bottom: 6px solid #e8e8e8;
	background: #f2f2f2;
	font-size: 2.1vmin;
}

@media (min-aspect-ratio: 4/3){
  .mainBox{
    border-left: 6px solid #e8e8e8;
  	border-right: 6px solid #e8e8e8;
    border-top: none;
    border-bottom: none;
	}
}
/*********************************************************
 *                HEADER SECTION BEGIN                   *
 *********************************************************/

#activity-page-header{
	background-color: #36364b;
	border-radius: 0;
	padding: 0;
	height: 60px;
	margin: 0;
	display: flex;
	align-items: center;
	max-height: none;
	min-height: none;
}
@media(min-aspect-ratio:1/1){
	#activity-page-header{
		/*flex-grow: 1;*/
	}
}
#activity-page-navbar{
	position: relative;
	width: 100%;
	height: 60px;
	padding: 0%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#activity-page-navbar>*{
	position: relative;
}
#activity-page-logo{
	margin-left: 5%;
	margin-right: 1%;
	height: 75%;
}
@media(max-width:600px){
	#activity-page-logo{
		height: 50%;
	}
}
#activity-page-logo img{
	position: relative;
	height: 100%;
	margin: auto;
}
/*for text menu*/
/*
#activity-page-menu-container{
	height: 75%;
	margin: 0% 1%;
}

#activity-page-menu-container a{
	position: relative;
	margin: auto;
	display: block;
	height: 100%;
	padding: 0% 1.5vw;
	background: #FEF6C8;
	border-radius: 1vw;
	color: #428bca;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 2vw;
}
#activity-page-menu-container a:hover{
	transition-duration: 0.5s;
	background: #fff2aa;
}
@media(max-width:600px){
	#activity-page-menu-container a{
		font-size: 4vw;
		border-radius: 0.5em;
	}
}
@media(max-width:900px) and (min-width:600px){
	#activity-page-menu-container a{
		font-size: 3vw;
		border-radius: 0.5em;
	}
}
@media(min-width:1600px){
	#activity-page-menu-container a{
		font-size: 2em;
		border-radius: 0.5em;
	}
}
#activity-page-menu-text{
	position: relative;
}
*/
/*for img menu*/
#activity-page-menu-container{
	height: 75%;
	margin: 0% 1%;
}
@media(max-width:600px){
	#activity-page-menu-container{
		height: 50%;
	}
}
#activity-page-menu-container img{
	position: relative;
	height: 100%;
	margin: auto;
}
#activity-page-menu-container a:hover{
	filter: brightness(105%);
	-webkit-filter: brightness(105%);
}


#activity-page-title{
	margin-left: 5%;
	margin-right: 2%;
	font-size: 1.5vw;
	align-items: center;
	justify-content: center;
	width: 40%;
}
@media(max-width:600px){
	#activity-page-title{
		font-size: 3vw;
		width: auto;
	}
}
@media(max-width:900px) and (min-width:600px){
	#activity-page-title{
		font-size: 2.25vw;
	}
}
@media(min-width:1600px){
	#activity-page-title{
		font-size: 1.5em;
	}
}

#breadCrumbSpan{
	white-space: pre;
	color: #fff!important;
}
#breadCrumbLink{
	color: #fff!important;
}
#activity-page-title #breadCrumbSpan:nth-child(5) {
  font-weight: bold;
}

#activity-page-title #breadCrumbSpan:nth-child(5):lang(np) {
    font-weight: normal;
}
#activity-page-lesson-ex-tab {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-end;
  padding: 0;
  flex-grow: 1;
}

#activity-page-lesson-tab, #activity-page-exercise-tab{
	position: relative;
	height: 100%;
}

#activity-page-lesson-tab button, #activity-page-exercise-tab button{
	display: inline-block;
	height: 80%;
	padding: 0px 1.5vw;
	cursor: pointer;
	margin: 0px 0.3vw;
	box-sizing: border-box;
	text-align: center;
	border: 0;
	background: none;
	color: white;
	border-radius: 0.7vw;
	text-align:center;
	white-space: nowrap;
	vertical-align: middle;
	overflow: visible;
	font-size: 1.7vw;
}
#activity-page-lesson-tab button:hover, #activity-page-exercise-tab button:hover {
    text-align: center;
    background: #0EAAF3;
    color: #FFF;
    border-bottom: 0;
    box-sizing: border-box;
    border-radius: 3em;
    filter: brightness(105%);
}
@media(max-width:600px){
	#activity-page-lesson-tab button, #activity-page-exercise-tab button{
		font-size: 3.4vw;
		border-radius: 0.4em;
	}
}
@media(max-width:900px) and (min-width:600px){
	#activity-page-lesson-tab button, #activity-page-exercise-tab button{
		font-size: 2.55vw;
		border-radius: 0.4em;
	}
}
@media(min-width:1600px){
	#activity-page-lesson-tab button, #activity-page-exercise-tab button{
		font-size: 1.7em;
		border-radius: 0.4em;
	}
}
#activity-page-lesson-tab button:hover, #activity-page-exercise-tab button:hover{
	filter: brightness(105%);
	-webkit-filter: brightness(105%);
}

#activity-page-lesson-tab .active, #activity-page-exercise-tab .active{
	text-align: center;
	background: #1493D1;
	color: #FFF;
	border-bottom: 0;
	box-sizing: border-box;
	border-radius: 3vmin;
}
@media(max-width:600px){
	#activity-page-lesson-tab .active, #activity-page-exercise-tab .active{
		border-top-right-radius: 1em;
		border-top-left-radius: 1em;
	}
}
@media(min-width:1600px){
	#activity-page-lesson-tab .active, #activity-page-exercise-tab .active{
		border-top-right-radius: 1em;
		border-top-left-radius: 1em;
	}
}
.activityPageTopTitleBar .lessonExerciseTab .activeLsn {
	color: #00C9DB;
}

.activityPageTopTitleBar .lessonExerciseTab .activeExe {
	color: #F99774;
}
#activity-page-lang-switch{
	margin-left: 2vw;
	margin-right: 5vw;
	font-weight: bold;
	font-size: 1.5vw;
	white-space:nowrap;
}
@media(max-width:500px){
	#activity-page-lang-switch{
		white-space: normal;
	}
}
@media(max-width:600px){
	#activity-page-lang-switch{
		font-size: 3vw;
	}
}
@media(max-width:900px) and (min-width:600px){
	#activity-page-lang-switch{
		font-size: 2.25vw;
	}
}
@media(min-width:1600px){
	#activity-page-lang-switch{
		font-size: 1.5em;
	}
}
#activity-page-lang-switch .activity-page-label{
	white-space: pre;
}
#activity-page-lang-switch span {
	color: #A2D6FF;
}

#activity-page-help-text {
	color: rgba(163, 164, 218, 1);
	/* font-size: 1.8em; */
	margin-top: 0.9%;
	float: right;
	display: none;
}
#activity-page-help-text span {
	cursor: help;
	font-size: 2em;
}
#activity-page-help-text span:hover {
	color: #fff;
}

/*********************************************************
 *                  HEADER SECTION END                   *
 *********************************************************/



/*********************************************************
 *                  FOOTER SECTION BEGIN                 *
 *********************************************************/
#activity-page-footer{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #36364b;
	color: #fff;
	display: flex;
	align-items: center;
}
@media(min-aspect-ratio:1/1){
	#activity-page-footer{
		/*flex-grow: 1;*/
	}
}
#activity-page-footer-container {
  position: relative;
  width: 73%;
  height: 50px;
  background-color: #36364b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
#activity-page-list-page {
	position: relative;
	flex-grow: 1;
	text-align: left;
	height: 100%;
	width: 100%;
}
#activity-page-list-page-container {
  position: relative;
  width: 100%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}
#activity-page-list-page-container > span{
	padding : 0.4%;
	margin-left: 1%;
	cursor: pointer;
}
#activity-page-navigation-controller{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#activity-page-next-btn, #activity-page-prev-btn, #activity-page-refresh-btn{
	position: relative;
	height: 85%;
	width: 25%;
}
@media(max-width:600px){
	#activity-page-next-btn, #activity-page-prev-btn{
		height: 50%;
	}
}
#activity-page-next-btn{
	order: 1;
}
#activity-page-prev-btn{
	order: -1;
	margin-left: 3vw;
}
#activity-page-refresh-btn{
	order: -2;
}
#activity-page-next-btn>img, #activity-page-prev-btn>img, #activity-page-refresh-btn>img{
	position: absolute;
	height: 100%;
	left: 0%;
	top: 0%;
}
#activity-page-slide-counter{
	margin: 0% 2vw;
	font-size: 1.5vw;
	white-space:nowrap;
	font-family: ProximaNova;
}
@media(max-width:600px){
	#activity-page-slide-counter{
		font-size: 3vw;
	}
}
@media(max-width:900px) and (min-width:600px){
	#activity-page-slide-counter{
		font-size: 2.25vw;
	}
}
@media(min-width:1600px){
	#activity-page-slide-counter{
		font-size: 1.5em;
	}
}

#activity-page-prev-btn-disabled, #activity-page-next-btn-disabled{
	filter: grayscale(100%);
  opacity: 0.3;
}

#activity-page-prev-btn-enabled:hover, #activity-page-next-btn-enabled:hover, #activity-page-refresh-btn:hover, #activity-page-continue-btn:hover, #activity-page-finish-btn:hover{
	filter: brightness(115%);
	cursor: pointer;
}

#activity-page-highlight-current{
	color: #FEC93E;
}

#activity-page-continue-btn, #activity-page-finish-btn{
	display: none;
}

.headfooterPages{
  display:inline-block;
  margin: auto;
 /*  width: 55%; */
  text-align: left;
	font-family: ProximaNova;
}
/*********************************************************
 *                  FOOTER SECTION END                   *
 *********************************************************/
