/*--------- rhino --------------*/
.markboard_rhino{
	position: absolute !important;
	top: 2%;
	right: 2%;
	width: 15%;
	height: 7%;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 100;
	background-color: #EEA22B;
	border-radius: 1vmin;
}
#player_score_rhino{
	order: -1;
	font-size: 2.9vw;
	text-align: center;
	color: white;
	font-family: Pangolin;
}
@font-face {
    font-family: Pangolin;
    src: url('../fonts/Pangolin-Regular.ttf');
}
#box_icon_rhino{
	height: 80%;
}
.scoreboard_rhino {
    width: 100%;
    height: 12%;
    z-index:20;
    position: absolute !important;
    text-align: right;
    bottom: 0%;
    left: 0%;
}
.scoreboardbg_rhino {
    width: 100%;
    height: 12%;
    z-index:1;
    position: absolute !important;
    bottom: 0%;
    left: 0%;
	display: flex;
	align-items: flex-end;
	flex-flow: row;
}

#rhino_sprite{
	position: absolute !important;
	height: 100%;
	left: 0%;
	bottom: 1%;
	z-index: 5;
}
#finish_flag_rhino{
	position: absolute !important;
	max-height: 60%;
	left: 88%;
	max-width: 7%;
	bottom: 1%;
	z-index: 3;
}
#run_grass_rhino{
	position: absolute !important;
	width: 100%;
	bottom: 0%;
	left: 0%;
	max-height: 12%;
	z-index: 2;
}
.obstacle_box_rhino{
	position: absolute !important;
	height: 60%;
	left: 50%;
	bottom: 0%;
	z-index: 1;
	transform: translateX(-50%);
}
.back_img_rhino{
	position: relative;
	height: 100%;
	margin-left: -1px;
	bottom: 0%;
	z-index: 0;
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

.jump_rhino {
	-webkit-animation: jump_rhino 0.5s cubic-bezier(0,.5,1,.5);
	animation: jump_rhino 0.5s cubic-bezier(.5,1,1,.75);
}
@keyframes
jump_rhino{
	50% {transform: translateY(-120%);}
}
@-webkit-keyframes
jump_rhino{
	50% {transform: translateY(-120%);}
}

.zoom_rhino {
	-webkit-animation: zoom_rhino 1s linear forwards;
	animation: zoom_rhino 1s linear forwards;
	animation-delay:0.75s;
	transform-origin: bottom right;
}
.zoom_marks_rhino {
	-webkit-animation: zoom_marks_rhino 1s linear forwards;
	animation: zoom_marks_rhino 1s linear forwards;
	animation-delay:0.75s;
}
@keyframes
zoom_marks_rhino{
	100% {transform: scale(2);right: 35%;  top: 10%;}
}
@-webkit-keyframes
zoom_marks_rhino{
	100% {transform: scale(2); right: 35%; top: 10%;}
}

@keyframes
zoom_rhino{
	100% {transform: scale(2.5);right: 0%;  bottom: 50%;}
}
@-webkit-keyframes
zoom_rhino{
	100% {transform: scale(2.5); right: 0%; bottom: 50%;}
}


.rhino_congratulationtext {

    color: #fc593d;
    padding: 1% !important;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -168%;
    font-family: Sniglet;

}

@font-face {
    font-family: Sniglet;
    src: url('../fonts/sniglet.ttf');
}
.rhino_congratulation {
    text-align: center;
    position: absolute !important;
    top: 65%;
    opacity: 0;
    animation: fade-in 1s linear 1s forwards;
    height: 14%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    z-index: 100;
    height: 21%;
}
@font-face {
	font-family: bangers;
	src: url('../fonts/Bangers-Regular.ttf');
}
.rhino_exenextbtn {
    position: absolute !important;
    transform: translate(-50%, -50%);
    bottom: 2%;
    left: 50%;
    width: 27%;
    height: 10%;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
    background: url('../images/woody.png');
    background-size: 100% 100%;
    animation: fade-in 1s linear 1s forwards;
    font-family: bangers;
}
.rhino_exenextbtn:hover{
	-webkit-filter: drop-shadow(.4vmin .4vmin 0 #4C2F1B)
                  drop-shadow(-.4vmin -.4vmin 0 #4C2F1B);
  filter: drop-shadow(.4vmin .4vmin 0 #4C2F1B)
          drop-shadow(-.4vmin -.4vmin 0 #4C2F1B);
	transition: .2s;
}
.rhino_exenextbtn>p{
	position: absolute!important;
	left: 50%;
	top: 50%;
	text-align: center;
	color: white;
	width: 100%;
	transform: translate(-50%, -50%);
	font-size: 2vw;
}

/*regan*/

.learn {
    left: 17%;
}
.play {
    left: 83%;
}
.animate_button{
	opacity: 1;
	animation: rhinobutton .5s 4 forwards;
	-webkit-animation: rhinobutton .5s 4 forwards;
}
@keyframes rhinobutton {
	0%{
		bottom: 2%;
		width: 27%;
	}
	50%{
		bottom: 4%;
		width: 28%;
	}
	100%{
		bottom: 2%;
		width: 27%;
	}
}
-webkit-@keyframes rhinobutton  {
	0%{
		bottom: 2%;
		width: 27%;
	}
	50%{
		bottom: 4%;
		width: 28%;
	}
	100%{
		bottom: 2%;
		width: 27%;
	}
}
.menushadow, .learnshadow, .playshadow {
    width: 20%;
    top: 96%;
    position: absolute !important;
    left: 17%;
    transform: translate(-50%,-50%);
}
.menushadow{
	position: absolute !important;
    left: 50%;
}
.playshadow{
	position: absolute !important;
    left: 83%;
}
.shadowextend{
	animation:shadowextension .5s 4 forwards;
}
@keyframes shadowextension {
	0%{
		width: 20%;
	}
	50%{
		width: 22%;
	}
	100%{
		width: 20%;
	}
}


@media (min-aspect-ratio: 4/3){
	#player_score_rhino{
		font-size: 4vmin;
	}
	.rhino_exenextbtn>p,.rhino_congratulation{
		font-size: 4vmin;
}
