html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
        font-family: sniglet;
        src: url("../../../../../fonts/sniglet.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: #FFF0ED;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg2 {
    width: 100%;
    height: 100%;
    background: url("../../../../../images/backgrounds/pink_gradient.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #8483E1;
    color: white;
    font-size: 5vmin;
    padding: 2%;
    font-family: sniglet;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

/* magnet start */

.firsttitle {
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 6vmin;
    width: 100%;
    font-family: sniglet;
}

.sevenimg {
    top: 42%;
    position: absolute;
    left: 50%;
    width: 42%;
    transform: translate(-50%,-50%);
    border: 5px solid #4C4C4C;
}

.usetext {
    position: absolute;
    left: 50%;
    top: 80%;
    font-size: 5.5vmin;
    padding: 1%;
    width: 86%;
    transform: translate(-50%,-50%);
}

.utbtext {
    position: absolute;
    left: 50%;
    top: 24%;
    font-size: 4vmin;
    padding: 1%;
    width: 86%;
    transform: translate(-50%,-50%);
}

.hightext{
    color: #E66C7A;
}

.multipleimg{
    position: absolute;
    border: 2px solid #4C4C4C;
    width: 15%;
}

.imgone {
    top: 35%;
    left: 5%;
}

.imgotwo {
    top: 35%;
    left: 27%;
}

.imgthree {
    top: 35%;
    left: 49%;
}

.imgfour {
    top: 35%;
    left: 72%;
}

.imgfive {
    top: 66%;
    left: 5%;
}

.imgsix {
    top: 66%;
    left: 27%;
}

.imgsev {
    top: 66%;
    left: 49%;
}

.imgeight {
    top: 66%;
    left: 72%;
}

.dyk1 {
    top: 35%;
    left: 7%;
    width: 19%;
}

.dyk2 {
    top: 35%;
    left: 37%;
    width: 19%;
}

.dyk3 {
    top: 35%;
    left: 67%;
    width: 19%;
}

.magnet1 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 36%;
    height: 16%;
}

.magnet2{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
    height: 16%;
}

.cssfadein{
    animation: fadein 1s linear forwards;
}

@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1 !important;}
}

@-webkit-keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1 !important;}
}

.textblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 5;
}