@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.magnets {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.magnets, .magnets * {
	position: relative;
	margin: 0;
	padding: 0;
}

.magnets .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.magnets .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_main {
	background-image: url("../images/bg.png");
	background-size: cover;
}
.its_hidden {
	display: none;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}


/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/
/*----------------------------------
 |			Animations			   |
 -------------------------------- */

.blink_and_big {
	animation: blink_2_big infinite 1s;
	-webkit-animation: blink_2_big infinite 1s;
}

@-webkit-keyframes
blink_2_big {
0%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
50%   {transform: scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px black);}
100%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
}
@keyframes
blink_2_big {
0%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
50%   {transform: scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px black);}
100%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
}

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
	/*border   : 1px solid green; */
}

/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 1s;
	-webkit-animation: appear 1s;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}


div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson_title {
	position: absolute;
	color: #FF6A65;
	font-size: 5em;
}

.introduction{
	position: absolute;
	top: 2%;
	font-size: 4vmin;
	text-align: center;
	width: 100%;
}
.introduction_1{
	position: absolute;
	top: 2%;
	font-size: 3vmin;
	text-align: center;
	width: 100%;
}
.center_text {
    display: none;
    position: absolute;
    top: 20%;
    font-size: 3.5vmin;
    text-align: center;
    background-color: #FFCD54;
    transform: translateX(-50%);
    left: 50%;
    padding: 3%;
    border-radius: 1em;
    z-index: 20;
}

.introduction_1 > p {
    background: #FFCD54;
    top: 65%;
    position: absolute;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    padding: 1%;
    border-radius: 1em;
    font-size: 3.5vmin;
}

.feedback{
	display: none;
	position: absolute;
	top: 35%;
	left: 25%;
	font-size: 3.5vmin;
	text-align: center;
	background-color: #FFFCD1;
	width: 50%;
}
.feedback>p{
	margin-top: 1.5%;
	line-height: 5vmin;
}

.bg_main{
	background-color: #FFFCD1;
}
/*---------------------------
 * 		drag and drop 
 * -------------------------*/
.draggableblock{
	position: absolute;
	top: 15%;
	width: 100%;
	height: 35%;
	z-index: 10;
}
.draggableblock>img{
	position: absolute;
	width: 10%;
	height: 45%;
}

.position_1{
	top: 0%;
	left: 5%;
}
.position_2{
	top: 0%;
	left: 20%;
}
.position_3{
	top: 0%;
	left: 35%;
}
.position_4{
	top: 0%;
	left: 50%;
}
.position_5{
	top: 0%;
	left: 65%;
}
.position_6{
	top: 0%;
	left: 80%;
}
.position_7{
	top: 50%;
	left: 12.5%;
}
.position_8{
	top: 50%;
	left: 27.5%;
}
.position_9{
	top: 50%;
	left: 42.5%;
}
.position_10{
	top: 50%;
	left: 57.5%;
}
.position_11{
	top: 50%;
	left: 72.5%;
}



.draggable{
	cursor: pointer;
}
.droppableblock{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
}

.droppable_magnet, .droppable_nonmagnet{
	position: absolute;
	top: 57%;
	width: 30%;
	height: 35%;
}

.droppablediv>label{
	position: absolute;
	top: 80%;
	width: 100%;
	height: 20%;
	text-align: center;
	color: white;
	left: 0%;
}

.basket{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.hovered{
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 3px gray);
}
.droppable_magnet{
	left: 10%;
}
.droppable_nonmagnet{
	right: 10%;
}


/*------------- drag and drop end ------------*/


.nonmagnet_box{
	position: absolute;
	top: 25%;
	left: 40%;
	width: 30%;
	height: 40%;
}
.magnet_box{
	position: absolute;
	top: 25%;
	left: 5%;
	width: 30%;
	height: 40%;
}

.magnet{
	position: absolute;
	top: 15%;
	left: 82%;
	height: 25%;
	width: 13%;
}
.magnet_img{
	width: 100%;
	height: 100%;
}

.belt{
	position: absolute;
	bottom: 5%;
	left: 1%;
	border-radius: 3vmin;
	height: 8%;
	width: 98%;
	background-color: #808080;
}
.back_face{
	z-index: 0!important;
}


/*-------------- tables -------------*/
.tableblock{
	height: 100%;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	padding: 2%!important;
    background: #89DEFB;}
.table {
    position: absolute;
    height: 95%;
    width: 45%;
    border-radius: 10%;
    background: #fff;
}
.table>label{
	position: absolute;
	top: 5%;
	height: 20%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 4vmin;
	color: #F1347E;
	width: 100%;
}
.table>img{
	position: absolute;
	height: 20%;
	width: 28%;
}
.table_1{
	top: 2.5%;
	left: 2.5%;
}
.table_2{
	top: 2.5%;
	left: 52.5%;
}

.t_img_1{
	top: 25%;
	left: 14.5%;
}
.t_img_2{
	top: 25%;
	left: 57.5%;
}
.t_img_3{
	top: 50%;
	left: 14.5%;
}
.t_img_4{
	top: 50%;
	left: 57.5%;
}
.t_img_5{
	top: 75%;
	left: 14.5%;
}
.t_img_6{
	top: 75%;
	left: 57.5%;
}



.magnetic_objects_table{
	
}

.non_magnetic_objects_table{
	
}
/*images*/
.cover_full{
	top: 0%;
	width: 100%;
	height: 100%;
}
.squirrel {
	position: absolute;
	bottom: 20%;
	left: 50%;
	width: 35%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
}
.font_diy {
	width: 28%;
	height: 17%;
	bottom: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	font-size: 4vmin;	
}

.fade_out {
	animation: fade_out 1s forwards;
	-webkit-animation: fade_out 1s forwards;
}

@-webkit-keyframes
fade_out {
100% {opacity: 0;}
}
@keyframes
fade_out {
100% {opacity: 0;}
}
.zooming_effect {
	animation: zooming_effect infinite 1s;
	-webkit-animation: zooming_effect infinite 1s;
}
@-webkit-keyframes
zooming_effect {
50% {transform: scale(1.1);}
}
@keyframes
zooming_effect {
50% {transform: scale(1.1);}
}

/*=====  End of Custom Style  ======*/
