.blbg{
	background: #1c9cd6;
}
.topTxt{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background: #e5798f;
	font-family: AbeeZee;
	color: #fff;
	font-size: 4vh;
	padding: 1%;
	z-index: 10;
}
[class*=sp-1]{
	position: absolute;
	top: 7%;
	left: 20%;
	width: 39%;
	height: 33%;
	padding: 2% 3% 3% 3%;
}
[class*=lft5]{
	left: 1%;
	top: 4%;
	width: 30%;
	font-size: 2.5vh;
}
.box{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.speechbox > p {
  position: relative;
  width: 84%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.txt2{
	font-size: 3vh;
}
.background{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.backgroundMul{
	position: absolute;
	left: -17%;
	top: -9%;
	width: 131%;
}
.suraj{
	position: absolute;
	width: 15%;
	top: 37%;
	right: 47%;
}
.srjs7{
	right: 0%;
}

.inverted{
	transform: rotateY(180deg);
}
.show{
  opacity: 1;
}
.four_multable{
	position: absolute;
	top: 20%;
	height: 70%;
	right: 5%;
	width: 30%;
}
.four_multableSec{
	position: absolute;
	top: 0%;
	height: 100%;
	left: 95%;
	width: 70%;
	/* background: #fff; */
	z-index: 1;
}
.multplWrapper{
	position: relative;
	width: 80%;
	height: 10%;
	/* border:1px solid; */
	left: 50%;
	transform: translate(-50%);
	/* border-radius: .5em; */
}
.multiplication{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 3vh;
	width: 100%;
	font-family: pangolin;
}

.divBlkCont{
	position: absolute;
	top: 20%;
	height: 65%;
	right: 7%;
	width: 30%;
	/* background: #fff; */
}
.divBlkContSec{
	position: absolute;
	top: 32%;
	height: 65%;
	right: 23%;
	width: 30%;
	/* background: #fff; */
}
.divisionBlock{
	position: relative;
	height:45%;
	z-index: 10;
}
.divisorDiv{
	position: absolute;
	top: 9%;
	right: 100%;
	height: 35%;
	width: 35%;
	/* background: #fff; */
}
.dividendblk, .dividendblkSec{
	position: absolute;
  top: 25%;
  left: 50%;
  width: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  height: 80%;
}
.dividendblkSec{
	top: 5%;
}
.topdividend, .secdividend, .secdividendSec, .topdividendSec{
	position: relative;
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.topdividend{
	border-top: 4px solid #000;
}
.brdrBtm{
	border-bottom: 4px solid #000;
}
.dvdLetr{
	position: relative;
	height: 100%;
	width: 50%;
}
.divtxt{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 5vh;
	padding: 0%;
	width: 63%;
}
.divisorline{
	position: absolute;
	right: 0%;
	font-size: 5vh;
	top: -16%;
}
.minus{
	position: absolute;
	left: 0%;
	top: 37%;
	transform: translateY(-50%);
	font-size: 6vh;
}
.pnkTxt{
	color: #9900ff;
}



/* mcq css */
.optionsdiv {
	top: 68%;
	display: flex;
	left: 86.5%;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	text-align: left;
	position: absolute;
	height: 11%;
	width: 25%;
	flex-wrap: wrap;
	transform: translateX(-82%);
}

.optionscontainer {
  width: 50%;
}

.imagestartpos {
	position: absolute;
	width: 15%;
	margin-left: 1%;
	display: none;
	margin-top: 12%;
	left: 83%;
	bottom: 16%;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}

.optionsdiv p {
	padding: 2%;
	background: #926EED;
	border-radius: 15px;
	margin: 1%;
	font-size: 2vw;
	border: 5px solid #926EED;
	font-family: Abeezee;
	width: 90%;
	text-align: center;
	color: #fff;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
		background: #ffe599;
    border: 5px solid #ffd966;
    cursor: pointer;
		color: #000;
}

.correct{
	background: #98c02e !important;
	border: 4px solid #ff0 !important;
}
.incorrect{
	background: #ff0000 !important;
	border: 4px solid #980000 !important;
}

.encircleBlue{
	border: 1px solid #0000ff;
	border-radius: 2em;
}

.borderHighlight{
	border: 3px solid #0000ff;
	border-radius: .5em;
}
.quotient{
	position: absolute;
	bottom: 100%;
	font-size: 4vh;
	font-family: pangolin;
}
.hidn{
	display: none;
}
.ovalCrcl{
	border: 1px solid #0000ff;
	border-radius: 2em;
	position: absolute;
	top: 5%;
	left: 0%;
	width: 100%;
	height: 60%;
}
.scrcSec{
	width: 181%;
	top: -8%;
	left: -5%;
	height: 110%;
}
.remainder{
	position: absolute;
	top: 100%;
	left: 100%;
	font-size: 5vh;
}
.brdrBlue{
	width: 65%;
	border: 3px solid #0000ff;
	border-radius: .5em;
}
.genEqn{
	position: absolute;
	top: 37%;
	left: 3%;
	color: #fff;
	font-family: josefinSans;
	font-size: 4vh;
}
.scaleAnim{
	animation: scale 1s linear infinite;
	color: #0000ff;
}
@keyframes scale {
	50%{transform: scale(1.15,1.15);}
}
.frAnim{
	top: 14%;
	left: 28%;
}
@media (min-aspect-ratio: 4/3){
	.topTxt{
		font-size: 4vh;
	}
	.txt1{
		font-size: 3.5vh;
	}
	[class*=lft5]{
		font-size: 2.5vh;
	}
}
@media (max-aspect-ratio: 4/3){
	.topTxt,.txt1, [class*=lft5]{
		font-size: 2vw;
	}
}
