<!-- for this page load this at first started using velocity js here !important-->
<!-- <script src="js/velocity.js" type="text/javascript"></script> -->
<script type="text/javascript">
// css
$cssLoader("exercise/page1/page1.css");
$cssLoader("css/animate.min.css");

// javascript
$jsLoader("exercise/page1/page1.js");

</script>
<div id="ae1Ex">
    <p id="mainQn"></p><br>
	<div id="nxtBtn" class="myNextStyle"></div>	
	<div id="board"></div>

    <table id="summary">
        <tr><th>question</th><th>correct Ans</th><th>Your Ans</th><th>Solution</th></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="0solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="1solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="2solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="3solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="4solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="5solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="6solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="7solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="8solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
        <tr><td><img src=""></td><td><img src=""></td><td><img src=""></td><td><span data="9solution" class="glyphicon glyphicon-arrow-right"></span></td></tr>
    </table>
        
    <div id="solution">
        <span class="glyphicon glyphicon-remove-circle"></span><br>
        <img src="$ref/exercise/page1/image/1/s.png">
    </div>

<script type="text/x-handlebars-template" id="option-template">
    <img class="question" src="{{Q}}"><br>
    <div class="option">
       <div class="option1" data="{{op1data}}"><img src="{{op1}}"><span>{{{op1answerMark}}}</span></div>
       <div class="option2" data="{{op2data}}"><img src="{{op2}}"><span>{{{op2answerMark}}}</span></div>
       <div class="option3" data="{{op3data}}"><img src="{{op3}}"><span>{{{op3answerMark}}}</span></div>
   </div>
</script>

	<!-- int div -->		
</div>
	


