.headTitle,
#mytext1
{

	width: 100%;
	text-align: center;

	font-size: 2em;
	color:#020569;
	text-shadow:
	3px 3px 0 #fff,
	-1px -1px 0 #fff,  
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}


#figBox
{
	width: 100%;
	
	position: relative;
}



.drawme
{
	
	
	width:100%;
	margin: 10% auto;

	position: relative;
	text-align: center;
	

}

.drawme img 
{
	width: 30%;
	display: inline-block;
	margin-right: 1%;
	cursor: pointer;


}

#nextbtn
{
	bottom: 0%;
	right: 0%;
	position: absolute;
	font-size: 2.2em;
	display: none;
	cursor: pointer;
	width: 6%;
}


.textPlzz
{
		width: 100%;
	font-size: 1.4em;
	color: #000;
	text-align: center;
	color: blue;
	
	margin: 1% auto 2%;
}

.glyphicon-remove
{
	font-size: 4em;
	color: red;
}
.glyphicon-ok
{
	font-size: 4em;
	color: green;
}


#showAns .radioBx:hover {

	-moz-box-shadow:     0 0 10px #ff0000;
	-webkit-box-shadow:  0 0 10px #ff0000;
	box-shadow:          0 0 10px #ff0000;
}


#showAns .radioBx {

	-moz-box-shadow:     0 0 10px #27A17B;
	-webkit-box-shadow:  0 0 10px #27A17B;
	box-shadow:          0 0 10px #27A17B;
	width: 45%;
	font-size: 1.2em;
	padding: 1%;

	margin: 2%;
	display: inline-block;
	cursor: pointer;

	
}
.drawme2
{
	width:30%;
	margin: 1% auto;

	position: relative;
	text-align: center;
}

.drawme2 img 
{
	width: 100%;
	


}

#whatClass2
{
	display: none;
}

.colorChange
{
	background: #E88D5F; 
}

.correctColor
{
	background: green; 
}

.divCls
{
	width: 100%;
	font-size: 1.2em;
}

.imgbx
{
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
#imgbxlast,
#imgbxlast2
{
	width: 30%;
	margin-left: 10%;

}

.imgbx img 
{
	width: 90%;
}

.inbxx
{
	width: 30%;
	text-align: right;
}

.imgbx2,
.imgbx3,
#temptext2,
.divCls:last-child 
{
	display: none;
}




.imgbx2,
.imgbx3
{
	margin: 2% auto;
	text-align: center;
	background: rgba(0,0,0,0.5);
	color: #fff;
}