.textblock {
  height: 100%;
  width: 100%;
  z-index: 99;
}

.cover{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

.covertext {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 31%;
  font-family: bubblegum_sans;
  background: #F2E7D1;
  border: 0.2em solid #B87565;
  padding: 1em 4em;
  font-size: 5vmin;
  border-radius: 1em;
}

.covertext2 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-family: bubblegum_sans;
  background: rgba(255,255,255,0.9);
  padding: 1% 5%;
  font-size: 11vmin;
  border-radius: 0.5em;
  color: #545252;
}

.frogger {
    position: absolute;
    transform: translate(-50%);
    top: 35%;
    width: 20%;
    left: 50%;
}

.frogger2 {
    position: absolute;
    transform: translate(-50%);
    top: 21%;
    width: 13%;
    left: 34%;
}

.speechbox.sp-1 {
    left: 50%;
    top: 3%;
    width: 37%;
    height: 30%;
}

.speechbox.sp-2 {
    left: 38%;
    top: 1%;
    width: 44%;
    height: 22%;
}

.flexcontainerblock{
	position: absolute;
	width: 30%;
	height: 60%;
	right: 1.5%;
	top: 20%;
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid #BDBFB5;
}

.flexcontainerblock100 {
    position: absolute;
    width: 98%;
    height: 41%;
    left: 50%;
    top: 52%;
    display: flex;
    flex-flow: row wrap;
    font-size: 2.56vmin;
    transform: translate(-50%);
    border: none;
}

.upcolumn {
    flex: 3 0 100%;
    display: flex;
    justify-content: center;
}

.countdiv {
    flex: 0 0 7.7%;
}

.column{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.column1{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	background-color: #93C47D;
}

.column2{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	background-color: #C27BA0;
}

.rownormal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.55vmin;
    color: #000000;
    flex: 1;
}

[class*="box"]{
  flex: 2;
}

.flexback {
    background-size: 100%, 100% !important;
    background-repeat: no-repeat !important;
}

#frogcontainer {
    position: absolute;
    height: 33%;
    left: 10%;
    top: 8.33333333335%;
    transform: translate(-50%, -50%);
}

#gattifrog {
    height: 100%;
}

.froganim{
  animation: frogjump 1s linear;
}

@keyframes frogjump {
  50%{
    top: -30%;
  }
}

.count-visi {
    position: absolute;
    background: white;
    border: 0.15em solid grey;
    border-radius: 50%;
    font-size: 4vmin;
    font-weight: bold;
    height: 100%;
    width: 100%;
    line-height: 2.7em;
}

.questions {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 25%;
    color: #674EA7;
    font-size: 13vmin;
    font-weight: bold;
    width: 90%;
}

.uptext {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 90%;
    top: 12%;
    font-size: 5vmin;
    font-family: sniglet;
    color: #4A6505;
    background: rgba(255,255,255,0.9);
    padding: 1%;
    border-radius: 0.5em;
}

.formblock {
    position: absolute;
    top: 5%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 37%;
    width: 90%;
    color: #674EA7;
    font-size: 8vmin;
    font-weight: bold;
    z-index: 99;
}

.inbox {
    width: 11%;
    border-radius: 0.4em;
    border: 0.08em solid grey;
    text-align: center;
}

.submit_button {
    background: #FFCD53;
    font-family: sniglet;
    font-size: 6vmin;
    padding: 2%;
    border: 0.2em solid #B45F06;
    border-radius: 0.5em;
    color: #5c5c5c;
    margin-left: 7%;
}

.enabled{
  cursor: pointer;
}

.trybtn{
  background: #FFCD53;
  border: 0.2em solid #B45F06;
  cursor: pointer;
}

.disabled{
  filter: grayscale(100%);
}

.enabled:hover{
  filter: hue-rotate(15deg);
}

.wrongback {
  background: rgba(242, 106, 32, 0.9);
}

.rightback {
  background: rgba(69, 183, 70, 0.9);
}

.addarrow {
    position: absolute;
    width: 27%;
    top: 60%;
    left: 34%;
    animation: addarranim 1s linear infinite;
}

@keyframes addarranim {
  100%{
    transform: translateX(10%);
  }
}

.subarrow {
    position: absolute;
    width: 27%;
    top: 60%;
    left: 51%;
    transform: translateX(0%) scaleX(-1);
    -webkit-animation: subarranim 1s linear infinite;
}

@keyframes subarranim {
  100%{
    transform: translateX(-10%) scaleX(-1);
  }
}

@-webkit-keyframes subarranim {
  100%{
    transform: translateX(-10%) scaleX(-1);
  }
}

.frogsuccess{
  animation: frogsuc 0.8s linear alternate infinite;
  -webkit-animation: frogsuc 0.8s linear alternate infinite;
  transform-origin: 50% 100%;

}

@keyframes frogsuc {
  0%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(20deg);
  }
}

@-webkit-keyframes frogsuc {
  0%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(20deg);
  }
}
@media screen and (min-aspect-ratio: 4/3){
  .answer{
    font-size: 3.3vh;
  }
}
@media screen and (max-aspect-ratio: 4/3){
  .answer{
    font-size: 2vw;
  }
}
