<script type="text/javascript">
    $cssLoader("exercise/css/ex.css");
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("../../../../css/common-exercise/template_exercise_mcq_monkey.css");
</script>

<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				{{#each extratextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">
					{{{textdata}}}
				</p>
				{{/each}}
				<div class="exerciseblock">
					{{#each exerciseblock}}
						<p class="instruction">{{{instructiondata}}}</p>
						<p class="question {{ques_class}}"><span id="num_ques">1</span>{{{questiondata}}}</p>
						{{#each option}}
							<div class="main-container {{mc_class}}">
								<img class="correct-icon" src="images/correct.png">
								<img class="incorrect-icon" src="images/wrong.png">
								<div class="option-container {{option_class}}">
									<p class='option-label {{option_label_class}}'>{{optiondata}}</p>
								</div>
							</div>
						{{/each}}
						<img class="center-sundar" src="images/sundar/normal.png">
					{{/each}}
				</div>
			</div>
		</div>
	</script>

<script type="text/javascript">
	$jsLoader("../../../../js/common-exercise/template_exercise_mcq_monkey.js");
	$jsLoader("exercise/js/exercise.js");
</script>