.img-l-2 {
  position: absolute;
  width: 45%;
  top: 48%;
  left: 6%;
  transform: scaleX(-1);
}
.img-r {
  position: absolute;
  width: 33%;
  top: 46%;
  right: 11%;
  transform: scaleX(-1);
}
.cow_button {
  top: 36%;

  left: 21%;
}
.cow_handicon {
  top: 43%;

  left: 21%;
}
.rhino_button {
  top: 46%;

  left: 18%;
}
.rhino_handicon {
  top: 53%;

  left: 18%;
}
.deer_button {
  top: 36%;

  left: 75%;
}
.deer_handicon {
  top: 43%;

  left: 75%;
}
.goat_button {
  top: 31%;
  left: 62%;
}
.goat_handicon {
  top: 37%;
  left: 64%;
}
.buffalo_button {
  top: 27%;
  left: 60%;
  z-index: 3;
}
.buffalo_handicon {
  top: 33%;
  left: 64%;
  z-index: 3;
}
.cowarr1 {
  position: absolute;
  top: 30%;
  width: 6%;
  left: 34%;
  transform: rotate(4deg);
}
.cow_gif {
  top: 27%;
  left: 42%;
}
.cowhand {
  top: 32%;
  left: 45%;
}
.animal_image {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 70%;
  height: 47%;
}
.rhinoarr1 {
  position: absolute;
  top: 57%;
  width: 12%;
  left: 18%;
  transform: rotate(-137deg);
}
.deerarr1 {
  position: absolute;
  top: 42%;
  width: 12%;
  left: 61%;
  transform: rotate(-34deg);
}
.goatarr1 {
  position: absolute;
  top: 38%;
  width: 4%;
  left: 55%;
  transform: rotate(1deg);
}
.buffarr1 {
  position: absolute;
  top: 31%;
  width: 13%;
  left: 50%;
  transform: rotate(2deg);
  z-index: 2;
}
