.raydigram_activity {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.raydigram_activity, .raydigram_activity * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.raydigram_activity .nextBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	right     : 0%;
	width     : 7%;
	height    : 10%;
}

.raydigram_activity .prevBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	left      : 0%;
	width     : 7%;
	height    : 10%;
}

.board{
	position   : relative;
	top        : 0%;
	left       : 0%;
	width      : 100%;
	height     : 100%;
	text-align : center;
}

/*=====================================
=            common styles            =
=====================================*/

.vertical-horizontal-center{
	position          : relative;
	top               : 50%;
	left              : 50%;
	transform         : translate(-50%, -50%);
	-moz-transform    : translate(-50%, -50%);
	-webkit-transform : translate(-50%, -50%);
	text-align        : center;
}

.vertical-center{
	position          : relative;
	top               : 50%;
	transform         : translateY(-50%);
	-moz-transform    : translateY(-50%);
	-webkit-transform : translateY(-50%);
	text-align        : center;
}

/*----------  notification pulse style  ----------*/
	/**
		TODO:
		- To enable notification pulse add 'data-usernotification="notifyuser"'
		  attribute to the html element inside board div
	 */

	@keyframes pulse {
	 0% { transform   : scale(0); opacity: 0.0; }
	 25% { transform  : scale(0); opacity: 0.6; }
	 50% { transform  : scale(0.1); opacity: 0.8; }
	 75% { transform  : scale(0.5); opacity: 1; }
	 100% { transform : scale(1); opacity: 0.0; }
	}

	@-moz-keyframes pulse {
	 0% { -moz-transform   : scale(0); opacity: 0.0; }
	 25% { -moz-transform  : scale(0); opacity: 0.6; }
	 50% { -moz-transform  : scale(0.1); opacity: 0.8; }
	 75% { -moz-transform  : scale(0.5); opacity: 1; }
	 100% { -moz-transform : scale(1); opacity: 0.0; }
	}

	@-webkit-keyframes pulse {
	 0% { -webkit-transform   : scale(0); opacity: 0.0; }
	 25% { -webkit-transform  : scale(0); opacity: 0.6; }
	 50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
	 75% { -webkit-transform  : scale(0.5); opacity: 1; }
	 100% { -webkit-transform : scale(1); opacity: 0.0; }
	}

	/*for all element inside board*/
	.board *[data-usernotification*="notifyuser"]{
		cursor : pointer;
	}

	.board *[data-usernotification*="notifyuser"]::after{
		content          : "";
		position         : absolute;
		top              : 0;
		left             : 0;
		width            : 2em;
		height           : 2em;
		background-color : white;
		border           : 2px solid black;
		border-radius    : 50%;

		-webkit-animation : pulse 1.2s ease-out infinite;
		-moz-animation    : pulse 1.2s ease-out infinite;
		animation         : pulse 1.2s ease-out infinite;
	}

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

div.textblock{
	position   : relative;
	margin-top : 1%;
	/*border   : 1px solid green; */
}

p.simpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 3%;
	font-size  : 1.3em;
	text-align : left;
	/* border  : 1px solid red; */
}

p.bottomsimpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 1%;
	width      : 85%;
	font-size  : 1.2em;
	text-align : left;
	/*border     : 1px solid red;*/
}

p.bigheadingtextstyle{
	display     : table;
	margin      : 0 auto;
	position    : relative;
	padding     : 1%;
	font-size   : 1.3em;
	font-weight : bold;
	/*border   : 1px solid red;*/
}

p.mediumheadingtextstyle{
	display     : table;
	margin      : 0 auto;
	position    : relative;
	padding     : 1%;
	font-size   : 1.3em;
	font-weight : bold;
	/*border   : 1px solid red;*/
}

div.imageblock{
	position   : relative;
	margin-top : 2%;
	/* border  : 1px solid green; */
}

img.simpleimgstyle{
	display  : table;
	margin   : 0 auto;
	position : relative;
	padding  : 1%;
	width    : 40%;
}

/*=====  End of general template layout  ======*/

/*=====================================
=            svg layout            =
=====================================*/
div.svglayout{
	position : relative;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

.svgheadingstyle{
	position         : relative;
	top              : 0;
	left             : 0;
	width            : 100%;
	padding          : 1.5% 0%;
	font-size        : 1.4em;
	font-weight      : normal;
	color            : #9D55C3;
	background-color : #CEEAD1;
	border-bottom    : 0.2em solid #DDF6E0;
}

.objectlocation{
	position         : relative;
	display          : table;
	margin           : 0 auto;
	top              : 0%;
	left             : 0%;
	padding          : 0.7% 2%;
	font-size        : 1.3em;
	font-weight      : normal;
	color            : white;
	background-color : #E4638A;
	border-radius: 0 0 0.2em 0.2em;
}

div.svgwrapper{
	position : relative;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
	/*border   : 1px solid blue;*/
}

.startanimbutton{
	position  : absolute;
	top       : 30%;
	left      : 0%;
	z-index   : 10;
	font-size : 1.2em;

	cursor           : pointer;
	background-color : rgb(38, 166, 154);
	color            : rgb(255, 255, 255);
	padding          : 1% 2%;
	border-radius    : 0 0.3em 0.3em 0;

	transition         : background-color 0.4s linear;
	-moz-transition    : background-color 0.4s linear;
	-webkit-transition : background-color 0.4s linear;
}

 .startanimbutton:hover{
	cursor:pointer;
	background-color: rgb(43, 187, 173);
}

div.imagecharacteristicsbox{
	position         : relative;
	top              : 2%;
	left             : -38%;
	width            : 38%;
	height           : 65%;
	background-color : #D2F4FE;
	border-radius: 0 0.3em 0.3em 0;

	transition         : left 0.7s 2s linear;
	-moz-transition    : left 0.7s 2s linear;
	-webkit-transition : left 0.7s 2s linear;
}

div.imagecharacteristicsbox .imagecharacteristicheading{
	position         : absolute;
	top              : 10%;
	left             : 6%;
	/*width            : 100%;*/
	padding          : 2% 3%;
	font-size        : 1.3em;
	font-weight      : normal;
	text-align       : left;
	background-color : #B2E5F6;
	color            : black;
	border-radius: 0.3em;
}

div.imagecharacteristicsbox > div{
	top:25%;
}

div.imagecharacteristicsbox p{
	margin-bottom : 5%;
	color         : #595A5A;
	font-size     : 1.05em;
}

div.imagecharacteristicsbox b{
	color : #AC3BE6;
}

div.imagecharacteristicsbox > div{
	padding    : 6%;
	text-align : left;
}

div.svgcontainer{
	position : absolute;
	top      : 25%;
	left     : 20%;
	width    : 60%;
	height   : 70%;
	/*border   : 1px solid blue;*/

	transition         : left 0.5s 2s linear;
	-moz-transition    : left 0.5s 2s linear;
	-webkit-transition : left 0.5s 2s linear;
}

[id$='ray']{
 	stroke-dasharray  : 370;
 	stroke-dashoffset : 370;
 	stroke-width      : 2;
 }

 #arrowgroup{
 	stroke-dasharray  : 25;
 	stroke-dashoffset : 25;
 }


@keyframes lineanimationkeyframe {
  to {
    stroke-dashoffset : 0;
  }
}

@-moz-keyframes lineanimationkeyframe {
  to {
    stroke-dashoffset : 0;
  }
}

@-webkit-keyframes lineanimationkeyframe {
  to {
    stroke-dashoffset : 0;
  }
}

 .lineanimation{
 	animation         : lineanimationkeyframe 2s 1 linear forwards;
 	-moz-animation    : lineanimationkeyframe 2s 1 linear forwards;
 	-webkit-animation : lineanimationkeyframe 2s 1 linear forwards;
 }

 .arrowanimation{
 	animation         : lineanimationkeyframe 0.5s 1 linear forwards;
 	-moz-animation    : lineanimationkeyframe 0.5s 1 linear forwards;
 	-webkit-animation : lineanimationkeyframe 0.5s 1 linear forwards;
 }

#raydiagramimage{
	opacity: 0;
}

@keyframes raydigramimageanimationkeyframe {
  to {
    opacity : 1;
  }
}

@-moz-keyframes raydigramimageanimationkeyframe {
  to {
    opacity : 1;
  }
}

@-webkit-keyframes raydigramimageanimationkeyframe {
  to {
    opacity : 1;
  }
}

.raydigramimageanimation{
 	animation         : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
 	-moz-animation    : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
 	-webkit-animation : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
}

[id^='dotted']{
    stroke-dasharray  : 145;
    stroke-dashoffset : 145;
    stroke-width      : 2;
    opacity           : 0;
}

@keyframes dottedlineanimationkeyframe {
  10% {
     stroke-dasharray : 3;
  }

  100% {
     stroke-dasharray : 3;
     opacity : 1;
  }
}

@-moz-keyframes dottedlineanimationkeyframe {
  10% {
     stroke-dasharray : 3;
  }

  100% {
     stroke-dasharray : 3;
     opacity : 1;
  }
}

@-webkit-keyframes dottedlineanimationkeyframe {
  10% {
     stroke-dasharray : 3;
  }

  100% {
     stroke-dasharray : 3;
     opacity : 1;
  }
}

.dottedlineanimation{
    animation         : dottedlineanimationkeyframe 1s 1 linear forwards;
    -moz-animation    : dottedlineanimationkeyframe 1s 1 linear forwards;
    -webkit-animation : dottedlineanimationkeyframe 1s 1 linear forwards;
 }

/*=====  End of svg layout  ======*/

/*=======================================================
=            raydiagramtestyourself template            =
=======================================================*/
div.testyourself{
	position : relative;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

div.testyourselfheadingcontainer{
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 10%;
	/* border   : 1px solid red; */
}

div.testyourselfheadingcontainer img{
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 15%;
	height   : 200%;
}

div.testyourselfheadingcontainer > p{
	position   : relative;
	top        : 0;
	left       : 13%;
	text-align : left;

	padding          : 1% 2%;
	font-size        : 1.3em;
	font-weight      : bold;
	color            : rgb(238, 110, 115);
}

div.testyourselfquerycontainer{
	position : absolute;
	top      : 10%;
	left     : 0;
	width    : 100%;
	height   : 90%;
	/* border   : 1px solid red; */
}

div.testyourselfquerycontainer .testyourselfquery{
	position   : absolute;
	top        : 0%;
	left       : 13%;
	width      : 85%;
	padding    : 1% 2%;
	text-align : left;
	font-size  : 1.1em;
	background-color : rgb(252, 252, 252);
}

div[class^='testyourselfquestion']{
	position         : absolute;
	top              : 23%;
	left             : 0%;
	min-width        : 90%;
	padding          : 2% 2%;
	text-align       : left;
	background-color : rgb(38, 166, 154);

	transition         : top 0.4s ease-out, border-right 0.5s ease-out;
	-moz-transition    : top 0.4s ease-out, border-right 0.5s ease-out;
	-webkit-transition : top 0.4s ease-out, border-right 0.5s ease-out;
}

div[class^='testyourselfquestion'][data-iscorrect='correct']{
	border-right : 1.2em solid rgb(45, 205, 95);
}

div[class^='testyourselfquestion'][data-iscorrect='incorrect']{
	border-right : 1.2em solid rgb(251, 87, 78);
}

div.testyourselfquestionlocation.afterclick{
	top : 40%;
}

div.testyourselfquestionsize.afterclick{
	top : 57%;
}

div.testyourselfquestionorientation.afterclick{
	top : 74%;
}

div[class^='testyourselfquestion'] > *{
	display : inline;
}

div[class^='testyourselfquestion'] > div{
	margin-left: 3%;
}

div[class^='testyourselfquestion'] > p{
	display          : inline-block;
	position         : relative;
	padding          : 0.3% 3%;
	font-size        : 1.2em;
	font-weight      : bold;
	text-align       : left;
	border-radius    : 5px;
	background-color : rgb(84, 110, 122);
	color            : rgb(254, 155, 104);
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer{
	margin-top: 2%;
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer p{
	display      : inline;
	position     : relative;
	padding      : 2%;
	margin-right : 3%;
	cursor       : pointer;

	padding          : 1% 2%;
	font-size        : 1em;
	font-weight      : bold;
	color            : white;
	background-color : rgb(238, 110, 115);

	transition         : background-color 0.2s linear;
	-moz-transition    : background-color 0.2s linear;
	-webkit-transition : background-color 0.2s linear;
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer p:hover{
	background-color : rgba(238, 110, 115,0.9);
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer[data-isclicked='clicked'] > p{
	pointer-events : none;
}

div.testyourselfquerycontainer .testyourselfresult{
	display       : block;
	position      : absolute;
	bottom        : 0%;
	left          : 8%;
	padding       : 1% 2%;
	border-radius : 0 5px;
	text-align    : left;
	font-size     : 1.1em;
	opacity       : 0;

	transition         : opacity 0.2s linear;
	-moz-transition    : opacity 0.2s linear;
	-webkit-transition : opacity 0.2s linear;
}

div.testyourselfquerycontainer .testyourselfresult[data-review^='pleasereview']{
	opacity          : 1;
	color            : white;
	background-color : rgb(251, 87, 78);
}

div.testyourselfquerycontainer .testyourselfresult[data-review^='proceed']{
	opacity          : 1;
	color            : white;
	background-color : rgb(45, 205, 95);
}


@media (min-aspect-ratio: 4/3){
	div[class^="testyourselfquestion"] div.testyourselfoptionscontainer p,
	div.testyourselfquerycontainer .testyourselfquery,
  div[class^="testyourselfquestion"] > p{
		font-size: 3vh;
	}
}
@media (max-aspect-ratio: 4/3){
	div[class^="testyourselfquestion"] div.testyourselfoptionscontainer p,
	div.testyourselfquerycontainer .testyourselfquery,
  div[class^="testyourselfquestion"] > p{
		font-size: 2vw;
	}
}
/*=====  End of raydiagramtestyourself template  ======*/


/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/
