.raydigram_activity {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.raydigram_activity, .raydigram_activity * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.raydigram_activity .nextBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	right     : 0%;
	width     : 7%;
	height    : 10%;	
}

.raydigram_activity .prevBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	left      : 0%;
	width     : 7%;
	height    : 10%;	
}

.board{
	position   : absolute;
	top        : 0%;
	left       : 0%;
	width      : 100%;
	height     : 100%;
	text-align : center;
}

/*=====================================
=            common styles            =
=====================================*/

.vertical-horizontal-center{
	position          : relative;	
	top               : 50%;
	left              : 50%;
	transform         : translate(-50%, -50%);
	-moz-transform    : translate(-50%, -50%);
	-webkit-transform : translate(-50%, -50%);
	text-align        : center;
}

.coverboardfull{
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

.coverboardfullwithbg{
	background-image: url("../images/page1/bg1.jpg");
	background-size: 100% 100%;
}

.coverboardfullwithbg2{
	background-image: url("../images/page1/bg2.jpg");
	background-size: 100% 100%;
}

.coverboardfullwithbg3{
	background-image: url("../images/page1/bg3.jpg");
	background-size: 100% 100%;
}

.coverboardfullwithbg4{
	background-image: url("../images/page1/bg4.jpg");
	background-size: 100% 100%;
}

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

div.textblock{
	position   : relative;
	margin-top : 1%;
	/*border   : 1px solid green; */
}

p.introstylishtext{
	font-size  : 2.5em;
	margin-top : -9%;
	color      : #FFFA83;
}

p.introstylishtext2{
	font-size  : 1.7em;
	margin-top : 10%;
	color      : #FFFA83;
}

p.stylishtextsmall{
	font-size  : 1.7em;
	margin-top : -9%;
	color      : #FFFA83;
}

p.introstylishtext4{
	margin-top: 5%;
	font-size  : 1.7em;
	color      : #FFFA83;
}

p.simpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 3%;
	font-size  : 1.3em;
	text-align : left;
	/* border  : 1px solid red; */
}

p.simpletextstyle span{
	color : #E9107B;
}

p.simpletextstyle.smallmargintop{
	margin-top: 7%;
}

p.bottomsimpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 1%;
	width      : 85%;
	font-size  : 1.2em;
	text-align : left;
	/*border     : 1px solid red;*/
}

p.bigheadingtextstyle{
	display     : table;
    margin      : 0 auto;
    position    : relative;
    padding     : 1%;
    font-size   : 1.6em;
    font-weight : bold;
    /* border   : 1px solid red; */

    color : #E9107E;
}

p.bigheadingtextstyle.somemargintopheading{
	margin-top: 3%;
}

p.mediumheadingtextstyle{
	display     : table;
	margin      : 0 auto;
	position    : relative;
	padding     : 1%;
	font-size   : 1.3em;
	font-weight : bold;
	/* border   : 1px solid red; */
}

div.imageblock{
	position   : relative;
	margin-top : 2%;
	/* border  : 1px solid green; */
}

img.simpleimgstyle{
	display  : table;
	margin   : 3% auto;
	position : relative;
	padding  : 1%;
	width    : 40%;
}

p.singleparawithimagetextstyle{
    display          : table;
    margin           : 0 auto;
    position         : relative;
    padding          : 3%;
    width            : 100%;
    font-size        : 1.2em;
    text-align       : center;
    color            : black;
    background-color : rgb(198, 234, 248);
}

p.onlyparatextstyle,
p.paratextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 3%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    background-color : rgb(245, 242, 199);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.onlyparatextstyle{
	text-align: center;
}

p.bottomparatextstyle{
    display          : table;
    margin           : 0 auto;
    position         : relative;
    padding          : 2% 3%;
    width            : 80%;
    font-size        : 1.2em;
    text-align       : left;
    color            : black;
    background-color : rgba(198, 234, 248,0.4);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle{
    display    : table;
    margin     : 0 auto;
    position   : relative;
    margin-top : 1%;
    padding    : 4%;
    font-size  : 1.4em;
    text-align : left;
    
    /* svg image bg pulled from common images folder */
    background:url(../../../../../images/backgrounds/polygonbackground.svg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

p.paratextstyle.textmargintop{
	margin-top: 4%;
}

img.imagemargintop{
	margin-top: 10%;
}


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

div.textblock.droptextblockdown{
	position : absolute;
	top      : 75%;
	left     : 0%;
	width    : 100%;
}

div.textblock .roundtextstyle{
	display    : inline-table; /* keeps the two text inline */
	font-size  : 1.7em;
}

div.textblock .roundtextstyle:nth-of-type(1){
	margin-right : 32%;
}

div.textblock .roundtextstyle:nth-of-type(2){
	margin-top : -15%;
}

img.squeezeconcave{
	width : 12%;
}

img.twoimagetogether{
	width : 10%;
}

img.twoimagetogether.twoimagemargintop{
	margin-top: 10%;
}

img.twoimagetogether.threeimagemargintop{
	margin-top: 4%;
}

img.twoimagetogether:nth-of-type(n+2){
	margin-left:15%;
}

img.twoimagetogether:nth-of-type(3){
	width:6%;
}

img.arrowheadimagestyle{
	width:26%;
}

img.squeezeconcavesketch{
	width : 8%;
}

div.linehorizontal{
	position : absolute;
	top      : 45%;
	right    : 48%;
	border   : 0.13em solid rgb(133, 133, 133);
	
	-moz-transition    : width 1s linear;
	-webkit-transition : width 1s linear;
	transition         : width 1s linear;
}

div.linehorizontal[data-isdrawn^="nodraw"]{
	border : 0.13em solid transparent;
	width  : 0%;
}

div.linehorizontal[data-isdrawn^="draw"]{
	border : 0.13em solid rgb(133, 133, 133);
	width  : 25%;
}

label.principalaxistext{
	position         : absolute;
	top              : 44%;
	right            : 69%;
	font-weight      : normal;
	background-color : rgb(204, 204, 204);
	border           : 2px solid rgb(102, 102, 102);
	border-radius    : 4px;
	padding          : 0.5% 2%;
	color            : black;
}

label.symbolprincipalaxis{
	position : absolute;
	top      : 42%;
	right    : 67%;
}

label.symbolprincipalaxis2{
	position : absolute;
	top      : 46%;
	right    : 69%;
}

label.centreofcurvetext{
	position         : absolute;
	top              : 55%;
	right            : 38%;
	font-weight      : normal;
	background-color : rgb(204, 204, 204);
	border           : 2px solid rgb(102, 102, 102);
	border-radius    : 4px;
	padding          : 0.5% 2%;
	color            : black;
}

label.symbolcentreofcurve{
	position : absolute;
	top      : 40%;
	right    : 48%;
}

label.symbolvertex{
	position : absolute;
	top      : 46%;
	left     : 68.5%;
}

label.focustext{
	position         : absolute;
	top              : 54%;
	right            : 35%;
	font-weight      : normal;
	background-color : rgb(204, 204, 204);
	border           : 2px solid rgb(102, 102, 102);
	border-radius    : 4px;
	padding          : 0.5% 1%;
	color            : black;
}

label.symbolfocalpoint{
	position : absolute;
	top      : 40%;
	right    : 40%;
}

img.allpositionsimgstyle{
	width: 60%;
}

p.allpositionstext{
	font-size  : 1.2em;
	text-align : left;
	padding    : 0% 7%;
}

p.removebold{
	font-weight: normal;
}

/*=====  End of general templated specific styles  ======*/
