.raydigram_activity {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.raydigram_activity, .raydigram_activity * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.raydigram_activity .nextBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	right     : 0%;
	width     : 7%;
	height    : 10%;	
}

.raydigram_activity .prevBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	left      : 0%;
	width     : 7%;
	height    : 10%;	
}

.board{
	position   : relative;
	top        : 0%;
	left       : 0%;
	width      : 100%;
	height     : 100%;
	text-align : center;
}

/*=====================================
=            common styles            =
=====================================*/

.vertical-horizontal-center{
	position          : relative;	
	top               : 50%;
	left              : 50%;
	transform         : translate(-50%, -50%);
	-moz-transform    : translate(-50%, -50%);
	-webkit-transform : translate(-50%, -50%);
	text-align        : center;
}

.vertical-center{
	position          : relative;	
	top               : 50%;
	transform         : translateY(-50%);
	-moz-transform    : translateY(-50%);
	-webkit-transform : translateY(-50%);
	text-align        : center;
}

/*----------  notification pulse style  ----------*/
	/**
		TODO:
		- To enable notification pulse add 'data-usernotification="notifyuser"'
		  attribute to the html element inside board div
	 */

	@keyframes pulse {
	 0% { transform   : scale(0); opacity: 0.0; }
	 25% { transform  : scale(0); opacity: 0.6; }
	 50% { transform  : scale(0.1); opacity: 0.8; }
	 75% { transform  : scale(0.5); opacity: 1; }
	 100% { transform : scale(1); opacity: 0.0; }
	}

	@-moz-keyframes pulse {
	 0% { -moz-transform   : scale(0); opacity: 0.0; }
	 25% { -moz-transform  : scale(0); opacity: 0.6; }
	 50% { -moz-transform  : scale(0.1); opacity: 0.8; }
	 75% { -moz-transform  : scale(0.5); opacity: 1; }
	 100% { -moz-transform : scale(1); opacity: 0.0; }
	}

	@-webkit-keyframes pulse {
	 0% { -webkit-transform   : scale(0); opacity: 0.0; }
	 25% { -webkit-transform  : scale(0); opacity: 0.6; }
	 50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
	 75% { -webkit-transform  : scale(0.5); opacity: 1; }
	 100% { -webkit-transform : scale(1); opacity: 0.0; }
	}

	/*for all element inside board*/
	.board *[data-usernotification*="notifyuser"]{
		cursor : pointer;
	}

	.board *[data-usernotification*="notifyuser"]::after{
		content          : "";
		position         : absolute;
		top              : 0;
		left             : 0;
		width            : 2em;
		height           : 2em;
		background-color : white;
		border           : 2px solid black;
		border-radius    : 50%;

		-webkit-animation : pulse 1.2s ease-out infinite;
		-moz-animation    : pulse 1.2s ease-out infinite;
		animation         : pulse 1.2s ease-out infinite;
	}

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

div.textblock{
	position   : relative;
	margin-top : 1%;
	/*border   : 1px solid green; */
}

p.simpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 3%;
	font-size  : 1.3em;
	text-align : left;
	/* border  : 1px solid red; */
}

p.bottomsimpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 1%;
	width      : 85%;
	font-size  : 1.2em;
	text-align : left;
	/*border     : 1px solid red;*/
}

p.bigheadingtextstyle{
	display     : table;
	margin      : 0 auto;
	position    : relative;
	padding     : 1%;
	font-size   : 1.3em;
	font-weight : bold;
	/*border   : 1px solid red;*/
}

p.mediumheadingtextstyle{
	display     : table;
	margin      : 0 auto;
	position    : relative;
	padding     : 1%;
	font-size   : 1.3em;
	font-weight : bold;
	/*border   : 1px solid red;*/
}

div.imageblock{
	position   : relative;
	margin-top : 2%;
	/* border  : 1px solid green; */
}

img.simpleimgstyle{
	display  : table;
	margin   : 0 auto;
	position : relative;
	padding  : 1%;
	width    : 40%;
}

/*=====  End of general template layout  ======*/

/*=====================================
=            svg layout            =
=====================================*/
div.generaltemplate,
div.svgwrapper{
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
	/*border   : 1px solid blue;*/
}

.svgheadingstyle{
	position         : absolute;
	top              : 0;
	left             : 0;
	width            : 100%;
	padding          : 2% 0% 1% 0%;
	font-size        : 1.4em;
	font-weight      : normal;
	color            : #D8517E;
	background-color : #CEEAD1;
	border-bottom    : 0.2em solid #DDF6E0;
}

div.svgcontainer{
	position : absolute;
	top      : 15%;
	left     : 0%;
	width    : 100%;
	height   : 60%;
	/*border   : 1px solid blue;*/
}

[id$='ray']{
 	stroke-dasharray  : 1100;
 	stroke-dashoffset : 1100;
 	stroke-width      : 2;
 }

 [id$='arrowgroup']{
 	stroke-dasharray  : 18;
 	stroke-dashoffset : 18;
 } 


@keyframes lineanimationkeyframe {  
  to {
    stroke-dashoffset : 0;
  }
}

@-moz-keyframes lineanimationkeyframe {  
  to {
    stroke-dashoffset : 0;
  }
}

@-webkit-keyframes lineanimationkeyframe {  
  to {
    stroke-dashoffset : 0;
  }
}

 .lineanimation{
 	animation         : lineanimationkeyframe 2s 1 linear forwards;
 	-moz-animation    : lineanimationkeyframe 2s 1 linear forwards;
 	-webkit-animation : lineanimationkeyframe 2s 1 linear forwards;
 }

 .arrowanimation{
 	animation         : lineanimationkeyframe 0.5s linear forwards;
 	-moz-animation    : lineanimationkeyframe 0.5s linear forwards;
 	-webkit-animation : lineanimationkeyframe 0.5s linear forwards;
 }

[id$=raydiagram]{
	opacity: 0;
}

@keyframes raydigramimageanimationkeyframe {  
  to {
    opacity : 1;
  }
}

@-moz-keyframes raydigramimageanimationkeyframe {  
  to {
    opacity : 1;
  }
}

@-webkit-keyframes raydigramimageanimationkeyframe {  
  to {
    opacity : 1;
  }
}

.raydigramimageanimation{
 	animation         : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
 	-moz-animation    : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
 	-webkit-animation : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
}
.raydigramobjectanimation{
 	animation         : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
 	-moz-animation    : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
 	-webkit-animation : raydigramimageanimationkeyframe 0.2s 1 linear forwards;
}

/*svg footer style*/
div.svgfootercontainer{
	position         : absolute;
	bottom           : 0%;
	left             : 0%;
	width            : 100%;
	min-height       : 18%;
	color            : #333333;
	background-color : #F5F2C7;

	box-shadow: 0 0 0 0.2em #69CCFE, 0 0 0 0.4em #A1E5FC;
}

.svgfooterstyle{
	position   : relative;
	top        : 0%;
	left       : 8%;
	width      : 84%;
	padding    : 1% 0%;
	font-size  : 1.3em;
	text-align : left;
}


/*=====  End of svg layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/
