.dark{
	background: url("../images/bg_black.png");
	background-size: 100% 100%;
}

.mount{
	background: url("../images/bg_hill-and-mountain.png");
	background-size: 100% 100%;
}

.sea{
	background: #15CBFF;
	background-size: 100% 100%;
}

.btext{
	color: black;
}

.earth-still{
	position: absolute;
	transform: translate(-50%, -50%);
	width: 34%;
	top: 50%;
	left: 50%;
}

.secondp{
	position: absolute;
	transform: translateX(-174%);
	left: 50%;
	width: 70%;
	top: 11%;
	font-size: 4.5vmin;
	z-index: 9;
}

.blowout{
	animation: letsbout 4s linear forwards;
}

@keyframes letsbout {
	100%{
		transform: translateX(100%);
	}
}

.blowin{
	animation: letsbin 4s linear forwards;
}

@keyframes letsbin {
	100%{
		transform: translateX(-50%);
	}
}

div.svgwrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

div.svgcontainer {
    height: 100%;
    position: absolute;
    width: 100%;
}

div.svgcontainer > svg{
	position: absolute;
	transform: translate(-50%, -50%);
	width: 40%;
	top: 50%;
	left: 50%;
}

.highlight2{
	cursor: pointer;
	animation: waterhi 0.5s alternate infinite;
}

@keyframes waterhi {
	100%{fill: #9fd66b;}
}

.zoomwater {
    transition-duration: 5s;
    transition-timing-function: linear;
    transform: translate(-413%, -50%) scale(26) !important;
}

.mountains {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 15%;
    width: 100%;
}

.livinnonlivinbox {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 4vmin;
    width: 85%;
    font-family: happymonkey;
    background: #1F5876;
    height: 78%;
    opacity: 0;
    border-radius: 1em;
    border: 0.3em solid white;
}

.theliving {
    left: 50%;
    top: 55%;
    animation: cssfadein 1s linear forwards;
}

.highmount{
	cursor: pointer;
	animation: mountanim 1s alternate infinite;
}

@keyframes mountanim {
	100%{filter: grayscale(70%);}
}

.midimg{
	position: absolute;
	transform: translate(-50%);
	height: 30%;
	top: 50%;
	left: 50%;
}

.midtext {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    color: white;
    width: 90%;
    top: 50%;
    font-size: 6vmin;
}

.hills{
	position: absolute;
	height: 30%;
	top: 50%;
	left: 15%;
}

.mounts{
	position: absolute;
	height: 30%;
	top: 50%;
	right: 15%;
}

.livtext {
  position: absolute;
  transform: translate(-50%);
  top: 82%;
  left: 50%;
}

.hiltext {
  position: absolute;
  transform: translate(-50%);
  top: 83%;
  left: 23%;
  background: #2080AC;
  padding: 1%;
  color: white;
  border-radius: 0.5em;
}
.mountext {
    position: absolute;
    top: 83%;
    transform: translate(-50%);
    right: 13%;
    background: #2080AC;
    padding: 1%;
    color: white;
    border-radius: 0.5em;
}

.redt{
	color: #C63333;
}
