.dark{
	background: url("../images/bg_black.png");
	background-size: 100% 100%;
}

.mount{
	background: url("../images/bg_mount_everest.jpg");
	background-size: 100% 100%;
}

.boywater{
	background: url("../images/waterboat.png");
	background-size: 100% 100%;
}

.sea{
	background: #15CBFF;
	background-size: 100% 100%;
}


.sky{
	background: #1FC2CF;
	background-size: 100% 100%;
}

.earth-still{
	position: absolute;
	transform: translate(-50%, -50%);
	width: 34%;
	top: 50%;
	left: 50%;
}

.secondp{
	position: absolute;
	transform: translateX(-174%);
	left: 50%;
	width: 70%;
	top: 11%;
	font-size: 4.5vmin;
	z-index: 9;
}

.blowout{
	animation: letsbout 4s linear forwards;
}

@keyframes letsbout {
	100%{
		transform: translateX(100%);
	}
}

.blowin{
	animation: letsbin 4s linear forwards;
}

@keyframes letsbin {
	100%{
		transform: translateX(-50%);
	}
}

div.svgwrapper {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

div.svgcontainer {
    height: 100%;
    position: absolute;
    width: 100%;
}

div.svgcontainer > svg{
	position: absolute;
	transform: translate(-50%, -50%);
	width: 34%;
	top: 50%;
	left: 50%;
}

.highlight{
	cursor: pointer;
	animation: waterhi 0.5s alternate infinite;
}

@keyframes waterhi {
	100%{fill: #3ca8d8;}
}

.zoomwater{
	transition-duration: 5s;
	transition-timing-function: linear;
	transform: translate(-50%, -50%) scale(91) !important;
	/*animation: zoomwa 3s linear forwards;*/
}

.wave-1, .wave-2, .wave-3{
	position: absolute;
	width: 400%;
	bottom: 0%;
	left: 0%;
}
.wave-2{
	z-index: 10;
}
.wave-1{
	z-index: 20;
}

.wave-1-anim{
	-webkit-animation: wave-animation 7s linear infinite;
	animation: wave-animation 7s linear infinite;
}
.wave-2-anim{
	-webkit-animation: wave-animation 10s linear infinite;
	animation: wave-animation 10s linear infinite;
}
.wave-3-anim{
	-webkit-animation: wave-animation 15s linear infinite;
	animation: wave-animation 15s linear infinite;
}
@-webkit-keyframes
wave-animation {
	100% {left: -300%;}
}
@keyframes
wave-animation {
	100% {left: -300%;}
}

.cloud-1{
	position: absolute;
	top: 0%;
	left: 65%;
	width: 20%;
}
.cloud-anim-1{
	-webkit-animation: cloud-animation1 25s linear infinite;
	animation: cloud-animation1 25s linear infinite;
}
@-webkit-keyframes
cloud-animation1 {
	70% {left: -50%; opacity: 1;}
	70.1% {left: -50%; opacity: 0;}
	70.2% {left: 110%; opacity: 0;}
	70.3% {left: 110%; opacity: 1;}
	100% {left:  65%;}
}
@keyframes
cloud-animation1 {
	70% {left: -50%; opacity: 1;}
	70.1% {left: -50%; opacity: 0;}
	70.2% {left: 110%; opacity: 0;}
	70.3% {left: 110%; opacity: 1;}
	100% {left:  65%;}
}
.cloud-2{
	position: absolute;
	top: 10%;
	left: 45%;
	width: 15%;
}
.cloud-anim-2{
	-webkit-animation: cloud-animation2 20s linear infinite;
	animation: cloud-animation2 20s linear infinite;
}
@-webkit-keyframes
cloud-animation2 {
	50% {left: -50%; opacity: 1;}
	50.1% {left: -50%; opacity: 0;}
	50.2% {left: 110%; opacity: 0;}
	50.3% {left: 110%; opacity: 1;}
	100% {left:  45%;}
}
@keyframes
cloud-animation2 {
	50% {left: -50%; opacity: 1;}
	50.1% {left: -50%; opacity: 0;}
	50.2% {left: 110%; opacity: 0;}
	50.3% {left: 110%; opacity: 1;}
	100% {left:  45%;}
}

.redt{
	color: #C63333;
}

.wind {
    position: absolute;
    width: 39%;
    top: 65%;
    left: -30%;
    z-index: 77;
    transform: translate(-50%,-50%);
}

.windanim{
	animation: letswind 6s linear forwards, windmove 0.5s alternate infinite;
}

@keyframes letswind {
	100%{
		left: 120%;
	}
}

@keyframes windmove {
	100% {
    opacity: 0.6;
    transform: translate(-50%,-50%) skew(6deg,6deg);
	}
}

.cloudleft {
    position: absolute;
    top: 4%;
    left: -6%;
    width: 29%;
}

.cloudright {
    position: absolute;
    top: 4%;
    right: -6%;
    width: 29%;
}

.thunderleft {
    position: absolute;
    top: 24%;
    left: 5%;
    width: 13%;
		animation: thunderanim 3s ease-in-out infinite;
}
.thunderright{
	position: absolute;
	top: 24%;
	right: 5%;
	width: 13%;
	transform: scaleX(-1);
	animation: thunderanim 3s ease-in-out infinite 2s;
}

@keyframes thunderanim {
	09% {
		filter: brightness(238%);
	}
	95% {
		filter: brightness(100%);
	}
	100% {
		filter: brightness(238%);
	}
}


.vapour1 {
    width: 18%;
    left: 2%;
    position: absolute;
    top: 22%;
    height: auto;
    opacity: 0;
    animation: movecloud 3s ease-in-out infinite 2s;
}

.vapour2 {
    width: 18%;
    right: 2%;
    position: absolute;
    top: 22%;
    height: auto;
    opacity: 0;
    animation: movecloud 3s ease-in-out infinite;
}

@keyframes movecloud {
	0% {
    top: 42%;
    opacity: 0;
}
20% {
    opacity: 1;
}
100% {
    top: -14%;
}
}

.grays{
	animation: grayback 3s linear forwards;
}
@keyframes grayback {
	100% {
		background: #353739;
	}
}

.textw{
	animation: whitet 3s linear forwards, cssfadein 1s linear forwards;
}
@keyframes whitet {
	100% {
		color: white;
	}
}
.wave-1-anim-gray{
	-webkit-animation: wave-animation 7s linear infinite, grayit 3s linear forwards;
	animation: wave-animation 7s linear infinite, grayit 3s linear forwards;
}
.wave-2-anim-gray{
	-webkit-animation: wave-animation 10s linear infinite, grayit 3s linear forwards;
	animation: wave-animation 10s linear infinite, grayit 3s linear forwards;
}
.wave-3-anim-gray{
	-webkit-animation: wave-animation 15s linear infinite, grayit 3s linear forwards;
	animation: wave-animation 15s linear infinite, grayit 3s linear forwards;
}

@keyframes grayit {
	100% {
		filter: grayscale(100%);
	}
}

[class*="rain"] {
		width: 3%;
		position: absolute;
		top: 22%;
		height: auto;
		opacity: 0;
}

.rain-1 {
    left: 2%;
    animation: makeitrain 3s ease-in-out infinite;
}

.rain-2 {
    left: 5%;
    animation: makeitrain 3s ease-in-out infinite 2s;
}

.rain-3 {
    left: 13%;
    animation: makeitrain 3s ease-in-out infinite 1s;
}

.rain-4 {
    left: 17%;
    animation: makeitrain 3s ease-in-out infinite 3s;
}

.rain-5 {
    left: 80%;
    animation: makeitrain 3s ease-in-out infinite 1s;
}

.rain-6 {
    left: 82%;
    animation: makeitrain 3s ease-in-out infinite;
}

.rain-7 {
    left: 92%;
    animation: makeitrain 3s ease-in-out infinite 3s;
}

.rain-8 {
    left: 94%;
    animation: makeitrain 3s ease-in-out infinite 2s;
}

@keyframes makeitrain {
	0% {
    top: 15%;
    opacity: 0;
}
20% {
    opacity: 1;
}
100% {
    top: 50%;
}
}

.ground {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 240%;
    transform: translate(-50%);
}

.kuwa {
    position: absolute;
    top: 31%;
    left: 50%;
    width: 24%;
    transform: translate(-50%);
    opacity: 0;
    animation: cssfadein 1s linear forwards 2s;
}

.groundfit{
	animation: groanim 2s linear forwards;
}

@keyframes groanim {
	100%{
		width: 100%;
	}
}
.dotext {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    color: white;
    width: 90%;
    top: 88%;
    font-size: 4.5vmin;
    display: none;
    opacity: 0;
    animation: cssfadein 1s linear forwards;
}
