<!--
Title : General Template
-->
<script type="text/javascript">
	$cssLoader("css/common.css");
	 
	$cssLoader("../../../../css/commonpage/dialougebox.css");
	$cssLoader("css/page7.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageandlabelblock}}
						<div class="{{blockclass}}">
							<img class="{{imgclass}}" src="{{imgsrc}}">
							<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						</div>
				{{/each}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}

				{{#each speechbox}}
					<div class="{{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"
				data-highlightcustomclass2="{{datahighlightcustomclass2}}"
				data-highlightcustomclass3="{{datahighlightcustomclass3}}">{{{textdata}}}</p>
					</div>
				{{/each}}

				{{#if data_table}}
					<table class="table">
							 <tr>
								 <td class="top1">{{th1}}</th>
								 <td class="bet">{{th2}}</th>
								 <td class="bot1">{{th3}}</th>
							 </tr>
							 <tr>
								 <td class="bot1"><span class="bg">{{t1d1}}</span></td>
								 <td class="bet"><span class="bg">{{t1d2}}</span></td>
								 <td class="bot1"><span class="bg">{{t1d3}}</span></td>
							 </tr>
							 <tr>
								 <td class="bot1"><span class="bg">{{t2d1}}</span></td>
								 <td class="bet"><span class="bg">{{t2d2}}</span></td>
								 <td class="bot1"><span class="bg">{{t2d3}}</span></td>
							 </tr>
					</table>
					{{/if}}

					{{#each inputform}}
							<input class="{{inputclass}}" maxlength="2" type="text" name="fname">
					{{/each}}

				{{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}}
							{{> definitioncontent}}
						{{/each}}
					</div>
				{{/if}}

				{{#each popup}}
				<div class="{{popupdiv_class}}">
					<img class="{{imgclass}}" src="{{imgsrc1}}">
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				</div>
				{{/each}}

			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"
data-highlightcustomclass2="{{datahighlightcustomclass2}}"
data-highlightcustomclass3="{{datahighlightcustomclass3}}"
data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/page7.js");
</script>
