<body>
<script type="text/javascript">
$cssLoader("css/exercise2.sqrt.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="sqrt">

    <div class="title">
        <span>square root</span>
    </div>
    <div class="nextBtn">    </div>

    <div class="board"></div>
</div>

<script type="text/x-handlebars-template" id="first-template">

<div class="questions">
	{{#if multiply}}

		<div class="multiply">
					{{#if exp1.wholeNo}}
					√<span class="upperscore">{{exp1.wholeNo}}
					</span>
					{{else}}
						{{exp1.val}}
					{{/if}}
					x {{#if exp2.wholeNo}}
						√<span class="upperscore">{{exp2.wholeNo}}
						</span>
					{{else}}
						{{exp2.val}}
					{{/if}}
				</div>

	{{else}}
		{{#if addition}}
			{{#if exp1.wholeNo}}
				√<span class="upperscore">{{exp1.wholeNo}}
				</span>
			{{else}}
			{{exp1.val}}
			{{/if}}
			+ {{#if exp2.wholeNo}}
				√<span class="upperscore">{{exp2.wholeNo}}
				</span>
			{{else}}
			{{exp2.val}}
			{{/if}}
		{{else}}
			{{#if subtract}}
				{{#if exp1.wholeNo}}
					√<span class="upperscore">{{exp1.wholeNo}}
					</span>
				{{else}}
				{{exp1.val}}
				{{/if}}
				- {{#if exp2.wholeNo}}
					√<span class="upperscore">{{exp2.wholeNo}}
					</span>
				{{else}}
				{{exp2.val}}
				{{/if}}


			{{else}}
				<div class="divide">
					<div class="divideDown">
						{{#if exp1.wholeNo}}
							√<span class="upperscore">{{exp1.wholeNo}}
							</span>
						{{else}}
						{{exp1.val}}
						{{/if}}
					</div>
					<div class="">
						{{#if exp2.wholeNo}}
							√<span class="upperscore">{{exp2.wholeNo}}
							</span>
						{{else}}
						{{exp2.val}}
						{{/if}}
					</div>
				</div>

			{{/if}}

		{{/if}}

	{{/if}}
</div>

<div class='ans'>
            <ul>
                {{#each answer}}
                    <li class="opts {{correct}}" data-check = "{{correct}}">
                        {{{ans}}}
                    </li>
                {{/each}}
            </ul>
    	</div>

</script>

<script type="text/x-handlebars-template" id="finish-template">
	<div class="nextBtn myNextStyle">    </div>
    <div id="{{idd}}" class="finish">
    	<span class="myReloadStyle replay"></span>
    	<img src="{{img1}}" alt="">
        <div class="score"><p class="score1">{{score}}</p>
    		<p class='fullMark'>{{fullMark}}</p>
    	 </div>
    	<div class="msg">{{msg}}</div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("js/exercise2.sqrt.js");
</script>
</body>