<body>
<script type="text/javascript">
$cssLoader("css/page2.sqrt.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="sqrt">
	
	<div class="title">
		<span>square root's square</span>
	</div>	
	<span class="glyphicon glyphicon-circle-arrow-right nextBtn">
	</span>
	<div class="feri">{{feri}}</div>
	<div class="board">

	</div>

<script type="text/x-handlebars-template" id="first-template">
    <div class="inputSec"><span>{{text1}}</span>
        <input type="text">
        <span class="glyphicon glyphicon-circle-arrow-right arrowHead"></span>
    </div>
</script>

<script type="text/x-handlebars-template" id="second-template">
    <div class="barga">
        <span class="smth1">{{text1}}</span>
        <span>{{text2}}</span>
        =<span class="smth2"> {{text1}}<sup>2</sup></span>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("js/page2.sqrt.js");

</script>
</body>