<body>
<script type="text/javascript">
$cssLoader("css/page3.sqrt.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="sqrt">
	
	<div class="title">
		<span>square and square root relation</span>
	</div>	
	<span class="glyphicon glyphicon-circle-arrow-right nextBtn">
	</span>
	
	<div class="board">

	</div>

<script type="text/x-handlebars-template" id="first-template">
    <div class="first">
        <div class="div1">
            <div class="text1">{{text1}}</div>
            <span class="glyphicon glyphicon-circle-arrow-right next1"></span>
        </div>
        <div class="div2">
            <div class="text2">{{{text2}}}</div>
            <span class="glyphicon glyphicon-circle-arrow-right next2"></span>
        </div>
        <div class="pic">
            <span id="id1">{{sqrNoun1}}</span>
            <img src="{{img1}}" alt="">
            <span id="id2">{{sqrNoun2}}</span>
        </div>
    </div>

</script>

<script type="text/x-handlebars-template" id="second-template">
    <div class="secondT">
    sm
    </div>
    <div class="second">
        <div>{{sqrNoun1}} <span class="glyphicon glyphicon-arrow-right"></span></div>
        
        <table>
        {{#each fillTd }}
            <tr>
                <td width="50%"><span>{{number}}</span></td>
                <td width="50%" ><span class="roots">{{square}}</span></td>
            </tr>
        {{/each}}
            
        </table>
        <div><span class="glyphicon glyphicon-arrow-left"></span> {{sqrNoun2}}</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="third-template">
    <div class="clickInfo">{{textClick}}</div>
    <span class="myReloadStyle repeat"></span>
    <div class="step1">
        <span class="num1 num">{{text1}}</span>
        <span class="num2 num"><span>{{text2}}</span></span>
        <span class="num3 num">{{text3}}</span>
    </div>
    <div class="step2">
        <span class="num1 num">{{text3}}</span>
        <span class="num2 num"><span>{{text22}}</span></span>
        <span class="num3 num">{{text1}}</span>
    </div>
</script>



<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("js/page3.sqrt.js");

</script>
</body>
