.magnet {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #73BF3A;
	background: url(../images/bg.png);
}

.magnet, .magnet * {
	position: relative;
	margin: 0;
	padding: 0;
}

.magnet .title {
	position: relative;
	width: 100%;
	height: 15%;
	text-align: center;
	font-size: 2em;
	color: #fff;
	margin-top: 3%;
	vertical-align: middle;
	text-shadow: 1px 1px #c9c9c9;
	display: none;
}

.destroyBoard {
	width: 100%;
	text-align: center;
	/*background: #000;*/
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: darkgreen;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;
}

.nextBtn:hover {
	color: lightgreen;
}

.destroyBoard {
	margin-top: 0%;
}

.typesTitle {
	display: inline-block;
	width: 30%;
	margin-top: 10%;
	margin-right: 10px;
	border: 1px solid #c9c9c9;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	font-size: 1.4em;
	border-radius: 30% / 100%;
	background: yellow;
	box-shadow: inset -3px 3px 3px 3px #FFFF7F,0 0 0 1px #f2f2f2, 0 0 2px 4px #5a9908;
	/*display: none;*/
}

.typesTitle:hover {
	box-shadow: inset 0 0 3px 3px #FFFF7F,0 0 0 1px #f2f2f2, 0 0 2px 1px #5a9908;
}

.desc {
	margin: auto;
	margin-top: 5%;
	font-size: 1.2em;
	width: 70%;
	border-radius: 10px;
	background: rgba(255,255,255,0.6);
	box-shadow: 0 0 0 2px #f2f2f2, 0 0 0 5px #5a9908, 0 0 0 1px #000;
}

.popUp {
	background: rgba(0,0,0,0.7);
	font-size: 1.3em;
	position: absolute;
}

.magnetPopUp{
	width: 50%;
	text-align: justify;
	border: 2px solid #8CBD8C;
	border-radius: 10px;
	background: #fff;
	margin: auto;
	padding: 5px;
	margin-top: 100px;
	position: relative;
	box-shadow: inset 0 0 25px 10px #f2f2f2, 0 0 0 2px #f2f2f2, 0 0 0 8px #8CBD8C, 0 0 0 1px #000;
	border-radius: 10px;
	text-align: center;
}

.magnetPopUp .closeBtn {
	position: absolute;
	top: -20px;
	right: -40px;
	z-index: 10;
	cursor: pointer;
}

.magnetPopUp h1 {
	/*text-decoration: underline;*/
	border-bottom: 1px solid #63C2CE;
	color: #237882;
	padding: 0;
	margin: 5px;
	padding-bottom: 5px;
}

.magnetPopUp img {
	width: 30%;
}

.electroImg img {
	width: 70%;
}