.magnet {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #73BF3A;
	background: url(../images/bg.png);
}

.magnet, .magnet * {
	position: relative;
	margin: 0;
	padding: 0;
}

.magnet .title {
	position: relative;
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	margin-top: 1%;
	margin-bottom: 2%;
	vertical-align: middle;
	text-shadow: 1px 1px #c9c9c9;
	/*display: none;*/
}

.foundPicture {
	margin: auto;
	width: 95%;
	display: block;
	/*background: #fff; */
	text-align: center;
}

.objects {
	/*margin-right: 3%;*/
	/*background: #000;*/
	width: 49%;
	text-align: center;
	display: inline-block;
}

.objects img {
	width: 100%;
	/*border: 1px solid #c9c9c9;*/
	box-shadow: inset 0 0 2px 200px #fff;
	cursor: pointer;
	box-shadow: 10px 10px 10px #1C1C1C;
}

.imageTitle {
	margin: auto;
	width: 80%;
	font-size: 1.4em;
	padding: 2%;
	margin-top: 4%;
	background: rgba(255,255,255, 0.4);
	display: block;
}

.popUp {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	font-size: 1.3em;
	position: absolute;
}

.magnetPopUp{
	width: 50%;
	text-align: justify;
	border: 2px solid #8CBD8C;
	border-radius: 10px;
	background: #fff;
	margin: auto;
	padding: 5px;
	margin-top: 100px;
	position: relative;
	box-shadow: inset 0 0 25px 10px #f2f2f2, 0 0 0 2px #f2f2f2, 0 0 0 8px #8CBD8C, 0 0 0 1px #000;
	border-radius: 10px;
}

.magnetPopUp:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.magnetPopUp .closeBtn {
	position: absolute;
	top: -20px;
	right: -40px;
	z-index: 10;
	cursor: pointer;

}

.magnetPopUp h1 {
	/*text-decoration: underline;*/
	border-bottom: 1px solid #63C2CE;
	color: #237882;
	padding: 0;
	margin: 5px;
	padding-bottom: 5px;
}

.magnetPopUp img {
	width: 40%;
	float: right;
	vertical-align: bottom;

}

.magnetPopUp p {
	width: 58%;
}