.magnet {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #73BF3A;
	background: url(../images/bg.png);
}

.magnet, .magnet * {
	position: relative;
	margin: 0;
	padding: 0;
}

.magnet .title {
	position: relative;
	width: 100%;
	height: 15%;
	text-align: center;
	font-size: 2em;
	color: #fff;
	margin-top: 3%;
	vertical-align: middle;
	text-shadow: 1px 1px #c9c9c9;
	display: none;
}

.makerBoard {
	width: 100%;
	text-align: center;
	/*background: #000;*/
}

#notmagnetised {
	width: 70%;
	height: 60%;

}

#notmagnetised .rod {
	position: absolute;
	width: 27%;
	right: 0;
	/*cursor: pointer;*/
	cursor: move;
	z-index: 10;
	
}

#notmagnetised .pins {
	position: absolute;
	width: 15%;
	bottom: 0%;
}

.desc {
	margin: auto;
	margin-top: 10px;
	font-size: 1.4em;
	width: 70%;
	text-align: center;
}

.makingProcess {
	width: 70%;
	height: 60%;
	margin: auto;
}

.makingProcess #rod {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 25%;
}

.makingProcess #process {
	width: 80%;
}

#magnetised {
	margin: auto;
	width: 70%;
	height: 60%;
	/*background: #000;*/
}

#magnetised .rod {
	position: absolute;
	width: 27%;
	right: 0;
	/*cursor: pointer;*/
	cursor: move;
	z-index: 10;
	/*background: red;*/
	
}

#magnetised .pinHolder {
	position: absolute;
	width: 25%;
	height: 40%;
	left: 10%;
	bottom: 0%;
	/*background: #fff;*/
}

#magnetised .pinHolder .pin {
	position: absolute;
	left: 20%;
	bottom: 0;
	width: 60%;
}

.makingProcess #attract {
	position: absolute;
	width: 35%;
	left: 20%;

}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: darkgreen;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;
	width: 8%;
}

.nextBtn:hover #activityNextHoverBtn
{
	display: block;
}

.nextBtn:hover #activityNextBtn
{
	display: none;
}