.magnet {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #73BF3A;
	background: url(../images/bg.png);
}

.magnet, .magnet * {
	position: relative;
	margin: 0;
	padding: 0;
}

.magnet .title {
	position: relative;
	width: 100%;
	height: 15%;
	text-align: center;
	font-size: 2em;
	color: #fff;
	margin-top: 3%;
	vertical-align: middle;
	text-shadow: 1px 1px #c9c9c9;
	display: none;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: darkgreen;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;
	width: 8%;
}

.nextBtn:hover #activityNextHoverBtn
{
	display: block;
}

.nextBtn:hover #activityNextBtn
{
	display: none;
}
.protectBox {
	margin: auto;
	/*background: #000;*/
	width: 100%;
	height: 60%;
	display: none;
	text-align: center;
}

.desc {
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-left: -15%;
	width: 70%;
	text-align: center;
	margin: auto;
}

.image {
	margin: auto;
	width: 100%;
}

.image #first {
	width: 30%;
}

.image #second {
	width: 40%;
}

.image #third {
	width: 30%;
}

.image #forth {
	width: 80%;
}

.first {
	width: 100%;
}

.first .textDiv {
	width: 100%;
	font-size: 1.3em;
}

.first .mid {
	margin-top: 5%;
}
.first .fig {
	width: 20%;
	display: inline-block;

}

.first .fig img {
	width: 100%;
}

.first .textDiv1 {
	margin-left: 5%;
	font-size: 1.4em;
	width: 65%;
	display: inline-block;
	opacity: 0;
}

#second {
	margin-top: 4%;
	width: 100%;
	/*background: #000;*/
}

#second .absoluteText {
	position: absolute;
	top: 50%;
	left: 3%;
	z-index: 10;
	color : yellow;
}

#second .fig {
	vertical-align: top;
	width: 35%;
	/*background: #000;*/
	display: inline-block;
}

#second .fig img {
	width: 100%;
}

#second .textDiv {
	width: 60%;
	text-align: justify;
	font-size: 1.3em;
	display: inline-block;
}

#third, #forth, #fifth, #sixth {
	width: 100%;
	text-align: center;
}


#third .fig {
	margin: auto;
	width: 65%;
}

#third .fig img {
	width: 100%;
}

#third .textDiv {
	width: 90%;
	text-align: center;
	font-size: 1.3em;
}

#forth .absoluteText {
	position: absolute;
	top: 45%;
	left: 40%;
	color: yellow;
	font-size: 1.4em;
}

#forth .fig img {
	width: 100%;
}

#forth .fig {
	width: 50%;
	display: inline-block;
}

#forth .textDiv {
	text-align:justify;
	font-size: 1.3em;
	width: 45%;
	display: inline-block;
}



#fifth .absoluteText {
	position: absolute;
	top: 45%;
	left: 40%;
	color: yellow;
	font-size: 1.4em;
}

#fifth .fig img {
	width: 100%;
}

#fifth .fig {
	width: 50%;
	display: inline-block;
}

#fifth .textDiv {
	text-align:justify;
	font-size: 1.3em;
	width: 45%;
	display: inline-block;
}

#sixth .absoluteText {
	position: absolute;
}

#sixth .fig img {
	width: 100%;
}

#sixth .fig {
	vertical-align: top
	width: 50%;
	display: inline-block;
}

#sixth .textDiv {
	text-align:justify;
	font-size: 1.3em;
	width: 45%;
	display: inline-block;
}