<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page3.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="is_are">    
    <div class="board">Hello World!!! [Lesson]</div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
           {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if uppertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if uppertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if imageblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                    	{{#if imageblockclass}}
                    		<div class="{{imageblockclass}}">
                    	{{/if}}
                        	{{> imagecontent}}
                        {{#if imageblockclass}}
                    		</div>
                    	{{/if}}
                    {{/each}}
                {{#if imageblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if lowertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if lowertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if fractionblock}}
            <div class="fractionblock {{fractionblockadditionalclass}}">
                    {{#each fractionblock}}
                        {{> fractioncontent}}
                    {{/each}}
            </div>
            {{/if}}           
             {{#if leftsidediv}}
                    <div class="card1 {{definitionblockadditionalclass}}">
                        {{#each leftsidediv}}
                        {{>textcontent}}
                        {{/each}}
                    </div>
                    {{/if}}

                    {{#if rightsidediv}}
                    <div class="card2 {{definitionblockadditionalclass}}">
                        {{#each rightsidediv}}
                        {{>textcontent}}
                        {{/each}}
                    </div>
                    {{/if}} 
        </div>
    </div>
    {{! content block end--}}
</div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="fractioncontent-partial" type="text/x-handlebars-template">
	<div class="{{fractionClass}}">
		<span class="fraction {{additionalspanclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{spandata}}</span>
	</div>
</script>

<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
             <div class="{{labelcontainer}}">
	        	<img class="{{imgclass2}}" src="{{imgsrc2}}">
	            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
	        </div>
        {{/each}}
    {{/if}}
</script>


<!-- js loader starts -->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>