
.p6_pic
{
	/*background:url(../images/p6_1.png) no-repeat;
	background-size:100%;
	background: #ffffff;*/
	height: 60%;
	left: 10%;
	position: absolute;
	top: 30%;
	width: 60%;
 }

.p6_ques_title
{
	position: absolute;
	font-size: 1.2em;
	top:20%;
	width: 95%;
}
 .p6_box
 {
 	height: 70%;
    left: 20%;
    position: absolute;
    top: 15%;
    width: 60%;
	border:#000000 2px solid;
 }

 .p6_points
 {

 	background: #ff0000;
 	width:3%;
 	height: 5%;
 	border-radius:50%;
 	border: #ff0000 2px solid;
 	position: absolute;
 	
 	color: #000000;
 	font-weight: bold;

 	-moz-animation:blinkCircle 1s linear infinite;
 	-webkit-animation:blinkCircle 1s linear infinite;
 	animation:blinkCircle 1s linear infinite;
 }
 @-moz-keyframes blinkCircle
 {
 	0%{border: #ff0000 2px solid; background: #ff0000;}
 	100%{border: #FFFF00 2px solid; background: #FFFF00;}
 }

 @-webkit-keyframes blinkCircle
 {
 	0%{border: #ff0000 2px solid; background: #ff0000;}
 	100%{border: #FFFF00 2px solid; background: #FFFF00;}
 }
 @keyframes blinkCircle
 {
 	0%{border: #ff0000 2px solid; background: #ff0000;}
 	100%{border: #FFFF00 2px solid; background: #FFFF00;}
 }
 
 .point_1{
 	left: 19%;
    top: 13%;
 }

 .p6_points:hover
 {
	background: #FFFFFF;
	border: #FFFFFF 2px solid;
 }

 .point_2{
 	left: 78%;
    top: 13%;
 }
.point_4{
 	left: 78%;
    top: 82%;
 }
 .point_3{
 	left: 19%;
    top: 83%;
 
 	background: #55E555;
 	width:3%;
 	height: 5%;
 	border-radius:50%;
 	border: #55E555 2px solid;
 	position: absolute;
 	
color: #000000;
 	font-weight: bold;
 	
 }

 .p6_diagonal
 {

	background:#55E555;
	-moz-transform:rotate(55deg);
	-webkit-transform:rotate(55deg);
	transform: rotate(55deg);
	transform-origin: 0 0 0;

   
    height: 0%;
   

    width: 1%;

    left: 20%;
    position: absolute;
    top: 85%;
 }

.distanceToA
{
	 /*height: 70%;*/
	height: 0%;
    left: 20%;
    position: absolute;
    top: 84%;
    width: 1%;
    background:#FF0000;
}



.distanceAToB
{
	 height: 2%;
    left: 20%;
    position: absolute;
    top: 15%;
    /*width: 60%;*/
    width:1%;
    background:#FF0000;
}
.distanceToC
{
	 height: 2%;
    left: 20%;
    position: absolute;
    top: 83%;
     /*width: 60%;*/
    width:0%;
    background:#FF0000;
}
.distanceCToB
{
	/*height: 70%;*/
	height: 0%;
    left: 79%;
    position: absolute;
    top: 84%;
    width: 1%;
    background:#FF0000;
}

.p6_clickButton
{
	height: 50%;
    left: 70%;
    position: absolute;
    top: 35%;
    width: 25%;

}

.p6_click_board
{
	
    width: 100%;
   
   position: relative;

   margin-bottom: 10%;
   

	

	color: #fff;
	
   
	color:#FFFFFF;
	
	background: rgb(54,144,240);
}
.clickMeToo
{
	 background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(112,181,242)),
		color-stop(0.49, rgb(84,164,238)),
		color-stop(0.5, rgb(54,144,240)),
		color-stop(1, rgb(26,97,219))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(112,181,242) 0%,
		rgb(84,164,238) 49%,
		rgb(54,144,240) 50%,
		rgb(26,97,219) 100%
	);
	cursor: pointer;
}
.clickMeToo:hover
{
	background-color: #8AC5FD;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(134,193,253)),
		color-stop(0.49, rgb(153,213,255)),
		color-stop(0.5, rgb(130,194,253)),
		color-stop(1, rgb(108,170,229))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(134,193,253) 0%,
		rgb(153,213,255) 49%,
		rgb(130,194,253) 50%,
		rgb(108,170,229) 100%
	);
}

.crossIcon
{

	display: inline-block;
   
    width: 20%;
    
}
.p6_options
{
	display: inline-block;
	font-size: 2em;
    
    
   
    width: 75%;
}
.crossIcon span:before
{

	font-size: 2em;

}


.glyphicon-ok:before
{
	color: #55E555;
	
}

.crossIcon .glyphicon-remove:before{
	color: #FF0000;
}

.glyphicon-asterisk{
	color:#FFFFFF;
}


.p6_firstroad
{
	
	height: 13%;
    left: 18%;
    position: absolute;
    top: 34.1%;
    width: 63%;
	
}
.p6_firstroad:hover
{
 background:url(../images/p6_2.png) no-repeat;
	background-size:100%;
}

.p6_secondroad
{	
	height: 27%;
    left: 16%;
    position: absolute;
    top: 12.3%;
    width: 64.5%;
	
}
.p6_secondroad:hover
{
	background:url(../images/p6_3.png) no-repeat;
	background-size:100%;
}

.p6_thirdroad
{
	height: 50%;
    left: 15.2%;
    position: absolute;
    top: 39%;
    width: 66%;
	
}
.p6_thirdroad:hover
{
	background:url(../images/p6_4.png) no-repeat;
	background-size:100%;height: 50%;
}
.p6_house
{
	background:url(../images/p6_7.png) no-repeat;
	background-size:100%;
	height: 50%;
	
	position: absolute;
	top: 24%;
	width: 20%;
}
.p6_bridge
{
	background:url(../images/p6_6.png) no-repeat;
	background-size:100%;
	height: 35%;
    left: 15%;
    position: absolute;
    top: 62%;
    width: 23%;
}
.p6_school
{
	background:url(../images/p6_5.png) no-repeat;
	background-size:100%;
	height: 50%;
	  left: 80%;
	position: absolute;
	top: 24%;
	width: 20%;
}
.p6_roads
{
 cursor:pointer;
}

.p6_wrong
{
	background:url(../images/p0_3.png) no-repeat;
	background-size:100%;
 	
}
.p6_checker
{
	height: 20%;
    left: 90%;
    position: absolute;
    top: 1%;
    width: 10%;
	display:none;
}

.p6_right
{
	background:url(../images/p0_2.png) no-repeat;
	background-size:100%;
 	
}

.p6_slideDown
{
	background:rgba(189,252,201,1);
	left: 20%;
    position: absolute;
    top: 80%;
	width: 60%;
	height:15%;
	border:#FFFFFF 1px solid;
	padding:1%;
	
	color:#000000;

	z-index:100;
	display:none;
}
.p6_text
{
 height: 60%;
    left: 3%;
    position: absolute;
    top: 24%;
    width: 90%;
	
	
}