.p11_title
{
	 height: 5%;
    position: absolute;
    top: 23%;
    width: 100%;
    left: 0%;
    font-size: 1.6em;
    color: white;
}

.p11_boating
{
	background:url(../images/p11_2.png) no-repeat;
	background-size:100%;
	
	height: 76%;
    left: 8%;
    position: absolute;
    top: 20%;
    width: 84.5%;
	overflow-x:hidden;
	overflow:hidden;
	

}
.p11_flow1
{
	background:url(../images/p11_3.png) repeat-x;
	background-size:100%;
	height: 41%;
    position: absolute;
    top: 35%;
    width: 99%;
}

.p11_flow2
{
	background:url(../images/p11_3.png) repeat-x;
	background-size:100%;
	height: 41%;
    position: absolute;
    top: 35%;
    width: 99%;
	left:100%;
}
.p11_boat
{
	background:url(../images/p11_5.png) no-repeat;
	background-size:100%;
	height: 23%;
    left: 100%;
    position: absolute;
    top: 15%;
    width: 15%;
	-moz-transform:rotate(20deg); 
	-moz-transform-origin:50% 50%;
	transform:rotate(20deg); 
	transform-origin:50% 50%;
	-webkit-transform:rotate(20deg);  
	-webkit-transform-origin:50% 50%;
}

.p11_boat_wave
{
	-webkit-animation: p11_wave 5s infinite;
	-moz-animation:    p11_wave 5s infinite;
	animation:         p11_wave 5s infinite;
	
}
@-webkit-keyframes p11_wave {
	0%   { -webkit-transform:rotate(20deg);  -webkit-transform-origin:50% 50%;}
	
	50% {  -webkit-transform:rotate(10deg);  -webkit-transform-origin:50% 50%; }
	
	100% {  -webkit-transform:rotate(20deg);  -webkit-transform-origin:50% 50%;}
}
@-moz-keyframes p11_wave {
  0%   { -moz-transform:rotate(20deg); -moz-transform-origin:50% 50%;}
	
	50% {  -moz-transform:rotate(10deg); -moz-transform-origin:50% 50%;}

	100% {  -moz-transform:rotate(20deg); -moz-transform-origin:50% 50%;}
}

@keyframes p11_wave {
 0%   { transform:rotate(20deg); transform-origin:50% 50%;}
	
	50% {  transform:rotate(10deg); transform-origin:50% 50%;}
	
	100% {  transform:rotate(20deg);transform-origin:50% 50%;}
}
.p11_direction
{
	background:url(../images/p11_4.png) no-repeat;
	background-size:100%;
	height: 34%;
    left: 79%;
    position: absolute;
    top: 19%;
    width: 20%;
	display:none;
}

.p11_slidezone
{
	border:#FFFFFF 1px solid;
	background:rgba(189,252,201,0.9);
	height: 20%;
    left: 15%;
    position: absolute;
    top: 20%;
    width: 60%;
	display:none;
	padding:2.5%;
	color:#000000;
	font-size: 1.5em;
}

.p11_arrow
{
	background:url(../images/p11_1.png) no-repeat;
	background-size:100%;
	height: 34%;
    left: 77%;
    position: absolute;
    top: 38%;
    width: 10%;
	display:none;
	
}

.p11_replay_btn
{
	font-size: 0.9em;
   
   left: 64%;
    position: absolute;
    top: 40%;
    width: 5%;
	display:none;
}


.p11_flow1
{
-webkit-animation: p11_flow1 8s infinite linear;
	-moz-animation:    p11_flow1 8s infinite linear;
	animation:         p11_flow1 8s infinite linear;
}

@-webkit-keyframes p11_flow1 {
	0%   { left:0%;}
	100% { left:-100%;}
}
@-moz-keyframes p11_flow1 {
  0%   { left:0%;}
	100% { left:-100%;}
}

@keyframes p11_flow1 {
0%   { left:0%;}
	100% { left:-100%;}
}

.p11_flow2
{
-webkit-animation: p11_flow2 8s infinite linear;
	-moz-animation:    p11_flow2 8s infinite linear;
	animation:         p11_flow2 8s infinite linear;
}

@-webkit-keyframes p11_flow2 {
	0%   { left:100%;}
	100% { left:0%;}
}
@-moz-keyframes p11_flow2 {
 0%   { left:100%;}
	100% { left:0%;}
}

@keyframes p11_flow2 {
0%   { left:100%;}
	100% { left:0%;}
}