.thebg1{
	background: url("../images/bg07.png");
	background-size: 100% 100%;
}

[class*="uptext"] {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 90%;
  font-size: 4.5vmin;
	opacity: 0;
	animation: cssfadein 1s linear forwards;
}

.uptext-1 {
	top: 20%;
}

.uptext-2 {
	top: 70%;
}

.uptext-3 {
	top: 51%;
}

.playable {
    cursor: pointer;
    background: #FFF2CC !important;
}

.playable:hover {
    background: #ffe59b !important;
}

.audiocontainer {
    transform: translate(-50%, -50%);
    position: absolute;
    background: #FFF2CC;
    min-width: 90%;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 4.2vmin;
    padding: 1%;
}

.audio1{
	bottom: 37%;
	left: 50%;
}

.audio2{
	bottom: 12%;
	left: 50%;
}

.audio3 {
    bottom: 48%;
    left: 50%;
}

.audiotext {
    width: 95%;
    text-align: center;
}

.speakericon {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.p2high{
	color: #CC4125;
}
