.thebg1{
	background: url("../images/bg03.png");
	background-size: 100% 100%;
}

.greenbg{
	background: url("../images/bg04.png");
	background-size: 100% 100%;
}

.bluebg{
	background: #99D8C9;
}

.diytext {
  font-family: pangolin;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 33%;
  width: 52%;
  top: 43%;
  font-size: 11.5vmin;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
	color: #B45F06;
}
.optionscontainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    min-width: 100%;
}

.diyins {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 33%;
  width: 52%;
  top: 43%;
  font-size: 7.5vmin;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
}

.question {
    position: relative;
    top: 21%;
    left: 2%;
    width: 95%;
    font-size: 5vmin;
    text-align: center;
    font-family: sniglet;
}

.sentence {
    position: absolute;
    top: 34%;
    width: 100%;
    font-size: 5vmin;
    text-align: center;
    font-family: sniglet;
    background: antiquewhite;
}

.optionsdiv {
    top: 25%;
    display: flex;
    width: 83%;
    left: 8%;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    height: 59%;
    text-align: left;
    position: relative;
}

.optionsdiv p {
    display: inline;
    padding: 1.5%;
    background: white;
    border-radius: 15px;
    margin: 1%;
    font-size: 4vmin;
    border: 5px solid #D4D4D4;
    font-size: 3.5vmin;
    width: 80%;
}
.imagestartpos {
    width: 7%;
    margin-left: 1%;
    display: none;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #87C0EA;
    border: 5px solid #247FE6;
}
