.thebg1{
	background: url("../images/bg07.png");
	background-size: 100% 100%;
}

[class*="uptext"] {
  transform: translateX(-50%);
  left: 50%;
  width: 90%;
  font-size: 3.5vmin;
	opacity: 0;
	margin-top: 1%;
	text-align: left;
	animation: cssfadein 1s linear forwards;
}

.uptext-1 {
	margin-top: 5%;
	color: white;
	font-family: pangolin;
	font-size: 6.5vmin;
}

.uptext-2 {
	background: white;
	padding: 1%;
	border-radius: 0.5em;
	text-align: center;
}

.uptext-3 {
    border-radius: 0.5em;
    text-align: center;
    width: 65%;
    background: #F2E7D1;
    padding: 3%;
}

.playable {
    cursor: pointer;
    background: #FFF2CC !important;
}

.playable:hover {
    background: #ffe59b !important;
}

.audiocontainer {
    transform: translate(-50%, -50%);
    position: absolute;
    background: #FFF2CC;
    min-width: 72%;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 3.5vmin;
    padding: 1%;
}

.audio1 {
  bottom: 30%;
  left: 50%;
}

.audio2 {
  bottom: 15%;
  left: 50%;
}

.audio3 {
  bottom: 0%;
  left: 50%;
}

.audiotext {
    width: 94%;
    text-align: center;
}

.speakericon {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.boldit{
	font-weight: bold;
}
.crossit{
	animation: cross 1s linear 1s forwards;
}

@keyframes cross {
	100%{

		color: red;
		text-decoration: line-through;
	}
}

.showit{
	font-weight: bold;
}

.circleit{
    border-radius:50%;
    border:solid black 1px;
    padding:5px;
}
