.page5a
{
	background:url(../images/p5_1.png) no-repeat;

	background-size:99.5%;
}

.p5_title{
	position:absolute;
	top:6%;
	text-align:center;
	width:99%;
	color:#FFFFFF;
	font-size: 1.3em;
}
.p5_selector
{
	height: 27%;
    left: 78%;
    padding: 1%;
    position: absolute;
    top: 70%;
    width: 20%;
	border:#EEEEEE 1px solid;
	color:#FFFFFF;
   background:#8B475D;
	
}
.light_ray1
{
	 left: 30.2%;
    position: absolute;
    top: 62%;
	
	height: 4%;
    width: 66%;
	background:url(../images/p5_2.png) no-repeat;
	background-size:100%;
	
	display:none;
}


.p5_selector div
{
width:100%;
text-align:left;

}
#first_mirror
{
	background:url(../images/p5_3.png) no-repeat;
	background-size:100%;
	height: 11%;
    left: 49%;
    position: absolute;
    top: 59%;
    width: 7%;
	display:none;
}

#second_mirror
{
	background:url(../images/p5_4.png) no-repeat;
	background-size:100%;
	height: 11%;
    left: 58%;
    position: absolute;
    top: 87%;
    width: 7%;
	display:none;
}

.light_ray2
{
	height: 4%;
    left: 51%;
    position: absolute;
    top: 63%;
    width: 46%;
	background:url(../images/p5_5.png) no-repeat;
	background-size:100%;
	display:none;
	
}

.light_ray3
{
	height: 36%;
    left: 52%;
    position: absolute;
    top: 63%;
    
	width: 11%;
	background: url(../images/p5_6.png) no-repeat;
	background-size:100%;
	
	display:none;
	
}

.light_ray4
{
	 height: 18%;
    left: 9%;
    position: absolute;
    top: 75%;
    width: 54%;
	background: url(../images/p5_7.png) no-repeat;
	background-size:100%;
	display:none;
	
}
#flower_pot
{
	background:url(../images/p5_8.png) no-repeat;
	background-size:100%;
	height: 34%;
	left: 5%;
	position: absolute;
	top: 47%;
	width: 10%;
}
#page5_conclusion
{
	height: 15%;
    padding: 1%;
    position: absolute;
    top: 15%;
	border:#EEEEEE 1px solid;
    width: 95%;	
	background:#8B475D;
	color:#FFFFFF;
	
	display:none;
}

.page5_Closebtn
{
 border:#000000 2px solid;
 
 background:#FF0000;
height: 30%;
    left: 98%;
    position: absolute;
    top: -10%;
    width: 3%;
 cursor:pointer;
}
.page5_content
{


   
   position: relative;
    
    width: 100%;
   
}

#innerbtn
{
	position: absolute;
	width: 3%;
	cursor: pointer;

}