.sample {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	
	
	
}



.sample, .sample *
{
	position: relative;
	margin: 0;
	padding: 0;
}

.board
{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	left: 0%;

}

.nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	font-size: 2.2em;
	display: none;
	cursor: pointer;
	width: 4%;
}

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;
	font-size: 2.2em;
	display: none;
	cursor: pointer;
	width: 4%;
}

.nextBtn:hover #activityNextHoverBtn,
.prevBtn:hover #activityPrevHoverBtn
{
	display: block;
}
.nextBtn:hover #activityNextBtn,
.prevBtn:hover #activityPrevBtn
{
	display: none;
}

#closeImgbtn:hover #closeBtn
{
	display: none;
}

#closeImgbtn:hover #closeHoverBtn
{
	display: block;
}

#repeatBtn:hover #reloadBtn
{
	display: none;
}

#repeatBtn:hover #reloadHoverBtn
{
	display: block;
}

#repeatBtn
{
	position: absolute!important;
	top:4%;
	right: 0%;
	width: 8%;
	display: none;
	cursor: pointer;
}

.board
{
	
	position: absolute!important;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;

}
.backtg
{
	background:url(../images/reflection/bg01.png) no-repeat;

	background-size:100% 100%; 
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	left: 0%;
}
.backtg2
{
	background:url(../images/reflection/bg02.png) no-repeat;

	background-size:100% 100%; 
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	left: 0%;
}
.backtg3
{
	background:url(../images/reflection/bg03.gif) no-repeat;

	background-size:100% 100%; 
	width: 100%;
	height: 100%;
	position: absolute;
	top:0%;
	left: 0%;
}
.text_1_1
{
	position: relative;
	width: 100%;
	text-align: center;	
	margin:5% auto 5%; 
	font-size: 1.5em;
	color: #111;

}
.text_1_2,
.text_1_3
{
	position: relative;
	width: 100%;
	text-align: center;	
	margin:5% auto 5%; 
	font-size: 1em;
	color: #fff;
	display: none;
}
