.gameOuterBck
{
	
	
	width:98%;
	position: relative;
	
	/*background:url(../images/p2_16.png) no-repeat;
	background-size:50%;
	background-position:center;*/

}
.gameTitle
{

	width:100%;
	font-size: 1.1em;
	color: #000;
}
.gameInnerBck
{
    
	
	width: 50%;
	margin: 4% 2%;
	
}
.gameInnerBck img
{
	width: 100%;

}
.whatimg
{
	
	position: absolute;
	top: 40%;
	width: 13%;
	
	display: none;
	left: 9%;
	height: 30%;
}
#whatid
{
	
	position:absolute;
	


}
.myimgclass
{
	width: 90%;
	left: 10%;
	bottom: 10%;

}
.myimgclass1
{
	width: 60%;
	left: 20%;
}
.myimgclass2
{
	width: 25%;
	left: 30%;

}

.myimgclass3,
.myimgclass4
{
	width: 60%;
	left: 20%;
	top:20%;
}

.whatimg img 
{
	width: 100%;
}
.rightbck, .wrongbck
{
	left: 65%;
    position: absolute;
    top: 35%;
	display:none;
	width: 10%;
	
}
.rightbck img, .wrongbck img
{
	width: 100%;
}
#startbtn, #resetbtn
{
	position: absolute;
	 width: 10%; 

	 top: 20%;
	 right: 30%;
	/*left: 5%;
    
    top: 15%;
    width: 10%; 
	padding: 0.5%;
	height: 5%;*/
}
#resetbtn
{
	display:none;
}

#nextBtn
{
	right: 0%;
    position: absolute;
    bottom: 3%;
	display:none;
	width: 8%; 
	font-size: 2.5em;
	color: black;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	cursor: pointer;
}

#nextBtn:hover #activityNextHoverBtn
{
	display: block;
} 

#nextBtn:hover #activityNextBtn
{
	display: none;
} 


#lightbtn
{
	
    position: absolute;
    
	width: 15%; 
	top: 22%;
	left: 50%;
	/*padding: 0.5%;
	
	height: 5%;
	left: 5%;*/
}
#nolightbtn
{
	position: absolute;
    
	width: 15%; 
	top: 22%;
	left: 70%;
	
}

.answerbtn
{
	 padding: 1%;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;
	
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	
	cursor:pointer;
	display:none;
}
.answerbtn:hover{
	 background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.corranswer
{
	 background: green;
   
    text-decoration: none;
	color:#fff;
}
.incorranswer
{
	 background: red;
  color:#fff;
    text-decoration: none;
}
.scorebtn{
	border:#ccc 2px solid;
	border-radius:10%;
	
    left: 65%;
    padding: 2%;
    position: absolute;
    top: 20%;
    
	display:none;
	font-size: 1.5em;
	color: #000;
}

#restartbtn
{
	position: absolute;
	top:35%;
	cursor: pointer;
	display: none;
	left: 70%;
	width: 5%;
}