.reflectionLi {
  background: #FFA07A;
  text-align: left;
  /* height: 16%; */
  left: 20%;
  position: absolute;
  text-align: left;
  top: 20%;
  width: 70%;
  color: #000000;
  border: #FFFFFF 1px solid;
}

#reflectionClick {
  position: absolute;
  top: 40%;
}

.reflectionGame {
  height: 58%;
  position: absolute;
  top: 38%;
  width: 97%;
}

.refelctionscale {
  background: url(../images/p8_1.png) no-repeat;
  background-size: 100%;
  height: 10%;
  left: 10%;
  position: absolute;
  top: 90%;
  width: 75%;
}

.reflectionGame .ray1 {
  background: url(../images/p8_2.png) no-repeat;
  background-size: 100%;
  height: 78%;
  width: 1.2%;
  left: 53%;
  position: absolute;
  top: 26%
}

.reflectionGame .ray5 {
  background: url(../images/p8_2.png) no-repeat;
  background-size: 100%;
  height: 78%;
  width: 1.2%;
  left: 54%;
  position: absolute;
  top: 24%;
}

.reflectionGame .ray1 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.reflectionGame .ray2 {
  background: url(../images/p8_3.png) no-repeat;
  background-size: 100%;
  height: 78%;
  width: 1.2%;
  left: 47.2%;
  position: absolute;
  top: 26%;
}

.reflectionGame .ray4 {
  background: url(../images/p8_3.png) no-repeat;
  background-size: 100%;
  height: 78%;
  width: 1.2%;
  left: 46%;
  position: absolute;
  top: 24%;
}

.reflectionGame .ray2 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.reflectionGame .ray3 {
  height: 79%;
  left: 50.5%;
  position: absolute;
  top: 17%;
  width: 0.2%;
  background: #FF0000 url(../images/p8_4.png) no-repeat;
  background-size: 100%;
}

.reflectionGame .protractor {
  background: url(../images/p8_5.png) no-repeat;
  background-size: 100%;
  height: 46%;
  left: 35.1%;
  opacity: 0.3;
  position: absolute;
  top: 47.2%;
  width: 31%;
}

.reflectionGame .arrow {
  background: url(../images/p8_6.png) no-repeat;
  background-size: 100%;
  height: 7%;
  width: 6%;
  left: 44.5%;
  position: absolute;
  top: 52%;
}

.reflectionGame .arrow2 {
  background: url(../images/p8_7.png) no-repeat;
  background-size: 100%;
  height: 7%;
  width: 6%;
  left: 51%;
  position: absolute;
  top: 52%;
}

.reflectionGame .deg1 {
  left: 54%;
  position: absolute;
  top: 48%;
  color: #FF0000;
}

.reflectionGame .deg2 {
  left: 44%;
  position: absolute;
  top: 48%;
  color: #FF0000;
}

.reflectionGame #Reset {
  left: 90%;
  position: absolute;
  top: 1%;
  width: 5%;
  cursor: pointer;
}

.reflectionGame .ray4 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reflectionGame .ray5 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: rotate(-44.5deg);
  -webkit-transform: rotate(-44.5deg);
  transform: rotate(-44.5deg);
}

.reflectionGame .ray6 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  background: url(../images/p8_3.png) no-repeat;
  background-size: 100%;
  height: 78%;
  width: 1.2%;
  left: 45.2%;
  position: absolute;
  top: 20%;
}

.reflectionGame .ray7 {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
  -moz-transform: rotate(-59deg);
  -webkit-transform: rotate(-59deg);
  transform: rotate(-59deg);
  background: url(../images/p8_2.png) no-repeat;
  background-size: 100%;
  height: 78%;
  width: 1.2%;
  left: 55%;
  position: absolute;
  top: 21%;
}

.reflectionGame .arrow3 {
  height: 10%;
  left: 41.2%;
  position: absolute;
  top: 57%;
  width: 9%;
  background: url(../images/p8_8.png) no-repeat;
  background-size: 100%;
}

.reflectionGame .arrow4 {
  height: 10%;
  left: 51%;
  position: absolute;
  top: 58%;
  width: 8%;
  background: url(../images/p8_9.png) no-repeat;
  background-size: 100%;
}

.reflectionGame .deg3 {
	color: #FF0000;
	left: 56%;
	position: absolute;
	top: 57%;
}

.reflectionGame .deg4 {
  color: #FF0000;
  left: 42%;
  position: absolute;
  top: 58%;
}

.reflectionGame .arrow5 {
  height: 20%;
  left: 41%;
  position: absolute;
  top: 62%;
  width: 9%;
  background: url(../images/p8_10.png) no-repeat;
  background-size: 100%;
}

.reflectionGame .arrow6 {
  height: 20%;
  left: 51%;
  position: absolute;
  top: 63%;
  width: 9%;
  background: url(../images/p8_11.png) no-repeat;
  background-size: 100%;
}

.reflectionGame .deg5 {
  color: #FF0000;
  left: 57%;
  position: absolute;
  top: 65%;
}

.reflectionGame .deg6 {
  color: #FF0000;
  left: 41%;
  position: absolute;
  top: 65%;
}

.normal_txt {
	position: absolute;
	left: 44%;
	top: 11%;
}

.ray_txt {
  left: 35%;
  position: absolute;
  top: 25%;
}

.ref_txt {
  left: 60%;
  position: absolute;
  top: 25%;
}

.reflectionLi ul {
  list-style: disc;
}

.reflectionLi ul li {
  margin: 2%;
}

.s25a {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
