/**************** POP UP***********************/

.PopUpView
{

	background: rgba(0,0,0,0.9);
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left:0%;



}

.PopUpView .PopContent
{
	background:#19B8BE;
	border: 1px solid #eaf1f2;
	box-shadow: 0 0 5px 0 #eaf1f2;
	border-radius:1%;

	color:#FFFFFF;
	height: 60%;
    left: 20%;
    padding: 1%;
    position: absolute;
    top: 20%;
    width: 60%;
}
.PopUpView .PopContent  .PopContentclose
{
	background:#FFFACD;
	border:#FFFFFF 1px solid;
	width:5%;
	height:7%;

	border-radius:10%;
	position:absolute;
	top:2%;
	left:94%;
	text-align:center;
}

.PopUpView .PopContent  .PopContentclose:hover
{
	background:#000;
}
.PopContentclose img
{
left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
}
.closePopBtn
{
	display:none;
	color:#FF0000;
	cursor:pointer;
	 left: 25%;
    position: absolute;
    top: 10%;
}


.PopUpView .PopContent  .fullPopupContent
{
position:absolute;
width:97%;
/*background:#444444;*/
height:82%;
top: 16%;
margin:0.5%;
}


.PopUpView .PopContent  .titleText
{
	padding-bottom: 0.5%;
	border-bottom: 1px solid #c9c9c9;
	margin-bottom:0px;

}

.innercontent
{
	background:#F7F7F7;
	border:#FFFFFF 2px  solid;
	width:100%;
	height:100%;

	position:relative;
	text-align:center;
	padding:2%;
	color:#858585;

	border-radius:1%;
	overflow:hidden;
	font-size:1.3em;
}
/**************** Video Frame     ***********************/
.vdoframe
{
/*background:#FFFFFF url(../images/p10_1.png) no-repeat;*/

}

.vdoframetitle
{

}

.vdoframe_buttons
{
	height: 10%;
    position: absolute;
    top: 89%;
    width: 98.5%
}
.vdoframe_prev{
	/*background:url(../images/p10_3.png) no-repeat;
	height: 60%;
    left: 1%;
    position: absolute;
    top: 24%;
    width: 4%;
	cursor:pointer;*/
}

.vdoframe_replay{
	/*background:url(../images/p10_4.png) no-repeat;
	height: 60%;
    left: 92%;
    position: absolute;
    top: 35%;
    width: 4%;
	 cursor:pointer;*/
}

.vdoframe_next{
	/*background:url(../images/p10_2.png) no-repeat;
	height: 60%;
    left: 96.5%;
    position: absolute;
    top: 24%;
    width: 4%;
	cursor:pointer;*/
 }


.vdoframeContent
{
 /* background:#FF6666;*/
   height: 62%;
    left: 2.5%;
    position: absolute;
    top: 17%;
    width: 95.5%;
 }

.vdoframeData
{
 	/*background:#FF6666;*/
	/*height: 10%;
    left: 8%;
    position: absolute;
    top: 84%;
    width: 85%;*/

 }

 /*********  BUtton**************/

.template_btn
{
	 padding: 1%;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;

    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

	cursor:pointer;
}
.template_btn:hover{
	 background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

/****************************************************************/

.PopUpView2 {
    width: 100%;
    height: 48%;
    top: 0%;
    left: 0%;
    font-size: 1.1em;
}

.PopUpView2 .PopContent2
{
	background:#FDFDFD;

	box-shadow: 0 0 5px 0 #eaf1f2;
	border-radius:1%;

	color:#000;

     position: relative;
     margin:auto;
     width: 60%;

     padding: 1%;
     top:10%;
}

.PopUpView2 .PopContent2  .titleText2
{
	padding-bottom: 0.5%;
	border-bottom: 1px solid #C9C9C9;
	margin-bottom:0px;

}

.PopUpView2 .PopContent2  .fullPopupContent2
{
position:relative;
width:100%;


}



.closebtn_pop {
        position: absolute;
        z-index: 10;
        padding: 0;
        top: -10px;
        right: -10px;

        padding-left: 7px;
        padding-right: 7px;
        background: #fff;

        border-radius: 100%;
        cursor: pointer;
        color: #890000;
        box-shadow: 0 0 5px 2px #890000, 0 0 5px #c9c9c9;
        display: none;

}

.closebtn_pop:before {
        content: "X";
        font-weight:bold;
        padding: 0;
        margin: 0;
}

.closebtn_pop:hover {
        background: #c9c9c9;
        color: blue;
}


.reloadjsbtn:hover #reloadBtn
{
    display: none;
}
.reloadjsbtn:hover #reloadHoverBtn
{
    display: block;
}

.closeJsBtn:hover #closeBtn
{
    display: none;
}
.closeJsBtn:hover #closeHoverBtn
{
    display: block;
}
