
.vdoframe
{
    background:#fff;/* url(../images/p10_1.png) no-repeat;*/
    background-size:100%;
    border: #000 1px solid;



}

.vdoframetitle
{
    color:blue;
    font-size: 1.2em;
}

.vdoframe_buttons
{

    position: absolute;
    top: 85%;
    width: 100%;

    left: 0%;

}
.vdoframe_prev{

    left: 0%;
    position: absolute;
    top: 4%;
    width: 6%;
	cursor:pointer;
    font-size: 2em;
    color: #000;
}

.vdoframe_replay{

    right: 8%;
    position: absolute;
    top: -40%;
    width: 3%;
	 cursor:pointer;
     font-size: 2em;
    color: #000;
}

.vdoframe_replay:hover #reloadBtn
{
    display: none;
}
.vdoframe_replay:hover #reloadHoverBtn
{
    display: block;
}

.vdoframe_next{


    right: 2%;
    position: absolute;
    top: 4%;
    width: 6%;
  	cursor:pointer;
    display: none;
    font-size: 2em;
    color: #000;
 }


.vdoframeContent
{
 /* background:#FF6666;*/
   height: 62%;
    left: 2.5%;
    position: absolute;
    top: 17%;
    width: 95.5%;
 }

.vdoframeData
{

	background: rgba(101,126,240,0.3);
    left: 8%;
    position: absolute;
    top: 84%;
    width: 83%;
	color:#000000;
    font-size: 1em;
    padding: 1%;
    border-radius: 10px;

 }



.vdoframe_next:hover #activityNextHoverBtn,
.vdoframe_prev:hover #activityPrevHoverBtn
{
    display: block;
}

.vdoframe_next:hover #activityNextBtn,
.vdoframe_prev:hover #activityPrevBtn
{
    display: none;
}
