.k4chart
{
	left: 30%;
    position: absolute;
    top: 50%;
    width: 31%;
}

.k4ball
{
	
    left: 42%;
    position: absolute;
    top: 56.1%;
    width: 7%;
}
.k4scissor
{
	background: url(../images/p10_22.gif)  no-repeat;
	background-size: 100%;
	height: 20%;
    left: 50%;
    position: absolute;
    top: 40%;
    width: 14%;
    z-index: 100;
	display:none;
	
}
.k4scissor2
{
	background: url(../images/p10_22.gif)  no-repeat;
	background-size: 100%;
	height: 20%;
    left: 30%;
    position: absolute;
    top: 46%;
    width: 14%;
    z-index: 100;
    display: none;

    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph; 
	
}

.k4ball2
{
	
	height: 14%;
   left: 43%;
	top: 35%;
  
   
    position: absolute;
    
    width: 6%;
	display:none;
	z-index:88;
}
.k4rolls
{
	height: 42%;
    left: 46.6%;
    position: absolute;
    top: 23%;
    width: 31%;
	z-index:10;
}

.k4roll1
{
	
	display:none;
}
.k4roll2
{
	
	display:none;
}
.k4roll3
{
	
	display:none;
}
.k4roll4
{
	
	display:none;
}
.k4pencil
{
	
	left: 40%;
	position: absolute;
	top: 42%;
	width: 6%;
	transform:rotate(-120deg);
	-moz-transform:rotate(-120deg);
	-webkit-transform:rotate(-120deg);
	z-index:90;
	display:none;
}

img {
width: 100%;
}