#mirror2
{
	position: relative;
	width: 100%;
	height: 100%;
	
}
.k2mirror1
{
	
	
	left: 10%;
	position: absolute;
	top: 10%;
	width: 40%;
	
}
.k2mirror1 img 
{
	width: 100%;
}
.k2mirror2
{
	
    left: 10%;
    position: absolute;
    top: 40%;
    width: 40%;
    z-index: 100;
	
}
.k2mirror2 img 
{
	width: 100%;
}
.k2mirror3
{
	
    left: 25%;
    position: absolute;
    top: 55%;
    width: 40%;
    z-index: 200;
	
}
.k2mirror3 img 
{
	width: 100%;
}
.k2tape1
{
	background:#FFFFFF;
	height: 4%;
	left: 16%;
	position: absolute;
	top: 31%;
	-moz-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	width:  37%;
	border:#222222 1px solid;
	display:none;
	 z-index: 250;
}
.k2tape2
{
	background:#FFFFFF;
	  height: 4%;
    left: 19%;
    position: absolute;
    top: 53%;
	-moz-transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	width: 37%;
	border:#222222 1px solid;
	display:none;
	z-index: 250;
	
}
.k2taperoll1
{
	
   
    width: 12%;
    position: absolute!important;
    top:10%;
    left: 14%;
    z-index: 300;
    display: none;
	
}
.k2taperoll1 img,
.k2taperoll2 img
{
	width: 100%;
}

.k2taperoll2
{
	
    left: 14%;
    position: absolute;
    top: 35%;
    width: 12%;
	display:none;
	 z-index: 300;
}

