.bg{
    background-color:white;
    background-size: 100% 100%;
}
.chtitle{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 50%;
    transform: translateY(-50%);
    left:0%;
    color: white;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #f6f4d2;
    top: 0;
    left: 0;
    padding-right: 15%;
}
.question{
    position: absolute;
    width: 100%;
    height: 32%;
    bottom: 0%;
    background-color: #f6f4d2;
    padding-bottom: 12%;
    left: 0%;
    padding-top: 1%;
}
.option{
    position: absolute;
    width: 35%;
    height: 15%;
    border-radius: 14px;
    top: 83%;
    background-color: #3c78d8;
    color: white;
}
.opt1{
    left: 10%;
}
.opt2{
    right:10%;
}


.option1{
    position: absolute;
    width: 27%;
    height: 15%;
    border-radius: 14px;
    top: 83%;
    background-color: #3c78d8;
    color: white;
}
.opt11{
    left: 5%;
}
.opt22{
    left:37%;
}
.opt33{
    right:5%;
}


.option:hover,.option1:hover{
    border: 4px solid #e69138;
    border-radius: 14px;
    background-color: #f6b26b;
    cursor: pointer;
}
.correctwrongimg{
    width: 9%;
    left: 61%;
    bottom: 33%;
}
.correctwrongimg1{
    width: 9%;
    left: 61%;
    bottom: 95%;
}
.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}
.figure{
    position: absolute;
    width: 100%;
    bottom: 32%;
    height: 8%;
}
.mainimage{
    position: absolute;
    width: 100%;
    top: 16%;
}
.fig1{
    position: absolute;
    width: 25%;
    bottom: 32%;
    height: 8%;
    left:3%;
}
.fig2{
    position: absolute;
    width: 25%;
    bottom: 32%;
    height: 8%;
    left:37%;
}
.fig3{
    position: absolute;
    width: 25%;
    bottom: 32%;
    height: 8%;
    left:71%;
}
.mainimage1{
    position: absolute;
    width: 18%;
    left: 43%;
    z-index:2;
}
