lolo.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
	background:#fff;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	/*display: none;*/
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 3% 2% 2%;
	/*padding-top: 3%;*/

}

.wrapperIntro.firstPage .text0 ,
{
	font-size: 2.3em;
	margin-bottom:30px;
	/*border:solid 2px #538cdb;*/
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;

}

.wrapperIntro.firstPage{
	background:#d1d4f2;
}


.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/

	color: #996699 ;
}

.wrapperIntro.firstPage .ind2{

	color: #996699 ;
}


.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}

.wrapperIntro.firstPage .text2{
	font-size: 1.3em;
	display:none;
}

.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8
 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}


.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

/*
.wrapperIntro.second .text0 {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
}

.wrapperIntro.second .text0:after {
	position: absolute;
	width: 25%;
	height: 1px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.second .text1 {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
}

.wrapperIntro.second .text1:after {
	position: absolute;
	width: 50%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}
*/
.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0 ,
.wrapperIntro.baseAndIndices2 .text1 {
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform : rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform : rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform : rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform : rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5{
	color:#538cdb;
}


/*added by manish*/



.wrapperIntro.second .text1,
.wrapperIntro.second .text2,
.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12,
.wrapperIntro.second .text13,
.wrapperIntro.second .text14


{

	text-align:left;
	display:none;

}

.wrapperIntro.second .text0 {

	color: #d788b1;
    font-size: 2.3em;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;

}


.wrapperIntro.second .yellow {
    color: #F2C249;
}


.wrapperIntro.second .green {
    color: #00AAA0;
}

.wrapperIntro.second .imageholder01{
	display:none;
}

.wrapperIntro.second .imageholder02{
	display:none;
}

#fun_1 > img{
	width:54%;
}

#ball_1 {
    background: #F2C249;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%;/*24%;*/
	top: 0;
}


#ball_2 {
    background: #C25B56;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
}

#ball_3{
    background: #00AAA0;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%; /*24%;*/
	top: 0;
}

.img-des1 {
    display: inline-flex;
    width: 100%;
}

.imageholder01{
	width:40%;
}

.image1des {
    float: right;
    padding-top: 60px;
    width: 60%;
}



.img-des2 {
    display: inline-flex;
    width: 100%;
}

.imageholder02{
	width:40%;
}

.image2des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

/*first figure pachi ko styling*/

.des2 {
    margin-left: 151px;
}
.des3 {
    margin-left: 151px;
}

.des6 {
    margin-left: 151px;
}
.des7 {
    margin-left: 151px;
}
/********************third page****************/

.wrapperIntro.third .ind2{
	color: #996699 ;
}

.wrapperIntro.third .imageholder03{
	display:none;
}

#fullname{
	color:#cece00;
	position:absolute;
	top:0;
	left:14%; /*4%;*/
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname{
	color:#538cdb;
	position:absolute;
	left:13%;
}

.imageholder01{
	position:relative;
}


.wrapperIntro.third .text1{
	display:none;
}

.wrapperIntro.third .text2{
	display:none;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des3 {
    display: inline-flex;
    width: 100%;
}

.imageholder03{
	width:40%;
}

.image3des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.des10{
	margin-left:9.55%;
}

.des11{
	margin-left:9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des4 {
    display: inline-flex;
    width: 100%;
}

.imageholder04{
	width:40%;
}

.image4des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.wrapperIntro.third .imageholder04{
	display:none;
}

#fullname01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:7%;/*13%; */
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname01{
	color:#538cdb;
	position:absolute;
	left:13%;
}

/*page4*/

.wrapperIntro.fourth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fourth .imageholder05{
	display:none;
}

.wrapperIntro.fourth .imageholder06{
	display:none;
}

.wrapperIntro.fourth .text1{
	display:none;
}

.wrapperIntro.fourth .text2{
	display:none;
}



.img-des5 {
    display: inline-flex;
    width: 100%;
}

.imageholder05{
	width:40%;
}

.image5des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output01{
	color:#c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 17%;
    padding: 10px;
    position: absolute;
    top: 61%;
}



.img-des6 {
    display: inline-flex;
    width: 100%;
}

.imageholder06{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input02{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output02{
	color:#c25b56;
	position:absolute;
	left:21%;
}
 /*******end of page 4*************/



 /****page5*************/



 .wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fifth .imageholder07{
	display:none;
}

.wrapperIntro.fifth .imageholder08{
	display:none;
}

.wrapperIntro.fifth .text1{
	display:none;
}

.wrapperIntro.fifth .text2{
	display:none;
}



.img-des7 {
    display: inline-flex;
    width: 100%;
}

.imageholder07{
	width:40%;
}

.image7des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input03{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output03{
	color:#C25B56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    width: 15%;
    position: absolute;
    top: 57%;
	text-align:center;
	font-style:bold;
}



.img-des8 {
    display: inline-flex;
    width: 100%;
}

.imageholder08{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input04{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output04{
	color:#C25B56;
	position:absolute;
	left:21%;
}


 /******end of page5********/

 /*added by manish*/




.coin {
    margin-left: 9%;
    margin-top: 27%;
    width: 16%;
	position:absolute;
	bottom:7%;
}


.wrapperIntro.second .des4{
	padding-top:10px;
}


.wrapperIntro.second .des8 {
    border: 2px solid #538cdb;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;

    width: 712px;
	display:none;
}

.p1_41 {
    border: 2px solid #538cdb;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 712px;
}

.p1_39 {
    margin-left: 19%;
}

.p1_40 {
    margin-left: 19%;
}


.image8des {
    margin-top: 100px;
}
 /*added by sangina*/



 .wrapperIntro.third .text3{
	display:none;
	 }
.wrapperIntro.third .ind5{
	color:#0CF;
}



.wrapperIntro.fourth .text1{
	display:none;
	 }
.wrapperIntro.fourth .text2{
	display:none;
}
.wrapperIntro.fourth .text3{
	display:none;
}


/*added by manish*/

.f3_1,
.f3_2,
.f3_3,
.f3_4,
.f3_5
 {
    display: none;
    width: 100%;
}

.f3_6{
	display:none;
}

.img2 {
    width: 8%;
}

.img2 > img {
    width: 100%;
}


.img1 {
    width: 7%;
}

.img1 > img {
    width: 100%;
}



#p2_11 ,
#p2_12,
#p2_15,
#p2_16,
#p2_17
{
    margin:	auto;
    width: 79%;
	/*background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;*/
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
	width:80%;
	padding-bottom:8px;
	padding-top:8px;
	padding-left:20px;
	color:#224994;
	box-shadow:1px 2px 5px 0px rgba(0,0,0,0.75);



}


.highlight {


    margin-left: 10px;
    color:#996699;
	margin-right:10px;
}

.f3_6 {
    background: #eaeaea none repeat scroll 0 0;
	border:2px solid #000;
    margin: 2% auto 0;
    padding: 1%;
    text-align: center;
    width: 76%;
}

.wrapperIntro.fourth .text1,
.wrapperIntro.fourth .text2,
.wrapperIntro.fourth .text3,
.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text5,
.wrapperIntro.fourth .text6,
.wrapperIntro.fourth .text7,
.wrapperIntro.fourth .text8,
.wrapperIntro.fourth .text9,
.wrapperIntro.fourth .text10,
.wrapperIntro.fourth .text11
{

	display:none;
	line-height: 2em;
	font-size:1.3em;

}

.wrapperIntro.fourth .text0{

	font-size:1.3em;
	color:#0068b3;
}







.main-bg .img-responsive{
	left: 19%;
    margin-top: 9%;
    position: absolute;
    width: 55%;
}





/*added for simple interest*/

.char-holder{
	width:100%;
	display:inline-flex;
}

/*
.char-a{
	margin-left:14%;
	width:32%
}

.char-b{
	width:32%;
}
*/

.slideRight {
    animation-duration: 0.5s !important;

}

.slideLeft {
    animation-duration: 0.5s !important;

}


.row.char-holder {
    position: absolute;
    top: 67%;
}

.bubble1{
	display:none;
	position:absolute;
	top:20%
}

.bubble2{
	display:none;
	position:absolute;
	top:20%
}


.wrapperIntro.firstPage .text1,
.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text7
{

	display:none;
    color: #0068b3;
    font-size: 1.75em;
	text-align:justify;
	z-index:1000;
	width:100%;

}


.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11
{

	display:none;

    font-size: 1.3em;

	text-align:justify;
	z-index:1000;
	width:100%;

}

.wrapperIntro.firstPage .text0
{
	 color: #0c6db3;
    font-size: 2.3em;
    margin-bottom: 2%;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;

}


.wrapperIntro.second .bubble3{
	display:none;
}


.char-align{

	position:relative !important;
	margin-left:55% !Important;
	width:22% !important;
	top:33% !important;

}

.wrapperIntro.third .text1,
.wrapperIntro.third .text2,
.wrapperIntro.third .text3,

.wrapperIntro.third .text5,
.wrapperIntro.third .text6,
.wrapperIntro.third .text7,
.wrapperIntro.third .text8,
.wrapperIntro.third .text9,
.wrapperIntro.third .text10,
.wrapperIntro.third .text11,
.wrapperIntro.third .text12,
.wrapperIntro.third .text13,
.wrapperIntro.third .text14,
.wrapperIntro.third .text15,
.wrapperIntro.third .text16,
.wrapperIntro.third .text17

{
	display:none;
}


.wrapperIntro.firstPage .char-a .img-responsive {
    top: 2%;
    width: 55%;
}


.wrapperIntro.firstPage .char-b .img-responsive {

    top: 2%;
    width: 55%;
}


.wrapperIntro.second .char-a .img-responsive {
    top: 2%;
    width: 55%;
	left: 3%;
}

.wrapperIntro.third .char-a .img-responsive {
    top: 2%;
    width: 55%;
	left: 3%;
}



.wrapperIntro.second .char-b .img-responsive {

    top: 2%;
    width: 55%;
	position:absolute;
}



.wrapperIntro.third .char-b .img-responsive {

    top: 2%;
    width: 55%;
	position:absolute;
}



.green{
	color: #8fc557;
}



.wrapperIntro.second .text1,
.wrapperIntro.second .text3,

.wrapperIntro.second .text7
{

	display:none;
    color: #0068b3;
    font-size: 1.8em;

	text-align:justify;
	z-index:1000;
	width:100%;


}


.wrapperIntro.second .text2,

.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text6,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11
{

	display:none;

    font-size: 1.3em;

	text-align:center;
	z-index:1000;
	width:100%;

}

.wrapperIntro.firstPage .text1{

	top:17%;
	text-align:center !important;
}


.wrapperIntro.firstPage .text2{

	top:17%;
	text-align:center !important;
	color:#0068b3;
	font-size:1.75em;
}


.wrapperIntro.firstPage .text3 {
    line-height: 2.35em;
    padding: 3%;
    top: 1%;
}

.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8{

	padding-left: 3%;
    padding-right: 3%;
	top:7%;
	color: #0068b3;
	font-size:1.75em;
}


.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11{

	padding-left: 1%;
    top: 10%;
    color: #0068b3;
    font-size: 1.5em;
}

.wrapperIntro.second .text1 {

	color: #333333;
    display: none;
    font-size: 1.3em;
    position: absolute;
    right: 3%;
    top: 37%;
    width: 40%;
    z-index: 100;
}


.wrapperIntro.second .text2{

	color: #333333;
	display: none;
    font-size: 1.3em;
    left: 10%;
    position: absolute;
    top: 37%;
    width: 40%;
    z-index: 100;


}


.wrapperIntro.second .text3 {

	color: #333333;
    display: none;
    font-size: 1.3em;
    position: absolute;
    right: 11%;
    top: 35%;
    width: 40%;
    z-index: 100;

}


.wrapperIntro.second .text4

{

	color: #333333;
	display: none;
    font-size: 1.3em;
    left: 10%;
    position: absolute;
    top: 32%;
    width: 40%;
    z-index: 100;

}


.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10{

	color: #0068b3;
    line-height: 2.35em;
    padding-left: 3%;
    padding-right: 3%;




}

.wrapperIntro.firstPage .squirrel-listening01,
.wrapperIntro.second .squirrel-listening01,
.wrapperIntro.third .squirrel-listening01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking01,
.wrapperIntro.second .Squirrel-Thinking01,
.wrapperIntro.third .Squirrel-Thinking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking01,
.wrapperIntro.second .squirrel-talking01,
.wrapperIntro.third .squirrel-talking01{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking01,
.wrapperIntro.second .boy-talking01,
.wrapperIntro.third .boy-talking01
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.firstPage .boy-listening01,
.wrapperIntro.second .boy-listening01,
.wrapperIntro.third .boy-listening01{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}






.wrapperIntro.firstPage .squirrel-listening02,
.wrapperIntro.second .squirrel-listening02,
.wrapperIntro.third .squirrel-listening02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking02,
.wrapperIntro.second .Squirrel-Thinking02,
.wrapperIntro.third .Squirrel-Thinking02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking02,
.wrapperIntro.second .squirrel-talking02,
.wrapperIntro.third .squirrel-talking02{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking02,
.wrapperIntro.second .boy-talking02,
.wrapperIntro.third .boy-talking02
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.firstPage .boy-listening02,
.wrapperIntro.second .boy-listening02,
.wrapperIntro.third .boy-listening02{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}





.wrapperIntro.firstPage .squirrel-listening03,
.wrapperIntro.second .squirrel-listening03,
.wrapperIntro.third .squirrel-listening03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking03,
.wrapperIntro.second .Squirrel-Thinking03,
.wrapperIntro.third .Squirrel-Thinking03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking03,
.wrapperIntro.second .squirrel-talking03,
.wrapperIntro.third .squirrel-talking03{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking03,
.wrapperIntro.second .boy-talking03,
.wrapperIntro.third .boy-talking03
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .boy-listening03,
.wrapperIntro.second .boy-listening03,
.wrapperIntro.third .boy-listening03{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.char-b {
	margin-left: 23%;
    width: 50%;
}

.wrapperIntro.firstPage .char-b {
    position: absolute;
}

.wrapperIntro.second {
    background: #fff;
}



.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8 {
    line-height: 2.35em;

}

.wrapperIntro.firstPage .con1,
.wrapperIntro.firstPage .con2,
.wrapperIntro.firstPage .con3,
.wrapperIntro.firstPage .con4,
.wrapperIntro.firstPage .con5,
.wrapperIntro.firstPage .con6,
.wrapperIntro.firstPage .con7,
.wrapperIntro.firstPage .con8{

	display:none;
	width:100%;

}

.wrapperIntro.firstPage .text4{

	line-height: 2em;
    top: -1%;

}

.wrapperIntro.firstPage .text5 {
    top: 0;
}

.char-a {
    margin-left: 13%;
    width: 32%;
}

.char-holder {
    margin-bottom: 0;
    width: 100% !important;
}

.wrapperIntro.firstPage .char-b {
    position: absolute;
}

.char-b {
    width: 32%;
}




.wrapperIntro.second .text4 {

	line-height: 2.35em;
    text-align: center;

}



.wrapperIntro.second .text6{

	font-size: 1.75em;
    left: 32%;
    position: absolute;
    top: 38%;
	width:65%;

}

.highlights{

	background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;

    font-size: 0.65em;
    padding: 1%;
    text-align: center;
    width: 60%;
	font-weight:bold;

}

.wrapperIntro.second .multiply{
	display:none;
	color:#0068b3;
}

.wrapperIntro.second .divide{

	color:#0068b3;
}

.wrapperIntro.second .divide1{
	display:none;
	color:#0068b3;
}

.wrapperIntro.second .multiply1{

	color:#0068b3;
}

.highlights1{

	font-size:0.55em;
	background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    padding: 1%;
    text-align: center;
    width: 60%;
	font-weight:bold;
}




.wrapperIntro.third .text0{

	color: #0c6db3;
    font-size: 1.6em;
    padding-bottom: 4%;
    text-align: center;
    text-shadow: 1px 1px #cccccc;
}

.wrapperIntro.third .text1 {
    color: #0c6db3;
    font-size: 1.3em;
    margin-bottom: 2%;
   /* text-shadow: 1px 1px #cccccc;*/
}

.wrapperIntro.third .text2{

	color:#5c5c5c;
	font-size:1.3em;
	margin-bottom: 2%;

}

.wrapperIntro.third .text3 {
    color: #fea200;
    margin-left: 4%;
	font-size:1.3em;
}



.wrapperIntro.third .solution00,
.wrapperIntro.third .solution01,
.wrapperIntro.third .solution02,
.wrapperIntro.third .solution03,
.wrapperIntro.third .solution04,
.wrapperIntro.third .solution05,
.wrapperIntro.third .solution06,
.wrapperIntro.third .solution07,
.wrapperIntro.third .solution08,
.wrapperIntro.third .solution09,
.wrapperIntro.third .solution10,
.wrapperIntro.third .solution12,
.wrapperIntro.third .solution11,
.wrapperIntro.third .solution13

{

	display:none;
	font-size:1.3em;
	color:#5c5c5c;
	line-height:1.75em;

}


.wrapperIntro.third .solution04 {
    color: #8827d6;
}

.wrapperIntro.third .solution11 {
    color: #8827d6;
}


.wrapperIntro.third .solution05,
.wrapperIntro.third .solution06 {

    margin-left:22%;
}

.wrapperIntro.third .solution12,
.wrapperIntro.third .solution13{

	margin-left:14.45%;
}

mn {
    font-family: arial;
    font-size: 1em;
}

.multiply, .divide {
    color: #333333 !important;
}




/*added*/
.main-bg1 {
    margin: 0 auto;
    width: 58%;
}

.title1 {
    color: #0c6db3;
    display: none;
    font-size: 2.1em;
    margin-top: 4%;
    text-align: center;
    text-shadow: 1px 1px #cccccc;
    z-index: -1;
}

.title2 {
    color: #23b573;
    display: none;
    font-size: 3.1em;
    left: 30%;
    margin-top: 1%;
    text-align: center;
    top: 44%;
    width: 40%;
}
}
@-webkit-keyframes leftleft1{
    to{
        font-size: 2.5em;
    }
}
@-moz-keyframes leftleft1{
    to{
        font-size: 2.5em;
    }
}
@keyframes leftleft1{
    to{
        font-size: 2.5em;
    }
}

.moveleftanim1{
    animation: leftleft1 1s linear 0.5s 1 forwards;
    -webkit-animation: leftleft1 1s linear 0.5s 1 forwards;
    -moz-animation: leftleft1 1s linear 0.5s 1 forwards;
}


.main-bg1 .img-responsive, .main-bg2 .img-responsive, .main-bg3 .img-responsive {
    position: absolute;
    width: 100%;
}


/*slide3*/

.wrapperIntro.third .text0 {
	font-size: 2.3em;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
	color: #0068b3;
}



.wrapperIntro.third .text1 {

	color: #0068b3;
    font-size: 1.75em;
    line-height: 2.35em;
    padding-right: 3%;
    text-align: center;
    top: 12%;
    z-index: 10;
}


.wrapperIntro.third .text2{

	color: #0068b3;
    font-size: 1.75em;
    left: 36%;
    line-height: 2.35em;
    padding-left: 2%;
    padding-right: 3%;
    top: 16%;
    width: 62%;
    z-index: 10;

}

.wrapperIntro.third .text3

{
	color: #0068b3;
    font-size: 1.75em;
    line-height: 2.35em;
    padding-left: 0;
    padding-right: 3%;
    top: -1%;
    z-index: 10;


}


.wrapperIntro.third .text4

{
	color: #0068b3;
    font-size: 1.75em;
    line-height: 2.35em;
    padding-left: 0;
	display:none;
    top: 13%;
    z-index: 10;
	text-align:center;


}

.wrapperIntro.third .circle-img{

	bottom: 53%;
    display: none;
    position: absolute;
    right: 9%;
    width: 17%;
}

.wrapperIntro.third .circle-img01{

	bottom: 18%;
    display: none;
    position: absolute;
    right: 9%;
    width: 17%;
}




.wrapperIntro.third .symbol {
    color: #f8735d;
    font-weight: bold;
}


.wrapperIntro.third .text8
{
  color:#8827d6;
  }

/*animation gif*/

.wrapperIntro.second .circle-paint {

	display: none;
    left: 41%;
    position: absolute;
    top: 63%;
    width: 21%;
    z-index: 10;
}

.wrapperIntro.second .triangle-paint {

	display: none;
    left: 41%;
    position: absolute;
    top: 63%;
    width: 21%;
    z-index: 10;
}


.wrapperIntro.second .square-paint {

	display: none;
    left: 41%;
    position: absolute;
    top: 63%;
    width: 21%;
    z-index: 10;

}
/*end of gif animnation*/




.wrapperIntro.second .text11 {
    color: #8827d6;
    font-size: 1.75em;
    line-height: 2.35em ;

}

sub {
    bottom: 0.75em !important;
	}

.wrapperIntro.third .cycle-wheel {
    display: none;
    left: 5%;
    position: absolute;
    top: 22%;
    width: 21%;
}

.wrapperIntro.third .wheel-divide {
    display: none;
    left: 5%;
    position: absolute;
    top: 22%;
    width: 21%;
}

.wrapperIntro.third .arrow {
    left: 38%;
    position: absolute;
    top: 30%;
    width: 14%;
	display:none;

}

.wrapperIntro.third .circle-rect {
    left: 56%;
    position: absolute;
    top: 30%;
    width: 38%;
	display:none;
}

/*fourth page */



.wrapperIntro.fourth .text0 {
    color: #c36a3d;
    font-size: 2.3em;
    margin-top: 0%;
    padding-bottom: 4%;
    text-align: center;
    text-shadow: 1px 2px #525252;
    z-index: 10;
}


.wrapperIntro.fourth .wheel-divide {
    display: none;
    left: 15%;
    position: absolute;
    top: 20%;
    width: 14%;
}

.wrapperIntro.fourth .arrow {
	display: none;
    left: 36%;
    position: absolute;
    top: 27%;
    width: 7%;
}

.wrapperIntro.fourth .circle-rect {
    display: none;
    left: 47%;
    position: absolute;
    top: 21%;
    width: 38%;
}

.splash_screen {
    height: 96.5%;
    left: 1%;
    margin: 0 auto;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 1.75%;
    width: 98%;
}

.wrapperIntro.fourth .text1 {
    margin-left: 2%;
    margin-top: 17%;
    width: 52%;
}

.wrapperIntro.fourth .text2,
.wrapperIntro.fourth .text3	{

	margin-left: 2%;
    width: 52%;
}


.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text5{
	width: 44%;
	margin-left:9%;

}

.wrapperIntro.fourth .text4{

	color:#8827d6;

	}

.wrapperIntro.fourth .text6{
	width: 33%;
	margin-left:28.65%;

}

.wrapperIntro.fourth .text7 {
    position: absolute;
    right: 11%;
    top: 52%;
    width: 30%;
}

.wrapperIntro.fourth .text8 {
    position: absolute;
    right: 11%;
    top: 58.25%;
    width: 30%;
	color:#8827d6;
}

.wrapperIntro.fourth .text9{

	position: absolute;
    right: 0.15%;
    top: 64.35%;
    width: 30%;

}

.wrapperIntro.fourth .text10{

	position: absolute;
    right: 0.15%;
    top: 70.35%;
    width: 30%;

}


.wrapperIntro.fourth .text11 {
    position: absolute;
    right: 0.15%;
    top: 76.3%;
    width: 30%;
}


.wrapperIntro.fourth .text12{

	display: none;
    font-size: 1.3em;
    position: absolute;
    right: 12.72%;
    width: 30%;
	top:82%;
	color:#8827d6;

}


.wrapperIntro.fourth .text13{

	bottom: 6%;
    color: #c36a3d;
    display: none;
    font-size: 1.3em;
    left: 30%;
    position: absolute;

}

/* new bub*/

.bub2::before {
    border-color: #FEA92A rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
}

.bub2 {
    background: #fff2cc none repeat scroll 0 0;
    border: 2px solid #fea92a;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    right: 6%;
    top: 24%;
    width: 48%;
}


.bub1::before {

	border-color: #fea92a rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 8%;
    position: absolute;
    width: 0;
}


.bub1 {
    background: #fff2cc none repeat scroll 0 0;
    border: 2px solid #fea92a;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    left: 6%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    top: 24%;
    width: 48%;
}


.wrapperIntro.second .text5{

	color: #333333;
    display: none;
    font-size: 1.3em;
    left: 15%;
    position: absolute;
    top: 37%;
    width: 40%;
    z-index: 100;


}

.wrapperIntro.second .text6{

	color: #333333;
    display: none;
    font-size: 1.3em;
    left: 10%;
    position: absolute;
    top: 37%;
    width: 40%;
    z-index: 100;


}

.wrapperIntro.second .text7 {
    color: #333333;
    display: none;
    font-size: 1.3em;
    left: 10%;
    position: absolute;
    top: 37%;
    width: 40%;
    z-index: 100;
}

.wrapperIntro.second .text8 {

	color: #333333;
    display: none;
    font-size: 1.3em;
    left: 10%;
    position: absolute;
    top: 29%;
    width: 40%;
    z-index: 100;

}

.wrapperIntro.second .text9{

	color: #333333;
    display: none;
    font-size: 1.3em;
    left: 50%;
    position: absolute;
    top: 34%;
    width: 40%;
    z-index: 100;

}


.wrapperIntro.second .text10{

	color: #333333;
    display: none;
    font-size: 1.3em;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 31%;
    width: 40%;
    z-index: 100;


}

/*secondlast page*/

.wrapperIntro.fifth .text0 {
    color: #0c6db3;
    font-size: 1.7em;
    padding-bottom: 1%;
    text-align: center;
    text-shadow: 1px 1px #cccccc;
}

.wrapperIntro.fifth .text1 {
    color: #8484e1;
    font-size: 1.3em;
    margin-bottom: 1%;
}

.wrapperIntro.fifth .text2 {
    color: #5c5c5c;
    display: none;
    margin-bottom: 1%;
	 font-size: 1.3em;
}

.wrapperIntro.fifth .text3 {
    color: #fea200;
    display: none;
    margin-bottom: 1%;
	 font-size: 1.3em;
}

.wrapperIntro.fifth .text4 {
    height: 54%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 2.5%;
    width: 86%;
	 font-size: 1.3em;
}


.wrapperIntro.fifth .solution00,
.wrapperIntro.fifth .solution01,
 .wrapperIntro.fifth .solution02,
 .wrapperIntro.fifth .solution03,
 .wrapperIntro.fifth .solution04,
 .wrapperIntro.fifth .solution05,
 .wrapperIntro.fifth .solution06,
 .wrapperIntro.fifth .solution07,
 .wrapperIntro.fifth .solution08,
 .wrapperIntro.fifth .solution09,
 .wrapperIntro.fifth .solution10,
 .wrapperIntro.fifth .solution11,
 .wrapperIntro.fifth .solution12,
 .wrapperIntro.fifth .solution13,
 .wrapperIntro.fifth .solution14,
 .wrapperIntro.fifth .solution15,
 .wrapperIntro.fifth .solution16,
 .wrapperIntro.fifth .solution17,
 .wrapperIntro.fifth .solution18 {
    color: #5c5c5c;
    display: none;
    line-height: 1.75em;
	 	font-size: 1em;
		width: 100%;
}

.wrapperIntro.fifth .solution06 {
    background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    margin-top: 1%;
    padding: 1%;
    text-align: justify;
    width: 100%;
}

.inputbox {
	display:none;
}

#inputcheck {
    font-size: 1.3em;
    text-align: center;
    width: 25%;
}

.wrapperIntro.fifth {
    background: #ffffff none repeat scroll 0 0;
}


/*last page*/

.wrapperIntro.sixth .text0 {
    color: #0c6db3;
    font-size: 1.7em;
    padding-bottom: 1%;
    text-align: center;
    text-shadow: 1px 1px #cccccc;
}

.wrapperIntro.sixth .text1 {
    color: #8484e1;
    font-size: 1.3em;
    margin-bottom: 1%;
}

.wrapperIntro.sixth .text2 {
    color: #5c5c5c;
    display: none;
    margin-bottom: 1%;
	 font-size: 1.3em;
}

.wrapperIntro.sixth .text3 {
    color: #fea200;
    display: none;
    margin-bottom: 1%;
	 font-size: 1.3em;
}

.wrapperIntro.sixth .text4 {
    height: 66%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 2.5%;
    width: 86%;
	font-size: 1.3em;
}


.wrapperIntro.sixth .solution00,
.wrapperIntro.sixth .solution01,
 .wrapperIntro.sixth .solution02,
 .wrapperIntro.sixth .solution03,
 .wrapperIntro.sixth .solution04,
 .wrapperIntro.sixth .solution05,
 .wrapperIntro.sixth .solution06,
 .wrapperIntro.sixth .solution07,
 .wrapperIntro.sixth .solution08,
 .wrapperIntro.sixth .solution09,
 .wrapperIntro.sixth .solution10,
 .wrapperIntro.sixth .solution11,
 .wrapperIntro.sixth .solution12,
 .wrapperIntro.sixth .solution13,
 .wrapperIntro.sixth .solution14,
 .wrapperIntro.sixth .solution15,
 .wrapperIntro.sixth .solution16,
 .wrapperIntro.sixth .solution17,
 .wrapperIntro.sixth .solution18 {
    color: #5c5c5c;
    display: none;
    line-height: 1.75em;
	 font-size: 1em;
}

.wrapperIntro.sixth .solution09 {
    background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    margin-top: 1%;
    padding: 1%;
    text-align: justify;
    width: 100%;
}

.wrapperIntro.sixth {
    background: #ffffff none repeat scroll 0 0;
}

.wrapperIntro.fifth .text5 {
    background: #00cadc none repeat scroll 0 0;
    border-radius: 6px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    left: 53%;
    padding: 2%;
    position: absolute;
    top: 60%;
}



.inner{
	width: 50%
}

.animate-zoom {
	-webkit-animation:animatezoom 2s;
	animation:animatezoom 2s
}

@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.delay{
-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    }
