.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 2.5vh;

	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	/*display: none;*/
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding:3% 2% 2%;

}



.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1.3em;
	color: #996699 ;
}

.wrapperIntro.firstPage .ind2{
	font-size: 1.3em;
	color: #996699 ;
}



.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}


.wrapperIntro.firstPage .text2{

	display:none;
	color:#5c5c5c;
	margin-bottom:1%;
	}





.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12 {
	font-size: 1em;
	display: none;
	color:#5c5c5c;
	margin-left:12%;
	line-height:1.75em;
}


.wrapperIntro.firstPage .text1 {
    color: #e21e23;
    font-size: 1.3em;
  	display:none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}


.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

/*
.wrapperIntro.second .text0 {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
}

.wrapperIntro.second .text0:after {
	position: absolute;
	width: 25%;
	height: 1px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.second .text1 {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
}

.wrapperIntro.second .text1:after {
	position: absolute;
	width: 50%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}
*/
.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1.3em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0 ,
.wrapperIntro.baseAndIndices2 .text1 {
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform : rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform : rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform : rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform : rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5{
	color:#538cdb;
}


/*added by manish*/

.wrapperIntro.second .text1,
.wrapperIntro.second .text2,

.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12,
.wrapperIntro.second .text13,
.wrapperIntro.second .text14{
	font-size: 1em;
	display: none;

}

.wrapperIntro.second .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}





.wrapperIntro.second .text7 {

}

.wrapperIntro.second .text8 {

}

.wrapperIntro.second .yellow {
    color: #F2C249;
}


.wrapperIntro.second .green {
    color: #00AAA0;
}

.wrapperIntro.second .imageholder01{
	display:none;
}

.wrapperIntro.second .imageholder02{
	display:none;
}

#fun_1 > img{
	width:54%;
}

#ball_1 {
    background: #F2C249;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%;/*24%;*/
	top: 0;
}


#ball_2 {
    background: #C25B56;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
}

#ball_3{
    background: #00AAA0;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%; /*24%;*/
	top: 0;
}

.img-des1 {
    display: inline-flex;
    width: 100%;
}

.imageholder01{
	width:40%;
}

.image1des {
    float: right;
    padding-top: 60px;
    width: 60%;
}



.img-des2 {
    display: inline-flex;
    width: 100%;
}

.imageholder02{
	width:40%;
}

.image2des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

/*first figure pachi ko styling*/

.des2 {
    margin-left: 151px;
}
.des3 {
    margin-left: 151px;
}

.des6 {
    margin-left: 151px;
}
.des7 {
    margin-left: 151px;
}
/********************third page****************/

.wrapperIntro.third .ind2{
	color: #996699 ;
}

.wrapperIntro.third .imageholder03{
	display:none;
}

#fullname{
	color:#cece00;
	position:absolute;
	top:0;
	left:14%; /*4%;*/
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname{
	color:#538cdb;
	position:absolute;
	left:13%;
}

.imageholder01{
	position:relative;
}


.wrapperIntro.third .text1{
	display:none;
}

.wrapperIntro.third .text2{
	display:none;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des3 {
    display: inline-flex;
    width: 100%;
}

.imageholder03{
	width:40%;
}

.image3des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.des10{
	margin-left:9.55%;
}

.des11{
	margin-left:9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des4 {
    display: inline-flex;
    width: 100%;
}

.imageholder04{
	width:40%;
}

.image4des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.wrapperIntro.third .imageholder04{
	display:none;
}

#fullname01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:7%;/*13%; */
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname01{
	color:#538cdb;
	position:absolute;
	left:13%;
}

/*page4*/

.wrapperIntro.fourth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fourth .imageholder05{
	display:none;
}

.wrapperIntro.fourth .imageholder06{
	display:none;
}

.wrapperIntro.fourth .text1{
	display:none;
}

.wrapperIntro.fourth .text2{
	display:none;
}



.img-des5 {
    display: inline-flex;
    width: 100%;
}

.imageholder05{
	width:40%;
}

.image5des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output01{
	color:#c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 17%;
    padding: 10px;
    position: absolute;
    top: 61%;
}



.img-des6 {
    display: inline-flex;
    width: 100%;
}

.imageholder06{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input02{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output02{
	color:#c25b56;
	position:absolute;
	left:21%;
}
 /*******end of page 4*************/



 /****page5*************/



 .wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fifth .imageholder07{
	display:none;
}

.wrapperIntro.fifth .imageholder08{
	display:none;
}

.wrapperIntro.fifth .text1{
	display:none;
}

.wrapperIntro.fifth .text2{
	display:none;
}



.img-des7 {
    display: inline-flex;
    width: 100%;
}

.imageholder07{
	width:40%;
}

.image7des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input03{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output03{
	color:#C25B56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    width: 15%;
    position: absolute;
    top: 57%;
	text-align:center;
	font-style:bold;
}



.img-des8 {
    display: inline-flex;
    width: 100%;
}

.imageholder08{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input04{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output04{
	color:#C25B56;
	position:absolute;
	left:21%;
}


 /******end of page5********/

 /*added by manish*/















.wrapperIntro.second .des8 {
    border: 2px solid #538cdb;
    font-size: 1.5em;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 712px;
	display:none;
}

.p1_41 {
    border: 2px solid #538cdb;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 712px;
}

.p1_39 {
    margin-left: 19%;
}

.p1_40 {
    margin-left: 19%;
}


.image8des {
    margin-top: 100px;
}
 /*added by sangina*/



 .wrapperIntro.third .text3{
	display:none;
	 }
.wrapperIntro.third .ind5{
	color:#0CF;
}



.wrapperIntro.fourth .text1{
	display:none;
	 }
.wrapperIntro.fourth .text2{
	display:none;
}
.wrapperIntro.fourth .text3{
	display:none;
}


/*added by manish*/


.f3_2,
.f3_3,
.f3_4,
.f3_5
 {
    display: none;
    width: 100%;
}

.f3_6{
	display:none;
}

.img2 {
    width: 8%;
}

.img2 > img {
    width: 100%;
}


.img1 {

}

.img1 > img {

}
#p8_2
{
    margin: 0 auto;
    width: 79%;
	background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
    padding: 5%;
}

#p2_11 ,
#p2_12,
#p2_15,
#p2_16,
#p2_17,
#p8_3

{
    margin: 0 auto;
    width: 79%;
	background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
    padding: 5%;
}


.highlight {
    background: grey none repeat scroll 0 0;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.footerNotification .continuePage {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: medium none;
    height: 100%;
    left: 78%;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 17%;
}

.f3_6 {
    background: floralwhite none repeat scroll 0 0;
    border-radius: 5px;
    margin: 2% auto 0;
    padding: 1%;
    text-align: center;
    width: 76%;
}

.wrapperIntro.fourth .text1,
.wrapperIntro.fourth .text2,
.wrapperIntro.fourth .text3,
.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text5,
.wrapperIntro.fourth .text6,
.wrapperIntro.fourth .text7,
.wrapperIntro.fourth .text8,
.wrapperIntro.fourth .text9,
.wrapperIntro.fourth .text10

{

	display:none;
}

.wrapperIntro.firstPage .text0
{
	color: #d788b1;
    font-size: 1.3em;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;

}

.wrapperIntro.firstPage{

	background:#fff;
}

.wrapperIntro.firstPage .text1 {
    color: #8484e1;
    font-size: 1em;
 	margin-bottom:1%;
}


.sim-frac01 > math {
   font-family: arial;
    font-size: 1.4em;
}

.wrapperIntro.firstPage .solution00,
.wrapperIntro.firstPage .solution01,
.wrapperIntro.firstPage .solution02,
.wrapperIntro.firstPage .solution03,
.wrapperIntro.firstPage .solution04,
.wrapperIntro.firstPage .solution05,
.wrapperIntro.firstPage .solution06,
.wrapperIntro.firstPage .solution07,
.wrapperIntro.firstPage .solution08,
.wrapperIntro.firstPage .solution09,
.wrapperIntro.firstPage .solution10,
.wrapperIntro.firstPage .solution11,
.wrapperIntro.firstPage .solution12,
.wrapperIntro.firstPage .solution13,
.wrapperIntro.firstPage .solution14,
.wrapperIntro.firstPage .solution15,
.wrapperIntro.firstPage .solution16,
.wrapperIntro.firstPage .solution17,
.wrapperIntro.firstPage .solution18 {
    color: #5c5c5c;
    display: none;
    line-height: 1.75em;
		width: 100%;
}

.wrapperIntro.firstPage .solution07

   {
    color:#8827d6;
}

.wrapperIntro.firstPage .solution02{

	margin-left:3%;


}



.wrapperIntro.firstPage .solution03{

	margin-left:3%;


}


.wrapperIntro.second .text0 {
    background: #ff595b none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 1.3em;
    margin-bottom: 2%;
    padding: 1.3% 4%;
}


.wrapperIntro.second .text1 {
    clear: both;
    margin-bottom: 2%;
    margin-left: 4%;
	color:#5c5c5c;
}

.wrapperIntro.second .text2 {
    color: #fea200;
    margin-bottom: 1%;
    margin-left: 4%;
}

.wrapperIntro.second .solution00,
.wrapperIntro.second .solution01,
.wrapperIntro.second .solution02,
.wrapperIntro.second .solution03,
.wrapperIntro.second .solution04,
.wrapperIntro.second .solution05,
.wrapperIntro.second .solution06,
.wrapperIntro.second .solution07,
.wrapperIntro.second .solution08,
.wrapperIntro.second .solution09,
.wrapperIntro.second .solution10 {

    color: #5c5c5c;
    display: none;
    font-size: 1em;
    line-height: 1.75em;
}

.wrapperIntro.second .text3 {

	height: 62%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 2.5%;
    width: 86%;

}



.wrapperIntro.second .solution03 {
    color: #8827d6;
}



.wrapperIntro.second .solution10 {
    background: #ffd350 none repeat scroll 0 0;
    margin-top: 2% !important;
    padding: 1.5%;
}


.green{

	color:#8FC557;
}

.blue{

	color:#1CBAED;

}

.red{

	color:#F8735D;
}

.wrapperIntro.firstPage .text4 {
    height: 63%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 2.5%;
    width: 86%;
}

.wrapperIntro.firstpage .text3 {
    color: #fea200;
	display:none;
    margin-bottom: 1%;

}


.wrapperIntro.firstPage .solution08 {
    margin-left: 29.79%;
}

.wrapperIntro.firstPage .solution11,
.wrapperIntro.firstPage .solution12
 {
    margin-left: 2%;
}



.wrapperIntro.firstPage .text5 {

    background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    left: 26%;
    padding: 1%;
    position: absolute;
    text-align: justify;
    top: 49%;
    width: 22%;
}



.wrapperIntro.firstPage .solution16 {
    margin-left:76.35%;
}



.wrapperIntro.firstPage .solution18 {
    background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    padding: 1%;
    text-align: justify;
    width: 100%;
}

.formula{

	color:#8827d6;
}

.wrapperIntro.second .solution08 {
    background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    padding: 1%;
    text-align: justify;
    width: 100%;
}

.wheel {
    display: none;
    left: 206px;
    position: absolute;
    top: 52%;
   /* width: 80%;*/
	width: 68%;
    z-index: 10;

}

.rotate-wheel {
    /*width: 100%;*/
}


.slideRight {
    animation-duration: 5s !Important;

}

.wheel-still {
    left: 205px;
    position: absolute;
    top: 52%; /*40%;*/
	display:none;
	z-index:10;
}

.circum {
    left: 303px;
    position: absolute;
    top:85%;/* 68%;*/
    z-index: 10;
	display:none;
}

.circum2 {
    width: 115%;
}

.col-md-2.conversion {
    border-right: 1px solid #333333;
    margin-right: 2%;
}

/*added for fraction part*/
.fm-inline {
    font-family: arial;
    font-size: 1.3em;
    margin-right: 0.2em;
	color:	#5c5c5c;
}

.solution14 .fm-inline {
    color: #8827d6 !important;
}
.circumferenceTxt{
	position: absolute;
	font-size: 2vh;
	width: 117%;
	top: 90%;
	left: 0%;
	text-align: center;
}
@media (min-aspect-ratio: 4/3) {
	.text0, .text1, .text2, .text3, .text4,
	.wrapperIntro.firstPage .solution00,
	.wrapperIntro.firstPage .solution01,
	.wrapperIntro.firstPage .solution02,
	.wrapperIntro.firstPage .solution03,
	.wrapperIntro.firstPage .solution04,
	.wrapperIntro.firstPage .solution05,
	.wrapperIntro.firstPage .solution06,
	.wrapperIntro.firstPage .solution07,
	.wrapperIntro.firstPage .solution08,
	.wrapperIntro.firstPage .solution09,
	.wrapperIntro.firstPage .solution10,
	.wrapperIntro.firstPage .solution11,
	.wrapperIntro.firstPage .solution12,
	.wrapperIntro.firstPage .solution13,
	.wrapperIntro.firstPage .solution14,
	.wrapperIntro.firstPage .solution15,
	.wrapperIntro.firstPage .solution16,
	.wrapperIntro.firstPage .solution17,
	.wrapperIntro.firstPage .solution18{
		font-size: 2.3vh;
	}
}
@media (max-aspect-ratio: 4/3) {
	.text0, .text1, .text2, .text3, .text4,
	.wrapperIntro.firstPage .solution00,
	.wrapperIntro.firstPage .solution01,
	.wrapperIntro.firstPage .solution02,
	.wrapperIntro.firstPage .solution03,
	.wrapperIntro.firstPage .solution04,
	.wrapperIntro.firstPage .solution05,
	.wrapperIntro.firstPage .solution06,
	.wrapperIntro.firstPage .solution07,
	.wrapperIntro.firstPage .solution08,
	.wrapperIntro.firstPage .solution09,
	.wrapperIntro.firstPage .solution10,
	.wrapperIntro.firstPage .solution11,
	.wrapperIntro.firstPage .solution12,
	.wrapperIntro.firstPage .solution13,
	.wrapperIntro.firstPage .solution14,
	.wrapperIntro.firstPage .solution15,
	.wrapperIntro.firstPage .solution16,
	.wrapperIntro.firstPage .solution17,
	.wrapperIntro.firstPage .solution18 {
		font-size: 2vw;
	}
}
