<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page5.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="ghadi">    
    <div class="board">Hello World!!! [Lesson]</div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
           {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if uppertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if uppertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            
            {{#if weightblock}}
            <div class="weightblock {{weightblockadditionalclass}}">
                    {{#each weightblock}}
                        <div class= "{{weighblocksubclass}}"></div>
                    {{/each}}
            </div>
            {{/if}}
            
            {{#if imageblock}}
            <div class="imageblock">
                {{#each imageblock}}
                    {{>imagecontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if lowertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if lowertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if inputvalues}}
            	{{#each inputvalues}}
            		{{#if inputcontainerclass}}
	            		<div class= "{{inputcontainerclass}}">
            		{{/if}}
		            		{{#if prefixdata}}
		            			<span > {{prefixdata}}</span>
		            		{{/if}}
		            		<input class="{{inputclass}}" src="{{inputimgsrc}}" value="{{inputvalue}}" type="{{inputtype}}">
		            		{{#if suffixdata}}
		            			<span > {{suffixdata}}</span>
		            		{{/if}}
	            	{{#if inputcontainerclass}}
	            		</div>
	            	{{/if}}
            	{{/each}}
            {{/if}}
            
        </div>
    </div>
    {{! content block end--}}
</div>
</script>

<!-- partials separated as subtemplate in handlebars -->

<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
    {{#if breakafterp}}
    	<br/>
    {{/if}}
</script>

<!--partials are seperated as subtemplates in handlebars-->
        <script id="imagecontent-partial" type="text/x-handlebars-template">
            {{#each imagetoshow}}
                <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
            {{/each}}
            <br>
            {{#each imagetodrop}}
                <div class="{{imgtodropclass}}">
                    <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/> 
                </div>
            {{/each}}
            {{#if imagelabels}}
                {{#each imagelabels}}
                    <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
                        data-highlightcustomclass="{{datahighlightcustomclass}}" 
                        >{{{imagelabeldata}}}</label>
                        
                {{/each}}
            {{/if}}
            
        </script>


<!-- js loader starts -->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>