<!--
Title : General Template
-->
<script type="text/javascript">
	$cssLoader("css/common.css");
	$cssLoader("css/page1.css");
	  
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				{{#each imagedivblock}}
					<div class="{{imagediv}}">
						{{#each imagestoshow}}
							<img class="{{imgclass}}" src="{{imgsrc}}">
						{{/each}}
						{{#if imagelabels}}
							{{#each imagelabels}}
								<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
							{{/each}}
						{{/if}}
						{{#if svgblock}}
							<div id="{{svgblock}}"></div>
						{{/if}}
					</div>
				{{/each}}
				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				{{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}}
							{{> definitioncontent}}
						{{/each}}
					</div>
				{{/if}}
				
				{{#each equationblock}}
					<div class="equationblock {{equationblockclass}}">
						{{#if textdata1}}
							<p class="eq-data eq-data-1 {{textclass1}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata1}}}</p>
						{{/if}}
						{{#if imgid1}}
							<img class="eq-img {{imgclass1}}">
						{{/if}}
						
						<img class="sign-img" src="activity/grade4/math/algebra_equation/images/plus.svg">
						
						{{#if textdata2}}
							<p class="eq-data eq-data-2 {{textclass2}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata2}}}</p>
						{{/if}}
						{{#if imgid2}}
							<img class="eq-img {{imgclass2}}">
						{{/if}}
						{{#if optionclass2}}
							<div class="{{optionclass2}}">
								<div class="{{optdivclass2}}">
									<p class="{{optclass2}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{optdata2}}}</p>
								</div>
								<img class='cor-incor correct-icon {{coriconclass}}' src=''>
								<img class='cor-incor incorrect-icon {{incoriconclass}}' src=''>
							</div>
						{{/if}}
						
						<img class="equal-img" src="activity/grade4/math/algebra_equation/images/equal.svg">
						
						
						{{#if textdata3}}
							<p class="eq-data eq-data-3 {{textclass3}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata3}}}</p>
						{{/if}}
						{{#if imgid3}}
							<img class="eq-img {{imgclass3}}" src="">
						{{/if}}
						{{#if btndata}}
							<button class="eq-button {{btnclass}}">{{{btndata}}}</button>
						{{/if}}
					</div>
				{{/each}}
				
				{{#if optionblock}}
					<div class="{{optioncontainer}}">
						{{#each optionblock}}
							<div class="{{optionclass}}">
								<div class="{{textdivclass}}">
									<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
								</div>
								<img class='cor-incor correct-icon' src=''>
								<img class='cor-incor incorrect-icon' src=''>
							</div>
						{{/each}}
					</div>
				{{/if}}
				{{#each svgblock}}
					<div id="{{svgblock}}"></div>
				{{/each}}
			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script src="js/snap.svg/ver_0_5_1/snap.svg-min.js" type="text/javascript"></script>
<script type="text/javascript">
	$jsLoader("js/page1.js");
</script>