.headTitle
{
	width: 100%;
	text-align: center;

	font-size: 2em;
	color:#067AB4;
	text-shadow:
	3px 3px 0 #fff,
	-1px -1px 0 #fff,  
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}
.wholequesbox
{
	width: 100%;
	position: relative;

	display: none;
}
.questionBox
{
	width: 100%;
	height: 60%;
	
	margin:2% 0%;
	text-align: center;
	background: rgba(101,133,237,0.1);
	position: relative;
	overflow: hidden;
	
	

}
#questionimg
{
	width: 60%;
	
	margin: auto;
	position: relative;
	
}
#questionimg img 
{
	width: 100%;
}
#protractor
{
	position: absolute;
	top:10%;
	left: 57%;
	width: 40%;
	cursor: move;
}
.commentbx
{
	border: #c1d82f 2px solid;
	margin: 2% auto;
	padding: 2%;
	
	position: relative;

}
.e2_2
{
	font-size: 0.9em;
	width: 50%;
	display: inline-block;
	
}
#inputval
{
	width: 20%;
	margin-left: 2%;
}

#confirm
{
	margin-left: 2%;
}

#nextBtn
{
	color:black;

	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	font-size: 2em;
	display: none;
	position: absolute;
	bottom: 1%;
	right: 1%;

	cursor: pointer;
	width: 7%;
}
#right
{
	color:green;

	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	font-size: 2em;
	display: none; 
	position: absolute;
	top:2%;
	right: 10%;
}

#wrong {
    color: red;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    font-size: 2em;
    display: none;
    position: absolute;
    top: 25%;
    left: 86%;
}

.borderMe
{
	border: 1px red solid;
}

#repeatBtn
{
	display: none;
}

.wholesum
{
	width: 100%;
	position: relative;
	
}

.imgsum
{
	width: 20%;
	position: relative;
	display: inline-block;
	text-align: center;
	margin:1% 2%;
	background: rgba(219, 219, 219,0.4);
	border-radius: 10px;
	-moz-box-shadow:     0 0 5px #3F1C42;
	-webkit-box-shadow:  0 0 5px #3F1C42;
	box-shadow:          0 0 5px #3F1C42;


}
.imgsum div
{
	text-shadow:-1px -1px 0 #FFC1CC,1px -1px 0 #FFC1CC,-1px 1px 0 #FFC1CC,1px 1px 0 #FFC1CC;
	color: #FF007F;
}
.imgsum img {

	width: 100%;
}

.result
{
	padding: 2%;
	width: auto;
	position: absolute;
	bottom: 3%;
	
	
	right: 3%;
	-moz-box-shadow:     0 0 5px #FF007F;
	-webkit-box-shadow:  0 0 5px #FF007F;
	box-shadow:          0 0 5px #FF007F;
}

#repeatBtn
{
	color:black;

	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	font-size: 2em;
	display: none;
	position: absolute;
	top: 2%;
	right: 1%;
	width: 5%;
	cursor: pointer;
}

.degree {
    position: absolute;
    left: 72%;
    font-size: 4vmin;
    top: 16%;
}