<!--
    Title : General Template for Epaath Activity
 -->
<link  rel="stylesheet" href="css/ashish_fonts.css"/>
<script type="text/javascript">
	// $cssLoader("../../../../../css/common-exercise/np_ex_matching_8.css");
   $cssLoader("css/common.css");
   $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="punctuation">  
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>  
    <div class="board">Hello World!!! [Lesson]
    	
    </div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

 <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock {{additionalgeneralTemplateblock}}" data-templatecontains="hasonlycontent">
    
                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    {{#if contentnocenteradjust}}
			            <div class="coverboardfull">
			        {{else}}
			            <div class="vertical-horizontal-center">
			        {{/if}}
                    	{{#if title_class}}
				           <p class="{{title_class}}">{{{title_data}}}</p>
				           <img class="{{imgclass}}" src="{{imgsrc}}" id="{{imgid}}"/>
			            {{/if}}
           			</div>

            {{#if exerciseblock}}
            {{#each exerciseblock}}
            	<!-- <div class="instruction-div"> -->
                	<p class="insturction {{instruction_class}}" data-highlight="{{instructionhighlightflag}}" data-highlightcustomclass="{{instructionhighlightcustomclass}}">{{{instructiondata}}}</p>
            	<!-- </div> -->
					 <img class="{{imgclass}}" src="{{imgsrc}}" id="{{imgid}}">
					 <p class="{{welldone_class}}" data-highlight="{{instructionhighlightflag}}" >{{{welldonedata}}}</p>
				{{#if draggableblock}}
					<div class="nep_draggableblock {{draggableblockadditionalclass}}">
		                {{#each draggableblock}}
		            		<p class="nep_draggabletext {{draggabletextadditionalclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
			            {{/each}} 
	            	</div>
	            {{/if}}
	            {{#if droppableblock}}
		            <div class="nep_droppableblock {{droppableblockadditionalclass}}">
		            {{#each droppableblock}}
		            	<div class="nep_droppablediv {{droppabledivadditionalclass}}">
	            			<p class="p1_class {{p1additionalclass}}">{{{p1_data}}}</p>
	            			<p class="p2_class not_matched {{p2additionalclass}}">&nbsp; </p>
		            	</div>
		            {{/each}}
		            </div>
	            {{/if}}
            {{/each}}

             {{/if}}

             </div>
            </div>
        </script>


<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>