@font-face {
    font-family: Andika-Regular;
    src: url("../../../../../fonts/Andika-Regular.ttf");
}
.lesson-title{
	position: absolute;
	left: 50%;
	bottom: 72.5%;
	color: #DF4056;
	width: 100%;
	z-index: 5;
	transform: translateX(-50%);
	font-size: 6vw;
	font-family: pangolin;
}
@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 8.5vh;
	}
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.bg-blue{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color:#ABE0F0;
}

/*************************images*********************/
.hasta{
	position:absolute;
	top:30%;
	width:12%;
	z-index: 10;
}
.s1{	
	left:10%;
}
.s2{
	left:70%;
}
.fullbg{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.bankdai{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.boardbg{
    position: absolute;
    top: 15%;
    left: 9%;
    width: 84%;
    height: 75%;
}
.bgbrd{
	background-color:#D3D1AB;
}
.squirrel{
	position: absolute;
	top: 57%;
	left: 5%;
	width: 24%;
}
.squirrel1{
	position: absolute;
	top: 41%;
	left: 38%;
	width: 32%;
}.zoombg{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow:hidden;
	animation: zoomim 3s linear forwards;
}
@keyframes zoomim{
	from{
		transform:scale(1,1);
		left:0%;
		top:0%;
	}
	to{
		transform: scale(2,2);
		left: -34%;
		top: 25%;
	}
}
/**************************speechbox***************************/
.sp-1{
	position: absolute;
	top: 12%;
	left: 37%;
	width: 39%;
	height: 37%;
	padding: 0% 1% 7% 1%;
}
.sp-2{
	position: absolute;
	top: 6%;
	left: 16%;
	width: 35%;
	height: 39%;
	padding: 0% 1% 5% 1%;
}
.sp-3{
	position: absolute;
	top: 30%;
	left: -2%;
	width: 18%;
	height: 17%;
}
.sp-4{
	position: absolute;
	top: 12%;
	left: 38%;
	width: 42%;
	height: 42%;
	padding: 2% 1% 9% 2%;
}
.box1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.box2{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.txt1{
	position: relative;
	top: 50%;
	font-size: 1.5vw;
	transform: translateY(-50%);
}
.txt2{
	position: relative;
	top: 50%;
	font-size: 1.7vw;
	transform: translateY(-50%);
}
.box-brd{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;	
}
.brd{
	color:#fff;
}
.brdl{
	color:#fff;
	text-align:left;
}
.sp-board{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 1% 1% 2% 4%;
}
/****************************texts*******************************/
.title{
	position:absolute;
	top:5%;
	left:38%;
	font-family:sniglet;
	color:#674EA7;
	font-size:2em;
}
.txtb{
position: relative;
top: 50%;
font-size: 2vw;
transform: translateY(-50%);
}
.txtl{
position: relative;
top: 50%;
font-size: 3vw;
transform: translateY(-50%);
}
.p1s1{
	position: absolute;
	top: 30%;
	left: 35%;
	width: 60%;
	font-family: Andika-Regular;
	font-size: 3vw;
	padding: 2% 1% 2% 3%;
	background-color: #FDFFB3;
	border-radius: 2em;
	text-align: left;
}
.p1s2{
	position:absolute;
	top:5%;
	left:5%;
	width:90%;
	font-family:sniglet;
	font-size:3vw;	
}
.boardtxt{
	position: absolute;
	top: 19%;
	left: 15%;
	width: 77%;
	color: #fff;
	font-size: 1.9vw;
	text-align: left;
	font-family: Andika-Regular;
}
.boardtxt-s15{
	position: absolute;
	top: 39%;
	left: 12%;
	width: 77%;
	color: #fff;
	font-size: 2.9vw;
	font-family:Andika-Regular;
}
.boardtxt-s14txt{
	position: absolute;
	top: 30%;
	left: 25%;
	width: 60%;
	color: #fff;
	font-size: 2vw;
	text-align:left;
	font-family:Andika-Regular;	
}
.txtzm{
	position: relative;
	top: 50%;
	font-size: 1.7vw;
	transform: translateY(-50%);
}
.lateshow{
	opacity:0;
	animation:fadeIn 2s linear 4s forwards;
}
/************************************diy********************************/
.optionsdiv {
	top: 67%;
	width: 73%;
	left: 64%;
	display: flex;
	flex-direction: row;
	text-align: center;
	position: absolute;
	transform: translate(-50%);
	height: 19%;
}
.optionsdiv p {
	padding: 3.5%;
	background:#7B74D4;
	border-radius: 6px;
	margin: 1%;
	font-size: 4.5vmin;
	width: 82%;
	height: 55%;
	top:37%;
	color:#ffffff;
	font-family:ChelseaMarket-Regular;
	border: 4px solid #0097A7;
}

.optionscontainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.imagestartpos {
	width: 19%;
	margin-left: 1%;
	display: none;
	top: -60%;
	left: 33%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #F9CB9C;
    border:4px solid #E69138;
}
/*************************************mediaquery**********************/
@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 8.5vh;
	}
	.title{
		font-size:2em;
	}
	.p1s1{
		font-size:2.1vw;
	}
	.p1s2,.txtl{
		font-size:3vw;	
	}
	.txt1{
		font-size:1.5vw;
	}
	.boardtxt{
		font-size: 1.9vw;
	}
	.txtb{
		font-size: 2vw;
	}
}
.underline{
	text-decoration: underline;
}