.bg_full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.niti {
	position: absolute;
	width: 8%;
	top: 37%;
	left: 39%;
}
.asha {
	position: absolute;
	width: 10%;
	top: 38%;
	left: 57%;
}
.top-text {
	position: absolute;
	font-family: happymonkey;
	font-size: 2vw;
	width: 100%;
	background: #FAF2D2;
	top: 0;
	padding: 1%;
}
.top-text2 {
	position: absolute;
	font-family: happymonkey;
	font-size: 2vw;
	width: 100%;
	background: #FAF2D2;
	top: 40%;
	padding: 1%;
}
.bg_yellow{
	background: #FDFFB3;
}
.blackboard {
	width: 70%;
	left: 15%;
	position: absolute;
	top: 17%;
}
.text-1,.text-2,.text-3 {
	position: absolute;
	font-family: pangolin;
	color: #f5ebeb;
	font-size: 1.8vw;
	left: 21%;
	top: 27%;
}
.underlined{
	text-decoration: underline;
}
.text-2 {
	left: 43%;
}
.text-3 {
	left: 69%;
}
.top-text1 {
	position: absolute;
	font-size: 2vw;
	font-family: happymonkey;
	background: #80ECD5;
	padding: 1%;
	border-radius: .4em;
	transform: translateX(-50%);
	left: 50%;
	top: 13%;
}
.mainquestion {
	position: absolute;
	font-family: happymonkey;
	font-size: 2vw;
	padding: 5%;
	text-align: left;
	top: 19%;
	width: 100%;
}
.optionclass {
	font-size: 1.8vw;
	font-family: sniglet;
	background: #7B74D4;
	color: white;
	padding: 1%;
	width: 17%;
	border-radius: 2vmin;
	top: 59%;
	border: .5vmin solid #36364B;
	cursor: pointer;
	display: inline-block;
	margin-left: 7%;
	left: -4%;
}
.optionclass:hover,.optionclass1:hover{
	background: #F6B26B;
	border: .5vmin solid #E69138;
}
.bottom-text {
	position: absolute;
	font-family: happymonkey;
	font-size: 1.8vw;
	bottom: 13%;
	background: #FFD966;
	padding: 1%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
}
.dolma {
	position: absolute;
	width: 6%;
	top: 44%;
	left: 56%;
}
.bg_blue{
	background: #9FDEEC;
}
.orange{
	color: orange;
}
.text-5 {
	font-size: 1.8vw;
	font-family: happymonkey;
	top: 24%;
	margin-top: 1%;
}
.instruction {
	font-size: 2vw;
	font-family: happymonkey;
	top: 47%;
	left: 50%;
	position: absolute;
	background: #80ECD5;
	padding: 1%;
	transform: translateX(-50%);
	border-radius: 1vmin;
}
.optionclass1 {
	font-size: 1.8vw;
	font-family: sniglet;
	background: #7B74D4;
	color: white;
	padding: 2%;
	width: 25%;
	border-radius: 2vmin;
	border: .5vmin solid #7B74D4;
	cursor: pointer;
	display: inline-block;
	margin-left: 7%;
	left: -4%;
	position: absolute;
	bottom: 17%;
	height: 13%;
}
.o2{
	left:28%;
}
.o3{
	left:60%;
}
.bottom-text1 {
	position: absolute;
	font-family: happymonkey;
	font-size: 1.8vw;
	background: #FFD966;
	left: 13%;
	padding: .5%;
	transform: translateX(-50%);
	left: 50% !important;
	width: 103%;
	bottom: 0;
}
@media (min-aspect-ratio:4/3){
	.top-text,.mainquestion,.top-text1,.instruction {
		font-size: 4.5vmin;
	}
	.text-1, .text-2, .text-3, .optionclass, .text-5, .optionclass1, .bottom-text1 {
		font-size: 3.5vmin;
	}
}



.text-5 {
	top: 19% !important;
}
/*.optionclass1 {*/
	/*top: 45%;*/
	/*width: 25%;*/
/*}*/
.bottom-text1{
	left: 8%;
	font-size: 1.6vw;
}
@media (min-aspect-ratio:4/3){
	.bottom-text1 {
		font-size: 3.5vmin;
	}
	.titletext{
		font-size: 4vw;

	}
}
.diyimage{
	position: absolute;
	width: 102%;
	left: 0%;
}
.diytitle{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 20%;
	top: 46%;
	color: #0097a7;
}

.mid{
	top:46%;
}
.goat {
	position: absolute;
	width: 20%;
	left: 58%;
	top: 20%;
}
.text-5 {
	top: 19%;
}
/*.optionclass1 {*/
	/*top: 43%;*/
/*}*/
