#p1_2 {
  color: #218A13;
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 2% !important;
  margin-top: 10%;
  display: none;
}

#p1_3,
#p1_4 {
  color: #ffffff;
  font-weight: bold;
}

#totalpage {
  margin: 1% !important;
  width: 98%;
  text-align: center;
  font-size: 1em;
  display: none;
}

#leftOne {
  float: left;
  width: 48%;
  margin-right: 2%;
}

#rightOne {
  float: left;
  width: 48%;
  /*border-left: #470657 2px solid;*/
}

.changingPart {
  position: relative;
  width: 100%;
  padding: 2% auto !important;
}

.changingPart p {
  width: 100%;
  color: #ffffff;
  font-weight: bold;
}

#show_1 img {
  width: 30%;
}

#pntPrev span,
#pntNext span {
  font-size: 1.3em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  color: black;
}

#pntBtns {
  bottom: 1%;
  left: 0%;
  position: absolute;
  width: 100%
}

#pntPrev {
  cursor: pointer;
  width: 7%;
  position: absolute;
  bottom: 1%;
  left: 2%;
  display: none;
  font-size: 1.5em;
}

#pntNext {
  width: 7%;
  cursor: pointer;
  position: absolute;
  bottom: 1%;
  right: 1%;
  text-align: right;
  display: none;
  font-size: 1.5em;
}

#show_1,
#show_4,
#show_2,
#show_3 {
  /*display:none;*/
}

.whatA {
  width: 100%;
}

.textA {
  width: 100%;
  height: 6%;
}

.textA p {
  width: 30%;
  position: absolute;
  margin: 0% 1% !important;
  float: left;
  color: #ffffff;
  font-weight: bold;
}

.secondtxt {
  display: none;
}

#quadrate {
  margin-top: 3%;
  width: 100%;
  display: none;
}

#quadrate img {
  width: 80%;
}

#qdrateBx {
  width: 35% !important;
  position: absolute;
  top: 13%;
  left: 32%;
  display: none;
}

#qdrateBx2 {
  width: 33% !important;
  /*position: absolute;
	top:13%;
	left: 10%;*/
  float: left;
  display: none;
  margin: auto 10%;
}

#qdrateBx3 {
  width: 33% !important;
  /*position: absolute;
	top:13%;
	left: 56%;*/
  margin: auto 5%;
  display: none;
  float: left;
}

.clickAble {
  cursor: pointer;
}

.myTxtPara {
  padding: 1%;
}

.imgThird {
  width: 100%;
  height: 45%;
}

.imgThird img {
  width: 30%;
  top: 20%;
}

.secondChild {
  top: 0% !important;
}

#p1_9 {
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  height: 20%;
}

#p1_11 {
  position: absolute;
  width: 200%;
  margin-top: 5% !important;
}

#p1_8_1 {
  width: 40%;
  float: left;
  margin: auto 5%;
  color: #ffffff;
  font-weight: bold;
}

#p1_8_3 {
  width: 40%;
  float: left;
  margin: auto 5%;
  color: #ffffff;
  font-weight: bold;
}

#conclusionTxt {
  clear: both;
  display: none;
}

#conclusionTxt2 {
  clear: both;
  display: none;
}

#cctxt,
#cctxt2 {
  width: 50%;
  float: left;
}

#show_5 {
  width: 100%;
  height: 80%;
}

#p1_10 {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.myBox {
  position: relative;
  width: 100%;
  height: 85%;
}

.myBox div {
  display: none;
}

#myNextBtn {
  cursor: pointer;
  position: absolute;
  bottom: 1%;
  right: 1%;
  z-index: 200;
  font-size: 1.5em;
  display: none;
  width: 8%;
}

#myprevBtn {
  cursor: pointer;
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 200;
  font-size: 1.5em;
  display: none;
  width: 8%;
}

#myNextBtn span,
#myprevBtn span {
  font-size: 1.3em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  color: black;
}

.imgCls {
  width: 100%;
  position: absolute !important;
  top: 7%;
  left: 0%;
}

.imgCls img {
  width: 45%;
}

#first_2 {
  width: 1%;
  position: absolute !important;
  top: 20%;
  left: 55%;
}

#first_2 img {
  width: 45%;
}

#first_21 {
  z-index: 100;
}

#replayid {
  position: absolute;
  left: 94%;
  top: 5%;
  cursor: pointer;
}

#replayid span {
  color: #ff0000;
  animation: justBlink 1s infinite linear;
  -moz-animation: justBlink 1s infinite linear;
  -webkit-animation: justBlink 1s infinite linear;
}

.text_1 {
  position: absolute !important;
  top: 50%;
  font-size: 0.8em;
  color: #4E0263;
  left: 30%;
  width: 10%;
  text-align: left;
}

.text_2 {
  position: absolute !important;
  top: 6%;
  font-size: 0.8em;
  color: #4E0263;
  left: 18%;
  width: 10%;
  text-align: right;
}

.text_3 {
  position: absolute !important;
  top: 65%;
  font-size: 0.8em;
  color: #4E0263;
  left: 28%;
  width: 10%;
  text-align: right;
}

.text_4 {
  position: absolute !important;
  top: 30%;
  font-size: 0.8em;
  color: #4E0263;
  left: 28%;
  width: 10%;
  text-align: right;
}

.text_5 {
  position: absolute !important;
  top: 65%;
  font-size: 0.8em;
  color: #4E0263;
  left: 33%;
  width: 10%;
  text-align: right;
}

.text_6 {
  position: absolute !important;
  top: 19%;
  font-size: 0.8em;
  color: #4E0263;
  left: 33%;
  width: 10%;
  text-align: right;
}

.text_7 {
  position: absolute !important;
  top: 50%;
  font-size: 0.8em;
  color: #4E0263;
  left: 63%;
  width: 10%;
  text-align: right;
}

.text_8 {
  position: absolute !important;
  top: 38%;
  font-size: 0.8em;
  color: #4E0263;
  left: 23%;
  width: 10%;
  text-align: right;
}

.text_9 {
  position: absolute !important;
  top: 75%;
  font-size: 0.8em;
  color: #4E0263;
  left: 40%;
  width: 10%;
  text-align: right;
}

.text_10 {
  position: absolute !important;
  top: 70%;
  font-size: 0.8em;
  color: #4E0263;
  left: 40%;
  width: 10%;
  text-align: left;
}

.text_11 {
  position: absolute !important;
  top: 24%;
  font-size: 0.8em;
  color: #4E0263;
  left: 60%;
  width: 10%;
  text-align: left;
}

.lifecycle {
  cursor: pointer;
}

.myImg {
  width: 60%;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 10% auto !important;
}

.myImg img {
  width: 100%;
}

.chPopUp {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0%;
  left: 0%;
  display: none;
  /* z-index: 0; */
}

.mychPopUp {
  /* position: absolute !important; */
  /* position: absolute; */
  z-index: 6000;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: justify;
  background: rgba(23, 23, 35, 0.9);
  left: 0%;
}

 .mychPopUpContent {
  background-color: rgba(189, 245, 184, 0.8);
  border: 0.1em solid rgba(250, 250, 250, 0.5);
  left: 15%;
  padding: 0.2% 1%;
  position: absolute !important;
  text-align: center;
  top: 5%;
  width: 70%;
  height: 75% !important;
  color: #106043;
  font-size: 1.3em;
}

#pop_title {
  position: relative;
  padding: 1%;
  color: #383836;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  border-bottom: #fff 1px solid;
  margin-bottom: 1% !important;
}

#closePopBtn {
  position: absolute;
  width: 4%;
  top: 0%;
  right: 0%;
  cursor: pointer;
  display: none;
}

#closePopBtn span {
  cursor: pointer;
  color: darkred;
  font-size: 2em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.imgCls1 {
  width: 100%;
  position: absolute !important;
  top: 0%;
  left: 0%;
}

.imgCls1 img {
  width: 40%;
}

.stxt_1 {
  position: absolute;
  top: 75%;
  font-size: 0.8em;
  color: #4E0263;
  left: 45%;
  width: 10%;
}

.stxt_2 {
  position: absolute;
  top: 5%;
  font-size: 0.8em;
  color: #4E0263;
  left: 55%;
  width: 10%;
}

.stxt_3 {
  position: absolute;
  top: 28%;
  font-size: 0.8em;
  color: #4E0263;
  left: 62%;
  width: 10%;
}

.stxt_4 {
  position: absolute;
  top: 52%;
  font-size: 0.8em;
  color: #4E0263;
  left: 56%;
  width: 10%;
}

.stxt_5 {
  position: absolute;
  top: 42%;
  font-size: 0.8em;
  color: #4E0263;
  left: 26%;
  width: 10%;
}

.stxt_6 {
  position: absolute;
  top: 60%;
  font-size: 0.8em;
  color: #4E0263;
  left: 30%;
  width: 10%;
}

.stxt_7 {
  position: absolute;
  top: 37%;
  font-size: 0.8em;
  color: #4E0263;
  left: 63%;
}

.stxt_8 {
  position: absolute;
  top: 55%;
  font-size: 0.8em;
  color: #4E0263;
  left: 57%;
}

.stxt_9 {
  position: absolute;
  top: 50%;
  font-size: 0.8em;
  color: #4E0263;
  left: 57%;
}

.stxt_10 {
  position: absolute;
  top: 85%;
  font-size: 0.8em;
  color: #4E0263;
  left: 47%;
}

.stxt_11 {
  position: absolute;
  top: 30%;
  font-size: 0.8em;
  color: #4E0263;
  left: 62%;
}

.stxt_12 {
  position: absolute;
  top: 50%;
  font-size: 0.8em;
  color: #4E0263;
  left: 63%;
}

.stxt_13 {
  position: absolute;
  top: 71%;
  font-size: 0.8em;
  color: #4E0263;
  left: 62%;
}

#mainText {
  position: absolute;
  width: 100%;
  font-size: 1em;
}

.firstMain {
  top: 20%;
  left: 5%;
  width: 30% !important;
  text-align: left;
}

.secondMain {
  top: 40%;
  left: 5%;
  width: 30% !important;
  text-align: left;
}

.thirdMain {
  top: 0%;
  left: 0%;
}

.fourthMain {
  top: 0%;
  left: 0%;
}

.fifthMain {
  top: 0%;
  left: 0%;
}

.sixthMain {
  top: 0%;
  left: 0%;
}

.seventhMain {
  top: 0%;
  left: 0%;
}

#p1_15 {
  font-size: 0.9em;
  margin-bottom: 1%;
}

#pntNext:hover #activityNextHoverBtn,
#pntPrev:hover #activityPrevHoverBtn,
#myNextBtn:hover #activityNextHoverBtn,
#myprevBtn:hover #activityPrevHoverBtn {
  display: block;
}

#pntNext:hover #activityNextBtn,
#pntPrev:hover #activityPrevBtn,
#myNextBtn:hover #activityNextBtn,
#myprevBtn:hover #activityPrevBtn {
  display: none;
}

#coverPage {
  position: relative;
  top: 0%;
  left: 0%;
  width: 101%;
  height: 80%;
}

.coverPage {
  position: relative;
  width: 82%;
  top: 0%;
}

@media (min-aspect-ratio: 4/3) {
  .mainText{font-size: 3vh;}
}

@media (max-aspect-ratio: 4/3) {
  .mainText{font-size: 2vw;}
}
