#totalpage
{
	
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	height: 80%;
	
}

.cssDes
{
	cursor: pointer;
	position: absolute!important;
	width:50%;
	

}
.cssDes span 
{
	-moz-box-shadow:     0 0 10px #27A17B;
	-webkit-box-shadow:  0 0 10px #27A17B;
	box-shadow:          0 0 10px #27A17B;
	padding: 10px!important;
	
}

#part_5
{
	top:10%;
	left:-2%;
}

#part_4
{
	top:15%;
	left:40%;
}

#part_3
{
	top:40%;
	left:-5%;
}

#part_2
{
	top:62%;
	right:10%;
}

#part_1
{
	top:77%;
	left:-5%;
}


.myPopUp
{
  	
    position: fixed;
    z-index: 6000;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: justify; 
    background:  rgba(23, 23, 35, 0.95);
    display: none;
}

.myPopUp  .myPopUpContent,
.myPopUp  .myPopUpContent2 {
  

    background-color: rgba(255, 255, 255,1);
    left: 15%;
    padding: 2%;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 70%;
 	color: #106043;
 	font-size: 1.3em;
 	min-height: 60%;

 	box-shadow: 0 0 50px rgba(0, 0, 0, .5) inset;
 	-moz-box-shadow: 0 0 50px rgba(0, 0, 0, .5) inset;
 	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .5) inset;
 	


}

#pop_title
{
	position: relative;

	padding: 1%;
	color: #383836;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	border-bottom: #c9c9c9 1px solid;
	margin-bottom: 1%!important;
	

}
#nextPopBtn,
#nextLastBtn,
#nextFlowerBtn,
#nextPopBtnImg
{
	position: absolute;
	width:8%;
	bottom:1%;
	right: 1%;
	cursor: pointer;
}
#prevPopBtn,
#prevPopBtnImg,
#prevFlowerBtn
{
	position: absolute;
	width:8%;
	bottom:1%;
	left: 1%;
	cursor: pointer;
}
#nextPopBtn span,
#prevPopBtn span,
#nextLastBtn span,
#nextFlowerBtn span,
#prevFlowerBtn span,
#prevPopBtnImg span,
#nextPopBtnImg span
{
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	color:black;
	font-size: 2em;
}
#closePopBtn
{
	position: absolute;
	width:5%;
	top:1%;
	right: 1%;
	cursor: pointer;
}

#plantBck
{
	width:30%;
	height: 100%;
	position: absolute;
	top:4%;
	left:32.5%;
}
#plantBck img{
	width: 100%;

}

#plantBck2
{
	
	width:50%;
	height: 100%;
	position: absolute;
	top:0%;
	left:25%;
}
#descObjects3
{
	float: left;
	width: 50%;
	text-align: left;
}

#descObjects
{
	
	width: 100%;
	position: relative;
}

#imgObjects
{
	
	width: 50%;
	text-align: center;
	margin: 0% auto!important;
	
	position: relative;
	

}
#imgObjects img 
{
	width: 60%;
}
.labelsObj
{
	position: absolute;
	color:#E36009;
	font-size: 0.9em;
}

#workObjects
{
	width: 100%;
	text-align: left;
}

#workObjects ul
{
	list-style: disc;

}
#descObjects2
{
	padding: 1%;
	width: 100%;
	text-align: center;
}


#p3_1
{
	width: 100%;
	text-align: center;
}

#p1Lb1
{
	top:5%;
	left:18%;
}

#p1Lb2
{
	top:75%;
	left:10%;
}

.imgClss
{
	width: 17%;
	float: left;
	margin: 2% 8%;
}
.imgClss img
{
	width: 100%;
}

#p2Lb1
{
	top:15%;
	left:63%;
}

#p2Lb2
{
	top:37%;
	left:65%;
}
#p2Lb3
{
	top:57%;
	left:25%;
}
#p3Lb1
{
	top:82%;
	left:55%;
}

#p3Lb2
{
	top:15%;
	left:74%;
}
#p3Lb3
{
	top:5%;
	left:7%;
}
#p4Lb1
{
	top: 49%;
	left: 80%;
	width: 37%;
}

#p4Lb1:lang(np)
{
	top: 49%;
	left: 80%;
	width: 0%;
}
#p4Lb2
{
	top:31%;
	left:38%;
}
#p4Lb2:lang(np){
	top:31%;
	left:50%;
}
#p4Lb3
{
	top:78%;
	left:58%;
}
#whatImgCap
{
	width: 100%;
	position: relative;
}

#myleafimg
{
	width: 20%;
	margin-bottom: 2%;
}

#leafImgcap,
#leafImgcap2
{
	position: absolute;
	top:10%;
	font-size: 0.8em;
	color: blue;
	
	text-align: left;
	display: none;
}
#leafImgcap{
	width: 40%;
}
#leafImgcap2
{
	
	left: 65%;
	width: 30%;
}

#f0Lb1
{
	position: absolute;
	
	top:10%;
	left:6%;
}

#f0Lb2
{
	position: absolute;
	top:80%;
	left:16%;
}

#f0Lb3
{
	position: absolute;
	top:37%;
	left:78%;
}

#f0Lb4
{
	position: absolute;
	top:4%;
	left:68%;
}

#imgObjects2
{
	float: left;
	width: 50%;
	text-align: center;
	margin: 0% auto!important;
	position: relative;
	
}
#imgObjects2 img 
{
	width: 60%;
}
#allFloralObj
{
	width: 100%;
	position: relative;
}

#f1Lb1
{
	display: none;
	top:75%;
	left:65%;
}

#f2Lb1
{
	top:35%;
	left:65%;
}
#f3Lb1
{
display: none;
top:5%;
	left:55%;
	text-align: left;
}

#f3Lb2
{
	display: none;
	top:32%;
	left:55%;
	text-align: left;
}

#f3Lb3
{
	display: none;
	text-align: right;
	top:1%;
	left:11%;
	width:12%;
}

#f3Lb4
{
	display: none;

	top:75%;
	left:78%;
}



#f4Lb1
{
display: none;
top:3%;
	left:55%;
	text-align: left;
}

#f4Lb2
{
	display: none;
	top:12%;
	left:55%;
	text-align: left;
}

#f4Lb3
{
	display: none;
	
	top:45%;
	left:50%;
	
}

#f4Lb4
{
	display: none;

	top:35%;
	left:50%;
}
#f4Lb5
{
	display: none;
	top:93%;
	left:25%;
}
#f4Lb6
{
display: none;
top:60%;
	left:67%;
}
#f4Lb7
{
	display: none;

	top:84%;
	left:64%;
}

.img23
{
	width: 30%;
	float: left;
	margin: 1%;
	text-align: center;
}
.img23  img 
{
	width: 100%!important;
} 



#nextPopBtn:hover #activityNextHoverBtn,
#nextLastBtn:hover #activityNextHoverBtn,
#nextFlowerBtn:hover #activityNextHoverBtn,
#nextPopBtnImg:hover #activityNextHoverBtn,
#prevPopBtn:hover #activityPrevHoverBtn,
#prevFlowerBtn:hover #activityPrevHoverBtn,
#prevPopBtnImg:hover #activityPrevHoverBtn,
#prevFlowerBtn:hover #activityPrevHoverBtn
{
	display: block;
}



#nextPopBtn:hover #activityNextBtn,
#nextLastBtn:hover #activityNextBtn,
#nextFlowerBtn:hover #activityNextBtn,
#nextPopBtnImg:hover #activityNextBtn,
#prevPopBtn:hover #activityPrevBtn,
#prevFlowerBtn:hover #activityPrevBtn,
#prevPopBtnImg:hover #activityPrevBtn,
#prevFlowerBtn:hover #activityPrevBtn
{
	display: none;
}
.popUp{
	left:0%;
}