#plantContent {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #78C9B0;
}

#plantContent * {
  position: relative;
  margin: 0;
  padding: 0;
}

#head_title {
  position: relative;
  padding: 1%;
  color: #383836;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  z-index: 1;
}

@-moz-keyframes justBlink {
  0% {
    color: #FF0000;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #FF0000;
  }
}

@-keyframes justBlink {
  0% {
    color: #FF0000;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #FF0000;
  }
}

@-webkit-keyframes justBlink {
  0% {
    color: #FF0000;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #FF0000;
  }
}

.reloadjsbtn:hover #reloadBtn {
  display: none;
}

.reloadjsbtn:hover #reloadHoverBtn {
  display: block;
}
