@font-face {
    font-family: ChelseaMarket-Regular;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}
@font-face {
    font-family: ComicSansMSRegular;
    src: url("../../../../../fonts/ComicSansMSRegular.ttf");
}
.thebg1{
background-color:#D0E0E3;
}
.bg1{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.qnword1{
	color:#874CE7;
	font-weight:bold;
}
.question{
	position: absolute;
	top: 20%;
	left: 5%;
	width: 95%;
	font-family: ComicSansMSRegular;
	font-size: 5vmin;
}
.optionsdiv {
    top: 45%;
    display: flex;
    width: 73%;
    left: 48%;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: center;
    position: absolute;
    transform: translate(-50%);
    height: 19%;
}


.optionsdiv p {
 display: inline;
padding: 3.5%;
background:#0097A7;
border-radius: 6px;
margin: 1%;
font-size: 4vmin;
font-size: 4.5vmin;
width: 82%;
height: 55%;
top:37%;
color:#ffffff;
font-family:ChelseaMarket-Regular;
}

.optionscontainer {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
align-content: flex-start;
justify-content: space-between;
height: 100%;
}

.imagestartpos {
width: 24%;
margin-left: 1%;
display: none;
top: -66%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #F9CB9C;
    border:4px solid #E69138;
}

.underline{
	text-decoration: underline;
	animation:fadeIn 1s ease-in;
}
.p1txt{
	color:#ffffff;
}
.dytxt{
	position: absolute;
	top: 47%;
	left: 25%;
	padding: 2% 2% 2% 2%;
	width: 50%;
	font-family: ComicSansMSRegular;
	font-size: 2.3em;
}
