p{
    z-index: 5;
}

.activity_container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
	position: relative;
	margin: 0;
	padding: 0;
}

.activity_container .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.activity_container .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 90%;
	width: 100%;
	top: 10%;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
  background-color: #FFE4C4;
}

.description2 {
	text-align: right;
}

.utb_30 {
	position: absolute;
	width: 90%;
	height: 30%;
	top: 5%;
	left: 5%;
}

.ltb_20 {
	position: absolute;
	width: 90%;
	height: 20%;
	bottom: 0;
	left: 5%;
}

.imgblock_50 {
	position: absolute;
	height: 50%;
	width: 100%;
	top: 30%;
	left: 0;
}

.headerblock {
	width: 100%;
	left: 0%;
	/*top: 12%;*/
  border-radius: 1.2vmin;
	background-color: #B6D7A8;
	color: #ffffff;
}

.orange_ltb {
	position: absolute;
	width: 90%;
	left: 5%;
	bottom: 2%;
	background-color: #FFE599;
}

.calibrated_weight1, .calibrated_weight2, .calibrated_weight3, .calibrated_weight4, .calibrated_weight5 {
	position: absolute;
	max-height: 90%;
	bottom: 1.5%;
}

.calibrated_weight1 {
	width: 5%;
	height: 30%;
	left: 15%;
}

.calibrated_weight2 {
	width: 8%;
	left: 24%;
	height: 40%;
}

.calibrated_weight3 {
	width: 10%;
	left: 36%;
	height: 55%;
}

.calibrated_weight4 {
	width: 100%;
    left: 0;
    height: 100%;
}

.calibrated_weight5 {
	width: 20%;
	left: 68%;
	height: 90%;
}

.dhak {
	height: 100%;
	width: 100%;
}

.weight_label1, .weight_label2, .weight_label3, .weight_label4, .weight_label5 {
	font-weight: initial;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
	line-height: 1;
}

.utb_info {
	position: absolute;
	width: 20%;
	top: 28%;
	left: 0%;
	display: none;
	padding-right: 0.5em;
	background-color: #FFE680;
}

.incorrect{
	background-color: #f77;
}

.correct{
	background-color: #3f3;
}

.draggablecontainer {
	position: absolute;
	height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.weightblock {
	position: absolute;
	top: 20%;
	right: 8%;
	width: 78%;
	height: 54%;
}

.beambalance_base {
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: 0;
	background-image: url("../images/weightmachinebase.png");
	z-index: 99;
	background-size: 100% 100%;
}

.beambalance_left, .beambalance_right {
	position: absolute;
	width: 36%;
}

.beambalance_left {
	left: 22%;
	top: 64%;
	background-image: url("../images/weight_plate.png");
	background-size: 100% 100%;
	height: 40%;
	transform: translate(-50%, -50%);
}

.beambalance_right {
	right: 22%;
	top: 64%;
	background-image: url("../images/weight_plate.png");
	background-size: 100% 100%;
	height: 40%;
	transform: translate( 50%, -50%);
}

.beambalance_needle {
	position: absolute;
	background-image: url("../images/needle.png");
	width: 1%;
	left: 49.5%;
	top: 50.25%;
	height: 15%;
	background-size: 100% 100%;
	transform: rotate(360deg);
	transform-origin: 50% 100%;
}

.drop_left {
	position: absolute;
	height: 51%;
	width: 32%;
	left: 4%;
	top: 2%;
	margin: 0% 2% 3% 2%;
	z-index: 100;
}

.drop_right {
	position: absolute;
	height: 50%;
	width: 32%;
	right: 4%;
	top: 2%;
	margin: 0% 2% 3% 2%;
	z-index: 100;
}
.drop_right *{
  height: auto !important;
}

.dhak1, .dhak2, .dhak3, .dhak4, .dhak5 {
	position: absolute;
	height: 85%;
	z-index: 110;
}

.dhak1 {
	width: 4%;
    left: 63%;
    height: auto;
    bottom: 14%;
}

.dhak2 {
	width: 5%;
    left: 68.5%;
    height: auto;
    bottom: 14%;
}

.dhak3 {
	width: 5%;
	left: 75%;
	height: auto;
	bottom: 14%;
}

.dhak4 {
	width: 6%;
    left: 82%;
    height: auto;
    bottom: 14%;
}

.dhak5 {
	width: 8%;
    left: 90%;
    height: auto;
    bottom: 14%;
}

.dhak1_a, .dhak2_a, .dhak3_a, .dhak4_a, .dhak5_a {
	position: absolute;
	z-index: 110;
}

.dhak1_a {
	width: 6%;
    left: 22%;
    height: auto;
    bottom: 14%;
}

.dhak2_a {
	width: 8%;
    left: 30%;
    height: auto;
    bottom: 14%;
}

.dhak3_a {
	width: 8%;
    left: 40%;
    height: auto;
    bottom: 14%;
}

.dhak4_a {
	width: 8%;
    left: 50%;
    height: auto;
    bottom: 14%;
}

.dhak5_a {
	width: 12%;
    left: 60%;
    height: auto;
    bottom: 14%;
}

.mangoescollection, .orangescollection, .potatocollection{
	position: absolute;
	width: 20%;
	height: 35%;
    top: 52%;
}

.mangoescollection{
	left: 20%;
}

.orangescollection{
	left: 22%;
}

.potatocollection{
	left: 43%;
}

.plateorange, .platemango, .platepotato{
	position: absolute;
	width: 100%;
	max-height: 20%;
	top: 80%;
	left: 0;
}

.mango, .tomato, .peaches, .bitter_gourds, .oranges,
.apples, .papaya, .brinjal, .cabbage, .cauliflower, .pumpkin {
	position: absolute;
	width: 20%;
	left: 10%;
	bottom: 14%;
}

.fruit{
	cursor: -webkit-grab;
}

.weightdrop{
	cursor: -webkit-grab;
}

.rotate0{
	-webkit-animation: rotate_0 0.4s linear 1 forwards;
	animation: rotate_0 0.4s linear 1 forwards;
}

@keyframes rotate_0{
	to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate_0{
	to{
		transform: rotate(360deg);
	}
}

.rotate1{
	-webkit-animation: rotate_1 0.4s linear 1 forwards;
	animation: rotate_1 0.4s linear 1 forwards;
}

@keyframes rotate_1{
	to{
		transform: rotate(365deg);
	}
}

@-webkit-keyframes rotate_1{
	to{
		transform: rotate(365deg);
	}
}

.rotate2{
	-webkit-animation: rotate_2 0.4s linear 1 forwards;
	animation: rotate_2 0.4s linear 1 forwards;
}

@keyframes rotate_2{
	to{
		transform: rotate(370deg);
	}
}

@-webkit-keyframes rotate_2{
	to{
		transform: rotate(370deg);
	}
}

.rotate3{
	-webkit-animation: rotate_3 0.4s linear 1 forwards;
	animation: rotate_3 0.4s linear 1 forwards;
}

@keyframes rotate_3{
	to{
		transform: rotate(375deg);
	}
}

@-webkit-keyframes rotate_3{
	to{
		transform: rotate(375deg);
	}
}

.rotate4{
	-webkit-animation: rotate_4 0.4s linear 1 forwards;
	animation: rotate_4 0.4s linear 1 forwards;
}

@keyframes rotate_4{
	to{
		transform: rotate(380deg);
	}
}

@-webkit-keyframes rotate_4{
	to{
		transform: rotate(380deg);
	}
}

.rotate5{
	-webkit-animation: rotate_5 0.4s linear 1 forwards;
	animation: rotate_5 0.4s linear 1 forwards;
}

@keyframes rotate_5{
	to{
		transform: rotate(385deg);
	}
}

@-webkit-keyframes rotate_5{
	to{
		transform: rotate(385deg);
	}
}

.rotate6{
	-webkit-animation: rotate_6 0.4s linear 1 forwards;
	animation: rotate_6 0.4s linear 1 forwards;
}

@keyframes rotate_6{
	to{
		transform: rotate(390deg);
	}
}

@-webkit-keyframes rotate_6{
	to{
		transform: rotate(390deg);
	}
}

.rotate7{
	-webkit-animation: rotate_7 0.4s linear 1 forwards;
	animation: rotate_7 0.4s linear 1 forwards;
}

@keyframes rotate_7{
	to{
		transform: rotate(395deg);
	}
}

@-webkit-keyframes rotate_7{
	to{
		transform: rotate(395deg);
	}
}

.rotate8{
	-webkit-animation: rotate_8 0.4s linear 1 forwards;
	animation: rotate_8 0.4s linear 1 forwards;
}

@keyframes rotate_8{
	to{
		transform: rotate(402deg);
	}
}

@-webkit-keyframes rotate_8{
	to{
		transform: rotate(402deg);
	}
}

.rotate1_ve{
	-webkit-animation: rotate_1_ve 0.4s linear 1 forwards;
	animation: rotate_1_ve 0.4s linear 1 forwards;
}

@keyframes rotate_1_ve{
	to{
		transform: rotate(355deg);
	}
}

@-webkit-keyframes rotate_1_ve{
	to{
		transform: rotate(355deg);
	}
}

.rotate2_ve{
	-webkit-animation: rotate_2_ve 0.4s linear 1 forwards;
	animation: rotate_2_ve 0.4s linear 1 forwards;
}

@keyframes rotate_2_ve{
	to{
		transform: rotate(350deg);
	}
}

@-webkit-keyframes rotate_2_ve{
	to{
		transform: rotate(350deg);
	}
}

.rotate3_ve{
	-webkit-animation: rotate_3_ve 0.4s linear 1 forwards;
	animation: rotate_3_ve 0.4s linear 1 forwards;
}

@keyframes rotate_3_ve{
	to{
		transform: rotate(345deg);
	}
}

@-webkit-keyframes rotate_3_ve{
	to{
		transform: rotate(345deg);
	}
}

.rotate4_ve{
	-webkit-animation: rotate_4_ve 0.4s linear 1 forwards;
	animation: rotate_4_ve 0.4s linear 1 forwards;
}

@keyframes rotate_4_ve{
	to{
		transform: rotate(340deg);
	}
}

@-webkit-keyframes rotate_4_ve{
	to{
		transform: rotate(340deg);
	}
}

.rotate5_ve{
	-webkit-animation: rotate_5_ve 0.4s linear 1 forwards;
	animation: rotate_5_ve 0.4s linear 1 forwards;
}

@keyframes rotate_5_ve{
	to{
		transform: rotate(335deg);
	}
}

@-webkit-keyframes rotate_5_ve{
	to{
		transform: rotate(335deg);
	}
}

.rotate6_ve{
	-webkit-animation: rotate_6_ve 0.4s linear 1 forwards;
	animation: rotate_6_ve 0.4s linear 1 forwards;
}

@keyframes rotate_6_ve{
	to{
		transform: rotate(330deg);
	}
}

@-webkit-keyframes rotate_6_ve{
	to{
		transform: rotate(330deg);
	}
}

.rotate7_ve{
	-webkit-animation: rotate_7_ve 0.4s linear 1 forwards;
	animation: rotate_7_ve 0.4s linear 1 forwards;
}

@keyframes rotate_7_ve{
	to{
		transform: rotate(325deg);
	}
}

@-webkit-keyframes rotate_7_ve{
	to{
		transform: rotate(325deg);
	}
}

.rotate8_ve{
	-webkit-animation: rotate_8_ve 0.4s linear 1 forwards;
	animation: rotate_8_ve 0.4s linear 1 forwards;
}

@keyframes rotate_8_ve{
	to{
		transform: rotate(318deg);
	}
}

@-webkit-keyframes rotate_8_ve{
	to{
		transform: rotate(318deg);
	}
}

.top_64_0{
	-webkit-animation: top_64_0_kf 0.4s linear 1 forwards;
	animation: top_64_0_kf 0.4s linear 1 forwards;
}

@keyframes top_64_0_kf{
	to{
		top: 64%;
	}
}

@-webkit-keyframes top_64_0_kf{
	to{
		top: 64%;
	}
}


.top_64_1{
	-webkit-animation: top_64_1_kf 0.4s linear 1 forwards;
	animation: top_64_1_kf 0.4s linear 1 forwards;
}

@keyframes top_64_1_kf{
	to{
		top: 65%;
	}
}

@-webkit-keyframes top_64_1_kf{
	to{
		top: 65%;
	}
}

.top_64_2{
	-webkit-animation: top_64_2_kf 0.4s linear 1 forwards;
	animation: top_64_2_kf 0.4s linear 1 forwards;
}

@keyframes top_64_2_kf{
	to{
		top: 66%;
	}
}

@-webkit-keyframes top_64_2_kf{
	to{
		top: 66%;
	}
}

.top_64_3{
	-webkit-animation: top_64_3_kf 0.4s linear 1 forwards;
	animation: top_64_3_kf 0.4s linear 1 forwards;
}

@keyframes top_64_3_kf{
	to{
		top: 67%;
	}
}

@-webkit-keyframes top_64_3_kf{
	to{
		top: 67%;
	}
}

.top_64_4{
	-webkit-animation: top_64_4_kf 0.4s linear 1 forwards;
	animation: top_64_4_kf 0.4s linear 1 forwards;
}

@keyframes top_64_4_kf{
	to{
		top: 68%;
	}
}

@-webkit-keyframes top_64_4_kf{
	to{
		top: 68%;
	}
}

.top_64_5{
	-webkit-animation: top_64_5_kf 0.4s linear 1 forwards;
	animation: top_64_5_kf 0.4s linear 1 forwards;
}

@keyframes top_64_5_kf{
	to{
		top: 69%;
	}
}

@-webkit-keyframes top_64_5_kf{
	to{
		top: 69%;
	}
}

.top_64_6{
	-webkit-animation: top_64_6_kf 0.4s linear 1 forwards;
	animation: top_64_6_kf 0.4s linear 1 forwards;
}

@keyframes top_64_6_kf{
	to{
		top: 70%;
	}
}

@-webkit-keyframes top_64_6_kf{
	to{
		top: 70%;
	}
}

.top_64_7{
	-webkit-animation: top_64_7_kf 0.4s linear 1 forwards;
	animation: top_64_7_kf 0.4s linear 1 forwards;
}

@keyframes top_64_7_kf{
	to{
		top: 71%;
	}
}

@-webkit-keyframes top_64_7_kf{
	to{
		top: 71%;
	}
}

.top_64_8{
	-webkit-animation: top_64_8_kf 0.4s linear 1 forwards;
	animation: top_64_8_kf 0.4s linear 1 forwards;
}

@keyframes top_64_8_kf{
	to{
		top: 72%;
	}
}

@-webkit-keyframes top_64_8_kf{
	to{
		top: 72%;
	}
}

.top_64_1_ve{
	-webkit-animation: top_64_1_kf_ve 0.4s linear 1 forwards;
	animation: top_64_1_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_1_kf_ve{
	to{
		top: 63%;
	}
}

@-webkit-keyframes top_64_1_kf_ve{
	to{
		top: 63%;
	}
}

.top_64_2_ve{
	-webkit-animation: top_64_2_kf_ve 0.4s linear 1 forwards;
	animation: top_64_2_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_2_kf_ve{
	to{
		top: 62%;
	}
}

@-webkit-keyframes top_64_2_kf_ve{
	to{
		top: 62%;
	}
}

.top_64_3_ve{
	-webkit-animation: top_64_3_kf_ve 0.4s linear 1 forwards;
	animation: top_64_3_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_3_kf_ve{
	to{
		top: 61%;
	}
}

@-webkit-keyframes top_64_3_kf_ve{
	to{
		top: 61%;
	}
}

.top_64_4_ve{
	-webkit-animation: top_64_4_kf_ve 0.4s linear 1 forwards;
	animation: top_64_4_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_4_kf_ve{
	to{
		top: 60%;
	}
}

@-webkit-keyframes top_64_4_kf_ve{
	to{
		top: 60%;
	}
}

.top_64_5_ve{
	-webkit-animation: top_64_5_kf_ve 0.4s linear 1 forwards;
	animation: top_64_5_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_5_kf_ve{
	to{
		top: 59%;
	}
}

@-webkit-keyframes top_64_5_kf_ve{
	to{
		top: 59%;
	}
}

.top_64_6_ve{
	-webkit-animation: top_64_6_kf_ve 0.4s linear 1 forwards;
	animation: top_64_6_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_6_kf_ve{
	to{
		top: 58%;
	}
}

@-webkit-keyframes top_64_6_kf_ve{
	to{
		top: 58%;
	}
}

.top_64_7_ve{
	-webkit-animation: top_64_7_kf_ve 0.4s linear 1 forwards;
	animation: top_64_7_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_7_kf_ve{
	to{
		top: 57%;
	}
}

@-webkit-keyframes top_64_7_kf_ve{
	to{
		top: 57%;
	}
}

.top_64_8_ve{
	-webkit-animation: top_64_8_kf_ve 0.4s linear 1 forwards;
	animation: top_64_8_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_64_8_kf_ve{
	to{
		top: 56%;
	}
}

@-webkit-keyframes top_64_8_kf_ve{
	to{
		top: 56%;
	}
}

.top_12_0{
	-webkit-animation: top_12_0_kf 0.4s linear 1 forwards;
	animation: top_12_0_kf 0.4s linear 1 forwards;
}

@keyframes top_12_0_kf{
	to{
		top: 2%;
	}
}

@-webkit-keyframes top_12_0_kf{
	to{
		top: 2%;
	}
}


.top_12_1{
	-webkit-animation: top_12_1_kf 0.4s linear 1 forwards;
	animation: top_12_1_kf 0.4s linear 1 forwards;
}

@keyframes top_12_1_kf{
	to{
		top: 3%;
	}
}

@-webkit-keyframes top_12_1_kf{
	to{
		top: 3%;
	}
}

.top_12_2{
	-webkit-animation: top_12_2_kf 0.4s linear 1 forwards;
	animation: top_12_2_kf 0.4s linear 1 forwards;
}

@keyframes top_12_2_kf{
	to{
		top: 4%;
	}
}

@-webkit-keyframes top_12_2_kf{
	to{
		top: 4%;
	}
}

.top_12_3{
	-webkit-animation: top_12_3_kf 0.4s linear 1 forwards;
	animation: top_12_3_kf 0.4s linear 1 forwards;
}

@keyframes top_12_3_kf{
	to{
		top: 5%;
	}
}

@-webkit-keyframes top_12_3_kf{
	to{
		top: 5%;
	}
}

.top_12_4{
	-webkit-animation: top_12_4_kf 0.4s linear 1 forwards;
	animation: top_12_4_kf 0.4s linear 1 forwards;
}

@keyframes top_12_4_kf{
	to{
		top: 6%;
	}
}

@-webkit-keyframes top_12_4_kf{
	to{
		top: 6%;
	}
}

.top_12_5{
	-webkit-animation: top_12_5_kf 0.4s linear 1 forwards;
	animation: top_12_5_kf 0.4s linear 1 forwards;
}

@keyframes top_12_5_kf{
	to{
		top: 7%;
	}
}

@-webkit-keyframes top_12_5_kf{
	to{
		top: 7%;
	}
}

.top_12_6{
	-webkit-animation: top_12_6_kf 0.4s linear 1 forwards;
	animation: top_12_6_kf 0.4s linear 1 forwards;
}

@keyframes top_12_6_kf{
	to{
		top: 8%;
	}
}

@-webkit-keyframes top_12_6_kf{
	to{
		top: 8%;
	}
}

.top_12_7{
	-webkit-animation: top_12_7_kf 0.4s linear 1 forwards;
	animation: top_12_7_kf 0.4s linear 1 forwards;
}

@keyframes top_12_7_kf{
	to{
		top: 9%;
	}
}

@-webkit-keyframes top_12_7_kf{
	to{
		top: 9%;
	}
}

.top_12_8{
	-webkit-animation: top_12_8_kf 0.4s linear 1 forwards;
	animation: top_12_8_kf 0.4s linear 1 forwards;
}

@keyframes top_12_8_kf{
	to{
		top: 10%;
	}
}

@-webkit-keyframes top_12_8_kf{
	to{
		top: 10%;
	}
}

.top_12_1_ve{
	-webkit-animation: top_12_1_kf_ve 0.4s linear 1 forwards;
	animation: top_12_1_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_1_kf_ve{
	to{
		top: 1%;
	}
}

@-webkit-keyframes top_12_1_kf_ve{
	to{
		top: 1%;
	}
}

.top_12_2_ve{
	-webkit-animation: top_12_2_kf_ve 0.4s linear 1 forwards;
	animation: top_12_2_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_2_kf_ve{
	to{
		top: 0%;
	}
}

@-webkit-keyframes top_12_2_kf_ve{
	to{
		top: 0%;
	}
}

.top_12_3_ve{
	-webkit-animation: top_12_3_kf_ve 0.4s linear 1 forwards;
	animation: top_12_3_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_3_kf_ve{
	to{
		top: -1%;
	}
}

@-webkit-keyframes top_12_3_kf_ve{
	to{
		top: -1%;
	}
}

.top_12_4_ve{
	-webkit-animation: top_12_4_kf_ve 0.4s linear 1 forwards;
	animation: top_12_4_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_4_kf_ve{
	to{
		top: -2%;
	}
}

@-webkit-keyframes top_12_4_kf_ve{
	to{
		top: -2%;
	}
}

.top_12_5_ve{
	-webkit-animation: top_12_5_kf_ve 0.4s linear 1 forwards;
	animation: top_12_5_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_5_kf_ve{
	to{
		top: -3%;
	}
}

@-webkit-keyframes top_12_5_kf_ve{
	to{
		top: -3%;
	}
}

.top_12_6_ve{
	-webkit-animation: top_12_6_kf_ve 0.4s linear 1 forwards;
	animation: top_12_6_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_6_kf_ve{
	to{
		top: -4%;
	}
}

@-webkit-keyframes top_12_6_kf_ve{
	to{
		top: -4%;
	}
}

.top_12_7_ve{
	-webkit-animation: top_12_7_kf_ve 0.4s linear 1 forwards;
	animation: top_12_7_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_7_kf_ve{
	to{
		top: -5%;
	}
}

@-webkit-keyframes top_12_7_kf_ve{
	to{
		top: -5%;
	}
}

.top_12_8_ve{
	-webkit-animation: top_12_8_kf_ve 0.4s linear 1 forwards;
	animation: top_12_8_kf_ve 0.4s linear 1 forwards;
}

@keyframes top_12_8_kf_ve{
	to{
		top: -6%;
	}
}

@-webkit-keyframes top_12_8_kf_ve{
	to{
		top: -6%;
	}
}


.kg_inputcontainer{
	position: absolute;
	width: 27%;
	bottom: 3%;
	left: 1%;
	text-align: right;
}

.gm_inputcontainer{
	position: absolute;
	width: 27%;
	bottom: 3%;
	left: 29%;
	text-align: left;
}

.kg_input, .gm_input{
	width: 50%;
	text-align: right;
	padding-right: 0.3em;
}

.kgtogm_btn, .gmtokg_btn{
	position: absolute;
	bottom: 3%;
	width: 18%;
	line-height: 2;
	background-color: #3C78D8;
	border: 0.08em solid #1155CC;
	border-radius: 0.5em;
  color: white;
  font-family: sniglet;
}

.kgtogm_btn{
	left: 58%;
}

.kgtogm_btn:hover{
	background-color: #80A0F0;
  border: 0.08em solid #C3DDFD;
}

.gmtokg_btn{
	left: 28%;
}

.gmtokg_btn:hover{
	background-color: #00C6E0;
}

.coverboardfull {
	top: -13%;
}

.descriptionheader{
  font-family : sniglet;
  color: black;
  background-color: #B6D7A8;
}
@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/

	.description1 {
		font-size: 6 vh;
	}

	.description {
		font-size: 4.2 vh;
	}

	.descriptionheader{
		font-size: 5.56 vh;
	}

	.description2 {
		font-size: 4 vh;
	}

	.weight_label1, .weight_label2, .weight_label3, .weight_label4, .weight_label5 {
		font-size: 2vh;
	}

	.weight_label2 {
		font-size: 2.5 vh;
	}

	.weight_label3 {
		font-size: 3 vh;
	}

	.weight_label4 {
		font-size: 3.5 vh;
	}

	.weight_label5 {
		font-size: 4 vh;
	}

	.kg_inputcontainer, .gm_inputcontainer{
		font-size: 3.56vh;
	}

	.kgtogm_btn, .gmtokg_btn{
		font-size: 3.56vh;
	}

	.headerblock {
		font-size: 4.56vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.description1 {
		font-size: 5.46 vw;
	}

	.description {
		font-size: 3.56 vw;
	}

	.descriptionheader{
		font-size: 5 vw;
	}

	.description2 {
		font-size: 3.46 vw;
	}

	.weight_label1, .weight_label2, .weight_label3, .weight_label4, .weight_label5 {
		font-size: 1.56vw;
	}

	.weight_label2 {
		font-size: 2.5 vw;
	}

	.weight_label3 {
		font-size: 3 vw;
	}

	.weight_label4 {
		font-size: 3.5 vw;
	}

	.weight_label5 {
		font-size: 4 vw;
	}

	.kg_inputcontainer, .gm_inputcontainer{
		font-size: 3vw;
	}

	.kgtogm_btn, .gmtokg_btn{
		font-size: 3vw;
	}

	.headerblock {
		font-size: 4vw;
	}

}
