.activity_container {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
    	position          : relative;
    	top               : 45%;
    	left              : 50%;
    	transform         : translate(-50%, -50%);
    	-moz-transform    : translate(-50%, -50%);
    	-webkit-transform : translate(-50%, -50%);
    	text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/

        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }

    /*=====  End of HeaderBlock  ======*/

    /*====================================
    =            ContentBlock            =
    ====================================*/

        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        }

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/

        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238);
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow    : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow         : inset 0px 1px 1px 0px rgba(255,255,255,.4);

            -webkit-border-radius : 4px;
            -moz-border-radius    : 4px;
            border-radius         : 7px;

            background-image : -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }

    /*=====  End of InstructionBlock  ======*/


    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;

            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        .swipebackgroundstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        .swipebackgroundstyle:after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;

            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        .swipebackgroundstyle:before{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;

            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        .royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        .orangehighlight{
            color : rgb(197,6,6);
        }

        .textalignleft{
            text-align: left;
        }

    /*=====  End of Text Block  ======*/

    /*=====================================
    =            svg block                =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer > svg{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

    /*=====  End of svg block  ======*/

    /*===================================
    =            Image Block            =
    ===================================*/

        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;
            width    : 40%;
        }

        div.imageblock label{
           position : absolute;
        }

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+3){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }
    /*=====  End of Image Block  ======*/

/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/

    div.miscblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;

        /*border : 1px solid red;*/
    }

    img.slide1imgleft,
    img.slide3imgleft{
        position : absolute;
        bottom   : 0%;
        left     : 0%;
        width    : 20%;
    }

    img.slide1imgright{
        position : absolute;
        bottom   : 0%;
        right    : 0%;
        width    : 85%;
    }

    p.slide1text1,
    p.slide2text1,
    p.slide3text1{
        position   : absolute;
        left       : 30%;
        width      : auto;
        text-align : left;
        top        : 3%;
        font-size  : 1.7em;
        color      : #EC2B2A;
        /*border   : 1px solid red;*/
    }

    img.slide2img1{
        position : absolute;
        bottom   : 0%;
        right    : 0%;
        width    : 80%;
    }

    p.slide2text2,
    p.slide3text2{
        position         : absolute;
        top              : 40%;
        left             : 35%;
        width            : 60%;
        padding          : 4% 4% 7% 4%;
        text-align       : left;
        font-size        : 1.4em;
        line-height      : 1.5em;
        border-radius    : 0.6em;
        background-color : rgba(255,255,255,0.9);
    }

    @-webkit-keyframes animopacityframes{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes animopacityframes{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .animateopacity{
        -webkit-animation : animopacityframes 0.5s linear 1 forwards;
        animation         : animopacityframes 0.5s linear 1 forwards;
    }

    .animateopacitylatetime{
        -webkit-animation-duration : 2s;
        animation-duration         : 2s;

        -webkit-animation-delay : 0.5s;
        animation-delay         : 0.5s;
    }

    img.slide3imgleft{
        z-index: 10;
    }

    div.blackdiv{
        position         : absolute;
        top              : 0;
        left             : 0;
        width            : 100%;
        height           : 100%;
        opacity          : 0;
        background-color : black;

        -webkit-animation-duration : 2s;
        animation-duration         : 2s;

        -webkit-animation-delay : 0.5s;
        animation-delay         : 0.5s;
    }

    div.blackdiv p{
        position  : absolute;
        top       : 40%;
        left      : 33%;
        color     : white;
        font-size : 3em;
        opacity   : 0;

        -webkit-animation : animopacityframes 1s ease-in 2s 1 forwards;
        animation         : animopacityframes 1s ease-in 2s 1 forwards;
    }

    @-webkit-keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(400%);
      }

      50% {
        opacity: 0.6;
        -webkit-transform: translateY(-10%);
      }

      100% {
        opacity: 1;
        -webkit-transform: none;
      }
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(400%);
      }

      90% {
        opacity: 0.6;
        transform: translateY(-10%);
      }

      100% {
        opacity: 1;
        transform: none;
      }
    }

    p.slide4text1,
    p.slide5text1{
        position         : absolute;
        top              : 50%;
        left             : 0%;
        text-align       : left;
        font-size        : 1.5em;
        padding          : 1% 2%;
        color            : white;
        background-color : black;

        -webkit-animation : fadeInUp 1s ease-out 1 forwards;
        animation         : fadeInUp 1s ease-out 1 forwards;
    }

     p.slide5text1{
        top: 70%;
     }

    img.slide4img1,
    img.slide5img1,
    img.slide6img1,
    img.slide7img1,
    img.slide8img1{
       position : absolute;
       bottom   : 0%;
       right    : 0%;
       width    : 100%;
    }

    @-webkit-keyframes fadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translateY(-400%);
      }

      50% {
        opacity: 0.6;
        -webkit-transform: translateY(10%);
      }

      100% {
        opacity: 1;
        -webkit-transform: none;
      }
    }

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translateY(-400%);
      }

      90% {
        opacity: 0.6;
        transform: translateY(10%);
      }

      100% {
        opacity: 1;
        transform: none;
      }
    }

    p.slide6text1{
        position         : absolute;
        top              : 30%;
        left             : 0%;
        text-align       : left;
        font-size        : 1.5em;
        padding          : 1% 2%;
        color            : white;
        background-color : black;

        -webkit-animation : fadeInDown 1s ease-out 1 forwards;
        animation         : fadeInDown 1s ease-out 1 forwards;
    }

    @-webkit-keyframes godiagonal{
      0%{
        left : 0%;
      }

      100%{
        left : 110%;
      }
    }

    @keyframes godiagonal{
      0%{
        left : 0%;
      }

      100%{
        left : 110%;
      }
    }

    img.slide7img2{
        position : absolute;
        top      : 5%;
        left     : 0%;
        width    : 20%;

        -webkit-animation : godiagonal 8s ease-out 1 forwards;
        animation         : godiagonal 8s ease-out 1 forwards;
    }

    @-webkit-keyframes fadeInleft {
        0% {
            right : 100%;
        }

        100% {
            right : 50%;
        }
    }

    @keyframes fadeInleft {
        0% {
          right : 100%;
        }

        100% {
          right : 50%;
        }
    }

    p.slide7text1{
        position         : absolute;
        top              : 10%;
        right            : 100%;
        min-width        : 20%;
        text-align       : left;
        font-size        : 1.4em;
        padding          : 1% 2%;
        color            : white;
        background-color : black;

        -webkit-animation : fadeInleft 4s ease-out 1 forwards;
        animation         : fadeInleft 4s ease-out 1 forwards;
    }

    @-webkit-keyframes slideleft{
        100%{
            right : 100%;
        }
    }

    @keyframes slideleft{
        100%{
            right : 100%;
        }
    }

    div.doorleft{
        position         : absolute;
        right            : 50%;
        bottom           : 0%;
        width            : 100%;
        height           : 100%;
        background-color : black;

        -webkit-animation : slideleft 1s ease-in-out 1.5s 1 forwards;
        animation         : slideleft 1s ease-in-out 1.5s 1 forwards;
    }

    @-webkit-keyframes slideright{
        100%{
            left : 100%;
        }
    }

    @keyframes slideright{
        100%{
            left : 100%;
        }
    }

    div.doorright{
        position         : absolute;
        left             : 50%;
        bottom           : 0%;
        width            : 100%;
        height           : 100%;
        background-color : black;

        -webkit-animation : slideright 1s ease-in-out 1.5s 1 forwards;
        animation         : slideright 1s ease-in-out 1.5s 1 forwards;
    }

    @-webkit-keyframes opacityanim{
        100%{
            opacity: 1;
        }
    }

    @keyframes opacityanim{
        100%{
            opacity: 1;
        }
    }

    p.slide8text1{
        position         : absolute;
        top              : 40%;
        left             : 50%;
        text-align       : left;
        font-size        : 1.4em;
        padding          : 0.5% 1%;
        color            : white;
        background-color : black;
        opacity          : 0;


        -webkit-animation : opacityanim 1s ease-out 1 forwards;
        animation         : opacityanim 1s ease-out 1 forwards;
    }

/*=====  End of Custom Style  ======*/
.cover_text{
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%);
	font-size: 5vh;
}
.cover_image{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
