/*main lab container*/
#lab1{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;

	/*background-color: #37C2DA;*/

	overflow: hidden;

	/*change only this*/
	background-image: url("../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#lab1 *{
	margin:0;
	padding:0;
}

/*---------------------------------------------------------------------------------------------*/
#dailyEx > p:nth-of-type(1), #nxt{
	-webkit-animation-duration: 5s;
  	-moz-animation-duration: 5s;
   	animation-duration: 5s;
}

#uses > figure{
	-webkit-animation-duration: 0.7s;
  	-moz-animation-duration: 0.7s;
   	animation-duration: 0.7s;
}

#uses > figure:nth-of-type(odd){
	-webkit-animation-delay: 1s;
  	-moz-animation-delay: 1s;
   	animation-delay: 1s;
}


/*---------------------------------------------------------------------------------------------*/
/*transfer methods*/
#transerMethod{
	/*display: none;*/
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height:100%;
	/*use of css flex here - promising eh!*/
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

#transerMethod > p:nth-of-type(1){
	display: none;
	font-size: 1.5em;
	color: rgb(200,70,30);
	/* text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.5); */
}

#transerMethod > em{
	display: none;
	font-size: 1.5em;
	font-weight:bold;
}

#transerMethod > em:nth-of-type(1){
	color: #FF1177;
	/* text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #FF1177,0 0 35px #FF1177,0 0 40px #FF1177,0 0 50px #FF1177,0 0 75px #FF1177; */
}

#transerMethod > em:nth-of-type(2){
	color: #228DFF;
	/* text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228DFF,0 0 35px #228DFF,0 0 40px #228DFF,0 0 50px #228DFF,0 0 75px #228DFF; */
}

#transerMethod > em:nth-of-type(3){
	color: #BA01FF;
	/* text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #ff00de,0 0 35px #ff00de,0 0 40px #ff00de,0 0 50px #ff00de,0 0 75px #ff00de; */
}

#transerMethod > p:nth-of-type(2){
	display: none;
	font-size: 1.5em;
	color: black;
	/* text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.5); */
}

/*daily life examples div*/
#dailyEx{
	/*display: none;*/
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height:100%;
}


/*first statement*/
#dailyEx > p:nth-of-type(1){
	display: none;
	position: relative;
	top:1%;
	left:0%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	color: rgb(200,70,30);
	/* text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.5); */
}

/*second statement*/
#dailyEx > p:nth-of-type(2){
	display: none;
	position: relative;
	top:0%;
	left:0%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	color: rgb(200,70,30);
	/* text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.5); */
}

/*uses div*/
#uses{
	position: relative;
	top:3%;
	left:5%;
	width:90%;
	height:70%;
	/*border:1px solid red;*/

	/*use of css flex here - promising eh!*/
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

#uses > figure{
	display: none;
	width: 27%;
	height: 30%;
	/*border:1px solid blue;*/
}
.coverimg {

    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}
.titlefront {

    position: absolute;
    z-index: 100;
    color: white;
    font-family: sniglet;
    font-size: 3vw;
    transform: translateX(-50%);
    left: 50%;
    top: 15%;

}
#uses > figure > img{
	width: 100%;
	height: 100%;
	/*border:1px solid blue;*/
}

#uses > figure > figcaption{
	width:100%;

	text-align: center;
}

#uses > figure:nth-of-type(odd) > figcaption{
	color: rgb(100,20,20);
}

#uses > figure:nth-of-type(even) > figcaption{
	color: rgb(200,20,150);
}

/*next button*/
#nxt{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	/*font-size:2.5em;
	color:black;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	*/
	cursor: pointer;
	width: 8%;
}

#nxt:hover #activityNextHoverBtn
{
	display: block;
}

#nxt:hover #activityNextBtn
{
	display: none;
}
