.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */



.exefin {
	display: none;
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin{
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

.jump_rhino {
	-webkit-animation: jump_rhino 0.5s cubic-bezier(0,.5,1,.5);
	animation: jump_rhino 0.5s cubic-bezier(.5,1,1,.75);
}
@keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}
@-webkit-keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}

.zoom_rhino {
	-webkit-animation: zoom_rhino 1s linear forwards;
	animation: zoom_rhino 1s linear forwards;
	animation-delay:0.75s;
	transform-origin: bottom right;
}
.zoom_marks_rhino {
	-webkit-animation: zoom_marks_rhino 1s linear forwards;
	animation: zoom_marks_rhino 1s linear forwards;
	animation-delay:0.75s;
}
@keyframes
zoom_marks_rhino{
	100% {transform: scale(2);right: 35%;  top: 15%;}
}
@-webkit-keyframes
zoom_marks_rhino{
	100% {transform: scale(2); right: 35%; top: 15%;}
}

@keyframes
zoom_rhino{
	100% {transform: scale(2.5);right: 0%;  bottom: 30%;}
}
@-webkit-keyframes
zoom_rhino{
	100% {transform: scale(2.5); right: 0%; bottom: 30%;}
}

/*--------- for exercise -------------*/
.main_bg{
	background: linear-gradient(#0066A4, #FBFCFF);

}
/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.instruction {
    position: absolute;
    background: rgb(255,217,102);
    font-family: sniglet;
    top: 0;
    width: 100%;
    left: 0;
    height: 9%;
}
.centerimage {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 12%;
}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid #FCD172;
	background-color: #6EB260;
	color: white;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	background-color: #BA6B82;
	color: black;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}
.blank-space{
	white-space: pre;
	color: #00B785;
	border-bottom: 0.3vmin dashed black;
}
.eximg{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	height: 35%;
}

.optionsblock{
	position: absolute;
	padding: 0% 2%;
	height: 40%;
	bottom: 2%;
	width: 50%;
	left: 25%;
	z-index: 10;
	border-radius: 3vmin;
}
.tb-large{
	width: 50%;
	left: 25%;
}
.tb-large-2{
	width: 85%;
	left: 7.5%;
}
.tb-large-2>p{
	left: 2%;
	width: 96%;
}
.options {
    position: absolute;
    cursor: pointer;
    font-size: 2.7vw;
    font-family: sniglet;
    background: rgb(184,212,255);
    padding: 1%;
    border-radius: .4em;
}

.pos-1 {
    top: 47%;
    left: 10%;
}
.pos-2 {
    left: 30%;
    top: 64%;
}
.pos-3 {
    left: 60%;
    top: 64%;
}
.pos-4 {
    left: 83%;
    top: 47%;
}
.options:hover{
	color: #356698;
}

/*-------------------------
 ------- for fonts --------
 --------------------------*/


.my_font_very_big{
	font-size: 4vw;
}

.my_font_big{
	font-size: 3.3vw;
}
.my_font_medium{
	font-size: 2.2vw;
}
.my_font_small{
	font-size: 1.5vw;
}
.instruction {
    position: absolute;
    background: rgb(255,217,102);
    padding: 1%;
    font-family: sniglet;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    font-size: 2.5vw !important;
    height: 12%;
}
.question {
    position: absolute;
    font-family: sniglet;
    background: rgb(184,212,255);
    padding: 1%;
    border-radius: .5em;
    top: 22%;
    transform: translateX(-50%);
    left: 50%;
    width: 90%;
}
.class2 {
    position: absolute;
    font-size: 2vw;
    top: 83%;
    left: 53%;
}
@media (min-aspect-ratio: 4/3){
	.my_font_very_big{
		font-size: 5vmin;
	}
	.my_font_big,.class1,.class2{
		font-size: 4vmin;
	}
	.my_font_medium,.picture_tag{
		font-size: 3.5vmin;
	}
	.my_font_small{
		font-size: 2vmin;
	}
	.options{
		font-size: 3.3vh;
	}
	.instruction{
		font-size: 5.5vmin;
	}

}


.bg1{
	background:url("../images/bg_02.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.bg2{
	background:url("../images/bg_01.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.bg3{
	background:url("../images/bg-03.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.bg4{
	background:url("../images/bg_04.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.bg5{
	background-color: #F5916F;
}
.bg6{
	background-color: #FCE5CD;
}
.bg7{
	background-color: #6AA84F;
}
.bg8{
	background-color: #D0E0E3;
}
.bg9{
	background-color: #D9D2E9;
}
.bg10{
	background-color: #EAD1DC;
}
.class1 {
    top: 87%;
    left: 9%;
    font-size: 2vw;
}
.class2 {
    top: 87%;
    left: 54%;
    font-size: 2vw;
}
.class1:lang(np) {
    top: 87%;
    left: 26%;
    font-size: 2vw;
}
.picture_tag {
    position: absolute;
    font-family: sniglet;
    font-size: 1.5vw;
    background: #f3cb7a;
    padding: 1%;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    left: 25%;
    width: 50%;
    top: 68%;
}
.tb1{
	background-color: #A5695E;
}
.tb2{
	background-color: #AD736D;
}
.tb3{
	background-color: #3E7230;
}
.tb4{
	background-color: #BF9D6C;
}
.tb5{
	background-color: #AE543B;
}
.tb6{
	background-color: #DFA37C;
}
.tb7{
	background-color: #55954B;
}
.tb8{
	background-color: #86AFC4;
}
.tb9{
	background-color: #897EA5;
}
.tb10{
	background-color: #996E84;
}
