.chapterdiv{
    position: absolute;
    bottom: 0;
    color: #FFF953;
}
.bg{
    background-color: #BA664B;
    background-size: 100% 100%;
}
.objdiv1{
    text-align: center;
    position: absolute;
    width: 80%;
    border: 2px solid #fece59;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    border-radius: 80px;
    background-color: #fff5cf;
}
.objdiv{
    color: white;
    text-align: center;
}
.firsttext{
    top:17%;
}
.secondtext{
    top: 44%;
    padding: 1.5%;
}
.contentdiv{
    position: absolute;
    bottom: 0;
    color: #FFCD53;
    background-color: #414B5D;
    width: 100%;
    height: 22%;
    opacity: 0.8;
    text-align: center;
}
.imgdiv2{
    position: absolute;
    width: 50%;
    float: right;
    right: 0%;
}
.contentdiv1{
    position: absolute;
    width: 50%;
    float: left;
    left: 0;
    background-color: #5F5F5F;
    color: #FFCD53;
    text-align: center;
}
.height{
    height: 29%;
}
.contentdiv2{
    padding-top: 15%;
}
.centertext1{
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    padding: 1% 1%;
    height: auto;
}
.gaurikaonly{
    position: absolute;
    width: 39%;
}
.textpadding{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left:20%;
    height: auto;
}