<body>
	<script type="text/javascript">
		$cssLoader("css/quiz.css");
		
	</script>
	<!--exercise -->

<div class="sm1">
		<div class="title">
			Click on the correct answer
		</div>
		<div class="result">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Congratulations on finishing the exercise.</div>
		</div>
		<div class="nextBtn"> </div>
		
		<div class="board"> 
		
		</div>
		
		
		<script type="text/x-handlebars-template" id="qA-templete">
		<div class="row mainholder">
			<div class="col-md-12 col-sm-12 qAHolder">
				<div class="col-md-12 col-sm-12 col-xs-12 question">{{{question}}}</div>
			</div>
			
			
		<!-- <div class="correcttxt">Correct</div>
		<div class="incorrecttxt">Incorrect</div> -->
		
			
		</div>
		
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imgHolder">
				{{#if img}}
					<img src="{{img}}" alt="" class="image_container img-responsive" id="image_cont">
				{{/if}}
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 answers">
				<ul>
					{{#each answers}}
					<li class="neutral" data-correct="{{correct}}">{{{ans}}}</li>
					{{/each}}
					</ul>
			</div>
		</div>
	</script>
	</div>

	<!-- js loader starts -->
	<script type="text/javascript">
		$jsLoader("js/quiz3.js"); 

	</script>
</body>