

.foodsieat {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: laila;
}

.foodsieat, .foodsieat * {
	position: relative;
	margin: 0;
	padding: 0;
}

.foodsieat .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.foodsieat .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generalTemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.maintitle{
	background-color: #FFE248;
	color: #D6476A;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0.5em 1em;
	width: 80%;
	left: 10%;
	border: 0.18em solid #f0E046;
	border-radius: 0.7em;
}
.covertitle{
	color: #D6476A;
	position: relative;
	top: 20%;
	transform: translateY(-50%);;
	width: 80%;
	left: 10%;
	z-index: 100;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 90;
}

.coverboardfull, .textblock {
	background-color: #69BB6E;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	font-family: laila;
}

.food{
	width: 25%;
	position: absolute;
}

#food1{
	top: 60%;
	left: 10%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1.5s ease-in forwards;
}

#food2{
	top: 28%;
	left: 2%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1.5s ease-in 1.5s forwards;
}

#food3{
	top: 2%;
	left: 22%;
	width: 20%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1.5s ease-in 3s forwards;
}

#food4{
	top: -5%;
	left: 50%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1.5s ease-in 4.5s forwards;
}

#food5{
	top: 28%;
	left: 73%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1.5s ease-in 6s forwards;
	width: 20%;
}

#food6{
	top: 65%;
	left: 65%;
	width: 20%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1.5s ease-in 7.5s forwards;
}

#food7{
	top: 65%;
	left: 38%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1.5s ease-in 9s forwards;
}

.fade_in{
	opacity: 0;
	animation: fade_in_kf 1s ease-in 0.5s forwards;
}

@keyframes fade_in_kf{
	90%{
		opacity: 1;
	}

	100%{
		opacity: 1;
	}
}

@keyframes fade_in_scale{
	90%{
		opacity: 1;
		transform: scale(1.1);
	}

	100%{
		opacity: 1;
		transform: scale(1);
	}
}

.description{
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	width: 46%;
	left: 27%;
}

.title{
	width: 100%;
	height: 9%;
	background-color: #7D6EC6;
	color: #fff;
	padding: 0.5em 1em;
	font-family: ohwhale;
	z-index: 1
}

.title::after{
	content: " ";
	width: 100%;
	height: 100%;
	background-color: #7D6EC6;
	transform: skewY(1.5deg);
	transform-origin: 0% 100%;
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
}

.imagediv1, .imagediv2, .imagediv3, .imagediv4, .imagediv5{
	width: 30%;
	height: 32.5%;
	position: absolute;
	background-color: #fff;
	border-radius: 0.5em;
}

.imagediv1, .imagediv3{
	top: 15%;
}

.imagediv1, .imagediv4{
	left: 3%;
}

.imagediv3, .imagediv5{
	right: 3%;
}

.imagediv4, .imagediv5{
	bottom: 15%;
}

.imagediv2{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image, .imagelabel{
	position: absolute;
}

.image{
	top: 5%;
	height: 90%;
	z-index: 5;
	transform: translateX(-50%);
}

.imagelabel{
	width: 100%;
	bottom: 0;
	left: 0;
	color: #fff;
	background-color: rgba(255, 86, 156, 0.6);
	border-radius: 0 0 0.25em 0.25em;
	z-index: 10;
	padding: 0.2em 0.5em;
	font-weight: normal;
	cursor: pointer;
}

.imagediv1_7, .imagediv2_7, .imagediv3_7, .imagediv4_7, .imagediv5_7, .imagediv6_7, .imagediv7_7{
	width: 20%;
	height: 32.5%;
	position: absolute;
	border: 0.2em solid #FFF9D5;
	border-radius: 0.5em;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1s ease-in forwards;
	background-color: #fff;
	border-radius: 0.5em;
	cursor: pointer;
}

.imagediv1_7, .imagediv2_7, .imagediv3_7, .imagediv4_7{
	top: 15%;
}

.imagediv5_7, .imagediv6_7, .imagediv7_7{
	bottom: 15%;
}

.imagediv1_7{
	left: 4%;
}

.imagediv2_7{
	left: 28%;
}

.imagediv3_7{
	left: 52%;
}

.imagediv4_7{
	left: 76%;
}

.imagediv5_7{
	left: 16%;
}

.imagediv6_7{
	left: 40%;
}

.imagediv7_7{
	left: 64%;;
}

.imagediv1_6, .imagediv2_6, .imagediv3_6, .imagediv4_6, .imagediv5_6, .imagediv6_6 {
	width: 30%;
	height: 32.5%;
	position: absolute;
	border: 0.2em solid #FFF9D5;
	border-radius: 0.5em;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1s ease-in forwards;
	background-color: #fff;
	border-radius: 0.5em;
	cursor: pointer;
}

.imagediv1_6, .imagediv2_6, .imagediv3_6{
	top: 15%;
}

.imagediv4_6, .imagediv5_6, .imagediv6_6 {
	bottom: 15%;
}

.imagediv1_6, .imagediv4_6{
	left: 3%;
}

.imagediv2_6, .imagediv5_6{
	left: 35%;
}

.imagediv3_6, .imagediv6_6{
	left: 67%;
}

.imagediv1_3, .imagediv2_3, .imagediv3_3 {
	width: 30%;
	height: 32.5%;
	position: absolute;
	border: 0.2em solid #FFF9D5;
	border-radius: 0.5em;
	top: 33.8%;
	opacity: 0;
	transform: scale(0);
	animation: fade_in_scale 1s ease-in forwards;
	background-color: #fff;
	border-radius: 0.5em;
	cursor: pointer;
}

.imagediv1_3 {
	left: 3%;
}

.imagediv2_3 {
	left: 35%;
}

.imagediv3_3 {
	left: 67%;
}

.imagediv1_7:hover, .imagediv2_7:hover, .imagediv3_7:hover, .imagediv4_7:hover,
.imagediv5_7:hover, .imagediv6_7:hover, .imagediv7_7:hover, .imagediv1_6:hover,
.imagediv2_6:hover, .imagediv3_6:hover, .imagediv4_6:hover, .imagediv5_6:hover,
.imagediv6_6:hover, .imagediv1_3:hover, .imagediv2_3:hover, .imagediv3_3:hover,
.imagediv1_3:hover, .imagediv2_3:hover, .imagediv3_3:hover {
	/*border: 0.2em solid #00C9DB;*/
	border: 0.2em solid #E4CC37;
	border-radius: 0.5em;
}

.selected, .selected:hover{
	border: 0.25em solid #E4CC37;
	border-radius: 0.5em;
}

.containerrrr{
	position: relative;
	width: 100%;
	height: 20%;
	padding: 1% 5%;
}

.imagediv_last{
	position: relative;
	width: 98%;
	height: 18%;
	border: 0.2em solid #3ED5E2;
	border-radius: 0.5em;
	margin: 1%;
	background-color: #FFF;
}

.image_last{
	position: relative;
	width: 12.5%;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
}

.label_last{
	position: relative;
	width: 12.5%;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	font-weight: normal;
}

.animate_image_last{
	left: 80%;
	animation: animate_kf 3s linear forwards;
}

@keyframes animate_kf{
	100%{
		left: 0;
	}
}
.hvr{
	border: 0.2em solid green;
	border-radius: 0.5em;
}

.coverpage{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
}
@media screen and (min-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 6vh;
	}

	.description, .title {
		font-size: 4.5vh;
	}

	.imagelabel {
		font-size: 3.2vh;
	}
	.label_last{
		font-size: 3vh;
	}
	.covertitle{
		font-size: 12vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 5.56vw;
	}

	.description, .title {
		font-size: 3.8vw;
	}

	.imagelabel {
		font-size: 2.4vw;
	}
	.label_last{
		font-size: 2.3vw;
	}
	.covertitle{
		font-size: 8vw;
	}
}
