

.foodsieat {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: laila;
}

.foodsieat, .foodsieat * {
	position: relative;
	margin: 0;
	padding: 0;
}

.foodsieat .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.foodsieat .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board,.board_prev, .board_next {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.board_prev{
	top: 0%;
	left: -100%;
}

.board_next{
	top: 0%;
	left: 100%;
}

.move_left_1{
	animation: move_left_kf_1 4s linear forwards;
}

.move_left_2{
	animation: move_left_kf_2 4s linear forwards;
}

@keyframes move_left_kf_1{
	100%{
		left: -100%;
	}
}

@keyframes move_left_kf_2{
	100%{
		left: 0%;
	}
}

.move_right_1{
	animation: move_right_kf_1 4s linear;
}

.move_right_2{
	animation: move_right_kf_2 4s linear;
}

@keyframes move_right_kf_1{
	100%{
		left: 0%;
	}
}

@keyframes move_right_kf_2{
	100%{
		left: 100%;
	}
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generalTemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	font-family: laila;
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	height: auto;
	z-index: 100;
}

.additional_ltb{
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	z-index: 1;
}

.maintitle{
	color: #fff;
}

.maintitle2{
	color: #3a3a3a;
}

.image_pasang, .image_pasang_2{
	position: absolute;
	width: 20%;
	left: 5%;
	bottom: 0%;
	transform: scaleX(-1);
	z-index: 10;
}

.image_pasang_2{
	bottom: -45%;
	width: 30%;
	left: 1%;
}

.image_pasang_3{
	position: absolute;
	width: 14%;
	left: 43%;
	top: 100%;
	animation: animate_top 1.5s linear 1s forwards;
}

@keyframes animate_top {
	100%{
		top: 40%;
	}
}

.image_2{
	position: absolute;
	width: 30%;
	left: 35%;
	bottom: 10%;
}

.fly1, .fly2, .fly3{
	position: absolute;
	width: 3%;
}

.fly1{
	left: 48%;
	bottom: 35%;
	animation: flymove_kf 0.5s linear infinite;
}

.fly2{
	left: 40%;
	bottom: 35%;
	transform-origin: 200% 50%;
	animation: flymove_kf2 0.8s linear infinite;
}

.fly3{
	left: 56%;
	bottom: 40%;
	animation: flymove_kf2 1.8s linear infinite;
}

.bacteria1{
	font-weight: normal;
	position: absolute;
	width: 5.5%;
	height: 12%;
	top: 40%;
	left: 38%;
	/*background-image: url("../images/lesson3/virus_microbe_sprite.png");
	background-size: 500% 100%;
	background-position: 0 0;*/
	/*transform: scale(0);*/
	opacity: 0;
	z-index: 5;
	/*animation: sprite_animate 1.5s steps(5) infinite, expand_kf 1.5s linear 1 forwards, attack_boy_1 3s cubic-bezier(.2,.58,.45,.84) 2s forwards, attack_boy_2 3s cubic-bezier(.67,.21,.85,.44) 2s forwards;*/
	animation: germ1_kf 1s linear alternate infinite, expand_kf 1.5s linear 1 forwards, attack_boy_1 3s cubic-bezier(.2,.58,.45,.84) 2s forwards, attack_boy_2 3s cubic-bezier(.67,.21,.85,.44) 2s forwards;
}

.bacteria2{
	font-weight: normal;
	position: absolute;
	width: 8.5%;
	height: 10%;
	top: 40%;
	left: 50%;
	/*background-image: url("../images/lesson3/brownmicrobesprite.png");
	background-size: 500% 100%;
	background-position: 0 0;*/
	/*transform: scale(0);*/
	opacity: 0;
	z-index: 5;
	/*animation: sprite_animate 1.5s steps(5) infinite, expand_kf 1.5s linear 1 forwards, attack_boy_1 3s linear 2s forwards, attack_boy_2 3s cubic-bezier(.07,.69,.48,.96) 2s forwards;*/
	animation: germ2_kf 1s linear alternate infinite, expand_kf 1.5s linear 1 forwards, attack_boy_1 3s linear 2s forwards, attack_boy_2 3s cubic-bezier(.07,.69,.48,.96) 2s forwards;
}

@keyframes germ1_kf {
	0%{
		transform: skewX(10deg) rotate(-10deg) scale(1.1);
	}

	33.33%{
		transform: skewX(0deg) rotate(10deg) scale(0.9);
	}

	66.66%{
		transform: skewX(-10deg) rotate(-12deg) scale(0.8);
	}

	100%{
		transform: skewX(0deg) rotate(2deg) scale(1);
	}
}

@keyframes germ2_kf {
	0%{
		transform: skewX(-8deg) skewY(-8deg) rotate(-2deg) scale(1.1);
	}

	33.33%{
		transform: skewX(-5deg) skewY(-2deg) rotate(4deg) scale(0.9);
	}

	66.66%{
		transform: skewX(-4deg) skewY(-8deg) rotate(-6deg) scale(0.8);
	}

	100%{
		transform: skewX(-2deg) skewY(-4deg) rotate(0deg) scale(1);
	}
}

.container1, .container2, .container3{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 1
}

.container2, .container3{
	display: none;
}

.container1, .container3{
	opacity: 0;
	animation: fadein_kf 1s linear forwards;
}

@keyframes fadein_kf{
	100%{
		opacity: 1;
	}
}

.fadeaway{
	opacity: 1;
	animation: fadeaway_kf 1s linear forwards;
}

@keyframes fadeaway_kf{
	100%{
		opacity: 0;
	}
}

.fadein1{
	animation: fadein_kf_1 8s linear infinite;
}

.fadein2{
	animation: fadein_kf_2 8s linear infinite;
}

.fadein3{
	animation: fadein_kf_3 8s linear infinite;
}

@keyframes fadein_kf_1{
	0%{
		opacity: 1;
	}
	33.33%{
		opacity: 0;
	}
	66.66%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadein_kf_2{
	0%{
		opacity: 0;
	}
	33.33%{
		opacity: 1;
	}
	66.66%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}

@keyframes fadein_kf_3{
	0%{
		opacity: 0;
	}
	33.33%{
		opacity: 0;
	}
	66.66%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


.ltb_text_1, .ltb_text_2, .ltb_text_3, .ltb_text_4, .ltb_text_5,
.ltb_text_6, .ltb_text_7, .ltb_text_8, .ltb_text_9, .ltb_text_10{
	position: absolute;
	width: 5%;
	height: 100%;
	background-color: #69BB6E;
	display: none;
}

.expand{
	animation: expand_p_kf 1.5s linear forwards;
}

@keyframes expand_p_kf{
	100%{
		width: 11%;
	}
}

.ltb_text_1{
	left: 0;
}

.ltb_text_2{
	left: 10%;
}

.ltb_text_3{
	left: 20%;
}

.ltb_text_4{
	left: 30%;
}

.ltb_text_5{
	left: 40%;
}

.ltb_text_6{
	left: 50%;
}

.ltb_text_7{
	left: 60%;
}

.ltb_text_8{
	left: 70%;
}

.ltb_text_9{
	left: 80%;
}

.ltb_text_10{
	left: 90%;
}


@keyframes sprite_animate{
	to{
		background-position: -500% 0%;
	}
}

@keyframes expand_kf{
	90%{
		/*transform: scale(1.1);*/
		opacity: 1;
	}
	100%{
		/*transform: scale(1);*/
		opacity: 1;
	}
}

@keyframes attack_boy_1{
	to{
		left: 10%;
	}
}

@keyframes attack_boy_2{
	to{
		top: 60%;
	}
}

@keyframes flymove_kf{
	0%{
		transform: translateX(0);
	}

	33%{
		transform: translateX(10%);
	}

	66%{
		transform: translateX(-10%);
	}

	100%{
		transform: translateX(0);
	}
}

@keyframes flymove_kf2{
	0%  {
		transform: translateX(3%) translateY(20%);
	}
	25%  {
		transform: translateX(3%) translateY(40%);
	}
	50%  {
		transform: translateX(3%) translateY(60%);
	}
	75%  {
		transform: translateX(3%) translateY(30%);
	}
	100%  {
		transform: translateX(3%) translateY(20%);
	}
}


.background_color1{
	background-color: #7D6EC6;
}

.background_color2{
	background-color: #A85ECA;
}

.background_color3{
	background-color: #1BBEBC;
}

.background_color4{
	background-color: #69BB6E;
}

.basket1, .basket2{
	position: absolute;
	width: 20%;
	bottom: 5%;
}

.basket1{
	left: 55%;
}

.basket2{
	right: 55%;
}

.toptxt{
	position: absolute;
	width: 100%;
	top: 5%;
	left: 0%;
}

@media screen and (min-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 5vh;
	}

	.description, .title, .maintitle2 {
		font-size: 4vh;
	}

	.label {
		font-size: 2.56vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 4.3vw;
	}

	.description, .title, .maintitle2 {
		font-size: 3.56vw;
	}

	.label {
		font-size: 2vw;
	}
}
