<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{additionalclasscontentblock}}">
    <!-- for question with image. text or image as options -->
    		{{#if uppertextblock}}
	            <div class="textblock {{uppertextblockadditionalclass}}">
                    {{#each uppertextblock}}
                         <p class="{{textclass}}">{{{textdata}}}</p>
                    {{/each}}
	            </div>
            {{/if}}
            {{#if snapper}}
	            <div class="{{snapper}}">
	            </div>
            {{/if}}
     		{{#if imageblock}}
	            <div class="imageblock {{imageblockadditionalclass}}">
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
	            </div>
            {{/if}}
            {{#if digitblock}}
	            <div class="digitblock {{digitblockadditionalclass}}">
	                    {{#each digitblock}}
	                    	{{> digitcontent}}
	               		{{/each}}
	            </div>
            {{/if}}
            </div>
     </div>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="digitcontent-partial" type="text/x-handlebars-template">
    <input class="{{digitclass}}" value="{{{digitdata}}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"></input>
    {{#if scale}}
    	<p class="{{scaleclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{scale}}}</p>
	{{/if}}
	{{! for check button or list}}
	{{#if buttondata}}
    	<button class="{{buttonclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{buttondata}}}</button>
	{{/if}}
</script>

<!-- js loader starts -->

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
