@font-face {
  font-family: "Aladin";
  font-style: normal;
  font-weight: 400;
  src: local("Aladin Regular"), local("Aladin-Regular"), url("fonts/wzM-ZeRLnblnioNhK00GaA.woff2") format("woff2");
}

/* layout correction*/
.topTitleBar .breadCrum{

	display:none;
}

.helpText.col-md-1.col-sm-1.col-xs-1.nav.navbar-nav.navbar-right{
	display:none;
}

/* layout correction end*/

.transformation {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.transformation, .transformation * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.transformation .nextBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	right     : 0%;
	width     : 7%;
	height    : 10%;	
}

.transformation .prevBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	left      : 0%;
	width     : 7%;
	height    : 10%;	
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
    	position          : relative;	
    	top               : 45%;
    	left              : 50%;
    	transform         : translate(-50%, -50%);
    	-moz-transform    : translate(-50%, -50%);
    	-webkit-transform : translate(-50%, -50%);
    	text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/
        
        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
			z-index  : 100;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : #fff;
            background-color : #B58AA5;
            text-align       : center;
        }

        div.generaltemplateblock[data-templatecontains='hasonlyheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlyheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }
        
    /*=====  End of HeaderBlock  ======*/
    
    /*====================================
    =            ContentBlock            =
    ====================================*/
        
        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasonlyheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlyfooterblock'] div.contentblock{
            top    : 0%;
            height : 89%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderfooterblock'] div.contentblock{
            top    : 10%;
            height : 80%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        } 

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =            FooterBlock            =
    ===================================*/
        
        div.footerblock{
            position         : absolute;
            bottom           : 0%;
            left             : 8%;
            height           : 9%;
            width            : 84%;
            background-color : rgb(198, 234, 248);
            /*border           : 1px solid red;*/
        }

        div.footerblock p.footertextstyle{
            position   : relative;
            padding    : 1% 2%;
            color      : rgb(0, 0, 0);
            font-size  : 1.3em;
            text-align : center;
        }

        div.generaltemplateblock[data-templatecontains='hasonlyfooterblock'] div.footerblock{
            height:10%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlyfooterblock'] div.footerblock p.footertextstyle{
            padding : 1.5%;
        }
        
    /*=====  End of FooterBlock  ======*/
        
        
    /*==================================
    =            Text Block            =
    ==================================*/
        
        div.textblock{
            position   : relative;
            margin-top : 0%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(245, 242, 199);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;
            
            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        .orangehighlight{
            color : rgb(197,6,6);
        }

        p.textalignleft{
            text-align: left;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

    /*=====  End of Text Block  ======*/
    
    
    /*===================================
    =            Image Block            =
    ===================================*/
    
        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{ 
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;          
            width    : 40%;
        }   

        div.imageblock label{
           position : absolute;
        } 

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }    

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 12%;
        }

        img.threeimgtogether:nth-of-type(-n+2){
            margin-right : 1%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 1%;
        }        
    /*=====  End of Image Block  ======*/
    

    /*====================================
    =            usageslowreveal Block =
    ====================================*/

        div.layoutusageslowreveal,
        div.usageslowrevealblock{
            position : relative;    
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        .usageheading{
            position         : relative;
            top              : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
        }

    /*-----  End of usageslowreveal Block  ------*/

    /*============================================
    =            Time to think Block            =
    ============================================*/

        div.timeToThink{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

        div.timeToThink > figure{
            position : absolute;
            top      : 10%;
            width    : 50%;
            left     : 5%;
        }

        div.timeToThink > figure > img{
            position : relative;
            width    : 100%;
        }

        div.timeToThink > figure > figcaption{
            display    : table;
            position   : relative;
            margin-top : -17%;
            left       : 40%;
            width      : 55%;
            font-size  : 1.5em;
            color      : rgb(201, 136, 116);
        }

        div.timeToThink > p{
            position   : relative;
            top        : 50%;
            text-align : left;
            font-size  : 1.4em;
            /* border  : 1px solid red; */
        }

    /*=====  End of Time to think Block  ======*/

    /*=====================================
    =            svg layout            =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }
        
        div.svgcontainer{
            height: 53%;
		position: absolute;
		width: 100%;
            /*border   : 1px solid blue;*/
        }
        
        div.soapsvg{
            position : absolute;
            top: -20%;
            right: -1%;
            width: 50%;
            /*height   : 70%;*/
            /*border   : 1px solid blue;*/
        }
        
  
    /*=====  End of svg layout  ======*/

    /*=======================================
    =            Property Layout            =
    =======================================*/
        div.propertylayout{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertyblock{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertylistcontainer{
            position: absolute;
            top: 17.5%;
            left: 2%;
            width: 30%;
            height: 65%;
            border:2px solid rgb(147, 82, 52);
        }

        div.propertylistcontainer h4{
            position: relative;
            color: rgb(255, 255, 255);
            background: rgb(147, 82, 52) none repeat scroll 0% 0%;
            text-align: center;
            padding: 2% 2%;
            font-size: 1em;
        }

        div.propertylistcontainer p{
            position:relative;
            padding: 3% 2%;
            color: rgb(0, 0, 0);
            font-size: 1.1em;
        }

        div.propertylistcontainer p:nth-of-type(n+2){
            margin-top: 20%;
        }

        div.propertylistcontainer p span{
            position: absolute;
            left:0;
            padding: 1% 3%;
            color: rgb(255, 255, 255);
            background-color: rgb(147, 82, 52);
            font-weight: bold;
        }

        div.propertylistcontainer p small{
            position: absolute;
            left: 15%;
            color: rgb(0, 0, 0);
            text-align: left;
        }

        div.propertylayout div.explainpropertycontainer{
            position:absolute;
            left: 35%;
            top:10%;
            height:87%;
            width:65%;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty{
            position:absolute;
            width:100%;
            font-size: 1.3em;
            border-top: 5px solid rgb(255, 146, 7);
        }


        div.propertylayout div.explainpropertycontainer div.mainproperty span{
            position: absolute;
            left:0;
            padding: 2% 2% 0.5%;
            color: rgb(255, 255, 255);
            background-color: rgb(255, 146, 7);
            font-weight: bold;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty p{
            position: absolute;
            padding-top: 1%;
            left: 9%;
            color: rgb(0, 0, 0);
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain{
            position: absolute;
            top:15%;
            left:0%;
            width:100%;
            height:80%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain img{
            position: relative;
            top:0%;
            left:0%;
            width:40%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain p{
            position: relative;
            top:5%;
            left:0%;
            font-size: 1.2em;
            text-align: left;
        }

    /*-----  End of Property Layout  ------*/


    /*=======================================
    =            Property Summary Layout    =
    =======================================*/
        div.propertysummarylayout{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertysummaryblock{
            position: relative; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            text-align: center;
        }

        div.propertysummaryblock ul{
            display:inline-block;
            position: relative; 
            padding:0 0 3% 0;
            border:2px solid rgb(147, 82, 52);
        }

        div.propertysummaryblock ul div{
            background: rgb(147, 82, 52) none repeat scroll 0% 0%;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 1.3em;
            font-weight: normal;
            padding: 3% 5%;
        }

        div.propertysummaryblock ul li{
            position: relative;
            color: rgb(42, 101, 88);
            padding: 3% 2%;
            width:100%;
        }

        div.propertysummaryblock ul li:nth-of-type(n+2){
            margin-top:5%;
        }

        div.propertysummaryblock ul li span{
            position: absolute;
            /*text-align:left;*/
            padding: 1.5%;
            left:0;
            color: rgb(255, 255, 255);
            background-color: rgb(147, 82, 52);
            font-weight: bold;
        }

        div.propertysummaryblock ul li p{
                position: absolute;
            padding: 1%;
            left: 7%;
            color: rgb(0, 0, 0);
        }
    /*-----  End of Property Summary Layout  ------*/

    /*====================================
    =            Usage Layout            =
    ====================================*/

        div.usagelayout,
        div.usagelayout div.usageblock{
            position: relative; 
            top: 0%;
            left: 0%;
            width:100%;
            height:100%;
            /*border:1px solid red;*/
        }

        div.usagelayout .usageheading{
            position: absolute; 
            top: 4%;
            left: 5%;
            font-size: 1.5em;
        }

        div.usagelayout p.usagetext{
            position: absolute;
            top:15%;
            left:5%;
            width: 95%;
            font-size: 1.15em;
            padding: 0.5% 0% 0.5% 2%;
            text-align: left;
            border-top: 5px solid rgb(255, 146, 7);
            border-left: 15px solid rgb(255, 146, 7);
            color: rgb(147, 82, 52);
        }

        div.usagelayout div.explainusage{
            position: absolute;
            top:26%;
            left:5%;
            width: 95%;
            height:74%;
            /*border:1px solid red;*/
        }

        div.usagelayout div.explainusage div.explainusageimagecontainer{
            position: absolute;
            top:0%;
            left:0%;
            width: 50%;
            height:100%;
        }

        div.usagelayout div.explainusage div.explainusageimagecontainer img{
            position: absolute;
            width: 60%;

            /* keep the image at the center of its container
               following code shall help you */
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);   
        }

        div.usagelayout div.explainusage .explainusagetext{
            display: table;
            margin: 0px 2%;
            position: absolute;
            left:47%;
            padding: 2%;
            width: 45%;
            font-size: 1.05em;
            text-align: left;
            text-align: justify;
            background-color: rgb(255, 247, 208);
            border: 2px solid rgb(247, 204, 27);
            border-radius: 5px;
            
            /* keep this block of text always at the vertical center please
                following code shall help you - cheers!*/
            top:50%;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
    /*-----  End of Usage Layout  ------*/

/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/


/*====================================
=            personal css starts         =
====================================*/
img.fiveimgtogether{
            position   : relative;
            display    : inline-block;
            width: 25%;
            margin-top: -4%;
            padding: 5%;
            opacity: 0;
        }

.indicator{
    width: 40% !important;
}
.lable1{
    position: relative;
    margin-top: 18%;
    left: 22%;
    display: none;
}
.lable2{
    position: relative;
    margin-top: 18%;
    display: none;
    left: 47%;
}
.lable3{
    position: relative;
    margin-top: 18%;
    display: none;
    right: 22%;
}
.lable4{
    position: relative;
    margin-top: 17%;
    display: none;
    left: 33%;
}
.lable5{
    position: relative;
    margin-top: 17%;
    display: none;
    right: 25%;
}
.lablestyle1{
    position: relative;
    top: 45%;
    left: 12%;
}
.lablestyle2{
    position: relative;
    top: 45%;
    left: 38%;
}
.lablestyle3{
    position: relative;
    top: 45%;
    left: 60%;
}
.lablestyle4{
    position: relative;
    top: 49%;
    right: 8%;
}
.lablestyle5{
    position: relative;
    left: 26%;
    bottom:-3%;
}
.lablestyle6{
    position: relative;
    left: 48%;
    bottom:-3%;
}
.lablestyle7{
    position: relative;
    left: 68%;
    bottom: -3%;
}
.h1{
    position: relative;
    margin-top:22%;
    left: -20%;
    opacity: 0;
    z-index: 9999;
    width: 4%!important;
}
.h2{
    position: relative;
    margin-top: 0%;
    left: -25%;
    opacity: 0;
    width: 4%!important;
    z-index: 9999;


}
.h3{
    position: relative;
    margin-top:22%;
    right: 15%;
    opacity: 0;
    width: 4%!important;
    z-index: 9999;


}
.bitter{
    position:absolute;
    margin-top:10%;
    left: 30%;
}
/*.ion_popup{
    animation: popup 1s linear 1.5s 1 forwards;
}

@-moz-keyframes popup{
0%{
    transfor: scale(0.5);
}
100%{
    transform: scale(1);
    opacity: 1;
}
 
}*/
.sidepara{
    position: relative;
    margin-top: 0%;
    background: #eee;
    width: 40%;
    padding: 1%;
}
.headermove{
    position   : relative;
    padding    : 1%;
    margin-left: 25%;
    width: 50%;
    background:  #FFC5AC;
            /*color      : rgb(0, 0, 0);*/
    color: #800000;
    font-size  : 1.1em;
    text-align : center;
    border-radius: 8px;
}

@keyframes goleft{
  0%{
     right:0%;
  }

  100%{
      right:45%;
  }
}

@-webkit-keyframes goleft{
  0%{
      right:0%;
  }

 100%{
      right:45%;
  }
}

@-moz-keyframes goleft{
  0%{
      right:0%;
  }

 100%{
      right:45%;
  }
}

.moveleft
{
  animation-duration: 1s;
  animation-name: goleft;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -webkit-animation-name: goleft;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-backface-visibility: hidden; /* removes flicker if there */
}

img.sevenimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 19%;
            margin-top : 2%;
            padding:  2%;
        }

        img.sevenimgtogether:nth-of-type(-n+2){
            margin-right : 5%;
        }

        img.sevenimgtogetherlowspacing:nth-of-type(1){
            margin-right : 5%;
        }

.lemon{
    position: relative;
    margin-top: 8%;
    left: 2%;
    z-index: 9999;
    /*background: black;*/
}
.sideheadingstyle{
    position: relative;
    /*top: 2%;*/
    padding: 1%;
    background:  #FFC5AC;
    color: #800000;
    font-size  : 1.2em;
}
.sidestyle{
    position: relative;
    padding: 1%;
    margin-left: -12%;
    font-size: 1.2em;
    text-shadow: 0px 1px 1px #000;
    /*color: #00AF88;*/
}
.sidestylemove{
    position: relative;
    padding: 0%;
    margin-top: -4.3%;
    margin-left: 100%;
    font-size: 1.2em;
    text-shadow: 0px 1px 1px #00AF88;

}
.sideimgstyle{
    position: absolute;
    left: 10%;
    /*top: -30%;*/
}

.sidelable1{
    position: absolute;
    top: 4%;
    /*display: none;*/
    border-radius: 8px;
    left: 0;
    background: #CCE8F4;
    padding:1%;
    width: 40%;
}

.footerliststyle{
    position:relative;
    margin-bottom: 10%;
}


@keyframes slide{
    from{
        opacity: 1;
    }
    to{
        transform: translateY(80px);
    }
}

@-webkit-keyframes slide{
    from{
        opacity: 1;
    }
    to{
        transform: translateY(80px);
    }
}

@-moz-keyframes slide{
    from{
        opacity: 1;
    }
    to{
        transform: translateY(80px);
    }
}

.soapslide{
    animation: slide 2s ease-in-out 1s 1 forwards;
    -webkit-animation: slide 2s ease-in-out 1s 1 forwards;
    -moz-animation: slide 2s ease-in-out 1s 1 forwards;
}


@keyframes godown{
    from{
        opacity: 1;
    }
    to{
        transform: translateY(240px);
        opacity: 1;
    }
}

@-webkit-keyframes godown{
    from{
        opacity: 1;
    }
    to{
        -webkit-transform: translateY(240px);
        opacity: 0;
    }
}

@-moz-keyframes godown{
    from{
            opacity: 1;
        }
    to{
        -moz-transform: translateY(240px);
        opacity: 0;
    }
}

.down{
    animation: godown 3s linear 1;
    -webkit-animation: godown 3s linear 1;
    -moz-animation: godown 3s linear 1;
    opacity: 1;
}

@keyframes ion{
    to{opacity: 1;}
}

@-webkit-keyframes ion{
    to{opacity: 1;}
}

@-moz-keyframes ion{
    to{opacity: 1;}
}

.ion_move{
    animation: ion 2s ease-out 2s 1 forwards;    
    -webkit-animation: ion 2s ease-out 2s 1 forwards;    
    -moz-animation: ion 2s ease-out 2s 1 forwards;    
}


@keyframes bubble{
    0%{
        opacity: 1;
        -moz-transform: translateY(20px);
    }
    100%{
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes bubble{
    0%{
        opacity: 1;
        -moz-transform: translateY(20px);
    }
    100%{
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes bubble{
    0%{
        opacity: 1;
        -moz-transform: translateY(20px);
    }
    100%{
        -moz-transform: translateY(0px);
        opacity: 1;
    }
}

.H2O{
    animation: bubble 2s linear 1.5s 1 forwards; 
    -webkit-animation: bubble 2s linear 1.5s 1 forwards; 
    -moz-animation: bubble 2s linear 1.5s 1 forwards; 
}


@keyframes pop{
    from{
        opacity: 0.2;
       -moz-transform: rotate(180deg);

    }
    to{
        opacity: 1;
        -moz-transform: rotate(0deg);

    }
}

@-webkit-keyframes pop{
    from{
        opacity: 0.2;
       -moz-transform: rotate(180deg);

    }
    to{
        opacity: 1;
        -moz-transform: rotate(0deg);
    }
}

@-moz-keyframes pop{
    from{
        opacity: 0.2;
       -moz-transform: rotate(180deg);

    }
    to{
        opacity: 1;
        -moz-transform: rotate(0deg);

    }
}
.poppop{
    animation: pop 2s ease-in-out 1s 1 forwards;
    -webkit-animation: pop 2s ease-in-out 1s 1 forwards;
    -moz-animation: pop 2s ease-in-out 1s 1 forwards;
}


      
#hydrogen_ion,
#oh_ion1{
    /*display: none;*/
    opacity: 0;
}
#hydrogen_ion2,
#oh_ion2{
   /*display: none;*/
   opacity: 0;
}
#hydrogen_ion3,
#oh_ion3{
   /*display: none;*/
   opacity: 0;
}
#hydrogen_ion4,
#oh_ion4{
    /*display: none;*/
    opacity: 0;
}
#hydrogen_ion5{
    /*display: none;*/
    opacity: 0;
}
#acid_drop,
#basedrop{
    opacity: 0;
}
#water_bubble{
    opacity: 0;
}
.clickmeacid{
    position: absolute;
    right: 29%;
    margin-top: 14%;
    width: 5%;
    z-index: 9999;
    cursor: pointer;
}
.clickmebase{
    position: absolute;
    right: 30%;
    margin-top: 16%;
    width: 5%;
    z-index: 9999;
    cursor: pointer;
}
.lowertextblock{
    background: #ddddff none repeat scroll 0 0;
    border-radius: 8px;
    left: 10%;
    padding: 1%;
    position: absolute;
    width: 80%;
}
.acidtxt{
    position: relative;
    margin-top: -12%;
    display: none;
    width: 80%;
    left: 10%;
    border-radius: 8px;
    background: none repeat scroll 0% 0% #CCE8F4;
    padding: 2%;
}
.bottomtextstyle{
    padding: 1% !important;
    font-size: 1em !important;
    bottom: -15% !important;
}
.middlepara1{
    position: relative;
    margin-top: 10%;
    padding: 1%;
    text-align: left;
    border-radius: 8px;
    background: #D1F2AE;
    width: 40%;
}
.middlepara2{
    margin-top: 4%;
    text-align: left;
    background: #D1F2AE;
    padding: 1%;
    border-radius: 8px;
    width: 40%;
}
.middlepara3{
    margin-top: 4%;
    text-align: left;
    background: #D1F2AE;
    padding: 1%;
    border-radius: 8px;
    width: 40%;
}
.sidesingleimg{
    position: absolute;
    margin-top: 9%;
    right: 12%;
}
.clicksoap{
    position: absolute;
    right: 5%;
    display: none;
    margin-top: 30%;
    z-index: 99999;
    cursor: pointer;
}
#soap_bubbles{
/*display: none;*/
}
.lemontext{
    position: relative;
    margin-top: 34%;
    left: 12%;
}
.milktext{
    position: relative;
    margin-top: 28%;
    left: 40%;
}
.orangetext{
    position: absolute;
    margin-top: 34%;
    right: 15%;
}

.middlepara{
    position: relative;
    font-size: 1.2em;
    background: #FFE38F;
    padding: 1%;
}

.bottomtxt{
    position: relative;
    margin-top: 50%;
    font-size: 1.2em;
    width: 70%;
    left: 15%;
    border-radius: 8px;
    background: #FFE38F;
    padding: 1%;
}

.slidetext{
    position: absolute;
    margin-top: 18%;
    padding: 1%;
    width: 52%;
    height: 21%;
    font-size: 0.9em;
    background: #FFF3C8;
    opacity: 0;
}

@keyframes slide{
    from{
        opacity: 0;
       -moz-transform: translateX(-30px);

    }
    to{
        opacity: 1;
        -moz-transform: translateX(0px);

    }
}

@-webkit-keyframes slide{
    from{
        opacity: 0;
       -moz-transform: translateX(-30px);

    }
    to{
        opacity: 1;
        -moz-transform: translateX(0px);

    }
}

@-moz-keyframes slide{
    from{
        opacity: 0;
       -moz-transform: translateX(-30px);

    }
    to{
        opacity: 1;
        -moz-transform: translateX(0px);

    }
}

.divslide{
    animation: slide 1s linear 1s 1 forwards;
    -webkit-animation: slide 1s linear 1s 1 forwards;
    -moz-animation: slide 1s linear 1s 1 forwards;
}

/*=====  End of personal css  ======*/




/*title Text effect*/



.inset-text-effect {
    background: #96c0ce none repeat scroll 0 0;
    border: 0 solid #000000;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    color: #525564;
    cursor: default;
    display: inline-block;
    float: none;
    font-size: 2.5em;
    height: auto;
    left: auto;
    letter-spacing: normal;
    margin: 0;
    opacity: 1;
    outline: medium none;
    overflow: visible;
    padding: 2% 6% 2% 2%;
    position: static;
    right: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-overflow: clip;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
    top: auto;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    transform-origin: 50% 50% 0;
    transition: none 0s ease 0s ;
    white-space: pre;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}




.periodictablegreystyle {
    width: 85%;
}



 div.contentblock.contentwithbg{
        
		background-image: url(../images/page2/main.png);
        background-repeat: repeat;
        
       
        
    }
	
	
	#layer_1 {
    width: 80%;
}


.lowertextblock.questiontxt {
    position: absolute;
    top: -15%;
}

/*DIY */


/*====================================
=            personal css            =
====================================*/
.diyquestion{
	position: relative;
	margin-top: 0%;
	left: 30%;
	width: 70%;
	background:#ECECEC;
	padding: 3%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
}

@keyframes hide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    }
}

@-moz-keyframes hide{
    from{
        opacity:1;
    }
    to{
        opacity: 0;
        transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    }
}

@-webkit-keyframes hide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    }
}

.cssfadeout{
    animation: hide 1s ease-in 1s 1 forwards;
    -webkit-animation: hide 1s ease-in 1s 1 forwards;
    -moz-animation: hide 1s ease-in 1s 1 forwards;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    }
}

@-moz-keyframes show{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
        transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    }
}

@-webkit-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    }
}

.cssfadein{
    animation: show 1s ease-in 0.3s 1 forwards;
    -webkit-animation: show 1s ease-in 0.3s 1 forwards;
    -moz-animation: show 1s ease-in 0.3s 1 forwards;
}

.right{
	left: 12%;
    margin-top: 39%;
    opacity: 0;
    position: absolute;
    width: 8%;
    z-index: 100;
}


.wrong1{
	position: absolute;
	margin-top: 39%;
	width: 8%;
	opacity: 0;
	left: 12%;
	z-index:100;
}




/*=====  End of personal css  ======*/

#formetal {
     left: 0;
    position: absolute;
    top: -17%;
    width: 99%
}


.metal,
.metalloids,
.nonmetal {
    cursor: pointer;
}

#correct{

	cursor: pointer;
}








.still{
	
	fill:#C1DAD6;
}

/*===================================
    =        InstructionBlock           =
    ===================================*/
        
        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238); 
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;            
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
    
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 7px;
        
            background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }
        
    /*=====  End of InstructionBlock  ======*/

	
	.replay,
	.replay1,
	.replay2{
    background: rgba(0, 0, 0, 0) url("../images/page1/replay.png") repeat scroll 0 0;
    border: medium none;
    box-shadow: none !important;
    height: 50px;
    position: absolute;
    right: 18%;
    top: 83%;
    width: 50px;
}

.button1
 {
    background: #96c0ce none repeat scroll 0 0;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 2%;
    width: 16%;
    z-index: 100;
}

.button2,
.button3,
.button4,
.button5
 {
    background: #96c0ce none repeat scroll 0 0;
    color: #525564;
   
    padding: 1%;
    position: absolute;
    right: 2%;
    width: 16%;
    z-index: 100;
	cursor:pointer;
}

.button2{
	
	top:62px;
}

.button3{
	
	top:124px;
}

.button4{
	
	top:186px;
}


.button5{
	
	top:248px;
}

.primary-instruction {
    background: #cecfce none repeat scroll 0 0;
    color: #333333;
    left: 0;
    margin-left: 6%;
    margin-top: 16px;
    padding: 1%;
    text-align: center;
    width: 71%;
}


.svgwrapper.svg-one {
    top: 10%;
}

.textblock.questiontxt {
    position: absolute;
    top: 11%;
    width: 100%;
}

.highlight {
    background: #d8f3c9 none repeat scroll 0 0;
    border: 4px solid #b58aa5;
}


.mainsvg {
    cursor: pointer;
}

#correct{
	opacity:0;
}

.triangle-y{
	display:none;
}

.pointtext{
	display:none;
}

.use1 {
    left: 20%;
    position: absolute;
    top: 104%;
}

.use2 {
    left: 42%;
    position: absolute;
    top: 104%;
}

.use3 {
    left: 62%;
    position: absolute;
    top: 104%;
}

.note .paratextstyle{
	
	background:#96c0ce !important;
	color:#525564 !important

}


.textblock.sub-title {
    left: -3%;
    padding: 2%;
    position: absolute;
}


.sub-image {
   
     left: 21%;
    top: 6%;
    width: 34%;

}

.replay1,
.replay2{

	display:none;
}

.paratextstyle.short-des {
    box-shadow: none;
    color: #666699;
    text-align: center;
}

label.diy {
    font-size: 1.3em;
    left: 41%;
    top: 11%;
}

.beakerstyle {
    top: 31%;
}

.check {
    cursor: pointer;
}

.correctpara,
.correctpara2{

	opacity:0;

} 

#correct1,
#correct2,
#correct3,
#correct4,
#correct5,
#correct6,
#correct7,
#correct8
 {

	opacity:0;
}

#correct10,
#correct20,
#correct30,
#correct40,
#correct50,
#correct60,
#correct70,
#correct80{
	opacity:0;
}

.correctxt1,
.correctxt2,
.correctxt3,
.correctxt4,
.correctxt5,
.correctxt6,
.correctxt7,
.correctxt8{

	display:none;
}

.svgwrapper.svg-two {
    top: 12%;
}

.dottedliney,
.dottedlinex{
	display:none;
}

.corrtxt-y1,
.corrtxt-y2,
.corrtxt-y3,
.corrtxt-y4{
	
	display:none;
}

.corrtxt-x1,
.corrtxt-x2,
.corrtxt-x3,
.corrtxt-x4{
	
	display:none;
}

#correctpenx, #correctpeny, #incorrectpen2, #incorrectpen3 {
opacity:0;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}