@font-face {
font-family: sniglet;
src: url("../../../../../fonts/sniglet.ttf");
}
body {

    font-family: 'Sniglet !important';

}
.my_activity {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
    position: relative;
    margin: 0;
    padding: 0;
}

.my_activity .nextBtn {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.my_activity .prevBtn {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.vertical-horizontal-center {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: sniglet !important;
}

.bg_story_1 {
    background-image: url("../images/02.png");
    background-size: 100% 75%;
    background-repeat: no-repeat
}
.main_bg{
    /*background-color: #A8DBA4;*/
    background-color: #9DE446;
    /*background: radial-gradient(#80CBC4, #00695C);*/
}
.grassbg {
    background: url("../images/7ae2e7d4cc3bda7c6a61ea10144f3240.jpg");
    background-size: 26% 20%;
}
.main_bg_2{
    background-color: #78C269;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 5;
}

div.headerblock p.headertextstyle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 2%;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(238, 110, 115);
    background-color: rgb(252, 252, 252);
    text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
    height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
    padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
    position: absolute;
    width: 100%;
    padding: 1%;
    /*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 13%;
    height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

.its_hidden {
    display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
    animation: appear 3s;
    -webkit-animation: appear 3s;
}

.fade_in1 {
    opacity: 0;
    animation: appear 3s 1s forwards;
    -webkit-animation: appear 3s 1s forwards;
}

.fade_in2 {
    opacity: 0;
    animation: appear 5s 1s forwards;
    -webkit-animation: appear 5s 1s forwards;
}

.fade_in3 {
    opacity: 0;
    animation: appear 7s 1s forwards;
    -webkit-animation: appear 7s 1s forwards;
}

.fade-in-car {
    animation: appear 1s linear 1.5s both;
    -webkit-animation: appear 1s linear 1.5s both;
}
@-webkit-keyframes
appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes
appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade_away {
    animation: disappear 3s;
    -webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
    100% {opacity: 0;}
}
@keyframes
disappear {
    100% {opacity: 0;}
}
/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
    position: absolute;
    /*border     : 1px solid green; */
}

div.imageblock label {
    position: absolute;
}

.horizontal_center {
    left: 50%;
    transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    text-align: center;
}

.cover_full {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
    position: relative;
    width: 50%;
    left: -20%;
}

div.definitionblock > figcaption {
    position: relative;
    margin-top: -8%;
    left: -21%;
    font-size: 2em;
    color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
    position: relative;
    text-align: left;
    margin-top: 15%;
    font-size: 1.5em;
    padding: 0% 2%;
    /* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

.ul{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}

.speechbox{
    position: absolute;
    width: 25%;
    height: 20%;
    font-family: sniglet !important;
    font-size: 2.1vw;
}

@keyframes fadein{
    100%{
        opacity: 1;
    }
}

.speechbg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}
@media (min-aspect-ratio: 4/3){
    .speechbox{
        font-size: 4vh;
    }
}
.speechbox>p{
    position: absolute;
    width: 84%;
    left: 8%;
    top: 40%;
    transform: translateY(-50%);
}
.speechbox>.audioicon{
    position: absolute;
    width: 10%;
    right: 5%;
    top: 12%;
}

/*-------------- For Loading ---------------*/

#loading-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #222;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 3vmin;
}

#loading-content {
    display: block;
    position: absolute;
    left: 40%;
    top: 33.35%;
    width: 20%;
    height: 33.3%;
    transform: translate(-50%, -50%);
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.textblock{
    height: 100%;
    width: 100%;
}


@keyframes cssfadein {
    100%{
        opacity: 1;
    }
}


.alphabetAnim{
    position: relative;
    top: 15%;
    float: left;
    left: 9%;
    font-size: 7vw;
    font-family: sniglet !important;
    color: white;
    font-weight: bold;
}



.clickImage{
    font-size: 2.2vw;
    top: 22%;
    position: absolute;
    float: left;
    left: 24%;
    font-weight: bold;
    max-width: 100%;
    max-height: 100%;
}

.titlecls{
    width: 100%;
    height: 15%;
}

.generalchild{
    position: relative;
    max-width: 100%;
    max-height:100%;
    cursor:pointer;
}

.div1 {
    position: absolute;
    float: left;
    left: 63%;
    width:10%;
    height: 10%;
}

.imagegeneraldiv{
    position: absolute;
    width: 29%;
    height: 45%;
    float: left;
    left: 36%;
    top: 15%;
    animation: zoomIn 3s linear 0s forwards;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    animation-duration: 500ms;
}
.alphadiv1 {
    position: absolute;
    width: 23%;
    height: 24%;
    top: 66%;
    float: left;
    left: 18%;
}

.alphadiv2 {
    position: absolute;
    width: 15%;
    height: 24%;
    top: 66%;
    float: left;
    left: 45%;
}

.alphadiv3 {
    position: absolute;
    width: 17%;
    height: 24%;
    top: 66%;
    float: left;
    left: 67%;
}
.generalTemplateblock p{
    font-family: Sniglet !important;
}

div.generalTemplateblock{
    font-family: sniglet !important;
}