@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}
body {

    font-family: 'Sniglet !important';

}
.bg1{
     background-color:rgb(229, 231, 130);
     background-size: 100% 100%;
 }
.bg2{
    background-color:rgb(255, 127, 120);
    background-size: 100% 100%;
}

.bg3{
    background-color:rgb(117, 203, 218);
    background-size: 100% 100%;
}
.bg4{
    background-color:rgb(150, 227, 97);
    background-size: 100% 100%;
}

.bgForPotDiv{
    width: 29%;
    height: 45%;
    float: left;
    left: 36%;
    top: 3%;
    animation: zoomIn 3s linear 0s forwards;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    animation-duration: 500ms;
}