.bg1{
    background-color:rgb(16, 169, 167);
    background-size: 100% 100%;
}
@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}
body {

    font-family: 'Sniglet !important';

}