html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.6em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.totalsequence {
    border: white 0.3vmin solid;
}

.activeTimeLine {
    background: white;
}

[class^="top"] {
    height: 20%;
    position: relative;
    line-height: 340%;
    color: white;
    font-size: 5vmin;
    /* font-weight: bold; */
}

.top-one{
    background: #8C5CA6;
}

.top-two{
    background: #19B4A2;
}
.top-three{
    background: #7B74D4;
}
.top-four{
    background: #E4508A;
}
.top-five{
    background: #FF9B81;
}

.selectthis{
    animation: card2ani 2s ease-out forwards;
}

.removethis{
    animation: card2re 2s ease-out forwards;
}

.removethisimg{
    animation: card2reimg 2s ease-out forwards;
}


@keyframes card2reimg{
    to{
        width: 0%;
    }
}

@webkit-keyframes card2reimg{
    to{
        width: 0%;
    }
}
@keyframes card2ani{
    to{
        height: 100%;
    }
}

@webkit-keyframes card2ani{
    to{
        height: 100%;
    }
}

@keyframes card2re{
    to{
        height: 0%;
    }
}

@webkit-keyframes card2re{
    to{
        height: 0%;
    }
}

[class^="object"] {
    position: absolute;
    transform: translate(-50%, -50%);
}

.object-one {
    left: 20%;
    top: 88%;
    width: 11%;
}

.object-two {
    left: 82%;
    top: 100%;
    width: 11%;
}

.object-three {
    left: 22%;
    top: 77%;
    width: 15%;
}

.object-four {
    left: 79%;
    top: 115%;
    width: 9%;
}

.object-five {
    left: 6%;
    top: 63%;
    width: 16%;
}

.selectimg{
    position: absolute;
    animation: imgcenter 2s ease-out forwards;
}

@keyframes imgcenter{
    to{left: 50%; top: 56%; width: 14%;}
}

.laterthatday {
    position: absolute;
    left: 0;
    top: 0;
    background: #FFD75A;
    padding: 3%;
    font-size: 3vmin;
}

[class*="background"] {
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.background1 {
    background: url("../images/feet01.png");
}

.background2 {
    background: url("../images/feet02.png");
}

.background3 {
    background: url("../images/feet03.png");
}

.background4 {
    background: url("../images/feet04.png");
}

.background5 {
    background: url("../images/feet05.png");
}

.background6 {
    background: url("../images/feet06.png");
}

.background7 {
    background: url("../images/feet07.png");
}

.dg-1 {
    bottom: 60%;
    left: 29%;
    width: 29%;
}

.dg-2 {
    top: 18%;
    left: 38%;
    width: 39%;
}

.dg-3 {
    top: 25%;
    left: 57%;
    width: 29%;
}

.dg-4 {
    top: 28%;
    left: 68%;
    width: 29%;
}

.dg-5 {
    bottom: 75%;
    left: 28%;
    width: 41%;
}

.dg-6 {
    top: 2%;
    left: 68%;
    width: 27%;
}
[class^="kira"] {
    width: 34%;
    height: 57%;
    top: 31%;
    right: 31%;
    background-image: url("../images/kira.png");
    position: absolute;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: animatecatsprite 1.1s steps(4) infinite;
    animation: animatecatsprite 1.1s steps(4) infinite;
}
.kira-1 {
    width: 34%;
    height: 57%;
    top: 31%;
    right: 31%;
}
.kira-2 {
    width: 20%;
    height: 33%;
    top: 55%;
    right: 15%;
}

@keyframes animatecatsprite{
    to{
        background-position: -400% 0%;
    }
}

@-webkit-keyframes animatecatsprite{
    to{
        background-position: -400% 0%;
    }
}
