@media only screen and (min-width: 768px) and (max-width: 979px) {
	.bar-group {
    height: 98% !important;
    margin: 0 23px !important;
    width: 10% !important;
	}
	.y-axis
	{
		font-size:12px !important;
	}
	.x-axis li {
    margin: 0 11px !important;
    width: 75px !important;
	}
	.title {
    font-size: 14pt !important;
	}
	.lake_information {
    font-size: 10pt !important;
    margin-top: 8px !important;
	}
	.x-axis {
    font-size: 11pt !important;
    text-align: justify !important;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1279px) {
	.bar-group {
	    height: 88% !important;
	    margin: 0 16px !important;;
	    width: 63px !important;;
	}
	.y-axis li {
   	 	height: 56px !important;
   		width: 80% !important;;
	}
	.x-axis li {
	    margin: 0 8px !important;
	    padding: 28px 0 !important;
	    width: 75px !important;
	}
	.title{
		font-size:21px !important;
	}
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
	.bar-group {
	    height: 98% !important;
	}
	.title{
		font-size:25px !important;
	}
	.lake_information {
   		font-size: 11pt !important;
	}	
}
.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: url("../image/lakes.jpg");
	-moz-background-size: cover;
	background-size: cover;
	border-style: solid;
	border-width: 10px;
	border-color: black;
}
.chart{
	height:72%;
}
.bar_chart{
	text-align:center;
}
.info_bar
{
	background-color: #ffffff;
    padding: 2%;
}
.lake_information
{
	color:black;
	text-align:justify;
	font-size:13pt;
}
.layer{
	background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
   
}
.rara .phoksondo .phewa .tilicho .mansarovar{
	background-color: rgba(255, 255, 255, 0.8);
    height: 34%;
    left: 21%;
    position: absolute;
    top: 62%;
    width: 55%;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
	color : white;
}
h4 {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
a {
	color: #333;
}

/* Table */
#data-table {
	border: none; /* Turn off all borders */
	border-top: 1px solid #ccc;
	width: 540px;
}
#data-table caption {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
#data-table thead {
	background: #f0f0f0;
}
#data-table th, 
#data-table td {
	border: none; /* Turn off all borders */
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	text-align: left;	
}

/* Toggle */
.toggles {
	background: #ebebeb;	
	color: #545454;
	height: 20px;
	padding: 15px;
}
.toggles p {
	margin: 0;
}
.toggles a {
	background: #222;
	border-radius: 3px;	
	color: #fff;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 6px;
	text-decoration: none;
}
.toggles a:hover {
	background: #666;
}
#reset-graph-button {
	float:right;
}

/* Graph */
/* Containers */
#wrapper {
	height: 420px;
	left: 21%;
	position: absolute;
	width: 540px;
	margin-top: 2%;
}
#figure {
	           height: 10%;
    position: relative;
    width: 100%;
    top: 18%;
}
#figure ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.graph {
	height: 283px;
	position: relative;
}

/* Legend */
.legend {
	background: #f0f0f0;
	border-radius: 4px;
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 540px;	
}
.legend li {
	display: block;
	float: left;
	height: 20px;
	margin: 0;
	padding: 10px 30px;
	width: 120px;
}
.legend span.icon {
	background-position: 50% 0;
	border-radius: 2px;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;	
}

/* X-Axis */
.x-axis {
	bottom: 0;
	color: #555;
	position: absolute;
	text-align: center;
	width: 540px;
	font-size : 12pt;
	color : white;
}
.x-axis li {
	float: left;
	margin: 0 15px;
	padding: 5px 0;
	width: 76px;	
}

/* Y-Axis */
.y-axis {
	color: #555;
	position: absolute;
	text-align: right;
	width: 100%;
	font-size : 12pt;
	color : white;
}
.y-axis li {
	border-top: 1px solid #ccc;
	display: block;
	height: 62px;
	width: 100%;
}
.y-axis li span {
	display: block;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 40px;
}

/* Graph Bars */
.bars {
	height: 253px;
	position: absolute;
	width: 100%;
	z-index: 10;
}
.bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: relative;
	width: 76px;
}
.bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	cursor: pointer;	
	height: 0;
	position: absolute;
	text-align: center;
	width: 24px;
}
.bar.fig0 {
	left: 30%;
}

.bar span {
	background: #fefefe;
	border-radius: 3px;
	left: -8px;
	display: none;
	margin: 0;
	position: relative;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	width: 40px;
	z-index: 20;
	
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
}
.bar:hover span {
	 display: block;
    font-size: 16px;
    margin-top: -25px;
    width: 52px;
}
.title
{
	color :#fff;
}
