
.container_layout {
		max-height: 100%;
		max-width: 100%;
		xoverflow: hidden;
		xbackground: url("activity/grade7/english/eng_lesson2/image/mapofnepal.png");
		xbackground-size: cover;
		x-moz-background-size: cover;
	}
	.rowmap {
		xbackground: url("../image/mapofnepal.png");
	}

	.nepal_map {
		height: 91%;
		margin-left: 0;
		/*margin-top: -110px;*/
		/*width: 905px;*/
		width: 830px;
		position: static;
	}
	#cardSlots {
		height: 100%;
		width: 100%;
	}

	#cardSlots div.ui-droppable-disabled {
		left: 40%;
		padding: 0;
		position: absolute;
		top: 40%;
		width: 26px;
	}

	
	.place_names{
		 visibility: hidden;
	}
h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Main content area */

.sm1 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	
	background-image: url("image/mapofnepal.png");
	/*box-shadow: inset 0 0 150px #63C2CE;*/
}

.sm1, .sm1 * {
	position: relative;
	margin: 0;
	padding: 0;
}


#content {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Header/footer boxes */
#slot_1 {
    left: 191px;
    xposition: relative;
    top: 14px;
}

	#slot_2 {
    left: 600px;
    xposition: relative;
    top: 33px;
}
#slot_3{
	 left: 432px;
    xmargin: 35px 0 2px 13%;
    xposition: relative;
    top: 77px;
}
#slot_4{
	 left: 432px;
    xposition: relative;
    top: 77px;
}
#slot_5{
	 left: 432px;
    xmargin: 35px 0 2px 13%;
    xposition: relative;
    top: 77px;
}
#slot_6{
	 left: 432px;
    xmargin: 35px 0 2px 13%;
    position: relative;
    top: 77px;
}
#slot_7{
	 left: 432px;
    xmargin: 35px 0 2px 13%;
    position: relative;
    top: 77px;
}
#slot_8{
	 left: 432px;
    xmargin: 35px 0 2px 13%;
    position: relative;
    top: 77px;
}

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
  margin: 50px auto 0 auto;
  font-size: 12px;
}

/* The initial pile of unsorted cards */

.cardPile {
  margin: 0 auto;
}

.cardPile {
  x width: 1057px;
  height: 143px;
  padding: 20px;
}

#cardSlots {
   X width: 1200px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    margin-top: -20%;
    max-height: 100%;
    padding: 20px;
    position: relative;
}

/* Individual cards and slots */

#cardSlots div, .cardPile div {
    xfloat: left;
    xheight: 50px;
    padding: 11px;
    padding-bottom: 0;
    border: 1px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 0 10px;
    background: #fff;
    
   
    
    
}
#cardSlots div{
 xmargin-left: 59px;
 width: 6px;
 float:left;

}

.cardPile div {
 xmargin-left: 59px;
  width: 2px;
  z-index: 1000;
}

#cardSlots div:first-child, .cardPile div:first-child {
  x margin-left: 0;
}

#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots div {
  border: 1px dashed #333;
}

.slots {

}

.cardPile div {
    background: #c1ecfc;
    border: 1px solid #005575;
    color: #005575;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;    
}

.cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}



