.whole {
	width: 100%;
	height: 100%;
	position: relative;
	background: url("../image/phoksondo.jpg");
	-moz-background-size: cover;
	background-size: cover;
}
.whole_tilicho{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.7em;
	background: url("../image/tilicho.jpg");
	-moz-background-size: cover;
	background-size: cover;
	border-style: solid;
	border-width: 10px;
	border-color: black;
}
.whole_phewaLake{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.7em;
	background: url("../image/phewa.jpg");
	-moz-background-size: cover;
	background-size: cover;
	border-style: solid;
	border-width: 10px;
	border-color: black;
}
.whole_Mansarovar
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.5em;
	background: url("../image/manasovar.jpg");
	-moz-background-size: cover;
	background-size: cover;
	border-style: solid;
	border-width: 10px;
	border-color: black;
}
.nepal_lake{
       background-color: rgba(0, 0, 0, 0.5);
    height: 80%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.paragraph_lakes
{
   	color: #fffff0;
	text-align: justify;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	width: 95%;
}
.lake_heading{
	text-align:center;
	color : #fffff0;
}
.overflow{
	width:100%;
}
.top_layer
{ 
    position:relative;
    width:100px;
    height:30px;
    line-height:1.25;
    /*margin:15px 0 0 10px;*/
    text-align:center;
    cursor:pointer;
    color:orange;
} 
.lower_layer
{
      border: 1px solid #DADADA;
    X  width:130px;
      height: 0;
      overflow:hidden;
      left: 0;
      line-height: 1.3%;
      position: absolute;
      top: 110%;
      -webkit-transition: all 1.5s ease;
      -moz-transition: all 1.5s ease;
      -ms-transition: all 1.5s ease;
      -o-transition: all 1.5s ease;
      transition: all 1.5s ease;
}
.top_layer:hover > .lower_layer{
      height:130px;
      width:270;
      z-index:1000;
      max-width: none;
    }
    
    
.know_about_lakes
{
	background-color: #FF595B;
    color: #ffffff;
    font-size: 1.5em;
    width: 41%;
    height: 8%;
    padding-top: 1%;
    padding-left: 2%;
    margin-left: -1.5%
}

.lake_heading
{
	background-color: #37A2EA;
    width: 42%;
    height: 9%;
    padding-top: 1%;
    margin-top: -0.9%;
    position: absolute;
    left: 8.7%;
    font-size:1.8em;
}

.paragraph_phoksondo
{
	color: #fffff0;
    text-align: justify;
    font-size: 1.3em;
    padding-top: 13%;
    padding-right: 2%;
    padding-left: 2%;
}

@media screen and (min-aspect-ratio: 4/3) { 
	.paragraph_lakes{
		font-size: 3.56vh;
		line-height: 1.3;
	}
	
	.lake_heading{
		font-size: 5vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	.paragraph_lakes{
		font-size: 2.5vw;
		line-height: 1.2;
	}
	
	.lake_heading{
		font-size: 4vw;
	}
}