.bg-p1{
	background-color: #A1B5BC;
}
.bottom-bar{
	position: absolute;
	height: 15%;
	left: 0%;
	bottom: 0%;
	width: 100%;
	background-color: #D5F6FF;
}
.drop-ins{
	position: absolute;
	top: 5%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	color: #434343;
	font-size: 4vw;
	font-weight: bold;
}
@media (min-aspect-ratio:4/3){
	.drop-ins{
		font-size: 5vh;
	}
}

.drop-obj{
	display: none;
	position: absolute;
	height: 12%;
	left: 50%;
	bottom: 60%;
	z-index: 2;
	transform: translateX(-50%);
}
.drop-obj-name{
	display: none;
	position: absolute;
	top: 41%;
	width: 20%;
	left: 40%;
	font-size: 2.5vw;
}
@media (min-aspect-ratio:4/3){
	.drop-obj-name{
		font-size: 3.3vh;
	}
}

.dropped-1, .dropped-2{
	display: block;
}
.dropped-1{
	left: 81%;
	bottom: 10%;
}
.dropped-2{
	left: 69%;
	bottom: 13%;
}

.drop-anim{
	-webkit-animation: drop-anim 1s cubic-bezier(.29,.83,.63,.96) both;
	animation: drop-anim 1s cubic-bezier(.29,.83,.63,.96)  both;
}
@-webkit-keyframes
drop-anim {
	100% {bottom: 10%;}
}
@keyframes
drop-anim {
	100% {bottom: 10%;}
}
svg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}


#svg-drop-1{
	cursor: pointer;
	position: absolute;
	bottom: 10%;
	left: 10%;
	width: 30%;
	z-index: 10;
	height: 42%;
}
#svg-drop-2{
	cursor: pointer;
	position: absolute;
	bottom: 10%;
	right: 10%;
	width: 30%;
	z-index: 10;
	height: 42%;
}
#svg-drop-1:hover, #svg-drop-2:hover{
	transform: scale(1.05);
}
.beaker-label{
	position: absolute;
	top: 95%;
	width: 84%;
	padding: 0% 0%;
	left: 8%;
	z-index: 20;
	font-size: 3vw;
	background-color: #FF6314;
}
@media (min-aspect-ratio:4/3){
	.beaker-label{
		font-size: 4vh;
	}
}

.last-text{
	position: absolute;
	padding: 10% 4%;
	background-color: #595959;
	color: white;
	font-size: 3vw;
	border-radius: 3vmin;
	z-index: 25;
	width: 43%;
	bottom: 3%;
	overflow: hidden;
}
@media (min-aspect-ratio:4/3){
	.last-text{
		font-size: 4vh;
	}
}
.lt-1{
	left: 50%;
	display: none;
	-webkit-animation: lt-1 1s ease-in both;
	animation: lt-1 1s ease-in both;
}
@-webkit-keyframes
lt-1 {
	0% {bottom: 0%; left: 0%; transform: scale(0);}
}
@keyframes
lt-1 {
	0% {bottom: 0%; left: 0%; transform: scale(0);}
}
.lt-2{
	right: 50%;
	display: none;
	-webkit-animation: lt-2 1s ease-in both;
	animation: lt-2 1s ease-in both;
}
@-webkit-keyframes
lt-2 {
	0% {bottom: 0%; right: 0%; transform: scale(0);}
}
@keyframes
lt-2 {
	0% {bottom: 0%; right: 0%; transform: scale(0);}
}
.wrong-btn{
	position: absolute;
	top: 0%;
	right: 0%;
	font-size: 3vw;
	padding: 0% 2%;
	border-radius: 3vmin;
	cursor: pointer;
	background-color: red;
}
@media (min-aspect-ratio:4/3){
	.wrong-btn{
		font-size: 4.2vh;
	}
}


.handclass{
	position: absolute;
	top: 70%;
	left: 50%;
	width: 20%;
	z-index: 50;
	transform: translate(-50%, -50%);
}









.soluble-drop-anim{
	-webkit-animation: soluble-drop-anim 2s ease-in both;
	animation: soluble-drop-anim 2s ease-in both;
}
@-webkit-keyframes
soluble-drop-anim {
	45% {bottom: 60%; left: 25%;}
	90% {bottom: 30%; left: 25%; opacity: 1;}
	100% {bottom: 25%; left: 25%; opacity: 0;}
}
@keyframes
soluble-drop-anim {
	45% {bottom: 60%; left: 25%;}
	90% {bottom: 30%; left: 25%; opacity: 1;}
	100% {bottom: 25%; left: 25%; opacity: 0;}
}


.insoluble-drop-anim{
	-webkit-animation: insoluble-drop-anim 2s ease-in both;
	animation: insoluble-drop-anim 2s ease-in both;
}
@-webkit-keyframes
insoluble-drop-anim {
	45% {bottom: 60%; left: 75%;}
	90% {bottom: 30%; left: 75%; opacity: 1;}
	100% {bottom: 25%; left: 75%; opacity: 0;}
}
@keyframes
insoluble-drop-anim {
	45% {bottom: 60%; left: 75%;}
	90% {bottom: 30%; left: 75%; opacity: 1;}
	100% {bottom: 25%; left: 75%; opacity: 0;}
}



.insoluble-drop-anim-1{
	-webkit-animation: insoluble-drop-anim-1 2.5s ease-in both;
	animation: insoluble-drop-anim-1 2.5s ease-in both;
}
@-webkit-keyframes
insoluble-drop-anim-1 {
	40% {left: 81%;}
	100% {left: 81%; bottom: 10%;}
}
@keyframes
insoluble-drop-anim-1 {
	40% {left: 81%;}
	100% {left: 81%; bottom: 10%;}
}
.insoluble-drop-anim-2{
	-webkit-animation: insoluble-drop-anim-2 2.5s ease-in both;
	animation: insoluble-drop-anim-2 2.5s ease-in both;
}
@-webkit-keyframes
insoluble-drop-anim-2 {
	40% {left: 69%;}
	100% {left: 69%; bottom: 13%;}
}
@keyframes
insoluble-drop-anim-2 {
	40% {left: 69%;}
	100% {left: 69%; bottom: 13%;}
}




.monkey-fb{
	display: none;
	position: absolute;
	height: 30%;
	left: 50%;
	bottom: 50%;
	z-index: 2;
	transform: translateX(-50%);
}


