

.permoblig {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #2a2a2a;
	line-height: 1.2;
	font-family: laila;
}

.permoblig, .permoblig * {
	position: relative;
	margin: 0;
	padding: 0;
}

.permoblig .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.permoblig .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generaltemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.coverboardfull, .textblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	font-family: laila;
}

.maintitle {
	position: relative;
	width: 100%;
	top: 7.5%;
	transform: translateY(-200%);
}

.maintitle2 {
	position: relative;
	width: 100%;
	top: 7.5%;
	transform: translateY(-50%);
}

.totalsequence {
    background: #D6F86D;
    height: 3.3vmin;
	width: 3.3vmin;
	border: #0FC530 0.4vmin solid;
	opacity: 1;
}

.activeTimeLine {
	background-color: #00dd00;
}

.dottedbackground{
	background: #A6E07F;
}

.coverbg{
	background-image: url("../images/coverpage.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.skybackground{
	background-image: url("../images/sky_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.firsttitle{
	position: relative;
	color: #000;
	height: auto;
	padding: 0% 7%;
}

.firsttitle2{
	position: relative;
	height: auto;
	padding: 0% 7%;
}

.underline_highlight{
	font-weight: bold;
}

.flipperimageblock{
	height: 85%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 15%;
	perspective: 800px;
	background-color: #6CDBE2;
}

.container1, .container2, .container3, .container4{
	width: 35%;
	height: 40%;
	position: absolute;
	transition: transform 1s;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	border: #7F81B3 solid 0.2em;
	border-radius: 2.2em;
}

.container1, .container2{
	top: 5%;
}

.container3, .container4{
	bottom: 13%;
}

.container1, .container3{
	left: 14%;
}

.container2, .container4{
	right: 14%;
}

.front, .back{
	backface-visibility: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 2em;
	cursor: pointer;
	/*display: block;*/
}

.back{
	transform: rotateY( 180deg );
}

.container1 > .back {
	background-color: #EBACD3;
}

.container2 > .back {
	background-color: #D1BAE1;
}

.container3 > .back{
	background-color: #E6AAA0;
}

.container4 > .back{
	background-color: #7F81B3;
}

.flipped {
    transform: rotateY( 180deg );
}

.front{
	background-color: #fff;
}


.container_label{
	width: 80%;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
}


.front > .container_label{
	width: 100%;
	left: 0;
}
label{
	font-weight: normal;
}

.image{
	height: 90%;
	top: 8%;
	left: 0%;
	position: absolute;
}

.dialog{
	position: relative;
	padding: 8% 3% 8% 11%;
	width: 75%;
	left: 22%;
	top: 10%;
	background-image: url("../images/textbox.png");
	background-size: 100% 100%;
}

.dialoglabel{
	position: relative;
	width: 100%;
}

.container_instructions, .container_instructions_2{
	position: absolute;
	width: 80%;
	min-height: 20%;
	bottom: 1%;
	right: 10%;
}

.container_instructions_2{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #84D784;
}

.container_instructions_2 > .front{
	background-color: transparent;
}

.boy{
	height: 60%;
	top: 22%;
}

.dialoglabel_6_1, .dialoglabel_6_2, .dialoglabel_6_3, .dialoglabel_6_4, .dialoglabel_6_5,
.dialoglabel_6_6, .dialoglabel_2_1, .dialoglabel_2_2{
	position: absolute;
}

.dialoglabel_6_1{
	background-image: url("../images/bubble-10.png");
	background-size: 100% 100%;
	left: 0%;
	top: -2%;
	padding: 5% 7%;
	width: 32%;
}

.dialoglabel_6_2{
	background-image: url("../images/bubble-10.png");
	background-size: 100% 100%;
	left: 25%;
	top: -2%;
	padding: 5% 7%;
	width: 31%;
}

.dialoglabel_6_3{
	background-image: url("../images/padbubble-16.png");
	background-size: 100% 100%;
	left: 53%;
	top: 3%;
	padding: 2.5% 2%;
	width: 17%;
}

.dialoglabel_6_4{
	background-image: url("../images/padbubble-16.png");
	background-size: 100% 100%;
	padding: 2.5% 3%;
	left: 70%;
	top: 2%;
	width: 22%;
}

.dialoglabel_6_5{
	background-image: url("../images/padbubble-16.png");
	background-size: 100% 100%;
	padding: 2.5% 4%;
	left: 60%;
	top: 30%;
	width: 32%;
}

.dialoglabel_6_6{
	background-image: url("../images/bubble-10.png");
	background-size: 100% 100%;
	padding: 5% 7%;
	left: 6%;
	top: 25%;
	width: 35%;
}

.dialoglabel_2_1{
	background-image: url("../images/padbubble-16.png");
	background-size: 100% 100%;
	padding: 2.5% 5% 3% 5%;
	left: 54%;
	top: 5%;
	width: 29%;
}

.dialoglabel_2_2{
	background-image: url("../images/bubble-10.png");
	background-size: 100% 100%;
	padding: 5% 7%;
	left: 14%;
	top: 0%;
	width: 35%;
}

.caterpillar{
	position: absolute;
	width: 20%;
	top: 50%;
	transform: translateY(-60%);
	left: 0%;
	z-index: 25;
}

.dialoglabel_instruction{
	position: absolute;
	width: 87%;
	background-color: #EAD1DC;
	color: #D15A72;
	border-radius: 1em;
	padding: 3% 2%;
	right: -5%;
	top: 50%;
	transform: translateY(-50%);
}

.dialoglabel_instruction2 {
  position: absolute;
  width: 87%;
  background-color: #FFE599;
  border-radius: 1em;
  padding: 3% 2%;
  left: 6.5%;
  top: 50%;
  transform: translateY(-50%);
}

.container_instructions > .front{
	background-color: transparent;
}

.moreinfo{
	position: absolute;
	width: 70%;
	height: auto;
	top: 55%;
	left: 15%;
	border: 0.05em solid #000;
	border-radius: 1em;
	padding: 1% 1%;
	background-color: #fbf7eb;
	transform: translateY(-50%);
	display: none;
	font-family: coming_soon;
}

.heading{
	font-weight: bold;
	width: 100%;
	padding: 1%;
	position: relative;
	text-align: left;
	margin-top: 5%;
	color: #E73F7D;
}

.heading2{
	font-weight: bold;
	width: 100%;
	padding: 1%;
	position: relative;
	text-align: left;
	margin-top: 5%;
}

.newcusthigh{
	color: #674EA7;
	text-decoration: underline;
}
.newcusthigh2{
	color: #E73F7D;
	text-decoration: underline;
}

ul{
	margin-bottom: 5%!important;
}

.listcontent{
	position: relative;
	text-align: left;
	left: 10%;
}

.close_button{
	position: absolute;
	height: 2.5em;
	width: 2.5em;
	right: 0.5em;
	top: 0.5em;
	border-radius: 50%;
	border: 1px solid #000;
	background-image: url("../images/close.png");
	background-size: 100% 100%;
	cursor: pointer;
}

.learn_more{
	position: absolute;
	bottom: 102%;
	width: 12vmin;
	height: 12vmin;
	background-color: #ddd;
	right: 10%;
	border-radius: 50%;
	box-shadow: 0 0.1em 0.3em #0f0;
	display: none;
	background-image: url("../images/tip_icon.png");
	background-size: 100% 100%;
	cursor: pointer;
}

.learn_more_animate{
	animation: learn_more_animate_kf 1s linear forwards;
}

@keyframes learn_more_animate_kf{
	100%{
		bottom: 2%;
	}
}

.mirror_image{
	transform: scaleX(-1);
}

.lowertextblock_addn{
	width: 80%;
	left: 10%;
	bottom: 2%;
	position: absolute;
	/*background-color: #5A5A5A;*/
	color: #000;
	height: auto;
	top: unset;
}

.heading2{
	width: 100%;
	padding: 1%;
}

@media screen and (min-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 6vh;
	}

	.maintitle2, .heading{
		font-size: 4.56vh;
	}

	label, .listcontent, .heading2{
		font-size: 3vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 5.56vw;
	}

	.maintitle2, .heading{
		font-size: 4vw;
	}

	label, .listcontent, .heading2{
		font-size: 2.56vw;
	}

}
