.bg-blue{
	background:rgb(204,234,242);
}
.textblock{
	width: 100%;
	height: 100%;
}
.q1, .q2, .q3, .q4, .q5 {
    position: absolute;
    font-size: 2vw;
    font-family: sniglet;
    left: 9%;
}
.q1,.a1 {
    top: 20%;
}
.q2,.a2 {
    top: 35%;
}
.q3,.a3 {
    top: 50%;
}
.q4,.a4 {
    top: 65%;
}
.q5,.a5 {
    top: 80%;
}
.DIY {
    position: absolute;
    font-size: 4vw;
    font-family: comingsoon;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.blurin{
    animation: blurin 1s forwards;
}

@keyframes blurin{
    0%{ opacity: 0; 
        filter:blur(5px);
    }
    100%{ opacity: 1; }
}
.a1, .a2, .a3, .a4, .a5 {
    position: absolute;
    font-size: 1.5vw;
    width: 40%;
    font-family: sniglet;
    left: 60%;
    color: #4a9e07;
    text-align: left;
    opacity: 0;
}
.right1,.right2,.right3,.right4,.right5,.wrong1,.wrong2,.wrong3,.wrong4,.wrong5{
	border: .2em solid rgb(0,151,167);
	padding: .6%;
	border-radius: .4em;
}
.right1:hover,.right2:hover,.right3:hover,.right4:hover,.right5:hover,.wrong1:hover,.wrong2:hover,.wrong3:hover,.wrong4:hover,.wrong5:hover{
	border: .2em solid rgb(140,92,166);
}
.right1 {
    position: absolute;
    width: 5%;
    top: 21%;
    left: 51%;
    cursor: pointer;
}
.right2 {
    position: absolute;
    width: 5%;
    top: 36%;
    left: 51%;
    cursor: pointer;
}
.right3 {
    position: absolute;
    width: 5%;
    top: 51%;
    left: 51%;
    cursor: pointer;
}
.right4 {
    position: absolute;
    width: 5%;
    top: 66%;
    left: 51%;
    cursor: pointer;
}
.right5 {
    position: absolute;
    width: 5%;
    top: 81%;
    left: 51%;
    cursor: pointer;
}

.wrong1 {
    position: absolute;
    width: 5%;
    top: 21%;
    left: 42%;
    cursor: pointer;
}
.wrong2 {
    position: absolute;
    width: 5%;
    top: 36%;
    left: 42%;
    cursor: pointer;
}
.wrong3 {
    position: absolute;
    width: 5%;
    top: 51%;
    left: 42%;
    cursor: pointer;
}
.wrong4 {
    position: absolute;
    width: 5%;
    top: 66%;
    left: 42%;
    cursor: pointer;
}
.wrong5 {
    position: absolute;
    width: 5%;
    top: 81%;
    left: 42%;
    cursor: pointer;
}
.title {
    position: absolute;
    width: 100%;
    font-size: 2.2vw;
    font-family: sniglet;
    top: 0;
    background: #afe390;
    padding-top: 2%;
}
@media (min-aspect-ratio: 4/3){
	.q1, .q2, .q3, .q4, .q5,.title{
		font-size: 4.5vmin;
	}
	.a1, .a2, .a3, .a4, .a5{
		font-size: 3.6vmin;
	}
    .DIY{
        font-size: 10vmin;
    }
}
