.bg_blue{
	background:rgb(204,234,242);
}
.textblock{
	width:100%;
	height:100%;
	z-index: 99;
}
.toptext {
    position: absolute;
    top: 0;
    text-align: left;
    font-size: 2vw;
    background: rgb(180,167,214);
    border-bottom: .3em solid rgb(194,123,160);
    color: white;
    padding: 1%;
        padding-left: 1%;
    width: 100%;
    padding-left: 5%;
}
.sp-1 {
    position: absolute;
    width: 75%;
    height: 32%;
    font-family: sniglet;
    font-size: 1.5vw;
    top: 6%;
    left: 13%;
}
.sp-2{
	height: 36%;
}
.sagar {
    position: absolute;
    width: 12%;
    top: 41%;
    left: 52%;
    z-index: 99;
}
.goat {
    position: absolute;
    width: 21%;
    z-index: 100;
    transform: scaleX(-1);
    left: 65%;
    top: 64%;
}
.title {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    font-size: 4vw;
    background: rgb(226,182,215);
    padding: 2%;
    border-radius: .5em;
}
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.blue{
	color: blue;
}
.fairy {
    position: absolute;
    width: 11%;
    z-index: 9;
    top: 31%;
    left: 1%;
}
.bluecircle {
    border: .15em solid blue;
    border-radius: 50%;
    padding: 1%;
}
.sp-3{
	height: 42%;
	width: 86%;
	top: 3%;
}
.fairy1{
	position: absolute;
	width: 12%;
	z-index: 9;
	top: 46%;
	left: 1%;
}
.type1, .type2, .type3, .type4, .type5, .type6 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
        margin-top: 0px;
        margin-left: auto;
    margin-top: 0px;
    margin-left: auto;
    letter-spacing: .05em;
    position: absolute;
    margin-left: 6%;
    margin-top: -6%;
    text-align: left;
}
.type5, .type6 {
	opacity: 0;
}
.typingclass{
    animation: typing 3s steps(40, end);
    opacity:1;
}
.blackboard {
    position: absolute;
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
    top: 9%;
}
.btopic {
    position: absolute;
    font-size: 2.5vw;
    font-family: pangolin;
    color: white;
    left: 27%;
    top: 20%;
    text-align: left;
}

.tableclass {
	position: absolute;
	left: 20%;
	top: 31%;
	font-family: pangolin;
	width: 60%;
	height: 30%;

}
.tableclass th{
	width: 15%;
	height: 20%;
	text-align: left;
	color: #FFF;
	font-size: 2.2vw;
	border-bottom: .1em solid aliceblue;
}
th:nth-child(1),td:nth-child(1){
    border-right: .1em solid aliceblue;
}
.forborder{
    border-right: .1em solid aliceblue;
}
.tableclass td{
    width:10%;
    height:20%;
		color: #FFF;
		text-align: left;
		font-size: 2.2vw;
}
.sp-4 {
    position: absolute;
    width: 86%;
    height: 51%;
    font-family: sniglet;
    font-size: 1vw;
    top: 2%;
    left: 13%;
    text-align: left;
}
.bluebg{
	background:rgb(54,195,225);
}
.greencircle {
    border: .15em solid green;
    border-radius: 50%;
    padding: 1%;
}
.blurin{
    animation: blurin 1s forwards;
}

@keyframes blurin{
    0%{ opacity: 0;
        filter:blur(5px);
    }
    100%{ opacity: 1; }
}
.fadein{
    animation: fadein 1s ease-in forwards;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes fadein {
  from { opacity : 0 }
  to { opacity: 1 }
}
@media (min-aspect-ratio: 4/3){
	.toptext{
		font-size: 5vmin;
	}
	.title{
		font-size: 10vmin;
	}
	.sp-1{
		font-size: 3vmin;
	}
	.sp-4{
		font-size: 2.8vmin;
	}
	.tableclass td{
		font-size: 3.2vh;
	}
	.tableclass th{
		font-size: 3.5vh;
	}
}
