.purplebg{
    background: rgb(226,182,215);
}
.textblock{
    width: 100%;
    height: 100%;
    z-index: 99;
}
.bluebg{
    background:rgb(121,181,220);
}
.two{
    position: absolute;
    width: 90%;
    top: 10%;
    left: 5%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    border: .2em dotted rgb(53,28,117);
    border-radius: 3em;
    background: rgb(207,226,243);
}
.diy {
    position: absolute;
    font-size: 3vw;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    color: green;
}
.purplebg{
    background: rgb(226,182,215);
}
.one {
    position: absolute;
    width: 90%;
    top: 10%;
    left: 5%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%;
    border: .2em dotted rgb(115,63,90);
    border-radius: 3em;
    background: rgb(234,209,220);
}
.option{
    cursor: pointer;
    color: green;
}
.commonquestion {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    top: 2%;
    left: 7%;
    color: rgb(155,37,48);
}
.question {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    color: rgb(155,37,48);
    top: 64%;
    left: 6%;
    width: 88%;
}
.diycenter {
    position: absolute;
    width: 57%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 28%;
}
.colorblue{
    color:rgb(53,28,117);
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@media (min-aspect-ratio: 4/3){
    .commonquestion {
        font-size: 5vmin;
    }
    .title,.centertext{
        font-size: 10vmin;
    }
    .sp-1,.note,.sp-2,.itstext,.monkeydialogue,.itstext{
        font-size: 4.5vmin;
    }
    .descriptiontext{
        font-size: 4.8vmin;
    }
    .sp-4,.hintbutton{
        font-size: 3vmin;
    }
    .,.question {
        font-size: 4vmin;
    }
    .hint1, .hint2{
        font-size: 3.5vmin;
    }
}
