.bg_blue{
	background:rgb(204,234,242);
}
.textblock{
	width:100%;
	height:100%;
	z-index: 99;
}
.toptext {
    position: absolute;
    top: 0;
    text-align: left;
    font-size: 2vw;
    background: rgb(180,167,214);
    border-bottom: .3em solid rgb(194,123,160);
    color: white;
    padding: 1%;
        padding-left: 1%;
    width: 100%;
    padding-left: 5%;
}
.title {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    font-size: 4vw;
    background: rgb(226,182,215);
    padding: 2%;
    border-radius: .5em;
}
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.sp-1 {
    position: absolute;
    width: 44%;
    height: 40%;
    font-family: sniglet;
    font-size: 1.5vw;
    top: 1%;
    left: 24%;
}
.fairy {
    position: absolute;
    width: 11%;
    z-index: 9;
    top: 31%;
    left: 1%;
}
.fairy1 {
    position: absolute;
    width: 11%;
    z-index: 9;
    top: 60%;
    left: 0%;
}
.blue{
    color: blue;
}
.type1, .type2, .type3, .type4, .type5, .type6, .type7, .type8 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
        margin-top: 0px;
        margin-left: auto;
    margin-top: 0px;
    margin-left: auto;
    letter-spacing: .05em;
    position: absolute;
    margin-left: 6%;
    margin-top: -6%;
    text-align: left;
}
.type7, .type8{
    opacity: 0;
}
.typingclass{
    animation: typing 3s steps(40, end);
    opacity:1;
}
.blackboard {
    position: absolute;
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
    top: 9%;
}
.btopic {
    position: absolute;
    font-size: 2.5vw;
    font-family: pangolin;
    color: white;
    left: 27%;
    top: 20%;
    text-align: left;
}
.bluebg{
    background:rgb(54,195,225);
}
.tableclass {
	position: absolute;
	left: 20%;
	top: 31%;
	font-family: pangolin;
	width: 60%;
	height: 40%;

}
.tableclass th{
	width: 15%;
	height: 20%;
	text-align: left;
	color: #FFF;
	font-size: 2.2vw;
	border-bottom: .1em solid aliceblue;
}
th:nth-child(1),td:nth-child(1){
    border-right: .1em solid aliceblue;
}
.forborder{
    border-right: .1em solid aliceblue;
}
.tableclass td{
    width:10%;
    height:20%;
		color: #FFF;
		text-align: left;
		font-size: 2.2vw;
}
.sp-3 {
    position: absolute;
    width: 80%;
    height: 70%;
    font-family: sniglet;
    font-size: 1.5vw;
    top: 0%;
    left: 11%;
}
.sp-2 {
    position: absolute;
    width: 30%;
    height: 32%;
    font-family: sniglet;
    font-size: 1.5vw;
    top: 6%;
    left: 13%;
}
.monkey {
    position: absolute;
    width: 29%;
    top: 41%;
    left: 41%;
    z-index: 99;
}
.monkey1 {
    position: absolute;
    width: 29%;
    top: 41%;
    left: 55%;
    z-index: 99;
}
.blurin{
    animation: blurin 1s forwards;
}

@keyframes blurin{
    0%{ opacity: 0;
        filter:blur(5px);
    }
    100%{ opacity: 1; }
}
.fadein{
    animation: fadein 1s ease-in forwards;
}
@keyframes fadein {
  from { opacity : 0 }
  to { opacity: 1 }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@media (min-aspect-ratio: 4/3){
    .toptext{
        font-size: 5vmin;
    }
    .title{
        font-size: 10vmin;
    }
    .sp-1{
        font-size: 3.5vmin;
    }
    .sp-4{
        font-size: 3vmin;
    }
		.sp-3{
			font-size: 3vmin;
		}
		.tableclass td{
			font-size: 3.2vh;
		}
		.tableclass th{
			font-size: 3.5vh;
		}
}
