

p{
	margin: 0;
}
.main {
    width: 100%;
}
.mainBox {
    margin: auto;
    margin-top: 50px;
    width: 960px;
    border: 6px solid #e8e8e8;
    background: #f2f2f2;
    font-size: 2.1vmin;
    margin-bottom: 1%;
}
.SequenceTimeLine {
    position: absolute;
    height: 1%;
    width: 100%;
    text-align: right;
    margin-top: 5px;
    z-index: 100;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.nextBtn {
    bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 
.prevBtn {
    bottom: 1%;
	left: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}
.board {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock div.imgHolder{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock  div.imgHolder{
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock  div.imgHolder{
	top: 0%;
	height: 100%;
}

div.imageblock {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 17%;
}

.definitionblock {
	font-weight: bold;
	padding: 2%;
	position: absolute;
	text-align: left;
}

.textblock {
	position: absolute;
	top: 25%;
	width: 100%;
	background: plum;
	text-align: center;
	bottom: 40%;
}