<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            <!-- for question with image. text or image as options -->
             {{#if imgexerciseblock}}
            {{#each imgexerciseblock}}
                    <p class="question_img {{ques_class}}">{{{textdata}}}</p>
                    <p class="Check forhover">{{{checkdata}}}</p>
                    <p class="Hint forhover">{{{hintdata}}}</p>

                    <div class="canvasblock">
                            <canvas id="canvasid"></canvas>
                            <div class = "draggable_wp">
                        <div class="el"></div>
                    </div>
                    </div>

                    <!-- for protactor -->


                    <div class="optionsdiv_img">
                    <p class="angQu">&ang;</p>
                    <p class="equQu">=</p>
                    <p class="degQu">&deg;</p>
                    <input class="angText" type="text" pattern="[a-zA-Z]+" name="angle" maxlength="3">
                    <input class="degText" type="text" name="degree" maxlength="3">

                    </div>
            {{/each}}

             {{/if}}
                <p class="hintfield">{{{hinttext}}}</p>
             </div>
            </div>
        </script>


<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
