.activity_container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    background: #fff;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position: relative;
    margin: 0;
    padding: 0;
}

.activity_container .nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

.activity_container .prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

@font-face {
    font-family: Sniglet;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: Sniglet;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.textblock {
    position: relative;
}

div.imageblock {
    position: absolute;
    top: 48%;
    height: 33%;
    width: 30%;
    left: 35%;
}

.display_image {
    display: none;
    align-items: center;
    justify-content: center;
}

.hint_image {
    min-height: 45%;
    max-width: 100%;
    max-height: 100%;
}


/*============ exercise template ===================
==================================================== */

.questions {
    position: absolute;
    top: 14%;
    height: 20%;
    width: 100%;
}

.optionscontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%;
    height: 40%;
    top: 3%;
    border-radius: 8px;
    background: white;
    flex-flow: row wrap;
}

.imagestartpos {
    width: 9%;
    margin-left: 1%;
    display: none;
}

.ispforimage {
    position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}

.optionsdiv p {
    /*display: inline;
    padding: 3% 5%;
    background: #8E7BC3;
    border-radius: 15px;
    color: white;
    margin: 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;*/
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    cursor: pointer;
    max-width: 100%;
    height: 72%;
    top: 10%;
}

.forhoverimg {
    border: 2px solid #ADAEDB;
    cursor: pointer;
}

.forhoverimg:hover {
    background: #F1C131;
    color: #F66E20;
    border: 5px solid #FFD966;
}

.forhoverimg:hover {
    color: #F66E20;
    border: 5px solid #FFD966;
}

.wrongans {
    background: #EA9999;
    color: #F66E20;
}

.rightans {
    background: #6AA84F;
}

.questionimg {
    position: relative;
    top: 5%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 82%;
    width: 40%;
    left: 11%;
}

.qimg {
    position: absolute;
    width: 55%;
}

.draggablecontainer {
    position: relative;
    top: 18%;
    width: 100%;
    background: aliceblue;
}

.droppablecontainer {
    position: relative;
    top: 28%;
    width: 100%;
    background: antiquewhite;
    height: 50%;
}

.questionblock {
    display: inline-block;
    width: 24%;
    height: 36%;
    top: 20%;
    font-size: 4.2vmin;
    font-family: Sniglet;
    color: grey;
    /*background: red;*/
    /*-webkit-box-shadow: 2px 4px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 21px 0px rgba(0, 0, 0, 0.75);*/
}

@font-face {
    font-family: "Sniglet";
}

.instruc {
    position: absolute;
    height: 10% !important;
    width: 100% !important;
    top: 3.5% !important;
    left: 0% !important;
    background: #bfe1de;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.75);
}

.instruclass {
    font-size: 4vmin;
    margin-top: 1.1%;
}

.parsedstring:first-child {
    color: #b05618;
    font-size: 4vmin;
}

.parsedstring:nth-child(2) {
    color: #8c5ca6ff;
    font-size: 4vmin;
}

.right {
    left: 0%;
    text-align: left;
}

.blank {
    top: 25%;
    border-bottom: 2px solid black;
}

.optionsdiv {
    position: absolute;
    height: 9%;
    width: 41%;
    left: 29%;
    top: 31%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.leftoption {
    height: 100%;
    background: #fb8935;
    color: white;
    font-size: 4.2vmin;
    cursor: pointer;
}
.left{
  text-align: right;
}

.rightoption {
    height: 100%;
    background: #8c5ca6;
    color: white;
    font-size: 4.2vmin;
    cursor: pointer;
}

.guessimg {
    height: 100%;
    width: 100%;
}
.correctwrongImg{
    position: absolute;
    width: 25%;
    top: 82%;
}