.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: happy_monkey;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */



.exefin {
	display: none;
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin{
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important; 
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

.jump_rhino {
	-webkit-animation: jump_rhino 0.5s cubic-bezier(0,.5,1,.5);
	animation: jump_rhino 0.5s cubic-bezier(.5,1,1,.75);
}
@keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}
@-webkit-keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}

.zoom_rhino {
	-webkit-animation: zoom_rhino 1s linear forwards;
	animation: zoom_rhino 1s linear forwards;
	animation-delay:0.75s;
	transform-origin: bottom right;
}
.zoom_marks_rhino {
	-webkit-animation: zoom_marks_rhino 1s linear forwards;
	animation: zoom_marks_rhino 1s linear forwards;
	animation-delay:0.75s;
}
@keyframes
zoom_marks_rhino{
	100% {transform: scale(2);right: 35%;  top: 15%;}
}
@-webkit-keyframes
zoom_marks_rhino{
	100% {transform: scale(2); right: 35%; top: 15%;}
}

@keyframes
zoom_rhino{
	100% {transform: scale(2.5);right: 0%;  bottom: 30%;}
}
@-webkit-keyframes
zoom_rhino{
	100% {transform: scale(2.5); right: 0%; bottom: 30%;}
}

/*--------- for exercise -------------*/
.main_bg{
	background: linear-gradient(#0066A4, #FBFCFF);
	
}
/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.instruction_div{
	top: 0%;
	height: 100%;
	width: 100%;
}
.instruction_div>*{
	color: white;
	position: relative;
	margin-top: 1%;
}
.question_number{
	text-align: left;
}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid #FCD172;
	background-color: #6EB260;
	color: white;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	background-color: #BA6B82;
	color: black;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}

.instruction2{
	width: 80%;
	position: relative;
	left: 0;
	padding: 1% 2%;
	float: left;
}

.scoreboard{
	width: 16%;
	position: relative;
	left: 2%;
	float: left;
	height: auto;
	background-color: #FBAB18;
	font-weight: bold;
	border-radius: 0.2em;
	text-align: center;
	padding: 0em;
}

.rootcontainer{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.droppable1, .droppable2, .droppable3, .droppable4{
	position: absolute;
	width: 25%;
	height: 28%;
	background-color: #FFF2AA;
}

.droppable1{
	left: 5%;
	top: 25%;	
} 

.droppable2{
	left: 31%;
	top: 25%;
} 

.droppable3{
	left: 5%;
	top: 55%;
} 

.droppable4{
	left: 31%;
	top: 55%;
}

.draggable_containers{
	position: absolute;
	top: 60%;
	width: 25%;
	right: 10%;
	height: auto;
	transform: translateY(-50%);
	color: #fff;
}

.draggable1, .draggable2, .draggable3, .draggable4{
	position: relative;
	margin: 0.5em 0.5em;
	background-color: #00c9db;
	padding: 0.5em 2em;
	border-radius: 0.5em;
	border: 0.2em solid #fabd15; 
}

.draggable1:hover, .draggable2:hover, .draggable3:hover, .draggable4:hover{
	border: 0.2em solid #ff7c06;
}

.droppable_image{
	max-width: 100%;
	height: 100%;
}

.droppable_p{
	width: 100%;
	padding: 1% 5%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.check_button{
	position: absolute;
	width: 50%;
	left: 25%;
	bottom: 3%;
	background-color: #7285D4;
	border-radius: 0.5em;
	color: #fff;
	padding: 0.2em 0.5em;
	margin-bottom: 3px;
	display: none;
}

.check_button:hover, .check_button:active {
	background-color: #6664C9;
}

.check_button:active {
	margin-bottom: 0em;
}

.correctsign, .incorrectsign{
	position: absolute;
	width: 24%;
	top: 0;
	right: 0;
	display: none;
}

.underline{
	text-decoration: underline;
}

.block1, .block2, .block3, .block4{
	width: 40%;
	height: 40%;
	position: absolute;
	background-color: #FFF2AA;
	display: none;
}
.block1 label,.block2 label, .block3 label,.block4 label {
	background-color: #FFF2AA;

}

.block1{
	top: 14%;
	right: 51%;
} 

.block2{
	top: 14%;
	left: 51%;
} 

.block3{
	top: 56%;
	right: 51%;
} 

.block4{
	top: 56%;
	left: 51%;
}

.fade_in{
	opacity: 0;
	animation: fade_in_kf 0.8s linear forwards; 
}

@keyframes fade_in_kf{
	100%{
		opacity: 1;
	}
}

@media screen and (min-aspect-ratio: 4/3) { 
	.check_button{
		font-size: 4.56vmin;
	}
	.options {
		font-size: 2.46vh;	
	}
	.optionsblock > p:nth-child(1) 
		font-size: 2.76vh;
	}
	.instruction2{
		font-size: 3.16vh;
	}
	.scoreboard, .draggable_containers{
		font-size: 3vh;
	}
	.letter_textalign_left {
		font-size: 2vh;	
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	.check_button{
		font-size: 4vw;
	}
	.options {
		font-size: 2.2vw;	
	}
	.optionsblock > p:nth-child(1){
		font-size: 2.56vw;
	}
	.instruction2{
		font-size: 3.56vw;
	}
	.scoreboard, .draggable_containers{
		font-size: 3.56vw;
	}
	.letter_textalign_left {
		font-size: 1.86vw;	
	}
}
