html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    color: #C01F3A;
    padding: 2%;
    font-size: 1.4em;
    z-index: 10;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

/* ==================================
||||      LOCAL TECHNOLOGY       ||||
   ================================== */

   .firsttitle {
       font-size: 12vmin;
       color: white;
       position: absolute;
       width: 100%;
       background: rgba(0,0,0,0.5);
       top: 35%;
   }

.villageback{
    width: 100%;
    height: 100%;
    background: url("../images/village.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.homeback{
    width: 100%;
    height: 100%;
    background: url("../images/home.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.techback{
    width: 100%;
    height: 100%;
    background: url("../images/Turbine_continue.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.girl {
    width: 17%;
    margin-top: 18%;
}

.dad {
    position: absolute;
    width: 11%;
    top: 58%;
    left: 56%;
}

.deepa {
    position: absolute;
    width: 6%;
    top: 68%;
    left: 47%;
}

/* speech box contents */
.speech_1 {
    top: 43%;
    left: 32%;
    position: absolute;
}


.speech_2 {
    top: 34%;
    left: 45%;
    position: absolute;
}

.speech_bg {
    width: 23.9%;
    height: 23%;
    background-image: url("../images/textbox/textbox_white_02.png");
	background-size: 100% 100%;
}

.speech_content_1 {
    font-size: 3vmin;
    position: absolute;
    width: 70%;
    padding: 2%;
    transform: translate(-50%,-50%);
    top: 38%;
    left: 50%;
}
.speech-big1{
	left: 28%;
	width: 32%;
	height: 30%;
}
.speech-big2{
	width: 32%;
	height: 30%;
}
/* speech box content end */
