.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}
@font-face {
    font-family: sniglet;
    src: url("../../../../../../fonts/sniglet.ttf");
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.board{
	position: absolute!important;
	left: 0%;
	top: 0%;
}
.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: relative;
}



/*============ exercise template ===================
==================================================== */

.question {
    color: #674EA7;
    position: absolute;
    top: 29%;
    font-size: 3vmin;
    background: url("../images/cloud1.png") no-repeat scroll 50% -1% / 36% auto;
    height: 15%;
    text-align: center;
    width: 34%;
    padding: 2% 0%;
    left: 32%;
}
.evenNo{
    animation: moveleft 1.5s linear forwards;
  }

  @keyframes moveleft{
    50%{left: 10%; top: 29%;}
    80%{opacity: 1;}
    100%{left: 10%; top: 80%; opacity: 0;}
  }

  .oddNo{
    animation: moveright 1.5s linear forwards;
  }

  @keyframes moveright{
    50%{left: 55%; top: 29%;}
    80%{opacity: 1;}
    100%{left: 55%; top: 80%; opacity: 0;}
  }

.optionsdiv {
    top: 70%;
    position: relative;
}

.optionscontainer {
    display: inline;
    position: relative;
    height: 100%;
    z-index: 2;
}

.imagestartpos {
    position: absolute;
    width: 41px;
    left: 50%;
    margin-top: 74px;
    visibility: hidden;
    transform: translate(-50%,0);
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 550%;
    visibility: hidden;
}

.optionsdiv p{
    display: inline;
    padding: 2% 1%;
    background: #8E7BC3;
    border-radius: 15px;
    color: white;
    margin: 3%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
}

.basket {
    display: inline;
    color: white;
    margin: 0% 6%;
    font-size: 4vmin;
    cursor: pointer;
    width: 31%;
    transition: 0.5s;
}

.basket:hover {
    transform: scale(1.05);
}

.wrongans{
	background: #EA9999;
	color: #F66E20;
}

.rightans{
	background: #6AA84F;
}

.questionimg {
    position: relative;
    top: 27%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 32%;
}

.draggablecontainer {
    position: relative;
    top: 18%;
    width: 100%;
    background: aliceblue;
}

.droppablecontainer {
    position: relative;
    top: 28%;
    width: 100%;
    background: antiquewhite;
    height: 50%;
}

.drop1 {
    background: blueviolet;
    width: 50%;
    height: 83%;
    float: left;
}

.drop2 {
    background: aqua;
    width: 50%;
    height: 83%;
    float: left;
}
/* items shake */
  @keyframes shakelittle {
    0%, 100% {
              transform: translate3d(0, 0, 0);
    }
    40%, 80%{
              transform: translate3d(-10px, 0, 0);
    }
     20%,80% {
              transform: translate3d(10px, 0, 0);
    } 
  }


  .shakeItem
  {
    animation-duration: .5s;
    animation-name:shakelittle;
    animation-iteration-count:1;

    -webkit-animation-duration: .5s;
    -webkit-animation-name:shakelittle;
    -webkit-animation-iteration-count:1;
  }

.even {
    position: absolute;
    color: white;
    left: 26%;
    top: 3%;
    cursor: pointer;
    z-index: 2;
}

.odd {
    position: absolute;
    color: white;
    left: 70%;
    top: 3%;
    cursor: pointer;
    z-index: 2;
}

.evenList {
    position: absolute;
    left: 14%;
    top: 79%;
    width: 25%;
    height: 14%;
}

.childrens {
    color: #674EA7;
    position: absolute;
    font-size: 2.3vmin;
    background: url("../images/cloud1.png") no-repeat scroll 50% -1% / 36% auto;
    height: 49%;
    text-align: center;
    width: 80%;
    padding: 5% 0%;
}

.evenChild0 {
    display: none;
    top: 52%;
    left: 46%;
}

.evenChild1 {
    display: none;
    top: 52%;
    left: 16%;
}

.evenChild2 {
    display: none;
    top: 52%;
    left: -14%;
}

.evenChild3 {
    display: none;
    top: 1%;
    left: 30%;
}

.evenChild4 {
    display: none;
    top: 2%;
    left: 0%;
}

.oddList {
    position: absolute;
    left: 58%;
    top: 79%;
    width: 25%;
    height: 14%;
}

.oddChild0 {
    display: none;
    top: 52%;
    left: 46%;
}

.oddChild1 {
    display: none;
    top: 52%;
    left: 16%;
}

.oddChild2 {
    display: none;
    top: 52%;
    left: -14%;
}

.oddChild3 {
    display: none;
    top: 1%;
    left: 30%;
}

.oddChild4 {
    display: none;
    top: 2%;
    left: 0%;
}
.toptext {
    top: 15.5%;
    position: absolute;
    transform: translateY(-50%);
    font-family: sniglet;
    background-color: rgb(135, 200, 248,.3);
    width: 100%;
    text-align: center;
    color: white;
}
@media screen and (min-aspect-ratio: 4/3) { 
    /*vh*/
    .toptext
    {
        font-size: 4vh;
    }
    
}