#testid {
    position: absolute;
    top: 7%;
    left: 19%;
}

#generalTemplateblock{
	width: 100%;
	height: 100%;
}

.instruction{
	position: absolute;
	font-size: 5vmin;
	color: #c44;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.hideout {
	animation: outs 5s forwards;
	-webkit-animation: outs 5s forwards;
}

/* for walk */
@-webkit-keyframes
outs{
0%   {opacity : 1;}
80% {opacity: 1;}
100% {opacity: 0;}
}
@keyframes
outs{
0%   {opacity : 1;}
80% {opacity: 1;}
100% {opacity: 0;}
}