.normalbg{
    background:rgb(147,196,125);
}

.thetitle {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 31%;
    color: white;
    font-size: 8vmin !important;
    text-shadow: .1em .1em .1em rgba(0,0,0,.2);
}
.titleimage {
    position: absolute;
    width: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 47%;
}
.bottomtext {
    position: absolute;
    color: white;
    font-size: 3vw;
    transform: translateX(-50%);
    left: 51%;
    top: 84%;
    background: rgba(0,0,0,.2);
    padding: .5%;
    border-radius: .2em;
}
.descriptionimages {
    position: absolute;
    transform: translate(-50%,-60%);
    left: 50%;
    top: 60%;
    width: 49%;
    border-radius: .4em;
    border: .4em solid aliceblue;
    box-shadow: .2em .2em .01em rgba(0,0,0,.2);
}

.toptext {
    position: absolute;
    width: 80%;
    transform: translate(-50%,10%);
    left: 50%;
    top: 10%;
    font-size: 2.2vw;
    color: purple;
    z-index: 99;
}
.blue{
	color: rgb(11,83,148);
}
.pink{
	color: rgb(238,55,91);
}
.normalbgwinter{
    background:rgb(162,196,201);
}
.normalbgsummer{
    background:rgb(255,217,102);
}
.normalbgautumn{
    background: rgb(246,178,107);
}
.fadein{
    animation:fadein .8s ease-out forwards;
}
.a1 {
    position: relative;
    width: 20%;
    margin-top: 31%;
}
.ta{
  width: 15%;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (min-aspect-ratio: 4/3){

  .thetitle,.bottomtext{
    font-size: 6vmin;
  }
  .toptext{
  	font-size: 5vmin;
  }

}
