.exponential {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}

.exponential,
.exponential * {
  position : relative;
  margin   : 0;
  padding  : 0;
}

.exponential .nextBtn {
  z-index  : 99;
  display  : none !important;
  position : absolute;
  top      : 85%;
  left     : 93%;
  width    : 6%;
  height   : 10%;
}

.exponential .prevBtn {
  display  : none;
  position : absolute;
  top      : 85%;
  left     : 5%;
  width    : 6%;
  height   : 10%;
}

.exponential .board {
  position : relative;
  top      : 0%;
  left     : 0%;
  width    : 100%;
  height   : 100%;
}

/*  */

.wrapperIntro.firstPage .text0 .ind1 {
  font-size   : 1.5em;
  font-weight : bold;
  /* color: #fff; */
}

.wrapperIntro.firstPage .text0 .ind2 {
  /* font-weight: bold; */
  color     : #996699;
  font-size : 1.3em;
}

.wrapperIntro.firstPage .ind2 {
  color     : #996699;
  font-size : 1.3em;
}

.wrapperIntro.firstPage .text1 b {
  font-size : 1em;
}

.wrapperIntro.firstPage .text1,
.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12 {
  z-index   : 82;
  font-size : 1em;
}

.wrapperIntro.firstPage .maths0 {
  position   : absolute;
  top        : 20%;
  left       : 40%;
  width      : 20%;
  color      : #007C00;
  text-align : center;
  font-size  : 18em;
}

.wrapperIntro.firstPage .maths1 {
  display    : none;
  position   : absolute;
  top        : 50%;
  color      : #6600CC;
  text-align : center;
  font-size  : 12em;
}

.wrapperIntro.firstPage .maths2 {
  display    : none;
  position   : absolute;
  top        : 50%;
  right      : 7%;
  color      : #6600CC;
  text-align : center;
  font-size  : 12em;
}

.wrapperIntro.firstPage .maths span.power {
  position  : absolute;
  top       : 0;
  left      : 100%;
  font-size : 0.5em;
}

.wrapperIntro.firstPage .maths0 span.power {
  color : #0000FF;
}

.wrapperIntro.second .maths {
  color      : #007C00;
  text-align : center;
  font-size  : 8em;
}

.wrapperIntro.second .maths span.power {
  position  : absolute;
  top       : -20%;
  color     : #0000FF;
  font-size : 0.8em;
}

.exponential .board .wrapperIntro.second {
  position   : relative;
  background : url(../image/bg2.jpg) 100% 100%;
  /* padding: 2% 10% 10% 10%; */
  /* padding: 10%; */
}

.wrapperIntro.second .text2 {
  font-size : 1.3em;
}

.wrapperIntro.second .text2 b {
  font-size : 1.3em;
}

/**
 * .wrapperIntro.second .text3 { font-size: 1.3em; color: #000088; text-align:
 * center; display: none; } .wrapperIntro.second .text4 { margin-top: 3%;
 * font-size: 2em; color: #000088; text-align: left; padding-left: 8%; display:
 * none; } .wrapperIntro.second .text5 { margin-top: 3%; font-size: 1.3em;
 * display: none; }
 */

.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
  position   : absolute;
  color      : #434343;
  text-align : center;
  font-size  : 3em;
  /* width: 20%; */
  /* background: #c9c9c9; */
}

.wrapperIntro.baseAndIndices .maths span.power {
  position  : absolute;
  top       : -20%;
  left      : 100%;
  color     : #434343;
  font-size : 0.8em;
}

.wrapperIntro.baseAndIndices .maths0 {
  top  : 30%;
  left : 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
  top  : 10%;
  left : 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
  top   : 10%;
  right : 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
  top  : 50%;
  left : 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
  top   : 43%;
  right : 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
  top  : 60%;
  left : 40%;
}

.wrapperIntro.baseAndIndices .text0 {
  position  : absolute;
  bottom    : 7%;
  left      : 25%;
  font-size : 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
  position      : absolute;
  bottom        : 5%;
  width         : 14%;
  padding       : 0.5%;
  color         : #fff;
  border        : 3px solid #573E7D;
  border-radius : 5px;
  background    : #573E7D;
  text-align    : center;
  font-size     : 1.4em;
  cursor        : pointer;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
  color      : #573E7D;
  background : #F2EDED;
}

.wrapperIntro.baseAndIndices .text1 {
  left : 35%;
}

.wrapperIntro.baseAndIndices .text2 {
  left : 60%;
}

.wrapperIntro.baseAndIndices2 {}

.wrapperIntro.baseAndIndices2 .text0,
.wrapperIntro.baseAndIndices2 .text1 {
  padding-top  : 2%;
  padding-left : 2%;
  color        : #E36C09;
  font-size    : 1.6em;
}

.wrapperIntro.baseAndIndices2 .text1 {
  display : none;
}

.wrapperIntro.baseAndIndices2 .maths {
  position   : absolute;
  color      : #6600CC;
  text-align : center;
  font-size  : 4em;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
  position  : absolute;
  top       : -20%;
  left      : 100%;
  color     : #6600CC;
  font-size : 0.8em;
}

.wrapperIntro.baseAndIndices2 .maths0 {
  top  : 30%;
  left : 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
  top   : 30%;
  right : 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
  display : none;
  top     : 50%;
  left    : 30%;
}

.wrapperIntro.baseAndIndices2 .maths3 {
  display : none;
  top     : 50%;
  right   : 30%;
}

.wrapperIntro.baseAndIndices2 .text2 {
  display    : none;
  position   : absolute;
  top        : 55%;
  left       : 35%;
  width      : 30%;
  text-align : center;
  font-size  : 3em;
}

.wrapperIntro.baseAndIndices2 .text2:after {
  content    : "";
  position   : absolute;
  top        : -20%;
  left       : 0%;
  width      : 30%;
  height     : 3px;
  background : #1F497D;
  transform  : rotate(40deg);
}

.wrapperIntro.baseAndIndices2 .text2:before {
  content    : "";
  position   : absolute;
  top        : -20%;
  right      : 0%;
  width      : 30%;
  height     : 3px;
  background : #1F497D;
  transform  : rotate(-40deg);
}

.wrapperIntro.baseAndIndices2 .text3 {
  display    : none;
  position   : absolute;
  top        : 25%;
  left       : 37%;
  width      : 30%;
  text-align : center;
  font-size  : 3em;
}

.wrapperIntro.baseAndIndices2 .text3:after {
  content    : "";
  position   : absolute;
  top        : 120%;
  left       : -2%;
  width      : 35%;
  height     : 3px;
  background : #1F497D;
  transform  : rotate(140deg);
}

.wrapperIntro.baseAndIndices2 .text3:before {
  content    : "";
  position   : absolute;
  top        : 128%;
  right      : -15%;
  width      : 45%;
  height     : 3px;
  background : #1F497D;
  transform  : rotate(-140deg);
}

.wrapperIntro.lastBaseIndices .text0 {
  text-align : center;
  font-size  : 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
  position   : absolute;
  top        : 40%;
  left       : 20%;
  width      : 60%;
  text-align : center;
  font-size  : 1.5em;
}

.wrapperIntro.lastBaseIndices .text1 span {
  /* color: #9901FF; */
  color           : #2A0055;
  text-decoration : underline;
  font-size       : 1.1em;
}

.wrapperIntro.lastBaseIndices .text2 {
  position   : absolute;
  top        : 50%;
  left       : 20%;
  width      : 60%;
  text-align : center;
  font-size  : 1.5em;
}

.wrapperIntro.lastBaseIndices .text2 span {
  color           : #CF2D92;
  text-decoration : underline;
  font-size       : 1.1em;
}

.wrapperIntro.lastBaseIndices .maths {
  position   : absolute;
  color      : #2A0055;
  text-align : center;
  font-size  : 4em;
}

.wrapperIntro.lastBaseIndices .maths span.power {
  position  : absolute;
  top       : -20%;
  left      : 100%;
  color     : #CF2D92;
  font-size : 0.8em;
}

.wrapperIntro.lastBaseIndices .maths0 {
  top  : 10%;
  left : 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
  top  : 10%;
  left : 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
  top  : 30%;
  left : 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
  top   : 45%;
  right : 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
  top  : 77%;
  left : 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
  top  : 60%;
  left : 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
  top   : 60%;
  right : 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
  top   : 14%;
  right : 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
  top  : 20%;
  left : 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
  top   : 70%;
  right : 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
  top  : 70%;
  left : 40%;
}

.wrapperIntro.firstPage .ind5 {
  color : #538cdb;
}

/* added by manish */

.wrapperIntro.second.back .text14,
.wrapperIntro.second.back .text15,
.wrapperIntro.second .text1,
.wrapperIntro.second .text2,
.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12,
.wrapperIntro.second .text13 {
  display : none;
}

.wrapperIntro.second .text0 .ind2 {
  /* font-weight: bold; */
  color     : #996699;
  font-size : 1em;
}

.wrapperIntro.second .yellow {
  color : #F2C249;
}

.wrapperIntro.second .green {
  color : #00AAA0;
}

.wrapperIntro.second .imageholder01 {
  display : none;
}

.wrapperIntro.second .imageholder02 {
  display : none;
}

#fun_1>img {
  width : 54%;
}

#ball_1 {
  position      : absolute;
  top           : 0;
  left          : 20%;
  width         : 20px;
  height        : 20px;
  border-radius : 50%;
  background    : #F2C249;
  /* 24%; */
}

#ball_2 {
  position      : absolute;
  width         : 20px;
  height        : 20px;
  border-radius : 50%;
  background    : #C25B56;
}

#ball_3 {
  position      : absolute;
  top           : 0;
  left          : 20%;
  width         : 20px;
  height        : 20px;
  border-radius : 50%;
  background    : #00AAA0;
  /* 24%; */
}

.img-des1 {
  display : inline-flex;
  width   : 100%;
}

.imageholder01 {
  width : 40%;
}

.image1des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

.img-des2 {
  display : inline-flex;
  width   : 100%;
}

.imageholder02 {
  width : 40%;
}

.image2des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

/* first figure pachi ko styling */

/* ******************third page*************** */

.wrapperIntro.third .ind2 {
  color : #996699;
}

.wrapperIntro.third .imageholder03 {
  display : none;
}

#fullname {
  position    : absolute;
  top         : 0;
  left        : 14%;
  color       : #cece00;
  font-size   : 11px;
  font-weight : bold;
  transform   : rotate(90deg) !important;
  /* 4%; */
}

#firstname {
  position : absolute;
  left     : 13%;
  color    : #538cdb;
}

.imageholder01 {
  position : relative;
}

/* THIRD PAGE IMAGE KO DES KO RIGHT DIV */

.img-des3 {
  display : inline-flex;
  width   : 100%;
}

.imageholder03 {
  width : 40%;
}

.image3des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

.des10 {
  margin-left : 9.55%;
}

.des11 {
  margin-left : 9.55%;
}

/* End of THIRD PAGE IMAGE KO DES KO RIGHT DIV */

.img-des4 {
  display : inline-flex;
  width   : 100%;
}

.imageholder04 {
  width : 40%;
}

.image4des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

.wrapperIntro.third .imageholder04 {
  display : none;
}

#fullname01 {
  position    : absolute;
  top         : 0;
  left        : 7%;
  color       : #00AAA0;
  font-size   : 11px;
  font-weight : bold;
  transform   : rotate(90deg) !important;
  /* 13%; */
}

#firstname01 {
  position : absolute;
  left     : 13%;
  color    : #538cdb;
}

/* page4 */

.wrapperIntro.fourth .ind2 {
  /* font-weight: bold; */
  color     : #996699;
  font-size : 1em;
}

.wrapperIntro.fourth .imageholder05 {
  display : none;
}

.wrapperIntro.fourth .imageholder06 {
  display : none;
}

/* .wrapperIntro.fourth .text2 { display: none; } */

.img-des5 {
  display : inline-flex;
  width   : 100%;
}

.imageholder05 {
  width : 40%;
}

.image5des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

#input01 {
  position : absolute;
  top      : 0;
  left     : 21%;
  color    : #00AAA0;
  /* 4%; */
}

#output01 {
  position : absolute;
  left     : 21%;
  color    : #c25b56;
}

.main-fun {
  position      : absolute;
  top           : 61%;
  left          : 17%;
  padding       : 10px;
  border-radius : 5px;
  background    : #a8a8fb none repeat scroll 0 0;
}

.img-des6 {
  display : inline-flex;
  width   : 100%;
}

.imageholder06 {
  width : 40%;
}

.image6des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

#input02 {
  position : absolute;
  top      : 0;
  left     : 21%;
  color    : #00AAA0;
  /* 4%; */
}

#output02 {
  position : absolute;
  left     : 21%;
  color    : #c25b56;
}

/* *****end of page 4************ */

/* **page5************ */

.wrapperIntro.fifth .ind2 {
  /* font-weight: bold; */
  color     : #996699;
  font-size : 1em;
}

.wrapperIntro.fifth .imageholder07 {
  display : none;
}

.wrapperIntro.fifth .imageholder08 {
  display : none;
}

.wrapperIntro.fifth .text1 {
  display : none;
}

.wrapperIntro.fifth .text2 {
  display : none;
}

.img-des7 {
  display : inline-flex;
  width   : 100%;
}

.imageholder07 {
  width : 40%;
}

.image7des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

#input03 {
  position : absolute;
  top      : 0;
  left     : 21%;
  color    : #00AAA0;
  /* 4%; */
}

#output03 {
  position : absolute;
  left     : 21%;
  color    : #C25B56;
}

.main-fun {
  position      : absolute;
  top           : 57%;
  left          : 14.5%;
  width         : 15%;
  border-radius : 5px;
  background    : #a8a8fb none repeat scroll 0 0;
  text-align    : center;
  font-style    : bold;
}

.img-des8 {
  display : inline-flex;
  width   : 100%;
}

.imageholder08 {
  width : 40%;
}

.image6des {
  width       : 60%;
  float       : right;
  padding-top : 60px;
}

#input04 {
  position : absolute;
  top      : 0;
  left     : 21%;
  color    : #00AAA0;
  /* 4%; */
}

#output04 {
  position : absolute;
  left     : 21%;
  color    : #C25B56;
}

/* ****end of page5******* */

/* added by manish */

.wrapperIntro.second .des8 {
  display        : none;
  width          : 712px;
  margin         : 0 auto;
  padding-top    : 5px;
  padding-bottom : 5px;
  border         : 2px solid #538cdb;
  text-align     : center;
  font-size      : 1.5em;
}

.p1_41 {
  width          : 712px;
  margin-right   : auto;
  margin-bottom  : 0;
  margin-left    : auto;
  padding-top    : 5px;
  padding-bottom : 5px;
  border         : 2px solid #538cdb;
  text-align     : center;
}

.p1_39 {
  margin-left : 19%;
}

.p1_40 {
  margin-left : 19%;
}

.image8des {
  margin-top : 100px;
}

/* added for unitary 02 */

.main-bg .img-responsive {
  width  : 100%;
  height : 100%;
}

.deepa {
  position : absolute;
  top      : 9%;
  right    : 7%;
}

.img-containeer {
  border : 5px solid #ccc;
}

.img-a .img-responsive {
  width  : 55%;
  height : 45%;
}

.img-b .img-responsive {
  width  : 55%;
  height : 45%;
}

.img-c .img-responsive {
  width  : 55%;
  height : 45%;
}

.img-d .img-responsive {
  width  : 55%;
  height : 45%;
}

.border {
  width         : 60%;
  height        : 45%;
  border        : solid 3px #333;
  border-radius : 49%;
}

/* styles implemented by Rashik Maharjan */

/**
 * First page animation css for the moving
 *
 * background
 */

.dance {
  position : absolute;
  top      : 5%;
  left     : 29%;
  /* display: none; */
}

.food {
  position : absolute;
  top      : 7%;
  left     : 85%;
  width    : 5%;
  /* display: none; */
}

.extraants:hover,
.largeants:hover,
.mediumants:hover,
.smallant:hover {
  opacity : 0.8;
  cursor  : pointer;
}

.smallant {
  position : absolute;
  top      : 65%;
  width    : 36%;
  height   : 35%;
}

.mediumants {
  position : absolute;
  top      : 65%;
  left     : 21%;
  width    : 36%;
  height   : 35%;
}

.largeants {
  position : absolute;
  top      : 65%;
  left     : 53%;
  width    : 23%;
  height   : 35%;
}

.extraants {
  position : absolute;
  top      : 65%;
  left     : 75%;
  width    : 23%;
  height   : 35%;
}

.ant_pic {
  position : absolute;
  top      : 25%;
  right    : 70%;
  width    : 34%;
  cursor   : pointer;
}

.ant_pic2 {
  position : absolute;
  top      : 24%;
  left     : 28%;
  width    : 34%;
  cursor   : pointer;
}

.ant_pic3 {
  position : absolute;
  top      : 25%;
  left     : 61%;
  width    : 34%;
  cursor   : pointer;
}

.ant_pic4 {
  position : absolute;
  top      : 30%;
  left     : 11%;
  width    : 35%;
  cursor   : pointer;
}

.ant_pic5 {
  position : absolute;
  top      : 30%;
  left     : 54%;
  width    : 35%;
  cursor   : pointer;
}

.ant_pic6 {
  position : absolute;
  top      : 27%;
  left     : 7%;
  width    : 34%;
  cursor   : pointer;
}

.ant_pic7 {
  position : absolute;
  top      : 27%;
  left     : 48%;
  width    : 34%;
  cursor   : pointer;
}

.ant_pic8 {
  position : absolute;
  top      : 25%;
  left     : 8%;
  width    : 38%;
  cursor   : pointer;
}

.ant_pic9 {
  position : absolute;
  top      : 25%;
  left     : 49%;
  width    : 38%;
  cursor   : pointer;
}

.bg {
  border        : 2px solid;
  border-radius : 8%;
  background    : #555555 none repeat scroll 0 0;
}

.exponential .board .wrapperIntro {
  width      : 100% !important;
  height     : 100% !important;
  background : url(../image/median.png) repeat-x;
}

@-webkit-keyframes animatedBackground {
  from {
    background-position : 100% 0;
  }

  to {
    background-position : 0 0;
  }
}

@-moz-keyframes animatedBackground {
  from {
    background-position : 100% 0;
  }

  to {
    background-position : 0 0;
  }
}

@keyframes animatedBackground {
  from {
    background-position : 100% 0;
  }

  to {
    background-position : 0 0;
  }
}

/* for chapter titles and page titles */

.wrapperIntro.firstPage .text0 {
  position    : absolute;
  top         : 6%;
  left        : 34%;
  color       : #5c5c5c;
  font-size   : 3.9em;
  font-weight : bold;
}

.wrapperIntro.firstPage .text2 {
  position    : absolute;
  top         : 32%;
  left        : 5%;
  width       : 90%;
  color       : #555555;
  text-align  : center;
  font-size   : 2em;
  font-weight : bold;
  line-height : 2em;
}

.wrapperIntro.firstPage .text4 {
  position      : absolute;
  top           : 38%;
  left          : 0;
  padding-right : 7%;
  padding-left  : 22%;
  color         : #555555;
  font-size     : 2em;
  font-weight   : bold;
}

.wrapperIntro.firstPage .text3 {
  position      : absolute;
  top           : 36%;
  left          : 0;
  padding-right : 7%;
  padding-left  : 22%;
  color         : #555555;
  font-size     : 2em;
  font-weight   : bold;
  line-height   : 2em;
}

.wrapperIntro.firstPage .text1 {
  position    : absolute;
  top         : 34%;
  left        : 16%;
  color       : #555555;
  text-align  : center;
  font-size   : 2em;
  font-weight : bold;
  line-height : 2em;
}

.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4 {
  display : none;
}

.wrapperIntro.second .text0 {
  padding-top  : 7%;
  padding-left : 41%;
  color        : #ffffff;
  font-size    : 2em;
  font-weight  : bold;
  line-height  : 2em;
}

.wrapperIntro.second .text1 {
  padding-top  : 11%;
  padding-left : 58%;
  color        : #ffffff;
  font-size    : 2em;
  font-weight  : bold;
}

.smallant1 {
  position : absolute;
  top      : 65%;
  left     : 12%;
  width    : 25%;
  height   : 35%;
}

.mediumants2 {
  position : absolute;
  top      : 65%;
  left     : 36%;
  width    : 20%;
  height   : 35%;
  cursor   : pointer;
}

.largeants3 {
  position : absolute;
  top      : 65%;
  left     : 55%;
  width    : 21%;
  height   : 35%;
}

.extraants4 {
  position : absolute;
  top      : 65%;
  left     : 72%;
  width    : 21%;
  height   : 35%;
}

#wrong8:hover {
  cursor : pointer;
}

.median_find {
  position   : relative;
  background : url(../image/bg.jpg) 100% 100% !important;
  /* padding: 2% 10% 10% 10%; */
  /* padding: 10%; */
}

.back {
  background : #000000;
  /*background: rgba(55,162,234,0.7) !important; */
}

.wrapperIntro.second.back .text2 {
  position      : absolute;
  top           : 7%;
  left          : 2%;
  color         : #555555;
  border-bottom : 1px solid #FFD940;
  font-size     : 3em;
  font-weight   : bold;
  /* text-decoration: underline; */
}

.wrapperIntro.second.back .text3 {
  display       : none;
  position      : absolute;
  top           : 21%;
  padding-right : 56%;
  padding-left  : 3%;
  color         : #555555;
  font-size     : 1.5em;
  line-height   : 2em;
}

.wrapperIntro.second.back .text4 {
  display     : none;
  position    : absolute;
  top         : 42%;
  left        : 3%;
  width       : 41%;
  color       : #555555;
  font-size   : 1.5em;
  line-height : 2em;
}

.wrapperIntro.second.back .text5 {
  display       : none;
  position      : absolute;
  top           : 59%;
  left          : 5%;
  padding-right : -48%;
  color         : #555555;
  font-size     : 1.8em;
  font-weight   : bold;
}

.wrapperIntro.second.back .text6 {
  display   : none;
  position  : absolute;
  top       : 21%;
  right     : 16%;
  color     : #555555;
  font-size : 1.5em;
}

.wrapperIntro.second.back .text7 {
  display   : none;
  position  : absolute;
  top       : 29%;
  right     : 27%;
  color     : #555555;
  font-size : 1.5em;
}

.wrapperIntro.second.back .text8 {
  display   : none;
  position  : absolute;
  top       : 38%;
  right     : 29%;
  color     : #555555;
  font-size : 1.5em;
}

.wrapperIntro.second.back .text9 {
  display    : none;
  position   : absolute;
  top        : 36%;
  right      : 22%;
  color      : #555555;
  text-align : center;
  font-size  : 1.5em;
}

.wrapperIntro.second.back .text10 {
  display    : none;
  position   : absolute;
  top        : 49%;
  right      : 22.6%;
  color      : #555555;
  text-align : center;
  font-size  : 1.5em;
}

.wrapperIntro.second.back .text11 {
  display    : none;
  position   : absolute;
  top        : 62%;
  right      : 24%;
  color      : #555555;
  text-align : center;
  font-size  : 1.5em;
}

.wrapperIntro.second.back .text12 {
  display   : none;
  position  : absolute;
  top       : 77%;
  left      : 73%;
  color     : #555555;
  font-size : 1.5em;
}

.wrapperIntro.second.back .text13 {
  display   : none;
  position  : absolute;
  top       : 87%;
  left      : 28%;
  color     : #555555;
  font-size : 1.5em;
}

/**
 * .wrapperIntro.second.back .text13 { font-size: 4em; font-weight: bold;
 * position: absolute; top: 17%; left: 5%; border-bottom: 1px solid #FFD940;
 * color: #000000; display: none; } .wrapperIntro.second.back .text14 {
 * font-size: 2em; font-weight: bold; position: absolute; top: 39%; left: 2%;
 * color: #000000; padding-right: 5%; text-align: justify; padding-left: 3%;
 * display: none; }
 */

.wrapperIntro.second.back .text10 > span {
  position : absolute;
  top      : 6%;
  left     : 50%;
}

.wrapperIntro.second.back .text11 > span {
  left : 90%;
}

.fifth,
.first,
.third {
  border-bottom : 1px solid #000000;
}

.equal {
  position : absolute;
  top      : 19%;
  left     : -50%;
}

.equals {
  position : absolute;
  top      : 23%;
  left     : -62%;
}

.wrapperIntro.fourth .text2 {
  display : none;
}

.wrapperIntro.fourth .text3 {
  display : none;
}

.modebg {
  background : url(../image/sky.png) repeat-x !important;
}

.wrapperIntro.fourth.modebg .text0 {
  display     : none;
  position    : absolute;
  top         : 1%;
  right       : 54%;
  color       : #000000;
  font-size   : 6em;
  font-weight : bold;
}

.wrapperIntro.fourth.modebg .text1 {
  z-index     : 1000;
  display     : none;
  position    : absolute;
  top         : 16%;
  padding     : 3%;
  color       : #E65256;
  font-size   : 2em;
  font-weight : bold;
}

.mode-dance {
  position : absolute;
  top      : 85%;
  left     : 29%;
}

@-webkit-keyframes animatedBackgroundmove {
  to {
    background-position : -5000% 0%;
  }
}

@-moz-keyframes animatedBackgroundmove {
  to {
    background-position : -5000% 0%;
  }
}

@keyframes animatedBackgroundmove {
  to {
    background-position : -5000% 0%;
  }
}

.wave1 {
  position            : absolute;
  top                 : 1%;
  width               : 100%;
  height              : 100%;
  background-image    : url(../image/wave1.png);
  background-repeat   : repeat;
  background-position : 0% 0%;
  background-size     : 90% 100%;
  -moz-animation      : animatedBackgroundmove 90s linear infinite;
  -webkit-animation   : animatedBackgroundmove 90s linear infinite;
  animation           : animatedBackgroundmove 90s linear infinite;
}

@-webkit-keyframes animatedBackgroundmoveright {
  to {
    background-position : 0% 0%;
  }
}

@-moz-keyframes animatedBackgroundmoveright {
  to {
    background-position : 0% 0%;
  }
}

@keyframes animatedBackgroundmoveright {
  to {
    background-position : 0% 0%;
  }
}

.wave2 {
  z-index             : 99;
  position            : absolute;
  top                 : 13%;
  width               : 100%;
  height              : 100%;
  background-image    : url(../image/wave2.png);
  background-repeat   : repeat;
  background-position : -5000% 0%;
  background-size     : 90% 100%;
  -moz-animation      : animatedBackgroundmoveright 120s linear infinite;
  -webkit-animation   : animatedBackgroundmoveright 120s linear infinite;
  animation           : animatedBackgroundmoveright 120s linear infinite;
}

.wave3 {
  position            : absolute;
  top                 : 25%;
  width               : 100%;
  height              : 100%;
  background-image    : url(../image/wave3.png);
  background-repeat   : repeat;
  background-position : 0% 0%;
  background-size     : 90% 100%;
  -moz-animation      : animatedBackgroundmove 90s linear infinite;
  -webkit-animation   : animatedBackgroundmove 90s linear infinite;
  animation           : animatedBackgroundmove 90s linear infinite;
}

.pirate {
  position : absolute;
  top      : 4%;
  width    : 67%;
}

.modenightbg {
  background : url(../image/night.gif) repeat-x !important;
}

.wrapperIntro.fourth.modebg.modenightbg .text1 {
  display     : none;
  position    : absolute;
  padding     : 3%;
  color       : #000000;
  font-size   : 3em;
  font-weight : bold;
}

.wrapperIntro.fourth.modebg.modenightbg .text2 {
  display     : none;
  position    : absolute;
  padding     : 6%;
  color       : #000000;
  font-size   : 2em;
  font-weight : bold;
}

.wrapperIntro.fourth.modebg.modenightbg .text3 {
  display     : none;
  position    : absolute;
  top         : 5%;
  left        : 1%;
  padding     : 3%;
  color       : #000000;
  font-size   : 3em;
  font-weight : bold;
}

/* mode ants click */

.extraants:hover,
.largeants:hover,
.mediumants:hover,
.smallant:hover {
  opacity : 0.8;
  cursor  : pointer;
}

.smallantmode {
  position : absolute;
  top      : 65%;
  width    : 36%;
  height   : 35%;
}

.mediumantsmode {
  position : absolute;
  top      : 65%;
  left     : 21%;
  width    : 36%;
  height   : 35%;
}

.largeantsmode {
  position : absolute;
  top      : 65%;
  left     : 53%;
  width    : 23%;
  height   : 35%;
}

.extraantsmode {
  position : absolute;
  top      : 65%;
  left     : 75%;
  width    : 23%;
  height   : 35%;
}

.modeantcorrect {
  border-radius : 50%;
  background    : #000000;
}

.wrapperIntro.fourth.modebg .text4 {
  display       : none;
  position      : absolute;
  top           : 7%;
  left          : 2%;
  color         : #37A9DF;
  border-bottom : 3px solid #FFD940;
  font-size     : 3em;
  font-weight   : bold;
  /* text-decoration: underline; */
}

.wrapperIntro.fourth.modebg .text5 {
  display       : none;
  position      : absolute;
  top           : 21%;
  padding-right : 0;
  padding-left  : 3.5%;
  color         : #E65256;
  font-size     : 1.8em;
  font-weight   : bold;
}

.wrapperIntro.fourth.modebg .text6 {
  display       : none;
  position      : absolute;
  top           : 30%;
  padding-right : 0;
  padding-left  : 3%;
  color         : #E65256;
  font-size     : 1.8em;
  font-weight   : bold;
}

.wrapperIntro.fourth.modebg .text7 {
  display       : none;
  position      : absolute;
  top           : 39%;
  padding-right : 0;
  padding-left  : 3%;
  color         : #E65256;
  font-size     : 1.8em;
  font-weight   : bold;
}

.wrapperIntro.fourth.modebg .text8 {
  display       : none;
  position      : absolute;
  top           : 48%;
  padding-right : 0;
  padding-left  : 3.5%;
  color         : #E65256;
  font-size     : 1.8em;
  font-weight   : bold;
}

.wrapperIntro.fourth.modebg .text9 {
  display       : none;
  position      : absolute;
  top           : 57%;
  padding-right : 0;
  padding-left  : 3%;
  color         : #E65256;
  font-size     : 1.8em;
  font-weight   : bold;
}

.wrapperIntro.fourth.modebg .text10 {
  display       : none;
  position      : absolute;
  top           : 7%;
  left          : 2%;
  color         : #000000;
  border-bottom : 3px solid #FFD940;
  font-size     : 3em;
  font-weight   : bold;
  /* text-decoration: underline; */
}

.wrapperIntro.fourth.modebg .text11 {
  display     : none;
  position    : absolute;
  top         : 21%;
  padding     : 7%;
  color       : #000000;
  text-align  : justify;
  font-size   : 2em;
  font-weight : bold;
}

.wrapperIntro.third.modebg .text0 {
  position      : absolute;
  top           : 7%;
  left          : 2%;
  color         : #555555;
  border-bottom : 3px solid #FFD940;
  font-size     : 3em;
  font-weight   : bold;
}

.wrapperIntro.third.modebg .text1 {
  position      : absolute;
  top           : 38%;
  left          : 2%;
  padding-right : 5%;
  padding-left  : 3%;
  color         : #555555;
  text-align    : justify;
  font-size     : 1.5em;
  line-height   : 2em;
}

/* img { vertical-align: middle; height: 50%; width: 100%; } */

/**
 * #strawberry > img { margin-top: 2%; width: 32%; } #watermelon > img {
 * margin-top: 2%; width: 32%; } #banana > img { margin-top: 2%; width: 32%;
 * } #bread > img { margin-top: 2%; width: 32%; }
 */

li {
  border     : medium none !important;
  background : none repeat scroll 0 0 transparent !important;
  /* height: 17%; width: 17%; margin:40px -104px 0 0 !important; */
}

/**
 * .col-lg-8.col-md-8.col-sm-8.col-xs-8.mountan_names{ position: absolute; top:
 * 73%; }
 */

/**
 * .ui-sortable { display: -moz-inline-box; margin-top: 56%; } #sortable
 * li:hover { cursor :pointer; } .button { margin-top :36px; color:#000000; }
 * #correct_icon,#incorrect_icon { display : none; height: 89px; }
 * #correct_icon,#incorrect_icon { height: 89px; } .whole_content {
 * width:100%; height:100%; position:relative; background:#000000; }
 * .button_check { position: absolute; left: 56%; top: 46%; } .right_wrong {
 * position: absolute; top: 48%; left: 72%; } .check { background-color:
 * #FF595B; color: #000000; font-size: 1.5em; border-color: #FF595B;
 * border-radius: 9%; } .check:hover { background-color: #37A2EA; color:
 * #000000; font-size: 1.5em; border-color: #37A2EA; border-radius: 9%; }
 */

/* match */

#sortable {
  margin          : 0;
  padding         : 0;
  text-align      : center;
  list-style-type : none;
}

#sortable li {
  /*height: 145px !important; */
  width   : 15%;
  margin  : 260px 30px 19px;
  padding : 0.4em 0.4em 0.4em 1.5em;
}

#sortable li span {
  position    : absolute;
  margin-left : -1.3em;
}

.mainBox {
  margin : 0 auto;
}

/* Give headings their own font */

h1,
h2,
h4 {
  text-align  : center;
  font-family : "Lucida Sans Unicode",
                "Lucida Grande",
                sans-serif;
}

h3 {
  color       : #4682B4;
  text-align  : center;
  font-family : "Lucida Sans Unicode",
                "Lucida Grande",
                sans-serif;
}

.title {
  width       : 97.5%;
  height      : 10%;
  margin      : auto;
  margin-top  : 0%;
  padding-top : 1%;
  color       : #555555;
  background  : none repeat scroll 0 0 #FF595B;
  text-align  : center;
  font-size   : 1.6em;
}

.content_words {
  width             : 100%;
  margin-top        : 0%;
  margin-left       : 0%;
  background-image  : url('../snow_fall/1.png'),
                      url('../snow_fall/2.png'),
                      url('../snow_fall/3.png');
  -moz-animation    : snow 20s linear infinite;
  -ms-animation     : snow 20s linear infinite;
  -webkit-animation : snow 20s linear infinite;
  animation         : snow 30s linear infinite;
}

li > #1 {
  background : green;
}

#sortable li:hover {
  cursor : pointer;
}

.button {
  display    : none;
  margin-top : 36px;
  color      : #000000;
}

#correct_icon,
#incorrect_icon {
  display : none;
  height  : 89px;
}

#correct_icon,
#incorrect_icon {
  height     : 88px;
  margin-top : 8%;
}

.whole_content {
  width      : 100%;
  height     : 100% position:relative;
  background : #000000;
}

.mountains {
  position   : relative;
  left       : -0.1%;
  width      : 50%;
  margin-top : 24%;
}

.mountains2 {
  position   : relative;
  left       : 49.5%;
  width      : 50.6%;
  height     : 33%;
  margin-top : -20.5%;
}

.mountan_names {
  position : absolute;
  top      : 34%;
  left     : 10%;
  width    : 75%;
}

.button_check {
  position : absolute;
  top      : 59%;
  left     : 75%;
}

.right_wrong {
  position : absolute;
  top      : 48%;
  left     : 72%;
}

/* button designs */

.check {
  z-index          : 999;
  color            : #555555;
  border-color     : #FF595B;
  border-radius    : 9%;
  background-color : #FF595B;
  font-size        : 1.5em;
}

.check:hover {
  color            : #555555;
  border-color     : #37A2EA;
  border-radius    : 9%;
  background-color : #37A2EA;
  font-size        : 1.5em;
}

.ants_width {
  width : 100%;
}

#correct_ant,
#incorrect_ant {
  display  : none;
  position : absolute;
  top      : 45%;
  left     : 43%;
  width    : 16%;
}

.term1 {
  position    : absolute;
  top         : 3%;
  margin-left : 78%;
}

.term2 {
  position    : absolute;
  top         : 3%;
  margin-left : 100%;
}

.term3 {
  position    : absolute;
  top         : 3%;
  margin-left : 72%;
}

.term4 {
  position : absolute;
  top      : 3%;
  left     : 36px;
}

sup {
  top  : -1.5em;
  left : 69%;
}

.equals5 {
  position : absolute;
  top      : -2%;
  left     : -29px;
}
