.exponential {
  position   : relative;
  width      : 100%;
  height     : 100%;
  overflow   : hidden;
  box-shadow : inset 0 0 30px #f2f2f2;
  font-size  : 1.3em;
}

.exponential,
.exponential * {
  position : relative;
  margin   : 0;
  padding  : 0;
}

.exponential .nextBtn {
  display  : none !important;
  position : absolute;
  top      : 85%;
  left     : 93%;
  width    : 6%;
  height   : 10%;
}

.exponential .prevBtn {
  display  : none;
  position : absolute;
  top      : 85%;
  left     : 5%;
  width    : 6%;
  height   : 10%;
}

.exponential .board {
  position : relative;
  top      : 0%;
  left     : 0%;
  width    : 100%;
  height   : 100%;
}

/*  */

.exponential .board .wrapperIntro {
  top         : 0;
  left        : 0;
  width       : 100%;
  height      : 100%;
  padding     : 10px;
  padding-top : 2%;
  line-height : 1.5em;
}

.wrapperIntro.firstPage {
  /* background: rgba(15,173,187,0.5); */
  background : #DBEFEF;
}

.wrapperIntro.firstPage .text0 {
  display      : none;
  position     : absolute;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : 12%;
  padding-top  : 2%;
  padding-left : 30%;
  color        : #ffffff;
  background   : #9087dd none repeat scroll 0 0;
  font-size    : 2em;
}

.wrapperIntro.firstPage .text1 {
  display   : none;
  position  : absolute;
  top       : 17%;
  left      : 3%;
  color     : #5c5c5c;
  font-size : 1.5em;
}

.wrapperIntro.firstPage .text2 {
  display   : none;
  position  : absolute;
  top       : 25%;
  left      : 3%;
  color     : #555555;
  font-size : 1.3em;
}

.wrapperIntro.firstPage .text3 {
  display     : none;
  position    : absolute;
  top         : 34%;
  left        : 22%;
  color       : #555555;
  font-size   : 1.7em;
  font-weight : bold;
  cursor      : pointer;
}

.wrapperIntro.firstPage .text4 {
  display   : none;
  position  : absolute;
  top       : 47%;
  left      : 3%;
  color     : #555555;
  font-size : 1.7em;
}

.wrapperIntro.firstPage .text5 {
  display       : none;
  position      : absolute;
  top           : 56%;
  left          : 4%;
  padding-right : 10%;
  padding-left  : 6%;
  color         : #555555;
  font-size     : 1.7em;
  font-weight   : bold;
  line-height   : 45px;
}

.black {
  color : #555555;
}

.class_fifteen {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

.class_twenty {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

.class_twenty-three {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

.class_nineteen {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

.class_twelve {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

.class_thirteen {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

.class_seventeen {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

.class_eighteen {
  color       : #C500C5;
  font-size   : 1.8em;
  font-weight : bold;
  cursor      : pointer;
}

/* second page */

.wrapperIntro.second {
  /* background: rgba(15,173,187,0.5); */
  background : #DBEFEF;
}

.wrapperIntro.second .text0 {
  display      : none;
  position     : absolute;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : 12%;
  padding-top  : 2.2%;
  padding-left : 35%;
  color        : #ffffff;
  background   : #9087dd none repeat scroll 0 0;
  font-size    : 2em;
}

.wrapperIntro.second .text1 {
  display        : none;
  position       : absolute;
  top            : 19%;
  left           : 6%;
  padding-bottom : 2%;
  color          : #555555;
  font-size      : 1.5em;
}

.wrapperIntro.second .text2 {
  display       : none;
  position      : absolute;
  top           : 28%;
  left          : 7%;
  padding-right : 10%;
  padding-left  : 6%;
  color         : #555555;
  font-size     : 1.7em;
  font-weight   : bold;
  line-height   : 45px;
}

.wrapperIntro.second .text3 {
  display       : none;
  position      : absolute;
  top           : 89%;
  right         : 45%;
  padding       : 1% 2%;
  color         : #ffffff;
  border-radius : 9px;
  background    : #ba57d5 none repeat scroll 0 0;
  font-size     : 1.5em;
  font-weight   : bold;
}

.wrapperIntro.second .text3:hover {
  background : #00BEED;
  cursor     : pointer;
}

.wrapperIntro.second .text4 {
  display        : none;
  position       : absolute;
  top            : 84%;
  right          : 26%;
  padding-top    : 1%;
  padding-right  : 2%;
  padding-bottom : 1%;
  padding-left   : 2%;
  color          : #555555;
  border-radius  : 9px;
  background     : #F35743;
  font-size      : 1.8em;
  font-weight    : bold;
}

.wrapperIntro.second .text4:hover {
  background : #FFAC00;
  cursor     : pointer;
}

.wrapperIntro.second .text5 {
  z-index       : 99;
  display       : none;
  position      : absolute;
  top           : 0;
  left          : 0;
  width         : 100%;
  height        : 53%;
  padding-top   : 1%;
  padding-right : 5%;
  padding-left  : 7%;
  color         : #555555;
  background    : #00BEED none repeat scroll 0 0;
  font-size     : 1.8em;
  line-height   : 63px;
}

.wrapperIntro.second .text5:hover {}

.wrapperIntro.second .text6 {
  position       : absolute;
  top            : 5%;
  left           : 1%;
  padding-bottom : 2%;
  color          : #555555;
  border-bottom  : 2px solid #F8ED33;
  font-size      : 2.5em;
  font-weight    : bold;
  line-height    : 87%;
  /* color: black; */
}

.table_diy {
  display  : none;
  position : absolute;
  top      : 56%;
  left     : 7%;
  width    : 86%;
}

.table_diy_ans {
  display  : none;
  position : absolute;
  top      : 58.1%;
  left     : 14%;
  width    : 86%;
}

/* third page */

.wrapperIntro.third {
  /* background: rgba(15,173,187,0.5); */
  background : #ffffff;
}

.wrapperIntro.third .text0 {
  display     : none;
  position    : absolute;
  top         : 3%;
  right       : 34%;
  padding     : 1%;
  color       : #555555;
  font-size   : 1.8em;
  font-weight : bold;
}

/* .wrapperIntro.third .text0:hover { cursor: pointer; background: #FFAC00; } */

.wrapperIntro.third .text1 {
  display       : none;
  position      : absolute;
  top           : 49%;
  left          : 64%;
  width         : 35%;
  height        : 19%;
  padding-top   : 2%;
  padding-left  : 1.5%;
  border-radius : 10px;
  background    : #e0dfff none repeat scroll 0 0;
  font-size     : 1.3em;
  line-height   : 1.5em;
}

.wrapperIntro.third .text2 {
  display     : none;
  position    : absolute;
  top         : 17%;
  right       : 2%;
  color       : #555555;
  font-size   : 1.5em;
  font-weight : bold;
}

.wrapperIntro.third .text3 {
  display   : none;
  position  : absolute;
  top       : 26%;
  right     : 17%;
  color     : #555555;
  font-size : 1.3em;
}

.wrapperIntro.third .text4 {
  display      : none;
  position     : absolute;
  top          : 38%;
  left         : 67%;
  width        : 55%;
  height       : 13%;
  padding-left : 0;
  color        : #555555;
  font-size    : 1.3em;
}

.wrapperIntro.third .text4 .first {
  position       : absolute;
  bottom         : 87%;
  left           : 16%;
  padding-bottom : 1%;
  border-bottom  : 1px solid #000000;
}

sup {
  top  : -2em;
  left : 20%;
}

.term01 {
  position : absolute;
  top      : -25%;
  left     : 38%;
}

.wrapperIntro.third .text4 .second {
  position : absolute;
  top      : 21%;
  left     : 23%;
}

.wrapperIntro.third .text5 {
  display      : none;
  position     : absolute;
  top          : 52%;
  left         : 71%;
  width        : 55%;
  height       : 13%;
  padding-left : 0;
  color        : #555555;
  font-size    : 1.3em;
}

.wrapperIntro.third .text5 .third {
  position       : absolute;
  bottom         : 82%;
  left           : 7%;
  padding-bottom : 1%;
  border-bottom  : 1px solid #000000;
}

.term02 {
  position : absolute;
  top      : -19%;
  left     : 29%;
}

.wrapperIntro.third .text5 .forth {
  position : absolute;
  top      : 26%;
  left     : 15%;
}

/**
 * .wrapperIntro.third .text5 { display: none; font-size: 1.5em; font-weight:
 * bold; left: 78%; padding-left: 0; position: absolute; top: 66%; }
 */

.equalsto {
  position : absolute;
  top      : -62%;
  left     : -34%;
}

.fifth {
  position       : absolute;
  top            : -95%;
  left           : -10%;
  padding-bottom : 3%;
  border-bottom  : 1px solid #000000;
  text-align     : center;
}

.term03 {
  position : absolute;
  top      : -90%;
  left     : 36%;
}

.sixth {
  position : absolute;
  bottom   : 4%;
  left     : 1%;
}

.seven {
  top  : 35px;
  left : -34%;
}

.wrapperIntro.third .text6 {
  display      : none;
  position     : absolute;
  top          : 70%;
  left         : 75.9%;
  padding-left : 0;
  font-size    : 1.3em;
}

.wrapperIntro.third .text7 {
  display      : none;
  position     : absolute;
  top          : 87%;
  left         : 71%;
  padding-left : 0;
  font-size    : 1.3em;
}

table {
  width : 100%;
}

table,
td,
th {
  border          : 1px solid black;
  border-collapse : collapse;
}

td,
th {
  padding    : 5px;
  text-align : left;
}

table#t01 tr:nth-child(even) {
  background-color : #eee;
}

table#t01 tr:nth-child(odd) {
  background-color : #fff;
}

table#t01 th {
  color            : white;
  background-color : black;
}

.numbers_table {
  width       : 7%;
  text-align  : center;
  font-size   : 3em;
  font-weight : bold;
}

.value_table {
  width       : 7%;
  background  : #fff;
  text-align  : center;
  font-size   : 3em;
  font-weight : bold;
}

.value_table:nth-of-type(1) {
  background : transparent;
}

.width_input,
.width_input1,
.width_input2,
.width_input3,
.width_input4,
.width_input5,
.width_input6,
.width_input7 {
  width      : 100%;
  text-align : center;
}

.table_diy2 {
  display  : none;
  position : absolute;
  top      : 14%;
  left     : 12%;
  width    : 49%;
}

.numbers_table1 {
  width       : 95px;
  background  : #d3d5f0 none repeat scroll 0 0;
  text-align  : center;
  font-size   : 2.5em;
  font-weight : bold;
}

.value_table1 {
  width       : 58px;
  text-align  : center;
  font-size   : 1.5em;
  font-weight : bold;
  line-height : 2em;
}

.value_table01 {
  width       : 145px;
  text-align  : center;
  font-size   : 1.5em;
  font-weight : bold;
  line-height : 2em;
}

.width_input_one {
  display    : none;
  position   : absolute;
  top        : 8%;
  left       : 0;
  width      : 36px;
  height     : 39px;
  text-align : center;
}

.plus {
  display  : none;
  position : absolute;
  top      : -1%;
  left     : 28%;
}

.width_input_two {
  display    : none;
  position   : absolute;
  top        : 8%;
  left       : 41%;
  width      : 36px;
  height     : 39px;
  text-align : center;
}

.sixteen {
  display  : none;
  position : absolute;
  top      : 2%;
  left     : 68%;
}

.width_input_three {
  display    : none;
  position   : absolute;
  top        : 8%;
  left       : 0;
  width      : 36px;
  height     : 39px;
  text-align : center;
}

.plus1 {
  display  : none;
  position : absolute;
  top      : -1%;
  left     : 28%;
}

.width_input_four {
  display    : none;
  position   : absolute;
  top        : 8%;
  left       : 41%;
  width      : 36px;
  height     : 39px;
  text-align : center;
}

.twenty-three1 {
  display  : none;
  position : absolute;
  top      : 2%;
  left     : 68%;
  color    : #555555;
}

/**
 * .red{ color: #D80000; } .purple{ color: #0099FF; display: none; } .black{
 * color: #000000; display: none; } .black1{ color: #000000; display: none; }
 */

#correct,
#wrong {
  display : none;
}

.img01.img-responsive {
  position   : relative;
  left       : 80%;
  width      : 3%;
  margin-top : 30%;
}

#correct1,
#wrong1 {
  display : none;
}

.img02.img-responsive {
  position   : relative;
  left       : 80%;
  width      : 3%;
  margin-top : 35.5%;
}

.ten {
  display     : none;
  position    : absolute;
  top         : 32%;
  left        : 68%;
  font-size   : 1.5em;
  font-weight : bold;
}

.six {
  display     : none;
  position    : absolute;
  top         : 32%;
  left        : 86%;
  font-size   : 1.5em;
  font-weight : bold;
}

.answer {
  display       : none;
  position      : absolute;
  top           : 58%;
  right         : -44%;
  padding       : 1.5%;
  border-radius : 9px 9px 9px 9px;
  background    : none repeat scroll 0 0 #555555;
  font-size     : 1em;
  font-weight   : bold;
}

.answer1 {
  display       : none;
  position      : absolute;
  top           : 70%;
  right         : -44.4%;
  padding       : 1.5%;
  border-radius : 9px 9px 9px 9px;
  background    : none repeat scroll 0 0 #555555;
  font-size     : 1em;
  font-weight   : bold;
}

.check {
  display       : none;
  position      : absolute;
  top           : 57%;
  right         : -29%;
  padding       : 0% 1%;
  color         : #555555;
  border-radius : 9px 9px 9px 9px;
  background    : none repeat scroll 0 0 #F35743;
  font-size     : 1.8em;
  font-weight   : bold;
}

.check:hover {
  background : #FFAC00;
  cursor     : pointer;
}

.cf1,
.cf2,
.cf3 {
  display : none;
}

/* fourth page */

.wrapperIntro.fourth {
  /* background: rgba(15,173,187,0.5); */
  background : #ffffff;
}

.wrapperIntro.fourth .text0 {
  display     : none;
  position    : absolute;
  top         : 2%;
  right       : 54%;
  padding     : 1% 2%;
  color       : #555555;
  font-size   : 1.8em;
  font-weight : bold;
}

.wrapperIntro.fourth .text1 {
  display     : none;
  position    : absolute;
  top         : 10%;
  left        : 4%;
  font-size   : 1.1em;
  font-weight : bold;
}

.wrapperIntro.fourth .text2 {
  display  : none;
  position : absolute;
  top      : 57%;
  left     : 73%;
}

.now {
  top  : 4%;
  left : -164%;
}

.med {
  left       : -46%;
  margin-top : -52%;
}

.terms {
  position : absolute;
  top      : -27%;
  left     : 44%;
}

.wrapperIntro.fourth .text3 {
  display  : none;
  position : absolute;
  top      : 67%;
  left     : 73%;
}

.now1 {
  position : absolute;
  left     : -62px;
}

/**
 * .wrapperIntro.fourth .text4 { display: none; left: 66%; position: absolute;
 * top: 78%; }
 */

.table_diy3 {
  display  : none;
  position : absolute;
  top      : 20%;
  left     : 7%;
  width    : 38%;
}

.kid {
  display    : none;
  position   : absolute;
  left       : 52%;
  width      : 48%;
  margin-top : 8%;
}

.width,
.width2,
.width4,
.width6 {
  width      : 43px;
  height     : 39px;
  text-align : center;
}

.width1,
.width3,
.width5,
.width7 {
  display    : none;
  width      : 43px;
  height     : 39px;
  text-align : center;
}

.width-ans {
  position   : absolute;
  top        : -13%;
  left       : 33px;
  width      : 41px;
  height     : 39px;
  text-align : center;
}

.wrapperIntro.fourth .text4 {
  display  : none;
  position : absolute;
  top      : 76%;
  left     : 66.3%;
  color    : #5c5c5c;
}

.wrapperIntro.fourth .text5 {
  display       : none;
  position      : absolute;
  top           : 74%;
  left          : 80%;
  padding       : 1%;
  color         : #555555;
  border-radius : 9px;
  background    : #f35743 none repeat scroll 0 0;
  font-size     : 1.5em;
  font-weight   : bold;
}

.wrapperIntro.fourth .text5:hover {
  background : #FFAC00;
  cursor     : pointer;
}

.wrapperIntro.fourth .text6 {
  display       : none;
  position      : absolute;
  top           : 85%;
  right         : 14%;
  padding       : 1%;
  border        : 1px solid;
  border-radius : 9px;
  background    : #ffffff none repeat scroll 0 0;
  font-size     : 1em;
  font-weight   : bold;
}

.med {
  left       : -46%;
  margin-top : -49%;
}

.med01 {
  left       : -49%;
  width      : 75%;
  margin-top : -4%;
  border-top : 1px solid;
  text-align : center;
}

.med02 {
  top        : 5%;
  left       : -81%;
  margin-top : -23%;
}

.terms01 {
  position : absolute;
  top      : -49%;
  left     : 58%;
}

.med03 {
  position   : absolute;
  top        : 76%;
  left       : -81%;
  width      : 107%;
  border-top : 1px solid;
  text-align : center;
}

#correct2,
#wrong2 {
  display : none;
}

.img03.img-responsive {
  position   : relative;
  left       : 76.5%;
  width      : 3%;
  margin-top : 45%;
}

.correct {
  background : #D1F2AE !important;
}

.incorrect {
  background : #FFC5AC !important;
}

.check_01 {
  display       : none;
  position      : absolute;
  top           : 69%;
  left          : 23.5%;
  padding       : 1%;
  color         : #555555;
  border-radius : 9px;
  background    : none repeat scroll 0 0 #F35743;
  font-size     : 1.2em;
  font-weight   : bold;
}

.check_01:hover {
  background : #FFAC00;
  cursor     : pointer;
}

.check_02 {
  display       : none;
  position      : absolute;
  top           : 69%;
  left          : 34.5%;
  padding       : 1%;
  color         : #555555;
  border-radius : 9px;
  background    : none repeat scroll 0 0 #F35743;
  font-size     : 1.2em;
  font-weight   : bold;
}

.check_02:hover {
  background : #FFAC00;
  cursor     : pointer;
}

@keyframes pulse {
  0% {
    opacity   : 0.0;
    transform : scale(0);
  }

  25% {
    opacity   : 0.6;
    transform : scale(0);
  }

  50% {
    opacity   : 0.8;
    transform : scale(0.1);
  }

  75% {
    opacity   : 1;
    transform : scale(0.5);
  }

  100% {
    opacity   : 0.0;
    transform : scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    opacity        : 0.0;
    -moz-transform : scale(0);
  }

  25% {
    opacity        : 0.6;
    -moz-transform : scale(0);
  }

  50% {
    opacity        : 0.8;
    -moz-transform : scale(0.1);
  }

  75% {
    opacity        : 1;
    -moz-transform : scale(0.5);
  }

  100% {
    opacity        : 0.0;
    -moz-transform : scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity           : 0.0;
    -webkit-transform : scale(0);
  }

  25% {
    opacity           : 0.6;
    -webkit-transform : scale(0);
  }

  50% {
    opacity           : 0.8;
    -webkit-transform : scale(0.1);
  }

  75% {
    opacity           : 1;
    -webkit-transform : scale(0.5);
  }

  100% {
    opacity           : 0.0;
    -webkit-transform : scale(1);
  }
}

/* for all element inside board */

.board *[data-usernotification*="notifyuser"] {
  cursor : pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
  content           : "";
  position          : absolute;
  left              : 49%;
  width             : 1em;
  height            : 1em;
  margin-top        : 52.5%;
  border            : 2px solid black;
  border-radius     : 50%;
  background-color  : white;
  -moz-animation    : pulse 1s ease-out infinite;
  -webkit-animation : pulse 1s ease-out infinite;
  animation         : 1s ease-out 0s normal none infinite running pulse;
  animation         : pulse 1s ease-out infinite;
}

div.container {
  padding : 2em;
  /* background-color: rgba(0,0,0,0.2); */
}

/* best display for a fraction */

.fraction {
  display         : inline-table;
  border-collapse : collapse;
  text-align      : center;
  vertical-align  : middle;
  /* this can be here or inside .fraction's child */
  /* oh wow this is a wow align test without this and see what wow LOL */
}

.fraction .denominator,
.fraction .numerator {
  display     : table-row;
  font-weight : normal;
}

.fraction .numerator {
  border-bottom : solid rgb(0, 0, 0) 1px;
  font-style    : normal;
}

@media  (min-aspect-ratio : 4/3) {
  .wrapperIntro.second .text2, .numbers_table1, .value_table1, .value_table01, .value_table01 span{
    font-size : 3vh;
  }

  .numbers_table {
    font-size : 4vh;
  }
}

@media  (max-aspect-ratio : 4/3) {
  .wrapperIntro.second .text2, .numbers_table1, .value_table1, .value_table01, .value_table01 span{
    font-size : 2vw;
  }

  .numbers_table {
    font-size : 3vw;
  }
}
