<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("exercise/css/ex1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
            <div class = "vertical-horizontal-center">
    </div>
	{{#if uppertextblock}}
    <div class="textblock {{uppertextblockadditionalclass}}">
    	{{#each uppertextblock}}
    		<p class="question_number my_font_big {{question_no_class}}"></p>
       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
    	{{/each}}
    </div>
    {{/if}}
    {{#if passageblock}}
    <div class="passageblock {{passageblockadditionalclass}}">
    	{{#each passageblock}}
       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
    	{{/each}}
    </div>
    {{/if}}
    {{#if optionsblock}}
    <div class="optionsblock {{optionsblockadditionalclass}}">
    	{{#each optionsblock}}
    		<div class='optioncontainer {{optionclass}}'>
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
				<img class="correct-icon" src="images/correct.png">
				<img class="incorrect-icon" src="images/wrong.png">
			</div>
    	{{/each}}
    </div>
    {{/if}}
     </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>