.pondbg{
  position: absolute;
  width:100%;
}
.pondbg1{
  position: absolute;
  width:100%;
  opacity: 0.5;
}
.coverpagetext{
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0%;
  text-align: center;
}
.title{
  font-size: 5.5vw;
}
.peacockdiv{
  position: absolute;
  width: 35%;
  top: 40%;
  transform: translateY(-40%);
  left: 54%;
}

.sparrowbox{
  position: absolute;
  width: 28%;
  top: 21%;
  left: 2%;
}
.peacockbox {
  position: absolute;
  width: 24%;
  top: 23%;
  left: 73%;
}
.hand{
  position: absolute;
  width: 5%;
}
.hand1{
  top: 36%;
  left: 38%;
}
.hand2{
  top: 41%;
  left: 64%;
}
.hand3{
  left:30%;
  top:55%;
}
.hand4{
  left:72%;
  top:55%;
}
.imgtext{
  position: absolute;
  width: 100%;
  bottom: 38%;
}
.imgdiv{
  cursor: pointer;
}
.maintopic{
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #87CF91;
  opacity: 0.8;
  top:0;
}
.crockdiv{
  position: absolute;
  width: 80%;
  top: 70%;
  transform: translateY(-70%);
  left: 13%;
}
.arrow1{
  position: absolute;
  width: 22%;
  top: 32%;
  left: 17%;
  transform: rotate(18deg);
  opacity:0;
}
.arrow2{
  position: absolute;
  width: 21%;
  top: 37%;
  left: 41%;
  transform: rotate(-30deg);
  opacity: 0;
}
.div1{
  position: absolute;
  width: 30%;
  top: 75%;
  color: #1155CC;
  left: 13%;
  height: 10%;
  opacity: 1;


}
.div2{
  position: absolute;
  width: 28%;
  top: 75%;
  color: #1155CC;
  left: 61%;
  height: 10%;
  opacity: 1;
}
.crockcycle1{
  position: absolute;
  width: 18%;
  top: 26%;
  left: 44%;
  opacity: 0;
}
.crockcycle2{
  position: absolute;
  width: 18%;
  top: 48%;
  left: 66%;
  opacity: 0;
}
.crockcycle3{
  position: absolute;
  width: 18%;
  top: 74%;
  left: 44%;
  opacity: 0;
}
.crockcycle4{
  position: absolute;
  width:18%;
  top: 48%;
  left:25%;
  opacity: 0;
}
.maintopic1{
  height:25%;
}
.yellarw1{
  position: absolute;
  width: 10%;
  left: 63%;
  top: 34%;
  opacity: 0;
}
.yellarw2{
  position: absolute;
  width: 10%;
  top: 72%;
  left: 64%;
  transform: rotate(84deg);
  opacity: 0;
}
.yellarw3{
  position: absolute;
  width: 10%;
  top: 73%;
  left: 31%;
  transform: rotate(180deg);
  opacity: 0;
}
.yellarw4{
  position: absolute;
  width: 10%;
  top: 32%;
  left: 31%;
  transform: rotate(288deg);
  opacity: 0;
}
.sparrowdiv{
  position: absolute;
  width: 23%;
  top: 36%;
  transform: translateY(-36%);
  left: 28%;
}

.namebox{
  position: absolute;
  width: 15%;
  border: 2px solid #666666;
  border-radius: 16px;
  height: 13%;
  background-color: #F4B7A3;box
  opacity:0;

}
.handimg{
  cursor: pointer;
}
.d1{
  bottom: 32%;
  left: 10%;
  cursor: pointer;
}
.d2{
  bottom: 14%;
  left: 42%;
}
.hawk{
  position: absolute;
  width: 40%;
  animation:fly 3s linear infinite;
}
@keyframes fly {
  0% {
    top: 16%;
    left: -11%;
  }
  100% {
    top: 50%;
    left: 63%;
  }
}
@-moz-keyframes fly {
  0%   { top: 16%;
    left: -11%;}
    100% {  top: 50%;
      left: 63%;}
    }
    @-webkit-keyframes fly {
      0%   { top: 16%;
        left: -11%; }
        100% {  top: 50%;
          left: 63%; }
        }
        .bg1{
          background-color: #92CBFF;
          background-size: 100% 100%;
        }
        .treebranch{
          position: absolute;
          top: 39%;
        }

        .ostrichdiv{
          position: absolute;
          width: 38%;
          top: 80%;
          transform: translateY(-85%);
          left: 7%;
          opacity: 0;
        }
        .penguindiv{
          position: absolute;
          width: 38%;
          top: 80%;
          transform: translateY(-85%);
          left: 54%;
          opacity: 0;
        }
        .handtxt{
          position: absolute;
          width: 6%;
          top: 62%;
          left: 15%;
          z-index: 100;
        }
        .birdsrespdiv{
          position: absolute;
          width: 54%;
          top: 28%;
          left: 38%;
          z-index: 2;
        }
        .respiration{
          position: absolute;
          width: 15%;
          height: 15%;
          font-size: 1.9vw;
          top: 83%;
          left: 42%;
          z-index: 5;
        }

        .colortext{
          color: #f44c80;
        }
        /* .squarebox{
        position: absolute;
        width: 42%;
        top: 85%;
        transform: translateY(-85%);
        left: 54%;
        opacity: 0;
        } */

        .ostrichbox {
          display: block;
          top: 25%;
          position: absolute;

        }
        .ostrichingimg {
          width: 49%;
          right: -23%;
          top: 0%;
        }

        .imgtext1 {
          position: absolute;
          width: 43%;
          top: 8%;
          right: 5%;
          text-align: center;
          height: 52%;
          padding: 1% 2%;
        }
        .box1{
          top: 172%;
          left: -9%;
        }
        .box2{
          top: 172%;
          left: -6%;
        }
        .penguinbox {
          display: block;
          top: 25%;
          position: absolute;

        }
        .penguinboximg {
          width: 49%;
          left: -23%;
          top: 0%;
        }

        .imgtext2 {
          position: absolute;
          width: 46%;
          top: 4%;
          left: 4%;
          padding: 1% 2%;
          text-align: center;
        }
        .closebutton {
          position: absolute;
          width: 9%;
          z-index: 99;
          left: 3%;
          top: 4%;
          cursor: pointer;
        }
        .bg_blue{
          background: #5dafdd;
        }
        @media (min-aspect-ratio: 4/3){
          .imgtext1,	.imgtext2{
            font-size: 3.2vh;
          }
        }

        @media (max-aspect-ratio: 4/3){
          .imgtext2{
            font-size: 1.9vw;
          }
        }
