.bg{
    background-color: #6F739C;
    background-size: 100% 100%;
    width:100%;
    height:100%;
}
.fish{
    position: absolute;
    width: 25%;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    left: 5%;
}
.dog{
    position: absolute;
    width: 38%;
    top: 90%;
    transform: translateY(-90%);
    float: left;
    left: 33%;
}
.merle{
    position: absolute;
    width: 18%;
    top: 100%;
    transform: translateY(-100%);
    float: left;
    left: 11%;
}
.turtle{
    position: absolute;
    width: 21%;
    bottom: -4%;
    transform: translateY(4%);
    float: left;
    left: 72%;
}
.newt{
    position: absolute;
    width: 24%;
    top: 60%;
    transform: translateY(-60%);
    float: left;
    left: 72%;
}
.coverpagetext{
    position: absolute;
    color: white;
    top: 11%;
    width: 100%;
    height: 20%;
}
.topic{
    position: absolute;
    width: 100%;
    height: 16%;
    background-color: #134F5C;
    color: white;
}
.topic1{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #134F5C;
    color: white;
}
.frogim{
    position: absolute;
    width: 25%;
    float: left;
    left: 0%;
    top: 16%;
    background-color: #4EBD75;
    height: 42%;
}
.turtleim{
    position: absolute;
    width: 26%;
    float: left;
    left: 25%;
    top: 16%;
    background-color: #9FEDE2;
    height: 42%;
}
.dogim{
    position: absolute;
    width: 25%;
    float: right;
    right: 25%;
    top: 16%;
    background-color: #FFC756;
    height: 42%;
}
.grasshopperim{
    position: absolute;
    width: 25%;
    float: right;
    right: 0%;
    top: 16%;
    background-color: #FFBCA3;
    height: 42%;
}
.butterflyim{
    position: absolute;
    width: 25%;
    float: left;
    left: 0%;
    bottom: 0%;
    background-color: #37784E;
    height: 42%;
}
.fishim{
    position: absolute;
    width: 26%;
    float: left;
    left: 25%;
    bottom: 0%;
    background-color: #05AAAA;
    height: 42%;
}
.insectim{
    position: absolute;
    width: 25%;
    float: right;
    right: 25%;
    bottom: 0%;
    background-color: #FAA826;
    height: 42%;
}
.henim{
    position: absolute;
    width: 25%;
    bottom: 0%;
    float: right;
    right: 0%;
    background-color: #F44C80;
    height: 42%;
}
.animal >img:hover{
    transform:scale(1.05);
    cursor:pointer;
}
.correctImg{
    position: absolute;
    width: 20%;
    bottom: 1%;
    float: right;
    right: 6%;
}
.relativeimg{
    width: 100%;
    height: 40%;
    top: 40%;
    transform: translateY(-40%);
}
.fishdiv{
    animation: moveFish 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    transition: 0.3s;
}
@keyframes moveFish {
    100%{
        width: 20%;
        float: left;
        left: 0%;
        height: 84%;
        bottom:0%;
    }
}
.frogdiv{
    animation: moveFrog 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    transition: 0.3s;
}
@keyframes moveFrog {
    100%{
        width: 20%;
        float: left;
        left: 20%;
        height: 84%;
        bottom: 0%;
    }
}
.turtlediv{
    animation: moveTurtle 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    transition: 0.3s;
}
@keyframes moveTurtle {
    100%{
        width: 20%;
        float: left;
        left: 40%;
        height: 84%;
        bottom: 0%;
    }
}

.dogdiv{
    animation: moveDog 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    transition: 0.3s;
}
@keyframes moveDog {
    100%{
        width: 20%;
        float: left;
        left: 60%;
        height: 84%;
        bottom: 0%;
    }
}
.hendiv{
    animation: moveHen 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    transition: 0.3s;
}
@keyframes moveHen {
    100%{
        width: 20%;
        float: left;
        left: 80%;
        height: 84%;
        bottom: 0%;
    }
}

.div1{
    position:absolute;
    width: 20%;
    float: left;
    left: 0%;
    height: 100%;
    bottom:0%;
    background-color: #FFC756;
}
.div2{
    position:absolute;
    width: 20%;
    float: left;
    left: 20%;
    height: 100%;
    bottom: 0%;
    background-color: #4EBD75;
}
.div3{
    position:absolute;
    width: 20%;
    float: left;
    left: 40%;
    height: 100%;
    bottom: 0%;
    background-color: #9FEDE2;
}
.div4{
    position:absolute;
    width: 20%;
    float: left;
    left: 60%;
    height: 100%;
    bottom: 0%;
    background-color: #F44C80;
}
.div5{
    position:absolute;
    width: 20%;
    float: left;
    left: 80%;
    height: 100%;
    bottom: 0%;
    background-color: #FFC756;
}
.relativeimg1 {
    width: 100% !important;
    height: auto !important;
    top: 41%;
}
.textcolor{
    color: #FFD342;
}
.piscesdiv{
    position: absolute;
    width: 20%;
    bottom: 0%;
    height: 20%;
    float: left;
    left:0%;
    background-color: #F8C87C;
}
.amphibiandiv{
    position: absolute;
    width: 20%;
    bottom: 0%;
    height: 20%;
    float: left;
    left:20%;
    background-color: #C3F0EA;

}
.reptilesdiv{
    position: absolute;
    width: 20%;
    bottom: 0%;
    height: 20%;
    float: left;
    left:40%;
    background-color: #69C9C9;

}
.avesdiv{
    position: absolute;
    width: 20%;
    bottom: 0%;
    height: 20%;
    float: left;
    left:60%;
    background-color: #F492B1;

}
.mammalsdiv{
    position: absolute;
    width: 20%;
    bottom: 0%;
    height: 20%;
    float: left;
    left:80%;
    background-color: #FADA98;

}
.gdiv:hover{
  cursor: pointer;
}
.gdiv img:hover{
   transform: scale(1.1);
}
.colortext{
  color:  #f44c80;
}
