.pondbg{
    position: absolute;
    width:100%;
}
.pondbg1{
    position: absolute;
    width:100%;
    opacity: 0.5;
}
.coverpagetext{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 25%;
}
.crocodile{
    position: absolute;
    width: 38%;
    top: 59%;
    left: 8%;
}
.snake{
    position: absolute;
    width: 16%;
    top: 73%;
    left: 37%;
}
.turtle{
    position: absolute;
    width: 25%;
    left: 62%;
    top: 67%;
}
.crocodilebox{
    position: absolute;
    width: 24%;
    top: 36%;
    left: 2%;
}
.snakebox {
    position: absolute;
    width: 24%;
    top: 60%;
    left: 42%;
}
.turtlebox{
    position: absolute;
    width: 24%;
    top: 60%;
    left: 74%;
}
.hand{
    position: absolute;
    width: 5%;
}
.hand1{
    top: 65%;
    left: 25%;
}
.hand2{
    top: 85%;
    left: 47%;
}
.hand3{
    top: 85%;
    left: 71%;
}
.imgtext{
    position: absolute;
    width: 100%;
    bottom: 23%;
}
.imgdiv{
    cursor: pointer;
}
.maintopic{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #87CF91;
    opacity: 0.8;
}
.crockdiv{
    position: absolute;
    width: 80%;
    top: 70%;
    transform: translateY(-70%);
    left: 13%;
}
.arrow1{
    position: absolute;
    width: 14%;
    top: 26%;
    left: 10%;
    transform: rotate(90deg);
    opacity: 0;
}
.arrow2{
    position: absolute;
    width: 14%;
    top: 31%;
    left: 78%;
    transform: rotate(115deg);
    opacity:0;
}
.arrow3{
    position: absolute;
    width: 14%;
    top: 65%;
    left: 18%;
    opacity:0;

}
.arrow4{
    position: absolute;
    width: 14%;
    left: 45%;
    top: 54%;
    transform: rotate(263deg);
    opacity:0;

}
.div1{
    position: absolute;
    width: 42%;
    top: 80%;
    color: #1155CC;
    left: 7%;
    height: 10%;
    background-color: white;
    opacity: 0;
}
.div2{
    position: absolute;
    width: 42%;
    top: 80%;
    color: #1155CC;
    left: 54%;
    height: 10%;
    background-color: white;
    opacity: 0;
}
.crockcycle1{
    position: absolute;
    width: 18%;
    top: 26%;
    left: 44%;
    opacity: 0;
}
.crockcycle2{
    position: absolute;
    width: 18%;
    top: 48%;
    left: 66%;
    opacity: 0;
}
.crockcycle3{
    position: absolute;
    width: 18%;
    top: 74%;
    left: 44%;
    opacity: 0;
}
.crockcycle4{
    position: absolute;
    width:18%;
    top: 48%;
    left:25%;
    opacity: 0;
}
.maintopic1{
    height:25%;
}
.yellarw1{
    position: absolute;
    width: 10%;
    left: 63%;
    top: 34%;
    opacity: 0;
}
.yellarw2{
    position: absolute;
    width: 10%;
    top: 72%;
    left: 64%;
    transform: rotate(84deg);
    opacity: 0;
}
.yellarw3{
    position: absolute;
    width: 10%;
    top: 73%;
    left: 31%;
    transform: rotate(180deg);
    opacity: 0;
}
.yellarw4{
    position: absolute;
    width: 10%;
    top: 32%;
    left: 31%;
    transform: rotate(288deg);
    opacity: 0;
}
.crocodilediv{
    position: absolute;
    width: 42%;
    top:85% ;
    transform: translateY(-85%);
    left: 7%;
    opacity: 0;
}
.wallLizarddiv{
    position: absolute;
    width: 42%;
    top: 85%;
    transform: translateY(-85%);
    left: 54%;
    opacity: 0;
}

.namebox{
    position: absolute;
    width: 20%;
    border: 2px solid #666666;
    border-radius: 16px;
    height: 13%;
    color: white;
    background-color: #4EBD75;
    opacity:0;

}
.d1{
    bottom: 62%;
    left: 5%;
}
.d2{
    bottom: 62%;
    left: 73%;
}
.d3{
    bottom: 4%;
    left: 3%;
}
.d4{
    bottom: 12%;
    left: 52%;
}
