.pondbg {

    position: absolute;
    width: 100%;
    height: 100%;

}
.pondbg1{
    position: absolute;
    width:100%;
    opacity: 0.5;
}
.coverpagetext{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 17%;
}
.title{
  font-size: 5.5vw;
}
.monkey {
    position: absolute;
    width: 18%;
    top: 54%;
}
.bear {
    position: absolute;
    width: 22%;
    top: 43%;
    left: 30%;
}
.deer{
    position: absolute;
    width: 30%;
    top: 39%;
    left: 60%;
}
.monkeybox{
    position: absolute;
    width: 24%;
    top: 30%;
    left: 2%;
}
.bearbox {
    position: absolute;
    width: 24%;
    top: 29%;
    left: 42%;
}
.deerbox{
    position: absolute;
    width: 24%;
    top: 33%;
    left: 74%;
}
.hand{
    position: absolute;
    width: 5%;
}
.hand1{
    top: 67%;
    left: 8%;
}
.hand2{
    top: 67%;
    left: 44%;
}
.hand3{
    top: 55%;
    left: 73%;
}
.imgtext{
    position: absolute;
    width: 100%;
    bottom: 23%;
}
.imgdiv{
    cursor: pointer;
}
.maintopic{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #87CF91;
    opacity: 0.8;
    top:0;
}
.dogdiv {

    position: absolute;
    width: 40%;
    top: 42%;
    transform: translate(-50%,-70%);
    left: 30%;

}
.arrow1{
    position: absolute;
    width: 20%;
    top: 23%;
    left: 18%;
    transform: rotate(-17deg);
    opacity: 0;
}
.arrow2{
    position: absolute;
    width: 20%;
    top: 34%;
    left: 53%;
    transform: rotate(115deg);
    opacity:0;
}
.arrow3{
    position: absolute;
    width: 17%;
    top: 38%;
    left: 72%;
    opacity: 0;
    transform: rotate(126deg);

}
.arrow4{
    position: absolute;
    width: 22%;
    left: 66%;
    top: 76%;
    transform: rotate(185deg);
    opacity:0;

}
.arrow5{
    position: absolute;
    width: 24%;
    left: 58%;
    top: 78%;
    transform: rotate(162deg);
    opacity:0;

}
.arrow6{
    position: absolute;
    width: 24%;
    left: 16%;
    top: 50%;
    transform: rotate(-51deg);
    opacity:0;

}
.div1{
    position: absolute;
    width: 42%;
    top: 80%;
    color: #1155CC;
    left: 7%;
    height: 10%;
    background-color: white;
    opacity: 0;
}
.div2{
    position: absolute;
    width: 42%;
    top: 80%;
    color: #1155CC;
    left: 54%;
    height: 10%;
    background-color: white;
    opacity: 0;
}
.maintopic1{
    height:25%;
}
.crocodilediv{
    position: absolute;
    width: 42%;
    top:85% ;
    transform: translateY(-85%);
    left: 7%;
    opacity: 0;
}
.wallLizarddiv{
    position: absolute;
    width: 42%;
    top: 85%;
    transform: translateY(-85%);
    left: 54%;
    opacity: 0;
}

.namebox{
    position: absolute;
    width: 20%;
    border: 2px solid #666666;
    border-radius: 16px;
    height: 13%;
    color: white;
    background-color: #F44C80;
    opacity: 0;

}
.d1{
    bottom: 62%;
    left: 5%;
}
.d2{
    bottom: 62%;
    left: 56%;
}
.d3{
    bottom: 53%;
    left: 79%;
}
.d4{
    bottom: 3%;
    left: 77%;
}
.d5{
    top: 68%;
    left: 2%;
}
.dolphindiv{
    position: absolute;
    width: 30%;
    top: 40%;
    left: 36%;
}
.fd1{
    bottom: 62%;
    left: 15%;
    opacity: 0;
}
.farrow1{
    position: absolute;
    width: 20%;
    top: 25%;
    left: 27%;
    opacity:0;
}
.cd1{
    bottom: 58%;
    left: 9%;
}
.cd2{
    left: 68%;
    bottom: 21%;
}
.carrow1{
    position: absolute;
    top: 28%;
    width: 21%;
    left: 19%;
    transform: rotate(-6deg);
    opacity:0;
}
.carrow2{
    position: absolute;
    top: 60%;
    width: 21%;
    left: 51%;
    transform: rotate(164deg);
    opacity:0;
}
.cowdiv{
    position: absolute;
    width: 45%;
    top: 35%;
    float: left;
    left: 5%;
}
.batdiv{
    position: absolute;
    width: 40%;
    top: 39%;
    float: left;
    right: 5%;
}
.colortext{
  color:#f44c80;
}
.threebg{
  top:71%;


}
.dogdiv1 {
    position: absolute;
    width: 40%;
    top: 69%;
    transform: translate(-50%,-70%);
    left: 55%;
}
.main_center_text {
    position: absolute;
    font-size: 2vw;
    width: 100%;
    left: 0;
    top: 21%;
    color: white;
}
.fishes {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 80%;
}
.humanimg{
    position: absolute;
    width: 35%;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.bg1{
    background-color: #4d84b7;
    background-size: 100% 100%;
}