
.green_bg{
  background: rgb(175,211,122);
}

.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.bg1 {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 50%;
    border-radius: 10vmin;
    transform: translateY(-50%);
    z-index: 99;
}
.sun {
    position: absolute;
    width: 20%;
    left: 41.5%;
    top: 22%;
    z-index: 999;
}
.toptext {
    position: absolute;
    font-weight: bold;
    width: 80%;
    left: 10%;
    font-size: 2vw;
    background: white;
    height: 80%;
    top: 10%;
    padding: 2%;
    border-radius: 10vmin;
    box-shadow: .05em .05em .15em rgba(0,0,0,.2);
    color: green;
}
.bottomtext {
    position: absolute;
    font-weight: bold;
    font-size: 2vw;
    transform: translateX(-50%);
    left: 50%;
    top: 82%;
}
.snowy {
    background-image: url("../images/snowy.gif");
    background-repeat: repeat;
    z-index: 98;
    position: absolute;
    top: 21%;
    width: 65%;
    left: 17.5%;
    height: 56%;
    border-radius: 10vmin;
}
.gif{
  background-image: url("../images/snowy.gif");
  background-repeat: repeat;
  z-index: 98;
  position: absolute;
  top: 57%;
  width: 35%;
  left: 10%;
  height: 30%;
}
.bg2{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 56%;
    transform: translateY(-50%);
    z-index: 99;
}
.toptext-a {
    font-size: 2.4vw;
    font-weight: bold;
    top: 6%;
    color: green;
    background: white;
    width: 90%;
    left: 5%;
    height: 90%;
    top: 5%;
    border-radius: 10vmin;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
    padding-top: 2%;
}
.sunny-bg, .cloudy, .fogy, .snowy-a,.rainy {
    position: absolute;
    width: 35%;
    top: 20%;
    left: 10%;
    z-index: 99;
}
.rainy {
    top: 57%;
    left: 55%;
}
.toptext-a,.text-5 {
    font-size: 2.4vw;
    font-weight: bold;
    top: 6%;
    color: green;
    background: white;
    width: 90%;
    left: 5%;
    height: 90%;
    top: 5%;
    border-radius: 10vmin;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
    padding-top: 2%;
    position: absolute;
}

.snowy-a {
    top: 57%;
}
.text-1, .text-2, .text-3, .text-4 {
    position: absolute;
    font-size: 2vw;
    background: rgba(43, 50, 33, 0.5);
    width: 35%;
    left: 10%;
    top: 44%;
    z-index: 100;
    color: white;
}
.cloudy,.text-2 {
    left: 55%;
}
.sunny {
    position: absolute;
    width: 12%;
    top: 23%;
    z-index: 100;
    left: 22%;
}

.text-3 {
    top: 81%;
}
.text-4 {
    top: 81%;
    left: 55%;
}
.text-5 {
    padding: 7%;
    padding-top: 12%;
}

.text-6 {
    font-size: 2.4vw;
    position: absolute;
    font-weight: bold;
    top: 58%;
    color: green;
    width: 79%;
    left: 10%;
}
.purple{
  color: purple;
  font-size: 2.6vw;
}
.factors {
    font-size: 2.4vw;
    font-family: josefinslab;
    z-index: 99;
    text-align: left;
    left: 28%;
    top: 10%;
    color: green;
}
.text-5a {
    font-weight: bold;
    font-size: 3vw;
    z-index: 99 !important;
    color: purple;
    top: 10%;
    opacity: 1;
}
.lesson-title {
    position: absolute;
    font-family: josefinslab;
    font-size: 7.5vw;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    color: white;
    text-shadow: .1em .1em .1em rgba(0, 0, 0,.1);
    font-weight: bold;
}
.clickmetext {
    background: #139253;
    color: white;
    padding: .5%;
    top: 80%;
    z-index: 100;
    border-radius: .2em;
    cursor: pointer;
    position: absolute;
    left: 30%;
    font-size: 2vw;
    width: 40%;
}
.clickmetext:hover {
  transform: scale(1.1);
  transition: .2s;
}
.fadeout{
  -webkit-animation:fadeout_kf 1s ease-in forwards;
  animation:fadeout_kf 1s ease-in forwards;
}
@keyframes fadeout_kf {
  to{
    opacity: 0;
  }
}
@-webkit-keyframes fadeout_kf {
  to{
    opacity: 0;
  }
}
@media (min-aspect-ratio:4/3){
	.bottomtext,.clickmetext{
    font-size: 4.5vmin;
  }
  .toptext{
    font-size: 3.5vmin;
  }
  .toptext-a,.text-5,.text-6{
    font-size: 5vmin;
  }
  .purple,.factors{
    font-size: 5.5vmin;
  }
  .text-5a{
    font-size: 6vmin;
  }
}
