.green_bg{
	background: rgb(175,211,122);
}
.page2_text1 {
    position: absolute;
    background: white;
    height: 90%;
    top: 5%;
    left: 5%;
    width: 90%;
    border-radius: 5vmin;
    font-size: 3vw;
    color: green;
    padding-top: 2%;
}
.page2_text2 {
    width: 80%;
    font-size: 2vw;
    left: 10%;
    top: 19%;
    position: absolute;
}
.desc_image {
    position: absolute;
    z-index: 99;
    height: 45%;
    top: 45%;
    transform: translateX(-50%);
    left: 50%;
		border-radius: .5em;
}

.desc_image1, .desc_image2, .desc_image3,.desc_image2a,.desc_image1b, .desc_image2b, .desc_image3b {
    position: absolute;
    z-index: 98;
    height: 30%;
    top: 42%;
		border-radius: .5em;
}
.desc_image1 {
    left: 10%;
}
.desc_image2 {
    left: 48%;
}
.desc_image3 {
    left: 70%;
}
.desc_image1b {
    left: 15%;
}
.desc_image2b {
    left: 43%;
}
.desc_image3b {
    left: 75%;
}
.page2_text3, .page2_text4, .page2_text5,.page2_text3a,.page2_text4a {
    font-size: 2vw;
    top: 78%;
    position: absolute;
}
.page2_text3 {
    left: 18%;
}
.page2_text4 {
    left: 46%;
}
.desc_image2a {
    left: 40%;
}
.page2_text5 {
    left: 79%;
}
.desc_image4,.desc_image5{
	position: absolute;
	z-index: 98;
	height: 30%;
	border-radius: .5em;
	top: 47%;
}
.desc_image4 {
    left: 29%;
}
.desc_image5 {
    left: 53%;
}
.page2_text3a {
    left: 33%;
}
.page2_text4a {
    left: 58%;
}
@media (min-aspect-ratio:4/3){
	.page2_text1{
		font-size: 6vmin;
	}
	.page2_text2,.page2_text3, .page2_text4, .page2_text5{
		font-size: 3.8vmin;
	}
}
