.background{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.bg{
	background: #d9edff;
}
.hidn{
	display: none;
}
.white-bg{
	background-color: #fff;
}
.sp-1{
	width: 36%;
	height: 26%;
	top: 35%;
	left: 34%;
	transform: translate(-59%,-57%);
	padding: 2% 2% 2% 5%;
	font-family: sniglet;
}
.textInSp{
	width: 84%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.sp-2, .sp-3, .sp-2_bgBx{
	width: 30%;
	height: 14%;
	top: 2%;
	right: 8%;
	padding: 1% 3% 1% 1%;
	font-family: sniglet;
}

.sp-2_bgBx{
	width: 30%;
	height: 16%;
}
.sp-3{
	padding: 1% 1% 1% 3%;
	right: 59%;
}
.sp2Btm{
	top: 17%;
}
.textInSp_2{
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: sniglet;
}
.flipped{
	transform: rotateX(180deg);
}
.midTxt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.masterDivContainerPrev{
	position: absolute;
	top: 10%;
	height: 80%;
	width: 50%;
	left: 50%;
}
.masterDivContainer{
	position: absolute;
	top: 4%;
	height: 73%;
	width: 50%;
	left: 50%;
	transform: translate(-50%);
}
.mdwithtpSp{
	top: 12%;
	left: 35%;
}
.mdwithtpSpInLeft{
	top: 12%;
	left: 66%;
}
.divsContainer{
	position: absolute;
	top: 0%;
	height: 33%;
	width: 100%;
	left: 0%;
}
.midcontainer{
	top: 33%;
}
.btmcontainer{
	top: 70%;
	height: 30%;
}
.subDiv{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 33%;
	/*background: #fff;*/
	/*border: 2px solid;*/
}
.secSubDiv{
	left: 33%;
	width: 33%;
}
.thirdSubDiv{
	left: 66%;
	width: 34%;
}

.tenBlkContainer{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.tnBlk{
	position: relative;
	width: 8%;
	height: 65%;
}
.tntyBlk{
	width: 90%;
	height: 100%;
	position: absolute;
	right: 0%;
}
.pnkBlk{
	position: relative;
	width: 26%;
	height: 25%;
}
.tblcls{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
td{
	width: 50%;
}
.topName{
	height: 30%;
}
.tcname{
	text-align: center;
	color: #fff;
}
.tns, .ons{
	font-size: 4vh;
}
.tendata{
	background-color: #30bced;
}
.onedata{
	background-color: #9a48d0;
}
.fvNum, .fourNum{
	/*background-color: #fff0df;*/
	color: #000;
	font-family: breeserif;
	font-size: 9vh;
}

.brdrLft{
	border: 2px solid  #30bced;
	border-bottom: transparent;
}
.brdrright{
	border: 2px solid  #9a48d0;
	border-bottom: transparent;
}
.brdrrightSec{
	border: 2px solid  #9a48d0;
	border-bottom: transparent;
}

.brdrLft_Sec{
	border: 2px solid  #30bced;
	border-top: transparent;
}
.brdrright_Sec{
	border: 2px solid  #9a48d0;
	border-top: transparent;
}

.brdrLft_third{
	border: 2px solid  #30bced;
}
.brdrright_third{
	border: 2px solid  #9a48d0;
}
.tpBlkBrdr{
	border-top: 4px solid #000;
}
.top9{
	top: 9%;
}
.h60{
	height: 60%;
}

.pulseHghlght{
	color: #ff9900;
	animation: pulse 3s linear infinite;
}




[class*=flexDiv]{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}
.tnblkContDiv{
	position: relative;
	width: 16%;
	height: 100%;
	/*background: #f00;*/
}
.tnblkContDiv_pink{
	position: relative;
	width: 32%;
	height: 33%;
	/*background: #f00;*/
}
.tnBlkInCont{
	position: absolute;
	width: 53%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.tnBlkInCont_pink, .blkMinINDiv{
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.crossLine, .crossLineHdn{
	position: absolute;
	height: 94%;
	width: 9%;
	background: #000;
	bottom: 4%;
	transform: rotate(9deg);
	left: 39%;
	z-index: 11;
}
.crossLineHdn{
	display: none;
}
.im1,.im2,.im3,.im4,.im5,.im6,.imTn1,.imTn2,.imTn3{
	z-index: 10;
}
.minBlckDiv{
	position: relative;
	width: 33%;
	height: 100%;
}
.blk10{
	width: 40%;
}
.lstPg{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.qnPtag{
	position: absolute;
	top: 50%;
	width: 152%;
	background: #30bced;
	color: #fff;
	font-size: 4vh;
	border-radius: .3em;
	border: 3px solid #cccccc;
	font-family: breeserif;
}
.qnPtag:hover, .hint, .submit{
	cursor: pointer;
}
.leftQn{
	right: 24%;
	transform: translate(16%,-50%);
}
.rightQn{
	left: 78%;
	transform: translate(-50%,-50%);
	background: #9a48d0;
}
.ispforimage{
	position: absolute;
	width: 24%;
	right: 50%;
	display: none;
	bottom: 0%;
}
.submit{
	position: absolute;
	top: 66%;
	right: 2%;
	padding: 1%;
	font-size: 4vh;
	background: #1155cc;
	border: 3px solid #1155cc;
	border-radius: .5em;
	width: 20%;
	font-family: boogaloo;
	color: #fff;
}
.SubtoLeft{
	right: 75%;
}
.hint{
	position: absolute;
	top: 82%;
	right: 2%;
	padding: 1%;
	font-size: 4vh;
	background: #e7b1fa;
	border: 3px solid #df73fa;
	border-radius: .5em;
	width: 15%;
}
.iput{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	background: #cccccc;
}
.sh_2{
	right: 80%;
}

.minus{
	position: absolute;
	right: 100%;
	width: 20%;
}
.mns{
	transform: rotate(90deg);
}
.rndArw{
	position: absolute;
	width: 5%;
	top: 2%;
	left: 32%;
}
.rotnty{
	animation: rot90 2s linear forwards;
}
@keyframes rot90 {
	100%{transform: rotate(-90deg);}
}
.blTxt{
	color: #0000ff;
}
.crsLn{
	text-decoration: line-through;
}
.tnthBlkInOns{
	position: absolute;
	width: 15%;
	top: 34%;
	transform: rotate(90deg);
}

.corectClass{
	border: 3px solid #0f0;
}
.incorectClass{
	border: 3px solid #f00;
}
.corIncor, .corIncorSec{
	position: absolute;
	width: 32%;
	left: 0%;
	top: 35%;
	transform: translateY(-50%);
	display: none;
}
.corIncorSec{
	left: 68%;
}
.replay{
	top: 84%;
}
.sundari02{
	position: absolute;
	width: 20%;
	top: 42%;
	left: 1%;
	transform: rotateY(180deg);
}
.sundari, .sndriLft{
	position: absolute;
	width: 10%;
	top: 5%;
}
.sundari{
	right: 0%;
}
.sndriLft{
	left: 0%;
}
tr{
	width: 100%;
}
td{
	width: 50%;
}
.ipHghlght{
		animation: hgh 1s linear infinite;
}
@keyframes hgh {
	50%{background: #fff;}
}
.sundriWrd{
	transform: rotateY(360deg);
}
.textInSp_3{
	top: 50%;
	transform: translateY(-50%);
}
@media screen and (min-aspect-ratio: 4/3) {
	.textInSp_2, .textInSp{
		font-size: 3.4vh;
	}
	.oneAndTen{
		font-size: 10vh;
	}
	.textInSp_3{
		font-size: 3vh;
	}
	.tns, .ons, .qnPtag{
		font-size: 4vh;
	}
	.fvNum, .fourNum{
		font-size: 9vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.speechbox > p{
		font-size: 2vw;
	}
	.oneAndTen{
		font-size: 5vw;
	}
	.textInSp_3{
		font-size: 1.6vw;
	}
	.tns, .ons, .qnPtag{
		font-size: 2vw;
	}
	.fvNum, .fourNum{
		font-size: 4vw;
	}
}
