/*class to add for next page blink*/
.nextPageBlink
{
	animation-duration: 1s;
  animation-name: nextPage;
  animation-iteration-count: infinite;
}

@keyframes nextPage {
  0% {
    opacity: 0;
    color:yellow;
  }

  25% {
   opacity: 0.3;
   color:green;
  }

  50% {
   opacity: 0.7;
   color:blue;
  }

   75% {
   opacity: 1;
   color:brown;
  }

   100% {
   opacity: 0.5;
   color:black;
  }
}




/*class to be added for the blinkEffect*/
.blinkEffect
{
  animation-duration: 1.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

/*show the element with boom effect*/
.boomEffect{
  animation-duration: 3s;
  animation-name: boom;
  animation-iteration-count: 1;

  -webkit-animation-duration: 3s;
  -webkit-animation-name: boom;
  -webkit-animation-iteration-count: 1;
}

@keyframes boom {
  0% {
    color:black;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

100%{   
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  top:-100%;
  opacity: 0;
}
}

@-webkit-keyframes boom {
    0% {
    color:black;
  }

100%{   
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  top:-100%;
  opacity: 0;
}
}


/*fade in from the blurred text effect*/
.blurryText
{
  animation-duration: 3s;
  animation-name: blurTxt;
  animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  animation-timing-function: easeOut;
  animation-iteration-count: 1;

  -webkit-animation-duration: 3s;
  -webkit-animation-name: blurTxt;
  -webkit-animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  -webkit-animation-timing-function: easeOut;
  -webkit-animation-iteration-count: 1;
}

@keyframes blurTxt{
  0% {
      color: transparent;
      text-shadow: 0 0 5px rgba(0,0,0,0.3); 
  }

  100% {
        color: "";
        text-shadow: ""; 
        opacity: 1;
     }
}

@-webkit-keyframes blurTxt{
  0% {
      color: transparent;
      text-shadow: 0 0 5px rgba(0,0,0,0.3); 
  }

  100% {
        color: "";
        text-shadow: ""; 
        opacity: 1;
     }
}

/*highlightEffect pink*/
.highlightPink
{
  animation-duration: 0.5s;
  animation-name: markPink;
  
  animation-timing-function: easeOut;
  animation-iteration-count: 3;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: markPink;
  
  -webkit-animation-timing-function: easeOut;
  -webkit-animation-iteration-count: 3;
}

@keyframes markPink{
  0% {
      background-color: "";
  }

  100% {
        background-color: rgba(236, 0, 143,0.2);
     }
}

@-webkit-keyframes markPink{
   0% {
      background-color: "";
  }

  100% {
        background-color: rgba(236, 0, 143,0.2);
     }
}


/*cha cha effect*/
.chaChaEffect
{ /*animation-delay:1s; */
  animation-duration: 0.3s;
  animation-name: chaCha;
  animation-direction:alternate;
  animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  animation-timing-function: easeOut;
  animation-iteration-count: infinite;

  /*-webkit-animation-delay:1s;*/
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: chaCha;
  -webkit-animation-direction:alternate;
  -webkit-animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  -webkit-animation-timing-function: easeOut;
  -webkit-animation-iteration-count: infinite;
}

@keyframes chaCha{
  0% {
      opacity: 1;
      -ms-transform:translateX(-10px); 
      -webkit-transform:translateX(-10px); 
        transform:translateX(-10px); 
  }

  100% {
        opacity: 1;
      -ms-transform:translateX(10px); 
      -webkit-transform:translateX(10px); 
        transform:translateX(10px); 
     }
}

@-webkit-keyframes chaCha{
  0% {
      opacity: 1;
      -ms-transform:translateX(-10px); 
      -webkit-transform:translateX(-10px); 
        transform:translateX(-10px); 
  }

  100% {
        opacity: 1;
      -ms-transform:translateX(10px); 
      -webkit-transform:translateX(10px); 
        transform:translateX(10px); 
     }
}

/*rotate the fan fast*/
.rotateReplay
{
  animation-duration: 7s;
  animation-name: Rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 7s;
  -webkit-animation-name: Rotate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes Rotate{
  0% {
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }

  100% {
        transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
     }
}

@-webkit-keyframes Rotate{
  0%{
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }


  100%{
       transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
  }
}
