<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page9.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if headerblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
                <div class="headerblock">
                    {{#each headerblock}}
                            {{> textcontent}}
                    {{/each}}
                </div>
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
       
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if expmaterialsblock}}
            <div class="expmaterialsblock {{expmaterialsblockadditionalclass}}">
                {{#each expmaterialsblock}}
                    {{> expmaterialscontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if expprocedureblock}}
            <div class="expprocedureblock {{expprocedureblockadditionalclass}}">
                {{#each expprocedureblock}}
                    {{> expprocedurecontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if expobservationblock}}
            <div class="expobservationblock {{expobservationblockadditionalclass}}">
                {{#each expobservationblock}}
                    {{> expobservationcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if expresultblock}}
            <div class="expresultblock {{expresultblockadditionalclass}}">
                {{#each expresultblock}}
                    {{> expresultcontent}}
                {{/each}}
            </div>
            {{/if}}     
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="listcontent-partial" type="text/x-handlebars-template">
   <li class="{{listclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{listdata}}}</li>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="expmaterialscontent-partial" type="text/x-handlebars-template">
    <h3 class="expmaterialsheading">{{{expmaterialsheadingdata}}}</h3>
    <div class="materialcontainer">
        {{#each material}}
            <figure class="material{{@index}}">
                <img src="{{materialimgsrc}}">
                <figcaption>{{{materialnamedata}}}</figcaption>
            </figure>
        {{/each}}
    </div>
</script>

<script id="expprocedurecontent-partial" type="text/x-handlebars-template">
    <h3 class="expprocedureheading">{{{expprocedureheadingdata}}}</h3>
    <div class="expprocedurecontainer">
        <ol class="procedures">
           {{#each procedure}}
                <li class="{{stepvisibility}}">{{{proceduredata}}}</li>
           {{/each}}
        </ol>
        <div class="currentstepimgcontainer">
            <img src="{{firststepimgsrc}}">
        </div>
    </div>
    <div class="prevstepBtn ">{{{prev}}}</div>
    <div class="nextstepBtn ">{{{next}}}</div>
</script>

<script id="expobservationcontent-partial" type="text/x-handlebars-template">
    <h3 class="expobservationheading">{{{expobservationheadingdata}}}</h3>
    <div class="expobservationcontainer">
       <div class="svgcontainer"></div>        
       <p>{{{expobservationdata}}}</p>
    </div>
    <button type="button" id="closetap" class="btn btn-danger btn-lg">{{closetapdata}}</button>
    <button type="button" id="opentap" class="btn btn-success btn-lg">{{opentapdata}}</button>
    {{!-- load snap svg --}}
     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
</script>

<script id="expresultcontent-partial" type="text/x-handlebars-template">
    <h3 class="expresultheading">{{{expresultheadingdata}}}</h3>
    <div class="expresultcontainer">
        <img src="{{expresultimg}}">
        <p>{{{expresultdata}}}</p>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page9.js");
</script>