<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page5.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}}
    {{#if headerblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
            <div class="headerblock">
                {{#each headerblock}}
                        {{> textcontent}}
                {{/each}}
            </div>
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
       
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if uppertextblockcenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if uppertextblockcenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if imageblockcenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if imageblockcenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if formulablock}}
            <div class="formulablock {{formulablockadditionalclass}}">
                {{#each formulablock}}  
                    {{> formulacontent}}
                {{/each}}              
            </div>
            {{/if}}
            {{#if miscblock}}
            <div class="miscblock {{miscblockadditionalclass}}">
                {{#each miscblock}}  
                    {{> misccontent}}
                {{/each}}              
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if lowertextcenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if lowertextcenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}       
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="listcontent-partial" type="text/x-handlebars-template">
   <li class="{{listclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{listdata}}}</li>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="formulacontent-partial" type="text/x-handlebars-template">   
    <div class="lhscontainer">{{{lhsdata}}}<span class="equalsign">=</span></div><div class="rhscontainer"> <span class="numerator">{{{numeratordata}}}</span> <br> <span class="denominator">{{{denominatordata}}}</span></div>
</script>

<script id="misccontent-partial" type="text/x-handlebars-template">   
    <div class="pressurelab">
        <img class="oceanwater" src="{{oceanwatersrcpath}}"></img>
        <div class="pressuregauge">
            <h4 class="pressuregaugetext">{{pressuregaugedata}}</h4>            
            <div class="gaugecontainer">
                <img class="gaugecase" src="{{gaugecasesrcpath}}"></img>
                <img class="needle" src="{{needlesrcpath}}"></img>
            </div>
            <b class="hightext">{{pressuregaugehighdata}}</b>
            <b class="lowtext">{{pressuregaugelowdata}}</b>               
        </div>
        <div class="ocean">            
            <img class="fish" src="{{fishsrcpath}}"></img>
        </div>
    </div>
    <p class="fishtextcontainer">{{fishtextdata}}</p>
    {{!-- load jquery-ui library --}}
     <script src="js/jquery-ui.min.js" type="text/javascript"><{{!}}/script>   
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>