<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page6.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}}
    {{#if headerblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
            <div class="headerblock">
                {{#each headerblock}}
                        {{> textcontent}}
                {{/each}}
            </div>
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
       
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if imageblockcenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if imageblockcenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}} 
            {{#if formulablock}}
            <div class="formulablock {{formulablockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each formulablock}}  
                        {{> formulacontent}}
                    {{/each}} 
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}             
            </div>
            {{/if}}
            {{#if filltapwaterblock}}
            <div class="filltapwaterblock {{filltapwaterblockadditionalclass}}">
                {{#each filltapwaterblock}}  
                    {{> filltapwatercontent}}
                {{/each}}              
            </div>
            {{/if}}
            {{#if waterpropblock}}
            <div class="waterpropblock {{waterpropblockadditionalclass}}">
                {{#each waterpropblock}}  
                    {{> waterpropcontent}}
                {{/each}}              
            </div>
            {{/if}}
            {{#if derivationblocktype1}}
            <div class="derivationblocktype1 {{derivationblocktype1additionalclass}}">
                {{#each derivationblocktype1}}  
                    {{> derivationblocktype1content}}
                {{/each}}              
            </div>
            {{/if}}
            {{#if derivationblocktype2}}
            <div class="derivationblocktype2 {{derivationblocktype2additionalclass}}">
                {{#each derivationblocktype2}}  
                    {{> derivationblocktype2content}}
                {{/each}}              
            </div>
            {{/if}}      
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="listcontent-partial" type="text/x-handlebars-template">
   <li class="{{listclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{listdata}}}</li>
</script>

<script id="formulacontent-partial" type="text/x-handlebars-template">
   <p class="formula">
        {{#if formulaprefixdata}}
            <span class="formulaprefix">{{formulaprefixdata}}</span>
            <span class="equalsign"> = </span>
        {{/if}}
        <span class="fraction">
            <em class="numerator" data-highlight="{{numeratordatahighlightflag}}" data-highlightcustomclass="{{numeratordatahighlightcustomclass}}">{{fractionnumeratordata}}</em>
            <em class="denominator" data-highlight="{{denominatordatahighlightflag}}" data-highlightcustomclass="{{denominatordatahighlightcustomclass}}">{{fractiondenominatordata}}</em>
        </span>
        {{#if formulasuffixdata}}
            <span class="formulasuffix">{{formulasuffixdata}}</span>
        {{/if}}
   </p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="filltapwatercontent-partial" type="text/x-handlebars-template">   
    <div class="tapcontainer" data-usernotification='notifyuser' data-isclicked = ''>
        <img class="tap" src="{{tapimgsrc}}" ></img>
    </div>     
    <div class="vesselcontainer">
        <div class="tapwater" data-istapopen="tapclosed"></div>
        <div class="waterfill" data-istapopen="tapclosed"></div>
    </div>
</script>

<script id="waterpropcontent-partial" type="text/x-handlebars-template">   
    <div class="waterprops">
        {{#each waterprops}}
            <p data-relatedimg="{{relatedimage}}">{{waterpropname}}</p>
        {{/each}}
    </div>
    <div class="waterpropimagecontainer">
        {{#each waterpropimages}}
            <div class="singleimgcontainer {{imgcontainerlabel}}">
                <img src="{{imgsrc}}"></img>
                <label>{{imglabel}}</label>
            </div>
        {{/each}}
    </div>
</script>

<script id="derivationblocktype1content-partial" type="text/x-handlebars-template">   
    <div class="formula">
        {{#if formulaprefixdata}}
            <span class="formulaprefix">{{formulaprefixdata}}</span>
            <span class="equalsign"> = </span>
        {{/if}}
        <span class="fraction">
            {{#each numerator}}
                {{#if notifyuserdata}}
                    <b id="replaceinto" class="numerator" data-replace="" data-usernotification='{{notifyuserdata}}' data-isclicked="">{{fractionnumeratordata}}</b>
                {{else}}
                    <b class="numerator">{{fractionnumeratordata}}</b>
                {{/if}}
            {{/each}}
            <b class="denominator">{{fractiondenominatordata}}</b>
        </span>
        {{#if formulasuffixdata}}
            <span class="formulasuffix">{{formulasuffixdata}}</span>
        {{/if}}
   </div>
   {{#if replacethisinformuladata}}
        <p class="replacethis">{{replacethisinformuladata}}</p>
   {{/if}}
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page6.js");
</script>