#toDo {
  font-size: 1.6em;
  color: #000;
  width: 100%;
  text-align: center;
  margin: 1% auto;
  background: rgba(143, 100, 100, 0.5);
  padding: 1%;
  border-radius: 15px;
}

.confrimBtn {
  display: inline-block;
  width: 15%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(112, 181, 242)),
    color-stop(0.49, rgb(84, 164, 238)),
    color-stop(0.5, rgb(54, 144, 240)),
    color-stop(1, rgb(26, 97, 219))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(112, 181, 242) 0%,
    rgb(84, 164, 238) 49%,
    rgb(54, 144, 240) 50%,
    rgb(26, 97, 219) 100%
  );

  color: #fff;

  font-size: 1em;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  padding: 1% !important;

  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);

  border: 1px solid;
  border-color: #2f71a3 #265a82 #1e4766 #265a82;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2),
    inset 0px 1px 5px rgba(255, 255, 255, 0.2), /**/ 0px 2px 0px #1e4766,
    0px 4px 0px #1e4766, 0px 6px 0px #1e4766,
    /**/ 0px 8px 5px rgba(0, 0, 0, 0.5);

  -moz-box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2),
    inset 0px 1px 5px rgba(255, 255, 255, 0.2), /**/ 0px 2px 0px #1e4766,
    0px 4px 0px #1e4766, 0px 6px 0px #1e4766,
    /**/ 0px 8px 5px rgba(0, 0, 0, 0.5);

  -webkit-box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2),
    inset 0px 1px 5px rgba(255, 255, 255, 0.2), /**/ 0px 2px 0px #1e4766,
    0px 4px 0px #1e4766, 0px 6px 0px #1e4766,
    /**/ 0px 8px 5px rgba(0, 0, 0, 0.5);

  cursor: pointer;
}
.confrimBtn:hover {
  background-color: #8ac5fd;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(134, 193, 253)),
    color-stop(0.49, rgb(153, 213, 255)),
    color-stop(0.5, rgb(130, 194, 253)),
    color-stop(1, rgb(108, 170, 229))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgb(134, 193, 253) 0%,
    rgb(153, 213, 255) 49%,
    rgb(130, 194, 253) 50%,
    rgb(108, 170, 229) 100%
  );
}

.confrimBtn:active {
  top: 4px;
  box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #1e4766,
    0px 4px 5px rgba(0, 0, 0, 0.5);

  -moz-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #1e4766,
    0px 4px 5px rgba(0, 0, 0, 0.5);

  -webkit-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2), 0px 2px 0px #1e4766,
    0px 4px 5px rgba(0, 0, 0, 0.5);
}

.totalArea {
  width: 100%;
  margin-top: 2% !important;
  position: relative;
  margin-bottom: 2% !important;
}

.fullcircle {
  margin: auto !important;
  width: 50%;
  position: relative;
  text-align: center;
}
.fullcircle div {
  margin: 20% 1% !important;
  font-size: 2em;
}
.myimgarc {
  width: 80%;
}

.img_placeholder {
  width: 37%;
  position: absolute !important;
  height: 36%;
  top: 30%;
  left: 31%;
  z-index: 100;
}

.myfirstText {
  text-align: center;

  position: relative;

  font-size: 1.2em;
  color: #000;
  margin: 3% auto !important;
}

.inputHolder input {
  width: 15%;
}

#Imgshow {
  position: absolute;
  bottom: 12%;
  right: 0%;
  width: 9%;
  display: none;
}

.inputHolder {
  margin-bottom: 2% !important;
}

#myfirstInput {
  margin-right: 15% !important;
}

.allAns {
    width: 100%;
    border-radius: 10px;
    background: #ddefb3;
    border: 1px solid #c9c9c9;
    padding: 0.5% !important;
    font-size: .9em;
    line-height: 1.28;
}

.rnum {
  margin-bottom: 0.1% !important;

  width: 100%;
  display: inline-block;
  margin-right: 2% !important;
}

.rnum span {
  color: blue;
}

.rnum .halfcircle {
  display: inline-block;
  width: 8%;

  margin: auto 3% !important;
}
.halfcircle img {
  width: 100%;
}

.result {
  position: absolute !important;
  top: 7%;
  right: 5%;
  font-size: 1.2em;
  padding: 1% !important;
  color: green;
  box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
}

.hint {
  display: none;
  color: green;
  font-size: 1.4em;
  font-weight: bold;
}
