<!--
Title : General Template
-->
<script type="text/javascript">
	$cssLoader("css/common.css");
	$cssLoader("css/page5.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				{{#each imagedivblock}}
					<div class="{{imagedivclass}}">
						{{#each imagestoshow}}
							<img class="{{imgclass}}" src="{{imgsrc}}">
						{{/each}}
						{{#if imagelabels}}
							{{#each imagelabels}}
								<p class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</p>
							{{/each}}
						{{/if}}
						{{#if svgblock}}
							<div id="{{svgblock}}"></div>
						{{/if}}
					</div>
				{{/each}}
				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				{{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}}
							{{> definitioncontent}}
						{{/each}}
					</div>
				{{/if}}

				{{#if learn_more}}
					<p class="learn_more learn_more_animate"></p>
				{{/if}}

				{{#each speechbox}}
					<div class="speechbox {{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						{{#if audioicon}}
							<img class="audioicon {{audioclass}}" src="images/speaker.png">
						{{/if}}
					</div>
				{{/each}}

							{{#if table}}
							 {{#each table}}
									<table  class="tablecls">
											<tr>
													{{#each firstrowdata}}
													<td class="tdbox1"><p class="{{textclass}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{textdata}}</p></td>
													{{/each}}
											</tr>
											<tr>
													{{#each secondrowdata}}
													<td class="tdbox2 tdbo"><p class="{{textclass}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{textdata}}</p></td>
													{{/each}}
											</tr>
											<tr>
													{{#each thirdrowdata}}
													<td class="tdbox3"><p class="{{textclass}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{textdata}}</p></td>
													{{/each}}
											</tr>
											<tr>
													{{#each fourrowdata}}
													<td class="tdbox4">
														{{#if inputdata}}
															<input class="{{inputclass}}" value="{{{inputdata1}}}" type="number" maxlength="2" ></input>
															<img src="images/correct.png" class="imagestartpos tick {{startposextra}} corctopt">

															<img src="images/wrong.png" class="imagestartpos tick {{startposextra}} wrngopt">
															{{else}}
															<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
														{{/if}}
														</td>
													{{/each}}
											</tr>
											<tr>
													{{#each fifthrowdata}}
													<td class="tdbox5"><p class="{{textclass}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{textdata}}</p></td>

													{{/each}}
											</tr>
									</table>
							 {{/each}}
							 {{/if}}

							 {{#if tab}}
								{{#each tab}}
									 <table  class="tableclas">
											 <tr>
													 {{#each firstrowdata}}
													 <td class="tdbox"><p class="{{textclass}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p></td>
													 {{/each}}
											 </tr>
											 <tr>
													 {{#each secondrowdata}}
													 <td class="tdbox"><p class="{{textclass}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p></td>
													 {{/each}}
											 </tr>
										 </table>
								  {{/each}}
								  {{/if}}

				{{#if optionblock}}
					<div class="{{optioncontainer}}">

						{{#each optionblock}}
							<div class="{{optionclass}}">
								<div class="{{textdivclass}}">
									<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
								</div>
								<img class='cor-incor correct-icon' src=''>
								<img class='cor-incor incorrect-icon' src=''>
							</div>

						{{/each}}
					</div>
				{{/if}}
				{{#if option}}
					<div class="{{optionblockblockadditionalclass}}">
						{{#each option}}
							<div class="{{optionclass}}">
								<p class="optiontext {{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							</div>
						{{/each}}
					</div>
				{{/if}}
				{{#each svgblock}}
					<div id="{{svgblock}}"></div>
				{{/each}}
			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script src="js/snap.svg/ver_0_5_1/snap.svg-min.js" type="text/javascript"></script>
<script type="text/javascript">
	$jsLoader("js/eQuationModified_2.js");
	$jsLoader("js/page5.js");
</script>
