@font-face {
    font-family: ChelseaMarket-Regular;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}
.underline{
	text-decoration: underline;
	animation:fadeIn 1s ease-in;
}
.thebg1{
background-color:#FBCA9A;
}
.thebg2{
background-color:#D0E0E3;
}

.p2img{
position: absolute;
top: 52%;
left: 67%;
height: 34%;
}
.speaker{
position: absolute;
top: 77%;
left: 56.2%;
width: 2.7%;
animation: fadeIn 2s ease-in;
}
.speaker:hover{
	filter: drop-shadow(0px 0px 5px black);
cursor:pointer;
}

/*
TO DO
if same class is used in multiple pages you can write it in common.css
covertext, covertext1, box1 etc in this case
*/
.covertext {
font-size: 5vw;
padding: 1vw 2vw;
z-index: 5;
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 100%;
color: black;
font-family: ChelseaMarket;
margin-bottom: 50px;
background-color: #FBCA9A;
border-bottom: 14px solid #45818E;
 }

 .box1{

position: absolute;
top: 35%;
left: 10%;
background: #7EC7FF;
border: 2px solid #6FA8DC;
border-radius: 1.3em;
padding: 4%;
width: 60%;
font-size: 5.5vmin;
font-family: pangolin;
text-align: left;
 }
 .covertext1 {
font-size: 5vw;
padding: 1vw 2vw;
z-index: 5;
position: absolute;
left: 50%;
transform: translateX(-50%);
background-color: #6664C9;
width: 100%;
color: #ffffff;
font-family: ChelseaMarket;
margin-bottom: 50px;
}

.s1b1{
position: absolute;
top: 35%;
left: 10%;
border: 2px solid #6FA8DC;
border-radius: 1.3em;
width: 60%;
height: 44%;

}
.p2treeimg{
position: absolute;
top: 21%;
left: 34%;
height: 50%;
animation:fadeIn 1s ease-in;
}

.p2frogimg{
position: absolute;
top: 21%;
left: 34%;
height: 50%;
animation:fadeIn 1s ease-in;
}
.p2princeimg{
position: absolute;
top: 26%;
left: 35%;
height: 50%;
animation: fadeIn 1s ease-in;
}

.p2swimimg{
position: absolute;
top: 27%;
left: 35%;
height: 48%;
animation: fadeIn 1s ease-in;
}
.s1box{
position: absolute;
top: 77%;
left: 42%;
border: 3px solid #FFAB40;
border-radius: 0.2em;
width: 17%;
font-size: 4.5vmin;
background-color: #86DFD8;
animation: fadeIn 2s ease-in;
}
.speaker{
	position:absolute;
	width:2.7%;
}
.speaker:hover{
	cursor:pointer;
	filter: drop-shadow(0px 0px 5px black);
}
.topspkr{
	top: 19%;
	right: 10%;
	z-index: 30;
}
.spkr1{
	top: 58%;
	right: 9%;
	z-index: 30;
	opacity:0;
}
.spkr2{
	top: 55%;
	left: 25%;
	z-index: 30;
	opacity:0;
}
.spkr3{
	top: 56%;
	left: 61%;
	z-index: 30;
	opacity:0;
}
