@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.lesson_body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.lesson_body, .lesson_body * {
	position: relative;
	margin: 0;
	padding: 0;
}

.lesson_body .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.lesson_body .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */


@font-face {
	font-family: 'Laila'; /*a name to be used later*/
	src: src: url('../../../../../fonts/laila/laila-regular.ttf');; /*URL to font*/
	Laila-Semibold
}
@font-face {
	font-family: 'Laila-Bold'; /*a name to be used later*/
	src: src: url('../../../../../fonts/laila/laila-semibold.ttf') /*URL to font*/
}
/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
}

/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 2s;
	-webkit-animation: appear 2s;
}
@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */

/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.its_hidden{
	display: none;
}
.block_cover{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}
.lesson-title {
	position: absolute;
	color: #FF6A65;
	font-size: 5em;
}
.main_bg{
	background-image: url('../images/bg.jpg');
	background-size: 100% 100%;
}

.highlight_bill{
	color: #A64D79;
}
.instruction{
	position: absolute;
	top: 8%;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
}
.bill_labels {
    position: absolute;
    width: 28%;
    padding: 1%;
    background-color: #FFE599;
    border-radius: 2vmin;
    left: 71%;
}
.label_left {
    left: 1%;
}
.label_right{
	right: 3%;
}
.label_1{
	top: 20%;
}
.label_top{
	top: 30%;
}
.label_middle{
	top: 50%;
}
.label_bottom{
	bottom: 5%;
}
/*---------- for images --------------*/
.image_center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.fade_away{
	animation: disappear 2s ease-in forwards;
	-webkit-animation: disappear 2s ease-in forwards;
}
@-webkit-keyframes
disappear {
	100%   {opacity: 0;}
}
@keyframes
disappear {
	100%   {opacity: 0;}
}


/*----------bills -----------*/

.bill_center{
	width: 40%;
	height: 80%;
	bottom: 1%;
	left: 30%;
}

.slide_from_top{
	animation: slide_from_top 2s ease-in;
	-webkit-animation: slide_from_top 2s ease-in;
}
@-webkit-keyframes
slide_from_top {
	0%   {transform: translateY(-150%);}
}
@keyframes
slide_from_top {
	0%   {transform: translateY(-150%);}
}

.highlighted_div{
	background-color: #D5A6BD;
	border: 2px solid #6183D1;
	color: white;
	animation: blink_div 2s linear infinite;
	-webkit-animation: blink_div 2s linear infinite;
}
th.highlighted_div, td.highlighted_div{
	border: none;
}

@-webkit-keyframes
blink_div {
	50%   {background-color: #4d4861;}
}
@keyframes
blink_div {
	50%   {background-color: #4d4861;}
}
/*=====  End of Custom Style  ======*/
