.headTitle
{

	width: 100%;
	text-align: center;

	font-size: 1.5em;
	color:#020569;
	text-shadow:
	3px 3px 0 #fff,
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}


#figBox
{
	width: 100%;

	position: relative;
}

.thirdBx
{
	width: 31%;
	display: inline-block;

	text-align: center;
	margin-right: 1.5%;

}
.smallTitle
{
	margin-top: 5%;
	color:#1A8A04;
	font-size: 1.2em;

}
.smallTitle:lang(np){
	margin-top: 5%;
	color:#1A8A04;
	font-size: 1em;
}
.numberBox
{
	border: 1px solid #ff0000;
	margin: 3% auto !important;
	padding: 2%;
	border-radius: 15px;
	color: blue;
	font-size: 1.1em;
	height: 78%;

}
.numberBox p
{
	display: none;
}
.myfrog
{
	width: 30%;
}
.coverimg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
#cover_page{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	z-index: 100;
}
.cover_title{
	position: absolute;
	top: 3%;
	left: 65%;
	transform: translate(-54%);
	font-size: 5vh;
	background: #0d7be9;
	color: #fff;
	padding: 1%;
	border-radius: 20px;
	width: 58%;
}
