.headTitle
{

	width: 100%;
	text-align: center;

	font-size: 1.5em;
	color:#020569;
	text-shadow:
	3px 3px 0 #fff,
	-1px -1px 0 #fff,  
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}


#figBox
{
	width: 100%;
	
	position: relative;
}

#figBox div
{
	text-align: center;
}

.text1,
.text2
{
	font-size: 1.2em;
	margin: 3% auto;
	width:80%;
	background: #fff;
	padding: 1.5%;
	color: #000;
}


#clsUl
{
	list-style: circle;
}

.srcImg
{
	margin: auto;
	
}

.srcImg img 
{
	width: 60%;
}

#numberVal,
#numberVal2,
#numberVal3
{
	position: relative;
	width: 100%;
	border-top:1px outset #000;

	
	
}
#numberVal
{
	font-size: 1.5em;
}
#numberVal2
{
	font-size: 1.3em;
}

#numberVal3
{
	font-size: 0.9em;
}
.text3
{
	font-size: 1.2em;
	margin: 2%;
	color:#F50262;
}
.number
{
	color:#F50262; 
	text-align: left!important;
	width: 100%;
padding-left: 10%;
font-size: 2em;
	
	
}

#conversionVal
{
	position: relative;	
	width: 40%;
	margin:0% 1%;
	padding: 2%;
	display: inline-block;
	vertical-align: top;
	

}

.divideAct
{
	position: relative;
	width: 100%;
	
	color:#000;
	margin-bottom: 1%;

	
	
	
}
.divideAct2
{
position: relative;
	width: 100%;
	
	color:#000;
	

}
.divideAct 
{
	display: none;
}
.division
{
	width: 70%;
	display: inline-block;

	
	
	
}
.whatfrst
{
	
	width: 30%;
	display: inline-block;
	text-align: right;
	

	
} 
.whatfrst span 
{
	display: none;
}
.whatfrst2
{
	width: 60%;
	display: inline-block;
	
	text-align: left;
	


} 

.bottomBorder
{
	border-bottom: #ff0000 3px solid;
	border-left: #ff0000 3px solid;
}
.borderLeft
{
		border-left: #ff0000 3px solid;
}
 
.displayno
{
	/*display: none;*/
}
.remainder
{
	display: inline-block;
	width: 20%;

	
}
.remainder span
{
	display: none;
}
.remaintxt
{
	color: blue;
}

.rightBx
{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	
	
}

.whatArrow
{
	width: 8%;
	margin-top: 20%;
	display: inline-block;
	vertical-align: top;
	
}

.whatArrow img 
{
	width: 90%;
	display: none;
}

.whatNext
{
	display: inline-block;
	width: 80%;
	margin: 17% 0% 0% 0%;

	

}

.firstMe
{
	text-align: left!important;

	color: blue;
	display: none;
}

.secMe
{
	margin-left: 20%;
	margin-top: 30%;
	color:#F50262; 
	display: none;
}
#numberVal3 .secMe
{
	font-size: 1.5em;
	margin-left: 10%;
	
}
.whatme
{
	border-top:1px outset #ff0000;
	
	padding-top: 1%;
	
	display: none;
	width: 100%;
}
#imgsrc1
{
	width: 47%;
}
#imgsrc2
{
	width: 47%;
}
#imgsrc3
{
	width: 75%;
}
.whatme span 
{
	width: 10%;
	border: 2px red solid;
	border-radius: 50%;
}
.firstInput
{
	margin: 3%;
}

#decimalVal,
#binaryVal
{
	width: 12%;
	font-size: 1.5em;
	text-align: center;

}
#decimalValues,
#decimalValues2
{
	font-size: 2em;
}

#decimalValues2
{
	color:#F50262;
}

#decimalValues,
#binaryValues,
#binaryValues2
{
	
	margin: 3%;
	
}

#secHead
{
	margin-top: 10%;
	
}

#secHead,
#secInBx
{

}

#binaryValues
{
	font-size: 1.2em;

	
}
.division2
{
	width: 40%;
	display: inline-block;
	
}

#binaryValues2
{
	font-size: 1.5em;
	color:#F50262; 
}