html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.activeTimeLine {
    background: rgb(138, 140, 17);
}
.totalsequence {
    border: rgb(138, 140, 17) 0.3vmin solid;
}


.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 30px #f2f2f2;
}
.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    color: #EE375B;
    font-size: 7vw;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}





.contentwithbg{
    background: url("../images/page02.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg1{
    background: url("../images/page02a.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.contentwithbg2{
    background: url("../images/page03.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg3{
    background: url("../images/page04.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}





.text3 {
    position: absolute;
    font-size: 2vw;
    bottom: 0%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 50%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    border-radius: 20.2em;
    opacity: 0;
}

.why1 {
    position: absolute;
    font-size: 2vw;
    bottom: 50%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 50%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
}

.why2 {
    position: absolute;
    font-size: 2vw;
    bottom: 25%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 50%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
}





/*page2 starts*/
.heat {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 30%;
    animation: fadein 1s ease-in forwards;
}

.pathi {
    position: absolute;
    width: 17%;
    opacity: 0;
    animation: fadein 3s ease-in forwards;
    bottom: 30%;
    left: 39%;
}

.mana {
    position: absolute;
    opacity: 0;
    animation: fadein 3s ease-in forwards;
    width: 11%;
    bottom: 30%;
    left: 57%;
}

.handd {
    position: absolute;
    width: 35%;
    animation: fadein 2s ease-in forwards;
    bottom: -2%;
    opacity: 0;
    right: 0;
}

.why1 {
    position: absolute;
    font-size: 2vw;
    bottom: 58%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 60%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
}

.why2 {
    position: absolute;
    font-size: 2vw;
    bottom: 37%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 60%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
}



.text2 {
    color: white;
    font-size: 2.5vw;
    padding: 1%;
    opacity: 0;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 16%;
    background: rgba(122, 138, 4, 0.8);
    box-shadow: .1em .1em .1em rgba(1, 2, 1, 0.2);
}

.text5 {
    color: white;
    font-size: 2.5vw;
    padding: 1%;
    opacity: 0;
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 84%;
    background: rgba(122, 138, 4, 0.8);
    box-shadow: .1em .1em .1em rgba(1, 2, 1, 0.2);
}


.pep {
    width: 46%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
}

.why3 {
    position: absolute;
    font-size: 2vw;
    bottom: 67%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 75%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 36%;
    opacity: 0;
}

.why4 {
    position: absolute;
    font-size: 2vw;
    bottom: 7%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 75%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 36%;
    opacity: 0;
}

.desc1 {
    position: absolute;
    font-size: 2vw;
    bottom: 56%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 75%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
    border-radius: 9em;
}

.desc2 {
    position: absolute;
    font-size: 2vw;
    bottom: 45%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 75%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
    border-radius: 9em;
}


.desc3 {
    position: absolute;
    font-size: 2.5vw;
    bottom: 0%;
    background: rgba(188,83,159,.9);
    color: white;
    width: 100%;
    padding: 1%;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
}

.opacity1{
    opacity: 1;
}

.gorkha {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    opacity:0;
    transform: translateX(-50%);
}

.wieght1kg {
    position: absolute;
    color: white;
    font-size: 2vw;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 70.5%;
    z-index: 9;
}

.zoommeter {
    position: absolute;
    width: 27%;
    transform: translateY(-50%);
    top: 63%;
    opacity: 0;
    animation: fadein3 1s 1s ease-in forwards;
    left: 49%;
}

.tape {
    position: absolute;
    width: 37%;
    bottom: -15%;
    left: 26%;
    animation: tape 1s 1s ease-in forwards;
}
.scale {
    position: absolute;
    bottom: 39%;
    left: 86%;
    width: 1%;
    z-index: 9;
    animation: fadein .5s 2.5s ease-in forwards,
                move1 2s 3s ease-in forwards;
    opacity: 0;
}

.scale1 {
    position: absolute;
    bottom: 48%;
    left: 94%;
    width: 1%;
    z-index: 9;
    animation:fadein .5s 2.5s ease-in forwards,
                move2 2s 5.5s ease-in forwards;
    opacity: 0;

}

.dot1 {
    position: absolute;
    bottom: 53%;
    left: 85%;
    z-index: 8;
    height: .5%;
    color: rgb(241,89,42);
    font-size: 8vw;
    animation:fadein .5s 2.5s ease-in forwards,
                blink1 2s 3s;
    opacity: 0;
}

.dot2 {
    position: absolute;
    bottom: 43%;
    left: 93%;
    z-index: 8;
    color: rgb(241,89,42);
    animation: fadein .5s 2.5s ease-in forwards, blink1 2s 5.5s;
    opacity: 0;
    font-size: 8vw;
}

@keyframes blink1{
    0%{opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    30%{opacity: 1;}
    40%{opacity: 0;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    70%{opacity: 1;}
    80%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes move1{
    50%{
    bottom: 56%;
    left: 26%;
    width: 37%;
    }
    70%{
    bottom: 56%;
    left: 26%;
    width: 37%;
    }
    100% {
    bottom: 32%;
    left: 3%;
    width: 37%;
    }
}

@keyframes move2{
    50%{
    bottom: 56%;
    left: 26%;
    width: 37%;
    }
    70%{
    bottom: 56%;
    left: 26%;
    width: 37%;
    }
    100% {
    bottom: 32%;
    left: 43%;
    width: 37%;
    }
}

@keyframes fadeout{
    to{
        opacity:0;
    }
}
.globe {
    position: absolute;
    width: 20%;
    bottom: 30%;
    left: 79%;
    opacity: 0;
    animation:fadein .5s 2.5s ease-in forwards;
}
.fadeindots{
    animation:fadein .5s 2.5s ease-in forwards;

}
.meter1, .meter2, .meter3 {
    width: 10%;
    position: absolute;
    opacity: 0;
}
.meter1 {
    bottom: 48%;
    left: 52%;
}
.meter2 {
    bottom: 24%;
    z-index: 9;
    left: 68%;
}
.meter3 {
    bottom: 23%;
    z-index: 9;
    left: 29%;
}
.fadein4{
    animation:fadein 1s 9s ease-in forwards;
}
@keyframes tape{
    to{
        bottom: 56%;
    }
}

@keyframes fadein3{
    to{
        opacity:.8;
    }
}
.fadein{
    animation: fadein 1s ease-in forwards;
}

.fadein1{
    animation: fadein 1s 11s ease-in forwards;
}

@keyframes fadein{
    to{
        opacity: 1;
    }
}
@media (min-aspect-ratio: 4/3){
    .text2,.text3,.wieght1kg,.why1,.why2,.why3,.why4,.desc1,.desc2{
        font-size: 2.88vmin;
    }
    .text5{
        font-size: 3vmin;
    }
    .dot1,.dot2{
        font-size: 12vmin;
    }
    .desc3{
        font-size: 5vmin;
    }
}
