.diyimage{
  position: absolute;
  width: 101%;
}
.fullbg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}
.creamBg{
  background: #f4e5c2;
}
.creamBglight{
  background: #f6eace;
  background: radial-gradient(#fff, #f4e5c2);
}
.whiteBg{
  background: #fff;
}
.qndiv{
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  color: #fff;
  text-align: center;
  background: #6db193;
  font-family: sniglet;
  height: 20%;
}
.optionsdiv {
  top: 25%;
  display: flex;
  left: 50%;
  flex-direction: row;
  text-align: left;
  position: absolute;
  height: 62%;
  width: 50%;
  flex-wrap: wrap;
}

.optionscontainer {
  width: 100%;
}

.imagestartpos {
  position: absolute;
  width: 11%;
  margin-left: 1%;
  display: none;
  margin-top: 12%;
  left: 75%;
  bottom: 47%;
}
.top57{
  top: 57%;
}
.optionsdiv p {
  padding: 2%;
  background: #926EED;
  border-radius: 15px;
  margin: 1%;
  font-size: 2vw;
  border: 5px solid #926EED;
  font-family: Abeezee;
  width: 75%;
  text-align: center;
  color: #fff;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
    border: 5px solid #999999;
    cursor: pointer;
}
.oneLiner{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 3.5vh;
  /*text-align: left;*/
  padding-left: 2%;
  transform: translate(-50%,-50%);
}
.iffulldiv{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color:rgb(66, 71, 68,0.8);;
  /*opacity: 0.9;*/
  z-index: 30;
}
.intFactCont{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 81%;
  background: #feffd3;
  border: 4px solid #f1c232;
  border-radius: 2em;
  transform: translate(-50%,-50%);
}
.cross-btn{
  position: absolute;
  width: 9%;
  right: 1%;
  top: 2%;
  z-index: 20;
}
.boxcontents{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.funTxt{
  position: absolute;
  left: 50%;
  top: 30%;
  font-family: comfortaa;
  font-size: 4vh;
}
.funTitle{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #f1c232;
  font-family: comfortaa;
  font-size: 6vh;
}
.sideImg{
  position: absolute;
  width: 35%;
  bottom: 10%;
  left: 3%;
}
.hen{
  transform: rotateY(180deg);
}
.chick{
  width: 16%;
  left: 34%;
}
.qnSideImg{
  position: absolute;
  width: 42%;
  top: 11%;
  left: 5%;
}
.henImg{
  transform:rotateY(180deg);
  width: 37%;
  top: 19%;
}
.chickImg{
  width: 11%;
  top: 57%;
  left: 38%;
}
.tip{
  position: absolute;
  width: 11%;
  bottom: 1%;
  right: 1%;
  z-index: 30;
}
.tip:hover, .cross-btn:hover, .handIcon{
  cursor: pointer;
}
.diytxt{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
  font-size: 3vw;
  text-align: center;
}
.s2txt{
  position: absolute;
  color: #404b69;
  font-family: sniglet;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8vh;
  left: 2%;
  width: 96%;
}
.funfactImg{
  position: absolute;
  width: 30%;
  bottom: 10%;
  left: 10%;
}
.fis7_1{
  width: 22%;
  bottom: 19%;
  left: 3%;
}
.fis7_2{
  width: 22%;
  bottom: 19%;
  left: 26%;
}
.whale{
  width: 41%;
  bottom: 33%;
  left: 5%;
}
.ballBoy{
  width: 41%;
  bottom: 6%;
  left: 5%;
}
.eagle{
  width: 33%;
  bottom: 5%;
  left: 8%;
}
.tlt{
  width: 35%;
  bottom: 2%;
  left: 7%;
}
.egtxt{
  font-size: 3.5vh;
}
.fodChain{
  width: 51%;
  top: 1%;
  left: 0%;
}
.sensImg{
  width: 46%;
  top: 32%;
  left: 2%;
}
.resp{
  width: 39%;
  top: 22%;
}
.foxwlk{
  width: 50%;
  top: 3%;
  left: 0%;
}
.squirrel{
  position: absolute;
  bottom: 5%;
  width: 20%;
  left: 5%;
  transform: rotateY(180deg);
}
.p3s10Txt{
  position: absolute;
  color: #404b69;
  font-family: sniglet;
  left: 5%;
  width: 90%;
  font-size: 5vh;
  text-align: center;
}

.sp-1{
  padding: 3% 4% 3% 7%;
  top: 56%;
  left: 23%;
  width: 50%;
  height: 35%;
}
.speechbox > p {
    position: absolute;
    width: 84%;
    left: 11%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 3.5vh;
}
.spImage{
  transform: rotate(180deg);
}
.handIcon{
  position: absolute;
  right: 5%;
  bottom: 0%;
  width: 5%;
  z-index: 30;
  display: none;
}
@media (min-aspect-ratio: 4/3){
  .funTitle{
    font-size: 6vh;
  }
  .funTxt{
    font-size: 4vh;
  }
  .oneLiner,.egtxt, .speechbox > p{
    font-size: 3.5vh;
  }
  .s2txt{
    font-size: 8vh;
  }
  .optionsdiv p{
    font-size: 3vh;
  }
  .p3s10Txt{
    font-size: 5vh;
  }
}
@media (max-aspect-ratio: 4/3){
  .funTitle{
    font-size: 2.8vw;
  }
  .funTxt{
    font-size: 1.8vw;
  }
	.oneLiner,.egtxt, .speechbox > p{
    font-size: 1.5vw;
	}
  .s2txt{
    font-size: 4.5vw;
  }
  .optionsdiv p{
    font-size: 2vw;
  }
  .p3s10Txt{
    font-size: 2.5vw;
  }
}
