.bg{
    background: rgb(187,211,141);
}
.diytitle {
    position: absolute;
    font-family: shortstack;
    font-size: 4vw;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.instruction {
    position: absolute;
    font-family: shortstack;
    color: white;
    font-size: 2.4vw;
    width: 80%;
    left: 10%;
    top: 31%;
    background: rgba(0,0,0,.2);
    padding: 1%;
    border-radius: .5em;
}
.instuction_top {

    position: absolute;
    font-family: abeezee;
    color: white;
    font-size: 2vw;
    background: #456337;
    padding: .5%;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    top: 0;

}
.left, .right, .about {
    position: absolute;
    font-family: abeezee;
    padding: .5%;
    top: 89%;
    font-size: 1.5vw;
}
.left {
    left: 13%;
}

.onewayblock, .twowayblock {
    position: absolute;
    height: 30%;
    width: 20%;
    left: 20%;
    border: .1em solid black;
    top: 57%;
    background: #e69138;
    border-radius: .6vmin;
}
.right {
    left: 58%;
}
.twowayblock{
  left: 65%;
}
.about {

    top: 8%;
    z-index: 99;
    background: #456337;
    color: white;
    width: 50%;
    left: 25%;
    border-radius: none;
    border-bottom-right-radius: 1vmin;
    border-bottom-left-radius: 1vmin;

}
.draggableimage {
    position: absolute;
    height:35%;
    top: 18%;
    left: 46%;
    z-index: 99;
    cursor: pointer;
}
@media (min-aspect-ratio: 4/3){

    .instruction{
        font-size: 6vmin;
    }

    .instuction_top,.left,.right{
        font-size: 4vmin;
    }
    .about{
        font-size: 3.5vmin;
    }
    .diytitle{
      font-size: 8vmin;
    }
}
.left:lang(np) {
    left: 21%;
}
.right:lang(np){
    left: 66%;
}

.hovered{
	border: 0.2em dashed black;
}
