.bluebg{
    background:rgb(87,125,159);
}
.bg_full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sundar01 {
    position: absolute;
    width: 14%;
    top: 37%;
    left: 47%;
}
.phone {
    position: absolute;
    width: 24%;
    top: 34%;
    left: 34%;
}
.ramesh {
    position: absolute;
    width: 20%;
    top: 32%;
    left: 55%;
}
.sunder {
    position: absolute;
    width: 25%;
    top: 31%;
    left: 23%;
}
.template-dialougebox2-top-white {
    font-size: 2vw;
    font-family: shortstack;
    box-shadow: .1em .1em .01em rgb(140,99,66);
    left: 55%;
    background: rgb(255,252,227);
    border-color: #fff;
    padding: 1% !important;
    top: 9%;
    color: rgb(80,41,8);
}
[class*="template-dialougebox2-top-white"]::after{
    content: none !important;
}
[class*="template-dialougebox2-top-white"]::before{
     -webkit-filter: drop-shadow(.1em .1em .01em rgb(80,41,8));
    filter: drop-shadow(.1em .1em .01em rgb(80,41,8));
}
.template-dialougebox2-top-flipped-white {
    font-size: 2vw;
    font-family: shortstack;
    box-shadow: .1em .1em .01em rgb(140,99,66);
    left: 16%;
    background: rgb(255,252,227);
    border-color: #fff;
    padding: 1% !important;
    padding-top: 1%;
    top: 8%;
    color: rgb(80,41,8);
}
[class*="template-dialougebox2-top-flipped-white"]::after{
    content: none !important;
}
[class*="template-dialougebox2-top-flipped-white"]::before{
     -webkit-filter: drop-shadow(.1em .1em .01em rgb(80,41,8));
    filter: drop-shadow(.1em .1em .01em rgb(80,41,8));
}
.dots {
    position: absolute;
    width: 15%;
    transform: translateX(-50%);
    left: 50%;
    top: 22%;
}
.left_top_text {
    position: absolute;
    font-family: shortstack;
    width: 80%;
    font-size: 1.8vw;
    background: rgb(255,244,221);
    padding: 1%;
    border-radius: 1em;
    color: rgb(80,41,8);
    box-shadow: .1em .1em 0.01em rgb(80,41,8);
    top: 8%;
    left: 50%;
    transform:translateX(-50%);
}
.bottom_text {
    position: absolute;
    background: rgba(0,0,0,.2);
    font-size: 2vw;
    font-family: shortstack;
    padding: 1%;
    color: white;
    border-radius: .5em;
    top: 80%;
    transform: translateX(-50%);
    left: 50%;
}
.darkblue{
    background: rgb(42, 79, 113);
}
.boy {
    position: absolute;
    width: 10%;
    top: 28%;
    left: 36%;
}
.girl {
    position: absolute;
    width: 9%;
    top: 32%;
    left: 55%;
}
.hand {
    position: absolute;
    width: 13%;
    top: 67%;
    left: 36%;
    animation: torightleft 2s ease-in forwards infinite;
}
.messagebox01 {
    position: absolute;
    left: 35%;
    height: 2%;
    top: 19%;
    opacity: 0;
    animation:fadein 1s 1s ease-in forwards;
}
.messagebox02 {
    position: absolute;
    left: 35%;
    width: 12%;
    top: 28%;
    opacity: 0;
    animation:fadein 1s 3s ease-in forwards;
}
.messagebox03 {
    position: absolute;
    left: 35%;
    width: 10%;
    top: 37%;
    opacity: 0;
    animation:fadein 1s 5s ease-in forwards;
}
.messagebox04 {
    position: absolute;
    left: 52%;
    width: 12%;
    top: 14%;
    opacity: 0;
    animation:fadein 1s ease-in forwards;
}
.brown{
    color: yellow;
}
.a1 {
    position: absolute;
    width: 8%;
    top: 20%;
    left: 45%;
}
.s1 {
    position: absolute;
    width: 8%;
    top: 20%;
    left: 35%;
}
.c1 {
    position: absolute;
    width: 20%;
    top: 23%;
    left: 7%;
}
.messagebox05 {
    position: absolute;
    left: 52%;
    width: 12%;
    top: 20%;
    opacity: 0;
    animation:fadein 1s 2s ease-in forwards;
}
.messagebox06 {
    left: 52%;
    width: 12%;
    top: 33%;
    position: absolute;
    opacity: 0;
    animation:fadein 1s 4s ease-in forwards;
}
.computer1 {
    position: absolute;
    width: 35%;
    top: 11%;
    transform: translateX(-50%);
    left: 50%;
}
.f1front, .f1back {
    position: absolute;
    width: 30%;
    top: 30%;
    left: 16%;
}
.f1front {
    z-index: 99;
}
.f2front, .f2back {
    position: absolute;
    width: 30%;
    top: 30%;
    left: 55%;
}
.f2front{
    z-index: 99;
}
.paper01 {
    position: absolute;
    width: 20%;
    top: 13%;
    left: 21%;
    animation:fax1 2s ease-in forwards;
}
.paper02 {
    position: absolute;
    width: 15%;
    top: 36%;
    left: 62.5%;
    animation:fax1 2s ease-in forwards;
}
.bottom_text1 {
    position: absolute;
    font-size: 2vw;
    font-family: shortstack;
    color: white;
    top: 72%;
    width: 80%;
    left: 10%;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fax1{
    to{
        top: 27%;
    }
}
@keyframes torightleft{
    0%{
    left: 36%;
    }
    50%{
    left: 42%;
    }
    100%{
    left: 36%;
    }

}
.left_dial:lang(np) {
    left: 5%;
}
.right_dial:lang(np) {
    left: 54%;
}

@media (min-aspect-ratio: 4/3){
  .bottom_text1, .template-dialougebox2-top-white, .template-dialougebox2-top-flipped-white, .left_top_text, .bottom_text {
    font-size: 3vmin;
  }
}
