.contentblock{
	background-color: #6aa84f;
}
.instruction-new{
	position: absolute!important;
	top: 0%;
	left: 0%;
	padding: 1%!important;
	color: white;
	background-color: #A3C3C4;
	font-size: 2.5vw;
	width: 100%;
}
@media (min-aspect-ratio:4/3){
	.instruction-new{
		font-size: 3.4vh;
	}
}

.instruct{
	position: absolute;
	top: 11%;
	left: 5%;
	width: 90%;
	font-size: 5.2vmin;
}

.testblock{
	position: absolute;
	width: 94%;
	height: 75%;
	background-color: #e8e5c3;
	top: 22%;
	left: 3%;
	border-radius: 40px;
}

.test0{
	position: absolute;
	width: 100%;
	top: 30%;
}

.option-img{
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translateX(-50%);
	height: 80%;
	font-size: 4.3vmin;
	width: 100%;
}
.main-container{
	height: 35%;
}
.option-pos-1, .option-pos-2{
	top: 10%;
	position: absolute;

}
.option-pos-3, .option-pos-4{
	top: 55%;
}
.instruction{
	color: #595959;
	font-size: 4.3vw;
	font-family: sniglet;
}

.mcclass{
	position: absolute;

}

.question{
	text-align: center;
	font-size: 5vw;
	color: #595959;
	top: 3%;
}
@media(min-aspect-ratio:4/3){
	.question{
		font-size: 4.3vh;
	}
	.instruction{
		font-size: 4.3vh;
	}
}
/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/**
	this block is essential for implementing fractions
	fraction block essential code begin
*/

.fraction, .fraction2, .top, .bottom {
	padding: 0 0.3em;
}

.fraction, .fraction2 {
	display: inline-block;
	text-align: center;
}

.fraction2 {
	transform: translateY(25%);
}

.bottom {
	border-top: 0.1em solid #595959;;
	display: block;
}

.fractionblock {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}
.option-container {
	position: relative;
	left: 0%;
	top: 40%;
	cursor: pointer;
	border-radius: 3vmin;
	color: white;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60%;
	border: none;
}
.correct-icon, .incorrect-icon {
	display: none;
	position: absolute !important;
	height: 25%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 62%;
}
