
<script type="text/javascript">
    $cssLoader('css/shared.css');
    $cssLoader("css/page5.css");
</script>

<div class="sample">
    
   
    
    <div class="board">

    </div>

     <div class="nextBtn"></div>
     <div class="prevBtn"></div>

</div>


<script type="text/x-handlebars-template" id="first-template">

{{#if headtitle}}
<div class="headtitle">
{{headtitle}}</div>
{{/if}}

{{#if img1}}
<div id="drawme_1">
    <img src="{{img1}}" />
</div>
{{/if}}
{{#if defination}}
    <div class="defination">{{{defination}}}</div>
{{/if}}

{{#if imgsrc}}
    <div class="{{fullimg}}">
        <img src="{{imgsrc}}" class="myExSrc"/>
        {{#each labelObj}}
            <div id="{{name}}" class="{{labellang}}">{{labVal}}</div>
        {{/each}} 
    </div>
{{/if}}



{{#if text_1_1}}
    <div class="{{text_1_1_cls}}">{{{text_1_1}}}</div>
{{/if}}

{{#if text_1_2}}
    <div class="text_1_2">{{{text_1_2}}}</div>
{{/if}}

  
{{#if text_1_3}}
    <div class="text_1_3">{{{text_1_3}}}</div>
{{/if}}
 

    
</script>







<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>