
<script type="text/javascript">
    $cssLoader('css/shared.css');
    $cssLoader("css/page11.css");
</script>

<div class="sample">
    
   
    
    <div class="board">

    </div>

     <div class="nextBtn"></div>
    

</div>


<script type="text/x-handlebars-template" id="first-template">
{{#if text_1_1}}
	<div class="{{text_1_1_cls}}">{{{text_1_1}}}</div>
{{/if}}




{{#each imgList}}
<div class="imgList">
    <img src="{{imgsrcs}}" />
    <div class="textsrc">
        <div class="textTitle">{{textsrc}}</div>
        <div class="textDesc">{{textsrc2}}</div>
    </div>
    

</div>
{{/each}}
   

      
    
</script>







<script type="text/javascript">
    $jsLoader("js/page11.js");
</script>