
<script type="text/javascript">
$cssLoader('css/shared.css');
    $cssLoader("css/page4.css");
</script>

<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

<div class="sample">
	<div class="board"></div>  

	<div class="nextBtn "></div>
	

	
</div>


<script type="text/x-handlebars-template" id="diyLandingPage-template"> 
	<div class="diy">
		<figure>
			<img src="{{diyImageSource}}">
			<figcaption>{{diyTextData}}</figcaption>
		</figure>
		<p>{{diyInstructionData}}</p>
	</div>
</script>

<!-- this is for the sample second slide change according to need -->
<script type="text/x-handlebars-template" id="sampleSecondSlide-template"> 
<div class="sampleSlide">
	
	<div class="drawBox">

			
			<div id="sunbox1" class="dropBox">
				<div class="case1">{{case1}}</div>

			</div>
			<div id="sunbox2" class="dropBox">
					<div class="case2">{{case2}}</div>
			</div>
			<div id="sunbox3" class="dropBox">
					<div class="case3">{{case3}}</div>
			</div>
			<div id="sunbox4" class="dropBox">
					<div class="case4">{{case4}}</div>
			</div>

			<div id="{{earth}}"><img src="{{erth}}" /></div>		
			<div id="sun" class="{{sun}} dragable" dataVal="sunbox4"><img src="{{sunny}}" /></div>
			<div id="finalMyText">{{finalMyText}}</div>
			<div id="finalMyText2">{{finalMyText2}}</div>
	</div>

	<div class="halfBox">
		<div class="diy2">
			<figure>
				<img src="{{diyImageSource}}">
				<figcaption>{{diyTextData}}</figcaption>
			</figure>		
		</div>	
	</div>

	<div class="textBox">{{text_1_1}}</div>

		
	


</div>
</script>

<!-- js loader starts  -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>


