
<script type="text/javascript">
$cssLoader('css/shared.css');
    $cssLoader("css/page7.css");
</script>

<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<div class="sample">
	<div class="board"></div>  

	<div class="nextBtn "></div>
	<div class="correctAns glyphicon glyphicon-ok"></div>

	
</div>


<script type="text/x-handlebars-template" id="diyLandingPage-template"> 
	<div class="diy">
		<figure>
			<img src="{{diyImageSource}}">
			<figcaption>{{diyTextData}}</figcaption>
		</figure>
		<p>{{diyInstructionData}}</p>
	</div>
</script>

<!-- this is for the sample second slide change according to need -->
<script type="text/x-handlebars-template" id="sampleSecondSlide-template"> 
<div class="sampleSlide">
	
	<div class="drawBox">
		<div class="arrange">
			{{#if sun}}
				<div id="sun"><img src="{{sun}}" />
					<div class="labelObj">{{sunObj}}</div></div>
			{{/if}}
			{{#each boxes}}
				<div dataval="{{this}}" class="dropBox" id="{{this}}_1">
					<div class="mydatabox" id="{{this}}_2"></div>
				</div>
			{{/each}}

			{{#each boxes2}}
				<div dataval="{{this}}" class="dropBox2" id="{{this}}_1">
				<div class="mydatabox" id="{{this}}_3"></div>
				</div>
			{{/each}}

		</div>
		<div class="drageImg">

			{{#each dragimgs}}
				<div id="{{imgid}}" class="dragable"><img src="{{src}}" />
					<div class="labelObj">{{labelObj}}</div>
				 </div>
			{{/each}}

		</div>
		
			
	</div>

	<div class="halfBox">
		<div class="diy2">
			<figure>
			<img src="{{diyImageSource}}">
			<figcaption>{{diyTextData}}</figcaption>
			</figure>		
		</div>	
	</div>

	<div class="textBox">{{text_1_1}}</div>	


</div>
</script>



<script type="text/x-handlebars-template" id="sampleThirdSlide-template"> 
<div class="sampleSlide">
	
	<div class="drawBox">
		<div class="arrange2">
			{{#each boxes}}
				<div class="boxVal">
					<div class="mytext">{{mytext}}</div>
					<div  dataval="{{bxId}}" class="dropBox3">

					</div>

				</div>
			{{/each}}
		</div>
		<div class="drageImg2">

			{{#each dragimgs}}
				<div id="{{imgid}}" class="dragable"><img src="{{src}}" />
					<div class="labelObj">{{labelObj}}</div>
				 </div>
			{{/each}}

		</div>
			
		{{#if conclusion}}
			<div class="conclusion2">{{conclusion}}</div>	
		{{/if}}	
	</div>

	<div class="halfBox">
		<div class="diy2">
			<figure>
			<img src="{{diyImageSource}}">
			<figcaption>{{diyTextData}}</figcaption>
			</figure>		
		</div>	
	</div>

	<div class="textBox">{{text_1_1}}</div>	


</div>
</script>

<!-- js loader starts  -->
<script type="text/javascript">
	$jsLoader("js/shared.js");
    $jsLoader("js/page7.js");
     
</script>


