.background
{
	background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width:100%;
}
.bg{
	height: 100%;
  	position: relative;
  	overflow: hidden;
  	font-size: 1.3em;
  	background: url("../images/bg.png") ;  
  	-moz-background-size: cover;  
  	background-size: cover;
	border-style: solid;
	border-width: 7px ;
	border-color: black ;
}

#element_2,#element_3,#element_4,#element_5,#element_6
{
	x display:none;
	color:#ffffff;
	
}

.header_question{
	margin-top:3%;
}

.header_content{
	text-align:center;
}
.needandwants{
	margin-top:1%;
}
.Needs_Wants
{
	background-color:#7089B3;
	text-align:center;
}
.needs
{
	background: url("../exercise_images/need.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    height: 53%;
    opacity: 0.7;
    overflow: hidden;
    position: relative;
    width: 33%;
    margin: 0 102px;
}
.wants
{
	background: url("../exercise_images/want.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    height: 53%;
    opacity: 0.7;
    overflow: hidden;
    position: relative;
    width: 33%;
}
