.wrapper{
  position: relative;
  width:100%;
  height: 100%;
}

.title {
    position: relative;
    background: #FFC815;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#paragraph_contents {
    width:25%;
    position: relative;
    float:left;
    left: 2%;
    top: 45%;
    transform: translateY(-50%);
}

#answer_contents {
    width: 45%;
	position: relative;
	float: right;
	right: 2%;
	top: 45%;
	transform: translateY(-50%);
}
.answer
{
    position: relative;
    top: 80%;
    display: none;
}

.hoverclass:hover{
        cursor : pointer;
    border-radius:5px;
     transform: scale(1.1);
}

.correct{
    background-color: #a9d73f !important;
    color:#fff;
}

#answer_contents p, #paragraph_contents p {
    cursor : pointer;
    background:#6abac4;
    color:#fff;
    border-radius:5px;
    line-height: 1.3;
    padding-left:0.5em;
    margin: 3px;
}

.change_color_click
{
    background: #FFC815 !important;
    color: #1479AF;
}

@media screen and (min-aspect-ratio: 4/3) { 
	 #answer_contents p, #paragraph_contents p{
		 font-size: 4.56vh;
	 }
	 .title {
    	font-size: 5vh;
   	 }
}

@media screen and (max-aspect-ratio: 4/3) { 
	 #answer_contents p, #paragraph_contents p{
		 font-size: 3vw;
	 }
	 .title {
    	font-size: 3.56vw;
   	 }
}
