.wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
	background: #ffffff;
}

.question_part{
	width: 44%;
	height: 100%;
	position: relative;
	left: 2%;
}

.answer_part{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 2%;
	top: 0;
}

.button_next {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
		display: none;
    }

.button_next:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button_prev {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
}

.button_prev:hover {
  background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.question2,.question3,.question4,.question5,.question6,.question7,.question8,.question9
{
	display: none;
}

.question1,.question2,.question3,.question4,.question5,.question6,.question7,.question8,.question9
{
	width:100%;
	height: 100%;
}

.question_stacks{
	position: absolute;
    top: 19%;
    left: 4%;
}

.answer_stacks
{
	position: absolute;
    top: 19%;
    left: 0;
}



.question_con1,.question_con2,.question_con3,.question_con4,.question_con5,.question_con6,.question_con7,.question_con8,.question_con9,.answer_con8
{
	color: rgba(255,0,109,0.7);
    font-weight: bold;
}

.answer_con
{
	    color: #3399fe;
	    font-weight: bold;
}

.title_ex
{
	background: #FFC815;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 1.6;
}

.title_main
{
	font-weight: bold;
    font-size: 2em;
    color: #ffffff;

}

.find
{
	position: absolute;
    top: 55%;
    left: 4%;
     z-index: 99;
}

.find_answer
{
	font-weight: bold;

}

.find_answer:hover
{
	cursor: pointer;
	color:#1479AF;

}

.answer_con
{
	display: none;
}

/* The alert message box */
.finishtxt {
	z-index: 1000;
    background-color: #1bc402;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000;
    color: white;
    display: none;
    font-size: 1.5em;
    left: 26%;
    margin-bottom: 15px;
    padding: 20px;
    position: absolute;
    top: 25%;
}
/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

@media screen and (min-aspect-ratio: 4/3) {
	 .question_con1, .question_con2, .question_con3, .question_con4, .question_con5,
	 .question_con6, .question_con7, .question_con8, .question_con9, .answer_con8, .answer_con{
		 font-size: 4.86vh;
	 }
	 .find_answer{
	 	font-size: 4.86vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) {
	 .question_con1, .question_con2, .question_con3, .question_con4, .question_con5,
	 .question_con6, .question_con7, .question_con8, .question_con9, .answer_con8, .answer_con{
		 font-size: 3.36vw;
	 }
	 .find_answer{
	 	font-size: 3.36vw;
	 }
}
