<script>
$cssLoader('exercise/css/exercise.css');
$cssLoader('exercise/css/exe1.css');
</script>

<div id="exeBox">
  
    <div class="allquestion">

     </div>

     
    <img  id="Imgshow" src="$ref/exercise/images/correct.png" />
   
    <div id="nextBtnId"></div>

</div>
<script>
$jsLoader('exercise/js/sharedexe.js');
$jsLoader('exercise/js/exe1.js');
</script>



<script type="text/x-handlebars-template" id="label-template">
<div id="quest"><span>{{myQuesion}}</span></div>

<div id="showAnsBx">
    <div class="questionNo"> {{txt1}}</div>

   <input type="text" value="" id="{{types}}" corrans="{{ans}}" class="myIntinput" />
   <div class="confrimBtn"   id="confirm1">
     {{confrimval}}
  </div>
</div>
</script>

<script type="text/x-handlebars-template" id="template-2">


<div class="allAns">
    {{#each longques2}}
      <span class="quesText">{{longques}}</span>
   
      {{#each qtype1}}
        <div class="rnum" >
        <span class="glyphicon glyphicon-hand-right"></span>        
        {{ques}} <span class="whatelse"> = {{qans}}</span> 
        </div>
      {{/each}}
    
    {{/each}}
    
</div>

<div class="result">
   <div><span>{{rite}} : </span> {{rnum}}</div>
   <div><span>{{wrng}} : </span> {{wnum}}</div>
</div>
</script>


