<script>
	$cssLoader("css/page2.css");
</script>
<div class="chapter">
	<div class="board">
		Hello World!!!
	</div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>
<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
	{{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
    {{else}}
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
        
        <div class="contentblock {{contentblockadditionalclass}}">
        	{{#if containscanvaselement}}
    		<div class="customcanvas">
	            <canvas id="customcanvasbase" width="250px" height="250px">
					Your browser does not support the HTML5 canvas tag.
				</canvas>
			</div>
			{{/if}}
			
			{{#each centertextblock}}
			<div class="center-text">
				{{> textcontent}}
            </div>
		    {{/each}}
			
            {{#if uppertextblock}}
            <div class="uppertextblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}

            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#each imageblock}}
                    {{#if imageblockrow}}<div class="row">{{/if}}
                    {{> imagecontent}}
                    {{#if imageblockrow}}</div>{{/if}}
                {{/each}}
            </div>
            {{/if}}

            {{#if lowertextblock}}
            <div class="textblock lowertextblock {{lowertextblockadditionalclass}}">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
                <button class="help-button">Help!</button>
			</div>
            {{/if}}

        	{{#if definitionblock}}
            <div class="definitionblock">
                {{#each definitionblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        	{{/if}}
            
            {{#each draggableblock}}
            <div class="draggableblock">
                {{#each draggables}}
                    <img class="draggable" src="{{imgsrc}}" />
                {{/each}}
            </div>
            {{/each}}
            
            {{#each droppableblock}}
            <div class="droppableblock">
                {{#each droppables}}
                <div class="droppable">
                </div>
                {{/each}}
            </div>
            {{/each}}
			
        </div> {{! content block end--}}
    </div>	{{! generalTemplateblock block end--}}
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each images}}
    <div class="{{imagecontentclass}}">
        {{#if imagelabeldata}}
        <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/if}}
        {{#if imgsrc}}
        <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"  data-answer="{{answer}}" alt="Image Missing">
        {{/if}}
        {{#if replay}}
        <span class="reload-btn"></span>
        {{/if}}
    </div>
    {{/each}}
</script>
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script>
	$jsLoader("js/page2.js");
</script>
