p{
    z-index: 5;
}

.expressing_wants {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey;
}

.expressing_wants, .expressing_wants * {
    position : relative;
    margin   : 0;
    padding  : 0;
     font-family: happy_monkey;
}

.expressing_wants .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.expressing_wants .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #595959;
	background-color: #FFFCED;
}

.textblock{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.instrustions{
	background-color: #67AD3E;
	border-bottom: 0.2em solid #9CC23E;
	color: #434343;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	width: 100%;
	padding: 2% 1% 1% 1%;
	font-family: sniglet;
}

.maroon_highlight{
	color: #D03672;/*color changed from maroon to pink during design and touch-ups*/
}

.moveup{
	animation: moveup_kf 1.5s linear forwards;
}

@keyframes moveup_kf{
	from{
		top: 45%;
	}
	to{
		top: 0%;
	}
}

.question{
	margin-top: 10%;
	width: 100%;
	font-family: chelsea_market;
}

.image1, .image2{
	position: absolute;
	width: 38%;
	bottom: 10%;
	border-radius: 0.6em;
	border: 0.3em solid #FFF;
    cursor: pointer;
}

.image1{
	left: 8%;
}

.image2{
	right: 8%;
}

.onhover:hover{
	border: 0.3em solid #FCD172;
}

.correct{
	border: 0.3em solid #15C402;
}

.incorrect{
	border: 0.3em solid #FF3333;
}

.fadein{
	opacity: 0;
	animation: fadein_kf 1.5s linear 0.5s forwards;
}

.fadein2{
	opacity: 0;
	animation: fadein_kf 1.5s ease-in 2.5s forwards;
}

@keyframes fadein_kf{
	to{
		opacity: 1;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/

	.instrustions{
		font-size: 3.36vw;
	}

	.question{
		font-size: 3vw;
	}

}



@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/

	.instrustions{
		font-size: 4.56vh;
	}

	.question{
		font-size: 3.56vh;
	}

}


.hl-italics{
	font-style: italic;
}
.hl-bold{
	font-weight: bold;
}
.hl-bold-ul{
	font-weight: bold;
	text-decoration: underline;
}

.description-text{
	position: relative;
	padding: 2%;
	width: 100%;
	text-align: left;
}
.description-text>*{
	display: none;
	position: relative;
	margin: 2% 0%;
}
.fad{
  display: none;
}
