.diy-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: #fbd975;
}

.diy-monkey{
	position: absolute;
	width: 30%;
	left: 35%;
	top: 15%;
}

.diy-textclass{
	position: absolute;
	width: 100%;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #000;
	font-family: HappyMonkey;
	font-size: 5.5vw;
}

@media(min-aspect-ratio:4/3){
	.diy-textclass{
		font-size: 8.5vh;
	}
}
.diyTxt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: happymonkey
}
.ylw-grad{
	background: radial-gradient(#fff,#ff0);
}
.pnk{
	background: #fc5185;
}
.diyblkcls{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 90%;
	width: 90%;
	background: #fff;
	transform: translate(-50%,-50%);
}
[class^="input"]{
	position: relative;
	width: 50%;
	text-align: center;
	font-size: 4vh;
}
.input-1, .input-2{
	border:2px solid #000;
	background: #fce5cd;
}
.inputcontainer{
	position: absolute;
	bottom: 5%;
	height: 22%;
	width: 21%;
	left: 50%;
	transform: translate(-50%);
}
.linecls{
	position: relative;
	left: 10%;
	width: 80%;
	height: 2%;
	background: #000;
}
#linesvg{
	position: absolute;
	bottom: 30%;
	left: 0%;
	width: 100%;
	height: 30%;
}
#Layer_1{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.check{
	position: absolute;
	top: 80%;
	right: 14%;
	background: #2e4fe1;
	border: 3px solid #152467;
	color: #fff;
	font-family: proximaNova;
	padding: 1%;
	font-size: 3vh;
	border-radius: .5em;
	width: 20%;
}
.corClass{
	background: #98c02e;
	border: 3px solid #ff0;
	border-radius: .4em;
}
.incorClass{
	background: #ff0000;
	border: 3px solid #980000;
	border-radius: .4em;
}
.corincorimg{
	position: absolute;
	right: 100%;
	width: 27%;
	bottom: 37%;
	display: none;
}
.score{
	position: absolute;
	right: 7%;
	font-family: proximaNova;
	font-size: 4vh;
	width: 30%;
}
.scrCount{
	background: #f00;
}
.scrdiv{
	position: absolute;
	right: 0%;
	top: 12%;
	width: 30%;
	height: 15%;
}
.score{
	position: absolute;
	left: 0%;
	font-family: proximaNova;
	font-size: 4vh;
	width: 63%;
	top: 50%;
	transform: translateY(-50%);
}
.scrcont{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 2px solid #000;
	width: 37%;
	right: 3%;
	height: 47%;
	border-radius: .4em;
	text-align: center;
}
.quesn{
	position: absolute;
	background: #364f6b;
	color: #fff;
	font-family: Abeezee;
	left: 0%;
	width: 100%;
	top: 36%;
	transform: translateY(-50%);
	padding: 1%;
	font-size: 3vh;
}
.tpinstrn{
	position: absolute;
	top: 0%;
	padding: 1%;
	background: #fce5cd;
	font-family: proximaNova;
	left: 0%;
	width: 100%;
	color: #f00;
	font-size: 3.5vh;
}
@media(min-aspect-ratio:4/3){
	.diyTxt{
		font-size: 8vh;
	}
	.score,.scrcont{
		font-size: 4vh;
	}
}
