.bg{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	background-color: #fc5185;
}

.backgr{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	background-color: #ffe7d7;
}

.back-ground{
	position: absolute;
	width: 90%;
	top: 5%;
	left: 5%;
	height: 90%;
	background-color: #f5f5f5;
}


.mainImgCont{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
}

.svgCnt{
	position: absolute;
	width: 100%;
	left: 0%;
	height: 100%;
	top: 0%;
}

#ovalsvg{
	position: absolute;
	width: 70%;
	left: 15%;
	height: 70%;
	top: 15%;
}
#box{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.natural-num{
	position: absolute;
	width: 16%;
	top: 43%;
	left: 31%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.2vw;
  z-index: 1;
}

.whole-num{
	position: absolute;
	width: 16%;
	top: 43%;
	left: 46%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.2vw;
	z-index: 1;
}

.int-num{
	position: absolute;
	width: 16%;
	top: 44%;
	left: 56%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.2vw;
		z-index: 1;
}

.rational-num{
	position: absolute;
	width: 16%;
	top: 40%;
	left: 68%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.2vw;
  cursor: pointer;
  -webkit-animation: naturalnumflash linear 1s infinite;
	animation: naturalnumflash linear 1s infinite;
	z-index: 1;
}

@-webkit-keyframes naturalnumflash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

@keyframes naturalnumflash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
#path04{
		-webkit-animation: naturalnum linear 1s infinite;
		animation: naturalnum linear 1s infinite;
    cursor: pointer;
	}

	@-webkit-keyframes naturalnum {
		0% { opacity: 1; }
		50% { opacity: .1; }
		100% { opacity: 1; }
	}

	@keyframes naturalnum{
		0% { opacity: 1; }
		50% { opacity: .1; }
		100% { opacity: 1; }
	}

.toptext{
  position: absolute;
  width: 100%;
  top: 7%;
  left: 0%;
  font-size: 3.2vw;
  font-family: josefinsans;
  color: #e2434b;
}

.fracdiv{
	position: absolute;
	width: 60%;
	left: 20%;
	height: 15%;
	top: 22%;
	background-color: #364f6b;
	border-radius: 0.5em;
}

.text{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.3vw;
  font-family: ABeeZee;
  color: #fff;
}

.fracdiv1{
  top: 44%;
	display: none;
}

.fracdiv2{
  top: 81%;
	display: none;
}

.fracdiv3{
	display: none;
}

.frac-text{
	position: absolute;
	font-size: 3vw;
}
.frac-2{
	left: 0%;
	transform: translateY(-23%);
	top: 0%;
	color: #fff;
}

.div-div{
	position: absolute;
	width: 60%;
	left: 20%;
	height: 15%;
	top: 62%;
	display: none;
}

.frac-1{
	left: 20%;
	transform: translateY(-23%);
	top: 0%;
	color: #fc5185;
}

.top {
    border-bottom: 0.1em solid #fc5185;
}

.numera{
	position: absolute;
	width: 60%;
	left: 40%;
	top: 10%;
	font-size: 2.0vw;
	font-family: Abeezee;
}

.demure{
	position: absolute;
	width: 60%;
	left: 40%;
	top: 56%;
	font-size: 2.0vw;
	font-family: Abeezee;
}

.arrow1{
	position: absolute;
	width: 10%;
	transform: rotate(-44deg);
	left: 35%;
	top: 0%;
}

.arrow2{
	position: absolute;
	width: 10%;
	transform: rotate(-44deg);
	left: 35%;
	top: 40%;
}

.titletext{
	position: absolute;
	width: 100%;
	top: 0%;
	color: #e2434b;
	font-family: josefinsans;
	font-size: 3.0vw;
	left: 0%;
	display: none;
	text-align: left;
}

.smallbox{
position: absolute;
width: 10%;
background-color:  #364f6b;
height: 12%;
left: 5%;
top: 26%;
border-radius: 0.5em;
color: #fff;
display: none;
}

.smallbox2{
	left: 25%;
}
.smallbox3{
	left: 45%;
}
.smallbox4{
	left: 65%;
}
.smallbox5{
	left: 85%;
}

.txt{
	font-size: 2.2vw;
	font-family: proximanova;
	top: 50%;
	left: 0%;
	transform: translateY(-70%);
}

.middletext{
	position: absolute;
	width: 100%;
	top: 47%;
	height: 5%;
	left: 0%;
	display: none;
}

.middle-text{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2.3vw;
  font-family: ABeeZee;
  color: #000;
}

.svgContainer{
	position: absolute;
	width: 100%;
	top: 65%;
	left: 0%;
	height: 28%;
	/* display: none; */
}
.svgdivcontainer{
	position: absolute;
	left: 14%;
	top: 0%;
	height: 80%;
	width: 73%;
}
.numcontainer{
	position: absolute;
	left: 14%;
	bottom: 6%;
	height: 15%;
	width: 73%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#svgline{
	position: absolute;
	width: 100%;
	left: 0%;
	height: 100%;
	top: 0%;
}
[class*=boxNum]{
	position: absolute;
	width: 6%;
	height: 100%;
	color: #0097a7;

}
.boxNum0{
	left: 11%;
	display: none;
}
.boxNum1{
	left: 26% !important;
	display: none;
}
.boxNum2{
	display: none;
}
.boxNum3{
	left: 54% !important;
	display: none;
}
.boxNum4{
	left: 68.5% !important;
	display: none;
}
.boxNum5{
	left: 83% !important;
	display: none;
}
#arrow-svg{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	/* -webkit-animation: arrowanim 3s linear forwards; */
	/* clip: rect(0em, 0em, 6em, 0em); */
	/* animation: arrowanim 3s  linear forwards; */
}

@-webkit-keyframes arrowanim{
 100%{	clip: rect(0em, 47em, 10em, 0em);	}
}

@keyframes arrowanim{
 100%{	clip: rect(0em, 47em, 10em, 0em);	}
}

.number-0{
	position: absolute;
top: 75%;
left: 17%;
font-family: proximanova;
width: 4%;
height: 4%;
font-size: 2.2vw;
}

@media(min-aspect-ratio:4/3){
  .rational-num,.frac-text{
		font-size: 4.0vh;
	}
	.whole-num,.int-num,.natural-num,.text,.imgcontext{
		font-size: 2.2vh;
	}
  .toptext{
    font-size: 5.5vh;
  }
  .text,.middle-text{
    font-size: 3.5vh;
  }
	.numera,.demure,.txt,.number-0{
		font-size: 2.5vh;
	}
	.titletext{
		font-size: 4vh;
	}
	.mark-element>p{
		font-size: 2.8vh;
	}
}
