.bg{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	background-color: #fc5185;
}

.backgr{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	background-color: #ffe7d7;
}

.back-ground{
	position: absolute;
	width: 90%;
	top: 5%;
	left: 5%;
	height: 90%;
	background-color: #f5f5f5;
}


.mainImgCont{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
}

.svgCnt{
	position: absolute;
	width: 100%;
	left: 0%;
	height: 100%;
	top: 0%;
}

#ovalsvg{
	position: absolute;
	width: 70%;
	left: 15%;
	height: 70%;
	top: 15%;
}
#box{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.natural-num{
	position: absolute;
	width: 14%;
	top: 44%;
	left: 32%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.0vw;
  z-index: 1;
	height: auto;
	-webkit-animation: naturalanim 3s forwards 2s linear;
	animation: naturalanim 3s forwards 2s linear;
}
@-webkit-keyframes naturalanim{
	100%{
	position: absolute;
	top: 84%;
	width: 20%;
	left: 14%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	border: 2px solid #839fff;
	color: #000;
}

}
@keyframes naturalanim{
100%{
	position: absolute;
	top: 84%;
	width: 20%;
	left: 14%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	border: 2px solid #839fff;
	color: #000;
}
}
.whole-num{
	position: absolute;
	width: 11%;
	top: 43%;
	left: 48.5%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.0vw;
	z-index: 1;
}
.whole-num1{
	position: absolute;
	width: 11%;
	top: 43%;
	left: 48.5%;
	color: #fff;
  font-family: josefinsans;
  font-size: 2.0vw;
  z-index: 1;
	-webkit-animation: wholeanim 3s forwards 2s linear;
	animation: wholeanim 3s forwards 2s linear;
}
@-webkit-keyframes wholeanim{
	100%{
		position: absolute;
	top: 84%;
	width: 20%;
	left: 40%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	border: 2px solid #839fff;
	color: #000;
	}
}

@keyframes wholeanim{
100%{
	position: absolute;
	top: 84%;
	width: 20%;
	left: 40%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	border: 2px solid #839fff;
	color: #000;
}
}
.whole-num2{
	position: absolute;
	top: 84%;
	width: 20%;
	left: 40%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	border: 2px solid #839fff;
	color: #000;
	z-index: 1;
}

.int-num{
	position: absolute;
	width: 12%;
	top: 44%;
	left: 58%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.0vw;
	z-index: 1;
}

.int-num1{
	position: absolute;
	width: 12%;
	top: 44%;
	left: 58%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.0vw;
	z-index: 1;
	-webkit-animation: intanim 3s forwards 2s linear;
	animation: intanim 3s forwards 2s linear;
	}
	@-webkit-keyframes intanim{
		100%{
			position: absolute;
			top: 84%;
			width: 18%;
			left: 66%;
			background: #c3d0fb;
			border-radius: 0.5em;
			height: auto;
			padding: 1%;
			border: 2px solid #839fff;
			color: #000;
}
}

	@keyframes intanim{
	100%{
		position: absolute;
		top: 84%;
		width: 18%;
		left: 66%;
		background: #c3d0fb;
		border-radius: 0.5em;
		height: auto;
		padding: 1%;
		border: 2px solid #839fff;
		color: #000;
}
}
.int-num2{
position: absolute;
top: 84%;
width: 18%;
left: 66%;
background: #c3d0fb;
border-radius: 0.5em;
height: auto;
padding: 1%;
border: 2px solid #839fff;
color: #000;
z-index: 1;
}

.rational-num{
	position: absolute;
	width: 13%;
	top: 43%;
	left: 69%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.0vw;
	cursor: pointer;
	z-index: 1;
}

.rational-num1{
	position: absolute;
	width: 14%;
	top: 43%;
	left: 68%;
	color: #fff;
	font-family: josefinsans;
	font-size: 2.0vw;
  cursor: pointer;
	z-index: 1;
	-webkit-animation: ratanim 3s forwards 2s linear;
	animation: ratanim 3s forwards 2s linear;
	}
	@-webkit-keyframes ratanim{
		100%{
	position: absolute;
	top: 66%;
	width: 20%;
	left: 77%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	border: 2px solid #839fff;
	color: #000;
}
}
	@keyframes ratanim{
	100%{
	position: absolute;
	top: 66%;
	width: 20%;
	left: 77%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	border: 2px solid #839fff;
	color: #000;
}
}

.title-box{
  position: absolute;
  width: 100%;
  top: 0%;
  height: 20%;
  left: 0%;
  font-size: 4.5vw;
  font-family: proximanova;
  color: #000;
}

.title{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.Summarybox{
	position: absolute;
	width: 19%;
	height: 30%;
	left: 80%;
	top: 2%;
	background-color: #c3d0fb;
	border-radius: 0.5em;
	font-size: 2.0vw;
	font-family: proximanova;
}
.Summary-box{
	position: absolute;
	width: 19%;
	height: 30%;
	left: 80%;
	top: 2%;
	background-color: #c3d0fb;
	border-radius: 0.5em;
	font-size: 2.0vw;
	font-family: proximanova;
}

.bold{
	font-weight: bold;
}

.n1{
	position: absolute;
	width: 20%;
	top: 42%;
	left: 28%;
	z-index: 1;
	color: #fff;
  display: none;
}
.n2{
	position: absolute;
	width: 20%;
	top: 46%;
	left: 28%;
	z-index: 1;
	color: #fff;
  display: none;
}
.n3{
	position: absolute;
	width: 20%;
	top: 50%;
	left: 30%;
	z-index: 1;
  display: none;
	color: #fff;
}
.n0{
	position: absolute;
	top: 43%;
	z-index: 1;
	left: 52%;
	color: #fff;
	display: none;
}

.nn1{
	position: absolute;
	top: 40%;
	z-index: 1;
	left: 62%;
	color: #fff;
	display: none;
}

.nn4{
	position: absolute;
	top: 44%;
	z-index: 1;
	left: 64%;
	color: #fff;
	display: none;
}

.nn10{
	position: absolute;
	top: 47%;
	z-index: 1;
	left: 60%;
	color: #fff;
	display: none;
}
.txt1{
	position: absolute;
	top: 47%;
	z-index: 1;
	left: 70%;
	color: #fff;
	display: none;
}
.txt2{
	position: absolute;
	top: 40%;
	z-index: 1;
	left: 75%;
	color: #fff;
	display: none;
}
.txt3{
	position: absolute;
	top: 29%;
	z-index: 1;
	left: 70%;
	color: #fff;
	display: none;
}
.txt4{
	position: absolute;
	top: 21%;
	z-index: 1;
	left: 62%;
	color: #fff;
	display: none;
}
.top{
	border-bottom: 0.1em solid #fff;
}
.arro{
	position: absolute;
	width: 16%;
	left: 23%;
	transform: rotate(-135deg);
	top: 59%;
	z-index: 1;
	display: none;
	-webkit-animation: arrowanim 3s linear forwards;
	clip: rect(0em, 0em, 6em, 0em);
	animation: arrowanim 3s linear forwards;
}

	@-webkit-keyframes arrowanim{
	100%{	clip: rect(1em, 13em, 20em, 0em);	}
	}

	@keyframes arrowanim{
	100%{clip: rect(1em, 13em, 20em, 0em);	}
	}
.arro1{
	position: absolute;
	width: 16%;
	left: 23%;
	transform: rotate(-135deg);
	top: 59%;
	z-index: 1;
		clip: rect(1em, 13em, 20em, 0em);
}

.arro2{
	position: absolute;
	width: 12%;
	left: 50%;
	transform: rotate(-135deg);
	top: 61%;
	z-index: 1;
	display: none;
}
.arro3{
	position: absolute;
	width: 14%;
	left: 60%;
	transform: rotate(-135deg);
	top: 60%;
	z-index: 1;
	display: none;
}
.arro4{
	position: absolute;
	width: 7%;
	left: 79%;
	transform: rotate(-135deg);
	top: 58%;
	z-index: 1;
	display: none;
}


.natural-num1{
	position: absolute;
	top: 84%;
	width: 20%;
	left: 14%;
	background: #c3d0fb;
	border-radius: 0.5em;
	height: auto;
	padding: 1%;
	z-index: 2;
	border: 2px solid #839fff;
	color: #000;
	}
@media(min-aspect-ratio:4/3){

	.int-num1,.rational-num1,.whole-num,.int-num,.natural-num,.rational-num,.numsys,.natural-num1,.whole-num1,.whole-num2,.int-num2{
			font-size: 2.0vh;
		}
    .title-box{
      font-size: 5.5vh;
    }
		.summarybox{
			font-size: 2.2vh;
		}
		.summary-box{
			font-size: 2.2vh;
		}
}
