.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: rgb(135,224,253); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(135,224,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(135,224,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(135,224,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(135,224,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(135,224,253,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(135,224,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#87e0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 50%;
	right: 2%;
	display: none;
	width: 8%;
}

.nextBtn:hover #activityNextHoverBtn
{
	display: block;
}

.nextBtn:hover #activityNextBtn
{
	display: none;
}

.title {
	font-size: 1.6em;
	width: 100%;
	height: 15%;
	color: #fff;
	margin: auto;
	margin-top: 3%;
	text-align: center;
	display: none;
}

.prevBtn {
	cursor: pointer;
	position: absolute;
	color: #006400;
	font-size: 2em;
	z-index: 100;
	left: 2%;
	top: 80%;
	display: none;
}

.advancement {
	width: 100%;
	position: absolute;
	z-index: 100;
	height: 15%;
	bottom: 0;
	display: none;
	/*background: #000;*/
}

.advancement .tortoise {
	position: absolute;
	width: 10%;
	display: inline-block;
	bottom: 20%;
	left: 0%;
	padding-left: 10px;
	padding-right: 10px;
}

.advancement .tortoise img {
	width: 100%;
}

.advancement .tortoise #tortoise2{
	display: none;
}

.advancement #flag {
	width: 8%;
	/*background: #c9c9c9;*/
	display: inline-block;
	position: absolute;
	right: 5%;
	bottom: 10%;
}

.advancement .green {
	background: #006400;
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
}

.board {
	width: 100%;
	text-align: center;
}

.board .wrapper {
	width: 100%;
	box-shadow: 0 -10px 10px -10px #383838;
}

.qAHolder {
	display: inline-block;
	width: 85%;
}

.question {
	width: 95%;
	text-align: center;
	/*color: rgba(142, 25, 171, 1);*/

	/*background: #c9c9c9;*/
	background: url(../images/pattern1.png);
	margin: auto;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 10px 10px -5px #393939;
}

.question span.quest {
	font-size:1.6em;
	color: #216EE0;
	text-shadow: 1px 0px #c9c9c9;
}

.answers {

}

.imgCrot {
	/*background: #000;*/
	width: 10%;
	position: absolute;
	right: -5%;
	z-index: 10;
}

.imgCrot img {
	width: 100%;
}

.imgCrot .correctImg, .imgCrot .wrongImg {
	display: none;
}

.answers ul li {
	display: inline-block;
	width: 20%;
	margin-top: 15px;
	padding: 2% 0%;
	border-radius: 10px;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #006400;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
}

.answers ul li img {
	margin: auto;
	width: 50%;
	display: block;
}
.multipleImg li {
	vertical-align: top;
	/*height: 50%;*/
    /*min-height: 50%;*/
    max-height: 50%;
    font-size: 0.8em;
}

.answers .neutral:hover {
	/*background: #363EC4;*/
	background: #EAE24F;
	color: #484848;
	/*background: url(../images/pattern2.jpg);*/
	/*color: #fff;*/
}

.neutral {
	background: #EAE24F;
	/*background: url(../images/pattern2.jpg);*/
	background: #3498db;
	color: #fff;
	font-size: 1.3em;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

.imgHolder {
	display: inline-block;
	width: 25%;
	margin-top: 5%;
	vertical-align: top;
	/*box-shadow: 0 10px 10px -10px #383838;*/
}

.imgHolder img {
	width: 100%;
}

.result {
	width: 60%;
	position: absolute;
	bottom: 5%;
	left: 20%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	padding: 2%;
	color: #fff;
	box-shadow: 0 10px 10px #383838;
	font-size: 1.3em;
	display: none;
}

.wrong {
	/*background: #FE0300;*/
	background: #B23737;
	/*color: #c9c9c9;*/
	color: #fff;

}

.right  {
	background: green;
	color: #fff;
}

/*storys*/
.storyWrapper {
	width: 100%;
	height: 100%;
}

.storyWrapper #sun {
	position: absolute;
	/*z-index: 5;*/
	top: -5%;
	right: 0%;
}

.storyWrapper .storyBoard {
	margin: 7% auto;
	padding: 10px;
	width: 70%;
	min-height: 40%;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 10px #c9c9c9;
	z-index: 3;
	text-align: justify;
}

.storyWrapper .enter {
	position: absolute;
	width: 40%;
	padding: 10px;
	background: #006400;
	background: url(../images/greenbtn.png);
	background-size: 10px 100%;
	border-radius: 10px;
	text-align: center;
	left: 30%;
	bottom: 10%;
	cursor: pointer;
	color: #fff;
	z-index: 6;
}

.storyWrapper #storyTeller {
	position: absolute;
	width: 15%;
	left: 0%;
	bottom: 12%;
	z-index: 5;
	box-shadow: 0 10px 15px -15px #006400;
}

.storyWrapper #storyFlag {
	position: absolute;
	width: 18%;
	right: 7%;
	bottom: 10%;
	transform : rotate(20deg);
	z-index: 2;
}

.endBoard {
	margin: 25% auto;
	width: 80%;
	background: #fff;
	/*height: 50%;*/
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 10px 10px -10px #383838;
}

.repeat {
	position: absolute;
	font-size: 2em;
	top: 35%;
	right: 50%;
	z-index: 10;
	color: #006400;
	display: none;
	cursor: pointer;
}

.hint {
	display: block;
}

.hintBox {
	width: 400%;
	min-height: 10px;
	background: #fff;
	padding: 10px;
	margin: 0 0 40% 0;
	border: 1px solid #7F7F7F;
	border-radius: 10px;
	display: none;
	/*position: absolute;*/
}

.hintBox:after {
	background: url(../images/bubble-tail.png);
	background-size: 100% 100%;
	position: absolute;
	width: 20px;
	height: 25px;
	left: 23%;
	top: 105%;
	content: " ";
}

.rhino {
	cursor: pointer;
}