@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}
.grassbg{
  background-image: url("../images/bg01.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.coverbg{
  background-image: url("../images/cover_page.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.plainbluebg{
  background: linear-gradient(#4fc7eb, white);
}
.chapter_title {
	position: absolute;
	top: 19%;
	left: 50%;
	font-family: sniglet;
	font-size: 8vmin;
	transform: translate(-50%,-50%);
	color: black;
	font-weight: bold;
}
.speechbox.sp-1 {
	position: absolute;
	top: 32%;
	left: 22%;
	height: 21%;
	width: 38%;
	animation: fadein 1s linear forwards;
}
.speechbox.sp-2 {
	position: absolute;
	top: 47%;
	left: 29%;
	height: 18%;
	width: 40%;
	animation: fadein 1s linear forwards;
}
.speechbox.sp-3 {
	position: absolute;
	top: 27%;
	left: 25%;
	height: 18%;
	width: 35%;
	animation: fadein 1s linear forwards;
}
.speechbox.sp-4 {
	position: absolute;
	top: 47%;
	left: 46%;
	height: 16%;
	width: 34%;
	animation: fadein 1s linear forwards;
}
.infobot {
	position: absolute;
	height: 7%;
	width: 38%;
	left: 34%;
	top: 63%;
	font-family: sniglet;
	font-size: 2.7vw;
	transform: translate(-50% -50%);
}
.one,.two {
	position: absolute;
	height: 7%;
	width: 38%;
	left: 26%;
	top: 15%;
	font-family: sniglet;
	font-size: 4.7vw;
	color: #9900ff;
	transform: translate(-50% -50%);
  opacity: 0;
}
.two {
	left: 40% !important;
}
.onehalf, .twohalf {
	position: absolute;
	height: 7%;
	width: 38%;
	left: 28%;
	top: 15%;
	font-family: sniglet;
	font-size: 1.5vw;
	color: #9900ff;
	transform: translate(-50% -50%);
	opacity: 0;
}
.twohalf {
	left: 38% !important;
}
.label1,.label2,.label3{
  position: absolute;
  height: 7%;
  width: 38%;
  left: 2%;
  top: 79%;
  font-family: sniglet;
  font-size: 2.0vw;
  color: #9900ff;
  transform: translate(-50% -50%);
  opacity: 0;
}
.label2{
  left: 36%;
}
.label3{
  left: 57%;
}
.dotted {
	position: absolute;
	top: 4%;
	left: 52%;
	height: 36%;
	transform: translate(-50% -50%);
	z-index: 99;
	opacity: 0;
	animation: fadein 1s 1.5s forwards;
}
.suriclass {
	position: absolute;
	top: 50%;
	left: 7%;
	height: 31%;
	width: 21%;
}

.gopalclass{
  position: absolute;
	top: 52%;
	left: 78%;
	height: 29%;
	width: 19%;
}
.rotihalfl{
  position: absolute;
	height: 36%;
	width: 22%;
	left: 41%;
	top: 4%;
  cursor: pointer;
  animation: pulsing 1s forwards infinite;
}
.rotihalfr{
  position: absolute;
	height: 36%;
	width: 22%;
	left: 41%;
	top: 4%;
  cursor: pointer;
  animation: pulsing 1s forwards infinite;
}

.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8{
    position: absolute;
    transform: translate(-50% -50%);
}
.answer {
	position: absolute;
	transform: translate(-50%,-50%);
	height: 73%;
	width: 80%;
	left: 54%;
	top: 50%;
  font-size: 1.8vw;
}
.answerr {
	position: absolute;
	transform: translate(-50%,-50%);
	height: 52%;
	width: 73%;
	left: 44%;
	top: 42%;
	font-size: 1.8vw;
}
.answer1 {
	position: absolute;
	transform: translate(-50%,-50%);
	font-family: sniglet;
	font-size: 1.8vw;
	height: 73%;
	width: 73%;
	left: 43.4%;
	top: 73%;
	opacity: 0;
	animation: fadein 1s forwards;
}
.answer2 {
	position: absolute;
	transform: translate(-50%,-50%);
  font-size: 1.7vw;
	height: 73%;
	width: 80%;
	left: 54%;
	top: 50%;
}
.textbot {
	position: absolute;
	height: 7%;
	width: 38%;
	left: 34%;
	top: 77%;
	background-color: #e46b7e;
	border-radius: 0.4em;
	font-family: sniglet;
	font-size: 1.8vw;
	color: white;
	transform: translate(-50% -50%);
}
.textbotanim{
	animation: pulsing 3s ease-in-out infinite;
}
.purple{
  color: #9900ff;
}
.texttop {
	position: absolute;
	height: 7%;
	width: 80%;
	left: 12%;
	top: 5%;
	/* background-color: #e46b7e; */
	/* border-radius: 0.4em; */
	font-family: sniglet;
	font-size: 2.4vw;
	color: black;
  opacity: 0;
  animation: fadein 1s forwards;
	/* transform: translate(-50% -50%); */
}
.roticlass {
	position: absolute;
	height: 36%;
	width: 22%;
	left: 41%;
	top: 4%;
  cursor: pointer;
}
.roti40class {
	position: absolute;
	height: 36%;
	width: 22%;
	left: 41%;
	top: 4%;
  cursor: pointer;
  animation: pulsing 1s forwards infinite;
}
.roti60class {
	position: absolute;
	height: 36%;
	width: 22%;
	left: 41%;
	top: 4%;
  cursor: pointer;
  animation: pulsing 1s forwards infinite;
}
.image1 {
	height: 12%;
	width: 8%;
	left: 52%;
	top: 26%;
}
.image2 {
	height: 13%;
	width: 13%;
	left: 79.3%;
	top: 25%;
}
.image3 {
	height: 18%;
	width: 11%;
	left: 87.4%;
	top: 77%;
}
.image4 {
	height: 14%;
	width: 10%;
	left: 59.2%;
	top: 65.2%;
}
.image5 {
	height: 9%;
	width: 6%;
	left: 89.9%;
	top: 64.5%;
	transform: scaleX(-1);
}
.image6 {
	height: 8%;
	width: 7%;
	left: 27.2%;
	top: 66%;
}
.image7 {
	height: 8%;
	width: 6%;
	left: 36.3%;
	top: 50%;
	transform: rotate(40deg);
}
.image8 {
	height: 5%;
	width: 4%;
	left: 17%;
	top: 66.5%;
}

/*  100% {
      transform: scale(1);
      transform-origin: initial;
  }*/


@keyframes fadein{
  0%
  {
     opacity:0;
  }

  100%
  {
    opacity:1;
  }
}

@keyframes slidefromleft{
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
.pulse{
  animation: pulsing 1s forwards infinite;
}
@keyframes pulsing {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	50% {
		-webkit-transform: scale(0.9, 0.9);
		transform: scale(0.9, 0.9);
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}
.name{
	position: absolute;
	width: 10%;
	height: 10%;
	bottom: 20%;
	left: 11%;
	font-size: 1.5vw;
}
.gopalname{
	left:79%;
	bottom:18%;
}
.fraction2{
	font-size: 1.5vw;
}