.purplebg{
    background-color: rgb(215,55,92);
}
.bg_full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.prem {
    position: absolute;
    height: 50%;
    top: 32%;
    left: 11%;
}
.sagar {
    position: absolute;
    height: 50%;
    top: 32%;
    left: 70%;
}
.chaptertitle {
    position: absolute;
    font-size: 6vw;
    font-family: chelseamarket;
    color: #003F68;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 30%;
}
.template-dialougebox2-top-white{
    font-size: 2vw;
    font-family: sniglet;
    left: 11%;
    top: 8%;
}
.template-dialougebox2-top-flipped-white{
    font-size: 2vw;
    font-family: sniglet;
    left: 60%;
    top: 9%;
}
.pari {
    position: absolute;
    width: 10%;
    top: 24%;
    left: 4%;
}
.countone,.counttwo {
    position: absolute;
    background: white;
    font-size: 3vw;
    font-family: sniglet;
    width: 8%;
    border-radius: 50%;
    left: 31%;
    top: 17%;
}
.counttwo{
    left: 52%
}
.leftpeople {
    position: absolute;
    top: 41%;
    height: 40%;
    left: 11%;
}
.rightpeople {
    position: absolute;
    top: 44%;
    height: 40%;
    left: 59%;
}
[class*="template-dialougebox2-top-flipped-white"]::after{
    content: none !important;
}
[class*="template-dialougebox2-top-white"]::after{
    content: none !important;
}

.one, .two, .three {
    width: 10%;
    top: 40%;
    position: absolute;
}
.one {
    left: 33%;
    height: 42%;
    width: 14%;
}
.three {
    left: 65%;
}

.onetext, .twotext, .threetext {
    font-size: 3vw;
    font-family: sniglet;
    width: 7%;
    background: white;
    position: absolute;
    top: 24%;
    border-radius: 50%;
}
.onetext {
    left: 37%;
}
.twotext {
    left: 51%;
}
.threetext {
    left: 67%;
}
.mainquestion {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    background: rgb(255,229,153);
    padding: 1%;
    border-radius: .3em;
    transform: translateX(-50%);
    left: 50%;
    top: 2%;
}
.toptext {
    position: absolute;
    font-family: sniglet;
    font-size: 3vw;
    padding: 1%;
    border-radius: .3em;
    transform: translateX(-50%);
    left: 50%;
    top: 7%;
}
.liketext {
    position: absolute;
    font-family: chelseamarket;
    font-size: 3vw;
    padding: 1%;
    border-radius: .3em;
    top: 18%;
    width: 100%;
}
.subquestion {
    font-family: chelseamarket;
    font-size: 4vw;
    position: absolute;
    top: 40%;
    left: 27%;
    color: black;
}
.big{
    font-size: 5vw;
}
.cloud {
    position: absolute;
    width: 50%;
    top: 29%;
    left: 16%;
}
.question1 {
    position: absolute;
    width: 13%;
    top: 16%;
    left: 30%;
}
.question2 {
    position: absolute;
    width: 23%;
    top: 15%;
    left: 48%;
}
.option1, .option2, .option3 {
    position: absolute;
    height: 25%;
    top: 65%;
    background:rgba(237,200,125,.8);
    padding: 2%;
    border-radius: 1.4em;
    left: 13.25%;
    cursor: pointer;
    z-index: 99;
}
.option3 {
    left: 66%;
}
.option2{
    left: 38.25%;
}
.option1:hover, .option2:hover, .option3:hover {
    background: rgb(237,200,125);
    transform: scale(1.1);
    transition:.3s;
}
.first, .second, .third, .fourth, .fifth {
    position: absolute;
    height: 40%;
    top: 42%;
}
.first {
    left: 26%;
}
.second {
    left: 36%;
}
.third {
    left: 46%;
}
.fourth {
    left: 58%;
}
.fifth {
    left: 68%;
}
.textfive, .textone, .texttwo, .textthree, .textfour {
    position: absolute;
    font-size: 3vw;
    background: white;
    width: 6%;
    border-radius: 50%;
    font-family: sniglet;
    top: 28%;
}
.textone {
    left: 27%;
}
.texttwo {
    left: 38%;
}
.textthree {
    left: 49%;
}
.textfour {
    left: 60%;
}
.textfive {
    left: 71%;
}
.uptext {
    background: rgb(255,242,204);
    position: absolute;
    width: 100%;
    font-family: sniglet;
    font-size: 3vw;
    top: 8%;
    /* padding-top: 2%; */
    top: 0;
}
.elephant {
    position: absolute;
    width: 22%;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
}
.focus {
    position: absolute;
    animation: focuss 2s ease-in forwards infinite;
    left: 50%;
}
.orangebg{
  background: #F4C793;
}
/* [class*="template-dialougebox"] 
{
  cursor: none;
} */
@keyframes focuss{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2.4);
    }
    100%{
        transform: scale(1);
    }
}
@media (min-aspect-ratio: 4/3){
    .chaptertitle {
        font-size: 14vmin;
    }
    .template-dialougebox2-top-flipped-white,.template-dialougebox2-top-white{
        font-size: 3vmin;
    }
    .onetext, .twotext, .threetext,.textfive, .textone, .texttwo, .textthree, .textfour,.toptext{
        font-size: 6vmin;
    }
    .mainquestion{
        font-size: 4.5vmin;
    }
    .liketext,.subquestion{
        font-size: 11vmin;
    }
    .big{
        font-size: 14vmin;
    }
    .uptext{
        font-size: 5.5vmin;
    }
}
