.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

  .vertical-horizontal-center {
    height: 48%;
    left: 50%;
    position: relative;
    text-align: center;
    top: 58%;
    transform: translate(-50%, -50%);
}

    .vertical-center{
        position          : relative;   
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/
        
        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }
        
    /*=====  End of HeaderBlock  ======*/
    
    /*====================================
    =            ContentBlock            =
    ====================================*/
        
        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        } 

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/
        
        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238); 
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow    : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow         : inset 0px 1px 1px 0px rgba(255,255,255,.4);
    
            -webkit-border-radius : 4px;
            -moz-border-radius    : 4px;
            border-radius         : 7px;
        
            background-image : -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }
        
    /*=====  End of InstructionBlock  ======*/
        
        
    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
           
            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;
            
            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        .swipebackgroundstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        .swipebackgroundstyle:after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;
            
            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        .swipebackgroundstyle:before{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;
            
            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        .royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        .orangehighlight{
            color : rgb(197,6,6);
        }

        .textalignleft{
            text-align: left;
        }

    /*=====  End of Text Block  ======*/
    
    /*=====================================
    =            svg block                =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer > svg{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

    /*=====  End of svg block  ======*/

    /*===================================
    =            Image Block            =
    ===================================*/
    
      div.imageblock {
    height: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    position: relative;
}

        img.singleimgstyle{ 
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;          
            width    : 40%;
        }   

        div.imageblock label{
           position : absolute;
        } 

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }    

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+3){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }        
    /*=====  End of Image Block  ======*/
    
/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/
    
    div.miscblock,
    div.numericalblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;

        /*border : 1px solid red;*/
    }

    /*slide 1, 2*/
        img.slide1img1,
        img.slide2img1{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
        }

        label.slide1homelabel,
        label.slide2homelabel{
            position  : absolute;
            top       : 88%;
            left      : 6%;
            font-size : 1.3em;
            color     : black;
        }

        label.slide1schoollabel,
        label.slide2schoollabel{
            position  : absolute;
            top       : 40%;
            left      : 80%;
            font-size : 1.3em;
            color     : black;
        }

        .slide1detailtext,
        .slide2detailtext,
        .slide3detailtext,
        .slide4detailtext,
        .slide6detailtext{
            position      : absolute;
            width         : 60%;
            right         : 0%;
            bottom        : 10%;
            background    : #000000;
            padding       : 1% 2% 1% 1%;
            text-align    : left;
            border-radius : 0.3em 0 0 0.3em;
            font-size     : 1.3em;
            color         : #ffffff;
        }

    /*slide 3, 4, 5, 6*/
        img.slide3img1,
        img.slide4img1,
        img.slide5img1,
        img.slide6img1,
        img.slide7img1{
            position : absolute;
            top      : 0%;
            left     : 5%;
            width    : 70%;
        }

        span.subscript{
            vertical-align : sub;
            font-size      : smaller;
        }

    /*slide 5*/
        .slide5detailtext{
            position      : absolute;
            width         : 28%;
            right         : 37%;
            bottom        : 67%;
            background    : #000000;
            padding       : 1% 2% 1% 1%;
            text-align    : left;
            border-radius : 0.3em 0 0 0.3em;
            font-size     : 1.3em;
            color         : #ffffff;
        }

    /*slide 6*/
        div.userinputcontainer{
            position: absolute;
            text-align: right;
        }

        div.userinputcontainer.slide6inputcontainer{
            top      : 27%;
            right    : 36%;
            /*border   : 1px solid red;*/
        }        

        div.userinputcontainer.slide6inputcontainer input[type=text]{
            width : 15%;
        }

        div.userinputcontainer.slide7inputcontainer{
            top              : 45%;
            right            : 10%;
            /*border         : 1px solid red;*/
        }

        div.userinputcontainer.slide7inputcontainer input[type=text]{
            width : 15%;
        }

        div.userinputcontainer.slide12inputcontainer{
            top              : 85%;
            right            : 30%;
            /*border         : 1px solid red;*/
        }

        div.userinputcontainer.slide12inputcontainer input[type=text]{
            width : 15%;
        }

        div.userinputcontainer.slide13inputcontainer{
            top              : 75%;
            right            : 30%;
            /*border         : 1px solid red;*/
        }

        div.userinputcontainer.slide13inputcontainer input[type=text]{
            width : 15%;
        }

        div.userinputcontainer input[type=text]{
            border           : 2px solid grey;
            border-radius    : 3px;
            background-color : rgb(255, 229, 153);
            text-align       : center;
        }

        div.userinputcontainer input[type=text][data-iscorrect=correct]{
            background-color : rgb(162, 190, 66);
        }

        div.userinputcontainer input[type=text][data-iscorrect=incorrect]{
            background-color : rgb(244, 26, 59);
        }

        div.userinputcontainer b.inputunit{
            vertical-align : super;
            font-size      : 1.2em;
            font-weight    : bold;
        }

        div.userinputcontainer i.hintbutton{
            cursor           : pointer;
            margin-left      : 3%;
            padding          : 0.2% 1%;
            border-radius    : 3px;
            background-color : rgb(213, 166, 189);
            display          : none;
        }

        div.userinputcontainer button#checkanswer{
            font-size : 1em;
            padding   : 0.2% 1%;
            display   : none;
        }

        div.userinputcontainer i.hintbutton:hover{
            background-color : rgba(213, 166, 189,0.5);
        }

        p.userhint,
        p.conclusiontext{
           position      : absolute;
           opacity       : 0;
           width         : 40%;
           right         : 0%;
           bottom        : 30%;
           background    : #000000;
           padding       : 1% 2% 1% 1%;
           text-align    : left;
           border-radius : 0.3em 0 0 0.3em;
           font-size     : 1.3em;
           color         : #ffffff;

           -webkit-transition : opacity 0.2s linear;
           transition         : opacity 0.2s linear;
        }

        div.userinputcontainer.slide13inputcontainer ~ p.userhint{
            bottom              : 5%;
            right            : 0%;
            /*border         : 1px solid red;*/
        }

        div.userinputcontainer.slide13inputcontainer ~ p.conclusiontext{
            width         : 75%;
            border-radius : 0.3em;
            bottom        : 5%;
            right         : 12.5%;
            text-align    : center;
            /*border      : 1px solid red;*/
        }

    /*slide 8*/
        label.slide8schoollabel{
            position  : absolute;
            top       : 39%;
            left      : 65%;
            font-size : 1.3em;
            color     : black;
        }

    /*slide 10*/
        .slide10detailtext{
            position      : absolute;
            width         : 50%;
            left          : 0%;
            bottom        : 73%;
            background    : #000000;
            padding       : 1% 1% 1% 2%;
            text-align    : left;
            border-radius : 0 0.3em 0.3em 0;
            font-size     : 1.3em;
            color         : #ffffff;
        }

        label.slide10schoollabel{
            position  : absolute;
            top       : 39%;
            left      : 65%;
            font-size : 1.3em;
            color     : black;
        }

        label.slide10townlabel{
            position  : absolute;
            top       : 86%;
            left      : 90%;
            font-size : 1.3em;
            color     : black;
        }

    /*slide 12*/
        img.userhint{
            position         : absolute;
            opacity          : 0;
            top              : 42%;
            left             : 41%;
            width            : 32%;
            height           : 45%;
            background-color : white;
            border-radius    : 50%;
            border           : 3px solid grey;

            -webkit-transition : opacity 0.2s linear;
            transition         : opacity 0.2s linear;
        }

    /*slide 14*/
        label.slide14townlabel{
            position  : absolute;
            top       : 91%;
            left      : 76%;
            font-size : 1.3em;
            color     : black;
        }
/*=====  End of Custom Style  ======*/



/*for quadratic expressions*/
.qua1 {
    color: #ff684b;
    font-size: 3.3em;
    margin-left: -17%;
    margin-top: -30%;
    position: absolute;
    width: 100%;
}
.qua1a {
    background: #efefef none repeat scroll 0 0;
    border-radius: 25px;
    border-style: solid;
    color: #ff684b;
    font-size: 3.3em;
    left: 32%;
    margin-top: -30%;
    position: absolute;
    width: 4%;
}

.qua2 {
    color: #471133;
    font-size: 3.3em;
    margin-left: -8%;
    margin-top: -30%;
    position: absolute;
    width: 100%;
}


.qua3a {
    background: #efefef none repeat scroll 0 0;
    border-radius: 25px;
    border-style: solid;
    color: #9f82e3;
    font-size: 3.3em;
    left: 48%;
    margin-top: -30%;
    position: absolute;
    width: 4%;
}

.qua3 {
    color: #9f82e3;
    font-size: 3.3em;
    margin-top: -30%;
    position: absolute;
    width: 100%;
}

.qua4 {
    color: #471133;
    font-size: 3.3em;
    margin-left: 7%;
    margin-top: -30%;
    position: absolute;
    width: 100%;
}

.qua5 {
    color: #07c51e;
    font-size: 3.3em;
    margin-left: 15%;
    margin-top: -30%;
    position: absolute;
    width: 100%;
}

.qua5a {
    background: #efefef none repeat scroll 0 0;
    border-radius: 25px;
    border-style: solid;
    color: #07c51e;
    font-size: 3.3em;
    margin-left: 63%;
    margin-top: -30%;
    position: absolute;
    width: 4%;
}

.factorizationdef{
    position: absolute;
    color: #471133;
    font-size: 1.3em;
    width: 100%;
    opacity: 0;
    margin-top: 4%;
}

.minigques {
    color: #471133;
    font-size: 1.3em;
    margin-left: 16%;
    margin-top: -20%;
    position: absolute;
    width: 40%;
}
.bigfontv {
    color: #e12069;
    font-size: 1.6em;
    margin-top: 3%;
}

.option1 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 31%;
    text-align: center;
    top: -72%;
    width: 13%;
    z-index: 100;
}

.option2 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 17%;
    text-align: center;
    top: -72%;
    width: 13%;
    z-index: 100;
}

.option3 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 3%;
    text-align: center;
    top: -72%;
    width: 13%;
    z-index: 100;
}

.option4 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 31%;
    text-align: center;
    top: -53%;
    width: 13%;
    z-index: 100;
}

.option5 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 17%;
    text-align: center;
    top: -53%;
    width: 13%;
    z-index: 100;
}

.highlight {
    background: #ffd966 none repeat scroll 0 0 !important;
}

.opa{
    opacity: 1 !important;
}



@keyframes fadein {
    0%{
        opacity: 0;
       
    }
    100% { 
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% { 
        opacity: 1; 
    }
}

@-webkit-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

.cssfadein{
    animation: fadein 0.3s linear 0.5s 1 forwards;
    -webkit-animation: fadein 0.3s linear 0.5s 1 forwards;
    -moz-animation: fadein 0.3s linear 0.5s 1 forwards;
}

.cssfadeinzero{
    animation: fadein 0.3s linear 0s 1 forwards;
    -webkit-animation: fadein 0.3s linear 0s 1 forwards;
    -moz-animation: fadein 0.3s linear 0s 1 forwards;
}
.cssfadein2{
    animation: fadein 0.3s linear 1s 1 forwards;
    -webkit-animation: fadein 0.3s linear 1s 1 forwards;
    -moz-animation: fadein 0.3s linear 1s 1 forwards;
}
.cssfadein3{
    animation: fadein 0.3s linear 2s 1 forwards;
    -webkit-animation: fadein 0.3s linear 2s 1 forwards;
    -moz-animation: fadein 0.3s linear 2s 1 forwards;
}
@keyframes goup {
    to { 
        margin-top: 0%;
    }
}

@-moz-keyframes goup {
   to { 
        margin-top: 0%;
    }
}

@-webkit-keyframes goup {
    to { 
        margin-top: 0%;
    }
}

.cssgoup{
    animation: goup 0.3s linear 0.5s 1 forwards;
    -webkit-animation: goup 0.3s linear 0.5s 1 forwards;
    -moz-animation: goup 0.3s linear 0.5s 1 forwards;
}

@keyframes goupagain {
    to { 
        margin-top: 10%;
    }
}

@-moz-keyframes goupagain {
   to { 
        margin-top: 10%;
    }
}

@-webkit-keyframes goupagain {
    to { 
        margin-top: 10%;
    }
}

.cssgoupagain{
    opacity: 1;
    animation: goupagain 0.3s linear 0.5s 1 forwards;
    -webkit-animation: goupagain 0.3s linear 0.5s 1 forwards;
    -moz-animation: goupagain 0.3s linear 0.5s 1 forwards;
}


@keyframes goupagaina {
    to { 
        margin-top: 3%;
        color: #07C51E;
    }
}

@-moz-keyframes goupagaina {
   to { 
        margin-top: 3%;
        color: #07C51E;
    }
}

@-webkit-keyframes goupagaina {
    to { 
        margin-top: 3%;
        color: #07C51E;
    }
}

.csshighselect{
    opacity: 1;
    animation: goupagaina 0.3s linear 0.5s 1 forwards;
    -webkit-animation: goupagaina 0.3s linear 0.5s 1 forwards;
    -moz-animation: goupagaina 0.3s linear 0.5s 1 forwards;
}


.foreg{
    position: absolute;
    margin-top: 17%;
    background: #F9ECBF;
    font-size: 1.2em;
    width: 20%;
    padding: 1%;
    opacity: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-shadow : 1px 1px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 1px 1px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 1px 1px 3px -1px rgba(50, 50, 50, 0.48);
}

.foreg1 {
    background: #f9ecbf none repeat scroll 0 0;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 1px 1px 3px -1px rgba(50, 50, 50, 0.48);
    font-size: 1.2em;
    margin-top: 3%;
    opacity: 0;
    padding: 1%;
    position: absolute;
    width: 20%;
}




@keyframes popup {
    50%{
        margin-top: 25%;
    }
    100% { 
        margin-top: 15%;
    }
}

@-moz-keyframes popup {
   50%{
        margin-top: 25%;
    }
    100% { 
        margin-top: 15%;
    }
}

@-webkit-keyframes popup {
    50%{
        margin-top: 25%;
    }
    100% { 
        margin-top: 15%;
    }
}

.csspopup{
    animation: popup 0.3s linear 0.5s 1 forwards;
    -webkit-animation: popup 0.3s linear 0.5s 1 forwards;
    -moz-animation: popup 0.3s linear 0.5s 1 forwards;
}

@keyframes popupagain {
    50%{
        margin-top: 42%;
    }
    100% { 
        margin-top: 33%;
    }
}

@-moz-keyframes popupagain {
   50%{
        margin-top: 42%;
    }
    100% { 
        margin-top: 33%;
    }
}

@-webkit-keyframes popupagain {
    50%{
        margin-top: 42%;
    }
    100% { 
        margin-top: 33%;
    }
}

.csspopupagain{
    animation: popupagain 0.3s linear 0.5s 1 forwards;
    -webkit-animation: popupagain 0.3s linear 0.5s 1 forwards;
    -moz-animation: popupagain 0.3s linear 0.5s 1 forwards;
}

@keyframes popuplast {
    50%{
        margin-top: 48%;
    }
    100% { 
        margin-top: 40%;
    }
}

@-moz-keyframes popuplast {
   50%{
        margin-top: 48%;
    }
    100% { 
        margin-top: 40%;
    }
}

@-webkit-keyframes popuplast {
    50%{
        margin-top: 48%;
    }
    100% { 
        margin-top: 40%;
    }
}

.csspopuplast{
    animation: popuplast 0.3s linear 0.5s 1 forwards;
    -webkit-animation: popuplast 0.3s linear 0.5s 1 forwards;
    -moz-animation: popuplast 0.3s linear 0.5s 1 forwards;
}


.bigfont {
    color: #e12069;
    font-size: 1.6em;
    margin-top: 3%;
    opacity: 0;
}

.info {
    background: #efefef none repeat scroll 0 0;
    color: #471133;
    font-size: 1.3em;
    margin-left: 8%;
    margin-top: 31%;
    opacity: 0;
    padding: 1%;
    position: absolute;
    width: 88%;
}


.ques1 {
    color: #ff684b;
    font-size: 2.4em;
    margin-top: 2%;
    opacity: 0;
    position: absolute;
    width: 72%;
}

.ans1 {
    background: #efefef none repeat scroll 0 0;
    color: #471133;
    font-size: 1.3em;
    margin-left: 8%;
    margin-top: 12%;
    opacity: 0;
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 35%;
}

.ques2 {
    color: #9f82e3;
    font-size: 1.9em;
    margin-top: 12%;
    opacity: 0;
    position: absolute;
    width: 145%;
}

.ans2 {
     background: #efefef none repeat scroll 0 0;
    color: #471133;
    font-size: 1.3em;
    margin-left: 8%;
    margin-top: 20%;
    opacity: 0;
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 35%;
}

.ques3 {
     color: #9f82e3;
    font-size: 1.9em;
    margin-top: 20%;
    opacity: 0;
    position: absolute;
    width: 145%;
}

.ques4 {
     color: #9f82e3;
    font-size: 1.9em;
    margin-top: 28%;
    opacity: 0;
    position: absolute;
    width: 145%;
}

.ques4new {
    font-size: 1.9em;
    margin-top: 28%;
    position: absolute;
    width: 145%;
     margin-top: 3%;
        color: #07C51E;
}

.ans3 {
    background: #efefef none repeat scroll 0 0;
    color: #471133;
    font-size: 1.3em;
    margin-left: 8%;
    margin-top: 28%;
    opacity: 0;
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 35%;
}

.ans4 {
    background: #efefef none repeat scroll 0 0;
    color: #471133;
    font-size: 1.3em;
    margin-left: 8%;
    margin-top: 36%;
    opacity: 0;
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 35%;
}
.ans5 {
    background: #efefef none repeat scroll 0 0;
    color: #471133;
    font-size: 1.3em;
    margin-left: 8%;
    margin-top: 44%;
    opacity: 0;
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 35%;
}

.ques5 {
     color: #9f82e3;
    font-size: 1.9em;
    margin-top: 36%;
    opacity: 0;
    position: absolute;
    width: 145%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.cchange{
   animation: example 0.3s linear 0.5s 1 forwards;
    -webkit-animation: example 0.3s linear 0.5s 1 forwards;
    -moz-animation: example 0.3s linear 0.5s 1 forwards;
}



@keyframes duck {
    to { 
         margin-left: -195%;
    }
}

@-moz-keyframes duck {
   to { 
         margin-left: -195%;
    }
}

@-webkit-keyframes duck {
    to { 
         margin-left: -195%;
    }
}

.duckmove{
    animation: duck 7s linear 0.5s 1 forwards, jump 2s linear 0.5s 1 forwards;
    -webkit-animation: duck 7s linear 0.5s 1 forwards, jump 2s linear 0.5s 1 forwards;
    -moz-animation: duck 7s linear 0.5s 1 forwards, jump 2s linear 0.5s 1 forwards;
}

.textmove{
    animation: duck 14s linear 0.5s 1 forwards, jump 2s linear 0.5s 1 forwards;
    -webkit-animation: duck 14s linear 0.5s 1 forwards, jump 2s linear 0.5s 1 forwards;
    -moz-animation: duck 14s linear 0.5s 1 forwards, jump 2s linear 0.5s 1 forwards;
}

.textmovebaby{
    animation: duck 14s linear 0.5s 1 forwards, jumpa 2s linear 0.5s 1 forwards;
    -webkit-animation: duck 14s linear 0.5s 1 forwards, jumpa 2s linear 0.5s 1 forwards;
    -moz-animation: duck 14s linear 0.5s 1 forwards, jumpa 2s linear 0.5s 1 forwards;
}


    @keyframes jump {
         0% { margin-top: 3%; }
         15% { margin-top: 3%; }
         20% { margin-top: 0%; }
         25% { margin-top: 3%; }
         90% { margin-top: 3%; }
         95% { margin-top: 0%; }
         100% { margin-top: 3%; }
        }

        @-moz-keyframes jump {
         0% { margin-top: 3%; }
         10% { margin-top: 3%; }
         20% { margin-top: 0%; }
         30% { margin-top: 3%; }
         40% { margin-top: 3%; }
         50% { margin-top: 3%; }
         60% { margin-top: 0%; }
         70% { margin-top: 3%; }
         80% { margin-top: 3%; }
         90% { margin-top: 0%; }
         100% { margin-top: 3%; }
        }

        @-webkit-keyframes jump {
         0% { margin-top: 3%; }
         15% { margin-top: 3%; }
         20% { margin-top: 0%; }
         25% { margin-top: 3%; }
         90% { margin-top: 3%; }
         95% { margin-top: 0%; }
         100% { margin-top: 3%; }
        }







    @keyframes jumpa {
         0% { margin-top: 2%; }
         15% { margin-top: 2%; }
         20% { margin-top: 0%; }
         25% { margin-top: 2%; }
         90% { margin-top: 2%; }
         95% { margin-top: 0%; }
         100% { margin-top: 2%; }
        }

        @-moz-keyframes jumpa {
         0% { margin-top: 2%; }
         10% { margin-top: 2%; }
         20% { margin-top: 0%; }
         30% { margin-top: 2%; }
         40% { margin-top: 2%; }
         50% { margin-top: 2%; }
         60% { margin-top: 0%; }
         70% { margin-top: 2%; }
         80% { margin-top: 2%; }
         90% { margin-top: 0%; }
         100% { margin-top: 2%; }
        }

        @-webkit-keyframes jumpa {
         0% { margin-top: 2%; }
         15% { margin-top: 2%; }
         20% { margin-top: 0%; }
         25% { margin-top: 2%; }
         90% { margin-top: 2%; }
         95% { margin-top: 0%; }
         100% { margin-top: 2%; }
        }



div.contentblock.contentwithbg {
    background-color: #000000;
    background-image: url("../images/page4/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.single-cell {
    left: 9%;
    top: 38% !important;
}

.duckling1 {
    left: 12%;
    top: 50% !important;
}

.duckling2 {
    left: 18%;
    top: 50% !important;
}

.duckling3 {
    left: 24%;
    top: 50% !important;
}

.motherhead {
    color: #e12069;
    cursor: pointer;
    font-size: 1.8em;
    left: 34%;
    text-align: center;
    top: 26%;
    width: 24%;
    z-index: 100;
}

.duckling1-head {
    font-size: 1.3em;
    left: 57%;
    position: absolute;
    text-align: center;
    top: 52%;
    width: 13.5%;
    z-index: 100;
}

.duckling2-head {
    font-size: 1.3em;
    position: absolute;
    left: 70%;
    text-align: center;
    top: 52%;
    width: 13.5%;
    z-index: 100;
}

.duckling3-head {
    font-size: 1.3em;
    position: absolute;
    left: 83%;
    text-align: center;
    top: 52%;
    width: 13.5%;
    z-index: 100;
}



.wrong-ico-1 {
    left: 77%;
    position: absolute;
    top: 46% !important;
    width: 5%;
    display: none;
}

.wrong-ico-2 {
    left: 87%;
    position: absolute;
    top: 46% !important;
    width: 5%;
    display: none;
}

/*alert box*/
.alert {
    background-color: #f44336;
    color: white;
    left: 34%;
    padding: 20px;
    top: -4%;
    width: 38%;
    display: none;
}

.tryagain {
    background-color: #f44336;
    color: white;
    left: 34%;
    padding: 20px;
    top: -4%;
    width: 38%;
    display: none;
}

.alertsuccess {
    background-color: #ff9800;
    color: white;
    left: 34%;
    padding: 20px;
    top: -4%;
    width: 38%;
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*game page 2*/

.single-cellp2 {
    left: 8%;
    top: 38% !important;
}

.duckling1p2 {
    left: 11%;
    top: 50% !important;
}

.duckling2p2 {
    left: 15%;
    top: 50% !important;
}

.duckling3p2 {
    left: 19%;
    top: 50% !important;
}

.duckling4p2 {
    left: 24%;
    top: 46% !important;
}


.motherheadp2 {
    color: #e12069;
    cursor: pointer;
    font-size: 2em;
    left: 36%;
    padding: 1%;
    position: absolute;
    text-align: center;
    top: 18%;
    width: 19.5%;
    z-index: 100;
}

.duckling1-headp2 {
    color: #ffd700;
    font-size: 1.5em;
    left: 58%;
    padding: 1%;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 12.5%;
    z-index: 100;
}

.duckling2-headp2 {
    color: #ffd700;
    font-size: 1.5em;
    left: 69%;
    padding: 1%;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 12.5%;
    z-index: 100;
}

.duckling3-headp2 {
    color: #ffd700;
    font-size: 1.5em;
    left: 80%;
    padding: 1%;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 12.5%;
    z-index: 100;
}

.duckling4-headp2 {
    color: #ffd700;
    font-size: 1.5em;
    padding: 1%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 45%;
    width: 12.5%;
    z-index: 100;
}

.wrong-ico-1p2 {
    left: 77%;
    position: absolute;
    top: 46% !important;
    width: 5%;
    display: none;
}

.wrong-ico-2p2 {
    left: 87%;
    position: absolute;
    top: 46% !important;
    width: 5%;
    display: none;
}


.option1p2 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 31%;
    text-align: center;
    top: -72%;
    width: 13%;
    z-index: 100;
}

.option2p2 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 17%;
    text-align: center;
    top: -72%;
    width: 13%;
    z-index: 100;
}

.option3p2 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 3%;
    text-align: center;
    top: -72%;
    width: 13%;
    z-index: 100;
}

.option4p2 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 31%;
    text-align: center;
    top: -53%;
    width: 13%;
    z-index: 100;
}

.option5p2 {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 10px;
    color: #525564;
    cursor: pointer;
    padding: 1%;
    position: absolute;
    right: 17%;
    text-align: center;
    top: -53%;
    width: 13%;
    z-index: 100;
}


.mainduck1{
    left: 37%;
}

.babyduck1{
    left: 60.7%;
}

.babyduck2{
    left: 73.7%;
}
.babyduck1p4{
    left: 60%;
    width: 15.5%;
}

.babyduck2p4{
    left: 73%;
    width: 15.5%;
}

.mainduck1big {
    width: 30%;
}

.alreadyClicked{
    background: #dbdbdb none repeat scroll 0 0;
    cursor: default;
}

.wrongimage {
    background: url("../images/page4/wrong.png") center center;
    background-repeat: no-repeat;
    height: 1.3em;
    background-size: 30%;
}