#exebg
{
	width: 100%;
	height: 100%;
}
.instructText
{
	width: 100%;
	font-size: 1.2em;
	color:orange;
	text-align: center;

}
#exeBox
{
	/*background: url('activity/sci_earth_universe_01/exercise/images/bg.png');*/
	  background-image: url("../images/exe1/bg.png");
	  background-position: center; 
	   background-size: 100% 100%;
	    background-repeat:none;
}

.allquestion
{
	display: none;
	width: 100%;
}
.planteslst
{
	width: 90%;
	position: relative;
	margin: 1% auto!important;

}
.planteslst img 
{
	width: 100%;
}

#commet
{
	width: 3%;
	position: absolute!important;
	top:50%;
	right: 0%;
	
}


.shake {
    -webkit-animation: shakeIt 1s infinite linear; 
    -moz-animation: shakeIt 1s infinite linear; 
    animation: shakeIt 1s infinite linear;
     
   
}


@-webkit-keyframes shakeIt {
    0% {top:50%;}
	50% {top:55%;}
	100% {top:50%;}
}
@-moz-keyframes shakeIt {
	0% {top:50%;}
	50% {top:55%;}
	100% {top:50%;}
}

@keyframes shakeIt {
	0% {top:50%;}
	50% {top:55%;}
	100% {top:50%;}
} 

#showAns {
    
    position: relative;  
    width: 100%;   
    
    margin-top: 1%;
	
}

#showAns div
{
	display: inline-block;
	width: 15%;
	margin: 2% 8%;
	
	font-size: 1.2em;
	
	text-align: center;
	position: relative;
	vertical-align: top;
	
}

.optname
{
	width: 100%;
	text-align: center;
	color: #fff;
	
	
}
/*#showAns .radioBx:hover {

	-moz-box-shadow:     0 0 10px #ff0000;
	-webkit-box-shadow:  0 0 10px #ff0000;
	box-shadow:          0 0 10px #ff0000;
}*/

.ans{
	cursor: pointer;
}

.radioBx img
{
	width: 100%;
}



.corrans
{
	-moz-box-shadow:     0 0 10px #4BEA27;
	-webkit-box-shadow:  0 0 10px #4BEA27;
	box-shadow:          0 0 10px #4BEA27;
}

#quest  
{
	width: 100%;
	text-align: center;
	font-size: 1.5em;
}
#quest  span
{
	color: black;
	padding:0.5% 1%;
	background: white;
	border-radius: 15%;
	margin-right: 1%;
}
.imgValObj
{
	width: 50%;
	margin: auto!important;
	
}
.imgValObj img 
{
	width: 100%;
}


.allAns
{
	width: 100%;
	border-radius: 10px;
	
	
	padding: 2%  2%!important;
	font-size: 1em;
	line-height: 1.2;
}

.rnum
{
	margin-bottom: 1%!important;
		color: orange;

}
.rnum div
{
	text-indent: 5%;
	
}
.rnum span
{
	color: white; 
	margin-right: 1%!important;
}


.result
{
	position: absolute!important;
	top:50%;
	right: 5%;
	font-size: 1.2em;
	padding: 1%!important;
	color: green;
	 box-shadow: 0px 0px 10px #fff;
	 -webkit-box-shadow: 5px 5px 10px #fff;
	 -moz-box-shadow: 5px 5px 5px #fff;
	 width: 30%;
}
.questionImg
{
	width: 20%;
}

#repeatId
{
	width: 10%;
	position: absolute;
	top:3%;
	right: 0%;
	cursor: pointer;
	display: none;
}

#Imgshow
{
	position: absolute!important;
	top: 35%;
	width: 10%;
	right: 0%;
}

.imgShowCorrme
{
	width: 80%!important;
	top:8%;
	position: absolute!important;
	left: 10%;

}