body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.yelowBg{
  background: #fcd172;
}
#rajanSvg{
  position: absolute;
  top: 17%;
  left: 65%;
  height: 75%;
  width: 22%;
  transform: translate(-50%);
}
#rjn{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.whiteCnvs{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #fff;
  border-radius: 1em;
}
.rjnFeatureTxt{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  font-size: 5vh;
  opacity: 0;
}
.headtxt{
  top: 26%;
  left: 32%;
}
.clthtxt{
  top: 50%;
  left: 32%;
}
.shoetxt{
  top: 80%;
  left: 33%;
}
@media (min-aspect-ratio:4/3){
	.rjnFeatureTxt{
		font-size: 5vh;
	}
  .cvChpter{
    font-size: 11vh;
  }
}

@media (max-aspect-ratio:4/3){
	.rjnFeatureTxt{
		font-size: 3.5vw;
	}
  .cvChpter{
    font-size: 7vw;
  }
}
