#diImg1,
#diImg2,
#diImg3,
#diImg4,
#diImg5,
#diImg6,
#diImg7,
#diImg8,
#diag1,
#diag2,
#diag3,
#diag4,
#diag5,
#diag6,
#diag7,
#diag8,
#diag9 {
  display: none;
}

#diImg5 {
  display: none;
}
.start_dialouge {
  margin-left: 39px;
}
@media only screen and (min-width: 779px) and (max-width: 979px) {
  .character_image_modify {
    height: 73px !important;
  }
  #footer {
    background: rgba(0, 0, 0, 0.72) !important;
  }
  .start_dialouge {
    margin-left: 39px !important;
  }
  .buttons {
    font-size: 12px !important;
  }
}

.container_bg {
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  xbackground: url("../images/slide1_bg.jpg");
  x-moz-background-size: cover;
  xbackground-size: cover;
  border-style: solid;
  border-width: 7px;
  border-color: black;
  background: white;
}
.related_images {
  /* margin-top: 49px; */
}
.row.character_images {
  margin-top: 7px;
}

.row_bg_overlay {
  background-color: white;
  height: 100%;
  width: 100%;
}
.row_header {
  margin-top: 10px;
}

.start_dialouge {
  margin-left: 41px;
}
.character_images {
  margin-top: 15px;
}
.img_rounded {
  height: 19%;
}
.character_image_modify {
  background: white;
  height: 93px;
}
.image_content {
  margin-top: 2%;
}
.images_dialouges {
  position: relative;
 bottom:2%;
}

.character_contents {
  z-index: 1000;
}
.image-container {
  text-align: center;
}

.dialouge_images {
  height: 100%;
  width: 100%;
  top: 0%;
}

.footer_row {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 106px;
}
#footer {
  background-color: rgba(0, 0, 0, 0.72);
}
.modules {
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
}
.character_dialouges {
  color: white;
}

.footer_dialouges {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 7%;
}

/*for pop up*/

.finishtxt {
  z-index: 1000;
  background-color: #85a1b9;
  box-shadow: 2px 2px 5px #000000;
  color: #ffffff;
  display: none;
  font-size: 1.5em;
  left: 8%;
  margin-bottom: 15px;
  padding: 20px;
  position: absolute;
  top: 40%;
  width: 83%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/*end of for pop up*/

.character_dialouges {
  text-align: center;
}

.button_next {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 7%;
  height: 11%;
  cursor: pointer;
  background-image: url("../../../../../images/arrows/arrow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 99;
}

.button_next:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button_prev {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 7%;
  height: 11%;
  cursor: pointer;
  background-image: url("../../../../../images/arrows/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 99;
}

.button_prev:hover {
  background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-aspect-ratio: 4/3) {
  .character_dialouges {
    font-size: 3.56vh;
    line-height: 1.2;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .character_dialouges {
    font-size: 3vw;
    line-height: 1;
  }
}
