<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.unitary02.css");
    $cssLoader("css/animation.css");
	$cssLoader("css/jqmath-0.4.0.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    
		<div class="wrapperIntro {{justClass}}">
     
		{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
	
		 </div>
</script>		
		
		
<script type="text/x-handlebars-template" id="intro2-template">
    
	<div class="wrapperIntro {{justClass}}">
	<div class="main-bg">
		<img src="activity/grade8/math/math_unitary_02/image/blackboard.png" class="img-responsive"/>
	</div>
     
		{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<div class="f3_2">
			<div class="img2"><img src="activity/grade8/math/math_unitary_02/image/char-1.png"/></div>
		</div>
		<div class="des9"></div>
		<div class="des10"></div>
   
</script>

<!--<script type="text/x-handlebars-template" id="intro2-template">
    <div class="wrapperIntro {{justClass}}">
	
	<div class="main-bg">
		<img src="activity/grade8/math/math_unitary_02/image/blackboard.png" class="img-responsive"/>
	</div>

        {{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
    
	</div>


</script>-->



<script type="text/x-handlebars-template" id="intro3-template">
    
	<div class="wrapperIntro {{justClass}}">
     
		{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		</div>

</script>



<!--
<script type="text/x-handlebars-template" id="intro02-template">
	

    <div class="wrapperIntro {{justClass}}">
	
	<div class="row">
	<div class="col-md-12 img-containeer">
		<div class="col-md-6 img-a">
		<img src="activity/grade8/math/math_unitary_02/image/img-a.jpg" class="img-responsive"/>
		</div>
		<div class="col-md-6 img-b">
		<img src="activity/grade8/math/math_unitary_02/image/img-b.jpg" class="img-responsive"/>
		</div>
		<div class="col-md-6 img-c">
		<img src="activity/grade8/math/math_unitary_02/image/img-c.jpg" class="img-responsive"/>
		</div>
		<div class="col-md-6 img-d">
		<img src="activity/grade8/math/math_unitary_02/image/img-d.jpg" class="img-responsive"/>
		</div>
	
	</div>
	
	</div>
	
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        
    </div>
</script>-->



<!-------------------------------------------------------------------------------------------------->

<!--page3-->

<!--
<script type="text/x-handlebars-template" id="intro2-template">
   <div class="wrapperIntro {{justClass}}">
	
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
	</div>

</script>-->

<!-- end of page3-->





<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.unitary02.js");
</script>