<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
 $cssLoader("css/page6.unitary02.css"); 
 $cssLoader("css/animation.css");
 $cssLoader("css/jqmath-0.4.0.css");
</script>

<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
    </div>

</div>

<!--slide1-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<img class="blackboard img-responsive" src="activity/grade8/math/math_interest_02/image/blackboard.png">
		
		<div class="bub1">
			
			</div>
			
			<div class="bub2">
			
			
			</div>
		
		<div class="row char-holder">
		
			<div class="char-a">
			<img src="activity/grade8/math/math_interest_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>
			
			<div class="char-b">
			<img src="activity/grade8/math/math_interest_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>
        
		</div>
    </div>
</script>

<!--end of slide1-->



<!--slide2-->
<script type="text/x-handlebars-template" id="intro2-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
	
	<img class="blackboard img-responsive" src="activity/grade8/math/math_interest_02/image/blackboard.png">	
	
		<div class="bub1">
			
			</div>
			
			<div class="bub2">
			
			
			</div>
		
		<div class="row char-holder">
		
			<div class="char-a">
			<img src="activity/grade8/math/math_interest_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>
			
			<div class="char-b">
			<img src="activity/grade8/math/math_interest_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>
        
		</div>
    </div>
</script>




<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->

<!--page3-->


<script type="text/x-handlebars-template" id="intro3-template">
	
<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
</div>
</script>

<!-- end of page3-->

<script type="text/x-handlebars-template" id="intro4-template">
	
<div class="wrapperIntro {{justClass}}">
<div class="new">
<table class="exmpletable" align="center">
			<tr><th>{{rowheading1}}</th><th>{{rowheading2}}</th></tr>
			<tr><td id= "bg_td">45</td><td id="bg_td3">15</td></tr>
			<tr><td id="bg_td2">60</td><td id="bg_td1">x</td></tr>
		</table>
</div>
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
<div class="img-des13">
	<img src="activity/grade8/math/math_unitary_02/image/uparrow.png" align="middle"  class="imageholder13">
</div>

<div class="img-des14">
<img src="activity/grade8/math/math_unitary_02/image/downarrow.png" align="middle" class="imageholder14">
</div>

</div>
</script>



<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page6.unitary02.js");
</script>