.bg-1{
	background-color: #EFE4C5;
}
.diy-text{
	position: absolute;
	top: 28%;
	padding: 4% 3%;
	left: 50%;
	transform: translateX(-50%);
	border: 5px solid #666666;
	background-color: #FFF2CC;
	font-family: bubblerone;
	font-weight: bold;
	color: #000000;
	font-size: 5vw;
}
@media(min-aspect-ratio:4/3){
	.diy-text{
		font-size: 6.5vh;
	}
}














#graph{
	background-color: white;
	position: absolute;
	top: 20%;
	height: 60%;
	left: 0%;
	width: 60%;
}
svg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.diy-container{
	position: absolute;
	top: 20%;
	height: 60%;
	left: 60%;
	width: 40%;
	background-color: #C7F2F9;
}

.diy-header{
	position: absolute!important;
	text-align: center;
	font-size: 4vw;
	width: 100%;
	top: 0%;
	padding: 1% 0%;
	font-weight: bold;
	background-color: #2269AE;
	font-family: comicsans;
	color: #FFF2CC;
}
@media (min-aspect-ratio: 4/3){
	.diy-header{
		font-size: 5vh;
	}
}
.diy-ques{
	position: absolute!important;
	text-align: center;
	font-size: 3.2vw;
	font-family: amaranath;
	width: 80%;
	top: 22%;
	left: 10%;
	color: #000000;
}
@media (min-aspect-ratio: 4/3){
	.diy-ques{
		font-size: 4.1vh;
	}
}


.opt-container{
	position: absolute;
	top: 70%;
	left: 10%;
	width: 80%;
	height: 25%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-container{
	position: relative;
	width: 18%;
	height: 100%;
}

.option-container{
	position: absolute;
	top: 0%;
	cursor: pointer;
	border-radius: 1vmin;
	background-color: #7B74D4;
	color: white;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60%;
	width: 100%;
}
.option-container:hover{
	filter: brightness(125%) contrast(125%);
	-webkit-filter: brightness(125%) contrast(125%);
}

.option-label{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: sniglet;
	font-size: 3vw;
}

@media (min-aspect-ratio: 4/3){
	.option-label{
		font-size: 4vh;
	}
}

.correct-icon, .incorrect-icon{
	display: none;
	position: absolute!important;
	height: 40%;
	left: 50%;
	transform: translateX(-50%);
	top: 65%;
}

.correct-ans{
	pointer-events: none;
	background-color: #98C02E;
	border:  0.5vmin solid #DEEF3C;
}
.incorrect-ans{
	pointer-events: none;
	background-color: #FF0000;
	border:  0.5vmin solid #980000;
}









.hint-blink {
	animation: hint-blink 1s linear 3 both;
	-webkit-animation: hint-blink 1s linear 3 both;
}
@-webkit-keyframes
hint-blink {
	50% {fill: #eee;}
}
@keyframes
hint-blink {
	50% {fill: #eee;}
}



