.bg-1{
	background-color: #EFE4C5;
}
.girl-1{
	position: absolute;
	bottom: 0%;
	left: 10%;
	height: 60%;
}
.sp-1{
	left: 33%;
	height: 38%;
	bottom: 50%;
	width: 60%;
	font-family: pangolin;
	font-size: 3vw;
}
.sp-1>p{
	left: 10%;
	width: 80%;
	top: 45%;
}
@media (min-aspect-ratio:4/3){
	.sp-1{
		font-size: 4vh;
	}
}



.girl-2{
	position: absolute;
	bottom: 0%;
	left: -4%;
	height: 40%;
}

.sp-3, .sp-3new{
	left: 15%;
	height: 26%;
	bottom: 1%;
	width: 75%;
	text-align: left;
	font-family: pangolin;
	font-size: 2.8vw;
	z-index: 25;
}
.sp-3>p, .sp-3new>p{
	left: 20%;
	width: 71%;
	top: 52%;
}
@media (min-aspect-ratio:4/3){
	.sp-3, .sp-3new{
		font-size: 3.7vh;
	}
}
.sp-3new{
	display: none;
}



#graph{
	position: absolute;
	bottom: 27%;
	left: 28%;
	width: 56%;
	height: 56.5%;
	z-index: 5;
}
#graph-1{
	position: absolute;
	bottom: 27%;
	left: 28%;
	width: 56%;
	height: 56.5%;
	z-index: 10;
}
svg{
	position: absolute;
	top: 0%;
	width: 0%;
	height: 100%;
	width: 100%;
}


.scribble-1{
	stroke-dasharray: 2500;
	stroke-dashoffset: 2500;
	animation: dash 2s linear forwards;
}
.scribble-2{
	stroke-dasharray: 4000;
	stroke-dashoffset: 4000;
	animation: dash 2s linear forwards;
}
.scribble-3{
	stroke-dasharray: 5000;
	stroke-dashoffset: 5000;
	animation: dash 2s linear forwards;
}
.scribble-4{
	stroke-dasharray: 5000;
	stroke-dashoffset: 5000;
	animation: dash 2s linear forwards;
}
.scribble-5{
	stroke-dasharray: 3500;
	stroke-dashoffset: 3500;
	animation: dash 2s linear forwards;
}
@keyframes
dash {
	100% {stroke-dashoffset: 0;}
}







.hl-bar {
	animation: hl-bar 1s linear infinite;
	-webkit-animation: hl-bar 1s linear infinite;
}
@-webkit-keyframes
hl-bar {
	50% {fill: #eee;}
}
@keyframes
hl-bar {
	50% {fill: #eee;}
}
.hand{
	display: none;
	position: absolute;
	bottom: 33%;
	left: 37%;
	width: 5%;
	z-index: 8;
}



.hand-move-1{
	display: block;
	left: 38%;
	animation: hand-move-1 3s linear forwards;
}

@keyframes
hand-move-1 {
	50% {bottom: 70%;}
	99.99% {opacity: 1;}
	100% {opacity: 0;}
}
.hand-move-2{
	display: block;
	bottom: 30%;
	left: 35%;
	transform: rotate(90deg);
	animation: hand-move-2 3.3s linear forwards;
}

@keyframes
hand-move-2 {
	50% {left: 76.5%;}
}

.italics{
	font-style: italic;
}
