.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: relative;
}

div.imageblock {
	position: absolute;
	top: 39%;
	right: 5%;
	height: 55%;
	width: 40%;
}

.display_image {
	display: flex;
    align-items: center;
    justify-content: center;
}

.hint_image {
    display: block;
    min-height: 45%;
    width: 79%;
}


/*============ exercise template ===================
==================================================== */

.question {
    color: white;
    position: relative;
    top: 15%;
    left: 2%;
    width: 95%;
    font-size: 2.3vw;
    text-align: left;
}
/*
.optionsdiv {
    top: 20%;
    display: flex;
    width: 80%;
    left: 8%;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    height: 60%;
    text-align: left;
    position: relative;
}


.optionscontainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    min-width: 75%;
}
 */
 .optionsdiv{
   position: absolute;
   width: 60%;
   height: 60%;
   top: 35%;
   display: flex;
   flex-wrap: wrap;
   left: 0%;
   justify-content: space-around;
}
 .optionscontainer{
   position: relative;
   width: 55%;
   background-color: #597fca;
   padding: 6%;
   border-radius: 0.5em;
   color: #fff;
   height: 0%;
   cursor: pointer;
 }
.imagestartpos {
  width: 13%;
  margin-left: 1%;
  display: none;
  left: 73%;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}

.optionscontainer p{
    position: absolute;
width: 100%;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.corrects{
	pointer-events: none;
	background-color: #98C02E;
	border: 0.5vmin solid #DEEF3C;
	color: white;
  border-radius: 0.5em;
}

.incorrect{
	pointer-events: none;
	background-color: #FF0000;
	border: 0.5vmin solid #980000;
	color: white;
  border-radius: 0.5em;
}
.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}

.questionimg {
    position: relative;
    top: 27%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 32%;
}

.draggablecontainer {
    position: relative;
    top: 18%;
    width: 100%;
    background: aliceblue;
}

.droppablecontainer {
    position: relative;
    top: 28%;
    width: 100%;
    background: antiquewhite;
    height: 50%;
}

.drop1 {
    background: blueviolet;
    width: 50%;
    height: 83%;
    float: left;
}

.drop2 {
    background: aqua;
    width: 50%;
    height: 83%;
    float: left;
}
@font-face {
    font-family: happymonkey;
    src: url("../../../../../../fonts/HappyMonkey-Regular.ttf");
}
.contentblock{
  font-family: happymonkey;
}
@media (min-aspect-ratio:4/3){
  .question{
  font-size: 3.2vh;
}
}
