.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 1000;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 1000;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*--------- for exercise -------------*/
.instruction_bg{
	background: url('../images/bg.jpg');
	background-size: 100% 100%;
	z-index: 100;
}
.gradient_bg{
	background: radial-gradient(#98CA6B, #6F944E);  
	background-size: 100% 100%;
	z-index: 100;
}
.story_bg{
	background: url('../images/story.jpg');
	background-size: 100% 100%;
}
/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.instruction_div{
	top: 0%;
	height: 15%;
	width: 50%;
	top: 30%;
	left: 25%;
	text-align: center;
}
.instruction_div>*{
	color: black;
	position: relative;
	margin-top: 2%;
	font-family: Sniglet;
}
.instruction{
	/*font-weight: bold;*/
}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid #FCD172;
	background-color: #6EB260;
	color: white;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	background-color: #BA6B82;
	color: black;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}
.hintimageblock{
	overflow: hidden;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 15%;
	width: 30%;
	left: 35%;
	z-index: 10;
	/*background-color: white;
	border: 5px solid #B1BEC6;
	border-radius: 3vmin;*/
}
.optionsblock{
	position: absolute;
	padding: 2%;
	height: 50%;
	top: 0%;
	width: 100%;
	height: 100%;
	left: 0%;
	z-index: 10;
}

.options{
	width: 18%;
	padding: 3.5% 2%;
	left: 10%;
	cursor: pointer;
	text-align: center;
	background-color: #B7E9B0;
	border: 5px solid white;
	border-radius: 2vmin;
	position: absolute;
	font-family: ShortStack;
	height: 18%;
}

.options:hover{
	background-color: #FCD172;
}

.speech_box{
	display: flex;
  	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.speech_common{
	position: absolute;
	/*width: 30%;*/
	padding: 3% 1.5% 6% 1.5%;
	background: url('../images/textbox.png');
	background-size: 100% 100%;
}
.speech_1{
	bottom: 45%;
	left: 25%;
	max-width: 30%;
}
.speech_2{
	bottom: 45%;
	left: 1%;
	max-width: 30%;
}
.speech_3{
	bottom: 45%;
	left: 75%;
	max-width: 25%;
}
.speech_4{
	bottom: 45%;
	left: 57%;
	max-width: 30%;
}
.speech_5{
	bottom: 45%;
	left: 15%;
	max-width: 30%;
}
.speech_7{
	bottom: 45%;
	left: 10%;
	max-width: 30%;
}
.choice_class{
	order: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.click_ans{
	background-color: #B7E9B0;
	padding: 2px;
	margin: 2px;
}
.click_ans:hover{
	cursor: pointer;
	background-color: #FCD172;
	padding: 2px;
	margin: 2px;
}

.selected{
	background-color: #6EB260;
	color: white;
}
.selected:not(.correct){
	background-color: #BA6B82;
}

.incorrect{
}
.click_this{
	order: -1;
}
.click_that{
	order: 1;
}
.blank_class{
	margin: 0px 0.5vmin;
	order: 2;
	width: 8vmin;
	height: 3.5vmin;
	text-align: center;
	color: #FCD172;
	border-bottom: 1px solid black;
}
.qmark_class{
	order: 100;
}

.text_first{
	order: -1;
}
.text_last{
	order: 5;
}



.granny{
	position: absolute;
	width: 12%;
}
.gpos_1{
	bottom: 5%;
	left: 25%;
}
.gpos_3{
	bottom: 5%;
	left: 57%;
}
.kid{
	position: absolute;
	width: 12%;
}
.kpos_1{
	bottom: 5%;
	left: 2%;
}
.kpos_2{
	bottom: 5%;
	left: 70%;
}
.kpos_3{
	bottom: 5%;
	left: 15%;
}
.kpos_7{
	bottom: 5%;
	left: 10%;
}
.dog{
	position: absolute;
	bottom: 5%;
	left: 17%;
	width: 6%;
}
.pond{
	position: absolute;
	bottom: 0%;
	left: 12%;
	width: 12%;
}
.bench{
	position: absolute;
	bottom: 4%;
	left: 30%;
	width: 25%;
}
.squirrel{
	position: absolute;
	left: 15%;
	bottom: 4%;
	width: 9%;
}
.tree{
	position: absolute;
	left: 0%;
	bottom: 5%;
	width: 35%;
}
.shop{
	position: absolute;
	left: 1%;
	bottom: 4%;
	width: 35%;
}
.ball{
	position: absolute;
	left: 2%;
	bottom: 4%;
	width: 6%;
}


.ex_main_text{
	position: absolute;
	top: 44%;
	left: 46.7%;
	transform: translateX(-50%);
	width: 40%;
	color: #A64D79;
	font-family: Sniglet;
}
.ex_ins_text{
	position: absolute;
	top: 44%;
	left: 46.7%;
	transform: translateX(-50%);
	width: 80%;
	color: black;
	font-family: Sniglet;
}
.item_highlight{
	filter: drop-shadow(0px 0px 5px red);
}
.cover_board{
	position: absolute;
	left: 0%;
	top:0%;
	width: 100%;
	height: 100%;
}
.imblock{
	z-index: 5;
}
.tt_block{
	z-index: 15;
}
.instructiontext {
    color: white;
    font-family: sniglet;
    font-size: 5vmin;
    background: rgb(48,150,208,.5);
}

.uppertext {
    width: 100%;
    position: absolute;
    left: 0;
    top: 12%;
}