.decimal {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 2vmin;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey, cursive;
}

.decimal, .decimal * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.decimal .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.decimal .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 42%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : relative;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: #9EDED3;
}

.add_contentblk{
	background-color: #FFF8D3;
}

.imageblock, .textblock{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.description_title2{
	font-family: chelsea_market;
	color: #674EA7;
	padding-top: 2%;
}

.container_line, .container_line3{
	position: absolute;
	height: 20%;
	top: 50%;
	width: 100%;
}

.container_line3{
	width: 90%;
	left: 1%;
	top: 70%;
	color: #674EA7;
}

.container_line2{
	width: 90%;
	left: 9%;
	height: 25%;
	top: 52%;
	position: absolute;
	color: #674EA7;
}

.container_apple, .container_filter{
	position: absolute;
	width: 9%;
	height: 20%;
	bottom: 51%;
	left: 1%;
}

.container_apple{
	height: 13.5%;
	background-size: 1100% 100%;
	background-position: 0 0;
}

.container_apple_animate{
	-webkit-animation: slide_along 11s linear infinite;
	animation: slide_along 11s linear infinite;
}

@-webkit-keyframes slide_along {
	100%{
		left: 91%;
	}
}

@keyframes slide_along {
	100%{
		left: 91%;
	}
}

.container_filter{
	right: 90%;
	left: unset;
	-webkit-animation: width_animate 11s linear infinite;
	animation: width_animate 11s linear infinite;
}

@-webkit-keyframes width_animate {
	100%{
		right: 0;
		width: 0;
	}
}

@keyframes width_animate {
	100%{
		right: 0;
		width: 0;
	}
}

.container_filter{
	background-color: rgba( 256, 256, 256, 0.5);
}

.line_class{
	position: relative;
	width: 97%;
}

.apple_class{
	width: 96%;
	position: absolute;
	bottom: 1%;
	left: 2%;
}

.label_des{
	position: relative!important;
	width: 9%;
	float: left;
	color: #674EA7;
}

.pink_highlight{
	color: #E71861;
}

.container_fraction{
	width: 90%;
	left: 5%;
	height: 25%;
	top: 30%;
	position: absolute;
}

.label_des2{
	width: 9%;
	float: left;
	position: relative!important;
	height: 100%;
	border: 0.1em solid #796C9F;
}

/**
	this block is essential for implementing fractions
	fraction block essential code begin
*/
.fraction, .fraction2, .top, .bottom{
	padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;
}

.fraction2 {
   transform: translateY(25%);
}

.bottom{
    border-top: 0.1em solid #674EA7;
    display: block;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}

/**
	fraction block essential end
*/

.additional_ltb{
	height: 30%;
	width: 86%;
	left: 7%;
	bottom: 0;
	top: unset;
}

.pos1{
	left: 9%;
	background-position: -100% 0;
}

.pos2{
	left: 18%;
	background-position: -200% 0;
}

.pos3{
	left: 27%;
	background-position: -300% 0;
}

.pos4{
	left: 36%;
	background-position: -400% 0;
}

.pos5{
	left: 45%;
	background-position: -500% 0;
}

.pos6{
	left: 54.5%;
	background-position: -600% 0;
}

.pos7{
	left: 63.5%;
	background-position: -700% 0;
}

.pos8{
	left: 72.5%;
	background-position: -800% 0;
}

.pos9{
	left: 82%;
	background-position: -900% 0;
}

.pos10{
	left: 91%;
	background-position: -1000% 0;
}
@media screen and (min-aspect-ratio: 4/3) {
	.description_title2{
		font-size: 5.2vh;
	}
	.description2{
		font-size: 5vh;
	}
	.label_des{
		font-size: 4vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.description_title2{
		font-size: 4.56vw;
	}
	.description2{
		font-size: 4.56vw;
	}
	.label_des{
		font-size: 3.2vw;
	}
}

.description_title2{
	z-index: 999;
}