.bg{
    background-color: #8ee3df;
    background_size:100% 100%;
}
.piechart{
    position: absolute;
    width: 50%;
    right: 2%;
    top: 10%;

}
.arrow{
    position: absolute;
    width: 7%;
    right: 24%;
    top: 0%;
}
.clicktext{
    position: absolute;
    width: 10%;
    height: 15%;
    border: 3px solid #bf9000;
    border-radius: 90% 90%;
    background-color: #ffcd19;
    top: 43%;
    right: 22%;
    cursor: pointer;
    z-index:2;
}
.blinkEffect{
    animation: blinkEff 1s linear 0s  alternate infinite;
    -webkit-animation: blinkEff 1s linear 0s  alternate infinite;
}
@keyframes blinkEff {
    0%{
        transform:  scale(0.8) ;
    }
    100%{
        transform:  scale(1) ;
    }
}
.animationrotaten{
    animation: rotatingnutrition 2.998s linear 0s  1 forwards;
    -webkit-animation: rotatingnutrition 2.998s linear 0s  1 forwards;
}
.animationrotater{
    animation: rotatingrespiration 2.998s linear 0s  1 forwards;
    -webkit-animation: rotatingrespiration 2.998s linear 0s  1 forwards;
}
.animationrotateit{
    animation: rotatingintrans 2.998s linear 0s  1 forwards;
    -webkit-animation: rotatingintrans 2.998s linear 0s  1 forwards;
}
.animationrotateex{
    animation: rotatinginexcretion 2.998s linear 0s  1 forwards;
    -webkit-animation: rotatinginexcretion 2.998s linear 0s  1 forwards;
}
.animationrotaterp{
    animation: rotatinginreproduction 2.998s linear 0s  1 forwards;
    -webkit-animation: rotatinginreproduction 2.998s linear 0s  1 forwards;
}
@keyframes rotatingnutrition{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(686deg);
    }
}
@keyframes rotatingrespiration{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(757deg);
    }
}
@keyframes rotatingintrans{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(831deg);
    }
}
@keyframes rotatinginexcretion{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(610deg);
    }
}
@keyframes rotatinginreproduction{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(903deg);
    }
}

.rotatingtext,.rotatingtext1{
    position: absolute;
    width: 22%;
    height: 10%;
    /*border: 1px solid;*/
}
.rotatet1{
    top: 26%;
    left: 51%;
}
.rotatet2{
    top: 26%;
    left: 73%;
}
.rotatet3{
    top:51%;
    left:76%;
}
.rotatet4{
    top: 73%;
    left: 62%;
}
.rotatet5{
    top: 51%;
    left: 48%;
}
.targettext1{
    top: 18%;
    left: 63%;
}
.targettext2{
    top: 40%;
    left: 75%;
}
.targettext3{
    top: 65%;
    left: 72%;
}
.targettext4{
    top: 64%;
    left: 51%;
}
.targettext5{
    top: 38%;
    left: 48%;
}
.respiration{
    color: #ff63b5;
}
.intrans{
    color: #6900ff;
}
.excretion{
    color: #d80e70;
}
.reproduction{
    color: #0000ff;
}
.nutrition{
    color:#f73859;
}
.flower{
    position: absolute;
    width: 16%;
    top: 35%;
    left: 13%;
    z-index: 1;
}
.emptydiv{
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #d9f9f3;
}
.emptydiv1{
    position: absolute;
    width:45%;
    height:20%;
    bottom:0%;
    left:0%;
    background-color: #a07444;
}
.maintitle{
    position: absolute;
    width:100%;
    height:10%;
    top:0%;
    left:0%;
    background-color: #5b9bc4;
    color: white;
}
.querytitle{
    position: absolute;
    width: 55%;
    right: 0%;
    top: 10%;
    height: 15%;
    background-color: #fbe6d7;
}
.fillques{
    position: absolute;
    width:55%;
    right:0%;
    bottom:9%;
    height:15%;
}
.option,.draggable{
    position: absolute;
    width: 24%;
    height: 13%;
    bottom: 40%;
    background-color: #5772e6;
    border-radius: 26px;
    color: white;
    cursor: pointer;
}
.draggable:hover{
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:black;
    border-radius: 18px;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.option:hover{
    background-color: #f9cb9c;
    border:4px solid #f6b26b;
    color: black;
}
.opt1{
    right:30%;
}
.opt2{
    right:2%;
}

.optionimg{
    position: absolute;
    width: 20%;
    z-index: 1;
    top: 37%;
    border: 3px solid;
    cursor: pointer;
}
.o1{
    right: 31%;
}
.o2{
    right:4%;
}
.optionimg:hover{
    border:4px solid #f6b26b;
}
.option1{
    position: absolute;
    width: 20%;
    height: 11%;
    bottom: 13%;
    background-color: #5772e6;
    color: white;
    cursor: pointer;
}
.opt11{
    right:31%;
}
.opt22{
    right:4%
}
.hoveringcss{
    background-color: #f9cb9c;
    color: black;
}
.droppable{
    position: absolute;
    border: 2px solid #cccccc;
    width: 15%;
    top: 66%;
    height: 13%;
    right: 56%;
    background-color: #f3f3f3;
    border-radius: 18px;
    color: black;

}
.droppable1{
    position: absolute;
    border: 2px solid #cccccc;
    width: 21%;
    top: 57%;
    height: 13%;
    right: 2%;
    background-color: #f3f3f3;
    border-radius: 18px;
    color: black;

}
.drop11{
    top:57%;
}
.drop22{
    top:75%;
}
.hovered{
    border: 0.3em dashed #CCCCCC;
    background: #E5E5E5;
}
.correctwrongimg{
    width: 14%;
    left: 3%;
    bottom: -77%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .correctwrongimg {
        width: 14%;
        left: 3%;
        padding-top:19%;
    }
}
.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}



.dial{
    position: absolute;
    width: 33%;
    left: 2%;
    top: 11%;
    z-index: 1;
}
.dial >p {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 5%;
    height: 100%;
}
.arrow1{
    position: absolute;
    z-index: 1;
    top: 69%;
    width: 4%;
    left: 25%;
    transform: scaleX(-1) rotate(26deg);
}
.subscript{
    vertical-align: sub;
    font-size: .83em;
}
.dropquery1{
    position: absolute;
    width: 31%;
    height: 13%;
    bottom: 30%;
    right: 24%;
}
.dropquery2{
    position: absolute;
    width: 31%;
    height: 13%;
    bottom: 12%;
    right: 24%;
}
.popuptext{
    position: absolute;
    width: 30%;
    height: 16%;
    top: 42%;
    right: 12%;
    border-radius: 20px;
    opacity: 0;
    z-index:1;
    background-color: #ffcd19;
    border:2px solid #bf9000;
}
