.bg{
    background-color: #f1ddcf;
    background-size: 100% 100%;
}
.maintitle{
    position: absolute;
    width: 100%;
    height:15%;
    background-color:#6ebaeb ;
    top:0%;
    left:0%;
}
.transportation{
    position: absolute;
    width: 25%;
    top: 20%;
    left: 4%;
}
.excretion{
    position: absolute;
    width: 25%;
    top: 20%;
    left: 38%;
}
.reproduction{
    position: absolute;
    width: 25%;
    top: 60%;
    left: 4%;
}
.respiration{
    position: absolute;
    width: 25%;
    top: 60%;
    left: 38%;
}
.droppable{
    position: absolute;
    width: 25%;
    height: 9%;
    border: 2px solid #666666;
    background-color: white;
}
.drop1{
    top:50%;
    left:4%;
}
.drop2{
    top:50%;
    left:38%;
}
.drop3{
    top:90%;
    left:4%;
}
.drop4{
    top:90%;
    left:38%;
}
.draggable{
    position: absolute;
    width: 25%;
    height: 10%;
    border-radius: 18px;
    background-color: #5772e6;
    color: white;
    z-index: 1;
    right:3%;
}
.draggable:hover{
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:black;
    border-radius: 18px;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.drag1{
    top:25%;
}
.drag2{
    top:45%;
}
.drag3{
    top:65%;
}
.drag4{
    top:85%;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 2px solid #deef3c;
}
.correctwrongimg1{
    width: 14%;
    left: 61%;
    bottom: 86%;
}
.hovered{
    border: 0.3em dashed #CCCCCC;
    background: #E5E5E5;
}
.monkey{
    position: absolute;
    width: 20%;
    top: 44%;
    right: 7%;
    opacity: 0;
}