<script type="text/javascript">
	$cssLoader("exercise/css/ex.css");
</script>

<div class="activity_container">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				{{#each extratextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">
					{{{textdata}}}
				</p>
				{{/each}}
				<div class="exerciseblock">
					{{#each exerciseblock}}
						<p class="instruction">{{{instructiondata}}}</p>
						<p class="question {{ques_class}}"><span id="num_ques">1</span>{{{questiondata}}}</p>
						{{#each option}}
							<div class="main-container {{mc_class}}">
								<img class="correct-icon" src="images/correct.png">
								<img class="incorrect-icon" src="images/wrong.png">
								<div class="option-container {{option_class}}">
									<p class='option-label {{option_label_class}}'>{{optiondata}}</p>
								</div>
							</div>
						{{/each}}
						<img class="center-image" src="{{centerimgsrc}}">
					{{/each}}
				</div>
			</div>
		</div>
	</script>

	<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
	<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("exercise/js/exercise1.js");
</script>
