<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>

<div class="readingmap_page2">
    <div class="board">
    </div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
	
	<div class="information_box">
        <img src="activity/grade8/english/eng_grade8_participating_in_fair/images/close.png" class="img_responsive close_info_box">

        <div class="words">
            <p class="click_words"> Click on the words to know their meaning </p>
            <ul class="mainul">
                <li class="firstlist"> democracy  </li>
				
            </ul>
        </div>

        <div class="images_words">
            <img src="activity/grade8/english/eng_marginalized_groups/images/page4/democracy.jpg" class="img_responsive imgone">
			
        </div>

        <div class="words_meanings">
            <p class="meaningone">government by the people</p> 
		 
        </div>

    </div>
	
	
</div>

<script type="text/x-handlebars-template" id="slide1-template">
    <div class="slide1 coverBoardFull">
        <div class="backgroundImagesContainer">
            <img src="{{this.bgImgSrc}}" data-forwhichdialog="{{this.forwhichdialog}}">
        </div>
        <div class="talkHeads">
            {{#each talkHeadImages}}
                <img src="{{this.talkHeadImgSrc}}" data-whosehead="{{this.nameofwhosehead}}" data-highlight="{{this.highlightFlag}}">
            {{/each}}
        </div>
        <div class="dialogcontainer">
            <p>
                <img class="listenAgainButton disableListenAgain" src="{{speakerImgSrc}}" title="{{listenAgainText}}">
                {{#each lineCountDialog}}
                    <span>{{{this}}}</span>
                {{/each}}
            </p>
        </div>        
    </div>
    
</script>

<script src="js/buzz.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>