<script>
	$cssLoader("css/page2.css");
</script>

<div class="shapes_activity vertical-horizontal-center">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
		or only has content --}}
		{{#if hasheaderblock}}
			<div class="generalTemplateblock {{additionalclasscontentblock}}" data-templatecontains="hasheaderblock">
		{{else}}
			<div class="generalTemplateblock {{additionalclasscontentblock}}" data-templatecontains="hasonlycontent">
		{{/if}}

			{{! header block start--}}
				{{#if headerblock}}
					<div class="headerblock">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
					</div>
				{{/if}}
			{{! header block end--}}

			{{#if uppertextblock}}
				<div class="textblock {{uppertextblockadditionalclass}}">
					{{#if contentblocknocenteradjust}}
						<div class="vertical-horizontal-center">
					{{/if}}
					{{#each uppertextblock}}
						{{>textcontent}}
					{{/each}}

					{{#if contentblocknocenteradjust}}
						</div>
					{{/if}}
				</div>
			{{/if}}

			{{! content block starts--}}
				<div class="contentblock">
					{{! content block content wrapper is used for content orientation i.e. center
						horizontally or vertically}}

						{{#if imageblock}}
						<div class="imageblock">
							{{#if contentblockcenteradjust}}
								<div class= "vertical-horizontal-center">
							{{/if}}

							{{#each imageblock}}
								{{>imagecontent}}
							{{/each}}

							{{#if contentblockcenteradjust}}
								</div>
							{{/if}}
						</div>
						{{/if}}

						{{#if imageblockadditionalclass}}
							</div>
						{{/if}}

				</div>
		</div>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="textcontent-partial" type="text/x-handlebars-template">
		<h2 class="{{textclass}}" id="{{textid}}" data-highlight="{{datahighlightflag}}"
			data-highlightcustomclass="{{datahighlightcustomclass}}">{{textdata}}</h2>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<h2 class="{{definitionclass}}" data-highlight="{{datahighlightflag}}">{{{definitiontext}}}</h2>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagetoshow}}
			<img id="{{imgid}}" class="{{imgclass}}" id="{{imgid}}" src="{{imgsrc}}"/>
	{{/each}}
</script>

<script>
	$jsLoader("js/page2.js");
</script>
