html, body {
    margin: 0;
    height: 100%;
    width: 100%;

}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background-color: #BFEFFF;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.coverpage {
    background: url("../images/coverpage_vocabulary-verbs_gr_3_eng.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
    background-color: #bfefff;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    background-color: #bfefff;

}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
    font-family: sniglet;
}


.lesson-title {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 36%;
    left: 50%;
    color: #E04380;
    font-size: 4vw;
}

.centertext {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #5A78D8;
    font-size: 5vw;
}

.startingtext {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    font-size: 3vw;
    color: #674EA7;
    width: 100%;
}

.letshighlight{
    color: #CC0000;
}

.suchas{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    font-size: 3vw;
    color: #987818;
    width: 100%;
}

.vocabcontainer {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 40%;
}

.vocabcontainer > div{
    display: table-cell;
}

.insidethediv {
    width: 65%;
}

.insidetext1 {
    font-size: 3vw;
    font-weight: bold;
    color: #5A78D8;
}

.insidetext2 {
    font-size: 3vw;
    font-weight: bold;
    color: #E69138;
}

.insidetext3 {
    font-size: 3vw;
    font-weight: bold;
    color: #6AA84F;
}

.cloudback {
    background: url("../images/cloud01.png");
    background-size: 100% 100%;
    top: 14%;
    left: 50%;
    padding: 2.5%;
    background-repeat: no-repeat;
    opacity: 1;
    color: #FA6700;
    font-size: 3vw;
    font-weight: bold;
    transform: translate(-50%, -50%);
    position: absolute;
}

.cloudnep {
    background: url("../images/cloud01.png");
    background-size: 100% 100%;
    top: 14%;
    left: 50%;
    padding: 2.5%;
    background-repeat: no-repeat;
    color: #6AA84F;
    font-size: 3vw;
    font-weight: bold;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    white-space: nowrap;
    animation: moveleft 2s linear forwards;
}

@keyframes moveleft{
    50%{
        opacity: 1;
    }
    100%{
        left: 80%;
        opacity: 1;
    }
}

.mainimg {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 47%;
    position: absolute;
}
.mainimg1{
    position: absolute;
    width: 4%;
    z-index: 1;
    top: 50%;
    left: 29%;
}
@keyframes moveforward{
    0%{
        left:29%;
    }
    100%{
        left: 80%;
        opacity: 1;
    }
}

.audiocontainer {
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 2%;
    left: 50%;
    background: #FFF2CC;
    min-width: 40%;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 5vmin;
    padding: 1%;
}

.audiotext {
    margin-left: 4%;
}

.audioicon {
    float: right;
}

.playable{
    cursor: pointer;
    background:  #FFF2CC !important;
}

.playable:hover{
    background: #ffe59b !important;
}

.onediv{
    opacity: 0;
    animation: appear 1s linear 1s forwards;
}

.twodiv{
    opacity: 0;
    animation: appear 1s linear 3s forwards;
}

.threediv{
    opacity: 0;
    animation: appear 1s linear 5s forwards;
}

@keyframes appear{
    to{
        opacity: 1;
    }
}
