.center_text {
    position: absolute;
    font-size: 5vw;
    color: white;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 44%;
}
.bg_blue{
  background: #65c0ba;
}
.right_img {
    transform: translate(-50%,-50%);
    left: 74%;
    height: 60%;
    top: 55%;
    position: absolute;
    border-radius: .7vmin;
}
.top_text {
    position: absolute;
    color: white;
    background: #216583;
    width: 100%;
    padding: 1%;
    left: 0;
    top: 0;
    border-bottom-left-radius: 2vmin;
    border-bottom-right-radius: 2vmin;
    font-size: 2vw;
}
.question {
    position: absolute;
    background: #0097a7;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    top: 33%;
    width: 45%;
    transform: translate(-50%,-50%);
    left: 27%;
    font-size: 1.8vw;
}
.option_1, .option_2 {
    position: absolute;
    font-size: 1.7vw;
    background: #cffdf8;
    padding: 1%;
    width: 40%;
    border-radius: 1vmin;
    transform: translate(-50%,-50%);
    top: 54%;
    left: 26%;
    cursor: pointer;
}
.option_2{
  top: 70%;
}

@media (min-aspect-ratio: 4/3){
  .centertext{
    font-size: 7vmin;
  }
  .question{
    font-size: 4.2vmin;
  }
  .option_1, .option_2 {
    font-size: 3.8vmin;
  }
  .top_text{
    font-size: 5.5vmin;
  }

}
