<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1.css');
</script>



<div class="pageContainer">
	<div id="cover_page">
		<!-- <img class="cover_image" src="activity/grade7/math/math_binary_01/images/coverpage.png">
		<img class="cover_cross" src="images/white_wrong.png">
		<p class="covertext"></p> -->
	</div>
	<div class="headTitle"></div>

	<div id="figBox">

		<div class="thirdBx">
			<div class="smallTitle" id="decimal"></div>
			<div class="numberBox">
				<p>0</p>
				<p>1</p>
				<p>2</p>
				<p>3</p>
				<p>4</p>
				<p>5</p>
				<p>6</p>
				<p>7</p>
				<p>8</p>
				<p>9</p>
				<p>10</p>
			</div>


		</div>

		<div class="thirdBx">
			<div class="smallTitle"  id="binary">></div>
			<div class="numberBox">
				<p>0</p>
				<p>1</p>
				<p>10</p>
				<p>11</p>
				<p>100</p>
				<p>101</p>
				<p>110</p>
				<p>111</p>
				<p>1000</p>
				<p>1001</p>
				<p>1010</p>
			</div>


		</div>

		<div class="thirdBx">
			<div class="smallTitle"   id="quinary"></div>
			<div class="numberBox">
				<p>0</p>
				<p>1</p>
				<p>2</p>
				<p>3</p>
				<p>4</p>
				<p>10</p>
				<p>11</p>
				<p>12</p>
				<p>13</p>
				<p>14</p>
				<p>20</p>
			</div>

		</div>
	</div>


</div>

<script type="text/x-handlebars-template" id="general-template">
	<img class="{{img_class}}" src="{{img_src}}">
	<p class="{{p_class}}">{{{p_data}}}</p>
</script>

<script>
$jsLoader('js/page1.js');

</script>
