<script>
$cssLoader('css/shared.css');
$cssLoader('css/page4.css');
</script>



<div class="pageContainer">
	<div class="headTitle"></div>

	<div id="figBox">
	</div>	
		
		
	<div id="nextbtn" class="arrowcls"></div>
	<div id="repeatBtn"></div>
	
</div>

<script>
$jsLoader('js/page4.js');
</script>


<script type="text/x-handlebars-template" id="template-1">
	<ul id="clsUl">
		<li class="text1">{{text1}}</li>
		
	</ul>
	

</script>


<script type="text/x-handlebars-template" id="template-2">

<div class="number">{{number}}</div>
<div id="numberVal">
	
	<div  id="conversionVal">

			<div class='divideAct2'>
				<div class='division'>
					<div class='whatfrst'></div>
					<div  class='whatfrst3'></div>
				</div>
				<div class='remainder remaintxt'>{{remainder}}</div>
			</div>

			<div class='divideAct' id='step_1'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>11</div>
				</div>
				<div class='remainder'><span>1</span></div>
			</div>

			

			<div class='divideAct' id='step_2'>
				<div class='division'>
					<div class='whatfrst'></div>
					<div  class='whatfrst2'>2</div>
				</div>
				<div class='remainder'><span>2</span></div>
			</div>

	</div>
	<div class="rightBx">
		<div class="whatArrow"><img src="{{src}}" class="imgArSrc" /></div>
		<div class="whatNext"> 
			<div class="firstMe">= 2 1</div>

			<div  class="secMe"> (11)<sub>10</sub> = (21)<sub>5</sub></div>

		</div>

	</div>
	
	
</div>
<div class="whatme">

	<img src="{{imgsrc}}" id="imgsrc1" />

 </div>


</script>



<script type="text/x-handlebars-template" id="template-3">

<div class="number">{{number}}</div>
<div id="numberVal2">
	
	<div  id="conversionVal">

			<div class='divideAct2'>
				<div class='division'>
					<div class='whatfrst'></div>
					<div  class='whatfrst3'></div>
				</div>
				<div class='remainder remaintxt'>{{remainder}}</div>
			</div>

			<div class='divideAct' id='step_1'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>214</div>
				</div>
				<div class='remainder'><span>4</span></div>
			</div>

			<div class='divideAct' id='step_2'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>42</div>
				</div>
				<div class='remainder'><span>2</span></div>
			</div>


			<div class='divideAct' id='step_3'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>8</div>
				</div>
				<div class='remainder'><span>3</span></div>
			</div>

			<div class='divideAct' id='step_4'>
				<div class='division'>
					<div class='whatfrst'><span></span></div>
					<div  class='whatfrst2'>1</div>
				</div>
				<div class='remainder'><span>1</span></div>
			</div>


			


			

	</div>
	<div class="rightBx">
		<div class="whatArrow"><img src="{{src}}" class="imgArSrc" /></div>
		<div class="whatNext"> 
			<div class="firstMe">= 1 3 2 4</div>

			<div  class="secMe"> (214)<sub>10</sub> = (1324)<sub>5</sub> </div>

		</div>

	</div>
	
	
</div>
<div class="whatme">

	<img src="{{imgsrc}}" id="imgsrc2" />

 </div>


</script>



<script type="text/x-handlebars-template" id="template-4">

<div class="number">{{number}}</div>
<div id="numberVal2">
	
	<div  id="conversionVal">

			<div class='divideAct2'>
				<div class='division'>
					<div class='whatfrst'></div>
					<div  class='whatfrst3'></div>
				</div>
				<div class='remainder remaintxt'>{{remainder}}</div>
			</div>

			<div class='divideAct' id='step_1'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>723</div>
				</div>
				<div class='remainder'><span>3</span></div>
			</div>

			<div class='divideAct' id='step_2'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>144</div>
				</div>
				<div class='remainder'><span>4</span></div>
			</div>


			<div class='divideAct' id='step_3'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>28</div>
				</div>
				<div class='remainder'><span>3</span></div>
			</div>

			<div class='divideAct' id='step_4'>
				<div class='division'>
					<div class='whatfrst'><span>5</span></div>
					<div  class='whatfrst2'>5</div>
				</div>
				<div class='remainder'><span>0</span></div>
			</div>

			

			<div class='divideAct' id='step_5'>
				<div class='division'>
					<div class='whatfrst'></div>
					<div  class='whatfrst2'>1</div>
				</div>
				<div class='remainder'><span>1</span></div>
			</div>


			

	</div>
	<div class="rightBx">
		<div class="whatArrow"><img src="{{src}}" class="imgArSrc" /></div>
		<div class="whatNext"> 
			<div class="firstMe">= 1 0 3 4 3</div>

			<div  class="secMe"> (723)<sub>10</sub> = (10343)<sub>5</sub></div>

		</div>

	</div>
	
	
</div>
<div class="whatme">

	<img src="{{imgsrc}}" id="imgsrc3" />


 </div>


</script>


<script type="text/x-handlebars-template" id="template-5">

<div class="firstInput">
	<input type="text"  maxlength="3" id="decimalVal" class="inbx" />
	<div class="confirmbtn" id="decimalToBi">{{{confirmval}}}</div>

</div>

<div id="binaryValues"></div>
<div id="binaryValues2"></div>


</script>


<script type="text/x-handlebars-template" id="template-6">




<div class="firstInput" id="secInBx">
	<input type="text"  maxlength="5" id="binaryVal"  class="inbx2"  />
	<div class="confirmbtn" id="binaryToDeci">{{{confirmval}}}</div>


</div>
<div id="decimalValues"></div>
<div id="decimalValues2"></div>

</script>