<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page_atmosphere1.weatherclimate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="weatherclimate">
    
	<div class="board">

	</div>
    
    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
        <div class="prevBtn myPrevStyle"></div>
</div>

<script type="text/x-handlebars-template" id="introFirst-template">
    <div class="atmosphereFirstWrapper {{newclass}}">
        <div class="introText">{{introText}}</div>
        <div class="imgHolder {{newclass}}"><img src="{{img1}}" alt="earth"></div>
        <div class="descText">{{{descText}}}</div>
        <div class="descText2">{{{descText2}}}</div>
    </div>
</script>

<!-- from atmosphere 2  -->

<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro">
        <div class="introText">{{introText}}</div>
        <div class="imgHolder"><img src="{{img1}}" alt="earth">
            <div class="clickPart" title="{{clickToGo}}"></div>
        </div>
        <div class="introText2">{{introText2}}</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="atmosphere-template">
    <div class="wrapperArea">
        <div class="layer1 layers">
            <div></div>
            <span class="title">{{{exosphere}}} </span>
            <img id="rocket" src="{{rocket}}" alt="">
        </div>
        <div class="layer2 layers">
            <div></div>
            <span class="title">{{{thermosphere}}} </span>
            <img id="aurora" src="{{aurora}}" alt="">
        </div>
        <div class="layer3 layers">
            <div></div>
            <span class="title">{{{mesosphere}}} </span>
            <img id="meteoroid" src="{{meteoroid}}" alt="">
        </div>
        <div class="layer4 layers">
            <div></div>
            <span class="title">{{{stratosphere}}} </span>
        </div>
        <div class="layer5 layers">
            <div></div>
            <span class="title">{{{troposphere}}} </span>
            <img id="everest" src="{{everest}}" alt="">
        </div>

        <div class="desc">

        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="descLoader-template">
    <div class="title">{{title}}</div>
    <div class="showDesc">{{{showDesc}}}</div>

</script>


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page_atmosphere1.weatherclimate.js");
</script>