<!--
Title : General Template
-->

<script type="text/javascript">
    $cssLoader("../../../../css/gradient.css");
    $cssLoader("css/common.css");
    $cssLoader("css/page3.css");
    $cssLoader("../../../../css/commonpage/lessontemplate.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
    <div id="loading-wrapper">
        <div id="loading-text">
            LOADING
        </div>
        <div id="loading-content"></div>
    </div>
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
    or only has content --}}
    {{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
            {{/if}}
            {{! header block start--}}
            {{#if headerblock}}
            <div class="headerblock {{headerblockadditionalclass}}">
                {{#each headerblock}}
                {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{! header block end--}}
            {{! content block start--}}
            <div class="contentblock {{contentblockadditionalclass}}">
                {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
                <div class="coverboardfull {{coverboardadditionalclass}}">
                    {{#if uppertextblock}}
                    <div class="textblock {{uppertextblockadditionalclass}}">
                        {{#each uppertextblock}}
                        {{> textcontent}}
                        {{/each}}
                    </div>
                    {{/if}}

                    {{#if imageblock}}
                    {{#each imageblock}}
                    {{#each imagestoshow}}
                    {{#if popupdisplay}}
                    <a class="{{anchorClass}}" href="#popup1" data="">
                        {{/if}}
                        <div class="{{imagediv}}">
                            <img  class="{{imgclass}}" src="">
                        </div>
                        {{#if popupdisplay}}
                    </a>
                    {{/if}}
                    {{/each}}
                    {{/each}}
                </div>
                {{/if}}

                {{#if popupdiv}}
                {{#each popupdiv}}
                <div class="{{textClass}}">
                    <div class="{{txtdiv}}">
                        {{>textcontent}}
                    </div>
                    {{#if button}}
                    {{#each button}}
                    <div class="{{btndiv}}">
                        <button type="button" class="{{btnclass}}">
                            {{{btndata}}}
                        </button>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if imageblock}}
                    {{#each imageblock}}
                    {{#each imagestoshow}}
                        {{#if animation}}
                          <div class="{{divclass}}">
                        {{/if}}
                        <img  class="{{imgclass}}" src="">
                        {{#if animation}}
                            </div>
                        {{/if}}
                    {{/each}}
                    {{/each}}

                    {{/if}}

                </div>
                {{/each}}
                {{/if}}

            </div>
        </div>
        {{! content block end--}}
    </div>
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
    <img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
    {{#each imagelabels}}
    <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
           data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
    {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>
