#p0_1
{
	width: 100%;
	font-size: 1.2em;
	color: #0F6307;
	display: none;
}

#p0_2
{
	color:green;
	font-size: 1em;
	font-weight: bold;
	margin-top: 2%;
	display: none;
	text-decoration: underline;
}


#p0_3
{
	color:blue;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 2%;
	display: none;

}

.animateBox
{
	position: relative;
	width: 100%;
	padding: 3%!important;
	height: 55%;

	margin-top: 1%!important;
}

#id_1,
#id_2,
#id_3,
#id_4,
#id_5,
#p0_5,
#p0_6,
#p0_7
{
	width: 100%;
	height: 20%;


}
#p0_5,
#p0_6,
#p0_7
{
	display:none;
}

.pencilimages
{
	width: 30%;
	position: absolute!important;
	text-align: center;
	top:1%;
	left: 10%;
	display: none;
}

.pencilimages  img
{
	width: 60%;

}
.txtvals
{
	width: 10%;
	font-size: 1.5em;
	position: absolute!important;
	text-align: center;
	top:-10%;
	left: 40%;
	display: none;
}
.coins
{
	width: 5%;
	text-align: center;
	position: absolute!important;
	top:0%;
	left: 60%;
	display: none;
}


.coins  img
{
	width: 100%;

}
#p0_4
{

	width: 10%;
	text-align: center;
	position: absolute!important;
	top:10%;
	left: 60%;
	display: none;
}

#p0_5,
#p0_6,
#p0_7
{
	color:#11B2F2;
}


.pencilimages2
{
	width: 50%;
	position: absolute!important;
	text-align: center;
	top:1%;




}

.pencilimages2  img
{
	width: 20%;

}
.txtvals2
{
	width: 10%;
	font-size: 1.5em;
	position: absolute!important;
	text-align: center;
	top:-10%;
	left: 50%;


}
.coins2
{
	 left: 60%;
    position: absolute !important;
    text-align: center;
    top: 0%;
    width: 40%;

}


.coins2  img
{
	width: 15%;

}

#id_6
{
	display: none;
}
.coverimg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
#cover_page{
	position: absolute !important;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	/* z-index: 1000; */
}
.cover_title{
	position: absolute !important;
	top: 6%;
	left: 50%;
	transform: translate(-54%);
	font-size: 6vh;
	font-family: comfortaa;
}
