#head_title
{
	-webkit-box-shadow: 0 10px 6px -10px #777;
	   -moz-box-shadow: 0 10px 6px -10px #777;
	        box-shadow: 0 10px 6px -10px #777;
}
#exampleList
{
	width: 100%;
	height: 85%;
	display: none;
}

#exampDef
{
	color:green;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 1%;
	/*display: none;*/
}

#questionTxt
{
	color: blue;
	margin:2% auto;
	font-size: 1.2em;
}

.allDiv
{
	width: 100%;
	clear: both;
}

.ansDiv
{
	width: 60%;
	float: left;
	font-size: 1em;

}
.ansDiv div
{
	margin-bottom: 2%!important;
}



.hideThis
{
	display: none;
}

.intentDing
{
	margin-left: 15%!important;
	font-size: 0.8em!important;
}

.conCluTxt
{
	color: green;
	font-size: 0.9em;
}

#float_left
{
	width: 47%;
	float: left;
	margin-right: 3%;
	font-size: 0.9em;

	padding-right: 2%;
}

.intentDing2
{
	margin-left: 10%!important;
	font-size: 0.8em!important;
}
#float_right
{
	width: 45%;
	float: left;
	margin-left: 3%;
	font-size: 0.9em;
}

.nextBtn
{
	position: absolute!important;
	bottom:4%;
	right:1%;
	cursor: pointer;
	display: none;

}

.nextBtn span
{
	font-size: 1.8em;
	color: #0C0D0D;
}

.prevBtn
{
	position: absolute!important;
	bottom:4%;
	left:0%;
	cursor: pointer;
	display: none;

}

.prevBtn span
{
	font-size: 1.8em;
	color: #0C0D0D;

}






#myImgobj
{
	width: 40%;
	float: left;

	padding:2%;

	height:30%;

	text-align: left;


}

.oval-thought {
   	color: #000;
	position: relative;
	text-align: left;
	width: 100%;

}


.oval-thought div
{
	font-size: 0.9em;
	margin-bottom: 2%!important;
}
.oval-class
{
	border-top: green dashed 1px;
      border-bottom: green dashed 1px;

}



#nextBtnToO
{
	width: 10%;
}

#nextBtnToO img
{
	width: 100%;
}

#nextBtnToO:hover #arrowNextHoverBtn
{
	display: block;
}

#nextBtnToO:hover #arrowNextBtn
{
	display: none;
}
