#animateBox
{

	width:100%;
	height:80%;
	

	margin-top: 2%;

	
}

#p1_1_1
{
	width: 100%;
	
	text-align: center;

	
	display: none;
	color:blue;
	font-size: 0.7em;
	
}
#p1_1_2
{
	width: 100%;
	
	text-align: center;

	
	display: none;
	color:blue;
	font-size: 0.9em;
	
}
.tophead
{
	text-align: center;
	color: #02225E;
	font-weight: bold;
	  box-shadow:0px 8px 15px -6px #666;
	-moz-box-shadow: 0px 8px 15px -6px #666;
	-webkit-box-shadow: 0px 8px 15px -6px #666;
	display: none;

}
.defThis
{
	color:#02612B;
	font-size: 1.2em;
	margin: 3%!important;
	display: none;

}

#nextidBtn
{
	position: absolute;
	bottom:1%;
	right: 1%;
	font-size: 2em;
	cursor: pointer;
	display: none;
	width: 8%;
}
#previdBtn
{
	position: absolute;
	bottom:1%;
	left: 1%;
	font-size: 2em;
	cursor: pointer;
	display: none;
	width: 8%;
}




.examplehead
{
	color:blue;
	text-align: left;
	display: none;
	font-size: 1em;

}
.exampleObj
{
	width: 100%;
	list-style: disc;
	margin-left: 10%!important;
	font-size: 0.9em;
	display: none;

}
.exampletxt
{
	width: 63%;
	float: left;
	font-size: 1em;
}
.exampleObj img
{
	width: 13%;
	float: left;
}
.exampleObj li 
{
	width: 100%;
	clear: both;
}




.clickMeTxt
{
	cursor: pointer;
}


.pageFirst
{

	width:100%;
	height:90%;
	
}

.pageFirst div
{
	
}

#inner_title
{
	position: relative;

	padding: 1%;
	color: #383836;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
	/*border-bottom: rgba(38,100,201,0.2) 2px solid;*/

	-webkit-box-shadow: 0 10px 6px -10px #777;
	   -moz-box-shadow: 0 10px 6px -10px #777;
	        box-shadow: 0 10px 6px -10px #777;
	
  display: none;
}
.def-me{
	color:green;
	display: none;
	font-size: 1em;
}
.def-me_txt
{
	color:#02612B;
	display: none;
	font-size: 1em;
}
#p1_10_2
{
	color:blue;
}

.nextBtn
{
	position: absolute;
	top:90%;
	left:90%;
	cursor: pointer;
	display: none;
}

.nextBtn span 
{
	font-size: 1.8em;
	color: #0C0D0D;
}

.closeBtn
{
	position: absolute;
	top:4%;
	left:93%;
	cursor: pointer;
	display: none;
	
}

.closeBtn span 
{
	font-size: 1.8em;
	color: #0C0D0D;
}

.prevBtn
{
	position: absolute;
	top:90%;
	left:0%;
	cursor: pointer;
	display: none;
	
}

.prevBtn span 
{
	font-size: 1.8em;
	color: #0C0D0D;

}


#show_2 table,
#show_3 table
{
	background: -moz-linear-gradient(center top , #FFFFFF, #EAEAEA, #FFFFFF) repeat scroll 0 0 #FAFAFA;
	background: -webkit-linear-gradient(center top , #FFFFFF, #EAEAEA, #FFFFFF) repeat scroll 0 0 #FAFAFA;
    background: linear-gradient(center top , #FFFFFF, #EAEAEA, #FFFFFF) repeat scroll 0 0 #FAFAFA;
    border-collapse: separate;
    border-spacing: 0;
    color: #2A2A2A;
    margin: 0 auto;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100%;
    font-size: 1em;
   

	-webkit-box-shadow: 0 10px 10px #777;
	-moz-box-shadow: 0 10px 10px #777;
	box-shadow: 0 10px 10px #777;
	display: none;

}
#show_2 table
{
	 margin: 4% auto!important;
}
td:first-child {
    text-align: center;
    width: 22%;
   background:none repeat scroll 0 0 rgba(184, 243, 85, 0.3);
}
td{

	border-right: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF;
    width:10%;
    text-align: center;
}
.inputTd
{
	 width:15%;
}
.inputTd input
{
	width: 90%;
	
}
.borderMe
{
	border: #ff0000 2px solid;
}

.questionTxt
{
	display: none;
	
}

.questionTxt2
{
	color: #383836;
}
.ansTxt
{
	width: 100%;
	
	
}

#ansText
{
	margin-bottom: 4%!important;


}
.ansTxt li 
{
	margin: 0%;
	
	width: 33%; float: left;
}
.ansTxt li img
{
	width: 10%; 
	margin-left: 5%!important;
}
.clickLi 
{
	
	cursor: pointer;
	

}
.clickLi .spanLi
{
	cursor: pointer;
	box-shadow: inset 0px 0px 10px 2px white;
	
	text-align: center;
	padding: 2%!important;
	width: 50%;
	
}


.noclickLi .spanLi
{
	
	box-shadow: inset 0px 0px 10px 2px red;
	
	text-align: center;
	padding: 2%!important;
	width:50%!important;
	
}
.conTxt
{
	display: none;
	text-align: center;
	width: 100%;
	color: #EB4802;
	
	margin-top: 2%!important;
}

.TabTitle
{
	color:green;
	display: none;
	font-size: 1.2em;

}
.graph
{
	width:100%;
	height: 95%;
	position: relative;
	display: none;

}
#graphTitle
{

	font-size:1.2em;
	position: absolute;
	color: black;
	top:4%;
	width:25%;
	
	
	display: none;
	
}

#showlastCon
{
	
	position: absolute;
	top:10%;
	font-size: 1em;
	color: blue;
	left: 72%;
	width:24%;
	display: none;
}



.graphImg
{
	width: 40%;
	margin: auto!important;
	height: 100%;
	position: relative!important;
	

}
#imgGraph
{
	width: 100%;
}
#ycor
{
	position: absolute;
	top:50%;
	left:-32%;
	font-size: 1.1em;
	tranform:rotate(270deg);
	-moz-transform:rotate(270deg);
	color: #EB4802;
}

#xcor
{
	position: absolute;

	top:94%;
	left:40%;
	font-size: 1.1em;
	color: #EB4802;
}

#circleX
{
	position: absolute;
	border:#ff0000 2px solid;
	border-radius: 50%;
	width:10%;
	height: 9%;
	top:84.5%;
	left:28%;


}


.clickthis
{
	animation: blinkCircle 1s infinite linear;
	-moz-animation: blinkCircle 1s infinite linear;
	-webkit-animation: blinkCircle 1s infinite linear;
	cursor: pointer;
	background: rgba(0,0,0,0.1);

}

@-keyframes blinkCircle
{
	0%
	{
		border:#ff0000 2px solid;
	}
	50%
	{
		border:#ffffff 2px solid;
	}
	100%
	{
		border:#ff0000 2px solid;
	}
}

@-moz-keyframes blinkCircle
{
	0%
	{
		border:#ff0000 2px solid;
	}
	50%
	{
		border:#ffffff 2px solid;
	}
	100%
	{
		border:#ff0000 2px solid;
	}
}

@-webkit-keyframes blinkCircle
{
	0%
	{
		border:#ff0000 2px solid;
	}
	50%
	{
		border:#ffffff 2px solid;
	}
	100%
	{
		border:#ff0000 2px solid;
	}
}

#showall
{
	font-size: 1.2em;
	position: absolute;
	color: #EB4802;
	top:80%;
	left: 76%;
	width:18%;
	text-align: center;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.4);
	display: none;
	cursor: pointer;
}

#graphconclusion
{
	position: absolute;
	top:60%;
	font-size: 1em;
	left:72%;
	color: blue;
	width:30%;
	
}


.carAnimation
{
	position: relative;
	width: 100%;
	height: 50%;
	display: none;
	overflow: hidden;
	
}

#timerCar
{

	position: absolute;
	padding:0.5%;
	border: red 1px solid;
	font-size: 0.8em;
	
	left:80%;
	color: blue;
}
#carimg
{
	width: 20%;
	position: absolute;
	top:30%;
}
#carimg img
{
	width: 100%;
}
#road_img
{
	width: 100%;
	border-top: brown 3px solid;
	top:65%;
	
	position: absolute;
}

#switch_car
{
width: 100%;
position: absolute;
top:68%;
display: none;
}
#switch_car div
{
	float: left;
}

#whatLabel
{
	width: 20%;
	
	text-align: center;

	box-shadow: 0 5px 10px #777;
	-moz-box-shadow: 0 5px 10px #777;
	-webkit-box-shadow: 0 5px 10px #777;
	background:#ffffff;
}

.label_car
{
	box-shadow: 10px 10px 10px #888;
	-moz-box-shadow: 10px 10px 10px #888;
	-webkit-box-shadow: 10px 10px 10px #888;
	width: 10%;
	text-align: center;
	margin: auto 5%!important;

	

}
.blinkLabelCar
{
		cursor: pointer;
	animation: blinkLabelCar 1s infinite linear;
	-moz-animation: blinkLabelCar 1s infinite linear;
	-webkit-animation: blinkLabelCar 1s infinite linear;

}
@-keyframes blinkLabelCar
{
	0%
	{
		box-shadow: 10px 10px 10px #888;
	-moz-box-shadow: 10px 10px 10px #888;
	-webkit-box-shadow: 10px 10px 10px #888;
	}
	50%
	{
		box-shadow: 10px 10px 10px #FF6600;
	-moz-box-shadow: 10px 10px 10px #FF6600;
	-webkit-box-shadow: 10px 10px 10px #FF6600;
	}
	100%
	{
			box-shadow: 10px 10px 10px #888;
	-moz-box-shadow: 10px 10px 10px #888;
	-webkit-box-shadow: 10px 10px 10px #888;
	}
}

@-moz-keyframes blinkLabelCar
{
	0%
	{
		box-shadow: 10px 10px 10px #888;
	-moz-box-shadow: 10px 10px 10px #888;
	-webkit-box-shadow: 10px 10px 10px #888;
	}
	50%
	{
		box-shadow: 10px 10px 10px #FF6600;
	-moz-box-shadow: 10px 10px 10px #FF6600;
	-webkit-box-shadow: 10px 10px 10px #FF6600;
	}
	100%
	{
			box-shadow: 10px 10px 10px #888;
	-moz-box-shadow: 10px 10px 10px #888;
	-webkit-box-shadow: 10px 10px 10px #888;
	}
}

@-webkit-keyframes blinkLabelCar
{
	0%
	{
		box-shadow: 10px 10px 10px #888;
	-moz-box-shadow: 10px 10px 10px #888;
	-webkit-box-shadow: 10px 10px 10px #888;
	}
	50%
	{box-shadow: 10px 10px 10px #FF6600;
	-moz-box-shadow: 10px 10px 10px #FF6600;
	-webkit-box-shadow: 10px 10px 10px #FF6600;
	}
	100%
	{
			box-shadow: 10px 10px 10px #888;
	-moz-box-shadow: 10px 10px 10px #888;
	-webkit-box-shadow: 10px 10px 10px #888;
	}
}
#whatTxtCar
{
	display: none;
	position: absolute;
	font-size: 1em;
	color: purple;
	top:10%;
	left: 10%;
}

#conCluCar
{
	display: none;
	text-align: center;
	color: #EB4802;
	
}
