@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

font-face {
	font-family: "calibri";
	src:url(../../../../../fonts/calibri.ttf);
}
.command {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.command, .command * {
	position: relative;
	margin: 0;
	padding: 0;
}

.command .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.command .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main_bg {
	background-image: url("../images/6am.png");
	background-size: cover;
}
.bg_1 {
	background-image: url("../images/bg1.png");
	background-size: cover;
}
.its_hidden {
	display: none;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */

.header_laila {
	font-family: 'Laila';
	font-size: 3.7vmin!important;
	color: #D31D67;
}
@font-face {
	font-family: 'Laila'; /*a name to be used later*/
	src: url('Laila-Regular.ttf'); /*URL to font*/
	Laila-Semibold
}
@font-face {
	font-family: 'Laila-Bold'; /*a name to be used later*/
	src: url('Laila-Semibold.ttf'); /*URL to font*/
}
.font_purple {
	color: #762CA5 !important;
}

.introtext{
	position: absolute;
	font-size: 3.5vmin;
}
.introduction {
	position: relative;
	top: 30%;
	left: 50%;
	width: 40%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	line-height: 8vmin;
	text-align: left;

}
.tara {
    position: absolute;
    left: 5%;
    width: 25%;
    top: 23%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*====================================
 =            SpeechBoxBlock            =
 ====================================*/

.sound_icon {
	z-index: 110;
	position: absolute;
	width: 10%;
	top: 5%;
	right: 3%;
}
.sound_icon_flipped {
	z-index: 110;
	position: absolute;
	width: 10%;
	top: 5%;
	left: 3%;
	transform: rotateY(180deg);
}

.speechboxblock {
	width: 100%;
	height: 100%;
	z-index: 50;
}

.speech_bg {
	width: 23.9%;
	height: 10%;
	background-image: url("../images/textbox/textbox_yellow.png");
	background-size: 100% 100%;
		/*transition: 0.3s ease-in-out;*/
}
.speech_1 {
	top: 39%;
	left: 11%;
	/*transition: 0.3s ease-in-out;*/
}
.speech_2 {
    top: 39%;
    left: 39%;
}
.speech_3 {
    top: 39%;
    left: 68%;
}
.speech_middle {
    top: 10%;
    left: 51%;
    transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transition: 0.3s ease-in-out;
}

.speech_1:hover {
	/*background-image: url("../images/textbox/textbox_purple.png")!important;*/
	/*background-size: cover;*/
}

.speech_content_1 {
	color: black;
	top: 50%;
	transform: translateY(-50%);
}
.speech_content_2 {
	color: white;
}

.speech_1_no_hover {
	top: 23%;
	right: 7%;
	background-image: url("../images/textbox/textbox_blue.png");
	transform: rotateY(180deg);
	background-size: cover;
	transition: 0.3s ease-in-out;
}

.speech_2_no_hover {
	top: 23%;
	left: 7%;
	background-image: url("../images/textbox/textbox_blue.png");
	background-size: 100% 100%;
	transition: 0.3s ease-in-out;
}

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
    position: absolute;
    z-index: 3;
    margin-top: 1%;
    height: 100%;
    width: 100%;
    font-family: calibri;
}



/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 1s;
	-webkit-animation: appear 1s;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	/*border     : 1px solid green; */
}

div.droppableblock {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 20%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
 .lesson-title {
     position: absolute;
     color: white;
     font-size: 7vmin;
     left: 50%;
     top: 20%;
     transform: translate(-50%,-50%);
     width: 80%;
     font-family: abeezee;
 }
 .blackboard {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 7%;
}
.images_middle {
	position: absolute;
	height: 27%;
	top: 50%;
}
.images_middle1 {
	position: absolute;
	height: 27%;
	top: 40%;
}
.images_top {
	position: absolute;
	height: 27%;
	top: 2%;
}
.images_bottom {
	position: absolute;
	height: 27%;
	bottom: 2%;
}
.img_1{
	left: 20%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
.img_2{
	left: 50%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
.img_3{
	left: 80%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}

.img_4 {
    left: 10%;
}
.img_5 {
    left: 39%;
    top: 71%;
}
.img_6{
	left: 20%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
.img_7{
	left: 50%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
.img_8{
	left: 80%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
.img_9 {
    left: 69%;
}
/*====================================
 =             Fairy                 =
 ====================================*/
.fairy {
    position: absolute;
    z-index: 50;
    height: 22%;
    left: 1%;
    top: 6%;
}

.fairy_top {
	position: absolute;
	z-index: 50;
	height: 27%;
	left: 0%;
	top: 6%;
}

.move_to_1 {
	-webkit-animation:  move_to_1_x 2s cubic-bezier(.46,.36,.67,1) forwards, move_to_1_y 2s linear forwards;
	animation: move_to_1_x 2s cubic-bezier(.46,.36,.67,1) forwards, move_to_1_y 2s linear forwards;
}
.move_to_2 {
	-webkit-animation:  move_to_2_y 2s cubic-bezier(.35,.98,.67,1) forwards, move_to_2_x 2s linear forwards;
	animation: move_to_2_y 2s cubic-bezier(.35,.98,.67,1) forwards, move_to_2_x 2s linear forwards;
}
.move_to_3 {
	-webkit-animation:  move_to_3_y 2s cubic-bezier(.35,.98,.67,1) forwards, move_to_3_x 2s linear forwards;
	animation: move_to_3_y 2s cubic-bezier(.35,.98,.67,1) forwards, move_to_3_x 2s linear forwards;
}

.move_to_top {
	-webkit-animation:  move_to_top_y 2s cubic-bezier(.7,.12,.7,1) forwards, move_to_top_x 2s linear forwards;
	animation: move_to_top_y 2s cubic-bezier(.7,.12,.7,1) forwards, move_to_top_x 2s linear forwards;
}

.move_to_top2 {
	-webkit-animation:  move_to_top2_y 2s cubic-bezier(.7,.12,.7,1) forwards, move_to_top_x 2s linear forwards;
	animation: move_to_top2_y 2s cubic-bezier(.7,.12,.7,1) forwards, move_to_top_x 2s linear forwards;
}
/*move to 1*/
@-webkit-keyframes
move_to_1_y {
0% {transform: translateY(0%) scale(0.3, 0.3);}
50% {transform: translateY(50%) scale(0.6, 0.6);}
100% {transform: translateY(110%) scale(1, 1);}
}
@keyframes
move_to_1_y {
0% {transform: translateY(0%) scale(0.5, 0.5);}
50% {transform: translateY(50%) scale(0.7, 0.7);}
100% {transform: translateY(110%) scale(1, 1);}
}
@-webkit-keyframes
move_to_1_x {
50% {left: 14%;}
}
@keyframes
move_to_1_x {
50% {left: 14%;}
}

/*move to 2*/
@-webkit-keyframes
move_to_2_y {
0% {transform: translateY(110%);}
50% {transform: translateY(20%);}
100% {transform: translateY(110%);}
}
@keyframes
move_to_2_y {
0% {transform: translateY(110%);}
50% {transform: translateY(20%);}
100% {transform: translateY(110%);}
}
@-webkit-keyframes
move_to_2_x {
0% {left: 2%;}
100% {left: 30%;}
}
@keyframes
move_to_2_x {
0% {left: 2%;}
100% {left: 30%;}
}

/*move to 3*/
@-webkit-keyframes
move_to_3_y {
0% {transform: translateY(110%);}
50% {transform: translateY(20%);}
100% {transform: translateY(110%);}
}
@keyframes
move_to_3_y {
0% {transform: translateY(110%);}
50% {transform: translateY(20%);}
100% {transform: translateY(110%);}
}
@-webkit-keyframes
move_to_3_x {
0% {left: 30%;}
100% {left: 58%;}
}
@keyframes
move_to_3_x {
0% {left: 30%;}
100% {left: 58%;}
}

/*move to top*/
@-webkit-keyframes
move_to_top_y {
0% {transform: translateY(0%) scale(0.2, 0.2);}
50% {transform: translateY(70%) scale(0.6, 0.6);}
100% {transform: translateY(0%) scale(1, 1);}
}
@keyframes
move_to_top_y {
0% {transform: translateY(0%) scale(0.2, 0.2);}
50% {transform: translateY(70%) scale(0.6, 0.6);}
100% {transform: translateY(0%) scale(1, 1);}
}
@-webkit-keyframes
move_to_top_x {
100% {left: 26%;}
}
@keyframes
move_to_top_x {
100% {left: 26%;}
}

/*move to top2*/
@-webkit-keyframes
move_to_top2_y {
0% {transform: translateY(0%) scale(0.2, 0.2);}
50% {transform: translateY(40%) scale(0.6, 0.6);}
100% {transform: translateY(0%) scale(1, 1);}
}
@keyframes
move_to_top2_y {
0% {transform: translateY(0%) scale(0.2, 0.2);}
50% {transform: translateY(40%) scale(0.6, 0.6);}
100% {transform: translateY(0%) scale(1, 1);}
}

.hidden_intro{
	display: none;
}

/*=====  End of Custom Style  ======*/
.commandbackground
{
	background-image: url("../images/background.png");
}
.bg_light_1{
	background: linear-gradient(#94F4F7, #E0F9E3, #E0F9E3, #94F4F7);
	background-size: 100% 100%;
}
.tara_first{
    position: absolute;
    left: 38%;
    width: 25%;
		top: 40%;
}
.cream_bg{
	background: #efe4c5;
}
