@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.command {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.command, .command * {
	position: relative;
	margin: 0;
	padding: 0;
}

.command .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.command .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_main {
	background-image: url("../images/room/bg.png");
	background-size: 100% 80%;
	background-repeat: no-repeat;
}
.bg_school {
	background-image: url("../images/room/school.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.bg_day {
	background-image: url("../images/bg_day.png");
	background-size: 100% 80%;
	background-repeat: no-repeat;
}
.bg_night {
	background-image: url("../images/bg_night.png");
	background-size: 100% 80%;
	background-repeat: no-repeat;
}
.its_hidden {
	display: none;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */

.header_laila {
	font-family: 'Laila';
	font-size: 3.7vmin!important;
	color: #D31D67;
}
@font-face {
	font-family: 'Laila'; /*a name to be used later*/
	src: url('Laila-Regular.ttf'); /*URL to font*/
	Laila-Semibold
}
@font-face {
	font-family: 'Laila-Bold'; /*a name to be used later*/
	src: url('Laila-Semibold.ttf'); /*URL to font*/
}
.font_purple {
	color: #762CA5 !important;
}


/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*====================================
 =            SpeechBoxBlock            =
 ====================================*/

.sound_icon {
	z-index: 110;
	position: absolute;
	width: 10%;
	top: 5%;
	right: 3%;
}
.sound_icon_flipped {
	z-index: 110;
	position: absolute;
	width: 10%;
	top: 5%;
	left: 3%;
	transform: rotateY(180deg);
}

.speechboxblock {
	width: 100%;
	height: 100%;
	z-index: 50;
}
.topic {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	top: 50%;
}
.speech_bg {
	width: 23.9%;
	height: 10%;
	background-image: url("../images/textbox/textbox_yellow.png");
	background-size: cover;
		/*transition: 0.3s ease-in-out;*/
}
.speech_1 {
	top: 39%;
	left: 11%;
	/*transition: 0.3s ease-in-out;*/
}
.speech_2 {
	top: 39%;
	left: 39%;
}
.speech_3 {
	top: 39%;
	left: 68%;
}

.speech_middle {
	top: 10%;
	left: 50%;
	transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	/*transition: 0.3s ease-in-out;*/
}

.speech_1:hover {
	/*background-image: url("../images/textbox/textbox_purple.png")!important;*/
	/*background-size: cover;*/
}

.speech_content_1 {
	color: black;
	top: 50%;
	transform: translateY(-50%);
}
.speech_content_2 {
	color: white;
}

.speech_1_no_hover {
	top: 23%;
	right: 7%;
	background-image: url("../images/textbox/textbox_blue.png");
	transform: rotateY(180deg);
	background-size: cover;
	transition: 0.3s ease-in-out;
}

.speech_2_no_hover {
	top: 23%;
	left: 7%;
	background-image: url("../images/textbox/textbox_blue.png");
	background-size: cover;
	transition: 0.3s ease-in-out;
}

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
	top: 80%;
	z-index: 3;
	height: 20%;
	width: 100%;
	/*border   : 1px solid green; */
}



/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 1s;
	-webkit-animation: appear 1s;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0%;
	/*border     : 1px solid green; */
}

div.droppableblock {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 20%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
    position: absolute;
    color: #F2118F;
    font-size: 4em;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.window{
	position: absolute;
	height: 17%;
	left: 69%;
	top: 36%;
}
.snoring{
	position: absolute;
	height: 15%;
	width: 5%;
	left: 52%;
	top: 36%;
	background-image: url("../images/room/zzz.png");
	background-size: 500% 100%;
	background-position: 0% 0%;
	animation: snoring steps(5)infinite 1s;
}
@-webkit-keyframes
snoring {
	100% {background-position: -500% 0%;}
}
@keyframes
snoring {
	100% {background-position: -500% 0%;}
}

.homework{
	display: none;
	z-index: 50;
	position: absolute;
	height: 14%;
	left: 75.5%;
	top: 48%;
}
.door{
	position: absolute;
	height: 35%;
	left: 26%;
	top: 31.7%;
}
.door_open {
	position: absolute;
	z-index:10;
	height: 50%;
	left: 19%;
	top: 24.9%;
}
.light{
	position: absolute;
	height: 10%;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
}
.clock{
	position: absolute;
	height: 10%;
	left: 52%;
	top: 30%;
}
.bed{
	position: absolute;
	height: 22%;
	left: 43%;
	top: 52%;
	-webkit-animation: sleeping 2s infinite linear;
	animation: sleeping 2s infinite linear;
}
.brushingtable {
	position: absolute;
	height: 38%;
	left: 0%;
	top: 42%;
	width: 18%;
}
.table{
	position: absolute;
	left: 73%;
	top: 55%;
	width: 16%;
}
.broom{
	position: absolute;
	height: 15%;
	left: 20%;
	top: 53%;
}
.broom_cursor{
    cursor: url(../images/room/broom.png) 15 25, auto!important;
}
.no_cursor{
    cursor: none!important;
}
.boy_bed {
	display: none;
	position: absolute;
	height: 32%;
	left: 43.6%;
	top: 43%;
}
.lamp {
	position: absolute;
	height: 13%;
	left: 83%;
	top: 48%;
}
.dirt_1 {
	position: absolute;
	margin-top: 5%;
	height: 18%;
	left: 15%;
	top: 58%;
}
.dirt_3 {
	position: absolute;
	margin-top: 5%;
	height: 18%;
	left: 72%;
	top: 60%;
}

.boy_1 {
	position: absolute;
	z-index: 60;
	height: 35%;
	left: 26%;
	top: 40%;
}

.boy_2 {
	position: absolute;
	z-index: 60;
	height: 35%;
	left: 76%;
	top: 50%;
}
.dress {
	position: absolute;
	height: 16%;
	left: 91%;
	top: 46%;
	transform: rotate(8deg);
}

.blank_light {
	z-index:10;
	position: absolute;
	height: 89%;
	width: 100%;
	left: 0%;
	top: 0%;
	background-image: url("../images/blank.png");
	filter: drop-shadow(0px 0px 0px yellow);
}
.blink_highlight {
	pointer-events: all!important;
	cursor: pointer;
	z-index: 20;
	-webkit-animation: blink_highlight 0.5s infinite linear;
	animation: blink_highlight 0.5s infinite linear;
}
.dirt_highlight {
	z-index: 20;
}

@-webkit-keyframes
blink_highlight{
	50% {filter: drop-shadow(0 0 1vmin #55f);}
}
@keyframes
blink_highlight{
	50% {filter: drop-shadow(0 0 1vmin #55f);}
}
@-webkit-keyframes
sleeping{
	50% {transform: scale(0.99, 0.97);}
}
@keyframes
sleeping{
	50% {transform: scale(0.99, 0.97);}
}
/*====================================
 =            Switch Style            =
 ====================================*/
.switchdiv {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	border-radius: 10%;
	background: #ccc;
}

.switch_1 {
	pointer-events: none;
	z-index:10;
	cursor: pointer;
	top: 35%;
	left: 40%;
	height: 7%;
	width: 4%;
	padding: 0.5%;
	border: 10% solid black;
}

.switch_on{
	margin:5%;
	z-index:30;
	cursor: move;
	width: 30%;
	height: 80%;
	border: 0.1vmin solid #555;
	border-top: 0.7vmin solid #555;
	background: linear-gradient(to bottom, #888,#ddd, #eeeeee);
	/*transition: 0.5s ease-in-out;*/
}

.switch_off{
	margin:5%;
	z-index:30;
	cursor: pointer;
	width: 30%;
	height: 80%;
	border: 0.1vmin solid #555;
	border-bottom: 0.7vmin solid #555;
	background: linear-gradient(to top, #888,#ddd, #eeeeee);
	/*transition: 0.5s ease-in-out;*/
}


/*.switch_on:hover{
	border: 0.1vmin solid #555;
	border-bottom: 0.7vmin solid #555;
	background: linear-gradient(to top, #888,#ddd, #eeeeee);
}*/

.switch_1:hover{
	transform: scale(3,3);
}
.on_to_off{
	-webkit-animation: switch_off 0.5s cubic-bezier(0,.3,.7,1) forwards;
	animation: switch_off 0.5s cubic-bezier(0,.3,.7,1) forwards;
}

@-webkit-keyframes
switch_off {
	0% {border: 0.1vmin solid #555; border-top: 0.7vmin solid #555; background: linear-gradient(to bottom, #888,#ddd, #eeeeee);}
	100% {border: 0.1vmin solid #555; border-bottom: 0.7vmin solid #555; background: linear-gradient(to top, #888,#ddd, #eeeeee);}
}
@keyframes
switch_off {
	0% {border: 0.1vmin solid #555; border-top: 0.7vmin solid #555; background: linear-gradient(to bottom, #888,#ddd, #eeeeee);}
	100% {border: 0.1vmin solid #555; border-bottom: 0.7vmin solid #555; background: linear-gradient(to top, #888,#ddd, #eeeeee);}
}

.off_to_on{
	-webkit-animation: switch_on 0.5s cubic-bezier(0,.3,.7,1);
	animation: switch_on 0.5s cubic-bezier(0,.3,.7,1);
}

@-webkit-keyframes
switch_on {
	0% {border: 0.1vmin solid #555; border-bottom: 0.7vmin solid #555; background: linear-gradient(to top, #888,#ddd, #eeeeee);}
	100% {border: 0.1vmin solid #555; border-top: 0.7vmin solid #555; background: linear-gradient(to bottom, #888,#ddd, #eeeeee);}
}
@keyframes
switch_on {
	0% {border: 0.1vmin solid #555; border-bottom: 0.7vmin solid #555; background: linear-gradient(to top, #888,#ddd, #eeeeee);}
	100% {border: 0.1vmin solid #555; border-top: 0.7vmin solid #555; background: linear-gradient(to bottom, #888,#ddd, #eeeeee);}
}
/*=====  End of Custom Style  ======*/
.commandbackground
{
	background-image: url("../images/background.png");
}
.para_diy{
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #8753CB;
	font-weight: normal;
}
.squirrel{
	position: absolute;
	bottom: 0%;
	width: 40%;
	left: 30%;
}
.blue_bg{
	background-color: #B5F0E7;
}

.topic_top{
	position: absolute;
	top: 2%;
	width: 100%;
	left: 0%;
	text-align: center;
}


