.bg-cover{
	width: 100%;
	height: 100%;
	background: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.item{
  transition-duration: 0.5s;
}

.hen {
    position: absolute;
    width: 6%;
    top: 65%;
    left: 80%;
    cursor: pointer;
}

.pond {
    position: absolute;
    width: 45%;
    top: 48%;
    left: 0%;
    cursor: pointer;
}

.duck {
    position: absolute;
    width: 6%;
    top: 68%;
    left: 43%;
    cursor: pointer;
}

.sun {
    position: absolute;
    width: 8%;
    top: 7%;
    left: 4%;
    cursor: pointer;
}

.house {
    position: absolute;
    width: 14%;
    top: 28%;
    cursor: pointer;
    left: 85%;
}

.shed {
    position: absolute;
    width: 11%;
    top: 34%;
    left: 71%;
    cursor: pointer;
}

.tree1 {
    position: absolute;
    width: 11%;
    top: 25%;
    left: 53%;
    cursor: pointer;
}

.tree2 {
    position: absolute;
    width: 12%;
    top: 20%;
    left: 36%;
    cursor: pointer;
}

.flower {
    position: absolute;
    width: 12%;
    bottom: -1%;
    left: 78%;
    cursor: pointer;
}

.man {
    position: absolute;
    width: 5%;
    top: 46%;
    left: 76%;
    cursor: pointer;
}

.stone {
    position: absolute;
    width: 9%;
    top: 56%;
    left: 44%;
    cursor: pointer;
}

.lnlabel{
  position: absolute;
  background: white;
  border-radius: 20%;
}

.livnonfadein{
  opacity: 0;
  animation: cssfadein 1s linear forwards;
}

.p1para1 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 55%;
    top: 12%;
    font-size: 4vmin;
    width: 75%;
    font-family: happymonkey;
    color: white;
}

.p1para2 {
    position: absolute;
    top: 80%;
    font-size: 3vmin;
    width: 100%;
    font-family: happymonkey;
    background: #FFD966;
    padding: 1% 7% 1% 7%;
}

@keyframes cssfadein {
  100%{opacity: 1;}
}

.hightext1{
  color: #9906FB;
}

.selectthis{
  transition-duration: 0.5s;
  animation: highli 1s linear alternate infinite;
}

@keyframes highli {
  100%{transform: scale(1.1);}
}


.theliving{
  left: 25%;
  top: 40%;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
}
.livinnonlivinbox {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 4vmin;
    width: 47%;
    font-family: happymonkey;
    color: #674EA7;
    background: white;
    height: 70%;
    border-radius: 3em;
    padding-top:2%;
}

.thenonliving{
  left: 75%;
  top: 40%;
  opacity: 0;
  animation: cssfadein 2s linear forwards;
}
.ins-chicken {
    position: absolute;
    width: 15%;
    top: 65%;
    left: 75%;
}

.ins-man {
    position: absolute;
    width: 15%;
    top: 26%;
    left: 23%;
}

.ins-flower {
    position: absolute;
    width: 15%;
    top: 69%;
    left: 15%;
}

.ins-duck {
    position: absolute;
    width: 12%;
    top: 69%;
    left: 43%;
}

.ins-tree {
    position: absolute;
    width: 27%;
    top: 26%;
    left: 57%;
}

.ins-stone {
    position: absolute;
    width: 19%;
    top: 70%;
    left: 70%;
}

.ins-sun {
    position: absolute;
    width: 15%;
    top: 26%;
    left: 23%;
}

.ins-goth {
    position: absolute;
    width: 21%;
    top: 69%;
    left: 11%;
}

.ins-house {
    position: absolute;
    width: 22%;
    top: 63%;
    left: 40%;
}

.ins-pond {
    position: absolute;
    width: 27%;
    top: 26%;
    left: 57%;
}

.livnonfadein2{
  opacity: 0;
  animation: cssfadein 1s linear 2.5s forwards;
}

@keyframes cssfadein {
  100%{opacity: 1;}
}
.coverpage{
    position: absolute;
    width: 102%;
    top: 0;
    left: 0;
}
.lesson-title {
	position: absolute;
	width: 64%;
	z-index: 2;
	bottom: 82%;
	height: 17%;
	left: 23%;
}
.lesson-title p{
    position: relative;
    top:50%;
    transform:translateY(-50%);
    padding: 1% 1%;
    height: auto;
}
.ole-backrgound-gradient-pool{
    background-color: #36c3e1;
    background-size: 100% 100%;
}
