@font-face {
    font-family: pangolin;
    src: url("../../../../../fonts/pangolin.ttf");
}

.purpbg{
    width: 100%;
    height: 100%;
    background: #9D9ABF;
    background-size: 100% 100%;
}

.orngbg{
    width: 100%;
    height: 100%;
    background: #F3C290;
    background-size: 100% 100%;
}

.p2title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 8%;
    left: 50%;
    font-size: 5vmin;
    background: linear-gradient(to bottom, #62D1DA, #D4D9E6);
    padding: 1% 3% 1% 3%;
    border-radius: 2em;
    white-space: nowrap;
}

.p2text {
    position: absolute;
    transform: translate(-50%);
    top: 16%;
    left: 50%;
    font-size: 4.5vmin;
    color: white;
    width: 90%;
}

.p2text2 {
    position: absolute;
    transform: translate(-50%);
    top: 4%;
    left: 50%;
    font-size: 4.5vmin;
    color: white;
    width: 90%;
}


.bigimgctr {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 64%;
    left: 50%;
    width: 33%;
    background: white;
    border-radius: 50%;
    padding: 2%;
		border: 0.3em solid #91bce1;
}

.theimganim{
	animation: imgan 1s linear forwards;
}

@keyframes imgan {
	0%{
		opacity: 0.2;
		transform: translate(-50%, 0%);
		}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%);
		}
}

.theimganimmin{
	animation: imganmin 1s linear forwards;
}

@keyframes imganmin {
	0%{
		opacity: 0.2;
		transform: translate(-50%, 0%) rotate(-13deg);
		}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%) rotate(-13deg);
		}
}

.theimganimplu{
	animation: imganplu 1s linear forwards;
}

@keyframes imganplu {
	0%{
		opacity: 0.2;
		transform: translate(-50%, 0%) rotate(13deg);
		}
	100%{
		opacity: 1;
		transform: translate(-50%, -50%) rotate(13deg);
		}
}

.bluranim{
	animation: theblur 1s linear forwards;
}

@keyframes theblur {
	0% {
	    opacity: 0;
	    filter: blur(5px);
	}
	50% {
	    filter: blur(0px);
	}
	100% {
	    opacity: 1;
	}

}

[class*="cap"] {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.8vmin;
}

.cap-no1 {
    top: 85%;
    left: 20%;
}

.cap-no2 {
    top: 85%;
    left: 50%;
}

.cap-no3 {
    top: 85%;
    left: 80%;
}

.cap-no4 {
    top: 96%;
    left: 20%;
}

.cap-no5 {
    top: 96%;
    left: 50%;
}

.cap-no6 {
    top: 96%;
    left: 80%;
}

.smallimg1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 20%;
    width: 22%;
    background: white;
    border-radius: 50%;
    padding: 2%;
		border: 0.3em solid #91bce1;
}

.smallimg2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    width: 22%;
    background: white;
    border-radius: 50%;
    padding: 2%;
		border: 0.3em solid #91bce1;
}

.smallimg3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 80%;
    width: 22%;
    background: white;
    border-radius: 50%;
    padding: 2%;
		border: 0.3em solid #91bce1;
}

.smallimg4 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 20%;
    width: 16%;
    background: white;
    border-radius: 50%;
    padding: 2%;
}

.smallimg5 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
    width: 16%;
    background: white;
    border-radius: 50%;
    padding: 2%;
}

.smallimg6 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 80%;
    width: 16%;
    background: white;
    border-radius: 50%;
    padding: 2%;
}

.hightext1{
	color: #7A1718;
}
.hightext2{
   color: #ff4977;
}

.livinnonlivinbox {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 4vmin;
    width: 22%;
    font-family: happymonkey;
    color: #674EA7;
    background: white;
    height: 50%;
    border-radius: 1em;
}

.bikecont {
    left: 20%;
    top: 63%;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-15deg);
    box-shadow: 0.2em 0.2em 0.6em 0em #6e5252;
}

.fancont {
    left: 50%;
    top: 57%;
    opacity: 1;
    transform: translate(-50%, -50%);
		box-shadow: 0.2em 0.2em 0.6em 0em #6e5252;
}

.carcont {
    left: 80%;
    top: 63%;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(15deg);
    box-shadow: 0.2em 0.2em 0.6em 0em #6e5252;
}

.thenonliving{
  left: 75%;
  top: 40%;
  opacity: 0;
  animation: cssfadein 2s linear forwards;
}

.bicycle {
    position: relative;
    width: 80%;
    background: white;
    padding: 3%;
}

.bicycle2 {
    position: relative;
    width: 80%;
    background: white;
    padding: 3%;
    transform: translateY(-50%);
    margin-top: 60%;
}


.bikecont p {
    font-family: pangolin !important;
    background: #4B60B9;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 0 0em 1em 1em;
    padding: 1%;
}

.fancont p {
    font-family: pangolin !important;
    background: #BF1F41;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 0 0em 1em 1em;
    padding: 1%;
}

.carcont p {
    font-family: pangolin !important;
    background: #6AA84F;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 0 0em 1em 1em;
		padding: 1%;
}

.humang {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 19%;
    height: 40%;
}

.parrotg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 82%;
    height: 40%;
}

.plantg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    height: 40%;
}

.humang2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 19%;
    height: 33%;
}

.parrotg2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 65%;
  left: 82%;
  height: 33%;
  border-radius: 2vmin;
}

.plantg2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    height: 33%;
}
