#arrowNextHoverBtn, #arrowNextBtn{
   left: 0;
   position: absolute;
}
.headTitle
{
position: relative;
	width: 100%;
	text-align: center;

	font-size: 1.2em;
	color: black;
   
}
#animateBox
{
	position: relative;
	width: 100%;
	font-size: 1em;
}

.intitle
{

    margin: 2%!important;
    

       color:#FC1410;
       font-size: 1.3em;
       margin: auto;
       position: relative;
       width: 100%;
       text-align: center;
       text-decoration: underline;

       display: none;
}


#figBox
{
	position: relative;
	width: 100%;
display: none;
}

.inbx
{

	position: relative;
	width: 45%;
	display: inline-block;
	vertical-align: top;
	
}

.inbx img 
{
	width: 100%;
}


.txtss{
	position: relative;
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	
}
.txtss div
{
	position: relative;
	margin-bottom: 3%;
	display: none;
}

.frst
{
	background: #fedf9e;
	padding: 2%;
}
.scnd
{
	background: #c9c3e6;
	padding: 2%;
}
.snd
{
	padding: 1%;
	color:#e20074;
}
.concline
{
	background: #fedf9e;
	padding: 3%;
}
.tabular
{
	display: none;
	padding: 1%;
}

#tabme
{

	position: relative;
	width: 100%;
	
		
	border: #7ac142 1px solid;
	font-size: 1em;

	text-align: center;
}

tr
{
	

  width: 100%;

	
}

td,
th{
	border: #00b140 2px solid;
	padding: 1%;
	width: 25%;
	border-collapse: collapse;
	text-align: center;
}

td 
{
	color: #000;
}
th{
	color: brown;
}
.extraline
{
	color:#003896;
	font-weight: bold;
}
.textinput
{
	width: 15%;
	margin-left: 2%;
	text-align: center;
	
}
.concline
{
	color: #68217a;
}
.pETC
{
	
	width: 75%;
}

#fArrow
{
	position: absolute;
	right: -5%;
	top:2%;
}

#fArrow2
{
	position: absolute;
	right: 1%;
	top:2%;
}
#fArrow3
{
	position: absolute;
	right: 0%;
	bottom:1%;
}
.goTo
{
	margin-left: 5%;

	cursor: pointer;
	width: 10%!important;
	
	


}

.goTo:hover #arrowNextBtn
{
	display: none;
}

.goTo:hover #arrowNextHoverBtn
{
	display: block;
}
#nextbtn
{
	font-size: 2em;
	position: absolute;
	right: 1%;
	bottom: 1%;
	display: none;
	cursor: pointer;
	width: 5%;
}

#prevbtn
{
	font-size: 2em;
	position: absolute;
	left: 1%;
	bottom: 1%;
	display: none;
	cursor: pointer;
	width: 5%;
}

#arrowNextBtn {
	position: absolute;
}