<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>


<div class="readingmap_page2">
    <div class="board">
    </div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>

    <div id="imageblock">
        <p class="close_imageblock"> X </p>
    </div>
    <p class="poet"> Jonathan George </p>
    <div class="butter">
        <img src="activity/grade8/english/eng_grade8_tree/images/butter.gif" class="gif_files">
    </div>
    
     <div class="butter1">
        <img src="activity/grade8/english/eng_grade8_tree/images/bb.jpg" class="gif_files1">
    </div>

    <div class="bird">
        <img src="activity/grade8/english/eng_grade8_tree/images/bird.gif" class="gif_files1">
    </div>

    <div class="leav">
        <img src="activity/grade8/english/eng_grade8_tree/images/1.jpg" class="gif_files3">
    </div>

     <div class="leav2">
        <img src="activity/grade8/english/eng_grade8_tree/images/2.gif" class="gif_files3">
    </div>

     <div class="snow-container">
          <div class="snow foreground"></div>
          <div class="snow foreground layered"></div>
          <div class="snow middleground"></div>
          <div class="snow middleground layered"></div>
          <div class="snow background"></div>
          <div class="snow background layered"></div>
    </div>
	
	
</div>

<script type="text/x-handlebars-template" id="slide1-template">
    <div class="slide1 coverBoardFull">
        <div class="backgroundImagesContainer">
            <img src="{{this.bgImgSrc}}" data-forwhichdialog="{{this.forwhichdialog}}" id="{{this.imageid}}">
        </div>
        <div class="talkHeads">
            {{#each talkHeadImages}}
                <img src="{{this.talkHeadImgSrc}}" data-whosehead="{{this.nameofwhosehead}}" data-highlight="{{this.highlightFlag}}">
            {{/each}}
        </div>
        <div class="dialogcontainer">
            <p id="{{this.dialog_id}}">
                <img class="listenAgainButton disableListenAgain" src="{{speakerImgSrc}}" title="{{listenAgainText}}">
                {{#each lineCountDialog}}
                    <span id="{{span_id}}">{{span_data}}</span>
                {{/each}}
            </p>
			
			
  </div>        
    </div>
    
</script>

<script src="js/buzz.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $jsLoader("js/page2.js");
    //$jsLoader("js/page1.js");
</script>