
<script>
$cssLoader('css/shared.css');
$cssLoader('css/page3.css');
</script>
<div id="plantContent">
	<p id="head_title"></p>
	<p id="p3_1"></p>
	<div id="totalpage">
		<div id="plantBck">
			<img src="$ref/images/page3/CP-pic-17-Plant.png" />
		</div>
		<div id="plantBck2">
			<div class="clickCls2 cssDes" id="part_5"><span>Flower</span>------------</div>
				<div class="clickCls cssDes" id="part_4">------------<span>Fruit</span></div>
				<div class="clickCls cssDes" id="part_3"><span>Leaf</span>------------</div>
				<div class="clickCls cssDes" id="part_2">------------------------<span>Stem</span></div>
				<div class="clickCls cssDes" id="part_1"><span>Root</span>------------</div>
		</div>

		
		

	</div>

</div>
<div class="popUp"></div>

<script>

</script>

<script type="text/x-handlebars-template" id="part-template">
<div class="myPopUp">
	<div class="myPopUpContent">

		<div id="pop_title">{{innerhead}}</div>
		
		
			<div id="descObjects">
				{{#each dobjects}}
					<p>{{val}}</p>
				{{/each}}
			</div>
			<div id="imgObjects">
				<img src="{{imges}}"  />
				{{#if labelObj}}
					{{#each labelObj}}
						<div class="labelsObj" id="{{labelId}}">{{labels}}</div>
					{{/each}}
				{{/if}}
			</div>

			

			<div id="nextPopBtn">
				{{{whatnextbtn}}}
			</div>
		
	</div>
	
</div>

</script>

<script type="text/x-handlebars-template" id="work-template">
<div class="myPopUp">
	<div class="myPopUpContent">

		<div id="pop_title">{{innerhead}}</div>
		{{#if wobjects}}

				<div id="workObjects">
				<p id="p3_2">{{p3_2}}</p>
					<ul>
						{{#each wobjects}}
							<li>{{wdesc}}</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}

			{{#if imgLeafbj}}
			<div id="whatImgCap">
				<img src="" id="myleafimg"/>
				<div id="leafImgcap"></div>
				<div id="leafImgcap2"></div>
			</div>
			{{/if}}

			
			<div id="prevPopBtn">
				{{{whatprevbtn}}}
			</div>

			<div id="nextPopBtnImg">
				{{{whatnextbtn}}}
			</div>
	</div>
</div>

</script>


<script type="text/x-handlebars-template" id="image-template">
<div class="myPopUp">
	<div class="myPopUpContent">
		<div id="pop_title">{{innerhead}}</div>
		<div id="closePopBtn" class="closeJsbtn">				
				{{{imgCloseSrc}}}
			</div>

			<div id="descObjects2">
				{{#each largeimg}}
					<div class="imgClss">
						<img src="{{imagesrc}}" />
						<p>{{imgcaption}}</p></div>
				{{/each}}
			<div>

			{{#if isflower}}
				<div id="prevFlowerBtn">
					{{{whatprevbtn}}}
				</div>
			{{else}}
				<div id="prevPopBtnImg">
					{{{whatprevbtn}}}
				</div>
			{{/if}}
	</div>
</div>
</script>



<script type="text/x-handlebars-template" id="flower-template">
<div class="myPopUp">
	<div class="myPopUpContent">

		<div id="pop_title">{{innerhead}}</div>

		<div id="allFloralObj">
			<div id="descObjects3">
				{{#each dobjects}}
					<p>{{val}}</p>
				{{/each}}
			</div>
			
			<div id="imgObjects2">
				
				{{#if labelObj}}
					{{#each labelObj}}
						<div class="labelsObj" id="{{labelId}}">{{labels}}</div>
					{{/each}}
				{{/if}}
			</div>
		</div>

			{{#if wobjects}}
				<div id="workObjects">
					<ul>
						{{#each wobjects}}
							<li>{{wdesc}}</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}

	
		{{#if isLastFlower}}  
			<div id="nextLastBtn">
			{{{whatnextbtn}}}
			</div>
		{{else}} 
			<div id="nextFlowerBtn">
			{{{whatnextbtn}}}
			</div>

		{{/if}}

		{{#if isFirstFlower}}  
			
		{{else}} 
			<div id="prevFlowerBtn">
			{{{whatprevbtn}}}
			</div>

		{{/if}}

	</div>
</div>
</script>

<script type="text/javascript">

$jsLoader("js/shared.js");
$jsLoader("js/page3.js");

</script>