.plantcell{
    position: absolute;
    width: 40%;
    padding: 5%;
    top: 25%;
    transform: translateY(-25%);
    left: 33%;
}
.plantcell1{
    position: absolute;
    width: 40%;
    padding: 5%;
    top: 54%;
    transform: translateY(-54%);
    float: right;
    right: 0%;
}
.bg{
    background-color: #FFCAA0;
    background-size: 100% 100%;
}
.text1{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #674EA7;
}
.centertext1{
    position: relative;
    top: 2%;
    transform: translateY(-2%);
    padding: 1% 1%;
    height: auto;
}

.boxcss{
    background-color: #FFD966;
    border: 7px solid #FFE599;
    border-radius: 16px;
}
.parts{
    position: absolute;
    top: 30%;
    transform: translateY(-20%);
    width: 35%;
    height: 15%;
    left: 20%;
}
.partsdesc{
    position: absolute;
    animation: expandDiv 0.5s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    transition: 0.2s;
}
@keyframes expandDiv{
    0%{
        width: 35%;
        height: 15%;
        left: 20%;
        top:30%;

    }
    100%{
        width: 45%;
        height: 60%;
        left: 10%;
        top:37%;
    }
}
.description{
    color:#674E94;
}
.arrow1{
    position: absolute;
    width: 11%;
    transform: rotateY(180deg);
    top: 35%;
    left: 55%;
}
.arrow2{
    position: absolute;
    width: 17%;
    top: 24%;
    left: 20%;
}
.hand{
    position: absolute;
    width: 6%;
    top: 35%;
    left: 34%;
}
.plantcell2{
    position: absolute;
    width: 27%;
    top: 25%;
    float: right;
    right: 1%;
}
.animalcell{
    position: absolute;
    width: 27%;
    float: left;
    left: 1%;
    top: 30%;
}
.parts1{
    position: absolute;
    top: 15%;
    transform: translateY(-20%);
    width: 40%;
    height: 15%;
    left: 30%;
}
.arrow3{
    position: absolute;
    width: 8%;
    transform: rotateY(180deg);
    top: 18%;
    left: 70%;
}
.arrow4{
    position: absolute;
    width: 11%;
    top: 19%;
    left: 19%;
}
.hand1{
    position: absolute;
    width: 6%;
    top: 20%;
    left: 45%;
}
.partsdesc1{
    position: absolute;
    animation: expandDiv1 0.5s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    transition: 0.2s;
}
@keyframes expandDiv1{
    0%{
        top: 15%;
        width: 40%;
        height: 15%;
        left: 30%;

    }
    100%{
        top: 24%;
        width: 40%;
        height: 80%;
        left: 30%;
    }
}
.arrow5{
    position: absolute;
    width: 13%;
    transform: rotateY(180deg);
    top: 16%;
    left: 70%;
}
.arrow6{
    position: absolute;
    width: 19%;
    top: 19%;
    left: 11%;
}
.arrow7{
    position: absolute;
    width: 15%;
    transform: rotateY(180deg);
    top: 16%;
    left: 70%;
}
.arrow8{
    position: absolute;
    width: 21%;
    top: 20%;
    left: 12%;
    transform: rotateY(47deg);
}
.arrow9{
    position: absolute;
    width: 13%;
    top: 19%;
    left: 17%;
}
.arrow10{
    position: absolute;
    width: 8%;
    transform: rotateY(180deg);
    top: 22%;
    left: 70%;
}
.arrow11{
    position: absolute;
    width: 17%;
    top: 15%;
    left: 13%;
}
.arrow12{
    position: absolute;
    width: 23%;
    transform: rotateY(223deg) translateY(33%);
    top: 13%;
    left: 66%;
}
.arrow13{
    position: absolute;
    width: 22%;
    top: 31%;
    left: 54%;
}