.coverpagetext{
    position: absolute;
    width: 100%;
    height: 22%;
    background-color: #FDADA5;
    opacity: 0.8;
    left: 0%;
    color: #CC4125;
}
.bg{
    background-color: #52AAC4;
    background-size: 100% 100%;
}
.humancell{
    position: absolute;
    width: 0%;
    height: 0%;
    left: 26%;
    bottom: 50%;
}
.text1{
    position: absolute;
    width: 50%;
    top: 57%;
    left: 32%;
    text-align: justify;
    color: white;
}
.boy{
    position: absolute;
    width: 22%;
    left: 45%;
    top: 3%;
    animation: slideTowardsLeft 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-delay:1s;
    transition: 0.3s;
}
@keyframes slideTowardsLeft {
    100%{
        width: 18%;
        left: 11%;
        top: 3%;
    }
}
.scaleupImg{
    animation: scaleup 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
}
@keyframes scaleup{

    100%{
        width:50%;
        height:45%;
    }
}
.slideUpEffect{
    position: absolute;
    width: 100%;
    height: 62%;
    padding-top: 24%;
    color: white;
    animation: slideUp 2s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
}
@keyframes slideUp{
    100% {
        height: 30%;
        padding-top: 2%;
    }
}
.animalcell{
    position: absolute;
    width: 39%;
    top: 29%;
    left: 32%;
}
.boy1{
    position: absolute;
    width: 15%;
    top: 29%;
    left: 43%;
}
.text2{
    position: absolute;
    width: 100%;
    color: white;
    height: 30%;
    padding-top: 2%;
}
.boy2{
    position: absolute;
    width: 22%;
    left: 45%;
    top: 3%;
    animation: slideTowardsLeft1 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-delay:2s;
    transition: 0.3s;
}
@keyframes slideTowardsLeft1 {
    100%{
        width: 15%;
        left: 3%;
        top: 3%;
    }
}
.maindiv{
    position: absolute;
    color: white;
    width: 95%;
    top: 70%;
    text-align: justify;
    padding-left: 4%;
}
.fish{
    position: absolute;
    width: 18%;
    top: 29%;
    left: 19%;
}
.deer{
    position: absolute;
    width: 18%;
    top: 16%;
    left: 36%;
}
.hen{
    position: absolute;
    width: 18%;
    top: 25%;
    left: 61%;
}
.plant{
    position: absolute;
    width: 18%;
    top: 23%;
    left: 79%;
}
.textalignment{
    text-align: center;
}
.boy3{
    position: absolute;
    width: 15%;
    left: 3%;
    top: 3%;
}
.slideToLeft{
    animation: slideLeft 1s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-delay:2s;
    transition: 0.3s;
}

@keyframes slideLeft{
    100%{
        left:5%;
    }
}
.hand{
    position: absolute;
    width: 6%;
    top: 37%;
    left: 13%;
}
.arrow{
    position: absolute;
    transform: rotate(-11deg) rotateY(180deg);
    width: 18%;
    left: 18%;
    top: 20%;
}
.animalcelldiv{
    position: absolute;
    width: 23%;
    top: 44%;
    left: 26%;
}
.animalcelldiv1{
    position: absolute;
    width: 32%;
    top: 10%;
    left: 9%;
}
.celltext{
    position: absolute;
    border: 3px solid #EB8C95;
    top: 79%;
    width: 27%;
    border-radius: 14px;
    background-color: white;
}
.animalcelltext{
    left:6%;
}
.animalcelltext1{
    top: 66%;
    left:13%;
}
.arrow1{
    position: absolute;
    width: 15%;
    float: right;
    right: 18%;
    top: 26%;
}
.plantcelldiv{
    position: absolute;
    width: 19%;
    top: 46%;
    left: 53%;
}
.plantcelldiv1{
    position: absolute;
    width: 27%;
    top: 10%;
    left: 58%;
}
.plantcelltext{
    left:72%;
}
.plantcelltext1{
    left: 58%;
    top: 66%;
}
.deer1{
    position: absolute;
    width: 18%;
    top: 16%;
    left: 5%;
}
.animalCellMove{
    animation: animalM 0.5s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-delay:2s;
    transition: 0.3s;
}
@keyframes animalM{
    100%{
        width: 32%;
        top: 15%;
        left: 9%;
    }
}
.plantCellMove{
    animation: plantM 0.5s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-delay:2s;
    transition: 0.3s;
}
@keyframes plantM{
    100%{
        width: 27%;
        top: 15%;
        left: 58%;
    }
}
.animalTextMove{
    animation: animalTextM 0.5s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-delay:2s;
    transition: 0.3s;
}
@keyframes animalTextM{
    100%{
        top: 72%;
        left:13%;
    }
}
.plantTextMove{
    animation: plantTextM 0.5s linear 1s forwards;
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    animation-duration: 1000ms;
    animation-delay:2s;
    transition: 0.3s;
}
@keyframes plantTextM{
    100%{
        left: 58%;
        top: 72%;
    }
}

.belowtext1{
    position: absolute;
    width: 100%;
    height: 20%;
    color: white;
    bottom: 0;
    padding-left: 1%;
    padding-right: 1%;
}
.animalcellshow,.animalcellshow1:hover{
    cursor: pointer;
}