.bg{
    background-color: #FADBCA;
    background-size: 100% 100%;
}
.diy{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 17%;
    background-color: #F58B92;
}

.option{
    position: absolute;
    width: 100%;
    height: 70%;
    top: 30%;
}
.lowertext{
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
    width: 100%;
    color: #0097AC;
}
.div1{
    position: absolute;
    width: 50%;
    float: left;
    left: 0%;
    height:86%;
}
.div2{
    position: absolute;
    width: 50%;
    float: right;
    right: 0%;
    height:86%;
}
.img{
    width:59%;
}
.imgdiv{
    position: absolute;
    width: 90%;
    height: 80%;
}
.textdiv{
    position: absolute;
    top: 90%;
    width: 43%;
    height: 20%;
    left: 25%;
    background-color: #7558BE;
    color: white;
    border-radius: 12px;
}
.hoverclass{
    transform: scale(1);
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:black;
    border-radius: 9px;
    transition:0.6s;
    cursor: pointer;
}
.imghoverclass{
    transform: scale(1.1);
    transition:0.6s;
    cursor: pointer;
}

.correctcss{
    background-color: #98C02E;
    border:4px solid;
    border-color: #DEEF3C;
    border-radius: 13px;
    color: white;
}
.wrongcss{
    pointer-events: none;
    background-color:#FF0000 !important;
    border:4px solid !important;
    border-color: #980000 !important;
}
.correctImg{
    position: relative;
    width: 13%;
    float: left;
    left: 1%;
    top: 22%;
}
.wrongImg{
    position: relative;
    width: 22%;
    bottom: 200%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .wrongImg {
        position: absolute;
        width: 22%;
        bottom: 125%;
    }

    .correctImg {
        position: absolute;
        width: 22%;
        bottom: 127%;
    }
}
.avoid-clicks {
    pointer-events: none;
}