<script type="text/javascript">
	$cssLoader("exercise/css/ex2.css");
</script>


<div class="activity_container">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">
						{{{textdata}}}
					</p>
				{{/each}}
				<div class="exerciseblock">
					{{#each exerciseblock}}
						<p class="instruction" >{{{instructiondata}}}</p>
						<p class="question {{ques_class}}" >{{{questiondata}}}</p>
						{{#each option}}
							{{#if optionsrc}}
								<div class="main-container {{mc_class}}">
									<img class="correct-icon" src="">
									<img class="incorrect-icon" src="">
									<div class="option-container {{option_class}}">
										<img class='option-img {{option_label_class}}' src=''>
									</div>
								</div>
							{{else}}
								<div class="main-container {{mc_class}}">
									<img class="correct-icon" src="">
									<img class="incorrect-icon" src="">
									<div class="option-container {{option_class}}">
										<p class="option-label {{option_label_class}}" >{{{optiondata}}}</p>
									</div>
								</div>
							{{/if}}
						{{/each}}
						<img class="center-img" src="">
					{{/each}}
				</div
		</div>
	</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("exercise/js/exercise2.js");
</script>