#diImg1,#diImg2,#diImg3,#diImg4, #diag1,#diag2,#diag3,#diag4,#diag5,#diag6,#diag7,#diag8,#diag9,#diag10,#diag11,#diag12,#diag13,#diag14,#diag15,#diag16,#diag17,#diag18 {
	display : none;
	position: absolute;
    top: 65%;
}

#diImg1,#diImg2,#diImg3,#diImg4, #diag1,#diag2,#diag3,#diag4,#diag5,#diag6,#diag7,#diag8,#diag9,#diag10,#diag11,#diag12,#diag13,#diag14,#diag15,#diag16,#diag17,#diag18 {
	position: absolute;
    top: 65%;
}
.wrapper
{
	width:100%;
	height:100%;
	position:relative;
	background : #ffffff;
	margin-top:-1%;
}
.row_bg_overlay{
	background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width:100%;
   
}
.row_header{
	margin-top:10px;
}
.img_rounded
{
	 height: 19%;
}
.image_content{
	margin-top:2%;
}
.image-container
{
	text-align:center;
}

.dialouge_images
{
	height : 300px;
	border : 9px solid #CCCCCC;
}

.footer_row{
	bottom: 0;
    position: absolute;
    width: 100%;
      height : 106px;
}
#footer
{
    background-color:rgba(70,130,180,0.72);
}
.modules
{
	margin: 0;
    padding-bottom: 30px;
    position: relative;
}
.character_dialouges
{
	color:#6B6B6B;
	font-size:1.5em;
}
.footer_dialouges
{
	margin-left:2px;
	width:87%;
}
.start_button
{
	text-align: center;
    padding-top: 6%;
}
