<script>
$cssLoader('css/shared.css');
$cssLoader('exercise/css/exe2.css');
</script>

<div class="pageContainer">
<div class="headTitle"></div>


<div class="wholequesbox">	
	
</div>
	 
	<div class=""  id="nextBtn"></div>
</div>



<script>
$jsLoader('exercise/js/sharedexe.js');
$jsLoader('exercise/js/exe2.js');

</script>


<script type="text/x-handlebars-template" id="template-1">
<div class="allquestion">{{quesTitle}}</div>

<div class="allbox">
<img src="{{imgsrc}}" />
</div>	


<div class="commentbx">
	<div class="e2_2">r </div>
	<div class="option">
		{{#each optionval}}
		<div class="optionval">
			<label>
				<input  autocomplete="off" type="radio"  name="optionval"  dataval="{{dataval}}"   value="{{whatval}}" /> {{whatval2}} 
			</label>
		</div>
		{{/each}}
		
	</div>
	<input type="text" data="{{dataval2}}" id="inputval"  autocomplete="off"/>
	<input type="button"  id="confirm" value="{{confirm}}"  autocomplete="off"/>
	<span class="glyphicon glyphicon-ok"  id="right"></span>
	<span class="glyphicon glyphicon-remove"  id="wrong"></span>	
</div>

</script>




<script type="text/x-handlebars-template" id="template-2">


<div class="result">
<div><span>{{e2_5}}</span> : <span>{{rt}}</span></div>
<div><span>{{e2_6}}</span> : <span>{{wr}}</span></div>
</div>
</script>