<!--
    Title : simple machine -2 (gravity ropeway)
    developed by - Manish jung Thapa, Ole-nepal
 -->

<script type="text/javascript">
	$cssLoader("css/test3.css");
	// $dev = "activity/grade7/science/scism002/";
</script>

<div class="wrapper">
	<div class="homePop"></div>
	<div class="popUpInside"></div>
	<div class="frontpage"></div>
	<div class="msg1"></div>
	<script type="text/x-handlebars-template" id="first-template">
		<div id="{{id1}}">
			<div class="text1" id="obj1">{{text1}}</div>
			<div class="box1" id="obj2">
				<img src="{{img1}}" alt="">
				<span>{{box1}}</span>

			</div>
			<div class="box2" id="obj3">
				<img src="{{img2}}" alt="">
				<span>{{box2}}</span>

			</div>

		</div>

	</script>
<div class="text2" id="obj7"><span>{{text2}}</span></div>

	<div class="slideBtn">
		<div data-value="prev" class="btn btn1">
			<span class="glyphicon glyphicon-circle-arrow-left"></span>
			<!-- <img src="$ref/images/previous_1.png" alt="go left"> -->
		</div >
		<div data-value="next" class="pull-right btn btn2">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
			<!-- <img src="$ref/images/next_1.png" alt="go right"> -->
		</div >
	</div>

<div class="clickMe">Click me to know about gravity ropeway</div>
<!-- helpers starts here -->
	<!-- images of screw -->
	<img src="$ref/images/screwsmall.png" class="screw helper" data-types="screw" id="screw1">
	<img src="$ref/images/screwsmall.png" class="screw helper" data-types="screw" id="screw2">
	<img src="$ref/images/screwsmall.png" class="screw helper" data-types="screw" id="screw3">
	<img src="$ref/images/screwsmall.png" class="screw helper" data-types="screw" id="screw5">
	<img src="$ref/images/screwsmall.png" class="screw helper" data-types="screw" id="screw6">
	<img src="$ref/images/screwsmall.png" class="screw helper" data-types="screw" id="screw7">

	<!-- images of pulley -->
	<img src="$ref/images/pulley.png" class="pulley helper" data-types="pulley" id="pulley1">
	<img src="$ref/images/pulley.png" class="pulley helper" data-types="pulley" id="pulley2">
	<img src="$ref/images/pulley.png" class="pulley helper" data-types="pulley" id="pulley3">
	<img src="$ref/images/pulley.png" class="pulley helper" data-types="pulley" id="pulley4">
	<img src="$ref/images/bigpulley.png" class="pulley helper" data-types="pulley" id="pulley5">
	<img src="$ref/images/bigpulley.png" class="pulley helper" data-types="pulley" id="pulley6">
	<!-- lever.png -->

	<img src="$ref/images/lever.png" class="lever helper" data-types="lever" id="lever1">

	<!-- wedge -->
	<img src="$ref/images/wedge1.png" class="wedge1 helper" data-types="wedge" id="wedge1">

	<!-- plane -->
	<img src="$ref/images/slant.png" class="plane helper" data-types="plane" id="plane">

	<!-- wheel -->
	<img src="$ref/images/wheel01.png" class="wheelImg helper" data-types="wheel" id="wheel1">
	<img src="$ref/images/wheel01.png" class="wheelImg helper" data-types="wheel" id="wheel2">

<!-- helpers end here -->
		<div class="ropewayall">
		<ul>
			<li class="ropemain">

			<div class="wrapRopeWay">
				<div class="ropeway">
					<!-- ropeway is loaded here -->
				</div>
				<div class="wedge">
					<!-- wedge is loaded here -->
				</div>
				<div class="gaadi">
					<!-- gaadi is loaded here -->
				</div>

			</div>
			<img src="$ref/images/q1.jpg" class="backPic" width="100%">
			</li>

		</ul>

		</div>
		<div class="bottomZoom">
			<table>
				<tr>
					<td>
						<div class="zoomer">
							<img src="$ref/images/circle.png">
						</div>
					</td>
					<td>
						<div class="title">

						</div>
						<div class="tabOver">click here</div>
						<div class="tabSm">


							<script type="text/x-handlebars-template" id="listSm-template">
							<ul class="{{tabClass}}">
							    {{#each name}}
							    	<li data-value="{{@index}}">	{{this}}
							    	</li>
							    {{/each}}
							</ul>
							</script>


						</div>
					</td>
				</tr>
			</table>

		</div>
		<div class="knowAbout">

			<span class="glyphicon glyphicon-play-circle playIt"></span>
		</div>

</div>

<!-- template for description of ropeway -->
<script type="text/x-handlebars-template" id="ropeWay-template">
	<div class="popUpFull">
		<div class="ropeway-desc">
			<table width="100%">
				<tr>
					<td width="40%" valign="top">
						<img src="{{image}}" height="100%" alt="">
					</td>
					<td width="50%" valign="top">

							<div>
								<span class="pull-right myCloseStyle aCloseBtn"></span>
								<h3>{{title}}</h3>

							</div>
							<div>
								<p>{{{desc}}}</p>
								<ul>
									<li><h3>{{heading}}</h3></li>
									{{#each ropewayb}}
									<li style="list-style:circle;">
										{{this.title}} :  {{this.desc}}
									</li>
									{{/each}}
								</ul>
							</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

</script>

<!-- things to do template -->
<script type="text/x-handlebars-template" id="things-template">
	<div class="popUpFull">
		<div class="ropeway-desc">
			<div>
			<span class="pull-right myCloseStyle closeBtn"></span>
			<div style="color: red;"><h1>{{instructionTitle}}</h1></div>
				<div>
					<ul>
						{{#each instruction }}

						<li style="list-style:circle;">{{this}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>
<!-- template of pop up -->
<script type="text/x-handlebars-template" id="popup1">

	<div class="popUpFull">
		<div class="popUpHolder">

			<div class="holderPopUp">
				<div class="continue" style="display:none;">{{continue1}} </div>

				<section style="display: table;">
					<header style="display: table-row;">
						<div class="whatFor" style="display: table-cell;">
							<h2>{{questions}}</h2>
							<div class="ansCheckHolder">
								<div class="ansCheck">
								</div>
							</div>
							<div class="imgHolder">
								<img src="{{images}}">
							</div>

						</div>
						<div class="answersWhatFor" style="display: table-cell;">
							<ul>
								{{#each this.answersGiven}}
								{{{this}}}
								{{/each}}

							</ul>
						</div>
					</header>
				</section>

			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="firstpage-template">
		<img class="cover" src="{{coverpage}}">
		<p class="middle_text">{{middle_text}}</p>
</script>

<!-- template for regular definations of lever, pulley, etc -->
<script type="text/x-handlebars-template" id="defination-template">
    <div class="popUpFull">
		<div class="popUpHolder">
		<div class="holderPopUp2 descx">
			<span class="pull-right myCloseStyle closeBtn"></span>
			<h1>{{title}}</h1>
			<p> {{defination}} </p>
			<table width="100%">
				<tr>
					<td width="50%"><img src="{{images}}" alt="" width="100%"> </td>
					<td width="47%" style="padding-left:5px">
					{{#if types}}

					<ul class="types">
						<h3>{{typeTitle}}</h3>
						{{#each types}}
						  <li class="{{@index}}" data-value="{{@index}}">{{this}}</li>
						{{/each}}

					</ul>
					{{/if}}
					{{#if back}}
						<div class="back">
						<span class="glyphicon glyphicon-arrow-left"></span>
						{{back}}</div>
					{{/if}}
					</td>
				</tr>
			</table>
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="defination-template2">
    <div class="popUpFull">
		<div class="popUpHolder">
		<div class="holderPopUp2 descx">
			<span class="pull-right myCloseStyle closeBtn"></span>
			<h1>{{title}}</h1>
			<p> {{defination}} </p>
			<table width="100%">
				<tr>
					<td width="100%" class="centering">
					<div class="imghold {{type}}">
						{{#if type}}
							<span class="effort">{{effort}}</span>
							<span class="load">{{load}}</span>
							<span class="fulcrum">{{fulcrum}}</span>
						{{/if}}
						<img src="{{images}}">
					</div>

					{{#if back}}
						<div class="back">
						<span class="glyphicon glyphicon-arrow-left"></span>
						{{back}}</div>
					{{/if}}
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="defination-template3">
    <div class="popUpFull">
		<div class="popUpHolder">
		<div class="holderPopUp2 descx">
			<span class="pull-right myCloseStyle closeBtn"></span>
			<h1>{{title}}</h1>

			<table width="100%" class="third">
				<tr>
					<td width="50%"><p> {{defination}} </p> </td>
					<td width="47%" style="padding-left:5px">
					<img src="{{images}}" alt="" width="100%">
					</td>
				</tr>
			</table>
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="msgBox2-template">
    <div class="msgBox2">
	    <div class="thisIs">{{text1}}<span class="text2half">{{text2}}</span>
		</div>
	    <div class="findThem">{{text3}} <span class="myCloseStyle exitMsg"></span></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="msgBox3-template">
    <div class="msgBox3">
	    <div class="thisIs">{{text1}}</div>
	    <div class="findThem">{{text3}} <span class="myCloseStyle exitMsg"></span></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="msgBox1-template">
    <div class="msgBox1">
	    {{{text1}}}
    </div>
</script>
<script src="js/snap.svg/snap.svg-min.js"></script>
<script type="text/javascript">

	$jsLoader("js/withsnap.js");
</script>
<!-- </div> -->
