<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/ex2.css");
    $cssLoader("../../../../css/gradient.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
	<div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
		{{! content block starts--}}
		<div class="contentblock {{contentblockadditionalclass}}">
			{{#each exerciseblock}}
				<p class="instruction {{ins_class}}">{{{textdata}}}</p>
				<ul class="optionsdiv">
					{{#each exeoptions}}
						<li id= "{{optid}}" class="optionscontainer {{optclass}}">
							<p class="{{opttextclass}}">{{optdata}}</p>
							<img src="images/correct.png" class="rightwrong corctopt">
							<img src="images/wrong.png" class="rightwrong wrngopt">
						</li>
					{{/each}}
				</ul>
				{{#if btndata}}
					<button class="submitbtn {{btnclass}}">{{btndata}}</button>
				{{/if}}
			{{/each}}
		</div>
	</div>
</script>


<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise2.js");
</script>
