.background{
    position: absolute;
    width: 102%;
}
.sagar{
    position: absolute;
    width: 13%;
    top: 33%;
    left: 0.5%;
}
.anjana{
    position: absolute;
    right: 19%;
    width: 12%;
    top: 4%;
}
.dialbox{
    position: absolute;
    width: 34%;
    top: 2%;
    left: 11%;
}
.dialbox1 {

    position: absolute;
    width: 42%;
    left: 28%;
    top: 2%;

}
.text1{
    position: absolute;
    width: 20%;
    height: 18%;
    right: 0%;
    top: 29%;
}
.text2{
    position: absolute;
    width: 80%;
    height: 15%;
    top: 23%;
}
.dialbox > p{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 7%;
    height: 100%;
}
.dialbox1 >p{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 5%;
    height: 100%;
}
#orangesacksvg{
    position: absolute;
    width: 20%;
    height: 45%;
    right: 0%;
    bottom: 10%;
}
#Layer_1{
    width: 100%;
    height: 100%;
}
.containercls,.containercls1{
    position: absolute;
    width: 60%;
    height: 30%;
    top: 35%;
    left: 12%;
    display: flex;
    flex-wrap: wrap;
}
.containercls img{
    width: 21%;
    height: 45%;
    padding: 0%;
    top: 48%;
}
.containercls1 img{
    width: 22%;
    height: 53%;
    padding: 1%;
    top: 43%;
}
.containercls p{
    right: 13%;
    top: 9%;
    font-size: 2.2vw;
}
.anjana1{
    position: absolute;
    right: 13%;
    width: 21%;
    top: 9%;
}
.container{
    position: absolute;
    width: 13%;
    height: 12%;
    top: 45%;
    display: flex;
    flex-wrap: wrap;
}
.container1{
    position: absolute;
    width: 13%;
    height: 12%;
    top: 38%;
    display: flex;
    flex-wrap: wrap;
}
.containercls2 ,.containercls6{
    left: 12%;
}
.containercls3 ,.containercls7{
    left: 25.5%;
}
.containercls4,.containercls8 {
    left: 39%;
}
.containercls5,.containercls9 {
    left: 52.5%;
}
.container img,.container1 img{
    width: 31%;
    height: 66%;
    padding: 2%;
}
.hideorange{
    opacity:0;
}
.commonnumber{
    position: absolute;
    width: 6%;
    height: 10%;
    top: 55%;
    z-index: 3;
    background-color: #9f8b78;
}
.n1{
    left:15%;
}
.n2{
    left:29%;
}
.n3{
    left:42%;
}
.n4{
    left:55%;
}
.fillimage img{
    width:5%;
    margin:5%;
}

@media (min-aspect-ratio: 4/3)
{
    .content4:lang(np) {
        font-size: 4vh;
    }
}

