.blue_bg{
  background: #A9C9F9;
}
.middle_text {
    position: absolute;
    font-size: 4vw;
    font-family: sniglet;
    width: 70%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: #F9B4B4;
    border: 2.5vmin solid #FFD3D3;
    border-radius: 5vmin;
    padding: 5%;
}
.textblock{
  height: 100%;
  width: 100%;
}
.middle_image {
    position: absolute;
    height: 64%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

/*Cat page css*/
.arrow1, .arrow2, .arrow3, .arrow4 {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow2 {
    top: 8%;
    left: 29%;
}
.arrow1 {
    top: 17%;
    left: 26%;
}
.arrow3 {
    top: 23%;
    left: 49%;
}
.arrow4 {
    left: 71%;
    top: 12%;
}
.tag_1,.tag_2,.tag_3,.tag_4{
  position: absolute;
  font-family: sniglet;
  font-size: 4vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_1 {
    top: 27%;
    left: 17%;
}
.tag_2 {
    left: 20%;
    top: 9%;
}
.tag_3 {
    left: 50%;
    top: 17%;
}
.tag_4 {
    left: 80%;
    top: 10%;
}
.animationdown1{
	animation: anim_down1 .5s ease-in-out forwards;
	-webkit-animation: anim_down1 .5s ease-in-out forwards;
}
@keyframes anim_down1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}
@-webkit-keyframes anim_down1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}


.animationdown2{
	animation: anim_down2 .5s ease-in-out forwards;
	-webkit-animation: anim_down2 .5s ease-in-out forwards;
}
@keyframes anim_down2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(300deg);
      transform: rotate(300deg);
  }
}
@-webkit-keyframes anim_down2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(300deg);
      transform: rotate(300deg);
  }
}




.animationdown4{
	animation: anim_down4 .5s ease-in-out forwards;
	-webkit-animation: anim_down4 .5s ease-in-out forwards;
}
@keyframes anim_down4 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(48deg);
      transform: rotate(48deg);
  }
}
@-webkit-keyframes anim_down4 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(48deg);
      transform: rotate(48deg);
  }
}
/*Cat page css ends*/
.bg_orange{
  	animation: color_change .5s ease-in-out forwards;
  	-webkit-animation: color_change .5s ease-in-out forwards;
}
@keyframes color_change {

  100% {
    background: #8E7CC3;
    /*color: black;*/
  }
}
@-webkit-keyframes color_change {
  100% {
    background: #8E7CC3;
    /*color: black;*/
  }
}
.name_tag {
    position: absolute;
    font-family: sniglet;
    font-size: 4vw;
    top: 84%;
    transform: translateX(-50%);
    left: 50%;
}

/*Rabbit page css*/


.arrow1_rabbit, .arrow2_rabbit {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow2_rabbit {
    top: 14%;
    left: 59%;
}
.arrow1_rabbit {
    top: 30%;
    left: 32%;
}

.tag_1_rabbit,.tag_2_rabbit{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_1_rabbit {
    left: 26%;
    top: 28%;
}
.tag_2_rabbit {
    left: 70%;
    top: 24%;
}

.animationdown_1_rabbit{
	animation: anim_rabbit_1 .5s ease-in-out forwards;
	-webkit-animation: anim_rabbit_1 .5s ease-in-out forwards;
}
@keyframes anim_rabbit_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(320deg);
      transform: rotate(320deg);
  }
}
@-webkit-keyframes anim_rabbit_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(320deg);
      transform: rotate(320deg);
  }
}


.animationdown_2_rabbit{
	animation: anim_rabbit_2 .5s ease-in-out forwards;
	-webkit-animation: anim_rabbit_2 .5s ease-in-out forwards;
}
@keyframes anim_rabbit_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@-webkit-keyframes anim_rabbit_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}

/*Rabbit css ends*/


/*elephant page css*/


.arrow1_elephant, .arrow2_elephant, .arrow3_elephant {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow2_elephant {
    top: 32%;
    left: 76%;
}
.arrow1_elephant {
    top: 52%;
    left: 76%;
}
.arrow3_elephant {
    top: 33%;
    left: 71%;
}

.tag_1_elephant,.tag_2_elephant{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_2_elephant {
    left: 89%;
    top: 62%;
}
.tag_1_elephant {
    left: 83%;
    top: 33%;
}

.animationdown_1a_elephant{
	animation: anim_elephant_1a .5s ease-in-out forwards;
	-webkit-animation: anim_elephant_1a .5s ease-in-out forwards;
}
@keyframes anim_elephant_1a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(65deg);
      transform: rotate(65deg);
  }
}
@-webkit-keyframes anim_elephant_1a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(65deg);
      transform: rotate(65deg);
  }
}

.animationdown_1b_elephant{
	animation: anim_elephant_1b .5s ease-in-out forwards;
	-webkit-animation: anim_elephant_1b .5s ease-in-out forwards;
}
@keyframes anim_elephant_1b {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
  }
}
@-webkit-keyframes anim_elephant_1b {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(40deg);
      transform: rotate(40deg);
  }
}


.animationdown_2_elephant{
	animation: anim_elephant_2 .5s ease-in-out forwards;
	-webkit-animation: anim_elephant_2 .5s ease-in-out forwards;
}
@keyframes anim_elephant_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@-webkit-keyframes anim_elephant_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}

/*elephant css ends*/


/*giraffe page css*/


.arrow1_giraffe, .arrow2_giraffe, .arrow3_giraffe {

    position: absolute;
    z-index: 2;
    height: 20%;

}

.arrow1_giraffe {
    top: 25%;
    left: 63%;
}
.arrow2_giraffe {
    top: 53%;
    left: 59%;
}
.arrow3_giraffe {
	top: 53%;
	left: 56%;
	height: 32%;
	width: 3%;
}
.tag_1_giraffe,.tag_2_giraffe{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_2_giraffe {
    left: 72%;
    top: 62%;
}
.tag_1_giraffe {
    left: 76%;
    top: 35%;
}

.animationdown_1_giraffe{
	animation: anim_giraffe_1a .5s ease-in-out forwards;
	-webkit-animation: anim_giraffe_1a .5s ease-in-out forwards;
}
.animationdown_51_giraffe{
	animation: anim_giraffe_15a .5s ease-in-out forwards;
}
@keyframes anim_giraffe_15a {
  0% {
      opacity: 0;
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      transform: rotate(71deg);
  }
}
@keyframes anim_giraffe_1a {
  0% {
      opacity: 0;
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      transform: rotate(90deg);
  }
}
@-webkit-keyframes anim_giraffe_1a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}


/*giraffe css ends*/

/*buffalo page css*/


.arrow1_buffalo, .arrow2_buffalo, .arrow3_buffalo, .arrow4_buffalo {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow1_buffalo {
    top: 5%;
    left: 81%;
}
.arrow2_buffalo {
    top: -1%;
    left: 73%;
    height: 30%;
}
.arrow3_buffalo {
    top: 69%;
    left: 71%;
    height: 30%;
}
.arrow4_buffalo {
    top: 69%;
    left: 62%;
    height: 30%;
}
.tag_1_buffalo,.tag_2_buffalo{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_2_buffalo {
    left: 80%;
    top: 91%;
}
.tag_1_buffalo {
    left: 88%;
    top: 8%;
}

.animationdown_1_buffalo{
	animation: anim_buffalo_1 .5s ease-in-out forwards;
	-webkit-animation: anim_buffalo_1 .5s ease-in-out forwards;
}
@keyframes anim_buffalo_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      transform: rotate(50deg);
      -webkit-transform: rotate(50deg);
  }
}
@-webkit-keyframes anim_buffalo_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      transform: rotate(50deg);
      -webkit-transform: rotate(50deg);
  }
}

.animationdown_2_buffalo{
	animation: anim_buffalo_2 .5s ease-in-out forwards;
	-webkit-animation: anim_buffalo_2 .5s ease-in-out forwards;
}
@keyframes anim_buffalo_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(70deg);
      transform: rotate(70deg);
  }
}
@-webkit-keyframes anim_buffalo_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(70deg);
      transform: rotate(70deg);
  }
}



.animationdown_3_buffalo{
	animation: anim_buffalo_3 .5s ease-in-out forwards;
	-webkit-animation: anim_buffalo_3 .5s ease-in-out forwards;
}
@keyframes anim_buffalo_3 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(113deg);
      transform: rotate(113deg);
  }
}
@-webkit-keyframes anim_buffalo_3 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(113deg);
      transform: rotate(113deg);
  }
}


.animationdown_4_buffalo{
	animation: anim_buffalo_4 .5s ease-in-out forwards;
	-webkit-animation: anim_buffalo_4 .5s ease-in-out forwards;
}

.animationdown_2_girrafe{
	animation: anim_buffalo_4 .5s ease-in-out forwards;
	-webkit-animation: anim_buffalo_4 .5s ease-in-out forwards;
}
@keyframes anim_buffalo_4 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(103deg);
      transform: rotate(103deg);
  }
}
@-webkit-keyframes anim_buffalo_4 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(103deg);
      transform: rotate(103deg);
  }
}

/*buffalo css ends*/




/*fish page css*/


.arrow1_fish, .arrow2_fish {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow1_fish {
    top: -1%;
    left: 60%;
    height: 27%;
}
.arrow2_fish {
    top: 5%;
    left: 70%;
    height: 30%;
}
.tag_1_fish{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_1_fish {
    left: 72%;
    top: 8%;
}

.animationdown_1_fish{
	animation: anim_fish_1a .5s ease-in-out forwards;
	-webkit-animation: anim_fish_1a .5s ease-in-out forwards;
}
@keyframes anim_fish_1a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
  }
}
@-webkit-keyframes anim_fish_1a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
  }
}


.animationdown_2_fish{
	animation: anim_fish_2a .5s ease-in-out forwards;
	-webkit-animation: anim_fish_2a .5s ease-in-out forwards;
}
@keyframes anim_fish_2a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}
@-webkit-keyframes anim_fish_2a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}

/*fish css ends*/




/*pig page css*/


.arrow1_pig {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow1_pig {
    top: 34%;
    left: 79%;
    height: 27%;
}
.tag_1_pig{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_1_pig {
    left: 91%;
    top: 61%;
}

.animationdown_1_pig{
	animation: anim_pig_1 .5s ease-in-out forwards;
	-webkit-animation: anim_pig_1 .5s ease-in-out forwards;
}
@keyframes anim_pig_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(140deg);
      transform: rotate(140deg);
  }
}
@-webkit-keyframes anim_pig_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(140deg);
      transform: rotate(140deg);
  }
}


/*pig css ends*/



/*eagle page css*/


.arrow1_eagle, .arrow2_eagle, .arrow3_eagle, .arrow4_eagle {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow1_eagle {
    top: 65%;
    left: 34%;
}
.arrow2_eagle {
    top: 36%;
    left: 30%;
}

.arrow3_eagle {
    top: 15%;
    left: 38%;
}
.arrow4_eagle {
    top: 15%;
    left: 55%;
}
.tag_1_eagle,.tag_2_eagle,.tag_3_eagle{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_2_eagle {
    left: 20%;
    top: 46%;
}
.tag_1_eagle {
    left: 26%;
    top: 74%;
}
.tag_3_eagle {
    left: 49%;
    top: 18%;
}


.animationdown_1_eagle{
	animation: anim_eagle_1 .5s ease-in-out forwards;
	-webkit-animation: anim_eagle_1 .5s ease-in-out forwards;
}
@keyframes anim_eagle_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}
@-webkit-keyframes anim_eagle_1 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}

.animationdown_2_eagle{
	animation: anim_eagle_2 .5s ease-in-out forwards;
	-webkit-animation: anim_eagle_2 .5s ease-in-out forwards;
}
@keyframes anim_eagle_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
  }
}
@-webkit-keyframes anim_eagle_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
  }
}



.animationdown_3_eagle{
	animation: anim_eagle_3 .5s ease-in-out forwards;
	-webkit-animation: anim_eagle_3 .5s ease-in-out forwards;
}
@keyframes anim_eagle_3 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
  }
}
@-webkit-keyframes anim_eagle_3 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
  }
}
/*eagle css ends*/


/*tiger page css*/


.arrow1_tiger, .arrow2_tiger, .arrow3_tiger {

    position: absolute;
    z-index: 2;
    height: 20%;

}
.arrow2_tiger {
    top: 57%;
    left: 28%;
}
.arrow1_tiger {
    top: 52%;
    left: 27%;
}
.arrow3_tiger {
    top: 30%;
    left: 25.7%;
}
.tag_1_tiger,.tag_2_tiger{
  position: absolute;
  font-family: sniglet;
  font-size: 3vw;
  z-index: 99;
  background: #EEADAD;
  color: white;
  padding: 1%;
  border-radius: 2vmin;
  color: white;
  transform: translate(-50%,-50%);
}
.tag_2_tiger {
    left: 16%;
    top: 40%;
}
.tag_1_tiger {
    left: 19%;
    top: 63%;
}

.animationdown_1a_tiger{
	animation: anim_tiger_1a .5s ease-in-out forwards;
	-webkit-animation: anim_tiger_1a .5s ease-in-out forwards;
}
@keyframes anim_tiger_1a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}
@-webkit-keyframes anim_tiger_1a {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}

.animationdown_1b_tiger{
	animation: anim_tiger_1b .5s ease-in-out forwards;
	-webkit-animation: anim_tiger_1b .5s ease-in-out forwards;
}
@keyframes anim_tiger_1b {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
  }
}
@-webkit-keyframes anim_tiger_1b {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
  }
}


.animationdown_2_tiger{
	animation: anim_tiger_2 .5s ease-in-out forwards;
	-webkit-animation: anim_tiger_2 .5s ease-in-out forwards;
}
@keyframes anim_tiger_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}
@-webkit-keyframes anim_tiger_2 {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-100%,0);
      transform: translate3d(0,-100%,0);
  }
  100% {
      opacity: 1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
  }
}

/*tiger css ends*/

@media(min-aspect-ratio:4/3){
	.middle_text{
		font-size: 8vmin;
	}
  .tag_1_eagle,.tag_2_eagle,.tag_3_eagle,.tag_1_fish,.tag_1,.tag_2,.tag_3,.tag_4,.name_tag,.tag_1_rabbit,.tag_2_rabbit,.tag_1_elephant,.tag_2_elephant,.tag_1_giraffe,.tag_2_giraffe,.tag_1_buffalo,.tag_2_buffalo{
  font-size: 6.5vmin;
}
}
