.coverpage{
    position: absolute;
    width:102%;
}
.chtitle{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 9%;
}
.sagar{
     position: absolute;
     width: 23%;
     top: 29%;
     left: 8%;
}
.sagar1{
     position: absolute;
     width: 12%;
     top: 38%;
     left: 15%;
}
.dad{
    position: absolute;
    width: 23%;
    top: 17%;
    left: 63%;
}
.ball{
    position: absolute;
    width: 9%;
}
.b1{
    top:50%;
    left:4%
}
.b2{
     top:50%;
     left:26%
}
.b3{
   top: 30%;
   left: 59%;
}
.b4{
     top:30%;
     left:81%
}
.b5{
   bottom:17%;
   left:37%;
}
.b6 {
	bottom: 17%;
	left: 49%;
}
.b7 {
	bottom: 17%;
	left: 70%;
}
.b8 {
	bottom: 17%;
	left: 82%;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #6088bb;
    color: white;
}
.number{
   position: absolute;
   width: 7%;
   height: 7%;
}
.sagarone{
   top: 41%;
   left:5%;
}
.sagartwo{
   top: 41%;
   left:28%;
}
.dadone{
   top:22%;
   left:60%;
}
.dadtwo{
   top:22%;
   left:82%;
}
.dialbox{
    position: absolute;
    width: 35%;
    top: 17%;
    left: 29%;
}
.dialtxt{
    position: absolute;
    width: 35%;
    top: 17%;
    left: 29%;
    height: 24%;
}
.twoball{
  position: absolute;
  width: 15%;
  bottom: 11%;
}
.tb1{
  right: 57%;
}
.tb2{
  right: 36%
}
.plus{
    position: absolute;
    width: 4%;
    right: 52%;
    bottom: 23%;
}
.equalto{
  position: absolute;
  width: 5%;
  right: 30%;
  bottom: 24%;
}
.fourball{
   position: absolute;
   width: 27%;
   right: 2%;
   bottom: 12%;
}
.scaleup{
   animation: highlight 1s linear 0s forwards;
}
@-webkit-keyframes highlight {
    100%{
        transform:  scale(1.1);
    }
}


@keyframes highlight {
     100%{
            transform:  scale(1.1);
        }
}
.bg{
    background-color: #fff9c4;
    background-size: 100% 100%;
}
.text3{
    position: absolute;
    width: 80%;
    height: 25%;
    left: 10%;
    top: 35%;
    background-color: #ffe599;
    border-radius: 16px;
}