<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercise1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                <div class="contentblock {{additionalclasscontentblock}}">
                <div class = "vertical-horizontal-center">
            </div>

                {{#if levelblock}}
                <div class="levelblock">
                    {{#each levelblock}}
                    <p class="{{textclass}}">{{{textdata}}}</p>
                    {{/each}}
                </div>
                {{/if}}

                {{#if uppertextblock}}
                <div class="uppertextblock">
                    {{#each uppertextblock}}
                    <p class="{{textclass}}">{{{textdata}}}</p>
                    {{/each}}
                </div>
                {{/if}}

                {{#if numberblock}}
                <div class="numberblock">
                    {{#each numberblock}}
                    <p class="{{numclass}}">{{{numdata}}}</p>
                    {{/each}}
                </div>
                {{/if}}

                {{#if imageblock}}
                <div class="imageblock">
                    {{#each imageblock}}
                        <div class="plantblock">
                            {{#each plantblock}}
                            <img src="{{imgsrc}}" class="{{imgclass}}">
                            {{/each}}
                        </div>
                        <div class="arrowblock">
                            {{#each arrowblock}}
                            <img src="{{imgsrc}}" class="{{imgclass}}">
                            {{/each}}
                        </div>
                        <div class="boxblock">
                            {{#each emptyboxblock}}
                            <div class="{{boxclass}}"></div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
                {{/if}}

                {{#if optionblock}}
                <div class="optionblock">
                    {{#each optionblock}}
                    <p class="{{textclass}}">{{{textdata}}}</p>
                    {{/each}}
                </div>
                {{/if}}

             </div>
            </div>
        </script>

<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
