
.textblock{
    background: white;
    font-size: 6vmin;
    text-align: center;
    font-family: Laila-Bold;
    background-color: white;
}

.bg2 .textblock{
    background-color: rgb(255, 139, 116);
    border-radius: 42px;
}

.bush{
    width: 43%;
    height: 28%;
    position: absolute;
    right: 60%;
    top: 74%;
    padding:10px;
}
.bush2{
    position: absolute;
    right: 0%;
    top: 80%;
    width: 43%;
    height: 22%;
}

.grassland{
    position: absolute;
    top: 86%;
    height: 16%;
    right: -1%;
    width: 102%;
    border-radius: 14px;
}




@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.bounceItem
{
    animation-duration: 2s;
    animation-name:bounce;
    animation-iteration-count:1;

    -webkit-animation-duration: 2s;
    -webkit-animation-name:bounce;
    -webkit-animation-iteration-count:1;
}

.generalplant{
    position: relative;
    max-width: 100%;
    max-height:100%
}
.smallplant{
    position: absolute;
    width: 7%;
    left: 14%;
    top: 23%;
    height: 11%;
}
.smallplant1{
    position: absolute;
    width: 7%;
    left: 31%;
    top: 25%;
    height: 11%;
}
.smallplant2{
    position: absolute;
    width: 7%;
    left: 44%;
    top: 37%;
    height: 11%;
}
.smallplant3{
    position: absolute;
    width: 7%;
    left: 4%;
    top: 38%;
    height: 11%;
}
.smallplant4{
    position: absolute;
    width: 7%;
    left: 9%;
    top: 63%;
    height: 11%;
}
.smallplant5{
    position: absolute;
    width: 7%;
    left: 20%;
    top: 76%;
    height: 11%;
}
.smallplant6{
    position: absolute;
    width: 7%;
    left: 78%;
    top: 26%;
    height: 11%;
}
.smallplant7{
    position: absolute;
    width: 7%;
    left: 39%;
    top: 58%;
    height: 11%;
}
.smallplant8{
    position: absolute;
    width: 7%;
    left: 57%;
    top: 58%;
    height: 11%;
}
.smallplant9{
    position: absolute;
    width: 7%;
    left: 45%;
    top: 77%;
    height: 11%;
}

.zoomin{
animation: zoomIn 1s linear 0s forwards;
animation-timing-function: ease-in;
-webkit-animation-duration: 500ms;
-moz-animation-duration: 500ms;
animation-duration: 500ms;
}

.btn1div{
    position: absolute;
    width: 83%;
    height: 55%;
    top: 25%;
    float: left;
    left: 10%;
}
.btncls{
    border-radius: 12px;
    border: none;
    top: 36%;
    height: 38%;
    width: 45%;
    text-align: center;
    padding-bottom: 5%;
}
.animaldiv{
    position: absolute;
    bottom: 11%;
    width: 96%;
    left: 3%;
}
.fencediv{
    bottom: 9%;
    position: absolute;
    width: 94%;
    left: 3%;
}


.title{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 6%;
  font-size: 2.3vw;
}

.txtdiv{
  top: 14%;
  font-size: 2.3vw;
}

.title1{
  position: absolute;
  width: 90%;
  left: 5%;
  top: 6%;
  font-size: 2.3vw;
}

.handimg {
    position: absolute;
    width: 13%;
    height: 20%;
    top: 50%;
    float: left;
    left: 45%;
}
.talkingladydiv{
  position: absolute;
  width: 40%;
  left: 0%;
  top: 30%;
  height: 70%;
}
.imgg{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
}
.giff{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: 1;

}
@media (min-aspect-ratio: 4/3){
.title{
  font-size: 5.2vh;
}
.txtdiv{
  font-size: 3.2vh;
}
.topic1,.title1{
  font-size: 4.0vh;
}
}
