.textblock{
    background: white;
    font-size: 6vmin;
    text-align: center;
    font-family: Laila-Bold;
    background-color: white;
}

.bg2 .textblock{
    background-color: rgb(255, 139, 116);
    border-radius: 15px;
}
.blink{
    animation: blink_kf linear 1s infinite alternate;
}

@keyframes blink_kf {
    100%{
        filter: drop-shadow(0 0 0.9em #ff3979);
    }
}

 .image10_bg_holder{
    position: absolute;
}

.image10_bg_holder{
    height: 50%;
    top: 22%;
    left: 4.5%;
    width: 42.4%;
    background-image: url("../images/putting_mool.png");
    background-size: 400% 100%;
    background-position: 0% 0%;
    animation: image10_bg_holder_kf 2s steps(3) forwards infinite;
}

@keyframes image10_bg_holder_kf{
    100%{
        background-position: -300% 0%;
    }
}
.btlimg{
    width: 40%;
    height: 99%;
    top: 3%;
    left: 1%;
}

.penholderimg{
    width: 27%;
    height: 66%;
    top: 15%;
    left: 7%;
}

.bottlepotimg{
    width: 64%;
    height: 42%;
    top: 37%;
    left: -2%;
}

.div1{
    width: 20%;
    height: 50%;
    position: absolute;
    left: 6%;
    top: 40%;
}

.div2{
    width: 40%;
    height: 50%;
    position: absolute;
    left: 26%;
    top: 40%;
}
.div3{
    width: 33%;
    height: 50%;
    position: absolute;
    left: 66%;
    top: 40%;
}
.btlimg2{
    width: 21%;
    /*top: -7%;*/
}
.pic9{
    width: 32%;
    height: 22%;
    position: absolute;
    top: 72%;
    float: left;
    left: 3%;
}
.pic10{
    position: absolute;
    width: 32%;
    height: 22%;
    bottom: 6%;
    float: right;
    right: -5%;
}
.degdustbin,.nondegdustbin,.fruitswaste,.bananapeels,.peels,.poop,.cane,.yellowcane,.bottle,.redcane{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
.pic1{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 46%;
    top: 83%;
}
.pic2{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 36%;
    top: 83%;
}
.pic3{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 45%;
    top: 77%;
}

.pic4{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 34%;
    top: 73%;
}

.pic5{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 41%;
    top: 68%;
}
.pic6{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 46%;
    top: 93%;
}
.pic7{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 35%;
    top: 92%;
}
.pic8{
    position: absolute;
    width: 10%;
    height: 10%;
    float: left;
    left: 54%;
    top: 83%;
}
.translatepic1{
    -ms-transform: translate(335%, -145%); /* IE 9 */
    -webkit-transform:translate(335%, -145%); /* Safari */
    transform: translate(335%, -145%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

}
.translatepic2{
    -ms-transform: translate(377%, -383%);/* IE 9 */
    -webkit-transform:translate(377%, -383%); /* Safari */
    transform: translate(377%, -383%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.translatepic3{
    -ms-transform: translate(393%, -229%); /* IE 9 */
    -webkit-transform: translate(393%, -229%); /* Safari */
    transform: translate(393%, -229%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.translatepic4{
    -ms-transform: translate(470%, -58%); /* IE 9 */
    -webkit-transform: translate(470%, -58%);/* Safari */
    transform:translate(470%, -58%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.translatepic5{
    -ms-transform: translate(-335%, -23%); /* IE 9 */
    -webkit-transform: translate(-335%, -23%);/* Safari */
    transform: translate(-335%, -23%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.translatepic6{
    -ms-transform: translate(-335%, -318%); /* IE 9 */
    -webkit-transform: translate(-335%, -318%); /* Safari */
    transform: translate(-335%, -318%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.translatepic7{
    -ms-transform: translate(-335%, -331%); /* IE 9 */
    -webkit-transform: translate(-335%, -331%); /* Safari */
    transform: translate(-335%, -331%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.translatepic8{
    -ms-transform: translate(-639%, -235%); /* IE 9 */
    -webkit-transform: translate(-639%, -235%); /* Safari */
    transform: translate(-639%, -235%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.bgcolor{
    background-color: white;
}
.bgsolution1{
    bottom: 89%;
    width: 94%;
    margin: 3%;
    height: 75%;
    border-radius: 19px;
}
.btn1div{
    position: absolute;
    width: 80%;
    height: 26%;
    bottom: 46%;
    float: left;
    left: 10%;
}
.btncls{
    border-radius: 12px;
    border: none;
    top: 54%;
    height: 74%;
    width: 44%;
    text-align: center;
    padding-bottom: 5%;
}



.title{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 6%;
  font-size: 2.3vw;
}

.txtdiv{
  top: 14%;
  font-size: 2.3vw;
}

.title1{
  position: absolute;
  width: 90%;
  left: 5%;
  top: 6%;
  font-size: 2.3vw;
}

.handimg {
    position: absolute;
    width: 13%;
    height: 20%;
    top: 50%;
    float: left;
    left: 45%;
}

.tp{
  top: 0%;
}
.talkingladydiv{
  position: absolute;
  width: 40%;
  left: 0%;
  top: 30%;
  height: 70%;
}
.imgg{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
}
.giff{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  z-index: 1;

}
@media (min-aspect-ratio: 4/3){
.title{
  font-size: 5.2vh;
}
.txtdiv{
  font-size: 3.2vh;
}
.topic1,.title1{
  font-size: 4.0vh;
}
}
