#showAns {
    clear: both;
    position: relative;
    text-align: center;
    width: 100%;
}
#toDo
{
	font-size: 1em;
	color: #000;
	width: 100%;
	text-align: center;
	margin:  auto;
	
}


#showAns div
{
	position: relative;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	min-width: 150px;
	width: 30%;
	padding: 1%!important;
	margin: 8% 1% 4% 1%!important;
	

	background-color: #3E9ED6;
}
#showAns div img 
{
	width: 40%;
}
.corrans
{
	background: #83b81a!important;
}

/*ans css*/
.ans {
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(112,181,242)),
		color-stop(0.49, rgb(84,164,238)),
		color-stop(0.5, rgb(54,144,240)),
		color-stop(1, rgb(26,97,219))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(112,181,242) 0%,
		rgb(84,164,238) 49%,
		rgb(54,144,240) 50%,
		rgb(26,97,219) 100%
	);

	

	color: #fff;
	
	font-size: 1.3em;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	
	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);

	
	border: 1px solid;
	border-color: #2f71a3 #265a82 #1e4766 #265a82;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;


	box-shadow: 		inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);
}

.ans:hover {
	background-color: #8AC5FD;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(134,193,253)),
		color-stop(0.49, rgb(153,213,255)),
		color-stop(0.5, rgb(130,194,253)),
		color-stop(1, rgb(108,170,229))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(134,193,253) 0%,
		rgb(153,213,255) 49%,
		rgb(130,194,253) 50%,
		rgb(108,170,229) 100%
	);
}

.ans:active {
	top: 4px;
	box-shadow: 		inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						
						0px 2px 0px #1e4766,
						
						0px 4px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						
						0px 2px 0px #1e4766,
					
						0px 4px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						
						0px 2px 0px #1e4766,
						
						0px 4px 5px rgba(0,0,0,0.5);
}

.done
{
	top: 4px;
	box-shadow: 		inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						/**/
						0px 4px 5px rgba(0,0,0,0.5);
}


.allquestion
{
	display: none;
	
	padding: 2% 3%!important;
	margin: auto!important;
	text-align: left;
}


#quest img 
{
	width: 10%;
}

.allAns
{
	width: 100%;
	border-radius: 10px;
	background: #DDEFB3;
	border: 1px solid #c9c9c9;
	padding: 2%!important;
	font-size: 1em;
	line-height: 1.2;
}

.rnum
{
	margin-bottom: 0.5%!important;


}
.rnum div
{
	text-indent: 5%;
	color: blue;
}
.rnum span
{
	color: blue; 
	margin-right: 1%!important;
}
.rnum div img 
{
	width: 9%; 
	
	
}

.result
{
	position: absolute!important;

	top:5%;
	right: 5%;
	font-size: 1em;
	padding: 1%!important;
	color: green;

	 box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
}

#retryBtnId{
	right: 1%;
	top: 2%;

	cursor: pointer;
width: 4%;
}