.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.diytext {
    position: absolute;
    font-size: 4vw;
    font-family: sniglet;
    color: white;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 80%;
}
.mainquestion {
    position: absolute;
    font-family: pangolin;
    font-size: 2vw;
    top: 5%;
    width: 100%;
}
.small {
    font-size: 1.5vw;
}
.optionspos-1, .optionspos-2, .optionspos-3, .optionspos-4
,.optionspos7-1,.optionspos7-2,.optionspos7-3,.optionspos7-4,.optionspos7-5,.optionspos7-6,.optionspos7-7 {
    position: absolute;
    font-size: 2vw;
    font-family: pangolin;
    background: rgb(255,229,153);
    padding: .5%;
    top: 25%;
    border-radius: .4em;
    width: 12%;
		cursor: pointer;
}
.optionspos7-1{
	left: 2%;
}
.optionspos7-2{
	left: 16%;
}
.optionspos7-3{
	left: 30%;
}
.optionspos7-4{
	left: 44%;
}
.optionspos7-5{
	left: 58%;
}
.optionspos7-6{
	left: 72%;
}
.optionspos7-7{
	left: 86%;
}
.optionspos-1:hover, .optionspos-2:hover, .optionspos-3:hover, .optionspos-4:hover,.optionspos7-1:hover,.optionspos7-2:hover,.optionspos7-3:hover,.optionspos7-4:hover,.optionspos7-5:hover,.optionspos7-6:hover,.optionspos7-7:hover {
		transform:scale(1.1);
		transition: .10s;
	}
.optionspos-1{
	left: 15%;
}
.optionspos-2{
	left: 34.333333333%;
}
.optionspos-3{
	left: 53.666666666%;
}
.optionspos-4{
	left: 72.999999999%;
}
.long{
	width: 17%;
}
@media (min-aspect-ratio:4/3){
		.diytext{
			font-size: 8vmin;
		}
		.mainquestion{
			font-size: 5vmin;
		}
		.small{
			font-size: 3.5vmin;
		}
}
