<!--
Title : General Template
-->

<script type="text/javascript">
    $cssLoader("playtime/playtimetemplate.css");
    $cssLoader("../../../../css/commonpage/dialougebox.css");
    $cssLoader("playtime/css/playtime2.css");
    $cssLoader("playtime/css/playtime_common.css");
    $cssLoader("../../../../css/gradient.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
    or only has content --}}
    {{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
            {{/if}}
            {{! header block start--}}
            {{#if headerblock}}
            <div class="headerblock {{headerblockadditionalclass}}">
                {{#each headerblock}}
                {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{! header block end--}}
            {{! content block start--}}
            <div class="contentblock {{contentblockadditionalclass}}">
                {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
                <div class="coverboardfull {{coverboardadditionalclass}}">
                    {{#if uppertextblock}}
                    <div class="textblock {{uppertextblockadditionalclass}}">
                        {{#each uppertextblock}}
                            {{#if divcls}}
                                 <div class="{{divcls}}">
                            {{/if}}
                                 {{> textcontent}}
                            {{#if divcls}}
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                    {{/if}}
                    {{#if imageslider}}
                    <div class="main-div">
                            <div class="slider-div-1 left">
                              <img class="slide-image1" src="{{imgsrc}}">
                            </div>

                            <div class="slider-div-2 mid">
                              <img class="slide-image2" src="{{imgsrc}}">
                            </div>

                            <div class="slider-div-3 right">
                              <img class="slide-image3" src="{{imgsrc}}">
                            </div>

                            <img class="prev-button" src="{{imgsrc}}">
                            <img class="next-button" src="{{imgsrc}}">

                    </div>
                    {{/if}}

                    {{#if quesansblock}}
                        {{#each quesansblock}}
                            <div class="{{qadiv}}">
                                <div class="clicktxt">
                                <p class="{{qacls}}">{{qatxt}}</p>
                                </div>
                                {{#if selectbox}}
                                <div class="selectdiv">
                                {{#each selectbox}}
                                    <button type="button" class="{{selectcls}}">
                                        {{selecttxt}}
                                    </button>
                                {{/each}}
                                </div>
                                {{/if}}
                                {{#if ansbox}}
                                <div class="ansdiv">
                                {{#each ansbox}}
                                    <button type="button" class="{{selectcls}}">
                                        {{selecttxt}}
                                    </button>
                                {{/each}}
                                </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if imghintblock}}
                    {{#each imghintblock}}
                        <div class="{{imghintdiv}}">
                            {{#if imageblock}}
                                {{#each imageblock}}
                                    {{#if imagestoshow}}
                                        {{#each imagestoshow}}
                                            <div class="{{imgdiv}}">
                                                <img class="{{imgclass}}" src="">
                                            </div>
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                        </div>
                    {{/each}}
                    {{/if}}

                    {{#if imageblock}}
                    <div class="imageblock {{imageblockadditionalclass}}">
                        {{#if imageblocknocenteradjust}}
                            <div class="vertical-horizontal-center">
                        {{/if}}
                            {{#each imageblock}}
                            	{{#if imageblockclass}}
                            		<div class="{{imageblockclass}}">
                            	{{/if}}
                                	{{> imagecontent}}
                                {{#if imageblockclass}}
                            		</div>
                            	{{/if}}
                            {{/each}}
                        {{#if imageblocknocenteradjust}}
                            </div>
                        {{/if}}
                    </div>
                    {{/if}}


                    {{#if lowertextblock}}
                    <div class="textblock {{lowertextblockadditionalclass}}">
                        {{#if lowertextblocknocenteradjust}}
                            <div class="vertical-horizontal-center">
                        {{/if}}
                            {{#each lowertextblock}}
                                {{> textcontent}}
                            {{/each}}
                        {{#if lowertextblocknocenteradjust}}
                            </div>
                        {{/if}}
                    </div>
                    {{/if}}

                    {{#each speechbox}}
            					<div class="speechbox {{speechbox}}">
            						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
            						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            						{{#if audioicon}}
            							<img class="audioicon {{audioclass}}" src="images/speaker.png">
            						{{/if}}
            					</div>
            				{{/each}}

                    {{#if question_div}}
                    <div class='question_div'>
                      <p class="main_question">{{{td1}}}</p>
                      <p class="option1 {{class1}}">{{{td2}}}</p>
                      <p class="option2 {{class2}}">{{{td3}}}</p>
                    </div>
                    {{/if}}

                </div>
            </div>
            {{! content block end--}}
        </div>
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
    <img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("playtime/js/playtime2.js");
</script>
