<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            {{#if exerciseblock}}
            {{#each exerciseblock}}
              <div class="instruc">
                <p>{{instrucdata}}</p>
              </div>
                <div class="questionblock">
                    {{#if quesimg}}
                    <div class="qimg">
                    <img src="{{ques_img}}" class="questionimg">
                  </div>
                  {{/if}}
                    <div class="quest">
                    <p class="question {{ques_class}}">{{{textdata}}}</p>
                  </div>
                </div>
                    <div class="optionsdiv">
                      <div class= "droparea">
                    {{#each exeoptions}}
                        <div class="optionscontainer">
                            <p class="forhover buttonsel {{forshuffle}}">{{optdata}}</p>

                            <img src="images/correct.png" class="imagestartpos corctopt">

                            <img src="images/wrong.png" class="imagestartpos wrngopt">
                        </div>
                    {{/each}}

                    {{#each imageoptions}}
                        <div class="optionscontainer forhoverimg checkhere {{forshuffle}}">
                            <img class="optimg b " src="{{imgsrc}}" />
                            <span class="opt">{{optdata}}</span>
                            <img src="images/correct.png" class="ispforimage corctopt">

                            <img src="images/wrong.png" class="ispforimage wrngopt">
                        </div>
                    {{/each}}
                    </div>
                  </div>

                {{#if imageblock}}
		            <div class="imageblock {{imageblockadditionalclass}}">
	                    {{#each imageblock}}
	                         <img class="{{imgclass}}" src="{{imgsrc}}" />
	                    {{/each}}
		            </div>
	            {{/if}}
            {{/each}}

             {{/if}}

             </div>
            </div>
        </script>


<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
