<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page3.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="scaledrawingsection">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script type="text/x-handlebars-template" id="housescale-template">
    <div class="{{housescaleClass}} wrapperCommonStyle">
        <p class="firstslideHeading headingCommonStyle">{{firstslideHeadingData}}</p>
        <div class="imageContainer">
            <figure class="housescaleImg">
                <img src="{{housescaleImgSrc}}">
                <figcaption>{{{housescaleLabelData}}}</figcaption>
            </figure>
            <figure class="houseImg">
                <img src="{{houseImgSrc}}">
                <figcaption>{{{houseLabelData}}}</figcaption>
            </figure>           
        </div>
        <p>{{{explainData}}}</p>
        {{#if showscaledrawbutton}}
            <div class="scaledrawBtn myNextStyle"></div>
        {{/if}}
    </div>
</script>

<script type="text/x-handlebars-template" id="bridgetextonly-template">
    <div class="bridgetextWrap wrapperCommonStyle">
        <p class="bridgetextHeading headingCommonStyle">{{bridgetextHeadingData}}</p>
        <div class="paragraphContainer">
           <p class="bridgetextfirstpara">{{bridgetextfirstparaData}}</p> 
           <p class="bridgetextsecondpara">{{bridgetextsecondparaData}}</p> 
           <p class="bridgetextthirdpara">{{bridgetextthirdparaData}}</p>
           <div class="bridgetextfourthpara">
            <div><span>1.5</span><br><span>0.5</span></div> <b>=</b> <div><span>30</span><br><span>10</span></div>         
           </div>
           <p class="bridgetextfifthpara">{{bridgetextfifthparaData}}</p> 
        </div>
        <div class="scaledrawBtn myNextStyle"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="doityourself-template">
    <div class="diyWrap wrapperCommonStyle">
        <p class="diyHeading headingCommonStyle">{{diyHeadingData}}</p>
        <div class="diyparagraphContainer">
           <p class="diyfirstpara">{{diyfirstparaData}}</p> 
           <div class="diysecondpara">
            <div><span>2.5</span><br><span>1.5</span></div> <b>=</b> <div><span>100</span><br><span>a</span></div>         
           </div>
           <p class="diythirdpara">{{diythirdparaData}}<input maxlength="3" type="text"><b class="answermark">&#10003;</b><em class="showHint">{{diyhintData}}</em></p>                       
        </div>
        <p class="diycongratulationspara">{{diycongratulationData}}</p>
        <div class="hintparagraphContainer">
          <p class="hintfirstpara">{{diyhintfirstparaData}}</p> 
          <p class="hintsecondpara">{{diyhintsecondparaData}}</p> 
          <p class="hintthirdpara">{{diyhintthirdparaData}}</p>
          <p class="hintfourthpara">{{diyhintfourthparaData}}</p>
          <p class="hintfifthpara">{{diyhintfifthparaData}}</p>  
        </div>        
    </div>
</script>

<script type="text/x-handlebars-template" id="makegroundmap-template">
    <div class="makegroundmapWrap wrapperCommonStyle">
        <p class="makegroundmapHeading headingCommonStyle">{{makegroundmapHeadingData}}</p>
        <p class="makegroundmapQuestion">{{{makegroundmapQuestionData}}}</p>
        <div class="makegroundmapinputContainer">
          <p class="makegroundmapLengthInput">{{makegroundmapLengthInputData}}<input maxlength="3" type="text"><em class="unit">cm</em><b class="answermark">&#10003;</b></p>
          <p class="makegroundmapWidthInput">{{makegroundmapWidthInputData}}<input maxlength="3" type="text"><em class="unit">cm</em><b class="answermark">&#10003;</b></p>             
        </div>
        <img class="makegroundmapImage" src="{{makegroundmapImgSrc}}">     
        <p class="makegroundmapcongratulationspara">{{makegroundmapcongratulationData}}</p>
        <div class="scaledrawBtn myNextStyle"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="schoolwork-template">
    <div class="schoolworkWrap wrapperCommonStyle">
    <p class="schoolworkHeading headingCommonStyle">{{schoolworkHeadingData}}</p>
        <div class="visiblediv">          
          <p class="schoolworkfirstpara">{{{schoolworkfirstparaData}}}</p>
          <em class="showHint">{{hintData}}</em>
        </div>        
        <div class="totalHint">
              <p class="hintfirstpara">{{{hintfirstparaData}}}</p>
              <p class="hintsecondpara">{{{hintsecondparaData}}}</p>
              <p class="hintthirdpara">{{{hintthirdparaData}}}</p>
              <p class="hintfourthpara">{{{hintfourthparaData}}}</p>
              <p class="hintfifthpara">{{{hintfifthparaData}}}</p>
              <p class="hintsixthpara">{{{hintsixthparaData}}}</p>
              <p class="hintseventhpara">{{{hintseventhparaData}}}</p>
              <div class="hinteighthpara">
                <div><span>1</span><br><span>50</span></div> <b>=</b> <div><span>{{eighthparaRightNumeratorData}}</span><br><span>{{eighthparaRightDinominatorData}}</span></div>         
              </div>
              <div class="hintninthpara">
                <div><span>{{eighthparaLeftExpressionData}}</span></div> <b>=</b> <div><span>{{ninthparaRightNumeratorData}}</span><br><span>1</span></div>         
              </div>  
              <p class="hinttenthpara">{{{hinttenthparaData}}}</p>      
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>