<script>
$cssLoader('css/shared.css');
$cssLoader('exercise/css/exe1.css');
</script>

<div class="pageContainer">

<div class="headTitle"></div>

  <div id="figBox">

    


    
  </div>
    
  <div id="nextbtn" class="arrowcls"></div>
  <img  id="Imgshow" src="$ref/exercise/images/correct.png" />
</div>

<script>
$jsLoader('exercise/js/exe1.js');

</script>



<script type="text/x-handlebars-template" id="template-1">



<div  id="{{firstText_1}}"><span>{{mycounter}}</span>{{firstText}}</div>

{{#if myGraph}}
<div class="allGraph">
  <div class="myGraph">
 

    <div id="grafico">
      <div class="riga"  id="riga1"><div>100</div></div>
      <div class="riga" id="riga2"><div>95</div></div>
      <div class="riga"  id="riga3"><div>90</div></div>
      <div class="riga" id="riga4"><div>85</div></div>
      <div class="riga"  id="riga5"><div>80</div></div>
      <div class="riga"  id="riga6"><div>75</div></div>
      <div class="riga"  id="riga7"><div>70</div></div>
      <div class="riga"  id="riga8"><div>65</div></div>
      <div class="riga"  id="riga9"><div>60</div></div>
      <div class="riga"  id="riga10"><div>55</div></div>
      <div class="riga"  id="riga11"><div>50</div></div>
      <div class="riga"  id="riga12"><div>45</div></div>
      <div class="riga"  id="riga13"><div>40</div></div>
      <div class="riga"  id="riga14"><div>35</div></div>
      <div class="riga"  id="riga15"><div>30</div></div>
      <div class="riga"  id="riga16"><div>25</div></div>
      <div class="riga"  id="riga17"><div>20</div></div>
      <div class="riga"  id="riga18"><div>15</div></div>
      <div class="riga"  id="riga19"><div>10</div></div>
      <div class="riga"  id="riga20"><div>5</div></div>
      <div class="riga"  id="riga21"><div>0</div></div>

      <div id="col1" class="column"></div>
      <div id="col2"  class="column"></div>
      <div id="col3"  class="column"></div>


      <div id="col4"  class="column"></div>
      <div id="col5"  class="column"></div>
      <div id="col6"  class="column"></div>

      <div id="col7"  class="column"></div>
      <div id="col8"  class="column"></div>
      <div id="col9"  class="column"></div>
      <div id="col10"  class="column"></div>

      <div class="labelGraph">
        <div id="grpahlab1">{{lab1Text1}}</div>
        <div id="grpahlab2">{{lab1Text2}}</div>
        <div id="grpahlab3">{{lab1Text3}}</div>
         <div id="grpahlab4">{{lab1Text4}}</div>
          <div id="grpahlab5">{{lab1Text5}}</div>
      </div>

      <div class="labelGraph2">
        <div id="graphlab1"><div></div>{{lab2Text1}}</div>
        <div id="graphlab2"><div></div>{{lab2Text2}}</div>
      </div>  

    </div>

  </div>


 
    {{#if mytable}}
      <div class="tabme_1">
        <table class="tg">
          <tr>
          <th class="tg-031e" rowspan="2">{{tabtxt1}}</th>
          <th class="tg-031e" colspan="2">{{tabtxt2}}</th>
          </tr>

          <tr>
          <td class="tg-031e th1">{{tabtxt3}}</td>
          <td class="tg-031e th1">{{tabtxt4}}</td>
          </tr>

          <tr class="">
          <td class="tg-031e ">{{tabtxt5}}</td>
          <td class="tg-031e"><input type="text" ansval="{{tabtxt6}}" class="noInbx" id="myInput1" maxlength="2" /></td>
          <td class="tg-031e">{{tabtxt7}}</td>
          </tr>

          <tr class="">
          <td class="tg-031e">{{tabtxt8}}</td>
          <td class="tg-031e">{{tabtxt9}}</td>
          <td class="tg-031e">{{tabtxt10}}</td>
          </tr>

          <tr class="">
          <td class="tg-031e">{{tabtxt11}}</td>
          <td class="tg-031e"><input type="text" ansval="{{tabtxt12}}" class="noInbx" id="myInput2"maxlength="2" /></td>
          <td class="tg-031e">{{tabtxt13}}</td>
          </tr>

          <tr class="">
          <td class="tg-031e">{{tabtxt14}}</td>
          <td class="tg-031e">{{tabtxt15}}</td>
          <td class="tg-031e">{{tabtxt16}}</td>
          </tr>

          <tr class="">
          <td class="tg-031e">{{tabtxt17}}</td>
          <td class="tg-031e">{{tabtxt18}}</td>
          <td class="tg-031e"><input type="text" ansval="{{tabtxt19}}" class="noInbx" id="myInput3" maxlength="2"/></td>
          </tr>

        </table>

        <input value="{{confirm}}" id="checkInputVal" type="button" />
      </div> 
    {{/if}}

    {{#if chooseMe}}
      <div class="chooseMe">
        <div class="quesTitle">{{quesTitle}}</div>

        <div id="showAns">
          <div class="{{radioBx}} clickMeBox" corr="{{corr1}}" id="rd1">{{opt1}}</div>
          <div class="{{radioBx}} clickMeBox" corr="{{corr2}}" id="rd2">{{opt2}}</div>

          {{#if opt3}}
          <div class="{{radioBx}} clickMeBox" corr="{{corr3}}" id="rd1">{{opt3}}</div>
          {{/if}}
           {{#if opt4}}
          <div class="{{radioBx}} clickMeBox" corr="{{corr4}}" id="rd1">{{opt4}}</div>
          {{/if}}

           {{#if opt5}}
          <div class="{{radioBx}} clickMeBox" corr="{{corr5}}" id="rd1">{{opt5}}</div>
          {{/if}}
          

        </div>
 
      </div>
    {{/if}}

    {{#if fillinblanck}}
      <div class="fillinblanck">
        <div class="quesTitle">{{quesTitle}}</div>

        <div id="showAns">
          {{maxval}} <input type="text" ansval="{{ansval}}" class="noInbx" id="{{myInputs}}" maxlength="2" />
          {{#if minval}}
            {{minval}} <input type="text" ansval="{{ansval2}}" class="noInbx" id="{{myInputs2}}" maxlength="2" />
          {{/if}}
          <input value="{{confirm}}" id="checkInputVal2" type="button" />          
        </div> 
      </div>
    {{/if}}

</div>
{{/if}}
</script>


<script type="text/x-handlebars-template" id="template-2">


<div class="allAns">
   {{#each allansw}}
   <div class="rnum" id="{{quesno}}">
       <span class="glyphicon glyphicon-hand-right"></span>            
        {{ques}} 
                   
      <span>{{qans}}</span>
   </div>
   {{/each}}
</div>

<div class="result">
   <div><span>{{rite}} : </span> {{rnum}}</div>
   <div><span>{{wrng}} : </span> {{wnum}}</div>
</div>

</script>