.is_are {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.is_are, .is_are * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.is_are .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;   
    z-index: 50; 
}

.is_are .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;   
    z-index: 50; 
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

 .coverboardfull {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 }
 

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	background-color: #66d9ff;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	background: #FFFFFF;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
	padding-left: 0;
	padding-right: 0;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*===================================
 =        InstructionBlock           =
 ===================================*/


/*==================================
 =            Text Block            =
 ==================================*/

@-webkit-keyframes swipebackgroundkeyframe {
to {
	background-position: 0% 0%;
}
}

@-moz-keyframes
swipebackgroundkeyframe {to {
	background-position: 0% 0%;
}
}

@keyframes
swipebackgroundkeyframe {to {
	background-position: 0% 0%;
}
}

div.textblock {
	position: relative;
	margin-top: 0.5%;
	width: 100%;
	height: 30%;
	z-index: 10;
	/*border   : 1px solid green; */
}

p.simpletextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 1%;
	padding: 1% 3%;
	font-size: 1.3em;
	text-align: left;
	/* border  : 1px solid red; */
}

p.bigheadingtextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 1%;
	font-size: 1.6em;
	font-weight: bold;
	/* border   : 1px solid red; */

	color: rgb(1, 174, 250);
}

p.singleparawithimagetextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 3%;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	color: black;
	background-color: rgb(198, 234, 248);
}

p.onlyparatextstyle, p.paratextstyle {
	display: table;
	margin: 0 2%;
	position: relative;
	padding: 3%;
	width: 95%;
	font-size: 1.2em;
	text-align: left;
	-webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	-moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
	background-image: -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
	background-image: -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
	background-image: linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */
	background-repeat: no-repeat;
	background-size: 200% 100%;
	background-position: -100% 0%;
	-webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.onlyparatextstyle {
	text-align: center;
}

p.bottomparatextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 2% 3%;
	width: 80%;
	font-size: 1.2em;
	text-align: left;
	color: black;
	background-color: rgb(198, 234, 248);
	-webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	-moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 1%;
	padding: 4%;
	font-size: 1.4em;
	text-align: left;
	/* svg image bg pulled from common images folder */
	background: url(../../../../../images/backgrounds/polygonbackground.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

span.royalbluehighlightstyle {
	color: rgb(0, 0, 255);
}

span.orangehighlight {
	color: rgb(197,6,6);
}

p.textalignleft {
	text-align: left;
}

p.formulatextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 3%;
	padding: 3%;
	color: rgb(135, 41, 213);
	font-size: 1.3em;
	background: url(../../../../../images/backgrounds/greybackground_animated.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

p.sideboxtextstyle {
	display: table;
	margin: 0 2%;
	position: relative;
	padding: 5% 5%;
	width: 95%;
	font-size: 1.2em;
	text-align: left;
	background-color: rgb(255, 247, 208);
	border: 2px solid rgb(247, 204, 27);
	border-radius: 5px;
}

p.paperstacktextstyle {
	position: relative;
	width: 100%;
	text-align: left;
	padding: 1% 5%;
	margin-top: 2%;
	font-size: 1.1em;
	color: black;
	background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
	background-image: -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
	background-image: -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
	background-image: linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */
	background-repeat: no-repeat;
	background-size: 200% 100%;
	background-position: -100% 0%;
	-webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.paperstacktextstyle:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	z-index: -1;
	-webkit-transform: rotate(0.8deg);
	-ms-transform: rotate(0.8deg);
	-o-transform: rotate(0.8deg);
	transform: rotate(0.8deg);
}

p.paperstacktextstyle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	z-index: -2;
	-webkit-transform: rotate(1.6deg);
	-ms-transform: rotate(1.6deg);
	-o-transform: rotate(1.6deg);
	transform: rotate(1.6deg);
}

/* Rules below is for multiplehighlight of span tags for a highlight true para.
 For example */
.multiplehighlights:nth-of-type(1) {
	background-color: #D93B2B;
}

.multiplehighlights:nth-of-type(2) {
	background-color: #F6921E;
}

.multiplehighlights:nth-of-type(3) {
	background-color: #FFDD00;
}
/* and so on if required be... */

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: relative;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	/*border     : 1px solid green; */
}

img.singleimgstyle {
	display: table;
	margin: 5% auto;
	position: relative;
	padding: 1%;
	width: 35%;
	cursor: pointer;
}

div.imageblock label {
	position: absolute;
}

img.twoimgtogether {
	position: relative;
	margin-top: 8%;
	display: inline-block;
	width: 25%;
	cursor: pointer;
}

img.twoimgtogether:nth-of-type(1) {
	margin-right: 20%;
}

img.twoimgtogetherlowspacing:nth-of-type(1) {
	margin-right: 10%;
}

img.threeimgtogether {
	position: relative;
	display: inline-block;
	width: 20%;
	margin-top: 2%;
}

img.threeimgtogether:nth-of-type(-n+2) {
	margin-right: 10%;
}

img.threeimgtogetherlowspacing:nth-of-type(1) {
	margin-right: 6%;
}
/*=====  End of Image Block  ======*/

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.additionaltextblock{
	font-size: 6vmin;
	position: absolute!important;
	width: 100%;
	height: 100%!important;
	top: 0;
	left: 0;
}

.heading{
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90%;
	transform: translateY(-50%);
}

.bluebg{
	/*
		color has been changed to purple
	*/
	background-color: #8C5CA6!important;	
}

.additionalimageblock{
	height: 100%;
	width: 100%;
	position: absolute;
}

.singleimage_description{
	position: absolute;
	height: 80%;
	width: 94%;
	top: 5%;
	left: 3%;
	background-color: #ffffff;
	border-radius: 8px;
}

.image_single{
	position: absolute;
	width: 40%;
	top: 14%;
	left: 30%;
	transform: scale(0.2);
	-webkit-animation: pulseanimation 1s ease-out forwards;
	animation: pulseanimation 1s ease-out forwards; 
}

.image_quadro_1, .image_quadro_2, .image_quadro_3, .image_quadro_4{
	position: absolute;
	width: 26%;
	top: 14%;
	transform: scale(0.2);
	-webkit-animation: pulseanimation 1s ease-out forwards;
	animation: pulseanimation 1s ease-out forwards;
}

.image_quadro_1{
	left: 2%;
}

.image_quadro_2{
	left: 24%;
	top: 32%;
}

.image_quadro_3{
	left: 48%;
}

.image_quadro_4{
	left: 70%;
	top: 32%;
}

@-webkit-keyframes pulseanimation{
	0%{
		transform: scale(0.2) rotate(-270deg);
	}
	
	90%{
		transform: scale(1.05) rotate(10deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
}

@keyframes pulseanimation{
	0%{
		transform: scale(0.2) rotate(-270deg);
	}
	90%{
		transform: scale(1.05) rotate(10deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
}

.image_single_label, .image_single_label2{
	width: 90%;
	text-align: left;
	/*left: 5%!important;
	bottom: 0.2em;*/
	cursor: pointer;
	position: relative!important;
	font-weight: initial;
	left: 0;
	/*display: none;
	padding: 0.3em 1em 0.5em 0.5em;
	background-color: rgba(109, 158, 235, 0.75);
	border-radius: 0.5em;
	z-index: 99;*/
}

.labelcontainer1{
	width: 50%;
	text-align: left;
	cursor: pointer;
	left: 25%!important;
	bottom: 10%;
	position: absolute;
	font-weight: initial;
	left: 0;
	padding: 1% 2%;
	background-color: #FFD75A;
	border-radius: 0.5em;
	z-index: 99;
}

.after_playing:hover {
	background-color: #FFAE40;
}

/*.image_single_label:hover, .image_single_label2:hover{
	background-color: rgba(142, 124, 195, 0.75);
}*/


.big_big {
	width: 90%;
	text-align: left;
	left: 5%!important;
	bottom: 2%;
	position: absolute;
	font-weight: initial;
	left: 0;
	padding: 0.3em 1em 0.5em 0.5em;
	border-radius: 0.5em;
	z-index: 99;
	box-shadow: 0px 3px 3px #a5a5a5;
	background-color: rgba(34,255,34, 0.75);
	animation: big_big_1 1s infinite;
	-webkit-animation: big_big_1 1s infinite;
}

.big_big:hover {
	background-color: rgba(34,255,34, 0.75);
}

@-webkit-keyframes
big_big_1{
0%   {filter: drop-shadow(0px 0px 0px white);}
50%   {filter: drop-shadow(0px 0px 0px black);}
100%   {filter: drop-shadow(0px 0px 0px white);}
}
@keyframes
big_big_1 {
0%   {filter: drop-shadow(0px 0px 0px white);}
50%   {filter: drop-shadow(0px 0px 0px black);}
100%   {filter: drop-shadow(0px 0px 0px white);}
}


.image_single_label{
	font-size: 4.56vmin;
}

.image_single_label2{
	font-size: 3.56vmin;
}

.doubleimage_description_left, .doubleimage_description_right{
	width: 44%;
	position: absolute;
	height: 70%;
	top: 10%;
	background-color: #ffffff;
}

.doubleimage_description_left{
	left: 3.5%;
}

.doubleimage_description_right{
	right: 3.5%;
}

.is_description, .are_description{
	position:absolute;
	width: 100%;
	top: 6%;
	font-size: 3.56vmin;
}

.is_description{
	left: 0;
}

.are_description{
	left: 50%;
}

.speaker1{
	width: 5%;
	right: 2%;
	position: absolute;
	z-index: 100;
	top: 30%;
}


.is_playing{
	animation: is_playing 1s linear infinite;
	-webkit-animation: is_playing 1s  linear infinite;
}

@-webkit-keyframes
is_playing{
	50%   {background-color: #FFC34C;}
}
@keyframes
is_playing {
	50%   {background-color: #FFC34C;}
}

.after_playing{
	transition: 0.5s;
}


.card1 {
    height: 20%;
    width: 50%;
    background: #7b74d4;
    animation: card2ani 3s ease-out forwards;
    position: absolute;
    top: 0%;
    left: 0%;
}

.card2 {
    height: 20%;
    display: inline-block;
    width: 50%;
    background: #ff9944;
    animation: card2ani 3s ease-out forwards;
    position: absolute;
    bottom: 0%;
    right: 0%;
}


@keyframes card2ani{
    to{
        height: 100%;
    }
}

@webkit-keyframes card2ani{
    to{
        height: 100%;
    }
}

.slideslide {
    color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    font-family: Sniglet;
    font-size: 4.2vw;
    font-weight: bold;
}
p,label{
	font-family: Sniglet;
}
