<!--
Title : General Template
-->

<script type="text/javascript">
    $cssLoader("playtime/css/playtimetemplate.css");
    $cssLoader("playtime/css/playtime.css");
    $cssLoader("../../../../css/gradient.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
    or only has content --}}
    {{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
            {{/if}}
            {{! header block start--}}
            {{#if headerblock}}
            <div class="headerblock {{headerblockadditionalclass}}">
                {{#each headerblock}}
                {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{! header block end--}}
            {{! content block start--}}
            <div class="contentblock {{contentblockadditionalclass}}">
                {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
                <div class="coverboardfull {{coverboardadditionalclass}}">
                   	{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				{{#each speechbox}}
					<div class="speechbox {{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						{{#if audioicon}}
							<img class="audioicon {{audioclass}}" src="images/speaker.png">
						{{/if}}
					</div>
				{{/each}}
				{{#if exerciseblock}}
			    {{#each exerciseblock}}
							<p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}"
							data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							<p class="sentence {{sent_class}}">{{{sentdata}}}</p>

							{{#if quesimg}}
							<img src="{{ques_img}}" class="questionimg">
							{{/if}}

							<div class="optionsdiv">
							{{#each exeoptions}}
									<div class="optionscontainer">
											<p class="forhover buttonsel {{forshuffle}}">{{optdata}}</p>

											<img src="images/correct.png" class="imagestartpos corctopt">

											<img src="images/wrong.png" class="imagestartpos wrngopt">
									</div>
							{{/each}}

							{{#each imageoptions}}
									<div class="optionscontainer{{optionscontainer}}">
											<img class="optimg forhoverimg buttonsel {{forshuffle}}" src="{{imgsrc}}" />

											<img src="images/correct.png" class="ispforimage corctopt">

											<img src="images/wrong.png" class="ispforimage wrngopt">
									</div>
							{{/each}}
							</div>

					{{#if imageblock}}
					<div class="imageblock {{imageblockadditionalclass}}">
								{{#each imageblock}}
										 <img class="{{imgclass}}" src="{{imgsrc}}" />
								{{/each}}
					</div>
				{{/if}}
			{{/each}}

			 {{/if}}
			</div>
		</div>
            {{! content block end--}}
        </div>
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
    <img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("playtime/js/playtime.js");
</script>
<script type="text/javascript">
    $jsLoader("js/commonjs.js");
</script>
