

@font-face {
    font-family: abeezee;
    src: url('../../../../../fonts/ABeeZee/ABeeZee-Regular.ttf');
}
.coverboardfull {

    font-family: abeezee !important;

}

.my_activity {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
    position: relative;
    margin: 0;
    padding: 0;
}

.my_activity .nextBtn {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.my_activity .prevBtn {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.vertical-horizontal-center {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg_story_1 {
    background-image: url("../images/02.png");
    background-size: 100% 75%;
    background-repeat: no-repeat
}
.main_bg{
    /*background-color: #A8DBA4;*/
    background-color: #9DE446;
    /*background: radial-gradient(#80CBC4, #00695C);*/
}
.grassbg {
    background: url("../images/7ae2e7d4cc3bda7c6a61ea10144f3240.jpg");
    background-size: 26% 20%;
}
.main_bg_2{
    background-color: #78C269;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 5;
}

div.headerblock p.headertextstyle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 2%;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(238, 110, 115);
    background-color: rgb(252, 252, 252);
    text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
    height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
    padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
    position: absolute;
    width: 100%;
    padding: 1%;
    /*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 13%;
    height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

.its_hidden {
    display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
    position: absolute;
    /*border     : 1px solid green; */
}

div.imageblock label {
    position: absolute;
}

.horizontal_center {
    left: 50%;
    transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    text-align: center;
}

.cover_full {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
    position: relative;
    width: 50%;
    left: -20%;
}

div.definitionblock > figcaption {
    position: relative;
    margin-top: -8%;
    left: -21%;
    font-size: 2em;
    color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
    position: relative;
    text-align: left;
    margin-top: 15%;
    font-size: 1.5em;
    padding: 0% 2%;
    /* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/


/*-------------- For Loading ---------------*/

#loading-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #222;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 3vmin;
}

#loading-content {
    display: block;
    position: absolute;
    left: 40%;
    top: 33.35%;
    width: 20%;
    height: 33.3%;
    transform: translate(-50%, -50%);
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.textblock{
    height: 100%;
    width: 100%;
}


@keyframes cssfadein {
    100%{
        opacity: 1;
    }
}



.generalTemplateblock p{
    font-family: abeezee;
}

div.generalTemplateblock{
    font-family: abeezee;
}
@media (min-aspect-ratio: 4/3) {
    .datafont{
        font-size: 5vw;
    }
    .chapter{
        font-size: 4vw;
    }
    .title{
        font-size: 3vw;
    }
    .content{
        font-size: 2.5vw;
    }
    .content1{
        font-size: 2.3vw;
    }
    .content2{
        font-size: 2vw;
    }
    .content3{
        font-size:1.5vw;
    }
    .content4{
        font-size: 1.6vw;
    }
    .diyfont{
        font-size: 1.8vw;
    }

}
.zoomInEffect{
    animation: zoomIn 1s linear 0s forwards;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    animation-duration: 500ms;
}
.zoomOutEffect{
    animation: zoomOut 1s linear 0s forwards;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    animation-duration: 500ms;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.fadeInEffect {
    -webkit-animation-name: fadeIn;
    animation: fadeIn 0.5s linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


.fadeOutEffect {
    -webkit-animation-name: fadeOut;
    animation: fadeOut 1s linear;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-moz-keyframes slideInFromLeft {
    0%   { -moz-transform: translateX(-1000%); }
    100% { -moz-transform: translateX(0%);}
}
@-webkit-keyframes slideInFromLeft {
    0%   { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


@-moz-keyframes slideInFromRight {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(0);}
}
@-webkit-keyframes slideInFromRight {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0); }
}
.slideL{
    animation:slideInFromLeft 1s linear 0s forwards ;
}
.slideR{
    animation:slideInFromRight 1s linear 0s forwards ;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(-50%);
    }
}


@-moz-keyframes slideInFromTop {
    0%   { -moz-transform: translateY(-200%); }
    100% { -moz-transform: translateY(-50%);}
}
@-webkit-keyframes slideInFromTop {
    0%   { -webkit-transform: translateY(-200%); }
    100% { -webkit-transform: translateY(-50%); }
}


.slideT{
    animation:slideInFromTop 2s linear 0s forwards;
}

@-moz-keyframes slideInFromBottom {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-50%);}
    100% { -moz-transform: translateY(-50%);}
}
@-webkit-keyframes slideInFromBottom {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-50%); }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-50%);
    }
}

.slideB{
    animation:slideInFromBottom 1s linear 0s forwards;
}
.relativecls{
    position: relative;
    width: 100%;
}
.centertext{
    position: relative;
    top:50%;
    transform:translateY(-50%);
    padding: 1% 1%;
    height: auto;
}
.avoid-clicks {
    pointer-events: none;
}
@keyframes slideInFromTop1 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}


@-moz-keyframes slideInFromTop1 {
    0%   { -moz-transform: translateY(-100%); }
    100% { -moz-transform: translateY(0%);}
}
@-webkit-keyframes slideInFromTop1 {
    0%   { -webkit-transform: translateY(-100%); }
    100% { -webkit-transform: translateY(0%); }
}


.slideT1{
    animation:slideInFromTop1 1s linear 0s forwards;
}
@-webkit-keyframes blinkEff {
    0%{
        transform:  scale(0.8) ;
    }
    100%{
        transform:  scale(1) ;
    }
}


@keyframes blinkEff {
    0%{
        transform:  scale(0.8) ;
    }
    100%{
        transform:  scale(1) ;
    }
}