@font-face {
    font-family: acme;
    src: url('../../../../../fonts/Acme-Regular.ttf');
}

.maintitle p{
    font-family: acme;
}
.objdiv{
    position: absolute;
    width: 100%;
    top: 0;
}
.objdiv1 {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #9878d9;
    color: white;
}
.dragdiv{
    position: absolute;
    width: 100%;
    height:30%;
    top:20%;
    background-color: #c4b4a5;
}
.switch{
    position: absolute;
    width: 18%;
    top: 35%;
    z-index:2;
}
.bulb{
    position: absolute;
    width: 13%;
    top: 15%;
    z-index:2;

}
.battery{
    position: absolute;
    width: 17%;
    top: 42%;
    z-index:2;

}
.wire{
    position: absolute;
    width: 20%;
    top: 15%;
    z-index:2;

}
.opt1{
    left: 5%;
}
.opt2{
    left: 30%;
}
.opt3{
    left: 53%;
}
.opt4{
    left: 75%;
}
.dropdiv{
    position: absolute;
    background-color: #eeddcb;
    width:100%;
    height:50%;
    bottom:0%;
}
.switchdrp{
    position: absolute;
    width: 13.5%;
    left: 32.5%;
    bottom: 72%;
    border: 1px solid;
    z-index:1;
    height:27%;
}
.bulbdrp{
    position: absolute;
    width: 9.2%;
    top: 65%;
    left: 43.7%;
    border: 1px solid;
    z-index: 1;
    height: 29%;
}
.batterydrp{
    position: absolute;
    width: 12%;
    top: 18%;
    left: 52%;
    border: 1px solid;
    z-index:1;
    height:7%
}
.wiredrp{
    position: absolute;
    width: 36%;
    top: 21%;
    left: 30%;
    border-radius: 30px;
    border: 1px solid;
    height:70.6%;
}
.hovered{
    border: 0.1em dashed black;
    background: #E5E5E5;
}
.droppable{
    background: #eeddcb;
}
.draggable{
    cursor: -webkit-grab;
    cursor: grab;
}
.monkey{
    position: absolute;
    width: 20%;
    top: 26%;
    right: 5%;
    opacity: 0;
}