.creamBg{
  background: #f8ebe0;
}
.background{
  position: absolute;
  top: 0%;
  left:0%;
  width: 100%;
  height: 100%;
}
.diyTxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 6vw;
  color: #4285f4;
  font-family: sniglet;
}
.leftTextBox{
  position: absolute;
  left: 0%;
  width: 40%;
  height: 95%;
  background: #7795e0;
  top: 91%;
  transform: translateY(-90%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.toptxt{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: #fc5c9c;
  z-index: 10;
  font-family: sniglet;
  font-size: 3vw;
  color: #fff;
}
.submit{
  position: absolute;
  bottom: 2%;
  right: 5%;
  width: 16%;
  height: 10%;
  background: #3c78d8;
  border: 3px solid #1155cc;
  color: #fff;
  padding: 1%;
  border-radius: .5em;
}
.bxTxt{
  /*position: absolute;*/
  /*top: 20%;*/
  position: relative;
  color: #fff;
  font-family: AbeeZee;
  font-size: 3.4vh;
  align-self: center;
}
.eqexclass{
  position: absolute;
  top: 20%;
  right: 12%;
  width: 33%;
  height: 58%;
  /*background: #ff0;*/
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.eqexBox{
  position: relative;
  height: 30%;
  width: 80%;
  /*background: #f00;*/
  align-self: center;
}
.box1_table, .box2_table, .box3_table{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*padding: 2% 0% 0% 21%;*/
}
.box1_table table, .box2_table table, .box3_table table{
  height: 100%;
  width: 100%;
}
.box1_table td, .box2_table td, .box3_table td{
	font-family: AbeeZee;
	font-size: 3vh;
	color: #fff2cc;
	text-align: center;
}
.box1_table tr:nth-of-type(3){
  border-bottom: 3px solid #fff2cc;
}
.box2_table tr:nth-of-type(2){
  border-bottom: 3px solid #fff2cc;
}
.brdbtm{
  border-bottom: 3px solid #fff2cc;
}
.qnboxcontainer{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*background: #0f0;*/
  /*opacity: 0.7;*/
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.questionBox{
  position: relative;
  height: 45%;
  width: 100%;
  /*background: #fff;*/
  /*opacity: 0.5;*/
}
.arrowclass{
  position: absolute;
  width: 14%;
  transform: rotate(90deg);
  top: 17%;
  right: 2%;
}
.arrowBox{
  position: absolute;
  width: 20%;
  height: 90%;
  top: 5%;
  background: #fff;
  right: 17%;
  font-family: AbeeZee;
  font-size: 2.8vw;
  padding-bottom: 1%;
  border: 2px solid #999999;
  border-radius: .2em;
}
.qb1, .qb2, .qb3{
  opacity: 0;
}
.practice{
  position: absolute;
  border: 4px solid #60c7a9;
  right: 27%;
  bottom: 2%;
  background: #36dcaf;
  color: #fff;
  font-family: sniglet;
  padding: 1%;
  border-radius: .5em;
  font-size: 4vh;
  z-index: 30;
  /*opacity: 0;*/
}
.submit:hover, .arrowclass:hover, .practice:hover{
  cursor: pointer;
}
.sideBoard{
  position: absolute;
  top: 18%;
  right: 2%;
  width: 56%;
}
.arrow{
  position: absolute;
  width: 39%;
  transform: rotate(211deg);
  z-index: 30;
  opacity: 0;
}
.arrow1{
  top: 27%;
  left: 35%;
  /*opacity: 1;*/
}
.arrow2{
  top: 46%;
  transform: rotate(190deg);
  left: 30%;
  width: 43%;
}
.arrow3{
  top: 68%;
  transform: rotate(185deg);
  left: 29%;
  width: 45%;
}
.hideThis{
  opacity: 0;
}
.showThis{
  opacity: 1;
}
@media screen and (min-aspect-ratio: 4/3) {
	/*vw*/
	.covertext{
		font-size: 4vw;
	}
  .submit, .practice{
    font-size: 3vh;
  }
  .bxTxt{
    font-size: 3.4vh;
  }
  .arrowBox{
    font-size: 4.5vh;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.covertext{
		font-size: 4vw;
	}
  .submit, .practice{
    font-size: 2vw;
  }
  .bxTxt{
    font-size: 1.9vw;
  }
  .arrowBox{
    font-size: 2.8vw;
  }
}
