.top-text{
	position: absolute;
	left: 0%;
	top: 0%;
	color: black;
	width: 100%;
	z-index: 5;
	background-color: #FFFECB;
	padding: 0.5% 2%;
	text-align: left;
}
.bg-blue{
	background-color: #9EDED3;
}

.girl-1{
	position: absolute;
	top: 50%;
	left: 2.5%;
	width: 17.5%;
	transform: translateY(-50%);
	border-radius: 50%;
	padding: 2%;
	background-color: white;
}
.text-story{
	position: absolute;
	top: 24%;
	left: 22.5%;
	width: 57.5%;
	background-color: #F3F3F3;
	font-family: sniglet;
	font-weight: bold;
	text-align: left;
	padding: 1.5%;
	font-size: 2.1vw;
}

.text-story-2{
	position: absolute;
	top: 27%;
	left: 22.5%;
	width: 75%;
	background-color: #F3F3F3;
	font-family: sniglet;
	text-align: left;
	padding: 1.5%;
	font-size: 2.1vw;
}
@media (min-aspect-ratio:4/3){
	.text-story, .text-story-2{
		font-size: 2.8vh;
	}
}
.text-story>*, .text-story-2>*{
	margin-bottom: 3%;
}

.btn{
	position: absolute;
	top: 11%;
	padding: 0.5% 1%;
	border-radius: 1vmin;
	border: 0.5vmin solid #738380;
	font-size: 2.3vw;
	font-family: sniglet;
}
.btn:hover{
	cursor: pointer;
	transform: scale(1.05);
	-webkit-filter: contrast(150%) drop-shadow(0px 0px 2px white);
	filter: contrast(150%) drop-shadow(0px 0px 2px white);
}
@media (min-aspect-ratio:4/3){
	.btn{
		font-size: 3vh;
	}
}


.btn-1{
	left: 22.5%;
	padding: 0.5% 2%;
	background-color: #ADEBFB;
}
.btn-2{
	left: 48%;
	padding: 0.5% 2%;
	background-color: #EA8B88;
}
.btn-3{
	left: 75%;
	padding: 0.5% 4%;
	background-color: #FFDB5C;
}

.selected-class{
	transform: scale(1.05);
	-webkit-filter: contrast(150%) drop-shadow(0px 0px 2px white);
	filter: contrast(150%) drop-shadow(0px 0px 2px white);
}

.s-img{
	position: absolute;
	width: 15%;
	left: 82.5%;
}

.img-1{
	top: 15%;
}
.img-2{
	top: 35%;
}
.img-3{
	top: 53.5%;
	width: 12%;
	left: 84%;
}
.img-4{
	top: 75%;
}
