.bg-blue{
	background-color: #3D85C6;
}
.diy-rect{
	position: absolute;
	height: 96%;
	width: 97%;
	left: 1.5%;
	border-radius: 12vmin;
	border: 0.5vmin dashed white;
	background: radial-gradient(#D3E4F5, #77A9D7);
	top: 2%;
}

.diy-text{
	position: absolute;
	width: 60%;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
	color: #0B5394;
	text-align: right;
	font-size: 6.5vw;
}
@media (min-aspect-ratio:4/3){
	.diy-text{
		font-size: 9.5vh;
	}
}
.diy-boy{
	position: absolute;
	z-index: 5;
	bottom: 5%;
	right: 62.5%;
	height: 70%;
}
.bg-puzzle{
	background-color: #F9CB9C;
}

.instruction{
	position: absolute;
	top: 5%;
	right: 1%;
	width: 45%;
	color: black;
	text-align: left;
}
.word-list{
	position: absolute;
	bottom: 5%;
	width: 22%;
	right: 24%;
	background-color: white;
	height: 65%;
	text-align: left;
	padding-left: 2%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
}
.puzzle-boy{
	position: absolute;
	z-index: 5;
	bottom: 5%;
	right: 2.5%;
	height: 55%;
}








.container{
	position: absolute;
	left: 3%;
	top: 2.5%;
	width: 48%;
	height: 95%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	/*align-items: center;*/
	z-index: 10;
}

.letter-box{
	position: relative;
	width: 11%;
	height: 8.33%;
	border: 1px solid black;
	background-color: white;
}

.letter-box>p{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.1vw;
}
@media(min-aspect-ratio:4/3){
	.letter-box>p{
		font-size: 2.8vh;
	}
}
.done-answer{
	-webkit-animation: done-answer 0.3s linear both;
	animation: done-answer 0.3s linear both;
}
@-webkit-keyframes
done-answer {
	0%{background-color: #C9DAF8;font-weight: normal;}
	50% {transform: rotateY(90deg);background-color: #C9DAF8;font-weight: normal;}
	50.1% {transform: rotateY(90deg);background-color: #FFE599;font-weight: bold;}
	100% {background-color: #FFE599;font-weight: bold;}
}
@keyframes
done-answer {
	0%{background-color: #C9DAF8;font-weight: normal;}
	50% {transform: rotateY(90deg);background-color: #C9DAF8;font-weight: normal;}
	50.1% {transform: rotateY(90deg);background-color: #FFE599;font-weight: bold;}
	100% {background-color: #FFE599;font-weight: bold;}
}
.done-answer-1{
	-webkit-animation: done-answer-1 0.3s linear both;
	animation: done-answer-1 0.3s linear both;
}
@-webkit-keyframes
done-answer-1 {
	0%{background-color: #C9DAF8;font-weight: normal;}
	50% {transform: rotateX(90deg);background-color: #C9DAF8;font-weight: normal;}
	50.1% {transform: rotateX(90deg);background-color: #FFE599;font-weight: bold;}
	100% {background-color: #FFE599;font-weight: bold;}
}
@keyframes
done-answer-1 {
	0%{background-color: #C9DAF8;font-weight: normal;}
	50% {transform: rotateX(90deg);background-color: #C9DAF8;font-weight: normal;}
	50.1% {transform: rotateX(90deg);background-color: #FFE599;font-weight: bold;}
	100% {background-color: #FFE599;font-weight: bold;}
}
.ans-present{
	background-color: #FFE599;
	font-weight: bold;
}
.current-hover{
	background-color: #C9DAF8;
}

.found-word{
	color: #67AF50;
}












