.lesson-title{
	position: absolute;
	left: 50%;
	top: 15%;
	color: black;
	width: 44%;
	z-index: 5;
	transform: translateX(-50%);
	font-size: 6vw;
}
@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 8.5vh;
	}
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.bg-in-1{
	background: linear-gradient(to bottom, #4E29A9, #1E123D);
}
.p1-title{
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}
.p1-text-1{
	position: absolute;
	top: 23%;
	width: 70%;
	left: 15%;
	color: white;
}
.p1-text-2{
	position: absolute;
	bottom: 1%;
	width: 70%;
	left: 15%;
	color: white;
}
.teeth{
	position: absolute;
	width: 60%;
	left: 20%;
	bottom: 19%;
}


.p1-text-3{
	position: absolute;
	top: 10%;
	width: 37%;
	right: 1%;
	color: black;
	text-align: left;
}
.p1-text-4{
	position: absolute;
	top: 15%;
	width: 50%;
	left: 10%;
	color: black;
	text-align: left;
}
.washing{
	position: absolute;
	right: 4%;
	top: 5%;
	width: 30%;
}


.p1-text-5{
	position: absolute;
	bottom: 8%;
	width: 25%;
	left: 5%;
	color: white;
	text-align: left;
}
.p1-text-6{
	position: absolute;
	top: 5%;
	width: 60%;
	left: 20%;
	color: black;
	text-align: left;
}

.p1-text-7{
	position: absolute;
	top: 10%;
	width: 50%;
	left: 25%;
	color: black;
	text-align: left;
}
