<body>
<script type="text/javascript">
$cssLoader("css/halfregular.tesellation.css");

</script>

<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="tesellation">
	<div class="title">
		halfregular tesellation
	</div>
	<span class="glyphicon glyphicon-circle-arrow-right nextBtn">
	</span>

	<div class="board">
		
	</div>
	
</div>

<script type="text/x-handlebars-template" id="firstPage-template">
    <div class="first">
        <div class="desc">{{title}}</div>
        <div class="images4">
            <img src="{{img1}}" alt="" id="img1" class="imgFirst">
            <img src="{{img2}}" alt="" id="img2" class="imgFirst">
            <img src="{{img3}}" alt="" id="img3" class="imgFirst">
            <img src="{{img4}}" alt="" id="img4" class="imgFirst">
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="second-template">
    <div class="second">
        <div class="holder">
            <img src="{{mainImg}}" alt="" class="mainImg">
            <div class="btnImg">
                <img src="{{img1}}" data-btnImg="1" class="btnObj">
                <img src="{{img2}}" data-btnImg="2" class="btnObj">
            </div>
        </div>
        <div class="desc">{{desc}}</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="drag-template">
    <div class="{{newClass}}">
        <div class="image1"><img src="{{drag1}}" alt=""></div>
        <div class="arrow"><img src="{{arrow}}" alt=""></div>
        <div class="text1">{{text1}}</div>
        <div class="dropholder"><img src="{{image3}}" alt=""></div>
        <div class="text2">{{text2}}</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="repeat-template">
        <div class="repeatHolder">
            <div class="pull-right myReloadStyle">

            </div>
            <span>{{text1}}</span>
        </div>
</script>

<script type="text/x-handlebars-template" id="football-template">
    <div class="football">
        <div class="fblQuest">
            {{{question}}}
        </div>
        <div class="midfootball">
            <div class="fblAnime"><img src="{{img2}}" alt=""></div>
            <div class="ans">{{text1}} 
                <img src="{{img3}}" alt="">
            </div>
        </div>
    </div>
</script>

<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("js/halfregular.tesellation.js");

</script>
</body>