<body>
<script type="text/javascript">
$cssLoader("css/intro.tesellation.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="tesellation">
	<div class="title">
		<div class="question">
			tesellation
		</div>
	</div>
	<span class="glyphicon glyphicon-circle-arrow-right nextBtn">
	</span>

	<div class="lastImg" data-ids="3"><img src="$ref/images/beehibe.png" alt=""></div>
	<div class="coverimg" data-ids="3">
		<img src="$ref/images/coverpage.png" alt="">
		<p class="chapter_name"></p>
	</div>
<div class="board">

</div>
	<div class="objects">
		<div id="img1" class="objt" data-ids="1"><img src="$ref/images/01.png" alt=""></div>
		<div id="img2" class="objt" data-ids="2"><img src="$ref/images/02.png" alt=""></div>
		<div id="img3" class="objt" data-ids="3"><img src="$ref/images/03.png" alt=""></div>
	</div>
	<!-- <div class="defn">smth defination</div> -->
	<div class="markAns">hey smth is correct
	</div>
</div>

<script type="text/x-handlebars-template" id="budha-template">
<span class="glyphicon glyphicon-circle-arrow-right nextBtn">
	</span>
<div class="title">{{{question}}}</div>
<div class="board">
	<table>
		<tr>
			<td class="images" valign="top">
				<img src="{{img1}}" alt="">
		    	<img src="{{img2}}" alt="">
		    	<img src="{{img3}}" alt="">
			</td>
			<td class="quests" valign="top">
			<p class="allQ">{{allQ1}}</p>
			<ul>
				<li id="q1">
				<p>{{q1}} <img src="{{imgcorrect}}" alt=""></p>
					<div class="yesNo">
					<ul>
						<li data-ans="1">{{ans1}}</li>
						<li data-ans="2">{{ans2}}</li>
						</ul>
					</div>
				</li>
				<li id="q2">
				<p>{{q2}} <img src="{{imgcorrect}}" alt=""></p>
					<div class="yesNo">
						<ul>
						<li data-ans="1">{{ans1}}</li>
						<li data-ans="2">{{ans2}}</li>
						</ul>
					</div>
				</li>
				<li id="q3">
				<p>{{q3}} <img src="{{imgcorrect}}" alt=""></p>
					<div class="yesNo">
						<ul>
						<li data-ans="1">{{ans1}}</li>
						<li data-ans="2">{{ans2}}</li>
						</ul>
					</div>
				</li>
			</ul>
			</td>
		</tr>
	</table>
</div>
</script>

<script type="text/x-handlebars-template" id="defination-template">
	<div class="defination">
		<div class="title">{{title}}</div>
		<div class="img"><img src="{{image}}" alt=""></div>
		<div class="text2">{{defination}}</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="yes-no-template">
    <ul>
    	<li data-ans="1">{{ans1}}</li>
    	<li data-ans="2">{{ans2}}</li>
    </ul>
</script>

<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("js/intro.tesellation.js");

</script>
</body>
