<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">

    $cssLoader("css/page1.unitary02.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">

    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
	<div class="main-bg1">
		<img src="activity/grade8/math/math_interest_02/image/board-lokharke.png" class="img-responsive"/>
		</div>
	{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		
	<div class="main-bg">
		<img src="activity/grade8/math/math_unitary_02/image/school.jpg" class="img-responsive"/>
		</div>

<div class="school01">
		<img src="activity/grade8/math/math_unitary_02/image/deepa3.png" class="imgs"/>
		</div>			
	
	<div class="main03">
		<img src="activity/grade8/math/math_unitary_02/image/class-room.png" class=" img03 "/>
		</div>
	
	<div class="main04">
		<img src="activity/grade8/math/math_unitary_02/image/room.png" class=" img04 "/>
		</div>
		
	<div class="main05">
		<img src="activity/grade8/math/math_unitary_02/image/class-room-with-desk.png" class=" img05 "/>
	</div>
		
<!-- drag and drop -->	

	<div class="desk01">
	<img id="block1" src="activity/grade8/math/math_unitary_02/image/desk01.png" class="color"  draggable="true" ondragstart="drag(event)" />
	</div>

	<div id="block2" ondrop="drop(event)" ondragover="allowDrop(event)" class="desk001"></div>
	
	


	<div class="desk02">
	<img id="block3" src="activity/grade8/math/math_unitary_02/image/desk02.png" class="color"  draggable="true" ondragstart="drag(event)"/>
    </div>

	<div id="block4" ondrop="drop(event)" ondragover="allowDrop(event)" class="desk002"></div>
	
	



	<div class="desk03">
	<img id="block5" src="activity/grade8/math/math_unitary_02/image/desk03.png" class="color"  draggable="true" ondragstart="drag(event)"/>
	</div>

	<div id="block6"  ondrop="drop(event)" ondragover="allowDrop(event)" class="desk003"></div>
    

	


	<div class="desk04">
	<img id="block7" src="activity/grade8/math/math_unitary_02/image/desk04.png" class="color"  draggable="true" ondragstart="drag(event)"/>
	</div>

	<div id="block8" ondrop="drop(event)" ondragover="allowDrop(event)" class="desk004"></div>	
    
	
	


	<div class="desk05">
	<img id="block9" src="activity/grade8/math/math_unitary_02/image/desk05.png" class="color" draggable="true" ondragstart="drag(event)"/>
	</div>

	<div id="block10"  ondrop="drop(event)" ondragover="allowDrop(event)" class="desk005"></div>	
    
	
	


	<div  class="desk06">
	<img id="block11" src="activity/grade8/math/math_unitary_02/image/desk06.png" class="color" draggable="true" ondragstart="drag(event)"/>
    </div>

	<div id="block12" ondrop="drop(event)" ondragover="allowDrop(event)" class="desk006"></div>
   

 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
	
	{{{test}}}
 </div>

  </div>


  </script>



<script type="text/x-handlebars-template" id="intro02-template">
	 <div class="wrapperIntro {{justClass}}">
	
	 <table class="exmpletable" align="center">
			<tr><th>{{rowheading1}}</th><th>{{rowheading2}}</th></tr>
			<tr><td id= "bg_td">1</td><td id="bg_td3">60</td></tr>
			<tr><td id="bg_td2">10</td><td id="bg_td1">x</td></tr>
		</table>
		
		
	{{#each text}}
			
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<div class="img-des13">
				<img src="activity/grade8/math/math_unitary_02/image/uparrow.png" align="middle"  class="imageholder13">
		
		</div>
				
		<div class="img-des013">
				<img src="activity/grade8/math/math_unitary_02/image/uparrow.png" align="middle"  class="imageholder013"></div>
		
		<div class="img-des0013">
				<img src="activity/grade8/math/math_unitary_02/image/danger.png" align="middle"  class="imageholder0013"></div>
		
		<div class="img-des14">
				<img src="activity/grade8/math/math_unitary_02/image/downarrow.png" align="middle" class="imageholder14"></div>
				
		<div class="img-des014">
				<img src="activity/grade8/math/math_unitary_02/image/downarrow.png" align="middle" class="imageholder014"></div>
				
		<div class="img-des0014">
				<img src="activity/grade8/math/math_unitary_02/image/downarrow-green.png" align="middle" class="imageholder0014"></div>		
				
		<div id="correct">
			<img src="activity/grade8/math/math_unitary_02/image/correct.png" class="img01 img-responsive"/>
		</div>
	
		<div id="wrong">
		<img src="activity/grade8/math/math_unitary_02/image/danger.png" class="img01 img-responsive"/>
		</div>		
		<p class="check1">{{check}}</p>	
		<p class="answer">{{answer}}</p>	
	 {{! instruction block start--}}
        
            <div class="instructionblock {{instructionblockadditionalclass}}" data-instructionblockshow="true">
                   <div class="instructionsets">
							<ol class="vertical-horizontal-center"> 
								{{#each instruction}}
								<li class="text-primary" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{this}}}</li>
								{{/each}}
							</ol>
					</div>
					<div class="toggleinstructionblock">
						<span class="glyphicon glyphicon-chevron-down"></span>
						 <div class="glossy"></div>
					</div>
            </div>
			{{! instruction block end--}}
			
			
            
      </div>  
    
	
</script>



<!-------------------------------------------------------------------------------------------------->

<!--page3-->


<script type="text/x-handlebars-template" id="intro2-template">
   <div class="wrapperIntro {{justClass}}">
	
		
		
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
	</div>

</script>

<!-- end of page3-->


<script type="text/x-handlebars-template" id="intro3-template">
   <div class="wrapperIntro {{justClass}}">
	{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
		<div class="img-four">
				<img src="activity/grade8/math/math_unitary_02/image/three-room-with-desk.png" align="middle" class="image04"></div>
		<div class="img-five">
				<img src="activity/grade8/math/math_unitary_02/image/deepa-bill.png" align="middle" class="image05"></div>
		
		<div class="img-six">
				<img src="activity/grade8/math/math_unitary_02/image/delivery-boy.png" align="middle" class="image06"></div>
		
		<div class="bubble1">
			<!--<img src="activity/grade8/math/math_interest_02/image/bubble.png" class="img-responsive"/>-->
			</div>
			<div class="bubble2">
			<!--<img src="activity/grade8/math/math_interest_02/image/bubble2.png" class="img-responsive"/>-->
			</div>	
		
		</div>
</script>


<script type="text/x-handlebars-template" id="intro4-template">
	 <div class="wrapperIntro {{justClass}}">
	 <div class="arrow"></div>
	 <div class="arrow1"></div>
	 <div class="table01">
	 <table class="exmpletable" align="center">
			<tr><th>{{rowheading1}}</th><th>{{rowheading2}}</th></tr>
			<tr><td id= "bg_td4">6</td><td id= "bg_td5">600</td></tr>
			<tr><td id= "bg_td6">21</td><td id= "bg_td7">x</td></tr>
		</table>
		</div>
		
		
	{{#each text}}
			
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<div class="img-des13">
				<img src="activity/grade8/math/math_unitary_02/image/uparrow.png" align="middle"  class="imageholder13"></div>
				
		<div class="img-des013">
				<img src="activity/grade8/math/math_unitary_02/image/uparrow.png" align="middle"  class="imageholder013"></div>
				
		<div class="img-des0013">
				<img src="activity/grade8/math/math_unitary_02/image/danger.png" align="middle"  class="imageholder0013"></div>
		
		
		<div class="img-des14">
				<img src="activity/grade8/math/math_unitary_02/image/uparrow.png" align="middle" class="imageholder14"></div>
				
		<span class="img-des014">
				<img src="activity/grade8/math/math_unitary_02/image/downarrow.png" align="middle" class="imageholder014"></span>
				
		<div class="img-des0014">
				<img src="activity/grade8/math/math_unitary_02/image/uparrow-green.png" align="middle" class="imageholder0014"></div>	
		
		<div id="correct1">
			<img src="activity/grade8/math/math_unitary_02/image/correct.png" class="img02 img-responsive"/>
		</div>
	
		<div id="wrong1">
		<img src="activity/grade8/math/math_unitary_02/image/danger.png" class="img02 img-responsive"/>
		</div>	
		
		
		<p class="check2"> {{check}} </p>	
		<p class="answer2">{{answer}}</p>	
		{{! instruction block start--}}
        
            <div class="instructionblock {{instructionblockadditionalclass}}" data-instructionblockshow="true">
                   <div class="instructionsets">
							<ol class="vertical-horizontal-center"> 
								{{#each instruction}}
								<li class="text-primary" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{this}}}</li>
								{{/each}}
							</ol>
					</div>
					<div class="toggleinstructionblock">
						<span class="glyphicon glyphicon-chevron-down"></span>
						 <div class="glossy"></div>
					</div>
            </div>
			
			
      </div>  
    {{! instruction block end--}}
</script>


<script type="text/x-handlebars-template" id="intro5-template">
   <div class="wrapperIntro {{justClass}}">
	
		
		
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
	</div>

</script>


<script type="text/x-handlebars-template" id="intro6-template">
   <div class="wrapperIntro {{justClass}}">
	
		
		
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
	</div>

</script>


<script type="text/x-handlebars-template" id="intro7-template">
   <div class="wrapperIntro {{justClass}}">
   <div class="hint_table">
	<table class="exmpletable" align="center" >
			<tr><th>{{rowheading1}}</th><th>{{rowheading2}}</th></tr>
			<tr><td>20</td><td>30</td></tr>
			<tr><td>x</td><td>10</td></tr>
		</table>
		</div>
		<p class="speed1"> 10 </p>
		<p class="speed2"> 25 </p>
		<p class="speed3"> 60 </p>
		<p class="speed4"> 40 </p>
		<p class="hint">{{hint}} </p>
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
		<div class="background">
           <div class="scooty"><img src="activity/grade8/math/math_unitary_02/image/scooty.png"/>
            </div>
			<div class="wheelfrontright"><img src="activity/grade8/math/math_unitary_02/image/wheel-front.png" class="wheelrotate"/>
            </div>
			<div class="wheelbackright"><img src="activity/grade8/math/math_unitary_02/image/wheel-back.png" class="wheelrotate"/>
            </div>
			
			
		{{#if imageblock}}
            {{#each imageblock}}
                {{> imagecontent}}
            {{/each}}
        {{/if}}

        
<div class="{{imagecontentclass}}">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
</div>
		</div>
		
		
			
			
			
		<div class="deepa-ride"><img src="activity/grade8/math/math_unitary_02/image/deepa-ride.png" class="ride"/>
            </div>
		
		<div class="backgroundanimationblockblock {{backgroundanimationblockblockadditionalclass}}">
                {{#each backgroundanimationblock}}
                    {{> backgroundanimationcontent}}
                {{/each}}
            </div>
			
				<div class="textblock4" data-usernotification4='notifyuser'>
                    {{#each usernotificationblock}}
                        {{> textcontent}}
                    {{/each}}
                </div>
	</div>

</script>


<script type="text/x-handlebars-template" id="intro8-template">
   <div class="wrapperIntro {{justClass}}">
	
		
		
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
	</div>

</script>


<script type="text/x-handlebars-template" id="intro9-template">
    
	<div class="wrapperIntro {{justClass}}">
        <div class="main-bg1">
		<img src="activity/grade8/math/math_unitary_02/image/1.png" class="img-responsive"/>
		</div>
		<div class="main-bg2">
		<img src="activity/grade8/math/math_unitary_02/image/2.png" class="img-responsive"/>
		</div>
		<div class="main-bg3">
		<img src="activity/grade8/math/math_unitary_02/image/3.png" class="img-responsive"/>
		</div>
		<!--<div class="deepa">
		<img src="activity/grade8/math/math_unitary_02/image/deepa.png" class="img-responsive"/>
		</div>-->
		{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        
    </div>
</script>



<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.unitary02.js");
</script>