/*class to add for next page blink*/
.nextPageBlink
{
	animation-duration: 1s;
  animation-name: nextPage;
  animation-iteration-count: infinite;
}

@keyframes nextPage {
  0% {
    opacity: 0;
    color:yellow;
  }

  25% {
   opacity: 0.3;
   color:green;
  }

  50% {
   opacity: 0.7;
   color:blue;
  }

   75% {
   opacity: 1;
   color:brown;
  }

   100% {
   opacity: 0.5;
   color:black;
  }
}


/*class to be added for the blinkEffect*/
.blinkEffect
{
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

/*give a glowing effect*/
.glowAnim
{
  animation-duration: 1s;
  animation-name: glowDiv;
  animation-timing-function: easeOut;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 1s;
  -webkit-animation-name: glowDiv;
  -webkit-animation-timing-function: easeOut;
  -webkit-animation-iteration-count: infinite;
}

@keyframes glowDiv{
  0% {
      -moz-box-shadow: 0 0 0.2em gold;
      -webkit-box-shadow: 0 0 0.2em gold;
      box-shadow: 0 0 0.2em gold;
  }

  100% {
        -moz-box-shadow: 0 0 1em gold;
      -webkit-box-shadow: 0 0 1em gold;
      box-shadow: 0 0 1em gold;
     }
}


/*rotate the fan fast*/
.fanRotateFast
{
  animation-duration: 1s;
  animation-name: fastRotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 1s;
  -webkit-animation-name: fastRotate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes fastRotate{
  0% {
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }

  100% {
        transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
     }
}

@-webkit-keyframes fastRotate{
  0%{
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }


  100%{
       transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
  }
}

/*fade in from the blurred text effect*/
.blurryText
{
  animation-duration: 7s;
  animation-name: blurTxt;
  animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  animation-timing-function: easeOut;
  animation-iteration-count: 1;

  -webkit-animation-duration: 7s;
  -webkit-animation-name: blurTxt;
  -webkit-animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  -webkit-animation-timing-function: easeOut;
  -webkit-animation-iteration-count: 1;
}

@keyframes blurTxt{
  0% {
      color: transparent;
      text-shadow: 0 0 5px rgba(0,0,0,0.3); 
  }

  100% {
        color: "";
        text-shadow: ""; 
     }
}