.brownbg{
  background: #93633E;
}
.arrowdivclass{
  position: absolute;
  top: 54%;
  left: 0%;
  width: 100%;
  height: 34%;
}
.leftbox{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 20%;
}
.midbox{
  position: absolute;
  top: 0%;
  left: 20%;
  height: 100%;
  width: 20%;
}
.lastbox{
  position: absolute;
  top: 0%;
  left: 40%;
  height: 100%;
  width: 20%;
}
.forthbox{
  position: absolute;
  top: 0%;
  left: 60%;
  height: 100%;
  width: 20%;
}
.buton{
  position: absolute;
  top: 8%;
  width: 27%;
  left: 33.5%;
}
.buton:hover{
  cursor:pointer;
}
.buton_dwn{
  position: absolute;
  bottom: 17%;
  width: 27%;
  left: 34.5%;
  transform: rotate(180deg);
}
.txt{
  position: absolute;
  top: 32%;
  height: 27%;
  width: 42%;
  background: #ffffff;
  border: 2px solid #231F20;
  text-align: center;
  font-size: 3vw;
  font-family: abeezee;
  left: 27%;
  border-radius: 0.3em;
}
.covertext {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 95%;
  top: 10%;
  font-size: 4.5vmin;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
}
.toptxt{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #1EA8D4;
    color: #fff;
    font-family: comfortaa;
    padding: 2% 1% 1% 1%;
    font-size: 2vw;
}
.submit{
  position: absolute;
  top: 77%;
  left: 79%;
  font-size: 2vw;
  background: #FFCD53;
  border: 2px solid #B45F06;
  border-radius: .3em;
  padding: 1%;
  z-index: 10;
}
.submit:hover{
  cursor: pointer;
}
.plus{
  position: absolute;
  width: 6%;
  top: 64%;
}
.fst{
  left: 16%;
}
.sec{
  left: 37%;
}
.equal{
  position: absolute;
  width: 7%;
  top: 67%;
  left: 56%;
}
.bird{
  position: absolute;
  top: 34%;
  width: 17%;
}
.bird2{
  position: absolute;
  top: 20%;
  width: 17%;
}
.b1{
  left: 3%;
}
.b2{
  left: 22%;
}
.b3{
  left: 41%;
}
.b1s{
  left: 22%;
}
.b2s{
  left: 41%;
}
.b3s{
  left: 60%;
}
.addntxt{
  position: absolute;
  top:40%;
  left: 22%;
  /*background: #fff;*/
  width: 55%;
  font-family: AbeeZee;
  font-size: 6vh;
  color: #fff;
}
@media screen and (min-aspect-ratio: 4/3) {
	/*vw*/
	.covertext{
		font-size: 4vw;
	}
  .submit, .tryagain{
    font-size: 2vw;
  }
	.txt{
		font-size: 4vh;
	}
}
@media screen and (max-aspect-ratio: 4/3) {
	.txt{
		font-size: 2vw;
	}
  .addntxt{
    font-size: 3vw;
  }
}
