.whitebg{
  background: #fff;
}
.toptxt{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  color: #fff;
  font-family: AbeeZee;
  font-size: 3vw;
  background: #1EA8D4;
  padding: 1%;
}
.arrowdivclass{
  position: absolute;
  top: 55%;
  left: 39%;
  width: 93%;
  height: 34%;
}
.leftbox{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 20%;
}
.midbox{
  position: absolute;
  top: 0%;
  left: 20%;
  height: 100%;
  width: 20%;
}
.lastbox{
  position: absolute;
  top: 0%;
  left: 40%;
  height: 100%;
  width: 20%;
}
.forthbox{
  position: absolute;
  top: 0%;
  left: 60%;
  height: 100%;
  width: 20%;
}
.buton{
  position: absolute;
  top: 8%;
  width: 30%;
  left: 34.5%;
}
.buton_dwn{
  position: absolute;
  bottom: 16%;
  width: 30%;
  left: 35.5%;
  transform: rotate(180deg);
}
.buton:hover,.buton_dwn:hover{
  cursor: pointer;
}
.txt{
  position: absolute;
  top: 33%;
  height: 26%;
  width: 40%;
  background: #ffffff;
  border: 2px solid #231F20;
  text-align: center;
  font-size: 3vw;
  font-family: abeezee;
  left: 30%;
  border-radius: .2em;
}
.submit{
  position: absolute;
  top: 77%;
  left: 79%;
  font-size: 2vw;
  background: #FFCD53;
  border: 2px solid #B45F06;
  border-radius: .3em;
  padding: 1%;
  z-index: 10;
}
.submit:hover, .submit_sec:hover{
  cursor: pointer;
}
.mcqdivclass{
  position: absolute;
  top: 62%;
  left: 14%;
  width: 70%;
  height: 33%;
  background: #fff;
}
.basketcontainer{
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 30%;
}
.container{
  position: absolute;
  top: 0%;
  width: 20%;
  height: 100%;
}
.c0{
  left: 0%;
}
.c1{
  left: 20%;
}
.c2{
  left: 40%;
}
.c3{
  left: 60%;
}
.c4{
  left: 80%;
}
.fruits_holder{
  position: absolute;
  top: 16%;
  left: 14%;
  height: 49%;
  width: 87%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.opntxt{
  position: absolute;
  left: 5%;
  color: #000;
  font-family: AbeeZee;
  top: 38%;
  font-size: 2vw;
}
.option{
  position: absolute;
  left: 59%;
  font-family: AbeeZee;
  font-size: 2vw;
  background: #FFCD53;
  color: #000;
  padding: 2%;
  width: 30%;
  border: 2px solid #FFCD53;
  border-radius: 1em;
}
.op1{
  top: 5%;
}
.op2{
  top: 52%;
}
.option:hover{
  cursor: pointer;
  background: #D78E5A;
  border: 4px solid #7E482C;
}
.table{
  position: absolute;
  left: 0%;
  top: -2%;
  width: 100%;
}.speechbx{
  position: absolute;
  top: 6%;
  left: 35%;
  height: 50%;
  width: 46%;
}
.speechbg {
  position: relative;
  height: 100%;
  width: 100%;
}
.speechboxString{
  position: relative;
  font-size: 3vw;
  font-family: sniglet;
}
.speechbox > p {
    position: absolute;
    width: 84%;
    left: 8%;
    top: 47%;
    transform: translateY(-50%);
}
.girl{
  position: absolute;
  top: 24%;
  left: 62%;
  width: 50%;
}
.rotate{
  transform: rotateY(180deg);
}
.plainTxt{
  position: absolute;
  top: 60%;
  left: 50%;
  transform:translate(-50%);
  font-family: Chelseamarket;
  font-size: 2vw;
  width: 54%;
}
.submitSec{
  position: absolute;
  top: 77%;
  left: 30%;
  font-size: 2vw;
  background: #fc5c9c;
  border: 4px solid #ff93c2;
  border-radius: .3em;
  padding: 1%;
  z-index: 10;
  color: #fff;
  left: 50%;
  transform:translate(-50%);
}
.submitSec:hover{
  cursor: pointer;
  color: #000;
  background:#fcb2c1;
  border:4px solid #fc5c9c;
}
.fruitsQty{
  position: absolute;
  top: 75%;
  left: 41%;
  background: #fff;
  width: 20%;
  opacity: 0.7;
  font-size: 2vw;
  border-radius: .3em;
}
@media screen and (min-aspect-ratio: 4/3) {
	/*vw*/
	.covertext{
		font-size: 4vw;
	}
  .submit, .tryagain{
    font-size: 2vw;
  }
  .plainTxt{
    font-size: 4vh;
  }
  .speechbox > p{
    font-size: 3vh;
  }
	.txt, .toptxt{
		font-size: 5vh;
	}
}
@media screen and (max-aspect-ratio: 4/3) {
	.txt, .toptxt{
		font-size: 3vw;
	}
}
