/*----------------------------------
 ----------- for shops -------------
 -----------------------------------*/
.shop_bg_1{
	background-color: #E1D3ED;
}
.shop_bg_2{
	background-color: #FFFCED;
}
.shelf_top{
	position: absolute;
	width: 95%;
	left: 2.5%;
	height: 4%;
	top: 35%;
}
.shelf_top_clothing{
	position: absolute;
	width: 95%;
	left: 2.5%;
	height: 1%;
	top: 15%;
}
.shelf_bottom{
	position: absolute;
	width: 95%;
	left: 2.5%;
	height: 4%;
	top: 60%;
}
.shelf_bottom_clothing{
	position: absolute;
	width: 95%;
	left: 2.5%;
	height: 1%;
	top: 50%;
}
.floor{
	position: absolute;
	left: 0%;
	width: 100%;
	height: 6%;
	bottom: 0%;
	background-color: #10A9A7;
}

.shelf_2{
	background-color:#BE7E54;
	border: 2px solid #D39361;
}

.floor_2{
	background-color: #90B84F;
}

.shop_name_board{
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	padding: 1% 2%;
	color: white;
	border-radius: 3vmin;
	border: 2px solid #E1D3ED;
	background-color: #10A9A7;
}

.shop_name_2{
	background-color: #1CA77E;
}
.basket{
	position: absolute;
	bottom: 1%;
	right: 1%;
	z-index: 10;
	width: 20%;
	height: 29%;
}
.basket>img{
	position: absolute;
	left: 0%;
	bottom: 0%;
	width:100%;
}
.basket_front{
	z-index: 15;
}
.basket_back{
	z-index: 5;
}
.done_shopping{
	display: none;
	background-color: #6D9EEB;
	right: 30%;
	position: absolute;
	bottom: 10%;
	border-radius: 3vmin;
	border: 2px solid #E1D3ED;
	width: 15%;
	color: white;
	z-index: 25;
	padding: 1% 2%;
}
.done_shopping:hover{
	cursor: pointer;
	background-color: #8E7CC3;
}
.price_tag{
	position: absolute;
	width: 12vw;
	height: 3vw;
	top: 50%;
	transform: rotate(-20deg);
	left: 30%;
	text-align: left;
	padding-left: 5vw;
	background-image: url('../images/tag.png');
	background-size: 100% 100%;
	line-height: 3vw;
	color: white;
}

@media (min-aspect-ratio: 4/3){
	.price_tag{
		width: 18vmin;
		height: 4vmin;
		padding-left: 8vmin;
		line-height: 4vmin;
		color: white;
	}
}
.shop_items{
	cursor: pointer;
	position: absolute;
	width: 8%;
}
.clothing_shop>.shop_items{
	width:10%;
}
.hanger{
	position: absolute;
	top: 0%;
	width: 100%;
	left: 0%;
}
.shop_items>img{
	width: 100%;
}
.shop_item_1, .shop_item_4{
	left: 4%;
}
.shop_item_2, .shop_item_5{
	left: 35%;
}
.shop_item_3, .shop_item_6{
	left: 66%;
}
.top_shelf{
	bottom: 65%;
}
.bottom_shelf{
	bottom: 40%;
}
.clothing_shop>.top_shelf{
	bottom: none;
	top: 14%;
}
.clothing_shop>.bottom_shelf{
	bottom: none;
	top: 49%;
}
.shop_items>label{
	display: none;
}
.shop_items:hover .price_tag{
	display: block!important;
}
.shop_items:hover{
	z-index: 20!important;
	filter: drop-shadow(0px 0px 1px #FF4081);
}

.fade_away{
	animation: disappear 2s ease-in forwards;
	-webkit-animation: disappear 2s ease-in forwards;
}
@-webkit-keyframes
disappear {
	100%   {opacity: 0;}
}
@keyframes
disappear {
	100%   {opacity: 0;}
}

.shoppingblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.shop-counter{
	position: absolute;
	bottom: -1%;
	right: 0%;
	width: 60%;
}

.rs-note{
	cursor: grab;
	position: absolute;
	width: 35%;
	left: 3%;
	z-index: 20;
}
.coin-1{
	cursor: grab;
	position: absolute;
	left: 11%;
	width: 7%;
	top: 14%;
	z-index: 25;
}
.note-1{
	top: 28%;
	width: 25%;
	z-index: 22;
}
.note-2{
	top: 48%;
	width: 27%;
	z-index: 21;
}
.note-3{
	top: 70%;
	width: 30%;
	z-index: 20;
}
.droppableblock{
	position: absolute;
	right: 20%;
	width: 35%;
	height: 20%;
	bottom: 24%;
	z-index: 5;
}
.hover-counter{
	/*background-color: green;*/
}
.drop_1>*{
	pointer-events: none;
}
.counter-text{
	position: absolute;
	right: 5%;
	width: 45%;
	height: 25%;
	top: 80%;
	display: flex;
	justify-content: space-around;;
	align-items: center;
}
.total-text{
	color: white;
}
.total-amount{
	font-family: Sniglet;
	color: #f13476;
	font-weight: bold;
}
.counter-item{
	cursor: pointer;
	position: absolute;
	width: 10%;
	right: 7%;
	bottom: 33%;
}
.counter-item>img{
	width: 100%;
}
.counter-item>label{
	display: none;
}
.counter-item:hover .price_tag{
	display: block!important;
}
.magneto_highlight{
	color: #FF0FFF;
}
.conclusion{
	position: absolute;
	bottom: 5%;
	left: 50%;
	padding: 0.5% 2%;
	width: auto;
	transform: translateX(-50%);
	background-color: #BC8D59;
	color: white;
	border-radius: 1vmin;
	text-align:center;
}
.conclusion-2{
	display: none;
	position: absolute;
	bottom: 1%;
	left: 50%;
	padding: 0.5% 2%;
	width: auto;
	transform: translateX(-50%);
	background-color: #BC8D59;
	color: white;
	border-radius: 1vmin;
	text-align:center;
}

.hidden-utb, .hidden-itb{
	display: none;
}
.hint-block-new {
	margin-top: 18%;
}
.hint-block-2 {
	margin-top: 0%!important;
	/* bottom: 7%; */
	bottom: 12%;
}
.answer-block-1{
	top: 20%;
}
.inputblock-1{
	top: 20%;
}
.answer-block-new{
	top: 2%;
	margin-bottom: 1%;
}
.equal-answer-block-new {
	left: 25%;
	top: -5%;
}

@media(min-aspect-ratio:4/3){
	.font-issue-1{
		font-size: 3vh!important;
	}
}
