.aligned_left{
	text-align: left;
	align-items: flex-start;
	width: 80%;
	top: 4%;
}
.coverpage{
	position: absolute;
	width: 102%;
	top: 0%;
	left: 0%;
}
.relativecls{
	position: relative;
	width:100%;
}
.lessoncls{
	z-index:2;
	font-size: 7.5vw;
	left: 148%;
}

.toptext,.toptext1{
	font-size: 3.2vw;
}

.summary_title{
	top: 5%;
	font-size: 6.5vw;
}

.summary_text2,.summary_text1{
	font-size: 2.5vw;
}

@media (min-aspect-ratio: 4/3){
	.lessoncls{
		font-size: 12vh;
	}
	.toptext,.toptext1,.summary_text2,.summary_text1{
		font-size: 4.5vh;
	}
	.summary_title{
		font-size: 8vh;
	}
	.conclusion-2{
		font-size: 4vh;
	}
}
