.board
{
	
	position: absolute!important;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;

}


.diy{
	width: 100%;

	margin: 5% auto;
}

.diy > figure{
	width: 35%;
	margin:auto;
	
}

.diy > figure > img{
	width: 100%;
	
}

.diy > figure > figcaption{
	
	font-size: 2.5em;
	color:#C98865;
	position: absolute;
	width: 90%;
	
	top:3%;
	left: 13%;

}

.diy > p{
	
	margin: 3% auto;
	font-size: 2em;
	text-align: center;
	width: 90%;
	padding: 2%;
}


.halfBox
{
	width: 100%;
	
	position: relative;
	
}
.divtextbox
{
	width: 82%;
	position: relative;
	display: inline-block;
	background:#0EA3F9;
	padding: 1%;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}
.diy2
{	position: relative;
	width: 15%;
	display: inline-block;
	
}

.diy2 > figure{
	width: 70%;
	margin:auto;
	position: relative;
}

.diy2 > figure > img{
	width: 100%;
	
}

.diy2 > figure > figcaption{
	
	font-size: 0.9em;
	color:#C98865;
	position: absolute;
	width: 90%;
	
	top:3%;
	left: 10%;

}

.backtg
{
	position: relative;
	width: 100%;
	
	margin: 1% auto;
	/*border:#000 1px solid;*/
	font-size: 1.2em;
	padding:1%;
}

.whatArrback
{
	margin: 2% auto;
	display: none;
}
.whatArrback:first-child
{
	display: block;
}/*
.whatArrback:nth-child(2)
{
	display: block;
}*/
.glyphicon-hand-right
{
	color: orange;
	margin-right: 1%;
}
.dashedLine
{

}
.dsLine
{
	color: #235C2B;
	background:#B0DBF3 ;
	padding:0.5% 2%;
}

.nonactive
{
	background:#92CBEB;
	padding:0.5% 1%;
	cursor: pointer;
}
.actives
{
	background:#649A3A;
	padding:0.5% 1%;
}

.wronged
{
	background:#ED1C24;
	padding:0.5% 1%;
}

.whatImgvalme
{
	position: absolute;
	width: 30%;
	right: 4%;
	bottom:2%;
	display: none;
}

.whatImgvalme img 
{
	width: 100%;
}

.whatpart
{
	display: none;
	position: absolute;
	font-size: 0.8em;
	color: #176CED;
	width: 30%;
}

#capsule
{
	top:-8%;
	left: -6%;
	text-align: right;
}
#cellwall
{
	top:3%;
	left: -6%;
	text-align: right;
}
#flagella
{
	bottom:19%;
	left: 93%;
	text-align: left;
}