.board{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
#wrapper3{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
#wrapper3 > img{
	width: 100%;
}

/****** activity css starts *****/
.headTitle
{	
	/*display: none;*/
	position: absolute;
	width: 22%;	
	margin: 1%;
	left: 2%;

}

.headTitle > figure{
	width: 100%;
	position: relative;
}

.headTitle > figure > img{
	width: 100%;
	
}

.headTitle > figure > figcaption{
	font-size: 1.6em;
	color:#C98865;
	position: absolute;
	width: 50%;
	top:50%;
	left: 30%;
	/*background: #aaa;*/

}

.definition
{
	/*display: none;*/
	position: absolute;
	top: 20%;
	left: 5%;
	padding:0.3%;
	text-align: left;
	font-size: 1.2em;
	width: 85%;

}
.definition > p:nth-of_type(1){
	position: absolute;
	left: 0;
}
.imagesList
{
	/*display: none;*/
	position: absolute;
	bottom: 12%;
	left: 0;
	width: 100%;
	cursor: pointer;
	/*background: #aaa;*/
	height: 30%;

}
.imagesList div img 
{
	width: 100%;

}

#img1
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 33%;
}


#img2
{
	display: none;
	position: absolute;
	top:0;
	left: 33.5%;
	width: 33%;
}

#img3
{
	display: none;
	position: absolute;
	top:0;
	right: 0;
	width: 33%;
}

.back1,
.back2,
.back3
{
	position: absolute;
	top: 0;
	width: 100%;
	height: 85%;
	background: black;
	/*border: 3px solid;*/
	display: none;
}

.figcaption {
position:relative;
bottom:130px;
left:0px;
visibility:hidden;
color: white;
opacity: 0;
}

.microbes:hover{
	opacity: 0.7;
}

#img1:hover .figcaption {
visibility:visible;
opacity: 1;
}

#img2:hover .figcaption {
visibility:visible;
opacity: 1;
}
#img3:hover .figcaption {
visibility:visible;
opacity: 1;
}
#info1, #info2, #info3{
	/*display: none;*/
	font-size: 0.9em;
	width: 85%;
	color: white;
}
#info1{
	position: absolute;
	top: 30%;
	left: 5%;
}
#info2{
	position: absolute;
	top: 30%;
	left: 5%;
}
#info3{
	position: absolute;
	top: 20%;
	left: 8%;
}

.parsedstring{
    color: #E12069 !important;
	font-size: 1.2em !important;
}
