.board
{
	position   : relative;
	width      : 100%;
	height     : 100%;
	text-align : center;
	font-size  : 1.3em;
	margin : 0 auto;
	top    : 0;
	/*color: white;*/
}
.heading
{
	font-size  : 1.7em;
	text-align : center;
	margin     : 1% auto;
	color      : yellow;
	position   : absolute;
	top        : -1%;
	left       : 43%;
	text-shadow:1px 1px 1px;
}

/****** activity css starts *****/
.splash_screen{
	position   : relative;
	width      : 100%;
	height     : 100%;
	text-align : center;
	/*padding  : 2%;*/
	margin     : 0% auto;
}

.cap{
	font-size : 0.7em;
}
#blck1
{
	position : absolute;
	top      : 25%;
	left     : 10%;
	width    : 35%;
	margin   : 0%;
	color    : white;
	font-size: 1.1em;
}
#blck2
{
	position : absolute;
	top      : 25%;
	right    : 10%;
	width    : 35%;
	margin   : 0% 1%;
	color: white;
	font-size: 1.1em;
}

#blck3
{
	position : absolute;
	bottom   : 25%;
	left     : 10%;
	width    : 30%;
	margin   : 0% 1%;
	color: white;
	font-size: 1.1em;
}

#blck4
{
	position : absolute;
	bottom   : 20%;
	right    : 10%;
	width    : 35%;
	margin   : 0% 1%;
	color: white;
	font-size: 1.1em;
}
#end{
	position  : absolute;
	/*display : none;*/
	bottom    : 2%;
	right     : 32%;
	font-size : 0.9em;
	font-style: italic;
	color     : white;
	/*text-shadow:1px 1px 1px;*/

}

#tabContainer{
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 10%;
	font-size: 1em;
	color: #FFFFFF;
	background: url("../images/page4/microbes_tabs.png");
}

#tabContainer > div{
	text-shadow : 0.5px 0.5px 0.5px;
}

#tab1{
	position : absolute;
	top      : 15%;
	left     : 4%;
	width    : 14%;
	margin   : 0;
	font-size: 0.8em;
}

#tab2{
	position      : absolute;
	top           : 15%;
	left          : 22%;
	font-size: 0.8em;
	width         : 18%;

}

#tab3{
	position      : absolute;
	top           : 15%;
	right         : 25%;
	font-size: 0.8em;
	width         : 35%;
}

#tab4{
	position      : absolute;
	top           : 15%;
	right         : 5%;
	font-size: 0.8em;
	width         : 26%;
}

.highlightborder{
	border: 3px solid #FFC211;
}

.def_part{
	display: none;
	position  : absolute;
	top       : 12%;
	width     : 60%;
	font-size : 0.9em;
	left      : -10%;
	padding   : 2%;
}
.image_part{
	display    : none;
	position   : absolute;
	top        : 25%;
	right      : 0;
	width      : 100%;
}

#caption_pop{
	display: none;
	position: absolute;
	top: 35%;
	right: 5%;
	width: 38%;
	font-style : italic;
	font-size  : 1em;
}
#click_me{
	position: absolute;
	margin-top: 22%;
	right: 15%;
	width: 5%;
	cursor: pointer;
}
#click_me2{
	position: absolute;
	display: none;
	margin-top: 3%;
	right: 44%;
	width: 5%;
	cursor: pointer;
}
#front{
	position: absolute;
	top: 0;
	right: 40%;
	width: 20%;
}
#middle{
	position: absolute;
	margin-top: 22%;
	right: 15%;
	 transition: right 0.5s ease-in;
    -webkit-transition: right 0.5s ease-in; /** Safari & Chrome **/
    -o-transition: right 0.5s ease-in; /** Opera **/
    -moz-transition: right 0.5s ease-in; /** Firefox **/
}
#back{
	position: absolute;
	top: 0%;
	right: 40%;
	width: 20%;
}
.popup_img{
	display: none;
	position : absolute;
	width      : 100%;
	height     : 100%;
	margin : 0 auto;
	top    : 0;
	background: black;
}
#popupparagraph{
	position: absolute;
    color: #fff;
	top: 2%;
	left: 0%;
	width: 100%;
	font-size: 1.3em;
}
#p2{
	position: absolute;
	top: 28%;
	left: 37%;
	width: 25%;
	border-radius: 50%;
	border: 3px solid #CCCCCC;
}

#f_p1{
	position  : absolute;
	top       : 15%;
	left      : 5%;
	font-size : 0.9em;
	width: 90%;
	display: none;
}
#spheres{
	position  : absolute;
	top       : 26%;
	left      : 10%;
	width     : 25%;
	border-radius: 8px;

	height: 65%;
	font-size : 0.9em;
	background: #EDF1F0;
	padding: 1%;
	box-shadow: 5px 5px 11px -4px rgba(214,211,214,1);
}
#rods{
	position  : absolute;
	top       : 26%;
	left      : 39%;
	width     : 25%;
	height: 65%;
	border-radius: 8px;

	font-size : 0.9em;
	background: #EDF1F0;
	padding: 1%;
	box-shadow: 5px 5px 11px -4px rgba(214,211,214,1);
}

#spirals{
	position  : absolute;
	top       : 26%;
	right     : 8%;
	width     : 25%;
	height: 65%;
	border-radius: 8px;
	font-size : 0.9em;
	background: #EDF1F0;
	padding: 1%;
	box-shadow: 5px 5px 11px -4px rgba(214,211,214,1);
}
#spheres,
#rods,
#spirals
{
	display: none;
}
#spirals>img{
	width: 75%;
}
#spheres>img,
#rods>img

{
	width: 50%;
	padding: 1%;
}

#s1{
	color:#63B301;
}
#r1{
	color:#F48120;
}
#sp1{
	color: #734BFB;
}

#click_p{
	display : none;
	position: absolute;
	top: 10%;
	right: 0;
	width: 34%;
	color: #000;
	font-size: 1em;
	text-align: left;
	background: #DDDDFF;
	padding: 2%;
	border-radius: 10px;
}

.greenImageval
{
	display        : none;
	position       : absolute;
	top            : 15%;
	left           : 0;
	width          : 100%;
	text-align     : center;
	height         : 100%;
	vertical-align : top;
}

#divVal{
	position: absolute;
	top: 0;
	left: 37%;
	font-size: 0.9em;
	text-shadow:1px 1px 1px;	;
	/*color: #A60F11;*/
}
#divVal2{
	position: absolute;
	top: 0%;
	right: 5%;
	font-size: 0.8em;
	color: #288938;
	/*font-style: italic;*/
}
.image_area{
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 90%;
	font-style: italic;
	color: #288938;
	font-size: 0.8em;
}


#banawat,
#capsule1,
#wall1,
#flagella1,
#pili1
{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 50%;

}
.neutral{
	opacity: 0.1;
}

#label1{
	position: absolute;
	top: 1%;
	left: 1%;
	width: 20%;
	font-style: italic;
	cursor: pointer;
	padding: 0.5%;
	background: #daf4bd;
	border-radius: 8px;
}
#label2{
	position: absolute;
	top: 11%;
	left: 0%;
	width: 25%;
	font-style: italic;
	cursor: pointer;
	padding: 0.5%;
	background: #daf4bd;
	border-radius: 8px;
}
#label3{
	position: absolute;
	top: 52%;
	right: 33%;
	width: 21%;
	font-style: italic;
	cursor: pointer;
	padding: 0.5%;
	background: #daf4bd;
	border-radius: 8px;
}
#label4{
	position: absolute;
	top: 65%;
	right: 28%;
	width: 28%;
	font-style: italic;
	cursor: pointer;
	padding: 0.5%;
	background: #daf4bd;
	border-radius: 8px;
}

.clickedlabel{
	background: #fff !important;
	color: #000;
}

/*==========================================
=            bacteria structure            =
==========================================*/

#bac_habi_def{
	/*display: none;*/
	position: absolute;
	top: 15%;
	left: 5%;
	width: 90%;
	font-size: 1em;
	text-align: left;
}

#habi1{
	position: absolute;
	left: -100%;
	margin-top: 0%;
	width: 56%;
	font-size: 0.9em;
	background: #FDDE8E;
	padding: 3%;
	transition: left 1s linear;
	-webkit-transition: left 1s linear;
	-moz-transition: left 1s linear;
}

#habi2{
	position: absolute;
	right: -100%;
	width: 56%;
	margin-top: 8%;
	background: #E0E1FF;
	padding: 2%;
	font-size: 0.9em;
	transition: right 1s linear;
	-webkit-transition: right 1s linear;
	-moz-transition: right 1s linear;
		transition-delay: 1s;
		-moz-transition-delay: 1s;
		-webkit-transition-delay: 1s;
}


.moveleft{
	left: -6% !important;
}
.moveright{
	right: -6% !important;
}
#habi3{
	position: absolute;
	left: -100%;
	width: 56%;
	margin-top: 19%;
	font-size: 0.9em;
	background: #D2F1AE;
	padding: 2%;
	transition: left 1s linear;
	-webkit-transition: left 1s linear;
	-moz-transition: left 1s linear;
			transition-delay: 2s;
		-moz-transition-delay: 2s;
		-webkit-transition-delay: 2s;
}

#habi4{
	position: absolute;
    right: -100%;
    width: 56%;
	font-size: 0.9em;
    margin-top: 30%;
    background: #BFF5E7;
    padding: 2%;
    transition: right 1s linear;
	-webkit-transition: right 1s linear;
	-moz-transition: right 1s linear;
				transition-delay: 2.5s;
		-moz-transition-delay: 2.5s;
		-webkit-transition-delay: 2.5s;
}
#wrapper{
	display: none;
	position: absolute;
	top: 15%;
	left: 5%;
	width: 100%;
	height: 80%;
	/*background: green;*/
}
.halfBox
{
	width: 100%;
	display: none;
	position: absolute;
	top: 12%;
	display: none;
}
.diy2
{
	/*display: none;*/
	position: absolute;
	width: 13%;
	margin: 1%;
	right: 2%;
}

.diy2 > figure{
	width: 100%;
	margin:auto;
	position: relative;
}

.diy2 > figure > img{
	width: 100%;

}

.diy2 > figure > figcaption{

	font-size: 0.67em;
	color:#C98865;
	position: absolute;
	width: 100%;
	top:3%;
	right: 0;

}

.backtg
{
	display: none;
	position: absolute;
	top: 10%;
	width: 100%;
	font-size: 1.2em;
	padding:1%;
}

.whatArrback
{
	position: relative;
	margin: 7%;
	text-align: left;
	font-size: 0.65em;
	display: none;
	width: 60%;
	height: 0;
}
.whatArrback:first-child
{
	display: block;
}
.glyphicon-hand-right
{
	color: orange;
	margin-right: 1%;
}
.dashedLine
{

}
.dsLine
{
	color: #235C2B;
	background:#B0DBF3 ;
	padding:0.5% 2%;
}

.nonactive
{
	background:#92CBEB;
	padding:0.5%;
	cursor: pointer;
}
.actives
{
	background:#649A3A;
	padding:0.5%;
}

.wronged
{
	background:#ED1C24;
	padding:0.5%;
}

.whatImgvalme
{
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 30%;
	display: none;
}

.whatImgvalme img
{
	width: 100%;
}
#bac_anim_2
{
	position: absolute;
	bottom: 0;
	right: 2%;
	width: 90%;
	display: none;
    transition: right 6s linear;
    -webkit-transition: right 6s linear; /** Safari & Chrome **/
    -o-transition: right 6s linear; /** Opera **/
    -moz-transition: right 6s linear; /** Firefox **/
}


.whatpart
{
	display: none;
	position: absolute;
	font-size: 0.8em;
	color: #176CED;
	width: 30%;
}

#capsule
{
	top:-8%;
	left: -6%;
	text-align: right;
}
#cellwall
{
	top:3%;
	left: -6%;
	text-align: right;
}
#flagella
{
	bottom:19%;
	left: 93%;
	text-align: left;
}


/*=====  End of bacteria structure  ======*/



/*========================================
=            bacteria habitat            =
========================================*/
#center_box{
	position: absolute;
	top: 12%;
	right: 0;
	width: 100%;
	height: 100%;
	/*background: #aaa;*/
}

#bubble{
	display: none;
	position: absolute;
	/*background: grey;*/
	text-align: center;
	top: 25%;
	left: 35%;
	width: 30%;
	height: 40%;
	z-index: 999;
}
#bac{
	position: absolute;
	top: 48%;
	left: 0%;
	width: 50%;
	display: none;
	z-index: 99;
}
#t_b{
	position: absolute;
	top: 0%;
	left: 30%;
	width: 90%;
	height: 65%;
	font-size: 3vmin;
}
#t_b > img{
	width: 100%;
}
#dialog{
	position: absolute;
	top:10%;
	left: 38%;
	width: 75%;
	/*background: #aaa;*/
	font-size: 0.8em;
}

.f_box{
	position: absolute;

}
.s_box{
	position: absolute;

}
.t_box{
	position: absolute;

}
#first_Box
{
	position: absolute;
	top: 2%;
	width: 100%;
	height: 100%;
	/*background: #aaa;*/
}

#second_Box,
#third_Box
{
	display: none;
	position: absolute;
	top: 2%;
	width: 100%;
	height: 100%;
	/*background: #aaa;*/
}

#fourth_box{
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 80%;
	display: none;
	font-size: 1.2em;
	/*background: #aaa;*/
	/*filter: blur(1px);*/

}

#fourth_box img{
	width: 30%;
	border-radius: 50%;
}

.alltogether1{
	opacity: 1;

}

.alltogether2{
	opacity: 1;

}

.alltogether3{
	opacity: 1;

}
.p_style{
	/*display: none;*/
	border-radius: 8px;
	background: white;
	opacity: 0.7;
	width: 80%;
	font-size: 0.9em;
	text-align: center;
}
#txt1,
#txt2,
#txt3,
#txt4
{
	width: 65%;
}

#txt1{
	position: absolute;
	top: 70%;
	left: 18%;
}
#txt2{
	position: absolute;
	top: 70%;
	right: 18%;
}

#txt3{
	position: absolute;
	bottom: 0;
	left: 18%;
}

#txt4{
	position: absolute;
	bottom: 0;
	right: 18%;
}
.hide_div{
	display: none;
}
#top1 > img,
#left1 > img,
#right1 > img,
#bottom1 > img,
#top2 > img,
#left2 > img,
#right2 > img,
#bottom2 > img,
#top3 > img,
#left3 > img,
#right3 > img,
#bottom3 > img
{
width: 70%;
border-radius: 50%;
}
#top1,
#left1,
#right1,
#bottom1,
#top2,
#left2,
#right2,
#bottom2,
#top3,
#left3,
#right3,
#bottom3

{
	display: none;
}
#top1,
#top2,
#top3
{
	position: absolute;
	top: 2%;
	left: 2%;
	width: 35%;
	/*background: #aaa;*/
}
#right1,
#right2,
#right3
{
	position: absolute;
	top: 2%;
	right: 0;
	width: 35%;
	/*background: #aaa;*/

}
#left1,
#left2,
#left3
{
	position: absolute;
	top: 47%;
	left: 2%;
	width: 35%;
	/*background: #aaa;*/

}
#bottom1,
#bottom2,
#bottom3
{
	position: absolute;
	top: 47%;
	right: 2%;
	width: 35%;
	/*background: #aaa;*/

}

/*=====  End of bacteria habitat  ======*/



/*=============================================
=            bacteria reproduction            =
=============================================*/

#repro_def{
	/*display: none;*/
	position: absolute;
	top: 12%;
	left: 2%;
	width: 95%;
	font-size: 0.89em;
	z-index: 10000;
}
ul li {
	padding: 2%;
    list-style-type: disc;
    margin-left: 1em; /* which should give space for the disc to show */
    list-style-position: inside; /* will put the disc inside of the li
                                    element, for debugging purposes */
}

#playbutton{
	display: none;
	position: absolute;
	top: 45%;
	left: 25%;
	width: 55%;
	height: 45%;
	/*background: #aaa;*/
	cursor: pointer;
}
#playbutton > img{
	width: 10%;
	position: relative;
	margin-top: 25%;
}

#repro_img{
	position: absolute;
	top: 45%;
	left: 20%;
	width: 60%;
	height: 50%;
	padding: 0;
	background: #ECF6FF;
	box-shadow:10px 10px 5px #D0D0FF;
}
#repro_img > img{
	top: -5%;
	width: 90%;
}
/*=====  End of bacteria reproduction  ======*/


/*====================================================
=            bacteria relation with human            =
====================================================*/

.bac_box_wrapper1{
	position: absolute;
	top: 22%;
	left: 0;
	width: 100%;
	height: 75%;
	/*background: #aaa;*/
}
.bac_box_w2{
	display: none;
	position: absolute;
	top: 22%;
	left: 0;
	width: 100%;
	height: 75%;
}

#repro_def > p:nth-of-type(2){
	text-align: left;
	/*width: 100% !important;*/
	text-align: center;
}

#bac_box1 > img,
#bac_box2 > img,
#bac_box3 > img,
#bac_box4 > img,
#bac_box5 > img,
#bac_box6 > img,
#bac_box7 > img,
#bac_box8 > img,
#bac_box9 > img,
#bac_box10 > img,
#bac_box11 > img,
#bac_box12 > img
{
	display: inline-block;
	width: 40%;
	left: 24%;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-moz-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.cssfadein{
    animation: show 1s linear 0.3s 1 forwards;
    -webkit-animation: show 1s linear 0.3s 1 forwards;
    -moz-animation: show 1s linear 0.3s 1 forwards;
}
.cssfadein2{
    animation: show 2s linear 2s 1 forwards;
    -webkit-animation: show 2s linear 2s 1 forwards;
    -moz-animation: show 2s linear 2s 1 forwards;
}

.hidediv{
	opacity: 0;
}

#bac_box1
{
	position: absolute;
	top: 13%;
	left: 5%;
	width: 45%;
	opacity: 0;
}
#bac_box2{
	position: absolute;
	top: 13%;
	right: 5%;
	width: 40%;
	opacity: 0;
}
#bac_box3{
	position: absolute;
	top: 13%;
	left: 5%;
	width: 40%;
	opacity: 0;
}
#bac_box4{
	position: absolute;
	top: 13%;
	right: 5%;
	width: 40%;
	opacity: 0;
}

#bac_box5{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 40%;
	opacity: 0;
}

#bac_box6
{
	position: absolute;
	top: 10%;
	right: 5%;
	width: 40%;
	opacity: 0;
}

#bac_box7
{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 40%;
	opacity: 0;
}
#bac_box8
{
	position: absolute;
	top: 10%;
	right: 5%;
	width: 40%;
	opacity: 0;
}

#bac_box9
{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 40%;
	opacity: 0;
}

#bac_box10
{
	position: absolute;
	top: 10%;
	right: 5%;
	width: 40%;
	opacity: 0;
}

#bac_box11
{
	position: absolute;
	top: 10%;
	left: 5%;
	width: 40%;
	opacity: 0;
}

#bac_box12
{
	position: absolute;
	top: 10%;
	right: 5%;
	width: 40%;
	opacity: 0;
}

.point1
{
	display: absolute;
	font-size: 0.8em;
	font-style: italic;
	width: 100%;
	top: 60%;
	text-align: center;

}

.point2
{
	/*font-style: bold;*/
	font-size: 1em;
	width: 100%;
	position: absolute;
	margin-top: 3%;
	/*display: none;*/
}

.plant{
	position: absolute;
	left: 0;
	top: 0;
}

.rabbit{
	position: absolute;
	top: 0;
	left: 35%;
}

.ocean{
	position: absolute;
	top: 0;
	right: 0;
}

.garbage{
	position: absolute;
	left: 0;
	bottom: 0%;
}

.lava{
	position: absolute;
	bottom: 0%;
	right: 0;

}

@media (min-aspect-ratio: 4/3){
	#label1, #label2, #label3, #label4{
		font-size: 3vh;
	}
}

@media (max-aspect-ratio: 4/3){
	#label1, #label2, #label3, #label4{
		font-size: 2vw;
	}
}
/*=====  End of bacteria relation with human  ======*/
