.board
{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0% auto;
	font-size: 1.3em;
}
.splash_screen{
	position   : relative;
	width      : 100%;
	height     : 100%;
	text-align : center;
	/*font-size  : 1.3em;*/
	/*padding  : 2%;*/
	margin     : 0% auto;
}
.headtitle
{
	position: absolute;
	top: -1%;
	left: 45%;
	font-size: 2em;
	text-align: center;
	margin: 1% auto;
	color: yellow;
	/*text-shadow:1px 1px 1px #aaa;*/
}
#tabContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	font-size: 1.1em;
	background: url("../images/page6/virus_tabs.png");
}

#tabContainer > div{
	color: white;

}

#tab1{
	position: absolute;
	top: 16%;
	left: 10%;
	width: 10%;
	font-size: 0.8em;
}
#tab2{
	position: absolute;
	top: 16%;
	left: 28%;
	font-size: 0.8em;
	width: 15%;
}

#tab3{
	position: absolute;
	top: 16%;
	right: 38%;
	font-size: 0.8em;
	width: 15%;
}

#tab4{
	position: absolute;
	top: 16%;
	right: 5%;
	font-size: 0.8em;
	width: 26%;
}

/*=======================================
=            virus structure            =
=======================================*/
.divtextbox{
	position: absolute;
	top: 14%;
	left: 0px;
	width: 86%;
}
.definition_text{
	position: absolute;
	top: 15%;
	left: 0%;
	width: 100%;
	font-size: 1.1em;
}

.definition_text2{
	position: absolute;
	top: 25%;
	left: 5%;
	text-align: left;
	width: 100%;
	font-size: 0.9em;
	z-index: 9999;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-moz-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.cssfadein{
    animation: show 1s linear 0.3s 1 forwards;
    -webkit-animation: show 1s linear 0.3s 1 forwards;
    -moz-animation: show 1s linear 0.3s 1 forwards;
}

.cssfadein2{
    animation: show 1s linear 2.5s 1 forwards;
    -webkit-animation: show 1s linear 2.5s 1 forwards;
    -moz-animation: show 1s linear 2.5s 1 forwards;
}

#habi1{
	position: absolute;
	left: 0%;
	margin-top: 0%;
	width: 50%;
	font-size: 0.9em;
	background: #FDDE8E;
	padding: 1%;
	opacity: 0;
}

#habi2{
	position: absolute;
	right: 0%;
	width: 50%;
	margin-top: 8%;
	background: #E0E1FF;
	padding: 2%;
	opacity: 0;
	font-size: 0.9em;
}

#habi3{
	position: absolute;
	left: 0%;
	width: 50%;
	margin-top: 16%;
	font-size: 0.9em;
	background: #BFF5E7;
	opacity: 0;
	padding: 2%;
}

#habi4{
	position: absolute;
    right: 0%;
    width: 50%;
	font-size: 0.9em;
    margin-top: 25%;
    background: #E1FDEF;
	opacity: 0;
    padding: 2%;
}

#habi5{
	position: absolute;
    left: 0%;
    width: 50%;
    margin-top: 36%;
    font-size: 0.9em;
    background: #D2F1AE;
	opacity: 0;
    padding: 1.5%;
}
#end{
	position: absolute;
	/*display: none;*/
	bottom: 2%;
	right: 30%;
	font-size: 0.9em;
	color: white;
	font-style: italic;
	/*text-shadow:1px 1px 1px;*/

}

.divBox{
	padding: 2%;/*border-radius: 8px;*/
/*	box-shadow: 2px 2px 2px 2px #C6C6C6;*/
}

.cap{
	font-size: 0.7em;
}
#blck1,
#blck2,
#blck3,
#blck4{
	color: white;
	font-size: 1.2em;
}
#blck1
{
	position: absolute;
	top: 20%;
	left: 10%;
	width: 35%;
	margin: 0%;
}
#blck2
{
	position: absolute;
	top: 20%;
	right: 10%;
	width: 35%;
	margin: 0%;
}

#blck3
{
	position: absolute;
	bottom: 25%;
	left: 10%;
	width: 35%;
	margin: 0%;
}

#blck4
{
	position: absolute;
	bottom: 20%;
	right: 10%;
	width: 35%;
	margin: 0%;
}
.div_Points {
    /* display: none; */
    position: absolute;
    top: 23%;
    left: 0;
    width: 64%;
    text-align: left;
    font-size: 0.7em;
}
.p1,
.p2,
.p3,
.p4,
.p5,
.p6
{
	display: none;
	font-size: 1.2em;
}

#img {
    position: absolute;
    top: 37%;
    right: 12%;
    width: 24%;
}

#img img {
    width: 123%;
}
ul li {
	padding: 1%;
	list-style-type: disc;
	margin-left: 1em;
	list-style-position: inside;
	text-align: left;
	padding: 1.5%;
}

.struct_wrapper{
	display: none;
}
.ending_text{
	display: none;
	position  : absolute;
	left      : 0%;
	top    : 15%;
	width     : 60%;
	font-size : 1em;
}

#sub_heading{
	position: absolute;
	top: 25%;
	left: 10%;

}
.img_definition{
	position: absolute;
	margin-top: 2%;
	right: 0px;
	padding: 2%;
	width: 35%;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	opacity: 0;
	background: #D1F2AE none repeat scroll 0% 0%;
}


.para_img{
	position: absolute;
	left: 0;
	margin-top: 20%;
	width: 100%;
}

.imglable{
	position: absolute;
	left: 0;
	margin-top: 0%;
	width: 50%;
}

.one{
	position: absolute;
	width: 20%;
	left: 7%;
	margin-top: 6%;
	background: #9797E1;
	color: white;
	cursor: pointer;
	font-size: 0.8em;
	z-index: 9999;
	padding: 1%;
	border-radius: 8px;
}

.clickedlabel{
	background: white !important;
	color: #000 !important;
}

.two{
	position: absolute;
	width: 23%;
	left: 93%;
	margin-top: 12%;
	background: #9797E1;
	cursor: pointer;
	color: white;
	/*opacity: 0;*/
	z-index: 9999;
	font-size: 0.8em;
	border-radius: 8px;
	padding: 1%;
}

.three{
	position: absolute;
	width: 23%;
	left: 93%;
	margin-top: 1%;
	padding: 1%;
	background: #9797E1;
	color: white;
	/*opacity: 0;*/
	cursor: pointer;
	z-index: 9999;
	border-radius: 8px;
	font-size: 0.8em;
}

.four{
	position: absolute;
	width: 20%;
	left: 7%;
	margin-top: 25%;
	background: #9797E1;
	color: white;
	/*opacity: 0;*/
	z-index: 9999;
	font-size: 0.8em;
	border-radius: 8px;
	cursor: pointer;
	padding: 1%;
}

.five{
	position: absolute;
	width: 23%;
	left: 5%;
	margin-top: 38%;
	background: #9797E1;
	/*opacity: 0;*/
	color: white;
	font-size: 0.8em;
	z-index: 9999;
	padding: 1%;
	border-radius: 8px;
	cursor: pointer;
}
.six{
	position: absolute;
	width: 20%;
	left: 93%;
	margin-top: 49%;
	background: #9797E1;
	/*opacity: 0;*/
	cursor: pointer;
	color: white;
	border-radius: 8px;
	z-index: 9999;
	font-size: 0.8em;
	padding: 1%;
}

.seven{
	position: absolute;
	width: 23%;
	padding: 1%;
	left: 5%;
	margin-top: 62%;
	background: #9797E1;
	/*opacity: 0;*/
	color: white;
	z-index: 9999;
	font-size: 0.8em;
	border-radius: 8px;
	cursor: pointer;
}
.img1{
	position: absolute;
	width: 30%;
	top: 0%;
	left: 15%;
}


.
/*=================================
=            virus diy            =
=================================*/

.halfBox
{
	width: 100%;
	position: absolute;
	top: 10%;
	/*display: none;*/
}
.diy2
{
	position: absolute;
	width: 15%;
	right: 0px;
	margin-top: 8%;
}

.diy2 > figure{
	width: 70%;
	margin:auto;
	position: relative;
}

.diy2 > figure > img{
	width: 100%;

}

.diy2 > figure > figcaption{
	font-size: 0.6em;
	color:#C98865;
	position: absolute;
	width: 90%;
	top:3%;
	left: 10%;

}

.backtg
{
	/*display: none;*/
	position: absolute;
	top: 10%;
	width: 100%;
	font-size: 1.1em;
	padding:1%;
}

.whatArrback
{
	position: relative;
	margin: 7%;
	text-align: left;
	font-size: 0.7em;
	display: none;
	width: 60%;
	height: 0;
	padding: 1%;
}
.whatArrback:first-child
{
	display: block;
}
.glyphicon-hand-right
{
	color: #33A0B4;
	margin-right: 1%;
}
.dashedLine
{

}
.dsLine
{
	color: #235C2B;
	background:#B0DBF3 ;
	padding:0.5% 2%;
}

.nonactive
{
	background:#92CBEB;
	padding:0.5%;
	cursor: pointer;
}
.actives
{
	background:#649A3A;
	padding:0.5%;
}

.wronged
{
	background:#ED1C24;
	padding:0.5%;
}

.whatImgvalme
{
	position: absolute;
	width: 30%;
	right: 4%;
	bottom:2%;
	display: none;
}

.whatImgvalme img
{
	width: 85%;
}

.whatpart
{
	display: none;
	position: absolute;
	font-size: 0.8em;
	color: #176CED;
	width: 30%;
}

/*=====  End of virus diy  ======*/

/*=====  End of virus structure  ======*/


/*=====================================
=            virus habitat            =
=====================================*/

.middle_text{
	display  : none;
	position : absolute;
	top      : 13%;
	left     : 3%;
	width    : 95%;
	height: 83%;
	font-size: 1.1em;

}
#bullet_Points{
	position    : absolute;
	top: 12%;
	left : 0;
	width       : 100%;
	text-align  : left;
}
#bullet_Points > p{
	position: absolute;
	top: 30%;
	left: 0;
	font-size: 0.7em;
}

@keyframes virusshow{
    to{
		opacity: 1;
        top: 25%;
    }
}

@-webkit-keyframes virusshow{
    to{
		opacity: 1;
        top: 25%;
    }
}

@-moz-keyframes virusshow{
    to{
		opacity: 1;
        top: 25%;
    }
}

.virusshowanim{
    animation: virusshow 1s linear 0.3s 1 forwards;
    -webkit-animation: virusshow 1s linear 0.3s 1 forwards;
    -moz-animation: virusshow 1s linear 0.3s 1 forwards;
}

.virusshowanim2{
    animation: virusshow 1s linear 2.5s 1 forwards;
    -webkit-animation: virusshow 1s linear 2.5s 1 forwards;
    -moz-animation: virusshow 1s linear 2.5s 1 forwards;
}

#cuties1{
	/*display: none;*/
	position: absolute;
	top: 45%;
	left: 8%;
	opacity: 0;
	width: 6%;
}

#cuties2{
	/*display: none;*/
	position: absolute;
	top: 45%;
	left: 33%;
	width: 6%;
	opacity: 0;
}

#cuties3{
	/*display: none;*/
	position: absolute;
	top: 45%;
	left: 58%;
	width: 6%;
	opacity: 0;
}

#cuties4{
	/*display: none;*/
	position: absolute;
	top: 45%;
	right:8%;
	width: 6%;
	opacity: 0;
}

#hand,
#girl,
#food,
#bee,
.hand,
.girl,
.bee,
.food
{
	opacity: 0;
	font-size: 0.9em;
	font-style: italic;
}

.hand{
	position: absolute;
	left: 50%;
	margin-top: 8%;
}

.food{
	position: absolute;
	left: 23%;
	margin-top: 8%;
}

.girl{
	position: absolute;
	left: 0%;
	margin-top: 8%;
}

.bee{
	position: absolute;
	right: 0%;
	margin-top: 8%;
}
#hand{
	position: absolute;
	margin-top: 25%;
	left: 50%;
	width: 18%;
}

#food{
	position: absolute;
	margin-top: 25%;
	left: 25%;
	width: 20%;
}
#girl{
	position: absolute;
	margin-top: 25%;
	left: 0%;
	width: 20%;
}

#bee{
	position: absolute;
	margin-top: 25%;
	right: 0%;
	width: 20%;
}

.images_div{
	/*display  : none;*/
	position: absolute;
	width: 100%;
	top: 20%;
	left: 0px;

}
.images_div > img{
	width : 25%;
}
/*=====  End of virus habitat  ======*/



/*==========================================
=            virus reproduction            =
==========================================*/
.virus_info1, .virus_info2, .virus_info3, .virus_info4, .virus_info5{
	position: absolute;
	top: 70%;
	left: 0%;
	width: 100%;
	font-size: 1.3em;
	background: #D1F2AE;
	padding: 1%;
}

#cycle1,#cycle2, #cycle3, #cycle4{
	position: absolute;
	top: 25%;
	left: 40%;
	width: 22%;
}

#cycle5{
	position: absolute;
	top: 5%;
	margin-left: -15%;
	width: 28%;
}


#cycle1,#cycle2,#cycle3,#cycle4,#cycle5,
.virus_info1,.virus_info2,.virus_info3, .virus_info4, .virus_info5{
	display: none;
}
#repro_img{
	position     : absolute;
	top          : 25%;
	left         : 2%;
	width        : 95%;
	height       : 70%;
	font-size: 0.7em;
	font-style: italic;
	/*background : #AAA;*/
}
.repro_cycle1{
	position : absolute;
	top      : 2%!important;
	left     : 45%!important;
}

.repro_cycle2{
	position : absolute;
	top      : 45%!important;
	right    : 1%!important;
}

.repro_cycle3{
	position : absolute;
	top   : 70%!important;
	left    : 40%!important;
}

.repro_cycle4{
	position : absolute;
	top      : 20%!important;
	left     : 5%!important;
}

.arrow1{
	position : absolute;
	top      : 10%!important;
	right    : 20%!important;
	width    : 15%!important;
}
.arrow2{
	position : absolute;
	top   : 77%!important;
	right    : 15%!important;
	width    : 20%!important;
}
.arrow3{
	position : absolute;
	top   : 70%!important;
	left     : 20%!important;
	width    : 12%!important;
}
.arrow4{
	position : absolute;
	top      : 5%!important;
	left     : 23%!important;
	width    : 13%!important;
}

/*=====  End of virus reproduction  ======*/


/*===============================================
=            relationship with human            =
===============================================*/

.def{
	position  : absolute;
	top       : 15%;
	left      : 5%;
	width     : 90%;
	font-size : 0.9em;

}
.bac_box_wrapper1{
	display  : none;
	position : absolute;
	top      : 22%;
	left     : 0;
	width    : 100%;
	height   : 75%;
}
#bac_box_w2, #bac_box_w3, #bac_box_w4, #bac_box_w5, #bac_box_w6, #bac_box_w7, #virus_image, #bac_box_w10{
	display      : none;
	position     : absolute;
	top          : 15%;
	left         : 0;
	width        : 100%;
	height       : 75%;
	/*background : #aaa;*/
}
#bac_box_w8{
	position     : absolute;
	top          : 15%;
	left         : 0;
	width        : 100%;
	height       : 75%;
	/*background : #aaa;*/
}

#if1{
	position  : absolute;
	top       : 0;
	left      : 5%;
	width     : 90%;
	font-size : 0.8em;
	opacity: 0;
}

#if2{
	position  : absolute;
	top       : 10%;
	left      : 5%;
	width     : 90%;
	font-size : 0.8em;
		opacity: 0;
}

.Images{
	opacity: 0;
}

#caption1{
	position  : absolute;
	top       : 37%;
	left      : 18%;
	width     : 9%;
	font-size : 0.8em;
	color: #fff;
	font-weight: bold;
}

#caption2{
	position  : absolute;
	top       : 38%;
	right      : 22%;
	color: #fff;
	font-weight: bold;
	width     : 7%;
	font-size : 0.8em;
}
.point1,
.point2{
	display    : inline-block;
	font-size  : 1em;
	font-style : italic;
	/*text-align: left;*/
}

#bac_box1,
#bac_box2,
#bac_box3,
#bac_box4,
#bac_box5,
#bac_box6
	{
	display: none;
}
#bac_box1 > img,
#bac_box2 > img,
#bac_box3 > img,
#bac_box4 > img,
#bac_box5 > img,
#bac_box6 > img
{
	display : inline-block;
	width   : 25%;
}
#bac_box1{
	position : absolute;
	top      : 0%;
	left     : 2%;
	width    : 45%;
}

#bac_box2
{
	position : absolute;
	top      : 0%;
	right    : 2%;
	width    : 45%;
}
#bac_box3
{
	position: absolute;
	top: 0px;
	left: 3%;
	width: 45%;
}
#bac_box4
{
	position : absolute;
	top   : 0;
	right: 2%;
	width    : 45%;
}
#bac_box5 {
    position: absolute;
    top: 9%;
    left: 25%;
    width: 35%;
    transform: translate(-50%);
}

#bac_box6 {
    position: absolute;
    top: 9%;
    left: 75%;
    width: 35%;
    transform: translate(-50%);
}
#wash{
	position : absolute;
	top      : 30%;
	width: 20%;
	left     : 10%;
}
#family{
	position: absolute;
	bottom: 0%;
	left: 30%;
	width: 40%;
}

#cover{
	position : absolute;
	top      : 30%;
	right    : 12%;
	width: 20%;
}

#bac_anim_2{
	position: absolute;
	bottom: 0;
	right: 2%;
	width: 90%;
	display: none;
    transition: right 8s linear;
    -webkit-transition: right 8s linear; /** Safari & Chrome **/
    -o-transition: right 8s linear; /** Opera **/
    -moz-transition: right 8s linear; /** Firefox **/
}

.highlightborder {
    background: #FFC211;
}
/*=====  End of relationship with human  ======*/

/* Regan added CSS later for Corona Virus */

.div_handwash, .div_handwash_b {
    position: absolute;
    height: 70%;
    width: 30%;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 20%;
}

#imgdiv2{
	left: 50%;
}

#imgdiv3{
	left: 80%;
}
#imgdiv2_a{
	left: 75%;
}
#caption_wash {
    padding: 9%;
    font-size: 1.7vw;
}

#title_wash, .top_title_texto {
    position: absolute;
    width: 100%;
    font-size: 4vmin;
	top: 0;
	font-family: sniglet;
}
#img_main_left {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%,-50%);
    width: 35%;
}

#img_main_right {
    position: absolute;
    left: 74%;
    top: 58%;
    transform: translate(-50%,-50%);
    width: 46%;
}

.ul_css{
	position:absolute;
	top: 15%;
	font-size: 1.7vw;
	width: 100%;
	text-align: left;
}

img.virus_head {
    position: absolute;
    width: 40%;
    transform: translate(-50%);
    left: 50%;
    top: 15%;
}

img#img_wash {
    width: 65%;
}

#soap_text1 {
    position: absolute;
    font-size: 1.5vw;
    top: 25%;
    left: 75%;
    transform: translateX(-50%);
    width: 40%;
}

#fullbg_soapp {
    position: absolute;
    width: 100%;
    height: 112%;
    left: 0;
    top: 2%;
}
#text_soap_1,
#text_soap_2,
#text_soap_3,
#text_soap_4,
#text_soap_5,
#text_soap_6,
#text_soap_7,
#text_soap_8,
#text_soap_9,
#text_soap_10
 {
    position: absolute;
    color: black;
    font-size: 1.1vw;
	transform: translate(-50%,-50%);
}
#text_soap_1 {
    width: 35%;
    left: 20%;
    top: 12%;
    font-size: 1.3vw;
    color: white;
    background: #346691;
    font-family: sniglet;
    padding: .2%;
}
#text_soap_2 {
    width: 30%;
    left: 33%;
    top: 25.6%;
}

#text_soap_3 {
    left: 31%;
    top: 43%;
    width: 30%;
}

#text_soap_4 {
    top: 61%;
    width: 30%;
    left: 19%;
    font-size: 1.3vw;
    color: white;
    background: #346691;
    font-family: sniglet;
    padding: .2%;
}
#text_soap_5 {
    left: 75%;
    width: 40%;
    top: 12.4%;
    font-size: 1.3vw;
    color: white;
    background: #346691;
    font-family: sniglet;
    padding: .2%;
}

p#text_soap_6 {
    width: 20%;
    left: 80%;
    top: 24%;
    font-size: 1vw;
    text-align: left;
}
p#text_soap_7 {
    width: 30%;
    left: 86.5%;
    text-align: left;
    top: 33%;
    font-size: 1vw;
}

p#text_soap_8 {
    top: 62%;
    width: 40%;
    left: 75%;
    font-size: 1.3vw;
    color: white;
    background: #346691;
    font-family: sniglet;
    padding: .2%;
}

p#text_soap_9 {
    left: 90%;
    top: 73%;
    width: 20%;
}

p#text_soap_10 {
    width: 15%;
    left: 15%;
    top: 38%;
    font-size: 1vw;
}

p#title_soap {
    position: absolute;
    font-family: sniglet;
    width: 100%;
    background: #2b8cbc;
    color: white;
    top: -7%;
    padding: .4%;
}

img.center_image {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 31%;
}

p.capsid_text_class {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 4.5vmin;
    font-family: sniglet;
    top: 19%;
    left: 0;
}

#capsid{
	display: none;
}
p#right_text {
    position: absolute;
    width: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    top: 25%;
    font-family: sniglet;
}

.virus_1_text,.virus_2_text,.virus_3_text {
    position: absolute;
    font-family: sniglet;
    font-size: 1.3vw;
    width: 40%;
    top: 6%;
    left: 100%;
}

p.virus_3_text {
    top: 77%;
}

p.virus_2_text {
    top: 57%;
    left: 96%;
}

p.capsid_virus_1_text {
    position: absolute;
    font-family: sniglet;
    font-size: 1.6vw;
    top: 83%;
    left: 25%;
    transform: translateX(-50%);
}


p.capsid_virus_2_text {
    position: absolute;
    font-family: sniglet;
    font-size: 1.6vw;
    top: 83%;
    left: 45%;
    transform: translateX(-50%);
}

p.capsid_virus_3_text {
    position: absolute;
    font-family: sniglet;
    font-size: 1.6vw;
    top: 83%;
    left: 70%;
    transform: translateX(-50%);
}

p#left_mol_1, p#left_mol_2, p#left_mol_3 {
    position: absolute;
    font-size: 1.7vw;
    font-family: sniglet;
    width: 40%;
	left: 10%;
	display: none;
	top: 27%;
	text-align: left;
}
p#left_mol_2{
	top: 43%;
}
p#left_mol_3 {
    top: 67%;
}