
.heading
{
	position: absolute;
	top: -1%;
	left: 45%;
	font-size: 2em;
	text-align: center;
	margin: 1% auto;
	color: yellow;
	/*text-shadow:1px 1px 1px;*/
}

.board
{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.3em;
	/*padding: 2%;*/
	margin: 0% auto;

}
.splash_screen{
	position   : relative;
	width      : 100%;
	height     : 100%;
	text-align : center;
	/*font-size  : 1.3em;*/
	/*padding  : 2%;*/
	margin     : 0% auto;
}
#blck1,
#blck2,
#blck3,
#blck4{
	color: white;
	font-size: 1.2em;
}
.cap{
	font-size: 0.7em;
}
#blck1
{
	position: absolute;
	top: 25%;
	left: 10%;
	width: 35%;
	margin: 0%;
}
#blck2
{
	position: absolute;
	top: 25%;
	right: 8%;
	width: 35%;
	margin: 0% 1%;
}

#blck3
{
	position: absolute;
	bottom: 25%;
	left: 15%;
	width: 25%;
	margin: 0% 1%;
}

#blck4
{
	position: absolute;
	bottom: 20%;
	right: 15%;
	width: 25%;
	margin: 0% 1%;
}
#end{
	position: absolute;
	/*display: none;*/
	bottom: 5%;
	right: 25%;
	font-size: 1em;
	color     : #0088AF;
	/*text-shadow:1px 1px 1px;*/
}

/****** activity css starts *****/

#tabContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background: url("../images/page8/fungi_tabs.png");

}

#tabContainer > div{
	text-shadow: 0px 1px 1px #aaa;
	color: #E6E6E6;
}

#tab1{
	position: absolute;
	top: 17%;
	left: 10%;
	width: 10%;
	font-size: 0.9em;
}

#tab2{
	position: absolute;
	top: 17%;
	left: 26%;
	font-size: 0.9em;
	width: 15%;
}

#tab3{
	position: absolute;
	top: 17%;
	font-size: 0.9em;
	right: 38%;
	width: 15%;
}

#tab4{
	position: absolute;
	top: 17%;
	right: 6%;
	font-size: 0.9em;
	width: 26%;
}

/*structure*/
ul li {
	padding: 2%;
    list-style-type: disc;
    margin-left: 1em; /* which should give space for the disc to show */
    list-style-position: inside; /* will put the disc inside of the li
                                    element, for debugging purposes */
}
.def_part{
	display: none;
	position: absolute;
	top: 15%;
	width: 90%;
	font-size: 1em;
	text-align: left;
	left: 0%;
	color: #fff;
	background: #553F15;
	opacity: 0.9;
}
.def_part li{
	display: none;
}
.greenImageval
{
	display: none;
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	text-align: center;
	height:100%;
	vertical-align: top;
}

#divVal{
	position: absolute;
	top: 0;
	left: 20%;
}
.image_area{
	position: absolute;
	top: 10%;
	left: 0;
	width: 100%;
	height: 90%;
	font-style: italic;
	color: #288938;
	font-size: 0.8em;
	cursor: pointer;
}

.halfBox
{
	width: 100%;
	display: none;
	position: absolute;
	top: 10%;
	display: none;
}
.diy2
{
	/*display: none;*/
	position: absolute;
	width: 15%;
	margin: 0;
}

.diy2 > figure{
	width: 50%;
	margin:auto;
	position: relative;
}

.diy2 > figure > img{
	width: 100%;

}

.diy2 > figure > figcaption{

	font-size: 0.5em;
	color:#C98865;
	position: absolute;
	width: 90%;

	top:3%;
	left: 10%;

}

.backtg
{
	display: none;
	position: absolute;
	top: 10%;
	width: 100%;
	font-size: 1.1em;
	padding:1%;
}

.whatArrback
{
	position: relative;
	margin: 7%;
	text-align: left;
	font-size: 0.8em;
	display: none;
	width: 60%;
	height: 0;
}
.whatArrback:first-child
{
	display: block;
}
.glyphicon-hand-right
{
	color: orange;
	margin-right: 1%;
}
.dashedLine
{

}
.dsLine
{
	color: #235C2B;
	background:#B0DBF3 ;
	padding:0.5% 2%;
}

.nonactive
{
	background:#92CBEB;
	padding:0.5%;
	cursor: pointer;
}
.actives
{
	background:#649A3A;
	padding:0.5%;
}

.wronged
{
	background:#ED1C24;
	padding:0.5%;
}

.whatImgvalme
{
	position: absolute;
	width: 30%;
	right: 4%;
	bottom:2%;
	display: none;
}

.whatImgvalme img
{
	width: 100%;
}

.whatpart
{
	display: none;
	position: absolute;
	font-size: 0.8em;
	color: #176CED;
	width: 30%;
}

#capsule
{
	top:-8%;
	left: -6%;
	text-align: right;
}
#cellwall
{
	top:3%;
	left: -6%;
	text-align: right;
}
#flagella
{
	bottom:19%;
	left: 93%;
	text-align: left;
}
#banawat,
#capsule1,
#wall1,
#flagella1,
#pili1
{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 50%;
}
#capsule1,
#wall1,
#flagella1,
#pili1{
	display: none;
}

/*habitat*/
#bac_def{
	display: none;
	position: absolute;
	top: 15%;
	left: 5%;
	width: 90%;
	font-size: 0.7em;
}
#second_tab{
	position: absolute;
	top: 10%;
	width: 100%;
	font-size: 1em;
	right: 5%;
	text-align: left;
}

.sec_para1{
	position: absolute;
	margin-top: 3%;
	width: 40%;
	opacity: 0;
	right: 0;
}

.sec_para2{
	position: absolute;
	margin-top: 30%;
	width: 40%;
	opacity: 0;
	right: 0;
}

.sec_para3{
	position: absolute;
	margin-top: 3%;
	width: 40%;
	opacity: 0;
	right: 0;
}

.sec_para4{
	position: absolute;
	margin-top: 30%;
	width: 40%;
	opacity: 0;
	right: 0;

}


#onwater{
	position: absolute;
	top: 0;
	left: 0%;
	opacity: 0;
	width: 85%;
}

#onplant{
	position: absolute;
	margin-top: 56%;
	left: 0%;
	opacity: 0;
	width: 85%;
}
#onearth{
	position: absolute;
	margin-top: 43%;
	left: 0%;
	opacity: 0;
	width: 85%;
}
#onbread{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
}
.image_part{
	position: absolute;
	width: 55%;
	top: 0;
	left: 0
}

#fungi_anim{
	display: none;
	position: absolute;
	top: 20%;
	left: 40%;
	width: 15%;
}

#wrapper{
	display: none;
	position: absolute;
	top: 15%;
	left: 5%;
	width: 100%;
	height: 80%;
	/*background: green;*/
}
#center_box{
	position: absolute;
	top: 30%;
	right: 25%;
	width: 30%;
	height: 10%;
	/*background: red;*/
}
#bac{
	display:inline-block;
}
#bubble{
	position: absolute;
	/*background: grey;*/
	text-align: center;
	bottom: -50%;
	right: -50%;
	width: 90%;
}
#bubble>img{
	width: 100%;
}
#bubble > p{
	position: absolute;
	top: 15%;
	left: 10%;
	width: 80%;
	font-size: 0.7em;
}
#first_box,
#second_box,
#third_box{
	display: none;
}
.image_box{
	position: absolute;
	top: 0;
	left: 5%;
	width: 40%;
	height: 75%;
	border: 1px solid #aaa;
}
.image_box > img{
	display: block;
	width: 50%;
	height: 50%;
}

.first_box{
	position: absolute;
	top: 0;
	left: 5%;
	width: 20%;
	height: 35%;
	border: 1px solid #aaa;
}
.second_box{
	position: absolute;
	top: 0;
	left: 35%;
	width: 20%;
	height: 35%;
	border: 1px solid #aaa;
}
.third_box{
	position: absolute;
	top: 50%;
	left: 20%;
	width: 20%;
	height: 35%;
	border: 1px solid #aaa;
}
.top{
	position: absolute;
	top: 0;
	left: 0
}
.right{
	position: absolute;
	top: 0;
	right: 0;
}
.left{
	position: absolute;
	bottom: 0;
	left: 0;
}
.bottom{
	position: absolute;
	bottom: 0;
	right: 0;
}
#living{
	display: none;
	position: absolute;
	top: 0;
	right: 5%;
	/*border: 2px solid;*/
}
#living > img{
	width: 75%;
	border: 2px solid #aaa;
	border-radius: 50%;
}

#nonLiving{
	display: none;
	position: absolute;
	bottom: 0;
	right: 5%;
	/*border: 2px solid;*/
}
#nonLiving > img{
	width: 75%;
	border: 2px solid #aaa;
	border-radius: 50%;
}

/*reproduction*/

#repro_def{
	/*display: none;*/
	position: absolute;
	top: 12%;
	left: 5%;
	width: 90%;
	font-size: 1.3em;
}

#repro_img>img{
	width: 52%;
}
.label1{
	position: absolute;
	top: 12%;
	left: 0%;
	width: 40%;
	font-style: italic;
	/*font-size: 0.8em;*/
	display: none;
	color: #A06030;
}
.label2{
	position: relative;
	margin: 2%;
	/*font-size: 0.7em;*/
}

#repro_img{
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}

/*relationship with humans*/
#repro_def{
	font-size: 0.9em;
	width: 100%;
	left: 0;
	position: absolute;
	top: -10%;
}
.bac_box_wrapper1{
	position: absolute;
	top: 22%;
	left: 0;
	width: 100%;
	height: 75%;
	/*background: #aaa;*/
}
#i1{
	position: absolute;
	bottom: 0%;
	display: none;
	left: 25%;
	width: 15%;
	color: #339966;
}
#i2{
	position: absolute;
	bottom: 0%;
	display: none;
	right: 25%;
	width: 10%;
	color: #FF595B;
}
.poisonous > span{
	position: absolute;
	bottom: 10%;
}
.bac_box_w2{
	position: absolute;
	top: 10%;
	left: 0px;
	width: 100%;
	height: 90%;
}
.edible{
	position: absolute;
	left: 8%;
	top: 10%;
	padding: 0%;
	width: 40%;
	border: 2px solid #339966;
	border-radius: 50%;
	display: none;
	box-shadow: 10px 10px 5px -6px rgba(219,219,219,1);
}
.poisonous{
	position: absolute;
	right: 8%;
	top: 10%;
	width: 40%;
	border: 2px solid #FF595B;
	display: none;
	border-radius: 50%;
	box-shadow: 10px 10px 5px -6px rgba(219,219,219,1);
}

.bac_box_wrapper3{
	position: absolute;
	top: 10%;
	left: 0px;
	width: 100%;
	display: none;
	height: 90%;
	/*background: #aaa;*/
}
.medicine_box,
.wine_box,
.fruit_box{
	display: none;
}
#bac_box5 > img,
#bac_box6 > img,
#bac_box7 > img,
#bac_box8 > img
{
	display: inline-block;
	width: 25%;
	cursor: pointer;
}
#bac_box5
{
	position: absolute;
	top: 15%;
	width: 35%;
	left: 10%;
	transition: top 0.5s linear;
    -webkit-transition: top 0.5s linear;
    -o-transition: top 0.5s linear;
    -moz-transition: top 0.5s linear; */
	/*display: none;*/
}

#bac_box6
{
	position: absolute;
	top: 15%;
	right: 10%;
	width: 30%;
	transition: top 0.5s linear;
    -webkit-transition: top 0.5s linear;
    -o-transition: top 0.5s linear;
    -moz-transition: top 0.5s linear; */
}

#bac_box7
{
	position: absolute;
	bottom: 5%;
	right: 8%;
	width: 35%;
}

#bac_box8
{
	position: absolute;
	bottom: 5%;
	left: 5%;
	width: 35%;
}

.point1{
	font-style: italic;
	font-size: 0.9em;
}

#desc1,
#desc2,
#desc3,
#desc4
{
	display: none;
}
.point4{
	display: inline-block;
	font-size: 0.9em;
}

#firstBox
{
	position: absolute;
	top:10%;
	left: 3%;
	/*color: #828282;*/
}

#secBox
{
	position: absolute;
	top:25%;
	right: 5%;
	width: 40%;
	font-size: 0.7em;
}

.medicines_box{
	position: relative;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
}
.paperstacktextstyle{
    position   : relative;
    width      : 100%;
    /*text-align : left;*/
    padding    : 1% 1%;
    margin-top : 2%;
    font-size  : 1em;
    color      : black;

    background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
    background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
    background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
    background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */

    background-repeat   : no-repeat;
    background-size     : 200% 100%;
    background-position : -100% 0%;

    -webkit-animation: swipebackgroundkeyframe 0.6s ease-out 1 forwards;
    -moz-animation: swipebackgroundkeyframe 0.6s ease-out 1 forwards;
    -o-animation: swipebackgroundkeyframe 0.6s ease-out 1 forwards;
    animation: swipebackgroundkeyframe 0.6s ease-out 1 forwards;
}

 @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }
.med1{
	position: absolute;
	margin-top: 0%;
	left: 0%;
	width: 40%;
	/*height: 50%;*/
	/*top: 5%;*/
}
.med2{
	position: absolute;
	margin-top: 2%;
	width: 50%;
	/*height: auto;*/
	right: 0;
}

.med3{
	position: absolute;
	margin-top: 29%;
	width: 40%;
	/*height: auto;*/
	left: 0;
}

.med4{
	position: absolute;
	margin-top: 25%;
	width: 40%;
	/*height: auto;*/
	left: 0;
}

#def{
	position: absolute;
	margin-top: 10%;
	left: 0%;
	font-size: 1em;
	width: 100%;
}

#def2{
	position: absolute;
	margin-top: 10%;
	left: 7%;
	font-size: 1em;
}

#fungi_repro{
	position: absolute;
	top: 0%;
	right: 24%;
}

.def_wrapper2{
	display: none;
}

#l1{display: none;}

.sidebox{
	position: absolute;
	margin-top: 4%;
	width: 50%;
	right: 2%;
	opacity: 0;

}

.sidebox2{
	position: absolute;
	margin-top: 15%;
	width: 50%;
	opacity: 0;
	right: 2%;
}

.sidebox3{
	position: absolute;
	margin-top: 35%;
	width: 50%;
	opacity: 0;
	right: 2%;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-moz-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.cssfadein{
    animation: show 0.5s linear 0.3s 1 forwards;
    -webkit-animation: show 0.5s linear 0.3s 1 forwards;
    -moz-animation: show 0.5s linear 0.3s 1 forwards;
}


.cssfadein2{
    animation: show 1.5s linear 0.3s 1 forwards;
    -webkit-animation: show 1.5s linear 0.3s 1 forwards;
    -moz-animation: show 1.5s linear 0.3s 1 forwards;
}

.cssfadein3{
    animation: show 2s linear 0.3s 1 forwards;
    -webkit-animation: show 2s linear 0.3s 1 forwards;
    -moz-animation: show 2s linear 0.3s 1 forwards;
}

.highlightborder{
	border: 3px solid #FFC211;
}

#defff{
	position: relative;
	margin-top: 3%;
	left: 0%;
	font-size: 1.2em;
	width: 100%;
	/*background: #aaa;*/
}

.fullbg{
	position: absolute;
	width: 100%;
	margin-top: 6%;
	left: 0;
}


/*for pulsating effect to indicate click me*/
@keyframes pulse {
        0% { transform   : scale(0); opacity: 0.0; }
        25% { transform  : scale(0); opacity: 0.6; }
        50% { transform  : scale(0.1); opacity: 0.8; }
        75% { transform  : scale(0.5); opacity: 1; }
        100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
        0% { -moz-transform   : scale(0); opacity: 0.0; }
        25% { -moz-transform  : scale(0); opacity: 0.6; }
        50% { -moz-transform  : scale(0.1); opacity: 0.8; }
        75% { -moz-transform  : scale(0.5); opacity: 1; }
        100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
        0% { -webkit-transform   : scale(0); opacity: 0.0; }
        25% { -webkit-transform  : scale(0); opacity: 0.6; }
        50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
        75% { -webkit-transform  : scale(0.5); opacity: 1; }
        100% { -webkit-transform : scale(1); opacity: 0.0; }
 }

 /*for all element inside board*/
 .board *[data-usernotification*="notifyuser"]{
        cursor : pointer;
 }

 .board *[data-usernotification*="notifyuser"]::after{
        content          : "";
        position         : absolute;
        top              : 15%;
        left             : 45%;
        width            : 2em;
        height           : 2em;
        background-color : white;
        border           : 2px solid black;
        border-radius    : 50%;

        -webkit-animation : pulse 1.2s ease-out infinite;
        -moz-animation    : pulse 1.2s ease-out infinite;
        animation         : pulse 1.2s ease-out infinite;
 }
	div#bac_box5 img.handicon,
	div#bac_box6 img.handicon,
	div#bac_box7 img.handicon,
	div#bac_box8 img.handicon{
		position: absolute;
		width: 14%;
		left: 41%;
		margin-right: 50%;
		top: 31%;
	}
