

 .board {
	width: 100%;
	height: 100%;
	position: relative;
}


.headbacteria
{
	width: 15%;
	position: absolute;
	top:2%;
	left:1%;
	color:red;

}
.headbacteria img 
{
	width: 100%;
}
.mytext
{
	position: absolute;
	top:22%;
	font-size: 1.2em;
	left: 34%;

}

.wrapperProperty {
	width: 100%;
	height: 100%;
	padding: 2%;
	padding-right: 0;
}

 .propertyList {
	display: inline-block;
	padding-top: 5%;
	height: 100%;
	width: 27%;
	vertical-align: top;
}
 .propertyList ul {	
	background: #fff;
	height: 100%;
	width: 100%;
	border: 2px solid #945134;
}

.listTitle {
	
	background: #945134;
	color: #fff;
	padding: 0.1em;
	font-size: 1.3em;
	
	text-align: center;
}

.propertyList ul li {
	padding: 5px;
	
}

 .propertyList ul li span.index {
	background: #945134;
	color: #fff;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin-right: 0.2em;
	text-align: center;
	display: inline-block;
}

 .propertyMain {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	margin-left: 1%;
}

 .propertyMain img {
	width: 100%;
}

 .propertyMain .propertiesTitle {
	text-align: left;
	font-size: 2em;
	border-top: 2px solid #FF9207;
}

  .propertyMain .propertiesTitle span.num {
	background: #FF9207;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	color: #fff;
}
 .propertiesDesc {
	border: 2px solid #00C9DB;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	display: none;
	margin-top: 1%;
}

 .propertiesImg {
	margin: auto;
	margin-top: 5%;
	width: 70%;
	/*background: #c9c9c9;*/
}

.moreImg {
 	display: none;
 	width: 100%;
 }

 .moreImg img {
 	width: 45%;
	margin: 1%;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 0 5px #c9c9c9;
 }

 .wrapSummary {
	
	padding-top: 2%;
	width: 100%;
	margin-top: 3%;
	
}


 .wrapSummary ul {
	border: 1px solid #945134;
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
	text-align: center;
	font-size: 1em;
	width: 90%;
	margin: auto;
}

 .wrapSummary .listTitle {
	
	background: #945134;
	
	text-align: center;
	color: white;
	font-size: 1.5em;
	
}

.wrapSummary ul li {
	padding: 5px;
	text-align: left;
	margin: 1% 0% 1%;
	font-size: 1.2em;
}

 .wrapSummary ul li span.index {
	background: #B7775B;
	color: #fff;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin-right: 0.2em;
	margin-left: 1em;
	text-align: center;
	display: inline-block;
}

.wrapSummary .periodicText {
	text-align: center;
	margin-top: 5%;
	background: #F9BD6E;
	padding: 5px;
}