<!--
    Title : properties of metal
 -->
<script type="text/javascript">
 $cssLoader('css/shared.css');
    $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="sample">

    

    <div class="board">

    </div>
   
    <div class="headbacteria">
        <img src="$ref/images/page4/def.png" />
        <div class="mytext"></div>
    </div>  
     

    <div class="nextBtn"></div>
    <div class="prevBtn"></div>   

</div>



<script type="text/x-handlebars-template" id="first-template">
    <div class="wrapperProperty">
        <div class="propertyList">
            <ul>
                <div class="listTitle">{{listTitle}}</div>
            {{#each list}}
                <li><span class="index">{{{inc @index}}}</span>
                    {{this}}
                </li>
            {{/each}}
            </ul>
        </div>
        <div class="propertyMain">
            <div class="propertiesTitle"><span class="num">{{num}} </span>
                <span class="">{{title}}</span></div>
           
           {{#if propertiesImg}} 
               <div class="propertiesImg">
               <img src="{{propertiesImg}}" alt="">
               </div>
           {{/if}}

           {{#if longtitle}}
                <div class="propertiesDesc">{{longtitle}}</div>
            {{/if}}

        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="summary-template">
    <div class="wrapSummary">
        
        <ul>
            <div class="listTitle">{{listTitle}}</div>
            {{#each list}}
                <li><span class="index">{{{inc @index}}}</span>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>