<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}}
    {{#if headerblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
            <div class="headerblock">
                {{#each headerblock}}
                        {{> textcontent}}
                {{/each}}
            </div>
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
       
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if uppertextblockcenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if uppertextblockcenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if imageblockcenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if imageblockcenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if lowertextcenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if lowertextcenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if miscblock}}
            <div class="miscblock {{miscblockadditionalclass}}">
                {{#each miscblock}}  
                    {{> misccontent}}
                {{/each}}              
            </div>
            {{/if}}
            {{#if textimageblock}}
            <div class="textimageblock {{textimageblockadditionalclass}}">
                {{#each textimageblock}}  
                    {{> textimagecontent}}
                {{/each}}              
            </div>
            {{/if}}
            {{#if expprocedureblock}}
            <div class="expprocedureblock {{expprocedureblockadditionalclass}}">
                {{#each expprocedureblock}}
                    {{> expprocedurecontent}}
                {{/each}}
            </div>
            {{/if}}   
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="listcontent-partial" type="text/x-handlebars-template">
   <li class="{{listclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{listdata}}}</li>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="textimagecontent-partial" type="text/x-handlebars-template">
    {{#each image}}
        {{> imagecontent}}
    {{/each}}
    {{#each text}}
        {{> textcontent}}
    {{/each}}
</script>

<script id="expprocedurecontent-partial" type="text/x-handlebars-template">
    <div class="expprocedurecontainer">
        <ol class="procedures">
           {{#each procedure}}
                <li class="{{stepvisibility}}">{{{proceduredata}}}</li>
           {{/each}}
        </ol>
        <div class="currentstepimgcontainer">
            <img src="{{firststepimgsrc}}"/>
        </div>
    </div>
    <div class="prevstepBtn myPrevStyle"></div>
    <div class="nextstepBtn myNextStyle"></div>
</script>

<script id="misccontent-partial" type="text/x-handlebars-template">    
    <p class="bearinginstruction">{{bearinginstructiondata}}</p>
    <p class="bearingtextpara" data-highlight="true" data-highlightcustomclass="bearinghilighttext">{{bearingtextdata}}</p>
    <div class="angleandbearingcontainer">
        <p class="anglevalue"><span>{{angletext}}</span><span>0{{degreesign}}</span></p>
        <p class="bearingvalue"><span>{{bearingtext}}</span><span>000{{degreesign}}</span></p>
    </div>

    <div class="bearinglab">
        <div class="radarlinecross">
            <div class="radarhorizontalline"></div>
            <div class="radarverticalline"></div>
        </div>
        <div class="degreecontainer"></div>
        <div class="radar">
            <div class="radarsweepercontainer" data-animstep="step0">
                <div class="radarsweeper"></div>
            </div>
        </div>    
        <div id="" class="planeanimation plane" data-animstep="step0"></div>       
    </div>

    <button id="resetbutton">{{resetbuttondata}}</button>
    
    {{!-- load jquery-ui library --}}
    <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>   
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>