<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page5.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}}
    {{#if headerblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
            <div class="headerblock">
                {{#each headerblock}}
                        {{> textcontent}}
                {{/each}}
            </div>
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
       
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}} 
            {{#if miscblock}}
            <div class="miscblock {{miscblockadditionalclass}}">
                {{#each miscblock}}
                    {{> misccontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if numericalblock}}
            <div class="numericalblock {{numericalblockadditionalclass}}">
                {{#each numericalblock}}
                    {{> numericalcontent}}
                {{/each}}
            </div>
            {{/if}}          
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="listcontent-partial" type="text/x-handlebars-template">
   <li class="{{listclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{listdata}}}</li>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="misccontent-partial" type="text/x-handlebars-template">
    {{#if images}}
        {{#each images}}
            {{> imagecontent}}
        {{/each}}
    {{/if}}
    {{#if texts}}
        {{#each texts}}
            {{> textcontent}}
        {{/each}}
    {{/if}}
</script>

<script id="numericalcontent-partial" type="text/x-handlebars-template">
    {{#if images}}
        {{#each images}}
            {{> imagecontent}}
        {{/each}}
    {{/if}}
    {{#if texts}}
        {{#each texts}}
            {{> textcontent}}
        {{/each}}
    {{/if}}
    {{#if userinputs}}
        {{#each userinputs}}
            <div class="userinputcontainer {{userinputadditionalclass}}">
                <span class="inputprefix" data-highlight="{{inputprefixdatahighlightflag}}" data-highlightcustomclass="{{inputprefixdatahighlightcustomclass}}">{{{inputprefixdata}}}</span>
                <input type="text" data-correctans="{{correctansdata}}" maxlength="3" data-iscorrect=""></input>
                <b class="inputunit">{{unitdata}}</b>
                <button type="button" id="checkanswer" class="btn btn-primary">{{checkanswerdata}}</button>
                <i class="hintbutton">{{hintbuttondata}}</i>                
            </div>
        {{/each}}
    {{/if}}
    {{#if answerhint}}
        {{#each answerhint}}            
            <p class="userhint" data-highlight="{{userhintdatahighlightflag}}" data-highlightcustomclass="{{userhintdatahighlightcustomclass}}">{{{userhintdata}}}</p>
        {{/each}}
    {{/if}}
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>