.mainbg{
  background: #DED5C4;
  background-size: 100% 100%;
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: #785E4D;
    color: white;
    font-size: 2.5vw;
    padding: 1%;
		height: auto;
		z-index: 5;
    font-family: acme;
    border-bottom: 0.7em solid #FF8426;
}
@media(min-aspect-ratio:4/3){
	.headerblock{
		font-size: 5vh;
	}
}

.texttyp1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-family: comfortaa_bold;
  font-size: 1.9vw;
}

@media(min-aspect-ratio:4/3){
	.texttyp1 {
		font-size: 4.3vh;
	}
}

.midimg{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 25%;
  opacity: 0;
  top: 65%;
  left: 50%;
  animation: agimgsh 1s linear forwards;
}

.leftimg{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 25%;
  opacity: 0;
  top: 50%;
  left: 25%;
  animation: agimgsh 1s linear forwards;
}

[class*="fouanim"] {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20%;
  opacity: 0;
  top: 65%;
}

.fouanim-01 {
  left: 15%;
  animation: agimgsh 1s linear 0s forwards;
}

.fouanim-02 {
  left: 38%;
  animation: agimgsh 1s linear 1s forwards;
}

.fouanim-03 {
  left: 62%;
  animation: agimgsh 1s linear 2s forwards;
}

.fouanim-04 {
  left: 85%;
  animation: agimgsh 1s linear 3s forwards;
}

@keyframes agimgsh {
  100%{
    opacity: 100;
  }
}

.p1lefttext {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 50%;
  font-size: 2vw;
  background-color: #FFFCED;
  height: 100%;
  padding: 14% 4% 5% 6%;
  z-index: 4;
  font-family: comfortaa_light;
}

@media(min-aspect-ratio:4/3){
	.p1lefttext{
		font-size: 3vh;
	}
}

.coverboardfull ul{
	position: relative;
	list-style: url;
	text-align: left;
}
.coverboardfull ul li{
  display: none;
}

.steps{
  font-family: acme;
  color: #305973;
  font-size: 2.5vw;
  color: #305973;
}

@media(min-aspect-ratio:4/3){
	.steps{
		font-size: 6.5vh;
	}
}

.numcount {
  position: absolute;
  top: 17%;
  background: #305973;
  color: white;
  padding: 2% 3%;
  font-size: 2vw;
}

@media(min-aspect-ratio:4/3){
	.steps{
		font-size: 6vh;
	}
}

.addtext {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 50%;
  color: white;
  background: #305973;
  font-family: comfortaa_bold;
  font-size: 1.9vw;
  padding: 1%;
  animation: addanim 0.5s linear forwards;
}

@keyframes addanim {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}

@media(min-aspect-ratio:4/3){
.addtext {
  font-size: 3.3vh;
}
}

.pnkcolor{
  background: #F67280;
}

.arrow1 {
  position: absolute;
  width: 8%;
  left: 13%;
  top: 29%;
  transform: rotate(6deg);
  opacity: 0;
  animation: agimgsh 1s linear forwards;
}

.arrow2 {
  position: absolute;
  width: 8%;
  left: 31%;
  top: 28%;
  transform: rotate(91deg);
  opacity: 0;
  animation: agimgsh 1s linear forwards;
}

.nailtxt, .cointxt{
  position: absolute;
  font-size: 1.9vw;
  font-family: comfortaa_bold;
  opacity: 0;
  animation: agimgsh 1s linear forwards;
}

.nailtxt {
  left: 10%;
  top: 23%;
}

.cointxt {
  left: 32%;
  top: 23%;
}

@media(min-aspect-ratio:4/3){
.cointxt, .nailtxt {
  font-size: 3.3vh;
}
}

.widadjst{
  width: 40%;
}

.widadjst2{
  width: 5%;
}

.glow{
  width: 40%;
  animation: agimgsh 1s linear forwards, glowit 0.5s ease-in infinite;
}

@keyframes glowit {
  100%{
    filter: saturate(5);
  }
}

.figlabel, .figlabel2 {
  position: absolute;
  left: 0%;
  width: 50%;
  font-family: comfortaa_bold;
  font-size: 1.9vw;
  opacity: 0;
  animation: agimgsh 1s linear forwards;
}

.figlabel{
  top: 80%;
}

.figlabel2{
  top: 71%;
}

@media(min-aspect-ratio:4/3){
.figlabel, .figlabel2 {
  font-size: 3.3vh;
}
  .chaptertitle{
    font-size: 2.7vw;
  }
}
.coverpage{
  position: absolute;
  top: 0;
  width: 101%;
  left: 0;
}
.covertext{
  position: relative;
  z-index: 2;
  width: 40%;
  left: 15%;
  text-align: center;
  top: 52%;
  transform: translateY(-52%);
  padding: 1% 1%;
  height: auto;
}