.bg-1{
	background-color: #E6B8AF;
}
.bg-2{
	background-color: #EAD1DC;
}
.flipped-h{
	transform: rotateY(180deg);
}
.sq-bottom{
	position: absolute;
	left: 5%;
	bottom: 7.5%;
	height: 25%;
	z-index: 2;
}
.speech-text {
	position: absolute;
	left: 3%;
	width: 27%;
	bottom: 32%;
	font-size: 3.5vw;
	color: #3D85C6;
	font-family: sniglet;
	padding: 2% 1% 8% 1%;
}
@media(min-aspect-ratio:4/3){
	.speech-text {
		font-size: 4.7vh;
	}
}




.diy-text{
	position: absolute;
	top: -5%;
	width: 50%;
	left: 25%;
	height: 78%;
	font-family: amaticsc;
	color: #007D8B;
	font-size: 8vw;
}
.diy-text>p{
	position: absolute;
	width: 100%;
	top: 72%;
	transform: translateY(-50%);
}
@media(min-aspect-ratio:4/3){
	.diy-text{
		font-size: 10vh;
	}
}

.top-instruction{
	position: absolute;
	top: 0%;
	padding: 1% 0%;
	width: 100%;
	left: 0%;
	border-radius: 1vmin;
	background-color: #FF9B90;
	font-family: sniglet;
	color: #000000;
	font-size: 3vw;
}
@media(min-aspect-ratio:4/3){
	.top-instruction{
		font-size: 4.2vh;
	}
}



.choices{
	position: absolute;
	pointer-events: none;
	cursor: pointer;
	color: #4C1141;
	bottom: 7.5%;
	background-color: #BC8BA3;
	width: 16%;
	height: 10%;
	border-radius: 1.5vmin;
	font-family: sniglet;
	font-size: 2.7vw;
}
.choices>p{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
@media(min-aspect-ratio:4/3){
	.choices{
		font-size: 3.5vh;
	}
}
.choice-1{
	right: 52.5%;
}
.choice-2{
	left: 52.5%;
}
.choices:hover{
	filter: contrast(150%) brightness(150%);
	-webkit-filter: contrast(150%) brightness(150%);
}
.selected{
	border: 0.5vmin solid #4C1141;
	filter: contrast(135%) brightness(135%);
	-webkit-filter: contrast(135%) brightness(135%);
}

.center-img{
	position: absolute;
	height: 55%;
	left: 50%;
	bottom: 25%;
	transform: translateX(-50%);
}
.cor-incor {
	display: none;
	position: absolute;
	height: 50%;
	bottom: 105%;
	left: 50%;
	transform: translateX(-50%);
}













.slide-down {
	-webkit-animation: slide-down 0.5s ease-in both;
	animation: slide-down 0.5s ease-in both;
}
@-webkit-keyframes
slide-down {
	0% {top: -80%;}
	90% {top: 0%;}
}
@keyframes
slide-down {
	0% {top: -80%;}
	90% {top: 0%;}
}

.flip-anim {
	display: none;
	-webkit-animation: flip-anim 0.5s ease-in-out;
	animation: flip-anim 0.5s ease-in-out;
}
@-webkit-keyframes
flip-anim {
	0% {transform: rotateX(-90deg);}
}
@keyframes
flip-anim {
	0% {transform: rotateX(-90deg);}
}
