/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#aExp1
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;

	/*background-color: #37C2DA;*/

	overflow: hidden;

	/*change only this*/
	background-image: url("../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#aExp1 *{
	margin:0;
	padding:0;
	font-family: serif;
}


/*------------------------------------------------------------------------------------------*/

/*algebraic expression defenition*/
#intro{
	position: absolute;
	top:2%;

	/*left:100%;*/

	width: 100%;
	text-align:center;

	font-size: 2em;

	color:#007DC5;
}

/*sky contains all clouds*/
#sky{
	/*display: none;*/
	position: absolute;
	top:65%;
	left:0%;

	width: 100%;
	height:32%;

	/*border: 1px solid;*/
}

/*all clouds similar properties defined under class cloud*/
.cloud{
	display: none;
	position:absolute;

	top:0%;
	left:0%;

	width: 24.5%;
	height: 100%;

	cursor:pointer;
	/*border:1px solid red;*/

	/*disables the pointer events on this element*/
	pointer-events:none;
}

.cloud > p{
	position: absolute;
	top:35%;

	font-size: 1.4em;

	width:100%;
	text-align: center;

	/*double text shadow*/
	/*text-shadow: 1px 1px 0px #eee, 1px 2px 0px #707070;*/
}

.cloud > img{
	position: absolute;
	top:0%;
	width: 100%;


}

#cloud2{
	left:25%;
}

#cloud3{
	left:50%;
}

#cloud4{
	left:75%;
}

#cloud4 > p{
	top:17%;
}

/*expressions*/
#expressions{
	position: absolute;
	top:15%;

	width: 100%;
	height: 50%;

	/*border:1px solid;*/
}

/*the label for the expression examples*/
#expLabel{
	display: none;
	position: absolute;
	top:75%;

	width:100%;
	height: 25%;

	/*border:1px solid red;*/
}

/*all labels in expLabel tag*/
#expLabel > p{
	position: absolute;
	top: 25%;

	text-align: center;

	width:33%;

	font-size: 1.4em;

    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.5);*/

    /*border: 1px solid blue;*/
}

#operator{
	left:33%;
}

#variable{
	left:66%;
}

/*examples for expressions*/
#expExample{
	position: absolute;
	top:25%;

	width:100%;
	height: 50%;

	/*border:1px solid red;*/
}

/*each expressions*/
#expExample > div{
	display: none;
	position: absolute;
	width:100%;
	height:100%;

	/*keep its children in one line even if their width is greater to that of parents*/
	white-space: nowrap;

	/*border: 1px solid blue;	*/
}

#expExample > div > h1{
	opacity: 0;
	display: inline-block;
	position:relative;
	width: 33%;

	text-align: center;

	font-size: 7em;

	/*double text shadow*/
	/*text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070;*/
}

/*color combination for label and expressions h1*/

#expExample > div > h1:nth-of-type(1), #constant{
	color:#FF0052;
}

#expExample > div > h1:nth-of-type(2), #operator{
	color:#DF00B0;
}

#expExample > div > h1:nth-of-type(3), #variable{
	color:#523FFF;
}
/*expression statements*/
#expWord{
	position: absolute;
	top:0%;
	width:100%;
	height:25%;

	/*border: 1px solid red;*/
}

#expWord > p{
	display: none;
	position:absolute;

	width:100%;
	text-align: center;
	font-size: 1.8em;

	color:black;
}

/*next expression image*/
#nextExp{
	display: none;
	position: absolute;
	top:50%;
	left:93%;
	width: 6%;
	height: 15%;

	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#nextExp:hover{
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

#cloudInstruction{
	display: none;
	position: absolute;
	top:40%;

	width:100%;
	text-align: center;

	font-size: 1.4em;

	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.cover_image{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.cover_page{
	position: absolute !important;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	z-index: 1000;
}
.cover_cross{
	position: absolute !important;
	top: 3%;
	right: 3%;
	width: 5%;
}
.cover_cross:hover{
	cursor: pointer;
	transform: scale(1.1, 1.1)
}
.covertext{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-54%);
	font-size: 6vh;
	font-family: comfortaa !important;
}
