.background{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.chaptertitle{
	position: absolute;
	top: 12%;
	left: 0%;
	width: 100%;
	font-size: 5vw;
	font-family: sniglet;
}
.sp-1{
	position: absolute;
	top: 7%;
	left: 20%;
	width: 39%;
	height: 66%;
	padding: 13% 4% 15%
}
.box{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.txt1{
  font-size: 2vw;
	top: 47% !important;
}
.rhsImg{
	position: absolute;
	width: 21%;
	top: 48%;
	left: 79%;
}
.imgName {
    position: absolute;
    top: 93%;
    left: 86%;
    font-size: 3vw;
    color: #fff;
}
.squirell{
	position: absolute;
	width: 20%;
	top: 60%;
	left: 7%;
}
.tap{
	top: 18%;
	width: 11%;
	left: 89.5%;
}
.jg{
	top: 16%;
	width: 24%;
	left: 77%;
}
.tap:hover, .jtp:hover{
	cursor:pointer;
}
.midImg{
	position: absolute;
	width: 9.7%;
	top: 66%;
	left: 57.2%;
}
.glsNam {
    left: 58%;
}
.jugToGlass{
	position: absolute;
	width: 74%;
	left: 22.7%;
	top: 23%;
}
.jugPour{
	animation:jugTilt 3s linear forwards;
}
@keyframes jugTilt {
	100%{top:26%;left:68%;transform: rotate(-90deg);}
}

.lesMore{
	position: absolute;
	color: #304FFE;
	font-family: sniglet;
}
.les{
	top: 58%;
	left: 55%;
	font-size: 2vw;
}
.more {
    top: 38%;
    left: 80%;
    font-size: 3vw;
}

.hand{
	position: absolute;
	width: 5%;
	top: 22%;
	left: 92%;
}
.s6_hand{
	top: 68%;
	left: 86%;
}
.hovercls:hover{
	cursor:pointer;
}
.glassOverflow{
	width: 74%;
	left: 8.7%;
	top: 23%;
}
@media (min-aspect-ratio:4/3){
	.txt1{
		font-size: 3.7vh;
	}
	.imgName, .lesMore{
		font-size: 4vh;
	}
}
@media (max-aspect-ratio:4/3){
	.txt1{
		font-size: 2vw;
	}
}


.blinkEffect
{
	animation:blink 1s linear alternate;
	animation-iteration-count: 3;
}

@keyframes blink {
	from {
		width: 17%;
	}

	to {
		width: 21%;
	}
}
