<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page3.css");
	$cssLoader("css/jqmath-0.4.0.css");
	
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="electricity_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
   
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
			
			<!--input block-->
			
			{{#if inputblock}}
                <div class="inputblock {{inputblockadditionalclass}}">
                    {{#each inputblock}}
                        {{> inputcontent}}
                        {{> textcontent}}
                    {{/each}}
                </div>
            {{/if}}
			
			<!--input block end-->
			
			
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
			
			
			
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}}            
        </div>
        </div>
    {{! content block end--}}
	
	
	{{! instruction block start--}}
        {{#if instructionblock}}
            <div class="instructionblock {{instructionblockadditionalclass}}" data-instructionblockshow="true">
                {{#each instructionblock}}
                    {{> instructioncontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! instruction block end--}}
	
	
    </div>
	
	
	
	<div class="vdoalign">
	
	<!--added by manish-->
			{{#if videoblock}}
			 <div class="videoblock {{videoblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each videoblock}}
                        {{> videocontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
			
			{{/if}}
			<!--end-->
	
	<div>
	
	
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="scriptfunc" type="text/x-handlebars-template">
    {{#if scriptblock}}
		{{#each scriptblock}}
			{{{scriptfunc}}}
		{{/each}}
    {{/if}}
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>


<!--inputblock-->

<script id="inputcontent-partial" type="text/x-handlebars-template">
    <input id="{{inputid}}" type="text" name="mass">
</script>

<!--inputblock-->


<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="instructioncontent-partial" type="text/x-handlebars-template">
    <div class="instructionsets">
        <ol class="vertical-horizontal-center"> 
            {{#each instruction}}
            <li class="text-primary" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{this}}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="toggleinstructionblock">
        <span class="glyphicon glyphicon-chevron-down"></span>
         <div class="glossy"></div>
    </div>
</script>


<!--aded for video-->
<script id="videocontent-partial" type="text/x-handlebars-template">
{{#each videotoshow}}
	<video  autoplay="autoplay" class="{{vdoclass}}" id="myVideo">
		<source src="{{vdeosrc}}" type="video/webm" id="vdo1">
		<source src="{{vdeosrc2}}" type="video/mp4" id="vdo2">
	</video>
	<button class="replay" type="button" onclick="vid_play_pause()"></button>

	
{{/each}}

</script>  
<!--end of added for videos-->



<script id="definitioncontent-partial" type="text/x-handlebars-template">    
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>