<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<link type="text/css" rel="stylesheet" href="css/ashish_fonts.css"></link>
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
			{{#if uppertextblock}}
		    <div class="textblock {{uppertextblockadditionalclass}}">
		    	{{#each uppertextblock}}
		    		<!-- <p class="question_number my_font_medium {{question_no_class}}"></p> -->
		       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
		    	{{/each}}
		    </div>
		    {{/if}}
		    
		    <div class="rootcontainer">
			    {{#each droppable}}
			    	<div class="droppables {{droppableclass}}"  data-answer="{{answer}}">
			    		<img class="droppable_image" src="{{imgsrc}}"/>
			    		<img class="correctsign" src="images/correct.png"/>
			    		<img class="incorrectsign" src="images/wrong.png"/>
			    		<p class="droppable_p" data-correctans="false"></p>
			    	</div>
			    {{/each}}
			    
			    <div class="draggable_containers">
				    {{#each draggable}}
				    	<p class="drggable {{draggableclass}}">{{data_p}}</p>
			    	{{/each}}
		    	</div>
		    	
		    	<p class="check_button">Check</p>
		    </div>
		    
		    {{#if imageblock}}
	            <div class="imageblock {{imageblockadditionalclass}}">
	                {{#if contentblocknocenteradjust}}
	                    <div class="vertical-horizontal-center">
	                {{/if}}
	                   {{#each imageblock}}
	                    	{{#if imageblockclass}}
	                    		<div class="{{imageblockclass}}">
	                    	{{/if}}
	                        	{{> imagecontent}}
	                        {{#if imageblockclass}}
	                    		</div>
	                    	{{/if}}
	                    {{/each}}
	                {{#if contentblocknocenteradjust}}
	                    </div>
	                {{/if}}
	            </div>
            {{/if}}
		    
	     </div>
    </div>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise2.js");
</script>