.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}
@font-face {
    font-family: MontserratAlternates-Light;
    src: url("../../../../../../fonts/Montserrat-Light.otf");
}
.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

/*
.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}*/


.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */

.textblock{
	position: absolute;
	top: 0%;
	height: 100%;
	width: 100%;
}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid green;
	background-color: teal;
	font-size: 5vmin;
	color: white;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	border: 3px solid #c55;
	background-color: red;
	font-size: 5vmin;
	color: white;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}

.optionsblock{
	position: absolute;
	top: 60%;
	width: 100%;
	z-index: 50;
}


.sign_lt
{
	left: 10%;
}
.sign_gt
{
	left: 40%;
}
.sign_eq
{
	left: 25%;
}


.instruction{
	position: absolute;
	top: 10%;
	width: 100%;
	font-size: 4vmin;
	text-align: center; 
}

.option_false {
    border: 5px solid #EA9999!important;
}
.option_true {
    border: 5px solid #93C47D!important;
}

/*---- for fractions -----*/
.fraction, .fraction2, .top, .bottom{
	padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;    
}

.fraction2 {
   transform: translateY(25%);   
}

.bottom{
    border-top: 0.1em solid black;
    display: block;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}

.fractions_q{
	position: absolute;
	top: 40%;
	font-size: 4.5vmin;
	padding: 1% 1%;
	background-color: #93C47D;
	border-radius: 1.5vmin;
	color: white;
	border: 2px solid #CCCCCC;
	transform: translateY(-50%);
}

.q_1{
	left: 8%;
}
.q_2{
	left: 42%;
}
.empty_sign{
	left: 25%;
	width: 7%;
	height: 10%;
	background-color: white;
}
.disabled{
	pointer-events: none!important;
}
.hidden_sign{
	color: black!important;
	opacity: 0;
	z-index:10;
}

.fade_in{
	animation: fade-in 1s linear forwards;
}
/*----- for hints -------*/
.hint_div{
	display:none;
	position: absolute;
	background-color: #FFF2CC;
	width: 30%;
	right: 0%;
	top: 20%;
	height: 60%;
	text-align: center;
	font-size: 4vmin;
}

.hint_header{
	margin-top: 3%;
	position: relative;
	text-decoration: underline;
}
.hints{
	position: relative;
	padding: 2% 0%;
}

.optionsdiv {
    top: 23%;
    position: relative;
    height: 40%;
}

.optionscontainer {
    position: relative;
    height: 81%;
    width: 23%;
    margin: 1%;
    top: 59%;
    float: left;
}
.optimg {
    display: inline;
    color: white;
    font-size: 4vmin;
    cursor: pointer;
    width: 100%;
    max-height: 95%;
    transform: translate(0,-50%);
    top: 42%;
}

.optimg2{
	display: inline;
    color: white;
    font-size: 4vmin;
    cursor: pointer;
    width: 90%;
    max-height: 95%;
    transform: translate(0,-50%);
    top: 43%;
}

.question {
    position: relative;
    top: 16%;
    font-size: 5vmin;
}

.letHigh{
	color: #E12C45;
}

.quesLabel {
    bottom: 0;
    background: #F39599;
    margin-top: 6%;
    color: white;
    font-size: 4vmin;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: MontserratAlternates-Light;
}
/*
	solar system
*/


.forHover:hover{
	border: 5px solid #FFD966;
}
.textbox2 {
    position: absolute;
    left: 19%;
    top: 17%;
    font-family: MontserratAlternates-Light;
    width: 64%;
    font-size: 2vw;
    color: #EA6167;
}
.forHover:hover{
	border: 5px solid #FEE800;
}
.rightic  {
    width: 24%;
    left: 38%;
    top: 104%;
    position: absolute;
}
.wrongic1  {
    width: 24%;
    left: 38%;
    top: 104%;
    position: absolute;
}
.wrongic2  {
    width: 24%;
    left: 38%;
    top: 104%;
    position: absolute;
}
.wrongic3  {
    width: 24%;
    left: 38%;
    top: 104%;
    position: absolute;
}
.dsLine
{
	color: #235C2B;
	background:#8EFA00;
	padding:0.5% 2%;
}
.upper {
    background-color: rgb(249,116,122);
    position: absolute;
    font-family: MontserratAlternates-Light;
    left: 0%;
    top: 14%;
    color: white;
    width: 100%;
    font-size: 131%;
}