.squarecontainer{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 70%;
	overflow: hidden;
}
.squarediv{
	position: absolute;
	bottom: 0%;
	left: 10%;
	width: 80%;
	height: 100%;
	background: url('../images/square2.png');
	background-size: 100% 100%;
}
.no-overflow{
	overflow: hidden;
}
.girl-1{
	position: absolute;
	height: 28%;
	left: 17%;
	top: 3.5%;
}
.oldman-1{
	position: absolute;
	height: 37%;
	left: 65.5%;
	bottom: 8%;
}
.oldlady-1{
	position: absolute;
	height: 39%;
	left: 74%;
	top: 10%;
}

.girl-2{
	position: absolute;
	height: 29%;
	left: 19.8%;
	top: 57%;
}

.boy-2{
	position: absolute;
	height: 30%;
	left: 44.5%;
	top: 28%;
}
.boy-1{
	position: absolute;
	height: 28%;
	left: 31.5%;
	top: 51%;
}
.oldman-2{
	position: absolute;
	height: 36%;
	left: 54%;
	top: 56.5%;
}
.iceman{
	position: absolute;
	height: 36%;
	left: 3%;
	top: 54.5%;
}








.hl-people{
}

.sqobject:hover{
	cursor: pointer;
	transform: scale(1.05);
}


.focus-1{
	transform-origin: 19.4% 0%;
	-webkit-animation: focus-1 2s linear both;
	animation: focus-1 2s linear both;
}
@-webkit-keyframes
focus-1 {
	100% {transform: scale(2.5);}
}
@keyframes
focus-1 {
	100% {transform: scale(2.5);}
}

.focus-2{
	transform-origin: 85% 100%;
	-webkit-animation: focus-2 2s linear both;
	animation: focus-2 2s linear both;
}
@-webkit-keyframes
focus-2 {
	100% {transform: scale(2);}
}
@keyframes
focus-2 {
	100% {transform: scale(2);}
}

.focus-3{
	transform-origin: 103% 10%;
	-webkit-animation: focus-3 2s linear both;
	animation: focus-3 2s linear both;
}
@-webkit-keyframes
focus-3 {
	100% {transform: scale(2);}
}
@keyframes
focus-3 {
	100% {transform: scale(2);}
}
