@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}
.contentblock{
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
	height: 100%;
}
/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
}


.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in_3 {
	animation: appear 1s both;
	-webkit-animation: appear 1s both;
	animation-delay: 2s;
}

.fade_in_1 {
	animation: appear 1s both;
	-webkit-animation: appear 1s both;
}

.fade_in_2 {
	animation: appear 2s ease-in both;
	-webkit-animation: appear 2s ease-in both;
}

@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */
/*====================================
 =            Custom Style            =
 ====================================*/
.profit-block{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 50%;
	height: 100%;
	color: white;
	background-color: #6A70A4;
	animation: grow 2s ease-in both;
	-webkit-animation: grow 2s ease-in both;
}
.loss-block{
	position: absolute;
	left: 50%;
	bottom: 0%;
	width: 50%;
	height: 100%;
	color: white;
	background-color: #FF7F78;
	animation: grow 2s ease-in both;
	-webkit-animation: grow 2s ease-in both;
}

@-webkit-keyframes
grow {
	0% {height: 0%;}
	100% {height: 100%;}
}
@keyframes
grow {
	0% {height: 0%;}
	100% {height: 100%;}
}
.profit-block>p, .loss-block>p, .profit-block-2-header>p, .loss-block-2-header>p{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	font-weight: bold;
}

.loss-block-2, .profit-block-2{
	position: absolute;
	top: 0%;
	width: 50%;
	height: 100%;
	text-align: left;
}
.loss-block-2{
	left: 50%;
	background-color: #FFF0ED;
	color: black;
}
.profit-block-2{
	left: 0%;
	background-color: #BCC0DF;
	color: black;
}
.profit-block-2>p, .loss-block-2>p{
	margin: 8% 2%;
}
.profit-block-2-header{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0%;
	margin: 0%!important;
	top: 0%;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #6A70A4;
	padding: 1%;
	font-weight: bold;
	text-align: center;
	animation: shrink 2s ease-in both;
	-webkit-animation: shrink 2s ease-in both;
}
.loss-block-2-header{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0%!important;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #FF7F78;
	padding: 1%;
	font-weight: bold;
	animation: shrink 2s ease-in both;
	-webkit-animation: shrink 2s ease-in both;
}

@-webkit-keyframes
shrink {
	0% {height: 100%;}
	100% {height: 14%;}
}
@keyframes
shrink {
	0% {height: 100%;}
	100% {height: 14%;}
}

.bg-1{
	background-color: #DEE3E7;
}

.higlighted-text-p{
	color: #813A86;
}
.higlighted-text-l{
	color: #E02250;
}
.center-text-brown-border{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0%;
	background-color: #E1D3ED;
	border-top: 1vmin solid #FF9B90;
	border-bottom: 1vmin solid #FF9B90;
	width: 100.2%;
	color: black;
	padding: 3% 3%;
}
.question-blue{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 18%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #CCEAFF;
    border-bottom: 0.5vmin solid #8E2B2E;
    padding: 1%;
    z-index: 10;
}
.question-blue > p{
    color: black;
    width: 100%;
    padding-left: 2%;
    text-align: left;
    font-size: 2.5vw;
}
.answerdiv{
	height: 12%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.answerdiv>*{
	margin: 0% 2%;
}
.answerdiv>input{
	width: 15%;
}
.right-wrong{
	display: none;
	position: relative;
	order: 50;
	height: 70%;
}
.equal-answer-block{
	position: relative!important;
	top: 24%;
	float: left;
	width: 75%;
	text-align: left;
	margin-bottom: 4%;
	font-size: 2.7vw;
}
.answer-block{
	position: absolute!important;
	width: 100%;
	height: 12%;
	top: 53%;
	left: 2%;
}
.answer-block>p{
	position: relative!important;
	float: left;
	margin: 0% 3%;
}
.inputblock-3{
	position: absolute!important;
	top: 68%;
}
.conclusion{
	position: absolute;
	bottom: 5%;
	left: 50%;
	padding: 0.5% 2%;
	min-width: 50%;
	width: auto;
	transform: translateX(-50%);
	background-color: #34ACB9;
	color: white;
	border-radius: 1vmin;
	text-align:center;
}
.conclusion-3{
	position: absolute;
	bottom: 10%;
	left: 50%;
	padding: 0.5% 2%;
	min-width: 50%;
	width: auto;
	transform: translateX(-50%);
	background-color: #34ACB9;
	color: white;
	border-radius: 1vmin;
	text-align:center;
}
.hint-text{
	display: none;
	color: #FF476D;
}
.highlighted-hint{
	color: #CF2D6B;
	font-size: 3.1vw;
}
.cor-incor-text{
	width: 7vmin;
	height: 6vmin;
	background-size: 100% 100%;
	background-position: 0% 0%;
}
.inputblock-3, .inputblock-2, .inputblock-5, .inputblock-6{
	display: none;
}

.top-sp-text{
	position: relative;
	width: 100%;
	top: 0%;
	left: 0%;
	padding: 2%;
	text-align: left;
}
.profit-text{
	position: absolute;
	top: 30%;
	left: 33%;
	transform: translateX(-50%);
}
.loss-text{
	position: absolute;
	top: 30%;
	left: 66%;
	transform: translateX(-50%);
}
.dragdrop-text{
	position: absolute;
	top: 70%;
	left: 0%;
	width: 100%;
}
.dragabble-text{
	cursor: grab;
	width: 20%;
	height: 9%;
	position: absolute;
	padding: 1%;
	background-color: #6D9EEB;
	border-radius: 2vmin;
	border: 0.4vmin solid #CCCCCC;
	top: 80%;
	color: white;
	font-size: 2.5vw;
}
.dragabble-text:hover{
	background-color: #F4C712;
}
.drag-1{
	left: 8%;
}
.drag-2{
	left: 30%;
}
.drag-3{
	left: 52%;
}
.drag-4{
	left: 74%;
}

.droppableblock{
	position: absolute;
	width: 18%;
	height: 9%;
	background-color: #EEEEEE;
	border-radius: 2vmin;
	border: 0.5vmin solid black;
	overflow: hidden;
}
.drop-1{
	left: 24%;
	top: 40%;
}
.drop-2{
	left: 24%;
	top: 55%;
}
.drop-3{
	left: 57%;
	top: 40%;
}
.drop-4{
	left: 57%;
	top: 55%;
}
.fix-height-header{
	height: 16%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.centered-summary{
	justify-content: center!important;
}
.centered-summary>*{
	margin: 5% 1%;
	text-align: left;
}
.formula-summary{
	color: #9038C3;
	font-weight: bold;
	text-align: center!important;
}
.side-image-ques{
	position: absolute;
	height: 60%;
	bottom: 10%;
	right: 5%;
}
@media (min-aspect-ratio: 4/3){
	.question-blue>p {
		font-size: 3.7vmin;
	}
	.question-blue-2>p {
		font-size: 3.7vmin;
	}
	.equal-answer-block{
		font-size: 3.5vmin;
	}
	.highlighted-hint{
		font-size: 4.3vmin;
	}
	.dragabble-text{
		font-size: 2.5vmin;
	}
	.my_font_big {
    font-size: 3vmin;
}
	.fnt{
		font-size: 2.5vmin;
	}
}
