.maincontainer, .maincontainer * {
    margin: 0;
    font-size: 4vmin;
}

p{
    margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*font-family: sniglet;*/
    /*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

.maincontainer {
    position: relative;
}

.leftimageblock {
    position: absolute;
    transform: translateX(-50%);
    left: 20%;
    width: 44%;
    height: 31%;
    bottom: 13%;
}

.rightimageblock {
    position: absolute;
    transform: translateX(-50%);
    left: 74%;
    width: 55%;
    height: 31%;
    bottom: 13%;
}

.money {
    position: relative;
    width: 35%;
}

.rightimageblock .money {
    position: relative;
    width: 29%;
}

.lefttext {
    position: absolute;
    transform: translateX(-50%);
    left: 19%;
    top: 48%;
    font-size: 3vmin;
}

.righttext {
    position: absolute;
    transform: translateX(-50%);
    left: 75%;
    top: 48%;
    font-size: 3vmin;
}

.pllowertext{
    position: absolute;
    transform: translateX(-50%);
    font-size: 3vmin;
    left: 50%;
    bottom: 6%;
}

.question-text{
    position: relative!important;
    top: 5%;
    text-align: left;
    left: 5%;
    width: 90%;
    color: #595959;
}

.title-2{
    color: black;
    text-align: center;
}
.ques_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.ques_row>p{
    order: -1;
}
.ques_row>input{
    height: 100%;
    width: 15%;
    order: 0;
    text-align: center;
}
.ques_row>button{
    height: 100%;
    width: 25%;
    order: 2;
}

.check_div{
    position: relative;
    height: 8%;
    left: 5%;
    width: 65%;
    margin-top: 2%;
}
.div_0{
    margin-top: 7%!important;
}
.div_1, .div_2{
    display: none;
}
.default_btn{
    color: white;
    background-color: #6D9EEB;
    border: 2px solid #888;
    border-radius: 1vmin;
}

.default_btn:hover:not(.correct):not(.incorrect){
    background-color: #8E7CC3;
}

.default_btn.correct{
    background-color: #93C47D;
}
.default_btn.incorrect{
    background-color: #EA9999;
}

.hint-text {
    position: absolute;
    bottom: 19%;
    left: 4%;
    padding: 1.5%;
    background-color: #FFE599;
}

.hint_3{
    display: none;
}

.blink{
    animation: letsblink 0.5s linear alternate 5 forwards;
}

@keyframes letsblink{
    100% {box-shadow: 0px 0px 1.5em blue;}
}

.fadeout{
    animation: letsfade 1s linear 3s forwards;
}

@keyframes letsfade{
    100% {display: none;}
}

.moveit{
    animation: letsmoveit 2s ease-out forwards;
}

@keyframes letsmoveit{
    100% {left: 50%;}
}

.moveit2{
    animation: letsmoveit2 2s ease-out forwards;
}

@keyframes letsmoveit2{
    100% {left: 50%;}
}
.change_color{
    animation: change_color 2s ease-in both;
    -webkit-animation: change_color 2s ease-in both;
}
.change_color_1{
    animation: change_color s ease-in both;
    -webkit-animation: change_color 1s ease-in both;
}

@-webkit-keyframes
change_color {
    100% {background-color: #FFE599;}
}
@keyframes
change_color {
    100% {background-color: #FFE599;}
}

.red_color{
  color: red;
}

.zindex{
  z-index: 1;
}
@media (min-aspect-ratio: 4/3){
    .ole_temp_diytext{
      font-size: 6vh !important;
    }
}
