

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}


/*====================================
 =            Custom Style            =
 ====================================*/
.generalTemplateblock {
    position: relative;
}
.center_align{
	text-align: center;
	font-size: 3.2vw;
}
.centwidthcentheight{
	width: 100%;
	height: 100%;
}
.imageblockclass {
    width: 24%;
    position: absolute;
    top: 21%;
    left: 30%;
    height: 62%;
}
.imageblockclass1 {
    width: 26%;
    height: 60%;
    position: absolute;
    top: 36%;
    left: 30%;
}
.imageblockclass2 {
    width: 26%;
    height: 60%;
    position: absolute;
    top: 48%;
    left: 30%;
}
.question {
	transform: translateX(-50%);
	left: 50%;
	font-size: 3vw;
	position: absolute;
	font-family: sniglet;
	width: 100%;
	top: 2%;
	text-align: center;
}
.rightoption {
    transform: translate(-50%,-50%);
    left: 45%;
    position: absolute;
    top: 16%;
    width: 10%;
}
.wrongoption {
    transform: translate(-50%,-50%);
    left: 60%;
    position: absolute;
    top: 16%;
    width: 10%;
}

.orclass {
    position: absolute;
    transform: translateY(-50%);
    top: 17%;
    left: 51.5%;
    font-size: 3.5vmin;
    font-family: sniglet;
}
.blendred{
  background-color: red !important;
  background-blend-mode: multiply !important;
}
.blendgreen{
  background-color: green !important;
  background-blend-mode: multiply !important;
}
.moneyrowCP {
    margin-top: 4%;
    width: 67%;
}
.moneyrowCP1 {
    margin-top: 4%;
    width: 52%;
}
.moneyrowSP {
    left: 90%;
    width: 67%;
    top: -111%;
    margin-top: 4%;
}
.cp{
	bottom: 2%;
	position: absolute;
	font-family: sniglet;
	font-size: 3.5vmin;
	left:38%;
	background: #FFCC33;
	padding: 0 1% 0 1%;
}
.sp{
	padding: 0 1% 0 1%;
	bottom:2%;
	position: absolute;
	font-family: sniglet;
	font-size: 3.5vmin;
	background: #FFCC33;
	left: 59%;
}
@media (min-width: 4/3){
	.question,.question1{
		font-size: 3.5vmin;
	}
	.cp,.sp{
		font-size: 3vmin;
	}
}



.question1 {
	left: 0%;
	font-size: 2.5vw;
	position: absolute;
	font-family: sniglet;
	width: 50%;
	top: 13%;
	text-align: right;
}
.check {
    transform: translate(-50%,-50%);
    left: 38%;
    position: absolute;
    top: 52%;
    width: 10%;
}
.hint {
    transform: translate(-50%,-50%);
    left: 51%;
    position: absolute;
    top: 50%;
    width: 10%;
}
.profitmoney {
    transform: translate(-50%,-50%);
    left: 84%;
    position: absolute;
    top: 16%;
    width: 100%;
}
.inputbutton {
    width: 8%;
    left: 23%;
    text-align: center;
}
.hint-block {
    font-family: sniglet;
    left: 72%;
    top: 30%;
    font-size: 1.5vw;
}
.blinkmoney{
  animation: greygrey 1s forwards;
  animation-iteration-count: infinite;
}


.question2 {
    transform: translateX(-50%);
    left: 50%;
    font-size: 5vw;
    position: absolute;
    font-family: sniglet;
    width: 100%;
    top: 40%;
    text-align: center;
}
.mainBox {
    margin: auto;
    width: 960px;
    border: none;
    background: #f2f2f2;
    font-size: 2.1vmin;
    margin-bottom: 1%;
    box-shadow: 0em 0em 1em #dadada;
}
.moneyrowSP1 {
    left: 90%;
    width: 52%;
    top: -111%;
    margin-top: 4%;
}
.ole_temp_peach_header{
    position: relative !important;
}
.rhino {
    width: 81%;
    position: absolute;
    left: 128%;
    transform: scaleX(-1);
}
.rhunotextblock {
    width: 45%;
    left: 15%;
    border: 5px solid #FF9B90;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    height: 33%;
    top: 9%;
}

.rhunotextblock::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 1.3em solid transparent;
    border-bottom: 1.3em solid transparent;
    border-left: 2.3em solid #FF9B90;
    right: -2.3em;
    top: 3.5em;
}
.rhunotextblock::after {
  content:"";
  position:absolute;
  display: block;

  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom:1em solid transparent;
  border-left: 2em solid white;
  right: -1.8em;
  top: 3.75em;
}
.rhunotextblockslide2 {
    width: 43%;
    left: 31%;
    border: 5px solid #FF9B90;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    height: 44%;
    top: 3%;
}
.rhunotextblockslide2::before {
 content:"";
  position:absolute;
  display: block;

  width: 0;
  height: 0;
  border-top: 1.3em solid transparent;
  border-bottom:1.3em solid transparent;
  border-left: 2.3em solid #FF9B90;
  right: -2.3em;
  top: 2.7em;
}
.rhunotextblockslide2::after {
  content:"";
  position:absolute;
  display: block;

  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom:1em solid transparent;
  border-left: 2em solid white;
  right: -1.8em;
  top: 3em;
}
.rhunotextblockslide3 {
    width: 43%;
    left: 28%;
    border: 5px solid #FF9B90;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    height: 33%;
    top: 3%;
}
.rhunotextblockslide3::before {
 content:"";
  position:absolute;
  display: block;

  width: 0;
  height: 0;
  border-top: 1.3em solid transparent;
  border-bottom:1.3em solid transparent;
  border-left: 2.3em solid #FF9B90;
  right: -2.3em;
  top: 1.7em;
}
.rhunotextblockslide3::after {
  content:"";
  position:absolute;
  display: block;

  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom:1em solid transparent;
  border-left: 2em solid white;
  right: -1.8em;
  top: 2em;
}
.rhinoslide2 {
    width: 81%;
    position: absolute;
    margin-top: -29%;
    left: 172%;
    transform: scaleX(-1);
}
.rhunotextblockslide2 {
    width: 43%;
    left: 27%;
    border: 5px solid #FF9B90;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    height: 33%;
    top: 5%;
}
.rhunotextblockslide4 {
    width: 44%;
    left: 26%;
    border: 5px solid #FF9B90;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    height: 21%;
    top: 10%;
}
.rhunotextblockslide4::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 2em solid white;
    right: -1.8em;
    top: 3.84em;
    z-index: 5;
}
.rhunotextblockslide4::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 1.4em solid transparent;
    border-bottom: 1.3em solid transparent;
    border-left: 2.3em solid #FF9B90;
    right: -2.3em;
    z-index: 5;
    top: 3.5em;
}
.dialogs {
    margin-top: 3%;
    font-size: 2.2vw;
    font-family: sniglet;
    z-index: 5;
    padding-left: 7%;
}


.watermelon {
    position: absolute;
    width: 50%;
    top: 180%;
    left: -10%;
    animation: watermelonanimation 1s 4.5s forwards;
    opacity: 0;
}
.watermelon1 {
    position: absolute;
    width: 50%;
    top: 180%;
    left: 122%;
    animation: watermelonanimation1 1s 5.5s forwards;
    opacity: 0;
}
.money {
    width: 50%;
    left: 111%;
    top: 151%;
}
.moneyslide5 {
    width: 50%;
    left: 1%;
    top: 151%;
}
.right{
    margin-right: 5%;
}
.zebra {
    position: absolute;
    left: -90%;
    top: -21%;
    width: 73%;
}
.rhino1 {
    width: 151%;
    position: absolute;
    margin-top: 46%;
    left: 106%;
}
.rhinoslide4 {
    width: 151%;
    position: absolute;
    margin-top: -18%;
    left: 152%;
}
.sundari {
    width: 70%;
    position: absolute;
    margin-top: -8%;
    left: -82%;
    transform: scaleX(-1);
}
.orange{
    color:rgb(255, 171, 0);
}
.green{
    color: #6D8029;
}
.money1{
    animation: moneyanimation 1s .5s forwards;
}
.money2{
    animation: moneyanimation 1s 1.5s forwards;
}
.money3{
    animation: moneyanimation 1s 2.5s forwards;
}
.money4{
    animation: moneyanimation 1s 3.5s forwards;
}
.money5{
    animation: moneyanimation1 1s .5s forwards;
}
.money6{
    animation: moneyanimation1 1s 1.5s forwards;
}
.money7{
    animation: moneyanimation1 1s 2.5s forwards;
}
.money8{
    animation: moneyanimation1 1s 3.5s forwards;
}
.money9{
    animation: moneyanimation1 1s 4.5s forwards;
}
@keyframes watermelonanimation{
    to{
        left: 122%;
        opacity: 1;
    }
}
@keyframes watermelonanimation1{
    to{
        left: -10%;
        opacity: 1;
    }
}
@keyframes moneyanimation{
    to{
        left: 1%;
    }
}
@keyframes moneyanimation1{
    to{
        left: 111%;
    }
}
@keyframes greygrey{
	0%{

	}
	100%{
 	 filter: sepia(100%);
	}
}
@media (min-width: 4/3){
	.question,.question1{
		font-size: 3.5vmin;
	}
	.cp,.sp{
		font-size: 3vmin;
	}
}

/*=====  End of Custom Style  ======*/
@font-face {
    font-family: mangal;
    src: url("../../../../../fonts/mangal.ttf");
}
*:lang(np) {
         font-family: mangal !important;
     }


.coverpage_css{
	position: absolute;
	width: 100%;
	left: 0%;
	height: 100%;
	top: 0%;
}
.coverpage{
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
}
.titletext{
	position: absolute;
	width: 100%;
	left: 0%;
	top: 20% !important;
	font-size: 6vh;
	color: #000;
	z-index: 1;
	text-align: center;
}
@media (min-aspect-ratio: 4/3){
    .dialogs {
    font-size: 3.3vmin;
    }
		.center_align{
			font-size: 4vh !important;
		}
		.question{
			font-size: 4vh;
		}
		.question1{
			font-size: 3vh;
		}
		.question2{
			font-size: 7vh;
		}
		.titletext{
		font-size: 	10vh;
		}
}
