.cream_bg{
	background: #FAD270;
}
.textblock{
	height: 100%;
	width: 100%;
}
.rhinoimgdiv {
    position: absolute;
    width: 15%;
    top: 60%;
    left: 21%;
}
.squirrelisteningimg {
    position: absolute;
    width: 16%;
    top: 61%;
    left: 70%;
}
.playtime {
    position: absolute;
    font-family: sniglet;
    color: white;
    margin-top: 33%;
    transform: translateX(-50%);
    left: 53%;
    z-index: 999;
    font-size: 4vw;
}

.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.blue_bg{
	background:#81C1FF;
}
.top_text {
    position: absolute;
    font-family: sniglet;
    top: 9%;
    z-index: 1;
    font-size: 3vw;
    background: #7A5CC6;
    color: #FFF175;
    padding: 1%;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 2vmin;
    width: 80%;
}

.top_instruction {
    position: absolute;
    font-family: sniglet;
    font-size: 2.4vw;
    left: 0;
    color: #7A5CC6;
    background: #7A5CC6;
    color: #FFF175;
    top: 5%;
    width: 100%;
}
.asha {
    position: absolute;
    width: 15%;
    top: 45%;
    left: 7%;
}
.goat1, .goat2, .goat3, .hen1, .hen2, .hen3, .hen4, .cow1, .cow2, .dog {
    position: absolute;
}
.goat1, .goat2, .goat3 {
	width: 15%;
}
.hen1, .hen2, .hen3, .hen4 {
    width: 7%;
}
.hen1 {
    left: 65%;
    top: 25%;
}
.goat1 {
    top: 23%;
    left: 40%;
}
.goat2 {
    left: 79%;
    top: 23%;
    transform: scaleX(-1);
}
.hen2 {
    top: 48%;
    left: 44%;
}
.cow1 {
    width: 20%;
    top: 43%;
    left: 58%;
}
.hen3 {
    left: 85%;
    top: 48%;
}
.dog {
    top: 58%;
    left: 50%;
    width: 9%;
}
.cow2 {
    width: 20%;
    top: 68%;
    left: 75%;
}
.hen4 {
    top: 76%;
    left: 66%;
}
.goat3 {
    top: 78%;
    left: 47%;
}

/*table css*/
.main_table {
    position: absolute;
    top: 10%;
    z-index: 99;
    width: 70%;
    height: 78%;
    border: .5vmin solid #928787;
    left: 18%;
    font-family: sniglet;
    font-size: 1.8vw;
    background: white;
}
td, tr {
    border: .25vmin solid #928787;
}
th {
    border: .5vmin solid #928787;
		font-size: 2vw;
}
tr {
    height: 18%;
}
td {
    width: 25%;
}
.insideimage {
    left: 28%;
    top: 4%;
    width: 54%;
}
.table_div {
    position: absolute;
    width: 55%;
    top: 17%;
    left: 5%;
    height: 77%;
    background: #F9F9FB;
    border-radius: 2vmin;
}
.number1, .number2, .number3, .number4, .number5 {
    position: absolute;
    left: 5%;
    background: #CCCCCC;
    font-family: happymonkey;
    font-size: 2vw;
    border-radius: 1vmin;
    top: 15%;
    width: 8%;
}
.number4 {
    top: 35%;
}
.number3 {
    top: 55%;
}
.number2 {
    top: 75%;
}

.animalnumber {
    position: absolute;
    background: #CCCCCC;
    padding: 1%;
    top: -4%;
    font-size: 2vw;
    font-family: happymonkey;
    left: -3%;
    border-top-left-radius: 2vmin;
}
.dogtag,.goattag,.hentag,.cowtag{
	position: absolute;
	padding: .5%;
	font-family: happymonkey;
	top: 89%;
	font-size: 1.5vw;
}
.dogtag {
		background: #54CDF7;
    left: 23%;
}
.goattag {
	background: #FFC06E;
    left: 38%;
}
.hentag {
    left: 56%;
    background: #6CD877;
}
.cowtag {
    left: 74%;
    background: #F192F4;
}

.goat1a {
    position: absolute;
    width: 11%;
    top: 21%;
    left: 63%;
}
.goat2a {
    position: absolute;
    width: 12%;
    top: 37%;
    left: 63%;
}
.goat3a {
    position: absolute;
    width: 12%;
    top: 50%;
    left: 82%;
}
.hen1a {
    position: absolute;
    width: 6%;
    top: 23%;
    left: 77%;
}
.hen2a {
    position: absolute;
    width: 6%;
    top: 23%;
    left: 77%;
}
.hen3a {
    position: absolute;
    width: 6%;
    top: 23%;
    left: 77%;
}
.hen4a {
    position: absolute;
    width: 6%;
    top: 23%;
    left: 77%;
}
.hen2a {
    position: absolute;
    width: 6%;
    top: 74%;
    left: 77%;
}
.hen3a {
    position: absolute;
    width: 6%;
    top: 53%;
    left: 74%;
}
.hen1a {
    position: absolute;
    width: 6%;
    top: 73%;
    left: 68%;
}
.cow1a {
    position: absolute;
    width: 15%;
    top: 23%;
    left: 84%;
}
.cow2a {
    position: absolute;
    width: 15%;
    top: 66%;
    left: 84%;
}
.doga {
    position: absolute;
    width: 7%;
    top: 53%;
    left: 65%;
}
.goat1a,.goat2a,.goat3a,.cow1a,.cow2a,.hen1a,.hen2a,.hen3a,.hen4a,.doga{
	cursor: url(../images/click.png) 25 25, auto;
	z-index: 99;
}
.goat1a:hover,.goat2a:hover,.goat3a:hover,.cow1a:hover,.cow2a:hover,.hen1a:hover,.hen2a:hover,.hen3a:hover,.hen4a:hover,.doga:hover{
	transform: scale(1.1);
	transition: .2s;
}
.dogcolor{
	color: #54CDF7;
	font-size: 2.5vw;
	text-shadow: .1vmin .1vmin .3vmin black;
}
.goatcolor{
	color: #FFC06E;
	font-size: 2.5vw;
	text-shadow: .1vmin .1vmin .3vmin black;
}
.hencolor{
	color: #6CD877;
	font-size: 2.5vw;
	text-shadow: .1vmin .1vmin .3vmin black;
}
.cowcolor{
	color: #F192F4;
	font-size: 2.5vw;
	text-shadow: .1vmin .1vmin .3vmin black;
}
@keyframes pops {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
/*question div*/
.question_div {
    position: absolute;
    background: #FFF175;
    width: 38%;
    height: 70%;
    top: 21%;
    right: -40%;
    z-index: 99;
    border-top-left-radius: 3vmin;
    border-bottom-left-radius: 3vmin;
    font-size: 2vw;
    font-family: comicsans;
}
.question {
    position: absolute;
    top: 7%;
    width: 100%;
}
.option {
    background: #0B5394;
    position: absolute;
    color: white;
    padding: 3%;
    top: 60%;
    left: 25%;
    width: 20%;
    border-radius: 2vmin;
    border: .8vmin solid #0B5394;
		cursor: pointer;
}
.option:hover{
	background: #D9D9D9;
	border-color: #B7B7B7;
	color: black;
	transition: .2s;
}
.pos1{
    top: 42%;
    left: 15%;
}
.pos3 {
    top: 72%;
    left: 15%;
}
.pos2{
    top: 42%;
    left: 64%;
}
.pos4{
    top: 72%;
    left: 64%;
}
.aasha {
    position: absolute;
    width: 14%;
    top: 44%;
    left: 9%;
}
.btnNavigationSong {
    width: 100%;
    height: 22%;
    top: 85%;
    z-index: 9999;
    position: absolute !important;
}
.commonNavBtn {
    border: none;
    border-radius: 25px;
    width: 180%;
    height: 39%;
    background-color: rgb(255, 127, 120);
    font-size: 4vmin;
    font-family: Sniglet !important;
    color: white;
}
.totalsequence{
	display: none;
}
.instruction_highlight{
	color: #f5f5f5;
	background: #e07e00;
	color: #FFF175;
	width: 100%;
}
.bg1{
    background: url("../images/bg_play-time.png");
    background-size: 100% 100%;
}
.corincor{
	position: absolute;
	width: 60%;
	left: 100%;
	top: 50%;
	display: none;
}
@media (min-aspect-ratio: 4/3){
	.playtime{
		font-size: 10vmin;
	}
	.top_text{
		font-size: 7vmin;
	}
	.top_instruction{
		font-size: 5vmin;
	}
	.number1, .number2, .number3, .number4, .number5,.animalnumber,.dogtag,.goattag,.hentag,.cowtag
	{
		font-size: 3.5vmin;
	}
	.question_div{
		font-size: 4vmin;
	}
	.dogcolor,.hencolor,.goatcolor,.cowcolor{
		font-size: 5vmin;
	}

}
