/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	font-size: 5em;
}
.center-text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}

.center-text-2{
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	height: 25%;
	transform: translate(-50%, -50%);
	background-color: #FFD966;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #CC4125;
}

.top-title{
	position: absolute;
	top: 0%;
	left: 8%;
	width: 15%;
	height: 15%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3D85C6;
	border: 1px solid #5E6F7E;
}

.side_description, .side_description_yellow{
	padding: 1%;
	position: absolute;
	right: 2.5%;
	width: 27%;
	border-radius: 3vmin;
}
.side_description_yellow{
	background-color: #FFE599;
	border: 0.5vmin solid #F1C232;
}

.side_description{
	background-color: #9FC5E8;
	border: 0.5vmin solid #4781D9;
}

.side_description>p,.side_description_yellow>p{
	text-align: left;
}

.side_description_1{
	top: 20%;
	height: 60%;
}
.side_description_1>img{
	position: relative;
	top: 5%;
	width: 60%;
}
.side_description_1>p{
	position: relative;
	top: 15%;
	margin-top: 5%;
}

.side_description_2{
	top: 50%;
	height: 40%;
}
.side_description_2>img{
	position: relative;
	transform: translateY(-50%);
	width: 80%;
	top:17%;
}
.side_description_2>p{
	position: absolute;
	bottom: 5%;
}

.side_description_yellow_1, .side_description_yellow_2{
	bottom: 15%;
	height: 40%;
}
.side_description_yellow_1>img{
	position: relative;
	transform: translateY(-50%);
	width: 60%;
	width: 40%;
	top: 15%;
}
.side_description_yellow_1>p, .side_description_yellow_2>p{
	position: absolute;
	bottom: 15%;
}

.side_description_yellow_2>img{
	position: relative;
	transform: translateY(-60%);
	width: 100%;
	top: 31%;
}
.image_left_1{
	position: absolute;
	top: 15%;
	left: 6%;
	width: 25%; 
}
.image_left_2{
	position: absolute;
	top: 15%;
	left: 35%;
	width: 25%;
}

.bottom_text_block{
	position: absolute;
	top: 75%;
	left: 8%;
	width: 65%;
	text-align: left;
}

.image_left_1_1{
	position: absolute;
	bottom: 30%;
	left: 8%;
	width: 28%; 
}
.image_left_2_1{
	position: absolute;
	bottom: 30%;
	left: 37%;
	width: 28%;
}
.image_center{
	position: absolute;
	bottom: 30%;
	left: 8%;
	width: 60%; 
}


.image_right_1{
	position: absolute;
	bottom: 18%;
	right: 4%;
	width: 25%;
}
.image_right_1_ear{
	position: absolute;
	bottom: 21%;
	right: 2%;
	width: 25%;

}
.image_right_1_nose{
	position: absolute;
	bottom: 21%;
	right: 3%;
	width: 25%;
}
.image_right_2{
	position: absolute;
	bottom: 10%;
	right: 30%;
	width: 27%;
}

.image_top_1{
	position: absolute;
	top: 0%;
	left: 15%;
	height: 60%;
}

.wrong_div{
	position: absolute;
	right: 0.5%;
	height: 55%;
	bottom: 15%;
	border: 0.4vmin solid #EF74A3;
	border-radius: 50%;
	width: 30%;
}

.wrong_div:after{
	content: '';	
	position: absolute;
	background: url('../images/wrong.png');
	background-size: 100% 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
	width: 20%;
	height: 20%;
}

.left_text_block{
	position: absolute;
	top: 25%;
	left: 8%;
	width: 35%;
	text-align: left;
}
.left_text_block>*, .bottom_text_block_1>*{
	margin-top: 5%;
}
.bottom_text_block_1{
	position: absolute;
	bottom: 15%;
	left: 6%;
	width: 65%;
	text-align: left;
}




/*------ for popup block -----------*/
.popup_hygiene{
	display: none;
	position: absolute;
	top: 50%;
	height: 76%;
	left: 50%;
	width: 68%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 0.5vmin solid #EEB422;
	padding: 2%;
	z-index: 50;
}

.popup_header{
	position: absolute;
	top: 5%;
	left: 5%;
	color: white;
	background-color: #926BA9;
	width: 23%;
	text-align: center;
	padding: 1% 0%;
	border-radius: 1vmin;
}

.popup_hygiene>.hyg_img{
	position: absolute;
	right: 2%;
	bottom: 5%;
	width: 38%;
}

.popup_text_block{
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
	width: 55%;
}
.popup_text_block>*{
	text-align: left;
	margin: 0% 2%;
}

.wrong_button{
	position: absolute;
	right: 0%;
	top: 0%;
	transform: translate(50%,-50%);
	/*background-color: #FF3643;*/
	/*border-radius: 50%;*/
	width: 10%;
	cursor: pointer;
	z-index: 50;
	/*overflow: hidden;*/
	/*padding: 1.5%;*/
}

.thumbs{
	position: absolute;
	width: 18%;
	height: 35%;
}

.thumbs>p{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	background-color: rgb(120,121,196);
	border-radius: 1vmin;
	color: white;
	padding: 4% 1%;
	font-size: 1.4vw;
}
.thumbs>img{
	position: absolute;
	width: 100%;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}
.thumb-1{
	top: 33%;
	left: 1%;
}
.thumb-2{
	top: 1%;
	left: 20%;
}
.thumb-3{
	top: 1%;
	left: 47%;
}
.thumb-4{
	top: 1%;
	left: 72%;
}

.thumb-5{
	top: 33%;
	right: 1%;
}

.thumb-6{
	bottom: 1%;
	left: 20%;
}
.thumb-7{
	bottom: 1%;
	left: 40%;
}
.thumb-7>p{
	top: 0%;
	bottom: auto;
}
.thumb-7>img{
	top: 15%;
	bottom: auto;
}
.thumb-8{
	bottom: 1%;
	left: 60%;
}
.clean-center-text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
	color: rgb(255,91,74);
}

.title-text{
	position: absolute;
	left: 50%;
	top: 5%;
	width: 95%;
	transform: translateX(-50%);
	color: rgb(255,91,74);
}
.character-2{
	position: absolute;
	bottom: 10%;
	height: 70%;
	left: 40%;
}
/*--------- for arrows and boxes -----------*/
.drop-box{
	position: absolute;
	cursor: pointer;
	width: 12%;
	height: 8%;
	z-index: 10;
	position: absolute;
	left: 0%;
	background-color:#7879C4;
	color: white;
	font-family: Pangolin;
	border-radius: 1vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}
.arrow{
	position: absolute;
	height: .3vmin;
	background-color: #FF5B4A;
	z-index: 5;
}


.box-1{
	left: 9%;
	top: 58%;
}
.arrow-1{
	left: 20%;
	width: 21.8%;
	top: 61.3%;
}

.box-2{
	left: 13%;
	top: 42%;
}
.arrow-2{
	left: 24%;
	width: 28%;
	top: 40.5%;
	transform: rotate(-14.5deg);
}

.box-3{
	left: 13%;
	top: 29%;
}
.arrow-3{
	left: 24%;
	width: 22.5%;
	top: 33%;
}


.box-4{
	left: 75%;
	top: 52%;
}
.arrow-4{
	left: 61%;
	width: 16%;
	top: 51%;
	transform: rotate(25deg);
}

.box-5{
	left: 72%;
	top: 83%;
}
.arrow-5{
	left: 55%;
	width: 20%;
	top: 87%;
}


.box-6{
	left: 70%;
	top: 33%;
}
.arrow-6{
	left: 51.5%;
	width: 30%;
	top: 36.6%;
}


.box-7{
	left: 70%;
	top: 20%;
}
.arrow-7{
	left: 51.5%;
	width: 30%;
	top: 24%;
}

.box-8{
	left: 25%;
	top: 15%;
}
.arrow-8{
	left: 31%;
	width: 18%;
	top: 27%;
	transform: rotate(17deg);
}
.wrongimg{
	position: absolute;
	width: 5%;
	top: 32%;
	right: 4%;
	z-index: 1;
}



/*=====  End of Custom Style  ======*/
