<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
	$cssLoader("css/sweetalert.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script><!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->

<div class="transformation">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
	<div id="divId"></div>
</div>


 <SCRIPT language=Javascript>
      <!--
      function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

         return true;
      }
      //-->
   </SCRIPT>


<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, footer, headerfooter
        or only has content --}}
    {{#if hasonlyheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasonlyheaderblock">
        {{else}}
            {{#if hasonlyfooterblock}}
                <div class="generaltemplateblock" data-templatecontains="hasonlyfooterblock">
            {{else}}
                {{#if hasheaderfooterblock}}
                    <div class="generaltemplateblock" data-templatecontains="hasheaderfooterblock">
                {{else}}
                    <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
                {{/if}}
            {{/if}}
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}

    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}

            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
            {{/if}}

             {{#if middletextblock}}
                {{#each middletextblock}}
                    {{> textcontent}}
                {{/each}}
            {{/if}}




            {{#if svgblock}}
            <div class="svgwrapper {{svgblockadditionalclass}}">
                {{#each svgblock}}
                    {{> svgcontent}}
                {{/each}}
            </div>
            {{/if}}
              {{#if textlistblock}}
            <div class="textlistblock">
                {{#each textlistblock}}
                    {{> textlistcontent}}
                {{/each}}
            </div>
            {{/if}}

			<!--added by manish-->
			{{#if videoblock}}
			 <div class="videoblock {{videoblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each videoblock}}
                        {{> videocontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>

			{{/if}}
			<!--end-->

            {{#if lowertextblock}}
            <div class="lowertextblock {{lowertextblockadditionalclass}}">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if usageslowrevealblock}}
                <div class="usageslowrevealblock">
                    {{#each usageslowrevealblock}}
                        {{> usageslowrevealcontent}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if timetothink}}
                {{#each timetothink}}
                    {{> timetothinkcontent}}
                {{/each}}
            {{/if}}

            {{#if usageblock}}
            <div class="usageblock">
                {{#each usageblock}}
                    {{> usagecontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if propertyblock}}
            <div class="propertyblock">
                {{#each propertyblock}}
                    {{> propertycontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if propertysummaryblock}}
            <div class="propertysummaryblock">
                {{#each propertysummaryblock}}
                    {{> propertysummarycontent}}
                {{/each}}
            </div>
            {{/if}}



			 {{#if tableblock}}
            <div class="tableblock {{tableblockadditionalclass}}">

				{{#each tableblock}}
                    {{> tablecontent}}
                {{/each}}
            </div>
            {{/if}}


        </div>
        </div>
    {{! content block end--}}


	 {{! instruction block start--}}
        {{#if instructionblock}}
            <div class="instructionblock {{instructionblockadditionalclass}}" data-instructionblockshow="true">
                {{#each instructionblock}}
                    {{> instructioncontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! instruction block end--}}


    {{! footer block start--}}
        {{#if footerblock}}
            <div class="footerblock">
                {{#each footerblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! footer block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" id="{{imagelabelid}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>


<script id="instructioncontent-partial" type="text/x-handlebars-template">
    <div class="instructionsets">
        <ol class="vertical-horizontal-center">
            {{#each instruction}}
            <li class="text-primary" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{this}}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="toggleinstructionblock">
        <span class="glyphicon glyphicon-chevron-down"></span>
         <div class="glossy"></div>
    </div>
</script>




<script id="cardcontent-partial" type="text/x-handlebars-template">
    <div class="card_block{{@index}}" data-hasimage="{{cardblockhasimageflag}}">
        <div class="content_wrapper_card_block">
            {{#if cardtitle}}
                {{#each cardtitle}}
                    <p class="card_title">{{{this}}}</p>
                {{/each}}
            {{/if}}
            <div class="card_content">
                {{#each cardcontenttext}}
                    <p class="card_content_text" data-highlight="{{datahighlightflag}}">{{{cardcontenttextdata}}}</p>
                {{/each}}
            </div>
        </div>
        {{#if cardimage}}
            {{#each cardimage}}
                <img class="card_content_image" src="{{this}}"/>
            {{/each}}
        {{/if}}
    </div>
</script>

<script id="usageslowrevealcontent-partial" type="text/x-handlebars-template">
    <p class="usageheading">{{usageheadingdata}}</p>
    {{#each cardcontentblock}}
        {{> cardcontent}}
    {{/each}}
    <div class="nextusageBtn myNextStyle"></div>
</script>

<script id="timetothinkcontent-partial" type="text/x-handlebars-template">
    <div class="timeToThink">
        <figure>
            <img src="{{timeToThinkImageSource}}">
            <figcaption>{{timeToThinkTextData}}</figcaption>
        </figure>
        <p class="paratextstyle">{{{timeToThinkInstructionData}}}</p>
    </div>
</script>

<script id="svgcontent-partial" type="text/x-handlebars-template">
     <div class="{{svgname}}">{{!-- load actual svg image here --}}</div>
     {{!-- load snap svg --}}
     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
</script>

<script id="textlistcontent-partial" type="text/x-handlebars-template">
    <ul class="{{olclassname}}">
        {{#each listtype}}
            <li>{{listtypedata}}</li>
            {{#if listsubtype}}
                <ul>
                {{#each listsubtype}}
                    <li>{{listsubtypedata}}</li>
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ul>
</script>

<script id="usagecontent-partial" type="text/x-handlebars-template">
    <b class="usageheading">{{usageheadingdata}}</b>
    <p class="usagetext">{{usagetextdata}}</p>
    <div class="explainusage">
        {{#if explainusageimagecontent}}
            <div class="explainusageimagecontainer">
                {{#each explainusageimagecontent}}
                    <img src="{{explainusageimgsrc}}">
                {{/each}}
            </div>
        {{/if}}
        {{#if explainusagetextcontent}}
            {{#each explainusagetextcontent}}
            <blockquote class="explainusagetext" data-highlight="{{texthighlightflag}}">{{{explainusagetextdata}}}</blockquote>
            {{/each}}
        {{/if}}
    </div>
</script>

<script id="propertycontent-partial" type="text/x-handlebars-template">
    <div class="propertylistcontainer">
        <h4>{{propertycontainerheadingdata}}</h4>
        {{#if propertycontainerlist}}
            {{#each propertycontainerlist}}
                <p><span>{{propertylistcount}}</span><small>{{propertylistdata}}</small> </p>
            {{/each}}
        {{/if}}
    </div>
    <div class="explainpropertycontainer">
        <div class="mainproperty"><span>{{mainpropertycount}}</span><p>{{mainpropertytext}}</p>
        </div>
        <div class="propertyexplain">
            <img src="{{propertyexplainimgsrc}}">
            <p>{{propertyexplaindata}}</p>
        </div>
    </div>
</script>

<script id="propertysummarycontent-partial" type="text/x-handlebars-template">
    <ul>
        <div>{{propertysummaryheadingdata}}</div>
        {{#each propertysummarylist}}
        <li><span>{{propertysummarylistcount}}</span> <p>{{propertysummarylistdata}}</p> </li>
        {{/each}}
    </ul>
</script>

<!--aded for video-->
<script id="videocontent-partial" type="text/x-handlebars-template">
{{#each videotoshow}}
	<video  autoplay="autoplay" class="{{vdoclass}}" id="myVideo">
		<source src="{{vdeosrc}}" type="video/webm" id="vdo1">
		<source src="{{vdeosrc2}}" type="video/mp4" id="vdo2">
	</video>
	<button class="replay {{replaynew}}" type="button" onclick="restart()">{{replaytext}}</button>



{{/each}}

</script>
<!--end of added for videos-->

<!--added for input-->



<script id="tablecontent-partial" type="text/x-handlebars-template">
		<table>
		{{#if tableheading}}
                    <tr class="">
      {{#each tableheading}}
        <th>{{this}}</th>
      {{/each}}
      </tr>
       {{/if}}



  <tr>
    <td class=""></td>
	<th  class="input1"><input id ="inone"  maxlength="1" onkeypress="return isNumberKey(event)" type="text" class="base1" >
    </th>

    <th class="input2"><input  id ="intwo"  maxlength="1" onkeypress="return isNumberKey(event)" type="text" class="base2">
    </th>


  </tr>



    </table>


<div class="sumcheck">
            <p class="check" data-cls="{{couter}}"></p>

</div>


</script>


<!--end-->


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.js");
	$jsLoader("js/pause.js");
	$jsLoader("js/sweetalert.min.js");
</script>
