body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 0%;
	margin-top: 9%;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.ex-number-template-score {
    top: 0.5%;
}

/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/
/*top to bottom dragdiv*/
.blueBg{
  background: #ffccbb;
}
.background{
  position: absolute;
  top: 19%;
  left: 0%;
  width: 100%;
}
[class*=topInstrn]{
  position: absolute;
  top: 0%;
  padding: 1%;
  background: #c1e5ff;
  width: 100%;
  height: 10%;
}
[class*=tpInstrnSec]{
  top: 10%;
  background: #216e99;
  color: #fff;
  z-index: 5;
}
.qn_top{
  position: absolute;
  left: 50%;
  width: 80%;
  transform: translate(-50%);
}
.secTyp_SecInstrn{
	position: absolute;
	position: absolute;
	top: 14%;
	left: 0%;
	width: 100%;
	height: 15%;
}
.secTyp_SecInstrn p{
  text-align: left;
}
/*mcq */

.optionsdiv {
  bottom: 0%;
  display: flex;
  left: 0%;
  flex-direction: row;
  text-align: left;
  position: absolute;
  height: 25%;
  width: 100%;
  justify-content: space-around;
  z-index: 5;
}
.optionsdivSecType{
  width: 40%;
  top: 65%;
  height: 55%;
  flex-direction: column;
  transform: translateY(-50%);
  z-index: 5;
}
.topSxty{
  bottom: 60%;
}
.optionscontainer {
  width: 50%;
}
.opnContLong{
  width: 100%;
}
.imagestartpos {
  position: absolute;
  width: 10%;
  display: none;
  left: 88%;
  top: 39%;
}
.top57{
  top: 57%;
}
.t30{
  top: 15%;
}
.optionsdiv p {
  padding: 2%;
  background: #674ea7;
  border-radius: 15px;
  border: 5px solid #674ea7;
  font-family: sniglet;
  width: 75%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}


.forhover:hover {
    background: #f6b26b;
    border: 5px solid #e69138;
    color: #000;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}

.twoImgsCont{
  position: absolute;
  top: 25%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.singleImgCont{
  position: absolute;
  bottom: 16%;
  right: 2%;
  width: 41%;
  height: 60%;
  border-radius: 1em;
}
.singleImg{
  position: absolute;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%,-50%); */
  width: 100%;
  border-radius: 2em;
}
.s5Img{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 30%;
}

[class*=hidn]{
  display: none;
}
[class*=flexImages]{
  position: relative;
  width: 76%;
  border-radius: 1em;
}
.imgstoshowdiv{
  position: relative;
  width: 50%;
}

.clickableoptn{
  position: absolute;
  top: 100%;
  left: 50%;
  width: 69%;
  height: 20%;
  transform: translate(-50%);
}
.imgButtons{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;
  padding: 4%;
  background: #4d90fe;
  border: 3px solid #4d90fe;
  color: #fff;
  border-radius: .5em;
  width: 80%;
  font-size: 4vh;
}
 /*----------------------type 5 exercise end---------------------*/
 @media screen and (min-aspect-ratio: 4/3) {
 	/*vh*/
 	.boxtxt{
 		font-size: 3vh;
 	}
 .topqn, .secqn, .optionsdiv p {
 		font-size: 4vh;
 	}
  .qn_top{
  		font-size: 5vh;
  }
 }
 @media screen and (max-aspect-ratio: 4/3) {
 	/*vh*/
 	.boxtxt, .topqn, .optionsdiv p {
 		font-size: 1.5vw;
 	}
  .qn_top{
  		font-size: 1.5vw;
  }
 }
