.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 0%;
	margin-top: 9%;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}

/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/
.bg-green{
	background-color: #84CFAC;
}
.bg-dark-overlay{
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: #6BC497;
}
.instruction{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	padding: 2% 2%;
	background-color: #FFD966;
	color: black;
	font-family: happymonkey;
	text-align: center;
	font-size: 3vw;
}
.question{
	position: absolute;
	top: 65%;
	width: 100%;
	left: 0%;
	text-align: center;
	font-size: 3vw;
	font-family: happymonkey;
}
@media(min-aspect-ratio:4/3){
	.instruction{
		font-size: 4vh;
	}
	.question{
		font-size: 4vh;
	}
}

.optionsdiv{
	position: absolute;
	top: 75%;
	left: 2.5%;
	width: 95%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.optionscontainer{
	cursor: pointer;
	position: relative;
	background-color: #FFE599;
	height: 100%;
	padding: 0% 2%;
	font-size: 2.3vw;
	border-radius: 1.5vmin;
	font-family: proximanova;
}
.optionscontainer:hover{
	background-color: #F9CB9C;
	border: 0.5vmin solid #E69138;
}
#opt-2{
	width: 20%;
}
.optionscontainer>p{
	position: relative;
	left: 0%;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.rightwrong{
	display: none;
	position: absolute;
	height: 70%;
	top: 65%;
	left: 100%;
	transform: translateX(-50%);
}
@media(min-aspect-ratio:4/3){
	.optionscontainer{
		font-size: 3.0vh;
	}
}
.ex-image{
	position: absolute;
	bottom: 42.5%;
	height: 40%;
	left: 50%;
	transform: translateX(-50%);
}


.submit-btn{
	position: absolute;
	cursor: pointer;
	bottom: 1%;
	right: 15%;
	width: 15%;
	padding: 1% 0%;
	border-radius: 2vmin;
	background-color: #FFCD53;
	border: 0.5vmin solid #B45F06;
	font-size: 2.3vw;
}
.submit-btn:hover{
	filter: contrast(150%);
	-webkit-filter: contrast(150%);
}
@media(min-aspect-ratio:4/3){
	.submit-btn{
		font-size: 3.0vh;
	}
}
.final-text{
	position: absolute;
	display: none;
	top: 75%;
	left: 5%;
	width: 90%;
	padding: 1.5% 0%;
	border-radius: 1.5vmin;
	background-color: #FFFFFF;
	color: #270000;
	z-index: 5;
	font-family: happymonkey;
	font-size: 2.5vw;
}
@media(min-aspect-ratio:4/3){
	.final-text{
		font-size: 3.3vh;
	}
}
.ex-number-template-score {
	top: 17.5%;
}




.incorrect-opt{
	background-color: #FF0000;
	border: 0.5vmin solid #970403;
}

.correct-opt{
	background-color: #92AF3B;
	border: 0.5vmin solid #ADBD3F;
}













