/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#int2
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
background-image: url("../bg.png");}

/*for all elements make sure that it does not inherit margin and padding*/
#int2 *{
	margin:0;
	padding:0;	
}
/*------------------------------------------------------------------------------------------*/
/*default color for all elements*/
#int2{
	color: black;
}

/*heading*/
#int2topic{
	/*display: none;*/
	position: absolute;
	top:2%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	font-weight: bolder;
	color:#D93537;
	border-bottom:0.2em solid rgba(217, 53, 55,0.6);
}

/*options div*/
#options{
	position: absolute;
	top:15%;
	left:5%;
	width:90%;
	height:70%;
	/*border:1px solid red;*/
}

#options > figure{
	position: absolute;
	top:25%;
	left:0%;
	width: 30%;
	height: 50%;
	/*border:1px dotted blue;*/
}

#options > figure:nth-of-type(2){
	left:35%;
}

#options > figure:nth-of-type(3){
	left:70%;
}

#options > b{
	position: absolute;
	top:0%;
	width: 100%;
	text-align: center;
	color: #EB4A33;
	font-size: 1.5em;
}

#options > figure > img{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	border-radius:50%;
	border: 0.3em solid rgba(0,0,0,0.2);
	/*transition*/
	-webkit-transition: border-radius 0.5s; /* For Safari 3.1 to 6.0 */
    transition: border-radius 0.5s;
}

#options > figure > img:hover{
	border-radius: 5%;	
	cursor: pointer;	
}

#options > figure > figcaption{
	position: absolute;
	top:100%;
	width: 100%;
	text-align: center;
	color:brown;
	font-size: 1.2em;
}

/*examples div */
#examples{
	
	position: absolute;
	top:10%;
	width:100%;
	height:90%;
	/*border:1px dashed darkred;*/
}

/*all example divs inside examples div*/
#examples > div{
	display: none;
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height: 100%;
	/*border:1px dotted blue;*/
}

#examples > div > em:nth-of-type(1){
	position: absolute;
	top:0%;
	left:10%;
	width:80%;
	text-align: center;
	font-size: 1.3em;
	color:darkgreen; 	
}

/*example1 - banking*/
#ex1Collect{
	position: absolute;
	top:10%;
	left:5%;
	width: 20%;
	height: 85%;
	/*border:2px solid black;*/
}

#ex1Collect > img{
	position: relative;
	width:100%;
	height:30%;
	border:0.3em solid rgba(0,0,255,0.2);
	border-radius: 5%;
	cursor:pointer;
}

#ex1Collect > img:nth-of-type(-n+2){
	margin-bottom:12%;
}

#ex1Detail{
	display: none;
	position: absolute;
	top:15%;
	left:30%;
	width:70%;
	height:80%;
	/*border:2px dashed blue;*/
}

#ex1Detail > strong{
	position: absolute;
	top:0%;
	width: 100%;
	text-align: center;
	font-size: 1.1em;
}

#names{
	position: absolute;
	top:45%;
	left:15%;
	width:70%;
	height:10%;
	/*border:1px solid red;*/
}

#names > p:nth-of-type(1){
	position: absolute;
	/*since name can expand in leftside and wont overlap figure give right attribute*/
	right:80%;
	color:#35203B;
	font-size: 1.2em
}

#names > p:nth-of-type(2){
	position: absolute;
	/*since name can expand in rightside and wont overlap figure give left attribute*/
	left:79%;
	color:#911146;
	font-size: 1.2em
}


#ex1Detail > img{
	position: absolute;
	top:10%;
	width:40%;
	left:30%;
}

#ex1Detail > ul{
	position: absolute;
	top:65%;
	left:5%;	
	width:90%;
	text-align:justify;
	/*border:1px solid red;*/
}

#ex1Detail > ul > li{
	font-size: 1.3em;	
	list-style-position: outside;
	list-style-type: disc;
}

#ex1Detail > ul > li:nth-of-type(1){
	color: darkred;
}
#ex1Detail > ul > li:nth-of-type(2){
	color: darkgreen;
}

/*instruction ex2*/
#ex1 > p{
	position: absolute;
	top:50%;
	left:40%;
	width: 50%;
	text-align: center;
	font-size: 1.3em;
	color:#EF5223;
}

/*example 2 - solu*/
#soluHot , #soluCold{
	position: absolute;
	top:10%;
	left:20%;	
	width:60%;
	height:60%;
	/*border :1px dotted blue;*/
}

#soluCold{
	display: none;
}

#soluHot > img:nth-of-type(1),#soluCold > img:nth-of-type(1){
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
}

#soluHot > img:nth-of-type(2),#soluCold > img:nth-of-type(2){
	display: none;
	position: absolute;
	top:0%;
	left:-18%;
	width:14%;
	cursor:pointer;
}


#ex2 > p{
	position:absolute;
	top:85%;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	color:blue;
}

#ex2 > strong{
	display: none;
	position:absolute;
	top:93%;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	color:brown;
}

#examples > div > div:last-child{
	position: absolute;
	top:1%;
	right:1%;
	width:5%;
	height: 9%;
	cursor: pointer;
	border: none;
}
/*
#examples > div > span:hover{
	text-shadow:0em 0em 0.3em rgba(0,0,255,0.8);
	cursor:pointer;
}
*/

/*example 3 height*/
#ex3detail{
	position: absolute;
	font-size: 1.2em;
	top:87%;
	width:100%;
	padding:0% 2%;
	text-align: center;
	color:#F33343;
}

#ex3image{
	position: absolute;
	top:15%;
	width: 100%;
	height:70%;
	/*border:1px solid red;*/
}

#ex3image > img{
	position: absolute;
	top:0%;
	left:25%;
	width:50%;
	height:100%;
}

#range{
	position: absolute;
	top:5%;
	left:17%;
	width: 8%;
	height:90%;
	/*border:1px solid blue;*/
}

#range > em{
	position: absolute;
	font-size: 1.4em;
	top:40%;
	right:10%;
	width:140%;
	/*border:1px solid red;*/
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

#range > b{
	position: absolute;
	font-size: 1.3em;
	right:0%;
	top:7%;
}

#range > b:nth-of-type(2){
	top:43%;
}

#range > b:nth-of-type(3){
	top:89%;
}

#labelHill{
	font-size: 1.3em;
	position: absolute;
	top:9%;
	left:57%;
	color:#EA44A3;
}

#labelGround{
	font-size: 1.3em;
	position: absolute;
	top:79%;
	left:57%;
	color:#EA44A3;
}

#labelGorge{
	font-size: 1.3em;
	position: absolute;
	top:86%;
	left:38.5%;
	color:#EA44A3;
}

/*empty divs for hover*/
#overhill{
	position: absolute;
	top:15%;
	left:27%;
	width:44%;
	height:31.5%;
	cursor: pointer;
	/*border:1px solid green;*/
}

#overGround{
	position: absolute;
	top:46%;
	left:27%;
	width:47%;
	height:1.5%;
	cursor: pointer;
	/*border:1px solid blue;*/
}

#overGorge{
	position: absolute;
	top:48%;
	left:27%;
	width:44%;
	height:40%;
	cursor: pointer;
	/*border:1px solid green;*/
}