.metalnonmetal {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.metalnonmetal, .metalnonmetal * {
	position: relative;
	margin: 0;
	padding: 0;
}

.metalnonmetal .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 15%;
	cursor: pointer;
	z-index: 5;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.metalnonmetal .nextBtn:hover{
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.metalnonmetal .nextBtn:active{
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.metalnonmetal .board {
	width: 100%;
	height: 100%;
	padding: 1%;
	background: #F9FCF3;
}
.metalnonmetal .board .exception {
	display: inline-block;
	width: 20%;
}

.metalnonmetal .board .exception img {
	width: 100%;
}

.metalnonmetal .board .exception span {
	position: absolute;
	bottom: 2%;
	display: inline-block;
	/*background: #c9c9c9;*/
	width: 90%;
	left: 5%;
	text-align: center;
	font-size: 1.6em;
}

.metalnonmetal .board .introText {
	text-align: center;
	margin: auto;
	width: 70%;
	/*background: rgba(103, 216, 224,0.4);*/
	padding: 5px;
	font-size: 1.6em;
	/*border: 2px solid #67D8E0;*/
	border-radius: 10px;
	display: inline-block;
	vertical-align: bottom;
}

.metalnonmetal .board .subtitle {
	margin-top: 0.6%;
	text-align: center;
	font-size: 1em;
}

.metalnonmetal .board .wrapImg {
	margin-top: 0%;
	text-align: justify;
}

.metalnonmetal .board .wrapImg>div {
	width: 30%;
	display: inline-block;
	padding-right: 0.5%;
	margin: auto;
	margin: 1.2%;
	vertical-align: top;
}

.metalnonmetal .board .wrapImg div span.fullText {
	/*display: inline-block;*/
	width: 100%;
	/*margin-top: 5%;*/
	text-align: center;
	/*display: none;*/
}

.metalnonmetal .board .wrapImg img {
	width: 100%;
}

.metalnonmetal .board .wrapImg div .imgAdd {
	position: relative;
	width: 100%;
	/*height: 50%;*/
	cursor: pointer;
	border: 2px solid #00B5EA;
	box-shadow: 0 5px 5px -5px #383838;
}
.metalnonmetal .board .wrapImg div .imgAdd:after {
	/*position: absolute;*/
	content: "";
    display: block;
    /*background-color: #000;*/
    width: 15%;
    height: 25%;
    bottom: 1%;
    right: 5%;
    position: absolute;
	background-image: url("../../../../../images/clickme_icon.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.metalnonmetal .board .wrapImg div.active {
	box-shadow: 5px 5px 10px -5px #6A6B68;
	border-bottom-right-radius: 10px;
	padding-bottom: 10%;
}

.metalnonmetal .board .descText {
	margin: auto;
	padding-top: 1%;
	text-align: left;
	width: 95%;
	font-size: 1.3em;
}

.metalnonmetal .board .magnetic {
	margin: auto;
	margin-top: 5%;
	width: 85%;
	text-align: left;
}

.metalnonmetal .board .imgMagnet {
	margin: auto;
	padding:3%;
	width: 45%;
}

.metalnonmetal .board .imgMagnet img {
	width: 100%;
}

.metalnonmetal .board .wrapImg .fullText span.highlight, .metalnonmetal .board .magnetic span.highlight{
	display: inline;
	color: #A13138;
	text-decoration: underline;
	margin: 0;
	/*display: none;*/
}
.metalnonmetal .board .wrapImg div .imgAdd.hideHand:after{
	background-image: none;
}
