.metalnonmetal {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.metalnonmetal, .metalnonmetal * {
	position: relative;
	margin: 0;
	padding: 0;
}

.metalnonmetal .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 15%;
	cursor: pointer;
	z-index: 5;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.metalnonmetal .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:3%;
	width: 6%;
	height: 15%;
	cursor: pointer;
	z-index: 5;
	/*background-image: url("../../../../../images/arrows/arrow.png");*/
	/*background-repeat: no-repeat;*/
	background-size: contain;
}

.metalnonmetal .nextBtn:hover{
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.metalnonmetal .nextBtn:active{
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.metalnonmetal .board {
	width: 100%;
	height: 100%;
}

.metalnonmetal .board .introText {
	margin: auto;
	text-align: center;
	margin-top: 30%;
	font-size: 2em;
}

.metalnonmetal .board .wrapperProperty {
	width: 100%;
	height: 100%;
	padding: 3%;
	padding-right: 0;
}

.metalnonmetal .board .wrapperProperty .propertyList {
	display: inline-block;
	padding-top: 5%;
	height: 100%;
	width: 27%;
	vertical-align: top;
}
.metalnonmetal .board .wrapperProperty .propertyList ul {

	/*background: rgba(0, 201, 219, 0.5);*/
	background: #fff;
	height: 100%;
	width: 100%;
	border: 2px solid #945134;
	/*border-radius: 10px;*/

}

.metalnonmetal .board .wrapperProperty .propertyList .listTitle {
	/*background: rgba(0, 201, 219, 1);*/
	background: #945134;
	color: #fff;
	padding: 0.1em;
	font-size: 1.3em;
	/* border-top-right-radius: 9px;
	border-top-left-radius: 9px; */
	text-align: center;
}

.metalnonmetal .board .wrapperProperty .propertyList ul li {
	padding: 5px;
	/*border-bottom: 1px solid #67D8E0;*/
	/*color: rgba(42, 101, 88, 1);*/
}

.metalnonmetal .board .wrapperProperty .propertyList ul li span.index {
	background: #945134;
	color: #fff;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin-right: 0.2em;
	text-align: center;
	display: inline-block;
}

.metalnonmetal .board .wrapperProperty .propertyMain {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	margin-left: 1%;
}

.metalnonmetal .board .wrapperProperty .propertyMain img {
	width: 100%;
}

.metalnonmetal .board .wrapperProperty .propertyMain .propertiesTitle {
	text-align: left;
	font-size: 1.5em;
	border-top: 2px solid #FF9207;
}

.metalnonmetal .board .wrapperProperty .propertyMain .propertiesTitle span.num {
	background: #FF9207;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	color: #fff;
}

.metalnonmetal .board .wrapperProperty .propertyMain .propertiesDesc {
	border: 2px solid #00C9DB;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	display: none;
	width: 90%;
	margin-top: 1%;
}

.metalnonmetal .board .wrapperProperty .propertyMain .propertiesImg {
	margin: auto;
	margin-top: 5%;
	width: 70%;
	/*background: #c9c9c9;*/
}

 .metalnonmetal .board .wrapperProperty .propertyMain .moreImg {
 	display: none;
 	width: 100%;
 }

 .metalnonmetal .board .wrapperProperty .propertyMain .moreImg img {
 	width: 45%;
	margin: 1%;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 0 5px #c9c9c9;
 }

.metalnonmetal .board .wrapSummary {
	padding: 10%;
	padding-top: 2%;
}

.metalnonmetal .board .wrapSummary .lastTitle {
	text-align: center;
	margin-bottom: 5%;
}

.metalnonmetal .board .wrapSummary ul {
	border: 1px solid #945134;
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
	text-align: center;
	font-size: 1.3em;
}

.metalnonmetal .board .wrapSummary .listTitle {
	/*background: rgba(0, 201, 219, 1);*/
	background: #945134;
	/* border-top-right-radius: 9px;
	border-top-left-radius: 9px; */
	text-align: center;
	color: white;
	font-size: 1.3em;
	/*font-weight: bold;*/
}

.metalnonmetal .board .wrapSummary ul li {
	padding: 5px;
	text-align: left;
	/* border-bottom: 1px solid #67D8E0;
	color: rgba(42, 101, 88, 1); */
}

.metalnonmetal .board .wrapSummary ul li span.index {
	background: #B7775B;
	color: #fff;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin-right: 0.2em;
	margin-left: 1em;
	text-align: center;
	display: inline-block;
}

.metalnonmetal .board .wrapSummary .periodicText {
	text-align: center;
	margin-top: 5%;
	background: #F9BD6E;
	padding: 5px;
}
