.metalnonmetal {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.metalnonmetal, .metalnonmetal * {
	position: relative;
	margin: 0;
	padding: 0;
}

.metalnonmetal .nextBtn{
	position: absolute;
	z-index: 10;
	top:85%;
	left:93%;
	width: 6%;
	height: 15%;
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
}

.metalnonmetal .nextBtn:hover{
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.metalnonmetal .nextBtn:active{
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.metalnonmetal .board {
	width: 100%;
	height: 100%;
}

.diy{
	width: 100%;
	height: 90%;

	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.diy > figure{
	width: 45%;
	height: 50%;
}

.diy > figure > img{
	width: 100%;
	height: 100%;
}

.diy > figure > figcaption{
	top:-92%;
	left:35%;
	text-align: left;
	font-size: 2em;
	color:#C98865;
}

.diy > p{
	color:black;
	font-size: 1.5em;
	padding: 0% 2%;
}

.metalnonmetal .diyActivity {
	width: 15%;
	padding: 1%;
	display: inline-block;
	vertical-align: top;
	/*background: #000;*/
}

.metalnonmetal .diyActivity .caption {
	position: absolute;
	left: 10%;
	top: 15%;
	width: 80%;
	text-align: center;
	z-index: 5;
	font-size: 1em;
}

.metalnonmetal .diyActivity img {
	width: 100%;
}

.metalnonmetal .objCollections {
	padding-top: 1%;
	width: 80%;
	margin-top: 2%;
	text-align: center;
	display: inline-block;
}

.metalnonmetal .objCollections .bClass {
	border-radius: 100%;
	border: 2px solid #00C9DB;
	background: #fff;
}

.metalnonmetal .objCollections img {
	width: 12%;
	cursor: grab;
}

.metalnonmetal .bucket {
	position: absolute;
	left: 5%;
	bottom: 0%;
	width: 90%;
	height: 40%;
	border: 4px solid #007DC5;
	font-size: 1.6em;
	border-top: none;
	/*border-radius: 10px;*/
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: rgba(0,125,197,0.1);
	text-align: center;
	padding-top: 5%;
}

.metalnonmetal .bucket:before {
	position: absolute;
	top: 0;
	left: -22px;
	content: " ";
	width: 0;
	height: 0;
	border-top: 30px solid #007DC5;
	border-left: 20px solid transparent;
}

.metalnonmetal .bucket:after {
	position: absolute;
	top: 0;
	right: -22px;
	content: " ";
	width: 0;
	height: 0;
	border-top: 30px solid #007DC5;
	border-right: 20px solid transparent;
}

.metalnonmetal .lastText {
	position: absolute;
	z-index: 5;
	width: 100%;
	text-align: center;
	top: 10%;
	font-size: 1.3em;
	display: none;
}

.mytooltip {
	width: 12%;
	text-align: center;
	background: rgba(254,254,254,0.9);
	font-size: 1.3em;
	padding: 5px;
	border: 1px solid #c9c9c9;
}