.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */



.exefin {
	display: none;
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin{
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important; 
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

.jump_rhino {
	-webkit-animation: jump_rhino 0.5s cubic-bezier(0,.5,1,.5);
	animation: jump_rhino 0.5s cubic-bezier(.5,1,1,.75);
}
@keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}
@-webkit-keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}

.zoom_rhino {
	-webkit-animation: zoom_rhino 1s linear forwards;
	animation: zoom_rhino 1s linear forwards;
	animation-delay:0.75s;
	transform-origin: bottom right;
}
.zoom_marks_rhino {
	-webkit-animation: zoom_marks_rhino 1s linear forwards;
	animation: zoom_marks_rhino 1s linear forwards;
	animation-delay:0.75s;
}
@keyframes
zoom_marks_rhino{
	100% {transform: scale(2);right: 35%;  top: 15%;}
}
@-webkit-keyframes
zoom_marks_rhino{
	100% {transform: scale(2); right: 35%; top: 15%;}
}

@keyframes
zoom_rhino{
	100% {transform: scale(2.5);right: 0%;  bottom: 30%;}
}
@-webkit-keyframes
zoom_rhino{
	100% {transform: scale(2.5); right: 0%; bottom: 30%;}
}

/*--------- for exercise -------------*/
.main_bg{
	background: linear-gradient(#0066A4, #FBFCFF);
	
}
/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.instruction_div{
	top: 0%;
	padding: 0% 2%;
	height: 100%;
	width: 100%;
	text-align: left;
}
.instruction_div>*{
	color: white;
	position: relative;
	margin-top: 7%;
}
.question_number{
	text-align: left;
}
.instruction{
	/*font-weight: bold;*/
}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid #FCD172;
	background-color: #6EB260;
	color: white;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	background-color: #BA6B82;
	color: black;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}
.passageblock{
	position: absolute;
	top: 30%;
	width: 50%;
	left: 0%;
	padding: 1%;
	z-index: 10;
	font-size: 2.7vw;
	line-height: 5.4vw;
	text-align: left;
	height: 52%;
	background-color: #2f8f83;
	color: white;
}
.highlight_text{
	font-weight: bold;
	color: #0E1159;
}
.passageblock>p{
	margin: 2% 0%;
}
@media (min-aspect-ratio: 4/3){
	.passageblock{
		font-size: 3.3vh;
		line-height: 4vw;
	}
}
.optionsblock{
	position: absolute;
	padding: 2%;
	height: 68%;
	top: 30%;
	width: 50%;
	right: 0%;
	z-index: 10;
	height:52%;
	background-color: #0b2053;
}

.optioncontainer>p{
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0%;
	transform: translateY(-50%);
	text-algin: center;
}
.optioncontainer{
	position: relative;
	padding: 3%;
	left: 2%;
	height: 20%;
	margin-bottom: 5%;
	width: 90%;
	background-color: #B7E9B0;
	border: 5px solid white;
	border-radius: 2vmin;
	cursor: pointer;
	margin-top:4%;
}
.correct-icon, .incorrect-icon{
	display: none;
	position: absolute;
	width: 10%;
	top: 50%;
	left: 102%;
	transform: translateY(-50%);
}
.optioncontainer:hover{
	background-color: #FCD172;
}

/*-------------------------
 ------- for fonts --------
 --------------------------*/


.my_font_very_big{
	font-size: 4vw;
}

.my_font_big{
	font-size: 3.3vw;
}
.my_font_medium{
	font-size: 2.2vw;
}
.my_font_small{
	font-size: 1.5vw;
}

@media (min-aspect-ratio: 4/3){
	.my_font_very_big{
		font-size: 5vmin;
	}
	.my_font_big{
		font-size: 4vmin;
	}
	.my_font_medium{
		font-size: 3vmin;
	}
	.my_font_small{
		font-size: 2vmin;
	}
}


.myMother{
	left: 56%;
	top: 11%;
}