.bg{
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	background-color:#FAD270;
}
.bgwhite{
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	background-color:#fff;
}
.ispforimage {
	width: 13%;
	margin-left: 1%;
	display: none;
	top: 87%;
	height: 11%;
	left: 40%;
}
.diy_cover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
}
.forhover{
	cursor: pointer;
}

.forhover:hover {
	background-color:#CCCCCC;
    border:4px solid #6FA8DC;
    transform:scale(1.1,1.1);
}
.box1{
	position: absolute;
	top: 15%;
	left: 5%;
	width: 42%;
	height: 74%;
	border:4px solid #FAD270;
}
.box2{
	position: absolute;
	top: 15%;
	right: 5%;
	width: 42%;
	height: 74%;
	border:4px solid #FAD270;
}
.rct{
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: auto;
	overflow:hidden;
}
.rct1{
	position: absolute;
	top: 0%;
	right: 0%;
	width: 100%;
	height: auto;
	overflow:hidden;
}
.textblock {
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:15%;
}
.btmtxt{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	font-size: 2vw;
	padding: 2% 1% 2% 1%;
	border: 4px solid #C9DAF8;
	background-color: #C9DAF8;
	text-align: center;
}
/*.buttonsel {
	position: absolute;
	top: 76%;
	left: 5%;
	width: 90%;
	font-size: 2vw;
	padding: 2% 1% 2% 1%;
	border: 4px solid #C9DAF8;
	background-color: #C9DAF8;
}*/
.imageblock{
	position: absolute;
	top: 10%;
	width: 100%;
	height: 90%;
}
.question{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	font-size:3vw;
	padding:2%;
	text-align:center;
	background-color:#81C1FF;
}
.diytxt{
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	font-size: 5vw;
	font-family: laila;
	font-weight: bolder;
	color:#5B0098;
	text-align: center;
}
/*************************************mediaquery**********************/
@media (min-aspect-ratio:4/3){
	.question{
		font-size:4.2vh;
	}
	.diytxt{
		font-size: 5.5vh;
	}
	.btmtxt{
		font-size: 3.2vh;
	}
}
