@font-face {
    font-family: Comfortaa-Regular;
    src: url("../../../../../fonts/Comfortaa-Regular.ttf");
}
.bg{
	background-color:#81C1FF;
}
.bg1{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.bg2{
	background-color:#FFD4A5;
}
.bggrad{
	background: linear-gradient(#C2D2A2, #F0DE78);
}
.blank1{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:#F0DE78;
	animation:bgclr 3s linear 2s forwards;
}
@keyframes bgclr{
	0%{	background-color:#F0DE78;}
	30%{background-color:#F0DE78;}
	100%{background: linear-gradient(#C2D2A2, #F0DE78);}
}
/*-----------------images---------*/
.basketball{
	position: absolute;
	top: 37%;
	left: 22%;
	width: 60%;
	height: 60%;
	z-index: 50;
}
.sun{
	position:absolute;
	top:10%;
	left:10%;
	width:10%;
	animation:daynight 4s cubic-bezier(0, 0, 0, 0) forwards;
	z-index: 50;
}
@keyframes daynight{
	0%{top:15%;	left:5%;}
	30%{top:5%;	left:35%;}
	60%{top:5%;	left:60%;}
	100%{top:15%;left:90%;}
}

.sun2{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 13%;
	z-index: 50;
}
.sun3{
	position: absolute;
	top: 15%;
	right: 2%;
	width: 10%;
	z-index: 50;
}
.house{
	position: absolute;
	top: 20%;
	left: 30%;
	width: 46%;
}
.manboy{
	position: absolute;
	top: 59%;
	left: 7%;
	height: 35%;
}
/*-----------------texts----------*/
.p1s0{
	position: absolute;
	top: 41%;
	left: 30%;
	width: 40%;
	font-size: 4vw;
	font-family: Comfortaa-Regular;
	color: #fff;
	background-color: #A9A1FF;
	border-radius: 1em;
	padding: 2% 2% 2% 2%;
}
.p1s3{
	position: absolute;
	top: 30%;
	left: 10%;
	color:#fff;
	width: 80%;
	font-size: 3vw;
	font-family: sniglet;
	border-radius: 1em;
	padding: 3% 3% 5% 3%;
	background-color: #EA9999;
}
.p1s2{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	padding: 2%;
	text-align: center;
	background-color: #FCE5CD;
	font-size: 3vw;
}
.sp-1{
	position: absolute;
	top: 18%;
	right: 34%;
	padding: 6% 1% 1% 5%;
	width: 32%;
}
.sp-2{
position: absolute;
top: 40%;
right: 30%;
padding: 5% 1% 1% 1%;
width: 32%;
}
.box{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.txt1{
	position:relative;
	font-size:2vw;
	transform:translateY(-50%);
}
/*************************************mediaquery**********************/
@media (min-aspect-ratio:4/3){
	.p1s2{
		font-size:3.2vh;
	}
	.p1s0,.p1s3{
		font-size:6.5vh;
	}
  .txt1{
    font-size: 3.2vh;
  }
}
