.mixture_exercise2 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.mixture_exercise2, .mixture_exercise2 * {
	position: relative;
	margin: 0;
	padding: 0;
}

.mixture_exercise2 .board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;

	/*border: 1px solid red;*/
}

/*********
*****activity specific******
******************/

.selectionArea{
	position: absolute;
	top: 2%;
	left: 42.5%;
	width: 15%;
	height: 23%;
	/*border: 1px solid red;*/
}

.selectionArea > figure{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.selectionArea > figure:nth-of-type(-n+9){
	display: none;
}

.selectionArea > figure > img{ 
	left: 5%;
	width: 90%;
	height: 80%;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 5px;
}

.selectionArea > figure > figcaption{ 
	text-align: center;
}

.board div.clickSack:hover > p{
	/*on hovering the sack change text color of the sack title*/
	 color:#FD7400; 
}

.board div.homogeneousCollector{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 30%;
	height: 60%;
	/*border: 1px solid red;*/
	background: url("../images/exercise2/sack.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.board div.homogeneousCollector:hover{
	background: url("../images/exercise2/sack_hover.png");
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	cursor: pointer;
}

.homogeneousCollector > p{
	position: absolute;
	font-size: 1em;
	bottom:70%;
	width: 63%;
	left:19%;
	text-align: center;
	background-color: rgba(0,0,0,0.05);
}

/**
** this is the paper effect 
**/
.homogeneousCollector > p:after, .heterogeneousCollector > p:after{
	content: '';
	position: absolute;
	left: 0;
	box-shadow: 0 0 5px black;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow: 0 0 5px black;
	border-radius: 50%;
	width: 100%;
	height: 20px;
	display: block;
	bottom: 0px;
	clip: rect(20px auto 40px auto);
}

.homogeneousCollector > div{
	position: absolute;
	top:31%;
	left: 19%;
	width: 60%;
	height: 60%;

	/*border: 1px solid red;*/
}

.homogeneousCollector > div > img{
	display: none;
	position: absolute;
	width: 47%;
	height: 30%;

	/*border: 1px solid red;*/
}

.homogeneousCollector > div > img:nth-of-type(5){
	bottom: 0%;
	right: 0%;
}

.homogeneousCollector > div > img:nth-of-type(4){
	bottom: 0%;
	left: 0%;
}

.homogeneousCollector > div > img:nth-of-type(3){
	bottom: 35%;
	right: 0%;
}

.homogeneousCollector > div > img:nth-of-type(2){
	bottom: 35%;
	left: 0%;
}

.homogeneousCollector > div > img:nth-of-type(1){
	bottom: 70%;
	right: 0%;
}

.board div.heterogeneousCollector{
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 30%;
	height: 60%;
	/*border: 1px solid red;*/
	background: url("../images/exercise2/sack.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}

.board div.heterogeneousCollector:hover{
	background: url("../images/exercise2/sack_hover.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.heterogeneousCollector > p{
	position: absolute;
	font-size: 1em;
	bottom:70%;
	width: 63%;
	left:19%;
	text-align: center;
	background-color: rgba(0,0,0,0.05);
}

.heterogeneousCollector > div{
	position: absolute;
	top:31%;
	left: 19%;
	width: 60%;
	height: 60%;
	/*border: 1px solid red;*/
}

.heterogeneousCollector > div > img{
	display: none;
	position: absolute;
	width: 45%;
	height: 33%;

	/*border: 1px solid red;*/
}

.heterogeneousCollector > div > img:nth-of-type(5){
	bottom: 0%;
	right: 0%;
}

.heterogeneousCollector > div > img:nth-of-type(4){
	bottom: 0%;
	left: 0%;
}

.heterogeneousCollector > div > img:nth-of-type(3){
	bottom: 35%;
	right: 0%;
}

.heterogeneousCollector > div > img:nth-of-type(2){
	bottom: 35%;
	left: 0%;
}

.heterogeneousCollector > div > img:nth-of-type(1){
	bottom: 60%;
	right: 0%;
}

p.selectionConclusion{
	position: absolute;
	top:26%;
	width: 100%;
	padding: 0.5em 1em;
	text-align: center;

	/*border: 1px solid red;*/
}

p.instructionStyle{
	border:2px solid #00CADC;
	padding: 1% 3%;
	border-radius: 5px;
	background-color: #00D2FF;
	font-size: 1.2em;
	color: white;
	font-weight: normal;	
}

.board b{
	display: none;
	position: absolute;
	top:50%;
	left: 33%;
	width: 35%;
	text-align: center;
	padding: 0.5em 2em;
	font-size: 1.5em;
	border: 2px solid #666475;
	background-color: #2F208C;
	color: #F2B705;
	border-radius: 5px;
}



