.mixture_exercise4 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.mixture_exercise4, .mixture_exercise4 * {
	position: relative;
	margin: 0;
	padding: 0;
}

.mixture_exercise4 .nextBtn{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 9%;	
}

.mixture_exercise4 .board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border:1px solid red;*/
}

/*********
*****activity specific******
******************/
div.board > div.labarea{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

p.question{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 9%;
	padding: 1% 5%;
	font-size: 1.15em;
	text-align: center;

	/*border:1px solid red;*/
}

.dragarea{
	position: relative;    
	top:5%;
	left:10%;
	width: 80%;
	height: 25%;
	border: 2px solid grey;
}

.dragarea > figure{
    position: relative;
    top:10%;
    z-index: 10;
	width: 18.8%;
	height: 80%;
	border: 3px outset grey;
    background-color: rgba(0,0,0,0.02);
    border-radius: 5px;
	cursor: move;
    float:left;
    margin-left: 1%;
}

.dragarea > figure > img{
	width: 95%;
	height: 80%;
}

.dragarea > figure > figcaption{
    position: relative;
    margin-top: 1%;
   text-align: center;
   color: black;
   font-weight: normal;
}

.dragarea > figure > figcaption{
	font-size: 0.8em;
	height: 10%;
}


p.conclusion{
	position: relative;
	top:8%;
	left: 0%;
	width: 100%;
	height: 15%;
	padding: 1% 5%;
	text-align: center;
    clear:both; /* make sure above float elements do not come around the conclusion text */

	/*border:1px solid red;*/
}

div.labarea > div.processingArea{
    position: relative;
    top:7%;
    left: 0%;
    width: 100%;
    height: 25%;
    /*border: 1px solid red;*/
}

div.processingArea > div.rawMaterial{
    position: absolute;
    top:0%;
    left:2%;
    width:16%;
    height: 100%;
    border: 3px double brown;
    border-radius: 50%;
    text-align: center;
}

div.rawMaterial > div{
    /*following lines of codes center this div horizontally and vertically*/
    position: relative;
    display: table;
    margin:0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.rawMaterial > div.rawMaterialSmallFont{
    font-size: 0.8em;
}

div.rawMaterial > div.rawMaterialNormalFont{
    font-size: 1.2em;
}

div.processingArea > figure.finalProduct{
    position: absolute;
    top:0%;
    left:82%;
    width: 18%;
    height: 100%;
    /*border: 1px solid green;*/
}

div.processingArea > figure.finalProductGlow{
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 78%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,0,1)), color-stop(78%, rgba(255,255,0,0))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 78%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 78%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 78%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 78%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF00', endColorstr='#FFFF00',GradientType=0 ); /* ie6-9 */
}

figure.finalProduct > img{
    position: relative;
    top:0%;
    left:5%;
    width: 90%;
    height: 80%;
}

figure.finalProduct > figcaption{
    position: relative;
    margin-top: 2%;
    text-align: center;
}

div.processingArea > div.droparea{
	position: absolute;
	top:0%;
	left:20%;
	width: 60%;
    height: 100%;
	border:2px solid grey;
}

div.droparea > *{ /* this is important pal,comment it out and see why */
    float:left;
    margin-left:2%;
}

div.droparea > figure{
    position: relative;
    margin-top: 1.5%;
	width: 25%;
	height: 85%;
	border: 3px inset grey;
    background-color: rgba(0,0,0,0.02);
    border-radius: 5px;
	border-radius: 0.5em;    
}

div.droparea > figure > img{
    width: 95%;
    left:2.5%;
    height: 80%;
}

div.droparea > figure > figcaption{
    font-size: 0.8em;
    height: 10%;
    margin-top: 1.5%;
    text-align: center;
    color: black;
}

div.droparea > img.processarrow{
    position: relative;
    margin-top: 8%;
    width: 7%;
}

button.submit{
	position: absolute;
    width: 15%;
    height: 10%;
	bottom:5%;
	left:45%;
	padding: 0.2em 0.7em;
	border: none;

	background-image:url("../images/exercise4/disabledsubmit.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	font-weight: bold;
    clear: both; /* make sure above float elements do not come around this button */
}

button.enableSubmit{
    background-image:url("../images/exercise4/enabledsubmit.png");
}

