/*bounce code start*/
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateY(0); 
        -webkit-transform: translateY(0); 
        transform: translateY(0);
    }
    
    40% {
      -ms-transform: translateY(-30px); 
        -webkit-transform: translateY(-30px); 
        transform: translateY(-30px);
    }

     60% {
      -ms-transform: translateY(-15px); 
        -webkit-transform: translateY(-15px); 
        transform: translateY(-15px);
    }
  }

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateY(0); 
        -webkit-transform: translateY(0); 
        transform: translateY(0);
    }
    
    40% {
      -ms-transform: translateY(-30px); 
        -webkit-transform: translateY(-30px); 
        transform: translateY(-30px);
    }

     60% {
      -ms-transform: translateY(-15px); 
        -webkit-transform: translateY(-15px); 
        transform: translateY(-15px);
    }
  }

  .bounceItem
  {
    animation-duration: 3s;
    animation-name:bounce;
    animation-iteration-count:infinite;

    -webkit-animation-duration: 3s;
    -webkit-animation-name:bounce;
    -webkit-animation-iteration-count:infinite;
  }

  /*bounce code stop*/