.mixture_type {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.mixture_type, .mixture_type * {
	position: relative;
	margin: 0;
	padding: 0;
}

.mixture_type .nextBtn{
	display: none;
	position: absolute;
	top:88%;
	left:93%;
	width: 6%;
	height: 10%;	
}

.mixture_type .prevBtn{
	display: none;
	position: absolute;
	top:88%;
	left:1%;
	width: 6%;
	height: 10%;	
}

.mixture_type .board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 90%;

	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

/*********
*****activity specific******
******************/

.mixtureTypeImages{
	height: 60%;
	width: 100%;

	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.mixtureTypeImages figure{
	height: 100%;
	width: 30%;
	
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.mixtureTypeImages figure img{
	width: 70%;
	height: 80%;
}

.mixtureTypeImages figure img.firstSlideImages{
	width: 90%;
	height: 75%;
}

.mixtureTypeImages figure img.spice{
	width: 90%;
	height: 75%;
}

.board p{
	padding: 1% 3%;
	text-align: center;
}

.bgBlue{
	background-color: rgba(25,255,255,0.1);
}

.bgGreen{
	background-color: rgba(255,25,255,0.1);
}