.mixture_ex2 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.mixture_ex2, .mixture_ex2 * {
	position: relative;
	margin: 0;
	padding: 0;
}

.mixture_ex2 .nextBtn{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;	
}

.mixture_ex2 .prevBtn{
	display: none;
	position: absolute;
	bottom:1%;
	left:1%;
	width: 6%;
	height: 10%;	
}

.mixture_ex2 .board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/*********
*****activity specific******
******************/
div.board > div.compoundmixture{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

div.compoundmixture > p.compoundinstruction{
	/*display: none;*/
	position: relative;
	top:0%;
	left:0%;
	width: 100%;
	padding: 1% 0% 0% 3%;
}

div.compoundmixture > div.allImages{
	position: relative;
	top:3%;
	left:0%;
	width: 100%;
	height: 50%;
	/*border: 1px solid blue;*/
}

div.allImages > div.finalMixture{
	position: absolute;
	top:0%;
	left:32.5%;
	width: 35%;
	height: 100%;
	cursor: pointer;
	/*border: 1px solid blue;*/
}

div.allImages > div.finalMixture > img.mixtureImage{
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height: 100%;
}

div.allImages > div.finalMixture > img.clickMeIconImage{
	position: absolute;
	left:50%;
	top:25%;
	width: 30%;
	height: auto;
}

div.allImages > div.ingredientLeft{
	position: absolute;
	top:0%;
	left:0%;
	width: 30%;
	height: 100%;
	/*border: 1px solid red;*/
}

div.ingredientLeft > figure{
	display: none;
	position: relative;
	margin-top:1%;
	left: 0%;
	width: 100%;
	height: 33%;
	/*border: 1px solid red;*/
}

div.ingredientLeft > figure > img{ 
	position: absolute;
	top:0%;
	right:0%;
	width: 50%;
	height: 100%;
}

div.ingredientLeft > figure > figcaption{ 
	position: absolute;
	top:30%;
	right:55%;	
}

div.allImages > div.ingredientRight{
	position: absolute;
	top:0%;
	right:0%;
	width: 30%;
	height: 100%;
	/*border: 1px solid green;*/
}

div.ingredientRight > figure{
	display: none;
	position: relative;
	margin-top:1%;
	left: 0%;
	width: 100%;
	height: 33%;
	/*border: 1px solid red;*/
}

div.ingredientRight > figure > img{ 
	position: absolute;
	top:0%;
	left:0%;
	width: 50%;
	height: 100%;
}

div.ingredientRight > figure > figcaption{ 
	position: absolute;
	top:30%;
	left:55%;	
}

div.compoundmixture > div.explainText{
	position: relative;
	top:10%;
	left:0%;
	width: 100%;
	height: 25%;
	/*border: 1px solid blue;*/
}

div.compoundmixture > div.explainText > p{
	display: none;
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	padding:1% 0% 0% 1%;
}

div.compoundmixture > div.nextExplain{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;
}
