.mixture_ex {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.mixture_ex, .mixture * {
	position: relative;
	margin: 0;
	padding: 0;
}

.mixture_ex .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

/* **********
************ */

.board {

    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;

}

.board > img{
	position: relative;
	top:8%;
	left: 0%;
	width: 60%;
}
	.board {

	    position: absolute;
	    top: 0%;
	    left: 0%;
	    width: 100%;
	    height: 100%;
	    text-align: center;

	}

.board > p:first-child{
	position: relative;
	top:3%;
	left: 0%;
	font-size: 1.1em;
}

.board > p:nth-of-type(2){
	position: relative;
	top:13%;
	left: 0%;
	font-size: 1.3em;
}

.board > p:first-child.onlyText{
	position: relative;
	margin-top:25%;
	font-size: 1.3em ;
	left: 0%;
}

.board > p:first-child.onlyText > span{
	font-size: inherit;
}
.bg_full {

    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;

}
.titletext {

    position: absolute !important;
    z-index: 100 !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    top: 5% !important;
    font-family: montserrat !important;
    font-size: 5.5vmin !important;

}
