.separation_solution {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.separation_solution, .separation_solution * {
	position: relative;
	margin: 0;
	padding: 0;
}

.separation_solution .nextBtn{
	display: none;
	position: absolute;
	bottom: 0.3%;
	right:1%;
	width: 6%;
	height: 10%;
}

.nextInTechniquesBtn{
	display: none;
	position: absolute;
	bottom: 1%;
	right: 1%;
	width: 15%;
	height: 10%;
	border: 2px solid;
	border-radius: 14px;
	text-align: center;
	padding-top: 1%;
	font-size: 1.5vw;
	background-color: #1695a3;
	color: white;
}

.separation_solution .prevBtn{
	display: none;
	position: absolute;
	bottom: 0.3%;
	left:1%;
	width: 6%;
	height: 10%;
}

.prevInTechniquesBtn{
	display: none;
	position: absolute;
	bottom: 1%;
	left:1%;
	width: 15%;
	height: 10%;
	border: 2px solid;
	border-radius: 14px;
	text-align: center;
	padding-top: 1%;
	font-size: 1.5vw;
	background-color: #1695a3;
	color: white;
}

.separation_solution .board{
	position: relative;
	top:8%;
	left: 0%;
	width: 100%;
	height: 80%;
	/*border: 1px solid red;*/
}

/*********
*****activity specific******
******************/
.separationTechniquesWrapper{
	position: relative;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	/*border: 1px solid blue;*/
}

.tabContainer{
	display: none;
	position: relative;
	top:0%;
	left:0%;
	width: 100%;
	height: 10%;
}

.tabContainer > div{
	position: absolute;
	width: 15%;
	cursor: pointer;
	margin-right: 1%;
}

.tabContainer > div:nth-of-type(1){
	left: 0%;
}

.tabContainer > div:nth-of-type(2){
	left: 17%;
}

.tabContainer > div:nth-of-type(3){
	left: 34%;
}

.tabContainer > div:nth-of-type(4){
	left: 54%;
}

.tabContainer > div:nth-of-type(5){
	left: 74%;
}

.tabContainer > div > input{
	display: none;
}

.tabContainer > div > label{
	padding :3% 10% 1.2% 10%;
	cursor: pointer;
	background-color:#ffffff;
	border-bottom: 5px solid #EEEEEE;
	color:#E7512F;
}

.tabContainer > div > label:active{
	color:green;
	padding :4% 10% 0% 10%;
	border-bottom: 2px solid #EEEEEE;

}

.tabContainer > div > input:checked ~ label{
	color:#ffffff;
	background-color:#E7512F;
	border-bottom: 5px solid #C13715;
}

.tabContainer > div > img{
	/*display: none;*/
	position: absolute;
	top:100%;
	left: 30%;
	z-index: 1;
	width: 30%;
	height: auto;
	pointer-events:none;
	display: none;
}

.separationTechniquesWrapper > em:nth-of-type(1){
	display: none;
	position: absolute;
	right:30%;
	bottom:4.5%;
	color:white;
	padding: 0.03em 2em 0.03em 0.7em;
	border-radius: 5px 0 0 5px;
	background-color: #1695A3;
	z-index: 2; /*to make this below next in slide button*/
}

/***
**separation techniques
*****/
.board > div{
	/*border: 1px solid red;*/
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.separationTechniques > p{
	top:35%;
	text-align: center;
	padding: 0% 2%;
	font-size: 1.5em;
}

.separationTechniques > ul{
	top:40%;
	text-align: center;

}

.separationTechniques > ul > li{
	list-style: disc;
}

/***
** separation techniques explained
*****/

/* all the labs div inside techniques div */
.board > div > div.eachTechniqueLab{
	/*border: 1px solid red;*/
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;

}

/*
* evaporation
*/
.eachTechniqueLab > h5{
	position: relative;
	display: table;
	margin:0 auto;
	font-size: 1.4em;
	border:2px solid #00A388;
	padding: 5px 1%;
	border-radius: 5px;
	background-color: #79BD8F;
	color: #FFFF9D;
	font-weight: normal;
	cursor: default;
}

.eachTechniqueLab > h5.displayHeading{
	display: none;
}

.eachTechniqueLab > img{
	position: relative;
	display: table;
	margin:0 auto;
	width:22%;
	/* height: 70%; */
}

.eachTechniqueLab > img.displayProcessImage{
	display: none;
}


.eachTechniqueLab > p{
	/*border: 1px solid blue;*/
	position: relative;
	 display: table;
	margin:1% auto;
	width: 85%;
	height: auto;
	padding: 0 0.9em 0 0.9em;
}

.eachTechniqueLab > p.techniqueDefinition{
	/*border: 1px solid blue;*/
	position: relative;
	top:30%;
	display: table;
	margin: 0 auto;
	font-size: 1.2em;
}
@media (min-aspect-ratio: 4/3) {
	.eachTechniqueLab > p.techniqueDefinition,
	.eachTechniqueLab > p,
	.explanation{
		font-size: 2.5vh;
	}
}
@media (max-aspect-ratio: 4/3) {
	.eachTechniqueLab > p.techniqueDefinition,
	.eachTechniqueLab > p,
	.explanation{
		font-size: 2vw;
	}
}
