.activity_container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    background: #fff;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position: relative;
    margin: 0;
    padding: 0;
}

.activity_container .nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

.activity_container .prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.textblock {
    position: relative;
}

div.imageblock {
    position: absolute;
    top: 14%;
    right: 5%;
    height: 55%;
    width: 40%;
    left: 62%;
}

.display_image {
    display: none;
    align-items: center;
    justify-content: center;
}

.hint_image {
    min-height: 45%;
    max-width: 100%;
    max-height: 100%;
}


/*============ exercise template ===================
==================================================== */

.question {
    color: #674EA7;
    position: relative;
    font-family: Amaranth;
    top: 16%;
    left: 0%;
    width: 95%;
    font-size: 3.7vmin;
    text-align: center;
    padding: 1%;
}

.optionsdiv {
    top: 16%;
    display: flex;
    width: 94%;
    left: 3%;
    flex-flow: row wrap;
    height: 69%;
    text-align: left;
    position: relative;
}

.optionscontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21%;
    height: 40%;
    top: 25%;
    border-radius: 8px;
}

.imagestartpos {
    width: 9%;
    margin-left: 1%;
    display: none;
}

.ispforimage {
    position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}

.optionsdiv p {
    display: inline;
    padding: 3% 5%;
    background: #8E7BC3;
    border-radius: 15px;
    color: white;
    margin: 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    cursor: pointer;
    max-width: 100%;
    height: 72%;
    top: 10%;
}

.forhoverimg {
    border: 2px solid #ADAEDB;
    cursor: pointer;
}

.forhoverimg:hover {
    background: #F1C131;
    color: #F66E20;
    border: 5px solid #FFD966;
}

.forhoverimg:hover {
    color: #F66E20;
    border: 5px solid #FFD966;
}

.wrongans {
    background: #EA9999;
    color: #F66E20;
}

.rightans {
    background: #6AA84F;
}

.questionblock {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 6%;
   /*  background: red;
   -webkit-box-shadow: 2px 4px 21px 0px rgba(0, 0, 0, 0.75); */
}


@font-face {
    font-family: "Amaranth";
    src: url("../../../../../../fonts/amaranath/amaranth-regular.ttf");
}

.droparea {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
}

.instruc {
    position: absolute;
    width: 100%;
    width: 100%;
    height: 7%;
    top: 1%;
    background: #f9cb9c;
    font-size: 4vmin;
}


.checkhere {
    background: white;
}

.opt {
    position: absolute;
    top: 102%;
    left: 43%;
}