.blue_bg{
    background-color:#2F4567;
}

.textblock>p{
  font-family: sniglet;
  color: white;
}
.text-top {
    position: absolute;
    font-size: 2.4vw;
    width: 100%;
    top: 3%;
}
.text-title {
    position: absolute;
    font-size: 2vw;
    top: 25%;
    left: 5%;
    color: #F5BC66;
}
.text-desc {
    position: absolute;
    font-size: 2vw;
    top: 38%;
    left: 5%;
    width: 50%;
    text-align: left;
}
.right-image {
    position: absolute;
    width: 30%;
    top: 32%;
    left: 63%;
}

.righty,.lefty,.middle {
    position: absolute;
    width: 25%;
    top: 23%;
}
.lefty{
  left: 6.25%;
}
.middle{
  left: 37.5%;
}
.righty{
  left: 68.25%;
}
.text-bottom {
    position: absolute;
    bottom: 11%;
    left: 0;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 2vw;
}
@media (min-aspect-ratio: 4/3){
    .text-top{
        font-size: 6vmin;
    }
    .text-title{
      font-size: 5vmin;
    }
    .text-desc,.text-bottom{
      font-size: 4vmin;
    }
}
