.blue_bg{
    background-color:#1D424B;
}
.chaptertitle {
    position: absolute;
    font-size: 3vw;
    color: white;
    width: 100%;
    top: 4%;
    background: #3c5f6f;
}
.img-center{
  position: absolute;
  width: 50%;
  top: 33%;
  left: 25%;
}
.center_img{
  position: absolute;
  width: 35%;
  top: 13%;
  left: 32.5%;
}
.bg-full{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.template-dialougebox2-top-flipped-white{
  font-size: 2vw;
}
.template-dialougebox2-top-white{
  font-size: 2vw;
}
.d1 {
    top: 3%;
    left: 19%;
}
.d2 {
  left: 33%;
top: 2%;
}
.d3 {
    top: 37%;
    left: 2%;
}
.d4 {
    left: 52%;
    top: 2%;
}
p{
  font-family: shortstack;
}
.text-center {
    position: absolute;
    color: white;
    top: 44%;
    left: 24%;
    font-size: 1.5vw;
    width: 33%;
}
.big_text{
  font-size: 2vw;
}
.text-top {
    position: absolute;
    font-size: 2.5vw;
    width: 100%;
    background: #BA763B;
    top: 0;
    color: white;
}
.text-bottom {
    position: absolute;
    font-size: 2.3vw;
    width: 100%;
    background: RGBA(32, 148, 139,.8);
    bottom: 0%;
    color: white;
    padding: .5%;
    padding-left: 9%;
    padding-right: 9%;
}
.green_bg{
  background: #6AB086;
}
.fire {
    position: absolute;
    z-index: 99;
    top: 11%;
    width: 6%;
    left: 21%;
}
.bell {
    position: absolute;
    top: 36%;
    left: 4%;
    width: 25%;
}
@media (min-aspect-ratio: 4/3){
    .chaptertitle{
        font-size: 8vmin;
    }
    .text-center{
      font-size: 3.5vmin;
    }
    .template-dialougebox2-top-flipped-white,.template-dialougebox2-top-white,.big_text{
      font-size: 4vmin;
    }
    .text-bottom{
      font-size: 4vmin;
    }
    .text-top{
      font-size: 5.8vmin;
    }
}
