.firstText,
.firstText2
{
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: #000;
	
	padding: 1%;
	display: none;
}
.firstText{
	background: rgba(154, 14, 0,0.4);
}
.firstText2
{
	color: #1124F2;
}
.first
{
	margin: 5% auto;
	width: 100%;
	display: none;
	
}


.myImgObj
{
	width: 17%;
	display: inline-block;
	
	margin: 1% ;
	text-align: center;
	font-size: 0.8em;
	color: #000;
}

.myExSrc
{
	width: 100%;
}

