.firstText,
.firstText2
{
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: #000;
}
.firstText2
{
	color: #1124F2;
}
.first
{
	margin: 3%;
	width: 100%;
	
}


.myImgObj
{
	width: 23%;
	display: inline-block;
	
	margin: 1% 4%;
	text-align: center;
}

.myExSrc
{
	width: 100%;
}

.labelObj
{
	position: absolute;
	width: 100%;
	bottom: 0%;
	left: 0%;
	background: rgba(255,255,255,0.5);
	color: #000;
}

.halfPage
{
	width: 30%;
	display: inline-block;
	
	margin:5% 1%;
	text-align: center;
	vertical-align: top
}


.halfPage p 
{
	color:#660243;
	font-size: 2em;
	width: 100%;
	margin: 3%;
}

.mylabObj
{
	
	background: #fff;
	border-radius: 15px;
	border: #05BDF0 1px solid;
	display: inline-block;
	padding: 4%;
	font-size: 1.1em;
	margin: 5%  2%;
}


.prevBtn
{
	bottom: 0%;
	left: 0%;
	position: absolute;
	font-size: 2.2em;
	display: none;
	cursor: pointer;
	width: 6%;
}
