.front_page_title {

    position: absolute !important;
    transform: translateX(-50%);
    left: 52%;
    font-size: 5vmin;
    font-family: montserrat;
    top: 10%;
		color: white;

}
.firstText
{
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: #000;
}
.first
{
	margin-top: 3%;
	width: 100%;

}

.myImgObj
{
	width: 11%;
	margin: 2% 3.2%!important;
	display: inline-block;
	text-align: center;
}
.myExSrc
{
	width: 100%;
}

.HeadText
{
	font-size: 2.5em;
	width: 100%;
	text-align: center;
	margin: 20% auto;

	text-shadow:
	3px 3px 0 #B1CFF2,
	-1px -1px 0 #B1CFF2,
	1px -1px 0 #B1CFF2,
	-1px 1px 0 #B1CFF2,
	1px 1px 0 #B1CFF2;
	color: #0551A8;
}

.labelObj
{
	position: absolute;
	width: 100%;
	font-size: 0.88em;
	left: 0%;
	background: rgba(255,255,255,0.5);
	color: #000;

}
