.first {
  margin: 4% auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.myImgObj {
  width: 12%;
  margin: 4%;
  text-align: center;
}

.myExSrc {
  width: 100%;
}

.labelObj {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0%;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1em;
}

.firstText2 {
  width: 100%;
  text-align: center;
}

.firstText {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  color: #000;
  background: rgba(162, 0, 203, 0.3);
  padding: 1%;
  /* height: 10%; */
}

.questionEnlarge {
  display: none;
  width: 100%;
  position: absolute;
  top: 33%;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 3% 2%;
  font-size: 1.3em;
  text-align: center;
  height: 30%;
  left: 0%;
  border-radius: 15px;
}

.clickAsAnswer {
  cursor: pointer;
}

.clickAsAnswer:hover {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

#correctMe,
#incorrectMe {
	position: absolute;
	color: #1FDB22;
	font-size: 4em;
	right: 10%;
	top: 19%;
	display: none;
}

#incorrectMe {
  color: #ff0000;
}

.imgval {
  position: absolute;
  width: 30%;
  top: 35%;
  right: 0%;
  padding: 1%;
}

.imgval img {
  float: right;
  width: 15%;
  border: 1px solid #A58300;
  padding: 1%;
  margin-right: 1%;
}

.headtitle {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #020569;
  text-shadow:
    3px 3px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.secondPage {
  position: relative;
  width: 100%;
  margin: 2% 1%;
  background: rgba(199, 242, 202, 0.3);
  border-radius: 15px;
}

.halftxt {
  width: 55%;
  display: inline-block;
  margin-left: 1%;
  padding: 1%;
  text-align: justify;
  vertical-align: middle;
}

.halftxt:first-child {
  text-align: center;
  width: 40%;
}

.halftxt img {
  width: 80%;
}

.definitionBy {
  color: #000;
  font-size: 1.3em;
}

.smallques {
  color: #5307EB;
  margin: 1%;
  font-size: 1.3em;
}

.halftxt ul {
  margin: 2%;
  list-style: square;
}

.halftxt li {
  margin: 2%;
  color: #000;
  font-size: 1em;
}

.enlargeItems {
  width: 100%;
  top: 20%;
  padding: 2%;
  text-align: center;
}

.enlargeItems img {
  float: none !important;
  width: 20%;
  border: 1px solid #000;
  padding: 1%;
  margin: 1% 3%;
}

@media (min-aspect-ratio: 4/3) {
	.smallques, .definitionBy{
		font-size: 3vh;
	}
	.halftxt li{
		font-size: 2.5vh;
	}
}

@media (max-aspect-ratio: 4/3) {
	.smallques, .definitionBy{
		font-size: 2vw;
	}
	.halftxt li{
		font-size: 1.7vw;
	}
}
