.sample {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.sample, .sample * {
	position: relative;
	margin: 0;
	padding: 0;
}

.board {

    padding: 2% !important;
    position: relative;
    height: 100%;
    width: 100%;

}

.nextBtn
{
	bottom: 0%;
	right: 0%;
	position: absolute;
	font-size: 2.2em;
	display: none;
	cursor: pointer;
	width: 6%;
}


.nextBtn:hover #activityNextHoverBtn,
.prevBtn:hover #activityPrevHoverBtn
{
	display: block;
}
.nextBtn:hover #activityNextBtn,
.prevBtn:hover #activityPrevBtn
{
	display: none;
}

#closeImgbtn:hover #closeBtn
{
	display: none;
}

#closeImgbtn:hover #closeHoverBtn
{
	display: block;
}

#repeatBtn:hover #reloadBtn
{
	display: none;
}

#repeatBtn:hover #reloadHoverBtn
{
	display: block;
}

#repeatBtn
{
	position: absolute!important;
	top:4%;
	right: 0%;
	width: 8%;
	display: none;
	cursor: pointer;
}

.confirmbtn
{
	display: inline-block;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(112,181,242)),
		color-stop(0.49, rgb(84,164,238)),
		color-stop(0.5, rgb(54,144,240)),
		color-stop(1, rgb(26,97,219))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(112,181,242) 0%,
		rgb(84,164,238) 49%,
		rgb(54,144,240) 50%,
		rgb(26,97,219) 100%
	);

	color: #fff;

	font-size: 1em;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	padding: 2%!important;

	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);


	border: 1px solid;
	border-color: #2f71a3 #265a82 #1e4766 #265a82;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;


	box-shadow: 		inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px -4px 5px rgba(255,255,255,0.2),
						inset 0px 1px 5px rgba(255,255,255,0.2),
						/**/
						0px 2px 0px #1e4766,
						0px 4px 0px #1e4766,
						0px 6px 0px #1e4766,
						/**/
						0px 8px 5px rgba(0,0,0,0.5);

	cursor: pointer;
}
.confirmbtn:hover {
	background-color: #8AC5FD;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(134,193,253)),
		color-stop(0.49, rgb(153,213,255)),
		color-stop(0.5, rgb(130,194,253)),
		color-stop(1, rgb(108,170,229))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgb(134,193,253) 0%,
		rgb(153,213,255) 49%,
		rgb(130,194,253) 50%,
		rgb(108,170,229) 100%
	);
}


.confirmbtn:active {
	top: 4px;
	box-shadow: 		inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),

						0px 2px 0px #1e4766,

						0px 4px 5px rgba(0,0,0,0.5);

	-moz-box-shadow: 	inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),

						0px 2px 0px #1e4766,

					0px 4px 5px rgba(0,0,0,0.5);

	-webkit-box-shadow: inset 0px 4px 5px rgba(255,255,255,0.4),
						inset 0px -1px 5px rgba(255,255,255,0.2),

						0px 2px 0px #1e4766,

						0px 4px 5px rgba(0,0,0,0.5);
}
