.wrapper
{
	width:100%;
	height:100%;
	    background-color: #ffffff;
}

.title {
	    text-align: center;
    background: #FF595B;
    color: #ffffff;
    height: auto;
    margin-top : 0%;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}
.holder
{
	margin-top : 0;
}

.nav-tabs {
    border-bottom : none;
    height: 80%;
	overflow-y: auto;
}
.titlebar
{
	margin-left : 0;
	width:100%;
}


.f1_container { 
	height: 60%;
	position: relative;
    width: 90%;
    float: left;;
}
.f1_container { 
	-webkit-perspective: 1000;
	perspective: 1000;
}
.f1_card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1.0s linear;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
}
.f1_container.active .f1_card {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.face.back {
	display: block;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	box-sizing: border-box;
	color: black;
	text-align: center;
	xbackground-color: #BBBB9F;
}

.back> img{ top:1%!important; max-width: 96%!important; 
	height: 70%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}

.back> .textroll{
	font-size: 1.5em;
 	padding: 2% 2%; 
 	position:absolute; 	
	margin: 0;
	width: 100%;
	bottom: 0%;
	height: 30%;
	overflow-y: auto;
	text-align: center;
}

.face.front {
	background-color: #4682b4;
	border: 3px solid white;
	color: white;
}

.face.front p {  
	top: 50%; 
	transform: translateY(-50%); 
	position: absolute;
	font-size: 1.5em;
	font-family: Kristen ITC;
	text-align:center;
	width: 100%;
}

.tab_image
{
	width: 100% !important;
}

@media screen and (min-aspect-ratio: 4/3) { 
	 .nav-tabs, .back> .textroll{
		 font-size: 3.56vh;
	 }
	 .face.front p { 
		 font-size: 3.56vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) { 
	 .nav-tabs, .back> .textroll{
		 font-size: 3vw;
	 }
	 .face.front p { 
		 font-size: 3vw;
	 }
}