.wrapper
{
  width: 100%;
  height: 100%;
  position: relative;
   background: url(../images/bg.jpg) no-repeat 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home
{
  width: 100%;
  height: 100%;
  position: relative;


}
#activity-page-next-btn > img, #activity-page-prev-btn > img, #activity-page-refresh-btn > img {
    position: absolute;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 55;
}
.animals_desc
{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
}

.custom_image_choice
{
  position: absolute;
  width: 58%;
  height: 100%;
  right: 0;
  top: 0;
  display: none;
}

#para1,#para2,#para3,#para4,#para5,#para6,#para7,#para8,#para9,#para10
{
  display: none;
}

.text_prop{
    xtext-align: justify;
    font-weight: bold;
    position: absolute;
    top: 21%;
    color: #FFC815;
    padding-left: 6%;
}



.image_prop
{
      width: 97%;
    position: absolute;
    top: 14%;
}

#snow{
  background: none;
  font-family: Androgyne;
  background-image: url(../images/snow1.png), url(../images/snow2.png), url(../images/snow3.png);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.exercise_title
{
    width: 100%;
    height: 100%;
}

.title
{
    z-index: 99;
    position: absolute;
    font-size: 2.3em;
    right: 0;
    width: 53%;
    height: 100%;
    font-weight: bold;
    text-align: justify;
    padding-left: 1%;
    padding-right: 3%;
    padding-top: 8%;
    color: #ffffff;
}

.continue_button
{
    position: absolute;
    top: 77%;
    right: 14%;
    background: #37A2EA;
    width: 14%;
    border-radius: 3px;
    z-index: 99;

    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;

}

.button_click
{
    font-weight: bold;
    padding-left: 7%;
    color: #ffffff;
    z-index: 99;
    text-align: center;
	margin: 0;
	line-height: 1.5;
}

.continue_button:hover
{
  cursor: pointer;
  background: #FF595B;

}

.image1
{
    position: absolute;
	top: 2%;
	width: 46%;
	z-index: 99;
	height: 27%;
	left: -2%;
	border: 0.2em solid rgba(0,0,0,0);
}

.wildanimals1
{
    width: 98%;
    position: relative;
    left: 3%;
}

.image2
{
    position: absolute;
	top: 32%;
	width: 39%;
	height: 29%;
	left: -6%;
	border: 0.2em solid rgba(0,0,0,0);
}

.wildanimals2
{
     width: 98%;
    /*position: relative;
    left: 62%;*/
}

.image3
{
    position: absolute;
	top: 52%;
	width: 49%;
	height: 27%;
	left: 49%;
	border: 0.2em solid rgba(0,0,0,0);
}

.wildanimals3
{
    position: relative;
    width: 98%;
}

.image4
{
    position: absolute;
	top: 10%;
	width: 42%;
	height: 33%;
	left: 53%;
	border: 0.2em solid rgba(0,0,0,0);
}

.wildanimals4
{
      width: 98%;
    position: relative;

}

.image5
{
    position: absolute;
	top: 68%;
	width: 44%;
	height: 27%;
	left: 0;
	border: 0.2em solid rgba(0,0,0,0);
}

.wildanimals5
{
      width: 98%;
    position: relative;

}

.image6
{
    position: absolute;
    top: 48%;
    width: 27%;
    height: 27%;
    left: 1%;
}

.wildanimals6
{
    width: 98%;
    position: relative;

}

.image7
{
    position: absolute;
    top: 48%;
    width: 27%;
    height: 27%;
    left: 33%;
}

.image8
{
    position: absolute;
    top: 48%;
    width: 27%;
    height: 27%;
    left: 65%;
}

.image9
{
    position: absolute;
    top: 70%;
    width: 27%;
    height: 27%;
    left: 17%;
  }

.image10
{
    position: absolute;
    top: 70%;
    width: 27%;
    height: 27%;
    left: 48%;
}

.wildanimals7
{
    width: 98%;
    position: relative;

}

.image1:hover,.image2:hover,.image3:hover,.image4:hover,.image5:hover,.image6:hover,.image7:hover,.image8:hover,.image9:hover,.image10:hover
{
  cursor: pointer;
}

.button_next {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
    display: none;
    }

.button_next:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button_prev {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
}

.button_prev:hover {
  background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.result
{
      position: absolute;
    top: 81%;
    left: 12%;
}

.re {
      font-size: 2.5em;
    color: #37A2EA;
}

.finish{
	bottom: 5%;
    color: #ffc815;
    display: none;
    font-size: 2.3em;
    font-weight: bold;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 6%;
    width: 100%;
    z-index: 10;
}


.imagesize
{
      width: 80%;
}

.one {
    position: absolute;
    width: 13%;
    height: 17%;
    top: 17%;
    left: 5%;
}

.two
{
   position: absolute;
     width: 13%;
    height: 17%;
    top: 17%;
    left: 18%;
}

.three
{
   position: absolute;
    width: 13%;
    height: 17%;
    top: 17%;
    left: 32%;
}

.four
{
   position: absolute;
   width: 13%;
    height: 17%;
    top: 17%;
    left: 46%;
}

.five
{
   position: absolute;
     width: 13%;
    height: 17%;
    top: 17%;
    left: 60%;
}

.six
{
   position: absolute;
     width: 13%;
    height: 17%;
    top: 17%;
    left: 74%;
}

.seven
{
    position: absolute;
    width: 38%;
    height: 60%;
    left: 41%;
    top: 48%;
}

.yous
{
  width: 83%
}

.eight
{
      width: 54%;
    position: absolute;
    height: 12%;
}

.cont {
width: 100%
}

.onhover:hover{
	border: 0.2em solid #FABD15;
}

.correct{
	border: 0.2em solid #78c269;
}

.incorrect{
	border: 0.2em solid #f63979;
}

@media screen and (min-aspect-ratio: 4/3) {
	.button_click{
    	font-size: 3.56vh;
   	}
	 .text_prop{
    	font-size: 4vh;
   }
}

@media screen and (max-aspect-ratio: 4/3) {
	 .button_click{
    	font-size: 3vw;
   	 }
	 .text_prop{
    	font-size: 3.56vw;
   }
}
