<script type="text/javascript">
    $cssLoader("../../../../css/commonpage/lessontemplate.css");
    $cssLoader("../../../../css/commonpage/dialougebox.css");
    $cssLoader("css/common.css");
    $cssLoader("css/page3.css");

</script>

<div class="maincontainer">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
	<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
		{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{/if}}
			{{#if divtosnap}}<div class="{{snaptoobject}}"></div>{{/if}}

			{{! header block start--}}
			{{#if headerblock}}
			<div class="headerblock">
				{{#each headerblock}}
				{{> textcontent}}
				{{/each}}
			</div>
			{{/if}}
			{{! header block end--}}


			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				{{! content block content wrapper is used for content orientation i.e. center
				horizontally or vertically}}
				{{#if contentblocknocenteradjust}}
				<div class = "coverboardfull">
					{{else}}
					<div class = "vertical-horizontal-center">
						{{/if}}
					</div>

					{{! if the content has a upperblock of texts--}}
					{{#if uppertextblock}}
					<div class ="textblock {{verticla-horizontal-center}}">
						{{{firstpagetitle}}}
						{{#if contentblocknocenteradjust }}
						<div class ="verticla-horizontal-center">
							{{/if}}

							{{#each uppertextblock}}
							{{>textcontent}}
							{{/each}}

							{{#if contentblocknocenteradjust }}
						</div>
						{{/if}}
					</div>
					{{/if}}

					{{! draggable image block if the content contains any draggable object}}
					{{#if draggableimageblock}}
					<div class="draggableimageblock {{imageblockadditionalclass}}">
						{{#if contentblockcenteradjust}}
						<div class= "verticla-horizontal-center">
							{{/if}}

							{{#each draggableimageblock}}
							{{>imagecontent}}
							{{/each}}

							{{#if contentblockcenteradjust}}
						</div>
						{{/if}}
					</div>
					{{/if}}

					{{! image block if the content contains any images }}
					{{#if imageblockadditionalclass}}
					<div class={{"imageblockadditionalclass"}}>
						{{/if}}

						{{#if imageblock}}
						<div class="imageblock">
							{{#if contentblockcenteradjust}}
							<div class= "vertical-horizontal-center">
								{{/if}}

								{{#each imageblock}}
								{{>imagecontent}}
								{{/each}}

								{{#if contentblockcenteradjust}}
							</div>
							{{/if}}
						</div>
						{{/if}}

						{{#if imageblockadditionalclass}}
					</div>
					{{/if}}

					{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#if contentblocknocenteradjust}}
						<div class="vertical-horizontal-center">
							{{/if}}
							{{#each lowertextblock}}
							{{>textcontent}}
							{{/each}}

							{{#if contentblocknocenteradjust}}
						</div>
						{{/if}}
					</div>
					{{/if}}

					{{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}}
						{{>definitioncontent}}
						{{/each}}
					</div>

					{{/if}}

					{{#each extratextblock}}
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
					{{/each}}

					{{#if startdivs}}
					{{#each startdivs}}
					<div class="{{partcontainer}}">
						<img class="{{partimgclass}}" src="{{partimg}}">
						<p class="">{{startdata}}</p>
					</div>
					{{/each}}
					{{/if}}

					{{! if there is any dialog window in the page--}}
					{{#each containsdialog}}
					<div class="{{dialogcontainer}}">
						<img class="{{dialogimageclass}}" src="{{dialogimagesrc}}"/>
						{{#if currentaudio}}
						<img id="{{imgid}}" class="audioicon {{imgclass}}" src="images/speaker.png"/>
						{{/if}}
						<p class="{{dialogcontentclass}}">{{{dialogcontent}}}</p>
					</div>

					{{/each}}
					{{! end of dialog window template}}

				</div>
			</script>

			<!--partials are seperated as subtemplates in handlebars-->
			<script id="textcontent-partial" type="text/x-handlebars-template">
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
			</script>

			<!--partials are seperated as subtemplates in handlebars-->
			<script id="imagecontent-partial" type="text/x-handlebars-template">
				{{#each imagetoshow}}
				<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
				{{/each}}
				<br>
				{{#each imagetodrop}}
				<div class="{{imgtodropclass}}">
					<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
				</div>
				{{/each}}
				{{#if imagelabels}}
				{{#each imagelabels}}
				<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}"
				>{{{imagelabeldata}}}</label>

				{{/each}}
				{{/if}}

			</script>

			<!--partials are seperated as subtemplates in handlebars-->
			<script id="definitioncontent-partial" type="text/x-handlebars-template">
				<img src="{{definitionimagesource}}" />
				<figcaption>{{definitiontextdata}}</figcaption>
				<p class ="definitiontextstyle" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{definitioninsrtuctiondata}}</p>
			</script>


      <script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
      <script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
			<script type="text/javascript">
				// $jsLoader("../../../../js/jquery-ui.js");
				$jsLoader("js/page3.js");
			</script>
