<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1.css');
</script>
<div id="lifeContent" >
	<div id="p1_1" class="head_title"></div>
	<div id="p1_2"></div>
	<div id="p1_2_a"></div>

	<div id="arrowBtn" class="">

	</div>
	<div id="animationBx">
		<div  id="img_left">
			<img src="$ref/images/page1/first.png" />
		</div>
		<div  id="text_right">
			<div class="txt_1">
				<input type="radio" name="rads" id="radio_1" class="radio"/>
				<label for="radio_1"><p id="p1_3">Circulatory System</p></label>
			</div>

			<div class="txt_1">
				<input type="radio" name="rads" id="radio_2" class="radio"/>
				<label for="radio_2"><p id="p1_4">Digestive System</p></label>
			</div>

			<div class="txt_1">
				<input type="radio" name="rads" id="radio_3" class="radio"/>
				<label for="radio_3"><p id="p1_5">Excretory System</p></label>
			</div>

			<div class="txt_1">
				<input type="radio" name="rads" id="radio_4" class="radio"/>
				<label for="radio_4"><p id="p1_6">Nervous System</p></label>
			</div>


			<div class="txt_1">
				<input type="radio" name="rads" id="radio_5" class="radio"/>
				<label for="radio_5"><p id="p1_7">Reproduction System (Male)</p></label>
			</div>

			<div class="txt_1">
				<input type="radio" name="rads" id="radio_6" class="radio"/>
				<label for="radio_6"><p id="p1_8">Reproduction System (Female)</p></label>
			</div>

			<div class="txt_1">
				<input type="radio" name="rads" id="radio_7" class="radio"/>
				<label for="radio_7"><p id="p1_9">Respiratory System</p></label>
			</div>

			<div class="txt_1">
				<input type="radio" name="rads" id="radio_8" class="radio"/>
				<label for="radio_8"><p id="p1_10"></p></label>
			</div>

		</div>

	</div>
	<div id="p1_52"></div>
</div>

<script>
$jsLoader('js/page1.js');

</script>


<script type="text/x-handlebars-template" id="label-template">
{{#each labelObj}}
	<div class="labelsObj" id="{{labelId}}">{{labels}}</div>
{{/each}}

</script>
