.blue_bg{
    background-color:rgb(120,192,239);
}

p{
  font-family: shortstack;
  color: white;
}
.text1 {
    position: absolute;
    left: 45%;
    top: 21%;
    font-size: 3vw;
}
.text-center {
    position: absolute;
    font-size: 3vw;
    top: 43%;
    transform: translateX(-50%);
    left: 50%;
    width: 80%;
}
.red{
  color: rgb(255,54,67);
}
.green{
  color: rgb(65,173,73);
}
.left_icon {
    position: absolute;
    top: 21%;
    width: 6%;
    left: 38%;
}
.bg-full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.text-top {
    position: absolute;
    width: 90%;
    left: 5%;
    font-size: 2vw;
    top: 7%;
}
.main-question {
    position: absolute;
    font-size: 2vw;
    top: 25%;
    width: 80%;
    left: 10%;
    background: rgb(234,153,153);
    height: 65%;
    padding-top: 3%;
    border-radius: 2vmin;
    border: .7vmin solid rgb(234, 238, 246);
}
.sentence {
    position: absolute;
    color: rgb(91,15,0);
    font-size: 1.6vw;
    z-index: 4;
    top: 43%;
    left: 15%;
    background: white;
    width: 70%;
    padding: 1%;
    border-radius: 2vmin;
}

.opt-1, .opt-2, .opt-3, .opt-4 {
    background: rgb(255,205,83);
    width: 30%;
    font-size: 1.6vw;
    left: 16%;
    top: 57%;
    padding: .5%;
    color: black;
    border-radius: 1vmin;
    position: absolute;
    cursor: pointer;
}
.opt-2 {
    left: 54%;
}
.opt-3 {
    top: 71%;
}

.opt-4 {
    left: 54%;
    top: 71%;
}
@media (min-aspect-ratio: 4/3){
    .chaptertitle{
        font-size: 10vmin;
    }
    .text1,.text2{
      font-size: 6vmin;
    }
    .text-center{
      font-size: 6.5vmin;
    }
    .text-top,.main-question{
      font-size: 5vmin;
    }
    .sentence,.opt-1,.opt-2,.opt-3,.opt-4{
        font-size: 3.5vmin;
      }
}
