.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	/*display: none;*/
	position: absolute;
	top: 85%;
	left: 93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top: 85%;
	left: 5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/
.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	padding-top: 2%;
	line-height: 1.5em;
}


.wrapperIntro.firstPage
{
	background: #ffffff;
}

.wrapperIntro.firstPage .text0
{
    background: #f7efdd none repeat scroll 0 0;
    color: #00b4cd;
    font-size: 6em;
    font-weight: bold;
    height: 100%;
    left: 0;
    padding-top: 27%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.firstPage .text1
{
    background: #4bb4cb none repeat scroll 0 0;
    border-bottom: 4px solid #b1d1dd;
    color: #ffffff;
    display: none;
    font-size: 1.9em;
    height: 10%;
    left: 0;
    padding-left: 35%;
    padding-top: 1.3%;
    position: absolute;
    top: 0;
    width: 100%;
}

.wrapperIntro.firstPage .text2
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 8%;
    line-height: 1.5em;
    position: absolute;
    top: 25%;
    width: 86%;
}

.wrapperIntro.firstPage .text3
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 22%;
    line-height: 1.5em;
    position: absolute;
    top: 8%;
    z-index: 99;
}

.wrapperIntro.firstPage .text4
{
	 color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 12%;
    line-height: 1.5em;
    position: absolute;
    text-align: justify;
    top: 9%;
    z-index: 99;

}

.wrapperIntro.firstPage .text5
{
	 color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-left: 6%;
    position: absolute;
    top: 6%;
    width: 82%;
    z-index: 99;
}

.wrapperIntro.firstPage .text6
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-left: 3%;
    position: absolute;
    text-align: justify;
    top: 5%;
    width: 86%;
    z-index: 99;

}

.wrapperIntro.firstPage .text7
{
     color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    left: 12%;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    top: 36%;
    width: 77%;
    z-index: 99;
}

.wrapperIntro.firstPage .text8
{
    background: #4bb4cb none repeat scroll 0 0;
    border-bottom: 4px solid #b1d1dd;
    color: #ffffff;
    display: none;
    font-size: 1.9em;
    height: 10%;
    left: 0;
    padding-left: 35%;
    padding-top: 1.3%;
    position: absolute;
    top: 0;
    width: 100%;
}
.wrapperIntro.firstPage .text9
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 3%;
    position: absolute;
    top: 17%;
}
.wrapperIntro.firstPage .text10
{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 25%;
    width: 95%;
}
.wrapperIntro.firstPage .text11
{
	 color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 33%;
    width: 86%;
}
.wrapperIntro.firstPage .text12
{
      color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 40%;
    width: 85%;
}
.wrapperIntro.firstPage .text13
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 48%;
    width: 84%;
}

.wrapperIntro.firstPage .text14
{
     color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 56%;
    width: 93%;
}

.wrapperIntro.firstPage .text15
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 63%;
    width: 87%;
}
.wrapperIntro.firstPage .text16
{
   color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 71%;
    width: 81%;
}
.wrapperIntro.firstPage .text17
{
     color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 15%;
    line-height: 1.5em;
    position: absolute;
    top: 80%;
    width: 81%;
}

.wrapperIntro.firstPage .text18
{
    background: #f28e86 none repeat scroll 0 0;
    border-radius: 16px;
    color: #ffffff;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    position: absolute;
    right: 43%;
    top: 69.5%;
    width: 12%;
}

.wrapperIntro.firstPage .text18:hover
{  cursor: pointer;
    background: #ffffff;
    color: #F28E86;

}
.spandiy
{
      left: 25%;
}


.inputbox_diy
{
  width:5%;
  color:  #5c5c5c;
  font-weight: bold;
  text-align: center;

}

.inputbox_diy1
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy2
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy3
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy4
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy5
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy6
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy7
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy8
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.inputbox_diy9
{
	color: #5c5c5c;
    font-weight: bold;
    width: 5%;
	text-align: center;

}

.check{
	  background: #f28e86 none repeat scroll 0 0;
    border-radius: 16px;
    color: #ffffff;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    position: absolute;
    right: 40%;
    top: 79%;
    width: 12%;
}

.check:hover
{  cursor: pointer;
    background: #ffffff;
    color: #F28E86;

}


.check1{
	background: #f28e86 none repeat scroll 0 0;
    border-radius: 16px;
    color: #ffffff;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    position: absolute;
    right: 3%;
    top: 24%;
    width: 12%;
}

.check1:hover
{  cursor: pointer;
    background: #ffffff;
    color: #F28E86;

}

.check2{
	background: #f28e86 none repeat scroll 0 0;
    border-radius: 16px;
    color: #ffffff;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    position: absolute;
    right: 4%;
    top: 39%;
    width: 12%;
}

.check2:hover
{  cursor: pointer;
    background: #ffffff;
    color: #F28E86;

}

.check3{
	 background: #f28e86 none repeat scroll 0 0;
    border-radius: 16px;
    color: #ffffff;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    position: absolute;
    right: 4%;
    top: 62%;
    width: 12%;
}

.check3:hover
{  cursor: pointer;
    background: #ffffff;
    color: #F28E86;

}


/*.inputbox_diy3
{
	color: #ed594e;
    font-weight: bold;
    width: 5%;
	text-align: center;

}*/

.wrapperIntro.firstPage .text11 > span
{
    left: 40%;
}

.wrapperIntro.firstPage .text12 > span
{
left: 44%;
}

.wrapperIntro.firstPage .text13 > span
{
left: 44%;
}

.wrapperIntro.firstPage .text14 > span
{
    left: 26%;
}

.wrapperIntro.firstPage .text15 > span
{
left: 39.5%;
}

.wrapperIntro.firstPage .text16 > span
{
    left: 0.2%;
}

.wrapperIntro.firstPage .text16 > p
{
   left: 63.2%;
    margin-top: -4%;
    position: absolute;
}

.wrapperIntro.firstPage .text17 > span
{
    left: -0.5%;
}

.wrapperIntro.firstPage .text17 > p
{
    left: 63.5%;
    margin-top: -4%;
    position: absolute;
}

.wrapperIntro.firstPage .text19
{
   color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 3.5%;
    line-height: 1.5em;
    padding-right: 4%;
    position: absolute;
    top: 18%;
}

.wrapperIntro.firstPage .text20
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 16%;
    line-height: 1.5em;
    position: absolute;
    top: 31%;
    width: 40%;
}

.wrapperIntro.firstPage .text21
{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 16%;
    line-height: 1.5em;
    position: absolute;
    top: 40%;
    width: 35.3%;
}

.wrapperIntro.firstPage .text22
{
   color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 16%;
    line-height: 1.5em;
    position: absolute;
    top: 49%;
    width: 39.1%;
}

.wrapperIntro.firstPage .text23
{
   color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 16%;
    line-height: 1.5em;
    position: absolute;
    top: 58%;
    width: 35%;
}

.wrapperIntro.firstPage .text24
{
   color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 16%;
    position: absolute;
    top: 68%;
    width: 34.5%;
}

.wrapperIntro.firstPage .text25
{
   color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 16%;
    line-height: 1.5em;
    position: absolute;
    top: 77%;
    width: 34.5%;
}

.wrapperIntro.firstPage .text20 >span
{
  left: 71%;
}

.wrapperIntro.firstPage .text21 >span
{
  left: 88%;
}

.wrapperIntro.firstPage .text22 >span
{
  left: 72%;
}

.wrapperIntro.firstPage .text23 >span
{
  left: 97%;
}

.wrapperIntro.firstPage .text24 >span,.wrapperIntro.firstPage .text25 >span
{
  left: 98%;
}

/*for videos*/

.replay {
    background: rgba(0, 0, 0, 0) url("../image/replay.png") repeat scroll 0 0;
    border: medium none;
    box-shadow: none !important;
    height: 50px;
    position: absolute;
    right: 2%;
    top: 0;
    width: 50px;
	display: none;
}

/*.replay1 {
    background: rgba(0, 0, 0, 0) url("../image/replay.png") repeat scroll 0 0;
    border: medium none;
    box-shadow: none !important;
    height: 50px;
    position: absolute;
    right: 2%;
    top: 0;
    width: 50px;
	display: none;
}

.replay2 {
    background: rgba(0, 0, 0, 0) url("../image/replay.png") repeat scroll 0 0;
    border: medium none;
    box-shadow: none !important;
    height: 50px;
    position: absolute;
    right: 2%;
    top: 0;
    width: 50px;
	display: none;
}*/

.videoblock{
	display: none;
}

.videoblock2{
	display: none;
}

.videoblock3{
	display: none;
}

.equation1{
	left: 15%;
    margin-top: 7%;
    position: absolute;
    width: 70%;
}

.aeiou1{
	left: 19%;
    margin-top: 12%;
    position: absolute;
    width: 62%;
}

.prism{
	left: 11%;
    margin-top: 9%;
    position: absolute;
    width: 80%;
}

.planets{
	left: 14%;
    margin-top: 11%;
    position: absolute;
    width: 75%;
}

/*second page*/

.wrapperIntro.second {
    background: #ffffff none repeat scroll 0 0;
}

.wrapperIntro.second .text0 {
      background: #4bb4cb none repeat scroll 0 0;
    border-bottom: 4px solid #b1d1dd;
    color: #ffffff;
    display: none;
    font-size: 1.9em;
    height: 10.5%;
    left: 0;
    padding-top: 1.5%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.second .text1{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 4%;
    line-height: 1.5em;
    padding-right: 8%;
    position: absolute;
    top: 16%;
}

.wrapperIntro.second .text2{
     color: #5c5c5c;
    display: none;
    font-size: 1.1em;
    left: 8%;
    position: absolute;
    top: 29%;
}

.wrapperIntro.second .text3{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 11%;
    position: absolute;
    top: 38%;
}

.wrapperIntro.second .text4{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 11%;
    position: absolute;
    top: 47%;
}

.wrapperIntro.second .text5{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 11%;
    position: absolute;
    top: 56%;
}

/*.wrapperIntro.second .text6{
    color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 39%;
}

.wrapperIntro.second .text7{
    color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 39%;
}

.wrapperIntro.second .text8{
   color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 40%;
}

.wrapperIntro.second .text9{
    color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 45%;
}

.wrapperIntro.second .text10{
    color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 43%;
}

.wrapperIntro.second .text11{
    color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 45%;
}

.wrapperIntro.second .text12{
    color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 38%;
}

.wrapperIntro.second .text13{
    color: purple;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    left: 30%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 38%;
}*/

.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12,
.wrapperIntro.second .text13{
	 background: #f9e757 none repeat scroll 0 0;
    color: #555555;
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    height: 10%;
    left: 25%;
    padding: 1% 4% 9%;
    position: absolute;
    text-align: justify;
    top: 82%;
    width: 52%;
}

.wrapperIntro.second .text14{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    position: absolute;
    top: 18%;
}

.wrapperIntro.second .text15{
  color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    position: absolute;
    top: 25%;
}

.wrapperIntro.second .text16{
        position: absolute;
    top: 54%;
    font-size: 1.4em;
    font-weight: bold;
    color: #e04d45;
    left: 39%;
    display: none;
}

.wrapperIntro.second .text17{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    position: absolute;
    top: 31%;
}

.wrapperIntro.second .text18{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 36%;
}

.wrapperIntro.second .text19{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 43%;
}

.wrapperIntro.second .text20{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 49%;
}

.wrapperIntro.second .text21{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 56%;
}

.wrapperIntro.second .text22{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 62%;
}

.wrapperIntro.second .text23{
    color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 69%;
}

.wrapperIntro.second .text24{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 77%;
}

.wrapperIntro.second .text25{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 29%;
}

.wrapperIntro.second .text26{
     color: #e04d45;
    display: none;
    font-size: 1.4em;
    font-weight: bold;
    left: 4%;
    line-height: 1.5em;
    position: absolute;
    top: 29%;
}

.imgs {
    left: 50%;
    position: absolute;
    top: 30%;
    width: 38%;
	display: none;
}

.circle1 {
   border: 1px solid;
    border-radius: 50%;
    font-size: 1.3em;
    height: 34%;
    position: absolute;
    right: 22.5%;
    top: 28.4%;
    width: 20%;
    z-index: 99;
}

.circle2 {
   border: 1px solid;
    border-radius: 50%;
    font-size: 1.3em;
    height: 34%;
    padding-left: 18%;
    position: absolute;
    right: 13.5%;
    top: 28.4%;
    width: 20%;
    z-index: 99;
}

.circle3 {
    border: 1px solid;
    border-radius: 50%;
    font-size: 1.3em;
    height: 34%;
    padding-left: 17%;
    padding-top: 17%;
    position: absolute;
    right: 17.8%;
    top: 43.9%;
    width: 19.3%;
    z-index: 99;
}



.common1 {
    /*border: 1px solid;*/
    /*background-color: #fefe33;*/
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    display: none;
    height: 12%;
    position: absolute;
    right: 24.4%;
    top: 32%;
    width: 7%;
    z-index: 999;

}

.common2 {
    /*border: 1px solid;*/
    border-radius: 38%;
    height: 11%;
    position: absolute;
    right: 32.3%;
    top: 51%;
    width: 4%;
    z-index: 999;
	display: none;

}

.common3 {
    /*border: 1px solid;*/
    border-radius: 50%;
    height: 15%;
    position: absolute;
    right: 23.7%;
    top: 44%;
    width: 8.7%;
    z-index: 999;
	display: none;

}

.common4 {
    /*border: 1px solid;*/
    border-radius: 50%;
    height: 12%;
    position: absolute;
    right: 18.6%;
    top: 50%;
    width: 5.5%;
    z-index: 999;
	display: none;

}

.common01 {
    display: none;
    height: 27.9%;
    left: 66.9%;
    position: absolute;
    top: 31.8%;
    width: 10%;
    z-index: 1000;

}

.ven{
	 height: 61%;
    position: absolute;
    right: 2%;
    top: 7%;
    width: 42%;
}

.rectangle {
    border: 1px solid;
    height: 53%;
    position: absolute;
    right: 10%;
    top: 26.5%;
    width: 36%;
}

.rectangle1 {
     display: none;
    height: 46%;
    left: 52.9%;
    position: absolute;
    top: 21.3%;
    width: 38%;
	z-index: 9;
}

.img02 {
    height: 57.3%;
    left: 53%;
    position: absolute;
    top: 23.5%;
    width: 38%;
	opacity: 0.7;
	display: none;
}

.img03 {
    display: none;
    height: 32%;
    left: 57.7%;
    opacity: 0.7;
    position: absolute;
    top: 28.3%;
    width: 14%;
}

.img04 {
    display: none;
    height: 31.1%;
    left: 72.3%;
    position: absolute;
    top: 28.4%;
    width: 14.1%;
}

.img05 {
    height: 17%;
    left: 66.4%;
    position: absolute;
    top: 30.2%;
    width: 11%;
	opacity: 0.7;
	display: none;
}

.img06 {
    display: none;
    height: 16.1%;
    left: 66.5%;
    position: absolute;
    top: 44.2%;
    width: 10.9%;
}

.img07 {
    height: 16.5%;
    left: 72.4%;
    position: absolute;
    top: 46%;
    width: 9.9%;

	display: none;
}

.img08 {
    display: none;
    height: 15%;
    left: 63%;
    position: absolute;
    top: 47.5%;
    transform: rotate(-1deg);
    width: 8.6%;
}

.img09 {
    height: 19%;
    left: 63%;
    opacity: 0.7;
    position: absolute;
    top: 59%;
    width: 19%;
	display: none;
}


.correct{
    background: #D1F2AE !important;
}

.incorrect{
    background: #FFC5AC !important;
}

.answer{
    position: absolute;
    margin-top: 52%;
    width: 10%;
    font-size: 1.2em;
    left: 38%;
    opacity: 0;
}

#describe{
	color: purple;
    font-size: 1.2em;
    left: 25% !important;
    position: absolute;
    text-align: justify;
    top: 81%;
    width: 37% !important;
}

#hoverable{
	display: none;
	position: absolute;

}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: bottom;
}
sup {
    bottom: 0.35em !important;
    font-size: 0.85em !important;
}
sup {
    top: -0.4em;
}

.sky {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display: none;
}
