.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	/*display: none;*/
	position: absolute;
	top: 85%;
	left: 93%;
	width: 6%;
	height: 10%;
	z-index: 99;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top: 85%;
	left: 5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/*rashik */

.wrapperIntro.first
{
	width: 100%;
	height: 100%;
	position: relative;
	background: #ffffff;
}

.wrapperIntro.first .text0
{
	background: #f7efdd none repeat scroll 0 0;
    color: #00b4cd;
    font-size: 6.5em;
    font-weight: bold;
    height: 100%;
    padding-top: 21%;
    position: absolute;
    text-align: center;
    width: 100%;

}

.wrapperIntro.first .text1,.wrapperIntro.first .text2
{
	background: #4bb4cb none repeat scroll 0 0;
    border-bottom: 4px solid #b1d1dd;
    color: #ffffff;
    display: none;
    font-size: 2em;
    height: 11%;
    left: 0;
    padding-left: 29%;
    padding-top: 1%;
    position: absolute;
    top: 0;
    width: 100%;
}

.venndiag
{
	position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    display:none;
}

.venndia
{
	position: absolute;
    top: 35%;
    right: 5%;
    width: 42%;
    display:none;
}
.wrapperIntro.first .text3
{
	 color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 3%;
    line-height: 1.5em;
    position: absolute;
    top: 20%;
    width: 47%;
}

.wrapperIntro.first .text4
{
	 color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 11%;
    position: absolute;
    top: 38%;
}

.wrapperIntro.first .text5
{
	color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 11%;
    position: absolute;
    top: 46%;
}

.wrapperIntro.first .text6
{
	color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 11%;
    position: absolute;
    top: 54%;
}

.regions_venn
{
	position: absolute;
    top: 17%;
    right: 6%;
    color: #e04d45;
    font-size: 2em;
    font-weight: bold;
	display: none;
	z-index: 1000;
}

.wrapperIntro.first .text7,.wrapperIntro.first .text8,.wrapperIntro.first .text9,.wrapperIntro.first .text10,.wrapperIntro.first .text11,.wrapperIntro.first .text12,.wrapperIntro.first .text13
{
     background: #f9e757 none repeat scroll 0 0;
    color: #555555;
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    height: 10%;
    left: 25%;
    line-height: 2em;
    padding: 1% 4% 14%;
    position: absolute;
    text-align: justify;
    top: 72%;
    width: 48%;
}

.wrapperIntro.first .text14
{
     color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    left: 3%;
    position: absolute;
    top: 21%;

}

.wrapperIntro.first .text15
{
    color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    left: 7%;
    position: absolute;
    top: 33%;
}

.wrapperIntro.first .text16
{
     color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    left: 7%;
    position: absolute;
    top: 43%;
}

.wrapperIntro.first .text17
{
    color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    left: 7%;
    position: absolute;
    top: 53%;
}

.wrapperIntro.first .text18
{
   color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    left: 7%;
    position: absolute;
    top: 63%;
}


.wrapperIntro.first .text19
{
	color: #5c5c5c;
	display: none;
	font-size: 1.2em;
	left: 4%;
	line-height: 2em;
	position: absolute;
	top: 37%;
}

.wrapperIntro.first .text20
{
    position: absolute;
    top: 51%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text21
{
    position: absolute;
    top: 61%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text22
{
    position: absolute;
    top: 71%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text23
{
    position: absolute;
    top: 33%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text24
{
	color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 4%;
    line-height: 2em;
    position: absolute;
    text-align: justify;
    top: 39%;
    width: 49%;
}

.wrapperIntro.first .text25
{
    position: absolute;
    top: 71%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text26
{
    position: absolute;
    top: 83%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text27
{
    position: absolute;
    top: 33%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text28
{
    position: absolute;
    top: 41%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text29
{
    color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 4%;
    line-height: 2em;
    position: absolute;
    top: 39%;
    width: 49%;
}

.wrapperIntro.first .text30
{
    position: absolute;
    top: 68%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 2%;
    display: none;
}

.wrapperIntro.first .text31
{
    position: absolute;
    top: 33%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 14%;
    display: none;
}

.wrapperIntro.first .text32
{
    position: absolute;
    top: 41%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 14%;
    display: none;
}

.wrapperIntro.first .text33
{
    position: absolute;
    top: 51%;
    font-size: 2em;
    font-weight: bold;
    color: #5c5c5c;
    width: 51%;
    left: 14%;
    display: none;
}

.wrapperIntro.first .text34
{
    color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 3%;
    line-height: 2em;
    position: absolute;
    top: 37%;
    width: 51%;
}

.circle1 {
    border: 1px solid;
    border-radius: 50%;
    height: 33%;
    position: absolute;
    right: 23.3%;
    top: 29%;
    width: 20%;
	z-index: 99;
	cursor: pointer;
}

.circle2 {
    border: 1px solid;
    border-radius: 50%;
    height: 33%;
    position: absolute;
    right: 13%;
    top: 29%;
    width: 20%;
	z-index: 99;
	cursor: pointer;
}



.common {
    border-radius: 50%;
    height: 26%;
    position: absolute;
    right: 24%;
    top: 33%;
    width: 8.5%;
    z-index: 999;

}

.common1 {
    display: none;
    height: 27.9%;
    left: 66.9%;
    position: absolute;
    top: 31.8%;
    width: 10%;
    z-index: 1000;
	cursor: pointer;

}

.ven{
	 height: 61%;
    position: absolute;
    right: 2%;
    top: 7%;
    width: 42%;
}

.rectangle {
    border: 1px solid;
    height: 43%;
    position: absolute;
    right: 9%;
    top: 24%;
    width: 38%;
	cursor: pointer;
}

.rectangle1 {
     display: none;
    height: 46%;
    left: 52.9%;
    position: absolute;
    top: 21.5%;
    width: 38%;
    z-index: 9;
	cursor: pointer;
}

.blue {
    display: none;
    height: 32.7%;
    position: absolute;
    right: 28%;
    top: 29.2%;
    width: 15.2%;
    z-index: 99;
	cursor: pointer;
}

.pink {
    height: 32.7%;
    position: absolute;
    right: 13.2%;
    top: 29.2%;
    width: 15.2%;
    z-index: 99;
	display: none;
	cursor: pointer;
}

.set-a {
    color: #a1449d;
    cursor: pointer;
    font-size: 1.7em;
    font-weight: bold;
    left: 60.1%;
    position: absolute;
    top: 25.8%;
    z-index: 99;
}

.set-a:hover {
	color: #9990E0;
}

.set-b {
	color: #a1449d;
    cursor: pointer;
    font-size: 1.7em;
    font-weight: bold;
    left: 82%;
    position: absolute;
    top: 26%;
    z-index: 99;
}

.set-b:hover {
	color: #9990E0;
}

.uni {
	color: #a1449d;
    cursor: pointer;
    font-size: 1.7em;
    font-weight: bold;
    left: 88%;
    position: absolute;
    top: 19%;
}

.uni:hover {
	color: #9990E0;
}

.set {
    left: 52%;
    position: absolute;
    top: 26%;
    width: 38%;
	display: none;
	cursor: pointer;
}

.set1 {
    font-size: 1.2em;
    left: 59.6%;
    position: absolute;
    top: 37.7%;
    z-index: 999;
}

.set2 {
    font-size: 1.2em;
    left: 59.6%;
    position: absolute;
    top: 48%;
    z-index: 999;
}

.set3 {
    font-size: 1.3em;
    left: 70.9%;
    position: absolute;
    top: 42.5%;
    z-index: 9999;
}

.set4 {
    font-size: 1.3em;
    left: 81.8%;
    position: absolute;
    top: 37.5%;
    z-index: 999;
}

.set5 {
    font-size: 1.3em;
    left: 81.8%;
    position: absolute;
    top: 47.8%;
    z-index: 999;
}

.set6 {
    font-size: 1.3em;
    left: 54.9%;
    position: absolute;
    top: 24.7%;
    z-index: 999;
}

.set7 {
    font-size: 1em;
    left: 54.9%;
    position: absolute;
    top: 61%;
    z-index: 999;
}

.setU {
    display: none;
    height: 43%;
    left: 52.9%;
    position: absolute;
    top: 24%;
    width: 38%;
}

.dig01 {
    left: 57%;
    position: absolute;
    top: 28%;
    width: 35%;
	display: none;
}

.dig02 {
    left: 57%;
    position: absolute;
    top: 28%;
    width: 35%;
	display: none;
}

.dig03 {
    left: 57%;
    position: absolute;
    top: 28%;
    width: 35%;
	display: none;
}

.dig04 {
    left: 57%;
    position: absolute;
    top: 28%;
    width: 35%;
	display: none;
}



#describe{
	color: purple;
    font-size: 1.5em;
    left: 53% !important;
    position: absolute;
    text-align: center;
    top: 75%;
    width: 40% !important;
}

#hoverable{
	display: none;
	position: absolute;

}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: 0.35em;
    font-size: 0.85em;
}
sub {
    bottom: -0.25em;
}

.blue01{
	color: #7979e1;
}
