body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 0%;
	margin-top: 9%;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/
/*top to bottom dragdiv*/
.blueBg{
  background: #d5a6bd;
}
.imgexcmaincontainer{
  position: absolute;
  top: 64%;
  height: 36%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.optionimagescontainer{
  position: relative;
  width: 27%;
  height: 90%;
  background: #8e7cc3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2em;
}

.topInstrn{
  position: absolute;
  left: 0%;
  width: 100%;top: 0%;
  background: #0097a7;
  font-family: pattrickharris;
  color: #fff;
  height: 15%;
}
[class*=boximg]{
  position: absolute;
  top: 43%;
  left: 50%;
  width: 48%;
  transform: translate(-50%,-50%);
}
.spngImg{
  width: 13%;
  top: 50%;
}
.corincor_img{
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 16%;
  display: none;
}
[class*=spkrimg]{
  position: absolute;
  top: 30%;
  width: 15%;
  left: 50%;
  transform: translate(-50%);
}
.drgblImg{
  position: absolute;
  top: 30%;
  width: 15%;
  left: 15%;
}


.sp-1{
  width: 39%;
  height: 30%;
  top: 35%;
  left: 80%;
  transform: translate(-59%,-57%);
  padding: 2% 3% 4% 9%;
}
.speechbg{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.textInSp{
	width: 84%;
	left: 8%;
	top: 50%;
	transform: translateY(-50%);
  font-size: 4vh;
}


.opnContainer:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.qn_top{
  position: absolute;
  text-align: center;
  font-size: 6vh;
  width: 77%;
  left: 5%;
  padding-top: 2%;
}
.dropHover{
  border: 4px dashed #000;
}
.draggable:hover{
  cursor: pointer;
}

[class*=hidn]{
  display: none;
}
[class*=wdth20]{
  width: 20%;
}
 /*----------------------type 5 exercise end---------------------*/
 @media screen and (min-aspect-ratio: 4/3) {
 	/*vh*/
 	.boxtxt{
 		font-size: 3vh;
 	}
 .topqn, .secqn, .optionsdiv p {
 		font-size: 3vh;
 	}
  .qn_top{
  		font-size: 5vh;
  }
 }
 @media screen and (max-aspect-ratio: 4/3) {
 	/*vh*/
 	.boxtxt, .topqn, .optionsdiv p {
 		font-size: 1.5vw;
 	}
  .qn_top{
  		font-size: 1.5vw;
  }
 }
