.contentblock{
	background: radial-gradient(#EECEE0, #B896A6);
}
.instruction-new{
	position: absolute!important;
	top: 0%;
	left: 0%;
	padding: 2%!important;
	color: white;
	background-color: #A3C3C4;
	font-size: 2.5vw;
	width: 100%;
}

.question {
  position: absolute !important;
  text-align: center;
  font-size: 2.8vw;
  font-family: Sniglet;
  width: 100%;
  left: 0%;
  color: #595959;
}
@media (min-aspect-ratio:4/3){
	.instruction-new{
		font-size: 3.4vh;
	}
	.question{
		font-size: 3.5vh !important;
	}
}
