
.sm1 {
 width: 100%;
 height: 100%;
 background: #ffffff;
 position:relative;
}

.sm1, .sm1 * {
 position: relative;
 margin: 0;
 padding: 0;
}

.title {
       font-size: 1.8em;
    width: 100%;
    color: #606060;
    margin: auto;
    /* margin-top: 5%; */
    /* text-align: center; */
    text-align: center;
    background: none repeat scroll 0 0 #FFD350;
    margin-top: 0%;
    padding-top: 1%;
}

.nextBtn {
	z-index: 100;
  display: none;
  position: absolute;
  top: 83%;
  left: 89%;
  width: 7%;
  height: 11%;
  cursor: pointer;
  background-image: url("../../../../../images/arrows/arrow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nextBtn:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.board {
 width: 100%;
 box-shadow: 0 -10px 10px -10px #383838;
 text-align: center;

}

.mainholder {
    padding-top: 5%;
}

.flipHolder {

 width: 50%;
 box-shadow: 0 -10px 10px -10px #383838;
 text-align: center;

}

.qAHolder {
 xdisplay: inline-block;
 xwidth: 65%;
 margin-top: 0%
}

.imgHolder {
 padding:2%;
}

.question {
    text-align: left;
    margin: auto;
    font-size: 1.2em;
    background-color: transparent;
    /* border: 1px solid #cccccc; */
    /* border-radius: 4px; */
    /* box-shadow: 0 1px 1px #feffff; */
    color: #555555;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    padding: 1% 1% 1% 4%;
    font-size: 2em;

 }

 .answers ul li {
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    text-align: justify;
    width: 81%;
    display: block;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.answers
{
	margin-top: 2%;
    position: absolute;
    left: 41.5%;
}

.answers .neutral:hover {
 background: #a5b8da !important;
 color: #5B5B5B;
}

.neutral {
    background: #37A2EA !important;
}

.right,.wrong
{
  transition: all .2s ease-in-out;
}
.result
{
    bottom: 5%;
    color: #fff;
    display: none;
    font-size: 1.3em;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 241px;
    width: 100%;
    z-index: 10;
    color:black;
   }

.wrong {
	 background-color: #FF595B ! !important;
	 background-image: linear-gradient(to bottom, #eb715b, #ed6e40) !important;
	 color:#ffffff !important;
}

.right  {
 	background-color:  #a9db80 !important;
   	color:#606060 !important;
    font-size: 12px;
    text-decoration: none;

}

@media screen and (min-aspect-ratio: 4/3) {
	 .question, .title_tt {
		 font-size: 4vh;
	 }
	 .answers ul li, p {
		 font-size: 3.56vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) {
	 .question, .title_tt {
		 font-size: 3.56vw;
	 }
	 .answers ul li, p {
		 font-size: 3vw;
	 }
}
