#question2, #question3, #question4, #question5 {
    display: none;
    text-align: center;
}

.wrapper
{
	width:100%;
	height:100%;
	position:relative;
}
.background{
	 width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: url("../exercise_images/hospital.jpg");
	-moz-background-size: cover;
	 background-size: 100% 100%;
	  background-repeat: no-repeat;
}

.questions{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 74px;
    margin-top: 36px;
}

.row_first
{
   x opacity: 0.43;
    height: 27%;
    margin-top: 7%;
    text-align: center;
}

.row_last
{
  x  opacity: 0.43;
    margin-top: 3px;
    text-align: center;
}
.tt{
	height: 162px;
}

.test{
	
	height: 142px;
}
.foot
{
	background: black;
	width:10%;
	height:10%;
}

.patho div, {
	height:141px;
}


.cardpile:hover{
	cursor:pointer;
}

/* The alert message box */
.popuptext {
    background: #f99774 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-size: 1.7em;
    height: 41%;
    left: 25%;
    margin-bottom: 20px;
    padding: 6% 15px 15px;
    position: absolute;
    text-align: center;
    top: 31%;
    width: 50%;
    z-index: 100;
}

/* The close button */
.closebtn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 15px;
    margin-top: -11%;
    transition: all 0.3s ease 0s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.closebtn1:hover {
    color: black;
}



.cong {
    background-color: #6abd6e;
    color: white;
    font-size: 1.9em;
    left: 11%;
    margin-bottom: 15px;
    padding: 20px;
    position: absolute;
    top: 42%;
    z-index: 100;
    display: none;
    
}

.closebtn1 {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* #element_1,#element_2,#element_4,#element_3{
    animation: in_out 1s infinite;
}
@keyframes in_out {
    0%{
        border: white solid 10px;
    }
    50%{
        border: white solid 1px;
    }
    100%{
        border: white solid 10px;
    }
} */
