.sp-1{
  position: absolute;
  width: 39%;
  font-family: laila;
  font-size: 3.5vmin;
  left: 16%;
  top: 6%;
  color: #595959;
  height: 39%;
}

.containerbox{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: white;
  border-radius: 50px;
}

.containerbox1{
  position: absolute;
  width: 35%;
  height: 80%;
  top: 10%;
  right: 5%;
  background-color: white;
  border-radius: 60px;
}

.ek1,.ek2,.ek3,.ek4,.ek5,.ek6,.ek7,.ek8{
  position: relative;
  top: 4%;
  left: -3%;
  width: 100%;
  padding: 2%;
  font-size: 4.2vmin;
}

.ba1,.ba2,.ba3,.ba4,.ba5,.ba6,.ba7,.ba8{
  position: relative;
  top: 4%;
  right: -3%;
  width: 100%;
  padding: 2%;
  font-size: 4.2vmin;
}

.ek1,.ba1{
  font-weight: bold;
  font-size: 4.8vmin;
  text-decoration: underline;
  color: #1155cc;
}

.containerbox3{
  position: absolute;
  width: 60%;
  height: 35%;
  top: 30%;
  left: 10%;


  animation-name: pulse_animation;
  animation-duration: 1100ms;
  transform-origin: 70% 70%;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

.textbox{
  position: relative;
  width: 100%;
  top: 4%;
  left: 20%;
  height: 100%;

}

.text25{
  position: absolute;
  width: 100%;
  top: 31%;
  left: 20%;
  font-size: 4.2vmin;
}

.text26{
  position: absolute;
  top: 68%;
  left: 53%;
  font-size: 4.2vmin;
}

.arrow{
  position: absolute;
  top: 74%;
  left: 60%;
  width: 17%;
}

.text27{
  position: absolute;
  top: 68%;
  left: 80%;
  font-size: 4.2vmin;
}

.arr1{
  position: absolute;
  top: 17%;
  right: -60%;
  width: 62%;
  padding: 2%;
  font-size: 4.2vmin;
  z-index: 3;
}

.arr2{
  position: absolute;
  top: 29%;
  right: -60%;
  width: 62%;
  padding: 2%;
  font-size: 4.2vmin;
  z-index: 3;
}

.arr3{
  position: absolute;
  top: 40%;
  right: -60%;
  width: 62%;
  padding: 2%;
  font-size: 4.2vmin;
  z-index: 3;
}

.arr4{
  position: absolute;
  top: 51%;
  right: -60%;
  width: 62%;
  padding: 2%;
  font-size: 4.2vmin;
  z-index: 3;
}

.arr5{
  position: absolute;
  top: 63%;
  right: -60%;
  width: 62%;
  padding: 2%;
  font-size: 4.2vmin;
  z-index: 3;
}

.arr6{
  position: absolute;
  top: 74%;
  right: -60%;
  width: 62%;
  padding: 2%;
  font-size: 4.2vmin;
  z-index: 3;
}

.arr7{
  position: absolute;
  top: 86%;
  right: -60%;
  width: 62%;
  padding: 2%;
  font-size: 4.2vmin;
  z-index: 3;
}

.containerbox2{
  position: absolute;
  width: 35%;
  height: 80%;
  top: 10%;
  left: 5%;
  background-color: white;
  border-radius: 60px;
}

.txt1 {
  position: absolute;
  width: 30%;
  top: 5%;
  left: 1%;
  font-size: 5.2vmin;
}

.txt2 {
  position: absolute;
  width: 30%;
  top: 5%;
  left: 28%;
  font-size: 5.2vmin;
}

.txt3 {
  position: absolute;
  width: 30%;
  top: 25%;
  left: 6%;
  font-size: 5.2vmin;
}

.txt4 {
  position: absolute;
  width: 30%;
  top: 25%;
  left: 36%;
  font-size: 5.2vmin;
}

.txt5 {
  position: absolute;
  width: 30%;
  top: 25%;
  left: 64%;
  font-size: 5.2vmin;
}

.arrow1{
  position: absolute;
  top: 10%;
  width: 12%;
  left: 22%;
}

.arrow2{
  position: absolute;
  top: 30%;
  width: 12%;
  left: 31%;
}

.arrow3{
  position: absolute;
  top: 30%;
  width: 12%;
  left: 59%;
}

.niraj{
  position: absolute;
  width: 11%;
  top: 40%;
  left: 15%;
}

.prem{
  position: absolute;
  width: 13%;
  top: 40%;
  left: 34%;
}

.suraj{
  position: absolute;
  width: 12%;
  top: 40%;
  left: 53%;
}

.sagar{
  position: absolute;
  width: 12%;
  top: 40%;
  left: 70%;
}

.cow1{
  position: absolute;
  width: 30%;
  top: 60%;
  left: 10%;
}

.cow2{
  position: absolute;
  width: 30%;
  top: 60%;
  left: 40%;
}

.cow3{
  position: absolute;
  width: 30%;
  top: 60%;
  left: 66%;
}

.girl1{
  position: absolute;
  width: 11%;
  top: 42%;
  left: 19%;
}

.girl2{
  position: absolute;
  width: 14%;
  top: 42%;
  left: 40%;
}

.girl3{
  position: absolute;
  width: 12%;
  top: 42%;
  left: 65%;
}


.purplebg1{
	background-color: #ffb19c;
}

.purplebg1{
	background-color: #ffb19c;
}

.purplebg2{
  background-color: #93c47d;
}

.purplebg3{
  background-color: #f6b26b;
}

.purplebg4{
	background-color: #8e7cc3;
}

.sp-2{
  position: absolute;
  width: 60%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 20%;
  top: 30%;
  color: #595959;
  height: 35%;

  animation-name: pulse_animation;
  animation-duration: 1100ms;
  transform-origin:70% 70%;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

.sp-3{
  position: absolute;
  width: 64%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 20%;
  top: 20%;
  color: #595959;
  height: 55%;

  animation-name: pulse_animation;
  animation-duration: 1100ms;
  transform-origin: 70% 70%;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

.sp-4{
  position: absolute;
  width: 24%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 44%;
  top: 31%;
  color: #595959;
}

.sp-5{
  position: absolute;
  width: 24%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 42%;
  top: 14%;
  color: #595959;
}

.speech1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: -23%;
  left: 0%;
}

.text-inside{
	position: absolute;
	top: 34%;
	width: 100%;
	left: 8%;
}

.text1{
  position: absolute;
  width: 80%;
  top: 18%;
  left: 10%;
  background-color: white;
  height: 20%;
  padding: 4%;
  border-radius: 50px;
  font-size: 4.2vmin;
  animation: slidein 3s 1;
}

.textcolor{
  color: blue;
}

@keyframes slidein {
  from{
    left: -80%;
  }
  to{
    left: 10%;
  }
}

@keyframes slidein1 {
  from{
    left: -260%;
  }
  to{
    left: 10%;
  }
}

.text2{
  position: absolute;
  width: 80%;
  top: 60%;
  left: 10%;
  background-color: white;
  height: 20%;
  padding: 4%;
  border-radius: 50px;
  font-size: 4.2vmin;
  animation: slidein1 3s 1;
}

.speechbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
  transform: rotate(180deg);
  transform: scaleX(-1);
}

.notepad1{
  position: absolute;
  width: 50%;
  height: 90%;
  top: 5%;
  left: 25%;
}


.test0{
  position: absolute;
  width: 50%;
  height: 90%;
  top: 5%;
  left: 25%;
}

.test1{
  position: relative;
  top: 9%;
  z-index: 2;
  left: 19%;
  width: 77%;
  text-align: left;
  font-size: 5.2vmin;
  padding: 1%;
  margin: 3%;
}

.test2{
  position: relative;
  top: 10%;
  z-index: 2;
  left: 19%;
  width: 77%;
  text-align: left;
  font-size: 5.2vmin;
  padding: 1%;
  margin: 3%;
}

.test3{
  position: relative;
  top: 11%;
  z-index: 2;
  left: 19%;
  width: 77%;
  text-align: left;
  font-size: 5.2vmin;
  padding: 1%;
  margin: 3%;
}

.test4{
  position: relative;
  top: 13%;
  z-index: 2;
  left: 19%;
  width: 77%;
  text-align: left;
  font-size: 5.2vmin;
  padding: 1%;
  margin: 3%;
}

.rumiwithbowl{
  position: absolute;
  width: 16%;
  bottom: 1%;
  left: 48%;
}

.bowl{
  position: absolute;
  bottom: 5%;
  width: 27%;
  left: 25%;
}

.rumi{
  position: absolute;
  width: 17%;
  bottom: -16%;
  right: 3%;
}

.testdiv{
  position: absolute;
  width: 10%;
  top: 49%;
  left: 39%;
  background-color: transparent;
  z-index: 2;
  height: 16%;
  border: 2px solid black;
}

.highlight{
  position: absolute;
  width: 7%;
  top: 60%;
  left: 32%;
  background-color: transparent;
  z-index: 2;
  height: 10%;
  border: 2px solid black;
}

.rumi1,.rumigif{
  position: absolute;
  width: 27%;
  bottom: 5%;
  left: 25%;
}

.curtainl{
  position: absolute;
  width: 13%;
  top: 5%;
  left: 8%;
}

.option{
  position: absolute;
  top: 71%;
  width: 24%;
  background-color: #1155cc;
  right: 8%;
  height: 12%;
  border-radius: 40px;
  border: 1px solid white;
  cursor: pointer;
  animation-name: pulse_animation;
  animation-duration: 500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

.choice{
  position: relative;
  width: 100%;
  top: 20%;
  font-size: 4.3vmin;
  color: 	white;
  font-family: laila;
}

.curtainr{
  position: absolute;
  width: 13%;
  top: -29%;
  right: 43%;
  height: 99%;
}

.book{
  position: absolute;
  top: 56%;
  right: 38%;
  width: 13%;
}

.bag,.bag1{
  position: absolute;
  top: 37%;
  width: 15%;
  right: 11%;
}

.tick1{
  position: absolute;
  width: 14%;
  top: 11%;
  z-index: 2;
  left: 10%;
}

.tick2{
  position: absolute;
  width: 14%;
  top: 27%;
  z-index: 2;
  left: 10%;
}

.tick3{
  position: absolute;
  width: 14%;
  top: 42%;
  z-index: 2;
  left: 10%;
}

.tick4{
  position: absolute;
  width: 14%;
  top: 59%;
  z-index: 2;
  left: 10%;
}

.tick5{
  position: absolute;
  width: 14%;
  top: 75%;
  z-index: 2;
  left: 10%;
}

.test5{
  position: relative;
  top: 15%;
  z-index: 2;
  left: 19%;
  width: 77%;
  text-align: left;
  font-size: 5.2vmin;
  padding: 1%;
  margin: 3%;
}

.switchoff,.switchon{
  position: absolute;
  top: 25%;
  left: 4%;
  width: 3%;
  cursor: pointer;
}
.bulb1,.bulb2{
  position: absolute;
  top: 17%;
  left: 37%;
  width: 30%;
}

.water_filter,.water_filtergif {
  position: absolute;
  left: 0%;
  width: 44%;
  bottom: 0%;
}

.notepad{
  position: absolute;
  bottom: 15%;
  right: 2%;
  width: 25%;

  animation-name: pulse_animation;
  animation-duration: 500ms;
  transform-origin:70% 70%;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.sp-1 > p {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 35%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
}

.instructadditional{
  position: absolute;
  width: 100%;
}

.instruction{
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 5.2vmin;
  background-color: #c27ba0;
  border-radius: 10px;
  color: white;
}

.sp-2 > p {
  position: absolute;
  width: 84%;
  left: 8%;
  top: 47%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-3 > p {
  position: absolute;
  width: 84%;
  left: 8%;
  top: 53%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-4 > p {
  position: absolute;
  width: 84%;
  left: 8%;
  top: 54%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
}

.sp-5 > p {
  position: absolute;
  width: 84%;
  left: 0%;
  top: 47%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
}

.bg_full{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.telephone{
  position: absolute;
  width: 60%;
  right: 0%;
  bottom: 0%;
}
.title{
  position: absolute;
  top: 45%;
  left: 0%;
  width: 100%;
}
.chaptertitle {
  position: absolute;
  width: 100%;
  font-size: 5.4vmin;
}
