html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}


p{
    margin: 0;
    z-index: 1000;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 10%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}


.card1 {
    height: 20%;
    width: 50%;
    background: #8C5CA6;
    animation: card2ani 3s ease-out forwards;
    position: absolute;
    top: 0%;
    left: 0%;
}

.card2 {
    height: 20%;
    display: inline-block;
    width: 50%;
    background: #19B4A2;
    animation: card2ani 3s ease-out forwards;
    position: absolute;
    bottom: 0%;
    right: 0%;
}


@keyframes card2ani{
    to{
        height: 100%;
    }
}

@webkit-keyframes card2ani{
    to{
        height: 100%;
    }
}

.slideslide {
    color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    font-family: proxima;
    font-size: 4.2vw;
    font-weight: bold;
}

.middletext {
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    font-family: proxima;
    font-size: 3.5vw;
    width: 100%;
}

.letshighlight{
    color: #8C5CA6;
}

.youcan {
    position: absolute;
    left: 4%;
    top: 18%;
    font-size: 3vw;
}

.object {
    position: absolute;
    height: 30%;
    opacity: 0;
}

.objectmiddle {
    position: absolute;
    height: 30%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.oneimg {
    left: 4%;
    top: 31%;
    animation: appear 1s linear 0s forwards;
}

.twoimg {
    left: 42%;
    top: 31%;
    animation: appear 1s linear 1s forwards;
}

.threeimg {
    left: 76%;
    top: 31%;
    animation: appear 1s linear 2s forwards;
}

.fourimg {
    left: 24%;
    top: 61%;
    animation: appear 1s linear 3s forwards;
}

.fiveimg {
    left: 60%;
    top: 61%;
    animation: appear 1s linear 4s forwards;
}

.p2oneimg {
    left: 20%;
    top: 45%;
    animation: appear 1s linear 4.5s forwards;
}

.p2twoimg {
    left: 50%;
    top: 45%;
    animation: appear 1s linear 6s forwards;
}

.p2threeimg {
    left: 80%;
    top: 45%;
    animation: appear 1s linear 7s forwards;
}

.p2oneimg_sec {
    left: 20%;
    top: 45%;
    animation: appear 1s linear 4s forwards;
}

.p2twoimg_sec {
    left: 50%;
    top: 45%;
    animation: appear 1s linear 5s forwards;
}

.p2threeimg_sec {
    left: 80%;
    top: 45%;
    animation: appear 1s linear 6s forwards;
}


@keyframes appear{
    100%{
        opacity: 1;
    }
}

.dialog1, .dialog2 {
    position: absolute;
    width: 29%;
    min-height: 30%;
    bottom: 48%;
    left: 6%;
}

.audioicon {
    z-index: 4;
    position: absolute;
    right: 1%;
    top: 1%;
    width: 10%;
}

.dialog2 {
    left: 67%;
    bottom: 31%;
}

.dialogimage1, .dialogimage2{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.dialogimage2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dialogcontent{
    position:absolute;
    font-size: 2vw;
    width: 90%;
    left: 5%;
    top: 40%;
    transform: translateY(-50%);
}

.foralltext {
    position: absolute;
    font-size: 4vmin;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.onetext {
    left: 15%;
    top: 67%;
    animation: appear 1s linear 0s forwards;
}

.twotext {
    left: 53%;
    top: 67%;
    animation: appear 1s linear 1s forwards;
}

.threetext {
    left: 88%;
    top: 67%;
    animation: appear 1s linear 2s forwards;
}

.fourtext {
    left: 35%;
    top: 96%;
    animation: appear 1s linear 3s forwards;
}

.fivetext {
    left: 72%;
    top: 96%;
    animation: appear 1s linear 4s forwards;
}

.onetext2 {
    left: 20%;
    top: 67%;
    animation: appear_sec 1s linear 4.5s forwards;
}

.twotext2 {
    left: 50%;
    top: 67%;
    animation: appear_sec 1s linear 6s forwards;
}

.threetext2 {
    left: 80%;
    top: 67%;
    animation: appear_sec 1s linear 7s forwards;
}
@keyframes appear_sec {
  100%{
    opacity: 1;
  }
}

.onetext2_sec {
    left: 20%;
    top: 67%;
    animation: appear 1s linear 4s forwards;
}

.twotext2_sec {
    left: 50%;
    top: 67%;
    animation: appear 1s linear 5s forwards;
}

.threetext2_sec {
    left: 80%;
    top: 67%;
    animation: appear 1s linear 6s forwards;
}
.belowtext {
    font-size: 3vw !important;
    left: 50%;
    top: 87%;
    animation: appear 1s linear 6s forwards;
}

.person1 {
    position: absolute;
    left: 7%;
    top: 50%;
    height: 49%;
}

.person2 {
    position: absolute;
    right: 7%;
    top: 70%;
    height: 24%;
}

.item1 {
    position: absolute;
    right: 19%;
    bottom: 5%;
    width: 11%;
}
.pnkTxt{
  color: #bf4bb7;
  animation: appear_thrd 1s linear forwards;
}
@keyframes appear_thrd {
  100%{opacity: 1;}
}
