<!--
    Title : exponential
    May be small documentation
 -->
  <script type="text/javascript"
src="js/jquery-ui1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    $cssLoader("exercise/css/page20.circle02.css");
    $cssLoader("css/sweetalert.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<script>

function isNumber(evt)
{
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46){
    	swal(data.string.h3);
    	return false;
    }
    return true;
}

</script>
<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
	<div class="lokhar"><img src="activity/grade8/math/math_unitary_02/image/your.png"/></div>
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
		<div class="note"> {{note}}</div>

        <div class="qaArea"></div>

    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span><br/>
			<div class="sol">{{solution}}</div>
        </div>
        <div class="ansArea">
            <span class="baseString">{{baseString}} = </span>
			<input type="text" class="base" onkeypress="return isNumber(event)" autocomplete="off">
            <span class="unit">{{{suffix}}}</span>
			<span class="check1"></span>
			<span class="hint">{{hint}}</span>
            <span class="showAns">
                <span class="ans">{{answer}}: {{baseString}} = {{{ans}}}</span>
                <span class="baseString"></span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
        <div class="qnImg">
          <img class="img_q" src="{{image1}}">
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/page20.circle02.js");
    $jsLoader("js/sweetalert.min.js");
</script>
