<!--
 _____ _   ___     _______ _     ___  ____
| ____| \ | \ \   / / ____| |   / _ \|  _ \
|  _| |  \| |\ \ / /|  _| | |  | | | | |_) |
| |___| |\  | \ V / | |___| |__| |_| |  __/
|_____|_| \_|  \_/  |_____|_____\___/|_|
 -->


<div class="board">
	<script type="text/javascript">
		$cssLoader("css/style_envelop.css");
		$cssLoader("css/common.css");
	</script>

	<div class="popUpInside">

	</div>

	<div class="wrongPop">

	</div>
	<div class="mainpage">

	</div>
	<div class="Qwrapper clear">
		<div id="cntnt-body-wrapper">
			<div id="cntnt-body">
				<div id="primary-nav">
					<div class="wrapCircle">
						<div id="pulley" class="circular">
							<img src="$ref/images/pic1.png" />
						</div>
					</div>
					<div class="wrapCircle">
						<div id="lever" class="circular"><img src="$ref/images/lever.png" /></div>
					</div>
					<div class="wrapCircle">
						<div id="wheel" class="circular"><img src="$ref/images/pic3.png" /></div>
					</div>
				</div>

				<div id="cntnt">
					<div class="envelopWrap">
						<div class="envelop">
							<div><img src="$ref/images/before.png" id="envelopTop" /> </div>
							<p class="qDiv">नयाँ प्रश्न को लागि यहाँ थिच्नु होला </p>
							<div class="clickD"></div>
							<div><img src="$ref/images/after.png" id="envelopButtom" /></div>
						</div>

					</div>

				</div>
				<div id="secondary-nav">
					<div class="wrapCircle">
						<div id="plane" class="circular"><img src="$ref/images/pic021.png" /></div>
					</div>
					<div class="wrapCircle">
						<div id="screw" class="circular"><img src="$ref/images/pic5.png" /></div>
					</div>
					<div class="wrapCircle">
						<div id="wedge" class="circular"><img src="$ref/images/pic6.png" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/x-handlebars-template" id="wrong-template">
		<div class="wrongClick">
    	<h3><span><img src='{{ref}}/images/wrong.png' width='30px'>{{dialogue}}</span></h3>

    </div>
</script>

	<script type="text/x-handlebars-template" id="bullets-template">
		<div class="imgs">
			<img src="{{img}}" alt="">
		</div>
	<div class="title1"><span>{{{text1}}}</span></div>
	<div class="title2">{{{text2}}}</div>
	<div class="lists">
		<ul>{{#each examples}}
			<li>{{this}}</li>
			{{/each}}
		</ul>down2
	</div>

</script>

	<script type="text/x-handlebars-template" id="right-template">
		<div class="fullView">
		<div class="answer Absolute-Center">
			<div class="continue"> {{continue}} </div>
			<div class="up1">
				<p class="heading">
				<span>
				{{title}}
				</span>
				</p>
				<span class="preClosebtn">
					<img src="{{ref}}/images/298.GIF" width="10px">
				</span>
			</div>
			<div class="down2">
				<div class='easyHardBox clear'>
				<div class="eh">
					<div class='hardBox eHbox'>
					<p>{{hardTitle}}</p>
						<div class='imgHolder'>
							<!--<span class="glyphicon glyphicon-repeat btn1st"></span>-->
							<span class="myReloadStyle btn1st"></span>
							<img src="{{hardImg}}" class="hardImg">
						</div>
					</div>
					<div class='easyBox eHbox'>
						<p>{{easyTitle}}</p>
						<div class='imgHolder'>
							<span class="myReloadStyle btn2st"></span>
							<img src="{{easyImg}}" class="easyImg">
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

</script>

	<script type="text/x-handlebars-template" id="ending-template">
		<div class="fullView">

			<div class="ending">
				<span class='say'>{{say}}</span>
				<span class="btn"> <a href="{{link}}">{{next}}</a> <span class="glyphicon glyphicon-play"></span> </span>
				<img src="{{image}}">
			</div>
		</div>

</script>

	<script type="text/x-handlebars-template" id="front-template">
		<img src="{{coverimg}}" class="coverimg">
	<p class="titlefront">{{easyTitle}}</p>
</script>

	<script type="text/javascript">
		$jsLoader("js/envelop.js");
	</script>
</div>
