p{
    z-index: 5;
}

.weight {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.weight, .weight * {
	position: relative;
	margin: 0;
	padding: 0;
}

.weight .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.weight .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 90%;
	width: 100%;
	top: 10%;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: sniglet;
}

.description2 {
	text-align: right;
}

.utb_30 {
	position: absolute;
	width: 90%;
	height: 30%;
	top: 5%;
	left: 5%;
}

.ltb_20 {
	position: absolute;
	width: 90%;
	height: 20%;
	bottom: 0;
	left: 5%;
}

.imgblock_50 {
	position: absolute;
	height: 50%;
	width: 100%;
	top: 30%;
	left: 0;
}

.headerblock {
	width: 60%;
	left: 20%;
	background-color: #B6D7A8;
	color: #ffffff;
	font-size: 4.56vmin;
}

.orange_ltb {
	position: absolute;
	width: 90%;
	left: 5%;
	bottom: 2%;
	background-color: #FFE599;
}

.calibrated_weight1, .calibrated_weight2, .calibrated_weight3, .calibrated_weight4, .calibrated_weight5 {
	position: absolute;
	max-height: 90%;
	bottom: 10%;
}

.calibrated_weight1 {
	width: 17%;
    height: 63%;
    left: 15%;
}

.calibrated_weight2 {
    width: 13%;
    left: 35%;
    height: 45%;
}

.calibrated_weight3 {
    width: 16%;
    left: 51%;
    height: 23%;
}

.calibrated_weight4 {
	width: 14%;
    left: 70%;
    height: 20%;
}

.calibrated_weight5 {
	width: 20%;
	left: 68%;
	height: 90%;
}

.utb_info {
	position: absolute;
	width: 20%;
	top: 15%;
	right: 4%;
}

.draggablecontainer {
	position: absolute;
	height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.weightblock {
	position: absolute;
	bottom: 5%;
	left: 15%;
	width: 70%;
	height: 46%;
}

.beambalance_base {
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: 0;
	z-index: 99;
	background-size: 100% 100%;
}

.beambalance_left, .beambalance_right {
	position: absolute;
	width: 36%;
}

.beambalance_left {
	left: 22%;
	top: 64%;
	background-size: 100% 100%;
	height: 40%;
	transform: translate(-50%, -50%);
}

.beambalance_right {
	right: 22%;
	top: 64%;
	background-size: 100% 100%;
	height: 40%;
	transform: translate( 50%, -50%);
}

.beambalance_needle {
	position: absolute;
	width: 1%;
	left: 49.5%;
	top: 50.25%;
	height: 15%;
	background-size: 100% 100%;
	transform: rotate(360deg);
	transform-origin: 50% 100%;
}

.drop_left {
	position: absolute;
	height: 51%;
	width: 32%;
	left: 4%;
	top: 2%;
	margin: 0% 2% 3% 2%;
	z-index: 100;
}

.drop_right {
	position: absolute;
	height: 50%;
	width: 32%;
	right: 4%;
	top: 2%;
	margin: 0% 2% 3% 2%;
	z-index: 100;
}

.purplebg{
	background-color: #B4A7D6;
	color: #000000;
}

.imageleft, .imageright{
	position: absolute;
	height: auto;
	width: 50%;
	top: 40%;
	transform: translateY(-50%);
}

.image50_a, .image50_b, .image50_c_1, .image50_c_2 {
	left: 50%;
    position: absolute;
    width: 35%;
    transform: translateX(-50%);
    cursor: pointer;
    bottom: 4%;
}

.image50_c_1, .image50_c_2 {
	width: 26%;	
}

.image50_c_1{
	left: 38%;	
} 

.image50_c_2 {
	left: 62%;	
	display: none;
}

.click_500gm{
    position: absolute;
    cursor: pointer;
    width: 7%;
    top: 20%;
    left: 48%;
    transform: translateX(-50%);
	display: none;
}

.click_indicator{
	width: 4%;
	top: 31%;
	left: 48%;
	position: absolute;
	cursor: pointer;
}

.imagelabel_blue {
    position: absolute;
    left: 20%;
    top: 45%;
    font-weight: normal;
    background-color: rgba(0, 100, 0, 0.6);
    width: 60%;
}

.left_heavy_left_pan{
	-webkit-animation: _lhlp 0.6s linear 0.3s forwards;	
	animation: _lhlp 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _lhlp {
	to{
		top: 71.5%;		
	}
}

@keyframes _lhlp {
	to{
		top: 71.5%;		
	}
}

.left_heavy_right_pan{
	-webkit-animation: _lhrp 0.6s linear 0.3s forwards;	
	animation: _lhrp 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _lhrp {
	to{
		top: 56%;		
	}
}

@keyframes _lhrp {
	to{
		top: 56%;		
	}
}

.left_heavy_needle{
	-webkit-animation: _lhn 0.6s linear 0.3s forwards;	
	animation: _lhn 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _lhn {
	to{
		transform: rotate(322deg);
	}
}

@keyframes _lhn {
	to{
		transform: rotate(322deg);	
	}
}

.left_heavy_drop_left {
	-webkit-animation: _lhdl 0.6s linear 0.3s forwards;	
	animation: _lhdl 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _lhdl {
	to{
		top: 7%;
	}
}

@keyframes _lhdl {
	to{
		top: 7%;
	}
}

.left_heavy_drop_right {
	-webkit-animation: _lhdr 0.6s linear 0.3s forwards;	
	animation: _lhdr 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _lhdr {
	to{
		top: -8%;
	}
}

@keyframes _lhdr {
	to{
		top: -8%;
	}
}


/*
	right heavy right drop start
*/

.right_heavy_left_pan{
	-webkit-animation: _rhlp 0.6s linear 0.3s forwards;	
	animation: _rhlp 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _rhlp {
	to{
		top: 56%;			
	}
}

@keyframes _rhlp {
	to{
		top: 56%;		
	}
}

.right_heavy_right_pan{
	-webkit-animation: _rhrp 0.6s linear 0.3s forwards;	
	animation: _rhrp 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _rhrp {
	to{
		top: 71.5%;		
	}
}

@keyframes _rhrp {
	to{
		top: 71.5%;		
	}
}

.right_needle_new_pos{
	transform: rotate(322deg);
}

.right_heavy_needle{
	-webkit-animation: _rhn 0.6s linear 0.3s forwards;	
	animation: _rhn 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _rhn {
	to{
		transform: rotate(406deg);
	}
}

@keyframes _rhn {
	to{
		transform: rotate(406deg);	
	}
}

.right_heavy_drop_right {
	-webkit-animation: _rhdr 0.6s linear 0.3s forwards;	
	animation: _rhdr 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _rhdr {
	to{
		top: 7%;
	}
}

@keyframes _rhdr {
	to{
		top: 7%;
	}
}

.right_heavy_drop_left {
	-webkit-animation: _rhdl 0.6s linear 0.3s forwards;	
	animation: _rhdl 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _rhdl {
	to{
		top: -8%;
	}
}

@keyframes _rhdl {
	to{
		top: -8%;
	}
}

/*
	right heavy tight drop end 
*/

/*
	back to neutral start
*/

.neutral_left_pan{
	top: 71.5%;
	-webkit-animation: _nlp 0.6s linear 0.3s forwards;	
	animation: _nlp 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _nlp {
	to{
		top: 64%;			
	}
}

@keyframes _nlp {
	to{
		top: 64%;	
	}
}

.neutral_right_pan{
	top: 56%;
	-webkit-animation: _nrp 0.6s linear 0.3s forwards;	
	animation: _nrp 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _nrp {
	to{
		top: 64%;	
	}
}

@keyframes _nrp {
	to{
		top: 64%;		
	}
}

.neutral_needle{
	transform: rotate(322deg);
	-webkit-animation: _nn 0.6s linear 0.3s forwards;	
	animation: _nn 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _nn {
	to{
		transform: rotate(360deg);
	}
}

@keyframes _nn {
	to{
		transform: rotate(360deg);	
	}
}

.neutral_drop_right {
	top: -8%;
	-webkit-animation: _ndr 0.6s linear 0.3s forwards;	
	animation: _ndr 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _ndr {
	to{
		top: 2%;
	}
}

@keyframes _ndr {
	to{
		top: 2%;
	}
}

.neutral_drop_left {
	top: 7%;
	-webkit-animation: _ndl 0.6s linear 0.3s forwards;	
	animation: _ndl 0.6s linear 0.3s forwards;	
}

@-webkit-keyframes _ndl {
	to{
		top: 2%;
	}
}

@keyframes _ndl {
	to{
		top: 2%;
	}
}

/*
	back to normal end 
*/

.click_hand_icon{
    position: absolute;
    top: 37%;
    left: 47%;
    width: 6%;
    cursor: pointer;
    display: none;
}

.fade_in{
	opacity: 0;
	-webkit-animation : fade_in 1s linear 0.2s forwards;
	animation : fade_in 1s linear 0.2s forwards;
}

.fade_in2{
	opacity: 0;
	-webkit-animation : fade_in 1s linear 3s forwards;
	animation : fade_in 1s linear 3s forwards;
}

@-webkit-keyframes fade_in {
	to{
		opacity: 1;
	}
}

@keyframes fade_in {
	to{
		opacity: 1;
	}
}

.correct_incorrect_sign{
	position: absolute;
	bottom: 100%;
	width: 16%;
	left: 42%;
	display: none;
}

.title{
    color: #444;
    position: relative;
    width: 63%;
    left: 20%;
    margin-top: 5%;
}

@media screen and (min-aspect-ratio: 4/3) { 
	/*vh*/
	.description1{
		font-size: 8vh;
	}
	.description, .description2, .descriptionheader {
		font-size: 5vh;
	}
	.imagelabel_blue{
		font-size: 2.8vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	/*vw*/
	.description1{
		font-size: 6.8vw;
	}
	.descriptionheader, .description, .description2{
		font-size: 4.2vw;
	}
	.imagelabel_blue {
		font-size: 2vw;
	}
}