@font-face {
    font-family: sniglet;
    src: url('../../../../../fonts/sniglet/sniglet-regular.otf');
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: sniglet;
}

.imageblock{
    height: 100%;
    width: 100%;
    position: absolute;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}


.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.contentblock {
    width: 100%;
    height: 100%;
}


/*Custom css starts*/



.p1t1class {
    font-family: sniglet;
    transform: translateY(-50%);
    left: 50%;
    position: absolute;
    font-size: 4vmin;
    width: 40%;
    top: 50%;
    z-index: 99;
}
.biggertext{
  font-size: 8vmin;
}

.p1t2class {
    font-size: 5vmin;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 23%;
    width: 60%;
}

.squirrel1 {
    width: 32%;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    animation:bottomupto10 1s forwards;
}

.hand {
    width: 15%;
    position: absolute;
    top: 79%;
    opacity: 0;
    transform: scaleX(-1);
    animation: fadein 4.5s forwards;
    left: 23%;
    z-index: 2;
}

.eating {
    position: absolute;
    opacity: 0;
    width: 39%;
    animation: fadein 4.5s forwards;
    bottom: 0;
    transform: translateX(-50%);
}

.topimage {
    width: 22%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation: fadein 1.5s forwards;
    top: 27%;
}

.headertext {
    position: absolute;
    color: #FA6700;
    top: 0;
    font-size: 4vmin;
    left: 50%;
    transform: translateX(-50%);
    width: 102%;
    background: rgba(255, 255, 255, 0.4);
    padding: 1%;
    box-shadow: 0px 0px 2px 1px #0003;
}

.headertexttype1 {
    position: absolute;
    color: #FA6700;
    top: 0;
    font-size: 4vmin;
    left: 50%;
    transform: translateX(-50%);
    width: 102%;
    background: white;
    padding: 1%;
    box-shadow: 0px 0px 2px 1px #0003;
    height: 10%;
}

.midtext {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    font-size: 4vmin;
    color: #FA6700;
    background: white;
    padding: 1%;
    border-radius: 0.5em;
    animation: fadein 3s forwards;
    opacity: 0;
}
p{
  z-index: 99;
}
.bottomimage {
    position: absolute;
    opacity: 0;
    width: 32%;
    animation: fadein 4.5s forwards;
    bottom: 8%;
    transform: translateX(-50%);
    left: 53%;
}

.bottomimagetype1 {
    position: absolute;
    opacity: 0;
    width: 15%;
    animation: fadein 4.5s forwards;
    bottom: 8%;
    transform: translateX(-50%);
    left: 53%;
}

.bottomimagetype2 {
    position: absolute;
    opacity: 0;
    width: 25%;
    animation: fadein 4.5s forwards;
    bottom: 8%;
    transform: translateX(-50%);
    left: 53%;
}

.topimagetype2 {
    width: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation: fadein 1.5s forwards;
    top: 29%;
}

.midtexttype1 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 54%;
    font-size: 4vmin;
    color: #FA6700;
    background: white;
    padding: 1%;
    border-radius: 0.5em;
    animation: fadein 3s forwards;
    opacity: 0;
}

.topimagetype1 {
    width: 32%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation: fadein 1.5s forwards;
    top: 27%;
}

.addimage {
    top: -5%;
}

.image1 {
    width: 15%;
    position: absolute;
    animation: spin 10s infinite linear,fadein 8s forwards;
    top: 50%;
    left: 42%;
    opacity: 0;
    /*transform-origin: 150% 150%;*/
}

.image2 {
    width: 15%;
    position: absolute;
    animation: spin 10s 1.666666667s infinite linear,fadein 8s 1.666666667s forwards;
    top: 50%;
    left: 42%;
    opacity: 0;
    /*transform-origin: 150% 150%;*/
}

.image3 {
    width: 15%;
    position: absolute;
    animation: spin 10s 3.333333333s infinite linear,fadein 8s 3.333333333s forwards;
    top: 50%;
    left: 42%;
    opacity: 0;
    /*transform-origin: 150% 150%;*/
}

.image4 {
    width: 15%;
    position: absolute;
    animation: spin 10s 5s infinite linear,fadein 8s 5s forwards;
    top: 50%;
    opacity: 0;
    left: 42%;
}

.image5 {
    width: 15%;
    position: absolute;
    animation: spin 10s 6.666666668s infinite linear,fadein 8s 6.666666668s forwards;
    top: 50%;
    opacity: 0;
    left: 42%;
    /*transform-origin: 150% 150%;*/
}

.image6 {
    width: 15%;
    position: absolute;
    animation: spin 10s 8.333333335s infinite linear,fadein 8s 8.333333335s forwards;
    opacity: 0;
    top: 50%;
    left: 42%;
    /*transform-origin: 150% 150%;*/
}

.image7 {
    width: 15%;
    position: absolute;
    opacity: 0;
    animation: fadein 3s forwards;
    top: 48.5%;
    left: 41.7%;
    height: 15%;
}

.midtexttype3 {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 54%;
    font-size: 4vmin;
    color: #FA6700;
    background: white;
    padding: 1%;
    border-radius: 0.5em;
    animation: fadein 3s forwards;
    opacity: 0;
    width: 67%;
}

.squir {
    width: 40%;
    left: 10%;
    position: absolute;
    top: 30%;
}

@keyframes spin {
0% {
    transform: rotate(0deg) translate(100%,100%) rotate(0deg);
}
100% {
    transform: rotate(360deg) translate(100%,100%)  rotate(-360deg);
}
}

@keyframes shake{
    0%{
        transform: rotate(15deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    55%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}
.skpng{
  width: 23%;
  top: 30%;
}
@keyframes fadein
{
    100%{opacity: 1;}
}

@keyframes bottomupto10{
    100%{
        bottom: 15%;
    }
}
/*Custom css ends*/
