.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}
.congratulation{
	top: 40%;
}
.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generaltemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: relative;
}

div.imageblock {
	position: absolute;
	top: 39%;
	right: 5%;
	height: 55%;
	width: 40%;	
}

.myNextStyle {
	background-image: url("../../images/arrows/arrow.png");
}

.myNextStyle:hover {
	background-image: url("../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	background-image: url("../../images/arrows/arrow_prev.png");
}

.myPrevStyle:hover {
	background-image: url("../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../images/arrows/arrow_active_prev.png");
}
/*============ exercise template ===================
==================================================== */

.insturction{
	position: absolute;
	top: 1%;
	width: 100%;
	left: 0%;
	font-size: 2.8vw;
	text-align: center;
}

.nep_draggableblock{
	position: absolute;
	top: 8%;
	height: 25%;
	width: 100%;
	left: 0%;
	padding: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.nep_droppableblock{
	top: 35%;
	height: 65%;
	position: absolute;
	width: 100%;
	left: 0%;
	padding: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.nep_draggablediv{
	cursor: grab;
	width: 20%;
	margin: 1.5% 2.5%;
	height: 40%;
	background-color: #B7E9B0;
	border-radius: 1vmin;
	/*border: 1px solid black;*/
}
.nep_draggablediv:hover{
	background-color: #FCD172;
}

.nep_draggablediv>img{
	cursor: pointer;
	position: absolute;
	top: 12.5%;
	right: 2%;
	height: 75%;
	z-index: 10;
}

.nep_draggablediv>p{
	position: absolute;
	width: 100%;
	left: 0%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2.5vw;
}


.nep_droppablediv{
	width: 23%;
	margin: 1% 1%;
	height: 45%;
	border-radius: 2vmin;
	overflow: hidden;
	/*background-color: #D9EAD3;
	border: 1px solid black;*/
}

.nep_droppablediv>div{
	position: absolute;
	bottom: 5%;
	width: 80%;
	left: 10%;
	height: 20%;
	border-radius: 1vmin;
	background-color: white;
	border: 2px solid #A4C2F4;
}

.nep_droppablediv>img{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	left: 0%;
}

.item-text-nep{
	display: none;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

@media (min-aspect-ratio: 4/3){
	.insturction{
		font-size: 4vmin;
	}
	.nep_draggablediv>p{
		font-size: 3.5vmin;
	}
}
