.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 1000;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 1000;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generaltemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.exerciseblock{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.instruction{
	position: absolute;
	width: 39%;
	top: 45%;
	left: 27%;
	text-align: center;
	color: black;
	margin-top: 2%;
	font-family: Sniglet;
	transform: translateY(-50%);
}
.main-container {
	position: absolute;
	cursor: pointer;
	bottom: 0%;
	height: 50%;
	width: 20%;
	z-index: 25;
	transform-origin: bottom center;
}

.main-container:hover{
	filter: brightness(120%);
}
.option_1{
	left: 4%;
}
.option_2{
	left: 28%;
}
.option_3{
	left: 52%;
}
.option_4{
	left: 76%;
}
.balloon-icon{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	margin: auto;
}
.correct-icon, .incorrect-icon{
	display: none;
	position: absolute;
	bottom: 100%;
	width: 20%;
	left: 40%;
}
.balloon-text{
	position: absolute;
	top: 35%;
	width: 80%;
	left: 10%;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 3.1vw;
	transform: translateY(-50%);
}
@media (min-aspect-ratio: 4/3){
	.balloon-text{
		font-size: 4.5vh;
	}
}
.instruction {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(8, 122, 42);
}


.question {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    text-align: center;
    font-family: pangolin;
    color: rgb(15, 120, 46);
}


#num_ques{
	margin-right: 1vmin;
}
.blank-space {
    border-bottom: 0.4vmin solid rgb(8, 122, 42);
    width: 15vmin;
    color: rgb(8, 122, 42);
    white-space: pre;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}









