.whitebg{
  background: #ffebe7;
}
.fairy {
    position: absolute;
    width: 20%;
    top: 31%;
    left: 22%;
}
.speechbox_1 {
    left: 49%;
    top: 37%;
    width: 43%;
    height: 26%;
}
.speechbox_2 {
    left: 32%;
    top: 65%;
    width: 58%;
    height: 31%;
}
.speechbox > p {
    position: absolute;
    width: 74%;
    left: 23%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8vw;
}
.top_text {
    position: absolute;
    font-family: sniglet;
    color: white;
    background: #7f95d1;
    width: 100%;
    font-size: 2.2vw;
    padding: 1%;
    top: 0;
    left: 0;
}
.mid_box {
    position: absolute;
    background: white;
    width: 60%;
    height: 30%;
    border-radius: 3vmin;
    left: 20%;
    top: 26%;
    border: .5vmin solid #ffc0be;
}
.ten_balls {
    position: absolute;
    width: 20%;
    left: 40%;
    top: 36%;
}
.ten_balls1 {
    position: absolute;
    width: 20%;
    left: 26.666666667%;
    top: 36%;
}
.ten_balls2 {
    position: absolute;
    width: 20%;
    left: 53.333333333%;
    top: 36%;
}
.ten_balls3 {
    position: absolute;
    width: 20%;
    left: 26.333%;
    top: 56%;
}
.option1, .option2, .option3, .option4 {
    position: absolute;
    font-family: abeezee;
    font-size: 2vw;
    background: #ff6f9a;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    width: 8%;
    cursor: pointer;
    left: 20%;
    top: 75%;
    border: .5vmin solid #ff6f9a;
}
.option2 {
    left: 37%;
}
.option3 {
    left: 54%;
}
.option4 {
    left: 71%;
}
.option1:hover, .option2:hover, .option3:hover, .option4:hover {
	background: #ffe599;
	border-color: #ffd966;
	color: black;
}
.fairy1 {
    position: absolute;
    width: 15%;
    top: 62%;
    left: 16%;
    z-index: 99;
}
.fairyNEW {

    position: absolute;
    width: 11%;
    top: 15%;
    left: 2%;

}
.speechboxNEW {
    left: 15%;
    top: 19%;
    width: 48%;
    height: 21%;
}
.speechboxNEW > p {
    position: absolute;
    width: 74%;
    left: 23%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8vw;
}
.label_group {
    position: absolute;
    font-family: abeezee;
    background: #ffc0be;
    padding: 1%;
    font-size: 1.5vw;
    border-radius: 1vmin;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 26%;
}
.right_box {

    position: absolute;
    height: 70%;
    width: 30%;
    background: #666666;
    border: .7vmin solid #c08150;
    border-radius: 1.5vmin;
    left: 67%;
    top: 22%;

}
.right_texts {

    position: absolute;
    font-family: abeezee;
    color: white;
    transform: translate(-50%,-50%);
    left: 82%;
    top: 56%;
    font-size: 1.6vw;
    width: 28%;

}
.snell_text {
    position: absolute;
    font-family: abeezee;
    width: 40%;
    background: white;
    border-radius: 1vmin;
    padding: 1%;
    font-size: 1.6vw;
    transform: translate(-50%,-50%);
    left: 26%;
    top: 32%;
    color: #090971;
}
@media (min-aspect-ratio: 4/3) {
	.speechbox > p,.top_text{
    font-size: 3.2vmin;
  }
  .label_group{
    font-size: 4vmin;
  }
  .right_texts,.snell_text{
    font-size: 3.2vmin;
  }

}
