.bg_full{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.textblock {
  width: 100%;
  height: 100%;
}
.diytxt {
    position: absolute;
    font-family: pangolin;
    color: #b45f06;
    font-size: 4vw;
    transform: translate(-50%,-50%);
    left: 38%;
    top: 43%;
    width: 50%;
    z-index: 5;
}
.pink_bg {
    background: #ffebe7;
}
.top_text {
    position: absolute;
    font-family: sniglet;
    color: white;
    background: #73adc4;
    width: 100%;
    font-size: 2.2vw;
    padding: 1%;
    top: 0;
    left: 0;
}
.mid_box {
    position: absolute;
    background: white;
    width: 60%;
    height: 30%;
    border-radius: 3vmin;
    left: 20%;
    top: 35%;
}
.box1 {
    position: absolute;
    width: 20%;
    z-index: 5;
    bottom: 45%;
    left: 26.666667%;

}
.box2 {
    position: absolute;
    width: 20%;
    z-index: 5;
    bottom: 45%;
    left: 53.333334%;
}
.c0 {
    position: absolute;
    width: 20%;
    z-index: 5;
    bottom: 45%;
    left: 26.666667%;
    top: 32%;
}
.boxB {
    position: absolute;
    width: 20%;
    z-index: 5;
    bottom: 45%;
    left: 53.333334%;
    top: 32%;
}
.boxC {
    position: absolute;
    width: 20%;
    z-index: 5;
    bottom: 45%;
    left: 26.666667%;
    top: 55%;
}
.boxD {
    position: absolute;
    width: 20%;
    z-index: 5;
    bottom: 45%;
    left: 53.333334%;
    top: 55%;
}
.apple1, .apple2, .apple3, .apple4 {
    position: absolute;
    width: 5%;
    z-index: 5;
    bottom: 50%;
    left: 30%;
}
.apple2{
  left: 38.333333%;
}
.apple3{
  left: 56.666667%;
}
.apple4{
  left: 65%;
}
.appleA, .appleB, .appleC, .appleD {
    position: absolute;
    width: 5%;
    z-index: 5;
    bottom: 50%;
    left: 30%;
    top:24%;
}
.appleB{
  left: 38.333333%;
}
.appleC{
  left: 56.666667%;
}
.appleD{
  left: 65%;
}
.appleE, .appleF, .appleG, .appleH {
    position: absolute;
    width: 5%;
    z-index: 5;
    bottom: 50%;
    left: 30%;
    top:47%;
}
.appleF{
  left: 38.333333%;
}
.appleG{
  left: 56.666667%;
}
.appleH{
  left: 65%;
}

.option1, .option2, .option3 {
    position: absolute;
    font-family: abeezee;
    font-size: 2vw;
    background: #ff6f9a;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    width: 8%;
    cursor: pointer;
    left: 29%;
    top: 75%;
    border: .5vmin solid #ff6f9a;
}
.option2 {
    left: 46%;
}
.option3 {
    left: 62%;
}
.option1:hover, .option2:hover, .option3:hover {
	background: #ffe599;
	border-color: #ffd966;
	color: black;
}
@media (min-aspect-ratio: 4/3) {
	/*vw*/
	.diytxt{
		font-size: 8vmin;
	}
  .top_text{
    font-size: 5.5vmin;
  }
  .option1, .option2, .option3{
    font-size: 4.5vmin;
  }
}

.roll1{
	position: absolute;
	width: 5%;
	z-index: 5;
	bottom: 50%;
	left: 34%;
 webkit-animation: slideright 2s backwards 1s;
	animation: slideright 2s forwards 1s;

}
@-webkit-keyframes slideright{
100% { left:-50%;}
}
@keyframes slideright {
    100% {
        left: -50%;
    }
}

.roll2{
	position: absolute;
	width: 5%;
	z-index: 5;
	bottom: 50%;
	left: 60%;
	webkit-animation: slideright 2s backwards 1s;
	 animation: slideright 2s forwards 1s;
}
@-webkit-keyframes slideright{
100% { left:-50%;}
}
@keyframes slideright{
100% { left:-50%;}
}
