.bg_full{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.diytext {
    position: absolute;
    font-size: 2.4vw;
    transform: translate(-50%,50%);
    z-index: 6;
    font-family: abeezee;
    left: 55%;
    top: 34%;
}
.brown_bg{
	background: #cdb7a6;
}
.top_text{
	position: absolute;
	top: 0;
	left: 0;
	font-family: sniglet;
	font-size: 2.2vw;
	width: 100%;
	background: #aea1ea;
	padding: 1%;
	color: white;
}
.left_box {
    position: absolute;
    background: white;
    border: .7vmin solid #ffc0be;
    width: 50%;
    height: 50%;
    border-radius: 2vmin;
    left: 25%;
    top: 21%;
}
.ball_and_box1, .ball_and_box2, .ball_and_box3, .ball_and_box4 {
    position: absolute;
    z-index: 6;
    width: 15%;
    left: 31.6666667%;
    top: 29%;
}
.ball_and_box2{
	left:53.3333334%;
}
.ball_and_box3{
	top: 50%;
}
.ball_and_box4{
	top: 50%;
	left:53.3333334%;
}
.question_left_text {
    position: absolute;
    font-size: 3vw;
    font-family: abeezee;
    top: 85%;
    left: 33%;
    transform: translate(-50%,-50%);
}

.option1, .option2 {
    position: absolute;
    font-family: abeezee;
    font-size: 2vw;
    background: #ff6f9a;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    width: 8%;
    cursor: pointer;
    left: 47%;
    top: 78%;
    border: .5vmin solid #ff6f9a;
}
.option2 {
    left: 60%;
}
.option1:hover, .option2:hover {
	background: #ffe599;
	border-color: #ffd966;
	color: black;
}
.practiceagain {
    position: absolute;
    font-family: sniglet;
    color: white;
    background: #39e5b7;
    border: .7vmin solid #2db691;
    padding: 1%;
    border-radius: 1vmin;
    cursor: pointer;
    left: 75%;
    top: 78%;
    font-size: 2vw;
		display: none;
}
.practiceagain:hover{
	transform: scale(1.1);
	transition: .3s;
}
@media (min-aspect-ratio: 4/3){
	.diytext,.top_text{
		font-size: 5vmin;
	}
	.option1,.option2{
		font-size: 4.5vmin;
	}
	.practiceagain{
		font-size: 4vmin;
	}
}
