<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="light_page">    
	<div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="first-template">
    {{#if textonly}}
        <div class="textcontainerwrap">
            <div class="textcontainer {{textcontainerclass}}">
                {{#each textonly}}
                    <p class="{{this.textclass}}" data-reflect="{{this.textdata}}">{{{this.textdata}}}</p>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if text}}        
        <div class="textcontainer {{textcontainerclass}}">
            {{#each text}}
                <p class="{{this.textclass}}" data-reflect="{{this.textdata}}">{{{this.textdata}}}</p>
            {{/each}}
        </div>
    {{/if}}
    {{#if image}}
        <div class="imagecontainer {{imagecontainerclass}}">
            {{#each image}}
                <img class="{{this.imageclass}}" src="{{this.imagesrc}}">
            {{/each}}
            <div class="lightray lightrayincident"></div>    
            <div class="lightray lightrayreflected"></div>
        </div>
    {{/if}}
    {{#if imagebottom}}
        <div class="imagecontainer {{imagecontainerclass}}">
            {{#each imagebottom}}
                <img class="{{this.imageclass}}" src="{{this.imagesrc}}">
            {{/each}}
        </div>
        <label class="labelincident">{{labelincidentdata}}</label>
        <label class="labelreflection">{{labelreflectiondata}}</label>
        <label class="labelincidentray">{{labelincidentraydata}}</label>
        <label class="labelreflectedray">{{labelreflectedraydata}}</label>
        <label class="labelmirror">{{labelmirrordata}}</label>
    {{/if}}
        
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>