<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page7.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="light_page">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- types of mirror part 1 template -->
<script id="planemirrorproperties-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}}">
        {{#if uppertextblock}}
            <div class="textblock {{textblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imageblock}}
            <div class="imageblock">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if textlistblock}}
            <div class="textlistblock">
                {{#each textlistblock}}
                    {{> textlistcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if propertyblock}}
            <div class="propertyblock">
                {{#each propertyblock}}
                    {{> propertycontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if propertysummaryblock}}
            <div class="propertysummaryblock">
                {{#each propertysummaryblock}}
                    {{> propertysummarycontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate for types of mirror part 1 template -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    {{#if highlighttext}}
        <p class="{{textclass}}" data-highlight="true">{{{textdata}}}</p>
    {{else}}
        <p class="{{textclass}}">{{{textdata}}}</p>
    {{/if}}
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    <img class="{{imgclass}}" src="{{imgsrc}}">
</script>

<script id="textlistcontent-partial" type="text/x-handlebars-template">
    <ol> 
        {{#each listtype}}
            <li>{{listtypedata}}</li> 
            {{#if listsubtype}}
                <ul>
                {{#each listsubtype}}
                    <li>{{listsubtypedata}}</li>
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ol>
</script>

<script id="propertycontent-partial" type="text/x-handlebars-template">
    <div class="propertylistcontainer">
        <h4>{{propertycontainerheadingdata}}</h4>
        {{#if propertycontainerlist}}
            {{#each propertycontainerlist}}
                <p><span>{{propertylistcount}}</span><small>{{propertylistdata}}</small> </p>
            {{/each}}
        {{/if}}
    </div>
    <div class="explainpropertycontainer">
        <div class="mainproperty"><span>{{mainpropertycount}}</span><p>{{mainpropertytext}}</p>
        </div>
        <div class="propertyexplain">
            <img src="{{propertyexplainimgsrc}}">
            <p>{{propertyexplaindata}}</p>
        </div>
    </div>
</script>

<script id="propertysummarycontent-partial" type="text/x-handlebars-template">
    <ul>
        <div>{{propertysummaryheadingdata}}</div>
        {{#each propertysummarylist}}
        <li><span>{{propertysummarylistcount}}</span> <p>{{propertysummarylistdata}}</p> </li>
        {{/each}}
    </ul>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page7.js");
</script>