<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="light_page">    
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- time to think template -->
<script type="text/x-handlebars-template" id="timeToThink-template">
    <div class="timeToThink">
        <figure>
            <img src="{{timeToThinkImageSource}}">
            <figcaption>{{timeToThinkTextData}}</figcaption>
        </figure>
        <p>{{{timeToThinkInstructionData}}}</p>
    </div>
</script>

<!-- reflection of light template -->
<script id="reflectionoflight-template" type="text/x-handlebars-template">
    <div class="vertical-horizontal-center {{verticalhorizontaladditionalclass}}">    
        {{#if uppertextblock}}
            <div class="textblock">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imageblock}}
            <div class="imageblock ">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if lowertextblock}}
            <div class="textblock {{textcontainerclass}}">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate for reflection of light template -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    {{#if highlighttext}}
        <p class="{{textclass}}" data-highlight="true">{{{textdata}}}</p>
    {{else}}
        <p class="{{textclass}}">{{{textdata}}}</p>
    {{/if}}
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    <img class="{{imgclass}}" src="{{imgsrc}}">
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>