<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page3.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="light_page">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="mirrorintro-template" type="text/x-handlebars-template">
    <div class="vertical-horizontal-center {{verticalhorizontaladditionalclass}}">
        {{#if uppertextblock}}
        <div class="textblock">
            {{#each uppertextblock}} {{> textcontent}} {{/each}}
        </div>
        {{/if}} {{#if imageblock}}
        <div class="imageblock">
            {{#each imageblock}} {{> imagecontent}} {{/each}}
        </div>
        {{/if}} {{#if slideshowblock}}
        <div class="slideshowblock">
            {{#each slideshowblock}} {{> slideshowcontent}} {{/each}}
        </div>
        {{/if}} {{#if lowertextblock}}
        <div class="textblock">
            {{#each lowertextblock}} {{> textcontent}} {{/each}}
        </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
    <img class="{{imgclass}}" src="{{imgsrc}}"> {{/each}} {{#if imagelabels}} {{#each imagelabels}}
    <label class="{{imagelabelclass}}">{{imagelabeldata}}</label> {{/each}} {{/if}}
</script>

<script id="slideshowcontent-partial" type="text/x-handlebars-template">
    {{#each slides}}
    <img class="slideshow{{@index}}" src="{{this}}" /> {{/each}}
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>
