<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page10.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="light_page">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- concave mirror template -->
<script id="concavemirror-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}}">
        {{#if uppertextblock}}
            <div class="textblock">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imageblock}}
            <div class="imageblock {{imageblockcustomclass}}">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if lowertextblock}}
            <div class="textblock">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if usageblock}}
            <div class="usageblock">
                {{#each usageblock}}
                    {{> usagecontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if usagesummaryblock}}
            <div class="usagesummaryblock">
                {{#each usagesummaryblock}}
                    {{> usagesummarycontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate for types of concave mirrors template -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    {{#if highlighttext}}
        <p class="{{textclass}}" data-highlight="true">{{{textdata}}}</p>
    {{else}}
        <p class="{{textclass}}">{{{textdata}}}</p>
    {{/if}}
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}">{{imagelabeldata}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="usagecontent-partial" type="text/x-handlebars-template">
    <b class="usageheading">{{usageheadingdata}}</b>    
    <div class="explainusage">
    <p class="usagetext" data-highlight="true">{{usagetextdata}}</p>
        {{#if explainusagetextcontent}}
            {{#each explainusagetextcontent}}
            <blockquote class="explainusagetext" data-highlight="{{texthighlightflag}}">{{{explainusagetextdata}}}</blockquote>
            {{/each}}
        {{/if}}
        {{#if explainusageimagecontent}}
            <div class="explainusageimagecontainer">
                {{#each explainusageimagecontent}}
                    <img src="{{explainusageimgsrc}}">
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<script id="usagesummarycontent-partial" type="text/x-handlebars-template">
    <ul>
        <div>{{usagesummaryheadingdata}}</div>
        {{#each usagesummarylist}}
        <li><span>{{usagesummarylistcount}}</span> <p>{{usagesummarylistdata}}</p> </li>
        {{/each}}
    </ul>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page10.js");
</script>