.wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
	background: #ffffff;
}

.question_part
{
	width: 50%;
	height: 100%;
	position: relative;
}

.answer_part
{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.button_next {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
    display: none;
    }

.button_next:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button_prev {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
}

.button_prev:hover {
  background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.question2,.question3,.question4,.question5,.question6,.question7,.question8
{
	display: none;
}

.question1,.question2,.question3,.question4,.question5,.question6,.question7,.question8
{
	width:100%;
	height: 100%;
}

.question_stacks{
	position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
}

.answer_stacks
{
	position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-height: 80%;
    overflow-y: auto;
}



.question_con1,.question_con2,.question_con3,.question_con4,.question_con5,.question_con6,.question_con7,.question_con8,.answer_con8
{
	color: rgba(255,0,109,0.7);
    font-weight: bold;
    font-size: 1.8em;
}

.answer_con
{
	    color: #3399fe;
	    font-weight: bold;
        font-size: 1.6em;
}

.title_ex
{
	position: absolute;
	top: 2%;
	right: 0;
	width: 100%;
	text-align: center;
}

.title_main
{
	font-weight: bold;
    font-size: 2em;
}

.find
{
	position: absolute;
	top: 80%;
	left: 8%;
	z-index: 99;
}

.find_answer
{
	font-weight: bold;
    font-size: 2em;

}

.find_answer:hover
{
	cursor: pointer;
	color:#1479AF;

}

.answer_con
{
	display: none;
}

@media screen and (min-aspect-ratio: 4/3) {
	 .question_con1, .question_con2, .question_con3, .question_con4, .question_con5,
	 .question_con6, .question_con7, .question_con8, .answer_con8, .find_answer, .answer_con {
		 font-size: 3.56vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) {
	 .question_con1, .question_con2, .question_con3, .question_con4, .question_con5,
	 .question_con6, .question_con7, .question_con8, .answer_con8, .find_answer, .answer_con {
		 font-size: 3vw;
	 }
}
