<script>
	$cssLoader("css/page2.css");
</script>

<div class="shapes_activity vertical-horizontal-center">
	<div class="board">
		Hello World!
	</div>
	<div class="nextBtn myNextStyle"> </div>
	<div class="prevBtn myPrevStyle"> </div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
		or only has content --}}
		{{#if hasheaderblock}}
			<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
		{{else}}
			<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
		{{/if}}

			{{! header block start--}}
				{{#if headerblock}}
					<div class="headerblock">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
					</div>
				{{/if}}
			{{! header block end--}}


			{{! content block starts--}}
				<div class="contentblock {{additionalclasscontentblock}}">
					{{! content block content wrapper is used for content orientation i.e. center
						horizontally or vertically}}

						{{! image block if the content contains any images }}
						{{#if imageblockadditionalclass}}
							<div class={{"imageblockadditionalclass"}}>
						{{/if}}
							{{#if imageblock}}
							<div class="imageblock">
								{{#if contentblockcenteradjust}}
									<div class= "vertical-horizontal-center">
								{{/if}}

								{{#each imageblock}}
									{{>imagecontent}}
								{{/each}}

								{{#if contentblockcenteradjust}}
									</div>
								{{/if}}
							</div>
							{{/if}}
						{{#if imageblockadditionalclass}}
							</div>
						{{/if}}

						{{#if uppertextblock}}
						<div class="textblock {{uppertextblockadditionalclass}}">
							{{#if contentblocknocenteradjust}}
								<div class="vertical-horizontal-center">
							{{/if}}
							{{#each uppertextblock}}
								{{>textcontent}}
							{{/each}}

							{{#if contentblocknocenteradjust}}
								</div>
							{{/if}}
						</div>
						{{/if}}

						{{#if definitionblock}}
						<div class="definitionblock {{definitionblockadditionalclass}}">
							{{#each definitionblock}}
								{{>definitioncontent}}
							{{/each}}
						</div>
						{{/if}}

						{{#if subdefinitionblock}}
							<div class="subdefinitionblock {{subdefinitionblockadditionalclass}}">
								{{#each subdefinitionblock}}
									{{>subdefinitioncontent}}
								{{/each}}
							</div>
						{{/if}}

						{{#if hascanvasblock}}
						<div class="canvasblock">
							<canvas id={{canvasid}}>
							</canvas>
						</div>
						{{/if}}

						{{#if floatingblock}}
						{{#each floatingblock}}
							<div class="{{floatingclass}}">
								{{floatingtext}}
							</div>
						{{/each}}
						{{/if}}

						{{#if tableblock}}
						<div class="tableblock {{tableblockadditionalclass}}">
							{{#each tableblock}}
								{{> tablecontent}}
							{{/each}}
						</div>
						{{/if}}
				</div>
		</div>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" id="{{textid}}" data-highlight="{{datahighlightflag}}"
		data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>

	<!-- <h4 class="{{angleclass}}" data-highlight="{{datahighlightflag}}">
		</h4> -->
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<h2 class="{{definitionclass}}" data-highlight="{{datahighlightflag}}">{{{definitiontext}}}</h2>
</script>

<script id="subdefinitioncontent-partial" type="text/x-handlebars-template">
	<h4 class="{{subdefinitionclass}}">{{{subdefinitiontext}}}</h4>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagetoshow}}
		<div class="image-item">
			<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}"
				>{{{imagelabeldata}}}</label>
		</div>
	{{/each}}
</script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/page2.js");
</script>
