<script>
  $cssLoader("css/page3.css");
  $jsLoader("js/jquery.min.js");
</script>

<div class="shapes_activity vertical-horizontal-center">
  <div class="board">
    Hello World!
  </div>
  <div class="nextBtn myNextStyle"> </div>
  <div class="prevBtn myPrevStyle"> </div>
</div>

<script id="general-template" type="text/x-handlebars-template">
  {{! update templatecontains data for if it has header, instruction, headerinstruction
    or only has content --}}
    {{#if hasheaderblock}}
      <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
    {{else}}
      <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}


      {{! header block start--}}
        {{#if headerblock}}
          <div class="headerblock">
        {{#each headerblock}}
          {{> textcontent}}
        {{/each}}
          </div>
        {{/if}}
      {{! header block end--}}


      {{! content block starts--}}
        <div class="contentblock {{additionalclasscontentblock}}">
          {{! content block content wrapper is used for content orientation i.e. center
            horizontally or vertically}}

            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
              {{#if contentblocknocenteradjust}}
                <div class="vertical-horizontal-center">
              {{/if}}
              {{#each uppertextblock}}
                {{>textcontent}}
              {{/each}}

              {{#if contentblocknocenteradjust}}
                </div>
              {{/if}}
            </div>
            {{/if}}

            {{! image block if the content contains any images }}
            {{#if imageblockadditionalclass}}
              <div class={{"imageblockadditionalclass"}}>
            {{/if}}

            {{#if draggablesnapclass}}
              <div class="{{draggablesnapclass}}"></div>
            {{/if}}

            {{#if imageblock}}
            <div class="imageblock">
              {{#if contentblockcenteradjust}}
                <div class= "vertical-horizontal-center">
              {{/if}}

              {{#each imageblock}}
                {{>imagecontent}}
              {{/each}}

              {{#each animationblock}}
                {{>animationcontent}}
              {{/each}}

              {{#if contentblockcenteradjust}}
                </div>
              {{/if}}
            </div>
            {{/if}}

            {{#if animationblock}}
             {{#each animationblock}}
                {{>animationcontent}}
              {{/each}}
                {{/if}}

            {{#if definitionblock}}
              <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                  {{>definitioncontent}}
                {{/each}}
              </div>
            {{/if}}

            {{#if degreeblock}}
              <div class="degreeblock {{degreeblockadditionalclass}}">
                {{#each degreeblock}}
                  {{>degreecontent}}
                {{/each}}
              </div>
            {{/if}}

            {{#if textcontent}}
              <div class="textblock {{textblockadditionalclass}}">
                {{#each textcontent}}
                  {{>textcontent}}
                {{/each}}
              </div>
            {{/if}}
            {{#each extratextblock}}
              {{>textcontent}}
            {{/each}}

            {{#if hascanvasblock}}
              <div class="canvasblock">
                <canvas id={{canvasid}}>
                </canvas>
              </div>
            {{/if}}

            {{#each mcqblock}}
              <div class="{{mcqcontainerclass}}">
                {{#if question}}
                 <p class="{{questionclass}}" id="{{textid}}" data-highlight="{{datahighlightflag}}"
                    data-highlightcustomclass="{{datahighlightcustomclass}}">{{{questiondata}}}</p>
                {{/if}}
                <div class="optionsblock">
                {{#each mcqoption}}
                  <div class="mcqoptioncontainer {{mcqoptioncontaineraddnalclass}}">
                    <p class="optclass {{optionaddnalclass}}" id="{{textid}}" data-highlight="{{datahighlightflag}}"
                      data-highlightcustomclass="{{datahighlightcustomclass}}">{{{optiondata}}}</p>
                    <img class="corincor correct" src="images/correct.png">
                    <img class="corincor incorrect" src="images/wrong.png">
                  </div>
                {{/each}}
                </div>
              </div>
            {{/each}}


        </div>
        </div>
    </div>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="textcontent-partial" type="text/x-handlebars-template">
  <p class="{{textclass}}" id="{{textid}}" data-highlight="{{datahighlightflag}}"
    data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>

  {{#each textblock}}
      <p class="{{textclass}}">{{{text}}}</p>
  {{/each}}
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="definitioncontent-partial" type="text/x-handlebars-template">
  <h2 class="{{definitionclass}}" data-highlight="{{datahighlightflag}}">{{{definitiontext}}}</h2>
</script>

<script id="animationcontent-partial" type="text/x-handlebars-template">
  <div class="paper-bg">
    <!--<div class="degree">50°</div>
    <div class="arc"></div>
    <hr class="straight-line" />
    <hr class="degree-line" />
    <div class="second-dot"></div>-->
    {{#each imagetoshow}}
      <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
    {{/each}}
  	{{#if imagelabels}}
  		{{#each imagelabels}}
  			<p class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</p>
  		{{/each}}
    {{/if}}
  </div>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="imagecontent-partial" type="text/x-handlebars-template">
  {{#each imagetoshow}}
    <div class="image-item">
      <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
    </div>
  {{/each}}

  {{#each imagetoclick}}
    <div class="imgclick-item">
      <img class="{{imgclass}}" src="{{imgsrc}}" />
    </div>
  {{/each}}

  {{#each draggableimage}}
    <div class="drag-area">
      <img id="draggable" class="{{imgclass}} drag-image" src="{{imgsrc}}">
    </div>
  {{/each}}

  {{#each imagetoanswer}}
    <div class="imganswer-item">
      <img class="{{imgclass}}" src="{{imgsrc}}" />
    </div>
  {{/each}}

  {{#each mcqimg}}
    <img class="{{imgclass}}" src="{{imgsrc}}" />
  {{/each}}

</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="degreecontent-partial" type="text/x-handlebars-template">
  <h4 class="{{degclass}}" value="{{degvalue}}">{{{degtext}}}</h4>
</script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/page3.js");
</script>
