<script>
$cssLoader('css/shared.css');
$cssLoader('css/page5.css');
</script>

<script src="./js/jqmath-etc-0.4.0.min.js"></script>
<link rel="stylesheet" href="./css/jqmath-0.4.0.css">


<div id="mathContent" class="mathContainer">
	<div id="head_title" class="animated lightSpeedIn"></div>
	<div id="exampDef"></div>
	<div id="exampleList">
	</div>

	

</div>


<script type="text/x-handlebars-template" id="template-1">
<div id="questionTxt">{{questionTxt}}</div>
<div class="allDiv">
	

	<div class="ansDiv">
		<div id="firstDive" class="hideThis">{{firstLine}}</div>
	</div>
</div>

{{#if isnotfirst}}
	<div id="previdBtn" class="prevBtn">
		{{{imgprev}}}
	</div>
{{/if}}

{{#if isnotlast}}
	<div id="nextidBtn" class="nextBtn">
		{{{imgnext}}}	
	</div>
{{/if}}

</script>



<script>
$jsLoader('js/shared.js');
$jsLoader('js/page5.js');
</script>