<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1_1.css');
</script>


<div id="mathContent" class="mathContainer">

	<div id="head_title" class="animated lightSpeedIn"></div>
	
	<div id="animateBox">
		
			
	</div>
	<div id="nextidBtn" >
			
	</div>
	
	<div id="previdBtn" class="">
			
	</div>

	
		
		
	</div>
	
</div>

<script type="text/x-handlebars-template" id="template-1">

	<div id="p1_4" class="defThis">{{p1_4}}</div>
	<p class="examplehead" id="p1_5">{{p1_5}}</p>
	<ul class="exampleObj">
		<li>
			<p class="exampletxt" id="p1_6">{{p1_6}}</p>
			<img src="{{image1}}"  />
		</li>
		<li>
			<p class="exampletxt" id="p1_7">{{p1_7}}</p>
			<img src="{{image2}}"  />
		</li>
		<li>
			<p class="exampletxt" id="p1_8">{{p1_8}}</p>
			<img src="{{image3}}"  />
		</li>
	</ul>	

</script>

<script type="text/x-handlebars-template" id="template-2">
<div id="show_2" class="pageFirst">
	
	<p class="def-me" id="p1_10">{{definition}}</p>
	<p class="def-me_txt" id="p1_10_1">{{p1_10_1}}</p>
	<p class="def-me_txt" id="p1_10_2">{{p1_10_2}}</p>


	
		<table class="tabMe">
		<tr>
			<td>{{weight}}</td>
			<td>2</td>
			<td>4</td>
			<td>6</td>
			<td>8</td>
			<td>10</td>
			<td>12</td>
			<td>14</td>
		</tr>

		<tr>
			<td>{{cost}}</td>
			<td>50</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td class="inputTd"><input id="inFirst" /></td>
			<td>350</td>
		</tr>
		</table>
		<p class="conTxt">{{conTxt}}</p>
</div>
</script>
			
<script type="text/x-handlebars-template" id="template-3">
<div id="show_3" class="pageFirst">

	<p class="TabTitle">{{tabTitle}}</p>
	
	<div class="graph">
	
		<div class="graphImg">
			<img src="{{imggr}}" id="imgGraph" />
			<div id="ycor">{{ycor}}</div>
			<div id="xcor">{{xcor}}</div>

		
			<div class="" id="circleX"></div>
					
		</div>

		<div id="graphconclusion"></div>
		<div id="graphTitle">{{graphtittle}}</div>

		<div id="showall">{{showall}}</div>

		<div id="showlastCon">{{showlastCon}}</div>
	
	</div>
		

</div>

</script>



<script>
$jsLoader('js/page1_1.js');


</script>