<script>
$cssLoader('css/shared.css');
$cssLoader('css/page0.css');
</script>


<div id="mathContent" class="mathContainer">
	<div id="cover_page">
		<!-- <img class="cover_image" src="activity/grade7/math/math_unitary_01/images/page1/coverpage.png">
		<img class="cover_cross" src="images/white_wrong.png">
		<p class="covertext"></p> -->
	</div>
	<div id="head_title" class="animated lightSpeedIn"></div>

	<div id="p0_1"></div>
	<div id="p0_2"></div>
	<div id="p0_3"></div>
	<div class="animateBox">
		<div id="id_1" class="clBth">

				<div id="pnc_1"  class="pencilimages" ><img src="$ref/images/pencil.png" /></div>


				<div id="txtval_1" class="txtvals">=</div>


				<div id="p0_4"></div>
				<div id="coins_1" class="coins"><img src="$ref/images/rs1.png" /></div>

		</div>
		<div id="id_2" class="clBth">

				<div id="pnc_2" class="pencilimages"><img src="$ref/images/pencil.png" /></div>


				<div id="txtval_2"  class="txtvals">=</div>


				<div id="coins_2"  class="coins"><img src="$ref/images/rs1.png" /></div>

		</div>

		<div id="id_3" class="clBth">

				<div id="pnc_3" class="pencilimages"><img src="$ref/images/pencil.png" /></div>


				<div id="txtval_3"  class="txtvals">=</div>


				<div id="coins_3"  class="coins"><img src="$ref/images/rs1.png" /></div>

		</div>

		<div id="id_4" class="clBth">

				<div id="pnc_4" class="pencilimages"><img src="$ref/images/pencil.png" /></div>


				<div id="txtval_4"  class="txtvals">=</div>


				<div id="coins_4"  class="coins"><img src="$ref/images/rs1.png" /></div>

		</div>


		<div id="id_5" class="clBth">

				<div id="pnc_5" class="pencilimages"><img src="$ref/images/pencil.png" /></div>


				<div id="txtval_5"  class="txtvals">=</div>


				<div id="coins_5"  class="coins"><img src="$ref/images/rs1.png" /></div>

		</div>


		<div id="p0_5"></div>
		<div id="p0_6"></div>
		<div id="p0_7"></div>
		<div id="id_6" class="clBth">

				<div id="pnc_6" class="pencilimages2">
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />
					<img src="$ref/images/pencil.png" />

				</div>


				<div id="txtval_6"  class="txtvals2">=</div>


				<div id="coins_6"  class="coins2">
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />
					<img src="$ref/images/rs1.png" />

				</div>

		</div>


	</div>

</div>


<script type="text/x-handlebars-template" id="general-template">
	<img class="{{img_class}}" src="{{img_src}}">
	<p class="{{p_class}}">{{{p_data}}}</p>
</script>

<script>
$jsLoader('js/page0.js');
</script>
