<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1.css');
</script>


<div id="mathContent" class="mathContainer">

	<div id="head_title" class="animated lightSpeedIn"></div>
	<div id="p1_1_1"></div>
	<div id="animateBox">
		<div id="bx_1" class="column">
			<div id="txt_1" class="cell">
				<div id="p1_2" class="tophead"></div>
				<div id="p1_4" class="defThis"></div>
				<p class="examplehead" id="p1_5"></p>
				<ul class="exampleObj">
					<li><p class="exampletxt" id="p1_6"></p><img src="$ref/images/page1/heat.gif"  /></li>
					<li><p class="exampletxt" id="p1_7"></p><img src="$ref/images/page1/pressure.png"  /></li>
					<li><p class="exampletxt" id="p1_8"></p><img src="$ref/images/page1/math.jpg"  /></li>
				</ul>	


			</div>
			<div id="txt_2" class="">
				<div id="p1_3" class="tophead"></div>
				<div id="p1_20" class="defThis"></div>
				<p class="examplehead" id="p1_21"></p>
				<ul class="exampleObj">
					<li><p class="exampletxt" id="p1_22"></p><img src="$ref/images/page1/speed.png"  /></li>
					<li><p class="exampletxt" id="p1_23"></p><img src="$ref/images/heat2.png"  /></li>
					<li><p class="exampletxt" id="p1_24"></p><img src="$ref/images/page1/heat.png"  /></li>
				</ul>	


			</div>
		</div>
	
		
		
	</div>
	<div id="p1_1_2"></div>
</div>

<div id="mathContent2" class="mathContainer">
</div>

<script type="text/x-handlebars-template" id="def-template">
<div id="show_1" class="pageFirst">
	<p id="inner_title">{{innertitle}}</p>
	<p class="def-me">{{definition}}</p>

	{{#if exampleObj}}
		<p class="examplehead">{{examplehead}}</p>
		<ul class="exampleObj">
		{{#each exampleObj}}
			
			<li>
				<p class="exampletxt">{{exapleTxt}}</p>
				
				{{#if imgObj}}
					<img src="{{imgObj}}"  />
				{{/if}}
			</li>
			
		{{/each}}
		</ul>
	{{/if}}


	<div id="nextidBtn" class="nextBtn whatNext_{{id}}">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
	</div>
</div>
</script>


<script type="text/x-handlebars-template" id="table-template">
<div id="show_2" class="pageFirst">
	<p id="inner_title">{{innertitle}}</p>
	<p class="def-me" id="p1_10">{{definition}}</p>
	<p class="def-me_txt" id="p1_10_1">{{p1_10_1}}</p>
	<p class="def-me_txt" id="p1_10_2">{{p1_10_2}}</p>


	{{#if direct}}
		<table class="tabMe">
		<tr>
			<td>{{weight}}</td>
			<td>2</td>
			<td>4</td>
			<td>6</td>
			<td>8</td>
			<td>10</td>
			<td>12</td>
			<td>14</td>
		</tr>

		<tr>
			<td>{{cost}}</td>
			<td>50</td>
			<td>100</td>
			<td>150</td>
			<td>200</td>
			<td>250</td>
			<td class="inputTd"><input id="inFirst" /></td>
			<td>350</td>
		</tr>
		</table>
		
		
	{{/if}}

	<p class="conTxt">{{conTxt}}</p>

	

	<div id="nextidBtn2" class="nextBtn whatNext_{{id}}">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
	</div>
</div>
</script>

<script type="text/x-handlebars-template" id="table-template2">
<div id="show_2" class="pageFirst">
	<p id="inner_title">{{innertitle}}</p>
	<p class="def-me">{{definition}}</p>


	<div class="carAnimation">

		<div id="timerCar"></div>
		<div id="carimg"><img src="activity/grade7/math/math_unitary_01/images/car.png"/></div>
		<div id="road_img"></div>

		<div id="whatTxtCar"></div>

		<div id="switch_car">
			<div id="whatLabel">{{labelwhat}}</div>
			<div id="what_1" class="label_car">10</div>
			<div id="what_2" class="label_car">20</div>
			<div id="what_3" class="label_car">30</div>
			<div id="what_4" class="label_car">40</div>

		</div>
	</div>
		
	
	<table  class="tabMe">
		<tr>
			<td>{{weight}}</td>
			<td>10</td>
			<td>20</td>
			<td>30</td>
			<td>40</td>
		</tr>

		<tr>
			<td>{{cost}}</td>
			<td>60</td>
			<td>30</td>
			<td >20</td>
			<td>15</td>
		</tr>
		</table>

	<div id="conCluCar" >{{conCluCar}}</div>
	
	
	<div id="nextidBtn2" class="nextBtn whatNext_{{id}}">
			<span class="glyphicon glyphicon-circle-arrow-right"></span>
	</div>
</div>
</script>

<script type="text/x-handlebars-template" id="graph-template">
<div id="show_3" class="pageFirst">
	<p id="inner_title">{{innertitle}}</p>
	<p class="TabTitle">{{tabTitle}}</p>
	
	<div class="graph">
	
		<div class="graphImg">
			<img src="{{imggr}}" id="imgGraph" />
			<div id="ycor">{{ycor}}</div>
			<div id="xcor">{{xcor}}</div>

		
			<div class="" id="circleX"></div>
					
		</div>

		<div id="graphconclusion"></div>
		<div id="graphTitle">{{graphtittle}}</div>

		<div id="showall">{{showall}}</div>

		<div id="showlastCon">{{showlastCon}}</div>
	
	</div>
		<div id="previdBtn" class="prevBtn whatPrev_{{id}}">
				<span class="glyphicon glyphicon-circle-arrow-left"></span>
		</div>

		<div id="closeBtnid" class="closeBtn whatPrev_{{id}}">
				<span class="glyphicon glyphicon glyphicon-remove-sign"></span>
		</div>

</div>

</script>

<script>
$jsLoader('js/page1.js');


</script>