<script>
$cssLoader('css/shared.css');
$cssLoader('css/page3.css');
</script>
<div id="mathContent" class="mathContainer">
	<div id="head_title"></div>
	<div id="exampDef"></div>
	<div id="exampleList">
	</div>

	

</div>


<script type="text/x-handlebars-template" id="template-1">
<div id="questionTxt">{{questionTxt}}</div>
<div class="allDiv">
	

	<div class="ansDiv">
		<div id="firstDive" class="hideThis">{{firstLine}}</div>
	</div>
	<div id="myImgobj" >

		<div class="oval-thought"></div>
	</div>
</div>

{{#if isnotfirst}}
	<div id="previdBtn" class="prevBtn">
		{{{imgprev}}}
	</div>
{{/if}}

{{#if isnotlast}}
	<div id="nextidBtn" class="nextBtn">
		{{{imgnext}}}
	</div>
{{/if}}

</script>



<script>
$jsLoader('js/shared.js');
$jsLoader('js/page3.js');
</script>