
.textMirror{
	top: 2%;
	font-family: Pangolin;
	font-size: 2.2vmin;
	color: #ffab40;
	position: absolute;
}

.bg{
	background-color: #8c6239;
}

.textReal{
	font-family: mitr;
	font-size: 2.5vmin;
	color: #ffab40;
	top: 40%;
	position: absolute;
	right: 7%;
	width: 14%;
}

.textImage{
	position: absolute;
	font-family: mitr;
	font-size: 2.5vmin;
	color: #ffab40;
	right: 7%;
	top: 56%;
	width: 14%
}

.mirrorLine {
	position: absolute;
	font-family: mitr;
	font-size: 2.5vmin;
	color: #ffab40;
	right: 7%;
	top: 48%;
	width: 14%
}


@keyframes highlight {
	from{
		color: #ffab40;
	}
	to{
		color: yellow;
	}
}

.grenLtr{
	color: #ffe599;
}

.butterflyNoReflection,.butterflyReflection{
	width: 60%;
	height: 60%;
	top: 20%;
	position: absolute;
	left: 20%;
}


.horizontalDottedLine{
	position: absolute;
	top: 25%;
	width: 0%;
	height: 51%;
	left: 50.1%;
	border: 1.5px dashed #ffff00;
	transform: rotate(90deg);
	animation: animation 3s 1;

}


@-webkit-keyframes animation{
	from{
		left: 35%;
	}
	to{
		left: 50.1%;
	}
}

@keyframes animation{

	from{
		left: 35%;
	}
	to{
		left: 50.1%;
	}
}

@keyframes removeMirror {
	0%{
		right: 0%;
		top: 23%;
	}
	100%{
		right: -30%;
		top: 23%;
		z-index: 0;
	}
}


@keyframes drawDottedLine {
	0%{
		top: 15%;
	}
	100%{
		top: 29%;
	}
}

.butterflyFull{
	width: 70%;
	height: 70%;
	top: 25%;
	position: absolute;
}

.butterflyLeft{
	width: 70%;
	height: 70%;
	top: 25%;
	background: white;
	position: absolute;
}

.mirrorStraight{
	top: 23%;
	width: 70%;
	height: 70%;
}

.butterflyRight{
	width: 70%;
	height: 70%;
	top: 25%;
	position: absolute;
}

.dottedLine{
	top: 50%;
	position: absolute;
	right: 30%;
	height: 52%;
	width: 40%;
}

.axisOfSymWithoutAnime{
	position: absolute;
	top: 24%;
	width: 0%;
	height: 50%;
	left: 50.1%;
	border: 1.5px dashed #000;
}

.axisOfSymmetry{
	position: absolute;
	top: 18%;
	width: 0%;
	height: 55%;
	left: 50%;
	border: 1.5px dashed #000;
	animation-name: axisHighlight;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes axisHighlight {
	from {border: 1.5px dashed #000;}
	to {border: 1.5px dashed yellow;}
}

.butterflyRotate{
	width: 70%;
	height: 70%;
	top: 25%;
	background: white;
	/*position: absolute;*/
}

.butterflyRotate1{
	width: 50%;
	height: 50%;
	top: 25%;
}

.instructionDraw{
	bottom: 64%;
	font-family: Pangolin;
	font-size: 3.2vw;
	color: white;
	width: 90%;
	left: 5%;
}

.butterflyAnimation{
	height: 51%;
	top: 25%;
}

.instructionDraw1{
	bottom: 2%;
	font-family: Pangolin;
	font-size: 3.2vmin;
	color: white;
	width: 90%;
	left: 5%;
	position: absolute;
}

.instructionDraw2{
	bottom: 46%;
	font-family: Pangolin;
	font-size: 3.2vw;
	color: white;
	width: 90%;
	left: 5%;
}

.butterflyReflectionQues{
	width: 40%;
	height: 40%;
	top: 50%;
	left: 28%;
}


.instruction {
	top: 2%;
	font-family: Pangolin;
	font-size: 3.2vmin;
	color: white;
	width: 90%;
	left: 5%;
	position: absolute;
}

.instruction_horizontal1{
	top: 2%;
	font-family: Pangolin;
	font-size: 3.2vmin;
	color: white;
	width: 30%;
	right: 77%;
	position: absolute;
}

.instruction_horizontal2{
	top: 6%;
	font-family: Pangolin;
	font-size: 3.2vmin;
	color: white;
	width: 50%;
	right: 25%;
	position: absolute;
}

.instruction_horizontal3{
	top: 12%;
	font-family: Pangolin;
	font-size: 3.2vmin;
	color: white;
	width: 40%;
	left: 30%;
	position: absolute;
	color: #cef3ef;
}


@media (min-aspect-ratio:4/3){
	.boxTxt{
		font-size:9vh;
	}
	.boxes_top_txt{
		font-size:6vh;
	}
	/*.instruction.instruct{*/
		/*font-size: 5vmin;*/
	/*}*/
}
