@font-face {
    font-family: sniglet;
    src: url("../../../../../../fonts/sniglet.ttf");
}
body {

    font-family: 'Sniglet !important';

}

.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 1000!important;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 1000!important;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}
.textblock{
  width: 100%;
  height: 100%;
}


.purplebg{
  background: #d5a6bd;
}

.top_text {
  position: absolute;

  color: white;

  font-size: 2vw;

  background: #a64d79;

  width: 100%;

  padding: 1%;

  top: 12.5%;

  left: 0;
}

@media (min-aspect-ratio: 4/3){
	.top_text{
		font-size: 5vmin;
	}
}


.option2, .option1, .option3 {

    position: absolute;
    background: #9fc5e8;
    padding: 1%;
    font-size: 2vw;
    border-radius: 1vmin;
    border: .4vmin solid #595959;
    top: 20%;
    width: 20%;
    left: 10%;
    cursor: pointer;
    z-index: 99;

}

.option2{
  left: 40%;
}

.option3{
  left: 70%;
}

@media (min-aspect-ratio: 4/3){
	.option2, .option1, .option3{
		font-size: 4.5vmin;
	}
}



.midtext {
  position: absolute;
  background: #ead1dc;
  padding: 2%;
  font-size: 2.4vw;
  width: 50%;
  border-radius: 2vmin;
  top: 65%;
  left: 25%;

}

.top_below_text {
    position: absolute;
    background: #ead1dc;
    font-size: 3vw;
    padding: 1%;
    border: .4vmin solid #7d7579;
    border-radius: 1vmin;
    left: 24%;
    top: 19%;
}

.question_text {
    position: absolute;
    font-size: 2.4vw;
    top: 56%;
    left: 32%;
    transform: translate(-50%,-50%);
    width: 40%;
}

.optiona2, .optiona1, .optiona3 {
    position: absolute;
    background: #9fc5e8;
    font-size: 2.3vw;
    padding: 1%;
    border-radius: 1vmin;
    top: 70%;
    width: 20%;
    left: 10%;
    cursor: pointer;
    z-index: 99;
}

.optiona2{
  left: 40%;
}

.optiona3{
  left: 70%;
}

.drop_area_p {
    position: absolute;
    background: #666666;
    width: 20%;
    height: 10%;
    border-radius: 1vmin;
    border: .4vmin solid white;
    top: 51%;
    text-align: center;
    left: 53%;
}

.hovered{
  border: .4vmin dashed white;
}

@media (min-aspect-ratio: 4/3){
	.midtext,.question_text,.optiona2, .optiona1, .optiona3,.drop_area_p{
		font-size: 5.5vmin;
	}
  .top_below_text{
    font-size: 6vmin;
  }
}
.ex-number-template-score {
    top: 1%;
    right: 1%;
}
.drag-drop-container{
  position: absolute;
  top: 30%;
  width: 80%;
  left: 10%;
  height: 16%;
}
.drag-item{
  position: absolute;
  width: 22%;
  height: 79%;
  border-radius: 2vmin;
  background-color: #9fc5e8;
  color: #000;
  font-size: 2.3vw;
  cursor: pointer;
}
@media(min-aspect-ratio:4/3){
	.drag-item{
		font-size: 4.7vh;
	}
}
.drag-item:hover{
	background-color: #f6b26b;
	border: 0.6vmin solid #e69138;
	color: #fff;
}
/* .drag-item:hover{
pointer-events: none;
} */
.drag-item>p{
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
	width: 90%;
	text-align: center;
}
.drag-pos-1{
	left: 0%;
}
.drag-pos-2{
	left: 40%;
}
.drag-pos-3{
	left: 78%;
}

.bkgrd{
  background: #6aa84f;
  color: white;
}
@media(min-aspect-ratio:4/3){
	.congratulationtext{
		font-size: 6vh;
	}
}
