.bg-4{
	background-image: url('../images/toyshop.png');
	background-size: 100% 100%;
}

.sp-2{
	position: absolute;
	left: 16%;
	width: 25%;
	height: 25%;
	bottom: 69%;
}
.sp-1{
	position: absolute;
	left: 20%;
	width: 20%;
	height: 25%;
	bottom: 69%;
}
.sp-3{
	position: absolute;
	left: 18%;
	width: 35%;
	height: 30%;
	bottom: 69%;
}






.blockcontainer{
	position: absolute;
}


.ball-container{
	position: absolute;
	width: 26%;
	height: 16%;
	z-index: 20;
}
.ball-container>div{
	margin: 3% 1.33%;
	position: absolute;
	display: inline-block;
	width: 14%;
	height: 44%;
	top: 0%;
	left: 0%;
	background: #603C1E;
}
.ball-container>div:nth-child(2){
	left: 16.667%;
}
.ball-container>div:nth-child(3){
	left: 33.333%;
}
.ball-container>div:nth-child(4){
	left: 50%;
}
.ball-container>div:nth-child(5){
	left: 66.667%;
}
.ball-container>div:nth-child(6){
	left: 83.333%;
}
.ball-container>div:nth-child(7){
	left: 0%;
	top: 50%;
}
.ball-container>div:nth-child(8){
	left: 16.667%;
	top: 50%;
}
.ball-container>div:nth-child(9){
	left: 33.333%;
	top: 50%;
}
.ball-container>div:nth-child(10){
	left: 50%;
	top: 50%;
}
.ball-container>div:nth-child(11){
	left: 66.667%;
	top: 50%;
}
.ball-container>div:nth-child(12){
	left: 83.333%;
	top: 50%;
}
.new_book_space{
	background: red!important;
	background-size: 100% 100%;
}




.block-ball{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	height: 70%;
}

.rumi{
	position: absolute;
	bottom: 28%;
	left: 8%;
	height: 45%;
}
.suraj{
	position: absolute;
	bottom: 28%;
	left: 40%;
	height: 45%;
}
.suraj-text{
	position: absolute;
	top: 70%;
	color: white;
	left: 44%;
}
.rumi-text{
	position: absolute;
	top: 70%;
	left: 14%;
	color: white;
}




.equationblock{
	position: absolute;
	height: 20%;
	left: 10%;
	bottom: 0%;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vw;
}
@media(min-aspect-ratio:4/3){
	.equationblock{
		font-size: 13vh;
	}
}
@media(min-aspect-ratio:4/3){
	.equationblock{
		font-size: 6vw;
	}
}
.equationblock>*{
	margin: 2.5%;
}
.eq-plus{
	color: #FFCD53;
	font-family: sniglet;
	height: 40%;
}
.eq-equal{
	color: #FFCD53;
	font-family: sniglet;
	height: 50%;
}
.eq-textblock{
	color: #FFCD53;
	font-family: sniglet;
	height: 90%;
	width: 20%;
	border: 0.8vmin solid #999999;
	background: #D9D9D9;
}
.eq-textblock>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.eq-textblock-1{
	color: #FFCD53;
	font-family: sniglet;
	height: 90%;
	width: 20%;
}


.plus-2{
	position: absolute;
	top: 6%;
	left: 32%;
	height: 8%;
}
.equal-2{
	position: absolute;
	top: 8%;
	left: 65%;
	height: 6%;
}



.bball{
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 3;
}

.bball>img{
	position: absolute;
	top: 20%;
	left: 0%;
	width: 100%;
}
.bball>p{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	font-family: Sniglet;
	font-size: 2vw;
}
@media (min-aspect-ratio:4/3){
	.bball>p{
		font-size: 2.8vh;
	}
}

.nb-1{
	top: 25%;
	left: 5%;
}
.nb-2{
	top: 25%;
	left: 12.5%;
}
.nb-3{
	top: 25%;
	left: 20%;
}
.nb-4{
	top: 25%;
	left: 27.5%;
}

.nb-5{
	top: 18%;
	left: 40%;
}
.nb-6{
	top: 18%;
	left: 47.5%;
}
.nb-7{
	top: 18%;
	left: 55%;
}
.nb-8{
	top: 18%;
	left: 62.5%;
}
.nb-9{
	top: 30%;
	left: 44%;
}
.nb-10{
	top: 30%;
	left: 51.5%;
}
.nb-11{
	top: 30%;
	left: 59%;
}

.ball_rot{
	animation: ball_rot 2s linear;
}
@keyframes
ball_rot {
	100% {transform: rotate(1440deg);}
}






.last-text{
	font-size: 6vw;
}
@media(min-aspect-ratio:4/3){
	.last-text{
		font-size: 8vh;
	}
}
.text-5{
	position: absolute;
	left: 52%;
	top: 1%;
	padding: 0% 4%;
	border: 0.5vmin solid #B7B7B7;
	background: rgba(255,255,255,0.4);
	transform: translateX(-50%);
}
.text-3{
	position: absolute;
	left: 20%;
	top: 4%;
	transform: translateX(-50%);
}
.text-8{
	position: absolute;
	left: 80%;
	top: 4%;
	transform: translateX(-50%);
}
.hoop{
	position: absolute;
	bottom: 12%;
	width: 36%;
	left: 32%;
}
.bball-net{
	z-index: 30;
}
.what-text{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1% 4%;
	/*border: 0.5vmin solid black;*/
	font-size: 5vw;
	z-index: 2;
	font-weight: bold;
}
@media (min-aspect-ratio:4/3){
	.what-text{
		font-size: 6.5vh;
	}
}




.nb1-anim{
	animation: nb1-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb1-animy 2s linear forwards;
}
@keyframes
nb1-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 7.5%;}
}
@keyframes
nb1-animy {
	70% {transform: translateY(450%); opacity: 1;}
	90% {transform: translateY(700%); opacity: 0;}
	99% {transform: translateY(650%); opacity: 0;}
	100% {transform: translateY(600%); opacity: 1;}
}

.nb2-anim{
	animation: nb2-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb1-animy 2s linear forwards;
	animation-delay: 2.5s;
}
@keyframes
nb2-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 15.5%;}
}


.nb3-anim{
	animation: nb3-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb1-animy 2s linear forwards;
	animation-delay: 5s;
}
@keyframes
nb3-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 23.5%;}
}

.nb4-anim{
	animation: nb4-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb1-animy 2s linear forwards;
	animation-delay: 7.5s;
}
@keyframes
nb4-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 31.5%;}
}





.nb5-anim{
	animation: nb5-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb5-animy 2s linear forwards;
	animation-delay: 10s;
}
@keyframes
nb5-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 39.5%;}
}
@keyframes
nb5-animy {
	70% {transform: translateY(520%); opacity: 1;}
	90% {transform: translateY(770%); opacity: 0;}
	99% {transform: translateY(720%); opacity: 0;}
	100% {transform: translateY(670%); opacity: 1;}
}
.nb6-anim{
	animation: nb6-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb5-animy 2s linear forwards;
	animation-delay: 12.5s;
}
@keyframes
nb6-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 47.5%;}
}
.nb7-anim{
	animation: nb7-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb5-animy 2s linear forwards;
	animation-delay: 15s;
}
@keyframes
nb7-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 55.5%;}
}
.nb8-anim{
	animation: nb8-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb5-animy 2s linear forwards;
	animation-delay: 17.5s;
}
@keyframes
nb8-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 63.5%;}
}


.nb9-anim{
	animation: nb9-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb9-animy 2s linear forwards;
	animation-delay: 20s;
}
@keyframes
nb9-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 71.5%;}
}
@keyframes
nb9-animy {
	70% {transform: translateY(400%); opacity: 1;}
	90% {transform: translateY(650%); opacity: 0;}
	99% {transform: translateY(600%); opacity: 0;}
	100% {transform: translateY(550%); opacity: 1;}
}
.nb10-anim{
	animation: nb10-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb9-animy 2s linear forwards;
	animation-delay: 22.5s;
}
@keyframes
nb10-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 79.5%;}
}
.nb11-anim{
	animation: nb11-animx 2s cubic-bezier(0,1,.8,.98) forwards, nb9-animy 2s linear forwards;
	animation-delay: 25s;
}
@keyframes
nb11-animx {
	70% {left: 47.5%; z-index: 10;}
	80% {left: 47.5%;}
	99% {left: 47.5%;}
	100% {left: 87.5%;}
}





.added-text-0{
	position: absolute;
	top: 5%;
	width: 100%;
	font-size: 5vw;
	font-family: bubblegumsans;
	color: #000000;
}
@media(min-aspect-ratio:4/3){
	.added-text-0{
		font-size: 6.5vh;
	}
}





.rack-new{
	position: absolute;
	bottom: 26.7%;
	width: 28.5%;
}
.rack-new-1{
	left: 1.3%;
}
.rack-new-2{
	left: 32.7%;
}
.container-1{
	bottom: 32%;
	left: 2.5%;
}
.container-2{
	bottom: 32%;
	left: 34%;
}

.equal-last{
	position: absolute;
	bottom: 22%;
	right: 15%;
	height: 6%;
}


.bg_last{
	background: #95DEDA;
	background: linear-gradient(to left, #95DEDA, #50C9C3);
}
@media(min-aspect-ratio:4/3){
	.speechbox{
		font-size: 3.0vh;
	}
}
