.p6-text{
	position: absolute;
	width: 95%;
	left: 2.5%;
	text-align: center;
	top: 4%;
	font-size: 2.3vw;
}
.sp-1{
	position: absolute;
	left: 16%;
	width: 45%;
	height: 28%;
	top: 15%;
}
.anushri{
	position: absolute;
	bottom: 1%;
	left: 5%;
	height: 75%;
}
.anushri-1{
	position: absolute;
	bottom: 1%;
	left: 5%;
	height: 65%;
}
.fitem{
	position: absolute;
	width: 7.5%;
	bottom: 35%;
}
.fitem1{
	left: 20%;
}
.fitem2{
	left: 29%;
}
.fitem3{
	left: 38%;
}
.fitem4{
	left: 47%;
}
.fitem5{
	left: 56.5%;
}

.drop-container{
	position: absolute;
	width: 32%;
	left: 66%;
	bottom: 15%;
	height: 60%;
	border: 1vmin solid #8C6239;
	background-color: #8C6239;
}
.submit-btn{
	position: absolute;
	left: 66%;
	top: 88%;
	padding: 0.5% 0%;
	width: 15%;
	color: white;
	border-radius: 1vmin;
	background-color: #00A0DE;
}
.corincor{
	display: none;
	position: absolute;
	left: 83%;
	top: 88%;
	height: 7%;
}
.submit-btn:hover{
	cursor: pointer;
	opacity: 0.8;
}
.drag-container{
	position: absolute;
	width: 40%;
	left: 20%;
	top: 40%;
	height: 50%;
}


.drop-container>div{
	position: absolute;
	width: 21%;
	margin: 1.8335% 2%;
	height: 13%;
	background-color: #603C1E;
}
.drag-container>div{
	position: absolute;
	width: 20%;
	height: 20%;
}
.fimg{
	cursor: pointer;
	position: absolute;
	height: 100%;
	top: 0%;
	left: 11%;
}
.fixedblock{
	/*pointer-events: none;*/
	/*background-color: #5D5F5E!important;*/
}
.bg_diy{
	background-image: url('../images/bg01_diy.png');
	background-size: 100% 100%;
}
.diy-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	padding: 1% 0%;
	background-color: #EEEEEE;
	font-family: amaranath;
	border-radius: 2vmin;
	color: #666666;
	font-size: 5vw;
}
@media(min-aspect-ratio:4/3){
	.diy-text{
		font-size: 7vh;
	}
}









.equationcontainer{
	position: absolute;
	top: 60%;
	left: 15%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	height: 16%;
	margin: 2% 0%;
	font-family: sniglet;
	font-size: 5.5vw;
}
@media(min-aspect-ratio:4/3){
	.equationcontainer{
		font-size: 7vh;
	}
}
.equationcontainer>*{
	position: relative;
	margin: 2%;
}
.eq-plus{
	height: 50%;
}
.corrincor{
	display: none;
	height: 70%;
}
.eq-equal{
	height: 50%;
}
.eq-textblock{
	height: 90%;
	width: 10%;
}
.eqt-2{
	width: 15%;
	text-align: center;
	border: 0.2vmin solid #595959;
	background:#D9D9D9;
}
.eqt-1, .eqt-3{
	width: 10%;
}
.backgroundImg{
	position: absolute;
	width: 102%;
	left: 0%;
}
.sp-12{
	position: absolute;
	left: 4%;
	width: 40%;
	height: 28%;
	top: 2%;
}
.sp-12 img{
	transform:scaleX(-1);
}
@media(min-aspect-ratio:4/3){
	.p6-text,.speechbox{
		font-size: 3.5vh;
	}
}
