.background{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.bg-pink{
	background: #e98f8d;
}
.bg-green{
	background-color: #a0ffe0;
}
.bg-cream{
	background: #fcf3ca;
}
.grnTxt{
	color: #588285;
}
.blTxt{
	color: #0000ff;
}
.prplTxt{
	color: #674ea7;
}
.midTxt {
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-family: sniglet;
	width: 95%;
}
.topTxtImgDiv{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 15%;
	background-color: #fbafaf;
	overflow: hidden;
}
[class*="bookarrow"] {
	position: absolute;
	height: 4%;
	width: 13%;
	z-index: 99;
	left: 32.7%;
	top: 50%;
	opacity:0;
}
.bookarrow2{
	left: 17.7%;
	top: 85%;
	transform: rotate(90deg);
}
.bookarrow3{
	left: 17.7%;
	top: 26%;
	transform: rotate(-90deg);
}
.bookarrow4{
	left: 1.2%;
	top: 57%;
	transform: rotate(-180deg);
}

.chick{
	position: absolute;
	width: 15%;
	left: 20%;
	top:40%;
}
.chick:hover{
	cursor: pointer;
	transform: scale(1.1);
}
.topTXt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: pangolin;
	width: 80%;
	/*color: #fff;*/
}
.topsideimg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 9%;
	background: #e98f8d;
}
.sideTxt{
	position: absolute;
	top: 40%;
	right: 10%;
	font-family: pangolin;
	font-size: 6vh;
	width: 45%;
}
.ylwTxt{
	color: #ff0;
}

.sp-2{
	width: 35%;
	height: 18%;
	top: 39%;
	left: 80%;
	transform: translate(-59%,-57%);
	padding: 2% 2% 2% 5%;
	font-family: dekko;
}
 .sp-1{
	 width: 35%;
	 height: 18%;
	 top: 40%;
	 left: 24%;
	 transform: translate(-59%,-57%);
	 padding: 2% 5% 2% 1%;
	 font-family: dekko;
 }
.textInSp{
	width: 84%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.mala{
	position: absolute;
	width: 24%;
	top: 45%;
	left: 50%;
	transform: translate(-50%);
}
.lowerChk{

}
.flipped{
	transform: rotateY(180deg);
}
.chickLeft{
	position: absolute;
	width: 11%;
	left: 20%;
	top: 57%;
}
.henRight{
	position: absolute;
	width: 29%;
	right: 5%;
	top: 46%;
}
.hidn{
	display: none;
}
.ftbl{
	position: absolute;
	width: 21%;
	right: 8%;
	top: 50%;
}

/*mcq*/

.optionsdiv {
	top: 27%;
	display: flex;
	left: 52%;
	flex-direction: row;
	text-align: left;
	position: absolute;
	height: 65%;
	width: 48%;
	flex-wrap: wrap;
}

.optionscontainer {
  width: 50%;
}

.imagestartpos {
	position: absolute;
	width: 18%;
	margin-left: 1%;
	display: none;
	margin-top: 12%;
	left: 76%;
	top: 27%;
}
.top57{
  top: 57%;
}

.optionsdiv p {
	padding: 2%;
	background: #926EED;
	border-radius: 15px;
	margin: 1%;
	font-size: 5vh;
	border: 5px solid #926EED;
	font-family: breeSerif;
	width: 50%;
	text-align: center;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
    border: 5px solid #999999;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}
#bokSvg{
	position: absolute;
	top: 36%;
	left: 11%;
	height: 42%;
	width: 24%;
}
#booksvg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}


.highlight{
	animation: stkAnim .5s linear infinite;
}
@keyframes stkAnim {
	100%{stroke:#0000ff;}
}



.grwHn{
	width: 22%;
	display: none;
}
.bokLft{
	position: absolute;
	width: 24%;
	left: 11%;
	top: 34%;
}


.blink{
	animation: blnkAnim 1s linear infinite;
}
.blink1{
	animation: blnkAnim 1s linear 1s backwards;
}
.blink2{
	animation: blnkAnim 1s linear 2s backwards;
}
.blink3{
	animation: blnkAnim 1s linear 3s backwards;
}
.blink4{
	animation: blnkAnim 1s linear 4s backwards;
}
@keyframes blnkAnim {
	100%{stroke:#522684;}
}


@media screen and (min-aspect-ratio: 4/3) {
	.midTxt{
		font-size: 9vh;
	}
	.topTXt{
		font-size: 5.1vh;
	}
	.sideTxt{
		font-size: 6vh;
	}
	.textInSp{
		font-size: 4vh;
	}
	.svnVh{
		font-size: 5.5vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.midTxt{
		font-size: 5vw;
	}
	.topTXt{
		font-size: 3vw;
	}
	.sideTxt{
		font-size: 2.9vw;
	}
	.svnVh{
		font-size: 3.3vw;
	}

}
