.background{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.bg-pink{
	background: #e98f8d;
}
.bg-green{
	background-color: #9ef4e6;
}
.bg-cream{
	background: #fcf3ca;
}
.grnTxt{
	color: #588285;
}
.blTxt{
	color: #0000ff;
}
.prplTxt{
	color: #674ea7;
}
.midTxt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-family: sniglet;
	font-size: 9vh;
}
.topTxtImgDiv{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 15%;
	background-color: #fbafaf;
	overflow: hidden;
}
.chick{
	position: absolute;
	width: 15%;
	left: 20%;
	top:40%;
}
.topTXt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: pangolin;
	width: 80%;
	/*color: #fff;*/
}
.topsideimg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 9%;
	background: #e98f8d;
}
.sideTxt{
	position: absolute;
	top: 40%;
	right: 10%;
	font-family: pangolin;
	font-size: 6vh;
	width: 45%;
}
.ylwTxt{
	color: #ff0;
}

.sp-2{
	width: 35%;
	height: 18%;
	top: 39%;
	left: 80%;
	transform: translate(-59%,-57%);
	padding: 2% 2% 2% 5%;
	font-family: dekko;
}
 .sp-1{
	 width: 35%;
	 height: 18%;
	 top: 40%;
	 left: 24%;
	 transform: translate(-59%,-57%);
	 padding: 2% 5% 2% 1%;
	 font-family: dekko;
 }
 .sp-3{
	 width: 47%;
	 height: 35%;
	 top: 43%;
	 left: 65%;
	 transform: translate(-59%,-57%);
	 padding: 2% 2% 2% 8%;
	 font-family: dekko;
 }
 .malaFst{
	 position: absolute;
	 width: 31%;
	 top: 37%;
	 left: 12%;
 }
.textInSp{
	width: 84%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.mala{
	position: absolute;
	width: 27%;
	top: 41%;
	left: 49%;
	transform: translate(-50%);
}
.lowerChk{

}
.flipped{
	transform: rotateY(180deg);
}
.chickLeft{
	position: absolute;
	width: 15%;
	left: 20%;
	top: 57%;
}
.henRight{
	position: absolute;
	width: 21%;
	right: 10%;
	top: 54%;
}
.hidn{
	display: none;
}
.ftbl{
	position: absolute;
	width: 21%;
	right: 8%;
	top: 50%;
}

/*mcq*/

.optionsdiv {
	top: 27%;
	display: flex;
	left: 52%;
	flex-direction: row;
	text-align: left;
	position: absolute;
	height: 65%;
	width: 48%;
	flex-wrap: wrap;
}

.optionscontainer {
  width: 50%;
}

.imagestartpos {
	position: absolute;
	width: 18%;
	margin-left: 1%;
	display: none;
	margin-top: 12%;
	left: 76%;
	top: 27%;
}
.top57{
  top: 57%;
}

.optionsdiv p {
	padding: 2%;
	background: #926EED;
	border-radius: 15px;
	margin: 1%;
	font-size: 5vh;
	border: 5px solid #926EED;
	font-family: breeSerif;
	width: 50%;
	text-align: center;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
    border: 5px solid #999999;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}
.talTree-lhs{
	position: absolute;
	width: 25%;
	left: 15%;
	top: 21%;
}
.tlTrRght{
	width: 16%;
	right: 14%;
	top: 49%;
}
.smlTr{
	left: 13%;
}
.thnBk{
	left: 12%;
}
.thnRp{
	width: 19%;
	left: 9%;
	top: 42%;
}
.thkRp{
	top: 42%;
}
@media screen and (min-aspect-ratio: 4/3) {
	.midTxt{
		font-size: 10vh;
	}
	.topTXt{
		font-size: 5.5vh;
	}
	.sideTxt{
		font-size: 6vh;
	}
	.textInSp{
		font-size: 4vh;
	}
	.svnVh{
		font-size: 6vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.midTxt{
		font-size: 5vw;
	}
	.topTXt{
		font-size: 3vw;
	}
	.sideTxt{
		font-size: 2.9vw;
	}
	.svnVh{
		font-size: 3.3vw;
	}

}
