.cream_bg{
	background: #FAD270;
}
.textblock{
	height: 100%;
	width: 100%;
}
.rhinoimgdiv {
    position: absolute;
    width: 15%;
    top: 60%;
    left: 21%;
}
.squirrelisteningimg {
    position: absolute;
    width: 16%;
    top: 61%;
    left: 70%;
}
.playtime {
    position: absolute;
    font-family: sniglet;
    color: white;
    margin-top: 33%;
    transform: translateX(-50%);
    left: 53%;
    z-index: 999;
    font-size: 4vw;
}

.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.bluish_bg{
	background:#23b1a5;
}
.bg1{
    background: url("../images/bg_play-time.png");
    background-size: 100% 100%;
}
.squirrel {
    position: absolute;
    width: 25%;
    top: 45%;
    left: 21%;
}
.sp-1 {
    width: 40%;
    height: 31%;
    left: 35%;
    top: 21%;
}
.text_inside_box {
    font-size: 2vw;
}
.cream_bg{
	background: #f6efb4;
}
tr{
	pointer-events: none;
}
.main_table_div {
    left: 50%;
    width: 90%;
    height: 80%;
    top: 58%;
}
.clickme {
    z-index: 5;
    font-family: sniglet;
    color: white;
    font-size: 2vw;
    background: #23b1a5;
    position: absolute;
    width: 10%;
    border-radius: 50%;
    height: 16%;
    padding-top: .7%;
    cursor: pointer;
    box-shadow: .1vmin .1vmin 2.1vmin rgba(0, 0, 0,.5);
    left: 50%;
    top: 9%;
    transform: translate(-50%,-50%);
}
.clickme:hover{
	transform: translate(-50%,-50%) scale(1.1);
	transition: .2s;
}
.handicon {
    z-index: 5;
    width: 4%;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
		cursor: pointer;
}
.question_div {
    position: absolute;
    width: 90%;
    height: 90%;
    background: #23b1a5;
    z-index: 9;
    top: 53%;
    left: 50%;
    border-radius: 3vmin;
    box-shadow: .1vmin .1vmin 2.2vmin black;
    transform: translate(-50%,-50%);
}
.gota-3, .gota-1, .gota-2, .gota-4, .gota-5, .gota-6, .gota-7, .gota-8, .gota-9, .gota-10 {
    width: 17%;
    top: 0%;
    left: 0%;
    padding: 1%;
}
.gota_div {
    position: absolute;
    top: 24%;
    width: 40%;
    left: 50%;
}
.statement {
    position: absolute;
    font-size: 2vw;
    font-family: abeezee;
    color: white;
    transform: translate(-50%,-50%);
    left: 70%;
    top: 13%;
}
.question {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    color: white;
    transform: translate(-50%,-50%);
    left: 70%;
    top: 55%;
    width: 60%;
}
.options1, .options2, .options3 {
    position: absolute;
    font-size: 3vw;
    font-family: andika;
    background: #5772e6;
    color: white;
    width: 7%;
    border: .5vmin solid #5772e6;
    border-radius: 1vmin;
    left: 53%;
    top: 69%;
		cursor: pointer;
}
.options2 {
    left: 68%;
}
.options3 {
    left: 83%;
}
.options1:hover, .options2:hover, .options3:hover {
	background: #f6b26b;
	border-color: #e69138;
	transition: .2s;
}
.musician {
    position: absolute;
    width: 30%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 26%;
}
.bg_greenish{
	background: #23b1a5;
}

.messagediv {
    position: absolute !important;
    text-align: center;
    width: 100%;
    top: 73%;
    font-size: 3vw;
    color: #fff366;
    font-family: patrickhand !important;
    transform: translate(-50%,-50%);
    left: 50%;
}

.btnNavigationSong {
    top: 78%;
}

.gif_imgs {
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
}

.blur_it{
	animation: blur_it 1s ease-out forwards;
}
@keyframes blur_it {
	to{
		filter: blur(5px);
	}
}

.unblur_it{
	animation: unblur_it 1s ease-out forwards;
}
@keyframes unblur_it {
	to{
		filter: blur(0px);
	}
}
@media (min-aspect-ratio: 4/3){
	.playtime{
		font-size: 10vmin;
	}
	.font,.options1, .options2, .options3, .messagediv {
		font-size: 5.5vmin;
	}
	.clickme,.statement,.question{
		font-size: 4.4vmin;
	}
	td {
    font-size: 2.665vmin;
	}


}
.avoid-clicks{
    pointer-events: none;
}
