
.stickyFigures
{
	position: relative;
	width: 100%;
	
	height: 65%;

}
.figure
{
	
    position: absolute;
    width: 34%;
	top:26%;
	cursor:pointer;
}
#pullload
{

left:5%;
top:1%;
}

#kickball
{
top:1%;
left:50%;
}

.new1
{
left:24%!important;
}
.new2
{
left:26%!important;
}
.new3
{
left:65%!important;
}
.figure2
{
	
	cursor:pointer;
    left: 17%;
    position: absolute;
    top: 73%;
    width: 45%;
	
		
}




.opacitychange
{
opacity:0.5;
}

.appliedpullGame
{
	
	position:relative;
	width:100%;
	
	
}
.gamebck
{

    color:#AA0000;
    border:#ffffff 2px solid;
    position: relative;

    overflow: hidden !important;
    display: inline-block;

    width: 75%;
    vertical-align: top;

   
}
.gamebck img 
{
    width: 100%;
}

#allItems
{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}
.gameswitch
{
   display: inline-block;
   vertical-align: top;
    z-index: 800;
    cursor: pointer;
}

.choiceselect
{
 	border: 2px solid #CCCCCC;
    border-radius: 10%;
  
	text-align:left;
	padding:2%;
      z-index: 800;

}

.choiceselect div
{

cursor:pointer;
  z-index: 800;

} 
.gorestbtn div
{

cursor:pointer;

}
.item
{
z-index:10;
}
.tea
{
    position: absolute;
    width: 40%;
    top:3%;
    left: 9%;
    
    
}
.item1
{
    width:20%;
    display: inline-block;
    cursor:pointer;

    margin-right:-1%;
}

.item3
{
    width:15%;
    display: inline-block;
    cursor:pointer;

    margin-right:-1%;

}
.item1 img,
.item2 img,
.item3 img
{
width:100%;
}
.item2
{
    width:18%;
    display: inline-block;
    cursor:pointer;

    margin-right:-2%;
}
.coffee
{
    position: absolute;
    width: 40%;
    top:19%;
    left: 10%;
    
}

.whitebottle
{
    position: absolute;
    width: 23%;
    top:5%;
    left: 68%;
    z-index: 300;
   
}

.yellowbottle
{
    position: absolute;
    width: 30%;
    top:2%;
    left: 45%;
    
}
.bagsack
{
    position: absolute;
   width: 45%;
    top:35%;
    left: 24%;
    
}
.redbottle
{
    position: absolute;
   width: 40%;
    top:53%;
    left: 14%;
   
}

.ricesack
{
position: absolute;
     width: 40%;
    top:50%;
    left: 60%;

}

#pushingperson
{   left: 1%;
    pointer-events: none;
    position: absolute;
    top: 10%;
    width: 45%;

}
#pushingperson img 
{

    width: 100%;
}
.push-basket
{

    height: 23%;
    left: 59%;
    position: absolute;
    top: 50%;
    width: 39%;
    
   
}
.cover-push
{ 
    left: 50%;
    position: absolute;
    top: 43%;
    width: 50%;
}

.push-basket img:nth-child(odd) 
{

left: 10%;
    position: absolute;
    top: 0;
	width: 40%!important;
}

.push-basket img:nth-child(even) 
{
left: 50%;
    position: absolute;
    top: -10%;
    width: 40%!important;
}

.push-wheels
{
 	
    left: 49%;
    position: absolute;
    top: 90%;
    width: 60%;
    background:#ff0000;

	
}
.push-wheels1
{
    position:absolute;
    width: 16%;
    top:0;
}
.push-wheels2
{
    position:absolute;
    width: 16%;
    left:68%;
     top:0;
}

#pullingperson
{
	
    right: 0%;
    pointer-events: none;
    position: absolute;
    top: 3%;
    width: 60%;
    z-index: 99;
}
.pull-basket
{
 	height: 25%;
    right: 2%;
    position: absolute;
    top: 50%;
    width: 47%;
    
	
}
.pull-basket img:nth-child(odd) 
{
position:absolute;

left:10%;
 width: 30%!important;
}
.pull-basket img:nth-child(even) 
{
position:absolute;

left:40%;
 width: 30%!important;
}

.cover-pull
{

 
    right: 0%;
    position: absolute;
    top: 63%;
    width: 53%;
    
}

.pull-wheels
{
  
   
    right: 1%;
    position: absolute;
    top: 79%;
    width: 50%;
    
}
.pull-wheels1
{
position:absolute;
right:70%;
}
.pull-wheels2
{
position:absolute;
right:5%;
}


