
#s12
{
width:100%;
position: relative;

}

.bookroll
{
	
	width:100%;
	position: relative;
	
	

	
	animation:  bookmove 4s linear infinite;
	-webkit-animation:  bookmove 4s linear infinite;
	-moz-animation:  bookmove 4s linear infinite;
}
@-moz-keyframes bookmove {
	
	0% { 		margin-left:70%; }
	50% { 		margin-left:40%; }
	100% { 		margin-left:10%;  }
	
	
}
@-webkit-keyframes bookmove {
0% { 		margin-left:70%; }
	50% { 		margin-left:40%; }
	100% { 		margin-left:10%;  }
}
@-keyframes bookmove {

0% { 		margin-left:70%; }
	50% { 		margin-left:40%; }
	100% { 		margin-left:10%;  }
}

#s14
{
position: relative;
width:100%;


}

.bookroll2
{
	
	width:100%;
	position: relative;

	
	
	animation:  bookmove2 4s linear infinite;
	-webkit-animation:  bookmove2 4s linear infinite;
	-moz-animation:  bookmove2 4s linear infinite;
}
@-moz-keyframes bookmove2 {
	0% { 		margin-left:70%; }
	50% { 		margin-left:40%; }
	100% { 		margin-left:10%;  }
	
}
@-webkit-keyframes bookmove2 {
 	0% { 		margin-left:70%; }
	50% { 		margin-left:40%; }
	100% { 		margin-left:10%;  }
}
@-keyframes bookmove2 {
	0% { 		margin-left:70%; }
	50% { 		margin-left:40%; }
	100% { 		margin-left:10%;  }
}

#s13
{
position: relative;
width:100%;


}


#goback2
{
position:absolute;

cursor:pointer;
bottom: 0%;
left: 1%;
width: 8%;
}








#s12
{
	margin-bottom: 2%;
}