#myGravityExample
{
	
	width:100%;
	height:75%;
	
	
}

.firstLink
{
position:relative;
width:100%;
height: 43%;


}
#tree
{


    left: 80%;
    position: absolute;
    width: 17%;

}
#tree img{
	width: 100%;

}
#apple
{
	left: 83%;
	position: absolute;
	top: 39%;
	width: 1.8%;
}
#apple img
{
width: 100%;
}
.animate
{
	animation-name:  travel;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-delay:1s;
	
	-webkit-animation-name: travel;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay:1s;
	
	-moz-animation-name: travel;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 2s;
	-moz-animation-delay:1s;
}

@-keyframes travel {
 
  	0% { top: 39%; }
  	70% {top: 85%;}
	100%{top: 85%;}
}

@-moz-keyframes travel {
 0% { top: 39%; }
  	70% {top: 85%;}
	100%{top: 85%;}
}


@-webkit-keyframes travel {
0% { top: 39%; }
  	70% {top: 86%;}
	100%{top: 86%;}
}

.txtForApple
{
position: absolute;
    width: 60%;
	top:0%;
}

.txtForApple2
{
position: absolute;
    width: 60%;
	top:35%;
}


.txtForApple3
{
position: absolute;
    width: 60%;
	top:70%;
}

.secondlink22
{
	position:relative;
	width: 100%;
	height: 50%;
	
}

#s21
{
position:absolute;

width:100%;

}
#s22
{
position:absolute;

width:60%;
top:25%;
}

#s22a
{
position:absolute;

width:60%;
top:40%;
}


#s22b
{
position:absolute;

width:60%;
top:73%;
}
.sunandearth
{

  position:absolute;
    left:70%;
    top:30%;
    width: 40%;
    height: 50%;
}

#earth
{
	background:url(../images/earth.png) no-repeat;
	
background-size:100%;

 height: 20%;
    left: 20%;
    position: absolute;
    top: 35%;
    width: 6%;
}

#sun
{
background:url(../images/sun.png) no-repeat;
background-size:100%;
	position:absolute;
top:10%;
left:10%;
height:90%;
width:25%;

}

.animateEarth
{
	animation:  orbitearth 6s linear infinite;
	-webkit-animation:  orbitearth 6s linear infinite;
	-moz-animation:  orbitearth 6s linear infinite;
	
/*	-moz-transform:  rotate(0deg) translateX(80px) rotate(0deg);
	*/
}
@-moz-keyframes orbitearth {
	
	
	from { 	-moz-transform: rotate(0deg) translateX(80px) rotate(0deg); }
	to   {  -moz-transform: rotate(-360deg) translateX(80px) rotate(360deg);}
}

@-webkit-keyframes orbitearth {
 
	from { 	-webkit-transform: rotate(0deg) translateX(80px) rotate(0deg); }
	to   {  -webkit-transform: rotate(-360deg) translateX(80px) rotate(360deg);}
}
@-keyframes orbitearth {
 
  
	from { 	transform: rotate(0deg) translateX(80px) rotate(0deg); }
	to   {  transform: rotate(-360deg) translateX(80px) rotate(360deg);}
}
