/**************** POP UP***********************/
.PopUpView {
  background: rgba(0, 0, 0, 0.9);
  position: relative;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.PopUpView .PopContent {
  background: #DEEBCC;
  border: 1px solid #eaf1f2;
  box-shadow: 0 0 5px 0 #eaf1f2;
  border-radius: 1%;
  color: #4A4642;
  height: 90%;
  left: 5%;
  padding: 1%;
  position: absolute;
  top: 5%;
  width: 90%;
}

.PopUpView .PopContent .fullPopupContent {
  position: absolute;
  width: 97%;
  /*background:#444444;*/
  height: 82%;
  top: 16%;
  margin: 0.5%;
}

.PopUpView .PopContent .titleText {
  padding-bottom: 0.5%;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 0px;
}

.closebtn {
  position: absolute;
  z-index: 10;
  padding: 0;
  top: 0.5%;
  right: 0.5%;
  cursor: pointer;
  width: 5%;
  display: none;
}

.closebtn:hover #closeBtn {
  display: none;
}

.closebtn:hover #closeHoverBtn {
  display: block;
}

.reloadjsbtn:hover #reloadBtn {
  display: none;
}

.reloadjsbtn:hover #reloadHoverBtn {
  display: block;
}

/*
.closebtn:before {
        content: "X";
        font-weight:bold;
        padding: 0;
        margin: 0;
}

.closebtn:hover {
        background: #c9c9c9;
        color: blue;
}

*/
#play {
  cursor: pointer;
  position: absolute;
  text-align: right;
  width: 8%;
  right: 1%;
  bottom: 0%;
}

#goback {
  position: absolute;
  bottom: 0%;
  left: 1%;
  cursor: pointer;
  width: 8%;
  text-align: left;
}

#play:hover #activityNextHoverBtn,
#goback:hover #activityPrevHoverBtn,
#goback2:hover #activityPrevHoverBtn {
  display: block;
}

#play:hover #activityNextBtn,
#goback:hover #activityPrevBtn,
#goback2:hover #activityPrevBtn {
  display: none;
}

#play span,
#goback span {
  color: #880000;
  color: black;
  font-size: 2em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
@media (min-aspect-ratio: 4/3){
  .mainBox {
      font-size: 2.9vh;
  }
}
@media (max-aspect-ratio: 4/3){
  .mainBox {
      font-size: 1.9vw;
  }
}
