#showAns {
  position: relative;
  text-align: center;
  width: 100%;
}

#toDo {
  font-size: 4vh;
  color: #000;
  width: 100%;
  text-align: center;
  margin: auto;
}

#showAns div {
  position: relative;
  cursor: pointer;
  width: 30%;
  padding: 2% !important;
  margin: 1% 1% 0% !important;
  background-color: #3E9ED6;
  display: inline-block;
  vertical-align: top;
}

.corrans {
  background: #83b81a !important;
}

/*ans css*/
.ans {
  background-image: -moz-linear-gradient(center top,
      rgb(112, 181, 242) 0%,
      rgb(84, 164, 238) 49%,
      rgb(54, 144, 240) 50%,
      rgb(26, 97, 219) 100%);
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  line-height: 0.9;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid;
  border-color: #2f71a3 #265a82 #1e4766 #265a82;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2),
    inset 0px 1px 5px rgba(255, 255, 255, 0.2),
    /**/
    0px 2px 0px #1e4766,
    0px 4px 0px #1e4766,
    0px 6px 0px #1e4766,
    /**/
    0px 8px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2),
    inset 0px 1px 5px rgba(255, 255, 255, 0.2),
    /**/
    0px 2px 0px #1e4766,
    0px 4px 0px #1e4766,
    0px 6px 0px #1e4766,
    /**/
    0px 8px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px -4px 5px rgba(255, 255, 255, 0.2),
    inset 0px 1px 5px rgba(255, 255, 255, 0.2),
    /**/
    0px 2px 0px #1e4766,
    0px 4px 0px #1e4766,
    0px 6px 0px #1e4766,
    /**/
    0px 8px 5px rgba(0, 0, 0, 0.5);
}

.ans:hover {
  background-color: #8AC5FD;
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0, rgb(134, 193, 253)),
      color-stop(0.49, rgb(153, 213, 255)),
      color-stop(0.5, rgb(130, 194, 253)),
      color-stop(1, rgb(108, 170, 229)));
  background-image: -moz-linear-gradient(center top,
      rgb(134, 193, 253) 0%,
      rgb(153, 213, 255) 49%,
      rgb(130, 194, 253) 50%,
      rgb(108, 170, 229) 100%);
}

.ans:active {
  top: 4px;
  box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2),
    0px 2px 0px #1e4766,
    0px 4px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2),
    0px 2px 0px #1e4766,
    0px 4px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2),
    0px 2px 0px #1e4766,
    0px 4px 5px rgba(0, 0, 0, 0.5);
}

.done {
  top: 4px;
  box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2),
    /**/
    0px 2px 0px #1e4766,
    /**/
    0px 4px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2),
    /**/
    0px 2px 0px #1e4766,
    /**/
    0px 4px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 4px 5px rgba(255, 255, 255, 0.4),
    inset 0px -1px 5px rgba(255, 255, 255, 0.2),
    /**/
    0px 2px 0px #1e4766,
    /**/
    0px 4px 5px rgba(0, 0, 0, 0.5);
  min-height: 3em;
}

.allquestion {
  display: none;
  padding: 1% 2% !important;
  margin: auto !important;
  text-align: left;
}

.allAns {
  width: 100%;
  border-radius: 10px;
  background: #DDEFB3;
  border: 1px solid #c9c9c9;
  padding: 2% !important;
  font-size: 1em;
}

.rnum {
  margin-bottom: 1.5% !important;
}

.rnum div {
  text-indent: 5%;
  color: blue;
}

.rnum span {
  color: blue;
  margin-right: 1% !important;
}

#rtHand {
  color: #e66000 !important;
}

.result {
  position: absolute !important;
  background: #DDEFB3;
  top: 5%;
  right: 1%;
  font-size: 1em;
  padding: 0.5% !important;
  color: green;
  box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
  -moz-box-shadow: 5px 5px 10px #888;
}

.quatImage {
  width: 65%;
  margin: auto !important;
}

.quatImage img {
  width: 100%;
}

#l1 {
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 1.3em;
  width: 75%;
  height: 18%;
}

#l2 {
  position: absolute;
  top: 43%;
  left: 20%;
  font-size: 1.3em;
  height: 18%;
  width: 75%;
}

#l3 {
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 1.3em;
  height: 18%;
  width: 75%;
}

.draggableme {
  cursor: move;
}

.firstSpan {
  width: 17%;
  right: 10%;
  text-align: right;
  display: inline-block;
  margin-top: 5% !important;
}

.secondSpan {
  color: blue;
  margin-left: 20% !important;
  text-align: left;
  width: 40%;
  display: inline-block;
}

#l4 {
  position: absolute;
  top: 4%;
  width: 115%;
  color: Blue;
  height: 27%;
}

#l5 {
  position: absolute;
  top: 36%;
  width: 115%;
  color: Blue;
  height: 27%;
}

#l6 {
  position: absolute;
  top: 68%;
  width: 115%;
  color: Blue;
  height: 27%;
}

#l4 .secondSpan,
#l5 .secondSpan,
#l6 .secondSpan {
  color: green;
  margin-left: 62% !important;
  text-align: left;
  width: 20%;
  margin-top: 5%;
  margin-bottom: 6%
}

#explanation {
  position: absolute;
  top: 0%;
  width: 100%;
  background: rgba(131, 184, 26, 0.8);
  text-align: center;
  padding: 1%;
  font-size: 0.9em;
  color: #fff;
  display: none;
}

.expclass {
  top: 100% !important;
}

#replayBtn {
  position: absolute;
  top: -4%;
  right: -1%;
  font-size: 2em;
  cursor: pointer;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

@media (min-aspect-ratio: 4/3) {
  #toDo, #quest {
    font-size: 3.6vh;
  }
  .allAns{
    font-size: 2.3vh;
  }
}

@media (max-aspect-ratio: 4/3) {
  #toDo, #quest {
    font-size: 2vw;
  }
  .allAns{
    font-size: 1.8vw;
  }
}
