#exeBox {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  padding: 1% 3%;
  background: #F6F7F1;
  background-image: url("../../bg.png");
}

#exeBox * {
  position: relative;
  margin: 0;
  padding: 0;
}

#quest {
  font-size: 1.2em;
  color: #000;
  width: 100%;
  margin: 1% auto;
  border-radius: 10px;
  text-align: center;
}

#nextBtnId {
  width: 7%;
  font-size: 2.3em;
  cursor: pointer;
  position: absolute;
  right: 3%;
  bottom: 2%;
  display: none;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#nextBtnId:hover #activityNextHoverBtn {
  display: block;
}

#nextBtnId:hover #activityNextBtn {
  display: none;
}

.corrImges {
  position: absolute !important;
  width: 10%;
  top: 12%;
  right: 10%;
}

.corrImges img {
  width: 100%;
}
