<script type="text/javascript">
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("../../../../css/common-exercise/template_exercise_mcq_monkey.css");
    $cssLoader("/css/page2.css");
</script>

<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				<div class="exerciseblock">
					{{#each exerciseblock}}
						<p class="instruction">{{{instructiondata}}}</p>
						<p class="question {{ques_class}}">{{{questiondata}}}</p>
						{{#each option}}
							<div class="main-container {{mc_class}}">
								<img class="correct-icon" src="images/correct.png">
								<img class="incorrect-icon" src="images/wrong.png">
								<div class="option-container {{option_class}}">
									<p class='option-label {{option_label_class}}'>{{optiondata}}</p>
								</div>
							</div>
						{{/each}}
						<img class="center-sundar" src="images/sundar/normal.png">
					{{/each}}
				</div>
			</div>

			{{#if imageblock}}
						<div class="imageblock {{imageblockadditionalclass}}">
		                    {{#each imageblock}}

									<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>

		                    {{/each}}
		           		 </div>
			{{/if}}
		</div>
	</script>


			</script>
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript">
    $jsLoader("/js/page5.js");
</script>
