.nepali_chapter {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.nepali_chapter, .nepali_chapter * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nepali_chapter .nextBtn{
    display : none;
    z-index : 10000;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.nepali_chapter .prevBtn{
    z-index : 10000;
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */
		
        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }
	
	div.textblock{
		position: absolute;
		z-index: 3;
	}
	div.imageblock {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		/*border     : 1px solid green; */
	}

/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/
.its_hidden{
	display: none!important;
}
.contentblock{
	height: 100%;
	width: 100%;
	overflow: auto;
}

.lesson_title {
    position: absolute;
    color: #FF6A65;
    top: 14% !important;
    left: 50% !important;
    width: 100%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 8vmin;
    background: rgba(255,255,255,0.9);
}
.introduction{
	position: absolute;
	top: 70%!important;
	left: 40%!important;
	width: 55%;
	border-radius: 2vmin;
	padding: 2%!important;
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 2vw;
	text-align: left;
	z-index: 50!important;	
}
.
@media (min-aspect-ratio: 4/3){
	.introduction{
		font-size: 2.8vh;
	}
}
.labels{
	color: #c55;
	background-color: #FFE599;
	padding: 1% 10%!important;
}


/*------ for images ----- */

/*---bg---*/
.bg_house {
    background-image: url("../images/myhosue.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.titlebg {
    background-image: url("../images/bgmain.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.meera{
	position: absolute;
	bottom: 0%!important;
	left: 5%;
	height: 60%;
	z-index: 50;
}

.meera_1{
	position: absolute;
	bottom: 0%!important;
	left: 5%;
	width: 35%;
}
.white_cover{
	position: absolute;
	bottom: 0%!important;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.8);
}

.blink {
	animation: blink 2 1.5s;
	-webkit-animation: blink 2 1.5s;
}

@-webkit-keyframes
blink {
	0%   {filter: drop-shadow(0px 0px 1px white);}
	50%   {filter: drop-shadow(0px 0px 5px black);}
	100%   {filter: drop-shadow(0px 0px 1px white);}
}
@keyframes
blink {
	0%   {filter: drop-shadow(0px 0px 1px white);}
	50%   {filter: drop-shadow(0px 0px 5px black);}
	100%   {filter: drop-shadow(0px 0px 1px white);}
}

.sound_icon{
	cursor: pointer;
	position: absolute;
	left: 5%;
	top: 10%;
	width: 5%;
	z-index: 100;
}
.sound_icon_2{
	top: 25%!important;
}
.sound_icon:hover{
	filter: drop-shadow(0px 0px 5px black);
}
.imagine_image{
	opacity: 0;
	position: absolute;
	width: 40%;
	top: 5%;
	left: 45%;
	z-index: 50;
	animation: fadeIn  0.5s ease-in 0.9s forwards;
	-webkit-animation: fadeIn  0.5s ease-in 0.9s forwards;
}

.circle1{
	opacity: 0;
	position: absolute;
	left: 30%;
	width: 4%;
	top: 40%;
	height: 3%;
	z-index: 30;
	animation: fadeIn 0.5s ease-in 0s forwards;
	-webkit-animation: fadeIn 0.5s ease-in 0s forwards;
}
.circle2{
	opacity: 0;
	position: absolute;
	left: 35%;
	top: 32%;
	width: 8%;
	height: 6%;
	z-index: 40;
	animation: fadeIn 0.5s ease-in 0.4s forwards;
	-webkit-animation: fadeIn 0.5s ease-in 0.4s forwards;
}

.fadeIn {
	animation: fadeIn 2 1.5s;
	-webkit-animation: fadeIn 2 1.5s;
}

@-webkit-keyframes
fadeIn {
	100%   {opacity: 1;}
}
@keyframes
fadeIn {
	100%   {opacity: 1;}
}
