.handImg{
    position: absolute;
    width: 10%;
    top: 53%;
    left: 23%;
    animation: moveleft 2s linear 0s forwards;
}
@-webkit-keyframes moveleft {
    100%{
        transform:  translateX(540%) ;
    }
}


@keyframes moveleft {
    100%{
        transform:  translateX(540%) ;
    }
}
.objdiv{
    position: absolute;
    width: 100%;
    top: 2%;
    height: 20%;
}
.objdivnew{
    position: absolute;
    width:100%;
    top:4%;
    height:11%;
    color: #222;
}
.boxdiv{
    position: absolute;
    width: 46%;
    top: 0%;
    left: 30%;
    opacity: 0;
}
.boxdiv1{
    position: absolute;
    width: 51%;
    top: 2%;
    left: 30%;
    opacity: 0;
    height: 39%;
}
.boxdiv2{
    position: absolute;
    width: 30%;
    top: 11%;
    left: 33%;
    opacity: 0;

}
.boxdiv3{
    position: absolute;
    width: 34%;
    top: 2%;
    left: 52%;
    opacity: 0;
}
.boxdiv4{
    position: absolute;
    width: 30%;
    top: 0%;
    left: 15%;
    opacity:0;
}
.father{
    position: absolute;
    width: 10%;
    top: 20%;
    left: 20%;
}
.niti{
    position: absolute;
    width: 12%;
    top: 40%;
    left: 37%;
}
.niti1{
    position: absolute;
    width: 12%;
    top: 40%;
    left: 37%;
    opacity: 0;
}
.niti2{
    position: absolute;
    width: 9%;
    top: 40%;
    left: 37%;
}
.asha1{
    position: absolute;
    width: 12%;
    top: 40%;
    left: 62%;
    opacity:0;
}
.asha{
    position: absolute;
    width: 12%;
    top: 40%;
    left: 62%;
}
.mala{
    position: absolute;
    width: 9%;
    top: 20%;
    float: right;
    right: 11%;
    transform: scaleX(-1);
}
.mala1{
    position: absolute;
    width: 9%;
    top: 20%;
    float: right;
    right: 11%;
    transform: scaleX(-1);

}
.dial1{
    position: absolute;
    width: 38%;
    height: 20%;
    top: 5%;
    left: 33%;
    opacity: 0;
}
.dial2{
    position: absolute;
    width: 44%;
    height: 20%;
    top: 4%;
    left: 33%;
    opacity: 0;
}
.dial3{
    position: absolute;
    width: 38%;
    height: 20%;
    top: 11%;
    left: 29%;
    opacity: 0;

}
.dial4{
    position: absolute;
    width: 38%;
    height: 20%;
    top: 0%;
    left: 51%;
    opacity: 0;
}
.dial5{
    position: absolute;
    width: 38%;
    height: 20%;
    top: 0;
    left: 11%;
    opacity: 0;
}

@-webkit-keyframes zoomEff {
    100% {
        width:120%;
    }
}


@keyframes zoomEff {
    100% {
        width:120%;

    }
}
.img1{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    float: right;
    right:0;


}
.bg1{
    animation:zoomEff 1s linear 0s forwards ;
}
/*.imgchng{*/
    /*-webkit-transition: opacity 2s ease-in-out;*/
    /*-moz-transition: opacity 2s ease-in-out;*/
    /*-o-transition: opacity 2s ease-in-out;*/
    /*transition: opacity 2s ease-in-out;*/
/*}*/

.tipicon{
    position: absolute;
    width: 15%;
    left: 42%;
    top: 0%;
    cursor: pointer;
    animation: slidedown 1s linear 0s forwards;
}
.blinkEffect{
    top:42%;
    animation: blinkEff 1s linear alternate infinite;

}
@-webkit-keyframes blinkEff {
    0%{
        transform:  scale(0.8) ;
    }
    100%{
        transform:  scale(1) ;
    }
}


@keyframes blinkEff {
    0%{
        transform:  scale(0.8) ;
    }
    100%{
        transform:  scale(1) ;
    }
}

@-webkit-keyframes slidedown {
    100% {
         top:42%;
    }
}


@keyframes slidedown {
    100% {
        top:42%;
    }
}
.bg2{
    background-color: #6D9EEB;
    background-size: 100% 100%;
}

@font-face {
    font-family: belgrano;
    src: url("../../../../../fonts/belgrano/Belgrano-Regular.ttf");
}
.infodiv1{
    position: absolute;
    width: 75%;
    left: 12%;
    border-radius: 2em;
    background-color: #FFD966;
    height: 13%;
    top: 5%;
    font-family: belgrano !important;
}
.infodiv2{
    position: absolute;
    width: 75%;
    left: 12%;
    border-radius: 2em;
    background-color: white;
    height: 50%;
    top: 29%;
}
.c1{
    position: absolute;
    width: 102%;
    height:100%;
    bottom:0%;
}
.zoomCoverImage{
    animation: zoomPage 2s linear 0s forwards;
    animation-delay:1s ;

}
@-webkit-keyframes zoomPage {
    0%{
        position: absolute;
        width: 102%;
        height:100%;
        bottom:0%;
    }
    100%{
        position: absolute;
        width: 245%;
        height: 141%;
        bottom: 70%;
    }
}


@keyframes zoomPage {
    0%{
        position: absolute;
        width: 102%;
    }
    100%{
        position: absolute;
        width: 245%;
        height: 141%;
        bottom: 70%;
    }
}
