<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/ex2.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				{{#each textblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				<div class="exerciseblock">
					{{#each exerciseblock}}
						<p class="instruction {{instructionclass}}">{{{instructiondata}}}</p>
						<p class="question {{questionclass}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" ><span id="num_ques">1</span>{{{questiondata}}}</p>
						{{#each option}}
							<div class="main-container {{mc_class}}">
								<img class="balloon-icon" src="images/ex_balloon/balloon01.png">
								<img class="correct-icon" src="images/correct.png">
								<img class="incorrect-icon" src="images/wrong.png">
								<p class="balloon-text {{optionclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{optiondata}}}</p>
							</div>
						{{/each}}
					{{/each}}
				</div>
			</div>
		</div>
	</script>
<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise2.js");
</script>