.lesson-title {
	color: #FFFFFF;
	font-size: 5em;
	line-height: 1em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	z-index: 5;
}
.frontboard{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 80%;
	transform: translateY(-50%);
}
.bg-front{
	background-color: #B3C60A;
}
.center-text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}
.coverboard{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.bg-1{
	background: url('../images/bg01.png');
	background-size: 100% 100%;
}





.girl{
	position: absolute;
	bottom: 4%;
	left: 15%;
	height: 50%;
}
.boy{
	position: absolute;
	bottom: 4%;
	right: 15%;
	height: 50%;
}
.s-girl-1{
	left: 26%;
	width: 20%;
	bottom: 51%;
}
.s-boy-1{
	right: 25%;
	width: 20%;
	bottom: 50%;
}



.s-girl-2{
	left: 23%;
	width: 25%;
	height: 25%;
	bottom: 55%;
}
.s-boy-2{
	right: 25%;
	width: 22%;
	height: 20%;
	bottom: 50%;
}







.s-girl-3{
	left: 18%;
	width: 25%;
	height: 25%;
	bottom: 55%;
}
.s-boy-3{
	right: 15%;
	width: 22%;
	height: 20%;
	bottom: 56%
}
.sp-1, .sp-2{
	display: none;
}

.monkey{
	position: absolute;
	bottom: 5%;
	left: 35%;
	width: 30%;
}
.monkey-1{
	display: none;
	transform-origin: 100% 50%;
	-webkit-animation: monkey-1 1.5s ease-in both;
	animation: monkey-1 1.5s ease-in both;
}
@-webkit-keyframes
monkey-1 {
	0% {opacity: 0; transform: scale(0);}
	100% {opacity: 1; transform: scale(1);}
}
@keyframes
monkey-1 {
	0% {opacity: 0; transform: scale(0);}
	100% {opacity: 1; transform: scale(1);}
}


.monkey-2{
	display: none;
	transform-origin: 0% 50%;
	-webkit-animation: monkey-2 1.5s ease-in both;
	animation: monkey-1 1.5s ease-in both;
}
@-webkit-keyframes
monkey-2 {
	0% {opacity: 0; transform: scale(0);}
	100% {opacity: 1; transform: scale(1);}
}
@keyframes
monkey-2 {
	0% {opacity: 0; transform: scale(0);}
	100% {opacity: 1; transform: scale(1);}
}


.speechbox{
	cursor: pointer;
}

