.bg-3{
	background-image: url('../images/bg-for-room.png');
	background-size: 100% 100%;
}
.rack{
	position: absolute;
	left: 49%;
	height: 33%;
	bottom: 15%;
}
.stand{
	position: absolute;
	left: 39%;
	height: 27%;
	bottom: 18%;
}
.bed{
	position: absolute;
	left: 1%;
	width: 34%;
	bottom: 1%;
}
.lamp{
	position: absolute;
	left: 10%;
	height: 28%;
	bottom: 18%;
}


.father{
	position: absolute;
	right: 5%;
	height: 62%;
	bottom: 7%;
}


.s-dad-1{
	right: 14%;
	bottom: 70%;
	height: 20%;
}
.s-boy-1{
	left: 9%;
	bottom: 44%;
	height: 20%;
	width: 25%;
}

.sp-1, .sp-2{
	display: none;
}

.bubble-1{
	display: none;
	bottom: 38%;
	left: 35%;
	width: 30%;
	height: 40%;
}






.boysleep{
	position: absolute;
	width: 8%;
	left: 6.4%;
	bottom: 24%;
	z-index: 5;
}





.speechbox{
	cursor: pointer;
}








