<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1.css');
</script>

<script src="./js/jqmath-etc-0.4.0.min.js"></script>
<link rel="stylesheet" href="./css/jqmath-0.4.0.css">

<div class="pageContainer">
	<img class="cover_image" src= "activity/grade7/math/math_ratio_percent_01/images/page1/coverpage.png" />
	<p class="cover_text"></p>

<div id="figBox">

</div>

	<div id="nextbtn" class="arrowcls"></div>
	<div id="repeatBtn"></div>
</div>

<script>
$jsLoader('js/page1.js');

</script>


<script type="text/x-handlebars-template" id="template-1">
<div class="headTitle">{{headtitle}}</div>
{{#if yesToimg}}
<div class="drawme">
	<div class="myDrawclass">
		{{#if imgs1}}
			<div class="halfcircle">
				<img src="{{img1}}" id="{{imgs1}}" />
				<div class="labelObj" id="{{labelid1}}">{{{labelobj1}}}</div>
			</div>
			<div class="halfcircle">
				<img src="{{img2}}" id="{{imgs2}}" />
				<div class="labelObj" id="{{labelid2}}">{{{labelobj2}}}</div>
			</div>
		{{/if}}

		{{#if imgs3}}
			<img src="{{img3}}" id="{{imgs3}}" />
		{{/if}}
	</div>

	<div class="textBoxFor">
		{{#each textMe}}


			{{#if whatnext}}
				<div id="{{textcls}}" class="leftTextbx">
				<span>{{{textsall}}}</span>
					<div id="equalto">=</div>
				<div class="textDown">{{{whatnext}}}</div>
				</div>


				{{else}}
					<div id="{{textcls}}" class="leftTextbx"><span>{{{textsall}}}</span>
					{{#if equal}}
					<div id="{{equal}}">=</div>
					{{/if}}
					</div>

			{{/if}}

		{{/each}}
	</div>

</div>
{{/if}}

{{#if textObj}}
<div class="textPlz" id="{{txtid}}">
	{{textObj}}
</div>
{{/if}}



</script>
