<script>
$cssLoader('css/shared.css');
$cssLoader('css/page3.css');
</script>

<script src="./js/jqmath-etc-0.4.0.min.js"></script>
<link rel="stylesheet" href="./css/jqmath-0.4.0.css">

<div class="pageContainer">

<div id="figBox">

</div>
		
	<div id="nextbtn" class="arrowcls"></div>
	<div id="repeatBtn"></div>
</div>

<script>
$jsLoader('js/page3.js');

</script>


<script type="text/x-handlebars-template" id="template-1">
<div class="headTitle">{{headtitle}}</div>

<div class="drawme">

	<div class="halfcircle forTextBx">
		<div class="textFirst">{{textfirst}} <input type="text" id="firstInput" class="txtInputBx"/> % 
			<input type="button" id="firstConfirm" class="confirmbtn" value="{{confirmText}}"/>
		</div>
		
		<div class="textFirst"  id="textFirstId3">{{textFrth}} </div>
		<div class="textFirst"  id="textFirstId4">{{textFifth}} </div>
		<div class="textFirst"  id="textFirstId5">{{textSix}} </div>
		<div class="textFirst"  id="textFirstId6">{{textSeven}} </div>
		<div class="textFirst"  id="textFirstId7">{{texteight}} </div>
	</div>

	<div class="halfcircle bxForCircle">
		{{#each imgObj}}
			<img src="{{imgSrcThis}}" id="{{imgid}}" class="circleBxx" />
		{{/each}}
		<div class="warning">{{lessthan}}</div>		
	</div>	
</div>
</script>

