<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/exercise.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="activity_container">

    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
           {{#if uppertextblock}}
	            <div class="textblock {{uppertextblockadditionalclass}}">
	                {{#if contentblocknocenteradjust}}
	                    <div class="vertical-horizontal-center">
	                {{/if}}
	                    {{#each uppertextblock}}
	                        {{> textcontent}}
	                    {{/each}}
	                {{#if contentblocknocenteradjust}}
	                    </div>
	                {{/if}}
	            </div>
            {{/if}}
           
            {{#if flextablecolumn}}
	            <div class="flextableblock {{flextableblockadditionalclass}}">
	                {{#each flextablecolumn}}
	                	<div class = "{{flextablecolumnclass}}">
	                    	{{> flexblocktable}}
	                    </div>
	                {{/each}}
	            </div>
            {{/if}}            
        </div>
    </div>
    {{! content block end--}}
</div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="flexblocktable-partial" type="text/x-handlebars-template">
    {{#each flextablerow}}
    <div class="row_div {{rowdivext}}">
        {{#if optionclass}}
        	<p class="{{optionclass}}">{{{textdata}}}</p>
        {{/if}}
        {{#if imgclass}}
        	 <img class="{{imgclass}}" src="{{imgsrc}}">
        {{/if}}
        
        {{#if inputclass}}
        	<input class="{{inputclass}}" type="{{inputtype}}" data-answer="{{dataanswerinput}}" data-answerflag="false" data-correct= "0">
        {{/if}}
        
        {{#if dropdown}}
        	<select data-answer="{{dataanswerdrop}}" id="{{selectid}}" data-answerflag="false" data-correct= "0">
        		{{#each dropdown}}
        			<option value="{{optionclass}}">{{optionname}}</option>
        		{{/each}}
			</select>
        {{/if}}
      </div>
    {{/each}}
</script>


<!-- js loader starts -->
   

<script type="text/javascript">
    $jsLoader("js/exercise.js");
</script>
