.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */



.exefin {
	display: none;
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin{
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}
/*--------- for exercise -------------*/
.main_bg{
	background: linear-gradient(#7CADF2, #FBFCFF);

}
/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.instruction_div{
	left: 0%;
	padding: 1%;
	left: 0%;
	top: 0%;
	background-color: #FFD966;
	height: 100%;
	width: 100%;
}
.instruction{
	position: absolute;
	left: 0%;
	padding: 1.2%;
	left: 0%;
	top: 0%;
	width: 100%;
	background-color: #FFD966;
	text-align: left;
	font-size: 3vw;
}
@media(min-aspect-ratio:4/3){
	.instruction{
		font-size: 4vh;
	}
}
.command_question {

    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    color: #C24330;
    text-align: center;
    font-size: 5vmin;

}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid green;
	background-color: teal;
	font-size: 5vmin;
	color: white;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	border: 3px solid #c55;
	background-color: red;
	font-size: 5vmin;
	color: white;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}

.optionsblock{
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
	top: 30%;
	width: 100%;
	z-index: 10;
}
.option_container{
	padding: 5%;
	height: 100%;
	width: 28%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.option_container>.ex-img {
	position: absolute;
	height: 75%;
	bottom: 20%;
}

.options{
	cursor: pointer;
	background-color: #FFFFFF;
	border: 5px solid #B1BEC6;
	border-radius: 3vw;
}

.options:hover{
	background-color: #AAAAAA;
	color: white;
}
.option-text{
	position: absolute;
	bottom: 0%;
	border-top: 0.6vmin solid #B1BEC6;
	width: 100%;
	font-size: 3vw;
	padding: 0.5%;
}
@media (min-aspect-ratio:4/3){
	.option-text{
		font-size: 4vh;
	}
}
.cor-incor{
	display: none;
	position: absolute;
	top: 102%;
	width: 20%;
	left: 40%;
}
