<script type="text/javascript">
    $cssLoader("css/page4.css");
</script>



<div class="readingmap_page4">
    <div class="board">
    </div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>

    <div class="snow-container">
          <div class="snow foreground"></div>
          <div class="snow foreground layered"></div>
          <div class="snow middleground"></div>
          <div class="snow middleground layered"></div>
          <div class="snow background"></div>
          <div class="snow background layered"></div>
    </div>
</div>

<script type="text/x-handlebars-template" id="slide1-template">
    <div class="slide1 coverBoardFull">
        <div class="backgroundImagesContainer">
            <img src="{{this.bgImgSrc}}" data-forwhichdialog="{{this.forwhichdialog}}" id="{{this.imageid}}">

        </div>
        <div class="talkHeads">
            {{#each talkHeadImages}}
                <img src="{{this.talkHeadImgSrc}}" data-whosehead="{{this.nameofwhosehead}}" data-highlight="{{this.highlightFlag}}">
            {{/each}}
        </div>
        <div class="dialogcontainer">
            <p id="{{this.dialog_id}}">
                <img class="listenAgainButton disableListenAgain" src="{{speakerImgSrc}}" title="{{listenAgainText}}">
                {{#each lineCountDialog}}
                    <span id="{{spanname}}">{{spandata}}</span>
                {{/each}}
            </p>
        </div>   

        {{#if svgblock}}
            <div class="svgwrapper">                 
                {{#each svgblock}}                           
                    <div class="svgcontainer">{{!-- load actual svg image here --}}</div>
                    
                     {{!-- load snap svg --}}
                     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
                {{/each}}
            </div>
        {{/if}}     
    </div>
    
</script>

<script src="js/buzz.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $jsLoader("js/page4.js");
      //$jsLoader("js/page1.js");
</script>