/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#int2ex
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
	background-image: url("../../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#int2ex *{
	margin:0;
	padding:0;	
}


/*------------------------------------------------------------------------------------------*/
#ok{
        -webkit-animation-duration: 8s;
        -moz-animation-duration: 8s;
        animation-duration: 8s;
}

/*rotate right*/
.rotateRight
{
  animation-duration: 5s;
  animation-name: RotateR;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 5s;
  -webkit-animation-name: RotateR;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes RotateR{
  0% {
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }

  100% {
        transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
     }
}

@-webkit-keyframes RotateR{
  0%{
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }


  100%{
       transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
  }
}
/*------------------------------------------------------------------------------------------*/


/*for all the text inputs in the page*/

input[type=text]{
	position: absolute;
	background-color: transparent;
	border: 0em solid black;
	top:63%;
	width:6%;
	height:30%;	
	font-size: 1.3em;
	text-align:center;
	border: 0.1em solid #58595B;
	border-radius: 10%;
}

#q{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;	
	text-align: center;
	padding:3% 5% 2% 2%;
	font-size: 1.4em;
	color: white;
	background-color: #674C8F;
	border-radius: 3%;
	box-shadow: 0.1em 0.2em 0.1em #888888;
}

/*question numberline div*/
#qNumberLine{
	position: absolute;
	top:40%;
	left:10%;
	width:80%;
	height:20%;
	/*border:1px solid red;*/
}

/*your answer text*/
#qNumberLine > p:nth-of-type(1){
	display: none;
	position: absolute;
	top:-60%;
	left:35%;
	width:30%;	
	text-align: center;
	padding:1%;
	font-size: 1.3em;
	color: black;
	background-color: #00ADA9;
	border-radius: 3%;
	box-shadow: 0.1em 0.2em 0.1em #888888;
}

/*number line image*/
#qLine{
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height:64%;
}

 /*inputs*/
#left1{	
	left:17%;
	/*left:2.5%;*/
}

#left2{	
	left:39.5%;
	/*left:10%;*/
}

#left3{	
	left:62%;
	/*left:39.5%;*/
}

#left4{	
	left:69.5%;
	/*left:62%;*/
}

#left5{	
	left:76.5%;
	/*left:70%;*/
} 

/*answer numberline div*/
#aNumberLine{
	display: none;
	position: absolute;
	top:72%;
	left:10%;
	width:80%;
	height:20%;
	/*border:1px solid red;*/
}

/*your answer text*/
#aNumberLine > p:nth-of-type(1){
	position: absolute;
	top:-60%;
	left:35%;
	width:30%;	
	text-align: center;
	padding:1%;
	font-size: 1.3em;
	color: black;
	background-color: #9ABF4B;
	border-radius: 3%;
	box-shadow: 0.1em 0.2em 0.1em #888888;
}

/*number line image*/
#aLine{
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height:100%;
}

/*okay button*/
#ok{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 11%;
}

#replay{
	display: none;
	position: absolute;
	top:17%;
	right:2%;
	width: 5%;
	height: 9%;
	cursor: pointer;
}

/*#int2ex > em:nth-of-type(1){
	display: none;
	position: absolute;
	top:78%;
	right:5%;
	font-size:2em;
	color:green;
	text-shadow: 0em 0.05em 0.05em rgba(0, 0, 0, 0.7);
}*/