@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}
@font-face {
    font-family:chelseamarket;
    src: url(../../../../../fonts/ChelseaMarket-Regular.ttf);
}
.little_red_riding_hood {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.little_red_riding_hood, .little_red_riding_hood * {
	position: relative;
	margin: 0;
	padding: 0;
}

.little_red_riding_hood .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.little_red_riding_hood .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_story_1 {
	background-image: url("../images/01.jpg");
	background-size: 100% 65%;
	background-repeat: no-repeat
}
.bg_story_2 {
	background-image: url("../images/02.jpg");
	background-size: 100% 65%;
	background-repeat: no-repeat
}
.bg_story_3 {
	background-image: url("../images/03.jpg");
	background-size: 100% 65%;
	background-repeat: no-repeat
}
.bg_story_4 {
	background-image: url("../images/04.jpg");
	background-size: 100% 65%;
	background-repeat: no-repeat
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */

.header_laila {
	font-family: 'Laila';
	font-size: 3.7vmin!important;
	color: #D31D67;
}
@font-face {
	font-family: 'Laila'; /*a name to be used later*/
	src: url('Laila-Regular.ttf'); /*URL to font*/
}
@font-face {
	font-family: 'Laila-Bold'; /*a name to be used later*/
	src: url('Laila-Semibold.ttf'); /*URL to font*/
}
.font_purple {
	color: #762CA5 !important;
}


/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.blink_big {
	animation: blink_big 3s;
	-webkit-animation: blink_big 3s;
}
@-webkit-keyframes
blink_big {
0%   {}
20%   {transform: translate(-52%, -2%) scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px blue);}
40%   {transform: translate(-50%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 1px #0094FF);}
60%   {transform: translate(-52%, -2%) scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px blue);}
80%   {transform: translate(-50%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 1px #0094FF);}
100% {transform: translate(-52%, -2%) scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px blue);}
}
@keyframes
blink_big {
0%   {}
20%   {transform: translate(-52%, -2%) scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px blue);}
40%   {transform: translate(-50%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 1px #0094FF);}
60%   {transform: translate(-52%, -2%) scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px blue);}
80%   {transform: translate(-50%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 1px #0094FF);}
100% {transform: translate(-52%, -2%) scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px blue);}
}

.blink_and_big {
	animation: blink_2_big 3s;
	-webkit-animation: blink_2_big 3s;
}

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
	z-index: 3;
	margin-top: 1%;
	height: 100%;
	width: 100%;
	/*border   : 1px solid green; */
}

.bottom_para {
	position: absolute;
	bottom: 0%;
	height: 40%;
	left: 0%;
	width: 100%;
	padding: 2.5%;
	padding-right: 4%;
	text-align: left;
	background-color: #C5F3EC;
}
.bottom_para_2 {
	position: absolute;
	bottom: 0%;
	height: 35%;
	left: 0%;
	width: 100%;
	padding: 2.5%;
	padding-right: 4%;
	text-align: left;
	background-color: #C5F3EC;
}


.bottom_ques {
	position: relative;
	top: 50%;
	text-align: center;
}

.bottom_hint {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	
}

.text_story {
	/*background-color: #FFD36B;*/
	font-size: 1.8vw;
	color: black;
	border-radius: 5px;
}
.text_on {
	/*text-shadow: 0px 0px 1px #00FF21;*/
	/*filter: drop-shadow(0px 0px 5px #00FF21);*/
	color: black;
	font-size: 1.8vw;
}

.text_off {
	color: black;
	/*text-shadow: 0px 0px 1px #FFE97F;
	filter: drop-shadow(0px 0px 5px #FFE97F);*/
}
.text_after {
	color: #555!important;
	/*text-shadow: 0px 0px 1px #FFE97F;
	filter: drop-shadow(0px 0px 5px #FFE97F);*/
}

.go_off {
	animation: go_off 1.5s;
	-webkit-animation: go_off 1.5s;
}

.text_inactive {
	cursor: pointer;
	color: #333;
	padding: 0 0.5% 0 0.5%;
	/*text-shadow: 0px 0px 2px #0094FF;
	filter: drop-shadow(0px 0px 5px #0094FF);*/
}

.text_inactive:hover {
	/*text-shadow: 0px 0px 1px #B200FF;
	filter: drop-shadow(0px 0px 5px #B200FF);*/
	color: black;
	background: #FCD172;
	border-radius: 5px;
}

.text_active {
	/*text-shadow: 0px 0px 1px #00FF21;
	filter: drop-shadow(0px 0px 5px #00FF21);*/
	color: white;
	background: #E67A1B;
	padding: 0 0.5% 0 0.5%;
	border-radius: 5px;	
}

.text_wrong {
	color: white;
	text-shadow: 0px 0px 1px #FF355D;
	filter: drop-shadow(0px 0px 5px #FF355D);
}

.text_hint {
	position: absolute!important;
	bottom: 50%;
	right: 5%;
	width: 11%;
	z-index: 10;
	text-align: center!important;
	font-size: 2vw;
	padding: 0.5% 2% 0.5% 2%;
}

.hint_para {
	position: absolute;
	z-index: 20;
	top: 15%;
	width: 8%;
	right: 1%;
	text-align: center!important;
	font-size: 2vmin;
	padding: 0.5%;
	background-color: #FFE97F;
	border-radius: 10px;
	color: black;
}


.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s;
	-webkit-animation: appear 3s;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s;
	-webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
0%   {opacity: 1;}
100% {opacity: 0;}
}
@keyframes
disappear {
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes
go_off {
0%   {color: #000; text-shadow: 0px 0px 1px #00FF21; filter: drop-shadow(0px 0px 5px #00FF21);}
100% {color: #555; text-shadow: 0px 0px 1px #FFE97F; filter: drop-shadow(0px 0px 5px #FFE97F);}
}
@keyframes
go_off {
0%   {color: #000; text-shadow: 0px 0px 1px #00FF21; filter: drop-shadow(0px 0px 5px #00FF21);}
100% {color: #555; text-shadow: 0px 0px 1px #FFE97F; filter: drop-shadow(0px 0px 5px #FFE97F);}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

div.droppableblock {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 20%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
    position: absolute;
    color: white;
    font-size: 7vmin;
    font-family: chelseamarket;
    width: 100%;
    margin-top: 22%;
}
/*====================================
 =           Question Div            =
 ====================================*/

.text_qna {
	z-index: 10;
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center!important;
	color: black;
	padding: 1%;
	margin-top: 1%;
	font-size: 1.7vw;
}

.ques_div {
	z-index: 10;
	height: 57%;
	width: 95%;
	top: 1%;
	background: -webkit-linear-gradient(top, #30CDD4, #08436A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #30CDD4, #08436A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(51, 192, 231, 0.9), rgba(75, 108, 165, 0.9)); /* For Fx 3.6 to 15 */
    background: linear-gradient(top, #30CDD4, #08436A); /* Standard syntax (must be last) */
	background-size: cover;
	color: black;
	border-radius: 5%/10%;
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center!important;
	transition: 2s linear;
}

.text_ques {
	z-index: 10;
	margin-top: 2%;
	color: black!important;
	font-size: 2vw!important;
}

.ans_button_inactive {
	opacity: 1!important;
	cursor: pointer;
	color: white;
	background-color: #8254B6;
	border-radius: 10px;
	border: 2px solid #c2e9ee;
}
.ans_button_inactive:hover {
	background-color: #F7A343;
}

.ans_button_wrong {
	opacity: 1!important;
	color: #222;
	background-color: #973939;
	border-radius: 10px;
	border: 1px solid #bbb;
}

.ans_button_right {
	opacity: 1!important;
	color: white;
	background-color: #1DAB7B;
	border-radius: 10px;
	border: 2px solid #c2e9ee;
}

.next_ques {
	opacity: 1!important;
	cursor: pointer;
	position: absolute;
	padding: 0.5% 1.5% 0.8% 1.5%;
	border-radius: 10px;
	bottom: 5%;
	right: 5%;
	font-size: 1.8vw;
} 

.next_ques_inactive {
	opacity: 1!important;
	color: #999;
}

.hide_btn {
	opacity: 0.8;
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	left: 5%;
	color: white;
	font-size: 1.8vw;
	text-shadow: 0px 0px 1px #7FC9FF;
}
.hide_btn:hover {
	text-shadow: 0px 0px 5px #B200FF;
}

.next_ques_active {
	opacity: 1!important;
	background: #FF5B61;
	color: white;
	/*text-shadow: 0px 0px 1px #00FF21;
	filter: drop-shadow(0px 0px 5px #00FF21);*/
}

.hide_icon {
	z-index: 20;
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 1%;
	width: 5%;
}

.hide_icon:hover {
	filter: drop-shadow(0px 0px 5px #007F0E);
}

.drop {
	animation:  drop 3s;
	-webkit-animation:  drop 3s;
}
@keyframes drop { 
  from { top: -70%; } 
} 
@-webkit-keyframes drop { 
  from { top: -70%; }
} 

#span_speec_text{
	color: #C23D87;
}

#span_speec_text{
	color: #C23D87;
}

.speaker_icon{
	position: absolute;
	top: 65%;
	right: 0.5%;
	width: 3.5%;
	z-index: 20;
}
.firstpagebg{
	background: url("../images/little-red-riding-hood-part-1.jpg");
	background-size: cover;
}
@media only screen and (max-width: 800px) { 
    /*vh*/
    .lesson-title
    {
        font-size: 5vmin;
    }
}

/*=====  End of Question Div  ======*/

/*=====  End of Custom Style  ======*/
