.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../../../../../../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 14.3%;
	height: 85.7%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: absolute;
	width: 100%;
	top: 14.3%;
	height: 80%;
}

/*============ exercise template ===================
==================================================== */


.question_img {
    color: #674EA7;
    position: relative;
    top: 18%;
    font-size: 4vmin;
}


.optionsdiv_img {
    top: -28%;
    left: 54%;
    width: 50%;
    text-align: center;
    position: relative;
}

.optionscontainer {
    display: inline;
    position: relative;
    height: 100%;
}

.optionscontainer_img {
    position: relative;
    margin-bottom: 15%;
}

.optionscontainer_img:nth-child(1){
    margin-bottom: 22% !important;
}

.imagestartpos_img {
    width: 9%;
    margin-left: 35%;
    margin-top: 0%;
    position: absolute;
    left: 38%;
    visibility: hidden;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 550%;
    visibility: hidden;
}

.buttonsel {
    display: inline;
    background-position: 0% 0%;
    color: white;
    margin: 6%;
    font-size: 3vmin;
    height: 10% !important;
    padding: 8% 4%;
}

.circleback {
    background: url(../images/circle.png);
    background-size: 400% 100%;

}

.rectangleback {
    background: url(../images/rectangle.png);
    background-size: 400% 100%;

}

.triangleback {
    background: url(../images/triangle.png);
    background-size: 400% 100%;
    padding: 12% 6% 2% 6%;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover{
    background-position: 300% 0% !important;
}



.wrongans{
	background: #EA9999;
	color: #F66E20;
}

.rightans{
	background: #6AA84F;
}

.scoreboard {
    width: 100%;
    height: 11%;
    position: absolute;
    text-align: right;
    margin-top: 2%;
    border-bottom: 3px solid #8E7BC3;
    padding: 1%;
}

.exefin {
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin .eggs{
    height: 78%
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.eggs {
    height: 100%;
}

.eggmove{
	transform-origin: 50% 100%;
	animation: eggm 1s linear alternate 0s infinite;
}

@keyframes eggm{
	from{transform: rotate(10deg);}
	to{transform: rotate(-10deg);}
}

.questionimg {
    position: relative;
    top: 25%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 56%;
    left: -20%;
}


.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

/***************** EXERCISE 1 ************************/
.answer {

    font-size: 4vmin;
    border: #dbdbdb solid 1px;
    border: #dbdbdb solid 0.2em;
    margin-top: 4%;
    border-radius: 0.5em;
    background-color: #58CFF9;
    padding: 2%;
    text-align: center !important;
    padding-left: 0% !important;

}

.uppertextblock {
    position: relative;
    background: #eda3a3;
    padding: 1%;
    top: -2%;
    font-size: 5vmin;
}
.wrapper {
    padding: 2% 3%;
    height: 90%;
    display: flex;
    position: relative;
}
.questionblock {

    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    flex: 0 0 30%;
    left: 6%;
    top: -13%;

}
.questionblock .answer{
    text-align: left;
    padding-left: 10%;
}
.poemblock {
    flex: 0 0 70%;
    height: 100%;
    left: 20%;
}
.poemblock p {
    position: absolute;
    width: 50%;
    font-size: 2.8vmin;
    line-height: 1.2;
}
.poemblock p:nth-child(1) {
    left: 0;
    top: 0;
}
.poemblock p:nth-child(2) {

    left: 0;
    top: 50%;

}
@media screen and (max-width: 1025px) {
    .poemblock p:nth-child(2) {
        bottom: 0;
    }
}
.hover-effect:hover {
    background: yellow;
}
.hover-effect {
    cursor: pointer;
}
.correct-effect {
    background: #2f2;
}
.incorrect-effect {
    background: #f22;
}
.answers {
    cursor: pointer;
}
.question-text {
    font-size: 4vmin;
    text-align: center;
}
