.long_vowels {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	font-family: sniglet;
}

.long_vowels, .long_vowels * {
	position: relative;
	margin: 0;
	padding: 0;
}

.long_vowels .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.long_vowels .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	/*background: #F9CB9C;*/
	background: #F1DDCF;
	/*background-size: 100% 100%;*/
}

.textblock{
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.description_main, .description_main2 {
	background-color: #4796C9;
	color: #fff;
	padding: 1%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.imageblock {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.notice_board{
	position: absolute;
	top: 15%;
	width: 80%;
	left: 10%;
}

.notice {
	position: absolute;
	top: 28%;
	width: 34%;
	left: 33%;
}

.notice_animate {
	position: absolute;
	top: 28%;
	width: 34%;
	left: 33%;
	-webkit-animation: new_pos 1.5s cubic-bezier(.06,-0.45,.74,.8) forwards;
	animation: new_pos 1.5s cubic-bezier(.06,-0.45,.74,.8) forwards;
}

@-webkit-keyframes new_pos {
	100%{
		top: 15.5%;
		  width: 46%;
		  left: 3%;
	}
}
@-webkit-keyframes new_pos {
	100%{
		top: 15.5%;
		  width: 46%;
		  left: 3%;
	}
}

.container_left{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 50%;
	height: 100%;
	background-color: #FFF2CC;
}

.container_right{
	position: absolute;
	right: 1%;
	top: 56%;
	width: 48%;
	transform: translateY(-50%);
	text-align: left;
}

.pink_border{
	padding: 1%;
	border-radius: 0.5em;
}

label{
	font-weight: normal;
}

.description_center{
	position: absolute;
	width: 70%;
	left: 15%;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 1.5em;
	background-color: #9AC15B;
	color: #fff;
	padding: 3%;
}

.dialogue1, .dialogue2 {
	position: absolute;
	width: 35%;
	bottom: 50%;
	padding: 2% 1% 5% 1%;
}

.dialogue1 {
	left: 2%;
}

.dialogue2 {
	right: 2%;
}

.dialogue3 {
	right: 25%;
	position: absolute;
	width: 43%;
	bottom: 63%;
	padding: 2% 1% 5% 1%;
}

.dolma_class, .rita_class, .dolma_class2 {
	position: absolute;
	width: 20%;
	bottom: 1%;
}

.dolma_class2 {
	width: 20%;
	right: 62%;
}

.dolma_class{
	right: 50%;
}

.rita_class {
	left: 50%;
	width: 14%;
}

.dialogue_bubble_mirror{
	transform: scaleX(-1);
}

.dialogue_bubble_mirror, .dialogue_bubble {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.shrink{
	height: 100%;
	width: 100%;
	transform-origin: 50% -15%;
	-webkit-animation: shrink_kf 1.5s linear forwards;
	animation: shrink_kf 1.5s linear forwards;
}

@-webkit-keyframes shrink_kf {
	100%{
		transform: scale(0.6);
	}
}

@-webkit-keyframes shrink_kf {
	100%{
		transform: scale(0.6);
	}
}

.shrunk {
	height: 100%;
	width: 100%;
	transform-origin: 50% -15%;
	transform: scale(0.6);
}

.description_mustard {
	width: 100%;
	left: 0;
	top: 0;
	padding: 1%;
	color: #000;
	text-align: left;
	background-color: #FFD966;
}

.circular1,.circular2{
	position: absolute;
	background-color: #fff;
	border: 0.15em solid #81C1FF;
	border-radius: 50%;
}

.circular1{
	padding: 0.5% 1.6%;
	left: 15%;
	bottom: 10%;
}

.circular2{
	padding: 1.3% 2.5%;
	left: 22%;
	bottom: 14%;
}

.clouds{
	width: 73%;
	left: 25%;
	position: absolute;
	bottom: 6%;
}

.dolma02{
	position: absolute;
	width: 10%;
	bottom: 0%;
	left: 2%;
}

.dolma03a{
	width: 17%;
	right: 16%;
	bottom: 14%;
	position: absolute;
}

.dad {
	position: absolute;
	width: 30%;
	left: 35%;
	bottom: 13%;
}

.musicnode01, .musicnode02, .musicnode03 {
	position: absolute;
	width: 3%;
}

.musicnode01{
	bottom: 51%;
	left: 62%;
	transform: rotate(28deg);
	-webkit-animation: musicnode01_kf 2s linear 6 alternate;
	animation: musicnode01_kf 2s linear 6 alternate;
	animation-delay: 8s;
}

@-webkit-keyframes musicnode01_kf { 100% { transform: rotate(0deg); } }
@keyframes musicnode01_kf { 100% { transform: rotate(0deg); } }

.musicnode02{
	bottom: 44%;
	left: 67%;
	transform: rotate(-15deg);
	-webkit-animation: musicnode02_kf 1s linear 12 alternate;
	animation: musicnode02_kf 1s linear 12 alternate;
	animation-delay: 8s;
}

@-webkit-keyframes musicnode02_kf { 100% { transform: rotate(10deg); } }
@keyframes musicnode02_kf { 100% { transform: rotate(10deg); } }

.musicnode03 {
	bottom: 53%;
	left: 70%;
	width: 1.8%;
	transform: rotate(-8deg);
	-webkit-animation: musicnode03_kf 2s linear 6 alternate;
	animation: musicnode03_kf 2s linear 6 alternate;
	animation-delay: 8s;
}

@-webkit-keyframes musicnode03_kf { 100% { transform: rotate(20deg); } }
@keyframes musicnode03_kf { 100% { transform: rotate(20deg); } }

.bluebg{
	background-color: #81C1FF;
}

.mustard_bg{
	background-color: #FFD966;
	height: 20%;
	left: 0%;
	top: 0;
}

.dolma02_b{
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 2%;
	background-color: #fff;
}

.mustard_bg_label {
    width: 84%;
	left: 56.5%;
    transform: translate(-50%, -45%);
    top: 50%;
    position: absolute;
    text-align: left;
}

.container_label_left {
	width: 50%;
	float: left;
	padding: 2%;
	height: 70%;
}

.container_label_right {
	width: 50%;
	float: left;
	padding: 2%;
	height: 70%;
}

.container_label_center {
	width: 80%;
	float: left;
	padding: 2%;
	height: 40%;
	top: 20%;
}

.pink_bg {
	background-color: #F4A8C0;
	text-align: left;
	padding: 3% 5%;
	border-radius: 0.5em;
	width: 100%;
	margin-top: 4%;
}

.lightblue_bg {
	background-color: #93C5D8;
	text-align: left;
	padding: 3% 5%;
	border-radius: 0.5em;
	width: 100%;
	margin-top: 4%;
}

.instruction_label{
	width: 100%;
}

.blue_pink_hilight{
	text-align: left;
	padding: 0% 1%;
	border-radius: 0.5em;
}

.blue_pink_hilight:nth-child(odd) {
    background-color: #F4A8C0;
}
.blue_pink_hilight:nth-child(even) {
    background-color: #93C5D8;
}

.green_hilight_odd:nth-child(odd){
	background-color: #98C02E;
	color: #fff;
	border: 0.1em solid #EEFF41;
	padding: 0% 1%;
	border-radius: 0.5em;
}

.green_hilight_even:nth-child(even){
	background-color: #98C02E;
	color: #fff;
	border: 0.1em solid #EEFF41;
	padding: 0% 1%;
	border-radius: 0.5em;
}

.greenhilight{
	color: #00cc00;
}

.pale_bg{
	background-color: #FAF0E6;
	height: 20%;
	left: 0%;
	top: 0;
}

.mustard_bg2{
	background-color: #FFD966;
	height: 25%;
	left: 0%;
	top: 0;
}

.dark_pink{
	background-color: #FF7676;
	left: 0%;
	color: #fff;
}

.grey_hilight{
	padding: 0 1.5%;
	background-color: #2880d7;
	border: 0.1em solid #2880d7;
	cursor: pointer;
	border-radius: 0.4em;
}

.drop_into1, .drop_into2 {
	position: absolute;
	left: 37%;
	width: 55%;
	background-color: #fff;
	border: 3px solid #aaa;
	border-radius: 0.5em;
}

.hovered{
	border: 3px dashed #aaa;
}

.drop_into2 {
	top: 70%;
}

.drop_into1{
	bottom: 35%;
}

.options{
	width: 80%;
	padding: 1%;
	margin-top: 1%;
	text-align: center;
	cursor: pointer;
	border-radius: 0.5em;
	background-color: #7B74D4;
	border: 0.1em solid #7B74D4;
	color: #fff;
}

.grey_hilight:hover, .options:hover{
	background-color: #F9CB9C;
	border: 0.1em solid #E69138;
	color: #000;
}

.disable1:hover { background-color: #2880d7;
	border: 0.1em solid #2880d7;
	color: #fff; cursor: default;}
.disable2:hover { background-color: #7B74D4;
	border: 0.1em solid #7B74D4;
	color: #fff; cursor: default;}

.incorrect, .incorrect:hover{
	color: #000;
	background-color: #FF0000;
	border: 0.1em solid #D80000;
}

.correct, .correct:hover{
	background-color: #98C02E;
	color: #fff;
	border: 0.1em solid #EEFF41;
}

.description_grey {
	text-align: left;
	padding: 0.5%;
	width: 100%;
	padding: 0.5% 2%;
}

.container_pink{
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
}

.container_pink2{
	position: absolute;
	top: 68%;
	transform: translateY(-50%);
}

.pale_bg_label {
	transform: translate(-50%, -45%);
    top: 50%;
    width: 90%;
    position: absolute;
    text-align: left;
    color: #000;
}

.pale_bg_label2 {
	transform: translate(-50%, -50%);
    top: 50%;
    width: 94%;
    position: absolute;
    text-align: left;
    color: #000;
}

.options{
	width: 80%;
	padding: 1%;
	margin-top: 1%;
	/*text-align: left;*/
}

.incorrectsign1, .correctsign1, .incorrectsign2, .correctsign2{
	position: absolute;
	left: 95%;
	bottom: 65%;
}

.incorrectsign1, .correctsign1{
	height: 4vmin;
}

.incorrectsign2, .correctsign2{
	height: 5.5vmin;
}

.grey_bg{
	background: #B7B7B7;
	padding: 2% 1%;
}

.pink_draggable{
	position: absolute;
	width: 40%;
	top: 39%;
	left: 5%;
	border: 1px solid #111;
	background-color: #F4A8C0;
	border-radius: 0.4em;
	cursor: pointer;
}

.blue_draggable{
	position: absolute;
	width: 40%;
	top: 39%;
	left: 55%;
	border: 1px solid #111;
	background-color: #A8D6ED;
	border-radius: 0.4em;
	cursor: pointer;
}

.text_pos1, .text_pos2{
	position: absolute;
	width: 30%;
	right: 65%;
	text-align: right;
}

.text_pos2{
	top: 70%;
}

.text_pos1{
	bottom: 35%;
}

.swing{
	transform-origin: 50% 0;
	opacity: 0;
	-webkit-animation: swing 1.2s linear 1.2s forwards;
	animation: swing 1.2s linear 1.2s forwards;
}

@-webkit-keyframes swing {
	0%, 100%{
		opacity: 1;
	}
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 9deg);
    transform: rotate3d(0, 0, 1, 9deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -6deg);
    transform: rotate3d(0, 0, 1, -6deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 3deg);
    transform: rotate3d(0, 0, 1, 3deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -3deg);
    transform: rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
	0%, 100%{
		opacity: 1;
	}
   20% {
    -webkit-transform: rotate3d(0, 0, 1, 9deg);
    transform: rotate3d(0, 0, 1, 9deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -6deg);
    transform: rotate3d(0, 0, 1, -6deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 3deg);
    transform: rotate3d(0, 0, 1, 3deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -3deg);
    transform: rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.bounceInUp {
  -webkit-animation: bounceInUp 1.5s linear forwards;
  animation: bounceInUp 1.5s linear forwards;
}


@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes tada2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada2 {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada2 {
  top: 15.5%;
  width: 46%;
  left: 3%;
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
	.description_main{
		font-size: 8vh;
	}
	.description_main2, .description_center{
		font-size: 6vh;
	}
	.container_left, .dialogue_description{
		font-size: 3.8vh;
	}
	.blue_draggable, .pink_draggable, .options, .pale_bg_label2, .pale_bg_label, .description_grey, .description_mustard, .mustard_bg_label, .instruction_label, .pink_bg, .lightblue_bg{
		font-size: 4vh;
	}
	.text_pos1, .text_pos2, .drop_into1, .drop_into2{
		font-size: 5.56vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.description_main{
		font-size: 6.8vw;
	}
	.description_main2, .description_center{
		font-size: 4.1vw;
	}
	.container_left, .dialogue_description{
		font-size: 2.6vw;
	}
	.blue_draggable, .pink_draggable, .options, .pale_bg_label2, .pale_bg_label, .description_grey, .description_mustard, .mustard_bg_label, .instruction_label, .pink_bg, .lightblue_bg{
		font-size: 3vw;
	}
	.text_pos1, .text_pos2, .drop_into1, .drop_into2{
		font-size: 4.4vw;
	}
}
