@font-face {
    font-family: laila;
    src: url('../../../../../fonts/laila/laila-regular.ttf');
}

.plants {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.plants:lang(en){
    font-family: laila;
}

.plants, .plants * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.plants .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.plants .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

.nextBtn, .prevBtn{
	z-index: 50;
}
/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/

        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }

        div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }

    /*=====  End of HeaderBlock  ======*/

    /*====================================
    =            ContentBlock            =
    ====================================*/

        div.generalTemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        }

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/

        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238);
        }

        div.instructionblock[data-instructionblockshow='true']{
            top : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);

            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 7px;

            background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }

    /*=====  End of InstructionBlock  ======*/


    /*==================================
    =            Text Block            =
    ==================================*/

        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            /*margin-top : 0.5%;*/
            background-color: #00AEB8;
            color: #FFFFFF;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;

            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        span.royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        span.orangehighlight{
            color : rgb(197,6,6);
        }

        p.textalignleft{
            text-align: left;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        p.paperstacktextstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.paperstacktextstyle:after{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        p.paperstacktextstyle:before{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        /* Rules below is for multiplehighlight of span tags for a highlight true para.
           For example */
            .multiplehighlights:nth-of-type(1){
                background-color:#D93B2B;
            }

            .multiplehighlights:nth-of-type(2){
                background-color:#F6921E;
            }

            .multiplehighlights:nth-of-type(3){
                background-color:#FFDD00;
            }
        /* and so on if required be... */

    /*=====  End of Text Block  ======*/


    /*===================================
    =            Image Block            =
    ===================================*/

        div.imageblock{
            position      : relative;
            margin-top    : 0.5%;
            margin-bottom : 0.5%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{
            display  : table;
            margin   : 5% auto;
            position : relative;
            padding  : 1%;
            width    : 35%;
            cursor: pointer;
        }

        div.imageblock label{
           position : absolute;
        }

        img.twoimgtogether{
            position : relative;
            margin-top: 8%;
            display  : inline-block;
            width    : 25%;
            cursor: pointer;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+2){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }
    /*=====  End of Image Block  ======*/


    /*====================================
    =            usageslowreveal Block =
    ====================================*/

        div.layoutusageslowreveal,
        div.usageslowrevealblock{
            position : relative;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        .usageheading{
            position         : relative;
            top              : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
        }

    /*-----  End of usageslowreveal Block  ------*/

    /*==========================================
    =            Card Content Block            =
    ==========================================*/
        div[class^='card_block']{
            position           : relative;
            margin             : 1% 0%;
            left               : 1%;
            width              : 98%;
            padding            : 1.5% 0%;
            background-color   : white;
            text-align         : left;
            box-shadow         : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
            -moz-box-shadow    : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
            -webkit-box-shadow : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
        }

        div[class^='card_block']:nth-of-type(n+2){
            opacity                  : 0;
            transition               : opacity 0.5s ease-out;
            -moz-transition          : opacity 0.5s ease-out;
            -webkit-transition       : opacity 0.5s ease-out;
        }

        div[class^='card_block'][data-hasimage='true']{
            min-height: 30%;
        }

        div[class^='card_block'] div.content_wrapper_card_block{
            position : relative;
            width    : 100%;
        }

        div[class^='card_block'][data-hasimage='true'] div.content_wrapper_card_block{
            position : relative;
            width    : 70%;
        }

        div[class^='card_block'] .card_title{
            position      : relative;
            padding       : 0% 2%;
            border-bottom : 1px solid rgb(236, 236, 236);
            font-weight   : bold;
            font-size     : 1.3em;
        }

        div[class^='card_block'] .card_content_text{
            position : relative;
            padding  : 1% 2% 0% 2%;
        }

        div[class^='card_block'] .card_content_image{
            position : absolute;
            top:2%;
            right:3%;
            width:20%;
        }

        .nextusageBtn{
            position: absolute;
            bottom:0%;
            right:0%;
            width: 7%;
            height: 10%;
        }

    /*=====  End of Card Content Block  ======*/

    /*============================================
    =            Time to think Block            =
    ============================================*/

        div.timeToThink{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

        div.timeToThink > figure{
            position : absolute;
            top      : 10%;
            width    : 50%;
            left     : 5%;
        }

        div.timeToThink > figure > img{
            position : relative;
            width    : 100%;
        }

        div.timeToThink > figure > figcaption{
            display    : table;
            position   : relative;
            margin-top : -17%;
            left       : 40%;
            width      : 55%;
            font-size  : 1.5em;
            color      : rgb(201, 136, 116);
        }

        div.timeToThink > p{
            position   : relative;
            top        : 50%;
            text-align : left;
            font-size  : 1.4em;
            /* border  : 1px solid red; */
        }

    /*=====  End of Time to think Block  ======*/

    /*=====================================
    =            svg layout            =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 25%;
            left     : 20%;
            width    : 60%;
            height   : 70%;
            /*border   : 1px solid blue;*/
        }
    /*=====  End of svg layout  ======*/

    /*=======================================
    =            Property Layout            =
    =======================================*/
        div.propertylayout{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertyblock{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertylistcontainer{
            position: absolute;
            top: 17.5%;
            left: 2%;
            width: 30%;
            height: 65%;
            border:2px solid rgb(147, 82, 52);
        }

        div.propertylistcontainer h4{
            position: relative;
            color: rgb(255, 255, 255);
            background: rgb(147, 82, 52) none repeat scroll 0% 0%;
            text-align: center;
            padding: 2% 2%;
            font-size: 1em;
        }

        div.propertylistcontainer p{
            position:relative;
            padding: 3% 2%;
            color: rgb(0, 0, 0);
            font-size: 1.1em;
        }

        div.propertylistcontainer p:nth-of-type(n+2){
            margin-top: 20%;
        }

        div.propertylistcontainer p span{
            position: absolute;
            left:0;
            padding: 1% 3%;
            color: rgb(255, 255, 255);
            background-color: rgb(147, 82, 52);
            font-weight: bold;
        }

        div.propertylistcontainer p small{
            position: absolute;
            left: 15%;
            color: rgb(0, 0, 0);
            text-align: left;
        }

        div.propertylayout div.explainpropertycontainer{
            position:absolute;
            left: 35%;
            top:10%;
            height:87%;
            width:65%;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty{
            position:absolute;
            width:100%;
            font-size: 1.3em;
            border-top: 5px solid rgb(255, 146, 7);
        }


        div.propertylayout div.explainpropertycontainer div.mainproperty span{
            position: absolute;
            left:0;
            padding: 2% 2% 0.5%;
            color: rgb(255, 255, 255);
            background-color: rgb(255, 146, 7);
            font-weight: bold;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty p{
            position: absolute;
            padding-top: 1%;
            left: 9%;
            color: rgb(0, 0, 0);
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain{
            position: absolute;
            top:15%;
            left:0%;
            width:100%;
            height:80%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain img{
            position: relative;
            top:0%;
            left:0%;
            width:40%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain p{
            position: relative;
            top:5%;
            left:0%;
            font-size: 1.2em;
            text-align: left;
        }

    /*-----  End of Property Layout  ------*/


    /*=======================================
    =            Property Summary Layout    =
    =======================================*/
        div.propertysummarylayout{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertysummaryblock{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            text-align: center;
        }

        div.propertysummaryblock ul{
            display:inline-block;
            position: relative;
            padding:0 0 3% 0;
            border:2px solid rgb(147, 82, 52);
        }

        div.propertysummaryblock ul div{
            background: rgb(147, 82, 52) none repeat scroll 0% 0%;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 1.3em;
            font-weight: normal;
            padding: 3% 5%;
        }

        div.propertysummaryblock ul li{
            position: relative;
            color: rgb(42, 101, 88);
            padding: 3% 2%;
            width:100%;
        }

        div.propertysummaryblock ul li:nth-of-type(n+2){
            margin-top:5%;
        }

        div.propertysummaryblock ul li span{
            position: absolute;
            /*text-align:left;*/
            padding: 1.5%;
            left:0;
            color: rgb(255, 255, 255);
            background-color: rgb(147, 82, 52);
            font-weight: bold;
        }

        div.propertysummaryblock ul li p{
                position: absolute;
            padding: 1%;
            left: 7%;
            color: rgb(0, 0, 0);
        }
    /*-----  End of Property Summary Layout  ------*/

    /*====================================
    =            Usage Layout            =
    ====================================*/

        div.usagelayout,
        div.usagelayout div.usageblock{
            position: relative;
            top: 0%;
            left: 0%;
            width:100%;
            height:100%;
            /*border:1px solid red;*/
        }

        div.usagelayout .usageheading{
            position: absolute;
            top: 4%;
            left: 5%;
            font-size: 1.5em;
        }

        div.usagelayout p.usagetext{
            position: absolute;
            top:15%;
            left:5%;
            width: 95%;
            font-size: 1.15em;
            padding: 0.5% 0% 0.5% 2%;
            text-align: left;
            border-top: 5px solid rgb(255, 146, 7);
            border-left: 15px solid rgb(255, 146, 7);
            color: rgb(147, 82, 52);
        }

        div.usagelayout div.explainusage{
            position: absolute;
            top:26%;
            left:5%;
            width: 95%;
            height:74%;
            /*border:1px solid red;*/
        }

        div.usagelayout div.explainusage div.explainusageimagecontainer{
            position: absolute;
            top:0%;
            left:0%;
            width: 50%;
            height:100%;
        }

        div.usagelayout div.explainusage div.explainusageimagecontainer img{
            position: absolute;
            width: 60%;

            /* keep the image at the center of its container
               following code shall help you */
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        div.usagelayout div.explainusage .explainusagetext{
            display: table;
            margin: 0px 2%;
            position: absolute;
            left:47%;
            padding: 2%;
            width: 45%;
            font-size: 1.05em;
            text-align: left;
            text-align: justify;
            background-color: rgb(255, 247, 208);
            border: 2px solid rgb(247, 204, 27);
            border-radius: 5px;

            /* keep this block of text always at the vertical center please
                following code shall help you - cheers!*/
            top:50%;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
    /*-----  End of Usage Layout  ------*/

    /*==============================================
    =            Diy Splash Page Block             =
    ==============================================*/

        div.diysplashblock{
            position : relative;
            width    : 100%;
            /*border   : 1px solid red;*/
        }

        div.diysplashblock > figure{
            position : relative;
            display  : table;
            margin   : 0 auto;
            width    : 40%;
            /*border : 1px solid red;*/
        }

        div.diysplashblock > figure > img{
            width: 100%;
        }

        div.diysplashblock > figure > figcaption{
            position    : absolute;
            top         : 12%;
            left        : 3%;
            width       : 90%;
            margin      : 0 auto;
            font-size   : 1.5em;
            color       : #C98865;
            font-weight : bold;
            /*border    : 1px solid red;*/
        }

        div.diysplashblock > p{
            position   : relative;
            color      : black;
            margin-top : 3%;
            font-size  : 1.5em;
            padding    : 0% 2%;
        }

    /*=====  End of Diy Splash Page Block  ======*/

    /*=================================
    =            Diy Block            =
    =================================*/
        div.diyblock{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall{
            position : relative;
            top      : 0%;
            width    : 100%;
            height   : 17%; /* you can change the height according to need */
            /*border   : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 20%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > img{
            position : relative;
            width    : 60%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > figcaption{
            position  : absolute;
            top       : 5%;
            left      : 24%;
            width     : 53%;
            font-size : 0.8em;
            color     : #C98865;

            /*border:1px solid red;*/
        }

        div.diyblock > div.diySmall > p{
            position   : absolute;
            top        : 2%;
            right      : 0%;
            width      : 82%;
            padding    : 1% 1%;
            font-size  : 1.1em;
            text-align : left;

            border           : 2px solid #DB9E36;
            border-radius    : 4px 4px 4px 4px;
            background-color : #FFD34E;
            color            : #BD4932;
        }

        div.diyblock > div.diyworkarea{
            position   : relative;
            margin-top : 1.5%;
            width      : 100%;
            height     : 80%; /* you can change the height according to need */
            /*border     : 1px solid red;*/
        }

    /*=====  End of Diy Block  ======*/

    /*============================================
    =            Definition Block                =
    ============================================*/
        div.definitionblock > img{
            position : relative;
            width    : 50%;
            left     : -20%;
        }

        div.definitionblock > figcaption{
            position   : relative;
            margin-top : -8%;
            left       : -21%;
            font-size  : 2em;
            color      : rgb(201, 136, 116);
        }

        div.definitionblock > p.definitiontextstyle{
            position   : relative;
            text-align : left;
            margin-top : 15%;
            font-size  : 1.5em;
            padding    : 0% 2%;
            /* border  : 1px solid red; */
        }

    /*=====  End of Definition Block  ======*/

/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

/*====================================
=            personal css            =
====================================*/
.timeToThink{
        position : relative;
        top      : 5%;
        left     : 0;
        width    : 40%;
        height: 60%;
    }
.timeToThink_figdata{
            display: table;
            position: relative;
            left: 25%;
            width: 50%;
            font-size: 1.8em;
            color: #C98874;
            bottom: 75%;
        }

.lowerpara{
    position: absolute;
    left: 0;
    margin-top: 45%;
    padding: 1%;
    opacity: 0;
    width: 100%;
    background: #ffecb3;
}

.lowerpara2{
    position: absolute;
    left: 0;
    margin-top: 14%;
    padding: 2%;
    opacity: 0;
    width: 100%;
    background: #ffecb3;
}
.beambalance{
    position: absolute;
    left: 30%;
    margin-top: 5%;
    width: 40%;
    opacity: 0;
}
@keyframes movediv{
    from{
        opacity: 0;
        left: -30%;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@-moz-keyframes movediv{
    from{
        opacity: 0;
        left: -30%;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@-webkit-keyframes movediv{
    from{
        opacity: 0;
        left: -30%;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

.textanim{
    animation: movediv 1s linear 1s 1 forwards;
    -webkit-animation: movediv 1s linear 1s 1 forwards;
    -moz-animation: movediv 1s linear 1s 1 forwards;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-moz-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.cssfadein{
    animation: show 1s linear 1s 1 forwards;
    -webkit-animation: show 1s linear 1s 1 forwards;
    -moz-animation: show 1s linear 1s 1 forwards;
}

.twoimgtogetheranim{
    position : relative;
    margin-top: 8%;
    display  : inline-block;
    width    : 25%;
    padding: 1%;
    opacity: 0;
    left: 0;
}

@keyframes shrink{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
    }
}

@-moz-keyframes shrink{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
    }
}

@-webkit-keyframes shrink{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
    }
}

.shrinkimage{
    animation: shrink 1s linear 0.3s 1 forwards;
    -webkit-animation: shrink 1s linear 0.3s 1 forwards;
    -moz-animation: shrink 1s linear 0.3s 1 forwards;
}

.middlepara{
    position: absolute;
    margin-top: 20%;
    width: 35%;
    background: #D1F2AE;
    border-top-right-radius: 50px;
    padding: 1%;
    opacity: 0;
}

@keyframes movedivagain{
    from{
        opacity: 1;
        left: 0%;
    }
    to{
        opacity: 1;
        left: 20%;
    }
}

@-moz-keyframes movedivagain{
    from{
        opacity:1;
        left: 0%;
    }
    to{
        opacity: 1;
        left: 20%;
    }
}

@-webkit-keyframes movedivagain{
    from{
        opacity: 1;
        left: 0%;
    }
    to{
        opacity: 1;
        left: 20%;
    }
}

.divslideleft{
    animation: movedivagain 1s ease-in 0s 1 forwards;
    -webkit-animation: movedivagain 1s ease-in 0s 1 forwards;
    -moz-animation: movedivagain 1s ease-in 0s 1 forwards;
}
/*=====  End of personal css  ======*/

.simplebg{
	background-image: url('../images/bg2.jpg');
	background-size: 100% 100%;
}

.firsttitle {
    font-size: 7vmin;
    color: #1f1f1f;
    position: absolute;
    width: 100%;
    padding: 1% 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none !important;
}
.title{
	font-size: 4vmin;
	width: 90%;
	padding: 1% 5% 0% 5%;
	margin: 0% 5%;
	height: 10%;
	text-shadow: 1px 1px #5a5a5a;
}

.plant, .animal{
	position: absolute;
	width: 18%;
	border: 4px solid #8AAA2D;
	border-radius: 10px;
}

.clicked{
	/*-webkit-filter: drop-shadow(0px 0px 10px #42f4eb);
	filter: drop-shadow(0px 0px 10px #42f4eb);*/
	-webkit-filter: drop-shadow(0px 1px 2px #000000);
	filter: drop-shadow(0px 1px 2px #000000);
    background-color: #C9DB86!important;
    }

#egg, #bread, #curd, #lentil{
	top: 1.5%;
}

#egg{
	left: 2.5%;
}

#bread{
	left: 27%;
}

#curd{
	left: 52.5%;
}

#lentil{
	left: 77.5%;
}

#fish, #vegetables, #millet{
	top: 34%;
}

#fish{
	left: 15%;
}

#vegetables{
	left: 40%;
}

#millet{
	left: 65%;
}

#maize, #milk, #beaten_rice, #meat{
	top: 66.5%;
}

#maize{
	left: 2.5%;
}

#milk{
	left: 27%;
}

#beaten_rice{
	left: 52.5%;
}

#meat{
	left: 77.5%;
}

.additional_image_block, .additional_image_block03{
	position: absolute !important;
	height: 90%;
	background-color: #FFC64A;
	width: 100%;
	margin: 0!important;
}

.additional_image_block03{
	height: 100%;
}

.additional_image_block02{
	position: absolute !important;
	height: 100%;
	width: 100%;
	border-radius: 8px;
}

.egglabel, .breadlabel, .curdlabel, .lentillabel,
.fishlabel, .vegetableslabel, .milletlabel,
.maizelabel, .milklabel, .beaten_ricelabel,
.meatlabel{
	position: absolute;
	font-weight: initial;
	font-size: 3.56vmin;
	width: 18%;
	z-index: 11;
	cursor:pointer;
}

.egglabel, .breadlabel, .curdlabel, .lentillabel{
	top: 24%;
}

.fishlabel, .vegetableslabel, .milletlabel{
	top: 56.5%;
}

.maizelabel, .milklabel, .beaten_ricelabel, .meatlabel {
	bottom: 5%;
}

.egglabel {
	left: 2.5%
}

.breadlabel {
	left: 27%;
}

.curdlabel {
	left: 52.5%;
}

.lentillabel {
	right: 3.5%;
}

.fishlabel {
	left: 15%;
}

.vegetableslabel {
	left: 40%;
}

.milletlabel {
	right: 16%;
}

.maizelabel {
	left: 2.5%;
}

.milklabel {
	left: 27%;
}

.beaten_ricelabel {
	left: 52.5%;
}

.meatlabel {
	right: 3.5%;
}

.animateanimalfood01{
	-webkit-animation: animfood01 2s linear 1s forwards;
	animation: animfood01 2s linear 1s forwards;
}

@-webkit-keyframes animfood01{
	to{
		top: 23.5%;
		left: 6%;
	}
}

@keyframes animfood01{
	to{
		top: 23.5%;
		left: 6%;
	}
}

.animateanimalfood02{
	-webkit-animation: animfood02 2s linear 1s forwards;
	animation: animfood02 2s linear 1s forwards;
}

@-webkit-keyframes animfood02{
	to{
		top: 23.5%;
		left: 27%;
	}
}

@keyframes animfood02{
	to{
		top: 23.5%;
		left: 27%;
	}
}

.animateanimalfood03{
	-webkit-animation: animfood03 2s linear 1s forwards;
	animation: animfood03 2s linear 1s forwards;
}

@-webkit-keyframes animfood03{
	to{
		top: 47%;
		left: 6%;
	}
}

@keyframes animfood03{
	to{
		top: 47%;
		left: 6%;
	}
}

.animateanimalfood04{
	-webkit-animation: animfood04 2s linear 1s forwards;
	animation: animfood04 2s linear 1s forwards;
}

@-webkit-keyframes animfood04{
	to{
		top: 47%;
		left: 27%;
	}
}

@keyframes animfood04{
	to{
		top: 47%;
		left: 27%;
	}
}

.animateanimalfood05{
	-webkit-animation: animfood05 2s linear 1s forwards;
	animation: animfood05 2s linear 1s forwards;
}

@-webkit-keyframes animfood05{
	to{
		top:  71%;
		left: 6%;
	}
}

@keyframes animfood05{
	to{
		top:  71%;
		left: 6%;
	}
}

.animateplantfood01{
	-webkit-animation: planfood01 2s linear 1s forwards;
	animation: planfood01 2s linear 1s forwards;
}

@-webkit-keyframes planfood01{
	to{
		top: 23.5%;
		left: 54.5%;
	}
}

@keyframes planfood01{
	to{
		top:  23.5%;
		left: 54.5%;
	}
}

.animateplantfood02{
	-webkit-animation: planfood02 2s linear 1s forwards;
	animation: planfood02 2s linear 1s forwards;
}

@-webkit-keyframes planfood02{
	to{
		top:  23.5%;
		left: 75.5%;
	}
}

@keyframes planfood02{
	to{
		top:  23.5%;
		left: 75.5%;
	}
}

.animateplantfood03{
	-webkit-animation: planfood03 2s linear 1s forwards;
	animation: planfood03 2s linear 1s forwards;
}

@-webkit-keyframes planfood03{
	to{
		top:  47%;
		left: 54.5%;
	}
}

@keyframes planfood03{
	to{
		top:  47%;
		left: 54.5%;
	}
}

.animateplantfood04{
	-webkit-animation: planfood04 2s linear 1s forwards;
	animation: planfood04 2s linear 1s forwards;
}

@-webkit-keyframes planfood04{
	to{
		top:  47%;
		left: 75.5%;
	}
}

@keyframes planfood04{
	to{
		top:  47%;
		left: 75.5%;
	}
}

.animateplantfood05{
	-webkit-animation: planfood05 2s linear 1s forwards;
	animation: planfood05 2s linear 1s forwards;
}

@-webkit-keyframes planfood05{
	to{
		top:  71%;
		left: 54.5%;
	}
}

@keyframes planfood05{
	to{
		top:  71%;
		left: 54.5%;
	}
}

.animateplantfood06{
	-webkit-animation: planfood06 2s linear 1s forwards;
	animation: planfood06 2s linear 1s forwards;
}

@-webkit-keyframes planfood06{
	to{
		top:  71%;
		left: 75.5%;
	}
}

@keyframes planfood06{
	to{
		top:  71%;
		left: 75.5%;
	}
}

.fadelabel{
	-webkit-animation: fadeaway 2s linear 1 forwards;
	animation: fadeaway 2s linear 1 forwards;
}

@-webkit-keyframes fadeaway {
	to{
		opacity: 0;
	}
}

@keyframes fadeaway {
	to{
		opacity: 0;
	}
}

.additionallowertextblock{
	width: 100%;
	height: 100%;
	min-height: 10%;
	position: absolute!important;
	bottom: 0%;
	font-size: 3.56vmin;
	opacity: 0;
	background-color: transparent!important;
	-webkit-animation: fadeindiv 1.5s linear forwards;
	animation: fadeindiv 1.5s linear forwards;
}

.additionallowertextblock02{
	width: 100%;
	height: 100%;
	position: absolute!important;
	font-size: 4.5vmin;
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear forwards;
	animation: fadeindiv 1.5s linear forwards;
	background-color: transparent !important;
	color: #1a1a1a !important;
}

.title1{
	position: absolute;
	width: 45.5%;
	bottom: 1%;
	left: 3%;
	background-color: #fcfcfc;
	border-radius: 12px;
	padding-bottom: 52%;
	z-index: 0;
	color: #BC5B2A;
	border: 5px solid #E37A42;
	padding-top: 1%;
}

.additional_image_block > img{
	z-index: 10;
	padding-bottom: 5%;
	background-color: #ffffff;
	cursor: pointer;
}

.additional_image_block03 > img{
	z-index: 10;
	padding-bottom: 5%;
	background-color: #ffffff;
	cursor: pointer;
}

.additional_image_block > img:nth-child(even) {
	border: 4px solid #E17942;
}

.additional_image_block > img:hover{
	transform: scale(1.1);
}

.egglabel:hover ~ #egg{
 	transform: scale(1.1);
}

.breadlabel:hover ~ #bread{
	transform: scale(1.1);
}

.curdlabel:hover ~ #curd{
	transform: scale(1.1);
}

.lentillabel:hover ~ #lentil{
	transform: scale(1.1);
}

.fishlabel:hover ~ #fish{
	transform: scale(1.1);
}

.vegetableslabel:hover ~ #vegetables{
	transform: scale(1.1);
}

.milletlabel:hover ~ #millet{
	transform: scale(1.1);
}

.maizelabel:hover ~ #maize{
	transform: scale(1.1);
}

.milklabel:hover ~ #milk{
	transform: scale(1.1);
}

.beaten_ricelabel:hover ~ #beaten_rice{
	transform: scale(1.1);
}

.meatlabel:hover ~ #meat{
	transform: scale(1.1);
}

.title2{
	position: absolute;
	width: 45.5%;
	bottom: 1%;
	right: 3%;
	background-color: #fcfcfc;
	border-radius: 12px;
	padding-bottom: 52%;
	z-index: 0;
	color: #BC5B2A;
	border: 5px solid #E37A42;
	padding-top: 1%;
}


.ratfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear .5s forwards;
	animation: fadeindiv 1.5s linear .5s forwards;
}

.eaglefadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 1.5s forwards;
	animation: fadeindiv 1.5s linear 1.5s forwards;
}

.elephantfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 2.5s forwards;
	animation: fadeindiv 1.5s linear 2.5s forwards;
}

.snakefadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 3.5s forwards;
	animation: fadeindiv 1.5s linear 3.5s forwards;
}

.chickenfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 4.5s forwards;
	animation: fadeindiv 1.5s linear 4.5s forwards;
}

.dogfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 5.5s forwards;
	animation: fadeindiv 1.5s linear 5.5s forwards;
}

.cowfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 6.5s forwards;
	animation: fadeindiv 1.5s linear 6.5s forwards;
}

.monkeyfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 7.5s forwards;
	animation: fadeindiv 1.5s linear 7.5s forwards;
}

.catfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 8.5s forwards;
	animation: fadeindiv 1.5s linear 8.5s forwards;
}

.frogfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 9.5s forwards;
	animation: fadeindiv 1.5s linear 9.5s forwards;
}

.crocodilefadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 10.5s forwards;
	animation: fadeindiv 1.5s linear 10.5s forwards;
}

.caterpillarfadein{
	opacity: 0;
	-webkit-animation: fadeindiv 1.5s linear 11.5s forwards;
	animation: fadeindiv 1.5s linear 11.5s forwards;
}


@-webkit-keyframes fadeindiv{
	to{
		opacity: 1;
	}
}

@keyframes fadeindiv{
	to{
		opacity: 1;
	}
}

.title8{
	position: absolute;
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title9_1, .title9_2{
	position: absolute;
	width: 60%;
	left: 20%;
}

.title9_1{
	bottom: 51%;
	opacity: 0;
	-webkit-animation: fadeindiv  1.5s linear 12s forwards;
	animation: fadeindiv  1.5s linear 12s forwards;
}

.title9_2{
	top: 50%;
	opacity: 0;
	-webkit-animation: fadeindiv  1.5s linear 13s forwards;
	animation: fadeindiv  1.5s linear 13s forwards;
}

.boy, .dog, .cat, .chicken, .rat, .cow{
	position: absolute;
}

.boy{
	height: 60%;
	top: 20%;
	left: 4%;
	animation: show 1.5s linear 1 forwards;
    -webkit-animation: show 1.5s linear 1 forwards;
    opacity: 0;
}

.dog, .cat, .chicken, .rat, .cow{
	height: 28%;
	opacity: 0;
}

.dog{
  top: 36%;
  left: 34%;
  height: 35%;
  animation: show 1.5s linear 1.5s 1 forwards;
  -webkit-animation: show 1.5s linear 1.5s 1 forwards;
  width: 26%;
}

.cat{
	top: 2%;
	right: 24%;
	animation: show 1.5s linear 3s 1 forwards;
    -webkit-animation: show 1.5s linear 3s 1 forwards;
}

.chicken{
	top: 38%;
	right: 14%;
	animation: show 1.5s linear 6s 1 forwards;
    -webkit-animation: show 1.5s linear 6s 1 forwards;
}

.rat{
  top: 2%;
  left: 74%;
  animation: show 1.5s linear 4.5s 1 forwards;
  -webkit-animation: show 1.5s linear 4.5s 1 forwards;
  width: 23%;
}

.cow{
	top: 70%;
	right: 5%;
	animation: show 1.5s linear 7.5s 1 forwards;
    -webkit-animation: show 1.5s linear 7.5s 1 forwards;
}


.title3_a, .title3, .title4, .title5, .title6, .title7{
	position: absolute;
	width: 32%;
	opacity: 0;
}

.title3_a{
	left: 1%;
	top: 11%;
	animation: show 1.5s linear 1 forwards;
    -webkit-animation: show 1.5s linear 1 forwards;
    width: 40%;
}

.title3{
	left: 30%;
	top: 72%;
	animation: show 1.5s linear 1.5s 1 forwards;
    -webkit-animation: show 1.5s linear 1.5s 1 forwards;
}

.title4{
	left: 53.8%;
	top: 31%;
	width: 16%;
	animation: show 1.5s linear 3s 1 forwards;
    -webkit-animation: show 1.5s linear 3s 1 forwards;
}

.title5{
	right: 5%;
	top: 55%;
	width: 15%;
	animation: show 1.5s linear 6s 1 forwards;
    -webkit-animation: show 1.5s linear 6s 1 forwards;
}

.title6{
	right: 10%;
	top: 31%;
	width: 15%;
	animation: show 1.5s linear 4.5s 1 forwards;
    -webkit-animation: show 1.5s linear 4.5s 1 forwards;
}

.title7{
	bottom: 10%;
	left: 57%;
	width: 15%;
	animation: show 1.5s linear 7.5s 1 forwards;
    -webkit-animation: show 1.5s linear 7.5s 1 forwards;
}

.omnivore, .carnivore, .herbivore{
	width: 20%;
	position: absolute;
}

#rat, #eagle, #elephant, #snake, #chicken{
	top: 3%;
}

#rat{
	left: 5%;
}

#eagle{
	left: 23%;
}

#elephant{
	left: 41%;
}

#snake{
	left: 59%;
}

#chicken{
	left: 77%;
}

#cow, #monkey, #cat, #frog, #crocodile{
	bottom: 5%;
}

#cow{
	left: 77%;
}

#monkey{
	left: 63%;
	width: 12%;
}

#cat{
	left: 41%;
}

#frog{
	left: 23%;
}

#crocodile{
	left: 5%;
}

#dog, #caterpillar{
	top: 29%;
	width: 15%;
}

#dog{
	left: 78%;
}

#caterpillar{
	left: 5%;
}

.slightlyhidden{
	-webkit-animation: slightlyhide 1.5s linear 1 forwards;
	animation: slightlyhide 1.5s linear 1 forwards;
}

@-webkit-keyframes slightlyhide{
	from{
		transform: scale(1);
		opacity: 1;
		}
	to{
		transform: scale(0.6);
        opacity: 0.2;
        filter: grayscale(90%);
	}
}

@keyframes slightlyhide{
	from{
		transform: scale(1);
		opacity: 1;
		}
	to{
		transform: scale(0.6);
        opacity: 0.2;
        filter: grayscale(90%);
	}
}


.slightlymagnify{
	opacity: 1;
	 transform: scale(1.1);
     -webkit-animation: scaleanimation 1.5s linear forwards;
     animation: scaleanimation 1.5s linear forwards;
}

@-webkit-keyframes scaleanimation{
	from{
		transform: scale(0.9);
		}
	to{
		transform: scale(1.1);
	}
}

@keyframes scaleanimation{
	from{
		transform: scale(0.9);
		}
	to{
		transform: scale(1.1);
	}
}
.frogspritecontainer {
    width: 54%;
    height: 53%;
    top: 3%;
    left: 25%;
    background-image: url("../images/frog_eating_sprite.png");
    background-size: 1300% 100%;
    background-position: 0% 0%;
    -webkit-animation: animatefrogsprite 1.7s steps(13) infinite;
    animation: animatefrogsprite 1.7s steps(13) infinite;
}

@keyframes animatefrogsprite{
    to{
        background-position: -1300% 0%;
    }
}

@-webkit-keyframes animatefrogsprite{
    to{
        background-position: -1300% 0%;
    }
}
.firstbackground{
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.avoid-clicks {
    pointer-events: none;
}

#dog{
  top: 42%;
}

.wid{
  width: 20%;

height: 18%;

top: 10%;

left: 75%;
}
