.activity_container {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.activity_container .nextBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	right     : 0%;
	width     : 7%;
	height    : 10%;	
}

.activity_container .prevBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	left      : 0%;
	width     : 7%;
	height    : 10%;	
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
    	position          : relative;	
    	top               : 45%;
    	left              : 50%;
    	transform         : translate(-50%, -50%);
    	-moz-transform    : translate(-50%, -50%);
    	-webkit-transform : translate(-50%, -50%);
    	text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/
        
        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }
        
    /*=====  End of HeaderBlock  ======*/
    
    /*====================================
    =            ContentBlock            =
    ====================================*/
        
        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        } 

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/
        
        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238); 
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;            
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
    
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 7px;
        
            background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }
        
    /*=====  End of InstructionBlock  ======*/
        
        
    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            border-radius: 8px;
           
            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;
            
            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.textalignleft{
            text-align: left;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        p.paperstacktextstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.paperstacktextstyle:after{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;
            
            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        p.paperstacktextstyle:before{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;
            
            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        span.royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        span.orangehighlight{
            color : rgb(197,6,6);
        }


    /*=====  End of Text Block  ======*/

    /*=====================================
    =            svg block                =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 11%;
            left     : 11%;
            width    : 80%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer > svg{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

    /*=====  End of svg block  ======*/
    
    /*===================================
    =            Image Block            =
    ===================================*/
    
        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{ 
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;          
            width    : 40%;
        }   

        div.imageblock label{
           position : absolute;
        } 

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }    

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+2){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }        
    /*=====  End of Image Block  ======*/

    /*============================================
    =            Definition layout               =
    ============================================*/
        div.definitionblock > img{
            position : relative;
            width    : 50%;
            left     : -20%;
        }

        div.definitionblock > figcaption{
            position   : relative;
            margin-top : -8%;
            left       : -21%;
            font-size  : 2em;
            color      : rgb(201, 136, 116);
        }

        div.definitionblock > p.definitiontextstyle{
            position   : relative;
            text-align : left;
            margin-top : 15%;
            font-size  : 1.5em;
            padding    : 0% 2%;
            /* border  : 1px solid red; */
        }

    /*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/

    div.textblock.slide4lowertextblockadditionalstyle{
        display          : table;
        margin           : 0 auto;
        padding          : 1% 3%;
        width            : 85%;
        font-size        : 1.2em;
        text-align       : left;
        background-color : #FFF6DC;
        line-height      : 200%;
       
        -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    }
    
    /* subslide block */
    div.subslideblock{
        position : relative;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
    }

    div.subslideblock div[class*=Btn]{
        position : absolute;
        bottom   : 0%;
        width    : 7%;
        height   : 10%;
    }

    div.subslideblock div.subslidenextBtn{
        right : 0%;
    }

    div.subslideblock div.subslideprevBtn{
        display : none;
        left    : 0%;
    }

    div.subslideblock p.subslideheadertextstyle{
        position         : relative;
        top              : 0;
        left             : 0;
        width            : 100%;
        padding          : 1% 2%;
        font-size        : 1.3em;
        font-weight      : bold;
        color            : rgb(238, 110, 115);
        background-color : rgb(252, 252, 252);
        text-align       : center;
    }

    div.subslideblock img{
        display          : table;
        margin           : 0 auto;
        position         : relative;
        padding          : 1%;
        margin-top       : 4%;
        margin-bottom    : 4%;
        height           : 40%;
        background-color : #FEF8DC;
    }

    div.subslideblock img.naclstyle{
        width : 80%;
    }

    div.subslideblock p.subslidetextstyle{
            display          : table;
            margin           : 0% auto;
            position         : relative;
            padding          : 1% 2%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;

             background-image: -webkit-linear-gradient(90deg, rgb(255, 247, 208) 50%, rgb(255, 247, 208) 50%);
            background-image:    -moz-linear-gradient(90deg, rgb(255, 247, 208) 50%, rgb(255, 247, 208) 50%);
            background-image:     -ms-linear-gradient(90deg, rgb(255, 247, 208) 50%, rgb(255, 247, 208) 50%);
            background-image:      -o-linear-gradient(90deg, rgb(255, 247, 208) 50%, rgb(255, 247, 208) 50%);
            background-image:         linear-gradient(90deg, rgb(255, 247, 208) 50%, rgb(255, 247, 208) 50%);
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;  
        }

/*=====  End of Custom Style  ======*/

/*personal css*/
.headingstyle{
    position: absolute;
    margin-top: 1%;
    width: 100%;
    left: 0;
    color: #93298E;
    font-size: 1.3em;
}
.svgimg{
    position: absolute;
    margin-top: 8%;
    width: 70%;
    left: 15%;
}
.csspositionfix{
    position: absolute !important;
    color: #963094 !important;
    font-size: 1.3em !important;
}

.headingstyle2{
    position: absolute;
    margin-top: 12%;
    width: 70%;
    font-size: 1.2em;
    opacity: 0;
    left: 17%;
}

#babay, #egg, #sperm, #zygote, #dottbaby{
    opacity: 0;
}

@keyframes spermmove {
    from{
        transform: translateX(0);
    }
    to { 
        opacity: 1;
       -moz-transform: translateX(-380px);
    }
}

@-moz-keyframes spermmove {
    from{
        transform: translateX(0);
    }
    to { 
        opacity: 1;
       -moz-transform: translateX(-380px);
    }
}

@-webkit-keyframes spermmove {
    from{
        transform: translateX(0);
    }
    to {
        opacity: 1;
       -moz-transform: translateX(-380px);
    }
}

.cssspermmove{
    animation: spermmove 2.8s linear 6s 1 forwards;
    -webkit-animation: spermmove 2.8s linear 6s 1 forwards;
    -moz-animation: spermmove 2.8s linear 6s 1 forwards;
}

@keyframes eggmove {
    from{
        transform: translateX(0);
    }
    to {
        opacity: 1;
       -moz-transform: translateX(370px);
    }
}

@-moz-keyframes eggmove {
    from{
        transform: translateX(0);
    }
    to {
        opacity: 1;
       -moz-transform: translateX(370px);
    }
}

@-webkit-keyframes eggmove {
    from{
        transform: translateX(0);
    }
    to {
        opacity: 1;
       -moz-transform: translateX(370px);
    }
}

.csseggmove{
    animation: eggmove 2.8s ease-in 6s 1 forwards;
    -webkit-animation: eggmove 2.8s ease-in 6s 1 forwards;
    -moz-animation: eggmove 2.8s ease-in 6s 1 forwards;
}

@keyframes fadein {
    0%{
        opacity: 0;
       
    }
    100% { 
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% { 
        opacity: 1; 
    }
}

@-webkit-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

.cssfadein{
    animation: fadein 2s linear 0.3s 1 forwards;
    -webkit-animation: fadein 2s linear 0.3s 1 forwards;
    -moz-animation: fadein 2s linear 0.3s 1 forwards;
}

.cssfadein2{
    animation: fadein 2s linear 1.3s 1 forwards;
    -webkit-animation: fadein 2s linear 1.3s 1 forwards;
    -moz-animation: fadein 2s linear 1.3s 1 forwards;
}

.cssfadein3{
    animation: fadein 1s linear 9s 1 forwards;
    -webkit-animation: fadein 1s linear 9s 1 forwards;
    -moz-animation: fadein 1s linear 9s 1 forwards;
}

.cssfadein4{
    animation: fadein 1s linear 4s 1 forwards;
    -webkit-animation: fadein 1s linear 4s 1 forwards;
    -moz-animation: fadein 1s linear 4s 1 forwards;
}

.babyshow{
    animation: fadein 1s linear 9.3s 1 forwards;
    -webkit-animation: fadein 1s linear 9.3s 1 forwards;
    -moz-animation: fadein 1s linear 9.3s 1 forwards;
}

@keyframes fadeout {
    0%{
        opacity: 1;
       
    }
    100% { 
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    0%{
        opacity: 1;
       
    }
    100% { 
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    0%{
        opacity: 1;
       
    }
    100% { 
        opacity: 0;
    }
}

.cssfadeout{
    animation: fadeout 1s linear 2.3s 1 forwards;
    -webkit-animation: fadeout 1s linear 2.3s 1 forwards;
    -moz-animation: fadeout 1s linear 2.3s 1 forwards;
}

.headingstyle{
    position: absolute;
}

.bigfont{
    color: #E12069;
    font-size: 1.4em;
}

.type1{
    position: absolute;
    margin-top: 10%;
    width: 50%;
    left: 4%;
    /*border-radius: 50%;*/
    padding: 8%;
    opacity: 0;
}

.type2{
    position: absolute;
    margin-top: 6%;
    width: 42%;
    right: 5%;
    padding: 5%;
    /*border-radius: 50%;*/
    opacity: 0;
}

.typelabel1{
    margin-top: 45%;
    left: 17%;
    width: 25%;
    opacity: 0;
    font-size: 1.2em;
    color: #0088AF;
}

.typelabel2{
    margin-top: 45%;
    right: 14%;
    width: 24%;
    color: #0088AF;
    font-size: 1.2em;
    opacity: 0;
}

.title{
    position: absolute;
    left: 0;
    font-size: 1.3em;
    font-weight: bold;
    width: 30%;
    color: #fff;
    background:#E4638A; 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1%;
    margin-top: 0.5%;
    z-index: 9999;
}
.para1{
    position: absolute;
    margin-top: -1%;
    left: 0%;
    width: 100%;
    background: #DDF6E0;
    padding: 4%;
    opacity: 0;
    text-align: right;
}

.paratxt{
    position: absolute;
    margin-top: 0%;
    font-size: 1.2em;
    width: 70%;
    left: 30%;
}

.bluebackground{
    background:#0eb8f1;
}

.para1_1{
    position: absolute;
    margin-top: 11%;
    width: 100%;
    font-size: 1.2em;
    color: #000;
    opacity: 0;
}
.para_1{
    position: absolute;
    margin-top: -1%;
    left: 0%;
    font-size: 1.3em;
    width: 100%;
    background: #DDF6E0;
    padding: 3%;
    opacity: 0;
}
.para_1txt{
    position: absolute;
    margin-top: 0%;
    font-size: 1.2em;
    width: 70%;
    left: 30%;
}
@-webkit-keyframes borderanim {
    0%{
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    50%{
        border-bottom: 2px solid #000;
        border-right: 2px solid #E4638A;
    }
    100%{
        border-bottom: 2px solid #000;
        border-right: 2px solid #E4638A;
    }
}

@-moz-keyframes borderanim {
    0%{
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    50%{
        border-bottom: 2px solid #000;
        border-right: 2px solid #E4638A;
    }
    100%{
        border-bottom: 2px solid #000;
        border-right: 2px solid #E4638A;
    }
}

@keyframes borderanim {
    0%{
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    50%{
        border-right: 2px solid #E4638A;
    }
    100%{
        border-right: 2px solid #E4638A;
    }
}

.cssborderanim{
    animation: borderanim 1s linear 0.3s 1 forwards;
    -moz-animation: borderanim 1s linear 0.3s 1 forwards;
    -webkit-animation: borderanim 1s linear 0.3s 1 forwards;
}

.svgimg1{
    position: absolute;
    margin-top: 10%;
    width: 90%;
    right: 5%;
}

.svgimg2{
    position: absolute;
    margin-top: 7%;
    width: 65%;
    left: 20%;
}

.middleimage{
    position: absolute;
    margin-top: 15%;
    left: 30%;
    width: 40%;
    opacity: 0;
}

.imgwitharrow{
    position: absolute;
    margin-top: 23%;
    left: 22%;
    width: 20%;
    display: none;
}

.imgwitharrow2{
    position: absolute;
    margin-top: 19%;
    left: 70%;
    width: 20%;
    display: none;
}

.label1{
    margin-top: 28%;
    left: 12%;
    font-size: 1.3em;
    width: 10%;
    background: #D1F2AE;
    padding: 1%;
    opacity: 0;
    -webkit-box-shadow: 0px 3px 3px 0px #ccc;
    -moz-box-shadow: 0px 3px 3px 0px #ccc;
    box-shadow: 0px 3px 3px 0px #ccc;
    cursor: pointer;
}

.label2{
    margin-top: 28%;
    left: 60%;
    font-size: 1.3em;
    width: 9%;
    background: #D1F2AE;
    padding: 1%;
    opacity: 0;
    -webkit-box-shadow: 0px 3px 3px 0px #ccc;
    -moz-box-shadow: 0px 3px 3px 0px #ccc;
    box-shadow: 0px 3px 3px 0px #ccc;
    cursor: pointer;
}

.removebackground{
    background: #fff !important;
    box-shadow: none !important;
}

.para2{
    position: absolute;
    margin-top: 12%;
    left: 0%;
    width: 100%;
    font-size: 1.2em;
    opacity: 0;
}

.arrowbox {
    position: absolute;
    background: #F1F1F1 none repeat scroll 0% 0%;
    border: 5px solid #DDD;
    margin-top: 37%;
    width: 25%;
    left: 5%;
    opacity: 0;
    padding: 1%;
}
.arrowbox:after, .arrowbox:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrowbox:after {
    border-color: rgba(241, 241, 241, 0);
    border-bottom-color: #f1f1f1;
    border-width: 20px;
    margin-left: -20px;
}
.arrowbox:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #DDDDDD;
    border-width: 27px;
    margin-left: -27px;
}

.arrowbox2 {
    position: absolute;
    background: #F1F1F1 none repeat scroll 0% 0%;
    border: 5px solid #DDD;
    margin-top: 37%;
    width: 25%;
    left: 51%;
    padding: 1%;
    opacity: 0;
}
.arrowbox2:after, .arrowbox2:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrowbox2:after {
    border-color: rgba(241, 241, 241, 0);
    border-bottom-color: #f1f1f1;
    border-width: 20px;
    margin-left: -20px;
}
.arrowbox2:before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: #DDDDDD;
    border-width: 27px;
    margin-left: -27px;
}

.lowerpara{
    position: absolute;
    margin-top: 44%;
    width: 40%;
    right: 0;
    background:#FFE38F;
    padding: 1%;
    font-size: 1.1em;
    opacity: 0;
    border-radius: 8px;
}

.lowerpara2{
    position: absolute;
    margin-top: 44%;
    width: 40%;
    left: 0;
    background:#FFE38F;
    padding: 1%;
    font-size: 1.1em;
    border-radius: 8px;
    opacity: 0;
}

.csscorrect{
    padding: 1% !important;
    position: absolute !important;
    margin-top: 1% !important;
}

.clickme1{
    position: absolute;
    margin-top: 32%;
    width: 4%;
    left: 20%;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
}

.clickme2{
    position: absolute;
    margin-top: 32%;
    width: 4%;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    left: 67%;
}