/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#int9
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
background-image: url("../bg.png");}

/*for all elements make sure that it does not inherit margin and padding*/
#int9 *{
	margin:0;
	padding:0;	
}
/*------------------------------------------------------------------------------------------*/

#nxtEx,#prevEx{
	-webkit-animation-duration: 5s;
  	-moz-animation-duration: 5s;
   	animation-duration: 5s;
}

#ex1nxt, #ex2nxt{
	-webkit-animation-duration: 3s;
  	-moz-animation-duration: 3s;
   	animation-duration: 3s;
}


/*------------------------------------------------------------------------------------------*/
/*topic*/
#int9Topic{
	position: absolute;
	top:2%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	font-weight: bolder;
	color:#D93537;
	border-bottom:0.2em solid rgba(217, 53, 55,0.6);
}


/*next example*/
#nxtEx, #prevEx{
	display: none;
	position: absolute;
	bottom:1%;
	width: 6%;
	height: 10%;	
	cursor: pointer;
}

#nxtEx{
	right:1%;
}

#prevEx{
	left:1%;
}

/*multiplication example 1*/
#divEx1, #divEx2{
	position:absolute;
	top:20%;
	left:10%;
	width:80%;
	height:70%;
	/*border:1px solid green;*/
}

#divEx2{
	display: none;
}

#divEx1 > em > span:nth-of-type(5){
	color: rgb(220,10,10);
}

#divEx1 > em > span:nth-of-type(7){
	color: rgb(1,10,180);
}

/*question*/
#ex1Q, #ex2Q{
	position: absolute;
	top:0%;
	width:100%;
	text-align: center;
	font-size: 3em;
	color:rgb(180,70,10);
}

/*list for example*/
#ex1List, #ex2List{
	position: absolute;
	top: 30%;
	left:20%;
	width:80%;
	font-size: 1.3em;
}

#ex1List > li:nth-of-type(n+2), #ex2List > li:nth-of-type(n+2){
	display: none;
}

#ex1List > li:nth-of-type(1), #ex2List > li:nth-of-type(1){
	color:rgb(10,10,150);
}

#ex1List > li:nth-of-type(2), #ex2List > li:nth-of-type(2){
	color:rgb(10,150,10);
}


/*common statement in all*/
#ex1St, #ex2St{
	display: none;
	position: absolute;
	top:40%;
	left:20%;
	width:60%;
	font-size: 1.3em;
	color: rgb(130,80,50);
}

/*numberline image*/
#ex1numLine, #ex2numLine{
	display: none;
	position: absolute;
	top:60%;
	left:5%;
	width:90%;
}

/*next step*/
#ex1nxt, #ex2nxt{
	position: absolute;
	top:60%;
	right:-5%;
	width: 6%;
	height: 15%;
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#ex1nxt:hover, #ex2nxt:hover{
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}