.bg_full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.top_text {
    position: absolute;
    font-size: 2.4vw;
    font-family: andika;
    background: #7B74D4;
		color: white;
    width: 100%;
    padding: 1%;
		top:0;
}

.blue_bg{
	background: #CFE2F3;
}
.top_bottom {
    position: absolute;
    background: white;
    padding: 1%;
    border-radius: .2vmin;
    font-size: 1.5vw;
    transform: translateX(-50%);
    left: 50%;
    top: 13%;
}

.text-1, .text-2, .text-3, .text-4, .text-5 {
    position: absolute;
    font-size: 2vw;
    font-family: andika;
}
.text-1 {
    top: 25%;
    left: 23%;
}
.text-2 {
    top: 25%;
    left: 39%;
    width: 35%;
}
.text-3 {
    top: 45%;
    left: 39%;
    width: 26%;
}
.text-4 {
    top: 68%;
    left: 39%;
    width: 26%;
}
.text-5 {
    top: 77%;
    left: 67%;
    width: 26%;
}
.first_input, .second_input, .third_input, .fourth_input, .fifth_input, .sixth_input, .seventh_input, .eight_input, .ninth_input {
    width: 19%;
		font-size: 1.8vw;
		text-align: center;
}
.eql-1, .eql-2, .eql-3, .eql-4 {
    position: absolute;
    width: 4%;
    z-index: 2;
    top: 32%;
    left: 35%;
}
.eql-2{
	top:55%;
}
.eql-3{
	top:78%;
}
.eql-4{
	top:78%;
	left: 71%;
}
.check-1, .check-2, .check-3, .check-4 {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    background: #3C78D8;
    border: .5vmin solid #1155CC;
    border-radius: 1.5vmin;
    padding: 1%;
    color: white;
    cursor: pointer;
    left: 76%;
    top: 28%;
}
.check-1:hover, .check-2:hover, .check-3:hover, .check-4:hover {
	transform: scale(1.1);
	transition: .2s;
}
.check-2{
	top: 51%;
}
.check-3{
	top: 74%;
}
.check-4{
	left: 87%;
	top: 75%;
}
.tryagain-1, .tryagain-2, .tryagain-3, .tryagain-4 {
    position: absolute;
    font-family: sniglet;
    font-size: 1.5vw;
    background: #FCB2C1;
    border: .5vmin solid #FC5C9C;
    border-radius: 1.5vmin;
    padding: 1%;
    color: white;
    cursor: pointer;
    left: 72%;
    top: 28%;
}
.tryagain-1:hover, .tryagain-2:hover, .tryagain-3:hover, .tryagain-4:hover {
	transform: scale(1.1);
	transition: .2s;
}
.tryagain-2{
	top: 51%;
}
.tryagain-3{
	top: 74%;
}
.tryagain-4{
	left: 87%;
	top: 75%;
}
.right{
	background: #98C02E;
	pointer-events: none;
}
.wrong{
	background: #FF0000;
	pointer-events: none;
}
.righticon-1, .righticon-2, .righticon-3, .righticon-4 {
    position: absolute;
    width: 5%;
    top: 28%;
    left: 74%;
}
.righticon-2{
	top:48%;
}
.righticon-3{
	top:72%;
    left:66%;
}
.righticon-4{
	top: 73%;
	left: 85%;
}
.diytext {
    position: absolute;
    font-size: 3.5vw;
    font-family: andika;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
		z-index: 9;
}

@media (min-aspect-ratio:4/3){
	.top_text{
		font-size: 5vmin;;
	}
	.top_bottom,.text-1, .text-2, .text-3, .text-4, .text-5,.check-1, .check-2, .check-3, .check-4 {
		font-size: 4vmin;
	}
	.first_input, .second_input, .third_input, .fourth_input, .fifth_input, .sixth_input, .seventh_input, .eight_input, .ninth_input {
		font-size: 3.8vmin;
	}
	.tryagain-1, .tryagain-2, .tryagain-3, .tryagain-4{
		font-size: 3.2vmin;
	}
	.diytext{
		font-size: 8vmin;
	}

}
