.bg_full{
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
}
.diytext {
    position: absolute;
    font-size: 3vw;
    font-family: andika;
    z-index: 2;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.purple_bg{
  background: #beb9b5;
}
.top_text {
    position: absolute;
    font-family: sniglet;
    background: #96c0ce;
    font-size: 2vw;
    padding: 1%;
    top: 0;
    left: 0;
    width: 100%;
}
.top_1 {
    position: absolute;
    font-size: 2vw;
    font-family: andika;
    top: 30%;
    left: 37%;
    transform: translate(-50%,-50%);
}
.input_m {
    position: absolute;
    width: 6%;
    z-index: 2;
    top: 30%;
    left: 52%;
    font-size: 2vw;
    text-align: center;
    align-content: center;
    transform: translate(-50%,-50%);
}
.bot_1 {

    position: absolute;
    font-size: 2vw;
    font-family: andika;
    top: 73%;
    transform: translate(-50%,-50%);
    left: 29%;

}
.mid_question {

    position: absolute;
    font-size: 2vw;
    font-family: andika;
    background: #c25b56;
    color: white;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
    top: 52%;
    padding: 1%;

}

.check_class {

    position: absolute;
    font-size: 2vw;
    font-family: andika;
    background: #79b3c7;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    border: .5vmin solid #a7d6e6;
    cursor: pointer;
    top: 84%;
    transform: translateX(-50%);
    left: 50%;

}

.check_class1 {
    position: absolute;
    font-size: 2vw;
    font-family: andika;
    background: #79b3c7;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    border: .5vmin solid #a7d6e6;
    cursor: pointer;
    top: 25%;
    transform: translateX(-50%);
    left: 80%;
}

.top_pencil {

    position: absolute;
    font-size: 2vw;
    font-family: andika;
    top: 73%;
    left: 55%;
    transform: translate(-50%,-50%);

}

.total_pencils {
    position: absolute;
    font-size: 2vw;
    font-family: andika;
    text-align: center;
    align-content: center;
    width: 6%;
    top: 73%;
    transform: translate(-50%,-50%);
    left: 63%;
}

.total_text {
    position: absolute;
    font-size: 2vw;
    font-family: andika;
    transform: translate(-50%,-50%);
    top: 73%;
    left: 72%;
}
.total {
    background: white;
    border-radius: .5vmin;
    border: .3vmin solid #f37a7a;
}
.check_class:hover ,.check_class1:hover{
  transform: translateX(-50%) scale(1.1);
  transition: .2s;
}
.focus{
  animation:in_out 1s ease-in-out infinite;
}
@keyframes in_out {
  0%{
    transform: translate(-50%,-50%) scale(1);
  }
  50%{
    transform: translate(-50%,-50%) scale(1.15);
  }
  100%{
    transform: translate(-50%,-50%) scale(1);
  }
}

.top_2 {
    transform: translate(-50%,-50%);
    font-family: andika;
    font-size: 2vw;
    position: absolute;
    top: 30%;
    left: 59%;
}
@media (min-aspect-ratio:4/3){

  .diytext{
    font-size: 8vmin;
  }
  .bot_1,.mid_question,.check_class{
    font-size: 5vmin;
  }
  .top_1,.input_m,.top_pencil,.total_pencils,.total_text,.top_2{
    font-size: 4vmin;
  }
  .top_text{
      font-size: 4.5vmin;
  }


}
