.purple_bg{
  background: #B7779F;
}
.top_text {
    position: absolute;
    font-family: andika;
    font-size: 3vw;
    color: white;
    padding: 2%;
    width: 100%;
    top: 10%;
}
.bot_text {
    position: absolute;
    font-family: andika;
    font-size: 3vw;
    color: white;
    padding: 2%;
    width: 100%;
    top: 60%;
}
.center_image {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 56%;
    width: 35%;
}
.fadesin{
  animation: fadein 1s ease-in forwards;
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.input-1 {
    position: absolute;
    width: 7%;
    font-size: 2vw;
    top: 33%;
    left: 39%;
}
.submit_button {
    position: absolute;
    font-size: 2vw;
    background: #FFCD53;
    border: .5vmin solid #B45F06;
    padding: 1%;
    border-radius: 1vmin;
    left: 50%;
    top: 31%;
    box-shadow: .2vmin .2vmin .8vmin rgb(0, 0, 0,.6);
    cursor: pointer;
    font-family: andika;
}
.submit_button:hover{
  transform: scale(1.1);
  transition: .2s;
}
.instrunction_mid {
    position: absolute;
    font-family: andika;
    font-size: 2vw;
    background: #A6E4E7;
    width: 100%;
    padding: 1%;
    top: 61%;
    left: 0;
}
.option1, .option2, .option3 {
    position: absolute;
    transform: translateX(-50%);
    left: 25%;
    background: #3C78D8;
    color: white;
    padding: 1%;
    font-size: 4vh;
    font-family: andika;
    border-radius: 1vmin;
    top: 85%;
    cursor: pointer;
    border:.5vmin solid #3C78D8;
}
.option1:hover, .option2:hover, .option3:hover {
  transform: translateX(-50%) scale(1.1);
  transition: .3s;
  background: #FFE599;
  color: black;
  border-color: #F1C232;
}
.option2{
  left: 50%;

}

.option3{
  left: 75%;
}
.top_change{
  top:27%;
}
.left_change1{
  top:27%;
  left: 25%;
}
.left_change2{
  top:27%;
  left: 75%;
}
.answer_block {
    position: absolute;
    font-size: 2vw;
    background: #FFFFFF;
    width: 15%;
    border: .5vmin solid #434343;
    border-radius: 1vmin;
    transform: translateX(-50%);
    left: 50%;
    top: 49%;
    font-family: andika;
}
.left_block{
  position: absolute;
font-size: 2vw;
background: #FFFFFF;
width: 15%;
border: .5vmin solid #434343;
border-radius: 1vmin;
transform: translateX(-50%);
left: 25%;
top: 49%;
font-family: andika;
}
.right_block{
  left: 75%;
}

.i1, .i2, .i3 {
    position: absolute;
    width: 20%;
    transform: translateX(-50%);
    left: 25%;
    top: 30%;
}
.i2{
  left: 50%;
}
.i3{
  left: 75%;
}

.left_block1,.mid_block1,.right_block1 {
    position: absolute;
    font-size: 2vw;
    background: #FFFFFF;
    width: 20%;
    border: .5vmin solid #434343;
    border-radius: 1vmin;
    transform: translateX(-50%);
    left: 25%;
    top: 49%;
    font-family: andika;
}
.mid_block1{
  left: 50%;
}

.right_block1{
  left: 75%;
}
@media (min-aspect-ratio:4/3){
	.top_text {
		font-size: 7vmin;
	}
  .input-1,.submit_button,.instrunction_mid,.answer_block,.left_block,.left_block1,.mid_block1,.right_block1 {
    font-size: 4vh;
  }
  .bot_text{
    font-size: 6vmin;
  }
  .input-1:lang(np) ,.submit_button:lang(np) ,.instrunction_mid:lang(np) ,.answer_block:lang(np) ,.left_block:lang(np) ,.left_block1:lang(np) ,.mid_block1:lang(np) ,.right_block1:lang(np)  {
    font-size: 3.7vmin;
  }


}
