.area {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}
@font-face {
    font-family: calibri;
    src: url("../../../../../fonts/calibri.ttf");
}
.area .area * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

/*
 .coverboardfull {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 }
 */

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	background-color: #66d9ff;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
    position: absolute;
    width: 100%;
    padding: 1%;
    /*border: 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
	padding-left: 0;
	padding-right: 0;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*===================================
 =        InstructionBlock           =
 ===================================*/


/*==================================
 =            Text Block            =
 ==================================*/

@-webkit-keyframes swipebackgroundkeyframe {
to {
	background-position: 0% 0%;
}
}

@-moz-keyframes
swipebackgroundkeyframe {to {
	background-position: 0% 0%;
}
}

@keyframes
swipebackgroundkeyframe {to {
	background-position: 0% 0%;
}
}

div.textblock {
	position: relative;
	margin-top: 0.5%;
	width: 100%;
	height: 30%;
	/*border   : 1px solid green; */
}

p.simpletextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 1%;
	padding: 1% 3%;
	font-size: 1.3em;
	text-align: left;
	/* border  : 1px solid red; */
}

p.bigheadingtextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 1%;
	font-size: 1.6em;
	font-weight: bold;
	/* border   : 1px solid red; */

	color: rgb(1, 174, 250);
}

p.singleparawithimagetextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 3%;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	color: black;
	background-color: rgb(198, 234, 248);
}

p.onlyparatextstyle, p.paratextstyle {
	display: table;
	margin: 0 2%;
	position: relative;
	padding: 3%;
	width: 95%;
	font-size: 1.2em;
	text-align: left;
	-webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	-moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
	background-image: -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
	background-image: -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
	background-image: linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */
	background-repeat: no-repeat;
	background-size: 200% 100%;
	background-position: -100% 0%;
	-webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.onlyparatextstyle {
	text-align: center;
}

p.bottomparatextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 2% 3%;
	width: 80%;
	font-size: 1.2em;
	text-align: left;
	color: black;
	background-color: rgb(198, 234, 248);
	-webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	-moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 1%;
	padding: 4%;
	font-size: 1.4em;
	text-align: left;
	/* svg image bg pulled from common images folder */
	background: url(../../../../../images/backgrounds/polygonbackground.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

span.royalbluehighlightstyle {
	color: rgb(0, 0, 255);
}

span.orangehighlight {
	color: rgb(197,6,6);
}

p.textalignleft {
	text-align: left;
}

p.formulatextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 3%;
	padding: 3%;
	color: rgb(135, 41, 213);
	font-size: 1.3em;
	background: url(../../../../../images/backgrounds/greybackground_animated.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

p.sideboxtextstyle {
	display: table;
	margin: 0 2%;
	position: relative;
	padding: 5% 5%;
	width: 95%;
	font-size: 1.2em;
	text-align: left;
	background-color: rgb(255, 247, 208);
	border: 2px solid rgb(247, 204, 27);
	border-radius: 5px;
}

p.paperstacktextstyle {
	position: relative;
	width: 100%;
	text-align: left;
	padding: 1% 5%;
	margin-top: 2%;
	font-size: 1.1em;
	color: black;
	background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
	background-image: -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
	background-image: -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
	background-image: linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */
	background-repeat: no-repeat;
	background-size: 200% 100%;
	background-position: -100% 0%;
	-webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.paperstacktextstyle:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	z-index: -1;
	-webkit-transform: rotate(0.8deg);
	-ms-transform: rotate(0.8deg);
	-o-transform: rotate(0.8deg);
	transform: rotate(0.8deg);
}

p.paperstacktextstyle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	z-index: -2;
	-webkit-transform: rotate(1.6deg);
	-ms-transform: rotate(1.6deg);
	-o-transform: rotate(1.6deg);
	transform: rotate(1.6deg);
}

/* Rules below is for multiplehighlight of span tags for a highlight true para.
 For example */
.multiplehighlights:nth-of-type(1) {
	background-color: #D93B2B;
}

.multiplehighlights:nth-of-type(2) {
	background-color: #F6921E;
}

.multiplehighlights:nth-of-type(3) {
	background-color: #FFDD00;
}
/* and so on if required be... */

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: relative;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	/*border     : 1px solid green; */
}

img.singleimgstyle {
	display: table;
	margin: 5% auto;
	position: relative;
	padding: 1%;
	width: 35%;
	cursor: pointer;
}

div.imageblock label {
	position: absolute;
}

img.twoimgtogether {
	position: relative;
	margin-top: 8%;
	display: inline-block;
	width: 25%;
	cursor: pointer;
}

img.twoimgtogether:nth-of-type(1) {
	margin-right: 20%;
}

img.twoimgtogetherlowspacing:nth-of-type(1) {
	margin-right: 10%;
}

img.threeimgtogether {
	position: relative;
	display: inline-block;
	width: 20%;
	margin-top: 2%;
}

img.threeimgtogether:nth-of-type(-n+2) {
	margin-right: 10%;
}

img.threeimgtogetherlowspacing:nth-of-type(1) {
	margin-right: 6%;
}
/*=====  End of Image Block  ======*/

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.firsttitle {
    font-size: 7vmin;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
}

.introductionheader{
	font-size: 7vmin;
	color: #ffffff;
	margin: 0;
	background-color: #00B398;
}
.description1, .description2, .description3 {
    text-align: left;
    color: #555555;
    font-size: 4vmin;
    padding-left: 2%;
    margin: 0;
    left: 5%;
    position: absolute;
    font-family: calibri;
}
.description1 {
    top: 225%;
    position: absolute;
    left: 4%;
}
.description3{
	padding-top: 8%;
}

.description2{
	width: 58%;
}

.uppertextblock{
	height: 13%!important;
}

.lowertextblock{
	position: absolute !important;
	height: 9% !important;
	bottom: 25%;
	left: 0;
}

.imageblock{
	position: absolute !important;
	width: 100%;
	height: 30%;
	left: 0%;
	top: 20% !important;
}

.imageblock > img {
	height: 100%;
}

.length, .breadth, .totalarea, .unitarea {
	position: absolute;
	font-size: 3vmin;
	color: #555555;
}

.breadth{
	top: 42%;
	right: 61%;
}

.unitarea{
	top: 40%;
	left: 49.5%;
}

.totalarea{
	top: 42%;
	left: 48%;
	opacity: 0;
	-webkit-animation: fadein 1.5s linear 1.3s 1 forwards;
	-moz-animation: fadein 1.5s linear 1.3s 1 forwards;
	animation:  fadein 1.5s linear 1.3s 1 forwards;
}

@-webkit-keyframes fadein{
	to{
		opacity: 1;
	}
}

@-moz-keyframes fadein{
	to{
		opacity: 1;
	}
}

@keyframes fadein{
	to{
		opacity: 1;
	}
}

.length {
	top: 105%;
	left: 48%;
}

.correct01, .incorrect01 {
	position: absolute;
	/*display: block !important;*/
	height: 30% !important;
	top: 160%;
	right: 33%;
	z-index: 50;
}

.inputfields{
	position: absolute;
	top: 75%;
	width: 100%;
	left: 0;
	height: 16%;
}

.areainput, .areacheck, .areahint{
	position: absolute;
	width: 10%;
	top: 0%;
	font-size: 3.3vmin;
}

.areainput{
	right: 31%;
	text-align: right;
	border-radius: 8px;
	padding-right: 15px;
	top: 40%;
}

.areacheck{
	right: 7%;
	width: 14%;
	margin: 0;
	padding: 0;
	background-color: #00C9F9;
	border-radius: 15px;
}

.areahint{
	right: 7%;
	padding: 0;
	background-color: #00C9F9;
	border-radius: 15px;
	top: 60%;
	width: 14%;
}

.inputspanclass{
	position: absolute;
	left: 69.5%;
	top: 36%;
	font-size: 3.5vmin;
}

.correct02{
		background-color: #68f71b;
}

.incorrect02{
	background-color: #ff1C62;
}

.vibrate{
	-webkit-animation: wigglescale 1s linear infinite;
	-moz-animation: wigglescale 1s linear infinite;
	animation: wigglescale 1s linear infinite;
}

@-webkit-keyframes wigglescale{
	to{ transform: scale(1.1);}
}

@keyframes wigglescale{
	to{ transform: scale(1.1);}
}

@-moz-keyframes wigglescale{
	to{ transform: scale(1.1);}
}

.slideinleft{
	-webkit-animation: slideleft 1s linear 0.5s 1 forwards;
	-moz-animation: slideleft 1s linear 0.5s 1 forwards;
	animation: slideleft 1s linear 0.5s 1 forwards;
}

.slideinbottom{
	-webkit-animation: slidebottom 1s linear 0.5s 1 forwards;
	-moz-animation: slidebottom 1s linear 0.5s 1 forwards;
	animation: slidebottom 1s linear 0.5s 1 forwards;
}

@-wbkit-keyframes slideleft{
	to{
		opacity: 0;
		right: 47%;
	}
}

@-moz-keyframes slideleft{
	to{
		opacity: 0;
		right: 47%;
	}
}

@keyframes slideleft{
	to{
		opacity: 0;
		right: 47%;
	}
}

@-wbkit-keyframes slidebottom{
	to{
		opacity: 0;
		top: 43%;
	}
}

@-moz-keyframes slidebottom{
	to{
		opacity: 0;
		top: 43%;
	}
}

@keyframes slidebottom{
	to{
		opacity: 0;
		top: 43%;
	}
}

.bluebg{
    background: url("../images/bg_blue03.jpg");
    background-size: cover;
}
