<script type="text/javascript">
	$cssLoader("css/common.css");
	 
	$cssLoader("exercise/css/ex1.css");
</script>


<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				<div class="coverboardfull {{coverboardadditionalclass}}">
					{{#if uppertextblock}}
						<div class="textblock {{uppertextblockadditionalclass}}">
							{{#each uppertextblock}}
								{{> textcontent}}
							{{/each}}
						</div>
					{{/if}}
					{{#if lowertextblock}}
						<div class="textblock {{lowertextblockadditionalclass}}">
							{{#each lowertextblock}}
							<div class="opns">
								{{> textcontent}}
								<img src="images/correct.png" class="imagestartpos tick {{startposextra}} corctopt">
								<img src="images/wrong.png" class="imagestartpos tick {{startposextra}} wrngopt">
							</div>
							{{/each}}
						</div>
					{{/if}}

					{{#if imagetextblock}}
						<div class="{{imagetextblockadditionalclass}}">
							{{#each imagetextblock}}
								<div class="{{imagediv}}">
									<img class="{{imgclass}}" src="{{imgsrc}}">
									<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
								</div>
							{{/each}}
						</div>
					{{/if}}
					{{#each extratextblock}}
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
					{{/each}}
					{{#if draggableblock}}
						<div class="{{draggableblockadditionalclass}}">
							{{#each draggableblock}}
								<div class="{{divclass}}">
									{{> textcontent}}
								</div>
							{{/each}}
						</div>
					{{/if}}
					{{#if drawblockwrapper}}
						<div class='{{drawblockwrapper}}'>
					{{/if}}
					{{#each drawblock}}
						<div class="{{drawblockcontainer}}">
							{{#if droppablediv}}
								<div class="{{droppablediv}}">
									{{#if hasCorrectIncorrect}}
										<img class='cor-incor correct-icon {{coriconclass}}' src=''>
									{{/if}}
								</div>
							{{/if}}
							<div class="{{drawblock}}">
								<svg id="line-svg" x="0px" y="0px" width="1000px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="none">
									<polygon points="0,45 2,35 2,55" style="fill:black;" />
									<polygon points="100,45 98,35 98,55" style="fill:black;" />
								</svg>
								<div class="dd-main-line {{mainlineclass}}"></div>
								<div class="dd-mark-container {{markcontainerclass}}"></div>
								<div class="dd-label-container {{labelcontainerclass}}"></div>
							</div>
						</div>
					{{/each}}
					{{#if drawblockwrapper}}
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</script>

<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>


<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("exercise/js/exercise.js");
</script>
