<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1.css');
</script>



<div class="pageContainer">
	<div id="cover_page">
		<!-- <img class="cover_image" src="activity/grade7/math/math_simlarity_01/images/page1/coverpage.png">
		<img class="cover_cross" src="images/white_wrong.png">
		<p class="covertext"></p> -->
	</div>
	<div class="headTitle"></div>
	<div class="questitle"></div>

	<div id="figBox">

	<div class="imgFrame">
		<div class="imgSrc"  dataval="cls1"><img src="$ref/images/page1/01.png"/></div>
		<div class="imgSrc"  dataval="cls2"><img src="$ref/images/page1/05.png"/></div>
		<div class="imgSrc"  dataval="cls3"><img src="$ref/images/page1/09.png"/></div>
		<div class="imgSrc"  dataval="cls4"><img src="$ref/images/page1/08.png"/></div>
		<div class="imgSrc"  dataval="cls5"><img src="$ref/images/page1/03.png"/></div>
		<div class="imgSrc"  dataval="cls6"><img src="$ref/images/page1/12.png"/></div>
	</div>


	<div class="imgFrame">
		<div class="imgSrc"  dataval="cls5"><img src="$ref/images/page1/04.png"/></div>
		<div class="imgSrc"  dataval="cls1"><img src="$ref/images/page1/02.png"/></div>
		<div class="imgSrc"  dataval="cls4"><img src="$ref/images/page1/07.png"/></div>
		<div class="imgSrc"  dataval="cls2"><img src="$ref/images/page1/06.png"/></div>
		<div class="imgSrc"  dataval="cls6"><img src="$ref/images/page1/11.png"/></div>
		<div class="imgSrc"  dataval="cls3"><img src="$ref/images/page1/10.png"/></div>
	</div>


	</div>
	<div class="textBox">
		<div class="myTitle"></div>
		<div class="exp"></div>
		<div class="myImg"></div>
		<div id="closeImgbtn"></div>

	</div>

	<div id="incorrect"><span class="glyphicon glyphicon-remove"></span></div>


</div>

<script type="text/x-handlebars-template" id="template-1">
<img src="{{src1}}" />
<img src="{{src2}}" />
</script>

<script type="text/x-handlebars-template" id="general-template">
	<img class="{{img_class}}" src="{{img_src}}">
	<p class="{{p_class}}">{{{p_data}}}</p>
</script>

<script>
$jsLoader('js/page1.js');

</script>
