@font-face {
    font-family: sniglet;
    src: url('../../../../../fonts/sniglet/sniglet-regular.otf');
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: sniglet;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popups{
    height: 100%;
    width: 100%;
    position: absolute;
}

.textblock {
    position: absolute;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

.vertical-horizontal-center{
    position: absolute;
}


.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.contentblock {
    width: 100%;
    height: 100%;
}


/*Custom css starts*/
.backgrd{
  position: absolute;
  width: 100%;
  top: 0%;
  height: 100%;
  left: 0%;
  background: #5687e9;
}

.bigtextcenter {
    top: 50%;
    left: 50%;
    font-size: 5vmin;
    position: absolute;
    font-family: sniglet;
    transform: translate(-50%,-50%);
    z-index: 1;
}


.firstpagebg{
    background: url(../images/01.png);
    background-size: cover;
}

.lefttext {
    position: absolute;
    top: 20%;
    font-size: 4vmin;
    left: 1%;
}

.bigimage {
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: 0;
}

.midimage {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 30%;
}

.toptext {
    color: white;
    top: 15%;
    position: absolute;
    font-size: 5vmin;
    width: 100%;
}

.toptexttype1 {
    color: white;
    top: 5%;
    position: absolute;
    font-size: 5vmin;
    width: 100%;
}

.bottomtext {
    color: white;
    position: absolute;
    bottom: 14%;
    font-size: 4vmin;
    width: 100%;
}

.centerimage {
    width: 77%;
    position: absolute;
    top: 13%;
    left: 15%;
    height: 85%;
}

.borderedimage {
    border: .1em solid white;
    border-radius: 50%;
    padding: 1%;
    top: 42%;
    left: 45%;
    opacity: 0;
    position: absolute;
    width: 18%;
}

.centertext {
    border-radius: 50%;
    top: 50%;
    left: 43%;
    opacity: 0;
    position: absolute;
    width: 18%;
    padding-top: 13%;
    color: #fff;
    padding-left: 5%;
    text-shadow: .1em .1em .1em rgba(0,0,0,.2);
}


.borderedimage1 {
    border: .1em solid white;
    border-radius: 50%;
    padding: 1%;
    top: 42%;
    left: 45%;
    opacity: 0;
    position: absolute;
    width: 13%;
}



.topheader {
    font-size: 3.5vmin;
    color: white;
    width: 80%;
    left: 10%;
    position: absolute;
    top: 5%;
}

.topheadertype1 {
    font-size: 3.5vmin;
    color: white;
    width: 100%;
    position: absolute;
    top: 2%;
}

.midtexttype1 {
    font-size: 4vmin;
    color: #fffafa;
    width: 57%;
    position: absolute;
    top: 40%;
    left: 40%;
}

.topheadertype2 {
    font-size: 4.5vmin;
    color: white;
    width: 30%;
    position: absolute;
    top: 17%;
    text-align: center;
    left: 50%;
}

.topchanged {
    top: 25%;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 24%;
}

.image1{
    animation: spin 10s infinite linear,fadein 8s 1.666666667s forwards;
}

.image2 {
    animation: spin 10s 1.666666667s infinite linear,fadein 8s 1.666666667s forwards;
}

.image3 {
    animation: spin 10s 3.333333333s infinite linear,fadein 8s 3.333333333s forwards;
}

.image4 {
    animation: spin 10s 5s infinite linear,fadein 8s 5s forwards;
}

.image5 {
    animation: spin 10s 6.666666668s infinite linear,fadein 8s 6.666666668s forwards;
}

.image6 {
    animation: spin 10s 8.333333335s infinite linear,fadein 8s 8.333333335s forwards;
}

.image11{
    animation: spin 10s infinite linear,fadein 8s 1.666666667s forwards;
}

.image21 {
    animation: spin 10s 1.666666667s infinite linear,fadein 8s 1.666666667s forwards;
}

.image31 {
    animation: spin 10s 3.333333333s infinite linear,fadein 8s 3.333333333s forwards;
}

.image41 {
    animation: spin 10s 5s infinite linear,fadein 8s 5s forwards;
}

.image51 {
    animation: spin 10s 6.666666668s infinite linear,fadein 8s 6.666666668s forwards;
}

.image61 {
    animation: spin 10s 8.333333335s infinite linear,fadein 8s 8.333333335s forwards;
}

.image12{
  background: rgba(136, 179, 120, 0.8);
    animation: spin 10s infinite linear,fadein 8s 1.666666667s forwards;
}

.image22 {
  background: rgba(136, 179, 120, 0.8);
    animation: spin 10s 1.666666667s infinite linear,fadein 8s 1.666666667s forwards;
}

.image32 {
  background: rgba(136, 179, 120, 0.8);
    animation: spin 10s 3.333333333s infinite linear,fadein 8s 3.333333333s forwards;
}

.image42 {
  background: rgba(136, 179, 120, 0.8);
    animation: spin 10s 5s infinite linear,fadein 8s 5s forwards;
}

.image52 {
  background: rgba(136, 179, 120, 0.8);
    animation: spin 10s 6.666666668s infinite linear,fadein 8s 6.666666668s forwards;
}

.image62 {
  background: rgba(136, 179, 120, 0.8);
    animation: spin 10s 8.333333335s infinite linear,fadein 8s 8.333333335s forwards;
}



.imagea{
    animation: spin 10s infinite linear,fadein 8s 1.666666667s forwards;
}

.imageb {
    animation: spin 10s 2s infinite linear,fadein 6s 2s forwards;
}

.imagec {
    animation: spin 10s 4s infinite linear,fadein 6s 4s forwards;
}

.imaged {
    animation: spin 10s 6s infinite linear,fadein 6s 6s forwards;
}

.imagee {
    animation: spin 10s 8s infinite linear,fadein 6s 8s forwards;
}



.imagea1 {
    position: absolute;
    animation: fadein 1s 10s forwards, germs1 2s 9s infinite;
    width: 18%;
    left: -40%;
    opacity: 0;
    top: -6%;
}

.imageb1 {
    position: absolute;
    animation: fadein 1s 10s forwards, germs2 2s 9s infinite;
    opacity: 0;
    width: 18%;
    right: -40%;
    top: 17%;
}

.imagec1 {
    position: absolute;
    animation: fadein 1s 10s forwards, germs1 2s 9s infinite;
    opacity: 0;
    width: 18%;
    left: -40%;
    top: 35%;
}

.imaged1 {
    position: absolute;
    animation: fadein 1s 10s forwards, germs2 2s 9s infinite;
    opacity: 0;
    width: 18%;
    right: -40%;
    top: 65%;
}

.imagee1 {
    position: absolute;
    animation: fadein 1s 10s forwards, germs1 2s 9s infinite;
    opacity: 0;
    width: 18%;
    left: -40%;
    top: 85%;
}

.centerimage1 {
    width: 97%;
    position: absolute;
    top: -22%;
    left: 5%;
    height: 159%;
    border: .1em solid white;
    border-radius: 50%;
    padding-top: 17%;
    padding-bottom: 19%;
    animation: glow 2s 7s infinite;
}

.centerimage2{
    width: 97%;
    position: absolute;
    top: -22%;
    left: 5%;
    height: 159%;
    border: .1em solid white;
    border-radius: 50%;
    padding-top: 17%;
    padding-bottom: 19%;
    animation: glow 2s 7s infinite;
}

.girl {
    left: 10%;
    position: absolute;
    width: 30%;
    top: 17%;
}

.imagecls1 {
  width: 40%;
  position: absolute;
  z-index: 9;
  transform: translate(-50%,-50%);
  top: 42%;
  left: 50%;
}

.text1 {
    color: white;
    background: rgba(0,0,0,.6);
    box-shadow: .1em .1em .1em rgba(0,0,0,.1);
    width: 100%;
    font-size: 4vmin;
    position: absolute;
    top: 0;
    z-index: 99;
    padding: .1%;
}

.text2 {
    color: white;
    background: rgba(0,0,0,.6);
    box-shadow: .1em .1em .1em rgba(0,0,0,.1);
    width: 100%;
    font-size: 2.5vmin;
    position: absolute;
    z-index: 99;
    padding: .1%;
    bottom: 0;
}

.popup1,.popup2,.popup3,.popup4,.popup5,.popup6 {
  opacity: 0;
  background: white;
  width: 80%;
  height: 80%;
  top: 16%;
  left: 10%;
  position: absolute;
}

.imagecls2 {
    z-index: 99;
    position: absolute;
    width: 4%;
    cursor: pointer !important;
    right: 0;
    padding: 0.5%;
    top: 1.1%;
}

.increasezindex{
    z-index: 99;
}

.clickinstruction {
  font-size: 3.5vmin;
  background: rgba(2, 255, 183, 0.1);
  width: 20%;
  position: absolute;
  box-shadow: 0px 0px 2px 1px #0003;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 56%;
  border-radius: 1em;
  z-index: 55;
  padding: 1%;
  background: yellow;
  color: #000;
}

.centertext4 {
    border-radius: 50%;
    top: 50%;
    left: 43%;
    opacity: 0;
    position: absolute;
    color: #fff;
    text-shadow: .1em .1em .1em rgba(0,0,0,.5);
    width: 5em;
    border: .1em solid white;
    transform: translateY(-50%);
    text-align: center;
    height: 5em;
    padding-top: 6%;
}

.totalsequence {
    border: #145d5a 0.3vmin solid;
}

.activeTimeLine {
    background: #105a63;
}

.mainBox {
    border: none;
}


.image11,.image21,.image31,.image41,.image51,.image61{
    cursor: pointer;
}

.image12:hover,.image22:hover,.image32:hover,.image42:hover,.image52:hover,.image62:hover{
        background: white;
        cursor: pointer;
}

.zoomin{
    animation: zoomin 1s forwards;
}

.zoomout{
    animation: zoomout 1s forwards;
}

.whitebackground{
    background-color: rgb(239,155,15);
}

@keyframes zoomin{
    0%{
        opacity: .9;
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: .9;
    }
}

@keyframes zoomout{
    0%{
        transform: scale(1);
        opacity: .9;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes glow{
    100%{
        box-shadow: 0vmin 0vmin 2vmin rgba(255, 255, 255,1);
    }
}

@keyframes germs1{
    0%{
    }
    45%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
        left:-11%;
    }
    56%{
        transform: rotate(-80deg);
    }
    100%{
        transform: rotate(-360deg);
        left:-40%;
    }

}

@keyframes germs2{
    0%{
    }
    45%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
        right:-15%;
    }
    56%{
        transform: rotate(80deg);
    }
    100%{
        transform: rotate(360deg);
        right:-40%;
    }

}
@keyframes spin {
0% {
    transform: rotate(0deg) translate(150%,150%) rotate(0deg);
}
100% {
    transform: rotate(360deg) translate(150%,150%)  rotate(-360deg);
}
}


@keyframes shake{
    0%{
        transform: rotate(15deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    55%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15deg);
    }
}

@keyframes fadein
{
    100%{opacity: 1;};
}

@keyframes bottomupto10{
    100%{
        bottom: 15%;
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    /*vh*/

    .lefttext,.toptext,.topheader,.topheadertype1
    {
        font-size: 4.5vh;
    }
    .centertext4
    {
        font-size: 2.5vh;
    }
    .clickinstruction
    {
        font-size: 2.5vh;
    }
    .bottomtext,.topheadertype1{
        font-size: 4vh;
    }
    .text1,.text2{
      font-size: 3.5vh;
    }
}

.fadein1{
    animation:fadein 1s forwards;
}

.fadeout{
    animation:fadeout 1s forwards;

}
.title_text{
  color: white;
  font-size: 10vmin;

}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeout{
    to{
        opacity: 0;
    }
}

.coverpg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
}
/*Custom css ends*/
