@font-face {
    font-family: sniglet;
    src: url("../../../../../../fonts/sniglet.ttf");
}
body {

    font-family: 'Sniglet !important';

}

.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 1000!important;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 1000!important;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

@media (min-aspect-ratio: 4/3) {
    .chapter{
        font-size: 4vw;
    }
    .title{
        font-size: 3vw;
    }
    .content{
        font-size: 2.5vw;
    }
    .box{
        font-size:1.9vw;
    }
    .subtopic{
        font-size: 2vw;
    }
    .subtopic1{
        font-size: 2.2vw;
    }

}
.relativecls{
    position: relative;
    width: 100%;
}
/*//exercise css*/
.bg{
    background-color: #fbe4c9;
    background-size: 100% 100%;
}
.question{
    position: absolute;
    width: 100%;
    height: 15%;
    top: 12.5%;
    border-top: 5px solid black;
    color: white;
    background-color: #429ffd;
}

.draggable{
    position: absolute;
    width: 23%;
    height: 15%;
    text-align: center;
    background-color: #7b74d4;
    border-radius: 25px;
    color: white;
    bottom: 49%;
}
.draggable:hover{
    background-color: #cfe2f3;
    border:4px solid #9fc5e8 ;
    color: black;
    cursor: -webkit-grab;
    cursor: grab;
}
.opt1{
    left: 15%;
}
.opt2{
    left: 40%;
}
.opt3{
    left: 65%;
}


.droppable{
    position: absolute;
    width: 25%;
    height: 15%;
    background-color: #d9d9d9;
    color: black;
    border: 4px solid #434343;
    bottom: 23%;
}
.hovered{
    border: 0.2em dashed black;
    background: #E5E5E5;
}
.ans1{
    left: 12%;
}
.ans2{
    left: 40%;
}
.ans3{
    left: 68%;
}

.commonbtn{
    position: absolute;
    width: 15%;
    height: 10%;
    bottom: 5%;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}
.ok{
    background-color: #ffd966;
    border:4px solid #b45f06;
    color: black;
    right:20%;
}
.ok:hover{
    background-color: #ffcd53;
    border:4px solid #f1c232;
}
.delete{
    background-color: #fc5c9c;
    border:4px solid #ff93c2;
    right:2%;
}
.delete:hover{
    background-color: #fcb2c1;
    border:4px solid #fc5c9c;
    color:black;

}
.correctans{
    pointer-events: none;
    background-color: #98C02E;
    border:4px solid;
    border-color: #DEEF3C;
    border-radius:25px;
    color: white;
}
.wrongans{
    pointer-events: none;
    background-color:#FF0000;
    border:4px solid;
    border-color: #980000;
    border-radius: 25px;
    color:#43434B;

}
.correctwrongimg{
    position: absolute;
    width: 17%;
    left: 40%;
    bottom: 120%;
}
.avoid-clicks{
    pointer-events: none;
}
.answer{
    position: absolute;
    width: 100%;
    top: 60%;
    transform: translateY(-60%);
}