html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/bg01.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.pinkbg{
    background: #FECFBF;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #7DBD42;
    color: wheat;
    padding: 1%;
    font-size: 5vmin;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.uppertextblock{
    height: auto !important;
    font-size: 4.5vmin;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.textblock {
    position: relative;
    width: 100%;
    height: 100%;
    /*border   : 1px solid green; */
}

/* for parts of a flower */
.centertext {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 4vmin;
    top: 42%;
    left: 50%;
    width: 100%;
}

.fourpart1 {
    position: absolute;
    top: -12%;
    width: 37%;
    left: -2%;
}

.fourpart2 {
    position: absolute;
    top: -30%;
    width: 37%;
    left: 62%;
}

.fourpart3 {
    position: absolute;
    top: 47%;
    width: 37%;
    left: 62%;
}

.fourpart4 {
    position: absolute;
    top: 36%;
    width: 37%;
    left: -2%;
}

.combineanim{
    animation: combination 3s ease-out 0s forwards;
}

@keyframes combination{
    to{
        top: 25%;
        left: 32%;
    }
}

.fourpartmov {
    position: absolute;
    top: 25%;
    width: 37%;
    left: 32%;
}

@keyframes moveleft{
    to{
        left: 5%;
    }
}

.intro {
    font-size: 4vmin;
    width: 80%;
    top: 16%;
    position: absolute;
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
    transform: translate(-50%,0%);
    left: 50%;
}

.introductiontop1 {
    font-size: 4vmin;
    width: 80%;
    top: 6%;
    position: absolute;
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
    transform: translate(-50%,0%);
    left: 50%;
}

.introductiontop2 {
    font-size: 4vmin;
    width: 80%;
    top: 13%;
    position: absolute;
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
    transform: translate(-50%,0%);
    left: 50%;
}

.lineone {
    position: absolute;
    top: 30%;
    left: 54%;
    width: 16.5%;
}

.linetwo {
    position: absolute;
    top: 78%;
    left: 62%;
    width: 16.5%;
}

.linethree {
    position: absolute;
    top: 57%;
    left: 27.7%;
    width: 17.5%;
}

.linefour {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 14.5%;
}

.linestem {
    position: absolute;
    top: 77%;
    left: 27%;
    width: 16.5%;
}

.linecalyx {
    position: absolute;
    top: 77%;
    left: 38%;
    width: 16.5%;
    display: none;
}

.linecorolla {
    position: absolute;
    top: 40%;
    left: 33%;
    transform: rotate(-65deg);
    width: 16.5%;
}

.lineandro {
    position: absolute;
    top: 73%;
    left: 34%;
    z-index: 1;
    transform: rotate(45deg);
    width: 16.5%;
}

.lineanth {
    position: absolute;
    top: 68%;
    left: 35%;
    z-index: 1;
    transform: rotate(45deg);
    width: 16.5%;
}

.linegyno {
    position: absolute;
    top: 75%;
    left: 30%;
    z-index: 1;
    transform: rotate(45deg);
    width: 16.5%;
}

.linestig {
    position: absolute;
    top: 26.5%;
    left: 29%;
    width: 16.5%;
}

.linesty {
    position: absolute;
    top: 28.5%;
    left: 29%;
    z-index: 1;
    width: 10%;
}

.lineova {
    position: absolute;
    top: 73.5%;
    left: 30%;
    z-index: 1;
    transform: rotate(45deg);
    width: 16.5%;
}

.lineovu {
    position: absolute;
    top: 75.5%;
    left: 27%;
    z-index: 1;
    transform: rotate(45deg);
    width: 16.5%;
}

.linestigma {
    position: absolute;
    top: 30%;
    left: 21%;
    width: 16.5%;
}

.lineovary {
    position: absolute;
    top: 69%;
    left: 24%;
    width: 16.5%;
}

.linestyle {
    position: absolute;
    top: 33.5%;
    left: 20%;
    z-index: 1;
    width: 10%;
}

.linegy {
    position: absolute;
    top: 29%;
    left: 56%;
    z-index: 1;
    width: 17%;
}

.label1 {
    position: absolute;
    top: 74%;
    left: 78.3%;
    padding: 1% 2%;
    background: white;
    border: 3px solid #7DBD42;
    border-radius: 15px;
    color: #F2118F;
    width: 18%;
    z-index: 4;
}

.label2 {
    position: absolute;
    top: 26%;
    left: 70.3%;
    padding: 1% 2%;
    background: white;
    border: 3px solid #7DBD42;
    border-radius: 15px;
    color: #F2118F;
    width: 18%;
    z-index: 4;
}

.label3 {
    position: absolute;
    top: 53%;
    left: 12%;
    padding: 1% 2%;
    background: white;
    border: 3px solid #7DBD42;
    border-radius: 15px;
    width: 18%;
    color: #F2118F;
    z-index: 4;
}

.label4 {
    position: absolute;
    top: 36%;
    left: 19.3%;
    padding: 1% 2%;
    background: white;
    border: 3px solid #7DBD42;
    border-radius: 15px;
    color: #F2118F;
    width: 18%;
    z-index: 4;
}

.labelall{
    background: coral;
    padding: 0.5% 1%;
    position: absolute;
    color: #932895;
    font-weight: bold;
    font-size: 3.5vmin;
    cursor: pointer;
    z-index: 2;
    animation: scaling 1s linear alternate 0s infinite forwards;
}

@keyframes scaling{
    from{transform: scale(1)}
    to{transform: scale(1.1)}
}

.stemlabel {
    left: 43.4%;
    top: 74%;

}

.calyxlabel {
    left: 54.4%;
    top: 74%;
    display: none;
}

.androlabel {
    left: 47.4%;
    top: 82%;
}

.corollalabel {
    left: 41.4%;
    top: 22%;
}

.anthlabel {
    left: 47.4%;
    top: 78%;
}

.gynolabel {
    left: 42.4%;
    top: 85%;
}

.stiglabel {
    left: 45.4%;
    top: 24%;
}

.stylabel {
    left: 39%;
    top: 38%;
    z-index: 1;
}

.ovalabel {
    left: 41.4%;
    top: 84%;
}

.ovulabel {
    left: 38.4%;
    top: 85%;
}

.simplelabel1 {
    position: absolute;
    top: 64%;
    left: 13%;
    padding: 1% 2%;
    opacity: 0;
    font-size: 3vmin;
}

.simplelabel2 {
    position: absolute;
    top: 64%;
    left: 44%;
    padding: 1% 2%;
    opacity: 0;
    font-size: 3vmin;
}

.simplelabel2_2 {
    position: absolute;
    top: 64%;
    left: 12%;
    padding: 1% 2%;
    opacity: 0;
    font-size: 3vmin;
}

.simplelabel3 {
    position: absolute;
    top: 64%;
    left: 74%;
    padding: 1% 2%;
    opacity: 0;
    font-size: 3vmin;
}

.labgyn {
    position: absolute;
    font-size: 3vmin;
    left: 74%;
    top: 47%;
}

.labstig {
    position: absolute;
    font-size: 3vmin;
    left: 39%;
    top: 28%;
}

.labsty {
    position: absolute;
    font-size: 3vmin;
    left: 31%;
    top: 43%;
}

.labova {
    position: absolute;
    font-size: 3vmin;
    left: 42%;
    top: 66%;
}

.flotwobg {
    position: absolute;
    width: 50%;
    left: 5%;
    top: 25%;
    filter: grayscale(100%);
}

.flotwohigh {
    position: absolute;
    width: 50%;
    left: 5%;
    top: 25%;
    animation: sel 1s linear 0s alternate infinite;
}

@keyframes sel{

    0% {filter: drop-shadow(0px 0px 2px #a00);}
    100% {filter: drop-shadow(0px 0px 5px #a70);}
}

.explanation {
    position: absolute;
    background: white;
    left: 78%;
    top: 50%;
    width: 40%;
    padding: 2%;
    border: 3px solid #7DBD42;
    border-radius: 15px;
    font-size: 3.5vmin;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.explanation > span{
    color: #F2118F;
}

.clickme {
    position: absolute;
    width: 5%;
    cursor: pointer;
    z-index: 99;
}

.clickpos1{
    top: 79%;
    left: 45%;
}

.clickpos2 {
    top: 78%;
    left: 54%;
}

.clickpos3 {
    top: 25%;
    left: 49%;
}

.clickpos4 {
    top: 85%;
    left: 49%;
}

.clickpos5 {
    top: 82%;
    left: 49%;
}

.clickpos6 {
    top: 89%;
    left: 43%;
}

.clickpos7 {
    top: 27%;
    left: 45%;
}

.clickpos8 {
    top: 41%;
    left: 38%;
}

.clickpos9 {
    top: 87%;
    left: 41%;
}

.clickpos10 {
    top: 88%;
    left: 38%;
}

.fila {
    position: absolute;
    top: 12%;
    width: 55%;
    left: -6%;
}

.ovary {
    position: absolute;
    top: 28%;
    width: 55%;
    left: -6%;
}

.anther {
    position: absolute;
    top: 12%;
    width: 55%;
    left: -6%;
    animation: rightright 2s linear 1s forwards;
}

.pollen {
    position: absolute;
    top: 12%;
    width: 55%;
    left: -6%;
    animation: leftleft 5s linear 1s forwards;
    filter: drop-shadow(1px 1px 1px black);
}

@keyframes rightright{
    to{left: 24%;}
}

@keyframes leftleft{
    40%{left: 24%;}
    50%{left: 24%;}
    100%{left: 57%;}
}

.anther2 {
    position: absolute;
    top: 12%;
    width: 55%;
    left: 24%;
    animation: rightright2 2s linear 3s forwards;
}

.pollen2 {
    position: absolute;
    top: 12%;
    width: 55%;
    left: 57%;
    animation: leftleft2 5s linear 0s forwards;
    filter: drop-shadow(1px 1px 1px black);
}

@keyframes rightright2{
    to{left: -6%;}
}

@keyframes leftleft2{
    50%{left: 24%;}
    60%{left: 24%;}
    100%{left: -6%;}
}
/* Fade in animations */
/* always keep in in the last so opacity is not overwritten */
.cssfadein{
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
}

.cssfadein2{
    opacity: 0;
    animation: fade-in 1s linear 2s forwards;
}

.cssfadein3 {
    opacity: 0;
    animation: fade-in 1s linear 4s forwards;
    z-index: 2;
}

@keyframes fade-in{
    to{opacity: 1}
}

/* fade in animations end */
@media(min-aspect-ratio:4/3){

}
