html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/bg01.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #E3D0DA;
    color: #CE00A7;
    padding: 2%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.uppertextblock{
    height: auto !important;
    font-size: 4.5vmin;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.textblock {
    position: relative;
    width: 100%;
    height: 100%;
    /*border   : 1px solid green; */
}

/* for parts of a flower */

.centertext {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 4vmin;
    top: 50%;
    left: 50%;
    width: 100%;
}

.bee {
    position: absolute;
    top: 3%;
    z-index: 1;
    width: 9.5%;
}

.bee2 {
    position: absolute;
    top: 3%;
    z-index: 1;
    width: 9.5%;
}

.seed1 {
    position: absolute;
    top: 72%;
    z-index: 1;
    left: 21%;
}

.seed2 {
    position: absolute;
    top: 73%;
    z-index: 1;
    left: 23%;
}

.seed3 {
    position: absolute;
    top: 49%;
    z-index: 1;
    left: 47.5%;
    width: 6%;
}

.bee_move {
    animation: bee_move 20s cubic-bezier(.25,1,.75,-1) forwards , move_to_top_x 20s linear alternate forwards ;
    -webkit-animation: bee_move 20s cubic-bezier(.25,1,.75,-1) forwards , move_to_top_x 20s linear alternate forwards ;
}

@keyframes
bee_move {
    0% {transform: translateY(0%) rotateY(180deg);}
    18% {transform: translateY(280%) rotateY(180deg);}
    20% {transform: translateY(280%) rotateY(180deg);}
    /* sitting at first flower*/
    30% {transform: translateY(465%) rotateY(180deg);} 
    50% {transform: translateY(465%) rotateY(180deg);} 
    50.1% {transform: translateY(465%) rotateY(0deg);} 
    /* rotate flower*/
    60% {transform: translateY(355%) rotateY(0deg);} 
    /* sitting at second flower*/
    70% {transform: translateY(465%) rotateY(0deg);} 
    90% {transform: translateY(465%) rotateY(0deg);} 
    /* fly away */
    100% {transform: translateY(215%) rotateY(0deg);} 
}

@-webkit-keyframes
bee_move {
    0% {transform: translateY(0%) rotateY(180deg);}
    18% {transform: translateY(280%) rotateY(180deg);}
    20% {transform: translateY(280%) rotateY(180deg);}
    /* sitting at first flower*/
    30% {transform: translateY(465%) rotateY(180deg);} 
    50% {transform: translateY(465%) rotateY(180deg);} 
    50.1% {transform: translateY(465%) rotateY(0deg);} 
    /* rotate flower*/
    60% {transform: translateY(355%) rotateY(0deg);} 
    /* sitting at second flower*/
    70% {transform: translateY(465%) rotateY(0deg);} 
    90% {transform: translateY(465%) rotateY(0deg);} 
    /* fly away */
    100% {transform: translateY(215%) rotateY(0deg);} 
}

@keyframes
move_to_top_x {
    0% { left: 6%;}
    20% {left: 46%;}
    /* sitting at first flower*/
    30% {left: 72%;}
    50% {left: 72%;}
    62% {left: 32%;}
    /* sitting at second flower*/
    70% {left: 18%;}
    90% {left: 18%;}
    100% {left: -10%;}
}

@-webkit-keyframes
move_to_top_x {
    0% { left: 6%;}
    20% {left: 46%;}
    /* sitting at first flower*/
    30% {left: 72%;}
    50% {left: 72%;}
    62% {left: 32%;}
    /* sitting at second flower*/
    70% {left: 18%;}
    90% {left: 18%;}
    100% {left: -10%;}
}

.bee_move2 {
    /* -webkit-animation:  bee_move 8s infinite cubic-bezier(.25,2,.75,-2)  forwards, move_to_top_x 8s infinite linear forwards; */
    animation: bee_move2 10s cubic-bezier(.25,1,.75,-1) forwards , move_to_top_x2 10s linear alternate forwards ;
}

@keyframes
bee_move2 {
    0% {transform: translateY(0%);}
    45% {transform: translateY(300%);}
    55% {transform: translateY(300%);}
    100% {transform: translateY(0%);} 
}

@keyframes
move_to_top_x2 {
    0% { left: 100%;}
    45% { left: 46%;}
    55% { left: 46%;}
    100% {left: -10%;}
}

@-webkit-keyframes
bee_move2 {
    0% {transform: translateY(0%);}
    45% {transform: translateY(300%);}
    55% {transform: translateY(300%);}
    100% {transform: translateY(0%);} 
}

@-webkit-keyframes
move_to_top_x2 {
    0% { left: 100%;}
    45% { left: 46%;}
    55% { left: 46%;}
    100% {left: -10%;}
}

.introductiontop1 {
    font-size: 4vmin;
    width: 80%;
    top: 6%;
    position: absolute;
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
    transform: translate(-50%,0%);
    left: 50%;
}

.flower1 {
    position: absolute;
    bottom: 0%;
    width: 41%;
    right: 0%;
}

.flower2 {
    position: absolute;
    bottom: 0%;
    width: 41%;
    left: 0%;
}

.svg1 {
    position: absolute;
    top: 59%;
    width: 47%;
    transform: translate(-50%,-50%);
    left: 50%;
}

.ova {
    position: absolute;
    top: 73%;
    width: 47%;
    transform: translate(-50%,-50%);
    left: 50%;
}

/* Fade in animations */
/* always keep in in the last so opacity is not overwritten */
.cssfadein{
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
}

.cssfadein2{
    opacity: 0;
    animation: fade-in 1s linear 2s forwards;
}

.cssfadein3{
    opacity: 0;
    animation: fade-in 1s linear 4s forwards;
}

@keyframes fade-in{
    to{opacity: 1}
}

/* fade in animations end */
