<script>

$cssLoader('exercise/css/exe1.css');
</script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<div class="weatherexe">
	<div class="board">

	</div>
	 <div class="nextBtn"></div>
    
</div>

<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script>

$jsLoader('exercise/js/exe1.js');
</script>


<script type="text/x-handlebars-template" id="template-1">
<div class="exerciseName">
	<img src="{{gooseFull}}" id="gooseFull" />
	<div class="firstPage">{{text1}}</div>
</div>
</script>

<script type="text/x-handlebars-template" id="template-1-a">
<div class="exerciseName1 {{cls}}">
	<div class="listMypageTitle">{{text1}}</div>
	<img src="{{gooseFull}}" id="gooseFull" />

		<ul class="whatListValues">
		{{#each listMypage}}
		<li class="text{{@index}}">{{this}}</li>
		{{/each}}
		</ul>

</div>
</script>

<script type="text/x-handlebars-template" id="template-2">

<div class="gooseFullPage">
	{{#if fullGoose2}}
		<img src="{{fullGoose2}}" class="goosefullImages" />
		<div class="gooseTitlefull2">{{text1}}</div>
		{{#if textmiddle}}
			<div class="textmiddle">
				{{textmiddle}}

			</div>
		{{/if}}
	{{/if}}

	{{#if gooseYes}}
	<img src="{{gooseImgBack}}" class="breeding1" />
	<div class="gooseTitle">{{text1}}</div>
	<div class="{{gooseFull}}">

		{{#if text4}}
		<div class="gooseText">
			{{text4}}
		</div>
		{{/if}}

		{{#if gooseImg}}
		<div class="gooseImage"><img src="{{gooseImg}}" /></div>
		{{/if}}

		{{#if text2}}
		<div class="gooseText">
			{{text2}} <br/><br/> {{text3}}
		</div>
		{{/if}}

	</div>
	{{/if}}
</div>

</script>

<script type="text/x-handlebars-template" id="template-3">
<div class="gooseFullPage">	
	<div class="gooseTitle">{{text1}}</div>
	<div class="gooseFull2">
		{{#each backpack}}
		<div class="{{backpackimages}} ">
			<div><img src="{{imgsrc}}" /></div>
			{{backText}}
		</div>
		{{/each}}
		
	</div>
</div>

</script>


<script type="text/x-handlebars-template" id="template-4">
<div class="gooseFullPage2">	
	{{#if fullGoose}}
		<img src="{{fullGoose}}" />
	{{/if}}

	{{#if text1}}
	<div class="gooseTitlefull">{{text1}}</div>
	{{/if}}

	{{#if fullmap}}
	<div class="fullmap"><img src="{{fullmap}}" />
		{{#if girl}}
		<div class="{{standinggirl}}"><img src="{{girl}}" /></div>
		{{/if}}
	</div>
	{{/if}}
	
	
	<div class="{{desTextclass}}">{{desText}}</div>
</div>

</script>


<script type="text/x-handlebars-template" id="template-5">
<div class="journalVal">
	<div class="instruction">{{instruction}}</div>
	  <div class="readingsData">
	  	<div class="journalTitle">{{{journalTitle}}} ({{readingPlaceTitle}})</div>
		{{#each devices}}
		<div class="putReadings">
			<img src="{{../closeImg}}" class="clsbtn" />
			<div class="inputsText">{{{calculation}}}: </div>
			<div class="inputs">

				<input type="text" class="exetext" data-values="{{values}}" data-index="{{@index}}">
				<span class="unit">{{{unit}}}</span>
			</div>
			<div class="desc">{{{this.desc}}}</div>
			<div class="hint">
			<span class="hintOption">{{../hint}}</span>
			<span class="hintText">{{{hintDataval}}}</span>
			</div>
		</div>
		{{/each}}
		<div class="okBtn">{{ok}}</div>
	</div>
	<div class="templateBox" id="toolBox">
		{{#each devices}}
			<div class="devices" id="{{devicename}}" dataval="{{hintDataval}}">
				<p>{{caption}}</p>
				<img src="{{imgsrc}}" title="{{hintDataval}}" />
				
				<img src="./images/clickme_icon.png" class="pushmeimage" />

			</div>
		{{/each}}
	</div>
	
	<div class="closeJournal"><img src="{{closeImg}}" /></div>
	<div id="journalRead" class="journalText2">
		<div class="journalBox">
			
			<div class="{{jttl}}">{{journal}}</div>
			<div class="readingPlaceTitle">{{readingPlaceTitle}}</div>
			<div class="readimgBox">
			
				{{#each journalVals}}
				<div class="readings {{engOrnp}}" id="{{t_read}}">
					<div class="labelsval">{{thermo}}</div>
					{{#if minmax}}

					<span>{{minval}}</span>
					<!--<input type="text"  id="{{t_read1}}" class=" readval2 exetext"  dataval="{{dataval}}"/>-->
					<div class="readdataval">{{dataval}} {{{unit}}}</div>
					<span>{{maxval}}</span>
					<!--<input type="text"  id="{{t_read12}}" class="readval2 exetext"  dataval="{{dataval2}}"/>-->
					<div class="readdataval">{{dataval2}} </div>
					
					{{else}}
						<!--<input type="text"  id="{{t_read1}}" class="readval exetext"  dataval="{{dataval}}"/>-->
						<div class="readdataval">{{dataval}} </div>
					{{/if}}
					<span class="units">{{{unit}}}</span>
				</div>
				{{/each}}				
			</div>
			<div class="myOks">{{ok}}</div>

			<div  id="noteDevice">
				
			</div>

			<div class="{{stickercls}}" id="stickerPatch">
				{{sticker}}
			</div>

			<div class="stickerdrop" id="stickerBox" contentEditable=true data-text="{{stickerMsg}}"></div>

			<div class="{{commentLink}}" id="commentLink">{{commentLinkval}}</div>	
			<div class="stickerComment">{{stickerComment}}</div>	
		</div>
	</div>

	<div class="stickerCollection">
		<div class="stickerinst">{{stickerinst}}</div>
		{{#each stickerCollection}}
		<img src="{{imgsrc}} " id="{{imgname}}" class="draggable"/>
		{{/each}}
	</div>
</div>

</script>


<script type="text/x-handlebars-template" id="template-6">
<div class="totalFullGoose {{cls}}">
	<img src="{{gooseFull}}" class="imgFullGoose2"/>
	<div class="gooseTextme">{{text1}}</div>
	{{#if text2}}
		<div class="gooseChase">{{text2}}</div>
	{{/if}}
	<div id="imgFullGoose" >
		<img src="{{gooseleft}}" class="imgFullGoose1"/>

	</div>
	
</div>
</script>


<script type="text/x-handlebars-template" id="template-7">
<div id="presentImg">
	
	
	<table class="presentation">
		<tr class="headTitle">
		{{#each thpresent}}
			<td>
			{{this}}
			</td>
		{{/each}}
		</tr>

		{{#each listprest}}
			<tr >
			<td>{{insdevice}}</td>
				{{#each deviceVal}}
					<td class="whatvalTitle">{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}

	</table>

	
	
</div>
</script>


<script type="text/x-handlebars-template" id="template-8">
<div class="next_destination">
	<div class="nextdestText">{{nextdestText}}</div>
	<div class="movingToNext">

		<div class="firstDestination">
			<img src="{{firstDestination}}" />
		</div>
		

		

		<div class="flyingGirl">
			<img src="{{flyingGirl}}" />
		</div>
	</div>

</div>
</script>