<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page5.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}}
    {{#if headerblock}}
        <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
            <div class="headerblock">
                {{#each headerblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
    {{else}}
        <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
       
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if numericaltype1block}}
            <div class="numericaltype1block {{numericaltype1blockadditionalclass}}">
                {{#each numericaltype1block}}
                    {{> numericaltype1content}}
                {{/each}}
            </div>
            {{/if}}
            {{#if numericaltype2block}}
            <div class="numericaltype2block {{numericaltype2blockadditionalclass}}">
                {{#each numericaltype2block}}
                    {{> numericaltype2content}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="listcontent-partial" type="text/x-handlebars-template">
   <li class="{{listclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{listdata}}}</li>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="numericaltype1content-partial" type="text/x-handlebars-template">
    <p class="numericalquestion" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-beforecontent="{{beforecontentdata}}">{{{numericalquestiondata}}}</p>
    <div class="givencontainer">
        <div class="giveninputscontainer">
            <p class="givenintro">{{givenintrodata}}</p>
            {{#each giveninputs}}
                <div class="giveninput">
                    <span class="inputprefix">{{inputprefixdata}}</span>
                    <input type="text" data-correctans="{{correctansdata}}" maxlength="3" data-iscorrect=""></input>
                    <b class="inputunit">{{inputunitdata}}</b>
                    <button type="button" id="checkanswer" class="btn btn-primary">{{checkanswerdata}}</button>
                    <i class="userhint" data-highlighthintnumber="{{tohighlight}}">{{hintdata}}</i>
                </div>
            {{/each}}
        </div>
        <div class="givenimgcontainer">
            <img src="{{givenimgsrc}}">
        </div>
    </div>
    <div class="unknownvarcontainer">
        <p class="unknownvarintro">{{unknownvarintrodata}}</p>
        {{#each unknownvariables}}
            <p class="unknownvar">{{unknownvardata}}</p>
        {{/each}}
    </div>
    <button type="button" id="showsolution" class="btn btn-success btn-lg">{{showsolutiondata}}</button>
    <div class="solutioncontainer">
        <b class="solutiontext">{{solutiondata}}</b>
        <p class="solutionintro">{{solutionintrodata}}</p>
        <p class="solution">
            <span data-showslowly="">{{solutionpart1data}}</span>
            <span data-showslowly="">{{solutionequaltosign}}</span>
            <span class="fraction" data-showslowly="">
                <em class="numerator">{{fraction1numerator}}</em>
                <strong class="denominator">{{fraction1denominator}}</strong>
            </span>
            <span data-showslowly="">{{solutionequaltosign}}</span>
            <span class="fraction" data-showslowly="">
                <em class="numerator">{{fraction2numerator}}</em>
                <strong class="denominator">{{fraction2denominator}}</strong>
            </span>
            <span data-showslowly="">{{solutionequaltosign}}</span>
            <span data-showslowly="">{{solutionpart3data}}</span>
        </p>        
    </div>
    <p class="answer" data-highlight="{{answerdatahighlightflag}}">{{solutionanswerdata}}</p>
</script> 

<script id="numericaltype2content-partial" type="text/x-handlebars-template">
    <p class="numericalquestion" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-beforecontent="{{beforecontentdata}}">{{{numericalquestiondata}}}</p>
    <div class="givencontainer">
        <div class="giveninputscontainer">
            <p class="givenintro">{{givenintrodata}}</p>
            {{#each giveninputs}}
                <div class="giveninput">
                    <span class="inputprefix">{{inputprefixdata}}</span>
                    <input type="text" data-correctans="{{correctansdata}}" maxlength="3" data-iscorrect=""></input>
                    <b class="inputunit">{{inputunitdata}}</b>
                    <button type="button" id="checkanswer" class="btn btn-primary">{{checkanswerdata}}</button>
                    <i class="userhint" data-highlighthintnumber="{{tohighlight}}" data-extrahint="{{extrahintdata}}">{{hintdata}}</i>
                </div>
            {{/each}}
        </div>
        <div class="givenimgcontainer">
            <img src="{{givenimgsrc}}">
        </div>
    </div>
    <div class="unknownvarcontainer">
        <p class="unknownvarintro">{{unknownvarintrodata}}</p>
        {{#each unknownvariables}}
            <p class="unknownvar">{{unknownvardata}}</p>
        {{/each}}
    </div>
    <div class="solutionandbuttoncontainer">
    <div class="solutionbuttoncontainer">
        <button type="button" id="showsolution1" class="btn btn-success btn-lg">{{showsolution1data}}</button>
        <button type="button" id="showsolution2" class="btn btn-success btn-lg">{{showsolution2data}}</button>
    </div>
    <div class="allsolutioncontainer">
        <div class="solution1container">
            <b class="solutiontext">{{solution1data}}</b>
            <p class="solutionintro">{{solution1introdata}}</p>
            <p class="solution">
                <span data-showslowly="">{{solution1part1data}}</span>
                <span data-showslowly="">{{solutionequaltosign}}</span>
                <span data-showslowly="">{{solution1part2data}}</span>
                <span data-showslowly="">{{solutionequaltosign}}</span>
                <span data-showslowly="">{{solution1part3data}}</span>
                <span data-showslowly="">{{solutionequaltosign}}</span>
                <span data-showslowly="">{{solution1part4data}}</span>                
            </p>        
        </div>
        <div class="solution2container">
            <b class="solutiontext">{{solution2data}}</b>
            <p class="solutionintro">{{solution2introdata}}</p>
            <p class="solution">
                <span data-showslowly="">{{solution2part1data}}</span>
                <span data-showslowly="">{{solutionequaltosign}}</span>
                <span class="fraction" data-showslowly="">
                    <em class="numerator">{{q2solution2fraction1numerator}}</em>
                    <strong class="denominator">{{q2solution2fraction1denominator}}</strong>
                </span>
                <span data-showslowly="">{{solutionequaltosign}}</span>
                <span class="fraction" data-showslowly="">
                    <em class="numerator">{{q2solution2fraction2numerator}}</em>
                    <strong class="denominator">{{q2solution2fraction2denominator}}</strong>
                </span>
                <span data-showslowly="">{{solutionequaltosign}}</span>
                <span data-showslowly="">{{solution2part2data}}</span>            
            </p>        
        </div>
    </div>    
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>