body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
[class*=background], .imgblkdiv{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.cvChpter{
  position: absolute;
  top: 10%;
  left: 50%;
  color: #351c75;
  font-size: 11vh;
  transform: translate(-50%);
}

[class*=sp-1]{
  position: absolute;
  width: 28%;
  height: 19%;
  top: 35%;
  left: 22%;
  transform: translate(-59%,-57%);
  padding: 1% 2% 2% 2%;
}
[class*=sp-2]{
  position: absolute;
  width: 33%;
  height: 28%;
  top: 48%;
  left: 56%;
  transform: translate(-59%,-57%);
  padding: 1% 2% 3% 2%;
}
[class*=sp-3]{
  position: absolute;
  width: 33%;
  height: 28%;
  top: 39%;
  left: 40%;
  transform: translate(-59%,-57%);
  padding: 2% 3% 6% 2%;
}
[class*=s7txtbx]{
  width: 30%;
  height: 20%;
  left: 37%;
  padding: 2% 3% 3% 2%;
  transform: scaleX(-1);
  top:33%;
}
[class*=s9txtbx]{
  width: 24%;
  height: 21%;
  left: 34%;
  top: 61%;
}
[class*=s10txtbx]{
  width: 24%;
  height: 21%;
  left: 22%;
  top: 61%;
}
[class*=s6SecTxtBox]{
  width: 24%;
  height: 21%;
  left: 17%;
  top: 56%;
}
[class*=s11txtbx]{
  left: 22%;
  top: 21%;
}

.textInSp{
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.revertWord{
  transform: translate(-50%,-50%) scaleX(-1);
}
.textInSp1{
  width: 90%;
  left: 4%;
  top: 19%;
  transform: scaleX(-1);
  font-size: 3vh;
}
[class*=inverted]{
  transform: rotateY(180deg);
}
[class*=sahil]{
  position: absolute;
  width: 12%;
  top: 46%;
  left: 26%;
}
.shlS11{
  width: 7%;
  top: 24%;
  left: 2%;
}
[class*=sahilgif]{
  position: absolute;
  width: 14%;
  top: 40%;
  left: 25%;
}
[class*=asha]{
  position: absolute;
  width: 5%;
  top: 61%;
  left: 36%;
}
[class*=niti]{
  position: absolute;
  width: 5%;
  top: 62%;
  left: 23%;
}
.nitis11{
  width: 3%;
  top: 36%;
  left: 6%;
}
[class*=wdth9lft34]{
  width: 9%;
  left: 34%;
}
.ashas11{
  width: 3%;
  left: 10%;
  top: 35%;
}
.queenImagine{
  position: absolute;
  width: 34%;
  left: 33%;
  top: 0%;
}

.spkrimgtxtcontainer{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 17%;
  display: flex;
  flex-flow: row;
}
.spkrimgcontainer{
  position: relative;
  width: 15%;
  height: 100%;
  background: #b4a7d6;
}
.spkrtextcontainer{
  position: relative;
  width: 85%;
  height: 100%;
  background: #fffcca;
}
[class*=spkrtxt]{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.toptalkingHead{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 75%;
  left: 50%;
  transform: translate(-50%);
}


.zoomInAnim{
  animation: zmAnm 3s linear forwards;
}
@keyframes zmAnm {
  100%{transform: scale(1.4,1.4);left: -15%;}
}

.zoomed{
  transform: scale(2.5,2.5);
  left: -3%;
  top: -31%;
}

.zmOutAnim{
  animation: zomOut 3s linear forwards;
}
.zmOutAnimKngQn{
  animation: zomOut 3s linear forwards;
}
@keyframes zomOut {
  100%{transform: scale(1,1);top:0%;left: 0%;}
}
.lakhey{
  position: absolute;
  width: 24%;
}
.lkhy1{
  left: 56%;
  top: 40%;
}
.lkhy2{
  left: 67%;
  top: 23%;
}

.animLakhe{
  animation: lkhAnm 3s linear forwards;
}

@keyframes lkhAnm {
  100% {
    transform: scale(1.8,1.8);
    left: -27%;
    top: -9%;
  }
}

.s9zm{
  animation: s9zmAnm 3s linear forwards;
}
@keyframes s9zmAnm {
  100%{transform: scale(1.4,1.4);left: -8%;}
}

.s9zmd{
  transform: scale(1.4,1.4);
  left: -8%;
}
.natak{
  position: absolute;
  width: 17%;
  top: 44%;
  left: 69%;
}
.ntk2{
  top: 37%;
  left: 53%;
}
.ntk3{
  top: 55%;
  left: 60%;
}
@media (min-aspect-ratio:4/3){
	[class*=txtSz4]{
		font-size: 4vh;
	}
  [class*=txtSz3]{
    font-size: 3vh;
  }
  [class*=txtSz3hlf]{
    font-size: 3.5vh;
  }
  .cvChpter{
    font-size: 11vh;
  }
}

@media (max-aspect-ratio:4/3){
	[class*=txtSz4]{
		font-size: 2.5vw;
	}
  [class*=txtSz3]{
    font-size: 2vw;
  }
  [class*=txtSz3hlf]{
    font-size: 2vw;
  }
  .cvChpter{
    font-size: 7vw;
  }
}
[class*=inverted]{
  transform: rotateY(180deg);
}
[class*=grayscaled]{
  filter: grayscale(100%);
}
[class*=opacitysvn]{
  opacity: 0.7;
}
[class*=hidn]{
  display: none;
}
