body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.grnBg{
  background: #45818e;
}
[class*=topInstrn]{
  position: absolute;
  top: 0%;
  padding: 1%;
  background: #c1e5ff;
  width: 100%;
  height: 10%;
}
[class*=tpInstrnSec]{
  top: 10%;
  background: #216e99;
  color: #fff;
}
.qn_top{
  position: absolute;
  left: 50%;
  width: 80%;
  transform: translate(-50%);
}
.imagestartpos {
  position: absolute;
  width: 10%;
  display: none;
  left: 88%;
  top: 39%;
}
.wastage{
  position: absolute;position: absolute;
  top: 75%;
  width: 7%;
  left: 57%;
}


.forhover:hover {
    background: #f6b26b;
    border: 5px solid #e69138;
    color: #000;
    cursor: pointer;
}



.twoImgsCont{
  position: absolute;
  top: 25%;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.singleImgCont{
  position: absolute;
  bottom: 2%;
  right: 0%;
  width: 60%;
  height: 75%;
}
.singleImg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}
.s5Img{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 30%;
}

[class*=hidn]{
  display: none;
}
[class*=flexImages]{
  position: relative;
  width: 59%;
}
.imgstoshowdiv{
  position: relative;
  width: 50%;
}
.background{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.topStatement{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.bottomStatement{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
}
.clickableoptn{
  position: absolute;
  top: 100%;
  left: 50%;
  width: 69%;
  height: 20%;
  transform: translate(-50%);
}
.buttonsel{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;
  padding: 4%;
  background: #4d90fe;
  border: 3px solid #4d90fe;
  color: #fff;
  border-radius: .5em;
  width: 80%;
  font-size: 4vh;
}
.spriteCont{
  position: absolute;
  width: 8%;
  height: 21%;
  top: 57%;
  left: 58%;
  overflow: hidden;
}
.sweeping{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 200%;
  cursor: pointer;
}
.swepAnim{
  animation: sweepAnim .3s infinite steps(2) forwards alternate;
}
@keyframes sweepAnim {
  100%{left: -200%;}
}
.dilak{
  position: absolute;
  top: 56%;
  left: 43%;
  width: 11%;
}
.playing_dog{
  position: absolute;
  top: 61%;
  left: 26%;
  width: 11%;
}
.girlInCycle{
  position: absolute;
  top: 27%;
  left: 100%;
  width: 9%;
  transform: rotateY(0deg);
  animation: girlCycleAnim 20s linear infinite;
}
@keyframes girlCycleAnim {
  50%{left: -10%;transform: rotateY(0deg);}
  51%{left: -10%;transform: rotateY(180deg);}
  100%{left: 102%;transform: rotateY(180deg);}
}
.grlSkipping{
  position: absolute;
  top: 34%;
  left: 67%;
  width: 21%;
}
.grlSwing{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 21%;
  z-index: 10;
}


 /*----------------------type 5 exercise end---------------------*/
 @media screen and (min-aspect-ratio: 4/3) {
 	/*vh*/
 	.boxtxt {
 		font-size: 3vh;
 	}
  .topStatement, .qn_top, .bottomStatement{
  		font-size: 5vh;
  }
   .optionsdiv p{
     font-size: 4vh;
   }
 }
 @media screen and (max-aspect-ratio: 4/3) {
 	/*vh*/
  .qn_top{
  		font-size: 1.5vw;
  }
   .optionsdiv p{
     font-size: 2.5vw;
   }
 }
