body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.cvChpter{
  position: absolute;
  top: 10%;
  left: 50%;
  color: #351c75;
  font-size: 11vh;
  transform: translate(-50%);
}

[class*=sp-1]{
  width: 32%;
  height: 28%;
  top: 35%;
  left: 54%;
  transform: translate(-59%,-57%);
  padding: 3% 4% 8% 3%;
}
[class*=sps1]{
  width: 25%;
  height: 21%;
  top: 60%;
  left: 18%;
  transform: translate(-59%,-57%);
  padding: 1% 3% 2% 2%;
}
[class*=l49]{
  left: 49%;
}
[class*=sp1Big]{
  width: 40%;
  height: 32%;
}
[class*=sps6]{
  width: 26%;
  height: 22%;
  top: 54%;
  left: 20%;
  padding: 1% 2% 2% 3%;
}
[class*=sps7]{
  width: 35%;
  height: 28%;
  top: 34%;
  left: 56%;
  padding: 3% 2% 5% 2%;
}
[class*=sps8]{
  width: 26%;
  height: 25%;
  top: 50%;
  left: 57%;
  padding: 2% 2% 3% 2%;
}
[class*="sps9"] {
  width: 31%;
  height: 39%;
  top: 32%;
  left: 45%;
  padding: 3% 2% 9% 2%;
}
.sp-1>p{
	width: 84%;
	left: 8%;
	top: 50%;
	transform: translateY(-50%);
}
.textInSp{
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

[class*=niti]{
  position: absolute;
  width: 8%;
  top: 64%;
  left: 24%;
}
[class*=wdth5]{
  width: 5%;
}
.nitiHome{
  position: absolute;
  width: 3.5%;
  top: 64%;
  left: 56.5%;
}
[class*=asha]{
  position: absolute;
  width: 5%;
  top: 62%;
  left: 39%;
}

[class*=wdth9]{
  width: 9%;
}
.ashaHome{
  position: absolute;
  width: 5%;
  top: 68%;
  left: 23%;
}
[class*=sahil]{
  position: absolute;
  width: 13%;
  top: 43%;
  left: 28%;
}
.sahilHome{
  position: absolute;
  width: 7%;
  top: 54%;
  left: 58%;
}

[class*=shls7]{
  width: 9%;
  top: 45%;
  left: 32%;
}








[class*=inverted]{
  transform: rotateY(180deg);
}

@media (min-aspect-ratio:4/3){
	[class*=txtSz4]{
		font-size: 4vh;
	}
  [class*=txtSz3]{
    font-size: 3vh;
  }
  [class*=txtSz3hlf]{
    font-size: 3.5vh;
  }
  .cvChpter{
    font-size: 11vh;
  }
}

@media (max-aspect-ratio:4/3){
	[class*=txtSz4]{
		font-size: 2.5vw;
	}
  [class*=txtSz3]{
    font-size: 2vw;
  }
  [class*=txtSz3hlf]{
    font-size: 2vw;
  }
  .cvChpter{
    font-size: 7vw;
  }
}
.inverted{
  transform: rotateY(180deg);
}
