.weatherclimate {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.weatherclimate, .weatherclimate * {
	position: relative;
	margin: 0;
	padding: 0;
}

.weatherclimate .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.weatherclimate .prevBtn{
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.weatherclimate .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*********
*****activity specific******
******************/




.weatherclimate .board .atmosphereFirstWrapper .introText {
	position: absolute;
	color: #fff;
	font-size: 1.6em;
	padding-top: 1%;
	z-index: 2;
	width: 70%;
	text-align: center;
	left: 15%;
}

.weatherclimate .board .atmosphereFirstWrapper .imgHolder {
	width: 60%;
	padding: 5%;
	margin : auto;
}

.weatherclimate .board .atmosphereFirstWrapper .imgHolder {
	width: 100%;
	height: 100%;
	background: url(../images/earth_bg.png);
	background-size: 100%;
	padding: 0;
	margin: 0;
}

.weatherclimate .board .atmosphereFirstWrapper .descText {
	position: absolute;
	top: 15%;
	color: #fff;
	width: 60%;
	left: 20%;
}

.weatherclimate .board .atmosphereFirstWrapper .descText2 {
	position: absolute;
	text-align: justify;
	bottom: 1%;
	color: #fff;
	width: 70%;
	left: 15%;
	/*display: none;*/
}


.weatherclimate .board .atmosphereFirstWrapper .imgHolder.bg img {
	width: 20%;
	top: 35%;
	left: 40%;
}

.weatherclimate .board .atmosphereFirstWrapper .imgHolder.atmosphereShow img {
	width: 40%;
	top: 17%;
	left: 30%;
}

.weatherclimate .board .wrapperIntro {
	text-align: center;
	background: url(../images/page7/earth-bg.png);
	background-size: 100%;
	width: 100%;
	height: 100%;

}

.weatherclimate .board .wrapperIntro .introText {
	position: absolute;
	font-size: 1.6em;
	padding-top: 1%;
	color: #fff;
	z-index: 1;
	width: 80%;
	text-align: center;
	left: 10%;
	top: 0;
}

.weatherclimate .board .wrapperIntro .introText2 {
	position: absolute;
	font-size: 1.6em;
	padding-top: 1%;
	color: #fff;
	z-index: 1;
	width: 30%;
	/*background: #c9c9c9;*/
	text-align: center;
	right: 5%;
	top: 20%;
	display: none;
}

.weatherclimate .board .wrapperIntro .introText2:after {
	content: "";
	position: absolute;
	left: -30%;
	top: 50%;
	width: 30%;
	height: 30%;
	background: url(../images/arrow.png);
	background-size: 100% 100%;
}

.weatherclimate .board .wrapperIntro .imgHolder {
	position: absolute;
	width: 40%;
	top: 17%;
	left: 30%;
	padding: 0%;
	margin : 0;
}

.weatherclimate .board .wrapperIntro .imgHolder img {
	width: 100%;
}

.wrapperIntro .imgHolder .clickPart {
	position: absolute;
	top: 3%;
	left: 33%;
	width: 30%;
	height: 30%;
	/*background: rgba(0,0,0,0.7);*/
	cursor: pointer;
	display: none;
}

.weatherclimate .board .wrapperArea {
	width: 100%;
	height: 100%;
	background: url(../images/page7/atmosphere.png);
	background-size: 100%;
}

.wrapperArea .layer1 {
	width: 100%;
	height: 24.3%;
	cursor: pointer;
	/*background: #000;*/
}

.wrapperArea span.title {
	position: absolute;
	color: #fff;
	font-size: 1.5em;
	bottom: 30%;
	left: 35%;
	background: rgba(0,0,0,0.7);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	border: 1px solid #c9c9c9;
}

.wrapperArea span.title:hover {
	background: rgba(254,254,254,0.7);
	color: #22313F;
	border: 1px solid #22313F;
}

.wrapperArea .layer2 {
	width: 100%;
	height: 17.7%;
	cursor: pointer;
	/*background: #000;*/

}

.wrapperArea .layer3 {
	width: 100%;
	height: 14.6%;
	cursor: pointer;
	/*background: #000;*/
}

.wrapperArea .layer4 {
	width: 100%;
	height: 12.8%;
	cursor: pointer;
	/*background: #000;*/
}

.wrapperArea .layer5 {
	width: 100%;
	height: 25%;
	cursor: pointer;
	/*color: #000; !important;*/
	/*background: #000;*/
}

 .wrapperArea .layer5 span.title {
	position: absolute;
	color: #fff;
	font-size: 1.5em;
	bottom: 55%;
	left: 35%;
}

.wrapperArea .layer5 span.title:hover {
	background: rgba(254,254,254,0.7);
	color: #22313F;
	border: 1px solid #22313F;
}

.wrapperArea .desc {
	position: absolute;
	top: 7%;
	right: 1%;
	width: 40%;
	height: 60%;
	background: rgba(0,0,0,0.7);
	/*border-radius: 10px;*/
	overflow-y : auto;
	box-shadow: 0 0 10px #383838;
	color: #fff;
}

.wrapperArea .desc .title {
	width: 100%;
	text-align: center;
	background: rgba(255,255,255,0.3);
	font-size: 1.3em;
}

.wrapperArea .desc .showDesc {
	padding: 2%;
	font-size: 1em;
}
