.weatherclimate {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.weatherclimate, .weatherclimate * {
	position: relative;
	margin: 0;
	padding: 0;
}

.weatherclimate .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.weatherclimate .prevBtn{
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.weatherclimate .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #FFFBE1;
}

/*********
*****activity specific******
******************/

.diy{
	width: 100%;
	height: 90%;

	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.diy > figure{
	width: 30%;
	height: 50%;
}

.diy > figure > img{
	width: 100%;
	height: 100%;
}

.diy > figure > figcaption{
	top:-92%;
	left:30%;
	text-align: left;
	font-size: 2em;
	color:#C98865;
}

.diy > p{
	color:black;
	font-size: 1.5em;
	padding: 0% 2%;
}


.weatherclimate .board #canvasHolder {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #c9c9c9;
	background: url(../images/diy/earth_bg.png);
	background-size: 100%;
}

#stillCanvas {
	/*background: #00ff00;*/
}

#animationCanvas {
	position: absolute;
	top: 0;
	left: 0;
	/*background: #ff0000;*/
}

.weatherclimate .board .others {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #393939;*/
}


.weatherclimate .board .diyActivity .caption {
	position: absolute;
	left: 10%;
	top: 15%;
	width: 80%;
	text-align: center;
	z-index: 5;
	font-size: 1em;
}

.weatherclimate .board .diyActivity img {
	width: 100%;
}

.weatherclimate .board .diyActivity {
	position: absolute;
	z-index: 5;
	width: 15%;
	padding: 1%;
	display: inline-block;
	vertical-align: top;
	/*background: #000;*/
}

.others .qa {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
}

.others .qa .info {
	position: absolute;
	width: 30%;
	min-height: 20%;
	padding: 5px;
	padding-left: 20px;
	padding-top: 16px;
	background: rgba(254,254,254,0.5);
	top: 35%;
	right: 1%;
	display: none;
}

.others .qa .info .ok {
	display: block;
	margin:auto;
	cursor: pointer;
	width: 15%;
	position: absolute;
	right: 10%;
}

.imgHolder {
	position: absolute;
	top: 6.8%;
	left: 24%;
	width: 52%;
	/*background: rgba(0,0,0,0.1);*/
}

.imgHolder img {
	width: 100%;
	opacity: 0.5;
}

.others .options .titleQ {
	position: relative;
	padding: 5px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	color: #fff;
}

.others .options {
	position: absolute;
	top: 20%;
	left: 2%;
	width: 25%;
	/*padding: 10px;*/
	background: rgba(254,254,254,0.5);
	display: none;
}

.others .options span {
	width: 48%;
	padding: 10px;
	display: inline-block;
}

.others .options img {
	width: 100%;
	cursor: pointer;
}

.others .bigCircle.sphere1 {
	position: absolute;
	top: 34%;
	left: 40%;
	width: 20%;
	height: 33%;
	background: rgba(0,0,0,0.4);
	border-radius: 100%;
	display: none;
}

.others .maskCircle.sphere1 {
	position: absolute;
	top: 36%;
	left: 41.5%;
	width: 17%;
	height: 28%;
	background: rgba(254,254,254,1);
	border-radius: 100%;
	display: none;
}

.others .questions .questionTitle {
	position: relative;
	padding: 5px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	color: #fff;
}

.others .questions {
	position: absolute;
	top: 30%;
	left: 2%;
	width: 25%;
	/*padding: 10px;*/
	background: rgba(254,254,254,0.5);
	/*display: none;*/
}

.others .questions span {
	width: 100%;
	padding: 5px;
	padding-left: 20%;
	border-bottom: 1px solid #383838;
	display: inline-block;
	cursor: pointer;
}

.others .questions span:hover {
	background: #c9c9c9;
}

.others .questions span.wrong {
	background: #960D14;
	color: #fff;
}

.others .questions span.wrong:hover {
	background: #D44950;
	color: #006400;
}
.endBtn {
	display: none;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	bottom: 1%;
	right: 1%;
	width: 6%;
	height: 12%;
	z-index: 10000;
}
