.activity_container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	font-family: sniglet;
}
.titleex {
	position: absolute;
	left: 4%;
	top: 3%;
	font-size: 4vmin;
}

.activity_container, .activity_container * {
	position: relative;
	margin: 0;
	padding: 0;
}

.activity_container .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.activity_container .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.imageblock{
	position: relative;
	width: 40%;
	height: 60%;
	/*background-color: #faf;*/
	margin-right: 1%;
	float: right;
}

.imageblock > img{
	position: relative;
	width: 100%;
	max-height: 100%;
}

.lowertextblock {
	position: relative;
	height: auto;
	width: 58%;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 0.5em 0.8em 1em 0.8em;
	float: left;
}

.closebtn1:hover {
	color: black;
}

.cong {
    background-color: #1bc402;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000;
    color: white;
    display: none;
    font-size: 1.5em;
    left: 12%;
    margin-bottom: 15px;
    padding: 20px;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    width: 70%;
}

.closebtn1 {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.SequenceTimeLine {
    display: none;
}




/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}






/****************************
 *		ex specific css		*
 ****************************/
.exerciseblock{
	position: absolute;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 15%;
}
.default-bg{
	background-color: #FFF2CC;
}
.center-image{
	position: absolute !important;
	bottom: 10%;
	left: 1%;
	width: 58%;
}
.instruction_bg{
	z-index: 100;
	background-color: #67BACA;
}
.instruction-text{
	position: absolute!important;
	text-align: center;
	font-size: 4vw;
	width: 100%;
	top: 50%;
	left: 0%;
	padding: 1% 5%;
	background-color: #8E73A0;
	transform: translateY(-50%);
	color: white;
	font-family: chelseamarket;
}
@media (min-aspect-ratio: 4/3){
	.instruction-text{
		font-size: 5.2vh;
	}
}

.question{
	position: relative;
	text-align: center;
	font-size: 2.7vw;
	width: 100%;
	padding: 1%;
	left: 0%;
	text-align: left;
	font-weight: bold;
	color: #783F04;
}
@media (min-aspect-ratio: 4/3){
	.question{
		font-size: 3.5vh;
	}
}
#ques-no, #ques-data{
	display: inline-block;
	position: relative;
}
#ques-no{
	width: 5%;
	text-align: center;
	float: left;
}
#ques-data{
	width: 90%;
	float: left;
}

.opt-container{
	padding: 2%;
	position: relative;
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.main-container{
	position: relative;
	width: 100%;
	height: 13%;
	text-align: left;
}


.option-container{
	position: relative;
	top: 0%;
	margin-left: 10%;
	cursor: pointer;
	border-radius: 1vmin;
	background-color: #0097A7;
	padding: 1% 2%;
	color: white;
	text-align: left;
	display: inline-block;
	white-space: nowrap;
}
.option-container:hover{
	filter: contrast(125%) brightness(125%);
	-webkit-filter: contrast(125%) brightness(125%);
}

.option-label{
	position: absolute;
	white-space: pre;
	left: 5%;
	top: 50%;
	width: 85%;
	transform: translateY(-50%);
	text-align: left;
	font-family: sniglet;
	font-size: 2vw;
}
@media (min-aspect-ratio: 4/3){
	.option-label{
		font-size: 2.7vh;
	}
}
.correct-icon, .incorrect-icon{
	display: none;
	position: relative;
	height: 80%;
	transform: translateY(-50%);
	top: 50%;
}

.correct-ans{
	pointer-events: none;
	background-color: #98C02E;
	border: 0.5vmin solid #DEEF3C;
}
.incorrect-ans{
	pointer-events: none;
	background-color: #FF0000;
	border: 0.5vmin solid #980000;
}

@font-face {
    font-family: Sniglet;
    src: url('../../fonts/sniglet.ttf');
}
@font-face {
    font-family: ShortStack;
    src: url('../../fonts/ShortStack.ttf');
}
@font-face {
    font-family: Pangolin;
    src: url('../../fonts/Pangolin-Regular.ttf');
}
@font-face {
    font-family: HappyMonkey;
    src: url('../../fonts/happy_monkey/HappyMonkey-Regular.ttf');
}







.ques-last-font{
	font-size: 2.3vw;
}
@media (min-aspect-ratio: 4/3){
	.ques-last-font{
		font-size: 3vh;
	}
}

.ques_img{
	position: absolute;
	top: 45%;
	height: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
}
.label-tab{
	white-space: pre;
}




