.ABS {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.ABS, .ABS * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.ABS .nextBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	right     : 0%;
	width     : 7%;
	height    : 10%;	
}

.ABS .prevBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	left      : 0%;
	width     : 7%;
	height    : 10%;	
}

.board{
	position   : relative;
	top        : 0%;
	left       : 0%;
	width      : 100%;
	height     : 100%;
	text-align : center;
}

/*=====================================
=            common styles            =
=====================================*/

	.vertical-horizontal-center{
		position          : relative;	
		top               : 50%;
		left              : 50%;
		transform         : translate(-50%, -50%);
		-moz-transform    : translate(-50%, -50%);
		-webkit-transform : translate(-50%, -50%);
		text-align        : center;
	}

	.vertical-center{
		position          : relative;	
		top               : 50%;
		transform         : translateY(-50%);
		-moz-transform    : translateY(-50%);
		-webkit-transform : translateY(-50%);
		text-align        : center;
	}

	/*----------  notification pulse style  ----------*/
	/**
		TODO:
		- To enable notification pulse add 'data-usernotification="notifyuser"'
		  attribute to the html element inside board div
	 */

	@keyframes pulse {
	 0% { transform   : scale(0); opacity: 0.0; }
	 25% { transform  : scale(0); opacity: 0.6; }
	 50% { transform  : scale(0.1); opacity: 0.8; }
	 75% { transform  : scale(0.5); opacity: 1; }
	 100% { transform : scale(1); opacity: 0.0; }
	}

	@-moz-keyframes pulse {
	 0% { -moz-transform   : scale(0); opacity: 0.0; }
	 25% { -moz-transform  : scale(0); opacity: 0.6; }
	 50% { -moz-transform  : scale(0.1); opacity: 0.8; }
	 75% { -moz-transform  : scale(0.5); opacity: 1; }
	 100% { -moz-transform : scale(1); opacity: 0.0; }
	}

	@-webkit-keyframes pulse {
	 0% { -webkit-transform   : scale(0); opacity: 0.0; }
	 25% { -webkit-transform  : scale(0); opacity: 0.6; }
	 50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
	 75% { -webkit-transform  : scale(0.5); opacity: 1; }
	 100% { -webkit-transform : scale(1); opacity: 0.0; }
	}

	/*for all element inside board*/
	.board *[data-usernotification*="notifyuser"]{
		cursor : pointer;
	}

	.board *[data-usernotification*="notifyuser"]::after{
		content          : "";
		position         : absolute;
		top              : 0;
		left             : 60%;
		width            : 2em;
		height           : 2em;
		background-color : white;
		border           : 2px solid black;
		border-radius    : 50%;

		-webkit-animation : pulse 1.2s ease-out infinite;
		-moz-animation    : pulse 1.2s ease-out infinite;
		animation         : pulse 1.2s ease-out infinite;
	}

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

div.textblock{
	position   : relative;
	margin-top : 1%;
	/*border   : 1px solid green; */
}

p.simpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 3%;
	font-size  : 1.3em;
	text-align : left;
	/* border  : 1px solid red; */
}

 p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 20%;
            padding:3%;
            width: 50%;
            font-size: 1.4em;
            text-align: center;
            
            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

p.bottomsimpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	margin-top : 1%;
	padding    : 1% 1%;
	width      : 85%;
	font-size  : 1.2em;
	text-align : left;
	/*border     : 1px solid red;*/
}

p.bigheadingtextstyle{
	display     : table;
	margin      : 0 auto;
	position    : relative;
	padding     : 1%;
	font-size   : 1.3em;
	font-weight : bold;
	/* border   : 1px solid red; */
}

p.mediumheadingtextstyle{
	display     : table;
	margin      : 0 auto;
	position    : relative;
	padding     : 1%;
	font-size   : 1.3em;
	font-weight : bold;
	/* border   : 1px solid red; */
}

div.imageblock{
	position   : relative;
	margin-top : 2%;
	 /*border  : 1px solid green; */
}

img.simpleimgstyle{
	display  : table;
	margin   : 0 auto;
	position : relative;
	padding  : 1%;
	width    : 40%;
}

/*=====  End of general template layout  ======*/

/*=====================================
=            svg layout            =
=====================================*/
div.svglayout{
	position : relative;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

div.svgwrapper{
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
	/*border   : 1px solid blue;*/
}

div.svgcontainer{
	position : relative;
	margin-top : 15%;
	left     : 20%;
	width    : 60%;
	height   : 60%;
	/*border   : 1px solid blue;*/

	/*transition         : left 0.5s 2s linear;
	-moz-transition    : left 0.5s 2s linear;
	-webkit-transition : left 0.5s 2s linear;*/
}

div.imagecharacteristicsbox{
	position         : absolute;
	top              : 100%;
	left             : 25%;
	width            : 60%;
	height           : 10%;
	padding          : 1%;
	background-color : rgb(38, 166, 154);
	color            : rgb(255, 255, 255);

	transition         : top 2s 4s linear;
	-moz-transition    : top 2s 4s linear;
	-webkit-transition : top 2s 4s linear;
}

/*=====  End of svg layout  ======*/

/*===========================================
=            property layout css            =
===========================================*/

		div.propertylayout{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertyblock{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertylistcontainer{
            position: absolute;
            top: 22.5%;
			left: 5%;
            width: 30%;
            height: 65%;
            border:3px solid #660033;
        }

        div.propertylistcontainer h4{
            position: relative;
            color: rgb(255, 255, 255);
            background: #660033 none repeat scroll 0% 0%;
            text-align: center;
            padding: 2% 2%;
            font-size: 1em;
        }

        div.propertylistcontainer p{
            position:relative;
            padding: 3% 2%;
            color: rgb(0, 0, 0);
            font-size: 1.1em;
        }

        div.propertylistcontainer p:nth-of-type(n+2){
            margin-top: 14%;
        }

        div.propertylistcontainer p span{
            position: absolute;
            left:0;
            padding: 1% 3%;
            color: rgb(255, 255, 255);
            background-color: #660033;
            font-weight: bold;
            margin-top: 3%;
        }

        div.propertylistcontainer p small{
            position: absolute;
            left: 15%;
            color: rgb(0, 0, 0);
            text-align: left;
        }

        div.propertylayout div.explainpropertycontainer{
            position:absolute;
            left: 35%;
            top:10%;
            height:87%;
            width:65%;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty{
            position:absolute;
            width:100%;
            margin-top: 2%;
            font-size: 1.2em;
            border-top: 5px solid #C2CB31;
        }


        div.propertylayout div.explainpropertycontainer div.mainproperty span{
            position: absolute;
            left:0;
            padding: 2% 2% 0.5%;
            color: rgb(255, 255, 255);
            background-color: #C2CB31;
            font-weight: bold;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty p{
            position: absolute;
            padding-top: 1%;
            left: 7%;
            color: #5C5C5C;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain{
            position: absolute;
            top:15%;
            left:0%;
            width:100%;
            height:80%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain img{
            position: relative;
            top:10%;
            left:0%;
            width:40%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain p{
            position: relative;
            top:15%;
            left:-1%;
            font-size: 1.1em;
            text-align: center;
        }

/*=====  End of property layout css  ======*/


/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/


/*====================================
=            personal css            =
====================================*/
.middlepara{
	position: relative;
	opacity: 0;
	margin-top: 2%;
	width: 100%;
	left: -7%;
	padding: 1%;
	color: #0088AF;
	font-size: 1.3em;
	/*background: #aaa;*/
}

.weak_acid_large{
	position: relative;
	margin-top: 0%;
    width: 35%;
}
.strong_acid_large{
	position: relative;
    width: 35%;
	margin-top: 0%;
}
@keyframes leftfloat{
    0%{
        opacity: 0.2;
        transform: translateY(40px);
    }
    60%{
        opacity: 0.6;
        transform: translateX(60px);

    }
    100%{
        opacity: 1;
        transform: translateX(90px);

    }  
}

@-webkit-keyframes leftfloat{
    0%{
        opacity: 0.2;
        transform: translateY(40px);
    }
    60%{
        opacity: 0.6;
        transform: translateX(60px);

    }
    100%{
        opacity: 1;
        transform: translateX(90px);

    }  
}

@-moz-keyframes leftfloat{
    0%{
        opacity: 0.2;
        transform: translateY(40px);
    }
    60%{
        opacity: 0.6;
        transform: translateX(60px);

    }
    100%{
        opacity: 1;
        transform: translateX(90px);

    }  
}

.move{
    animation: leftfloat 1s linear 0.3s 1 forwards;
    -webkit-animation: leftfloat 1s linear 0.3s 1 forwards;
    -moz-animation: leftfloat 1s linear 0.3s 1 forwards;
}
.move2{
    animation: leftfloat 1s linear 2.3s 1 forwards;
    -webkit-animation: leftfloat 1s linear 2.3s 1 forwards;
    -moz-animation: leftfloat 1s linear 2.3s 1 forwards;
}
.acid_small{
	position: relative;
    width: 20%;
    margin-top: 3%;
    margin-left: -55%;
    /*background: #aaa;*/
}

.sidepara{
	position: absolute;
	margin-top: 10%;
	left: 38%;
	font-size: 1.4em;
	color: #F8735D;
	font-weight: bold;
}
.headerblockwithimg{
	position: relative;
	margin-top: 0;
	width: 40%;
	height: 28%;
	/*background: #aaa;*/
}

.middledef{
	position: absolute;
	left: 4%;
	margin-top:-3%;
	width: 75%;
	padding: 2%;
	border-radius: 20px;
	background: #D7EAE5;
	text-align: left;
	opacity: 0;
}

.middledef1{
	position: absolute;
	left: 0%;
	margin-top:-2%;
	width: 75%;
	padding: 2%;
	font-size: 1.2em;
	border-radius: 20px;
	color: #D26B6E;
	text-align: left;
}

.middledef2{
	position: absolute;
	left: 4%;
	margin-top:10%;
	width: 75%;
	padding: 3%;
	border-radius: 20px;
	background: #D7EAE5;
	text-align: left;
	opacity: 0;
}


/*svg hand css*/

.clickmeacid{
	position: absolute;
	top: 65%;
	left: 27%;
	width: 5%;
	z-index: 9999;
	cursor: pointer;
}

@keyframes show {
	to { opacity: 1; }
}

@-moz-keyframes show {
	to {opacity: 1; }
}

@-webkit-keyframes show {
	to {opacity: 1; }
}

.showanim{
	animation: show 1s linear 0.4s 1 forwards;
	-webkit-animation: show 1s linear 0.4s 1 forwards;
	-moz-animation: show 1s linear 0.4s 1 forwards;
}

@keyframes dropit {
	0%{
		opacity: 1;
	}
	
	100%{
		transform: translateY(170px);
		opacity: 0;
	}
}

@-moz-keyframes dropit {
	0%{
		opacity: 1;
	}
	100%{
		-moz-transform: translateY(170px);
		opacity: 0;
	}
}

@-webkit-keyframes dropit {
	0%{
		opacity: 1;
	}
	100%{
		-webkit-transform: translateY(170px);
		opacity: 0;
	}
}

.godown{
	animation: dropit 2s linear 2s 1 forwards;
	-webkit-animation: dropit 2s linear 2s 1 forwards;
	-moz-animation: dropit 2s linear 2s 1 forwards;
}

@keyframes danger {
	0%{
		opacity: 0.1;
	}
	20%{
		opacity: 0.2;
	}
	40% { 
		opacity: 0.4; 
	}
	60%{
		opacity: 0.6;
	}
	80%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}

@-moz-keyframes danger {
	0%{
		opacity: 0.1;
	}
	20%{
		opacity: 0.2;
	}
	40% { 
		opacity: 0.4; 
	}
	60%{
		opacity: 0.6;
	}
	80%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes danger {
	0%{
		opacity: 0.1;
	}
	20%{
		opacity: 0.2;
	}
	40% { 
		opacity: 0.4; 
	}
	60%{
		opacity: 0.6;
	}
	80%{
		opacity: 0.8;
	}
	100%{
		opacity: 1;
	}
}

.metalanim{
	animation: danger 3s linear 3s 1 forwards;
	-weblit-animation: danger 3s linear 3s 1 forwards;
	-moz-animation: danger 3s linear 3s 1 forwards;
}

.svgfirstpara{
	position: absolute;
	margin-top: 5%;
	right: -40%;
}

.tableblock{
	position: relative;
	background: #aaa;
	width: 70%;
	margin-top: 10%;
	left: 15%;
}

.strong_acid{
	position: relative;
	margin-top: 9%;
	width: 20%;
	left: 0%;
}

.acidtitle{
	position: absolute;
	margin-top: 10%;
	left: 0%;
	opacity: 0;
	padding: 2%;
	font-size: 1.3em;
	color: #007B5E;
	border-radius: 8px;
	background: #EDF5CC;
}

@keyframes peekaboo {
	0%{
		opacity: 0;
       	transform: translateX(-30px);
	}
	100% { 
		opacity: 1; 
		transfrom: translateX(0px);
	}
}

@-moz-keyframes peekaboo {
	0%{
		opacity: 0;
       -moz-transform: translateX(-30px);
	}
	100% { 
		opacity: 1; 
		-moz-transfrom: translateX(0px);
	}
}

@-webkit-keyframes peekaboo {
	0%{
		opacity: 0;
       -moz-transform: translateX(-30px);
	}
	100% { 
		opacity: 1; 
		-webkit-transfrom: translateX(0px);
	}
}

.showfromleft{
	animation: peekaboo 0.8s linear 0.3s 1 forwards;
	-webkit-animation: peekaboo 0.8s linear 0.3s 1 forwards;
	-moz-animation: peekaboo 0.8s linear 0.3s 1 forwards;
}

.showfromleft2{
	animation: peekaboo 0.8s linear 2s 1 forwards;
	-webkit-animation: peekaboo 0.8s linear 2s 1 forwards;
	-moz-animation: peekaboo 0.8s linear 2s 1 forwards;
}
.showfromleft3{
	animation: peekaboo 0.8s linear 3s 1 forwards;
	-webkit-animation: peekaboo 0.8s linear 3s 1 forwards;
	-moz-animation: peekaboo 0.8s linear 3s 1 forwards;
}
@keyframes peekaboo2 {
	0%{
		opacity: 0;
       	transform: translateX(30px);
	}
	100% { 
		opacity: 1; 
		transfrom: translateX(0px);
	}
}

@-moz-keyframes peekaboo2 {
	0%{
		opacity: 0;
       -moz-transform: translateX(30px);
	}
	100% { 
		opacity: 1; 
		-moz-transfrom: translateX(0px);
	}
}

@-webkit-keyframes peekaboo2 {
	0%{
		opacity: 0;
       -moz-transform: translateX(30px);
	}
	100% { 
		opacity: 1; 
		-webkit-transfrom: translateX(0px);
	}
}

.showfromright{
	animation: peekaboo2 0.8s linear 2s 1 forwards;
	-webkit-animation: peekaboo2 0.8s linear 2s 1 forwards;
	-moz-animation: peekaboo2 0.8s linear 2s 1 forwards;
}
.showfromright2{
	animation: peekaboo2 0.8s linear 3s 1 forwards;
	-webkit-animation: peekaboo2 0.8s linear 3s 1 forwards;
	-moz-animation: peekaboo2 0.8s linear 3s 1 forwards;
}
.showfromright3{
	animation: peekaboo2 0.8s linear 4s 1 forwards;
	-webkit-animation: peekaboo2 0.8s linear 0.3s 1 forwards;
	-moz-animation: peekaboo2 0.8s linear 0.3s 1 forwards;
}
.usesinfo1{
	/*color:#960000; */
	position: absolute;
	margin-top: 2%;
	right: 0;
	width: 70%;
	padding: 1%;
	font-size: 1.1em;
	opacity: 0;
	background: #EDF5CC;
	border-radius: 8px;
}

.usesinfo2{
	/*color:#960000; */
	position: absolute;
	margin-top: 11%;
	right: 0;
	width: 70%;
	padding: 1%;
	font-size: 1.1em;
	opacity: 0;
	background: #EDF5CC;
	border-radius: 8px;
}

@keyframes updiv{
    from{
            opacity: 1;
        }
    to{
   			margin-top: -1%;
   			background: #fff;
            opacity: 1;
    }
}

@-webkit-keyframes updiv{
    from{
            opacity: 1;
        }
    to{
   			margin-top: -1%;
   			background: #fff;
            opacity: 1;
    }
}
@-moz-keyframes updiv{
    from{
            opacity: 1;
        }
    to{
   			margin-top: -1%;
   			background: #fff;
            opacity: 1;
    }
}

.goupdiv{
	animation: updiv 1s linear 0.3s 1 forwards;
	-webkit-animation: updiv 1s linear 0.3s 1 forwards;
	-moz-animation: updiv 1s linear 0.3s 1 forwards;
}
.headingstylewidanim{
	position: relative;
	margin-top: 20%;
	color:#0088AF; 
	font-size: 1.3em;
	padding: 1%;
	background: #C4E1F3;
}

.colorbox1{
	position: absolute;
	margin-top: 2%;
	left: 0;
	color: #fff;
	width: 35%;
	padding: 6%;
	background: #008001;
	opacity: 0;
}
.colorbox2{
	position: absolute;
	margin-top: 2%;
	right: 0;
	color: #fff;
	width: 35%;
	padding: 4%;
	background: #e57f4d;
	opacity: 0;
}
.colorbox3{
	position: absolute;
	margin-top: 24%;
	left: 0;
	width: 35%;
	padding: 6%;
	background: #C4E1F3;
	opacity: 0;
}
.colorbox4{
	position: absolute;
	margin-top: 25%;
	right: 0;
	width: 35%;
	color: #fff;
	padding: 5%;
	background: #1B70B1;
	opacity: 0;
}
.colorbox5{
	position: absolute;
	margin-top: 12%;
	left: 35%;
	width: 30%;
	padding: 5%;
	background: #FECF45;
	opacity: 0;
}

.headingstyle{
	position: relative;
	margin-top: -1%;
	font-size: 1.3em;
	padding: 1%;
	color: #471133;
	background: #EAEBFF;
}

.headingstyle2{
	position: relative;
	margin-top: -15%;
	font-size: 1.3em;
	padding: 1%;
	color: #471133;
	background: #FFC5AC;
}

.headingmetal1{
	position: absolute;
	margin-top: 1%;
	width: 20%;
	left: 4%;
	font-size: 1.2em;
	color: #F7881F;
}
.headingmetal2{
	position: absolute;
	margin-top: 1%;
	left: 28%;
	width: 20%;
	font-size: 1.2em;
	color: #F7881F;
}
.headingmetal3{
	position: absolute;
	margin-top: 0%;
	left: 53%;
	width: 20%;
	font-size: 1.2em;
	color: #F7881F
}
.headingmetal4{
	position: absolute;
	margin-top: 0%;
	width: 20%;
	right: 5%;
	font-size: 1.2em;
	color: #F7881F;
}
/*chemical property css starts*/
.acidbottle{
	position: absolute;
	margin-top: 0%;
	left: 15%;
	width: 8%;
}

.blank{
	position: absolute;
	margin-top: 5%;
	left: 40%;
	width: 8%;
}
.plus{
	position: absolute;
	margin-top: 5%;
	left: 30%;
	width: 4%;
}
.arrow{
	position: absolute;
	margin-top: 5%;
	left: 54%;
	width: 6%;
}
.question{
	position: absolute;
	margin-top: 5%;
	right: 20%;
	width: 5%;
}
.plus2{
	position: absolute;
	margin-top: 5%;
	right: 18%;
	width: 4%;
	opacity:0;
}
.hydrogengas{
	position: absolute;
	margin-top: 3%;
	right: 10%;
	width: 4%;
	opacity: 0;
}
.waterinbeaker{
	position: absolute;
	margin-top: 5%;
	right: 6%;
	width: 10%;
	opacity: 0;
}

.waterwithbubble{
	position: absolute;
	margin-top: 5%;
	right: 6%;
	width: 10%;
	opacity: 0;
}

.NaCl{
	position: absolute;
	margin-top: 3%;
	right: 25%;
	width: 11%;
	opacity: 0;
}

.MgCl{
	position: absolute;
	margin-top: 3%;
	right: 25%;
	width: 10%;
	opacity: 0;
}

.NaNO{
	position: absolute;
	margin-top: 3%;
	right: 29%;
	width: 5%;
	opacity: 0;
}

.salt{
	position: absolute;
	margin-top: 5%;
	right: 27%;
	width: 10%;
	opacity: 0;
}

.metal1{
	position: absolute;
	margin-top: 35%;
	left: 11%;
	width: 8%;
	cursor: pointer;
}
.metal1info{
	position: absolute;
	opacity: 0;
	margin-top: 7%;
	border-radius: 8px;
	padding: 0.5%;
	left: 3%;
	width: 20%;
	background: #F2E6D0;
}

.metal2{
	position: absolute;
	margin-top: 35%;
	left: 35%;
	width: 8%;
	cursor: pointer;
}

.metal2info{
	position: absolute;
	opacity: 0;
	margin-top: 7%;
	border-radius: 8px;
	padding: 0.5%;
	left: 27%;
	width: 20%;
	background: #F2E6D0;
}

.metal3{
	position: absolute;
	margin-top: 35%;
	right: 30%;
	width: 8%;
	cursor: pointer;
}

.metal3info{
	position: absolute;
	opacity: 0;
	margin-top: 7%;
	border-radius: 8px;
	padding: 0.5%;
	right: 28%;
	width: 20%;
	background: #F2E6D0;
}
.metal4{
	position: absolute;
	margin-top: 35%;
	right: 10%;
	width: 8%;
	cursor: pointer;
}

.metal4info{
	position: absolute;
	opacity: 0;
	margin-top: 7%;
	border-radius: 8px;
	padding: 0.5%;
	right: 3%;
	width: 20%;
	background: #F2E6D0;
}

@keyframes moveleft {
	0%{
		opacity: 1;
       
	}
	100% { 
		opacity: 1; 
		margin-top: 4%;
		left: 47%;
		z-index: 9999;
	}
}

@-moz-keyframes moveleft {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 1; 
		margin-top: 4%;
		left: 47%;
		z-index: 9999;
	}
}

@-webkit-keyframes moveleft {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 1; 
		margin-top: 4%;
		left: 47%;
		z-index: 9999;
	}
}

@keyframes moveimg {
	0%{
		opacity: 1;
       
	}
	100% { 
		opacity: 1; 
		margin-top: 7%;
		left: 40%;
		z-index: 9999;
	}
}

@-moz-keyframes moveimg {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 1; 
		margin-top: 7%;
		left: 40%;
		z-index: 9999;
	}
}

@-webkit-keyframes moveimg {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 1; 
		margin-top: 7%;
		left: 40%;
		z-index: 9999;
	}
}

.upup{
	animation: moveimg 1s linear 0.3s 1 forwards;
	-moz-animation: moveimg 1s linear 0.3s 1 forwards;
	-webkit-animation: moveimg 1s linear 0.3s 1 forwards;
}

@keyframes moveimgagain {
	0%{
		opacity: 1;
       
	}
	100% { 
		opacity: 1; 
		margin-top: 7%;
		right: 52%;
		z-index: 9999;
	}
}

@-moz-keyframes moveimgagain {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 1; 
		margin-top: 7%;
		right: 52%;
		z-index: 9999;
	}
}

@-webkit-keyframes moveimgagain {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 1; 
		margin-top: 7%;
		right: 52%;
		z-index: 9999;
	}
}

.upup2{
	animation: moveimgagain 1s linear 0.3s 1 forwards;
	-moz-animation: moveimgagain 1s linear 0.3s 1 forwards;
	-webkit-animation: moveimgagain 1s linear 0.3s 1 forwards;
}

.imageblockwidclick{
	position: absolute;
	width: 100%;
	margin-top: -25%;
}

@keyframes fadeout {
	0%{
		opacity: 1;
       
	}
	100% { 
		opacity: 0;
	}
}

@-moz-keyframes fadeout {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 0; 
	}
}

@-webkit-keyframes fadeout {
	0%{
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}

.cssfadeout{
	animation: fadeout 1s linear 0.5s 1 forwards;
	-webkit-animation: fadeout 1s linear 0.5s 1 forwards;
	-moz-animation: fadeout 1s linear 0.5s 1 forwards;
}

.textblock2{
	position   : relative;
	margin-top : 17%;
	height: 10%;
	/*border   : 1px solid green; */
}

.acidch,
.acidch1,
.acidch2,
.acidch3{
	position: absolute;
	margin-top: 1%;
	left: 15%;
	font-size: 1.3em;
	opacity: 0;
}

.plusch{
	position: absolute;
	margin-top: 1%;
	left: 31%;
	font-size: 1.3em;
	opacity: 0;

}

.blankch,
.blankch1,
.blankch2,
.blankch3{
	position: absolute;
	margin-top: 1%;
	left: 43%;
	font-size: 1.3em;
	opacity: 0;

}

.arrowch{
	position: absolute;
	margin-top: 1%;
	right: 44%;
	font-size: 1.3em;
	opacity: 0;

}

.reaction1,
.reaction1_1,
.reaction1_2,
.reaction1_3{
	position: absolute;
	margin-top: 1%;
	right: 28%;
	font-size: 1.3em;
	opacity: 0;

}

.reactionplus{
	position: absolute;
	margin-top: 1%;
	right: 20%;
	font-size: 1.3em;
	opacity: 0;

}

.reaction2,
.reaction2_1,
.reaction2_2,
.reaction2_3{
	position: absolute;
	margin-top: 1%;
	right: 10%;
	font-size: 1.3em;
	opacity: 0;
}

.reaction2_carbon{
	position: absolute;
    margin-top: 1%;
    right: 1%;
    font-size: 1.3em;
    opacity: 0;
}

.reaction2_plussign{
	position: absolute;
	margin-top: 1%;
	right: 7%;
	opacity: 0;
}
@keyframes fadein {
	0%{
		opacity: 0;
       
	}
	100% { 
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	0%{
		opacity: 0;
	}
	100% { 
		opacity: 1; 
	}
}

@-webkit-keyframes fadein {
	0%{
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}

.cssfadein{
	animation: fadein 1s linear 0.5s 1 forwards;
	-webkit-animation: fadein 1s linear 0.5s 1 forwards;
	-moz-animation: fadein 1s linear 0.5s 1 forwards;
}

.cssfadein2{
	animation: fadein 1s linear 2.5s 1 forwards;
	-webkit-animation: fadein 1s linear 2.5s 1 forwards;
	-moz-animation: fadein 1s linear 2.5s 1 forwards;
}
.clickmemag{
	position: absolute;
	margin-top: 41%;
	left: 15%;
	width: 5%;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}

.clickmepot{
	position: absolute;
	margin-top: 41%;
	left: 40%;
	width: 5%;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}

.clickmebi{
	position: absolute;
	margin-top: 41%;
	right: 28%;
	width: 5%;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}

.clickmemet{
	position: absolute;
	margin-top: 41%;
	right: 10%;
	width: 5%;
	z-index: 999;
	opacity: 0;
	cursor: pointer;
}


.magnesium{
	position: absolute;
	margin-top: 47%;
	left: 8%;
	width: 12%;
}
.potassiumhydro{
	position: absolute;
	margin-top: 47%;
	left: 34%;
	width: 12%;
}

.sodiumbi{
	position: absolute;
	margin-top: 47%;
	right: 29%;
	width: 12%;
}

.sodiumoxide{
	position: absolute;
	margin-top: 47%;
	right: 10%;
	width: 12%;
}

.intruction{
	position: relative;
	margin-top: -6%;
	font-size: 1.2em;
	left: 0%;
	/*color: #F8735D;*/
}

@keyframes clip {
	0%{
		height: 0;
       
	}
	100% { 
		height: 132.523;
	}
}

@-moz-keyframes clip {
	0%{
		height: 0;
       
	}
	100% { 
		height: 132.523;
	}
}

@-webkit-keyframes clip {
	0%{
		height: 0;
       
	}
	100% { 
		height: 132.523;
	}
}

.clipanim{
	animation: clip 1s linear 0.5s 1 forwards;
	-webkit-animation: clip 1s linear 0.5s 1 forwards;
	-moz-animation: clip 1s linear 0.5s 1 forwards;
}
/*=====  End of personal css  ======*/
