.ABS {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #fff;
  box-shadow: inset 0 0 30px #f2f2f2;
}

.ABS, .ABS * {
  position: relative;
  margin: 0;
  padding: 0;
}

.ABS .nextBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
}

.ABS .prevBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
}

.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*=====================================
=            common styles            =
=====================================*/
.vertical-horizontal-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

/*----------  notification pulse style  ----------*/
/**
		TODO:
		- To enable notification pulse add 'data-usernotification="notifyuser"'
		  attribute to the html element inside board div
	 */
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }

  25% {
    transform: scale(0);
    opacity: 0.6;
  }

  50% {
    transform: scale(0.1);
    opacity: 0.8;
  }

  75% {
    transform: scale(0.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -moz-transform: scale(0);
    opacity: 0.6;
  }

  50% {
    -moz-transform: scale(0.1);
    opacity: 0.8;
  }

  75% {
    -moz-transform: scale(0.5);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -webkit-transform: scale(0);
    opacity: 0.6;
  }

  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.8;
  }

  75% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
  cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
  content: "";
  position: absolute;
  top: 0;
  right: 16%;
  width: 2em;
  height: 2em;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-animation: pulse 1.2s ease-out infinite;
  -moz-animation: pulse 1.2s ease-out infinite;
  animation: pulse 1.2s ease-out infinite;
}

/*=====  End of common styles  ======*/
/*===============================================
=            general template layout            =
===============================================*/
div.textblock {
  position: relative;
  margin-top: 1%;
  /*border   : 1px solid green; */
}

p.simpletextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  padding: 1% 3%;
  font-size: 1.3em;
  text-align: left;
  /* border  : 1px solid red; */
}

p.bottomsimpletextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  padding: 1% 1%;
  width: 85%;
  font-size: 1.2em;
  text-align: left;
  /*border     : 1px solid red;*/
}

p.bigheadingtextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  padding: 1%;
  font-size: 1.3em;
  font-weight: bold;
  /*border   : 1px solid red;*/
}

p.mediumheadingtextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  padding: 1%;
  font-size: 1.3em;
  font-weight: bold;
  /*border   : 1px solid red;*/
}

div.imageblock {
  position: relative;
  margin-top: 2%;
  /* border  : 1px solid green; */
}

img.simpleimgstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  padding: 1%;
  width: 40%;
}

/*=====  End of general template layout  ======*/
/*=====================================
=            svg layout            =
=====================================*/
div.svglayout {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.svgwrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border   : 1px solid blue;*/
}

div.svgcontainer {
  position: relative;
  top: 45%;
  left: 0%;
  width: 40%;
  height: 35%;
  z-index: 9;
  /*border   : 1px solid blue;*/
  /*transition         : left 0.5s 2s linear;
	-moz-transition    : left 0.5s 2s linear;
	-webkit-transition : left 0.5s 2s linear;*/
}

div.svgacidbeaker {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 30%;
  height: 35%;
  z-index: 9;
  /*border   : 1px solid blue;*/
  /*transition         : left 0.5s 2s linear;
	-moz-transition    : left 0.5s 2s linear;
	-webkit-transition : left 0.5s 2s linear;*/
}

div.svgneutralbeaker {
  position: absolute;
  top: 45%;
  left: 35%;
  width: 30%;
  height: 35%;
  z-index: 9;
  /*border   : 1px solid blue;*/
  /*transition         : left 0.5s 2s linear;
	-moz-transition    : left 0.5s 2s linear;
	-webkit-transition : left 0.5s 2s linear;*/
}

div.svgbasebeaker {
  position: absolute;
  top: 45%;
  right: 0%;
  width: 30%;
  height: 35%;
  z-index: 9;
  /*border   : 1px solid blue;*/
  /*transition         : left 0.5s 2s linear;
	-moz-transition    : left 0.5s 2s linear;
	-webkit-transition : left 0.5s 2s linear;*/
}

/*.imageblocksvg{
            position: relative;
            top: 20%;
            width: 50%;
            left: 30%;
            height: 10%;
            background: yellow;
        }*/
.svgheadingstyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2% 2%;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(238, 110, 115);
  background-color: rgb(252, 252, 252);
}

div.imagecharacteristicsbox {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 10%;
  padding: 1%;
  background-color: rgb(38, 166, 154);
  color: rgb(255, 255, 255);
  transition: top 0.3s 1s linear;
  -moz-transition: top 0.3s 1s linear;
  -webkit-transition: top 0.3s 1s linear;
}

.showimagecharacteristicsbox {
  position: absolute;
  top: 80%;
  left: 10%;
  width: 80%;
  height: 10%;
  padding: 1%;
  background-color: rgb(38, 166, 154);
  color: rgb(255, 255, 255);
  transition: top 0.3s 1s linear;
  -moz-transition: top 0.3s 1s linear;
  -webkit-transition: top 0.3s 1s linear;
}

/*div.imagecharacteristicsbox .imagecharacteristicheading{
	position         : absolute;
	top              : 15%;
	left             : 0%;
	/*width            : 100%;*/
/*padding          : 2% 3%;
	font-size        : 1.3em;
	font-weight      : bold;
	text-align       : left;
	background-color : rgb(84, 110, 122);
	color            : rgb(254, 155, 104);*/
/*}*/
/*div.imagecharacteristicsbox > div{
	top:35%;
}*/
/*div.imagecharacteristicsbox p{
	margin-bottom: 5%;
}*/
/*div.imagecharacteristicsbox b{
	color : yellow;
}*/
/*div.imagecharacteristicsbox > div{
	padding    : 6%;
	text-align : left;
}*/
/*=====  End of svg layout  ======*/
/*=======================================================
=            raydiagramtestyourself template            =
=======================================================*/
div.testyourself {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.testyourselfheadingcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  /* border   : 1px solid red; */
}

div.testyourselfheadingcontainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 200%;
}

div.testyourselfheadingcontainer>p {
  position: relative;
  top: 0;
  left: 13%;
  text-align: left;
  padding: 1% 2%;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(238, 110, 115);
}

div.testyourselfquerycontainer {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
  /* border   : 1px solid red; */
}

div.testyourselfquerycontainer .testyourselfquery {
  position: absolute;
  top: 0%;
  left: 13%;
  width: 86%;
  padding: 1% 2%;
  text-align: left;
  font-size: 1.1em;
  background-color: rgb(252, 252, 252);
}

div[class^='testyourselfquestion'] {
  position: absolute;
  top: 23%;
  left: 0%;
  min-width: 90%;
  padding: 2% 2%;
  text-align: left;
  background-color: rgb(38, 166, 154);
  transition: top 0.4s ease-out, border-right 0.5s ease-out;
  -moz-transition: top 0.4s ease-out, border-right 0.5s ease-out;
  -webkit-transition: top 0.4s ease-out, border-right 0.5s ease-out;
}

div[class^='testyourselfquestion'][data-iscorrect='correct'] {
  border-right: 1.2em solid rgb(45, 205, 95);
}

div[class^='testyourselfquestion'][data-iscorrect='incorrect'] {
  border-right: 1.2em solid rgb(251, 87, 78);
}

div.testyourselfquestionlocation.afterclick {
  top: 40%;
}

div.testyourselfquestionsize.afterclick {
  top: 57%;
}

div.testyourselfquestionorientation.afterclick {
  top: 74%;
}

div[class^='testyourselfquestion']>* {
  display: inline;
}

div[class^='testyourselfquestion']>div {
  margin-left: 3%;
}

div[class^='testyourselfquestion']>p {
  display: inline-block;
  position: relative;
  padding: 0.3% 3%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
  background-color: rgb(84, 110, 122);
  color: rgb(254, 155, 104);
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer {
  margin-top: 2%;
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer p {
  display: inline;
  position: relative;
  padding: 2%;
  margin-right: 3%;
  cursor: pointer;
  padding: 1% 2%;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: rgb(238, 110, 115);
  transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer p:hover {
  background-color: rgba(238, 110, 115, 0.9);
}

div[class^='testyourselfquestion'] div.testyourselfoptionscontainer[data-isclicked='clicked']>p {
  pointer-events: none;
}

div.testyourselfquerycontainer .testyourselfresult {
  display: block;
  position: absolute;
  bottom: 0%;
  left: 8%;
  padding: 1% 2%;
  border-radius: 0 5px;
  text-align: left;
  font-size: 1.1em;
  opacity: 0;
  transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}

div.testyourselfquerycontainer .testyourselfresult[data-review^='pleasereview'] {
  opacity: 1;
  color: white;
  background-color: rgb(251, 87, 78);
}

div.testyourselfquerycontainer .testyourselfresult[data-review^='proceed'] {
  opacity: 1;
  color: white;
  background-color: rgb(45, 205, 95);
}

/*=====  End of raydiagramtestyourself template  ======*/
/*=========================================================
=            general templated specific styles            =
=========================================================*/
/*=====  End of general templated specific styles  ======*/
/*====================================
=            personal css            =
====================================*/
div.generallayout {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headingstyle {
  position: relative;
  margin-top: -1%;
  /*top: 2%;*/
  padding: 1%;
  background: #FFC5AC;
  color: #800000;
  font-size: 1.3em;
}

.speechbubblediv {
  position: absolute;
  margin-top: 13%;
  width: 70%;
  opacity: 0;
  left: 3%;
  padding: 0.9%;
  background: #FFE38F;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #FFE38F solid 7px;
  /*opacity: 0;*/
}

.speechbubblediv:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #FFE38F;
  border-width: 30px;
  margin-top: -30px;
}

.speechbubblediv2 {
  position: absolute;
  margin-top: 27%;
  width: 70%;
  opacity: 0;
  right: 3%;
  padding: 0.9%;
  background: #FFE38F;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #FFE38F solid 7px;
  /*opacity: 0;*/
}

.speechbubblediv2:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #FFE38F;
  border-width: 30px;
  margin-top: -30px;
}

@-moz-keyframes color {
  from {
    background: #FFC5AC;
  }

  to {
    color: #003366;
    background: #DDDDFF;
  }
}

@-webkit-keyframes color {
  from {
    background: #FFC5AC;
  }

  to {
    color: #003366;
    background: #DDDDFF;
  }
}

@keyframes color {
  from {
    background: #FFC5AC;
  }

  to {
    color: #003366;
    background: #DDDDFF;
  }
}

.colorchange {
  animation: color 0.5s ease-out 2s 1 forwards;
}

img.threeimgtogether {
  position: relative;
  display: inline-block;
  width: 23%;
  margin-top: 0%;
  padding: 3%;
  /*opacity: 0;*/
}

img.threeimgtogether:nth-of-type(-n+2) {
  margin-right: 5%;
}

img.threeimgtogetherlowspacing:nth-of-type(1) {
  margin-right: 23%;
}

img.twoimgtogether {
  position: relative;
  display: inline-block;
  width: 23%;
  margin-top: 12%;
  padding: 2%;
}

.twolitmus {
  position: relative;
  display: inline-block;
  width: 23%;
  margin-top: 0%;
  padding: 2%;
}

.lable1 {
  position: absolute;
  margin-top: 22%;
  left: 15%;
}

.lable2 {
  position: absolute;
  margin-top: 22%;
  left: 47%;
}

.lable3 {
  position: absolute;
  margin-top: 22%;
  right: 10%;
}

.centertext {
  position: absolute;
  margin-top: -3%;
  width: 100%;
  font-weight: bold;
  background: #FFE38F;
  /*opacity: 0;*/
  padding: 1%;
}

@-moz-keyframes downdiv {
  from {
    opacity: 1;
  }

  to {
    margin-top: 4%;
    opacity: 1;
  }
}

@keyframes downdiv {
  from {
    opacity: 1;
  }

  to {
    margin-top: 4%;
    opacity: 1;
  }
}

@-webkit-keyframes downdiv {
  from {
    opacity: 1;
  }

  to {
    margin-top: 4%;
    opacity: 1;
  }
}

.centertext2 {
  margin-top: 4%;
  position: absolute;
  width: 100%;
  font-weight: bold;
  background: #FFE38F;
  padding: 1%;
}

.godowndiv {
  animation: downdiv 0.7s linear 1s 1 forwards;
}

.lowerimageblock {
  position: relative;
  margin-bottom: 2%;
}

.notifytextblock {
  position: relative;
  margin: 2%;
  font-size: 1.2em;
}

.hiddenimageblock {
  position: relative;
  margin-top: 2.5%;
  display: none;
}

.hiddenimageblock>img {
  width: 40%;
}

.lowertext {
  position: relative;
  display: none;
  padding: 1%;
  width: 87%;
  left: 6%;
  border-radius: 10px;
  font-size: 1.1em;
  background: #DDDDFF;
}

/*tryyourself css*/
div.tryimageblock {
  position: absolute;
  margin-top: 15%;
  padding: 10%;
  width: 100%;
  height: 65%;
  /*border  : 1px solid green; */
}

.acidbeaker {
  position: relative;
  margin-top: 7%;
  margin-left: -41%;
}

.red {
  position: relative;
  cursor: pointer;
  right: -20%;
}

.blue {
  position: absolute;
  right: 0;
  bottom: -10;
  cursor: pointer;
}

.beakername {
  position: absolute;
  left: 26%;
  margin-top: 30%;
}

.svgquestion {
  position: absolute;
  margin-top: 7%;
  left: 0;
  width: 100%;
}

.acid_beaker {
  position: absolute;
  margin-top: 42%;
  left: 18%;
}

.a_beaker {
  position: absolute;
  margin-top: 48%;
  left: 12%;
}

.neutral_beaker {
  position: absolute;
  margin-top: 42%;
  left: 46%;
}

.n_beaker {
  position: absolute;
  margin-top: 48%;
  left: 48.5%;
}

.base_beaker {
  position: absolute;
  margin-top: 42%;
  right: 18%;
}

.b_beaker {
  position: absolute;
  margin-top: 48%;
  right: 13%;
  /*box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.75);*/
}

.threeimgtogethersvg {
  position: relative;
  display: inline-block;
  width: 30%;
  margin-top: 20%;
  padding: 3%;
  /*opacity: 0;*/
}

@-moz-keyframes movelitmus {
  from {
    opacity: 1;
    margin-top: 14%;
  }

  to {
    margin-top: 30%;
    opacity: 1;
  }
}

@keyframes movelitmus {
  from {
    opacity: 1;
    margin-top: 14%;
  }

  to {
    margin-top: 30%;
    opacity: 1;
  }
}

@-webkit-keyframes movelitmus {
  from {
    opacity: 1;
    margin-top: 14%;
  }

  to {
    margin-top: 30%;
    opacity: 1;
  }
}

.litmusmoveanim {
  animation: movelitmus 1s linear 0.5s 1 forwards;
  -moz-animation: movelitmus 1s linear 0.5s 1 forwards;
  -webkit-animation: movelitmus 1s linear 0.5s 1 forwards;
}

.litmuspaperblue1 {
  /*display: none;*/
  position: absolute;
  margin-top: 14%;
  width: 4%;
  height: 20%;
  left: 13%;
  background: #968DC7;
  transition: margin-top 1s linear;
  -webkit-transition: margin-top 1s linear;
  /** Safari & Chrome **/
  -o-transition: margin-top 1s linear;
  /** Opera **/
  -moz-transition: margin-top 1s linear;
  /** Firefox **/
}

.litmuspaperblue2 {
  /*display: none;*/
  position: absolute;
  margin-top: 14%;
  width: 4%;
  /*border: 2px solid #5E597D;
	box-shadow: 4px -1px 5px 1px rgba(186,179,186,1);*/
  height: 20%;
  left: 48%;
  background: #968DC7;
  transition: margin-top 1s linear;
  -webkit-transition: margin-top 1s linear;
  /** Safari & Chrome **/
  -o-transition: margin-top 1s linear;
  /** Opera **/
  -moz-transition: margin-top 1s linear;
  /** Firefox **/
}

.litmuspaperblue3 {
  /*display: none;*/
  position: absolute;
  margin-top: 14%;
  width: 4%;
  /*border: 2px solid #5E597D;
	box-shadow: 4px -1px 5px 1px rgba(186,179,186,1);*/
  height: 20%;
  right: 14%;
  background: #968DC7;
  transition: margin-top 1s linear;
  -webkit-transition: margin-top 1s linear;
  /** Safari & Chrome **/
  -o-transition: margin-top 1s linear;
  /** Opera **/
  -moz-transition: margin-top 1s linear;
  /** Firefox **/
}

.litmuspaperred1 {
  /*display: none;*/
  position: absolute;
  margin-top: 14%;
  width: 4%;
  height: 20%;
  left: 13%;
  /*opacity: 0;*/
  background: #F5B2C9;
  transition: margin-top 1s linear;
  -webkit-transition: margin-top 1s linear;
  /** Safari & Chrome **/
  -o-transition: margin-top 1s linear;
  /** Opera **/
  -moz-transition: margin-top 1s linear;
  /** Firefox **/
}

.litmuspaperred2 {
  /*display: none;*/
  position: absolute;
  margin-top: 14%;
  width: 4%;
  height: 20%;
  left: 48%;
  /*opacity: 0;*/
  background: #F5B2C9;
  transition: margin-top 1s linear;
  -webkit-transition: margin-top 1s linear;
  /** Safari & Chrome **/
  -o-transition: margin-top 1s linear;
  /** Opera **/
  -moz-transition: margin-top 1s linear;
  /** Firefox **/
}

.litmuspaperred3 {
  /*display: none;*/
  position: absolute;
  margin-top: 14%;
  width: 4%;
  height: 20%;
  right: 14%;
  /*opacity: 0;*/
  background: #F5B2C9;
  transition: margin-top 1s linear;
  -webkit-transition: margin-top 1s linear;
  /** Safari & Chrome **/
  -o-transition: margin-top 1s linear;
  /** Opera **/
  -moz-transition: margin-top 1s linear;
  /** Firefox **/
}

.colormoveup2 {
  position: absolute;
  margin-top: 15%;
  width: 4%;
  height: 20%;
  right: 14%;
  background-image: -o-linear-gradient(top, #968DC7 38%, #F5B2C9 64%);
  background-image: -moz-linear-gradient(top, #968DC7 38%, #F5B2C9 64%);
  background-image: -webkit-linear-gradient(top, #968DC7 38%, #F5B2C9 64%);
  background-image: -ms-linear-gradient(top, #968DC7 38%, #F5B2C9 64%);
  background-image: linear-gradient(to top, #968DC7 38%, #F5B2C9 64%);
  -moz-transition-property: background;
  -moz-transition-duration: 15s;
  -moz-transition-delay: 10s;
  -moz-transition-timing-function: linear;
}

.colormoveup {
  background-image: -o-linear-gradient(bottom, #968DC7 32%, #F090EB 48%);
  background-image: -moz-linear-gradient(bottom, #968DC7 32%, #F090EB 48%);
  background-image: -webkit-linear-gradient(bottom, #968DC7 32%, #F090EB 48%);
  background-image: -ms-linear-gradient(bottom, #968DC7 32%, #F090EB 48%);
  background-image: linear-gradient(to bottom, #968DC7 32%, #F090EB 48%);
  -moz-transition-property: background;
  -moz-transition-duration: 15s;
  -moz-transition-delay: 10s;
  -moz-transition-timing-function: linear;
}

background-image: -webkit-gradient(linear,
  left top,
  left bottom,
  color-stop(0.32, #ADB0FF),
  color-stop(0.48, #F090EB));

@-moz-keyframes pop {
  0% {
    opacity: 1;
    -moz-transform: translateY(10px);
  }

  50% {
    opacity: 1;
    -moz-transform: translateY(10px);
  }

  100% {
    -moz-transform: translateY(10px);
    opacity: 0;
  }
}

@-webkit-keyframes bubble {
  0% {
    opacity: 1;
    -webkit-transform: translateY(10px);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }

  100% {
    -webkit-transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes bubble {
  0% {
    opacity: 1;
    transform: translateY(10px);
  }

  50% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.H2O {
  animation: bubble 2s linear 0.5s infinite forwards;
}

.svgcontainer1 {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 70%;
  z-index: 9;
  /*border   : 1px solid blue;*/
  /*transition         : left 0.5s 2s linear;
	-moz-transition    : left 0.5s 2s linear;
	-webkit-transition : left 0.5s 2s linear;*/
}

.svgtitle2 {
  position: absolute;
  left: 5%;
  font-size: 1.1em;
  width: 90%;
  margin-top: 2%;
}

@-moz-keyframes water_show {
  0% {
    opacity: 0;
    -moz-transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(10px);
  }
}

@-webkit-keyframes water_show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(10px);
  }
}

@keyframes water_show {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

.wateranimate {
  animation: water_show 0.7s linear 0.7s 1 forwards;
}

@-moz-keyframes bubblemore {
  0% {
    opacity: 1;
    -moz-transform: translateY(10px);
  }

  20% {
    opacity: 1;
    -moz-transform: translateY(7px);
  }

  50% {
    opacity: 1;
    -moz-transform: translateY(5px);
  }

  70% {
    opacity: 1;
    -moz-transform: translateY(2px);
  }

  100% {
    -moz-transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bubblemore {
  0% {
    opacity: 1;
    -webkit-transform: translateY(10px);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(7px);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(5px);
  }

  70% {
    opacity: 1;
    -webkit-transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes bubblemore {
  0% {
    opacity: 1;
    transform: translateY(10px);
  }

  20% {
    opacity: 1;
    transform: translateY(7px);
  }

  50% {
    opacity: 1;
    transform: translateY(5px);
  }

  70% {
    opacity: 1;
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.bubblesomemore {
  animation: bubblemore 4s linear 0.5s infinite;
}

.bubble {
  position: absolute;
  margin-top: 10%;
  width: 20%;
  left: 6%;
  padding: 0.9%;
  background: #E2E0B3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #E2E0B3 solid 7px;
  opacity: 0;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #E2E0B3 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -28px;
  opacity: 1;
  left: 76px;
}

.bubble2 {
  position: absolute;
  margin-top: 10%;
  width: 20%;
  right: 5%;
  padding: 0.9%;
  background: #E5E3E2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #E5E3E2 solid 7px;
  opacity: 0;
}

.bubble2:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #E5E3E2 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -28px;
  opacity: 1;
  left: 76px;
}

.popupdiv3 {
  position: absolute;
  margin-top: 18%;
  left: 9%;
  width: 50%;
  background: #BBCBE2;
  padding: 1%;
  border-radius: 8px;
  opacity: 0;
}

.popupdiv3::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #BBCBE2 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -18px;
  opacity: 1;
  left: 76px;
}

.popupdiv3::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #BBCBE2 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -18px;
  opacity: 1;
  left: 406px;
}

.popupdiv2 {
  position: absolute;
  margin-top: 20%;
  right: 6%;
  width: 50%;
  background: #E7E7E7;
  padding: 1%;
  border-radius: 8px;
  opacity: 0;
}

.popupdiv2::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #E7E7E7 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -18px;
  opacity: 1;
  left: 76px;
}

.popupdiv2::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 21px 21px 0;
  border-color: #E7E7E7 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -18px;
  opacity: 1;
  left: 406px;
}

@-moz-keyframes speechdivup {
  0% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(-10px);
  }
}

@-webkit-keyframes speechdivup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
  }
}

@keyframes speechdivup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.divupanimation3 {
  animation: speechdivup 1s linear 2s 1 forwards;
}

@-moz-keyframes divup {
  0% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(-60px);
  }
}

@-webkit-keyframes divup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-60px);
  }
}

@keyframes divup {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(-60px);
  }
}

.divupanimation {
  animation: divup 1s linear 0.3s 1 forwards;
}

.divupanimation2 {
  animation: divup 1s linear 2s 1 forwards;
}

.middlepara1 {
  position: absolute;
  margin-top: 5%;
  padding: 1%;
  text-align: left;
  background: #D1F2AE;
  width: 40%;
  border-radius: 8px;
}

.middlepara2 {
  position: absolute;
  border-radius: 8px;
  margin-top: 16%;
  text-align: left;
  background: #D1F2AE;
  padding: 1%;
  width: 40%;
}

.middlepara3 {
  position: absolute;
  border-radius: 8px;
  margin-top: 26%;
  text-align: left;
  background: #D1F2AE;
  padding: 1%;
  width: 40%;
}

.sidesingleimg {
  position: absolute;
  margin-top: 9%;
  right: 15%;
  opacity: 0.9;
}

.litmusinthebeaker {
  position: absolute;
  margin-top: 9%;
  right: 15%;
  width: 20%;
  opacity: 0.6;
}

.timeToThink {
  position: relative;
  top: 10%;
  left: 0;
  width: 40%;
  height: 60%;
}

.timeToThink_figdata {

		display: table;
		position: relative;
		margin-top: -30%;
		left: 35%;
		width: 27%;
		font-size: 2em;
		color: #C98874;
}


  /*=====  End of personal css  ======*/
