.ABS {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.ABS, .ABS * {
	position: relative;
	margin: 0;
	padding: 0;
}

.ABS .nextBtn{
	display: none;
	position: absolute;
	bottom:0%;
	right:0%;
	width: 7%;
	height: 10%;
}

.ABS .prevBtn{
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
=            common styles            =
=====================================*/
	.board{
			position: relative;
			top:0%;
			left: 0%;
			width: 100%;
			height: 100%;
			text-align: center;
	}
/*=====  End of common styles  ======*/




/*==============================================
=            Horizontal Layout            =
==============================================*/
	div.layouthorizontal{
		position: relative;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	  	-moz-transform: translate(-50%, -50%);
	  	-webkit-transform: translate(-50%, -50%);
	  	text-align: center;
	}

	div.layouthorizontal div.textblock{
		position:relative;
		margin-top: 1%;
		/* border:1px solid green; */
	}

	div.layouthorizontal p.simpletextstyle{
		display:table;
		margin:0 auto;
		position:relative;
		margin-top: 1%;
		padding:1%;
		font-size: 1.2em;
		text-align: left;
		/* border:1px solid red; */
	}

	div.layouthorizontal p.simpletextstyle.textatbottom{
		margin-top: 0%;
		width:85%;
		font-size: 1.1em;
		padding:0.2% 1%;
	}

	div.layouthorizontal p.bulkytextstyletofitscreen{
		margin-top: 0%;
		font-size: 1.1em;
		padding:0.2% 1%;
	}

	div.layouthorizontal p.bigheadingtextstyle{
		display:table;
		margin:0 auto;
		position:relative;
		padding:1%;
		font-size: 1.3em;
		font-weight: bold;
		/* border:1px solid red; */
	}

	div.layouthorizontal p.mediumheadingtextstyle{
		display:table;
		margin:0 auto;
		position:relative;
		padding:1%;
		font-size: 1.3em;
		font-weight: bold;
		/* border:1px solid red; */
	}

	div.layouthorizontal div.imageblock{
		position:relative;
		margin-top: 2%;
		/* border:1px solid green; */
	}

	div.layouthorizontal img.simpleimgstyle{
		display:table;
		margin:0 auto;
		position:relative;
		padding:1%;
		width:40%;
	}

	div.layouthorizontal img.simpleimgstyle.squeezeimage{
		width:15%;
	}

	div.layouthorizontal img.simpleimgstyle.squeezeimageless{
		width:25%;
	}

	div.layouthorizontal div.textlistblock{
		display:table;
		margin:0 auto;
		position: relative;
		margin-top: 1%;
		padding:0.5% 5%;
		text-align: left;
	}

	div.layouthorizontal div.textlistblock ol{
		font-size: 1.2em;
		font-weight: bold;
	}

	div.layouthorizontal div.textlistblock ol ul{
		font-size: 0.8em;
		list-style-type: disc;
		list-style-position: inside;
		font-weight: normal;
		color:grey;
	}

	p.singleparawithimagetextstyle{
	    display          : table;
	    margin           : 0 auto;
	    position         : relative;
	    padding          : 3%;
	    width            : 100%;
	    font-size        : 1.2em;
	    text-align       : center;
	    color            : black;
	    background-color : rgb(198, 234, 248);
	}

	p.onlyparatextstyle,
	p.paratextstyle{
	    display          : table;
	    margin           : 18px 2%;
	    position         : relative;
	    padding          : 2%;
	    width            : 95%;
	    font-size        : 1.2em;
	    text-align       : left;
	    background-color : rgb(245, 242, 199);

	    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	}

	p.onlyparatextstyle{
		text-align: center;
	}

	p.bottomparatextstyle{
	    display          : table;
	    margin           : 0 auto;
	    position         : relative;
	    padding          : 2% 3%;
	    width            : 80%;
	    font-size        : 1.2em;
	    text-align       : left;
	    color            : black;
	    background-color : rgba(198, 234, 248,0.4);

	    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	}

	p.polybgtextstyle{
	    display:table;
	    margin:0 auto;
	    position:relative;
	    margin-top: 15%;
	    padding:4%;
	    font-size: 1.4em;
	    text-align: left;

	    /* svg image bg pulled from common images folder */
	    background:url(../../../../../images/backgrounds/polygonbackground.svg);
	    background-repeat: no-repeat;
	    background-size:100% 100%;
	}

/*-----  End of Horizontal Layout  ------*/


/*====================================
=            usageslowreveal Layout =
====================================*/

	div.layoutusageslowreveal,
	div.usageslowrevealblock{
		position : relative;
		top      : 0%;
		left     : 0%;
		width    : 100%;
		height   : 100%;
		/*border : 1px solid red;*/
	}

	.usageheading{
		position         : relative;
		top              : 0;
		width            : 100%;
		padding          : 1% 2%;
		font-size        : 1.3em;
		font-weight      : bold;
		color            : rgb(238, 110, 115);
		background-color : rgb(252, 252, 252);
	}

	/*==========================================
	=            Card Content Style            =
	==========================================*/
		div[class^='card_block']{
			position           : relative;
			margin             : 1% 0%;
			left: 5%;
			width: 90%;
			padding: 1.5% 0%;
			background-color: #E8F4F5;
			text-align: center;
			box-shadow         : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
			-moz-box-shadow    : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
			-webkit-box-shadow : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
		}

		div[class^='card_block']:nth-of-type(n+2){
			opacity                  : 0;
			transition               : opacity 0.5s ease-out;
			-moz-transition          : opacity 0.5s ease-out;
			-webkit-transition       : opacity 0.5s ease-out;
		}

		div[class^='card_block'][data-hasimage='true']{
			min-height: 30%;
		}

		div[class^='card_block'] div.content_wrapper_card_block{
			position : relative;
			width    : 100%;
		}

		div[class^='card_block'][data-hasimage='true'] div.content_wrapper_card_block{
			position : relative;
			width    : 70%;
		}

		div[class^='card_block'] .card_title{
			position      : relative;
			padding       : 0% 2%;
			border-bottom : 1px solid rgb(236, 236, 236);
			font-weight   : bold;
			font-size     : 1.3em;
		}

		div[class^='card_block'] .card_content_text{
			position : relative;
			padding  : 1% 2% 0% 2%;
		}

		div[class^='card_block'] .card_content_image{
			position : absolute;
			top:2%;
			right:3%;
			width:20%;
		}

		.nextusageBtn{
			position: absolute;
			bottom:0%;
			right:0%;
			width: 7%;
			height: 10%;
		}

	/*=====  End of Card Content Style  ======*/


/*-----  End of usageslowreveal Layout  ------*/

/*============================================
=            Time to think layout            =
============================================*/

	div.timeToThink{
		position : relative;
		top      : 0;
		left     : 0;
		width    : 100%;
		height   : 100%;
	}

	div.timeToThink > figure{
		position : absolute;
		top      : 10%;
		width    : 50%;
		left     : 5%;
	}

	div.timeToThink > figure > img{
		position : relative;
		width    : 100%;
	}

	div.timeToThink > figure > figcaption{
		display    : table;
		position   : relative;
		margin-top : -17%;
		left       : 40%;
		width      : 55%;
		font-size  : 1.5em;
		color      : rgb(201, 136, 116);
	}

	div.timeToThink > p{
		position   : relative;
		top        : 50%;
		text-align : left;
		font-size  : 1.4em;
		/* border  : 1px solid red; */
	}

/*=====  End of Time to think layout  ======*/
/*===========================================
=            personal css starts            =
===========================================*/


    /*=====================================
    =            svg layout            =
    =====================================*/
    	div.svglayout{
    		position : relative;
			top      : 0;
			left     : 0;
			width    : 100%;
			height   : 100%;
    	}
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top: 5%;
            left: 18%;
            width: 65%;
            /*height   : 70%;*/
            /*border   : 1px solid blue;*/
        }


    /*=====  End of svg layout  ======*/
.sideheadingstyle{
	position: relative;
	left: 0;
	width: 22%;
    border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align: left;
	padding:1%;
	font-size: 1.4em;
	background: #D1F2AE;
}
.middleheading{
	position: absolute;
	margin-top: 0%;
	left: 30%;
	width: 40%;
	/*background: #8FC557;*/
	font-size: 1.2em;
	/*opacity: 0;*/
}

.middleheading2{
	position: absolute;
	margin-top: 35%;
	left: 30%;
	width: 40%;
	padding: 1%;
	background: #DDDDFF;
	font-size: 1.2em;
	display: none;
}
.arrow1{
	position: absolute;
	top:5%;
	left: 30%;
}

#green_arrow,
#base_tilt,
#acid_tilt,
#acid_drop,
#base_drop,
#mixing_action,
#firstlayer,
#lastlayer,
#cloudslayer,
#last_beaker{
	opacity: 0;
}
#green_plus{
	opacity: 0;
	cursor: pointer;
}

#acidbeaker,
#basebeaker{
	opacity: 0;
	cursor: pointer;
}

@keyframes pop{
    from{
        opacity: 0.2;
       transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(120px);
    }
}

@-webkit-keyframes pop{
    from{
        opacity: 0.2;
        -webkit-transform: translateX(-10px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(120px);
    }
}

@-moz-keyframes pop{
    from{
        opacity: 0.2;
        -moz-transform: translateX(-10px);
    }
    to{
        opacity: 1;
        -moz-transform: translateX(120px);
    }
}
.acidshow{
	animation: pop 1s linear 1s 1 forwards;
	-webkit-animation: pop 1s linear 1s 1 forwards;
	-moz-animation: pop 1s linear 1s 1 forwards;
}

.baseshow{
	animation: pop 1s linear 2s 1 forwards;
	-webkit-animation: pop 1s linear 2s 1 forwards;
	-moz-animation: pop 1s linear 2s 1 forwards;
}

@keyframes slidebeaker{
    from{
        opacity: 0.2;
        transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(20px);
    }
}

@-webkit-keyframes slidebeaker{
    from{
        opacity: 0.2;
        -webkit-transform: translateX(-10px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
}

@-moz-keyframes slidebeaker{
    from{
        opacity: 0.2;
        -moz-transform: translateX(-10px);
    }
    to{
        opacity: 1;
        -moz-transform: translateX(20px);
    }
}

.acidbeakerslide{
	animation: slidebeaker 1s linear 1s 1 forwards;
	-webkit-animation: slidebeaker 1s linear 1s 1 forwards;
	-moz-animation: slidebeaker 1s linear 1s 1 forwards;
}

.basebeakerslide{
	animation: slidebeaker 1s linear 2s 1 forwards;
	-webkit-animation: slidebeaker 1s linear 2s 1 forwards;
	-moz-animation: slidebeaker 1s linear 2s 1 forwards;
}

.plusslide{
	animation: slidebeaker 1s linear 1.5s 1 forwards;
	-webkit-animation: slidebeaker 1s linear 1.5s 1 forwards;
	-moz-animation: slidebeaker 1s linear 1.5s 1 forwards;
}

.signslide{
	animation: slidebeaker 1s linear 2s 1 forwards;
	-webkit-animation: slidebeaker 1s linear 2s 1 forwards;
	-moz-animation: slidebeaker 1s linear 2s 1 forwards;
}


@keyframes drop{
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to{
        opacity: 0;
        transform: translateY(50px);
    }
}

@-webkit-keyframes drop{
    from{
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    to{
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
}

@-moz-keyframes drop{
    from{
        opacity: 1;
        -moz-transform: translateY(0px);
    }
    to{
        opacity: 0;
        -moz-transform: translateY(50px);
    }
}

.dropityo{
	animation: drop 2s linear 1s 3 forwards;
	-webkit-animation: drop 2s linear 1s 3 forwards;
	-moz-animation: drop 2s linear 1s 3 forwards;
}

@keyframes fadeout{
	from{opacity:1;}
	to{opacity: 0;}
}

@-webkit-keyframes fadeout{
	from{opacity:1;}
	to{opacity: 0;}
}

@-moz-keyframes fadeout{
	from{opacity:1;}
	to{opacity: 0;}
}

.cssfadeout{
	animation: fadeout 1s ease-out 0.5s 1 forwards;
	-webkit-animation: fadeout 1s ease-out 0.5s 1 forwards;
	-moz-animation: fadeout 1s ease-out 0.5s 1 forwards;
}


@keyframes slidee{
    from{
        opacity: 0.2;
        transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(120px);
    }
}

@-webkit-keyframes slidee{
    from{
        opacity: 0.2;
        -webkit-transform: translateX(-10px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(120px);
    }
}

@-moz-keyframes slidee{
    from{
        opacity: 0.2;
        -moz-transform: translateX(-10px);
    }
    to{
        opacity: 1;
        -moz-transform: translateX(120px);
    }
}

.arrowmove{
	animation: slidee 1s ease-in 0.3s 1 forwards;
	-webkit-animation: slidee 1s ease-in 0.3s 1 forwards;
	-moz-animation: slidee 1s ease-in 0.3s 1 forwards;
}

@keyframes fadein{
	from{opacity:0;}
	to{opacity: 1;}
}

@-webkit-keyframes fadein{
	from{opacity:0;}
	to{opacity: 1;}
}

@-moz-keyframes fadein{
	from{opacity:0;}
	to{opacity: 1;}
}
.cssfadein{
	animation: fadein 1s ease-in 0.3s 1 forwards;
	-webkit-animation: fadein 1s ease-in 0.3s 1 forwards;
	-moz-animation: fadein 1s ease-in 0.3s 1 forwards;
}
.cssfadein3{
	animation: fadein 1s ease-in 4s 1 forwards;
	-webkit-animation: fadein 1s ease-in 4s 1 forwards;
	-moz-animation: fadein 1s ease-in 4s 1 forwards;
}
.cssfadein1{
	animation: fadein 2s ease-in 5s 1 forwards;
	-webkit-animation: fadein 2s ease-in 5s 1 forwards;
	-moz-animation: fadein 2s ease-in 3s 1 forwards;
}

.cssfadein2{
	animation: fadein 2s ease-in 5s 1 forwards;
	-webkit-animation: fadein 2s ease-in 5s 1 forwards;
	-moz-animation: fadein 2s ease-in 5s 1 forwards;
}


 @-webkit-keyframes svgmoveup {
        0%{
	        opacity: 1;
	        -webkit-transform: translateY(30px);
    	}

	    100%{
	        -webkit-transform: translateY(-170px);
	        opacity: 1;
	    }
	}

    @-moz-keyframes svgmoveup {
            0%{
	        opacity: 1;
	        -moz-transform: translateY(30px);
	    	}

		    100%{
		        -moz-transform: translateY(-170px);
		        opacity: 1;
		    }
        }

    @keyframes svgmoveup {
             0%{
		        opacity: 1;
		        transform: translateY(30px);
	    	}

		    100%{
		        transform: translateY(-170px);
		        opacity: 1;
		    }
        }

.beakermoveup{
	animation: svgmoveup 1s linear 1s 1 forwards;
	-webkit-animation: svgmoveup 1s linear 1s 1 forwards;
	-moz-animation: svgmoveup 1s linear 1s 1 forwards;
}
.middleheading4{
	position: absolute;
	margin-top: 5%;
	right: 100%;
	width: 100%;
	padding: 1%;
	border-radius: 10px;
	background: #DDDDFF;
	font-size: 1.2em;
	opacity: 0;
}

@-webkit-keyframes sideshow {
        0%{
	        opacity: 0;
	        right:100%;
    	}

	    100%{
	        right:0%;
	        opacity: 1;
	    }
	}

    @-moz-keyframes sideshow {
        0%{
	        opacity: 0;
	        right:100%;
    	}

	    100%{
	        right:0%;
	        opacity: 1;
	    }
	}

    @keyframes sideshow {
        0%{
	        opacity: 0;
	        right:100%;
    	}

	    100%{
	        right:0%;
	        opacity: 1;
	    }
	}

.peekahboo{
	animation: sideshow 0.8s linear 1s 1 forwards;
	-webkit-animation: sideshow 0.8s linear 1s 1 forwards;
	-moz-animation: sideshow 0.8s linear 1s 1 forwards;
}

.middleheading3{
	position: absolute;
	margin-top: 38%;
	left: 0%;
	width: 100%;
	background: #FFC5AC;
	padding: 1%;
	border-radius: 8px;
    font-size: 1.2em;
	opacity: 0;
}

@keyframes cloudsmoveup{
	from{
		opacity:0;
		transform: translateY(10px);
	}
	to{
		opacity: 1;
		transform: translateY(-20px);
	}
}

@-webkit-keyframes cloudsmoveup{
	from{
		opacity:0;
		-webkit-transform: translateY(10px);
	}
	to{
		opacity: 1;
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes cloudsmoveup{
	from{
		opacity:0;
		-moz-transform: translateY(10px);
	}
	to{
		opacity: 1;
		-moz-transform: translateY(-20px);
	}
}

.upabovethebeaker{
	animation: cloudsmoveup 2s linear 5s 2 forwards;
	-webkit-animation: cloudsmoveup 2s linear 5s 2 forwards;
	-moz-animation: cloudsmoveup 2s linear 5s 2 forwards;
}

.acidsvglable{
	position: absolute;
	margin-top: 35%;
	left: 22%;
	opacity: 0;
	width: 10%;
	/*background: grey;*/
}
.plus{
	position: absolute;
	margin-top: 35%;
	left: 34%;
	width: 10%;
	opacity: 0;
}
.basesvglable{
	position: absolute;
	margin-top: 35%;
	left: 42%;
	width: 10%;
	opacity: 0;
	/*background: grey;*/
}

.arrowtext{
	position: absolute;
	margin-top: 10%;
	right: 35%;
    width: 10%;
	opacity: 0;
}

.arrowchar{
	position: absolute;
	margin-top: 35%;
	right: 40%;
	opacity: 0;
}
.lasttext{
	position: absolute;
	margin-top: 35%;
	right: 20%;
	opacity: 0;
}
.lasttext2{
	position: absolute;
	margin-top: 42%;
	right: 5%;
	width: 40%;
	border-radius: 8px;
	background: #FFC5AC;
	padding: 1%;
	opacity: 0;
}
.arrow2{
	position: absolute;
	margin-top:33%;
	right: 28%;
	opacity: 0;
	width: 5%;
	/*display: none;*/
}

.sideheadingstyle2{
    position: relative;
    /*top: 2%;*/
    padding: 1%;
    text-align: center;
    width: 100%;
    background:  #FFC5AC;
    color: #800000;
    font-size  : 1.3em;
}


.definition{
	position: absolute;
	margin-top: 3%;
	left: 10%;
	width: 80%;
	font-size: 1.2em;
}

.speechbubblediv
{
	position: absolute;
	margin-top: 8%;
	width: 70%;
	/*opacity: 0;*/
	left: 3%;
	padding: 0.9%;
	background: #FFE38F;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	border: #FFE38F solid 7em;
	/*opacity: 0;*/
}

.speechbubblediv:after
{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 1em;
	margin-left: -1em;
}

.arrow_box {
	position: absolute;
	left: 5%;
	margin-top: 1%;
	opacity: 0;
	padding: 3%;
	width: 90%;
	font-size: 1.1em;
	color: #00AF88;
	background: #e6e6e6;
	border: 4px solid #e6e6e6;
	-webkit-border-radius: 8em;
	-moz-border-radius: 8em;
	border-radius: 8em;
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #e6e6e6;
	border-width: 1em;
	margin-left: -1em;
}

  @-webkit-keyframes divmoveup {
        0%{
	        opacity: 1;
	        -webkit-transform: translateY(30px);
    	}

	    100%{
	        -webkit-transform: translateY(150px);
	        opacity: 1;
	    }
	}

    @-moz-keyframes divmoveup {
            0%{
	        opacity: 1;
	        -moz-transform: translateY(30px);
	    	}

		    100%{
		        -moz-transform: translateY(150px);
		        opacity: 1;
		    }
        }

    @keyframes divmoveup {
             0%{
		        opacity: 1;
		      	transform: translateY(30px);
	    	}

		    100%{
		        transform: translateY(150px);
		        opacity: 1;
		    }
        }
.divslidedown{
	animation: divmoveup 1s linear 1s 1 forwards;
	-webkit-animation: divmoveup 1s linear 1s 1 forwards;
	-moz-animation: divmoveup 1s linear 1s 1 forwards;
}

.speechbubblediv2
{
	position: absolute;
	margin-top: -21%;
	width: 40%;
	/*opacity: 0;*/
	left: 0%;
	padding: 0.9%;
	background: #FFE38F;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #FFE38F solid 7px;
	/*opacity: 0;*/
}

.speechbubblediv2:after
{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-left-color: #FFE38F;
	border-width: 1em;
	margin-top: -1em;
}

.saltinspoon{
	position: relative;
	margin-left: 0%;
	width: 50%;
	padding: 4%;
}

.saltinocean{
	position: relative;
	margin-top: 5%;
	width: 60%;
	padding: 5%;
}

.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 30%;
            margin-top : 12%;
            padding: 4%;
        }

        .threeimgtogether:nth-of-type(-n+2){
            margin-right : 1%;
        }

        .threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 1%;
        }

.sideheadingstyle3{
	position: relative;
	left: 0;
	width: 100%;
	border-radius: 8px;
	text-align: center;
	padding:1.5%;
	color: #565A8A;
	background: #EBEBFF;
}


.clickmeadd{
	position: absolute;
	top: 31%;
	left: 47.5%;
	width: 4%;
	opacity: 0;
	cursor: pointer;
}

.clickmeacid{
	position: absolute;
	top: 47%;
	left: 27%;
	width: 4%;
	opacity: 0;
	cursor: pointer;
}

.clickmebase{
	position: absolute;
	top: 45%;
	right: 33%;
	width: 4%;
	opacity: 0;
	cursor: pointer;
}

.clickonadd{
	position: absolute;
	top: 31%;
	left: 37.5%;
	width: 4%;
	opacity: 0;
	cursor: pointer;
}
/*=====  End of personal css starts  ======*/
