.light_page {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;

}

.light_page, .light_page * {
	position: relative;
	margin: 0;
	padding: 0;
}

.light_page .nextBtn{
	display: none;
	position: absolute;
	bottom:0%;
	right:0%;
	width: 7%;
	height: 10%;	
}

.light_page .prevBtn{
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;	
}

/* **********************************************************
************************************************************** */

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

/*==============================================
=            Horizontal Layout            =
==============================================*/
div.layouthorizontal{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	text-align: center;
}

div.layouthorizontal div.textblock{
	position:relative;
	margin-top: 1%;
	/* border:1px solid green; */
}

div.layouthorizontal p.simpletextstyle{
	display:table;
	margin:0 auto;
	position:relative;
	margin-top: 1%;
	padding:1%;
	font-size: 1.2em;
	text-align: left;
	/* border:1px solid red; */
}

div.layouthorizontal p.simpletextstyle.textatbottom{
	margin-top: 0%;
	width:85%;
	font-size: 1.1em;
	padding:0.2% 1%;
}

div.layouthorizontal p.bulkytextstyletofitscreen{
	margin-top: 0%;
	font-size: 1.1em;
	padding:0.2% 1%;
}

div.layouthorizontal p.bigheadingtextstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	font-size: 1.3em;
	font-weight: bold;
	/* border:1px solid red; */
}

div.layouthorizontal p.mediumheadingtextstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	font-size: 1.3em;
	font-weight: bold;
	/* border:1px solid red; */
}

div.layouthorizontal div.imageblock{
	position:relative;
	margin-top: 2%;
	/* border:1px solid green; */
}

div.layouthorizontal img.simpleimgstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	width:40%;
}

div.layouthorizontal img.simpleimgstyle.squeezeimage{
	width:30%;
}

div.layouthorizontal img.simpleimgstyle.squeezeimagemore{
	width:20%;
}

div.layouthorizontal div.textlistblock{
	display:table;
	margin:0 auto;
	position: relative;
	margin-top: 1%;
	padding:0.5% 5%;
	text-align: left;
}

div.layouthorizontal div.textlistblock ol{
	font-size: 1.2em;
	font-weight: bold;
}

div.layouthorizontal div.textlistblock ol ul{
	font-size: 0.8em;
	list-style-type: disc;
	list-style-position: inside;
	font-weight: normal;
	color:grey;
}

/*-----  End of Horizontal Layout  ------*/


/*====================================
=            Recap Layout            =
====================================*/

div.recaplayout,
div.recaplayout div.recapblock{
	position: relative;	
  	top: 0%;
  	left: 0%;
  	width:100%;
  	height:100%;
  	/*border:1px solid red;*/
}

div.recaphost{
	position   : absolute;
	top        : 0;
	left       : 0;
	width      : 100%;
	height     : 15%;
	text-align : center;
}

div.recaphost img{	
	width  : 24%;
	height : 100%;
}

div.recaphost p{	
	position  : absolute;
	bottom    : 15%;
	right     : 51%;
	font-size : 1.1em;
	color     : rgb(206, 138, 101);
}

.tablewrap{
	position : absolute;
	width    : 100%;
	top      : 17%;
	left     : 2%;
	width    : 96%;
	height : 80%;
	overflow-y : auto !important;
}

/*-----  End of Recap Layout  ------*/
