.green_bg{
  background: #84C86A;
}
.jomsommarket, .lubhumarket, .mahendranagarmarket, .hetaudamarket {
    position: absolute;
    width: 40%;
    border: 1.5vmin solid #57C4C7;
    left: 5%;
    top: 2.5%;
    cursor: pointer;
    z-index: 99;
}
.hetaudamarket {
    border: 1.5vmin solid #F1637B;
    left: 55%;
  }
.mahendranagarmarket {
    border: 1.5vmin solid #CBDF5C;
    left: 55%;
    top: 55%;
  }
  .jomsommarket {
      border: 1.5vmin solid #0F76BB;
      left: 5%;
      top: 55%;
    }
  .instuction {
    transform: translate(-50%,-50%);
    top: 49%;
    left: 50%;
    position: absolute;
    font-size: 2vw;
    font-family: sniglet;
    width: 100%;
    color: white;
}
.jomsommarket:hover, .lubhumarket:hover, .mahendranagarmarket:hover, .hetaudamarket:hover {
  transform: scale(1.06);
  transition: .2s;
}
.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.shop-1, .shop-2, .shop-3, .shop-4 {
    position: absolute;
    z-index: 2;
    width: 24%;
    top: 55%;
    left: 1%;
    cursor: pointer;
}
.shop-1:hover, .shop-2:hover, .shop-3:hover, .shop-4:hover {
  transform: scale(1.06);
  transition: .2s;
}
.shop-2{
  left: 26%;
}
.shop-3{
  left: 51%;
}
.shop-4{
  left: 76%;
}

.gray_out {
	animation: gray_out 2s forwards;
	-webkit-animation: gray_out 2s forwards;
}
@-webkit-keyframes
gray_out {
	100%   {filter: grayscale(100%);}
}
@keyframes
gray_out {
	100%   {filter: grayscale(100%);}
}
.fitimage{
  	animation: fit_image 2s ease-in-out forwards;
  	-webkit-animation: fit_image 2s ease-in-out forwards;
    z-index: 9999;
}
@-webkit-keyframes
fit_image {
	100%   {top: 0%; width: 100%;left: 0%; }
}
@keyframes
fit_image {
	100%   {top: 0%; width: 100%;left: 0%; }
}
.top_instuction {
    position: absolute;
    font-family: sniglet;
    background: #F9EA93;
    padding: 1%;
    font-size: 2vw;
    transform: translateX(-50%);
    left: 50%;
    top: 8%;
    border-radius: 1vmin;
    width: 60%;
}
.shop_name_text {
    position: absolute;
    font-size: 2vw;
    font-family: andika;
    top: -1%;
    background: #1CA77E;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    left: 50%;
    transform: translateX(-50%);
}
.item_price-1, .item_price-2, .item_price-3, .item_price-5, .item_price-4, .item_price-6 {
    position: absolute;
    font-family: sniglet;
    background: #FFD966;
    font-size: 1.5vw;
    padding: 1%;
    border-bottom-left-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    top: 34%;
    width: 16%;
    left: 13%;
}
.item_price-2{
  left: 42%;
}
.item_price-3{
  left: 71%;
}
.item_price-5, .item_price-4, .item_price-6{
  top:65%;
  left:13%;
}
.item_price-5{
  left: 42%;
}
.item_price-6{
  left: 71%;
}
.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
    position: absolute;
    height: 16%;
    bottom: 58%;
    z-index: 100;
    left: 21%;
    cursor: pointer;
    transform: translate(-50%,-50%);
}
.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover {
  transition: .2s;
  height: 18%;
}
.item-2 {
    left: 50%;
}
.item-3{
  left: 80%;
}
.item-5, .item-4, .item-6{
  bottom:28%;
  left:21%;
}
.item-5{
  left: 50%;
}
.item-6{
  left: 80%;
}
.instruction {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    top: 85%;
    left: 1%;
    width: 100%;
    text-align: left;
}
.question_div {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    width: 80%;
    left: 10%;
    height: 70%;
    top: 15%;
    z-index: 99999;
    background: RGBA(255, 255, 255,.9);
    border-radius: 2vmin;
}
.text_first {
    position: absolute;
    top: 5%;
    transform: translateX(-50%);
    width: 60%;
    left: 60%;
}
.text_second {
    position: absolute;
    top: 15%;
    transform: translateX(-50%);
    width: 60%;
    left: 60%;
}
.main_question {
    position: absolute;
    top: 35%;
    transform: translateX(-50%);
    width: 60%;
    left: 60%;
}
.option {
    position: absolute;
    font-family: sniglet;
    background: #7558BE;
    color: white;
    padding: 1%;
    width: 17%;
    border-radius: 1vmin;
    border: .5vmin solid #7558BE;
    top: 58%;
    font-size: 1.6vw;
}
.option:hover{
	background: #F9CB9C;
	border: .5vmin solid #E69138;
	color: black;
	cursor: pointer;
}
.pos1{
	left: 13%;
}
.pos2{
	left: 33%;
}
.pos3{
	left: 53%;
}
.pos4{
	left: 73%;
}
.hint1{
  position: absolute;
  transform: translateX(-50%);
  bottom: 3%;
  left: 50%;
  font-size: 1.8vw;
  width: 70%;
}
.sample_image {
    position: absolute;
    height: 43%;
    left: 13%;
    top: 2%;
}
.cross_button {
    position: absolute;
    width: 5%;
    right: 2%;
    top: 3%;
    cursor: pointer;
}
.wrong{
  background: #FF0000;
  border-color: #980000;
  transition:.1s;
  pointer-events:none;
}
.right{
  background: #98C02E;
  border-color: #DEEF3C;
  transition:.1s;
}

@media (min-aspect-ratio:4/3){
	.instuction,.top_instuction,.shop_name_text,.question_div{
		font-size: 4.5vmin;
	}
  .item_price-1, .item_price-2, .item_price-3, .item_price-5, .item_price-4, .item_price-6,.hint1,.option{
    font-size: 3.5vmin;
  }
    .instruction{
        font-size:4vmin;
    }

}
