.lesson-title{
	position: absolute;
	left: 50%;
	bottom: 72.5%;
	color: #DF4056;
	width: 100%;
	z-index: 5;
	transform: translateX(-50%);
	font-size: 6vw;
	font-family: pangolin;
}

.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.left_char {
    position: absolute;
    width: 12%;
    left: 24%;
    top: 56%;
}
.right_char {
    position: absolute;
    width: 15%;
    left: 60%;
    top: 40%;
}
.textfill {
    position: relative;
    top: 25%;
    transform: translate(-50%,-25%);
    left: 50%;
}
.dialog1, .dialog2, .dialog3, .dialog4 {
	position: absolute;
}

.dialog1 {
    width: 33%;
    height: 28%;
    top: 22%;
    left: 30%;
    font-family: sniglet;
    font-size: 2vw;
    padding: 3%;
}
.dialog1 {
    width: 33%;
    height: 28%;
    top: 22%;
    left: 30%;
    font-family: sniglet;
    font-size: 2vw;
    padding: 3%;
}
.dialog2 {
    width: 33%;
    height: 28%;
    top: 12%;
    left: 35%;
    font-family: sniglet;
    font-size: 2vw;
    padding: 3%;
}
.dialog_image1, .dialog_image2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.mirror_image_X, .mirror_image_X2{
	transform: scaleX(-1);
}
.pencil {
    position: absolute;
    height: 30%;
    left: 19%;
    top: -30%;
		animation: top_down_animation 1s ease-in forwards;
		-webkit-animation: top_down_animation 1s ease-in forwards;
}
.hand {
    position: absolute;
    height: 15%;
    left: 17%;
    z-index: 1;
    top: -30%;
		animation: top_down_animation 1s ease-in forwards;
		-webkit-animation: top_down_animation 1s ease-in forwards;
}
.pencil_tag {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 22%;
    top: -30%;
		transform: rotate(-31deg);
		z-index: 3;
		animation: top_down_animation2 1s ease-in forwards;
		-webkit-animation: top_down_animation2 1s ease-in forwards;
}
.pencil_tag1 {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 23%;
    top: 23%;
    transform: rotate(-29deg);
}
.pencil_big {
    position: absolute;
    left: 18%;
    top: 20%;
    width: 11%;
}

.one_pencil {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 12%;
}
.pencil_big_towards_right {
    position: absolute;
    left: 32%;
    top: 20%;
    width: 11%;
}
.pencil_big_towards_right2 {
    position: absolute;
    left: 46%;
    top: 20%;
    width: 11%;
}
.pencil_tag1_towards_right {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 39.5%;
    top: 22%;
    transform: rotate(-29deg) translate(-50%,-50%);
}
.pencil_tag1_towards_right2 {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 51%;
    top: 23%;
    transform: rotate(-29deg);
}
@keyframes top_down_animation {
	to{
		top: 12%;
	}
}
-webkit-@keyframes top_down_animation {
	to{
		top: 12%;
	}
}
-webkit-@keyframes top_down_animation2 {
	to{
		top: 14%;
	}
}
@keyframes top_down_animation2 {
	to{
		top: 14%;
	}
}

.bg_blue {
    color: #3C78D8;
}
.money5 {
    position: absolute;
    height: 20%;
    bottom: -30%;
    left: 63%;
		animation: bottom_up1 1s ease-in forwards;
		-webkit-animation: bottom_up1 1s ease-in forwards;
}
.money5_still {
    position: absolute;
    height: 20%;
    top: 25%;
    left: 63%;
}
.money_hand {
    position: absolute;
    transform: rotate(180deg);
    bottom: -30%;
    left: 72%;
    height: 20%;
		z-index: 2;
		animation: bottom_up 1s ease-in forwards;
		-webkit-animation: bottom_up 1s ease-in forwards;
}
@keyframes bottom_up {
	to{
		bottom: 0;
	}
}
-webkit-@keyframes bottom_up {
	to{
		bottom: 0;
	}
}
@keyframes bottom_up1 {
	to{
		bottom: 10%;
	}
}
-webkit-@keyframes bottom_up1 {
	to{
		bottom: 10%;
	}
}
.scaleup,.scaleup1{
	animation: scaling_up .5s ease-out forwards;
	-webkit-animation: scaling_up .5s ease-out forwards;
}
@keyframes scaling_up {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
-webkit-@keyframes scaling_up {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
.top_text {
    position: absolute;
    font-size: 2.4vw;
    font-family: sniglet;
    width: 100%;
    top: 0%;
    background: RGB(233, 197, 125);
    color: #484848;
    padding: 1%;
    height: 12%;
    z-index: 9;
}
.right_sub_text {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 70%;
}
.two_pencil {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 15%;
}
.three_pencils {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 23%;
}
.money5_still_second {
    position: absolute;
    height: 20%;
    top: 54%;
    left: 63%;
}
.plus {
    position: absolute;
    font-size: 6vw;
    font-family: sniglet;
    color: yellow;
    left: 72%;
    top: 50%;
    transform: translateY(-50%);
}
.money_sub_text {
    font-size: 3vw;
    font-family: sniglet;
    position: absolute;
    color: white;
    top: 77%;
    left: 46%;
    width: 60%;
}

.money_sub_text2 {
    font-size: 3vw;
    font-family: sniglet;
    position: absolute;
    color: white;
    top: 87%;
    left: 46%;
    width: 60%;
}


.expanding_money{
	animation: expand_money .5s ease-in forwards;
	-webkit-animation: expand_money .5s ease-in forwards;

}
@keyframes expand_money {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
-webkit-@keyframes expand_money {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
.money5_1, .money5_2, .money5_3 {
    position: absolute;
    height: 15%;
    left: 65%;
    top: 17%;
}
.money5_2{
	top: 34%;
}
.money5_3{
	top: 51%;
}
.fadein_dialogue{
	animation: fadein_dialogue .6s ease-out forwards;
	-webkit-animation: fadein_dialogue .6s ease-out forwards;
}
@keyframes fadein_dialogue {
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
}
-webkit-@keyframes fadein_dialogue {
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
}
.width_change2 {
    left: 59%;
}
@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 8.5vh;
	}
	.one_pencil,.two_pencil,.money_sub_text,.money_sub_text2,.right_sub_text,.three_pencils{
		font-size: 5.7vmin;
	}
	.top_text {
    font-size: 4.45vmin;
}
	.plus{
		font-size: 12vmin;
	}
	.dialog1, .dialog2 {
    font-size: 3.5vmin;
}
	.pencil_tag{
		font-size: 3vmin;
	}
	.small_text{
		font-size: 6vmin;
	}
	.small_text:lang(np) {
    font-size: 5vmin;
}
}
