.funfactWrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;

    background: -moz-linear-gradient(93deg, rgba(255,255,255,1) 0%, rgba(247,251,236,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247,251,236,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(93deg, rgba(255,255,255,1) 0%, rgba(247,251,236,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(93deg, rgba(255,255,255,1) 0%, rgba(247,251,236,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(93deg, rgba(255,255,255,1) 0%, rgba(247,251,236,1) 100%); /* ie10+ */
    background: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(247,251,236,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7FBEC', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */

}

.funfactWrapper, .funfactWrapper * {
	position: relative;
	margin: 0;
	padding: 0;
}

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
	
}

.funfact{
	width: 100%;
	height: 100%;

	
}

.funfact > figure{
	width: 22%;	
	padding-left: 1%;
	margin: 1% auto 3%;
	
}

.funfact > figure > img{
	width: 100%;
	
}

.funfact > figure > figcaption{
	top:60%;
	left: 8%;
	font-size: 1.3em;
	color:#C98865;
	position: absolute;
	width: 90%;	
}
.funfacttxt
{
	width: 94%;
	padding-left: 2%;
	margin: 1% auto;

}
.funfacttxt > li{
	
	font-size: 1em;	
	margin-bottom: 1.5%;
	width: 100%;
	text-align: left;
	list-style: disc;
	
}

