html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.advantagesofplants{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}
.advantagesofplants .advantagesofplants *{
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 500;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 500;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: white;
}
.imgHolder {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock div.imgHolder{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock  div.imgHolder{
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock  div.imgHolder{
	top: 0%;
	height: 100%;
}

/*div.textblock {
	position: relative;
}*/
div.firstpage{
	position: relative;
	height: 90%;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

div.fiftypage{
	position: relative;
	height: 50%;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}


div.imageblock {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 9%;
	/*border     : 1px solid green; */
}
/*.bg-img{
	z-index: -1000;
}*/


div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}
div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

.textblock {
	top:0%;
	position:absolute;
	left:9.7%;
	width:100%;
	bottom: 80%;
	text-align: center;
	z-index: 1;
}

.text-box{
	width: 80%;
	top: 3%;
	font-size: 1.2em;
	color: #2b3a3f;
	text-align: center;
	padding: 3%;
	border-radius: 10px;
	background-color: rgba(231,231,231,0.9);
	height: 12%;

}
.head3{
	left:45%;
	top:3%;
}
.textonly{
	padding: 3%;
	width: 80%;
	top: 12% ;
	font-size: 1.2em;
	color: #2b3a3f;
	text-align: center;
	height: 70%;	
}
.hightext{
	position:absolute;
	top: 25%;
	font-size: 1.3em;
	color: #717e83;
	text-align: center;
	left: 10%;
	/*animation-duration: 2s !important;*/
	
}
.hightext2{
	position:absolute;
	width: 80%;
	top: 75%;
	font-size: 1.3em;
	color:#FF676B;
	text-align: center;
	left: 10%;	
	animation-delay: 3s;
}

.midtext{
	position:absolute;
	width: 80%;
	top: 45%;
	font-size: 1.5em;
	color:#FF676B;
	text-align: center;
	left: 10%;
	display: none;
}
.midtext2{
	position:absolute;
	width: 80%;
	top: 45%;
	font-size: 1.5em;
	color:#FF676B;
	text-align: center;
	font-weight: bold;
	left: 10%;
}
.head2{
    position: absolute;
    width: 25%;
    top: 7%;
    font-size: 2.2em;
    color: #FF676B;
    text-align: center;
	font-family: ubuntu;
    font-weight: bold;
    left: 40%;
}
.img1{
	position: absolute;
	top: 30%;
	height: 20%;
	left: 14%;
	animation-duration: 2s !important;
}
.img1lbl{
	position:absolute;
	top: 60%;
	font-size: 1.4em;
	color: #717e83;
	text-align: center;
	font-weight: bold;
	font-family: ubuntu;
	left: 16%;
}
.img2{
	position: absolute;
	top: 30%;
	height: 20%;
	left: 35%;
	animation-duration: 2s !important;
	
}
.img2lbl{
	position:absolute;
	top: 60%;
	font-size: 1.4em;
	color: #717e83;
	text-align: center;
	font-weight: bold;
	font-family: ubuntu;
	left: 38%
}
.img3{
	position: absolute;
	top: 30%;
	height: 20%;
	left: 55%;
	animation-duration: 2s !important;
}
.img3lbl{
	position:absolute;
	top: 60%;
	font-size: 1.4em;
	color: #717e83;
	text-align: center;
	font-weight: bold;
	font-family: ubuntu;
	left: 59%
}
.img4{
	position: absolute;
	top: 30%;
	height: 20%;
	left: 75%;
	animation-duration: 2s !important;
}
.img4lbl{
	position:absolute;
	top: 60%;
	font-size: 1.4em;
	color: #717e83;
	text-align: center;
	font-weight: bold;
	font-family: ubuntu;
	left: 80%
}
.shoots{
	left:55%;
}
.img1a{
	position: absolute;
	top: 1%;
	height: 28%;
	left: 4%;
	display: none;
}
.img2a{
	position: absolute;
	top: 1%;
	height: 20%;
	left: 30%;
	display: none;
}
.img3a{
	position: absolute;
	top: 1%;
	height: 20%;
	left: 55%;
	display: none;
}
.img4a{
	position: absolute;
	top: 1%;
	height: 30%;
	left: 80%;
	display: none;
}
.img5a{
	position: absolute;
	top: 38%;
	height: 22%;
	left: 79%;
	display: none;
}
.img6a{
	position: absolute;
	top: 60%;
	height: 30%;
	left: 79%;
	display: none;
}
.img7a{
	position: absolute;
	top: 65%;
	height: 22%;
	display: none;
	left: 52%;
}
.img8a{
	position: absolute;
	top: 60%;
	height: 28%;
	left: 30%;
	display: none;
}
.img9a{
	position: absolute;
	top: 60%;
	height: 26%;
	left: 0%;
	display: none;
}
.img10a{
	position: absolute;
	top: 35%;
	height: 26%;
	left: 0%;
	display: none;
}

.dialog{
	position: absolute;
	top: 12%;
	background-color:#c50095;
	padding: 2%;
	color: white;
	font-size: 1.2em;
	font-family: ubuntu;
	font-weight: bold;
	border-radius: 5px;
	-webkit-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
}
.dialog2, .dialog3, .dialog4{
	position: absolute;
	top: 12%;
	background-color:#00b0c5;
	padding: 2%;
	color: white;
	font-size: 1.2em;
	font-family: ubuntu;
	font-weight: bold;
	opacity: 0;
	border-radius: 5px;
	-webkit-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
}
.dialog5{
	position: absolute;
	width: 35%;
	top: 12%;
	background-color:#ff8747;
	padding: 2%;
	color: white;
	font-size: 1.5em;
	font-family: ubuntu;
	font-weight: bold;
	opacity: 0;
	border-radius: 5px;
	-webkit-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
}
.cotton{    
	height: 50%;
    left: 5%;
    position: absolute;
    top: 0%;
	z-index: -1000;
	border-radius: 7px;
	-webkit-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
}
#cotton-zoom{    
	height: 25%;
    left: 10%;
    position: absolute;
    top: 10%;
	z-index: -1000;
	border-radius: 7px;
	opacity: 0;
	-webkit-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	-moz-box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
	box-shadow: 10px -1px 34px -7px rgba(0,0,0,0.55);
}
.cottondrop{
	height: 25%;
    left: 70%;
    position: absolute;
    top: 10%;
	z-index: -1000;
	opacity: 0;
	border-radius: 7px;
}
@keyframes expand {
	from{ transform: scale(1);}
	to{transform: scale(1.2);}
	/*0% {opacity: 0; transform: scale(0.8)}
	100% { transform: scale(1.1,1.1)}*/
}