.n-text{
	color: #BB1038;
	font-weight: bold;
}
.y-text{
	color: #217836;
	font-weight: bold;
}
.hr-3-10{
	transform: rotate(5deg);
}
.hr-3-20{
	transform: rotate(10deg);
}
.hr-3-50{
	transform: rotate(25deg);
}
.hr-2-30{
	transform: rotate(15deg);
}
.hr-4-30{
	transform: rotate(15deg);
}
.hr-10-30{
	transform: rotate(225deg);
}

.hr-2-15{
	transform: rotate(-22.5deg);
}
.hr-4-15{
	transform: rotate(7.5deg);
}
.hr-10-15{
	transform: rotate(217.5deg);
}
.hr-3-05{
	transform: rotate(2.5deg);
}
.hr-9-05{
	transform: rotate(182.5deg);
}
.hr-3-10{
	transform: rotate(5deg);
}
.hr-4-20{
	transform: rotate(40deg);
}
.hr-4-40{
	transform: rotate(50deg);
}
.hr-5-20{
	transform: rotate(70deg);
}
.hr-5-25{
	transform: rotate(72.5deg);
}
.hr-4-25{
	transform: rotate(42.5deg);
}
.hr-6-25{
	transform: rotate(102.5deg);
}
.hr-5-35{
	transform: rotate(77.5deg);
}
.hl-num-05{
	transform: rotate(-90deg);
	background-color: #FF9314;
	animation: hl-num-05 12s steps(6);
	-webkit-animation: hl-num-05 12s steps(6);
	animation-delay: 2s;
}

@-webkit-keyframes
hl-num-05 {
	50% {transform: rotate(90deg); background-color:#6F9A3A;}
	100% {transform: rotate(270deg); background-color: #F78EBD;}
}
@keyframes
hl-num-05 {
	50% {transform: rotate(90deg); background-color:#6F9A3A;}
	100% {transform: rotate(270deg); background-color: #F78EBD;}
}
.clock-top-2{
	display: none;
	right: 10%;
	top: 20%;
	width: 35%;
	height: 58.3%;
}
.clock-top-1{
	display: none;
	left: 10%;
	top: 20%;
	width: 35%;
	height: 58.3%;
}
.clock-right-4{
	right: 10%;
	top: 10%;
	width: 35%;
	height: 58.3%;
}
.clock-right-3{
	right: 10%;
	top: 20%;
	width: 35%;
	height: 58.3%;
}
.clock-right-2{
	right: 10%;
	top: 20%;
	width: 35%;
	height: 58.3%;
	animation: clock-right-2 0.5s ease-in both;
	-webkit-animation: clock-right-2 0.5s ease-in both;
	animation-delay: 3.5s;
}

@-webkit-keyframes
clock-right-2 {
	0% {right: 5%;}
	100% {right: 10%;}
}
@-webkit-keyframes
clock-right-2 {
	0% {right: 5%;}
	100% {right: 10%;}
}
.conclusion-past-text{
	border: 0.1vmin solid black;
	background-color: #4A86E8;
	width: 75%;
	left: 12.5%;
	text-align: center;
	padding: 0.5%;
	font-weight: bold;
}
.min-margin-0{
	padding: 0% 2%;
	overflow: auto;
}
.min-margin-0>*{
	margin: 0.5% 0%;
}
.note-hl{
	color: #F13487;
	font-weight: bold;
}

.p2-ques{
	margin: 5%;
}

.options-clock{
	display: inline-block;
	cursor: pointer;
	padding: 2% 4%;
	margin: 2% 10%;
	color: white;
	background-color: #7285D4;
	border-radius: 1vmin;
	width: 60%;
	/*border: 0.5vmin solid #43BEE7;*/
}
.options-clock:not(.selected):hover{
	background-color: #FF9838;
}
.p2-hint-text{
	position: absolute;
	padding: 1%;
	bottom: 0%;
	width: 45%;
	right: -45%;
	background-color: #F6A1C7;
}
.p2-hint-1{
	background-color: #F6A1C7;
}
.p2-hint-2{
	background-color: #FFC16A;
}
.blink_numbers{
	animation: blink_numbers 0.5s linear both 10;
	-webkit-animation: blink_numbers 0.5s linear both 10;
}

@-webkit-keyframes
blink_numbers {
	50% {color: #B82647;}
}
@-webkit-keyframes
blink_numbers {
	50% {color: #B82647;}
}
.p2-example-1, .p2-example-2{
	display: none;
	position: absolute;
	bottom: 5%;
	width: 45%;
	text-align: center;
}
.p2-example-1{
	left: 5%;
}
.p2-example-2{
	left: 55%;
}

.boy{
	position: absolute;
}
.boy-1{
	height: 60%;
	left: 5%;
	bottom: 0%;
}
.boy-2{
	height: 60%;
	left: 15%;
	bottom: 0%;
}
.girl{
	position: absolute;
}
.girl-1{
	height: 60%;
	right: 45%;
	bottom: 0%;
}

.dg-1{
	cursor: pointer;
	bottom: 65%;
	left: 15%;
	width: 40%;
}

.min-margin-p2{
	padding: 2% 2%;
}
.min-margin-p2>*{
	position: relative;
	margin: 3% 0%;
}



.highlighted-1{
	animation: highlighted-1 1s linear both infinite;
	-webkit-animation: highlighted-1 1s linear both infinite;
	animation-delay: 1s;
}
@-webkit-keyframes
highlighted-1 {
	50% {color: red;}
}
@keyframes
highlighted-1 {
	50% {color: red;}
}
.highlighted-2{
	animation: highlighted-2 1s linear both infinite, appear 2s linear 2s both;
	-webkit-animation: highlighted-2 1s linear both infinite, appear 2s linear 2s both;
}
@-webkit-keyframes
highlighted-2 {
	50% {background-color: #6F9A3A;}
}
@keyframes
highlighted-2 {
	50% {background-color: #6F9A3A;}
}
#clock_svg_container{
	position: absolute;
	top: 20%;
	right: 5%;
	height: 58%;
	width: 35%;
}
#Layer_1{
	position: absolute;
	top:0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.submit_btn{
	position: relative;
	font-size: 4vh;
	background: gray;
	width: 40%;
	float: right;
	border-radius: .5em;
	color: #fff;
	cursor: pointer;
	display: none;
}
.dot_line_3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	border-radius: 2px dashed #f00;
}
.dot_line_3{
	position: absolute;
	top: 51%;
	left: 55%;
	transform: translate(-50%, -50%);
	width: 31%;
	border: 4px dashed #f00;
	transform: rotate(6deg);
	z-index: 4;
}
.optioncontainer{
	position: absolute;
	top: 51%;
	left: 12.5%;
	height: 9%;
	width: 35%;
	z-index: 5;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.optn_blk_sec{
	top: 72%;
}
.optionclass{
	/* position: relative; */
	width: 45%;
	height: 50%;
}
.cirincor{
	position: absolute;
	width: 26%;
	left: 100%;
	top: 23%;
	display: none;
}
.opn_txt{
	position: relative;
	background: #7b74d4;
	border: 4px solid #7b74d4;
	border-radius: .5em;
	color: #fff;
	font-size: 4.5vh;
}
.opn_txt:hover{
	background:  #f6b26b;
	border: 4px solid #e69138;
	cursor: pointer;
	color: #000;
}

.op_0{
	opacity: 0;
}
.drag_container{
	position: absolute;
	bottom: 5%;
	left: 3%;
	width: 48%;
	height: 19%;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	z-index: 10;
}
.dragable{
	position: relative;
	width: 30%;
	height: 70%;
	background: #a4c2f4;
	border-radius: 1em;
}
.dragable p, .dropable p{
	position: absolute;
	text-align: center;
	padding: 14%;
	font-size: 3.5vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
}
.dragable:hover{
	cursor: pointer;
	transform: scale(1.1, 1.1);
}
.dropable{
	position: absolute;
	top: 9%;
	left: 66%;
	background: #fff;
	width: 14%;
	height: 11%;
	z-index: 5;
	border: 4px solid #000;
	z-index: 5;
}
.drop-15{
	top: 43%;
	left: 90%;
	width: 10%;
}
.drop-30{
	top: 78%;
	left: 66%;
}

.drop-hover{
	border: 4px dashed #000;
}
.dnd_qn{
	position: absolute;
	z-index: 5;
	bottom: 32%;
	font-size: 3.5vh;
	left: 2%;
	width: 50%;
}

.correct{
	background:#98c02e;
	border: 4px solid #ff0;
	pointer-events: none;
}
.incorrect{
	background:  #ff0000;
	border: 4px solid #980000;
	pointer-events: none;
}
