.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 10px;
	padding-top: 2%;
}

.wrapperIntro.firstPage .text0 {
	font-size: 1.3em !important;
	border:solid 2px #538cdb;
	text-align:center;
	margin-bottom:15px;

}

.wrapperIntro.firstPage .text1{
	font-size:1em;
}
.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #993366;
}

.wrapperIntro.firstPage .ind2{
	font-size: 1em;
	color: #FF9900;
}

.wrapperIntro.firstPage .text1 {
	font-size: 1.6em;
	opacity: 0;
}

.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}

.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12 {
	font-size: 1.6em;
	display: none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}
/*
.wrapperIntro.firstPage .text5 {
	position: absolute;
	top: 30%;
	right: 5%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .text5:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.firstPage .text5:before {
	position: absolute;
	content: "";
	top: 25%;
	left: -32%;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid blue;
	display: none;
}

.wrapperIntro.firstPage .text6 {
	position: absolute;
	top: 60%;
	left: 5%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .text6:after {
	position: absolute;
	width: 70%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}

.wrapperIntro.firstPage .text6:before {
	position: absolute;
	content: "";
	top: 25%;
	right: -72%;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid green;
	display: none;
}
*/

.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

/*
.wrapperIntro.second .text0 {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
}

.wrapperIntro.second .text0:after {
	position: absolute;
	width: 25%;
	height: 1px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.second .text1 {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
}

.wrapperIntro.second .text1:after {
	position: absolute;
	width: 50%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}
*/
.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1.3em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0 ,
.wrapperIntro.baseAndIndices2 .text1 {
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform : rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform : rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform : rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform : rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5{
	color:#538cdb;
}


/*added by manish*/

.wrapperIntro.second .text1,
.wrapperIntro.second .text2,
.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12{
	font-size: 1em;
	display: none;
}

.wrapperIntro.second .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #FF9900;
}


.wrapperIntro.second .text3 {
    color: #000088;
    display: none;
    font-size: 1.3em;
	margin-left: 29.5%;

}

.wrapperIntro.second .text4 {
    color: #000088;
    display: none;
    font-size: 1.3em;
	margin-left: 29.5%;

}

.wrapperIntro.second .text7 {
    color: #000088;
    display: none;
    font-size: 1.3em;
    margin-left: 29.5%;
}

.wrapperIntro.second .text8 {
    color: #000088;
    display: none;
    font-size: 1.3em;
    margin-left: 29.5%;
}

.wrapperIntro.second .yellow {
    color: #ffff00;
}


.wrapperIntro.second .green {
    color: green;
}

.wrapperIntro.second .imageholder01{
	display:none;
}

.wrapperIntro.second .imageholder02{
	display:none;
}

#fun_1 > img{
	width:62%;
}

#ball_1 {
    background: yellow;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%;/*24%;*/
	top: 0;
}


#ball_2 {
    background: red;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
}

#ball_3{
    background: green;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%; /*24%;*/
	top: 0;
}

.img-des1 {
    display: inline-flex;
    width: 100%;
}

.imageholder01{
	width:40%;
}

.image1des {
    border-radius: 12px;
    bottom: 17%;
    float: right;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    right: 0;
    width: 50%;
	padding-top: 2%;
	margin-right:3%;
}



.img-des2 {
    display: inline-flex;
    width: 100%;
}

.imageholder02{
	width:40%;
}

.image2des {
   border-radius: 12px;
    bottom: 17%;
    float: right;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    right: 0;
    width: 50%;
	padding-top: 2%;
	margin-right:3%;
}

/*first figure pachi ko styling*/

.des2 {
    margin-left: 8.5%;
}
.des3 {
    margin-left: 8.5%;
}

.des5 {
    margin-left: 8.5%;
}
.des6 {
   margin-left: 8.5%;
}
/********************third page****************/

.wrapperIntro.third .ind2{
	color: #FF9900;
}

.wrapperIntro.third .imageholder03{
	display:none;
}

#fullname{
	color:#cece00;
	position:absolute;
	top:0;
	left:13%; /*4%;*/
}

#firstname{
	color:red;
	position:absolute;
	left:13%;
}

.imageholder01{
	position:relative;
}


.wrapperIntro.third .text1{
	display:none;
}

.wrapperIntro.third .text2{
	display:none;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des3 {
    display: inline-flex;
    width: 100%;
	padding-bottom:15px;
}

.imageholder03{
	width:40%;
}

.image3des {
   border-radius: 12px;
    bottom: 17%;
    float: right;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    right: 0;
    width: 50%;
	padding-top: 2%;
	margin-right:3%;
}




/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des4 {
    display: inline-flex;
    width: 100%;
}

.imageholder04{
	width:40%;
}

.image4des {
   border-radius: 12px;
    bottom: 17%;
    float: right;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    right: 0;
    width: 50%;
	padding-top: 2%;
	margin-right:3%;
}

.wrapperIntro.third .imageholder04{
	display:none;
}

#fullname01{
	color:green;
	position:absolute;
	top:0;
	left:13%; /*4%;*/
}

#firstname01{
	color:red;
	position:absolute;
	left:13%;
}

/*page4*/

.wrapperIntro.fourth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #FF9900;
}

.wrapperIntro.fourth .imageholder05{
	display:none;
}

.wrapperIntro.fourth .imageholder06{
	display:none;
}

.wrapperIntro.fourth .text1{
	display:none;
}

.wrapperIntro.fourth .text2{
	display:none;
}



.img-des5 {
    display: inline-flex;
    width: 100%;
}

.imageholder05{
	width:40%;
}

.image5des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input01{
	color:green;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output01{
	color:c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 17%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;
}



.img-des6 {
    display: inline-flex;
    width: 100%;
}

.imageholder06{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input02{
	color:green;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output02{
	color:c25b56;
	position:absolute;
	left:21%;
}
 /*******end of page 4*************/



 /****page5*************/



 .wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #FF9900;
}

.wrapperIntro.fifth .imageholder07{
	display:none;
}

.wrapperIntro.fifth .imageholder08{
	display:none;
}

.wrapperIntro.fifth .text1{
	display:none;
}

.wrapperIntro.fifth .text2{
	display:none;
}



.img-des7 {
    display: inline-flex;
    width: 100%;
}

.imageholder07{
	width:40%;
}

.image7des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input03{
	color:green;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output03{
	color:c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    height: 20%;
    left: 16%;
    position: absolute;
    text-align: center;
    top: 61%;
    width: 18%;
	font-style:bold;
	z-index:1000;
}



.img-des8 {
    display: inline-flex;
    width: 100%;
}

.imageholder08{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input04{
	color:green;
	position:absolute;
	top:0;
	left:21%;
}

#output04{
	color:c25b56;
	position:absolute;
	left:21%;
}


 /******end of page5********/


 .wrapperIntro.firstPage .Imageholder01{
	display:none;
 }

  .wrapperIntro.firstPage .Imageholder02{
	display:none;
 }


 .wrapperIntro.second .imageholder03{
	display:none;
 }

 .wrapperIntro.second .imageholder04{
	display:none;
 }

 .wrapperIntro.firstPage .text1{
	font-size:1em;
 }

 .main-fun-a{

	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;

}

.main-fun-b{
	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    left: 14.5%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;
}


.main-fun-c{

	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 13.5%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;

}

.main-fun-d{
	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    left: 13.5%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;
}


.main-fun-e{

	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;

}

.main-fun-f{
	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    left: 14.5%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;
}

.main-fun-g{

	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 13%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;

}

.main-fun-h{
	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    display: none;
    left: 13%;
    padding: 10px;
    position: absolute;
    top: 61%;
	z-index:1000;
}
