.exponential {
	background: #b2e1ff; / Old browsers /
background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%); / FF3.6+ /
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); / Chrome,Safari4+ /
background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); / Chrome10+,Safari5.1+ /
background: -o-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); / Opera 11.10+ /
background: -ms-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%); / IE10+ /
background: linear-gradient(to bottom, #b2e1ff 0%,#66b6fc 100%); / W3C /
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	position: relative;
	top:0%;
	left: 0%;
}

.exponential .wrapperIntro .titles {
	padding: 2% 1% 1%;
}

.exponential .wrapperIntro .titles .yourTurn {
	font-size: 1.3em;
}

.exponential .wrapperIntro .titles .qTitle {
	font-size: 1em;
	color: #996699;
}

.exponential .wrapperIntro .qaArea {
	/*color: #996699;*/
	font-size: 1.3em;
	padding: 1% 2% 2% 5%;
}

.exponential .wrapperIntro .qaArea > div {
	/*box-shadow: 0 10px 5px -5px #c9c9c9;*/
	margin-bottom: 1%;
}

.exponential .wrapperIntro .qaArea .qTitle span.q {
	color: #996699;
}

.exponential .wrapperIntro .qaArea .qTitle span{
	font-size: 1.3em;
}

.exponential .wrapperIntro .qaArea .qTitle sup {
	font-size: 0.7em;
}

.exponential .wrapperIntro .qaArea .ansArea {
	padding-left: 4%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.exponential .wrapperIntro .qaArea .ansArea input {
	width: 6%;
	/*background: #4F81BD;*/
	border: 2px solid #395E8A;
	border-radius: 5px;
	padding-left: 1%;
	/*color: #fff;*/
}
.exponential .wrapperIntro .qaArea .ansArea .powerString {
	margin-left: 3%;
}
.exponential .wrapperIntro .qaArea .ansArea input:focus {
	box-shadow: 0 0 5px #000;
}

.exponential .wrapperIntro .qaArea .showAns {
	margin-left: 10%;
	display: none;
}

.exponential .wrapperIntro .qaArea .clicks {
	padding: 1% 0% 1% 3%;
}

.exponential .wrapperIntro .qaArea .clicks .check {
	margin-left: 1%;
	border: 1px solid #395E8A;
	padding: 5px;
	border-radius: 10px;
	background: #395E8A;
	color: #fff;
	cursor: pointer;
}

.exponential .wrapperIntro .qaArea .clicks .check:hover {
	background: #fff;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .check:active {
	background: #EA9046;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .click {
	margin-left: 10%;
	border: 1px solid #395E8A;
	background: #395E8A;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	display: none;
}

.exponential .wrapperIntro .qaArea .clicks .click:hover {
	background: #fff;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .click:active {
	background: #EA9046;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .ansArea .check1,
.exponential .wrapperIntro .qaArea .ansArea .check2 {
	display: inline-block;
	width: 3%;
}

.exponential .wrapperIntro .qaArea .ansArea .check1 img,
.exponential .wrapperIntro .qaArea .ansArea .check2 img {
	width: 100%;
}

/*******************addded by manish*************/

.wrapperIntro .qaArea .question1 img{
	width:220px;

	}
	
.wrapperIntro .qaArea .question2 img{
	width:220px;
	display:none;

	}
	
.wrapperIntro .qaArea .question13 img{
	width:220px;
	display:none;

	}
	
/*added by manish*************/

.term1 {
    color: #00aaa0;
    left: 10.5%;
    position: absolute;
    top: -13px;
    z-index: 10;
}

.term2 {
	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    height: 18%;
    left: 9%;
    position: absolute;
    text-align: center;
    top: 63%;
    width: 5%;
    z-index: 100;
}

.term3 {
    color: #00aaa0;
    left: 13%;
    position: absolute;
    top: -13px;
    z-index: 10;
}



.wrapperIntro .q > img{
	width:30%;
}

.symbol{
	background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    height: 18%;
    left: 27%;
    position: absolute;
    text-align: center;
    top: 63%;
    width: 5%;
    z-index: 101;
	}
	
.wrong-note {
    display: none;
}


.yourTurn {
    border: 2px solid #538cdb;
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
}

.baseString.right {
    margin-left: -2%;
}

/*end of added by manish********/

.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
.showAns {
    border: .2vmin solid black;
    padding: 1%;
}