/*body {
	xmargin: 30px;
	font-family: "Georgia", serif;
	line-height: 1.8em;
	color: #fff;
}*/

.container.container_layout{
	background: #b2e1ff;
	background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc));
	background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
	background: -o-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
	background: -ms-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
	background: linear-gradient(to bottom, #b2e1ff 0%,#66b6fc 100%);

}

.exponential {
    background: #b2e1ff;
	background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc));
	background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
	background: -o-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
	background: -ms-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
	background: linear-gradient(to bottom, #b2e1ff 0%,#66b6fc 100%);
    box-shadow: 0 0 30px #f2f2f2 inset;
    font-size: 1.3em;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	#cardPile div {
    font-size: 15px !important;
    margin: 10px 0 0 !important;
	}
	.image_style {
    height: 102px !important;
    width: 108px !important;
	}
	.end {
    font-size: 15px !important;
    height: 30% !important
    margin-left: 6px !important;
    width: 76% !important;
   }
 /*.play_success{
	   	 display: block !important;
	    height: 14% !important;
	    left: 46.9% !important;
	    opacity: 1 !important;
	    top: 24% !important;
	    width: 32% !important;
 }*/

}

@media only screen and (min-width: 980px) and (max-width: 1279px) {
	#cardPile div {
    font-size: 18px !important;
    margin: 13px 0 0 !important;
	}
	.image_style {
    height: 112px !important;
    width: 114px !important;
	}
	.end {
    font-size: 18px !important;

    height: 30% !important
    margin-left: 8px !important;
    width: 76% !important;
   }
}


.wrong-note{
	display:none;
}

.mainBox{
margin:0 auto;}

/* Give headings their own font */

h1, h2, h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}
h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	color:#4682B4;
}

.title{
background:none repeat scroll 0 0 #4682b4;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
color:#fff;
font-size:24px;
padding:2%;
text-align:center;
width:100%}


.logoImg{
padding:0px !important;}

/* Main content area */
.container_layout {
	max-width: 100%;
	background: #FFFFFF;
	height: 100%
}
.container {
    width: 100% !important;
    position: relative;
}
#wrapper {
	x  margin: 80px 70px;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Header/footer boxes */

.wideBox {
	clear: both;
	text-align: center;
	margin: 70px;
	padding: 10px;
	background: #ebedf2;
	border: 1px solid #333;
}

.wideBox h1 {
	font-weight: bold;
	margin: 20px;
	color: #666;
	font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
	margin: 5px auto 0 auto;
	xbackground: #4682B4;
}

/*img{
padding-top:15px;
padding-bottom:15px;}*/

/* The initial pile of unsorted cards */

#cardPile {
	/*margin: 0 auto;*/
	display:inline-flex;
	float:left;

}

#cardPile:hover {
	cursor: pointer;
}

#cardslots{
margin-top:17px;}

#cardSlots, #cardPile {
	xheight: 504px;
	padding: 10px;
	width:100%;
	xwidth: 798px;
	x  border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	x-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	x-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	xbox-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

#cardSlots div {
	xborder-radius: 10px;
	xfloat: left;
	xheight: 107px;
	xmargin: 4 0 0 23px;
	x margin-left: 10px;
	x margin-top: 4px;
	xpadding-bottom: 3px;
	xpadding-top: 19px;
	x position: absolute;
	xwidth: 123px;
	xfont-size: 20px;
}

#cardPile div {
	xborder-radius: 10px;
	xfloat: left;
	xheight: 107px;
	xmargin: 4 0 0 23px;
	x margin-left: 10px;
	x margin-top: 4px;
	xpadding-bottom: 3px;
	xpadding-top: 13px;
	x position: absolute;
	xwidth: 123px;
	font-size: 20px;
}

#cardSlots div:first-child, #cardPile div:first-child {
	x margin-left: 0;
}

.ui-droppable{
margin-bottom:35px;
}
#cardSlots div.hovered {
	background: #ccc;
}

#cardSlots div {
	xborder-style: solid;
}
.image_style{
   	height:120px;min-width:120px;
   	border:solid 2px #4682B4 !important;
   	border-radius:15px !important;
   	padding:0px !important;
}
.ui-droppable{
xborder-color:#4682B4;
xborder-style:solid;
x border-radius:  20px;
 xborder-width:2px;
}

.end{
   background-color: #f7f5f6;
    background-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
    border: 1px solid #ccc;
    border-radius:4px;
    color: #4a4a4a;
    font-size: 20px;
	position:absolute;
	xwidth:90%;
	bottom:-9px;

}

#cardPile div {
	background-color: #f7f5f6;
    background-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #4a4a4a;
    font-size: 20px;
    margin: 12px 5px 0;
    padding: 12px;
    text-align: center;
    width: 10.16%;

}

#cardPile div.ui-draggable-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */

/* "You did it!" message */
#successMessage {
	position: absolute;
	left: 38%;
	top: 250px;
	width: 0;
	height: 0;
	z-index: 100;
	/*background: #dfd;
	border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);*/
	padding: 20px;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%) repeat scroll 0 0 #b8e356;
	xbackground-color: #f7f5f6;
    xbackground-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
    border: 1px solid #ccc;
    border-radius:4px;
    color: #4a4a4a;
}


/***added by manish****/


#fun_1 > img{

	width:90%;
	float:left;
}

#holder1 {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10%;
    width: 12%;
}

#holder2 {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10%;
    width: 12%;
}

#holder3 {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10%;
    width: 12%;
}

#holder4 {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10%;
    width: 12%;
}
#holderx {
	top:40px;
	left:40px;
    height: 100px;
    width: 100px;
	color:red;
}
#holder5 {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10%;
    width: 12%;
}
#holder6 {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10%;
    width: 12%;
}
#answer-holder{
	display:inline-flex;
}


.anscheck {
    color: #ff0000;
}

.term2 {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 29%;
    margin: 0 auto !important;
    padding: 5%;
    position: absolute;
    text-align: center;
    top: 59%;
    z-index: 10;
}

.textgen {
    color: #000;
    font-size: 27px;
    z-index: 10;
}


.ansArea {
	float: right;
    font-family: arial !important;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: left;
    width: 62.5%;
}
.ansArea input {
	width: 6%;
	/*background: #4F81BD;*/
	border: 2px solid #395E8A;
	border-radius: 5px;
	padding-left: 1%;
	/*color: #fff;*/
}
.ansArea .powerString {
	margin-left: 3%;
}
.ansArea input:focus {
	box-shadow: 0 0 5px #000;
}

.showAns {
	margin-left: 10%;
	display: none;
}

.clicks {
	padding: 2% 0 0% 0;
	display:inline-flex;
	width:61%;
}

.clicks .check {
	margin-left: 1%;
	border: 1px solid #395E8A;
	padding: 5px;
	border-radius: 10px;
	background: #395E8A;
	color: #fff;
	cursor: pointer;
}

.clicks .check:hover {
	background: #fff;
	color: #383838;
}

 .clicks .check:active {
	background: #EA9046;
	color: #383838;
}

 .clicks .click {
	margin-left: 10%;
	border: 1px solid #395E8A;
	background: #395E8A;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	display: none;
}

 .clicks .click:hover {
	background: #fff;
	color: #383838;
}

.clicks .click:active {
	background: #EA9046;
	color: #383838;
}

.ansArea .check1,
.ansArea .check2 {
	display: inline-block;
	width: 3%;
}

.ansArea .check1 img,
.ansArea .check2 img {
	width: 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	top:86%;
	left:80%;
	width: 6%;
	height: 10%;
	z-index: 99;
}

.prevBtn {
	display: none;
	position: absolute;
	top:86%;
	left:14%;
	width: 6%;
	height: 10%;
}
.slot{
	margin : 3px;
}


#holder1, #holder2, #holder3, #holder4, #holder5 {
    margin-right: 4% !important;
}


.ui-draggable.ui-draggable-handle{

	background-color: #f7f5f6;
    background-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #4a4a4a;
    font-size: 20px;
    margin: 12px 0 0;
    text-align: center;
    width: 50px;
}
.qTitle {
    color: #996699;
    font-family: arial;
    font-size: 19.0167px;
    margin-left: 5%;
    padding-bottom: 9px;
}



.exponential .wrapperIntro .titles {
    padding: 2% 1% 1%;
}


.exponential {
    font-size: 1.3em;
}


.exponential .wrapperIntro .titles .yourTurn {
    font-size: 1.3em;
}

.yourTurn {
    border: 2px solid #538cdb;
    color: #333;
    font-family: Arial;
    font-size: 24.7167px !important;
    margin: 2% 1% 1%;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
}

.titles{



}

.q1 {
    padding-left: 28px;
}

.q2 {
    padding-left: 28px;
}


.q3 {
    padding-left: 28px;
}

.q4 {
    padding-left: 28px;
}


.textgen {
    color: #000000;
    font-size: 55px;
    left: 19px;
    position: absolute;
    top: -1px;
    z-index: 10;
}

.exponential .wrapperIntro .titles .qTitle {
    color: #993366;
    font-size: 1em;
}
