<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page3.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="coordinates">
    <div class="board">Hello World!!! [Lesson]</div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}

    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">

        {{#if containscanvaselement}}
    		<div class="customcanvas">
	            <canvas id="customcanvasbase" class ="{{customcanvasbase}}" width="250px" height="250px">
					Your browser does not support the HTML5 canvas tag.
				</canvas>
				<canvas id="customcanvasgrid" class = "{{customcanvasgrid}}" width="250px" height="250px">
					Your browser does not support the HTML5 canvas tag.
				</canvas>
			</div>
		{{/if}}

        {{#if containsdraggables}}
	        {{#each containsdraggables}}
	        	<div id = "{{customdraggableid}}"class="draggablecordinate">
	        		<img class="{{imgclass}}" src="{{imgsrc}}"  data-answer="{{answer}}" alt="Image Missing">
					<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
				</div>
			{{/each}}
        {{/if}}

        {{#if containsdroppables}}
        	{{#each containsdroppables}}
        		<div class= "dropablecoordinate {{customdropableclass}}">

        		</div>
        	{{/each}}
        {{/if}}
        {{#if contentblocknocenteradjust}}
            <div class="vertical-horizontal-center">
        {{/if}}

           {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocktextnocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if contentblockimagenocenteradjust}}
                    <div class="vertical-horizontal-center">
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
            </div>
            {{/if}}
            {{#if contentblockimagenocenteradjust}}
                    </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
            </div>
            {{/if}}

         {{#if contentblocknocenteradjust}}
            </div>
         {{/if}}

        {{#if inputfields}}
    		<div class="inputfields">
            	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            		{{#each inputtypes}}
            			{{#if preinputspanvalue}}
            			<span class = "{{preinputspanclass}}">{{{preinputspanvalue}}}</span>
            			{{/if}}
            			<input type="{{inputtype}}" class="{{inputtypeclass}}" name="{{inputtypename}}" value="{{inputtypevalue}}">
            			{{#if inputspanvalue}}
            			<span class = "{{inputspanclass}}">{{{inputspanvalue}}}</span>
            			{{/if}}
            		{{/each}}
    		</div>
    	{{/if}}

    	{{#if additionalinfotextblock}}
    		<div class="{{additionalinfotextblockclass}}">
    			 	{{#each additionalinfotextblock}}
                        {{> textcontent}}
                    {{/each}}
    		</div>
    	{{/if}}
        </div>
    </div>
    {{! content block end--}}
</div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}"  data-answer="{{answer}}" alt="Image Missing">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>


<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
	// $jsLoader("../../../../js/jquery-ui.js");
    $jsLoader("js/page3.js");
</script>
