.chapterfractions {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.chapterfractions, .chapterfractions * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.chapterfractions .nextBtn{
    z-index : 10000;
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.chapterfractions .prevBtn{
    z-index : 10000;
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
}
.instruct_text {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.description {
    color: black;
    font-size: 14.2vmin;
}

.fraction, .fraction2, .top, .bottom{
	padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;    
}

.fraction2 {
   transform: translateY(25%);   
}

.bottom{
    border-top: 0.1em solid #222;
    display: block;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}

div[class^= "frac-"], div[class*=" frac-"]{
	height: auto;
    width: auto;
    font-size: 5vmin;
    position: absolute;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
}

.instruction_text_1{
	position: absolute;
	top: 2%;
	left: 50%;
	text-align:center;
	width: 100%;
	transform: translateX(-50%);
	font-size: 3vmin;
}

.frac_ques{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 100%;
}

.f_id_0, .f_id_1, .f_id_2, .f_id_3, .f_id_4, .f_id_5, .f_id_6, .f_id_7, .f_id_8 {
	z-index: 100;
	cursor: move;
	position:absolute;
	height: auto;
	border-radius: 10px;
	padding : 1%;
	border: 2px solid black;
    background: white;
}

.f_id_9, .f_id_10, .f_id_11, .f_id_12, .f_id_13, .f_id_14, .f_id_15, .f_id_16, .f_id_17 {
    z-index: 100;
    cursor: move;
    position: absolute;
    height: auto;
    border-radius: 10px;
    padding: 1%;
    border: 2px solid black;
    background: white;
}

.its_hidden{
	display: none;
}

.specialdropdiv{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
}

.fraction_drop{
	width: 20%;
	position: absolute!important;
	bottom: 5%;
	height: 40%;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 3.3vmin;
	background-color: #ccc;
}

.drop_0{
	left: 2.5%;
}
.drop_1{
	left: 27.5%;
}
.drop_2{
	left: 52.5%;
}
.drop_3{
	left: 77.5%;
}

.draggableposition4{
	left: 60%;
	-webkit-animation: slidein4 1.5s linear 1 forwards;
	animation: slidein4 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein4{
	to{
		left: 83.5%;
	}
}

@keyframes slidein4{
	to{
		left: 83.5%;
	}
}

.draggableposition3{
	left: 35%;
	-webkit-animation: slidein3 1.5s linear 1 forwards;
	animation: slidein3 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein3{
	to{
		left: 59%;
	}
}

@keyframes slidein3{
	to{
		left: 59%;
	}
}

.draggableposition2{
	left: 10%;
	-webkit-animation: slidein2 1.5s linear 1 forwards;
	animation: slidein2 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein2{
	to{
		left: 34%;
	}
}

@keyframes slidein2{
	to{
		left: 34%;
	}
}

.draggableposition1{
	left: -25%;
	-webkit-animation: slidein1 1.5s linear 1 forwards;
	animation: slidein1 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein1{
	to{
		left: 8.5%;
	}
}

@keyframes slidein1{
	to{
		left: 8.5%;
	}
}

.disableanimation{
	-webkit-animation: emptyanimation 0.1s linear 1 forwards;
	animation: emptyanimation 0.1s linear 1 forwards;
}

@-webkit-keyframes emptyanimation{
	
}

@keyframes emptyanimation{
	
}

.itemdrop_0, .itemdrop_1, .itemdrop_2, .itemdrop_3{
	width: 20%;
	position: absolute!important;
	bottom: 5%;
	height: 40%;
	/*border: 1px solid #FFB5BA;*/
}

.itemdrop_0{
	left:2.5%;
	/*border: 1px solid #FFB5BA;*/
}

.itemdrop_1{
	left:27.5%;
	/*border: 1px solid #FFB5BA;*/
}

.itemdrop_2{
	left:52.5%;
	/*border: 1px solid #FFB5BA;*/
}
.itemdrop_3{
	left:77.5%;
	/*border: 1px solid #FFB5BA;*/
}
.bluishbg{
    background-color: #E5F7E6;
}
.bluebg{
    background: url("../images/bg_blue.jpg");
    background-size: 100% 100%;
	background-repeat: no-repeat;
}
