@font-face {
    font-family:pangolin;
    src: url(../../../../../fonts/Pangolin-Regular.ttf);
}
@font-face {
    font-family:sniglet;
    src: url(../../../../../fonts/sniglet/sniglet-regular.otf);
}
.chapterfractions {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.chapterfractions, .chapterfractions * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.chapterfractions .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.chapterfractions .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
}

.description{
	font-size: 4.2vmin;
}

.textblockleft60{
	height: 100%;
	width: 65%;
	position: absolute;
	z-index: 10;
}

.imageblockright40{
	height: 100%;
	width: 40%;
	right: 0;
	position: absolute;
}

/**
	this block is essential for implementing fractions
	fraction block essential code begin
*/
.fraction, .fraction2, .top, .bottom{
	padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;
}

.fraction2 {
   transform: translateY(25%);
}

.bottom{
    border-top: 0.1em solid #222;
    display: block;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}

/**
	fraction block essential end
*/

div[class^= "frac-"], div[class*=" frac-"]{
	height: auto;
    width: auto;
    font-size: 5vmin;
    position: absolute;
}

.frac-1{
	top: 50%;
    right: 20%;
    font-size: 15vmin !important;
    transform: translate(50%, -50%);
}

.frac-2{
	top: 50%;
    right: 25%;
    transform: translate(50%, -50%);
}

.frac-3{
	top: 50%;
    right: 15.5%;
    transform: translate(50%, -50%);
}

.frac-4{
	top: 63%;
    right: 20%;
    transform: translate(50%, -50%);
}

.frac-5{
	top: 45%;
    right: 26.5%;
    transform: translate(50%, -50%);
}

.frac-6{
	top: 45%;
    right: 13.5%;
    transform: translate(50%, -50%);
}

.plate{
	position: absolute;
	width: 80%;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
}

.roti{
	position: absolute;
	width: 56%;
	left: 22%;
	top: 50%;
	transform: translateY(-50%);
}

.rotihalf1, .rotihalf2{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 56%;
	left: 22%;
}

.rotihalf1{
	left: 21%;
}

.rotihalf1animate{
	-webkit-animation: animateleft 1.4s linear infinite;
	animation: animateleft 1.4s linear infinite;
}

@-webkit-keyframes animateleft{
	0%{
		left: 22%;
	}
	20%{
		left: 22%;
	}
	100%{
		left: 20%;
	}
}

@keyframes animateleft{
	0%{
		left: 22%;
	}
	20%{
		left: 22%;
	}
	100%{
		left: 20%;
	}
}

.rotithirdanimate{
	-webkit-animation: animatebottom 1.4s linear infinite;
	animation: animatebottom 1.4s linear infinite;
}

@-webkit-keyframes animatebottom{
	0%{
		transform: translateY(-50%);
	}
	20%{
		transform: translateY(-50%);
	}
	100%{
		transform: translateY(-46%);
	}
}

@keyframes animatebottom{
	0%{
		transform: translateY(-50%);
	}
	20%{
		transform: translateY(-50%);
	}
	100%{
		transform: translateY(-46%);
	}
}

.rotihalf2{
	left: 22%;
}

.arrow{
	position:absolute;
	width: 10%;
	top: 25%;
	left: 45%;
	-webkit-animation: animatearrow 1.4s linear infinite;
	animation: animatearrow 1.4s linear infinite;
}

@-webkit-keyframes animatearrow{
	to{
		top: 55%;
	}
}

@keyframes animatearrow{
	to{
		top: 55%;
	}
}

.slowlyfadein{
	opacity: 0;
	-webkit-animation: slowfadein 1s linear 4s forwards;
	animation: slowfadein 1s linear 4s forwards;
}

.slowlyfadein2{
	opacity: 0;
	-webkit-animation: slowfadein 1s linear 1s forwards;
	animation: slowfadein 1s linear 1s forwards;
}

@-webkit-keyframes slowfadein{
	to{
		opacity: 1;
	}
}

@keyframes slowfadein{
	to{
		opacity: 1;
	}
}

.rotisix6, .rotisix5, .rotisix4, .rotisix3, .rotisix2, .rotisix1{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 56%;
	left: 22%;
}

.fade_away1{
	-webkit-animation: fadeawaysample 1s linear 1s forwards;
	animation: fadeawaysample 1s linear 1s forwards;
}

.fade_away2{
	-webkit-animation: fadeawaysample 1s linear 2s forwards;
	animation: fadeawaysample 1s linear 2s forwards;
}

.fade_away3{
	-webkit-animation: fadeawaysample 1s linear 3s forwards;
	animation: fadeawaysample 1s linear 3s forwards;
}

.fade_away4{
	-webkit-animation: fadeawaysample 1s linear 4s forwards;
	animation: fadeawaysample 1s linear 4s forwards;
}

@-webkit-keyframes fadeawaysample{
	to{
		opacity: 0;
	}
}

@keyframes fadeawaysample{
	to{
		opacity: 0;
	}
}

.rotithird01, .rotithird02, .rotithird03{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 56%;
	left: 22%;
}

.platelabel{
	width: 100%;
	font-size: 5vmin;
	font-weight: initial;
	position: absolute;
	left: 0;
	top: 80%;
	color: #E06666;
}

.finalpageimageblock{
	height: 100%;
	width: 100%;
}

.imagespecialclass1, .imagespecialclass2{
	height: 70%;
	width: 35%;
	position: absolute;
	top: 20%;
}

.imagespecialclass1{
	left: 6%;
}

.imagespecialclass2{
	right: 6%;
}

.plate1{
	position: absolute;
	top:10%;
	width: 90%;
	left: 5%;
}

.half, .onethird {
    position: absolute;
    width: 66%;
    left: 18%;
    top: 20%;
    cursor: pointer;
}

.imagelabel{
	font-size: 4.56vmin;
	font-weight: initial;
	bottom: 2%;
	position: absolute;
	width: 100%;
	left: 0;
}

.correctsundar, .wrongsundar{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 54%;
	width: 16%;
	display: none;
	z-index: 25;
}

.correct{
	position: absolute;
	bottom: 12%;
	width: 10%;
	left: 45%;
	display: none;
}

.incorrect{
	position: absolute;
	bottom: 12%;
	width: 10%;
	left: 45%;
	display: none;
}

.question{
	font-size: 6vmin;
	font-weight: initial;
	width: 100%;
}

.description1{
	font-size: 8.56vmin;
}


.parsedstring> sup{
	color: #a00;
}
.bluishbg{
	background-color: #E5F7E6;
}
.forHover:hover{
	border: 0.4em #FABD15 solid !important;
	border-radius: 10% !important;
}
.firstpagebg{
	background: url("../images/fractions.jpg");
	background-size: cover;
}
.chaptertext {
    font-family: sniglet;
    font-size: 7vmin;
    width: 71%;
    left: 15%;
    position: absolute;
    margin-top: -23%;
    background: white;
    box-shadow: #ccb4b4 0px 1px 7px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #DF4056;
}
.fdin{
  opacity: 0;
-webkit-animation: slowfadein 1s linear 3s forwards;
animation: slowfadein 1s linear 3s forwards;
}
.fdin1{
  opacity: 0;
-webkit-animation: slowfadein 1s linear 1s forwards;
animation: slowfadein 1s linear 3s forwards;
}
