.chapterfractions {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.chapterfractions, .chapterfractions * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.chapterfractions .nextBtn{
    display : none;
    z-index : 10000;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.chapterfractions .prevBtn{
    z-index : 10000;
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */
		.fraction, .fraction2, .top, .bottom{
			padding: 0 0.3em;
		}
		
		.fraction, .fraction2 {
		    display: inline-block;
		    text-align: center;    
		}
		
		.fraction2 {
		   transform: translateY(25%);   
		}
		
		.bottom{
		    border-top: 0.1em solid #222;
		    display: block;
		}
		
		.fractionblock{
			position:absolute;
			height: 100%;
			width: 100%;
			top: 0%;
			left: 0;
		}
		
        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }
	
	div.imageblock {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		/*border     : 1px solid green; */
	}

/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
}

.description {
    font-size: 3.2vmin;
    left: 15%;
    top: 9%;
}
.description_box {
    font-size: 3.2vmin;
    padding: 0.5%;
    position: absolute;
    background-color: #ffe599;
    /*width: 65vmin;*/
    border-radius: 12px;
    top: 80%;
    left: 16%;
}
.text_red {
    color: #E71861;
}
.text_green {
	color: #8753CB;
}

.eg_1 {
	margin-top: 3%;
}
.eg_2 {
	margin-bottom: 3%;
}
.default_textblock{
	z-index: 10;
	height: 100%;
	width: 100%;
	padding: 2%;
	text-align: left!important;
	position: absolute;
}

.its_hidden {
	display: none;
}

.fade_in {
	animation: appear 2s;
	-webkit-animation: appear 2s;
}

.fullimageblock {
	width: 100%;
	height: 100%;
	top: 0%;
	position: absolute;
}
.text_box {
	border-radius: 5px;
	color: black;/*#ffe599*/
	border: 3px solid #ffe599;
}
.box {
	z-index: 5;
	bottom: 33vmin;
	position: absolute;
	width: 2.5%;
}
.box_1 {
	left: 8.5vmin;
}
.box_2 {
	left: 14.8vmin;
}
.box_3 {
	left: 21vmin;
}

/* animation for fade in*/
@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
.bluishbg{
    background-color: #E5F7E6;
}
.bluebg{
    background: url("../images/bg_blue.jpg");
    background-size: 100% 100%;
	background-repeat: no-repeat;
}