.txt_80_a,
.label1,
.label2,
.label3{
    font-size: 1.2em;
}
.txt_80_b
{
  color: #0761BA;
  font-size: 1.3em;
}

.txt_80_a
{
  color: #268205;
   font-size: 1.3em;
  /*position: absolute;

  width:30%;
  font-size: 1em;
  left:65%;
  top:15%;
  text-align: left;*/
}
.txt_84
{
  position:relative;
  padding: 4% 1% 1%;
  font-size: 1.2em;

}
.txt_89
{
    position:relative;
    padding: 2% 1% 1%;
     font-size: 1.2em;

}

.allhouse
{
    position: relative;
    width: 95%;
    height: 95%;
    margin:  2% auto;

}
.p9_house
{
    width:30%;
    margin:auto;
}

.p9_house img
{
    width:100%;
}

#window1
{
    position: absolute;
    top:32%;
    left:40%;
    width:7.5%;
    cursor: pointer;
}


#window2
{
    position: absolute;
    top:33%;
    left:54%;
    width:7.5%;
    cursor: pointer;
}

#window3
{
    position: absolute;
    top:61%;
    left:54%;
    width:7.5%;
    cursor: pointer;
}
#window1 img,
#window2 img,
#window3 img
{
    width:100%;
}

.livingroom,
.bedroom,
.kitchen
{

    border:#FFFFFF 2px  solid;
    width:100%;
    height: 100%;
    top: 2%;
    position:relative;
    text-align:center;

    color:#FFFFFF;

    overflow:hidden;
    display: none;

}

.livingBck
{
    background: url('../images/p9_4.png') no-repeat;
    background-size:100%;
    width:100%;
    height: 100%;
    position:relative;
}
#lampoff
{
    position: absolute;
    top:30%;
    left: 30%;
    width: 16%;
}
#lampoff img
{
    width: 100%
}

#lampon
{
    left: 31%;
    position: absolute;
    top: 27%;
    width: 16%;
    display:none;
}
#lampon img
{
    width: 100%
}
.lamp
{
       cursor: pointer;
}

#tvon
{
    left: 84.6%;
    position: absolute;
    top: 40.5%;
    width: 11.5%;
    cursor: pointer;
    background: #000;
}
#tvon img
{
    width: 100%;

}

#mobile
{
    left: 55.5%;
    position: absolute;
    top: 64%;
    width: 4%;
    height: 8%;
    cursor: pointer;
}
#mobile img
{
    width: 100%;
    display: none;
}

.txt_80
{
    position:relative;
    padding: 4% 1% 1%;
     font-size: 1.2em;

}

.txt_81
{
    left: 10%;
    position: absolute;
    top: 20%;
    color:#0761BA;
     display: none;
      font-size: 1.2em;
}

.txt_82
{
    position: absolute;
    top:55%;
    left: 40%;
    color:#0761BA;
    display: none;
     font-size: 1.2em;
}

.txt_83
{
    position: absolute;
    top:32%;
    right: 5%;
    color:#0761BA;
    display: none;
     font-size: 1.2em;
}

.newbtn
{
    position: absolute;
    right: 3%;
    top: 3%;
    width: 4%;
}

#boy1
{
     position: absolute;
    top: 30%;
    width: 10%;
    left: 10%;
}
#boy1 img {
    width:100%;
}



.bedBck
{
    background: url('../images/p9_12.png') no-repeat;
    background-size:100%;
    width:100%;
    height: 100%;
    position:relative;
}

#fanoff
{
    position: absolute;
    width:13%;
    left:84%;
    top:27%;
     cursor: pointer;
}


#fanon
{
    position: absolute;
    width:15%;
    left:83%;
    top:25%;
    display: none;
     cursor: pointer;
}

#clockoff
{
    position: absolute;
    width:8%;
    left:8%;
    top:22%;
     cursor: pointer;
}
#clockon
{
    position: absolute;
    width:8%;
    left:8%;
    top:22%;
    display: none;
     cursor: pointer;
}

#ceiloff
{
   position: absolute;
   top:16%;
   left:25%;
   width: 15%;
 cursor: pointer;
}

#ceilon
{
    left: 19.3%;
    position: absolute;
    top: 16%;
    width: 26%;
    display: none;
     cursor: pointer;
}
#tableoff
{
    left: 10%;
    position: absolute;
    top: 48.5%;
    width: 6%;
     cursor: pointer;
}

#tableon
{
    left: 8.3%;
    position: absolute;
    top: 44%;
    width: 9%;
    display: none;
     cursor: pointer;
}

#boy2
{
     left: 28%;
    position: absolute;
    top: 40%;
    width: 8%;
}

#boy2 img,
#fanoff img,
#fanon img,
#clockoff img,
#clockon img,
#ceiloff img,
#ceilon img,
#tableoff img,
#tableon img
{
    width:100%;
}

.txt_85
{
    display: none;
     color:#0761BA;
     position: absolute;
     right:18%;
     top:37.5%;
      font-size: 1.2em;
      width: 30%;
      text-align: right;
}

.txt_86
{
    display: none;
     color:#0761BA;
     position: absolute;
     top:40%;
      font-size: 1.2em;
      left: 1%;
}

.txt_87
{
    display: none;
     color:#0761BA;
      position: absolute;
      top:22%;
      left: 33%;
       font-size: 1.2em;
}

.txt_88
{
    display: none;
     color:#0761BA;
     position: absolute;
     top:16%;
     left:1%;
    font-size: 1.2em;
}

.ktBck
{
    background: url('../images/p9_21.png') no-repeat;
    background-size:100%;
    width:100%;
    height: 100%;
    position:relative;
}



#freezeoff
{
    position: absolute;
    width:19%;
    top:37%;
    left:81%;
    cursor: pointer;
}

#freezeon
{
    position: absolute;
    width:19%;
    top:37%;
    left:81%;
    display: none;
    cursor: pointer;
}
#heatoff
{
   position: absolute;
    width:10%;
    left:65%;
    top:35%;
    cursor: pointer;
}

#heaton
{
   position: absolute;
    width:10%;
    left:65%;
    top:35%;
    display: none;
    cursor: pointer;
}

#boy3
{
    position: absolute;
    width:10%;
    left:15%;
    top:35%;
}

#clock2off
{
    position: absolute;
    width:8%;
    left:5%;
    top:15%;
    cursor: pointer;
}

#clock2on
{
    position: absolute;
    width:8%;
    left:5%;
    top:15%;
    display: none;
    cursor: pointer;
}

#freezeoff img,
#freezeon img,
#heaton img,
#heatoff img,
#boy3 img,
#clock2off img,
#clock2on img
{
    width: 100%;
}
.txt_90
{
    position: absolute;
    display: none;
     color:#0761BA;
     top:9%;
     left: 1%;
      font-size: 1.2em;
}

.txt_91
{
    position: absolute;
    display: none;
     color:#0761BA;
     top:60%;
     right:20%;
      font-size: 1.2em;
}

.txt_92
{
position: absolute;
    display: none;
    color:#0761BA;
     top:30%;
     left:50%;
      font-size: 1.2em;
}

#label1
{
    position: absolute;
    top:35%;
    right:63%;
    color: #000;
    font-size: 1.2em;

}

#label2
{
    position: absolute;
    top:35%;
    left:63%;
    color: #000;
    font-size: 1.2em;

}

#label3
{
    position: absolute;
    top:65%;
    left:63%;
    color: #000;

    font-size: 1.2em;
}

.closingText
{

  position: absolute;
  top: 85%;
  width: 100%;
  color: #000;

  display: none;
  font-size: 1em;

  -webkit-animation: p9_text_blink 0.5s infinite linear;
  -moz-animation:    p9_text_blink 0.5s infinite linear;
  animation:         p9_text_blink 0.5s  infinite linear;
}

@-webkit-keyframes p9_text_blink {
  0%  { color: #000; }
  100% { color: #FF0000; }

}
@-moz-keyframes p9_text_blink {
  0%  { color: #000; }
  100% { color: #FF0000; }
}


@keyframes p9_text_blink {
  0%  { color: #000; }
  100% { color: #FF0000; }
}

@media (min-aspect-ratio: 4/3) {
  #label1, #label2, #label3, .txt_80_a{
    font-size: 3.5vh;
  }
}

@media (max-aspect-ratio: 4/3) {
  #label1, #label2, #label3, .txt_80_a{
    font-size: 2vw;
  }
}
