.txt_70
{
	position: absolute;
	top:45%;
	right:19%;
	width:43.5%;
	font-size: 1.2em;
	text-align: right;
	padding: 0% 2%;
	color:#4D045C; 
	
	/*text-shadow:
		3px 3px 0 #FFF,
		-1px -1px 0 #FFF,  
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;*/
}

.txt_69
{
	position: absolute;
	top:0%;
	
	width:100%;
	padding: 0% 2%;
	font-size: 1.2em;
	text-align: center;
color:#366102; 
	
}

.p11_flow
{
	position: relative;
	width: 100%;
	height: 100%;

}

.p11_electron
{
	 left: 72%;
    position: absolute;
    top: 8%;
    width: 18%;
    z-index: 50;
	
}
.p11_circuit
{
	width: 80%;
	position: absolute;
	top:25%;
	left:5%;
	z-index:20;
}
.p11_cell1
{
	width: 15%;
	position: absolute;
	top:85%;
	left:30%;
	z-index:50;
}

.p11_cell2
{
	width: 15%;
	position: absolute;
	top:85%;
	left:50%;
	z-index:50;
}


.p11_on
{
	 cursor: pointer;
    left: 31%;
    position: absolute;
    top: 47%;
    width: 7%;
    z-index: 50;

}

.p11_off
{
	width: 7%;
	position: absolute;
	top:20%;
	left:9%;
	z-index:50;
	cursor: pointer;
}

.p11_bulb1
{
	left: 81.5%;
    position: absolute;
    top: 59%;
    width: 14%;
}


.p11_off_blk
{
	width: 5%;
	position: absolute;
	top:32.2%;
	left:18.6%;
	
}

.p11_on_blk
{
	width: 7%;
	position: absolute;
	top: 41.5%;
    
	left:17%;
	display: none;
}
.p11_flow img{
width: 100%;
}

.p11_txt_bx
{
	
	font-size: 1.2em;
	width: 74%;
	text-align: center;
	color:#020569;
	
	position: absolute;
	top:65%;
	
	left: 6%;
	
}




.p11_txt_bx3
{
	padding: 0% 2%;
	font-size: 1em;
	width: 100%;
	text-align: center;
	color: #000;
	display: none;
}

.p11_txt_bx2
{
	color: #000000;
    display: none;
    font-size: 0.8em;
    left: 60%;
    position: absolute;
    text-align: left;
    top: 82%;
    width: 20%;
}

.arrow
{
	width: 4%;
	left: 56%;
    position: absolute;
    top: 83%;
	transform:rotate(29deg);
	-moz-transform:rotate(29deg);
	-webkit-transform:rotate(29deg);
	display: none;
}
.arrow img {
	width: 100%;
}