.button-link {
    padding: 2% 3%;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;
	
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	
	cursor:pointer;
}
.button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}


.correction_rt
{
background:url(../images/p0_2.png) no-repeat;
background-size:100%;

}

.correction_wr
{
background:url(../images/p0_3.png) no-repeat;
background-size:100%;

}




.closeNewBtn {
        position: absolute;
        z-index: 10;
        padding: 0;
        top: -10px;
        right: -10px;
       
        cursor:pointer;

        display: none;
 
}

 /*
.closeNewBtn:before {
        content: "X";
        font-weight:bold;
        padding: 0;
        margin: 0;
}
 
.closeNewBtn:hover {
        background: #c9c9c9;
        color: blue;
}

*/

.closeNewBtn:hover #closeBtn
{
    display: none;
}
.closeNewBtn:hover #closeHoverBtn
{
    display: block;
}
