
.p6_insides
{
    position: relative;
  
    width: 90%;
    height: 100%;
   
    margin:auto;
  
}



.p6_bulb
{
    position:absolute;
    width:100%;
   
    left:0%;
    top:29%;

}
.p6_bulb img
{
    width: 32%;
}
.p6_bulb_off
{
    top:-5%!important;
}
.p6_bulb_on
{
     top:-5%!important;
}

.p6_wire
{
  position: absolute;
  width:100%;
   top:45.6%;
   left:-0.7%;
    
   
  
}
.p6_wire img
{
   width: 80%;
}
.p6_switch
{
    height: 24%;
    left: 8.5%;
    position: absolute;
    top: 58%;
    width: auto;
}
.p6_switch img
{
 height: 100%;
}
.p6_switch_swt
{
     left:8%;
}

.p6_register
{
 
    height: 32%;
    left: 86%;
    position: absolute;
    top: 51%;
}
.p6_register img
{
 height: 100%;
}

.p6_register_reg
{
    left:87%;
}
.p6_cell
{
    left: 22%;
    position: absolute;
    top: 83%;
    width: 18%;
}
.p6_cell img
{
 width: 100%;
}
.p6_cell_bk
{
   top:85%; 
}

.p6_object_list
{
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: 15%;
}

.p6_drags
{
  
  position: absolute;
  height: 100%;
  width: 10%;
  cursor: pointer;
  z-index: 100;

}
.p6_drags img {

  height: 100%;
  width: auto;
}

.p6_drag1
{
  left:10%;
}
.p6_drag2
{
  left:25%;
}

.p6_drag3
{
  left:70%;
}
.p6_drag4
{
  left:85%;
  padding-top: 2%;
}
.p6_drag4 img{
 
 height: 65%;
}


.p6_refresh
{
  position: absolute;
  top:1%;
  left:94%;
 
  cursor: pointer;
  display: none;
}



.p6_refresh span {

 cursor: pointer;
color:black;
font-size:3em;  
text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;

}

.txt_45
{
  color: #0761BA;
  text-shadow:
    3px 3px 0 #AEB0AB,
    -1px -1px 0 #AEB0AB,  
    1px -1px 0 #AEB0AB,
    -1px 1px 0 #AEB0AB,
    1px 1px 0 #AEB0AB;
  font-size: 1.3em;
}