
.circuit_show
{
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1.2em;

}
.circuit_show div
{
	position: absolute;
}

.txt_94
{
	position: absolute;
	width: 100%;
	   color: #268205;

}

.txt_94_1
{
	position: absolute;
	width: 100%;
	top:10%;
	   color: #0761BA;
	   font-size: 0.9em;
}
.appliances
{
	width:50%;
	height: 12%;
	
	top:20%;
	left: 22%;

}
.appliances img{
	height: 100%;

	border: #000 1px solid;
	padding:1%;
}
.circuit
{
	width:78%;
	top:33%;
	left: 15%;
}

.circuit img{
	width: 100%;
}

.cell
{
	width:15%;
	
	top:73%;
	left: 30%;
}
.cell img {
	width: 40%;
	border: #000 1px solid;
	padding: 2%;
}

.txt_95
{
	top:36%;
	left: 39%;

	color:#4D045C; 
	font-size: 1.5em;
	
	
}

.txt_96
{
	font-size: 1.5em;
	top:85%;
	left: 35%;
	color:#4D045C; 
}

.txt_97
{
	top:64%;
	left: 78%;
	color:#4D045C; 
	font-size: 1.5em;
}

.arrow
{
	width: 5%;
	left: 77%;
    position: absolute;
    top: 26%;
	
	
}
.arrow img {
	width: 100%;
}

.txt_68
{
	position: absolute;
	 top: 25%;
	 width:18%;
	 left:80%;
	 color: #DB15E6;
	 font-size: 0.8em;
	 text-align: right;
}