.innercontent
{
	background:#C2D3E1;
	border:#FFFFFF 2px  solid;
	width:100%;
	height: 100%;
	position:relative;
	text-align:center;
	padding:2%;
	
	overflow:hidden;
	
	
}
.innercontent *
{
	margin:0;
	padding: 0;
	position: relative;
}
.header_title
{
	border-bottom: 1px solid #FFFFFF;
	background:#C2D3E1;
	height: 14%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
	padding-bottom: 1.5%;
    padding-top: 1.5%;
	color:#fff;

    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-size: 2.5em;
}
.p1_kids
{
	background:url(../images/p0_1_0.png) no-repeat;
	background-size:100%;
  	position: absolute;
	height: 20%;
    left: 89%;
    position: absolute;
    top: 0.3%;
    width: 10%;
}

.p1_insider
{
	
	height: 82%;
	left: 0;
	position: absolute;
	top: 17%;
	width: 100%

}

.p1_question
{
	
	background: #336600;
	border: 8px solid #cc6600;

	-webkit-box-shadow: 2px 2px 15px 2px #292929;
	-moz-box-shadow: 2px 2px 15px 2px #292929;
	box-shadow: 2px 2px 15px 2px #292929;
	color:#FFFFFF;
	height: 70%;
    left: 15%;
    position: absolute;
    top: 3%;
    width: 65%;
    padding: 1% 5%;

	
}

.p1_question_11
{
	
	background: #8ED557;

	-webkit-box-shadow: 2px 2px 15px 2px #ffffff;
	-moz-box-shadow: 2px 2px 15px 2px #ffffff;
	box-shadow: 2px 2px 15px 2px #ffffff;
    border-radius: 10px;
	
	
    left: 15%;
    position: absolute;
    top: 3%;
    width: 75%;
    padding: 1% 5%;
    font-size: 1.3em;

	
}
.txt_1
{
	
	line-height: 2em;

    text-align: right;
    width: 99%;
    color: #4D045C;
	
}

.p1_ques
{
	
	text-align:left;
	line-height: 2em;
	color: #0761BA; 
}

.p1_ques2
{
	text-align:left;

	line-height: 2em;
	color: #0761BA; 
}

.p1_options{
	
	text-align:left;
	color: #0D4501;
	
}

.p1_options label
{
font-weight:normal!important;
line-height: 2em;
}

.p1_confirm
{
	left: 50%;
    position: absolute;
    top: 75%;
    
	 display:none;
}



.p1_balloons
{
	background:url(../images/p1_1.png) no-repeat;
	background-size:100%;
	height: 100%;
    left: 75%;
    position: absolute;
     top: 30%;
    width: 16%;
}

.p1_question2
{
	 font-size: 1.3em;
	position:absolute;
	
	width:100%;
	height:100%;
	top:0%;
	left:0%;
	display:none;
}

.txt_10
{
	padding: 1%;
    color: #0606BD;
    font-size: 1.3em;
}

.p1_animation
{
	
	height: 90%;
	left: 0;
	position: relative;
	
	width: 100%;
}


.p1_back
{
	background:url(../images/p1_3.png) no-repeat;
	background-size:100%;
	 height: 100%;
    left: 32.5%;
    top: 0;
    width: 35%;
	position: absolute;
}
.p1_girl
{
 position: absolute;
 width:35%;	
 top:30%;
 z-index: 10;
 left:40%;
}

.p1_girl2
{
 position: absolute;
 width:35%;	
 top:30%;
  left:40%;
 z-index: 10;
 display: none;
}
.p1_girl img,
.p1_girl2 img,
.p1_balloonhand1 img,
.p1_balloonhand2 img,
.p1_balloon2 img
{
	width:100%;	
}
.p1_balloonhand1
{
left: 66%;
    position: absolute;
    top: 35%;
    width: 15%;
	
}

.p1_balloonhand2
{
left: 66%;
    position: absolute;
    top: 45%;
    width: 25%;
    display: none;
	
}

.p1_balloon2
{
	left: 72%;
    position: absolute;
    top: 48%;
    width: 18%;
	display:none;
}

.p1_ans_bx
{
	position: absolute;
	width: 40%;
	top: 30%;
	left: 47%;
	padding: 2%;
	
	background: #F5F395;

	-webkit-box-shadow: 2px 2px 15px 2px #ffffff;
	-moz-box-shadow: 2px 2px 15px 2px #ffffff;
	box-shadow: 2px 2px 15px 2px #ffffff;

	border-radius: 10px;
	display:none;

	color:#268205; 
}
.txt_ans,
.txt_ans2,
{
	
	
	position: relative;;
}

.p1_correct,
.p1_incorrect
{
	position: relative;;
    
    width: 100%;
	display:none;
}
.p1_correct img,
.p1_incorrect img
{
	width: 10%;
}
