
.txt_19
{
    
    text-align: left;
    width: 100%;
    color: #4D045C;
    position: relative;
}
.p3_question
{
    font-size: 1.3em;
    
    
    
    position: relative;
   
    width: 100%;
    padding: 0%  5%;

    /*box-shadow: 2px 2px 15px 2px #292929;
    
    background: #8ED557;*/
}

.p3_Question_this
{
    position: relative;
    margin-top: 5%;
    margin-left:25%;
    width: 50%;
}
.p3_ques
{
   
     text-align: left;
     color: #0761BA;
     
}


.p3_girl_q
{
    left: 67%;
    position: absolute;
    top: 48%;
    width: 15%;
}

.p3_boy_q
{
   left: 80%;
    position: absolute;
    top: 35%;
    width: 15%;
    
}
.p3_girl_q img,
.p3_boy_q img
{
   width: 100%; 
}
.p3_confirm {
    display: none;
    
    left: 45%;
    
    position: absolute;
    top: 100%;
    width:100px;
    padding: 0%;
    

}
.p3_carpet
{
	background: url(../images/p3_1.png) no-repeat;
	background-size: 100%;
	height: 98%;
    left: 10%;
    position: absolute;
    top: 0;
    width: 79%;
    display: none;
 }

.p3_greenboard,
.p3_greenboard2
{
      
    font-size: 1.3em;
    
    left: 3%;
    position: absolute;
    top: 10%;
    width: 45%;
    display: none;
}
.txt_23
{
   position: relative;
   color: #0761BA;
   margin: 0% 1%;
    font-size: 1.4em;
}

.txt_24
{
    position: relative;
    display: none;
    margin: 5% 1%;
    font-size: 1.3em;
}

.txt_25
{
    position: relative;
    color: #0761BA;
    margin: 0% 1%;
    font-size: 1.4em;
}

.txt_26
{
    position: relative;
    display: none;
    margin: 5% 1%;
    font-size: 1.3em;
}

.parsedString
{
    border-bottom: none!important;
}

 .p3_boy_1
 {
 	background: url(../images/p3_2.png) no-repeat;
	background-size: 100%;

	height: 77%;
    left: 81%;
    position: absolute;
    top: 15%;
    width: 18%;
 }
.p3_boy_2
 {
 	background: url(../images/p3_3.png) no-repeat;
	background-size: 100%;

	height: 77%;
    left: 75%;
    position: absolute;
    top: 15%;
    width: 25%;
    display: none;
 }

 .p3_girl_1
 {
 	background: url(../images/p3_4.png) no-repeat;
	background-size: 100%;
	height: 70%;
    left: 0%;
    position: absolute;
    top: 23%;
    width: 20%;
 }

 .p3_girl_2
 {
 	background: url(../images/p3_5.png) no-repeat;
	background-size: 100%;
	height: 71%;
    left: 18%;
    position: absolute;
    top: 23%;
    width: 20%;
    display: none;
 }

 .p3_girl_3
 {
 	background: url(../images/p3_4.png) no-repeat;
	background-size: 100%;
	height: 70%;
    left: 35%;
    position: absolute;
    top: 23%;
    width: 20%;
    display: none;
 }

 .p3_girl_4
 {
 	background: url(../images/p3_5.png) no-repeat;
	background-size: 100%;
	height: 71%;
    left: 53%;
    position: absolute;
    top: 23%;
   width: 20%;
   display: none;
 }

 .p3_girl_5
 {
 	background: url(../images/p3_6.png) no-repeat;
	background-size: 100%;
	height: 71%;
   left: 53%;
    position: absolute;
    top: 23%;
    width: 25%;
    display: none;

 }
.p3_spark
{
    background: url(../images/p3_10.png) no-repeat;
    background-size: 100%;
   height: 22%;
    left: 71%;
    position: absolute;
    top: 44%;
    width: 12%;
    display: none;
}
 .p3_arrow_1
 {
 	background: url(../images/p3_7.png) no-repeat;
 	background-size: 100%;
 	 height: 13%;
    left: 30%;
    position: absolute;
    top: 80%;
    width: 2.5%;
    display: none;
 }

.p3_arrow_2
 {
 	background: url(../images/p3_8.png) no-repeat;
 	background-size: 100%;
 	height: 24%;
    left: 40%;
    position: absolute;
    top: 68%;
    width: 2.5%;
    display: none;
 }
 .p3_arrow_3
 {
    background: url(../images/p3_9.png) no-repeat;
    background-size: 100%;
    height: 34%;
    left: 58%;
    position: absolute;
    top: 59%;
    width: 2.5%;
    display: none;
 }

 .p3_replay
 {
    display: none;
    left: 97%;
    position: absolute;
    top: -1%;
    width: 5%;
    cursor: pointer;
    /* height: 9%;
    width: 16%*/
 }

 .reloadjsbtn:hover #reloadBtn
{
    display: none;
}
.reloadjsbtn:hover #reloadHoverBtn
{
    display: block;
}

/*
.p3_replay:hover {
        background: #c9c9c9;
        color: blue;
}
*/


 .p3_bubble
 {
 	background:#16E01A;
	width:13px;
    position: absolute;
   height:13px;
    border-radius: 100%;
    color: #fff;

 }

 .p3_ball_1
 {
	top: 93%;
 	left: 13%;
 }

 .p3_ball_2
 {
	top: 92%;
 	left: 16%;
 }

 .p3_ball_3
 {
	top: 93%;
 	left: 19%;
 }

 .p3_ball_4
 {
	top: 90%;
 	left: 22%;
 }


.p3_ball_4_1 {
    left: 28%;
    top: 68%;
    display: none;
}
.p3_ball_4_2 {
  left: 45%;
    top: 64%;
    display: none;
}

.p3_ball_4_3 {
    left: 66%;
    top: 64%;
    display: none;
}
.p3_ball_4_4 {
    left: 64%;
    top: 56%;
    display: none;
}
 .p3_ball_5
 {
	top: 93%;
 	left: 25%;
 }


 .p3_ball_5_1
 {
	left: 27%;
	top: 74%;
	display: none;
 }
 .p3_ball_5_2
 {
	left: 45%;
    top: 70%;
	display: none;
 }

 .p3_ball_5_3
 {
	left: 61.5%;
    top: 75%;
	display: none;
 }

 .p3_ball_5_4 {
    display: none;
    left: 63%;
    top: 75%;
}

 .p3_ball_6
 {
	top: 89%;
 	left: 28%;
 }

 .p3_ball_6_1
 {
	left: 26%;
	top: 79%;
	display: none;
 }
 .p3_ball_6_2
 {
	left: 47.5%;
    top: 82%;
	display: none;
 }

 .p3_ball_6_3
 {
	 left: 68%;
    top: 82%;
	display: none;
 }

 .p3_ball_6_4 {
    display: none;
    left: 65%;
    top: 82%;
}

 .p3_ball_7
 {
	top: 93%;
 	left: 31%;
 }

 .p3_ball_8
 {
	top: 87%;
 	left: 34%;
 }

  .p3_ball_8_1
 {
	left: 32%;
	top: 77%;
	display: none;
 }
  .p3_ball_8_2
 {
	 left: 46%;
    top: 76%;
	display: none;
 }

 .p3_ball_8_3
 {
	 left: 63%;
    top: 65%;
	display: none;
 }

 .p3_ball_8_4 {
    display: none;
    left: 65%;
    top: 60%;
}

 .p3_ball_9
 {
	top: 93%;
 	left: 37%;
 }

 .p3_ball_10
 {
	top: 90%;
 	left: 40%;
 }

.p3_ball_10_1{
    left: 45%;
    top: 82%;
    display: none;
}
.p3_ball_10_2{
    left: 65%;
    top: 60%;
    display: none;
}

.p3_ball_10_3 {
    display: none;
    left: 68%;
    top: 55%;
}
 .p3_ball_11
 {
	top: 93%;
 	left: 43%;
 }

 .p3_ball_12
 {
	top: 89%;
 	left: 47%;
 }
.p3_ball_12_1
 {
 left: 45%;
    top: 82%;
    display: none;
}
.p3_ball_12_2
 {
 left: 60.7%;
    top: 80%;
    display: none;
}

.p3_ball_12_3 {
    display: none;
    left: 62.5%;
    top: 82%;
}
 .p3_ball_13
 {
	top: 93%;
 	left: 50%;
 }

 .p3_ball_14
 {
	top: 90%;
 	left: 53%;
 }

.p3_ball_14_1 {
    left: 45%;
    top: 70%;
    display: none;
}
.p3_ball_14_2
 {
  left: 62%;
    top: 70%;
    display: none;
}
.p3_ball_14_3 {
    display: none;
     left: 63%;
    top: 67%;
}
 .p3_ball_15
 {
	top: 88%;
 	left: 56%;
 }

 .p3_ball_16
 {
	top: 93%;
 	left: 59%;
 }


 .p3_ball_17
 {
	top: 91%;
 	left: 62%;
 }
.p3_ball_17_1 {
   left: 66.5%;
    top: 76%;
     display: none;
}

.p3_ball_17_2 {
    display: none;
    left: 65.5%;
    top: 76%;
}
 .p3_ball_18
 {
	top: 93%;
 	left: 65%;
 }
.p3_ball_18_1 {
    left: 74%;
    top: 56%;
    display: none;
}

 .p3_ball_19
 {
	top: 90%;
 	left: 68%;
 }

 .p3_ball_19_1 {
    left: 66%;
    top: 70%;
    display: none;
}
.p3_ball_19_2 {
    display: none;
    left: 66%;
    top: 67%;
}

 .p3_ball_20
 {
	top: 93%;
 	left: 72%;
 }


 .p3_ball_21
 {
	top: 91%;
 	left: 75%;
 

}
.p3_ball_21_1 {
    left: 63%;
    top: 58%;
    display: none;
}
.p3_ball_21_2 {
    display: none;
    left: 63%;
    top: 50%;
}

 .p3_ball_22
 {
	top: 93%;
 	left: 78%;
 }




 .p3_ball_23
 {
	top: 93%;
 	left: 81%;
 }




 .p3_ball_24
 {
	top: 93%;
 	left: 84%;
 }




 .p3_ball_25
 {
	top: 93%;
 	left: 87%;
 }

.p3_ball_21_2:before,
.p3_ball_10_3:before,
.p3_ball_4_4:before,
.p3_ball_8_4:before,
.p3_ball_14_3:before,
.p3_ball_19_2:before,
.p3_ball_5_4:before,
.p3_ball_12_3:before,
.p3_ball_17_2:before,
.p3_ball_6_4:before, 
.p3_ball_21_1:before, 
.p3_ball_10_2:before,
.p3_ball_14_3:before,
.p3_ball_19_2:before,
.p3_ball_14_2:before,
.p3_ball_19_1:before,
.p3_ball_5_3:before,
.p3_ball_17_1:before,
.p3_ball_12_2:before,
.p3_ball_6_3:before,
.p3_ball_8_3:before,
.p3_ball_4_3:before,
.p3_ball_4_2:before,
.p3_ball_14_1:before,
.p3_ball_8_2:before, 
.p3_ball_6_2:before,
.p3_ball_12_1:before,
.p3_ball_6_2:before,
.p3_ball_5_1:before,
.p3_ball_4_1:before ,
.p3_ball_6_1:before, 
.p3_ball_8_1:before
 {
     color: #FFFFFF;
    content: "-";
    font-size: 30px;
    left: 0.8%;
    position: absolute;
    top: -120%;
 }