<script>
	$cssLoader("css/page1.css");
</script>
<div class="advantagesofplants">
	<div class="board">
		Hello World!!!
	</div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}} {{#if hasheaderblock}}
	<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
		{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{/if}}

			{{! header block start--}} {{#if headerblock}}
			<div class="headerblock">
				{{#each headerblock}} {{> textcontent}} {{/each}}
			</div>
			{{/if}} {{! header block end--}} {{! content block starts--}}
			<div class="contentblock {{additionalclasscontentblock}}">
				{{! content block content wrapper is used for content orientation i.e. center horizontally or vertically}} {{#if contentblocknocenteradjust}}
				<div class="coverboardfull">
					{{else}}
					<div class="vertical-horizontal-center">
						{{/if}}
					</div>

					{{! if the content has a upperblock of texts--}} {{#if uppertextblock}}
					<div class="textblock {{addclass}} {{verticla-horizontal-center}}" id="{{txtid}}">
						{{{firstpagetitle}}} {{#if contentblocknocenteradjust }}
						<div class="verticla-horizontal-center">
							{{/if}} {{#each uppertextblock}} {{>textcontent}} {{/each}} {{#if contentblocknocenteradjust }}
						</div>
						{{/if}}
					</div>
					{{/if}} {{! image block if the content contains any images }} {{#if imageblockadditionalclass}}
					<div class={{"imageblockadditionalclass"}}>
						{{/if}} {{#if imageblock}}
						<div class="imageblock {{imgblckaddclass}}">
							{{#if contentblockcenteradjust}}
							<div class="vertical-horizontal-center">
								{{/if}} {{#each imageblock}} {{>imagecontent}} {{/each}} {{#if contentblockcenteradjust}}
							</div>
							{{/if}}
						</div>
						{{/if}} {{#if imageblockadditionalclass}}
					</div>
					{{/if}} {{#if imagelabels}} {{/if}} {{#if lowertextblock}}
					<div class="textblock {{dialog}} {{lowertextblockadditionalclass}}">
						{{#if contentblocknocenteradjust}}
						<div class="vertical-horizontal-center">
							{{/if}} {{#each lowertextblock}} {{>textcontent}} {{/each}} {{#if contentblocknocenteradjust}}
						</div>
						{{/if}}
					</div>
					{{/if}} {{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}} {{>definitioncontent}} {{/each}}
					</div>

					{{/if}}

				</div>
			</div>

</script>
<!--partials are seperated as subtemplates in handlebars-->
<script id="textcontent-partial" type="text/x-handlebars-template">
	{{#each texttoshow}}
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
	{{/each}}

</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagetoshow}}
	<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}" /> {{/each}}
	<br> {{#if imagelabels}} {{#each imagelabels}}
	<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label> {{/each}} {{/if}}
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionimagesource}}" />
	<figcaption>{{definitiontextdata}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{definitioninsrtuctiondata}}</p>
</script>
        <script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
		<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script>
	$jsLoader("js/page1.js");
</script>
