<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript"
   src="js/jquery-ui1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    $cssLoader("exercise/css/page19_perimeter.css");
	$cssLoader("css/sweetalert.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<script>

function isNumber(evt)
{

    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46){
    	swal(data.string.h3);
    	return false;
    }
    return true;
}

</script>

<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
      	<div class="lokhar">
          <img  class="youtTurnBoard"/>
          <p class="lokharkeTxt"></p>
        </div>
        <div class="titles">
            <!--<div class="yourTurn"> {{yourTurn}}</div>-->
			<div class="Solve the following"> </div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
			<img src="activity/grade8/math/math_perimeter_01/image/{{image1}}" class="img-responsive"/>
			<div class="sol">{{solution}}</div>
        </div>
        <div class="ansArea">
            <span class="baseString">{{baseString}} = </span> {{prefix}}
			<input type="text" class="base" onkeypress="return isNumber(event)"> {{suffix}}
            <span class="check1"></span>

            <span class="showAns">
                <span class="ans">{{answer}}:<br/>{{baseString}} = {{prefix}} {{ans}} {{suffix}}</span>
                <span class="baseString"></span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/page19_perimeter.js");
	$jsLoader("js/sweetalert.min.js");
</script>
