<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("../../../../css/gradient.css");
     
    $cssLoader("exercise/css/exercisetemplate1.css");
    $cssLoader("/css/page3.css");
    $cssLoader("/css/page6.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
        	{{#each extratextblock}}
        		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
        	{{/each}}
          {{#each uppertextblock}}
        		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}"><span id="num_ques">1</span>{{{textdata}}}</p>
        	{{/each}}

            {{#each imageblock}}
                <img class="{{imgclass}}" src="{{imgsrc}}">
            {{/each}}

     </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise2.js");
</script>
