.thebg1{
  background: #ace4ff;
}

.background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.diytxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 10vh;
}
.exccontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  transform: translate(-50%,-50%);
  border-radius: 2em;
  background: #fff;
}
.qndiv{
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 50%;
}
.topQn{
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  font-family: josefinsans;
  font-size: 3vh;
  top: 50%;
}
.midqn{
  top: 50%;
}
/*mcq*/

.optionsdiv {
  bottom: 5%;
  display: flex;
  left: 0%;
  flex-direction: row;
  text-align: left;
  position: absolute;
  height: 35%;
  width: 100%;
  flex-wrap: wrap;
}

.optionscontainer {
  width: 25%;
}

.imagestartpos {
  position: absolute;
  width: 13%;
  margin-left: 1%;
  display: none;
  margin-top: 12%;
  left: 50%;
  top: 10%;
  transform: translate(-50%,-7%);
}
.top57{
  top: 57%;
}

.optionsdiv p {
  padding: 2%;
  background: #926EED;
  border-radius: 15px;
  margin: 1%;
  font-size: 3vh;
  border: 5px solid #926EED;
  font-family: breeSerif;
  width: 90%;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
    border: 5px solid #999999;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}
.topQn_fst{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: josefinSans;
  font-size: 5vh;
  width: 80%;
  top: 7%;
}
/*************************************mediaquery**********************/
@media (min-aspect-ratio:4/3){
  .optionsdiv p{
    font-size: 3vh;
  }
  .topQn{
    font-size: 4vh;
  }
  .topQn_fst{
    font-size: 5vh;
  }
}
@media (max-aspect-ratio:4/3){
  .optionsdiv p{
    font-size: 1.5vw;
  }
  .topQn, .topQn_fst{
    font-size: 2vw;
  }
}
