.bg-blue{
  background: #ace4ff;
}
.background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.diytxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 10vh;
}
.exccontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 2em;
}
.qndiv{
  position: absolute;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 50%;
}
.topQn, .midqn{
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  font-family: josefinsans;
  font-size: 3vh;
}
.midqn{
  top: 50%;
}
/*mcq*/

.optionsdiv {
  bottom: 18%;
  display: flex;
  left: 0%;
  flex-direction: row;
  text-align: left;
  position: absolute;
  height: 35%;
  width: 100%;
  flex-wrap: wrap;
}

.optionscontainer {
  width: 33%;
}

.imagestartpos {
	position: absolute;
	width: 13%;
	margin-left: 1%;
	display: none;
	margin-top: 12%;
	left: 76%;
	top: 5%;
	transform: translateY(-7%);
}
.top57{
  top: 57%;
}

.optionsdiv p {
  padding: 2%;
  background: #926EED;
  border-radius: 15px;
  margin: 1%;
  font-size: 3vh;
  border: 5px solid #926EED;
  font-family: josefinSans;
  width: 90%;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
    border: 5px solid #999999;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}

.smrytxtcls{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%,-50%);
  width: 80%;
  text-align: left;
}
[class*=sumaryTxt], li{
  font-family: josefinSans;
  font-size: 3vh;
}
.smryWrd{
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 4vh;
  transform: translate(-50%);
  font-family: josefinSans;
}
.buttonsel:hover{
  cursor: pointer;
}
.tipblkclass{
  position: absolute;
  bottom: 10%;
  height: 61%;
  width: 63%;
  background: #faf6eb;
  border: 3px solid #70ad47;
  right: 6%;
  border-radius: 1em;
  z-index: 10;
  display: none;
}
.tipimg{
  position: absolute;
  bottom: 10%;
  height: 42%;
  width: 88%;
  right: 6%;
  border-radius: 1em;
}
.qnexmp{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0%;
}
.exmpTxt{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}
.tipIcon{
  position: absolute;
  width: 13%;
  bottom: 0%;
  right: 0%;
}
.cross{
  position: absolute;
  width: 10%;
  top: 0%;
  right: 0%;
}
.tipIcon:hover, .cross:hover{
  cursor: pointer;
}
.summaryblkcntr{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  transform: translate(-50%,-50%);
  background: #fff;
}
.grl4{
  position: absolute;
  width: 45%;
  bottom: 12%;
  left: 71%;
}
/*************************************mediaquery**********************/
@media (min-aspect-ratio:4/3){
  .smryWrd{
    font-size: 4vh;
  }
  .exmpTxt{
    font-size: 3.5vh;
  }
   [class*=sumaryTxt], li, .optionsdiv p{
     font-size: 3vh;
   }
    [class*=sumaryTxt]{
      font-size: 4vh;
    }
   .topQn, .midqn{
     font-size: 4vh;
   }
}
@media (max-aspect-ratio:4/3){
  .smryWrd{
    font-size: 1.9vw;
  }
  .exmpTxt{
    font-size: 1.6vw;
  }
   [class*=sumaryTxt], li, .optionsdiv p{
     font-size: 1.4vw;
   }
   .topQn, .midqn{
     font-size: 2vw;
   }
}
