.top_below_text {
    position: absolute;
    font-family: abeezee;
    transform: translateX(-50%);
    left: 50%;
    width: 50%;
    font-size: 2vw;
    background: #68d9e6;
    border: .5vmin solid #474343;
    top: 14%;
    /*color: white;*/
    padding: 1%;
}
.incorrect {
    position: absolute;
    width: 6%;
    z-index: 10;
    top: 40%;
    left: 68%;
}
.pink{
  color:#993399;
}
.black{
  color: black;
}
@media (min-aspect-ratio:4/3){
  .top_below_text{
    font-size: 4.1vmin;
  }
}
