<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page3.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="measurement">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="vertical-horizontal-center">
            <div class="textblock">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
         {{#if middletextblock}}
            <div class="textblock">
                {{#each middletextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imageblock}}
            <div class="imageblock">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
                {{!-- used only once or twice during a horizontal line draw --}}
                {{#if extracontent}}
                        <div class="linehorizontal" data-isdrawn="nodraw"></div>
                {{/if}}
            </div>
        {{/if}}

        {{#if table}}
            <div class="tablewrapper">
                {{#each table}}
                    {{> tablecontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}">{{para}}{{{textdata}}}</p>
</script>

<script id="tablecontent-partial" type="text/x-handlebars-template">
    <p class="{{table_class}}"> {{table_data}} </p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}">{{imagelabeldata}}</label>
        {{/each}}
    {{/if}}
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>
