<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="measurement02">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- general template -->
<script id="general-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}}">
        {{#if uppertextblock}}
            <div class="textblock">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}

        {{#if middletextblock}}
            <div class="middletextblock">
                {{#each middletextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}

        {{#if imageblock}}
            {{#each imageblock}}
                {{> imagecontent}}
            {{/each}}
        {{/if}}

        {{#if lowerimageblock}}
            {{#each lowerimageblock}}
                {{> imagecontent}}
            {{/each}}
        {{/if}}

        {{#if lowertextblock}}
            <div class ="lowertextblock">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if hrcustomclass}}
    		<hr class= "{{hrcustomclass}}">
    	{{/if}}
    </div>
</script>

<!-- partials separated as subtemplate for general template -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    {{#if highlighttext}}
        <p class="{{textclass}}" data-highlight="true">{{{textdata}}}</p>
    {{else}}
        <p class="{{textclass}}" data-highlight="{{datahighlightflag}}">{{{textdata}}}</p>
    {{/if}}
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
<div class="{{imagecontentclass}}">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
</div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>