<!--
    Title : exercise for math transformation
 -->
<script type="text/javascript">
    $cssLoader("css/exercise.transformation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="transformation">

    <div class="nextBtn"></div>

    <div class="board">

    </div>

</div>
<script type="text/x-handlebars-template" id="intro-template">

</script>

<script type="text/x-handlebars-template" id="type1-template">
    <div class="question">{{{question}}} </div>
    <div class="answers">

        <div class="remarkImg">
            <img src="{{wrong}}" id="wrong" alt="">
            <img src="{{right}}" id="right" alt="">
        </div>
        <div class="refrence"><img src="{{primary}}" alt=""></div>
        <div class="options">
            {{#each images}}
                <span>
                    <img src="{{this}}" alt="">
                </span>
            {{/each}}

        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="type2-template">
    <div class="question">{{{question}}} </div>
    <div class="answers">

        <div class="remarkImg">
            <img src="{{wrong}}" id="wrong" alt="">
            <img src="{{right}}" id="right" alt="">
        </div>

        <div class="options">
            {{#each images}}
                <span>
                    <img src="{{this}}" alt="">
                </span>
            {{/each}}

        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="type3-template">
    <div class="type3">
        <div class="smily"><img src="

    {{smily}}" alt=""></div>
        <div class="question3">{{{question}}} </div>
        <div class="answer">
            <div class="remarkImg">
                <img src="{{wrong}}" id="wrong" alt="">
                <img src="{{right}}" id="right" alt="">
             </div>

            <div class="options">
                {{#each images}}
                    <span>
                        {{this}}
                    </span>
                {{/each}}

            </div>
        </div>
    </div>

</script>
<script type="text/x-handlebars-template" id="remark-template">
    <div class="remarks">
        <p class="remarkText">{{remarkTextData}}</p>
        <div class="up">{{up}}</div>
        <div class="down">{{down}}</div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/exercise.transformation.js");
</script>