<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page1.transformation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="transformation">

    <div class="nextBtn"></div>

	<div class="board">

	</div>

</div>
<script type="text/x-handlebars-template" id="first-template">
    <div class="{{className}} wrapper">
        <div class="headTitle"><span>{{title}} </span></div>
        <div class="footTitle"><span>{{footTitle}}</span></div>
        <div class="imgHolder"><img src="{{img}}"  class="coverimage" /></div>

    </div>
</script>

<script type="text/x-handlebars-template" id="second-template">
    <div class="{{className}} wrapper">
        <div class="headTitle"><span>{{title}} </span></div>
        <div class="footTitle"><span>{{footTitle}}</span></div>
        <div class="imgHolder">
            <div class="img1">
                <img src="{{img1}}" alt="{{title}}">
            </div>
            <div class="img2">
                <img src="{{img2}}" alt="">
                <img src="{{img3}}" alt="">
            </div>

        </div>

    </div>
</script>

<script type="text/x-handlebars-template" id="third-template">
    <div class="{{className}} wrapper">
        <div class="headTitle"><span>{{title}} </span></div>
        <div class="cover_image_holder">
            <div class="cover_image_container">
                <img src="{{img_src}}" alt="{{title}}">
            </div>
        </div>

    </div>
</script>


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.transformation.js");
</script>
