<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page3.transformation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="transformation">
	
    <div class="nextBtn"></div>


	<div class="board">
        <div class="error"></div>
        <div class="title"><span>hello world</span></div>
        <div class="midWrapper">
            <div class="canvasHolder">
                <canvas id="graph" width="460px" height="460px">
                    Your browser is not compatible
                </canvas>

            </div>
            <div class="inputs">
                <div >
                    <div class="titleH translation">translation</div>
                    <span>
                        <span>X </span><input type="number" name="translation1" class="translation1">
                    </span>
                    <span>
                        <span>Y </span><input type="number" name="translation2" class="translation2">
                    </span>
                    <span class="btn1 btnTranslation">btnTranslation</span>
                </div>
                <div >
                    <div class="titleH rotation">rotation</div>
                    <span>
                        <span class="angleGive">angle </span><input type="number" name="rotation" class="rotationInput">
                    </span>
                    <span class="btn1 btnRotation">btnRotation</span>
                </div>
                <div >
                    <div class="titleH reflection">reflection</div>
                    <span>
                        <span class="btn1 reflectX">X </span>
                    </span>
                    <span>
                        <span class="btn1 reflectY">Y </span>
                    </span>

                </div>

                <div class="btn1 btnRefresh">refresh</div>

            </div>
        </div>

	</div>

</div>
<script type="text/x-handlebars-template" id="first-template">
    <div class="{{className}} wrapper">

    </div>
</script>


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page3.transformation.js");
</script>