<script type="text/javascript">
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("../../../../css/common-exercise/template_exercise_mcq_picture_choices_1.css");
    $cssLoader("../../../../css/sandeep_fonts.css");
    $cssLoader("exercise/css/exercise.css");
</script>


<div class="activity_container">
  <div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
      {{#if exetype1}}
         {{#each qntext}}
           <div class="{{qntextdivclass}}">
             <p class="{{qntextclass}}">{{qndata}}</p>
           </div>
         {{/each}}
        {{#each exetype1}}
            <p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}"	data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            <div class="{{optionsdivclass}}">
              {{#each exeoptions}}
                  <div class="optionscontainer {{optcontainerextra}}">
                      <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>

                      <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">

                      <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
                  </div>
              {{/each}}
            </div>
        {{/each}}
       {{/if}}

       {{#if imgexc}}
          {{#each qntext}}
            <div class="{{qntextdivclass}}">
              <p class="{{qntextclass}}">{{qndata}}</p>
            </div>
          {{/each}}

        <div class="imgexcmaincontainer {{imgexcmaincontainerclass}}">
         {{#each imgexc}}
            <div class="optionimagescontainer {{imgexcontainerclass}}">
              {{#each imgexcoptions}}
                  <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
                  <img src="images/correct.png" class="corincor_img {{startposextra}} corctopt">
                  <img src="images/wrong.png" class="corincor_img {{startposextra}} wrngopt">
              {{/each}}
            </div>
         {{/each}}
       </div>

       {{/if}}

				{{#each imageblock}}
          {{#if imgindiv}}
            <div class="{{imgindivclass}}">
            	{{> imagecontent}}
            </div>
            {{else}}
            {{> imagecontent}}
          {{/if}}
      	{{/each}}

				{{#each speechbox}}
					<div class="speechbox {{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
					</div>
				{{/each}}

        {{#each extratextblock}}
            <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
        {{/each}}
			</div>
		</div>
	</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
      {{#if imgtoshowindiv}}
        <div class="{{imgtoshowdivclass}}">
          <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
        </div>
        {{else}}
          <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
      {{/if}}
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript" src="js/common-exercise/template_exercise_mcq_picture_choices_1.js"></script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise.js");
</script>
