<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
            <div class = "vertical-horizontal-center">
    </div>
	{{#if uppertextblock}}
    <div class="textblock {{uppertextblockadditionalclass}}">
    	{{#each uppertextblock}}
       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">
            {{{textdata}}}</p>

    	{{/each}}
    </div>
    {{/if}}
    {{#if lowertextblock}}
    <div class="textblock {{lowertextblockadditionalclass}}">
    	{{#each lowertextblock}}
       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">
            {{{textdata}}}</p>

    	{{/each}}
    </div>
    {{/if}}
    
    {{#if exerciseblock}}
    {{#each exerciseblock}}
    <div class="optionsdiv">

        {{#each imageoptions}}
        <div class="optionscontainer forHover {{forshuffle}}">
            
            <p class="quesLabel">{{labeltext}}</p>
            {{#if correctoption}}
            {{#each correctoption}}
            <img src="images/correct.png" class="rightic" />
            {{/each}}
            {{/if}}
            {{#if wrongoption}}
            {{#each wrongoption}}
            <img src="images/wrong.png" class="{{wrongs}}" />
            {{/each}}
            {{/if}}
        </div>
        {{/each}}
        
        {{#each textwithblank}}
            <div class="textbox2" id="whatId">
                <span class="textdata">{{{textdata}}}</span>
                {{#if dashedLine}}
                	<span class="dashedLine">______</span>
            	{{/if}}
            {{#if remain}}
                <span class="remain">{{remain}}</span>

            {{/if}}
            </div>
                <img class="quesImg" src="{{imgsrc}}" />
        {{/each}}

    {{/each}}
    {{/if}}



     </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise.js");
</script>