html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(circle, #ECFECD, #C5E2BC); /* Safari */
    background: -o-radial-gradient(circle, #ECFECD, #C5E2BC); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #ECFECD, #C5E2BC); /* Firefox 3.6 to 15 */
    /*border   : 1px solid red; */
}

div.headerblock {
    top: 0%;
    left: 0%;
    width: 100%;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

.maincontainer {
    position: relative;
}

.chapter{
  font-size: 8vh;
  z-index: 5;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.icon {
    margin-top: 3%;
    font-size: 18em;
    color: #5e55b1;
    z-index: 5;
}
.ole_temp_uppertextblock{
    font-size: 1.8em !important;
}
.flexcontainerblock{
    position: absolute;
    width: 30%;
    height: 60%;
    right: 1.5%;
    top: 20%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #BDBFB5;
}

.flexcontainerblock100 {
    position: absolute;
    width: 49%;
    height: 63%;
    left: 3%;
    top: 32%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #D4D4D4;
    font-size: 2.56vmin;
    background-color: #fff;
    border: 0.3em solid #6b6b6b;
}

.column{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.column1{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #93C47D;
}

.column2{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #C27BA0;
}

.rownormal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.55vmin;
    color: #000000;
    border: 1px solid #D4D4D4;
    flex: 1;
}

.activate{
    cursor: pointer;
}

.activate:hover{
    background: red;
    opacity: 0.3;
}

.letshigh{
    color: #CC4125;
}

.sidetext1 {
    left: 75%;
    top: 40%;
    font-size: 1.5em;
    width: 42%;
}

.sidetext2 {
    left: 75%;
    top: 55%;
    font-size: 1.5em;
    width: 30%;
}

.sidetext3 {
    left: 75%;
    top: 74%;
    font-size: 1.5em;
    width: 42%;
}

.sidetext4 {
    left: 75%;
    top: 75%;
    font-size: 1.5em;
    width: 42%;
}

.flexglow{
    animation: glowit 1s linear alternate 0s forwards 3;
}

@keyframes glowit{
    0%{
        box-shadow: 0px 0px 1em black;
    }
     100%{
        box-shadow: 0px 0px 0.3em black;
    }
}

.selectthis{
    background: #f75b2c;
}

.submitbtn {
    left: 75%;
    top: 70%;
}

.submitbtn2 {
    position: absolute;
    left: 78%;
    top: 48%;
}

.input1 {
    position: absolute;
    left: 67%;
    top: 48%;
    width: 8%;
    text-align: center;
    font-size: 2em !important;
}

.hiddenmon {
    position: absolute;
    width: 29%;
    transform: translate(-50%, -50%);
    top: 76%;
    left: 76%;
}

.flextext {
    position: absolute;
    width: 100%;
    font-size: 7em;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.fadeout{
    animation: fadeitout 1s linear forwards;
}

@keyframes fadeitout{
    100%{opacity: 0;}
}

.fadein{
    opacity: 0;
    animation: cssfadein 1s linear forwards;
}

@keyframes cssfadein{
    100%{
        opacity: 1;
    }
}

.finalmove{
    animation: letsmove 1s linear 1s forwards;
}

@keyframes letsmove{
    100%{
    left: 75%;
    top: 61%;
    /*font-size: 2.5em;*/
    width: 42%;
    }

}

.fadeinlast{
  opacity: 0;
  animation: cssfadein1 4s linear forwards;
}

@keyframes cssfadein1{
  100%{
      opacity: 1;
  }
}

.cvrpage{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.textblock{
  z-index: 10;
}
/**
    this block is essential for implementing fractions
    fraction block essential code begin
*/
.fraction, .fraction2, .top, .bottom{
    padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;
}

.fraction2 {
   transform: translateY(25%);
   text-align: center;
}
.bottom{
    border-top: 0.1em solid #a64d79 !important;
    display: block;
}

@media (min-aspect-ratio: 4/3){
  .chapter{
    font-size: 7vh;
  }
}
@media (max-aspect-ratio: 4/3){
  .chapter{
    font-size: 4vw;
  }
}
