<!--
    Title : General Template
 -->
<link type="text/css" href="css/ashish_fonts.css" rel="stylesheet"/>
<script type="text/javascript">
    $cssLoader("css/page5.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="expressing_wants">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock {{headerblockadditionalclass}}">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull {{coverboardadditionalclass}}">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            
            {{#each imageblock}}
                {{> imagecontent}}
            {{/each}}
            
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
            </div>
            {{/if}}
            {{#if imagetextblock}}
            <div class="imageblock {{imagetextblockadditionalclass}}">
                {{#each imagetextblock}}
                    <div class="{{imagediv}}">
                    	<img class="{{imgclass}}" src="{{imgsrc}}">
                    	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
                    </div>
                {{/each}}
            </div>
            {{/if}}
            
            {{#each extratextblock}}
            	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            {{/each}}
            
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}} 
			{{#each processblock}}
				<div class='processdiv {{processdivclass}}'>
					{{#if textdata1}}
						<div class='process-text p-text-1 {{textclass1}}'>
							<p class='internal_center_p'>{{textdata1}}</p>
						</div>
						<img class='process-arrow arrow-1' src="activity/grade5/english/expressing_wants/images/green-arrow.png" />
					{{/if}}
					<div class='user-div {{divclass}}'>
						<div class='user-img-div {{imgdivclass}}'>
							<img class='user-img {{imgclass}}' src="{{imgsrc}}" />
							<p class='img-label {{labelclass}}'>{{labeldata}}</p>
						</div>
						<p class='div-label-text {{textclass2}}'>{{textdata2}}</p>
					</div>
					<img class='process-arrow arrow-2' src="activity/grade5/english/expressing_wants/images/green-arrow.png" />
					<div class='process-text p-text-2 {{textclass3}}'>
						<p class='internal_center_p'>{{textdata3}}</p>
					</div>
					<img class='process-arrow arrow-3' src="activity/grade5/english/expressing_wants/images/green-arrow.png" />
					<div class='process-op-text {{textclass4}}'>
						<p class='internal_center_p'>{{textdata4}}</p>
					</div>
				</div>
			{{/each}}
			{{#each summaryblock}}
				<div class='summarydiv {{summarydivclass}}'>
					<img class='summary-img {{imgclass}}' src="{{imgsrc}}" />
					<p class='summary-text s-text-1 {{textclass1}}'>{{textdata1}}</p>
					<p class='summary-plus'>+</p>
					<p class='summary-text s-text-2 {{textclass2}}'>{{textdata2}}</p>
					<img class='summary-arrow' src="activity/grade5/english/expressing_wants/images/green-arrow.png" />
					<p class='summary-op {{textclass3}}'>{{textdata3}}</p>
				</div>
			{{/each}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">    
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>