.malala {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey;
}

.malala, .malala * {
    position : relative;
    margin   : 0;
    padding  : 0;
    font-family: happy_monkey;
}

.malala .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.malala .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
        background:radial-gradient(#A2BADA 30%,#3F6787);
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #434343;
	background-color: #6D9EEB;
}

.additional_content{
	background-color: #90C9EE;
	color: #5B0F00;
}

.textblock  {
	height: 20%;
	width: 100%;
	padding: 7% 2%;
}

.imageblock {
	height: 80%;
	width: 100%;	
	position: absolute;
	top: 20%;
}

.options{
	width: 100%;
	font-weight: normal;
	color: #111;
	background-color: #FFCD53;
	color: #7f6000;
	/*border: 0.1em solid #fff;*/
	margin-top: 0.3em;
	cursor: pointer;
	padding: 0.4em 0;
	border-radius: 0.5em;
	font-family: ShortStack;
}

.onhover:hover{
	background-color: #CFE2F3;
}

.onhover:active{
	background-color: #FCD172;
	margin-top: 0.15em;	
}

.correct{
	background-color: #98C02E;
	color: #fff;
	border: 0.2em solid #DEEF3C;
}

.incorrect{
	background-color: #FF0000;
	border: 0.2em solid #980000;
	color: #000;
}

.imagediv{
	width: 40%;
	left: 30%;
	transform: translateY(-50%);
	position: absolute;
}

.imagediv:nth-of-type(1){
	top: 30%;
}

.imagediv:nth-of-type(2){
	top: 45%;
}

.imagediv:nth-of-type(3){
	top: 60%;
}

.imagediv:nth-of-type(4){
	top: 75%;
}

.image_correct, .image_incorrect{
	display: none;
	position: absolute;
	width: 12%;
	left: 102%;
	top: 50%;
	transform: translateY(-50%);
}

.question, .answer{
	text-align: center;
}

.question{
	color: #434343;	
	font-family: bubblegum_sans;
}

.image_diy{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.label_diy{
	width: 50%;
	position: absolute;
	top: 38%;
	left: 11%;
	transform: translateY(-50%);
	color: #0097A7;
	font-family: comingsoon;
}

.additional_imgblk{
	height: 100%;
	width: 100%;
	top: 0;
	background-image: url("../images/frame.png");
	background-size: 100% 100%; 
}

@media screen and (min-aspect-ratio: 4/3) { 
	/*vh*/
	.label_diy{
		font-size: 8vh;
	}
	.question_context{
		font-size: 4.2vh;	
	}
	
	.question{
		font-size: 4.6vh;
	}
	
	.answer{
		font-size: 4vh;
	}
	
	.options{
		font-size: 3vh;	
	}
	
}

@media screen and (max-aspect-ratio: 4/3) { 
	/*vw*/
	.label_diy{
		font-size: 7vw;
	}
	.question_context{
		font-size: 3.7vw;	
	}
	
	.question{
		font-size: 4.4vw;
	}
	
	.answer{
		font-size: 3.44vw;
	}
	
	.options{
		font-size: 2.3vw;	
	}
	
}
