.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.activity_container .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            margin-top       : 11%;
            left             : 15%;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/

        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }

    /*=====  End of HeaderBlock  ======*/

    /*====================================
    =            ContentBlock            =
    ====================================*/

        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        }

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/

        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238);
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);

            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 7px;

            background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }

    /*=====  End of InstructionBlock  ======*/


    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;

            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.textalignleft{
            text-align: left;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        .swipebackgroundstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        .swipebackgroundstyle:after{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        .swipebackgroundstyle:before{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        .royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        .orangehighlight{
            color : rgb(197,6,6);
        }


    /*=====  End of Text Block  ======*/

    /*===================================
    =            Image Block            =
    ===================================*/

        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;
            width    : 40%;
        }

        div.imageblock label{
           position : absolute;
        }

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+2){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }
    /*=====  End of Image Block  ======*/


    /*==============================================
    =            Diy Splash Page Block             =
    ==============================================*/

        div.diysplashblock{
            position : relative;
            width    : 100%;
            /*border   : 1px solid red;*/
        }

        div.diysplashblock > figure{
            position : relative;
            display  : table;
            margin   : 0 auto;
            width    : 40%;
            /*border : 1px solid red;*/
        }

        div.diysplashblock > figure > img{
            width: 100%;
        }

        div.diysplashblock > figure > figcaption{
            position    : absolute;
            top         : 12%;
            left        : 3%;
            width       : 90%;
            margin      : 0 auto;
            font-size   : 1.5em;
            color       : #C98865;
            font-weight : bold;
            /*border    : 1px solid red;*/
        }

        div.diysplashblock > p{
            position   : relative;
            color      : black;
            margin-top : 3%;
            font-size  : 1.5em;
            padding    : 0% 2%;
        }

    /*=====  End of Diy Splash Page Block  ======*/

    /*=================================
    =            Diy Block            =
    =================================*/
        div.diyblock{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            /*height   : 100%;*/
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall{
            position : relative;
            top      : 0%;
            width    : 100%;
            height   : 17%; /* you can change the height according to need */
            /*border   : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 20%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > img{
            position : relative;
            width    : 60%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > figcaption{
            position  : absolute;
            top       : 5%;
            left      : 24%;
            width     : 53%;
            font-size : 0.8em;
            color     : #C98865;

            /*border:1px solid red;*/
        }

        div.diyblock > div.diySmall > p{
            position   : absolute;
            top        : 2%;
            right      : 0%;
            width      : 82%;
            padding    : 1% 1%;
            font-size  : 1.1em;
            text-align : center;

            border           : 2px solid #DB9E36;
            border-radius    : 4px 4px 4px 4px;
            background-color : #FFD34E;
            color            : #BD4932;
        }

       /* div.diyblock > div.diyworkarea{
            position   : relative;
            margin-top : 1.5%;
            width      : 100%;*/
            /*height     : 80%; */
            /* you can change the height according to need */
            /*border     : 1px solid red;*/
        /*}*/

    /*=====  End of Diy Block  ======*/

/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/
    div.bloodflowanimationblockblock,
    div.veindiv{
        position: absolute;
        top: 0%;
        right: 0px;
        width: 100%;
        height: 100%;
    }

    @-webkit-keyframes animatedBackground {
        to { background-position: -5000% 0%; }
    }

    @-moz-keyframes animatedBackground {
        to { background-position: -5000% 0%; }
    }

    @keyframes animatedBackground {
        to { background-position: -5000% 0%; }
    }
    .halfscreen{
        top: 40% !important;
        height: 65% !important;
    }

    div.veindiv{
        background-image: url(../images/page2/veinbg.png);
        background-repeat: repeat;
        background-size:90% 100%;
        background-position: 0% 0%;

        -webkit-animation : animatedBackground 90s linear infinite;
        -moz-animation    : animatedBackground 90s linear infinite;
        animation         : animatedBackground 90s linear infinite;
    }

    div.rbcdiv,
    div.wbcdiv,
    div.plateletsdiv{
        position : absolute;
        width    : 4%;
        height   : 4%;
        /*border   : 1px solid #FF00FF;*/
    }
    div.wbcdiv:nth-of-type(1){
        left: 66%;
        padding-top: 15%;
    }

    div.wbcdiv:nth-of-type(2){
        left: 40%;
    }

    div.wbcdiv:nth-of-type(3){
        padding-top: 15%;
    }

    div.plateletsdiv:nth-of-type(1){
        padding-top: 4%;
        left: 64%;
    }

    div.plateletsdiv:nth-of-type(2){
        padding-top: 18%;
        left: 35%;
    }

    div.plateletsdiv:nth-of-type(3){
        padding-top: 15%;
    }

    div.rbcdiv:nth-of-type(1){
        top  : 5%;
        left : 15%;
    }

    div.rbcdiv:nth-of-type(2){
        top  : 50%;
        left : 50%;
    }

    div.rbcdiv:nth-of-type(3){
        top  : 30%;
        left : 80%;
    }

    img.circulatorystyle{
        width : 40%;
    }

    ul#bloodflowprocesscontainer{
        position   : absolute;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : left;
    }

    ul#bloodflowprocesscontainer li{
        position        : relative;
        width           : 30%;
        padding         : 0.2% 1%;
        cursor          : grab;
        list-style-type : none;
        text-align      : center;

        background: #649173;
        background: -webkit-linear-gradient(to bottom, #649173 , #DBD5A4);
        background: linear-gradient(to bottom, #649173 , #DBD5A4);
    }

    ul#bloodflowprocesscontainer li:nth-of-type(n+1):nth-last-of-type(n+2){
        margin-bottom : 1%;
    }


/*=====  End of Custom Style  ======*/

/*personal css starts*/
.bigfont{
    font-size: 1.4em;
    color: #E12069;
}

.colorchangepink{
    color: #E12069;

}
.highlightpurple{
    color: #D751D8;
}

.beigebackground{
    background: #FFFCEB;
}
.bigheadingside{
    position: absolute;
    margin-top: 15%;
    font-size: 4em;
    left: 42%;
    width: 30%;
    font-family: sans-serif;
    letter-spacing: 40%;
    z-index: 999;
    color: #FB697A;
    opacity: 0;
}
.bloodcartoon{
    right: -20%;
    margin-top: 5%;
    width: 50%;
    font-weight: bolder;
    opacity: 0;
}

 @keyframes sideanim {
         0% { right: -20%; opacity: 0; }
         100% { right: 0%; opacity: 1; }
        }

        @-moz-keyframes sideanim {
         0% { right: -20%; opacity: 0; }
         100% { right: 0%; opacity: 1; }
        }

        @-webkit-keyframes sideanim {
        0% { right: -20%; opacity: 0; }
         100% { right: 0%; opacity: 1; }
        }

.picsideanim{
    animation: sideanim 0.5s ease-in 0.3s 1 forwards;
    -webkit-animation: sideanim 0.5s ease-in 0.3s 1 forwards;
    -moz-animation: sideanim 0.5s ease-in 0.3s 1 forwards;
}

.constituents{
    position: absolute;
    margin-top: 10%;
    left: 10%;
    width: 24%;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(0, 136, 175);
    padding: 1%;
    background: #EBEBFF;
}

#textbold{
    font-weight: bold !important;
    font-size: 1.2em !important;
    color: #00A2A4;
}
.constituentspara{
    position: absolute;
    margin-top: 18%;
    left: 5%;
    width: 90%;
    font-size: 1.2em;
    opacity: 0;
}

.headingstylepara{
    position: absolute;
    left: 11%;
    margin-top: 3%;
    font-size: 1.4em;
    width: 86%;
    text-align: left;
    color: #00C7CA;
    border-bottom: 3px solid #FC697B;
}

.headingstyle{
    position: absolute;
    left: 11%;
    margin-top: 1%;
    font-size: 2em;
    width: 15%;
    text-align: left;
    border-bottom: 3px solid #da160c;
}

.headingstyle2{
    position: absolute;
    left: 0%;
    margin-top: 0%;
    font-size: 2em;
    width: 50%;
    padding-left: 2%;
    text-align: left;
    color: #545655;
    /*background: #e6e6e6;*/
}

.headingstyle3{
    position: absolute;
    left: 0%;
    margin-top: 0%;
    font-size: 2em;
    width: 50%;
    padding-left: 2%;
    text-align: left;
    color: #545655;
}

.bloodcartoonside{
    position: absolute;
    left: 2%;
    top: 0;
    width: 8%;
}

.para1{
    position: absolute;
    margin-top: 3%;
    right: 20%;
    font-size: 1.2em;
}

.para2{
    position: absolute;
    margin-top: 11%;
    width: 65%;
    left: 28%;
}

.plasmaimg
{
    position: absolute;
    margin-top: 25%;
    left: 25%;
    width: 50%;
    opacity: 0;
}

@keyframes fadein {
    0%{
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cssfadein{
    animation: fadein 0.5s linear 0.5s 1 forwards;
    -webkit-animation: fadein 0.5s linear 0.5s 1 forwards;
    -moz-animation: fadein 0.5s linear 0.5s 1 forwards;
}

.cssfadein1{
    animation: fadein 0.8s linear 1.5s 1 forwards;
    -webkit-animation: fadein 0.8s linear 1.5s 1 forwards;
    -moz-animation: fadein 0.8s linear 1.5s 1 forwards;
}
.cssfadein2{
    animation: fadein 2s linear 0.5s 1 forwards;
    -webkit-animation: fadein 2s linear 0.5s 1 forwards;
    -moz-animation: fadein 2s linear 0.5s 1 forwards;
}

.functions{
    position: absolute;
    margin-top: 3%;
    font-size: 1.2em;
    font-weight: bold;
    width: 15%;
    left: 10%;
    padding: 1%;
    background: #EBEBFF;
    color: rgb(0, 136, 175);
}

.lowertextstyle{
    position: absolute;
    margin-top: 13%;
    width: 90%;
    left: 5%;
    opacity: 0;
    font-size: 1.2em;
}

.parastyle1{
    position: absolute;
    margin-top: 6%;
    width: 98%;
    left: 1%;
    font-size: 1.3em;
    text-align: left;
    opacity: 0;
    /*background: #aaa;*/
}
.parastyle2{
    position: absolute;
    margin-top: 13%;
    width: 75%;
    left: 21%;
    font-size: 1.3em;
    text-align: left;
    opacity: 0;
}

.parastyle2_1{
    position: absolute;
    margin-top: 15%;
    width: 70%;
    left: 1%;
    font-size: 1.3em;
    text-align: left;
    opacity: 0;
}

.parastyle3{
    position: absolute;
    margin-top: 8%;
    width: 80%;
    left: 15%;
    font-size: 1.1em;
    text-align: left;
    opacity: 0;
}
.parastyle4{
    position: absolute;
    margin-top: 14%;
    width: 100%;
    left: 1%;
    font-size: 1.3em;
    text-align: left;
    opacity: 0;
}
.diyquestion{
    position: relative;
    margin-top: 10%;
    width: 100%;
    font-size: 1.2em;
}

.middlediyimg{
    position: absolute;
    margin-top: 0%;
    width: 30%;
    left: 35%;
}

.diyanswer1{
    display: table;
    position: absolute;
    margin-top: 30%;
    left: 10%;
    width: 20%;
    padding: 1%;
    cursor: pointer;
    background: #EAEBFF;
    -webkit-box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
    -moz-box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
    box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
    border-radius: 8px;
}

.diyanswer2{
    display: table;
    position: absolute;
    margin-top: 30%;
    left: 40%;
    width: 20%;
    cursor: pointer;
    padding: 1%;
    background: #EAEBFF;
    -webkit-box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
    -moz-box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
    border-radius: 8px;
    box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
}

.diyanswer3{
    display: table;
    position: absolute;
    margin-top: 30%;
    left: 70%;
    width: 20%;
    cursor: pointer;
    padding: 1%;
    background: #EAEBFF;
    -webkit-box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
    -moz-box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
    border-radius: 8px;
    box-shadow: 2px 0px 6px -2px rgba(82,80,82,1);
}

.incorrect{
    background:#F8735D;
    color: #fff;
}
.correct{
    color: #fff;
    background: #8FC557;display:
}

.red{
    position: absolute;
    margin-top: 41%;
    left: 33%;
    width: 10%;
    opacity: 0;
}

.white{
    position: absolute;
    margin-top: 41%;
    left: 45%;
    width: 10%;
    opacity: 0;
}

.plat{
    position: absolute;
    margin-top: 41%;
    left: 54%;
    opacity: 0;
    width: 10%;
}

.plas{
    position: absolute;
    margin-top: 37%;
    left: 70%;
    opacity: 0;
    width: 10%;
}
