<script type="text/javascript">
    $cssLoader("css/exercise2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="set">
	<div id = "topic">
		<p> </p>
	</div>

	<div class = "center_box">
		<div id = "title1"> </div>
		<div id = "title2"> </div>
		<div id = "title3"> </div>

		<div id = "circle1"> </div>
		<div id = "circle2"> </div>
		<div id = "circle3"> </div>

		<div id = "M"> 
			<p></p>
			<p></p>
		</div>

		<div id = "B"> 
			<p></p> 
		</div>

		<div id = "F"> 
			<p></p> 
			<p></p> 
		</div>

		<div id = "BnM"> 
			<p></p> 
		</div>

		<div id = "BnF"> 
			<p></p>
			
		</div>

		<div id = "MnF"> 
			<p> </p>
		</div>

		<div id = "BnMnF"> 
			<p></p> 
			<p></p> 
		</div>
		
		<div id = "correct">
			<img src = "$ref/images/cartoon.png">
		</div>

		<div id = "wrong">
			<img src = "$ref/images/incorrect.png">
		</div>
	</div>
	
    <div class="board"> 
    </div>

    <div class="nextBtn myNextStyle"></div>
    <!-- <div class="prevBtn myPrevStyle"></div> -->

</div>

<script type="text/x-handlebars-template" id="first-template">
	
	<div class = "question_box">
		<p data-requiredanswer1 = "{{answerdata1}}" data-requiredcount = "{{clickcount}}" data-requiredanswer2 ="{{answerdata2}}">{{{para5}}}</p>
		<div id = "options"> 
			<p id = "rama"> {{para7}} </p>
			<p id = "santu"> {{para8}} </p>
			<p id = "narendra"> {{para9}} </p>
			<p id = "roshan"> {{para10}} </p>
			<p id = "tika"> {{para11}} </p>
			<p id = "sita"> {{para12}} </p>
			<p id = "sarina"> {{para13}} </p>
			<p id = "ganesh"> {{para14}} </p>
			<p id = "rabi"> {{para15}} </p>
			<p id = "kayo"> {{para16}} </p>

			<p id = "rice"> {{para3}} </p>
			<p id = "corn"> {{para2}} </p>
			<p id = "fafad"> {{para4}} </p>

		</div>
	</div>
</script>




<!-- js loader starts -->
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/exercise2.js");
</script>