<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page6.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="set">	
    <div class="board"></div>
    
    <div class="nextBtn myNextStyle"></div>
    <!-- <div class="prevBtn myPrevStyle"></div>     -->
</div>

<script type="text/x-handlebars-template" id="first-template">
    <p> {{introText}}</p>
</script>

<script type="text/x-handlebars-template" id="second-template">
	<div id = "topic"> 
        <p>{{introText}}</p>
    </div>

    <div id = "info"> 
    	<p>{{para1}} </p>
    </div>
</script>

<script type="text/x-handlebars-template" id="third-template">
    <div id = "topic"> 
        <p>{{introText}}</p>
    </div>

    <div id = "body_container">

        <div id = "conditions">
            <div class = "info1"> <p> {{paraA}} {{{spantag1}}} {{paraB}} </p> </div>
        </div>

        <div class = "select_set">
            <p> A </p>
            <div id = "single_set"> </div>         
        </div>
            <div id = "numbers">
                <div id = "row1">
                        <p class = "odd"> 1</p>
                        <p class = "even two prime"> 2</p>
                        <p class = "odd three prime"> 3</p>
                        <p class = "even two whole"> 4</p>                        
                    </div>

                    <div id = "row2">
                        <p class = "odd five prime"> 5</p>
                        <p class = "even two whole"> 6</p>
                        <p class = "odd prime"> 7</p>
                        <p class = "even two whole"> 8</p>
                    </div>

                    <div id = "row3">
                        <p class = "odd three whole"> 9</p>
                        <p class = "even two whole five"> 10</p>
                        <p class = "odd prime"> 11</p>
                        <p class = "even two whole"> 12</p>
                    </div>

                    <div id = "row4">
                        <p class = "odd prime"> 13</p>
                        <p class = "even two whole"> 14</p>
                        <p class = "odd three five whole"> 15</p>
                        <p class = "even two whole"> 16</p>
                    </div>  

                    <div id = "row5">
                        <p class = "odd prime"> 17</p>
                        <p class = "even two whole"> 18</p>
                        <p class = "odd prime"> 19</p>
                        <p class = "even two whole five"> 20</p>
                    </div>  
             </div>   

            <div id = "pic">
                <img src = "{{frog}}">
            </div>

            <div id = "cartoon">
                <img src = "{{correct}}">
            </div>  

</script>

<script type="text/x-handlebars-template" id="fourth-template">
    <div id = "topic"> 
        <p>{{introText}}</p>
    </div>

    <div id = "body_container">

        <div id = "conditions">
            <div class = "info1"> <p> {{paraA}} {{{spantag1}}} {{paraB}} </p> </div>
            <div class = "info2"> <p> {{paraC}} {{{spantag2}}} {{paraD}}</p> </div>
        </div>

        <div class = "select_set">
            <p> A </p>
            <p> B </p>
            <div id = "double_set1"> </div> 
            <div id = "double_set2"> </div>
        </div>
            <div id = "numbers">
                <div id = "row1">
                        <p class = "odd"> 1</p>
                        <p class = "even prime"> 2</p>
                        <p class = "odd  three prime"> 3</p>
                        <p class = "even two whole"> 4</p>                        
                    </div>

                    <div id = "row2">
                        <p class = "odd five prime"> 5</p>
                        <p class = "even two three whole"> 6</p>
                        <p class = "odd prime"> 7</p>
                        <p class = "even two whole"> 8</p>
                    </div>

                    <div id = "row3">
                        <p class = "odd three whole"> 9</p>
                        <p class = "even two whole five"> 10</p>
                        <p class = "odd prime"> 11</p>
                        <p class = "even two whole"> 12</p>
                    </div>

                    <div id = "row4">
                        <p class = "odd prime"> 13</p>
                        <p class = "even two whole"> 14</p>
                        <p class = "odd three five whole"> 15</p>
                        <p class = "even two whole"> 16</p>
                    </div>  

                    <div id = "row5">
                        <p class = "odd prime"> 17</p>
                        <p class = "even two whole"> 18</p>
                        <p class = "odd prime"> 19</p>
                        <p class = "even two whole five"> 20</p>
                    </div>     
            </div>

            <div id = "pic">
                <img src = "{{frog}}">
            </div>

            <div id = "cartoon">
                <img src = "{{correct}}">
            </div>

</script>

<script type="text/x-handlebars-template" id="fifth-template">
    <div id = "topic"> 
        <p>{{introText}}</p>
    </div>

    <div id = "body_container">

    <div id = "conditions">      
        <div class = "info1"> <p> {{paraA}} {{{spantag1}}} {{paraB}} {{paraC}} </p> </div>
        <div class = "info2"> <p> {{{spantag2}}} {{paraD}} </p> </div>
    </div>

    <div class = "select_set">
        <p> A </p> 
        <p> B </p> 
        <div id = "circle_1">
            <div id = "circledata1"> </div>
        </div> 
            <div id = "intersection"> </div> 
        <div id = "circle_2"> 
            <div id = "circledata2"> </div>
        </div>
    </div>              
        
        <div id = "numbers">
                <div id = "row1">
                        <p class = "odd"> 1</p>
                        <p class = "two"> 2</p>
                        <p class = "inter2"> 3</p>
                        <p class = "two"> 4</p>                        
                    </div>

                    <div id = "row2">
                        <p class = "five odd"> 5</p>
                        <p class = "two three"> 6</p>
                        <p class = "odd"> 7</p>
                        <p class = "two"> 8</p>
                    </div>

                    <div id = "row3">
                        <p class = "inter2"> 9</p>
                        <p class = "inter1"> 10</p>
                        <p class = "odd"> 11</p>
                        <p class = "two three"> 12</p>
                    </div>

                    <div id = "row4">
                        <p class = "odd"> 13</p>
                        <p class = "two"> 14</p>
                        <p class = "five inter2"> 15</p>
                        <p class = "two"> 16</p>
                    </div>  

                    <div id = "row5">
                        <p class = "odd"> 17</p>
                        <p class = "two three"> 18</p>
                        <p class = "odd "> 19</p>
                        <p class = "inter1"> 20</p>
                    </div>     
            </div>

            <div id = "pic">
                <img src = "{{frog}}">
            </div>

            <div id = "cartoon">
                <img src = "{{correct}}">
            </div>
</script>

<!-- js loader starts -->
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page6.js");

</script>