<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="set">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
    <div class="Btn1 myNextStyle"></div>   
</div>

<script type="text/x-handlebars-template" id="first-template">
   <p>{{introText}}</p>
   <p> {{definition}} </p>
   <p> {{definition2}} </p>
</script>

<script type="text/x-handlebars-template" id="second-template">
   <div id = "topic"> 
        <p>{{example}}</p>
    </div>
    <div id = "main">
    	<p>{{para1}} </p>
    	<p>{{para2}} </p>
        <!--<p>{{para3}} </p>-->
    </div>

    <div id = "caption">
    	<p>{{para3}} </p>
    </div>


    <div id = "main2">
    	<p>{{para4}} </p>
    	<p>{{para5}} </p>
    </div>

    <div id = "caption2">
    	<p> {{para6}} </p>
    </div>

</script>

<script type="text/x-handlebars-template" id="third-template">

</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>