.wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
	background: #ffffff;
}

.question_part
{
	width: 50%;
	height: 100%;
	position: relative;
}

.answer_part
{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.button_next {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
    display: none;
    }

.button_next:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button_prev {
    display: none;
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
}

.button_prev:hover {
  background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.question2,.question3,.question4,.question5,.question6,.question7,.question8,.question9
{
	display: none;
}

.question1,.question2,.question3,.question4,.question5,.question6,.question7,.question8,.question9
{
	width:100%;
	height: 100%;
}

.question_stacks{
	position: absolute;
    top: 55%;
    left: 4%;
    transform: translateY(-50%);
}

.answer_stacks
{
	position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
}



.question_con1,.question_con2,.question_con3,.question_con4,.question_con5,.question_con6,.question_con7,.question_con8,.question_con9,.answer_con8
{
	color: rgba(255,0,109,0.7);
    font-weight: bold;
    font-size: 2.3em;
}

.answer_con
{
	    color: #3399fe;
	    font-weight: bold;
        font-size: 2em;
}

.title_ex
{
	background: #FFC815;
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
       position: absolute;
}

.title_main
{
	font-weight: bold;
    font-size: 2em;
    color: #ffffff;

}

.find
{
	position: absolute;
    top: 78%;
    left: 2%;
     z-index: 99;
}

.find_answer
{
	font-weight: bold;
    font-size: 2em;

}

.find_answer:hover
{
	cursor: pointer;
	color:#1479AF;

}

.answer_con
{
	display: none;
}

@media screen and (min-aspect-ratio: 4/3) {
	 .question_con1, .question_con2, .question_con3, .question_con4,
	 .question_con5, .question_con6, .question_con7, .question_con8,
	 .question_con9, .answer_con8, .answer_con, .find_answer, .title {
		 font-size: 3.56vh;
	 }
	 .answers ul li, p {
		 font-size: 3.56vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) {
	 .question_con1, .question_con2, .question_con3, .question_con4,
	 .question_con5, .question_con6, .question_con7, .question_con8,
	 .question_con9, .answer_con8, .answer_con, .find_answer, .title {
		 font-size: 3vw;
		line-height: 1.1;
	 }
	 .answers ul li, p {
		 font-size: 3vw;
	 }
}
