lolo.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
	background:#fff;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	/*display: none;*/
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 3% 85px 10px;
	/*padding-top: 3%;*/
	background:#fff;
}


.wrapperIntro.firstPage .text1,
.wrapperIntro.firstPage .text2
{

	text-align:left;
	display:none;
	color:#5c5c5c;
	font-size:1.3em;

}

.wrapperIntro.firstPage .text0 {
	background: #ff595b none repeat scroll 0 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    color: #ffffff;
    font-size: 1.4em;
    margin-left: -9px;
    padding: 0.5% 1.25%;
    width: 13%;
}


.wrapperIntro.firstPage .yellow {
    color: #F2C249;
}


.wrapperIntro.firstPage .green {
    color: #00AAA0;
}

.wrapperIntro.firstPage .text1,
.wrapperIntro.firstPage .text2
{

	display:none;

	font-size:1.3em;

}

.wrapperIntro.firstPage {
    padding: 1% !important;
}

.wrapperIntro.firstPage .text1 {
    margin-bottom: 2%;
    margin-left: 4%;
	clear:both;
	margin-top:2%;

}

.wrapperIntro.firstPage .text2 {
    color: #fea200;
    margin-left: 4%;
	margin-bottom:1%;
}

.wrapperIntro.firstPage .solution00,
.wrapperIntro.firstPage .solution01,
.wrapperIntro.firstPage .solution02,
.wrapperIntro.firstPage .solution03,
.wrapperIntro.firstPage .solution04,
.wrapperIntro.firstPage .solution05,
.wrapperIntro.firstPage .solution06,
.wrapperIntro.firstPage .solution07,
.wrapperIntro.firstPage .solution08,
.wrapperIntro.firstPage .solution09,
.wrapperIntro.firstPage .solution10,
.wrapperIntro.firstPage .solution11,
.wrapperIntro.firstPage .solution12,
.wrapperIntro.firstPage .solution13,
.wrapperIntro.firstPage .solution14

{

	display:none;
	font-size:1.3em;
	color:#5c5c5c;
	line-height:1.75em;
	width: 100%;
}


.wrapperIntro.firstPage .text3 {

  line-height: 1.75em;
  margin: 0 auto;
  padding: 1.5% 4%;
	height:70%;
}


.wrapperIntro.firstPage .solution07,
.wrapperIntro.firstPage .solution06,
.wrapperIntro.firstPage .solution05,
.wrapperIntro.firstPage .solution08,
.wrapperIntro.firstPage .solution09,
.wrapperIntro.firstPage .solution11,
.wrapperIntro.firstPage .solution12,
.wrapperIntro.firstPage .solution13
 {
    margin-left: 10%;
}

.wrapperIntro.firstPage .solution01,
.wrapperIntro.firstPage .solution02
 {
    margin-right: 10%;
}
.wrapperIntro.firstPage .solution01
 {
    margin-left: 10%;
}


.wrapperIntro.firstPage .solution14

   {
	background: #ffd350 none repeat scroll 0 0;
    margin-left: 23%;
    padding: 1.3%;
    text-align: center;
    top: 4%;
}
.wrapperIntro.firstPage .solution05,
.wrapperIntro.firstPage .solution11 {
    color: #8827D6;
}

.wrapperIntro.firstPage .solution14
 {
    margin-left: 10%;
}

.highlight {


    margin-left: 10px;
    color:#996699;
	margin-right:10px;
}

.sim-frac{
	font-size:1.4em;
}

/*best display for a fraction*/
    .fraction {
        display         : inline-table;
        text-align      : center; /*this can be here or inside .fraction's child */
        vertical-align  : middle; /*oh wow this is a wow align test without this and 							see what wow LOL*/
        border-collapse : collapse;
    }
    .fraction .numerator,
    .fraction .denominator{
        display : table-row;
		font-weight:normal;
    }
    .fraction .numerator{
        border-bottom : solid rgb(0, 0, 0) 1px;
		font-style:normal;
    }
/*best display for a fraction*/
