lolo.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
	background:#fff;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	/*display: none;*/
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	padding: 3% 2% 2%;
	
	
	}

.wrapperIntro.firstPage .text0 
{
	font-size: 2.3em;
	margin-bottom:30px;
	/*border:solid 2px #538cdb;*/
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;

}

.wrapperIntro.firstPage{
	background:#d1d4f2;
}


.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/
	
	color: #996699 ;
}

.wrapperIntro.firstPage .ind2{
	
	color: #996699 ;
}


.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}



.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}


.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

/*
.wrapperIntro.second .text0 {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
}

.wrapperIntro.second .text0:after {
	position: absolute;
	width: 25%;
	height: 1px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.second .text1 {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
}

.wrapperIntro.second .text1:after {
	position: absolute;
	width: 50%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}
*/
.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0 ,
.wrapperIntro.baseAndIndices2 .text1 {
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform : rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform : rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform : rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform : rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5{
	color:#538cdb;
}


/*added by manish*/



.wrapperIntro.second .text1,
.wrapperIntro.second .text2,
.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12,
.wrapperIntro.second .text13,
.wrapperIntro.second .text14


{

	text-align:left;
	display:none;

}

.wrapperIntro.second .text0 {
	font-size: 2.3em;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}


.wrapperIntro.second .yellow {
    color: #F2C249;
}


.wrapperIntro.second .green {
    color: #00AAA0;
}

.wrapperIntro.second .imageholder01{
	display:none;
}

.wrapperIntro.second .imageholder02{
	display:none;
}

#fun_1 > img{
	width:54%;
}

#ball_1 {
    background: #F2C249;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%;/*24%;*/
	top: 0;
}


#ball_2 {
    background: #C25B56;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
}

#ball_3{
    background: #00AAA0;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%; /*24%;*/
	top: 0;
}

.img-des1 {
    display: inline-flex;
    width: 100%;
}

.imageholder01{
	width:40%;
}

.image1des {
    float: right;
    padding-top: 60px;
    width: 60%;
}



.img-des2 {
    display: inline-flex;
    width: 100%;
}

.imageholder02{
	width:40%;
}

.image2des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

/*first figure pachi ko styling*/

.des2 {
    margin-left: 151px;
}
.des3 {
    margin-left: 151px;
}

.des6 {
    margin-left: 151px;
}
.des7 {
    margin-left: 151px;
}
/********************third page****************/


#fullname{
	color:#cece00;
	position:absolute;
	top:0;
	left:14%; /*4%;*/
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname{	
	color:#538cdb;
	position:absolute;
	left:13%;
}

.imageholder01{
	position:relative;
}


/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des3 {
    display: inline-flex;
    width: 100%;
}

.imageholder03{
	width:40%;
}

.image3des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.des10{
	margin-left:9.55%;
}

.des11{
	margin-left:9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des4 {
    display: inline-flex;
    width: 100%;
}

.imageholder04{
	width:40%;
}

.image4des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

#fullname01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:7%;/*13%; */
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname01{	
	color:#538cdb;
	position:absolute;
	left:13%;
}

/*page4*/




.img-des5 {
    display: inline-flex;
    width: 100%;
}

.imageholder05{
	width:40%;
}

.image5des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output01{	
	color:#c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 17%;
    padding: 10px;
    position: absolute;
    top: 61%;
}



.img-des6 {
    display: inline-flex;
    width: 100%;
}

.imageholder06{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input02{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output02{	
	color:#c25b56;
	position:absolute;
	left:21%;
}
 /*******end of page 4*************/
 
 
 
 /****page5*************/
 
 
 
 .wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fifth .imageholder07{
	display:none;
}

.wrapperIntro.fifth .imageholder08{
	display:none;
}

.wrapperIntro.fifth .text1{
	display:none;
}

.wrapperIntro.fifth .text2{
	display:none;
}



.img-des7 {
    display: inline-flex;
    width: 100%;
}

.imageholder07{
	width:40%;
}

.image7des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input03{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output03{	
	color:#C25B56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    width: 15%;
    position: absolute;
    top: 57%;
	text-align:center;
	font-style:bold;
}



.img-des8 {
    display: inline-flex;
    width: 100%;
}

.imageholder08{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input04{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output04{	
	color:#C25B56;
	position:absolute;
	left:21%;
}
 
 
 /******end of page5********/

 /*added by manish*/
 
 



.wrapperIntro.second .des4{
	padding-top:10px;
}


.wrapperIntro.second .des8 {
    border: 2px solid #538cdb;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
   
    width: 712px;
	display:none;
}

.p1_41 {
    border: 2px solid #538cdb;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 712px;
}

.p1_39 {
    margin-left: 19%;
}

.p1_40 {
    margin-left: 19%; 
}


.image8des {
    margin-top: 100px;
}
 /*added by sangina*/
 


/*added by manish*/

.f3_1,
.f3_2,
.f3_3,
.f3_4,
.f3_5
 {
    display: none;
    width: 100%;
}

.f3_6{
	display:none;
}

.img2 {
    width: 8%;
}

.img2 > img {
    width: 100%;
}


.img1 {
    width: 7%;
}

.img1 > img {
    width: 100%;
}



#p2_11 ,
#p2_12,
#p2_15,
#p2_16,
#p2_17
{
    margin:	auto;
    width: 79%;
	/*background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;*/
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
	width:80%;
	padding-bottom:8px;
	padding-top:8px;
	padding-left:20px;
	color:#224994;
	box-shadow:1px 2px 5px 0px rgba(0,0,0,0.75);
	
	
	
}


.highlight {
   
   
    margin-left: 10px;
    color:#996699;
	margin-right:10px;
}

.f3_6 {
    background: #eaeaea none repeat scroll 0 0;
	border:2px solid #000;
    margin: 2% auto 0;
    padding: 1%;
    text-align: center;
    width: 76%;
}

.wrapperIntro.fourth .text1,
.wrapperIntro.fourth .text2,

.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text5,
.wrapperIntro.fourth .text6,
.wrapperIntro.fourth .text7,
.wrapperIntro.fourth .text8,
.wrapperIntro.fourth .text9,
.wrapperIntro.fourth .text10,
.wrapperIntro.fourth .text11,
.wrapperIntro.fourth .text12,
.wrapperIntro.fourth .text13,
.wrapperIntro.fourth .text14


{

	text-align:left;
	display:none;
	color:#5c5c5c;
	font-size:1.3em;

}

.wrapperIntro.fourth .text0 {
	background: #ff595b none repeat scroll 0 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    color: #ffffff;
    font-size: 1.4em;
    margin-left: -9px;
    padding: 0.5% 1.25%;
    width: 14%;
}


.wrapperIntro.fourth .yellow {
    color: #F2C249;
}


.wrapperIntro.fourth .green {
    color: #00AAA0;
}

.wrapperIntro.fourth .text1,
.wrapperIntro.fourth .text2
{

	display:none;
	
	font-size:1.3em;
	
}


.wrapperIntro.fourth .text1{

	margin-top:2%;
}

.wrapperIntro.fourth {
    padding: 1% !important;
}

.wrapperIntro.fourth .text1 {
    margin-bottom: 2%;
    margin-left: 4%;
	clear:both;
	
}

.wrapperIntro.fourth .text2 {
    color: #fea200;
    margin-left: 4%;
	margin-bottom:1%;
}

.wrapperIntro.fourth .solution00,
.wrapperIntro.fourth .solution01,
.wrapperIntro.fourth .solution02,
.wrapperIntro.fourth .solution03,
.wrapperIntro.fourth .solution04,
.wrapperIntro.fourth .solution05,
.wrapperIntro.fourth .solution06,
.wrapperIntro.fourth .solution07,
.wrapperIntro.fourth .solution08,
.wrapperIntro.fourth .solution09,
.wrapperIntro.fourth .solution10

{

	display:none;
	font-size:1.3em;
	color:#5c5c5c;
	line-height:1.75em;

}


.wrapperIntro.fourth .text3 {
   
    height: 53%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 4%;
}


.wrapperIntro.fourth .solution02,
.wrapperIntro.fourth .solution03,
.wrapperIntro.fourth .solution05,
.wrapperIntro.fourth .solution09,
.wrapperIntro.fourth .solution07,
.wrapperIntro.fourth .solution08
 {
    margin-left: 21.75%;
}

.wrapperIntro.fourth .solution01,
.wrapperIntro.fourth .solution02
 {
    margin-right: 10%;
}


.wrapperIntro.fourth .solution10 

   {
    background: #ffd350 none repeat scroll 0 0;
    margin-top: 1% !important;
    padding: 1.5%;
}
.wrapperIntro.fourth .solution07 {
    color: #8827D6;
}



.main-bg .img-responsive{
	left: 19%;
    margin-top: 9%;
    position: absolute;
    width: 55%;
}



/*added for simple interest*/

.char-holder{
	width:100%;
	display:inline-flex;
}

/*
.char-a{
	margin-left:14%;
	width:32%
}

.char-b{
	width:32%;
}
*/

.slideRight {
    animation-duration: 0.5s !important;
   
}

.slideLeft {
    animation-duration: 0.5s !important;
   
}


.row.char-holder {
    position: absolute;
    top: 67%;
}

.bubble1{
	display:none;
	position:absolute;
	top:20%
}

.bubble2{
	display:none;
	position:absolute;
	top:20%
}





.wrapperIntro.second .bubble3{
	display:none;
}


.char-align{

	position:relative !important;
	margin-left:55% !Important;
	width:22% !important;
	top:33% !important;
	
}




.wrapperIntro.firstPage .char-a .img-responsive {
    top: 2%;
    width: 50%;
	background:#C3F3FF;
}


.wrapperIntro.firstPage .char-b .img-responsive {
    
    top: 2%;
    width: 50%;
}

.char-holder {

    margin-bottom: 0;
    
    width: 100% !important;
}


.bub1::before {
    border-color: #3cd563 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
}



.bub1 {
    
	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #3cd563;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    top: 30%;
    width: 48%;
	
	
}






.bub2::before {

	border-color: #fea92a rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
   
}



.bub2 {

	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #fea92a;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    right: 6%;
    top: 30%;
    width: 48%;
   
}


/*conversation part*/


.wrapperIntro.firstPage .squirrel-listening01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking01{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking01
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.firstPage .boy-listening01{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
	background:#C3F3FF;
}






.wrapperIntro.firstPage .squirrel-listening02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking02{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking02
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.firstPage .boy-listening02{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}





.wrapperIntro.firstPage .squirrel-listening03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking03{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking03
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .boy-listening03{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.char-a {
    margin-left: 18%;
    width: 32%;
}

.char-b {
	left: 65%;
    width: 32%;
}

.wrapperIntro.firstPage .char-b {
    position: absolute;
}

.wrapperIntro.firstPage .text1 {
   
    color: #919191;
    display: none;
    font-size: 1.3em;
    left: 4%;
    text-align: center;
    top: 40%;
    width: 40%;
    z-index: 1000;
   
}

.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text7
{

	display:none;
    color: #0068b3;
   font-size: 1.5em;
	text-align:center;
	z-index:1000;
	width:94.5%;
	
}


.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9
{

	display:none;
    color: #8fc557;
	text-align:center;
	z-index:1000;
	width:94.5%;
	font-size: 1.5em;
	line-height: 1.75em;
	
}

.wrapperIntro.firstPage .text0 
{
	color: #0C6DB3;
	font-size: 2.3em;
	padding-bottom: 4%;
	text-align: center;
	text-shadow: 1px 1px #CCC;

}


.wrapperIntro.second .bubble3{
	display:none;
}




#card1 {
   height: 100%;
	display: inline-block;
	float: left;
	margin: 0px 0px 1%;
	width: 50%;
}

#card2 {
   height: 100%;
	display: inline-block;
	float: right;
	margin: 0px 0px 1%;
	width: 49.8%;
}

 .frontFirst{
      	color : #fff;
        background-color: #00B459;
      }
      
      .backFirst {
      	color : #00849D;
        background-color: #EDF5CC;
        padding: 4% 4% 4% 0;
      }
      
      .frontSecond {
      	color: #fff;
        background-color: #8485E2;
      }
      
       .backSecond {
      	color :#00849D;
        background-color: #DCEEF0;
        padding: 4% 4% 4% 0;
      }
      
      .title1 {
	    font-size: 2em;
	    color: #FFF;
	    background-color: #00B459;
	    padding: 5% 41%;
		}
		
		.title2 {
	    font-size: 2em;
	    color: #FFF;
	    background-color: #8485E2;
	   	padding: 5% 45.9% 5% 41.7%;
		}
.frontFirst, .frontSecond{
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size: 3em;
    line-height: 380px;
}  
.desc{
	font-size: 1.3em;
	color: #8D897D;
	top: 9%;
	left: 5%;
}

.firstDesc {
    font-size: 1.4em;
}

.fourthDesc {
    left: 3%;
}

.fifthDesc {
    left: 3%;
    font-size: 1em;
}

.sixthDesc {
    left: 13%;
    background-color: #E0E0E0;
    padding: 2%;
    top: 4%;
}

.wrapperIntro.third .text0
{

	color: #218ee1;
    display: none;
    font-size: 1.3em;
    left: 20%;
    line-height: 1.2em;
    text-align: justify;
    top: 44%;
    width: 34%;
	
}

.sec {
    background: #fff !important;
    padding: 3% 1% 1% !important;
}




.wrapperIntro.third .row.char-holder {
    position: absolute;
    top: 48%;
    left: 10%;
}

.bubble1 {
    background: #FFF none repeat scroll 0px 0px;
    border: 5px solid #2EC3ED;
    border-radius: 10px;
    color: #333;
    display: none;
    height: 21%;
    margin: 1em 0px 3em;
    padding: 15px;
    position: absolute;
    top: 25%;
    width: 96%;
}

.bubble1::before {
    border-color: #2EC3ED transparent;
    border-style: solid;
    border-width: 30px 30px 0px;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0px;
}

.bubble1{
	display:none;
	position:absolute;
	top:20%
}

.bubble2::before {
    border-color: #b8d73d transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
}

.bubble2 {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #b8d73d;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 21%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    top: 25%;
    width: 96%;
}

.bubble2{
	display:none;
	position:absolute;
	top:20%;
}

.wrapperIntro.firstPage {
    background: rgba(0, 0, 0, 0) url("../image/page1/main-bg.jpg") repeat scroll 0 0;
	background-repeat: none;
	background-size: 100% 100%;
}

.wrapperIntro.firstPage .text2{
	color: #919191;
    display: none;
    font-size: 1.3em;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 42%;
    width: 40%;
    z-index: 1000;
}

.wrapperIntro.fourth {

	background:#fff;
}