lolo.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
	background:#fff;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	/*display: none;*/
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 3% 85px 10px;
	/*padding-top: 3%;*/
	background:#fff;
}

.wrapperIntro.firstPage .text0 ,
{
	font-size: 2.3em;
	margin-bottom:30px;
	/*border:solid 2px #538cdb;*/
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;

}

.wrapperIntro.firstPage{
	background:#d1d4f2;
}

.wrapperIntro.firstPage .text1,
.wrapperIntro.firstPage .text2,

.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12,
.wrapperIntro.firstPage .text13,
.wrapperIntro.firstPage .text14


{

	text-align:left;
	display:none;
	color:#5c5c5c;
	font-size:1.3em;

}

.wrapperIntro.firstPage .text0 {
	background: #ff595b none repeat scroll 0 0;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    color: #ffffff;
    font-size: 1.4em;
    margin-left: -9px;
    padding: 0.5% 1.25%;
    width: 14%;
}


.wrapperIntro.firstPage .yellow {
    color: #F2C249;
}


.wrapperIntro.firstPage .green {
    color: #00AAA0;
}

.wrapperIntro.firstPage .text1,
.wrapperIntro.firstPage .text2
{

	display:none;
	
	font-size:1.3em;
	
}

.wrapperIntro.firstPage {
    padding: 1% !important;
}

.wrapperIntro.firstPage .text1 {
    margin-bottom: 2%;
    margin-left: 4%;
	clear:both;
	
}

.wrapperIntro.firstPage .text2 {
    color: #fea200;
    margin-left: 4%;
	margin-bottom:1%;
}

.wrapperIntro.firstPage .solution00,
.wrapperIntro.firstPage .solution01,
.wrapperIntro.firstPage .solution02,
.wrapperIntro.firstPage .solution03,
.wrapperIntro.firstPage .solution04,
.wrapperIntro.firstPage .solution05,
.wrapperIntro.firstPage .solution06,
.wrapperIntro.firstPage .solution07,
.wrapperIntro.firstPage .solution08,
.wrapperIntro.firstPage .solution09,
.wrapperIntro.firstPage .solution10

{

	display:none;
	font-size:1.3em;
	color:#5c5c5c;
	line-height:1.75em;

}


.wrapperIntro.firstPage .text3 {
    
	height: 65%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 4%;
	
}


.wrapperIntro.firstPage .solution02,
.wrapperIntro.firstPage .solution03,
.wrapperIntro.firstPage .solution04,
.wrapperIntro.firstPage .solution06,
.wrapperIntro.firstPage .solution07,
.wrapperIntro.firstPage .solution08
 {
    margin-left: 21.75%;
}

.wrapperIntro.firstPage .solution01,
.wrapperIntro.firstPage .solution02
 {
    margin-right: 10%;
}


.wrapperIntro.firstPage .solution09 

   {
   background: #ffd350 none repeat scroll 0 0;
    left: 22%;
    padding: 1.5%;
    top: 4%;
}
.wrapperIntro.firstPage .solution06 {
    color: #8827D6;
}

.wrapperIntro.firstPage .text1{
	
	margin-top:2%;
}