@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_story_1 {
	background-image: url("../images/02.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.main_bg{
	/*background-color: #A8DBA4;*/
	background-color: #9DE446;
	/*background: radial-gradient(#80CBC4, #00695C);*/
}
.grassbg {
	background: url("../images/7ae2e7d4cc3bda7c6a61ea10144f3240.jpg");
	background-size: 26% 20%;
}
.main_bg_2{
	background-color: #78C269;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s;
	-webkit-animation: appear 3s;
}
.fade-in-1 {
	animation: appear 1s linear 1.5s both;
	-webkit-animation: appear 1s linear 1.5s both;
}
@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s;
	-webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
	100% {opacity: 0;}
}
@keyframes
disappear {
	100% {opacity: 0;}
}
/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

.ul{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}

.speechbox{
	position: absolute;
	width: 25%;
	height: 15%;
	font-size: 2.1vw;
}
.speechbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}
@media (min-aspect-ratio: 4/3){
	.speechbox{
		font-size: 2.8vh;
	}
}
.speechbox>p{
	position: absolute;
	width: 84%;
	left: 8%;
	top: 40%;
	transform: translateY(-50%);
}
.speechbox>.audioicon{
	position: absolute;
	width: 10%;
	right: 5%;
	top: 12%;
}

.textbox-1{
	position: absolute;
	width: 40%;
	height: 30%;
	background-color: #FFF9D5
}

.textbox-1>p:first-child{
	position: absolute;
	top: 3%;
	left: 0%;
	padding: 1% 0%;
	width: 100%;
	color: #D6476A;
	font-size: 2.5vw;
	text-align: center;
	font-family: sniglet;
	background-color: #FFE248;
}
.textbox-1>p:last-child{
	position: absolute;
	top: 60%;
	left: 0%;
	width: 100%;
	font-size: 2vw;
	text-align: center;
	transform: translateY(-50%);
}
@media (min-aspect-ratio:4/3){
	.textbox-1>p:first-child{
		font-size: 3.6vh;
	}
	.textbox-1>p:last-child{
		font-size: 2.9vh;
	}
}
.text-orange{
	color: #F6B26B;
}
.text-purple{
	color: #B4A7D6;
}
.text-green{
	color: #93C47D;
}
.text-skyblue{
	color: #9FE3E4;
}

.bg-blue{
	background-color: #CFE2F3;
}
.greenboard{
	position: absolute;
	top: 2.5%;
	width: 80%;
	height: 95%;
	left: 16%;
}
.duckling{
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 40%;
	z-index: 15;
}
.bg-weepy-sky{
	background: -webkit-linear-gradient(top, #1cadb2 0%,#2dbddb 40%,#dff0bb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1cadb2 0%,#2dbddb 40%,#dff0bb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cadb2', endColorstr='#d7e4bf',GradientType=0 ); /* IE6-9 */
}
.bg-1{
	background-image: url('../../../../../images/backgrounds/bgwithcloud.jpg')
}




