.sp-1{
	position: absolute;
	bottom: 30%;
	left: 20%;
	width: 50%;
	height: 50%;
	color: #D6476A;
}
.squirrel{
	position: absolute;
	bottom: 1%;
	left: 2%;
	height: 32%;
}
.bg-lblue{
	background-color: #E8FEFD;
}


.topic-story{
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translateX(-50%);
}
.img-topic{
	position: absolute;
	top: 25%;
	height: 50%;
	left: 50%;
	transform: translateX(-50%);
}
.img-topic-1{
	position: absolute;
	bottom: 10%;
	height: 60%;
	left: 50%;
	transform: translateX(-50%);
}


.text-story{
	position: absolute;
	top: 60%;
	width: 100%;
	left: 0%;
	padding: 2% 6.5%;
}
.text-story>*{
	margin: 2% 1%;
	text-align: left;
}


.img-story{
	position: absolute;
	bottom: 40%;
	height: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.instruction {
	position: absolute;
	top: 3%;
	left: 0%;
	width: 100%;
	text-align: center;
	font-weight: normal;
	color: black;
}
.question {
	position: absolute;
	top: 14%;
	left: 5%;
	width: 90%;
	text-align: center;
	font-family: comingsoon;
	color: black;
}
.blank-space {
	border-bottom: 0.4vmin solid black;
	width: 15vmin;
	color: black;
	white-space: pre;
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.balloon-text{
	font-size: 1.7vw;
}
@media(min-aspect-ratio:4/3){
	.balloon-text{
		font-size: 2.3vh;
	}
}













