<body>
<script type="text/javascript">
$cssLoader("css/page2.matter.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="matter">
	<div class="popUp"></div>
	<div class="title">
        <span>state of matter</span>
	</div>
	<span class="myReloadStyle nextBtn">
	</span>

	<div class="board">

	</div>
<!-- <img src="{{candle}}" alt="candle" class="candleIn" title="drag this title"> -->
<script type="text/x-handlebars-template" id="first-template">
	<div class="{{newClass}}">
	<img src="{{candle}}" alt="candle" class="candle" id="candle3" title="drag this title">
	<img src="{{candle}}" alt="candle" class="candle" id="candle2" title="drag this title">
	<img src="{{candle}}" alt="candle" class="candle" id="candle1" title="drag this title">
		<span class="liquid">
			<div class="imageHolder" data-type="liquid">
			<div class="justText">{{liquid}}</div>
				<img src="{{img1}}">
			</div>
			<div class="burnerHolder" data-type="liquid">
				<img src="{{candle}}" class="candleIn">
			</div>

		</span>
		<span class="gas">
			<div class="imageHolder" data-type="gas">
			<div class="justText">{{gas}}</div>
				<img src="{{img2}}">
			</div>
			<div class="burnerHolder" data-type="gas">
				<img src="{{candle}}" class="candleIn">
			</div>
		</span>
		<span class="solid">
			<div class="imageHolder" data-type="solid">
			<div class="justText">{{solid}}</div>
				<img src="{{img3}}">
			</div>
			<div class="burnerHolder" data-type="solid">
				<img src="{{candle}}" class="candleIn">
			</div>
		</span>
	</div>
	<div class="talking">{{talking}}</div>
</script>

<script type="text/x-handlebars-template" id="b4-after-template">
	<div class="popHolder">
		<span class="myCloseStyle clsBtn"></span>
	 	<div class="titleBar">
	 		<span class="imgHolder">
	 			<img src="{{things}}" alt="">
	 		</span>
	 		<span class="title">
	 			{{title}}
	 		</span>
	 	</div>
	 	<div class="prev prevNext" data-type="prev">{{{prevImg}}}</div>
	 	<div class="next prevNext" data-type="next">{{{nextImg}}}</div>

	 	<div class="beforeAfter " id='{{checkClass}}'>
			<span class="before">
				<span class="b4Text">{{b4Text}}</span>
				<span class="imgH"><img src="{{img1}}" alt="">
				</span>
			</span>
			<span class="after">
				<span class="b4Text">{{a4Text}}</span>
				<span class="imgH"><img src="{{img2}}" alt="">
				</span>
			</span>
		</div>

		<div class="desc">{{desc}}</div>
	 </div>
</script>

<script type="text/x-handlebars-template" id="example-template">
	<div class="popHolder">
		<span class="myCloseStyle clsBtn"></span>
	 	<div class="titleBar">
	 		<span class="imgHolder">
	 			<img src="{{things}}" alt="">
	 		</span>
	 		<span class="title">
	 			{{title}}
	 		</span>
	 	</div>
	 	<div class="prev prevNext" data-type="prev">{{{prevImg}}}</div>
	 	<div class="next prevNext" data-type="next">{{{nextImg}}}</div>


	 	

	 	<div class="exampleImg " id='{{checkId}}'>
			<img src="{{exampleImg}}" alt="">
		</div>

		<div class="desc">{{desc}}</div>
	 </div>
</script>

<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<!-- js loader starts -->
<script type="text/javascript">
$jsLoader("js/page2.matter.js");
</script>
</body>