<script>
$cssLoader("./css/shared.css");
$cssLoader("./css/page3.css");
</script>

<div class="allbck">
	<div class="titleMe2"></div>
	<div  id="whatPop"></div>

	<div  id="prevId"></div>
	<div  id="nextId"></div>

</div>
<script>
$jsLoader("./js/page3.js");

</script>

<script type="text/x-handlebars-template" id="template-1">

<div class="bigtextbx">{{textbx}}<span id="smalltextbx">{{txt11}}</span></div>
{{#each optionval}}
<div class="gamebx {{ggg}}">
	
	<div class="imgebx"><p>{{pdesc}}</p><img src="{{imgsrc}}"/></div>
	<div class="selectionbx">{{options}}</div>
	<div class="selectionbx">{{options2}}</div>
	<div class="selectionbx"><span>{{options3}}</span></div>
	
</div>
{{/each}}


</script>


<script type="text/x-handlebars-template" id="template-2">

<div class="tabbx">
<div class="textbd">{{head1}}</div>
<div class="textbg">{{head2}}</div>
<div class="textbg">{{head3}}</div>
<div class="textbg">{{head4}}</div>
<div class="textbg">{{head5}}</div>
</div>


<div class="tabbx">
<div class="textbd"><p>{{pdesc1}}</p><img src="{{imgsrc1}}"/></div>
<div class="textbg">{{l1}}</div>
<div class="textbg">{{l2}}</div>
<div class="textbg">{{l3}}</div>
<div class="textbg">{{l4}}</div>
</div>


<div class="tabbx">
<div class="textbd"><p>{{pdesc2}}</p><img src="{{imgsrc2}}"/></div>
<div class="textbg">{{p1}}</div>
<div class="textbg">{{p2}}</div>
<div class="textbg">{{p3}}</div>
<div class="textbg">{{p4}}</div>
</div>



<div class="tabbx">
<div class="textbd"><p>{{pdesc3}}</p><img src="{{imgsrc3}}"/></div>
<div class="textbg">{{s1}}</div>
<div class="textbg">{{s2}}</div>
<div class="textbg">{{s3}}</div>
<div class="textbg">{{s4}}</div>
</div>

</script>


