<script>
$cssLoader("./css/shared.css");
$cssLoader("./css/page8.css");
$cssLoader("./css/hidenext.css");
</script>

<div class="allbck">
	<div class="titleMe2"></div>
	<div class="wholebx">
		
	</div>
	
	<div  id="prevId"></div>
	
	<div  id="nextId"></div>

	<div id="totalCross">
		<span class="glyphicon glyphicon-remove-circle"></span>
	</div>


</div>
<script>
$jsLoader("./js/page8.js");

</script>

<script type="text/x-handlebars-template" id="template-1">
<div  id="text1">{{txt1}}</div>
<div id="clockid">
	<div id="clock">
		<img src="{{image1}}"/>	
	   	<div id="sec"><img src="{{image2}}"/></div>
	   	<div id="hour"><img src="{{image3}}"/></div>
		<div id="min"><img src="{{image4}}"/></div>
	</div>
	<div id="clockdesc">
		<div id="text3">{{{text3}}}</div>
		<div id="text4">{{{text4}}}</div>
		<div id="text5">{{{text5}}}</div>
		<div id="text6">
			<p>{{{text6}}}</p>
			<p>{{{text7}}}</p>
		</div>

	</div>
</div>
<div  id="text2">{{{txt2}}}</div>
</script>


<script type="text/x-handlebars-template" id="template-2">
<div class="newtxt2">
	<div class="newtxt1">{{txt1}}</div>

	<input type="text" id="heightval" />
	<input type="button" id="btnval" value="{{done}}" />
</div>
<div class="track">
	<img id="runtrack" src="{{imag1}}" />
	<div class="runner">
		<img  src="{{runner}}" />
	</div>
</div>
<div class="summary">
	<img src="{{bolt}}" id="bolt" />
	<div class="conc">
		<div id="conc1">{{conc1}}</div>
		<div id="conc2"></div>
	</div>
	<div class="refresh reloadjsbtn" id="refreshId">{{{imgSrcRef}}}</div>
</div>

</script>