<script>
$cssLoader("./css/shared.css");
$cssLoader("./css/page12.css");
$cssLoader("./css/hidenext.css");
</script>

<div class="allbck">
	<div class="titleMe2"></div>
	
	

	<div class="wholebx">
	
	</div>
	
	<div  id="prevId"></div>
	<div  id="nextId"></div>
	<div id="totalCross">
		<span class="glyphicon glyphicon-remove-circle"></span>
	</div>
	


</div>
<script>
$jsLoader("./js/page12.js");

</script>

<script type="text/x-handlebars-template" id="template-1">
	<div class="text1">{{{txt1}}}</div>
	<div class="text2">{{txt2}}</div>
	<div class="img"><img src="{{img1}}"/></div>
</script>


<script type="text/x-handlebars-template" id="template-2">
	<div class="firstcls">
		<div class="text3">{{{txt3}}}</div>
		<div class="text4">{{txt4}}</div>
	</div>

	<div class="secondcls">
		<div class="text5">{{txt5}}</div>
		<div class="sumbx firstbxx">
			<div class="num">{{txt6}}</div>
			<div class="cand">{{txt8}}</div>
			<div class="eql">=</div>
			<div class="howmuch">
				<input id="val1" />
			</div>
			<div class="cdl">{{txt9}}</div>
			<div class="ques">{{txt10}}</div>
			<div class="arrow1"  id="arrows">
				<span class="glyphicon glyphicon-arrow-right">
				</span>
			</div>
		</div>
		<div class="sumbx" id="lastbxx">
			<div class="num">{{txt7}}</div>
			<div class="cand">{{txt8}}</div>
			<div class="eql">=</div>
			<div class="howmuch">
				<input id="val2"  />
			</div>
			<div class="cdl">{{txt9}}</div>
			<div class="ques">{{txt10}}</div>
			<div class="arrow1" id="arrows1">
				<span class="glyphicon glyphicon-arrow-right">
				</span>
			</div>
		</div>

		<div class="text11">{{txt11}}</div>
	</div>
</script>
