.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.bg_image {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    top: 0;
}
.left_image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
}
.chapter_title {
    position: absolute;
    background: rgba(255, 255, 255,.4);
    font-family: shortstack;
    font-size: 3vw;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 4%;
}
.chapter_title1{
    position: absolute;
    background: rgba(255, 255, 255,.4);
    font-family: shortstack;
    font-size: 2vw;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 13%;
    height: 100%;
}

.top_text {
    position: absolute;
    font-size: 2vw;
    padding: 1%;
    background: rgb(237, 156, 77);
    width: 90%;
    border-radius: 2vmin;
    top: 8%;
    left: 5%;
    color: black;
    border: .5vmin dashed #efe6d4;
    font-family: shortstack;
}
.mid_text {
    position: absolute;
    font-size: 2vw;
    top: 26%;
    width: 80%;
    left: 10%;
    color: #fff;
    text-shadow: .05vmin .05vmin .05vmin #626262;
    font-family: shortstack;
}

.mid_text_1 {
    position: absolute;
    font-size: 4vw;
    top: 26%;
    width: 80%;
    left: 10%;
    color: #fff;
    text-shadow: .05vmin .05vmin .05vmin #626262;
    font-family: shortstack;
}
.bot_text {
    position: absolute;
    font-size: 1.8vw;
    font-family: shortstack;
    top: 75%;
    background: white;
    padding: 1%;
    width: 60%;
    left: 20%;
    border-radius: 2vmin;
}
.green {
    color: green;
    font-weight: bold;
}
.bottom_text {
    align-items: center;
    font-size: 2vw;
    background: rgb(102, 102, 102);
    height: 20%;
    width: 100%;
    color: white;
    top: 90%;
    transform: translate(-50%,-50%);
    padding-left: 8%;
    padding-right: 8%;
    opacity: 0;
    -webkit-animation: fadein .5s ease-in forwards;
    animation: fadein .5s ease-in forwards;
    position: absolute;
    left: 50%;
}
.sniglet_font{
  font-family: sniglet ! important;
}
.right_text {
    background: #666666;
    color: white;
    width: 50%;
    height: 100%;
    right: 0;
    font-size: 2vw;
    position: absolute;
    align-items: center;
    padding: 2%;
    padding-top: 17%;
}
@-webkit-keyframes fadein {
  100%{
    opacity:1;
  }
}
@keyframes fadein {
  100%{
    opacity:1;
  }
}
.options {
    top: 47%;
    background: rgb(170, 130, 171);
    width: 60%;
    font-size: 2vw;
    margin-left: 2%;
    align-items: center;
    border-radius: 2vmin;
    border: .5vmin solid rgb(170, 130, 171);
    color: white;
    cursor: pointer;
    padding: .5%;
    margin-top: 2%;
    left: 19%;
}
.options:hover{
  background: #ED9C4D;
  border-color: white;
  transform: scale(1.1);
}
.seven_padding_top{
  padding-top: 7% !important;
}
.cloudwith_rain {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
}
.pea_small {
    position: absolute;
    z-index: 99;
    left: 5%;
    width: 15%;
    top: 60%;
}
.top_change{
  top: 32%;
}
.pea_only {
    position: absolute;
    width: 2%;
    top: 63.5%;
    left: 54%;
    animation: in_out 1s ease-in-out infinite forwards;
    -webkit-animation: in_out 1s ease-in-out infinite forwards;
    /*-webkit-filter: drop-shadow(.4vmin .4vmin 0 #95c833)
                  drop-shadow(-.4vmin -.4vmin 0 #95c833);
  filter: drop-shadow(.4vmin .4vmin 0 #95c833)
          drop-shadow(-.4vmin -.4vmin 0 #95c833);*/
}
.pea_only1{
  position: absolute;
  width: 1.5%;
  top: 90.5%;
  left: 13.5%;
  animation: in_out 1s ease-in-out infinite forwards;
  -webkit-animation: in_out 1s ease-in-out infinite forwards;
}
.taller_plant {
    position: absolute;
    width: 14%;
    top: 62%;
    left: 5.5%;
}
.bold{
  font-weight: bold;
  font-family: ShortStack
}
.p1s0txt1box{
  position: absolute;
  bottom: 4%;
  left: 0%;
  font-family: ShortStack;
  width: 100%;
  font-size: 2.5vw;
  text-align: center;
  color: #fff;
}
.end {
    position: absolute;
    top: 10%;
    left: 0%;
    font-family: ShortStack;
    width: 100%;
    font-size: 6vw;
    text-align: center;
    color: #fff;
}
.credit {
    position: absolute;
    top: 33%;
    left: 0%;
    font-family: abeezee;
    width: 100%;
    font-size: 4vw;
    color: #fff;
    text-align: center;
}

@keyframes in_out{
    0%{
        transform: scale(1);
    }
    50%{
      transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@-webkit-keyframes in_out{
    0%{
        transform: scale(1);
    }
    50%{
      transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
@media (min-aspect-ratio: 4/3){
    .chaptertitle{
        font-size: 6vmin;
    }
    .top_text, .mid_text, .bot_text, .bottom_text, .options, .right_text {
        font-size: 3.7vmin;
    }
    .mid_text_1{
            font-size: 5vmin;
        }
        .p1s0txt1box {
        font-size: 2vw;
    }
}
