@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 2.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_story_1 {
	background-image: url("../images/02.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.main_bg{
	/*background-color: #A8DBA4;*/
	background-color: #9DE446;
	/*background: radial-gradient(#80CBC4, #00695C);*/
}
.grassbg {
	background: url("../images/7ae2e7d4cc3bda7c6a61ea10144f3240.jpg");
	background-size: 26% 20%;
}
.main_bg_2{
	background-color: #78C269;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generaltemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generaltemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s;
	-webkit-animation: appear 3s;
}
.fade_in-2 {
	animation: appear 1s linear 2s both;
	-webkit-animation: appear 1s linear 2s both;
}

@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade_away {
	animation: disappear 1s  ease-in both;
	-webkit-animation: disappear 1s ease-in both;
}

@-webkit-keyframes
disappear {
	0% {opacity: 1;}
	100% {opacity: 0; display: none;}
}
@keyframes
disappear {
	0% {opacity: 1;}
	100% {opacity: 0; display: none;}
}
/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/


.ul{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}
.plabel{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100%;
	font-size: 2.3vw;
}
@media (min-aspect-ratio:4/3){
	.plabel{
		font-size: 2.9vh;
	}
}
.text-green{
	color: #8c5ca6;
}
.text-purple{
	color: #C27BA0;
}
.text-gold{
	color: #F2D50D;
}
.text-red{
	color: #F33E35;
}
.text-orange{
	color: #FA6700;
}
.text-cyan{
	color: #00707C;
}
.text-pink{
	color: #FF00FF;
}
.text-blue{
	color: #5498C9;
}






/**
	this block is essential for implementing fractions 
	fraction block essential code begin
*/
.fraction, .fraction2, .top, .bottom{
	padding: 0 0.3em;
}

.fraction, .fraction2 {
	display: inline-block;
	text-align: center;
}

.fraction2 {
	transform: translateY(25%);   
}

.bottom{
	border-top: 0.1em solid #222;
	display: block;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}

/**
	fraction block essential end
*/

.turquoise{
	background: #88efde; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #88efde 0%, #88efde 14%, #20979b 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #88efde 0%,#88efde 14%,#20979b 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #88efde 0%,#88efde 14%,#20979b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88efde', endColorstr='#20979b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.vis-hidden{
	visibility: hidden;
}



.replay-btn{
	display: none;
	cursor: pointer;
	position: absolute;
	width: 6%;
	padding: 1%;
	right: 24%;
	top: 85%;
}
.reset-btn{
	display: none;
	cursor: pointer;
	position: absolute;
	width: 6%;
	padding: 1%;
	right: 30%;
	top: 85%;
}









