.mcq-question{
	position: absolute;
	bottom: 80%;
	left: 5%;
}
.mcq-options{
	position: absolute;
	top: 25%;
	left: 5%;
	width: 17%;
	height: 12%;
}
.mcq-option{
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	background-color: #43BEE7;
	border-radius: 1vmin;
	color: white;
}
.mcq-option:hover{
	background-color: #FABD15;
}
.mcq-option>p{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.mcq-shape-1{
	position: absolute;
	top: 15%;
	width: 20%;
	right: 5%;
}
.corrincor{
	position: absolute;
	display: none;
	top: 100%;
	width: 50%;
	left: 25%;
}

.mcq-pos-1{
	left: 5%;
}
.mcq-pos-2{
	left: 25%;
}
.mcq-pos-3{
	left: 45%;
}
.center-text{
	top: 50%;
	left: 50%;
	position: absolute;
	color: #FFC600;
	z-index: 5;
	transform: translate(-50%,-50%);
}
.hint-block{
	display: none;
	position: absolute;
	top: 50%;
	left: 15%;
	width: 50%;
	background-color: #FFF2CC;
	border: 0.4vmin solid #FFE400;
}
.hint-block>p{
	text-align: left;
	margin: 2% 4%;
}









.bg-cyl{
	background-color: #D0DFF3;
}
.header-cyl{
	background-color: #90E090;
	position: absolute;
	padding: 2% 7%;
	width: 100%;
	top: 0%;
	left: 0%;
	text-align: left;
}

.prismblock{
	position: absolute;
	width: 25%;
	height: 40%;
	top: 32%;
	left: 37.5%;
}
.prismback{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	opacity: 0.35;
	height: 100%;
	background-color: #F2A63B;
}
.prismcover{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 140%;
	z-index: 100;
}
.prismbase{
	position: absolute;
	left: 0%;
	width: 100%;
	height: 40%;
}
.prism-top{
	top: 0%;
	z-index: 20;
}
.prism-bottom{
	top: 100%;
}
.disc-1{
	top: 90%;
}
.disc-2{
	top: 80%;
}
.cyl-move-1{
	-webkit-animation: cyl-move-1 1s linear both;
	animation: cyl-move-1 1s linear both;
}

@-webkit-keyframes
cyl-move-1 {
	100% {left: 60%;}
}
@keyframes
cyl-move-1 {
	100% {left: 60%;}
}
.prism-2{
	left: 60%;
}
.fade_in-1 {
	animation: appear 1s linear 1s both;
	-webkit-animation: appear 1s linear 1s both;
}


.side-cyl{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 2.5%;
	width: 40%;
	background: #FFE599;
	text-align: left;
	padding: 2% 3%;
}
.side-cyl>p{
	margin: 2% 1%;
}

.bt-area{
	position: absolute;
	top: 90%;
	left: 68%;
}
.bt-h{
	position: absolute;
	top: 72%;
	left: 85%;
	width: 15%;
}
.bt-h2{
	position: absolute;
	top: 68%;
	left: 85%;
	width: 15%;
}
.bt-h3{
	position: absolute;
	top: 55%;
	left: 85%;
	width: 15%;
}
.cyl-h{
	position: absolute;
	right: 41%;
	height: 41%;
	top: 32%;
}
.vis-hidden{
	visibility: hidden;
}
.align-center{
	text-align: center;
}



.cyl-con{
	position: absolute;
	top: 70%;
	left: 15%;
	width: 35%;
	padding: 2%;
	background-color: #FFF2CC;
	border: 0.4vmin solid #FFE400;
	text-align: left;
}


.cly-text-03{
	position: absolute;
	top: 50%;
	left: 15%;
	padding: 2% 4%;
	display: inline-block;
	transform: translateY(-50%);
	text-align: left;
	background-color: #F2A63B;
}



.abc-arrow-1{
	position: absolute;
	right: 15%;
	top: 28%;
	width: 25%;
	z-index: 110;
}
.abc-arrow-2{
	position: absolute;
	right: 15%;
	top: 35%;
	width: 12.5%;
	z-index: 110;
	transform-origin: 100% 50%;
	transform: rotate(-48deg);
}

.abc-arrow-3{
	position: absolute;
	left: 60%;
	top: 34%;
	width: 19.5%;
	z-index: 110;
	transform-origin: 0% 50%;
	transform: rotate(30deg);
}
.ar-h-2{
	position: absolute;
	height: 41%;
	right: 12%;
	top: 32%;
}




