.prismblock{
	position: absolute;
	top: 30%;
	right: 30%;
	width: 25%;
	height: 40%;
	transform-style: preserve-3d;
	perspective: 8000px;
	transform: rotateX(-40deg);
}
.prismblock2{
	right: 20%;
}

.prism-top{
	position: absolute;
	width: 100%;
	left: 0%;
	bottom: 100%;
	transform-origin: 50% 100%;
	transform: rotateX(-85deg);
	z-index: 10;
}
.prism-bottom{
	left: 0%;
	position: absolute;
	width: 100%;
	top: 100%;
	transform-origin: 50% 0%;
	transform: rotateX(92deg);
	z-index: 3;
	height: 40%;
}
.prismface{
	position: absolute;
	top: 0%;
	background-color: rgba(233,178,121, 0.85);
	border: 0.5vmin solid rgb(159,122,96);
	width: 100%;
	height: 100%;
	z-index: 1;
}
.prism-s-1{
	left: 0%;
}
.prism-s-2{
	left: 0%;
	background-color: rgba(233,178,121, 0.85);
	transform-origin: 0% 50%;
	transform: rotateY(-31deg);
	z-index: 4;
	width: 73%;

}
.prism-s-3{
	right: 0%;
	background-color: rgba(233,178,121, 0.85);
	transform-origin: 100% 50%;
	transform: rotateY(45deg);
	z-index: 5;
	width: 54%;
}



.prism-text-01{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
    background: #EEEEEE;
    padding: 1%;
    transform: translateY(-50%);
}
.prism-text-02{
	position: absolute;
	top: 50%;
	left: 1.5%;
	width: 34%;
	padding: 2% 2%;
	transform: translateY(-50%);
	text-align: left;
	background-color: #FFE599;
}
.prism-text-02>p{
	margin: 2% 0%;
}
.text-form{
	color: rgb(153,0,255);
}
.vis-hidden{
	visibility: hidden;
}


.p-anim{
	-webkit-animation: p-anim 1s linear 0s both;
	animation: p-anim 1s linear 0s both;
}
@-webkit-keyframes
p-anim {
	100% {right: 20%;}
}
@keyframes
p-anim {
	100% {right: 20%;}
}

.p-t-anim{
	-webkit-animation: p-t-anim 2s linear 1s both;
	animation: p-t-anim 2s linear 1s both;
}
@-webkit-keyframes
p-t-anim {
	100% {transform: rotateX(10deg);}
}
@keyframes
p-t-anim {
	100% {transform: rotateX(10deg);}
}


.p-s2-anim{
	-webkit-animation: p-s2-anim 2s linear 3s both;
	animation: p-s2-anim 2s linear 3s both;
}
@-webkit-keyframes
p-s2-anim {
	100% {transform: rotateY(-180deg);;}
}
@keyframes
p-s2-anim {
	100% {transform: rotateY(-180deg);;}
}

.p-s3-anim{
	-webkit-animation: p-s3-anim 2s linear 5s both;
	animation: p-s3-anim 2s linear 5s both;
}
@-webkit-keyframes
p-s3-anim {
	100% {transform: rotateY(180deg);;}
}
@keyframes
p-s3-anim {
	100% {transform: rotateY(180deg);;}
}


.p-b-anim{
	-webkit-animation: p-b-anim 2s linear 7s both;
	animation: p-b-anim 2s linear 7s both;
}
@-webkit-keyframes
p-b-anim {
	100% {transform: rotateX(10deg);}
}
@keyframes
p-b-anim {
	100% {transform: rotateX(10deg);}
}


.p-for-1, .p-for-3{
	position: absolute;
	padding: 1% 0%;
	/*border: 0.3vmin solid rgb(113,130,125);*/
	/*background-color: rgb(152,219,198);*/
	width: 25%;
	left: 55%;
	z-index: 10;
}
.p-for-1{
	top: 25%;
}
.p-for-3{
	top: 67%;
}


.p-for-2{
	position: absolute;
	padding: 1% 0%;
	/*border: 0.3vmin solid rgb(113,130,125);*/
	/*background-color: rgb(152,219,198);*/
	width: 30%;
	left: 52.5%;
	top: 47.5%;
	z-index: 10;
}

.fade-in-f {
	-webkit-animation: appear 1s linear 9s both;
	animation: appear 1s linear 9s both;
}
.fade-in-f2 {
	-webkit-animation: appear 1s linear 10s both;
	animation: appear 1s linear 10s both;
}
.fade-out-1{
	-webkit-animation: disappear 1s linear both;
	animation: disappear 1s linear both;
}





.p-anim{
	-webkit-animation: p-anim 1s linear 0s both;
	animation: p-anim 1s linear 0s both;
}
@-webkit-keyframes
p-anim {
	100% {right: 20%;}
}
@keyframes
p-anim {
	100% {right: 20%;}
}

.p-t-anim1{
	-webkit-animation: p-t-anim1 2s linear 7s both;
	animation: p-t-anim1 2s linear 7s both;
}
@-webkit-keyframes
p-t-anim1 {
	0% {transform: rotateX(10deg);}
	100% {transform: rotateX(-85deg);}
}
@keyframes
p-t-anim1 {
	0% {transform: rotateX(10deg);}
	100% {transform: rotateX(-85deg);}
}
.p-s2-anim1{
	-webkit-animation: p-s2-anim1 2s linear 5s both;
	animation: p-s2-anim1 2s linear 5s both;
}
@-webkit-keyframes
p-s2-anim1 {
	0% {transform: rotateY(-180deg);}
	100% {transform: rotateY(-31deg);}
}
@keyframes
p-s2-anim1 {
	0% {transform: rotateY(-180deg);}
	100% {transform: rotateY(-31deg);}
}
.p-s3-anim1{
	-webkit-animation: p-s3-anim1 2s linear 3s both;
	animation: p-s3-anim1 2s linear 3s both;
}
@-webkit-keyframes
p-s3-anim1 {
	0% {transform: rotateY(180deg);}
	100% {transform: rotateY(45deg);}
}
@keyframes
p-s3-anim1 {
	0% {transform: rotateY(180deg);}
	100% {transform: rotateY(45deg);}
}
.p-b-anim1{
	-webkit-animation: p-b-anim1 2s linear 1s both;
	animation: p-b-anim1 2s linear 1s both;
}
@-webkit-keyframes
p-b-anim1 {
	0% {transform: rotateX(10deg);}
	100% {transform: rotateX(92deg);}
}
@keyframes
p-b-anim1 {
	0% {transform: rotateX(10deg);}
	100% {transform: rotateX(92deg);}
}







.prism-text-03{
	position: absolute;
	top: 50%;
	left: 2.5%;
	padding: 2% 4%;
	display: inline-block;
	transform: translateY(-50%);
	text-align: left;
	background-color: #F2A63B;
}






.mcq-question{
	position: absolute;
	bottom: 80%;
	left: 5%;
}
.mcq-options{
	position: absolute;
	top: 25%;
	left: 5%;
	width: 17%;
	height: 12%;
}
.mcq-option{
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	background-color: #43BEE7;
	border-radius: 1vmin;
	color: white;
}
.mcq-option:hover{
	background-color: #FABD15;
}
.mcq-option>p{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.mcq-shape-1{
	position: absolute;
	top: 15%;
	width: 20%;
	right: 5%;
}
.corrincor{
	position: absolute;
	display: none;
	top: 100%;
	width: 50%;
	left: 25%;
}

.mcq-pos-1{
	left: 5%;
}
.mcq-pos-2{
	left: 25%;
}
.mcq-pos-3{
	left: 45%;
}
.center-text{
	top: 50%;
	left: 50%;
	position: absolute;
	/*color: #FFC600;*/
	z-index: 5;
	transform: translate(-50%,-50%);
}
.hint-block{
	display: none;
	position: absolute;
	top: 50%;
	left: 15%;
	width: 50%;
	background-color: #FFF2CC;
	border: 0.4vmin solid #FFE400;
}
.hint-block>p{
	text-align: left;
	margin: 2% 4%;
}
.hint-text-frac{
	top: -5%;
	margin-top: 0%!important;
	margin-bottom: 2%!important;
}


.ar-h-1{
	position: absolute;
	height: 31%;
	right: 18%;
	top: 35%;
	animation: appear 1s linear 9s both;
	-webkit-animation: appear 1s linear 9s both;
}

.dela{
	position: absolute;
	right: 28%;
	top: 36%;
	z-index: 10;
	animation: appear 1s linear 9s both;
	-webkit-animation: appear 1s linear 9s both;
}


.ar-h-2{
	position: absolute;
	height: 31%;
	right: 18%;
	top: 35%;
}

.dela-1{
	position: absolute;
	right: 28%;
	top: 36%;
	z-index: 10;
}

.abc-arrow-1{
	position: absolute;
	right: 20%;
	top: 31%;
	width: 25%;
	z-index: 30;
}
.abc-arrow-2{
	position: absolute;
	right: 20%;
	top: 36%;
	width: 11.5%;
	z-index: 30;
	transform-origin: 100% 50%;
	transform: rotate(-35deg);
}

.abc-arrow-3{
	position: absolute;
	left: 55%;
	top: 36%;
	width: 17%;
	z-index: 30;
	transform-origin: 0% 50%;
	transform: rotate(23deg);
}





