@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	/*padding: 1%;*/
	/*border   : 1px solid blue;*/
}
.contentblock{
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
	height: 100%;
}
div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
}


.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in_3 {
	animation: appear 1s both;
	-webkit-animation: appear 1s both;
	animation-delay: 2s;
}

.fade_in_1 {
	animation: appear 1s both;
	-webkit-animation: appear 1s both;
}

.fade_in_2 {
	animation: appear 2s ease-in both;
	-webkit-animation: appear 2s ease-in both;
}
.fade_in-2 {animation: appear 1s both;
	-webkit-animation: appear 1s both;
	animation-delay: 2s;
}
.fade_in-3 {animation: appear 1s both;
	-webkit-animation: appear 1s both;
	animation-delay: 3s;
}
.fade_in_6 {
	animation: appear 1s both;
	-webkit-animation: appear 1s both;
	animation-delay: 6s;
}
.fade_in_4 {
	animation: appear 1s both;
	-webkit-animation: appear 1s both;
	animation-delay: 4s;
}
@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/


/*=====  End of general template layout  ======*/
/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	font-size: 5em;
}
.selected{
	cursor: auto!important;
}
.bg-1{
	background-color: white;
}
.bg-blue{
	background-color: #A4C2F4;
}

.center-text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0%;
	width: 100%;
	color: #000;
}
.bold-text{
	font-weight: bold;
}
.center-text-0{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0%;
	background-color: #1CB7CD;
	border-top: 1vmin solid #69D9E6;
	border-bottom: 1vmin solid #69D9E6;
	width: 100.2%;
	color: white;
	padding: 3% 3%;
}

.question-blue > p{
    color: white;
    width: 100%;
    padding-left: 2%;
    text-align: left;
    font-size: 3vw;
}

@media (min-aspect-ratio: 4/3){
	.question-blue>p {
		font-size: 4vmin;
	}
}


/*---------- for clock part ----------*/

.clockblock{
	position: absolute;
	width: 40%;
	height: 66.6%;
}
.clockbody{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 1;
}
.clocktext{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 2;
}
.hr-hand{
	position: absolute;
	top: 48%;
	width: 17.5%;
	left: 48%;
	height: 4%;
	background-color: #287535;
	border-bottom-right-radius: 8.7% 50%;
	border-bottom-left-radius: 8.7% 50%;
	border-top-right-radius: 8.7% 50%;
	border-top-left-radius: 8.7% 50%;
	z-index: 7;
	transform-origin: 10% center;
	filter: drop-shadow(0px 0px 1px black);
}
/*.hr-hand::before{
	content: '';
	position: absolute;
	width: 25%;
	left: -12.5%;
	height: 100%;
	border-radius: 50%;
	background-color: #287535;
}
.hr-hand::after{
	content: '';
	position: absolute;
	width: 25%;
	right:  -12.5%;
	height: 100%;
	border-radius: 50%;
	background-color: #287535;
}*/
.min-hand{
	position: absolute;
	top: 48%;
	width: 30%;
	left: 48%;
	height: 4%;
	background-color: #BB1038;
	z-index: 6;
	transform-origin: 8% center;
	border-bottom-right-radius: 8.7% 50%;
	border-bottom-left-radius: 8.7% 50%;
	border-top-right-radius: 8.7% 50%;
	border-top-left-radius: 8.7% 50%;
	filter: drop-shadow(0px 0px 1px black);
}
.dottedhand{
	position: absolute;
	top: 49%;
	width: 42%;
	left: 50%;
	height: 0;
	z-index: 6;
	padding:0;
	margin: 0;
	transform-origin: 0% center;
	border-bottom: 0.5vmin dashed red;
	border-top: 0.5vmin dashed red;
}
/*.min-hand::before{
	content: '';
	position: absolute;
	width: 18%;
	left: -9%;
	height: 100%;
	border-radius: 50%;
	background-color: #BB1038;
}
.min-hand::after{
	content: '';
	position: absolute;
	width: 18%;
	right:  -9%;
	height: 100%;
	border-radius: 50%;
	background-color: #BB1038;
}*/
.center-dot{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3%;
	height: 3%;
	background-color: #EBE837;
	z-index: 8;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
.correct-icon, .incorrect-icon{
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 20%;
}




.no-brightness{
	filter: brightness(0%);
}
.hl_numbers{
	animation: hl_numbers 1s linear both infinite;
	-webkit-animation: hl_numbers 1s linear both infinite;
	animation-delay: 1s;
}

@-webkit-keyframes
hl_numbers {
	0% {filter: brightness(0%);}
	30% {filter: brightness(100%);}
	70% {filter: brightness(100%);}
	100% {filter: brightness(0%);}
}
@keyframes
hl_numbers {
	0% {filter: brightness(0%);}
	30% {filter: brightness(100%);}
	70% {filter: brightness(100%);}
	100% {filter: brightness(0%);}
}
/*different clocks*/
.clock-right{
	right: 5%;
	top: 20%;
	width: 35%;
	height: 58.3%;
}
.clock-right-1{
	right: 10%;
	top: 20%;
	width: 35%;
	height: 58.3%;
}
.clock-right-2{
	right: 10%;
	top: 20%;
	width: 35%;
	height: 58.3%;
}
.clock-options{
	position: relative;
	display: inline-block;
	cursor: pointer;
	/*top: 30%;*/
	width: 20%;
	height: 33.33%;
	margin: 0% 2%;
}
/*.clock-class-2{
	left: 4%;
}
.clock-class-3{
	left: 28%;
}
.clock-class-4{
	left: 52%;
}
.clock-class-1{
	left: 76%;
}*/
.clock-options:not(.selected):hover{
	transition: 0.4s linear;
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 1vmin black);
}

.hl-num-class{
	position: absolute;
	z-index: 1;
	width: 15%;
	height: 15%;
	background-color: #FFFF00;
	top: 42.5%;
	left: 76%;
	border-radius: 50%;
	transform-origin: -173% center;
	/*border: 1vmin solid #4185F3;*/
	transform: rotate(-90deg);
}
.oclock{
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFE599;
	padding: 3% 5%;
}
.halfclock{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFE599;
	padding: 3% 5%;
}
.quaterpast{
	position: absolute;
	top: 50%;
	left: 100%;
	padding: 1% 2%;
	transform: translateY(-50%);
	background-color: #FFE599;
}
.quaterto{
	position: absolute;
	top: 50%;
	right: 100%;
	padding: 1% 2%;
	transform: translateY(-50%);
	background-color: #FFE599;
}
.cookieclass{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 10;
}

.hr-12{
	transform: rotate(-90deg);
}
.hr-11{
	transform: rotate(240deg);
}

.hr-10{
	transform: rotate(210deg);
}
.hr-9{
	transform: rotate(180deg);
}
.hr-8{
	transform: rotate(150deg);
}
.hr-7{
	transform: rotate(120deg);
}
.hr-6{
	transform: rotate(90deg);
}
.hr-5{
	transform: rotate(60deg);
}
.hr-4{
	transform: rotate(30deg);
}
.hr-2{
	transform: rotate(-30deg);
}
.hr-1{
	transform: rotate(-60deg);
}


.hand-hl{
	animation: hl_hand_clock 1s linear infinite;
	-webkit-animation: hl_hand_clock 1s linear infinite;
	animation-delay: 1s;
}
.hand-hl-0{
	animation: hl_hand_clock 1s linear infinite;
	-webkit-animation: hl_hand_clock 1s linear infinite;
}
@-webkit-keyframes
hl_hand_clock {
	50% {background-color: #FFBF00;}
}
@keyframes
hl_hand_clock {
	50% {background-color: #FFBF00;}
}

/*outer clock tests*/
.past-0, .past-5, .past-10, .past-15, .past-20, .past-25, .past-30{
	position: absolute;
	font-size: 2.5vw;
	z-index: 25;
}
@media (min-aspect-ratio: 4/3){
	.past-0, .past-5, .past-10, .past-15, .past-20, .past-25, .past-30{
		font-size: 3.2vmin;
	}
}
.past-0{
	top: -10%;
	left: 50%;
	transform: translateX(-50%);
}
.past-5{
	top: 0%;
	left: 75%;
}
.past-10{
	top: 21%;
	left: 93%;
	width: 30%;
}
.past-15{
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
}
.past-20{
	top: 68%;
	left: 93%;
	width: 30%;
}
.past-25{
	top: 92%;
	left: 75%;
}
.past-30{
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
}


.pastimg{
	position: absolute;
	top: -3%;
	left: 0%;
	width: 103%;
	height: 103%;
}
.pastimg2{
	position: absolute;
	top: -3%;
	left: -1.5%;
	width: 103%;
	height: 103%;
}


/* text blocks*/
.half-yellow-textblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 55%;
	height: 100%;
	background-color: #FFE599;
	text-align: center;
	padding: 5% 2%;
}
.half-yellow-textblock>*{
	position: relative;
	margin: 8% 0%;
}
.aligned-left{
	text-align: left;
}
.min-margin{
	padding: 2% 2%;
}
.min-margin>*{
	position: relative;
	margin: 5% 0%;
}

.min-margin-1{
	padding: 1% 1%;
}
.min-margin-1>*{
	position: relative;
	margin: 2.5% 0%;
}
.outer-text{
	position: absolute;
	color: #D32F2F;
	font-size: 3vw;
	font-weight: bold;
	z-index: 10;
	transform: translateY(-50%);
}
.o-text-12{
	bottom: 75%;
	right: 18%;
}
@media (min-aspect-ratio: 4/3){
	.outer-text{
		font-size: 4vmin;
	}
}


.bold-ul{
	font-weight: bold;
	text-decoration: underline;
}
.ul{
	color: #1c34e0;
}
.i{
	font-style: italic;
}


/*digital clock*/
						
.digiclockblock{
	position: absolute;
	width: 28%;
	height: 20%;
	border-bottom-right-radius: 10% 20%;
	border-top-right-radius: 10% 20%;
	border-bottom-left-radius: 10% 20%;
	border-top-left-radius: 10% 20%;
	background-color: #FFD966;
}

.digidisplay{
	position: absolute;
	width: 80%;
	height: 70%;
	left: 10%;
	top: 15%;
	background-color: #EEEEEE;
	border: 1px solid black;
}

.digidisplay>div>p{
	position: absolute;
	top: 40%;
	width: 100%;
	transform: translateY(-50%);
	font-family: digital7;
	font-size: 9vw;
}
@media (min-aspect-ratio: 4/3){
	.digidisplay>div>p{
		font-size: 12vh;
	}
}
.digisep{
	position: absolute;
	height: 90%;
	top: 5%;
	width: 5%;
	left: 45%;
	text-align: left;
}
.digisep>p{
	font-family: Arial!important;
}
.digihr{
	position: absolute;
	left: 2.5%;
	width: 42.5%;
	height: 90%;
	top: 5%;
	background-color: #70F7F7;
	border: 1px solid black;
	text-align: right;
}
.digimin{
	position: absolute;
	left: 55%;
	width: 42.5%;
	height: 90%;
	top: 5%;
	background-color: #70F7F7;
	border: 1px solid black;
	text-align: left;
}

.digiclock-1{
	right: 14%;
	top: 75%;
}
/*=====  End of Custom Style  ======*/
