.review-text{
	position: absolute;
	top: 4%;
	left: 50%;
	transform: translateX(-50%);
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.title-diy{
	position: absolute;
	bottom: 45%;
	left: 0%;
	width: 100%;
	font-weight: bold;
	color: black;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
.clock-review{
	left: 30%;
	top: 23%;
	width: 40%;
	height: 66.6%;
}
.q1class{
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFE599;
	padding: 1% 5%;
}
.q3class{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFE599;
	padding: 1% 5%;
}
.q2class{
	position: absolute;
	width: 30%;
	top: 50%;
	left: 100%;
	padding: 1% 2%;
	transform: translateY(-50%);
	background-color: #FFE599;
}
.q4class{
	position: absolute;
	width: 30%;
	top: 50%;
	right: 100%;
	padding: 1% 2%;
	transform: translateY(-50%);
	background-color: #FFE599;
}




.bg_cloudy{
	background: url('../images/bg_new.png');
	background-size: 100% 100%;
}

.review-instruction{
	position: absolute;
	top: 2%;
	width: 60%;
	left: 23%;
}
.review-instruction-a{
	position: absolute;
	bottom: 23%;
	width: 70%;
	left: 20%;
}
.boy{
	position: absolute;
	bottom: 1%;
	left: 2%;
	height: 50%;
}
.boy-intro{
	position: absolute;
	bottom: 1%;
	left: 2%;
	height: 80%;
}
.digiclock-2{
	top: 20%;
	right: 6.5%;
	width: 20%;
	height: 14.3%;
}

.digiclock-2>.digidisplay>div>p{
	font-size: 6vw;
}
@media (min-aspect-ratio: 4/3){
	.digiclock-2>.digidisplay>div>p{
		font-size: 8vh;
	}
}
.option-block{
	position: absolute;
	bottom: 3%;
	height: 15%;
	width: 75%;
	left: 20%;
	padding: 2%;
}
.option{
	cursor: pointer;
	position: absolute;
	display: inline-block;
	width: 20%;
	top: 0%;
	padding: 2% 0%;
	margin: 1% 0%;
	height: 90%;
	border-radius: 1vmin;
	background-color: #3498DB;
	color: white;
	border-bottom: 1vmin solid #2980B9;
	text-shadow: 0px -2px #2980B9;
	transition: all 0.1s;
}
.option:not(.selected):hover{
	/*background-color: #00CADC;*/
}
.option:active{
	transform: translate(0px,5%);
	border-bottom: 0vmin solid #2980B9;
}
.selected{
	transform: translate(0px,5%);
	border-bottom: 0px solid;
}
.option>p{
	position: absolute;
	width: 95%;
	left: 2.5%;
	top: 50%;
	transform: translateY(-50%);
}
.option-1{
	left: 2.5%;
}
.option-2{
	left: 27.5%;
}
.option-3{
	left: 52.5%;
}
.option-4{
	left: 77.5%;
}
.clock-diy{
	right: 5%;
	bottom: 45%;
	width: 25%;
	height: 41.6%;
}

ul{
	list-style-type: disc;
	margin: 1% 0%;
}
.list-wish{
	position: absolute;
	cursor: auto;
	width: 40%;
	left: 12%;
	bottom: 48%;
	text-align: left;
	padding: 2%;
	padding-left: 4%;
}

.hr-11-45{
	transform: rotate(-97.5deg);
}
.hr-1-15{
	transform: rotate(-52.5deg);
}
.hr-5-30{
	transform: rotate(75deg);
}
.correct-opt{
	background-color: #4CAF50;
	color: white;
}
.incorrect-opt{
	background-color: #D0553E;
	color: white;
}



.diary{
	position: absolute;
	top: 25%;
	left: 60%;
	width: 30%;
	height: 60%;
	z-index: 10;
	border-radius: 3vmin;
}
.diary-front{
	position: absolute;
	top: 0%;
	left: -2%;
	width: 102%;
	height: 100%;
	border-top-left-radius: 10% 8%;
	border-top-right-radius: 10% 8%;
	border-bottom-left-radius: 10% 8%;
	border-bottom-right-radius: 10% 8%;
	background: blue;
	z-index: 5;
}
.flipped-front{
	width: 104%;
	transform-origin: 0% 50%;
	transform: rotateY(180deg);
	z-index: 1;
}
.diary-mid{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	border-top-left-radius: 10% 8%;
	border-top-right-radius: 10% 8%;
	border-bottom-left-radius: 10% 8%;
	border-bottom-right-radius: 10% 8%;
	z-index: 4;
	transform-style: preserve-3d;
}
.flipped-mid{
	transform-origin: 0% 50%;
	transform: rotateY(180deg);
}
.diary-mid>*{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	border-top-left-radius: 10% 8%;
	border-top-right-radius: 10% 8%;
	border-bottom-left-radius: 10% 8%;
	border-bottom-right-radius: 10% 8%;
	background: #ccc;
	border: 1px solid black;
}
.diary-back{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	border-top-left-radius: 10% 8%;
	border-top-right-radius: 10% 8%;
	border-bottom-left-radius: 10% 8%;
	border-bottom-right-radius: 10% 8%;
	background: black;
	z-index: 2;
}
.diary-back>*{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	border-top-left-radius: 10% 8%;
	border-top-right-radius: 10% 8%;
	border-bottom-left-radius: 10% 8%;
	border-bottom-right-radius: 10% 8%;
	background: #ccc;
	border: 1px solid black;
}
.diary-back>div:first-child{
	position: absolute;
	top: 0%;
	left: 0%!important;
	width: 104.5%;
	height: 100%;
	border-top-left-radius: 10% 8%;
	border-top-right-radius: 10% 8%;
	border-bottom-left-radius: 10% 8%;
	border-bottom-right-radius: 10% 8%;
	background: black;
	border: 1px solid black;
}


.diary-display{
	position: absolute;
	top: 0%;
	left: -1.5%;
	width: 101.5%;
	height: 100%;
	border-top-left-radius: 10% 8%;
	border-top-right-radius: 10% 8%;
	border-bottom-left-radius: 10% 8%;
	border-bottom-right-radius: 10% 8%;
	background: #fff;
	border: 1px solid black;
	z-index: 3;
	overflow: hidden;
}

.diary-list{
	position: absolute;
	padding: 14% 5%;
	padding-left: 15%;
	width: 100%;
	height: 100%;
	text-align: left;
}

.flipped-front-anim{
	transform-origin: 0% 50%;
	animation: flipped-front-anim 2s linear both;
}

@keyframes
flipped-front-anim {
	0% {transform: rotateY(0deg); z-index: 5;}
	49% {transform: rotateY(-90deg); z-index: 5;}
	50% {transform: rotateY(-90deg); z-index: 1;}
	100% {width: 104%; transform: rotateY(-180deg); z-index: 1;}
}

.flipped-mid-anim{
	transform-origin: 0% 50%;
	animation: flipped-mid-anim 2s linear both;
}

@keyframes
flipped-mid-anim {
	100% { transform: rotateY(-180deg);}
}

.diary-intro{
	position: absolute;
	top: 25%;
	left: 60%;
	width: 30%;
	height: 60%;
}

.diary-mini{
	cursor: pointer;
	position: absolute;
	top: 10%;
	left: 5%;
	width: 5%;
	height: 10%;
}

.diaryopen{
	animation: diaryopen 1s linear both;
}
.diary-front-open-2{
	transform-origin: 0% 50%;
	animation: flipped-front-anim 2s linear 1.5s both;
}
.diary-mid-open-2{
	transform-origin: 0% 50%;
	animation: flipped-mid-anim 2s linear 1.5s both;
}
@keyframes
diaryopen {
	100% { left: 35%; top: 1%; width: 30%; height: 60%;}
}

.flipped-front-anim-close{
	transform-origin: 0% 50%;
	animation: flipped-front-anim-close 2s linear both;
}
@keyframes
flipped-front-anim-close {
	0% {width: 104%; transform: rotateY(-180deg); z-index: 1;}
	49% {transform: rotateY(-90deg); z-index: 1;}
	50% {transform: rotateY(-90deg); z-index: 5;}
	100% {transform: rotateY(0deg); z-index: 5;}
}
.flipped-mid-anim-close{
	transform-origin: 0% 50%;
	animation: flipped-mid-anim-close 2s linear both;
}

@keyframes
flipped-mid-anim-close {
	0% { transform: rotateY(-180deg);}
	100% { transform: rotateY(0deg);}
}

.diaryclose{
	animation: diaryclose 1s linear 2.5s both;
}
@keyframes
diaryclose {
	0% { left: 35%; top: 1%; width: 30%; height: 60%;}
}

.clickins{
	z-index: 20;
	bottom: 0%;
	left: 0%;
	width: 100%;
}
@media (min-aspect-ratio:4/3){
	.listblock ul{
		font-size: 3.7vh;
	}
}
@media (max-aspect-ratio:4/3){
	.listblock ul{
		font-size: 2vw;
	}
}
