

.boy{
	position: absolute;
}
.boy-1{
	height: 60%;
	left: 5%;
	bottom: 0%;
}
.boy-2{
	height: 60%;
	left: 15%;
	bottom: 0%;
}
.girl{
	position: absolute;
}
.girl-1{
	height: 60%;
	right: 45%;
	bottom: 0%;
}
.girl-2{
	height: 60%;
	left: 25%;
	bottom: 0%;
}
.girl-3{
	height: 60%;
	left: 10%;
	bottom: 0%;
}
.dg-1{
	cursor: pointer;
	bottom: 63%;
	left: 13%;
	width: 40%;
	font-family: sans;
}
.dg-2{
	cursor: pointer;
	bottom: 63%;
	left: 1%;
	width: 29%;
	font-family: sans;
}
.dg-3{
	cursor: pointer;
	bottom: 63%;
	left: 35%;
	width: 25%;
	font-family: sans;
}
.dg-4{
	cursor: pointer;
	bottom: 63%;
	left: 16%;
	width: 34%;
	font-family: sans;
}
.dg-5{
	cursor: pointer;
	bottom: 65%;
	left: 20%;
	width: 35%;
	font-family: sans;
}
.hl-hand{
	animation: hl-hand 1s linear infinite;
	-webkit-animation: hl-hand 1s linear infinite;
}
@-webkit-keyframes
hl-hand {
	50% {background-color: #00339D;}
}
@keyframes
hl-hand {
	50% {background-color: #00339D;}
}
.hl-numbers{
	animation: hl-numbers 1s linear infinite;
	-webkit-animation: hl-numbers 1s linear infinite;
}
@-webkit-keyframes
hl-numbers {
	0% {filter: brightness(0%);}
	40% {filter: brightness(100%);}
	60% {filter: brightness(100%);}
	100% {filter: brightness(0%);}
}
@keyframes
hl-numbers {
	0% {filter: brightness(0%);}
	40% {filter: brightness(100%);}
	60% {filter: brightness(100%);}
	100% {filter: brightness(0%);}
}


.hr-anim-1{
	transform: rotate(-240deg);
	animation: hr-anim-1 6s linear both;
}
@keyframes
hr-anim-1 {
	100% {transform: rotate(-60deg);}
}

.min-anim-1{
	transform: full-rotate(-90deg);
	animation: full-rotate 1s linear 6 both;
}
@keyframes
full-rotate {
	100% {transform: rotate(270deg);}
}

.hl-dot-8{
	transform: rotate(150deg);
	background: #0f0;
	/* animation: hl-hl 1s linear infinite; */
}
.hl-dot-11{
	transform: rotate(-120deg);
	animation: hl-hl 1s linear infinite;
}
@keyframes
hl-hl {
	0% {background-color: #00CADC;}
	50% {background-color: #1491F4;}
	100% {background-color: #00CADC;}
}

.hl-min-9{
	transform: rotate(180deg);
	animation: hl-hl-2 1s linear infinite;
}
@keyframes
hl-hl-2 {
	0% {background-color: #F0DAF0;}
	50% {background-color: #D4E4A7;}
	100% {background-color: #F0DAF0;}
}
.hr-6-45{
	transform: rotate(112.5deg);
}
.hr-7-45{
	transform: rotate(142.5deg);
}
.hr-11-45{
	transform: rotate(-97.5deg);
}
.hr-10-45{
	transform: rotate(-127.5deg);
}



/*---------- diy portion ---------------------*/

.instruction-text{
	position: absolute;
	left: 0%;
	text-align: center;
	top: 4%;
	width: 100%;
}

.draggableblock{
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0%;
	padding: 2%;
}

.dragclass{
	cursor: grab;
	cursor: hand;
	position: absolute;
	display: inline-block;
	width: 20%;
	height: 95%;
	bottom: 5%;
	margin: 1% 0%;
}
.pos-1{
	left: 2.5%;
}
.pos-2{
	left: 27.5%;
}
.pos-3{
	left: 52.5%;
}
.pos-4{
	left: 77.5%;
}
.dragclass:not(.dropped):hover{
	filter: drop-shadow(0px 0px 2px white);
}
.dragclass>img{
	position: absolute;
	width: 100%;
	left: 0%;
	bottom: 0%;
}
.dragclass>p{
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;
	top: 70%;
	transform: translateY(-50%);
	font-weight: bold;
}

.droppableblock{
	position: absolute;
	top: 7%;
	width: 100%;
	padding: 2%;
	height: 50%;
}

.dropclass{
	position: relative;
	display: inline-block;
	width: 20%;
	height: 100%;
	margin: 1% 2%;
}
.dropclass>div{
	position: absolute;
	width: 70%;
	height: 50%;
	left: 15%;
	top: 5%;
}
.dropclass>img{
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
}

.hr-1-15{
	transform: rotate(-52.5deg);
}
.hr-4-15{
	transform: rotate(37.5deg);
}

.hr-11-15{
	transform: rotate(-112.5deg);
}
.hr-8-15{
	transform: rotate(157.5deg);
}

.hr-11-45{
	transform: rotate(-97.5deg);
}
.hr-1-45{
	transform: rotate(-37.5deg);
}

#clock_svg_container{
	position: absolute;
	top: 20%;
	left: 60%;
	height: 58%;
	width: 35%;
	z-index: 1;
}
#Layer_1{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}

.circle_correct, .circle_incorrect{
	display: block !important;
}
.circle_correct{
	fill: #0f0;
}
.circle_incorrect{
	fill: #f00;
}
.optioncontainer{
	position: absolute;
	top: 39%;
	left: 23.5%;
	height: 25%;
	width: 32%;
}
.optionclass{
	/* position: relative; */
	width: 89%;
	height: 50%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}
.cirincor{
	position: absolute;
	width: 13%;
	left: 100%;
	top: 10%;
	display: none;
}
.opn_txt{
	position: relative;
	background: #7b74d4;
	border: 4px solid #7b74d4;
	border-radius: 1em;
	color: #fff;
	font-size: 4.5vh;
}
.opn_txt:hover{
	background:  #f6b26b;
	border: 4px solid #e69138;
	cursor: pointer;
	color: #000;
}

.correct{
	fill:#98c02e;
	background:#98c02e;
	border: 4px solid #ff0;
	pointer-events: none;
}
.incorrect{
	fill: #ff0000;
	background:  #ff0000;
	border: 4px solid #980000;
	pointer-events: none;
}
