.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position: relative;
    margin: 0;
    padding: 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
  background: #F8EEE6;
}

div.textblock {
	position: relative;
}

div.imageblock {
	position: absolute;
	top: 39%;
	right: 5%;
	height: 55%;
	width: 40%;
}

.display_image {
	display: flex;
    align-items: center;
    justify-content: center;
}

.hint_image{
	display: none;
	min-height: 45%;
	max-width: 80%;
	max-height: 80%;
}

/*-------------- For Loading ---------------*/

#loading-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #222;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 3vmin;
}

#loading-content {
    display: block;
    position: absolute;
    left: 40%;
    top: 33.35%;
    width: 20%;
    height: 33.3%;
    transform: translate(-50%, -50%);
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/*============ exercise template ===================
==================================================== */

.contentblock {
	font-family: abeezee;
}

.exefin{
  z-index: 5;
}

.question {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  text-align: left;
  font-size: 5vw;
  background: #8EE3DF;
  padding: 2% 15% 2% 2%;
}

@media(min-aspect-ratio:4/3){
	.question{
		font-size: 4.5vh;
	}
}

.ex-number-template-score {
  position: absolute !important;
  z-index: 100 !important;
  top: 0%;
  right: 0%;
  padding: 2% 1% !important;
  background-color: rgb(251,171,24);
  color: #535353;
  font-family: abeezee;
  font-weight: bold;
  font-size: 5vw;
  border-radius: 0;
  width: 15%;
  text-align: center;
}

@media(min-aspect-ratio:4/3){
	.ex-number-template-score{
		font-size: 4.5vh;
	}
}

.sentence {
  position: relative;
  top: 0%;
  width: 100%;
  font-size: 5vw;
  text-align: center;
  background: #E4B3B2;
  padding: 2%;
}

@media(min-aspect-ratio:4/3){
	.sentence{
		font-size: 4.5vh;
	}
}

.optionsdiv {
  top: 11%;
  display: flex;
  width: 40%;
  left: 31%;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  height: 65%;
  text-align: left;
  position: relative;
}

.twoonly {
  height: 81%;
  top: 2%;
  width: 91%;
  left: 10%;
}

.tfonly {
  height: 29%;
  top: 23%;
  width: 25%;
  left: 63%;
}

.optionscontainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  min-width: 100%;
}

.imagestartpos {
  width: 3em;
  margin-left: 1%;
  display: none;
}

.optionsdiv p {
  display: inline;
  padding: 3%;
  background: #5772E6;
  border-radius: 15px;
  margin: 1%;
  font-size: 4vh;
  border: 5px solid #5772E6;
  font-family: patrick;
  width: 84%;
  text-align: center;
  color: white;
}
.forhover:hover {
  cursor: pointer;
    background: #F6B26B;
    border: 5px solid #E69138;
    color: black;
}

.middleimg{
  position: absolute;
	transform: translate(-50%,-50%);
  width: 45%;
  top: 60%;
  left: 50%;
}

.sideimg {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 50%;
  top: 62%;
  left: 25%;
}

[class*="cusimg"] {
	position: absolute;
	transform: translate(-50%,-50%);
  width: 20%;
}

.cusimg-1 {
  top: 80%;
  left: 35%;
}

.cusimg-2 {
  top: 47%;
  left: 16%;
}

.cusimg-3 {
  top: 47%;
  left: 82%;
}

.cusimg-4 {
  top: 79%;
  left: 63%;
}

.cusimg-5 {
  top: 43%;
  left: 50%;
}

.imghover{
  cursor: pointer;
  transition-duration: 0.5s;
}

.imghover:hover{
  transform: translate(-50%,-50%) scale(1.1);
}

[class*="inpbig"] {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 69%;
  font-size: 2.5vw;
  width: 25%;
}

.inpbig-mid {
  left: 75%;
  top: 50%;
}

input {
  width: 80%;
  text-align: center;
  color: black;
  border: 0.1em solid #666666;
  background: white;
  border-radius: 0.5em;
	text-transform: uppercase;
}

.sbmtbtn{
  position: absolute;
  bottom: 3%;
  right: 25%;
  width: 20%;
  font-family: sniglet;
  background: #3C78D8;
  font-size: 3.1vw;
  border: 0.15em solid #4770B0;
  border-radius: 0.5em;
	color: white;
}

.trybtn{
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 20%;
  font-family: sniglet;
  background: #FC5C9C;
  font-size: 3.1vw;
  border: 0.15em solid #FF93C2;
  border-radius: 0.5em;
	color: white;
}

.smbthov:hover, .trybtn:hover{
  cursor: pointer;
  background: #CFE2F3;
  border: 0.15em solid #76ACDD;
	color: black;
}

@media(min-aspect-ratio:4/3){
	.sbmtbtn, .trybtn{
		font-size: 4.7vh;
	}
}

.corrbox{
	background: #98C02E;
	border: 0.1em solid #DEEF3C;
	color: white;
}

.incorrbox{
	background: #FF0000;
	border: 0.1em solid #980000;
	color: white;
}

.quadcont2 {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 45%;
  top: 33%;
  z-index: 20;
  height: 45%;
}

svg {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: 100;
}

[class*="inpbox"] {
  transform: translate(-50%,-50%);
  position: absolute;
  font-size: 2.5vw;
  width: 10%;
  z-index: 9;
}

.inpbox-1 {
  top: 33%;
  left: 8%;
}

.inpbox-2 {
  top: 33%;
  left: 42%;
}

.inpbox-3 {
  top: 89%;
  left: 39%;
}

.inpbox-4 {
  top: 89%;
  left: 12%;
}

.inpbox-6 {
  top: 38%;
  left: 85%;
  width: 21%;
}

.inpbox-7 {
  top: 48%;
  left: 85%;
  width: 21%;
}

.inpbox-8 {
  top: 58%;
  left: 85%;
  width: 21%;
}

.inpbox-9 {
  top: 68%;
  left: 85%;
  width: 21%;
}

@media(min-aspect-ratio:4/3){
	[class*="inpbox"] {
		font-size: 3.5vh;
	}
}

[class*="angimg"] {
  transform: translate(-50%,-50%);
  position: absolute;
  height: 7%;
  left: 70%;
}

.angimg-1{
  top: 38%;
}

.angimg-2{
  top: 48%;
}

.angimg-3{
  top: 58%;
}

.angimg-4{
  top: 68%;
}

.correctmark {
  transform: translate(-50%,-50%);
  position: absolute;
  height: 12%;
  left: 84%;
  top: 55%;
  display: none;
}

.incorrectmark {
  transform: translate(-50%,-50%);
  position: absolute;
  height: 12%;
  left: 84%;
  top: 55%;
  display: none;
}
@media (min-aspect-ratio:4/3){
  .optionsdiv p{
    font-size: 3vh;
  }
}
@media (max-aspect-ratio:4/3){
  .optionsdiv p{
    font-size: 2vw;
  }
}
