lolo.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
	background:#fff;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	/*display: none;*/
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	/*background: #FFFBC7;*/
	padding:2% 10px 10px;
	/*padding-top: 3%;*/
/*	background:rgba(0, 0, 0, 0) -moz-linear-gradient(left center , #82dce1 0%, #ffffff 10%, #ffffff 90%, #82dce1 100%) repeat scroll 0 0*/
}

.wrapperIntro.firstPage .text0 {
	background: #ff595b none repeat scroll 0 0;
    color: #fff;
    font-size: 2.3em;
    margin-top: 7%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    width: 100%;
	display:none;

}


 .wrapperIntro.firstPage{

	background:url("../activity/math_rational_02/image/page2/clouds.jpg");
}


.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/


}

.wrapperIntro.firstPage .ind2{


}

.wrapperIntro.firstPage .text1 {

	color: #ffffff;
    font-size: 1.8em;
    left: 15%;
    margin-top: 1%;
    opacity: 0;
    padding: 4%;
    text-align: center;
    width: 70%;

}

.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}

.wrapperIntro.firstPage .text2{
	font-size: 1.3em;
	display:none;
}

.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}


.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	background:linear-gradient(to bottom, #5c3548 0%, #2f1f3a 100%);
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

/*
.wrapperIntro.second .text0 {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
}

.wrapperIntro.second .text0:after {
	position: absolute;
	width: 25%;
	height: 1px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.second .text1 {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
}

.wrapperIntro.second .text1:after {
	position: absolute;
	width: 50%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}
*/
.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1.3em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0 ,
.wrapperIntro.baseAndIndices2 .text1 {
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform : rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform : rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform : rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform : rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5{
	color:#538cdb;
}


/*added by manish*/


.wrapperIntro.second .text2,
.wrapperIntro.second .text3,

.wrapperIntro.second .text5,
.wrapperIntro.second .text6,

.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12{
	/*font-size: 1em;*/
	display: none;
}

.wrapperIntro.second .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}




.wrapperIntro.second .yellow {
    color: #F2C249;
}


.wrapperIntro.second .green {
    color: #00AAA0;
}

.wrapperIntro.second .imageholder01{
	display:none;
}

.wrapperIntro.second .imageholder02{
	display:none;
}

#fun_1 > img{
	width:54%;
}

#ball_1 {
    background: #F2C249;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%;/*24%;*/
	top: 0;
}


#ball_2 {
    background: #C25B56;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
}

#ball_3{
    background: #00AAA0;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%; /*24%;*/
	top: 0;
}

.img-des1 {
    display: inline-flex;
    width: 100%;
}

.imageholder01{
	width:40%;
}

.image1des {
    float: right;
    padding-top: 60px;
    width: 60%;
}



.img-des2 {
    display: inline-flex;
    width: 100%;
}

.imageholder02{
	width:40%;
}

.image2des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

/*first figure pachi ko styling*/

.des2 {
    margin-left: 151px;
}
.des3 {
    margin-left: 151px;
}

.des6 {
    margin-left: 151px;
}
.des7 {
    margin-left: 151px;
}
/********************third page****************/

.wrapperIntro.third .ind2{
	color: #996699 ;
}

.wrapperIntro.third .imageholder03{
	display:none;
}

#fullname{
	color:#cece00;
	position:absolute;
	top:0;
	left:14%; /*4%;*/
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname{
	color:#538cdb;
	position:absolute;
	left:13%;
}

.imageholder01{
	position:relative;
}


.wrapperIntro.third .text1{
	display:none;
}

.wrapperIntro.third .text2{
	display:none;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des3 {
    display: inline-flex;
    width: 100%;
}

.imageholder03{
	width:40%;
}

.image3des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.des10{
	margin-left:9.55%;
}

.des11{
	margin-left:9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des4 {
    display: inline-flex;
    width: 100%;
}

.imageholder04{
	width:40%;
}

.image4des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.wrapperIntro.third .imageholder04{
	display:none;
}

#fullname01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:7%;/*13%; */
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname01{
	color:#538cdb;
	position:absolute;
	left:13%;
}

/*page4*/

.wrapperIntro.fourth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fourth .imageholder05{
	display:none;
}

.wrapperIntro.fourth .imageholder06{
	display:none;
}

.wrapperIntro.fourth .text1{
	display:none;
}

.wrapperIntro.fourth .text2{
	display:none;
}



.img-des5 {
    display: inline-flex;
    width: 100%;
}

.imageholder05{
	width:40%;
}

.image5des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output01{
	color:#c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 17%;
    padding: 10px;
    position: absolute;
    top: 61%;
}



.img-des6 {
    display: inline-flex;
    width: 100%;
}

.imageholder06{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input02{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output02{
	color:#c25b56;
	position:absolute;
	left:21%;
}
 /*******end of page 4*************/



 /****page5*************/



 .wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fifth .imageholder07{
	display:none;
}

.wrapperIntro.fifth .imageholder08{
	display:none;
}

.wrapperIntro.fifth .text1{
	display:none;
}

.wrapperIntro.fifth .text2{
	display:none;
}



.img-des7 {
    display: inline-flex;
    width: 100%;
}

.imageholder07{
	width:40%;
}

.image7des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input03{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output03{
	color:#C25B56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    width: 15%;
    position: absolute;
    top: 57%;
	text-align:center;
	font-style:bold;
}



.img-des8 {
    display: inline-flex;
    width: 100%;
}

.imageholder08{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input04{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output04{
	color:#C25B56;
	position:absolute;
	left:21%;
}


 /******end of page5********/

 /*added by manish*/


.wrapperIntro.firstPage .text2 {

	color: #777777;
    font-size: 2em;
    text-align: center;
    top: 61%;
    width: 100%;
    z-index: 100;

}


.wrapperIntro.firstPage .text3{

	color: #777777;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    top: 49%;
    width: 100%;
    z-index: 100;


}

.wrapperIntro.firstPage .text4 {


	color: #777777;
    font-size: 2em;
    text-align: center;
    top: 61%;
    width: 100%;
    z-index: 100;


}


.wrapperIntro.firstPage .text5 {

	color: #777777;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    top: 44%;
    width: 100%;
    z-index: 100;

}




.wrapperIntro.firstPage .text7{
	padding-top:40px;
}


.image8des {
    margin-top: 100px;
}
 /*added by sangina*/




.wrapperIntro.third .ind5{
	color:#0CF;
}



.wrapperIntro.fourth .text1{

	display:none;
	margin-left:4%;
	font-size:1.3em;
	color:#5c5c5c;

	}

.wrapperIntro.fourth .text2{

	display:none;
	margin-left:4%;
	font-size:1.3em;

}



/*added by manish*/

.f3_1,
.f3_2,
.f3_3,
.f3_4,
.f3_5
 {
    display: none;
    width: 100%;
}

.f3_6{
	display:none;
}

.img2 {
    width: 8%;
}

.img2 > img {
    width: 100%;
}


.img1 {
    width: 7%;
	float:right;
}

.img1 > img {
    width: 100%;
}



#p2_11 ,
#p2_12,
#p2_15,
#p2_16,
#p2_17
{
    margin:	auto;
    width: 79%;
	/*background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;*/
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
	width:80%;
	padding-bottom:8px;
	padding-top:8px;
	padding-left:20px;
	color:#224994;
	box-shadow:1px 2px 5px 0px rgba(0,0,0,0.75);



}


.highlight {


    margin-left: 10px;
    color:#996699;
	margin-right:10px;
}

.f3_6 {
    background: #eaeaea none repeat scroll 0 0;
	border:2px solid #000;
    margin: 2% auto 0;
    padding: 1%;
    text-align: center;
    width: 76%;
}

.wrapperIntro.fourth .text1

{

	 clear: both;
    margin-bottom: 2%;
    margin-left: 4%;

}




.wrapperIntro.fourth .text0{
	background: #ff595b none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 1.6em;
    margin-bottom: 2%;
    padding: 1.3% 4%;

}



.wrapperIntro.fourth .text3,
.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text6
{
	margin-left: 8%;
}



.wrapperIntro.fourth .text10,
.wrapperIntro.fourth .text11{

	bottom: -4%;
    font-size: 1.3em;
    text-align: center;
}

.main-bg .img-responsive{
	left: 19%;
    margin-top: 9%;
    position: absolute;
    width: 55%;
}
.bg-img{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#p2_11,
#p2_15,
#p2_17{

	border:3px solid #2ec3ed;
}

#p2_12,
#p2_16{
	border:3px solid #B8D73D;
}


.wrapperIntro.fourth .text9{

	background: #ffd350 none repeat scroll 0 0;
    color: #696969;
    margin-left: 3%;
    padding: 1% 2%;
    text-align: justify;
    width: 76%;
	margin-top:	6%;
}

.wrapperIntro.second .main-bg .img-responsive{

	margin-left:24px !important;

}

.slideRight{

	animation-duration:1s !important;

}


.solution {
    background: #e7e7e7 none repeat scroll 0 0;
    height: 63%;
    position: absolute;
    top: 22%;
    width: 80%;
}


.char-holder{
	width:100%;
	display:inline-flex;
}

.char-a{
	margin-left:24%;
	width:32%
}

.char-b{
	width:32%;
}


.slideRight {
    animation-duration: 0.5s !important;

}

.slideLeft {
    animation-duration: 0.5s !important;

}


.row.char-holder {
    position: absolute;
    top: 40%;
}

.bubble1{
	display:none;
	position:absolute;
	top:20%
}

.bubble2{
	display:none;
	position:absolute;
	top:20%
}

.wrapperIntro.third .text0

{


}

.wrapperIntro.third .bubble3{
	display:none;
}

.bubble1::before {
   border-color: #2ec3ed transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
}

.bubble1 {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #2ec3ed;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 21%;
    position: absolute;
    top: 26%;
	width:98%;

}




.bubble2::before {
    border-color: #b8d73d transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
}

.bubble2 {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #b8d73d;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 21%;
    padding: 15px;
    position: absolute;
    top: 25%;
    width: 98%;
}

.wrapperIntro.third .char-holder{

	position: absolute;
    margin-top: 10%;

}



.wrapperIntro.third .char-b {

    position: absolute;
}

.wrapperIntro.third .squirrel-listening01{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.third .Squirrel-Thinking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.third .squirrel-talking01{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.third .boy-talking01
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.third .boy-listening01{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}






.wrapperIntro.third .squirrel-listening02{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.third .Squirrel-Thinking02,

{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.third .squirrel-talking02{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.third .boy-talking02
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.third .boy-listening02{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}





.wrapperIntro.third .squirrel-listening03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.third .Squirrel-Thinking03,
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.third .squirrel-talking03{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.third .boy-talking03
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.third .boy-listening03
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}




.text7.slideLeft {
    margin-left: -23%;
}


.text3.slideLeft {
    bottom: -12%;
}





.wrapperIntro.fourth .solution00,
.wrapperIntro.fourth .solution01,
.wrapperIntro.fourth .solution02,
.wrapperIntro.fourth .solution03,
.wrapperIntro.fourth .solution04,
.wrapperIntro.fourth .solution05,
.wrapperIntro.fourth .solution06,
.wrapperIntro.fourth .solution07,
.wrapperIntro.fourth .solution08,
.wrapperIntro.fourth .solution09,
.wrapperIntro.fourth .solution10

{

	display:none;
	font-size:1.3em;
	color:#5c5c5c;
	line-height:1.75em;

}


.wrapperIntro.fourth .text2 {
    color: #fea200;
    margin-bottom: 1%;
    margin-left: 4%;

}

.wrapperIntro.fourth .text3 {
    height: 69%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 2.5%;
    width: 77%;
}

.wrapperIntro.fourth .solution04 {
    color: #8827d6;
}

.wrapperIntro.fourth .solution05,
.wrapperIntro.fourth .solution06{
    margin-left: 21.65%;
}

.wrapperIntro.fourth .solution07 {
    background: #ffd350 none repeat scroll 0 0;
    margin-top: 2% !important;
    padding: 1.5%;
}

.wrapperIntro.fourth .text4{

	background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1.3em;
    margin-left: 30%;
    margin-top: -10%;
    padding: 1%;
    text-align: center;
    width: 31%;
}


.wrapperIntro.third .text1,
.wrapperIntro.third .text2,

.wrapperIntro.third .text4,
.wrapperIntro.third .text5,
.wrapperIntro.third .text6,


.wrapperIntro.third .text9,
.wrapperIntro.third .text10,
.wrapperIntro.third .text11,
.wrapperIntro.third .text12,
.wrapperIntro.third .text13,
.wrapperIntro.third .text14,
.wrapperIntro.third .text15,
.wrapperIntro.third .text16,
.wrapperIntro.third .text17

{

	display:none;

}

.wrapperIntro.second .text0 {

    color: #feeb52;
    font-size: 1.6em;
    margin-bottom: 2%;
    padding: 1.3% 4%;
    text-align: center;

}

.wrapperIntro.second .text1 {

	color: #ffffff;
    font-size: 1.8em;
    left: 15%;
    margin-top: 1%;
    opacity: 0;

    text-align: center;
    width: 70%;
		z-index: 1;
}


.wrapperIntro.second .solution00

{

	display:none;
	color: #5c5c5c;
    clear:both;


}


.wrapperIntro.second .solution02{

	display:none;
	color: #5c5c5c;
}

.wrapperIntro.second .solution01 {

	background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    padding: 1%;
    text-align: center;
    width: 76%;
}



.wrapperIntro.second .solution03{

	background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    padding: 1%;
    text-align: center;
    width: 76%;


}

.wrapperIntro.second .text3 {
    background: #ff595b none repeat scroll 0 0;
    color: #ffffff;

    float: left;
    font-size: 1.6em;
    margin-bottom: 2%;
    padding: 1.3% 4%;
}

.wrapperIntro.second .text4 {

	clear: both;
    color: #5c5c5c;
    font-size: 1.3em;
    height: 28%;
    line-height: 1.75em;
    padding: 1.5% 2.5%;
    width: 45%;
	margin:0 auto;
	margin-bottom:2% !important;
	display:none;

}

.wrapperIntro.second .text7 {

	display:none;
}

.wrapperIntro.second .solution02,
.wrapperIntro.second .solution03,
.wrapperIntro.second .solution04,
.wrapperIntro.third .solution05,
.wrapperIntro.third .solution06,
.wrapperIntro.third .solution07,
.wrapperIntro.third .solution08,
.wrapperIntro.third .solution09,
.wrapperIntro.third .solution10,
.wrapperIntro.third .solution11,
.wrapperIntro.third .solution12,
.wrapperIntro.third .solution13
{

	display:none;
}

.wrapperIntro.second .text6 {
    background: #ff595b none repeat scroll 0 0;
    color: #ffffff;

    float: left;
    font-size: 1.6em;
    margin-bottom: 2%;
    padding: 1.3% 4%;
}


.wrapperIntro.second .text7 {
    clear: both;
    color: #5c5c5c;
    font-size: 1.3em;
    height: 28%;
    line-height: 1.75em;
    margin-bottom: 2% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 1.5% 2.5%;
    width: 45%;
}

.wrapperIntro.second .solution04 {
    color: #5c5c5c;
    display: none;
}

.wrapperIntro.second .solution05 {

}


.wrapperIntro.second .text9 {
    background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1.3em;
    padding: 1%;
    text-align: center;
    width: 67%;
	margin:0 auto;
}


.wrapperIntro.second .text9 .red{

	color:#ff595b;

}

.wrapperIntro.third .text0 {
    background: #ff595b none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2.3em;
    margin-top: 7%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    width: 100%;
}


.wrapperIntro.third .text1 {
    color: #5c5c5c;
    font-size: 1.8em;
    margin-top: 1%;

    padding: 4%;
    text-align: center;
}

.wrapperIntro.third .text2 {
    background: #ff595b none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 1.6em;
    margin-bottom: 2%;
    padding: 1.3% 4%;
}


.wrapperIntro.third .text3 {

	clear: both;
    color: #5c5c5c;
    font-size: 1.3em;
    height: 41%;
    line-height: 2em;
    margin-bottom: 2% !important;
    margin-left: 4%;
    margin-right: auto;
    margin-top: 0;
    padding: 1.5% 2.5%;
    width: 75%;

}



.wrapperIntro.third .solution06 {

}

.wrapperIntro.third .solution07 {

      background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1em;
    padding: 1%;
    text-align: left;
    width: 73%;
}


.wrapperIntro.third .text7 {
    background: #ff595b none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    font-size: 1.6em;
    margin-bottom: 2%;
    padding: 1.3% 4%;
	display:none;
}

.wrapperIntro.third .text8 {
    clear: both;
    color: #5c5c5c;
    font-size: 1.3em;
    height: 32%;
    line-height: 2em;
    margin-bottom: 2% !important;
    margin-left: 4%;
    margin-right: auto;
    margin-top: 0;
    padding: 1.5% 2.5%;
    width: 75%;
}




.wrapperIntro.third .solution12 .blue{

	color:#2ec3ed;


}

.wrapperIntro.third .text9 {

	background: #ffe38f none repeat scroll 0 0;
    border: 3px solid #ffc211;
    color: #8484e1;
    display: none;
    font-size: 1.3em;
    margin-left: 6.45%;
    padding: 1%;
    text-align: left;
    width: 29%;
}



/*added for fraction part*/
.fm-inline {
    font-family: arial;
    font-size: 1.3em;
    margin-right: 0.2em;
}

.main-bg1 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bigcloud {
    text-align: center;
    top: 41%;
	display:none;
}

.cloud1 {
    width: 43%;
}

.smallcloud{

	display:none;
}

/*slide Up*/


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 5s !important;
	-webkit-animation-duration: 5s !important;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}



/*slideup end*/


.smallcloud {
    position: absolute;
    top: 31%;
	display:none;
}

.smallcloud2 {

	display: none;
    position: absolute;
    right: 0;
    top: 31%;
}


.cloud2 {
    left: 20%;
    width: 52%;
}

.cloud3 {
    right: 20%;
    width: 52%;
}

.wrapperIntro.firstPage .text6 {
	color: #777;
	left: 7.5%;
	position: absolute;
	top: 33.5%;
	z-index: 100;
	font-size: 1.5em;
}

.wrapperIntro.firstPage .text7 {


	color: #777777;
    font-size: 1.5em;
    position: absolute;
    right: 14.5%;
    top: 27.5%;
    z-index: 100;


}

.wrapperIntro.firstPage .text8 {
    color: #777777;
    font-size: 2em;
    text-align: center;
    top: 55%;
    width: 100%;
    z-index: 100;
}

.wrapperIntro.firstPage .text9 {
    color: #777777;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    top: 52%;
    width: 100%;
    z-index: 100;
}

.para {

    display: none;
    left: 15%;
    position: absolute;
    top: 97%;
    width: 50%;


}


.wrapperIntro.second .text2 {

	/*background: #ffffff none repeat scroll 0 0;
    border: 3px solid #febd58;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;*/
    color: #979797;
    display: none;
    font-size: 1.2em;
    height: 39%;
    left: 15%;
    line-height: 1.3em;
    padding: 1%;
    text-align: center;
    top: 107%;
    width: 70%;
	z-index:100;

}

.wrapperIntro.second .solution05 {
    color: #008aec;
    font-size: 1.3em;
    padding-bottom: 2%;
    padding-top: 2%;
}

.fm-inline {
    color: #777777;
    font-size: 1.4em;
}


.wrapperIntro.second .text3 {

	background: #ffffff none repeat scroll 0 0;
    color: #979797;
    display: none;
    font-size: 1.2em;
    height: 39%;
    left: 16%;
    line-height: 2.3em;
    padding: 2% 1% 1%;
    text-align: center;
    top: 109%;
    width: 69%;
    z-index: 100;

}

.parasuit {
    width: 142%;
}
.solution01 span, .solution03 span, .solution05 span{
	margin-top: 4%;
}
