.background
{
/*	background-color: rgba(0, 0, 0, 0.6);*/
    height: 100%;
    width:100%;
}
.bg{
	height: 100%;
  	position: relative;
  	overflow: hidden;
  	font-size: 1.3em;
  	/*background: url("../image/bg.png") ; */
	background: url("../image/new-bg.jpg") ;  
  	-moz-background-size: cover;  
  	background-size: cover;
	border-style: solid;
	border-width: 7px ;
	border-color: black ;
}

#element_1,#element_2,#element_3,#element_4,#element_5,#element_6
{
	x display:none;
	 
	background: #8dbb4c none repeat scroll 0 0;
    border-radius: 5px;
    color: #333333;
	
}

.header_question{
	margin-top:3%;
}

.header_content{
	text-align:center;
}
.needandwants{
	margin-top:1%;
}
.Needs_Wants {
    display: inline-flex;
    text-align: center;
}
.needs
{
	background: url("../exercise_images/box01.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    height: 53%;
    opacity: 0.9;
    overflow: hidden;
    position: relative;
    width: 33%;
    margin: 0 102px;
}
.wants
{
	background: url("../exercise_images/box02.png") repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    height: 53%;
    opacity: 0.9;
    overflow: hidden;
    position: relative;
    width: 33%;
}
.cardpile:hover
{
	cursor:pointer;
}

.title
{
	/*background-color : #7089B3;*/
	height: 12%;
}

.main_title
{
	text-align: center;
    color: #7089b3;
}


.needandwants {
    position: relative;
    top: 22%;
    width: 100%;
}


.cardPile {
   
    margin-right: 4%;
    padding: 2%;
    width: 12%;
}

.Needs_Wants {
    display: inline-flex;
    margin: 0 auto;
    text-align: center;
    width: 88%;
}