.activity_container {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
    	position          : relative;	
    	top               : 45%;
    	left              : 50%;
    	transform         : translate(-50%, -50%);
    	-moz-transform    : translate(-50%, -50%);
    	-webkit-transform : translate(-50%, -50%);
    	text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/
        
        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }
        
    /*=====  End of HeaderBlock  ======*/
    
    /*====================================
    =            ContentBlock            =
    ====================================*/
        
        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 0%;
            height : 100%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        } 

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/
        
        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238); 
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow    : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow         : inset 0px 1px 1px 0px rgba(255,255,255,.4);
    
            -webkit-border-radius : 4px;
            -moz-border-radius    : 4px;
            border-radius         : 7px;
        
            background-image : -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }
        
    /*=====  End of InstructionBlock  ======*/
        
        
    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
           
            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;
            
            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        .swipebackgroundstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        .swipebackgroundstyle:after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;
            
            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        .swipebackgroundstyle:before{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;
            
            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        .royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        .orangehighlight{
            color : rgb(197,6,6);
        }

        .textalignleft{
            text-align: left;
        }

    /*=====  End of Text Block  ======*/
    
    /*=====================================
    =            svg block                =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer > svg{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

    /*=====  End of svg block  ======*/

    /*===================================
    =            Image Block            =
    ===================================*/
    
        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{ 
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;          
            width    : 40%;
        }   

        div.imageblock label{
           position : absolute;
        } 

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }    

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+3){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }        
    /*=====  End of Image Block  ======*/

/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/
    div.imageblock.imagecountrysidedriving{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
        margin   : 0 0;
        /*border   : 1px solid red;*/
    }

    div.imageblock.imagecountrysidedriving img{
        position : relative;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    p.velocitytextstyle{
        position : absolute;
        top:40%;
    }

    p.pinkheadingoverride{
        position: relative;
        margin-top: 3%;
        color : #F13476;
        background-color: transparent;
        font-size: 2em;
    }

    div.contentblock.coverboardbg1{
        background-image: url("../images/page1/bluecarbg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    div.contentblock.coverboardbg2{
        background-image: url("../images/page1/bg2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    div.textblock.positionabsolute{
        position: absolute;
        bottom : 60%;
        left : 8%;
        width: 85%;
    }

    p.simpleparatextstyle{
        font-size: 1.3em;
    }

    p.simpleparatextstyle.simpletextstylemargintop{
        margin-top: 10%;
    }

    p.simpleparatextstyle span{
        color : #EA016A;
    }

    p.bottomparatextstyle{
        display          : table;
        margin           : 0 auto;
        position         : relative;
        bottom           : 0%;
        left             : 0%;
        padding          : 2% 3%;
        font-size        : 1.2em;
        text-align       : left;
        color            : black;
        background-color : rgb(198, 234, 248);

        -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    }

    div.carcontainer{
        position : absolute;
        bottom   : 13%;
        width    : 100%;
        height   : 30%;
    }

    img.bluecar{
        position : absolute;
        bottom   : 0%;
        left     : 0%;
        width    : 20%;
        cursor   : pointer;

        -webkit-transition : left 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition : left 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    /*misc block*/
        div.miscblock{
            position : absolute;
            top:0;
            left:0;
            width : 100%;
            height: 100%;
            /*border : 1px solid red;*/
        }

        div.miscblock strong{
            position : absolute;
            font-size: 3em;
            font-weight: bolder;
            letter-spacing: 0.1em;
            color: #fff;
            text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        }

        @-webkit-keyframes velocitytextanim {
            0% { 
                    top : -20%%;
                    left : 0%;
            }

            50% { 
                    top : 32%;
                    left : 0%;
            }

            100% { 
                    top : 32%;
                    left : 2%;
            }
        }

        @keyframes velocitytextanim {
            0% { 
                    top : -20%;
                    left : 0%;
            }

            50% { 
                    top : 32%;
                    left : 0%;
            }

            100% { 
                    top : 32%;
                    left : 2%;
            }
        }

        div.miscblock strong:nth-of-type(1){
            bottom: 100%;
            left: 0%; 
            width: 37%;

            -webkit-animation : velocitytextanim 1.5s cubic-bezier(1,0,.04,1.92) 1 forwards;
            animation         : velocitytextanim 1.5s cubic-bezier(1,-0.63,.04,1.92) 1 forwards;
        }

        @-webkit-keyframes opacityanim {
            to {
                bottom : 45%;
            }
        }

        @keyframes opacityanim {
            0% {
                bottom : 100%;
                transform: rotate(0deg);
            }

            85%{
                bottom : 43%;
                transform: rotate(0deg);
            }

            100%{
                bottom : 43%;
                transform: rotate(25deg);
            }
        }

        div.miscblock strong:nth-of-type(2){
            bottom: 100%;
            left: 39%;
            font-size: 6em;

            -webkit-animation : opacityanim 1.5s ease-out 1 forwards;
            animation         : opacityanim 1.5s ease-out 1 forwards;
        }

        @-webkit-keyframes lightSpeedIn {
          from {
            -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0;
          }

          60% {
            -webkit-transform: skewX(20deg);
            opacity: 1;
          }

          80% {
            -webkit-transform: skewX(-5deg);
            opacity: 1;
          }

          to {
            -webkit-transform: none;
            opacity: 1;
          }
        }

        
        @keyframes lightSpeedIn {
          from {
            transform: translate3d(100%, 0, 0) skewX(-30deg);
            opacity: 0;
          }

          60% {
            transform: skewX(20deg);
            opacity: 1;
          }

          80% {
            transform: skewX(-5deg);
            opacity: 1;
          }

          to {
            transform: none;
            opacity: 1;
          }
        }

        div.miscblock strong:nth-of-type(3){
            top: 32%;
            left: 50%;  

            -webkit-animation : lightSpeedIn 1s ease-out 1 forwards;
            animation         : lightSpeedIn 1s ease-out 1 forwards;
        }

    /*misc block*/

    p.multiplehighlightslide2 span{
        color : black;
        padding: 0.2% 0.5%;
        background-color: white;
    }

    p.lightspeedanim{
        display          : table;
        margin           : 0 2%;
        position         : relative;
        padding          : 3%;
        width            : 95%;
        font-size        : 1.2em;
        text-align       : left;
       
        -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        
        background-color: rgb(245, 242, 199);

        -webkit-animation : lightSpeedIn 1s ease-out 1 forwards;
        animation         : lightSpeedIn 1s ease-out 1 forwards;
    }

    /*formulablock*/
   /*best display for a fraction*/
    .formulablock{
        margin-top: 5%;
        font-size: 1.4em;
    }

    .formulablock.formulablockmargintop{
        margin-top: 7%;
    }

    .fraction {
        display         : inline-table;
        text-align      : center; /*this can be here or inside .fraction's child */
        vertical-align  : middle; /*oh wow this is a wow align test without this and                            see what wow LOL*/
        border-collapse : collapse;
    }

    .fraction .numerator,
    .fraction .denominator{
        display : table-row;
    }

    .fraction .numerator{
        border-bottom : solid rgb(0, 0, 0) 1px;
    }

    /*formulablock*/


/*=====  End of Custom Style  ======*/