@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.basic_sounds {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.basic_sounds, .basic_sounds * {
	position: relative;
	margin: 0;
	padding: 0;
}

.basic_sounds .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.basic_sounds .prevBtn {
	display: none;
	z-index: 1000;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main_bg {
	background-image: url("../images/main_bg.jpg");
	background-size: cover;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: relative;
	margin-top: 1%;
	height: 100%;
	/*border   : 1px solid green; */
}

/* ---- Additional Activity Specific Upper Text Class ---- */

.click_text {
	display: none;
	position: absolute;
	bottom: 32%;
	left: 26%;
	font-size: 2.3vmin;
	color: green;
}

.highlight_purple {
	color: #A724CA;
}
.label_space {
	letter-spacing: 0.2em;
	font-size: 3.3vmin;
}

/*------  End of Upper Text Block  ------*/

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


.center_alphabet {
	/* to make circular border */
	position: absolute;
	cursor: pointer;
	top: 44%;
	left: 50%;
	border-radius: 50%;
	font-size: 3.5vmin;
	z-index: 10;
	padding: 0.7% 1.6% 0.7% 1.6%;
	border: 2px solid white;
	color: white;
	background-color: #DA407E;
}

.b_to_center{
	animation: b_to_center 0.5s linear forwards;
	-webkit-animation: b_to_center 0.5s linear forwards;
}
@keyframes
b_to_center{
	100% {left: 50%; transform:translateX(-50%);}
}
@-webkit-keyframes
b_to_center{
	100% {left: 50%; transform:translateX(-50%);}
}

.chick_alphabet {
	/* to make circular border */
	position: absolute;
	width: 5%;
	height: 9%;
	border-radius: 50%;
	font-size: 3.5vmin;
	z-index: 10;
	padding: 0.7% 1.6% 0.7% 1.6%;
	border: 2px solid white;
}
.chick_alphabet_b {
	top: 12%;
	left: 78%;
	color: white;
	background-color: #DA407E;
}

/* ------------------------------------------
 |                Card layout               |
 ------------------------------------------*/

div.cardblock {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	/*border     : 1px solid green; */
}

.card_deck {
	border-radius: 10px;
	perspective: 1000px;
	position: absolute;
	justify-content: center;
	cursor: pointer;
	height: 25%;
	width: 11%;
	top: 39%;
	transform-style: preserve-3d;
	transition: all 1s linear;
}

.card_deck > img {
	position: absolute;
	backface-visibility: hidden;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.card_deck > label {
	top: 80%;
	height: 20%;
	width: 100%;
	background-color: #fff;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.card_alt {
	border-radius: 10px;
	border: 2px solid #AEBAA6;
	background-color: #EEE;
	perspective: 1000px;
	position: absolute;
	display: flex;
	justify-content: center;
	cursor: pointer;
	height: 33%;
	width: 20%;
	top: 37%;
	box-shadow: -2px 2px 4px #888;
	transform-style: preserve-3d;
	transition: all 0s linear;
}

.card_alt > img {
	position: absolute;
	backface-visibility: hidden;
}

.card_alt > label {
	top: 80%;
	height: 20%;
	width: 100%;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: white;
}

.card_dect:hover .card_back{
	transform: translate(2%, -2%) scale(1.05, 1.05);
	border: 3px solid #0B6476;
	box-shadow: 5px 5px 10px #3EAEC5;
}

.card_alt:hover {
	transition: all 0s linear;
	border: 4px solid #F68C1F;
}
.card_alt:hover .card_front {
	filter: drop-shadow(0px 0px 10px #7FC9FF);
}

.card_front {
	backface-visibility: hidden;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	height: 80%;
	left: 50%;
	filter: drop-shadow(0px 0px 5px #333);
	transform: translate(-50%, 0%) rotateY(180deg);
	-moz-transform: translate(-50%, 0%) rotateY(180deg);
	-webkit-transform: translate(-50%, 0%) rotateY(180deg);
}
.card_back {
	backface-visibility: hidden;
	border-radius: 10px;
	border: 3px solid #3EAEC5;
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.card_0 {
	left: 15%;
	pointer-events: none;
	margin-right: 15%;
	z-index: 20;
}

.card_1 {
	left: 20%;
	pointer-events: none;
	margin-right: 10%;
	z-index: 18;
}

.card_2 {
	left: 25%;
	pointer-events: none;
	margin-right: 5%;
	z-index: 16;
}

.card_3 {
	left: 60%;
	pointer-events: none;
	margin-right: 0%;
	z-index: 20;
}

.card_4 {
	left: 65%;
	pointer-events: none;
	margin-right: 15%;
	z-index: 18;
}

.card_5 {
	left: 70%;
	pointer-events: none;
	margin-right: 10%;
	z-index: 16;
}

.card_back_1{
	-webkit-animation: card_ani infinite 1s;
	animation: card_ani infinite 1s;
}
/* for vibrating card */
@-webkit-keyframes
card_ani{
0% {transform: translate(0%, 0%) scale(1, 1);}
50% {transform: translate(2%, -2%) scale(1.05, 1.05); filter:drop-shadow(0px 0px 10px #7FC9FF);}
100% {transform: translate(0%, 0%) scale(1, 1);}
}
@keyframes
card_ani{
0% {transform: translate(0%, 0%) scale(1, 1);}
50% {transform: translate(2%, -2%) scale(1.05, 1.05); filter:drop-shadow(0px 0px 10px #7FC9FF);}
100% {transform: translate(0%, 0%) scale(1, 1);}
}


/*-------  End of Card Block  -------*/

/* ------------------------------------------
 |            Sound box layout              |
 ------------------------------------------*/
.sound_icon {
	z-index: 25;
	position: absolute;
	width: 13%;
	top: 2%;
	right: 84%;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}
.sound_box {
	display: none;
	z-index: 25;
	position: absolute;
	width: 3%;
	cursor: pointer;
}

.sound_0 {
	left: 23%;
	top: 5%;
}
.sound_1 {
	left: 56%;
	top: 5%;
}
.sound_2 {
	left: 89%;
	top: 5%;
}
.sound_3 {
	left: 23%;
	top: 61%;
}
.sound_4 {
	left: 56%;
	top: 61%;
}
.sound_5 {
	left: 89%;
	top: 61%;
}
/*-------  End of Sound Boxes  -------*/

.chick {
	position: absolute;
	width: 9.5%;
}
.chick_1{
	position: absolute;
	width: 9%;
	height: 19%;
	background-image: url("../images/eggs/duckling_sprites.png");
	background-size: 800% 100%;
	background-position: 0% 0%;
}

.chick_2 {
	position: absolute;
	width: 8%;
}

.talking {
	-webkit-animation: talking 2s step(7) infinite forwards;
	animation: talking 2s steps(7) infinite forwards;
}

.eye-blinking {
	-webkit-animation: eye-blinking 1s step(2) infinite forwards;
	animation: eye-blinking 1s steps(2) infinite forwards;
}
.chick_b {
	top: 24%;
	left: 14.5%;
}
.chick_b2 {
	top: 24%;
	left: 77%;
}
.chick_center {
	top: 45%;
	left: 41%;
}
.chick_to_first {
	top: 67%;
	left: 16.5%;
}

@-webkit-keyframes
talking {
100% {background-position: -700% 0%;}
}
@keyframes
talking {
100% {background-position: -700% 0%;}
}

@-webkit-keyframes
eye-blinking {
0% {background-position: 0% 0%;}
100% {background-position: -200% 0%;}
}
@keyframes
eye-blinking {
0% {background-position: 0% 0%;}
100% {background-position: -200% 0%;}
}
/* ------------------------------------------
 |               Egg layout                 |
 ------------------------------------------*/

.egg {
	z-index: 5;
	position: absolute;
	height: 22%;
}

.sound_waves_0 {
	position: absolute;
	height: 1.2%;
	top: 19%;
	left: 78.5%;
}
.sound_waves_1 {
	position: absolute;
	height: 1.9%;
	top: 17%;
	left: 77.5%;
}

.to_sound_waves_2{
	animation: to_sound_waves_2 2s linear forwards, vibrate_top infinite 1s;
	-webkit-animation: to_sound_waves_2 2s linear forwards, vibrate_top infinite 1s;
}
@keyframes
to_sound_waves_2{
	100% {top: 10%;left: 78.5%;}
}
@-webkit-keyframes
to_sound_waves_2{
	100% {top: 10%;left: 78.5%;}
}

.to_sound_waves_3{
	animation: to_sound_waves_3 2s linear forwards, vibrate_top infinite 1s;
	-webkit-animation: to_sound_waves_3 2s linear forwards, vibrate_top infinite 1s;
}
@keyframes
to_sound_waves_3{
	100% {top: 8%; left: 77.5%;}
}
@-webkit-keyframes
to_sound_waves_3{
	100% {top: 8%; left: 77.5%;}
}
.sound_waves_2 {
	position: absolute;
	height: 1.2%;
	top: 10%;
	left: 17.5%;
}
.sound_waves_3 {
	position: absolute;
	height: 1.9%;
	top: 8%;
	left: 16.5%;
}
.sound_waves_4 {
	position: absolute;
	height: 1.2%;
	top: 42%;
	left: 48%;
}
.sound_waves_5 {
	position: absolute;
	height: 1.9%;
	top: 40%;
	left: 47%;
}
.its_hidden{
	display: none;
}
.its_hidden_card{
	display: none;
	animation: come_ins 2s;
	-webkit-animation: come_ins 2s;
}

.egg_0 {
	position: absolute;
	top: 24%;
	left: 14%;
}
.egg_1 {
	position: absolute;
	top: 24%;
	left: 34%;
}
.egg_2 {
	position: absolute;
	top: 24%;
	left: 55%;
}
.egg_3 {
	position: absolute;
	top: 24%;
	left: 76%;
}
.egg_4 {
	position: absolute;
	top: 60%;
	left: 25%;
}
.egg_5 {
	position: absolute;
	top: 60%;
	left: 46%;
}
.egg_6 {
	position: absolute;
	top: 60%;
	right: 23%;
}

.egg_label {
	z-index: 20;
	color: white;
	filter: drop-shadow(0px 0px 1px #fff);
	font-size: 4vmin;
}

.egg_label_0 {
	position: absolute;
	left: 18%;
	top: 35%;
}
.egg_label_1 {
	position: absolute;
	left: 38%;
	top: 35%;
}
.egg_label_2 {
	position: absolute;
	left: 59%;
	top: 35%;
}
.egg_label_3 {
	position: absolute;
	left: 81%;
	top: 35%;
}
.egg_label_4 {
	position: absolute;
	left: 29%;
	top: 71%;
}
.egg_label_5 {
	position: absolute;
	left: 50%;
	top: 71%;
}
.egg_label_6 {
	position: absolute;
	left: 72%;
	top: 71%;
}
/*-------  End of Egg Layout  -------*/

/* ------------------------------------------
 |                Some extras                |
 ------------------------------------------*/

/*-------  Extras end -------*/

/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	top: 35%;
	font-size: 5em;
}

.fade_out {
	animation: outs 2s forwards;
	-webkit-animation: outs 2s forwards;
}
.fade_out_1 {
	animation: outs 0.5s forwards;
	-webkit-animation: outs 0.5s forwards;
}
.fade_ins {
	animation: come_ins 2s;
	-webkit-animation: come_ins 2s;
}
.blinks {
	animation: outs infinite 1s ease-in;
	-webkit-animation: outs infinite 1s ease-in;
}
/* vertical_vibration */

.vertical_vibration {
	animation: vibrate_v infinite 1s;
	-webkit-animation: vibrate_v infinite 1s;
}
.font_vibration {
	animation: vibrate_font infinite 1s;
	-webkit-animation: vibrate_font infinite 1s;
}
.sound_vibration {
	animation: vibrate_top infinite 1s;
	-webkit-animation: vibrate_top infinite 1s;
}


/* for vibrating egg */
@-webkit-keyframes
vibrate_v{
0%   {transform: rotate(-3deg); transform-origin: 50% 100%;}
50%   {transform: rotate(3deg); transform-origin: 50% 100%;}
100%   {transform: rotate(-3deg); transform-origin: 50% 100%;}
}
@keyframes
vibrate_v{
0%   {transform: rotate(-3deg); transform-origin: 50% 100%;}
50%   {transform: rotate(3deg); transform-origin: 50% 100%;}
100%   {transform: rotate(-3deg); transform-origin: 50% 100%;}
}

/*For vibrating font*/
@-webkit-keyframes
vibrate_font{
0%   {transform: rotate(-3deg); transform-origin: 0% 250%;}
50%   {transform: rotate(3deg); transform-origin: 0% 250%;}
100%   {transform: rotate(-3deg); transform-origin: 0% 250%;}
}
@keyframes
vibrate_font{
0%   {transform: rotate(-3deg); transform-origin: 0% 250%;}
50%   {transform: rotate(3deg); transform-origin: 0% 250%;}
100%   {transform: rotate(-3deg); transform-origin: 0% 250%;}
}

/* sound vibration effect */
@-webkit-keyframes
vibrate_top{
0%   {transform: translate(0%, 0%);}
50%   {transform: translate(0%, -100%);}
100%   {transform: translate(0%, 0%);}
}
@keyframes
vibrate_top{
0%   {transform: translate(0%, 0%);}
50%   {transform: translate(0%, -100%);}
100%   {transform: translate(0%, 0%);}
}

/* vibration effect */
@-webkit-keyframes
jump{
0%   {transform: translate(0%, 0%);}
50%   {transform: translate(0%, -2%);}
100%   {transform: translate(0%, 0%);}
}
@keyframes
jump{
0%   {transform: translate(0%, 0%);}
50%   {transform: translate(0%, -2%);}
100%   {transform: translate(0%, 0%);}
}

@-webkit-keyframes
jump_1{
0%   {transform: translate(0%, 0%);}
50%   {transform: translate(0%, -2%);}
100%   {transform: translate(0%, 0%);}
}
@keyframes
jump_1{
0%   {transform: translate(0%, 0%);}
50%   {transform: translate(0%, -2%);}
100%   {transform: translate(0%, 0%);}
}

/* fade out effect */
@-webkit-keyframes
outs{
0%   {opacity : 1;}
100% {opacity: 0;}
}
@keyframes
outs{
0%   {opacity : 1;}
100% {opacity: 0;}
}

/* fade in effect */
@-webkit-keyframes
come_ins{
0%   {opacity : 0;}
100% {opacity: 1;}
}
@keyframes
come_ins{
0%   {opacity : 0;}
100% {opacity: 1;}
}

/* chick walk animations */
.chick_walk{
	animation: walk infinite 1s, walk_b 2s linear forwards;
	-webkit-animation: walk infinite 1s, walk_b 2s linear forwards;
}
.chick_walk_first{
	animation: walk infinite 1s, walk_to_first 2s linear forwards;
	-webkit-animation: walk infinite 1s, walk_to_first 2s linear forwards;
}
.chick_jump{
	animation: jump infinite 1s;
	-webkit-animation: jump infinite 1s;
}
.chick_jump_1{
	animation: jump_1 infinite 1s;
	-webkit-animation: jump_1 infinite 1s;
}
/* for walk */
@-webkit-keyframes
walk_to_first {
0%   {top: 45%; left:41%;}
3%   {top: 45%; left:39%;}
40% {top: 67%; left:39%;}
100% {top: 67%;left: 16.5%;}
}
@keyframes
walk_to_first {
0%   {top: 45%; left:41%;}
3%   {top: 45%; left:39%;}
40% {top: 67%; left:39%;}
100% {top: 67%;left: 16.5%;}
}

walk_b {
100% {top: 43%; left:39%;}
}
@keyframes
walk_b {
100% {top: 43%; left:39%;}
}
@-webkit-keyframes
walk{
0%   {transform: rotate(-3deg); transform-origin: center bottom;}
50%   {transform: rotate(3deg); transform-origin: center bottom;}
100%   {transform: rotate(-3deg); transform-origin: center bottom;}
}
@keyframes
walk{
0%   {transform: rotate(-3deg); transform-origin: center bottom;}
50%   {transform: rotate(3deg); transform-origin: center bottom;}
100%   {transform: rotate(-3deg); transform-origin: center bottom;}
}
/* chick bubble animations */
.bubble_walk{
	animation: bubble_vibrate infinite 1s, bubble_move 2s linear forwards;
	-webkit-animation: bubble_vibrate infinite 1s, bubble_move 2s linear forwards;
}
/* for chick bubble */
@-webkit-keyframes
bubble_move {
100% {top: 44%; left:50%;}
}
@keyframes
bubble_move {
100% {top: 44%; left:50%;}
}
@-webkit-keyframes
bubble_vibrate{
0%   {transform: rotate(-3deg); transform-origin: 50% 100%;}
50%   {transform: rotate(3deg); transform-origin: 50% 100%;}
100%   {transform: rotate(-3deg); transform-origin: 50% 100%;}
}
@keyframes
bubble_vibrate{
0%   {transform: translate(-5%, -5%);}
50%   {transform: translate(5%, 5%);}
100%   {transform: translate(-5%, -5%);}
}

/* sound wave moving animations */
.wave_walk_0{
	animation: vibrate_top infinite 1s, wave_move_0 2s linear forwards;
	-webkit-animation: vibrate_top infinite 1s, wave_move_0 2s linear forwards;
}
.wave_walk_1{
	animation: vibrate_top infinite 1s, wave_move_1 2s linear forwards;
	-webkit-animation: vibrate_top infinite 1s, wave_move_1 2s linear forwards;
}
/* for chick bubble */
@-webkit-keyframes
wave_move_0 {
	0% {top: 10%; left: 78.5%;}
	100% {top: 42%; left: 50.8%;}
}
@keyframes
wave_move_0 {
	0% {top: 10%; left: 78.5%;}
	100% {top: 42%; left: 50.8%;}
}

@-webkit-keyframes
wave_move_1 {
	0% {top: 8%; left: 77.5%;}
	100% {top: 40%; left: 49.8%;}
}
@keyframes
wave_move_1 {
	0% {top: 8%; left: 77.5%;}
	100% {top: 40%; left: 49.8%;}
}
.hatch_out{
	animation: hatch_out 2s linear;
	-webkit-animation: hatch_out 2s linear;
}
@keyframes
hatch_out{
	0% {transform: translateY(100%);}
}
@-webkit-keyframes
hatch_out{
	0% {transform: translateY(100%);}
}
/*=====  End of Custom Style  ======*/
