html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}


.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.exeques {
    position: absolute;
    top: 7%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
    font-size: 4vmin;
    color: #814100;
    font-family: abeezee;
}

.droppableitem{
    position: absolute;
    height: 40%;
    width: 13%;
    border: 3px solid darkgrey;
}

.draggableitem {
    cursor: pointer;
    z-index: 1;
    position: absolute;
}

.drop1 {
    top: 45%;
    left: 2%;
}

.drop2 {
    top: 45%;
    left: 18%;
}

.drop3 {
    top: 45%;
    left: 35%;
}

.drop4 {
    top: 45%;
    left: 52%;
}

.drop5 {
    top: 45%;
    left: 69%;
}

.drop6 {
    top: 45%;
    left: 85%;
}

.drag1 {
    top: 22%;
    left: 30%;
    width: 3%;
    margin-top: 3%;
}

.drag2 {
    top: 19%;
    left: 78%;
    width: 3%;
    margin-top: 3%;
}

.drag3 {
    top: 18%;
    left: 52%;
    width: 3%;
    margin-top: 3%;
}

.drag4 {
    top: 12%;
    left: 64%;
    width: 6%;
    margin-top: 2%;
}

.drag5 {
    top: 13%;
    left: 39%;
    width: 5%;
}

.drag6 {
    top: 10%;
    left: 13%;
    width: 13%;
}

.check {
    background: #126DB3;
    color: white;
    font-weight: bold;
    width: 17%;
    padding: 1%;
    position: absolute;
    border-radius: 18px;
    transform: translate(-50%,-50%);
    bottom: -4%;
    left: 50%;
    font-size: 4vmin;
    border: 3px solid;
    cursor: pointer;
    z-index: 1;
}

.fintxt {
    position: absolute;
    font-size: 6vmin;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 25%;
    width: 100%;
    background: #85B939;
    color: white;
    padding: 2%;
}
.draggableitem{
  z-index: 100;
}
.done{
  z-index: 1;
}
