.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: relative;
}



/*============ exercise template ===================
==================================================== */

.question {
    color:white;
    position: relative;
    top: 21%;
    font-size: 5vmin;
}

.optionsdiv {
    top: 36%;
    position: relative;
}

.optionscontainer {
    position: relative;
    height: 17%;
}

.imagestartpos {
    position: absolute;
    width: 41px;
    margin-left: 15px;
    visibility: hidden;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    visibility: hidden;
}

.optionsdiv p{
    display: inline;
    padding: 2% 1%;
    background: #594391;
    border-radius: 15px;
    color: white;
    margin: 1%;
    font-size: 4vmin;
    /*border: 5px solid #ADAEDB;*/
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    /*border: 5px solid #ADAEDB;*/
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover{
	/*background: #F1C131;*/
	/*color: #F66E20;*/
	/*border: 5px solid #FFD966;*/
	transform: scale(1);
	border:2px solid;
	background-color: #F9CB9C;
	border-color: #E39540;
	color:#43434B;
	border-radius: 9px;
	transition:0.8s;
	cursor: pointer;
}

/*.forhoverimg:hover{*/
	/*color: #F66E20;*/
	/*border: 5px solid #FFD966;*/
/*}*/



.
.questionimg {
    position: relative;
    top: 27%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 32%;
}

.draggablecontainer {
    position: relative;
    top: 18%;
    width: 100%;
    background: aliceblue;
}

.droppablecontainer {
    position: relative;
    top: 28%;
    width: 100%;
    background: antiquewhite;
    height: 50%;
}

.drop1 {
    background: blueviolet;
    width: 50%;
    height: 83%;
    float: left;
}

.drop2 {
    background: aqua;
    width: 50%;
    height: 83%;
    float: left;
}
.bg{
	background-color: #7ec7ff;
	background-size: 100% 100%;
}

.wrongans{
	pointer-events: none;
	border:3px solid;
	border-color: #980000;
	color: white;
	border-radius: 14px;
	background-color:#FF0000 !important;
}

.rightans{
	pointer-events: none;
	border:3px solid;
	border-color: #DEEF3C;
	border-radius:14px;
	color: white;
	background-color: #98C02E !important;
}