.objdiv{
    position: absolute;
    bottom: 0;
    top: 39%;
    left: 1%;
}
.imgdiv1{
    position: absolute;
    width: 50%;
    float: left;
    left: 1%;
}
.question{
    position: absolute;
    width: 100%;
    float: right;
    right: 0;
    background-color: #7ec7ff;
    height: 28%;
    color: white;
    top: 0;
    z-index: 2;
    padding-top: 9%;
}
.option{
    position: absolute;
    width: 100%;
    float: right;
    right: 0%;
    top: 20%;
    background-color: #7EC7FF;;
    height: 80%;
}
.commonbtn{
    position: absolute;
    width: 56%;
    left: 22%;
    background-color: #594391;
    color: white;
    border-radius: 14px;
    height: 15%;
}
.centertext{
    position: relative;
    top:50%;
    transform:translateY(-50%);
    padding: 1% 1%;
    height: auto;
    font-family: abeezee;
}
.option1{
    top:22%;
}
.option2{
    top:45%;
}
.option3{
    top:67%;
}
/*diy*/
.commonbtn:hover{
    transform: scale(1);
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:#43434B;
    border-radius: 9px;
    transition:0.8s;
    cursor: pointer;
}
.correctans{
    pointer-events: none;
    background-color: #98C02E;
    border:3px solid;
    border-color: #DEEF3C;
    border-radius:14px;
    color: white;
}
.wrongans{
    pointer-events: none;
    background-color:#FF0000;
    border:3px solid;
    border-color: #980000;
    color: white;
    border-radius: 3vmin;
}
.correctWrongImg{
    position: absolute;
    width: 10%;
    left: 102%;
    bottom: 17%;
}
@media (min-aspect-ratio: 4/3) {
    .chapter{
        font-size: 4vw;
    }
    .title{
        font-size: 3vw;
    }
    .content{
        font-size: 2.5vw;
    }
    .content1{
        font-size: 2.3vw;
    }
    .content2{
        font-size: 2vw;
    }

}
.relativecls{
    position: relative;
    width: 100%;
    height:100%;
}
.avoid-clicks {
    pointer-events: none;
}
