<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="earth_start">    
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script type="text/x-handlebars-template" id="imageNText-template">
    <div class="imageNtext {{imageNtextClassAdd}}">
        <p class="{{textClass}}">{{{paraText}}}</p>  
        <img class="{{imageClass}}" src="{{imageSrc}}">
    </div>
</script>

<script type="text/x-handlebars-template" id="textOnly-template">
    <p class="onlyText">{{{paraText}}}</p>
</script>

<script type="text/x-handlebars-template" id="timeToThink-template">    
    <div class="timeToThink">
        <figure>
            <img src="{{timeToThinkImageSource}}">
            <figcaption>{{timeToThinkTextData}}</figcaption>
        </figure>
        <p>{{{timeToThinkInstructionData}}}</p>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>