<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page9.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="rock_use"> 
    <div class="board"></div>

    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>    
</div>

<script type="text/x-handlebars-template" id="first-template">
    <p>{{{interestingTextData}}}</p>
</script>

<script type="text/x-handlebars-template" id="useofrocks-template">
    <div class="rockuse">
        <p>{{useHeadingData}}</p>
        <p>{{interestingTextData}}</p>
        <div class="useExampleImages">
            {{#each useExampleImageSource}}
                <img class="{{this.imageClass}}" src="{{this.imageSrc}}">
            {{/each}}
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page9.js");
</script>