<!--
    Title : properties of metal
 -->
<script type="text/javascript">
    $cssLoader("css/page5.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="stones_property">  

    <div class="board"></div>

    <div class="nextBtn myNextStyle"></div>
</div>

<script type="text/x-handlebars-template" id="first-template">
	<div class="introText">{{textIntro}}</div>
</script>

<script type="text/x-handlebars-template" id="second-template">
	<div class="wrapperProperty">
		<div class="propertyList">
			<ul>
				<p class="listTitle">{{listTitle}}</p>
			{{#each list}}
				<li><span>{{this.listcount}}</span><p>{{this.listtext}}</p></li>
			{{/each}}
			</ul>
		</div>
		<div class="propertyMain">
			<div class="propertiesTitle"><span>{{titlecount}}</span><p>{{title}}</p></div>
			<div class="propertiesImg">
				{{#each propertyImage}}
					<img src="{{this.propertiesImgSource}}">
				{{/each}}
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="summary-template">
	<div class="wrapSummary">
		<ul>
			<div class="listTitle">{{listTitle}}</div>
			{{#each list}}
				<li><span>{{this.listcount}}</span><p>{{this.listtext}}</p></li>
			{{/each}}
		</ul>
	</div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>