.menstruation {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: laila;
}

.menstruation, .menstruation * {
	position: relative;
	margin: 0;
	padding: 0;
}

.menstruation .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.menstruation .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 28%;
	left: 45%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generalTemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.firsttitle{
	background-color: #EFE4C5;
	color: #fff;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

.coverboardfull, .textblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	font-family: laila;
}

.maintitle {
	position: relative;
	width: 100%;
}

.maintitle_sub {
	position: absolute;
	width: 40%;
	left: 64%;
	text-align: left;
	top: 50%;
	transform: translate(-10%,290%);
	padding-top: 0.7%;
}

.blackboard{
	font-family: pangolin-regular;
	position: absolute;
	height: 15%;
	width: 40%;
	color: #fff;
	top: 34%;
	left: 22%;
	z-index: 10;
}

.blackboard2{
	font-family: pangolin-regular;
	position: absolute;
	height: 15%;
	width: 40%;
	color: #fff;
	top: 52%;
	left: 18%;
	z-index: 10;
}

.dialogcontainer1, .dialogcontainer2, .dialogcontainer3, .dialogcontainer4{
	position: absolute;
	background-size: 100% 100%;
	padding: 1em 1em 1em 1em;
}

.dialogcontainer1{
	height: 30%;
	width: 60%;
	top: 0%;
	right: 23%;
	background-image: url("../images/bubble-10.png");
}

.dialogcontainer2{
	height: 40%;
	width: 60%;
	top: -5%;
	right: 22%;
	background-image: url("../images/bubble-10.png");
}

.dialogcontainer3{
	height: 47%;
	width: 74%;
	top: -8%;
	right: 19%;
	background-image: url("../images/bubble-10.png");
}

.dialogcontainer4{
	height: 36%;
	width: 64%;
	top: 25%;
	right: 15%;
	background-image: url("../images/bubble2-12.png");
}

.dialogcontainer5{
	height: 54%;
	width: 75%;
	top: 5%;
	right: 17%;
	background-image: url("../images/bubble-10.png");
}

.dialogcontent, .dialogcontent2{
	position: absolute;
	transform: translateY(-50%);
}

.dialogimage{
	position: absolute;
	height: 116%;
	width: 100%;
	left: 0;
	top: -16%;
}

.dialogcontent{
	top: 50%;
	width: 70%;
	left: 13%;
	font-weight: normal;
}

.dialogcontent2{
	top: 44%;
	width: 80%;
	left: 10%;
	font-weight: normal;
}

.coverpage{
	background-image: url("../images/cover_page.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/*.background_img1, .background_img2, .background_img3, .background_img4,
.background_img5, .background_img6, .background_img7, .background_img8,
.background_img9{
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.background_img1{
	background-image: url("../images/1-01.png");
}

.background_img2{
	background-image: url("../images/2-13.png");
}

.background_img3{
	background-image: url("../images/3-06-06.png");
}

.background_img4{
	background-image: url("../images/4-20.png");
}

.background_img5{
	background-image: url("../images/6-48.png");
}

.background_img6{
	background-image: url("../images/8-42.png");
}

.background_img7{
	background-image: url("../images/9-04.png");
}

.background_img8{
	background-image: url("../images/10-05.png");
}

.background_img9{
	background-image: url("../images/11-49.png");
}*/

@media screen and (min-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 6vh;
	}

	.miantitle_sub{
		font-size: 3vh;
	}

	.blackboard{
		font-size: 5.56vh;
	}

	.blackboard2{
		font-size: 7.56vh;
	}

	.dialogcontent, .dialogcontent2{
		font-size: 3vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 5.56vw;
	}

	.miantitle_sub{
		font-size: 2.56vw;
	}

	.blackboard{
		font-size: 5vw;
	}

	.blackboard2{
		font-size: 7vw;
	}

	.dialogcontent, .dialogcontent2{
		font-size: 2.32vw;
	}

}
