<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.circle02.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <!-- <div class="nextBtn myNextStyle"></div> -->
    <!-- <div class="prevBtn myPrevStyle"></div> -->
</div>

<!--slide1-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="inputbox">
			<input id ="inputcheck" onkeypress="" type="text" class="base1" autocomplete="off"> cm
		</div>

		<div class="bub1">

			</div>

			<div class="bub2">


			</div>


			<div class="example"><img src="activity/grade8/math/math_circle_02/image/example1.png" class=" example1 img-responsive"/></div>

    </div>
</script>

<!--end of slide1-->



<!--slide2-->
<script type="text/x-handlebars-template" id="intro2-template">
     <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

    </div>
</script>




<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->

<!--page3-->


<script type="text/x-handlebars-template" id="intro3-template">

<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
</div>
</script>

<!-- end of page3-->





<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.circle02.js");
</script>
