<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
 $cssLoader("css/page2.circle02.css");
 $cssLoader("css/animation.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!--slide1-->


<script type="text/x-handlebars-template" id="intro-templates">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		<div class="main-bg1">
		    <img src="activity/grade8/math/math_circle_02/image/page1/coverpage.png" class="img-responsive"/>
		</div>

		<div class="main-bg4">
		<img id="reload1" class ="lok" src="activity/grade8/math/math_circle_02/image/page1/walking.gif" class="img-responsive"/>
		</div>


		<div class="main-bg5">
		<img class ="circle" src="activity/grade8/math/math_circle_02/image/page1/circle.png" class="img-responsive"/>
		</div>


		<div class="bub">
		</div>





		<div class="title1">{{title1}}</div>
		<div class="title2">{{title2}}</div>

    </div>
</script>






<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="bub1">

			</div>

			<div class="bub2">

			</div>





		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_interest_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>

			<div class="char-b">
			<img src="activity/grade8/math/math_circle_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>

		</div>
    </div>
</script>

<!--end of slide1-->



<!--slide2-->
<script type="text/x-handlebars-template" id="intro2-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<img src="activity/grade8/math/math_circle_02/image/loku_stick.png" class="loku"/>

		<div class="main-circum">
			<img src="activity/grade8/math/math_circle_02/image/page2/circlebg.png" class="circum-bg"/>
		</div>

		<div class="main-bg5">
		<img class ="circle" src="activity/grade8/math/math_circle_02/image/page1/circle.png" class="img-responsive"/>
		</div>

		<div class="blackboard">
		<img class ="black" src="activity/grade8/math/math_circle_02/image/page1/blackboard.png" class="img-responsive"/>
		</div>

		<div class="diameter">
		<img class ="dia" src="activity/grade8/math/math_circle_02/image/page1/diameter.gif"/>
		</div>

		<div class="bub1">

			</div>

			<div class="bub2">


			</div>

		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>

			<div class="char-b">
			<img src="activity/grade8/math/math_circle_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>

		</div>
    </div>
</script>




<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->

<!--page3-->


<script type="text/x-handlebars-template" id="intro3-template">

<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="bub1">

			</div>

			<div class="bub2">


			</div>

			<div class="coin">

		<img src="activity/grade8/math/math_rational_02/image/squirrel-walk-standing.png" class="coin2 img-responsive"/>
		</div>

		<div class="circle-img">
		<img src="activity/grade8/math/math_circle_02/image/radius.png" class="radius img-responsive"/>
		</div>

		<div class="circle-img01">
		<img src="activity/grade8/math/math_circle_02/image/diameter.png" class="diameter01 img-responsive"/>
		</div>

    </div>
</script>

<!-- end of page3-->





<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.circle02.js");
</script>
