<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page8.circle02.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<script src="./js/jqmath-etc-0.4.0.min.js"></script>
<link rel="stylesheet" href="./css/jqmath-0.4.0.css">

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <!-- <div class="nextBtn myNextStyle"></div> -->
    <!-- <div class="prevBtn myPrevStyle"></div> -->
</div>

<!--slide1-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="bub1">

			</div>

			<div class="bub2">


			</div>

		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>

			<div class="char-b">
			<img src="activity/grade8/math/math_circle_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>

		</div>
    </div>
</script>

<!--end of slide1-->



<!--slide2-->
<script type="text/x-handlebars-template" id="intro2-template">
     <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}
            </div>
        {{/each}}
        	<div class="inputbox">
					<input id ="inputcheck"  type="text" class="base1" autocomplete="off"> cm
			</div>

	</div>
</script>




<!--end of page2-->







<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page8.circle02.js");
	$jsLoader("js/jqmath-etc-0.4.0.min.js");
</script>
