<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
 $cssLoader("css/page12.circle02.css");
 $cssLoader("css/animation.css");

</script>

<script src="./js/jqmath-etc-0.4.0.min.js"></script>
<link rel="stylesheet" href="./css/jqmath-0.4.0.css">
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <!-- <div class="nextBtn myNextStyle"></div> -->
    <!-- <div class="prevBtn myPrevStyle"></div> -->
</div>

<!--slide1-->


<script type="text/x-handlebars-template" id="intro-templates">

	<div class="wrapperIntro {{justClass}}">
        <div class="main-bg1">
		<img src="activity/grade8/math/math_circle_02/image/page6/area-bg.png" class="img-responsive"/>
		<img src="activity/grade8/math/math_circle_02/image/page6/cir.png" class="img-responsive inner animate-zoom"/>
		</div>


		<div class="title1">{{title1}}</div>
		<div class="title2 animate-zoom">{{title2}}</div>

    </div>
</script>






<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="bub1">

			</div>

			<div class="bub2">


			</div>




		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>

			<div class="char-b">
			<img src="activity/grade8/math/math_circle_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>

		</div>
    </div>
</script>

<!--end of slide1-->



<!--slide2-->
<script type="text/x-handlebars-template" id="intro2-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="circle-paint">
		<img src="activity/grade8/math/math_circle_02/image/animate-circle.gif" class="animate1 img-responsive" id="reload1"/>
		</div>

		<div class="triangle-paint">
		<img src="activity/grade8/math/math_circle_02/image/animate-triangle.gif" class="animate2 img-responsive" id="reload2"/>
		</div>

		<div class="square-paint">
		<img src="activity/grade8/math/math_circle_02/image/animate-square.gif" class="animate3 img-responsive" id="reload3"/>
		</div>


		<div class="bub1">

			</div>

			<div class="bub2">


			</div>

		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>

			<div class="char-b">
			<img src="activity/grade8/math/math_circle_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>

		</div>
    </div>
</script>




<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->

<!--page3-->


<script type="text/x-handlebars-template" id="intro3-template">

<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="bub1">

			</div>

		<div class="bub2">

		</div>

		<div class="cycle-wheel">
		<img src="activity/grade8/math/math_circle_02/image/cycle-wheel.gif" class="cycle-rotating img-responsive" id="reload4"/>
		</div>

		<div class="wheel-divide">
		<img src="activity/grade8/math/math_circle_02/image/wheel-divide.gif" class="cycle-divide img-responsive" id="reload5"/>
		</div>

		<div class="arrow">
		<img src="activity/grade8/math/math_circle_02/image/arrow-right.png" class="arrow-right img-responsive" />
		</div>

		<div class="circle-rect">
		<img src="activity/grade8/math/math_circle_02/image/circle-rect.gif" class="rect img-responsive" id="reload6"/>
		</div>

		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>

			<div class="char-b">
			<img src="activity/grade8/math/math_circle_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_circle_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>

		</div>






    </div>
</script>

<!-- end of page3-->


<!---page4-->


<script type="text/x-handlebars-template" id="intro4-template">

<img class="splash_screen" src="activity/grade8/math/math_rational_02/image/woodtexture.jpg">

<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}


			<div class="wheel-divide">
			<img src="activity/grade8/math/math_circle_02/image/wheel-divide1.gif" class="cycle-divide img-responsive" id="reload7"/>
			</div>

			<div class="arrow">
			<img src="activity/grade8/math/math_circle_02/image/arrow-right.png" class="arrow-right img-responsive"/>
			</div>

			<div class="circle-rect">
			<img src="activity/grade8/math/math_circle_02/image/circle-rect1.gif" class="rect img-responsive" id="reload8"/>
			</div>



    </div>
</script>

<!--end of page4-->




<!---page5-->


<script type="text/x-handlebars-template" id="intro5-template">



<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

<div class="inputbox">
	<input id ="inputcheck" type="text" class="base1" autocomplete="off">cm<sub>2</sub>
</div>

<div class="ansdis">{{ansdisplay}}</div>

</div>
</script>

<!--end of page5-->



<!---page6-->


<script type="text/x-handlebars-template" id="intro6-template">



<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}



</div>
</script>

<!--end of page6-->




<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page12.circle02.js");
	$jsLoader("js/jqmath-etc-0.4.0.min.js");

</script>
