@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}
@font-face {
	font-family: "happymonkey";
	src:url("../../../../../fonts/HappyMonkey-Regular.ttf");
}


.place_value {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.place_value, .place_value * {
	position: relative;
	margin: 0;
}

.place_value .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.place_value .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}
/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: relative;
	margin-top: 1%;
	/*border   : 1px solid green; */
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

img.singleimgstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 1%;
	width: 40%;
}

div.imageblock label {
	position: absolute;
	right: 59%;
	left: 10%;
	text-align: right;
}

/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Digit Block            =
 ====================================*/
div.digitblock {
	position: relative;
	width: 100%;
	height: 100%;
}

div.contentblock input {
	z-index: 2000;
	position: absolute;
	text-align: center;
	width: 8%;
	height: 10%;
	resize: none;
	border: 4px solid #fff;
}

div.digitblock > p {
	position: absolute;
	text-align: center;
	margin-top: 1%;
	width: 8%;
	font-size: 4vmin;
	/*padding: 0.1% 0.4% 0.1% 0.4%;*/
	resize: none;
}

div.digitblock > button {
	position: absolute;
	text-align: center;
	width: 15%;
	height: 10%;
	/*padding: 0.4% 2% 0.4% 2%;*/
	top: 57%;
	left: 30%;
}

.ones-box {
	background: #F3F3F3;
	border-radius: 2vmin;
	top: 57%;
	left: 21%;
	font-size: 4vmin;
	border: 4px solid #666666 !important;
}

.tens-box {
	background: #F3F3F3;
	border-radius: 2vmin;
	top: 57%;
	left: 12.5%;
	font-size: 4vmin;
	border: 4px solid #666666 !important;
}

.ones-label-box {
	position: absolute;
	text-align: center;
	margin-top: 1%;
	width: 8%;
	font-size: 4vmin;
	padding: 0.1% 0.4% 0.1% 0.4%;
	resize: none;
  top: 67%;
  left: 21%;
	color: #1d73cc;
	font-family: sniglet;
}
.tens-label-box {
	position: absolute;
	text-align: center;
	margin-top: 1%;
	width: 8%;
	padding: 0.1% 0.4% 0.1% 0.4%;
	resize: none;
	font-size: 4vmin;
	top: 67%;
	left: 12.5%;
	color: #1d73cc;
	font-family: sniglet;
}
.check-button {
	z-index: 200;
	position: absolute;
	text-align: center;
	width: 15%;
	height: 10%;
	padding: 0.4% 2% 0.4% 2%;
	top: 57%;
	left: 30%;
	text-align: center;
	color: #FFF;
	background: #3c78d8;
	border-radius: 2vmin;
	border: 4px solid #1155cc;
	font-size: 4vmin;
}

.check-button:hover {
	background: #8FCAFE;
}
/*=====  End of Digit Block  ======*/


/*====================================
 =           tens Table Block         =
 ====================================*/
div.bigtableblock {
    position: absolute;
    top: 11%;
    width: 88%;
    height: 91%;
    left: 0;
    float: right;
    font-family: happymonkey;
    margin-left: 6.5%;
}
.ones-table {
    position: absolute;
    background: #10A9A7;
    left: 1%;
    width: 28%;
    height: 90%;
    border-radius: 2vmin;
    -webkit-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}

.ones-table > th, td {
	text-align: center;
	font-size: 3vmin;
	color: white;
	width: 50%
}

.tens-table {
    position: absolute;
    left: 31%;
    width: 33%;
    height: 90%;
    background: #7968A6;
    border-radius: 2vmin;
    -webkit-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}
.tens-table > th, td {
	text-align: center;
	font-size: 3vmin;
	color: white;
	width: 50%
}
.twentys-table {
    position: absolute;
    background: #E46C80;
    left: 66%;
    width: 33%;
    height: 80%;
    border-radius: 2vmin;
    -webkit-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}
.twentys-table > th, td {
	text-align: center;
	font-size: 3vmin;
	color: white;
	width: 50%
}

/*=====  End of Big Table Block  ======*/


/*=====  End of Table Block  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	font-size: 5em;
}

.sidepara {
	float: left;
	margin-top: 3%;
	text-align: left;
	padding: 3%;
	width: 45%;
	color: #333;
	z-index: 10;
}

.sidepara > p {
	margin-top: 1%;
	text-align: left;
	font-size: 3vmin;
	padding: 3%;
	color: #595959;
}

.check-answer {
    position: absolute;
    bottom: 10%;
    left: 13%;
    font-size: 5vmin;
}
.incorrect-answer {
	display: none;
    color: #B67B8D;
}

.correct-answer {
    display: none;
    color: #25992C;
}
.not-visible {
	display: none;
}

.sideimage {
	position: absolute;
	height: 79%;
	margin-top: 8%;
	right: 3%;
}

/*====================================
 =            Apple Positions            =
 ====================================*/
.leftappleimage {
	position: absolute;
	height: 14%;
	right: 31.3%;
	top: 23.3%;
}
.rightappleimage {
	position: absolute;
	right: 2%;
	height: 14%;
	top: 23.3%;
}

.floorappleimage00 {
	position: absolute;
	right: 31%;
	height: 14%;
	bottom: 6%;
}
.floorappleimage01 {
	position: absolute;
	right: 26%;
	height: 14%;
	bottom: 8%;
}
.floorappleimage02 {
	position: absolute;
	right: 21%;
	height: 14%;
	bottom: 6%;
}
.floorappleimage03 {
	position: absolute;
	right: 16%;
	height: 14%;
	bottom: 8%;
}
.floorappleimage04 {
	position: absolute;
	right: 11%;
	height: 14%;
	bottom: 6%;
}
.floorappleimage05 {
	position: absolute;
	right: 6%;
	height: 14%;
	bottom: 8%;
}
.floorappleimage06 {
	position: absolute;
	right: 1%;
	height: 14%;
	bottom: 6%;
}
.floorappleimage07 {
	position: absolute;
	right: -10%;
	height: 14%;
	bottom: 8%;
}
.floorappleimage08 {
	position: absolute;
	right: 17%;
	height: 14%;
	margin-top: 0%;
}
.floorappleimage09 {
	display: none;
	position: absolute;
	right: 42.5%;
	height: 14%;
	bottom: 6%;
}

.floorappleimage10 {
	position: absolute;
	right: 42.5%;
	height: 14%;
	bottom: 6%;
}

.topappleimage00 {
	position: absolute;
	right: 14%;
	height: 14%;
	bottom: 78%;
}
.topappleimage01 {
	position: absolute;
	right: 28%;
	height: 14%;
	bottom: 78%;
}
.topappleimage02 {
	position: absolute;
	right: 42%;
	height: 14%;
	bottom: 78%;
}
/* Basket */
.floorbasketimage00{
	position: absolute;
	right: 38%;
	height: 15%;
	bottom: 3%;
}
.floorbasketimage01{
	position: absolute;
	right: 2%;
	height: 15%;
	bottom: 3%;
}

.floorbasketimage02{
	position: absolute;
	right: 32%;
	height: 15%;
	bottom: 3%;
}

.floorbasketimage03{
	position: absolute;
	right: 17%;
	height: 15%;
	bottom: 28%;
}

.floorbasketimage04{
	position: absolute;
	right: 32%;
	height: 15%;
	bottom: 53%;
}

.floorbasketimage05{
	position: absolute;
	right: 2%;
	height: 15%;
	bottom: 53%;
}

/* Animating Classes */
.falling {
	animation: fall_top 1s;
	-webkit-animation: fall_top 1s;
}

.hit {
	animation: hit-top 0.5s linear;
	-webkit-animation: hit-top 0.5s linear;
}

.roll {
	animation: rot 1.5s ease-in;
	-webkit-animation: rot 1.5s ease-in;
	animation-delay: 0.48s;
}

.disappear {
	animation: fades 1.5s ease-in;
	-webkit-animation: fades 1.5s ease-in;
}

.slide-right {
	animation: to-right 1.5s linear;
	-webkit-animation: to-right 1.5s linear;
}

/* animations */

/* Falling on hand animation */

@-webkit-keyframes
fall_top {
0%   {margin-top: -5%;}
100% {margin-top: 13%;}
}
@keyframes
fall_top {
0%   {margin-top: -5%;}
100% {margin-top: 13%;}
}

/* Defining a circular arc extending 60 degrees of radius 650%
   using first rotate-translate-rotate combination
   Second combination defines the number of times the apple rotates */

@keyframes
rot {
0% { transform: rotate(60deg) translate(-650%) rotate(-60deg);}
100% { transform: rotate(0deg) translate(-650%) rotate(720deg);}
}
@-webkit-keyframes
rot {
0% { transform: rotate(60deg) translate(-650%) rotate(-60deg);}
100% { transform: rotate(0deg) translate(-650%) rotate(720deg);}
}

/* Hitting head animation */
@-webkit-keyframes
hit-top {
0%   {margin-top: -10%;}
100% {margin-top: 2%;}
}
@keyframes
hit-top {
0%   {margin-top: -10%;}
100% {margin-top: 2%;}
}

/* Fade-out animation */
@-webkit-keyframes
fades {
0%   {opacity: 1;}
100% {opacity: 0;}
}
@keyframes
fades {
0%   {opacity: 1;}
100% {opacity: 0;}
}

/* slide-right animation */
@-webkit-keyframes
to-right {
0%   {right: 38%;}
100% {right: 2%;}
}
@keyframes
to-right {
0%   {right: 38%;}
100% {right: 2%;}
}
/*=====  End of Custom Style  ======*/

/*=====  End of Apple Block  ======*/

.textgreen {
	color: #93C496;
}

.textred {
	color: #E06666;
}

/* animations */

/* Falling on hand animation */

@-webkit-keyframes
fall_top {
0%   {margin-top: -5%;}
100% {margin-top: 13%;}
}
@keyframes
fall_top {
0%   {margin-top: -5%;}
100% {margin-top: 13%;}
}

/* Defining a circular arc extending 60 degrees of radius 650%
   using first rotate-translate-rotate combination
   Second combination defines the number of times the apple rotates */

@keyframes
rot {
0% { transform: rotate(60deg) translate(-650%) rotate(-60deg);}
100% { transform: rotate(0deg) translate(-650%) rotate(720deg);}
}
@-webkit-keyframes
rot {
0% { transform: rotate(60deg) translate(-650%) rotate(-60deg);}
100% { transform: rotate(0deg) translate(-650%) rotate(720deg);}
}

/* Hitting head animation */
@-webkit-keyframes
hit-top {
0%   {margin-top: -10%;}
100% {margin-top: 2%;}
}
@keyframes
hit-top {
0%   {margin-top: -10%;}
100% {margin-top: 2%;}
}

/* Fade-out animation */
@-webkit-keyframes
fades {
0%   {opacity: 1;}
100% {opacity: 0;}
}
@keyframes
fades {
0%   {opacity: 1;}
100% {opacity: 0;}
}

/* slide-right animation */
@-webkit-keyframes
to-right {
0%   {right: 38%;}
100% {right: 2%;}
}
@keyframes
to-right {
0%   {right: 38%;}
100% {right: 2%;}
}
/*=====  End of Custom Style  ======*/
.ones-box1 {
    background: #0EB8B4;
    border-radius: 2vmin;
    top: 57%;
    left: 21%;
    font-size: 4vmin;
    color: white;
    border: none;
}
.tens-box1 {
    border-radius: 2vmin;
    top: 57%;
    left: 12.5%;
    font-size: 4vmin;
    background-color: #0EB8B4;
    border: none;
    color: white;
}
.toptext {
    color: #E71861;
    font-family: happymonkey;
    font-size: 4vmin;
    font-weight: bold;
}

.pnkBg{
	background: #f2c2e8;
}
@media screen and (min-aspect-ratio: 4/3) {
    /*vh*/
    .sidepara > p {
		font-size: 3.5vh;
    }

}
