@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}
@font-face {
    font-family:pangolin;
    src: url(../../../../../fonts/Pangolin-Regular.ttf);
}
.place_value {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.place_value, .place_value * {
	position: relative;
	margin: 0;
	padding: 0;
}

.place_value .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.place_value .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}
/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: relative;
	margin-top: 10%;
	/*border   : 1px solid green; */
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

img.singleimgstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 1%;
	width: 40%;
}

div.imageblock label {
	position: absolute;
	right: 59%;
	left: 10%;
	text-align: right;
}
/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: white;
	font-size: 9vh;
	font-family: pangolin;
	margin-top: -31%;
	width: 100%;
}

/*====================================
 =            Digit Block            =
 ====================================*/

div.digitblock {
	position: relative;
	width: 100%;
	height: 100%;
	bottom: 42%;
	left: 30%;
}
div.contentblock  {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    resize: none;
    outline: none;
    border: none;
}
div.contentblock input {
	z-index: 200;
	position: absolute;
	text-align: center;
	width: 8%;
	height: 10%;
	resize: none;
	border: 4px solid #fff;
}
div.digitblock > p {
	position: absolute;
	text-align: center;
	margin-top: 1%;
	width: 8%;
	font-size: 4vmin;
	/*padding: 0.1% 0.4% 0.1% 0.4%;*/
	resize: none;
}

.digit-box {
    background: #0EB8B4;
    border-radius: 2vmin;
    top: 75%;
    left: 21%;
    font-size: 4vmin;
    color: white;
}
.label-box {
    position: absolute;
    font-size: 2.5vmin;
    top: 85%;
    left: 21%;
		color: #7B74D4;
		font-family: sniglet;;
}
/*=====  End of Digit Block  ======*/

.sidepara {
	float: left;
	margin-top: 1%!important;
	text-align: left;
	padding: 3%;
	width: 50%;
	color: #333;
	z-index: 10;
}

.sidepara > p {
	margin-top: 1%;
	text-align: left;
	padding: 1.5%;
	color: #595959;
}

.sideimage {
	position: absolute;
	height: 79%;
	margin-top: 8%;
	right: 3%;
}
.pnkBg{
	background: #f2c2e8;
}
/*=====  End of Custom Style  ======*/
@media screen and (min-aspect-ratio: 4/3) {
    /*vh*/
    .sidepara > p {
		font-size: 3.5vh;
    }

}
.firstpagebackground{
	background: url("../images/place-value.jpg");
	background-size: cover;
}
@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 7vh;
	}
}
@media (max-aspect-ratio:4/3){
	.lesson-title{
		font-size: 4vw;
	}
}
