.headTitle
{

	width: 100%;
	text-align: center;

	font-size: 2em;
	color:#020569;
	text-shadow:
	3px 3px 0 #fff,
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}


#figBox
{
	width: 100%;

	position: relative;
}

.drawme
{

	/*background: #fff;
	border: #000 2px dashed;*/
	width: 100%;
	/* margin: 3% auto 1%;

	position: relative;
	text-align: center; */


}

.myDrawclass
{
	width: 60%;
	display: inline-block;

	vertical-align: top;
	margin-right: 2%;
}
#fImg3
{
	width:100%;
}
.textBoxFor
{
	width: 40%;
display: inline-block;
font-size: 1.1em;
position: absolute;
top: 20%;

}
.halfcircle
{
	width: 47%;
	display: inline-block;
	margin: 1%;
}
.halfcircle img
{
	width: 100%;
}
#colorRed
{
	color:red;
}
#nextbtn
{
	bottom: 0%;
	right: 0%;
	position: absolute;
	font-size: 2.2em;
	display: none;
	cursor: pointer;
	width: 6%;
}

#textFirst
{
	margin-top: 20%;
	border:#653C68 1px solid;
	background: #fff;
}

.textPlz
{
	width: 100%;
	font-size: 1.2em;

	color: blue;
	text-align: center;
	padding: 1.3%;
	border-radius: 10px;
}


.textDown
{
	border-top: 2px solid;
    width: 80%;
    margin: auto auto auto 17% !important;
    text-align:center;
}

.leftTextbx
{
	position: relative;
	margin-bottom: 4%;
}

#equalto
{
	position: absolute;
	top:10%;
	left: 10%;
	font-size: 1.5em;
}

#textshow1,
#textshow2,
#textshow3
{
	text-align: left;
}

#textshow1 span{

	margin-left: 17%;
}


#textshow2,#textshow3
{
	margin-left: 25%;
}

#equalTo2,
#equalTo3
{
	position: absolute;
	top:19%;
	left: -20%;
	font-size: 1.5em;
}


.labelObj
{
	color: blue;
}

#textNo6
{
	margin-top: 6%;
}

#repeatBtn{
	width: 6%;
}
.cover_image{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 100;
}
.cover_text{
	position: absolute;
	z-index: 20000;
	top: 5%;
	left: 52%;
	transform: translate(-50%);
	font-size: 5vh;
	width: 64%;
	font-family: comicSans;
}
