<script type="text/javascript">
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("../../../../css/common-exercise/template_exercise_mcq_picture_choices_1.css");
     
    $cssLoader("exercise/css/exercise.css");
</script>


<div class="activity_container">
  <div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
      {{#if exetype1}}
        {{#each exetype1}}
            <!-- <p class="question{{ques_class}}" data-highlight="{{datahighlightflag}}"	data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p> -->
            <div class="{{optionsdivclass}}">
              {{#each exeoptions}}
                  <div class="optionscontainer {{optcontainerextra}}">
                      <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>

                      <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">

                      <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
                  </div>
              {{/each}}
            </div>
        {{/each}}
       {{/if}}

			{{#each imgcontainer}}
				<div class="{{img_containerclass}}">
          <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
					{{#if box}}
						{{#each box}}
							<div class="{{boxclass}}"></div>
						{{/each}}
					{{/if}}
				</div>
			{{/each}}

      {{#each extratxtdiv}}
        <div class="questndiv">
          <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
        </div>
      {{/each}}

      {{#each extratxtblock}}
          <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
      {{/each}}

			{{#each imageblock}}
        {{#if imgindiv}}
          <div class="{{qnclddivclass}}">
            {{> imagecontent}}
          </div>
          {{else}}
          	{{> imagecontent}}
        {{/if}}
    	{{/each}}

      {{#each fullboxcontainer}}
        <div class="{{fullboxcontainerclass}}">
          {{#each innerbox}}
            <div class="{{innerboxclass}}">
              {{#each boxtxt}}
              <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
              {{/each}}
            </div>
          {{/each}}
          <img src="images/correct.png" class="boxcorincor {{startposextra}} corctopt">
          <img src="images/wrong.png" class="boxcorincor {{startposextra}} wrngopt">
        </div>
      {{/each}}


			</div>
		</div>
	</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript" src="js/common-exercise/template_exercise_mcq_picture_choices_1.js"></script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise.js");
</script>
