<!--
	TODO: lwt us clean this up
-->
<!-- <!DOCTYPE html>
<html lang="en"> -->
   <!--  <head>
       <meta charset="utf-8" >
       Always force latest IE rendering engine (even in intranet) & Chrome Frame
   		Remove this if you use the .htaccess
   		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <title>Handlebars Demo</title> -->
        <!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<!--         <link rel="stylesheet" href="css/page1.css" /> -->
		<!-- 
		<script src="js/jquery-1.12.4.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="js/handlebars-3.0.3.js"></script>
		<script src="js/page1.js"></script> -->
		<!-- <script src="js/draganddrop.js"></script> -->
   
    	<div class="maincontainer">
			<div class="board"></div>
			<div class="nextBtn myNextStyle"></div>
			<div class="prevBtn myPrevStyle"></div>
		</div>
		
		<script id="general-template" type="text/x-handlebars-template">
			{{! update templatecontains data for if it has header, instruction, headerinstruction
				or only has content --}}
				{{#if hasheaderblock}}
					<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
				{{else}}
					<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
				{{/if}}
				{{#if divtosnap}}<div class="{{snaptoobject}}"></div>{{/if}}

		 			{{! header block start--}}
						{{#if headerblock}}
							<div class="headerblock">
						{{#each headerblock}}
							{{> textcontent}}
						{{/each}}
							</div>
						{{/if}}
					{{! header block end--}}
			
					 {{! if there is a filter div present--}}
					    {{#if filterdiv}}
					        <div class="{{filterdivclass}}">
					        	 {{#each filtertextblock}}
					                    {{> textcontent}}
					             {{/each}}
					            {{#if filterimageblock}}
					            <div class="imageblock {{imageblockadditionalclass}}">
					                    {{#each filterimageblock}}
					                        {{> imagecontent}}
					                    {{/each}}
					            </div>
					            {{/if}}
					        </div>
					    {{/if}}
					    {{! end of code for filter div--}}
    
    
							{{! content block starts--}}
								<div class="contentblock {{additionalclasscontentblock}}">
									{{! content block content wrapper is used for content orientation i.e. center 
										horizontally or vertically}}
										{{#if contentblocknocenteradjust}}
											<div class = "coverboardfull">
										{{else}}
											<div class = "vertical-horizontal-center">
										{{/if}}
										</div>
				  				{{#if pagedividevertical}}
								<div class="wrapperIntro {{justClass}} sec">
							        <div class="{{leftsidediv}}"> 
							        
									</div>
							
									<div class="{{rightsidediv}}"> 
										
									</div>
							    </div>
								{{/if}}
									{{! if the content has a upperblock of texts--}}
										{{#if uppertextblock}}
											<div class ="textblock {{uppertexttopclass}} {{verticla-horizontal-center}} ">
												{{{firstpagetitle}}}
											{{#if contentblocknocenteradjust }}
												<div class ="verticla-horizontal-center">
											{{/if}}
											
											{{#each uppertextblock}}
												{{>textcontent}}
											{{/each}}
													
											{{#if contentblocknocenteradjust }}
												</div>
											{{/if}}
											</div>
										{{/if}}
										
										{{! draggable image block if the content contains any draggable object}}
										{{#if draggableimageblock}}
										<div class="draggableimageblock {{imageblockadditionalclass}}">
											{{#if contentblockcenteradjust}}
												<div class= "verticla-horizontal-center">
											{{/if}}
											
											{{#each draggableimageblock}}
												{{>imagecontent}}
											{{/each}}
											
											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}
										
										{{! image block if the content contains any images }}
										{{#if imageblockadditionalclass}}
											<div class={{"imageblockadditionalclass"}}>
										{{/if}}
										
										{{#each flipcontainer}}
										<section class="{{sectioncontainer}}">
										  <div class="card">
										    <figure class="front1">{{{animalname}}}</figure>
										    <figure class="back1">
										     <div class="imgcaption">{{{animalname}}}</div>

										    	<img id="{{imgid}}" class="{{flipimgclass}}" src="{{imgsrc}}" height="100%" width="100%" style="border-radius: 25px;" />
										    </figure>
										    
										  </div>
										</section>
										{{/each}}


										{{#if imageblock}}
										<div class="imageblock">
											{{#if contentblockcenteradjust}}
												<div class= "vertical-horizontal-center">
											{{/if}}
											
											{{#each imageblock}}
												{{>imagecontent}}
											{{/each}}
											
											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
											
											{{#each extradivarray}}
											<div class="{{extradiv}}"></div>
											{{/each}}
										</div>
										{{/if}}
										
										{{#if imageblockadditionalclass}}
											</div>
										{{/if}}
										
										{{#if lowertextblock}}
										<div class="textblock {{lowertextblockadditionalclass}}" >
											{{#if contentblocknocenteradjust}}
												<div class="vertical-horizontal-center">
											{{/if}}
											{{#each lowertextblock}}
												{{>textcontent}}
											{{/each}}
										
											{{#if contentblocknocenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}
								</div>
				</div>
		</script>
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="textcontent-partial" type="text/x-handlebars-template">
			<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" 
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
		</script>
		
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="imagecontent-partial" type="text/x-handlebars-template">
			
					
				
			{{#each imagetoshow}}
				<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
			{{/each}}
			<br>
			{{#each imagetodrop}}
				<div class="{{imgtodropclass}}">
					<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>	
				</div>
			{{/each}}
			{{#if imagelabels}}
				{{#each imagelabels}}
					<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
						data-highlightcustomclass="{{datahighlightcustomclass}}" 
						>{{{imagelabeldata}}}</label>
						
				{{/each}}
			{{/if}}
			
		</script>
		
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="definitioncontent-partial" type="text/x-handlebars-template">
			<img src="{{definitionimagesource}}" />
			<figcaption>{{definitiontextdata}}</figcaption>
			<p class ="definitiontextstyle" data-highlight="{{datahighlightflag}}" 
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{definitioninsrtuctiondata}}</p>
		</script>

<!--
	TODO: let us load the jquery-ui.min.js directly and use <script tag directly
-->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>

