.leftgirl {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 18%;
    top: 50%;
    height: 80%;
}

.leftman {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 10%;
    top: 70%;
    height: 45%;
}

.thebg1{
  background-color: #F1DDCF;
}

.thebg2{
  background-color: #EA9999;
}

.thebg3{
  background-color: #A89B8C;
}

.pinkbg {
  background: #EA9999;
    height: 100%;
    width: 35%;
    position: absolute;
    left: 0%;
}

.textfade1 {
  position: absolute;
  left: 42.5%;
  width: 53%;
  top: 24%;
  text-align: left;
}

.bigtext {
    position: absolute;
    left: 63%;
    width: 67%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 3vw;
}

@media(min-aspect-ratio:4/3){
	.bigtext{
		font-size: 4.5vh;
	}
}

[class^="fademe"] {
    display: none;
}

.fadethis{
  opacity: 0;
  animation: fadetext 1s linear forwards;
}

@keyframes fadetext {
  100%{
    opacity: 1;

  }
}

.bluetxt{
  color: #5772E6;
  text-decoration: underline;
}

.cld1, .cld2{
    position: absolute;
    width: 18%;
}

.cld1 {
    top: 11%;
    left: 1%;
}

.cld2 {
    top: 28%;
    left: 15%;
}

.formovegirl {
  width: 13%;
  position: absolute;
  left: 0%;
  top: 38%;
  background: #EA9999;
  padding: 1% 1% 0% 1%;
}

.formovetext {
  background: #8EE3DF;
  padding: 4%;
  height: 20%;
  width: 87%;
  left: 13%;
  top: 38%;
}

.alreadyup{
  top: 0%;
}

.moveup{
  animation: letsfly 2s ease-out forwards;
}

@keyframes letsfly {
  100%{
    top: 0%;
  }
}

.bedroom1{
  height: 80%;
  top: 20%;
  position: absolute;
  left: 0%;
}

.mi_ques {
  position: absolute;
  top: 20%;
  left: 45%;
  background: red;
  padding: 1%;
  width: 55%;
  background: #A89B8C;
  color: white;
}

.hiddendiv{
  opacity: 0;
  animation: showthis 1s ease-out 2s forwards;
}

@keyframes showthis {
  100%{
    opacity: 1;
  }
}

[class*="diybutton"] {
  position: absolute;
  transform: translate(-50%,-50%) scale(0);
  width: 40%;
  left: 70%;
  font-size: 1.4vw;
  background: #52AAC4;
  padding: 1%;
  border-radius: 0.5em;
  color: white;
  font-family: sniglet;
  animation: buttanim 0.7s ease-out 2s forwards;
  border: 0.2em solid #52AAC4;
  transition-duration: 0.2s;
  text-align: center;
}

@media (min-aspect-ratio: 4/3){
	[class*="diybutton"]{
    font-size: 3vmin;
	}
}

@keyframes buttanim {
  70%{
    transform: translate(-50%,-50%) scale(1.1);
  }
  80%{
    transform: translate(-50%,-50%) scale(1);
  }
  90%{
    transform: translate(-50%,-50%) scale(1.1);
  }
  100%{
    transform: translate(-50%,-50%) scale(1);
  }
}

.diybutton-1{
  top: 50%;
}

.diybutton-2{
  top: 70%;
}

.forhover:hover{
  cursor: pointer;
  background: #f9cb9c;
  border: 0.2em solid #e69138;
  color: black;
}

.icon-one {
  transform: translate(-50%,-50%);
  width: 5%;
  left: 95%;
  top: 50%;
  position: absolute;
}

.icon-two {
  transform: translate(-50%,-50%);
  width: 5%;
  left: 95%;
  top: 70%;
  position: absolute;
}

.mi-right-text{
  position: absolute;
  top: 25%;
  left: 45%;
  padding: 1%;
  width: 55%;
}

.no-text{
  color: #5772E6;
  font-style: italic;
  font-weight: bold;
}

.middletext {
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  font-size: 5vw;
}

@media (min-aspect-ratio: 4/3){
	.middletext{
    font-size: 7vh;
	}
  .fntbg{
    font-size: 10vh;
  }
}

.downman {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 10%;
  top: 100%;
  height: 45%;
}

.redbox, .yellowbox, .bluebox{
  position: absolute;
  transform: translate(-50%);
  color: white;
  padding: 4%;
  border-radius: 2em;
  border: 0.1em solid #e4e4e4;
}

.redbox {
  left: 50%;
  top: 10%;
  background: #E06666;
  width: 90%;
}

.yellowbox {
  left: 25%;
  top: 50%;
  background: #F7D262;
  width: 40%;
  padding: 6% 4%;
}

.bluebox {
  left: 75%;
  top: 50%;
  background: #87B8FD;
  width: 40%;
  padding: 6% 4%;
}

.sp-1 {
  top: 58%;
  left: 16%;
  width: 33%;
  height: 31%;
}

[class*="micon"] {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 5%;
  z-index: 4;
  top: 56%;
}

.micon-one{
  left: 9%;
}

.micon-two{
  left: 40%;
}

.micon-three{
  left: 90%;
}

.hightext1{
  color: #D5AC00;
}

.hightext2{
  color: #5772E6;
}

.girlcolchng{
  background: #F8FCE4;
}

.textcolchng{
  background: #F0DFAD;
}

[class*="newdiybtn"] {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 40%;
  left: 50%;
  font-size: 1.4vw;
  background: #AA4465;
  padding: 1%;
  border-radius: 0.5em;
  color: white;
  font-family: sniglet;
  border: 0.2em solid #AA4465;
  transition-duration: 0.2s;
  text-align: center;
}

@media (min-aspect-ratio: 4/3){
	[class*="newdiybtn"]{
    font-size: 3vmin;
	}
}

.newdiybtn-1{
  top: 50%;
}

.newdiybtn-2{
  top: 70%;
}

.forhover2:hover{
  cursor: pointer;
  background: #CFE2F3;
  border: 0.2em solid #6FA8DC;
  color: black;
}

.icon2-one {
  transform: translate(-50%,-50%);
  width: 5%;
  left: 75%;
  top: 50%;
  position: absolute;
}

.icon2-two {
  transform: translate(-50%,-50%);
  width: 5%;
  left: 75%;
  top: 70%;
  position: absolute;
}

.girlspcl, .boyspcl{
  position: absolute;
  width: 17%;
}

.girlspcl{
  bottom: 50%;
  left: 1%;
}

.boyspcl{
  bottom: 0%;
  right: 1%;
}

.brownbg {
  background: #CFBEAC;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
}

.sp-2 {
    top: 22%;
    left: 16%;
    width: 32%;
    height: 23%;
}

.sp-3 {
    top: 56%;
    left: 46%;
    width: 37%;
    height: 41%;
}

.sp-2 > p, .sp-3 > p {
  position: absolute;
  width: 84%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 2.2vh;
}

.sp-2 > p{
  left: 13%;
}

.sp-3 > p{
  left: 3%;
}

[class*="fakebtn"] {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 40%;
  font-size: 1.4vw;
  background: #AA4465;
  padding: 1%;
  border-radius: 0.5em;
  color: white;
  font-family: sniglet;
  border: 0.2em solid #AA4465;
  transition-duration: 0.2s;
  text-align: center;
}

@media (min-aspect-ratio: 4/3){
	[class*="fakebtn"]{
    font-size: 3vmin;
	}
}

@media (max-aspect-ratio: 4/3){
	.sp-2 > p, .sp-3 > p {
    font-size: 1.6vw;
	}
}
.fakebtn-1 {
  top: 25%;
  left: 78%;
}

.fakebtn-2{
  top: 75%;
  left: 22%;
}

.corr-fake{
  background: rgb(190, 214, 47) none repeat scroll 0% 0%;
  border: 5px solid rgb(222, 239, 60);
  color: white;
}
