/*main lab container*/
#lab2{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;

	/*background-color: #37C2DA;*/

	overflow: hidden;

	/*change only this*/
	background-image: url("../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#lab2 *{
	margin:0;
	padding:0;
}
/*---------------------------------------------------------------------------------------------*/
/*rotate right*/
.rotateRight
	{
	  animation-duration: 30s;
	  animation-name: RotateR;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;

	  -webkit-animation-duration: 30s;
	  -webkit-animation-name: RotateR;
	  -webkit-animation-timing-function: linear;
	  -webkit-animation-iteration-count: infinite;
	}

	@keyframes RotateR{
	  0% {
	      transform: rotate(0deg) ;
	    -webkit-transform: rotate(0deg) ;
	    -moz-transform: rotate(0deg) ;
	    -o-transform: rotate(0deg) ;
	    -ms-transform: rotate(0deg) ;
	 }

  	100% {
	        transform: rotate(360deg) ;
	    -webkit-transform: rotate(360deg) ;
	    -moz-transform: rotate(360deg) ;
	    -o-transform: rotate(360deg) ;
	    -ms-transform: rotate(360deg) ;
	     }
	}

	@-webkit-keyframes RotateR{
	  0%{
	      transform: rotate(0deg) ;
	    -webkit-transform: rotate(0deg) ;
	    -moz-transform: rotate(0deg) ;
	    -o-transform: rotate(0deg) ;
	    -ms-transform: rotate(0deg) ;
	  }


	  100%{
	       transform: rotate(360deg) ;
	    -webkit-transform: rotate(360deg) ;
	    -moz-transform: rotate(360deg) ;
	    -o-transform: rotate(360deg) ;
	    -ms-transform: rotate(360deg) ;
	  }
}

/*rotate right*/
.rotateLeft
{
  animation-duration: 30s;
  animation-name: RotateL;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 30s;
  -webkit-animation-name: RotateL;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes RotateL{
  0% {
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }

  100% {
        transform: rotate(-360deg) ;
    -webkit-transform: rotate(-360deg) ;
    -moz-transform: rotate(-360deg) ;
    -o-transform: rotate(-360deg) ;
    -ms-transform: rotate(-360deg) ;
     }
}

@-webkit-keyframes RotateL{
  0%{
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }


  100%{
       transform: rotate(-360deg) ;
    -webkit-transform: rotate(-360deg) ;
    -moz-transform: rotate(-360deg) ;
    -o-transform: rotate(-360deg) ;
    -ms-transform: rotate(-360deg) ;
  }
}

/*for play pause animation effects of above animated class*/
.pauseMe{
	-webkit-animation-play-state: paused; /* Safari and Chrome */
    animation-play-state: paused;
}

/********************************************************************************************/
/*main part */
#mainPart{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;

	/*border:1px solid red;*/
}

/*heading*/
#mainPart > p:nth-of-type(1){
	/*display: none;*/
	position: absolute;
	top:5%;
	left:0%;
	width:100%;
	text-align: center;
	font-size: 1.7em;
	color: rgb(200,70,30);
	text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.3);
}

/*effects list*/
#effectList1{
	position: absolute;
	top:30%;
	left:5%;
	width:30%;
	height:40%;
	text-align:left;
	font-size: 1.3em;
	/*line-height:10em;*/
	text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.3);
	/*border: 1px solid red;*/
}

#effectList1 > li:nth-of-type(1){
	position: absolute;
	top:0%;
	left:0%;
	color:grey;
	background-color: rgb(255, 181, 202);
	border-radius: 5%;
	padding: 3% 3%;
	box-shadow: 0 8px 6px -5px black;
}

#effectList1 > li:nth-of-type(2){
	position: absolute;
	bottom:0%;
	left: 0%;
	color:white;
	background-color: rgba(0, 145, 182,0.7);
	border-radius: 5%;
	padding: 3% 3%;
	box-shadow: 0 8px 6px -5px black;
}


/*effects list*/
#effectList2{
	position: absolute;
	top:30%;
	right:5%;
	width:30%;
	height:40%;
	text-align:right;
	font-size: 1.3em;
	/*line-height:10em;*/
	text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.3);
	/*border: 1px solid red;*/
}

#effectList2 > li:nth-of-type(1){
	position: absolute;
	top:0%;
	right:0%;
	color:grey;
	background-color:rgb(237, 197, 63);
	border-radius: 5%;
	padding: 3% 3%;
	box-shadow: 0 8px 6px -5px black;
	margin-bottom: 140%;
}

#effectList2 > li:nth-of-type(2){
	position: absolute;
	bottom:0%;
	right: 0%;
	color:white;
	background-color: rgba(10,180,50,0.7);
	border-radius: 5%;
	padding: 3% 3%;
	box-shadow: 0 8px 6px -5px black;
}

/*instruction*/
#mainPart > p:nth-of-type(2){
	/*display: none;*/
	position: absolute;
	top:90%;
	left:0%;
	width:100%;
	text-align: center;
	font-size: 1.5em;
	color: rgb(100,70,30);
	text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.3);
	cursor: none;
}

/*state div*/
#state{
	position: absolute;
	top:30%;
	left:35%;
	width:27%;
	height:45%;

	/*border: 0.3em solid rgba(20,0,0,0.5);*/
	border-radius:50%;
	background-image: url("image/globe.png");
	background-size: contain;
}

/*images inside state*/
#state > figure{
	width:40%;
	height:38%;
}

#state > figure:hover{
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,229,0,1) 0%, rgba(126,232,135,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,229,0,1)), color-stop(100%,rgba(126,232,135,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,229,0,1) 0%,rgba(126,232,135,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,229,0,1) 0%,rgba(126,232,135,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,229,0,1) 0%,rgba(126,232,135,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(255,229,0,1) 0%,rgba(126,232,135,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe500', endColorstr='#007ee887',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	cursor:pointer;
	border: 0.3em solid rgba(0,0,0,0.3);
	border-radius:50%;
}

#s{
	position: absolute;
	top:-15%;
	left:32%;
}


#g{
	position: absolute;
	top:50%;
	left:80%;
}

#l{
	position: absolute;
	top:50%;
	left:-10%;
}

#state > figure > img{
	width:90%;
}

#state > figure > figcaption{
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

#s > figcaption{
	color:#87C440;
}

#l > figcaption{
	color:#4444FF;
}

#g > figcaption{
	color:#A26631;
}

/*inside the state divs*/
.insideState{
	display: none;
	position: absolute;
	top:1%;
	left:1%;
	width: 98%;
	height: 98%;

	box-shadow: 0.4em 0.4em 0.5em -0.1em black;
	border:0.2em solid rgba(0,0,0,0.2);
	border-radius: 1%;
}

#solid{
	background-color: #ECF0F1;
}

#liquid{
	background-color: #e9e9e9;
}

#gas{
	background-color: #F1EEBC;
}

/*insideState heading*/
.insideState > h1{
	position: absolute;
	top:2%;
	left:35%;
	width: 30%;
	text-align: center;
	color: black;
	border-radius:5%;
	box-shadow: 0em 0.1em 0.1em -0.05em black;
}

/*insideState box divs container*/
.insideState > div:nth-of-type(1){
	position: absolute;
	top:10%;
	left:0%;
	width:100%;
	height:80%;
	/*border:1px solid red;*/
}

/*box divs*/
.insideState > div:nth-of-type(1) > div{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	/*border:1px solid blue;*/
}

.insideState > div:nth-of-type(1) > div:nth-of-type(n+2){
	display: none;
}

/*different changes button div*/
.insideState > div:nth-of-type(2){
	position: absolute;
	top:90%;
	left:0%;
	width:100%;
	height: 10%;
	/*border:1px solid green;*/
	/*use of css flex here - promising eh!*/
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.insideState > div:nth-of-type(2) > p{
	background: #ffc835;
    -webkit-box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    -moz-box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    box-shadow: 0px 1px 0px 0px #ffd564 inset, 0px 0px 0px 4px #e6e6e6;
    -webkit-border-radius: 0.2%;
    -moz-border-radius: 0.2%;
    border-radius: 0.2%;
    text-shadow: 0px 1px 0px #ffe6a5;
    border-color: #ebae3e;
    border-width: 0.1em;
    border-style: solid;
    font-size: 1.1em;
    padding:100px;
    color: black;
    font-weight:bold;
    cursor:pointer;
}

.insideState > div:nth-of-type(2) > p:nth-of-type(1){
	background: #E04946;
}

/*close button*/
.closeState{
	position: absolute;
	top:3%;
	left:93%;
	width: 5%;
	height: 8%;
}

/*all insideState divs*/
.insideState > div > div > p{
	position:relative;
	top:3%;
	left:0%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	color:black;
}

.insideState > div > div > p:nth-of-type(2){
	top:10%;
}

 .insideState > div > div > img:nth-of-type(1){
	position:relative;
	top:5%;
	left:10%;
	width:80%;
	height: 60%;
}

.insideState > div > div > img:nth-of-type(2){
	position:relative;
	left:11%;
	width:6%;

}

/*these images are a bit different so specific properties are applied*/
#boxLs > img, #boxGs > img, #boxLt > img, #boxLv > img, #boxGv > img{
	left:32.5% !important;
	width:35% !important;
	height: 60% !important;
	cursor:pointer;
}

#boxLt > em, #boxLv > em, #boxGv > em{
	position: absolute;
	top:40%;
	right:75%;
	width:20%;
	text-align: center;
	cursor:none;
	z-index: 5;
	color:#8B0000;
	font-size: 1.3em;
}
