<script>
	$cssLoader("css/animate.min.css");
	$cssLoader("css/page4.css");
</script>
<div class="chapter">
	<div class="board">
	</div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>
<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
	{{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
    {{else}}
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

        <div class="contentblock {{contentblockadditionalclass}}">

			{{#if centerBlock}}
			<div class="center-text">
				{{#each centerBlock}}
					{{> textcontent}}
				{{/each}}
            </div>
			{{/if}}

            {{#if titleBlock1}}
            <div class="titleblock">
                {{#each titleBlock1}}
                    <p>{{textcontent}}</p>
                {{/each}}
            </div>
            {{/if}}

			{{#if titleBlock}}
			<div class="title-block">
				{{#each titleBlock}}
					{{> textcontent}}
				{{/each}}
			</div>
			{{/if}}

        	{{#if definitionBlock}}
            <div class="definition-block">
				{{#each definitionBlock}}
					{{> textcontent}}
				{{/each}}
            </div>
        	{{/if}}

			{{#if imageBlock}}
			<div class="image-block">
				{{#each imageBlock}}
					{{>imagecontent}}
				{{/each}}
			</div>
			{{/if}}

            {{#if teachBlock}}
            <div class="teach-block">
                {{#each teachBlock}}
                <table>
                    <tr>
                        <th>PRESENT</th>
                        <th>PAST</th>
                    </tr>
                    <tr>
                        <td class="present-word">{{presentWord}}</td>
                        <td class="past-word">{{pastWord}}</td>
                    </tr>
                </table>
                {{/each}}
            </div>
            {{/if}}
        </div> {{! content block end--}}

    </div>	{{! generalTemplateblock block end--}}
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
    <img class="{{imgclass}}" src="{{imgsrc}}"  data-answer="{{answer}}" alt="Image Missing">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
		<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script type="text/javascript" src="js/buzz.min.js"></script>
<script>
	$jsLoader("js/page4.js");
</script>
