
<script>
$cssLoader('css/shared.css');
$cssLoader('css/page4.css');

</script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

<div id="animalContent">
	<p id="head_title"></p>
	<p id="p4_2"></p>
	<div id="totalPage">

		<div class="imgBox drags" id="showImg"></div>

		<div class="imgBox dropbox" id="drop_1">
			<div class="dropimg"></div>
			<div  class="droptext" id="p4_3"></div>
		</div>

		<div class="imgBox dropbox" id="drop_2">
			<div class="dropimg"></div>
		<div  class="droptext" id="p4_4"></div>
		</div>

		<div class="imgBox dropbox" id="drop_3">
			<div class="dropimg"></div>
			<div  class="droptext" id="p4_5"></div>
		</div>

		<div class="imgBox dropbox" id="drop_4">
			<div class="dropimg"></div>
			<div  class="droptext" id="p4_6"></div>

		</div>

		<div class="imgBox dropbox" id="drop_5">
			<div class="dropimg"></div>
			<div  class="droptext" id="p4_7"></div>
		</div>
	</div>



</div>

<div  id="animalContent2">

</div>

<div class="expPopUp">
	<div class="expPopUpContent">

	</div>
</div>


<script type="text/x-handlebars-template" id="my-template">

			<p id="head_title">{{innerhead}}</p>
			<div id="insiderPage2">
				<div id="insidetxtBox2">

				<p>{{innerDesc}}<p>
				</div>
				<div id="insideimgBox2"><img src="" /></div>

			</div>
			<div class="nextPlay" id="innerNextBtn" datadef="{{dropbxid}}">
				{{{imgNextimgsrc}}}
			</div>


			<div id="insiderPage">
			<div id="insideimgBox"></div>
			<div id="insidetxtBox"></div>

			</div>



			<div  id="innerBtn" class="nextPlay">
				{{{imgNextimgsrc}}}
			</div>

			<div id="myExcpetion"></div>
</script>


<script type="text/x-handlebars-template" id="my-exp-template">
	<div class="nextPlay closebtn" id="closeExp">{{{imgCloseSrc}}}</div>
	<p class="expheader">{{popupTitle}}</p>
	<div class="expBox">

	</div>

</script>



<script type="text/x-handlebars-template" id="my-bldtype-template">
	<div class="nextPlay closebtn" id="closeExp">{{{imgCloseSrc}}}</div>
	<p class="bldheader">{{bldTitle}}</p>

	<p class="bldExp">{{bldExp}}</p>
	<div class="bldBox">
	<img src="{{bldimg1}}"><img src="{{bldimg2}}">
	</div>
	<p class="bldSum">{{bldSum}}</p>

</script>

<script>

$jsLoader('js/page4.js');

</script>
