.objdiv{
    position: absolute;
    bottom: 0;
    top: 39%;
    left: 1%;
}
.imgdiv1{
    position: absolute;
    width: 50%;
    float: left;
    left: 1%;
}
.question{
    position: absolute;
    width: 100%;
    float: right;
    right: 0;
    background-color: #81715E;
    height: 20%;
    color: white;
}
.option{
    position: absolute;
    width: 100%;
    float: right;
    right: 0%;
    top: 20%;
    background-color: #7EC7FF;;
    height: 80%;
}
.commonbtn{
    position: absolute;
    width: 19%;
    background-color: #594391;
    color: white;
    border-radius: 14px;
    height: 20%;
}
.centertext{
    position: relative;
    top:50%;
    transform:translateY(-50%);
    padding: 1% 1%;
    height: auto;
}
.option1{
    top:10%;
    left: 25%
}
.option2{
    top:10%;
    left:56%;
}
.option3{
    top:45%;
    left: 25%
}
.option4{
    top:45%;
    left:56%;
}
/*diy*/
.commonbtn:hover{
    transform: scale(1);
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:#43434B;
    border-radius: 9px;
    transition:0.8s;
    cursor: pointer;
}
.correctans{
    pointer-events: none;
    background-color: #98C02E;
    border:3px solid;
    border-color: #DEEF3C;
    border-radius:14px;
    color: white;
}
.wrongans{
    pointer-events: none;
    background-color:#FF0000;
    border:3px solid;
    border-color: #980000;
    color: white;
    border-radius: 3vmin;
}
.correctWrongImg{
    position: absolute;
    width: 22%;
    left: 106%;
    bottom: 39%;
}
