.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.textbox{
  position: absolute;
  top: 10%;
  left: 40%;
}

.coverpage{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  left: 0%;
}

.test{
  position: absolute;
  top: 45%;
  width: 30%;
  left: 37%;
  z-index: 2;
  font-size: 9.4vmin;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.text-inside{
  position: absolute;
  width: 100%;
  top: 44%;
}

.textcolor{
  color: #ff0000;
}

.village{
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
}

.sp-3 > p {
  position: absolute;
  width: 84%;
  left: 8%;
  top: 53%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-2 > p {
  position: absolute;
  width: 85%;
  left: 5%;
  top: 41%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-1>p{
  position: absolute;
  width: 84%;
  left: 15%;
  top: 40%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-0>p{
  position: absolute;
  width: 86%;
  left: 4%;
  top: 41%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-01>p{
  position: absolute;
  width: 86%;
  left: 14%;
  top: 41%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-02>p{
  position: absolute;
  width: 86%;
  left: 5%;
  top: 41%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-03>p{
  position: absolute;
  width: 86%;
  left: 13%;
  top: 41%;
  transform: translateY(-50%);
  padding: 4%;
  font-family: laila !important;
  font-size: 4.2vmin;
}

.sp-03{
  position: absolute;
  width: 28%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 21%;
  top: 20%;
  color: #595959;
  height: 21%;
}

.sp-02{
  position: absolute;
  width: 20%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 22%;
  top: 33%;
  color: #595959;
  height: 13%;
}

.sp-01{
  position: absolute;
  width: 20%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 21%;
  top: 51%;
  color: #595959;
  height: 14%;
}

.sp-0{
  position: absolute;
  width: 71%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 20%;
  top: 18%;
  color: #595959;
  height: 28%;
}

.sp-1{
    position: absolute;
    width: 35%;
    font-family: laila;
    font-size: 3.5vmin;
    right: 16%;
    top: 10%;
    color: #595959;
    height: 26%;
}

.sp-2{
  position: absolute;
  width: 35%;
  font-family: laila;
  font-size: 2.5vmin;
  right: 20%;
  top: 24%;
  color: #595959;
  height: 20%;
}

.sp-3{
  position: absolute;
  width: 55%;
  font-family: laila;
  font-size: 3.5vmin;
  right: 22%;
  top: 3%;
  color: #595959;
  height: 36%;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}


html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */


.question_img {
    color: #674EA7;
    position:  relative;
    top: 18%;
    font-size: 4vmin;
}


.optionsdiv_img {
    top: -28%;
    left: 54%;
    width: 50%;
    text-align: center;
    position: relative;
}

.optionscontainer {
    display: inline;
    position: relative;
    height: 100%;
}

.optionscontainer_img {
    position: relative;
    margin-bottom: 15%;
}

.optionscontainer_img:nth-child(1){
    margin-bottom: 22% !important;
}

.imagestartpos_img {
    width: 9%;
    margin-left: 35%;
    margin-top: 0%;
    position: absolute;
    left: 38%;
    visibility: hidden;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 550%;
    visibility: hidden;
}

.buttonsel {
    display: inline;
    background-position: 0% 0%;
    color: white;
    margin: 6%;
    font-size: 3vmin;
    height: 10% !important;
    padding: 8% 4%;
}

.circleback {
    background: url(../images/circle.png);
    background-size: 400% 100%;

}

.rectangleback {
    background: url(../images/rectangle.png);
    background-size: 400% 100%;

}

.triangleback {
    background: url(../images/triangle.png);
    background-size: 400% 100%;
    padding: 12% 6% 2% 6%;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover{
    background-position: 300% 0% !important;
}



.wrongans{
	background: #EA9999;
	color: #F66E20;
}

.rightans{
	background: #6AA84F;
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}
/*
 *
 * Text Block
 *
 */
.instruction {
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 1% 0;
    font-size: 2vw;
		background-color: #99e6e8;
}

.hidden {
	display: none!important;
}


/*
 *
 * Droppable Block
 *
 */

div.droppableblock {
	position: absolute;
	bottom: 1%;
	left: 0%;
	height: 65%;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: #fff9db;
	border: 2px solid #b7b7b7;
}

.droppablecontainer {
	flex: 1;
	position: relative;
	overflow: hidden;
	height: 100%;
	/*margin: 1%;*/
}

.droppablecontainer:nth-of-type(1){
	border-right: 2px solid #b7b7b7;
}

.droppable {
	height:100%;
	width:100%;
	border-radius: 2.5vmin;
	border: 2px solid yellow;
}

.droppableheader {
	height:87%;
	width:100%;
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	padding: 5%;
}

.droppable>img, .droppableheader>img {
	max-width:100%;
	max-height:100%;
}

.drop_class_1{
}

.drop_class_2{
}
/*
 *
 * Draggable Block
 *
 */
div.draggableblock {
    position: absolute;
    bottom: 0;
    left: 0%;
    top: 8%;
    height: 27%;
    width: 100%;
    bottom: 45%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1%;
    background-color: transparent;
}


.draggable {
	flex: 1;
	position: relative;
	z-index: 100;
	cursor: grab;
	overflow: hidden;
	width: 15%;
	margin:1% 5% 1% 5%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
}

.ui-draggable-helper{
	width: 10%;
}

.draggable>img {
	max-width:200%;
	max-height:200%;
	/*padding: 1%;*/
}
.dummy_class {
	border-width: 0px!important;
	cursor: auto!important;
}

.position_1{
	order: 1;
}
.position_2{
	order: 2;
}
.position_3{
	order: 3;
}
.position_4{
	order: 4;
}

.sliding {
	-webkit-animation: slidein1 1.5s linear 1 forwards;
	animation: slidein1 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein1{
	from{
		transform: translate(-100%,0);
	}
}

@keyframes slidein1{
	from{
		transform: translate(-100%,0);
	}
}

.identity {
    box-sizing: border-box;
    padding: 2%;
    font-weight: bold;
    border-bottom: 2px solid #b7b7b7;
    font-size: 1.7vw;
    background: #ffd966;
    color: white;
}
.hovercontent{
	top:40%;
	left:15%;
}
