body:lang(np), body:lang(np) * {

    font-family: laila !important;

}

.background{
    position: absolute;
    width:102%;
}
.diytext{
    position: absolute;
    width: 45%;
    height: 20%;
    top: 35%;
    left: 16%;
    font-size: 8vmin;
    z-index: 2;
}
.text1{
    position: absolute;
    width: 100%;
    height: 15%;
    color: #993399;
    top: 0%;
    font-size: 5.2vmin;
}
.rightdiv{
    position: absolute;
    height: 85%;
    top: 15%;
    right: 0%;
    background-color: #9bedf8;
    width: 42%;
}
.dropimage{
    position: absolute;
    top: 15%;
    width: 58%;

}
.draggable{
    position: absolute;
    width: 15%;
    height: 15%;
    text-align: center;
    background-color: #e452a9;
    border-radius: 10px;
    color: white;
    z-index: 99;
    cursor: pointer;
}

.violet {  /*1stoption*/
    bottom: 5%;
    left: 10%;
    width: 40%;
    height: 10%;
    background-color: #674ea7;
    font-size: 3.5vmin;
}

.blue{
    bottom: 43%;
    left: 62%;
}

.indigo{ /*2nd option*/
    bottom: 5%;
    left: 54%;
    width: 40%;
    height: 10%;
    background-color: #674ea7;
    font-size: 3.5vmin;
}

.green{
    bottom: 43%;
    left: 82%;
}
.yellow{
    bottom: 22%;
    left: 62%;
}
.orange{
    bottom: 22%;
    left: 82%;
}
.red{
    bottom: 2%;
    left: 62%;
}
.colourtext{
    position: absolute;
    width: 15%;
    height: 15%;
    text-align: center;
    background-color:white;
    border-radius: 10px;
    color: black;
    z-index: 2;
    border:5px solid #999999;
}

.violet1{
    bottom: 47%;
    left: 54%;
}
.indigo1{
    bottom: 32%;
    left: 78%;
}
.blue1{
    bottom: 31%;
    left: 2%;
}
.green1{
    bottom: 62%;
    left: 36%;
}
.yellow1{
    bottom: 62%;
    left: 12%;
}
.orange1{
    bottom: 60%;
    left: 75%;
}
.red1{
    bottom: 71%;
    left: 53%;
}
.draggable:hover{
    background-color: #d9d9d9;
    border:4px solid #666666 ;
    color: black;
    cursor: -webkit-grab;
    cursor: grab;
}

.correctans{
    background-color: #98c02e;
    border:4px solid #deef3c ;
    color: white;
}



.contentwithbg {
    width: 100%;
    height: 100%;
    background-color: #fff2cc;
}
.wrongans{
    pointer-events: none;
    background-color:#FF0000;
    border:4px solid;
    border-color: #980000;
}
.hovered{
    border: 0.2em dashed black;
    background: #E5E5E5;
    color: #E5E5E5;
}
.text{
    position: absolute;
    width: 44%;
    height: 9%;
    left: 25%;
    top: 12%;
    font-size: 3.5vmin;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.speechtxt1 {
    top:12%;
}

.speechtxt2 {
    position: absolute;
    top:21%;
}

.speechtxt3 {
    top:30%;
}

.speechtxt4 {
    top:39%;
}

.speechtxt5{
    top:48%;
}

.speechtxt6{
    top:57%;
}

.speechtxt7{
    top:66%;
}

.speechtxt8{
    top:75%;
}

.speechimg1 {
    left: 20%;
    top: 12%;
}
.speechimg2{
    left: 21%;
    top: 21%;
}
.speechimg3{
    left: 27%;
    top: 30%;
}
.speechimg4{
    left: 21%;
    top: 39%;
}
.speechimg5{
    left: 27%;
    top: 48%;
}
.speechimg6{
    left: 21%;
    top: 57%;
}
.speechimg7{
    left: 27%;
    top: 66%;
}
.speechimg8{
    left: 21%;
    top: 75%;
}
.speech{
    position: absolute;
    width:45%;
    width:45%;
    height:15%;
}
.speech >img{
    position: relative;
    width:100%;
}

.droppable p{
    color: white;
}


.people1 {
    position: absolute;
    width: 15%;
    left: 1%;
    top: 45%;
}
.people2 {
    position: absolute;
    width: 14%;
    right: 1%;
    top: 35%;
}
.people, .people_sec{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%,-50%);
}
.sundarDiv{
    position: absolute;
    width: 15%;
    height: 20%;
    top: 67%;
    left: 41%;
    display: none;
}
.sundar{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.width96{
    width: 96%;
}
.width55{
    width: 55%;
}