.definitionblock{
	font-size: 3vmin;
	top: 7%;
	width: 100%;
	text-align: left;
}

.text_story {
	background-color: #FFD966;
	border-radius: 15px;
}

.text_story1, .text_story2,
.text_story3, .text_story4, .text_story5 {
	border-radius: 15px;
	cursor: pointer;
}

.text_story1:hover, .text_story2:hover,
.text_story3:hover, .text_story4:hover, .text_story5:hover {
	background-color: #FFEA77;
	border-radius: 15px;
	opacity: 0.8;
}

.definitiontextstyle {
	width: 40%;
	margin-left: 30%;
	box-sizing: border-box;
	padding: 1% 0% 1% 3%;
}

.description_title{
	font-size: 5vmin;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 10;
	background-color: #8E7CC3;
	color: #fff;
	/*background-color: #A4F2FC;
	color: #F84A7D;*/
	border-bottom: 0.1em solid #D9D2E9;
	/*border-bottom: 0.1em solid #BAF7FA;*/
}

.description{
	font-size: 3.16vmin;
	border-radius: 0.5em;
	margin: 0.2em;
}

.writer{
	position: absolute;
	left: 65%;
	top: 3vmin;
	z-index: 10;
	color: #fff;
	/*color: #169384;*/
}

.left_50 {

    width: 50%;
    height: 80%;
    left: 25%;
    top: 48%;
    position: absolute;
    padding: 1em;
    transform: translateY(-50%);
    z-index: 5;
    font-size: 1.5vw;

}

.nextbtnpoem, .prevbtnpoem, .pausebtnpoem, .poempbtn, .replaybtnpoem {
    position: absolute !important;
    bottom: 7%;
    display: none;
    z-index: 1000000;
}

@media (min-aspect-ratio: 4/3){
	.left_50{
		font-size: 2.2vmin;
	}

}
