<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="order_numbers">
    <div class="board">Hello World!!! [Lesson]</div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}

    {{! if there is a filter div present--}}
    {{#if filterdiv}}
        <div class="{{filterdivclass}}">
        	 {{#each filtertextblock}}
                    {{> textcontent}}
             {{/each}}
            {{#if filterimageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                    {{#each filterimageblock}}
                        {{> imagecontent}}
                    {{/each}}
            </div>
            {{/if}}
        </div>
    {{/if}}
    {{! end of code for filter div--}}


    {{! if there is any dialog window in the page--}}
    	{{#each containsdialog}}
    		<div class="{{dialogcontainer}}">
    			<img class="{{dialogimageclass}}" src="{{dialogimagesrc}}"/>
    			<p class="{{dialogcontentclass}}">{{{dialogcontent}}}</p>
    		</div>

    	{{/each}}
    {{! end of dialog window template}}


    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentblocknocenteradjust}}
            <div class="vertical-horizontal-center">
        {{/if}}

           {{#if uppertextblock}}
            <div class="textblock {{addclass}} {{uppertextblockadditionalclass}}">
                {{#if contentblocktextnocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if contentblockimagenocenteradjust}}
                    <div class="vertical-horizontal-center">
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
            </div>
            {{/if}}

            {{#if hascanvasblock}}
              <!-- for canvasblock-->
            <div class="canvasblock" onload="{{onLoad}}">
                <canvas id={{canvasid}}>
                </canvas>
            </div>
            {{/if}}

            {{#if contentblockimagenocenteradjust}}
                    </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
            </div>
            {{/if}}

      {{#if inputfields}}
        <!--for inputfield -->
          <div class="inputfields">
              <p class="{{textclass}}" data-highlight = "{{datahighlightflag}}" data-highlightcustomclass = "{{data-highlightcustomclass}}"> {{{textdata}}}</p>
                  {{#each inputbox}}
                      <input {{doweneedit}} type ="{{inputtype}}" id = "{{inputid}}" class="{{inputtypeclass}}" data ="{{datahere}}" onkeyup="{{keyupfunction}}" name="{{inputtypename}}" value="{{inputtypevalue}}" placeholder ="{{plcholdertxt}}" maxlength={{maxlength}}>
                          {{#if inputspanvalue}}
                            <span class="inputspanclass">{{{inputspanvalue}}}</span>
                          {{/if}}
                    {{/each}}
          </div>
      {{/if}}


      {{#if flexbox}}
        <!--flexbox-->
      <div class = "hello">
      </div>
      {{/if}}



         {{#if contentblocknocenteradjust}}
            </div>
         {{/if}}
        </div>


    </div>

    {{! content block end--}}

</div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}"  data-answer="{{answer}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>


<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>

<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>
