<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page3.interest02.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<script type="text/javascript"
src="js/jquery-ui1.11.2/jquery-ui.min.js"></script>

<div class="exponential">

    <div class="board">
hello world
    </div>
</div>



<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
	<div class="lokhar"><img src="activity/grade8/math/math_unitary_02/image/your.png"/></div>
        <div class="titles">
           <!-- <div class="yourTurn"> {{yourTurn}}</div>-->
			<div class="Solve the following"> </div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea"></div>
    </div>
</script>
<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{firstlabel}} = </span><input type="text" class="base">
            <span class="check1"></span>
            <span class="powerString">{{secondlabel}} = </span>
            <input type="text" class="power">
            <span class="check2"></span>
			<span class="thirdString">{{thirdlabel}} = </span>
            <input type="text" class="third">
            <span class="check3"></span>

            <span class="showAns">
                <span class="ans">{{answer}}: {{firstlabel}} =  {{prefix}}{{firstans}} , {{secondlabel}} =  {{secondans}}{{suffix}},{{thirdlabel}} =  {{thirdans}}{{suffix01}}</span> 
                <span class="baseString"></span>
				<span class="powerString"></span>
				<span class="thirdString"></span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page3.interest02.js");
	$jsLoader("js/jqmath-etc-0.4.0.min.js");
</script>