<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page12.interest02.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>




<script type="text/x-handlebars-template" id="intro-template">
	
<div class="wrapperIntro {{justClass}}">	
	<div class="f3_1">
	<div class="img1"><img src="activity/grade8/math/math_unitary_02/image/char-a.png"/></div>
	<div class="des1"></div>
	</div>
</div>
</script>
		


<script type="text/x-handlebars-template" id="intro2-template">
   <div class="wrapperIntro {{justClass}}">
	
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
		
</script>



<!--end of page2-->




<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page12.interest02.js");
</script>