/*====================================
 =            Custom Style            =
 ====================================*/
 @font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

body{
	color: white;
}

p{
	z-index: 5;
}

.lesson-title {
	width: 100%;
	text-align: center;
	height: 30%;
}
.lesson{
	position: absolute;
	width:100%;
}
.center-text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}
.front{
	z-index: 20!important;
}
.coverboard {
    position: absolute;
    top: -10%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.shop-text {
    position: relative !important;
    top: 14%;
    left: 5%;
    width: 45%;
    text-align: left;
}

.define-text{
	position: relative!important;
	top: 5%;
	left: 5%;
	width: 90%;
	text-align: left;
}

.title{
	margin-bottom: 3%;
}
.example {
    margin-bottom: 1%;
}


/*------------ for candy ------------------*/

.candy{
	position: absolute;
	height: 40%;
	width: 10%;
}

.candy>img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 0;
}

.candy>p{
	width: 120%;
	height: 13%;
	position: absolute;
	top: 70%;
	left: 34%;
	z-index: 2;
	background-image: url('../images/tag.png');
	background-size: 100% 100%;
	padding: 0.1% 0.2% 0.1% 40%;
	color: white;
}

.candy_1{
	left: 75%;
	bottom: 20%;
}
.candy_2{
	left: 65%;
	bottom: 18%;
	transform: rotate(-25deg);
}
.candy_3{
	left: 85%;
	bottom: 18%;
	transform: rotate(25deg);
}
.candy_4{
	left: 55%;
	bottom: 16%;
	transform: rotate(-40deg);
}
.hint_bottom{
	display: none;
	position: relative;
	margin-top: 5%;
	text-align: center;
	width: 45%;
	left: 5%;
}

.highlight_hint {
    background-color: rgb(61,186,187);
    padding: 2%;
    border-radius: .2em;
}


.ques_row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.ques_row>p{
	order: -1;
}
.ques_row>input{
	height: 90%;
	width: 35%;
	order: 0;
	text-align: center;
}
.ques_row>button{
	height: 90%;
	width: 45%;
	order: 2;
}

.check_div {
    position: relative;
    height: 10%;
    left: 5%;
    width: 40%;
    margin-top: 11%;
}

.default_btn{
	color: white;
	background-color: #6D9EEB;
	border: 2px solid #888;
	border-radius: 1vmin;
}

.default_btn:hover:not(.correct):not(.incorrect){
	background-color: #8E7CC3;
}

.default_btn.correct{
	background-color: #93C47D;
}
.default_btn.incorrect{
	background-color: #EA9999;
}




/*for table*/

.new_table{
	position: relative!important;
	width: 90%;
	left: 5%;
	margin-top: 5%;
}

.full_table{
	width: 100%;
}

.row_1{
}

.t_row {
    margin-top: 5%;
    margin-bottom: 5%;
    border: .15em solid #c4eef0;
    height: 10%;
}
.t_row > td:first-child {
    width: 20%;
    border-right: .15em solid #c4eef0;
    background: rgba(40,179,187,.2);
}


.t_row>td:last-child{
	width: 60%;
	border-left: 1px solid black;
}
.t_row > td:nth-child(2) {
    width: 20%;
    border-left: 1px solid #c4eef0;
    border-right: 1px solid #c4eef0;
}

.t_row>p{
	vertical-align: center;
	text-align:center;
}

.t_div{
	position: absolute;
	left: 0%;
	width: 100%;
	top: 0%;
	height: 100%;
}

.t_div>img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height: 90%;
	max-width: 90%;
}
.rhino_img_1{
	height: 60%;
	top: 40%!important;
}
.rhino_img{
	width: 80%;
	top: 35%!important;
}
.t_div > p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    background: rgba(40,179,187,.5);
    text-shadow: .1em .1em .1em rgba(0,0,0,.2);
}

.t_head{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.ole-template-input-box-default {
    padding: 10px;
    border-bottom: solid .1em rgb(122,138,4);
    text-align: center;
    transition: border 0.3s;
    background: white;
    box-shadow: none;
    border: none;
    border-bottom: solid .1em rgb(122,138,4);
}


 .ole-template-input-box-default:focus,
.ole-template-input-box-default.focus {
  border-bottom: solid .1em rgb(137,176,211);
   background: rgb(36,177,187);
}

.ole-template-check-btn-default{
	background: rgb(145, 162, 20);
    border-radius: .3em;
    border: none;
    color: white;
    padding: 1%;
    box-shadow: .1em .1em .1em rgba(0,0,0,.1);
}

.ole-template-check-btn-default:hover{
    box-shadow: .1em .1em .1em rgba(0,0,0,.3);
	background: rgba(145, 162, 20,.8);
}

.bg{
	background-color:#9998d4 ;
}
.diybg{
	position: absolute;
	width: 102%;
	top: 0%;
	left: 0%;
}
.diytext{
	z-index: 5;
	color: black;
}
.coverpage{
	width: 102%;
	top: 0%;
	right: 0%;
}
.relativecls{
	position: relative;
	width: 100%;
}
/*=====  End of Custom Style  ======*/
