/*====================================
 =            Custom Style            =
 ====================================*/

 @font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

body{
	color: white;
}

.lesson-title {
	color: #FF6A65;
	font-size: 5em;
}
.many_one {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1%;
    height: 35%;
    width: 45%;
    transform: translate(-50%, -50%);
}

.highlight_many_one{
	font-size: 2vw;
	animation: ripple-animation-2 1s linear infinite;
}
.highlight_many_one:first-child, .highlight_many_one:last-child{
	font-size: 6vw;
	animation: ripple-animation 1s linear infinite;
}
@media (min-aspect-ratio: 4/3){
	.highlight_many_one{
		font-size: 3.3vmin;
	}
	.highlight_many_one:first-child, .highlight_many_one:last-child{
		font-size: 9vmin;
	}
}

@keyframes ripple-animation {
    50% {
		color: #0066A4;
    }
}
@keyframes ripple-animation-2 {
    50% {
		color: #A46600;
    }
}


.center-text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}
.front{
	z-index: 20!important;
}
.coverboard{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.shop-text{
	position: relative!important;
	top: 5%;
	left: 5%;
	width: 45%;
	text-align: left;
}
.define-text{
	position: relative!important;
	top: 1%;
	left: 5%;
	width: 95%;
	text-align: left;
}

.solution-text{
	position: absolute;
	top: 38%;
	left: 10%;
	width: 90%;
	text-align: left;
	float: right;
}

.solution-text>p{
	display: none;
	margin-bottom: 3%;
}

.eg-text{
	display: none;
	position: absolute;
	left: 5%;
	top: 38%;
}

.title{
	margin-bottom: 3%;
}
.example {
    margin: 2% 0%;
    padding: 0.5%;
    border-radius: .2em;
    box-shadow: .1em .1em .1em rgba(0,0,0,.1);
    background-color: rgb(39,178,187);
}

.example-2{
	margin: 2% 0%;
}
.example-3{
	padding: 0% 1%;
	margin-top: 3%;
	padding: 0.5%;
}

.change_color{
	animation: change_color 2s ease-in both;
	-webkit-animation: change_color 2s ease-in both;
}
.change_color_1{
	animation: change_color s ease-in both;
	-webkit-animation: change_color 1s ease-in both;
}

@-webkit-keyframes
change_color {
	100% {
    background-color: rgb(39,178,187);
    padding: 1%;
    border-radius: .2em;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
}

}
@keyframes
change_color {
	100% {
    background-color: rgb(39,178,187);
    padding: 1%;
    border-radius: .2em;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
}
}

.para_bottom {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgba(39,178,187,.8);
    padding: 0.5%;
    border-radius: 0.2em;
}

.para_bottom > span {
    color: #E6C685;
}



.bottom_1{
	width: 35%;
	bottom: 30%;
	transform: translateY(50%);
	left: 5%;
}
.bottom_2{
	bottom: 30%;
	transform: translateY(50%);
	width: 22%;
	left: 39%;
}
.bottom_3{
	width: 35%;
	bottom: 30%;
	transform: translateY(50%);
	left: 60%;
}

.side_1, .side_2, .side_3, .side_4{
	display: none;
}

.side_1{
	position: absolute;
	width: 40%;
	top: 26%;
	left: 5%;
}

.side_2{
	position: absolute;
	width: 25%;
	top: 32%;
	left: 52%;
}
.side_2 .underlined{
	border-bottom: 0.3vmin solid white;
}
.underlined{
	border-bottom: 1px solid #5E5E5E;
}
.side_3{
	position: absolute;
	width: 40%;
	bottom: 2%;
	left: 5%;
}
.side_4{
	position: absolute;
	width: 25%;
	bottom: 2%;
	left: 52%;
}

.hint_3{
	display: none;
}
.hint_bottom_2{
	display: none;
	position: absolute;
	text-align: center;
	width: 50%;
	left: 25%;
	bottom: 5%;
	background-color: #FFE599;
	padding: 0.5%;
}
.hint_bottom_2>span{
	color: #3C78D8;
}





/*------ for questions ------------*/
.question-text{
	position: relative !important;
	top: 1%;
	text-align: left;
	padding: 1%;
	height: 16%;
	width: 100%;
}
.title-2{
	text-align: center;
}
.hint-text {
    position: absolute;
    bottom: 5%;
    height: 30%;
    left: 15%;
    width: 45%;
    padding: 0.5%;
    background: linear-gradient(to bottom, #08A5B1, #CCF2CE);
    border-radius: .5em;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
}
.hint_5{
	display: none;
	left: 53%;
	top: 38%;
}
.hint_3{
	display: none;
	left: 53%;
	top: 60%;
}

.hint-text>p:first-child{
	position: absolute;
	top: 5%;
	right: 70%;
}
.hint-text>p:nth-child(2){
	position: absolute;
	top: 5%;
	left: 33%;
}

.hint-text>p:nth-child(3){
	position: absolute;
	top: 35%;
	left: 33%;
}

.hint-text>p:nth-child(4){
	position: absolute;
	top: 68%;
	left: 33%;
}
/*------ for questions end ------------*/




.ques_row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.ques_row>p{
	order: -1;
}
.ques_row>input{
	height: 90%;
	width: 15%;
	order: 0;
	text-align: center;
}
.ques_row>button{
	height: 90%;
	width: 22%;
	order: 2;
	padding-bottom: 5%;
}

.check_div{
	position: absolute;
	height: 8%;
	left: 2%;
	width: 97%;
	margin-top: 2%;
}
.div_0{
	top: 25%;
}
.div_1{
	top: 35%;
	display: none;
}
.div_2{
	top: 45%;
	display: none;
}
.div_3{
	left: 2%;
	top: 60%;
	display: none;
}
.div_4{
	left: 2%;
	top: 73%;
	display: none;
}

.my_ques{
	position: absolute;
	bottom: 10%;
	left: 0%;
	width: 100%;
	text-align: center;
}
.my_ques:lang(np){
  bottom: -12%;
  }
.default_btn{
	color: white;
	background-color: #6D9EEB;
	border: 2px solid #888;
	border-radius: 1vmin;
}

.default_btn:hover:not(.correct):not(.incorrect){
	background-color: #8E7CC3;
}

.default_btn.correct{
	background-color: #93C47D;
}
.default_btn.incorrect{
	background-color: #EA9999;
}


.input_class {
    padding: 10px;
    text-align: center;
    transition: border 0.3s;
    background: white;
    color: black;
    box-shadow: none;
    border: none;
    border-bottom: solid .2em rgb(122,138,4);
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
}


 .input_class:focus,
.input_class.focus {
   background: rgb(37,178,187);
   color: white;
}

.check_btn{
	background: rgb(145, 162, 20);
    border-radius: .3em;
    border: none;
    color: white;
    padding: 1%;
    box-shadow: .1em .1em .1em rgba(0,0,0,.1);
}

.check_btn:hover{
    box-shadow: .1em .1em .1em rgba(0,0,0,.3);
	background: rgba(145, 162, 20,.8) !important;
}

.hint_btn{
	background:rgb(35,177,187);
    border-radius: .3em;
    border: none;
    color: white;
    padding: 1%;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
}

.hint_btn:hover{
    box-shadow: .1em .1em .1em rgba(0,0,0,.3);
	background: rgba(35,177,187,.8) !important;
}
.bg{
	background-color:#9998d4 ;
}
.diybg{
	width: 102%;
	top: 0%;
	left: 0%;
}
.diytext{
	z-index: 5;
	color: black;
}
.my_font_big{
	font-size: 3.5vmin;
}
.my_font_very_big{
	font-size: 4vmin;
}
/*=====  End of Custom Style  ======*/
.underline1{
	border: none !important;
	left: 10%;
}

.e1x{
  display: none;
}
