.headTitle
{

	width: 100%;
	text-align: center;

	font-size: 1.5em;
	color:#020569;
	text-shadow:
	3px 3px 0 #fff,
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}
.questitle
{
	font-size: 1.2em;
	text-align: center;
	margin: 5% auto;
}

#figBox
{
	width: 100%;

	position: relative;
	margin: 5% auto;
	border: #ff0000 2px solid;
	border-radius: 15px;
	background: #FAE1F1;

}

.imgFrame
{
	width: 100%;

	display: table;

	border-collapse: collapse;
}
.imgFrame:first-child
{
	border-bottom: #ff0000 2px solid;
}
.imgSrc
{
	display: table-cell;
	width: 15%;

	text-align: center;

	border-right: #ff0000 2px solid;


}
.imgSrc:last-child
{
	border-right: none;
}

.imgSrc img
{
	width: 90%;

	cursor: pointer;
}



.imgCircle
{
	-webkit-box-shadow: inset 0px 0px 5px 10px rgba(9,69,11,1);
	-moz-box-shadow: inset 0px 0px 5px 10px rgba(9,69,11,1);
	box-shadow: inset 0px 0px 5px 10px rgba(9,69,11,1);
	border-radius: 50%;
}

#incorrect
{
	position: absolute;
	font-size: 10em;
	color: #ff0000;
	top:50%;
	left: 40%;
	display: none;
}

.textBox
{
	display: none;
	position: absolute;
	width: 96%;
	background: rgba(255,255,255,0.8);
	top:25%;
	padding: 2% 5%;
	left: 2%;
	text-align: center;


}

#closeImgbtn
{
	width: 5%;
	cursor: pointer;
	position: absolute;
	top:2%;
	right: 2%
}

.myTitle
{
	font-size: 2em;
	color: #ff0000;
}

.exp
{
	font-size: 1.3em;
	color: #333;
}

.myImg
{
	width: 100%;
}
.myImg img
{
	width: 30%;
	margin: 0% 3%;
}
.coverimg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
#cover_page{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	z-index: 1000;
}
.cover_title{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-54%);
	font-size: 5vh;
	color: #f19022;
	font-family: comicSans;
}
