<script type="text/javascript">
    $cssLoader("css/common.css");
    $cssLoader("css/page1.css");
    $cssLoader("css/page4.css");
</script>

    	<div class="maincontainer">
			<div class="board"></div>
			<div class="nextBtn myNextStyle"></div>
			<div class="prevBtn myPrevStyle"></div>
		</div>

		<script id="general-template" type="text/x-handlebars-template">
			{{! update templatecontains data for if it has header, instruction, headerinstruction
				or only has content --}}
				{{#if hasheaderblock}}
					<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
				{{else}}
					<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
				{{/if}}
				{{#if divtosnap}}<div class="{{snaptoobject}}"></div>{{/if}}

		 			{{! header block start--}}
						{{#if headerblock}}
							<div class="headerblock">
						{{#each headerblock}}
							{{> textcontent}}
						{{/each}}
							</div>
						{{/if}}
					{{! header block end--}}


							{{! content block starts--}}
								<div class="contentblock {{additionalclasscontentblock}}">
									{{! content block content wrapper is used for content orientation i.e. center
										horizontally or vertically}}
										{{#if contentblocknocenteradjust}}
											<div class = "coverboardfull">
										{{else}}
											<div class = "vertical-horizontal-center">
										{{/if}}
										</div>

									{{! if the content has a upperblock of texts--}}
										{{#if uppertextblock}}
											<div class ="textblock {{verticla-horizontal-center}}">
												{{{firstpagetitle}}}
											{{#if contentblocknocenteradjust }}
												<div class ="verticla-horizontal-center">
											{{/if}}

											{{#each uppertextblock}}
												{{>textcontent}}
											{{/each}}

											{{#if contentblocknocenteradjust }}
												</div>
											{{/if}}
											</div>
										{{/if}}

										{{! draggable image block if the content contains any draggable object}}
										{{#if draggableimageblock}}
										<div class="draggableimageblock {{imageblockadditionalclass}}">
											{{#if contentblockcenteradjust}}
												<div class= "verticla-horizontal-center">
											{{/if}}

											{{#each draggableimageblock}}
												{{>imagecontent}}
											{{/each}}

											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}

										{{! image block if the content contains any images }}
										{{#if imageblockadditionalclass}}
											<div class={{"imageblockadditionalclass"}}>
										{{/if}}

										{{#if imageblock}}
										<div class="imageblock">
											{{#if contentblockcenteradjust}}
												<div class= "vertical-horizontal-center">
											{{/if}}

											{{#each imageblock}}
												{{>imagecontent}}
											{{/each}}

											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}

										{{#if imageblockadditionalclass}}
											</div>
										{{/if}}

										{{#if lowertextblock}}
										<div class="textblock {{lowertextblockadditionalclass}}">
											{{#if contentblocknocenteradjust}}
												<div class="vertical-horizontal-center">
											{{/if}}
											{{#each lowertextblock}}
												{{>textcontent}}
											{{/each}}

											{{#if contentblocknocenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}

										{{#if definitionblock}}
										<div class="definitionblock {{definitionblockadditionalclass}}">
											{{#each definitionblock}}
												{{>definitioncontent}}
											{{/each}}
										</div>

										{{/if}}

										{{#if punctuation}}
											{{#each punctuation}}
											<div class="puncdiv {{whichpunc}}">
												<p class="topic">{{{topictext}}}</p>
												<p class="texthere">{{{topicdesc}}}</p>
											</div>
											{{/each}}
										{{/if}}

										{{#if punctuationimg}}
											{{#each punctuationimg}}
											<div class="{{{imgplace}}}">
												<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
												<p class="insidethetext">{{{topicdesc}}}</p>
											</div>
											{{/each}}
										{{/if}}

                      {{#if dndexc}}
                        {{#each dndexc}}
                          <div class="extradiv flipdiv">
                            <div class="whiteBox fadein_1"></div>
                            <div class="images diyimgopt fadein_1">
                              <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
                            </div>
                          </div>
                          <div class="{{dragables}}">
                            {{#each dragableoptns}}
                              <div class="{{dragableoptn}}">
                                <p class="opn">{{{punctn}}}</p>
                              </div>
                            {{/each}}
                          </div>
                          <div class="fadein_1 dropcontentcontainer">
                            {{#if multipledropables}}
                              <div class='qnContainer {{qnContainerClass}}'>
                                {{#each multipledropables}}
                                    <p class="qnText {{qnTextClass}}">{{{qntxt}}}</p>
                                    {{#if withdrpbox}}
                                      <div class="{{dropboxclass}}"></div>
                                    {{/if}}
                                {{/each}}
                              </div>
                            {{/if}}
                          </div>
                        {{/each}}
                      {{/if}}

										<!-- <div class="cont2">
												<p class="topic">,</p>
												<p class="texthere">Comma</p>
											</div>
											<div class="cont3">
												<p class="topic">?</p>
												<p class="texthere">Question Mark</p>
											</div>
											<div class="cont4">
												<p class="topic">!</p>
												<p class="texthere">Exclamation Mark</p>
											</div> -->
								</div>
				</div>
		</script>

		<!--partials are seperated as subtemplates in handlebars-->
		<script id="textcontent-partial" type="text/x-handlebars-template">
			<p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
		</script>

		<!--partials are seperated as subtemplates in handlebars-->
		<script id="imagecontent-partial" type="text/x-handlebars-template">
			{{#each imagetoshow}}
				<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
			{{/each}}
			<br>
			{{#each imagetodrop}}
				<div class="{{imgtodropclass}}">
					<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
				</div>
			{{/each}}
			{{#if imagelabels}}
				{{#each imagelabels}}
					<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
						data-highlightcustomclass="{{datahighlightcustomclass}}"
						>{{{imagelabeldata}}}</label>

				{{/each}}
			{{/if}}

		</script>

		<!--partials are seperated as subtemplates in handlebars-->
		<script id="definitioncontent-partial" type="text/x-handlebars-template">
			<img src="{{definitionimagesource}}" />
			<figcaption>{{definitiontextdata}}</figcaption>
			<p class ="definitiontextstyle" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{definitioninsrtuctiondata}}</p>
		</script>

<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript">
	// $jsLoader("../../../../js/jquery-ui.js");
    $jsLoader("js/page4.js");
</script>
