html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: patrick;
    src: url("../../../../../fonts/PatrickHand-Regular.ttf");
}



@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}
.contentblock.background {
	background: url('../images/sky_trees_bg.jpg');
	background-size: 100% 100%;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/bg-for-space01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg2 {
    width: 100%;
    height: 100%;
    background: url("../images/bg_for_DIY.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generaltemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.astroman {
    position: absolute;
    width: 22%;
    transform: translate(-50%, -50%);
    left: 24%;
    top: 44%;
}

.astroguy {
  position: absolute;
  width: 22%;
  left: 3%;
  top: 60%;
  z-index: 15;
  transform-origin: 50% 50%;
}
.astroguy1 {
  position: absolute;
  width: 22%;
  left: 60%;
  top: 60%;
  z-index: 15;
  transform-origin: 50% 50%;
}

.dg-1 {
    bottom: 72%;
    left: 24%;
    width: 30%;
    z-index: 2;
}

.dg-2 {
  bottom: 39%;
  left: 59%;
  width: 33%;
  display: none;
  z-index: 3;
}
.dg-X {
  bottom: 36%;
  left: 3%;
  width: 36%;
  display: none;
  z-index: 3;
}


.dg-3 {
    bottom: 43%;
    left: 2%;
    width: 30%;
    display: none;
}

.dg-4 {
    bottom: 43%;
    left: 2%;
    width: 30%;
    display: none;
    z-index: 20;
}

.hinttext{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 5%;
  color: white;
    z-index: 2;
}

.animjump{
  animation: 4s letsjump forwards;
}

@keyframes letsjump{
  50%{
    transform: translate(-50%, -100%);
  }
  100%{
    transform: translate(-50%, 0%);
    left: 80%;
  }
}


.animdodge{
  animation: 4s letsdodge forwards;
}

@keyframes letsdodge{
  100%{
    left: 15%;
    top: 64%;
  }
}
.animdodge1{
  animation: 4s letsdodge1 forwards;
}

@keyframes letsdodge1{
  100%{
    left: 70%;
  }
}

.corrans{
    /* background: #64c84b !important; */
    pointer-events: none;
    background-color: #98C02E !important;
    border: 0.5vmin solid #DEEF3C;
    color: white;
}

.incans{
  /* background: #c84b4b !important; */
  pointer-events: none;
  background-color: #FF0000 !important;
  border: 0.5vmin solid #980000;
  color: white;
}

.animfall{
  animation: 4s letsfall forwards;
}

@keyframes letsfall{
  50%{
    left: 35%;
    transform: translateY(0%);
    clip: rect(0em, 100em, 12em, 2em);
  }
  100%{
    left: 35%;
    transform: translateY(100%);
    clip: rect(0em, 100em, 0em, 2em);
  }
}

.animhit{
  animation: 3s letshit forwards;
}

@keyframes letshit{
  70%{
    left: 24%;
    transform: rotate(0deg);
  }

  100%{
    left: 25%;
    transform-origin: 0% 100%;
    transform: rotate(-90deg);
  }
}

.flyoff{
  transform-origin: 50% 50%;
  animation: 2s spinman 2.5s linear infinite, 4s letsfly 2.5s linear forwards;
}

@keyframes spinman{
  100%{
    transform: rotate(360deg);

  }
}

@keyframes letsfly{
  100%{
    top: -20%;
    width: 4%;
  }
}

.meteor {
    position: absolute;
transform: scaleX(-1);
width: 14%;
left: 0%;
top: 6%;
transform: rotate(236deg) scaleX(-1);
}

.met-move{
  animation: letsmet 6s linear forwards;
}

@keyframes letsmet{
  50%{
    left: 50%;
    top: 50%;
    width: 50%;
  }
  100%{
    left: 100%;
    top: 115%;
    width: 50%;
  }
}

.crater {
    position: absolute;
    width: 30%;
    transform: translateX(-50%);
    left: 50%;
    top: 87%;
}

.stone {
    position: absolute;
    width: 22%;
    transform: translateX(-50%);
    left: 50%;
    top: 60%;
}

.rocket {
    position: absolute;
    width: 22%;
    transform: translate(-50%);
    left: 86%;
    top: 42%;
}

.errordiv {

background: white;
position: absolute;
width: 30%;
transform: translate(-50%, -50%);
left: 50%;
top: 62%;
display: none;
z-index: 20;
font-size: 4vmin;
border-radius: 0.75em;
border: 0.2em solid grey;
}

.errortext {
    padding: 15% 0% 15% 0%;
}
.repimg {
    position: absolute;
    width: 6%;
    bottom: 6%;
    right: 1%;
    cursor: pointer;
}

/*============ exercise template ===================
==================================================== */

.question {
    position: relative;
    top: 21%;
    font-size: 5vmin;
}

.optionsdiv {
    top: 12%;
    position: relative;
    z-index: 10;
}

.optionscontainer {
    position: relative;
}

.imagestartpos {
    position: absolute;
    width: 41px;
    display: none;
    margin-top: 3%;
    left: 22%;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    visibility: hidden;
}

.optionsdiv p{
    display: inline-block;
    padding: 1%;
    background: #fff;
    border-radius: 15px;
    margin: 1%;
    font-size: 3vmin;
    width: 44%;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover{
	background: #E6C75D;
    border: 0.5vmin solid #ffab40;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;

}

.wrongans{
	background: #D0553E !important;
}

.rightans{
	background: #4CAF50 !important;
}

.
.questionimg {
    position: relative;
    top: 27%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 32%;
}

.draggablecontainer {
    position: relative;
    top: 18%;
    width: 100%;
    background: aliceblue;
}

.droppablecontainer {
    position: relative;
    top: 28%;
    width: 100%;
    background: antiquewhite;
    height: 50%;
}

.drop1 {
    background: blueviolet;
    width: 50%;
    height: 83%;
    float: left;
}

.drop2 {
    background: aqua;
    width: 50%;
    height: 83%;
    float: left;
}

.diycloud {
    position: absolute;
    height: 71%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.slide-subtitle {
	flex: 1 1 0;
	font-size: 2.8vw;
	/*background-color: rgb(255,226,72);*/
	background-image: url('../images/yellow_ribbon.png');
	background-size: 100% 100%;
	color: rgb(57,60,113);
	margin-left: 5%;
	padding: 4% 4%;
	/*width: 55.5%;*/
}
.balloon {
	position: relative;
	height: 51%;
}
.fliper-block {
    position: relative;
    width: 65%;
    height: 80%;
    top: 5%;
    animation: slideUp 2s;
    left: 50%;
    transform: translateX(-50%);
}
.flipper-block p {
	font-size: 2em;
	background-color: rgb(255,226,72);
}
.flipper {
	perspective: 1000px;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
#present-flipper {
	border: 3px solid white;
	text-align: left;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
	height: 50%;
}


.front h1,
.back h1 {
	border-top: 3px solid rgb(231,206,54);
	border-bottom: 3px solid rgb(231,206,54);
	width: 100%;
	top: 5%;
	position: absolute;
	font-size: 1.7em;
	padding: 1% 0;
	margin-top: 0;
	text-align: center;
	background-color: rgb(255,226,72);
	color: rgb(204,86,100);
}
.doFlip {
	transform: rotateX(180deg);
}
.back:after,
.front:after {
	content: '';
	height: 19%;
	width: 7%;
	background-image: url('../images/flip_arrow.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 100;
	position: absolute;
	right: -5%;
	bottom: 0%;
	webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,.4));
filter: drop-shadow(5px 5px 5px rgba(0,0,0,.4));

}
.front, .back {
	background-color: rgb(255,249,213);
	height: 100%;
	padding: 0;
	/*background-color: rgb(64, 147, 195);*/
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	flex-flow: column;
	width: 100%;
	position: absolute;
	font-size: 1.2em;
}
.front {
	z-index: 2;
	transform: rotateX(0deg);
}
.back {
	z-index: 1;
	transform: rotateX(180deg);
}
.front p, .back p {
	color: rgb(79,75,63);
	padding: 6% 5%;
	text-align: center;
	margin-top: 20%;
	font-size: 3vmin;
}

@keyframes slideUp {
	0% {top: 100%}
	70% {top: 5%}
	85% {top: 6%}
	100% {top: 5%}
}

.middletext {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    width: 100%;
    padding: 1%;
    font-size: 6vmin;
    background: #E69138;
    color: white;
    font-family: patrick;
}

.diytext {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    width: 100%;
    font-size: 9vmin;
    color: white;
    font-family: patrick;
}

.orgback{
  background: #FFF2CC;
}

.carbg{
  background: url(../images/crossing-road.png);
  background-size: 100% 100%;
}

.bridgebg{
  background: url(../images/broken-bridge.png);
  background-size: 100% 100%;
}

.branchbg{
  background: url(../images/broken-branch01.png);
  background-size: 100% 100%;
}

.treebg{
  background: url(../images/climbing-tree.png);
  background-size: 100% 100%;
}

.screamingguy {
    position: absolute;
    width: 22%;
    left: 3%;
    bottom: 0%;
    z-index: 15;
}

.fireburn {
    position: absolute;
    width: 17%;
    left: 66%;
    top: 75%;
    z-index: 15;
    transform: translate(-50%, -50%);
}

.fireboy {
    position: absolute;
    width: 10%;
    left: 78%;
    top: 67%;
    z-index: 15;
    transform: translate(-50%, -50%);
}
.brochair {
    position: absolute;
    width: 20%;
    left: 78%;
    top: 67%;
    z-index: 15;
    transform: translate(-50%, -50%);
}
.dialog1, .dialog2 {
    position: absolute;
    width: 54%;
    min-height: 30%;
    bottom: 57%;
    left: 3%;
}

.dialogimage1, .dialogimage2 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.audioicon {
    z-index: 4;
    position: absolute;
    right: 1%;
    top: 1%;
    width: 10%;
}

.dialogcontent {
    position: absolute;
    font-size: 2vw;
    width: 90%;
    left: 5%;
    top: 40%;
    transform: translateY(-50%);
}

.inoboy {
    position: absolute;
    width: 10%;
    left: 58%;
    top: 67%;
    z-index: 15;
    transform: translate(-50%, -50%);
}

.hitboy {
    position: absolute;
    width: 14%;
    left: 84%;
    top: 67%;
    z-index: 15;
    transform: translate(-50%, -50%);
}

.teaboy {
    position: absolute;
    width: 21%;
    left: 69%;
    bottom: 0%;
    z-index: 15;
    transform: translate(-50%);
}

.boom {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 26%;
    /* left: 65%; */
    left: 71%;
    top: 65%;
    z-index: 100;
    display: none;
    animation: boomanim 1s linear forwards;
}
@keyframes boomanim {

  0% {
    transform: translate(-50%, -50%) scale(0.5);

  }100% {
    transform: translate(-50%, -50%) scale(1.1);

  }
}

.buildup{
  animation: letsbuild 3s linear forwards;
}

@keyframes letsbuild {

  45% {
      transform: translate(-50%, -10%);

    }
      100% {
          transform: translate(-50%, -180%);

        }
}
