html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: patrick;
    src: url("../../../../../fonts/PatrickHand-Regular.ttf");
}



@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}
.contentblock.background {
	background: url('../images/sky_trees_bg.jpg');
	background-size: 100% 100%;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/bg-for-space_new.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generaltemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: #EAD1DC;
    font-family: patrick;
    font-size: 4.3vmin;
    padding: 1%;
    z-index: 2;
}


div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}
.orgback{
  background: #FFF2CC;
}
.middletext {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    width: 100%;
    padding: 1%;
    font-size: 6vmin;
    background: #E69138;
    color: white;
    font-family: patrick;
}

.s1bg{
  background: url(../images/park01.png);
  background-size: 100% 100%;
}

.s2bg{
  background: url(../images/park02.png);
  background-size: 100% 100%;
}

.s3bg{
  background: url(../images/park03.png);
  background-size: 100% 100%;
}

.s4bg{
  background: url(../images/park04.png);
  background-size: 100% 100%;
}

.playable{
  cursor: pointer;
}

.dialog1 {
    position: absolute;
    width: 34%;
    min-height: 25%;
    bottom: 49%;
    left: 66%;
}

.dialog2 {
    position: absolute;
    width: 44%;
    min-height: 30%;
    bottom: 66%;
    left: 42%;
}

.dialog3 {
    position: absolute;
    width: 44%;
    min-height: 32%;
    bottom: 30%;
    left: 29%;
}

.dialog4 {
    position: absolute;
    width: 55%;
    min-height: 30%;
    bottom: 42%;
    left: 5%;
}

.dialog5 {
    position: absolute;
    width: 45%;
    min-height: 30%;
    bottom: 50%;
    left: 48%;
}

.dialogimage1 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.audioicon {
    z-index: 4;
    position: absolute;
    right: 1%;
    top: 1%;
    width: 7%;
}

.dialogcontent {
    position: absolute;
    font-size: 2vw;
    width: 90%;
    left: 5%;
    top: 40%;
    transform: translateY(-50%);
}
