.wrapper{
	position: relative;
	width:100%;
	height: 100%;
	
}


.title {

    font-size: 5vmin;
    position: relative;
    background: #FFC815;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#paragraph_contents {
    width:25%;
    position: relative;
    float:left;
    font-size: 3vmin;
    left: 2%;
    top: 44%;
    transform: translateY(-50%);
}

#answer_contents {
    width:44%;
    position: relative;
    float:right;
    font-size: 3vmin;
    left: -2%;

    top: 44%;
    transform: translateY(-50%);
}
.answer
{
    position: relative;
    top: 80%;
    display: none;
    
}

#paragraph_contents > p:hover{
    cursor : pointer;
    background: #26c1ee;
    color:#ffffff;
    border-radius:5px;
     transform: scale(1.1);

}

#answer_contents > p:hover
{
    cursor : pointer;
    background: #26c1ee; 
    color:#ffffff;
    border-radius:5px;
     transform: scale(1.1);



    /*background:#92CBEB #FDB94E;;
    padding:0.5%;
    cursor: pointer;*/
}


.correct, .correct:hover{
    background-color: #a9d73f!important;
    color:#fff!important;
    transform: scale(1)!important;
}

.incorrect{
    background-color: #F41120;
    color:#fff;
}


p{
    cursor : pointer;
    background:#6abac4;
    color:#fff;
    border-radius:5px;
    line-height: 1.5em;
    padding-left:1em;
    
}

.change_color_click
{
    background: #FFC815;
    color: #1479AF;
}


/*Sony Tandukar
/*
#answer_contents > div {

    font-size:3vmin;
    left:57%;
    margin-top: -47.5%;
    position:relative;
    float: left;
    line-height: 30px;
    width: 30px;
    text-align: center;
    background-color: steelblue;
    color: #fff;
    border-radius: 4px;
    margin: 3px;
}
#answer_contents {
    max-width: 360px;
}
 

 */
 
 /* The alert message box */
.finishtxt {
	z-index: 1000;
	background-color: #46a7f5;
    color: #ffffff;
    left: 31%;
    margin-bottom: 15px;
    padding: 20px;
    position: absolute;
    top: 11%;
	display:none;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}