html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ole_temp_uppertextblock{
    font-size: 1.6em !important;
}
.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    top: 0%;
    left: 0%;
    width: 100%;
    
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

.maincontainer {
    position: relative;
}

.chapter{
    font-size: 3em;
}

.letshigh{
    color: #CC4125;
}
.letshigh2{
    color: #8E7CC3;
}
.lefttext{
    top: 20%;
    left: 25%;
    font-size: 1.5em;
}

.leftbig {
    top: 35%;
    left: 25%;
    font-size: 7em;
}

.righttext{
    top: 20%;
    left: 75%;
    font-size: 1.5em;
    white-space: nowrap;
}

.rightbig {
    top: 35%;
    left: 75%;
    font-size: 7em;
    white-space: nowrap;
}

.p3middle{
    top: 50%;
    left: 50%;
    font-size: 1.5em;
}

.eqtext {
    top: 72%;
    left: 55%;
    font-size: 3em;
}

.fractionblock{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0;
}

.frac-4 {
    top: 66%;
    right: 44%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 3em;
}

.q1frac {
    top: 40%;
    right: 44%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 3em;
}

.hinttext {
    top: 77%;
    right: -3%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 2em;
    width: 37%;
    border: 0.2em solid cadetblue;
    padding: 2%;
    display: none;
    border-radius: 0.5em;
    padding-bottom: 3%;
}

/**
    this block is essential for implementing fractions 
    fraction block essential code begin
*/
.fraction, .fraction2, .top, .bottom{
    padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;    
}

.fraction2 {
   transform: translateY(25%);   
}

.bottom{
    border-top: 0.1em solid #222;
    display: block;
}

.fractionblock{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0;
}

/**
    fraction block essential end
*/

.input0 {
    position: absolute;
    top: 41%;
    left: 55%;
    width: 10%;
    font-size: 2em !important;
    text-align: center;
    transform: translateX(-50%);
}

.input1 {
    position: absolute;
    top: 65%;
    left: 25%;
    width: 10%;
    font-size: 2em !important;
    text-align: center;
    transform: translateX(-50%);
}

.input2 {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 10%;
    font-size: 2em !important;
    text-align: center;
    transform: translateX(-50%);
}

.input3 {
    position: absolute;
    top: 65%;
    left: 75%;
    width: 10%;
    font-size: 2em !important;
    text-align: center;
    transform: translateX(-50%);
}

.q1per {
    position: absolute;
    top: 40%;
    left: 61%;
    font-size: 3em;
}

.ole-template-check-btn-default.submitbtn0 {
    position: absolute;
    top: 45%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.ole-template-check-btn-default.submitbtn1 {
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.ole-template-check-btn-default.submitbtn2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ole-template-check-btn-default.submitbtn3 {
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.hiddenmon {
    position: absolute;
    width: 29%;
    transform: translate(-50%, -50%);
    top: 76%;
    left: 27%;
    display: none;
}

.fadein{
    opacity: 0;
    animation: cssfadein 1s linear forwards;
}

@keyframes cssfadein{
    100%{
        opacity: 1;
    }
}
.centertext {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 5vmin;
    width: 90%;
}

.lowertb {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 15%;
    font-size: 4vmin;
}

.lowertb2 {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 46%;
    font-size: 4vmin;
    background: darkseagreen;
    border: 0.3em solid grey;
    border-radius: 1em;
}

[class^="dragitems"] {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    width: 13%;
}

.dragitems-first{
    left: 25%;
}

.dragitems-second{
    left: 50%;
}

.dragitems-third{
    left: 75%;
}

.ole_temp_uppertextblock{
    top: 3% !important;
}

[class^="marks"] {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 41%;
    font-size: 4vmin;
}

.marks-one{
    left: 25%;
}

.marks-two{
    left: 50%;
}

.marks-three{
    left: 75%;
}

[class^="test"] {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 33%;
}

.test-one{
    left: 25%;
}

.test-two{
    left: 50%;
}

.test-three{
    left: 75%;
}


.secondset{
    display: none;
}
.thirdset{
    display: none;
}