html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    top: 0%;
    left: 0%;
    width: 100%;
    
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

.maincontainer {
    position: relative;
}
.coverpage{
    position: absolute;
    width: 102%;
    top: 0%;
    left: 0%;
}
.chapter {
    position: absolute;
    top: 36%;
    width: 100%;
    color: white;
    height: 27%;
    font-size: 4em;
}

.icon {
    margin-top: 3%;
    font-size: 18em;
    color: #5e55b1;
}

.ole_temp_uppertextblock{
    font-size: 1.8em !important;
}
.flexcontainerblock{
    position: absolute;
    width: 30%;
    height: 60%;
    right: 1.5%;
    top: 20%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #BDBFB5;
}

.flexcontainerblock100 {
    position: absolute;
    width: 45%;
    height: 60%;
    left: 3%;
    top: 28%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #D4D4D4;
    font-size: 2.56vmin;
    background-color: #fff;
    border: 0.3em solid #6b6b6b;
}

.flexcontainerblock1002 {
    position: absolute;
    width: 45%;
    height: 60%;
    right: 3%;
    top: 28%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #D4D4D4;
    font-size: 2.56vmin;
    background-color: #fff;
    border: 0.3em solid #6b6b6b;
}


.column{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.column1{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #93C47D;
}

.column2{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #C27BA0;
}

.rownormal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.55vmin;
    color: #000000;
    border: 1px solid #D4D4D4;
    flex: 1;
}

.activate{
    cursor: pointer;
}

.activate:hover{
    background: red;
    opacity: 0.3;
}

.letshigh{
    color: #CC4125;
}

.sidetext1 {
    left: 75%;
    top: 40%;
    font-size: 1.5em;
    width: 42%;
}

.sidetext2 {
    left: 75%;
    top: 48%;
    font-size: 1.5em;
    white-space: nowrap;
}

.sidetext3 {
    left: 75%;
    top: 56%;
    font-size: 1.5em;
    width: 42%;
    z-index: 2;
}

.sidetext3-1 {
    left: 25%;
    top: 56%;
    font-size: 5vmin;
    width: 42%;
    z-index: 2;
}

.sidetext3-1 *, .sidetext4-1 *{
    font-size: 5vmin;
}

.sidetext4 {
    left: 75%;
    top: 85%;
    font-size: 1.5em;
    width: 42%;
}

.sidetext4-1 {
    left: 75%;
    top: 56%;
    font-size: 5vmin;
    width: 42%;
    z-index: 2;
}


.moveleft{
    animation: letsgo 3s ease-out forwards;
}

.moveleft *{
    animation: fontbig 3s ease-out forwards;
}

@keyframes letsgo{
    100%{left: 25%; font-size: 5vmin;}
}


@keyframes fontbig{
100%{font-size: 5vmin;}
}

.selectthis{
    background: #f75b2c;
}

.submitbtn {
    left: 75%;
    top: 70%;
}

.submitbtn2 {
    position: absolute;
    left: 78%;
    top: 53%;
}

.input1 {
    position: absolute;
    left: 67%;
    top: 53%;
    width: 8%;
    text-align: center;
    font-size: 2em !important;
}

.input2 {
    position: absolute;
    left: 67%;
    top: 63%;
    width: 8%;
    text-align: center;
    font-size: 2em !important;
}

.hiddenmon {
    position: absolute;
    width: 25%;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 76%;
}

.flextext {
    position: absolute;
    width: 100%;
    font-size: 7em;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.fractioninput {
    position: absolute;
    height: 23%;
    margin: 0% 2% 0% 1%;
    text-align: center;
    width: 6%;
    resize: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    left: 68%;
    top: 52%;
}

.box_numerator{
    height: 40%;
    text-align: center;
    width: 100%;
}
.box_divider{
    content: 'asd';
    height:1%;
    width: 100%;
    border-bottom: 2px solid black;
}
.box_denominator{   
    height: 40%;
    text-align: center;
    width: 100%;
}

.digit_box, .digit_box_1, .digit_box_2, .digit_box_3 {
    background-color: #FEFAC5;
    border-radius: 1vmin;
    border: 2px solid #6997f4;
    box-shadow: inset 1px 1px 2px #555;
}
.digit_box:focus, .digit_box_1:focus, .digit_box_2:focus, .digit_box_3:focus {
    background-color: #FEF78A;
}

.digit_box_1 {
    margin: 0% 0% 0% 2%;
    height: 40%!important;
    width: 5%!important;
    font-size: 3.5vmin;
}
.digit_box_2 {
    margin: 0%;
    width: 100%;
    height: 40%!important;
    font-size: 3.5vmin;
}

.fadeout{
    animation: fadeitout 1s linear forwards;
}

.btnblock {
    display: flex;
    position: absolute;
    width: 44%;
    justify-content: space-around;
}

.btnblock > p{
    padding: 3% !important;
}
.firstbtnset {
    top: 41%;
    left: 75%;
}

.secbtnset {
    top: 63%;
    left: 75%;
}
.ole_temp_uppertextblock{
    font-size: 1.8em !important;
}
.thibtnset {
    top: 66%;
    left: 75%;
}

/**
    this block is essential for implementing fractions 
    fraction block essential code begin
*/
.fraction, .fraction2 {
    display: inline-block;
    text-align: center;
}

.fraction2 {
    transform: translateY(25%);
    font-size: 2.5vmin;
}

.bottom{
    border-top: 0.1em solid #222;
    display: block;
}

.fractionblock{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0;
}

/**
    fraction block essential end
*/

@keyframes fadeitout{
    100%{opacity: 0;}
}

.fadein{
    opacity: 0;
    animation: cssfadein 1s linear forwards;
}

@keyframes cssfadein{
    100%{
        opacity: 1;
    }
}
