html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    top: 0%;
    left: 0%;
    width: 100%;
    
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

.maincontainer {
    position: relative;
}

.chapter{
    font-size: 3em;
}

.leftupper {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 2%;
    width: 50%;
    background: rgba(28,183,205, 0.6);
    height: 100%;
    text-align: left;
    padding-top: 20%;
    font-size: 4vmin;
    padding-left: 5%;
}

.rightlower {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 2%;
    width: 50%;
    height: 100%;
    text-align: left;
    padding-top: 20%;
    font-size: 4vmin;
    padding-left: 13%;
}

.flexcontainerblock{
    position: absolute;
    width: 30%;
    height: 60%;
    right: 1.5%;
    top: 20%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #BDBFB5;
}

.flexcontainerblock100 {
    position: absolute;
    width: 49%;
    height: 63%;
    left: 3%;
    top: 28%;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #D4D4D4;
    font-size: 2.56vmin;
    background-color: #fff;
}

.column{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.column1{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #93C47D;
}

.column2{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    background-color: #C27BA0;
}

.rownormal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.55vmin;
    color: #000000;
    border: 1px solid #D4D4D4;
    flex: 1;
}


.selectthis{
    background: #f75b2c;
}

.submitbtn2 {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    display: none;
}

.input1 {
    position: absolute;
    left: 60%;
    top: 40%;
    width: 9%;
    text-align: center;
    font-size: 5vmin !important;
}

.pericon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 72%;
    top: 45%;
    font-size: 3em;
}

.hiddenmon {
    position: absolute;
    width: 29%;
    transform: translate(-50%, -50%);
    top: 76%;
    left: 76%;
    display: none;
}

.letshigh{
    color: #CC4125;
}

.letshigh2{
    color: #8E7CC3;
}

.letshigh3{
    background: #8E7CC3;
    opacity: 0;
    animation: removec 3s linear forwards;
}
@keyframes removec{
    80%{background: #8E7CC3;}
    100%{background: none; opacity: 1;}
}

.lt1big{
    font-size: 3em;
    left: 25%;
    top: 46%;
}

.lt1text{
    font-size: 1.5em;
    left: 25%;
    top: 65%;
}

.lt2big {
    font-size: 3em;
    left: 50%;
    top: 46%;
}

.lt2text{
    font-size: 1.5em;
    left: 50%;
    top: 65%;
}

.lt3big{
    font-size: 3em;
    left: 75%;
    top: 46%;
}

.lt3text{
    font-size: 1.5em;
    left: 75%;
    top: 65%;
}

.eq1 {
    left: 37%;
    top: 46%;
    font-size: 3em;
}

.eq2 {
    left: 62%;
    top: 46%;
    font-size: 3em;
}

.activate{
    cursor: pointer;
}

.activate:hover{
    background: red;
    opacity: 0.3;
}

/**
    this block is essential for implementing fractions 
    fraction block essential code begin
*/
.fraction, .fraction2 {
    text-align: center;
    display: inline-block;
}
.fraction2 {
   transform: translateY(25%);   
}

.bottom{
    border-top: 0.1em solid #222;
    display: block;
}

.fractionblock{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0;
}

/**
    fraction block essential end
*/

.btnblock {
    display: flex;
    position: absolute;
    width: 44%;
    justify-content: space-around;
}

.btnblock > p{
    padding: 3% !important;
}

.firstbtnset {
    top: 41%;
    left: 75%;
}

.secbtnset {
    top: 63%;
    left: 75%;
    display: none;
}
.ole_temp_uppertextblock{
    font-size: 1.8em !important;
}
.thibtnset {
    top: 86%;
    left: 75%;
    display: none;
}

.sidetext1 {
    left: 75%;
    top: 31%;
    font-size: 1.5em;
    width: 42%;
}

.sidetext2 {
    left: 75%;
    top: 51%;
    font-size: 1.5em;
    width: 40%;
    display: none;
}

.sidetext3 {
    left: 75%;
    top: 77%;
    font-size: 1.5em;
    width: 42%;
    display: none;
}

.sidetext4 {
    left: 75%;
    top: 94%;
    font-size: 1.5em;
    width: 42%;
}

.submitbtn {
    left: 75%;
    top: 70%;
}


.default_btn{
    color: white;
    background-color: #6D9EEB;
    border: 2px solid #888;
    border-radius: 1vmin;
}

.default_btn:hover:not(.correct):not(.incorrect){
    background-color: #8E7CC3;
}

.default_btn.correct{
    background-color: #93C47D;
}
.default_btn.incorrect{
    background-color: #EA9999;
}
.div_0 {
    margin-top: 7% !important;
}
.hint-text {
    position: absolute;
    bottom: 0%;
    left: 50%;
    padding: 1.5%;
    background-color: #FFE599;
    transform: translateX(-50%);
    font-size: 4vmin;
    opacity: 0;
}

.hint_3{
    display: none;
}



.fadeout{
    animation: fadeitout 1s linear forwards;
}

@keyframes fadeitout{
    100%{opacity: 0;}
}

.fadein{
    opacity: 0;
    animation: cssfadein 1s linear forwards;
}

@keyframes cssfadein{
    100%{
        opacity: 1;
    }
}

.ole_temp_uppertextblock {
    position: absolute;
    transform: translateX(-50%);
    top: 15%;
    left: 50%;
    width: auto;
    padding: 2%;
    text-align: left;
}

.lowertb {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5%;
    font-size: 4vmin;
    text-align: left;
}

.lowertb2 {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 46%;
    font-size: 4vmin;
    background: darkseagreen;
    border: 0.3em solid grey;
    border-radius: 1em;
}

.question-text{
    position: relative!important;
    top: 5%;    
    text-align: left;
    left: 5%;
    width: 90%;
    color: #595959;
}

.title-2{
    color: black;
}
.check_div {
    position: relative;
    height: 8%;
    left: 5%;
    width: 65%;
    margin-top: 2%;
}
.ques_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ques_row > input {
    height: 90%;
    width: 15%;
    order: 0;
    text-align: center;
}

.input1 {
    position: absolute;
    top: 23%;
    left: 28%;
    width: 10%;
    font-size: 2em !important;
    text-align: center;
    transform: translateX(-50%);
}

.input2 {
    position: absolute;
    top: 23%;
    left: 63%;
    width: 10%;
    font-size: 2em !important;
    text-align: center;
    transform: translateX(-50%);
}

.input3 {
    position: absolute;
    top: 65%;
    left: 75%;
    width: 10%;
    font-size: 2em !important;
    text-align: center;
    transform: translateX(-50%);
}

.maleno {
    position: absolute;
    top: 25%;
    right: 80%;
    font-size: 3vmin;
}

.femaleno {
    position: absolute;
    top: 25%;
    right: 45%;
    font-size: 3vmin;
}

.ole-template-check-btn-default.submitbtn {
    position: absolute;
    top: 27%;
    left: 80%;
    transform: translate(-50%, -50%);
}

#slider {
    position: absolute;
    width: 48%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
    display: none;
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #7cd9ed !important;
    color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #0f81ae !important;
    border-radius: 50%;
    font-size: 3vmin;
    cursor: pointer !important;
}

.maleper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 20%;
    font-size: 6vmin;
    display: none;
}

.femaleper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 80%;
    font-size: 6vmin;
    display: none;
}

.slihelp{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 5vmin;
    left: 50%;
    width: 90%;
    display: none;
}

.div_1, .div_2 {
    display: none;
}

.ques_row > button {
    height: 90%;
    width: 25%;
    order: 2;
}

.boy {
    position: absolute;
    left: 2%;
    height: 32%;
    transform: scaleX(-1);
    top: 57%;
    display: none;
}

.girl {
    position: absolute;
    right: 2%;
    height: 32%;
    transform: scaleX(-1);
    top: 57%;
    display: none;
}