<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/common.css");
    $cssLoader("css/page4.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock {{headerblockadditionalclass}}">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull {{coverboardadditionalclass}}">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            
            {{#each imageblock}}
                {{> imagecontent}}
            {{/each}}
            
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
            </div>
            {{/if}}
            {{#if imagetextblock}}
                {{#each imagetextblock}}
                    <div class="{{imagediv}}">
                    	<img class="{{imgclass}}" src="{{imgsrc}}">
                    	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
                    </div>
                {{/each}}
            {{/if}}
            
            {{#each extratextblock}}
            	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            {{/each}}
            
            {{#each dropblock}}
            	<div class="{{dropclass}}"></div>
            	<div class="{{arrowclass}}"></div>
            {{/each}}
            
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if rain}}
				<div class="rain front-rain"></div>
				<div class="rain back-rain"></div>
            {{/if}} 
            {{#each cloudrain}}
            <div class="cloudrain {{cloudrainclass}}">
				<div class="rain front-rain"></div>
				<div class="rain back-rain"></div>
			</div>
            {{/each}} 
			{{#each vapor}}
				<img class="vapor {{vaporclass}}" src="activity/grade3/science/water_cycle/images/waves.png" />
			{{/each}}
			{{#each dropblock}}
				<div class="{{dropclass}}"></div>
				{{#each vapor}}
					<img class="vapor {{vaporclass}}" src="activity/grade3/science/water_cycle/images/waves.png" />
				{{/each}}
				{{#each cloudrain}}
					<div class="cloudrain {{cloudrainclass}}">
						<div class="rain front-rain"></div>
						<div class="rain back-rain"></div>
					</div>
				{{/each}} 
				{{#each images}}
					<img class="{{imgclass}}" src="{{imgsrc}}">
				{{/each}}
				{{#each text}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
			{{/each}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">    
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>