.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
    font-family: happy_monkey;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */



.exefin {
	display: none;
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin{
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

.jump_rhino {
	-webkit-animation: jump_rhino 0.5s cubic-bezier(0,.5,1,.5);
	animation: jump_rhino 0.5s cubic-bezier(.5,1,1,.75);
}
@keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}
@-webkit-keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}

.zoom_rhino {
	-webkit-animation: zoom_rhino 1s linear forwards;
	animation: zoom_rhino 1s linear forwards;
	animation-delay:0.75s;
	transform-origin: bottom right;
}
.zoom_marks_rhino {
	-webkit-animation: zoom_marks_rhino 1s linear forwards;
	animation: zoom_marks_rhino 1s linear forwards;
	animation-delay:0.75s;
}
@keyframes
zoom_marks_rhino{
	100% {transform: scale(2);right: 35%;  top: 15%;}
}
@-webkit-keyframes
zoom_marks_rhino{
	100% {transform: scale(2); right: 35%; top: 15%;}
}

@keyframes
zoom_rhino{
	100% {transform: scale(2.5);right: 0%;  bottom: 30%;}
}
@-webkit-keyframes
zoom_rhino{
	100% {transform: scale(2.5); right: 0%; bottom: 30%;}
}

/*--------- for exercise -------------*/
.main_bg{
	background: linear-gradient(#0066A4, #FBFCFF);

}
/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.instruction_div{
	top: 0%;
	height: 100%;
	width: 100%;
}
.instruction_div>*{
	color: white;
	position: relative;
	margin-top: 1%;
}
.question_number{
	text-align: left;
}
.instruction{
	/*font-weight: bold;*/
}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid #FCD172;
	background-color: #6EB260;
	color: white;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	background-color: #BA6B82;
	color: black;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}

.hintimageblock{
	width: 	50%;
	position: relative;
	float: left;
	height: 100%;
	padding: 17% 5% 5% 5%;
}


.optionsblock{
	position: absolute;
	padding: 1%;
	height: auto;
	top: 60%;
	width: 50%;
	left: 48%;
	z-index: 10;
	transform: translateY(-50%);
}

.optionsblock > p:nth-child(1){
	color: #fff;
	font-weight: bold;
	margin-bottom: 0.8em;
}

.options{
	/*padding: 1%;*/
	margin-bottom: 1.2vmin;
	width: 70%;
	left: 15%;
	cursor: pointer;
	text-align: center;
	background-color: #B7E9B0;
	border: 0.5vmin solid white;
	border-radius: 1vmin;
}

.options:hover{
	background-color: #FCD172;
}

/*-------------------------
 ------- for fonts --------
 --------------------------*/

.letter_textalign_right{
	text-align: right;
}

.letter_textalign_left{
	text-align: left;
}

.instruction2{
	width: 80%;
	position: relative;
	left: 0;
	padding: 1% 2%;
	float: left;
	text-align: left;
}

.scoreboard{
	width: 16%;
	position: relative;
	left: 2%;
	float: left;
	height: auto;
	background-color: #FBAB18;
	font-weight: bold;
	border-radius: 0.2em;
	text-align: center;
	padding: 0em;
}

/**
	this block is essential for implementing fractions
	fraction block essential code begin
*/
.fraction, .fraction2, .top, .bottom{
	padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;
}

.fraction2 {
	transform: translateY(12%);
	padding: 0.3em;
	border-radius: 0.5em;
	background-color: #00CADC;
	color: #fff;
	border: 0.1em solid #00CADC;
}

.bottom{
    border-top: 0.1em solid #fff;
    display: block;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}

/**
	fraction block essential end
*/

.cell, .cell2{
	text-align: center;
	font-weight: normal;
	position: relative!important;
	width: 10%;
	height: 10%;
	float: left;
	border: 0.1em solid #847ECB;
	background-color: #fff;
}

.cell2{
	height: 100%;
}
.corincor{
  position: absolute;
  bottom: 0%;
  left: 102%;
  width: 10%;
  display: none;
}
@media screen and (min-aspect-ratio: 4/3) {
	.my_font_big{
		font-size: 4vmin;
	}
	.options {
		font-size: 2.46vh;
	}
	.optionsblock > p:nth-child(1)
		font-size: 2.76vh;
	}
	.instruction2{
		font-size: 3.5vh;
	}
	.scoreboard{
		font-size: 3vh;
	}
	.letter_textalign_right, .letter_textalign_left {
		font-size: 3vh;
	}
	.cell{
		font-size: 3vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.my_font_big{
		font-size: 3.3vw;
	}
	.options {
		font-size: 2.2vw;
	}
	.optionsblock > p:nth-child(1){
		font-size: 2.56vw;
	}
	.instruction2{
		font-size: 2.8vw;
	}
	.scoreboard{
		font-size: 3.56vw;
	}
	.letter_textalign_right, .letter_textalign_left {
		font-size: 2.86vw;
	}
	.cell{
		font-size: 2.2vw;
	}
}
