p{
    z-index: 50;
}

@font-face{
	font-family: digitalclocktext;
	src: url("../../../../../fonts/digital-dream/digitaldream.ttf");
}

.weight {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.weight, .weight * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.weight .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.weight .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock{
	height: 90%;
	width: 100%;
	top: 10%;
	left: 0;
	position: absolute;
}

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
  background-color: #e6e6fa;
}

.description1{
	font-size: 3.8vmin;
}

.description_maintitle{
	font-size: 5.8vmin;
}

.description1_title{
	font-size: 4.2vmin;
	border-bottom: 0.08em solid #000;
	line-height: 1;
}

.description{
	font-size: 4.2vmin;
	width: 60%;
	left: 1%;
}

.description_orange{
	font-size: 4.2vmin;
	background-color: #FFE599;
	width: 90%;
	left: 5%;
	margin-bottom: 5%;
}

.descriptionheader{
	font-size: 5.56vmin;
}

[class*="description"]{
    font-family: sniglet;
    color :black;
}

.headerblock {
	width: 66%;
	left: 17%;
	background-color: #B6D7A8;
	color: #ffffff;
}

.utb_additional_block{
	height: 80%;
	top: 20%;
	left: 0;
	position: absolute;
	width: 100%;
}

.kg_input{
	border-bottom: 0.08em solid #000;
}

.gm_input{
	border-bottom: 0.08em solid #000;
}

.ltb_additonal_info{
	width: 40%;
	padding: 0.5em;
	height: 50%;
	bottom: 15%;
	right: 1%;
	position: absolute;
	border: 0.08em solid #a5a5a5;
	/*once a conversion has been made introduce box-shadow*/
	box-shadow: 0px 0px 0.3em #afafaf;
	overflow-x: hidden;
	overflow-y: auto;
}

.kg_inputcontainer{
	position: absolute;
	width: 27%;
	bottom: 42%;
	left: 1%;
	text-align: right;
	font-size: 3.56vmin;
}

.gm_inputcontainer{
	position: absolute;
	width: 27%;
	bottom: 42%;
	left: 29%;
	text-align: left;
	font-size: 3.56vmin;
}

.kg_input, .gm_input{
	width: 50%;
	text-align: right;
	padding-right: 0.3em;
}

.kgtogm_btn, .gmtokg_btn{
	position: absolute;
	top: 60%;
	width: 18%;
	font-size: 2.56vmin;
	line-height: 2;
	background-color: #6D9EEB;
	border: 0.08em solid #595959;
	border-radius: 0.5em;
}

.kgtogm_btn{
	left: 8%;
}

.kgtogm_btn:hover{
	background-color: #00C6E0;
}

.gmtokg_btn{
	left: 28%;
}

.gmtokg_btn:hover{
	background-color: #00C6E0;
}

.utb_info {
	position: absolute;
	width: 18%;
	top: 20%;
	right: 4%;
}

.ltb_additional_class{
	position: absolute;
	width: 100%;
	bottom: 0%;
}

.weightblock {
	position: absolute;
	top: 10%;
    right: 0%;
    width: 78%;
    height: 54%;
}

.beambalance_base {
	position: absolute;
    width: 65%;
    height: 30%;
    left: 20%;
    bottom: 20%;
    background-image: url(../images/digital-weighing-scale.png);
    z-index: 99;
    background-size: 100% 100%;
}

.beambalance_base2{
	position: absolute;
	width: 65%;
	height: 30%;
	left: 2%;
	bottom: 20%;
	background-image: url(../images/digital-weighing-scale.png);
	z-index: 99;
	background-size: 100% 100%;
}

.drop_left {
	position: absolute;
	height: 60%;
	width: 41.3%;
	left: 29%;
	top: 10%;
	margin: 0% 2% 3% 2%;
	z-index: 100;
}

.mangoescollection, .orangescollection, .potatocollection{
	position: absolute;
	width: 20%;
	height: 35%;
    top: 48%;
}

.mangoescollection{
	left: 1%;
}

.orangescollection{
	left: 22%;
}

.potatocollection{
	left: 43%;
}

.plateorange, .platemango, .platepotato{
	position: absolute;
	width: 100%;
	max-height: 20%;
	top: 80%;
	left: 0;
}

.fruit{
	cursor: -webkit-grab;
}

.draggablecontainer {
	position: absolute;
	height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.weight_content_show{
	position: absolute;
    width: 65%;
    left: 20%;
    top: 78%;
    background-color:#45718a;
    border: 0.2em solid #222280;
}

.weight_content_show2{
	position: absolute;
	width: 65%;
	left: 2%;
	top: 78%;
	background-color: #45718a;
	border: 0.2em solid #222280;
}

.orange_ltb {
	position: absolute;
	width: 90%;
	left: 5%;
	bottom: 2%;
	background-color: #FFE599;
}

.displayweight{
	font-family: digitalclocktext;
	width: 70%;
	color: red;
	height: 100%;
	font-size: 2.56vmin;
	text-align: center;
	left: 15%;
	margin: 0.3em 0 0.1em 0;
	background-color: #5a5a5a;
	border: 0.09em solid #3a3a3a;
}

.kgvalue_fruit, .gmvalue_fruit{
	font-size: 4vmin;
}

.utbaddition{
	padding: 1em 2em;
}

.utbaddition > p{
	font-size: 4vmin!important;
}

.fade_in{
	opacity: 0;
	-webkit-animation: fade_in_kf 1.5s ease-out forwards;
	animation: fade_in_kf 1.5s ease-out forwards;
}

.fade_in1{
	opacity: 0;
	z-index: 130;
	-webkit-animation: fade_in_kf 1.5s ease-out 1.5s forwards;
	animation: fade_in_kf 1.5s ease-out 1.5s forwards;
}

.fade_in2{
	opacity: 0;
	-webkit-animation: fade_in_kf 1.5s ease-out 3s forwards;
	animation: fade_in_kf 1.5s ease-out 3s forwards;
}

.fade_in3{
	opacity: 0;
	-webkit-animation: fade_in_kf 1.5s ease-out 5s forwards;
	animation: fade_in_kf 1.5s ease-out 5s forwards;
}

@-webkit-keyframes fade_in_kf {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fade_in_kf {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.fade_out{
	opacity: 0;
	-webkit-animation: fade_out_kf 2s ease-out forwards;
	animation: fade_out_kf 2s ease-out forwards;
}

@-webkit-keyframes fade_out_kf {
	to{
		opacity: 0;
	}
}

@keyframes fade_out_kf {
	to{
		opacity: 0;
	}
}

.slidein{
  -webkit-animation: slidein_kf 1s ease-in forwards;
  animation: slidein_kf 1s ease-in forwards;
  left: -100%;
}

@-webkit-keyframes slidein_kf {
  100%{
    left: 0%;
  }
}

@keyframes slidein_kf {
  100%{
    left: 0%;
  }
}

.slideout{
  -webkit-animation: slideout_kf 1s ease-in forwards;
  animation: slideout_kf 1s ease-in forwards;
	left: 0%;
}

@-webkit-keyframes slideout_kf {
  100%{
    left: 100%;
  }
}

@keyframes slideout_kf {
  100%{
    left: 100%;
  }
}
