@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s;
	-webkit-animation: appear 3s;
}
.fade-in-1 {
	animation: appear 1s linear 1s both;
	-webkit-animation: appear 1s linear 1s both;
}
.fade-in-2 {
	animation: appear 1s linear 2s both;
	-webkit-animation: appear 1s linear 2s both;
}
.fade-in-3 {
	animation: appear 1s linear 3s both;
	-webkit-animation: appear 1s linear 3s both;
}
.fade-in-6 {
	animation: appear 1s linear 6s both;
	-webkit-animation: appear 1s linear 6s both;
}
@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade-out {
	animation: disappear 3s ease-in both;
	-webkit-animation: disappear 3s ease-in both;
}

@-webkit-keyframes
disappear {
	100% {opacity: 0;}
}
@keyframes
disappear {
	100% {opacity: 0;}
}
/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

.ul{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}

.speechbox{
	position: absolute;
	width: 25%;
	height: 15%;
	font-family: sniglet;
	font-size: 2.1vw;
}
.speechbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}
@media (min-aspect-ratio: 4/3){
	.speechbox{
		font-size: 2.8vh;
	}
}
.speechbox>p{
	position: absolute;
	width: 84%;
	left: 8%;
	top: 40%;
	transform: translateY(-50%);
}
.speechbox>.audioicon{
	position: absolute;
	width: 10%;
	right: 5%;
	top: 12%;
}


.text-story{
	position: absolute;
	color: #595959;
	border-radius: 2vmin;
	font-size: 3vw;
	padding: 2%;
	z-index: 15;
	color: #595959;
	background-color: #FFFFFF;
	
	left: 50%!important;
	transform:translateX(-50%)!important;
	text-align: center!important;
}
@media(min-aspect-ratio:4/3){
	.text-story{
		font-size: 4vh;
	}
}
.aligned-left{
	text-align: left;
}
.text-story>p{
	position: relative;
	width: 100%;
}
.text-font-2{
	font-size: 3vw;
}
@media(min-aspect-ratio:4/3){
	.text-font-2{
		font-size: 4vh;
	}
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}




.overlay-endpage{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(89,89,89,0.5);
	z-index: 49;
}
.end-dialouge{
	position: absolute;
	top: 25%;
	left: 20%;
	width: 60%;
	height: 50%;
	z-index: 150;
	color: #6D9EEB;
	font-size: 3vw;
	filter: drop-shadow(-0.5vmin 1vmin 1vmin rgba(0,0,0,0.8));
	-webkit-filter: drop-shadow(-0.5vmin 1vmin 1vmin rgba(0,0,0,0.8));
}
@media(min-aspect-ratio:4/3){
	.end-dialouge{
		font-size: 4vh;
	}
}
.end-dialouge>p{
	position: aboslute;
	width: 80%;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}
.end-anim {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/*for move effect block*/


.moveblock{
	position: absolute;
	width: 30%;
	height: 50%;
	overflow: hidden;
}
.move-lines{
	position: absolute;
	height: 60%;
	width: 1%;
	bottom: -60%;
	border-radius: 50%;
	background: linear-gradient(to top, #CDCDCD, #AAAAAA, #CDCDCD);
}

.ml-1{
	left: 10%;
	animation: move-lines-anim-1 1.2s linear 0s infinite both;
	-webkit-animation: move-lines-anim-1 1.2s linear  infinite  0s both;
}
@-webkit-keyframes
move-lines-anim-1 {
	10% {bottom: -60%; opacity:1;}
	72% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}
@keyframes
move-lines-anim-1 {
	10% {bottom: -60%; opacity:1;}
	72% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}
.ml-2{
	left: 25%;
	animation: move-lines-anim-2 1.2s linear infinite  0s both;
	-webkit-animation: move-lines-anim-2 1.2s linear infinite  0s both;
}
@-webkit-keyframes
move-lines-anim-2 {
	0% {bottom: -60%; opacity:1;}
	67% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}
@keyframes
move-lines-anim-2 {
	0% {bottom: -60%; opacity:1;}
	67% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}
.ml-3{
	left: 65%;
	bottom: 50%;
	animation: move-lines-anim-3 1.2s linear infinite 0s both;
	-webkit-animation: move-lines-anim-3 1.2s linear infinite 0s both;
}
@-webkit-keyframes
move-lines-anim-3 {
	0% {bottom: 25%; opacity:0;}
	32% {bottom: 25%; opacity:0;}
	33% {bottom: 25%; opacity:1;}
	75% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}
@keyframes
move-lines-anim-3 {
	0% {bottom: 25%; opacity:0;}
	32% {bottom: 25%; opacity:0;}
	33% {bottom: 25%; opacity:1;}
	75% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}
.ml-4{
	left: 90%;
	animation: move-lines-anim-4 1.2s linear infinite  0s both;
	-webkit-animation: move-lines-anim-4 1.2s linear infinite  0s both;
}
@-webkit-keyframes
move-lines-anim-4 {
	23% {bottom: -60%; opacity:1;}
	77% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}
@keyframes
move-lines-anim-4 {
	23% {bottom: -60%; opacity:1;}
	77% {bottom: 100%; opacity:0;}
	100% {bottom: 100%; opacity:0;}
}

/*for move effect end*/

@keyframes wobblea {
  from {
    transform: none;
  }

  15% {
    transform: translateX(-25%) rotateZ(-5deg);
  }

  30% {
    transform: translateX(20%) rotateZ(3deg);
  }

  45% {
    transform: translateX(-15%) rotateZ(-3deg);
  }

  60% {
    transform: translateX(10%) rotateZ(2deg);
  }

  75% {
    transform: translateX(-5%) rotateZ(-1deg);
  }

  to {
    transform: none;
  }
}


/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
