<script>
	$cssLoader('exercise/css/exercise.css');
</script>

<script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

<div class="exebck">
	<div class="mygamebck">
		<div class="mymainBox">
			<img src="$ref/exercise/images/back-with-chef.png" class="imgBck" />
			<img src="$ref/exercise/images/bowl.png" class="bowlimg" />

			<div class="mySideBox">

			</div>


		</div>
		<div class="receipebox">
			<div class="smallTitle"></div>
			<div class="ingList" id="ing1"></div>
			<div class="ingList" id="ing2"></div>
			<div class="ingList" id="ing3"></div>
			<div class="ingList" id="ing4"></div>
			<div class="ingList" id="ing5"></div>
			<div class="ingList" id="ing6"></div>



		</div>
	</div>
	<div id="helpMe" ></div>

</div>

<div class="popUp">
	</div>

</div>
<script>

$jsLoader('exercise/js/exercise.js');
</script>


<script type="text/x-handlebars-template" id="firstPopUp">
<div  class="innerPop">
<img src="{{imgchief}}" id="chef"/>
	<div class="titleme">{{{titlepop}}}</div>

	<div class="textme">{{{text1}}}</div>
	<div class="textme">{{{text2}}}</div>
	<div class="btnA">{{{btntext}}}</div>
</div>

</script>

<script type="text/x-handlebars-template" id="eggpop">

<div id="egglist">
	<img src="{{eggcrate}}" id="eggcrate" />

	<div class="eggss" id="{{eggs1}}">
		<img src="{{eggme}}"  />
	</div>

	<div class="eggss" id="{{eggs2}}">
		<img src="{{eggme}}"  />
	</div>

	<div class="eggss" id="{{eggs3}}">
		<img src="{{eggme}}"  />
	</div>

	<div class="eggss" id="{{eggs4}}">
		<img src="{{eggme}}"  />
	</div>

	<div class="eggss" id="{{eggs5}}">
		<img src="{{eggme}}"  />
	</div>

	<div class="eggss" id="{{eggs6}}">
		<img src="{{eggme}}"  />
	</div>

	<div class="eggss" id="{{eggs7}}">
		<img src="{{eggme}}"  />
	</div>

	<div class="eggss" id="{{eggs8}}">
		<img src="{{eggme}}"  />
	</div>

	<div id="coverme"></div>

</div>


<div id="dropEgg">
	<img src="{{imgsDrops}}" />
</div>
</script>

<script type="text/x-handlebars-template" id="questionBox">
<div class="questionBox">
	<div class="question">{{{question}}}</div>
	<div class="optionList">
		<div class="option" id="{{opt1}}">
			<label>
				<input type="radio" name="radioMe" class=" {{corr1}}"/>
				{{{option1}}}
			</label>
			<span class="glyphicon {{remove1}} {{what1}}">
			</span>
		</div>
		<div class="option"  id="{{opt2}}">
			<label>
				<input type="radio" name="radioMe" class=" {{corr2}}"/>
				{{{option2}}}
			</label>
			<span class="glyphicon {{remove2}} {{what2}}">
			</span>
		</div>
		<div class="option"  id="{{opt3}}">
			<label>
				<input type="radio" name="radioMe" class=" {{corr3}}"/>
				{{{option3}}}
			</label>
			<span class="glyphicon {{remove3}} {{what3}}">
			</span>
		</div>
	</div>

	<div class="submitMe">{{submitMe}}</div>

	<div id="explanation">{{{expme}}}</div>
</div>

</script>


<script type="text/x-handlebars-template" id="sugarBox">

<div class="sugarBox">

	<div class="sugarsack" id="s1"><img src="{{sgimg}}"/></div>
	<div class="sugarsack" id="s2"><img src="{{sgimg}}"/></div>
	<div class="sugarsack"  id="s3"><img src="{{sgimg}}"/></div>
	<div class="sugarsack"  id="s4"><img src="{{sgimg}}"/></div>
	<div class="sugarsack"  id="s5"><img src="{{sgimg}}"/></div>

	<div class="riseflour"><img src="{{fimg}}"/></div>

	<div class="machine">
		<img src="{{mchimg}}"/>
		<div class="niddle">
			<img src="{{ndimg}}"/>
		</div>
	</div>

</div>

</script>

<script type="text/x-handlebars-template" id="pourBox">

<div class="{{pourBox}}" >

	<img src="" id="pourbxx"/>
</div>
</script>


<script type="text/x-handlebars-template" id="pourLiquid">
<div class="liquidBox">
	<div id="libottle">
		<img src="{{libottle}}"/>
	</div>


	<div class="libeaker">
		<img src="{{imgbreaker}}" id="bkimg"/>
	</div>
	<div id="liquidflow"></div>
</div>
</script>




<script type="text/x-handlebars-template" id="stillImage">
<div class="{{pourBox}}" >
	<img src="{{pimg}}" id="pourbxx"/>
</div>
{{#if spoon}}
<div id="spoon" >
	<img src="{{spoon}}" id="spoonstir"/>
</div>
{{/if}}
</script>



<script type="text/x-handlebars-template" id="ovenId">

<div id="amphere"><img src="{{amp}}" /></div>
<div id="ampherelabel">{{{amplable}}}</div>

<div id="temprature"><img src="{{tempimg}}" /></div>
<div id="templabel">{{{templable}}}</div>

<div id="timerhere"><img src="{{timerimg}}" /></div>
<div id="timerlabel">{{{timerlable}}}</div>
<div id="cakeTop"><img src="{{caketop}}" /></div>
<div id="steamingup"><img src="{{steamingup}}" /></div>

<div id="whatquestionForme">
	<div id="innerquestion"></div>

	<div class="inneroptionList">
		<div class="inneroption" id="inopt1">
			<label>
				<input type="radio" name="radioMe" class="no"/>
				<span id="opts1"></span>
			</label>
			<span class="glyphicon glyphicon-remove whatx">
			</span>
		</div>

		<div class="inneroption"  id="inopt2">
			<label>
				<input type="radio" name="radioMe" class="yes"/>
				<span  id="opts2"></span>
			</label>
			<span class="glyphicon glyphicon-ok whatr">
			</span>
		</div>

	</div>

	<div class="submitMe" id="innerClickBtn">{{submitMe}}</div>
	<div id="explanation">{{{expme}}}</div>
</div>
</script>



<script type="text/x-handlebars-template" id="cakeMe">
<div id="candel"><img src="{{imgcandel}}"/></div>

<div id="dropcandel"></div>

<div id="cakeAll"><img src="{{imgcake}}"/></div>

<div id="submitDn" class="submitMe">{{{textDn}}}</div>
<div id="congrats"><img src ="{{imgcon}}" /><div id="innercon">{{congrats}}</div></div>

<div id="refreshMe">
		<span class="glyphicon glyphicon-repeat">
		</span>
</div>

<div id="whatquestionForme">
	<div id="innerquestion"></div>

	<div class="inneroptionList">
		<div class="inneroption" id="inopt1">
			<label>
				<input type="radio" name="radioMe" class="no"/>
				<span id="opts1"></span>
			</label>
			<span class="glyphicon glyphicon-remove whatx">
			</span>
		</div>

		<div class="inneroption"  id="inopt2">
			<label>
				<input type="radio" name="radioMe" class="yes"/>
				<span  id="opts2"></span>
			</label>
			<span class="glyphicon glyphicon-ok whatr">
			</span>
		</div>

	</div>

	<div class="submitMe" id="innerClickBtn">{{submitMe}}</div>
	<div id="explanation">{{{expme}}}</div>
</div>



<div id="whatquestionForme2">
	<div id="innerquestion2">{{questIn}}</div>

	<div class="inneroptionList">
		<div class="textarea1" id="txtA1">
			{{area}} : <input type="text" class="textareac" id="textopt1"/> cm<sup>2</sup>
			<span class="glyphicon glyphicon-ok ok1 whatx"></span>
			<span class="glyphicon glyphicon-remove rm1 whatr"></span>
		</div>

		<div class="textarea1" id="txtA2">
			{{volume}} : <input type="text" class="textareac" id="textopt2"/> cm<sup>3</sup>
			<span class="glyphicon glyphicon-ok ok2 whatx"></span>
			<span class="glyphicon glyphicon-remove rm2 whatr"></span>
		</div>

	</div>

	<div class="submitMe" id="innerClickBtn2">{{submitMe}}</div>
	<div id="explanation2">{{{expme2}}}</div>
</div>
</script>
