@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	/*src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");*/
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 1s ease-in both;
	-webkit-animation: appear 1s ease-in both;
}
.fade_in-3 {
	animation: appear 1s linear 4s both;
	-webkit-animation: appear 1s linear 4s both;
}
@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s;
	-webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
	100% {opacity: 0;}
}
@keyframes
disappear {
	100% {opacity: 0;}
}
/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

.ul{
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}

.speechbox{
	position: absolute;
	width: 25%;
	height: 15%;
	font-size: 2.1vw;
}
.speechbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}
@media (min-aspect-ratio: 4/3){
	.speechbox{
		font-size: 2.8vh;
	}
}
.speechbox>p{
	position: absolute;
	width: 84%;
	left: 8%;
	top: 40%;
	transform: translateY(-50%);
}
.speechbox>.audioicon{
	position: absolute;
	width: 10%;
	right: 5%;
	top: 12%;
}

.click-on-map{
	z-index: 10;
	top: 2%;
	left: 0%;
	width: 100%;
	font-size: 3vw;
	text-align: center;
}
@media (min-aspect-ratio:4/3){
	.click-on-map{
		font-size: 3.8vh;
	}
}


/*mapobjects*/
.bg-sky{
	background-color: #94F0FF;
}
.bg-map{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.map-obj{
	position: absolute;
	z-index: 2;
}

.market{
	position: absolute;
	height: 30.6%;
	left: 59.8%;
	bottom: 0%;
}

.stupa{
	position: absolute;
	width: 41.5%;
	left: 57.8%;
	top: 23.5%;
}

.playground{
	position: absolute;
	width: 36%;
	left: 18.2%;
	top: 33.3%;
}
.museum{
	position: absolute;
	width: 20.5%;
	left: 25%;
	bottom: 31.4%;
}
.hall{
	position: absolute;
	width: 13%;
	left: 46%;
	bottom: 32%;
}
.square{
	position: absolute;
	width: 42%;
	left: 21.3%;
	bottom: 0%;
}
.bahal{
	position: absolute;
	width: 30%;
	right: 1.2%;
	bottom: 17.2%;
}

.hl-object{
	cursor: pointer;
	z-index: 10;
	-webkit-animation: hl-object 1s linear infinite;
	animation: hl-object 1s linear infinite;
}
@-webkit-keyframes
hl-object {
	50% {filter: drop-shadow(0px 0px 0.5vmin red);}
}
@keyframes
hl-object {
	50% {filter: drop-shadow(0px 0px 0.5vmin red);}
}

.hl-object:hover{
	transform: scale(1.05);
}






/*------ for popup block -----------*/
.popupdiv{
	display: none;
	position: absolute;
	top: 50%;
	height: 95%;
	left: 50%;
	width: 95%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255, 0.93);
	border: 0.5vmin solid #EFEFEF;
	border-radius: 2vmin;
	padding: 2%;
	z-index: 50;
}
.popupheader{
	position: absolute;
	top: 2%;
	left: 2.5%;
	width: 95%;
	height: 10%;
	font-family: Sniglet;
	color: #D43C69;
}
.popupheadertext{
	width: 100%;
	text-align: center;
	font-size: 3.5vh;
}
@media (min-aspect-ratio:4/3){
	.popupheadertext{
		font-size: 4.5vh;
	}
}
.popuppage{
	position: absolute;
	top: 12%;
	left: 2.5%;
	width: 95%;
	height: 86%;
}
.popupnext{
	position: absolute;
	bottom: 1%;
	right: 1%;
	height: 10%;
	cursor: pointer;
	border-radius: 50%;
	background-color: black;
	z-index: 50;
}
.popupprev{
	position: absolute;
	bottom: 1%;
	left: 1%;
	height: 10%;
	cursor: pointer;
	border-radius: 50%;
	background-color: black;
	z-index: 50;
}
.popupnext:hover, .popupprev:hover{
	background-color: red;
}
.wrong_button{
	display: none;
	position: absolute;
	right: 1%;
	top: 1%;
	/*transform: translate(50%,-50%);*/
	/*background-color: #FF3643;*/
	/*border-radius: 50%;*/
	width: 5%;
	cursor: pointer;
	z-index: 50;
	/*overflow: hidden;*/
	/*padding: 1.5%;*/
}
.popupcontainer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
}


.popup-desc-text{
	position: relative;
	margin-top: 2%;
	text-align: center;
	width: 100%;
	left: 0%;
	font-size: 2.3vw;
}
.popup-desc-text-side{
	position: absolute;
	top: 50%;
	text-align: center;
	width: 55%;
	left: 40%;
	font-size: 2.5vw;
	transform: translateY(-50%);
}
@media (min-aspect-ratio:4/3){
	.popup-desc-text-side,.popup-desc-text{
		font-size: 2.8vh;
	}
}
.popup-imageh{
	position: absolute;
	bottom: 5%;
	height: 40%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.5vw;
	border-radius: 38px;
}
.popup-imagew{
	position: absolute;
	bottom: 5%;
	width: 40%;
	left: 50%;
	font-size: 2.5vw;
}
.topblock-text{
	position: relative;
	top: 5%;
	text-align: center;
	width: 100%;
	left: 0%;
}


/*---------- popup end ------------*/

/*--------------- for true false --------------------*/
.tfheader{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 15%;
	background: #4EB1BA;
	color: white;
	font-size: 3.8vw;
}
.tfheader>p{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
@media (min-aspect-ratio:4/3){
	.tfheader{
		font-size: 4.5vh;
	}
}

.tf-bg{
	background: #FFFFFF;
}

.truefalseblock{
	position: absolute;
	top: 15%;
	width: 100%;
	height: 85%;
	left: 0%;
}

.tflist{
	position: relative;
	left: 0%;
	margin: 2% 0%;
	width: 100%;
	height: 15%;
}

.tfstate{
	position: absolute;
	left: 5%;
	width: 60%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2.8vw;
	text-align: left;
}
.true{
	left: 65%;
}
.false{
	left: 82%;
}




.tfbutton{
	cursor: pointer;
	position: absolute;
	display: inline-block;
	width: 13%;
	top: 10%;
	padding: 2% 0%;
	margin: 1% 0%;
	height: 80%;
	border-radius: 1vmin;
	background-color: #3498DB;
	color: white;
	border-bottom: 1vmin solid #2980B9;
	text-shadow: 0px -2px #2980B9;
	transition: all 0.1s;
	font-size: 3vw;
}
.tfbutton:not(.selected):hover{
	background-color: #00CADC;
	border-color: #066770;
}

.tfbutton>p{
	position: absolute;
	width: 95%;
	left: 2.5%;
	top: 50%;
	transform: translateY(-50%);
}
.tfbutton-cor{
	transform: translate(0px,5%);
	border-bottom: 0px solid;
	background-color: #4CAF50;
	border-color: #236025;
	color: white;
}
.tfbutton-incor{
	transform: translate(0px,5%);
	border-bottom: 0px solid;
	background-color: #D0553E;
	border-color: #8C2916;
	color: white;
}

@media (min-aspect-ratio:4/3){
	.tfstate{
		font-size: 3.8vh;
	}
	.tfbutton{
		font-size: 3.8vh;
	}
}
/*------------ true false end ---------------*/




.no-overflow{
	overflow: hidden;
}
.aligned-left{
	text-align: left;
}