.cover{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0%;
}
.lesson-title {
	font-size: 3em;
	line-height: 1em;
	position: absolute;
	left: 0%;
	top: 2%;
	width: 100%;
	z-index: 5;
}
.bg-front{
	background-color: #B3C60A;
}


.bg-image{
	position: absolute;
	height: 100%;
	width: 100%;
	top: -10%;
	left: 0%;
	transform-origin: 64% 4%;
	transform: scale(4);
	z-index: 2;
}
.sun{
	position: absolute;
	top: 25%;
	left: 61%;
	width: 6%;
	filter: drop-shadow(0px 0px 3vmin #FFF394);
	transform: translate(-50%, -50%);
}


.overlay-darkness{
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 10;
	height: 100%;
	width: 100%;
	opacity: 0.93;
	background: #000000;
}

.sunrays{
	position: absolute;
	top: 65%;
	left: 45%;
	width: 10%;
	height: 16%;
	opacity: 0;
	border-radius: 50%;
	z-index: 5;
	background: radial-gradient(#FCF35C55 5%, #FDB23B88);
}


.bg-anim{
	-webkit-animation: bg-anim 3s linear 4s both;
	animation: bg-anim 3s linear 4s both;
}
@-webkit-keyframes
bg-anim {
	100% {transform: scale(1);}
}
@keyframes
bg-anim {
	100% {top: 0%; transform: scale(1);}
}

.overlay-darkness-anim{
	-webkit-animation: overlay-darkness-anim 4s ease-in both;
	animation: overlay-darkness-anim 4s ease-in  both;
}
@-webkit-keyframes
overlay-darkness-anim {
	0% {opacity: 0.93;}
	100% {opacity: 0;}
}
@keyframes
overlay-darkness-anim {
	0% {opacity: 0.93;}
	100% {opacity: 0;}
}



.sunrise{
	-webkit-animation: sunrise 6s linear 1s both;
	animation: sunrise 6s linear 1s both;
}
@-webkit-keyframes
sunrise {
	50% {top: 1%;}
	53% {top: 1%;}
	100% {top: -10%;}
}
@keyframes
sunrise {
	50% {top: 1%;}
	53% {top: 1%;}
	100% {top: -10%;}
}


.sunrays-anim{
	-webkit-animation: sunrays-anim 3s linear 1s both;
	animation: sunrays-anim 3s linear 1s both;
}
@-webkit-keyframes
sunrays-anim {
	100% {top: 2%; transform:scale(20); opacity: 0.3;}
}
@keyframes
sunrays-anim {
	100% {top: 2%; transform:scale(40); opacity: 0.3;}
}




.welcome-text{
	z-index: 25;
	position: absolute;
	color: white;
	width: 100%;
	left: 0%;
	top: 1%;
	text-align: center;
	padding: 3%;
}

.fade-out{
	-webkit-animation: fade-out 2s linear 1s both;
	animation: fade-out 2s linear 1s both;
}
@-webkit-keyframes
fade-out {
	100% {opacity: 0; display: none;}
}
@keyframes
fade-out {
	100% {opacity: 0; display: none;}
}


.full-bg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.lasttext-p1{
	margin-top: 2%;
	color: blue;
}
.lasttext{
	font-size: 2vw;
}
@media (min-aspect-ratio:4/3){
	.lasttext{
		font-size: 2.3vh;
	}
}


.market-2{
	position: absolute;
	left: 5%;
	top: 10%;
	height: 80%;
}
.stupa-p{
	position: absolute;
	width: 60%;
	bottom: 2%;
	left: 20%;
	background-color: #8ed362;
	border-radius: 38px;
}




.map-obj2{
	z-index: 20;
}

.loading_p1{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	color: blue;
	font-size: 5em;
}
.bg-image-1{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	z-index: 2;
}
.red-text{
	color: red;
}
