.museum-p{
	position: absolute;
	bottom: 0%;
	width: 70%;
	left: 15%;
}


.museum-p0{
	position: absolute;
	bottom: 0%;
	width: 70%;
	left: 50%;
	z-index: 5;
	transform: translateX(-50%);
}
.museum-p0-anim{
	-webkit-animation: museum-p0-anim 2s linear both;
	animation: museum-p0-anim 2s linear both;
}
@-webkit-keyframes
museum-p0-anim {
	100% {width:640%; left: 22%;}
}
@keyframes
museum-p0-anim {
	100% {width:640%; left: 22%;}
}

.museumdiv{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.door-m{
	display: none;
	z-index: 10;
	position: absolute;
	bottom: 2.5%;
	left: 34.2%;
	height: 97%;
	background: #42210B;
	width: 32.7%;
	transform-origin: 0% 50%;
}

.museum-p0-anim-2{
	-webkit-animation: museum-p0-anim-2 4s linear both;
	animation: museum-p0-anim-2 4s linear both;
}
@-webkit-keyframes
museum-p0-anim-2 {
	65% {width:640%; left: 22%;}
	100% {width:780%; left: 12.4%; bottom: -11%;}
}
@keyframes
museum-p0-anim-2 {
	65% {width:640%; left: 22%;}
	100% {width:780%; left: 12.4%; bottom: -11%;}
}


.door-m-anim{
	-webkit-animation: door-m-anim 1s linear both;
	animation: door-m-anim 1s linear both;
}
@-webkit-keyframes
door-m-anim {
	100% {transform: rotateY(-90deg);}
}
@keyframes
door-m-anim {
	100% {transform: rotateY(-90deg);}
}
.museum-p0-anim-3{
	-webkit-animation: museum-p0-anim-3 1.5s linear 1.5s both;
	animation: museum-p0-anim-3 1.5s linear 1.5s both;
}
@-webkit-keyframes
museum-p0-anim-3 {
	0% {width:780%; left: 12.4%; bottom: -11%;}
	80% {opacity: 1;}
	100% {width:1300%; left: -13%; bottom: -50%; opacity: 0; display: none;}
}
@keyframes
museum-p0-anim-3 {
	0% {width:780%; left: 12.4%; bottom: -11%;}
	80% {opacity: 1;}
	100% {width:1300%; left: -13%; bottom: -50%; opacity: 0; display: none;}
}


.mus-room{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.mus-room-anim{
	-webkit-animation: mus-room-anim 2s linear 1.5s both;
	animation: mus-room-anim 2s linear 1.5s both;
}
@-webkit-keyframes
mus-room-anim {
	100% {width: 120%; height:120%;}
}
@keyframes
mus-room-anim {
	100% {width: 120%; height:120%;}
}


.imgt-1{
	position: absolute;
	width: 45%;
	left: 27.5%;
	bottom: 8%;
}

.imgt-21{
	position: absolute;
	width: 25%;
	left: 8%;
	bottom: 0%;
}
.imgt-22{
	position: absolute;
	width: 25%;
	left: 37.5%;
	bottom: 0%;
}
.imgt-23{
	position: absolute;
	width: 25%;
	left: 67%;
	bottom: 0%;
}

.fullroom{
	position: absolute;
	width: 100%;
	left: 0%;
	bottom: 0%;
	height: 100%;
}


.imgt-d{
	position: absolute;
	width: 35%;
	height: 55%;
	left: 12%;
	bottom: 10%;
	background: #8E7CC3;
	padding: 2%;
	padding-bottom: 10%;
	border-radius: 3vmin;
}
.text-d{
	position: absolute;
	left: 30%;
	bottom: 17%;
	color: white;
	transform: translateX(-50%);
}
.text-g{
	position: absolute;
	right: 30%;
	bottom: 17%;
	color: white;
	transform: translateX(50%);
}
.imgt-g{
	position: absolute;
	width: 35%;
	height: 55%;
	right: 12%;
	bottom: 10%;
	background: #E77373;
	padding: 2%;
	padding-bottom: 10%;
	border-radius: 3vmin;
}
.imgt-31{
	position: absolute;
	width: 35%;
	left: 12%;
	bottom: 20%;

}
.imgt-32{
	position: absolute;
	width: 35%;
	right: 12%;
	bottom: 20%;
}





















