@font-face {
    font-family: laila;
    src: url('../../../../../fonts/laila/laila-regular.ttf');
}

@font-face {
    font-family: laila_bold;
    src: url('../../../../../fonts/laila/laila-bold.ttf');
}

.plants {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    font-family: laila;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.plants, .plants * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.plants .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.plants .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/

        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }

        div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }

    /*=====  End of HeaderBlock  ======*/

    /*====================================
    =            ContentBlock            =
    ====================================*/

        div.generalTemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        }

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/

        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238);
        }

        div.instructionblock[data-instructionblockshow='true']{
            top : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);

            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 7px;

            background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }

    /*=====  End of InstructionBlock  ======*/


    /*==================================
    =            Text Block            =
    ==================================*/

        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 0.5%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;

            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        span.royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        span.orangehighlight{
            color : rgb(197,6,6);
        }

        p.textalignleft{
            text-align: left;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        p.paperstacktextstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.paperstacktextstyle:after{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        p.paperstacktextstyle:before{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        /* Rules below is for multiplehighlight of span tags for a highlight true para.
           For example */
            .multiplehighlights:nth-of-type(1){
                background-color:#D93B2B;
            }

            .multiplehighlights:nth-of-type(2){
                background-color:#F6921E;
            }

            .multiplehighlights:nth-of-type(3){
                background-color:#FFDD00;
            }
        /* and so on if required be... */

    /*=====  End of Text Block  ======*/


    /*===================================
    =            Image Block            =
    ===================================*/

        div.imageblock{
            position      : relative;
            margin-top    : 0.5%;
            margin-bottom : 0.5%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{
            display  : table;
            margin   : 5% auto;
            position : relative;
            padding  : 1%;
            width    : 35%;
            cursor: pointer;
        }

        div.imageblock label{
           position : absolute;
        }

        img.twoimgtogether{
            position : relative;
            margin-top: 8%;
            display  : inline-block;
            width    : 25%;
            cursor: pointer;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+2){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }
    /*=====  End of Image Block  ======*/


    /*====================================
    =            usageslowreveal Block =
    ====================================*/

        div.layoutusageslowreveal,
        div.usageslowrevealblock{
            position : relative;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        .usageheading{
            position         : relative;
            top              : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
        }

    /*-----  End of usageslowreveal Block  ------*/

    /*==========================================
    =            Card Content Block            =
    ==========================================*/
        div[class^='card_block']{
            position           : relative;
            margin             : 1% 0%;
            left               : 1%;
            width              : 98%;
            padding            : 1.5% 0%;
            background-color   : white;
            text-align         : left;
            box-shadow         : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
            -moz-box-shadow    : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
            -webkit-box-shadow : 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
        }

        div[class^='card_block']:nth-of-type(n+2){
            opacity                  : 0;
            transition               : opacity 0.5s ease-out;
            -moz-transition          : opacity 0.5s ease-out;
            -webkit-transition       : opacity 0.5s ease-out;
        }

        div[class^='card_block'][data-hasimage='true']{
            min-height: 30%;
        }

        div[class^='card_block'] div.content_wrapper_card_block{
            position : relative;
            width    : 100%;
        }

        div[class^='card_block'][data-hasimage='true'] div.content_wrapper_card_block{
            position : relative;
            width    : 70%;
        }

        div[class^='card_block'] .card_title{
            position      : relative;
            padding       : 0% 2%;
            border-bottom : 1px solid rgb(236, 236, 236);
            font-weight   : bold;
            font-size     : 1.3em;
        }

        div[class^='card_block'] .card_content_text{
            position : relative;
            padding  : 1% 2% 0% 2%;
        }

        div[class^='card_block'] .card_content_image{
            position : absolute;
            top:2%;
            right:3%;
            width:20%;
        }

        .nextusageBtn{
            position: absolute;
            bottom:0%;
            right:0%;
            width: 7%;
            height: 10%;
        }

    /*=====  End of Card Content Block  ======*/

    /*============================================
    =            Time to think Block            =
    ============================================*/

        div.timeToThink{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

        div.timeToThink > figure{
            position : absolute;
            top      : 10%;
            width    : 50%;
            left     : 5%;
        }

        div.timeToThink > figure > img{
            position : relative;
            width    : 100%;
        }

        div.timeToThink > figure > figcaption{
            display    : table;
            position   : relative;
            margin-top : -17%;
            left       : 40%;
            width      : 55%;
            font-size  : 1.5em;
            color      : rgb(201, 136, 116);
        }

        div.timeToThink > p{
            position   : relative;
            top        : 50%;
            text-align : left;
            font-size  : 1.4em;
            /* border  : 1px solid red; */
        }

    /*=====  End of Time to think Block  ======*/

    /*=====================================
    =            svg layout            =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 25%;
            left     : 20%;
            width    : 60%;
            height   : 70%;
            /*border   : 1px solid blue;*/
        }
    /*=====  End of svg layout  ======*/

    /*=======================================
    =            Property Layout            =
    =======================================*/
        div.propertylayout{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertyblock{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertylistcontainer{
            position: absolute;
            top: 17.5%;
            left: 2%;
            width: 30%;
            height: 65%;
            border:2px solid rgb(147, 82, 52);
        }

        div.propertylistcontainer h4{
            position: relative;
            color: rgb(255, 255, 255);
            background: rgb(147, 82, 52) none repeat scroll 0% 0%;
            text-align: center;
            padding: 2% 2%;
            font-size: 1em;
        }

        div.propertylistcontainer p{
            position:relative;
            padding: 3% 2%;
            color: rgb(0, 0, 0);
            font-size: 1.1em;
        }

        div.propertylistcontainer p:nth-of-type(n+2){
            margin-top: 20%;
        }

        div.propertylistcontainer p span{
            position: absolute;
            left:0;
            padding: 1% 3%;
            color: rgb(255, 255, 255);
            background-color: rgb(147, 82, 52);
            font-weight: bold;
        }

        div.propertylistcontainer p small{
            position: absolute;
            left: 15%;
            color: rgb(0, 0, 0);
            text-align: left;
        }

        div.propertylayout div.explainpropertycontainer{
            position:absolute;
            left: 35%;
            top:10%;
            height:87%;
            width:65%;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty{
            position:absolute;
            width:100%;
            font-size: 1.3em;
            border-top: 5px solid rgb(255, 146, 7);
        }


        div.propertylayout div.explainpropertycontainer div.mainproperty span{
            position: absolute;
            left:0;
            padding: 2% 2% 0.5%;
            color: rgb(255, 255, 255);
            background-color: rgb(255, 146, 7);
            font-weight: bold;
        }

        div.propertylayout div.explainpropertycontainer div.mainproperty p{
            position: absolute;
            padding-top: 1%;
            left: 9%;
            color: rgb(0, 0, 0);
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain{
            position: absolute;
            top:15%;
            left:0%;
            width:100%;
            height:80%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain img{
            position: relative;
            top:0%;
            left:0%;
            width:40%;
        }

        div.propertylayout div.explainpropertycontainer div.propertyexplain p{
            position: relative;
            top:5%;
            left:0%;
            font-size: 1.2em;
            text-align: left;
        }

    /*-----  End of Property Layout  ------*/


    /*=======================================
    =            Property Summary Layout    =
    =======================================*/
        div.propertysummarylayout{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
        }

        div.propertysummaryblock{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            text-align: center;
        }

        div.propertysummaryblock ul{
            display:inline-block;
            position: relative;
            padding:0 0 3% 0;
            border:2px solid rgb(147, 82, 52);
        }

        div.propertysummaryblock ul div{
            background: rgb(147, 82, 52) none repeat scroll 0% 0%;
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 1.3em;
            font-weight: normal;
            padding: 3% 5%;
        }

        div.propertysummaryblock ul li{
            position: relative;
            color: rgb(42, 101, 88);
            padding: 3% 2%;
            width:100%;
        }

        div.propertysummaryblock ul li:nth-of-type(n+2){
            margin-top:5%;
        }

        div.propertysummaryblock ul li span{
            position: absolute;
            /*text-align:left;*/
            padding: 1.5%;
            left:0;
            color: rgb(255, 255, 255);
            background-color: rgb(147, 82, 52);
            font-weight: bold;
        }

        div.propertysummaryblock ul li p{
                position: absolute;
            padding: 1%;
            left: 7%;
            color: rgb(0, 0, 0);
        }
    /*-----  End of Property Summary Layout  ------*/

    /*====================================
    =            Usage Layout            =
    ====================================*/

        div.usagelayout,
        div.usagelayout div.usageblock{
            position: relative;
            top: 0%;
            left: 0%;
            width:100%;
            height:100%;
            /*border:1px solid red;*/
        }

        div.usagelayout .usageheading{
            position: absolute;
            top: 4%;
            left: 5%;
            font-size: 1.5em;
        }

        div.usagelayout p.usagetext{
            position: absolute;
            top:15%;
            left:5%;
            width: 95%;
            font-size: 1.15em;
            padding: 0.5% 0% 0.5% 2%;
            text-align: left;
            border-top: 5px solid rgb(255, 146, 7);
            border-left: 15px solid rgb(255, 146, 7);
            color: rgb(147, 82, 52);
        }

        div.usagelayout div.explainusage{
            position: absolute;
            top:26%;
            left:5%;
            width: 95%;
            height:74%;
            /*border:1px solid red;*/
        }

        div.usagelayout div.explainusage div.explainusageimagecontainer{
            position: absolute;
            top:0%;
            left:0%;
            width: 50%;
            height:100%;
        }

        div.usagelayout div.explainusage div.explainusageimagecontainer img{
            position: absolute;
            width: 60%;

            /* keep the image at the center of its container
               following code shall help you */
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }

        div.usagelayout div.explainusage .explainusagetext{
            display: table;
            margin: 0px 2%;
            position: absolute;
            left:47%;
            padding: 2%;
            width: 45%;
            font-size: 1.05em;
            text-align: left;
            text-align: justify;
            background-color: rgb(255, 247, 208);
            border: 2px solid rgb(247, 204, 27);
            border-radius: 5px;

            /* keep this block of text always at the vertical center please
                following code shall help you - cheers!*/
            top:50%;
            transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
    /*-----  End of Usage Layout  ------*/

    /*==============================================
    =            Diy Splash Page Block             =
    ==============================================*/

        div.diysplashblock{
            position : relative;
            width    : 100%;
            /*border   : 1px solid red;*/
        }

        div.diysplashblock > figure{
            position : relative;
            display  : table;
            margin   : 0 auto;
            width    : 40%;
            /*border : 1px solid red;*/
        }

        div.diysplashblock > figure > img{
            width: 100%;
        }

        div.diysplashblock > figure > figcaption{
            position    : absolute;
            top         : 12%;
            left        : 3%;
            width       : 90%;
            margin      : 0 auto;
            font-size   : 1.5em;
            color       : #C98865;
            font-weight : bold;
            /*border    : 1px solid red;*/
        }

        div.diysplashblock > p{
            position   : relative;
            color      : black;
            margin-top : 3%;
            font-size  : 1.5em;
            padding    : 0% 2%;
        }

    /*=====  End of Diy Splash Page Block  ======*/

    /*=================================
    =            Diy Block            =
    =================================*/
        div.diyblock{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall{
            position : relative;
            top      : 0%;
            width    : 100%;
            height   : 17%; /* you can change the height according to need */
            /*border   : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 20%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > img{
            position : relative;
            width    : 60%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > figcaption{
            position  : absolute;
            top       : 5%;
            left      : 24%;
            width     : 53%;
            font-size : 0.8em;
            color     : #C98865;

            /*border:1px solid red;*/
        }

        div.diyblock > div.diySmall > p{
            position   : absolute;
            top        : 2%;
            right      : 0%;
            width      : 82%;
            padding    : 1% 1%;
            font-size  : 1.1em;
            text-align : left;

            border           : 2px solid #DB9E36;
            border-radius    : 4px 4px 4px 4px;
            background-color : #FFD34E;
            color            : #BD4932;
        }

        div.diyblock > div.diyworkarea{
            position   : relative;
            margin-top : 1.5%;
            width      : 100%;
            height     : 80%; /* you can change the height according to need */
            /*border     : 1px solid red;*/
        }

    /*=====  End of Diy Block  ======*/

    /*============================================
    =            Definition Block                =
    ============================================*/
        div.definitionblock > img{
            position : relative;
            width    : 50%;
            left     : -20%;
        }

        div.definitionblock > figcaption{
            position   : relative;
            margin-top : -8%;
            left       : -21%;
            font-size  : 2em;
            color      : rgb(201, 136, 116);
        }

        div.definitionblock > p.definitiontextstyle{
            position   : relative;
            text-align : left;
            margin-top : 15%;
            font-size  : 1.5em;
            padding    : 0% 2%;
            /* border  : 1px solid red; */
        }

    /*=====  End of Definition Block  ======*/

/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

/*====================================
=            personal css            =
====================================*/
.timeToThink{
        position : relative;
        top      : 5%;
        left     : 0;
        width    : 40%;
        height: 60%;
    }
.timeToThink_figdata{
            display: table;
            position: relative;
            left: 25%;
            width: 50%;
            font-size: 1.8em;
            color: #C98874;
            bottom: 75%;
        }

.lowerpara{
    position: absolute;
    left: 0;
    margin-top: 45%;
    padding: 1%;
    opacity: 0;
    width: 100%;
    background: #ffecb3;
}

.lowerpara2{
    position: absolute;
    left: 0;
    margin-top: 14%;
    padding: 2%;
    opacity: 0;
    width: 100%;
    background: #ffecb3;
}
.beambalance{
    position: absolute;
    left: 30%;
    margin-top: 5%;
    width: 40%;
    opacity: 0;
}
@keyframes movediv{
    from{
        opacity: 0;
        left: -30%;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@-moz-keyframes movediv{
    from{
        opacity: 0;
        left: -30%;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@-webkit-keyframes movediv{
    from{
        opacity: 0;
        left: -30%;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

.textanim{
    animation: movediv 1s linear 1s 1 forwards;
    -webkit-animation: movediv 1s linear 1s 1 forwards;
    -moz-animation: movediv 1s linear 1s 1 forwards;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-moz-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.cssfadein{
    animation: show 1s linear 1s 1 forwards;
    -webkit-animation: show 1s linear 1s 1 forwards;
    -moz-animation: show 1s linear 1s 1 forwards;
}

.twoimgtogetheranim{
    position : relative;
    margin-top: 8%;
    display  : inline-block;
    width    : 25%;
    padding: 1%;
    opacity: 0;
    left: 0;
}

@keyframes shrink{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
    }
}

@-moz-keyframes shrink{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
    }
}

@-webkit-keyframes shrink{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
        -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
    }
}

.shrinkimage{
    animation: shrink 1s linear 0.3s 1 forwards;
    -webkit-animation: shrink 1s linear 0.3s 1 forwards;
    -moz-animation: shrink 1s linear 0.3s 1 forwards;
}

.middlepara{
    position: absolute;
    margin-top: 20%;
    width: 35%;
    background: #D1F2AE;
    border-top-right-radius: 50px;
    padding: 1%;
    opacity: 0;
}

@keyframes movedivagain{
    from{
        opacity: 1;
        left: 0%;
    }
    to{
        opacity: 1;
        left: 20%;
    }
}

@-moz-keyframes movedivagain{
    from{
        opacity:1;
        left: 0%;
    }
    to{
        opacity: 1;
        left: 20%;
    }
}

@-webkit-keyframes movedivagain{
    from{
        opacity: 1;
        left: 0%;
    }
    to{
        opacity: 1;
        left: 20%;
    }
}

.divslideleft{
    animation: movedivagain 1s ease-in 0s 1 forwards;
    -webkit-animation: movedivagain 1s ease-in 0s 1 forwards;
    -moz-animation: movedivagain 1s ease-in 0s 1 forwards;
}
/*=====  End of personal css  ======*/

.simplebg{
	background-image: url('../images/bg3.jpg');
	background-size: 100% 100%;
}
.firstpagebackground{
	background: #f4c4f3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #f2d2f0, #eda1ea);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #f2d2f0, #eda1ea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.firsttitle {
    font-size: 9vmin;
    color: #1f1f1f;
    position: absolute;
    width: 100%;
    padding: 1% 5%;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
	font-size: 4vmin;
	color: #EA345C;
	width: 90%;
	padding: 0.5% 5% 0% 5%;
	margin: 0% 5%;
	border-bottom: 5px solid #345981;
	padding-bottom: 0.1%;
}

.additional_image_block{
	position: absolute!important;
	bottom: 0;
	width: 90%;
	left: 5%;
	background-color: #ffffff;
	height: 20%;
	border-radius: 12px;
	border: 3px solid #FF5C65;
}

.additional_image_block02{
	position: absolute!important;
	height: 100%;
	width: 100%;
	top: 0;
}

.animalhomeexample{
	position: absolute;
	width: 60%;
	top: 20%;
	left: 20%;
}

.border1{
	border: 36px solid transparent;
	border-image: url("../images/border_4.png") 37% round;
}

.border2{
	border: 30px solid transparent;
	border-image: url("../images/border_1.png") 37% round;
}

.border3{
	border: 30px solid transparent;
	border-image: url("../images/border_3.png") 37% round;
}

.border4{
	border: 30px solid transparent;
	border-image: url("../images/border_2.png") 37% round;
}

.border5{
	border: 36px solid transparent;
	border-image: url("../images/border_4.png") 37% round;
}

.border6{
	border: 30px solid transparent;
	border-image: url("../images/border_3.png") 37% round;
}

.animalhomedescription{
	position: absolute;
	font-size: 5.56vmin;
	width: 100%;
	top: 1%;
	left: 0%;
	font-weight: initial;
	opacity: 0;
	 animation: show 2s linear 1s 1 forwards;
    -webkit-animation: show 2s linear 1s 1 forwards;
    font-family: laila_bold;
	/*text-shadow: 1px 1px #5a5a5a;*/
	/*color: black;*/
	/*-webkit-text-fill-color: white;*/
	/*-webkit-text-stroke-width: 2px;*/
	/*-webkit-text-stroke-color: #FF5D64;*/
	/*letter-spacing: 2px;*/
}

.feathers, .grass, .cotton, .twigs, .ribbons{
	width: 18.8%;
	position: absolute;
	max-height: 90%;
	top: 5%;
	cursor: pointer;
}

.featherclick, .grassclick, .cottonclick, .twigsclick, .ribbonsclick{
	width: 5%;
	top: 32%;
	margin-left: 10%;
	position: absolute;
	cursor: pointer;
}

.featherslabel, .grasslabel, .cottonlabel,
.twigslabel, .ribbonslabel{
 	width: 18.8%;
 	bottom: 110%;
 	position: absolute;
 	text-align: center;
 	padding: 4px 1px;
 	background-color: #FF5C65;
 	/*border: 2px solid #D93B2B;*/
 	color: #2a2a2a;
 	/*cursor: pointer;*/
 	display: none;
 	border-radius: 8px;
 }

.feathers:hover ~ .featherslabel{
    display:  block;
}

.grass:hover ~ .grasslabel{
	display: block;
}

.cotton:hover ~ .cottonlabel{
	display: block;
}

.twigs:hover ~ .twigslabel{
	display: block;
}

.ribbons:hover ~ .ribbonslabel{
	display: block;
}

.featherclick:hover ~ .featherslabel{
    display:  block;
}

.grassclick:hover ~ .grasslabel{
	display: block;
}

.cottonclick:hover ~ .cottonlabel{
	display: block;
}

.twigsclick:hover ~ .twigslabel{
	display: block;
}

.ribbonsclick:hover ~ .ribbonslabel{
	display: block;
}

.featherslabel, .feathers, .featherclick{
	left: 1%;
}

.grasslabel, .grass, .grassclick{
	left: 20.8%;
}

.cottonlabel, .cotton, .cottonclick{
	left: 40.6%;
}

.twigslabel, .twigs, .twigsclick{
	left: 60.4%;
}

.ribbonslabel, .ribbons, .ribbonsclick{
	left: 80.2%;
}

.backgroundclass{
	background-image: url("../images/bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.nest, .nest02{
	position: absolute;
}

.nest02{
	opacity: 0;
	 animation: show 1.5s linear 1s 1 forwards;
    -webkit-animation: show 1.5s linear 1s 1 forwards;
}

.nest, .nest02, #nestfeather, #nestgrass, #nestcotton, #nesttwig, #nestribbons{
	width: 18.8%;
	max-height: 90%;
	top: -162%;
	left: 50%;
}

 .nest02, #nestfeather, #nestgrass, #nestcotton, #nesttwig, #nestribbons{
 	display: none;
 }

.unselectgray{
	filter : grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.birdy{
	position: absolute;
	width: 36%;
	max-height: 180%;
	bottom: 168%;
	left: 63%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    display:none;
    opacity: 0;
     animation: show 1.5s linear 1 forwards;
    -webkit-animation: show 1.5s linear 1 forwards;

}

.homeinfo{
	position: absolute!important;
	width: 39%;
	top: 140%;
	font-size: 4.5vmin;
	background-color: #f8f;
	left: 5%;
	border-radius: 12px;
	border: 4px solid #8CC640;
	display: none;
	 opacity: 0;
     animation: show 1s linear 1 forwards;
    -webkit-animation: show 1s linear 1 forwards;
}

.additionalutbclass{
	height: 20%;
	position: absolute;
	width: 100%;
}

.clickinstruction{
	position: absolute !important;
	width: 39%;
	top: 220%;
	font-size: 4vmin;
	background-color: #f13476;
	left: 5%;
	border-radius: 12px;
	border: 4px solid #ffffff;
	color: #ffffff;
	padding: 1% 1%;
}

.clickinstructionanimate{
	animation: focus 2s linear infinite alternate;
    -webkit-animation: focus 2s linear infinite alternate;
}

@-webkit-keyframes focus{
	from{
		transform: scale(0.9);
	}
	to{
		transform: scale(1.1);
	}
}

@keyframes focus{
	from{
		transform: scale(0.9);
	}
	to{
		transform: scale(1.1);
	}
}

.fadedivaway{
	animation: hide 3.4s linear 1 forwards;
    -webkit-animation: hide 3.4s linear 1 forwards;
}

@-webkit-keyframes hide{
	to{
		opacity: 0;
	}
}
 @keyframes hide{
 	to{
 		opacity: 0;
 	}
 }


.description1, .description2{
	font-size: 5.56vmin;
	text-align: center;
	color: #3a3a3a;
}

.description2{
	font-size: 3.8vmin;
}

.description1:nth-of-type(2){
	opacity: 0;
	animation: show 1s linear 1s 1 forwards;
   -webkit-animation: show 1s linear 1s 1 forwards;
}

.description2:nth-of-type(1){
	opacity: 0;
	animation: show 1s linear 1.5s 1 forwards;
   -webkit-animation: show 1s linear 1.5s 1 forwards;
}

.description2:nth-of-type(2){
	opacity: 0;
	animation: show 1s linear 2.5s 1 forwards;
   -webkit-animation: show 1s linear 2.5s 1 forwards;
}

.animatioeffect1{
	opacity: 0;
	transform: scale(0.1);
	animation: effect1 2s linear 1 forwards;
}

@keyframes effect1{
	to{
		transform: scale(1);
		opacity: 1;
	}
}

.animatioeffect2{
	left: 100%;
	animation: effect2 2s linear 1 forwards;
}

@keyframes effect2{
	to{
		left: 20%;
	}
}

.animatioeffect3{
	left: -100%;
	transform: scale(0.3);
	animation: effect3 2s linear 1 forwards;
}

@keyframes effect3{
	to{
		left: 20%;
		transform: scale(1);
	}
}

.animatioeffect4{
	top: -100%;
	left: -80%;
	opacity: 0;
	animation: effect4 2s linear 1 forwards;
}

@keyframes effect4{
	to{
		top: 20%;
		left: 20%;
		opacity: 1;
	}
}

.animatioeffect5{
	top: 120%;
	left: 120%;
	transform: scale(2.5);
	animation: effect5 2s linear 1 forwards;
}

@keyframes effect5{
	to{
		top: 20%;
		left: 20%;
		transform: scale(1);
	}
}

.nest1, .nest2, .nest3, .nest4, .nest5, .nest6, .nest7, .nest8{
	position: absolute!important;
	width: 20%;
	height: 40%;
	opacity: 0;
	padding: 12px;
	background-color: #ffffff;
	box-shadow: 1px 0px 4px #666666;
}

.nest1{
	animation: show 1s linear 1s 1 forwards;
   -webkit-animation: show 1s linear 1s 1 forwards;
}

.nest2{
	animation: show 1s linear 2s 1 forwards;
   -webkit-animation: show 1s linear 2s 1 forwards;
}

.nest3{
	animation: show 1s linear 3s 1 forwards;
   -webkit-animation: show 1s linear 3s 1 forwards;
}

.nest4{
	animation: show 1s linear 4s 1 forwards;
   -webkit-animation: show 1s linear 4s 1 forwards;
}

.nest5{
	animation: show 1s linear 5s 1 forwards;
   -webkit-animation: show 1s linear 5s 1 forwards;
}

.nest6{
	animation: show 1s linear 6s 1 forwards;
   -webkit-animation: show 1s linear 6s 1 forwards;
}

.nest7{
	animation: show 1s linear 7s 1 forwards;
   -webkit-animation: show 1s linear 7s 1 forwards;
}

.nest8{
	animation: show 1s linear 8s 1 forwards;
   -webkit-animation: show 1s linear 8s 1 forwards;
}

.nest1, .nest3, .nest5, .nest7{
	top: 15%;
}

.nest2, .nest4, .nest6, .nest8{
	top: 58%;
}

.nest1, .nest2{
	left: 4%;
}

.nest3, .nest4{
	left: 28%;
}

.nest5, .nest6{
	left: 52%;
}

.nest7, .nest8{
	left: 76%;
}
.firstpagebirdcss {
    width: 35%;
    left: 3%;
    margin-top: 20%;
}
