<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page11.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="measurement">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
           {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if textlistblock}}
            <div class="textlistblock {{textlistblockadditionalclass}}">
                {{#each textlistblock}}
                    {{> textlistcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if usageslowrevealblock}}
                <div class="usageslowrevealblock {{usageslowrevealblockadditionalclass}}">
                    {{#each usageslowrevealblock}}
                        {{> usageslowrevealcontent}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if timetothink}}
                {{#each timetothink}}
                    {{> timetothinkcontent}}
                {{/each}}
            {{/if}}
            {{#if svgblock}}
            <div class="svgwrapper {{svgwrapperadditionalclass}}">               
                {{#each svgblock}}                           
                    {{> svgcontent}}
                {{/each}}
            </div>
            {{/if}}
            
            {{#if usageblock}}
            <div class="usageblock {{usageblockadditionalclass}}">
                {{#each usageblock}}
                    {{> usagecontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if propertyblock}}
            <div class="propertyblock {{propertyblockadditionalclass}}">
                {{#each propertyblock}}
                    {{> propertycontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if propertysummaryblock}}
            <div class="propertysummaryblock {{propertysummaryblockadditionalclass}}">
                {{#each propertysummaryblock}}
                    {{> propertysummarycontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if diysplashblock}}
            <div class="diysplashblock {{diysplashblockadditionalclass}}">
                {{#each diysplashblock}}
                        {{> diysplashcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if diyblock}}
            <div class="diyblock {{diyblockadditionalclass}}">
                {{#each diyblock}}
                    {{> diycontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}

    {{! instruction block start--}}
        {{#if instructionblock}}
            <div class="instructionblock {{instructionblockadditionalclass}}" data-instructionblockshow="true">
                {{#each instructionblock}}
                    {{> instructioncontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! instruction block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}

    {{#if imagelist}}
        <div class="imagelist">
            {{#each imagelist}}
                <img class="{{imgclass}}" src="{{imgsrc}}">
            {{/each}}
        </div>
    {{/if}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="instructioncontent-partial" type="text/x-handlebars-template">
    <div class="instructionsets">
        <ol class="vertical-horizontal-center"> 
            {{#each instruction}}
            <li class="text-primary" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{this}}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="toggleinstructionblock">
        <span class="glyphicon glyphicon-chevron-down"></span>
         <div class="glossy"></div>
    </div>
</script>

<script id="cardcontent-partial" type="text/x-handlebars-template">
    <div class="card_block{{@index}}" data-hasimage="{{cardblockhasimageflag}}">
        <div class="content_wrapper_card_block">
            {{#if cardtitle}}
                {{#each cardtitle}}
                    <p class="card_title">{{{this}}}</p>
                {{/each}}
            {{/if}}
            <div class="card_content">
                {{#each cardcontenttext}}
                    <p class="card_content_text" data-highlight="{{datahighlightflag}}">{{{cardcontenttextdata}}}</p>
                {{/each}}
            </div>
        </div>
        {{#if cardimage}}
            {{#each cardimage}}
                <img class="card_content_image" src="{{this}}"/>
            {{/each}}
        {{/if}}
    </div>
</script>

<script id="usageslowrevealcontent-partial" type="text/x-handlebars-template">
    <p class="usageheading">{{usageheadingdata}}</p>
    {{#each cardcontentblock}}
        {{> cardcontent}}
    {{/each}}
    <div class="nextusageBtn myNextStyle"></div>
</script>

<script id="timetothinkcontent-partial" type="text/x-handlebars-template">
    <div class="timeToThink">
        <figure>
            <img src="{{timeToThinkImageSource}}">
            <figcaption>{{timeToThinkTextData}}</figcaption>
        </figure>
        <p class="paratextstyle">{{{timeToThinkInstructionData}}}</p>
    </div>
</script>

<script id="svgcontent-partial" type="text/x-handlebars-template">
     <div class="svgcontainer">{{!-- load actual svg image here --}}</div>
     {{!-- load snap svg --}}
     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
</script>

<script id="textlistcontent-partial" type="text/x-handlebars-template">
    <ol> 
        {{#each listtype}}
            <li>{{listtypedata}}</li> 
            {{#if listsubtype}}
                <ul>
                {{#each listsubtype}}
                    <li>{{listsubtypedata}}</li>
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ol>
</script>

<script id="usagecontent-partial" type="text/x-handlebars-template">
    <b class="usageheading">{{usageheadingdata}}</b>
    <p class="usagetext">{{usagetextdata}}</p>
    <div class="explainusage">
        {{#if explainusageimagecontent}}
            <div class="explainusageimagecontainer">
                {{#each explainusageimagecontent}}
                    <img src="{{explainusageimgsrc}}">
                {{/each}}
            </div>
        {{/if}}
        {{#if explainusagetextcontent}}
            {{#each explainusagetextcontent}}
            <blockquote class="explainusagetext" data-highlight="{{texthighlightflag}}">{{{explainusagetextdata}}}</blockquote>
            {{/each}}
        {{/if}}
    </div>
</script>

<script id="propertycontent-partial" type="text/x-handlebars-template">
    <div class="propertylistcontainer">
        <h4>{{propertycontainerheadingdata}}</h4>
        {{#if propertycontainerlist}}
            {{#each propertycontainerlist}}
                <p><span>{{propertylistcount}}</span><small>{{propertylistdata}}</small> </p>
            {{/each}}
        {{/if}}
    </div>
    <div class="explainpropertycontainer">
        <div class="mainproperty"><span>{{mainpropertycount}}</span><p>{{mainpropertytext}}</p>
        </div>
        <div class="propertyexplain">
            <img src="{{propertyexplainimgsrc}}">
            <p>{{propertyexplaindata}}</p>
        </div>
    </div>
</script>

<script id="propertysummarycontent-partial" type="text/x-handlebars-template">
    <ul>
        <div>{{propertysummaryheadingdata}}</div>
        {{#each propertysummarylist}}
        <li><span>{{propertysummarylistcount}}</span> <p>{{propertysummarylistdata}}</p> </li>
        {{/each}}
    </ul>
</script>

<script id="diysplashcontent-partial" type="text/x-handlebars-template">
    <figure>
        <img src="{{diysplashImageSource}}">
        <figcaption>{{diysplashTextData}}</figcaption>
    </figure>
    <p>{{diysplashInstructionData}}</p>
</script>

<script id="diycontent-partial" type="text/x-handlebars-template">
    <div class="diySmall">
        <figure>
            <img src="{{diyImageSource}}">
            <figcaption>{{diyTextData}}</figcaption>
        </figure>
    </div>
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">   
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page11.js");
</script>