.p2-list-1{
	position: absolute;
	width: 100%;
	padding: 3%;
	height: 100%;
	left: 0%;
	top: 0%;
	text-align: left;
}

.p2-list-1>*{
	position: relative;
	margin: 2%;
}
.p2-list-1 li{
	margin-left: 5%;
	list-style-type: disc;
	list-style-position: inside;
}

.p2-header{
	color: #058dc7;
	text-align: center;
	font-weight: bold;
}
.p2-header-2{
	font-weight: bold;
	color: #058dc7;
	text-align: center;
	position: absolute;
	top: 4%;
	left: 0%;
	width: 100%;
}





/*for directions*/
.directioncontainer{
	position: absolute;
	width: 30%;
	height: 35%;
	padding: 1%;
	background-color: #00A0DE;
	border-radius: 1vmin;
	overflow: hidden;
}

.directiondiv{
	position: absolute;
	width: 95%;
	left: 2.5%;
	top: 2.5%;
	height: 80%;
	background-color: white;
	border: 2px solid #752928;
}

.direction-label{
	position: absolute;
	color: white;
	top: 90%;
	transform: translateY(-50%);
	width: 100%;
	padding: 1%;
	left: 0%;
	font-size: 3vw;
}

@media (min-aspect-ratio: 4/3){
	.direction-label{
		font-size: 3.3vh;
	}
}

.roaddiv{
	position: absolute;
	width: 98%;
	border-top: 2px solid #752928;
	border-bottom: 2px solid #752928;
	background-color: #666;
	height: 25%;
	left: 1%;
}
.houseclass{
	width: 20%;
	height: 30%;
	position: absolute;
	border: 2px solid #752928;
	color: #B38160;
	font-size: 3vw;
}
.houseclass>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 4/3){
	.houseclass{
		font-size: 3.3vh;
	}
}

.house-b{
	background-color: #FA0628;
	color: white;
}



.current-dir .houseclass{
	display: none;
}

.dir-1{
	top: 20%;
	left: 2%;
}
.dir-2{
	top: 20%;
	left: 35%;
}
.dir-3{
	top: 20%;
	left: 68%;
}
.dir-4{
	top: 60%;
	left: 2%;
}
.dir-5{
	top: 60%;
	left: 35%;
}
.dir-6{
	top: 60%;
	left: 68%;
}


.road-1{
	bottom: 1%;
}
.center-1{
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
}
.center-2{
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
}


.road-2{
	display: none;
}
.center-total{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dir2-1{
	top: 2%;
	left: 52%;
}
.dir2-2{
	top: 50%;
	left: 63%;
	transform: translate(0%, -50%);
}
.dir2-3{
	top: 68%;
	left: 40%;
}
.dir2-4{
	top: 35%;
	left: 17%;
}
.dir2-5{
	top: 2%;
	left: 27%;
}



.road-3{
	height: 35%;
	bottom: 5%;
}

.dir3-1{
	top: 25%;
	left: 52%;
}
.dir3-2{
	top: 25%;
	left: 28%;
}

.road-5{
	height: 30%;
	top: 50%;
	transform: translateY(-50%);
}

.dir5-1{
	top: 3%;
	left: 50%;
	transform: translateX(-50%);
}
.dir5-2{
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
}


.dir6-1{
	top: 25%;
	left: 17%;
}
.dir6-2{
	top: 25%;
	left: 63%;
}
.dir6-3{
	top: 25%;
	left: 40%;
}



.bg_mint{
	background: #DBF7E9; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #DBF7E9 0%, #DBF7E9 50%, #90E6C1 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,#DBF7E9 0%,#DBF7E9 50%,#90E6C1 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #DBF7E9 0%,#DBF7E9 50%,#90E6C1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.t-1{
	color: #7b0083;
}











