@font-face {
    font-family:pangolin;
    src: url(../../../../../fonts/Pangolin-Regular.ttf);
}
.primeandcomposite {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.primeandcomposite, .primeandcomposite * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.primeandcomposite .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.primeandcomposite .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
}

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock{
	height: 90%;
	width: 100%;
	bottom: 0%;
	left: 0;
	position: absolute;
}

.contentblock{
	height: 100%;
	width: 100%;
	background-color: #F9F7E9;
}
.description {
    text-align: center;
    float: left;
    width: 100%;
    left: 0%;
	font-size: 4.2vmin;
	font-weight: bold;
	margin-top: 0.5em;
}
.description1{
	font-size: 6vmin;
}


.imageblock50{
	height: 75%;
	width: 46%;
	margin: 2%;
	font-weight: initial;
	position: absolute;
}
.center {
    left: 50%;
    top: 2%;
    transform: translate(-50%);
}
.left{
	left: 25%;
	top: 10%;
	transform: translate(-50%);
}

.right{
	left: 75%;
	top: 10%;
	transform: translate(-50%);
}

.slideleft{
	-webkit-animation: slidedivleft 1s linear 1 forwards;
	animation: slidedivleft 1s linear 1 forwards;
}

@-webkit-keyframes slidedivleft{
	to{
		left: 25%;
	}
}

@keyframes slidedivleft{
	to{
		left: 25%;
	}
}

img{
	position: absolute!important;
	height: 20%;
}

.marble1{
	left: 17%;
	top: 28%;
}

.marble2{
	left: 40%;
	top: 28%;
}

.marble3{
	left: 63%;
	top: 28%;
}

.marble4{
	left: 17%;
	top: 52%;
}

.marble5{
	left: 40%;
	top: 52%;
}

.marble6{
	left: 63%;
	top: 52%;
}

.marble7_1{
	left: 32%;
	top: 19%;
}

.marble7_2{
	left: 49%;
	top: 19%;
}

.marble7_3{
	left: 57%;
	top: 35%;
}

.marble7_4{
	left: 23%;
	top: 36%;
}

.marble7_5{
	left: 30%;
	top: 55%;
}

.marble7_6{
	left: 50%;
	top: 55%;
}
.marble7_7{
	left: 40%;
	top: 40%;
}

label{
	font-weight: initial;
}

.imagelabel_header {
    position: absolute;
    bottom: 1%;
    left: 0;
    width: 100%;
    font-size: 4.56vmin;
    text-align: center;
    color: #00B98D;
}
.imagelabel_footer {
    position: absolute;
    top: 102%;
	width: 217%;
	text-align: center;
	font-size: 4vmin;
	left: -63%;
}
.lastfooter{
	position: absolute;
	top: 95%;
	width: 100%;
	text-align: center;
	font-size: 4vmin;
	left: 0%;
}
.footerleft{
	left:-117%;
}
.customhighlightclass:nth-child(1){
	color: #1193E5;
}

.customhighlightclass:nth-child(2){
	color: #FF0071;;
}

.animate_6_3_2_left{
	-webkit-animation: animate_6_3_2_l 1s linear 1s infinite alternate;
	animation: animate_6_3_2_l 1s linear 1s infinite alternate;
}

@-webkit-keyframes animate_6_3_2_l{
	50%{
		transform: translateX(-140%);
	}
	100%{
		transform: translateX(-140%);
	}
}

@keyframes animate_6_3_2_l{
	50%{
		transform: translateX(-140%);
	}
	100%{
		transform: translateX(-140%);
	}
}

.animate_6_3_2_right{
	-webkit-animation: animate_6_3_2_r 1s linear 1s infinite alternate;
	animation: animate_6_3_2_r 1s linear 1s infinite alternate;
}

@-webkit-keyframes animate_6_3_2_r{
	50%{
		transform: translateX(+140%);
	}
	100%{
		transform: translateX(+140%);
	}
}

@keyframes animate_6_3_2_r{
	50%{
		transform: translateX(+140%);
	}
	100%{
		transform: translateX(+140%);
	}
}

.animate_6_3_2_top{
	-webkit-animation: animate_6_3_2_t 1s linear 1s infinite alternate;
	animation: animate_6_3_2_t 1s linear 1s infinite alternate;
}

@-webkit-keyframes animate_6_3_2_t{
	50%{
		transform: translateY(-70%);
	}
	100%{
		transform: translateY(-70%);
	}
}

@keyframes animate_6_3_2_t{
	50%{
		transform: translateY(-70%);
	}
	100%{
		transform: translateY(-70%);
	}
}

.animate_6_3_2_bottom{
	-webkit-animation: animate_6_3_2_b 1s linear 1s infinite alternate;
	animation: animate_6_3_2_b 1s linear 1s infinite alternate;
}

@-webkit-keyframes animate_6_3_2_b{
	50%{
		transform: translateY(+70%);
	}
	100%{
		transform: translateY(+70%);
	}
}

@keyframes animate_6_3_2_b{
	50%{
		transform: translateY(+70%);
	}
	100%{
		transform: translateY(+70%);
	}
}


.animate7_2_1{
	-webkit-animation: animate721 2s linear 0.4s infinite alternate;
	animation: animate721 2s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #0f0);
}

@-webkit-keyframes animate721{
	80%{
		transform: translate(0%, -50%);
	}
	100%{
		transform: translate(0%, -50%);
	}
}

@keyframes animate721{
	80%{
		transform: translate(0%, -50%);
	}
	100%{
		transform: translate(0%, -50%);
	}
}
/*
 * 1st
 * transform: translate(80%, -80%);*/
.animate7_2_2{
	-webkit-animation: animate721 2s linear 0.4s infinite alternate;
	animation: animate721 2s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #0f0);
}

/*@-webkit-keyframes animate722{
	80%{
		transform: translate(60%, -80%);
	}
	100%{
		transform: translate(60%, -80%);
	}
}

@keyframes animate722{
	80%{
		transform: translate(60%, -80%);
	}
	100%{
		transform: translate(60%, -80%);
	}
}*/
/*
 * 2nd
 * transform: translate(60%, -80%);*/
.animate7_2_3{
	-webkit-animation: animate723 2s linear 0.4s infinite alternate;
	animation: animate723 2s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #00f);
}

@-webkit-keyframes animate723{
	80%{
		transform: translate(55%, 130%);
	}
	100%{
		transform: translate(55%, 130%);
	}
}

@keyframes animate723{
	80%{
		transform: translate(55%, 130%);
	}
	100%{
		transform: translate(55%, 130%);
	}
}
/*
 * 3rd
 * transform: translate(80%, 170%);*/
.animate7_2_4{
	-webkit-animation: animate724 2s linear 0.4s infinite alternate;
	animation: animate724 2s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #f900f5);
}

@-webkit-keyframes animate724{
	80%{
		transform: translate(-85%, 90%);
	}
	100%{
		transform: translate(-85%, 90%);
	}
}

@keyframes animate724{
	80%{
		transform: translate(-85%, 90%);
	}
	100%{
		transform: translate(-85%, 90%);
	}
}
/*
 * 4th
 * transform: translate(-20%, 10%);*/
.animate7_2_5{
	-webkit-animation: animate725 2s linear 0.4s infinite alternate;
	animation: animate725 2s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #f900f5);
}

@-webkit-keyframes animate725{
	80%{
		transform: translate(-60%, 65%);
	}
	100%{
		transform: translate(-60%, 65%);
	}
}

@keyframes animate725{
	80%{
		transform: translate(-60%, 65%);
	}
	100%{
		transform: translate(-60%, 65%);
	}
}
/*
 * 5th
 * transform: translate(-60%, 75%);*/
.animate7_2_6{
	-webkit-animation: animate726 2s linear 0.4s infinite alternate;
	animation: animate726 2s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #00f);
}

@-webkit-keyframes animate726{
	80%{
		transform: translate(0%, 80%);
	}
	100%{
		transform: translate(0%, 80%);
	}
}

@keyframes animate726{
	80%{
		transform: translate(0%, 80%);
	}
	100%{
		transform: translate(0%, 80%);
	}
}
/*
 * 6th
 * transform: translate(-20%, 80%);*/
.animate7_2_7{
	filter: drop-shadow(0px 2px 10px #f00);
}

.animate7_3_2{
	-webkit-animation: animate732 1s linear 0.4s infinite alternate;
	animation: animate732 1s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #00f);
}

@-webkit-keyframes animate732{
	80%{
		transform: translate(110%, -10%);
	}
	100%{
		transform: translate(110%, -10%);
	}
}

@keyframes animate732{
	80%{
		transform: translate(110%, -10%);
	}
	100%{
		transform: translate(110%, -10%);
	}
}

.animate7_3_6{
	-webkit-animation: animate736 1s linear 0.4s infinite alternate;
	animation: animate736 1s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #00f);
}

@-webkit-keyframes animate736{
	80%{
		transform: translate(110%, 10%);
	}
	100%{
		transform: translate(110%, 10%);
	}
}

@keyframes animate736{
	80%{
		transform: translate(110%, 10%);
	}
	100%{
		transform: translate(110%, 10%);
	}
}

.animate7_3_3{
	-webkit-animation: animate733 1s linear 0.4s infinite alternate;
	animation: animate733 1s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #00f);
}

@-webkit-keyframes animate733{
	80%{
		transform: translate(70%, 10%);
	}
	100%{
		transform: translate(70%, 10%);
	}
}

@keyframes animate733{
	80%{
		transform: translate(70%, 10%);
	}
	100%{
		transform: translate(70%, 10%);
	}
}

.animate7_3_1{
	-webkit-animation: animate731 1s linear 0.4s infinite alternate;
	animation: animate731 1s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #0f0);
}

@-webkit-keyframes animate731{
	80%{
		transform: translate(-150%, -15%);
	}
	100%{
		transform: translate(-150%, -15%);
	}
}

@keyframes animate731{
	80%{
		transform: translate(-150%, -15%);
	}
	100%{
		transform: translate(-150%, -15%);
	}
}

.animate7_3_4{
	-webkit-animation: animate734 1s linear 0.4s infinite alternate;
	animation: animate734 1s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #0f0);
}

@-webkit-keyframes animate734{
	80%{
		transform: translate(-100%, 0%);
	}
	100%{
		transform: translate(-100%, 0%);
	}
}

@keyframes animate734{
	80%{
		transform: translate(-100%, 0%);
	}
	100%{
		transform: translate(-100%, 0%);
	}
}

.animate7_3_5{
	-webkit-animation: animate735 1s linear 0.4s infinite alternate;
	animation: animate735 1s linear 0.4s infinite alternate;
	filter: drop-shadow(0px 0px 5px #0f0);
}

@-webkit-keyframes animate735{
	80%{
		transform: translate(-140%, 10%);
	}
	100%{
		transform: translate(-140%, 10%);
	}
}

@keyframes animate735{
	80%{
		transform: translate(-140%, 10%);
	}
	100%{
		transform: translate(-140%, 10%);
	}
}

.scalehighlightclass{
	color: #ff00d8;
	font-size: 6vmin;
}



.animate_6_3_2_left_top{
	-webkit-animation: animate_6_3_2_l_t 3s linear 1s infinite;
	animation: animate_6_3_2_l_t 3s linear 1s infinite;
}

@-webkit-keyframes animate_6_3_2_l_t{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	20%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	40%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	49%{
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	70%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	90%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
}

@keyframes animate_6_3_2_l_t{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	20%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	40%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	49%{
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	70%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	90%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
}


.animate_6_3_2_right_top{
	-webkit-animation: animate_6_3_2_r_t 3s linear 1s infinite;
	animation: animate_6_3_2_r_t 3s linear 1s infinite;
}

@-webkit-keyframes animate_6_3_2_r_t{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	20%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	40%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	49%{
		filter : drop-shadow(4px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	70%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	90%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
}

@keyframes animate_6_3_2_r_t{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	20%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	40%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	49%{
		filter : drop-shadow(4px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	70%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	90%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
}

.animate_6_3_2_center_top{
	-webkit-animation: animate_6_3_2_c_t 3s linear 1s infinite;
	animation: animate_6_3_2_c_t 3s linear 1s infinite;
}

@-webkit-keyframes animate_6_3_2_c_t{
	0%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	20%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	40%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	49%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	70%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	90%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
}

@keyframes animate_6_3_2_c_t{
	0%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	20%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	40%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	49%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	70%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	90%{
		transform: translate(0%, -20%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px -4px 5px #0f0);
	}
}

.animate_6_3_2_left_bottom{
	-webkit-animation: animate_6_3_2_l_b 3s linear 1s infinite;
	animation: animate_6_3_2_l_b 3s linear 1s infinite;
}

@-webkit-keyframes animate_6_3_2_l_b{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	20%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	40%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	49%{
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	70%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	90%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
}

@keyframes animate_6_3_2_l_b{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	20%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	40%{
		transform: translate(-110%, 0%);
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	49%{
		filter : drop-shadow(-4px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	70%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	90%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
}


.animate_6_3_2_right_bottom{
	-webkit-animation: animate_6_3_2_r_b 3s linear 1s infinite;
	animation: animate_6_3_2_r_b 3s linear 1s infinite;
}

@-webkit-keyframes animate_6_3_2_r_b{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	20%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	40%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	49%{
		filter : drop-shadow(4px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	70%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	90%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
}

@keyframes animate_6_3_2_r_b{
	0%{
		transform: translate(0%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	20%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	40%{
		transform: translate(110%, 0%);
		filter : drop-shadow(4px 0px 5px #00f);
	}
	49%{
		filter : drop-shadow(4px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	70%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	90%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
}

.animate_6_3_2_center_bottom{
	-webkit-animation: animate_6_3_2_c_b 3s linear 1s infinite;
	animation: animate_6_3_2_c_b 3s linear 1s infinite;
}

@-webkit-keyframes animate_6_3_2_c_b{
	0%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	20%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	40%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	49%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	70%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	90%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
}

@keyframes animate_6_3_2_c_b{
	0%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	20%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	40%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	49%{
		filter : drop-shadow(0px 0px 5px #cc0);
	}
	50%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	70%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	90%{
		transform: translate(0%, 20%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter : drop-shadow(0px 4px 5px #00f);
	}
}


.animate7_23_1{
	-webkit-animation: animate7231 3s linear 1s infinite;
	animation: animate7231 3s linear 1s infinite;
	/*filter: drop-shadow(0px 0px 5px #0f0);*/
}

@-webkit-keyframes animate7231{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	30%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	40%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	80%{
		transform: translate(-150%, -15%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	90%{
		transform: translate(-150%, -15%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
}

@keyframes animate7231{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	30%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	40%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	80%{
		transform: translate(-150%, -15%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	90%{
		transform: translate(-150%, -15%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
}

.animate7_23_2{
	-webkit-animation: animate7232 3s linear 1s infinite;
	animation: animate7232 3s linear 1s infinite;
}

@-webkit-keyframes animate7232{
	0%{
		filter: drop-shadow(0px 0px 5px #00f);
	}
	30%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	40%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	51%{
		filter: drop-shadow(0px 0px 5px #00f);
	}
	80%{
		transform: translate(110%, -10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	90%{
		transform: translate(110%, -10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
}

@keyframes animate7232{
	0%{
		filter: drop-shadow(0px 0px 5px #00f);
	}
	30%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	40%{
		transform: translate(0%, -50%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	51%{
		filter: drop-shadow(0px 0px 5px #00f);
	}
	80%{
		transform: translate(110%, -10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	90%{
		transform: translate(110%, -10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
}

.animate7_23_3{
	-webkit-animation: animate7233 3s linear 1s infinite;
	animation: animate7233 3s linear 1s infinite;
}

@-webkit-keyframes animate7233{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	30%{
		transform: translate(55%, 130%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	40%{
		transform: translate(55%, 130%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	80%{
		transform: translate(70%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	90%{
		transform: translate(70%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
}

@keyframes animate7233{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	30%{
		transform: translate(55%, 130%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	40%{
		transform: translate(55%, 130%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	80%{
		transform: translate(70%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	90%{
		transform: translate(70%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
}

.animate7_23_4{
	-webkit-animation: animate7234 3s linear 1s infinite;
	animation: animate7234 3s linear 1s infinite;
}

@-webkit-keyframes animate7234{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	30%{
		transform: translate(-85%, 90%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	40%{
		transform: translate(-85%, 90%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	80%{
		transform: translate(-100%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	90%{
		transform: translate(-100%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
}

@keyframes animate7234{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	30%{
		transform: translate(-85%, 90%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	40%{
		transform: translate(-85%, 90%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	80%{
		transform: translate(-100%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	90%{
		transform: translate(-100%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
}

.animate7_23_5{
	-webkit-animation: animate7235 3s linear 1s infinite;
	animation: animate7235 3s linear 1s infinite;
}

@-webkit-keyframes animate7235{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	30%{
		transform: translate(-60%, 65%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	40%{
		transform: translate(-60%, 65%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	80%{
		transform: translate(-140%, 10%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	90%{
		transform: translate(-140%, 10%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
}

@keyframes animate7235{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	30%{
		transform: translate(-60%, 65%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	40%{
		transform: translate(-60%, 65%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #f900f5);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	80%{
		transform: translate(-140%, 10%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	90%{
		transform: translate(-140%, 10%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #0f0);
	}
}

.animate7_23_6{
	-webkit-animation: animate7236 3s linear 1s infinite;
	animation: animate7236 3s linear 1s infinite;
}

@-webkit-keyframes animate7236{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	30%{
		transform: translate(0%, 80%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	40%{
		transform: translate(0%, 80%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	80%{
		transform: translate(110%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	90%{
		transform: translate(110%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
}

@keyframes animate7236{
	0%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	30%{
		transform: translate(0%, 80%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	40%{
		transform: translate(0%, 80%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	50%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	51%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	80%{
		transform: translate(110%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	90%{
		transform: translate(110%, 10%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
	100%{
		transform: translate(0%, 0%);
		filter: drop-shadow(0px 0px 5px #00f);
	}
}
.marble1, .marble4 {
    -webkit-filter: drop-shadow(-4px 0px 2px #A0FA96);
}
.marble3, .marble6 {
    -webkit-filter: drop-shadow(4px 0px 2px #5651EB);
}
.firstpagebackground{
	background: url("../images/prime-and-compostie-number.jpg");
	background-size: cover;
}
.elephant {
    left: 53%;
    top: 66%;
    width: 16%;
    height: 26%;
}
.chaptertext {
	font-size: 8vmin;
	color: white;
	font-family: pangolin;
	position: absolute;
	left: 0%;
	margin-top: 12%;
	width: 100%;
}
@media screen and (max-width: 800px) {
	.imagelabel_footer{
		font-size: 3.5vmin;
	}
}
@media screen and (max-width: 600px) {
	.imagelabel_footer{
		font-size: 2.5vmin;
	}
}
.popup_click{
	position: relative !important;
	height: auto !important;
}
.activityguide_popupdiv img{
	height: auto !important;
}