.primeandcomposite {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.primeandcomposite, .primeandcomposite * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.primeandcomposite .nextBtn{
    display : none;
    z-index : 10000;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.primeandcomposite .prevBtn{
    z-index : 10000;
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */
		.fraction, .fraction2, .top, .bottom{
			padding: 0 0.3em;
		}
		
		.fraction, .fraction2 {
		    display: inline-block;
		    text-align: center;    
		}
		
		.fraction2 {
		   transform: translateY(25%);   
		}
		
		.bottom{
		    border-top: 0.1em solid #222;
		    display: block;
		}
		
		.fractionblock{
			position:absolute;
			height: 100%;
			width: 100%;
			top: 0%;
			left: 0;
		}
		
        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }
	
	div.imageblock {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0%;
		/*border     : 1px solid green; */
	}

/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	background-color: #F9F7E9;
}

.description{
	padding: 0.5em;
	font-size: 3.86vmin;
    color: white;
	text-align: left;
}

.description_center{
	font-size: 3.6vmin;
}
.description2 {
    font-size: 4.86vmin;
    text-align: center;
}

.scaleanimation{
	color: #B4406F;
	-webkit-animation: scaleanimate 1s linear 0.4s infinite alternate;
	animation: scaleanimate 1s linear 0.4s infinite alternate;
}

@-webkit-keyframes scaleanimate{
	0%{
		transform: scale(0.98);
	}
	100%{
		transform: scale(1.3);
	}
}

@keyframes scaleanimate{
	0%{
		transform: scale(0.98);
	}
	100%{
		transform: scale(1.3);
	}
}

.blackboard {
    font-family: pangolin-regular;
    width: 65%;
    min-height: 73%;
    max-height: 85%;
    padding: 1em;
    position: absolute;
    margin: 1em;
    border: 0.8em solid #BF9353;
    background-color: #000000;
    z-index: 5;
}

.blackboard2{
	width: 65%;
	min-height: 73%;
	max-height: 95%;
	padding: 1em;
	position: absolute;
	margin: 1em;
	border: 0.8em solid #BF9353;
	background-color: #000000;
	color: #ffffff;
	right: 0;
	bottom: 0;
	font-family: pangolin-regular;
}
.blackboard3 {
    font-family: pangolin-regular;
    width: 45%;
    padding: 1em;
    position: absolute;
    margin: 1em;
    border: 0.8em solid #BF9353;
    background-color: #000000;
    height: 60%;
    z-index: 5;
}
.blackboard4 {
    font-family: pangolin-regular;
    width: 45%;
    padding: 1em;
    position: absolute;
    margin: 1em;
    border: 0.8em solid #BF9353;
    background-color: #000000;
    z-index: 5;
    height: 60%;
    left: 50%;
}
.customhighlightclass:nth-child(1){
	color: #1193E5;
}

.customhighlightclass:nth-child(2){
	color: #FF0071;;
}

.custompinkhighlight{
	color: #1193E5;
}

.customgreenhighlight{
	color: #FF0071;
}

.flexcontainerblock{
	position: absolute;
	width: 30%;
	height: 60%;
	right: 1.5%;
	top: 20%;
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid #BDBFB5;
}


.flexcontainerblock100{
	position: absolute;
	width: 62%;
	height: 70%;
	right: 35%;
	top: 12%;
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid #D4D4D4;
	font-size: 2.56vmin;
	background-color: #fff;
}

.column{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.column1{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	background-color: #93C47D;
}

.column2{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	background-color: #C27BA0;
}

.rowheader{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.86vmin;
	color: #000000;
	border: 1px solid #555555;
	flex: 1.2;
}


.rowheaderdropable{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.35vmin;
	border-bottom: 1px solid #BDBFB5;
	flex: 1.2;
}

.rownormal{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.55vmin;
	color: #000000;
	border: 1px solid #D4D4D4;
	flex: 1;
}

.rownormaldropable{
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	font-size: 3.56vmin;
	color: #000000;
	flex: 4;
}

.rownormalafterdrop{
	font-size: 3vmin;
	color: #000000;
	border: 1px solid #C5C7BF;
}

.rownormal > p{
	padding: 0 0.35em;
	margin: 0;
}

.lowerinfotext{
	color: #000000;
	text-align: center;
	padding: 0.5em;
	width: 100%;
}

.yellowlowertextblock {
    font-size: 3.56vmin;
    width: 58%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: #87E8F2;
    padding: 1%;
    border-radius: 28px;
}

.yellowlowertextblock1 {
	font-size: 3.56vmin;
	width: 30%;
	position: absolute;
	bottom: 72%;
	left: 67%;
	background-color: #87E8F2;
	padding: .5%;
	border-radius: 28px;
}
.sundar{
	position: absolute;
	height: 68%;
	bottom: 5%;
	right: 2%;
	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

._1_notprime{
	background-color: #8964D5;
	color: #fff;
}

.purple_primefocus{
	background-color: #FF528E!important;
	color: #fff;
	font-weight: bold;
}

.purple_prime, .purple_prime2{
	background-color: #0DCCFF;
	color: #fff;
}

.purple_prime2{
	font-weight: bold;
}

#prime, #composite{
	font-size: 4vmin;
	position: absolute;
	width: 25%;
	color: #ffffff;
	border-radius: 0.4em;
}

#prime{
	background-color: #0097DE;
	top: 40%;
	right: 18%;
	transform: translateX(50%);
}

#composite{
	background-color: #FF0070;
	top: 55%;
	right: 18%;
	transform: translateX(50%);
}

#playagain{
	background-color: #6D9EEB;
	bottom: 5%;
	right: 35%;
	display: none;
	position: absolute;
	width: 30%;
	font-size: 4.56vmin;
	border-radius: 0.5em;
	border: 0.09em solid #C0C0B6;
}

#playagain:hover{
	background-color: #00B7FF;
	border: 0.1em solid #E8B22C;
}

.animateplayagain{
	-webkit-animation: slideright 0.8s linear forwards;
	animation: slideright 0.8s linear forwards;
}

@keyframes slideright{
	100%{
		right: 60%;
	}
}

@-webkit-keyframes slideright{
	100%{
		right: 60%;
	}
}

.green_primefocus{
	background-color: #0097DE;
	color: #ffffff;
	font-weight: bold;
}

.primeDroppable, .compositeDroppable{
	position: absolute;
	width: 12%;
	height: 45%;
	top: 20%;
}

.primeDroppable{
	background-color: #fff;
	right: 20%;
}

.compositeDroppable{
	background-color: #fff;
	right: 1%;
	
}

.primeDroppable .rowheaderdropable{
	background-color: #0097DE;
	color:  #fff;	
}

.compositeDroppable .rowheaderdropable{
	background-color: #FF0070;
	color:  #fff;
}

.graydisable{
	background-color: #D4D4D4!important;
	color: #818181!important;
}

.bluebackground{
	background-color: #FF7400;
    color: #ffffff;
}

.duster{
	position: absolute;
	height: 0.8em;
	width: 2em;
	bottom: 0;
	right: 3%;
}

#handle{
	position: absolute;
	height: 45%;
	width: 100%;
	background-color: #B7B7B7;
}

#wiper{
	position: absolute;
	height: 55%;
	width: 92%;
	left: 4%;
	bottom: 0%;
	background-color: #ffffff;
	border-radius: 0 0 0.15em 0.15em;
}
.worm {
    height: 15%;
    z-index: 10;
    top: 85%;
    left: 10%;
    display: none;
}
.composite:hover,.prime:hover{
	border: 2px dashed #000;
	cursor: grabbing;
}