.primeandcomposite {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.primeandcomposite, .primeandcomposite * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.primeandcomposite .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.primeandcomposite .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock{
	height: 90%;
	width: 100%;
	top: 10%;
	left: 0;
	position: absolute;
}

.contentblock{
	height: 100%;
	width: 100%;
	color: #ffffff;
	background-color: #F9F7E9;
}

.description, .description2{
	padding: 0.5em;
	font-size: 3.86vmin;
}

.description{
	text-align: left;
}

.description2{
	text-align: center;
}

.blackboard {
    font-family: pangolin-regular;
    width: 65%;
    min-height: 73%;
    max-height: 85%;
    padding: 1em;
    position: absolute;
    margin: 1em;
    border: 0.8em solid #BF9353;
    background-color: #000000;
    z-index: 5;
}
.customhighlightclass:nth-child(1){
	color: #1193E5;
}

.customhighlightclass:nth-child(2){
	color: #FF0071;;
}

.custompinkhighlight{
	color: #1193E5;
}

.customgreenhighlight{
	color: #FF0071;
}

.sundar{
	position: absolute;
	height: 65%;
	bottom: 8%;
	right: 5%;
	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.lowerinfotext{
	color: #000000;
	text-align: center;
	padding: 0.5em;
	width: 100%;
}

.yellowlowertextblock{
	font-size: 3.56vmin;
	width: 62%;
	position: absolute;
	bottom: 0%;
	left: 2%;
	margin: 1em;
	background-color: #FFE599;
}

.ltbquestion {
    width: 75%;
    position: absolute;
    bottom: 13%;
    color: #5a5a5a;
}

#yes{
	width: 15%;
	position: absolute;
	left: 20%;
	bottom: 5%;
	background-color: #6D9EEB;
	font-size: 4vmin;
	border-radius: 0.4em;
	border: 0.1em solid #7f7f7f;
}

#no{
	width: 15%;
	position: absolute;
	left: 40%;
	bottom: 5%;
	background-color: #6D9EEB;
	font-size: 4vmin;
	border-radius: 0.4em;
	border: 0.1em solid #7f7f7f;
}

.dialogtryagain {
    position: absolute;
    height: 57%;
    width: 51%;
    top: -8%;
    right: 1%;
    display: none;
}

.dialogtryagain > img {
    height: 85%;
    width: 64%;
    position: absolute;
    left: 38%;
    top: 19%;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: drop-shadow(0px 0px 0px #000000);
    /*-webkit-transition-property: ;*/
}
.dialogtryagain:hover{
	opacity: 0.35;
}
.dialogcontent {
    width: 61%;
    padding: 0.2em;
    top: 49%;
    transform: translateY(-50%);
    color: #1a1a1a;
    font-size: 3vmin;
    left: 40%;
}
.incorrect{
	background-color: #DD7E6B!important;
}

.correct{
	background-color: #93C47D!important;
}

.duster{
	position: absolute;
	height: 0.8em;
	width: 2em;
	bottom: 0;
	right: 3%;
}

#handle{
	position: absolute;
	height: 45%;
	width: 100%;
	background-color: #B7B7B7;
}

#wiper{
	position: absolute;
	height: 55%;
	width: 92%;
	left: 4%;
	bottom: 0%;
	background-color: #ffffff;
	border-radius: 0 0 0.15em 0.15em;
}
@media screen and (max-width: 800px) 
{   
    .dialogcontent{
        font-size: 1.4vw;
    }
}