.coverpage{
    width: 102%;
}

.rhinodancingdiv{
    position: absolute;
    top: 49%;
    width: 15%;
    height: 35%;
    float: left;
    left: 20%;
}
.squirrelistening{
    position: absolute;
    top: 58%;
    width: 14%;
    height: 35%;
    float: left;
    left: 71%;
}

.commonbtn:hover{
    background-color:rgb(230, 145, 56);
    border:2px solid;
    border-color:rgb(246, 178, 107);

}
.ptime{
    position: absolute;
    width: 27%;
    height: 15%;
    top: 56%;
    left: 41%;
    color: white;
}
.bg{
    background-color: white;
    background-size: 100% 100%;
}
.leftdiv{
    position: absolute;
    width: 55%;
    height: 100%;
    left: 0%;
    background-color: black;
}
.orangecolor{
    color:#ffab40;
}
.frogfirst{
    position: absolute;
    width: 8%;
    z-index: 1;
    bottom: 0%;
    left:2%;
}
.whiteline{
    position: absolute;
    width: 10%;
    z-index: 1;
    bottom: 0%;
}
.containercls{
    position: absolute;
    z-index: 1;
    width: 8%;
    left: 10%;
    bottom: 0%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.containercls img,.containercls1 img,.containercls2 img{
    width: 100%;
    height: 35%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .containercls img,.containercls1 img,.containercls2 img{
        width: 100%;
        height: 6%;
    }
}
.deductdiv{
    position: absolute;
    z-index: 2;
    background-color: #565656;
    opacity: 0.8;
    width: 55%;
    left: 0%;
    bottom: 0%;
    height: 0%;
}
.containercls1{
    position: absolute;
    z-index: 1;
    width: 8%;
    left: 39%;
    bottom: 0%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.containercls2{
    position: absolute;
    z-index: 1;
    width: 9%;
    left: 46%;
    bottom: 0%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.frogsecond{
    position: absolute;
    width: 8%;
    z-index: 1;
    bottom: 0%;
    left: 11%;
}
.frogthird{
    position: absolute;
    width: 11%;
    z-index: 1;
    bottom: 0%;
    left: 39.5%;
}
.text1,.text2{
    position: absolute;
    width: 45%;
    right: 0%;
    height: 10%;
    top: 42%;
}
.text3{
    position: absolute;
    width: 45%;
    right: 0%;
    height: 13%;
    top: 30%;
    background-color: #23adff;
    color: white;
}
.option{
    position: absolute;
    width: 13%;
    height: 18%;
    right: 15%;
    background-color: #5772e6;
    color: white;
    border-radius: 14px;
    cursor: pointer;
}
.opt1{
    bottom: 35%;
}
.opt2{
    bottom: 5%;
}

.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}
.option:hover{
    background-color: #ffab40;
}
.bg1{
    background-color: #6fd8dd;
    background-size: 100% 100%;
}
.fruit {
    position: absolute;
    width: 4%;
    right: 2%;
    height: 8%;
    top: 42%;
    z-index: 2;
}
.correctwrongimg{
    width: 37%;
    left: 80%;
    bottom: 22%;
}