<script type="text/javascript">
	 
	$cssLoader("exercise/css/ex1.css");
    $cssLoader("../../../../css/rhino_template.css");
</script>


<div class="activity_container">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				<div class="exerciseblock">
					{{#each exerciseblock}}
						<p class="instruction">{{{instructiondata}}}</p>
						{{#each option}}
							<div class="main-container {{mc_class}}">
								<img class="correct-icon" src="">
								<img class="incorrect-icon" src="">
								<div class="option-container {{option_class}}">
									<img class="{{opt_img}}" src="">
								</div>
							</div>
						{{/each}}
						<img class="ques_img" src="">
					{{/each}}
				</div>
			</div>
		</div>
	</script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("exercise/js/exercise.js");
</script>