html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

@font-face {
    font-family: rosario;
    src: url("../rosario-regular.otf");
}
 @font-face {
    font-family: MontserratAlternates;
    src: url("../../../../../fonts/Montserrat-Medium.otf");
}
p{
	margin: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 88;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}



.linesegment {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}






.sunrise {
    width: 7%;
    position: absolute;
    height: auto;
    top: 4%;
    left: 4%;
    transform: translate(-50%);
    opacity: 0;
    border-radius: 50%;
    z-index: 2;
}

.sunstill {
    width: 7%;
    position: absolute;
    height: auto;
    top: 7%;
    left: 46%;
    transform: translate(-50%);
    opacity: 0;
    border-radius: 50%;
    z-index: 2;
	-moz-box-shadow: inset 0 0 35px 17px #FED104, 0 0 67px 22px #FED104;  
	-webkit-box-shadow: inset 0 0 35px 0px #FED104, 0 0 67px 22px #FED104;  
	-chrome-:only(; 
     box-shadow: inset 0 0 35px 17px #FED104, 0 0 67px 22px #FED104; 
  );

}

.moonstill {
    width: 7%;
    position: absolute;
    height: auto;
    top: 4.8%;
	left: 34%;
    transform: translate(-50%);
    opacity: 0;
    border-radius: 50%;
    z-index: 2;
	box-shadow: inset 0 0 35px 0px #FFF, 0 0 67px 22px #FFF;  

}

.cloud1 {
    width: 8%;
    position: absolute;
    height: auto;
    top: 12%;
    left: 71%;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 52;
}

.cloud1g {
    width: 11%;
    position: absolute;
    height: auto;
    top: 12%;
    left: 71%;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 52;
}

.cloud2 {
    width: 11%;
    position: absolute;
    height: auto;
    top: 14%;
    left: 17%;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 52;
}

.cloud3 {
    width: 25%;
    position: absolute;
    height: auto;
    top: 34%;
    left: 51%;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 52;
}


.moonrise {
    width: 7%;
    position: absolute;
    height: auto;
    top: -10%;
    left: -10%;
    transform: translate(-50%);
    opacity: 0;
    border-radius: 50%;
    z-index: 2;
}

.sunanimation{
	animation: sunouteranim 7s ease-in 0s forwards;
}

.moonanimation{
	animation: moonanim 7s ease-in 8s forwards;
}


.sunfinal{
	top:10%;
    left:60%;
    box-shadow: inset 0 0 35px 0px #FED104, 0 0 67px 22px #FED104; 
}



.bgfront{
	width: 102%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	height: auto;
	top: -1%;
	left: 50%;
	transform: translate(-50%);
	z-index: 10;
}
.bgback{
	width: 102%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	height: auto;
	top: 0%;
	left: 50%;
	transform: translate(-50%);
	z-index: 2;
	animation: daytonight 7s ease-in-out 3s forwards;
}

.dayfadeout{
	animation: daytonight 7s ease-in-out 3s forwards;
}

.bgback2{
	width: 102%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	height: auto;
	top: 0%;
	left: 0%;
	z-index: 1;
}

.bgback3{
	width: 102%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	height: auto;
	top: 0%;
	left: 0%;
	z-index: 1;
	transform: scale(1.8);
}

/* asjkldflkasdf */

.opa{
	opacity: 1 !important;
}

.sunouter{
	position: absolute;
	height: 100%;
	width: 100%;
	animation: sunanim 7s ease-out 0s forwards;
}

.moonouter{
	position: absolute;
	height: 100%;
	width: 100%;
	animation: moonouteranim 7s ease-out 8s forwards;
}


 @keyframes sunanim{
	
	0%{
		left:44%;
	}


	100%{
		left:100%;
	}

} 

@keyframes sunouteranim{
	
	0%{
		top:4%;
		box-shadow: inset 0 0 35px 0px #FED104, 0 0 67px 22px #FED104;  
	}


	100%{
		top:70%;
		box-shadow: inset 0 0 23px 3px #F1AB36, 0 0 110px 12px #F1AB36;     
	}

} 



 @keyframes moonanim{
	
	0%{
		left:0%;
		box-shadow: inset 0 0 23px 3px #FFFFFF, 0 0 110px 12px #FFFFFF;     
	}


	100%{
		left:34%;
		box-shadow: inset 0 0 35px 0px #FFFFFF, 0 0 67px 22px #FFFFFF;  
	}

} 



 @keyframes moonouteranim{
	
	  0%{
     top:100%;
box-shadow: inset 0 0 23px 3px #FFFFFF, 0 0 110px 12px #FFFFFF;     
  }

  
  100%{
    top:15%;
	box-shadow: inset 0 0 35px 0px #FFFFFF, 0 0 67px 22px #FFFFFF;  
	}
 
} 


@keyframes daytonight{
	
	  0%{
	  	opacity: 1;
  }

  
  100%{
	  	opacity: 0;
	}
 
}

.firstheading {
    width: 85%;
    font-size: 1.7em;
    background: rgba(256,256,256,0.70);
    padding: 1%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 16px;
}

.caption1{
	top: 89%;
    left: 50%;
}


.caption2 {
    top: 78%;
    left: 62%;
}

.caption3 {
    top: 96%;
    left: 50%;
    animation: fade-in 1s linear 0s forwards;
}

.caption4 {
    top: 80%;
    left: 50%;
    opacity: 0;
    animation: fadeintext 5s linear 7s forwards;
}

@keyframes fadeintext{
	0%{opacity: 0;}
	20%{opacity: 1;}
	80%{opacity: 1;}
	100%{opacity: 0;}
}

.cssfadein{
	animation: fade-in 1s linear 0s 1 forwards;
}

.cssfadeinmoon{
	animation: fade-in 1s linear 14s 1 forwards;
}


@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.sun1 {
    width: 10%;
    position: absolute;
    height: auto;
    top: 43%;
    left: 25%;
    border-radius: 50%;
    z-index: 52;
}

.sun2 {
    width: 19%;
    position: absolute;
    height: auto;
    top: 34%;
    left: 41%;
    border-radius: 50%;
    z-index: 52;
    animation: rotate 50s linear 0s infinite;
}

.sunanimation1{
	
	animation: cssscalein 3s linear 0s 1 forwards;
}

@keyframes cssscalein{
	
	  0%{
		transform: scale(1);
  }

  
  100%{
		transform: scale(2.5);
	}
 
}

.bganimation{
	
	animation: cssscaleinbg 3s linear 0s 1 forwards;
}

@keyframes cssscaleinbg{
	
	  0%{
		transform: scale(1);
  }

  
  100%{
		transform: scale(1.8);
	}
 
}


.sunanimation2{
	
	animation: cssscaleout2 1s linear 0s 1 forwards;
}

@keyframes cssscaleout2{
	
	  0%{
		transform: scale(1);
  }

  
  100%{
		transform: scale(0.7);
	}
 
}


.secheading {
    width: 70%;
    font-size: 1.7em;
    padding: 1%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #f7f465;
    text-shadow: 0 0 3px #f7f465, 0 0 0px #f7f465, 0 0 0px #f7f465;
    letter-spacing: 1px;
    left: 51%;
}

.earth1 {
    width: 14%;
    position: absolute;
    height: auto;
    top: 100%;
    left: 45%;
    border-radius: 50%;
    z-index: 52;
    box-shadow: 0 0 12px #00FFFA;
}

.earthouter{
	top: 100%;
	position: absolute;
	width: 100%;
	animation: earthouteranim 21s ease-out 0s forwards;
}


 @keyframes earthouteranim{
	
	  0%{
     top:100%;
  }

  50%{
	left: : 100%;
  }

  100%{
    top:-20%;
	}
 
} 

.earthanimation2{
 	animation: earthanim 21s ease-in 0s forwards;
 }

 @keyframes earthanim{
	
	0%{
		left:70%;
		transform: scale(1.2);
	}

	

	100%{
		left:5%;
		transform: scale(0.5);
	}

} 

.earthrotation {
    width: 5%;
    position: absolute;
    height: auto;
    top: 15%;
    left: 29%;
    border-radius: 50%;
    z-index: 52;
    animation: orbit 15s linear 0s infinite;
    transform: rotate(180deg);
    transform-origin: 410% 410%;
    transition: transform 5s;
}

@keyframes orbit{
 0% {
    transform: rotateZ(0deg); }

  100% {
    transform: rotateZ(-360deg); } }

    @keyframes rotate{
 0% {
    transform: rotateZ(0deg); }

  100% {
    transform: rotateZ(-360deg); } }








.solarsystemtry {
    background: red;
    position: absolute;
    width: 80%;
    height: 297%;
    perspective: 1000px;
    transform: rotateX(75deg);
    top: -97%;
}

 .orbit{
    background: blue;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 20%;
    left: 30%;
    transform-style: preserve-3d; 
    animation: rotate 5s linear 0s infinite;
    border-radius: 50%;
 }

.orbitdraw {
    position: absolute;
    height: 86%;
    width: 52%;
    top: 50%;
    left: 50%;
    z-index: 3;
    border-radius: 50%;
    border: 3px solid white;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}
.backgroundss
{
    background-image: url("../images/page13/solarsystem.jpg");
    background-size: cover;
    
}
.lesson-title {
    position: absolute;
    color: #d1bdcc;
    font-size: 3em;
    font-family: MontserratAlternates;
    top: 10%;

}