html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}
@font-face {
    font-family: HappyMonkey;
    src: url("../../../../../fonts/happy_monkey/HappyMonkey-Regular.ttf");
}
@font-face {
    font-family: rosario;
    src: url("../rosario-regular.otf");
}

p{
	margin: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 88;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}



.linesegment {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;


}

.bgback{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: auto;
    top: 0%;
    left: 0%;
}
.bgback2{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: auto;
    top: 0%;
    left: 0%;
}
.squirrel
{
     width: 34%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: auto;
    top: 30%;
    left: 35%;
}




.sun2 {
    width: 30%;
    position: absolute;
    height: auto;
    top: 25%;
    left: 0%;
    transform: translate(-50%);
    border-radius: 50%;
    z-index: 52;
}


.sun3 {
    width: 10%;
    position: absolute;
    height: auto;
    top: 43%;
    left: 25%;
    border-radius: 50%;
    z-index: 52;
    transform: scale(2.5);
    box-shadow: 0 0 5px #00FFFA;
}

.planet{
    position: absolute;
    cursor: pointer;
    z-index: 52;

}

.mercurydrag {
    width: 1.5%;
    top: 87%;
    left: 35%;
}

.venusdrag {
    width: 3%;
    top: 86%;
    left: 25%;
}

.earthdrag {
    width: 3%;
    top: 84%;
    left: 64%;
}

.marsdrag {
    width: 2%;
    top: 86%;
    left: 44%;
}

.jupiterdrag {
    width: 9%;
    top: 80%;
    left: 11%;
}

.satrundrag {
    width: 20%;
    top: 78%;
    left: 80%;
}

.uranusdrag {
    width: 5%;
    top: 83%;
    left: 53%;
}

.neptunedrag {
    width: 5%;
    top: 82%;
    left: 73%;
}

.mercurydrop {
    position: absolute;
    z-index: 2;
    width: 3%;
    height: 5%;
    left: 15%;
    top: 42%;
}

.venusdrop {
    position: absolute;
    z-index: 2;
    width: 3%;
    height: 5%;
    left: 21%;
    top: 42%;
}

.earthdrop {
    position: absolute;
    z-index: 2;
    width: 3%;
    height: 5%;
    left: 27%;
    top: 42%;
}

.marsdrop {
    position: absolute;
    z-index: 2;
    width: 3%;
    height: 5%;
    left: 33%;
    top: 42%;
}

.jupiterdrop {
    position: absolute;
    z-index: 2;
    width: 6%;
    height: 8%;
    left: 46%;
    top: 41%;
}

.satrundrop {
    position: absolute;
    z-index: 2;
    width: 7%;
    height: 9%;
    left: 60%;
    top: 40%;
}

.uranusdrop {
    position: absolute;
    z-index: 2;
    width: 6%;
    height: 9%;
    left: 74%;
    top: 40%;
}

.neptunedrop {
    position: absolute;
    z-index: 2;
    width: 7%;
    height: 10%;
    left: 89%;
    top: 39%;
}

.secheading {
    width: 85%;
    font-size: 1.7em;
    padding: 1%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;

}

.diy {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    font-size: 4em;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fadeintext 5s linear 0s forwards;
}

.squirelimg {
    width: 28%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: auto;
    top: 61%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.caption3 {
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fadeintext 5s linear 0s forwards;
}

.caption3-3 {
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fadeintext 5s linear 0s forwards;
    font-size: 1.3em;
}

.caption3-2 {
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fade-in 1s linear 0s forwards;
}

.captioncomet1 {
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fadeintext 5s linear 6s forwards;
}

.captioncomet2 {
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fadeintext 5s linear 12s forwards;
}

.captioncomet3 {
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fadeintext 5s linear 0s forwards;
}

.caption3-1 {
    top: 40%;
    left: 71%;
    width: 60%;
    animation: fadeintext 5s linear 0s forwards;
}

.caption4 {
    top: 90%;
    left: 50%;
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
}


.caption5 {
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fade-in 1s linear 0s 1 forwards;
}

.caption6 {
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fade-in 1s linear 3s 1 forwards;
}

.caption7 {
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7f465;
    text-shadow: 0 0 0.4em #f7f465;
    animation: fade-in 1s linear 5s 1 forwards;
    font-size: 2em;
}
@keyframes fadeintext{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

.cssfadein{
	animation: fade-in 1s linear 0s 1 forwards;
}


@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.planetcaption {
    font-size: 1em;
    position: absolute;
    z-index: 999;
    color: white;
    text-shadow: 0 0 0.4em #ffffff;
}

.mercuryloc {
    top: 95%;
    left: 32%;
}

.venusloc {
    top: 95%;
    left: 24%;
}

.earthloc {
    top: 95%;
    left: 63.5%;
}

.marsloc {
    top: 95%;
    left: 43%;
}

.jupiterloc {
    top: 95%;
    left: 13%;
}

.saturnloc {
    top: 95%;
    left: 87%;
}

.neptuneloc {
    top: 95%;
    left: 72%;
}

.uranusloc {
    top: 95%;
    left: 52%;
}


.earth1 {
    width: 14%;
    position: absolute;
    height: auto;
    top: 100%;
    left: 45%;
    border-radius: 50%;
    z-index: 52;
    box-shadow: 0 0 5px #fff;
}

.earthouter{
    top: 100%;
    position: absolute;
    width: 100%;
    animation: earthouteranim 21s ease-out 0s forwards;
}


 @keyframes earthouteranim{

      0%{
     top:100%;
  }

  50%{
    left: : 100%;
  }

  100%{
    top:-20%;
    }

}

.earthanimation2{
    animation: earthanim 21s ease-in 0s forwards;
 }

 @keyframes earthanim{

    0%{
        left:70%;
        transform: scale(1.2);
    }



    100%{
        left:5%;
        transform: scale(0.5);
    }

}

.sun2 {
    width: 19%;
    position: absolute;
    height: auto;
    top: 34%;
    left: 41%;
    border-radius: 50%;
    z-index: 52;
    animation: rotate 50s linear 0s infinite;
}

.earthrotation {
    width: 5%;
    position: absolute;
    height: auto;
    top: 15%;
    left: 29%;
    border-radius: 50%;
    z-index: 52;
    animation: orbit 15s linear 0s infinite;
    transform: rotate(180deg);
    transform-origin: 410% 410%;
    transition: transform 5s;
}

@keyframes orbit{
 0% {
    transform: rotateZ(0deg); }

  100% {
    transform: rotateZ(-360deg); } }

    @keyframes rotate{
 0% {
    transform: rotateZ(0deg); }

  100% {
    transform: rotateZ(-360deg); } }


    .orbitdraw {
    position: absolute;
    height: 86%;
    width: 52%;
    top: 50%;
    left: 50%;
    z-index: 3;
    border-radius: 50%;
    border: 3px solid white;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}
.doityou {
    top: 40%;
    left: 52%;
    font-family: HappyMonkey;
    position: absolute;
    z-index: 3;
    font-size: 2.3vw;
    transform: translate(-50%, -50%);
}
