#mysample
{
  width: 100%;
  height: 100%;
  background: #08090A;
  font-weight: 300;
  font-size: 10.5px;
  position: relative;
}

#universe {
  z-index: 1;
  position: relative; 
  overflow: hidden;
  width: 100%;
  height: 100%;
 background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('../images/page13/bg.png');
}

#galaxy {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 4000;}

#solar-system {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; }

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform-style: preserve-3d;
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.planetstoprotating
{
 border: yellow 1px solid;
  moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.moonstoprotating
{
 
  moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.orbit .orbit {
  animation-name: suborbit; 
}

.pos 
{
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  transform-style: preserve-3d;
  animation-name: invert;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

#sun
{
  position: absolute;
  top: 45%;
  left: 52%;
  width: 0.7em;
  height: 0.7em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
  transform-style: preserve-3d;
  cursor: pointer;
}
 .planet{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
  transform-style: preserve-3d;
 }
#earth .orbit{
  cursor: pointer;
}
 #earth .moon
 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -0.5em;
  transform-style: preserve-3d;
  cursor: pointer;
 }
#sun {
  /*background-color: #FB7209;*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);*/
}

.planet {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  cursor: pointer;
}

.planet:hover
{
   border: 2px solid rgba(237, 221, 4, 1);
   
}
.planet:hover .infos
{
 opacity:1;
}
#sun:hover .infos
{
 opacity:1;
}
.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%; }

#saturn .ring {
  width: 2em;
  height: 2em;
  margin-top: -1em;
  margin-left: -1em;
  border: 0.3em solid rgba(160, 147, 130, 0.7);
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

#saturn .ring:after {
  border-radius: 50%;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 2.2em;
  height: 2.2em;
  margin-top: -1.1em;
  margin-left: -1.1em;
  border: 0.07em solid rgba(160, 147, 130, 0.5);
  box-sizing: border-box;
  box-sizing: border-box; }

/* --------------------------------------------------------------------------- planets index */
#mercury {
  z-index: 80; }

#venus {
  z-index: 70; }

#earth {
  z-index: 60; }

#moon {
  z-index: 50; }

#mars {
  z-index: 40; }

#jupiter {
  z-index: 30; }

#saturn {
  z-index: 20; }

#uranus {
  z-index: 10; }

#neptune {
  z-index: 1; }

#sun {
  z-index: 100; }

/* --------------------------------------------------------------------------- animations */
@keyframes orbit {
  0% {
    transform: rotateZ(0deg); }

  100% {
    transform: rotateZ(-360deg); } }

@keyframes suborbit {
  0% {
    transform: rotateX(90deg) rotateZ(0deg); }

  100% {
    transform: rotateX(90deg) rotateZ(-360deg); } }

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); } 
}

/* --------------------------------------------------------------------------- opening */


/* --------------------------------------------------------------------------- 3D view */
.view-3D.zoom-large #sun {
  transform-style: preserve-3d; }

.view-3D.zoom-large .orbit {
  transform-style: preserve-3d; }

.view-3D #solar-system {
  transform: rotateX(75deg); }

.view-3D #sun {
  transform: rotateX(-90deg); }

.view-3D .ring {
  transform: rotateX(90deg); }

.view-3D .planet{
  transform: rotateX(0deg); }
.view-3D .moon {
  transform: rotateX(10deg); }

/* --------------------------------------------------------------------------- large zoom */
.zoom-large #solar-system {
  width: 100%; }

.zoom-large.view-2D .scale-stretched #solar-system {
  font-size: 26%; }

.zoom-large.view-3D .scale-stretched #solar-system {
  font-size: 46%; }

.zoom-large.view-2D .scale-d #solar-system {
  font-size: 22%; }

.zoom-large.view-3D .scale-d #solar-system {
  font-size: 48%; }

.zoom-large.view-2D .scale-s #solar-system {
  font-size: 7%; }

.zoom-large.view-3D .scale-s #solar-system {
  font-size: 14%; }



/* --------------------------------------------------------------------------- data */
/* --------------------------------------------------------------------------- speed */
/* sideral years */
#mercury .pos,
#mercury .planet,
#mercury.orbit {
  animation-duration: 4.89016s; }

#venus .pos,
#venus .planet,
#venus.orbit {
  animation-duration: 6.38237s; }

#earth .pos,
#earth .planet,
#earth.orbit {
  animation-duration: 12.00021s; }

#earth .orbit .pos,
#earth .orbit {
  animation-duration: 1.89764s; }

#mars .pos,
#mars .planet,
#mars.orbit {
  animation-duration: 22.57017s; }

#jupiter .pos,
#jupiter .planet,
#jupiter.orbit {
  animation-duration: 42.35138s; }

#saturn .pos,
#saturn .planet,
#saturn.orbit,
#saturn .ring {
  animation-duration: 53.36998s; }

#uranus .pos,
#uranus .planet,
#uranus.orbit {
  animation-duration: 100.20215s; }

#neptune .pos,
#neptune .planet,
#neptune.orbit {
  animation-duration: 197.49584s; }

/* --------------------------------------------------------------------------- planets sizes */
/* --------------------------------------------------------------------------- stretched sizes */
.scale-stretched #sun {
  font-size: 25em; }

.scale-stretched #mercury .planet {
  font-size: 4em; }

.scale-stretched #venus .planet {
  font-size: 5em; }

.scale-stretched #earth .planet {
  font-size: 5.92em; }

.scale-stretched #earth .moon {
  font-size: 1.7em; }

.scale-stretched #mars .planet {
  font-size: 4.9em; }

.scale-stretched #jupiter .planet {
  font-size: 12em; }

.scale-stretched #saturn .planet {
  font-size: 10em; }

.scale-stretched #uranus .planet {
  font-size: 6.68em; }

.scale-stretched #neptune .planet {
  font-size: 6.9em; }


/* --------------------------------------------------------------------------- stretched orbits */
.scale-stretched #mercury.orbit {
  width: 30em;
  height: 30em;
  margin-top: -14em;
  margin-left: -14em; }

.scale-stretched #venus.orbit {
  width: 45em;
  height: 45em;
  margin-top: -21em;
  margin-left: -21em; }

.scale-stretched #earth.orbit {
  width: 60em;
  height: 60em;
  margin-top: -27em;
  margin-left: -31em; }

.scale-stretched #earth .orbit {
  
  width: 7em;
  height: 7em;
  margin-top: -3em;
  margin-left: -3em; }

.scale-stretched #mars.orbit {
  width: 85em;
  height: 85em;
  margin-top: -40em;
  margin-left: -45em; }

.scale-stretched #jupiter.orbit {
  width: 115em;
  height: 115em;
  margin-top: -60em;
  margin-left: -60em; }

.scale-stretched #saturn.orbit {
  width: 160em;
  height: 160em;
  margin-top: -80em;
  margin-left: -80em; }

.scale-stretched #uranus.orbit {
  width: 210em;
  height: 210em;
  margin-top: -110em;
  margin-left: -110em; }

.scale-stretched #neptune.orbit {
  width: 250em;
  height: 250em;
  margin-top: -125em;
  margin-left: -125em; }


/* --------------------------------------------------------------------------- text infos data */
/* --------------------------------------------------------------------------- speed */

/* --------------------------------------------------------------------------- planets starting position and lighting effect */
/* --------------------------------------------------------------------------- mercury ; pos: Top */
#mercury .pos {
  left: 50%;
  top: -1%; }



.scaled.view-2D #mercury .planet,
.scaled.view-3D #mercury .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- venus ; pos: Left */
#venus .pos {
  left: 0;
  top: 50%; }

.scaled.view-2D #venus .planet,
.scaled.view-3D #venus .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- earth ; pos: Right */
#earth .pos {
  left: 100%;
  top: 50%; }

.scaled.view-2D #earth .planet,
.scaled.view-3D #earth .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- moon */
#earth .orbit .pos {
  left: 100%;
  top: 50%; }

/* --------------------------------------------------------------------------- mars ; pos: Bottom */
#mars .pos {
  left: 50%;
  top: 100%; }

.scaled.view-2D #mars .planet,
.scaled.view-3D #mars .planet {
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- jupiter ; pos: Right */
#jupiter .pos {
  left: 100%;
  top: 50%; }

.scaled.view-2D #jupiter .planet,
.scaled.view-3D #jupiter .planet {
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- saturn ; pos: Left */
#saturn .pos {
  left: 0%;
  top: 50%; }

.scaled.view-2D #saturn .planet,
.scaled.view-3D #saturn .planet {
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- saturn ring */

/*
#saturn .ring           { animation-name:     shadow-saturn-ring; }

@keyframes 
shadow-saturn-ring{ 0%   { box-shadow: inset -16px  0      4px   rgba(20, 40, 50, 0.45); opacity: .4; }
                  25%    { box-shadow: inset -5px   -30px   12px  rgba(20, 40, 50, 0.3);  opacity: 1; }
                  25.01% { box-shadow: inset 5px    -30px   12px  rgba(20, 40, 50, 0.3);  opacity: 1; }
                  50%    { box-shadow: inset 16px   0      4px   rgba(20, 40, 50, 0.45);  opacity: .4; }
                  75%    { box-shadow: inset 0      30px  50px  rgba(20, 40, 50, 0);  opacity: .3; }
                  100%   { box-shadow: inset -16px  0      4px   rgba(20, 40, 50, 0.45);  opacity: .4; }
                }

.scaled.view-2D #saturn .ring,
.scaled.view-3D #saturn .ring { box-shadow: inset 16px   0      4px   rgba(20, 40, 50, 0.6); }
*/

/* --------------------------------------------------------------------------- uranus ; pos: Left */
#uranus .pos {
  left: 6%;
  top: 75%; }

#uranus .planet {
  animation-name: shadow-uranus; }

.scaled.view-2D #uranus .planet,
.scaled.view-3D #uranus .planet {
  box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
  /* RIGHT */ }

/* --------------------------------------------------------------------------- neptune ; pos: Top */
#neptune .pos {
  left: 80%;
  top: 10%; }

.scaled.view-2D #neptune .planet,
.scaled.view-3D #neptune .planet {
  box-shadow: inset -12px 0 5px rgba(0, 0, 0, 0.5);
 }

.mercury #mercury.orbit,
.venus #venus.orbit,
.earth #earth.orbit,
.mars #mars.orbit,
.jupiter #jupiter.orbit,
.saturn #saturn.orbit,
.uranus #uranus.orbit,
.neptune #neptune.orbit {
  border: 3px solid rgba(255, 255, 255, 0.8); }

.hide-UI .orbit {
  border: 1px solid rgba(255, 255, 255, 0.2) !important; }

/* --------------------------------------------------------------------------- transitions */
.pos {
  transition-property: top, left; }

#solar-system, .orbit,
.planet,
.satelite,
.ring {
  transition-property: width, height, top, left, margin-left, margin-top, webkit-transform; }

#sun, .icon {
  transition-property: width, height, webkit-transform; }

#solar-system,
#sun,
.orbit,
.pos,
.planet,
.satelite,
.ring,
.infos,
.icon {
  transition-duration: .8s;
  transition-timing-function: ease-in-out; }

#solar-system,
#sun,
.planet,
.satelite,
.ring {
  transition-delay: 0s; }

.pos {
  transition-delay: 1s; }

.opening #solar-system,
.opening #sun,
.opening .orbit,
.opening .pos,
.opening .planet,
.opening .satelite,
.opening .ring,
.opening .infos,
.opening h1,
.opening #data,
.opening dl.infos,
.opening #controls {
  transition-duration: 0s;
  transition-delay: 0s; }

.opening .pos {
  transition-delay: 0s; }

h1, #data, #controls {
  transition-property: opacity, margin;
  transition-duration: .8s;
  transition-timing-function: ease-in-out; }

h1 {
  transition-delay: .35s; }

#data {
  transition-delay: .7s; }

#controls {
  transition-delay: 1s; }
/* --------------------------------------------------------------------------- images */

#universe {
  }

#sun {
  background-image: url('../images/page13/sun.png');}

#mercury .planet {
  background-image: url('../images/page13/mercury.png');      }

#venus .planet {
  background-image: url('../images/page13/venus.png'); }

#earth .planet {
  background-image: url('../images/page13/earth.png'); }

#earth .moon {
background-image: url('../images/page13/moon.png'); 
background-size: 100% 100%;}

#mars .planet {
  background-image: url('../images/page13/mars.png'); }

#jupiter .planet {
  background-image: url('../images/page13/jupiter.png'); }

#saturn .planet {
  background-image: url('../images/page13/saturn.png'); }

#uranus .planet {
  background-image: url('../images/page13/uranus.png');

}

#neptune .planet {
  background-image: url('../images/page13/neptune.png'); 

}

/* --------------------------------------------------------------------------- responsive styles */
@media screen and (max-width: 299px) {
  #universe {
    font-size: 20%; } }
@media screen and (min-width: 300px) {
  #universe {
    font-size: 24%; } }
@media screen and (min-width: 500px) {
  #universe {
    font-size: 36%; } }
@media screen and (min-width: 600px) {
  #universe {
    font-size: 44%; } }
@media screen and (min-width: 760px) {
  #universe {
    font-size: 58%; } }
@media screen and (min-width: 1000px) {
  #universe {
    font-size: 90%; }

  #navbar, #controls, #data {
    background: transparent; }

  h1 {
    font-size: 22px;
    margin-top: 8px; }


@media screen and (min-width: 1300px) {
  #universe {    font-size: 80%; } 
}
@media screen and (min-width: 1600px) {
  .zoom-close .scale-d #solar-system {
    margin-left: -120%; } 
}

 #controls {
    padding-right: 32px;
    top: 12px; }

  #data {
    position: absolute;
    top: 0%;
    bottom: 0;
    width: 100%;
    text-align: center; }

  #data a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 15px 15px; }

  .data-open #data, .data-close #data {
    left: 0px; }

  .controls-open #controls, .controls-close #controls {
    right: 0px; } }

/*************************************************** plantes name *********************/
dl.infos {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin-top: -90%;
  margin-left: 90%;
  padding-left: 100%; }
#sun dl.infos
{
  margin-left: 60%;
  margin-top: -80%;
}
dl.infos:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 30px;
  left: 15px;
  bottom: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: skew(-45deg, 0deg);
  box-shadow: inset 1px 1px black; }

dl.infos dt {
  position: absolute;
  left: 50px;
  margin-bottom: -10px;
  bottom: 30px;
  color: #FFF;
  font-size: 14px;
  text-shadow: 1px 1px 2px black; }
  /******************************** More info Box**********************/

  .myInfoBox{
    position: absolute;
    width: 60%;
    height: 94%;
    top:1%;
    right: 1%;
    z-index: 110;
    display: none;
    font-size: 1.1em;
  }

 .myBxx{
  width: 100%;
  position: relative;
 }

.closeBtn{
  background: #03254F;
  color: #fff;
  width: 10%;
  text-align: center;
  cursor: pointer;
  position: relative;
  right: -90%;
}

 .imgBoxx
 {
    background: #000;
    border: #03254F 2px solid;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 1%;
 }

.imgBoxx img 
{
  width: 30%;
}

.textAllBox
{
  background: #121212;
  border: #03254F 2px solid;
  width: 100%;
  margin-top: 1%;
   color: #fff;
   height: 53%;
  overflow-y: scroll;
    overflow-x: hidden;
}
.solarDefinition
{
  font-size: 1.3em;
  padding: 2%;
  background: #121212;
  width: 100%;
}

table.relativeBox
{
  border-spacing: 0px 0px;
  border-collapse: collapse;
  width: 100%;
  color: #fff;
  font-size: 1.1em;
  display: none;
  padding: 1%;
  background: #121212;
}

.stLineVal  td
{
  border: 2px solid #495075;
   padding: 1%;
}

.mytopic{
  width: 35%;
}

.mytopic11
{
  cursor: pointer;
  border-right: 2px solid #495075;
  width: 15%;
  position: relative;
} 

.mytopic2
{
  width: 50%;
}

.relativecls
{
  width: 25%;
  text-align: center;
  border-right: 2px solid #495075;
}
.absolutecls
{
  width: 25%;
  text-align: center;
}
.firstshow
{
  width: 50%;
  text-align: center;
}

.headPagingSection
{
  position: relative;
  width: 100%;
  height: 11%;
 
}
.solarpageNumber
{
  width: 98%;
 
  margin-top: 1%;
  height: 100%;
  
}

.solarpageNumber div
{
  display: inline-block;
  vertical-align: top;

}


.solarpageNumber .activeSolar
{
  background: #ccc!important;
}

#spacePrev, #spaceNext
{
  width: 49.5%;
  
  font-weight: bolder;
  color: #fff;
  font-size: 1em;
  vertical-align: top;
 
  text-align: center;
  cursor: pointer;
  padding:1%;
  position: relative;

}

.activePrevNext
{
  background: #121212;

}
.noprevnext
{
  background: grey;
}

.noprevnext::after
{
  content: "";
  display: block;
  width: 9%;
  height: 100%;
  top: 1%;
  right: 5%;
  position: absolute;
  background-image: url("../../../../../images/clickme_icon.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.explanationMe,
.explanation2Me
{
  
  font-size: 1.3em;
  padding: 1% 4%;
  background: #121212;
  color: #fff;
}
.explanation2Me
{
   display: none;
}
.explanationMe
{
 border-top: #807F7D 0.5px inset;

 padding-top: 1.5%;
}


.explanationMe  li 
{
  list-style: disc;
  margin-bottom: 2%;
}

.whatIconVal
{
  width: 100%;
  color: #fff;
  font-size: 1.1em;
  display: none;
  padding: 1%;
  background: #121212;
  text-align: center;

}


.whatIconVal div:first-child
{
  text-align: center;
  font-size: 2em;
}
.whatIconVal div:nth-child(2)
{
  width: 35%;
  margin: 1% auto;
}
.whatIconVal div:nth-child(2) img 
{
  width: 100%;
}

#linkBack
{
  width: 100%;
  left: 0%;
  text-align: left;
}


#linkBack img 
{
  width: 8%;
  cursor: pointer;
}

.myCaptionBox {
  position: absolute;
  top: 79%;
  z-index: 10;
  width: 98%;
  text-align: center;
  left: 1%;
  font-size: 3.5vmin;
  color: #f7f465;
  text-shadow: 0 0 1px #f7f465;
  opacity: 0;
}

.myCaptionBox2
{
  position: absolute;
  top:79%;
  z-index: 10;
  width: 98%;
  text-align: center;
  left: 1%;
  font-size: 3.5vmin;
  color: #f7f465;
  text-shadow: 0 0 0.4em #f7f465;
  opacity: 0;

}

.myCaptionBox3
{
  position: absolute;
  top:79%;
  z-index: 10;
  width: 98%;
  text-align: center;
  font-size: 3.5vmin;
  color: #f7f465;
  text-shadow: 0 0 0.4em #f7f465;
  opacity: 0;

}

.cssfadein{
  animation: fadein 1s linear 0s forwards;
}

@keyframes fadein{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.iconClass,
.iconClassformoon
{
  position: relative;
  width: 100%;
}
.iconClass img ,
.iconClassformoon img
{
  width: 100%;
}
.iconClass:after,
.iconClassformoon:after
{
  content: "";
  display: block;
  width: 30%;
  height: 100%;
  top:10%;
  right: 5%;
  position: absolute;
  background-image: url("../../../../../images/clickme_icon.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* for next button */

.nextBtn {
  display: block;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
  z-index: 1000;
}

.prevBtn {
  display: block;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
  z-index: 88;
}

.myNextStyle {
  cursor: pointer;
  background-image: url("../../../../../images/arrows/arrow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.myNextStyle:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
  background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
  cursor: pointer;
  background-image: url("../../../../../images/arrows/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.myPrevStyle:hover {
  background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
  background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
  position: relative;
  top: 0%;
  left: 0%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.linesegment {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}