.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.top_text {
    position: absolute;
    font-size: 2vw;
    width: 100%;
    color: white;
    background: #7A8FB8;
    padding: .5%;
    top: 0%;
}

.textblockpopup_block {
    position: absolute;
    font-size: 2vw;
    width: 80%;
    height: 70%;
    top: 21%;
    background: rgba(255, 255, 255,.9);
    z-index: 99;
    border-radius: 1vmin;
    left: 10%;
}
.text1 {
    position: absolute;
    top: 6%;
    width: 100%;
}
.text2 {
    position: absolute;
    top: 15%;
    width: 100%;
}
.textnew {
    position: absolute;
    top: 15%;
    width: 100%;
    left: 60%;
}
.text3 {
    position: absolute;
    top: 80%;
    width: 100%;
}
.listyo, .listyo2 {
	position: absolute;
	left: 31%;
	transform: translateX(-50%);
	top: 21%;
	text-align: center;
	color: #539CA7;
}
.listyo2 {
	top: 50%;
	left: 71%;
	position: absolute;
	transform: translate(-50%,-50%);
}
.listyo2:lang(np){
  top:45%;
}

/*table css*/

.main_table {
    position: absolute;
    border: .25vmin solid black;
    height: 70%;
    width: 60%;
    top: 14%;
    left: 21%;
}
td, tr {
    border: .25vmin solid #434343;
}
th {
    border: .5vmin solid #434343;
		font-size: 2vw;
}
tr {
    height: 12.4%;
}
td {
    width: 9.090909091%;
}
.table_div {
    position: absolute;
    height: 100%;
    width: 93%;
    left: -6%;
    top: 0;
}
td:nth-child(1) {
    border-left: .5vmin solid #434343;
}
tr:nth-child(8) {
    border-bottom: .5vmin solid #434343;
}
/*table css ends*/

.numbertag {
    position: absolute;
    font-size: 1.5vw;
    left: 17%;
    top: 10%;
    color: #127AC4;
}
.numbertag-2 {
    top: 19%;
}
.numbertag-3 {
    top: 28%;
}
.numbertag-4 {
    top: 37%;
}
.numbertag-5 {
    top: 46%;
}
.numbertag-6 {
    top: 55%;
}
.numbertag-7 {
    top: 64%;
}
.numbertag-8 {
    top: 73%;
}
.numbertag-9 {
    top: 82%;
}
.name {
    position: absolute;
    font-size: 1.5vw;
    left: 26%;
    top: 86%;
}
.name-2 {
    left: 37%;
}
.name-3 {
    left: 47%;
}
.name-4 {
    left: 58%;
}
.name-5 {
    left: 70%;
}
.up_arrow,.down_arrow,.left_arrow,.right_arrow,.pasang{
  position: absolute;
}
.left_arrow {
    left: 13%;
    transform: rotate(180deg);
}
.right_arrow {
    left: 50%;
}
.left_arrow, .right_arrow {
    width: 20%;
    top: 94%;
}
.up_arrow {
    top: 16%;
}
.up_arrow, .down_arrow {
    width: 1%;
    left: 6%;
}
.down_arrow {
    top: 77%;
    transform: rotate(180deg);
}
.numberofstudents {
    position: absolute;
    font-size: 1.5vw;
    color: green;
    top: 45%;
    left: 6.5%;
    background: #F2F2F2;
    transform: translateX(-50%) rotate(-90deg);
    z-index: 99;
}
.subjects {
    position: absolute;
    top: 92%;
    left: 37%;
    font-size: 1.5vw;
}
.pasang {
    position: absolute;
    z-index: 999;
    top: 30%;
    left: 85%;
    width: 11%;
}
.boy_dialogue {
	left: 84%;
	top: 20%;
	padding: 1% !important;
	font-size: 2vw;
  cursor: auto;
	width: 27%;
	transform: translate(-50%,-50%);
	z-index: 99;
}
[class*="template-dialougebox2-top-flipped-yellow"]::after {
	content: none;
}
.blockcount{
    font-size: 2vw;
  text-align: center;
  padding: 20%;
}
.feedback_text {
    position: absolute;
    font-size: 2vw;
    width: 23%;
    background: #C9DAF8;
    padding: 1%;
    border-radius: 2vmin;
    left: 71%;
    top: 33%;
    z-index: 99;
}
.feedback_text:lang(np) {
    position: absolute;
    font-size: 2.3vw;
    width: 29%;
    background: #C9DAF8;
    padding: 1%;
    border-radius: 2vmin;
    left: 71%;
    top: 35%;
    z-index: 99;
}
.top_text1 {
    position: absolute;
    font-size: 2vw;
    left: 23%;
    top: 5%;
    z-index: 99;
}
@media (min-aspect-ratio: 4/3){
    .top_text{
      font-size: 5vmin;
    }
    .textblockpopup_block,.numbertag,.blockcount,.top_text1{
      font-size: 4vmin;
    }
    .feedback_text,.feedback_text:lang(np){
      font-size: 3vmin;
    }
    .name{
      font-size: 3.6vmin;
    }
    .numberofstudents,.subjects{
      font-size: 3.5vmin;
    }
    .textblockpopup_block:lang(np){
    font-size: 3.2vmin;
}
    .boy_dialogue{
      font-size: 3vmin;

    }
}
