/*question div*/
.question_div {
    position: absolute;
    background: #FFF175;
    width: 28%;
    height: 70%;
    top: 21%;
    right: -40%;
    z-index: 99;
    border-top-left-radius: 3vmin;
    border-bottom-left-radius: 3vmin;
    font-size: 2vw;
    font-family: comicsans;
}
.question {
    position: absolute;
    top: 2%;
    width: 100%;
}
.option {
    background: #0B5394;
    position: absolute;
    color: white;
    padding: 3%;
    top: 60%;
    left: 25%;
    border-radius: 2vmin;
    border: .8vmin solid #0B5394;
    font-size: 3vmin !important;
    cursor: pointer;
    min-width: 17%;
}
.option:hover{
	background: #D9D9D9;
	border-color: #B7B7B7;
	color: black;
	transition: .2s;
}
.pos1{
    top: 42%;
    left: 15%;
}
.pos3 {
    top: 72%;
    left: 15%;
}
.pos2{
    top: 42%;
    left: 57%;
}
.pos4{
    top: 72%;
    left: 57%;
}
.diytext{
  position: absolute;
font-size: 3vw;
padding: .5%;
top: 37%;
left: 22%;
}
.diytext1 {
    position: absolute;
    font-size: 3vw;
    padding: .5%;
    top: 46%;
    left: 36%;
}
@media (min-aspect-ratio: 4/3){
    .question{
      font-size: 3.5vmin;
    }
    .question:lang(np) {
    font-size: 3.5vmin;
}
    .diytext,.diytext1{
      font-size: 7vmin;
    }
}
/*question div ends*/
