@media only screen and (min-width: 640px) and (max-width: 767px) {
	.question {
		font-size : 14px !important;
	}
	.image_container
	{
		height : 157px !important;
	}
	.neutral {
		font-size : 12px !important;
	}

	.answers {
  			margin-left: -9px !important;
			}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.question {
		font-size : 25px !important;
	}
	.image_container
	{
		  height: 214px !important;
	}
	.imgHolder {
		margin-left : -12px !important
	}

	.answers {
		  margin-left: -29px !important;
	}

	.question
	{
		margin-left : 100px !important;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.question {
		font-size : 25px !important;
	}
	.image_container
	{
		  height: 214px !important;
	}
	.imgHolder {
		margin-left : -12px !important
	}

	.answers {
		  margin-left: -29px !important;
	}

	.question
	{
		margin-left : 100px !important;
	}
}

.sm1 {
 width: 100%;
 max-height: 100%;
 height: 100%;
 position: relative;
 x overflow: hidden;
 font-size: 1.3em;
x background: #D4F7F5;
 /*box-shadow: inset 0 0 150px #63C2CE;*/
}

.sm1, .sm1 * {
 position: relative;
 margin: 0;
 padding: 0;
}
.sm1 .nextBtn {
	display: none;
	display: none;
  	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;
}

.title1 {
 font-size: 1.6em;
 width: 100%;
 /*background: #000;*/
 color: #4059AD;
 margin: auto;
 margin-top: 5%;
 text-align: center;
}
.title {
 font-size: 24px;
 width: 100%;
 padding:3%;
 /*background: #000;*/
 color: #fff;
 margin: auto;
 text-align: center;
 background:none repeat scroll 0 0 #4682b4;
}

.board {
 width: 100%;
 box-shadow: 0 -10px 10px -10px #383838;
 text-align: center;

}

.mainholder {
    padding-top: 5%;
}

.flipHolder {

 width: 50%;
 box-shadow: 0 -10px 10px -10px #383838;
 text-align: center;

}
.qAHolder {
 display: inline-block;
 xwidth: 65%;
 margin-top: 0%
}

.imgHolder {
    /*padding-top: 6%;*/
 padding:2%;
 xwidth: 16%;;
}


.question {
        text-align: left;
    margin: auto;
    font-size: 1.2em;
    background-color: transparent;
    /* border: 1px solid #cccccc; */
    /* border-radius: 4px; */
    /* box-shadow: 0 1px 1px #feffff; */
    color: #555555;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    padding: 1% 1% 1% 4%;
    font-size: 2em;

 }

 .answers ul li {
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    text-align: justify;
    width: 81%;
    display: block;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.answers
{
	margin-top: 2%;
    position: absolute;
    left: 41.5%;
}

.answers .neutral:hover {
 background: #a5b8da !important;
 color: #5B5B5B;
}


.neutral {
    background: #37A2EA !important;
}


.imgHolder1 {
 display: inline-block;
 width: 50%;
 margin-top: 5%;
 vertical-align: top;
 /*box-shadow: 0 10px 10px -10px #383838;*/
}

.imgHolder1 img {
 width: 50%;
}

.result
{
    bottom: 5%;
    color: #fff;
    display: none;
    font-size: 1.3em;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 241px;
    width: 100%;
    z-index: 10;
    color:black;
   }

.wrong {
	 background-color: #FF595B ! !important;
	 background-image: linear-gradient(to bottom, #eb715b, #ed6e40) !important;
	 color:#ffffff !important;
}

.right  {
 	background-color:  #a9db80 !important;
   	color:#606060 !important;
    font-size: 12px;
    text-decoration: none;

}

@media only screen and (min-width: 779px) and (max-width: 979px) {

}
#image_cont{

	height:246px
}
