.wrapper
{
	width : 100%;
	height:100%;
	background : #ffffff;
}

.title{
font-size: 1.4em;
    width: 97.5%;
    color: #ffffff;
    margin: auto;
    text-align: center;
    background: none repeat scroll 0 0 #FF595B;
    /* margin-top: 5%; */
    padding-top: 1%;
}

#cardSlots {
	margin: 1% auto 0 auto;
}

img{
    padding-top: 0;
    padding-bottom: 1px;
   }
   
   #cardPile {
	margin: 0 auto;
	
}

#cardPile:hover {
	cursor: pointer;
}


#cardslots{
margin-top:0;}

#cardSlots, #cardPile {
	padding: 1%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


#cardSlots div {
	xborder-radius: 10px;
	xfloat: left;
	xheight: 107px;
	xmargin: 4 0 0 23px;
	x margin-left: 10px;
	x margin-top: 4px;
	xpadding-bottom: 3px;
	xpadding-top: 19px;
	x position: absolute;
	xwidth: 123px;
	xfont-size: 20px;
}

#cardPile div {
	xborder-radius: 10px;
	xfloat: left;
	xheight: 107px;
	xmargin: 4 0 0 23px;
	x margin-left: 10px;
	x margin-top: 4px;
	xpadding-bottom: 3px;
	xpadding-top: 13px;
	x position: absolute;
	xwidth: 123px;
	font-size: 20px;
}

#cardSlots div:first-child, #cardPile div:first-child {
	x margin-left: 0;
}

.ui-droppable{
margin-bottom:35px;
}
#cardSlots div.hovered {
	background: #ccc;
}

#cardSlots div {
	xborder-style: solid;
}
.image_style{
   	height:120px;min-width:120px;
   	border:solid 2px #4682B4 !important;
   	border-radius:15px !important;
   	padding:0px !important;
}
.ui-droppable{
xborder-color:#4682B4;
xborder-style:solid;
x border-radius:  20px;
 xborder-width:2px;
}

.end{
    background-image: linear-gradient(to bottom, #37A2EA, #37A2EA);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1em;
    position: absolute;
    bottom: -1px;
    width: 48%;
	
}

#cardPile div {
    background-color: #f7f5f6;
    background-image: linear-gradient(to bottom, #37A2EA, #37A2EA);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.2em;
    margin: 17px 0 0;
    padding: 0 7px 0 38px;
	
}

#cardPile div.ui-draggable-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */

/* "You did it!" message */
#successMessage {
	position: absolute;
	left: 38%;
	top: 250px;
	width: 0;
	height: 0;
	z-index: 100;
	/*background: #dfd;
	border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
	box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);*/
	padding: 20px;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%) repeat scroll 0 0 #b8e356;
	xbackground-color: #f7f5f6;
    xbackground-image: linear-gradient(to bottom, #f7f5f6, #dddddd); 
    border: 1px solid #ccc;
    border-radius:4px;
    color: #4a4a4a;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	#cardPile div {
    font-size: 15px !important;
    margin: 10px 0 0 !important;
	}
	.image_style {
    height: 16% !important;
    width: 56% !important;
	}
	.end {
    font-size: 1.2em !important;
    height: 30% !important;
    margin-left: 6px !important;
    width: 61% !important;
    position: absolute;
    left: 0%;
   }
 
}

@media only screen and (min-width: 980px) and (max-width: 1279px) {
	#cardPile div {
    font-size: 18px !important;
    margin: 13px 0 0 !important;
	}
	.image_style {
     height: 16% !important;
    width: 56% !important;
	}
	.end {
    font-size: 18px !important;
    
    height: 30% !important;
    margin-left: 8px !important;
    width: 76% !important;
   }
}

@media only screen and (min-width: 480px) and (max-width: 782px) {
	#cardPile div {
    font-size: 1em !important;
    margin: 13px 0 0 !important;
	}
	.image_style {
     height: 16% !important;
    width: 56% !important;
	}
	.end {
    font-size:1em !important;
    
    height: 30% !important;
    margin-left: 8px !important;
    width: 61% !important;
   }
}