.yellowbg{
  background: #FFE357;
}

.uptext2 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  top: 0%;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
  padding: 2%;
  color: #fff;
  font-family: amaranth;
}

.uptext3 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  top: 67%;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
  padding: 2%;
  color: #fff;
  font-family: amaranth;
}

.fairy {
  position: absolute;
  left: 83%;
  bottom: 2%;
  width: 14%;
  transform: scaleX(-1);
}

.sp-1 {
  position: absolute;
  left: 57%;
  top: 9%;
}

.sp-2 {
  position: absolute;
  left: 21%;
  top: 6%;
}

.sp-3 {
  position: absolute;
  left: 23%;
  top: 64%;
  height: 33%;
  width: 60%;
}

.sp-3>p{
	position: absolute;
	width: 84%;
	left: 1%;
	top: 50%;
	transform: translateY(-50%);
	font-family: pangolin;
}

[class*="colimg"] {
  position: absolute;
  transform: translate(-50%,-50%);
  height: 30%;
  top: 33%;
}

.colimg-1{
  left: 20%;
}

.colimg-2{
  left: 50%;
}

.colimg-3 {
  left: 80%;
  height: 13%;
}

[class*="coltxt"] {
  position: absolute;
  transform: translateX(-50%);
  top: 50%;
  color: #fff;
  font-family: amaranth;
  width: 25%;
}

.coltxt-1{
  left: 20%;
}

.coltxt-2{
  left: 50%;
}

.coltxt-3 {
  left: 80%;
}

[class*="plus"] {
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  font-family: amaranth;
  color: white;
  top: 45%;
}

.plus-left {
  left: 35%;
}

.plus-right {
  left: 65%;
}

[class*="texttype"] {
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  color: #FFF2CC;
  font-family: amaranth;
}

.texttype-1 {
  left: 50%;
  width: 50%;
  top: 0%;
  background: rgba(255,255,255,0.5);
  height: 100%;
  width: 70%;
  padding: 8% 5%;
  font-size: 4vh;
  color: black;
}

.texttype-2 {
  left: 50%;
  width: 95%;
  bottom: 6%;
  color: #0B5394;
  background: #D9D2E9;
  padding: 1%;
  border-radius: 1em;
}

.pencil_big {
  position: absolute;
  left: 9%;
  top: 28%;
  width: 32%;
}

@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
  [class*="texttype"]{
    font-size: 3.6vh;
  }
  [class*="plus"]{
    font-size: 13vh;
  }
  .texttype-1{
    font-size: 4vh;
	}
  .uptext2,.uptext3,[class*="coltxt"]{
		font-size: 5vh;
	}
  .sp-3{
    font-size: 3.5vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
  [class*="texttype"]{
    font-size: 2vw;
  }
  [class*="plus"]{
    font-size: 6vw;
  }
  .texttype-1{
    font-size: 2.6vw;
	}
  .uptext2,.uptext3,[class*="coltxt"]{
		font-size: 3.5vw;
	}
  .sp-3{
    font-size: 1.8vw;
  }
}
