.uptext {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  top: 15%;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
  padding: 2%;
  color: #fff;
  font-family: amaranth;
}

.uptext2 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  top: 0%;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
  padding: 2%;
  color: #fff;
  font-family: amaranth;
}

.custhead{
  background: #E77D81;
  font-family: sniglet;
  color: white;
  padding: 1%;
}

.yelbgonly {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 59%;
  left: 50%;
  background: #F5D97E;
  width: 95%;
  border-radius: 2em;
  height: 78%;
}
.bluebgonly {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 59%;
  left: 50%;
  background: #5DA7AE;
  width: 95%;
  border-radius: 2em;
  height: 78%;
}

.thebg1{
  background: #7D5E3F;
}

[class*="texttype"] {
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  font-family: amaranth;
}

.texttype-1 {
  left: 60%;
  top: 40%;
  color: #F03861;
}

.texttype-2 {
  left: 27%;
  top: 25%;
}

.texttype-3 {
  left: 27%;
  top: 40%;
}

.texttype-4 {
  left: 27%;
  top: 55%;
}

.texttype-5 {
  left: 50%;
  top: 70%;
  width: 90%;
}

.texttype-6{
  left: 50%;
  top: 40%;
}

.texttype-7 {
  left: 50%;
  top: 60%;
  color: #741B47;
  width: 90%;
}

.italiit{
  font-style: italic;
}

[class*="myarrow"] {
  position: absolute;
  width: 20%;
  z-index: 2;
}

.aniforarrow{
  animation: arrowanim 0.5s linear alternate infinite;
}

@keyframes arrowanim {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.myarrow-3 {
  left: 32%;
  top: 51%;
  transform: rotate(-22deg);
}
.myarrow-2 {
  left: 32%;
  top: 44%;
}
.myarrow-1 {
  left: 32%;
  top: 37%;
  transform: rotate(22deg);
}


[class*="diydnd"] {
    position: absolute;
    font-family: amaranth;
    background: #7B74D4;
    transform: translateX(-50%);
    border: 0.2em solid #7B74D4;
    width: 12%;
    top: 47%;
    padding: 0.5%;
    color: white;
    border-radius: 0.7em;
}

.forhover:hover{
  cursor: pointer;
  background: #F6B26B;
  border: 0.2em solid #E69138;
}

.diydnd-1 {
  left: 30%;
}
.diydnd-2 {
  left: 50%;
}
.diydnd-3 {
  left: 70%;
}

[class*="myicon"] {
  position: absolute;
  transform: translateX(-50%);
  width: 5%;
  top: 60%;
}

.myicon-one {
  left: 30%;
}
.myicon-two {
  left: 50%;
}
.myicon-three {
  left: 70%;
}
@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
  [class*="texttype"]{
    font-size: 5vh;
  }
  [class*="diydnd"]{
    font-size: 4vh;
  }
  .uptext2, .texttype-5, .custhead{
		font-size: 4vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
  [class*="texttype"]{
    font-size: 3.5vw;
  }
  [class*="diydnd"]{
    font-size: 2.2vw;
  }
  .uptext2, .texttype-5, .custhead{
		font-size: 2.5vw;
	}
}
