.uptext2 {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    top: 0%;
    opacity: 0;
    animation: cssfadein 1s linear forwards;
    z-index: 10;
    padding: 2%;
    color: #FFF2CC;
    font-family: amaranth;
}

.midtext {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
    top: 50%;
    opacity: 0;
    animation: cssfadein 1s linear forwards;
    z-index: 10;
    padding: 2%;
    color: #FFF2CC;
    font-family: amaranth;
}

.sp-1 {
  position: absolute;
  left: 3%;
  top: 17%;
  height: 64%;
  width: 70%;
}
.sp-2 {
    position: absolute;
    left: 38%;
    top: 67%;
    height: 29%;
    width: 45%;
}

.sp-1>p,.sp-2>p{
	position: absolute;
	width: 84%;
	left: 1%;
	top: 50%;
	transform: translateY(-50%);
	font-family: pangolin;
}

.pencil_big {
  position: absolute;
  left: 6%;
  top: 28%;
  width: 22%;
}

.fairy {
  position: absolute;
  left: 74%;
  top: 26%;
  width: 22%;
  transform: scaleX(-1);
}
.fairy2 {
  position: absolute;
  left: 83%;
  bottom: 2%;
  width: 14%;
  transform: scaleX(-1);
}

[class*="texttype"] {
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  color: #FFF2CC;
  font-family: amaranth;
}

.texttype-1 {
  left: 65%;
  width: 50%;
  top: 7%;
  text-align: left;
}

.texttype-2 {
  left: 67%;
  width: 63%;
  top: 65%;
  text-align: left;
  font-family: laila;
  color: white;
}

.texttype-3 {
  left: 17%;
  top: 58%;
  color: #97F3EC;
}

.drophere {
  background: #EEEEEE;
  color: #999999;
  border: 0.15em solid #B7B7B7;
  padding: 2% 4%;
  border-radius: 0.5em;
}

[class*="diydnd"] {
    position: absolute;
    font-family: amaranth;
    background: #7B74D4;
    border: 0.2em solid #7B74D4;
    width: 12%;
    top: 76%;
    padding: 0.5%;
    color: white;
    border-radius: 0.7em;
}

.forhover:hover{
  cursor: move;
  background: #F6B26B;
  border: 0.2em solid #E69138;
}

.hovered{
    border: 0.2em dashed #CCCCCC;
    background: #E5E5E5;
    color: #E5E5E5;
}

.corr-ico:lang(np) {
    position: absolute;
    top: 36%;
    left: 54%;
    width: 5%;
    display: none;
}
.corr-ico:lang(en) {
    position: absolute;
    top: 29%;
    left: 51%;
    width: 5%;
    display: none;
}

.diydnd-1 {
  left: 37%;
}
.diydnd-2 {
  left: 57%;
}
.diydnd-3 {
  left: 77%;
}
.flexcontainerblock{
	position: absolute;
	width: 30%;
	right: 1.5%;
	top: 20%;
	display: flex;
	flex-flow: row nowrap;
}
.lowerflex {
    position: absolute;
    width: 78%;
    left: 50%;
    top: 50%;
    display: flex;
    flex-flow: row wrap;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid grey;
}

.column{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.column div {
    border: 2px solid grey;
}

.fcol1{
  background: #EA9999;
}
.fcol2{
  background: #E77D81;
}
.fcol3{
  background: #97F3EC;
}
.fcol4{
  background: #87D8D2;
}
.fcol5{
  background: #FFE599;
}
.fcol6{
  background: #FFF2CC;
}
.fcol7{
  background: #DEFF79;
}
.fcol8{
  background: #D0E852;
}

.fcol2,.fcol4,.fcol6,.fcol8{
  font-family: amaranth;
}
.fcol2 p,.fcol4 p,.fcol6 p,.fcol8 p{
  padding: 7%;
}

@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
  .uptext2{
		font-size: 5vh;
	}
  [class*="texttype"],[class*="diydnd"]{
    font-size: 5vh;
  }
  .texttype-2{
		font-size: 4.5vh;
	}
  .lowerflex{
    font-size: 4vh;
  }
  .fcol2,.fcol4,.fcol6,.fcol8{
    font-size: 9vh;
  }
  .midtext{
    font-size: 6vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
  .uptext2{
		font-size: 3.5vw;
	}
  [class*="texttype"],[class*="diydnd"]{
    font-size: 4vw;
  }
  .texttype-2{
    font-size: 4vw;
	}
  .lowerflex{
    font-size: 2.2vh;
  }
  .fcol2,.fcol4,.fcol6,.fcol8{
    font-size: 7vh;
  }
  .midtext{
    font-size: 4.3vw;
  }
}
