@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main_bg{
	background-image: url("../images/bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
}


.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 1.5s;
	-webkit-animation: appear 1.5s;
}
.fade_in_2{
	animation: appear 1.5s both;
	-webkit-animation: appear 1.5s both;
	animation-delay: 1s;
}
@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s;
	-webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
	100% {opacity: 0;}
}
@keyframes
disappear {
	100% {opacity: 0;}
}
/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	font-size: 5em;
}
.highlight_text_3{
	color: #1477CC;
}
.highlight_text_4{
	color: #0000FF;
}
.bottom_label {
    font-size: 5vw;
    background-color: rgb(164, 206, 103);
    padding: 0.5%;
    text-align: center;
    color: white;
    border-radius: 1vmin;
    bottom: 2%;
    position: absolute;
    left: 31%;
    width: 38%;
    font-family: Pangolin;
}

@media (min-aspect-ratio: 4/3){
	.bottom_label{
		font-size: 6.3vmin;
	}
}
.highlight_pn{
	font-size: 5.5vw;
	background-color: #815BCC;
	margin: 0.5%!important;
	padding: 0% 4%!important;
	color: white;
	border-radius: 1vmin;
}
@media (min-aspect-ratio: 4/3){
	.highlight_pn{
		font-size: 7vmin;
	}
}

.center-text-1 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 2%;
    font-family: Pangolin;
    z-index: 10;
}
.center-text-1>p{
	position: relative;
}

.center_image{
	position: absolute;
	width: 15%;
	left: 50%;
	bottom: 15%;
}
.center_image_1{
	transform: translateX(-50%);
}
.center_image_2{
	transform: translateX(-135%);
}
.center_image_3{
	width: 9%;
	transform: translateX(100%);
}

.they_text{
	bottom: 55%;
	padding: 2% 5%;
	position: absolute;
	width: 90%;
	left: 5%;
	background-color: #FFFDE0;
}
.speech-bubble{
	position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 2% 4% 4% 4%;
	text-align: left;
}
.bubble_1{
	background-image: url('../images/textbox04.png');
	bottom: 54%;
	left: 50%;
	width: 38%;
	transform: translateX(-50%);
}

.cover_board{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
/*=====  End of Custom Style  ======*/
