.bg1{
    background-color:#A9CD99;
    background-size: 100% 100%;
}
/*need to confirm*/
.bg{
    background-color:rgb(169, 185,184);
    background-size: 100% 100%;
}
.topic{
    width: 59%;
    height: 74%;
    padding-top: 19%;
    margin: 9% auto;
    background: rgb(250,125,97);
    border-radius: 48px;
    color: white;
    font-size: 2vw;
}
.topic1{
    width: 53%;
    height: 82%;
    padding-top: 19%;
    margin: 9% auto auto 46%;
    background: rgb(250,125,97);
    border-radius: 48px;
    bottom: 6%;
}
.topic2{
    width: 59%;
    height: 74%;
    padding-top: 14%;
    margin: 9% auto;
    background: rgb(250,125,97);
    border-radius: 48px;
    color: white;
    font-size: 1.7vw;
}
.innerdiv{
    position: absolute;
    width: 94%;
    height: 78%;
    background-color: rgb(236,218,153);
    float: left;
    left: 3%;
    bottom: 4%;
    font-size: 1.4vw;
    line-height: 264%;
    text-align: left;
    padding-left: 3%;
    color: rgb(153, 0, 255);
}
.title{
    bottom: 62%;
    color: white;
    font-size: 1.9vw;
    text-align: center;
    width: 100%;
}
.earthwormdiv{
    position: absolute;
    width: 19%;
    top: 14%;
}
.grasshopperdiv{
    position: absolute;
    width: 25%;
    top: 45%;
    float: left;
    left: 7%;
}
.caterpillardiv{
    position: absolute;
    width: 18%;
    top: 65%;
    float: left;
    left: 24%;
}
.beediv{
    position: absolute;
    width: 16%;
    top: 12%;
    float: left;
    left: 3%;
}
.ladybugdiv{
    position: absolute;
    width: 12%;
    top: 24%;
    float: left;
    left: 19%;
}
.butterflydiv{
    position: absolute;
    width: 35%;
    top: 49%;
}
.snaildiv{
    position: absolute;
    width: 26%;
    top: 13%;
    left: 0%;
}
.crabdiv{
    position: absolute;
    width: 16%;
    top: 36%;
    float: left;
    left: 23%;
}
.slugdiv{
    position: absolute;
    width: 23%;
    top: 69%;
}
.ladybug1div{
    position: absolute;
    top: 21%;
    float: left;
    left: 4%;
}

.cockraochdiv{
    position: absolute;
    width: 27%;
    top: 15%;
    left: 18%;
}
.grasshopper1div{
    position: absolute;
    width: 20%;
    top: 59%;
}
.spiderdiv{
    position: absolute;
    width: 18%;
    top: 57%;
    left: 27%;
}
@media (min-aspect-ratio:4/3){
  .topic,.topic2{
    font-size: 4vh;
  }
  .title,.innerdiv{
    font-size: 3vh;
  }
}
