.bg{
    background: url("../images/bg_diy.png");
    background-size: 100% 100%;
}

.diy{
    position: absolute;
    padding-top: 20%;
    float: left;
    left: 35%;
    font-size: 1.9vw;
    color: rgb(255,44,117);
    font-weight: bold;
    width: 26%;
}
.diy:lang(np){
    font-size: 4vw;
}

.bg1{
    background: url("../images/bg_for_diy.png");
    background-size: 100% 100%;
}

.quesdiv{
    position: absolute;
    border: 1px solid;
    width: 65%;
    height:100%;
    cursor: url(../images/pointer.cur) 50 50, auto;
}
.outerdiv{
    position: absolute;
    border: 6px solid;
    width: 35%;
    float: right;
    right: 0%;
    background: #F9E7B4;;
    border-radius: 15px;
    border-color:rgb(246, 178, 107);
    height:100%;
}
.ansdiv{
    position: absolute;
    border: none;
    border-radius: 15px;
    top: 20%;
    background-color: white;
    width: 100%;
    height: 81%;
}
.giraffediv{
    position: absolute;
    width: 22%;
    top: 14%;
    float: left;
    left: 2%;

}
.elephantdiv{
    position: absolute;
    width: 33%;
    top: 11%;
    float: left;
    left: 68%;
}
.snaildiv{
    position: absolute;
    width: 16%;
    top: 53%;
    float: left;
    left: 78%;
}
.pandadiv{
    position: absolute;
    width: 23%;
    top: 45%;
    float: left;
    left: 34%;
}
.cheetadiv{
    position: absolute;
    float: left;
    width: 42%;
    top: 80%;
    left: 19%;
}
.peacockdiv{
    position: absolute;
    float: left;
    width: 16%;
    top: 19%;
    left: 48%;
}
.earthwormdiv{
    position: absolute;
    float: left;
    width: 13%;
    top: 53%;
    left: 1%;
}
.butterflydiv{
    position: absolute;
    float: left;
    width: 13%;
    top: 67%;
    left: 14%;
}
.grasshopperdiv{
    position: absolute;
    float: left;
    width: 25%;
    top: 76%;
    left: 63%;
}
.crabdiv{
    position: absolute;
    float: left;
    width: 13%;
    top: 31%;
    left: 28%;
}

.cameradiv{
    width: 30%;
    bottom: 14%;
    left: 62%;
}
.giraffeansdiv{
    position: absolute;
    width: 37%;
    top: 2%;
}
.elephantansdiv{
    position: absolute;
    float: right;
    right: 2%;
    top: 0%;
    width: 52%;
}
.pandaansdiv{
    position: absolute;
    width: 37%;
    top: 44%;
}
.cheetaansdiv{
    top: 78%;
    width: 68%;
    position: absolute;
}
.peacockansdiv{
    position: absolute;
    width: 32%;
    bottom: 16%;
    left: 54%;
}

.textCls{
    font-size: 1.8vw;
    width: 46%;
    color: #FF5560;
}
.animal:hover {
    transform: scale(1.1);
}

.crabansdiv{
    position: absolute;
    width: 37%;
    top: 2%;
}
.snailansdiv{
    position: absolute;
    float: right;
    right: 2%;
    top: 0%;
    width: 52%;
}
.earthwormansdiv{
    position: absolute;
    width: 37%;
    top: 36%;
}
.grasshopperansdiv{
    top: 73%;
    width: 59%;
    position: absolute;
}
.butterflyansdiv{
    position: absolute;
    width: 32%;
    bottom: 16%;
    left: 54%;
}
.congrats{
    display: block;
    position: absolute;
    width: 65%;
    top: 50%;
    height: 21%;
    text-align: center;
    padding-top: 2%;
    background-color: #FF5560;
    color: white;
    font-size: 2vw;
    font-family: sniglet;
}

.settodefault{
    cursor: default;
    pointer-events:none;
}
@media (min-aspect-ratio:4/3){
  .diy{
    font-size: 4vh;
  }
  .textCls{
    font-size: 3vh;
  }
}
