.bg{
    background: url("../images/Page01/bg.png");
    background-size: 100% 100%;
}
.bg1{
    background: url("../images/Page01/bg01.png");
    background-size: 100% 100%;
}
.giraffediv{
    position: absolute;
    width: 21%;
    top: 5%;
}
.giraffediv1{
    position: absolute;
    width: 20%;
    top: 12%;
}
.dolphindiv{
    width: 12%;
    float: left;
    left: 22%;
    top: 11%;
    position: absolute;
}
.deerdiv{
    position: absolute;
    float: left;
    left: 34%;
    width: 15%;
    top: 17%;
}
.peacockdiv{
    position: absolute;
    float: left;
    left: 49%;
    width: 15%;
    top: 5%;
}
.peacockdiv1{
    position: absolute;
    float: left;
    left: 49%;
    width: 14%;
    top: 13%;
}

.pandadiv{
    position: absolute;
    width: 15%;
    float: left;
    left: 77%;
    top: 55%;
}
.pandadiv1{
    position: absolute;
    width: 15%;
    float: left;
    left: 64%;
    top: 55%;
}
.tigerdiv{
    position: absolute;
    width: 14%;
    float: left;
    left: 81%;
    top: 6%;
}
.tigerdiv1{
    position: absolute;
    width: 12%;
    float: left;
    left: 86%;
    top: 12%;
}
.penguindiv{
    position: absolute;
    width: 16%;
    float: left;
    left: 64%;
    top: 24%;
}
.penguindiv1{
    position: absolute;
    width: 10%;
    float: left;
    left: 81%;
    top: 57%;
}
.earthwormdiv{
    position: absolute;
    width: 14%;
    top: 58%;
}
.butterflydiv{
    position: absolute;
    width: 14%;
    top: 61%;
    float: left;
    left: 15%;
}
.grasshopperdiv{
    position: absolute;
    width: 22%;
    top: 64%;
    float: left;
    left: 30%;
}
.crabdiv{
    position: absolute;
    width: 18%;
    top: 62%;
    float: left;
    left: 52%;
}
.beediv{
    position: absolute;
    width: 12%;
    top: 43%;
    left: 17%;
}
.beediv1{
    position: absolute;
    width: 12%;
    top: 29%;
    left: 17%;
}
.ladybugdiv{
    position: absolute;
    width: 9%;
    float: left;
    top: 5%;
    left: 65%;
}
.ladybugdiv1{
    position: absolute;
    width: 9%;
    float: left;
    top: 49%;
    left: 72%;
}
.snaildiv{
    position: absolute;
    float: left;
    width: 12%;
    left: 84%;
    top: 38%;
}
.snaildiv1{
    position: absolute;
    float: left;
    width: 12%;
    left: 84%;
    top: 50%;
}

.upperdiv{
    /*border: 1px solid;*/
    width: 100%;
    height: 50%;
    bottom: 0%;
}
.lowerdiv {
    /*border: 1px solid;*/
    width: 100%;
    height: 50%;
    bottom: 15%
}

/*.upperblock{*/
    /*-webkit-transition: upperdivChange 2s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: upperdivChange 2s;*/
    /*animation-delay: 3s;*/
/*}*/
/*.lowerblock{*/
    /*-webkit-transition: lowerdivChange 2s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: lowerdivChange 2s;*/
    /*animation-delay: 3s;*/
/*}*/
/*.upperdivChange{*/
    /*height:45%;*/
/*}*/
/*.lowerdivChange{*/
    /*height:35%*/
/*}*/

@keyframes divmovetop {
    to{
        bottom: 5%;

    }
}

@-moz-keyframes divmovetop {
    to{
        bottom: 5%;

    }
}

@-webkit-keyframes divmovetop {
    to{
        bottom: 5%;

    }
}

@keyframes divmovedown {
    to{
        margin-top: 5%;

    }
}

@-moz-keyframes divmovedown {
    to{
        margin-top: 5%;

    }
}

@-webkit-keyframes divmovedown {
    to{
        margin-top: 5%;

    }
}

.animatedivmovetop{
    animation: divmovetop 1s ease-out 0s 1;
    -webkit-animation: divmovetop 1s ease-out 0s 1 forwards;
    -moz-animation: divmovetop 1s ease-out 0s 1 forwards;
}

.animatedivmovedown{
    animation: divmovedown 1s ease-out 0s 1;
    -webkit-animation: divmovedown 1s ease-out 0s 1 forwards;
    -moz-animation: divmovedown 1s ease-out 0s 1 forwards;

}

.invert{
    position: absolute;
    float: left;
    font-size: 3vw;
    font-family: arial;
    left: 50%;
    width: 55%;
    top: 24%;
    color: white;
}

.vert{
    position: absolute;
    top: 107%;
    float: left;
    font-size: 3vw;
    font-family: arial;
    width: 50%;
    color: white;
    right: 62%;
}

.and{
    position: absolute;
    float: left;
    top: 18%;
    font-size: 3vw;
    color: white;
    left: 37%;
}

.subrinadiv{
    position: absolute;
    width: 42%;
    float: left;
    top: 35%;
}

.caterpilardiv{
    position: absolute;
    width: 29%;
    float: left;
    left: 53%;
    top: 79%;
}

.leftdiv{
    width: 50%;
    height: 89%;
    position: absolute;
    top:0%;
}
.rightdiv{
    position: absolute;
    width: 50%;
    height: 89%;
    float: left;
    left: 50%;
    top:0%;
}
.butterflygifdiv{
    position: absolute;
    width: 48%;
    top: 66%;
    float: left;
    left: 11%;
}
.monkeydiv{
  position: absolute;
  width: 30%;
  float: left;
  left: 124%;
  top: 55%;
}

.text1{
    display: block;
    color: white;
    font-size: 1.6vw;
    width: 66%;
    float: left;
    left: 17%;
    position: absolute;
    padding-top:6%;
}
.leftborder{
    border-right: 2px solid;
    border-color:white;
}
.title1{
    position: absolute;
    float: left;
    left: 20%;
    padding-top: 5%;
    font-size: 2vw;
    color: white;
}
.title2{
    position: absolute;
    float: left;
    left: 66%;
    font-size: 2vw;
    padding-top: 5%;
    color: white;
}
/* .translateleft {
    -ms-transform: translate3d(419px, 4px,0px);
    -webkit-transform: translate3d(419px, 4px,0px);
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
} */
@media (min-aspect-ratio:4/3){
  .title2,.title1,.invert,.vert,.and{
    font-size: 4vh;
  }
  .text1{
    font-size: 3vh;
  }
}
