.bg{
    background-color:#A9CD99;
    background-size: 100% 100%;
}
.topic{
    width: 59%;
    height: 74%;
    padding-top: 19%;
    margin: 9% auto;
    background: rgb(250,125,97);
    border-radius: 48px;
    color: white;
    font-size: 2vw;
}
.topic1{
    width: 53%;
    height: 82%;
    padding-top: 19%;
    margin: 9% auto auto 46%;
    background: rgb(250,125,97);
    border-radius: 48px;
    bottom: 6%;
}
.topic2{
    width: 59%;
    height: 74%;
    padding-top: 14%;
    margin: 9% auto;
    background: rgb(250,125,97);
    border-radius: 48px;
    color: white;
    font-size: 1.7vw;
}
.innerdiv{
    position: absolute;
    width: 94%;
    height: 78%;
    background-color: rgb(236,218,153);
    float: left;
    left: 3%;
    bottom: 4%;
    font-size: 1.4vw;
    line-height: 264%;
    text-align: left;
    padding-left: 3%;
    color: rgb(153, 0, 255);
}

.catdiv{
    position: absolute;
    width: 20%;
    top: 17%;
    float: right;
    right: 82%;
}
.duckdiv{
    position: absolute;
    width: 16%;
    top: 20%;
    left: 31%;
}
.dolphindiv{
    position: absolute;
    top: 34%;
    width: 19%;
    float: left;
    left: 16%;
}
.beerdiv{
    position: absolute;
    width: 20%;
    top: 63%;
    float: left;
    left: 1%;
}
.monkeydiv{
    position: absolute;
    width: 19%;
    top: 65%;
    float: left;
    left: 25%;
}
.penguindiv{
    position: absolute;
    width: 11%;
    float: left;
    left: 20%;
}

.sagardiv{
    position: absolute;
    width: 12%;
    float: left;
    top: 18%;
    left: 1%;
}
.giraffediv{
    position: absolute;
    width: 22%;
    float: left;
    left: 14%;
    top: 44%;
}
.sagar1div{
    position: absolute;
    width: 13%;
    float: left;
    left: 26%;
    top: 27%;
}
.dogdiv{
    position: absolute;
    width: 20%;
    top: 53%;
    float: left;
    left: 2%;
}
.cheetadiv{
    position: absolute;
    width: 28%;
    float: left;
    left: 13%;
    top: 7%;
}
.horsediv{
    position: absolute;
    width: 21%;
    top: 31%;
 }
.elephantdiv{
    position: absolute;
    width: 22%;
    top: 62%;
    float: left;
    left: 15%;
}
.birddiv{
    position: absolute;
    width: 20%;
}
.chickendiv{
    position: absolute;
    width: 26%;
    top: 32%;
    float: left;
    left: 9%;
}
.snakediv{
    position: absolute;
    width: 28%;
    top: 69%;
    float: left;
    left: 18%;
}
.title{
    bottom: 62%;
    color: white;
    font-size: 1.9vw;
    text-align: center;
    width: 100%;
}
@media (min-aspect-ratio:4/3){
  .topic,.topic2{
    font-size: 4vh;
  }
  .title,.innerdiv{
    font-size: 3vh;
  }
}
