.bg{
    background: url("../images/Page01/bg.png");
    background-size: 100% 100%;
}
.text1{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    font-size: 2.2vw;
    width: 100%;
    padding-top: 1%;
    position: absolute;
    float: left;
    color: white;
    font-weight: bold;
}
.text2{
    font-size: 1.6vw;
    width: 57%;
    padding-top: 7%;
    position: absolute;
    float: left;
    left: 21%;
}
.muscle{
    position: absolute;
    width: 25%;
    top: 34%;
    float: left;
    left: 0%;
}
.bone{
    position: absolute;
    width: 25%;
    top: 34%;
    float: left;
    left: 38%;
}
.backbone{
    position: absolute;
    width: 25%;
    top: 34%;
    float: left;
    left: 72%;
}

.pig{
    position: absolute;
    width: 15%;
    height: 22%;
    top: 70%;
}
.elephant{
    position: absolute;
    width: 32%;
    height: 56%;
    top: 36%;
    float: left;
    left: 16%;
}
.hen{
    position: absolute;
    height: 24%;
    top: 65%;
    float: left;
    left: 48%;
    width: 14%;
}
.deer{
    position: absolute;
    height: 40%;
    top: 51%;
    float: left;
    left: 63%;
    width: 20%;
}
.monkey{
    position: absolute;
    height: 42%;
    top: 52%;
    float: left;
    left: 83%;
    width: 17%;
}

.girrafeebone{
    position: absolute;
    width: 14%;
    top: 29%;
    float:left;
    left: 19%;
}
.frogbone{
    position: absolute;
    width: 18%;
    float: left;
    left: 38%;
    top: 37%;
}
.chickenbone{
    position: absolute;
    width: 19%;
    top: 34%;
    float: left;
    left: 63%;
}
.crocbone{
    position: absolute;
    width: 30%;
    top: 65%;
    float: left;
    left: 23%;
}
.dinobone{
    position: absolute;
    width: 21%;
    top: 61%;
    float:left;
    left: 56%;
}

.middlebox{
    border:3px solid;
    width: 45%;
    height: 15%;
    float: left;
    left: 32%;
    border-color: #1A8456;
    border-radius: 29px;
    background: white;
    top: 41%;
}
.deerrealdiv{
    position: absolute;
    width: 16%;
    top: 59%;
    float: left;
    left: 4%;
}
.rhinorealdiv{
    position: absolute;
    width: 16%;
    top: 28%;
    float: left;
    left: 4%;
}
.penguinrealdiv{
    position: absolute;
    width: 16%;
    top: 59%;
    float: left;
    left: 25%;
}
.peacockrealdiv{
    position: absolute;
    width: 16%;
    top: 59%;
    float: left;
    left: 46%;
    left: 46%;
}
.parotrealdiv{
    position: absolute;
    width: 16%;
    top: 59%;
    float: left;
    left: 65%;
}
.pandarealdiv{
    position: absolute;
    width: 16%;
    top: 59%;
    float: left;
    left: 84%;
}
.tigerrealdiv{
    position: absolute;
    width: 16%;
    top: 28%;
    float: left;
    left: 84%;
}
.elephantrealdiv{
    position: absolute;
    width: 16%;
    top: 10%;
    float: left;
    left: 25%;
}
.dolphinrealdiv{
    position: absolute;
    width: 16%;
    top: 10%;
    float: left;
    left: 46%;
}
.cranerealdiv{
    position: absolute;
    width: 16%;
    top: 10%;
    float: left;
    left: 65%;
}
.animaldiv:hover {
    transform: scale(1.1);
    cursor: url(../images/handicon.png), auto;
    color: rgb(26,132,86);
    font-size:1.2vw;
}
.animaldiv p{
    color: rgb(26,132,86);
    font-size:2vw;
}
.clicktext{
    color: rgb(255,44,117);
    text-align: center;
    font-size: 1.5vw;
}
.secondtext{
    padding-top: 2%;
}
.birdvdiv{
    position: absolute;
    width: 27%;
    top: 31%;
    float: left;
    left: 26%;
}
.fishvdiv{
    position: absolute;
    width: 25%;
    top: 25%;
    float: left;
    left: 55%;
}
.lionvdiv{
    position: absolute;
    width: 28%;
    top: 59%;
    float: left;
    left: 9%;
}
.snakevdiv{
    position: absolute;
    width: 26%;
    top: 61%;
    float: left;
    left: 41%;
}
.tortlevdiv{
    position: absolute;
    width: 29%;
    top: 56%;
    float: left;
    left: 69%;
}
@media (min-aspect-ratio:4/3){
  .animaldiv p{
    font-size: 4vh;
  }
  .text1,.text2,.clicktext{
    font-size: 3.5vh;
  }
}
