.bg1{
    background-color: #4A4190;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}
.bg{
    background-color: #E0E995;
    height: 100%;
    width: 100%;
}
.titletop2{
    background-color:#409888;
    width: 100%;
    height: 12%;
    padding-top: 2%;
    color: white;
}
.titletop1{
    width: 100%;
    height: 12%;
    padding-top: 0%;
    color: #4A4190;
}
.diy{
    position: absolute;
    font-size: 5vw;
    color: #00FFFF;
    left: 40%;
    bottom: 2%;
}
.diyimg{
    top: 41%;
    right: 0.2%;
}
.msgdiv{
    position: absolute;
    top: 20%;
    width: 95%;
    height: 73%;
    left: 3%;
    background-color: #F6F9DD;
    border-radius: 16px;
    font-size: 1.6vw;
    text-align: justify;
}
.header1{
    position: absolute;
    bottom: 89%;
    float: left;
    left: 81%;
    color: white;
}
.header2{
    position: absolute;
    bottom: 79%;
    float: left;
    left: 79%;
    color: white;
}
.salut1{
    position: absolute;
    bottom: 77%;
    float: left;
    left: 4%;
    color: white;
}
.salut2{
    position: absolute;
    bottom: 68%;
    float: left;
    left: 4%;
    color: white;
}
.ending1{
    position: absolute;
    bottom: 11%;
    float: left;
    left: 69%;
    color: white;
}
.ending2{
    position: absolute;
    bottom: 2%;
    float: left;
    left: 74%;
    color: white;
}
.body2,.body8,.body10{
    background-color: #409888;
    color: white;
}
.titletop,.titletop2{
    font-size: 2vw;
}
.bodycontent{
    position: absolute;
    top: 35%;
    padding: 4%;
    padding-top: 0%;
}
.commontxt{
    background: #515fab;;
    border-radius: 9px;
}
.commontxt:hover{
    transform: scale(1.1);
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:#43434B;
    border-radius: 9px;
}
.endmsg{
    color: white;
    width: 49%;
    left: 32%;
    z-index: 40;
    position: absolute;
    top: 40%;
}
.girl1{
    position: absolute;
    width: 21%;
    left: 9%;
    top: 7%;
    z-index:20;
}
.correctans{
    pointer-events: none;
    background-color: #98C02E;
    border:2px solid;
    border-color: #DEEF3C;
    border-radius:9px;
}
.wrongans{
    pointer-events: none;
    background-color:#FF0000;
    border:2px solid;
    border-color: #980000;
    border-radius:9px;

}