.bg{
    background-color: #EA9999;
    height: 100%;
    width: 100%;
}
.dialogbox{
    position: absolute;
    width: 64%;
    top: 17%;
    left: 17%;
}
.dialtitle{
    position: absolute;
    padding-top: 20%;
    left: 23%;
    color: #377DCB;
    width: 54%;
}
.girl{
    position: absolute;
    width: 16%;
    top: 25%;
}
.title{
    position: absolute;
    color: white;
    text-align: center;
    width: 84%;
    padding-top: 2%;
    left: 8%;
}
.popupdiv{
    position: absolute;
    top: 14%;
    width: 74%;
    left: 20%;
    height: 80%;
    background-color: #EA9999;
    border-radius: 17px;
}
.headerdiv{
    position: absolute;
    width: 73%;
    left: 22%;
    height: 21%;
    top: 22%;
    background-color: whitesmoke;
}
.bodydiv{
    position: absolute;
    width: 73%;
    top: 22%;
    height: 43%;
    text-align: justify;
    left: 22%;
    padding-top: 14%;
    background-color: whitesmoke;
}
.ending{
    position: absolute;
    width: 73%;
    top: 65%;
    height: 21%;
    float: left;
    left: 22%;
    background-color: whitesmoke;
}
.headerp{
    left: 73%;
    position: absolute;
    width: 40%;
    text-align: left;
}
.salutationp{
    position: absolute;
    width: 40%;
    top: 38%;
    text-align: left;
}
.endingp{
    width: 40%;
    left: 72%;
    padding-top: 6%;
    text-align: left;
}
.commonenv{
    display: block;
    position: absolute;
    width: 55%;
    height: 64%;
    margin: 11%;
    left: 11%;
    top: 5%;
}
.flipenv {
    animation: flip 1s linear 0s forwards;
}
@keyframes flip{
    100%{
        transform: rotateY(180deg);
    }
}

.slidedwenv {
    animation: slidedw 1s linear  0s forwards;
}
@keyframes slidedw{
    100%{
        transform: translateY(10%);
    }
}
.slideletter {
    animation: slidedwn 1s linear  0s forwards;
}
@keyframes slidedwn{
    100%{
        transform: translateY(30%);
        top:43%;
        height:0%;
    }
}
.fixedposition{
    position: absolute;
    width: 55%;
    height: 78%;
    margin: -5%;
    left: 26%;
    top:19%;
}
.letter {
    position: absolute;
    width: 53%;
    left: 27%;
    animation: flipup 1s linear 0s forwards;
}
@keyframes flipup{
    100%{
        transform: translateY(-15%) rotateX(180deg);
    }
}
.insertletter{
    position: absolute;
    width: 51%;
    left: 24%;
    top: 14%;
    height: 20%;
    background-color: #E7E4E4;
}
.leftdiv1{
    position: absolute;
    padding-top: 26%;
    left: 32%;
    width: 9%;
    border-bottom: 1px solid;
}
.leftdiv2{
    position: absolute;
    padding-top: 31%;
    left: 29%;
    width: 15%;
}
.rightdiv1{
    position: absolute;
    padding-top: 26%;
    left: 59%;
    width: 9%;
    border-bottom: 1px solid;
}
.rightdiv2{
    position: absolute;
    padding-top: 31%;
    left: 54%;
    width: 20%;
}
.line{
    border: 1px solid;
    -webkit-transform: translateY(11px) translateX(1px) rotate(-61deg);
    position: absolute;
    width: 16%;
    top: 54%;
    left: 42%;
}
.letterman,.letterbg{
    position: absolute;
    width: 100%;
    top: 13%;
    height: 82%;
}
.letterpost{
    position: absolute;
    width: 26%;
    top: 30%;
    left: 13%;
    height: 82%;
}