.bluebg{
  background: #79C5C9;
}
.orangebg{
  background: #FF916A;
}
.yellowbg{
  background: #EFD13F;
}
.purplebg{
  background: #855FCE;
}
.toptxt{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  font-family: sniglet;
  font-size: 2.5vw;
  padding: 1.5%;
}
.white{
  color: #fff;
}
.girl_left{
  position: absolute;
  top: 23%;
  left: 4%;
  width: 27%;
}
.plants{
  position: absolute;
  top: 17%;
  left: 35%;
  width: 40%;
}
.zoomIn{
  animation: zoomInUp 3s;
}
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.circleImage{
  position: absolute;
  top: 20%;
  width: 32%;
  opacity: 0;
}
.cIm1{
  left: 30%;
}
.cIm2{
  left: 64%;
}
.pink{
  color: #FA2582;
}
.bouncein{
    animation: bounceIn 3s;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.ImageContainer{
  position: absolute;
  top: 20%;
  left: 31%;
  height: 0%;
  width: 0%;
  animation: zoom 2s linear forwards;
}
@keyframes zoom{
  100%{height: 66%;width: 65%;}
}
.imageContainerClass1{
  position: absolute;
  top: 25%;
  left: 3%;
  height: 46%;
  width: 25%;
  opacity: 0;
}
.imageContainerClass2{
  position: absolute;
  top: 55%;
  left: 39%;
  height: 38%;
  width: 25%;
  opacity: 0;
}
.imageContainerClass3{
  position: absolute;
  top: -2%;
  left: 36%;
  height: 46%;
  width: 25%;
  opacity: 0;
}
.imageContainerClass4{
  position: absolute;
  top: 25%;
  left: 71%;
  height: 46%;
  width: 25%;
  opacity: 0;
}
.fadeIn{
  animation: fadeIn 3s linear forwards;
}
.fadeIn1{
  animation:fadeIn 2s linear 1s forwards;
}
.fadeIn2{
  animation:fadeIn 2s linear 3s forwards;
}
.fadeIn3{
  animation:fadeIn 2s linear 5s forwards;
}
.fadeIn4{
  animation:fadeIn 2s linear 7s forwards;
}
.fadeIn5{
  animation:fadeIn 2s linear 9s forwards;
}
.boxImage_sec{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 90%;
  width: 100%;
}
.boxTxt{
  position: absolute;
  top: 90%;
  width: 100%;
}
.boyImage{
  position: absolute;
  top: 37%;
  left: 3%;
  width: 24%;
}
.p3CornerImage{
  position: absolute;
  width: 15%;
  opacity: 0;
}
.pci1{
  top: 19%;
  left: 2%;
}
.pci2{
  top: 70%;
  left: 2%;
}
.pci3{
  top: 19%;
  right: 2%;
}
.pci4{
  top: 68%;
  right: 2%;
}
.imageName{
  position: absolute;
  color: #fff;
  font-size: 3vw;
  opacity: 0;
}
.iN1{
  top: 44%;
  left: 6%;
}
.iN2{
  top: 89%;
  left: 6%;
}
.iN3{
  top: 44%;
  right: 4%;
}
.iN4{
  top: 91%;
  right: 4%;
}
.midBufImg{
  position: absolute;
  top: 20%;
  left: 29%;
  width: 40%;
  opacity: 0;
}
.p4Bird{
  position: absolute;
  width: 26%;
}
.hen{
  top: 44%;
  left: 62%;
}
.duck{
  top: 27%;
  left: 34%;
}
.egg{
  position: absolute;
  width: 57%;
  opacity: 0;
}
.deg{
  top: 5%;
  left: 0%;
}
.heg{
  top: 0%;
  left: 15%;
  width: 50%;
}
.p5Img{
  position: absolute;
  width: 30%;
}
.p5Im1{
  top: 20%;
  left: 35%;
}
.p5Im2{
  top: 66%;
  left: 40%;
  width: 15%;
}
.p5Im3{
  top: 20%;
  right: 2%;
}
.p5Im4{
  top: 60%;
  right: 5%;
  width: 23%;
}
.btm{
  top: 41%;
}
.boyLast{
  position: absolute;
  top: 42%;
  width: 22%;
  left: 53%;
}
.mixedfood{
  position: absolute;
  top: 26%;
  left: 2%;
  width: 94%;
}
.imagebg{
position: absolute;
top: 0%;
left: 0%;
height: 100%;
width: 100%;
}
.CirBgImage{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
}
.zoomIn{
  animation: zoomInUp 3s linear forwards;
}
.zoomIn1{
  animation: zoomInUp 3s linear 3s forwards;
}
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  100%{
    opacity: 1;
  }
}
.imageContainerClass{
  position: absolute;
  height: 46%;
  width: 25%;
  /*opacity: 0;*/
}
.cls1{
  top: 25%;
  left: 12%;
}
.cls1_5{
  top: 8%;
  left: 12%;
  width: 38%;
}
.cls2{
  top: 59%;
  left: 55%;
}
.cls2_5{
  top: 59%;
  left: 65%;
  width: 34%;
}
.cls3{
  top: 30%;
  left: 46%;
}
.cls3_5{
  top: 32%;
  left: 63%;
}
.cls4{
  top: 57%;
  left: 16%;
}
.cls4_5{
  top: 66%;
  left: 22%;
}
.bird{
  position: absolute;
  width: 100%;
  left: 9%;
  top: 0%;
  opacity: 0;
}
.hidden{
  opacity: 0;
}
@keyframes fadeIn{
  100%{opacity: 1;}
}

.girlLast{
  position: absolute;
  top: 42%;
  left: 21%;
  width: 24%;
}
.plantTxt{
  position: absolute;
  top: 24%;
  left: 41%;
  font-size: 3vw;
}
.animalTxt{
  position: absolute;
  top: 24%;
  left: 74%;
  font-size: 3vw;
}
.ptSec{
  position: absolute;
  top: 24%;
  left: 48%;
  font-size: 3vw;
}
/*************************************mediaquery**********************/
@media (min-aspect-ratio:4/3){
	.boxTxt{
		font-size:2.5vw;
	}
  .plantTxt, .animalTxt{
    font-size: 4vh;
  }
  .ptSec{
    font-size: 5vh;
  }
}
@media (max-aspect-ratio:4/3){
	.boxTxt{
		font-size:2.5vw;
	}
  .plantTxt, .animalTxt{
    font-size: 3vw;
  }
  .ptSec{
    font-size: 3vw;
  }
}
