/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#int1ex
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
	background-image: url("../../bg.png");}

/*for all elements make sure that it does not inherit margin and padding*/
#int1ex *{
	margin:0;
	padding:0;	
}
/*------------------------------------------------------------------------------------------*/

/*for css animation from animate css*/

 #nxtBtn{
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
   animation-duration: 2s;
} 

#summary tr{
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
   animation-duration: 2s;
} 

/*rotate right*/
.rotateRight
{
  animation-duration: 5s;
  animation-name: RotateR;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-duration: 5s;
  -webkit-animation-name: RotateR;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes RotateR{
  0% {
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }

  100% {
        transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
     }
}

@-webkit-keyframes RotateR{
  0%{
      transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }


  100%{
       transform: rotate(360deg) ;
    -webkit-transform: rotate(360deg) ;
    -moz-transform: rotate(360deg) ;
    -o-transform: rotate(360deg) ;
    -ms-transform: rotate(360deg) ;
  }
}

/*****************************************************************************************************/
/*for all the text inputs in the page*/
input[type=text]{
	position: absolute;
	background-color: transparent;
	top:35%;
	left:35%;	
	width:30%;
	height:30%;	
	font-size:1.5em;
	text-align:center;
	border: 0.1em solid rgba(0,0,0,0.5);
	border-radius: 5%;
}

input[type=radio]{
	cursor:pointer;
}

/*main question*/
#mainQn{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;	
	text-align: center;
	padding:3% 5% 2% 2%;
	font-size: 1.4em;
	color: white;
	background-color: #005751;
	border-radius: 2%;
	box-shadow: 0.1em 0.2em 0.1em #888888;
}

/*second question*/
#secondQn{
	position: absolute;
	top:15%;
	left:10%;
	width:80%;	
	text-align: center;
	padding:3% 5% 2% 2%;
	font-size: 1.4em;
	color: white;
	background-color: #492D61;
	border-radius: 2%;
	box-shadow: 0.1em 0.2em 0.1em #888888;
}

/*hint*/
#hint{
	display: none;
	position: absolute;
	top:80%;
	left:10%;
	width:80%;	
	text-align: center;
	
	font-size: 1.4em;
	color: brown;		
}

#nxtBtn {
	display: none;
	position: absolute;
	/*height: 10%;*/
	z-index: 100;
	right: 1%;
	/*bottom: 1%;*/
	top: 88%;
	width: 6%;
	height: 15%;
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#nxtBtn:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}


#board {
	position: absolute;
	top:50%;
	left:25%;
	width:50%;
	height:30%;
	text-align: center;
	/*border: 1px solid red;*/
}

/*radio buttons*/
.positive, .negative{
	font-size: 1.4em;
	cursor:pointer;
}

/*table*/
#summary
{
	display: none;
	position: absolute;
	top:2%;
	left:2.5%;

	width:95%;
	text-align: center;
	border-spacing: 0.1em;
	border-collapse:separate;
}

#summary tr:nth-of-type(n+2){
	display: none;
}

#summary tr th
{	
	padding:1% 1%;
	text-align: center;
	font-size: 1.3em;
	background-color: #112F41;
	color:white;

}

#summary tr td
{	
	padding:0.7% 0.5%;
	font-size: 1.1em;
	text-align: center;
}

#summary tr td:nth-of-type(1),#summary th:nth-of-type(1)
{
	width:60%; /*first column width*/
}

#summary tr td:nth-of-type(2),#summary th:nth-of-type(2)
{
	width:20%; /*first column width*/
	
}

#summary td:nth-of-type(3),#summary th:nth-of-type(3)
{
	width:20%; /*first column width*/
}

#summary tr:nth-of-type(odd) td
{
	color:#0A1C28;
}

#summary tr:nth-of-type(even) td
{
	color:#266DBB;	
}

#summary tr  td:nth-of-type(2){
	color:darkgreen;
}
