.activity_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #fff;
  box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
  position: relative;
  margin: 0;
  padding: 0;
}

.activity_container .nextBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
}

.activity_container .prevBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
}

/*=====================================
=            common styles            =
=====================================*/
.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-horizontal-center {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

.coverboardfull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*================================================
    =            Notification Pulse Style            =
    ================================================*/
/**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }

  25% {
    transform: scale(0);
    opacity: 0.6;
  }

  50% {
    transform: scale(0.1);
    opacity: 0.8;
  }

  75% {
    transform: scale(0.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -moz-transform: scale(0);
    opacity: 0.6;
  }

  50% {
    -moz-transform: scale(0.1);
    opacity: 0.8;
  }

  75% {
    -moz-transform: scale(0.5);
    opacity: 1;
  }

  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -webkit-transform: scale(0);
    opacity: 0.6;
  }

  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.8;
  }

  75% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
  cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
  content: "";
  position: absolute;
  margin-top: 37%;
  left: 55%;
  width: 3em;
  height: 2em;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 9999;
  -webkit-animation: pulse 1.2s ease-out infinite;
  -moz-animation: pulse 1.2s ease-out infinite;
  animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/
/*=====  End of common styles  ======*/
/*===============================================
=            general template layout            =
===============================================*/
div.generaltemplateblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*border   : 1px solid red; */
}

/*===================================
    =            HeaderBlock            =
    ===================================*/
div.headerblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  /*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 2%;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(238, 110, 115);
  background-color: rgb(252, 252, 252);
  text-align: center;
}

.headertextstyle2 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 1% 2%;
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(96, 187, 0);
  background-color: rgb(230, 248, 211);
  text-align: center;
  /*opacity: 0;*/
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
  height: 13%;
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
  padding: 2%;
}

/*=====  End of HeaderBlock  ======*/
/*====================================
    =            ContentBlock            =
    ====================================*/
div.generaltemplateblock div.contentblock {
  position: absolute;
  width: 100%;
  padding: 1%;
  /*border   : 1px solid blue;*/
}

div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
  top: 13%;
  height: 87%;
}

div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
  top: 0%;
  height: 100%;
}

/*=====  End of ContentBlock  ======*/
/*===================================
    =        InstructionBlock           =
    ===================================*/
div.instructionblock {
  position: absolute;
  left: 8%;
  width: 84%;
  height: 50%;
  background-color: white;
  -webkit-transition: top 0.3s ease-in;
  -o-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in;
  border: 4px solid rgba(238, 238, 238, 0.7);
  border-radius: 5px;
  -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
  background-color: rgb(238, 238, 238);
}

div.instructionblock[data-instructionblockshow='true'] {
  top: 50%;
}

div.instructionblock[data-instructionblockshow='false'] {
  top: 100%;
}

div.instructionblock div.instructionsets {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  font-size: 1.15em;
}

div.instructionblock div.instructionsets ol li {
  padding: 0.5% 2%;
  list-style-position: inside;
  text-align: left;
}

div.instructionblock div.instructionsets ol li:nth-of-type(n+2) {
  margin-top: 0.5%;
}

div.instructionblock div.toggleinstructionblock {
  position: absolute;
  bottom: 100%;
  left: 45%;
  width: 10%;
  padding: 0.7% 1%;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 7px;
  background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
  background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
  background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
  background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
  background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
}

div.instructionblock div.toggleinstructionblock span {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  -webkit-transition: transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span {
  -webkit-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  -moz-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  transform: rotate(540deg);
}

/*=====  End of InstructionBlock  ======*/
/*==================================
    =            Text Block            =
    ==================================*/
@-webkit-keyframes swipebackgroundkeyframe {
  to {
    background-position: 0% 0%;
  }
}

@-moz-keyframes swipebackgroundkeyframe {
  to {
    background-position: 0% 0%;
  }
}

@keyframes swipebackgroundkeyframe {
  to {
    background-position: 0% 0%;
  }
}

div.textblock {
  position: relative;
  margin-top: 1%;
  /*border   : 1px solid green; */
}

p.simpletextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  padding: 1% 3%;
  font-size: 1.3em;
  text-align: left;
  /* border  : 1px solid red; */
}

p.bigheadingtextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  padding: 1%;
  font-size: 1.6em;
  font-weight: bold;
  /* border   : 1px solid red; */
  color: rgb(1, 174, 250);
}

p.singleparawithimagetextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  padding: 3%;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  color: black;
  background-color: rgb(198, 234, 248);
}

p.onlyparatextstyle,
p.paratextstyle {
  display: table;
  margin: 0 2%;
  position: relative;
  padding: 3%;
  width: 95%;
  font-size: 1.2em;
  text-align: left;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
  -moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
  box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
  background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
  /* IE10 */
  background-image: -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
  /* Opera 11.10+ */
  background-image: linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
  /* W3C */
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: -100% 0%;
  -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
  -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
  -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
  animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.onlyparatextstyle {
  text-align: center;
}

p.bottomparatextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  padding: 2% 3%;
  width: 80%;
  font-size: 1.2em;
  text-align: left;
  color: black;
  background-color: rgb(198, 234, 248);
  -webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
  -moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
  box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  padding: 4%;
  font-size: 1.4em;
  text-align: left;
  /* svg image bg pulled from common images folder */
  background: url(../../../../../images/backgrounds/polygonbackground.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

p.textalignleft {
  text-align: left;
}

p.formulatextstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  margin-top: 3%;
  padding: 3%;
  color: rgb(135, 41, 213);
  font-size: 1.3em;
  background: url(../../../../../images/backgrounds/greybackground_animated.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

p.sideboxtextstyle {
  display: table;
  margin: 0 2%;
  position: relative;
  padding: 5% 5%;
  width: 95%;
  font-size: 1.2em;
  text-align: left;
  background-color: rgb(255, 247, 208);
  border: 2px solid rgb(247, 204, 27);
  border-radius: 5px;
}

p.paperstacktextstyle {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 1% 5%;
  margin-top: 2%;
  font-size: 1.1em;
  color: black;
  background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
  /* FF3.6+ */
  background-image: -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
  /* IE10 */
  background-image: -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
  /* Opera 11.10+ */
  background-image: linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
  /* W3C */
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: -100% 0%;
  -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
  -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
  -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
  animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.paperstacktextstyle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: -1;
  -webkit-transform: rotate(0.8deg);
  -ms-transform: rotate(0.8deg);
  -o-transform: rotate(0.8deg);
  transform: rotate(0.8deg);
}

p.paperstacktextstyle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: -2;
  -webkit-transform: rotate(1.6deg);
  -ms-transform: rotate(1.6deg);
  -o-transform: rotate(1.6deg);
  transform: rotate(1.6deg);
}

span.royalbluehighlightstyle {
  color: rgb(0, 0, 255);
}

span.orangehighlight {
  color: rgb(197, 6, 6);
}

/*=====  End of Text Block  ======*/
/*=====================================
    =            svg block                =
    =====================================*/
div.svgwrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  /*border   : 1px solid blue;*/
}

div.svgcontainer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*border   : 1px solid blue;*/
}

div.svgcontainer>svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*=====  End of svg block  ======*/
/*===================================
    =            Image Block            =
    ===================================*/
div.imageblock {
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
  /*border     : 1px solid green; */
}

img.singleimgstyle {
  display: table;
  margin: 0 auto;
  position: relative;
  padding: 1%;
  width: 45%;
}

div.imageblock label {
  position: absolute;
}

img.twoimgtogether {
  position: relative;
  display: inline-block;
  width: 20%;
}

img.twoimgtogether:nth-of-type(1) {
  margin-right: 20%;
}

img.twoimgtogetherlowspacing:nth-of-type(1) {
  margin-right: 10%;
}

img.threeimgtogether {
  position: relative;
  display: inline-block;
  width: 20%;
  margin-top: 2%;
}

img.threeimgtogether:nth-of-type(-n+2) {
  margin-right: 10%;
}

img.threeimgtogetherlowspacing:nth-of-type(1) {
  margin-right: 6%;
}

/*=====  End of Image Block  ======*/
/*==============================================
    =            Diy Splash Page Block             =
    ==============================================*/
div.diysplashblock {
  position: relative;
  width: 100%;
  /*border   : 1px solid red;*/
}

div.diysplashblock>figure {
  position: relative;
  display: table;
  margin: 0 auto;
  width: 40%;
  /*border : 1px solid red;*/
}

div.diysplashblock>figure>img {
  width: 100%;
}

div.diysplashblock>figure>figcaption {
  position: absolute;
  top: 12%;
  left: 3%;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
  color: #C98865;
  font-weight: bold;
  /*border    : 1px solid red;*/
}

div.diysplashblock>p {
  position: relative;
  color: black;
  margin-top: 3%;
  font-size: 1.5em;
  padding: 0% 2%;
}

/*=====  End of Diy Splash Page Block  ======*/
/*=================================
    =            Diy Block            =
    =================================*/
div.diyblock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height   : 100%;*/
  /*border : 1px solid red;*/
}

div.diyblock>div.diySmall {
  position: relative;
  top: 0%;
  width: 100%;
  height: 17%;
  /* you can change the height according to need */
  /*border   : 1px solid red;*/
}

div.diyblock>div.diySmall>figure {
  position: relative;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  /*border : 1px solid red;*/
}

div.diyblock>div.diySmall>figure>img {
  position: relative;
  width: 60%;
  /*border : 1px solid red;*/
}

div.diyblock>div.diySmall>figure>figcaption {
  position: absolute;
  top: 5%;
  left: 24%;
  width: 53%;
  font-size: 0.8em;
  color: #C98865;
  /*border:1px solid red;*/
}

div.diyblock>div.diySmall>p {
  position: absolute;
  top: 2%;
  right: 0%;
  width: 82%;
  padding: 1% 1%;
  font-size: 1.1em;
  text-align: left;
  border: 2px solid #DB9E36;
  border-radius: 4px 4px 4px 4px;
  background-color: #FFD34E;
  color: #BD4932;
}

/*=====  End of general template layout  ======*/
/*====================================
=            Custom Style            =
====================================*/
img.kclstyle {
  width: 70%;
}

.valancehighlight:nth-of-type(1) {
  color: #F2148F;
}

.valancehighlight:nth-of-type(2) {
  border: 2px dotted #AF2E38;
}

.valancehighlightcl:nth-of-type(1) {
  border: 2px dotted #AF2E38;
}

.valancehighlightcl:nth-of-type(2) {
  color: #F2148F;
}

/*=====  End of Custom Style  ======*/
/* hover to describe content */
div.hovertodescribeblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

div.hovercontents {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  border: 1px solid red;
}

div.hovercontents img.mainimage {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
}

div.hovercontents div[class^=lever] {
  position: absolute;
  top: 60%;
  left: 10%;
  height: 2%;
  width: 80%;
}

div.hovercontents div[class^=lever] div.loadarm {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 50%;
  opacity: 0.5;
  background-color: blue;
}

div.hovercontents div[class^=lever] div.effortarm {
  position: absolute;
  top: 0%;
  left: 10%;
  left: 50%;
  height: 100%;
  width: 50%;
  opacity: 0.5;
  background-color: brown;
}

div.hovercontents div.lever1 {
  top: 40%;
  -ms-transform: rotate(12deg);
  /* IE 9 */
  -webkit-transform: rotate(12deg);
  /* Chrome, Safari, Opera */
  transform: rotate(12deg);
}

div.hovercontents div.lever2 {
  top: 37%;
  -ms-transform: rotate(-18deg);
  /* IE 9 */
  -webkit-transform: rotate(-18deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-18deg);
}

div.hovercontents div.fulcrum {
  position: absolute;
  top: 38.5%;
  left: 47%;
  width: 5%;
  height: 4%;
  border-radius: 50%;
  opacity: 0.5;
  border: 3px solid red;
}

div.hovercontents label {
  position: absolute;
  font-size: 1.2em;
  color: black;
  cursor: pointer;
}

div.hovercontents label.labelfulcrum {
  top: 25%;
  left: 41%;
}

div.hovercontents label.labeleffort {
  top: 36%;
  right: 5%;
}

div.hovercontents label.labeleffortarm {
  top: 57%;
  left: 12%;
}

div.hovercontents label.labelload {
  top: 38%;
  left: 17%;
}

div.hovercontents label.labelloadarm {
  top: 56%;
  left: 50%;
}

div.discriptioncontents {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  border: 1px solid green;
}

div.discriptioncontents h3.discriptionheading {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 2%;
  font-weight: bold;
  border: 1px solid green;
}

div.discriptioncontents p.leverpartheading {
  position: relative;
  top: 0%;
  left: 0%;
  padding: 2%;
  font-size: 1.3em;
  text-align: left;
  border: 1px solid green;
}

/*personal style*/
.headingstylewithunderline {
  position: absolute;
  left: 15%;
  margin-top: 25%;
  font-size: 3em;
  width: 20%;
  text-align: center;
  /* opacity: 0; */
  border-bottom: 3px solid #fff;
}

@keyframes borderline {
  100% {
    border-bottom: 3px solid #F8735D;
  }
}

@-moz-keyframes borderline {
  100% {
    border-bottom: 3px solid #F8735D;
  }
}

@-webkit-keyframes borderline {
  100% {
    border-bottom: 3px solid #F8735D;
  }
}

.underlineanim {
  animation: borderline 1s linear 1.5s 1 forwards;
  -webkit-animation: borderline 1s linear 1.5s 1 forwards;
  -moz-animation: borderline 1s linear 1.5s 1 forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cssfadein {
  animation: fadein 1s linear 0.5s 1 forwards;
  -webkit-animation: fadein 1s linear 0.5s 1 forwards;
  -moz-animation: fadein 1s linear 0.5s 1 forwards;
}

.cssfadein2 {
  animation: fadein 1s linear 2s 1 forwards;
  -webkit-animation: fadein 1s linear 2s 1 forwards;
  -moz-animation: fadein 1s linear 2s 1 forwards;
}

.cssfadein3 {
  animation: fadein 1s linear 3s 1 forwards;
  -webkit-animation: fadein 1s linear 3s 1 forwards;
  -moz-animation: fadein 1s linear 3s 1 forwards;
}

.heartbig {
  position: absolute;
  width: 25%;
  margin-top: 10%;
  right: 20%;
  opacity: 0;
}

.label1 {
  position: absolute;
  margin-top: 38%;
  left: 49%;
  font-size: 1.2em;
  width: 20%;
  font-style: italic;
}

.middleimgstyle {
  position: relative;
  margin-top: 1%;
  width: 45%;
}

.middleimgstyle2 {
  position: relative;
  margin-top: 0%;
  width: 35%;
  left: -15%;
}

.bottomtext {
  position: relative;
  width: 85%;
  left: 8%;
  background: #DDDDFF;
  padding: 2%;
  font-size: 1.2em;
  display: table;
  opacity: 0;
}

.bigheadingmodified {
  display: table;
  margin: 0px auto;
  position: absolute;
  padding: 1%;
  font-size: 1.6em;
  font-weight: bold;
  width: 47%;
  text-align: left;
  border-bottom: 4px solid #F8735D;
  left: 0;
}

.bigheadingmodified2 {
  display: table;
  margin: 0px auto;
  position: absolute;
  padding: 1%;
  font-size: 1.6em;
  font-weight: bold;
  width: 70%;
  text-align: left;
  border-bottom: 4px solid #fff;
  left: 0;
}

.sidepara1 {
  position: absolute;
  left: 0;
  margin-top: 2%;
  width: 80%;
  font-size: 1.2em;
  opacity: 0;
}

.sidepara2 {
  position: absolute;
  left: 5%;
  margin-top: 45%;
  width: 90%;
  font-size: 1.2em;
  opacity: 0;
}

.sidepara3 {
  position: absolute;
  right: 0%;
  margin-top: 4%;
  width: 35%;
  font-size: 1.2em;
  background: #FCFCFC;
  padding: 2%;
  opacity: 0;
}

.label2 {
  position: relative;
  margin-top: 30%;
  left: 12%;
  opacity: 0;
  width: 15%;
}

.label3 {
  position: relative;
  margin-top: 25%;
  right: 35%;
  opacity: 0;
  width: 15%;
}

.label4 {
  position: absolute;
  margin-top: 7%;
  left: 45%;
  width: 15%;
  opacity: 0;
}

.heartlabel1 {
  position: relative;
  margin-top: 27%;
  left: 13%;
  width: 15%;
  opacity: 0;
}

.heartlabel2 {
  position: relative;
  margin-top: 35%;
  left: 13%;
  opacity: 0;
  width: 15%;
}

.heartlabel3 {
  position: relative;
  margin-top: 22%;
  right: 13%;
  opacity: 0;
  width: 15%;
}

.heartlabel4 {
  position: relative;
  margin-top: 31%;
  right: 13%;
  opacity: 0;
  width: 15%;
}

.heartlabel1_1 {
  position: relative;
  margin-top: 24%;
  left: 11%;
  width: 15%;
  opacity: 0;
}

.heartlabel2_1 {
  position: relative;
  margin-top: 35%;
  left: 12%;
  opacity: 0;
  width: 15%;
}

.heartlabel3_1 {
  position: relative;
  margin-top: 24%;
  right: 13%;
  opacity: 0;
  width: 15%;
}

.hearttop1 {
  position: absolute;
  margin-top: 2%;
  left: 45%;
  width: 15%;
  opacity: 0;
}

.heartbottom2 {
  position: absolute;
  margin-top: 47%;
  left: 45%;
  opacity: 0;
  width: 15%;
}

.heartright {
  position: absolute;
  margin-top: 32%;
  left: 11%;
  width: 15%;
  opacity: 0;
}

.heartleft {
  position: absolute;
  margin-top: 26%;
  right: 12%;
  width: 15%;
  opacity: 0;
}

.heartseptum {
  position: absolute;
  margin-top: 34%;
  right: 15%;
  width: 15%;
  opacity: 0;
}

.diyquestion {
  position: relative;
  margin-top: 13%;
  width: 100%;
  font-size: 1.2em;
}

.middlediyimg {
  position: absolute;
  margin-top: 0%;
  width: 20%;
  left: 40%;
}

.diyanswer1 {
  display: table;
  position: absolute;
  margin-top: 33%;
  left: 10%;
  width: 20%;
  padding: 1%;
  cursor: pointer;
  background: #EAEBFF;
  -webkit-box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
  -moz-box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
  box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
  border-radius: 8px;
}

.diyanswer2 {
  display: table;
  position: absolute;
  margin-top: 33%;
  left: 40%;
  width: 20%;
  cursor: pointer;
  padding: 1%;
  background: #EAEBFF;
  -webkit-box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
  -moz-box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
  border-radius: 8px;
  box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
}

.diyanswer3 {
  display: table;
  position: absolute;
  margin-top: 33%;
  left: 70%;
  width: 20%;
  cursor: pointer;
  padding: 1%;
  background: #EAEBFF;
  -webkit-box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
  -moz-box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
  border-radius: 8px;
  box-shadow: 2px 0px 6px -2px rgba(82, 80, 82, 1);
}

.incorrect {
  background: #F8735D;
  color: #fff;
}

.correct {
  color: #fff;
  background: #8FC557;
  display:
}

.bottompara {
  position: absolute;
  margin-top: 45%;
  width: 85%;
  left: 7%;
  padding: 2%;
  border-radius: 8px;
  background: #D3EDFA;
  opacity: 0;
  font-size: 1.2em;
}

.bottompara2 {
  position: absolute;
  margin-top: 42%;
  width: 85%;
  left: 7%;
  padding: 2%;
  border-radius: 8px;
  background: #D3EDFA;
  /*opacity: 0;*/
  font-size: 1.3em;
}

.wheelbarrow {
  position: absolute;
  margin-top: 10%;
  left: 23%;
  width: 60%;
  opacity: 0;
}

.wheelbarrow2 {
  position: absolute;
  margin-top: 20%;
  left: 30%;
  width: 40%;
  /*opacity: 0;*/
}

.quespara {
  position: absolute;
  margin-top: 8%;
  width: 100%;
  opacity: 0;
}

/*inputblock css starts*/
div.selectblock {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border : 1px solid red;*/
}

div.selectblock option {
  width: 100%;
  background: #f3f8f8;
}

/*inputblock css ends*/
.effortinput {
  position: absolute;
  margin-top: 15%;
  left: 50%;
  width: 15%;
  opacity: 0;
  padding: 0.8%;
  background: #EAEBFF;
  border-bottom-color: #00849B;
  border-right-color: #FE7D1F;
  box-shadow: 1px 1px 5px #e2e2e2;
}

.fulcruminput {
  position: absolute;
  margin-top: 35%;
  opacity: 0;
  right: 15%;
  width: 15%;
  padding: 0.8%;
  background: #EAEBFF;
  border-bottom-color: #00849B;
  border-right-color: #FE7D1F;
  box-shadow: 1px 1px 5px #e2e2e2;
}

.loadinput {
  position: absolute;
  margin-top: 31%;
  opacity: 0;
  left: 25%;
  width: 15%;
  padding: 0.8%;
  background: #EAEBFF;
  border-bottom-color: #00849B;
  border-right-color: #FE7D1F;
  box-shadow: 1px 1px 5px #e2e2e2;
}

.correct {
  background: #D1F2AE !important;
  color: #000 !important;
}

.incorrect {
  background: #FFC5AC !important;
  color: #000 !important;
}

@keyframes widthchange {
  to {
    width: 50%;
  }
}

@-moz-keyframes widthchange {
  to {
    width: 50%;
  }
}

@-webkit-keyframes widthchange {
  to {
    width: 50%;
  }
}

.widthchangeanim {
  animation: widthchange 1s linear 0.5s 1 forwards;
  -webkit-animation: widthchange 1s linear 0.5s 1 forwards;
  -moz-animation: widthchange 1s linear 0.5s 1 forwards;
}

.side1 {
  position: absolute;
  left: 30%;
}

@keyframes positionchange {
  to {
    left: 0%;
  }
}

@-moz-keyframes positionchange {
  to {
    left: 0%;
  }
}

@-webkit-keyframes positionchange {
  to {
    left: 0%;
  }
}

.positionchangeanim {
  animation: positionchange 1s linear 0.5s 1 forwards;
  -webkit-animation: positionchange 1s linear 0.5s 1 forwards;
  -moz-animation: positionchange 1s linear 0.5s 1 forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.cssfadeout {
  animation: fadeout 0.5s linear 0.3s 1 forwards;
  -webkit-animation: fadeout 0.5s linear 0.3s 1 forwards;
  -moz-animation: fadeout 0.5s linear 0.3s 1 forwards;
}

.greenhighlight {
  color: #8FC557;
  font-size: 1.2em;
  font-weight: bold;
}

.side2 {
  position: absolute;
  opacity: 0;
}

.mainimage {
  width: 30%;
}

/*wep css starts*/
.bluebackground {
  background: #181844;
}

.colorbackground {
  background: #FFEFCE;
}

.fullbg {
  position: absolute;
  width: 78%;
  margin-top: 0%;
  left: 10%;
}

.frontheadingstyle {
  position: absolute;
  /*color: #fff;*/
  z-index: 9999;
  font-size: 3em;
  margin-top: 16%;
  left: 5%;
  width: 30%;
  font-weight: bolder;
  z-index: 9999;
}

@keyframes suttlemovement {
  0% {
    margin-top: 18%;
  }

  50% {
    margin-top: 20%;
  }

  100% {
    opacity: 18%;
  }
}

@-moz-keyframes suttlemovement {
  0% {
    margin-top: 18%;
  }

  50% {
    margin-top: 20%;
  }

  100% {
    opacity: 18%;
  }
}

@-webkit-keyframes suttlemovement {
  0% {
    margin-top: 18%;
  }

  50% {
    margin-top: 20%;
  }

  100% {
    opacity: 18%;
  }
}

.csssuttlemovement {
  animation: suttlemovement 2s linear 0.3s infinite;
  -webkit-animation: suttlemovement 2s linear 0.3s infinite;
  -moz-animation: suttlemovement 2s linear 0.3s infinite;
}

.bigfont {
  font-size: 1.4em;
  color: #E12069;
}

.levertypeimgstyle {
  position: absolute;
  width: 40%;
  left: 30%;
}

.formula1 {
  position: absolute;
  margin-top: 12%;
  left: 33%;
  width: 15%;
  font-size: 1.4em;
  font-weight: bold;
  opacity: 0;
}

.formula2 {
  position: absolute;
  margin-top: 10%;
  left: 48%;
  width: 12%;
  font-size: 1.4em;
  font-weight: bold;
  opacity: 0;
  border-bottom: 2px solid;
}

.formula3 {
  position: absolute;
  margin-top: 15%;
  left: 48%;
  width: 12%;
  font-weight: bold;
  opacity: 0;
  font-size: 1.4em;
}

.formulainstrust {
  position: absolute;
  margin-top: 25%;
  left: 35%;
  width: 30%;
  opacity: 0;
  font-size: 1.4em;
}

.formula4 {
  position: absolute;
  margin-top: 36%;
  left: 0%;
  font-size: 1.3em;
  width: 55%;
  opacity: 0;
}

.formula5 {
  position: absolute;
  margin-top: 45%;
  left: 0%;
  width: 50%;
  opacity: 0;
  font-size: 1.3em;
}

.formula6 {
  position: absolute;
  margin-top: 52%;
  left: 24%;
  width: 20%;
  opacity: 0;
  font-size: 1.3em;
}

.formula7 {
  position: absolute;
  margin-top: 52%;
  right: 41%;
  width: 20%;
  opacity: 0;
  font-size: 1.3em;
}

.formula8 {
  position: absolute;
  margin-top: 52%;
  right: 26%;
  width: 20%;
  opacity: 0;
  font-size: 1.3em;
}

.formula_1 {
  position: absolute;
  margin-top: 0%;
  left: 5%;
  width: 15%;
  font-size: 1.4em;
  font-weight: bold;
  opacity: 0;
}

.formula_2 {
  position: absolute;
  margin-top: 5%;
  left: 25%;
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.formula_3 {
  position: absolute;
  margin-top: 5%;
  left: 41%;
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.formula_4 {
  position: absolute;
  margin-top: 15%;
  left: 25%;
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.formula_5 {
  position: absolute;
  margin-top: 15%;
  left: 44%;
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.formula_6 {
  position: absolute;
  margin-top: 25%;
  left: 25%;
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.formula_7 {
  position: absolute;
  margin-top: 25%;
  left: 47%;
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

@keyframes borderanim {
  0% {
    border-top: 2px solid #000;
  }

  50% {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }

  100% {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
  }
}

@-moz-keyframes borderanim {
  0% {
    border-top: 2px solid #000;
  }

  50% {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }

  100% {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
  }
}

@-webkit-keyframes borderanim {
  0% {
    border-top: 2px solid #000;
  }

  50% {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }

  100% {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
  }
}

.cssborderanim {
  animation: borderanim 0.5s ease-in 1s 1 forwards;
  -webkit-animation: borderanim 0.5s ease-in 1s 1 forwards;
  -moz-animation: borderanim 0.5s ease-in 1s 1 forwards;
}

.cssborderanim2 {
  animation: borderanim 1s ease-in 2s 1 forwards;
  -webkit-animation: borderanim 1s ease-in 2s 1 forwards;
  -moz-animation: borderanim 1s ease-in 2s 1 forwards;
}

.cssborderanim3 {
  animation: borderanim 1s ease-in 3s 1 forwards;
  -webkit-animation: borderanim 1s ease-in 3s 1 forwards;
  -moz-animation: borderanim 1s ease-in 3s 1 forwards;
}

@keyframes borderanimagain {
  0% {
    border-left: 2px solid #000;
  }

  50% {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
  }

  100% {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
  }
}

@-moz-keyframes borderanimagain {
  0% {
    border-left: 2px solid #000;
  }

  50% {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
  }

  100% {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
  }
}

@-webkit-keyframes borderanimagain {
  0% {
    border-left: 2px solid #000;
  }

  50% {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
  }

  100% {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
  }
}

.cssborderanimagain {
  animation: borderanimagain 1s ease-in 0.5s 1 forwards;
  -webkit-animation: borderanimagain 1s ease-in 0.5s 1 forwards;
  -moz-animation: borderanimagain 1s ease-in 0.5s 1 forwards;
}

.cssborderanimagain2 {
  animation: borderanimagain 1s ease-in 1.5s 1 forwards;
  -webkit-animation: borderanimagain 1s ease-in 1.5s 1 forwards;
  -moz-animation: borderanimagain 1s ease-in 1.5s 1 forwards;
}

.cssborderanimagain3 {
  animation: borderanimagain 1s ease-in 2.5s 1 forwards;
  -webkit-animation: borderanimagain 1s ease-in 2.5s 1 forwards;
  -moz-animation: borderanimagain 1s ease-in 2.5s 1 forwards;
}

.formulainstrust2 {
  position: absolute;
  margin-top: 37%;
  font-size: 1.2em;
  width: 100%;
  left: 0;
  opacity: 0;
}

.para1 {
  position: absolute;
  margin-top: 5%;
  width: 40%;
  left: 0%;
  font-size: 1.2em;
  background: #F9ECBF;
  padding: 1%;
  opacity: 0;
}

.para2 {
  position: absolute;
  margin-top: 5%;
  width: 45%;
  right: 0%;
  font-size: 1.2em;
  padding: 1%;
  background: #E1FDEF;
  opacity: 0;
}

.para3 {
  position: absolute;
  margin-top: 20%;
  width: 50%;
  right: 25%;
  font-size: 1.2em;
  padding: 1%;
  background: #FFC5AC;
  opacity: 0;
}

.para4 {
  position: absolute;
  margin-top: 35%;
  width: 100%;
  font-size: 1.2em;
  left: 0%;
  padding: 1%;
  background: #EAEBFF;
  opacity: 0;
}

@media (min-aspect-ratio:4/3) {

  .formula1, .formula2, .formula3,
  .formula4, .formula5, .formula6,
  .formula7, .formula8,
  .formula_1, .formula_2, .formula_3,
  .formula_4, .formula_5, .formula_6,
  .formula_7, .formulainstrust {
    font-size: 2.9vh;
  }
}

@media (max-aspect-ratio:4/3) {

  .formula1, .formula2, .formula3,
  .formula4, .formula5, .formula6,
  .formula7, .formula8,
  .formula_1, .formula_2, .formula_3,
  .formula_4, .formula_5, .formula_6,
  .formula_7, .formulainstrust {
    font-size: 2vw;
  }
}

/*wep css ends*/
