/*
	TODO: let us remove this
*/

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p {
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.chapter{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}
.chapter .chapter *{
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}


.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}
.contentblock {
	height: 100%;
	width: 100%;
}

.chapter-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

/*********** SPECIFIC CSS ***********/
.uppertextblock {
    position: absolute;
    top: 3%;
    height: 10%;
    width: 100%;
    font-family: sniglet;
}
.draggableblock {
    padding: 10px;
    text-align: left;
    position: absolute;
    top: 10%;
    height: 40%;
    /*border: 1px solid purple;*/
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: white;
}
.draggableblock .number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 19%;
    height: 23%;
    border: 2px solid #BB7EC4;
    border-radius: 10px;
    background-color: #BB7EC4;
    z-index: 10;
    cursor: pointer;
}
.droppableblock {
    /*border: 1px solid red;*/
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.droppableblock div {
    position: relative;
    width: 32%;
    height: 90%;
    /*border: 1px solid green;*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 1.5em;
}
.droppableblock div:nth-child(1) {
    background-image: url('../images/balloon01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.droppableblock div:nth-child(3) {
    background-image: url('../images/balloon02.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/

	.uppertextblock{
    font-size: 3.8vh;
	}
	.ya{
		font-size: 4vh;
	}
	.yo{
		font-size: 4vh;
	}
}
.ya {
    left: 22.5%;
    position: absolute;
    top: 74%;
    color: white;
}
.yo {
    left: 73%;
    position: absolute;
    top: 74%;
    color: white;
}


.numberblock {
    position: absolute;
    width: 50%;
    height: 40%;
    /*border: 1px solid black;*/
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
}
.numberblock .number {
    position: absolute;
    top: 20%;
    left: 53%;
    transform: translateX(-50%);
    font-size: 7em;
}
.numberblock .number-label {
    font-size: 2em;
    right: 2%;
    position: absolute;
}
.numberblock .digitborder {
  position: absolute;
  width: 17%;
  height: 65%;
  border: 4px solid #93c47d;
  border-radius: 12px;
  top: 23%;
  right: -2%;
  text-align: justify;
}
.definitionblock {
    position: absolute;
    top: 70%;
    padding: 7px;
    border-radius: 10px;
    left: 10%;
		width: 80%;
    text-align: center;
    border: 3px solid #9fc5e8;
    background-color: #ffe599;
}
@media screen and (min-aspect-ratio: 4/3) {
    /*vh*/

    .definitionblock{
    font-size: 4vh;
    }
}
