/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#cell4
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
	background-image: url("image/bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#cell4 *{
	margin:0;
	padding:0;	
	/*font-family: serif;*/
}

/*------------------------------------------------------------------------------------------*/

#envPlant > p{
	font-size: 1.3em;	
	
}

#envPlant > p:nth-of-type(1){
	position: absolute;
	text-align: center;
	width:100%;
	top:4%;
	color: darkblue;
}

#envPlant > p:nth-of-type(2){
	display: none;
	position: absolute;
	text-align: right;
	left: 45%;
	top:18%;
	width:50%;
	color:darkgreen;
}

#envPlant{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
}

#envP{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	
}

#plant{
	position: absolute;
	top:55%;
	left:45%;
	width:15%;
	cursor:pointer;
}

#flower, #flowerGrow{
	display: none;
	position: absolute;
	top:15%;
	left:30%;
	width: 40%;
	/*border:1px solid red;*/
}

/*only ful*/
#ful{
	display: none;
	position: absolute;
	top:15%;
	left:12%;
	width: 17%;
}

/*trunk*/
#trunk{
	display: none;
	position: absolute;
	top:42%;
	left:18%;
	width: 2.5%;
}

/*leaf*/
#leaf{
	display: none;
	position: absolute;
	top:55%;
	left:2%;
	width: 15%;
}

/*root*/
#root{
	display: none;
	position: absolute;
	top:83%;
	left:3%;
	width: 30%;
}

/*labels*/
#envPlant > b{
	display: none;
	position: absolute;
	font-size:1.3em;
}
/*flower*/
#envPlant > b:nth-of-type(1){	
	top:69%;
	left:87%;
}
/*leaf*/
#envPlant > b:nth-of-type(2){	
	top:74%;
	left:74%;
}
/*trunk*/
#envPlant > b:nth-of-type(3){	
	top:63%;
	left:52%;
}
/*root*/
#envPlant > b:nth-of-type(4){	
	top:90%;
	left:91%;
}