<script type="text/javascript">
    $cssLoader("exercise/css/exercise.css");
</script>

<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
        {{! content block starts--}}
        <div class="contentblock {{contentblockadditionalclass}}">
            {{#each imageblock}}
            {{#each imagestoshow}}
            <div class="{{imgdiv}}">
                <img src="" class="{{imgclass}}"/>
                {{#if text}}
                <p class="{{textclass}}">{{{textdata}}}</p>
                {{/if}}
            </div>
            {{/each}}
            {{/each}}



            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}" data-answer="{{ans}}" >
                {{#each uppertextblock}}
                <p class="{{textclass}}"  data-highlight="{{datahighlightflag}}"
                   data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
                {{/each}}
            </div>
            {{/if}}

            {{#if exetype1}}
              {{#each extratext}}
                <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
              {{/each}}
              {{#each exetype1}}
                  <div class="{{optionsdivclass}}">
                    {{#each exeoptions}}
                        <div class="optionscontainer {{optcontainerextra}}">
                            <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>
<!--
                            <img src="images/correct.png" class="imagestartpos tick {{startposextra}} corctopt">

                            <img src="images/wrong.png" class="imagestartpos tick {{startposextra}} wrngopt"> -->
                        </div>
                    {{/each}}
                  </div>
              {{/each}}
             {{/if}}

             {{#if draggableblock}}
     					<div class="{{draggableblockadditionalclass}}">
     						{{#each draggableblock}}
     							<p class="{{divclass}}">
     								{{{textdata}}}
     							</p>
     						{{/each}}
     					</div>
     				{{/if}}


            {{#if textblock}}
            {{#each textblock}}
            <div class="{{textdiv}}" data-answer="{{ans}}">
                <p class="{{textclass}}"  data-highlight="{{datahighlightflag}}"
                   data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<script type="text/javascript">
    $jsLoader("exercise/js/exercise.js");
</script>
