<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/gradient.css");
    $cssLoader("css/page1.css");
    $cssLoader("css/bill.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="lesson_body">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock {{headerblockadditionalclass}}">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull {{coverboardadditionalclass}}">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if uppertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if uppertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if imageblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if imageblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            <!-- custom elements -->
            {{#each imagetextblock}}
                <div class="{{imagediv}}">
                	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
                	<img class="{{imgclass}}" src="{{imgsrc}}">
            	</div>
            {{/each}}
            {{#each extratextblock}}
            	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            {{/each}}
            
        	{{#each infolabel}}
	    		<div class = "{{inputclass}}">
	        		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
	        		<input type="text" value='{{{infolabeldata}}}' class='{{infolabelclass}}' maxlength='15'/>
	        	</div>
            {{/each}}
            
            {{#if bill_item}}
            	{{#each bill_item}}
            		<div class="bill_container {{bill_container}}">
            			<div class="bill_header">
            				<img src="shop_logo" class="shop_logo_class" />
            				<div class="shop_name_div">
            					<p class="shop_name">{{{shop_name}}}</p>
            					<p class="shop_address">{{{shop_address}}}</p>
            				</div>
            			</div>
            			<div class="bill_customer">
            				<div class="customer_name_div">
            					<p><span>Name: </span><span class="handwritten customer_name">{{customer_name}}</span></p>
            					<p><span>Address: </span><span class="handwritten customer_address">{{customer_address}}</span></p>
            				</div>
            				<div class="bill_number_div">
            					<p><span>Bill no: </span><span class="handwritten customer_bill">{{customer_bill}}</span></p>
            					<p><span>Date: </span><span class="handwritten customer_date">{{customer_date}}</span></p>
            				</div>
            			</div>
            			<div class="bill_body">
            				<table class="bill_table">
								<tr class="bill_table_header {{bill_table_header}}">
									<th>SN</th>
								    <th>Particulars</th>
								    <th>Qty</th>
								    <th>Rate</th>
								    <th>Amt</th>
								</tr>
								<tr class="total_amount_row">
									<td colspan="4">Total</td>
								    <td class="total_amount_data">94</td>
								</tr>
							</table> 
            			</div>
            			<div class="bill_footer">
            				<img src="{{signature}}" class="signature_shopkeeper" />
            				<p><span>For: </span><span class="shopkeeper_name">{{shopkeeper_name}}</span></p>
            			</div>
            		</div>
                {{/each}}
            {{/if}}
            <!-- custom elements ends-->
            {{#if lowertextblock}}
            <div class="{{lowertextblockadditionalclass}}">
                {{#if lowerblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if lowerblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}} 
            {{#if basketblock}}
            <div class="{{basketblockadditionalclass}}">
                {{#each basketblock}}
                    <img class="{{imgclass}}" src="{{imgsrc}}">
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="scriptfunc" type="text/x-handlebars-template">
    {{#if scriptblock}}
		{{#each scriptblock}}
			{{{scriptfunc}}}
		{{/each}}
    {{/if}}
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">    
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>


<!-- js loader starts -->
<script type="text/javascript" src="js/ole.index.js" defer></script>
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/bill.js");
    $jsLoader("js/page1.js");
</script>