.contentblock{
	background: radial-gradient(#EECEE0, #B896A6);
}
.exerciseblock {
    margin-top: -6% !important;
}

.main-container {
    position: absolute !important;
    width: 26%;
    height: 50%;
}
.option-label:hover{
	opacity: .7;
}
.question{
	text-shadow: .1em .1em .1em rgba(0,0,0,.1);
	color: white;
}
@media (min-aspect-ratio: 4/3){
	.question{
		font-size: 5vmin;
	}
}
div.contentblock {
    top: 0%;
    height: 100%;
    width: 100%;
}
.option-container {
    height: 37%;
    width: 100%;
}
.option-container p{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	font-size: 3vw;
	padding: 10%;
}
.option-label {
	width: 100%;
	height: 100%;
}

.instruction {
	position: absolute !important;
	text-align: center;
	font-size: 2.8vw;
	width: 100%;
	top: 25% !important;;
	background: #CFE2F3 !important;;
}
