.weatherclimate {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.weatherclimate, .weatherclimate * {
	position: relative;
	margin: 0;
	padding: 0;
}

.weatherclimate .nextBtn{
	display: none;
	z-index: 10;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.weatherclimate .prevBtn{
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.weatherclimate .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/*+++++++++++++++++++++*/

.wrapperMain.change {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wrapperMain.change .title {
	font-size: 1.3em;
	padding-top: 3%;
	text-align: center;
}

.wrapperMain.change .imgHolder {
	width: 29%;
	padding: 10px;
	margin-left: 5%;
	display: inline-block;
}

.wrapperMain.change .imgHolder img {
	width: 100%;
}

.wrapperMain.change .desc {
	display: inline-block;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 80%;
}

.wrapperMain.change .desc .text0 {
	position: absolute;
	width: 65%;
	top: 20%;
	right: 0;
	padding: 1%;
	padding-right: 3%;
	text-align: justify;
}

.wrapperMain.change .desc .text1 {
	position: absolute;
	width: 90%;
	bottom: 2%;
	right: 5%;
	padding: 10px;
	text-align: justify;
}

.wrapperMain.change .desc .text2 {
	position: absolute;
	width: 90%;
	bottom: -9%;
	text-align: center;
	font-style: italic;
	color: #196168;

}

.wrapperEffects {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wrapperEffects>.title {
	text-align: center;
	padding-top: 1%;
	padding-bottom: 0.2%;
	font-size: 1.3em;
}

.wrapperEffects .effects {
	text-align: center;
}

.wrapperEffects .effects > div{
	width: 45%;
	margin: 1%;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.wrapperEffects .effects > div>img {
	width: 100%;
}

.wrapperEffects .effects > div>.texts {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
}

.wrapperEffects .effects > div>.texts>.title {
	font-size: 1.3em;
	background: rgba(0,0,0,0.5);
}

.wrapperEffects .effects > div>.texts>.desc {
	/*top: 10%;*/
	text-align: justify;
	width: 100%;
	height: 90%;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	display: none;
	/*font-size: 1.3em;*/
}

.wrapperMain .reduce {
	width: 100%;
	height: 100%;
}

.wrapperMain.reduce .title {
	text-align: center;
	font-size: 1.3em;
	padding-top: 3%;
	padding-bottom: 3%;
}

.wrapperMain.reduce .desc {
	width: 65%;
	display: inline-block;
	padding-left: 2%;
	text-align: justify;
}

.wrapperMain.reduce .desc .text0,
.wrapperMain.reduce .desc .text2,
.wrapperMain.reduce .desc .text4,
.wrapperMain.reduce .desc .text6 {
	font-size: 1.3em;
	color: #B36EA8;

}

.wrapperMain.reduce .desc .text1,
.wrapperMain.reduce .desc .text3,
.wrapperMain.reduce .desc .text5,
.wrapperMain.reduce .desc .text7 {
	margin-bottom: 5%;

}

.wrapperMain.reduce .imgHolder {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
}

.wrapperMain.reduce .imgHolder img {
	width: 100%;
}


.wrapperReduce>.title {
	text-align: center;
	padding-top: 2%;
	margin-bottom: 2%;
	font-size: 1.3em;
}

.wrapperReduce .reduced {
	text-align: center;
}

.wrapperReduce .reduced >div {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	margin: 1%;
}

.wrapperReduce .reduced >div img {
	width: 100%;
	margin-bottom: 1%;
}

.wrapperReduce .reduced >div>.title {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	background: rgba(254,254,254,0.7);
	font-size: 1.3em;
	color: #000;
	/*padding-top: 1%;*/
}

.wrapperReduce .reduced .desc1 {
	display: block;
	margin-top: 2%;
	font-style: italic;
	color: #196168;
}
