.weatherclimate {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.weatherclimate, .weatherclimate * {
	position: relative;
	margin: 0;
	padding: 0;
}

.weatherclimate .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.weatherclimate .prevBtn{
	/*display: none;*/
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.weatherclimate .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/*********
*****activity specific******
******************/

.weatherclimate .board .wrapperFirst {
	background: #E2DED2;
	width: 100%;
	height: 100%;
	padding-top: 15%;
	background: #1e69de; /* Old browsers */
	background: -moz-linear-gradient(top, #1e69de 0%, #3690f0 41%, #54a3ee 67%, #6db3f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e69de), color-stop(41%,#3690f0), color-stop(67%,#54a3ee), color-stop(100%,#6db3f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e69de 0%,#3690f0 41%,#54a3ee 67%,#6db3f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e69de 0%,#3690f0 41%,#54a3ee 67%,#6db3f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e69de 0%,#3690f0 41%,#54a3ee 67%,#6db3f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e69de 0%,#3690f0 41%,#54a3ee 67%,#6db3f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=0 ); /* IE6-9 */
}

.weatherclimate .board .wrapperFirst .introTitle{
	background: #E2DED2;
	width: 70%;
	margin: auto;
	padding: 10% 0% 15% 6%;
	text-align: center;
	color: #4F9A45;
	font-size: 2.5em;
	border-radius: 10px;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #AFAFAF;
}

.weatherclimate .board .wrapperFirst img {
	position: absolute;
}

.weatherclimate .board .wrapperFirst .tornado {
	top: 15%;
	left: -10%;
	width: 30%;
	transform : rotate(-10deg);
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #AFAFAF;
	border-radius: 10px;
}

.weatherclimate .board .wrapperFirst .cloud {
	top: -15%;
	right: -10%;
	width: 30%;
}

.weatherclimate .board .wrapperFirst .weathercock {
	bottom: -35%;
	right: 35%;
	width: 30%;
}

.weatherclimate .board .wrapperSecond {
	width: 100%;
	height: 100%;
}

.weatherclimate .board .wrapperSecond .topTitle {
	height: 5%;
	text-align: center;
	font-size: 1.3em;
}

.weatherclimate .board .wrapperSecond .imgHolder {
	width: 100%;
	height: 95%;
	text-align: center;
	/*background: #282828;*/
}

.weatherclimate .board .wrapperSecond .imgHolder span img {
	width: 80%;
	margin-left: 10%;
	text-align: center;
	display: block;
	background: #282828;
}

.weatherclimate .board .wrapperSecond .imgHolder span.clickables {
	display: inline-block;
	/*position: absolute;*/
	width: 27%;
	margin: 1%;
	margin-top: 0.5%;
	font-size: 1.3em;
	/*cursor: pointer;*/
	text-align: center;
}

.weatherclimate .board .wrapperSecond .imgHolder span.clickables span {
	position: relative;
	display: block;
	bottom: 0;
	left: 0;
	color: #000;
	/*background: rgba(0,0,0,0.5);*/
	width: 100%;
}

.weatherclimate .board div.wrapperThird{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgb(215,248,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(215,248,255,1) 0%, rgba(240,249,255,1) 86%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,248,255,1)), color-stop(86%,rgba(240,249,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f8ff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
	background-size: 100%;
}

.weatherclimate .board div.wrapperThird > .weathertext0{
	position: relative;
	padding-top:10%;
	left:10%;
	width: 80%;
	font-size: 1.1em;
}

.weatherclimate .board div.wrapperThird > .weathertext1,
.weatherclimate .board div.wrapperThird > .weathertext2{
	position: relative;
	padding-top:2%;
	left:10%;
	width: 80%;
	font-size: 1.1em;
	display: none;
}
.weatherclimate .board div.wrapperThird>ul {
	left: 20%;
	list-style: circle;
	display: none;
}

/*components*/
.weatherclimate .board div.componentsIntro {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgb(215,248,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(215,248,255,1) 0%, rgba(240,249,255,1) 86%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,248,255,1)), color-stop(86%,rgba(240,249,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f8ff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
	background-size: 100%;
}

.weatherclimate .board div.componentsIntro p:nth-of-type(1){
	position: relative;
	top:20%;
	left: 0%;
	display: table;
	margin: 0 auto;
	margin-bottom: 1%;
	font-weight: bold;
	font-size: 1.5em;
	/*padding-top: 10%;*/
}

.weatherclimate .board div.componentsIntro p:nth-of-type(2){
	position: relative;
	top:40%;
	left: 0%;
	text-align: center;
	font-size: 1.2em;
}

.weatherclimate .board div.componentsIntro ul li{
	list-style-type: disc;
	list-style-position: inside;
	color: black;
	padding-left: 3%;
	padding-top: 1.5%;
}

.weatherclimate .board div.wrapperArea{
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../images/page2/wethercomponentearth.png");
	background-size: 100% auto;
}

.weatherclimate .board div.wrapperArea > p.componentHeading{
	position: absolute;
	font-size: 1.5em;
	top:20%;
	left: 33%;
	color:#634444;
}

.weatherclimate .board div.wrapperArea > p.componentInstruction{
	position: absolute;
	width: 40%;
	text-align: center;
	/*background: #000;*/
	font-size: 1em;
	top:25%;
	left: 27%;
	color:green;
}

.weatherclimate .board div.wrapperArea div.clickComponents{
	position: relative;
	width: 100%;
	height: 100%;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div{
	position: absolute;
	color: black;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.sunshine{
	top:10%;
	left: 15%;
	display: none;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.pressure{
	top:33%;
	left: 3%;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.temperature{
	top:20%;
	left: 5%;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.cloudiness{
	top:5%;
	left: 40%;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.wind{
	top:48%;
	left: 2%;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.precipitation{
	top:20%;
	right: 5%;
	text-align: right;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.precipitation > div{
	text-align: left;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.humidity{
	top:45%;
	right: 7%;
	text-align: right;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div.humidity > div{
	text-align: left;
}

.weatherclimate .board div.wrapperArea div.clickComponents > div > p{
	position: relative;
	font-size: 1.2em;
	color: rgb(10, 33, 29);
	text-decoration: underline;
	cursor: pointer;
	/*border: 1px solid red;*/
}

.weatherclimate .board div.wrapperArea div.clickComponents > div > div{
	background-color: rgba(255,255,255,1);
	display: none;
	padding:2%;
	font-size: 1.2em;
	color: rgb(13, 72, 62);
	width: 100%;
	right: 0%;
	list-style: none;

}

.weatherclimate .board div.wrapperArea div.clickComponents > div > div li {
	margin:0; padding:0;
	text-align: justify;
	padding-left:25px;
	/*min-height:40px;*/
}

.weatherclimate .board div.wrapperArea div.clickComponents > div > div li:before {
	position: absolute;
	left: 0;
	top: 12px;
	content: "";
	height: 15px;
	width: 15px;
	background:url('../images/arrow.jpg') no-repeat 0 0;
}

.weatherclimate .board .wrapperSnowFrost {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	background: rgb(215,248,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(215,248,255,1) 0%, rgba(240,249,255,1) 86%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,248,255,1)), color-stop(86%,rgba(240,249,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,248,255,1) 0%,rgba(240,249,255,1) 86%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7f8ff', endColorstr='#f0f9ff',GradientType=0 ); /* IE6-9 */
	background-size: 100%;
}

.weatherclimate .board .wrapperSnowFrost .mainTitle {
	color: #901919;
	text-align: left;
}

.weatherclimate .board .wrapperSnowFrost .snowForst {
	display: inline-block;
	width: 47%;
	margin: 0% 1%;
	vertical-align: top;
}

.weatherclimate .board .wrapperSnowFrost .snowForst > .title {
	font-size: 1.5em;
}

.weatherclimate .board .wrapperSnowFrost .snowForst img {
	width: 55%;
	box-shadow: 0 0 10px #393939;
}

.weatherclimate .board .wrapperSnowFrost .snowForst .lists {
	text-align: justify;

}

.weatherclimate .board .wrapperSnowFrost .snowForst .lists ul>li {
	padding-left: 25px;
	font-size: 1.1em;
}

.weatherclimate .board .wrapperSnowFrost .snowForst .lists li:before {
	position: absolute;
	left: 0;
	top: 12px;
	content: "";
	height: 15px;
	width: 15px;
	background:url('../images/arrow.jpg') no-repeat 0 0;
}
