.weatherclimate {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.weatherclimate, .weatherclimate * {
	position: relative;
	margin: 0;
	padding: 0;
}

.weatherclimate .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.weatherclimate .prevBtn{
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.weatherclimate .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #FFFBE1;
}

/**/

.wrapperIntro {
	width: 100%;
	height: 100%;
}

.wrapperIntro .title {
	text-align: center;
	padding-top: 3%;
	font-size: 1.5em;
	color: #383838;
	text-shadow:1px 1px #000;
	/*background: rgba(0,0,0,0.2);*/
}

.wrapperIntro img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.wrapperIntro .desc {
	width: 100%;
	height: 80%;
}

.wrapperIntro .desc div {
	background: rgba(9, 145, 155,0.8);
	color: #fff;
}

.wrapperIntro .desc .desc0 {
	margin: auto;
	text-align: center;
	margin-top: 3%;
	width: 80%;
}

.wrapperIntro .desc .desc1 {
	position: absolute;
	width: 40%;
	top: 20%;
	padding: 10px;
	text-align: justify;
	right: 7%;
	display: none;
}

.wrapperIntro .desc .desc2 {
	position: absolute;
	width: 40%;
	bottom: 30%;
	left: 2%;
	padding: 10px;
	text-align: justify;
	display: none;
}

.wrapperIntro .desc .desc3 {
	position: absolute;
	width: 60%;
	bottom: 1%;
	left: 20%;
	padding: 10px;
	text-align: justify;
	display: none;
}
