.weatherclimate {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.weatherclimate, .weatherclimate * {
	position: relative;
	margin: 0;
	padding: 0;
}

.weatherclimate .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.weatherclimate .prevBtn{
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.weatherclimate .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

/*********
*****activity specific******
******************/
.weatherclimate .board .wrapperIntro {
	width: 100%;
	height: 100%;
	padding: 10%;
	background-size: 100%;
}

.weatherclimate .board .wrapperIntro .introText {
	text-align: center;
	font-size: 1.3em;
}

.weatherclimate .board .wrapperIntro .desc {
	margin-top: 10%;
}

.weatherclimate .board .wrapperArea {
	width: 100%;
	height: 100%;
}

.weatherclimate .board .wrapperArea .introText {
	width: 100%;
	text-align: center;
	padding: 10px;
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 1.3em;
}

.weatherclimate .board .wrapperArea img {
	margin: 2%;
	display: inline-block;
	width: 45%;
}

/* .weatherclimate .board .wrapperArea .img1 {
	position: absolute;
	width: 52%;
	margin: auto;

	bottom: 0;
	right: 0;
}

.weatherclimate .board .wrapperArea .img2 {
	position: absolute;
	width: 49%;
	right: 0;
	bottom: 0;
} */

/* .weatherclimate .board .wrapperArea.anotherClass6 .introText {
	width: 80%;
	position: absolute;
	z-index: 3;
	top: 20%;
	left: 10%;
	padding: 10px;
	font-size: 1.3em;
} */

.weatherclimate .board .wrapperArea.anotherClass3 .introText {
	font-size: 1em;
}

.weatherclimate .board .wrapperArea.anotherClass4 .introText {
	font-size: 1.2em;
}

.weatherclimate .board .wrapperArea.anotherClass4 .img1 {
	width: 70%;
	margin: auto;
	margin-left: 15%;
}

.weatherclimate .board .wrapperArea.anotherClass4 .img2 {
	display: none;
}

/**/

.weatherclimate .board .wrapperArea.anotherClass7 .introText {
	font-size: 1.2em;
}

.weatherclimate .board .wrapperArea.anotherClass7 .img1 {
	width: 70%;
	margin: auto;
	margin-left: 15%;
}

.weatherclimate .board .wrapperArea.anotherClass7 .img2 {
	display: none;
}
