/*====================================
 =            Custom Style            =
 ====================================*/
p{
	z-index: 5;
}

.lesson-title {
    color: #FFF;
    font-size: 3em;
}
.center-text {
    position: absolute;
    left: 50%;
    top: 31%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-shadow: .1em .1em .1em rgba(6, 6, 6, 0.2);
}

.front{
	z-index: 20!important;
}
.coverboard{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.shop-text{
	position: relative!important;
	top: 5%;
	left: 5%;
	width: 45%;
    font-family: sniglet;
	text-align: left;
	color: white;
}
.define-text{
	position: relative!important;
	top: 5%;
	left: 5%;
	width: 90%;
	text-align: left;
}

.title {
    margin-bottom: 3%;
}
.example{
	margin-bottom: 1%;
}

/*------------ for candy ------------------*/

.candy{
	position: absolute;
	height: 40%;
	width: 10%;
}

.candy>img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 0;
}

.candy>p{
	width: 120%;
	height: 13%;
	position: absolute;
	top: 70%;
	left: 34%;
	z-index: 2;
	background-image: url('../images/tag.png');
	background-size: 100% 100%;
	padding: 0.1% 0.2% 0.1% 40%;
	color: white;
}

.candy_1{
	left: 75%;
	bottom: 20%;
}
.candy_2{
	left: 65%;
	bottom: 18%;
	transform: rotate(-25deg);
}
.candy_3{
	left: 85%;
	bottom: 18%;
	transform: rotate(25deg);
}
.candy_4{
	left: 55%;
	bottom: 16%;
	transform: rotate(-40deg);
}
.hint_bottom{
	display: none;
	position: relative;
	margin-top: 5%;
	text-align: center;
	width: 45%;
	left: 5%;
}

.highlight_hint{
	background-color: #FFE599;
	padding: 0.1% 1% 0.1% 1%;
}


.ques_row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.ques_row>p{
	order: -1;
}
.ques_row>input{
	height: 90%;
	width: 35%;
	order: 0;
	text-align: center;
}
.ques_row>button{
	height: 90%;
	width: 45%;
	order: 2;
}

.check_div{
	position: relative;
	height: 10%;
	left: 5%;
	width: 40%;
	margin-top: 5%;
}
.default_btn{
	color: white;
	background-color: #6D9EEB;
	border: 2px solid #888;
	border-radius: 1vmin;
}

.default_btn:hover:not(.correct):not(.incorrect){
	background-color: #8E7CC3;
}

.default_btn.correct{
	background-color: #93C47D;
}
.default_btn.incorrect{
	background-color: #EA9999;
}




/*for table*/

.new_table{
	position: relative!important;
	width: 90%;
	left: 5%;
	margin-top: 5%;
}

.full_table{
	width: 100%;
}

.row_1{
}

.t_row{
	margin-top: 5%;
	margin-bottom: 5%;
	border: 2px solid black;
	height: 10%;
}

.t_row>td:first-child{
	width: 20%;
	border-right: 1px solid black;
}
.t_row>td:last-child{
	width: 60%;
	border-left: 1px solid black;
}
.t_row>td:nth-child(2){
	width: 20%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.t_row>p{
	vertical-align: center;
	text-align:center;
}

.t_div{
	position: absolute;
	left: 0%;
	width: 100%;
	top: 0%;
	height: 100%;
}

.t_div>img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-height: 90%;
	max-width: 90%;
}
.rhino_img_1{
	height: 60%;
	top: 40%!important;
}
.rhino_img{
	width: 80%;
	top: 35%!important;
}
.t_div>p{
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 5%;
}
.t_head{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}
.flagcss,.firstpart,.secondpart{

    width: 38%;
    left: 39%;
    top: 14%;
    position: absolute;

}
.blink_me1 {
  animation: blinker1 1s linear infinite;
  animation-delay: 2s;

}
.blink_me2 {
  animation-delay: 1s;
  animation: blinker2 1s linear infinite;

}
.blink_me3 {
  animation-delay: 3s;
  animation: blinker2 1s linear infinite;

}
.blink_me4 {
  animation-delay: 3s;
  animation: blinker2 1s linear infinite;

}

@keyframes blinker1 {
  0% { opacity: 0; }
}
@keyframes blinker2 {
  100% { opacity: 0; }
}


.imagebackground {
    position: absolute;
    width: 100%;
    left: 0%;
    height: 100%;
    z-index: 0;
}
.toptitle {
    background-color: rgba(60, 59, 58, 0.5);
    text-align: center;
    left: -5%;
    padding-top: 1%;
    top: -5%;
    z-index: 5;
}
.nightsky {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../images/stars.png"),linear-gradient(90deg, #8F2828 10%, #480048 90%) repeat top;
    left: 0;
    top: 0;
}
.zoomin{
	animation: zoomin 1s forwards;
}
/*arc css starts*/
.arc1 {
	background: none !important;
	height: 15% !important;
	width: 10% ;
	border: .2em solid #fff;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation-fill-mode: forwards;
	border-top-color: transparent;
	transform: rotate(-90deg);
	border-radius: 50%;
	position: absolute;
	top: 10%;
	opacity: 0;
	right: 21%;
}
.arc2 {
    background: none !important;
    height: 15% !important;
    width: 10%;
    border: .2em solid #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation-fill-mode: forwards;
    border-top-color: transparent;
    transform: rotate(46deg);
    top: 44%;
	opacity: 0;
    border-radius: 50%;
    position: absolute;
    right: 11%;
}
.arc3 {
    background: none !important;
    height: 15% !important;
    width: 10% ;
    position: absolute;
    border: .2em solid #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
	opacity: 0;
    animation-fill-mode: forwards;
    border-top-color: transparent;
    transform: rotate(132deg);
    border-radius: 50%;
    top: 45%;
    right: 31%;
}
.drawarc{
	animation:draw 1s forwards;
}

.img1, .img2, .img3, .img4, .img5 ,.img6{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 15%;
    opacity: 0;
    bottom: 18%;
}
.img1{
	left: 7%;
}
.img2{
	left: 23%;
}
.img3{
	left: 40%;
}
.img4{
	left: 57%;
}
.img5{
	left: 75%;
}
.img6{
	left: 92%;
}
.fadeinn5{
    animation: fadeinn 1s 5s forwards;
}
.fadeinn4{
    animation: fadeinn 1s 4s forwards;
}
.fadeinn3{
    animation: fadeinn 1s 3s forwards;
}
.fadeinn2{
    animation: fadeinn 1s 2s forwards;
}
.fadeinn1{
    animation: fadeinn 1s 1s forwards;
}
.fadeinn{
    animation: fadeinn 1s forwards;
}

@keyframes fadeinn{

    10%
    	{ opacity: 1; }
    100% {
		filter:blur(1px);
		opacity: 1;
        }
}


/*arc css ends*/
@keyframes zoomin{
	to{

		transform: scale(1.2);
	}
}
@keyframes draw{
	to{
	opacity:1;
	}
}

.hoverinstruction {
    left: 10%;
}
/*=====  End of Custom Style  ======*/
