.description_instructions{
	height: 10%;
	background-color: #34CEE8;
	color: #000000;
	text-align: center;
	font-size: 1.7em;
	padding-top: 0.5em;
	display: none;
}

#iterateEffects{
	display: none;
}
.pt-perspective {
	position: relative;
	width: 100%;
	height: 90%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
	/*top: 10%;*/
	left: 0%;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}

/* Text Styles, Colors, Backgrounds */

.pt-page h1 {
	position: absolute;
	font-weight: 300;
	font-size: 4.4em;
	line-height: 1;
	letter-spacing: 6px;
	margin: 0;
	top: 12%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.3em;
}

.pt-page h1 span {
	font-family: 'Satisfy', serif;
	font-weight: 400;
	font-size: 40%;
	text-transform: none;
	word-spacing: 0;
	letter-spacing: 0;
	display: block;
	opacity: 0.4;
}

.pt-page h1 strong {
	color: rgba(0,0,0,0.1);
}

.pt-page-1 {
	background: #ffffff;
}

.pt-page-2 {
	background: #ffffff;
}

.pt-page-3 {
	background: #ffffff;
}

.pt-page-4 {
	background: #ffffff;
}

.pt-page-5 {
	background: #ffffff;
}

.pt-page-6 {
	background: #ffffff;
}

/* Triggers (menu and button) */

.pt-triggers {
	position: absolute;
	width: 16%;
	z-index: 999999;
	top: 74%;
	left: 89%;
	margin-top: 10%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.no-js .pt-triggers {
	display: none;
}

.pt-triggers .dl-menuwrapper button,
.pt-touch-button {
	xborder: none;
	xfont-size: 13px;
	xfont-weight: 700;
	xtext-transform: uppercase;
	xmargin: 10px 0 20px;
	xpadding: 0px 20px;
	xline-height: 50px;
	height: 50px;
	xletter-spacing: 1px;
	width: 26%;
	xcursor: pointer;
	xdisplay: block;
	xfont-family: 'Lato', Calibri, Arial, sans-serif;
	xbox-shadow: 0 3px 0 rgba(0,0,0,0.1);
	x-webkit-touch-callout: none;
	x-webkit-user-select: none;
	x-khtml-user-select: none;
	x-moz-user-select: none;
	x-ms-user-select: none;
	xuser-select: none;
}

.pt-touch-button:hover {
	  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.pt-touch-button {
	background: transparent;
	border: none;
	background-image: url("../../../../../images/arrows/arrow.png");
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
    color: transparent;
}

.pt-triggers .dl-menuwrapper button {
	margin-bottom: 0;
}

.pt-touch-button:active {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.touch .pt-triggers .dl-menuwrapper {
	display: none;
}

.pt-message {
	display: none;
	position: absolute;
	z-index: 99999;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #da475c;
	color: #fff;
	text-align: center;
}

.pt-message p {
	margin: 0;
	line-height: 60px;
	font-size: 26px;
}

.no-cssanimations .pt-message {
	display: block;
}

@media screen and (max-width: 47.4375em) {
	.pt-page h1 {
		font-size: 3em;
	}

	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}

@media screen and (max-height: 45.9em) {
	.pt-triggers .dl-menuwrapper li a {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.pt-triggers .dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after {
		line-height: 24px;
	}
}

@media screen and (max-height: 38em) {
	.pt-triggers .dl-menuwrapper {
		display: none;
	}
}




/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	font-size: 0.68em;
	line-height: 2.2;
	z-index: 50000;
	top: 0;
	left: 0;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.2);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
	content: "\e001";
}
.codrops-icon-prev:before {
	content: "\e004";
}
.codrops-icon-archive:before {
	content: "\e002";
}
.codrops-icon-next:before {
	content: "\e000";
}
.codrops-icon-about:before {
	content: "\e003";
}

@media screen and (max-width: 25em) {
	.codrops-icon span {
		display: none;
	}
}

.comic_strip_image
{
margin-top : 70px;
}

.comic_strip_text
{
	margin-top : 18px;
	text-align:center;
	font-size: 32px;
}
.watch
{
	  height: 350px;
}
.radha
{
	height : 100%;
}
