.coverpage{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 8%;
}
.coverpage1{
    display: none;
}
.sm1
{
	width:100%;
	height:100%;
	position : relative;
	background:#ffffff;

}

.para_content2,.para_content3,.para_content4,.para_content5,.para_content6,.para_content7,.para_content8,.para_content9,.para_content10,.para_content11,.button_previous{

	display:none;
}
.para_date2,.para_date3,.para_date4,.para_date5,.para_date6,.para_date7,.para_date8,.para_date9,.para_date10,.para_date11
{
	display:none;
}

.para_content1,.para_content2,.para_content3,.para_content4,.para_content5,.para_content6,.para_content7,.para_content8,.para_content9,.para_content10,.para_content11
 {
	padding-top: 35%;
    padding-left: 1%;
    text-align: justify;
    font-size: 1.22em;
    padding-right: 2%;
    font-family: -webkit-pictograph;
    color: #6B6B6B;
}

.button_next {
		display: none;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
    }

.button_next:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button_previous {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
}

.button_previous:hover {
  background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#anne_img2,#anne_img3,#anne_img4,#anne_img5,#anne_img6,#anne_img7,#anne_img8,#anne_img9,#anne_img10
{
	display:none;
}

.annne_images
{    float: right;
    width: 44%;
    padding: 2%;
    padding-top: 4.5%;

}

.title
{
	background-color: #FF595B;
	color: #ffffff;
	width: 40%;
	height: 11%;
	padding: 1% 1%;
	height: auto;
	margin-top: 0;
}

.para_dates
{
	background-color: #37A2EA;
	color: #ffffff;
	font-size: 1.2em;
	width: 150%;
	padding-left: 6%;
	/*height: 9%;*/
	/*padding-top: 2%;*/
	line-height: 1.5;
	/*font-weight: bold;*/
	margin-top: -10%;
	margin-left: -50%;
	position: relative;
}

.paragraphs_annee
{
	position: absolute;
	top: 14%;
	left: 5%;
	max-height: 77%;
	overflow-y: auto;
	width: 90%;
}

/*for pop up*/

.finishtxt {
	z-index: 1000;
	background-color: #333333;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 5px #000000;
    color: #ffffff;
    display: none;
    font-size: 1.5em;
    left: 8%;
    margin-bottom: 15px;
    padding: 20px;
    position: absolute;
    top: 40%;
    width: 83%;
    z-index: 100;
}


/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/*end of for pop up*/

@media screen and (min-aspect-ratio: 4/3) {
	.finishtxt, h1 {
		font-size: 4vh;
	}

	.para_content1,.para_content2,.para_content3,.para_content4,.para_content5,
	.para_content6,.para_content7,.para_content8,.para_content9,.para_content10,.para_content11{
		font-size: 3vh;
	}

	.para_dates{
		font-size: 2.76vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.finishtxt, h1  {
		font-size: 3.56vw;
	}

	.para_content1,.para_content2,.para_content3,.para_content4,.para_content5,
	.para_content6,.para_content7,.para_content8,.para_content9,.para_content10,.para_content11{
		font-size: 2.56vw;
	}

	.para_dates{
		font-size: 2.2vw;
	}
}
