.speechbox.speech_1 {
    position: absolute;
    width: 48%;
    top: 15%;
    left: 14%;
    height: 39%;
}
.insidetext{
  padding: 2%;
}
.text_poster {
    position: absolute;
    font-size: 1.2vw;
    top: 40%;
    left: 36%;
}
.patro_right {
    position: absolute;
    width: 15%;
    transform: translateY(-50%);
    top: 44%;
    left: 79%;
}
.text_poster2 {
    position: absolute;
    font-size: 1.2vw;
    top: 43%;
    z-index: 10;
    left: 16%;
    color: #006a31;
}
.text_poster3 {
    position: absolute;
    font-size: 1.2vw;
    z-index: 10;
    left: 39%;
    top: 74%;
    background: rgba(255, 255, 255,.5);
    padding: 1%;
    border-radius: 1vmin;
}
.cream_bg{
  background: #fff2cc;
}
.top_text {
    top: 0;
    position: absolute;
    font-size: 1.8vw;
    padding: 2%;
    padding-left: 19%;
    background: #90aeff;
    color: white;
    left: 0;
    width: 100%;
}
.top_image {
    top: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    background: #728acb;
}
.mid_image {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    height: 60%;
}
.left_image {
    position: absolute;
    width: 30%;
    z-index: 10;
    top: 25%;
    left: 7%;
}
.right_image {
    position: absolute;
    width: 55%;
    z-index: 10;
    top: 25%;
    left: 40%;
}
.mid_image2 {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 56%;
    left: 50%;
    height: 76%;
}
.text_click_1 {

    position: absolute;
    color: #4dbcb2;
    top: 25%;
    left: 36%;
    z-index: 10;
    font-size: 1.5vw;
    cursor: pointer;

}
.text_click_2 {

    color: #b83b5e;
    position: absolute;
    font-size: 2.5vw;
    left: 39%;
    z-index: 10;
    top: 31%;
    cursor: pointer;

}
.text_click_3 {

    position: absolute;
    color: #b83b5e;
    z-index: 10;
    font-size: 1.5vw;
    left: 29%;
    top: 66%;
    cursor: pointer;

}
.text_click_4 {

    position: absolute;
    color: #b83b5e;
    z-index: 10;
    font-size: 1.5vw;
    left: 44%;
    top: 66%;
    cursor: pointer;

}
.text_click_5 {

    position: absolute;
    color: #b83b5e;
    z-index: 10;
    font-size: 1.5vw;
    left: 59%;
    top: 66%;
    cursor: pointer;

}
.text_click_6 {

    position: absolute;
    color: #4dbcb2;
    top: 74%;
    left: 34%;
    font-size: 1.2vw;
    cursor: pointer;

}
.text_click_7 {
    position: absolute;
    color: #4dbcb2;
    top: 79%;
    left: 36%;
    font-size: 1.2vw;
    cursor: pointer;
}
.text_click_8 {
    position: absolute;
    color: #b83b5e;
    top: 82.8%;
    left: 35%;
    font-size: 1.2vw;
    cursor: pointer;
}
.text_click_9 {
    position: absolute;
    color: #4dbcb2;
    top: 82.8%;
    left: 53%;
    cursor: pointer;
    font-size: 1.2vw;
}

@media (min-aspect-ratio: 4/3){
	.top_text{
		font-size: 4vmin;
	}
  .text_click_2{
    font-size: 6vmin;
  }
  .text_click_1,.text_click_3,.text_click_4,.text_click_5{
    font-size: 2.8vmin;
  }
  .text_click_6,.text_click_7,.text_click_8,.text_click_9{
    font-size: 2.4vmin;
  }
}

.blinkEffect{
    animation: blinkEff 0.8s linear 0s alternate infinite;
}
@-webkit-keyframes blinkEff {
    0%{
        transform:  scale(1) ;
        background-color: #391981;
    }
    100%{
        transform:  scale(1.1) ;
        background-color: #391981;
    }
}


@keyframes blinkEff {
    0%{
        transform:  scale(1) ;
        background-color: #391981;
    }
    100%{
        transform:  scale(1.1) ;
        background-color: #391981;
    }
}