html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
    z-index: 5;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}
.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}
.activeTimeLine {
    background: #076242;
}
.totalsequence {
    border: #076242 0.3vmin solid;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.6em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.ole_temp_uppertextblock {
    font-size: 4vmin !important;
}

.bgfront {
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
}

.smokebg{
    background: rgba(255,255,255,0.8);
    padding: 1%;
}

.bgmove{
    transform-origin: 0% 0%;
    transition-duration: 2s;
    animation: letsmove 2s linear forwards;
}

@keyframes letsmove{
    100%{
    transform: scale(1.55);
    }
}

.bgmove2{
    transform-origin: 0% 0%;
    transition-duration: 2s;
    animation: letsmove2 2s linear forwards;
}

@keyframes letsmove2{
    100%{
    transform: scale(1);
    }
}

.contentwithbg1 {
    background: url("../images/treebg.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg1-1 {
    background: url("../images/treebg.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-origin: 0% 0%;
    transform: scale(1.55);
}

.contentwithbg2 {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_main.jpg");
    background-size: 170% 100%;
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.contentwithbg3 {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_main.jpg");
    background-size: 170% 100%;
    background-repeat: no-repeat;
}

.backmove {
    animation: backmove 4s ease-out;
    -webkit-animation: backmove 4s ease-out;
}
@-webkit-keyframes backmove{
    100% { background-position: 0% 0%; }
}
@keyframes backmove{
    0% { background-position: 100% 0%; }
}

.dg-1 {
    bottom: 68%;
    left: 5%;
}

.dg-2 {
    bottom: 37%;
    left: 20%;
    width: 42%;
    z-index: 2;
    padding: 2% !important;
    font-size: 2vmin;
}

.dg-3 {
    bottom: 38%;
    left: 53%;
    width: 33%;
}

.dg-4 {
    bottom: 66%;
    left: 4%;
}

.dg-5 {
    bottom: 67%;
    right: 8%;
}

.dg-6 {
    bottom: 67%;
    right: 8%;
    width: 44%;
}

.malidai {
    position: absolute;
    height: 57%;
    bottom: 6%;
    left: 6%;
}

.malimove{
    transform: scaleX(-1);
    animation: mamove 4s ease-out forwards;
    -webkit-animation: mamove 4s ease-out forwards;
}
@-webkit-keyframes mamove{
    100% { left: 74%; }
}
@keyframes mamove{
    100% { left: 74%; }
}
.malialready{
    transform: scaleX(-1);
    left: 74%;
}

.kidsmove{
    animation: fmove 2s ease-out forwards;
    -webkit-animation: fmove 2s ease-out forwards;
}
@-webkit-keyframes fmove{
    100% { bottom: -22%; }
}
@keyframes fmove{
    100% { bottom: -22%; }
}

.kidsmove2{
    animation: fmove2 2s ease-out forwards;
    -webkit-animation: fmove2 2s ease-out forwards;
}
@-webkit-keyframes fmove2{
    100% { bottom: 5%; }
}
@keyframes fmove2{
    100% { bottom: 5%; }
}

.kidsman {
    position: absolute;
    width: 50%;
    bottom: 5%;
    right: 6%;
}

.kidsmanmoved {
    position: absolute;
    width: 50%;
    bottom: -22%;
    right: 6%;
}

.floalready{
    right: 2%;
}

[class*="plarrow"] {
    width: 3%;
    position: absolute;
    animation: movedown 0.7s linear infinite alternate;
    transition-duration: 0.5s;
    top: 14%;
}

@-webkit-keyframes movedown{
    100% { transform: translateY(15%); }
}
@keyframes movedown{
    100% { transform: translateY(15%); }
}

.plarrow-1 {
    left: 6%;
}

.plarrow-2 {
    left: 57%;
}

.plarrow-3 {
    left: 49%;
}

.plarrow-4 {
    left: 17%;
}

.plarrow-5 {
    left: 44%;
}

.plarrow-6 {
    left: 39%;
}

.plarrow-7 {
    left: 34%;
}

.plarrow-8 {
    left: 28%;
}

.plarrow-9 {
    left: 21%;
}

@media (max-aspect-ratio:4/3){
	.dg-1,.dg-2,.dg-3,.dg-4,.dg-5,.dg-6{
		font-size:3vw;
	}

}

@media (min-aspect-ratio:4/3){
	.dg-1,.dg-2,.dg-3,.dg-5,.dg-4,.dg-6{
    font-size: 3vh;
  }

}
