<script>
$cssLoader('exercise/css/exercise.css');
$cssLoader('exercise/css/exe1.css');
</script>

<div id="exeBox">
	<div id="toDo"></div>
	 <div class="allquestion">

	  </div>

	  
	  	<img  id="Imgshow" src="$ref/exercise/images/correct.png" />
	
	  <div id="nextBtnId">
	  	
	  </div>


	   <div id="repeatId">
	  	<span class="glyphicon glyphicon-repeat"></span>
	  </div>

</div>
<script>
$jsLoader('exercise/js/sharedexe.js');
$jsLoader('exercise/js/exe1.js');
</script>



<script type="text/x-handlebars-template" id="label-template">
<div id="quest"><span>{{myQuesion}}</span></div>
<div id="showImg">
	{{#each imgobj}}
		<div class="{{mul}}" id="{{imgObj1}}" >
			<img src="{{imgObjval}}"/>
		</div>
	{{/each}}
</div>

{{#if allhint}}
<div id="allhint">
<div id="hint">{{{hint}}}</div>
</div>
{{/if}}
<div id="showAns">
	{{#each optObj}}
		<div class="ans" id="{{optObj1}}" corr="{{yesno}}">
		<span>{{optObjval}}</span>
		</div>
	{{/each}}
</div>
</script>

<script type="text/x-handlebars-template" id="template-2">


<div class="allAns">
	{{#each allansw}}
	<div class="rnum" id="{{quesno}}">
		<span class="glyphicon glyphicon-hand-right"></span>{{ques}}
		<span>{{qans}}</span>
	</div>
	{{/each}}
</div>

<div class="result">
	<div><span>{{rite}} : </span> {{rnum}}</div>
	<div><span>{{wrng}} : </span> {{wnum}}</div>
</div>
</script>
