.parts_of_a_plant {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.parts_of_a_plant, .parts_of_a_plant * {
	position: relative;
	margin: 0;
	padding: 0;
}

.parts_of_a_plant .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.parts_of_a_plant .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 90%;
	width: 100%;
	top: 10%;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: sniglet;
}

.bluebg{
	background-color: #71C7EB;
	color: #434343;
}

.svgcontainer {
	position: absolute;
	width: 40%;
	height: 90%;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
}

.peach_bg{
	background-color: #FFD2BD;
	padding: 0.2em 0.2em;
	border-radius: 0.5em;
}

.add_utb {
	margin-top: 0.3em;
}

.description1{
	width: 70%;
	left: 15%;
}

.description{
	position: absolute;
	width: auto;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.2em 0.8em;	
}

#Layer_1 {
	height: 100%;
	width: 90%;
}

.filteranimate{
	-webkit-animation: filteranimate_kf 1.5s linear infinite alternate;
	animation: filteranimate_kf 1.5s linear infinite alternate;
}

@-webkit-keyframes filteranimate_kf { 100% { filter: drop-shadow(0 0 0.2em #323232);} }

@keyframes filteranimate_kf { 100% { filter: drop-shadow(0 0 0.2em #323232);} }

.scaleanimate{
	transform-origin: 0% 0%;
	-webkit-animation: scaleanimate_kf 1.5s linear forwards;
	animation: scaleanimate_kf 1.5s linear forwards;
}

@-webkit-keyframes scaleanimate_kf { 100% { transform: scale(1.5) translateX(-50%);} }

@keyframes scaleanimate_kf { 100% { transform: scale(1.5) translateX(-50%);} }

.position1, .position2, .position3, .position4 {
	position: absolute;
	width: 29%;
	display: none;
}

.position1{
	left: 2%;
	top: 2%;	
} 

.position2{
	left: unset;
	right: 6%;
	top: 10%;
} 

.position3{
	left: 12%;
    top: 49%;
    transform: rotate(50deg);
    width: 28%;
} 

.position4{
	left: unset;
    right: 22%;
    width: 32%;
    top: 41%;
    transform: rotate(16deg);
}

.position1_b{
    position: absolute;
    width: 35%;
    left: 9%;
    top: -4%;
    transform: rotate(40deg);
} 

.position2_b{
	position: absolute;
    width: 35%;
    left: 0%;
    top: 43%;
    transform: scaleX(-1);
} 

.position3_b{
	position: absolute;
    width: 35%;
    left: 66%;
    top: 17%;
    transform: rotate(-25deg);
} 

.position4_b{
    position: absolute;
    width: 32%;
    left: 44%;
    top: 0%;
}

.position1_c{
	position: absolute;
    width: 34%;
    left: 48%;
    top: 8%;
    transform: rotate(-6deg);
} 

.position2_c{
	position: absolute;
    width: 38%;
    left: 19%;
    top: 25%;
    transform: rotate(-12deg);
} 

.position3_c{
	position: absolute;
    width: 47%;
    left: 62%;
    top: 9%;
} 

.position4_c{
    position: absolute;
    width: 38%;
    left: 0%;
    top: 6%;
    transform: rotate(19deg);
}

.position1_d{
    position: absolute;
    width: 35%;
    right: 50%;
    top: -18%;
} 

.position2_d{
	position: absolute;
	width: 35%;
    left: 50%;
    top: -18%;
} 

.position3_d{
	position: absolute;
    width: 40%;
    right: 2%;
    top: 10%;
} 

.position4_d{
	position: absolute;
	width: 40%;
	left: 2%;
	top: 10%;
}

.handicon{
	position: absolute;
	width: 4%;
	cursor: pointer;
}

.handpos1 {
	left: 50%;
	top: 18%;
}

.handpos2 {
    left: 53%;
    top: 51%;
}

.handpos3 {
    left: 49.5%;
    top: 34%;
}

.handpos4 {
    left: 49.5%;
    top: 74%;
}

.fadein1{
	opacity: 0;
	-webkit-animation: fadein_kf 1s linear 0.2s forwards;
	animation: fadein_kf 1s linear 0.2s forwards;
}

.fadein2{
	opacity: 0;
	-webkit-animation: fadein_kf 1s linear 1.4s forwards;
	animation: fadein_kf 1s linear 1.4s forwards;
}

.fadein3{
	opacity: 0;
	-webkit-animation: fadein_kf 1s linear 2.6s forwards;
	animation: fadein_kf 1s linear 2.6s forwards;
}

.fadein4{
	opacity: 0;
	-webkit-animation: fadein_kf 1s linear 3.8s forwards;
	animation: fadein_kf 1s linear 3.8s forwards;
}

.fadein5{
	opacity: 0;
	-webkit-animation: fadein_kf 1s linear 4s forwards;
	animation: fadein_kf 1s linear 4s forwards;
}

@-webkit-keyframes fadein_kf {	100%{ opacity: 1; } }
@keyframes fadein_kf {	100%{ opacity: 1; } }


.description_new{
	width: 70%;
}

@media screen and (min-aspect-ratio: 4/3) { 
	/*vh*/
	.description1{
		font-size: 8vh;
	}
	.description {
		font-size: 5vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	/*vw*/
	.description1{
		font-size: 6.8vw;
	}
	.description {
		font-size: 4.2vw;
	}
}