.aplogizing {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 0 30px #f2f2f2;
	background-color: #fff;
	font-family: sniglet;
}

.aplogizing, .aplogizing * {
	position: relative;
	margin: 0;
	padding: 0;
	color: #595959;
    font-family: sniglet;
}

.aplogizing .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.aplogizing .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	z-index: 100;
}

#sortable li {
	margin: 1% 5% 0% 5%;
	width: 90%;
	/* border: 0.2vmin solid #3AABF0; */
	background-color: #8e7cc3;
}

#sortable li:hover {
	background-color: #f9cb9c;
		border: 2px solid #f6b26b;
}

#sortable li:active {
	background-color: #3AABF0;
}

#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}
.mainBox {
	margin: 0 auto;
	position: relative;
}

/* Give headings their own font */

.title {
	width: 100%;
	color: #DB496A;
	margin: auto;
	text-align: center;
	margin-top: 0%;
	padding: 1%;
	background-color: #FFE25D;
}

.fronttitle{
	width: 75%;
	padding: 2%;
	top: 36%;
	transform: translateY(-50%);
	z-index: 1;
	color: #fff;
	font-family: Pangolin;
	left: 0%;
	font-size: 4.5vw;
}


.content_words {
	margin-top: 0%;
	margin-left: 0%;
	width: 100%;
}
li > #1 {
	background: green;
}
#sortable li:hover {
	cursor: pointer;
}

.button {
	color: #000000;
}

#correct_icon, #incorrect_icon {
	display: none;
}

.whole_content, .whole_content2 {
	width: 100%;
	height: 100%;
	position :relative;
}

.whole_content2{
	background-color: #C8ECE0;
}

.button_check {
	position: absolute;
	right: 15%;
	bottom: 5%;
	width: 16%;
}

.right_wrong {
	position: absolute;
	bottom: 7%;
	right: 7%;
	width: 5%;
}

/*button designs*/
.check {
	background-color: #3c78d8;
	color: #ffffff;
	border-radius: 0.5em;
	padding: 4%;
	width: 100%;
	border: 2px solid #1155cc;
}

.check:hover {
	background-color: #80a0f0;
	color: #ffffff;
	border: 2px solid #b7d4ff;
	border-radius: 0.5em;
}

.closebtn1:hover {
	color: black;
}

.cong {
	background-color: #1bc402;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #000;
	color: white;
	display: none;
	left: 12%;
	margin-bottom: 15px;
	padding: 20px;
	position: absolute;
	top: 48%;
}

.closebtn1 {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.bus {
	position: absolute;
	width: 92%;
	left: 4%;
	top: 50%;
}

.cycle {
	position: absolute;
	width: 20%;
	left: 45%;
	top: 75%;
}

.man {
	position: absolute;
	width: 7%;
	left: 45%;
	top: 63%;
}

.hen {
	position: absolute;
	width: 4%;
	left: 39%;
	top: 88%;
}

.map {
	height: 90%;
	width: 100%;
	top: 10%;
	left: 0;
	position: absolute;
}

.kanchanjunga, .tree, .mahakali, .khalifa {
	position: absolute;
}

.kanchanjunga {
	height: 50%;
	left: 70%;
	top: 40%;
}

.tree {
	height: 50%;
	left: 0%;;
	top: 40%;
}

.mahakali {
	height: 50%;
	left: 23.6%;
	top: 40%;
}

.khalifa {
	height: 50%;
	left: 47%;
	top: 40%;
}

#wrapper{
	height: 88%;
	width: 100%;
	position: relative;
}

.mountan_names{
	position: absolute;
	top: 38%;
	transform: translateY(-50%);
}

.circular-gradient{
	background: #74ebd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.color{
	background: red !important;
}
.imageblock{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}
.mainbgimage{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}

#submit.corrects{
	pointer-events: none;
	background-color: #98C02E;
	border: 0.5vmin solid #DEEF3C;
	color: white;
}
#submit.incorrect{
	background-color: #FF0000;
	border: 0.5vmin solid #980000;
	color: white;
}
@media screen and (min-aspect-ratio: 4/3) {
	.fronttitle{
		font-size: 10vh;
	}

	.title, .button{
		font-size: 4.56vh;
	}

	#sortable li, .cong{
		font-size: 3vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.fronttitle{
		font-size: 7.56vw;
	}

	.title, .button{
		font-size: 4vw;
	}

	#sortable li, .cong{
		font-size: 2.56vw;
	}
}
