@font-face {
	  font-family: "Warnes";
	  font-style: normal;
	  font-weight: 400;
	  src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
	}

.electricity_activity {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.electricity_activity, .electricity_activity * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.electricity_activity .nextBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	right     : 0%;
	width     : 7%;
	height    : 10%;	
}

.electricity_activity .prevBtn{
	display : none;
	position  : absolute;
	bottom    : 0%;
	left      : 0%;
	width     : 7%;
	height    : 10%;	
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
    	position          : relative;	
    	top               : 45%;
    	left              : 50%;
    	transform         : translate(-50%, -50%);
    	-moz-transform    : translate(-50%, -50%);
    	-webkit-transform : translate(-50%, -50%);
    	text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/
        
        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
			background-color: #f2f2f2;
			color: #51a39d;
			font-size: 1.3em;
			font-weight: bold;
			left: 0;
			padding: 1% 2%;
			position: relative;
			text-align: center;
			top: 0;
			width: 100%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }
        
    /*=====  End of HeaderBlock  ======*/
    
    /*====================================
    =            ContentBlock            =
    ====================================*/
        
        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        } 

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/
        
        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238); 
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;            
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
    
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 7px;
        
            background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }
        
    /*=====  End of InstructionBlock  ======*/
        
        
    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            z-index: 10;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
           
            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;
            
            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.textalignleft{
            text-align: left;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        .swipebackgroundstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */        
            
            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            
            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        .swipebackgroundstyle:after{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;
            
            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        .swipebackgroundstyle:before{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;
            
            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        .royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        .orangehighlight{
            color : rgb(197,6,6);
        }


    /*=====  End of Text Block  ======*/
    
    /*=====================================
    =            svg block                =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer > svg{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

    /*=====  End of svg block  ======*/

    /*===================================
    =            Image Block            =
    ===================================*/
    
        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{ 
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;          
            width    : 40%;
        }   

        div.imageblock label{
           position : absolute;
        } 

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }    

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+2){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }        
    /*=====  End of Image Block  ======*/

    /*============================================
    =            Definition layout               =
    ============================================*/
        div.definitionblock > img{
            position : relative;
            width    : 50%;
            left     : -20%;
        }

        div.definitionblock > figcaption{
            position   : relative;
            margin-top : -8%;
            left       : -21%;
            font-size  : 2em;
            color      : rgb(201, 136, 116);
        }

        div.definitionblock > p.definitiontextstyle{
            position   : relative;
            text-align : left;
            margin-top : 15%;
            font-size  : 1.5em;
            padding    : 0% 2%;
            /* border  : 1px solid red; */
        }

    /*=====  End of Definition layout  ======*/
    
/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/

    img.twoimagebigger{
        width : 40%;
    }

    img.twoimagebigger:nth-of-type(1){
        margin-right : 5%;
    }

    img.voltaicstyle{
        width : 50%;
    }

    label.valanceorbittextstyle1{
        left : 70%;
        top  : 40.5%;
    }

    label.valancelectrontextstyle1{
        left : 70%;
        top  : 64%;
    }

    img.whatimage{
        width : 25%;
    }

    label.glowbulblabel{
        left : 24.5%;
        top  : 47%;
    }

    label.zinclabel{
        left : 56%;
        top  : 2%;
    }

    img.hydrogenstyle{
        width : 50%;
    }

    img.naclstyle{
        width : 80%;
    }

    img.squirrelinterestedstyle{
        width:60%;
    }
	
	
	/*custom css added by manish*/
	
	
	
	div.contentblock.contentwithbg {
    background-color: #000000;
    background-image: url("../images/page1/mainn-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
	


.glowtext {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 solid #ffffff;
    border-radius: 0;
    bottom: auto;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(6,66,92);
    cursor: default;
    display: inline-block;
    float: none;
    font-size:3em ;
    height: auto;
    left: auto;
    letter-spacing: normal;
    margin: 0;
    overflow: visible;
    padding: 10px;
    position: static;
    right: auto;
    text-align: center;
    text-indent: 0;
    text-overflow: clip;
  
    text-transform: none;
    top: auto;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    transform-origin: 50% 50% 0;
    white-space: pre;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}	


.beakerstyle {
    width: 30%;
}

.beakerstyle1{
	width:20%;
}

.beakerstyle2{
	width:20%;
}


label.dilute {
    top: 69%;
}

label.glassvessel {
    left: 27%;
    top: 59%;
}


label.copperlabel {
    left: 42%;
    top: 2%;
}


label.zinclabel1 {
    left: 67.5%;
    top: 30%;
}

label.copperlabel1 {
    left: 54.5%;
    top: 30%;
}


label.dilute1 {
    right: 18%;
    top: 73%;
}

label.glassvessel1 {
    left: 41%;
    top: 75%;
}

label.sign0 {
    left: 47.5%;
    top: 2%;
}


label.sign1 {
    left: 59.5%;
    top: 19%;
}

label.sign2 {
    left: 67%;
    top: 18.5%;
}


label.signlabel1 {
    
	color: #bb6267;
    left: 42%;
    top: 63%;
}


label.signlabel2 {
    color: #bb6267;
    left: 71.25%;
    top: 53%;
	
}

label.border1 {
    border: 4px solid #bb6267;
    height: 75%;
    left: 57%;
    top: 18%;
    width: 5%;
}



label.border2 {
     
	border: 4px solid #bb6267;
    height: 75%;
    left: 64%;
    top: 18%;
    width: 5%;
}


/*blink part*/


@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


label.border1
 {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}


label.border2
 {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}


.blink{


	-webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
	color:#bb6267;

}

.lineanimation {
    animation: 2s linear 0s normal forwards 1 running lineanimationkeyframe;
}



text#zn
{
	font-family: verdana, sans-serif;
	font-size: 570%;
	fill: #003565;
	font-weight:bold;
}


label.anode {
    left: 27%;
    top: 36%;
	color:#F1A30F;
}

label.cathode {
	color: #f1a30f;
    left: 55%;
    top: 36%;
}

label.zincslabel {
    right: 42%;
    top: 1%;
}

label.sign03 {
    right: 48%;
    top: 1%;
}

label.dilute03 {
    right: 25%;
    top: 73%;
}

label.anodextra {
    color: #f1a30f;
    left: 24%;
    top: 36%;
}

.connecting {
    width: 55%;
}


label.cathodecon {
	color: #f1a30f;
    left: 68%;
    top: 53%;
}

label.dilute03con {
    right: 25%;
    top: 73%;
}

label.anodextracon {
    color: #f1a30f;
    left: 36%;
    top: 72%;
}

label.zincslabelcon {
    right: 28.5%;
    top: 27%;
}

label.copperlabelcon {
    
	left: 55%;
    top: 27%;
}

label.sign0con {
    left: 61%;
    top: 27%;
}

label.sign03con {
    right: 35%;
    top: 27%;
}
	/*end of added by manish

/*=====  End of Custom Style  ======*/


/*for video*/

#video1 {
    left: 17.5%;
    position: absolute;
    top: 40%;
    transform: translate(0px, -40%);
    width: 65%;
}


.sumofangle {
    border: 4px solid #cdbb79;
    border-radius: 17px;
    width: 49%;
}

.replay {
    background: url("../images/page1/replay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none !important;
    height: 50px;
    position: absolute;
    right: 2%;
    top: 0;
    width: 50px;
}


.imageblock.sideimage {
    background: #c4e1f1 none repeat scroll 0 0;
    border: 3px solid #06425c;
    border-radius: 8px;
    left: 2%;
    top: -7%;
    width: 40%;
}

.textblock.sidewidth {
    position: absolute;
    right: 0;
    text-align: center !important;
    top: 35%;
    width: 47%;
}

.textblock.sidewidth {
    position: absolute;
    right: 0;
    text-align: center;
    top: 35%;
    width: 47%;
}

.sideimage .beakerstyle{
	
	width:80%;
}

.sidewidth p {
    text-align: center;
}

.beakerstyle.firstimg {
    width: 53%;
	position: absolute;
}

.secondimg {
    opacity: 0;
    width: 53%;
}

.thirdimg {
    opacity: 0;
    width: 53%;
}

.fourthimg {
    opacity: 0;
    width: 53%;
}

.imageblock.sideimage.animate {
    height: 62%;
    top: 0;
    width: 47%;
}
.imageblock.sideimage.animate .firstimg {
      left: -9%;
    top: -13%;
    width: 100%;
}

label.one {
    right: 48%;
    top: 14%;
	color:#089DE3;
}

label.two {
    left: 24%;
    top: 82%;
	color:#089DE3;
}

label.three {
    left: 75%;
    top: 82%;
	color:#089DE3;
}


.spriteimg .sum {
    color: #f58220;
    font-size: 1.6em;
    left: 45%;
    top: 59%;
	display:none;
}


.spriteimg{
	
	background: url("../images/page1/180/angle-sprite.png");
	width:540px;
	height:424px;
	-webkit-animation: play 3.0s steps(9) forwards;
       -moz-animation: play 3.0s steps(9) forwards;
        -ms-animation: play 3.0s steps(9) forwards;
         -o-animation: play 3.0s steps(9) forwards;
            animation: play 3.0s steps(9) forwards;
	

}

@-webkit-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@-moz-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@-ms-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@-o-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}




.spriteimg2{
	
	background: url("../images/page1/180/angle-sprite.png");
	width:540px;
	height:424px;
	-webkit-animation: play 3.0s steps(9) reverse;
       -moz-animation: play 3.0s steps(9) reverse;
        -ms-animation: play 3.0s steps(9) reverse;
         -o-animation: play 3.0s steps(9) reverse;
            animation: play 3.0s steps(9) reverse;
	

}

@-webkit-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@-moz-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@-ms-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@-o-keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

@keyframes play {
   from { background-position: 0px 0px; }
     to { background-position: -4860px 0px; }
}

/*video*/
.equilateral {
    width: 60%;
}

.iso {
    width: 60%;
}
.sca {
    width: 60%;
}
/*vdo end*/

.subtitle p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

label.use1 {
    left: 6%;
    top: 100%;
    width: 25%;
}

label.use2 {
    left: 37%;
    top: 100%;
    width: 25%;
}

label.use3 {
    left: 68%;
    top: 100%;
    width: 25%;
}

.fiveimgimgtogether{

	margin-bottom:2%;
}

.textblock.sidewidth01 {
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
}

.imageblock.vdolebels {
    top: 93% !important;
}

.label1 {
    left: 40.5%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}

.label2 {
    left: 48.5%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}

.label3 {
    left: 56.5%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}

.label1label7 {
    left: 29%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}

.label2label8 {
    left: 47%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}


.label3label9 {
    left: 59%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}

.label1label10 {
    left: 29%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}

.label2label11 {
    left: 43%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}


.label3label12 {
    left: 56%;
    position: absolute;
    top: 95%;
	color:#51A39D;
}

.fm-vert.fm-frac {
    font-family: Arial;
    font-size: 1.3em !important;
}

.label1label4 {
    color: #51a39d;
    left: 35%;
    position: absolute;
    top: 92%;
}

.label2label5 {
    color: #51a39d;
    left: 50%;
    position: absolute;
    top: 92%;
}
.beakerstyle01{
	
	width:50%;
}
