
<script type="text/javascript">
    $cssLoader('css/shared.css');
    $cssLoader("css/page3.css");
</script>

<div class="sample">
    
   
    
    <div class="board">

    </div>

     <div class="nextBtn"></div>
     <div class="prevBtn"></div>

</div>
<script type="text/x-handlebars-template" id="first-template">
  <div class="firstText">{{fstText}}</div>
{{#if fstText2}}
  <div class="firstText2">{{fstText2}}</div>
{{/if}}
    <div class="first">
        {{#each imgObj}}
        <div class="myImgObj">
            <img src="{{imgsrc}}" class="myExSrc"/>
            <div class="labelObj">{{label}}</div>
        </div>
            {{/each}}
    </div>

    
    
</script>


<script type="text/x-handlebars-template" id="second-template">
  <div class="firstText">{{fstText}}</div>

<div class="first">
    <div class="halfPage">
        <p>{{txt1}}</p>
            {{#each imgObj}}
                <div class="mylabObj">{{label}}</div>
            {{/each}}
    </div>
    <div class="halfPage">
        <p>{{txt2}}</p>
            {{#each imgObj2}}
                <div class="mylabObj">{{label}}</div>
            {{/each}}
    </div>

    <div class="halfPage">
        <p>{{txt3}}</p>
            {{#each imgObj3}}
                <div class="mylabObj">{{label}}</div>
               
            {{/each}}
    </div>

</div>
    
</script>






<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>