.light_page {
  width      : 100%;
  height     : 100%;
  position   : relative;
  overflow   : hidden;
  font-size  : 1.3em;
  background : #fff;
  box-shadow : inset 0 0 30px #f2f2f2;
}

.light_page, .light_page * {
  position : relative;
  margin   : 0;
  padding  : 0;
}

.light_page .nextBtn{
  display  : none;
  position : absolute;
  bottom   : 0%;
  right    : 0%;
  width    : 7%;
  height   : 10%;
}

.light_page .prevBtn{
  display  : none;
  position : absolute;
  bottom   : 0%;
  left     : 0%;
  width    : 7%;
  height   : 10%;
}

/* **********************************************************
************************************************************** */

.board{
  position   : absolute; /*dont know why but relative position: pushes the board down few*/
  top        : 0%;
  left       : 0%;
  width      : 100%;
  height     : 100%;
  text-align : center;
}

/*==============================================
=            how image form on mirror           =
==============================================*/

/*==========  horizontal layout  ==========*/
div.layouthorizontal{
  position : absolute;
  top      : 0%;
  left     : 0%;
  width    : 100%;
  height   : 100%;

  background-image : url("../images/page6/bg1.jpg");
  position         : 0% 0%;
  background-size  : 100% 100%;
}

div.layouthorizontal div.textblock{
  position          : relative;
  margin-top        : 1%;
  /* border         : 1px solid green; */
  top               : 50%;
  left              : 50%;
  transform         : translate(-50%, -50%);
  -moz-transform    : translate(-50%, -50%);
  -webkit-transform : translate(-50%, -50%);
  text-align        : center;
}

div.layouthorizontal p.simpletextstyle{
  display    : table;
  margin     : 0 auto;
  position   : relative;
  margin-top : -10%;
  font-size  : 1.5em;
  text-align : left;
  color      : #B03FA7;
  /* border  : 1px solid red; */
}

div.layouthorizontal div.imageblock{
  position   : relative;
  margin-top : 2%;
  /* border  : 1px solid green; */
}

div.layouthorizontal img.simpleimgstyle{
  display  : table;
  margin   : 0 auto;
  position : relative;
  padding  : 1%;
  width    : 40%;
}

/*==========  vertical layout  ==========*/
div.layoutvertical{
  position : absolute;
  top      : 0%;
  left     : 0%;
  width    : 100%;
  height   : 100%;
}

div.layoutvertical div.headerblock{
    position         : absolute;
    top              : 0%;
    left             : 0%;
    width            : 100%;
    background-color : #CEEAD1;
    border-bottom    : 0.2em solid #DDF6E0;
    font-size        : 1.5em;
}

div.layoutvertical p.headertextstyle{
    position : relative;
    color    : #D76488;
    padding  : 1.5% 0% 1.2% 0%;
}

div.layoutvertical div.textblock{
    position : absolute;
    top      : 50%;
    left     : 50%;
    width    : 50%;
  	/* vertically center whole text block */
    transform         : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -webkit-transform : translateY(-50%);
    text-align        : center;
    /*border          : 1px solid green;*/
}

div.layoutvertical p.simpletextstyle{
  display    : table;
  margin     : 0 auto;
  position   : relative;
  margin-top : 1%;
  padding    : 1%;
  font-size  : 1.2em;
  text-align : left;
  /* border  : 1px solid red; */
}

div.layoutvertical div.imageblock{
  position          : absolute;
  top               : 50%;
  left              : 3%;
  width             : 50%;
  transform         : translateY(-50%);
  -moz-transform    : translateY(-50%);
  -webkit-transform : translateY(-50%);
  /*border          : 1px solid green; */
}

div.layoutvertical img.simpleimgstyle{
  display  : table;
  margin   : 0 auto;
  position : relative;
  padding  : 1%;
  width    : 80%;
}

p.onlyparatextstyle,
p.paratextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 3%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    background-color : rgb(245, 242, 199);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.onlyparatextstyle{
  text-align: center;
}

p.sideboxtextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 5% 5%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    background-color : #FFFBD8;
    
    border        : 0.15em solid #6AD6FB;
    border-radius : 5px;
}

p.bottomparatextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 2% 5%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    color            : black;
    background-color : rgb(198, 234, 248);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle{
    display    : table;
    margin     : 0 auto;
    position   : relative;
    margin-top : 1%;
    padding    : 4%;
    font-size  : 1.4em;
    text-align : left;
    
    /* svg image bg pulled from common images folder */
    background        : url(../../../../../images/backgrounds/polygonbackground.svg);
    background-repeat : no-repeat;
    background-size   : 100% 100%;
}

/*-----  how image form on mirror  ------*/

/*=====================================
=            svg layout            =
=====================================*/
div.svglayout{
    position : relative;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
}

.svgheadingstyle{
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 100%;
    padding          : 2% 2%;
    font-size        : 1.3em;
    color            : rgb(238, 110, 115);
    background-color : #CEEAD1;
    border-bottom    : 0.2em solid #DDF6E0;
}

div.svgwrapper{
    position : relative;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    /*border   : 1px solid blue;*/
}


div.svgcontainer{
    position         : absolute;
    top              : 17%;
    left             : 0%;
    width            : 100%;
    height           : 80%;
    background-color : white;
    /*border         : 1px solid blue;*/
}

[id$='ray']{
    stroke-dasharray  : 390;
    stroke-dashoffset : 390;
    stroke-width      : 2;
 }

 #arrowgroup{
    opacity : 0;
 } 


@keyframes lineanimationkeyframe {  
  to {
    stroke-dashoffset : 0;
  }
}

 .lineanimation{
    animation: lineanimationkeyframe 2s 1 linear forwards;
 }

 @keyframes arrowanimationkeyframe {  
    to {
      opacity : 1;
    }
  }

 .arrowanimation{
    animation: arrowanimationkeyframe 0.5s 1 linear forwards;
 }

#imagebutterfly,
#raygroupbutterfly,
#lightbeam{
    opacity: 0;
}

@keyframes raydigramimageanimationkeyframe {  
  to {
    opacity : 1;
  }
}

.raydigramimageanimation{
    animation: raydigramimageanimationkeyframe 1s 1 linear forwards;
}

.beamanimation{
    animation: raydigramimageanimationkeyframe 2s 1s 1 linear forwards;
}

.raygroupbutterflyanimation{
    animation: raydigramimageanimationkeyframe 0.5s 1 linear forwards;
}

[id^='dotted']{
    stroke-dasharray  : 145;
    stroke-dashoffset : 145;
    stroke-width      : 2;
    opacity           : 0;
}

@keyframes dottedlineanimationkeyframe {  
  10% {
     stroke-dasharray : 3;
  }

  100% {
     stroke-dasharray : 3;
     opacity : 1;
  }
}

.dottedlineanimation{
    animation: dottedlineanimationkeyframe 0.5s 1 linear forwards;
 }

/*=====  End of svg layout  ======*/