.light_page {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.light_page, .light_page * {
	position: relative;
	margin: 0;
	padding: 0;
}

.light_page .nextBtn{
	display: none;
	position: absolute;
	bottom:0%;
	right:0%;
	width: 7%;
	height: 10%;	
}

.light_page .prevBtn{
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;	
}

/* **********************************************************
************************************************************** */

.board{
	position   : absolute;
	top        : 0%;
	left       : 0%;
	width      : 100%;
	height     : 100%;
	text-align : center;
}

/*==============================================
=            Horizontal Layout            =
==============================================*/
div.layouthorizontal{
	position          : relative;	
	top               : 50%;
	left              : 50%;
	transform         : translate(-50%, -50%);
	-moz-transform    : translate(-50%, -50%);
	-webkit-transform : translate(-50%, -50%);
	text-align        : center;
}

div.layouthorizontal.coverboardfull{
	position            : absolute;	
	top                 : 0%;
	left                : 0%;
	width               : 100%;
	height              : 100%;
	transform           : none;
	-moz-transform      : none;
	-webkit-transform   : none;
	text-align          : center;
	background-image    : url("../images/page8/bg1.jpg");
	background-position : 0% 0%;
	background-size     : 100% 100%;
}

div.layouthorizontal div.textblock{
	position:relative;
	margin-top: 1%;
	/* border:1px solid green; */
}

div.layouthorizontal p.simpletextstyle{
	display:table;
	margin:0 auto;
	position:relative;
	margin-top: 1%;
	padding:1%;
	font-size: 1.2em;
	text-align: left;
	/* border:1px solid red; */
}

div.layouthorizontal p.simpletextstyle.textatbottom{
	margin-top: 0%;
	width:85%;
	font-size: 1.1em;
	padding:0.2% 1%;
}

div.layouthorizontal p.bulkytextstyletofitscreen{
	margin-top: 0%;
	font-size: 1.1em;
	padding:0.2% 1%;
}

div.layouthorizontal p.bigheadingtextstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	font-size: 1.3em;
	font-weight: bold;
	/* border:1px solid red; */
}

div.layouthorizontal p.mediumheadingtextstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	font-size: 1.3em;
	font-weight: bold;
	/* border:1px solid red; */
}

div.layouthorizontal div.imageblock{
	position:relative;
	margin-top: 2%;
	/* border:1px solid green; */
}

div.layouthorizontal img.simpleimgstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	width:40%;
}

div.layouthorizontal img.simpleimgstyle.squeezeimage{
	width:30%;
}

div.layouthorizontal div.textlistblock{
	display:table;
	margin:0 auto;
	position: relative;
	margin-top: 1%;
	padding:0.5% 5%;
	text-align: left;
}

div.layouthorizontal div.textlistblock ol{
	font-size: 1.2em;
	font-weight: bold;
}

div.layouthorizontal div.textlistblock ol ul{
	font-size: 0.8em;
	list-style-type: disc;
	list-style-position: inside;
	font-weight: normal;
	color:grey;
}

p.singleparawithimagetextstyle{
    display          : table;
    margin           : 0 auto;
    position         : relative;
    padding          : 3%;
    width            : 100%;
    font-size        : 1.2em;
    text-align       : center;
    color            : black;
    background-color : rgb(198, 234, 248);
}

p.basictextstyle{
    display    : table;
    margin     : 0 auto;
    position   : relative;
    width      : 100%;
    font-size  : 1.3em;
    text-align : center;
    margin-top : 10%;
    color      : black;
}

p.basictextstyle span{
    color : #BD6DE7;
}

p.onlytextstyle{
    display    : table;
    margin     : 0 auto;
    position   : relative;
    width      : 100%;
    font-size  : 1.7em;
    text-align : center;
    margin-top : 27%;
    color      : black;
}

p.onlyparatextstyle,
p.paratextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 3%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    background-color : rgb(245, 242, 199);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.onlyparatextstyle{
	text-align: center;
}

p.bottomparatextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 2% 5%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    color            : black;
    background-color : rgb(198, 234, 248);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle{
    display:table;
    margin:0 auto;
    position:relative;
    margin-top: 1%;
    padding:4%;
    font-size: 1.4em;
    text-align: left;
    
    /* svg image bg pulled from common images folder */
    background:url(../../../images/backgrounds/polygonbackground.svg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

/*-----  End of Horizontal Layout  ------*/

/*====================================================================
=            custom classes to override the normalstyling            =
====================================================================*/

/*==========  labels for images and custom image block  ==========*/

div.layouthorizontal div.imageblock.sphericalmirrorslabelled{
	position:relative;
	margin-top: 15%;
	height : 50%;
	/*border:1px solid green; */
}

div.layouthorizontal div.imageblock.sphericalmirrorslabelled img{
	top:5%;
}

div.layouthorizontal div.imageblock.sphericalmirrorslabelled label{
	position:absolute;
	
	/*border:1px solid green; */
}

div.layouthorizontal div.imageblock.sphericalmirrorslabelled label.convexcaption{
	position:absolute;
	bottom:1%; 
	left:35%;
}

div.layouthorizontal div.imageblock.sphericalmirrorslabelled label.concavecaption{
	position:absolute;
	bottom:1%; 
	left:56%;
}

div.layouthorizontal div.imageblock.sphericalmirrorslabelled label.concavelabel{
	position:absolute;
	top:0%; 
	left:50%;
}

div.layouthorizontal div.imageblock.sphericalmirrorslabelled label.convexlabel{
	position:absolute;
	top:0%; 
	right:60%;
}

div.layouthorizontal div.imageblock.spoonlabelled{
	position:relative;
	margin-top: 5%;
	height : 50%;
	/*border:1px solid green; */
}

div.layouthorizontal div.imageblock.spoonlabelled img{
	width:23%;
}

div.layouthorizontal div.imageblock.spoonlabelled label{
	position:absolute;
	top:33%;
	/*border:1px solid green; */
}

div.layouthorizontal div.imageblock.spoonlabelled label.convexcaption{	
	left:61%;
}

div.layouthorizontal div.imageblock.spoonlabelled label.concavecaption{
	right:61%;
}

/*-----  End of custom classes to override the normalstyling  ------*/

/*==============================================
=            Specific element style            =
==============================================*/
div.layouthorizontal img.concaveconvexspoonstyle{
	padding-top: 3%;
	width:40%;
	border-radius: 1.7em;
}

/*=====  End of Specific element style  ======*/


