.light_page {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;

}

.light_page, .light_page * {
	position: relative;
	margin: 0;
	padding: 0;
}

.light_page .nextBtn{
	display: none;
	position: absolute;
	bottom:0%;
	right:0%;
	width: 7%;
	height: 10%;	
}

.light_page .prevBtn{
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;	
}

/* **********************************************************
************************************************************** */

.board{
	position: absolute;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

/*==============================================
=            Horizontal Layout            =
==============================================*/
div.layouthorizontal{
	position : absolute;	
	top      : 0%;
	left     : 0%;
	width    : 100%;
	height   : 100%;

	background-image : url("../images/page6/bg1.jpg");
	position         : 0% 0%;
	background-size  : 100% 100%;
}

div.layouthorizontal div.textblock{
	position:relative;
	margin-top: 1%;
	/* border:1px solid green; */
}

div.layouthorizontal div.textblock.somemargintop{
	margin-top: 10%;
	/* border:1px solid green; */
}

div.layouthorizontal p.simpletextstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	font-size  : 1.5em;
	text-align : left;
	color      : #B03FA7;
	padding : 0% 3%;
	/* border  : 1px solid red; */
}

div.layouthorizontal p.simpletextstyle.textatbottom{
	margin-top: 0%;
	width:85%;
	font-size: 1.1em;
	padding:0.2% 1%;
}

div.layouthorizontal p.bulkytextstyletofitscreen{
	margin-top: 0%;
	font-size: 1.1em;
	padding:0.2% 1%;
}

div.layouthorizontal p.bigheadingtextstyle{
	display     : table;
    margin      : 0 auto;
    position    : relative;
    padding     : 1%;
    font-size   : 1.6em;
    font-weight : bold;
    /* border   : 1px solid red; */

    color : rgb(1, 174, 250);
}

div.layouthorizontal p.simpletextexplainstyle{
	display    : table;
	margin     : 0 auto;
	position   : relative;
	padding    : 0% 3%;
	font-size  : 1.3em;
	text-align : left;
	/* border  : 1px solid red; */

    color : #333333;
}

div.layouthorizontal p.mediumheadingtextstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	font-size: 1.3em;
	font-weight: bold;
	/* border:1px solid red; */
}

div.layouthorizontal div.imageblock{
	position:relative;
	margin-top: 2%;
	/* border:1px solid green; */
}

div.layouthorizontal img.simpleimgstyle{
	display:table;
	margin:0 auto;
	position:relative;
	padding:1%;
	width:40%;
}

div.layouthorizontal img.simpleimgstyle.squeezeimage{
	width:30%;
}

div.layouthorizontal div.textlistblock{
	display:table;
	margin:0 auto;
	position: relative;
	margin-top: 1%;
	padding:0.5% 5%;
	text-align: left;
}

div.layouthorizontal div.textlistblock ol{
	font-size: 1.4em;
	font-weight: bold;
}

div.layouthorizontal div.textlistblock ol ul{
	font-size: 0.8em;
	list-style-type: disc;
	list-style-position: inside;
	font-weight: normal;
	color:#333333;
}

p.onlyparatextstyle,
p.paratextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 3%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    background-color : rgb(245, 242, 199);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.onlyparatextstyle{
    text-align: center;
}

p.bottomparatextstyle{
    display          : table;
    margin           : 0 2%;
    position         : relative;
    padding          : 2% 5%;
    width            : 95%;
    font-size        : 1.2em;
    text-align       : left;
    color            : black;
    background-color : rgb(198, 234, 248);

    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle{
    display:table;
    margin:0 auto;
    position:relative;
    margin-top: 1%;
    padding:4%;
    font-size: 1.4em;
    text-align: left;
    
    /* svg image bg pulled from common images folder */
    background:url(../../../../../images/backgrounds/polygonbackground.svg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

/*-----  End of Horizontal Layout  ------*/

/*=======================================
=            Property Layout            =
=======================================*/
div.propertylayout{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

div.propertyblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

div.propertylistcontainer{
	position: absolute;
	top: 17.5%;
	left: 2%;
	width: 30%;
	height: 65%;
	border:2px solid rgb(147, 82, 52);
}

div.propertylistcontainer h4{
	position: relative;
	color: rgb(255, 255, 255);
	background: rgb(147, 82, 52) none repeat scroll 0% 0%;
	text-align: center;
	padding: 2% 2%;
	font-size: 1em;
}

div.propertylistcontainer p{
	position:relative;
	padding: 3% 2%;
	color: rgb(0, 0, 0);
	font-size: 1.1em;
}

div.propertylistcontainer p:nth-of-type(n+2){
	margin-top: 20%;
}

div.propertylistcontainer p span{
	position: absolute;
	left:0;
	padding: 1% 3%;
	color: rgb(255, 255, 255);
	background-color: rgb(147, 82, 52);
	font-weight: bold;
}

div.propertylistcontainer p small{
	position: absolute;
	left: 15%;
	color: rgb(0, 0, 0);
	text-align: left;
}

div.propertylayout div.explainpropertycontainer{
	position:absolute;
	left: 35%;
	top:10%;
	height:87%;
	width:65%;
}

div.propertylayout div.explainpropertycontainer div.mainproperty{
	position:absolute;
	width:100%;
	font-size: 1.2em;
    border-top: 5px solid rgb(255, 146, 7);
}


div.propertylayout div.explainpropertycontainer div.mainproperty span{
	position: absolute;
	left:0;
	padding: 2% 2% 0.5%;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 146, 7);
	font-weight: bold;
}

div.propertylayout div.explainpropertycontainer div.mainproperty p{
	position: absolute;
	padding-top: 1%;
	left: 9%;
	color: rgb(0, 0, 0);
}

div.propertylayout div.explainpropertycontainer div.propertyexplain{
	position: absolute;
	top:20%;
	left:0%;
	width:100%;
	height:80%;
}

div.propertylayout div.explainpropertycontainer div.propertyexplain img{
	position: relative;
	top:0%;
	left:0%;
	width:40%;
}

div.propertylayout div.explainpropertycontainer div.propertyexplain p{
	position: relative;
	top:5%;
	left:0%;
	font-size: 1.0em;
	text-align: left;
}

/*-----  End of Property Layout  ------*/


/*=======================================
=            Property Summary Layout            =
=======================================*/
div.propertysummarylayout{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

div.propertysummaryblock{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	text-align: center;
}

div.propertysummaryblock ul{
	display:inline-block;
	position: relative;	
	padding:0 0 3% 0;
  	border:2px solid rgb(147, 82, 52);
}

div.propertysummaryblock ul div{
	background: rgb(147, 82, 52) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 1.3em;
	font-weight: normal;
	padding: 3% 5%;
}

div.propertysummaryblock ul li{
	position: relative;
	color: rgb(42, 101, 88);
	padding: 3% 2%;
	width:100%;
}

div.propertysummaryblock ul li:nth-of-type(n+2){
	margin-top:5%;
}

div.propertysummaryblock ul li span{
	position: absolute;
	/*text-align:left;*/
    padding: 1.5%;
    left:0;
    color: rgb(255, 255, 255);
    background-color: rgb(147, 82, 52);
    font-weight: bold;
}

div.propertysummaryblock ul li p{
	    position: absolute;
    padding: 1%;
    left: 7%;
    color: rgb(0, 0, 0);
}



/*-----  End of Property Summary Layout  ------*/
