.light_page {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.light_page, .light_page * {
	position: relative;
	margin: 0;
	padding: 0;
}

.light_page .nextBtn{
	display: none;
	position: absolute;
	bottom:0%;
	right:1%;
	width: 7%;
	height: 10%;	
}

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
	/*border: 1px solid red;*/
}

/*=======================================
=            Diy Splash Slide            =
=======================================*/

.diy{
	position: relative;	
	width:70%;
	height: 50%;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);

  	/*border:1px solid red;*/
}

.diy > figure{
	position:relative;
	display:table;
	margin:0 auto;
	width: 40%;
	/*border:1px solid red;*/

}

.diy > figure > img{
	width: 100%;
}

.diy > figure > figcaption{
	position: absolute;
	top:7%;
	left:5%;
	width: 90%;
	margin: 0 auto;
	font-size: 1.8em;
	color:#C98865;
	/*border:1px solid red;*/
}

.diy > p{
	position: relative;
	color:black;
	margin-top: 3%;
	font-size: 1.5em;
	padding: 0% 2%;
}

/*-----  End of Diy Splash Slide  ------*/

/*===========================================
=            Drag and drop slide            =
===========================================*/

.recognizemirror{
	position:relative;
	width:100%;
	height: 100%;
	/*border:1px solid red;*/
}
	/*==========  Small diy section  ==========*/

.diySmall{
	position : relative;
	top      : 0%;
	width    : 100%;
	height   : 17%;
	padding  : 0% 0%;
	background-color: #E7E9FE;
}

.diySmall > figure{
	position : relative;
	top      : 0%;
	left     : 2%;
	width    : 15%;
	height   : 150%;
	border-radius: 50%;
	background-color: #E7E9FE;
}

.diySmall > figure > img{
	position : relative;
	top      : 10%;
	left     : 10%;
	width    : 80%;
	/*border : 1px solid red;*/
}

.diySmall > figure > figcaption{
	position  : absolute;
	top       : 15%;
	left      : 30%;
	width     : 53%;
	font-size : 0.7em;
	color     : #666663;

	/*border:1px solid red;*/
}

.diySmall > p{
	position   : absolute;
	top        : 0%;
	left       : 19%;
	width      : 80%;
	padding    : 1% 1%;
	font-size  : 1.1em;
	text-align : left;
	color      : #555456;
	/*border : 1px solid red;*/
}

/*==========  Drag and Drop area section  ==========*/

.droppablecollector{
	position:relative;
	margin-top: 10%; /* set this as per your taste */
	width: 100%;
	height: 35%; /* set this as per your taste */
	/*border: 1px solid red;*/
}

.droppablecollector > figure{
	position:relative;
	left : 0%;
	top : 0%;
	width:20%;
	height: 100%;
	float:left;	
	margin-left: 10%;
	/*border: 1px solid blue;*/
}

.droppablecollector > figure > img{
	position:relative;
	width:100%;
	height: 70%;
	border: 2px solid #ccc;
	border-radius:5px;
}

.droppablecollector > figure > figcaption{
	position: relative;
	top:1%;
	height: 25%;
	width:100%;
	padding:5%;
	border-top:2px solid #5C9Fa2;
	border-left:2px solid #5C9Fa2;
	border-right:2px solid #9DE9F6;
	border-bottom:2px solid #9DE9F6;
	background-color: #E8E8E8;
}

.droppablecollector > figure > figcaption.droppableafterdrop{
	border:2px solid #85E8F8;
	border-radius: 2px;
	background-color: #00B8D4;
	color: white;
}

.draggablecollector{
	position: relative;
	margin-top: 7%;
	width: 100%;
	left:0%;
	/*border: 1px solid red;*/
}

.draggablecollector > p{
	position:relative;
	width:20%;
	border-radius: 4px;
	padding: 1% 1%;
	background-color: white;
	cursor: move;
	color: white;
	float:left;
	margin-left:10%;

	border:2px outset #00B8D4;
	background-color: #00B8D4;
}

.draggablecollector > h4{
	display: none;
	padding:0.2em 0.4em;
	font-size: 1.4em;

	border: 2px solid #36B1BF;
	border-radius: 4px 4px 4px 4px;
	background-color: #4AD9D9;
}

/*-----  End of Drag and drop slide  ------*/


