html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
  z-index: 99;
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.6em;
    box-shadow: inset 0 0 30px #f2f2f2;
}
.totalsequence {
    border: green 0.3vmin solid;
}

.activeTimeLine {
    background: green;
}

/*page4 starts */

.textblock{
  z-index: 99;
  font-family: sniglet;
}
.angel {
    width: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.toptext {
    position: absolute;
    top: 3%;
    width: 100%;
    font-size: 3vw;
    padding: 1%;
}
.image1 {
    position: absolute;
    width: 30%;
    left: 10%;
    bottom: 6%;
}
.image2 {
    position: absolute;
    width: 30%;
    left: 65%;
    bottom: 6%;
}
.angel1 {
    width: 8%;
    position: absolute;
    left: 4%;
    top: 3%;
}
.disease {
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
}
.green{
  background:rgb(129,185,154) ;
  background-size: 100% 100%;
}
.white{
  color: white;
}

.padding{
  padding: 4%;
}

.changingbackgrounds{
  animation:changebg 2s infinite;
}

@keyframes changebg {
  0%{
    background: url("../images/healthyfood01.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  50%{
      background: url("../images/healthyfood01.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
  }
  51%{
    background: url("../images/healthyfood02.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  100%{
    background: url("../images/healthyfood02.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
.dialogue {
    opacity: .9 !important;
    display: block;
    animation: none;
    position: absolute;
    left: 35%;
    top: 14%;
}

.angel2 {
    width: 11%;
    position: absolute;
    left: 36%;
    top: 35%;
}

@media (min-aspect-ratio: 4/3){
  .toptext{
    font-size: 3.5vmin;
  }
}

/*page4 ends*/
