html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
  z-index: 99;
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.6em;
    box-shadow: inset 0 0 30px #f2f2f2;
}
.totalsequence {
    border: green 0.3vmin solid;
}

.activeTimeLine {
    background: green;
}

/*page3 starts */

.textblock{
  z-index: 99;
}
.stablebg1{
    background-repeat:no-repeat !important;
    background:url("../images/bg_for_egg.png");
    background-size: cover;
}
.stablebg2{
    background-repeat:no-repeat !important;
    background:linear-gradient(0deg,rgba(249,249,251,.5),rgba(249,249,251,.5)),url("../images/bg_for_tortile01.png");
    background-size: cover;
}
.stablebg3{
    background-repeat:no-repeat !important;
    background:url("../images/bg_for_tortile.png");
    background-size: cover;
}
.birdbg{
    background-repeat:no-repeat !important;
    background:linear-gradient(0deg,rgba(249,249,251,.5),rgba(249,249,251,.5)),url("../images/bg_for_bird.png");
    background-size: cover;
}
.birdbg1{
    background-repeat:no-repeat !important;
    background:url("../images/bg_for_bird.png");
    background-size: cover;
}
.henbg{
    background-repeat:no-repeat !important;
    background:linear-gradient(0deg,rgba(249,249,251,.5),rgba(249,249,251,.5)),url("../images/bg_for_hen01.png");
    background-size: cover;
}
.henbg1{
    background-repeat:no-repeat !important;
    background:url("../images/bg_for_hen.png");
    background-size: cover;
}
.frogbg{
    background-repeat:no-repeat !important;
    background:linear-gradient(0deg,rgba(249,249,251,.5),rgba(249,249,251,.5)),url("../images/bg_for_frog01.png");
    background-size: cover;
}
.frogbg1{
    background-repeat:no-repeat !important;
    background:url("../images/bg_for_frog.png");
    background-size: cover;
}
.returnshomebg{
    background-repeat:no-repeat !important;
    background:url("../images/mum_return_home.png");
    background-size: cover;
}

.bird {
    top: 75%;
    position: absolute;
    width: 12%;
    left: 63%;
}
.top_text {
    position: absolute;
    top: 6%;
    color: white;
    background: rgb(51,161,72);
    padding: .5%;
    border-top-right-radius: .4em;
    left: 0;
    border-bottom-right-radius: .4em;
    animation:fadein .5s ease-in forwards;
    font-size: 1.2vw;
    max-width: 50%;
}
.centerimage {
    position: absolute;
    width: 35%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    animation: fadein 1s ease-in forwards;
    background: rgb(106,168,79);
    border-radius: 25%;
    padding: 2%;
}
.centerimage5 {
    position: absolute;
    width: 35%;
    transform: translate(-50%,-50%);
    left: 20%;
    top: 50%;
    background: rgb(106,168,79);
    border-radius: 25%;
    padding: 2%;
}
.centerimage1 {
    position: absolute;
    width: 14%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 78%;
    animation: fadein 1s ease-in forwards;
}
.centerimage2 {
    position: absolute;
    width: 14%;
    transform: translate(-50%,-50%);
    left: 35%;
    top: 78%;
    animation: fadein 1s ease-in forwards;
}
.centerimage4 {
    position: absolute;
    width: 12%;
    transform: translate(-50%,-50%);
    left: 10%;
    top: 50%;
}
.extremebottom_text {
    bottom: 0;
    position: absolute;
    padding: 1%;
    background: #679207;
    color: white;
    animation: fadein .4s ease-in forwards;
    font-size: 1.2vw;
    color: white !important;
}
.yellow{
    color:rgb(249,209,31);
}
.greenbg{
    background:rgb(185,204,123);
}
.gray{
    color:rgb(184,17,24);
}
.info_title {
    position: absolute;
    width: 100%;
    animation: fadein .8s ease-in forwards;
    top: 4%;
}
.mid_fairy {
    width: 15%;
    left: 40%;
    position: absolute;
    top: 63%;
}
.fadein1s{
  animation: fadein 1s ease-in forwards;
}
.info {
    background: rgb(20, 146, 142);
    padding: 1%;
    color: white;
    top: 20%;
    position: absolute;
    width: 90%;
    left: 5%;
    border-radius: 1em;
    animation: fadein 1.5s ease-in forwards;
    font-size: 1.2vw;
}
.feelingbadbird{
    position: absolute;
    width: 17%;
    transform: translate(-50%,-50%);
    left: 90%;
    top: 70%;
}
/*for gohi cycle*/
.gohicycle1,.gohicycle2,.gohicycle3,.gohicycle4,.gohicycle5{
    position: absolute;
    width: 18%;
    opacity: 0;
}
.gohicycle1 {
    left: 41%;
    top: 4%;
}
.gohicycle2 {
    left: 64%;
    top: 22%;
}
.gohicycle3 {
    left: 54%;
    top: 55%;
}
.gohicycle4 {
    top: 55%;
    left: 28%;
}
.gohicycle5 {
    top: 22%;
    left: 19%;
}
.a1,.a2,.a3,.a4,.a5{
    position: absolute;
    width: 5%;
    opacity: 0;
}
.a1 {
    left: 33%;
    top: 13%;
}
.a2 {
    left: 62%;
    top: 16%;
}
.a3 {
    top: 53%;
    left: 70%;
}
.a4 {
    top: 73%;
    transform: rotate(-48deg);
    left: 48%;
}
.a5 {
    top: 54%;
    left: 25%;
    transform: rotate(220deg);
}
/*gohicycle ends*/
.blue{
    background:rgb(138,218,214);
}
.fairy {
    position: absolute;
    width: 11%;
    left: 2%;
    top: 61%;
}
.nextblue{
    background:rgb(141,183,222);
}
.nextblue1{
    background:rgb(169,227,254);
}
.returninghome {
    position: absolute;
    width: 18%;
    top: 65%;
    left: 11%;
}
/*cycle of chicken*/
.chick {
    position: absolute;
    width: 22%;
    top: 51%;
    left: 13%;
}
.chick1, .chick2, .chick3, .chick4 {
    position: absolute;
    width: 15%;
    top: 12%;
}
.chick1 {
    left: 13%;
    animation:fadein .5s ease-in forwards;
}
.chick2 {
    left: 33%;
    animation:fadein 1.5s ease-in forwards;
}
.chick3 {
    left: 53%;
    animation:fadein 2.5s ease-in forwards;
}
.chick4 {
    left: 73%;
    animation:fadein 3.5s ease-in forwards;
}
.b1,.b2,.b3{
    position: absolute;
    width: 5%;
    top: 17%;
}
.b1 {
    left: 28.3%;
    animation:fadein 1s ease-in forwards;
}
.b2 {
    left: 48.3%;
    animation:fadein 2s ease-in forwards;
}
.b3 {
    animation:fadein 3s ease-in forwards;
    left: 68.3%;
}
.box_text {
    position: absolute;
    color: white;
    width: 51%;
    background: rgb(140, 162, 70);
    padding: 2%;
    border-radius: .7em;
    top: 69%;
    left: 63%;
    font-size: 1.6vw;
    transform: translate(-50%,-50%);
}
/*cycle of chicken ends here*/
@keyframes fadein {
0%{
    opacity: 0;
}
  100%{
    opacity:1;
  }
}
.whitishgreen{
    background:rgb(185,204,123);
}
@media (min-aspect-ratio: 4/3){
  .lesson-title{
    font-size: 6vmin;
  }
  .question{
    font-size: 4.5vmin;
  }
  .top_text {
      font-size:4.3vmin;
  }
  .extremebottom_text,.langdial{
    font-size:3.4vmin;
  }
  .info,.box_text{
    font-size: 4vmin;
  }

  .info_title{
    font-size: 7vmin;
  }
}
.dial1{
    position: absolute;
    width: 32%;
    top: 30%;
    left: 18%;
    height: 22%;
    text-align: center;
    padding: 1%;
}
.dial2{
    position: absolute;
    width: 34%;
    top: 16%;
    left: 63%;
}
.box1{
    position: absolute;
    width: 32%;
    bottom: 39%;
    left: 18%;
}
.box2{
    position: absolute;
    width: 39%;
    bottom: 48%;
    transform: scaleX(-1);
    left: 60%;
}
#span_speec_text{
    color:white !important;
}

/*page2 ends*/
