html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.img1{
    position: absolute;
    width: 102%;
    left: 0;
}
p{
  z-index: 99;
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.6em;
    box-shadow: inset 0 0 30px #f2f2f2;
}
.totalsequence {
    border: green 0.3vmin solid;
}

.activeTimeLine {
    background: green;
}

/*page2 starts */
.textblock{
    z-index: 99 !important;
}
.blue{
    background:rgb(138,218,214);
}
.lesson-title {
    position: absolute;
    font-size: 3vw;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.skyblue{
    background: rgb(77, 132, 183);
}
.centerimage {
    position: absolute;
    width: 30%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    animation: fadein 1s ease-in forwards;

}
.question {
    position: absolute;
    color: white;
    width: 100%;
    top: 5%;
    font-size: 1.7vw;
    left: 0%;
}
.rightclick {
    position: absolute;
    color: white;
    font-size: 1.7vw;
    top: 80%;
    left: 21%;
    background: rgb(44, 92, 137);
    padding: 2%;
    border-radius: 1em;
    box-shadow: .1em .1em .1em rgba(255, 255, 255, 0.2);
    z-index: 99 !important;
    cursor: pointer;
}
.wrongclick {
    position: absolute;
    color: white;
    font-size: 1.7vw;
    top: 80%;
    left: 62%;
    background: rgb(44, 92, 137);
    padding: 2%;
    border-radius: 1em;
    box-shadow: .1em .1em .1em rgba(255, 255, 255, 0.2);
    z-index: 99 !important;
    cursor: pointer;
}
.rightclick:hover ,.wrongclick:hover{
    background-color: rgba(44, 92, 137,.85);;
}
.cowcycle1 {
    top: 6%;
    left: 41%;
}
.cowcycle1,.cowcycle2,.cowcycle3,.cowcycle4 {
    position: absolute;
    width: 20%;
    opacity: 0;
}
.arrow1, .arrow2, .arrow3, .arrow4 {
    position: absolute;
    width: 5%;
    opacity: 0;
}
.arrow2 {
    top: 19%;
    left: 63%;
}
.arrow3 {
    top: 61%;
    left: 64%;
}
.arrow4 {
    top: 61%;
    left: 35%;
}
.cowcycle2 {
    top: 27%;
    left: 61%;
}
.cowcycle3 {
    top: 48%;
    left: 41%;
}
.cowcycle4 {
    top: 26%;
    left: 19%;
}
.arrow1 {
    left: 33%;
    top: 19%;
}

/*for gohi cycle*/
.gohicycle1,.gohicycle2,.gohicycle3,.gohicycle4,.gohicycle5{
    position: absolute;
    width: 18%;
    opacity: 0;
}
.gohicycle1 {
    left: 41%;
    top: 4%;
}
.gohicycle2 {
    left: 64%;
    top: 22%;
}
.gohicycle3 {
    left: 54%;
    top: 55%;
}
.gohicycle4 {
    top: 55%;
    left: 28%;
}
.gohicycle5 {
    top: 22%;
    left: 19%;
}
.a1,.a2,.a3,.a4,.a5{
    position: absolute;
    width: 5%;
    opacity: 0;
}
.a1 {
    left: 33%;
    top: 13%;
}
.a2 {
    left: 62%;
    top: 16%;
}
.a3 {
    top: 53%;
    left: 70%;
}
.a4 {
    top: 75%;
    transform: rotate(-48deg);
    left: 48%;
}
.a5 {
    top: 54%;
    left: 25%;
    transform: rotate(220deg);
}
/*gohicycle ends*/
@keyframes fadein {
    0%{
        opacity: 0;
    }
  100%{
    opacity:1;
  }
}

@media (min-aspect-ratio: 4/3){
  .lesson-title{
    font-size: 4vw;
  }
  .question,.wrongclick,.rightclick{
    font-size:2.5vw;
  }
  .diyfont{
      font-size: 5vw;

  }
}

/*page2 ends*/
