.activity_container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    background: #fff;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position: relative;
    margin: 0;
    padding: 0;
}

.activity_container .nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

.activity_container .prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

 @font-face {
    font-family: MontserratAlternates-Light;
    src: url("../../../../../../fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

@font-face {
    font-family: Museo;
    src: url("../../../../../../fonts/Museo.otf");
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
  z-index: 99;
    margin: 0;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.textblock {
    position: absolute;
    width: 100%;
    top: 7%;
    height: 80%;
}

/*============ exercise template ===================
==================================================== */

.question_img {
    color: #674EA7;
    position: relative;
    top: 18%;
    font-size: 4vmin;
}
.ques {
    font-size: 1.9vw;
    width: 90%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.droppablecontainer:nth-of-type(1) > p {
    background: #1C8D95;
    color: white;
    font-size:2vw;
    left: 1%;
    top: 0%;
    width: 98%;
    padding: 1% !important;
}
.droppablecontainer:nth-of-type(2) > p {
    background: #5B3179;
    color: white;
    font-size: 2vw;
    left: 1%;
    top: 0%;
    width: 98%;
    padding: 1% !important;
}
.optionsdiv_img {
    top: -28%;
    left: 54%;
    width: 50%;
    text-align: center;
    position: relative;
}

.optionscontainer {
    display: inline;
    position: relative;
    height: 100%;
}

.optionscontainer_img {
    position: relative;
    margin-bottom: 15%;
}

.optionscontainer_img:nth-child(1) {
    margin-bottom: 22% !important;
}

.imagestartpos_img {
    width: 9%;
    margin-left: 35%;
    margin-top: 0%;
    position: absolute;
    left: 38%;
    visibility: hidden;
}

.ispforimage {
    position: absolute;
    width: 21%;
    left: 38%;
    top: 550%;
    visibility: hidden;
}

.buttonsel {
    display: inline;
    background-position: 0% 0%;
    color: white;
    margin: 6%;
    font-size: 3vmin;
    height: 10% !important;
    padding: 8% 4%;
}

.circleback {
    background: url(../images/circle.png);
    background-size: 400% 100%;
}

.rectangleback {
    background: url(../images/rectangle.png);
    background-size: 400% 100%;
}

.triangleback {
    background: url(../images/triangle.png);
    background-size: 400% 100%;
    padding: 12% 6% 2% 6%;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover {
    cursor: pointer;
}

.forhover:hover {
    background-position: 300% 0% !important;
}

.wrongans {
    background: #EA9999;
    color: #F66E20;
}

.rightans {
    background: #6AA84F;
}

.circleimg {
    background-image: url(../images/11.jpg) !important;
}

.backtrue {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

div.imageblock {
    position: absolute;
    width: 100%;
    height: 100%;
    /*border     : 1px solid green; */
}


/*
 *
 * Text Block
 *
 */


.hidden {
    display: none!important;
}


/*
 *
 * Droppable Block
 *
 */

div.droppableblock {
    position: absolute;
    bottom: -1%;
    left: 0%;
    height: 59%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1%;
}

.droppablecontainer {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    /*margin: 1%;*/
}

.droppable {
    height: 100%;
    width: 100%;
    border-radius: 2.5vmin;
    border: 2px solid yellow;
}

.droppableheader {
    position: absolute;
    top: 18%;
    height: 80%;
    width: 98%;
    left: 0%;
    margin: 1%;
    border: 4px solid #7F7F7F;
}
.droppable>img, .droppableheader>img {
    max-width: 100%;
    max-height: 100%;
}

.drop_class_1 {
    display: flex;
    flex-flow: row wrap;
}

.drop_class_2 {
    display: flex;
    flex-flow: row wrap;
}

.drop_class_3 {
    background-color: blue;
}

.drop_class_4 {
    background-color: purple;
}

.allimg {
    max-width: 100%;
    max-height: 100%;
}


/*
 *
 * Draggable Block
 *
 */

div.draggableblock {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 30%;
    width: 100%;
    bottom: 59%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1%;
    top: 13%;
}

.draggable {
    flex: 1;
    position: relative;
    z-index: 100;
    cursor: grab;
    overflow: hidden;
    width: 15%;
    margin: 1% 1% 1% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5vmin;
    border: 2px solid #A7C520;
}

.ui-draggable-helper {
    cursor: grab;
    height: 25%;
}

.draggable>img {
    max-width: 100%;
    max-height: 100%;
    /*padding: 1%;*/
}

.dummy_class {
    border-width: 0px!important;
    cursor: auto!important;
}

/*.class_1 {
    background-color: #ffa;
}

.class_2 {
    background-color: #afa;
}

.class_3 {
    background-color: #aaf;
}

.class_4 {
    background-color: #faf;
}*/

.position_1 {
    order: 1;
}

.position_2 {
    order: 2;
}

.position_3 {
    order: 3;
}

.position_4 {
    order: 4;
}
.scoreboard,.exefin,.congratulation {
    display: none;
}
.sliding {
    -webkit-animation: slidein1 1.5s linear 1 forwards;
    animation: slidein1 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein1 {
    from {
        transform: translate(-100%, 0);
    }
}

@keyframes slidein1 {
    from {
        transform: translate(-100%, 0);
    }
}
.monkey{
    position: absolute;
    width: 22%;
    left: 42%;
    top: 12%;
    opacity: 0;
}
.coverpage{
    position: absolute;
    left: 0%;
    width: 101%;
}
.diytext{
    font-size: 3em;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}