<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/common-exercise/np_ex_matching_8.css");
    $cssLoader("exercise/css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            {{#if exerciseblock}}
            {{#each exerciseblock}}
            	<!-- <div class="instruction-div"> -->
                	<p class="insturct {{instruction_class}}">{{{instructiondata}}}</p>
            	<!-- </div> -->

				{{#if draggableblock}}
					<div class="nep_draggableblock {{draggableblockadditionalclass}}">
		                {{#each draggableblock}}
		            		<p class="nep_draggabletext {{draggabletextadditionalclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-name="{{dataname}}">{{{textdata}}}</p>
			            {{/each}}
	            	</div>
	            {{/if}}
	            {{#if droppableblock}}
		            <div class="nep_droppableblock {{droppableblockadditionalclass}}">
		            {{#each droppableblock}}
		            	<div class="nep_droppablediv {{droppabledivadditionalclass}}">
	            			<p class="p1_class {{p1additionalclass}}">{{{p1_data}}}</p>
	            			<p class="p2_class not_matched {{p2additionalclass}}" data-name="{{dataname}}"> </p>
		            	</div>
		            {{/each}}
		            </div>
	            {{/if}}
            {{/each}}

             {{/if}}

             </div>
            </div>
        </script>


<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1_1.js");
</script>
