.bg_full {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

.imageblock, .textblock {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.squirrelisteningimg {
    position: absolute;
    width: 16%;
    top: 55%;
    left: 65%;
    z-index: 119;
}
.rhinoimgdiv {
    position: absolute;
    z-index: 119;
    top: 48%;
    width: 16%;
    left: 24%;
}
.playtime {
    position: absolute;
    font-size: 3vw;
    z-index: 999;
    font-family: sniglet;
    color: white;
    left: 53%;
    top: 60%;
    transform: translateX(-50%);
}
.creamBg{
  background: #E4FFE0;
}
.opnBlk{
  position: absolute;
  right: 0%;
  width: 40%;
  height: 88%;
  background: #FBE4D4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 12%;
}
.image{
  position: relative;
  width: 51%;
}
.qnImage{
  position: absolute;
  width: 60%;
  left: 0%;
  top: 26%;
}
.insTrn{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #66ADDC;
  z-index: 10;
  color: #fff;
  font-family: laila;
  font-size: 6vh;
  padding: 1%;
}
.imagestartpos{
  display: none;
  width: 10%;
  position: absolute;
}

.option:hover{
  transform: scale(1.2);
  cursor: pointer;
}
/*slider*/

.slidercontainer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  top: 15%;
}
.sliderwrapper{
  height: 97%;
  width: 77%;
  overflow: hidden;
}
.innerwrapper{
  width: 500%;
  height: 100%;
  overflow: hidden;
  transform: translateX(-20%);

}
.slider{
  display:inline-block;
  width: 20%;
  height: 100%;
  float: left;
}

.slideimg{
  height: 100%;
}

.prev-button {
    position: absolute;
    z-index: 10;
    top: 37%;
    width: 5%;
    left: 10%;
    cursor: pointer;
}
.next-button {
    position: absolute;
    z-index: 10;
    top: 37%;
    width: 5%;
    left: 85%;
    cursor: pointer;
}
.green{
  background: #66ADDC;
}


.playagain, .mainmenu, .learnagain {
  width: 30%;
  height: 12%;
  top: 80%;
  position: absolute;
  font-family: comfortaa;
  font-size: 2vw;
  padding: 2%;
  cursor: pointer;
  color: black;
  border-radius: 2em;
  background: #F9ACAC;
}
.playagain{
}
.playagain:hover{
  background: #F8901F;
  color: white;

}
 .mainmenu{
   left: 33.333333333%;
 }
 .mainmenu:hover{
   background: #67BC43;
   color: white;

 }
 .learnagain{
   left: 66.6666666666%;
 }
 .learnagain:hover{
   background: #1475BA;
   color: white;

 }
 .btnNavigationSong {
     width: 100%;
     height: 22%;
     top: 77%;
     z-index: 9999;
     position: absolute !important;
   }
@media (min-aspect-ratio: 4/3){
	.sp-1,.sp-2{
		font-size: 3.5vmin;
	}
}
@media (max-aspect-ratio: 4/3){
  .toptxt{
    font-size: 2vw;
  }
}
