/*class to add for next page blink*/
.nextPageBlink
{
	animation-duration: 1s;
  animation-name: nextPage;
  animation-iteration-count: infinite;
}

@keyframes nextPage {
  0% {
    opacity: 0;
    color:yellow;
  }

  25% {
   opacity: 0.3;
   color:green;
  }

  50% {
   opacity: 0.7;
   color:blue;
  }

   75% {
   opacity: 1;
   color:brown;
  }

   100% {
   opacity: 0.5;
   color:black;
  }
}


/*class to be added for the blinkEffect*/
.blinkEffect
{
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

/*fade in from the blurred text effect*/
.blurryText
{
  animation-duration: 5s;
  animation-name: blurTxt;
  animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  animation-timing-function: easeOut;
  animation-iteration-count: 1;

  -webkit-animation-duration: 5s;
  -webkit-animation-name: blurTxt;
  -webkit-animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  -webkit-animation-timing-function: easeOut;
  -webkit-animation-iteration-count: 1;
}

@keyframes blurTxt{
  0% {
      color: transparent;
      text-shadow: 0 0 5px rgba(0,0,0,0.3); 
  }

  100% {
        color: "";
        text-shadow: ""; 
     }
}


/*class to be added for the blinkEffect*/
.rockBlinkEffect
{
  animation-duration: 0.5s;
  animation-name: blink;
  animation-iteration-count: 3;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

/*shake the rock*/
.shakeRock{
  animation-duration: 0.5s;
  animation-name: rockMe;
  animation-timing-function: linear;
  animation-iteration-count: 3;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: rockMe;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;
}

@keyframes rockMe{
  0%, 100% {
      -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
        transform: rotate(10deg);
  }

  50% {
       -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
     }
}

@-webkit-keyframes rockMe{
  0%,100% {
      -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
        transform: rotate(10deg);
  }

  50% {
       -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
     }
}

/*start falling the rock*/
.startFallRock{
  animation-duration: 1s;
  animation-name: startFall;
   animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  animation-timing-function: linear;
  animation-iteration-count: 1;

  -webkit-animation-duration: 1s;
  -webkit-animation-name: startFall;
  -webkit-animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

@keyframes startFall{
  0%{
      -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
        transform: rotate(10deg);
  }

  100% {
       -webkit-transform: rotate(-80deg); /* Chrome, Safari, Opera */
        transform: rotate(-80deg);
        left:60%;
     }
}

@-webkit-keyframes startFall{
  0%{
      -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
        transform: rotate(10deg);
  }

  100% {
       -webkit-transform: rotate(-80deg); /* Chrome, Safari, Opera */
        transform: rotate(-80deg);
        left:60%;
     }
}

/*rock falls now*/
.fallingRock{
  animation-duration: 1s;
  animation-name: rockFalling;
   animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  animation-timing-function: linear;
  animation-iteration-count: 1;

  -webkit-animation-duration: 1s;
  -webkit-animation-name: rockFalling;
  -webkit-animation-fill-mode: forwards; /*this animation property keeps the animation stay at the last state*/
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

@keyframes rockFalling{
  0%{
       -webkit-transform: rotate(-80deg);
       transform: rotate(-80deg); 
       left:60%;       
  }

  90% {
       -webkit-transform: rotate(-130deg); /* Chrome, Safari, Opera */
        transform: rotate(-130deg);

        top:42.5%;
          left:60%;      
     }

     100% {
       -webkit-transform: rotate(-120deg); /* Chrome, Safari, Opera */
        transform: rotate(-120deg);
         top:42.5%;
          left:61%;     
     }
}

@-webkit-keyframes rockFalling{
  0%{
      -webkit-transform: rotate(-80deg);
       transform: rotate(-80deg); 
       left:60%;
  }

  90% {
       -webkit-transform: rotate(-130deg); /* Chrome, Safari, Opera */
        transform: rotate(-130deg);
         top:42.5%;
          left:60%; 
     }

      100% {
       -webkit-transform: rotate(-120deg); /* Chrome, Safari, Opera */
        transform: rotate(-120deg);
         top:42.5%;
          left:61%;   
     }
}