.punctuation {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 2vmin;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey, cursive;
}

.punctuation, .punctuation * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.punctuation .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.punctuation .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 42%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : relative;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: #9EDED3;
	padding: 0!important;
}

.imageblock, .textblock{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.contentblock_addition{
	padding: 1.5% 3% 3% 3% !important;
}

.utb_addition{
	position: relative;
	height: 14%;
	z-index: 10;
}

.imageblock_addition{
	position: relative!important;
	height: 86%;
	border-bottom-left-radius: 2.2em;
	border-bottom-right-radius: 2.2em;
	background-color: #fff;
	color: #222;
	text-align: left;
}

.description_title{
	width: 100%;
	text-align: left;
	padding-left: 1%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.background_maroon{
	background-color: #E05050;
	color: #fff;
}

.image_label1_b{
	width: 95%;
	left: 3%;
	position: relative !important;
	font-weight: normal;
	padding-top: 1%;
}

.image_label1_b{
	left: 6%;
	width: 88%;
}

.image_bg1{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.image_bg2, .image_bg3, .image_bg4{
	position: absolute;
	height: 82%;
	width: 99%;
	left: 2%;
	top: 11%;
	transform: rotate(1deg);
}

.image_bg2{
	z-index: 25;
}

 .image_bg4{
	z-index: 29;
}

.image_bg3{
	z-index: 30;
}

.ranjan1, .ranjan2{
	position: absolute;
	width: 10.5%;
	top: 30%;
	left: 26%;
}

.deepak1, .deepak2{
	position: absolute;
	width: 11.25%;
	top: 30%;
	left: 53%;
}

.kiran1, .kiran2{
	position: absolute;
	width: 10%;
	top: 40%;
	right: 2%;
	z-index: 28;
}

.deepak1{
	display: none;
}

.kiran2{
	display: none;
}

.tray1, .tray2{
	position: absolute;
	width: 9%;
	top: 49.5%;
	left: 14%;
	z-index: 26;
}

.tray1_new_pos{
	left: 84%;
	top: 57%;
}

.tray2_conveyerbelt_end{
	display: none;
	-webkit-animation: tray2_conveyerbelt_end_kf 4s linear 2s forwards;
	animation: tray2_conveyerbelt_end_kf 4s linear 2s forwards;
}

@-webkit-keyframes tray2_conveyerbelt_end_kf{
	100%{
		left: 55%;
		top: 54%;
	}
}

@keyframes tray2_conveyerbelt_end_kf{
	100%{
		left: 55%;
		top: 54%;
	}
}

.tray3_conveyerbelt_end{
	left: 55%;
	top: 54%;
	-webkit-animation: tray3_conveyerbelt_end_kf 4s linear 0.3s forwards;
	animation: tray3_conveyerbelt_end_kf 4s linear 0.3s forwards;
}

@-webkit-keyframes tray3_conveyerbelt_end_kf{
	100%{
		left: 84%;
		top: 57%;
	}
}

@keyframes tray3_conveyerbelt_end_kf{
	100%{
		left: 84%;
		top: 57%;
	}
}



.trayposition1{
	top: 51%;
	left: 51%;
}

.trayposition2{
	top: 54%;
	left: 80%;
}

.scale_focus1{
	-webkit-animation: scale_focus1_kf 1.5s linear 0.5s forwards;
	animation: scale_focus1_kf 1.5s linear 0.5s forwards;
	transform-origin: 0% 56%;
}

@-webkit-keyframes scale_focus1_kf{
	100%{
		transform: scale(1.8);
	}
}

@keyframes scale_focus1_kf{
	100%{
		transform: scale(1.8);
	}
}

.focus1{
	transform-origin: 0% 56%;
	transform: scale(1.8);
}

.scale_focus2{
	-webkit-animation: scale_focus2_kf 3s ease-in 2s forwards;
	animation: scale_focus2_kf 3s ease-in 2s forwards;
}

@-webkit-keyframes scale_focus2_kf{
	20%{
		left: 0;
	}
	100%{
		left: -5%;
		transform: scale(1.3);
	}
}

@keyframes scale_focus2_kf{
	20%{
		left: 0;
	}
	100%{
		left: -5%;
		transform: scale(1.3);
	}
}

.scale_focus3{
	-webkit-animation: scale_focus3_kf 2s ease-in 0.5s forwards;
	animation: scale_focus3_kf 2s ease-in 0.5s forwards;
	left: -5%;
	transform: scale(1.3);
}

@-webkit-keyframes scale_focus3_kf{
	100%{
		left: -30%;
	}
}

@keyframes scale_focus3_kf{
	100%{
		left: -30%;
	}
}

.dolma_walking_class{
	position: absolute;
	background-position: 0 0;
	background-size: 1000% 100%;
	background-image: url("../images/airport_checking/dolma_walking.png");
	width: 10%;
	height: 40%;
	bottom: 23%;
	left: 8%;
	z-index: 26;
	display: none;
}

.walk{
	-webkit-animation: walking 0.6s steps(7) infinite alternate forwards;
	animation: walking 0.6s steps(7) infinite alternate forwards;
}

@-webkit-keyframes walking{
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: -700% 0%;
	}
}

@keyframes walking{
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: -700% 0%;
	}
}

.dolma_walking_class2{
	-webkit-animation: walking 0.6s steps(7) 0.5s 10 alternate forwards, displacement1 6s linear 0.5s forwards;
	animation: walking 0.6s steps(7) 0.5s 10 alternate forwards, displacement1 6s linear 0.5s forwards;
	z-index: 30;
}

@-webkit-keyframes displacement1{
	100%{
		bottom: 20%;
		left: 38%;
	}
}

@keyframes displacement1{
	100%{
		bottom: 20%;
		left: 38%;
	}
}

.dolma_walking_class4{
	z-index: 30;
	bottom: 20%;
	left: 38%;
	background-position: -800% 0%;
}

.dolma_walking_class3{
	-webkit-animation: walking 0.6s steps(7) 0.5s 10 alternate forwards, displacement2 6s linear 0.5s forwards;
	animation: walking 0.6s steps(7) 0.5s 10 alternate, displacement2 6s linear 0.5s forwards;
}

@-webkit-keyframes displacement2{
	100%{
		bottom: 12%;
		left: 76%;
		width: 12%;
		height: 47%;
	}
}

@keyframes displacement2{
	100%{
		bottom: 12%;
		left: 76%;
		width: 12%;
		height: 47%;
	}
}

.dolma_walking_class5{
	bottom: 12%;
	left: 76%;
	width: 12%;
	height: 47%;
}

.dolma_walking_class6{
	background-size: 800% 100%;
	background-image: url("../images/airport_checking/dolma_walking_with_bag.png");
	-webkit-animation: walking 0.6s steps(7) 0.5s 10 alternate forwards, displacement3 6s linear 0.5s forwards;
	animation: walking 0.6s steps(7) 0.5s 10 alternate forwards, displacement3 6s linear 0.5s forwards;
}

@-webkit-keyframes displacement3{
	100%{
		bottom: 10%;
		left: 113%;
		width: 12%;
		height: 48%;
	}
}

@keyframes displacement3{
	100%{
		bottom: 10%;
		left: 113%;
		width: 12%;
		height: 48%;
	}
}

.dolma01_class {
	width: 16.6%;
	position: absolute;
	bottom: 24%;
	left: 1.5%;
	z-index: 26;
}

.dolma_class{
	width: 24%;
	position: absolute;
	bottom: 14%;
	left: 38%;
	display: none;
}

.dolma03_class {
	position: absolute;
	left: 7%;
	width: 16.6%;
	bottom: 26.15%;
	z-index: 26;
	display: none;
}

.dialog1_b, .dialog1_c{
	position: absolute;
	width: 15%;
	height: auto;
	bottom: 60%;
	left: 12%;
	display: none;
	z-index: 35;
}

.dialog1_c{
	bottom: 50%;
	left: 45%;
	width: 10%;
}

.dialog2_b, .dialog2_c, .dialog2_d, .dialog2_e, .dialog2_f, .dialog2_g{
	position: absolute;
	width: 20%;
	height: auto;
	bottom: 60%;
	left: 10%;
	z-index: 35;
	display: none;
}

.dialog2_c{
	bottom: 66%;
	left: 37%;
}

.dialog2_d{
	bottom: 57.5%;
	left: 76%;
	width: 16%;
}
@-webkit-keyframes vibrate_plane{
100%{
  transform: scale(1) rotate(-6deg) translateY(1%);
}
}

@keyframes vibrate_plane{
100%{
  transform: scale(1) rotate(-6deg) translateY(1%);
}
}
.dialog2_e{
	bottom: 46%;
	left: 55%;
}

.dialog2_f{
	bottom: 58%;
	left: unset;
	width: 22%;
	right: 8%;
}

.dialog2_g{
	bottom: 46%;
	left: 64%;
	width: 15%;
}

.dialog_image, .dialog_image2, .dialog_image_flip, .dialog_image_flip2{
	position: relative;
	width: 100%;
	height: auto;
	left: 0;
}

.dialog_image_flip, .dialog_image_flip2{
	transform: scaleX(-1);
}

.dialog_content1, .dialog_content, .dialog_content3, .content_farewell{
	position: absolute;
	width: 90%;
	left: 5%;
	top: 46%;
	transform: translateY(-50%);
}

.dialog_content3{
	padding: 0 10%;
	left: 0;
}

.narration_label{
	position: absolute;
	background-color: #A4C2F4;
	color: #222;
	width: 100%;
	height: auto;
	top:0;
	left: 0;
	padding: 2.5% 2% 1.5% 2%;
}

.scale_focus4{
  transform-origin: 26.4% 45.5%;
  transform: scale(6);
  -webkit-animation: scale_focus4_kf 1s linear 0.5s forwards;
  animation: scale_focus4_kf 1s linear 0.5s forwards;

}
  @-webkit-keyframes vibrate_plane{
	100%{
		transform: scale(1) rotate(-6deg) translateY(1%);
	}
}

@keyframes vibrate_plane{
	100%{
		transform: scale(1) rotate(-6deg) translateY(1%);
	}
}



/*@-webkit-keyframes scale_focus4_kf1{*/
	/*100{*/
		/*transform: scale(8);*/
	/*}*/
/*}*/

/*@keyframes scale_focus4_kf1{*/
	/*100%{*/
		/*transform: scale(8);*/
	/*}*/
/*}*/

@-webkit-keyframes scale_focus4_kf{
	0%{
		transform: scale(1);
	}
}

@keyframes scale_focus4_kf{
	100%{
		transform: scale(1);
	}
}

.plane_fly_away{
	position: absolute;
	height: auto;
	width: 25%;
	left: 5%;
	top: 35%;
	transform:rotate(-6deg) scale(3);
	-webkit-animation: plane_fly_away_kf 4s linear 2s forwards;
	animation: plane_fly_away_kf 4s linear 2s forwards;
	z-index:5;
}

@-webkit-keyframes plane_zoomout_kf{
	100{
		transform: scale(1) rotate(-6deg);
	}
}

@keyframes plane_zoomout_kf{
	100%{
		transform: scale(1) rotate(-6deg);
	}
}

@-webkit-keyframes vibrate_plane{
	100%{
		transform: scale(1) rotate(-6deg) translateY(1%);
	}
}

@keyframes vibrate_plane{
	100%{
		transform: scale(1) rotate(-6deg) translateY(1%);
	}
}

@-webkit-keyframes plane_fly_away_kf{
	100%{
		top: -2%;
		left: 105%;
		transform: rotate(-6deg)  skew(6deg, 2deg);
	}
}

@keyframes plane_fly_away_kf{
	100%{
		top: -2%;
		left: 105%;
		transform:  rotate(-6deg) skew(6deg, -2deg);
	}
}

.farewell_dialog{
	position: absolute;
	width: 5%;
	height: auto;
	bottom: 52.8%;
	left: 28%;
	z-index: 30;
	display: none;
}

.cloud01_cls_a, .cloud01_cls_b{
	position: absolute;
	width: 35%;
}

.cloud01_cls_a{
	top: 14%;
	left: 3%;
	width: 39%;
}

.cloud01_cls_b{
	top: 30%;
	left: 45%;
}

.cloud02_cls_a, .cloud02_cls_b{
	position: absolute;
	width: 40%;
	z-index: 31;
}

.cloud02_cls_a{
	top: -2%;
	left: 26%;
}

.cloud02_cls_b{
	top: 26%;
	left: 60%;
}

@media screen and (min-aspect-ratio: 4/3) {
	.description_title{
		font-size: 6vh;
	}
	.image_label1_b{
		font-size: 3.56vh;
	}
	.dialog_content1{
		font-size: 1.8vh;
	}

	.dialog_content, .dialog_content3{
		font-size: 2vh;
	}
	.narration_label{
		font-size: 4.56vh;
	}
	.content_farewell{
		font-size: 0.52vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.description_title{
		font-size: 5.56vw;
	}
	.image_label1_b{
		font-size: 3vw;
	}
	.dialog_content1{
		font-size: 1.2vw;
	}

	.dialog_content, .dialog_content3{
		font-size: 1.7vw;
	}
	.narration_label{
		font-size: 4vw;
	}
	.content_farewell{
		font-size: 0.37vw;
	}
}

/*
.plane_fly_away{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	transform-origin: 68% 60%;
	transform: scale(8);
	-webkit-animation: plane_zoomout_kf 4s linear 4s forwards, vibrate_plane 0.3s linear 8s 6 forwards alternate, plane_fly_away_kf 1.5s linear 9.8s forwards;
	animation: plane_zoomout_kf 4s linear 4s forwards, vibrate_plane 0.3s linear 8s 6 forwards alternate, plane_fly_away_kf 1.5s linear 9.8s forwards;
}

@-webkit-keyframes plane_zoomout_kf{
	100{
		left: -30%;
		top: -20%;
		transform: scale(0.5) rotate(-6deg);
	}
}

@keyframes plane_zoomout_kf{
	100%{
		left: -30%;
		top: -20%;
		transform: scale(0.5) rotate(-6deg);
	}
}

@-webkit-keyframes vibrate_plane{
	0%{
		top: -20%;
		left: -30%;
	}
	100%{
		left: -30%;
		top: -20%;
		transform: scale(0.5) rotate(-6deg) translateY(1%);
	}
}

@keyframes vibrate_plane{
	0%{
		top: -20%;
		left: -30%;
	}
	100%{
		top: -20%;
		left: -30%;
		transform: scale(0.5) rotate(-6deg) translateY(1%);
	}
}

@-webkit-keyframes plane_fly_away_kf{
	100%{
		left: 36%;
		top: -62%;
		transform: scale(0.05) rotate(-16deg) skew(16deg, -2deg);
	}
}

@keyframes plane_fly_away_kf{
	100%{
		left: 36%;
		top: -62%;
		transform: scale(0.05) rotate(-16deg) skew(16deg, -2deg);
	}
}
*/
