html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.foodsieat {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: sniglet;
}

.foodsieat, .foodsieat * {
	position: relative;
	margin: 0;
	padding: 0;
}

.foodsieat .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.foodsieat .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board,.board_prev, .board_next {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.board_prev{
	top: 0%;
	left: -100%;
}

.board_next{
	top: 0%;
	left: 100%;
}

.move_left_1{
	animation: move_left_kf_1 3s linear forwards;
}

.move_left_2{
	animation: move_left_kf_2 3s linear forwards;
}

@keyframes move_left_kf_1{
	100%{
		left: -100%;
	}
}

@keyframes move_left_kf_2{
	100%{
		left: 0%;
	}
}

.move_right_1{
	animation: move_right_kf_1 3s linear;
}

.move_right_2{
	animation: move_right_kf_2 3s linear;
}

@keyframes move_right_kf_1{
	100%{
		left: 0%;
	}
}

@keyframes move_right_kf_2{
	100%{
		left: 100%;
	}
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generalTemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}


.textblock {
    z-index: 50;
    position: absolute;
    height: 100%;
    width: 100%;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: : 100%;
	z-index: 100;
}

.additional_ltb{
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
}

.activeTimeLine {
    background: #076242;
}
.totalsequence {
    border: #076242 0.3vmin solid;
}

.maintitle {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	color: #B34A69;
	width: 90%;
	font-size: 6.5vmin !important;
}

.maintitle2 {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 19%;
    color: #A64D79;
    width: 90%;
}

.lefttext {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 25%;
	top: 40%;
	width: 40%;
	font-size: 2vw;
	line-height: 5vmin;
}

.righttext{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 75%;
    top: 40%;
    width: 40%;
    font-size: 2vw;

}

.image_1{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 17%;
    left: 25%;
    bottom: -16%;
    z-index: 10;

}

.image_2 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 17%;
    left: 75%;
    bottom: -16%;
    z-index: 10;
}
.image_3 {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 47%;
    left: 50%;
    bottom: -20%;
    z-index: 10;
}

.bg_full {
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    height: 100%;
}

@media screen and (min-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 4vh;
	}

	.description, .title, .maintitle2 {
		font-size: 4vh;
	}

	.label {
		font-size: 2.56vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.maintitle{
		font-size: 3.56vw;
	}

	.description, .title, .maintitle2 {
		font-size: 3.56vw;
	}

	.label {
		font-size: 2vw;
	}
}

.fadein{
  animation: fadein 1s linear forwards;
}
.fadeinafter{
  animation: fadein 1s 2s linear forwards;
}
@keyframes fadein{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@media (min-aspect-ratio: 4/3) {
  .lefttext,.righttext{
    font-size: 3.8vmin;
  }

  .maintitle2{
    font-size: 5.7vmin;
  }
}
