<!--
Title : General Template
-->
<script type="text/javascript">
	$cssLoader("css/common.css");
	$cssLoader("css/page6.css");
	 
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}

				{{#each imageblock}}
					{{#if blocktext}}
						<div class="imageblockclass {{imageblockaddnalclass}}">
							{{> imagecontent}}
						</div>
						{{else}}
						{{> imagecontent}}
					{{/if}}
				{{/each}}

				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}

				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}

				{{#each speechbox}}
					<div class="speechbox {{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						{{#if audioicon}}
							<img class="audioicon {{audioclass}}" src="images/speaker.png">
						{{/if}}
					</div>
				{{/each}}

				{{#if multiplechoice}}
					<div class="{{mcqdivclass}}">
						{{#each multiplechoice}}
								<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						{{/each}}
					</div>
				{{/if}}

				{{#if divscontainer}}
					<div class="{{masterdivcontainerclass}}">
						{{#each divscontainer}}
							<div class="{{divscontainerclass}}">
								{{#each subdivs}}
									<div class="{{subdivclass}}">

										{{#if imageblock}}
											{{#each imageblock}}
												<div class="imageblockclass {{imageblockaddnalclass}}">
													{{> imagecontent}}
												</div>
											{{/each}}
										{{/if}}

										{{#if table}}
											{{#each table}}
												<!-- <div class="{{tableblkclass}}"> -->
													<table class="tblcls {{tblextraclass}}">
														{{#each tablerow}}
															<tr class="{{tablerowclass}}">
																{{#each tabledata}}
																	<td class="{{tabledataclass}}">
																		{{#if inputdata}}
																			<input class="{{inputclass}}" value="{{{inputdata1}}}"></input>
																			{{else}}
																			<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
																		{{/if}}
																	</td>
																{{/each}}
															</tr>
														{{/each}}
													</table>
												<!-- </div> -->
											{{/each}}
										{{/if}}

										{{#if textindiv}}
											{{#if mcq}}
												{{#each texttoshow}}
													<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
													<img src="images/correct.png" class="ispforimage corctopt">
													<img src="images/wrong.png" class="ispforimage wrngopt">
												{{/each}}
											{{else}}
												{{#each texttoshow}}
													<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
												{{/each}}
											{{/if}}
										{{/if}}

									</div>
								{{/each}}
							</div>
						{{/each}}
					</div>
				{{/if}}

			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#if imgwithtext}}
		{{#each imagestoshow}}
				<div class="{{imgTxtContainerclass}}">
					<img class="{{imgclass}}" src="{{imgsrc}}">
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				</div>
		{{/each}}
	{{else}}
		{{#each imagestoshow}}
			<img class="{{imgclass}}" src="{{imgsrc}}">
		{{/each}}
	{{/if}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/page6.js");
</script>
