.activity_container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    background: #fff;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position: relative;
    margin: 0;
    padding: 0;
}

.activity_container .nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

.activity_container .prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

 @font-face {
    font-family: MontserratAlternates-Light;
    src: url("../../../../../../fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

@font-face {
    font-family: Museo;
    src: url("../../../../../../fonts/Museo.otf");
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
  z-index: 99;
    margin: 0;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.textblock {
    position: absolute;
    width: 100%;
    top: 0;
    height: 80%;
}

/*============ exercise template ===================
==================================================== */

.question_img {
    color: #674EA7;
    position: relative;
    top: 18%;
    font-size: 4vmin;
}
.ques {
    font-size: 2.2vw;
    transform: translateX(-50%);
    left: 50%;
    font-family: abeezee;
    background: #66addc;
    width: 100%;
    padding: 1%;
    color: white;
    top: 0;
    position: absolute;
    text-align: left;
    padding-right: 14%;
}
.droppablecontainer:nth-of-type(1) > p {
    color: #351c75;
    font-size: 3vw;
    left: 1%;
    top: 0%;
    width: 98%;
    padding: 1% !important;
    font-family: acme;
}
.droppablecontainer:nth-of-type(2) > p {
    font-size: 3vw;
    left: 1%;
    top: 0%;
    width: 98%;
    padding: 1% !important;
    color: #351c75;
    font-family: acme;
}
.optionsdiv_img {
    top: -28%;
    left: 54%;
    width: 50%;
    text-align: center;
    position: relative;
}

.optionscontainer {
    display: inline;
    position: relative;
    height: 100%;
}

.optionscontainer_img {
    position: relative;
    margin-bottom: 15%;
}

.optionscontainer_img:nth-child(1) {
    margin-bottom: 22% !important;
}

.imagestartpos_img {
    width: 9%;
    margin-left: 35%;
    margin-top: 0%;
    position: absolute;
    left: 38%;
    visibility: hidden;
}

.ispforimage {
    position: absolute;
    width: 21%;
    left: 38%;
    top: 550%;
    visibility: hidden;
}

.buttonsel {
    display: inline;
    background-position: 0% 0%;
    color: white;
    margin: 6%;
    font-size: 3vmin;
    height: 10% !important;
    padding: 8% 4%;
}

.circleback {
    background: url(../images/circle.png);
    background-size: 400% 100%;
}

.rectangleback {
    background: url(../images/rectangle.png);
    background-size: 400% 100%;
}

.triangleback {
    background: url(../images/triangle.png);
    background-size: 400% 100%;
    padding: 12% 6% 2% 6%;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover {
    cursor: pointer;
}

.forhover:hover {
    background-position: 300% 0% !important;
}

.wrongans {
    background: #EA9999;
    color: #F66E20;
}

.rightans {
    background: #6AA84F;
}

.circleimg {
    background-image: url(../images/11.jpg) !important;
}

.backtrue {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

div.imageblock {
    position: absolute;
    width: 100%;
    height: 100%;
    /*border     : 1px solid green; */
}


/*
 *
 * Text Block
 *
 */


.hidden {
    display: none!important;
}


/*
 *
 * Droppable Block
 *
 */

 div.droppableblock {
     position: absolute;
     left: 0%;
     height: 59%;
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     padding: 1%;
     top: 10%;
 }

.droppablecontainer {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    /*margin: 1%;*/
}

.droppable {
    height: 100%;
    width: 100%;
    border-radius: 2.5vmin;
    border: 2px solid yellow;
}

.droppableheader {
    position: absolute;
    top: 18%;
    height: 80%;
    width: 98%;
    left: 0%;
    margin: 1%;
    border: 4px solid #807676;
    background: #efefef;
    border-radius: 1vmin;
}
.droppable>img, .droppableheader>img {
    max-width: 100%;
    max-height: 100%;
}

.drop_class_1 {
    display: flex;
    flex-flow: row wrap;
}

.drop_class_2 {
    display: flex;
    flex-flow: row wrap;
}

.drop_class_3 {
    background-color: blue;
}

.drop_class_4 {
    background-color: purple;
}

.allimg {
    max-width: 100%;
    max-height: 100%;
}


/*
 *
 * Draggable Block
 *
 */

 div.draggableblock {
     position: absolute;
     left: 0%;
     height: 30%;
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-around;
     padding: 1%;
     bottom: 0;
     background: #64a5d5;
     box-shadow: 1vmin 1vmin 1vmin 1.2vmin rgba(9, 9, 9,.2);
 }
 .draggable {
     flex: 1;
     position: relative;
     z-index: 100;
     cursor: grab;
     overflow: hidden;
     width: 15%;
     margin: 1% 1% 1% 1%;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 2.5vmin;
     border: .5vmin solid white;
     /*background: white;*/
 }

 .draggable:hover{
   border-color: #e69138;
   transition: .2s;
 }
 .hovered{
     border: 0.1em dashed black;
     background: #E5E5E5;
 }
.ui-draggable-helper {
    cursor: grab;
    height: 25%;
}

.draggable>img {
    max-width: 100%;
    max-height: 100%;
    /*padding: 1%;*/
}

.dummy_class {
    border-width: 0px!important;
    cursor: auto!important;
}
.ex-number-template-score {
    position: absolute !important;
    z-index: 100 !important;
    top: 0;
    right: 0;
    padding: 0.5% 2% !important;
    background-color: rgb(251,171,24);
    color: white;
    font-family: ProximaNova;
    font-weight: bold;
    font-size: 1.7vw;
    border-radius: 0;
    border-bottom-left-radius: 1vmin;
}
/*.class_1 {
    background-color: #ffa;
}

.class_2 {
    background-color: #afa;
}

.class_3 {
    background-color: #aaf;
}

.class_4 {
    background-color: #faf;
}*/

.position_1 {
    order: 1;
}

.position_2 {
    order: 2;
}

.position_3 {
    order: 3;
}

.position_4 {
    order: 4;
}
.scoreboard,.exefin {
    display: none;
}
.sliding {
    -webkit-animation: slidein1 1.5s linear 1 forwards;
    animation: slidein1 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein1 {
    from {
        transform: translate(-100%, 0);
    }
}

@keyframes slidein1 {
    from {
        transform: translate(-100%, 0);
    }
}
.brown_bg{
  background: #cabaab;
}
.monkey{
    position: absolute;
    width: 22%;
    left: 42%;
    top: 12%;
    opacity: 0;
}
.img_center {
    position: absolute;
    width: 40%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.plus1, .plus2, .minus1, .minus2 {
    position: absolute;
    font-size: 3vw;
    font-family: comfortaa;
    background: white;
    width: 5%;
    border-radius: 44%;
    cursor: pointer;
    left: 23%;
    top: 39.5%;
    border:.4vmin solid white;
}
.plus2 {
    left: 71%;
}
.minus1 {
    top: 53%;
}
.minus2 {
    left: 71%;
    top: 52%;
}
.plus1:hover, .plus2:hover, .minus1:hover, .minus2:hover {
  transform:scale(1.1);
  background: #ffe599;
  border-color: #f6d165;
  transition: .2s;
}
.desc_below_top {
    position: absolute;
    font-family: acme;
    font-size: 1.7vw;
    background: #fff2cc;
    padding: 1%;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
}

.lalan {
    position: absolute;
    width: 10%;
    left: 10%;
    top: 33%;
}

.mobile_charging {
    position: absolute;
    width: 20%;
    top: 70%;
    background: white;
    padding: 1%;
    border-radius: 2vmin;
    left: 51%;
}

.question {
    position: absolute;
    font-family: abeezee;
    font-size: 2vw;
    top: 36%;
    transform: translate(-50%,-50%);
    left: 60%;
    width: 60%;
    color: black;
}
.option1, .option2 {

    position: absolute;
    font-family: abeezee;
    transform: translate(-50%,-50%);
    left: 60%;
    width: 60%;
    font-size: 1.4vw;
    z-index: 10;
    top: 47%;
    padding: 1%;
    background: #674ea7;
    color: white;
    border-radius: 1vmin;
    border: .3vmin solid #674ea7;
    cursor: pointer;
}
.option2 {

    top: 61%;

}
.option1:hover, .option2:hover {
  transform: translate(-50%,-50%) scale(1.1);
  transition:.2s;
  background: #ffcd53;
  color:black;
  border-color: #b45f06;
}
.top_text {
    font-size: 2.2vw;
    transform: translateX(-50%);
    left: 50%;
    font-family: abeezee;
    background: #66addc;
    width: 100%;
    padding: 1%;
    color: white;
    top: 0;
    position: absolute;
    height: 23%;
}
.lalan_image_1, .lalan_image_2, .lalan_image_3, .lalan_image_4{
    position: absolute;
    height: 19.5%;
    border: .6vmin solid #66addc;
    top: 22.5%;
    background: white;
    left: 30%;
}
.lalan_image_4 {
    top: 41.5%;
}
.lalan_image_1 {
    top: 61%;
}
.lalan_image_2 {
    top: 80.5%;
}

.lalan_text_1, .lalan_text_2, .lalan_text_3, .lalan_text_4 {
    position: absolute;
    height: 19.5%;
    width: 53.5%;
    font-size: 1.2vw;
    font-family: abeezee;
    background: white;
    left: 46.5%;
    top: 22.5%;
    padding: .5%;
        padding-top: 0.5%;
    padding-top: 3%;
    border: .6vmin solid #66addc;
}

.lalan_text_4 {
    top: 41.5%;
}
.lalan_text_1 {
    top: 61%;
}
.lalan_text_2 {
  top: 80.5%;
}
.left_image {
    position: absolute;
    height: 70%;
    left: 0;
    top: 30%;
}
.top_text_m{
  font-size: 2.2vw;
  transform: translateX(-50%);
  left: 50%;
  font-family: abeezee;
  background: #66addc;
  width: 100%;
  padding: 1%;
  color: white;
  top: 0;
  position: absolute;
  height: 10%;
}
.question_right {
    position: absolute;
    font-family: abeezee;
    transform: translate(-50%,-50%);
    width: 54%;
    left: 73%;
    top: 35.5%;
    font-size: 1.7vw;
    background: #3c78d8;
    color: white;
    padding: 1%;
}
.option_m_1, .option_m_2, .option_m_3,.option_m_4 {

    position: absolute;
    font-size: 1.5vw;
    background: #674ea7;
    border: .7vmin solid #674ea7;
    transform: translate(-50%,-50%);
    left: 73%;
    width: 40%;
    top: 50%;
    font-family: abeezee;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    cursor: pointer;

}
.option_m_2 {
    top: 68%;
}
.option_m_3 {
    top: 86%;
}
.option_m_1:hover, .option_m_2:hover, .option_m_3:hover,.option_m_4:hover {
  background: #f6b26b;
  border-color: #e69138;
  color: black;
  transition: .2s;
}

.left_image_2 {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.right_text {
    position: absolute;
    font-size: 1.9vw;
    font-family: acme;
    width: 30%;
    transform: translate(-50%,-50%);
    left: 83%;
    top: 49%;
    color: black;
    animation: fadesin 1s ease-in forwards;
}
@keyframes fadesin {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.hint {
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: abeezee;
    background: #df73fa;
    border: .5vmin solid #b05bc5;
    border-radius: 1vmin;
    padding: 1%;
    color: white;
    cursor: pointer;
    left: 9%;
    font-size: 1.7vw;
    top: 41%;
}
.hint:hover{
  background: #974eaa;
  border-color: #df73fa;
  transition: .2s;
}
.option_slide_6_1, .option_slide_6_2 {
    width: 16%;
    left: 84%;
}
.hint_image {
    height: 50%;
    left: 9%;
    top: 41%;
    position: absolute;
    border-radius: 2vmin;
    box-shadow: 1vmin 1vmin 1vmin 0vmin rgba(0, 0, 0,.2);
    z-index: 10;
}
.dialogue_box {
    position: absolute;
    width: 41%;
    left: 14%;
    top: 26%;
    z-index: 3;
}
.dialogue_text {
    position: absolute;
    font-size: 1.7vw;
    color: #3280b4;
    z-index: 5;
    transform: translate(-50%,-50%);
    left: 37%;
    top: 39%;
    font-family: acme;
    width: 30%;
}
.option_m_4 {
    top: 32%;
}
#activity-page-refresh-btn{
  pointer-events: none;
  filter:grayscale(1);
  opacity: .3;
}
.option_slide_7_1, .option_slide_7_2, .option_slide_7_3, .option_slide_7_4 {
    width: 31%;
    left: 83%;
    font-size: 1.3vw;
}
.option_slide_7_1 {

    top: 49%;

}
.option_slide_7_2 {

    top: 65%;

}
.option_slide_8_1,.option_slide_8_2 {
    width: 30%;
    left: 83%;
    font-size: 1.4vw;
    top: 43%;
}
.option_slide_8_2 {
    top: 79%;
}
.bg_full{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio:4/3){
  .desc_below_top,.question_right,.dialogue_text,.option_m_1, .option_m_2, .option_m_3,.option_m_4{
    font-size: 3.5vmin;
  }
  .question,.top_text,.top_text_m,.right_text,.hint{
    font-size: 4vmin;
  }
  .lalan_text_1, .lalan_text_2, .lalan_text_3, .lalan_text_4 {
    font: 2.6vmin;
  }
  .option_slide_7_1, .option_slide_7_2, .option_slide_7_3, .option_slide_7_4,.option_slide_8_1,.option_slide_8_2 {
  font-size: 3vmin;
}
}
