.cream_bg{
  background: #EEDDCB;
}
.cover_ckt{
  position: absolute;
  top: 45%;
  width: 29%;
}
.blue_bg{
  background: #B4A7D6;
}
.boy_cv{
  position: absolute;
  top: 49%;
  width: 32%;
  left: 34%;
}
.toptxt{
  position: absolute;
  width: 100%;
  background: #674EA7;
  font-size: 3vw;
  font-family: Acme;
  left: 50%;
  color: #fff;
  padding: 1%;
  transform:translateX(-50%);
}
.transparent{
  background: transparent;
  top: 10%;
  font-family: sniglet;
}
.box{
  position: absolute;
  width: 40%;
  top: 37%;
  background: #fff;
  z-index: 91;
  height: 60%;
  border-radius: 2em;
}
.box_img{
  position: absolute;
  top: 10%;
  left: 11%;
  width: 80%;
}
.left{
  left: 5%;
}
.right{
  right: 5%;
}
.miduptxt{
  position: absolute;
  width: 90%;
  font-size: 2vw;
  left: 5%;
  color: #000;
  padding: 1%;
  top: 12%;
  font-family: ABeeZee;
}
.boxtxt{
  position: absolute;
  left: 42%;
  bottom: 0%;
  color: #351C79;
  font-size: 3vw;
}
.click{
  z-index: 100;
}

.click_1{
  z-index: 100;
}
.box_txt{
position: absolute;
width: 40%;
top: 37%;
background: #fff;
z-index: 91;
height: 60%;
border-radius: 2em;
font-size: 2vw;
padding: 2%;
right: 5%;
display: none;
}
.box_txt_1{
position: absolute;
width: 40%;
top: 37%;
background: #fff;
z-index: 91;
height: 60%;
border-radius: 2em;
font-size: 2vw;
padding: 2%;
left: 5%;
display: none;
}
.flip{
  animation: move 3s forwards;
}
.flip_1{
  animation: move_1 3s forwards;
}
.hand_1 {
    position: absolute;
    top: 83%;
    left: 7%;
    z-index: 101;
    width: 6%;
}
.hand_2 {
    position: absolute;
    top: 83%;
    right: 7%;
    z-index: 101;
    width: 6%;
}
.click:hover, .click_1:hover{
  cursor: pointer;
}
@keyframes move{
   0% {
    transform-origin: 0% 0%;
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;

    }
  99% {
    transform-origin: 0% 0%;
    transform: perspective(800px) rotateY(-180deg);
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes move_1{
   0% {
    transform-origin: 100% 0%;
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;

    }
  99% {
    transform-origin: 100% 0%;
    transform: perspective(800px) rotateY(180deg);
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@media (min-aspect-ratio:4/3){
	.toptxt,{
		font-size:6vw;
	}
}
@media screen and (max-aspect-ratio: 4/3) {

}
