.btn1{
    position: absolute;
    width: 44%;
    height: 40%;
    float: right;
    top: 22%;
    right: 70%;
    font-size: 2.3vw;
}

.btn2{
    position: absolute;
    width: 44%;
    height: 40%;
    top: 22%;
    float: left;
    font-size: 2.3vw;
    left: 66%;
}



.btndiv{
    height: 29%;
    position: absolute;
    width: 70%;
    top: 24%;
    left: 17%;
    color:rgb(236, 73, 137);
    font-size:3.5vmin;;
}

.rightans{
    background-color: rgb(106, 168, 79);
    color:white;
}
.wrongans{
    background-color: rgb(166, 28, 0);
    color:white;

}
.btns{
    border-radius: 15px;
    border:none;
}
.bgclr{
    background-color: rgb(255, 217, 102);;
}

.textblock{
    top: 13%;
    position: absolute;
    text-align: center;
    font-size: 5.5vmin;
    float: left;
    left: 0%;
    width: 100%;
    font-family: ShortStack;
}
.background1{
     background: url("../images/q01.png");
     background-size: 100% 100%;
 }
.background2{
    background: url("../images/q02.png");
    background-size: 100% 100%;
}
.background3{
    background: url("../images/q03.png");
    background-size: 100% 100%;
}
.background4{
    background: url("../images/q04.png");
    background-size: 100% 100%;
}
.background5{
    background: url("../images/q05.png");
    background-size: 100% 100%;
}
.background6{
    background: url("../images/q06.png");
    background-size: 100% 100%;
}
.background7{
    background: url("../images/q07.png");
    background-size: 100% 100%;
}
.background8{
    background: url("../images/q08.png");
    background-size: 100% 100%;
}
.background9{
    background: url("../images/q09.png");
    background-size: 100% 100%;
}
.background10{
    background: url("../images/q10.png");
    background-size: 100% 100%;
}
.quesn1{
  position: absolute;
  width: 100%;
  left: 0%;
  font-size: 2.3vw;
}
.tittxt{
  position: absolute;
  width: 100%;
  text-align: left;
  top: 2%;
  left: 2%;
  font-size: 2.5vw;
}
@media (min-aspect-ratio: 4/3){

.btn1,.btn2{
  font-size: 3.2vh;
}
.quesn1{
  font-size: 5.5vh;
}
.tittxt{
  font-size: 5.5vh;
}
}
