.bg_full{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}

.dialogbox_left {
    position: absolute;
    z-index: 10;
    top: 11%;
    left: 30%;
    width: 45%;
    height: 30%;
    font-family: abeezee;
    font-size: 1.8vw;
}
.dialogbox_right{
  position: absolute;
  z-index: 10;
  top: 11%;
  left: 30%;
  width: 45%;
  height: 30%;
  font-family: abeezee;
  font-size: 1.8vw;
}

.insidetext {
    transform: translate(-50%,-50%);
    left: 50%;
    top: 47%;
    width: 90%;
}

.globe {

    position: absolute;
    width: 15%;
    top: 59%;
    left: 52%;
    transform: translateX(-50%);

}
.anim_in_out{
  cursor: pointer;
  animation: in_out 1s ease-in-out infinite;
  -webkit-animation: in_out 1s ease-in-out infinite;
}
@keyframes in_out {
  0%{
    transform: translateX(-50%) scale(1);
  }
  50%{
    transform: translateX(-50%) scale(1.1);
  }
  100%{
    transform: translateX(-50%) scale(1);
  }
}
@-webkit-keyframes in_out {
  0%{
    transform: translateX(-50%) scale(1);
  }
  50%{
    transform: translateX(-50%) scale(1.1);
  }
  100%{
    transform: translateX(-50%) scale(1);
  }
}
.globe_rotation_final {
    position: absolute;
    width: 15.9%;
    top: 58.5%;
    left: 51.2%;
    transform: translateX(-50%) rotate(23.5deg);
}

.torch {
    position: absolute;
    width: 10%;
    top: 87%;
    left: 32%;
}
.mid_text {
    position: absolute;
    font-size: 3.5vw;
    z-index: 5;
    font-family: happymonkey;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    color: #639baa;
    width: 30%;
}
.globe_half_covered {
    position: absolute;
    transform: translateX(-50%);
    left: 60%;
    width: 18%;
    top: 56.8%;
    height: 28%;
}
.globe_rotation_final2 {
    position: absolute;
    width: 18.9%;
    top: 55.2%;
    left: 60.2%;
    transform: translateX(-50%) rotate(23.5deg);
}
.handicon {
    position: absolute;
    width: 5%;
    top: 65%;
    left: 35%;
    padding: 1%;
    cursor: pointer;
}
.black{
  background: black;
}
/*************************************mediaquery**********************/
@media (min-aspect-ratio:4/3){
	.dialogbox_left{
    font-size: 3.5vh;
	}
  .mid_text{
    font-size: 8vh;
  }

}
