
p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.charofanimals{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}
.charofanimals .charofanimals *{
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock div.imgHolder{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock  div.imgHolder{
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock  div.imgHolder{
	top: 0%;
	height: 100%;
}

/*div.textblock {
	position: relative;
}*/
div.firstpage{
	position: relative;
	height: 90%;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

div.fiftypage{
	position: relative;
	height: 50%;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}


div.imageblock {
	position: absolute;
	height: 100%;
	width: 100%;
	/*border     : 1px solid green; */
}
/*.bg-img{
	z-index: -1000;
}*/

div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

.textblock {
	top:0%;
	position:absolute;
	font-family: 'Amaranth' , sans-serif;
	left:9.7%;
	width:100%;
	bottom: 80%;
	background: blue;
	text-align: center;
	z-index: 2;

}
.content1{
	background: none;
	font-size: 8vmin;
	top: 40%;
	left: 1%;
	color: grey;
	animation-duration: 3s;
}
.content2{
	background: none;
	font-size: 6vmin;
	top: 6%;
	left: 1%;
	color: #2ecc71;
	animation-duration: 3s;
}
.text-box{
	width: 80%;
	line-height: 30px;
	height: 25% !important;
	top: 1% ;
	font-size:1.2em;
	color: #2b3a3f;
	text-align: center;
	padding: 2%;
	border-radius: 10px;
	background-color: rgba(231,231,231,0.9);
	height: auto;
}
.text-box2 {
	width: 47%;
	top: 6%;
	left: 50%;
	font-size:1.2em;
	padding: 3%;
	text-align: left;
	height: 71%;
	border-radius: 10px;
	background-color: rgba(231,231,231,0.9);
	overflow-y: scroll;
	line-height: 38px;
	z-index: 500;
}
.tree{
	position: absolute;
	top:25%;
	left:5%;
	height: 18%;
}
.monkey{
	position: absolute;
	top:60%;
	left:10%;
	height: 15%;
}
.bird{
	position: absolute;
	top: 32%;
	left: 28%;
	height: 20%;
}
.wrongans{
	border: 5px solid red;
	padding: 0 1% ;
	border-radius: 56px;
}
.correctans{
	border: 5px solid green;
	padding: 0 1% ;
	border-radius: 56px;
}
/*page1-3*/

.elephant2{
	position: absolute;
	top: 44%;
	left: 48%;
	height: 55%;
	animation-duration:4s !important;
}
.parrot{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	position: absolute;
	top: 10%;
	left: 40%;
	height: 55%;
	animation-duration:4s !important;

}
.dialog{
	animation-delay: 4s !important;
}
.content3{
	background: none;
	font-size: 5vmin;
	top: 14%;
	left: -22%;
	color: #2ecc71;
	animation-delay: 4s !important;
}

.content30{
	background: none;
	font-size: 4vmin;
	top: 25%;
	left: 10%;
	color: #2ecc71;
    width: 80%;
    top: 12%;
    text-align: center;
    height: 70%;
}
.up3{
	position: absolute;
	font-size: 3.8vmin;
	top: 75%;
	left: 10%;
	color: #2ecc71;
	animation-delay: 5s !important;
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideLeft;
  animation-name: slideLeft;
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@font-face {
	font-family: "Amaranth";
	src: url("../../../../../fonts/amaranath/amaranth-regular.ttf");
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;

/*@keyframes shrink {
	100% {opacity: 0; transform: scale(0.8)}
}

@keyframes expand {
	from{ transform: scale(1);}
	to{transform: scale(1.2);}
	/*0% {opacity: 0; transform: scale(0.8)}
	100% { transform: scale(1.1,1.1)}
}*/
