@font-face {
		font-family: sniglet;
		src: url("../../../../../fonts/sniglet.ttf");
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/img/animals/bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.newcontentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/img/animals/cover_page.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.contentwithbg2 {
	width: 100%;
	height: 100%;
	background: url("../images/img/animals/bg01.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contentwithbg3 {
	width: 100%;
	height: 100%;
	background: url("../images/img/animals/bg02.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contentwithbg4 {
	width: 100%;
	height: 100%;
	background: url("../images/img/animals/sittingroom.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contentwithbg5 {
	width: 100%;
	height: 100%;
	background: url("../images/img/animals/washroom.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.contentwithcolor {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.charofanimals{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}
.charofanimals .charofanimals *{
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}
.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock div.imgHolder{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock  div.imgHolder{
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock  div.imgHolder{
	top: 0%;
	height: 100%;
}

/*div.textblock {
	position: relative;
}*/
div.firstpage{
	position: relative;
	height: 90%;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

div.fiftypage{
	position: relative;
	height: 50%;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}


div.imageblock {
	position: absolute;
	height: 100%;
	width: 100%;
	/*border     : 1px solid green; */
}
/*.bg-img{
	z-index: -1000;
}*/

div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

.textblock {
	top:0%;
	position:absolute;
	font-family: sniglet, sans-serif;
	width:100%;
	height:100%;
	bottom: 80%;

}
.content1{
	background: none;
	font-size: 8vmin;
	font-family: sniglet;
	top: 40%;
    color: ##1A6F3C;
	left: 1%;
	animation-duration: 3s;
}
.content2{
	background: none;
	font-size: 6vmin;
	font-family: sniglet;
    color: #fff;
	top: 6%;
	left: 1%;
	animation-duration: 3s;
}
.text-box{
	width: 80%;
	line-height: 30px;
	height: 25% !important;
	top: 1% ;
	font-size:1.2em;
	color: #2b3a3f;
	text-align: center;
	padding: 2%;
	border-radius: 10px;
	background-color: rgba(231,231,231,0.9);
	height: auto;
}
.text-box2 {
	width: 47%;
	top: 6%;
	left: 50%;
	font-size:1.2em;
	padding: 3%;
	text-align: left;
	height: 71%;
	border-radius: 10px;
	background-color: rgba(231,231,231,0.9);
	overflow-y: scroll;
	line-height: 38px;
	z-index: 500;
}

.tree {
    position: absolute;
    top: 40%;
    left: 10%;
    height: 18%;
    cursor: pointer;
}

.monkey {
    position: absolute;
    top: 75%;
    left: 16%;
    height: 15%;
    cursor: pointer;
}

.bird{
	position: absolute;
	top: 32%;
	left: 28%;
	height: 20%;
    cursor: pointer;
}

.candy {
    position: absolute;
    top: 45%;
    left: 60%;
    height: 15%;
    cursor: pointer;
}

.elep{
	position: absolute;
	top: 66%;
	left: 72%;
	height: 20%;
    cursor: pointer;
}

.dog{
	position: absolute;
	top: 43%;
	left: 79%;
	height: 20%;
    cursor: pointer;
}

.flower {
    position: absolute;
    top: 72%;
    left: 61%;
    height: 20%;
    cursor: pointer;
}

.bird {
    position: absolute;
    top: 69%;
    left: 43%;
    height: 20%;
    cursor: pointer;
}

.cow {
    position: absolute;
    top: 32%;
    left: 37%;
    height: 20%;
    cursor: pointer;
}

.waterbottle {
    position: absolute;
    top: 54%;
    left: 32%;
    height: 20%;
    cursor: pointer;
}

.wrongans{
	border: 4px solid #a81927;
	padding: 1% ;
	border-radius: 15px;
	background: #C14854;
}
.correctans {
    border: 4px solid green;
    padding: 1%;
    border-radius: 15px;
    background: #66af2f;
}

/*page1-3*/

.elephant2{
	position: absolute;
	top: 44%;
	left: 48%;
	height: 55%;
}
.elephant3{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	position: absolute;
	top: 44%;
	left: 39%;
	height: 55%;

}

.elephant4 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    position: absolute;
    top: 28%;
    left: 39%;
    height: 66%;
}

.dialog{
	animation-delay: 4s !important;
}

.content3 {
    background: none;
    font-size: 4vw;
    top: 6%;
    left: 10%;
    width: 55%;
    position: absolute;
    font-family: sniglet;
    color: #C51811;
    z-index: 10;
}

.gofromup{
    animation: fromup 1s linear forwards;
}

@keyframes fromup {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.gofromleft{
    animation: fromleft 2s linear forwards;
}

@keyframes fromleft {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.gofromright{
    animation: fromright 2s linear forwards;
}

@keyframes fromright {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.gofromdown{
    animation: fromdown 1s linear forwards;
}

@keyframes fromdown {
  from {
  	opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.breatjeeff{
    animation: brea 2s ease-in-out alternate infinite;
    transition-duration: 2s;
}

@keyframes brea {
  from {
  	transform: scale(1.3);
  }

  to {
  	transform: scale(1);
  }
}

.groweff{
    animation: growef 2s ease-in-out forwards;
    transition-duration: 2s;
}

@keyframes growef {
  from {
  	transform: scale(1);
  }

  to {
  	transform: scale(1.5);
  }
}

.babyeff{
    animation: babyef 2s ease-in-out alternate infinite;
    transition-duration: 2s;
}

@keyframes babyef {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.fadein{
	opacity: 0;
    animation: letsfadein 1s linear forwards;
}

@keyframes letsfadein {
  to {
  	opacity: 1;
  }
}

.wiggle{
    animation: letswiggle 2s linear forwards infinite;
}

@keyframes letswiggle {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  20% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  40% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.middletext{
	position: absolute;
	top: 0%;
	font-size: 4vmin;
	font-family: andika;
	width: 48%;
}
.mdlfst{
	left: 0%;
}
.mdlsec{
	right: 0%;
}
.middletext2{
	position: absolute;
	bottom: 0%;
	left: 0%;
	font-size: 5vmin;
  font-family: Andika;
  width: 100%;
	padding: 1%;
	background: #8e7cc3;
	color: #fff;
	z-index:2;
}
.left_Grn_Bg, .right_Gray_Bg{
	position: absolute;
	top: 0%;
	height: 100%;
	width: 50%;
}
.left_Grn_Bg{
	left: 0%;
	background: #b6d7a8;
}
.right_Gray_Bg{
	right: 0%;
	background: #d0e0e3;
}
.animals{
	position: absolute;
	top: 32%;
	left: 0%;
	height: 20%;
}
.others{
	position: absolute;
	right: 0%;
	height: 20%;
}
.anm1,.anm2,.oth1,.oth2{
	top: 20%;
}
.anm3,.anm4,.oth3,.oth4{
	top: 53%;
}
.anm1, .anm3{
	left: 5%;
}
.oth1,.oth3{
	right: 5%;
}
.oth2{
	right: 25%;
}
.anm2{
	left: 25%;
}
.anm4{
	left: 30%;
}
.oth4{
	right: 30%;
}
.elepBreathe{
	position: absolute;
	top: 43%;
	width: 9%;
	left: 63%;
	animation: elepBr 1s linear infinite;
	opacity: 0;
}
@keyframes elepBr {
	50%{opacity: 1;top:33%;}
	100%{opacity: 0;top: 28%;}
}

.parrBreathe{
	position: absolute;
	top: 40%;
	width: 6%;
	left: 80%;
	animation: parBr 1s linear infinite;
	opacity: 0;
}
@keyframes parBr {
	50%{opacity: 1;top:30%;}
	100%{opacity: 0;top: 25%;}
}

.mnkyBreathe{
	position: absolute;
	top: 44%;
	width: 6%;
	left: 66%;
	animation: mnkBr 1s linear infinite;
	opacity: 0;
}
@keyframes mnkBr {
	50%{opacity: 1;top:30%;}
	100%{opacity: 0;top: 25%;}
}

.goatBreathe{
	position: absolute;
	top: 49%;
	width: 6%;
	left: 70%;
	animation: goatBr 1s linear infinite;
	opacity: 0;
}
@keyframes goatBr {
	50%{opacity: 1;top:39%;}
	100%{opacity: 0;top: 34%;}
}
.manBreathe{
	position: absolute;
	top: 32%;
	width: 4%;
	left: 83%;
	animation: manBr 1s linear infinite;
	opacity: 0;
}

@keyframes manBr {
	50%{opacity: 1;top:22%;}
	100%{opacity: 0;top: 17%;}
}
.pottyElep{
	position: absolute;
	top: 86%;
	left: 42%;
}
.elepPty_fall{
	top: 70%;
	transform: rotate(64deg);
	left: 44.2%;
	animation: elepPty 2s linear infinite;
}
@keyframes elepPty {
	100%{top: 86%;transform: rotate(0deg);}
}
.pottyparrot{
	bottom: 3%;
	position: absolute;
	width: 4%;
	right: 35%;
	opacity: 0;
	animation: parPty .5s linear 2s forwards;
}
@keyframes parPty {
	100%{opacity: 1;}
}
.ptyMnky{
	right: 33%;
}
.pottyGoat{
	position: absolute;
	bottom: 5%;
	right: 53%;
	opacity: 0;
	animation: parPty .5s linear 2s forwards;
}
