.bg_full{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.top_text {
    position: absolute;
    font-size: 2vw;
    background: #7386d5;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    padding: 1%;
}
.centertext {
    position: relative;
    top: 9%;
    transform: translateY(-50%);
    padding: 1% 1%;
    height: auto;
    color: white;
    background: rgba(131, 167, 239,.85);
}
.speech_left {
    top: 12%;
    left: 61%;
    width: 21%;
    color: #1155cc;
}
.speech_top_middle {
    top: 11%;
    left: 33%;
    width: 21%;
    color: blue;
}
.speech_right {
    color: blue;
    width: 22%;
    left: 56%;
    top: 51%;
}
.blue_bg{
  background: #6d9eeb;
}
.bottom_text {
    position: absolute;
    background: #fff7d1;
    width: 100%;
    font-size: 2vw;
    padding: 1%;
    top: 0;
    left: 0;
}
.click-1, .click-2, .click-3 {
    width: 30%;
    cursor: pointer;
    height: 28%;
}
.click-1:hover, .click-2:hover, .click-3:hover {
  transform: scale(1.1);
  transition: .2s;
}
.insidetext_cloud {
    top: 64% !important;
    position: absolute !important;
    color: blue;
}
.click-1 {
    top: 14%;
    left: 5%;
}
.click-2 {
    top: 34%;
    left: 35%;
}
.click-3 {
    top: 59%;
    left: 65%;
}
.zoom-in-1 {
	transform-origin: 50% 27%;
	-webkit-animation: zoom-in-1 3s linear both;
	animation: zoom-in-1 3s linear both;
}
@-webkit-keyframes
zoom-in-1 {
	100% {transform: scale(2);}
}
@keyframes
zoom-in-1 {
	100% {transform: scale(2);}
}
.zoom-in-2 {
	transform-origin: 50% 27%;
	-webkit-animation: zoom-in-2 3s linear both;
	animation: zoom-in-2 3s linear both;
}
@-webkit-keyframes
zoom-in-2 {
	100% {transform: scale(1.5);}
}
@keyframes
zoom-in-2 {
	100% {transform: scale(1.5);}
}

.zoom-in-3 {
	transform-origin: 50% 87%;
	-webkit-animation: zoom-in-3 3s linear both;
	animation: zoom-in-3 3s linear both;
}
@-webkit-keyframes
zoom-in-3 {
	100% {transform: scale(1.5);}
}
@keyframes
zoom-in-3 {
	100% {transform: scale(1.5);}
}
.rain_window {

    position: absolute;
    width: 50%;
    right: 0;
    top: 0;

}
.insidetext {
    top: 50% !important;
    left: 12% !important;
}

.zoom-in-1-a {
	transform-origin: 50% 27%;
	-webkit-animation: zoom-in-1-a 2s linear both;
	animation: zoom-in-1-a 2s linear both;
}
@-webkit-keyframes
zoom-in-1-a {
	100% {transform: scale(2);}
}
@keyframes
zoom-in-1-a {
	100% {transform: scale(2);}
}
.zoomed{
  transform-origin: 50% 27%;
  transform: scale(2);
}
@media (min-aspect-ratio: 4/3){
	.top_text{
		font-size: 5vmin;
	}
  .bottom_text{
    font-size: 4.5vmin;
  }
}
