<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/ashish_fonts.css");
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            {{#if exetype1}}
            <p class="instruction {{ques_class}}" data-highlight="{{datahighlightflag}}"
            data-highlightcustomclass="{{datahighlightcustomclass}}"><span id="num_ques">1</span>{{{instruction}}}</p>
            {{#each extratext}}
             <p class="{{extraclass}}">{{extradata}}</p>
             {{/each}}
            {{#each exetype1}}
                <p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}"	data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>

                <div class="optionsdiv">
                  {{#each exeoptions}}
                      <div class="optionscontainer {{optcontainerextra}}">
                          <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>

                          <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">

                          <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
                      </div>
                  {{/each}}
                </div>
            {{/each}}

           {{/if}}

           {{#if exetypesec}}
           <p class="instruction {{ques_class}}" data-highlight="{{datahighlightflag}}"
           data-highlightcustomclass="{{datahighlightcustomclass}}"><span id="num_ques">1</span>{{{instruction}}}</p>
           {{#each extratext}}
            <p class="{{extraclass}}">{{extradata}}</p>
            {{/each}}
           {{#each exetypesec}}
               <p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}"	data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>

               <div class="optionsdivsec">
                 {{#each exeoptions}}
                     <div class="optionscontainersec {{optcontainerextra}}">
                         <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>

                         <img src="images/correct.png" class="imagestartpos_sec {{startposextra}} corctopt">

                         <img src="images/wrong.png" class="imagestartpos_sec {{startposextra}} wrngopt">
                     </div>
                 {{/each}}
               </div>
           {{/each}}

          {{/if}}
            </div>
        </script>

<script id="multiopscontent-partial" type="text/x-handlebars-template">
    <div class="optionscontainer {{optcontainerextra}}">
      <p class ="{{multiopstextstyle}}" data-highlight="{{datahighlightflag}}"
      data-highlightcustomclass="{{datahighlightcustomclass}}">{{multiopsdata}}</p>

        <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">

        <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
    </div>
</script>

<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
