body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.bg{
    background-color:#c0eaff;
    background-size: 100% 100%;
}
.bg1{
    background-color:#66cdaa;
    background-size: 100% 100%;
}
.background1{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(.5);
  filter: brightness(.5);
}
.brightness {
  -webkit-filter: brightness(.5);
   filter: brightness(.5);
 }
.img1{
  position: absolute;
  top: 5%;
  left: 10%;
  width: 100%;
  height: 13%;
}
.img2{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 100%;
  height: 13%;
}
.optiontext1, .optiontext2, .optiontext3, .optiontext4, .optiontext5 {
	position: absolute;
	width: 7%;
	height: 12%;
	top: 49%;
	left: 19%;
	color: white;
	transform: translate(-50%,-50%);
	text-align: center;
	z-index: 99;
}
.optiontext2{
  left:50%;
}
.optiontext3{
  left:81%;
}
.optiontext4{
  top:91%;
  left:34%;
}
.optiontext5{
  top:91%;
  left:65%;
}

.toptextfirst,.toptext,.toptext2,.toptext3,.toptext4,.toptext5 {
	position: absolute;
	top: 4.8%;
	left: 50%;
	width: 100%;
	height: 9.4%;
	color: white;
	font-size: 3.5vw;
	background-color: #d89a81;
	transform: translate(-50%,-50%);
	text-align: center;
  z-index: 99;
  padding-top: 1vmin;
}
.toptext2{
  background-color: #a2738c;
}
.toptext3{
  background-color: #307672;
}
.toptext4{
  background-color: #e69138;
}
.toptext5{
  background-color: #b30753;
}
.toptextfirst{
  background-color: #ffc278;
  color:black;
}

.midimage,.midimage1,.panimage {
	position: absolute;
	top: 44.8%;
	left: 50%;
	width: 100%;
	height: 71%;
	transform: translate(-50%,-50%);
}
.panimage{
  left:-100%;
  z-index: 20;
}
/* without bottomtext */
.midimage1 {
	top: 54.8%;
	height: 91%;
}
.bottext,.bottext2,.bottext3{
  position: absolute;
  top: 90%;
  left: 50%;
  width: 100%;
  height: 20%;
  color: #952e4b;
  font-size: 3.5vw;
  background-color: #fbe4c9;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 99;
  padding-top: 1.5%;
}
.bottext2{
  background-color: #e4eddb;
}
.bottext3{
  background-color: #faf4d0;
}
.arrow {
	position: absolute;
	height: 2%;
	width: 23%;
	top: 42%;
	left: 39%;
	transform: scaleX(-1);
  filter: invert(100%)
}
.options {
	position: absolute;
	width: 26%;
	height: 24%;
	/* border: 3px solid #b7b7b7; */
	right: 3%;
	border-radius: 30px;
	cursor: pointer;
}
.nutrition{
    top:18%;
    left:6%;
}
.respiration{
    top:18%;
    left:37%;
}
.internaltransport{
    top:18%;
    left:68%;
}
.excretion{
    top:60%;
    left:21%;

}
.reproduction{
    top:60%;
    left:52%;

}
.options:hover{
    transform:scale(1.1);
    border: 3px solid #ffe599;
}
.opttitle{
    position: absolute;
    width: 40%;
    height: 15%;
    left: 0%;
    top: 34%;
    background-color: #fff2cc;
    box-shadow: 5px 10px 10px #c0c0c0;
    z-index:2;
}
[class*="place"] {
	position: absolute;
	width: 8%;
	height: 7%;
	color: white;
	font-size: 1.6vw;
	transform: translate(-50%,-50%);
	z-index: 99;
}
.place1 {
	top: 77%;
	left: 35%;
}
.place2 {
	top: 33.3%;
	left: 78.6%;
}
.zoomin{
  animation: zoomin 2.5s 2s linear forwards;
}
.commonzoom{
  animation: commonzoom 2s .5s ease-in-out forwards;
}
.zoomout{
  animation: zoomout 2s linear forwards;
}
.line2 {
	position: absolute;
  left: 50%;
  width: 100%;
  top: 54.8%;
	height: 91%;
  transform: translate(-50%,-50%);
  opacity:0;
  animation:fadein 2s 1s linear forwards;
}
.line {
	position: absolute;
	width: 61.3%;
	height: 56%;
	left: 24.9%;
	top: 28%;
  opacity:0;
  animation:fadein 1s 6s linear forwards;
}
.flower1, .flower2, .flower3 {
	position: absolute;
	height: 28%;
	width: 18%;
	top: 23%;
	left: 23%;
	border-style: solid;
	border-color: white;
	z-index: 99;
  opacity:0;
}
.fadein{
  animation: fadein 3s .5 forwards;
}
.flower1{
  animation: fadein 1s 1s forwards;
}
.flower2 {
	top: 44%;
	left: 42%;
  animation: fadein 1s 2s forwards;

}
.flower3 {
	left: 61%;
  animation: fadein 1s 3s forwards;

}
.cntrtxt{
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fbe4c9;
  padding: 4%;
  z-index: 10;
  transform: translate(-50%,-50%);
  border-radius: 1em;
  font-size: 5vh;
  width: 70%;
  text-align: center;
}
.shakeup{
  animation: shakeup 0.82s linear forwards;
}
.slideleft{
  animation:slideleft 1.5s 1.5s forwards;
}
@keyframes slideleft {
    100% {
        left:50%;
    }
}
@keyframes zoomout{
  0%{
    transform: scale(1.6);
    transform-origin: 60% 57%;
  }
  100%{
    transform: scale(1);
  }
}
@keyframes shakeup {
  10%, 90% {
    left: 48%;
  }

  20%, 80% {
    left:52%;
  }

  30%, 50%, 70% {
    left: 49%;

  }

  40%, 60% {
    left: 51%;
  }

  100%{
    left: 50%;
    top: 50%;
  }
}
@keyframes zoomin{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.6);
    transform-origin: 45% 57%;
  }
}
@keyframes fadein{
  to{
    opacity: 1;
  }
}

.background{
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0;
}
@keyframes slideRight {
    100% {
        right:0%;
    }
}
@keyframes commonzoom {
    100% {
        transform: translate(-50%,-50%)scale(1);
    }
}



.option{
    position: absolute;
    width: 30%;
    height: 15%;
    right: 9%;
    background-color: #5772e6;
    border-radius: 26px;
    color: white;
    cursor:pointer;
}
.option1{
    position: absolute;
    width: 30%;
    height: 15%;
    left:50%;
    transform: translateX(-50%);
    background-color: #5772e6;
    border-radius: 26px;
    color: white;
    cursor:pointer;
}

.option:hover,.option1:hover{
    background-color: #f9cb9c;
    border:4px solid #f6b26b;
    color: black;
}
#lineSvg {
	position: absolute;
	top: 18.3%;
	left: 12.1%;
	width: 59.6%;
	height: 19.4%;
	transform: rotate(7.7deg);
}
#Layer_1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.lineanim{
		stroke-dasharray: 500;
		stroke-dashoffset: 500;
		animation: lineanm 4s 1s linear forwards;
}
@keyframes lineanm {
  0%{ stroke-dashoffset: 500; }
  100%{  stroke-dashoffset: 0;}
}

@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
  [class*="text"] {
		font-size: 4.2vh;
	}
  .place1,.place2{
    font-size: 2.8vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
  [class*="text"] {
  font-size: 3.2vw;
  }
  .place1,.place2{
    font-size: 1.4vw;
  }
}
