@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/laila.ttf");
}
body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.background{
  height:100%;
  width:100%;
  z-index:0;
}
.title{
  position: absolute;
  top: 35%;
  left: 50%;
  width: 65%;
  height: 15%;
  color: white;
  font-size: 4.8vw;
  transform: translate(-50%,-50%);
  text-align: center;
}

.contentblock.bluebg{
  background-color: #5c80bc;
}
.boytext {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 100%;
	height: 15%;
	color: white;
	font-size: 4vw;
	transform: translate(-50%,-50%);
	text-align: center;
}
.boybig {
	position: absolute;
	top: 54%;
	left: 7%;
	width: 18%;
	height: 46%;
}
.mapofnepal {
	position: absolute;
	top: 25%;
	left: 40%;
	width: 55%;
	height: 53%;
	opacity: 0;
}
[class*="place"] {
	position: absolute;
	width: 8%;
	height: 7%;
	color: black;
	font-size: 1.5vw;
	transform: translate(-50%,-50%);
	z-index: 99;
  opacity: 0;
}
.place1 {
	top: 58%;
	left: 58%;
}
.place2 {
	top: 41.3%;
	left: 60.4%;
}
.place3 {
	top: 55%;
	left: 71%;
	font-size: 2.3vw;
}
.cloudclass {
	position: absolute;
	top: 46%;
	left: 25%;
	width: 63%;
	height: 47%;
  opacity:0;
}
.zoomin{
  animation: zoomin 2s 11s linear forwards;
}
.zoomcloud{
  animation: zoomcloud 2.5s linear forwards;
}
.fadein{
  animation: fadein 1.5s ease-in forwards;
}
@keyframes zoomin{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(2.5);
    transform-origin: 50% 57%;
  }
}
@keyframes zoomcloud{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(2.6);
    filter: blur();
    transform-origin: 70% 70%;
  }
}
@keyframes fadein{
  to{
    opacity: 1;
  }
}
#lineSvg{
  position: absolute;
	top: 25%;
	left: 36%;
	width: 61%;
	height: 53%;
}
#Layer_1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
.lineanim{
		stroke-dasharray: 500;
		stroke-dashoffset: 500;
		animation: lineanm 5s 7s linear forwards;
}
@keyframes lineanm {
  0%{ stroke-dashoffset: 500; }
  100%{  stroke-dashoffset: 0;}
}

@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
  .boytext {
		font-size: 4.5vh;
	}
  .title{
    font-size: 7.8vh;
  }
  .place1,.place2{
    font-size: 2.8vh;
  }
  .place3{
    font-size: 3.0vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
  .boytext {
  font-size: 3.3vw;
  }
  .title{
    font-size: 4.8vw;
  }
  .place1,.place2{
    font-size: 1.3vw;
  }
  .place3{
    font-size: 1.5vw;
  }
}
