.bg-full{
  height: 100%;
  width: 100%;
}

.diy_title{
    position: absolute;
    left: 55%;
    top: 38%;
    color: #DF4056;
    width: 100%;
    z-index: 5;
    transform: translateX(-50%);
    font-size: 3vw;
    font-family: comingsoon;
}
.left_char {
    position: absolute;
    width: 11%;
    left: 25%;
    top: 55%;
}
.sky_blue{
	background: #CFE2F3;
}
.width_change{
	width: 8%;
}
.dialog3 {
    width: 43%;
    height: 38%;
    top: 10%;
    left: 30%;
    font-family: sniglet;
    font-size: 2vw;
    padding: 3%;
}
.left_book {
    position: absolute;
    left: 10%;
    height: 55%;
    top: 42%;
    padding: 6%;
        padding-right: 6%;
        padding-bottom: 6%;
    border: .5vmin solid #F1C232;
    border-radius: 2vmin;
    padding-bottom: 13%;
    padding-right: 14%;
}
.right_book {
    position: absolute;
    height: 55%;
    left: 48%;
    top: 42%;
    border: .5vmin solid #F1C232;
    border-radius: 2vmin;
    padding: 2%;
        padding-bottom: 2%;
    padding-bottom: 11%;
}
.top_instuction {
    position: absolute;
    font-family: andika;
    width: 100%;
    background: #66c266;
    font-size: 2vw;
    padding: 1%;
    color: white;
}
.question_top {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    width: 100%;
    top: 25%;
}
.right_text {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    left: 54%;
    top: 81%;
    text-align: left;
}
.left_text {
    position: absolute;
    font-family: sniglet;
    font-size: 2vw;
    left: 13%;
    top: 81%;
    text-align: left;
}
.option {
    position: absolute;
    font-family: sniglet;
    background: #7558BE;
    color: white;
    padding: 1%;
    width: 26%;
    border-radius: 1vmin;
    border: .5vmin solid #7558BE;
    top: 50%;
    font-size: 2vw;
    transform: translate(-50%);
}
.option:hover{
	background: #F9CB9C;
	border: .5vmin solid #E69138;
	color: black;
	cursor: pointer;
}
.pos1{
	left: 20%;
}
.pos2{
	left: 50%;
}
.pos3{
	left: 80%;
}
@media (min-aspect-ratio:4/3){
	.diy_title {
		font-size: 6vmin;
	}
	.dialog3,.left_text,.right_text,.option{
		font-size: 4vmin;
	}
	.top_instuction,.question_top{
		font-size: 4.5vmin;
	}
}

.makeitlc{
  font-style: italic;
}
