div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 5;
    background: #097054;
    font-size: 5vmin;
    padding: 1%;
    font-family: sniglet;
    color: white;
    border-bottom: 0.15em solid white;
}

.flexcontainerblock{
	position: absolute;
	width: 30%;
	right: 1.5%;
	top: 20%;
	display: flex;
	flex-flow: row nowrap;
}

.flexcontainerblock100 {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 55%;
    display: flex;
    flex-flow: row wrap;
    font-size: 3.56vmin;
    transform: translate(-50%, -50%);
    border: none;
}

.flexcontainerblock200 {
    position: absolute;
    width: 78%;
    left: 50%;
    top: 50%;
    display: flex;
    flex-flow: row wrap;
    font-size: 3vmin;
    transform: translate(-50%, -50%);
    height: 86%;
}

.lowerflex {
    position: absolute;
    width: 78%;
    left: 50%;
    top: 80%;
    display: flex;
    flex-flow: row wrap;
    font-size: 3vmin;
    transform: translate(-50%, -50%);
    height: 30%;
    background: white;
}

.lowerflex .tbrow1 {
    background: #FF9900;
    color: white;
}

.lowerflex .tbrow3{
  font-size: 2.8vmin;
}

.flexcandyimages {
    position: absolute;
    width: 94%;
    left: 50%;
    top: 35%;
    display: flex;
    flex-flow: row wrap;
    font-size: 3vmin;
    transform: translate(-50%, -50%);
    height: 30%;
}

.tabletext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    color: #000;
    font-family: sniglet;
    flex: 1;
}

.flexcontainerblock200 .tabletext {
    background: #cc6f6f;
    border: 0.05em solid black;
}

.column{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.flexcandyimages .column{
	display: flex;
	flex-flow: row wrap;
	flex: 1;
  justify-content: center;
  align-items: center;
}

.flexcandyimages .column:nth-of-type(1) img{
  width: 34%;
}

.flexcandyimages .column:nth-of-type(2) img{
  width: 25%;
}

.flexcandyimages .column:nth-of-type(3) img{
  width: 12%;
}

.column1{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.column1 div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.55vmin;
    color: #000000;
    flex: 1;
    font-family: sniglet;
    border: 0.05em solid #5d5d5d;
    background: #fff;
}

.smallcandies{
  width: 73%;
}

.flexshrink{
  animation: shrinkit 1s linear forwards;
}

@keyframes shrinkit {
  to{
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }
}

.box {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 0;
    width: 30%;
    animation: boxfade 1s linear 2s forwards;
}

@keyframes boxfade {
  from{
    transform: translate(-50%, -50%) scale(0.2);
  }
  to{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

[class*="threeimg"]{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 18%;
  top: 50%;
}

.threeimg-1{
  left: 15%;
}

.threeimg-2{
  left: 40%;
}

.threeimg-3{
  left: 65%;
}

[class*="iclabel"] {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 18%;
  top: 50%;
  font-size: 9vmin;
  color: white;
}

.iclabel-1{
  left: 27%;
}

.iclabel-2{
  left: 53%;
}

.iclabel-3{
  left: 85%;
}

.highsize {
  color: #00f6ff;
}

.greenhigh{
  color: green;

}

.selectthis{
  animation: thissel 0.5s linear alternate infinite;
}

@keyframes thissel {
  0%{
    transform: rotate(-15deg)
  }
  100%{
    transform: rotate(15deg)
  }
}

.hiddencount p{
  display: none;
}

.lowmoveup{
  animation: moveitup 2s ease-out forwards;
}

@keyframes moveitup {
  100%{
    top: 20%;
  }
}

.conclubox {
    position: absolute;
    transform: translateX(-50%);
    bottom: 8%;
    left: 50%;
    font-size: 4.5vmin;
    width: 90%;
    background: white;
    padding: 5%;
    border-radius: 2em;
    opacity: 0;
    animation: cssfadein 1s ease-out 2s forwards;
}
