.readingmap_exercise2 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_exercise2, .readingmap_exercise2 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

/**
* background image container
*/

div.backgroundbackImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: url(../images/exercise2/bgback.png);
	background-repeat: repeat;
	background-size:100% 100%;
}

div.backgroundfrontImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: url(../images/exercise2/bgfront.png);
	background-repeat: repeat;
	background-size:100% 100%;
}

p.instruction{
	position:absolute;
	top: 0%;
	right:0%;
	width:50%;
	background-color: rgb(240, 240, 240);
	border:2px solid rgb(217, 217, 217);
	padding:2% 3%;
	font-size: 1.2em;
}

div.bush{
	position: absolute;
	bottom:13%;
	right:2%;
	width: 25%;
	height: 25%;
	background: url(../images/exercise2/bush.png);
	background-repeat: repeat;
	background-size:100% 100%;
}

div.bird{
	display: none;
	position: absolute;
	bottom: 70%;
	right: 7%;
	/*bottom: 42%;
	left: 40%;*/
	width:5%;
	height: 3%;
	/*border: 1px solid red;*/
	background: url(../images/exercise2/bird.png);
	background-repeat: no-repeat;
	background-size:300% 100%;
	background-position: 0% 0%;
}

@keyframes charanimation{
  100% {background-position:100% 0%;}
}

@-webkit-keyframes charanimation{
  100% {background-position:100% 0%;}
}

.birdflyCycle{
	animation: charanimation .8s steps(2) infinite;
	-webkit-animation: charanimation .8s steps(2) infinite;
}

div.rowboat{
	position: absolute;
	bottom: 37%;
	/*bottom: 30%;*/
	left: 80%;
	width: 6%;
	height: 8%;
	/*border: 1px solid red;*/
	background: url(../images/exercise2/rowboat.png);
	background-repeat: no-repeat;
	background-size:100% 100%;	
	opacity:0;
}

.rowboatransition{
	transition: opacity 0.5s linear,bottom 2s linear;
	-webkit-transition: opacity 0.5s linear,bottom 2s linear;
}

div.character{
	position: absolute;
	bottom: 63%;
	left: 20%;
	/*bottom: 42%;
	left: 40%;*/
	width:3%;
	height: 7%;
	/*border: 1px solid red;*/
	background: url(../images/exercise2/character.png);
	background-repeat: no-repeat;
	background-size:700% 100%;
	background-position: 0% 0%;
}

div.characterfront{
	position: absolute;
	bottom: 14%;
	left: 84%;
	/* bottom: 27%;
	left: 12%; */
	opacity:0;
	width:3%;
	height: 7%;
	/*border: 1px solid red;*/
	background: url(../images/exercise2/characterfront.png);
	background-repeat: no-repeat;
	background-size:700% 100%;
	background-position: 0% 0%;
}

@keyframes charanimation{
  100% { background-position:100% 0%; }
}

@-webkit-keyframes charanimation{
  100% { background-position:100% 0%; }
}

.characterWalkCycle{
	animation: charanimation .8s steps(6) infinite;
	-webkit-animation: charanimation .8s steps(6) infinite;
}

@keyframes girljump{
	100% {
		transform:translateY(-20px);
		-webkit-transform:translateY(-20px);
		animation-timing-function: linear;
		-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  	}
}

@-webkit-keyframes girljump{
  100% {
		transform:translateY(-20px);
		-webkit-transform:translateY(-20px);
		animation-timing-function: linear;
		-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  	}
}

.jumpgirl{
	animation: girljump 0.2s ease-out 1;
	-webkit-animation: girljump 0.2s ease-out 1;
}

.downhilltransition{
	transition: left 2s linear, bottom 2s linear;
	-webkit-transition: left 2s linear, bottom 2s linear;
}

.alongtheroad{
	transition: left 3s linear;
	-webkit-transition: left 3s linear;
}

.throughbush{
	transition: left 2s linear;
	-webkit-transition: left 2s linear;
}

.throughmarket{
	transition: left 4s linear;
	-webkit-transition: left 4s linear;
}

.toschool{
	transition: left 2s linear;
	-webkit-transition: left 2s linear;
}

div.questionboard{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height:20%;
	/*border:1px solid red;*/
}


div.questionline{
	position: relative;
	top: 25%;
	left: 0;
	text-align: center;
	
	background-color: rgb(235, 235, 255);
	color:rgb(24, 42, 146);
}

div.questionline > p > span.droparea{
	position: relative;
	top: 1%;
	height: 30%;
	width: 100%;
	border-width: 2px;
	border-radius: 5px;
	padding:5px 10px;
	border-style: solid;
	border-color: rgb(92, 159, 162) rgb(157, 233, 246) rgb(157, 233, 246) rgb(92, 159, 162);
	background-color: rgb(232, 232, 232);

	transition : background-color 0.1s linear, border 0.1s linear;
	-webkit-transition : background-color 0.1s linear, border 0.1s linear;
}

div.questionline > p > span.droparea > span{
	opacity:0;
}

div.optionsboard{
	position: absolute;
	bottom:0;
	left:0;
	padding:2px 10px;
	/*display: none;*/
}

div.optionsboard{
	position: absolute;
	bottom:0;
	left:0;
	padding:1% 3%;
	width:87%;
	/*display: none;*/
}

div.optionsboard > span{
	position: relative;
	bottom:0;
	left:0;
	padding:5px 10px;
	/*display: none;*/
	border-radius: 4px;
	padding: 1%;
	cursor: move;
	color: rgb(255, 255, 255);
	border: 2px outset rgb(0, 184, 212);
	background-color: rgb(0, 184, 212);
}

div.endSlide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: url(../images/exercise2/endslidebg.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
}

div.endSlide > p{
	position: absolute;
	top: 10%;
	right: 0;
	width: 70%;
	height: 50%;
	background-color: rgba(240, 240, 240,0.6);
	border:2px solid rgb(217, 217, 217);
	padding:2% 3%;
	font-size: 1.2em;	
}

div.endSlide > p > span{
	color:grey;	
	background-color: yellow;
}



