
<script>
$cssLoader('css/shared.css');
$cssLoader('exercise/css/exeshared.css');
$cssLoader('exercise/css/exe1.css');
</script>
<div id="exeContent">
	<p id="head_title">Exercise 1</p>

	<p id="exe_2">Exercise 1</p>
	

	<div id="totalBox">

		
	</div>
	<div class="rightExe">
		<img src="$ref/exercise/images/correct.png" />
	</div>

	<div class="wrongExe">
		<img src="$ref/exercise/images/incorrect.png" />
	</div>

	<div id="exeNext">
		
	</div>
	<!-- <div class="nextBtn myNextStyle"></div> -->

</div>
<script type="text/x-handlebars-template" id="question-template">
<div class="questions">
	<img src="{{{question}}}" />
	<p class="caption">{{caption}}</p>

</div>
<div class="answers">
	<div class="" id="{{correct1}}">{{optA}}</div> 
	<div class="" id="{{correct2}}">{{optB}}</div>
</div>
				
</script>



<script type="text/x-handlebars-template" id="solution-template">
<div class="solutions">
	<div class="solLeft">
		<div>{{exe_2_a}}</div>
		<div>
			{{#each fimage}}
				<img src="activity/grade7/science/sci_plant_class_01/exercise/images/{{this}}" />
			{{/each}}
		</div>
	</div>
	<div class="solRight">
		<div>{{exe_2_b}}</div>
		<div>
			{{#each nimage}}
				<img src="activity/grade7/science/sci_plant_class_01/exercise/images/{{this}}" />
			{{/each}}
		</div>
	</div>
</div>
<div class="results">
	<div>{{ctAns}} : {{ctAns1}}</div>
	<div>{{wtAns}} : {{wtAns1}}</div>
	<div>{{ttAns}} : {{ttAns1}}</div>
	<div id='replayid' class="reloadjsbtn">{{{imgCloseSrc}}}</div>
	
</div>
</script>


<script type="text/javascript">
$jsLoader("js/sharedexe.js");

$jsLoader("exercise/js/exe1.js");

</script>

