<script type="text/javascript">
  $cssLoader("css/page13.css");
</script>

<div class="readingmap_page3">
  <div class="board"></div>
  <div class="nextBtn myNextStyle"></div>
  <div class="prevBtn myPrevStyle"></div>

  <div class="information_box">
    <img
      src="activity/grade8/english/eng_grade8_participating_in_fair/images/close.png"
      class="img_responsive close_info_box"
    />

    <div class="words">
      <p class="click_words">Click on the words to know their meaning</p>
      <ul class="mainul">
        <li class="firstlist">Accompanied</li>
        <li class="secondlist">Drums</li>
        <li class="thirdlist">Cymbals</li>
        <li class="forthlist">Shields</li>
        <li class="fifthlist">Spear</li>
        <li class="sixthlist">Rejuvenates</li>
        <li class="seventhlist">Agile</li>
      </ul>
    </div>

    <div class="images_words">
      <img
        src="activity/grade8/english/eng_grade8_participating_in_fair/images/acc.jpg"
        class="img_responsive imgone"
      />
      <img
        src="activity/grade8/english/eng_grade8_participating_in_fair/images/drum.jpg"
        class="img_responsive imgtwo"
      />
      <img
        src="activity/grade8/english/eng_grade8_participating_in_fair/images/cy.jpg"
        class="img_responsive imgthree"
      />
      <img
        src="activity/grade8/english/eng_grade8_participating_in_fair/images/sh.jpg"
        class="img_responsive imgfour"
      />
      <img
        src="activity/grade8/english/eng_grade8_participating_in_fair/images/sp.jpg"
        class="img_responsive imgfive"
      />
      <img
        src="activity/grade8/english/eng_grade8_participating_in_fair/images/re.jpg"
        class="img_responsive imgsix"
      />
      <img
        src="activity/grade8/english/eng_grade8_participating_in_fair/images/ag.jpg"
        class="img_responsive imgseven"
      />
    </div>

    <div class="words_meanings">
      <p class="meaningone">together with, along with, play with</p>
      <p class="meaningtwo">
        a musical instrument, played by hitting with the hand or a stick
      </p>
      <p class="meaningthree">
        a flat, round musical instrument made of brass that makes a loud noise
        when hit with a stick or against another cymbal
      </p>
      <p class="meaningfour">
        something made of metal, used as protection or providing protection
      </p>
      <p class="meaningfive">
        a weapon consisting of a pole with a sharp, usually metal, point at one
        end, that is either thrown or held in the hand
      </p>
      <p class="meaningsix">revive; renew; revitalize</p>
      <p class="meaningseven">active; fit</p>
    </div>
  </div>
</div>

<script type="text/x-handlebars-template" id="slide1-template">
  <div class="slide1 coverBoardFull">
  	{{#if questionend}}
      	<p class="discuss_question">Discuss the following question.</p>
      	<p class="lessonquestion">{{questiondata}}</p>
      	<p class="click_for_ref">Click here for reference</p>
      	<p class="answer">{{answerdata}}</p>
      {{else}}
       <div class="backgroundImagesContainer">
           <img src="{{this.bgImgSrc}}" data-forwhichdialog="{{this.forwhichdialog}}">
       </div>
       <div class="talkHeads">
           {{#each talkHeadImages}}
               <img src="{{this.talkHeadImgSrc}}" data-whosehead="{{this.nameofwhosehead}}" data-highlight="{{this.highlightFlag}}">
           {{/each}}
       </div>
       <div class="dialogcontainer">
           <p id="{{this.dialog_id}}">
               <img class="listenAgainButton disableListenAgain" src="{{speakerImgSrc}}" title="{{listenAgainText}}">
               {{#each lineCountDialog}}
                   <p data-highlight="{{datahighlightflag}}" id="{{span_id}}">{{span_data}}</p>
               {{/each}}
           </p>
       </div>
    {{/if}}
  </div>
</script>

<script src="js/buzz.min.js" type="text/javascript"></script>

<script type="text/javascript">
  $jsLoader("js/page13.js");
</script>
