html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}
@font-face {
    font-family:pangolin;
    src: url(../../../../../fonts/Pangolin-Regular.ttf);
}
p {
	margin: 0;
}
/* content block css */
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.chapter{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}
.chapter .chapter *{
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000;

}


.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}
.contentblock {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

/*********** SPECIFIC CSS ***********/
.chapter-title {
    position: absolute;
    font-size: 8vmin;
    font-family: pangolin;
    color: white;
    left: 25%;
    width: 50%;
    top: 9%;
}

.title-block {
	display: flex;
	align-items: center;
	padding: 0.5% 5%;
	padding-right: 0;
	position: relative;
	background-color: rgb(80,85,189);
	/*height: 12%;*/
	width: 100%;
	text-align: left;
	/*border: 1px solid red;*/
}
.slide-title {
	flex: 0 0 35%;
	font-size: 3vw;
	color: white;
}
.slide-subtitle {
	flex: 1 1 0;
	font-size: 2.8vw;
	/*background-color: rgb(255,226,72);*/
	background-image: url('../images/yellow_ribbon.png');
	background-size: 100% 100%;
	color: rgb(57,60,113);
	margin-left: 5%;
	padding: 4% 4%;
	/*width: 55.5%;*/
}
.balloon {
	position: relative;
	height: 51%;
}
.fliper-block {
	position: relative;
	width: 65%;
	height: 80%;
	top: 5%;
	animation: slideUp 2s;
}
.flipper-block p {
	font-size: 2em;
	background-color: rgb(255,226,72);
}
.flipper {
	perspective: 1000px;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
#present-flipper {
	border: 3px solid white;
	text-align: left;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	cursor: pointer;
	height: 50%;
}
@keyframes slideUp {
	0% {top: 100%}
	70% {top: 5%}
	85% {top: 6%}
	100% {top: 5%}
}
.front h1,
.back h1 {
	border-top: 3px solid rgb(231,206,54);
	border-bottom: 3px solid rgb(231,206,54);
	width: 100%;
	top: 5%;
	position: absolute;
	font-size: 1.7em;
	padding: 1% 0;
	margin-top: 0;
	text-align: center;
	background-color: rgb(255,226,72);
	color: rgb(204,86,100);
}
.doFlip {
	transform: rotateX(180deg);
}
.back:after,
.front:after {
	content: '';
	height: 19%;
	width: 7%;
	background-image: url('../images/flip_arrow.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 100;
	position: absolute;
	right: -5%;
	bottom: 0%;
	webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,.4));
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,.4));
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
50% {
	opacity: 0.5;
	transform: scaleX(1.1);
}
}
.front, .back {
	background-color: rgb(255,249,213);
	height: 100%;
	padding: 0;
	/*background-color: rgb(64, 147, 195);*/
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	flex-flow: column;
	width: 100%;
	position: absolute;
	font-size: 1.2em;
}
.front {
	z-index: 2;
	transform: rotateX(0deg);
}
.back {
	z-index: 1;
	transform: rotateX(180deg);
}
.front p, .back p {
	color: rgb(79,75,63);
	padding: 6% 5%;
	text-align: center;
	margin-top: 20%;
	font-size: 3vmin;
}

.definition-block {
	position: relative;
	/* margin-top: 1%; */
	width: 80%;
}
.definition-block p {
	margin-top: 4%;
	text-align: center;
	font-size: 1.5em;
}
.highlighter {
	color: rgb(207,0,68);
	font-weight: bold;
}

.image-block {
	margin-top: 3%;
	position: relative;
	/*top: 35%;*/
	height: 57%;
	width: 100%;
	/*border: 1px solid black;*/
}

.image-block img {
	border: 1px solid rgba(0, 0, 0, 0.7);
	height: 100%;
	padding: 0.5%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.contentblock.background {
	background: url('../images/sky_trees_bg.jpg');
	background-size: 100% 100%;
}
.bluebg{
	background-color: #BAE0E1;
}
.firstpagebg{
	background:url("../images/present-and-past.jpg");
	background-size: cover;
}
.tinyguy {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: 9% !important;
    height: 20% !important;
    margin-top: 47.5%;
    margin-left: -34%;
}
