
#totalBox
{
	position: relative;
	width: 100%;



	display: none;

}
#exe_2
{
	text-align: center;
}

.rightExe,
.wrongExe
{
	position: absolute !important;
	top: 79%;
	left: 48%;
	z-index: 100;
	display: none;
	width: 10%;
}
.rightExe img,
.wrongExe img
{
	width:50%;
}
.rightExe
{
	color:#0CE80F;
}
.wrongExe
{
	color:#F70000;
}

.scores
{
	color:#7A1616;
	width: 100%;
	text-align: center;
	margin:5% auto!important;
}
.scores div
{
	margin:2% auto!important;
}

#replayid
{
	margin:5% auto!important;
	color:black;
	width: 50%;
	cursor: pointer;
}
#replayid span
{
	font-size: 3em;


}

.questions
{
	text-align: center;
	width: 100%;
	color: #167A7A;

	font-size: 1.3em;
	position: relative;

	margin: 5% auto!important;

}
.questions img
{
	width: 25%;
}
.questions .caption
{
	text-align: center;
	color:#7609B5;
}
.answers
{
	text-align: center;
	width: 100%;
	position: relative;


	font-size: 1.1em;
	color: #2E0942;


}

.answers div:first-child
{
	top:10%;
	left: 10%;
}

.answers div:last-child
{
	top:10%;
	left: 60%;
}

#exeNext
{
	right:1%;
	position: absolute;
	bottom:1%;
	display: none;
	cursor: pointer;

}

#exeNext span
{
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	color:black;
	font-size: 2em;
}

.solutions
{
	width:100%;
	margin-top: 11%!important;

}
.solLeft,
.solRight
{
	float: left;

	margin: auto 5%!important;
	margin-top: 2% !important;

	-moz-box-shadow:     0 0 10px #27A17B;
	-webkit-box-shadow:  0 0 10px #27A17B;
	box-shadow:          0 0 10px #27A17B;
}

.solRight{
	width:30%;
}

.solLeft{
	width:50%;
}

.solLeft div,
.solRight div
{
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-bottom: 3%!important;
}

.solLeft img
{
	width:23.35%;

}

.solRight img
{
	width:40%;

}

.results
{
	position: absolute!important;

	right:10%;
	margin-top: -15%!important;


	font-size: 0.7em;
	padding: 1%!important;

	-moz-box-shadow:     0 0 10px #27A17B;
	-webkit-box-shadow:  0 0 10px #27A17B;
	box-shadow:          0 0 10px #27A17B;
}
