

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0%!important;


}

.diy{
	width: 100%;

	margin: 5% auto;
}

.diy > figure{
	width: 35%;
	margin:auto;
	
}

.diy > figure > img{
	width: 100%;
	
}

.diy > figure > figcaption{
	
	font-size: 2.5em;
	color:#C98865;
	position: absolute;
	width: 90%;
	
	top:3%;
	left: 5%;

}

.diy > p{
	
	margin: 3% auto;
	font-size: 2em;
	
	width: 90%;
	padding: 2%;
}
/****************
***********
********************/

.sampleSlide{
	width:100%;
	height: 100%;

	
}

.topBack
{
	width: 100%;

	height: 10%;
	

	    

}
.halfBox
{
	position: absolute;

	width: 15%;
	height: 15%;
	top:0%;
	left: 0%;
	z-index: 100;
	
}

.diy2{
	width: 100%;
	height: 100%;

	display: flex;
	display: -webkit-flex;
	display: -moz-flex;

	flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
     -moz-flex-flow: column wrap;

    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.diy2 > figure{
	width: 60%;
	margin-top: 13%;
	
	
}

.diy2 > figure > img{
	width: 100%;
	
}

.diy2 > figure > figcaption{
	top:5%;
	font-size: 0.6em;
	color:#C98865;
	position: absolute;
	text-align: center;
	width: 90%;
	left: 5%;
}


.textBox
{
	width: 86%;
	text-align: center;
	color:#fff;
	font-size: 1.1em;
	
	padding: 1%;
	position: absolute;
	height: 13%;
	background: #0EA3F9;
	top:1%;
	right: 1%;

}

.drawBox
{
	width: 100%;
	height: 80%;
		
	position: absolute;
	bottom:3%;
	
}

.arrange
{
	margin-top: 0.5%;
	width:75%;
	margin:auto;
	position: relative;
}


#mybckImage
{
	width: 100%;
}
.clickme
{
	
	position: absolute;
	cursor: pointer;
}

.clickme img 
{
	width: 100%;
}
#clickMe1
{
	top:10%;
	left: 68%;
	width: 6%;
}
#clickMe2
{
	top:40%;
	left: 47%;
	width: 3%;
	
}

#clickMe3
{
	top:67%;
	left: 65%;
	width: 6%;
}



.roundme
{
	-moz-animation:blinkCircle 1s linear infinite;
 	-webkit-animation:blinkCircle 1s linear infinite;
 	animation:blinkCircle 1s linear infinite;
 	border: #000 3px solid; 
 	border-radius: 100%;
}

 @-moz-keyframes blinkCircle
 {
 	0%{ border: #000 3px solid; }
 	100%{border: #ff0000 3px solid; }
 }

 @-webkit-keyframes blinkCircle
 {
 	0%{border: #000 3px solid; }
 	100%{border: #ff0000 3px solid; }
 }
 @keyframes blinkCircle
 {
 	0%{border: #000 3px solid; }
 	100%{border: #ff0000 3px solid; }
 }


#textMe
{
	width: 98%;
	position: absolute;
	bottom: 1%;
	left: 1%;
	padding: 2% 3%;
	background: rgba(0,0,0,0.9);
	color: orange;
	display: none;
	font-size: 1.1em;
}