.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0% !important;
}

.diy {
  width: 100%;
  margin: 5% auto;
}

.diy>figure {
  width: 35%;
  margin: auto;
}

.diy>figure>img {
  width: 100%;
}

.diy>figure>figcaption {
  font-size: 2.5em;
  color: #C98865;
  position: absolute;
  width: 90%;
  top: 3%;
  left: 5%;
}

.diy>p {
  margin: 3% auto;
  font-size: 2em;
  width: 90%;
  padding: 2%;
}

/****************
***********
********************/
.sampleSlide {
  width: 100%;
  height: 100%;
}

.topBack {
  width: 100%;
  height: 10%;
}

.halfBox {
  position: absolute;
  width: 15%;
  height: 15%;
  top: 0%;
  left: 0%;
  z-index: 100;
}

.diy2 {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.diy2>figure {
  width: 60%;
  margin-top: 13%;
}

.diy2>figure>img {
  width: 100%;
}

.diy2>figure>figcaption {
  top: 5%;
  font-size: 0.6em;
  color: #C98865;
  position: absolute;
  text-align: center;
  width: 90%;
  left: 5%;
}

.textBox {
  width: 86%;
  text-align: center;
  color: #fff;
  font-size: 3vh;
  padding: 1%;
  position: absolute;
  height: 10%;
  background: #0EA3F9;
  top: 4%;
  right: 1%;
}

.drawBox {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 3%;
}

.arrange {
  margin-top: 0.5%;
  width: 100%;
  height: 25%;
  position: relative;
}

.dropBox,
.dropBox2 {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  border: 2px solid #0EA3F9;
  margin-left: 0.5%;
  border-radius: 15%;
}

.dropBox {
  width: 11%;
}

.drageImg {
  position: relative;
  width: 100%;
  height: 65%;
  margin: 4% auto;
}

.drageImg div {
  display: inline-block;
  width: 10%;
  cursor: move;
}

.drageImg img {
  width: 100%;
}

.drageImg div:nth-child(2),
.drageImg div:nth-child(4),
.drageImg div:nth-child(6),
.drageImg div:nth-child(8) {
  top: 50%;
}

.labelObj {
  width: 100% !important;
  position: absolute;
  font-size: 0.9em;
}

.dragable .labelObj {
  left: 0%;
  top: 100% !important;
  color: blue;
}

.dropBox img,
.dropBox2 img {
  width: 90%;
}

.dropBox .labelObj,
.dropBox2 .labelObj {
  left: 0%;
  color: red;
}

.dropBox .labelObj {
  top: 82% !important;
}

.dropBox2 .labelObj {
  top: 73% !important;
}

#sun {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5%;
}

#sun img {
  width: 100% !important;
}

.dropBox2,
#sun {
  width: 9%;
}

.arrange2 {
  width: 100%;
  height: 75%;
  position: relative;
}

.boxVal {
  display: inline-block;
  vertical-align: middle;
  width: 22%;
  height: 48%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  padding: 0.5%;
}

.mytext {
  font-size: 0.9em;
  color: brown;
  height: 20%;
  text-align: center;
}

.dropBox3 {
  width: 100%;
  height: 70%;
  border: 2px solid #0EA3F9;
  border-radius: 5%;
  margin: auto;
}

.dropBox3 img {
  width: 40%;
}

.drageImg2 {
  position: relative;
  width: 100%;
  height: 20%;
  margin: auto;
}

.drageImg2 div {
  display: inline-block;
  width: 8%;
  cursor: move;
  margin-left: 3%;
}

.drageImg2 img {
  width: 100%;
}

.dropBox3 .labelObj {
  left: 0%;
  top: 80% !important;
  color: red;
}

#mercury_1 img {
  width: 18%;
  margin-top: 30%;
}

#venus_1 img {
  width: 25%;
  margin-top: 30%;
}

#mars_1 img {
  width: 20%;
  margin-top: 30%;
}

#earth_1 img {
  width: 34%;
  margin-top: 30%;
}

#neptune_1 img {
  width: 55%;
  margin-top: 20%;
}

#uranus_1 img {
  width: 60%;
  margin-top: 15%;
}

.conclusion,
.conclusion2 {
  display: none;
  position: absolute;
  bottom: 50%;
  width: 100%;
  font-size: 1.5em;
}

.conclusion2 {
  bottom: 10%;
}

.mydatabox {
  border-radius: 100%;
  margin: 20% auto;
  background: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px inset;
}

#mercury_2 {
  width: 18%;
  height: 18%;
  margin-top: 40%;
}

#venus_2 {
  width: 25%;
  height: 24%;
  margin-top: 40%;
}

#mars_2 {
  width: 20%;
  height: 20%;
  margin-top: 40%;
}

#earth_2 {
  width: 34%;
  height: 31%;
  margin-top: 35%;
}

#neptune_2 {
  width: 55%;
  height: 50%;
  margin-top: 30%;
}

#uranus_2 {
  width: 60%;
  height: 55%;
  margin-top: 25%;
}

#saturn_2 {
  width: 80%;
  height: 75%;
  margin-top: 15%;
}

#jupiter_2 {
  width: 90%;
  height: 85%;
  margin-top: 10%;
}

#mercury_3 {
  width: 18%;
  height: 14%;
  margin-top: 50%;
}

#venus_3 {
  width: 25%;
  height: 20%;
  margin-top: 50%;
}

#mars_3 {
  width: 20%;
  height: 15%;
  margin-top: 50%;
}

#earth_3 {
  width: 34%;
  height: 26%;
  margin-top: 45%;
}

#neptune_3 {
  width: 55%;
  height: 40%;
  margin-top: 40%;
}

#uranus_3 {
  width: 60%;
  height: 45%;
  margin-top: 35%;
}

#saturn_3 {
  width: 80%;
  height: 60%;
  margin-top: 25%;
}

#jupiter_3 {
  width: 90%;
  height: 70%;
  margin-top: 20%;
}

@media (min-aspect-ratio:4/3) {
  .textBox {
    font-size: 3vh;
  }
}

@media (max-aspect-ratio:4/3) {
  .textBox {
    font-size: 2vw;
  }
}
