

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0%!important;
}

.diy{
	width: 100%;

	margin: 5% auto;
}

.diy > figure{
	width: 35%;
	margin:auto;
	
}

.diy > figure > img{
	width: 100%;
	
}

.diy > figure > figcaption{
	
	font-size: 2.5em;
	color:#C98865;
	position: absolute;
	width: 90%;
	
	top:3%;
	left: 5%;

}

.diy > p{
	
	margin: 3% auto;
	font-size: 2em;
	
	width: 90%;
	padding: 2%;
}
/****************
***********
********************/

.sampleSlide{
	width:100%;
	height: 100%;

	
}

.topBack
{
	width: 100%;

	height: 10%;
	

	    

}
.halfBox
{
	position: absolute;

	width: 15%;
	height: 18%;
	top:0%;
	left: 0%;
	z-index: 100;
	

	
}

.diy2{
	width: 100%;
	height: 100%;

	display: flex;
	display: -webkit-flex;
	display: -moz-flex;

	flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
     -moz-flex-flow: column wrap;

    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.diy2 > figure{
	width: 60%;
	margin-top: 13%;
	
	
}

.diy2 > figure > img{
	width: 100%;
	
}

.diy2 > figure > figcaption{
	top:5%;
	font-size: 0.6em;
	color:#C98865;
	position: absolute;
	text-align: center;
	width: 90%;
	left: 5%;
}


.textBox
{
	width: 85%;
	text-align: center;
	color:#fff;
	font-size: 1.3em;
	
	padding: 1%;
	position: absolute;
	height: %;
	background: #0EA3F9;
	top:5%;
	right: 1%;

}

.drawBox
{
	width: 100%;
	height: 80%;
		
	position: absolute;
	bottom:3%;

	
	



}

.drawBox div
{
	display: inline-block;
	vertical-align: middle;
}
#earth-np,
#earth-en
{
	width: 4%;
	
	position: absolute;
	top:5%;
	left: 5%;
	
	
	
}

#earth-np img,
#earth-en img 
{
	width: 100%;
}
#earth-np:after
{
	content: "पृथ्वी";
	position:absolute;
	top:100%;
	left: 10%;
	font-size: 0.9em;
	color: #000;
}
#earth-en:after
{
	content: "Earth";
	position:absolute;
	top:100%;
	left: 10%;
	font-size: 0.9em;
	color: #000;
}

#sunbox1,
#sunbox2,
#sunbox3,
#sunbox4,
#sunbox5
{
	border: #0895D6 2px solid;
	border-radius: 100%;

	
	color: #000;
}

#sunbox1 img,
#sunbox2 img,
#sunbox3 img,
#sunbox5 img
{
		width: 100%;

}
#sunbox4 img
{
		width: 140%;
		margin-left: -20%;
		margin-top: -20%;
}
#sunbox1
{
	width: 8%;	
	height: 16.6%;	
}/*
#sunbox1:after
{
	content: "13";
	position:absolute;
	top:100%;
	left: 30%;
}
*/
#sunbox2
{
	width: 17%;	
	height: 35.275%;	
}/*
#sunbox2:after
{
	content: "1,300";
	position:absolute;
	top:100%;
	left: 30%;
}
*/
#sunbox3
{
	width: 30%;	
	height: 62.25%;	
}/*
#sunbox3:after
{
	content: "13,000";
	position:absolute;
	top:100%;
	left: 40%;
}*/

#sunbox4
{
	width: 40%;	
	height: 83%;
}/*
#sunbox4:after
{
	content: "13,00,000";
	position:absolute;
	top:100%;
	left: 45%;
}*/

#sunbox5
{
		
}
#sunbox5:after
{
	content: "1";
	position:absolute;
	top:100%;
}
#sun
{
	
	cursor: move;
	
}
#sun img 
{
	width: 100%;
}
.dropSunClass
{
	width: 100%;
	height: 100%;
	
	border-radius: 100%;
}

.mysun_np,
.mysun_en
{
	width: 6%;
	height: 13.5%;
	
	border-radius: 100%;
	position: absolute!important;
	left:20%;
	top:2%; 
	
}


.mysun_np:after
{
	content: "सूर्य";
	position:absolute;
	top:100%;
	left: 30%;
	color: red;
}
.mysun_en:after
{
	content: "Sun";
	position:absolute;
	top:100%;
	left: 30%;
	color: red;

}


.totalSun
{
	background: #F2C335;
	border: #E88E10 1px solid;
}

.correctAns
{
	position: absolute;
	font-size: 3em;
	color: green;
	right: 3%;
	top:20%;
	display: none;

}

#finalMyText,
#finalMyText2
{
	width: 80%;
	
	margin: 4% auto;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 1.3em;
	display: none;
}

.case1
{
	position: absolute;
	width: 80%;
	top:11%;
	left: 10%;
	color: maroon;
	font-size: 0.8em;
}


.case2,
.case4,
.case3
{
	position: absolute;
	width: 80%;
	top:40%;
	left: 10%;
	color: maroon;
}
