/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#aExp5 {
  position: relative;
  width: 100%;
  height: 100%;

  top: 0%;
  left: 0%;

  /*background-color: #37C2DA;*/

  overflow: hidden;

  /*change only this*/
  background-image: url("../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#aExp5 * {
  margin: 0;
  padding: 0;
  /*font-family: serif;*/
}

@font-face {
  font-family: "hw";
  src: url("fonts/handwrite.ttf") format("truetype");
}
/*------------------------------------------------------------------------------------------*/

/*for all the text inputs in the page*/
input[type="text"] {
  background-color: transparent;
  border-style: solid;
  border-width: 0 0 0.1em 0;
  border-color: black;
  width: 4em;
  text-align: center;
}

/*for all paragraph default color*/
#aExp5 p {
  color: #0066b3;
}

/*topic*/
#aExp5 > p {
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #0066b3;
}

#aExp5 > p:nth-of-type(2) {
  top: 10%;
  color: #ff4c27;
}

/*error statement common for all*/
#aExp5 > p:nth-of-type(3) {
  top: 74%;
  left: 70%;
  width: 30%;
}
/*images div*/
#aExp5 > div:nth-of-type(1) {
  position: absolute;
  top: 30%;
  height: 50%;
  width: 100%;

  text-align: center;
  white-space: nowrap; /*to make all elements in one line always*/
  /*border:1px solid red;*/
}

#aExp5 > div:nth-of-type(1) > img {
  position: relative;
  top: 15%;
  width: 25%;

  cursor: pointer;

  /*css transition on hover*/
  -webkit-transition: top 1s;
  transition: top 1s;
}

/*this for transition animation*/
#aExp5 > div:nth-of-type(1) > img:hover {
  top: 5%;
}

#aExp5 > div:nth-of-type(1) > img:nth-of-type(n + 2) {
  padding-left: 5%;
}

#aExp5 > div:nth-of-type(1) > img:nth-of-type(1) {
  width: 20%;
}

#aExp5 > div:nth-of-type(1) > img:nth-of-type(2) {
  width: 35%;
}

#aExp5 > div:nth-of-type(1) > img:nth-of-type(3) {
  width: 35%;
}

/*triangle parallelogram and rectangle div*/
#aExp5 > div:nth-of-type(n + 2):nth-of-type(-n + 4) {
  display: none;
  position: absolute;
  top: 10%;

  width: 100%;
  height: 90%;
  /*border: 1px solid red;*/
}

/*this is for the images in each shape div, which comes in dynamically after selecting the shape*/
#aExp5 > div:nth-of-type(n + 2) > img:nth-of-type(1) {
  position: relative;
  top: 8%;
  left: 37.5%;

  width: 25%;
}

/*override the width for traingle image*/
#triangle > img:nth-of-type(1) {
  left: 42.5% !important;
  width: 15% !important; /*important to verride*/
}

/*all para for all the shape divs*/
#aExp5 > div:nth-of-type(n + 2) > p {
  position: absolute;
  top: 36%;
  width: 100%;
  text-align: center;
}

#aExp5 > div:nth-of-type(n + 2) > p:nth-of-type(1) {
  font-size: 1.8em;
}

/*second para for all the shape divs*/
#aExp5 > div:nth-of-type(n + 2) > p:nth-of-type(2) {
  top: 45%;

  font-size: 1.4em;
  color: #e74c3c;
}

/*override the second para in parallelogram*/
#pGram > p:nth-of-type(2) {
  color: #0066b3 !important;
  font-size: 1.6em !important;
}

/*second and third para in pGram*/
#pgram > p:nth-of-type(n + 2):nth-of-type(-n + 3) {
  opacity: 0;
}

/*span and ref tags in 2nd and 3rd para*/
#pGram > p > span,
#pGram > p > ref {
  opacity: 0;
}

/*align the paras below first para*/
#pGram > p:nth-of-type(n + 2) {
  text-align: left !important;
  left: 34%;
}

/*third para for all the shape divs*/
#aExp5 > div:nth-of-type(n + 2) > p:nth-of-type(3) {
  top: 53%;

  font-size: 1.4em;
}

/*fourth para for all the shape divs*/
#aExp5 > div:nth-of-type(n + 2) > p:nth-of-type(4) {
  display: none;
  top: 63%;

  font-size: 1.4em;
  color: #e74c3c;
}

/*override for parallelogram*/
#pgram > p:nth-of-type(4) {
  top: 60% !important;
  color: #0066b3 !important;
}

/*fifth para for all the shape divs*/
#aExp5 > div:nth-of-type(n + 2) > p:nth-of-type(5) {
  display: none;
  top: 70%;

  font-size: 1.4em;
}

/*override for parallelogram*/
#pgram > p:nth-of-type(5) {
  top: 67% !important;
  color: #e74c3c !important;
}

/*fifth para for all the shape divs*/
#aExp5 > div:nth-of-type(n + 2) > p:nth-of-type(6) {
  display: none;
  top: 80%;
  font-size: 2em;
}

/*override for parallelogram*/
#pgram > p:nth-of-type(6) {
  top: 74% !important;
  font-size: 1.5em !important;
}

/*override for parallelogram*/
#pgram > p:nth-of-type(7) {
  text-align: left !important;
  left: 22.5%;
  top: 83% !important;
  font-size: 1.5em !important;
}

/*areahighlight images*/
#areaLight {
  position: absolute;
  top: 17.5%;
  left: 38.5%;
  width: 23%;
  height: 16%;
  /*border:1px solid red;*/
}

#areaLight > img {
  opacity: 0;
}
#areaLight > img:nth-of-type(1) {
  /*display: none;*/
  position: absolute;
  top: 0%;
  left: 0%;
  width: 18%;
  height: 100%;
}

#areaLight > img:nth-of-type(2) {
  position: absolute;
  top: 0%;
  left: 18%;
  width: 62%;
  height: 100%;
}

#areaLight > img:nth-of-type(3) {
  /*display: none;*/
  position: absolute;
  top: 0%;
  left: 80%;
  width: 20%;
  height: 100%;
}

/*rectangle show answer*/
#ansMeRect,
#ansMeTri {
  display: none;
  position: relative;
  left: 5%;
  font-size: 1.4em;

  cursor: pointer;
}

/*replay button*/
#aExp5Replay {
  display: none;
  position: absolute;
  bottom: 2%;
  right: 1%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1%;
  cursor: pointer;
  border-color: #d1d1d1;
  border-width: 0.1em 0.1em 0.35em 0.1em;
  border-style: solid;
  border-radius: 11px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
  background-color: #d5cea6;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#d5cea6),
    to(#b7ad70)
  );
  background-image: -webkit-linear-gradient(top, #d5cea6, #b7ad70);
  background-image: -moz-linear-gradient(top, #d5cea6, #b7ad70);
  background-image: -ms-linear-gradient(top, #d5cea6, #b7ad70);
  background-image: -o-linear-gradient(top, #d5cea6, #b7ad70);
  background-image: linear-gradient(to bottom, #d5cea6, #b7ad70);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d5cea6, endColorstr=#b7ad70);
}

#aExp5Replay:hover {
  border-color: #b5aea8;
  border-width: 0.1em 0.1em 0.35em 0.1em;
  border-style: solid;
  background-color: #c5bb83;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c5bb83),
    to(#a29752)
  );
  background-image: -webkit-linear-gradient(top, #c5bb83, #a29752);
  background-image: -moz-linear-gradient(top, #c5bb83, #a29752);
  background-image: -ms-linear-gradient(top, #c5bb83, #a29752);
  background-image: -o-linear-gradient(top, #c5bb83, #a29752);
  background-image: linear-gradient(to bottom, #c5bb83, #a29752);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c5bb83, endColorstr=#a29752);
}
