.wrapper{
  position: relative;
  width:100%;
  height: 100%;
  
}


.title {

    font-size: 5vmin;
    position: relative;
    background: #FFC815;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#paragraph_contents {
    width:25%;
    position: relative;
    float:left;
    font-size: 3vmin;
    left: 10%;
    top: 10%;
    
}

#answer_contents {
    width:32%;
    position: relative;
    float:right;
    font-size: 3vmin;
    left: -8%;

    top: 10%;
}
.answer
{
    position: relative;
    top: 80%;
    display: none;
    
}

#paragraph_contents > p:hover{
    cursor : pointer;
    background: #26c1ee;
    color:#ffffff;
    border-radius:5px;
     transform: scale(1.1);

}

#answer_contents > p:hover
{
    cursor : pointer;
    background: #26c1ee; 
    color:#ffffff;
    border-radius:5px;
     transform: scale(1.1);



    /*background:#92CBEB #FDB94E;;
    padding:0.5%;
    cursor: pointer;*/
}


.correct{
    background-color: #a9d73f;
    color:#fff;
}

.incorrect{
    background-color: #F41120;
    color:#fff;
}


p{
    cursor : pointer;
    background:#6abac4;
    color:#fff;
    border-radius:5px;
    line-height: 1.5em;
    padding-left:1em;
    
}

.change_color_click
{
    background: #FFC815;
    color: #1479AF;
}


/*Sony Tandukar
/*
#answer_contents > div {

    font-size:3vmin;
    left:57%;
    margin-top: -47.5%;
    position:relative;
    float: left;
    line-height: 30px;
    width: 30px;
    text-align: center;
    background-color: steelblue;
    color: #fff;
    border-radius: 4px;
    margin: 3px;
}
#answer_contents {
    max-width: 360px;
}
 

 */
 