.wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
}

.title {
    font-size: 1.8em;
    width: 100%;
    height: 10%;
    color: #606060;
    margin: auto;
        margin-top: auto;
    margin-top: 5%;
    text-align: center;
    text-align: center;
    background: none repeat scroll 0 0 #115CDE;
    margin-top: 0%;
    padding-top: 1%;
}

.news_title
{
	color:#ffffff;
}

.source
{
	background: #00CADC;
    position: absolute;
    width: 22%;
    left: 39%;
    top: 11%;
}

.source_text
{
	font-size: 2em;
    color: #ffffff;
    padding-left: 3%;
    padding-top: 3%;
}

.whole_text
{   
    position: absolute;
    width: 98%;
    top: 25%;
  /*  background: #FF595B;*/
    left: 1%;
    height: 12%;
    opacity: 0;
}

.whole_text p {

    transform: translateY(-50%);
    top: 50%;

}
.police {

    font-size: 1.3em;
    color: #ffffff;
    padding-top: 1%;
    padding-left: 3%;
    width: 17%;
    position: absolute;
    top: 3%;

}

.fire
{
    font-size: 1.3em;
    color: #ffffff;
    padding-left: 1%;
    width: 13%;
    position: absolute;
    top: 18%;
    left: 18%;
}

.po{
    font-size: 1.3em;
    color: #ffffff;
    padding-left: 1%;
    width: 15%;
    position: absolute;
    top: 18%;
    left: 32%;
}

.ho{
        font-size: 1.3em;
    color: #ffffff;
    padding-left: 1%;
    width: 10%;
    position: absolute;
    top: 18%;
    left: 48%;
}

.of
{
   font-size: 1.3em;
    color: #ffffff;
    padding-left: 1%;
    width: 8%;
    position: absolute;
    top: 17%;
    left: 59%;
}

.ex
{
    font-size: 1.3em;
    color: #ffffff;
    padding-left: 1%;
    width: 9%;
    position: absolute;
    top: 18%;
    left: 68%;
}

.ni
{
    font-size: 1.3em;
    color: #ffffff;
    padding-left: 1%;
    width: 23%;
    position: absolute;
    top: 10%;
    left: 77%;
}

.field
{
    background: #00CADC;
    position: absolute;
    top: 43%;
    width: 21%;
    height: 8%;
    opacity: 0;
    left: 20%; 
}

.field_reporting
{
    font-size: 1.8em;
    color: #ffffff;
    padding-left: 8%;
    padding-top: 3%;
}

.camera
{
    background: #00CADC;
    position: absolute;
    top: 43%;
    width: 21%;
    height: 8%;
    opacity: 0;
    left: 54%;
}

.cameraman
{
     font-size: 1.8em;
    color: #ffffff;
    padding-left: 8%;
    padding-top: 3%;
}

.vi
{
    background: #00CADC;
    position: absolute;
    top: 59%;
    width: 21%;
    height: 8%;
    opacity: 0;
    left: 20%;
}

.visuals
{
    font-size: 1.8em;
    color: #ffffff;
    padding-left: 26%;
    padding-top: 3%; 
}

.vi_ed
{
       background: #00CADC;
    position: absolute;
    top: 75%;
    width: 21%;
    height: 8%;
    opacity: 0;
    left: 4%;
}

.visual_ed
{
       font-size: 1.8em;
    color: #ffffff;
    padding-left: 18%;
    padding-top: 3%;
}

.sc_wr
{
          background: #00CADC;
    position: absolute;
    top: 75%;
    width: 21%;
    height: 8%;
    opacity: 0;
    left: 37%;
}

.script
{
       font-size: 1.8em;
    color: #ffffff;
    padding-left: 18%;
    padding-top: 3%;
}

.ed
{
    background: #00CADC;
    position: absolute;
    top: 61%;
    width: 16%;
    height: 8%;
    opacity: 0;
    left: 71%;
}

.edi
{
    font-size: 1.8em;
    color: #ffffff;
    padding-left: 18%;
    padding-top: 3%;
}

.ed_desk
{
    background: #00CADC;
    position: absolute;
    top: 74%;
    width: 23%;
    height: 8%;
    opacity: 0;
    left: 67%;
}

.edi_desk
{
       font-size: 1.8em;
    color: #ffffff;
    padding-left: 18%;
    padding-top: 3%;
}

.pre
{
    background: #00CADC;
    position: absolute;
    top: 90%;
    width: 17%;
    height: 8%;
    opacity: 0;
    left: 70%;
}

.pres
{
       font-size: 1.8em;
    color: #ffffff;
    padding-left: 18%;
    padding-top: 3%;
}

.arrow1, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7, .arrow8{
    opacity: 0;
}

.arrow1
{
    position: absolute;
    width: 16%;
    height: 23%;
    left: 62%;
    top: 37%;
}

.one{
    width: 24%;
}

.arrow2
{
    position: absolute;
    width: 11%;
    height: 18%;
    left: 50%;
    top: 38%;
}

.two
{
     width: 107%;
}

.arrow3
{
    position: absolute;
    width: 16%;
    height: 23%;
    left: 28%;
    top: 52%;}

.three{
    width: 24%;
}

.arrow4
{
    position: absolute;
    width: 16%;
    height: 23%;
    left: 21%;
    top: 68%;
}

.four{
    width: 24%;
}

.arrow5
{
    position: absolute;
    width: 16%;
    height: 23%;
    left: 37%;
    top: 68%;
}

.five{
    width: 24%;
}

.arrow6
{
    position: absolute;
    width: 11%;
    height: 18%;
    left: 59%;
    top: 62%;
    transform: rotate(148deg);
}

.six
{
     width: 107%;
}

.arrow7
{
    position: absolute;
    width: 16%;
    height: 23%;
    left: 76%;
    top: 69%;
}

.seven{
    width: 24%;
}

.arrow8
{
    position: absolute;
    width: 16%;
    height: 23%;
    left: 76%;
    top: 83%;
}

.eight{
    width: 24%;
}

/*for simple hide and show animation*/

@keyframes cssfadein {
    0%{
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

@-moz-keyframes cssfadein {
    0%{
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

@-webkit-keyframes cssfadein {
    0%{
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}
.cssfadeinanim{
    animation: cssfadein 1s linear 0.3s 1 forwards;
    -webkit-animation: cssfadein 1s linear 0.3s 1 forwards;
    -moz-animation: cssfadein 1s linear 0.3s 1 forwards;
}
.cssfadeinanim2{
    animation: cssfadein 1s linear 1.3s 1 forwards;
    -webkit-animation: cssfadein 1s linear 1.3s 1 forwards;
    -moz-animation: cssfadein 1s linear 1.3s 1 forwards;
}


@-webkit-keyframes swipebackgroundkeyframe {
    to { opacity: 1; background-position : 0% 0%;}
}

@-moz-keyframes swipebackgroundkeyframe {
    to { opacity: 1; background-position : 0% 0%;}
}

@keyframes swipebackgroundkeyframe {
    to { opacity: 1; background-position : 0% 0%;}
}

.swipebackgroundanim{
    background-image: -webkit-linear-gradient(90deg, #FF595B 50%, #FF595B 50%); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(90deg, #FF595B 50%, #FF595B 50%); /* FF3.6+ */
    background-image:     -ms-linear-gradient(90deg, #FF595B 50%, #FF595B 50%); /* IE10 */
    background-image:      -o-linear-gradient(90deg, #FF595B 50%, #FF595B 50%); /* Opera 11.10+ */
    background-image:         linear-gradient(90deg, #FF595B 50%, #FF595B 50%); /* W3C */        
    
    background-repeat   : no-repeat;
    background-size     : 200% 100%;
    background-position : -100% 0%;
    
    -webkit-animation: swipebackgroundkeyframe 1s ease-out 1 forwards;
    -moz-animation: swipebackgroundkeyframe 1s ease-out 1 forwards;
    -o-animation: swipebackgroundkeyframe 1s ease-out 1 forwards;
    animation: swipebackgroundkeyframe 1s ease-out 1 forwards;
}

.clickme{
    position: absolute;
    width: 5%;
    left: 47%;
    top: 17%;
    cursor: pointer;
}

.clickme img{
    width: 100%;
}


/*for arrow2 animation*/

@keyframes arrowmove {
    0%{
        opacity: 0;
        left: 50%;
    }
    100% { 
        opacity: 1;
        left: 41%;
    }
}

@-moz-keyframes arrowmove {
   0%{
        opacity: 0;
        left: 50%;
    }
    100% { 
        opacity: 1;
        left: 41%;
    }
}

@-webkit-keyframes arrowmove {
   0%{
        opacity: 0;
        left: 50%;
    }
    100% { 
        opacity: 1;
        left: 41%;
    }
}
.arrowmoveanim{
    animation: arrowmove 1s linear 0.3s 1 forwards;
    -webkit-animation: arrowmove 1s linear 0.3s 1 forwards;
    -moz-animation: arrowmove 1s linear 0.3s 1 forwards;
}

/*for arrow6 animation*/

@keyframes arrowrotate {
    0%{
        opacity: 0;
        transform: rotate(180deg);
    }
    100% { 
        opacity: 1;
        transform: rotate(148deg);
    }
}

@-moz-keyframes arrowrotate {
   0%{
        opacity: 0;
        transform: rotate(180deg);
    }
    100% { 
        opacity: 1;
        transform: rotate(148deg);
    }
}

@-webkit-keyframes arrowrotate {
  0%{
        opacity: 0;
        transform: rotate(180deg);
    }
    100% { 
        opacity: 1;
        transform: rotate(148deg);
    }
}
.arrowrotateanim{
    animation: arrowrotate 1s linear 0.3s 1 forwards;
    -webkit-animation: arrowrotate 1s linear 0.3s 1 forwards;
    -moz-animation: arrowrotate 1s linear 0.3s 1 forwards;
}