.titleMe2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;

  color: #993300;
  overflow: hidden;
}

#totalCross {
  position: absolute;
  top: 0%;

  right: 0%;

  display: none;
  color: darkred;
  font-size: 2.5em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
#prevId,
#nextId {
  position: absolute;
  bottom: 1%;

  display: none;

  cursor: pointer;
  color: black;
  font-size: 2.5em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#prevId {
  left: 1%;
}

#nextId {
  right: 1%;
}

.text1,
.text2,
.firstcls,
.text11 {
  width: 85%;

  position: relative;

  border-radius: 10px;
  background: rgba(160, 181, 158, 0.2);
  margin: 3% auto 0%;

  padding: 2%;
  text-align: center;
  display: none;
}
.text1,
.text2 {
  font-size: 1.2em;
}
.text11 {
  font-size: 1.2em;
}
.firstcls {
  font-size: 1.2em;
}

.secondcls {
  width: 85%;
  position: relative;

  margin: 1% auto;

  text-align: left;
}
.text5 {
  font-size: 1.2em;
  display: none;
}
.sumbx {
  border-radius: 10px;
  background: #fdfd96;
  margin: 1% auto;
  padding: 2%;
  text-align: center;
  font-size: 1.3em;
  display: none;
}
.sumbx div {
  display: inline-block;
}

.num {
  color: blue;
  border-bottom: #ff0000 1px dashed;
  font-size: 1.5em;
}
.cand,
.eql,
.cdl,
.ques {
  color: purple;
}
.howmuch {
  width: 10%;
}
.howmuch input {
  width: 100%;

  text-align: center;
  color: brown;
}
input:disabled {
  background: green;
}
.arrow1 {
  vertical-align: bottom;
  margin-left: 10%;
  cursor: pointer;

  cursor: pointer;
  color: black;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@-keyframes intendBlink {
  0% {
    color: #ff0000;
  }

  100% {
    color: green;
  }
}

@-moz-keyframes intendBlink {
  0% {
    color: #ff0000;
  }
  100% {
    color: green;
  }
}

@-webkit-keyframes intendBlink {
  0% {
    color: #ff0000;
  }
  100% {
    color: green;
  }
}
.img {
  width: 30%;
  margin: auto;
  display: none;
}
.img img {
  width: 100%;
  padding-top: 5%;
}
