.cover {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.middle_text {
  position: absolute;
  font-size: 3vw;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 10%;
  font-family: sniglet;
}

#p1_2 {
  color: #273be2;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}

.wholeBx {
  position: relative;
  margin: auto;
  width: 90%;
}

#p1_3_1,
#p1_3_4,
#p1_4_1,
#p1_4_3,
#p1_5_1,
#p1_5_2 {
  background: #abcdef;
  padding: 1.5%;
  border-radius: 10px;
  text-align: center;
  margin-top: 1%;
  display: none;
  font-size: 1.3em;
}

.f3_1,
.f3_2 {
  width: 100%;
  margin-top: 1.5%;
  display: none;
}

.img1,
.img2 {
  display: inline-block;
  width: 10%;
}

.img1 img,
.img2 img {
  width: 100%;
}

#p1_3_2,
#p1_3_3 {
  display: inline-block;
  width: 76%;
  background: rgba(160, 181, 158, 0.2);
  padding: 5%;
  border-radius: 10px;
  font-size: 1.3em;
}

#p1_3_2 {
  text-align: left;
}

#p1_3_3 {
  text-align: right;
}

#prevId,
#nextId {
  position: absolute;
  bottom: 1%;
  display: none;
  cursor: pointer;
  color: black;
  font-size: 2.5em;
  width: 8%;
}

#prevId {
  left: 2%;
}

#nextId {
  right: 2%;
}

#p1_4_2 {
  display: inline-block;
  width: 100%;
  background: rgba(160, 181, 158, 0.2);
  padding: 2%;
  border-radius: 10px;
  display: none;
  margin-top: 2%;
  text-align: center;
  font-size: 1.3em;
}

.img4,
.img5 {
  text-align: center;
  width: 100%;
  display: none;
  margin-bottom: 2%;
}

.img4 img {
  width: 34%;
}

.img5 img {
  width: 70%;
}

#p1_6 {
  width: 100%;
  background: rgba(160, 181, 158, 0.2);
  padding: 2%;
  border-radius: 10px;
  display: none;
  margin-top: 18%;
  text-align: left;
}

#p1_6 ul {
  list-style: disc;
  margin-left: 4%;
  font-size: 1.4em;
}

.titleQuestion {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  font-size: 4vh;
}
