.titleMe2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #993300;
  overflow: hidden;
}

#prevId,
#nextId,
#nextId1,
#nextId3,
#prevId4,
#prevId3,
#nextId4,
#prevId5 {
  position: absolute;
  bottom: 1%;
  display: none;
  cursor: pointer;
  color: black;
  width: 8%;
}

#prevId,
#prevId4,
#prevId3,
#prevId5 {
  left: 1%;
}

#nextId,
#nextId1,
#nextId3,
#nextId4 {
  right: 1%;
}

#prevId:hover #activityPrevHoverBtn,
#nextId:hover #activityNextHoverBtn,
#nextId1:hover #activityNextHoverBtn,
#nextId3:hover #activityNextHoverBtn,
#prevId4:hover #activityPrevHoverBtn,
#prevId3:hover #activityPrevHoverBtn,
#nextId4:hover #activityNextHoverBtn,
#prevId5:hover #activityPrevHoverBtn {
  display: block;
}

#prevId:hover #activityPrevBtn,
#nextId:hover #activityNextBtn,
#nextId1:hover #activityNextBtn,
#nextId3:hover #activityNextBtn,
#prevId4:hover #activityPrevBtn,
#prevId3:hover #activityPrevBtn,
#nextId4:hover #activityNextBtn,
#prevId5:hover #activityPrevBtn {
  display: none;
}

#closeme {
  position: absolute;
  top: 5%;
  cursor: pointer;
  color: darkred;
  width: 4%;
  right: 2%;
}

.text1,
.m1 {
  width: 85%;
  position: relative;
  border-radius: 10px;
  background: rgba(160, 181, 158, 0.2);
  margin: 3% auto;
  padding: 2%;
  text-align: center;
  font-size: 1.3em;
}

.text2 {
  width: 85%;
  font-size: 1.2em;
  margin: 1% auto;
  text-align: center;
  position: relative;
}

.boxme {
  width: 85%;
  margin: 1% auto;
  text-align: center;
  position: relative;
}

.text3 {
  border-radius: 100%;
  border: #444 1px solid;
  width: 30%;
  height: 40%;
  display: inline-block;
  text-align: center;
  margin: 0 5%;
  background: #702963;
  font-size: 1.3em;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.text3:hover {
  border-radius: 0;
  background: #FFC1CC;
  color: black;
}

.text3 div {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  margin-top: 30%;
}

.allbck2 {
  position: relative;
  background: -moz-linear-gradient(left, #82dce1 0%, #ffffff 10%, #ffffff 90%, #82dce1 100%);
  background: -webkit-linear-gradient(left, #82dce1 0%, #ffffff 10%, #ffffff 90%, #82dce1 100%);
  background: linear-gradient(left, #82dce1 0%, #ffffff 10%, #ffffff 90%, #82dce1 100%);
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
}

.firstcls {
  width: 85%;
  position: relative;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
}

.m2,
.m3 {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  margin: auto 2%;
}

.m2 img,
.m3 img {
  width: 100%;
}

.wholebx2 {
  width: 85%;
  margin: auto;
  text-align: center;
}

.m4,
.m5 {
  font-size: 1em;
  margin: 1.2% auto;
}

.m5 {
  color: orange;
}

.m6, .m8 {
  width: 100%;
}

.m6 div, .m8 div {
  display: inline-block;
  width: 30%;
  font-size: 1.2em;
}

.rect input {
  width: 50%;
  text-align: center;
}

.m7 {
  width: 100%;
  position: relative;
  margin-top: 5%;
  display: none;
}

.m100 {
  width: 100%;
  position: relative;
}

#getCal {
  width: 20%;
  color: #c4122e;
}

#area,
#volume {
  width: 48%;
  display: inline-block;
  border-radius: 10px;
  background: rgba(160, 181, 158, 0.2);
  padding: 1%;
  vertical-align: top;
  margin-left: 1%;
}

#area div,
#volume div {
  width: 100%;
  text-align: left;
}

.a1,
.b1 {
  display: inline-block;
  font-size: 1.3em;
}

.a1 {
  width: 20% !important;
  color: blue;
}

.b1 {
  width: 70% !important;
  color: green;
}

#ans1,
#ans3 {
  color: Purple;
}

.conc {
  width: 100%;
  position: relative;
}

.rrimg {
  width: 20%;
  display: inline-block;
  margin-left: 6%;
}

.rrimg img {
  width: 100%;
}

.form1 {
  width: 60%;
  display: inline-block;
  margin-left: 6%;
  vertical-align: top;
}

.rr2 {
  text-align: left;
  color: blue;
  text-decoration: underline;
  font-size: 1em;
}

.rr3, .rr4 {
  font-size: 1em;
  color: #408000;
}

.rr5 {
  width: 30%;
  text-align: right;
}

#whatis {
  width: 12%;
}

.hintbtn {
  border-radius: 10px;
  background: #CC3DCC;
  padding: 1%;
  margin-left: 10%;
  cursor: pointer;
}

.allhint {
  background: #FFE5FF;
  width: 89%;
  margin: 1% auto 0%;
  padding: 2%;
  border-radius: 10px;
  font-size: 1em;
  display: none;
}

.hint1 {
  text-align: left;
  color: green;
}

.hintme {
  width: 100%;
  margin: 1% auto;
}

.ht1,
.ht2,
.ht3,
.ht4,
.ht5 {
  display: inline-block;
  vertical-align: top;
}

.ht1 {
  width: 30%;
}

.ht2 {
  width: 65%;
}

.ht3,
.ht4,
.ht5 {
  width: 30%;
}

.fchd {
  color: blue;
}

.meon {
  color: #CD3D3D;
  margin-left: 5%;
}

.htt1 {
  margin-left: 11%;
}

.tot,
.hint4 {
  display: inline-block;
}

#newone {
  margin: 2% auto 0%;
}

.tot {
  width: 30%;
  color: blue;
}

.hint4 {
  width: 50%;
}

#wrong {
  display: none;
  font-size: 1.3em;
  color: red;
}

#rite {
  font-size: 1.3em;
  color: green;
  display: none;
}

.imgzrc {
  width: 10%;
  display: inline-block;
  margin: 0% 0% 0% 6%;
}

.imgzrc3 {
  width: 10%;
  display: inline-block;
  margin: 0% 0% 0% 6%;
}

.imgzrc2 {
  width: 10%;
  display: inline-block;
}

.imgzrc img,
.imgzrc2 img,
.imgzrc3 img {
  width: 100%;
}

.crc,
.crc1 {
  display: inline-block;
  text-align: left;
  width: 70%;
  font-size: 1.1em;
}

.crc {
  margin: 0%;
}

.crc1 {
  margin: 0% 0% 0% 7%;
  text-align: right;
}

.cylinder {
  width: 100%;
  position: relative;
  height: 80%;
  color: blue;
}

.cylinder2,
.cylinder3 {
  position: absolute;
  width: 100%;
}

.cylinder2 {
  top: 24%;
  color: black;
}

.cylinder3 {
  top: 50%;
  color: blue;
}

.ltxt {
  font-size: 1.2em;
  width: 85%;
  margin: auto;
  color: black;
}

.ltxt2 {
  font-size: 1.2em;
  width: 70%;
  margin: auto;
  color: blue;
}

.mynextspan {
  text-decoration: underline;
  color: #b30a3c;
}

@media (min-aspect-ratio: 4/3) {

  .titleMe2, .m4, .m5, .m6,
  .m8, .m100 {
    font-size: 3vh;
  }

  .rr2, .rr3, .rr4, .rr5, .allhint {
    font-size: 2.8vh;
  }
}

@media (max-aspect-ratio: 4/3) {

  .titleMe2, .m4, .m5, .m6,
  .m8, .m100 {
    font-size: 1.8vw;
  }

  .rr2, .rr3, .rr4, .rr5, .allhint {
    font-size: 1.5vw;
  }
}
