.titleMe2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;

  color: #993300;
  overflow: hidden;
}

#text1,
#text2 {
  width: 85%;

  position: relative;

  border-radius: 10px;
  background: rgba(160, 181, 158, 0.2);
  margin: 1% auto;
  font-size: 1.7em;
  padding: 2%;
  display: none;
  text-align: center;
}

#totalCross {
  position: absolute;
  top: 0%;
  font-size: 2.5em;

  right: 0%;
  cursor: pointer;
  display: none;
  color: darkred;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.text2 {
  width: 85%;

  position: relative;

  border-radius: 10px;
  background: rgba(160, 181, 158, 0.2);
  margin: 1% auto;
  font-size: 1.2em;
  padding: 2%;
  text-align: center;
}
.wholebx {
  width: 85%;

  position: relative;

  border-radius: 10px;
  background: rgba(180, 160, 165, 1);
  margin: 1% auto;
  font-size: 1.2em;
  padding: 2%;
  text-align: center;
}
.animatebx {
  width: 34%;
  margin: 2% auto;
}
.animatebx img {
  width: 100%;
}

#flame {
  position: absolute;
  width: 4.5%;
  top: 60.8%;
  left: 50.8%;
  display: none;
}

.bubbles {
  position: absolute;
  border: #555 0.5px solid;
  border-radius: 100%;
  background: rgba(135, 206, 235, 0.2);
  display: none;
}
#bubble1 {
  width: 10%;
  height: 22%;
  top: 5%;
  left: 5%;
}

#bubble2 {
  width: 12%;
  height: 26%;
  top: 30%;
  left: 30%;
}

#bubble3 {
  width: 14%;
  height: 30%;
  top: 60%;
  left: 50%;
}
#bubble4 {
  width: 8%;
  height: 18%;
  top: 30%;
  left: 75%;
}

#bubble5 {
  width: 13%;
  height: 28%;
  top: 20%;
  left: 60%;
}
#whatBubble {
  position: absolute;
  top: 33%;
  width: 50%;
  height: 20%;

  left: 25%;
}

#air {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 35%;
  display: none;
}

.steamfly {
  -moz-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;

  animation-duration: 1000ms;

  animation-name: steamfly;
  -moz-animation-name: steamfly;
  -webkit-animation-name: steamfly;

  animation-iteration-count: infinite;

  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes steamfly {
  0% {
    top: 25%;
  }
  100% {
    top: 10%;
  }
}

@-webkit-keyframes steamfly {
  0% {
    top: 25%;
  }
  100% {
    top: 10%;
  }
}

@-moz-keyframes steamfly {
  0% {
    top: 25%;
  }
  100% {
    top: 10%;
  }
}
#mercury {
  width: 2.6%;

  height: 2%;
  background: red;
  position: absolute;
  left: 47.45%;
  bottom: 66.5%;
}
#heatme {
  background: #6b8f67;
  width: 10%;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 74%;
  left: 20%;
}

#restart {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 5%;
  font-size: 2em;

  display: none;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.text4 {
  width: 30%;
  color: #ddd;
  position: absolute;

  border-radius: 10px;
  background: #3f1c42;
  margin: 1% auto;
  font-size: 0.9em;
  padding: 2%;
  text-align: center;
  top: 10%;
  right: 1%;
  display: none;
}
