.titleMe2
{

	width: 100%;
	text-align: center;
	font-size: 2em;

	color: #993300;
	overflow: hidden;
}

.wholebx
{
	width: 100%;
	position: relative;
}
#p6_2
{
	width: 95%;
	margin: 1% auto 0%;
	text-align: center;
	font-size: 1.5em;
}

#p6_2_a
{
	width: 95%;
	margin: 1.5% auto;
	text-align: center;
	font-size: 1.3em;
	 color:#36454F;
	 text-decoration: underline;
}
.gamebx
{
	width: 80%;
	margin: 1.5% auto;
	font-size: 1.5em;
	
	background:#FAE7B5;
	border-radius: 10px;
	padding: 0.5%;
}

.firstrow,
.innerrow
{
	width: 100%;
	text-align: center;
	
	
	margin: 1% auto;
	border-radius: 10px;
	padding: 1%;

}
.firstrow
{
background:#21ABCD;
color: white;
}
.innerrow
{
	background:#BCD4E6;

}

#p6_2_b,
#p6_2_c,
#p6_3,
#p6_3_b,
#p6_4,
#p6_4_b,
#p6_5,
#p6_5_b,
#p6_6,
#p6_6_b
{
	display: inline-block;;
	width: 49%;
	
}


#prevId,
#nextId
{
	position: absolute;
	bottom: 1%;
	display: none;
	cursor: pointer;
	color:black;
	font-size:2.5em;	
	
}

#prevId
{
	left: 1%;
}

#nextId
{
	right: 1%;
}

#mm
{
	color: 	#996515;
	font-size: 1.4em;
	width: 100%;
	text-align: center;
	margin-top: 5%;
}

#desc,
#desc2
{
	text-align: center;
	
	border-radius: 10px;
	background: rgba(160,181,158,0.2);
	width: 90%;
	margin:1% auto 1%;
	font-size: 1.3em;
	padding: 1%;
	display: none;

}
.class1
{
	width: 90%;
	
	font-size: 1.1em;
	margin: 3% auto;
	text-align: center;
}
.imgs,
.imgss
{
	margin: 3% auto 1%;
	padding: 1%;
	border-radius: 10px;
	border: #000 1px solid;
}
.imgs
{
	width: 60%;
}
.imgss
{
	width: 45%;
	
}
.class2,
#desc2 div:first-child
{
display: inline-block;
width: 59%;
vertical-align: middle;
font-size: 1.1em;
}
.imgs1,
.imgs2
{
	width: 35%;
	display: inline-block;
	vertical-align: middle;
}

.imgs img,
.imgs1 img,
.imgs2 img,
.imgss img
{
	width: 100%;
}

#httxt1
{
	font-size: 1.2em;
	color: #0047AB;
	width: 100%;
	text-align: center;
}

.heightbck
{
	width: 90%;
	position: relative;
	
	margin: 2% auto;
	
	
	padding: 4%;
}
.htMeasure
{
	width: 34%;
	position: relative;
	display: inline-block;
}

.bigimg1
{
	width: 100%;
}

.htImg
{
	width: 75%;
	position: absolute;
	
	bottom: 50%;
	left: 10%;

}
.htImg img 
{
	width: 100%;
}

.htImg2
{
	width: 26%;
	position: absolute;
	
	bottom: 4%;
	left: 50%;
	
}
.htImg2 img 
{
	width: 100%;
}

.textVal
{
	width: 64%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#httxt2
{
	color: green;
	font-size: 1.3em;
	width: 100%;
}
#txtbx1
{
width: 100%;
}

#htTxtbx
{
	width: 50%;
}

#htbtn
{
	width: 45%;
	font-size: 0.9em;
}

.htAns,
.htAns2
{
	background: rgba(0,0,0,0.1);
	margin: 5% auto;
	width: 80%;
	padding: 5%;
	border-radius: 10px;
	display: none;
	font-size: 1.2em;
}

#mapTitle
{
	width: 100%;
	text-align: center;
	font-size: 1.2em;

	color: #993300;
	overflow: hidden;
}

#allmpa
{
	/*border: #000 1px solid;*/
	margin-top: 5%;
}
#map
{
	width:78%;
    margin:  auto;
}
#map img
{
    width: 100%;
}


.districtName
{
	width:1.6%;
	background:#ED3694;
	opacity:1;
	height: 2.7%;
	cursor:pointer;
	border-radius: 100%;
}
/*#Dandeldhura
{
	
    left: 2.5%;
    position: absolute;
    top: 26.7%;
   

   
}

#Silgadhi
{
	
    left: 11.7%;
    position: absolute;
     top: 28.5%;
   
   
   
}
#Dailekh
{
	left: 21.3%;
    position: absolute;
     top: 39.2%;
 }

#Baglung
{
	
    left: 41%;
    position: absolute;
    top: 53.3%;
   
 }

#Pokhara
{
	
   left: 47.8%;
    position: absolute;
    top: 54.4%;
    
	
}

#Gorkha
{
	 left: 54%;
    position: absolute;
    top: 60%;
    
}

#Dhulikhel
{   left: 65.8%;
    position: absolute;
    top: 71.6%;
   
}
#Diktel
{
	 left: 80%;
    position: absolute;
    top: 77.5%;
    
}
#Phidim
{ left: 92%;
    position: absolute;
    top: 81%;
   
}*/


#Mahendranagar
{
	left: 1%;
    position: absolute;
    top: 35.3%;
   
	
}

#Dhangadhi
{   left: 6.5%;
    position: absolute;
    top: 42.2%;
}

#Nepalgunj
{
	left: 18.8%;
    position: absolute;
    top: 54.6%;
}

#Ghorahi
{
	left: 29.7%;
    position: absolute;
    top: 62%;
}

#Butwal
{
	left: 39.3%;
    position: absolute;
    top: 66.5%;
}

#Parasi
{left: 45.5%;
    position: absolute;
    top: 69.2%;
}

#Hetaunda
{
	left: 56.4%;
    position: absolute;
    top: 71%;
}
#Kalaiya
{left: 58.4%;
    position: absolute;
    top: 80%;
}

#Jaleshwar
{
	left: 67.2%;
    position: absolute;
    top: 83.5%;
}

#Siraha
{	left: 73.8%;
    position: absolute;
    top: 89.3%;
}

#Ineruwa
{
	right: 15.1%;
    position: absolute;
    top: 90.6%;
}

#Chandragadhi
{
	right: 4.9%;
    position: absolute;
    top: 92.4%;
}


#car_dist
{
    width:7%;
    position: absolute;
    display: none;
}
#car_dist img
{
    width: 100%;
}

#distval
{
	font-size: 0.6em;
    color: red;
    position: absolute;
    top:0%;
    left:6%;
    font-weight: bold;
    
    width: 79%;
    text-align: center;
}

.flipcar
{

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    
}

#calc_dist
{
	background: #FFFFFF;
    border: 2px solid #FF0000;
   
    position: absolute;
   
    width:30%;
	border-radius:10px;
    top:2%;
    right:3%;
   
    padding: 1%;
    font-size: 0.9em;
}
.valsThis 
{
  margin-bottom: 5%;
}
 .valsThis div
 {
   display: inline-block;


}
.left1
{
    width: 30%;
   
    
  
    
}
#mid-color
{
	background:#FF0000;

	color: #FF0000;
	font-size:0.4em;
	vertical-align: middle;
}
.textme
{
	width: 67%;
	  
}
#east-color
{
	background:#017AC6;
	 color: #017AC6;
	font-size:0.4em;
	vertical-align: middle;

}
#from_district,#to_district,#distance
{
	width: 67%;
	border:#0066FF 2px solid;
	border-radius:10px;

	text-align:center;

}

#distance
{
	width: 47%;
}
#totalCross
{
	position: absolute;
	top:0%;
	
	right: 0%;
	
	display: none;

	cursor:pointer;
color:darkred;
font-size: 2.5em;	
text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;

}