.titleMe2 {
  width: 100%;
  text-align: center;
  font-size: 1.5em;

  color: #993300;
  overflow: hidden;
}

#totalCross {
  position: absolute;
  top: 0%;
  font-size: 2.5em;

  right: 0%;
  cursor: pointer;
  display: none;
  color: darkred;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.text2 {
  width: 85%;

  position: relative;

  border-radius: 10px;
  background: rgba(160, 181, 158, 0.2);
  margin: 3% auto;
  font-size: 1.4em;
  padding: 2%;
  text-align: center;
}
.text3 {
  width: 100%;
  font-size: 1em;
  width: 85%;
  margin: 1% auto;
  text-align: center;
  font-size: 1.5em;
}

.wholebx {
  width: 85%;
  height: 50%;
  position: relative;

  margin: 2% auto;
  font-size: 1.2em;
  padding: 2%;
  text-align: center;
}

.innerbx {
  display: inline-block;

  width: 40%;

  margin: auto 2%;
  border: #555 1px solid;
  border-radius: 45px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.innerbx img {
  width: 100%;
}

.fullBck {
  position: fixed;
  width: 71%;
  height: 73%;
  background: rgba(255, 255, 255, 0.7);
}

.innerpop {
  width: 60%;

  background: #fdfd96;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 20%;
  border: #40683c 2px solid;
  padding: 1%;
}
.firstlst {
  width: 100%;
  position: relative;
}

.img1 {
  width: 8%;

  position: relative;
  display: inline-block;
  vertical-align: top;
}
.img1 img,
.img2 img,
.img3 img,
.img4 img {
  width: 100%;
}
.img2 {
  width: 20%;
  margin-left: 10%;
}
.txt0 {
  width: 100%;
  color: purple;
  font-size: 1.4em;
  text-align: center;
  position: relative;
}
.txt1 {
  width: 83%;

  font-size: 1.1em;
  text-align: left;
  position: relative;
  display: inline-block;
  margin-left: 1.5%;
}

.img3 {
  width: 7%;
  margin: 3% 3% 0% 3%;
  position: relative;
  display: inline-block;
}
.img4 {
  width: 16%;
  margin: 3% 0% 0% 3%;
  position: relative;
  display: inline-block;
}
.whatlst {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.txt3,
.txt4 {
  font-size: 1em;
  color: blue;
  text-align: left;
  margin: 5% 2%;
}

#myhtBx {
  width: 60%;

  background: #fdfd96;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 20%;
  border: #40683c 2px solid;
  padding: 1%;
  display: none;
}
.how {
  position: absolute;

  padding: 1%;
  width: 10%;
  text-align: center;
  color: white;

  top: -9.5%;
  right: 1%;
  cursor: pointer;
  vertical-align: top;

  animation: intendBlink 1s infinite linear;
  -moz-animation: intendBlink 1s infinite linear;
  -webkit-animation: intendBlink 1s infinite linear;
}

@keyframes intendBlink {
  0% {
    background: #9696fd;
  }
  50% {
    background: #3f1c42;
  }
  100% {
    background: #9696fd;
  }
}

@-moz-keyframes intendBlink {
  0% {
    background: #9696fd;
  }
  50% {
    background: #3f1c42;
  }
  100% {
    background: #9696fd;
  }
}

@-webkit-keyframes intendBlink {
  0% {
    background: #9696fd;
  }
  50% {
    background: #3f1c42;
  }
  100% {
    background: #9696fd;
  }
}

.howbx {
  position: relative;

  color: blue;

  font-size: 1em;

  width: 100%;
}
.bx2 {
  margin: 2% 0% 0% 10%;
}
.bx1 {
  font-weight: bold;
  font-size: 1.2em;
}

.bx2:last-child {
  color: #000;
  text-align: center;
  margin-top: 5%;
}

.closeme {
  position: absolute;
  top: 3%;
  right: 0%;
  font-size: 2em;
  cursor: pointer;
  width: 4%;
}

.txt5 {
  text-align: center;
  margin: 1%;
  font-size: 1.1em;
  color: green;
}

.firstlst2 {
  position: relative;

  width: 100%;

  text-align: center;
  background: #d7d75f;
  border-radius: 10px;
  padding: 2%;
}

.txt6 {
  color: blue;
  text-decoration: underline;
}
.txt2 {
  color: purple;
  font-size: 1.3em;
}
.popUp {
  top: 18%;
}
