.allbck
{

	position: relative;

	background: -moz-linear-gradient(left, #82dce1 0%, #ffffff 10%, #ffffff 90%, #82dce1 100%);
	background: -webkit-linear-gradient(left, #82dce1 0%, #ffffff 10%, #ffffff 90%, #82dce1 100%);
	background: linear-gradient(left, #82dce1 0%, #ffffff 10%, #ffffff 90%, #82dce1 100%);

	width: 100%;
	height: 100%;
	padding: 2%;
}
.allbck *
{
	position: relative;
	margin: 0%;
	padding: 0%;

}
.titleMe
{
	width: 100%;
	text-align: center;
	font-size: 2em;
	color: #993300;
}


/***

Hide page number 6 7 8 9 10 11 and 12 from footer
***/
.footerPages div:nth-child(n+7)
{
	display: none;

}

#nextId:hover #activityNextHoverBtn,
#prevId:hover #activityPrevHoverBtn
{
	display: block;
}
#nextId:hover #activityNextBtn,
#prevId:hover #activityPrevBtn
{
	display: none;
}

#prevId,
#nextId
{
	width: 8%;
}



.closeJsbtn:hover #closeBtn
{
    display: none;
}
.closeJsbtn:hover #closeHoverBtn
{
    display: block;
}


.reloadjsbtn:hover #reloadBtn
{
    display: none;
}
.reloadjsbtn:hover #reloadHoverBtn
{
    display: block;
}

