<!--
    Title : exponential
    May be small documentation
 -->
 <script type="text/javascript"
src="js/jquery-ui1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    $cssLoader("css/page11.css");
    $cssLoader("css/sweetalert.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<script>

function isNumber(evt)
{
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46){
    	swal("Please enter only numbers!!");
    	return false;
    }
    return true;
}

</script>
<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

    </div>
</script>



  <script type="text/x-handlebars-template" id="intro-template-title">
    <div class="wrapperIntro {{justClass}}">
      	<div class="lokhar">
          <img  class="youtTurnBoard"/>
          <p class="lokharkeTxt"></p>
        </div>
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
			<div class="Solve the following"> </div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}} )</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">  </span><input type="text" class="base first" value="{{first}}" data-cls="{{couter}}" readonly>
            <span class="check1"></span>
            <span class="powerString"></span>
            <input type="text" class="base second" value="{{second}}" data-cls="{{couter}}" readonly>
            <span class="check2"></span>
			<span class="baseString">  </span><input type="text" class="base first" value="{{third}}" data-cls="{{couter}}" readonly>
            <span class="check3"></span>
            <span class="powerString"></span>
            <input type="text" class="base second" value="{{fourth}}" data-cls="{{couter}}" readonly>
            <span class="check4"></span>


            <span class="showAns">
                <span class="ans">{{answer}} = {{ans}}</span>
            </span>

        </div>
        <div class="clicks">
            <span class="click0" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->

<!--page3-->


<script type="text/x-handlebars-template" id="intro3-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

    </div>
</script>

<!-- end of page3-->

<!---page4--->




<script type="text/x-handlebars-template" id="qaArea1-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{answer}} = </span><input type="text" class="base1" onkeypress="return isNumber(event)">
            <span class="check01"></span>

            <span class="showAns">
                <span class="ans">{{answer}}: {{firstlabel}} =  {{prefix}}{{firstans}}{{suffix}}</span>
                <span class="baseString"></span>
            </span>



        </div>
        <div class="clicks">
            <span class="check1" data-cls="{{couter}}">{{check}}</span>
            <span class="click1" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!---end of page4--->


<!--page5-->


<script type="text/x-handlebars-template" id="intro5-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

    </div>
</script>

<!-- end of page5-->

<!--page6-->


<script type="text/x-handlebars-template" id="qaArea2-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{firstlabel}} = </span><input type="text" class="base" onkeypress="return isNumber(event)">
            <span class="check01"></span>

			<span class="powerString">{{secondlabel}}</span>
            <input type="text" class="power" onkeypress="return isNumber(event)">
            <span class="check02"></span>


            <span class="showAns">
                <span class="ans">{{answer}}: <br/>{{firstlabel}} =  {{prefix}}{{firstans}}{{suffix}} , {{secondlabel}} =  {{prefix}}{{secondans}}{{suffix}}</span>
                <span class="baseString"></span>
				<span class="powerString"></span>
            </span>



        </div>
        <div class="clicks">
            <span class="check2" data-cls="{{couter}}">{{check}}</span>
            <span class="click2" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea21-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{firstlabel}} = </span><input type="text" class="base" onkeypress="return isNumber(event)">
            <span class="check01"></span>

			<span class="powerString">{{secondlabel}}</span>
            <input type="text" class="power" onkeypress="return isNumber(event)">
            <span class="check02"></span>

			<span class="thirdString">{{thirdlabel}}</span>
            <input type="text" class="thirdinput" onkeypress="return isNumber(event)">
            <span class="check3"></span>

            <span class="showAns">
                <span class="ans">{{answer}}: <br/>{{firstlabel}} =  {{prefix}}{{firstans}}{{suffix}} , {{secondlabel}} =  {{prefix}}{{secondans}}{{suffix}},{{thirdlabel}} =  {{prefix}}{{thirdans}}{{suffix}}</span>
                <span class="baseString"></span>
				<span class="powerString"></span>
				<span class="thirdString"></span>
            </span>



        </div>
        <div class="clicks">
            <span class="check2" data-cls="{{couter}}">{{check}}</span>
            <span class="click2" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- end of page6-->

<!--page7-->


<script type="text/x-handlebars-template" id="intro7-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

    </div>
</script>

<!-- end of page7-->

<!--page8-->


<script type="text/x-handlebars-template" id="qaArea3-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{firstlabel}} = </span><input type="text" class="base" onkeypress="return isNumber(event)">
            <span class="check1"></span>

			<span class="powerString">{{secondlabel}}</span>
            <input type="text" class="power" onkeypress="return isNumber(event)">
            <span class="check2"></span>

            <span class="showAns">
                <span class="ans">{{answer}}: <br/>{{firstlabel}} =  {{prefix}}{{firstans}}{{suffix}} ,</br> {{secondlabel}} =  {{prefix}}{{secondans}}{{suffix}}</span>
                <span class="baseString"></span>
				<span class="powerString"></span>
            </span>



        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- end of page8-->

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page11.js");
    $jsLoader("js/sweetalert.min.js");
</script>
