<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page14.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<!--  <div class="diagonal"></div>-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
		<div class="title_1">{{title_1}}</div>
		<div class="title_2">{{title_2}}</div>
		<div class="title_3">{{title_3}}</div>
		<div class="title_4">{{title_4}}</div>
		<table class="exmpletable" align="center">
			<tr><th>{{rowheading1}}</th><th>{{rowheading2}}</th></tr>
			<tr><td>7</td><td>35</td></tr>
			<tr><td>3</td><td>X</td></tr>
		</table>

        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="img-des13">
			<div id="id_3" class="imageholder13">
				<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/downarrow.png" align="middle"/></div>
			</div>
		</div>
		<div class="img-des14">
			<div id="id_4" class="imageholder14">
				<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/downarrow.png" align="middle"/></div>
			</div>
		</div>
    </div>

</script>



<script type="text/x-handlebars-template" id="intro-template-title">
    <div class="wrapperIntro {{justClass}}">
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            </div>
        </div>
    </div>
</script>






<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page14.js");
</script>
