<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page16.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">

        	{{#each text}}
            	<div class="text{{@index}}">{{{this}}}</div>
        	{{/each}}

			<div class="img-des2">
				<div id="id_2" class="imageholder02">
					<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/5men.png" align="middle"/></div>
				</div>
			</div>
			<div class="img-des3">
				<div id="id_2" class="imageholder03">
					<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/4men.png" align="middle"/></div>
				</div>
			</div>
			<div class="img-des4">
				<div id="id_2" class="imageholder04">
					<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/3men.png" align="middle"/></div>
				</div>
			</div>
			<div class="price">
				<span class="tag1">{{pricetag1}}</span>
				<span class="tag2">{{pricetag2}}</span>
				<span class="tag3">{{pricetag3}}</span>
			</div>
			<div class="pricestatement1">{{pricestatement1}}</div>
			<div class="pricestatement2">{{pricestatement2}}</div>
			<div class="pricestatement3">{{pricestatement3}}</div>



			<div class="img-des5">
				<div id="id_2" class="imageholder05">
					<div id="fun_2" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/5men.png" align="middle" class="imglast"/></div>
				</div>
			</div>
			<div class="img-des6">
				<div id="id_3" class="imageholder06">
					<div id="fun_3" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/4men.png" align="middle" class="imglast"/></div>
				</div>
			</div>
			<div class="img-des7">
				<div id="id_4" class="imageholder07">
					<div id="fun_4" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/3men.png" align="middle" class="imglast"/></div>
				</div>
			</div>


			<div class="price1">
				<span class="tag">{{pricetag1}}</span>
			</div>
			<div class="price2">
				<span class="tag">{{pricetag2}}</span>
			</div>
			<div class="price3">
				<span class="tag">{{pricetag3}}</span>
			</div>
			<div class="img-des11">
				<div id="id_2" class="imageholder11">
					<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/arrow.png" align="middle"/></div>
				</div>
			</div>
			<div class="pricestatement">{{pricestatement}}</div>
    </div>
</script>
<!-- <div class="diagonal"></div> -->
<script type="text/x-handlebars-template" id="intro2-template">
    <div class="wrapperIntro {{justClass}}">
		<div class="title_1">{{title_1}}</div>
		<div class="title_2">{{title_2}}</div>
		<div class="title_3">{{title_3}}</div>
		<table class="exmpletable" align="center">
			<tr><th>{{rowheading1}}</th><th>{{rowheading2}}</th></tr>
			<tr><td>10</td><td>5</td></tr>
			<tr><td>X</td><td>2</td></tr>
		</table>

        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="img-des13">
			<div id="id_3" class="imageholder13">
				<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/downarrow.png" align="middle"/></div>
			</div>
		</div>
		<div class="img-des14">
			<div id="id_4" class="imageholder14">
				<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/uparrow.png" align="middle"/></div>
			</div>
		</div>
    </div>

</script>



<script type="text/x-handlebars-template" id="intro-template-title">
    <div class="wrapperIntro {{justClass}}">
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            </div>
        </div>
    </div>
</script>






<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page16.js");
</script>
