<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page9.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        <div class="title">{{title}}</div>
        <div class="subtitle">{{subtitle}}</div>
		<div class="img-des2">
			<div id="id_2" class="imageholder01">
				<div id="fun_1" class="ratioimages" ><img src="activity/grade8/math/math_ratio_percent_02/image/ratio9.png" align="middle"/></div>
			</div>
		</div>
            {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        	{{/each}}
    </div>
</script>



<script type="text/x-handlebars-template" id="intro-template-title">
    <div class="wrapperIntro {{justClass}}">
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            </div>
        </div>
    </div>
</script>






<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page9.js");
</script>