<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/common.exponential.css");
    $cssLoader("css/zero.exponential.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="top text{{@index}}">{{{this}}}</div>
        {{/each}}
        <div class="box">
            {{#each boxText}}
                <div class="text{{@index}}">{{{this}}}</div>
            {{/each}}
            <div class="methods1">
                {{#each methods1}}
                <div class="methodText{{@index}}">{{{this}}}</div>
            {{/each}}
            </div>
            <div class="methods2">
                {{#each methods2}}
                <div class="methodText{{@index}}">{{{this}}}</div>
            {{/each}}
            </div>
        </div>
        <div class="lokharke">
            <img src="{{lokharke}}" alt=""/>
            <div class="lokharkeText">{{{lokharkeText}}}</div>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/common.exponential.js");
    $jsLoader("js/zero.exponential.js");
</script>