.set {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.2em;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.set, .set * {
	position: relative;
	margin: 0;
	padding: 0;
}

.set .nextBtn{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;
}

/* .set .prevBtn{
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
} */

.set .board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/*********
*****activity specific******
******************/
#topic{
	position: absolute;
	margin-top: 1%;
	width: 95%;
	left: 2%;
	font-size: 1.1em;
	text-align: center;
	color: #369;
	box-shadow: 0px 0px 5px #369;
	padding: 1%;
}
.center_box{
	position: absolute;
	top: 12%;
	left: 14%;
	width: 75%;
	height: 65%;
	background: white;
	border: 2px solid #003300;
	box-shadow: 0 0 5px #888;
}
#circle1{
	position: relative;
	margin: 1%;
	left: 30%;
	border:2px solid ;
	border-radius: 50%;
	width: 20%;
	padding: 16%;
}
#circle2{
	position: absolute;
	top: 33%;
	left: 20%;
	border:2px solid ;
	border-radius: 50%;
	width: 20%;
	padding: 16%;
}
#circle3{
	position: absolute;
	top: 33%;
	left: 40%;
	border:2px solid ;
	border-radius: 50%;
	width: 20%;
	padding: 16%;
}
#M{
	position: absolute;
	top: 10%;
	left: 38%;
	width: 20%;
	height: 20%;
	text-align: center;

}
#B{
	position: absolute;
	top: 60%;
	left: 22%;
	width: 15%;
	height: 35%;
	text-align: center;
}
#F{
	position: absolute;
	top: 55%;
	right: 30%;
	width: 15%;
	height: 35%;
}

#F > p{
	position: absolute;
	top: 30%;
	left: 15%;
	/*display: none;*/
}
#BnM > p{
	position: absolute;
	top: 30%;
	/*display: none;*/
}
#BnM > p:nth-of-type(2){
	position: absolute;
	top: 30%;
	/*display: none;*/
}
#MnF > p{
	position: absolute;
	left: 53%;
	/*display: none;*/
}
#BnF > p{
	position: absolute;
	left: 10%;
	/*display: none;*/
}
#BnF > p:nth-of-type(2){
	position: absolute;
	top:50%;
	/*display: none;*/
}
#BnMnF > p{
	position: absolute;
	top: 10%;
	left: 10%;
	/*display: none;*/
}
#BnMnF > p:nth-of-type(2){
	position: absolute;
	top: 40%;
	/*display: none;*/
}
#BnM{
	position: absolute;
	top: 35%;
	left: 33%;
	width: 10%;
	height: 15%;
}
#BnF{
	position: absolute;
	bottom: 18%;
	left: 42%;
	width: 10%;
	height: 15%;
}
#MnF{
	position: absolute;
	right: 40%;
	top: 35%;
	width: 10%;
	height: 18%;
}
#BnMnF{
	position: absolute;
	top: 45%;
	left: 42%;
	width: 10%;
	height: 18%;
}
#title1{
	position: absolute;
	font-size: 1.1em;
	top: 10%;
	right: 16%;
	color: #006600;

}
#title2{
	position: absolute;
	font-size: 1.1em;
	top: 50%;
	right: 83%;
	color: #006600;
}
#title3{
	position: absolute;
	font-size: 1.1em;
	top: 60%;
	left: 75%;
	color: #006600;
}
#condition_table{
	position: absolute;
	bottom: 2%;
	left: 25%;
	width: 55%;
	height: 15%;
	font-size: 1.2em;
	border-radius: 15px;
	moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
td:nth-of-type(1){
	border: 2px solid black;
	border-radius: 15%;
	text-align: center;
	color: red;
	width: 25%;
}
td:nth-of-type(2){
	border: 2px solid black;
	border-radius: 15%;
	text-align: center;
	color: red;
	width: 45%;
}
th{
	border: 2px solid;
	border-radius: 15%;
	text-align: center;
}

#correct{
	position: absolute;
	left: 5%;
	width: 10%;
	display: none;
}
#wrong{
	position: absolute;
	left: 5%;
	display: none;
	width: 10%;
}
#condition_table .ui-draggable{
	background: #7DDEFF;
	width: 66%;
	left: 16%;
	color: black;
	cursor: move;
}
