/*bounce code start*/
  @keyframes bounce {
  	0%, 20%, 50%, 80%, 100% {
  			-ms-transform: translateY(0); 
    		-webkit-transform: translateY(0); 
    		transform: translateY(0);
  	}
    
    40% {
      -ms-transform: translateY(-30px); 
    		-webkit-transform: translateY(-30px); 
    		transform: translateY(-30px);
    }

     60% {
      -ms-transform: translateY(-15px); 
    		-webkit-transform: translateY(-15px); 
    		transform: translateY(-15px);
    }
  }

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
  			-ms-transform: translateY(0); 
    		-webkit-transform: translateY(0); 
    		transform: translateY(0);
  	}
    
    40% {
      -ms-transform: translateY(-30px); 
    		-webkit-transform: translateY(-30px); 
    		transform: translateY(-30px);
    }

     60% {
      -ms-transform: translateY(-15px); 
    		-webkit-transform: translateY(-15px); 
    		transform: translateY(-15px);
    }
  }

  .bounceItem
  {
  	animation-duration: 3s;
    animation-name:bounce;
    animation-iteration-count:infinite;

    -webkit-animation-duration: 3s;
    -webkit-animation-name:bounce;
    -webkit-animation-iteration-count:infinite;
  }

  /*bounce code stop*/

  /*bounce InOut code start*/
  @keyframes bounceInOut {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: scale(1,1); 
        -webkit-transform: scale(1,1); 
        transform: scale(1,1);
    }
    
    40% {
      -ms-transform: scale(0.9); 
        -webkit-transform: scale(0.9); 
        transform: scale(0.9);
    }

     
  }

  @-webkit-keyframes bounceInOut {
    0%, 20%, 50%, 60%, 100% {
        -ms-transform: scale(1,1); 
        -webkit-transform: scale(1,1); 
        transform: scale(1,1);
    }
    
    40% {
      -ms-transform: scale(0.9); 
        -webkit-transform: scale(0.9); 
        transform: scale(0.9);
    }
  }

  .bounceItemInOut
  {
    animation-duration: 2.5s;
    animation-name:bounceInOut;
    animation-iteration-count:infinite;

    -webkit-animation-duration: 2.5s;
    -webkit-animation-name:bounceInOut;
    -webkit-animation-iteration-count:infinite;
  }

  /*bounce code stop*/

  /*vapour rise code start*/
  @keyframes vapour {
   0%{
        -ms-transform: translateY(0); 
        -webkit-transform: translateY(0); 
        transform: translateY(0);
        opacity: 0;
    }

    30%{
        -ms-transform: translateY(0); 
        -webkit-transform: translateY(0); 
        transform: translateY(0);
        opacity: 1;
    }

    100% {
      -ms-transform: translateY(-25px); 
        -webkit-transform: translateY(-25px); 
        transform: translateY(-25px);
        opacity: 0;
    }     
  }

  @-webkit-keyframes vapour {
    0%{
        -ms-transform: translateY(0); 
        -webkit-transform: translateY(0); 
        transform: translateY(0);
        opacity: 1;
    }
    
    100% {
      -ms-transform: translateY(-25px); 
        -webkit-transform: translateY(-25px); 
        transform: translateY(-25px);
        opacity: 0;
    }
  }

  .vapourRise
  {
    animation-duration: 2s;
    animation-name:vapour;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;

    -webkit-animation-duration: 2s;
    -webkit-animation-name:vapour;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: ease-in-out;    
  }

  /*vapour rise code stop*/

