.set {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  /*background: #FFFFD1;*/
  box-shadow: inset 0 0 30px #f2f2f2;
}
.set .nextBtn {
  display: none;
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 6%;
  height: 10%;
}
.set .Btn1 {
  display: none;
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 6%;
  height: 10%;
}
.set,
.set * {
  position: relative;
  margin: 0;
  padding: 0;
}
/****************
***********
********************/
.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.board > p:nth-of-type(1) {
  position: relative;
  margin: 3%;
  font-size: 1.5em;
  color: #00007a;
  text-shadow: 1px 1px #c1c1c1;
}
.board > p:nth-of-type(2) {
  position: relative;
  display: none;
  color: #336600;
  width: 100%;
  left: 0%;
}
.board > p:nth-of-type(3) {
  position: absolute;
  display: none;
  top: 20%;
  left: 5%;
  color: #006666;
}
.set4 {
  display: none;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 20%;
  /*background: blue;*/
}
.set4 > img {
  border: 2px solid #006666;
  border-radius: 50%;
  width: 100%;
}

#c4 {
  display: none;
  position: absolute;
  top: -20%;
  width: 100%;
  font-size: 1em;
  color: #006666;
}
#caption4 {
  position: absolute;
  display: none;
  left: 5%;
  margin-top: 100%;
  font-size: 1em;
  color: #066;
  width: 100%;
}
.set5 {
  display: none;
  position: absolute;
  top: 35%;
  left: 28%;
  width: 20%;
}
.set5 > img {
  border: 2px solid #006666;
  border-radius: 50%;
  width: 100%;
}
.set5 > p {
  position: absolute;
  display: none;
  top: -20%;
  width: 100%;
  font-size: 1em;
  color: #006666;
}
#caption5 {
  position: absolute;
  display: none;
  left: 10%;
  margin-top: 100%;
  font-size: 1em;
  color: #066;
  width: 100%;
}
.set6 {
  display: none;
  position: absolute;
  top: 35%;
  left: 55%;
  border: 2px solid #006666;
  border-radius: 50%;
  padding-bottom: 22%;
  width: 23%;
}
.set7 {
  display: none;
  position: absolute;
  top: 35%;
  left: 69%;
  border: 2px solid #006666;
  border-radius: 50%;
  padding-bottom: 22%;
  width: 23%;
  /*background-color: white;*/
}
#fruit1 {
  position: absolute;
  left: 87%;
  top: 9%;
  width: 80%;
}
#fruit1 img {
  width: 100%;
}
#fruit2 {
  position: absolute;
  right: 83%;
  top: 9%;
  width: 75%;
}
#fruit2 img {
  width: 100%;
}
.set8 {
  position: absolute;
  display: none;
  top: 42%;
  left: 72%;
  width: 5%;
}
.set8 img {
  width: 100%;
}
#c8 {
  position: absolute;
  top: 28%;
  right: 15%;
  color: #006666;
  display: none;
}
#topic {
  position: absolute;
  width: 55%;
  margin: 2%;
  left: 20%;
  padding: 0.5%;
  color: #00007a;
}
#topic > p {
  font-size: 1.5em;
  color: #00007a;
  text-shadow: 1px 1px #c1c1c1;
}
#shapes {
  position: absolute;
  left: 24%;
  top: 15%;
  width: 50%;
  box-shadow: 0 0 5px #888;
}

#shapes > img {
  position: relative;
  width: 70%;
  height: auto;
}

#shapes > p {
  font-size: 1.2em;
  color: #24aabc;
  background-color: white;
  padding: 2%;
  opacity: 0.8;
}

.center {
  /*background: yellow;*/
  position: absolute;
  left: 38%;
  top: 33%;
  width: 25%;
  height: 48%;
  box-shadow: 0 0 5px #888;
}

#choose1 {
  position: absolute;
  cursor: pointer;
  left: 8%;
  top: 5%;
}

#choose2 {
  position: absolute;
  cursor: pointer;
  left: 65%;
  top: 10%;
}

#choose3 {
  position: absolute;
  left: 38%;
  top: 28%;
  cursor: pointer;
}

#choose4 {
  position: absolute;
  left: 15%;
  top: 75%;
  cursor: pointer;
}

#choose5 {
  position: absolute;
  left: 60%;
  top: 50%;
  cursor: pointer;
}
#choose6 {
  position: absolute;
  left: 10%;
  top: 45%;
}

#choose7 {
  position: absolute;
  left: 60%;
  top: 75%;
  cursor: pointer;
}

#user {
  position: absolute;
  left: 5%;
  top: 30%;
  border: 2px solid #00cc99;
  width: 30%;
  height: 55%;
  box-shadow: 0 0 5px #888;
}
#user > p {
  font-size: 1.1em;
  background: #ffcc00;
  margin: 3%;
  width: 45%;
  left: 25%;
  box-shadow: 0 0 5px #888;
}
#computer {
  position: absolute;
  right: 5%;
  top: 30%;
  border: 2px solid #00cc99;
  box-shadow: 0 0 5px #888;
  width: 30%;
  height: 55%;
}
#computer > p {
  font-size: 1.1em;
  background: #ffcc00;
  margin: 3%;
  width: 60%;
  left: 20%;
  box-shadow: 0 0 5px #888;
}
#im1 {
  display: none;
}
#im2 {
  display: none;
}

#im3 {
  display: none;
}

#im4 {
  display: none;
}

#im5 {
  display: none;
}
#im6 {
  display: none;
}

#im7 {
  display: none;
}

#shape1 {
  display: none;
}
#shape2 {
  display: none;
}

#shape3 {
  display: none;
}

#shape4 {
  display: none;
}

#shape5 {
  display: none;
}
#shape6 {
  display: none;
}

#shape7 {
  display: none;
}

#body {
  /*display: none;*/
  position: absolute;
  top: 15%;
  width: 87%;
  height: 80%;
  left: 5%;
  border: 2px solid #000066;
  background: white;
}
#body > p:nth-of-type(1) {
  /*display: none;*/
  position: absolute;
  top: 5%;
  width: 100%;
  font-size: 1.2em;
}

#body > p:nth-of-type(1) > img {
  position: relative;
  width: 8%;
}

#body > p:nth-of-type(2) {
  /*display: none;*/
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 1.2em;
}

#body > p:nth-of-type(2) > img {
  position: relative;
  width: 8%;
}

#extra_info {
  position: absolute;
  display: none;
  top: 52%;
  left: 7%;
  font-size: 1.1em;
  width: 90%;
  border-radius: 10px;
  color: #00007a;
  box-shadow: 0 0 5px #888;
}
#answer {
  display: none;
  position: absolute;
  top: 70%;
  width: 100%;
  font-size: 1.2em;
}

#answer > p:nth-of-type(1) > img {
  position: relative;
  width: 8%;
}

.set .popup_btn {
  /*display: none;*/
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 6%;
  height: 10%;
}

#popup {
  display: none;
  top: 1%;
}
#popup > p {
  position: absolute;
  font-size: 1.4em;
  color: #8d1919;
  margin: 1%;
  padding: 18%;
  background: #47b5da;
  border-radius: 8px;
}
#answer > p > img {
  display: none;
}
