.set {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  /*background: #FFFFD1;*/
  box-shadow: inset 0 0 30px #f2f2f2;
}
.set .nextBtn {
  display: none;
  position: absolute;
  top: 90%;
  left: 93%;
  width: 6%;
  height: 10%;
}
.set,
.set * {
  position: relative;
  margin: 0;
  padding: 0;
}

/*********
*****activity specific******
******************/
.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.board > p:nth-of-type(1) {
  position: relative;
  left: 0%;
  font-size: 3em;
  color: #00007a;
  text-shadow: 1px 1px #aaaaaa;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.board > p:nth-of-type(2) {
  position: relative;
  color: #47a375;
}
.board > p:nth-of-type(3) {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #00007a;
}
#topic {
  position: absolute;
  width: 55%;
  margin: 2%;
  left: 20%;
  padding: 1%;
  font-size: 1.2em;
}
#topic > p {
  font-size: 1.5em;
  color: #00007a;
  text-shadow: 1px 1px #c1c1c1;
}
#info {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 60%;
  padding: 2%;
  box-shadow: 0 0 5px #47a375;
  font-size: 1.2em;
  background-color: white;
}
#body_container {
  top: 15%;
  left: 3%;
  width: 93%;
  height: 75%;
  border: 2px solid #195919;
  background: white;
  box-shadow: 0 0 5px #888;
}
#top_pic {
  position: absolute;
  left: 43%;
  top: 4%;
}
.select_set {
  position: absolute;
  top: 20%;
  left: 37%;
  width: 50%;
}
.select_set > p {
  position: absolute;
  margin-top: 10%;
  left: 4%;
  color: #a31919;
}
.select_set > p:nth-of-type(2) {
  position: absolute;
  margin-top: 10%;
  margin-left: 65%;
  color: #a31919;
}

#conditions {
  position: absolute;
  top: 1%;
  left: 0%;
  height: 20%;
  width: 100%;
  font-size: 1em;
  border-bottom: 2px solid #195919;
}

.info1 {
  position: absolute;
  top: 10%;
  /*left: 10%;*/
  width: 100%;
}

.info2 {
  position: absolute;
  top: 50%;
  width: 100%;
  /*left: 10%;*/
}

#single_set {
  position: relative;
  margin: 5%;
  left: 20%;
  border: 2px solid red;
  border-radius: 50%;
  width: 70%;
  padding-bottom: 65%;
}
#double_set1 {
  position: absolute;
  margin-top: 18%;
  left: 2%;
  border: 2px solid red;
  border-radius: 50%;
  width: 58%;
  padding-bottom: 58%;
}

#double_set2 {
  position: absolute;
  margin-top: 18%;
  left: 63%;
  border: 2px solid red;
  border-radius: 50%;
  width: 58%;
  padding-bottom: 58%;
}
#circle_1 {
  position: absolute;
  margin-top: 14%;
  left: 5%;
  border: 2px solid red;
  border-radius: 50%;
  width: 65%;
  padding-bottom: 60%;
}
#circledata1 {
  position: absolute;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  width: 55%;
  height: 85%;
}

#circle_2 {
  position: relative;
  margin-top: 14%;
  left: 50%;
  border: 2px solid red;
  border-radius: 50%;
  width: 65%;
  padding-bottom: 60%;
}
#circledata2 {
  position: absolute;
  border-radius: 50%;
  top: 10%;
  right: 10%;
  width: 55%;
  height: 85%;
}

#intersection {
  position: absolute;
  margin-top: 20%;
  left: 50%;
  top: 6%;
  border-radius: 50%;
  width: 20%;
  padding-bottom: 40%;
}

#numbers {
  position: absolute;
  top: 20.5%;
  width: 35%;
  height: 80%;
  border-right: 2px solid #195919;
}
#row1 {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
}
#row1 > p {
  background: yellow;
  margin: 4%;
  padding: 3.5%;
  border-radius: 20px;
  display: inline;
  position: relative;
  cursor: pointer;
}
#row2 {
  position: absolute;
  top: 25%;
  left: 0%;
  width: 100%;
}
#row2 > p {
  background: yellow;
  margin: 4%;
  padding: 3.5%;
  border-radius: 20px;
  display: inline;
  position: relative;
  cursor: pointer;
}
#row3 {
  position: absolute;
  margin-top: 48%;
  left: 0%;
  width: 100%;
}
#row3 > p {
  background: yellow;
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
  display: inline;
  position: relative;
  cursor: pointer;
}
#row4 {
  position: absolute;
  margin-top: 68%;
  left: 0%;
  width: 100%;
}
#row4 > p {
  background: yellow;
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
  display: inline;
  position: relative;
  cursor: pointer;
}
#row5 {
  position: absolute;
  margin-top: 88%;
  left: 0%;
  width: 100%;
}
#row5 > p {
  background: yellow;
  margin: 3%;
  padding: 3%;
  border-radius: 20px;
  display: inline;
  position: relative;
  cursor: pointer;
}

#pic {
  position: absolute;
  bottom: 1%;
  left: 9%;
  width: 17% !important;
}

#pic > img {
  width: 50%;
}
#cartoon {
  display: none;
  position: absolute;
  bottom: 2%;
  left: 38%;
}
