.bg_story_1 {
	background-image: url("../images/01.png");
	background-size: 100% 65%;
	background-repeat: no-repeat
}
@font-face {
    font-family:chelseamarket;
    src: url(../../../../../fonts/ChelseaMarket-Regular.ttf);
}
.bg_story_2 {
	background-image: url("../images/02.png");
	background-size: 100% 65%;
	background-repeat: no-repeat
}

.bg_story_3 {
	background-image: url("../images/03.png");
	background-size: 100% 65%;
	background-repeat: no-repeat
}

.bg_story_4 {
	background-image: url("../images/04.png");
	background-size: 100% 65%;
	background-repeat: no-repeat
}

div.textblock {
	position: absolute;
	z-index: 3;
	margin-top: 1%;
	height: 100%;
	width: 100%;
	/*border   : 1px solid green; */
}

.lesson-title {
    position: absolute;
    color: white;
    font-size: 7vmin;
    font-family: chelseamarket;
    width: 104%;
    background: rgb(224,62,85);
    margin-top: 24%;
    padding: 1%;
    left: -1%;
}
.bottom_para {
	position: absolute;
	bottom: 0%;
	height: 40%;
	left: 0%;
	width: 100%;
	padding: 1%;
	text-align: left;
	background-color: #C5F3EC;
}
.bottom_para_2 {
	position: absolute;
	bottom: 0%;
	height: 35%;
	left: 0%;
	width: 100%;
	padding: 2.5%;
	padding-right: 4%;
	text-align: left;
	background-color: #C5F3EC;
}

.bottom_ques {
	position: relative;
	top: 50%;
	text-align: center;
}

.bottom_hint {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	
}

.text_story {
	/*background-color: #FFD36B;*/
	font-size: 1.6vw;
	color: black;
	border-radius: 5px;
}
.text_on {
	/*text-shadow: 0px 0px 1px #00FF21;*/
	/*filter: drop-shadow(0px 0px 5px #00FF21);*/
	color: black;
	font-size: 1.6vw;
}

.text_off {
	color: black;
	/*text-shadow: 0px 0px 1px #FFE97F;
	filter: drop-shadow(0px 0px 5px #FFE97F);*/
}
.text_after {
	color: #555!important;
	/*text-shadow: 0px 0px 1px #FFE97F;
	filter: drop-shadow(0px 0px 5px #FFE97F);*/
}

.go_off {
	animation: go_off 1.5s;
	-webkit-animation: go_off 1.5s;
}

.text_inactive {
	cursor: pointer;
	color: #333;
	padding: 0 0.5% 0 0.5%;
	/*text-shadow: 0px 0px 2px #0094FF;
	filter: drop-shadow(0px 0px 5px #0094FF);*/
}

.text_inactive:hover {
	/*text-shadow: 0px 0px 1px #B200FF;
	filter: drop-shadow(0px 0px 5px #B200FF);*/
	background: #FCD172;
	padding: 0 0.5% 0 0.5%;
	border-radius: 5px;
	color: black;
}

.text_active {
	/*text-shadow: 0px 0px 1px #00FF21;
	filter: drop-shadow(0px 0px 5px #00FF21);*/
	color: white;
	background: #E67A1B;
	padding: 0 0.5% 0 0.5%;
	border-radius: 5px;	
}

.text_wrong {
	color: white;
	text-shadow: 0px 0px 1px #FF355D;
	filter: drop-shadow(0px 0px 5px #FF355D);
}

.text_hint {
	position: absolute!important;
	bottom: 50%;
	right: 5%;
	width: 11%;
	z-index: 10;
	text-align: center!important;
	padding: 0.5% 2% 0.5% 2%;
}

.hint_para {
	position: absolute;
	z-index: 20;
	top: 15%;
	width: 8%;
	right: 1%;
	text-align: center!important;
	padding: 0.5%;
	background-color: #FFE97F;
	border-radius: 10px;
	color: black;
}


.its_hidden {
	display: none;
}


.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

.text_qna {
	z-index: 10;
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center!important;
	color: black;
	padding: 0.5% 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1.7vw;
}

.ques_div {
	z-index: 10;
	height: 57%;
	width: 95%;
	top: 1%;
	background: -webkit-linear-gradient(top, #30CDD4, #08436A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #30CDD4, #08436A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(51, 192, 231, 0.9), rgba(75, 108, 165, 0.9)); /* For Fx 3.6 to 15 */
    background: linear-gradient(top, #30CDD4, #08436A); /* Standard syntax (must be last) */
	background-size: cover;
	color: black;
	border-radius: 5%/10%;
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center!important;
	transition: 2s linear;
}

.text_ques {
	z-index: 10;
	margin-top: 2%;
	color: black!important;
	font-size: 2vw!important;
}

.ans_button_inactive {
	opacity: 1!important;
	cursor: pointer;
	color: white;
	background-color: #8254B6;
	border-radius: 10px;
	border: 2px solid #c2e9ee;
}
.ans_button_inactive:hover {
	background-color: #F7A343;
}

.ans_button_wrong {
	opacity: 1!important;
	color: #222;
	background-color: #973939;
	border-radius: 10px;
	border: 1px solid #bbb;
}

.ans_button_right {
	opacity: 1!important;
	color: white;
	background-color: #1DAB7B;
	border-radius: 10px;
	border: 2px solid #c2e9ee;
}

.next_ques {
	opacity: 1!important;
	cursor: pointer;
	position: absolute;
	padding: 0.5% 1.5% 0.8% 1.5%;
	border-radius: 10px;
	bottom: 5%;
	right: 5%;
} 

.next_ques_inactive {
	opacity: 1!important;
	color: #999;
}

.hide_btn {
	opacity: 0.8;
	cursor: pointer;
	position: absolute;
	bottom: 5%;
	left: 5%;
	color: white;
	text-shadow: 0px 0px 1px #7FC9FF;
	font-size: 3vmin !important;
}
.hide_btn:hover {
	text-shadow: 0px 0px 5px #B200FF;
}

.next_ques_active {
	opacity: 1!important;
	background: #FF5B61;
	color: white;
	/*text-shadow: 0px 0px 1px #00FF21;
	filter: drop-shadow(0px 0px 5px #00FF21);*/
}

.hide_icon {
	z-index: 20;
	cursor: pointer;
	position: absolute;
	top: 2%;
	right: 1%;
	width: 5%;
}

.hide_icon:hover {
	filter: drop-shadow(0px 0px 5px #007F0E);
}

.drop {
	animation:  drop 3s;
	-webkit-animation:  drop 3s;
}
@keyframes drop { 
  from { top: -70%; } 
} 
@-webkit-keyframes drop { 
  from { top: -70%; }
} 

#span_speec_text{
	color: #C23D87;
}

.speaker_icon{
	position: absolute;
	top: 65%;
	right: 0.5%;
	width: 3.5%;
	z-index: 20;
}
.firstpagebackground{
	
	background: url("../images/01.png");
	background-size: 100% 100%;
}
@media only screen and (max-width: 800px) { 
    .lesson-title
    {
        font-size: 5vmin;
    }
}
/*=====  End of Question Div  ======*/

/*=====  End of Custom Style  ======*/
