.bg_full{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.top_text {
    position: absolute;
    font-size: 2vw;
    background: #7386d5;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    color: white;
    padding: 1%;
}
@media (min-aspect-ratio: 4/3){
	.top_text{
		font-size: 5vmin;
	}
}


.left_div, .right_div {
    position: absolute;
    width: 50%;
    left: 0;
    background: #ffbee3;
}

.right_div{
  left: 50%;
  background: #a0b6f5;
}

.insideimage {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 25%;
}

.insideimage_full{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%
}
.left_img, .right_img {
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
    border: .4vmin solid #4d5061;
}

.right_img{
  left: 50%;
}

.pink{
  color: #f7166d;
}
.col{
  color: #3147ec;
}
.left_text {
    position: absolute;
    font-size: 2vw;
    background: #ffbee3;
    width: 50%;
    padding: 1%;
    left: 0;
    top: 0;
    border: .4vmin solid #4d5061;
    /*border-bottom: .4vmin solid aliceblue;*/
}

.right_text {
    position: absolute;
    left: 50%;
    font-size: 2vw;
    top: 0;
    background: #a0b6f5;
    width: 50%;
    padding: 1%;
    border: .4vmin solid #4d5061;
    /*border-bottom: .4vmin solid aliceblue;*/
}

@media (min-aspect-ratio: 4/3){
	.left_text,.right_text{
		font-size: 4.5vmin;
	}
}

.lightbg{
  background: #fef3cc;
}


/*text slider animation class*/
.text_slider_animation_class{
  animation: text_slider_keyframe 1.5s ease-in-out forwards;
  -webkit-animation: text_slider_keyframe 1.5s ease-in-out forwards;
}

/*text slideer animation keyframes*/
@keyframes text_slider_keyframe {
  0%{
    left: -100%;
  }
  100%{
    left: 0%;
  }
}
@-webkit-keyframes text_slider_keyframe {
  0%{
    left: -100%;
  }
  100%{
    left: 0%;
  }
}


.middletext_1, .middletext_2, .middletext_3 {
    position: absolute;
    padding: 2%;
    width: 40%;
    transform: translate(-50%,-50%);
    top: 25%;
    background: white;
    font-size: 2vw;
    border: .3vmin solid #8b887e;
    border-radius: 1vmin;
    left: 35%;
}

.middletext_2{
  top:55%;
}

.middletext_3{
  width: 65%;
  top:80%;
}

.arrow1 {
    position: absolute;
    width: 20%;
    top: 33%;
    transform: rotate(30deg);
    left: 54%;
    z-index: 9;
}

.arrow2 {
    position: absolute;
    width: 20%;
    top: 50%;
    transform: rotate(-30deg);
    left: 54%;
    z-index: 9;
}
.arrow3 {
    width: 15%;
    top: 80%;
    z-index: 10;
    left: 23%;
}

.ekbachan_text {
  position: absolute;
  font-size: 3vw;
  left: 76%;
  top: 38%;
}
.bahubachan_text {
  position: absolute;
  font-size: 3vw;
  left: 82%;
  top: 76%;
}

.center_text {
    position: absolute;
    font-size: 3vw;
    color: #7b74d4;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 100%;
}

.speech_left {
    position: absolute;
    top: 13%;
    left: 2%;
    z-index: 10;
}
.speech_left img{
  transform: scaleX(-1);
}

.speech_right {
    position: absolute;
    top: 17%;
    left: 65%;
    z-index: 10;
}

/*fadein class */
/*.fadesin{
  animation: fadein 1s ease-in forwards;
  -webkit-animation: fadein 1s ease-in forwards;
}*/

/*fadein keyframes*/
/*@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}*/
