.bg_purple{
  background: #ead1dc;
}

.bg_full{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.centertext {
    position: absolute;
    font-size: 4vw;
    color: white;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.left_bot_img {
    position: absolute;
    width: 40%;
    left: 1%;
    bottom: 1%;
}

.top_text {
    position: absolute;
    color: white;
    font-size: 2vw;
    background: #c27ba0;
    width: 100%;
    padding: 1%;
    top: 0;
    left: 0;
}

@media (min-aspect-ratio: 4/3){
	.top_text{
		font-size: 5vmin;
	}
}

.question_text {

    position: absolute;
    font-size: 2.5vw;
    left: 46%;
    top: 29%;
    width: 50%;

}

@media (min-aspect-ratio: 4/3){
	.question_text{
		font-size: 6vmin;
	}
}

.option1, .option2, .option3 {

    position: absolute;
    background: #7b74d4;
    color: white;
    padding: 1%;
    font-size: 1.9vw;
    border: .4vmin solid #7b74d4;
    border-radius: .5vmin;
    left: 52%;
    top: 72%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    width: 17%;

}

.option2 {
    left: 71%;
}

.option3 {

    left: 90%;

}

.option1:hover, .option2:hover, .option3:hover {
  background: #f6b26b;
  border-color: #e69138;
  transition: .3s;
}

@media (min-aspect-ratio: 4/3){
	.option1, .option2, .option3{
		font-size: 4.5vmin;
	}
}
.imagestartpos {
  position: absolute;
  width: 10%;
  display: none;
  left: 47%;
  top: 65%;
  /* transform: translateY(-126%); */
}
.optionsdiv{
  position: absolute;
  width: 60%;
  height: 30%;
  top: 65%;
  display: flex;
  flex-wrap: wrap;
  left: 37%;
  justify-content: space-around;

}
.optionscontainer{
  /* position: relative;
  width: 29%;
  background: #7b74d4;
  padding: 5%;
  border-radius: 1em;
  color: #fff;
  height: 0%;
  cursor: pointer; */
    position: relative;
    width: 29%;
    background: #7b74d4;
    padding: 2%;
    border-radius: 1em;
    color: #fff;
    height: 0%;
    cursor: pointer;
    top: 27%;
    height: 30%;
}
.opti.corrects{
	pointer-events: none;
	background-color: #98C02E;
	border: 0.5vmin solid #DEEF3C;
	color: white;
}
.opti.incorrect{
	pointer-events: none;
	background-color: #FF0000;
	border: 0.5vmin solid #980000;
	color: white;
}
.optionscontainer p{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
}
