.bg{
    background-color:white;
    background-size: 100% 100%;
}
.chtitle{
    position: absolute;
    width: 47%;
    top: 29%;
    height: 12%;
}
.rightimg{
    position: absolute;
    right: 0%;
    border: 14px solid white;
    width: 46.3%;
    opacity: 0;
    top: 0;
    -webkit-animation: showlate 1s linear 0.9s forwards;
    animation: showlate 1s linear 0.9s forwards;
    animation-delay: 0.9s;
    animation-delay: 1s;
    height: 100%;
}
.rightimgnext{
    position: absolute;
    border: 14px solid white;
    width: 46.3%;
    opacity: 0;
    bottom: 0;
    right:0;
    -webkit-animation:  showlate 1s linear 2s forwards;
    animation:  showlate 1s linear 2s forwards;
    animation-delay: 1.7s;
}
.rightimg1{
    position: absolute;
    right: 0%;
    border: 23px solid white;
    width: 47%;
}
.leftdiv1{
    position: absolute;
    width: 53%;
    height: 100%;
    border: 14px solid white;
    background-color: #45818e;
    color: white;
    top:0%;
}
.leftdiv{
    position: absolute;
    width: 46.3%;
    height: 100%;
    background-color: #45818e;
    left: 53%;
    top: 0%;
    border: 14px solid white;
}
.openimage{
    position: absolute;
    right: 0;
    border: 14px solid white;
    width: 46.3%;
    z-index:4;
    bottom: 0;
}
.openanim{
    -webkit-animation:  openbook 2s linear 0.9s forwards;
    animation:  openbook 2s linear 0.9s forwards;
}
@keyframes openbook{
    0% {
        transform-origin: 0 0;
        transform: perspective(1200px)  rotateY(0deg);
    }
    100% {
        border: 14px solid white;
        width: 53%;
        height:100%;
        top:0%;
        transform-origin: 0% 50%;
        transform: perspective(1200px)  rotateY(-180deg);
    }
}
@keyframes showlate{
    0% {
       opacity:0;
    }
    100% {
        opacity:1;
    }
}
.sontextfirst{
    position: absolute;
    width: 53%;
    height: 20%;
    top:50%;
    transform:translateY(-50%);
    color: #adecff;
}
.momtextfirst{
    position: absolute;
    width: 53%;
    height: 20%;
    top:50%;
    transform:translateY(-50%);
    color: #ffe7a5;
}
.sontext{
    position: absolute;
    width: 53%;
    height: 20%;
    top:20%;
    transform:translateY(-20%);
    color: #adecff;
}
.momtext{
    position: absolute;
    width: 53%;
    height: 35%;
    top: 70%;
    transform: translateY(-70%);
    color: #ffe7a5;
}
.onebyone{
    opacity: 0;
}
.boximg{
    position: absolute;
    width: 63%;
    z-index: 4;
    top: 26%;
    left: 19%;
    -webkit-animation:  wobblea 1.5s linear 0.5s forwards;
    animation:  wobblea 1.5s linear 0.5s forwards;
}
.thinkbox{
    position: absolute;
    width: 52%;
    height: 20%;
    top: 34%;
    left: 24%;
    z-index: 4;
    color: #4F7E88;
    -webkit-animation:  wobblea 1.5s linear 0.5s forwards;
    animation:  wobblea 1.5s linear 0.5s forwards;
}
.wholediv{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: #000000;
}

@keyframes wobblea {
    from {
        transform: none;
    }

    15% {
        transform: translateX(-25%) rotateZ(-5deg);
    }

    30% {
        transform: translateX(20%) rotateZ(3deg);
    }

    45% {
        transform: translateX(-15%) rotateZ(-3deg);
    }

    60% {
        transform: translateX(10%) rotateZ(2deg);
    }

    75% {
        transform: translateX(-5%) rotateZ(-1deg);
    }

    to {
        transform: none;
    }
}
.lasttext{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
}
.topdiv{
    position: absolute;
    width: 47%;
    height: 1.5%;
    top: 0%;
    right: 0%;
    background-color: transparent;
}
.lastimg{
    width: 100%;
    bottom: 0%;
    right: 0%;
}
@keyframes zoomOutEf {
    to{
        width: 100%;
        bottom: 0%;
        right: 0%;
    }
}
.line{
    position: absolute;
    width: 1%;
    height: 96.6%;
    background-color: #eeeef0;
    left: 53%;
    top: 1.8%;
    z-index: 2;
}
.boy{
    position: absolute;
    width: 20%;
    bottom:8%;
    left:2%;
}
.boy02{
    left:19%;
}
.boy03{
    left:35%;
}
.boy04{
    left:52%;
}
.roti{
    position: absolute;
    width: 6%;
    bottom:8%;
    left:20%;
    -webkit-animation:  moveroti 5s linear 0s forwards;
    animation:  moveroti 5s linear 0s forwards;
}
@keyframes moveroti {
    to{
        left:80%;
    }
}
.vocab{
    z-index:3;
}