.mixture {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	font-family: happy_monkey, cursive;
}

.mixture, .mixture * {
	position: relative;
	margin: 0;
	padding: 0;
}

.mixture .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.mixture .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: #8472A2;
}

.contentblock2{
	padding-top: 2%;
}

.imageblock{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.sabinadialog{
    width: 62%;
	height: 20%;
	position: absolute;
	left: 30%;
	top: 16%;
}

.sabinadialog2{
    width: 78%;
    height: 28%;
    position: absolute;
    left: 4%;
    top: 14%;
}

.sabinadialog3{
    width: 62%;
    height: 26%;
    position: absolute;
    left: 8%;
    top: 50%;
}

.sabinadialog4{
    width: 62%;
    height: 34%;
    position: absolute;
    left: 8%;
    top: 50%;
}

.sabinadialog5{
    width: 78%;
    height: 14%;
    position: absolute;
    left: 4%;
    top: 68%;
}

.dialogimage{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.mirror_imageX{
	transform: scaleX(-1);
}

.mirror_image{
	transform: scale(-1);
}

.dialogtext{
    width: 84%;
    height: auto;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    left: 16%;
	padding: 3%;
}

.dialogtext2{
    width: 84%;
    height: auto;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    right: 16%;
	padding: 3%;
	text-align: left;
}

.mainimg {
    width: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -20%);
    top: 20%;
}


.sabina{
    width: 30%;
    right: 60%;
    position: absolute;
    top: 20%;
}

.sabina2{
    width: 30%;
    left: 75%;
    position: absolute;
    top: 23%;
    transform: scaleX(-1);
}

.blackhighlight{
	font-weight: bold;
	text-decoration: underline;
}

.maintext {
    position: absolute;
    transform: translate(-50%, -250%);
    top: 6%;
    left: 50%;
    font-size: 7vmin;
    color: #fabd15;
}

.description{
	margin: 0.5em 0.5em 0.2em 0.5em;
	float: center;
	color: #fabd15;
}

.description_right{
	text-align: right;
}

.description_left{
	text-align: left;
}

.letter_ltb{
	top: 12%;
	height: auto;
	background-color: #fff;
	padding: 0.5em;
	position: absolute;
}

.imagediv1, .imagediv2, .imagediv3, .imagediv4{
	width: 25%;
	height: 14%;
	position: absolute;
}

.imagediv1{
	top: 6%;
	right: 2%;
}

.imagediv2{
	top: 15%;
	left: 2%;
}

.imagediv3{
	top: 41.5%;
	right: 2%;
}

.imagediv4{
    bottom: 32%;
	left: 5%;
}

.image2, .image5{
 	position: absolute;
 	height: 30%;
 	width: 40%;
 	left: 55%;
 	transform-origin: 0% 50%;
 	z-index: 100;
 }

 .image2{
    transform: rotate(25deg);
    top: 40%;
    left: 38%;
 }

 .image5{
 	transform: rotate(24deg);
	bottom: 36%;
	left: 26%;
 }

.image1{
	position: absolute;
    height: 30%;
    width: 40%;
    right: 73%;
    transform: rotate(-20deg) scale(-1);
    transform-origin: 100% 50%;
    top: 76%;
    z-index: 100;
}

.image3, .image4{
	position: absolute;
    width: 55%;
    height: 30%;
    z-index: 100;
}

.image3{
	right: 100%;
	transform: rotate(20deg) scale(-1);
	transform-origin: 100% 50%;
	top: -20%;
}

.image4{
	right: 78%;
	transform: rotate(-24deg) scale(-1);
	transform-origin: 100% 50%;
	top: 85%;
	width: 40%;
}

.imagelabel_right, .imagelabel_left{
	position: absolute;
	background-color: #B7E9B0;
	font-weight: normal;
	border-radius: 0.5em;
	width: 50%;
	z-index: 100;
	padding: 2%;
}

.upon_hover:hover{
	border: 0.2em solid #FABD15;
}

.image1, .image2, .image3, .image4, .image5{
	opacity: 0.65;
}

.imagelabel_right{
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.imagelabel_left{
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.filterdiv{
	z-index: 200;
	display: none;
	background-color: rgba(111, 111, 111, 0.35);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.imageclose{
	position: absolute;
	height: 7%;
	top: 4%;
	right: 8%;
	margin-top: 0.1em;
	cursor: pointer;
}

.imageclose:hover{
	filter: drop-shadow(0 0.2em 0.08em #FCCECE);
}

.imageclose:active{
	filter: drop-shadow(0em 0.08em 0.05em #FCCECE);
	margin-top: 0.25em;
}

.about{
	border: 0.2em solid #FFFF00;
	background-color: #B7E9B0;
	position: relative;
	width: 40%;
	left: 30%;
	margin: 0.5em;
	border-radius: 0.6em;
}

.highlight{
	border: 0.2em solid #FABD15;
	animation: hilight_kf 1s linear alternate infinite;
	cursor: pointer;
}

@keyframes hilight_kf{
	0%{
		/*box-shadow: 0 0 0.02em #FFFF00;*/
		transform:  scale(1) translateY(-50%);
	}
	100%{
		/*box-shadow: 0 0 0.2em #FFFF00;*/
		transform:  scale(1.2) translateY(-50%);
	}
}

.bluehighlight{
	/*color: #fabd15;*/
	color: #0f0f0f;
}

.clicked {
    /*background-color: #2988bc;
    border: 0.08em solid #11a266;*/
    border: 0.1em solid #FABD15;
	background-color: #B7E9B0;
}

@media screen and (min-aspect-ratio: 4/3) {
	.dialogtext, .dialogtext2{
		font-size: 3vh;
	}
	.description, .about{
		font-size: 3.56vh;
	}

	.description_right, .description_left{
		font-size: 2.4vh;
	}

	.imagelabel_right, .imagelabel_left{
		font-size: 2.4vh;
	}

	.letter_ltb{
		line-height: 1.2;
		width: 60%;
		left: 20%;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.dialogtext, .dialogtext2{
		font-size: 2.56vw;
	}
	.description, .about{
		font-size: 3.12vw;
	}

	.description_right, .description_left{
		font-size: 1.8vw;
	}

	.imagelabel_right, .imagelabel_left{
		font-size: 1.8vw;
	}

	.letter_ltb{
		line-height: 1.1;
		width: 66%;
		left: 17%;
	}
}
