<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
    $cssLoader("../../../../css/ashish_fonts.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            {{#each flexblockcontainers}}
        				<div class="flexcontainerblock {{flexblockadditionalclass}}">
        								{{#each flexblock}}
        									{{!flex column start--}}
        										<div class="{{flexboxcolumnclass}}">
        						{{!flex row start--}}
        												{{#each flexblockcolumn}}
        													<div class="{{flexboxrowclass}}">
                                    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
        													</div>
        												{{/each}}
        											{{!flex row end--}}
        										</div>
        									{{!flex column end--}}
        								{{/each}}
        				</div>
        	 {{/each}}

            {{#if exerciseblock}}
            {{#each exerciseblock}}
                    <p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}"
            				data-highlightcustomclass="{{datahighlightcustomclass}}"><span id="num_ques">1</span>{{{textdata}}}</p>
                    <p class="sentence {{sent_class}}">{{{sentdata}}}</p>

                    {{#if quesimg}}
                    <img src="{{ques_img}}" class="questionimg">
                    {{/if}}

                    <div class="optionsdiv {{optdivextra}}">
                    {{#each exeoptions}}
                        <div class="optionscontainer {{optcontainerextra}}">
                            <p class="forhover buttonsel {{forshuffle}}">{{optdata}}</p>

                            <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">

                            <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
                        </div>
                    {{/each}}

                    {{#each imageoptions}}
                        <div class="optionscontainer">
                            <img class="optimg forhoverimg buttonsel {{forshuffle}}" src="{{imgsrc}}" />

                            <img src="images/correct.png" class="ispforimage corctopt">

                            <img src="images/wrong.png" class="ispforimage wrngopt">
                        </div>
                    {{/each}}
                    </div>

                {{#if imageblock}}
		            <div class="imageblock {{imageblockadditionalclass}}">
	                    {{#each imageblock}}
	                         <img class="{{imgclass}}" src="{{imgsrc}}" />
	                    {{/each}}
		            </div>
	            {{/if}}
            {{/each}}

             {{/if}}

             </div>
            </div>
        </script>


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
