.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background-color: #FFFFFF;
    box-shadow : inset 0 0 30px #f2f2f2;
}


.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
   font-family: Catamaran;
    src: url("../../../../../fonts/Catamaran-Regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
  background: white;
 /*   background-image:url('../images/band.png');
   background-position:left bottom;
     background-repeat: no-repeat;
     background-size: 89% 25%;
*/

}


div.textblock {
	position: relative;

}

div.imageblock {
	position: absolute;
	top: 39%;
	right: 5%;
	height: 55%;
	width: 40%;
}

.display_image {
	display: flex;
    align-items: center;
    justify-content: center;
}

.hint_image{
	display: none;
	min-height: 45%;
	max-width: 80%;
	max-height: 80%;
}


/*============ exercise template ===================
==================================================== */
.exefin{
  z-index: 5;
}
.bg{
    background-color: #fff;
}
.question {
    position: relative;
    top: 17%;
    left: 8%;
    width: 88%;
    font-size: 4.3vmin;
    text-align: left;
    font-family: Catamaran;
    color: #BF9000;

}

.sentence {
    position: absolute;
    top: 39%;
    width: 100%;
    font-size: 4vmin;
    text-align: center;
    font-family: Catamaran;
    background: antiquewhite;
}

.optionsdiv {
    top: 22%;
    display: flex;
    width: 80%;
    left: 8%;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    height: 44%;
    text-align: left;
    position: relative;
}

.optionscontainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    min-width: 100%;
    color: #45A0D1;
    
}

.imagestartpos {
    width: 7%;
    margin-left: 1%;
    display: none;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}
/*
.optionsdiv p {
    display: inline;
    padding: 3% 5%;
    background: white;
    border-radius: 15px;
    margin: 1%;
    font-size: 4vmin;
    border: 5px solid #D4D4D4;
    font-family: patrick;
}*/

.optionsdiv .class1 {
    display: inline;
    padding: 0.2em 1.2em;
    
    border-radius: 15px;
    border: 5px solid #D4D4D4;
    margin: 1%;
    font-size: 2.5vmin;
    font-family: Catamaran;
    color: #FFFFFF;
    background: #674EA7;
}

.optionsdiv .class2 {
    display: inline;
    padding: 0.2em 1.2em;
    border-radius: 15px;
    margin: 1%;
    font-size:2.5vmin;
    font-family: Catamaran;
    border: 5px solid #D4D4D4;
    color: #FFFFFF;
    background: #674EA7;
}

.optionsdiv .class3 {
    display: inline;
    padding: 0.2em 1.2em;
   border-radius: 15px;
    margin: 1%;
    font-size: 2.5vmin;
    font-family: Catamaran;
    border: 5px solid #D4D4D4;
    color: #FFFFFF;
    background: #674EA7;
}

.optionsdiv .class4 {
    display: inline;
    padding: 0.2em 1.2em;
    border-radius: 15px;
    margin: 1%;
    font-size: 3.5vmin;
    font-family: Catamaran;
    border: 5px solid #D4D4D4;
    color: #FFFFFF;
    background: #674EA7;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}


.forhover{
    cursor: pointer;
}

.forhover:hover.class1 {
    background: #A4C2F4;
    border: 5px solid #6fa8dc;
    color: #000;
}

.forhover:hover.class2 {
     background: #A4C2F4;
    border: 5px solid #6fa8dc;
    color: #000;
}

.forhover:hover.class3 {
     background: #A4C2F4;
    border: 5px solid #6fa8dc;
    color: #000;
}

.forhover:hover.class4 {
     background: #A4C2F4;
    border: 5px solid #6fa8dc;
    color: #000;
}






.forhoverimg:hover{
	background-color:#f9cb9cff
;
	border: 5px solid #FFD966;
}

.wrongans{
	background: #EA9999;
	color: #F66E20;
}

.rightans{
	background: #6AA84F;
}

.questionimg {
    position: relative;
    top: 27%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 32%;
}

.draggablecontainer {
    position: relative;
    top: 18%;
    width: 100%;
    background: aliceblue;
}

.droppablecontainer {
    position: relative;
    top: 28%;
    width: 100%;
    background: antiquewhite;
    height: 50%;
}

.drop1 {
    background: blueviolet;
    width: 50%;
    height: 83%;
    float: left;
}

.drop2 {
    background: aqua;
    width: 50%;
    height: 83%;
    float: left;
}

.hightext1 {
    color: #0947c6;
    font-weight: bold;
}

@media screen and (min-aspect-ratio:4/3){
   .question{
        font-size: 4vh;   
    }
    .class1, .class2, .class3, .class4{
        font-size: 3.5vh;   
    }
    


}

@media screen and (max-aspect-ratio: 4/3) { 
    .question{
        font-size: 2.4vw;   
    }
    .class1, .class2, .class3, .class4{
        font-size: 2vw;
    }
    
}