<script type="text/javascript">
	$cssLoader("exercise/css/exercisetemplate.css");
	$cssLoader("css/common.css");
	 
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
		{{! content block starts--}}
		<div class="contentblock {{additionalclasscontentblock}}">
			{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				
			{{#if exerciseblock}}
				{{#each exerciseblock}}
					<p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}"
							data-highlightcustomclass="{{datahighlightcustomclass}}"><span id="num_ques">1</span>{{{textdata}}}</p>
					<p class="sentence {{sent_class}}">{{{sentdata}}}</p>
		
					{{#each quesimg}}
						<img class="{{imgclass}}" src="{{imgsrc}}" id="{{imgid}}">
					{{/each}}
		
					{{#if exeoptions}}  
						<div class="optionsdiv {{containerclass}}">
							{{#each exeoptions}}
								<div class="optionscontainer ">
									<p class="forhover buttonsel {{forshuffle}}">{{optdata}}</p>
									<img src="" class="imagestartpos correct-answer">
									<img src="" class="imagestartpos incorrect-answer">
								</div>
							{{/each}}
						</div>
					{{/if}}
					
				{{/each}}
			{{/if}}
		</div>
	</div>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
