.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.chapter_title {

    position: absolute;
    font-family: pacifico;
    font-size: 5vw;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 4%;

}
.top_text {

    position: absolute;
    background: white;
    font-family: montserrat;
    width: 100%;
    padding: 1%;
    font-size: 2vw;
    top: 0;
    left: 0;
    font-weight: bold;

}
.top_text_instruc {

    position: absolute;
    background: #f2b8b8;
    font-family: montserrat;
    width: 100%;
    padding: 1%;
    font-size: 2vw;
    top: 0;
    left: 0;
    font-weight: bold;
    color: white;

}
li {

    top: 29%;
    font-size: 2vw;
    font-family: montserrat;
    text-align: left;
    width: 80%;
    left: 10%;

}
.grey{
  background: #efefef;
}
.white{
  background: white;
}
.instruction_bot {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #efefef;
    font-family: montserrat;
    font-weight: lighter;
    padding: 1%;
    font-size: 1.7vw;

}
.middle_img {

    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 50%;

}
@media (min-aspect-ratio: 4/3){
    .chaptertitle{
        font-size: 6vmin;
    }
    .top_text{
      font-size: 4.5vmin;
    }
}
