.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 0%;
	margin-top: 9%;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}

/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/
/*top to bottom dragdiv*/
@font-face {
    font-family: acme;
    src: url('../../../../../fonts/Acme-Regular.ttf');
}
.creambg{
  background:#EED8C9;
}
.greenbg{
  background: #0097A7
}
.uppertxt{
position: absolute;
width: 100%;
height: 14%;
background-color: #9878d9;
color: white;
z-index: 10;
}
.exefin{
  z-index: 5;
}

.question {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #727077;
  height: 14%;
  color: #fff;
}

.sentence {
    position: absolute;
    top: 12%;
    width: 100%;
    font-size: 5vmin;
    text-align: center;
    font-family: sniglet;
    background: #78909C;
    padding: 1%;
    color: white;
}

.optionsdiv {
  top: 73%;
  display: flex;
  left: 5%;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
  position: absolute;
  height: 20%;
  width: 95%;
}

.optionscontainer {
  width: 100%;
}

.imagestartpos {
  position: absolute;
  width: 13%;
  margin-left: 1%;
  display: none;
  margin-top: 12%;
  left: 72%;
  bottom: 16%;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}

.optionsdiv p {
  padding: 2%;
  background: #0097A7;
  border-radius: 15px;
  margin: 1%;
  font-size: 3vw;
  border: 5px solid #0097A7;
  font-family: Abeezee;
  width: 75%;
  text-align: center;
  color: fff;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
    border: 5px solid #999999;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}

.basketcontainer{
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  /*background: #0097A7;*/
}
.container{
  /*position: absolute;*/
  top: 0%;
  width: 18%;
  height: 100%;
  background: #fff;
  opacity: 0;
  border-radius: 1em;
}
.instruction {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  text-align: left;
  color: white;
  background: #727077;
  padding: 1% 16% 1% 2%;
}
.fruits_holder{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
}
.qntext{
  position: absolute;
  top: 50%;
  left: 0%;
  color: #fff;
  width: 84%;
  font-size: 4vh;
  font-family: happyMonkey;
  padding: 1%;
  transform: translateY(-50%);
}
/*for slide 3*/
.basketcontainer-s3{
  position: absolute;
  top: 27%;
  left: 0%;
  width: 69%;
  height: 30%;
  /*background: #fff;*/
}
.container-s3{
  position: absolute;
  top: 0%;
  width: 26%;
  height: 90%;
  background: #fff;
  border-radius: 1em;
}
.container-s4{
  position: absolute;
  top: 5%;
  width: 39%;
  height: 90%;
  background: #fff;
  border-radius: 1em;
  border: 2px solid #000;
}
.basketcontainer-s6{
  position: absolute;
  top: 27%;
  left: 0%;
  width: 70%;
  height: 30%;
  /*background: #fff;*/
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.basketcontainer-s7{
  position: absolute;
  top: 33%;
  left: 13%;
  width: 45%;
  height: 23%;
  background: #fff;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  background: #fff;
  border-radius: 1em;
}
.container-s6{
  top: 0%;
  width: 20%;
  height: 90%;
  background: #fff;
  border-radius: 1em;
}
.container-s9{
  top: 0%;
  width: 37%;
  height: 90%;
  border-radius: 1em;
  background: #fff;
}
.container-s11{
  top: 0%;
  width: 27%;
  height: 90%;
  border-radius: 1em;
  background: #fff;
}
.container-s7{
  top: 6%;
  width: 20%;
  height: 90%;
  background: #fff;
  border: 2px solid #000;
  border-radius: 1em;
}
.fruits_holder-s3{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3%;
}

.c0-s3{
  left: 8%;
}
.c1-s3{
  left: 55%;
}
.c0-s4{
  left: 8%;
}
.c1-s4{
  left: 55%;
}

.basketcontainer-s9{
  position: absolute;
  top: 27%;
  left: 11%;
  width: 43%;
  height: 30%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}
.basketcontainer-s11{
  position: absolute;
  top: 27%;
  left: 8%;
  width: 53%;
  height: 30%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}
/*arrowbox css*/
.arrowBoxContainer{
  position: absolute;
  left: 0%;
  width: 80%;
  height: 20%;
  background: #fff;
}
.a1{
  top: 27%;
}
.a2{
  top: 74%;
}
.firstBox-s3{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.secBox{
  position: absolute;
  top: 0%;
  left: 20%;
  height: 100%;
  width: 20%;
}
.thirdBox{
  position: absolute;
  top: 0%;
  left: 40%;
  height: 100%;
  width: 20%;
}
.forthBox{
  position: absolute;
  top: 0%;
  left: 60%;
  height: 100%;
  width: 20%;
}
.txt{
  position: absolute;
  top: 34%;
  height: 35%;
  width: 71%;
  background: #ffffff;
  border: 2px solid #231F20;
  text-align: center;
  font-size: 3vw;
  font-family: abeezee;
  left: 14%;
  border-radius: .3em;
}
.buton{
  position: absolute;
  top: 5%;
  width: 50%;
  left: 23.5%;
}
.buton:hover, .buton_dwn:hover{
  cursor:pointer;
}
.buton_dwn{
  position: absolute;
  bottom: 2%;
  width: 50%;
  left: 25.5%;
  transform: rotate(180deg);
}
.arrowBoxContainer-s3{
  position: absolute;
  left: 71%;
  width: 11%;
  height: 28%;
}
.arrowBoxContainer-s8{
  position: absolute;
  left: 67%;
  width: 11%;
  height: 28%;
}
.arrowBoxContainer-s7{
  position: absolute;
  left: 68%;
  width: 11%;
  height: 28%;
  top: 30%;
}
.arrowBoxContainer-s5{
  position: absolute;
  left: 60%;
  width: 11%;
  height: 28%;
}
.arrowBoxContainer-s4{
  position: absolute;
  left: 61%;
  width: 11%;
  height: 28%;
  top: 29%;
}
.contentCount{
  position: absolute;
  top: 97%;
  left: 7%;
  font-family: AbeeZee;
  font-size: 2vw;
  width: 76%;
  text-align: center;
}

.submit{
  position: absolute;
  top: 46%;
  left: 83%;
  font-size: 2vw;
  background: #FFCD53;
  border: 2px solid #B45F06;
  border-radius: .3em;
  padding: 1%;
  z-index: 10;
}
.submit:hover{
  cursor: pointer;
}
.basketcontainer-s4{
  position: absolute;
  top: 33%;
  left: 13%;
  width: 30%;
  height: 23%;
  background: #fff;
  border-radius: 1em;
}
.btm_fig_box{
  top: 70%;
}
.enqCont{
  position: absolute;
  left: 9%;
  height: 12%;
  width: 64%;
}
.topeqn{
  top: 20%;
}
.mideqn{
  top: 46%;
}
.eqn{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 78%;
  height: 80%;
}
.equation{
  position: absolute;
  text-align: center;
  width: 65%;
  font-family: AbeeZee;
  font-size: 4vw;
  left: 0%;
}
.equation_img{
  position: absolute;
  text-align: center;
  width: 26%;
  font-family: AbeeZee;
  font-size: 4vw;
  left: 7%;
}
.sec{
  left: 41%;
}
.sign_1{
  position: absolute;
  text-align: center;
  width: 9%;
  font-family: AbeeZee;
  font-size: 5vw;
  left: 32%;
}
.equation_sec{
  position: absolute;
  text-align: center;
  width: 65%;
  font-family: AbeeZee;
  font-size: 4vw;
  left: 0%;
}
.arrowBoxContainer-s9{
  position: absolute;
  left: 9%;
  width: 71%;
  height: 27%;
  /*background: #fff;*/
  top: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.arrowbox{
  position: relative;
  width: 20%;
  /*background: #000;*/
  height: 100%;
}
.buton_s9{
  position: absolute;
  top: 0%;
  width: 40%;
  left: 27.5%;
}
.buton_dwn_s9{
  position: absolute;
  bottom: 0%;
  width: 40%;
  left: 27.5%;
  transform: rotate(180deg);
}
.buton_s11{
  position: absolute;
  top: 7%;
  width: 32%;
  left: 31.5%;
}
.buton_dwn_s11{
  position: absolute;
  bottom: 4%;
  width: 32%;
  left: 31.5%;
  transform: rotate(180deg);
}
/*arrowbox ends*/
.top_5{
  top:15%;
}
.long{
  width: 75%;
  left: 8%;
}
.plus{
  position: absolute;
  top: 35%;
  left: 27%;
  width: 6%;
}
.plus_s4{
  position: absolute;
  top: 39%;
  left: 33%;
  width: 4%;
}
.equals{
  position: absolute;
  top: 41%;
  left: 50%;
  width: 6%;
}
.equals_s2{
  position: absolute;
  top: 39%;
  left: 62%;
  width: 6%;
}
.equals_s5{
  position: absolute;
  top: 79%;
  left: 50%;
  width: 6%;
}
.equals_s6{
  position: absolute;
  top: 70%;
  left: 53%;
  width: 6%;
}
.equals_s8{
  position: absolute;
  top: 80%;
  left: 61%;
  width: 5%;
}
.plus_s10{
  position: absolute;
  top: 70%;
  left: 30%;
  width: 5%;
}
.equals_s10{
  position: absolute;
  top: 71%;
  left: 52%;
  width: 6%;
}
.equals_s11{
  position: absolute;
  top: 72%;
  left: 62%;
  width: 5%;
}
.s11_fst{
  left: 24.5%;
}
.s11_sec{
  left: 42%;
}
.s12_fst{
  left: 29%;
}
.eq_s12{
  left: 56%;
}
.equals_s7{
  position: absolute;
  top: 42%;
  left: 61%;
  width: 6%;
}
.equals_s6_fst{
  position: absolute;
  top: 40%;
  left: 69%;
  width: 3%;
}
.plus_small{
  position: absolute;
  top: 37%;
  left: 16%;
  width: 3%;
}
.ps_sec{
  left: 33.5%;
}
.ps_thrd{
  left: 51%;
}
.signMid{
  position: absolute;
  top: -20%;
  left: 63%;
  font-size: 6vw;
}
.signMid_s10{
  position: absolute;
  top: -20%;
  left: 66%;
  font-size: 6vw;
}
.signMid_s12{
  position: absolute;
  top: -20%;
  left: 70%;
  font-size: 6vw;
}
.signMid_4pics{
  position: absolute;
  top: -20%;
  left: 80%;
  font-size: 6vw;
}
.eqnResult{
  position: absolute;
  top: 0%;
  font-size: 4vw;
  left: 92%;
}
.eqnResult_s3{
  position: absolute;
  top: 0%;
  font-size: 4vw;
  left: 85%;
}
.eqnResult_s10{
  position: absolute;
  top: 0%;
  font-size: 4vw;
  left: 83%;
}
.eqnResult_4pics{
  position: absolute;
  top: 10%;
  font-size: 4vw;
  left: 94%;
}
.plus_s9{
  position: absolute;
  left: 29%;
  top: 69%;
  width: 6%;
}
.s12_1{
  left: 2%;
}
.s12_2{
  top: -15%;
  left:21%;
}
.s12_3{
  left: 23%;
}
.s12_4{
  top: -15%;
  left:43%;
}
.s12_5{
  left: 47%;
}
.s12_6{
  left: 73%;
}
.s12_7{
  left: 91%;
}
.qntxtdiv{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #727077;
  height: 14%;
}
 @media screen and (min-aspect-ratio: 4/3) {
  .qntext{
    font-size: 4vh;
  }
 	.covertext{
 		font-size: 4vw;
 	}
   .toptxt, .question_1, .question_2, .question_3, .question_4, .optionsdiv_4 p, .optionsdiv_3 p, .optionsdiv_2 p, .optionsdiv_1 p{
     font-size: 2vw;
   }
   .txt {
     font-size: 3vw;
   }
   .equation{
     font-size: 6vh;
   }
 }
  @media screen and (max-aspect-ratio: 4/3) {
   .qntext{
     font-size: 2vw;
   }
  	.covertext{
  		font-size: 4vw;
  	}
    .toptxt, .question_1, .question_2, .question_3, .question_4, .optionsdiv_4 p, .optionsdiv_3 p, .optionsdiv_2 p, .optionsdiv_1 p{
      font-size: 2vw;
    }
    .txt {
      font-size: 3vw;
    }
    .equation{
      font-size: 3vw;
    }
  }
