.purplebg{
	background:rgb(149,107,180);
}
.textblock{
	width: 100%;
	height: 100%;
    z-index: 99;
}
.chaptertitle {
    position: absolute;
    font-size: 11vmin;
    color: white;
    font-family: comingsoon;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255,.2);
    width: 100%;
    height: 32%;
    text-align: center;
    padding-top: 5%;
}
.brushingboy {
    width: 56%;
    bottom: -7%;
    left: 0;
    z-index: 99;
    position: absolute;
}
.skipping {
    height: 68%;
    bottom: 0%;
    right: 0;
    z-index: 99;
    position: absolute;
    background: rgba(218, 215, 215,.2);
    padding: 5%;
}
.bluebg{
    background:rgb(207,226,243);
}
.ducktext {
    position: absolute;
    font-family: pangolin;
    font-size: 2.4vw;
    width: 50%;
    background: rgb(238,238,238);
    padding: 2%;
    border-radius: 1em;
    color: rgb(95,93,188);
    border: .1em dashed rgb(95,93,188);
    top: 25%;
    left: 34%;
}
.duck {
    position: absolute;
    width: 30%;
    top: 52%;
    left: 9%;
}
/*flipcontainer*/
.section {
    width: 28%;
    height: 56%;
    position: absolute;
    perspective: 800px;
    top: 18%;
    left: 4%;
		display: none;
    z-index: 99;
}

@keyframes showme {
    to{
			opacity: 1;
    }
}

.toptext {
    font-size: 2.5vw;
    margin-top: 41%;
    font-family: pangolin;
    background: rgb(255,187,50);
    font-weight: normal !important;
    width: 50%;
    margin-left: 25%;
}
.section p{
	z-index:999;
}
.buttontext {
    font-size: 1.7vw;
    position: absolute;
    width: 100%;
    margin-top: 5%;
    font-family: pangolin;
		z-index: 999;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    font-family: happy_monkey;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  cursor: pointer;
}
.front1 {
    background-color: rgb(255,217,102);
    z-index: 1;
}

.card .back1 {
    background-color: rgb(255,217,102);
    transform: rotateY( 180deg );
    z-index: 2;
}

.back1::after, .front1::after {
    content: '';
    height: 15%;
    width: 6%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border: none;
}

.flipped {
    transform: rotateY( 180deg );
}


.imgback {
    left: 50%;
    top: 14%;
    height: 15%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.textfront{
    left: 47%;
    top: 13%;
    position: absolute;
    font-size: 1.2em;

}
.front1.f2 {
    background: rgb(234,153,153);
}
.toptext.t2 {
    background: rgb(224,102,102);
}
.back1.f3 {
    background: rgb(234,153,153);
}
.section.s2 {
    left: 68%;
}
.section.s1 {
    left: 36%;
}
.toptext.t1 {
    width: 80%;
    margin-left: 10%;
}
.front1.f1 {
    background: rgb(141,211,71);
}
.back1.b1 {
    background: rgb(141,211,71);
}
.toptext.t1 {
    width: 80%;
    margin-left: 10%;
    background: rgb(119,179,60);
}
.textattop {
    position: absolute;
    font-size: 2.1vw;
    font-family: pangolin;
    top: 7%;
    width: 100%;
    color: rgb(87,85,173);
}
.bottext {
    position: absolute;
    font-family: pangolin;
    font-size: 2.2vw;
    top: 81%;
    background: rgb(140,92,166);
    width: 90%;
    left: 5%;
    border-radius: .4em;
    color: white;
}
.junkfood_image {
    position: absolute;
    width: 28%;
    left: 4%;
    top: 75%;
    opacity: 0;
}
.homework_image {
    position: absolute;
    width: 15%;
    left: 42%;
    opacity: 0;
    top: 76%;
}
.always_image {
    position: absolute;
    width: 15%;
    left: 75%;
    top: 76%;
    opacity: 0;
}
.box {
    position: absolute;
    width: 91%;
    top: 15%;
    left: 5%;
    animation: fadein 3s ease-in forwards;
}

.nevertext,.sometimetext,.alwaystime {
    position: absolute;
    background: rgba(0,0,0,.2);
    font-family: pangolin;
    font-size: 2vw;
    padding: .3%;
}
.nevertext {
    left: 12%;
    top: 29%;
    animation: fadein 1s ease-in forwards;
}
.sometimetext {
    left: 42%;
    top: 29%;
    animation: fadein 2s ease-in forwards;
}
.alwaystime {
    left: 77%;
    top: 29%;
    animation: fadein 3s ease-in forwards;
}
.never , .sometimes, .always{
    position: absolute;
    top: 72%;
    font-family: pangolin;
    font-size: 1.3vw;
}
.never {
    left: 8%;
    animation: fadein 1s ease-in forwards;
}
.sometimes {
    left: 41%;
    animation: fadein 2s ease-in forwards;
}
.always {
    left: 74.5%;
    animation: fadein 3s ease-in forwards;
}
.zero {
    position: absolute;
    font-family: pangolin;
    font-size: 2vw;
    top: 60%;
    left: 10%;
    animation: fadein 1s ease-in forwards;
}
.hundred {
    position: absolute;
    font-family: pangolin;
    font-size: 2vw;
    top: 60%;
    left: 85%;
    animation: fadein 3s ease-in forwards;
}
.summary {
    position: absolute;
    font-size: 2vw;
    font-family: pangolin;
    width: 100%;
    top: 3%;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
     100%{
        opacity: 1;
    }
}
@media (min-aspect-ratio: 4/3){
    .ducktext,.toptext{
        font-size: 5vmin;
    }
    .summary {
        font-size: 5vmin;
    }
    .buttontext{
        font-size: 3vmin;
    }
    .textattop,.bottext,.nevertext,.sometimetext,.alwaystime,.zero,.hundred{
        font-size: 4.5vmin;
    }
    .never , .sometimes, .always{
        font-size: 2.8vh;
    }
		.chaptertitle{
			font-size: 11vmin;
		}
}
