<!--
Title : General Template
-->
<script type="text/javascript">
$cssLoader("../../../../css/gradient.css");
	$cssLoader("css/common.css");
	$cssLoader("css/page3.css");
	$cssLoader("../../../../css/commonpage/lessontemplate.css");

	$cssLoader("../../../../css/ashish_fonts.css");
</script>
<!-- cssloader ends -->

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
        {{#each speechbox}}
          <div class="speechbox {{speechbox}}">
            <img class="speechbg {{imgclass}}" src="{{imgsrc}}">
            <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            {{#if audioicon}}
              <img class="audioicon {{audioclass}}" src="images/speaker.png">
            {{/if}}
          </div>
        {{/each}}
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				{{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}}
							{{> definitioncontent}}
						{{/each}}
					</div>
				{{/if}}

				{{#each nametagblock}}
					<div class="{{tagclass}}">
						<img class="tag-audio-icon {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
					</div>
				{{/each}}
        {{#each optionblock}}
          <div class="optionblock {{additionaloptionblockclass}}">
            <img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
            <p class="{{textclass}}">{{{textdata}}}</p>
          </div>
        {{/each}}
			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/page3.js");
</script>
