@font-face {
	font-family: ChelseaMarket-Regular;
	src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}
@font-face {
	font-family: ComicSansMSRegular;
	src: url("../../../../../fonts/ComicSansMSRegular.ttf");
}
@font-face {
	font-family: Andika-Regular;
	src: url("../../../../../fonts/Andika-Regular.ttf");
}
.thebg1{
	background-color:#7ECAB9;
}
.bg1{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.qnword1{
	color:#874CE7;
	font-weight:bold;
}
.question{
	position: absolute;
	top: 20%;
	left: 10%;
	width: 80%;
	font-family: sniglet;
	font-size: 2vw;
	text-align: left;
}
.clktxt{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	color:#A61C00;
	font-size:2vw;
	background-color: #F1D890;
	padding: 3% 1% 1% 3%;
	font-family:Andika-Regular;
}
.hand{
	position: absolute;
	left: 10%;
	top: 44%;
	width: 5%;
	z-index: 2;
}
.tip{
	position: absolute;
	left: 3%;
	top: 35%;
	width: 12%;
	z-index: 1;
}
.hand:hover,.tip:hover{
	cursor:pointer;
}
.hnt{
	position: absolute;
	top: 43%;
	left: 10%;
	width: 80%;
	font-size: 2vw;
	font-family: sniglet;
	background-color: #FDFFB3;
	padding: 4% 1% 2% 3%;
	text-align: left;
	border-radius: 2em;
	z-index: 3;
}
.cross{
	position: absolute;
	top: 46%;
	right: 12%;
	width: 5%;
	z-index: 4;
}
.cross:hover{
	cursor:pointer;
}
.optionsdiv {
	top: 65%;
	display: flex;
	width: 73%;
	left: 48%;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
	text-align: center;
	position: absolute;
	transform: translate(-50%);
	height: 19%;
}
.crwr{
	position: absolute;
	top: 55%;
	left: 20%;
	width: 70%;
	background-color: #EEEEEE;
	font-size: 1.8vw;
	padding: 2% 1% 2% 1%;
	font-family: sniglet;
	text-align: left;
}

.optionsdiv p {
	display: inline;
	padding: 3.5%;
	background: #0097A7;
	border-radius: 6px;
	margin: 1%;
	font-size: 2vw;
	width: 82%;
	height: 55%;
	top: 37%;
	color: #ffffff;
	border: 4px solid #0097A7;
	font-family: Andika-Regular;
}

.optionscontainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: flex-start;
	justify-content: space-between;
	height: 100%;
}

.imagestartpos {
	width: 19%;
	margin-left: 1%;
	display: none;
	top: -60%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
	background: #F9CB9C;
	border:4px solid #E69138;
}
@media (min-aspect-ratio:4/3){
	.question, .clktxt{
		font-size: 2vw;
	}
	.crwr, .hnt{
		font-size:1.8vw;
	}
	.optionsdiv{
		font-size:3vw;
	}
	.diytitle{
		font-size: 4vw;
	}
}
.diyimage{
	position: absolute;
	width: 102%;
	left: 0%;
}
.diytitle{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 20%;
	top: 46%;
	color: #0097a7;
}