.bg{
    background-color:#dee2d6;
    background-size: 100% 100%;
}
.chtitle{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #a0ede4;
    left:0%;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 20%;
    padding-left: 10%;
    background-color: #fff9c4;
    border-bottom: 7px solid #fcb07e;
    top: 0;
    left: 0;
}
.maintitle1{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #fffacd;
    border-bottom: 7px solid #c05746;
    top: 0;
    left: 0;
}
.maintitle1 > p{
    opacity: 0;
    left: -100%;
    animation:textanim 1s linear 0s forwards;
    animation-delay: 1s;
}
@-webkit-keyframes textanim {
    100% {
        opacity:1;
        left: 0%;
        padding-left:10%;
    }
}


@keyframes textanim {
    100% {
        opacity:1;
        left: 0%;
        padding-left:10%;
    }
}
.dial{
  position: absolute;
  width: 50%;
  right: 9%;
  transform: scaleX(-1);
  top: 8%;
}
.dial p{
    position: absolute;
    width: 78%;
    left: 7%;
    top: 55%;
    transform: translateY(-50%) scaleX(-1);
}
.dial1{
    position: absolute;
    width: 45%;
    left: 9%;
    top: 8%;
}
.dial1 p{
    position: absolute;
    width: 78%;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
}
.lady{
    position: absolute;
    width: 23%;
    bottom: 2%;
    left: 21%;
}
.lady1{
    position: absolute;
    width: 12%;
    bottom: 2%;
    left: 56%;
}

.talkingimg{
    position: absolute;
    width: 8.6%;
    z-index: 2;
    top:0;
}
.milk{
    position: absolute;
    width: 100%;
    bottom: 0%;
}
.milk1{
    position: absolute;
    width: 43%;
    top: 30%;
    left: 7%;
}
.thermo1{
    position: absolute;
    width: 17%;
    bottom: 36%;
    left: 11%;
}
.thermo2{
    position: absolute;
    width: 17%;
    bottom: 36%;
    left: 67%;
}
.candle{
    position: absolute;
    width: 4%;
    bottom: 20%;
    left: 74%;
}
.fig1{
    position: absolute;
    width: 23%;
    height: 10%;
    top: 70%;
    left: 7%;
}
.fig2{
    position: absolute;
    width: 23%;
    height: 10%;
    top: 82%;
    right: 13%;
}
.fig3{
    position: absolute;
    width: 45%;
    height: 10%;
    top: 82%;
    left: 7%;
}
.ar1{
    position: absolute;
    width: 14%;
    top: 34%;
    left: 20%;
}
.ar2{
    position: absolute;
    width: 11%;
    top: 34%;
    right: 25%;
    transform: scaleX(-1);
}
.desc{
    position: absolute;
    width: 30%;
    height: 40%;
    top: 22%;
    left: 34%;
}


@media screen and (min-aspect-ratio: 4/3) {
  .content3{
    font-size: 3vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .content3{
    font-size: 2vw;
  }
}
