.bg{
    background-color:#dee2d6;
    background-size: 100% 100%;
}
.colortext{
    background-color: #ffff00;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 20%;
    padding-left: 10%;
    background-color: #fff9c4;
    border-bottom: 7px solid #fcb07e;
    top: 0;
    left: 0;
}
.dial{
    position: absolute;
    width: 45%;
    right: 9%;
    transform: scaleX(-1);
    top: 8%;
}
.dial p{
    position: absolute;
    width: 78%;
    left: 7%;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
}
.dial1{
    position: absolute;
    width: 47%;
    left: 6%;
    top: 8%;
}
.dial1 p{
    position: absolute;
    width: 78%;
    left: 4%;
    top: 56%;
    transform: translateY(-50%);
}
.lady{
    position: absolute;
    width: 23%;
    bottom: 2%;
    left: 21%;
}
.lady1{
    position: absolute;
    width: 12%;
    bottom: 2%;
    left: 56%;
}

.jar{
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: 26%;
    border: 2px solid;
    background-color: white;
}
.jarleft{
    position: absolute;
    width: 40%;
    left: 5%;
    top: 26%;
    border: 2px solid;
    background-color: white;
}
.jarright{
    position: absolute;
    width: 40%;
    right: 5%;
    top: 26%;
    border: 2px solid;
    background-color: white;
}
.talkingimg{
    position: absolute;
    width: 8.6%;
    z-index: 2;
    top:0;
}
.figure{
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 20%;
    left:0%;
}
.figureleft{
    position: absolute;
    width: 40%;
    bottom: 0%;
    height: 20%;
    left:5%;
}
.figureright{
    position: absolute;
    width: 40%;
    bottom: 0%;
    height: 20%;
    right:5%;
}
.caption{
    position: absolute;
    width: 20%;
    height: 15%;
    top: 40%;
}
.caption1{
    position: absolute;
    width: 20%;
    height: 15%;
    top: 28%;
    right: 28%;
}
.ar1{
    position: absolute;
    width: 20%;
    top: 47%;
    transform: scaleX(-1);
    left: 23%;
}
.ar2{
    position: absolute;
    width: 13%;
    top: 35%;
    right: 44%;
}
.lastjar{
    position: absolute;
    width: 30%;
    top: 27%;
    border: 2px solid;
    background-color: white;
    left: 10%;
}
.lastjar1{
    position: absolute;
    width: 30%;
    top: 43%;
    border: 2px solid;
    background-color: white;
    left: 36%;
}
.lastjar2{
    position: absolute;
    width: 30%;
    top: 22%;
    border: 2px solid;
    background-color: white;
    right: 12%;
}
.playbtn{
    position: absolute;
    width: 5%;
    top: 47%;
    right: 21%;
    cursor: pointer;
    opacity: 0;
}
.im1{
    position: absolute;
    width: 30%;
    top: 57%;
    border: 2px solid;
    background-color: white;
    left: 1%;
}
.im2{
    position: absolute;
    width: 30%;
    top: 30%;
    border: 2px solid;
    background-color: white;
    right: 49%;
}
.im3{
    position: absolute;
    width: 31%;
    left: 53%;
    top: 22%;
    border: 2px solid;
    background-color: white;
    z-index: 1;
}
.im4{
    position: absolute;
    width: 30%;
    right: 2%;
    top: 58%;
    border: 2px solid;
    background-color: white;
}