.bg{
    background-color:#c58882;
    background-size: 100% 100%;
}
.bg1{
    background-color:#fffad3;
    background-size: 100% 100%;
}
.chtitle{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 50%;
    transform: translateY(-50%);
    left:0%;
    color: white;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #ead2ac;
    top: 0;
    left: 0;
}
.question{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0%;
    background-color: #ead2ac;
    padding-bottom: 12%;
    left: 0%;
}
.option{
    position: absolute;
    width: 35%;
    height: 13%;
    border-radius: 14px;
    top: 83%;
    background-color: #3c78d8;
    color: white;
}
.option:hover{
  cursor: pointer;
}
.opt1{
    left: 10%;
}
.opt2{
    right:10%;
}
.option:hover{
    border: 4px solid #e69138;
    border-radius: 14px;
    background-color: #f6b26b;
}
.correctwrongimg{
    width: 9%;
    left: 61%;
    bottom: 33%;
}
.correctwrongimg1{
  position: absolute;
  width: 13%;
  left: 100%;
  bottom: 18%;
}
.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}
.metalball{
    position: absolute;
    width: 20%;
    top: 22%;
}
.redball{
    position: absolute;
    width: 20%;
    left: 40%;
    top: 15%;
}
.redball1{
    position: absolute;
    width: 20%;
    left: 40%;
    top: 28%;
}
.redball2{
    position: absolute;
    width: 20%;
    right: 0%;
    top: 36%;
}
.candle{
    position: absolute;
    width: 4%;
    top: 49%;
    left: 42%;
}
.hotmetalball{
    position: absolute;
    width: 20%;
    top: 22%;
    right: 0%;
}
.ar1{
    position: absolute;
    width: 10%;
    top: 45%;
    left: 27%;
}
.ar2{
    position: absolute;
    width: 10%;
    top: 45%;
    right: 27%;
}
.coldmetalball{
    position: absolute;
    width: 20%;
    top: 36%;
    left: 40%;
}
.coldmetal{
    position: absolute;
    width: 20%;
    top: 51%;
    left: 20%;
    height: 15%;

}
.ring{
    position: absolute;
    width: 13%;
    top: 39%;
    left: 16%;
    height: 10%;
}
.blackar1{
    position: absolute;
    width: 4%;
    top: 46%;
    left: 19%;
}
.blackar2{
    position: absolute;
    width: 4%;
    top: 59%;
    left: 18%;
}
