.bg1{
    background-color:white;
    background-size: 100% 100%;
}
.bg{
    background-color:#f28f3b;
    background-size: 100% 100%;
}
.coverpage{
    position: absolute;
    width: 102%;
    top: 0%;
    left: 0%;
}
.chtitle{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 40%;
    transform: translateY(-40%);
    color: #f57c00;
    left: 2%;
}
.maintitle{
     position: absolute;
     width: 100%;
     height: 20%;
     padding-left: 10%;
     background-color: #fffacd;
     border-bottom: 7px solid #c05746;
     top: 0;
     left: 0;
 }
.maintitle1{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #fffacd;
    border-bottom: 7px solid #c05746;
    top: 0;
    left: 0;
}
.maintitle1 > p{
    opacity: 0;
   left: -100%;
    animation:textanim 1s linear 0s forwards;
    animation-delay: 1s;
}
@-webkit-keyframes textanim {
    100% {
        opacity:1;
        left: 0%;
        padding-left:10%;
    }
}


@keyframes textanim {
    100% {
        opacity:1;
        left: 0%;
        padding-left:10%;
    }
}
.talkingimg{
    position: absolute;
    width: 8.6%;
    z-index: 2;
    top:0;
}
.cup{
    position: absolute;
    width: 28%;
    top: 39%;
    height: 50%;
    left: 35%;
    animation: slidecup 0.5s linear forwards ;
    animation-delay: 1s;
}
.cup1{
    position: absolute;
    width: 28%;
    top: 39%;
    height: 50%;
    left: 15%;
    animation: slidecup 0.5s linear forwards ;
    animation-delay: 1s;
}
.cup3{
    position: absolute;
    width: 28%;
    top: 39%;
    height: 50%;
    left: 35%;
}
@-webkit-keyframes slidecup {
    100% {
        left:15%;
    }
}

@keyframes slidecup {
    100% {
        left:15%;
    }
}
.ar1{
    position: absolute;
    width: 3%;
    top: 70%;
    left: 46%;
}
.ar1 >img{
    width:0%;
    opacity: 0;
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 3s;
}
.ar2{
    position: absolute;
    width: 3%;
    bottom: 40%;
    left: 43%;
    transform: rotate(144deg);
}
.ar2 >img{
    width:0%;
    opacity: 0;
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 4s;
}

.ar3{
    position: absolute;
    width: 3%;
    bottom: 40%;
    left: 48%;
    transform: rotate(214deg);
}
.ar3 >img{
    width:0%;
    opacity: 0;
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 5s;
}
.ar4{
    position: absolute;
    width: 3%;
    bottom: 21%;
    left: 27%;
    transform: scaleY(-1);
}

.ar4 >img{
    width:0%;
    opacity: 0;
}
.ar5{
    position: absolute;
    width: 4%;
    top: 56%;
    left: 43%;
    transform: rotate(-41deg);
}

.ar5 >img{
    width:0%;
    opacity: 0;
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 2s;
}

.ar6{
    position: absolute;
    width: 4%;
    top: 56%;
    left: 48.5%;
    transform: rotate(41deg);
}

.ar6 >img{
    width:0%;
    opacity: 0;
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 3s;
}

.animatearrow{
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 0.5s;
}
@-webkit-keyframes increasearrow {
    100% {
        opacity:1;
        width:100%;
    }
}


@keyframes increasearrow {
    100% {
        opacity:1;
        width:100%;
    }
}
.emptydiv{
    position: absolute;
    width: 40%;
    height: 66%;
    right: -50%;
    bottom: 6%;
    border-radius: 70px;
    background-color: #f9cb9c;
    animation: slidequestion 0.5s linear forwards ;
    animation-delay: 2s;
}
.emptydiv1{
    position: absolute;
    width: 40%;
    height: 66%;
    right: -50%;
    bottom: 6%;
    border-radius: 70px;
    background-color: #f9cb9c;
    animation: slidequestion 0.5s linear forwards ;
    animation-delay: 1s;
}
@-webkit-keyframes slidequestion {
    100% {
        right:2%;
    }
}

@keyframes slidequestion {
    100% {
        right:2%;
    }
}
.question{
    position: absolute;
    width: 40%;
    top: 34%;
    right: -50%;
    height: 12%;
    animation: slidequestion 0.5s linear forwards;
    animation-delay: 2s;
    color: white;
    background-color: #c05746;
    border-radius: 10px;
}
.question1{
    position: absolute;
    width: 40%;
    top: 50%;
    right: -50%;
    height: 14%;
    animation: slidequestion 0.5s linear forwards ;
    animation-delay: 2s;
}



.question2{
    position: absolute;
    width: 40%;
    top: 34%;
    right: -50%;
    height: 12%;
    animation: slidequestion 0.5s linear forwards;
    animation-delay: 1s;
    color: white;
    background-color: #c05746;
    border-radius: 10px;
}
.question3{
    position: absolute;
    width: 40%;
    top: 50%;
    right: -50%;
    height: 14%;
    animation: slidequestion 0.5s linear forwards ;
    animation-delay: 1s;
}

.option{
    position: absolute;
    width: 17%;
    height: 13%;
    border-radius: 14px;
    top: 70%;
    background-color: #3c78d8;
    color: white;
}
.option:hover{
  cursor: pointer;
}
.opt1{
    right: -50%;
    animation: slideopt1 0.5s linear forwards ;
    animation-delay: 2s;
}
.opt2{
    right:-50%;
    animation: slideopt2 0.5s linear forwards ;
    animation-delay: 2s;
}
.opt3{
    right: -50%;
    animation: slideopt1 0.5s linear forwards ;
    animation-delay: 1s;
}
.opt4{
    right:-50%;
    animation: slideopt2 0.5s linear forwards ;
    animation-delay: 1s;
}
@-webkit-keyframes slideopt1 {
    100% {
        right:23%;
    }
}

@keyframes slideopt1 {
    100% {
        right:23%;
    }
}
@-webkit-keyframes slideopt2 {
    100% {
        right:4%;
    }
}

@keyframes slideopt2 {
    100% {
        right:4%;
    }
}
.option:hover{
    border: 4px solid #e69138;
    border-radius: 14px;
    background-color: #f6b26b;
}
.correctwrongimg{
    width: 24%;
    left: 1%;
    bottom: -47%;
}
.correctwrongimg1{
    width: 29%;
    left: 1%;
    bottom: -9%;
}
.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}
.correctmsg{
    position: absolute;
    width: 62%;
    height: 30%;
    bottom: 0%;
    color: white;
    opacity:0;
}
.correctmsg1{
    position: absolute;
    width: 50%;
    height: 30%;
    bottom: 0%;
    color: white;
    opacity:0;
    background-color: #7c6967;
    left:0%;
}
.subtitle{
    position: absolute;
    width: 70%;
    top: 21%;
    height: 15%;
    left: -100%;
    animation: slideinfo 0.8s linear forwards ;
    animation-delay: 4s;
}
.figure{
    position: absolute;
    width: 74%;
    bottom: 0%;
    height: 15%;
    left: 13%;
    color: white;
}
@-webkit-keyframes slideinfo {
    100% {
        left:15%;
        opacity:1;
    }
}

@keyframes slideinfo {
    100% {
        left:15%;
        opacity:1;
    }
}
.showhide{
    opacity:0;
    animation: show 0.8s linear forwards ;
    animation-delay: 2s;
}
@-webkit-keyframes show {
    100% {
        left:15%;
        opacity:1;
    }
}

@keyframes show {
    100% {
        left:15%;
        opacity:1;
    }
}
@-webkit-keyframes slideinfo1 {
    100% {
        right:15%;
        opacity:1;
    }
}

@keyframes slideinfo1 {
    100% {
        right:15%;
        opacity:1;
    }
}
.blankfield{
    border-bottom: 2px solid;
}
.cup_1{
    position: absolute;
    width: 27%;
    top: 30%;
    left: -50%;
    opacity: 0;
    animation: slideinfo 0.5s linear forwards;
}
.cup_11{
    position: absolute;
    width: 27%;
    top: 30%;
    left: 15%;
}
.cup_2{
    position: absolute;
    width: 27%;
    top: 30%;
    right: -50%;
    opacity: 0;
    animation: slideinfo1 0.5s linear forwards;
    animation-delay: 3s;
}
.cup_22{
    position: absolute;
    width: 27%;
    top: 30%;
    right: 15%;
}
.text1{
    position: absolute;
    width: 50%;
    left: -50%;
    height: 25%;
    bottom: 0%;
    color: white;
    animation: slidetext 0.5s linear forwards;
}
.text1_1{
    position: absolute;
    width: 50%;
    left: 0%;
    height: 25%;
    bottom: 0%;
    color: white;
}
@-webkit-keyframes slidetext {
    100% {
        left:0%;
        opacity:1;
    }
}

@keyframes slidetext {
    100% {
        left:0%;
        opacity:1;
    }
}
.text2{
    position: absolute;
    width: 50%;
    right: -50%;
    height: 25%;
    bottom: 0%;
    color: white;
    animation: slidetext1 0.5s linear forwards;
    animation-delay: 3s;
}
.text2_1{
    position: absolute;
    width: 50%;
    right: 0%;
    height: 25%;
    bottom: 0%;
    color: white;
}
@-webkit-keyframes slidetext1 {
    100% {
        right:0%;
        opacity:1;
    }
}

@keyframes slidetext1 {
    100% {
        right:0%;
        opacity:1;
    }
}
.line{
    position: absolute;
    width: 0%;
    height: 0%;
    top: 20%;
    border: 3px solid #a2724a;
    left: 50%;
    opacity: 0;
    animation: lineanim 1s linear forwards;
    animation-delay: 1s;
}
.line1{
    position: absolute;
    width: 0%;
    height: 80%;
    top: 20%;
    border: 3px solid #a2724a;
    left: 50%;
}
@-webkit-keyframes lineanim {
    100% {
        height:80%;
        opacity:1;
    }
}

@keyframes lineanim {
    100% {
        height:80%;
        opacity:1;
    }
}


@media (min-aspect-ratio:4/3){
	.content2,.diyfont{
		font-size: 3.8vh;
	}
}
@media (max-aspect-ratio:4/3){
	.content2{
		font-size: 2vw;
	}
}
