.bg1{
    background-color:white;
    background-size: 100% 100%;
}
.bg{
    background-color:#7c6967;
    background-size: 100% 100%;
}
.coverpage{
    position: absolute;
    width: 101%;
    top: 0%;
    left: 0%;
}
.chtitle{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 25%;
    transform: translateY(-25%);
    color: #f57c00;
    left: 0%;
}
.maintitle{
    position: absolute;
    width: 100%;
    height: 20%;
    padding-left: 10%;
    background-color: #fffacd;
    border-bottom: 7px solid #c05746;
    top: 0;
    left: 0;
}
.maintitle1{
    position: absolute;
    width: 50%;
    height: 15%;
    background-color: #fffacd;
    top: 0;
    right: 0;
    color: white;
    background-color: #c05746;
}
.talkingimg{
    position: absolute;
    width: 8.6%;
    z-index: 2;
    top:0;
}
.coffee{
    position: absolute;
    width: 50%;
    height: 80%;
    top: 20%;
    background-color: #695958;
    left:30%;
}
.coffee1{
    position: absolute;
    width: 50%;
    height: 80%;
    top: 20%;
    right:0;
}
.coffee2{
    position: absolute;
    width: 50%;
    height: 80%;
    top: 20%;
    left:30%;
}
.coffee3{
    position: absolute;
    width: 41%;
    height: 80%;
    top: 16%;
    left: 12%;
}
.coffee4{
    position: absolute;
    width: 41%;
    height: 80%;
    top: 16%;
    left: 5%;
}
.coffee > img,.coffee1 >img, .coffee2 >img,.coffee3 >img,.coffee4 >img{
    position: relative;
    width: 100%;
    top: 10%;
}
.vapour{
    position: absolute;
    width: 15%;
    top: 14%;
    left: 47%;
}
.vapour1{
    position: absolute;
    width: 15%;
    top: 14%;
    right: 18%;
}
.vapour2{
    position: absolute;
    width: 12%;
    top: 14%;
    left: 27%;
}
.vapour3{
    position: absolute;
    width: 12%;
    top: 14%;
    left: 19%;
}
.figure{
    position: absolute;
    width: 50%;
    height: 20%;
    bottom: 0%;
    color: white;
    left:30%;
    animation:slideCoffee 1s linear forwards;
    animation-delay: 2s;
}
.figure1{
    position: absolute;
    width: 50%;
    height: 20%;
    bottom: 0%;
    color: white;
    right:0;
}
.figure2{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0%;
    color: white;
}
.animateCoffee{
    animation:slideCoffee 1s linear forwards;
    animation-delay: 2s;}
.animateVapour{
    animation:slideVapour 1s linear forwards;
    animation-delay: 2s;
}
@-webkit-keyframes slideCoffee {
    100% { left:0%; }
}


@keyframes slideCoffee {
    100% { left:0%; }

}
@-webkit-keyframes slideVapour {
    100% { left:18%; }
}


@keyframes slideVapour {
    100% { left:18%; }

}
.ar2{
    position: absolute;
    width: 9%;
    top: 59%;
    transform: rotate(30deg);
    left: 57%;
}
.ar1{
    position: absolute;
    width: 9%;
    top: 60%;
    transform: rotate(131deg);
    left: 43%;
}
.ar1 >img{
    width:0%;
    opacity: 0;
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 1s;
}
.ar2 >img{
    width:0%;
    opacity: 0;
    animation: increasearrow 0.5s linear forwards ;
    animation-delay: 2s;
}
.animatearrow{
    animation: increasearrow 0.5s linear forwards ;
}
@-webkit-keyframes increasearrow {
    100% {
        opacity:1;
        width:100%;
    }
}


@keyframes increasearrow {
    100% {
        opacity:1;
        width:100%;
    }
}
.emptydiv{
    position: absolute;
    width: 35%;
    height: 66%;
    right: -50%;
    bottom: 6%;
    border-radius: 70px;
    background-color: #dcd2ab;
    animation: slidequestion 0.5s linear forwards ;
    animation-delay: 2s;
}
@-webkit-keyframes slidequestion {
    100% {
        right:2%;
    }
}

@keyframes slidequestion {
    100% {
        right:2%;
    }
}
.question{
    position: absolute;
    width: 35%;
    top: 34%;
    right: -50%;
    height: 14%;
    animation: slidequestion 0.5s linear forwards ;
    animation-delay: 2s;
}
.option{
    position: absolute;
    width: 12%;
    height: 10%;
    border-radius: 14px;
    top: 65%;
    background-color: #3c78d8;
    color: white;
}
.option:hover{
  cursor: pointer;
}
.opt1{
    right: -50%;
    animation: slideopt1 0.5s linear forwards ;
    animation-delay: 2s;
}
.opt2{
    right:-50%;
    animation: slideopt2 0.5s linear forwards ;
    animation-delay: 2s;
}
@-webkit-keyframes slideopt1 {
    100% {
        right:20%;
    }
}

@keyframes slideopt1 {
    100% {
        right:20%;
    }
}
@-webkit-keyframes slideopt2 {
    100% {
        right:4%;
    }
}

@keyframes slideopt2 {
    100% {
        right:4%;
    }
}
.option:hover{
    border: 4px solid #e69138;
    border-radius: 14px;
    background-color: #f6b26b;
}
.correctwrongimg{
    width: 33%;
    left: 1%;
    bottom: -28%;
}
.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}
.correctmsg{
    position: absolute;
    width: 62%;
    height: 30%;
    bottom: 0%;
    color: white;
    opacity:0;
}
.correctmsg1{
    position: absolute;
    width: 50%;
    height: 30%;
    bottom: 0%;
    color: white;
    opacity:0;
    background-color: #7c6967;
    left:0%;
}
.ar3{
    position: absolute;
    width: 7%;
    top: 50%;
    transform: rotate(131deg);
    left: 23%;
}
.ar4{
    position: absolute;
    width: 7%;
    top: 51%;
    transform: rotate(40deg);
    left: 34%;
}
.ar5{
    position: absolute;
    width: 7%;
    top: 34%;
    transform: rotate(235deg);
    left: 24%;
}
.ar6{
    position: absolute;
    width: 7%;
    top: 34%;
    transform: rotate(-49deg);
    left: 34%;
}
.ar5 >img ,.ar6 >img ,.ar7 >img,.ar8 >img,.ar9 >img,.ar10 >img{
    width: 0%;
    opacity: 0;
}
.listdiv{
    position: absolute;
    width: 50%;
    right: 0;
    top: 15%;
    height: 85%;
    text-align: justify;
    padding: 2%;
    background-color: #fff9c4;
}
.listdiv li{
    margin: 0% 5% 3% 3%;
    list-style-position: outside;
}
.ar7{
    position: absolute;
    width: 7%;
    top: 50%;
    transform: rotate(131deg);
    left: 15%;
}
.ar8{
    position: absolute;
    width: 7%;
    top: 51%;
    transform: rotate(40deg);
    left: 27%;
}
.ar9{
    position: absolute;
    width: 7%;
    top: 34%;
    transform: rotate(235deg);
    left: 17%;
}
.ar10{
    position: absolute;
    width: 7%;
    top: 34%;
    transform: rotate(-49deg);
    left: 27%;
}
