.soil_activity {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.soil_activity, .soil_activity * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.soil_activity .nextBtn{
	display  : none;
	position : absolute;
	bottom   : 0%;
	right    : 0%;
	width    : 7%;
	height   : 10%;
}

.soil_activity .prevBtn{
	display  : none;
	position : absolute;
	bottom   : 0%;
	left     : 0%;
	width    : 7%;
	height   : 10%;
}

/* **********************************************************
************************************************************** */

.board{
	position   : relative;
	top        : 0%;
	left       : 0%;
	width      : 100%;
	height     : 100%;
	text-align : center;
}

.vertical-horizontal-center{
	position          : relative;
	top               : 50%;
	left              : 50%;
	transform         : translate(-50%, -50%);
	-moz-transform    : translate(-50%, -50%);
	-webkit-transform : translate(-50%, -50%);
	text-align        : center;
}

/*================================================
=            character write template            =
================================================*/
div.characterwrite{
	position : relative;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

div.characterwrite img.characterwritebg{
	position : absolute;
	top      : 0;
	left     : 0;
	width    : 100%;
	height   : 100%;
}

/* div.characterwritetextcontainer{
	position:absolute;
	top:56%;
	left:10%;
	color:red;
} */

p[class^="text"]{
	position         : absolute;
	width            : 65%;
	text-align       : left;
	font-size        : 1.1em;
	color            : white;
	left             : 0%;
	padding-left	 : 2%;
	background-color : rgba(80, 47, 25,0.8);
}

p.text0{
	top  : 40%;
}

p.text1{
	top  : 53%;
}

p.text2{
	top  : 66%;
}

p.text3{
	top  : 79%;
}



/**
* character animation keyframe
*/

@keyframes characteranim{
  100% { background-position : -500% 0%;}
}

@-moz-keyframes characteranim{
  100% { background-position : -500% 0%;}
}

@-webkit-keyframes characteranim{
  100% { background-position : -500% 0%;}
}

div.character{
	position         : absolute;
	top              : 30%;
	left             : 20%;
	width            : 10%;
	height           : 15%;
}

div.character[role^="walk"]{
	background-size  : 500% 100%;
	background-image : url("../images/page1/character.png");

	-webkit-animation : characteranim 0.5s steps(5) infinite;
	animation         : characteranim 0.5s steps(5) infinite;
}

div.character[role^="stop"]{
	background-size  : 500% 100%;
	background-position : 500% 0%;
	background-image : url("../images/page1/character.png");

	transition : opacity 0.3s linear;
	-moz-transition : opacity 0.3s linear;
	-webkit-transition : opacity 0.3s linear;
	left: 60% !important;
}


div.character[role^="stop"]:hover{
	opacity  : 0;
}
.covertext{
	position: absolute;
	top: 5%;

}

/*=====  End of character write template  ======*/
