html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
    z-index: 100;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

@font-face {
    font-family: chelsea;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.ole_temp_lowertextblock {
    color: #9F4F9F;
    font-weight: bold;
    top: 80%;
    font-size: 3.5vmin;
}

.ole_temp_uppertextblock{
  color: #9F4F9F;
  font-weight: bold;
  font-size: 3.5vmin;
}

.middleImg {
    position: absolute;
    transform: translateX(-50%);
    height: 45%;
    left: 50%;
    top: 30%;
}

.dg-1 {
    top: 14%;
    left: 45%;
}

.bigmiddletext {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: chelsea;
    color: #E71861;
    font-size: 6vmin;
    width: 100%;
}
.ole_temp_subhead_header > p:nth-of-type(2) {
    margin-left: 22%;
}

.hightext1{
  position: relative;
  text-decoration: underline;
  text-decoration-color: black;
  opacity: 0;
  animation: letsfade 1s linear forwards;
  text-decoration-style: wavy;
}

.hightext2 {
    color: #1443CB;
    opacity: 0;
    animation: letsfade 1s linear forwards;
}

.hightext3 {
    text-decoration: line-through;
        text-decoration-color: currentcolor;
        text-decoration-style: solid;
    color: black;
    text-decoration-color: black;
    opacity: 0;
    animation: letsfade 1s linear forwards;
    text-decoration-style: double;
}

.hightext4 {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}

.belowtext{
    position: absolute;
    left: 50%;
    top: 100%;
    font-size: 3vmin;
    transform: translateX(-50%);
    font-family: proxima;
    color: #9F4F9F;
}

@keyframes letsfade {
  100% {opacity: 100}
}

.mcq_diy {
    position: absolute;
    top: 26%;
    height: 67%;
    left: 24%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 2.7vw;
    text-align: left;
    width: 70%;
}

.diyques {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
    font-size: 5vmin;
    width: 100%;
}


@media (min-aspect-ratio:4/3){
	.mcq_diy{
		font-size: 3.5vh;
	}
}
.mcq_diy>p{
	position: relative;
	width: 95%;
}
.mcqcor-option{
	color: #088C0D;
}
.mcqincor-option{
	color: #D0553E;
}

.option {
	color: #6664C9;
}

.option>* {
	cursor: pointer;
}
