html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

@font-face {
    font-family: shortstack;
    src: url("../../../../../fonts/shortstack.ttf");
}

@font-face {
    font-family: chelsea;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    color: white;
    font-family: chelsea;
    font-size: 3.3vw;
    padding: 1%;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.middleImg {
    position: absolute;
    transform: translateX(-50%);
    height: 49%;
    left: 50%;
    top: 30%;
}

.storyimg {
    position: absolute;
    transform: translateX(-50%);
    height: 65%;
    left: 50%;
    top: 12%;
}

.imgtextcontainer {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20%;
    background: rgba(255,255,255,0.8);
    border-radius: 3vmin;
    box-shadow: 0.2em 0.2em 0.5em 0.1em;
    transition-duration: 0.5s;
}

.imgtextcontainer img {
    width: 60%;
}

.imgtextcontainer p {
    color: white;
    background: #6664C9;
    border-radius: 0em 0em 2vmin 2vmin;
}

.firstblock {
    top: 40%;
    left: 14%;
}

.secondblock {
    top: 40%;
    left: 85%;
}

.thirdblock {
    top: 80%;
    left: 14%;
}

.fourblock {
    top: 80%;
    left: 85%;
}

.forhover:hover{
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.05);
}

.storydiv {
    position: absolute;
    z-index: 500;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 95%;
    width: 95%;
    background: rgba(255,255,255,0.95);
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em 0.1em;
    animation: storyscale 1s ease-out forwards;
    display: none;
    overflow: hidden;
}

@keyframes storyscale{
  from{transform: translate(-50%, -50%) scale(0.3);}
  to{transform: translate(-50%, -50%) scale(1);}
}

.storynxt{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0%;
  width: 6%;
  cursor: pointer;
  border-radius: 50% 0% 0% 50%;
  background-color: #6664C9;
  box-shadow: -0.2em 0.2em 0.5em;
  transition-duration: 0.1s;
}
.storynxt:hover{
  background-color: #2CB2F0;
}
.storyprev {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0%;
    width: 6%;
    cursor: pointer;
    border-radius: 0% 50% 50% 0%;
    background-color: #6664C9;
    box-shadow: 0.2em 0.2em 0.5em;
    transition-duration: 0.1s;
}
.storyprev:hover{
  background-color: #2CB2F0;
}

.strytextclass {
    position: absolute;
    bottom: 0;
    background: #8C5CA6;
    width: 100%;
    color: white;
    padding: 2% 2% 2% 13%;
    height: 20%;
    font-family: shortstack;
    font-size: 3.5vmin;
}

.closebtn {
    position: absolute;
    width: 7%;
    top: 2%;
    right: 1%;
    transition-duration: 1s;
    cursor: pointer;
    display: none;
}

.closebtn:hover {
  transform: scale(1.1);
}

.character{
  width: 10%;
  position: absolute;
  left: 1%;
  bottom: 1%;
}

.disabled{
  box-shadow: none;
  filter: grayscale(100%);
}

.hightext1{
  color: black;
}
@media (min-aspect-ratio:4/3){
	div.headerblock{
		font-size: 5.5vh;
	}
}
