html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.totalsequence {
    border: rgb(255,255,255) 0.3vmin solid;
}

.activeTimeLine {
    background: rgb(255,255,255);
}

body{
    font-family: sniglet;
    color: white;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.centertext {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    font-size: 3vw;
    width: 81%;
    padding: 5%;
    text-align: center;
}

.centertextsmall {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    font-size:2vw;
    width: 100%;
    padding: 5%;
    text-align: center;
}

.titletext {
    width: 50% !important;
    font-size: 10vmin;
}

.lefttitle {
    position: absolute;
    top: 6%;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.righttitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3vw;
}

.centertitle {
    position: absolute;
    top: 10%;
    font-size: 2vw;
    width: 100%;
    text-align: center;
}

.leftdefintexta {
	position: absolute;
	top: 47%;
	font-size: 1.6vw;
	width: 84%;
	text-align: center;
	left: 8%;
}
.rightdefintext {
    position: absolute;
    top: 25%;
    right: 10%;
    font-size: 1.6vw;
    width: 40%;
    text-align: right;
}

.defintext {
	position: absolute;
	top: 19%;
	font-size: 1.6vw;
	width: 84%;
	text-align: center;
	line-height: 6vmin;
	left: 8%;
}

.egtext {
    position: absolute;
    top: 50%;
    left: 23%;
    font-size: 2vw;
    width: 100%;
}

.leftdefintext1 {
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 2vw;
    width: 44%;
    text-align: left;
    padding:1%;
}
.leftdefintext1:lang(np){
    top:17%;
}

.leftdefintext {
    position: absolute;
    top: 25%;
    left: 0%;
    font-size: 2vw;
    width: 100%;
    text-align: center;
    padding:2%;
}

.rightdefintext {
    position: absolute;
    top: 25%;
    right: 6%;
    font-size: 1.6vw;
    width: 40%;
    text-align: right;
}
.rightdefintext1{
    position: absolute;
    top: 25%;
    right: 6%;
    font-size: 2vw !important;
    width: 40%;
    text-align: left;
}
.rightdefintext1:lang(np){
    top:18%;
}

.hightext1 {
    color: #E4DC86;
}


.hightext2{
    color: #E89138;
}

.hightext3 {
    border: 3px solid #8E7CC3;
    border-radius: 9px;
    margin: 0%;
}

.bottomtext {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    background: rgba(137,189,120,.5);
    padding: 2%;
    text-align: center;
    font-size: 1.6vw;
    width: 73%;
}


.letshigh {
    padding: 1%;
    box-shadow: .01em .01em .1em .1em rgba(0,0,0,.2);
    border-radius: .2em;
}


.schtext{
    position: absolute;
    font-size: 2.5vw;
    top: 50%;
    width: 100%;
    text-align: center;
}

.schtext2{
    position: absolute;
    font-size: 2vw;
    top: 75%;
    width: 100%;
    text-align: center;
}

.tickmark {
    position: absolute;
    width: 5%;
    top: 58%;
    left: 47%;
}

.crossmark {
    position: absolute;
    width: 4%;
    top: 83%;
    left: 47%;
}

.tickmark2 {
    position: absolute;
    width: 4%;
    top: 70%;
    right: 11%;
}

.crossmark2 {
    position: absolute;
    width: 4%;
    top: 81%;
    right: 11%;
}

.schtext3 {
    position: absolute;
    position: absolute;
    top: 66%;
    left: 50%;
    background: #8E7CC3;
    color: white;
    width: 70%;
    text-align: center;
    transform: translateX(-50%);
}

.ltext{
    position: absolute;
    top: 70%;
    font-size: 2.5vw;
    width: 100%;
    text-align: center;
}
.ltext:lang(np){
    position: absolute;
    top: 55%;
    font-size: 2vw;
    width: 100%;
    text-align: center;
}
.ltext1{
    position: absolute;
    top: 63%;
    font-size: 2.5vw;
    width: 37%;
    right: 57%;
}
.ltext1:lang(np){
    position: absolute;
    top: 68%;
    font-size: 2vw;
    width: 37%;
    right: 57%;
}

.rtext1{
    position: absolute;
    top: 69%;
    right: 2%;
    font-size: 2vw;
    width: 40%;
}
.rtext1:lang(np){
    position: absolute;
    top: 69%;
    right: 8%;
    font-size: 2vw;
    width: 40%;
}
.rtext2 {
    position: absolute;
    top: 80%;
    right: 2%;
    font-size: 2vw;
    width: 40%;
}
.rtext2:lang(np){
    position: absolute;
    top: 80%;
    right: 8%;
    font-size: 2vw;
    width: 40%;
}

.parentcontainer {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 25%;
    height: 54%;
}


.children {
    width: 43.7%;
    height: 40%;
    display: inline-flex;
    display: -webkit-inline-flex;
    margin: 3%;
    border: 3px solid #c1c1c1;
    position: relative;
    visibility: hidden;
    border-radius: 15px;
}

.children > p:nth-of-type(1) {
    text-align: center;
    background: #6D9EEB;
    padding-top: 35%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 31%;
    padding: 4%;
    width: 98%;
    visibility: visible;
    color: white;
    border-radius: 15px;
}

.children > p:nth-of-type(2) {
    text-align: center;
    padding-top: 35%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 78%;
    padding: 5%;
    width: 100%;
    color: black;
}


.childcorr{
    background: #42c07a !important;
}

.parcorr{
    animation: corfade 1s linear 0.5s forwards;
}

@keyframes corfade{
   to {background-color: #D9EAD3;
    border: 3px solid #c1c1c1;
}
}

.childinc{
    background: #e1676a !important;
}

.parinc{
    animation: incfade 1s linear 0.5s forwards;
}

@keyframes incfade{
   to {background-color: #FFE599;
}
}

.forhover:hover{
    cursor: pointer;
    background: #4084ef !important;
}
@media (min-aspect-ratio: 4/3){
  .centertitle,.leftdefintexta,.leftdefintext,.centertitle,.hightext1,.rightdefintext,.defintext,.schtext2,.schtext3,.letshigh{
    font-size: 2.5vw;
  }
    .centertitle:lang(np),.leftdefintexta:lang(np),.leftdefintext:lang(np),.centertitle:lang(np),.hightext1:lang(np),.rightdefintext:lang(np),.defintext:lang(np),.schtext2:lang(np),.schtext3:lang(np),.letshigh:lang(np){
        font-size: 2vw;
    }
    .centertext{
        font-size: 4vw;
    }
}
.diyimage{
    position: absolute;
    width: 102%;
    top: 0%;
    left: 0%;
}
.diytitle{
    position: absolute;
    width:100%;
    z-index:1;
    color: #000;
}
