.activity_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container,
.activity_container * {
  position: relative;
  margin: 0;
  padding: 0;
}

.nextBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
  z-index: 10000;
}

.prevBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
  z-index: 10000;
}

.board {
  position: absolute;
  top: 0%;
  left: 0%;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: amaranth;
}

@font-face {
  font-family: amaranth;
  src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generaltemplateblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*border   : 1px solid red; */
}

div.generaltemplateblock[data-templatecontains="hasheaderblock"]
  div.contentblock {
  top: 20%;
  height: 80%;
  position: absolute;
  width: 100%;
}

div.generaltemplateblock[data-templatecontains="hasonlycontent"]
  div.contentblock {
  top: 0%;
  height: 100%;
}
.contentblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

.exerciseblock {
  position: relative;
  width: 100%;
  height: 85%;
  left: 0%;
  top: 0%;
  margin-top: 9%;
}
.scoreboard_rhino
  ~ .board
  > .generaltemplateblock
  > .contentblock
  > .exerciseblock {
  margin-top: 5%;
}

/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/
.default-bg {
  background: -webkit-linear-gradient(
    290deg,
    rgb(182, 160, 173) 0%,
    rgb(203, 179, 195) 100%
  );
  background: -o-linear-gradient(
    290deg,
    rgb(182, 160, 173) 0%,
    rgb(203, 179, 195) 100%
  );
  background: -ms-linear-gradient(
    290deg,
    rgb(182, 160, 173) 0%,
    rgb(203, 179, 195) 100%
  );
  background: -moz-linear-gradient(
    290deg,
    rgb(182, 160, 173) 0%,
    rgb(203, 179, 195) 100%
  );
  background: linear-gradient(
    160deg,
    rgb(182, 160, 173) 0%,
    rgb(203, 179, 195) 100%
  );
}

.instruction {
  position: absolute !important;
  text-align: center;
  font-size: 2.8vw;
  width: 98%;
  top: 13%;
  font-family: happymonkey;
}
.question {
  position: absolute !important;
  text-align: center;
  font-size: 2.8vw;
  font-family: Sniglet;
  width: 44%;
  left: 28%;
  color: #595959;
  bottom: 60%;
}

.main-container {
  position: absolute !important;
  width: 100%;
}

.option-pos-1 {
  top: 20%;
  left: 0%;
}
.option-pos-2 {
  top: 35%;
  left: 0;
}
.option-pos-3 {
  top: 50%;
  left: 0;
}
.option-pos-4 {
  top: 65%;
  left: 0;
}

.option-container {
  position: relative;
  cursor: pointer;
  border-radius: 2vmin;
  background-color: #b7e9b0;
  border: 0.5vmin solid white;
  color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  width: 80%;
  margin-left: 11%;
}
.option-container:hover {
  background-color: #fcd172;
}

.option-label {
  position: relative;
  font-family: happymonkey;
  font-size: 3vw;
  color: white;
}

.correct-icon,
.incorrect-icon {
  display: none;
  position: absolute !important;
  height: 50%;
  left: 95%;
  transform: translateX(-50%);
  bottom: 31%;
}

.bg-1 {
  background-color: #e6b8af;
}
.o-brown {
  background-color: #b3796f;
}
.bg-2 {
  background-color: #b6d7a8;
}
.o-green {
  background-color: #87aa78;
}
.bg-3 {
  background-color: #9fc5e8;
}
.o-blue {
  background-color: #658fb6;
}

.bg-ex2a {
  background-color: #ead1dc;
}
.o-ex2a {
  background-color: #bb97a8;
}
.bg-ex2b {
  background-color: #fff2cc;
}
.o-ex2b {
  background-color: #d3b88b;
}
.bg-ex2c {
  background-color: #d0e0e3;
}
.o-ex2c {
  background-color: #84a0b3;
}

.bg-ex3a {
  background-color: #ea9999;
}
.o-ex3a {
  background-color: #b56661;
}
.bg-ex3b {
  background-color: #d9d2e9;
}
.o-ex3b {
  background-color: #af98b1;
}
.bg-ex3c {
  background-color: #d9ead3;
}
.o-ex3c {
  background-color: #9fb795;
}
.bg-ex3d {
  background-color: #ffe599;
}
.o-ex3d {
  background-color: #d3af68;
}

.correct-ans {
  pointer-events: none;
  background-color: #98c02e;
  color: white;
  border: 4px solid #deef3c;
}
.incorrect-ans {
  pointer-events: none;
  background-color: #ff0000;
  color: black;
  border: 4px solid #af0000;
}

@media (min-aspect-ratio: 4/3) {
  .instruction {
    font-size: 4vmin;
  }
  .question {
    font-size: 4vmin;
  }
  .option-label {
    font-size: 3.6vmin;
  }
}
@font-face {
  font-family: Sniglet;
  src: url("../../fonts/sniglet.ttf");
}
@font-face {
  font-family: ShortStack;
  src: url("../../fonts/ShortStack.ttf");
}
@font-face {
  font-family: Pangolin;
  src: url("../../fonts/Pangolin-Regular.ttf");
}
@font-face {
  font-family: HappyMonkey;
  src: url("../../fonts/happy_monkey/HappyMonkey-Regular.ttf");
}

.bg-full {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 110;
}

.main-instruction-1 {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 70%;
  padding: 0.5%;
  border-radius: 2vmin;
  background-color: #aad8c4;
  color: black;
  font-family: sniglet;
  font-size: 2.5vw;
  z-index: 120;
}
.main-text-1 {
  position: absolute;
  top: 9.5%;
  left: 4%;
  width: 93%;
  padding: 2%;
  border-radius: 3vmin;
  background-color: #aad8c4;
  color: black;
  font-family: sniglet;
  font-size: 2.2vw;
  z-index: 120;
}
.small-text {
  font-size: 1.8vw;
}
@media (min-aspect-ratio: 4/3) {
  .main-instruction-1 {
    font-size: 3.3vh;
  }
  .main-text-1 {
    font-size: 2.9vh;
  }
  .main-text-1::after {
    font-size: 3.5vh;
  }
  .small-text {
    font-size: 3.1vh;
  }
}
.btnz {
  position: absolute;
  top: 8%;
  left: 52%;
  width: 5%;
  transform: translate(-50%, -50%);
}
.btn-1 {
  z-index: 5;
  cursor: pointer;
  transition: 200ms linear;
}

.btn-text {
  cursor: pointer;
  position: absolute;
  top: 62%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  font-size: 1.7vw;
  z-index: 10;
  transition: 200ms linear;
}
@media (min-aspect-ratio: 4/3) {
  .btn-text {
    font-size: 2.5vh;
  }
}

.main-instruction-2 {
  position: absolute;
  top: 3%;
  left: 15%;
  width: 70%;
  padding: 0.5%;
  border-radius: 2vmin;
  background-color: rgba(196, 169, 135, 0.5);
  color: black;
  font-family: sniglet;
  font-size: 2.5vw;
  z-index: 120;
}
.main-text-2 {
  position: absolute;
  top: 20%;
  left: 34%;
  width: 32%;
  padding: 2%;
  border-radius: 3vmin;
  background-color: rgba(196, 169, 135, 0.5);
  color: black;
  font-family: sniglet;
  font-size: 2.2vw;
  z-index: 120;
}
.main-text-2::after {
  content: "\1f50a";
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2.6vw;
}
.small-text-2 {
  top: 15%;
  font-size: 1.8vw;
}
.readmetext {
  position: absolute;
  font-size: 1.3vw;
  font-family: sniglet;
  background: #c0d4c0;
  padding: 1%;
  border-radius: 0.5em;
  cursor: pointer;
  left: 43%;
  top: 3%;
  font-style: italic;
  transform: translateX(-50%);
  width: 90%;
}
@keyframes expansion {
  to {
    border: 0.4vmin solid white;
  }
}
@media (min-aspect-ratio: 4/3) {
  .main-instruction-2 {
    font-size: 3.3vh;
  }
  .main-text-2 {
    font-size: 2.9vh;
  }
  .main-text-2::after {
    font-size: 3.5vh;
  }
  .small-text-2 {
    font-size: 2.5vh;
  }
  .readmetext {
    font-size: 3vmin;
  }
}

.main-instruction-3 {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 68%;
  padding: 0.5%;
  border-radius: 2vmin;
  background-color: #d1bfa5;
  color: black;
  font-family: sniglet;
  font-size: 2.5vw;
  z-index: 120;
}
.main-text-3 {
  position: absolute;
  top: 28%;
  left: 10%;
  width: 42%;
  padding: 2.5%;
  border-radius: 3vmin;
  background-color: #d3c0a5;
  color: black;
  font-family: sniglet;
  font-size: 2.2vw;
  z-index: 120;
}
.main-text-3::after {
  content: "\1f50a";
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2.6vw;
}
.small-text-3 {
  top: 15%;
  font-size: 1.8vw;
}

.main_instruction {
  position: absolute;
  font-family: chelseamarket;
  font-size: 2vw;
  background: #b6d7a8;
  width: 100%;
  top: 5%;
  left: 0;
}
.passage_css {
  position: absolute;
  font-family: sniglet;
  width: 60%;
  font-size: 2vw;
  left: 38%;
  top: 26%;
  text-align: left;
}
.passage_center {
  position: absolute;
  font-family: sniglet;
  width: 70%;
  font-size: 2vw;
  text-align: left;
  left: 15%;
  top: 26%;
}
.SequenceTimeLine {
  display: none;
}
@media (min-aspect-ratio: 4/3) {
  .main-instruction-3 {
    font-size: 3.3vh;
  }
  .main-text-2 {
    font-size: 2.9vh;
  }
  .main-text-2::after {
    font-size: 3.5vh;
  }
  .small-text-3 {
    font-size: 3vh;
  }
  .main_instruction,
  .passage_css,
  .passage_center {
    font-size: 4.5vmin;
  }
}
.fox {
  position: absolute;
  width: 30%;
  top: 22%;
  left: 6%;
}

/*------ for popup block -----------*/
.popupdiv {
  display: none;
  position: absolute;
  top: 50%;
  height: 80%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.93);
  border: 0.5vmin solid #efefef;
  border-radius: 2vmin;
  padding: 2%;
  z-index: 150;
  overflow: hidden;
  border-radius: 3vmin;
}
.popuppage {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.wrong_button {
  display: none;
  position: absolute;
  right: 1%;
  top: 1%;
  /*transform: translate(50%,-50%);*/
  /*background-color: #FF3643;*/
  /*border-radius: 50%;*/
  width: 5%;
  cursor: pointer;
  z-index: 160;
  /*overflow: hidden;*/
  /*padding: 1.5%;*/
}
.popupcontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
}
.bg_grey {
  background: #dad8c3;
}
.blindmen {
  position: absolute;
  width: 33%;
  left: 3%;
  top: 32%;
}
.handicon {
  position: absolute;
  width: 5%;
  left: 50%;
  top: 5%;
  opacity: 0.5;
  cursor: pointer;
}
/*---------- popup end ------------*/
