.wrapper{
	position: relative;
	width:100%;
	height: 100%;
	
}


.title {
    position: relative;
    background: #FFC815;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#paragraph_contents {
    width: 30%;
	position: relative;
	float: left;
	font-size: 3vmin;
	left: 2%;
	top: 45%;
    transform: translateY(-50%);
}

#answer_contents {
    width:48%;
    position: relative;
    float:right;
    font-size: 3vmin;
    left: -2%;

    top: 45%;
    transform: translateY(-50%);
}
.answer
{
    position: relative;
    top: 80%;
    display: none;
    
}

#paragraph_contents > p:hover{
    cursor : pointer;
    background: #26c1ee;
    color:#ffffff;
    border-radius:5px;
     transform: scale(1.1);

}

#answer_contents > p:hover
{
    cursor : pointer;
    background: #26c1ee; 
    color:#ffffff;
    border-radius:5px;
     transform: scale(1.1);



    /*background:#92CBEB #FDB94E;;
    padding:0.5%;
    cursor: pointer;*/
}


.correct, .correct:hover{
    background-color: #a9d73f!important;
    color:#fff!important;
    transform: scale(1);
}

.incorrect{
    background-color: #F41120;
    color:#fff;
}


p{
    cursor : pointer;
    background:#6abac4;
    color:#fff;
    border-radius:5px;
    line-height: 1.5em;
    padding-left:1em;
    margin: 0 0 0.2em 0;
    
}

.change_color_click
{
    background: #FFC815;
    color: #1479AF;
}


/*Sony Tandukar
/*
#answer_contents > div {

    font-size:3vmin;
    left:57%;
    margin-top: -47.5%;
    position:relative;
    float: left;
    line-height: 30px;
    width: 30px;
    text-align: center;
    background-color: steelblue;
    color: #fff;
    border-radius: 4px;
    margin: 3px;
}
#answer_contents {
    max-width: 360px;
}
 

 */

@media screen and (min-aspect-ratio: 4/3) { 
	 #paragraph_contents, #answer_contents {
		 font-size: 3vh;
	 }
	 .title {
		 font-size: 4vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) { 
	  #paragraph_contents, #answer_contents {
		 font-size: 2.56vw;
	 }
	 .title {
		 font-size: 3.56vw;
	 }
}
 