.wrapper
{
	width: 100%;
	height: 100%;
	position: relative;
	background: #ffffff;
}

.mainword
{
	width: 70%;
	height: 100%;
	position: relative;
}

.symword
{
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
    right: 0;	
}

.checkanswer
{
	position: absolute;
    top: 83%;
    left: 48%;
    background: rgba(0,127,213,0.5);
    width: 10%;
    border-radius: 5px;
    position: absolute;
}


.checkanswer:hover
{
	cursor: pointer;
	background: rgba(0,127,213,0.6);
}

.check_answer
{
	color: #FF006D;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 16%;
    padding-top: 7%;
}

.text1
{
    position: absolute;
    top: 9%;
    left: 5%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text2
{
	position: absolute;
    left: 5%;
    top: 16%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text3
{
	position: absolute;
    left: 5%;
    top: 22%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold
}

.text4
{
    position: absolute;
    left: 5%;
    top: 28%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text5
{
    position: absolute;
    left: 5%;
    top: 35%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text6
{
    position: absolute;
    left: 5%;
    top: 42%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text7
{
    position: absolute;
    left: 5%;
    top: 48%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}
.text8
{
    position: absolute;
    left: 5%;
    top: 55%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text9
{
    position: absolute;
    left: 5%;
    top: 63%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text10
{
    position: absolute;
    left: 5%;
    top: 70%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text11
{
    position: absolute;
    left: 5%;
    top: 77%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text12
{
    position: absolute;
    left: 5%;
    top: 83%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text13
{
    position: absolute;
    left: 5%;
    top: 89%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}




.textlists
{
	position: absolute;
    top: 17%;
    left: 16%;
}

.textchanges
{
	border-top: none;
    text-align: center;
    border-left: none;
    border-right: none;
    border-color: rgba(51,153,254,0.5);
}

.text_1
{
    position: absolute;
    top: 8%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_2
{
    position: absolute;
    top: 14%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_3
{
    position: absolute;
    top: 20%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_4
{
    border-bottom: 1px solid #000;
    position: absolute;
    top: 27%;
    left: 3%;
}

.text_5
{
    position: absolute;
    top: 34%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_6
{
    position: absolute;
    top: 41%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_7
{
    position: absolute;
    top: 47%;
    left: 4%;
    border-bottom: 1px solid #000;
}
.text_8
{
    position: absolute;
    top: 54%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_9
{
    position: absolute;
    top: 61%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_10
{
    position: absolute;
    top: 68%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_11
{
    position: absolute;
    top: 75%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_12
{
    position: absolute;
    top: 82%;
    left: 4%;
    border-bottom: 1px solid #000;
}

.text_13
{
    position: absolute;
    top: 89%;
    left: 4%;
    border-bottom: 1px solid #000;
}






.fst,.sest,.tst,.fist,.sst,.sest,.est,.nst,.tenst,.sist,.seist,.eeist,.neist,.teist,.eleist,.tweist,.tweeist
{
    color: rgba(255,0,109,0.8);
    font-weight: bold;
    font-size: 1.3em;
}


.title
{
	position: absolute;
    top: 1%;
    width: 100%;
}

.title_tt
{
	font-size: 1em;
    font-weight: bold;
    color: rgb(51,153,254);
    padding-left: 4%;
    padding-right: 5%;
}

.checkans{
    position: absolute;
    top: 90%;
    right: 100%;   
    }

.answer_box_return
{
    font-size: 1.3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(51,153,254,0.5);
}
