.punctuation {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 2vmin;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey, cursive;
}

.punctuation, .punctuation * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.punctuation .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.punctuation .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 42%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: #9EDED3;
}

.imageblock, .textblock{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.background_front{
	background-image: url("../images/pestel_bg.png");
	background-size: 100% 100%;
}

.background_color1{
	background-color: #DD7E6B;
}

.background_color2{
	background-color: #B4A7D6;
}

.background_color3{
	background-color: #EA9999;
}

.background_color4{
	background-color: #A4C2F4;
}

.description_title{
	opacity: 0;
	font-family: happy_monkey;
	-webkit-animation: fadein 1s linear forwards;
	animation: fadein 1s linear forwards;
	width: 90%;
	left: 5%;
	color: #741B47;
	font-weight: bold;
}

.moaroon_color{
	color: #741B47;
}

.darkblue_color{
	color: #20124D;
}

.darkbrown_color{
	color: #3D2002;
}

.violet_color{
	color: #741B47;
}

.darkgreen_color{
	color: #3D2002;
}

.description2{
	opacity: 0;
	font-family: happy_monkey;
	position: absolute;
	-webkit-animation: fadein 1s linear forwards;
	animation: fadein 1s linear forwards;
	width: 90%;
	left: 5%;
	bottom: 75%;
	font-weight: bold;
}

.description3, .description3_bold{
	opacity: 0;
	font-family: happy_monkey;
	position: relative;
	-webkit-animation: fadein 1s linear forwards;
	animation: fadein 1s linear forwards;
	width: 90%;
	left: 5%;
}

.description3_bold{
	font-weight: bold;
	-webkit-animation: fadein 1s linear forwards;
	animation: fadein 1s linear forwards;
}

.description3{
	margin-top: 2%;
}

.description3:nth-of-type(2){
	-webkit-animation: fadein 1s linear 2s forwards;
	animation: fadein 1s linear 4s forwards;
}

.description3:nth-of-type(3){
	-webkit-animation: fadein 1s linear 3s forwards;
	animation: fadein 1s linear 8s forwards;
}

.description3:nth-of-type(4){
	-webkit-animation: fadein 1s linear 4s forwards;
	animation: fadein 1s linear 12s forwards;
}

@-webkit-keyframes fadein{
	100%{
		opacity: 1;
	}
}

@keyframes fadein{
	100%{
		opacity: 1;
	}
}

.pointer{
	height: 90%;
	top: 50%;
	opacity: 0;
	left: 100%;
	position: absolute;
	-webkit-animation: blink_hand 2s linear 0.2s 5 alternate forwards;
	animation: blink_hand 2s linear 0.2s 5 alternate forwards;
}

@-webkit-keyframes blink_hand{
	0%{
		opacity: 0.1;
		transform: translateX(50%);
	}

	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes blink_hand{
	0%{
		opacity: 0.1;
		transform: translateX(50%);
	}

	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

.image{
	position: absolute;
	height: 60%;
	top: 32%;
	left: 50%;
	transform: translateX(-50%);
}

.auto_height_relative_utb{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
}

.brown_highlight{
	background-color: #C57E6B;
	padding: 1% 2%;
  font-size: 1.2em;
	border-radius: 0.2em;
	opacity: 0;
	-webkit-animation: fadein-brown 1s linear 1.2s forwards;
	animation: fadein-brown 1s linear 1.2s forwards;
}

.pointing_highlight{
  background-color: #C57E6B;
  padding: 1% 2%;
	border-radius: 0.2em;
  font-size: 1.5em;
}

@-webkit-keyframes fadein-brown{
	100%{
		opacity: 1;
	}
}

@keyframes fadein-brown{
	100%{
		opacity: 1;
	}
}

@media screen and (min-aspect-ratio: 4/3) {
	.description_title{
		font-size: 7vh;
	}
	.description2, .description3{
		font-size: 4vh;
	}
	.description3_bold{
		font-size: 5vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.description_title{
		font-size: 6.56vw;
	}
	.description2, .description3{
		font-size: 3.56vw;
	}
	.description3_bold{
		font-size: 4.56vw;
	}
}
.textblock{
	z-index:2;
}