p {
  text-align: justify;
}

.test {
  margin-top: 30px;
}
#diImg1,
#diag1 {
  display: block;
}

.whole {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  xbackground: url("../image/pelequote.png");
  x-moz-background-size: cover;
  xbackground-size: cover;
  border-style: solid;
  border-width: 10px;
  border-color: black;
}

.title {
  font-size: 1.3em;
}

.whole .title {
  position: relative;
  width: 100%;
  height: 15%;
  text-align: left;
  font-size: 1.2em;
  color: #ffffff;
  margin-top: 3%;
  vertical-align: middle;
  text-shadow: 1px 1px #c9c9c9;
  display: none;
  margin-left: 4%;
}

.imgholer {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.texts {
  text-align: center;
  position: relative;
  margin-left: 3%;
  margin-top: 2%;
  overflow: hidden;
}
#circles {
  margin-top: 20px;
  height: 20px;
}
.right {
  float: right;
}

.overflow {
  max-width: 100%;
}
.img_rounded {
  width: 55%;
}
.center {
  text-align: center;
}
#box > img {
  height: 107% !important;
  width: 103%;
}

.information_block {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: black;
  max-height: 700px;
}

.info {
  margin-top: 10px;
}

#box {
  margin-bottom: 20px;
}

#dialogue {
  border: solid 1px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  xheight: 16%;
  xmargin-left: 10px;
  xmargin-right: 10px;
  xborder-top-right-radius: 20px;
  xborder-top-left-radius: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#reload {
  float: right;
}
.col-lg-3 {
  width: 25%;
  left: 70%;
}
.img_rounded {
  width: 100%;
  left: 41%;
}
.imglast {
  height: 89% !important;
  width: 103%;
}
.modules {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
}
#footer {
  background-color: #474747;
}
