.test{
 margin-top:30px;
 
}

P{
text-align:justify;}

.whole {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  xbackground: url("../image/stadium.jpg") ;  
  x-moz-background-size: cover;  
  xbackground-size: cover;
	border-style: solid;
	border-width: 10px ;
	border-color: black ;

 
}

.title{
 font-size:1.3em;
 }
 
.whole .title{
 position: relative;
 width: 100%;
 height: 15%;
 text-align: left;
 font-size: 1.2em;
 color: #FFFFFF;
 margin-top: 3%;
 vertical-align: middle;
 text-shadow: 1px 1px #c9c9c9;
 display: none;
 margin-left:4%
}

.imgholer{
	width: 100%;
	height: 80%;
	position: relative;
	overflow: hidden;
}

.list{
 position:relative;
 width:100%;
 height:100%
 margin-left:6%
 display: inline;
 list-style-type: none;
 
}

.texts{
 text-align:center;
 position:relative;
 margin-left:3%;
 margin-top:2%;
 overflow:hidden;
}
	#circles {
		margin-top: 20px;
		height: 20px;
	}
	.right {
		float: right;
	}

	.overflow {
		max-width: 100%;
	}
	.img_rounded {
		width: 22%;
	}
	.center {
		text-align: center;
	}
	#box > img {
    height: 67%;
	}

	.information_block {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		background: black;
		max-height: 700px;
		
		border: 4px solid #00000;
		-webkit-moz-border-radius: 25px;
	}

	.info {
		margin-top: 10px;
		width: 100% %;
	}


	#box {
		margin-bottom: 20px;
	}

#dialogue {
		border: solid 1px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	xheight: 16%;
	xmargin-left: 10px;
	xmargin-right: 10px;
	xborder-top-right-radius: 20px;
	xborder-top-left-radius: 20px;
	width:100%;
	position:absolute;
	bottom:0;
	}
	#reload{
		float:right;
	}


