body:lang(np),
body:lang(np) * {
  font-family: arial !important;
}
#activity-page-lesson-tab span,
#activity-page-exercise-tab span,
.coverboardfull .boxes_top_txt,
.lesson_end_container_g1 p {
  font-family: ubuntu !important;
}
.border {
  border: 3px solid #31538f;
}
svg {
  width: 100%;
  height: 100%;
  position: absolute !important;
  left: 0%;
}
.background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.chapterName {
  position: absolute;
  top: 46%;
  left: 57%;
  transform: translate(-57%, -50%);
  font-size: 7vw;
}
.divider {
  position: absolute;
  width: 0.5vmin;
  height: 100%;
  top: 0%;
  left: 50%;
  background-color: #4f6a9a;
  transform: translateX(-50%);
}
.divider-a {
  background-color: #4f6a9a;
}
.bg-a {
  background-color: #fbe4d4;
}
.letter-word {
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: #262626;
  font-size: 10vw;
  font-family: calibri;
}
@media (min-aspect-ratio: 4/3) {
  .letter-word {
    font-size: 13vh;
  }
}

.hl-a {
  color: #ed7d31;
  color: #434343;
}

.letter-left {
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  height: 70%;
  bottom: 15%;
}
.letter-right {
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  height: 70%;
  bottom: 15%;
}
.letter-img {
  width: 35%;
  position: absolute;
  bottom: 37.5%;
  left: 75%;
  transform: translateX(-50%);
}

#letter-svg {
  position: absolute;
  height: 70%;
  width: 45%;
  left: 75%;
  bottom: 15%;
  transform: translateX(-50%);
}

.line-anim-1 {
  -webkit-animation: line-anim 2s linear forwards;
  animation: line-anim 2s linear forwards;
}
.line-anim-2 {
  -webkit-animation: line-anim 2s linear 2s forwards;
  animation: line-anim 2s linear 2s forwards;
}
.line-anim-3 {
  -webkit-animation: line-anim 2s linear 4s forwards;
  animation: line-anim 2s linear 4s forwards;
}
.line-anim-4 {
  -webkit-animation: line-anim 2s linear 5s forwards;
  animation: line-anim 2s linear 5s forwards;
}
.letter-fade-in-cha,
.letter-fade-in-ja {
  animation: appear 1s ease-in 6s both;
  -webkit-animation: appear 1s ease-in 6s both;
}
.letter-fade-out-cha,
.letter-fade-out-ja {
  animation: disappear 1s ease-in 6s both;
  -webkit-animation: disappear 1s ease-in 6s both;
}
.letter-fade-in-jha {
  animation: appear 1s ease-in 7.5s both;
  -webkit-animation: appear 1s ease-in 7.5s both;
}
.letter-fade-out-jha {
  animation: disappear 1s ease-in 7.5s both;
  -webkit-animation: disappear 1s ease-in 7.5s both;
}
.letter-fade-in-nya {
  animation: appear 1s ease-in 7.5s both;
  -webkit-animation: appear 1s ease-in 7.5s both;
}
.letter-fade-out-nya {
  animation: disappear 1s ease-in 7.5s both;
  -webkit-animation: disappear 1s ease-in 7.5s both;
}
.letter-fade-in-ta,
.letter-fade-in-chha {
  animation: appear 1s ease-in 5.5s both;
  -webkit-animation: appear 1s ease-in 4.5s both;
}
.letter-fade-out-ta,
.letter-fade-out-chha {
  animation: disappear 1s ease-in 5.5s both;
  -webkit-animation: disappear 1s ease-in 4.5s both;
}
.letter-fade-in-tha {
  animation: appear 1s ease-in 7.5s both;
  -webkit-animation: appear 1s ease-in 4.5s both;
}
.letter-fade-out-tha {
  animation: disappear 1s ease-in 7.5s both;
  -webkit-animation: disappear 1s ease-in 4.5s both;
}
@-webkit-keyframes line-anim {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes line-anim {
  100% {
    stroke-dashoffset: 0;
  }
}

.letter-fade-out2 {
  animation: disappear 1s linear 0s both;
  -webkit-animation: disappear 1s linear 0s both;
}
.object-fade-in {
  animation: appear 1s linear 1s both;
  -webkit-animation: appear 1s linear 1s both;
}
.zoom-fade-in {
  animation: zoom-fade-out 1s linear 1s reverse both;
  -webkit-animation: zoom-fade-out 1s linear 1s reverse both;
}
@-webkit-keyframes zoom-fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes zoom-fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

.letter-fade-in-cha,
.letter-fade-out-cha {
  animation-delay: 7s;
}
.letter-fade-in-chha,
.letter-fade-out-chha {
  animation-delay: 4.5s;
}
.letter-fade-in-ja,
.letter-fade-out-ja {
  animation-delay: 7s;
}
.letter-fade-in-jha,
.letter-fade-out-jha {
  animation-delay: 8s;
}
.letter-fade-in-nya,
.letter-fade-out-nya {
  animation-delay: 8s;
}
.letter-fade-in-tha,
.letter-fade-out-tha {
  animation-delay: 4.5s;
}
.letter-fade-in-ta,
.letter-fade-out-ta {
  animation-delay: 4.5s;
}
.opacity_0 {
  opacity: 0;
}
.no-dash-cha,
.no-dash-ja,
.no-dash-nya,
.no-dash-tha {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.no-dash-jha {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.no-dash-chha {
  stroke-dasharray: 1350;
  stroke-dashoffset: 1350;
}
.no-dash-ta {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
}
.no-dash-na:last-child {
  opacity: 0;
  animation: fdIn 1s linear 5s forwards;
}
@keyframes fdIn {
  100% {
    opacity: 1;
  }
}
.line-anim-css {
  transition: 2s linear;
  stroke-dashoffset: 0 !important;
}

.line-anim-css {
  transition: 2s linear;
  stroke-dashoffset: 0 !important;
}
.hoveredImg {
  transform: scale(1.15);
  cursor: pointer;
}
.boxes_top_txt {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 2%;
  background: #adecfc;
  font-size: 3vw;
}
.btmContainer {
  position: absolute;
  top: 20%;
  height: 58%;
  left: 0%;
  width: 100%;
}
.imgdiv {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 27%;
  background: #fff;
  border-radius: 1em;
}
.imgbox {
  position: absolute;
  top: 10%;
  left: 19%;
  width: 59%;
}
.speakerimg {
  position: absolute;
  top: 2%;
  right: 5%;
  width: 17%;
  display: none;
}
.speakerimg:hover {
  cursor: pointer;
}
.boxTxt {
  position: absolute;
  top: 66%;
  color: #000;
  font-size: 4vw;
  font-family: Arial;
  left: 50%;
  transform: translateX(-50%);
}
.grayLtr {
  color: #434343;
}
.div1 {
  left: 5%;
}
.div2 {
  left: 37%;
}
.div3 {
  left: 69%;
}
.topLtrContainer {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 42%;
}
.imgspkrcontainer {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.topLtrBox {
  position: absolute;
  top: 0%;
  left: 29%;
  width: 40%;
  height: 100%;
  opacity: 0;
}
.fadeInFirst {
  animation: fadein 2s linear 0s forwards;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
.letterImg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.creambg {
  background: #fbe4d4;
}

.names {
  position: absolute;
  left: 0%;
  width: 100%;
  font-size: 5vw;
  opacity: 0;
  animation: fadein 1s linear 0.3s forwards;
}

.slidercontainer {
  position: absolute;
  right: 0%;
  width: 50%;
  height: 100%;
  background: #f96f78;
}
.sliderwrapper {
  position: absolute;
  top: 10%;
  width: 94%;
  height: 78%;
  background: #fff;
  left: 4%;
  border-radius: 3em;
  overflow: hidden;
}
.innerwrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}
.slider {
  display: block;
  transform: translate(-100%);
  left: 100%;
  padding: 6%;
  height: 100%;
}

.slideimg {
  width: 100%;
}
.arrow {
  position: absolute;
  top: 90%;
  left: 45%;
  width: 12%;
  z-index: 20;
}
.arrow:hover {
  cursor: pointer;
}
.imagenameblock {
  position: absolute;
  top: 77%;
  left: 24%;
  width: 57%;
  height: 30%;
}

.slideTxt {
  position: absolute;
  top: 76%;
  left: 0%;
  width: 100%;
  font-size: 5vw;
  font-family: georgia;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
.blueLtr {
  color: #351c75;
  background: #a8e5f4;
  border-radius: 0.1em;
  padding: 2%;
}
.orangeLtr {
  color: #d4a847;
}
.redLtr {
  color: #af4425;
}
.grenLtr {
  color: #548135;
}
.drkorangeLtr {
  color: #ed7d31;
}
.scale {
  animation: scaleUp 2s linear forwards;
}
@keyframes scaleUp {
  100% {
    transform: scale(1.5);
  }
}

.animLeft {
  animation: animleft 2s linear forwards;
}
@keyframes animleft {
  100% {
    left: 10%;
  }
}
.xtratxt {
  position: absolute;
  top: 68%;
  left: 39%;
  transform: translate(-50%);
  font-size: 3.5vw;
  background: #a8e5f4;
  padding: 1%;
  border-radius: 0.1em;
  color: #351c75;
  height: 23%;
  width: 22%;
}
.animLtr {
  animation: incFnt 3s linear forwards;
  -webkit-transition: 2s;
  transition: 2s;
}
.scld {
  animation: sclAnim 1s linear infinite;
}
@keyframes incFnt {
  100% {
    transform: scale(4.55);
    top: 37%;
  }
}
.redBg {
  background: #f96f78;
}
@keyframes sclAnim {
  50% {
    transform: scale(1.2);
  }
}
@media (min-aspect-ratio: 4/3) {
  .boxTxt {
    font-size: 9vh;
  }
  .boxes_top_txt {
    font-size: 6vh;
  }
}
@media (max-aspect-ratio: 4/3) {
  .boxTxt {
    font-size: 4.5vw;
  }
  .boxes_top_txt {
    font-size: 3vw;
  }
}
