
#p5_2
{
	display: none;
	font-size: 1.5em;
	padding: 2%;
	background: rgba(255,255,255,0.4);
	margin: 10% 3%;
}

#p5_3
{
	text-align: center;
	display: none;
	color:blue;
	font-size: 1.2em;
}
#arrowBtn
{
	text-align: right;

	display: none;

	position:absolute;
	bottom: 1%;
	right: 1%;

	cursor: pointer;
color:black;
font-size:2em;
text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;

}

#animationBx{
	width:100%;
	height: 78%;
	padding:2%;
	display: none;

	/*background: #000;*/

}
.picImg
{
	width: 50%;
	background:rgba(255,255,255,0.4);
	float: left;

}
#dropImg
{
	width: 100%;

	margin: auto!important;
	text-align: center;

}


.imgclass1 img
{
	width: 74%;

}

.imgclass2 img
{
	width: 83%;

}

.imgclass3 img
{
	width: 81%;

}
.imgclass4 img
{
	width: 81%;

}
.anotherImg
{
	float: left;
	width: 45%;

	margin-left: 5%!important;
}


#nextArr
{


	text-align: right;
	display: none;


	font-size:2em;
	cursor: pointer;
color:black;


text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;

}

#nextArr{
position: absolute;
	right: 1%;
bottom: 1%;
width: 12%;
}

#arrowBtn,
#nextArr{
	width: 8%;
}


#arrowBtn:hover #activityNextHoverBtn,
#nextArr:hover #activityNextHoverBtn
{
	display: block;
}



#arrowBtn:hover #activityNextBtn,
#nextArr:hover #activityNextBtn
{
	display: none;
}

#repeatArr
{
	position: absolute;
	right: 3%;
	top: 20%;
}
#titleTxt1
{

	font-size: 2em;
	color: blue;
	border-bottom: 1px #fff dashed;
	margin-bottom: 5%;
}

#expText
{
	color: green;
	font-size: 1.6em;
	display: none;
}

.extraCss
{
	width: 200%;

	background:rgba(255,255,255,0.4);
	padding: 2%!important;
	text-align: center;
	margin-top: 20%!important;

}
