<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            <!-- for question with image. text or image as options -->
             {{#if imgexerciseblock}}
            {{#each imgexerciseblock}}
                    <p class="question_img {{ques_class}}"><span id="num_ques">1. </span>{{{textdata}}}</p>

                    <img src="{{ques_img}}" class="questionimg">
                    <p class="questiontext">{{{questiontext}}}</p>
                    <div class="optionsdiv_img">
                    {{#each exeoptions}}
                        <div class="optionscontainer_img">
                            <p class="forhover buttonsel {{forshuffle}} {{backgroundtrue}} {{backgroundopt}}">{{optdata}}</p>
                            <span class="ani_caption">{{optionstext}}</span>

                            <img src="images/correct.png" class="imagestartpos_img corctopt">

                            <img src="images/wrong.png" class="imagestartpos_img wrngopt">
                        </div>
                    {{/each}}

                    </div>
            {{/each}}

             {{/if}}

             </div>
            </div>
        </script>



<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
