@font-face {
  font-family: amaranth;
  src: url("../../../../../fonts/amaranath/amaranth-regular.ttf");
}

@font-face {
  font-family: amaranth_bold;
  src: url("../../../../../fonts/amaranath/amaranth-bold.ttf");
}

.readingmap_page1 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #fff;
  box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page1,
.readingmap_page1 * {
  position: relative;
  margin: 0;
  padding: 0;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: #fffced;
}

.nextBtn {
  bottom: 1%;
  right: 0%;
  position: absolute;
  display: none;
  cursor: pointer;
  width: 7%;
  height: 10%;
}

.prevBtn {
  bottom: 1%;
  left: 0%;
  position: absolute;
  display: none;
  cursor: pointer;
  width: 7%;
  height: 10%;
}

.coverBoardFull {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.vertical-horizontal-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

div.board > div.slide1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.backgroundImagesContainer > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  -webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
  animation: fadein 2s 1 forwards;
}

/**
* head text container
*/
.uppertextblock {
  font-family: amaranth;
  background: #00c28b;
  width: 100%;
  height: 15%;
  color: #fff;
  position: absolute;
  box-shadow: 0px 6px 1px #7cd8b1;
}

.head-text {
  font-size: 5vmin;
  margin-top: 2.5%;
}

/*definition block*/
.definitionblock {
  height: 14%;
  width: 23%;
  position: absolute;
  top: 20%;
  left: 4%;
  color: #ffffff;
}

.intro1,
.intro2 {
  font-size: 3vmin;
  box-sizing: border-box;
  padding: 1.3% 0;
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.relation {
  position: absolute;
  width: 11%;
  height: 5%;
  background: #674ea7;
  border-radius: 10px;
  font-size: 3vmin;
  display: none;
  color: #fffced;
  box-sizing: border-box;
  padding: 0.7%;
}

.grandfather1 {
  top: 33%;
  left: 42%;
  width: 15%;
}

.grandmother1 {
  top: 33%;
  left: 62%;
  width: 15%;
}

.father1 {
  top: 58%;
  left: 29%;
}

.mother1 {
  top: 58%;
  left: 41.15%;
}

.aunt1 {
  top: 58%;
  right: 14%;
}

.uncle1 {
  top: 58%;
  right: 26%;
}

.myself1 {
  top: 83%;
  left: 26%;
}

.mybro1 {
  top: 83%;
  left: 41.05%;
}

.cousinbro1 {
  top: 83%;
  right: 14%;
}

.cousinsis1 {
  top: 83%;
  right: 26.1%;
}

.family-intro {
  font-size: 3vmin;
  box-sizing: border-box;
  padding: 1.3% 0;
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

/* images */
.img {
}

.slideimg1 {
  position: absolute;
  left: 0%;
  top: 36%;
  height: 60%;
  opacity: 0;
  filter: drop-shadow(-2px 0px 2px #aaaaaa);
}

.slideimg2 {
  position: absolute;
  right: 5%;
  top: 0%;
  height: 60%;
  opacity: 0;
  animation: slideDown 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}

/*dialog box*/
.dialog-box {
  height: 20%;
  width: 27%;
  position: absolute;
  top: 20%;
  left: 2%;
  opacity: 0;
  animation: 1s fadeInBox;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

/* node */
.node {
  position: absolute;
  display: none;
  z-index: 222;
  animation: pound 2s;
  animation-delay: 0.5s;
  height: 0.6%;
}

@keyframes pound {
  50% {
    transform: scale(1.5, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.node1 {
  top: 31.5%;
  right: 37.4%;
  width: 6%;
}

.node2 {
  top: 56.7%;
  left: 39.5%;
  width: 2%;
}

.node3 {
  top: 56.7%;
  right: 24.6%;
  width: 2%;
}

@keyframes fadeInBox {
  to {
    opacity: 1;
  }
}

.dialog-box-blink {
  opacity: 1;
  animation: blinkBox 7s;
}

@keyframes blinkBox {
  50% {
    opacity: 0.8;
  }
}

.family {
  background-size: 200% 100%;
  background-position: 0% 0%;
  background-color: #c9f7ff;
  border: 2px solid #95dcdd;
  border-radius: 50%;
  position: absolute;
  height: 14%;
  width: 9%;
  animation-name: smile;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes smile {
  99.9% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.grandfather {
  background-image: url("../images/grandfather.png");
  top: 22%;
  left: 45%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.grandmother {
  background-image: url("../images/grandmother.png");
  top: 22%;
  left: 65%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.father {
  background-image: url("../images/father.png");
  top: 47%;
  left: 30%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.mother {
  background-image: url("../images/mother.png");
  top: 47%;
  left: 42%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.uncle {
  background-image: url("../images/uncle.png");
  top: 47%;
  right: 27%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.aunt {
  background-image: url("../images/aunt.png");
  top: 47%;
  right: 15%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.me {
  background-size: 100% 100%;
  background-image: url("../images/me.png");
  top: 72%;
  left: 30%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.mybro {
  background-image: url("../images/mybro.png");
  top: 72%;
  left: 42.01%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.cousinbro {
  background-image: url("../images/cousion1.png");
  top: 72%;
  right: 15%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

.cousinsis {
  background-image: url("../images/cousion2.png");
  top: 72%;
  right: 27.1%;
  opacity: 1;
  animation: relativeBlink 4s;
  animation-delay: 1s;
}

@keyframes relativeBlink {
  50% {
    background-color: #ffe478;
    border: 2px solid #ffe478;
  }
}

/* lines to connect*/
hr {
  border: none;
  height: 0.6%;
  width: 0;
  background-color: #f7afc2;
  position: absolute;
  display: none;
  z-index: 555;
}

/* finish text */
.finishtxt {
  background-color: #85a1b9;
  box-shadow: 2px 2px 5px #000000;
  color: #ffffff;
  display: none;
  font-size: 1.5em;
  left: 8%;
  margin-bottom: 15px;
  padding: 20px;
  position: absolute;
  top: 40%;
  width: 83%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.line2 {
  top: 28.3%;
  left: 59.55%;
  width: 0.3%;
  height: 10%;
  animation: none;
}
.line3 {
  top: 38.3%;
  right: 40.2%;
  width: 25.4%;
  animation: none;
}

.line4 {
  top: 38.9%;
  left: 34.4%;
  width: 0.3%;
  height: 4.6%;
  animation: none;
}
.line1 {
  top: 38.3%;
  left: 59.5%;
  width: 21%;
  animation: none;
}
.line5 {
  top: 38.3%;
  right: 19.5%;
  width: 0.3%;
  height: 5.2%;
  animation: none;
}
.line8 {
  top: 53.4%;
  left: 40.4%;
  width: 0.31%;
  height: 22%;
  animation: none;
}
.line6 {
  bottom: 17%;
  left: 39%;
  width: 3.1%;
  animation: none;
}
.line9 {
  top: 53.4%;
  right: 25.3%;
  width: 0.33%;
  height: 22%;
  animation: none;
}
.line11 {
  bottom: 17%;
  right: 24%;
  width: 3.1%;
  animation: none;
}
.coverpage {
  position: absolute;
  width: 101%;
  left: 0%;
}
.titletext {
  position: absolute;
  width: 75%;
  height: 20%;
  text-align: center;
  padding: 4%;
  top: 0%;
  font-size: 3vw;
  font-family: amaranth;
  color: #00c28b;
}
