.page {

	width: 75%;
	position: absolute!important;
	top:5%;
	left: 15%;
	padding: 0!important;
	color: #212121;
	text-align: center;
	height: 90%;

	

	background: white;

	-webkit-background-size: 100% 40px;

	-webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
	
}

.corrans
{
	background: #83b81a!important;
}

.page p {
	
	
	margin-bottom:2%!important;
	font-size: 1.5em;
	color: purple;
	
	max-width: 50%;


}
.Ok{
	 margin-left: 5%!important;
	 width: 20%;
}
.notOk{
	width: 10%;
	 margin-left: 5%!important;
}
.exe_t
{
	
	font-size: 1.5em;
	line-height: 1em;
	
	width: 100%;
}

.allquestion
{
	display: none;
	
	padding: 5%!important;
	margin: auto!important;
	text-align: left;
}
.myques
{
	font-size: 1.6em;
	color: blue;
	margin-bottom: 2%!important;
	
}

.optObj
{
	-moz-box-shadow:     0 0 10px #27A17B;
	-webkit-box-shadow:  0 0 10px #27A17B;
	box-shadow:          0 0 10px #27A17B;
	margin-left: 20%!important;
	padding: 2%!important;
	cursor: pointer;
}


.optObj2
{
	/*box-shadow: 0 2px 10px 1px rgba(0,0,0,.5);*/
	margin-left: 20%!important;
	padding: 2%!important;
	
}

#nextBtnId
{
	position: absolute;
	
	bottom: 1%;
	right: 1%;
	width: 12%;
	text-align: right;
	display: none;

	cursor: pointer;
color:black;
font-size:2em;	
text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;

}

#nextBtnId:hover #activityNextHoverBtn{
	display: block;
}

#nextBtnId:hover #activityNextBtn
{
	display: none;
}

.result
{
	-moz-box-shadow:     0 0 10px #27A17B;
	-webkit-box-shadow:  0 0 10px #27A17B;
	box-shadow:          0 0 10px #27A17B;
	text-align: center;
	font-size: 1em;
	color: blue;
	margin-bottom: 3%!important;
}

.allAns
{
	-moz-box-shadow:     0 0 10px #27A17B;
	-webkit-box-shadow:  0 0 10px #27A17B;
	box-shadow:          0 0 10px #27A17B;
	text-align: left;
	font-size: 1.2em;
	padding: 3%!important; 
	color: purple;
}

.allAns span 
{
	color: blue;
	margin-left: 5%!important;
	border-bottom: red 2px dashed; 
}

