.text-1 {
	color: #595959;
	position: absolute;
	width: 100%;
	padding: 1% 2.5%;
	left: 0%;
	top: 1%;
	z-index: 15;
	font-family: comicsans;
	font-size: 2.5vw;
	text-align: left;
}
@media(min-aspect-ratio:4/3){
	.text-1{
		font-size:3.5vh;
	}
}

svg{
	width: 100%;
	height: 100%;
	position: absolute!important;
	left: 0%;
	top: 0%;
}
..sp-1, .sp-2, .sp-3, .sp-4,{
	cursor: pointer;
}
.sp-1, .sp-2, .sp-3, .sp-4, .sp-5, .sp-6, .sp-7{
	font-family: comicsans;
	font-size: 2.4vw;
}
@media(min-aspect-ratio:4/3){
	.sp-1, .sp-2, .sp-3, .sp-4, .sp-5, .sp-6, .sp-7{
		font-size: 3.6vh;
	}
}
.sp-1{
	bottom: 38%;
	left: 20%;
	width: 45%;
	height: 35%;
	z-index: 2;
	color: #595959;
}





#svg-1{
	position: absolute;
	bottom: -17%;
	left: 0%;
	width: 100%;
	height: 80%;
}


.road-anim{
	stroke-dasharray: 2800;
	stroke-dashoffset: 2800;
	stroke-width: 4;
	-webkit-animation: road-anim 10s linear 1s infinite both;
	animation: road-anim 10s linear 1s infinite both;
}
@-webkit-keyframes road-anim {
	100% {stroke-dashoffset: 0;}
}
@keyframes road-anim {
	100% {stroke-dashoffset: 0;}
}


.text-2 {
	color: #595959;
	position: absolute;
	width: 100%;
	left: 0%;
	top: 39.5%;
	height: 32%;
	z-index: 15;
	font-family: comicsans;
	background-color: #EFEFEF;
	border-radius: 2.5vmin;
	font-size: 2.3vw;
	text-align: left;
}
.text-2>p{
	position: absolute;
	top: 50%;
	left: 5%;
	width: 90%;
	transform: translateY(-50%);
}
@media(min-aspect-ratio:4/3){
	.text-2{
		font-size:3.3vh;
	}
}
.top-slider{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 44%;
}
.bottom-slider{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
}
.girl-slider{
	position: absolute;
	bottom: 0%;
	left: 8%;
	height: 80%;
}
.slide-in-anim{
	animation-duration: 2s;
	animation-fill-mode: both;
}

.slide-in-anim2{
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: both;
}
.girl-1{
	position: absolute;
	left: 49.4%;
	bottom: 0%;
	height: 40.5%;
}
.boy-1{
	position: absolute;
	left: 69.7%;
	bottom: -2.5%;
	height: 32%;
}
.grandma-1{
	position: absolute;
	left: 5.5%;
	bottom: -49%;
	height: 105%;
}


.bg-extended{
	position: absolute;
	right: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
}


.sp-2{
	bottom: 38%;
	left: 53%;
	width: 43%;
	height: 50%;
	z-index: 2;
	color: #595959;
}
.margintop-speech{
	display: inline-block;
	margin-top: 5%;
}
.margintop-speech-small{
	display: inline-block;
	margin-top: 2%;
}
.marginbottom-speech{
	display: inline-block;
	margin-bottom: 5%;
}
.margin-speech{
	display: inline-block;
	margin: 4% 0%;
}
.room-zoom{
	-webkit-animation: room-zoom 2s ease-in 0s both;
	animation: room-zoom 2s ease-in 0s both;
}
@-webkit-keyframes
room-zoom {
	100% {width: 290%; height: 290%;}
}
@keyframes
room-zoom {
	100% {width: 290%; height: 290%;}
}


.bg-1{
	background-color: #93C47D;
}
.bg-2{
	background-color: #E6B34C;
}
.bg-3{
	background-color: #A4C2F4;
}


.dboxes{
	position: absolute;
	background-color: #EFEFEF;
	border-radius: 4vmin;
	color: #595959;
	font-size: 2.3vw;
	font-family: comicsans;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
}
@media(min-aspect-ratio:4/3){
	.dboxes{
		font-size: 3.2vh;
	}
}
.dboxes>p{
	width: 80%;
}
.margintop-5{
	margin-top: 5%;
}
.margintop-10{
	margin-top: 10%;
}

.db-1{
	width: 57%;
	left: 7%;
	top: 9%;
	height: 28%;
	text-align: left;
}
.db-2{
	width: 64%;
	left: 30.5%;
	bottom: 9%;
	height: 41%;
	z-index: 5;
}





.girl-i1{
	position: absolute;
	left: 55.6%;
	top: 6%;
	height: 61%;
	z-index: 2;
}
.grandma-i1{
	position: absolute;
	left: 7%;
	top: 41%;
	height: 105%;
	z-index: 8;
}




.db-3{
	position: absolute;
	background-color: #EFEFEF;
	color: #595959;
	font-size: 2.3vw;
	font-family: comicsans;
	width: 88.5%;
	left: 2%;
	top: 2%;
	height: 76%;
	border-radius: 6vmin;
	z-index: 2;
	text-align: left;
}
.dbc-1{
	position: relative;
	margin-top: 5%;
	width: 90%;
	left: 5%;
}
.dbc-2{
	position: relative;
	margin-top: 5%;
	width: 60%;
	left: 33%;
}
@media(min-aspect-ratio:4/3){
	.db-3{
		font-size: 3.2vh;
	}
}
.db-4{
	width: 85%;
	left: 4%;
	bottom: 2.5%;
	height: 15%;
	z-index: 5;
	border-radius: 2.5vmin;
}
.grandma-i2{
	position: absolute;
	left: 1%;
	top: 34%;
	height: 88%;
	z-index: 3;
}
.boy-i1{
	position: absolute;
	left: 81%;
	bottom: -1%;
	height: 35%;
	z-index: 8;
}
.bottom-extra-layer{
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 10%;
	z-index: 3;
	background-color: #E6B34C;
}




.db-5{
	width: 49%;
	left: 8%;
	top: 2.5%;
	height: 68%;
	z-index: 2;
	border-radius: 8.5vmin;
}
.db-6{
	width: 65%;
	left: 21.2%;
	bottom: 2.5%;
	height: 24%;
	z-index: 5;
	border-radius: 2.5vmin;
}
.db-6>p{
	width: 95%;
}
.grandma-i3{
	position: absolute;
	left: -1%;
	top: 55%;
	height: 85%;
	z-index: 3;
}
.girl-i2{
	position: absolute;
	left: 84%;
	bottom: 1%;
	height: 36%;
	z-index: 8;
}
.map{
	position: absolute;
	width: 38%;
	right: 2.5%;
	border: 2vmin solid #EEEEEE;
	top: 2%;
}



.bg-4{
	background-color: #BF588B;
}
.bg-5{
	background-color: #E6B34C;
}


.db-7{
	width: 88%;
	left: 6%;
	top: 9.5%;
	height: 29%;
	z-index: 2;
	border-radius: 4.5vmin;
}

.girl-i4{
	position: absolute;
	left: 54%;
	top: 55%;
	height: 78%;
	z-index: 8;
}
.sp-3{
	bottom: 36%;
	left: 25%;
	width: 50%;
	height: 34%;
	z-index: 2;
	color: #595959;
}






.sp-4{
	bottom: 25.5%;
	left: 3.5%;
	width: 91%;
	height: 73%;
	z-index: 2;
	color: #595959;
}
.grandma-i4{
	position: absolute;
	left: 9%;
	top: 55%;
	height: 85%;
	z-index: 3;
}
.school{
	position: absolute;
	bottom: -4%;
	width: 38%;
	left: 35%;
}




.sp-5{
	top: 10.5%;
	left: 5.5%;
	width: 70.5%;
	height: 70%;
	z-index: 8;
	color: #595959;
	text-align: left;
}
.sp-5>p{
	width: 80%;
	left: 6%;
	top: 50%;
}
.grandma-i5{
	position: absolute;
	top: 10%;
	right: 9.5%;
	height: 80%;
	z-index: 3;
}
.women{
	position: absolute;
	bottom: 6%;
	width: 38%;
	right: 2%;
	z-index: 6;
}
.img-label{
	position: absolute;
	font-size: 2vw;
	font-family: sniglet;
	color: black;
	background-color: white;
}
@media (min-aspect-ratio:4/3){
	.img-label{
		font-size: 2.7vh;
	}
}
.label-1{
	top: 94%;
	width: 38%;
	right: 2%;
	z-index: 6;
}
















.sp-6{
	bottom: 52%;
	left: 0.5%;
	width: 66.5%;
	height: 44%;
	z-index: 8;
	color: #595959;
	text-align: left;
}
.grandma-i6{
	position: absolute;
	top: 46%;
	left: 0.5%;
	height: 95%;
	z-index: 3;
}
.dozer{
	position: absolute;
	bottom: 6%;
	width: 66%;
	right: 4%;
	z-index: 6;
}
.label-2{
	top: 94%;
	width: 66%;
	right: 4%;
	z-index: 6;
}

.sp-7{
	bottom: 28%;
	left: 27%;
	width: 67%;
	height: 54%;
	z-index: 2;
	color: #595959;
}
.last-block{
	position: absolute;
	background-color: #EFEFEF;
	text-align: left;
	width: 84%;
	left: 2%;
	top: 2.5%;
	height: 19%;
	z-index: 2;
	border-radius: 2.5vmin;
	font-size: 2.5vw;
	color: #595959;
	font-family: comicsans;
	z-index: 1;
	padding: 2%;
}
@media(min-aspect-ratio:4/3){
	.last-block{
		font-size: 3.4vh;
	}
}



.girl-last{
	position: absolute;
	left: 50%;
	bottom: 0%;
	height: 40.5%;
}
.boy-last{
	position: absolute;
	left: 69.7%;
	bottom: -2.5%;
	height: 32%;
}
.grandma-last{
	position: absolute;
	left: 4.5%;
	top: 45%;
	height: 100%;
}

.creds{
	position: absolute;
	top: 64%;
	width: 100%;
	left: 0%;
	font-family: abeezee;
	font-size: 1.7vw;
}
.end{
	position: absolute;
	top: 30%;
	left: 0%;
	width: 100%;
	font-weight: bold;
	color: #108A09;
	font-size: 6vw;
	font-family: ShortStack;
}
.credit{
	position: absolute;
	top: 47%;
	left: 0%;
	width: 100%;
	font-size: 3.5vw;
	font-family: abeezee;
}
