.thinking {
	color: #FFFFFF;
	position: absolute;
	background-color: #6D9EEB;
	left: 50%;
	top: 7.5%;
	transform: translate(-50%, 0%);
	z-index: 15;
	font-family:"Arial";
	border-radius: 2vmin;
	font-size: 3.5vw;
	padding: 1% 2%;
	box-shadow: 0.3vmin 0.3vmin 0.5vmin #666;
}
@media(min-aspect-ratio:4/3){
	.thinking{
		font-size:4.5vh;
	}
}
.road-text {
	position: absolute;
	left: 5%;
	width: 90%;
	bottom: 5%;
	font-family: sniglet;
	z-index: 15;
	font-size: 3vw;
	color: #0B5394;
	text-align: left;
}
@media(min-aspect-ratio:4/3){
	.road-text{
		font-size: 4vh;
	}
}