.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top: 85%;
	left: 93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top: 85%;
	left: 5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/
.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 10px;
	padding-top: 2%;
	line-height: 1.5em;
}

.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1.3em;
	color: #996699;
}

.wrapperIntro.firstPage .ind2 {
	font-size: 1.3em;
	color: #996699;
}

.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}

.wrapperIntro.firstPage .text1, .wrapperIntro.firstPage .text2,
	.wrapperIntro.firstPage .text3, .wrapperIntro.firstPage .text4,
	.wrapperIntro.firstPage .text5, .wrapperIntro.firstPage .text6,
	.wrapperIntro.firstPage .text7, .wrapperIntro.firstPage .text8,
	.wrapperIntro.firstPage .text9, .wrapperIntro.firstPage .text10,
	.wrapperIntro.firstPage .text11, .wrapperIntro.firstPage .text12 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}

.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1.3em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {

}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1, .wrapperIntro.baseAndIndices .text2
	{
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover, .wrapperIntro.baseAndIndices .text2:hover
	{
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0, .wrapperIntro.baseAndIndices2 .text1
	{
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform: rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform: rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform: rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform: rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5 {
	color: #538cdb;
}

/*added by manish*/
.wrapperIntro.second .text1, .wrapperIntro.second .text2, .wrapperIntro.second .text3,
	.wrapperIntro.second .text4, .wrapperIntro.second .text5, .wrapperIntro.second .text6,
	.wrapperIntro.second .text7, .wrapperIntro.second .text8, .wrapperIntro.second .text9,
	.wrapperIntro.second .text10, .wrapperIntro.second .text11,
	.wrapperIntro.second .text12 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.second .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699;
}

.wrapperIntro.second .yellow {
	color: #F2C249;
}

.wrapperIntro.second .green {
	color: #00AAA0;
}

.wrapperIntro.second .imageholder01 {
	display: none;
}

.wrapperIntro.second .imageholder02 {
	display: none;
}

#fun_1>img {
	width: 54%;
}

#ball_1 {
	background: #F2C249;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	left: 20%; /*24%;*/
	top: 0;
}

#ball_2 {
	background: #C25B56;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
}

#ball_3 {
	background: #00AAA0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	left: 20%; /*24%;*/
	top: 0;
}

.img-des1 {
	display: inline-flex;
	width: 100%;
}

.imageholder01 {
	width: 40%;
}

.image1des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

.img-des2 {
	display: inline-flex;
	width: 100%;
}

.imageholder02 {
	width: 40%;
}

.image2des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

/*first figure pachi ko styling*/

/********************third page****************/
.wrapperIntro.third .ind2 {
	color: #996699;
}

.wrapperIntro.third .imageholder03 {
	display: none;
}

#fullname {
	color: #cece00;
	position: absolute;
	top: 0;
	left: 14%; /*4%;*/
	transform: rotate(90deg) !important;
	font-weight: bold;
	font-size: 11px;
}

#firstname {
	color: #538cdb;
	position: absolute;
	left: 13%;
}

.imageholder01 {
	position: relative;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/
.img-des3 {
	display: inline-flex;
	width: 100%;
}

.imageholder03 {
	width: 40%;
}

.image3des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

.des10 {
	margin-left: 9.55%;
}

.des11 {
	margin-left: 9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/
.img-des4 {
	display: inline-flex;
	width: 100%;
}

.imageholder04 {
	width: 40%;
}

.image4des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

.wrapperIntro.third .imageholder04 {
	display: none;
}

#fullname01 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 7%; /*13%; */
	transform: rotate(90deg) !important;
	font-weight: bold;
	font-size: 11px;
}

#firstname01 {
	color: #538cdb;
	position: absolute;
	left: 13%;
}

/*page4*/
.wrapperIntro.fourth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699;
}

.wrapperIntro.fourth .imageholder05 {
	display: none;
}

.wrapperIntro.fourth .imageholder06 {
	display: none;
}

.wrapperIntro.fourth .text1 {
	display: none;
}

.wrapperIntro.fourth .text2 {
	display: none;
}

.img-des5 {
	display: inline-flex;
	width: 100%;
}

.imageholder05 {
	width: 40%;
}

.image5des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input01 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output01 {
	color: #c25b56;
	position: absolute;
	left: 21%;
}

.main-fun {
	background: #a8a8fb none repeat scroll 0 0;
	border-radius: 5px;
	left: 17%;
	padding: 10px;
	position: absolute;
	top: 61%;
}

.img-des6 {
	display: inline-flex;
	width: 100%;
}

.imageholder06 {
	width: 40%;
}

.image6des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input02 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output02 {
	color: #c25b56;
	position: absolute;
	left: 21%;
}
/*******end of page 4*************/

/****page5*************/
.wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699;
}

.wrapperIntro.fifth .imageholder07 {
	display: none;
}

.wrapperIntro.fifth .imageholder08 {
	display: none;
}

.wrapperIntro.fifth .text1 {
	display: none;
}

.wrapperIntro.fifth .text2 {
	display: none;
}

.img-des7 {
	display: inline-flex;
	width: 100%;
}

.imageholder07 {
	width: 40%;
}

.image7des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input03 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output03 {
	color: #C25B56;
	position: absolute;
	left: 21%;
}

.main-fun {
	background: #a8a8fb none repeat scroll 0 0;
	border-radius: 5px;
	left: 14.5%;
	width: 15%;
	position: absolute;
	top: 57%;
	text-align: center;
	font-style: bold;
}

.img-des8 {
	display: inline-flex;
	width: 100%;
}

.imageholder08 {
	width: 40%;
}

.image6des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input04 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output04 {
	color: #C25B56;
	position: absolute;
	left: 21%;
}

/******end of page5********/

/*added by manish*/
.wrapperIntro.second .des8 {
	border: 2px solid #538cdb;
	font-size: 1.5em;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 712px;
	display: none;
}

.p1_41 {
	border: 2px solid #538cdb;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 712px;
}

.p1_39 {
	margin-left: 19%;
}

.p1_40 {
	margin-left: 19%;
}

.image8des {
	margin-top: 100px;
}

/*added for unitary 02*/
.main-bg .img-responsive {
	width: 100%;
	height: 100%;
}

.deepa {
	position: absolute;
	right: 7%;
	top: 9%;
}

.img-containeer {
	border: 5px solid #ccc;
}

.img-a .img-responsive {
	width: 55%;
	height: 45%;
}

.img-b .img-responsive {
	width: 55%;
	height: 45%;
}

.img-c .img-responsive {
	width: 55%;
	height: 45%;
}

.img-d .img-responsive {
	width: 55%;
	height: 45%;
}

.border {
	border: solid 3px #333;
	border-radius: 49%;
	height: 45%;
	width: 60%;
}

/*styles implemented by manish*/

/*for chapter titles and page titles*/
/*.wrapperIntro.firstPage .text0 {
	color: #0068b3;
	font-size: 1.3em;
	text-align: center;
	padding-bottom: 2%;
}*/

.wrapperIntro.firstPage .image-holder {
	display: none;
}
/*end of title*/
/*.char-holder {
	display: inline-flex;
	width: 100%;
}

.row.char-holder {
	position: absolute;
	top: 67%;
}

.char-holder {
	margin-bottom: 0;
	margin-left: 25% !important;
	width: 59% !important;
}

.slideLeft {
	animation-duration: 0.5s !important;
}

.slideRight {
	animation-duration: 0.5s !important;
}

.wrapperIntro.second .char-a .img-responsive {
	top: 2%;
	width: 50%;
}

.wrapperIntro.second .char-b .img-responsive {
	top: 2%;
	width: 50%;
}

.bub1::before {
	border-color: #2ec3ed transparent;
	border-style: solid;
	border-width: 30px 30px 0;
	bottom: -35px;
	content: "";
	display: block;
	left: 21%;
	position: absolute;
	width: 0;
}

.bub1::after {
	bottom: -28px;
	content: "";
	display: block;
	left: 5px;
	position: absolute;
	width: 0;
}

.bub1 {
	background: #ffffff none repeat scroll 0 0;
	border: 5px solid #2ec3ed;
	border-radius: 10px;
	color: #333333;
	display: none;
	height: 46%;
	margin: 1em 0 3em;
	padding: 5px;
	position: absolute;
	width: 84%;
	top: 13%;
}

.bub2::before {
	border-color: #b8d73d transparent;
	border-style: solid;
	border-width: 30px 30px 0;
	bottom: -35px;
	content: "";
	display: block;
	left: 69%;
	position: absolute;
	width: 0;
}

.bub2::after {
	border-color: #fff transparent;
	border-style: solid;
	border-width: 200px 200px 0;
	bottom: -28px;
	content: "";
	display: block;
	left: 48.7%;
	position: absolute;
	width: 0;
}

.bub2 {
	background: #fff none repeat scroll 0 0;
	border: 5px solid #b8d73d;
	border-radius: 10px;
	color: #333;
	height: 46%;
	margin: 1em 0 3em;
	padding: 15px;
	position: absolute;
	display: none;
	top: 13%;
	width: 84%;
}*/

.wrapperIntro.second .text0 {
	    color: #ffffff;
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 4%;
    background-color: #FF595B;
    height: 10%;
    padding-top: 1.5%;
    width: 97%;
    left: 1.5%;
}

.exponential .board .wrapperIntro {
	xbackground: rgba(0, 0, 0, 0)
		-moz-linear-gradient(left center, #82dce1 0%, #ffffff 10%, #ffffff 90%,
		#82dce1 100%) repeat scroll 0 0;
	height: 100%;
	left: 0;
	x padding: 3% 85px 10px;
	top: 0;
	width: 100%;
	background: #ffffff;
}

.wrapperIntro.second .text1 {
	color: #919191;
    font-size: 1.1em;
    left: 49%;
    line-height: 1.5em;
    position: absolute;
    text-align: justify;
    top: 34%;
    width: 40%;
    z-index: 100;
}

.wrapperIntro.second .text2 {
	color: #919191;
    font-size: 1.1em;
    left: 7%;
    line-height: 1.5em;
    position: absolute;
    text-align: justify;
    top: 32%;
    width: 43%;
    z-index: 100;
}

.wrapperIntro.second .cylinder {
	display: none;
    left: -1%;
    position: absolute;
    top: 24%;
    width: 26%;
    z-index: 1000;
}

.wrapperIntro.second .text4, .wrapperIntro.second .text5,
.wrapperIntro.second .text6, .wrapperIntro.second .text7, .wrapperIntro.second .text8
	{
	color: #000;
    font-size: 1.3em;
    left: 25%;
    line-height: 2em;
    top: 31%;
    z-index: 100;
}

.wrapperIntro.second .text8 {
	font-size: 1.3em;
    left: 25.3%;
    position: absolute;
    text-align: center;
    top: 57%;
    z-index: 100;
}

.wrapperIntro.second .text3 {
	color: #218ee1;
    font-size: 1.3em;
    left: 21.5%;
    line-height: 1.5em;
    position: absolute;
    top: 42%;
    width: 35%;
    z-index: 99;
}


.wrapperIntro.second .text9 {
    color: #218ee1;
    font-size: 1.3em;
    left: 21%;
    line-height: 1.5em;
    position: absolute;
    top: 43%;
    width: 35%;
    z-index: 99;
}

/*.wrapperIntro.third .text0 {
	color: #0068b3;
	font-size: 1.3em;
	text-align: center;
	padding-bottom: 2%;
}*/

.wrapperIntro.third .text1, .wrapperIntro.third .text2, .wrapperIntro.third .text3,
	.wrapperIntro.third .text4, .wrapperIntro.third .text5, .wrapperIntro.third .text6,
	.wrapperIntro.third .text7, .wrapperIntro.third .text8, .wrapperIntro.third .text9,
	.wrapperIntro.third .text10, .wrapperIntro.third .text11 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.third .cylinder2 {
	display: none;
}

.wrapperIntro.third .cylinder2 {
	left: 72%;
    position: absolute;
    top: 26%;
    width: 26%;
}

/*rashik Maharjan*/
.wrapperIntro.firstPage .text0 {
	background-color: #cfebd0;
    border-bottom: 4px solid #def7df;
    color: #555555;
    font-size: 1.8em;
    height: 10.5%;
    left: 0;
    padding-top: 1.5%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.firstPage .text1 {
	color: #5c5c5c;
    font-size: 1.2em;
    left: 7%;
    position: absolute;
    top: 21%;
    z-index: 99;
}

.wrapperIntro.firstPage .text2 {
	 color: #5e605c;
    left: 4%;
    position: absolute;
    text-align: justify;
    top: 16%;
    width: 92%;
}

.wrapperIntro.firstPage .text3 {
	 background-color: #cfebd0;
    border-bottom: 4px solid #def7df;
    color: #555555;
    font-size: 1.8em;
    height: 10.5%;
    left: 0;
    padding-top: 1.5%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.firstPage .image-holder {
	position: absolute;
	top: 33%;
	width: 49%;
	left: 19%;
	color: #5E605C;
}

.wrapperIntro.firstPage .des1 {
	 left: 14%;
    top: 56%;
}

.wrapperIntro.firstPage .des2 {
	 color: #5e605c;
    left: 17%;
    position: absolute;
    top: 68.2%;
}

.wrapperIntro.firstPage .des3 {
	color: #5e605c;
    left: 17%;
    position: absolute;
    top: 72%;
}

.wrapperIntro.firstPage .des4 {
	left: 17.4%;
    position: absolute;
    top: 76%;
    width: 65%;
}


.wrapperIntro.firstPage .volume_prism {
	color: #37A2EA;
	font-weight: bold;
}

.wrapperIntro.firstPage .volume {
	color: #37A2EA;
	font-weight: bold;
}

.wrapperIntro.firstPage .height {
	color: #37A2EA;
	font-weight: bold;
}

.wrapperIntro.firstPage .prism_def {
	color: #F16C20;
	font-weight: bold;
}

.wrapperIntro.firstPage .p3_5 {
	background: #e7e7e7 none repeat scroll 0 0;
    color: #5c5c5c;
    height: 22%;
    padding-left: 2.4%;
    padding-top: 2%;
    width: 72%;
}

.wrapperIntro.firstPage .p3_8 {
	color: #ffffff;
    font-size: 1.3em;
    left: 43%;
    line-height: 2em;
    margin-top: -40%;
    text-align: justify;
    width: 58%;
}

/*Third*/
.wrapperIntro.third .text0 {
	background-color: #cfebd0;
    border-bottom: 4px solid #def7df;
    color: #555555;
    font-size: 1.5em;
    height: 10.5%;
    left: 0;
    padding-top: 1.5%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.third .text1 {
	color: #5c5c5c;
    display: none;
    height: 6%;
    padding-left: 1%;
    padding-top: 0.5%;
    position: absolute;
    top: 16%;
    width: 82%;
    z-index: 99;

}

.wrapperIntro.third .text2 {
	position: absolute;
	top: 25%;
	left: 13%;
	color: #5E605C;
}

.wrapperIntro.third .text3 {
	position: absolute;
	top: 29%;
	left: 16%; color:#5E605C;
}

.wrapperIntro.third .text4 {
	position: absolute;
	top: 33%;
	left: 16%;
	color: #5E605C;
}

.wrapperIntro.third .text5 {
	position: absolute;
	top: 38%;
	left: 16%;
	color: #5E605C;
}

.wrapperIntro.third .text6 {
	position: absolute;
	top: 46%;
	left: 16%;
	background-color: #E7E7E7;
	height: 30%;
	width: 54%;
	padding-left: 13%;
	color: #5E605C;
}

.wrapperIntro.third .text7 {
	position: absolute;
	top: 50%;
	left: 16%;
	padding-left: 11%;
	color: #5E605C;
}

.wrapperIntro.third .text8 {
	position: absolute;
	top: 55%;
	left: 19%;
	    color: #37A2EA;
    font-weight: bold;
}

.wrapperIntro.third .text9 {
	position: absolute;
	top: 60%;
	left: 19%;
	    color: #37A2EA;
    font-weight: bold;
}

.wrapperIntro.third .text10 {
	position: absolute;
	top: 65%;
	left: 19%;
	    color: #37A2EA;
    font-weight: bold;
}

.wrapperIntro.third .text11 {
	position: absolute;
	top: 70%;
	left: 19%;
	    color: #37A2EA;
    font-weight: bold;
}


/*second page by Sangina*/

.char-holder{
	width:100%;
	display:inline-flex;
}

.char-a{
	left: 15%;
    width: 32%;
}

.char-b{
	width:32%;
}


.slideRight {
    animation-duration: 0.5s !important;

}

.slideLeft {
    animation-duration: 0.5s !important;

}


.row.char-holder {
    position: absolute;
    top: 57%;
}
/*
.bubble1{
	display:none;
	position:absolute;
	top:20%
}

.bubble2{
	display:none;
	position:absolute;
	top:20%
}*/

.wrapperIntro.second .bubble3{
	display:none;
}


.char-align{

	position:relative !important;
	margin-left:55% !Important;
	width:22% !important;
	top:33% !important;

}



.wrapperIntro.second .char-a .img-responsive {
    top: 2%;
    width: 55%;
}


.wrapperIntro.second .char-b .img-responsive {

    top: 2%;
    width: 55%;
}




/*.bubble1::before {
    border-color: #2ec3ed transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 21%;
    position: absolute;
    width: 0;
}



.bubble1 {

	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #2ec3ed;
    border-radius: 10px;
    bottom: 28%;
    color: #333333;
    display: none;
    height: 46%;
    left: 2%;
    margin: 1em 0 3em;
    padding: 1.5%;
    position: absolute;
    width: 95.5%;


}


.bubble2::before {
    border-color: #b8d73d transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
}



.bubble2 {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #b8d73d;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 46%;
    margin: 1em 0 3em;
    padding: 1.5%;
    position: absolute;
    top: 13%;
    width: 96%;
	left: 2%;
}*/

.wrapperIntro.second .squirrel-listening01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.second .Squirrel-Thinking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.second .squirrel-talking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.second .boy-talking01
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.second .boy-listening01
{
	background: #d1d4f3 none repeat scroll 0 0;
    border: 3px solid #757574;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}






.wrapperIntro.second .squirrel-listening02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.second .Squirrel-Thinking02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.second .squirrel-talking02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.second .boy-talking02
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.second .boy-listening02
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}





.wrapperIntro.second .squirrel-listening03
{
	 background: #c3f3ff none repeat scroll 0 0;
    border: 3px solid #757574;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.second .Squirrel-Thinking03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.second .squirrel-talking03{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.second .boy-talking03
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.second .boy-listening03{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.char-b {
	 left: 65%;
    width: 32%;
}

.wrapperIntro.second .char-b {
    position: absolute;
}

/*added by manish*/


.char-holder {
    margin-bottom: 0;
    width: 100% !important;
}

sub {

	bottom: 0.35em!important;
    font-size: 0.85em !important;
    left: 0.25em !important;

}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}
/*added by sangina*/
.wrapperIntro.firstPage .image-holder {
	 display: none;
    left: 17%;
    position: absolute;
    top: 33%;
    width: 11%;
}

.wrapperIntro.firstPage .image-holder1 {
	  display: none;
    left: 40%;
    position: absolute;
    top: 27.7%;
    width: 15%;
}

.wrapperIntro.firstPage .image-holder2 {
	 display: none;
    left: 64%;
    position: absolute;
    top: 25%;
    width: 17%;
}

.wrapperIntro.firstPage .arrow {
	display: none;
    left: 30.5%;
    position: absolute;
    top: 45%;
    width: 7%;
}

.wrapperIntro.firstPage .arrow01 {
	  display: none;
    left: 54%;
    position: absolute;
    top: 45%;
    width: 7%;
}

.wrapperIntro.second .volume {
	text-decoration: underline;
	font-weight: bold;
}

.wrapperIntro.second .height {
	text-decoration: underline;
	font-weight: bold;
}

.wrapperIntro.second .prism {
	color: #37A2EA;
	font-weight: bold;
}

.wrapperIntro.firstPage .text5{
    color: #5e605c;
    font-size: 2vmin;
    font-weight: bold;
    padding-left: 18.5%;
    position: absolute;
    top: 50%;
}

.wrapperIntro.firstPage .text6 {
    color: #5e605c;
    font-size: 2vmin;
    font-weight: bold;
    padding-left: 40%;
    position: absolute;
    top: 50%;
}

.wrapperIntro.firstPage .text7{
	color: #5e605c;
    font-size: 2vmin;
    font-weight: bold;
    padding-left: 64%;
    position: absolute;
    top: 50%;
}



/*.wrapperIntro.firstPage .blackboard{
   left: 20%;
    position: absolute;
    top: 18%;
    width: 58%;
}*/

.blackboard.board{
    height: 64%;
    left: 38%;
    position: absolute;
    width: 53%;
	display: none;
}

.wrapperIntro.firstPage .image-holder3 {
    display: none;
    left: 7%;
    position: absolute;
    top: 28%;
    width: 26%;
}


/*new*/
.bubble1::before {
    border-color: #3CD563 transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
	z-index:9;
}

.bubble1 {

	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #3CD563;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    top: 21%;
    width: 48%;
	left: 5%;
	-webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:-1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow:-1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	z-index:9;
}




.bubble2::before {
    border-color: #FEA92A transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
	z-index:9;

}

.bubble2 {
   background: #ffffff none repeat scroll 0 0;
    border: 5px solid #fea92a;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    right: 7%;
    top: 23%;
    width: 48%;
	z-index:9;
}

.bg_page4{
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display: none;
}

.letslook {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display: none;
}

.black {
    display: none;
    height: 73%;
    left: 23%;
    position: absolute;
    top: 13%;
    width: 69%;
}

.loku_stick {
    left: 10%;
    position: absolute;
    top: 61%;
    width: 22%;
	display: none;
}

.loku_stick1 {
    left: 23%;
    position: absolute;
    top: 61%;
    width: 22%;
	display: none;
}

.loku_stick2 {
     display: none;
    left: 13%;
    position: absolute;
    top: 61%;
    width: 22%;
    z-index: 99;
}

.main-bg4{

    display: none;
	top	:48%;
}

.lok {
    left: 18%;
    width: 37%;
}

.pri {
    display: none;
    left: 6%;
    position: absolute;
    top: 30%;
    width: 29%;
}

.pyram {
    left: 67%;
    position: absolute;
    top: 37%;
	display: none;
}

.black.board {
    height: 62%;
    left: 37%;
    position: absolute;
    top: 17%;
    width: 57%;
}

@media Screen and (min-aspect-ratio: 4/3) {
.wrapperIntro.second .text1, .wrapperIntro.second .text2, .wrapperIntro.second .text3,
	.wrapperIntro.second .text4, .wrapperIntro.second .text5, .wrapperIntro.second .text6,
	.wrapperIntro.second .text7, .wrapperIntro.second .text8, .wrapperIntro.second .text9,
	.wrapperIntro.second .text10, .wrapperIntro.second .text11,
	.wrapperIntro.second .text12 {
		font-size: 2.5vh;
	}
}

@media Screen and (max-aspect-ratio: 4/3) {
.wrapperIntro.second .text1, .wrapperIntro.second .text2, .wrapperIntro.second .text3,
	.wrapperIntro.second .text4, .wrapperIntro.second .text5, .wrapperIntro.second .text6,
	.wrapperIntro.second .text7, .wrapperIntro.second .text8, .wrapperIntro.second .text9,
	.wrapperIntro.second .text10, .wrapperIntro.second .text11,
	.wrapperIntro.second .text12 {
		font-size: 1.25vw;
	}
}
