<link type="text/css" rel="stylesheet" href="css/commonpage/lessontemplate.css"/>
<link type="text/css" rel="stylesheet" href="css/commonpage/buttons-input-box.css"/>

<link type="text/css" rel="stylesheet" href="css/jquery-ui1.11.2/jquery-ui.min.css"/>


<script type="text/javascript">
    $cssLoader("../../../../css/gradient.css");
    $cssLoader("css/page4.css");
</script>

    	<div class="maincontainer">
			<div class="board"></div>
			<div class="nextBtn myNextStyle"></div>
			<div class="prevBtn myPrevStyle"></div>
		</div>

		<script id="general-template" type="text/x-handlebars-template">
			{{! update templatecontains data for if it has header, instruction, headerinstruction
				or only has content --}}
				{{#if hasheaderblock}}
					<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
				{{else}}
					<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
				{{/if}}
				{{#if divtosnap}}<div class="{{snaptoobject}}"></div>{{/if}}

		 			{{! header block start--}}
						{{#if headerblock}}
							<div class="headerblock {{headerblockadditionalclass}}">
						{{#each headerblock}}
							{{> textcontent}}
						{{/each}}
							</div>
						{{/if}}
					{{! header block end--}}


							{{! content block starts--}}
								<div class="contentblock {{contentblockadditionalclass}}">
									{{! content block content wrapper is used for content orientation i.e. center
										horizontally or vertically}}
										{{#if contentblockcenteradjust}}
											<div class = "vertical-horizontal-center">
										{{else}}
											<div class = "coverboardfull">
										{{/if}}

									{{! if the content has a upperblock of texts--}}
										{{#if uppertextblock}}
											<div class ="textblock {{uppertextblockadditionalclass}} {{verticla-horizontal-center}}">
												{{{firstpagetitle}}}
											{{#if contentblocknocenteradjust }}
												<div class ="verticla-horizontal-center">
											{{/if}}

											{{#each uppertextblock}}
												{{>textcontent}}
											{{/each}}

											{{#if contentblocknocenteradjust }}
												</div>
											{{/if}}
											</div>
										{{/if}}

										{{! image block if the content contains any images }}
										{{#if imageblockadditionalclass}}
											<div class={{"imageblockadditionalclass"}}>
										{{/if}}

										{{#if imageblock}}
										<div class="imageblock">
											{{#if contentblockcenteradjust}}
												<div class= "vertical-horizontal-center">
											{{/if}}

											{{#each imageblock}}
												{{>imagecontent}}
											{{/each}}

											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}

										{{#if imageblockadditionalclass}}
											</div>
										{{/if}}

										{{#if lowertextblock}}
										<div class="textblock {{lowertextblockadditionalclass}}">
											{{#if contentblocknocenteradjust}}
												<div class="vertical-horizontal-center">
											{{/if}}
											{{#each lowertextblock}}
												{{>textcontent}}
											{{/each}}

											{{#if contentblocknocenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}

										{{#each flexblockcontainers}}
							            <div class="flexcontainerblock {{flexblockadditionalclass}}">
							                    {{#each flexblock}}
							                    	{{!flex column start--}}
							                    		<div class="column">
															{{!flex row start--}}
							                    				{{#each flexblockcolumn}}
							                    					<div class="{{flexboxrowclass}}">
							                    					</div>
							                    				{{/each}}
							                    			{{!flex row end--}}
							                    		</div>
							                    	{{!flex column end--}}
							                    {{/each}}
									            </div>
								         {{/each}}
								         {{#each inputblock}}
							                <div class="{{inputdiv}}">
							                	{{#if textdata}}
							                		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							               		{{/if}}
							               		<input class="{{inputclass}}" value="{{{inputdata}}}"></input>
							                		<p class="{{textclass2}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata2}}}</p>

							    				{{#each buttonblock}}
							    					<button class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</button>
							            		{{/each}}
							                </div>
							            {{/each}}

								         {{#if inputbox}}
								         	{{#each inputbox}}
								         <input class="{{inputclass}}" maxlength="3"></input>
								        	{{/each}}
								         {{/if}}

								         {{#if buttonsblock}}
								         	{{#each buttonsblock}}
								         <div class="btnblock {{btnblockadditionalclass}}">
								         	{{#each indbtn}}
												{{>textcontent}}
								         	{{/each}}
								         </div>
								         	{{/each}}
								         {{/if}}

								         <div id="slider"></div>
								</div>
						</div>
				</div>
		</script>

		<!--partials are seperated as subtemplates in handlebars-->
		<script id="textcontent-partial" type="text/x-handlebars-template">
			<p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}" data-highlightcustomclass2="{{datahighlightcustomclass2}}"
				data-highlightcustomclass3="{{datahighlightcustomclass3}}"
				data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
		</script>

		<!--partials are seperated as subtemplates in handlebars-->
		<script id="imagecontent-partial" type="text/x-handlebars-template">
			{{#each imagetoshow}}
				<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
			{{/each}}
			<br>
			{{#each imagetodrop}}
				<div class="{{imgtodropclass}}">
					<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
				</div>
			{{/each}}
			{{#if imagelabels}}
				{{#each imagelabels}}
					<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
						data-highlightcustomclass="{{datahighlightcustomclass}}"
						>{{{imagelabeldata}}}</label>

				{{/each}}
			{{/if}}

		</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>
