<!--
    Title : General Template
 -->
<script type="text/javascript">
	$cssLoader("css/common.css");
	$cssLoader("css/exercise.css");
	 
	$cssLoader("../../../../css/rhino_template.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
		{{! content block starts--}}
		<div class="contentblock {{contentblockadditionalclass}}">
			{{#if uppertextblock}}
			<div class="textblock {{uppertextblockadditionalclass}}">
				{{#each uppertextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
				{{/each}}
			</div>
			{{/if}}
			{{#if optionsblock}}
			<div class="optionsblock {{optionsblockadditionalclass}}">
				{{#each optionsblock}}
					<div class="option_container {{containerclass}}">
						<img class="option {{imgclass}}" src="{{imgsrc}}">
						<img class="corrincor correctans {{correctclass}}" src="images/correct.png">
						<img class="corrincor incorrectans {{incorrectclass}}" src="images/wrong.png">
					</div>
				{{/each}}
			</div>
			{{/if}}
			{{#each extratextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
			{{/each}}
		</div>
	</div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">    
	<img src="{{definitionImageSource}}">
	<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/exercise.js");
</script>