.bg{
    background-color: #BEB3D8;
    background-size: 100% 100%;
}
.coverpagetext{
    position: absolute;
    width: 100%;
    height: 10%;
}
.boyeating{
    position: absolute;
    width: 39%;
    top: 85%;
    transform: translateY(-85%);
    left: 36%;
}
.textclr{
    color:#FFE599;
}
.textdesign1{
    color: #FFE599;
    border-radius: 100% 100%;
    background-color: #8E7CC3;
}
.topic {
    position: absolute;
    width: 82%;
    height: 15%;
    z-index: 1;
    margin: 2% 11%;
    border-radius: 16px;
    background-color: #FFE599;
}
.boydiv{
    position: absolute;
    width: 50%;
    height: 100%;
    float: left;
    left: 0%;
    background-color: #93C47D;
}
.boydiv p{
    top: 24%;
}
.girldiv p{
    top:18%;
}
.girldiv{
    position: absolute;
    width: 50%;
    height: 100%;
    float: right;
    right: 0%;
    background-color: #B4A7D6;
}
.boy{
    position: absolute;
    width: 30%;
    z-index: 1;
    top: 80%;
    transform: translateY(-80%);
    left: 13%;
    float: left;
}
.girl{
    position: absolute;
    width: 30%;
    z-index: 1;
    top: 80%;
    transform: translateY(-80%);
    right: 13%;
    float: right;
}
.textclr{
    color: #AE517F;
}
.subtextclr{
  /*color: #EED7A6;*/
    color: #fff;
}

@keyframes slideInFromRight1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


@-moz-keyframes slideInFromRight1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(0);        opacity: 1;  }
}
@-webkit-keyframes slideInFromRight1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(0);        opacity: 1;  }
}

.slideRight{
    animation:slideInFromRight1 1s linear 0s forwards ;
    animation-delay: 3s;
    opacity: 0;
    top:15%;
}

.zoomInEffect1{
    animation: zoomIn 1s linear 0s forwards;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    animation-duration: 500ms;
    animation-delay: 2s;
}

.boydiv1{
    position: absolute;
    width: 50%;
    height: 100%;
    float: left;
    left: 0%;
    background-color: #93C47D;
}
.boydiv1 p{
    top: 15%;
}
.girldiv1 p{
    top:15%;
}
.girldiv1{
    position: absolute;
    width: 50%;
    height: 100%;
    float: right;
    right: 0%;
    background-color: #B4A7D6;
}
.boy1{
    width:25%;
}
.girl1{
    width:25%;
}
.diydiv{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 40%;
    transform: translateY(-40%);
}
.bgdiy{
    background-color: #8A9E52;
    background-size: 100% 100%;
}
.imgdiv{
    position: absolute;
    width: 10%;
    z-index: 2;
    width: 34%;
    top: 45%;
    left: 31%;
    transform: translateY(-45%);
}
.titletext{
    position: absolute;
    width: 100%;
    height: 15%;
    z-index: 1;
    background-color: #304D4E;
    color: white;
}
.popupdiv{
    position: absolute;
    width: 75%;
    height: 99%;
    left: 14%;
    background-color: #F0D699;
    box-shadow: 3px 27px 10px 0 #5F7F51;
}
.popupdiv p{
    top:87%;
}
.option{
    color: #991AD5;
}
.option:hover{
    color:#FF9900;
    cursor:pointer;
}
.correctans{
    pointer-events: none;
    /*color: #98C045;*/
    color: #38761d;
}
.wrongans{
    pointer-events: none;
    color:#FF0000;
}
.correctWrongImg{
    position: absolute;
    width: 48%;
    left: 36%;
    bottom: 92%;
}
.slash{
    color: #9900FF;
}
.imgdiv1{
    position: absolute;
    width: 10%;
    z-index: 2;
    width: 24%;
    top: 45%;
    left: 36%;
    transform: translateY(-45%);
}
.id1{
    width:30%;
}
.arrow{
    position: absolute;
    width: 5%;
    left: 72%;
    top: 9%;
}
.fstgrlRght{
  right: -30%;
}

.grlTpTXt{
  position: absolute;
  left: 100%;
  font-size: 2.5vw;
  width: 80%;
}
.tp20{
  top: 20% !important;
}
.tp-11{
  top: 11% !important;
}

.boyLft{
  left: -25%;
}

.boyTpTxt{
  position: absolute;
  left: -50%;
  font-size: 2.5vw;
  width: 80%;
}

.topTxtLeftAnim{
  animation: txtlftAnim 1s linear forwards;
}
@keyframes txtlftAnim {
  100%{    left: 14%;}
}
.lftImgAnim{
  animation: lftImgAnm 1s linear forwards;
}
@keyframes lftImgAnm {
  100%{    left: 15%;}
}








.topTxtRghtAnim{
  animation: txtrghtAnim 1s linear forwards;
}
@keyframes txtrghtAnim {
  100%{    left: 20%;}
}
.rightImgAnim{
  animation: rghtImgAnm 1s linear forwards;
}
@keyframes rghtImgAnm {
  100%{    right: 13%;}
}








@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .arrow{
        position: absolute;
        width: 5%;
        left: 72%;
        top: 6%;
    }
}
.secondptag{
    bottom: 37%;
    left: 2%;
}
