.maintext{
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 1;
    background-color: #B6D9B7;
    opacity: 0.8;
}
.manstanding{
    position: absolute;
    width: 10%;
    top: 32%;
    left: 4%;
}
.manstanding1{
    position: absolute;
    width: 14%;
    top: 21%;
    left: 1%;
}
/*.boxdiv{*/
    /*position: absolute;*/
    /*width: 164%;*/
    /*left: 72%;*/
    /*top:1%;*/
    /*z-index:5;*/
/*}*/
.boxdiv1{
    position: absolute;
    width: 200%;
    right: 2%;
    bottom: 94%;
    z-index: 5;
}
.boxtext{
    z-index: 6;
    transform: translateY(-124%);
}
.boxtext1{
    position: absolute;
    z-index: 6;
    right: 59%;
    bottom: 100%;

}
.ladystanding{
    position: absolute;
    width: 10%;
    top: 49%;
    left: 19%;

}
.ladystanding1{
    position: absolute;
    width: 16%;
    top: 34%;
    left: 17%;
}
.ladyseating{
    position: absolute;
    width: 10%;
    top: 62%;
    left: 35%;

}
.ladyseating1{
    position: absolute;
    width: 17%;
    top: 46%;
    left: 32%;
}
.boycrawl{
    position: absolute;
    width: 11%;
    top: 79%;
    left: 50%;

}
.boycrawl1{
    position: absolute;
    width: 19%;
    top: 68%;
    left: 53%;
}
.momandgirl{
    position: absolute;
    width: 10%;
    top: 55%;
    left: 56%;

}
.momandgirl1{
    position: absolute;
    width: 18%;
    top: 50%;
    left: 60%;
}
.daughter{
    position: absolute;
    width: 6%;
    top: 57%;
    left: 54%;
}
.girlplay{
    position: absolute;
    width: 7%;
    top: 21%;
    left: 33%;

}
.girlplay1{
    position: absolute;
    width: 10%;
    top: 18%;
    left: 33%;
}
.ball{
    position: absolute;
    width: 3%;
    top: 42%;
    left: 42%;

}
.ball1{
    position: absolute;
    width: 4%;
    top: 38%;
    left: 43%;
}
.boyplay{
    position: absolute;
    width: 8%;
    top: 23%;
    left: 45%;

}
.boyplay11{
    position: absolute;
    width: 10%;
    top: 23%;
    left: 49%;
}
.boyplay1{
    position: absolute;
    width: 7%;
    top: 23%;
    left: 54%;

}
.boyplay2{
    position: absolute;
    width: 10%;
    top: 17%;
    left: 60%;
}
.mansitting1{
    position: absolute;
    width: 9%;
    top: 45%;
    left: 73%;

}
.mansitting11{
    position: absolute;
    width: 11%;
    top: 32%;
    left: 70%;
}
.mansitting2{
    position: absolute;
    width: 9%;
    top: 39%;
    left: 85%;

}
.mansitting3{
    position: absolute;
    width: 9%;
    top: 31%;
    left: 85%;
}
.ladystanding02{
    position: absolute;
    width: 9%;
    top: 35%;
    left: 79%;

}
.ladystanding022{
    position: absolute;
    width: 10%;
    top: 35%;
    left: 79%;
}
.mainimg1{
    position: absolute;
    width: 102%;
}

/*camera */

.quesdiv{
    position: absolute;
    width: 65%;
    height:100%;
    cursor: url(../images/Images_for_DIY/pointer.cur) 50 50, auto;
}
.quesdivSec{
    position: absolute;
    width: 65%;
    height:100%;
    cursor: pointer;
}
.outerdiv{
    position: absolute;
    border: 6px solid;
    width: 35%;
    float: right;
    right: 0%;
    background: #F9E7B4;;
    border-radius: 15px;
    border-color:rgb(246, 178, 107);
    height:100%;
}
.ansdiv{
    position: absolute;
    border: none;
    border-radius: 15px;
    top: 20%;
    background-color: white;
    width: 100%;
    height: 81%;
}

.cameradiv{
    width: 30%;
    bottom: 15%;
    left: 47%;
}
.imageclick:hover {
    transform: scale(1.1);
}

.textCls{
    font-size: 2vw;
    width: 100%;
    color: #FF5560;
    padding: 2%;
}
.congrats{
    display: block;
    position: absolute;
    width: 65%;
    top: 50%;
    height: 21%;
    text-align: center;
    padding-top: 2%;
    background-color: #FF5560;
    color: white;
    font-size: 2vw;
    font-family: sniglet;
}

.settodefault{
    cursor: default;
    pointer-events:none;
}
.div1{
    position: absolute;
    width: 34%;
    top: 2%;
    left:1%;
}
.div2{
    position: absolute;
    width: 31%;
    left: 60%;
}
.div3{
    position: absolute;
    width: 34%;
    left: 33%;
    top: 26%;
}
.div4{
    position: absolute;
    width: 31%;
    top: 44%;
    left: 62%;
}
.div5{
    position: absolute;
    width: 31%;
    top: 44%;
    left:1%;
}
.mdiv1{
    position: absolute;
    width: 28%;
    top: 2%;
    left: 4%;
}
.mdiv2{
    position: absolute;
    width: 42%;
    left: 33%;
    top: 5%;
}
.mdiv3{
    position: absolute;
    width: 30%;
    left: 3%;
    top: 60%;
}
.mdiv4{
    position: absolute;
    width: 27%;
    top: 57%;
    left: 62%;
}
.mdiv5{
    position: absolute;
    width: 31%;
    top: 32%;
    left: 24%;
}
.mdiv6{
    position: absolute;
    width: 31%;
    top: 16%;
    left: 62%;
}
.textdesign{
    color: #ff5784;
}
.congrats1{
    display: block;
    position: absolute;
    width: 65%;
    top: 35%;
    height: 38%;
    text-align: center;
    padding-top: 2%;
    background: rgb(255,255,255,.9);
    font-size: 2vw;
}
.textcls1{
    font-size: 1.4vw;
    width: 34%;
    color: #FF5560;
    top: 6%;
    left: 5%;
}
.cameradiv1{
    width: 30%;
    bottom: 4%;
    left: 47%;
}
.congratstitle{
    position: absolute;
    top: 42%;
    z-index: 2;
    left: 24%;
    color: #FF5560;
}

.subimg{
    position: absolute;
    width: 17%;

}
.buba{
    top: 23%;
    left: 13%;
}
.ama{
    top: 37%;
    left: 13%;
}
.didi{
    top: 50%;
    left: 25%;
}
.babu{
    top: 80%;
    left: 30%;
}
.fupu{
    top: 80%;
    left: 60%;
}
.nani{
    top: 60%;
    left: 60%;
}
.bahini{
    top: 21%;
    left: 15%;
}
.bhai{
    top: 21%;
    left: 25%;
}
.dai{
    top: 21%;
    left: 35%;
}
.fupaju{
    top: 34%;
    left: 65%;
}
.kaka{
    top: 25%;
    right: 2%;
}
.kaki{
    top: 22%;
    right: 7%;
}
.longerwidth{
  width: 105%;
}

@media screen and (min-aspect-ratio: 4/3){
  .congrats1,.subtopic{    font-size: 3vh;  }
}
@media screen and (max-aspect-ratio: 4/3){
  .congrats1,.subtopic{    font-size: 2vw;  }

}
