.cube {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.cube .cube * {
    position: relative;
    margin: 0;
    padding: 0;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

@font-face {
    font-family:sniglet;
    src: url(../../../../../fonts/sniglet/sniglet-regular.otf);
}
/*=====================================
 =            common styles            =
 =====================================*/

.board {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}


/*
 .coverboardfull {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 }
 */


/*================================================
 =            Notification Pulse Style            =
 ================================================*/


/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        opacity: 0.6;
    }
    50% {
        transform: scale(0.1);
        opacity: 0.8;
    }
    75% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.6;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.8;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.8;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}


/*for all element inside board*/

.board *[data-usernotification*="notifyuser"] {
    cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-animation: pulse 1.2s ease-out infinite;
    -moz-animation: pulse 1.2s ease-out infinite;
    animation: pulse 1.2s ease-out infinite;
}


/*=====  End of Notification Pulse Style  ======*/


/*=====  End of common styles  ======*/


/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}


/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: #66d9ff;
    /*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(238, 110, 115);
    text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
    height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
    padding: 2%;
}


/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
    position: absolute;
    width: 100%;
    padding: 1%;
    background: #FFFFFF;
    /*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 13%;
    height: 87%;
    padding-left: 0;
    padding-right: 0;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}


/*=====  End of ContentBlock  ======*/


/*===================================
 =        InstructionBlock           =
 ===================================*/

div.instructionblock {
    position: absolute;
    left: 8%;
    width: 84%;
    height: 50%;
    background-color: white;
    -webkit-transition: top 0.3s ease-in;
    -o-transition: top 0.3s ease-in;
    transition: top 0.3s ease-in;
    border: 4px solid rgba(238, 238, 238, 0.7);
    border-radius: 5px;
    -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
    background-color: rgb(238, 238, 238);
}

div.instructionblock[data-instructionblockshow='true'] {
    top: 50%;
}

div.instructionblock[data-instructionblockshow='false'] {
    top: 100%;
}

div.instructionblock div.instructionsets {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    font-size: 1.15em;
}

div.instructionblock div.instructionsets ol li {
    padding: 0.5% 2%;
    list-style-position: inside;
    text-align: left;
}

div.instructionblock div.instructionsets ol li:nth-of-type(n+2) {
    margin-top: 0.5%;
}

div.instructionblock div.toggleinstructionblock {
    position: absolute;
    bottom: 100%;
    left: 45%;
    width: 10%;
    padding: 0.7% 1%;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 7px;
    background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
}

div.instructionblock div.toggleinstructionblock span {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    -webkit-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    -moz-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
}

div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span {
    -webkit-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
}


/*=====  End of InstructionBlock  ======*/


/*==================================
 =            Text Block            =
 ==================================*/

@-webkit-keyframes swipebackgroundkeyframe {
    to {
        background-position: 0% 0%;
    }
}

@-moz-keyframes swipebackgroundkeyframe {
    to {
        background-position: 0% 0%;
    }
}

@keyframes swipebackgroundkeyframe {
    to {
        background-position: 0% 0%;
    }
}

div.textblock {
    position: relative;
    margin-top: 0.5%;
    width: 100%;
    height: 50%;
    /*border   : 1px solid green; */
}

p.simpletextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    margin-top: 1%;
    padding: 1% 3%;
    font-size: 1.3em;
    text-align: left;
    /* border  : 1px solid red; */
}

p.bigheadingtextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 1%;
    font-size: 1.6em;
    font-weight: bold;
    /* border   : 1px solid red; */
    color: rgb(1, 174, 250);
}

p.singleparawithimagetextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 3%;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    color: black;
    background-color: rgb(198, 234, 248);
}

p.onlyparatextstyle, p.paratextstyle {
    display: table;
    margin: 0 2%;
    position: relative;
    padding: 3%;
    width: 95%;
    font-size: 1.2em;
    text-align: left;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* FF3.6+ */
    background-image: -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* IE10 */
    background-image: -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* Opera 11.10+ */
    background-image: linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* W3C */
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: -100% 0%;
    -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.onlyparatextstyle {
    text-align: center;
}

p.bottomparatextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 2% 3%;
    width: 80%;
    font-size: 1.2em;
    text-align: left;
    color: black;
    background-color: rgb(198, 234, 248);
    -webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    margin-top: 1%;
    padding: 4%;
    font-size: 1.4em;
    text-align: left;
    /* svg image bg pulled from common images folder */
    background: url(../../../../../images/backgrounds/polygonbackground.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

span.royalbluehighlightstyle {
    color: rgb(0, 0, 255);
}

span.orangehighlight {
    color: rgb(197, 6, 6);
}

p.textalignleft {
    text-align: left;
}

p.formulatextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    margin-top: 3%;
    padding: 3%;
    color: rgb(135, 41, 213);
    font-size: 1.3em;
    background: url(../../../../../images/backgrounds/greybackground_animated.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p.sideboxtextstyle {
    display: table;
    margin: 0 2%;
    position: relative;
    padding: 5% 5%;
    width: 95%;
    font-size: 1.2em;
    text-align: left;
    background-color: rgb(255, 247, 208);
    border: 2px solid rgb(247, 204, 27);
    border-radius: 5px;
}

p.paperstacktextstyle {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 1% 5%;
    margin-top: 2%;
    font-size: 1.1em;
    color: black;
    background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* FF3.6+ */
    background-image: -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* IE10 */
    background-image: -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* Opera 11.10+ */
    background-image: linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* W3C */
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: -100% 0%;
    -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.paperstacktextstyle:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: -1;
    -webkit-transform: rotate(0.8deg);
    -ms-transform: rotate(0.8deg);
    -o-transform: rotate(0.8deg);
    transform: rotate(0.8deg);
}

p.paperstacktextstyle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: -2;
    -webkit-transform: rotate(1.6deg);
    -ms-transform: rotate(1.6deg);
    -o-transform: rotate(1.6deg);
    transform: rotate(1.6deg);
}


/* Rules below is for multiplehighlight of span tags for a highlight true para.
 For example */

.multiplehighlights:nth-of-type(1) {
    background-color: #D93B2B;
}

.multiplehighlights:nth-of-type(2) {
    background-color: #F6921E;
}

.multiplehighlights:nth-of-type(3) {
    background-color: #FFDD00;
}


/* and so on if required be... */


/*=====  End of Text Block  ======*/


/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    /*border     : 1px solid green; */
}

img.singleimgstyle {
    display: table;
    margin: 5% auto;
    position: relative;
    padding: 1%;
    width: 35%;
    cursor: pointer;
}

div.imageblock label {
    position: absolute;
}

img.twoimgtogether {
    position: relative;
    margin-top: 8%;
    display: inline-block;
    width: 25%;
    cursor: pointer;
}

img.twoimgtogether:nth-of-type(1) {
    margin-right: 20%;
}

img.twoimgtogetherlowspacing:nth-of-type(1) {
    margin-right: 10%;
}

img.threeimgtogether {
    position: relative;
    display: inline-block;
    width: 20%;
    margin-top: 2%;
}

img.threeimgtogether:nth-of-type(-n+2) {
    margin-right: 10%;
}

img.threeimgtogetherlowspacing:nth-of-type(1) {
    margin-right: 6%;
}


/*=====  End of Image Block  ======*/


/*====================================
 =            usageslowreveal Block =
 ====================================*/

div.layoutusageslowreveal, div.usageslowrevealblock {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border : 1px solid red;*/
}

.usageheading {
    position: relative;
    top: 0;
    width: 100%;
    padding: 1% 2%;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(238, 110, 115);
    background-color: rgb(252, 252, 252);
}


/*-----  End of usageslowreveal Block  ------*/


/*==========================================
 =            Card Content Block            =
 ==========================================*/

div[class^='card_block'] {
    position: relative;
    margin: 1% 0%;
    left: 1%;
    width: 98%;
    padding: 1.5% 0%;
    background-color: white;
    text-align: left;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

div[class^='card_block']:nth-of-type(n+2) {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
}

div[class^='card_block'][data-hasimage='true'] {
    min-height: 30%;
}

div[class^='card_block'] div.content_wrapper_card_block {
    position: relative;
    width: 100%;
}

div[class^='card_block'][data-hasimage='true'] div.content_wrapper_card_block {
    position: relative;
    width: 70%;
}

div[class^='card_block'] .card_title {
    position: relative;
    padding: 0% 2%;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-weight: bold;
    font-size: 1.3em;
}

div[class^='card_block'] .card_content_text {
    position: relative;
    padding: 1% 2% 0% 2%;
}

div[class^='card_block'] .card_content_image {
    position: absolute;
    top: 2%;
    right: 3%;
    width: 20%;
}

.nextusageBtn {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}


/*=====  End of Card Content Block  ======*/


/*============================================
 =            Time to think Block            =
 ============================================*/

div.timeToThink {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.timeToThink>figure {
    position: absolute;
    top: 10%;
    width: 50%;
    left: 5%;
}

div.timeToThink>figure>img {
    position: relative;
    width: 100%;
}

div.timeToThink>figure>figcaption {
    display: table;
    position: relative;
    margin-top: -17%;
    left: 40%;
    width: 55%;
    font-size: 1.5em;
    color: rgb(201, 136, 116);
}

div.timeToThink>p {
    position: relative;
    top: 50%;
    text-align: left;
    font-size: 1.4em;
    /* border  : 1px solid red; */
}


/*=====  End of Time to think Block  ======*/


/*=====================================
 =            svg layout            =
 =====================================*/

div.svgwrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border   : 1px solid blue;*/
}

div.svgcontainer {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 70%;
    /*border   : 1px solid blue;*/
}


/*=====  End of svg layout  ======*/


/*=======================================
 =            Property Layout            =
 =======================================*/

div.propertylayout {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

div.propertyblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

div.propertylistcontainer {
    position: absolute;
    top: 17.5%;
    left: 2%;
    width: 30%;
    height: 65%;
    border: 2px solid rgb(147, 82, 52);
}

div.propertylistcontainer h4 {
    position: relative;
    color: rgb(255, 255, 255);
    background: rgb(147, 82, 52) none repeat scroll 0% 0%;
    text-align: center;
    padding: 2% 2%;
    font-size: 1em;
}

div.propertylistcontainer p {
    position: relative;
    padding: 3% 2%;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}

div.propertylistcontainer p:nth-of-type(n+2) {
    margin-top: 20%;
}

div.propertylistcontainer p span {
    position: absolute;
    left: 0;
    padding: 1% 3%;
    color: rgb(255, 255, 255);
    background-color: rgb(147, 82, 52);
    font-weight: bold;
}

div.propertylistcontainer p small {
    position: absolute;
    left: 15%;
    color: rgb(0, 0, 0);
    text-align: left;
}

div.propertylayout div.explainpropertycontainer {
    position: absolute;
    left: 35%;
    top: 10%;
    height: 87%;
    width: 65%;
}

div.propertylayout div.explainpropertycontainer div.mainproperty {
    position: absolute;
    width: 100%;
    font-size: 1.3em;
    border-top: 5px solid rgb(255, 146, 7);
}

div.propertylayout div.explainpropertycontainer div.mainproperty span {
    position: absolute;
    left: 0;
    padding: 2% 2% 0.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 146, 7);
    font-weight: bold;
}

div.propertylayout div.explainpropertycontainer div.mainproperty p {
    position: absolute;
    padding-top: 1%;
    left: 9%;
    color: rgb(0, 0, 0);
}

div.propertylayout div.explainpropertycontainer div.propertyexplain {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 80%;
}

div.propertylayout div.explainpropertycontainer div.propertyexplain img {
    position: relative;
    top: 0%;
    left: 0%;
    width: 40%;
}

div.propertylayout div.explainpropertycontainer div.propertyexplain p {
    position: relative;
    top: 5%;
    left: 0%;
    font-size: 1.2em;
    text-align: left;
}


/*-----  End of Property Layout  ------*/


/*=======================================
 =            Property Summary Layout    =
 =======================================*/

div.propertysummarylayout {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

div.propertysummaryblock {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

div.propertysummaryblock ul {
    display: inline-block;
    position: relative;
    padding: 0 0 3% 0;
    border: 2px solid rgb(147, 82, 52);
}

div.propertysummaryblock ul div {
    background: rgb(147, 82, 52) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    padding: 3% 5%;
}

div.propertysummaryblock ul li {
    position: relative;
    color: rgb(42, 101, 88);
    padding: 3% 2%;
    width: 100%;
}

div.propertysummaryblock ul li:nth-of-type(n+2) {
    margin-top: 5%;
}

div.propertysummaryblock ul li span {
    position: absolute;
    /*text-align:left;*/
    padding: 1.5%;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(147, 82, 52);
    font-weight: bold;
}

div.propertysummaryblock ul li p {
    position: absolute;
    padding: 1%;
    left: 7%;
    color: rgb(0, 0, 0);
}


/*-----  End of Property Summary Layout  ------*/


/*====================================
 =            Usage Layout            =
 ====================================*/

div.usagelayout, div.usagelayout div.usageblock {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border:1px solid red;*/
}

div.usagelayout .usageheading {
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 1.5em;
}

div.usagelayout p.usagetext {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 95%;
    font-size: 1.15em;
    padding: 0.5% 0% 0.5% 2%;
    text-align: left;
    border-top: 5px solid rgb(255, 146, 7);
    border-left: 15px solid rgb(255, 146, 7);
    color: rgb(147, 82, 52);
}

div.usagelayout div.explainusage {
    position: absolute;
    top: 26%;
    left: 5%;
    width: 95%;
    height: 74%;
    /*border:1px solid red;*/
}

div.usagelayout div.explainusage div.explainusageimagecontainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
}

div.usagelayout div.explainusage div.explainusageimagecontainer img {
    position: absolute;
    width: 60%;
    /* keep the image at the center of its container
	 following code shall help you */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

div.usagelayout div.explainusage .explainusagetext {
    display: table;
    margin: 0px 2%;
    position: absolute;
    left: 47%;
    padding: 2%;
    width: 45%;
    font-size: 1.05em;
    text-align: left;
    text-align: justify;
    background-color: rgb(255, 247, 208);
    border: 2px solid rgb(247, 204, 27);
    border-radius: 5px;
    /* keep this block of text always at the vertical center please
	 following code shall help you - cheers!*/
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/*-----  End of Usage Layout  ------*/


/*==============================================
 =            Diy Splash Page Block             =
 ==============================================*/

div.diysplashblock {
    position: relative;
    width: 100%;
    /*border   : 1px solid red;*/
}

div.diysplashblock>figure {
    position: relative;
    display: table;
    margin: 0 auto;
    width: 40%;
    /*border : 1px solid red;*/
}

div.diysplashblock>figure>img {
    width: 100%;
}

div.diysplashblock>figure>figcaption {
    position: absolute;
    top: 12%;
    left: 3%;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
    color: #C98865;
    font-weight: bold;
    /*border    : 1px solid red;*/
}

div.diysplashblock>p {
    position: relative;
    color: black;
    margin-top: 3%;
    font-size: 1.5em;
    padding: 0% 2%;
}


/*=====  End of Diy Splash Page Block  ======*/


/*=================================
 =            Diy Block            =
 =================================*/

div.diyblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border : 1px solid red;*/
}

div.diyblock>div.diySmall {
    position: relative;
    top: 0%;
    width: 100%;
    height: 17%;
    /* you can change the height according to need */
    /*border   : 1px solid red;*/
}

div.diyblock>div.diySmall>figure {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    /*border : 1px solid red;*/
}

div.diyblock>div.diySmall>figure>img {
    position: relative;
    width: 60%;
    /*border : 1px solid red;*/
}

div.diyblock>div.diySmall>figure>figcaption {
    position: absolute;
    top: 5%;
    left: 24%;
    width: 53%;
    font-size: 0.8em;
    color: #C98865;
    /*border:1px solid red;*/
}

div.diyblock>div.diySmall>p {
    position: absolute;
    top: 2%;
    right: 0%;
    width: 82%;
    padding: 1% 1%;
    font-size: 1.1em;
    text-align: left;
    border: 2px solid #DB9E36;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFD34E;
    color: #BD4932;
}

div.diyblock>div.diyworkarea {
    position: relative;
    margin-top: 1.5%;
    width: 100%;
    height: 80%;
    /* you can change the height according to need */
    /*border     : 1px solid red;*/
}


/*=====  End of Diy Block  ======*/


/*============================================
 =            Definition Block                =
 ============================================*/

div.definitionblock>img {
    position: relative;
    width: 50%;
    left: -20%;
}

div.definitionblock>figcaption {
    position: relative;
    margin-top: -8%;
    left: -21%;
    font-size: 2em;
    color: rgb(201, 136, 116);
}

div.definitionblock>p.definitiontextstyle {
    position: relative;
    text-align: left;
    margin-top: 15%;
    font-size: 1.5em;
    padding: 0% 2%;
    /* border  : 1px solid red; */
}


/*=====  End of Definition Block  ======*/


/*=====  End of general template layout  ======*/


/*=========================================================
 =            general templated specific styles            =
 =========================================================*/


/*=====  End of general templated specific styles  ======*/


/*====================================
 =            personal css            =
 ====================================*/

.timeToThink {
    position: relative;
    top: 5%;
    left: 0;
    width: 40%;
    height: 60%;
}

.timeToThink_figdata {
    display: table;
    position: relative;
    left: 25%;
    width: 50%;
    font-size: 1.8em;
    color: #C98874;
    bottom: 75%;
}

.lowerpara {
    position: absolute;
    left: 0;
    margin-top: 45%;
    padding: 1%;
    opacity: 0;
    width: 100%;
    background: #ffecb3;
}

.lowerpara2 {
    position: absolute;
    left: 0;
    margin-top: 14%;
    padding: 2%;
    opacity: 0;
    width: 100%;
    background: #ffecb3;
}

.beambalance {
    position: absolute;
    left: 30%;
    margin-top: 5%;
    width: 40%;
    opacity: 0;
}

@keyframes movediv {
    from {
        opacity: 0;
        left: -30%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@-moz-keyframes movediv {
    from {
        opacity: 0;
        left: -30%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@-webkit-keyframes movediv {
    from {
        opacity: 0;
        left: -30%;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.textanim {
    animation: movediv 1s linear 1s 1 forwards;
    -webkit-animation: movediv 1s linear 1s 1 forwards;
    -moz-animation: movediv 1s linear 1s 1 forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cssfadein {
    animation: show 1s linear 1s 1 forwards;
    -webkit-animation: show 1s linear 1s 1 forwards;
    -moz-animation: show 1s linear 1s 1 forwards;
}

.twoimgtogetheranim {
    position: relative;
    margin-top: 8%;
    display: inline-block;
    width: 25%;
    padding: 1%;
    opacity: 0;
    left: 0;
}

@keyframes shrink {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
        -webkit-transform: scale(0.5);
        /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5);
        /* FF3.5+ */
        -ms-transform: scale(0.5);
        /* IE9 */
        -o-transform: scale(0.5);
        /* Opera 10.5+ */
        transform: scale(0.5);
    }
}

@-moz-keyframes shrink {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
        -webkit-transform: scale(0.5);
        /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5);
        /* FF3.5+ */
        -ms-transform: scale(0.5);
        /* IE9 */
        -o-transform: scale(0.5);
        /* Opera 10.5+ */
        transform: scale(0.5);
    }
}

@-webkit-keyframes shrink {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
        -webkit-transform: scale(0.5);
        /* Saf3.1+, Chrome */
        -moz-transform: scale(0.5);
        /* FF3.5+ */
        -ms-transform: scale(0.5);
        /* IE9 */
        -o-transform: scale(0.5);
        /* Opera 10.5+ */
        transform: scale(0.5);
    }
}

.shrinkimage {
    animation: shrink 1s linear 0.3s 1 forwards;
    -webkit-animation: shrink 1s linear 0.3s 1 forwards;
    -moz-animation: shrink 1s linear 0.3s 1 forwards;
}

.middlepara {
    position: absolute;
    margin-top: 20%;
    width: 35%;
    background: #D1F2AE;
    border-top-right-radius: 50px;
    padding: 1%;
    opacity: 0;
}

@keyframes movedivagain {
    from {
        opacity: 1;
        left: 0%;
    }
    to {
        opacity: 1;
        left: 20%;
    }
}

@-moz-keyframes movedivagain {
    from {
        opacity: 1;
        left: 0%;
    }
    to {
        opacity: 1;
        left: 20%;
    }
}

@-webkit-keyframes movedivagain {
    from {
        opacity: 1;
        left: 0%;
    }
    to {
        opacity: 1;
        left: 20%;
    }
}

.divslideleft {
    animation: movedivagain 1s ease-in 0s 1 forwards;
    -webkit-animation: movedivagain 1s ease-in 0s 1 forwards;
    -moz-animation: movedivagain 1s ease-in 0s 1 forwards;
}


/*=====  End of personal css  ======*/

.mainTitle {
    background-image: url('../images/blue_cream_bg.jpg') !important;
    background-size: 100% !important;
}
.firsttitle {
    font-size: 10vmin;
    /*font-style: oblique;*/
    margin-top: 2%;
    font-family: sniglet;
    color: #FF6A65;
}

.introductionheader {
    font-size: 4vmin;
    /*font-style: oblique;*/
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 97;
}

.boxquestion1, .boxanswer1, .boxquestion2, .boxanswer2, .boxanswer3 {
    display: none;
}

.question, .answer, .boxquestion1, .boxanswer1, .boxquestion2, .boxanswer2, .boxanswer3 {
    font-size: 3.85vmin;
    /*font-style: oblique;*/
    color: #BBFF4B;
    font-weight: bold;
    position: absolute;
    left: 24%;
    top: 14%;
	z-index: 9;
}

.boxanswer3 {
    top: 40%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

.boxanswer1 {
    top: 17%;
    z-index: 10;
    left: 56.5%;
    width: 35%;
    color: #5a5a5a;
    font-weight: initial;
}

.boxquestion1, .boxquestion2 {
    top: 18%;
    z-index: 10;
    left: 14.5%;
    width: 37%;
    color: #5a5a5a;
    font-weight: initial;
}

.boxanswer2 {
    width: 62%;
    top: 12%;
    z-index: 10;
    left: 34%;
    font-weight: initial;
    color: #5a5a5a;
    line-height: 1.2;
}

.answer {
    left: 35%;
    top: 39%;
    font-weight: initial;
}

.arrow01 {
    position: absolute;
    height: 13%;
    right: 77%;
    top: 20%;
}

.answer {
    display: none;
}

.shapequestion {
    bottom: 12%;
    height: 87%;
    width: 100%;
    left: 0%;
    position: absolute !important;
}

.cuboidleft, .cuboidright {
    position: absolute;
}

.cuboidleft {
    left: 4%;
    height: auto;
    width: 25%;
    top: 55%;
    opacity: 0;
    -webkit-animation: expand 1.1s linear 1s forwards;
    animation: expand 1.1s linear 1s forwards;
}

.cuboidright {
    left: 80%;
    height: auto;
    width: 30%;
    top: 57%;
    left: 80%;
    transform: translate(-50%);
}

.cuboidtopright {
    position: absolute;
    top: 11%;
    right: 7%;
    height: 28%;
}

.cuboidtopleft {
    position: absolute;
    top: 2%;
    left: 7%;
    height: 38%;
}

.cuboidbottom {
    position: absolute;
    top: 5%;
    left: 39%;
    height: 41%;
}

.cuboidtopleft {
    opacity: 0;
    -webkit-animation: expand 1.1s ease-out 4.5s forwards;
    animation: expand 1.1s ease-out 4.5s forwards;
}
.cuboidbottom{
    opacity: 0;
    -webkit-animation: expand 1.1s ease-out 6.5s forwards;
    animation: expand 1.1s ease-out 6.5s forwards;
}
.cuboidtopright {
    opacity: 0;
    -webkit-animation: expand 1.1s ease-out 8.5s forwards;
    animation: expand 1.1s ease-out 8.5s forwards;
}

@-webkit-keyframes expand {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes expand {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cuboid {
    position: absolute;
    height: auto;
    width: 30%;
    top: 57%;
    left: 80%;
    transform: translate(-50%);
}

.cuboid01 {
    height: auto;
    width: 24%;
    top: 61%;
    position: absolute;
    left: 38%;
    opacity: 0;
    -webkit-animation: expand 1.1s ease-out 2.5s forwards;
    animation: expand 1.1s ease-out 2.5s forwards;
}

.cuboidlabel01, .cuboidlabel02, .cuboidlabel03, .cuboidlabel04, .cuboidlabel05, .cuboidlabel06 {
    text-align: center;
    bottom: 5%;
    width: 33%;
    font-size: 4.5vmin;
    color: #555555;
    z-index: 400;
    position: absolute;
    font-weight: bold;
    /*text-decoration: underline;*/
}

.cuboidlabel01 {
    left: 0%;
    bottom: 1%;
}

.cuboidlabel02 {
    left: 50%;
    bottom: -6%;
    transform: translate(-50%);
}

.cuboidlabel03 {
    right: 4%;
    bottom: 2%;
}

.cuboidlabel04 {
    left: 0%;
    bottom: 47%;
}

.cuboidlabel05 {
    left: 50%;
    transform: translate(-50%);
    bottom: 47%;
}

.cuboidlabel06 {
    right: 4%;
    bottom: 47%;
}

.firstOption {
    left: 0;
}

.secondOption {
    left: 33.33%;
}

.thirdOption {
    right: 0;
}

.thirdOption, .firstOption, .secondOption {
    text-align: center;
    bottom: 15%;
    width: 33%;
    font-size: 4.5vmin;
    color: #00C9F9;
    z-index: 1000;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
}

.thirdOption {
    -webkit-animation: flash3 1.5s infinite;
    animation: flash3 1.5s infinite;
}

.firstOption {
    -webkit-animation: flash1 1.5s infinite;
    animation: flash1 1.5s infinite;
}

.secondOption {
    -webkit-animation: flash2 1.5s infinite;
    animation: flash2 1.5s infinite;
}

@-webkit-keyframes flash1 {
    0% {
        color: #ff00f2;
    }
    33% {
        color: #ff00f2;
    }
    34% {
        color: #00cafa;
    }
    100% {
        color: #00cafa;
    }
}

@keyframes flash1 {
    0% {
        color: #ff00f2;
    }
    33% {
        color: #ff00f2;
    }
    34% {
        color: #00cafa;
    }
    100% {
        color: #00cafa;
    }
}

@-webkit-keyframes flash2 {
    0% {
        color: #00cafa;
    }
    33% {
        color: #00cafa;
    }
    34% {
        color: #ff00f2;
    }
    66% {
        color: #ff00f2;
    }
    67% {
        color: #00cafa;
    }
    100% {
        color: #00cafa;
    }
}

@keyframes flash2 {
    0% {
        color: #00cafa;
    }
    33% {
        color: #00cafa;
    }
    34% {
        color: #ff00f2;
    }
    66% {
        color: #ff00f2;
    }
    67% {
        color: #00cafa;
    }
    100% {
        color: #00cafa;
    }
}

@-webkit-keyframes flash3 {
    0% {
        color: #00cafa;
    }
    66% {
        color: #00cafa;
    }
    67% {
        color: #ff00f2;
    }
    100% {
        color: #ff00f2;
    }
}

@keyframes flash3 {
    0% {
        color: #00cafa;
    }
    66% {
        color: #00cafa;
    }
    67% {
        color: #ff00f2;
    }
    100% {
        color: #ff00f2;
    }
}

.rectangle {
    position: absolute;
    width: 24%;
    right: 68%;
    top: 36%;
}

.square01 {
    position: absolute;
    width: 14%;
    left: 52%;
    top: 30%;
}

.triangle01 {
    position: absolute;
    width: 18%;
    left: 32%;
    top: 53%;
}

.circle01 {
    position: absolute;
    width: 18%;
    right: 7%;
    top: 43%;
}

.purplefilterdiv {
    z-index: 98;
    background-color: rgba(75, 51, 93, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
}

.finalfilterdiv {
    display: none;
    z-index: 1000;
    position: absolute;
    height: 90%;
    width: 100%;
}

.rectangle01purplefilter {
    z-index: 1000;
}

.correct {
    height: 12%;
    position: absolute;
    bottom: 13%;
    left: 13%;
}

.incorrect01, .incorrect02 {
    height: 12%;
    position: absolute;
    bottom: 12%;
}

.incorrect01 {
    right: 13%;
}

.incorrect02 {
    right: 46.5%;
}

.envelope, .picture-frame01, .playing-card, .picture-frame, .post-card {
    width: 10%;
    right: 100%;
    position: absolute;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.envelope {
    width: 24%;
    top: 2%;
    animation: slideinpicture-frame01 4.5s linear 4s 1 forwards;
}

.picture-frame01 {
    width: 24%;
    top: 12%;
    animation: slideinplaying-card 4s linear 0.3s 1 forwards;
}

.playing-card {
    top: 30%;
    animation: slideinenvelope 5s linear 6.5s 1 forwards;
}

.picture-frame {
    bottom: 1%;
    width: 20%;
    animation: slideinpicture-frame 3s linear 3s 1 forwards;
}

.post-card {
    width: 28%;
    bottom: -5%;
    animation: slideinpost-card 5s linear 4.7s 1 forwards;
}

.rectangle_slideout {
    animation: slideinpost-card 5.2s linear 6.1s 1 forwards;
}

@keyframes slideinenvelope {
    to {
        right: -50%;
    }
}

@keyframes slideinpicture-frame01 {
    to {
        right: -60%;
    }
}

@keyframes slideinplaying-card {
    to {
        right: -40%;
    }
}

@keyframes slideinpicture-frame {
    to {
        right: -30%;
    }
}

@keyframes slideinpost-card {
    to {
        right: -70%;
    }
}

.box {
    position: absolute;
    width: 35%;
    left: 28%;
    bottom: 100%;
    animation: dropdown 2s ease-out 10s 1 forwards;
}

@keyframes dropdown {
    to {
        bottom: -10%;
    }
}

.dialogcontainer01 {
    position: absolute;
    height: auto;
    width: 34%;
    z-index: 100;
    bottom: 52%;
    left: 8%;
    z-index: 600;
    display: none;
}

.dialogcontent {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    padding: 5px;
    font-size: 3vmin;
}

.dialog {
    width: 100%;
}

.mirror_dialog {
    width: 100%;
    transform: scaleX(-1);
    filter: FlipH;
}

.homer02 {
    position: absolute;
    bottom: -1%;
    height: 52%;
    left: -2%;
    opacity: 0;
    -webkit-animation: fadein 2.5s linear 1 forwards;
    animation: fadein 2.5s linear 1 forwards;
}

.homer02_inverted {
    position: absolute;
    bottom: 2%;
    height: 45%;
    right: 2%;
    transform: scaleX(-1);
    filter: FlipH;
}

.canyoucloud {
    position: absolute;
    top: 24%;
    left: 25%;
    /*transform: translate(-50%, -50%);*/
    width: 50%;
    z-index: 501;
    -webkit-animation: expand 2s linear 1 forwards;
    animation: expand 2s linear 1 forwards;
}

.canyouquestion {
    position: absolute;
    top: 49%;
    left: 50%;
    font-size: 4.5vmin;
    width: 40%;
    text-align: center;
    z-index: 600;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-animation: fadein 1s linear 1.5s 1 forwards;
    animation: fadein 1s linear 1.5s 1 forwards;
}

@-webkit-keyframes fadein {
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

.rectangletocuboid {
    position: absolute;
    left: 10%;
    width: 30%;
    top: 55%;
}

.recttocuboidarrow {
    width: 20%;
    left: 40%;
    top: 66%;
    position: absolute;
    -webkit-animation: push .4s linear alternate infinite;
    animation: push .4s linear alternate infinite;
}

@-webkit-keyframes push {
    to {
        margin-left: 15px;
    }
}

@keyframes push {
    to {
        margin-left: 15px;
    }
}

.sundar, .sundari {
    position: absolute;
    height: 60%;
    bottom: 0%;
}

.sundar {
    left: 2%;
}

.sundari {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    right: 2%;
}

.dialog_sundar, .dialog_sundari {
    position: absolute;
}

.dialog_sundar {
    left: 14%;
    top: 11%;
    width: 38%;
}

.dialog_sundari {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    right: 8%;
    top: 11%;
    width: 36%;
}

.dialog_sundari02 {
    position: absolute;
    width: 62%;
    max-height: 46%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    right: 4%;
    top: 7%;
}

.dialog_sundari, .dialog_sundari02, .dialog_sundar, .sundar, .sundari {
    display: none;
}
.bluebg{
    background: url("../images/bg_blue03.jpg") !important;
    background-size: 100% !important;
}
.firstpagebackground {
    background: url("../images/solidshapes.jpg") !important;
    background-size: cover !important;
}
