.coverpage{
    width: 102%;
}

.rhinodancingdiv{
    position: absolute;
    top: 49%;
    width: 15%;
    height: 35%;
    float: left;
    left: 20%;
}
.squirrelistening{
    position: absolute;
    top: 58%;
    width: 14%;
    height: 35%;
    float: left;
    left: 71%;
}

.commonbtn:hover{
    background-color:rgb(230, 145, 56);
    border:2px solid;
    border-color:rgb(246, 178, 107);

}
.ptime{
    position: absolute;
    width: 27%;
    height: 15%;
    top: 56%;
    left: 41%;
    color: white;
}
.bg{
    background-color: #fff2cc;
    background-size: 100% 100%;
}
.leftdiv{
    position: absolute;
    width: 55%;
    height: 85%;
    left: 0%;
    background-color: black;
}
.leftdivbottom{
    position: absolute;
    width:55%;
    height:15%;
    border-top:5px solid white;
    bottom:0;
    background-color: black;
}
.orangecolor{
    color:#ffab40;
}
.frogfirst{
    position: absolute;
    width: 10%;
    z-index: 1;
    top: 40%;
}
.whiteline{
    position: absolute;
    width: 10%;
    z-index: 1;
    top: 56%;
}
.containercls{
    position: absolute;
    z-index: 1;
    width: 9%;
    left: 2%;
    bottom: 15%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.containercls img,.containercls1 img,.containercls2 img{
    width: 100%;
    height: 35%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sundari{
        height:20% !important;
        width: 92%;
        bottom: 100%;
        left: 0%;
    }
    .containercls img,.containercls1 img,.containercls2 img{
        width: 100%;
        height: 7%;
    }

}
.deductdiv{
    position: absolute;
    z-index: 2;
    background-color: #565656;
    opacity: 0.8;
    width: 55%;
    left: 0%;
    bottom: 0%;
    height: 0%;
}
.containercls1{
    position: absolute;
    z-index: 1;
    width: 9%;
    left: 20%;
    bottom: 15%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.containercls2{
    position: absolute;
    z-index: 1;
    width: 9%;
    left: 41%;
    bottom: 15%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.frogsecond{
    position: absolute;
    width: 10%;
    z-index: 1;
    top: 40%;
    left: 12%;
}
.frogthird{
    position: absolute;
    width: 10%;
    z-index: 1;
    top: 40%;
    left: 42%;
}
.text1{
    position: absolute;
    width: 45%;
    right: 0%;
    height: 10%;
    top: 4%;
}
.text2{
    position: absolute;
    width: 45%;
    right: 0%;
    height: 10%;
    top: 14%;
}
.text3{
    position: absolute;
    width: 45%;
    right: 0%;
    height: 13%;
    top: 28%;
    background-color: #e6b8af;
}
.option{
    position: absolute;
    width: 13%;
    height: 18%;
    right: 15%;
    background-color: #5772e6;
    color: white;
    border-radius: 14px;
    cursor: pointer;
}
.opt1{
    bottom: 35%;
}
.opt2{
    bottom: 5%;
}

.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}
.option:hover{
    background-color: #ffab40;
}
.frogsecond1{
    position: absolute;
    width: 8%;
    z-index: 1;
    top: 24%;
    left: 11%;
}
.frogthird1{
    position: absolute;
    width: 8%;
    z-index: 1;
    top: 24%;
    left: 47%;
}
.bg1{
    background-color: #0b3dbc;
    background-size: 100% 100%;
}
.fruit{
    position: absolute;
    width: 7%;
    right: 52%;
    height: 10%;
    top: 0%;
    z-index: 2;
}
.thread{
    position: absolute;
    width: 0%;
    right: 55.5%;
    height: 0%;
    top: 0%;
    z-index: 2;
    border: 2px solid white;
}
.sundari{
    width: 92%;
    height: 98%;
    bottom: 100%;
    left: 0%;
}
.sundarihas{
    position: absolute;
    width: 10%;
    bottom: 0%;
    height: 15%;
    color: white;
}
.sundarigot{
    position: absolute;
    width: 10%;
    bottom: 0%;
    height: 15%;
    color: white;
    left:20%;
}
.answer{
    position: absolute;
    width: 10%;
    bottom: 0%;
    height: 15%;
    color: white;
    left:40%;
}
.plus{
    position: absolute;
    width: 4%;
    bottom: 4%;
    z-index: 2;
    left: 13%;
}
.equalto{
    position: absolute;
    width: 4%;
    bottom: 5%;
    z-index: 2;
    left: 33%;
}
.notequalto{
    position: absolute;
    width: 4%;
    bottom: 5%;
    z-index: 2;
    left: 33%;
}
.pencil{
    position: absolute;
    right: 4%;
    width: 1%;
    transform: rotate(55deg);
    top: 16%;
}
.messagediv{
    color:  #303338;;
}
.monkeydancing{
    position: absolute;
    width: 31%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.bg2{
    background-color: #8be6f2;
    background-size: 100% 100%;
}