<script type="text/javascript">
		$cssLoader("css/exercise1.css");
</script>

<div class="sm1">
		<div class="title">
		    Present Tense: Choose <b>Simple Present</b> form of the verb to complete the following sentence.
		</div>
		<div class="result">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Congratulations on finishing the exercise.</div>
		</div>
		<div class="nextBtn"> </div>
		
		<div class="board"> </div>
		<script type="text/x-handlebars-template" id="qA-templete">
			<div class="row mainholder">
				<div class="col-md-12 col-sm-12 qAHolder">
					<div class="col-md-12 col-sm-12 col-xs-12 question">{{{question}}}</div>
				</div>
			</div>
		
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imgHolder">
				{{#if img}}
					<img src="{{img}}" alt="" class="image_container img-responsive" id="image_cont">
				{{/if}}
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 answers">
				<ul>
					{{#each answers}}
					<li class="neutral" data-correct="{{correct}}">{{{ans}}}</li>
					{{/each}}
					</ul>
			</div>
		</div>
	</script>
	</div>

	<!-- js loader starts -->
	<script type="text/javascript">
		$jsLoader("js/exercise2.js");

	</script>



