.coverpage{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.btmDialogues{
	position: absolute;
	bottom: 0%;
	width: 100%;
	background: #38761d;
	color: #fff;
	text-align: center;
	padding: 1% 2% 1% 2%;
	font-family: laila;
}

.bubbleImg{
	position: absolute;
	width: 36%;
	top: 15%;
	display: none;
}






@media (min-aspect-ratio: 4/3) {
	.btmDialogues{
		font-size: 5vh;
	}
}
@media (max-aspect-ratio: 4/3) {
	.btmDialogues{
		font-size: 2vw;
	}
}
