<script>
    $cssLoader("css/common.css");
    $cssLoader("css/page5.css");
</script>

<div class="shapes_activity vertical-horizontal-center">
    <div class="board">
        Hello World!
    </div>
    <div class="nextBtn myNextStyle"> </div>
    <div class="prevBtn myPrevStyle"> </div>
</div>

<script id="general-template" type="text/x-handlebars-template">
  {{! update templatecontains data for if it has header, instruction, headerinstruction
    or only has content --}}
    {{#if hasheaderblock}}
        <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
    {{else}}
        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

      {{! header block start--}}
      {{#if headerblock}}
        <div class="headerblock">
      {{#each headerblock}}
        {{> textcontent}}
      {{/each}}
        </div>
      {{/if}}
      {{! header block end--}}


    {{! content block starts--}}
    <div class="contentblock {{additionalclasscontentblock}}">
    {{! content block content wrapper is used for content orientation i.e. center
        horizontally or vertically}}
        
        {{#if uppertextblock}}
        <div class="textblock {{uppertextblockadditionalclass}}">
          {{#if contentblocknocenteradjust}}
            <div class="vertical-horizontal-center">
          {{/if}}
            {{#if uppertextblock}}
              {{> textcontent}}
            {{/if}}
          {{#if contentblocknocenteradjust}}
            </div>
          {{/if}}
        </div>
        {{/if}}

        {{#if imageblock}}
        <div class="imageblock {{imageblockadditionalclass}}">
          {{#if contentblockcenteradjust}}
            <div class= "vertical-horizontal-center">
          {{/if}}

          {{#each imageblock}}
            {{>imagecontent}}
          {{/each}}

          {{#if contentblockcenteradjust}}
            </div>
          {{/if}}
        </div>
        {{/if}}

        {{#if uppertextblock}}
        <div class="textblock {{uppertextblockadditionalclass}}">
          {{#if contentblocknocenteradjust}}
            <div class="vertical-horizontal-center">
          {{/if}}
          {{#each uppertextblock}}
            {{>textcontent}}
          {{/each}}

          {{#if contentblocknocenteradjust}}
            </div>
          {{/if}}
        </div>
        {{/if}}
        
        {{#if definitionblock}}
          <div class="definitionblock {{definitionblockadditionalclass}}">
            {{#each definitionblock}}
              {{>definitioncontent}}
            {{/each}}
          </div>
        {{/if}}

        {{#if specialdropdiv}}
          <div class="specialdropdiv">
            {{#each specialdropdiv}}
              <label class="{{droplabelclass}}">{{{droplabeldata}}}</label>
              <div class = "{{dropdiv}}">
              </div>
            {{/each}}
          </div>
        {{/if}}  
    </div>
  </div>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}">{{{textdata}}}</p>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="definitioncontent-partial" type="text/x-handlebars-template">
    <p class="{{definitionclass}}">{{{definitiondata}}}</p>
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="imagecontent-partial" type="text/x-handlebars-template">
  <div class="mainimage-content">
    {{#each mainimage}}
      <img src="{{imgsrc}}" class="{{imgclass}}"/>
    {{/each}}

    {{#each normalimage}}
      <img src="{{imgsrc}}" class="{{imgclass}}"/>
    {{/each}}
  </div>
  
  {{#each imagestoshow}}
      <img class="{{imgclass}}" id="{{imgid}}" src="{{imgsrc}}">
  {{/each}}
  {{#if imagelabels}}
      {{#each imagelabels}}
          <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
      {{/each}}
  {{/if}}

  {{#each spriteimage }}
      <div class="{{imgclass}}"></div>
  {{/each}} 
</script>

<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script>
  // $jsLoader("../../../../js/jquery-ui.js");
  $jsLoader("js/page5.js");
</script>
