.blue_bg{
  background: #cac4ce;
}
.girl_talking {

    position: absolute;
    width: 30%;
    left: 5%;
    bottom: 0;

}

.sp-1 {

    width: 60%;
    height: 46%;
    left: 29%;
    top: 26%;

}
.speechbox > p {

    position: absolute;
    width: 80%;
    left: 17%;
    top: 47%;
    transform: translateY(-50%);

}

.top_text {
    position: absolute;
    font-size: 2.5vw;
    font-family: abeezee;
    color: white;
    background: #9067c6;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1%;
    border-bottom: 2vmin solid #cac4ce;
    z-index: 10;
}
.cream{
  background: #f7ece1;
}

.text_desc {
    position: absolute;
    font-family: comfortaa;
    z-index: 5;
    width: 90%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 26%;
    font-size: 2vw;
}
.cell1 {
    position: absolute;
    width: 10%;
    transform: translateX(-50%);
    left: 42%;
    z-index: 5;
    top: 45%;
}
.cell2 {
    position: absolute;
    width: 10%;
    transform: translateX(-50%);
    left: 56%;
    z-index: 5;
    top: 45%;
}
.mid_image {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 6;
    top: 55%;
    width: 30%;
}
.mid_desc {
    position: absolute;
    font-family: abeezee;
    transform: translate(-50%,-50%);
    top: 87%;
    z-index: 5;
    left: 50%;
    width: 30%;
    font-size: 1.5vw;
}

.fadesin{
  animation: fadesIn 1s ease-in forwards;
}

.mid_left_image {

    position: absolute;
    z-index: 5;
    top: 61%;
    width: 25%;
    transform: translate(-50%,-50%);
    left: 25%;

}
.mid_right_image {

    position: absolute;
    z-index: 5;
    top: 61%;
    width: 25%;
    transform: translate(-50%,-50%);
    left: 75%;

}

.mid_left_desc {

    position: absolute;
    z-index: 5;
    top: 92%;
    width: 35%;
    transform: translate(-50%,-50%);
    left: 25%;
    font-size: 2vw;
    font-family: comfortaa;

}
.mid_right_desc {

    position: absolute;
    z-index: 5;
    font-size: 2vw;
    font-family: comfortaa;
    top: 92%;
    width: 35%;
    transform: translate(-50%,-50%);
    left: 75%;

}

.mid_left_desc_up {

    position: absolute;
    z-index: 5;
    top: 72%;
    width: 35%;
    transform: translate(-50%,-50%);
    left: 25%;
    font-size: 2vw;
    font-family: comfortaa;
    font-weight: bold;
}
.mid_right_desc_up {

    font-weight: bold;
    position: absolute;
    z-index: 5;
    font-size: 2vw;
    font-family: comfortaa;
    top: 72%;
    width: 35%;
    transform: translate(-50%,-50%);
    left: 75%;

}

.mid_left_image_up {

    position: absolute;
    z-index: 5;
    top: 40%;
    height: 40%;
    transform: translate(-50%,-50%);
    left: 25%;

}
.mid_right_image_up {

    position: absolute;
    z-index: 5;
    top: 40%;
    height: 40%;
    transform: translate(-50%,-50%);
    left: 75%;

}


/*//sliderdiv*/


.slider_div {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 80%;
    top: 15%;
    background: #eeeeee;
    border-radius: 6vmin;
    border: .6vmin solid #b7b7b7;
    /*padding: 1%;*/
}

.text_up {
    position: absolute;
    font-size: 2vw;
    font-family: comfortaa;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 90%;
    top: 17%;
}

.desc_text {
    position: absolute;
    font-size: 2vw;
    font-family: comfortaa;
    font-size: 1.6vw;
    background: #c9daf8;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 86%;
    padding: .5%;
    width: 100%;
}

.image_left {
    position: absolute;
    z-index: 5;
    height: 30%;
    transform: translate(-50%,-50%);
    left: 25%;
    top: 50%;
}
.image_right {
    position: absolute;
    z-index: 5;
    height: 30%;
    transform: translate(-50%,-50%);
    left: 75%;
    top: 50%;
}
.arrow2 {
    width: 8%;
    top: 48%;
    position: absolute;
    left: 15%;
    z-index: 5;
}
.arrow1 {
    width: 8%;
    top: 48%;
    position: absolute;
    z-index: 5;
    left: 54%;
}
.cell_class {
    position: absolute;
    font-family: comfortaa;
    transform: translate(-50%,-50%);
    left: 11%;
    top: 49.5%;
    font-size: 1.5vw;
}
.battery_class {
    position: absolute;
    font-family: comfortaa;
    transform: translate(-50%,-50%);
    left: 47.5%;
    top: 49.5%;
    font-size: 1.5vw;
}

.prev_button {
    position: absolute;
    width: 5%;
    left: -.6vmin;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer;
}


.next_button {
    position: absolute;
    width: 5%;
    right: -.6vmin;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer;
}

.prev_button:hover, .next_button:hover {
  transform: translateY(-50%) scale(1.1);
  transition: .2s;
}

/*slider css ends*/

.bot_text {
    position: absolute;
    font-family: comfortaa;
    background: #c9daf8;
    bottom: 0;
    padding: 1%;
    font-size: 1.8vw;
    width: 100%;
}
.center_image {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 49%;
    height: 36%;
}

.top_label {
    position: absolute;
    font-size: 1.6vw;
    font-family: comfortaa;
    width: 20%;
    top: 23%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-weight: bold;
}

.bot_label {
    position: absolute;
    font-size: 1.6vw;
    font-family: comfortaa;
    width: 20%;
    top: 76.5%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-weight: bold;
}

.battery_arrow_1, .battery_arrow_2, .battery_arrow_3 {
    position: absolute;
    z-index: 6;
    width: 10%;
    top: 26%;
    transform: rotate(135deg);
    left: 53%;
}
.battery_arrow_2{
  top: 42%;
  left: 54%;
}
.battery_arrow_3{
  top:56.5%;
}
.battery_label_1, .battery_label_2, .battery_label_3 {
    position: absolute;
    font-family: comfortaa;
    font-size: 1.6vw;
    transform: translate(-50%,-50%);
    left: 78%;
    width: 25%;
    top: 34%;
}
.battery_label_2{
  top:50%;
}
.battery_label_3{
  top:65%;
}
.diy_title {
    position: absolute;
    font-size: 1.7vw;
    color: white;
    font-weight: bold;
    font-family: comfortaa;
    background: #7a6563;
    padding: 1%;
    top: 13%;
    height: 9%;
    align-content: center;
    text-align: center;
    width: 30%;
    border: .3vmin solid #474444;
    border-bottom: none;
}

.diy_desc {
    position: absolute;
    width: 30%;
    left: 0;
    top: 22%;
    font-family: comfortaa;
    font-size: 1.3vw;
    background: #eeeeee;
    padding: 1%;
    border: .3vmin solid #474444;
    border-top: none;
}
.science_project {
    text-decoration: underline;
    cursor: pointer;
}
@keyframes fadesIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (min-aspect-ratio:4/3) {
  .top_text{
		font-size: 4.7vmin;
  }
  .text_desc,.text_up{
    font-size: 4.3vmin;
  }
  .mid_desc,.mid_left_desc,.mid_right_desc,.cell_class,.battery_class,.mid_left_desc_up,.mid_right_desc_up{
    font-size: 3.7vmin;
  }
  .bot_text,.diy_title{
    font-size: 4vmin;
  }
  .top_label,.bot_label,.battery_label_1, .battery_label_2, .battery_label_3{
    font-size: 3.5vmin;
  }
  .diy_desc{
    font-size: 3.3vmin;
  }
}
