.blue_bg{
  background: #cac4ce;
}
.girl_talking {

    position: absolute;
    width: 30%;
    left: 5%;
    bottom: 0;

}

.sp-1 {

    width: 60%;
    height: 46%;
    left: 29%;
    top: 26%;

}
.speechbox > p {

    position: absolute;
    width: 80%;
    left: 17%;
    top: 47%;
    transform: translateY(-50%);

}

.top_text {
    position: absolute;
    font-size: 2.5vw;
    font-family: abeezee;
    color: white;
    background: #7fd1b9;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1%;
    border-bottom: 2vmin solid #e56399;
    z-index: 10;
}
.cream{
  background: #f7ece1;
}

@keyframes fadesIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.did_you_know_text {
    position: absolute;
    font-size: 1.7vw;
    color: white;
    font-weight: bold;
    font-family: comfortaa;
    background: #7a6563;
    padding: 1%;
    top: 13.2%;
    height: 9%;
    align-content: center;
    text-align: center;
    width: 35%;
    border: .3vmin solid #474444;
    border-bottom: none;
}

.dyk_text {
    position: absolute;
    width: 35%;
    left: 0;
    top: 22%;
    font-family: comfortaa;
    font-size: 1.3vw;
    background: #eeeeee;
    padding: 1%;
    border: .3vmin solid #474444;
    border-top: none;
}
.mid_image {
    position: absolute;
    transform: translateX(-50%);
    left: 60%;
    z-index: 6;
    top: 16%;
    width: 40%;
}
.bot_text {
    position: absolute;
    background: white;
    width: 100%;
    bottom: 0;
    font-family: comfortaa;
    font-size: 1.8vw;
    padding: 1%;
}
.fadesin{
  animation: fadesIn 1s ease-in forwards;
}
.center_image {
    position: absolute;
    width: 60%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.tag_1, .tag_2, .tag_3, .tag_4, .tag_5 {
    position: absolute;
    font-size: 1.7vw;
    font-family: comfortaa;
    top: 48%;
    transform: translate(-50%,-50%);
    left: 20%;
}

.sun {
    position: absolute;
    width: 11%;
    z-index: 7;
    top: 21%;
    left: 14%;
    animation: sun_anim 1s ease-in-out infinite;
}

.tag_2 {
    left: 32%;
    top: 65%;
}
.tag_3 {
    top: 65%;
    left: 58%;
}
.tag_5 {

    left: 80%;
    top: 65%;

}
.tag_4 {

    left: 85%;
    top: 41%;

}
@keyframes sun_anim {
  0%{
    -webkit-filter: drop-shadow(2.5vmin 2.5vmin 2.5vmin #ffec00);
    filter: drop-shadow(2.5vmin 2.5vmin 2.5vmin #ffec00);
  }
  50%{
    -webkit-filter: drop-shadow(0vmin 0vmin 0vmin #ffec00);
    filter: drop-shadow(0vmin 0vmin 0vmin #ffec00);
  }
  100%{
    -webkit-filter: drop-shadow(2.5vmin 2.5vmin 2.5vmin #ffec00);
    filter: drop-shadow(2.5vmin 2.5vmin 2.5vmin #ffec00);
  }
}
@keyframes fadesIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.left_text {

    position: absolute;
    width: 50%;
    top: 13%;
    background: white;
    height: 87%;
    font-family: comfortaa;
    font-size: 1.6vw;
    padding: 2%;
    padding-top: 2%;
    text-align: left;

}
.list_class{
  font-size: 1.4vw;
}
.right_img {
    width: 50%;
    z-index: 7;
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    left: 50%;
}
.bg_1 {
    background: #fef64d;
    top: 0;
    height: 100%;
    left: 50%;
    width: 25%;
}
.bg_2 {
    background: #e3e5e2;
    top: 0;
    height: 100%;
    left: 75%;
    width: 25%;
}
.mid_text {
    position: absolute;
    font-family: comfortaa;
    width: 54%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 52%;
    font-size: 1.8vw;
    z-index: 10;
}

.dialogue_image {

    position: absolute;
    width: 80%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 58%;
    height: 90%;

}
@media (min-aspect-ratio:4/3) {

  .did_you_know_text{
    font-size: 3.6vmin;
  }

  .dyk_text,.list_class{
    font-size: 3.3vmin;
  }
  .tag_1, .tag_2, .tag_3, .tag_4, .tag_5 {
    font-size: 3.5vmin;
}
  .bot_textm,.mid_text{
    font-size: 4vmin;
  }
  .top_text{
    font-size: 4.5vmin;
  }
  .left_text{
    font-size: 3.7vmin;
  }
}
