.desc_text {
    position: absolute;
    font-family: comfortaa;
    padding: 2%;
    font-size: 2vw;
    top: 21%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 100%;
}
.top_text {
    position: absolute;
    font-family: abeezee;
    background: #89b0d3;
    color: white;
    width: 100%;
    padding: 1%;
    top: 0;
    left: 0;
}
.tablediv {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 65%;
    z-index: 10;
    width: 70%;
    height: 60%;
}
.table_class {
    position: absolute;
    width: 100%;
    height: 100%;
    border: .1vmin solid black;
    text-align: center;
    background: #fffced;
    font-family: comfortaa;
    font-size: 1.6vw;
    top: 0;
    left: 0;
}
td , th{

    border: .3vmin solid #9e9e9e;
    text-align: center;

}
tr:nth-child(1) th:nth-child(1) {
    color: white;
    background: rgb(137,176,211);
    border-bottom: 4px solid #548dc0;
    border-right: 2.3vmin solid rgb(84,141,192);
    text-shadow: .1em .1em .1em rgb(84,141,192);
    vertical-align: middle;
}
tr:nth-child(1) th:nth-child(2) {
    color: white;
    border-left: 2.3vmin solid rgb(84,141,192);
    background: rgb(137,176,211);
    border-bottom: 4px solid #548dc0;
    text-shadow: .1em .1em .1em rgb(84,141,192);
    vertical-align: middle;
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    border: .3vmin solid #9e9e9e;
    text-align: center;
    color: #666B85;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
@media (min-aspect-ratio:4/3) {
  .top_text{
    font-size: 4.5vmin;
  }
  .desc_text, .table_class {
    font-size: 3.2vmin;
  }

}
