<!--
Title : General Template
-->
<script type="text/javascript">
	$cssLoader("css/common.css");
	$cssLoader("css/page3.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				<!-- {{#each imagedivblock}}
					<div class="{{imagediv}}">
						{{> imagecontent}}
						{{#if svgdiv}}
							<div id="{{svgdiv}}"></div>
						{{/if}}
					</div>
				{{/each}} -->
				{{#each imagedivblock}}
					<div class="{{imagediv}}">
						{{#each imagestoshow}}
							<img class="{{imgclass}}" src="{{imgsrc}}">
						{{/each}}
						{{#if imagelabels}}
							{{#each imagelabels}}
								<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
							{{/each}}
						{{/if}}
						{{#each exetype1}}
								<div class="{{optionsdivclass}}">
									{{#each exeoptions}}
											<div class="optionscontainerddv {{optcontainerextra}}">
													<p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>

													<img src="images/correct.png" class="image-startpos tick {{startposextra}} corctopt">

													<img src="images/wrong.png" class="image-startpos tick {{startposextra}} wrngopt">
											</div>
									{{/each}}
								</div>
						{{/each}}
						{{#each svgblock}}
							<div id="{{svgblock}}"></div>
						{{/each}}
					</div>
				{{/each}}

				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}

				<!-- {{#if exetype1}}
				 {{#each extratext}}
					 <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				 {{/each}} -->
				 {{#each exetype1}}
						 <div class="option {{optionsdivclass}}">
							 <img src="images/correct.png" class="imagestartpos tick {{startposextra}} corctopt">

							 <img src="images/wrong.png" class="imagestartpos tick {{startposextra}} wrngopt">

							 {{#each exeoptions}}
									 <div class="optionscontainer {{optcontainerextra}}">
											 <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>
									 </div>
							 {{/each}}
						 </div>
				 {{/each}}
				<!-- {{/if}} -->

				{{#each exetype}}
						<div class="{{optionsdivclass}}">
							<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							{{#each exeoptn}}
									<div class="optionscontainer {{optcontainerextra}}">
											<p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>
									</div>
							{{/each}}
						</div>
				{{/each}}

				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				{{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}}
							{{> definitioncontent}}
						{{/each}}
					</div>
				{{/if}}

				{{#if imagetextblock}}
					<div class="{{imagetextblockadditionalclass}}">
						{{#each imagetextblock}}
							<div class="{{imagediv}}">
								<img class="{{imgclass}}" src="{{imgsrc}}">
								<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							</div>
						{{/each}}
					</div>
				{{/if}}
				{{#each svgblock}}
					<div id="{{svgblock}}"></div>
				{{/each}}
			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script src="js/snap.svg/ver_0_5_1/snap.svg-min.js" type="text/javascript"></script>
<script type="text/javascript">
	$jsLoader("js/page3.js");
</script>
