html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
    z-index: 10;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.titlebg {
    width: 100%;
    height: 100%;
    background: #FBB458;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: #E06666;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.contentwithbg2 {
    width: 100%;
    height: 100%;
    background: #6AA84F;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: sniglet;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.centertext {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    font-size: 6vmin;
    width: 100%;
    padding: 5%;
}

.centertextup {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 10%;
    left: 50%;
    font-size: 6vmin;
    width: 100%;
    padding: 5%;
}

.titletext {
    width: 50% !important;
    font-size: 10vmin;
}

.lefttext {
    position: absolute;
    transform: scale(1);
    top: 2%;
    left: 5%;
    font-size: 7vmin;
    padding: 5%;
}

.letshighlight {
    color: #c92424;
    font-size: 10vmin;
}

.cssfadein{
    opacity: 0;
    animation: fade-in 1s linear 0s forwards;
}

@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translate(-50%, -50%)  scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes fade-in{
    0%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.cssfadein-notra{
    opacity: 0;
    animation: fade-in-notra 1s linear 0s forwards;
}

@keyframes fade-in-notra{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fade-in-notra{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.catspritecontainer {
    width: 36%;
    height: 62%;
    top: 26%;
    right: 14%;
    background-image: url("../images/cat_drinking_sprite.png");
    position: absolute;
    background-size: 800% 100%;
    background-position: 0% 0%;
    -webkit-animation: animatecatsprite 1.1s steps(8) infinite;
    animation: animatecatsprite 1.1s steps(8) infinite;
}

@keyframes animatecatsprite{
    to{
        background-position: -800% 0%;
    }
}

@-webkit-keyframes animatecatsprite{
    to{
        background-position: -800% 0%;
    }
}

.plantspritecontainer {
    width: 44%;
    height: 70%;
    top: 22%;
    right: 3%;
    background-image: url("../images/grow.png");
    position: absolute;
    background-size: 300% 100%;
    background-position: 0% 0%;
    -webkit-animation: animateplantsprite 3s steps(3) infinite;
    animation: animateplantsprite 3s steps(3) infinite;
}

@keyframes animateplantsprite{
    to{
        background-position: -300% 0%;
    }
}

@-webkit-keyframes animateplantsprite{
    to{
        background-position: -300% 0%;
    }
}

.elespritecontainer {
    width: 39%;
    height: 48%;
    top: 37%;
    right: 9%;
    background-image: url("../images/elephant.png");
    position: absolute;
    background-size: 600% 100%;
    background-position: 0% 0%;
    -webkit-animation: animateelesprite 1s steps(6) infinite;
    animation: animateelesprite 1s steps(6) infinite;
}

@keyframes animateelesprite{
    to{
        background-position: -600% 0%;
    }
}

@-webkit-keyframes animateelesprite{
    to{
        background-position: -600% 0%;
    }
}

.repspritecontainer {
    width: 51%;
    height: 48%;
    top: 37%;
    right: 1%;
    background-image: url("../images/reproduction.png");
    position: absolute;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: animaterepsprite 2s steps(4) infinite;
    animation: animaterepsprite 1s steps(4) infinite;
}

@keyframes animaterepsprite{
    to{
        background-position: -400% 0%;
    }
}

@-webkit-keyframes animaterepsprite{
    to{
        background-position: -400% 0%;
    }
}

.brespritecontainer {
    width: 46%;
    height: 49%;
    top: 33%;
    right: 4%;
    background-image: url("../images/breathing.png");
    position: absolute;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: animatebresprite 1s steps(4) infinite;
    animation: animatebresprite 1s steps(4) infinite;
}

@keyframes animatebresprite{
    to{
        background-position: -400% 0%;
    }
}

@-webkit-keyframes animatebresprite{
    to{
        background-position: -400% 0%;
    }
}

.reaspritecontainer {
    width: 51%;
    height: 48%;
    top: 37%;
    right: 1%;
    background-image: url("../images/react.png");
    position: absolute;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: animatereasprite 2s steps(4) infinite;
    animation: animatereasprite 1s steps(4) infinite;
}

@keyframes animatereasprite{
    to{
        background-position: -400% 0%;
    }
}

@-webkit-keyframes animatereasprite{
    to{
        background-position: -400% 0%;
    }
}


.item {
    position: absolute;
    height: 30%;
    cursor: pointer;
}

.bird {
    top: 22%;
    left: 14%;
}

.bag {
    top: 59%;
    left: 15%;
}

.dog {
    top: 25%;
    left: 39%;
}

.fish {
    top: 57%;
    left: 43%;
}

.football {
    top: 56%;
    left: 70%;
}

.tv {
    top: 23%;
    left: 70%;
}

.forhover:hover{
    border: 5px solid white;
    border-radius: 15px;
}

.startcow{
    position: absolute;
    width: 30%;
    left: 5%;
    top: 5%;
}

.starttable{
    position: absolute;
    width: 30%;
    right: 5%;
    bottom: 5%;
}
