<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1.css');
</script>

<div class="pageContainer">
	<img class="cover_image" src= "activity/grade7/math/math_equations_01/images/coverpage.png" />
<div class="headTitle"></div>

	<div id="figBox">





	</div>

	<div id="nextbtn" class="arrowcls"></div>
	<div id="repeatBtn"></div>
</div>

<script>
$jsLoader('js/page1.js');

</script>



<script type="text/x-handlebars-template" id="template-1">


{{#if firstText}}
<div  id="headTitle1">{{firstText}}</div>
{{/if}}

</script>
d

<script type="text/x-handlebars-template" id="template-2">

<div class="figBoxex">
  {{#if firstText}}
  <div  id="firstText">{{firstText}}</div>
  {{/if}}

  {{#if eq1}}
  <div  id="eq1">{{eq1}}</div>
  {{/if}}

  {{#if secondText}}
  <div  id="secondText">{{secondText}}</div>
  {{/if}}

  {{#if eq2}}
  <div  id="eq2">{{eq2}}</div>
  {{/if}}

  {{#if eq3}}
  <div  id="eq3">{{eq3}}</div>
  {{/if}}

  {{#if thirdText}}
  <div  id="thirdText">{{thirdText}}</div>
  {{/if}}

  {{#if equTxt}}
  <div  id="equationBx">
    <div class="valbx">x</div>
    <div class="eqbx">=</div>
    <div class="inputbx">
      <input id="inputfst" type="text"  autocomplete="off"/>
       <span class="glyphicon"></span>
       <span id="correctans"></span>
      <input id="inputbtn" type="button" value="{{equTxt}}"  autocomplete="off"/>
    </div>
  </div>
  {{/if}}

</div>

</script>
