<script>
$cssLoader('css/shared.css');
$cssLoader('css/page2.css');
</script>

<div class="pageContainer">

<div class="headTitle"></div>

	<div id="figBox">

		


		
	</div>
		
	<div id="nextbtn" class="arrowcls"></div>
	<div id="repeatBtn"></div>
</div>

<script>
$jsLoader('js/page2.js');

</script>



<script type="text/x-handlebars-template" id="template-1">


{{#if firstText}}
<div  id="headTitle1">{{firstText}}</div>
{{/if}}

</script>

<script type="text/x-handlebars-template" id="template-2">

{{#if subText}}
  <div  id="subText">{{subText}}</div>
  {{/if}}

<div class="figBoxex"> 

  {{#if eq1}}
  <div  id="eq1">{{eq1}}</div>
  {{/if}}

 
  {{#if eq2}}
  <div  id="eq2">{{eq2}}</div>
  {{/if}}
   {{#if secondText}}
  <div  id="secondText">{{secondText}}</div>
  {{/if}}


  {{#if eq3}}
  <div  id="eq3">{{eq3}}</div>
  {{/if}}

  


  {{#if eq4}}
  <div  id="eq4">{{eq4}}</div>
  {{/if}}
  {{#if thirdText}}
  <div  id="thirdText">{{thirdText}}</div>
  {{/if}}
  
  {{#if eq5}}
  <div  id="eq5">{{eq5}}</div>
  {{/if}}

  {{#if sixText}}
  <div  id="sixText">{{sixText}}</div>
  {{/if}}
  {{#if eq6}}
  <div  id="eq6">{{eq6}}</div>
  {{/if}}

  {{#if fourText}}
  <div  id="fourText">{{fourText}}</div>
  {{/if}}

  {{#if fifthText}}
  <div  id="fifthText">{{fifthText}}</div>
  {{/if}}

  
</div>

</script>



<script type="text/x-handlebars-template" id="template-3">

{{#if subText}}
  <div  id="subText">{{subText}}</div>
  {{/if}}

<div class="figBoxex">
  {{#if threeText1}}
  <div  id="threeText1">{{threeText1}}</div>
  {{/if}}
  {{#if threeText2}}
  <div  id="threeText2">{{threeText2}}</div>
  {{/if}}
  {{#if threeText3}}
  <div  id="threeText3">{{threeText3}}</div>
  {{/if}}
  {{#if threeText4}}
  <div  id="threeText4">{{threeText4}}</div>
  {{/if}}

 {{#if eq1}}
  <div  id="eq7">{{eq1}}</div>
  {{/if}}

  {{#if eq2}}
  <div  id="eq8">{{eq2}}</div>
  {{/if}}

  {{#if eq3}}
  <div  id="eq9">{{eq3}}</div>
  {{/if}}
  {{#if eq4}}
  <div  id="eq10">{{eq4}}</div>
  {{/if}}

  {{#if threeText5}}
  <div  id="threeText5">{{threeText5}}</div>
  {{/if}}

</div>
</script>

<script type="text/x-handlebars-template" id="template-4">
{{#if subText}}
  <div  id="subText">{{subText}}</div>
  {{/if}}

<div class="figBoxex">
  {{#if threeText1}}
  <div  id="fourText1">{{threeText1}}</div>
  {{/if}}

   {{#if threeText2}}
  <div  id="fourText2">{{threeText2}}</div>
  {{/if}}

  {{#if threeText3}}
  <div  id="fourText3">{{threeText3}}</div>
  {{/if}}

  {{#if imgsrcs}}
  <div id="fourText4">
    <img src="{{imgsrcs}}"/>
    <div class="cap1">x</div>
    <div class="cap2">x-3</div>
    <div class="cap3">x-3</div>
    <div class="cap4">x</div>
  </div>
  {{/if}}

  {{#if threeText5}}
  <div  id="fourText5">{{threeText5}}</div>
  {{/if}}

  {{#if threeText6}}
  <div  id="fourText6">{{threeText6}}</div>
  {{/if}}

  {{#if threeText7}}
  <div  id="fourText7">
      <div id="fourText8">{{threeText7}}</div>
      <div id="fourText9">{{threeText8}}</div>
      <div id="fourText10">{{threeText9}}</div>
      <div id="fourText11">{{threeText10}}</div>
      <div id="fourText12">{{threeText11}}</div>
   </div>
  {{/if}}

  {{#if threeText12}}
  <div  id="fourText13">
      <div>{{threeText12}}</div>
      <div>{{threeText13}}</div>     
   </div>
  {{/if}}


</div>

</script>