.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
	
	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */



.exefin {
	display: none;
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin{
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important; 
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}
.carb_div {
    position: absolute;
    width: 25%;
    height: 40%;
    top: 19%;
    left: 47%;
}
.vits_div {
    position: absolute;
    width: 25%;
    height: 47%;
    top: 19%;
    left: 70%;
}
.prots_div {
    position: absolute;
    width: 33%;
    height: 37%;
    top: 53%;
    left: 48%;
}
.fats_div {
    position: absolute;
    width: 22%;
    height: 30%;
    top: 53%;
    left: 70%;
}
.optionimg {
    width: 100%;
    height: 100%;
}
.optiontext {
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    font-family: sniglet;
    color: black;
    font-size: 1.7vw;
}
.plate {
    position: absolute;
    width: 40%;
    top: 21%;
    left: 4%;
}
.instruction {
	position: absolute;
	top: 0;
	font-size: 2vw;
	font-family: sniglet;
	z-index: 99;
	background: #d26d4c;
	color: white;
	width: 100%;
	padding: 2%;
	height: 13%;
}
.class1,.class2,.class3,.class4{
	position: absolute;
	width: 11%;
	top: 10%;
	z-index: 999;
	cursor: pointer;
}

.carbs:hover, .prots:hover, .fats:hover, .vits:hover{
	transform: scale(1.3,1.3);
}
.congratsmonkey {
    position: absolute;
    width: 30%;
    left: 12%;
    top: 25%;
    opacity: 0;
}
.congratstext {
    position: absolute;
    font-size: 3vw;
    font-family: sniglet;
    top: 68%;
    left: 11%;
    z-index: 99;
    opacity: 0;
}
@media (min-aspect-ratio: 4/3){
	.optiontext{
		font-size: 3.5vmin;
	}
	.instruction{
		font-size: 4vmin;
	}
	.congratstext{
		font-size: 7vmin;
	}
}


.carbPsn{
	transform: translate(-50%,-50%) rotate(313deg);
	left: 30%;
	top: 40%;
}

.prtnPsn{
	transform: translate(-50%,-50%) rotate(345deg);
	left: 32%;
	top: 23%;
}
.fatPsn{
	transform: translate(-50%,-50%) rotate(387deg);
	left: 32%;
	top: 23%;
}

.vtmnPsn{
	transform: translate(-50%,-50%) rotate(379deg);
	left: 49%;
	top: 80%;
	width: 100%;
}
