.thebg1{
	background: url("../images/frens-06.png");
	background-size: 100% 100%;
}

.thebg2{
	background: url("../images/kinara-08.png");
	background-size: 100% 100%;
}

.thebg3{
	background: url("../images/aija-09.png");
	background-size: 100% 100%;
}

.thebg4{
	background: url("../images/safe-new-10.png");
	background-size: 100% 100%;
}

.newtext {
    width: 70%;
    left: 62%;
}
