.thebg1{
	background: url("../images/cover 2-11.png");
	background-size: 100% 100%;
}

.thebg2{
	background: url("../images/gau-01.png");
	background-size: 100% 100%;
}

.thebg3{
	background: url("../images/gau-03.png");
	background-size: 100% 100%;
}

.thebg3fade{
	background: url("../images/gau-02.png");
	background-size: 100% 100%;
	opacity: 0;
	animation: cssfadein 4s linear forwards;
}

.thebg4{
	background: url("../images/gau-02.png");
	background-size: 100% 100%;
}

.thebg5{
	background: url("../images/dungaa-04.png");
	background-size: 100% 100%;
}

.thebg6{
	background: url("../images/swim-05-05.png");
	background-size: 100% 100%;
}
