.activity_container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	font-family: patrickhand;
}

.activity_container, .activity_container * {
	position: relative;
	margin: 0;
	padding: 0;
}

.activity_container .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.activity_container .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	position: relative;
	height: 100%;
	width: 100%;
}


/*.question:not(.answered_text) .correct:hover{
	color: #A4208E;
}
.question:not(.answered_text) .incorrect:hover{
	color: #A4208E;
}*/


.imageblock{
	position: relative;
	width: 40%;
	height: 60%;
	/*background-color: #faf;*/
	margin-right: 1%;
	float: right;
}

.imageblock > img{
	position: relative;
	width: 100%;
	max-height: 100%;
}

.lowertextblock {
	position: relative;
	height: auto;
	width: 58%;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 0.5em 0.8em 1em 0.8em;
	float: left;
}

.closebtn1:hover {
	color: black;
}

.cong {
    background-color: #1bc402;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000;
    color: white;
    display: none;
    font-size: 1.5em;
    left: 12%;
    margin-bottom: 15px;
    padding: 20px;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    width: 70%;
}

.markboard_rhino {
    position: absolute !important;
    top: 2.2%;
    right: 0%;
    width: 15%;
    height: 7%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 95;
    background-color: #2ECC71;
}
.closebtn1 {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.SequenceTimeLine {
    display: none;
}

@media screen and (min-aspect-ratio: 4/3) {
	.title{
		font-size: 5vh;
	}

	.question{
		font-size: 3.5vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.title{
		font-size: 4.56vw;
	}
	.question{
		font-size: 3.56vw;
	}
}
.answered_text .option{
	color: black;
}
.answered_text .incorrect{
	display: none;
}
.answered_text .correct{
	text-decoration: underline;
}



.ex-number-template-score{
	background-color: #4D76A6;
}
.bg-main{
	background: #FF7E5E;
	background: linear-gradient(to right, #EC6F66 , #F3A183);
}

.title {
	position: absolute;
	bottom: 93%;
	left: 0%;
	width: 100%;
	font-size: 1.9vw;
	color: #fff;
	z-index: 50;
}

.blank-space{
	display: inline-block;
	white-space: pre;
	width: 10vw;
	border-bottom: 0.3vmin solid black;
	color: #11772D;;
	text-align: center;
}
.question{
	position: absolute;
	top: 15%;
	width: 82%;
	left: 9%;
	text-align: center;
	font-size: 2.7vw;
}
.answer {
	position: absolute;
	top: 73%;
	width: 82%;
	left: 9%;
	text-align: center;
	font-size: 2.7vw;
}
.am_pm{
	position: absolute;
	top: 45%;
	left: 52.5%;
	transform: translateY(-50%);
	padding: 1.5% 3%;
	background-color: #EEEEEE;
	border-radius: 2vmin;
	border: 1px solid black;
	font-size: 4.5vw;
	font-family: proximanova;
}


@media(min-aspect-ratio:4/3){
	.title {
		font-size: 3vh;
	}
	.answer, .question {
		font-size: 3.9vh;
	}
	.am_pm{
		font-size: 6.5vh;
	}
}

.option{
	cursor: pointer;
	color: #4D76A6;
}
.option>span:hover{
	color: #22226E;
}

.done{
	color: #11772D;
}

.notdone{
	color: #ff2200;
}


.speechbox{
	position: absolute;
	width: 25%;
	height: 15%;
	font-family: sniglet;
	font-size: 2.1vw;
	z-index: 10;
}
.speechbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}
@media (min-aspect-ratio: 4/3){
	.speechbox{
		font-size: 2.8vh;
	}
}
.speechbox>p{
	position: absolute;
	width: 84%;
	left: 8%;
	top: 40%;
	transform: translateY(-50%);
}
.speechbox>.audioicon{
	position: absolute;
	width: 10%;
	right: 5%;
	top: 12%;
}



/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}











.flipped-v{
	transform: rotateY(180deg);
}

.im-1{
	position: absolute;
	left: 10%;
	height: 70%;
	bottom: 3%;
}
.sp-1{
	position: absolute;
	left: 25%;
	bottom: 55%;
	width: 35%;
	height: 25%;
}
.sp-1>p{
	top: 50%;
	transform: translateY(-50%);
}

.im-2{
	position: absolute;
	left: 10%;
	height: 40%;
	bottom: 3%;
}
.sp-2{
	position: absolute;
	left: 18%;
	bottom: 41%;
	width: 35%;
	height: 31%;
}

.im-3{
	position: absolute;
	left: 3%;
	height: 90%;
	bottom: 3%;
}
.sp-3{
	position: absolute;
	left: 24%;
	bottom: 50%;
	width: 35%;
	height: 25%;
}

.im-4{
	position: absolute;
	left: 3%;
	height: 70%;
	bottom: 3%;
}
.sp-4{
	position: absolute;
	left: 31%;
	bottom: 47%;
	width: 50%;
	height: 25%;
}
.sp-4>p{
	top: 50%;
	transform: translateY(-50%);
}

.im-5{
	position: absolute;
	left: 7%;
	height: 39%;
	bottom: 25%;
}
.sp-5{
	position: absolute;
	left: 24%;
	bottom: 57%;
	width: 45%;
	height: 30%;
}
.im-6{
	position: absolute;
	left: 3%;
	height: 60%;
	bottom: 3%;
}
.sp-6{
	position: absolute;
	left: 16%;
	bottom: 57%;
	width: 35%;
	height: 30%;
}

.im-7{
	position: absolute;
	left: 6%;
	height: 50%;
	bottom: 8%;
}
.sp-7{
	position: absolute;
	left: 24%;
	bottom: 51%;
	width: 35%;
	height: 30%;
}
.im-8{
	position: absolute;
	left: 12%;
	height: 45%;
	bottom: 8%;
}
.sp-8{
	position: absolute;
	left: 22%;
	bottom: 50%;
	width: 40%;
	height: 30%;
}

.im-9{
	position: absolute;
	left: 3%;
	height: 45%;
	bottom: 8%;
}
.sp-9{
	position: absolute;
	left: 22%;
	bottom: 31%;
	width: 40%;
	height: 24%;
}
.sp-9>p{
	top: 50%;
	transform: translateY(-50%);
}

.im-10{
	position: absolute;
	left: 8%;
	height: 45%;
	bottom: 8%;
}
.sp-10{
	position: absolute;
	left: 22%;
	bottom: 48%;
	width: 40%;
	height: 35%;
}
.centerimage {
    position: absolute;
    width: 40%;
    top: 18%;
    left: 30%;
}
