html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/Geometrical shapes/BG and Shapes/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 15%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: relative;
}

div.imageblock {
	position: relative;
	margin-bottom: 0%;
	/*border     : 1px solid green; */
	height: 35%;
    top: 0%;
}

div.imageblock label {
	position: absolute;
	font-size: 1.6em;
	font-weight: normal;
}

.individualsingleshapename{
 	font-size: 6vmin !important;
 	bottom: -25%;
 	left: 0 !important;
	right: 0;
	margin: 0 auto;
	visibility: hidden;
	animation: zoomin 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes zoomin {
	from {
		opacity: 0.5;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

.shapenamecircle{
	color: #4090D4;
	left: 46%;
	top: 163%;
	padding-right: 9%;
}

.shapenamerectangle{
	color: #F0679E;
	left: 43.5%;
	top: 167%;
	padding-left: 2%;
}
.individualshapecircle{
	top:62%;
}
.individualshaperectangle{
	left: 40% !important;
	top: 83%;
}

.shapenametriangle{
	color: #00B469;
 	left: 44.1%;
}

.dropableshapename01 {
    position: absolute;
    left: 23% !important;
    color: #6B95DA;
    transform: translate(-50%,-50%);
}

.dropableshapename02 {
    position: absolute;
    left: 49% !important;
    color: #6B95DA;
    transform: translate(-50%,-50%);
}
.dropableshapename03 {
    position: absolute;
    left: 79% !important;
    color: #6B95DA;
    transform: translate(-50%,-50%);
}
.induvidualshapesrect{
	left: 29.6% !important;
}

.individualshapes {
	margin-top: 0%;
	height: 77%;
	width: auto;
	animation: zoominout 1s;
	position: absolute;
	left: 39%;
}

@keyframes zoominout{
	0%{
		transform: scale(0);
	}
	90%{
		transform: scale(1);
	}
	100%{
		transform: scale(1);
	}
}

.headertextstyle {
	margin-top: 4.5%;
	font-size: 3.5vw;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.headerdescription{
	margin-top: 4.5%;
	font-size: 2vw;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	animation: draggableshow normal 1s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
	visibility: hidden;
}

.headerdescription-clone{
	margin-top: 4.5%;
	font-size: 2.3vw;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mainheading{
	position: absolute;
	width: 100%;
	padding-top: 12%;
	font-size: 4vw;
	color: #FF676B;
}

.individualshape1{
	position: absolute;
	left: 9%;
	height: 25%;
}

.individualshape2{
	position: absolute;
	left: 40%;
	top: 5%;
	height: 20%;
}

.rectmod{
	height: 23%;
	margin-top: 5% !important;
}

.individualshape3{
	position: absolute;
	left: 73%;
	height: 25%;
	top: 5%;
}

.individualshapename1 {
    left: 17.5%;
    color: #6B95DA;
    transform: translate(-50%,-50%);
    top: 70%;
}

.individualshapename2 {
    left: 49.5%;
    color: #6B95DA;
    transform: translate(-50%,-50%);
    top: 70%;
}
.individualshapename3 {
    left: 83.5%;
    color: #6B95DA;
    transform: translate(-50%,-50%);
    top: 70%;
}

.gnlabel{
	bottom: 0;
	font-size: 5vmin !important;
}


.ishidden{
	margin-left: 4%;
	transform: scale(3);
	animation: shrinkout 3s;
	margin-top: 5%;
}

@keyframes shrinkout{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100% {
		transform: scale(3);
		opacity: 1;
	}
}

.isshowing{
	transform: scale(3);
	animation: shrinkin 5s;
	margin-top: 6%;
	margin-left: 5%;
}

@keyframes shrinkin{
	0%{
		transform: scale(3);
		opacity: 1;
	 }
	 20%{
	 	transform: scale(3);
	 	opacity: 1;
	 }
	 60%{
	 	transform: scale(0.4);
	 	opacity: 0;
	 }
	100% {
		transform: scale(0.4);
		opacity: 0;
	}
}

/* Pop-Up */
.definitionblock {
	position: relative;
	top: -43%;
}

#popup {
	position: relative;
	bottom: 44%;
}

#popup> p {
	padding: 0 4%;
	font-size: 1.6vw;
	display: none;
	font-weight: bold;
	color: #000;
	letter-spacing: 0.1em;
}

.C-PopUp {
    left: 10%;
    position: absolute;
}

.R-PopUp {
    left: 33%;
    position: absolute;
}
.T-PopUp {
    position: absolute;
    right: 6%;
}
/*  Drag and dropable*/
.dropable {
	height: 95%;
}

.isCircle {
	position: absolute;
	left: 13%;
	width: 21%;
}

.isRectangle {
	position: absolute;
	left: 37%;
	width: 25%;
}

.isTriangle {
	position: absolute;
	right: 11%;
	width: 24%;
}


.dropablecircle1 {
	position: relative;
	left: -6%;
	top: 0;
	height: 100%;
}

.movedown1 {
	position: relative;
	left: -45%;
	top: -127%;
	height: 128%;
	animation: dropableC 1s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes dropableC{
	from {}
	to{
		left: -6%;
		top: 0;
		height: 100%;
	}
}

.dropablerectangle2 {
	position: relative;
	left: -4%;
	top: 0;
	height: 100%;
}

.movedown2{
	position: relative;
	left: -13%;
	top: -116%;
	height: 118%;
	animation: dropableR 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes dropableR{
	from {}
	to{
		left: -4%;
		top: 0;
		height: 100%;
	}
}

.dropabletriangle3 {
	position: relative;
	right: 1%;
	top: 0;
	height: 103%;
}

.movedown3 {
	position: relative;
	right: -3%;
	top: -119%;
	height: 128.5%;
	animation: dropableT 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes dropableT{
	from {}
	to{
		right: 1%;
		top: 0;
		height: 103%;
	}
}

.dropable:hover {
	filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}

.draggable {
	margin-top: 2%;
	width: 80%;
	max-width: 13vmin;
	cursor: grab;
}

.fadeIn {
	animation: draggableshow normal 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	visibility: hidden;
}
.shake{
	filter: brightness(150%) drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
	animation: shake .8s linear infinite;
}
@keyframes shake{
	0%{
		transform: scale(1);
	}

	50%{
		transform:scale(1.1);

	}

	100%{
		transform:scale(1);

	}
}

@keyframes draggableshow {
	from { opacity: 0; }
	to { opacity: 1; visibility: visible; }
}

.draggable:hover {
	transform: scale(1.1);
}
.dropableshapename {
    position: absolute !important;
    bottom: -54%;
    left: 10%;
    font-size: 5Vmin !important;
}

.draggableimageblock {
	height: 40%;
	box-sizing: border-box;
	padding: 3%;
}

.draggableimageblock .area{
	display: inline-block;
	height: auto;
	width: 10%;
}

.imageblock .area{
	display: inline-block;
	height: 100% !important;
}

.hovered {
	transform: scale(1.2);
}

/*lastslide*/
.contentwithplaybg{
	width: 100%;
	height: 100%;
	background: url("../images/Geometrical shapes/BG and Shapes/bg for game.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.lastheaderdescription{
	padding: 3% 0 6%;
	font-size: 3.5vmin;
	height: 0;
}

.lastheaderdescription1{
	font-size: 3.5vmin;
	height: 6%;
	background-color: rgba(255, 0, 0, 0.2);
	width:100%;

}

/*.lastdropable{
	position: absolute;
	bottom:0%;
	height: 70% !important;
}*/

/* Item Lists*/
/*wheel*/
.wheel{
	height: 6.7%;
	width: auto;
	position: absolute;
	top: 52.5%;
	right: 23.8%;
}

.wheelfront{
	position: absolute;
	right: 41.8%;
}
/*orange*/
.orange{
	height: 7%;
	width: auto;
}

.orange01{
	position: absolute;
	top: 29.9%;
	left: 2.6%;
}

.orange02{
	position: absolute;
	top: 18.1%;
	left: 5.7%;
}

.orange03{
	position: absolute;
	top: 19.4%;
	left: 15.5%;
}

.orange04{
	position: absolute;
	top: 32.5%;
	left: 15.3%;
}
/*balloon*/
.balloon{
	height: 60px;
	position: absolute;
}

.balloon01{
	height: 9%;
	width: auto;
	top: 12%;
	right: 1%;
}

.balloon02{
	top: 22%;
	right: 0%;
	height: 9%;
	width: auto;
}

.balloon03{
	height: 10%;
	top: 18.7%;
	right: 5.5%;
	width: auto;
}
/*carwindow*/
.carwindow{
	height: 36px;
	position:absolute;
	top: 42.4%;
}

.carwindow01{
	right: 35.7%;
	width: auto;
	height: 5.2%;
}
.carwindow02{
	right: 31.6%;
	width: auto;
	height: 5.2%;
}
.carwindow03{
	right: 26.8%;
	width: auto;
	height: 5.2%;
}
.carwindow04{
	right: 22.4%;
	width: auto;
	height: 5.2%;
}

/*flag*/
.flag{
	height: auto;
	width: 4.1%;
	position: absolute;
	left: 43.2%;
	top: 13.9%;
	z-index: 111;
}

.flag01{
	top: 18%;
	height: auto;
	width: 4.7%;
}
/*rooftop*/
.rooftop{
	height: auto;
	position: absolute;
	top: 17.5%;
	left: 24%;
	width: 26%;
	max-width: 50%;
}
/*window*/
.window{
	height: 8%;
	width: auto;
	position: absolute;
	top: 38.6%;
	left: 27.8%;
}

.window01{
	left: 41.8%;
}
/*cap*/
.cap{
	height: 9.3%;
	width: auto;
	position: absolute;
	top: 27.5%;
	right: 9%
}
/*door*/
.door{
	height: 16%;
	width: auto;
	position: absolute;
	top: 39.2%;
	left: 34.3%;
}
/*sun*/
.sun{
	position: absolute;
	top: 6.5%;
	right: 16.1%;
	width: 8.4%;
}


/*object text*/
.objecttext13, .objecttext14, .objecttext15 {
	display: none;
}
