html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: sniglet;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: proxima;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.6em;
    box-shadow: inset 0 0 30px #f2f2f2;
}
.totalsequence {
    border: green 0.3vmin solid;
}

.activeTimeLine {
    background: green;
}

/*page1 starts */

.textblock *{
  z-index: 99;
  font-family: sniglet;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.bottomimage {
    width: 23%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    left: 50%;
    top: 43%;
}

.upptertext {
    color: white;
    font-family: sniglet;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 17%;
    opacity: 0;
    font-size: 3.3vw;
}

.middletext {
    color: white;
    font-family: sniglet;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 37%;
    font-size: 3vw;
    opacity: 0;
}

.bottomtext {
    color: white;
    font-family: sniglet;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 3vw;
    opacity: 0;
    z-index: 2;
}

.leftbottomimage {
    position: absolute;
    width: 25%;
    left: 20%;
    top: 59%;
    opacity: 0;
}

.rightbottomimage {
    position: absolute;
    width: 25%;
    left: 50%;
    top: 59%;
    opacity: 0;
}

.rightbottomimage1 {
    position: absolute;
    width: 19%;
    left: 76%;
    opacity: 0;
    top: 51%;
}

.upptertext1 {
    color: white;
    font-family: sniglet;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 17%;
    opacity: 0;
    font-size: 3.3vw;
    background: rgba(242, 232, 232,.1);
    padding: 2%;
    width: 60%;
    box-shadow: .01em .01em .1em .04em rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    z-index: 2;
}


.topic {
    color: white;
    width: 100%;
    font-size: 3vw;
    text-align: left;
    padding: 1%;
    background: rgb(99,128,188);
    padding-left: 2%;
    box-shadow: .1em .1em .1em rgba(0,0,0,.1);
    text-shadow: .01em .04em .1em rgba(0,0,0,.2);
    position: absolute;
}


.definition {
    color: white;
    width: 47%;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 18%;
}


.belowtext {
    color: white;
    width: 47%;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 44%;
}

.points {
    color: white;
    width: 52%;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 60%;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    text-align: left;
    position: absolute;
    left: 49%;
    top: 56%;
    list-style-type: circle;
}

.featuredimage {
    position: absolute;
    width: 0%;
    left: 10%;
    opacity: 1;
    transform: translateY(-50%);
    top: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.2));
}

.featuredimage1 {
    position: absolute;
    width: 0%;
    left: 6.25%;
    opacity: 1;
    transform: translateY(-50%);
    top: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.2));
}

.featuredimage2 {
    position: absolute;
    width: 0%;
    left: 37.5%;
    opacity: 1;
    transform: translateY(-50%);
    top: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.2));
}

.featuredimage3 {
    position: absolute;
    width: 0%;
    left: 68.75%;
    opacity: 1;
    transform: translateY(-50%);
    top: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.2));
}

.desc1 {
    color: white;
    font-size: 2.5vw;
    position: absolute;
    width: 25%;
    top: 75%;
    left: 6.25%;
    text-align: center;
}


.desc2 {
    color: white;
    font-size: 2.5vw;
    position: absolute;
    width: 25%;
    top: 75%;
    left: 37.5%;
    text-align: center;
}


.desc3 {
    color: white;
    font-size: 2.5vw;
    position: absolute;
    width: 25%;
    top: 75%;
    left: 68.75%;
    text-align: center;
}

.topic1 {
    color: white;
    width: 100%;
    font-size: 3vw;
    text-align: left;
    padding: 1%;
    background: rgb(99,128,188);
    padding-left: 2%;
    box-shadow: .1em .1em .03em .08em rgba(0,0,0,.1);
    text-shadow: .01em .04em .1em rgba(0,0,0,.2);
    position: absolute;
    top: 12%;
    text-align: center;
}



.fadein{
  animation:fadein 1s ease-in forwards;
}
@keyframes fadein {
  to{
    opacity:1;
  }
}
.lesson-title {
    position: absolute;
    font-size: 4vw;
    transform: translate(-50%,-50%);
    z-index: 5;
    left: 50%;
    top: 30%;
}
@media (min-aspect-ratio: 4/3){
	.topic,.upptertext1,.upptertext,.middletext,.bottomtext,.upptertext1,.rightbottomimage1{
		font-size: 5vh;
	}
  .definition,.belowtext,ul,.topic1{
    font-size: 2.8vh;
  }
  .desc1,.desc2,.desc3{
      font-size: 3.5vh;
  }
  .lesson-title{
    font-size: 6.5vh;
  }
}
@media (max-aspect-ratio: 4/3){
	.topic,.upptertext1,.upptertext,.middletext,.bottomtext,.upptertext1,.rightbottomimage1{
		font-size: 3.5vw;
	}
  .definition,.belowtext,ul,.topic1{
    font-size: 2.1vw;
  }
  .desc1,.desc2,.desc3{
      font-size: 2.3vw;
  }
  .lesson-title{
    font-size: 5vw;
  }
}
.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/*page1 ends*/
