.mixture {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #fff;
  box-shadow: inset 0 0 30px #f2f2f2;
  font-family: happy_monkey, cursive;
}

.mixture,
.mixture * {
  position: relative;
  margin: 0;
  padding: 0;
}

.mixture .nextBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
}

.mixture .prevBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-horizontal-center {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

.coverboardfull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 0.6;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.6;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
  cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-animation: pulse 1.2s ease-out infinite;
  -moz-animation: pulse 1.2s ease-out infinite;
  animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generaltemplateblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock {
  position: relative;
  height: 100%;
  width: 100%;
}

.title {
  padding: 0.2em 0.5em;
  background-color: #ff595b;
  color: #fff;
  border-bottom: 0.15em solid #ff797b;
  z-index: 50;
}

.textblock {
  position: relative;
  height: auto;
  width: 100%;
}

.question {
  position: relative;
  padding: 0.2em 0.5em;
  width: 100%;
  text-align: left;
}

.imageblock {
  position: relative;
  width: 40%;
  height: 60%;
  /*background-color: #faf;*/
  margin-right: 1%;
  float: right;
}

.imageblock > img {
  position: relative;
  width: 100%;
  max-height: 100%;
}

.lowertextblock,
.lowertextblock2 {
  position: relative;
  height: auto;
  width: 58%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0.5em 0.8em 1em 0.8em;
  float: left;
}

.lowertextblock2 {
  width: 100%;
  padding: 0;
}

.lowertextblock2 > p {
  width: 48%;
  float: left;
  margin: 1%;
  padding: 0;
}

.option {
  width: 100%;
  height: auto;
  padding: 0.2em 0.3em;
  margin-top: 0.5em;
  background-color: #7285d4;
  border: 0.2em solid rgba(0, 0, 0, 0);
  color: #fff;
}

.option:hover {
  background-color: #6664c9;
  border: 0.2em solid #fabd15;
}

.option:active {
  background-color: #6664c9;
  border: 0.2em solid #fabd15;
  transform: translateY(4%);
}

.disable,
.disable:hover,
.disable:active {
  transform: translateY(0);
  background-color: #7285d4;
  border: 0.2em solid rgba(0, 0, 0, 0);
}

.correct,
.correct:hover,
.correct:active {
  background-color: #78c269;
  border: 0.2em solid #78c269;
}

.incorrect,
.incorrect:hover,
.incorrect:active {
  background-color: #f63979;
  border: 0.2em solid #f63979;
}

@media screen and (min-aspect-ratio: 4/3) {
  .title {
    font-size: 5vh;
  }

  .question {
    font-size: 4vh;
  }

  .option {
    font-size: 2.56vh;
  }

  .lowertextblock2 > p {
    font-size: 2.56vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .title {
    font-size: 4.56vw;
  }
  .question {
    font-size: 3.56vw;
  }

  .option {
    font-size: 2vw;
  }

  .lowertextblock2 > p {
    font-size: 2vw;
  }
}
