.centertextblock1 {
  z-index: 2;
  position: absolute;
  top: 0%;
}
.mixture {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #fff;
  box-shadow: inset 0 0 30px #f2f2f2;
  font-family: happy_monkey, cursive;
}

.mixture,
.mixture * {
  position: relative;
  margin: 0;
  padding: 0;
}

.mixture .nextBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
}

.mixture .prevBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-horizontal-center {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

.coverboardfull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 0.6;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.6;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
  cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-animation: pulse 1.2s ease-out infinite;
  -moz-animation: pulse 1.2s ease-out infinite;
  animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generaltemplateblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff3ea;
  color: #373838;
}

.textblock {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 6% 3%;
}

.centertextblock {
  position: absolute;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.imageblock {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.image1 {
  border: 3vmin solid transparent;
  border-image: url("../images/border_2.png") 37% round;
  height: 50%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.image2 {
  border: 3vmin solid transparent;
  border-image: url("../images/border_2.png") 37% round;
  height: 50%;
  top: 35%;
  left: 75%;
  transform: translateX(-50%);
  position: absolute;
}

.fadein1 {
  opacity: 0;
  animation: fade_in 1s linear 1s forwards;
}

.fadein2 {
  opacity: 0;
  animation: fade_in 1s linear 2s forwards;
}

.fadein3 {
  opacity: 0;
  animation: fade_in 1s linear 3s forwards;
}

.fadein4 {
  opacity: 0;
  animation: fade_in 1s linear 3.5s forwards;
}

.green_red_highlight:nth-of-type(1) {
  color: #0f0;
}

.green_red_highlight:nth-of-type(2) {
  color: #f00;
}

@keyframes fade_in {
  to {
    opacity: 1;
  }
}

.special_highlight_class:nth-of-type(1) {
  color: #f13476;
}

.special_highlight_class:nth-of-type(2) {
  color: #24ff22;
}

.special_highlight_class:nth-of-type(3) {
  color: #ff2200;
}

.covering_topic {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2em 0.2em 0.2em 0.5em;
  border-bottom: 0.2em solid #fa3476;
  background-color: #f13476;
  border-right: 0.2em solid #fa3476;
  color: #fff;
}

.center_text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description {
  text-align: left;
}

.title {
  margin-bottom: 3%;
}

.pinktext {
  color: #f13476;
}

.blacktext {
  font-weight: bold;
}

.done {
  color: green;
}

.notdone {
  color: #ff2200;
}

.option span:hover{
  cursor:pointer;
}

@media screen and (min-aspect-ratio: 4/3) {
  .title,
  .covering_topic {
    font-size: 4vh;
  }

  .textblock {
    font-size: 3vh;
  }
  .title1 {
    font-size: 7vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .title {
    font-size: 3vw;
  }

  .textblock {
    font-size: 2.2vw;
  }
}
