#toDo
{
	width: 100%;
	text-align: center;
}

.allquestion
{
 	margin-top: 2%!important;
 	width: 100%;
 	
 	height: 50%;
 	
 	
}

.box1
{
	display: inline-block;
	width: 47%;
	height: 100%;
	
	text-align: center;
	margin:0% 1%!important;

	

}
#text1,
#text2
{
	background: #3E9ED6;
	border-radius: 10px;
	margin-bottom: 2%;
	color: #fff;
	font-size: 1em;
	padding: 1%;
}

.dropbox
{
	background: rgba(255, 249, 99, 1);
	border: 1px solid #c9c9c9;
	width: 100%;
	height: 80%;
	border-radius: 10px;
	padding: 8%!important;
	text-align:center; 
}
.dropbox div
{
	
	width: 100%;
	height:100%;
	
	
}
.alloption
{
	margin-top: 1%!important;
	position: relative!important;
	width: 100%;
	
	
}
.polaroid {
	display: block;
	text-decoration: none;
	color: green;
	padding: 1%!important;
	width: 16%;
	border: 1px solid #BFBFBF;
	background: white;
	z-index: 2;
	font-size: 1em;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);

	position: absolute!important; 
	text-align: center;
}
.polaroid:hover,
.polaroid:focus,
.polaroid:active {
	z-index: 999;
	text-decoration: none;
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: rotate(0deg) scale(1.05);
	-moz-transform: rotate(0deg) scale(1.05);
	transform: rotate(0deg) scale(1.05);
}

.polaroid  p
{
	font-size: 0.6em;
	display: none;
}
.polaroid:hover p,
.polaroid:focus p,
.polaroid:active p{
display : block;
font-size: 0.7em;
}
.polaroid img {
	margin: 0 0 15px;
	width: 100%;
	
}

.dropped
{
	display: block;
	text-decoration: none;
	color: green;
	padding: 1%!important;
	width: 7%;
	border: 1px solid #BFBFBF;
	background-color: white;
	z-index: 2;
	font-size: 1em;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	
	position: absolute!important; 
	text-align: center;
	
}
.dropped:hover
{
	text-decoration: none;
}
.dropped img {
	margin: 0 0 15px;
	width: 100%;
	
} 
.dropped p 
{
	display: none;
}
#img1
{

	left: 0%;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);

	
}

#img2
{
	left: 13%;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);

}

#img3
{
	left: 25%;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);


}

#img4
{
	left: 38%;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);


}

#img5
{
	left: 50%;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);


}
#img6
{
	left: 60%;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);
}


#img7
{
	
	left: 72%;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);

}


#img8
{right: -2%;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
	

}


#retryBtnId{
	left: 45%;
	top: 75%;

	cursor: pointer;
color:black;
font-size:3em;	
text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

#e_1_3
{
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
}