	html, body {
		margin: 0;
		height: 100%;
		width: 100%;

	}
    /*@font-face {
    font-family: MontserratAlternates-Light;
    src: url("../../../../../fonts/Montserrat-Light.otf");
	@font-face {

	    src: url("../rosario-regular.otf");
	}

	@font-face {

	    src: url("../../../../../fonts/laila/laila-bold.ttf");
	}*/
    @font-face {
        font-family: Sniglet;
        src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
    }
    @font-face {
    font-family:pangolin;
    src: url(../../../../../fonts/Pangolin-Regular.ttf);
    }
	p{
		margin: 0;
	}

	.nextBtn {
		display: none;
		position: absolute;
		bottom: 0%;
		right: 0%;
		width: 7%;
		height: 10%;
		z-index: 1000;
	}

	.prevBtn {
		display: none;
		position: absolute;
		bottom: 0%;
		left: 0%;
		width: 7%;
		height: 10%;
		z-index: 88;
	}

	.myNextStyle {
		cursor: pointer;
		background-image: url("../../../../../images/arrows/arrow.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.myNextStyle:hover {
		background-image: url("../../../../../images/arrows/arrow_hover.png");
	}

	.myNextStyle:active {
		background-image: url("../../../../../images/arrows/arrow_active.png");
	}

	.myPrevStyle {
		cursor: pointer;
		background-image: url("../../../../../images/arrows/arrow_prev.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.myPrevStyle:hover {
		background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
	}

	.myPrevStyle:active {
		background-image: url("../../../../../images/arrows/arrow_active_prev.png");
	}

	.board {
		position: relative;
		top: 0%;
		left: 0%;
		text-align: center;
		height: 100%;
		width: 100%;
	}

	.vertical-horizontal-center {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		text-align: center;
	}

	.vertical-center {
		position: relative;
		top: 45%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		text-align: center;
	}

	.coverboardfull {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	div.generalTemplateblock {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		/*border   : 1px solid red; */
	}

	div.headerblock {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 20%;
		background-color: #E3D0DA;
		color: #CE00A7;

		/*border   : 1px solid red;*/
	}

	div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
		top: 20%;
		height: 80%;
		position: absolute;
		width: 100%;
	}

	div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
		top: 0%;
		height: 100%;
	}

	.maincontainer {
	    width: 100%;
	    height: 100%;
	    position: relative;
	    overflow: hidden;
	    font-size: 1.3em;
	    box-shadow: inset 0 0 30px #f2f2f2;


	}
.bckcolor{
    background-color: crimson;
}
/*PAGE 1
---------------------
---------------------
*/
.slide1img{
    position: absolute;
	border: solid;
	border-width: 7px;
	border-radius: 2%;
	top: 5%;
	left: 50%;
	height: 45%;
	border-color: #8E7CC3;
	transform: translate(-50%);
}
.slide1img_fish{
    position: absolute;
    border: solid;
    border-width: 7px;
    border-radius: 2%;
    top : 5%;
    right: 31%;
    height: 45%;
    border-color: #8E7CC3;
}
.slide1img_sheep{
    position: absolute;
    border: solid;
    border-width: 7px;
    border-radius: 2%;
    top : 5%;
    right: 31%;
    height: 45%;
    border-color: #8E7CC3;
}
.slide1img_mosquito{
    position: absolute;
    border: solid;
    border-width: 7px;
    border-radius: 2%;
    top : 5%;
    right: 30%;
    height: 44%;
    border-color: #8E7CC3;
}
.slide2img{
    border: solid;
    border-width: 7px;
    border-radius: 2%;
    margin-top : 2%;
    height: 45%;
    border-color: #6FA8DC;
}
.slide3img{
    border: solid;
    border-width: 7px;
    border-radius: 2%;
    margin-top : 2%;
    height: 45%;
    border-color: #F9898F;
}
.imglabelcss1 {
	position: absolute;
	top: 59%;
	width: 100%;
	background: #a56fad;
	color: white;
	transform: translate(-50%, -50%);
	font-size: 3vw;
    padding-bottom: 2%;
}
.imglabelcss4{
    position: absolute;
    font-family:Sniglet;
    color : red;
    left: 40%;
	width: 20%;
    top: 50% ;

}
.imglabelcss7{
    position: absolute;
    font-family:Sniglet;
    color : red;
    top: 50% ;
    left: 40%;
	width: 20%;

}
.imglabelcss2{
    position: absolute;
    font-family:Sniglet;
    color : red;
    top: 50% ;
    left: 40%;
	width: 20%;

}
.imglabelcss3{
    position: absolute;
    font-family:Sniglet;
    color : red;
    top: 50% ;
    left: 40%;
	width: 20%;

}
.imglabelcss9{
    position: absolute;
    font-family:Sniglet;
    color : red;
    top: 50% ;
    left: 40%;
	width: 20%;
}
.imglabelcss10{
    position: absolute;
    font-family:Sniglet;
    color : red;
    top: 50% ;
    right : 48%;
}
.imglabelcss13{
    position: absolute;
    font-family:Sniglet;
    color : red;
    top: 50% ;
    left: 40%;
	width: 20%;
}
.imglabelcss14{
    position: absolute;
    font-family:Sniglet;
    color : red;
    top: 50% ;
    left: 40%;
		width: 20%;
}
.textblock {
	position: absolute;
	font-family: Sniglet;
	top: 62%;
	padding: 1%;
	background: #fffcedff;
	width: 100%;
	text-align: center;
	height: 38%;
}

/* END OF PAGE 1
---------------------
---------------------
*/
	/*
	Domestic and wild animals start
	*/
.domesticheader {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 8%;
    left: 50%;
    font-size: 2em;
    width: 100%;
    color: white;
    text-shadow: 2px 2px black;
    background: #FF5160;
    padding: 2%;
    border-bottom: 7px solid #DCC0C3;
}

.wildheader {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 8%;
    left: 50%;
    font-size: 2em;
    width: 100%;
    color: white;
    text-shadow: 2px 2px black;
    background: #00805C;
    padding: 2%;
    border-bottom: 7px solid #A7EFD3;
}

	.face1 {
	    position: absolute;
	    width: 40%;
	    height: 40%;
	    background: white;
	    top: 25%;
	    left: 5%;
	}



.section {
    width: 32%;
    height: 38%;
    position: absolute;
    perspective: 800px;
}
.section:hover{
	transition: transform 1s;
	transform: scale(1.1);
}
.card {
	    width: 90%;
	    height: 90%;
	    position: absolute;
	    transform-style: preserve-3d;
	    transition: transform 1s;
}




.seone {
    top: 20%;
    left: 4%;
}

.setwo {
    top: 20%;
    left: 36%;
}

.sethree {
    top: 20%;
    left: 68%;
}

.sefour {
    top: 60%;
    left: 4%;
}

.sefive {
    top: 60%;
    left: 36%;
}

.sesix {
    top: 60%;
    left: 68%;
}


.front1 {
    background: #FF8722;
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 2em;
    padding-top: 25%;
    text-align: center;
    border-radius: 30px;
    cursor: default;
    color: white;
    border: 5px solid white;
}

.back1 {
    transform: rotateY( 180deg );
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    border: 5px solid #F4CC61;
}

.flipped {
	transform: rotateY( 180deg );
}

.imgcaption {
    background: #F4CC61;
    position: absolute;
    bottom: -0.5%;
    width: 100%;
    font-size: 1.2em;
    opacity: 0.9;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@keyframes fadeintext{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fadeintextper{
    0%{opacity: 0;}
    20%{opacity: 1;}
    100%{opacity: 1;}
}

.domestictext1 {
    position: absolute;
    top: 22%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: 1.5em;
    opacity: 0;
    animation: fadeintextper 1s linear 0s forwards;
}

.domestictext2 {
    position: absolute;
    top: 30%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: 1.5em;
    opacity: 0;
    animation: fadeintextper 1s linear 2s forwards;
}

.domestictext3 {
    position: absolute;
    top: 39%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: 1.5em;
    opacity: 0;
    animation: fadeintextper 1s linear 4s forwards;
}

@keyframes slide-up{
	0%{bottom: 0%;}
	0%{bottom: 10%;}
}

.fade_in1{
	opacity: 0;
	animation: fade_in_kf 1s linear forwards;
}

@keyframes fade_in_kf{
	to{
		opacity: 1;
	}
}

.description {
    opacity: 0;
    font-size: 2.3vw;
}
.firstslidebg{
    background: url("../images/describing-animals.jpg") !important;
    background-size: cover !important;
    height: 100% !important;
    width: 100% !important;
}
.firsslidetext {
    color: white;
    font-family: pangolin;
    background: none !important;
    font-size: 7vmin;
    position: absolute;
    width: 100%;
    height:20%;
}
.uppertexttop{
    position: absolute;
    font-family: Sniglet;
    top: 25%;
    padding: 1%;
    width: 100%;
    text-align: center;
    height: 38%;
    background: none !important;
}
.pigdance {
    margin-top: 36%;
    width: 16%;
    margin-left: 6%;
}
@media (min-aspect-ratio: 4/3){
	.description{
    font-size: 4vh;
	}
}
@media (max-aspect-ratio: 4/3){
	.description{
    font-size: 2.3vw;
	}
}
