.exponential {
	background: #eaefb5;
	background: -moz-linear-gradient(top, #eaefb5 0%, #e1e9a0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaefb5), color-stop(100%,#e1e9a0));
	background: -webkit-linear-gradient(top, #eaefb5 0%,#e1e9a0 100%);
	background: -o-linear-gradient(top, #eaefb5 0%,#e1e9a0 100%);
	background: -ms-linear-gradient(top, #eaefb5 0%,#e1e9a0 100%);
	background: linear-gradient(to bottom, #eaefb5 0%,#e1e9a0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=0 );
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;

	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 10px;
	padding-top: 2%;
	background-color:#ffffff;
}

.wrapperIntro.firstPage .text0 {
	/*font-size: 1.3em;*/
	margin-bottom:30px;
	border:solid 2px #538cdb;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
}

.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1.3em;
	color: #996699 ;
}

.wrapperIntro.firstPage .ind2{
	font-size: 1.3em;
	color: #996699 ;
}

.wrapperIntro.firstPage .text1 {
	font-size: 1em;
	opacity: 0;

}

.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}


.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}


.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

/*
.wrapperIntro.second .text0 {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
}

.wrapperIntro.second .text0:after {
	position: absolute;
	width: 25%;
	height: 1px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.second .text1 {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
}

.wrapperIntro.second .text1:after {
	position: absolute;
	width: 50%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}
*/
.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1.3em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0 ,
.wrapperIntro.baseAndIndices2 .text1 {
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform : rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform : rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform : rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform : rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5{
	color:#538cdb;
}


/*added by manish*/

.wrapperIntro.second .text1,
.wrapperIntro.second .text2,
.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12{
	font-size: 1em;
	display: none;
}

.wrapperIntro.second .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}


.wrapperIntro.second .text3 {
    color: #000000;
    display: none;
    font-size: 1em;


}

.wrapperIntro.second .text4 {
    color: #000000;
    display: none;
    font-size: 1em;


}

.wrapperIntro.second .text7 {

}

.wrapperIntro.second .text8 {

}

.wrapperIntro.second .yellow {
    color: #F2C249;
}


.wrapperIntro.second .green {
    color: #00AAA0;
}

.wrapperIntro.second .imageholder01{
	display:none;
}

.wrapperIntro.second .imageholder02{
	display:none;
}

#fun_1 > img{
	width:54%;
}

#ball_1 {
    background: #F2C249;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%;/*24%;*/
	top: 0;
}


#ball_2 {
    background: #C25B56;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
}

#ball_3{
    background: #00AAA0;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%; /*24%;*/
	top: 0;
}

.img-des1 {
    display: inline-flex;
    width: 100%;
}

.imageholder01{
	width:40%;
}

.image1des {
    float: right;
    padding-top: 60px;
    width: 60%;
}



.img-des2 {
    display: inline-flex;
    width: 100%;
}

.imageholder02{
	width:40%;
}

.image2des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

/*first figure pachi ko styling*/

.des2 {
    margin-left: 151px;
}
.des3 {
    margin-left: 151px;
}

.des6 {
    margin-left: 151px;
}
.des7 {
    margin-left: 151px;
}
/********************third page****************/

.wrapperIntro.third .ind2{
	color: #996699 ;
}

.wrapperIntro.third .imageholder03{
	display:none;
}

#fullname{
	color:#cece00;
	position:absolute;
	top:0;
	left:14%; /*4%;*/
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname{
	color:#538cdb;
	position:absolute;
	left:13%;
}

.imageholder01{
	position:relative;
}


.wrapperIntro.third .text1{
	display:none;
}

.wrapperIntro.third .text2{
	display:none;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des3 {
    display: inline-flex;
    width: 100%;
}

.imageholder03{
	width:40%;
}

.image3des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.des10{
	margin-left:9.55%;
}

.des11{
	margin-left:9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des4 {
    display: inline-flex;
    width: 100%;
}

.imageholder04{
	width:40%;
}

.image4des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.wrapperIntro.third .imageholder04{
	display:none;
}

#fullname01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:7%;/*13%; */
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname01{
	color:#538cdb;
	position:absolute;
	left:13%;
}

/*page4*/
/*
/*.wrapperIntro.fourth .ind2 {
	font-weight: bold;
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fourth .imageholder05{
	display:none;
}

.wrapperIntro.fourth .imageholder06{
	display:none;
}

.wrapperIntro.fourth .text1{
	display:none;
}

.wrapperIntro.fourth .text2{
	display:none;
}*/



.img-des5 {
    display: inline-flex;
    width: 100%;
}

.imageholder05{
	width:40%;
}

.image5des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output01{
	color:#c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 17%;
    padding: 10px;
    position: absolute;
    top: 61%;
}



.img-des6 {
    display: inline-flex;
    width: 100%;
}

.imageholder06{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input02{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output02{
	color:#c25b56;
	position:absolute;
	left:21%;
}
 /*******end of page 4*************/



 /****page5*************/



 .wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fifth .imageholder07{
	display:none;
}

.wrapperIntro.fifth .imageholder08{
	display:none;
}

.wrapperIntro.fifth .text1{
	display:none;
}

.wrapperIntro.fifth .text2{
	display:none;
}



.img-des7 {
    display: inline-flex;
    width: 100%;
}

.imageholder07{
	width:40%;
}

.image7des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input03{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output03{
	color:#C25B56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    width: 15%;
    position: absolute;
    top: 57%;
	text-align:center;
	font-style:bold;
}



.img-des8 {
    display: inline-flex;
    width: 100%;
}

.imageholder08{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input04{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output04{
	color:#C25B56;
	position:absolute;
	left:21%;
}


 /******end of page5********/

 /*added by manish*/


.wrapperIntro.firstPage .text2 {
    padding-left: 11%;
    padding-top: 5%;
	color:#996699 ;
}


.wrapperIntro.firstPage .text3{
	padding-left:11%;
	padding-top:1%;
	padding-bottom:2%;

}

.wrapperIntro.firstPage .text4 {
    margin-left: 18%;
	color:#538cdb;
	padding-bottom:1%;
}


.wrapperIntro.firstPage .text5 {
    margin-left: 18%;
	color:#538cdb;
	padding-bottom:1%;
}

.wrapperIntro.firstPage .text6 {
    margin-left: 18%;
	color:#538cdb;
	padding-bottom:1%;
}


.wrapperIntro.firstPage .text7{
	padding-top:40px;
}


.wrapperIntro.second .text1{
	padding-top:15px;

}

.wrapperIntro.second .des4{
	padding-top:10px;
}


.wrapperIntro.second .des8 {
    border: 2px solid #538cdb;
    font-size: 1.5em;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 712px;
	display:none;
}

.p1_41 {
    border: 2px solid #538cdb;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 712px;
}

.p1_39 {
    margin-left: 19%;
}

.p1_40 {
    margin-left: 19%;
}


.image8des {
    margin-top: 100px;
}
 /*added by sangina*/



 .wrapperIntro.third .text3{
	display:none;
	 }
.wrapperIntro.third .ind5{
	color:#0CF;
}


/*
.wrapperIntro.fourth .text1{
	display:none;
	 }
.wrapperIntro.fourth .text2{
	display:none;
}
.wrapperIntro.fourth .text3{
	display:none;
}*/


/*added by manish*/


.f3_2,
.f3_3,
.f3_4,
.f3_5
 {
    display: none;
    width: 100%;
}

.f3_6{
	display:none;
}

.img2 {
    width: 8%;
}

.img2 > img {
    width: 100%;
}


.img1 {

}

.img1 > img {

}
#p8_2
{
    margin: 0 auto;
    width: 79%;
	background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
    padding: 5%;
}

#p2_11 ,
#p2_12,
#p2_15,
#p2_16,
#p2_17,
#p8_3

{
    margin: 0 auto;
    width: 79%;
	background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
    padding: 5%;
}


.highlight {
    background: grey none repeat scroll 0 0;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.footerNotification .continuePage {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: medium none;
    height: 100%;
    left: 78%;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 17%;
}

.f3_6 {
    background: floralwhite none repeat scroll 0 0;
    border-radius: 5px;
    margin: 2% auto 0;
    padding: 1%;
    text-align: center;
    width: 76%;
}
/*
.wrapperIntro.fourth .text1,
.wrapperIntro.fourth .text2,
.wrapperIntro.fourth .text3,
.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text5,
.wrapperIntro.fourth .text6,
.wrapperIntro.fourth .text7,
.wrapperIntro.fourth .text8,
.wrapperIntro.fourth .text9,
.wrapperIntro.fourth .text10

{

	display:none;
}*/


/* added by Rashik Maharjan*/
.wrapperIntro.first .text0 {
   background-color: #cfebd0;
    border-bottom: 4px solid #def7df;
    color: #555555;
    font-size: 1.7em;
    height: 10.5%;
    left: 0;
    padding-top: 0.7%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.first .text3{
    margin-left: 21%;
    margin-top: 2%;

}

.wrapperIntro.first .text4{
      margin-top: -11%;
    margin-left: 2%;
    z-index:99;

}

.sub_head_defination
{
	color:#92D050;
}
.main_head_title
{
	color: #00B0F0;
	font-size: 1.2em;
}
.sub_head_black
{
	color:#000000;
	font-size: 0.8em;
}
.sub_head_black_defination
{
	font-size: 1em;
}
.final_text_last
{
	font-size: 1em;
	z-index:99;
}

.wrapperIntro.first .text1
{
	xborder: 1px solid #000000;
    height: 70%;
    margin-left: 2%;
    width: 95%;
    word-spacing: 6px;
	 top: 15%;
}

.wrapperIntro.first .text2
{
	margin-top: -32%;
    margin-left: 5%;
	top: 15%;
}

.wrapperIntro.first .text3
{
	color: #0068b3;
    font-size: 1.1em;
    left: -5.5%;
    line-height: 1.5em;
    position: absolute;
    top: 46%;
    width: 38%;
    z-index: 99;
}
.wrapperIntro.first .text4
{
	color: #919191;
    font-size: 1.1em;
    left: 19%;
    position: absolute;
    top: 70.5%;
}

.wrapperIntro.first .text0,.wrapperIntro.first .text1,.wrapperIntro.first .text2
{
	 color:#636363;
}

/*second part*/
.wrapperIntro.secondtext .text0,
.wrapperIntro.secondtext .text1,
.wrapperIntro.secondtext .text2,
.wrapperIntro.secondtext .text3,
.wrapperIntro.secondtext .text4,
.wrapperIntro.secondtext .text5,
.wrapperIntro.secondtext .text6

{
	 color:#5B5B5B;
}

.wrapperIntro.secondtext .text0
{
	background-color: #ff595b ;
    color: #ffffff;
	border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    height: 7%;
    left: -1%;
    padding-left: 1.6%;
    padding-top: 0.7%;
    width: 13%;

}
.wrapperIntro.secondtext .text1
{
    margin-left: 37%;
	color: #5c5c5c;
	font-size: 1.3em;

}

 .wrapperIntro.secondtext .text2
{
	 color: #1cbaed;
    font-size: 1.3em;
    margin-left: 54.1%;
    margin-top: 1%;
    position: absolute;


}

 .wrapperIntro.secondtext .text3
{
	background-color: #ff595b;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    color: #ffffff;
    height: 7%;
    left: 0;
    margin-left: 0;
    margin-top: 15%;
    padding-left: 1.6%;
    padding-top: 0.8%;
    position: absolute;
    top: 22%;
    width: 13%;

}

 .wrapperIntro.secondtext .text4
{
	margin-left: 37%;
    margin-top: 24%;
    font-size: 1.3em;

}

 .wrapperIntro.secondtext .text5
{
    margin-left: 42%;
    font-size: 1.3em;

}

 .wrapperIntro.secondtext .text6
{
    color: #1cbaed;
    font-size: 1.3em;
    left: 55.2%;
    position: absolute;
    top: 63%;

}

.wrapperIntro.secondtext .text7
{
    font-size: 1.3em;
    margin-left: 11%;
    text-align: justify;
    left: -6%;
    top: 35%;
	display: none;

}
 .wrapperIntro.secondtext .1st_image
 {
   margin-top:-33% !important;
 }


/*part 3*/
/*.wrapperIntro.thirdtext .text0,.wrapperIntro.thirdtext .text1,.wrapperIntro.thirdtext .text2,.wrapperIntro.thirdtext .text3,.wrapperIntro.thirdtext .text4,.wrapperIntro.thirdtext .text5,.wrapperIntro.thirdtext .text6,.wrapperIntro.thirdtext .text7,.wrapperIntro.thirdtext .text8,.wrapperIntro.thirdtext .text9,.wrapperIntro.thirdtext .text10,.wrapperIntro.thirdtext .text11,.wrapperIntro.thirdtext .text12,.wrapperIntro.thirdtext .text13
{
	color:#5B5B5B;
}*/

.wrapperIntro.thirdtext .text1,.wrapperIntro.thirdtext .text2,.wrapperIntro.thirdtext .text3,.wrapperIntro.thirdtext .text4,.wrapperIntro.thirdtext .text5,.wrapperIntro.thirdtext .text6,.wrapperIntro.thirdtext .text7,.wrapperIntro.thirdtext .text8
{
	color:#ffffff;
	    font-size: 1.1em;
}
.wrapperIntro.thirdtext .text0
{
    color: #5c5c5c;
    font-size: 1.2em;
    height: 12%;
    padding: 2%;
    text-align: center;
}


.wrapperIntro.thirdtext .text0 > .3rd_page_sub_defination
{
	color:green;
}

.wrapperIntro.thirdtext .text1
{
     color: #000000;
    display: none;
    margin-left: -11%;
    margin-top: 14%;
    padding-left: 20%;
    position: absolute;
    z-index: 99;
}

.wrapperIntro.thirdtext .text2
{
	color: #000000;
    margin-left: 32%;
    margin-top: 14%;
    position: absolute;
    z-index: 99;
	display: none;
}

.wrapperIntro.thirdtext .text3{
	color: #000000;
    margin-left: 57%;
    margin-top: 14%;
    position: absolute;
    z-index: 99;
	display: none;
}

.wrapperIntro.thirdtext .text4{
	 color: #000000;
    margin-left: 74%;
    margin-top: 14%;
    position: absolute;
    z-index: 99;
	display: none;
}

.wrapperIntro.thirdtext .text5
{
     color: #000000;
    display: none;
    margin-left: -11%;
    margin-top: 36%;
    padding-left: 20%;
    position: absolute;
    z-index: 99;

}

.wrapperIntro.thirdtext .text6
{
	color: #000000;
    margin-left: 33%;
    margin-top: 36%;
    position: absolute;
    z-index: 99;
	display: none;
}

.wrapperIntro.thirdtext .text7{
	color: #000000;
    margin-left: 55.5%;
    margin-top: 36%;
    position: absolute;
    z-index: 99;
	display: none;
}

.wrapperIntro.thirdtext .text8{
	 color: #000000;
    margin-left: 79%;
    margin-top: 36%;
    position: absolute;
    z-index: 99;
	display: none;
}


.wrapperIntro.thirdtext .text9
{
	color: #37a2ea;
    font-family: monospace;
    font-size: 1.8em;
    font-weight: bold;
    left: 33%;
    position: absolute;
    top: 69%;
}

/*.wrapperIntro.thirdtext .text8{
	display: none;
	left: 3.2%;
    position: absolute;
    top: 58%;

}*/
/*
.wrapperIntro.thirdtext .text10
{
	margin-top: -12%;
    margin-left: 47%;

}
.wrapperIntro.thirdtext .text11,.wrapperIntro.thirdtext .text12
{
	  margin-left: 47%;

}
.wrapperIntro.thirdtext .text13{
	 margin-left: 42%;
}*/


/*Rashik Maharjan forth one*/



.wrapperIntro.fourthtext .text1,.wrapperIntro.fourthtext .text2,.wrapperIntro.fourthtext .text3,.wrapperIntro.fourthtext .text4,.wrapperIntro.fourthtext .text5,.wrapperIntro.fourthtext .text6,.wrapperIntro.fourthtext .text7,.wrapperIntro.fourthtext .text8
{
	color:#5B5B5B;
}


.wrapperIntro.fourthtext .text1,
.wrapperIntro.fourthtext .text2,
.wrapperIntro.fourthtext .text3,
.wrapperIntro.fourthtext .text4,
.wrapperIntro.fourthtext .text5,
.wrapperIntro.fourthtext .text6,
.wrapperIntro.fourthtext .text7,
.wrapperIntro.fourthtext .text8
{
	display : none;
}

.wrapperIntro.fourthtext .text0 {
    background: #e7dbe5 none repeat scroll 0 0;
    display: none;
    height: 14%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* .wrapperIntro.fourthtext .text0 {
   margin-bottom: 30px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 5px;
    font-size: 1.7em;
    background-color: #FF595B;
    height: 14%;
    color: #ffffff !important;
}*/


.wrapperIntro.fourthtext .text1 {
    background-color: #1cbaed;
    color: #ffffff;
    font-size: 1.3em;
    height: 10%;
    left: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    position: absolute;
    top: 20%;
}

.wrapperIntro.fourthtext .firstimage {
    position: absolute;
    top: 31%;
    left: 67%;
    width: 28%;
}

.wrapperIntro.fourthtext .text2 {
    font-size: 1.1em;
    left: 4%;
    position: absolute;
    top: 35%;
}

.wrapperIntro.fourthtext .text3 {
	color: #1cbaed;
    font-size: 1.1em;
    left: 13.7%;
    position: absolute;
    top: 41.5%;
	font-weight: bold;
}

.wrapperIntro.fourthtext .text4 {
    color: #919191;
    font-size: 1.1em;
    left: 50%;
    line-height: 1.5em;
    position: absolute;
    top: 34%;
    width: 40%;
    z-index: 99;
}
.wrapperIntro.fourthtext .text5 {
    position: absolute;
    z-index: 99;
    font-size: 1.0em;
    top: 61%;
    left: 14%;
}



    .wrapperIntro.fourthtext .text7 {
     color: #919191;
    font-size: 1.1em;
    left: 57%;
    position: absolute;
    top: 37%;
    width: 74%;
    z-index: 99;

}

.bubble1,.bubble2{
	display:none;

}

.bubble2{
	position: absolute;
    top: 58%;
    left: 11%;

}

/*.wrapperIntro.fourthtext .bubble1 {
    background: #ffffff none repeat scroll 0 0;
    border: 3px solid #1CBAED;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 21%;
    padding: 15px;
    position: absolute;
    top: 35%;
    width: 62%;
    left: 2%;

}
 .wrapperIntro.fourthtext .bubble1::before {
   border-color: #1CBAED transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
    top: 100%;
}

   .wrapperIntro.fourthtext .bubble2 {
    background: #ffffff none repeat scroll 0 0;
    border: 3px solid #1CBAED;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 21%;
    padding: 15px;
    position: absolute;
    top: 35%;
    width: 62%;
    left: 2%;

}
 .wrapperIntro.fourthtext .bubble2::before {
   border-color: #1CBAED transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 72%;
    position: absolute;
    width: 0;
    top: 100%;
}*/


.wrapperIntro.fourthtext .text5
{
	 color: #919191;
    font-size: 1.1em;
    left: 9.5%;
    line-height: 1.5em;
    position: absolute;
    top: 32%;
    width: 43%;
    z-index: 99;

}

.wrapperIntro.fourthtext .text6
{
    color: #919191;
    font-size: 1.1em;
    padding-left: 9%;
    position: absolute;
    top: 33%;
    width: 74%;
    z-index: 99;
}

.wrapperIntro.fourthtext .text8
{    z-index: 99;
    position: absolute;
    top: 43%;
    left: 21%;
}

.bubble1 ,.bubble2
{
	width:50%;
}

.char-a,.char-b
{
	display:none;
}

/*.char-a
{
	    position: absolute;
    margin-top: -11%;
    margin-left: 24%;
        width: 10%;
}*/

.char-b
{
	left: 51%;
    margin-top: -15%;
    width: 85%;
}


/*end of forth*/

.wrapperIntro.first .text1,.wrapperIntro.first .text2,.wrapperIntro.first .text3,.wrapperIntro.first .text4
{
	display:none;
}


/*.bubble1 {
    background: #FFF none repeat scroll 0px 0px;
    border: 5px solid #2EC3ED;
    border-radius: 10px;
    color: #333;
    display: none;
    height: 21%;
    margin: 1em 0px 3em;
    padding: 15px;
    position: absolute;
    top: 25%;
    width: 96%;
}

.bubble1::before {
    border-color: #2EC3ED transparent;
    border-style: solid;
    border-width: 30px 30px 0px;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0px;
}

.bubble1{
	display:none;
	position:absolute;
	top:20%
}

.bubble1,.char-a
{
	display:none;
}*/

.bubble_text
{
	width: 55%;
    margin-top: 3%;
    margin-left: 25%;
}

.lokhorke_in_slides
{
	margin-left: 36%;
    margin-top: 20%;
    width: 11%;

}

.wrapperIntro.secondtext .text1,.wrapperIntro.secondtext .text2,.wrapperIntro.secondtext .text3,.wrapperIntro.secondtext .text4,.wrapperIntro.secondtext .text5,.wrapperIntro.secondtext .text6
{
	display:none;
}

/*.wrapperIntro.thirdtext .text1,.wrapperIntro.thirdtext .text2,.wrapperIntro.thirdtext .text3,.wrapperIntro.thirdtext .text4,.wrapperIntro.thirdtext .text5,.wrapperIntro.thirdtext .text6,.wrapperIntro.thirdtext .text7,.wrapperIntro.thirdtext .text8 .wrapperIntro.thirdtext .text9
{
	 color: #000000;
    display: none;
    left: 3%;
    top: -2%;
}*/

.wrapperIntro.thirdtext .text9{
	display: none;
}

.wrapperIntro.fourthtext .text1,
.wrapperIntro.fourthtext .text2,
.wrapperIntro.fourthtext .text3,
.wrapperIntro.fourthtext .text4,
.wrapperIntro.fourthtext .text5,
.wrapperIntro.fourthtext .text6,
.wrapperIntro.fourthtext .text7
{
	display:none;
}

.2nd_image
{
	position:absolute;
	top:40%;
}

.1st_image
{
	    position: absolute;
    top: 10%;
}

.blackboard
{
	position: absolute;
    top: 18%;
    left: 27%;
    width: 42%;

}

#countdown {
  font-family: 'Roboto Condensed', sans-serif;
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  color: white;
  font-size: 5em;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.wrapperIntro.secondtext .firstimage {
    left: 7%;
    position: absolute;
    top: 10%;
    width: 68%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.wrapperIntro.secondtext .secondimage {
    left: 10%;
    position: absolute;
    top: 54%;
    width: 25%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.firstimage{
	display: none;

}

.secondimage{
	display: none;

}

/*fourth page*/

.char-align{

	position:relative !important;
	margin-left:55% !Important;
	width:22% !important;
	top:33% !important;

}



 .wrapperIntro.first .bubble1::before {
    border-color: #FEA92A transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
}

.wrapperIntro.first .bubble1 {
     background: #ffffff none repeat scroll 0 0;
    border: 5px solid #fea92a;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 21%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    right: 42%;
    top: 41%;
    width: 48%;
}

/*new*/

.bubble2::before {
    border-color: #3CD563 transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
}

.bubble2 {

	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #3CD563;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    top: 21%;
    width: 48%;
	left: 5%;
	-webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:-1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow:-1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);

}




.bubble1::before {
    border-color: #FEA92A transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;

}

.bubble1 {
   background: #ffffff none repeat scroll 0 0;
    border: 5px solid #fea92a;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    right: 7%;
    top: 23%;
    width: 48%;
}

.bg_page4{
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display: none;
}

.wrapperIntro.fourthtext .char-holder{

	left: 34%;
    position: absolute;
    top: 69%;

}



.wrapperIntro.fourthtext .char-b {

    position: absolute;
}

.wrapperIntro.fourthtext .squirrel-listening01{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.fourthtext .Squirrel-Thinking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.fourthtext .squirrel-talking01{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.fourthtext .boy-talking01
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.fourthtext .boy-listening01{
	 border: 3px solid #757574;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
	background:#D1D4F3;

}






.wrapperIntro.fourthtext .squirrel-listening02{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.fourthtext .Squirrel-Thinking02

{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.fourthtext .squirrel-talking02{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.fourthtext .boy-talking02
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.fourthtext .boy-listening02{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}





.wrapperIntro.fourthtext .squirrel-listening03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
	background:#C3F3FF;
	border: 3px solid #757574;
}

.wrapperIntro.fourthtext .Squirrel-Thinking03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.fourthtext .squirrel-talking03{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.fourthtext .boy-talking03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.fourthtext .boy-listening03
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.fourthtext .char-a {
    display: none;
    left: -72%;
    margin-left: 15%;
    margin-top: -15%;
    width: 100%;
}

.wrapperIntro.fourthtext .char-b {
    display: none;
    margin-left: 51%;
    top: -1%;
    width: 100%;
}

.wrapperIntro.fourthtext .char-b {
    position: absolute;
}

.slideRight {
    animation-duration: 0.5s !important;

}

.slideLeft {
    animation-duration: 0.5s !important;

}

/*countdown*/

.wrapperIntro.thirdtext > span {
    color: #37a2ea;
    font-family: monospace;
    font-size: 1.8em;
    font-weight: bold;
    left: 37%;
    position: absolute;
    top: 76%;
	display:none;
}

#count_num
{
	xdisplay: none;
}

.wrapperIntro.secondtext .text7
{
	background-color: #a2b6d1;
    border-radius: 1%;
    color: #ffffff;
    padding: 3% 2%;
    position: absolute;
    top: 27%;
    width: 89%;
    height: 38%;
	display: none;
    }

.wrapperIntro.secondtext .text8{
	left: 7%;
    position: absolute;
    top: 40%;
    color: #ffffff;
    font-size: 1.3em;
	display: none;
}

.wrapperIntro.secondtext .text9{
	left: 7%;
    position: absolute;
    top: 48%;
    color: #ffffff;
    font-size: 1.3em;
	display: none;
}



.wrapperIntro.first .row.char-holder {
    left: 29%;
    position: absolute;
    top: 67%;
    width: 18%;
}

.sub-defination{
	color:#00b0f0;
}

@keyframes blinker {
   0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.font-style {
    font-weight: bold;
    /*text-decoration: underline;*/
    animation: blinker steps(1) 1s 2;
}

.font-style-no-blink{
    text-decoration: underline;
}

.tri {
     left: 6%;
    margin-top: 4%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.rec {
    left: 30%;
    margin-top: 4%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.squ {
    left: 54%;
    margin-top: 4%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.paral {
    left: 77%;
    margin-top: 4%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.rho {
    left: 6%;
    margin-top: 26%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.kit {
    left: 30%;
    margin-top: 26%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.trap {
     left: 54%;
    margin-top: 26%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.qua {
    left: 75%;
    margin-top: 26%;
    position: absolute;
    width: 18%;
	display: none;
	z-index: 99;
}

.back {
    background: #e7dbe5 none repeat scroll 0 0;
    height: 14%;
    left: 0;
    position: absolute;
    width: 100%;
	display: none;
	top: 0%;
}

.peri {
    top: -8.8%;
}

.perimeter {
   margin-top: 3.5%;

}

.wrapperIntro.fourthtext .tri {
     display: none;
    left: 5%;
    margin-top: -5.5%;
    position: absolute;
    width: 7%;
    z-index: 99;
}

.wrapperIntro.fourthtext .rec {
   display: none;
    left: 16%;
    margin-top: -6%;
    position: absolute;
    width: 9%;
    z-index: 99;
}

.wrapperIntro.fourthtext .squ {
   display: none;
    left: 29%;
    margin-top: -5%;
    position: absolute;
    width: 8%;
    z-index: 99;
}

.wrapperIntro.fourthtext .paral {
    display: none;
    left: 41%;
    margin-top: -5.5%;
    position: absolute;
    width: 9%;
    z-index: 99;
}

.wrapperIntro.fourthtext .rho {
    display: none;
    left: 52.5%;
    margin-top: -4.5%;
    position: absolute;
    width: 8%;
    z-index: 99;
}

.wrapperIntro.fourthtext .kit {
    display: none;
    left: 64%;
    margin-top: -4.5%;
    position: absolute;
    width: 8%;
    z-index: 99;
}

.wrapperIntro.fourthtext .trap {
    display: none;
    left: 76%;
    margin-top: -5%;
    position: absolute;
    width: 8%;
    z-index: 99;
}

.wrapperIntro.fourthtext .qua {
    display: none;
    left: 87%;
    margin-top: -4.7%;
    position: absolute;
    width: 8%;
    z-index: 99;
}



.bg {
    background: #c194c8 none repeat scroll 0 0;
    padding-bottom: 2%;
    padding-top: 0.8%;

}
