.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	position: relative;
	top:0%;
	left: 0%;
	color: #e36c09;
}

.exponential .wrapperIntro .titles {
	padding: 1% 2% 2% 5%;
	color: #000;
}

.exponential .wrapperIntro .titles .yourTurn {
	font-size: 1.3em;
}

.exponential .wrapperIntro .titles .qTitle {
	font-size: 1em;
	color: #E36C09;
}

.exponential .wrapperIntro .qaArea {
	/*color: #E36C09;*/
	font-size: 1.3em;
	padding: 1% 2% 2% 5%;
}

.exponential .wrapperIntro .qaArea > div {
	box-shadow: 0 10px 5px -5px #c9c9c9;
	margin-bottom: 1%;
}

.exponential .wrapperIntro .qaArea .qTitle span.q {
	color: #E36C09;
}

.exponential .wrapperIntro .qaArea .qTitle span{
	font-size: 1em;
}

.exponential .wrapperIntro .qaArea .qTitle sup {
	font-size: 0.7em;
}

.exponential .wrapperIntro .qaArea .ansArea {
	padding-left: 4%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.exponential .wrapperIntro .qaArea .ansArea input {
	width: 8%;
	/*background: #4F81BD;*/
	border: 2px solid #395E8A;
	border-radius: 5px;
	padding-left: 1%;
	/*color: #fff;*/
}
.exponential .wrapperIntro .qaArea .ansArea .powerString {
	margin-left: 3%;
}
.exponential .wrapperIntro .qaArea .ansArea input:focus {
	box-shadow: 0 0 5px #000;
}

.exponential .wrapperIntro .qaArea .showAns {
	margin-left: 60%;
	display: none;
	color: #000;
}

.exponential .wrapperIntro .qaArea .clicks {
	padding: 1% 0% 1% 3%;
}

.exponential .wrapperIntro .qaArea .clicks .check {
	margin-left: 1%;
	border: 1px solid #395E8A;
	padding: 5px;
	border-radius: 10px;
	background: #395E8A;
	color: #fff;
	cursor: pointer;
}

.exponential .wrapperIntro .qaArea .clicks .check:hover {
	background: #fff;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .check:active {
	background: #EA9046;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .click {
	margin-left: 10%;
	border: 1px solid #395E8A;
	background: #395E8A;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	display: none;
}

.exponential .wrapperIntro .qaArea .clicks .click:hover {
	background: #fff;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .click:active {
	background: #EA9046;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .ansArea .check1,
.exponential .wrapperIntro .qaArea .ansArea .check2 {
	display: inline-block;
	width: 3%;
}

.exponential .wrapperIntro .qaArea .ansArea .check1 img,
.exponential .wrapperIntro .qaArea .ansArea .check2 img {
	width: 100%;
}