
.exponential {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 30px #f2f2f2 inset;
    font-size: 1.3em;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.exponential, .exponential * {
    margin: 0;
    padding: 0;
    position: relative;
}
.exponential .nextBtn {
  display:none;
    display: none;
    height: 10%;
    left: 93%;
    position: absolute;
    top: 85%;
    width: 6%;
}
.exponential .prevBtn {
    display: none;
    height: 10%;
    left: 5%;
    position: absolute;
    top: 85%;
    width: 6%;
}
.exponential .board {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.exponential .board .wrapperIntro {
    color: #e36c09;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.exponential .wrapperIntro .titles {
    color: #000000;
    padding: 1% 2% 2% 5%;
}
.exponential .wrapperIntro .titles .yourTurn {
    font-size: 1.3em;
}
.exponential .wrapperIntro .titles .qTitle {
    background-color: #d1d4f2;
    color: #0068b3;
    font-size: 1.3em;
    margin-left: -6%;
    margin-right: -5%;
    margin-top: -2%;
    padding: 3%;
    text-align: center;
}
.exponential .wrapperIntro .qaArea {
    font-size: 1em;
    padding: 1% 2% 2% 5%;
}
.exponential .wrapperIntro .qaArea > div {
    box-shadow: 0 10px 5px -5px #c9c9c9;
    margin-bottom: 3%;
}
.exponential .wrapperIntro .qaArea .qTitle span.q {
    color: #395e8a;
}
.exponential .wrapperIntro .qaArea .qTitle span {
    color: #e36c09;
    font-size: 1em;
}
.exponential .wrapperIntro .qaArea .qTitle sup {
    font-size: 0.7em;
}
.exponential .wrapperIntro .qaArea .ansArea {
    margin-bottom: 7%;
    margin-top: 4%;
    padding-left: 4%;
}
.exponential .wrapperIntro .qaArea .ansArea input {
    border: 2px solid #395e8a;
    border-radius: 5px;
    padding-left: 1%;
    width: 14%;
	text-align: center;
}
.exponential .wrapperIntro .qaArea .ansArea .powerString {
    margin-left: 3%;
}
.exponential .wrapperIntro .qaArea .ansArea input:focus {
    box-shadow: 0 0 5px #000000;
}
.exponential .wrapperIntro .qaArea .showAns {
    color: #000000;
    display: none;
    margin-left: 42%;
}
.exponential .wrapperIntro .qaArea .clicks {
    padding: 0% 3px 3% 3%;
}
.exponential .wrapperIntro .qaArea .clicks .check {
    background: #395e8a none repeat scroll 0 0;
    border: 1px solid #395e8a;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 1%;
    padding: 5px;
}
.exponential .wrapperIntro .qaArea .clicks .check:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #383838;
}
.exponential .wrapperIntro .qaArea .clicks .check:active {
    background: #ea9046 none repeat scroll 0 0;
    color: #383838;
}
.exponential .wrapperIntro .qaArea .clicks .click {
    background: #395e8a none repeat scroll 0 0;
    border: 1px solid #395e8a;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    margin-left: 10%;
    padding: 5px;
}
.exponential .wrapperIntro .qaArea .clicks .click:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #383838;
}
.exponential .wrapperIntro .qaArea .clicks .click:active {
    background: #ea9046 none repeat scroll 0 0;
    color: #383838;
}
.exponential .wrapperIntro .qaArea .ansArea .check1, .exponential .wrapperIntro .qaArea .ansArea .check2 {
    display: inline-block;
    left: 34%;
    position: absolute;
    top: 87%;
    width: 3%;
}
.exponential .wrapperIntro .qaArea .ansArea .check1 img, .exponential .wrapperIntro .qaArea .ansArea .check2 img {
    width: 100%;
}
.lokhar > img {
    left: -1%;
    margin-top: -1%;
    position: absolute;
    width: 21%;
    z-index: 100;
}
.baseString {
    color: #333333;
}
.powerString {
    color: #333333;
}
.ans {
    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 1px;
    box-shadow: -1px 3px 6px 0 rgba(50, 50, 50, 0.38);
    display: inline-block;
    float: right;
    font-size: 1em;
    margin: -3% auto 0;
    padding: 1%;
    width: 45%;
}
.qTitle {
    margin-bottom: -1%;
}
.currrency {
    margin-left: 1%;
    margin-right: 1%;
}

mn {
    font-size: 18.85px !important;
	font-family: arial !important;

}

.line {
    border-bottom: 3px solid #333333;
    margin-left: 12%;
    margin-top: 1%;
    width: 41%;
}
.dividetxt {
    color: #333333 !important;
    margin-left: 30%;
    margin-top: 1%;
}
.wrong {
    border-color: #ff0000 !important;
}
.right {
    border-color: #008000 !important;
}
.baseString.finalans {
	display: none;
    left: 4%;
    position: absolute;
    top: 84%;
    width: 75%;
}


.lokharkeTxt{
	z-index: 100;
	padding: 5.5% 1% 1% 6%;
	position: absolute;
}
