.point {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: small;
}

.x-Label, .y-Label {
    position: absolute;
    font-weight: bold;
}

.y-Label, .y-Units {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.x-Units, .y-Units {
  display: table;
  position: absolute;
}

.x-Units > ul, .y-Units > ul {
  display: table-row;
}

.x-Units > ul > li, .y-Units > ul > li {
  display: table-cell;
}

/*added by manish*/

#center1 {
    background:lightslategray !important;
    height: 100%;
    margin-left: 49.5%;
    width: 3px;
}

#center2 {
    background:lightslategray !important;
    width: 100%;
	position:absolute;
	top:49.5%;
    height: 3px;
}
.point{
	z-index:100;
}
#point1{
	display:none !important;
}
#point2{
	display:none !important;
}
#point3{
	display:none !important;
}
#point4{
	display:none !important;
}

.cordi1 {
    bottom: 82%;
    color: #000;
    left: 76%;
    position: absolute;
	display:none !important;
	font-weight:bold;
}

.cordi2 {
    bottom: 52%;
    color: #000;
    left: 63%;
    position: absolute;
	display:none !important;
	font-weight:bold;
}


.cordi3 {
    bottom: 27%;
    color: #000;
    left: 51%;
    position: absolute;
	display:none !important;
	font-weight:bold;
}


.cordi4 {
    bottom: 2%;
    color: #000;
    left: 38%;
    position: absolute;
	display:none !important;
	font-weight:bold;
}