<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page8.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
   
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if middletextblock}}
            <div class="middletextblock {{uppertextblockadditionalclass}}">
                {{#each middletextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if usageslowrevealblock}}
                <div class="usageslowrevealblock {{usageslowrevealblockadditionalclass}}">
                    {{#each usageslowrevealblock}}
                        {{> usageslowrevealcontent}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if diysplashblock}}
            <div class="diysplashblock {{diysplashblockadditionalclass}}">
                {{#each diysplashblock}}
                        {{> diysplashcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if diyblock}}
            <div class="diyblock {{diyblockadditionalclass}}">
                {{#each diyblock}}
                    {{> diycontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">   
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<script id="usageslowrevealcontent-partial" type="text/x-handlebars-template">
    <p class="usageheading">{{usageheadingdata}}</p>
    {{#each cardcontentblock}}
        {{> cardcontent}}
    {{/each}}
    <div class="nextusageBtn myNextStyle"></div>
</script>
<script id="diysplashcontent-partial" type="text/x-handlebars-template">
    <figure>
        <img src="{{diysplashImageSource}}">
        <figcaption>{{diysplashTextData}}</figcaption>
    </figure>
    <p>{{diysplashInstructionData}}</p>
</script>

<script id="diycontent-partial" type="text/x-handlebars-template">
    <div class="diySmall">
        <figure>
            <img src="{{diyImageSource}}">
            <figcaption>{{diyTextData}}</figcaption>
        </figure>
        <p>{{{diyInstructionData}}}</p>
    </div>
    {{!-- load jquery-ui library --}}
     <script src="js/jquery-ui.min.js" type="text/javascript"><{{!}}/script>
</script>
<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page8.js");
</script>