<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}}
    {{#if hasheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
   
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if selectblock}}
            <div class="selectblock {{selectblockadditionalclass}}">
                {{#each selectblock}}
                    {{> selectcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if timetothinkblock}}
            <div class="timetothinkblock {{timetothinkblockadditionalclass}}">
                {{#each timetothinkblock}}
                    {{> timetothinkcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if diysplashblock}}
            <div class="diysplashblock {{diysplashblockadditionalclass}}">
                {{#each diysplashblock}}
                        {{> diysplashcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if diyblock}}
            <div class="diyblock {{diyblockadditionalclass}}">
                {{#each diyblock}}
                    {{> diycontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if hovertodescribeblock}}
            <div class="hovertodescribeblock {{hovertodescribeblockadditionalclass}}">
                {{#each hovertodescribeblock}}
                    {{> hovertodescribecontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="listcontent-partial" type="text/x-handlebars-template">
   <li class="{{listclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{listdata}}}</li>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="selectcontent-partial" type="text/x-handlebars-template">
    {{#each selecttoshow}}
        <select class="{{selectname}}">
            <option value="" selected="selected"></option> 
            <option value="load"> Load</option>
            <option value="fulcrum"> Fulcrum</option>
            <option value="effort"> Effort</option>
        </select>
    {{/each}}
</script>
<script id="timetothinkcontent-partial" type="text/x-handlebars-template">
    {{! mandatory timetothink content starts--}}
        {{#each timetothinkcommonimg}}
            {{> imagecontent}}
        {{/each}}
        {{#each timetothinkquestion}}
            {{> textcontent}}
        {{/each}}
    {{! mandatory timetothink content ends--}}
        {{#each timetothinkextraimg}}
            {{> imagecontent}}
        {{/each}}
</script>

<script id="diysplashcontent-partial" type="text/x-handlebars-template">
    <figure>
        <img src="{{diysplashImageSource}}">
        <figcaption>{{diysplashTextData}}</figcaption>
    </figure>
    <p>{{diysplashInstructionData}}</p>
</script>

<script id="diycontent-partial" type="text/x-handlebars-template">
    <div class="diySmall">
        <figure>
            <img src="{{diyImageSource}}">
            <figcaption>{{diyTextData}}</figcaption>
        </figure>
        <p>{{{diyInstructionData}}}</p>
    </div>
      <div class="diyworkarea">
        <ul id="bloodflowprocesscontainer">
            {{#each processlist}}
                <li id="{{processid}}">{{processname}}</li>
            {{/each}}
         </ul>
     </div>
    {{!-- load jquery-ui library --}}
     <script src="js/jquery-ui.min.js" type="text/javascript"><{{!}}/script>
</script>

<script id="hovertodescribecontent-partial" type="text/x-handlebars-template">
    <div class="hovercontents">
        <img class="mainimage" src="{{mainimgsrc}}"/>
        {{!-- scissor specific lever parts --}}
        <div class="lever1">
            <div class="effortarm"></div>
            <div class="loadarm"></div>
        </div>
        <div class="lever2">
            <div class="effortarm"></div>
            <div class="loadarm"></div>
        </div>
        <div class="fulcrum"></div>
        {{#each leverpartslabel}}
            <label class="{{labelname}}">{{{labeltext}}}</label>
        {{/each}}
    </div>
    <div class="discriptioncontents">
        <!-- <h3 class="discriptionheading">{{{descriptionheadingtext}}}</h3> -->
        <p class="leverpartheading">{{instructiontext}}</p>
        <!-- <p class="leverpartdescription">{{{instructiondata}}}</p> -->
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>