.coordinates {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #212121;
}

.coordinates .coordinates * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

/*
 .coverboardfull {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 }
 */

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	background-color: #66d9ff;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	background: #FFFFFF;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
	padding-left: 0;
	padding-right: 0;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*===================================
 =        InstructionBlock           =
 ===================================*/


/*==================================
 =            Text Block            =
 ==================================*/

@-webkit-keyframes swipebackgroundkeyframe {
to {
	background-position: 0% 0%;
}
}

@-moz-keyframes
swipebackgroundkeyframe {to {
	background-position: 0% 0%;
}
}

@keyframes
swipebackgroundkeyframe {to {
	background-position: 0% 0%;
}
}

div.textblock {
	position: relative;
	margin-top: 0.5%;
	width: 100%;
	height: 30%;
	z-index: 10;
	/*border   : 1px solid green; */
}

p.simpletextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 1%;
	padding: 1% 3%;
	font-size: 1.3em;
	text-align: left;
	/* border  : 1px solid red; */
}

p.bigheadingtextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 1%;
	font-size: 1.6em;
	font-weight: bold;
	/* border   : 1px solid red; */

	color: rgb(1, 174, 250);
}

p.singleparawithimagetextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 3%;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	color: black;
	background-color: rgb(198, 234, 248);
}

p.onlyparatextstyle, p.paratextstyle {
	display: table;
	margin: 0 2%;
	position: relative;
	padding: 3%;
	width: 95%;
	font-size: 1.2em;
	text-align: left;
	-webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	-moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
	background-image: -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
	background-image: -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
	background-image: linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */
	background-repeat: no-repeat;
	background-size: 200% 100%;
	background-position: -100% 0%;
	-webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.onlyparatextstyle {
	text-align: center;
}

p.bottomparatextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 2% 3%;
	width: 80%;
	font-size: 1.2em;
	text-align: left;
	color: black;
	background-color: rgb(198, 234, 248);
	-webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	-moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
	box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 1%;
	padding: 4%;
	font-size: 1.4em;
	text-align: left;
	/* svg image bg pulled from common images folder */
	background: url(../../../../../images/backgrounds/polygonbackground.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

span.royalbluehighlightstyle {
	color: rgb(0, 0, 255);
}

span.orangehighlight {
	color: rgb(197,6,6);
}

p.textalignleft {
	text-align: left;
}

p.formulatextstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	margin-top: 3%;
	padding: 3%;
	color: rgb(135, 41, 213);
	font-size: 1.3em;
	background: url(../../../../../images/backgrounds/greybackground_animated.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

p.sideboxtextstyle {
	display: table;
	margin: 0 2%;
	position: relative;
	padding: 5% 5%;
	width: 95%;
	font-size: 1.2em;
	text-align: left;
	background-color: rgb(255, 247, 208);
	border: 2px solid rgb(247, 204, 27);
	border-radius: 5px;
}

p.paperstacktextstyle {
	position: relative;
	width: 100%;
	text-align: left;
	padding: 1% 5%;
	margin-top: 2%;
	font-size: 1.1em;
	color: black;
	background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
	background-image: -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
	background-image: -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
	background-image: linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */
	background-repeat: no-repeat;
	background-size: 200% 100%;
	background-position: -100% 0%;
	-webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	-o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
	animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.paperstacktextstyle:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	z-index: -1;
	-webkit-transform: rotate(0.8deg);
	-ms-transform: rotate(0.8deg);
	-o-transform: rotate(0.8deg);
	transform: rotate(0.8deg);
}

p.paperstacktextstyle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	z-index: -2;
	-webkit-transform: rotate(1.6deg);
	-ms-transform: rotate(1.6deg);
	-o-transform: rotate(1.6deg);
	transform: rotate(1.6deg);
}

/* Rules below is for multiplehighlight of span tags for a highlight true para.
 For example */
.multiplehighlights:nth-of-type(1) {
	background-color: #D93B2B;
}

.multiplehighlights:nth-of-type(2) {
	background-color: #F6921E;
}

.multiplehighlights:nth-of-type(3) {
	background-color: #FFDD00;
}
/* and so on if required be... */

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: relative;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	/*border     : 1px solid green; */
}

img.singleimgstyle {
	display: table;
	margin: 5% auto;
	position: relative;
	padding: 1%;
	width: 35%;
	cursor: pointer;
}

div.imageblock label {
	position: absolute;
}

img.twoimgtogether {
	position: relative;
	margin-top: 8%;
	display: inline-block;
	width: 25%;
	cursor: pointer;
}

img.twoimgtogether:nth-of-type(1) {
	margin-right: 20%;
}

img.twoimgtogetherlowspacing:nth-of-type(1) {
	margin-right: 10%;
}

img.threeimgtogether {
	position: relative;
	display: inline-block;
	width: 20%;
	margin-top: 2%;
}

img.threeimgtogether:nth-of-type(-n+2) {
	margin-right: 10%;
}

img.threeimgtogetherlowspacing:nth-of-type(1) {
	margin-right: 6%;
}
/*=====  End of Image Block  ======*/

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.firsttitle{
	font-size: 7vmin;
	top: 50%;
	left: 50%;
	position: absolute;
	width: 100%;
	transform: translate(-50%, -50%);
}

.bluebg{
	background-color: #C0B6D3 !important;
}

.imageblock{
	height: 30%;
}

#customcanvasbase, #customcanvasgrid{
	position: absolute;
	left: 21%;
	top: 8%;
	cursor: pointer;
	background-color: #93C47D;
	box-shadow: 0px 0px 5px #cddc39;
	border-radius: 1px;
}

#customcanvasgrid{
	z-index: 20;
	background-color: transparent;	
	box-shadow: none;
}

.customcanvasbase1{
	background-color: #FFFFFF !important;
	box-shadow: none !important;
}

.descriptiontext1, .descriptiontext2, .descriptiontext3, .descriptiontext4{
	font-size: 3vmin;
	margin: 0;
}

.descriptiontext4{
	position: absolute;
	top: 280%;
	width: 100%;
	text-align: center;
}

.movealongxfadein{
	opacity: 0;
	-webkit-animation: textfadein 2s linear 1 forwards;
	animation: textfadein 2s linear 1 forwards;	
}

.movealongyfadein{
	opacity: 0;
	-webkit-animation: textfadein 2s linear 2s 1 forwards;
	animation: textfadein 2s linear 2s 1 forwards;	
}

.descriptiontext4fadein{
	opacity: 0;
	-webkit-animation: textfadein 1s linear 1 forwards;
	animation: textfadein 1s linear 1 forwards;		
}

@-webkit-keyframes textfadein{
	to{
		opacity: 1;
	}
}

@keyframes textfadein{
	to{
		opacity: 1;
	}
}

.start{
	position:absolute;
	top: 142%;
	left: 22%;
	font-weight: initial;
}

.x_axis{
	position: absolute;
	font-size: 2.8vmin;
	top: 142%;
	right: 16%;
	font-weight: initial;
}

.y_axis{
	position: absolute;
	font-size: 2.8vmin;
	top: -72%;
	right: 74%;
	font-weight: initial;
}

.alignbottom{
	position:absolute !important;
	bottom: 0;
	z-index: 0 !important;
	height: 18% !important;
}

.bluebgfadeaway{
	background-color: #C0B6D3;
	-webkit-animation: bgfadeaway 1s linear 1 forwards;
	animation: bgfadeaway 1s linear 1 forwards
}

@-webkit-keyframes bgfadeaway{
	100%{ background-color: #FFFFFF;}
}

@keyframes bgfadeaway{
	100%{ background-color: #FFFFFF;}
}

.startfadeaway{
	-webkit-animation: fade 1s linear 2.5s 1 forwards;
	animation: fade 1s linear 2.5s 1 forwards;
}

@-webkit-keyframes fade{
	to{ opacity: 0;}
}

@keyframes fade{
	to{ opacity: 0;}
}

.coordinatedescription2{
	padding-left: 1%;
	padding-right: 1%;
	position: absolute;
	font-size: 2.8vmin;
	opacity: 0;
	-webkit-animation: textfadein 1s linear 2s 1 forwards;
	animation: textfadein 1s linear 2s 1 forwards;		
}

.coordinatedescription2{
	width: 13%;
	color: #FFFFFF;
	left: 67%;
	top: 30%;
	text-align: left;
}

.draggablecordinate{
	width: 13%;
	position: absolute;
	height: 10%;
	left: 8%;
	z-index: 31;
	font-size: 2.2vmin;
}


#firstdraggable {
	top: 30%;
}

#seconddraggable {
	top: 40%;
}

#thirddraggable {
	top: 50%;
}

.imageicon{
	height: 98%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.coordinate{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: initial;
}

.dropablecoordinate{
	/*background-color: red;*/
	position: absolute;
	border-radius: 50%;
	height: 15%;
	width: 9%;
	z-index: 30;
}

.dropablecoordinatehighlight{
	box-shadow: 0px 0px 3px 0px pink inset;
	-webkit-animation: drophighlight 1s linear infinite alternate;
	animation: drophighlight 1s linear infinite alternate;
}

@-webkit-keyframes drophighlight{
	to{
		box-shadow: 0px 0px 35px 0px pink inset;
	}
}

@keyframes drophighlight{
	to{
		box-shadow: 0px 0px 35px 0px pink inset;
	}
}

.firstdroppable{
	top: 21.5%;
	left: 35.89%;
}

.seconddroppable{
	top: 21.9%;
	left: 61.65%;
}

.thirddroppable{
	top: 42.9%;
	left: 48.7%;
}

.forthdroppable{
	top: 21.5%;
	left: 55%;
}

.fifthdroppable{
	top: 53.4%;
	left: 35.89%;
}

.sixthdroppable{
	top: 53.4%;
	left: 55%;
}

.hovered{
	background-color: rgba(249, 246, 42, 0.5) !important;
}

.inputfields{
	position: absolute;
	bottom: 0%;
	height: 20%;
	width: 26%;
	right: 0%;
}

.descriptiontext5, .descriptiontext6, .descriptiontext7{
	width: 94%;
	font-size: 3vmin;
	margin: 0;
	text-align: left;
	padding-left: 5.7%;
}

.descriptiontext7{
	width: 67%;
}

.descriptiontext6, .descriptiontext7{
	display: none;
}

.xcoordinate, .ycoordinate{
	position: absolute;
	width: 19%;
	text-align: center;
	top: 18%;
	display: none;
}

.xcoordinate{
	right: 90%;
}

.ycoordinate{
	right: 65%;
}

.check, .hint, .hint1{
	border-radius: 8px;
	color: white;
	position: absolute;
	background-color: #6FA8DC;
	font-size: 2.8vmin;
	width: 46%;
	left: 50%;
}

.highlightonhover:hover{
	background-color: #A1B7F3;
}


.check{
	top: -10%;
	display: none;
}

.hint{
    position: absolute;
    top: 34%;
}

.hint1{
    position: absolute;
    bottom: 105%;
}

.frontbracket, .comma, .backbracket{
	position: absolute;
	font-size: 4.7vmin;
	top: 12%;
	display: none;
}

.frontbracket{
	right: 110%;
	
}

.comma{
	right: 86%;
	top: 15%;
}

.backbracket{
	right: 58%;
}

.highlightp{
	-webkit-animation: expand 2s linear 2.5 alternate;
	animation: expand 2s linear 2.5 alternate;
}

@-webkit-keyframes expand{
	from{
		color: #ffeb3b;
		transform: scale( 0.9, 0.9);
	}
	to{
		color: #e040fb;
		transform: scale( 1.1, 1.1);
	}
}

@keyframes expand{
	from{
		color: #ffeb3b;
		transform: scale( 0.9, 0.9);
	}
	to{
		color: #e040fb;
		transform: scale( 1.1, 1.1);
	}
}
.avoid-clicks {
	pointer-events: none;
}