.question{
  background: #ffd966;
  font-style: bold;
}

.purple_bg{
  background: #67baca !important;
}

.left_box {
    position: absolute;
    font-size: 2vw;
    width: 49.5%;
    background: #ffb6e3;
    height: 80%;
    top: 21%;
    padding: 1%;
    text-align: center;
    align-content: center;
    left: 0;
}

.right_box {
    position: absolute;
    font-size: 2vw;
    right: 0%;
    width: 49.5%;
    background: #ffb6e3;
    height: 80%;
    top: 21%;
    padding: 1%;
    text-align: center;
    align-content: center;
}

.vertical {
    position: absolute;
    font-size: 2vw;
    text-align: center;
    width: 40%;
    left: 55%;
    height: 50%;
    background: #ffb6e3;
    top: 36%;
}

.horizontal {
    position: absolute;
    font-size: 2vw;
    text-align: center;
    width: 40%;
    left: 5%;
    height: 50%;
    background: #ffb6e3;
    top: 36%;
}

.horizontal_content {

    position: absolute;
    font-size: 2vw;
    left: 25%;
    transform: translateX(-50%);
    top: 45%;
    text-align: left;
    width: 35%;

}

.vertical_content {
    position: absolute;
    width: 18%;
    font-size: 2vw;
    transform: translateX(-50%);
    left: 75%;
    top: 42%;
}

.fourth_input {
    width: 30%;
}

.check_1, .check_2, .check_3 {

    position: absolute;
    font-size: 1.7vw;
    background: #3c78d8;
    border: .5vmin solid #3865cf;
    color: white;
    padding: .5%;
    border-radius: 1vmin;
    cursor: pointer;
    left: 36%;
    top: 58%;

}

.check_2{
  left: 26%;
  top: 73%;
}

.check_3{
  left: 75%;
  top: 73%;
  transform: translateX(-50%);
}

.check_1:hover, .check_2:hover, .check_3:hover {
  background: #ffcd53;
  border-color: #b45f06;
  color: black;
  transition: .2s;
}

.check {

    position: absolute;
    font-size: 3vw;
    background: #3c78d8;
    border: .5vmin solid #3865cf;
    color: white;
    padding: .5%;
    border-radius: 1vmin;
    cursor: pointer;
    left: 50%;
    top: 61%;
    transform: translateX(-50%);

}

.check:hover{
  background: #ffcd53;
  border-color: #b45f06;
  color: black;
  transition: .2s;
}

.check_a, .check_b {
    position: absolute;
    font-size: 2vw;
    background: #3c78d8;
    border: .5vmin solid #3865cf;
    color: white;
    padding: .5%;
    border-radius: 1vmin;
    cursor: pointer;
    left: 73%;
    top: 59%;
    transform: translateX(-50%);
}
.check_b {
    top: 75%;
}
.check_a:hover,.check_b:hover{
  background: #ffcd53;
  border-color: #b45f06;
  color: black;
  transition: .2s;
}
.input_question {
    position: absolute;
    font-size: 2.4vw;
    width: 100%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.vertical_method {
    position: absolute;
    font-size: 2vw;
    background: #ffb6e3;
    height: 70%;
    transform: translateX(-50%);
    left: 50%;
    width: 79%;
    top: 23%;
}
.main_question {
    position: absolute;
    font-size: 2.5vw;
    z-index: 2;
    transform: translateX(-50%);
    left: 50%;
    top: 36%;
}
.only_line {
    position: absolute;
    border-bottom: .5vmin solid black;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    top: 72%;
}

.input_1, .input_2, .input_3 {
    position: absolute;
    font-size: 2vw;
    transform: translateX(-50%);
    left: 38%;
    top: 78%;
    width: 10%;
}
.first_input1, .second_input1, .third_input1 {
    width: 40%;
}
.input_2{
  left: 51%;
}
.input_3 {
    left: 63%;
}


.sign_1, .sign_2, .sign_3, .sign_4, .sign_5 {

    position: absolute;
    width: 4%;
    text-align: center;
    border-radius: 50%;
    left: 37%;
    top: 57%;
    transform: translateX(-50%);
    height: 7%;
    background: white;
    border: .3vmin solid #8a8181;

}

.sign_2 {
    left: 47%;
}

.sign_3 {
    left: 57%;
}
.sign_4 {
    top: 79%;
    left: 44.5%;
}
.sign_5 {
    top: 79%;
    left: 57%;
}


.inc-1, .inc-2, .inc-3, .inc-4, .inc-5, .dec-1, .dec-2, .dec-3, .dec-4, .dec-5 {
    position: absolute;
    width: 4%;
    top: 51%;
    left: 37%;
    transform: translateX(-50%);
    cursor: pointer;
}
.inc-2{
  left: 47%;
}
.inc-3{
  left: 57%;
}
.dec-1, .dec-2, .dec-3 {
    top: 65%;
    left: 37%;
    transform: translateX(-50%) rotate(180deg);
  }

  .dec-2{
    left: 47%;
  }
  .dec-3{
    left: 57%;
  }
  .inc-4{
    top: 73%;
    left: 44.5%;
  }
  .inc-5{
    top: 73%;
    left: 57%;
  }
  .dec-4{
    top: 87%;
    transform: translateX(-50%) rotate(180deg);
    left: 44.5%;
  }
  .dec-5{
    top: 87%;
    transform: translateX(-50%) rotate(180deg);
    left: 57%;
  }

  .inc-1:hover, .inc-2:hover, .inc-3:hover, .inc-4:hover, .inc-5:hover{
    transform: translateX(-50%) scale(1.01);
    transition: .2s;
  }
  .dec-1:hover, .dec-2:hover, .dec-3:hover, .dec-4:hover, .dec-5:hover{
    transform: translateX(-50%) rotate(180deg) scale(1.01);
    transition: .2s;
  }
  .first_input1,.second_input1,.third_input1{
    font-size: 1.8vw;
  }

  .first_input, .second_input,.third_input {

    width: 13%;

}
@media (min-aspect-ratio:4/3){
	/*vw*/
	.left_box, .right_box,.vertical,.horizontal,.input_question,.check,.vertical_method,.input_1, .input_2, .input_3 {
		font-size: 4.5vmin;
	}
  .hortizontal_content,.vertical_content,.check_a,.check_b,.sign_1, .sign_2, .sign_3, .sign_4, .sign_5  {
    font-size: 4vmin;
  }
  .main_question{
    font-size: 5vmin;
  }
    .first_input1,.second_input1,.third_input1{
      font-size: 3.7vmin;
    }
}
