<!--
    Title : exponential
    May be small documentation
 -->
 
<script type="text/javascript">
    $cssLoader("css/page2_1volume.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>




<script type="text/x-handlebars-template" id="intro-template">
    
    <div class="wrapperIntro {{justClass}}">    
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}} 
    </div>
  
 <img src="activity/grade8/math/math_difference_and_complement/image/ddss.jpg" class="venndia">  

 
 
 
 <div class="rectangle hoverableset" ></div>
 <div class="common hoverableset">  </div>
 <div class="circle1 hoverableset">  </div>
 <div class="circle2 hoverableset">  </div>
 <p class="set-a hoverableset"> A </p>
 <p class="set-b hoverableset"> B </p>
 <p class="uni hoverableset"> U </p>
 <p class="set1 "> a </p>
 <p class="set2"> b </p>
 <p class="set3"> c </p>
 <p class="set4"> d </p>
 <p class="set5"> e </p>
 <p class="set6"> f </p>
 <p class="set7"> g </p>
 <strong id="describe"></strong>
 
 <img src="activity/grade8/math/math_difference_and_complement/image/04.png" class="common1"> 
 <img src="activity/grade8/math/math_difference_and_complement/image/02.png" class="rectangle1"> 
 <img src="activity/grade8/math/math_difference_and_complement/image/01.png" class="set"> 
 <img src="activity/grade8/math/math_difference_and_complement/image/03.png" class="pink"> 
 <img src="activity/grade8/math/math_difference_and_complement/image/05.png" class="blue">
 <img src="activity/grade8/math/math_difference_and_complement/image/06.png" class="setU"> 
 

 <img src="activity/grade8/math/math_difference_and_complement/image/venn-dig01.png" class="dig01"> 
 <img src="activity/grade8/math/math_difference_and_complement/image/venn-dig02.png" class="dig02"> 
 <img src="activity/grade8/math/math_difference_and_complement/image/venn-dig03.png" class="dig03"> 
 <img src="activity/grade8/math/math_difference_and_complement/image/venn-dig04.png" class="dig04"> 
 
</script>
<script type="text/javascript">
    $jsLoader("js/page2_1volume.js");
</script>