<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/commonpage/lessontemplate.css");
    $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
            <div class = "vertical-horizontal-center">
    </div>
	{{#if uppertextblock}}
    <div class="textblock {{uppertextblockadditionalclass}}">
    	{{#each uppertextblock}}
       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
    	{{/each}}
    </div>
    {{/if}}

    {{#if imageblock}}
    <div class="imageblock">
        {{#if contentblockcenteradjust}}
            <div class= "vertical-horizontal-center">
        {{/if}}
        
        {{#each imageblock}}
            {{>imagecontent}}
        {{/each}}
        
        {{#if contentblockcenteradjust}}
            </div>
        {{/if}}
    </div>
    {{/if}}

    {{#if lowertextblock}}
    <div class="textblock {{lowertextblockadditionalclass}}">
    	{{#each lowertextblock}}
       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
    	{{/each}}
    </div>
    {{/if}}
    
    {{#if exerciseblock}}
    {{#each exerciseblock}}
    <p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>

    <div class="optionsdiv">

        {{#each imageoptions}}
        <div class="optionscontainer forHover {{forshuffle}}">
            <img class="optimg buttonsel" src="{{imgsrc}}" />
            <p class="quesLabel">{{labeltext}}</p>
        </div>
        {{/each}}
    </div>
    {{/each}}

    {{/if}}



     </div>
    </div>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
            {{#each imagetoshow}}
                <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
            {{/each}}
            <br>
            {{#each imagetodrop}}
                <div class="{{imgtodropclass}}">
                    <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/> 
                </div>
            {{/each}}
            {{#if imagelabels}}
                {{#each imagelabels}}
                    <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
                        data-highlightcustomclass="{{datahighlightcustomclass}}" 
                        >{{{imagelabeldata}}}</label>
                        
                {{/each}}
            {{/if}}
            
        </script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>