<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/exercise1.css");
    $cssLoader("css/exercise1_anim.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="earth_exercise1">    
	<div class="board"></div>	
	<div class="book">
        <div class="closedBook tiltedBook">
            <img src="$ref/images/exercise1/notebook.png">
            <p>Rocks</p>
            <img class="clickBook" src="images/clickme_icon.png">
        </div>        
		<div class="openBook">
			<div class="openBookContent">
				<div class="stonesExplained"></div>
				<div class="stoneNames"></div>
				<div class="closeBtn myCloseStyle"></div>
			</div>
		</div>
	</div>
	<div class="nextBtn myNextStyle"></div>
    <div class="endBtn myNextStyle"></div>
</div>

<script type="text/x-handlebars-template" id="stonesexplain-template"> 
		<b>{{stoneHeading}}</b>   
    	{{#each list}}
    		<li>{{this}}</li>
    	{{/each}}    
</script>

<script type="text/x-handlebars-template" id="stonesnames-template">
    	{{#each stonenames}}
            <input name="stone" id="{{this.stonedata}}" data-stonenamedata="{{this.stonedata}}" type="radio"><label for="{{this.stonedata}}">{{this.stonename}}</label>        
    	{{/each}}    
</script>

<script type="text/x-handlebars-template" id="intro-template">
    <div class="slide intro">
    	<img class="introgeologist" src="{{geologistImgPath}}">
    	<div class="introText">
    		{{#each introlist}}
    			<li>{{{this}}}</li>
    		{{/each}}
    	</div>
    </div>	   
</script>

<script type="text/x-handlebars-template" id="visitlocation-template">
    <div class="slide visitLocation">
        <p>{{{visitLocationData}}}</p>
        <img class="location" src="{{locationImgPath}}">
        <img class="visitgeologist" src="{{geologistImgPath}}">
        {{#if hasanimationpokhara}}
            <div class="visitAnimation">
                <div class="vehicle {{vehiclename}}">
                    <img src="{{wheelImgSrc}}" class="wheel wheelfront {{vehiclename}}">
                    <img src="{{wheelImgSrc}}" class="wheel wheelback {{vehiclename}}">
                </div>
                <div class="playAnimation myNextStyle"></div>
            </div>
        {{/if}}
        {{#if hasanimationindia}}
            <div class="visitAnimation">
                <div class="vehicle {{vehiclename}}">
                    
                </div>
                <div class="playAnimation myNextStyle"></div>
            </div>
        {{/if}}
        {{#if hasanimationusa}}
            <div class="visitAnimation">
                <div class="vehicle {{vehiclename}}">
                    
                </div>
                <div class="playAnimation myNextStyle"></div>
            </div>
        {{/if}}   
        {{#if hasanimationnepal}}
            <div class="visitAnimation">
                <div class="vehicle {{vehiclename}}">
                    
                </div>
                <div class="playAnimation myNextStyle"></div>
            </div>
        {{/if}}     
    </div>     
</script>

<script type="text/x-handlebars-template" id="question-template">
    <div class="slide question">
        <p>{{{questionData}}}</p>
        <div class="questionoptions">
            {{#each optionData}}
                <b><input id="{{this.optId}}" type="radio" name="opt" value="{{this.inputvalue}}"></input><label for="{{this.optId}}">{{this.optlabel}}</label><img src="{{this.checkMarkImgSrc}}"></b>
            {{/each}}
        </div>  
        <button class="triggerBook">{{triggerBookButtonData}}</button>
        <img class="questionImage" src="{{questionImgPath}}">
        <img class="questiongeologist" src="{{questiongeologistImgPath}}">
    </div>     
</script>

<script type="text/x-handlebars-template" id="mingmajournal-template">
    <div class="slide journal">
        <p>{{{journalDescription}}}</p>
        <table>
            <tr>
                {{#each heading}}
                    <th>{{this}}</th>
                {{/each}}
            </tr>
            {{#each rowdata}}
                <tr>
                    <td>{{this.sequenceNumber}}</td>
                    <td>{{this.rockName}}&nbsp</td>
                    <td>&nbsp{{this.observation}}</td>
                </tr>
            {{/each}}
        </table> 
    </div>     
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/exercise1.js");
</script>