<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="soil_activity">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- general template -->
<script id="general-template" type="text/x-handlebars-template">
    <div class="contentblock {{contentblockadditionalclass}}">
		<div class="title">{{contentitle}}</div>
		<div class="{{typeoflayout}}">
			{{#if uppertextblock}}
				<div class="textblock">
					{{#each uppertextblock}}
						{{> textcontent}}
					{{/each}}
				</div>
			{{/if}}
			{{#if onlyimageblock}}
				{{#each onlyimageblock}}
					<img class="actbgimage" src="{{actbgimagesrc}}">
				{{/each}}
			{{/if}}
			{{#if textlistblock}}
				<div class="textlistblock">
					{{#each textlistblock}}
						{{> textlistcontent}}
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>
</script>

<!-- partials separated as subtemplate for general template -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    {{#if highlighttext}}
        <p class="{{textclass}}" data-highlight="true">{{{textdata}}}</p>
    {{else}}
        <p class="{{textclass}}{{addtionaltextclass}}">{{{textdata}}}</p>
    {{/if}}
</script>

<script id="textlistcontent-partial" type="text/x-handlebars-template">
    <ol> 
        {{#each listtype}}
            {{#if textcontentheading}}
                {{#each textcontentheading}}
                    {{> textcontent}}    
                {{/each}}            
            {{/if}}
            {{#if listtypedata}}
                {{#each listtypedata}}
                    <li>{{this}}</li>
                {{/each}}
            {{/if}}
            {{#if listsubtype}}
                <ul>
                {{#each listsubtype}}
                    <li data-highlight="true">{{this}}</li>
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ol>
</script>

<!-- template for soil layers -->
<script id="layersoil-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}} cover-board-full">
        <div class="containerframe">
            {{#each layer}}
                <div class="layerlevel{{indexbaseone @index}}" data-slidestatus="futureslide">
                    <img class="actbgimg" src="{{this.layerimgsrc}}">
                    <div class="layerexplain">
                        <div class="vertical-center">
                            {{#each this.layerexplain}}
                                {{> textlistcontent}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>     
        <div class="nextlayer myNextStyle"></div>
        <div class="prevlayer myPrevStyle"></div>    
    </div>    
</script>

<!-- template for soilprofile -->
<script id="soilprofile-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}} cover-board-full">
        <img class="actbgimg" src="{{soilprofileimgsrc}}">
        {{#each soilprofileheading}}
            {{> textcontent}}
        {{/each}}
        <div class="containerframe">
            {{#each layer}}
                <div class="layerlevel{{indexbaseone @index}}" data-layercount="{{indexbaseone @index}}" data-eventmouse="unhovered">
                    <img src="{{this.clickiconimagesrc}}">
                </div>
            {{/each}}
            <div class="layerexplain">
            </div>
        </div>         
    </div>    
</script>

<script id="soilprofile-subtemplate" type="text/x-handlebars-template">
    <div class="vertical-center">        
        {{> textlistcontent}}        
    </div>
</script>
<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>