<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="soil_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- characterwrite template -->
<script id="characterwrite-template" type="text/x-handlebars-template">
    <div class="characterwrite">
        <img class="characterwritebg" src="{{characterwritebgimgsrc}}">


            {{#each characterwritetext}}
              {{#if extratext}}
                <p class="{{extratextclass}}">{{extratextdata}}</p>
                {{else}}
                <p class="text{{@index}}" data-highlight="{{this.datahighlightflag}}">{{{this.text}}}</p>
              {{/if}}
            {{/each}}
            {{#if characterwalk}}
              <div class="character" role="walk"></div>
            {{/if}}
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>
