<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page6.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="soil_activity">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- soilerosionprevention template -->
<script id="soilerosionprevention-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}} cover-board-full">
        {{#if textonlyblock}}
            <div class="vertical-horizontal-center">
                {{#each textonlyblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if onlyimageblock}}
            {{#each onlyimageblock}}
                <img class="actbgimage" src="{{actbgimagesrc}}">
            {{/each}}
        {{/if}}
        {{#if explainblock}}
            {{#each explainblock}}
                <img class="actbgimage" src="{{actbgimagesrc}}">
                <div class="explainprevention">
                  <div class="vertical-horizontal-center">
                    {{#each explaintextblock}}
                        {{> textcontent}}
                    {{/each}}
                    {{#if explainimageblock}}
                      <div class="explainimage">
                        {{#each explainimageblock}}
                            <img src="{{actbgimagesrc}}">
                        {{/each}}
                      </div>
                    {{/if}}
                  </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}">{{{textdata}}}</p>    
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page6.js");
</script>