.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 0%;
	margin-top: 9%;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}

/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/
.bg-green{
	background-color: #84CFAC;
}
.bg-dark-overlay{
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-color: #6BC497;
}
.instruction{
	position: absolute;
	top: 12%;
	left: 0%;
	width: 100%;
	padding: 1%;
	color: black;
	font-family: chelseamarket;
	text-align: center;
	font-size: 2.9vw;
}
.ques-container{
	position: absolute;
	bottom: 68%;
	height: 10%;
	width: 95%;
	left: 2.5%;
	text-align: center;
	font-size: 2.5vw;
	font-family: happymonkey;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.question{
	margin: 0% 2%;
	position: relative;
}
@media(min-aspect-ratio:4/3){
	.instruction{
		font-size: 3.8vh;
	}
	.ques-container{
		font-size: 3.4vh;;
	}
}

.optionsdiv{
	position: absolute;
	top: 75%;
	left: 2.5%;
	width: 95%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.optionscontainer{
	position: absolute;
	top: 38%;
	width: 20%;
	height: 15%;
	padding: 0% 2%;
	font-size: 3vw;
	border-radius: 1.5vmin;
	font-family: happymonkey;
}
.optionscontainer:hover{
	transform: scale(1.05);
	filter: drop-shadow(0px 0px 2px yellow);
	-webkit-filter: drop-shadow(0px 0px 2px yellow);
}
#opt-2{
	width: 20%;
}
.optionscontainer>p{
	position: relative;
	left: 0%;
	top: 60%;
	width: 100%;
	transform: translateY(-50%);
}
.rightwrong{
	opacity: 0;
	position: relative;
	height: 80%;
	transform: translate(10%, -10%);
}
@media(min-aspect-ratio:4/3){
	.optionscontainer{
		font-size: 4.0vh;
	}
}
.ex-image-1{
	position: absolute;
	top: 55%;
	height: 40%;
	left: 25%;
	transform: translateX(-50%);
}
.ex-image-2{
	position: absolute;
	top: 55%;
	height: 40%;
	left: 75%;
	transform: translateX(-50%);
}




.incorrect-opt{
	background-color: #FF0000;
	border: 0.5vmin solid #970403;
	color: white;
}

.correct-opt{
	background-color: #92AF3B;
	border: 0.5vmin solid #ADBD3F;
	color: white;
}


.opt-position-1{
	left: 2.5%;
}
.opt-position-2{
	left: 27.5%;
}
.opt-position-3{
	left: 52.5%;
}
.opt-position-4{
	left: 77.5%;
}

.blank-space{
	position: relative;
	height: 100%;
	width: 25%;
	border-radius: 2vmin;
	background-color: #EEEEEE;
	border: 0.5vmin solid #FBFCFC;
}
.blank-hover{
	border: 0.5vmin dashed #FBFCFC;
}
.correct-box{
	background-color: #98C02E;
	border-color: #EEFF41;
}
.incorrect-box{
	background-color: #FF0000;
	border-color: #AD3B3B;
	color: white;
	justify-item: center;
	align-items: center;
	text-align: center;
}
/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.subtextclr{
	color: #fa1f6a;
}





