<script>
$cssLoader('css/shared.css');
$cssLoader('exercise/css/exe1.css');
</script>



<script src="js/snap.svg/snap.svg-min.js"></script>

<div class="pageContainer">
<div class="headTitle"></div>
<div class="questionBx" id="whatme">

</div>

<div class="arrowcls"  id="nextBtn"></div>
</div>
<script type="text/x-handlebars-template" id="template-1">

<div class="quesTitle">{{{question}}}</div>
<div class="questionBox">
	<div id="questionimg" >
		
	</div>
	<span class="glyphicon glyphicon-ok"  id="correct"></span>
	<span class="glyphicon glyphicon-remove"  id="incorrect"></span>
</div>

<div class="hintBx">{{hintbx}}</div>
	
</script>

<script>
$jsLoader('exercise/js/sharedexe.js');
$jsLoader('exercise/js/exe1.js');

</script>








