
.toptxt{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  color: #fff;
  font-family: comfortaa;
  font-size: 2vw;
  padding: 2%;
  font-weight: bold;
}
.purple{
  background: #846B93;
}
.instruction{
  position: absolute;
  top: 21%;
  left: 6%;
  background: #F0DEB9;
  font-family: patrick hand;
  width: 31%;
  border-radius: 1em;
  padding: .6%;
  font-size: 3vw;
}
.sp-1 {
  position: absolute;
  left: 37%;
  top: 19%;
  height: 35%;
  width: 50%;
}
.answer,.ans1{
  position: absolute;
  width: 84%;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
  font-family: sniglet;
  z-index: 20;
  font-size: 2.8vw;
  padding:2%;
}
.fairy {
  position: absolute;
  left: 83%;
  top: 24%;
  width: 15%;
  transform: scaleX(-1);
}
.p_bag_3{
  position: absolute;
  width: 26%;
  top: 20%;
  left: 53%;
}
.p_bag{
  position: absolute;
  width: 17%;
}
.pb_1{
  top: 36%;
  left: 2%;
}
.pb_2{
  top: 36%;
  left: 21%;
}
.apple{
  position: absolute;
  width: 4%;
}
.apple_2{
  position: absolute;
  width: 4%;
}
.bag1{
  position: absolute;
  height: 28%;
  width: 16%;
  left: 3%;
  top: 55%;
  }
.bag2{
  position: absolute;
  height: 28%;
  width: 16%;
  left: 23%;
  top: 55%;
}
.bag3{
  position: absolute;
  height: 64%;
  width: 35%;
  left: 40%;
  top: 21%;
}
.bag_3{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}
.bag_2{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}
.bag_1{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
}
.bag_s2{
  position: absolute;
  left: 43%;
  top: 22%;
  width: 31%;
}
.bag_s6{
  position: absolute;
  left: 11%;
  top: 22%;
  width: 25%;
}
.p3s2_1{
  opacity: 0;
  position: absolute;
  left: 16%;
  top: 42%;
  font-size: 2.5vw;
  color: #FFCD53;
  font-family: abeezee;
  animation: fadein 2s linear 1s forwards;
}
.niti_1{
  position: absolute;
  top: 20%;
  right: 5%;
  width: 16%;
}
.niti_4{
  position: absolute;
  top: 20%;
  right: 5%;
  width: 21%;
}

.niti_think{
  position: absolute;
  top: 15%;
  right: 5%;
  width: 14%;
}
.niti_see{
  position: absolute;
  top: 23%;
  right: 5%;
  width: 14%;
}
.btntxt{
  position: absolute;
  bottom: 5%;
  font-size: 2vw;
  background: #fff;
  font-family: abeezee;
  border-radius: .2em;
  padding: 1%;
}
.btn1_no_bg{
  position: absolute;
  bottom: 32%;
  font-size: 3vw;
  font-family: abeezee;
  border-radius: .2em;
  padding: 1%;
  left: 18%;
  color: #FFCD53;
}
.btn2{
  left: 27%;
}
.btn3{
  left: 54%;
}
.btn4{
  left: 80%;
  width: 10%;
}

.btntxt_1{
  position: absolute;
  bottom: 18%;
  font-size: 2vw;
  background: #FFCD53;
  font-family: abeezee;
  border-radius: .2em;
  padding: 1%;
  width: 13%;
}
.btn2_1{
  left: 7%;
}
.btn3_1{
  left: 32%;
}
.btn4_1{
  left: 60%;
  background: #fff !important;
}
.btn4_8{
  left: 60%;
  background: #fff !important;
  width: 20%;
}
.btn_blue{
  left: 12%;
  background: #0097A7;
  bottom: 2%;
  width: 30%;
  color: #fff;
}
.lateshow{
opacity: 0;
animation: fadein 1s linear 2s forwards;
}
.apple_11{
  position: absolute;
  top: 28%;
  right: 50%;
  width: 30%;
}
.banana_4{
  position: absolute;
  top: 49%;
  right: 27%;
  width: 14%;
}
.plus_1{
  position: absolute;
  width: 3%;
  top: 88%;
  left: 46%;
}
.equal_1{
  position: absolute;
  width: 3%;
  top: 88%;
  left: 73%;
}
.plus_1_1{
  position: absolute;
  width: 3%;
  top: 75%;
  left: 25%;
}
.equal_1_1{
  position: absolute;
  width: 3%;
  top: 75%;
  left: 49%;
}
.arrow_1{
  position: absolute;
  width: 7%;
  bottom: 9%;
  z-index: 10;
  left: 19%;
  transform: rotate(177deg);
}
.arrow_2{
  position: absolute;
  width: 7%;
  bottom: 9%;
  z-index: 10;
  left: 29%;
  transform: rotate(-81deg);
}
.fade_in_1{
  opacity:0;
  animation: fadein 1s linear 2s forwards;
}
.fade_in_2{
  opacity:0;
  animation: fadein 1s linear 4s forwards;
}
.fade_in_3{
  opacity:0;
  animation: fadein 1s linear 1s forwards;
}
.fade_in_4{
  opacity:0;
  animation: fadein 1s linear 1s forwards;
}
.fade_out_1{
  animation: fadeOut 1s linear 2s forwards;
}
.fade_out_2{
  animation: fadeOut 1s linear 4s forwards;
}
@media screen and (min-aspect-ratio: 4/3) {
  .toptxt, .btntxt,.instruction{
    font-size: 2vw;
  }
  .p3s2_1{
  font-size: 2.5vw;
  }
  .instruction1, .btn1_no_bg{
    font-size: 3vw;
  }
  .answer{
    font-size: 2.8vw;
  }
  .ans1{
    font-size:1.7vw;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
}
