@font-face {
    font-family: ChelseaMarket-Regular;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}
@font-face {
    font-family: ComicSansMSRegular;
    src: url("../../../../../fonts/ComicSansMSRegular.ttf");
}
.thebg1{
background-color:#D0E0E3;
}
.bg1{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.qnword1{
	color:#874CE7;
	font-weight:bold;
}
.question{
	position: absolute;
	top: 20%;
	left: 5%;
	width: 95%;
	font-family: ComicSansMSRegular;
	font-size: 5vmin;
}
.optionsdiv {
  top: 19%;
  display: flex;
  width: 52%;
  left: 45%;
  justify-content: space-evenly;
  text-align: center;
  position: absolute;
  height: 25%;
  flex-wrap: wrap;
}


.optionsdiv p {
  display: inline;
  padding: 3.5%;
  background: #0097A7;
  border-radius: 6px;
  margin: 1%;
  font-size: 4vmin;
  font-size: 4.5vmin;
  width: 82%;
  height: 55%;
  top: 37%;
  color: #ffffff;
  font-family: ChelseaMarket-Regular;
  border: 4px solid #0097A7;
}

.optionscontainer {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
}

.imagestartpos {
  width: 28%;
  margin-left: 1%;
  display: none;
  top: 7%;
  position: absolute;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #F9CB9C;
    border:4px solid #E69138;
}

.underline{
	text-decoration: underline;
	animation:fadeIn 1s ease-in;
}
.p1txt{
	color:#ffffff;
}
.dytxt{
  position: absolute;
  top: 35%;
  left: 11%;
  padding: 2% 2% 2% 2%;
  width: 50%;
  font-family: ComicSansMSRegular;
  font-size: 7vh;
}
.toptxt{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 2%;
  font-size: 3vw;
  color: #9F609C;
  font-family: sniglet;
  background-color: #B9E1DC;
}
.midqn{
  position: absolute;
  top: 44%;
  left: 10%;
  width: 30%;
  font-size: 3.5vw;
  font-weight: bold;
  font-family: abeezee;
}
