@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}
@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}
.place_value {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.place_value, .place_value * {
	position: relative;
	margin: 0;
	padding: 0;
}

.place_value .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.place_value .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}
.vertical-horizontal-center{
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);


}


.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock >p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: relative;
	margin-top: 0%;
	/*border   : 1px solid green; */
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;


	width: 100%;
	height: auto;
	/*border     : 1px solid green; */
}

img.singleimgstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 1%;
	width: 40%;
}

div.imageblock label {
	position: absolute;
	/*right: 59%;
	left: 10%;
	text-align: right;*/
}

/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title1 {
    color: rgb(253,200,132);
    font-size: 11vmin;
    font-family: sniglet;
    position: absolute;
    right: 62%;
}
.lesson-title2 {
    color: rgb(214,64,122);
	font-size: 11vmin;
	font-family: sniglet;
	margin-top: -20%;
	left: 30.5%;
	width: 50%;
	position: relative;
}


.text_label1{
	color:#ba621b;
}
.text_label2{
	color:#a64d79;
}
.text_blue{
	color:blue;
}
.lesson-name{
	color:black;

	font-size:7em;

}
.fish{
	position: absolute;
	top: 25%;
	left: 2%;
	width: 46%;
}
.mouse{
	position: absolute;
	top: 25%;
	right: 2%;
	width: 46%;
}
.snail{
	position: absolute;
	top: 25%;
	right: 3%;
	width: 46%;
}



/*====================================
 =            Digit Block            =
 ====================================*/

div.digitblock {
	position: relative;
	width: 100%;
	height: 100%;
}

div.digitblock > input {
	position: absolute;
	text-align: center;
	width: 8%;
	height: 10%;
	resize: none;
}

div.digitblock > p {
	position: absolute;
	text-align: center;
	margin-top: 1%;
	width: 8%;
	font-size: 4vmin;
	/*padding: 0.1% 0.4% 0.1% 0.4%;*/
	resize: none;
}

.digit-box {
	background: #F3F3F3;
	border-radius: 2vmin;
	top: 70%;
	left: 21%;
	border: 2px solid #8DBAE3;
	font-size: 4vmin;
}

.label-box {
	position: absolute;
	font-size: 2.5vmin;
	top: 80%;
	left: 21%;
	background: #fff;
	border: 1px solid #000;
}

/*=====  End of Digit Block  ======*/

.uppara {


	text-align: center;
	height:25%;
	width: 100%;

}
.uppara > p {
    font-size: 6vmin;
    color: white;
    font-family: sniglet;
    top: 38%;
}
.downpara {



	height:75%;
	width: 100%;

}

.downpara > p {

	top:20%;
	font-size: 2em;


}




.full{
	height:100% !important;
}


.front{
    height:100%;
		width:100%;
    position:absolute;
    backface-visibility: hidden;
			transform-style: preserve-3d;

}
.back{
 	transform: rotateY(180deg);
	height:100%;
	width:100%;
    position:absolute;
	backface-visibility: hidden;
}
.cardclass {
    background-color: #FFF9D5;
    width: 40%;
    height: 35%;
    top: 30%;
    position: absolute;
    cursor: pointer;
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.front >p{
	font-size:2.5vw;
}
.back >p{
	font-size:2.5vw;
}
@media (min-aspect-ratio: 4/3){
	.front > p {
    	font-size: 3.6vmin;
}
	.back >p{
		font-size:3.6vmin;
	}

}
.card1{
	left: 5%;
    }
.card2{
    right: 5%;
}
.animatebird{
	position:absolute;
	animation-name:birdfly;
	animation-duration:6s;
	animation-fill-mode:forwards;
	top:15%;
	width:20%;


}
.harryanimation{
	position:absolute;
	top:60%;
	left:75%;
	width:25%;
	animation-name:dognofly;
	animation-fill-mode:forwards;
	animation-duration:6s;

}
.birdlabel{
	top:22%;
	left:30% ;
	text-align:center ;
	font-size:2.5em;
}
.doglabel{
	top:35% ;
	left:29% ;
	text-align:center ;
    font-size:2.5em;
	}
.fishlabel{
	top:5% ;
	left:11% ;
	text-align:center ;
    font-size:2.5em;
}
.mouselabel{
	top:5% ;
	left:55% ;
	text-align:center ;
    font-size:2.3em;
}
.ant{
	position:absolute;
	bottom:5%;
	animation-name:antwalk;
	animation-duration:8s;
	animation-fill-mode:forwards;
	width:15%;
}
.banana{
	position:absolute;
	bottom:20%;
	left:2%;
	width:28%;
	opacity: 0;
	transform:scaleX(-1);
	animation-name:snakewalk;
	animation-duration:8s;
	animation-fill-mode:forwards;
	animation-delay:7s;
}
.antlabel{
	position:absolute;
	top:30%;
	font-size:2.1em;
	animation-name:antwalk;
	animation-duration:8s;
	animation-fill-mode:forwards;
}
.bananalabel{
	position:absolute;
	top:40%;
	font-size:2.1em;
	left:45%;
}
.flipped{
	transform:rotateY(180deg);
}
.front{
	backface-visibility:hidden;
	display: block;
}
.back{
	backface-visibility:hidden;
	transform:rotateY(180deg);
	display: block;
}
@keyframes birdfly{
	from {
		right:80%;
	}

	to{
		right:10%;
	}
}
@keyframes dognofly{
	from{left:75%;}

	to{
		left:10%;
	}
}
@keyframes antwalk{
	from {
		right:5%;
	}

	to{
		right:55%;
	}
}
@keyframes snakewalk{
	from {
		left:2%;
	}

	to{
		opacity:1;
		left:52%;
	}
}
.fade_in {
	animation: appear 1s ease-in;
	-webkit-animation: appear 1s ease-in;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
/*=====  End of Custom Style  ======*/
.front > p:first-child {
    background: #FFE248;
    top: 2%;
    font-family: sniglet;
    color: #D6476A;
    padding: 1%;
}
.front > p:nth-child(2) {
    top: 26%;
}
.back > p:first-child {
    background: #FFE248;
    top: 2%;
    font-family: sniglet;
    color: #D6476A;
    padding: 1%;
}
.back > p:nth-child(2) {
    top: 17%;
}
.back::after, .front::after {
    content: '';
    height: 18%;
    width: 10%;
    background-image: url('../images/flip_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
    right: -5%;
    bottom: 0%;
}
.back > p:nth-child(3) {
    top: 21%;
}
.secondpagebg{
	background:url("../images/bgwithcloud.png");
	background-size: cover;
}
.firstpagebg{
	background:url("../images/canandcan't.jpg");
	background-size: cover;
}
@media screen and (max-width: 800px){
	.lesson-title1,.lesson-title2{
		font-size: 8vmin;
	}
}
.elephant {
    bottom: 0%;
    right: 0%;
    position: absolute;
    width: 42%;
}
.kangaroo {
    width: 41.7%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.imageclass{
	top:0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
}