@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}
@font-face {
    font-family: happymonkey;
    src: url("../../../../../fonts/HappyMonkey-Regular.ttf");
}
.place_value {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.place_value, .place_value * {
	position: relative;
	margin: 0;
	padding: 0;
}

.place_value .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.place_value .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}
.vertical-horizontal-center{
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);


}


.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock >p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/

/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	background-color: #fdc884;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: relative;
	margin-top: 0%;
	/*border   : 1px solid green; */
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 50%;
	height: auto;
	left: 50%;
	bottom: 2%;
	transform: translateX(-50%);
	/*border     : 1px solid green; */
}

img.singleimgstyle {
	display: table;
	margin: 0 auto;
	position: relative;
	padding: 1%;
	width: 40%;
}

div.imageblock label {
	position: absolute;
	/*right: 59%;
	left: 10%;
	text-align: right;*/
}

/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: Black;
	font-size: 4em;

}

.text_label1{
	color:#f26c00;
}
.text_label2{
	color:#a64d79;
}

.lesson-name{
	color:black;

	font-size:7em;

}
.fish{
	position:absolute;
	top:25%;
	left:8%;
	width:40%;
}
.mouse{
	position:absolute;
	top:25%;
	right:8%;
	width:30%;
}
.snail{
	position:absolute;
	top:25%;
	right:8%;
	width:40%;
}


/*====================================
 =            Digit Block            =
 ====================================*/

div.digitblock {
	position: relative;
	width: 100%;
	height: 100%;
}

div.digitblock > input {
	position: absolute;
	text-align: center;
	width: 8%;
	height: 10%;
	resize: none;
}

div.digitblock > p {
	position: absolute;
	text-align: center;
	margin-top: 1%;
	width: 8%;
	font-size: 4vmin;
	/*padding: 0.1% 0.4% 0.1% 0.4%;*/
	resize: none;
}

.digit-box {
	background: #F3F3F3;
	border-radius: 2vmin;
	top: 70%;
	left: 21%;
	border: 2px solid #8DBAE3;
	font-size: 4vmin;
}

.label-box {
	position: absolute;
	font-size: 2.5vmin;
	top: 80%;
	left: 21%;
	background: #fff;
	border: 1px solid #000;
}

/*=====  End of Digit Block  ======*/

.uppara {


	text-align: center;
	height:25%;
	width: 100%;

}

.uppara > p {


	font-size: 2.5em;

	color: black;
}
.downpara {



	height:75%;
	width: 100%;

}

.downpara > p {

	top:20%;
	font-size: 2em;


}



.lokharke{


	width:50%;
	top:10%;
}
div.full{
	width:100%;
	height:100% !important;
}
.cannoflip{
    left: 5%;
    width: 40%;
    height: 50%;
    border:2px solid black;
    float: left;
	text-align:center;
	cursor:pointer;
	transition:1s;
	transform-style:preserve-3d;

}

.front{
	top:20%;
	left: 5%;
    width: 40%;
    height: 50%;
    border:2px solid black;
    position:absolute;
	text-align:center;
	cursor:pointer;
}
.back{
	top:20%;
	left: 5%;
    width: 40%;
    height: 50%;
    border:2px solid black;
    position:absolute;
	text-align:center;
	cursor:pointer;
}

.cantnoflip{
	left: 5%;
    width: 40%;
    height: 50%;
	display:inline-block;
	border:2px solid black;
	cursor:pointer;


}
.animatebird{
	position:absolute;
	animation-name:birdfly;
	animation-duration:6s;
	animation-fill-mode:forwards;
	top:15%;
	width:20%;


}
.harryanimation{
	position:absolute;
	top:60%;
	left:75%;
	width:25%;
	animation-name:dognofly;
	animation-fill-mode:forwards;
	animation-duration:6s;

}
.birdlabel{
	top:22%;
	left:30% ;
	text-align:center ;
	font-size:2.5em;
}
.doglabel{
	top:35% ;
	left:29% ;
	text-align:center ;
    font-size:2.5em;
	}
.fishlabel{
	top:5% ;
	left:11% ;
	text-align:center ;
    font-size:2.5em;
}
.mouselabel{
	top:5% ;
	left:55% ;
	text-align:center ;
    font-size:2.3em;
}
.ant{
	position:absolute;
	bottom:5%;
	animation-name:antwalk;
	animation-duration:8s;
	animation-fill-mode:forwards;
	width:15%;
}
.banana{
	position:absolute;
	bottom:5%;
	left:2%;
	width:28%;
}
.antlabel{
	position:absolute;
	top:30%;
	font-size:2.1em;
	animation-name:antwalk;
	animation-duration:8s;
	animation-fill-mode:forwards;
}
.bananalabel{
	position:absolute;
	top:40%;
	font-size:2.1em;
	left:30%;
}
.lokharkelabel1 {
    position: absolute;
    top: 20%;
    font-size: 2.1em;
    left: 36%;
}
.lokharkelabel2{
    top: 24%;
	font-size: 2em;
	left: 27.5%;
	font-weight: normal;
	width: 45%;
	transform: translateY(-50%);
}
.questionblock{
	width:100%;
	text-align:center;
	height:20%;
	top:5%;
}
.questionpara {
    font-size: 1.7em;
    font-family: happymonkey;
}
.monkeysolti{
	width:100%;
}
.shipsolti{
	width:100%;
}
.preetisoltini{
	width: 100%;
}
.front{
	backface-visibility:hidden;
}
.back{
	backface-visibility:hidden;
	transform:rotateY(180deg);
}
.canpos{
	position:absolute;
	left:45%;
	background-color:#f26c00;
	padding:0.5%;

}
.textpara {
    text-align: center;
    background-color: #BFE1DE;
    width: 100%;
}

.textpara > p {
    vertical-align: middle;
    font-family: happymonkey;
    font-size: 3vmin;
}
.canpos:hover, .cantpos:hover{
	cursor:pointer;
	border:2px solid #f1c232;
}
.cantpos {
    position: absolute;
    left: 55%;
    padding: 0.5%;
    background-color: #8C5CA6;
}
.correct{
	margin-left: 2vmin;
	order: 2;
	width:5%;
}
.wrong{
	position:absolute;
	left:55%;
	width:6%;
	z-index:2;
}


@keyframes birdfly{
	from {
		right:80%;
	}

	to{
		right:10%;
	}
}
@keyframes dognofly{
	from{left:75%;}

	to{
		left:10%;
	}
}
@keyframes antwalk{
	from {
		right:5%;
	}

	to{
		right:55%;
	}
}
.my_questions{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cantpos, .canpos {
    font-size: 3.3vw;
    color: white;
    font-family: happymonkey;
}

@media (min-aspect-ratio: 4/3){
	.cantpos,.canpos{
		font-size: 4.3vmin;
	}
}
.text_red > span:first-child {
    color:#BF6221 !important;
}
.text_red > span:nth-child(2) {
    color: #8C5CA6 !important;
}
/*=====  End of Custom Style  ======*/
