html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

.totalsequence {
    border: rgb(230, 194, 37) 0.3vmin solid;
}
.activeTimeLine {
    background: rgb(230, 194, 37);
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    color: #EE375B;
    font-size: 7vw;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


/* div.imageblock {
    /* position: relative; */
    position: absolute;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
} */

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.centerimg1 {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 7px solid #6DCC94;
}


.centerimg2{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    opacity: 0;
    border: 7px solid #6DCC94;
    animation: fadein 8s linear 1s forwards;
}

@keyframes fadein{
    to{
        opacity: 1;
    }
}

@webkit-keyframes fadein{
    to{
        opacity: 1;
    }
}

@keyframes fadeout{
    to{
        opacity: 0;
    }
}

@webkit-keyframes fadeout{
    to{
        opacity: 0;
    }
}

.springimg{
    position: absolute;
    width: 22%;

    left: 36%;
    top: 53%;
}

.summerimg{
    position: absolute;
    width: 22%;
    left: 2%;
    top: 53%;
}

.autumnimg{
    position: absolute;
    width: 22%;

    left: 69%;
    top: 53%;
}

.winterimg{
    position: absolute;
    width: 22%;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 75%;
}

.appear{
    opacity: 0;
    animation: fadein 1s linear 0s forwards;
}

.appear2{
    opacity: 0;
    animation: fadein 1s linear 1s forwards;
}

.appear3{
    opacity: 0;
    animation: fadein 1s linear 2s forwards;
}

.appear4{
    opacity: 0;
    animation: fadein 1s linear 3s forwards;
}

.slowappear{
    opacity: 0;
    animation: fadein 1s linear 0s forwards;
}

.slowappear2{
    opacity: 0;
    animation: fadein 1s linear 2s forwards;
}

.slowappear3{
    opacity: 0;
    animation: fadein 1s linear 4s forwards;
}

.slowappear4{
    opacity: 0;
    animation: fadein 1s linear 6s forwards;
}

.dissapear{
    animation: fadeout 1s linear 0s forwards;
}

.selectthis{
    animation: selectmove 2s ease-out 1s forwards;
}

@keyframes selectmove{
    to{
        transform: translate(0%, 0%);
        width: 10%;
        left: 0%;
        top: 0%;
    }
}

@webkit-keyframes selectmove{
    to{
        transform: translate(0%, 0%);
        width: 10%;
        left: 0%;
        top: 0%;
    }
}

.afterselect{
    transform: translate(0%, 0%);
    width: 10%;
    left: 0%;
    top: 0%;
}

.threeimg1 {
    position: absolute;
    width: 29%;
    transform: translate(-50%, -50%);
    left: 18%;
    top: 55%;
}

.threeimg2 {
    position: absolute;
    width: 29%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
}

.threeimg3 {
    position: absolute;
    width: 29%;
    transform: translate(-50%, -50%);
    left: 82%;
    top: 55%;
}

.threelabel1{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 18%;
    top: 78%;
    font-size: 2.5vw;
    color: #FF7C06;
}

.threelabel2{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 78%;
    font-size: 2.5vw;
    color: #FF7C06;
}

.threelabel3{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 82%;
    top: 78%;
    font-size: 2.5vw;
    color: #FF7C06;
}

.letshighlight{
    color: #EE375B;
}


@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadein1{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadein2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dialog2 {
    left: 20%;
    bottom: 52%;
}




.menu
{
width: 23%;
top: 26%;
left: 8%;
position: absolute;
object-fit: contain;

}

.yess {
    animation: blink .1s;
    animation-iteration-count: infinite;
    position: absolute;
    transform: translate(-49.9%, 4.9%);
    object-fit: contain;
    width: 80%;
}
.topbar {
    width: 80%;
    object-fit: contain;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 8%;
    border: .1vw black solid;
    background-color: rgb(136,242,255,.5);
    line-height: 167%;
}
.dialog {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 41%;
    bottom: 65%;
    height: 22%;
    position: absolute;
    left: 26.5%;
}
.niti {
    position: absolute;
    width: 64%;
    z-index: 99;
    font-size: 1.5vw;
    top: 20.5%;
    left: 48%;
    transform: translate(-50%,-50%);
}
.boy {
    position: absolute;
    width: 34%;
    z-index: 99;
    font-size: 1.5vw;
    top: 15.5%;
    left: 33%;
    transform: translate(-50%,-50%);
    animation: fadein forwards 2s;
}
.boy1 {
    position: absolute;
    width: 46%;
    z-index: 99;
    font-size: 1.5vw;
    top: 15.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadein forwards 2s;
}
.menutext {
    top: 10%;
    left: 15%;
    background-color: #F3D6F2;
    border: 2px #FDFADE solid;
}

@keyframes zoomin {
    0%
    {
    transform: rotate(-32deg) ;
    }
    100%
    {
    transform: rotate(0deg);
    top: 15%;
    left: 36%;
    width: 31%;
    }
}


.back {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY( -180deg );
    transform-origin: 100% 100%;
    display: block;
}

@keyframes flipping{
    to{
        transform: rotateY(180deg );
         left: 5%;
     }
}
@keyframes fade_in{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.buttonpower {
    left: 75%;
    top: 77%;
    width: 5%;
    position: absolute;
    object-fit: contain;
    animation: fedin 3.5s linear forwards;
}
@keyframes blink {
    0% {
        transform: rotate(-32deg) scale(.8);
    }

    25% {
        transform: rotate(-32deg) scale(1);
    }
    50% {
        transform: rotate(-32deg) scale(.8);
    }

    75% {
        transform: rotate(-32deg) scale(1);
    }
    100% {
        transform: rotate(-32deg) scale();
    }
}


.clickmenu {
    width: 16%;
    top: 53%;
    position: absolute;
    left: 83%;
    border: 2px solid;
}
.line {
    position: absolute;
    top: 56%;
    left: 78%;
    width: 13%;
}

.menuroll {
    width: 31%;
    top: 9%;
    left: 50%;
    position: absolute;
    transform-style: preserve-3d;
    z-index: 10;
    transition: transform 1s;
}
.back {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY( -180deg );
    transform-origin: 100% 100%;
    display: block;
}
.front {
    width: 100%;
    display: block;
    position: absolute;
    backface-visibility: hidden;
    margin: 0;
    cursor: pointer;
}

.menu2 {
    width: 31%;
    left: 50%;
    position: absolute;
    display: block;
    top: 9%;
}
.pot1 {
    height: 8%;
    transform: translate(-50%,-50%);
    top: 73%;
    position: absolute;
    left: 48%;
    z-index: 4;
}
.pot2 {
    height: 8%;
    transform: translate(-50%,-50%);
    top: 70%;
    position: absolute;
    left: 49%;
}

.menufull {
    width: 60%;
    top: 4%;
    position: absolute;
    right: 20%;
    animation: fade_in 4s  ;
}
.menufull1 {
    width: 60%;
    top: 4%;
    position: absolute;
    right: 20%;
}

.example1 {
    font-family: sniglet;
    background: #FBF5E0;
    width: 60%;
    left: 20%;
    position: absolute;
    padding: .5%;
    top: 80%;
    animation: fade_in 2s;
    border-radius: 18px;
    color: #997859;
}
@media screen and (min-aspect-ratio: 4/3) {
    /*vh*/
    .topbar
    {
        font-size: 3.5vh;
    }
    .menutext
    {
        font-size: 3.5vh;
    }
    .example1
    {
        font-size: 2.8vh;
    }

}
.backgroundcream
{
    background: #FBF5E0;
}

.dialog1{
    height: 15%;
    width: 50%;
    top: 10%;
    left: 30%;
    font-size: 4vmin;
}

.box1{
    z-index: 8;
    left: 23%;
    position: absolute;
    top: 24.5%;
    width: 4%;
    animation:blinkopacity .5s forwards infinite;
}
.box2 {
    z-index: 8;
    left: 53%;
    position: absolute;
    top: 24.5%;
    width: 15%;
    animation: blinkopacity .5s forwards infinite;
    height: 4%;
}
.box3 {
    z-index: 8;
    left: 53%;
    position: absolute;
    top: 28.5%;
    width: 11%;
    animation: blinkopacity .5s forwards infinite;
    height: 4%;
}
@keyframes blinkopacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.boy2 {
    position: absolute;
    left: 16%;
    top: 27%;
    z-index: 10;
    animation: fadein1 forwards 2s;
    transform: translate(-50%,-50%);
}
.boy3 {
    top: 30%;
    position: absolute;
    left: 42%;
    width: 13%;
    z-index: 9;
    animation: fadein2 forwards 2s;
    transform: translate(-50%,-50%);
}
.boy5 {
    top: 14%;
    position: absolute;
    width: 26%;
    left: 65%;
    z-index: 9;
    animation: fadein forwards 2s;
    transform: translate(-50%,-50%);
}
.boy4 {
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 8;
    background: #C5E6E6;
    padding: 1%;
    border-radius: 7px;
}
.boy6 {
    top: 22%;
    position: absolute;
    left: 16%;
    width: 20%;
    z-index: 9;
    animation: fadein forwards 2s;
    transform: translate(-50%,-50%);
}
.boy7 {
    top: 31%;
    position: absolute;
    width: 18%;
    left: 44%;
    z-index: 9;
    animation: fadein1 forwards 2s;
    transform: translate(-50%,-50%);
}
.boy8 {
    position: absolute;
    left: 59%;
    top: 15%;
    z-index: 8;
    padding: 1%;
    border-radius: 7px;
    animation: fadein2 forwards 2s;
}
.boy9 {
   position: absolute;
    left: 5%;
    top: 5%;
    z-index: 8;
    background: #C5E6E6;
    padding: 1%;
    border-radius: 7px;
}
.boy10 {
    position: absolute;
    left: 51%;
    top: 15%;
    z-index: 8;
    padding: 1%;
    border-radius: 7px;
    animation: fadein2 forwards 2s;

}
.billhead {
    position: absolute;
    left: 12%;
    top: 1%;
    z-index: 8;
    background: #C5E6E6;
    padding: 1%;
    border-radius: 7px;
}


.restraunt {
    top: 44%;
    position: absolute;
    left: 5.6%;
    width: 31%;
}

.waitertext {
    top: 40%;
    position: absolute;
    left: 37%;
    width: 30%;
    animation: fadein 2s forwards;
}
.billtext {
    top: 40%;
    position: absolute;
    left: 67%;
    width: 32%;
    animation: fadein 2s forwards;
}

.rest4 {
    width: 27%;
    left: 8%;
    position: absolute;
    top: 50%;
    animation: fadein 2s forwards;

}



.summaryhead {
    background: #DDCAC0;
}
.noanimation{
    -webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
}

.dialog1 {
    height: 10%;
    width: 50%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    top: 16%;
    left: 33%;
    font-size: 4vmin;
}

.dialog2 {
    height: 17%;
    width: 50%;
    top: 12%;
    left: 12%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    font-size: 4vmin;
}

.dialog3 {
    height: 18%;
    width: 50%;
    top: 9%;
    left: 26%;
    font-size: 4vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog4 {
    height: 19%;
    width: 19%;
    top: 12%;
    left: 25%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog4a {
    height: 14%;
    width: 19%;
    top: 14%;
    left: 25%;
    opacity: 0;
    font-size: 3vmin;
    animation: fadein 1s 7s forwards;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog5 {
    height: 13%;
    width: 21%;
    top: 17%;
    left: 1%;
    font-size: 3vmin;
    animation: fadein 1s 5s forwards;
    opacity: 0;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog6 {
    height: 18%;
    width: 33%;
    left: 45%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    top: 8%;
}

.dialog7 {
    height: 18%;
    width: 24%;
    top: 16%;
    left: 1%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog8 {
    height: 18%;
    width: 25%;
    top: 13%;
    opacity: 0;
    animation:fadein 1s 3s forwards;
    left: 26%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog9 {
    height: 10%;
    width: 23%;
    top: 21%;
    opacity: 0;
    animation:fadein 1s 6s forwards;
    left: 53%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog10 {
    height: 17%;
    width: 23%;
    top: 12%;
    left: 1%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog11 {
    height: 13%;
    width: 23%;
    top: 14%;
    opacity: 0;
    animation: fadein 1s 3s forwards;
    left: 28%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog12 {
    height: 10%;
    width: 23%;
    top: 19%;
    left: 1%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog13 {
    height: 13%;
    width: 29%;
    opacity: 0;
    animation: fadein 1s 2s forwards;
    top: 13%;
    left: 65%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}

.dialog14 {
    height: 13%;
    width: 29%;
    opacity: 0;
    animation: fadein 1s 6s forwards;
    top: 14%;
    left: 27%;
    font-size: 3vmin;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
}


.boy9 {
    position: absolute;
    left: 1%;
    top: 1%;
    z-index: 8;
    background: #C5E6E6;
    padding: .4%;
    border-radius: .2em;
}

.instruction {
    position: absolute;
    top: 6%;
    z-index: 8;
    border-radius: .2em;
    width: 100%;
    left: 0;
    padding: .3%;
    background: rgba(197,230,230);
    font-size: 4vmin;
    font-family: sniglet;
}

.billhead {
    position: absolute;
    left: 12%;
    top: 4%;
    z-index: 8;
    background: #C5E6E6;
    padding: 1%;
    border-radius: 7px;
}

.topchanged {
    padding-top: 3%;
}

.bill22
{
    animation: zoomin 2s linear forwards ;
    width: 8%;
    object-fit: contain;
    left: 53%;
    top: 32%;
    position: absolute;

}

.contentwithbg6 {
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/04.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg2
{
    background: url("../images/07.png");
    background-size: :cover;
     width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contentwithbg3
{
    background: url("../images/06.png");
    background-size: :cover;
     width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contentwithbg3a
{
    background: url("../images/goingout.png");
    background-size: :cover;
     width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/scene 1-02-02-02.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contentwithbg1 {
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/02.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.contentwithbg4
{
    background: url("../images/scenewaitress_blank.png");
    background-size: :cover;
     width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg5 {
    background-color: #FBF5E0;
}

.bill {
    width: 7%;
    transform: rotate(-32deg) scale(1);
    object-fit: contain;
    left: 53%;
    top: 40%;
    position: absolute;
    animation: blink 3s linear alternate infinite;
    z-index: 99;
    cursor: pointer;
}

.billhead {
    position: absolute;
    left: 12%;
    top: 4%;
    z-index: 8;
    background: #C5E6E6;
    padding: 1%;
    border-radius: 7px;
}

.bill23 {
    position: absolute;
    width: 31%;
    top: 10%;
    left: 36%;
    cursor: pointer;
    transform-origin: 100% 100%;
    z-index: 9;
    animation: flipping 2s forwards;
    backface-visibility: hidden;

}
.bill24 {
    position: absolute;
    width: 34.5%;
    top: 10%;
    left: 35%;
    z-index: 0;
    animation: fade_in 2s linear forwards;
}

.flipped {
        transform: rotateY( 180deg );
    }

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.waitertext {
    top: 43%;
    position: absolute;
    left: 37%;
    width: 30%;
    animation: fadein 2s forwards;
}

.restraunt {
    top: 44%;
    position: absolute;
    left: 5.6%;
    width: 31%;
}

.summaryhead {
    background: #DDCAC0;
}

.billtext {
    top: 43%;
    position: absolute;
    left: 67%;
    width: 32%;
    animation: fadein 2s forwards;
}

/*page2 css begins*/

.contentwithbg{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/ordering-32.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg1{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/ordering-33.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg2{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/ordering-34.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg3{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/food1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg4{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/food2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg5{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/food3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg6{
    width: 100%;
    height: 100%;
    background: url("../images/food4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg7{
    width: 100%;
    height: 100%;
    background: url("../images/billl1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.contentwithbg8{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/billl2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg9{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/end2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentwithbg10{
    width: 100%;
    height: 100%;
    background: #DAFCFD;
    background: url("../images/end1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.backgroundanimation{
    animation:backgroundanimation 1s forwards;
}

@keyframes backgroundanimation{
    to{
        background:white;
    }
}



.buda {
    position: absolute;
    width: 14%;
    left: 75%;
    top: 28%;
}

.budaa {
    position: absolute;
    width: 14%;
    left: 75%;
    top: 30.5%;
}


.buda1 {
    position: absolute;
    width: 18%;
    left: 74%;
    top: 32%;
}


.menuu {
    position: absolute;
    width: 22%;
    top: 8%;
    left: 63.2%;
    transform: skewy(4deg);
    height: 22%;
}
.dialogueboxmaya1 {
    width: 27%;
    position: absolute;
    top: 28%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 47%;
    font-size: 2vw;
    height: 16% !important;
    z-index: 10;
}

.dialogueboxboth {
    width: 27%;
    position: absolute;
    top: 18%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 1%;
    font-size: 2vw;
    height: 16% !important;
    z-index: 10;
}



.dialogueboxuncle1 {
    width: 27%;
    position: absolute;
    top: 6%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 34%;
    font-size: 2vw;
    height: 16% !important;
    z-index: 10;
}

.dialogueboxprem1 {
    width: 27%;
    position: absolute;
    top: 28%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 5%;
    font-size: 2vw;
    height: 13% !important;
    z-index: 10;
}

.dialogueboxprem2 {
    width: 27%;
    position: absolute;
    top: 22%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 8%;
    font-size: 2vw;
    height: 13% !important;
    z-index: 10;
}



.dialogueboxbuda1 {
    width: 36%;
    position: absolute;
    top: 10%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 55%;
    font-size: 2vw;
    height: 17% !important;
    z-index: 10;
}


.dialogueboxmaya3 {
    width: 27%;
    position: absolute;
    top: 22%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 4%;
    font-size: 2vw;
    height: 14% !important;
    z-index: 10;
}

.dialogueboxuncle3 {
    width: 27%;
    position: absolute;
    top: 12%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 41%;
    font-size: 2vw;
    height: 14% !important;
    z-index: 10;
}

.toptext {
    color: white;
    position: absolute;
    font-family: sniglet;
    background: rgb(201,140,53) !important;
    width: 100%;
    font-size: 2vw;
    padding: 1%;
}

.toptexta {
    color: white;
    position: absolute;
    font-family: sniglet;
    background: rgba(201,140,53);
    width: 100%;
    font-size: 2vw;
    padding: 1%;
    text-shadow: .1em .1em .1em rgba(26, 26, 26, 0.4);
}

.toptext1 {
    color: white;
    position: absolute;
    font-family: sniglet;
    background: rgba(201,140,53);
    width: 100%;
    opacity: 0;
    bottom: 0%;
    font-size: 2vw;
    padding: 1%;
}

.menubold{
font-weight: bold;
font-family: Andika;
}

.dialogueboxuncle4 {
    width: 39%;
    position: absolute;
    top: 8%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 32%;
    font-size: 2vw;
    height: 13% !important;
    z-index: 10;
}

.dialogueboxuncle5 {
    width: 39%;
    position: absolute;
    top: 8%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 46%;
    font-size: 2vw;
    height: 10% !important;
    z-index: 10;
}


.dialogueboxbuda2 {
    width: 18%;
    position: absolute;
    top: 19%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 72%;
    font-size: 2vw;
    height: 10% !important;
    z-index: 10;
}

.dialogueboxbuda3 {
    width: 35%;
    position: absolute;
    top: 9%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 47%;
    font-size: 2vw;
    height: 10% !important;
    z-index: 10;
}

.mainbill {
    position: absolute;
    width: 32%;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    top: 1%;
}

.billbuda {
    position: absolute;
    width: 7%;
    top: 58%;
    left: 77.5%;
    z-index: 102;
    animation: blink .5s infinite;
    cursor: pointer;
}


@keyframes blink{
    0%{
         -webkit-filter: drop-shadow(.2em.2em .2em yellow)
                  drop-shadow(-.2em -.2em .2em yellow);
            filter: drop-shadow(.2em .2em .2em yellow)
          drop-shadow(-.2em -.2em .2em yellow);
    }
    100%{
         filter:none;
    }

}
.dialogueboxprem3 {
    width: 2%;
    position: absolute;
    top: 21%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 2%;
    font-size: 2vw;
    height: 17% !important;
    z-index: 10;
}

.dialogueboxmaya4 {
    width: 17%;
    position: absolute;
    top: 18%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 21%;
    font-size: 2vw;
    height: 18% !important;
    z-index: 10;
}


.dialogueboxmaya2 {
    width: 32%;
    position: absolute;
    top: 12%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 53%;
    font-size: 2vw;
    height: 17% !important;
    z-index: 99;
}



.dialogueboxwaiter1 {
    width: 40%;
    position: absolute;
    top: 10%;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    opacity: 0;
    left: 52%;
    font-size: 2vw;
    height: 17% !important;
    z-index: 10;
}



[class*="template-dialougebox2-top-flipped"]::before {
    left: 80%;
}

.opacity1{
    opacity: 1;
}

[class*="template-dialougebox2-top"]::before {
    bottom: -2vh;
}

[class*="template-dialougebox2-top-flipped"]::before {
    left: 70%;
}

.fadein1{
    animation: fadein 1s forwards;
}

.fadein2{
    animation: fadein 1s 3s forwards;
}

.fadein3{
    animation: fadein 1s 5s forwards;
}

.fadein12{
    animation: fadein 1s 1s forwards;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeout{
    animation: fadeout 1s forwards;
}

@keyframes fadeout{
    to{
        opacity: 0;
    }
}

.rest {
  width: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  border: .5em solid #8e7cc3;
  background-color: #fff;
  border-radius: 1.5em;
}
.rest1 {
  width: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  border: .5em solid #39a9db;
  background-color: #fff;
  border-radius: 1.5em;
}
.rest2 {
  width: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  border: .5em solid #005585;
  background-color: #fff;
  border-radius: 1.5em;
}
.rest3 {
  width: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  border: .5em solid #d14f88;
  background-color: #fff;
  border-radius: 1.5em;
}
.rest4 {
  width: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  border: .5em solid #6aa84f;
  background-color: #fff;
  border-radius: 1.5em;
}
.restraunt {
  top: 45%;
  position: absolute;
  left: 6%;
  width: 31%;
  background: #8e7cc3;
  color: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index: 9;
}

.menutxt {
    position: absolute;
    width: 27%;
    font-size: 2vw;
    font-family: sniglet;
    left: 41%;
    top: 39%;
    background: rgb(201,140,53);
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.ordertext {
    position: absolute;
    top: 40%;
    left: 73.3%;
    width: 25%;
    font-family: sniglet;
    background: rgb(201,140,53);
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}


.rest5 {
    position: absolute;
    width: 14%;
    top: 52%;
    left: 24%;
    box-shadow: inset 0 0 0 2.5em rgb(201,140,53);
    border: .2em solid rgb(201,140,53);
}


.billtext1 {
    top: 88%;
    position: absolute;
    left: 11%;
    width: 40%;
    font-family: sniglet;
    font-size: 2vw;
    background: rgb(201,140,53);
    color: white;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 0.4em;
    border-top-right-radius: .4em;
}

.rest6 {
    width: 27%;
    position: absolute;
    top: 58%;
    left: 54%;
    border: .5em solid rgb(201,140,53);
}

.paytext {
    top: 85%;
    position: absolute;
    font-family: sniglet;
    left: 54%;
    width: 27%;
    background: rgb(201,140,53);
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.clock {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 36%;
}


.hour {
    left: 49%;
    top: 49%;
    position: absolute;
    height: 1.5%;
    animation: hr-rotate 3s linear both;
    transform-origin: 10% center;
    transform: rotate(180deg);
}

.mins {
    position: absolute;
    top: 49%;
    left: 49.2%;
    transform: rotate(270deg);
    animation: min-rotate 3s linear both;
    height: 2%;
    transform-origin: 10% center;
}

.dot {
    position: absolute;
    top: 49%;
    width: 1%;
    left: 49.5%;
}

@keyframes min-rotate{
    to{
        transform: rotate(360deg);
    }
}


@keyframes hr-rotate{
    to{
        transform: rotate(187.5deg);
    }
}



.boldtoptext {
    font-family: sniglet;
}

.backgrd{
  background-color: #b7e6fb;
  position: absolute;
  width: 100%;
  left: 0%;
  height: 100%;
  top:0%;
}
.summry{
  top: 18%;
  position: absolute;
  left: 62.6%;
  width: 33%;
  background: #fff;
  color: white;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  height: 26%;
  border-bottom: 15px solid #005585;
  font-size: 4.5vw;
  padding: 4%;
  color: #005585;
  z-index: 2;
}
.bgcov{
  position: absolute;
  width: 100%;
  left: 0%;
  height: 100%;
  top: 0%;
}

.imgdiv1{
  position: absolute;
  width: 26%;
  left: 5%;
  height: 45%;
  top: 3%;
  background: #8e7cc3;
  border-radius: 1em;
}

.imgdiv2{
  position: absolute;
  width: 26%;
  left: 37%;
  height: 45%;
  top: 3%;
  background: #39a9db;
  border-radius: 1em;
}

.imgdiv3{
  position: absolute;
  width: 26%;
  left: 69%;
  height: 45%;
  top: 3%;
  background: #005585;
  border-radius: 1em;
}

.imgdiv4{
  position: absolute;
  width: 26%;
  left: 20%;
  height: 45%;
  top: 52%;
  background: #d14f88;
  border-radius: 1em;
}

.imgdiv5{
  position: absolute;
  width: 26%;
  left: 53%;
  height: 45%;
  top: 52%;
  background: #6aa84f;
  border-radius: 1em;
}
.bottomtext{
  position: absolute;
  width: 100%;
  bottom: 4%;
  background: transparent;
  font-size: 1.3vw;
  left: 0%;
  color: #fff;
}
@media (min-aspect-ratio: 4/3){
    .dialogueboxboth,.dialogueboxmaya1,.dialogueboxprem1,.dialogueboxbuda1,.dialogueboxbuda3,.dialogueboxmaya3,.dialogueboxuncle5,.dialogueboxbuda2,.toptext,.toptext1,.dialogueboxuncle4,.dialogueboxuncle1,.menudescription,.dialogueboxuncle3,.dialogueboxuncle2,.dialogueboxprem2,.dialogueboxmaya4,.dialogueboxwaiter1,.dialogueboxprem3{
        font-size: 2.8vmin;
    }
    .toptexta{
        font-size: 3.5vmin;
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    /*vh*/

    .restraunt,.waitertext,.billtext,.ordertext,.billtext1,.paytext,.menutxt{
        font-size: 3vh;
    }
    .summry{
      font-size: 7.5vh;
    }
    .bottomtext{
      font-size: 2.5vh;
    }
}
