.background{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

[class*=sp-1]{
	width: 43%;
	height: 33%;
	top: 70%;
	left: 45%;
	transform: translate(-59%,-57%);
	padding: 3% 7% 6% 6%;
	font-family: sniglet;
}
[class*=s9spbox]{
	width: 31%;
	height: 26%;
	top: 79%;
	left: 37%;
}
.speechbox > p {
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 3vh;
}
[class^=fish]{
	position: absolute;
	bottom: 5%;
	width: 13%;
}
[class*=fishLft]{
	left: 5%;
}


.pgNmTxt{
	position: absolute;
	top: 10%;
	left: 50%;
	width: 90%;
	transform: translate(-50%);
	font-family: pangolin;
	font-size: 6vh;
	color: #fff;
}
/*.optnLikeTxt{
	position: absolute;
	top: 20%;
	border: 2px solid #000;
	height: 13%;
	width: 23%;
	background: #fff;
	font-family: abeeZee;
	border-radius: .5em;
	left: 5%;
	align-items: center;
}
.oplkt-2{
	left: 30%;
}
.oplkt-3{
	left: 60%;
}*/







/*mcq*/

.optionsdiv {
	top: 10%;
	display: flex;
	left: 10%;
	flex-direction: row;
	text-align: left;
	position: absolute;
	height: 39%;
	width: 80%;
	flex-wrap: wrap;
}
.optionsdivSec{
	top: 42%;
	display: flex;
	right: 2%;
	flex-direction: row;
	text-align: left;
	position: absolute;
	height: 54%;
	width: 35%;
	flex-wrap: wrap;
	/*background: #fff;*/
}
.optionscontainer {
  width: 33%;
}
.opnCntSec{
	width: 100%;
}
.imagestartpos {
	position: absolute;
	width: 20%;
	margin-left: 1%;
	display: none;
	left: 76%;
	top: 41%;
	transform: translateY(-7%);
}
.corIncorSec{
	width: 12%;
	top: 30%;
}
.top57{
  top: 57%;
}

.optionsdiv p, .optionsdivSec p {
	padding: 2%;
	background: #926EED;
	border-radius: 15px;
	margin: 1%;
	font-size: 5vh;
	border: 5px solid #926EED;
	font-family: breeSerif;
	width: 50%;
	text-align: center;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.optionsdivSec p{
	font-size: 3vh;
	border: 5px solid #fff;
}
.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
    border: 5px solid #999999;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}
.corClass{
	background:#98c02e !important;
	border:4px solid #ff0 !important;
	pointer-events:none;
}
.incorClass{
	background:#ff0000 !important;
	border: 4px solid #980000 !important;
	pointer-events:none;
}




.topOPnsCont{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 85%;
	height: 22%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.optnLikeTxt{
	position: relative;
	width: 32%;
	background: #fff;
	padding-top: 2%;
	height: 100%;
	font-size: 4vh;
	font-family: abeeZee;
	border: 5px solid #000000;
	border-radius: .5em;
}
.pinkTxt{
	color: #2b6bfe;
	font-family: sniglet;
}
.optlt_1{
	background: #fffd99;
	font-size: 10vh;
}
.optlt_3{
	font-size: 6vh;
	padding-top: 3%;
}
.btmBxTxt{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fffd99;
	padding: 2%;
	font-size: 6vh;
	border: 4px solid #000;
	border-radius: .5em;
	font-family: abeeZee;
}
.undline{
	text-decoration: underline;
}
.smlfnt{
	font-size: 2vh;
}
.primeComp{
	position: absolute;
	top: 27%;
	background: #fffd99;
	padding: 5%;
	font-size: 5vh;
	border: 4px solid #000;
	border-radius: .5em;
	width: 30%;
}
.prime{
	left: 10%;
}
.comp{
	right: 10%;
}
.primeSmry{
	left: 10%;
	font-size: 3vh;
	padding: 1%;
}
.compSmry{
	right: 10%;
	font-size: 3vh;
	padding: 1%;
}
.sumaryTxt{
	position: absolute;
	color: #fff;
	font-family: pangolin;
	font-size: 6vh;
	left: 50%;
	transform: translate(-50%);
	top: 5%;
}
.hidn{
	display: none;
}
.primeComp:hover{
	cursor: pointer;
}



/*flex atble start*/

.flexcontainerblock{
	position: absolute;
	width: 30%;
	height: 60%;
	right: 1.5%;
	top: 20%;
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid #BDBFB5;
}


.flexcontainerblock100{
	position: absolute;
	width: 85%;
	height: 70%;
	left: 50%;
	top: 15%;
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid #D4D4D4;
	font-size: 2.56vmin;
	background-color: #fff;
	transform: translate(-50%);
}

.column{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

.column1{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	background-color: #93C47D;
}

.column2{
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	background-color: #C27BA0;
}

.rowheader{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.86vmin;
	color: #000000;
	border: 1px solid #555555;
	flex: 1.2;
}


.rowheaderdropable{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.35vmin;
	border-bottom: 1px solid #BDBFB5;
	flex: 1.2;
}

.rownormal{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5vmin;
	color: #000000;
	border: 1px solid #000;
	flex: 1;
}

.rownormaldropable{
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	font-size: 3.56vmin;
	color: #000000;
	flex: 4;
}

.rownormalafterdrop{
	font-size: 3vmin;
	color: #000000;
	border: 1px solid #C5C7BF;
}

.rownormal > p{
	padding: 0 0.35em;
	margin: 0;
	font-family: abeeZee;
}
.fnt_pnk{
	/*color: #9900ff;*/
}
.bg_brwn{
	background: #ffe599;
	color: #000 !important;
}
.vrysmlfnt{
	font-size: 1.9vmin;
}

@media screen and (min-aspect-ratio: 4/3) {
	.pgNmTxt{
		font-size: 11vh;
	}
	.speechbox > p{
		font-size: 3vh;
	}
	.optnLikeTxt{
		font-size: 3.7vh;
	}
	.optlt_1{
		font-size: 10vh;
	}
	.optlt_3{
		font-size: 6vh;
	}
	.smlfnt{
		font-size: 3.2vh;
	}
	.primeComp{
		font-size: 5vh;
	}
	.primeSmry, .compSmry{
		font-size: 2.8vh;
	}
	.btmBxTxt{
		font-size: 6vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.pgNmTxt{
		font-size: 8vw;
	}
	.speechbox > p{
		font-size: 2vw;
	}
	.optnLikeTxt{
		font-size: 2.1vw;;
	}
	.optlt_1{
		font-size: 7vw;
	}
	.optlt_3{
		font-size: 3vw;
	}
	.smlfnt{
		font-size: 2vw;
	}
	.primeComp{
		font-size: 3.5vw;
	}
	.primeSmry, .compSmry{
		font-size: 1.5vw;
	}
	.btmBxTxt{
		font-size: 3vw;
	}
}
