
.title{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 7vmin;
    font-family: Pangolin;
    width: 80%;
    right: 10%;
    text-align: center;
    color: white;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.factor1{

}

.factor{
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    width: 80%;
    text-align: center;
    font-size: 9vmin;
    font-family: Pangolin;
    color: white;
}

.text1 {
    position: absolute;
    left: 50%;
    width: 70%;
    font-size: 2.3vw;
    font-family: Sniglet;
    color: black;
    top: 39%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.fish {
    position: absolute;
    z-index: 1;
    top: 78%;
    width: 15%;
    left: 3%;
}

.clouds{
    top: 0%;
    width: 100%;
    left: 0%;
}

.bubblebox {
    top: 61%;
    left: 18%;
    position: absolute;
    width: 35%;
    background-color: transparent;
    z-index: 2;
    height: 36%;
}

.info{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 4vw;
    font-family: ABeeZee;
    width: 80%;
    right: 10%;
    text-align: center;
    color: black;
    background-color: white;
    padding: 1%;
    border-radius: 50px;
}

.factor1{
    position: absolute;
    bottom: 18%;
    right: 38%;
    background-color: #ffd966;
    width: 10%;
    height: 6%;
    padding: 0.51%;8
    border-radius: 10px;
    border: 1px solid black;
}

.factor2{
    position: absolute;
    bottom: 41%;
    right: 14%;
    background-color: #ffd966;
    width: 10%;
    height: 6%;
    padding: 0.51%;
    border-radius: 10px;
    border: 1px solid black;
}

.eq{
    position: absolute;
    bottom: 4%;
    color: white;
    right: 2.2%;
    width: 30%;
    font-size: 4vh;
    font-family: ABeeZee;
}

.eq1{
    position: absolute;
    bottom: 4%;
    color: white;
    right: 2.2%;
    width: 30%;
    font-size: 2vw;
    font-family: ABeeZee;
}

.three1{
    bottom: 31%;
    right: 15.5%;
    color: white;
    position: absolute;
    font-size: 3vh;
    font-family: ABeeZee;
}

.shell1 {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 20%;
    right: 23%;
}

.shell2 {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 20%;
    right: 15%;
}

.shell3 {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 20%;
    right: 6%;
}

.shell4 {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 10%;
    right: 23%;
}

.shell5 {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 10%;
    right: 15%;
}

.shell6 {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 10%;
    right: 6%;
}

.one {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 17%;
    right: 23%;
}

.two {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 17%;
    right: 15%;
}

.three {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 17%;
    right: 6%;
}

.four {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 7%;
    right: 23%;
}

.five {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 7%;
    right: 15%;
}

.six {
    position: absolute;
    width: 6%;
    height: 10%;
    bottom: 7%;
    right: 6%;
}

.two11{
    position: absolute;
    top: 42%;
    left: 6%;
    font-size: 2vw;
    font-family: ABeeZee;
    background-color: yellow;
    border-radius: 50px;
    width: 4%;
    z-index: 2;
}

.line1 {

    position: absolute;
    top: 60%;
    right: 15%;
    font-size: 3.2vw;
    font-family: ABeeZee;
    color: white;

}

.line2 {

    position: absolute;
    top: 68%;
    right: 15%;
    font-size: 3.2vw;
    font-family: ABeeZee;
    color: white;

}

.line3 {

    position: absolute;
    top: 76%;
    right: 15%;
    font-size: 3.2vw;
    font-family: ABeeZee;
    color: white;

}

.line4 {

    position: absolute;
    top: 84%;
    right: 15%;
    font-size: 3.2vw;
    font-family: ABeeZee;
    color: white;

}

.three11{
    position: absolute;
    top: 26%;
    left: 20%;
    font-size: 2vw;
    font-family: ABeeZee;
    background-color: yellow;
    border-radius: 50px;
    width: 4%;
}

.one11{
    position: absolute;
    top: 37%;
    left: 50%;
    font-size: 2vw;
    font-family: ABeeZee;
    background-color: yellow;
    border-radius: 50px;
    width: 4%;
}

.six11{
    position: absolute;
    top: 26%;
    left: 72%;
    font-size: 2vw;
    font-family: ABeeZee;
    background-color: yellow;
    border-radius: 50px;
    width: 4%;
}

.two1{
    bottom: 17%;
    right: 31%;
    color: white;
    position: absolute;
    font-size: 2.5vh;
    font-family: ABeeZee;
}

.rectanglebox{
    position: absolute;
    width: 25%;
    height: 20%;
    top: 70%;
    right: 5%;
}

.rectanglebox1{
    position: absolute;
    width: 38%;
    height: 11%;
    top: 70%;
    right: 5%;
}

.rectangleboxshell1{
    position: absolute;
    top: 33%;
    width: 22%;
    height: 25%;
    z-index: 1;
    left: 10%;
}

.rectangleboxshell2{
  position: absolute;
  top: 34%;
  width: 37%;
  z-index: 1;
  right: 8%;
}

.imageblock{
    position: relative;
    top: 0%;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 4/3){
    .text1 {
         font-size: 3.2vh;
    }
    .factor{
       font-size: 3vw;
    }
    .info{
      font-size: 5vh;
    }
}

@media (max-aspect-ratio: 4/3){
    .text1 {
        font-size: 3vw;
    }
    .factor{
       font-size: 4vw;
    }
    .info{
     font-size: 3vw;
   }
}
