.activity_container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    background: #fff;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position: relative;
    margin: 0;
    padding: 0;
}

.activity_container .nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 100;
}

.activity_container .prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p {
    margin: 0;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.textblock {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 8%;
}


div.imageblock {
    position: absolute;
    right: 5%;
    height: 55%;
    width: 40%;
    left: 62%;
    top: 0%;
}

.display_image {
    display: none;
    align-items: center;
    justify-content: center;
}

.hint_image {
    min-height: 45%;
    max-width: 100%;
    max-height: 100%;
    top: 5%;
    left: -9%;
}


/*============ exercise template ===================
==================================================== */

.instruction {
	color: #2A4AA7;
	position: absolute;
	font-family: Amaranth;
	top: 7%;
	left: 0%;
	width: 100%;
	font-size: 3.5vw;
	text-align: center;
}
@media (min-aspect-ratio: 4/3){
	.instruction {
		font-size: 4.5vh;
	}
}
.question {
	color: #2A4AA7;
	position: absolute;
	font-family: Amaranth;
	top: 25%;
	left: 10%;
	width: 80%;
	transform: translateY(-50%);
	font-size: 3.5vw;
	text-align: center;
}
@media (min-aspect-ratio: 4/3){
	.question {
		font-size: 4.5vh;
	}
}
.qstr{
	color: #2A4AA7;
	position: absolute;
	font-family: Amaranth;
	width: 10%;
	font-size: 3.5vw;
	text-align: center;
}
@media (min-aspect-ratio: 4/3){
	.qstr {
		font-size: 4.5vh;
	}
}
.r0-c0, .r0-c1{
	top: 20%;
}
.r1-c0, .r1-c1{
	top: 27.5%;
}
.r2-c0, .r2-c1{
	top: 35%;
}
.r0-c0, .r1-c0, .r2-c0{
	left: 35%;
}
.r0-c1, .r1-c1, .r2-c1{
	left: 55%;
}

.sign-place{
	text-align: right;
	top: 35%;
	left: 25%;
}
.divide-line{
	position: absolute;
	top: 44.5%;
	left: 30%;
	background-color: #2A4AA7;
	height: 0.5%;
	font-family: Amaranth;
	width: 40%;
}

@font-face {
	font-family: "Amaranth";
	src: url("../../../../../../fonts/amaranath/amaranth-regular.ttf");
}



input[type="text"] {
    border: solid .1em rgb(62,91,175);
    transition: border 0.3s;
    text-align: center;
    background: rgba(255,255,255,.6);
}
input[type="text"]:focus,
input[type="text"].focus {
	border-bottom: solid .1em rgba(62,91,175,.7);
}

.inputformclass:focus::placeholder{
	color: rgba(62,91,175,.7);
}

.inputformclass {
	position: absolute;
	left: 40%;
	top: 49%;
	font-size: 3vw;
	color: #3E5BAF;
	width: 20%;
}
.input-2{
	left: 50.50%;
}
.input-1{
	left: 29.50%;
}
.answer {
	position: absolute;
	left: 62.5%;
	top: 49%;
	color: #3E5BAF;
	font-size: 3vw;
}
.ans {
	position: absolute;
	top: 49%;
	color: #3E5BAF;
	font-size: 3vw;
}
.ans2{
	left: 71%;
}
.ans1{
	right: 71%;
}
@media (min-aspect-ratio: 4/3){
	.inputformclass, .answer, .ans{
		font-size: 4vh;
	}
}

.totalsequence {
	display: none;
}

.checkbutton {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3vw;
	top: 60%;
	background: rgba(42,74,167,.9);
	padding: 1%;
	color: white;
	border-radius: .5em;
	box-shadow: .01em .01em .01em .01em rgba(0,0,0,.5);
	cursor: pointer;
}
@media (min-aspect-ratio: 4/3){
	.checkbutton {
		font-size: 3.5vh;
	}
}
.correct-img, .incorrect-img{
	display: none;
	position: absolute;
	left: 57.5%;
	top: 60%;
	height: 10%;
}
.checkbutton:hover{
	background: rgba(42,74,167,.8);
}

.correct{
	background: rgba(93, 150, 32, 0.9);
}

.incorrect{
	background: rgba(186, 35, 35, 0.9);
}

.fadein{
	animation:fadein ease-in 1s forwards;
}

.my_activity {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}


@keyframes fadein{
	100%{
		opacity: 1;
	}
}
