<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercise4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
	<div class="lokhar"><img src="activity/grade8/math/math_unitary_02/image/your.png"/></div>
        <div class="titles">
            <!--<div class="yourTurn"> {{yourTurn}}</div>-->
			<div class="Solve the following"> </div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea"></div>
    </div>
</script>

<!--q1-->


<script type="text/x-handlebars-template" id="qaArea-template">

    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
			
            <span class="q">{{text}}</span>
			<div class="note">{{{given}}}</div>
        </div>
        <div class="ansArea">
            <!--<div class="baseString">{{baseString}} = </div>-->
			<!--<span class="currrency">{{suffix}}</span>-->
			
			<div class="inputfill">
				<div class="baseString"><input type="text" class="base6"  placeholder="Principle">  = 
					
					{{dividetxt}} x<input type="text" class="base1"  placeholder="Amount">
					<!--<input type="text" class="base2"  placeholder="Time">x-->
					<!--<input type="text" class="base3"  placeholder="Rate">-->
				
				</div>
				<div class="line"></div>
				<div class="dividetxt">{{dividetxt}}+<input type="text" class="base2"  placeholder="Time">x <input type="text" class="base3"  placeholder="Rate"></div>
				
			</div>
			
			<div class="baseString finalans1">{{baseString1}} = 
			<!--<span class="currrency">{{suffix}}</span>--><input type="text" class="base4"  placeholder="Principal"> + <input type="text" class="base5"  placeholder="Interest">
			</div>
			
			
			<div class="baseString finalans">{{baseString1}} = 
			<span class="currrency">{{suffix}}</span><input type="text" class="base"  placeholder="Amount"> 
			</div>
			
            <span class="check1"></span>
			
            <span class="showAns">
                <span class="ans">{{answer}}:<br/>{{baseString1}} = <span class="currrency">{{suffix}}</span>{{ans}}</span>
                <span class="baseString"></span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>





<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise4.js");
</script>