.optionsdiv {
  bottom: 0%;
  display: flex;
  left: 0%;
  text-align: left;
  position: absolute;
  height: 20%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.background, .ImgContDiv, .ImgContSec{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.optionscontainer {
  width: 30%;
  height: 37%;
  top: 50%;
  transform: translateY(-50%);
}

.imagestartpos {
  position: absolute;
  width: 15%;
  margin-left: 1%;
  display: none;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.optionsdiv p {
  padding: 2%;
  border-radius: 15px;
  margin: 1%;
  font-size: 3.5vh;
  background: #3c78d8;
  border: 5px solid #3c78d8;
  font-family: questrial;
  width: 100%;
  text-align: center;
  color: #fff;
}
.forhover:hover {
    border: 5px solid #ff0;
    cursor: pointer;
    background: #fffe9d;
    color: #000;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}
.qndiv{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #9d8189;
  font-family: questrial;
  height: 15%;
}
.question{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: questrial;
  color: #fff;
  width: 100%;
  font-size: 4vh;
}
.tpBtm{
  position: absolute;
  padding: 1%;
  font-size: 4vh;
}
.toptxt{
  top: 0%;
  left: 0%;
  width: 100%;
  background: #4f6d7a;
  font-family: questrial;
  color: #fff;
}
.btmtxt{
  bottom: 0%;
  left: 0%;
  width: 100%;
  background: #e8dab2;
  font-family: questrial;
}
.ht20{
  height: 20%;
}
.sp-1{
  position: absolute;
  top: 30%;
  left: 41%;
  height: 35%;
  width: 53%;
  padding: 2% 1% 2% 10%;
}
.speechbox > p {
  position: absolute;
  width: 84%;
  left: 14%;
  top: 50%;
  transform: translateY(-50%);
}
.dilakLastPage{
  position: absolute;
  width: 25%;
  top: 40%;
  left: 15%;
}
.greeenbg{
  background: #91e8da;
}
.girlIncycle, .girlIncycleSec{
  position: absolute;
  width: 16%;
  top: 38%;
}
.girlIncycle{
  transform: rotateY(180deg);
  left: 0%;
}
.girlIncycleSec{
  right: 40%;
}
.forwardAnim{
  animation: moveForwards 7s linear forwards;
}
.forwardAnimFast{
  animation: moveForwardsSec 4s linear forwards;
}
@keyframes moveForwards {
  100%{left: 100%;}
}
@keyframes moveForwardsSec {
  100%{right: 100%;}
}

.turnAnim{
  animation: turnAnim 5s linear forwards;
}
@keyframes turnAnim {
  100%{left: 67%;}
}
.filling_tube{
  position: absolute;
  width: 34%;
  top: 39%;
  left: 35%;
}

.ImgContDiv{
  animation: airPumpZm 3s linear 2s forwards;
}
@keyframes airPumpZm {
  0%{transform: scale(1,1);}
  100%{transform: scale(2,2);
    top: -26%;}
}
.zoomedPump{
  transform: perspective(500px) translateZ(236px);
  top: -26%;
}
.girlInCycleTurn{
  position: absolute;
  width: 16%;
  top: 38%;
  left: 67%;
  display: none;
}
.longImg{
  position: absolute;
  top: 0%;
  right: 0%;
  width: 264%;
  height: 100%;
}
.rightCtyAnim{
  animation: cityAnimate 15s linear infinite;
}
@keyframes cityAnimate {
  100%{right: -160%;}
}


.strchImg{
  width: 264%;
}
.l40{
  left: 40%;
}
.leftCtyAnim{
  animation: leftcityAnimate 15s linear infinite;
}
@keyframes leftcityAnimate {
  100%{left: -160%;}
}
.ctyAnimStop{
  animation: leftcityAnimateSec 5s linear forwards;
}
@keyframes leftcityAnimateSec {
  100%{left: -40%;}
}




.divtext{
  position: relative;
  left: 0%;
  width: 100%;
  height: 20%;
}
.divtext:nth-child(1){
  background: #fff4d3;
}
.divtext:nth-child(2){
  background: #7b74d4;
}
.divtext:nth-child(3){
  background: #19b4a2;
}
.divtext:nth-child(4){
  background: #e4508a;
}
.divtext:nth-child(5){
  background: #ff9b81;
}
.textsInDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-family: questrial;
  font-size: 4vh;
  width: 90%;
}
.colBlack{
  color: #000;
}
.showAnim{
  animation: makeBig 3s linear 2s forwards;
}
.hideAnim{
  animation: makeSmall 3s linear 2s forwards;
}

@keyframes makeBig {
  100%{
    height: 110%;
    font-size: 7vh;
  }
}
@keyframes makeSmall {
  100%{
    height: 0%;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  .diytxt{
		font-size: 11vh;
  }
  .tpBtm, .question{
    font-size: 3.5vh;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  .diytxt{
		font-size: 5vw;
  }
  .tpBtm, .question{
    font-size: 1.9vw;
  }
}
