.background, .allImgCont{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
[class*="btmtxt"]{
  position: absolute;
  bottom: 0%;
  padding: 1%;
  width: 100%;
  background: #91e8da;
  font-family: questrial;
  font-size: 4vh;
}
[class*="toptxt"]{
  position: absolute;
  top: 0%;
  padding: 1%;
  width: 100%;
  background: #91e8da;
  font-family: newsCycle;
  font-size: 4vh;
  z-index: 5;
}
.creambg{
  background:#fff2cc;
 }
.yellowbg{
 background:#fffe9d;
}
.purpleTxt{
  color: #9900ff;
}
.whitebg{
  background: #fff;
}
.greeenbg{
  background: #d1f4ff;
}
.cvTxt{
  position: absolute;
  top: 50%;
  left: 59%;
  transform: translate(-50%,-50%);
  font-size: 5vw;
}
.girl_skipping{
  position: absolute;
  width: 18%;
  top: 45%;
  left: 78%;
}
.girls_swinging{
  position: absolute;
  width: 22%;
  top: 37%;
  left: 0%;
}
.girlCycling{
  position: absolute;
  width: 7%;
  top: 30%;
  right: -7%;
  -webkit-animation: rightToLeft 5s linear infinite;
  animation: rightToLeft 5s linear infinite;
}
@keyframes rightToLeft {
  100%{right: 100%;}
}
@-webkit-keyframes rightToLeft {
  100%{right: 100%;}
}

.dilak{
  position: absolute;
  width: 11%;
  top: 50%;
  left: 36%;
}
.playing_dog{
  position: absolute;
  width: 11%;
  top: 66%;
  left: 15%;
}
.allImgCont{
  animation: zomIn 3s linear forwards;
}
@keyframes zomIn {
  0%{transform: perspective(500px) translateZ(0px);}
  100%{transform: perspective(500px) translateZ(169px);
        top: -16%;
        left: -18%;
      }
}
.fotbal_gif{
  position: absolute;
  top: 53%;
  width: 31%;
  transform: rotateY(180deg);
  left: 36%;
  display: none;
}
.fotbal_png{
  position: absolute;
  top: 53%;
  width: 31%;
  transform: rotateY(180deg);
  left: 36%;
}
.swngGrl{
  position: absolute;
  width: 49%;
  left: 0%;
  top: 12%;
}
.ballS7{
  position: absolute;
  width: 4%;
  top: 65%;
  left: 70%;
  animation: ballfly 2s cubic-bezier(0.42,0.0,1.0,1.0) .5s forwards, leftAnim 2s linear .5s forwards,
              ballroll 1s linear 2.5s forwards;
}

@keyframes ballfly {
    0% {transform: translateY(0%); }
    50% {transform: translateY(-200%); }
    100% {transform: translateY(0%);}
}
@keyframes leftAnim {
  0%{left: 70%;top: 65%;}
  50%{left: 55%;top: 65%;}
  100%{left: 40%;top: 65%;}
}

@keyframes ballroll {
  0%{left: 40%;}
  100%{transform: rotate(-90deg);left: 30%;}
}


.dilak_thinking{
  position: absolute;
  width: 34%;
  top: 41%;
  left: 0%;
}
.clouds9, .clouds{
  position: absolute;
  width: 56%;
  left: 36%;
  top: 0%;
  opacity: 0;
}
.clouds{
  opacity: 1;
}
.cldSec{
  width: 10%;
  top: 44%;
  left: 38%;
}
.cldThrd{
  width: 5%;
  top: 53%;
  left: 33%;
}
.melisha_s9{
  position: absolute;
  width: 6%;
  top: 24%;
  left: 71%;
}
.slide{
  position: absolute;
  width: 15%;
  top: 10%;
  left: 57%;
}
.swing_s9{
  position: absolute;
  width: 15%;
  top: 20%;
  left: 42%;
}
.hdnPic{
  opacity: 0;
}
.leftBox,.rightbox{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
}
.rightbox{
  left: 50%;
}
.sideBoxTxt{
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: laila;
  font-size: 4vh;
  width: 100%;
  padding: 1%;
  transform: translate(-50%,-50%);
}
.btmSec{
  height: 20%;
  font-size: 3.4vh;
}
.grlSwingLeft{
  position: absolute;
  width: 85%;
  top: 20%;
  left: 8%;
}
.ballRight{
  position: absolute;
  width: 10%;
}
.bl1{
  top: 36%;
  right: 40%;
  transform: translateX(-50%);
}
.bounceAnim {
  animation: bnceAnim 2s linear infinite;
}
@keyframes bnceAnim {
  0%{top: 36%;}
  75%{top: 20%;}
  100%{top: 36%;}
}
.bl2{
  top: 58%;
  right: 70%;
}
.slideAnim{
  animation: slideAnim 3s linear infinite;
}
@keyframes slideAnim {
  100%{right: 15%;transform: rotate(180deg);}
}
.bl1:hover, .bl2:hover, .grlSwingLeft:hover{
  cursor: pointer;
}

.figName{
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);
  font-family: AbeeZee;
  font-size: 2.8vh;
}
.fnbtm{
  top: 70%;
}
.orangeBox{
  background: #f9cb9c;
}
.grlCycleS14{
  position: absolute;
  width: 31%;
  top: 14%;
  left: 130%;
  transform: translate(-50%);
  -webkit-animation: slideLft 3s linear forwards;
  animation: slideLft 3s linear forwards;
}
@keyframes slideLft {
  100%{left: 50%;}
}
.guleli{
  position: absolute;
  width: 37%;
  top: 50%;
  transform: translateY(-50%) rotateY(180deg);
  left: 60%;
}
.busBg{
  position: absolute;
  top: 10%;
  left: 0%;
  width: 57%;
}
.school_bus{
  position: absolute;
  width: 20%;
  left: 36%;
  top: 58%;
  animation: busAnim 3s linear infinite;
}
@keyframes busAnim {
  100%{left: 0%;}
}
.sp-1{
  position: absolute;
  top: 30%;
  left: 41%;
  height: 35%;
  width: 53%;
  padding: 2% 1% 2% 10%;
}
.speechbox > p {
  position: absolute;
  width: 84%;
  left: 14%;
  top: 50%;
  transform: translateY(-50%);
}
.dilakLastPage{
  position: absolute;
  width: 25%;
  top: 40%;
  left: 15%;
}
.flyGif{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 57%;
}
.sliding_s8{
  position: absolute;
  width: 40%;
  top: 12%;
  right: 7%;
}
.s11Sld{
  width: 90%;
  top: 24%;
  right: 0%;
}
.melisha{
  position: absolute;
  width: 12%;
  top: 34%;
  left: 69%;
}
.sldpng:hover{
  cursor: pointer;
}
.left100{
  left: 100%;
}
.sldLeft{
  animation: sldlftZ 3s linear 3s forwards;
}
@keyframes sldlftZ {
  100%{left: 0%;}
}
@media screen and (max-aspect-ratio: 4/3) {
	.btmtxt, .toptxt,.sideBoxTxt{
		font-size:4vh;
	}
  .btmSec{
    font-size: 3.4vh;
  }
  .figName{
    font-size: 2.8vh;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
	.btmtxt, .toptxt, .sideBoxTxt{
		font-size:1.9vw;
	}
  .btmSec{
    font-size: 1.6vw;
  }
  .figName{
    font-size: 1.6vw;
  }

}
