.optionsdiv {
  bottom: 0%;
  display: flex;
  left: 0%;
  text-align: left;
  position: absolute;
  height: 20%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.optionscontainer {
  width: 30%;
  height: 37%;
  top: 50%;
  transform: translateY(-50%);
}

.imagestartpos {
  position: absolute;
  width: 15%;
  margin-left: 1%;
  display: none;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.optionsdiv p {
  padding: 2%;
  border-radius: 15px;
  margin: 1%;
  font-size: 3.5vh;
  background: #3c78d8;
  border: 5px solid #3c78d8;
  font-family: Abeezee;
  width: 100%;
  text-align: center;
  color: #fff;
}
.forhover:hover {
    border: 5px solid #ff0;
    cursor: pointer;
    background: #fffe9d;
    color: #000;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}
.qndiv{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #9d8189;
  font-family: newsCycle;
  height: 15%;
}
.question{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: newsCycle;
  color: #fff;
  width: 100%;
  font-size: 4vh;
}
.tpBtm{
  position: absolute;
  padding: 1%;
  font-size: 4vh;
}
.toptxt{
  top: 0%;
  left: 0%;
  width: 100%;
  background: #9d8189;
  font-family: laila;
  color: #fff;
}
.btmtxt{
  bottom: 0%;
  left: 0%;
  width: 100%;
  background: #ffcad4;
  font-family: asap;
}
.ht20{
  height: 20%;
}
.sp-1{
  position: absolute;
  top: 30%;
  left: 41%;
  height: 35%;
  width: 53%;
  padding: 2% 1% 2% 10%;
}
.speechbox > p {
  position: absolute;
  width: 84%;
  left: 14%;
  top: 50%;
  transform: translateY(-50%);
}
.dilakLastPage{
  position: absolute;
  width: 25%;
  top: 40%;
  left: 15%;
  transform: rotateY(180deg);
}
.greeenbg{
  background: #91e8da;
}

.background{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.dilak{
  position: absolute;
  width: 9%;
  top: 36%;
  left: 35%;
}
.dilWalk{
  animation: dilakWalk 8s linear infinite;
}
@keyframes dilakWalk {
  100%{left: 100%;}
}

.dilWalkSec{
  animation: dilakWalkSec 9s linear infinite;
}

@keyframes dilakWalkSec {
  100%{top: 64%;left: 64%;}
}



.arrow, .arrowRght{
  position: absolute;
  top: 62%;
  width: 20%;
  opacity: 0;
}
.arrow{
  left: 41%;
}
 .arrowRght{
   right: 41%;
 }
/*.arwSec_s3{
  transform: rotate(193deg);
  top: 75%;
}*/

[class*="arwSec"]{
  transform: rotate(180deg);
  top: 71%;
}

.arwtxt{
  position: absolute;
  top: 61%;
  font-family: asap;
  color: #fff;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}
[class*="fricTxt"]{
  top: 75%;
  left: 50%;
  color: #000;
}

.windTxt-4{
  top: 51%;
  left:72%;
}

.arwFst_s3, .pusTxt{
  animation: fdIn 1s linear 1s forwards;
}
.arwSec_s3, .fricTxt{
  animation: fdIn 1s linear 2s forwards;
}



.arwThird_s4{
  top: 53%;
  left: 62%;
  transform: rotate(180deg);
}
.arwFst_s4, .pusTxt-4{
  animation: fdIn 1s linear 1s forwards;
}
.arwSec_s4, .fricTxt-4{
  animation: fdIn 1s linear 2s forwards;
}

.arwThird_s4, .windTxt-4{
  animation: fdIn 1s linear 3s forwards;
}








@keyframes fdIn {
  100%{opacity: 1;}
}


[class$=drkCol]{
  color: #000;
}

.gvtTxt-drkCol{
  top: 79%;
  left: 47%;
  transform: rotate(16deg);
}
.arSld_fric{
  top: 82%;
  transform: rotate(194deg);
  right: 56%;
}
.arSld_pusFrc{
  top: 68%;
  transform: rotate(13deg);
}
.arSld_gvt{
  top: 83%;
  transform: rotate(15deg);
}
.psh_angular-drkCol{
  transform: rotate(12deg);
  top: 64%;
  left: 45%;
}
.fricTxt-7-drkCol{
  top: 82%;
  left: 29%;
}

.arSld_fric, .fricTxt-7-drkCol{
  animation: fdIn 1s linear 1s forwards;
}
.arSld_pusFrc, .psh_angular-drkCol{
  animation: fdIn 1s linear 2s forwards;
}

.arSld_gvt, .gvtTxt-drkCol{
  animation: fdIn 1s linear 3s forwards;
}



[class^=wind]{
  position: absolute;
  width: 20%;
  top: 40%;
  right: 30%;
}
.wind-s4{
  -webkit-aniamtion:  windfrmRight 2s linear infinite;
  animation: windfrmRight 2s linear infinite;
  /*animation-iteration-count: 3;*/
}


@keyframes windfrmRight {
  100%{right: 40%;opacity: 0}
}

.bigCity{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 264%;
  height: 100%;
}
.leftMoveAnim{
  animation: movecity 30s linear infinite;
}

@keyframes movecity {
  100%{left: -150%;}
}

.l0{
  left: 0%;
}


/*media query*/
@media screen and (min-aspect-ratio: 4/3) {
  .diytxt{
		font-size: 11vh;
  }
  .tpBtm, .question{
    font-size: 3.5vh;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  .diytxt{
		font-size: 5vw;
  }
  .tpBtm, .question{
    font-size: 1.9vw;
  }
}
