.background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
[class*="toptxt"]{
  position: absolute;
  top: 0%;
  padding: 1%;
  width: 100%;
  background: #ffcad4;
  font-family: newsCycle;
  font-size: 4vh;
  z-index: 5;
}
.yellowBg{
  background: #fcffbb;
}
.rightboxSec, .leftBoxSec{
  position: absolute;
  top: 20%;
  left: 10%;
  height: 64%;
  width: 37%;
  background: #fcffbb;
  border: 4px solid #434343;
  /*transform: translate(-50%);*/
}

.rightboxSec{
  left: 56%;
}
.boxImg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}
.bim1{
  left: 59.5%;
}

.imagestartpos{
  position: absolute;
  top: 100%;
  width: 15%;
  display: none;
}
.box:hover{
  cursor: pointer;
  transform: scale(1.1);
}



.boyWalk{
  position: absolute;
  top: 39%;
  width: 22%;
  left: 46%;
}

[class*=arrw]{
  position: absolute;
  width: 34%;
}

.arwf-1, .arwf-2, .arws-2, .arws-1{
  transform: rotate(160deg);
}
.arwf-3, .arws-3{
  transform: rotate(-73deg);
  width: 13%;
  top: 76%;
}
.forceNam{
  position: absolute;
  font-family: poppins;
  font-size: 2.5vh;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
.fric1{
  top: 88%;
}
.arwf-1,.arws-1{
  top: 79%;
  left: 39%;
}
.pforce1{
  top: 78%;
}
.arwf-2{
  top: 49%;
  left: 79%;
  transform: translate(-50%) rotate(-20deg);
}
.arws-2{
  top: 49%;
  left: 30%;
  transform: translate(-50%)  rotate(160deg);
}
.wndforce1{
  top: 41%;
  left: 87%;
  width: 30%;
}
.wndforce2{
  top: 54%;
  left: 27%;
}

.wind{
  position: absolute;
  width: 35%;
  top: 55%;
  left: 15%;
}
.wnd1{
  left: 63%;
}

.fric2{
  transform: translate(-50%) rotate(27deg);
  top: 85%;
}
.fricS_2{
  transform: translate(-50%) rotate(27deg);
  top: 85%;
}
.arwf_1-3{
  transform: rotate(-226deg);
  width: 13%;
  top: 71%;
  left: 40%;
}
.pforce2{
  top: 78%;
  transform: rotate(30deg);
  left: 63%;
}
.pforce2_2{
  top: 78%;
  left: 85%;
  transform: translate(-50%) rotate(-37deg);
}
.arwf_1-1{
  transform: rotate(188deg);
  top: 79%;
  left: 61%;
}
.arws_2-1{
  transform: rotate(122deg);
  top: 74%;
  left: 63%;
}

.fricS_2{
  transform: translate(-50%) rotate(-29deg);
  top: 89%;
}
.arws_2-3{
  transform: rotate(-104deg);
  width: 9%;
  top: 77%;
  left: 42%;
}
.fricForce{
  top: 74%;
  left: 33%;
  transform: rotate(23deg);
}
.arwf_2-2{
  top: 76%;
  left: 45%;
  transform: translate(-50%) rotate(6deg);
}

.wnd2{
  transform: rotateY(180deg);
}
.fricForce_2{
  top: 83%;
  left: 28%;
  transform: rotate(-27deg);
}
.arws_2-2{
  top: 85%;
  transform: rotate(-46deg);
  left: 20%;
}
@media screen and (max-aspect-ratio: 4/3) {
	.btmtxt, .toptxt, .midTXt{
		font-size:4vh;
	}
  .cvPageTxt{
    font-size: 12vh;
  }
}
@media screen and (max-aspect-ratio: 4/3) {
	.btmtxt, .toptxt, .midTXt{
		font-size:1.9vw;
	}
  .cvPageTxt{
    font-size: 6vw;
  }

}
