<!--
    Title : General Template
-->
<script type="text/javascript">
    $cssLoader("exercise/css/exercise1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
        <div class="contentblock {{additionalclasscontentblock}}">
            <div class = "vertical-horizontal-center">
            </div>

            {{#if familytreeblock}}
            <p class="quesText">Drag and drop the correct picture from the right into the missing place.</p>
            <div class="questionblock">
                {{#each familytreeblock}}
                <div class="eachperson {{personname}}">
                    <div class="{{imgspriteclass}}"></div>
                    <h2 class="{{textclass}}">{{{textdata}}}</h2>
                </div>
                {{/each}}
                
            </div>
            {{/if}}

            {{#if optblock}}
            <div class="optionsblock">
                {{#each optblock}}
                <div class="dropperson {{personname}}">
                    <div class="{{imgspriteclass}}"></div>
                    <h2 class="{{textclass}}">{{{textdata}}}</h2>
                </div>
                {{/each}}
            </div>
            {{/if}}

        </div>
    </div>
</script>

<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>