.activity_container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	font-family: happy_monkey;
}

.activity_container, .activity_container * {
	position: relative;
	margin: 0;
	padding: 0;
}

.activity_container .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.activity_container .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.yellow_bg {
	background-color: #FCD172;
}

.peach_bg {
	background-color: #F9CB9C;
}

.light_utb {
	width: 92%;
	height: 88%;
	left: 4%;
	top: 6%;
	border-radius: 1.2em;
	background-color: #FFFCED;
	color: #595959;
	padding: 2% 3%;
	text-align: left;
}

.lokharke {
	position: absolute;
	width: 35%;
	left: 2%;
	top: 50%;
	transform: translateY(-50%) scaleX(-1);
}

.ltb_addition {
	width: 60%;
	left: 36%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: left;
	padding: 2% 3% 2% 0;
}

.lightgree_bg {
	background-color: #D9EAD3;
	margin-top: 2%;
}

.footnote{
	position: absolute;
	width: 90%;
	left: 5%;
	bottom: 3%;
}

.dialog_image1, .dialog_image2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.description_instruction{
	font-family: chelsea_market;
	padding: 0.4em;
}

.dialog1, .dialog2, .dialog3, .dialog4 {
	position: absolute;
}

.dialog1{
	width: 60%;
	height: 45%;
	top: 8%;
	right: 28%;
	padding: 3% 4% 7% 3%;
}

.dialog2{
	width: 46%;
	height: 20%;
	top: 62%;
	left: 19%;
	padding: 2% 2% 2% 6%;
}

.dialog3{
	width: 46%;
	height: 34%;
	top: 10%;
	right: 36%;
	padding: 2.5% 2.8% 5% 2.8%;
}

.dialog4{
	width: 55%;
	height: 35%;
	top: 20%;
	right: 38%;
	padding: 3% 7.8% 2% 2.8%;
}

.mirror_image_X, .mirror_image_X2{
	transform: scaleX(-1);
}

.textfill{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.ltb_info{
	position: absolute;
	width: 100%;
	left: 0;
	bottom : 0;
	padding: 1% 3%;
	font-family: chelsea_market;
}

.orange_ltb{
	background-color: #FF9900;
}

.grey_ltb {
	background-color: #78909C;
	color: #000;
}

.class_01, .class_02, .class_03 {
	position: absolute;
	width: 30.67%;
	top: 45%;
}

.class_01 {
	left: 3%;
}

.class_02 {
	left: 34.67%;
}

.class_03 {
	right: 3%;
}

.description2 {
	text-align: left;
	padding: 1% 0 0 3%;
	color: #595959;
	font-weight: bold;
}

.bg_image{
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.newposition1{
	width: 66%;
	left: 34%;
	top: 0.7em;
}

@-webkit-keyframes fadein {
	100%{
		opacity: 1;
	}
}

@keyframes fadein {
	100%{
		opacity: 1;
	}
}

.saahil_class {
	position: absolute;
	width: 17%;
	right: 24%;
	bottom: 10%;
}

@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
	.description_instruction{
		font-size: 5vh;
	}

	.textfill, .description, .description2, .footnote {
		font-size: 3.56vh;
	}

	.newposition1{
		font-size: 4.5vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.description_instruction{
		font-size: 4vw;
	}

	.textfill, .description, .description2, .footnote {
		font-size: 2.45vw;
	}

	.newposition1{
		font-size: 3.5vw;
	}
}
