.activity_container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
	position: relative;
	margin: 0;
	padding: 0;
}

.activity_container .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.activity_container .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 11;
}

.purplebg{
	background-color: #B4A7D6;
}

.purplebg2{
	background-color: #8E7CC3;
}

.map{
	position: absolute;
	width: 50%;
	bottom: 10%;
	left: 10%;
}

.yadav, .akemi, .akemi2{
	position: absolute;
	width: 15%;
	right: 10%;
	bottom: 0;
}

.akemi, .akemi2{
	width: 20%;
}

.akemi2{
	left: 6%;
	right: unset;
}

.yadav2, .akemi3{
	position: absolute;
	bottom: 0;
}

.yadav2{
	width: 25%;	
	left: 0%;
} 

.akemi3{
	width: 20%;
	right: 5%;
	bottom: -7%;
}

.full_img{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.dialog1{
	position: absolute;
	width: 55%;
	height: 50%;
	right: 20%;
	top: 10%;
	padding: 3% 6% 10% 6%;
	z-index: 12;
}

.dialog2{
	position: absolute;
	width: 50%;
	height: 40%;
	right: 32%;
	top: 0%;
	padding: 3% 6% 8.5% 6%;
	z-index: 12;
}

.dialog3{
	position: absolute;
	width: 75%;
	height: 60%;
	right: 7%;
	top: 2%;
	padding: 3% 6% 11.5% 6%;
	z-index: 12;
}

.dialog3_b{
	position: absolute;
	width: 65%;
	height: 50%;
	right: 20%;
	top: 6%;
	padding: 3% 6% 10% 6%;
	z-index: 12;
}

.dialog4{
	position: absolute;
	width: 47%;
	height: 28%;
	right: 24%;
	top: 60%;
	padding: 1.5% 8% 1.5% 3%;
	z-index: 12;
}

.dialog5{
	position: absolute;
	width: 53%;
	height: 30%;
	left: 12%;
	top: 28%;
	padding: 1.8% 3% 9% 4.5%;
	z-index: 12;
}

.dialog6{
	position: absolute;
	width: 56%;
	height: 52%;
	right: 16%;
	top: 45%;
	padding: 3% 9% 2.5% 3.5%;
	z-index: 12;
}

.dialog_image1, .dialog_image2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.mirror_image_X{
	transform: scaleX(-1);
}

.textfill, .textfill2{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: happy_monkey;
}

.description_peach{
	background-color: rgba(249, 203, 156, 0.65);
	color: #009;
	padding: 1% 5%;
	font-family: happy_monkey;
	font-weight: bold;
}

.textblock{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lowertextblockadditionalclass{
	height: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 12;
	top: unset;
}

.lowertextblockadditionalclass2{
	height: auto;
	top: 50%;
	left: 5%;
	width: 60%;
	color: #fff;
	transform: translateY(-50%);
	font-weight: bold;
	font-family: happy_monkey;
}

.purpleanimationsquare{
	position: absolute;
	width: 60.08%;
	height: 100%;
	right: 10%;
	background-color: #B4A7D6;
}

.expand {
	-webkit-animation: expand_square 2s cubic-bezier(.43,.59,.55,1.1) 0.2s forwards;
	animation: expand_square 2s cubic-bezier(.43,.59,.55,1.1) 0.2s forwards;
}

@-webkit-keyframes expand_square {
	100%{
		width: 100%;
		right: 0%;
	}
}

@keyframes expand_square {
	100%{
		width: 100%;
		right: 0%;
	}
}

.rotate_square_anim {
	transform: rotate(360deg) scale(0.3);
	-webkit-animation: rotate_square 2s cubic-bezier(.43,.59,.55,1.1) 0.2s forwards;
	animation: rotate_square 2s cubic-bezier(.43,.59,.55,1.1) 0.2s forwards;
}

@-webkit-keyframes rotate_square {
	100%{
		transform: rotate(0deg) scale(1);
	}
}

@keyframes rotate_square {
	100%{
		transform: rotate(0deg) scale(1);
	}
}

.rotateimgblk{
	position: absolute;
	width: 60.08%;
	height: 100%;
	right: 10%;
	top: 60%;
	transform: rotate(-180deg);
	-webkit-animation: rotate_square 2.5s cubic-bezier(.43,.59,.55,1.1) 7.8s forwards;
	animation: rotate_square 2.5s cubic-bezier(.43,.59,.55,1.1) 7.8s forwards;
}

.rotateimgblk2{
	-webkit-animation: rotate_square 1s cubic-bezier(.43,.59,.55,1.1) 0.4s forwards;
	animation: rotate_square 1s cubic-bezier(.43,.59,.55,1.1) 0.4s forwards;
}

.orig_boat_class, .orig_butterfly_class, .orig_frog_class, .orig_swan_class{
	width: 20%;
	position: absolute;
}

.orig_boat_class {
	left: 4%;
	top: 18%;
}

.orig_butterfly_class {
	left: 28%;
	top: 8%;
}

.orig_frog_class {
	left: 52%;
	top: 8%;
}

.orig_swan_class {
	left: 76%;
	top: 18%;
}

.description_light_purple {
	position: absolute;
	width: 90%;
	left: 5%;
	top: 3%;
	border-radius: 0.8em;
	background-color: #EAE3FC;
	border: 0.1em solid #fff;
	color: #595959;
	font-family: happy_monkey;
	padding: 0.5% 2%;
}

.red_dot{
	position: absolute;
	width: 3%;
	height: 5%;
	left: 31.9%;
	top: 60.1%;
	background-color: rgba( 255, 0, 0, 0.6);
	z-index: 12;
	border-radius: 50%;
	-webkit-animation: blink_red 1s cubic-bezier(.68,-0.28,.51,1.32) 0.2s alternate infinite;
	animation: blink_red 1s cubic-bezier(.68,-0.28,.51,1.32) 0.2s alternate infinite;
}

@-webkit-keyframes blink_red{
	100%{
		transform: scale(0.2);
	}
}

@keyframes blink_red{
	100%{
		transform: scale(0.2);
	}
}



.blurout {
	-webkit-animation: blurout_kf 1.5s cubic-bezier(.66,-0.38,.76,.71) 1s forwards;
	animation: blurout_kf 1.5s cubic-bezier(.66,-0.38,.76,.71) 1s forwards;
}

@-webkit-keyframes blurout_kf{
	100%{
		-webkit-filter: grayscale(100%) blur(20px) brightness(0%);
		filter: grayscale(100%) blur(20px) brightness(0%);
	}
}

@keyframes blurout_kf{
	100%{
		-webkit-filter: grayscale(100%) blur(20px) brightness(0%);
		filter: grayscale(100%) blur(20px) brightness(0%);
	}
}

.blurin {
	-webkit-filter: grayscale(100%) blur(20px) brightness(0%);
	filter: grayscale(100%) blur(20px) brightness(0%);
	-webkit-animation: blurin_kf 1.5s ease-out 0.2 forwards;
	animation: blurin_kf 1.5s ease-out 0.2s forwards;
}

@-webkit-keyframes blurin_kf{
	100%{
		-webkit-filter: grayscale(0) blur(0px) brightness(100%);
		filter: grayscale(0) blur(0px) brightness(100%);
	}
}

@keyframes blurin_kf{
	100%{
		-webkit-filter: grayscale(0) blur(0px) brightness(100%);
		filter: grayscale(0) blur(0px) brightness(100%);
	}
}

@media screen and (min-aspect-ratio: 4/3) { 
	/*vh*/
	.textfill2{
		font-size: 8.56vh;
	}
	
	.description{
		font-size: 5.56vh;
	}
	
	.textfill, .description_peach {
		font-size: 3.56vh;
	}
	
	.description_light_purple{
		font-size: 4.56vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	/*vw*/
	.textfill2{
		font-size: 7.2vw;
	}
	
	.description{
		font-size: 4.8vw;
	}
	
	.textfill, .description_peach {
		font-size: 2.45vw;
	}
	
	.description_light_purple{
		font-size: 3.45vh;
	}
}