/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#h2ex2 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  /*background-color: #37C2DA;*/
  overflow: hidden;
  /*change only this*/
  background-image: url("../../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#h2ex2 * {
  margin: 0;
  padding: 0;
}

/*------------------------------------------------------------------------------------------*/
/*for css animation from animate css*/
/*
 #nxtBtn{
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
   animation-duration: 2s;
}
*/
#summary tr {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}

/*rotate right*/
.rotateRight {
  animation-duration: 5s;
  animation-name: RotateR;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: RotateR;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes RotateR {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes RotateR {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

/*****************************************************************************************************/
input[type=radio] {
  cursor: pointer;
  height: 8%;
  width: 10%;
  margin-right: 3% !important;
  transform: scale(2, 2);
}
.transferMethods{
  left: 50%;
  transform: translate(-36%);
}
/*main question*/
#mainQn {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  text-align: center;
  padding: 3% 5% 3% 5%;
  font-size: 1.4em;
  color: white;
  background-color: #005751;
  border-radius: 2%;
  box-shadow: 0.1em 0.2em 0.1em #888888;
}

#board {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 70%;
  height: 50%;
  text-align: center;
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

/*heat transfer methods*/
/* .conduction, .convection, .radiation {
  font-size: 1.4em;
  cursor: pointer;
} */
.conduction, .convection, .radiation {
  cursor: pointer;
  background: #f6b26b;
  border: 2px solid #e69138;
  border-radius: .2em;
  padding: 2%;
  width: 171%;
  font-size: 6vh;
  cursor: pointer;
}

.conduction:hover, .convection:hover, .radiation:hover {
  transform: scale(1.1, 1.1);
}

.conduction {
  color: #FF1177;
}

.convection {
  color: #228DFF;
}

.radiation {
  color: #BA01FF;
}

#nxtBtn {
  cursor: pointer;
  position: absolute;
  /*height: 10%;*/
  color: black;
  font-size: 2.5em;
  z-index: 100;
  right: 2%;
  /*bottom: 1%;*/
  bottom: 1%;
  width: 8%;
  display: none;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/*
#nxtBtn:hover {
	color: green;
}

*/
/*summary container*/
#summaryContain {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  height: 100%;
  overflow-y: auto;
}

/*table*/
#summary {
  display: none;
  position: absolute;
  top: 2.5%;
  left: 0%;
  width: 100%;
  text-align: center;
  border-spacing: 0.1em;
  border-collapse: separate;
}

#summary tr:nth-of-type(n+2) {
  display: none;
}

#summary tr th {
  padding: 0% 1%;
  text-align: center;
  font-size: 1.1em;
  background-color: #112F41;
  color: white;
}

#summary tr td {
  padding: 0.5% 0.5%;
  font-size: 1em;
  text-align: center;
}

#summary tr td:nth-of-type(1), #summary th:nth-of-type(1) {
  width: 80%;
  /*first column width*/
}

#summary tr td:nth-of-type(2), #summary th:nth-of-type(2) {
  width: 10%;
  /*first column width*/
}

#summary td:nth-of-type(3), #summary th:nth-of-type(3) {
  width: 10%;
  /*first column width*/
}

#summary tr:nth-of-type(odd) td {
  color: #0A1C28;
}

#summary tr:nth-of-type(even) td {
  color: #266DBB;
}

#summary tr td:nth-of-type(2) {
  color: darkgreen;
}

/*replay*/
#replay {
  display: none;
  position: absolute;
  top: 90%;
  left: 50%;
  width: 5%;
  height: 8%;
}
