@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}
.diy-title{
	position: absolute;
	top:50%;
	left:50%;
	font-family: sniglet;
	transform: translate(-50%, -50%);
	font-size: 7vmin;
	color: grey;
}
/* .diy-bg{
	width: 100%;
	height: 100%;
	background: #DAFCFD;
	background: url("../images/bg_diy.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
} */
.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_story_1 {
	background-image: url("../images/02.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
}


.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in_3 {
	animation: appear 3s both;
	-webkit-animation: appear 3s both;
}

.fade_in_1 {
	animation: appear 1s both;
	-webkit-animation: appear 1s both;
}

.fade_in_2 {
	animation: appear 2s ease-in both;
	-webkit-animation: appear 2s ease-in both;
}
.fade_in-1{
	animation: appear 1s ease-in 1s both;
	-webkit-animation: appear 1s ease-in 1s both;
}
.fade_in-2{
	animation: appear 1s ease-in 2s both;
	-webkit-animation: appear 1s ease-in 2s both;
}

@-webkit-keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes
appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade_away {
	animation: disappear 1s linear 1s forwards;
	-webkit-animation: disappear 1s linear 1s forwards;
}
.fade_out-1 {
	animation: disappear 1s linear 1s forwards;
	-webkit-animation: disappear 1s linear 1s forwards;
}
@-webkit-keyframes
disappear {
	100% {opacity: 0;}
}
@keyframes
disappear {
	100% {opacity: 0;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*for rain*/
.rain {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.dark-bg{
	background: #000;
}

.back-rain{
	z-index: 1;
	bottom: 15%;
	opacity: 0.5;
}
.front-rain {
	bottom: 0%;
}
.drop {
	position: absolute;
	bottom: 100%;
	width: 10%;
	height: 15%;
	pointer-events: none;
	animation: drop 0.7s linear infinite;
}

@keyframes drop {
	75% {transform: translateY(820%);}
	100% {transform: translateY(820%);}
}

.stem {
	width: 2%;
	height: 60%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.35));
	animation: stem 0.5s linear infinite;
}

@keyframes stem {
	0% {opacity: 1;}
	65% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;}
}

.splat {
	width: 30%;
	height: 20%;
	border-left: 0.3vmin solid rgba(255, 255, 255, 0.7);
	border-right: 0.3vmin solid rgba(255, 255, 255, 0.7);
	/*border-radius: 50%;*/
	border-top-left-radius: 80%;
	border-top-right-radius: 80%;
	border-bottom-left-radius: 80%;
	border-bottom-right-radius: 80%;
	opacity: 1;
	transform: scale(0);
	animation: splat 0.5s linear infinite;
}

@keyframes splat {
	0% {opacity: 1; transform: scale(0);}
	80% {opacity: 1; transform: scale(0);}
	90% {opacity: 0.5; transform: scale(1);}
	100% {opacity: 0; transform: scale(1.5);}
}

.vapor{
	position: absolute;
	top:50%;
	left:40%;
	width: 4%;
	filter: blur(1px);
	animation: vapor 2s linear infinite;
}

@keyframes vapor {
	0% { opacity: .8; visibility: visible; }
	20% { transform: translateY(-15%); opacity: 1; }
	40% { transform: translateY(-30%); opacity: 0.9; }
	60% { transform: translateY(-45%); opacity: 0.7; }
	80% { transform: translateY(-60%); opacity: .5; }
	100% { transform: translateY(-75%); opacity: 0; visibility: hidden; }
}



/*steam*/
/*
.steam2{
	position: absolute;
	top:50%;
	left:40%;
	width: 4%;
	height: 20%;
	background-color: red;
	border-right: 0px solid transparent;
	border-top: 0.5vmin solid #d6d2d2;
	border-left: 1vmin solid #d6d2d2;
	border-bottom: 0.5vmin solid #d6d2d2;
	border-radius: 80% 0 10% 10%;
	transform: rotate(200deg) skewY(50deg);
}

.steam{
	position: absolute;
	top:50%;
	left:40%;
	width: 4%;
	height: 20%;
}
.steam-animation{
	animation: steam 3s linear infinite;
}
.steam:before,
.steam:after{
	content: " ";
	position: absolute;
	top:0;
	left: 100%;
	border-right: 0px solid transparent;
	border-top: 1vmin solid transparent;
	border-left: 2vmin solid #d5d5d5;
	border-bottom: 2vmin solid #d5d5d5;
	width: 20%;
	height: 60%;
	z-index: 4;
	border-radius: 92% 1% 35% 30%;
	transform: rotate(200deg) skewY(63deg);
	filter: blur(4px);
}

.steam:after{
	top:10%;
	left:0%;
	z-index: 4;
	filter: blur(4px);
}

@keyframes steam {
	0% { opacity: .5; visibility: visible; }
	20% { transform: translateY(-15%); opacity: 0.7; }
	40% { transform: translateY(-30%); opacity: 0.55; }
	60% { transform: translateY(-45%); opacity: 0.4; }
	80% { transform: translateY(-60%); opacity: .3; }
	100% { transform: translateY(-75%); opacity: 0; visibility: hidden; }
}
.steam-thin{
	width: 2%;
	height: 10%;
	position: absolute;
	z-index: 10;
}
.steam-thin:before, .steam-thin:after{
	filter: blur(2px);
	border-right: 0px solid transparent;
	border-top: 0.5vmin solid transparent;
	border-left: 1vmin solid #d5d5d5;
	border-bottom: 1vmin solid #d5d5d5;
}*/


/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	font-size: 5em;
	z-index: 5;
}
.front{
	z-index: 20!important;
}
.coverboard{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.bg-l-blue{
	background-color: #59C2E6;
}
.header-desc{
	position: absolute;
	top: 10%;
	width: 100%;
	left: 0%;
	text-align: center;
	color: white;
}
.header-desc>p{
	margin: 2% 0%;
}
.header-desc>p:first-child{
	margin: 0% 0%;
}
.center-image{
	position: absolute;
	top: 40%;
	height: 50%;
	left: 50%;
	transform: translateX(-50%);
}


.font-med-2{
	font-size: 2.5vw;
}
/* .diy_bgx{
	position: absolute;
	width: 100%;
	top: 20%;
	height: 80%;
	left: 0%;
	z-index: 1 !important;
} */
@media (min-aspect-ratio: 4/3){
	.font-med-2{
		font-size: 3.5vh;
	}
}
/*=====  End of Custom Style  ======*/
