.definitionblock {
    text-align: center;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0%;
    height: 100%;
}font-face {
    font-family: amaranth;
    src: url('../../../../../fonts/amaranath/amaranth-regular.ttf');
}

@font-face {
    font-family: amaranth_bold;
    src: url('../../../../../fonts/amaranath/amaranth-bold.ttf');
}

p{
	margin: 0;
}

.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 111;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 111;
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
	position: absolute;
	width: 100%;
}

.definitionblock {
    text-align: center;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0%;
    height: 100%;
}

.definition {
	font-size: 3.8vmin;
	display: none;
	text-align: left;
	padding: 1% 4%;	
	z-index: 1;
}

.highlightbg {
	background: transparent;
	box-sizing: border-box;
	padding: 3% 4%;
	background: #FFE9A7; 
	z-index: 1
}

.text {
	position: absolute;
	font-size: 6vmin;
	z-index: 1;
}	
.text:lang(np){
	position: absolute;
	font-size: 4.5vmin;
	z-index: 1;
}
.normal-text {
	font-size: 4vmin;
	width: 100%;
	text-align: center;
    position: absolute;
	top: 23%;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.normal-text:lang(np) {
	font-size: 3.5vmin;
}

.matter-head {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.matter-head:lang(en){
    font-family: amaranth_bold;
}

.text:lang(en){
    font-family: amaranth_bold;
}

.colored {
	color: #DA0026;
}

.main-box {
	background-color: #82A3D9;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.content-box {
	background-color: #F2F2F2;
	height: 80%;
	width: 96%;
	position: absolute;
	top: 16%;
	left: 2%;
	border-radius: 15px;
	box-shadow: 1px 1px 10px 2px #666666;
}