@import "common.css";

.main-box {
    background-color: #30C1B9;
}
.opening-bg {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #00B7AE;
    color: #FFFFFF;
}

/* text */
.text {
    top: 5%;
    left: 0;
    right: 0;
}

.matter-head {
    top: 40%;
    animation: float 3s;
}

@keyframes float {
    50% { top: 44%; }
}

.matter-text1, .matter-text2 {
    opacity: 0;
    animation: matterTextFadeIn 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.matter-text1 {
}

.matter-text2 {
    top: 30%;
}

@keyframes matterTextFadeIn {
    to { opacity: 1 }
}

.object {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20%;
    opacity: 0;
    animation: fadeInOb 0.4s 0.5s forwards;
    z-index: 1
}

@keyframes fadeInOb {
    from{ opacity: 0; }
    to{ opacity: 1; }
}

.liquidform-text1, .liquidform-text2 {
    opacity: 0;
    animation: 1s fadeIn 1s forwards;
}

.liquidform-text1 {
    top: 42%;
    left: -20%;
    animation: 1s textSlideRight 1s forwards;
}

@keyframes textSlideRight {
    to { opacity: 1; left: 7%}
}

.liquidform-text2 {
    top: 62%;
    left: 20%;
    animation: 1s textSlideLeft 3.3s forwards;
}

@keyframes textSlideLeft {
    to { opacity: 1; left: -14%}
}

/* images */
/*--------------------------------------------*/
/* images */
.spilled-water {
    width: 50%;
    position: absolute;
    bottom: 5%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
}

.diff-shapes {
    width: 80%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 1;
}

.liquidimg {
    left: 15%;
    animation: fadeIn 0.1s ease-in;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.liquidImg {
    left: 40%;
    animation: float 3s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.gasImg {
    right: 15%;
    transform: scale(0.7);
    animation: gas 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.matterimg {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 15%;
    opacity: 0;
    animation: fadeIn 1s ease-in;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.spriteimg2 {
    width: 25%;
    height: 30%;
    position: absolute;
    bottom: 25%;
    background-image: url("../images/page2/liquid01.png");
    margin: 0;
    background-position: 0% 164%;
    background-size: 700% 110%;
    animation: 2s play 1s steps(6) forwards;
    z-index: 1;
}

@keyframes play {
    from { background-position: 0% 164%; }
    50% { background-position: 0% 164%; }
    to { background-position: 100% 164%; }
}

.spriteimg1 {
    width: 50%;
    height: 65%;
    position: absolute;
    top: 40%;
    background-image: url("../images/page2/waterflow.png");
    margin: 0;
    background-position: 0% 164%;
    background-size: 700% 110%;
    animation: 3s play 1s steps(6) forwards;
    z-index: 1;
}

@keyframes play {
    from { background-position: 0% 164%; }
    50% { background-position: 0% 164%; }
    to { background-position: 100% 164%; }
}

.objectimg {
    width: 20%;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: scale(0.8);
    opacity: 0.5;
    animation: 0.6s expand forwards;
    z-index: 1;
}

.objectimg1 {
    width: 20%;
    margin: 0;
    opacity: 0;
    top: 30%;
    left: 0%;
    transform: scale(1);
    animation: 1s imgSlideRight 1.2s forwards;
}

@keyframes imgSlideRight {
    to { opacity: 1; left: 8%}
}

.objectimg2 {
    width: 10%;
    margin: 0;
    opacity: 0;
    top: 55%;
    left: 80%;
    transform: scale(1);
    animation: 1s imgSlideLeft 5s forwards;
}

@keyframes imgSlideLeft {
    to {left: 72%; opacity: 1}
}

.thinking {
    width: 20%;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

/*start of the flex box css*/
.flex {
    margin-top: 22%;
    height: 50%;
    width: 100%;
    padding: 0 10%;
    justify-content: space-around;
    flex-flow: wrap;
}

.flex img {
    padding: 4% 2.5%;
    width: 17%;
    transform: scale(0);
    animation: 1s expand 0.5s forwards;
}
.fstImg{
  position: absolute;
  top: 54%;
  left: 53%;
  width: 69%;
  transform: translate(-50%);
}

@keyframes expand {
    to { transform: scale(1); opacity: 1}
}

@media (min-aspect-ratio:4/3){
  .fntsz9{
    font-size: 9vh;
  }
}
