
/* text */
.text {
    top: 45%;
    left: 0;
    right: 0;
}

.normal-text {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}

.rev1 {
    margin-top: 0%;
}

.rev3 {
    width: auto;
    position: absolute;
    top: 35%;
    left: -35%;
    animation: leftRight 28s infinite;
}

@keyframes leftRight {
    50% { left: 30% }
}

.rev4 {
    width: 30%;
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transform: scale(1);
    opacity: 1;
    animation: expandIn 5s infinite;
}

@keyframes expandIn {
    90% { 
        bottom: 6%;
        opacity: 0.8;
        transform: scale(1.2); 
    }
    
    100% { 
        bottom: 6%;
        opacity: 0.8;
        transform: scale(1.2); 
    }
}

/* image */
.solidimg {
    width: 12%;
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: slideDown 1s;
    animation-fill-mode: forwards;
}

.liquidimg {
    width: 70%;
    height: 25%;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.gasimg {
    width: 25%;
    height: 25%;
    filter: drop-shadow(1px 1px 1px #555555);
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: expandIn 5s infinite;
}

.thinking {
    width: 30%;
    position: absolute;
    bottom: 5%;
    right: 5%;
}


.lokharke {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 12%;
}