<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/exercise2.css");
    $cssLoader("css/exercise2anim.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="mixture_exercise2">	 
	<div class="board"></div>
</div>

<script type="text/x-handlebars-template" id="separateMixture-template">
    <div class="selectionArea">
    	{{#each mixtureCollection}}
	        <figure data-mixturetype="{{this.mixtureTypeData}}" data-mixturename="{{this.mixtureNameData}}">
	            <img src="{{this.mixtureImgSrc}}">
	            <figcaption>{{this.mixItemCaption}}</figcaption>
	        </figure>
	    {{/each}}
    </div>
    <div class="homogeneousCollector clickSack">
        <p>{{homogeneousData}}</p>
        <div class="homogeneousDiv">
            {{#each homogeneousCollection}}
                    <img src="">
            {{/each}}
        </div>
    </div>
	<div class="heterogeneousCollector clickSack">
        <p>{{heterogeneousData}}</p>
        <div class="heterogeneousDiv">
            {{#each heterogeneousCollection}}
                    <img src="">
            {{/each}}
        </div>
    </div>
    <p class="selectionConclusion instructionStyle">{{conclusionData}}</p>
    <b></b>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/exercise2.js");
</script>