<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/exercise1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="mixture_exercise1">	 
	<div class="board"></div>
</div>

<script type="text/x-handlebars-template" id="selectMixture-template">
    <p class="instruction">{{instructionData}}</p>
    <p class="selectionConclusion"></p>
    <div class="selectionArea">
    	{{#each mixtureCollection}}
	        <figure data-mixturename="{{this.mixtureNameData}}">
	            <div><img src="{{this.mixtureImgSrc}}"></div>
	            <figcaption>{{this.mixItemCaption}}</figcaption>
	        </figure>
	    {{/each}}
    </div>    
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/exercise1.js");
</script>