<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page8.css");
    $cssLoader("css/page8anim.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="solution_type">	
    
	<div class="board"></div>

    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script type="text/x-handlebars-template" id="slide1-template">
	<div class="solutionTypes">
	    <p>{{firstLine}}</p>
			<ul>
				<li>{{list1}}</li>
				<li>{{list2}}</li>
				<li>{{list3}}</li>
			</ul>
	</div>
</script>

<script type="text/x-handlebars-template" id="slide2-template">
    <p class="instruction">{{{instructionData}}}</p>
    <div class="mixingArea">
        <img src="{{mixItemXSource}}" class="{{mixItemXClass}}">
        <p class="{{mixItemXLabelClass}}">{{mixItemXLabelData}}</p>
        <img src="{{mixerSource}}" class="{{mixerClass}}">
        <img src="{{mixItemYSource}}" class="{{mixItemYClass}}">
        <p class="{{mixItemYLabelClass}}">{{mixItemYLabelData}}</p>
        <img src="{{fireSource}}" class="fireClass">
    </div>
    <p class="mixingReport">{{mixingReportData}}</p>
    <div class="slidenextBtn">{{next}}</div>
</script>


<script type="text/x-handlebars-template" id="slide4-template">
    <div class="solutionConclusion">
        <p>{{conclusionHeading}}</p>
        <div class="conclusionImages">
            {{#each solutions}}
                <figure>
                    <img class="{{this.solutionClass}}" src="{{this.solutionImgSrc}}">
                    <figcaption>{{this.solutionDefinition}}</figcaption>
                </figure>
            {{/each}}
        </div>        
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page8.js");
</script>