<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="mixture_ex">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
</div>

<script type="text/x-handlebars-template" id="first-template">
    <p class="{{textclass}}">{{topicText}}</p>
    <img class="{{imageclass}}" src="{{imageSrc}}" title="{{imageAlt}}">
    <p>{{exampleText}}</p>
</script>

<script type="text/x-handlebars-template" id="second-template">
    <p class="onlyText">{{topicText}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>
