<script type="text/javascript">
     
    $cssLoader("exercise/css/ex1.css");
</script>


<div class="activity_container">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
				{{/each}}
				{{#each speechbox}}
					<div class="speechbox {{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						{{#if audioicon}}
							<img class="audioicon {{audioclass}}" src="images/speaker.png">
						{{/if}}
					</div>
				{{/each}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
			</div>
		</div>
	</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>