.textblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.color_background{
  background:rgb(247,227,165) !important;
  background: 100% 100%;
}
.color_background2{
  background:rgb(106,177,135) !important;
  background: 100% 100%;
}
.question {
    position: absolute;
    background: rgb(74,134,232);
    padding: 1%;
    font-size: 2.2vw;
    top: 41%;
    left: 12%;
    color: rgb(247,227,165);
    border-radius: .2em;
}
.hand {
    position: absolute;
    bottom: 0;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
}
.diseases_text {
    position: absolute;
    color: white;
    font-size: 2vw;
    top: 10%;
    width: 100%;
    opacity: 0;
}
.desc1 {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 22%;
    left: 11%;
    font-size: 1.5vw;
    opacity: 0;
}
.desc2 {
    position: absolute;
    width: 80%;
    text-align: center;
    top: 41.5%;
    left: 11%;
    font-size: 1.5vw;
    opacity: 0;
}
.undereat {
    width: 18%;
    position: absolute;
    background: white;
    padding: 2%;
    border-radius: 50%;
    top: 60%;
    opacity: 0;
    left: 30%;
}
.overeat {
    width: 18%;
    position: absolute;
    background: white;
    padding: 2%;
    border-radius: 50%;
    top: 60%;
    left: 55%;
    opacity: 0;
}

.desc_img {
    position: absolute;
    width: 0%;
    left: 5%;
    background: rgb(255,242,204);
    padding: 2%;
    padding-left: 55%;
    top: 14%;
    border-radius: .5em;
    box-shadow: .01em .01em 0.7em rgba(0,0,0,.2);
}

.desc_text {
    position: absolute;
    width: 52%;
    z-index: 99;
    left: 7%;
    top: 20%;
    font-size: 1.7vw;
    opacity: 0;
}
@keyframes fadein {
  to{
    opacity:1;
  }
}
.orange{
  color: rgb(250,175,68);
}

@media (min-aspect-ratio: 4/3){
  .question{
    font-size: 5.5vmin;
  }
  .diseases_text,.desc_text{
    font-size: 4.5vmin;

  }
  .desc1,.desc2{
    font-size: 3.5vmin;
  }
}

/*page2 ends*/
