.textblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.sundar {
    position: absolute;
    width: 30%;
    transform: translate(-50%,-50%);
    left: 20%;
    top: 60%;
}
.monkeytext {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 19%;
    background: white;
    padding: 1%;
    border-radius: .2em;
    font-size: 2vw;
}
.premchandratext{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 5%;
  background: rgb(166,77,121);
  padding: 1%;
  border-radius: .2em;
  font-size: 2vw;
  color: white;
}
.malnut {
    position: absolute;
    width: 0%;
    left: 10%;
    top: 17%;
    background: white;
    padding: 2%;
    border-radius: 50%;
}
.overeat {
    position: absolute;
    width: 0%;
    left: 57%;
    top: 17%;
    background: white;
    padding: 2%;
    border-radius: 50%;
}
.premtext {
    position: absolute;
    width: 40%;
    color: white;
    background: rgb(194,123,160);
    border-radius: .2em;
    font-size: 1.7vw;
    top: 84%;
    left: 6%;
}
.dialoguemonkey {
    position: absolute;
    width: 0%;
    left: 29%;
    top: 24%;
}
.chandratext {
    position: absolute;
    width: 40%;
    color: white;
    background: rgb(194,123,160);
    border-radius: .2em;
    font-size: 1.7vw;
    top: 84%;
    left: 52%;
}
.squirrel {
    position: absolute;
    width: 17%;
    bottom: 0;
    left: 29%;
}
.hidn{
  display: none;
}
@keyframes fadein {
  to{
    opacity:1;
  }
}

@media (min-aspect-ratio: 4/3){
  .premchandratext,.monkeytext{
    font-size: 4vmin;
  }
  .premtext,.chandratext{
    font-size: 3.5vmin;
  }
}

/*page2 ends*/
