@font-face {
    font-family: monsterat;
    src: url("../../../../../fonts/Montserrat-Regular.otf");
}
.textblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*z-index: 100;*/
}
.bg1{
	background: url("../images/bg01.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.balanceddietimage {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.bottom_middle_text {
    font-family: monsterat;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
		font-size: 2.5vw;
		color: white;
		width: 100%;
		background: rgba(0,0,0,.2);
}
.titleclass {
    position: absolute;
    font-size: 7vmin;
    color: white;
    transform: translateX(-50%);
    left: 50%;
    top: 16%;
    background: rgba(169,108,61,.9);
    width: 43%;
    border-radius: .3em;
}
.top_heading_text {
    position: absolute;
    color: white;
    background: rgb(14, 96, 135);
    padding: 1%;
    font-family: monsterat;
    transform: translateX(-40%);
    left: 40%;
    top: 4%;
    border-radius: .3em;
    font-size: 2.5vw;
    z-index: 100;
}

.back_text {
    position: absolute;
    color: white;
    background: #f1592d;
    padding: 1%;
    font-family: monsterat;
    transform: translateX(-50%);
    left: 85%;
    top: 85%;
    border-radius: .3em;
    font-size: 4vh;
    z-index: 100;
    width: 18%;
}
.back_text:hover{
  cursor: pointer;
  top:84%
}
.shakeup{
  animation: shakeup .7s linear forwards;
}
@keyframes shakeup {
  10%, 90% {
    left: 83%;
  }

  20%, 80% {
    left:87%;
  }

  30%, 50%, 70% {
    left: 84%;
  }

  40%, 60% {
    left: 86%;
  }

  100%{
    left: 85%;
  }
}
.top_heading_text.bot{
  top : 85% ! important;
}
.zoom_inout{
  animation: zoom_in_out1 2 .7s ease-in-out forwards;
  -webkit-animation: zoom_in_out1 2 .7s ease-in-out forwards;
}
@keyframes zoom_in_out {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes zoom_in_out1 {
  0%{
    transform: translateX(-50%) scale(1);
  }
  50%{
    transform: translateX(-50%) scale(1.2);
  }
  100%{
    transform: translateX(-50%) scale(1);
  }
}



.yogagirl {
    position: absolute;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 7%;
}

.description_text1 {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 90%;
    top: 18%;
    font-family: monsterat;
    color: rgb(20, 80, 32);
		opacity: 0;
		font-size: 2vw;
    z-index: 999;
}

.description_text2 {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 90%;
    top: 24%;
    font-family: monsterat;
    color: rgb(20, 80, 32);
		opacity: 0;
		font-size: 2vw;
    z-index: 999;
}

.allnutrients {
    position: absolute;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    top: 7%;
}
.allnutrients.last {
    top: 25%;
}


.carbs,.vits,.fat,.pro {
    position: absolute;
    color: white;
    background: rgba(56,118,29,.7);
    padding: 1%;
    font-family: monsterat;
    transform: translateX(-50%);
    border-radius: .3em;
		font-size: 2vw;
		opacity: 0;
}

.carbs {
    left: 17.5%;
    top: 20%;
}
.vits {
    left: 83.4%;
    top: 17%;
}
.fat {
    left: 78%;
    top: 65%;
}
.pro {
    left: 20.5%;
    top: 65%;
}

.carb_image, .vits_image, .fat_image, .pro_image {
    position: absolute;
    width: 25%;
    cursor: pointer;
}

.pro_image {
    left: 26%;
    top: 41%;
    width: 31%;
}

.fat_image {
    left: 49.5%;
    top: 41%;
}

.vits_image {
    left: 49.5%;
    top: 6%;
}
.carb_image {
    left: 25%;
    top: 6%;
}
.carb_image:hover, .vits_image:hover, .fat_image:hover, .pro_image:hover{
  transform: scale(1.1);
}


.opacity1{
	opacity: 1;
}

.fadein1{
	animation: fadein .5s .5s ease-in forwards;
}
.fadein{
	animation: fadein .5s ease-in forwards;
}
/*pop in css starts*/
.center_pop_bg {
    position: absolute;
    width: 37%;
    left: 29%;
    top: 22%;
    z-index: 98;
}
.center_pop_bg1 {
    position: absolute;
    width: 32%;
    left: 35%;
    top: 21%;
    z-index: 98;
}

.center_pop_bg2 {
    position: absolute;
    width: 46%;
    left: 34%;
    top: 23%;
    z-index: 98;
}

.curd {
    top: 27%;
    left: 37%;
}




.carb_pop,.vits_pop,.pro_pop,.fat_pop{
  opacity: 0;
}
.rice {
    top: 52%;
    left: 37%;
    width: 13% !important;
}


.imagecontainer * {
    width: 9%;
    position: absolute;
    z-index: 99;
}

.imagecontainer1 * {
    width: 6%;
    position: absolute;
    z-index: 99;
}
.imagecontainer2 * {
    width: 7%;
    position: absolute;
    z-index: 99;
}



.corn {
    top: 25%;
    left: 56%;
}
.oats {
    top: 45%;
    left: 39%;
}



.wheat {
    top: 26%;
    left: 47%;
}

.sweetpotato {
    left: 56%;
    top: 38%;
}


.barley {
    top: 53%;
    left: 53%;
}

.potato {
    top: 39%;
    left: 49%;
}

.hotchilly {
    top: 21%;
    left: 37%;
}

.onion {
    top: 23%;
    left: 42%;
}

.greensaag {
    top: 30%;
    left: 39%;
}

.mango {
    top: 30%;
    left: 46%;
}

.apple {
    top: 38%;
    left: 36%;
}

.watermelon {
    left: 51%;
    top: 35%;
}

.mushroom {
    top: 47%;
    left: 36%;
}
.brocauli {
    top: 57%;
    left: 35%;
}

.cauliflwoer {
    top: 36%;
    left: 42%;
    width: 8%;
}

.pomogranate {
    left: 53%;
    top: 46%;
}

.peach {
    top: 48%;
    left: 45%;
    width: 8%;
}
.strawberry {
    top: 59%;
    left: 44%;
    width: 8%;
}

.carrot {
    top: 65%;
    left: 51%;
    width: 10% !important;
}

.banana {
    top: 51%;
    width: 9% !important;
    left: 53%;
}

.peas {
    top: 25%;
    left: 34%;
}
.meat {
    top: 19%;
    left: 48%;
}

.chicken {
    top: 27%;
    left: 43%;
}

.egg {
    top: 29%;
    left: 52%;
}

.bean {
    top: 38%;
    left: 42%;
}

.fish {
    top: 45%;
    left: 52%;
}
.peanuts {
    top: 38%;
    left: 54%;
}

.curd {
    top: 28%;
    left: 38%;
}
.milk {
    top: 36%;
    left: 47%;
}

.butter {
    top: 46%;
    left: 47%;
}
.ghee {
    top: 45%;
    left: 57%;
}

.cheese {
    top: 58%;
    left: 49%;
}

.oil {
    top: 45%;
    left: 52%;
}
.carb_text,.vits_text,.fat_text,.pro_text {
    position: absolute;
    background: rgb(106,168,79);
    color: white;
    border-radius: .2em;
    width: 80%;
    padding: 1%;
    transform: translateX(-50%);
    left: 50%;
    top: 0%;
    font-size: 2vw;
    opacity: 0;
    /* pointer-events: none; */
}
.makingsure{
  position: absolute;
  background: rgb(106,168,79);
  color: white;
  border-radius: .2em;
  width: 80%;
  padding: 1%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 10%;
  font-size: 3.6vmin !important;
  opacity: 0;
  /* pointer-events: none; */
  z-index: 200;
}

/*.tooltip{
  background: green;
}*/

@keyframes fadein {
	to{
		opacity: 1;
	}
}

.sclOnHvr:hover{
    transform: scale(1.2,1.2);
}

@media (min-aspect-ratio: 4/3){
  .bottom_middle_text,.top_heading_text{
    font-size: 3.5vmin;
  }
	.description_text1,.description_text2{
		font-size: 3.4vmin;
	}
	.makingsure,.carbs,.vits,.fat,.pro,.carb_text,.vits_text,.fat_text,.pro_text{
		font-size: 3vmin;
	}
}


.bdtopic{
    position: absolute;
    width: 25%;
    height: 15%;
    border: 1px solid #6c853e;
    padding: 2%;
    font-size: 2vw;
    border-radius:14px;
    color: white;
    background-color: #6c853e;
}
.bdtopic:lang(np){
    font-size: 1.7vw;

}
.carbs_t{
    top: 35%;
    left: 4%;
}
.vits_t{
    left: 67%;
    top: 29%;
    padding: 1%;
}
.fat_t{
    top: 65%;
    width:18%;
    left: 80%;
}
.pro_t{
    top: 43%;
    left: 4%;
}