<script type="text/javascript">
    $cssLoader("css/slide1.css");
</script>

<div class="readingmap_page1">
    <div class="board">
    </div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script type="text/x-handlebars-template" id="slide1-template">
    <div class="slide1 coverBoardFull">
    	<div class="backgroundImagesContainer">
    		<img src="{{this.bgImgSrc}}" data-forwhichdialog="{{this.forwhichdialog}}">
    	</div>
    	<div class="talkHeads">
    		{{#each talkHeadImages}}
    			<img src="{{this.talkHeadImgSrc}}" data-whosehead="{{this.nameofwhosehead}}" data-highlight="{{this.highlightFlag}}">
    		{{/each}}
    	</div>
        <div class="dialogcontainer">
            <p>
                <img class="listenAgainButton disableListenAgain" src="{{speakerImgSrc}}" title="{{listenAgainText}}">
                {{#each lineCountDialog}}
                    <span>{{this}}</span>
                {{/each}}
            </p>
        </div>        
    </div>
    
</script>

<script src="js/buzz.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $jsLoader("js/slide3.js");
</script>