<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/gradient.css");
    $cssLoader("css/common.css");
    $cssLoader("css/page3.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock {{headerblockadditionalclass}}">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull {{coverboardadditionalclass}}">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#each imageblock}}
                {{> imagecontent}}
            {{/each}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
            </div>
            {{/if}}
			{{#each extratextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
			{{/each}}
			{{#each secblock}}
				<div class="secblock {{secblock}}">
					{{#if shapeclass}}
						<div class="shape {{shapeclass}}">
							{{#each div}}
								<div class="{{divclass}}">
									<p class="plabel {{labelclass}}">{{divdata}}</p>
								</div>
							{{/each}}
						</div>
					{{/if}}
					{{#each image}}
						<img class="{{imgclass}}" src="{{imgsrc}}">
					{{/each}}
					{{#each text}}
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
					{{/each}}
				</div>
			{{/each}}
            {{#each imagetextblock}}
                <div class="{{imagediv}}">
                	<img class="{{imgclass}}" src="{{imgsrc}}">
                	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
                </div>
            {{/each}}
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}} 
			{{#each optionblock}}
				<div class="optionblock {{optionblockclass}}">
					<div class='option {{optionclass}}'>
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
					</div>
					<img class="corrincor correct {{correctclass}}" src="images/correct.png">
					<img class="corrincor incorrect {{incorrectclass}}" src="images/wrong.png">
				</div>
			{{/each}}			
			{{#each circleblock}}
				<div class="circle {{circleclass}}">
					{{#if diameterclass}}
						<div class=" {{diameterclass}}"></div>
					{{/if}}
					{{#if dotclass}}
						<div class=" {{dotclass}}"></div>
					{{/if}}
					{{#if radiusclass}}
						<div class=" {{radiusclass}}"></div>
					{{/if}}
					{{#if containscanvaselement}} 
						<canvas id="circle-peel" width="50px" height="250px">
							Your browser does not support the HTML5 canvas tag.
						</canvas>	
					{{/if}}
				</div>
			{{/each}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions = "{{splitintofractionsflag}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">    
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page3.js");
</script>