lolo.exponential {

	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
	background:#fff;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	background: #ffffff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    padding: 3% 85px 10px;
    top: 0;
    width: 100%;
}

.wrapperIntro.firstPage .text0 ,
{
	font-size: 2.3em;
	margin-bottom:30px;
	/*border:solid 2px #538cdb;*/
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;

}

.wrapperIntro.firstPage{
	background:#d1d4f2;
}


.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/

	color: #996699 ;
}

.wrapperIntro.firstPage .ind2{

	color: #996699 ;
}


.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}

.wrapperIntro.firstPage .text2{
	font-size: 1.3em;
	display:none;
}

.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9,
.wrapperIntro.firstPage .text10,
.wrapperIntro.firstPage .text11,
.wrapperIntro.firstPage .text12 {
	font-size: 1em;
	display: none;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}


.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	/*padding: 2% 10% 10% 10%;*/
	/*padding: 10%;*/
}

/*
.wrapperIntro.second .text0 {
	position: absolute;
	top: 5%;
	right: 15%;
	width: 20%;
	border: 2px solid #1212FF;
	text-align: center;
}

.wrapperIntro.second .text0:after {
	position: absolute;
	width: 25%;
	height: 1px;
	content: "";
	top: 50%;
	right: 100%;
	background: #1212FF;
}

.wrapperIntro.second .text1 {
	position: absolute;
	top: 20%;
	left: 15%;
	width: 20%;
	border: 2px solid #007300;
	text-align: center;
}

.wrapperIntro.second .text1:after {
	position: absolute;
	width: 50%;
	height: 2px;
	content: "";
	top: 50%;
	left: 100%;
	background: #007300;
}
*/
.wrapperIntro.second .text2 {
	font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
	font-size: 1em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {

}

.wrapperIntro.baseAndIndices2 .text0 ,
.wrapperIntro.baseAndIndices2 .text1 {
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform : rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform : rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform : rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform : rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5{
	color:#538cdb;
}


/*added by manish*/

.wrapperIntro.second .text1
{
	display: none;
    font-size: 1.3em;
    left: 5%;
    padding: 4%;
    position: absolute;
    text-align: justify;
    top: 12%;
	color: #5c5c5c;


}



.wrapperIntro.second .text2,
.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12,
.wrapperIntro.second .text13,
.wrapperIntro.second .text14,
.wrapperIntro.second .text15,
.wrapperIntro.second .text16,
.wrapperIntro.second .text17,
.wrapperIntro.second .text18,
.wrapperIntro.second .text19
{

	text-align:left;
	display:none;
	color: #5c5c5c;

}

.wrapperIntro.second .text0 {
	 background-color: #cfebd0;
    border-bottom: 4px solid #def7df;
    color: #555555;
    font-size: 1.7em;
    height: 10.5%;
    left: 0;
    padding-top: 1.3%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}


.wrapperIntro.second .yellow {
    color: #F2C249;
}


.wrapperIntro.second .green {
    color: #00AAA0;
}

.wrapperIntro.second .imageholder01{
	display:none;
}

.wrapperIntro.second .imageholder02{
	display:none;
}

#fun_1 > img{
	width:54%;
}

#ball_1 {
    background: #F2C249;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%;/*24%;*/
	top: 0;
}


#ball_2 {
    background: #C25B56;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
}

#ball_3{
    background: #00AAA0;
    height: 20px;
    width: 20px;
	border-radius:50%;
	position:absolute;
	left:20%; /*24%;*/
	top: 0;
}

.img-des1 {
    display: inline-flex;
    width: 100%;
}

.imageholder01{
	width:40%;
}

.image1des {
    float: right;
    padding-top: 60px;
    width: 60%;
}



.img-des2 {
    display: inline-flex;
    width: 100%;
}

.imageholder02{
	width:40%;
}

.image2des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

/*first figure pachi ko styling*/

.des2 {
    margin-left: 151px;
}
.des3 {
    margin-left: 151px;
}

.des6 {
    margin-left: 151px;
}
.des7 {
    margin-left: 151px;
}
/********************third page****************/

.wrapperIntro.third .ind2{
	color: #996699 ;
}

.wrapperIntro.third .imageholder03{
	display:none;
}

#fullname{
	color:#cece00;
	position:absolute;
	top:0;
	left:14%; /*4%;*/
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname{
	color:#538cdb;
	position:absolute;
	left:13%;
}

.imageholder01{
	position:relative;
}


.wrapperIntro.third .text1{
	display:none;
}

.wrapperIntro.third .text2{
	display:none;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des3 {
    display: inline-flex;
    width: 100%;
}

.imageholder03{
	width:40%;
}

.image3des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.des10{
	margin-left:9.55%;
}

.des11{
	margin-left:9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/


.img-des4 {
    display: inline-flex;
    width: 100%;
}

.imageholder04{
	width:40%;
}

.image4des {
    float: right;
    padding-top: 60px;
    width: 60%;
}

.wrapperIntro.third .imageholder04{
	display:none;
}

#fullname01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:7%;/*13%; */
	transform:rotate(90deg) !important;
	font-weight:bold;
	font-size:11px;
}

#firstname01{
	color:#538cdb;
	position:absolute;
	left:13%;
}

/*page4*/

.wrapperIntro.fourth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fourth .imageholder05{
	display:none;
}

.wrapperIntro.fourth .imageholder06{
	display:none;
}

.wrapperIntro.fourth .text1{
	color: #5c5c5c;
    display: none;
    margin-left: 13%;
    margin-top: 1%;
    position: absolute;
}

.wrapperIntro.fourth .text2{
	display:none;
}



.img-des5 {
    display: inline-flex;
    width: 100%;
}

.imageholder05{
	width:40%;
}

.image5des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input01{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output01{
	color:#c25b56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 17%;
    padding: 10px;
    position: absolute;
    top: 61%;
}



.img-des6 {
    display: inline-flex;
    width: 100%;
}

.imageholder06{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input02{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output02{
	color:#c25b56;
	position:absolute;
	left:21%;
}
 /*******end of page 4*************/



 /****page5*************/



 .wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699 ;
}

.wrapperIntro.fifth .imageholder07{
	display:none;
}

.wrapperIntro.fifth .imageholder08{
	display:none;
}

.wrapperIntro.fifth .text1{
	display:none;
}

.wrapperIntro.fifth .text2{
	display:none;
}



.img-des7 {
    display: inline-flex;
    width: 100%;
}

.imageholder07{
	width:40%;
}

.image7des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input03{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output03{
	color:#C25B56;
	position:absolute;
	left:21%;
}


.main-fun {
    background: #a8a8fb none repeat scroll 0 0;
    border-radius: 5px;
    left: 14.5%;
    width: 15%;
    position: absolute;
    top: 57%;
	text-align:center;
	font-style:bold;
}



.img-des8 {
    display: inline-flex;
    width: 100%;
}

.imageholder08{
	width:40%;
}

.image6des {
    float: right;
    padding-top: 60px;
    width: 60%;
}


#input04{
	color:#00AAA0;
	position:absolute;
	top:0;
	left:21%; /*4%;*/
}

#output04{
	color:#C25B56;
	position:absolute;
	left:21%;
}


 /******end of page5********/

 /*added by manish*/





.wrapperIntro.second .des4{
	padding-top:10px;
}


.wrapperIntro.second .des8 {
    border: 2px solid #538cdb;
    font-size: 1.3em;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;

    width: 712px;
	display:none;
}

.p1_41 {
    border: 2px solid #538cdb;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 712px;
}

.p1_39 {
    margin-left: 19%;
}

.p1_40 {
    margin-left: 19%;
}


.image8des {
    margin-top: 100px;
}
 /*added by sangina*/



 .wrapperIntro.third .text3{
	display:none;
	 }
.wrapperIntro.third .ind5{
	color:#0CF;
}






/*added by manish*/

.f3_1,
.f3_2,
.f3_3,
.f3_4,
.f3_5
 {
    display: none;
    width: 100%;
}

.f3_6{
	display:none;
}

.img2 {
    width: 8%;
}

.img2 > img {
    width: 100%;
}


.img1 {
    width: 7%;
}

.img1 > img {
    width: 100%;
}



#p2_11 ,
#p2_12,
#p2_15,
#p2_16,
#p2_17
{
    margin:	auto;
    width: 79%;
	/*background: rgba(160, 181, 158, 0.2) none repeat scroll 0 0;*/
    border-radius: 10px;
    display: inline-block;
    font-size: 1em;
	width:80%;
	padding-bottom:8px;
	padding-top:8px;
	padding-left:20px;
	color:#224994;
	box-shadow:1px 2px 5px 0px rgba(0,0,0,0.75);



}


.highlight {


    margin-left: 10px;
    color:#996699;
	margin-right:10px;
}

.f3_6 {
    background: #eaeaea none repeat scroll 0 0;
	border:2px solid #000;
    margin: 2% auto 0;
    padding: 1%;
    text-align: center;
    width: 76%;
}



.main-bg .img-responsive{
	left: 19%;
    margin-top: 9%;
    position: absolute;
    width: 55%;
}

#p2_11,
#p2_15,
#p2_17{

	border:3px solid #2ec3ed;
}

#p2_12,
#p2_16{
	border:3px solid #B8D73D;
}


/*.wrapperIntro.fourth .text9{

    border: 2px solid #454545;
    color: #0068b3;
    padding: 1%;
	text-align:justify;
}*/


/*added for simple interest*/

.char-holder{
	width:100%;
	display:inline-flex;
}

.char-a{
	left: 10%;
    width: 32%;
}

.char-b{
	 left: 56%;
    width: 32%;
}


.slideRight {
    animation-duration: 0.5s !important;

}

.slideLeft {
    animation-duration: 0.5s !important;

}


.row.char-holder {
    position: absolute;
    top: 53%;
}

/*.bubble1{
	display:none;
	position:absolute;
	top:20%
}

.bubble2{
	display:none;
	position:absolute;
	top:20%
}*/


.wrapperIntro.firstPage .text1,
.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text5,
.wrapperIntro.firstPage .text7,
.wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text9
{

	display:none;
    color: #0068b3;
    font-size: 1.3em;
    padding: 4%;
	text-align:center;
	z-index:1000;
	width:94.5%;

}


.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text8
{

	display:none;
    color: #8fc557;
    font-size: 1.3em;
    padding: 4%;
	text-align:center;
	z-index:1000;
	width:94.5%;

}

.wrapperIntro.firstPage .text0
{
	 background-color: #ff595b;
    color: #ffffff !important;
    font-size: 1.7em;
    height: 11%;
    left: 1.5%;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 14px;
    position: absolute;
    text-align: center;
    top: 3%;
    width: 97%;
	z-index: 99;

}


.wrapperIntro.second .bubble3{
	display:none;
}


.char-align{

	position:relative !important;
	margin-left:55% !Important;
	width:22% !important;
	top:33% !important;

}



.wrapperIntro.firstPage .char-a .img-responsive {
    top: 2%;
    width: 55%;
}


.wrapperIntro.firstPage .char-b .img-responsive {

    top: 2%;
    width: 55%;
}




/*.bub1::before {
    border-color: #2ec3ed transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 21%;
    position: absolute;
    width: 0;
}



.bub1 {

	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #2ec3ed;
    border-radius: 10px;
    bottom: 31%;
    color: #333333;
    display: none;
    height: 46%;
    margin: 1em -4.4em 3em;
    padding: 1.5%;
    position: absolute;
    width: 95.5%;
	left: 8.5%;


}




.bub2::before {
    border-color: #b8d73d transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
}



.bub2 {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #b8d73d;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 46%;
    margin: 1em -4.7em 3em;
    padding: 1.5%;
    position: absolute;
    top: 13%;
    width: 96%;
	left: 8.7%;
}*/

.wrapperIntro.firstPage .squirrel-listening01
{
	background: #c3f3ff none repeat scroll 0 0;
    border: 3px solid #757574;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking01
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking01
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.firstPage .boy-listening01
{
	background: #d1d4f3 none repeat scroll 0 0;
    border: 3px solid #757574;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}






.wrapperIntro.firstPage .squirrel-listening02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking02
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking02
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;

}

.wrapperIntro.firstPage .boy-listening02
{
	 border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}





.wrapperIntro.firstPage .squirrel-listening03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking03
{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking03{
	border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



.wrapperIntro.firstPage .boy-talking03
{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}

.wrapperIntro.firstPage .boy-listening03{
	  border: 3px solid #0c6db3;
    border-radius: 50%;
    display: none;
    padding: 0;
    width: 56%;
}



/*.char-b {
	margin-left: 2%;
    width: 32%;
}*/

.wrapperIntro.firstPage .char-b {
    position: absolute;
}

.wrapperIntro.firstPage .text1{
	 color: #919191;
    display: none;
    font-size: 1.4em;
    left: -3%;
    text-align: justify;
    top: 20%;
    width: 54%;
}


.wrapperIntro.firstPage .text2{

	color: #919191;
    display: none;
    font-size: 1.4em;
    left: 44%;
    text-align: justify;
    top: 25%;
    width: 58%;
}


.wrapperIntro.firstPage .text3 {
   color: #919191;
    display: none;
    font-size: 1.4em;
    left: -4%;
    line-height: 1.5em;
    text-align: justify;
    top: 19.5%;
    width: 55%;
}

.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text5{

	color: #218ee1;
    display: none;
    font-size: 1.6em;
    left: 19%;
    position: absolute;
    text-align: justify;
    top: 36%;
    width: 37%;
}

.wrapperIntro.second .animation_images{
	display: none;
	left: 17%;
	position: absolute;
	top: 35%;
	width: 43%;
}

.wrapperIntro.second .secondimage {
    display: none;
    left: 16%;
    position: absolute;
    top: 28%;
    width: 57%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.wrapperIntro.second .text2{
	  display: none;
    font-size: 1.3em;
    left: 9%;
    position: absolute;
    text-align: justify;
    top: 74%;
    width: 86%;
}
.firstimage{
	display:none;
}
/*third page added by Sangina*/
.lokhorke_in_slides {
    left: 17%;
    margin-top: 17%;
    position: absolute;
    width: 35%;
}

.wrapperIntro.third .bubble1 {
    background: #ffffff none repeat scroll 0 0;
    border: 5px solid #2ec3ed;
    border-radius: 10px;
    bottom: 31%;
    color: #333333;
    display: none;
    height: 46%;
    margin: 1em 0 3em;
    padding: 1.5%;
    position: absolute;
    width: 95.5%;
	left: 2.3%;

}
 .wrapperIntro.third .bubble1::before {
   border-color: #1CBAED transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
    top: 100%;
}

.wrapperIntro.third .text0 {
    background-color: #ff595b;
    color: #ffffff !important;
    font-size: 1.7em;
    height: 13%;
    left: 1.5%;
    margin-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 21px;
    position: absolute;
    text-align: center;
    top: 3%;
    width: 97%;
}

.wrapperIntro.third .text1,
.wrapperIntro.third .text2,
.wrapperIntro.third .text3,
.wrapperIntro.third .text4,
.wrapperIntro.third .text5,
.wrapperIntro.third .text6,
.wrapperIntro.third .text7,
.wrapperIntro.third .text8,
.wrapperIntro.third .text9,
.wrapperIntro.third .text10
{
	display:none;
}

.wrapperIntro.third .text1{
	color: #218ee1;
    display: none;
    font-size: 1.6em;
    left: 22.5%;
    position: absolute;
    text-align: justify;
    top: 42%;
    width: 30%;
    z-index: 1000;
}

.wrapperIntro.third .text2,
.wrapperIntro.third .text3,
.wrapperIntro.third .text4,
.wrapperIntro.third .text5 {
   color: #ffffff;
    font-size: 1.5em;
    left: -0.5%;
    line-height: 2em;
    top: 28%;
    z-index: 1000;

}

.wrapperIntro.third .text3,
.wrapperIntro.third .text4,
.wrapperIntro.third .text5{
	left: 36.4%;
}

.wrapperIntro.third .text6{
	color: #919191;
    font-size: 1.5em;
    left: 20.5%;
    text-align: justify;
    top: 32%;
    width: 49%;
    z-index: 1000;
}

.wrapperIntro.third .text7{
	color: #218ee1;
    font-size: 1.6em;
    left: 18%;
    top: 43%;
    z-index: 1000;
}


/*fourth page added by Sangina*/
.wrapperIntro.fourth .text0 {
    position: absolute;
    top: 18%;
    left: 16%;
}
.wrapperIntro.fourth .text0 {
     background-color: #cfebd0;
    border-bottom: 4px solid #def7df;
    color: #555555;
    font-size: 1.7em;
    height: 10.5%;
    left: 0;
    padding-top: 1.3%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.fourth .text2{
	background-color: #1cbaed;
    border-radius: 2%;
    color: #ffffff;
    left: 22% !important;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    text-align: justify;
    top: 27% !important;
    width: 36%;
    z-index: 99;
}
  .wrapperIntro.fourth .text3{
    position: absolute;
    top: 27.3% !important;
    left: 57% !important;
    width: 39%;
    text-align: justify;
    background-color: #1CBAED;
    margin-left: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 0;
    color: #ffffff;
    border-radius: 2%;
    z-index: 99;
}

.wrapperIntro.fourth .text4{
    background-color: #f5c32b;
    border-radius: 2%;
    color: #5c5c5c;
    height: 39%;
    left: 29% !important;
    padding-left: 2.8%;
    position: absolute;
    top: 52% !important;
    width: 51%;
}

.wrapperIntro.fourth .text5{
       position: absolute;
    top: 55% !important;
    left: 40% !important;
    color: #71519C;
}

.wrapperIntro.fourth .text6{
    color: #71519c;
    left: 40% !important;
    position: absolute;
    top: 59% !important;
    }

.wrapperIntro.fourth .text7{
	color: #71519C;
    position: absolute;
    top: 63% !important;
    left: 40% !important;
}
.wrapperIntro.fourth .text8{
	    position: absolute;
    top: 67% !important;
   left: 40% !important;
}
.wrapperIntro.fourth .text9{
	       color: #71519C;
    position: absolute;
    top: 71% !important;
       left: 34.2% !important;
}
.wrapperIntro.fourth .text10{
	position: absolute;
	top: 75% !important;
    left: 34.2% !important;
	color: #71519C;

}

.wrapperIntro.fourth .text11{
	position: absolute;
    top: 80% !important;
    left: 32% !important;
}

.wrapperIntro.fourth .text12{
	 position: absolute;
    top: 84% !important;
    left: 44% !important;
}



.wrapperIntro.fourth .text1,
.wrapperIntro.fourth .text2,
.wrapperIntro.fourth .text3,
.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text5,
.wrapperIntro.fourth .text6,
.wrapperIntro.fourth .text7,
.wrapperIntro.fourth .text8,
.wrapperIntro.fourth .text9,
.wrapperIntro.fourth .text10,
.wrapperIntro.fourth .text11,
.wrapperIntro.fourth .text12

{

	font-size: 1.3em;
    left: 10%;
    line-height: 1.5em;
	display: none;
	top: 17%;


}

.wrapperIntro.fourth .firstimage {
    left: 5%;
    position: absolute;
    top: 18%;
    width: 9%;
}

.wrapperIntro.fourth .text9,
.wrapperIntro.fourth .text10{
	margin-left: 27.5%;
}

.wrapperIntro.fifth .text0
{
	background-color: #cfebd0;
    border-bottom: 4px solid #def7df;
    color: #555555;
    font-size: 1.7em;
    height: 10.5%;
    left: 0;
    padding-top: 1.3%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.fifth .text1,
.wrapperIntro.fifth .text2,
.wrapperIntro.fifth .text3

{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    line-height: 1.75em;
	top: 14%;
}

.wrapperIntro.fifth .solution00,
.wrapperIntro.fifth .solution01,
.wrapperIntro.fifth .solution02,
.wrapperIntro.fifth .solution03,
.wrapperIntro.fifth .solution04,
.wrapperIntro.fifth .solution05,
.wrapperIntro.fifth .solution06,
.wrapperIntro.fifth .solution07,
.wrapperIntro.fifth .solution08,
.wrapperIntro.fifth .solution09,
.wrapperIntro.fifth .solution10
{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    line-height: 1.75em;
}

.wrapperIntro.fifth .text1 {
    clear: both;
    margin-left: 4%;
	color:#5c5c5c;
	display: none;
	font-size:1.3em;
}

.wrapperIntro.fifth .text2 {
    color: #5c5c5c;
    margin-bottom: 1%;
    margin-left: 4%;
	display:none;
	font-size:1.3em;
}

.wrapperIntro.fifth .text3 {
    /* height: 70%; */
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 2.5%;
    width: 77%;
	top: 9%;
	left:-6%;

}

.wrapperIntro.fifth .text4{
	height: 64%;
    left: 16%;
    line-height: 1.75em;
    margin: 0 auto;
    padding: 1.5% 2.5%;
    top: -53%;
    width: 58%;
    display: inline-block;
}

.wrapperIntro.fifth .solution10{
    display: none;
    font-size: 1.3em;
    left: 28.9%;
    padding: 1%;
    text-align: center;
    top: 5%;

	}


.wrapperIntro.fifth .solution07{
	color: #8827d6;
	top: 6%;
}

.wrapperIntro.fifth .solution05
{
	left: 37.2%;
    top: 8%;
}

.wrapperIntro.fifth .solution08,
.wrapperIntro.fifth .solution09{
	left: 13.9%;
    top: 6%;
}

.wrapperIntro.fifth .solution01{
	left: -30%;
    top: 8%;
}

.wrapperIntro.fifth .solution02{
	top: 8%;
}

.wrapperIntro.fifth .solution03{
	top: 8%;
	color: #8827d6;
}

.wrapperIntro.fifth .solution04{
	left: 16.2%;
    top: 8%;
}

.wrapperIntro.fifth .solution06{
	 top: 7%;
}

sub {

	bottom: 0.35em!important;
    font-size: 0.85em !important;
    left: 0.25em !important;

}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

.wrapperIntro.third .row.char-holder {
     left: 35%;
    position: absolute;
    top: 60%;
    width: 18%;
}

.wrapperIntro.third .char-a{
	left: -11%;
    margin-top: 9%;
    position: absolute;
    width: 92%;
	display: none;
}

.wrapperIntro.second .area {
    color: #37a2ea;
    font-weight: bold;
}

.wrapperIntro.fourth .area {
    color: #37a2ea;
    font-weight: bold;
}

.wrapperIntro.fourth .secondimage {
      display: none;
    left: 5%;
    position: absolute;
    top: 47%;
    width: 9%;
}

.wrapperIntro.fourth .thirdimage {
     display: none;
    left: 3%;
    position: absolute;
    top: 70%;
    width: 15%;
}

input[type="range"] {
     display: none;
    left: 36%;
    position: absolute;
    top: 67%;
    width: 10%;
}




/*new*/

.bub1::before {
    border-color: #3CD563 transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
	z-index:9;
}

.bub1 {

	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #3CD563;
    border-radius: 10px;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    top: 21%;
    width: 48%;
	left: 5%;
	-webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow:-1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow:-1px 1px 5px 0px rgba(0,0,0,0.75),inset -1px 1px 5px 0px rgba(0,0,0,0.75);
	z-index:9;
}




.bub2::before {
    border-color: #FEA92A transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 69%;
    position: absolute;
    width: 0;
	z-index:9;

}

.bub2 {
   background: #ffffff none repeat scroll 0 0;
    border: 5px solid #fea92a;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    right: 7%;
    top: 23%;
    width: 48%;
	z-index:9;
}

.bg_page4{
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display: none;
}

.letslook {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	display: none;
}

.black {
    left: 20%;
    position: absolute;
    top: 21%;
	display: none;
}

.black3 {
    display: none;
    height: 84%;
    left: 1%;
    position: absolute;
    top: 3%;
    width: 99%;
}

.wrapperIntro.third .bub1::before {
    border-color: #3CD563 transparent;
    border-style: solid;
    border-width: 30px 30px 0;
    bottom: -35px;
    content: "";
    display: block;
    left: 27%;
    position: absolute;
    width: 0;
	z-index:9;
}

.wrapperIntro.third .bub1 {

	background: #ffffff none repeat scroll 0 0;
    border: 5px solid #3cd563;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75), -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
    color: #333333;
    display: none;
    height: 26%;
    left: 22%;
    margin: 1em 0 3em;
    padding: 15px;
    position: absolute;
    top: 27%;
    width: 48%;
    z-index: 9;
}

.loku {
    display: none;
    left: 18%;
    position: absolute;
    top: 63%;
    width: 22%;
    z-index: 999;
}

.image-holder {
	position: relative;
	display: inline-block;
	height: 44%;
	width: 10%;
	float: right;
	bottom: 57%;
	right: 13%;
}

.image-holder img {
	height: 100%;
	position: absolute;
}
@media (min-aspect-ratio: 4/3) {

	.wrapperIntro.fourth .text1,
	.wrapperIntro.fourth .text2,
	.wrapperIntro.fourth .text3,
	.wrapperIntro.fourth .text4,
	.wrapperIntro.fourth .text5,
	.wrapperIntro.fourth .text6,
	.wrapperIntro.fourth .text7,
	.wrapperIntro.fourth .text8,
	.wrapperIntro.fourth .text9,
	.wrapperIntro.fourth .text10,
	.wrapperIntro.fourth .text11,
	.wrapperIntro.fourth .text12,
	.wrapperIntro.fifth .text0,
	.wrapperIntro.fifth .text1,
	.wrapperIntro.fifth .text2,
	.wrapperIntro.fifth .text3,
	.wrapperIntro.fifth .solution00,
	.wrapperIntro.fifth .solution01,
	.wrapperIntro.fifth .solution02,
	.wrapperIntro.fifth .solution03,
	.wrapperIntro.fifth .solution04,
	.wrapperIntro.fifth .solution05,
	.wrapperIntro.fifth .solution06,
	.wrapperIntro.fifth .solution07,
	.wrapperIntro.fifth .solution08,
	.wrapperIntro.fifth .solution09,
	.wrapperIntro.fifth .solution10{
		font-size: 2.8vh;
	}
}
@media(max-aspect-ratio: 4/3){

	.wrapperIntro.fourth .text1,
	.wrapperIntro.fourth .text2,
	.wrapperIntro.fourth .text3,
	.wrapperIntro.fourth .text4,
	.wrapperIntro.fourth .text5,
	.wrapperIntro.fourth .text6,
	.wrapperIntro.fourth .text7,
	.wrapperIntro.fourth .text8,
	.wrapperIntro.fourth .text9,
	.wrapperIntro.fourth .text10,
	.wrapperIntro.fourth .text11,
	.wrapperIntro.fourth .text12,
	.wrapperIntro.fifth .text0,
	.wrapperIntro.fifth .text1,
	.wrapperIntro.fifth .text2,
	.wrapperIntro.fifth .text3,
	.wrapperIntro.fifth .solution00,
	.wrapperIntro.fifth .solution01,
	.wrapperIntro.fifth .solution02,
	.wrapperIntro.fifth .solution03,
	.wrapperIntro.fifth .solution04,
	.wrapperIntro.fifth .solution05,
	.wrapperIntro.fifth .solution06,
	.wrapperIntro.fifth .solution07,
	.wrapperIntro.fifth .solution08,
	.wrapperIntro.fifth .solution09,
	.wrapperIntro.fifth .solution10{
		font-size: 1.9vw;
	}
}
