@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}
@font-face {
    font-family: sniglet;
    src: url("../../../../../../fonts/sniglet.ttf");
}

.comparison_of_numbers {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.comparison_of_numbers, .comparison_of_numbers * {
	position: relative;
	margin: 0;
	padding: 0;
}

.comparison_of_numbers .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.comparison_of_numbers .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	font-family: sniglet;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */


@font-face {
	font-family: 'Laila'; /*a name to be used later*/
	src: src: url('../../../../../fonts/laila/laila-regular.ttf');; /*URL to font*/
	Laila-Semibold
}
@font-face {
	font-family: 'Laila-Bold'; /*a name to be used later*/
	src: src: url('../../../../../fonts/laila/laila-semibold.ttf') /*URL to font*/
}
/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 0%;
	top: 0%;
	/*border   : 1px solid green; */
}

/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 2s;
	-webkit-animation: appear 2s;
}
@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */

/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.main_bg{
	background-color: #E5F7E6;
}
.its_hidden{
	display: none!important;
}
.lesson-title {
	position: absolute;
	color: #FF6A65;
	font-size: 5em;
}

.introduction {
	line-height: 7vmin;
	position: absolute;
	left: 5%!important;
	top: 10%!important;
	width: 50%!important;
	text-align: left;
}
.introduction_1 {
	line-height: 7vmin;
	position: absolute;
	left: 5% !important;
	top: 40% !important;
	width: 50% !important;
	text-align: left;
}
.bottom_question {
	line-height: 7vmin;
	position: absolute;
	left: 5% !important;
	top: 80% !important;
	width: 50% !important;
	text-align: left;
}
.introduction_question {
	line-height: 7vmin;
	position: absolute;
	left: 5%!important;
	top: 45%!important;
	width: 50%!important;
	text-align: left;
}
.introduction_question_1 {
	line-height: 7vmin;
	position: absolute;
	left: 5%!important;
	top: 25%!important;
	width: 50%!important;
	text-align: left;
}
.feedback{
	position: absolute;
	left: 15%!important;
	top: 80%!important;
	width: 45%!important;
	height: 20%;
	text-align: center;
}
.feedback_1 {
	position: absolute;
	left: 15% !important;
	top: 84% !important;
	width: 50% !important;
	font-size: 3vmin;
	font-weight: normal;
	text-align: center;
}
.intro_text {
	position: relative;
	font-size: 3.3vmin;
	line-height: 1.5em;
}
.correct{
	background-color: #FFE599;
	padding: 1%!important;
	font-size: 3.3vmin;
}
.incorrect{
	background-color: #FFE599;
	padding: 1%!important;
	font-size: 3.3vmin;
}
.highlight_green{
	color: #93C47D;
}
.highlight_blue{
	color: #6D9EED;
}
.highlight_red{
	color: #DD7E6B;
}
.highlight_red_dark{
	color: #8E3030;
}


/*-----------number lines-----------------*/
.numberline{
	position: absolute;
	padding: 2%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;
	align-content: space-around;
}

.line_element{
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	max-height: 10%;
}

.line_element>p{
	order: 1;
	margin-left: 15%;
	width: 30%;
	text-align: center;
	font-size: 4vmin;
}

.stick_image{
	width: 70%;
	order: 3;
}

.ones_line{
	order: 9;
	height: 80%;
	width: 15%;
	right: 15%;
	top: 10%;
}


.num_9{
	color: #E87A1B;
}
.num_8{
	color: #F9A21D;
}
.num_7{
	color: #8483E1;
}
.num_6{
	color: #C36B9D;
}
.num_5{
	color: #E71861;
}
.num_4{
	color: #DE9D56;
}
.num_3{
	color: #955FCF;
}
.num_2{
	color: #EB4E1D;
}
.num_1{
	color: #038F4D;
}
.num_0{
	color: #22A6E0;
}
.num_gray{
	order: 2!important;
	color: #C2C2C2;
}
.number_highlight {
    background-color: #d7fdfe;
    border: 2px solid #71a9dc;
    border-radius: 1.5vmin;
    cursor: pointer;
    padding: 2% !important;
}
.number_highlight:hover{
	border: 2px solid #8E7CC3;
}
.correct_border{
	padding: 2%!important;
	background-color: #FFE599;
	border-radius: 1.5vmin;
	border: 2px solid #93C47D;
}
.incorrect_border{
	padding: 2%!important;
	background-color: #FFE599;
	border-radius: 1.5vmin;
	border: 2px solid #EBA0A0;
}

.tens_box{
	position: absolute;
	width: 11%;
	height: 8%;
	right: 23%;
	bottom: 87.5%;
	text-align: left;
	background-image: url("../images/tens_box.png");
	background-size: 100% 100%;
	padding: 0.5% 1%;
	color: white;
}
.ones_box{
	position: absolute;
	width: 11%;
	height: 8%;
	right: 9.2%;
	bottom: 87.5%;
	color: white;
	text-align: right;
	padding: 0.5% 1%;
	background-image: url("../images/ones_box.png");
	background-size: 100% 100%;
}


.optionbox{
	position: absolute;
	padding: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.optioncontainer{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	height: 100%;
	width: 25%;
	align-content: flex-start;
	align-items: flex-start;
}
.optioncontainer>p{
	font-size: 4vmin;
	text-align: center;
}
.wrong {
	display: none;
	width: 25%;
	order: 2;
	left: 7%;
}
.right {
	display: none;
	width: 25%;
	order: 2;
	left: 7%;
}

.optiondiv {
	position: absolute;
	bottom: 21%;
	left: 21%;
	height: 15%;
	width: 45%;
}
.optiondiv_1 {
	position: absolute;
	top: 24%;
	left: 3%;
	height: 15%;
	width: 45%;
}
.option_1{
	order: 1;
}
.option_2{
	order: 2;
}
.option_3{
	order: 3;
}
.option_4{
	order: 4;
}

.option_highlight {
    background-color: #d7fdfe;
    border: 2px solid #26bdee;
    border-radius: 1.5vmin;
    color: #444;
    cursor: pointer;
    padding: 0.5% 2%;
}
.option_highlight:hover{
	padding: 2%!important;
	background-color: #FFE38F;
	border-radius: 1.5vmin;
	border: 2px solid #26bdee;
}
.correct_option{
	padding: 2%!important;
	color: black!important;
	background-color: #B6D7A8;
	border-radius: 1.5vmin;
	border: 2px solid #007F46;
}
.incorrect_option{
	padding: 2%!important;
	color: black!important;
	background-color: #EA9999;
	border-radius: 1.5vmin;
	border: 2px solid #7F0000;
}
@media screen and (min-aspect-ratio: 4/3) {
    /*vh*/
    .feedback,.feedback_1 {
		font-size: 3.0vh;
    }
		.optioncontainer > p{
				font-size: 5vh;
		}
}
@media screen and (max-aspect-ratio: 4/3) {
    /*vh*/
    .feedback,.feedback_1, .optioncontainer > p{
		font-size: 2.25vw;
    }
}


/*=====  End of Custom Style  ======*/
