<script type="text/javascript">
	$cssLoader("playtime/css/playtime_common.css");
	$cssLoader("playtime/css/ex1.css");
</script>


<div class="activity_container">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
				<div class="exerciseblock">
					{{#each exerciseblock}}
						<p class="instruction">{{{instructiondata}}}</p>
						<p class="footer">{{{footerdata}}}</p>
						<p class="question"><span id="ques-no"></span>{{{questiondata}}}</p>
						{{#each option}}
							<div class="main-container {{mc_class}}">
								<img class="correct-icon" src="">
								<img class="incorrect-icon" src="">
								<div class="option-container {{option_class}}">
									<p class='option-label {{option_label_class}}'>{{optiondata}}</p>
								</div>
							</div>
						{{/each}}
						<img class="center-image" src="">
					{{/each}}
				</div>
			</div>
		</div>
	</script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("playtime/js/exercise.js");
</script>
