@font-face {
    font-family: Andika-Regular;
    src: url("../../../../../fonts/Andika-Regular.ttf");
}
.bg{
	background-color:#94CEDC;
}
.box1{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.txt1{
	position: relative;
	top: 50%;
	font-size: 1.7vw;
	transform:translateY(-50%);
	font-family:Andika-Regular;
}
.squirrel{
	position: absolute;
	top: 54%;
	left: 26%;
	width: 29%;
}
.squirrel2{
	position: absolute;
	top: -3%;
	left: 8%;
	width: 29%;
}
.sp-1{
	position: absolute;
	top: 29%;
	left: 22%;
	width: 41%;
	height: 34%;
	padding: 1% 1% 7% 2%;
}
.sp-2{
	position: absolute;
	top: 23%;
	left: 24%;
	width: 40%;
	height: 40%;
	padding: 1% 1% 8% 1%;
}
.sp-side{
	position: absolute;
	top: 3%;
	left: 29%;
	width: 65%;
	height: 35%;
	padding: 1% 1% 2% 7%;
}
.sp-3{
	position: absolute;
	top: 7%;
	left: 10%;
	width: 70%;
	height: 60%;
	padding: 1% 1% 10% 1%;
}
.toptxt{
	position:absolute;
	left:5%;
	top:5%;
	width:80%;
	color:#CC0000;
	font-size:2vw;
	font-family:sniglet;	
}
.text{
	position: absolute;
	width: 30%;
	font-size: 1.8vw;
	color: #fff;
	background-color: #8E7CC3;
	padding: 3% 1% 3% 1%;
	border-top-left-radius: 3em;
	border-bottom-right-radius: 3em;
	height:50%;
	font-family:Andika-Regular;
}
.fst2{	
	left: 3%;
	top: 39%;
}
.sec2{	
	left: 36%;
	top: 39%;
}
.thrd2{	
	left: 69%;
	top: 39%;
}
.fst{	
	left: 3%;
	top: 22%;
}
.sec{	
	left: 36%;
	top: 22%;
}
.thrd{	
	left: 69%;
	top: 22%;
}
@media (min-aspect-ratio:4/3){
	 .toptxt,{
		font-size: 2vw;
	}
	.txt1,
	{		
		font-size: 1.7vw;
	}
	.txt1-s3{
			
		font-size: 1.5vw;
	}
	 .text{
	 	font-size: 1.8vw;
	 }
	 
}