@font-face {
    font-family: ChelseaMarket-Regular;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}
@font-face {
    font-family: ComicSansMSRegular;
    src: url("../../../../../fonts/ComicSansMSRegular.ttf");
}
@font-face {
    font-family: Andika-Regular;
    src: url("../../../../../fonts/Andika-Regular.ttf");
}
.thebg1{
background-color:#CFE2F3;
}
.bg1{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
}
.bgclr{
	background-color:#CFE2F3;
}
.qnword1{
	color:#874CE7;
	font-weight:bold;
}
.uptxt{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	font-family: sniglet;
	font-size: 2vw;
	padding: 2% 1% 0% 3%;
	text-align: left;
	background-color: #579C94;
	color:#fff;
	font-family:Andika-Regular;
}
.question{
	position: relative;
	top:0%;
	left: 10%;
	width: 100%;
	font-family: sniglet;
	font-size: 2vw;
	text-align: left;
}
.hintcls{
	position: absolute;
	left: 23%;
	width: 100%;
	height: 20%;
	top: 97%;
}
.hint{
	position: relative;
	top:0%;
	left:0%;
	width: 100%;
	font-family: sniglet;
	font-size: 2vw;
	text-align: left;
}
.qn1{
	top:13%;
}
.qn2{
	top:43%;
}
.qn3{
	top:73%;
}
.clktxt{
	position:absolute;
	top:25%;
	left:30%;
	color:#A61C00;
	font-size:2vw;
	font-family:sniglet;
}
.optionsdiv {
	display: flex;
	position: absolute;
	top: 3%;
	width: 73%;
	left: 0%;
	text-align: center;
	height: 100%;
}    
.optionscontainer {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: flex-start;
	justify-content: space-between;
	height: 50%;
	top: 52%;
	left: 10%;
}
.optionscontainer p {
	position: relative;
	display: flex;
	padding: 3.5%;
	left: 10%;
	top: -6%;
	margin: 1%;
	width: 80%;
	font-size: 2vw;
	color: #ffffff;
	background-color:#1155CC;
	border: 4px solid #1155CC;
	border-radius: 6px;
	font-family: Andika-Regular;
}

.imagestartpos {   
	position: absolute; 
	width: 18%;
	top: 20%;
	left: 129%;
	margin-left: -38%;
	display: none;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #F9CB9C;
    border:4px solid #E69138;
}
.exerciseblock{
	position:absolute;
	top:15%;
	left:0%;
	width:100%;
	height:90%;
	}
.block1{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 30%;
}
.block2{
	position:absolute;
	top:30%;
	width:100%;
	height: 30%;	
}
.s2{
	position: absolute;
	top: 41%;
	width: 100%;
	height: 30%;	
}
.block3{
	position:absolute;
	top:60%;
	width:100%;	
	height: 30%;
}
.qnclass{
	position: absolute;
	left: 0%;
	width: 100%;
	height: 51%;
	top: -2%;
}
.midtxt{
	position:absolute;
	top:30%;
	left:10%;
	width:90%;
	font-size:2vw;
	font-family: sniglet;
	text-align:left;
}
@media (min-aspect-ratio:4/3){
	.uptxt, .clktxt,.optionsdiv, .midtxt{
		font-size: 2vw;
	}
	 .crwr{
	 	font-size:1.8vw;
	 }
}
