<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/commonpage/lessontemplate.css");
    $cssLoader("../../../../css/commonpage/dialougebox.css");
    $cssLoader("css/common.css");
    $cssLoader("css/page2.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	    or only has content --}}
	{{#if hasheaderblock}}
	        <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	    {{else}}
	        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

	{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
			{{#each headerblock}}
				{{> textcontent}}
			{{/each}}
			</div>
		{{/if}}
	{{! header block end--}}
	{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
			{{#if uppertextblock}}
			<div class="textblock {{uppertextblockadditionalclass}}">
				{{#each uppertextblock}}
					{{> textcontent}}
				{{/each}}
			</div>
			{{/if}}
			{{#if imageblock}}
			{{#each imageblock}}
				{{> imagecontent}}
			{{/each}}
			{{/if}}
			{{#if imagetemplate}}
				<div class="ole_temp_imagecontainer {{imagetemplateadditionalclass}}">
					{{#each imagetemplate}}
						<div class="imageparent {{imageparentadditionalclass}}">
							<img class="{{imgclass}}" src="{{imgsrc}}" />
							<p class ="imgtext {{textclass}}" data-highlight="{{datahighlightflag}}"
								data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						</div>
					{{/each}}
				</div>
			{{/if}}
			<!-- for summary -->
			{{#if summaryblock}}
				<div class="summarycontainer {{summaryblockadditionalclass}}">
					{{#each summaryblock}}
						<div class="summaryparent {{summaryparentadditionalclass}}">
							<p class ="summarytext {{textclass}}" data-highlight="{{datahighlightflag}}"
								data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							{{#if imgsrc}}
								<img src="{{imgsrc}}" />
							{{/if}}
						</div>
					{{/each}}
				</div>
			{{/if}}
			{{#if definitionblock}}
				<div class="definitionblock {{definitionblockadditionalclass}}">
					{{#each definitionblock}}
						{{> definitioncontent}}
					{{/each}}
				</div>
			{{/if}}
			{{#if lowertextblock}}
			<div class="textblock {{lowertextblockadditionalclass}}">
			        {{#each lowertextblock}}
			            {{> textcontent}}
			        {{/each}}
			</div>
			{{/if}}
			{{#each clockblock}}
				<div class="clockblock {{clockblockclass}}">
					<img class="clockbody {{clockbodyclass}}" src="{{clockbodysrc}}" />
					{{#if clocktextsrc}}
						<img class="clocktext {{clocktextclass}}" src="{{clocktextsrc}}" />
					{{/if}}
					<div class="hr-hand {{hrclass}}"></div>
					<div class="min-hand {{minclass}}"></div>
					<div class="center-dot {{dotclass}}"></div>
					{{#if hascorrect}}
						<img class="correct-icon" src="images/correct.png" />
						<img class="incorrect-icon" src="images/wrong.png" />
					{{/if}}
					{{#if hashl}}
						<div class="hl-num-class {{hlclass}}"></div>
					{{/if}}
					{{#if pastimgsrc}}
						<img class="pastimg {{pastimgclass}}" src="{{pastimgsrc}}" />
					{{/if}}
					{{#if haspasttext}}
						<p class="past-0 {{past0class}}">{{{past0}}}</p>
						<p class="past-30 {{past30class}}">{{{past30}}}</p>

						<p class="past-5 {{past5class}}">{{{past5}}}</p>
						<p class="past-10 {{past10class}}">{{{past10}}}</p>
						<p class="past-15 {{past15class}}">{{{past15}}}</p>
						<p class="past-20 {{past20class}}">{{{past20}}}</p>
						<p class="past-25 {{past25class}}">{{{past25}}}</p>
					{{/if}}
				</div>
			{{/each}}

			{{#each extratextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
			{{/each}}

      {{#each optionsblock}}
        <div class='optioncontainer {{optionclass}}'>
          {{#each option}}
            <div class="optionclass {{option_aditional_class}}">
              <p class="opn_txt {{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
              <img class="cirincor correct-icon" src="images/correct.png">
              <img class="cirincor incorrect-icon" src="images/wrong.png">
            </div>
          {{/each}}
        </div>
      {{/each}}
      
		</div>
		</div>
	{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2a.js");
</script>
