@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.dg-1 {
    right: 10%;
    top: 18%;
}
.dg-1::after{
	content: ''!important;
}

.lesson_body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.lesson_body, .lesson_body * {
	position: relative;
	margin: 0;
	padding: 0;
}

.lesson_body .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.lesson_body .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */


@font-face {
	font-family: 'Laila'; /*a name to be used later*/
	src: src: url('../../../../../fonts/laila/laila-regular.ttf');; /*URL to font*/
	Laila-Semibold
}
@font-face {
	font-family: 'Laila-Bold'; /*a name to be used later*/
	src: src: url('../../../../../fonts/laila/laila-semibold.ttf') /*URL to font*/
}
/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
}

/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 2s;
	-webkit-animation: appear 2s;
}
@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */

/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.its_hidden{
	display: none;
}
.block_cover{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}
.lesson-title {
	position: absolute;
	color: #FF6A65;
	font-size: 5em;
}
.main_bg{
	background-image: url('../images/bg.jpg');
	background-size: 100% 100%;
}
.go_shop_bg{
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-image: url('../images/go_shop.png');
	background-size: 100% 100%;
}

.main-bg{
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-image: url('../images/mall_1.png');
	background-size: 100% 100%;
}

/*---------------------
 --------texts---------
 ----------------------*/

.lets_go_shopping{
	position: absolute;
	top: 5%;
	color: #FF6A65;
	right: 10%;
}
.highlight_bill{
	color: #A64D79;
}
.instruction{
	position: absolute;
	top: 8%;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.user_info{
	position: absolute;
	top: 10%;
	width: 50%;
	left: 50%;
	font-weight: bold;
	transform: translateX(-50%);
}
.user_input{
	display: none;
	position: absolute;
	z-index: 30;
	top: 5%;
	width: 35%;
	left: 50%;
	height: 25%;
	padding: 2%;
	background-color: #FFF2CC;
	border-radius: 3vmin;
	transform: translateX(-50%);
}
.user_input>*{
	position: relative;
}
.take_bill{
	display: none;
}
.take_bill_div{
	position: absolute;
	bottom: 85%;
	padding: 2%;
	border-radius: 3vmin;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFF2CC;
}

/*---------- for images --------------*/
.image_center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*--------------bills --------------*/
.bill_center{
	width: 40%;
	height: 80%;
	bottom: 1%;
	left: 30%;
}

.slide_from_top{
	animation: slide_from_top 2s ease-in;
	-webkit-animation: slide_from_top 2s ease-in;
}
@-webkit-keyframes
slide_from_top {
	0%   {transform: translateY(-150%);}
}
@keyframes
slide_from_top {
	0%   {transform: translateY(-150%);}
}

.bill_hidden{
	z-index: 50;
	display: none;
}
/*sunder related*/
.sunder{
	position: absolute;
	top: 100%;
	width: 50%;
	left: 0%;
}
.pop_out{
	animation: pop_out 2s ease-out forwards;
	-webkit-animation: pop_out 2s ease-out forwards;
	animation-delay: 4s;
}
@-webkit-keyframes
pop_out {
	100%   {top: 50%;}
}
@keyframes
pop_out {
	100%   {top: 50%;}
}
.sunder_speech{
	position: absolute;
	bottom: 35%;
	width: 50%;
	left: 30%;
	width: 30%;
	padding: 4%;
	border-radius: 3vmin;
	background-color: #FFE599;
	transform: scale(0);
	transform-origin: left bottom;
}
.speech_zoom_in{
	animation: speech_zoom_in 2s ease-in forwards;
	-webkit-animation: speech_zoom_in 2s ease-in forwards;
	animation-delay: 6s;
}
@-webkit-keyframes
speech_zoom_in {
	100%   {transform: scale(1);}
}
@keyframes
speech_zoom_in {
	100%   {transform: scale(1);}
}

.front_image{
	z-index: 20;
}

.black_image{
	position: absolute;
	top: 0%;
	width: 100%;
	display: none;
	z-index: 11;
	background-color: rgba(200,200,200,0.7);
	height: 100%;
	left: 0%;
}
.fntthr {
    font-size: 3.5vh;
}
/*=====  End of Custom Style  ======*/
