.lesson-title{
	position: absolute;
	left: 50%;
	bottom: 72.5%;
	color: #DF4056;
	width: 100%;
	z-index: 5;
	transform: translateX(-50%);
	font-size: 6vw;
	font-family: pangolin;
}
@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 8.5vh;
	}
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.top-text {
    position: absolute;
    font-size: 2vw;
    font-family: sniglet;
    color: #0B5394;
    background: RGBA(249, 236, 199,.8);
    width: 100%;
    padding: 1%;
    top: 0;
}
.top-text1 {
    position: absolute;
    font-size: 2vw;
    font-family: happymonkey;
    color: #B45F06;
    background: #FFFE9D;
    width: 100%;
    padding: 1%;
    top: 4%;
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.bg_blue{
  background: #94CEDC;
}

.imgbox1, .imgbox3, .imgbox2 {
    position: absolute;
    width: 30%;
    top: 20%;
    background: white;
    height: 44%;
    border-radius: 50%;
}
.img1, .img2, .img3 {
    width: 70%;
    position: absolute;
    left: 15%;
    top: 7%;
}
.textinlabel {
    position: absolute;
    font-size: 2vw;
    font-family: happymonkey;
    bottom: 7%;
    width: 70%;
    left: 15%;
}
.imgbox1 {
    left: 2.5%;
}
.imgbox2 {
    left: 35%;
    top: 40%;
}
.imgbox3 {
    left: 67.5%;
}
.monkeylabel1, .monkeylabel2, .monkeylabel3 {
    position: absolute;
    font-size: 2vw;
    font-family: happymonkey;
}
.monkeylabel1 {
    color: white;
    background: #B46032;
    width: 25%;
    top: 67%;
    left: 5%;
}
.monkeylabel2 {
    color: white;
    background: #2CA9E0;
    width: 25%;
    top: 87%;
    left: 37.5%;
}
.monkeylabel3 {
    color: white;
    background: #66A01A;
    width: 25%;
    top: 67%;
    left: 70%;
}
.hideandshow{
  animation:hideandshow1 1s  infinite forwards;
}
.underlined {
    text-decoration: underline;
}
.interest_text {
    position: absolute;
    font-size: 2vw;
    font-family: happymonkey;
    top: 30%;
    left: 30%;
    color: white;
    width: 40%;
}
.a{
  background: #B46032;
}
.b{
  background: #2CA9E0;
  top: 45%;
}
.c{
  background: #66A01A;
  top: 60%;
}
.texttop {
    position: absolute;
    font-size: 2.4vw;
    padding: 1%;
    color: #CC0000;
    font-family: sniglet;
    top: 4%;
    width: 100%;
}
@keyframes hideandshow1 {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1
    }
}
.principal, .time, .rate {
    font-size: 2vw;
    font-family: sniglet;
    color: white;
    background: #8E7CC3;
    position: absolute;
    padding: 1%;
    border-radius: 1vmin;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
    cursor: pointer;
    top: 20%;
    width: 15%;
}
.principal:hover, .time:hover, .rate:hover{
  transform: scale(1.1);
  transition: .3s;
}
.principal {
    left: 13.75%;
}
.time {
    left: 42.5%;
}
.rate {
    left: 71.25%;
}
.monkey {
    position: absolute;
    width: 20%;
    bottom: 4%;
    left: 10%;
}
.template-dialougebox2-top-white::after{
  content: none !important
}
.monkey-instruction {
    font-family: sniglet;
    font-size: 1.5vw;
    width: 50%;
    padding: 1% !important;
    top: 52%;
    left: 15%;
}
.monkey1 {
    position: absolute;
    width: 15%;
    top: 75%;
    left: 11.75%;
}
.monkey2 {
    position: absolute;
    width: 15%;
    top: 75%;
    left: 43%;
}
.monkey3 {
    position: absolute;
    width: 15%;
    top: 75%;
    left: 74%;
}
.p {
    position: absolute;
    width: 25%;
    font-size: 1.8vw;
    font-family: sniglet;
    top: 30%;
    z-index: 1000;
    color: white;
    left: 6.25%;
    padding: 2%;
}
.t {
    position: absolute;
    width: 25%;
    font-size: 1.8vw;
    font-family: sniglet;
    top: 30%;
    z-index: 1000;
    color: white;
    left: 37.5%;
    padding: 2%;
}
.r {
    position: absolute;
    width: 25%;
    font-size: 1.8vw;
    font-family: sniglet;
    top: 30%;
    z-index: 1000;
    color: white;
    left: 68.75%;
    padding: 2%;
}
@media (min-aspect-ratio:4/3){
	.top-text,	.top-text1, .texttop {
		font-size: 5vmin;
	}
  .textinlabel,.interest_text,.principal, .time, .rate{
    font-size: 4.5vmin;
  }
  .monkey-instruction,.p,.t,.r{
    font-size: 3.5vmin;
  }
}
