.order_numbers {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    background: #fff;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.order_numbers, .order_numbers * {
    position: relative;
    margin: 0;
    padding: 0;
}

.order_numbers .nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.order_numbers .prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}


/*=====================================
=            common styles            =
=====================================*/

.board {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
}

.vertical-horizontal-center {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*================================================
    =            Notification Pulse Style            =
    ================================================*/


/**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    25% {
        transform: scale(0);
        opacity: 0.6;
    }
    50% {
        transform: scale(0.1);
        opacity: 0.8;
    }
    75% {
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.6;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.8;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.8;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}


/*for all element inside board*/

.board *[data-usernotification*="notifyuser"] {
    cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    -webkit-animation: pulse 1.2s ease-out infinite;
    -moz-animation: pulse 1.2s ease-out infinite;
    animation: pulse 1.2s ease-out infinite;
}


/*=====  End of Notification Pulse Style  ======*/


/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}


/*===================================
    =            HeaderBlock            =
    ===================================*/

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
    /*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 2%;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(238, 110, 115);
    background-color: rgb(252, 252, 252);
    text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
    height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
    padding: 2%;
}


/*=====  End of HeaderBlock  ======*/


/*====================================
    =            ContentBlock            =
    ====================================*/

div.generalTemplateblock div.contentblock {
    position: absolute;
    width: 100%;
    padding: 1%;
    /*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 13%;
    height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}


/*=====  End of ContentBlock  ======*/


/*===================================
    =        InstructionBlock           =
    ===================================*/

div.instructionblock {
    position: absolute;
    left: 8%;
    width: 84%;
    height: 50%;
    background-color: white;
    -webkit-transition: top 0.3s ease-in;
    -o-transition: top 0.3s ease-in;
    transition: top 0.3s ease-in;
    border: 4px solid rgba(238, 238, 238, 0.7);
    border-radius: 5px;
    -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
    background-color: rgb(238, 238, 238);
}

div.instructionblock[data-instructionblockshow='true'] {
    top: 50%;
}

div.instructionblock[data-instructionblockshow='false'] {
    top: 100%;
}

div.instructionblock div.instructionsets {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    font-size: 1.15em;
}

div.instructionblock div.instructionsets ol li {
    padding: 0.5% 2%;
    list-style-position: inside;
    text-align: left;
}

div.instructionblock div.instructionsets ol li:nth-of-type(n+2) {
    margin-top: 0.5%;
}

div.instructionblock div.toggleinstructionblock {
    position: absolute;
    bottom: 100%;
    left: 45%;
    width: 10%;
    padding: 0.7% 1%;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 7px;
    background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
    background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
}

div.instructionblock div.toggleinstructionblock span {
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    -webkit-transition: transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    -moz-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
}

div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span {
    -webkit-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
}


/*=====  End of InstructionBlock  ======*/


/*==================================
    =            Text Block            =
    ==================================*/

@-webkit-keyframes swipebackgroundkeyframe {
    to {
        background-position: 0% 0%;
    }
}

@-moz-keyframes swipebackgroundkeyframe {
    to {
        background-position: 0% 0%;
    }
}

@keyframes swipebackgroundkeyframe {
    to {
        background-position: 0% 0%;
    }
}

div.textblock {
    position: relative;
    margin-top: 1%;
    /*border   : 1px solid green; */
}

p.simpletextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    margin-top: 1%;
    padding: 1% 3%;
    font-size: 1.3em;
    text-align: left;
    /* border  : 1px solid red; */
}

p.bigheadingtextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 1%;
    font-size: 1.6em;
    font-weight: bold;
    /* border   : 1px solid red; */
    color: rgb(1, 174, 250);
}

p.singleparawithimagetextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 3%;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    color: black;
    background-color: rgb(198, 234, 248);
}

p.onlyparatextstyle, p.paratextstyle {
    display: table;
    margin: 0 2%;
    position: relative;
    padding: 3%;
    width: 95%;
    font-size: 1.2em;
    text-align: left;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* FF3.6+ */
    background-image: -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* IE10 */
    background-image: -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* Opera 11.10+ */
    background-image: linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /* W3C */
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: -100% 0%;
    -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.onlyparatextstyle {
    text-align: center;
}

p.bottomparatextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 2% 3%;
    width: 80%;
    font-size: 1.2em;
    text-align: left;
    color: black;
    background-color: rgb(198, 234, 248);
    -webkit-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

p.polybgtextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    margin-top: 1%;
    padding: 4%;
    font-size: 1.4em;
    text-align: left;
    /* svg image bg pulled from common images folder */
    background: url(../../../images/backgrounds/polygonbackground.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

span.royalbluehighlightstyle {
    color: rgb(0, 0, 255);
}

span.orangehighlight {
    color: rgb(197, 6, 6);
}

p.textalignleft {
    text-align: left;
}

p.formulatextstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    margin-top: 3%;
    padding: 3%;
    color: rgb(135, 41, 213);
    font-size: 1.3em;
    background: url(../../../images/backgrounds/greybackground_animated.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p.sideboxtextstyle {
    display: table;
    margin: 0 2%;
    position: relative;
    padding: 5% 5%;
    width: 95%;
    font-size: 1.2em;
    text-align: left;
    background-color: rgb(255, 247, 208);
    border: 2px solid rgb(247, 204, 27);
    border-radius: 5px;
}

p.paperstacktextstyle {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 1% 5%;
    margin-top: 2%;
    font-size: 1.1em;
    color: black;
    background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* FF3.6+ */
    background-image: -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* IE10 */
    background-image: -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* Opera 11.10+ */
    background-image: linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%);
    /* W3C */
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: -100% 0%;
    -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
    animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
}

p.paperstacktextstyle:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: -1;
    -webkit-transform: rotate(0.8deg);
    -ms-transform: rotate(0.8deg);
    -o-transform: rotate(0.8deg);
    transform: rotate(0.8deg);
}

p.paperstacktextstyle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: -2;
    -webkit-transform: rotate(1.6deg);
    -ms-transform: rotate(1.6deg);
    -o-transform: rotate(1.6deg);
    transform: rotate(1.6deg);
}


/* Rules below is for multiplehighlight of span tags for a highlight true para.
           For example */

.multiplehighlights:nth-of-type(1) {
    background-color: #D93B2B;
}

.multiplehighlights:nth-of-type(2) {
    background-color: #F6921E;
}

.multiplehighlights:nth-of-type(3) {
    background-color: #FFDD00;
}


/* and so on if required be... */


/*=====  End of Text Block  ======*/


/*===================================
    =            Image Block            =
    ===================================*/

div.imageblock {
  	position: absolute;
    height: 80%;
    width: 100%;
  	top:10%;
  	/*border     : 1px solid green; */
    /*border     : 1px solid green; */
}

img.singleimgstyle {
    display: table;
    margin: 0 auto;
    position: relative;
    padding: 1%;
    width: 40%;
}

div.imageblock label {
    position: absolute;
}

img.twoimgtogether {
    position: relative;
    display: inline-block;
    width: 20%;
}

img.twoimgtogether:nth-of-type(1) {
    margin-right: 20%;
}

img.twoimgtogetherlowspacing:nth-of-type(1) {
    margin-right: 10%;
}

img.threeimgtogether {
    position: relative;
    display: inline-block;
    width: 20%;
    margin-top: 2%;
}

img.threeimgtogether:nth-of-type(-n+2) {
    margin-right: 10%;
}

img.threeimgtogetherlowspacing:nth-of-type(1) {
    margin-right: 6%;
}


/*=====  End of Image Block  ======*/


/*====================================
    =            usageslowreveal Block =
    ====================================*/

div.layoutusageslowreveal, div.usageslowrevealblock {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border : 1px solid red;*/
}

.usageheading {
    position: relative;
    top: 0;
    width: 100%;
    padding: 1% 2%;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(238, 110, 115);
    background-color: rgb(252, 252, 252);
}


/*-----  End of usageslowreveal Block  ------*/


/*==========================================
    =            Card Content Block            =
    ==========================================*/

div[class^='card_block'] {
    position: relative;
    margin: 1% 0%;
    left: 1%;
    width: 98%;
    padding: 1.5% 0%;
    background-color: white;
    text-align: left;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

div[class^='card_block']:nth-of-type(n+2) {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
}

div[class^='card_block'][data-hasimage='true'] {
    min-height: 30%;
}

div[class^='card_block'] div.content_wrapper_card_block {
    position: relative;
    width: 100%;
}

div[class^='card_block'][data-hasimage='true'] div.content_wrapper_card_block {
    position: relative;
    width: 70%;
}

div[class^='card_block'] .card_title {
    position: relative;
    padding: 0% 2%;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-weight: bold;
    font-size: 1.3em;
}

div[class^='card_block'] .card_content_text {
    position: relative;
    padding: 1% 2% 0% 2%;
}

div[class^='card_block'] .card_content_image {
    position: absolute;
    top: 2%;
    right: 3%;
    width: 20%;
}

.nextusageBtn {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}


/*=====  End of Card Content Block  ======*/


/*============================================
    =            Time to think Block            =
    ============================================*/

div.timeToThink {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.timeToThink>figure {
    position: absolute;
    top: 10%;
    width: 50%;
    left: 5%;
}

div.timeToThink>figure>img {
    position: relative;
    width: 100%;
}

div.timeToThink>figure>figcaption {
    display: table;
    position: relative;
    margin-top: -17%;
    left: 40%;
    width: 55%;
    font-size: 1.5em;
    color: rgb(201, 136, 116);
}

div.timeToThink>p {
    position: relative;
    top: 50%;
    text-align: left;
    font-size: 1.4em;
    /* border  : 1px solid red; */
}


/*=====  End of Time to think Block  ======*/


/*=====================================
    =            svg layout            =
    =====================================*/

div.svgwrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border   : 1px solid blue;*/
}

div.svgcontainer {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    height: 70%;
    /*border   : 1px solid blue;*/
}


/*=====  End of svg layout  ======*/


/*=======================================
    =            Property Layout            =
    =======================================*/

div.propertylayout {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

div.propertyblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

div.propertylistcontainer {
    position: absolute;
    top: 17.5%;
    left: 2%;
    width: 30%;
    height: 65%;
    border: 2px solid rgb(147, 82, 52);
}

div.propertylistcontainer h4 {
    position: relative;
    color: rgb(255, 255, 255);
    background: rgb(147, 82, 52) none repeat scroll 0% 0%;
    text-align: center;
    padding: 2% 2%;
    font-size: 1em;
}

div.propertylistcontainer p {
    position: relative;
    padding: 3% 2%;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}

div.propertylistcontainer p:nth-of-type(n+2) {
    margin-top: 20%;
}

div.propertylistcontainer p span {
    position: absolute;
    left: 0;
    padding: 1% 3%;
    color: rgb(255, 255, 255);
    background-color: rgb(147, 82, 52);
    font-weight: bold;
}

div.propertylistcontainer p small {
    position: absolute;
    left: 15%;
    color: rgb(0, 0, 0);
    text-align: left;
}

div.propertylayout div.explainpropertycontainer {
    position: absolute;
    left: 35%;
    top: 10%;
    height: 87%;
    width: 65%;
}

div.propertylayout div.explainpropertycontainer div.mainproperty {
    position: absolute;
    width: 100%;
    font-size: 1.3em;
    border-top: 5px solid rgb(255, 146, 7);
}

div.propertylayout div.explainpropertycontainer div.mainproperty span {
    position: absolute;
    left: 0;
    padding: 2% 2% 0.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 146, 7);
    font-weight: bold;
}

div.propertylayout div.explainpropertycontainer div.mainproperty p {
    position: absolute;
    padding-top: 1%;
    left: 9%;
    color: rgb(0, 0, 0);
}

div.propertylayout div.explainpropertycontainer div.propertyexplain {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 80%;
}

div.propertylayout div.explainpropertycontainer div.propertyexplain img {
    position: relative;
    top: 0%;
    left: 0%;
    width: 40%;
}

div.propertylayout div.explainpropertycontainer div.propertyexplain p {
    position: relative;
    top: 5%;
    left: 0%;
    font-size: 1.2em;
    text-align: left;
}


/*-----  End of Property Layout  ------*/


/*=======================================
    =            Property Summary Layout    =
    =======================================*/

div.propertysummarylayout {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

div.propertysummaryblock {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

div.propertysummaryblock ul {
    display: inline-block;
    position: relative;
    padding: 0 0 3% 0;
    border: 2px solid rgb(147, 82, 52);
}

div.propertysummaryblock ul div {
    background: rgb(147, 82, 52) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    padding: 3% 5%;
}

div.propertysummaryblock ul li {
    position: relative;
    color: rgb(42, 101, 88);
    padding: 3% 2%;
    width: 100%;
}

div.propertysummaryblock ul li:nth-of-type(n+2) {
    margin-top: 5%;
}

div.propertysummaryblock ul li span {
    position: absolute;
    /*text-align:left;*/
    padding: 1.5%;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(147, 82, 52);
    font-weight: bold;
}

div.propertysummaryblock ul li p {
    position: absolute;
    padding: 1%;
    left: 7%;
    color: rgb(0, 0, 0);
}


/*-----  End of Property Summary Layout  ------*/


/*====================================
    =            Usage Layout            =
    ====================================*/

div.usagelayout, div.usagelayout div.usageblock {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border:1px solid red;*/
}

div.usagelayout .usageheading {
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 1.5em;
}

div.usagelayout p.usagetext {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 95%;
    font-size: 1.15em;
    padding: 0.5% 0% 0.5% 2%;
    text-align: left;
    border-top: 5px solid rgb(255, 146, 7);
    border-left: 15px solid rgb(255, 146, 7);
    color: rgb(147, 82, 52);
}

div.usagelayout div.explainusage {
    position: absolute;
    top: 26%;
    left: 5%;
    width: 95%;
    height: 74%;
    /*border:1px solid red;*/
}

div.usagelayout div.explainusage div.explainusageimagecontainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
}

div.usagelayout div.explainusage div.explainusageimagecontainer img {
    position: absolute;
    width: 60%;
    /* keep the image at the center of its container
               following code shall help you */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

div.usagelayout div.explainusage .explainusagetext {
    display: table;
    margin: 0px 2%;
    position: absolute;
    left: 47%;
    padding: 2%;
    width: 45%;
    font-size: 1.05em;
    text-align: left;
    text-align: justify;
    background-color: rgb(255, 247, 208);
    border: 2px solid rgb(247, 204, 27);
    border-radius: 5px;
    /* keep this block of text always at the vertical center please
                following code shall help you - cheers!*/
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}


/*-----  End of Usage Layout  ------*/


/*==============================================
    =            Diy Splash Page Block             =
    ==============================================*/

div.diysplashblock {
    position: relative;
    width: 100%;
    /*border   : 1px solid red;*/
}

div.diysplashblock>figure {
    position: relative;
    display: table;
    margin: 0 auto;
    width: 40%;
    /*border : 1px solid red;*/
}

div.diysplashblock>figure>img {
    width: 100%;
}

div.diysplashblock>figure>figcaption {
    position: absolute;
    top: 12%;
    left: 3%;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
    color: #C98865;
    font-weight: bold;
    /*border    : 1px solid red;*/
}

div.diysplashblock>p {
    position: relative;
    color: black;
    margin-top: 3%;
    font-size: 1.5em;
    padding: 0% 2%;
}


/*=====  End of Diy Splash Page Block  ======*/


/*=================================
    =            Diy Block            =
    =================================*/

div.diyblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*border : 1px solid red;*/
}

div.diyblock>div.diySmall {
    position: relative;
    top: 0%;
    width: 100%;
    height: 17%;
    /* you can change the height according to need */
    /*border   : 1px solid red;*/
}

div.diyblock>div.diySmall>figure {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    /*border : 1px solid red;*/
}

div.diyblock>div.diySmall>figure>img {
    position: relative;
    width: 60%;
    /*border : 1px solid red;*/
}

div.diyblock>div.diySmall>figure>figcaption {
    position: absolute;
    top: 5%;
    left: 24%;
    width: 53%;
    font-size: 0.8em;
    color: #C98865;
    /*border:1px solid red;*/
}

div.diyblock>div.diySmall>p {
    position: absolute;
    top: 2%;
    right: 0%;
    width: 82%;
    padding: 1% 1%;
    font-size: 1.1em;
    text-align: left;
    border: 2px solid #DB9E36;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFD34E;
    color: #BD4932;
}

div.diyblock>div.diyworkarea {
    position: relative;
    margin-top: 1.5%;
    width: 100%;
    height: 80%;
    /* you can change the height according to need */
    /*border     : 1px solid red;*/
}


/*=====  End of Diy Block  ======*/


/*============================================
    =            Definition Block                =
    ============================================*/

div.definitionblock>img {
    position: relative;
    width: 50%;
    left: -20%;
}

div.definitionblock>figcaption {
    position: relative;
    margin-top: -8%;
    left: -21%;
    font-size: 2em;
    color: rgb(201, 136, 116);
}

div.definitionblock>p.definitiontextstyle {
    position: relative;
    text-align: left;
    margin-top: 15%;
    font-size: 1.5em;
    padding: 0% 2%;
    /* border  : 1px solid red; */
}


/*=====  End of Definition Block  ======*/


/*=====  End of general template layout  ======*/


/*=========================================================
=            general templated specific styles            =
=========================================================*/


/*=====  End of general templated specific styles  ======*/




/* === custom css === */
.firstTitle{

}
.titleText{
  font-size: 6vmin;
  color: red;
  font-weight: bold;
  font-family: Ubuntu;

}
.canvasblock{
	position:absolute;
}

.yakImg{
  position: absolute;
  left: 18%;
  top: 7%;
}
.instructText{
  position: absolute;
    color: red;
    width: 100%;
    left: 0%;
    top: 0%;
    font-size: 4vmin;

}

/*flexbox part*/
.hello{
  position: absolute;
  background-color: #450808;
  background-image: url("../images/rr.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;;;
  /*opacity: 0.6;*/
  height: 63.6%;
  width: 63.9%;
  top: 15.6%;
  left: 19%;
}

.row1, .row2, .row3, .row4, .row5, .row6{
  /*background-color: pink;*/
  height: 15%;
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.allrows{
    box-sizing: border-box;
    height: 15%;
    display: flex;

}
/*.allcol1, .allcol2,.allcol3, .allcol4, .allcol4, .allcol5, .allcol6, .allcol7{
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(152, 186, 119, 0.9);
  width: 13%;
  font-size: 5vmin;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}*/
/*.allcol1, .allcol2,.allcol3, .allcol4, .allcol4, .allcol5, .allcol6, .allcol7{
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(152, 186, 119, 0.9);
  width: 13%;
  font-size: 5vmin;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}*/
.allcolls{
    box-sizing: border-box;
    height: 100%;
    background-color: rgba(152, 186, 119, 0.9);
    width: 12%;
    font-size: 5vmin;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.firstInput{
  position: relative;
  font-size: 4vmin;
  width: 100%;
  height: 100%;
  display: flex;
  /*-webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;*/
  /*transform: translate(-47%, -46%);*/
}

/*.exenextbtn{*/
    /*top: 90%;*/
/*}*/
.btnNavigationSong {
    width: 100%;
    height: 22%;
    bottom: 0%;
    z-index: 9999;
    position: absolute !important;
}
.playAgainDiv {
    top: 75%;
    float: left;
    left: 2%;
    width: 10%;
    position: relative;
}
.mainMenuDiv {
    top: 75%;
    float: left;
    left: 13%;
    width: 10%;
    position: relative;
}
.learnAgainDiv {
    top: 75%;
    float: left;
    left: 25%;
    width: 10%;
    position: relative;
}