.parts_of_a_plant {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.parts_of_a_plant, .parts_of_a_plant * {
	position: relative;
	margin: 0;
	padding: 0;
}

.parts_of_a_plant .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.parts_of_a_plant .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: sniglet;
}

.bluebg{
	background-color: #71C7EB;
	color: #434343;
}

.redbg{
	background-color: #EE6B62;
	color: #fff;
}

.textblock{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.rhinoimgdiv {
	position: absolute;
	width: 25%;
	left: 12%;
	bottom: 20%;
}

.squirrelisteningimg {
	position: absolute;
	width: 18%;
	right: 16%;
	bottom: 18%;
}

.description1 {
	width: 27%;
	left: 39.5%;
	top: 64%;
	position: absolute;
	transform: translateY(-50%);
}

.description2 {
	width: 80%;
	padding: 1% 2%;
	position: absolute;
	border-radius: 0.5em;
	left: 50%;
	transform: translate(-50%, -50%);
}

.img1, .img2, .img3, .img4 {
	position: absolute;
	width: 32%;
	padding: 0.5em;
	background-color: #EEDAA3;
	border: 0.1em solid #EEDAA3;
	border-radius: 50%;
}

.img1:hover, .img2:hover, .img3:hover, .img4:hover {
	background-color: #F9CB9C;
	border: 0.1em solid #E69138;
}

.disable, .disable:hover{
	background-color: #D9D9D9;
	border: 0.1em solid #999999;
	filter: grayscale(25%) brightness(95%);
}

.incorrect, .incorrect:hover {
	border: 0.1em solid #FF0000;
	color: #000;
}

.correct, .correct:hover {
	background-color: #EEDAA3;
	border: 0.1em solid #98C02E;
	color: #fff;
	filter: unset;
}

.pos1, .pos2, .pos3, .pos4 {
	cursor: pointer;
}

.pos1{
    right: 19%;
    top: 22%;
}

.pos2{
    right: 19%;
    bottom: 8%;
}

.pos3{
    left: 9%;
    bottom: 8%;
}

.pos4{
    left: 9%;
    top: 22%;
}

.pos1_sign, .pos2_sign, .pos3_sign, .pos4_sign {
	position: absolute;
	width: 7%;
	display: none;
}

.pos1_sign{
    /* right: 22%; */
				right: 15%;
    top: 22%;
}

.pos2_sign{
    /* right: 22%; */
		right: 15%;
	bottom: 33%;
}

.pos3_sign{
    /* left: 31%; */
		left: 37%;
	bottom: 33%;
}

.pos4_sign{
    /* left: 31%; */
	top: 22%;
	left: 37%;
}

.svgcontainer{
	width: 40%;
	position: absolute;
	height: 90%;
	top: 5%;
	right: 3%;
	border-radius: 0.8em;
	background-color: #FFE1D6;
}

.optionscontainer{
	position: absolute;
	width: 60%;
	height: 100%;
}

.imagelabel {
	position: absolute;
	color: #fff;
	background-color: #EE6B62;
	padding: 0.5em;
	top: 5%;
    width: 90%;
    left: 2%;
	border-radius: 0.5em;
}


#Layer_1{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.imagelabel{
	padding: 0.2em 0.5em;
	font-weight: normal;
}

.slideleft{
	-webkit-animation: slide_l_kf 3s cubic-bezier(.12,-0.3,.3,1.3) .2s forwards;
	animation: slide_l_kf 3s cubic-bezier(.12,-0.3,.3,1.3) .2s forwards;
}

.label1, .label2, .label3{
	position: absolute;
	width: 40%;
	text-align: center;
	transform: translateY(-50%);
	border: 0.1em solid #EE6B62;
	box-shadow: 0 0.2em 0.2em #999;
}

.label1:hover, .label2:hover, .label3:hover{
	background-color: #F9CB9C;
	border: 0.1em solid #E69138;
	box-shadow: 0 0.2em 0.2em #999;
	color: #434343;
}

.label1:active, .label2:active, .label3:active{
	background-color: #F9CB9C;
	border: 0.1em solid #E69138;
	box-shadow: 0 0em 0.2em #999;
	margin-top: 0.2em;
	color: #434343;
}

.label1{
	left: 50%;
	top:30%;
}

.label2{
	left: 50%;
	top:50%
}

.label3{
	left: 50%;
	top: 70%;
}

@-webkit-keyframes slide_l_kf {
	100%{
		right: 57%;
	}
}

@keyframes slide_l_kf {
	100%{
		right: 57%;
	}
}

.bee1 {
	display: none;
	width: 6.5%;
	left: 10%;
	position: absolute;
	top: 10%;
	-webkit-animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
	animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}

.bee1::after {
	content: '';
	display: block;
	-webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
	animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}


@-webkit-keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-3vmin);
    transform: translateY(-3vmin);
  }
}

@keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-3vmin);
    transform: translateY(-3vmin);
  }
}

@-webkit-keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(3vmin);
    transform: translateX(3vmin);
  }
}

@keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(3vmin);
    transform: translateX(3vmin);
  }
}

.bee2{
	display: none;
    width: 7%;
    transform: scaleX(-1);
    position: absolute;
    top: 10%;
    left: 30%;
    -webkit-animation: bounce_kf 0.5s linear alternate infinite;
    animation: bounce_kf 0.5s linear alternate infinite;
}

@keyframes bounce_kf{
	100%{
		top: 12%;
	}
}

@-webkit-keyframes bounce_kf{
	100%{
		top: 12%;
	}
}

.toptxt{
	position: absolute;
	width: 40%;
	left: 50%;
	top: 5%;
	font-size: 2.3vw;
	font-family: Sniglet;
	color: #fff;
}
@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
	.description1, .description2 {
		font-size: 8vh;
	}

	.imagelabel {
		font-size: 4.6vh;
	}
	.toptxt{
		font-size: 3.2vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.description1, .description2 {
		font-size: 6.8vw;
	}

	.imagelabel {
		font-size: 3.6vw;
	}
	.toptxt{
		font-size: 2.3vw
	}
}
