.readingmap_page9 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page9, .readingmap_page9 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	display: none;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
    xbottom: 0;
    xleft: 0;
    xwidth: 100%;
    xpadding: 2% 10%;
    xtext-align: left;
    xcolor:white;
    xbackground-color: rgba(0,0,0,0.3);
    xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}
.readingmap_page3 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page3, .readingmap_page3 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
    xbottom: 0;
    xleft: 0;
    xwidth: 100%;
    xpadding: 2% 10%;
    xtext-align: left;
    xcolor:white;
    xbackground-color: rgba(0,0,0,0.3);
    xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}
.readingmap_page3 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page3, .readingmap_page3 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
    xbottom: 0;
    xleft: 0;
    xwidth: 100%;
    xpadding: 2% 10%;
    xtext-align: left;
    xcolor:white;
    xbackground-color: rgba(0,0,0,0.3);
    xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}
.readingmap_page3 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page3, .readingmap_page3 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
    xbottom: 0;
    xleft: 0;
    xwidth: 100%;
    xpadding: 2% 10%;
    xtext-align: left;
    xcolor:white;
    xbackground-color: rgba(0,0,0,0.3);
    xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}
/*Sony*/

#bg_image1
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#bg_image2
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#bg_image3
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#bg_image4
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#bg_image5
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#dialog_1
{
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    color: #fff;
    margin-top: 20%;
    margin-left: 39%;
    width: 61%;
    padding: 1%;
    text-align: justify;
    font-size: 2.8vmin;
	
}
#dialog_2
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    color: #fff;
    margin-top: 15%;
    margin-left: 46%;
    width: 54%;
    padding: 1%;
    text-align: justify;
    font-size: 2.8vmin;
}
#dialog_3
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    color: #fff;
    margin-top: 6%;
    margin-left: 0;
    width: 61%;
    padding: 1%;
    text-align: justify;
    font-size: 2.8vmin;
}
#dialog_4
{
    background-color:rgba(0, 0, 0, 0.5);
	border-radius: 5px;
    position: absolute;
    color:#fff ;
    margin-top: 1%;
	margin-left: 1%;
	width: 62%;
    padding:1%;
    text-align: justify;
    font-size: 2.8vmin;
}
#dialog_5
{
    background-color:rgba(0, 0, 0, 0.5);
	border-radius: 5px;
    position: absolute;
    color:#fff ;
    margin-top: 1%;
	margin-left: 1%;
	width: 76%;
    padding:1%;
    text-align: justify;
    font-size: 2.8vmin;
}