.readingmap_page4 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page4, .readingmap_page4 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	display: none;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
    xbottom: 0;
    xleft: 0;
    xwidth: 100%;
    xpadding: 2% 10%;
    xtext-align: left;
    xcolor:white;
    xbackground-color: rgba(0,0,0,0.3);
    xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}
.readingmap_page3 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page3, .readingmap_page3 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
    xbottom: 0;
    xleft: 0;
    xwidth: 100%;
    xpadding: 2% 10%;
    xtext-align: left;
    xcolor:white;
    xbackground-color: rgba(0,0,0,0.3);
    xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}
.readingmap_page3 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page3, .readingmap_page3 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
    xbottom: 0;
    xleft: 0;
    xwidth: 100%;
    xpadding: 2% 10%;
    xtext-align: left;
    xcolor:white;
    xbackground-color: rgba(0,0,0,0.3);
    xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}
.readingmap_page3 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page3, .readingmap_page3 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 22%;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width: 30%;
	opacity:0.3;
	z-index: 9999;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

/*div.dialogcontainer{
	position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    padding: 2% 10%;
    text-align: left;
    color:white;
    background-color: rgba(0,0,0,0.3);
    font-weight: bold;
	border: 1px solid red;
}*/

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
    z-index: 9999;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}

/*Sony*/
#bg_image1
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#bg_image2
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#bg_image3
{
    position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;
}
#dialog_1
{
   background-color:rgba(0, 0, 0, 0.5);
	border-radius: 5px;
    position: absolute;
    color:#fff ;
    margin-top: 1%;
	margin-left: 1%;
	width: 76%;
    padding:1%;
    text-align: justify;
    font-size: 2.8vmin;
}
#dialog_2
{
    background-color:rgba(0, 0, 0, 0.5);
	border-radius: 5px;
    position: absolute;
    color:#fff ;
    margin-top: 32%;
	margin-left: 0%;
	width: 65%;
    padding:1%;
    text-align: justify;
    font-size: 2.8vmin;
}


#dialog_3
{
 	 background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #fff;
    font-size: 2.8vmin;
    margin-left: 0;
    margin-top: 1%;
    padding: 1%;
    position: absolute;
    text-align: justify;
    width: 45%;
}

/*===================================
=            sabrina css starts       =
===================================*/
.svgwrapper{
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}
.svgcontainer{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

#span3{
	display: none;
}

/*=====  End of sabrina css  ======*/


/*Rashik's css starts from here*/
.snow-container {
  position: absolute;
  height: 500px;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url(../images/snow3);
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.snow.middleground {
  background-image: url(..images/snow2.png);
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow.background {
  background-image: url(../images/snow1.png);
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}
