.question2,.question3,.question4,.question5,.question6,.question7,.question8,.question9,.question10,.exercise_button
{
	display:none;
}
.bg_image{
		background: url("../exercise_image/work.jpg") ;  
			-moz-background-size: cover;  
  	background-size: cover;
	border-style: solid;
	border-width: 7px ;
	border-color: black ;
}
 .container_overflow
{
	max-width:100%;
	background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width:100%;
   
}
.title_content{
	background:#4682b4;
}
.title {
    background: none repeat scroll 0 0 #4682b4;
    color: #fff;
    font-size: 24px;
    margin: auto;
    padding: 3%;
    text-align: center;
    width: 100%;
}
.content_image
{
	margin-top:10px;
}
.text_align_center
{
	text-align:center;
}

.content_answerSection
{
	margin-top:10px;
}
.hint_button {
    color: #fffffc;
    font-size: 1.5em;
}
.hint_button:hover{
	cursor: pointer;
}
.hint ,.answer1,.answer
{
	display:none;
	background-color: #f7f5f6;
	background-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
	padding: 2%;
	border: 1px solid #cccccc;
	border-radius: 3px;
	box-shadow: 0 1px 1px #feffff;
	color: #4a4a4a;
	font-size: .9em;
}
.answer_section
{
	margin-top:10px;
}
.answer1:hover
{
	cursor:pointer;
}
.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: darkgreen;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;

}

.nextBtn:hover {
	color: lightgreen;
}


.question_image{
	height:50%;
	border : 9px solid #CCCCCC;
}
