.background{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.chaptertitle{
	position: absolute;
	top: 6%;
	left: 0%;
	width: 100%;
	font-size: 6.5vw;
	font-family: sniglet;
}
.lowertext{
	position: absolute;
	width: 100%;
	height: 14%;
	top: 76%;
	font-family: Bree Serif;
}
.txt1{
	position: absolute;
	width: 80%;
	top: 46%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.sp-1{
	position: absolute;
	top: 10%;
	left: 58%;
	width: 38%;
	height: 40%;
	padding: 6% 5% 8% 4%;
	font-family: Comfortaa;
	display: none;
}
.sp-2{
	position: absolute;
	top: 8%;
	left: 0%;
	width: 33%;
	height: 37%;
	display: none;
	font-family: Comfortaa;
}
.text{
	position: absolute;
	width: 80%;
	top: 46%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.box{
	position: absolute;
	top: 16%;
	left: 5%;
	width: 87%;
	height: 68%;
}
.box1{
	position: absolute;
	width: 9%;
	height: 70%;
	top: 10%;
	left: 29%;
	padding: 2%;
	background-color: white;
	border-radius: 0.5em;
	font-weight: bold;
}
.box2{
	position: absolute;
	width: 9%;
	height: 70%;
	top: 10%;
	left: 51%;
	padding: 2% 0%;
	background-color: white;
	border-radius: 0.5em;
	padding-bottom: 2%;
	font-weight: bold;
}
.box3{
	transform: rotateY(-180deg);
}
.text{
	top: 10%;
}
.scale{
	position: absolute;
	width: 8%;
	top: 2%;
	left: 42%;
}
.girl{
	position: absolute;
	top: 29%;
	left: 50%;
	width: 11%;
}
.girl-1{
	position: absolute;
	top: 29%;
	left: 51%;
	width: 11%;
}
.girl1{
	transform: rotateY(-180deg);
}
.boy{
	position: absolute;
	top: 29%;
	left: 28%;
	width: 11%;
}
.animation{
	position: absolute;
	top: 28.5%;
	width: 0%;
	height: 0%;
	right: 58%;
	display: none;
	border: 2px dashed #f00;
	background-color: transparent;
	-webkit-animation: animation 3s forwards;
	animation: animation 3s forwards;
}
@-webkit-keyframes animation{

	100%{
		width: 8%;
	}
}
@keyframes animation{

	100%{
		width: 8%;
	}
}
.animation1{
	position: absolute;
	top: 35%;
	width: 0%;
	right: 43%;
	display: none;
	border: 2px dashed #f00;
	background-color: transparent;
	-webkit-animation: animations 3s forwards;
	animation: animations 3s forwards;
}
@-webkit-keyframes animations{

	100%{
		width:7%;
	}
}
@keyframes animations{

	100%{
		width: 7%;
	}
}
.dotline{
  position: absolute;
  width: 8%;
  height: 0%;
  border: 2px dashed #f00;
  top: 28.5%;
  right: 58%;
}
.textcolor{
	font-weight: bold;
}
@media (min-aspect-ratio:4/3){
	.txt1,.text1{
		font-size: 2.9vh;
	}
	.text{
		font-size: 4vh;
	}
	.chaptertitle{
		font-size: 6.5vh;
	}
}
@media (max-aspect-ratio:4/3){
	.txt1, .text, .text1{
		font-size: 2.2vw;
	}
	.chaptertitle{
		font-size: 6.5vw;
}
