.background{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.cream_bg{
		background-color:#00cec9;
}
.yellow_bg{
	background-color: #fff2cc;
}

.chaptertitle{
	position: absolute;
	top: 0%;
	left: 10%;
	width: 90%;
	font-size: 2.2vw;
	font-family: Bree serif;
	background-color: #00cec9;
	height: 15%;
	padding: 3%;
	color: #fff;
}

.sp-1{
	position: absolute;
	top: 10%;
	left: 52%;
	width: 32%;
	height: 26%;
	padding: 3% 4% 5% 5%;
	font-family: Comfortaa;
}
.lowertext {
  position: absolute;
  width: 100%;
  height: 14%;
  top: 83%;
	font-size: 3.2vw;
	font-family: Bree serif;
}
.topbox{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 10%;
	background-color: #f7d794;
	height: 15%;
}

.box{
  position: absolute;
  top: 0%;
  left: 3%;
  width: 100%;
  /* height: 80%; */
}
.txt1{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.lbox{
  position: absolute;
  width: 25%;
  left: 16%;
  top: 28%;
}
.rbox{
  position: absolute;
  left: 62%;
  top: 32%;
  width: 29%;
transform: rotate(34deg);
}
.tbox{
  position: absolute;
  width: 20%;
  left: 30%;
  top: 45%;
}
.pbox{
	position: absolute;
	width: 21%;
	transform: rotateZ(-90deg);
	top: 45%;
	left: 54%;
}
.pbox1{
  position: absolute;
	width: 30%;
	transform: rotateZ(-90deg);
	top: 57%;
	left: 54%;
}
.handbox{
  position: absolute;
	transform: rotate(34deg);
	top: 29%;
	left: 17%;
	width: 35%;
}
.animation{
	position: absolute;
	top: 45%;
	width: 0%;
	height: 0%;
	left: 39%;
  display: none;
	border: 2px dashed #f00;
	background-color: transparent;
	-webkit-animation: animation 3s forwards ;
	animation: animation 3s forwards ;
}
@-webkit-keyframes animation{

	100%{
		width: 25%;
	}
}
@keyframes animation{

	100%{
		width: 25%;
	}
}
.animation1{
  position: absolute;
	top: 35%;
	width: 0%;
	right: 31%;
	border: 2px dashed #f00;
	background-color: transparent;
	-webkit-animation: animations 4s forwards;
	animation: animations 4s forwards;
	display: none;
}
@-webkit-keyframes animations{

	100%{
		width:35%;
	}
}
@keyframes animations{

	100%{
		width: 35%;
	}
}
.animation2{
  position: absolute;
	top: 84%;
	width: 0%;
	right: 31%;
	display: none;
	border: 2px dashed #f00;
	background-color: transparent;
	-webkit-animation: downanim 4s forwards;
	animation: downanim 4s forwards;
}
@-webkit-keyframes downanim{

	100%{
		width:33%;
	}
}
@keyframes downanim{

	100%{
		width: 33%;
	}
}
.title {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 90%;
    font-size: 4.2vw;
    font-family: Bree Serif;
    background-color: #00cec9;
    height: 15%;
    padding: 1%;
    color: #fff;
		font-weight: bold;
}
.title-1{
	padding: 3%;
}
.tex{
	padding: 3%;
}
.box1, .box2{
	position: absolute;
	width: 14%;
	height: 70%;
	top: 10%;
	left: 21%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10%;
	font-weight: bold;
}
.box2{
  left: 67%;
}
.boy{
	position: absolute;
	top: 23%;
	left: 38%;
	width: 15%;
}

.book1{
	position: absolute;
	width: 24%;
	top: 48%;
	left: 15%;
	height: 25%;
	z-index:4;
}
.book2{
	position: absolute;
	width: 35%;
	top: 56%;
	transform: rotateY(180deg);
	z-index:4;
}

.hand{
  position: absolute;
  width: 11%;
  top: 62%;
	z-index:4;
}
.hand1{
	left: 17%;
}
.hand2{
left: 28%;
}
.num{
  position: absolute;
width: 10%;
top: 80%;
font-weight: bold;
}
.hide1{
  left: 18%;
}
.hide2{
  left: 29%;
}
.hide3{
	left: 53%;
}
.hide4{
left: 63%;
}
.hide5{
	left: 74%;
}
.xbox{
  position: absolute;
  width: 20%;
  height: 8%;
  top: 86%;
  font-weight: bold;
  font-family: laila;
  padding: 1%;
  border-radius: 15%;
  color: #000;
  font-size: 2.2vw;
}
.box3{
    left: 18%;
}
.box4{
  left: 60%;
}
.hand3{
	left: 52%;
}
.hand4{
	left: 63%;
}
.hand5{
	left: 74%;
}
.optionsdiv {
  top: 77%;
  display: flex;
  left: 0%;
  text-align: left;
  position: absolute;
  height: 27%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

}
.optionscontainer {
	position: absolute;
  width: 21%;
  height: 37%;
  top: 50%;
  transform: translateY(-50%);
	left: 10%
}
.box5{
	left: 17%;
}
.box6{
	left: 59%;
}
.imagestartpos {
  position: absolute;
  width: 15%;
  margin-left: 1%;
  display: none;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.forhover:hover {
    border: 5px solid #98c02e;
    cursor: pointer;
    background: #98c02e;
}

.forhoverimg:hover{
	color: #fff;
	border: 5px solid #98c02e;
}
.optionsdiv p {
  padding: 2%;
  border-radius: 15px;
  margin: 1%;
  font-size: 3.5vh;
  background: #3c78d8;
  border: 5px solid #3c78d8;
  font-family: Sniglet;
  width: 100%;
  text-align: center;
  color: #fff;
}
	@media (min-aspect-ratio:4/3){
	.txt1, .text, .text1, .title,.lowertext,.xbox{
		font-size: 3.2vh;
	}
	.chaptertitle{
		font-size:  4.2vh;
	}
}
	@media (max-aspect-ratio:4/3){
	.txt1, .text, .text1, .title{
		font-size: 2.2vw;
	}
	.chaptertitle,.lowertext,.xbox{
		font-size: 3.2vw;
	}
}
.emptydiv{
	position: absolute;
	width: 26%;
	height: 25%;
	top: 48%;
	left: 14%;
	cursor: pointer;
	z-index:5;
}
.emptydiv1{
	position: absolute;
	width: 36%;
	height: 17%;
	top: 55%;
	left: 50%;
	cursor: pointer;
	z-index:5;
}