<!--
Title : General Template
-->

<script type="text/javascript">
    $cssLoader("playtime/css/playtimetemplate.css");
    $cssLoader("../../../../css/commonpage/dialougebox.css");
    $cssLoader("playtime/css/playtime0.css");
    $cssLoader("../../../../css/gradient.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
    or only has content --}}
    {{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
            {{/if}}
            {{! header block start--}}
            {{#if headerblock}}
            <div class="headerblock {{headerblockadditionalclass}}">
                {{#each headerblock}}
                {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{! header block end--}}
            {{! content block start--}}
            <div class="contentblock {{contentblockadditionalclass}}">
                {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
                <div class="coverboardfull {{coverboardadditionalclass}}">
                    {{#if uppertextblock}}
                    <div class="textblock {{uppertextblockadditionalclass}}">
                        {{#each uppertextblock}}
                            {{#if divcls}}
                                 <div class="{{divcls}}">
                            {{/if}}
                                 {{> textcontent}}
                            {{#if divcls}}
                                </div>
                            {{/if}}
                        {{/each}}
                    </div>
                    {{/if}}



                    {{#if imageblock}}
                    <div class="imageblock {{imageblockadditionalclass}}">
                        {{#if imageblocknocenteradjust}}
                            <div class="vertical-horizontal-center">
                        {{/if}}
                            {{#each imageblock}}
                            	{{#if imageblockclass}}
                            		<div class="{{imageblockclass}}">
                            	{{/if}}
                                	{{> imagecontent}}
                                {{#if imageblockclass}}
                            		</div>
                            	{{/if}}
                            {{/each}}
                        {{#if imageblocknocenteradjust}}
                            </div>
                        {{/if}}
                    </div>
                    {{/if}}

                    {{#each speechbox}}
            					<div class="speechbox {{speechbox}}">
            						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
            						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            						{{#if audioicon}}
            							<img class="audioicon {{audioclass}}" src="images/speaker.png">
            						{{/if}}
            					</div>
            				{{/each}}

                    {{#each clickblock}}
                      <div class="{{clickclass}}">
                    {{/each}}


            				{{#each slider}}
            					<div class="slidercontainer">
            						<div class="sliderwrapper">
            							<div class="innerwrapper">
            								{{#each imagestoshow}}
            									<div class="slider">
            										<img class="{{imgclass}}" src="{{imgsrc}}">
            										<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            									</div>
            								{{/each}}
            							</div>
            						</div>
                                    <img class="next-button" src="images/next.png">
            						<img class="prev-button" src="images/previous.png">
            					</div>
            				{{/each}}


                </div>
            </div>
            {{! content block end--}}
        </div>
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
  {{#if options}}
    {{#each imagestoshow}}
      <div class="optiondivclass">
        <img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
        <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">
        <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
      </div>
    {{/each}}
    {{else}}
      {{#each imagestoshow}}
        <img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
      {{/each}}
  {{/if}}
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("playtime/js/playtime0.js");
      $jsLoader("playtime/js/common.js");
</script>
