<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="raydigram_activity">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="svg-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}}">    
        {{#if uppertextblock}}
            <div class="textblock">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if svgblock}}
            <div class="svgwrapper">                 
                {{#each svgblock}}                           
                    {{> svgcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imageblock}}
            <div class="imageblock">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if lowertextblock}}
            <div class="textblock">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}">{{imagelabeldata}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="svgcontent-partial" type="text/x-handlebars-template">
     {{#each svgheading}}
        {{> textcontent}}
     {{/each}}
     <p class="objectlocation">{{objectlocationdata}}</p>
     <div class="svgcontainer">{{!-- load actual svg image here --}}</div>
     <div class="imagecharacteristicsbox">
        <p class="imagecharacteristicheading">{{imagecharacteristicheadingdata}}</p>
        <div class="">
            {{#each imagecharacterstics}}
                <p><b>{{natureofimage}} : </b><span data-highlight="{{datahighlightflag}}">{{naturedetail}}<span></p>
            {{/each}}
        </div>
     </div>
     <div class="startanimbutton" data-isclicked="" data-usernotification="notifyuser">{{startbuttontext}}</div>
     {{!-- load snap svg --}}
     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
</script>

<script id="raydiagramtestyourself-template" type="text/x-handlebars-template">
    <div class="testyourself">    
        <div class="testyourselfheadingcontainer">
            <img src="images/lokharke/test_yourself_animated.svg">
            <p>{{{testyourselfheadingdata}}}</p>
        </div>
        <div class="testyourselfquerycontainer">
            <p class="testyourselfquery">{{{testyourselfquestiondata}}}</p>
            {{#each testyourselfquestion}}
            <div class="testyourselfquestion{{imagecharacteristic}}" data-iscorrect="">
                <p>{{{testyourselfcharacteristicsdata}}} :</p>
                <div class="testyourselfoptionscontainer" data-isclicked="notclicked">
                    {{#each testyourselfoptions}}
                        <p data-iscorrect="{{this.iscorrectflag}}">{{{this.optiondata}}}</p>
                    {{/each}}
                </div>
            </div>
            {{/each}}
            <p class="testyourselfresult" data-review=""></p>
        </div>        
    </div>
</script>


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>