<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page8.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="raydigram_activity">    
    <div class="board">
        <div class="svgwrapper"></div>
        <div class="generaltemplate"></div>
        
    </div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="belowsvg-template" type="text/x-handlebars-template">
   
    <div class="svgfootercontainer" data-swipeanimation="">
        {{#each svgfooter}}
          {{> textcontent}}
        {{/each}}
     </div>
</script>

<script id="svg-template" type="text/x-handlebars-template">                  
     {{#each svgheading}}
        {{> textcontent}}
     {{/each}}
    {{> svgcontent}}
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}">{{imagelabeldata}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="svgcontent-partial" type="text/x-handlebars-template">     
     <div class="svgcontainer">{{!-- load actual svg image here --}}</div>     
     {{!-- load snap svg --}}
     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page8.js");
</script>