<!--
Title : General Template
-->
<script type="text/javascript">
	$cssLoader("css/common.css");
	$cssLoader("css/page8.css");
	  
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				{{#if table}}
				 <table class="{{tableclass}}">
					  <tr>
					    <th><span class='type1'>{{row1headdata}}</span></th>
					    <th><span class='type2'>{{row2headdata}}</span></th>
					  </tr>
					  <tr>
					    <td><span class='type3'>{{row1data}}</span></td>
					    <td><span class='type4'>{{row2data}}</span></td>
					  </tr>
					  <tr >
				  		<td><span class='type5'>{{row3data}}</span></td>
					    <td><span class='type6'>{{row4data}}</span></td>
					  </tr>
					  <tr >
				  		<td><span class='type7'>{{row5data}}</span></td>
					    <td><span class='type8'>{{row6data}}</span></td>
					  </tr>
					  <tr >
				  		<td><span class='type9'>{{row7data}}</span></td>
					    <td><span class='type10'>{{row8data}}</span></td>
					  </tr>
					   <tr >
				  		<td><span class='type11'>{{row9data}}</span></td>
					    <td><span class='type12'>{{row10data}}</span></td>
					  </tr>
					  <tr >
				  		<td><span class='type13'>{{row11data}}</span></td>
					    <td class='width'><span class='type14'>{{row12data}}</span></td>
					  </tr>
					</table> 
				{{/if}}
				{{#each speechbox}}
					<div class="speechbox {{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-highlightcustomclass2="{{datahighlightcustomclass2}}"
        				data-highlightcustomclass3="{{datahighlightcustomclass3}}">{{{textdata}}}</p>
						{{#if audioicon}}
							<img class="audioicon {{audioclass}}" src="images/speaker.png">
						{{/if}}
					</div>
				{{/each}}
				{{#if definitionblock}}
					<div class="definitionblock {{definitionblockadditionalclass}}">
						{{#each definitionblock}}
							{{> definitioncontent}}
						{{/each}}
					</div>
				{{/if}}
				
				{{#if option}}
					<div class="optiondiv {{optiondivadditionalclass}}">
						{{#each option}}
							<div class="option {{optionclass}}">
								<img class="choice-img {{imgclass}}" src="{{imgsrc}}">
								<img class="right_wrong" src="">
							</div>
						{{/each}}
					</div>
				{{/if}}
			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/page8.js");
</script>