.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.activity_container .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
        font-size: 2vh;
    }

    .vertical-center{
        position          : relative;
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            margin-top       : 37%;
            left             : 55%;
            width            : 3em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;
            z-index: 9999;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/

        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : rgb(252, 252, 252);
            text-align       : center;
        }
        .headertextstyle2{
            position         : absolute;
            top              : 0%;
            left             : 0%;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.4em;
            font-weight      : bold;
            color            : rgb(96, 187, 0);
            background-color : rgb(230, 248, 211);
            text-align       : center;
            /*opacity: 0;*/
        }
        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }

    /*=====  End of HeaderBlock  ======*/

    /*====================================
    =            ContentBlock            =
    ====================================*/

        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        }

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/

        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238);
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,.4);

            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 7px;

            background-image: -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image: linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }

    /*=====  End of InstructionBlock  ======*/


    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 3%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;

            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.textalignleft{
            text-align: left;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        p.paperstacktextstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation: swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.paperstacktextstyle:after{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        p.paperstacktextstyle:before{
            content  : "";
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            background-color: rgba(0,0,0,0.1);
            border-radius: 5px;

            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        span.royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        span.orangehighlight{
            color : rgb(197,6,6);
        }


    /*=====  End of Text Block  ======*/

    /*=====================================
    =            svg block                =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer > svg{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

    /*=====  End of svg block  ======*/

    /*===================================
    =            Image Block            =
    ===================================*/

        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;
            width    : 45%;
        }

        div.imageblock label{
           position : absolute;
        }

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+2){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }
    /*=====  End of Image Block  ======*/
    /*==============================================
    =            Diy Splash Page Block             =
    ==============================================*/

        div.diysplashblock{
            position : relative;
            width    : 100%;
            /*border   : 1px solid red;*/
        }

        div.diysplashblock > figure{
            position : relative;
            display  : table;
            margin   : 0 auto;
            width    : 40%;
            /*border : 1px solid red;*/
        }

        div.diysplashblock > figure > img{
            width: 100%;
        }

        div.diysplashblock > figure > figcaption{
            position    : absolute;
            top         : 12%;
            left        : 3%;
            width       : 90%;
            margin      : 0 auto;
            font-size   : 1.5em;
            color       : #C98865;
            font-weight : bold;
            /*border    : 1px solid red;*/
        }

        div.diysplashblock > p{
            position   : relative;
            color      : black;
            margin-top : 3%;
            font-size  : 1.5em;
            padding    : 0% 2%;
        }

    /*=====  End of Diy Splash Page Block  ======*/

    /*=================================
    =            Diy Block            =
    =================================*/
        div.diyblock{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            /*height   : 100%;*/
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall{
            position : relative;
            top      : 0%;
            width    : 100%;
            height   : 17%; /* you can change the height according to need */
            /*border   : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 20%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > img{
            position : relative;
            width    : 60%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > figcaption{
            position  : absolute;
            top       : 5%;
            left      : 24%;
            width     : 53%;
            font-size : 0.8em;
            color     : #C98865;

            /*border:1px solid red;*/
        }

        div.diyblock > div.diySmall > p{
            position   : absolute;
            top        : 2%;
            right      : 0%;
            width      : 82%;
            padding    : 1% 1%;
            font-size  : 1.1em;
            text-align : left;

            border           : 2px solid #DB9E36;
            border-radius    : 4px 4px 4px 4px;
            background-color : #FFD34E;
            color            : #BD4932;
        }


/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/

    img.kclstyle{
        width : 70%;
    }

    .valancehighlight:nth-of-type(1){
        color : #F2148F;
    }

    .valancehighlight:nth-of-type(2){
        border : 2px dotted #AF2E38;
    }

    .valancehighlightcl:nth-of-type(1){
        border : 2px dotted #AF2E38;
    }

    .valancehighlightcl:nth-of-type(2){
        color : #F2148F;
    }

/*=====  End of Custom Style  ======*/

/* hover to describe content */

    div.hovertodescribeblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        border   : 1px solid blue;
    }

    div.hovercontents{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 50%;
        height   : 100%;
        border   : 1px solid red;
    }

    div.hovercontents img.mainimage{
        position : absolute;
        top      : 20%;
        left     : 10%;
        width    : 80%;
    }

    div.hovercontents div[class^=lever]{
        position : absolute;
        top      : 60%;
        left     : 10%;
        height   : 2%;
        width    : 80%;
    }

    div.hovercontents div[class^=lever] div.loadarm{
        position         : absolute;
        top              : 0%;
        left             : 0%;
        height           : 100%;
        width            : 50%;
        opacity          : 0.5;
        background-color : blue;
    }

    div.hovercontents div[class^=lever] div.effortarm{
        position         : absolute;
        top              : 0%;
        left             : 10%;
        left             : 50%;
        height           : 100%;
        width            : 50%;
        opacity          : 0.5;
        background-color : brown;
    }

    div.hovercontents div.lever1{
        top  : 40%;

        -ms-transform     : rotate(12deg); /* IE 9 */
        -webkit-transform : rotate(12deg); /* Chrome, Safari, Opera */
        transform         : rotate(12deg);
    }

    div.hovercontents div.lever2{
        top  : 37%;

        -ms-transform     : rotate(-18deg); /* IE 9 */
        -webkit-transform : rotate(-18deg); /* Chrome, Safari, Opera */
        transform         : rotate(-18deg);
    }

    div.hovercontents div.fulcrum{
        position      : absolute;
        top           : 38.5%;
        left          : 47%;
        width         : 5%;
        height        : 4%;
        border-radius : 50%;
        opacity       : 0.5;
        border        : 3px solid red;
    }

    div.hovercontents label{
        position  : absolute;
        font-size : 1.2em;
        color     : black;
        cursor    : pointer;
    }

    div.hovercontents label.labelfulcrum{
        top  : 25%;
        left : 41%;
    }

    div.hovercontents label.labeleffort{
        top   : 36%;
        right : 5%;
    }

    div.hovercontents label.labeleffortarm{
        top  : 57%;
        left : 12%;
    }

    div.hovercontents label.labelload{
        top  : 38%;
        left : 17%;
    }

    div.hovercontents label.labelloadarm{
        top  : 56%;
        left : 50%;
    }

    div.discriptioncontents{
        position : absolute;
        top      : 0%;
        left     : 50%;
        width    : 50%;
        height   : 100%;
        border   : 1px solid green;
    }

    div.discriptioncontents h3.discriptionheading{
        position    : relative;
        top         : 0%;
        left        : 0%;
        width       : 100%;
        padding     : 2%;
        font-weight : bold;
        border      : 1px solid green;
    }

    div.discriptioncontents p.leverpartheading{
        position   : relative;
        top        : 0%;
        left       : 0%;
        padding    : 2%;
        font-size  : 1.3em;
        text-align : left;
        border     : 1px solid green;
    }
/*personal style*/
/*ensd css starts*/
@keyframes fadein {
    0%{
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cssfadeinsadlytext{
    opacity: 0;
    animation: fadein 1s linear 0.5s 1 forwards;
    -webkit-animation: fadein 1s linear 0.5s 1 forwards;
    -moz-animation: fadein 1s linear 0.5s 1 forwards;
}

.cssfadein{
    animation: fadein 1s linear 0.5s 1 forwards;
    -webkit-animation: fadein 1s linear 0.5s 1 forwards;
    -moz-animation: fadein 1s linear 0.5s 1 forwards;
}

.cssfadein2{
    animation: fadein 1s linear 2s 1 forwards;
    -webkit-animation: fadein 1s linear 2s 1 forwards;
    -moz-animation: fadein 1s linear 2s 1 forwards;
}

.cssfadein3{
    animation: fadein 1s linear 3s 1 forwards;
    -webkit-animation: fadein 1s linear 3s 1 forwards;
    -moz-animation: fadein 1s linear 3s 1 forwards;
}

@keyframes fadeinchangecolor {
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0.6;
        color: #ffe699;
    }
    100% {
        opacity: 1;
        color: #FFC211;
    }
}

@-moz-keyframes fadeinchangecolor {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.6;
        color: #ffe699;
    }
    100% {
        opacity: 1;
        color: #FFC211;
    }
}

@-webkit-keyframes fadeinchangecolor {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
        color: #ffe699;
    }
    100% {
        opacity: 1;
        color: #FFC211;
    }
}
.cssfadeinchangecolor{
    animation: fadeinchangecolor 2s linear 5s 1 forwards;
    -webkit-animation: fadeinchangecolor 2s linear 5s 1 forwards;
    -moz-animation: fadeinchangecolor 2s linear 5s 1 forwards;
}

@keyframes fadeout {
    0%{
        opacity: 1;

    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cssfadeoutsadlytext{
    animation: fadeout 1s linear 5s 1 forwards;
    -webkit-animation: fadeout 1s linear 5s 1 forwards;
    -moz-animation: fadeout 1s linear 5s 1 forwards;
}

.cssfadeout{
    animation: fadeout 0.5s linear 0.3s 1 forwards;
    -webkit-animation: fadeout 0.5s linear 0.3s 1 forwards;
    -moz-animation: fadeout 0.5s linear 0.3s 1 forwards;
}

.cssfadeout1{
    animation: fadeout 0.5s linear 1.8s 1 forwards;
    -webkit-animation: fadeout 0.5s linear 1.8s 1 forwards;
    -moz-animation: fadeout 0.5s linear 1.8s 1 forwards;
}

.cssfadeout2{
    animation: fadeout 0.5s linear 2.8s 1 forwards;
    -webkit-animation: fadeout 0.5s linear 2.8s 1 forwards;
    -moz-animation: fadeout 0.5s linear 2.8s 1 forwards;
}

.cssfadeout3{
    animation: fadeout 0.5s linear 3.8s 1 forwards;
    -webkit-animation: fadeout 0.5s linear 3.8s 1 forwards;
    -moz-animation: fadeout 0.5s linear 3.8s 1 forwards;
}

.cssfadeout4{
    animation: fadeout 0.5s linear 4.8s 1 forwards;
    -webkit-animation: fadeout 0.5s linear 4.8s 1 forwards;
    -moz-animation: fadeout 0.5s linear 4.8s 1 forwards;
}

.fullblack{
    background: #000;
}

.headingstyle{
    position: absolute;
    color: #fff;
    font-size: 2em;
    margin-top: 0%;
    color: #FFC211;
    left: 0;
    width: 100%;
}

.imagegrid{
    width: 16%;
    height: 25%;
    display: inline-block;
    /*position: relative;*/
    top: 50%;
}

.middletext1{
    position: absolute;
    margin-top: 25%;
    font-size: 2em;
    color: #fff;
    left: 15%;
    opacity: 0;
}

.fullbg{
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -5%;
}

.middletext2{
    position: absolute;
    z-index: 9999;
    color: #EB781D;
    font-weight: bold;
    margin-top: 5%;
    font-size: 2em;
    left: 30%;
    width: auto;
}

.middlepara1{
    position: absolute;
    margin-top: 45%;
    left: 0;
    width: 100%;
    font-size: 1.3em;
    color: #000;
    opacity: 0;
}

.forest{
    position: absolute;
    left: 0;
    margin-top: 18%;
    width: 34%;
}

.waterfall{
    position: absolute;
    right: 0%;
    margin-top: 18%;
    width: 34%;
}

.bird{
    position: absolute;
    margin-top: 18%;
    width: 34%;
    left: 33%;
}

@keyframes moveleftzero {
    to {
        left: 0%;
    }
}

@-moz-keyframes moveleftzero {
    to {
        left: 0%;
    }
}

@-webkit-keyframes moveleftzero {
    to {
        left: 0%;
    }
}

.cssmoveleftzero{
    animation: moveleftzero 0.5s linear 0s 1 forwards;
    -webkit-animation: moveleftzero 0.5s linear 0s 1 forwards;
    -moz-animation: moveleftzero 0.5s linear 0s 1 forwards;
}

@keyframes moveleft {
    to {
        left: 33%;
    }
}

@-moz-keyframes moveleft {
    to {
        left: 33%;
    }
}

@-webkit-keyframes moveleft {
    to {
        left: 33%;
    }
}

.cssmoveleft{
    animation: moveleft 0.5s linear 1.5s 1 forwards;
    -webkit-animation: moveleft 0.5s linear 1.5s 1 forwards;
    -moz-animation: moveleft 0.5s linear 1.5s 1 forwards;
}

@keyframes moveleftagain {
    to {
        left: 67%;
    }
}

@-moz-keyframes moveleftagain {
    to {
        left: 67%;
    }
}

@-webkit-keyframes moveleftagain {
    to {
        left: 67%;
    }
}

.cssmoveleftagain{
    animation: moveleftagain 0.5s linear 2s 1 forwards;
    -webkit-animation: moveleftagain 0.5s linear 2s 1 forwards;
    -moz-animation: moveleftagain 0.5s linear 2s 1 forwards;
}
.deforestation{
    position: absolute;
    left: -40%;
    margin-top: 18%;
    width: 34%;
    color: #fff;
    background: #58448B;
    z-index: 999;
}

.deforestationtxt{
    position: absolute;
    left: -40%;
    margin-top: 26%;
    width: 34%;
    color: #fff;
    padding: 0.6%;
    background: #58448B;
    font-size: 1.1em;
    z-index: 999;
}

.garbage{
    position: absolute;
    left: -40%;
    margin-top: 18%;
    width: 34%;
    color: #fff;
    font-size: 1.2em;
    background: #58448B;
    z-index: 9;
}
.garbagetxt{
    position: absolute;
    left: -40%;
    margin-top: 26%;
    width: 34%;
    color: #fff;
    font-size: 1.2em;
    background: #58448B;
    z-index: 9;
    padding: 0.6%;
}
.overpopulation{
    position: absolute;
    left: -40%;
    margin-top: 18%;
    width: 34%;
    color: #fff;
    background: #58448B;
}
.overpopulationtxt{
    position: absolute;
    left: -40%;
    margin-top: 26%;
    width: 34%;
    color: #fff;
    font-size: 1.2em;
    padding: 0.5%;
    background: #58448B;
}
.climatechange{
    position: absolute;
    width: 20%;
    left: 40%;
    margin-top: 20%;
    font-size: 1.3em;
    background: #58448B;
    color: #fff;
}
.climatechangetxt{
    position: absolute;
    width: 30%;
    left: 35%;
    margin-top: 30%;
    font-size: 1.3em;
    background: #58448B;
    color: #fff;
    padding: 0.6%;
    /*opacity: 0;*/
}
@keyframes widthenlarge {
    to {
        width: 80%;
        left: 10%;
        margin-top: 10%;
    }
}

@-moz-keyframes widthenlarge {
    to {
        width: 80%;
        left: 10%;
        margin-top: 10%;
    }
}

@-webkit-keyframes widthenlarge {
    to {
        width: 80%;
        left: 10%;
        margin-top: 10%;
    }
}

.csswidthenlarge{
    animation: widthenlarge 1s linear 0.5s 1 forwards;
    -webkit-animation: widthenlarge 1s linear 0.5s 1 forwards;
    -moz-animation: widthenlarge 1s linear 0.5s 1 forwards;
}

@keyframes widthtext {
    to {
        left: 10%;
        width: 80%;
    }
}

@-moz-keyframes widthtext {
    to {
        left: 10%;
        width: 80%;
    }
}

@-webkit-keyframes widthtext {
    to {
        left: 10%;
        width: 80%;
    }
}

.csswidthtext{
    animation: widthtext 1s linear 0.5s 1 forwards;
    -webkit-animation: widthtext 1s linear 0.5s 1 forwards;
    -moz-animation: widthtext 1s linear 0.5s 1 forwards;
}

.bottompara{
    position: absolute;
    margin-top: 45%;
    width: 80%;
    left: 10%;
    color: #fff;
    font-size: 1.3em;
    opacity: 0;
}

.imagegridblock{
    position: absolute !important;
    margin-top: 33% !important;
}
/*ensd css ends*/
