<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page18_area.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>




<script type="text/x-handlebars-template" id="intro-template">
<div class="wrapperIntro {{justClass}}">
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
		<img src="activity/grade8/math/math_area_01/image/letslook.png" class="letslook"/>
		
		<div class="bubble1">
		</div>
		
		<div class="row char-holder">
			<div class="char-a">
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			</div>
		</div>
		
		<div class="firstimage">
			<img src="activity/grade8/math/math_area_01/image/shaded_portion.png" class="img-responsive 1st_image_perimeter"/>
		</div>
		
</div>
</script>
		
<!--end of page2-->




<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page18_area.js");
</script>