.bg_full {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

.imageblock, .textblock {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.squirrelisteningimg {
    position: absolute;
    width: 16%;
    top: 55%;
    left: 65%;
    z-index: 119;
}
.rhinoimgdiv {
    position: absolute;
    z-index: 119;
    top: 48%;
    width: 16%;
    left: 24%;
}

.playtime {
    position: absolute;
    font-size: 3vw;
    z-index: 999;
    font-family: sniglet;
    color: white;
    left: 53%;
    top: 60%;
    transform: translateX(-50%);
}

.girl {
    z-index: 999;
    position: absolute;
    width: 8%;
    top: 49%;
    left: 53%;
}
.sp-1 {
  width: 40%;
    height: 20%;
    top: 48%;
    left: 10%;
    opacity: 0;
    font-size: 1.8vw;
    animation:widthchange1 .5s ease-in forwards;
}
@keyframes widthchange1 {
  to{
    opacity: 1;
  }
}
.speechbox > p {
    position: absolute;
    width: 65%;
    left: 27%;
    top: 50%;
    transform: translateY(-50%);
}
.question_div {
    position: absolute;
    width: 40%;
    background: RGBA(246, 217, 108,.8);
    height: 80%;
    top: 10%;
    right: -45%;
    border-radius: 5vmin;
    font-size: 2vw;
    opacity: 0;
    animation: move_left 1s ease-in forwards;
}
@keyframes move_left {
  to{
    opacity: 1;
    right: 0;
  }
}
.main_question {
    position: absolute;
    font-family: comfortaa;
    width: 90%;
    left: 5%;
    top: 10%;
}
.option1 {
    position: absolute;
    font-family: sniglet;
    width: 70%;
    left: 15%;
    top: 40%;
    background: #0B5394;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    border: .5vmin solid #0B5394;
    cursor: pointer;
    font-size: 1.5vw;
}
.option2 {
    position: absolute;
    font-family: sniglet;
    width: 70%;
    left: 15%;
    top: 60%;
    background: #0B5394;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    border: .5vmin solid #0B5394;
    cursor: pointer;
    font-size: 1.5vw;
}
.option1:hover,.option2:hover{
  background: #9FC5E8;
  border-color: #3D85C6;
  color: #434343;
  transition: .2s;
}
.sp-2 {
    position: absolute;
    width: 23%;
    height: 24%;
    left: 35%;
    top: 31%;
    font-size: 1.8vw;
    opacity:0;
    animation:widthchange .5s ease-in forwards;
}
.sp-2 > p {
    position: absolute;
    width: 65%;
    left: 19%;
    top: 36%;
    transform: translateY(-50%);
}
@keyframes widthchange {
  to{
    opacity: 1;
  }
}
@media (min-aspect-ratio: 4/3){
	.sp-1,.sp-2{
		font-size: 3.5vmin;
	}
  .question_div{
    font-size: 4vmin;
  }
  .option2,.option1{font-size: 3vmin;}
}
