.wrapper
{
  width: 100%;
  height: 100%;
  position: relative;
   background: url(../images/bg_ex.jpg) no-repeat 100% 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text{
        height: 100%;
    position: relative;
   
}

.wholetext
{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 7%;
    font-weight: bold;
    color: #ffffff;
    opacity: 0.95;
}

@media screen and (min-aspect-ratio: 4/3) { 
	 .wholetext {
		 font-size: 3.56vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) { 
	 .wholetext {
		 font-size: 3vw;
	 }
}