.climate_change {
  width      : 100%;
  height     : 100%;
  position   : relative;
  overflow   : hidden;
  font-size  : 1.3em;
  background : #fff;
  box-shadow : inset 0 0 30px #f2f2f2;
}

.climate_change, .climate_change * {
  position : relative;
  margin   : 0;
  padding  : 0;
}

.climate_change .nextBtn{
  display : none;
  position  : absolute;
  bottom    : 0%;
  right     : 0%;
  width     : 7%;
  height    : 10%;
}

.climate_change .prevBtn{
  display : none;
  position  : absolute;
  bottom    : 0%;
  left      : 0%;
  width     : 7%;
  height    : 10%;
}


.subwrapper{
  position: relative;
  width: 100%;
}

.titlebar {
    x background: #FF595B;
}
.title {
    position: absolute;
       text-align: center;
    background: #FF595B;
    color: #ffffff;
    margin-top: 0%;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    width: 97.3%;
    margin-left: 1.4%;
    z-index: 10;
    font-size: 1.5em;
}

.center{
	margin-top: 20%;
}

.coverboardfull{
	position: relative;
	height: 100%;
	width: 100%;
}

.context
{
    text-align:center;
}
.question1{
    font-size: 19pt !important;
}
.question2,.question3, .question4, .question5, .question6, .question7,.question8,.question9,.question10,.question11,.question12,.question13,.question14,.question15,.exercise_button
{
    display:none;
    font-size: 19pt !important;
}
span:hover
{
    cursor:pointer;
}
.exercise_button{
    position: relative;
  left: 427px;
  top: -7px;
  background: white;
  color: black;
}
.button_next {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 7%;
    height: 11%;
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:99;
    }

.button_next:hover {
  background-image: url("../../../../../images/arrows/arrow_hover.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.yes:hover, .no:hover {
    cursor : pointer;
    background:#FDB94E;
    color:#ffffff;
    border-radius:5px;
     transform: scale(1.1);
}
.yes, .no
{
    transition: all .2s ease-in-out;
}

.yes,.no
{
    xcolor:#ffffff !important;
    font-weight : 900;
}

.con
{
  height: 88%;
}

.content_choose
{
  height: 100%;
}

.question1
{
    position: absolute;
    margin-top: 20%;
    width: 100%;
    right: 4%;
    color: #ffffff;
    z-index: 99999;
    height: 100%;
}

.q2
{
  position: absolute;
    margin-top: 17%;
    width: 100%;
    right: 3%;
    color: #000000;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.q3
{
    position: absolute;
    margin-top: 20%;
    width: 100%;
    right: 3%;
    color: #000000;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.q4
{
   position: absolute;
    margin-top: 25%;
    width: 100%;
    right: -5%;
    color: #ffffff;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.q5
{
       position: absolute;
    margin-top: 8%;
    width: 100%;
    right: 1%;
    color: #000000;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.q6
{
       position: absolute;
    margin-top: 8%;
    width: 100%;
    right: 1%;
    color: #000000;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.q7
{
    position: absolute;
    margin-top: 8%;
    width: 100%;
    right: 1%;
    color: #000000;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.q8
{
    position: absolute;
    margin-top: 8%;
    width: 100%;
    right: 1%;
    color: #000000;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.q9
{
    position: absolute;
    margin-top: 8%;
    width: 100%;
    right: 1%;
    color: #000000;
    z-index: 99999;
    font-size: 1.7em;
    font-weight: 700;
    height: 100%;
}

.correct{
  color: #009933;
}

.incorrect{
  color: #D00000;
}

.finish{
    background: #ff595b none repeat scroll 0 0;
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 1.4%;
    margin-top: 0;
    padding: 1.5% 1% 1%;
    position: absolute;
    text-align: center;
    width: 97.3%;
    z-index: 9999;
}

.span1
{
    position: absolute;
    margin-top: -9%;
    left: 11%;
    font-size: 6.8vmin;
    color: #37A2EA;
}

.span2
{
    position: absolute;
    font-size: 5vmin;
    left: 9%;
    margin-top: 1%;
    color: #FF595B;
}

.span3
{
    position: absolute;
    left: 10%;
    margin-top: 8%;
    width: 42%;
    font-size: 5vmin;
    color: #FF595B;
}

.span4
{
    position: absolute;
    margin-top: -9%;
    left: 11%;
    font-size: 6.8vmin;
    color: #37A2EA;
}

.span5
{
    position: absolute;
    font-size: 4vmin;
    left: 9%;
    margin-top: 1%;
    color: #FF595B;
    left: 14%;
}

.span6
{
    position: absolute;
    left: 10%;
    margin-top: 8%;
    width: 66%;
    font-size: 3.5vmin;
    color: #FF595B;
}

.span7
{
    position: absolute;
    margin-top: -12%;
    left: 11%;
    font-size: 4.8vmin;
    color: #37A2EA;
}

.span8
{
    position: absolute;
    font-size: 3vmin;
    left: 9%;
    margin-top: 1%;
    color: #FF595B;
    left: 14%;
}

.span9
{
    position: absolute;
    left: 6%;
    margin-top: 6%;
    width: 60%;
    font-size: 2.8vmin;
    color: #FF595B;
    text-align: justify
    line-height: 1.2;
}
.span10
{
    position: absolute;
    margin-top: -15%;
    left: 11%;
    font-size: 4.8vmin;
    color: #37A2EA;
}

.span11
{
    position: absolute;
    font-size: 3vmin;
    left: 9%;
    margin-top: -8%;
    color: #FF595B;
    left: 8%;
}

.span12
{
    position: absolute;
    left: -2%;
    margin-top: -2%;
    width: 62%;
    font-size: 2.8vmin;
    color: #FF595B;
    xtext-align: justify;
}


.span13
{
    position: absolute;
    margin-top: 4%;
    left: 16%;
    font-size: 4.8vmin;
    color: #37A2EA;
}

.span14
{
    position: absolute;
    font-size: 3.5vmin;
    left: 9%;
    margin-top: 11%;
    color: #FF595B;
    left: 15%;
}

.span15
{
    position: absolute;
    left: 6%;
    margin-top: 19%;
    width: 58%;
    font-size: 3vmin;
    color: #FF595B;
    xtext-align: justify;
}

.span16
{
    position: absolute;
    margin-top: 1%;
    left: 16%;
    font-size: 4.8vmin;
    color: #37A2EA;
}

.span17
{
    position: absolute;
    font-size: 3.5vmin;
    left: 9%;
    margin-top: 7%;
    color: #FF595B;
    left: 15%;
}

.span18
{
    position: absolute;
    left: 8%;
    margin-top: 14%;
    width: 58%;
    font-size: 3vmin;
    color: #FF595B;
    xtext-align: justify;
}

.span19
{
    position: absolute;
    margin-top: 1%;
    left: 8%;
    font-size: 4.8vmin;
    color: #37A2EA;
}

.span20
{
    position: absolute;
    font-size: 3.5vmin;
    left: 9%;
    margin-top: 7%;
    color: #FF595B;
    left: 15%;
}

.span21
{
    position: absolute;
    left: 8%;
    margin-top: 14%;
    width: 58%;
    font-size: 3vmin;
    color: #FF595B;
    xtext-align: justify;
}

.span22
{
    position: absolute;
    margin-top: 1%;
    left: 17%;
    font-size: 4.8vmin;
    color: #37A2EA;
}

.span23
{
    position: absolute;
    font-size: 3.5vmin;
    left: 4%;
    margin-top: 7%;
    color: #FF595B;
    left: 15%;
}
