@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}
.coverbg{
	top:0;
	left:0;
	height:100%;
	width:100%;
}
.round_off {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.round_off, .round_off * {
	position: relative;
	margin: 0;
	padding: 0;
}

.round_off .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.round_off .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main_bg {
	background: -webkit-linear-gradient(top, #47A0E5, #9AC3E0, #C5D6E2);; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #47A0E5, #9AC3E0, #C5D6E2);; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #47A0E5, #9AC3E0, #C5D6E2);; /* For Fx 3.6 to 15 */
    background: linear-gradient(top, #47A0E5, #9AC3E0, #C5D6E2); /* Standard syntax (must be last) */
	background-color: #d6faff;
	background-size: cover;
}


/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */



/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/



/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
	margin-top: 1%;
	height: 100%;
	width: 100%;
	/*border   : 1px solid green; */
}


.text_qna {
	position: absolute;
	top: 36%;
	z-index: 50;
	border-radius: 3%/18%;
	font-size: 3vmin;
	padding: 2%;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	width: 30%;
	background-color: #C3EEFF;
}
.text_qna1 {
	position: absolute;
	top: 36%;
	z-index: 50;
	border-radius: 3%/18%;
	font-size: 3.8vmin;
	padding: 2%;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	width: 30%;
	background-color: rgba(255, 233, 127, 0.8);
}
.text_banana {
	left: 5%;
}

.text_watermelon {
	right: 5%;
	/*A17FFF*/
}
.bananashop{
	position: absolute;
	top: 90%;
	height: 5%;
	width: 11%;
	font-weight: bold;
}
.watermelonshop {
	position: absolute;
	top: 90%;
	height: 5%;
	width: 13%;
	font-weight: bold;
	left: 87%;
}
.text_answer {
	cursor: pointer;
	position: absolute;
	top: 40%;
	z-index: 50;
	border-radius: 2vmin;
	font-size: 3vmin;
	padding: 1%;
	text-align: center;
	width: 20%;
	color: white;
	border: 0.3vmin solid white;
	background-color: #7B74D4;
}

.text_answer:hover {
	background-color: #FABD15;
	/*transform: translate(0%, -2%) scale(1.05, 1.05);
	filter: drop-shadow(0px 0px 0px white);*/
}

.its_hidden {
	display: none;
}

.text_1, .text_2, .text_3 {
	display: none;
}

.lesson_intro {
	position: relative;
	top: 10%;
	width: 90%;
	left: 5%;
	z-index: 20;
	border: 0.3vmin solid black;
}

.reason_block {
	position: absolute;
	top: 3%;
	width: 70%;
	left: 15%;
	z-index: 50;
	text-align: center;
	background-color: rgba(255, 233, 127, 0.8);
}

.lesson_intro_data {
	line-height: 1.6;
	font-size: 4.2vmin;
}


.text_reason {
	z-index: 15;
	line-height: 2;
	font-size: 3.5vmin;
}


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s linear 3s forwards;
	-webkit-animation: appear 3s linear 3s forwards;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s linear 1 forwards;
	-webkit-animation: disappear 3s linear 1 forwards;
}

.grow {
	animation: grow 1s linear 2;
	-webkit-animation: grow 1s linear 2;
}

@-webkit-keyframes
disappear {
0%   {opacity: 1;}
100% {opacity: 0;}
}
@keyframes
disappear {
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes
glow {
0%   {filter: drop-shadow(0px 0px 0px yellow);}
50% {filter: drop-shadow(0px 0px 5px black);}
100% {filter: drop-shadow(0px 0px 0px yellow);}
}
@keyframes
glow {
0%   {filter: drop-shadow(0px 0px 0px yellow);}
50% {filter: drop-shadow(0px 0px 5px black);}
100% {filter: drop-shadow(0px 0px 0px yellow);}
}

@-webkit-keyframes
grow {
0% {transform: translate(0%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 0px white);}
50% {transform: translate(0%, 0%) scale(1.02, 1.02); filter: drop-shadow(0px 0px 0px black);}
100% {transform: translate(0%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 0px white);}
}
@keyframes
grow {
0% {transform: translate(0%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 0px white);}
50% {transform: translate(0%, 0%) scale(1.02, 1.02); filter: drop-shadow(0px 0px 0px black);}
100% {transform: translate(0%, 0%) scale(1, 1); filter: drop-shadow(0px 0px 0px white);}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

div.droppableblock {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 20%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */

.spriteblock {
	position: absolute;
	width: 8%;
	height: 8%;
	bottom: 21%;
	left:5%;
}

.tiny_elephant {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/tiny_elephant.png");
	background-size: 600% 100%;
	background-position: 0% 0%;
}

.rotated{
	transform : rotate(-21deg);
}

.antirotated{
	transform : rotate(21deg);
}

.elephant_sit {
	position: absolute;
	z-index: 13;
	bottom: 1%;
	right: 40%;
	width: 20%;
	height: 30%;
}
.walking {
	-webkit-animation: walking 0.5s step(5) infinite forwards;
	animation: walking 0.5s steps(5) infinite forwards;
}
@-webkit-keyframes
walking {
100% {background-position: -500% 0%;}
}
@keyframes
walking {
100% {background-position: -500% 0%;}
}

.banana_stall {
	position: absolute;
	z-index: 11;
	left: 0%;
	bottom: 14%;
	width: 10%;
}
.watermelon_stall {
	position: absolute;
	z-index: 11;
	right: 0%;
	bottom: 14%;
	width: 10%;
}

.elephant_radar {
	position: absolute;
	z-index: 5;
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	bottom: 10%;
	width: 96%;
}

.moon {
	position: absolute;
	z-index: 10;
	right: 10%;
	top: 5%;
	width: 6%;
	opacity: 0.75;
}
.cloud_0 {
	position: absolute;
	z-index: 10;
	right: 0%;
	bottom: 65%;
	width: 10%;
	opacity: 0.75;
}

.cloud_1 {
	position: absolute;
	z-index: 10;
	right: 60%;
	bottom: 80%;
	width: 15%;
	opacity: 0.75;
}

.cloud_2 {
	position: absolute;
	z-index: 10;
	right: 35%;
	bottom: 55%;
	width: 13%;
	opacity: 0.75;
}

/*animation 1*/
.stop_animation_1{
	animation: stop_animation_1 linear 6s forwards;
	-webkit-animation: stop_animation_1 linear 6s forwards;
}

@-webkit-keyframes
stop_animation_1 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
82% {transform: rotate(-21deg); left:45%;bottom:46%;}
83% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 51.5%; bottom:43.3%;}
}
@keyframes
stop_animation_1 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
82% {transform: rotate(-21deg); left:45%;bottom:46%;}
83% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 51.5%; bottom:43.3%;}
}

/*animation 2*/
.stop_animation_2{
	animation: stop_animation_2 linear 7s forwards;
	-webkit-animation: stop_animation_2 linear 7s forwards;
}

@-webkit-keyframes
stop_animation_2 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
70% {transform: rotate(-21deg); left:45%;bottom:46%;}
71% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 60%; bottom:37.5%;}
}
@keyframes
stop_animation_2 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
70% {transform: rotate(-21deg); left:45%;bottom:46%;}
71% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 60%; bottom:37.5%;}
}

/*animation 3*/
.stop_animation_3{
	animation: stop_animation_3 linear 8s forwards;
	-webkit-animation: stop_animation_3 linear 8s forwards;
}

@-webkit-keyframes
stop_animation_3 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
62% {transform: rotate(-21deg); left:45%;bottom:46%;}
63% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 68%; bottom:31.8%;}
}
@keyframes
stop_animation_3 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
62% {transform: rotate(-21deg); left:45%;bottom:46%;}
63% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 68%; bottom:31.8%;}
}

/*animation 4*/
.stop_animation_4{
	animation: stop_animation_4 linear 9s forwards;
	-webkit-animation: stop_animation_4 linear 9s forwards;
}

@-webkit-keyframes
stop_animation_4 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
55% {transform: rotate(-21deg); left:45%;bottom:46%;}
56% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 75.5%; bottom:26.7%;}
}
@keyframes
stop_animation_4 {
0%   {transform: rotate(-21deg); left:5%;bottom:18.5%;}
55% {transform: rotate(-21deg); left:45%;bottom:46%;}
56% {transform: rotate(21deg); left:45%; bottom:47.8%;}
100% {transform: rotate(21deg);left: 75.5%; bottom:26.7%;}
}

/*animation 5*/
.to_shop_1{
	animation: to_shop linear 4s forwards;
	-webkit-animation: to_shop linear 4s forwards;
}
.to_shop_2{
	animation: to_shop linear 3s forwards;
	-webkit-animation: to_shop linear 3s forwards;
}
.to_shop_3{
	animation: to_shop linear 2s forwards;
	-webkit-animation: to_shop linear 2s forwards;
}
.to_shop_4{
	animation: to_shop linear 1s forwards;
	-webkit-animation: to_shop linear 1s forwards;
}

@-webkit-keyframes
to_shop {
100% {transform: rotate(21deg);left: 85%; bottom:20%;}
}
@keyframes
to_shop {
100% {transform: rotate(21deg);left: 85%; bottom:20%;}
}
/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
 .lesson-title {
 	position: absolute;
 	color: #354156;
 	font-size: 10vmin;
 	z-index: 99;
 	left: 50%;
 	/* top: 50%; */
 	transform: translate(-50%,-50%);
 	height: 5%;
 	font-family: sniglet;
 	width: 52%;
 }

.utextblock {
	position: absolute!important;
	top: 25%;
	width: 100%;
}
.green_bottom_layer{
	position: absolute;
	bottom: 0%;
	background-color:#7AB656;
	height: 14%;
	width: 100%;
}

.correct_answer_tick_l{
	display: none;
	position: absolute;
	width: 4%;
	height: 5%;
	top: 41%;
	left: 13%;
	background-image: url('../../../../../images/correct.png');
	background-size: 100% 100%;
}
.correct_answer_tick_r{
	display: none;
	position: absolute;
	width: 4%;
	height: 5%;
	top: 41%;
	right: 13%;
	background-image: url('../../../../../images/correct.png');
	background-size: 100% 100%;
}
.incorrect_ans{
	display: none;
	position: absolute;
	width: 4%;
	height: 6%;
	top: 38%;
	left: 13%;
	background-image: url('../../../../../images/wrongicon.png');
	background-size: 100% 100%;
}

/*====================================
 =           Question Div            =
 ====================================*/


/*=====  End of Question Div  ======*/

/*=====  End of Custom Style  ======*/
