@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.this_that {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.this_that, .this_that * {
	position: relative;
	margin: 0;
	padding: 0;
}

.this_that .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.this_that .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg_main {
	background-image: url("../images/bg.png");
	background-size: cover;
}
.bg_main_2 {
	background-image: url("../images/bg2.jpg");
	background-size: 200% 100%;
	background-position: 0% 100%;
}

.its_hidden {
	display: none;
}

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/* ==== Additional Activity Specific Header Class ==== */

.header_laila {
	font-family: 'Laila';
	font-size: 3.7vmin!important;
	color: #D31D67;
}
@font-face {
	font-family: 'Laila'; /*a name to be used later*/
	src: url('Laila-Regular.ttf'); /*URL to font*/
	Laila-Semibold
}
@font-face {
	font-family: 'Laila-Bold'; /*a name to be used later*/
	src: url('Laila-Semibold.ttf'); /*URL to font*/
}
.font_purple {
	color: #762CA5 !important;
}


/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*====================================
 =            SpeechBoxBlock            =
 ====================================*/

.sound_icon {
	z-index: 110;
	position: absolute;
	width: 10%;
	top: 5%;
	right: 3%;
}
.sound_icon_flipped {
	z-index: 110;
	position: absolute;
	width: 10%;
	top: 5%;
	left: 3%;
	transform: rotateY(180deg);
}

.speechboxblock {
	width: 100%;
	height: 100%;
	z-index: 50;
}

.speech_div {
	width: 24%;
	height: 13.6%;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	/*filter: drop-shadow(0px 0px 1px #0094FF);*/
}
.speech_div>label{
	cursor: pointer;
}

.speech_1 {
	bottom: 51%;
	left: 42%;
	background-image: url("../images/textbox/textbox_2.png");
	background-size: 100% 100%;
	transition: 0.3s ease-in-out;
}
.speech_1:hover {
	transform: translate(2%, -2%) scale(1.05, 1.05);
	background-image: url("../images/textbox/textbox_2_hover.png")!important;
	background-size: 100% 100%;
}

.girl_text_1 {
	left: 2%!important;
}
.speech_2 {
	bottom: 51%;
	left: 42%;
	background-image: url("../images/textbox/textbox_3.png");
	background-size: 100% 100%;
	transition: 0.3s ease-in-out;
}
.speech_2:hover {
	transform: translate(2%, -2%) scale(1.05, 1.05);
	background-image: url("../images/textbox/textbox_3_hover.png")!important;
	background-size: 100% 100%;
}

.granny_text_1 {
	left: 74%!important;
}
.granny_text_2 {
	left: 42%!important;
}
.granny_text_3 {
	left: 28%!important;
}


.conversation{
	position: absolute;
	bottom: 3%;
	left: 5%;
	width: 90%;
	height: 30%;
	text-align: center;
}
/*----------------------------------
 |			Animations			   |
 -------------------------------- */

.blink_and_big {
	animation: blink_2_big infinite 1s;
	-webkit-animation: blink_2_big infinite 1s;
}

@-webkit-keyframes
blink_2_big {
0%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
50%   {transform: scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px black);}
100%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
}
@keyframes
blink_2_big {
0%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
50%   {transform: scale(1.05, 1.05); filter: drop-shadow(0px 0px 5px black);}
100%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 1px white);}
}

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border   : 1px solid green; */
}



/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 1s;
	-webkit-animation: appear 1s;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	/*border     : 1px solid green; */
}

div.droppableblock {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 20%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson_title {
	position: absolute;
	color: #FF6A65;
	font-size: 5em;
}
.intro_block_middle {
	position: absolute;
	z-index: 100;
	width: 40%;
	bottom: 70%;
	padding: 1.5%;
	border-radius: 3vmin;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.lesson_intro {
	position: relative;
	background-color: #D9D2E9;
	color: black;
	border-radius: 3vmin;
	padding: 5%!important;
	margin-top: 10%;
	font-size: 3.3vmin;
}
.highlight_blue{
	color:#6D9EEA;
}
.highlight_red{
	color:#C27BA0;
}
.highlight_purple{
	color:#C255FF;
	font-size: 3.6vmin;
}
.speech_content_1{
	font-size: 2.6vmin;
}
/*Images*/
/*common images*/
.granny_intro{
	position: absolute;
	z-index: 30;
	height: 60%;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}
.girl {
	position: absolute;
	z-index: 30;
	height: 40%;
	bottom: 10%;
}
.girl_flipped {
	transform: rotateY(180deg);
	position: absolute;
	z-index: 30;
	height: 40%;
	bottom: 10%;
}
.girl_sprite{
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	background-image: url("../images/girl_walk.png");
	background-size: 300% 100%;
	background-position: 0% 0%;
}
.spriteblock {
	position: absolute;
	z-index: 30;
	height: 40%;
	width: 14%;
	bottom: 10%;
}

.granny {
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	background-image: url("../images/granny_sprite.png");
	background-size: 600% 100%;
	background-position: 0% 0%;
}
.granny_flipped {
	position: absolute;
	z-index: 30;
	height: 40%;
	bottom: 10%;
	transform: rotateY(180deg);
}

.hand {
	z-index: 25;
	position: absolute;
	width: 7.5%;
	bottom: 33.5%;
}

/*girl positions*/
.position_1{
	left: 3%;
}
.hand_left{
	left: 11%;
	transform-origin: top left;
	transform: rotate(30deg);
}
.hand_left_top{
	left: 11%;
	transform-origin: top left;
	transform: rotate(0deg);
}

/*granny positions*/
.g_position_1{
	left: 100%;
}
.g_position_2{
	left: 85%;
}
.g_position_3{
	left: 42%;
	transform: rotateY(180deg);
}
.g_position_4{
	left: 26%;
}
.g_position_5{
	left: 26%;
	transform: rotateY(180deg);
}

.walking {
	-webkit-animation: walking 1.5s step(5) infinite forwards;
	animation: walking 1.5s steps(5) infinite forwards;
}
@-webkit-keyframes
walking {
100% {background-position: -500% 0%;}
}
@keyframes
walking {
100% {background-position: -500% 0%;}
}

.walking_2 {
	-webkit-animation: walking_2 .8s step(2) infinite forwards;
	animation: walking_2 .8s steps(2) infinite forwards;
}
@-webkit-keyframes
walking_2 {
100% {background-position: -200% 0%;}
}
@keyframes
walking_2 {
100% {background-position: -200% 0%;}
}

.comes_in {
	-webkit-animation:  comes_in 3s linear forwards;
	animation: comes_in 3s linear forwards;
}
@-webkit-keyframes
comes_in {	
	100% {left: 85%;}
}
@keyframes
comes_in {
	100% {left: 85%;}
}
.comes_middle {
	-webkit-animation:  comes_middle 6s linear forwards;
	animation: comes_middle 6s linear forwards;
}
@-webkit-keyframes
comes_middle {
	99% {left: 42%;transform:rotateY(0deg);}
	100% {left: 42%; transform:rotateY(180deg);}
}
@keyframes
comes_middle {
	99% {left: 42%;transform:rotateY(0deg);}
	100% {left: 42%; transform:rotateY(180deg);}
}
.comes_bench {
	-webkit-animation:  comes_bench 3s linear forwards;
	animation: comes_bench 3s linear forwards;
}
@-webkit-keyframes
comes_bench {
	0% {left: 42%;transform:rotateY(0deg);}
	99% {left: 26%;transform:rotateY(0deg);}
	100% {left: 26%; transform:rotateY(0deg);}
}
@keyframes
comes_bench {
	0% {left: 42%;transform:rotateY(0deg);}
	99% {left: 26%;transform:rotateY(0deg);}
	100% {left: 26%; transform:rotateY(0deg);}
}
/*objects*/
.tree{
	position: absolute;
	z-index: 10;
	height: 60%;
	bottom: 18%;
	right: 4%;
}

.apple{
	position: absolute;
	z-index: 20;
	height: 7.5%;
	bottom: 45%;
	right: 11%;
}

.bench{
	position: absolute;
	height: 24%;
	bottom: 13%;
	left: 14%;
}

.bird{
	z-index: 15;
	position: absolute;
	height: 12%;
	top: 12%;
	right: 14%;
}

.flower_in_pot {
	position: absolute;
	z-index: 23;
	bottom: 32%;
	height: 10%;
	left: 19%;
}

.flower_pot {
	position: absolute;
	z-index: 20;
	bottom: 26%;
	width: 5%;
	left: 20%;
}

.restro {
	position: absolute;
	z-index: 20;
	bottom: 20%;
	width: 35%;
	left: 162%;
}
.restro_1 {
	left: 62%!important;
}

.highlightobject {
	animation: highlightobject infinite 1s;
	-webkit-animation: highlightobject infinite 1s;
}

@-webkit-keyframes
highlightobject {
0%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 10px #fff730);}
50%   {transform: scale(1.02, 1.02); filter: drop-shadow(0px 0px 10px #f9f8d6);}
100%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 10px #fff730);}
}
@keyframes
highlightobject {
0%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 10px #fff730);}
50%   {transform: scale(1.02, 1.02); filter: drop-shadow(0px 0px 10px #f9f8d6);}
100%   {transform: scale(1, 1); filter: drop-shadow(0px 0px 10px #fff730);}
}

.butterfly {
	position: absolute;
	z-index: 5000;
	left: 100%;
	height: 10%;
	top: 35%;
}
.butterfly2 {
	left: 88%!important;
	transform:translateY(150%) rotateY(180deg);
}
.butterfly_move {
	-webkit-animation:  butterfly_move 1.5s cubic-bezier(.25,.75,.56,1)  forwards, move_butterfly_x 1.5s linear forwards;
	animation: butterfly_move 1.5s cubic-bezier(.25,.75,.56,1) forwards, move_butterfly_x 1.5s linear forwards;
}
@-webkit-keyframes
butterfly_move {	
	0% {transform:rotateY(180deg);}
	100% {transform: translateY(150%) rotateY(180deg);}
}
@keyframes
butterfly_move {
	0% {transform:rotateY(180deg);}
	100% {transform: translateY(150%) rotateY(180deg);}
}

@-webkit-keyframes
move_butterfly_x {
	100% {left: 88%;}
}
@keyframes
move_butterfly_x {
	100% {left: 88%;}
}

.butterfly_move2 {
	-webkit-animation:  butterfly_move2 5s cubic-bezier(.68,.16,.31,1)  forwards, move_butterfly_x2 5s linear forwards;
	animation: butterfly_move2 5s cubic-bezier(.68,.16,.31,1) forwards, move_butterfly_x2 5s linear forwards;
}
@-webkit-keyframes
butterfly_move2 {	
	0% {transform:translateY(150%) rotateY(180deg);}
	100% {transform: translateY(-350%) rotateY(180deg);}
}
@keyframes
butterfly_move2 {
	0% {transform:translateY(150%) rotateY(180deg);}
	100% {transform: translateY(-350%) rotateY(180deg);}
}

@-webkit-keyframes
move_butterfly_x2 {
	0% {left: 88%;}
	100% {left: -10%;}
}
@keyframes
move_butterfly_x2 {	
	0% {left: 88%;}
	100% {left: -10%;}
}

.highlightbutterfly {
	animation: highlightbutterfly infinite 1s;
	-webkit-animation: highlightbutterfly infinite 1s;
}

@-webkit-keyframes
highlightbutterfly {
0%   {filter: drop-shadow(0px 0px 10px red);}}
50%   {filter: drop-shadow(0px 0px 10px #57007F);}}
100%   {filter: drop-shadow(0px 0px 10px red);}}
}
@keyframes
highlightbutterfly {
0%   {filter: drop-shadow(0px 0px 10px red);}}
50%   {filter: drop-shadow(0px 0px 10px #57007F);}}
100%   {filter: drop-shadow(0px 0px 10px red);}}
}

/*to restaurant*/
.bg_move {
	animation: bg_move 1 linear 6s forwards;
	-webkit-animation: bg_move 1 linear 6s forwards;
}
@-webkit-keyframes
bg_move {
100%   {background-position: 100% 0%;}
}
@keyframes
bg_move {
100%   {background-position: 100% 0%;}
}

.tree_move {
	animation: tree_move 1 linear 6s forwards;
	-webkit-animation: tree_move 1 linear 6s forwards;
}
@-webkit-keyframes
tree_move {
100%   {right: 104% ;}
}
@keyframes
tree_move {
100%   {right: 104% ;}
}

.apple_move {
	animation: apple_move 1 linear 6s forwards;
	-webkit-animation: apple_move 1 linear 6s forwards;
}
@-webkit-keyframes
apple_move {
100%   {right: 111% ;}
}
@keyframes
apple_move {
100%   {right: 111% ;}
}

.bird_move {
	animation: bird_move 1 linear 6s forwards;
	-webkit-animation: bird_move 1 linear 6s forwards;
}
@-webkit-keyframes
bird_move {
100%   {right: 114% ;}
}
@keyframes
bird_move {
100%   {right: 114% ;}
}

.bench_move {
	animation: bench_move 1 linear 6s forwards;
	-webkit-animation: bench_move 1 linear 6s forwards;
}
@-webkit-keyframes
bench_move {
100%   {left: -86% ;}
}
@keyframes
bench_move {
100%   {left: -86% ;}
}

.pot_move {
	animation: pot_move 1 linear 6s forwards;
	-webkit-animation: pot_move 1 linear 6s forwards;
}
@-webkit-keyframes
pot_move {
100%   {left: -80% ;}
}
@keyframes
pot_move {
100%   {left: -80% ;}
}

.flower_move {
	animation: flower_move 1 linear 6s forwards;
	-webkit-animation: flower_move 1 linear 6s forwards;
}
@-webkit-keyframes
flower_move {
100%   {left: -81% ;}
}
@keyframes
flower_move {
100%   {left: -81% ;}
}

.restro_move {
	animation: restro_move 1 linear 30s forwards;
	-webkit-animation: restro_move 1 linear 30s forwards;
}
@-webkit-keyframes
restro_move {
100%   {left: 62% ;}
}
@keyframes
restro_move {
100%   {left: 62% ;}
}
/*=====  End of Custom Style  ======*/
