.cream_bg{
	background: #FAD270;
}
.textblock{
	height: 100%;
	width: 100%;
}
.chaptertitle {

    position: absolute;
    font-size: 4.5vw;
    font-family: happymonkey;
    top: 13%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background: #a17c6b;
    color: white;
    padding: 1%;
    border-radius: 1vmin;
    width: 60%;

}
.bg_full {

    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;

}
.duck {

    position: absolute;
    width: 20%;
    top: 52%;
    left: 21%;
    z-index: 2;

}
.speechbox {

    position: absolute;
    width: 60%;
    height: 41%;
    left: 28%;
    top: 9%;

}

.text_inside_box {

    font-size: 2.8vw;
    font-family: sniglet;

}

.top_text {
    position: absolute;
    font-size: 2.5vw;
    font-family: sniglet;
    z-index: 2;
    width: 100%;
    color: white;
    background: #de561c;
    padding: .5%;
    top: 0;
    left: 0;
    height: 10%;
}

.duck2 {

    position: absolute;
    width: 20%;
    top: 56%;
    left: 4%;
    z-index: 2;

}


.left_text {

    position: absolute;
    font-size: 2.5vw;
    font-family: abeezee;
    z-index: 2;
    color: white;
    transform: translate(-50%,-50%);
    left: 37%;
    top: 50%;

}

.line {

    position: absolute;
    border-right: .5vmin solid white;
    z-index: 2;
    height: 50%;
    left: 61%;
    top: 24%;

}

.right_text {

    position: absolute;
    font-size: 3vw;
    font-family: abeezee;
    z-index: 2;
    color: white;
    transform: translate(-50%,-50%);
    left: 76%;
    top: 32%;

}

.disc-1 ,.disc-2,.disc-3,.disc-4,.disc-5,.disc-6,.disc-7,.disc-8,.disc-9,.disc-10{

    position: absolute;
    width: 6%;
    z-index: 2;
    top: 39%;
    left: 63%;

}

.disc-2,.disc-6,.disc-10 {

    left: 70%;

}

.disc-3,.disc-7 {

    left: 77%;

}

.disc-4,.disc-8 {

    left: 84%;

}

.disc-9,.disc-10 {
    top: 63%;
}
.disc-5,.disc-6,.disc-7,.disc-8 {
    top: 51%;
}

.text_inside_box1 {

    font-size: 2.4vw;
    font-family: sniglet;

}
.sp-2 {
    position: absolute;
    width: 60%;
    height: 41%;
    left: 35%;
    top: 29%;
}

.numbers {

    position: absolute;
    z-index: 2;
    font-size: 3vw;
    background: #5772e6;
    color: white;
    width: 6%;
    border: .5vmin solid #5772e6;
    border-radius: 1vmin;
    top: 10%;
    left: 41%;
    font-family: abeezee;
		cursor: pointer;

}
.numbers:hover {
	border-color: #e69138;
	background: #f6b26b;
	transition: .2s;
}
.number-2{
	left: 51%;
}
.number-3{
	left: 61%;
}
.number-4{
	left: 71%;
}
.number-5{
	left: 81%;
}

.main_table_div {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: #ffdd7e;
    top: 50%;
    left: 50%;
		transform: translate(-50%,-50%);
}
.table_div {
    height: 90%;
    position: absolute;
    z-index: 5;
    border: #a17c6b;
    width: 100%;
    left: 0;
    top: 10%;
}
table {
    z-index: 5;
    border-color: #a17c6b;
    height: 100%;
}
tr {
    height: 9%;
    border: .3vmin solid #a17c6b;
		cursor: pointer;
}
td {

    border: .3vmin solid #a17c6b;
    font-size: 1.8vw;
    font-family: abeezee;
    text-align: center;
    z-index: 10;

}
tr td:first-child, tr td:last-child {
    width: 23%;
}
tr:hover {
    background:#23b1a5;
}

.insideimage {
    width: 8%;
}
.toptext {
    background: #e95280;
    width: 100%;
    font-size: 2vw;
    height: 10%;
    color: white;
    padding-top: 1%;
    font-family: abeezee;
}
.crossbutton {
    z-index: 6;
    position: absolute;
    height: 8%;
    top: 1%;
    right: 1%;
    cursor: pointer;
}
.crossbutton:hover{
	transform: scale(1.1);
	transition: .2s;
}

.fadein{
	animation: fade 1s ease-in forwards;
}
@keyframes fade {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}

}
@media (min-aspect-ratio: 4/3){
	.chaptertitle{
		font-size: 7.5vmin;
	}

	.text_inside_box,.right_text,.numbers{
		font-size: 6vmin;
	}

	.top_text,.left_text{
		font-size: 5.2vmin;
	}
	.text_inside_box1{
		font-size: 5vmin;
	}
	.toptext{
		font-size: 4.5vmin;
	}
	td{
		font-size: 3.1vmin;
	}
}
