@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main_bg{
	background-color: #A8DBA4;
	/*background: radial-gradient(#80CBC4, #00695C);*/
}
.main_bg_2{
	background-color: #78C269;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
}


.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s;
	-webkit-animation: appear 3s;
}

@-webkit-keyframes
appear {
	100% {opacity: 1;}
}
@keyframes
appear {
	100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s;
	-webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
	100% {opacity: 0;}
}
@keyframes
disappear {
	100% {opacity: 0;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	font-size: 5em;
}
.coverboard{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.text_1{
	position: absolute;
	left: 50%;
	top: 33%;
	width: 65%;
	transform: translateX(-50%);
	color: black;
}
.text_2{
	position: absolute;
	left: 50%;
	bottom: 20%;
	width: 65%;
	transform: translateX(-50%);
	color: black;
}
.text_3{
	position: absolute;
	left: 50%;
	bottom: 3%;
	width: 65%;
	transform: translateX(-50%);
	color: black;
}

.thumbs{
	height: 18%;
}
.thumb_1{
	position: absolute;
	bottom: 73%;
	right: 65%;
}
.thumb_2{
	position: absolute;
	bottom: 73%;
	right: 52%;
}
.thumb_3{
	position: absolute;
	bottom: 73%;
	left: 52%;
}
.thumb_4{
	position: absolute;
	bottom: 73%;
	left: 65%;
}
.thumb_5{
	position: absolute;
	bottom: 32.5%;
	left: 50%;
	transform: translateX(-50%);
}


.bottom_ins{
	z-index: 2;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	background-color: #76CEDB;
}

.help_mom{
	position: absolute;
	bottom: 0%;
	width: 100%;
	left: 50%;
	z-index: 25;
	transform: translateX(-50%);
}
/*for roads*/
.road_h{
	position: absolute;
	height: 7%;
	left: 0%;
	width: 100%;
	background-color: #434343;
}
.road_h_1{
	left: 18%;
	width: 65%;
	top: 8%;
}
.road_h_2{
	top: 32%;
}
.road_h_3{
	top: 60%;
}
.road_v{
	position: absolute;
	width: 5%;
	left: 0%;
	height: 100%;
	background-color: #434343;
}
.road_v_1{
	left: 18%;
}
.road_v_2{
	left: 40%;
}
.road_v_3{
	left: 61%;
}
.road_v_4{
	left: 80%;
}

/*------- for houses --------*/
.house{
	position: absolute;
	width: 13%;
	z-index: 5;
}
.house_1{
	left: 5%;
	bottom: 21%;
}
.house_2{
	left: 24%;
	bottom: 68%;
}
.house_3{
	left: 47%;
	bottom: 68%;
}
.house_4{
	left: 67%;
	bottom: 40%;
}
.bubble-head-text{
	cursor: pointer;
	position: absolute;
	border-radius: 1.5;
	background-color: #FF7E3A;
	bottom: 3%;
	left: 14%;
	height: 16%;
	width: 10%;
	z-index: 18;
}

.bubble-head{
	position: absolute;
	bottom: 0%;
	left: 2%;
	width: 10%;
	z-index: 20;
}

.slider_text{
	width: 20%;
	height: 8%;
	bottom: 1%;
	padding: 2%;
	background-color: #FF7E3A;
	border: 2px solid #FFFFFF;
	color: white;
	border-radius: 1vmin;
	left: 12%;
	z-index: 5;
	text-align: center;
	/*transition: 1s ease-in;*/
	overflow: hidden;
	z-index: 5;
}
.slider_text>p{
	position: absolute;
	width: 85%;
	top: 50%;
	transform: translateY(-50%);
}

.arrow{
	position: absolute;
	width: 10%; 
	left: 50%;
	transform: translateX(-50%);
	bottom: 52%;
	z-index: 5;
}
.car{
	position: absolute;
	width: 2%;
	height: 7.25%;
	left: 44%;
	bottom: 21%;
	z-index: 6;
	transition: 2s linear;
}
.bottom_arrows{
	cursor: pointer;
	position: absolute;
	width: 5%; 
	bottom: 1%;
	z-index: 6;
}
.central_arrow{
	left: 50%;
	transform: translateX(-50%);
}
.central_arrow_left{
	left: 50%;
	transform: translateX(-175%);
}
.central_arrow_right{
	left: 50%;
	transform: translateX(75%);
}
.central_arrow:hover{
	transform: translateX(-50%) scale(1.1);
}
.central_arrow_left:hover{
	transform: translateX(-175%) scale(1.1);
}
.central_arrow_right:hover{
	transform: translateX(75%) scale(1.1);
}

.highlight_image{
	animation: highlight_image 1s infinite;
	-webkit-animation: highlight_image 1s infinite;
}
@-webkit-keyframes
highlight_image {
	50% {filter: drop-shadow(0px 0px 5px white); opacity: 0.8;}
}
@keyframes
highlight_image {
	50% {filter: drop-shadow(0px 0px 5px white); opacity: 0.8;}
}

.blinks {
	animation: blinks 1s ease-in 2;
	-webkit-animation: blinks 1s ease-in 2;
}

@-webkit-keyframes
blinks {
	50% {opacity: 0%;}
}
@keyframes
blinks {
	50% {bottom: 0%;}
}

.bg_map{
	position: absolute;
	top: 0%;
	height: 100%;
	width: 100%;
	left: 0%;
}
.location{
	position: absolute;
	bottom: 30%;
	width: 8%;
	left: 30%;
	z-index: 6;
	animation: jump 1s ease-in infinite;
	-webkit-animation: jump 1s ease-in infinite;
}

@-webkit-keyframes
jump {
	50% {transform: opacity(0.75);}
}
@keyframes
jump {
	50% {transform: opacity(0.75);}
}

.location_0{
	bottom: 79%;
	left: 17%;
}
.location_1{
	bottom: 79%;
	left: 75%;
}
.location_2{
	bottom: 79%;
	left: 92%;
}
.location_3{
	bottom: 79%;
	left: 63.5%;
}
.location_4{
	bottom: 53%;
	left: 92%;
}

.ask_question{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 100;
	animation: scale_out 0.5s both;
	-webkit-animation: scale_out 0.5s both;
}

@-webkit-keyframes
scale_out {
	0% {transform: scale(0.1);}
}
@keyframes
scale_out {
	0% {transform: scale(0.1);}
}
.go_b{
	display: none;
}
.start-pick{
	/*display: none;*/
}

.d_reached{
	position: absolute;
	text-align: center;
	bottom: 40%;
	left: 50%;
	transform: translate(-50%, 0%);
	color: #F7F7F7;
}

.disabled_div{
	pointer-events: none!important;
}


.text-animation{
	animation: text-animation 0.7s infinite;
	-webkit-animation: text-animation 0.7s infinite;
}
@-webkit-keyframes
text-animation {
	50% {transform: scale(0.9);}
}





.block_purple{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	height: 50%;
	border-radius: 3vmin;
	background: #7D6EC6;
	transform: translate(-50%, -50%);
}
.block_purple>p{
	position: relative;
	display: inline;
	top: 20%;
	width: 40%;
	left: 0%;
	color: #fff;
}
.name-input{
	position: relative;
	top: 20%;
	margin-left: 2%;
	width: 40%;
	color: white;
	background: transparent;
	border: none;
	border-bottom: 0.5vmin dashed #fff;
}
.button-yellow{
	position: absolute;
	padding: 1%;
	background-color: #FFE830;
	border: 0.5vmin solid #5CCCFD;
	border-radius: 1vmin;
}
.button-yellow:hover{
	background-color: #FFBC13; 
}

.button-1{
	bottom: 10%;
	right: 5%;
}


.block_image{
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	border-radius: 3vmin;
	background: rgba(255,255,255, 0.9);
}
.block_image>p{
	margin: 2% 0%;
}
.block_image-1>p{
	position: relative;
	top: 20%;
	left: 55%;
	width: 60%;
}
.block_image-2>p{
	position: relative;
	top: 30%;
	left: 65%;
	width: 60%;
}
.block_image-3>p{
	position: relative;
	top: 40%;
	left: 65%;
	width: 60%;
}
.block_image-4>p{
	position: relative;
	top: 15%;
	left: 65%;
	width: 60%;
}
.block_image-5>p{
	position: relative;
	top: 30%;
	left: 65%;
	width: 60%;
}

.miniblock{
	position: absolute;
	width: 30%;
	height: 30%;
	border-radius: 3vmin;
	background: rgba(255,255,255, 0.95);
}
.miniblock-1{
	top: 35%;
	left: 35%;
}
.miniblock>p{
	position: absolute;
	top: 20%;
	width: 90%;
	margin: 2% 0%;
}

.button-blue{
	position: absolute;
	padding: 2%;
	background-color: #43BEE7;
	color: white;
	border: 0.5vmin solid #FFC600;
	border-radius: 1vmin;
}
.button-blue:hover{
	background-color: #1FD0E7;
}
.button-2{
	position: absolute;
	top: 55%;
	left: 49%;
}
.button-3{
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}
.girl-left{
	position: absolute;
	height: 40%;
	bottom: 5%;
	left: 10%;
}
.group-bottom{
	position: absolute;
	bottom: 2%;
	height: 35%;
	left: 42%;
}
.art-top{
	position: absolute;
	top: 5%;
	left: 45%;
	height: 22%;
}
.taxi-bot{
	position: absolute;
	bottom: 5%;
	left: 60%;
	transform: rotate(90deg);
	height: 40%;
}

.drop-pick{
	display: none;
	position: absolute;
	top: 35%;
	left: 30%;
}




.replay_t{
	display: none;
	z-index: 10;
	border-radius: 2vmin;
	width: 60%;
	left: 20%;
	background-color: rgba(255,255,255, 0.95);
	height: 50%;
	top: 25%;
}
.replay_t>p{
	position: absolute;
	top: 30%;
	width: 90%;
}
.button-yes{
	width: 20%;
	position: absolute;
	bottom: 20%;
	left: 25%;
}
.button-no{
	width: 20%;
	position: absolute;
	bottom: 20%;
	left: 55%;
}

.location-anim-1{
	animation: location-anim-1 1s linear forwards;
}
@keyframes
location-anim-1 {
	100% { transform: translate(-60%, 50%) scale(0); z-index: 0;  }
}

.location-anim-2{
	animation: location-anim-2 1s linear forwards;
}
@keyframes
location-anim-2 {
	100% { transform: translate(-10%, -5%) scale(0); z-index: 0;  }
}

.location-anim-3{
	animation: location-anim-3 1s linear forwards;
}
@keyframes
location-anim-3 {
	100% { transform: translate(30%, -5%) scale(0); z-index: 0;  }
}

.location-anim-4{
	animation: location-anim-4 1s linear forwards;
}
@keyframes
location-anim-4 {
	100% { transform: translate(20%, -5%) scale(0); z-index: 0; }
}

.location-anim-end{
	animation: location-anim-end 1.5s linear both;
}
@keyframes
location-anim-end {
	0% {bottom: 20%; left:40.5%; transform: scale(0); z-index: 0;}
	40% { bottom: 20%; left:35.5%; transform: scale(1); z-index: 2.5; }
	60% { bottom: 20%; left:35.5%; transform: scale(1); z-index: 2.5; }
	100% { bottom: 20%; left:30.5%; transform: scale(0); z-index: 5; }
}


/*=====  End of Custom Style  ======*/
