@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main_bg{
	background-color: #A8DBA4;
	/*background: radial-gradient(#80CBC4, #00695C);*/
}
.main_bg_2{
	background-color: #78C269;
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
}


.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s;
	-webkit-animation: appear 3s;
}

@-webkit-keyframes
appear {
	100% {opacity: 1;}
}
@keyframes
appear {
	100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s;
	-webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
	100% {opacity: 0;}
}
@keyframes
disappear {
	100% {opacity: 0;}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
	color: #FF6A65;
	font-size: 5em;
}
.center-text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}
.coverboard{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.description{
	color: #455A64;
}
.bottom_ins{
	z-index: 2;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 22%;
	background-color: #76CEDB;
}
.bottom_ins>p{
	position: absolute;
	left: 60%;
	width: 35%;
	top: 50%;
	transform: translateY(-50%);
}
/*for roads*/
.road_horizontal{
	background-color: #434343;
	width: 100%;
	left: 0%;
	height: 15%;
	top: 40%;
	transform: translateY(-50%);
	position: absolute;
}
.road_vertical{
	background-color: #434343;
	width: 8%;
	left: 50%;
	transform: translateX(-50%);
	height: 75%;
	top: 15%;
	position: absolute;
}
.restaurant{
	position: absolute;
	width: 18%;
	left: 8%;
	bottom: 67.5%;
	z-index: 5;
}
.school{
	position: absolute;
	width: 25%; 
	left: 50%;
	transform: translateX(-50%);
	bottom: 84%;
	z-index: 5;
}
.cinema{
	position: absolute;
	width: 18%; 
	left: 75%;
	bottom: 67.5%;
	z-index: 5;
}
.arrow{
	position: absolute;
	width: 10%; 
	left: 50%;
	transform: translateX(-50%);
	bottom: 52%;
	z-index: 5;
}
.car{
	position: absolute;
	width: 4%; 
	left: 48%;
	bottom: 30%;
	z-index: 6;
}
.central_arrow{
	cursor: pointer;
	position: absolute;
	width: 10%; 
	left: 50%;
	transform: translateX(-50%);
	bottom: 2%;
	z-index: 6;
}
.central_arrow:hover{
	transform: translateX(-50%) scale(1.1);
}

.highlight_image{
	animation: highlight_image 1s infinite;
	-webkit-animation: highlight_image 1s infinite;
}
@-webkit-keyframes
highlight_image {
	50% {filter: drop-shadow(0px 0px 5px white); opacity: 0.8;}
}
@keyframes
highlight_image {
	50% {filter: drop-shadow(0px 0px 5px white); opacity: 0.8;}
}


.go_up {
	animation: go_up 2s ease-in forwards;
	-webkit-animation: go_up 2s ease-in forwards;
}

@-webkit-keyframes
go_up {
	100% {bottom: 67%;}
}
@keyframes
go_up {
	100% {bottom: 67%;}
}


.go_left {
	-webkit-animation: go_left 3s forwards linear;
	animation: go_left 3s forwards linear;
}

@-webkit-keyframes
go_left {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 43%; transform: rotate(-90deg);}
	100% {bottom: 53%; left: 15%; transform: rotate(-90deg);}
}
@keyframes
go_left {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 43%; transform: rotate(-90deg);}
	100% {bottom: 53%; left: 15%; transform: rotate(-90deg);}
}

.go_right {
	-webkit-animation: go_right 3s forwards linear;
	animation: go_right 3s forwards linear;
}

@-webkit-keyframes
go_right {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 53%; transform: rotate(90deg);}
	100% {bottom: 53%; left: 80%; transform: rotate(90deg);}
}
@keyframes
go_right {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 53%; transform: rotate(90deg);}
	100% {bottom: 53%; left: 80%; transform: rotate(90deg);}
}

.grassbg {
    background: url("../images/7ae2e7d4cc3bda7c6a61ea10144f3240.jpg");
    background-size: 26% 20%;
}

/*=====  End of Custom Style  ======*/
