<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
   $cssLoader("css/common.css");
   $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">  
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>  
    <div class="board">    </div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
   
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
           
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if uppertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if uppertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}



           {{#if extratextblock}}
           {{#each extratextblock}}
                <div class="{{textdiv}}">
                  <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
                </div>
           {{/each}}
           {{/if}}

            {{#if imageblock}}
                <div class="imageblock {{imageblockadditionalclass}}">
                    {{#if imageblocknocenteradjust}}
                        <div class="vertical-horizontal-center">
                    {{/if}}
                        {{#each imageblock}}
                            {{#if imgcontainerdiv}}
                                <div class="{{imgcontainerdiv}}">
                            {{/if}}
                                {{> imagecontent}}
                            {{#if imgcontainerdiv}}
                                </div>
                            {{/if}}
                        {{/each}}
                    {{#if imageblocknocenteradjust}}
                        </div>
                    {{/if}}
                </div>
            {{/if}}

            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if lowertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if lowertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            
             {{! if there is any dialog window in the page--}}
		    	{{#each containsdialog}}
		    		<div class="{{dialogcontainer}}">
		    			<img class="{{dialogimageclass}}" src="{{dialogimagesrc}}" id="{{imgid}}"/>
		    			<p class="{{dialogcontentclass}}">{{{dialogcontent}}}</p>
		    		</div>
		    		
		    	{{/each}}
		    {{! end of dialog window template}}

            
        </div>

        {{#if exerciseblock}}
            {{#each exerciseblock}}
              {{#if quesimg}}
                    <img src="{{ques_img}}" class="questionimg">
                    {{/if}}

                    <div class="optionsdiv">
                    {{#each exeoptions}}
                        <div class="optionscontainer {{forshuffle}}">
                            <p class="forhover buttonsel {{forshufflecls}}">{{optdata}}</p>

                            <img src="images/correct.png" class="imagestartpos corctopt">

                            <img src="images/wrong.png" class="imagestartpos wrngopt">

                            
                        </div>
                    {{/each}}
                  {{/each}}
            {{/if}}
    </div>
    {{! content block end--}}
</div>
</script>

<!-- partials separated as subtemplate in handlebars -->

<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}" id="{{imgid}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>


<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>