.bg-green{
	background-color: #7FCDBB;
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}
.first-text{
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0%;
	color: black;
	font-family: chelseamarket;
	font-size: 3.1vw;
}
@media (min-aspect-ratio:4/3){
	.first-text{
		font-size: 4.2vh;
	}
}
.center-text{
	position: absolute;
	top: 40%;
	transform: translateY(-35%);
	width: 100%;
	left: 0%;
	color: black;
	font-family: chelseamarket;
	font-size: 3.3vw;
}
.center-text1{
	top: 50%;
	display: none;
}
.center-text2{
	display: none;
}
@media (min-aspect-ratio:4/3){
	.center-text{
		font-size: 4.4vh;
	}
}
.diy-text{
	position: absolute;
	bottom: 55%;
	width: 100%;
	left: 0%;
	color: black;
	font-weight: bold;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-size: 8vw;
}
@media (min-aspect-ratio:4/3){
	.diy-text{
		font-size: 10vh;
	}
}




#triangle-svg{
	position: absolute;
	right: 5%;
	bottom: 55%;
	width: 30%;
	height: 33%;
}
svg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.roti{
	position: absolute;
	left: 7%;
	bottom: 55%;
	width: 20%;
}
.pencil{
	position: absolute;
	left: 31%;
	bottom: 70%;
	width: 30%;
}

.pencil-1, .roti-2, .roti-3, .roti-4{
	display: none;
}

.no-dash{
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
}
.line-anim{
	 animation: line-anim 2s linear forwards;
}
@keyframes line-anim {
	99% {stroke-dashoffset: 0; opacity: 1;}
	100% {stroke-dashoffset: 0; opacity: 1;}
}

.transition-class{
	transition: 1s linear;
	transition-delay: 500ms;
}





.dd-text{
	position: absolute;
	bottom: 7.5%;
	left: 7%;
	width: 65%;
	padding: 1% 0%;
	border-radius: 2vmin;
	border: 0.3vmin solid #72779C;
	background-color: #EEEEEE;
	color: #87421F;
	font-size: 2.4vw;
	font-family: happymonkey;
}
@media (min-aspect-ratio:4/3){
	.dd-text{
		font-size: 3.3vh;
	}
}




.drag-1, .drag-2, .drag-3{
	position: absolute;
	color: #000000;
	cursor: grab;
	bottom: 5%;
	width: 7%;
	border: 0.5vmin solid black;
	background-color: white;
	font-size: 4vh;
}
.dragblock{
	transform: translateY(-6%);
}
.fraction2{
	transform: translateY(-0%);
}
@media (min-aspect-ratio){
	.drag-1, .drag-2, .drag-3{
		font-size: 4.2vh;
	}
}
.pos-1{
	right: 2%;
}
.pos-2{
	right: 11%;
}
.pos-3{
	right: 20%;
}

.dropblock{
	position: absolute;
	width: 7.5%;
	height: 20%;
	background-color: #FFF;
	border: 0.5vmin solid black;
}
.dropblock>p{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}
.dropblock span{
	border-color:white;
}
.drop-1{
	left: 13%;
	top: 51%;
}
.drop-2{
	left: 42%;
	top: 37%;
}
.drop-3{
	left: 76.5%;
	top: 50%;
}






.bg-light{
	background-color: #EAD1DC;
}
.click-ins{
	position: absolute;
	top: 50%;
	left: 2.5%;
	width: 95%;
	border: 0.5vmin solid #B45F06;
	background-color: #EEEEEE;
	color: black;
	border-radius: 2vmin;
	font-size: 3.4vw;
}
@media (min-aspect-ratio:4/3){
	.click-ins{
		font-size: 4.5vh;
	}
}
.big-frac{
	position: absolute;
	color: black;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1%;
	font-size: 8vw;
	font-family: happymonkey;
}
.big-frac .fraction2{
	transform: translateY(0%);
}
@media (min-aspect-ratio:4/3){
	.big-frac{
		font-size: 9vh;
	}
}

#center-svg{
	position: absolute;
	bottom: 52.5%;
	height: 45%;
	left: 50%;
	transform: translateX(-50%);
}
#center-rect{
	position: absolute;
	bottom: 60%;
	height: 30%;
	width: 35%;
	left: 50%;
	display: flex;
	flex-flow: row wrap;
	transform: translateX(-50%);
	border: 0.3vmin solid black;
}
.rect-block{
	cursor: pointer;
	position: relative;
	width: 20%;
	height: 50%;
	border: 0.3vmin solid black;
}
.rect-block:hover{
	background-color: #CFE2F3;
}




#fill-1, #fill-2, #fill-3{
	cursor: pointer;
}


.check-btn{
	position: absolute;
	top: 25%;
	cursor: pointer;
	transform: translateY(-50%);
	padding: 0.5% 2%;
	left: 70%;
	border-radius: 2vmin;
	border: 0.5vmin solid #D0E0E3;
	background-color: #45818E;
	color: white;
	font-size: 3.5vw;
}
@media (min-aspect-ratio:4/3){
	.check-btn{
		font-size: 4.6vh;
	}
}
.check-btn:hover{
	background-color: #6AA0AC;
}
