<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="minerals_activity">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!-- occurrence template -->
<script id="occurrence-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}}">
        {{#if imageblock}}
            <div class="imageblock {{textblockadditionalclass}}">
                {{#each imageblock}}
                    <img src="{{imgsrc}}">
                {{/each}}
            </div>
        {{/if}}
        {{#if uppertextblock}}
            <div class="textblock {{textblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}        
        {{#if occurrenceblock}}
            <div class="occurrenceblock">
                {{#each occurrenceblock}}
                    {{> occurrencecontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate for occurrence template -->
<script id="textcontent-partial" type="text/x-handlebars-template">
        <p class="{{textclass}}" data-highlight="{{datahighlightflag}}">{{{textdata}}}</p>    
</script>

<script id="occurrencecontent-partial" type="text/x-handlebars-template">
    <p class="occurrenceobjectname">{{{occurrenceobjectnamedata}}}</p>
    <div class="occurrenceobjectdetails">
        <div class="occurrenceobjectimage">
            <img class="vertical-center" src="{{occurrenceobjectimgsrc}}">           
        </div>
        <div class="occurrenceobjectuse">
            <div class="vertical-center">
                <div class="occurrenceobjectuseimages">
                    {{#each occurrenceobjectuseimageblock}}
                        <img src="{{this}}">                
                    {{/each}}
                </div>    
                <p class="occurrenceobjectusetext">{{{occurrenceobjectusedata}}}</p>
            </div>
        </div>    
        <div class="occurrenceobjectlocation">
            <div class="vertical-center">
                <div class="occurrenceobjectlocationimages">
                    {{#each occurrenceobjectlocationimageblock}}
                        <img src="{{this}}">                
                    {{/each}}
                </div>    
                <p class="occurrenceobjectlocationtext">{{{occurrenceobjectlocationdata}}}</p>
            </div>
        </div>
    </div>
    <div class="useoccurrencebutton">
        <div class="usebutton" data-isclicked="" ><b data-notificationcontent="{{notficationcontent}}" data-usernotification="notifyuser">{{usebuttondata}}</b></div>
        <div class="occurrencebutton" data-isclicked=""><b data-notificationcontent="{{notficationcontent}}" data-usernotification="notifyuser">{{occurrencebuttondata}}</b></div>  
    </div>

</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>