<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="minerals_activity">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="imageslideout-template" type="text/x-handlebars-template" >
	<div class="imageslideout">
		<div class="imagecontainer">
			{{#each slidingimages}}
				<img class="{{slideclass}}" src="{{imgsrc}}"/>
			{{/each}}
		</div>
		<div class="textcontainer">
			{{#each slideouttext}}
				<p class="{{slideouttextclass}}">{{slideouttextdata}}</p>
			{{/each}}
		</div>
	</div>
</script>

<script id="definitionproperty-template" type="text/x-handlebars-template" >
	{{#if definitionblock}}
		<div class="definitionblock">
			{{#each definitionblock}}
				{{> definitioncontent}}
			{{/each}}
		</div>
	{{/if}}
    {{#if flipimageblock}}
    	{{#each flipimageblock}}
		    <div class="flipimageblock">
		        {{#each flipcontent}}
		            {{> flipcontent}}
		        {{/each}}
		    </div>
	    {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
		<b>{{definitionheadingdata}}</b><br/>
		<p data-highlight="{{datahighlightflag}}">{{{definitioncontentdata}}}</p>
</script>

<!-- flipcontent partial change the content inside frontpane and backpane as required and handlebar content as such -->
<script id="flipcontent-partial" type="text/x-handlebars-template">
    <div class="flipcontainer flipcontainerhas{{flipcontentcount}}flippers" data-isclicked="">
	    <div class="flipper">
			<div class="frontpane">
				{{#each frontpanecontent}}
	    			<img class="imageinsidepane" src="{{frontfaceimgsrc}}">
	    		{{/each}}
	    		<img class="imageclickmeicon" src="images/clickme_icon.png">
	  		</div>
			<div class="backpane">
				<ul class="highlightexplain vertical-center">
					{{#each backpanecontent}}
						<li>{{{this}}}</li>
					{{/each}}
				</ul>
	  		</div>
	    </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>