html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
@font-face {
    font-family:shortstack;
    src: url(../../../../../fonts/shortstack.ttf);
}
p{
  margin: 0;
}
.contentwithbg {
  width: 100%;
  height: 100%;
  background: url("../images/introduction-slide.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.page1-bg {
  background-color: #FAF6EA;
}

.nextBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
}

.prevBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
}

.myNextStyle {
  cursor: pointer;
  background-image: url("../images/arrows/arrow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.myNextStyle:hover {
  background-image: url("../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
  background-image: url("../images/arrows/arrow_active.png");
}

.myPrevStyle {
  cursor: pointer;
  background-image: url("../images/arrows/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.myPrevStyle:hover {
  background-image: url("../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
  background-image: url("../images/arrows/arrow_active_prev.png");
}

.board {
  position: relative;
  top: 0%;
  left: 0%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.vertical-horizontal-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

.coverboardfull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.generalTemplateblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*border   : 1px solid red; */
}

div.headerblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 20%;
  background-color: #E3D0DA;
  color: #CE00A7;

  /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
  top: 20%;
  height: 80%;
  position: absolute;
  width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
  top: 0%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.definitionblock {
    position: absolute;
    left: 2%;
    width: 40%;
    top: 15%;
    font-family: shortstack;
}

.definition {
  font-size: 3.2vmin;
  text-align: left;
  padding: 1% 0;
  line-height: 142%;
}

.highlightbg {
  background: #FFD966;
  box-sizing: border-box;
  padding: 3% 4%;
}

.definition> span {
  color: rgb(244, 46, 135);
}

.canvasblock {
  position: absolute;
  height: 70%;
  width: 70%;
  left: 15%;
  top: 25%;
  z-index: 100;
}
.canvasblock > canvas {
  z-index: 100;
  /*border: 3px solid red;*/
}

.float-text-1 {
  display: none;
    width: 38%;
    font-size: 3.5vmin;
    right: 10%;
    position: absolute;
    top: 66%;
    color: orangered;
}

.float-text-2 {
  display: none;
  width: 25%;
  font-size: 4.5vmin;
  left: 39%;
  position: absolute;
  top: 66%;
  color: orangered;
}

.float-text-3 {
  display: none;
  width: 25%;
  font-size: 4.0vmin;
  left: 50%;
  position: absolute;
  top: 71%;
  color: orangered;
}

.blue-text {
  color: #0095CF;
}

.pink-text {
  color: #F21199;
}

.opening-bg {
  background-color: #FAF6EA;
}

.chapter-title {
  color: #FFFFFF;
  font-size: 4vw;
  text-align: center;
  background: #00CADC;
  position: absolute;
  width: 100%;
  top: 33%;
  text-shadow: 0px 1px 2px #444444;
  padding: 3% 0;
}


.lesson-title {
  color: #FFFFFF;
  font-size: 4vw;
  text-align: center;
  background: #93C47D;
  z-index: 10;
}


/*  images */
.image-item {
  position: absolute;
  top: 30%;
}

.image-item img {
  width: 100%;
  height: 100%;
}

.image-item:first-child {
  left: 22%;
  width: 13%;
  height: 30%;
}
.image-item:nth-child(2) {
  right: 20%;
  width: 20%;
  height: 22%;
}
.image-item:nth-child(3) {
  top: 65%;
  left: 15%;
  width: 30%;
  height: 25%;
}
.image-item:nth-child(4) {
  top: 65%;
  right: 20%;
  width: 20%;
  height: 21%;
}

.imgclick-item {
  position: absolute;
  width: 3%;
  height: auto;
  top: 30%;
}

.imgclick-item:nth-child(5) {
  top: 40%;
  left: 27%;
}
.imgclick-item:nth-child(6) {
  top: 40%;
  right: 27%;
}
.imgclick-item:nth-child(7) {
  top: 78%;
  left: 27%;
}
.imgclick-item:nth-child(8) {
  top: 78%;
  right: 27%;
}

.imgclick-item .handicon {
  width: 100%;
  position: relative;
  cursor: pointer;
  z-index: 99999
}

.imgclick-item .handicon:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

/*Proctractor Image*/
.proImg {
  position: absolute;
  width: 25%;
  display: none;
}


.proImg1 {
  left: 11.3%;
  top: 33.2%;
  transform: rotate(17deg);
}
.proImg2 {
    right: 28.3%;
    top: 31.4%;
    transform: rotate(-9deg);
}
.proImg3 {
    left: 11.6%;
    top: 69.4%;
    transform: rotate(-0.9deg);
}
.proImg4 {
  right: 27.3%;
  top: 65.3%;
  transform: rotate(0deg);
}

/*Answer checker*/
.ansImg {
  position: absolute;
  width: 4%;
}
.rigImg1, .wrnImg1 {
  position: absolute;
  top: 32%;
  left: 38%;
  display: none;
}
.rigImg2, .wrnImg2 {
  position: absolute;
  top: 25%;
  right: 10%;
  display: none;
}
.rigImg3, .wrnImg3 {
  position: absolute;
  top: 65%;
  left: 38%;
  display: none;
}
.rigImg4, .wrnImg4 {
  position: absolute;
  top: 65%;
  right: 12%;
  display: none;
}

/*Right and wrong answer*/
.right-text1, .wrong-text1 {
  position:absolute;
  left: 23%;
  top: 60%;
  display: none;
}

.right-text2, .wrong-text2 {
  position: absolute;
  right: 23%;
  top: 55%;
  display: none;
}

.right-text3, .wrong-text3 {
  position: absolute;
  left: 28%;
  bottom: 5%;
  display: none;
}

.right-text4, .wrong-text4 {
  position:absolute;
  right: 23%;
  bottom: 8%;
  display: none;
}

/*degree*/
.deg {
  position: absolute;
  width: 6%;
  height: 5.5%;
  background: #43BEE7;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0.7%;
  border-radius: 10%;
  font-size: 1.4vw;
  z-index: 8888;
  cursor: pointer;
}

.deg:hover {
  background: #FABD15;
}

.ang1deg, .ang2deg, .ang3deg, .ang4deg {
  display: none;
}

.deg.greenColor {
  background: #4CAF50;
  display: none;
}

.deg.redColor {
  background: #D0553E;
}

/*Degree for first angle*/
.deg1 {
  top: 32%;
  left: 29%;
}
.deg2 {
  top: 40%;
  left: 27%;
}
.deg3 {
  top: 40%;
  left: 34%;
}

/*Degree for second angle*/
.deg4 {
  top: 30%;
  right: 18%;
}
.deg5 {
  top: 38%;
  right: 18%;
}
.deg6 {
  top: 34.5%;
  right: 10.5%;
}

/*Degree for third angle*/
.deg7 {
  top: 75%;
  left: 27%;
}
.deg8 {
  top: 67%;
  left: 24%;
}
.deg9 {
  top: 68%;
  left: 31%;
}

/*Degree for fourth angle*/
.deg10 {
  top: 74%;
  right: 25%;
}
.deg11 {
  top: 68%;
  right: 18%;
}
.deg12 {
  top: 76%;
  right: 17%;
}

.paper-bg {
  height: 75%;
  width: 95%;
  background-color: #f5f5f5;
  border: 2px solid #888888;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%);
  overflow: hidden;
}


.protractor {
  height: 35%;
  position: absolute;
  bottom: 62%;
  left: 45%;
  transform-origin: 50% 90%;
  transform: rotate(35deg);
 animation: makingdegree 6s ease-out 2s forwards, moveproc 2s ease-out 19s forwards;
}

@keyframes makingdegree {
  40%{
    transform: rotate(35deg);
    bottom: 37.2%;
    left: 6%;
  }

  80%{
    transform: rotate(35deg);
    bottom: 37.2%;
    left: 6%;
  }

  100%{
    transform: rotate(0deg);
    bottom: 37.2%;
    left: 6%;
  }
}


@keyframes moveproc {
  0%{
    transform: rotate(0deg);
    bottom: 37%;
    left: 6%;
  }
  100%{
    transform: rotate(0deg);
    bottom: 0%;
    left: -1%;
  }
}


.ruler {
  width: 96%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* animation: making-firstLine 4s 3s,
             making-secondLine 4s 16s; */
}

@keyframes making-firstLine {
  20%{
    bottom: 28%;
  }
  100%{
    bottom: 28%;
  }
}

@keyframes making-secondLine {
  50%{
    bottom: 44%;
    left: 6.2%;
    transform: rotateZ(50deg);
  }
  100%{
    bottom: 44%;
    left: 6.2%;
    transform: rotateZ(50deg);
  }
}

.paper-bg div, .paper-bg hr {
}

hr {
  border: 0;
  border-radius: 5px;
  height: 0.7%;
  width: 35%;
  background-color: #000000;
  position: absolute;
  padding: 0;
  margin: 0;
}

.straight-line {
  top: 59.8%;
  left: 33%;
  width: 35%;
  animation-fill-mode: forwards;
}

@keyframes draw1 {
  to{
    width: 35%;
  }
}

.degree-line {
    top: 60%;
    right: 32.3%;
    width: 35%;
    transform: rotate(-49deg);
    transform-origin: 0% 0%;
    animation-fill-mode: forwards;
}

@keyframes draw2 {
  to{
    width: 35%;
  }
}

.paper-bg div{
  background-color: #000;
  width: 1.2%;
  height: 1.7%;
  border-radius: 50%;
  position: absolute;
}

.first-dot {
  left: 67%;
  top: 59.3%;
}

.second-dot {
    left: 45.5%;
    top: 38%;
    opacity: 0;
    animation: showDot 6s 11s;
    animation-fill-mode: forwards;
    z-index: 10;
    background-color: red !important;
    width: 3.2% !important;
    height: 3.7% !important;
}

@keyframes showDot {
  0% { opacity: 1 }
  20% { opacity: 0 }
  40% { opacity: 1 }
  60% { opacity: 0 }
  80% { opacity: 1 }
  100% { opacity: 0 }
}

.arc {
  background: none !important;
  height: 6% !important;
  width: 5% !important;
  border: 2px solid #000;
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-left-color: transparent;
  border-bottom-color: transparent;
  left: 35%;
  bottom: 39%;
  opacity: 0;
  animation: showArc 1s 20s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
}

.degree {
  background: none !important;
  font-size: 2.5vmin;
  top: 52%;
  left: 41%;
  opacity: 0;
  animation: showArc 1s 20s;
  animation-fill-mode: forwards;
}
@keyframes showArc {
  to { opacity: 1 }
}

.mcqContainer{
  position: absolute;
  right: 0%;
  top: 0%;
  width: 40%;
  height: 100%;
}
.optionsblock{
  position: absolute;
  top: 50%;
  left: 0%;
  height: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mcqoptioncontainer{
  position: relative;
  height: 25%;
  width: 100%;
}
.optclass{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7b74d4;
  border: 6px solid #7b74d4;
  font-size: 4vh;
  padding: 2%;
  width: 31%;
  border-radius: .5em;
  color: #fff;
}
.optclass:hover{
  cursor: pointer;
  background: #f6b26b;
  border: 6px solid #e69138;
}
.corincor{
  position: absolute;
  width: 14%;
  left: 66%;
  top: 17%;
  display: none;
}
.qnImg{
  position: absolute;
  left: 2%;
  width: 61%;
  top: 0%;
}
.corAns{
  background: #98c02e;
  border: 6px solid #ff0;
  color: #fff;
  pointer-events: none;
}
.incorAns{
  background: #ff0000;
  border: 6px solid #980000;
  color: #000;
  pointer-events: none;
}
.mcqQn {
  font-size: 4vh;
  padding: 1%;
}

/* animatiobns from s2 to s6 */
.protratctor{
  position: absolute;
  top: 18%;
  width: 50%;
  left: 27%;
  z-index: 1;
}
.prot_s2_deformed{
  transform: rotate(36deg);
  left: 56%;
  animation: putProtAnim 3s linear 1s forwards;
}

@keyframes putProtAnim {
  100%{
    top: 23%;
    left: 19%;
  }
}
.prot_s3{
  transform: rotate(36deg);
  top: 23%;
  left: 19%;
  animation: rotateProt 3s linear 1s forwards;
}
@keyframes rotateProt {
  100%{
    transform: rotate(0deg);
    top: 18%;
    left: 12%;
  }
}
.prot_s4{
  transform: rotate(0deg);
  top: 18%;
  left: 12%;
}

.stLine{
  position: absolute;
  width: 30%;
  border: 3px solid #000;
  top: 70%;
  left: 37%;
}
.angledLine{
  position: absolute;
  border: 3px solid;
  width: 30%;
  transform: rotate(-50deg);
  top: 46%;
  left: 31.8%;;
}
.readInstrn{
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
}
.numCross{
  position: absolute;
  top: 36%;
  left: 49%;
  background: #f00;
  width: 2%;
  height: 4%;
  border-radius: 50%;
  opacity: 0;
  animation: blinkDot 1s linear 1s infinite;
}

@keyframes blinkDot {
  50%{
    opacity: 1;
  }
}







@media (min-aspect-ratio: 4/3) {
  .lesson-title{
    font-size: 7vh;
  }
  .mcqQn, .optclass, .readInstrn{
    font-size:4vh;
  }
}
@media (max-aspect-ratio: 4/3) {
  .lesson-title{
    font-size: 4vw;
  }
  .mcqQn, .optclass, .readInstrn{
    font-size:3vw;
  }
}
