html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}
@font-face {
    font-family:shortstack;
    src: url(../../../../../fonts/shortstack.ttf);
}
@font-face {
    font-family:pangolin;
    src: url(../../../../../fonts/Pangolin-Regular.ttf);
}
p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.page1-bg {
	background-color: #FAF6EA;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 100;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 100;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
	position: absolute;
	width: 100%;
}

.definitionblock {
	position: absolute;
	left: 5%;
	width: 40%;
	top: 20%;
	z-index: 110;
	font-family: shortstack;
}
.definition {
	font-size: 3.5vmin;
	display: none;
	text-align: left;
	padding: 1% 4%;	
}

.highlightbg {
	background: transparent;
	box-sizing: border-box;
	padding: 3% 4%;
	animation: bgFadeOut 3s;
	animation-fill-mode: forwards;
}

@keyframes bgFadeOut {
	0% { background: #FFE9A7; }
	40% { background: #FFE9A7; }
	100% { background: transparent; }
}

.definition> span {
	color: rgb(244, 46, 135);
}

.canvasblock {
	position: absolute;
	height: 70%;
	width: 70%;
	left: 15%;
	top: 25%;
	z-index: 100;
}
.canvasblock > canvas {
	z-index: 100;
	/*border: 3px solid red;*/
}

.float-text-1 {
	display: none;
    width: 38%;
    font-size: 3.5vmin;
    right: 10%;
    position: absolute;
    top: 66%;
    color: orangered;
}

.float-text-2 {
	display: none;
	width: 25%;
	font-size: 4.5vmin;
	left: 39%;
	position: absolute;
	top: 66%;
	color: orangered;
}

.float-text-3 {
	display: none;
	width: 25%;
	font-size: 4.0vmin;
	left: 50%;
	position: absolute;
	top: 71%;
	color: orangered;
}

.blue-text {
	color: #0095CF;
}

.pink-text {
	color: #F21199;
}

.opening-bg {
	background: url("../images/angles.jpg");
	background-size: cover;
}
.chapter-title {
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 10%;
    padding: 3% 0px;
    font-family: pangolin;
    transform: translateX(-50%);
    left: 48.5%;
}
.lesson-title {
	color: #FFFFFF;
	font-size: 3.5vw;
	text-align: center;
	background: #00CADC;
	box-shadow: 0px 5px 1px #A5D2DF;
	text-shadow: 0px 1px 2px #888888;
	padding: 0.6% 0;
}

/* Summary */
.angle-img, .bigangle-img, .smallangle-img {
	position: absolute;
	left: 10%;
	width: 90%;
}

.angle-label, .bigangle-label, .smallangle-label {
	position: absolute;
	color: #ff9976;
	top: 49%;
	left: 57%;
	font-size: 3vmin;
	width: 45%;
}

.image-item {
	position: absolute;
	/*border: 1px solid red;*/
	width: 30%;
	height: 36%;
	display: none;
}

.image-item:first-of-type {
	top: 5%;
	left: 35%;
}

.image-item:nth-of-type(2) {
	top: 40%;
	left: 10%;
}

.image-item:last-of-type {
	height: 12%;
	top: 65%;	
	right: 10%;
}

/*angles*/
.angle1, .angle2, .angle3 {
	position: absolute;
	font-size: 2.2vw;	
	opacity: 0;
	
}
.angle1 {
	right: 24%;
	top: 33%;
	animation: fadeIn, redBlink;
	animation-duration: 1s, 1s;
	animation-delay: 1s, 3.5s;
	animation-fill-mode: forwards, none;
}

.angle2 {
	right: 45%;
	top: 67%;
	animation: fadeIn, redBlink;
	animation-duration: 1s, 1s;
	animation-delay: 1s, 4.5s;
	animation-fill-mode: forwards, none;
}

.angle3 {
	right: 15%;
	top: 67%;
	animation: fadeIn, redBlink;
	animation-duration: 1s, 1s;
	animation-delay: 1s, 5.5s;
	animation-fill-mode: forwards, none;
}

@keyframes fadeIn {
	to { opacity:1; }
}

@keyframes redBlink {
	50% { color:#FF9A4A; transform: scale(1.3) }
	100% { color: #111111; transform: scale(1) }
}

.big-angle {
	position: absolute;
	left: 136%;
	width: 45%;
	font-size: 4vmin;
	top: 98%;
	padding: 2%;
	display: none;
}

.small-angle {
	position: absolute;
	left: 130%;
	width: 53%;
	font-size: 3.3vmin;
	top: 100%;
	display: none;
}
@media screen and (min-aspect-ratio: 4/3) { 
    /*vh*/
    .chapter-title
    {
        font-size: 9vh;
    }
}
/*end of angles*/