@font-face {
    font-family:shortstack;
    src: url("../../../../../fonts/shortstack.ttf");
}
.textblock{
    z-index: 99;
}
.title {
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    font-size: 3vw;
    font-family: shortstack;
    color: white;
}
.bg{
    background:rgb(221,126,107);
}
.toptext {
    font-family: shortstack;
    width: 100%;
    font-size: 2vw;
    top: 9%;
    color: white;
}
.inputtextbox {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-size: 1.5vw;
    width: 69%;
    font-family: shortstack;
    z-index: 99;
    color: white;
    text-align: left;
    left: 21%;
}
.leftimage {
    position: absolute;
    width: 15%;
    top: 33%;
    left: 32%;
}
.rightimage {
    position: absolute;
    width: 15%;
    left: 53%;
    top: 33%;
}
.question {
    position: absolute;
    font-size: 2vw;
    color: white;
    font-family: shortstack;
    width: 100%;
    top: 5%;
}
.centerimage {
    position: absolute;
    width: 47%;
    transform: translateX(-50%);
    left: 48%;
    top: 44%;
}
.opt1, .opt2, .opt3, .opt4 {
    position: absolute;
    color: white;
    font-family: shortstack;
    font-size: 1.5vw;
    background: #692d2d;
    padding: 1%;
    border-radius: .2em;
    cursor: pointer;
}
#nametext {
    margin-bottom: 2%;
    color: black !important;
    width: 36%;
}
#agetext {
    width: 14%;
    color: black !important;
    left: 4%;
    /*pointer-events: none;*/
}
.opt1 {
    top: 50%;
    left: 13%;
}
.opt2 {
    top: 50%;
    left: 33%;
}
.opt3 {
    top: 50%;
    left: 55%;
}
.opt4 {
    top: 50%;
    left: 75%;
}
.description1 {
    left: 35%;
    top: 18%;
}
.description2 {
    left: 54%;
    top: 18%;
}
.top1{
    top:25%;
}
.description1, .description2 {
    position: absolute;
    font-family: shortstack;
    font-size: 1.5vw;
    color: white;
    background: #2b5e83;
    padding: 1%;
    border-radius: .2em;
    cursor: pointer;
}
.fadein{
	animation: fade .7s ease-in forwards;
}
.fadein1{
	animation: fade .5s ease-in forwards;
}
.buttonsubmit {
    position: absolute;
    color: white;
    font-size: 2vw;
    font-family: shortstack;
    background: #75b021;
    padding: 1%;
    border-radius: .2em;
    box-shadow: 0.1em 0.1em 0.01em rgba(0,0,0,.3);
    cursor: pointer;
    left: 57%;
    top: 66%;
}
.buttonsubmit:hover{
    transform:scale(1.1);
    transition: .2s;
}
.description1:hover,.description2:hover,.opt1:hover,.opt2:hover,.opt3:hover,.opt4:hover{
    transform:scale(1.1);
    transition: .2s;
}
input[type="text"] {
    border: none;
    border-bottom: solid .2em rgb(122,138,4);
    transition: border 0.3s;
    text-align: center;
    margin-top: 3%;
    box-shadow: .1em .1em .1em .01em rgba(0,0,0,.2);
}


 input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid .2em rgb(137,176,211);
}
.aboutfriend {
    position: relative;
    color: white;
    font-family: shortstack;
    text-align: left;
    margin-top: 1%;
    font-size: 1.5vw;
    left: -5%;
}
.insideimage {
    position: relative;
    width: 78%;
}
.inputtextbox::placeholder{
    font-size: 1.5vw;
    color: black !important;
}
.friendsname {
    position: absolute;
    background: #94b341;
    width: 100%;
    bottom: 0;
    left: 0%;
    padding: 1%;
    font-size: 1.3vw;
    font-family: shortstack;
    color: white;
}
.inputtextbox:focus::placeholder{
    color: rgb(137,176,211);
    }
.bg_full {
    position: absolute;
    height: 101%;
    width: 100%;
    top: -2%;
    left: -1%;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@media (min-aspect-ratio: 4/3){

  .title,.toptext {
    font-size: 5vmin;
  }
  .inputtextbox,.opt1, .opt2, .opt3, .opt4,.aboutfriend{
    font-size: 3.5vmin;
  }
}
