@font-face {
    font-family:chelseamarket;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}
.textblock{
    z-index: 99;
}
.title, .description1, .description2 {
    font-size: 1.5vw;
    background: white;
    position: absolute;
    padding: 1%;
    border-radius: .4em;
    font-family: chelseamarket;
}
.leftimage {
    position: absolute;
    width: 14%;
    left: 21%;
    bottom: 20%;
}
.rightimage {
    position: absolute;
    width: 19%;
    right: 21%;
    bottom: 20%;
}
.description1 {
    bottom: 6%;
    transform: translateX(-50%);
    left: 30%;
}
.description2 {
    bottom: 6%;
    transform: translateX(-32%);
    left: 65%;
}
.fadein{
	animation: fade .7s ease-in forwards;
}
.fadein1{
	animation: fade .5s ease-in forwards;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@media (min-aspect-ratio: 4/3){

  .title, .description1, .description2 {
    font-size: 3.4vmin;
  }

}
