.girlschool{
	background: url("../images/sagarhouse.png") 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.onlyschoolbg{
	background: url("../images/sagarhouse01.png") 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.centergirl {
    position: absolute;
    width: 13%;
    left: 41%;
    top: 37%;
}
.descriptionclass::after {
    content: '\1f50a';
    color: white;
    position: absolute;
    top: 5%;
    right: 2.5%;
    font-size: 1.5vw;
}
.descriptionclass{
	position: absolute;
	color: white;
	font-family: sniglet;
	background: rgb(30,90,150);
	padding: 1%;
	font-size: 1.4vw;
	border-radius: .3em;
	cursor: pointer;
	z-index: 99;
	width: 30%;
}
.name{
    top: 40%;
    right: 66%;
}

.seconddesc {
    top: 55%;
    right: 66%;
}
.thirddesc {
    top: 73%;
    right: 66%;
}
.fourthdesc {
    left: 66%;
    top: 40%;
}
.fifthdesc {
    top: 55%;
    left: 66%;
}
.sixthdesc {
    top: 73%;
    left: 66%;
}


.a1, .a2, .a3, .a4, .a5, .a6 {
    position: absolute;
    width: 7%;
}
.a1 {
    top: 43%;
    right: 57%;
}
.a2 {
    top: 60%;
    right: 57%;
}
.a3 {
    top: 77%;
    right: 57%;
}
.a4 {
    top: 43%;
    left: 58%;
}
.a5 {
    top: 60%;
    left: 58%;
}
.a6 {
    top: 77%;
    left: 58%;
}
.fadein{
	animation: fade .7s ease-in forwards;
}
.fadein1{
	animation: fade .5s ease-in forwards;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@media (min-aspect-ratio: 4/3){

  .descriptionclass{
    font-size: 3vmin;
  }

}
