#matterBox {
	
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;	
	padding: 1% 3%;
	
	background-image: -ms-linear-gradient(bottom left, #FFFFFF 0%, #DDEFB3 100%);


	background-image: -moz-linear-gradient(bottom left, #FFFFFF 0%, #DDEFB3 100%);


	background-image: -o-linear-gradient(bottom left, #FFFFFF 0%, #DDEFB3 100%);


	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #FFFFFF), color-stop(1, #DDEFB3));


	background-image: -webkit-linear-gradient(bottom left, #FFFFFF 0%, #DDEFB3 100%);


	background-image: linear-gradient(to top right, #FFFFFF 0%, #DDEFB3 100%);
	
}

#matterBox  * 
{
	position: relative;
	margin: 0;
	padding: 0;
}
.head_title
{
 	font-size: 2em;
 	text-align: center;
 	color: blue; 
 	
}

.intendBlink
{
	
	animation: intendBlink 1s infinite linear;
	-moz-animation: intendBlink 1s infinite linear;
	-webkit-animation: intendBlink 1s infinite linear;
	cursor: pointer;
}

@-keyframes intendBlink
{
	0%
	{
		color:#ff0000;
	}
	100%
	{
		color: purple;
	}
}

@-moz-keyframes intendBlink
{
	0%
	{
		color:#ff0000;
	}
	100%
	{
		color: purple;
	}
}

@-webkit-keyframes intendBlink
{
	0%
	{
		color:#ff0000;
	}
	100%
	{
		color: purple;
	}
}


#NextId,
#PrevId
{
	width: 8%;
}

#NextId:hover #activityNextHoverBtn,
#PrevId:hover #activityPrevHoverBtn
{
	display: block;
}


#NextId:hover #activityNextBtn,
#PrevId:hover #activityPrevBtn
{
	display: none;
}


.closeJsbtn:hover #closeBtn
{
    display: none;
}
.closeJsbtn:hover #closeHoverBtn
{
    display: block;
}
