#exeBox {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;	
	padding: 1% 3%;

	background:#FFFFFF;
	

	-webkit-background-size:100px 100px;
	-moz-background-size:100px 100px;
	background-size:100px 100px;
}

#exeBox  * 
{
position: relative;
	margin: 0;
	padding: 0;
}

#quest {
	font-size: 1.2em;
	color: #000;
	width: 100%;
	padding: 1.2%;
	margin: auto;
	border-radius: 10px;
	background: rgba(255, 249, 99, 0.9);
	border: 1px solid #c9c9c9;
	color: #3A3A3A;
	text-align: center;
	height: 20%;
}

#nextBtnId
{
	width: 5%;
	text-align: right;
	position: absolute;
	right: 0%;
	bottom: 1%;

	display: none;
	cursor: pointer;
	color:black;
	font-size:2em;	
}

#nextBtnId:hover #activityNextHoverBtn
{
	display: block;
}

#nextBtnId:hover #activityNextBtn
{
	display: none;
}
