.algebra_part1 {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey;
}

.algebra_part1, .algebra_part1 * {
    position : relative;
    margin   : 0;
    padding  : 0;
    font-family: happy_monkey;
}

.algebra_part1 .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.algebra_part1 .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #7FCDBB;
}

.textblock  {
	height: auto;
	width: 100%;
	padding: 2%;
	left: 0;
}

.imageblock {
	height: 80%;
	width: 100%;
	position: absolute;
	top: 20%;
}

.utb{
	top: 0;
	background-color: #806E6C;
}

.ltb{
	bottom: 0;
	height: 20%;
	position: absolute;
}

.description_main{
	color: #fff;
}

.pos1, .pos2, .pos3{
	position: absolute;
	width: 20%;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
}

.pos1{
	left: 15%;
}

.pos2{
	left: 40%;
}

.pos3{
	left: 65%;
}
.option {
    background-color: #F1C232;
    border: 0.1em solid #F1C232;
    border-radius: 0.5em;
    cursor: pointer;
}

.option:hover{
	background-color: #A4C2F4;
	border: 0.1em solid #3C78D8;
}

.disable, .disable:hover{
	background-color: #F1C232;
	border: 0.1em solid #F1C232;
}

.incorrect, .incorrect:hover{
	background-color: #FF0000;
	border: 0.1em solid #980000;
}

.correct, .correct:hover{
	background-color: #98C02E;
	border: 0.1em solid #F2FF70;
}

.image{
	position: absolute;
	width: 90%;
	top: 30%;
	left: 2%;
	transform: translateY(-45%);
}

.image{
	position: absolute;
	width: 60%;
	top: 45%;
	left: 5%;
	transform: translateY(-45%);
}

.correct_class, .incorrect_class{
	position: absolute;
	bottom: 104%;
	width: 50%;
	left: 25%;
	display: none;
}

.imgblk1{
	height: 60%;
	width: 40%;
	left: 30%;
	border: 0.15em solid #595959;
	border-radius: 0.8em;
}

.imgblk2{
	height: 45%;
	width: 70%;
	left: 15%;
	border: 0.15em solid #595959;
	border-radius: 0.8em;
}

.imgblk3 {
    height: 50%;
    width: 50%;
    left: 25%;
    border: 0.15em solid #595959;
    border-radius: 0.8em;
}

.image2{
	position: relative;
	width: 20%;
	top: 40%;
	left: 0%;
	transform: translateY(-45%);
}

.image3{
	width: 90%;
	left: 13%;
	top: 106%;
	height: 44%;
	position: absolute;
	transform: rotate(50deg);
}

.image4{
	width: 70%;
	left: 50%;
	top: 70%;
	height: 44%;
	position: absolute;
	transform: rotate(25deg);
}

.imagelabel{
	width: 90%;
	left: 5%;
	bottom: 3%;
	position: absolute;
}

.imagelabel2{
	transform: rotate(50deg);
	width: 70%;
	left: 27%;
	top: 116%;
	position: absolute;
}

.imagelabel3{
	transform: rotate(25deg);
	width: 56%;
	left: 62%;
	top: 77%;
	position: absolute;
}

.imagecontainer, .imagecontainer2{
	position: relative;
	width: 30%;
	top: 10%;
	height: 40%;
	float: left;
}

.imagecontainer2{
	top: 1%;
}

@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
	.description_main2{
		font-size: 8vh;
	}
	.description_main{
		font-size: 5vh;
	}
	.description{
		font-size: 4vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.description_main2{
		font-size: 7vw;
	}
	.description_main{
		font-size: 4.2vw;
	}
	.description{
		font-size: 3.2vw;
	}

}
