<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page1_perimeter.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">

	<div class="wrapperIntro {{justClass}}">
        <!--<div class="main-bg">
		<img src="activity/grade8/math/math_perimeter_01/image/house.jpg" class="img-responsive"/>
		</div>-->
    {{#if mimgma_image}}
  		<div class="deepa">
  		<img src="activity/grade8/math/math_perimeter_01/image/mingma.png" class="img-responsive deepa"/>
  		</div>
    {{/if}}
    {{#if image}}
      <img class="cover_page" src="activity/grade8/math/math_perimeter_01/image/coverpage.png">
    {{/if}}
		{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
    {{/each}}


    </div>
</script>



<script type="text/x-handlebars-template" id="intro02-template">


 <div class="wrapperIntro {{justClass}}">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					  {{#each text}}
            			<div class="text{{@index}}">{{{this}}}</div>
       				 {{/each}}
			</div>
			<!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 img-a">
					 <img src="activity/grade8/math/math_perimeter_01/image/duck_pond.png" class="img-responsive"/>
			</div>-->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 img-b">
					  <img src="activity/grade8/math/math_perimeter_01/image/chicken_farm.png" class="img-responsive"/>
			</div>
		</div>

	   <div class="row rowBtm">

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 img-c">
					 <img src="activity/grade8/math/math_perimeter_01/image/tomato_garden.png" class="img-responsive"/>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 img-a">
					 <img src="activity/grade8/math/math_perimeter_01/image/duck_pond.png" class="img-responsive"/>
			</div>
		</div>

    </div>
</script>



<!-------------------------------------------------------------------------------------------------->

<!--page3-->






<script type="text/x-handlebars-template" id="intro2-template">
   <div class="wrapperIntro {{justClass}}">

        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

	<div class="row chickenfarm_row1">
			  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			      <img src="activity/grade8/math/math_perimeter_01/image/farm.png" class="img-responsive chicken_farm"/>
			 </div>

 			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			      <img src="activity/grade8/math/math_perimeter_01/image/square.jpg" class="img-responsive square_image"/>
			 </div>
			</div>



		<!--{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>

        {{/each}}-->

	</div>

</script>

<!-- end of page3-->





<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1_perimeter.js");

</script>
