<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page18_perimeter.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!--slide1-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<img src="activity/grade8/math/math_perimeter_01/image/loku_stick.png" class="loku"/>
		<img src="activity/grade8/math/math_perimeter_01/image/main-bg.jpg" class="bg_page4"/>
		<img src="activity/grade8/math/math_perimeter_01/image/letslook.png" class="letslook"/>
		<img src="activity/grade8/math/math_perimeter_01/image/blackboard-big.png" class="black"/>
		<div class="bubble1">
			
			</div>
			
			<div class="bubble2">
			
			
			</div>
		
		<div class="row char-holder">
		
			<div class="char-a">
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>
			
			<div class="char-b">
			<img src="activity/grade8/math/math_perimeter_01/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>
        
		</div>
    </div>
</script>

<!--end of slide1-->



<!--page2-->


<script type="text/x-handlebars-template" id="intro2-template">
	
<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

</div>
</script>

<!-- end of page3-->



<style>
	hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 
</style>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page18_perimeter.js");
</script>