<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page12_perimeter.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>




<script type="text/x-handlebars-template" id="intro-template">
<div class="wrapperIntro {{justClass}}">
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
		<div class="perimeter">	
		<div class="triangle">
	<img src="activity/grade8/math/math_perimeter_01/image/01.png" class="tri"/>	</div>
	<div class="rectangle">
	<img src="activity/grade8/math/math_perimeter_01/image/02.png" class="rec"/>	</div>
	<div class="square">
	<img src="activity/grade8/math/math_perimeter_01/image/03.png" class="squ"/>	</div>
	<div class="parallelogram">
	<img src="activity/grade8/math/math_perimeter_01/image/04.png" class="paral"/>	</div>
	<div class="rhombus">
	<img src="activity/grade8/math/math_perimeter_01/image/07.png" class="rho"/>	</div>
	<div class="kite">
	<img src="activity/grade8/math/math_perimeter_01/image/06.png" class="kit"/>	</div>
	<div class="trapezium">
	<img src="activity/grade8/math/math_perimeter_01/image/05.png" class="trap"/>	</div>
	<div class="quadrilateral">
	<img src="activity/grade8/math/math_perimeter_01/image/08.png" class="qua"/>	</div>
	<div class="back"></div>
	</div>
		
<div class="firstimage">
<img src="activity/grade8/math/math_perimeter_01/image/kite.png" class="img-responsive 1st_image_perimeter"/>
</div>


<div class="bubble1">
		</div>
		
		<div class="row char-holder">
			<div class="char-a">
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			</div>
		</div>
</div>
</script>
		
<!--end of page2-->




<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page12_perimeter.js");
</script>