<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page2_perimeter.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div> 
    <div class="prevBtn myPrevStyle"></div>
</div>`




<script type="text/x-handlebars-template" id="intro-template">
<div class="wrapperIntro {{justClass}}">
	
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
	
	
		<div class="bubble1">
		</div>
			
		
		<div class="row char-holder">
			<div class="char-a">
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			</div>
		</div>
		
	</div>
</script>
		


<script type="text/x-handlebars-template" id="intro2-template">
   
<div class="wrapperIntro {{justClass}}">
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
			<div class="firstimage">
			<img src="activity/grade8/math/math_perimeter_01/image/1st_perimeter.png" class="img-responsive 1st_image_perimeter"/>
		</div>
			<div class="secondimage">
			<img src="activity/grade8/math/math_perimeter_01/image/2nd_perimeter.png" class="img-responsive 1st_image_perimeter"/>
			</div>
</div>

</script>



<script type="text/x-handlebars-template" id="intro3-template">
   
<div class="wrapperIntro {{justClass}}">
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
	<!--<div class="blackboard">
		<img src="activity/grade8/math/math_perimeter_01/image/blackboard.png" class="img-responsive"/>	
	</div>	
		<span id="count_num"> 3 </span>-->
	
	<div class="peri">
	<div class="triangle">
	<img src="activity/grade8/math/math_perimeter_01/image/01.png" class="tri"/>	</div>
	<div class="rectangle">
	<img src="activity/grade8/math/math_perimeter_01/image/02.png" class="rec"/>	</div>
	<div class="square">
	<img src="activity/grade8/math/math_perimeter_01/image/03.png" class="squ"/>	</div>
	<div class="parallelogram">
	<img src="activity/grade8/math/math_perimeter_01/image/04.png" class="paral"/>	</div>
	<div class="rhombus">
	<img src="activity/grade8/math/math_perimeter_01/image/07.png" class="rho"/>	</div>
	<div class="kite">
	<img src="activity/grade8/math/math_perimeter_01/image/06.png" class="kit"/>	</div>
	<div class="trapezium">
	<img src="activity/grade8/math/math_perimeter_01/image/05.png" class="trap"/>	</div>
	<div class="quadrilateral">
	<img src="activity/grade8/math/math_perimeter_01/image/08.png" class="qua"/>	</div>
	</div>
	<div class="back"></div>
</div>


</script>


<script type="text/x-handlebars-template" id="intro4-template">
   
<div class="wrapperIntro {{justClass}}">
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
	<div class="perimeter">	
		<div class="triangle">
	<img src="activity/grade8/math/math_perimeter_01/image/01.png" class="tri"/>	</div>
	<div class="rectangle">
	<img src="activity/grade8/math/math_perimeter_01/image/02.png" class="rec"/>	</div>
	<div class="square">
	<img src="activity/grade8/math/math_perimeter_01/image/03.png" class="squ"/>	</div>
	<div class="parallelogram">
	<img src="activity/grade8/math/math_perimeter_01/image/04.png" class="paral"/>	</div>
	<div class="rhombus">
	<img src="activity/grade8/math/math_perimeter_01/image/07.png" class="rho"/>	</div>
	<div class="kite">
	<img src="activity/grade8/math/math_perimeter_01/image/06.png" class="kit"/>	</div>
	<div class="trapezium">
	<img src="activity/grade8/math/math_perimeter_01/image/05.png" class="trap"/>	</div>
	<div class="quadrilateral">
	<img src="activity/grade8/math/math_perimeter_01/image/08.png" class="qua"/>	</div>
	<div class="back"></div>
	</div>
	
	<div class="firstimage">
			<img src="activity/grade8/math/math_perimeter_01/image/1st_perimeter.png" class="img-responsive 1st_image_perimeter"/>
		</div>
		
	
			<img src="activity/grade8/math/math_perimeter_01/image/main-bg.jpg" class="bg_page4"/>
		
		

	       <div class="bubble1">
			<!--<img src="activity/grade8/math/math_interest_02/image/bubble.png" class="img-responsive"/>-->
			</div>
			<div class="bubble2">
			<!--<img src="activity/grade8/math/math_interest_02/image/bubble2.png" class="img-responsive"/>-->
			</div>
		
		<div class="row char-holder">
		
			<div class="char-a">
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			
			
			</div>
			
			<div class="char-b">
			<img src="activity/grade8/math/math_perimeter_01/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_perimeter_01/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			
			</div>
        
		</div>
</div>
		
</script>

<!--end of page2-->


<!--<script type="text/javascript">
var timer = 0;
$( document ).ready(function() {
	function blinker() {
	     $('.blink_1').fadeOut(300).fadeIn(300, function() {
	     $('.blink_2').fadeOut(300).fadeIn(300, function() {
	     $('.blink_3').fadeOut(300).fadeIn(300);
	     });
	     });
	    
	}

	setInterval(blinker, 1800);
});


</script>-->

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2_perimeter.js");
</script>