.textblock{
	width: 100%;
	height: 100%;
}
.bg-full {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.div1 {
    position: absolute;
    width: 25%;
    padding: 4%;
    height: 50%;
    top: 30%;
		left: 0;
}
.div2 {
    position: absolute;
    width: 25%;
    padding: 4%;
    height: 50%;
    top: 30%;
		left: 25%;
}
.div3 {
    position: absolute;
    width: 25%;
    padding: 4%;
    height: 50%;
    top: 30%;
		left: 50%;
}
.div4 {
    position: absolute;
    width: 25%;
    padding: 4%;
    height: 50%;
    top: 30%;
		left: 75%;
}

.image1,.image2,.image3,.image4 {
    position: absolute;
    width: 40%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.bot_text {
    position: absolute;
    font-size: 2vw;
    font-family: sniglet;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    background: #b9edc5;
    padding: 3%;
    border-radius: 2vmin;
    padding-right: 14%;
    cursor: pointer;
}
.top_text {
    position: absolute;
    top: 0;
    width: 100%;
    font-family: chelseamarket;
    font-size: 2.5vw;
    background: #67AD3E;
    border-bottom: 1.5vmin solid #9CC23E;
    color: white;
    padding: 2%;
}


.text_1, .text_2, .text_3,.letter_text{
    position: absolute;
    top: 50%;
    z-index: 99;
    font-family: sniglet;
    left: 1%;
    font-size: 3vw;
    opacity: 1;
    transform: translateY(-50%);
    left: 10%;
    background: pink;
    padding: 1%;
    padding-right: 4%;
    border-radius: 2vmin;
    cursor: pointer;
    width: 12%;
}
.letter_text{
	transform: translateX(-50%);
	left:50%;
	top: 22% !important;
}
.cat1 {
    position: absolute;
    width: 20%;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
}
.text_2{
	left: 30%;
}
.text_3{
	left: 50%;
}
.bot_text::after,.text_1::after ,.text_2::after ,.text_3::after,.letter_text::after  {
    display: inline-block;
    width: 24%;
    content: " ";
    background: url('../images/icon-orange.png') no-repeat 0 0;
    background-size: auto auto;
    background-size: auto auto;
    background-size: 100% 100%;
    position: absolute;
    top: 11%;
    height: 29%;
    right: 5%;
}
@media (min-aspect-ratio: 4/3){
	.bot_text{
		font-size: 5vmin;
	}
	.top_text,.text_1, .text_2, .text_3{
		font-size: 6vmin;
	}
}
