.aplogizing {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.aplogizing, .aplogizing * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.aplogizing .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;    
}

.aplogizing .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;    
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;   
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;   
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }    
    
    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #595959;
}

.descriptiontitle{
	font-size: 3vw;
	padding: 0vw 2vw;
}

.description1{
	font-size: 1.8vw;
	text-align: left;
}

.mainbgimage{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.image1{
	width: 16%;
    left: 0%;
    top: 5%;
    position: absolute;
}

.image2{
	width: 17%;
    right: 0%;
    top: 5%;
    position: absolute;
}

.dialogimage1, .dialogimage2{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	transform: rotateX(180deg);
}

.dialogimage1{
	-webkit-transform: scaleX(-1) rotateX(180deg);
    transform: scaleX(-1) rotateX(180deg);
}

.dialoginfo{
	font-size: 3.56vmin;
	width: 100%;
	padding: 0em 0.5em;
}

.dialogcontent{
	font-size: 3.56vmin;
	width: 90%;
	padding: 0 0.5em;
}

.dialogcontentleft{
	font-size: 2.8vmin;
	width: 90%;
	margin-left: 10%;
	padding: 0 0.5em;
	/*background-color: #FFE599;*/
}

.dialogcontentright{
	font-size: 2.8vmin;
	width: 90%;
	margin-right: 10%;
	padding: 0 0.5em;
	/*background-color: #FFE599;*/
}

.dialogleft{
	width: 45%;
	left: 15%;
	margin: 0.6em 0.3em;
	text-align: left;
}

.lastdialog{
	margin-bottom: 3em;
}

.dialogright{
	width: 45%;
	left: 39%;
	margin: 0.6em 0.3em;
	text-align: left;
}

.dialogcenter{
	width: 50%;
	left: 24%;
	border: 0.02em solid #2a2a2a;
	background-color: #B6D7A8;
	border-radius: 0.3em;
	margin: 0.4em 1%;
}

.speaking{
	background-color: #f00;
}

.customcb{
	background-image: url("../images/bg_script.jpg");
	background-size: 100% 100%;
}

.containsdialog{
	overflow-y: auto;
	margin-top: 2%;
	height: 93.5%;
	width: 100%;
}

.mirror_image{
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.containsdialog > div:hover > img{
	filter: drop-shadow(0.08em -0.08em 0.2em #5a5a5a);
}

.active_conversation{
	display: none;
	filter: drop-shadow(0.08em -0.08em 0.2em #0f0);
}
