.aplogizing {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.aplogizing, .aplogizing * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.aplogizing .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.aplogizing .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 45%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
	position: absolute;
}

@font-face {
    font-family: Sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.contentblock {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #595959;
    font-family: Sniglet;
}

.descriptiontitle{
	font-size: 3vw;
	padding: 0vw 2vw;
}

.description1{
	font-size: 2vw;
	text-align: left;
	color: #595959;
}

.mainbgimage{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.imageleft{
    width: 23%;
    left: 8%;
    top: 30%;
    position: absolute;
}

.imageright{
    width: 23%;
    right: 5%;
    top: 30%;
    position: absolute;
}


.mirror_image{
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dialog1, .dialog2, .dialog1_small, .dialog2_small{
	position: absolute;
	width: 50%;
	min-height: 18%;
	bottom: 69%;
	left: 10%;
}

.dialog1_small, .dialog2_small{
	width: 30%;
	min-height: 16%;
}

.dialog1_small{
	left: 15%;
}

.dialog2_small{
	left: 55%;
}

.dialog2{
	left: 42%;
}

.dialogimage1, .dialogimage2{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.dialogimage2{
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dialogcontent{
	position:absolute;
	font-size: 1.8vw;
	width: 90%;
	left: 5%;
	top: 40%;
	transform: translateY(-50%);
}

.front_utb{
	color: #815BCC;
    font-size: 3vw;
    width: 40.5%;
    left: 26.5%;
    padding: 0.5em;
    top: 32.2%;
    height: 34.5%;
}

.purple_highight{
	color: #815BCC;
}

.front_header{
	color: #CE427B;
	font-size: 2vw;
}

.custombg{
	background-image: url("../images/bg_info3.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
@media (min-aspect-ratio: 4/3){
	.description1{
		font-size: 3.2vh;
	}
	.dialogcontent{
		font-size: 3.2vh;
	}
}
@media (max-aspect-ratio: 4/3){
	.description1{
		font-size: 2vw;
	}
}
