.sqrt {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.sqrt, .sqrt * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 70%;
	right: 2%;
	display: none;
	width: 7%;
}

.nextBtn:hover #activityNextHoverBtn
{
  display: block;
}

.nextBtn:hover #activityNextBtn
{
  display: none;
}


.title {
	font-size: 1.6em;
	width: 100%;
	height: 20%;
	color: #4059AD;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	box-shadow: inset 0 -10px 15px -10px #1C68A5;
}

.checkAns {
	cursor: pointer;
}

.board {
	text-align: center;
}

.valQ {
	margin: auto;
	margin-bottom: 5%;
	padding: 1%;
	width: 20%;
	background: #3186CA;
	box-shadow: 0 0 5px 5px #1C68A5;
	color: #fff;
	font-size: 1.6em;
}

.factors {
	margin: 10px 0px;
	width: 100%;
	background: #A6D2F4;
	box-shadow: inset 0 5px 10px #5DB4F7,inset 0 -5px 10px #5DB4F7;
}

.factorTitle {
	display: inline-block;
	background: #fff000;
	padding: 5px 10px;

}

.factorShow {
	display: inline-block;
	/*background: #5DB4F7;*/
	width: 40%;
	padding: 5px 10px;
	color: #000;
}

.clickToShow {
	position: absolute;
	display: block;
	background: #006400;
	width: 100%;
	cursor: pointer;
	color: #fff
}

.remarks {
	margin: 10% auto;
	width: 50%;
	color: blue;
	background: yellow;
	padding: 10px;
	display: none;
}

.ans {
	width: 100%;
	margin: 10% 0%;
}

.ans ul li {
	display: inline-block;
	width: 26%;
	margin: 1%;
	padding : 5px;
}

.ans ul .opts {
	background: #FFCF56;
	box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #FFCF56;
	cursor: pointer;
}

.ans ul .opts:hover {
	background: #3186CA;
	box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #3186CA;
	color: #fff;
}

.ans ul .wrong {
	background: #F26963;
	box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #F26963;
	color: #fff;
	box-shadow: none;
}

.ans ul .right {
	background: #006400;
	box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #006400;
	color: #fff;
	box-shadow: none;
}

.ans ul .wrongFound {
	box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #ffff00;
	cursor: pointer;
}

.finish {
	width: 100%;
	height: 100%;
	text-align: center;
}

.finish .replay {
	position: absolute;
	display: inline-block;
	font-size: 2em;
	top: 60%;
	cursor: pointer;
	text-align: center;
}

.finish .score {
	width: 50%;
	text-align: center;
	margin: auto;
	background: #EF5464;
	color: #000;
	padding: 10px;
	top: 30%;
}

.finish .score .score1 {
	width: 90%;
	text-align: center;
	margin: auto;
	background: #5BC2A7;
}

.finish .msg {
	position: absolute;
	left: 5%;
	bottom: 10%;
	width: 90%;
	background: #6798D0;
	padding: 10px;
	color: #000;
	text-align: center;
}