.sqrt {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.sqrt, .sqrt * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;

}

.nextBtn:hover {
	color: #90EE90;
}

.title {
	font-size: 1.6em;
	width: 100%;
	height: 20%;
	/*background: #000;*/
	color: #4059AD;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	/*display: none;*/
}

.feri {
	width: 20%;
	cursor: pointer;
	position: absolute;
	color: #fff;
	text-align: center;
	background: #006400;
	font-size: 1.3em;
	z-index: 100;
	right: 20%;
	top: 90%;
	right: 2%;
	border-radius: 10px;
}

.inputSec {
	text-align: center;
}

.inputSec input {
	width: 70px;
	padding-left: 10px;
}

.inputSec .arrowHead {
	cursor: pointer;
}

.barga {
	text-align: center;
	margin-top: 10%;
	font-size: 2em;

}

.barga span {
	
}

.barga .smth1, .smth2 {
	color : #4ED84E;
	text-shadow :0 0 2px #006400;
	box-shadow: 0 10px 5px -4px #c9c9c9;
	font-size: 2.4em;
}