.sqrt {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.sqrt, .sqrt * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;
}

.nextBtn:hover {
	color: #90EE90;
}

.title {
	font-size: 1.6em;
	width: 100%;
	height: 20%;
	/*background: #000;*/
	color: #4059AD;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	/*display: none;*/
	opacity: 0;
}

.first {
	width: 100%;
	text-align: center;

}

.first .text1 span{
	font-size: 1.3em;
	box-shadow: 0 10px 10px -10px #383838;
}

.first .clickables {
	margin-top: 5%;
}

.first .clickables .obj {
	display: inline-block;
	background: #C0EEDE;
	width: 20%;
	height: 33%;
	border-radius: 100%;
	padding-top: 5%;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 2%;
	margin-right: 2%;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 0 0 5px #66ECBE, 0 10px 10px 0px #fff, 0 15px 10px -5px #393939, inset 0 0px 5px #66ECBE;
	color: #006400;
}

.obj .mask-1{
    background-color: rgba(0,0,0,0.5);
    height: 150%;
    width: 100%;
    background: rgba(119,0,36,0.5);
    opacity: 1;
    transition: all 0.3s ease-in-out 0.6s;
}
.obj .mask-1 {
    left: auto;
    top: -15%;
    right: -10%;
    transform: rotate(56.5deg) translateX(-180px);
    transform-origin: 100% 0%;
}

.obj:hover .mask-1{
    transition-delay: 0s;
}
.obj:hover .mask-1{
    transform: rotate(56.5deg) translateX(1px);
}
.popUp {
	background: rgba(0,0,0,0.7);
	overflow: hidden;
  display: none;
  position: absolute;
  z-index: 5000;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: justify;
  position: absolute !important;
}
.popUpFirst {

    position: relative;
    width: 50%;
    color: #006400;
    margin: auto;
    background: #C0EEDE;
    text-align: center;
    font-size: 1.3em;
    box-shadow: 0 0 0 4px #006400;
    height: 60%;
    border-radius: 10px;

}

.popUp .title {
	height: 20%;
}

.popUpFirst .process div {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.popUpFirst .process .calcs {
	display: block;
}

.mathUpperLine {
	border-top: 1px solid #006400;
}
.popUpFirst .conclusionMath .notEq2 {
	position: relative;
}
.popUpFirst .conclusionMath .notEq2:after {
    border-bottom: 2px solid red;
    content: "";
    left: -20%;
    position: absolute;
    right: 0;
    top: 50%;
    transform : rotate(-60deg);
    width: 25px;
}

.popUpFirst .clsBtn {
	position: absolute;
	right: -40px;
	top: -10px;
	z-index: 10;
	cursor: pointer;
}

.popUpFirst .conclusion {
	color: brown;
}

.popUpFirst .cal1, .cal2 {
	/*background: #000;*/
	text-align: left;
	padding-left: 15%;
	/*width: 30%;*/
	/*display: inline-block;*/
}

.cal1 .type1 {
	vertical-align: top;
}
.bigroot {
	font-size: 2.3em;
	display: inline-block;
}

.insideRoot {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	margin-left: -8px;
}

.getDown {
	display: block;
}

.cal2 {
	display: inline-block;
	vertical-align: top;
}

.process2 {
	position: relative;
	width: 100%;
	min-height: 60%;
	padding-top: 10px;
	/*line-height: 2;*/
}

.process2 table {
	position: relative;
	margin: auto;
	width: 60%;
	font-size: 1em;
	/*margin-top: 100px;*/

}

.process2 table td {
	width: 50%;
	vertical-align: top;
	margin-bottom: 15px;
	/*background: #000;*/

}
.process2 table .calcs{
	padding: 10px;
}

.process2 table .cal2 {
	width: 100%;
	display: block;
	vertical-align: top;
}

.equalSign {
	display: inline-block;
	vertical-align: top;
}
.getUnderline {
	/*text-decoration: underline;*/
	border-bottom: 1px solid #000;
	margin-bottom: 2px;
	line-height: 1;
}

.popUpDivide {
	position: relative;
	width: 50%;
	color: #006400;
	margin: auto;
	background: #C0EEDE;
	text-align: center;
	font-size: 1.3em;
	box-shadow: 0 0 0 4px #006400;
	/*height: 50%;*/
	border-radius: 10px;
}

.popUpDivide .clsBtn {
	position: absolute;
	right: -40px;
	top: -10px;
	color: red;
	font-size: 2em;
	z-index: 10;
	cursor: pointer;
}

.inlineBlock {
	display: inline-block;
}

.conclusion {
	color: brown;
}
