.sqrt {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.sqrt, .sqrt * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;
}

.nextBtn:hover {
	color: #90EE90;
}

.title {
	font-size: 1.6em;
	width: 100%;
	height: 20%;
	/*background: #000;*/
	color: #4059AD;
	margin: auto;
	margin-top: 5%;
	text-align: center;
}

.first {
	width: 100%;
}

.first .text1Holder {
	width: 100%;
	text-align: center;
}

.first .repH1, .first .repH2,.first .repH3 {
	font-size: 1.3em;
	text-align: center;
}

.first .text2 span{
	text-decoration: overline;
}

.first .obj {
	display: inline-block;
	width: 10%;
	background: #fff;
	box-shadow: 0px 10px 10px -8px #282828;
	margin-top: 30px;
}

.first .text1 {
	width: 20%;
}

.upperLine {
	width: 2%;
	/*background: #000;*/
	display: inline-block;
	top: 2px;
	left: -2px;
	border-top: 1px solid #383838;
}

.second .math1 span,.second .math2 span,.second .math3 span {
	border-top: 1px solid #383838;
}

/*.second .math5 .cut {
	text-decoration: line-through;
}*/

.second .math5 .cut {
    position: relative;
}
.second .math5 .cut::after {
    border-bottom: 2px solid red;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform : rotate(-60deg);
}

.second {
	text-align: center;
}

.second {
	background: #fff;
	
}

.second .process {
	margin-top: 10%;
}

.second .process>span {
	width: 12%;
	display: inline-block;
	box-shadow: 0px 10px 10px -8px #282828;
}

.secondClick {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 10%;
}

.secondClick .text1 {
	padding: 10px;
	width: 50%;
	margin: auto;
	background: #D83434;
	border: 2px solid #BF0000;
	border-radius: 10px;
	margin-bottom: 10px;
	color: #fff;
}

.secondClick .tabss span {
	width: 10%;
	display: inline-block;
	background: #00ff00;
	box-shadow: 0 0 0 3px #007700;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.whatisPerfet {
	width: 90%;
	margin: auto;
}

.whatisPerfet .text1 {
	width: 80%;
	font-size: 1.2em;
	background: #00AEEF;
	padding: 10px;
	color: #fff;
	margin-bottom: 3%;
	box-shadow: 0 10px 10px -5px #383838;
}

.whatisPerfet .text2 {
	width: 80%;
	float: right;
}

.whatisPerfet .text3, .whatisPerfet .text4 {
	clear: both;
	margin-top: 10px;
	width: 50%;
	background: #fff000;
}