.sqrt {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.sqrt, .sqrt * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;
}

.nextBtn:hover {
	color: #90EE90;
}

.title {
	font-size: 1.6em;
	width: 100%;
	height: 20%;
	/*background: #000;*/
	color: #4059AD;
	margin: auto;
	margin-top: 5%;
	text-align: center;
}


.residue {
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
}

.placeholder1 {
	opacity: 0;
}


.board {
	width: 100%;
	/*background: #000;*/
	height: 72%;
	text-align: center;
	margin-top: -2%;
}

.sqrtSolve {
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.factor {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	height: 100%;
	background: #1AA756;
	color: #fff;
	box-shadow: 0 0 10px 2px #c9c9c9;
}

.factor .factorBelow {
	width: 100%;
	height: 90%;
	overflow-y:	auto;
}

.factor .text1 {
	width: 100%;
	color: #594C2D;
	background: #FFF5AE;
	margin-bottom: 10px;
}

.sqrtSolve .sqtitle {
	width: 100%;
	height: 20%;
	border-bottom: 1px solid #c9c9c9;
}

.sqrtSolve .sqtitle input {
	width: 100px;
	text-align: center;
}

.sqrtSolve .arrowHead {
	color: #F2265D;
	cursor: pointer;
}

.sqrtSolve .process {
	width: 100%;
	height: 60%;
	overflow-y:	auto;
}

.sqrtSolve .answer {
	width: 100%;
	height: 20%;
	box-shadow: 0px -5px 10px #c9c9c9;
	padding-top: 5%;
}

.process .process1 span,.process .process2 span,.process .process3 span {
	border-top: 1px solid #000;
}

.process div {
	width: 50%;
	margin: auto;
	text-align: left;
	/*background: #000;*/
}

.process span span {
	border-top: 1px solid #000;
}

.half {
	font-size: 12px;
	width: 20px;
}
.uppers {
	text-decoration: underline;
	/*display: block;*/
}

.processSteps {
	margin-bottom: 12px;
	display: none;
}

.underRoot {
	border-top: 1px solid #383838;
}