.sqrt {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.sqrt, .sqrt * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 80%;
	right: 2%;
	display: none;

}

.nextBtn:hover {
	color: #90EE90;
}

.title {
	font-size: 1.6em;
	width: 100%;
	height: 10%;
	/*background: #000;*/
	color: #4059AD;
	margin: auto;
	margin-top: 1%;
	text-align: center;
	/*display: none;*/
}

.first {
	margin-top: 1%;
	width: 100%;
}

.first .bird {
	margin: auto;
	width: 35%;
	padding: 10px;
	background: #fff;
	box-shadow: 0 10px 10px #383838;
}

.first .bird img {
	width: 100%;
}

.first ul {
	margin-top: 3%;
	margin-bottom: 10px;
	width: 100%;
	/*background: #000;*/
	text-align: center;
}
.first ul li {
	margin: auto;
	display: inline-block;
	width: 10%;
	background: #FFFF00;
	border-radius: 10px;
	border : 2px solid #c9c9c9;
	box-shadow: inset -1px -10px 10px #F9F945, 1px 2px 2px #383838;
	cursor: pointer;
}

.first .desc {
	/*position: absolute;*/
	margin: auto;

	width: 70%;
	background: #2F4AD6;
	box-shadow: 10px 10px 10px #383838;
	color: #fff;
	padding: 10px;
	text-align: center;
	bottom: 0;
}

.third {
	width: 100%;
	margin-top: 5%;
}

.third input {
	width: 40px;
	color: green;
	padding-left: 5px;
}
.third img {
	margin-left : 5%;
	width: 40%;
	height: 65%;
	display: inline-block;
	float: left;
	box-shadow: 0 10px 10px #383838;
}

.third ul {
	margin-left: 3%;
	margin-top: 0%;
	padding: 10px;
	display: inline-block;
	width: 50%;
	background: #006400;
	background: url(../images/texture_bg.png);
	color: #f2f2f2;
	box-shadow: 0 10px 10px #383838;
	height: 65%;
	/*vertical-align: middle;*/
}

.third .span1, .third .span2, .third .span3  {
	display: none;
}

.third .inBtn1, .third .inBtn2 {
	cursor: pointer;
	color: yellow;
}

.hint {
	font-style: italic;
	font-size: 0.9em;
	color: yellow;
}

.feri {
	width: 20%;
	cursor: pointer;
	position: absolute;
	color: #fff;
	text-align: center;
	background: #2C3747;
	font-size: 1.3em;
	z-index: 100;
	right: 20%;
	bottom: -15%;
	right: 2%;
	border-radius: 10px;
	display: none;
}

.wrong {
	width: 40%;
	cursor: pointer;
	position: absolute;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.8);
	font-size: 1.3em;
	padding: 5px;
	z-index: 100;
	left: 30%;
	bottom: -20%;
	border-radius: 10px;
	display: none;
}
.coverpage, .cover_container, .cover_container img{
	top: -4%;
	left: 0%;
	height: 101%;
	width: 100%;
}
.covertxt{
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%);
	font-size: 6vh;
	font-family: comfortaa;
}
