<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/commonpage/lessontemplate.css");
    $cssLoader("../../../../css/commonpage/buttons-input-box.css");
    $cssLoader("css/page5.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock {{headerblockadditionalclass}}">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if imageblock}}
            {{#each imageblock}}
                {{> imagecontent}}
            {{/each}}
            {{/if}}
            {{#if imagetemplate}}
				<div class="ole_temp_imagecontainer {{imagetemplateadditionalclass}}">
					{{#each imagetemplate}}
						<div class="imageparent {{imageparentadditionalclass}}">
							<img class="{{imgclass}}" src="{{imgsrc}}" />
							<p class ="imgtext {{textclass}}" data-highlight="{{datahighlightflag}}"
								data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						</div>
					{{/each}}
				</div>
			{{/if}}
			<!-- for summary -->
			{{#if summaryblock}}
				<div class="summarycontainer {{summaryblockadditionalclass}}">
					{{#each summaryblock}}
						<div class="summaryparent {{summaryparentadditionalclass}}">
							{{#each summary}}
								<p class ="summarytext {{textclass}}" data-highlight="{{datahighlightflag}}"
									data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
								{{#if imgsrc}}
									<img src="{{imgsrc}}" />
								{{/if}}
							{{/each}}
						</div>
					{{/each}}
				</div>
			{{/if}}
			{{#if definitionblock}}
				<div class="definitionblock {{definitionblockadditionalclass}}">
					{{#each definitionblock}}
						{{> definitioncontent}}
					{{/each}}
				</div>
			{{/if}}

			{{#each draggableblock}}
				<img class="{{imgclass}}" data-value="{{value}}" src="{{imgsrc}}">
            {{/each}}
            {{#each droppableblock}}
	            <div class="droppableblock {{droppableblockadditionalclass}}">
	            </div>
            {{/each}}

            {{#each inputblock}}
                <div class="answerdiv {{inputdiv}}">
                	{{#if textdata}}
                		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
               		{{/if}}
               		<input class="{{inputclass}}" value="{{{inputdata}}}"></input>
    				{{#each buttonblock}}
    					<button class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</button>
            		{{/each}}
            		{{#if textdata1}}
                		<p class="{{textclass1}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata1}}}</p>
               		{{/if}}
					<img class="right-wrong" src="{{imgsrc}}">
                </div>
            {{/each}}

            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
            </div>
            {{/if}}
            {{#each draggableblock}}
            	<p class="{{textclass}}" data-name="{{dataname}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            {{/each}}
            {{#each droppableblock}}
	            <div class="droppableblock {{droppableblockadditionalclass}}">
	            </div>
            {{/each}}
            {{#each extratextblock}}
            	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            {{/each}}
		</div>
		</div>
	{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page5.js");
</script>
