.bg-1{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
}

.ts-1{
	width: 70%;
	left: 15%;
	top: 5%;
	border-radius: 2vmin;
}
.ts-1>p{
	display: inline;
}
.text-op-0{
	opacity: 0;
}


.bg-1-anim{
	-webkit-animation: bg-1-anim 1.2s ease-out both;
	animation: bg-1-anim 1.2s ease-out both;
}
@-webkit-keyframes
bg-1-anim {
	0% {transform: scale(0.25) rotate(240deg) translate(100%, 50%);}
	90%{transform: scale(1.25) rotate(-5deg) translate(-5%, -10%);}
}
@keyframes
bg-1-anim {
	0% {transform: scale(0.25) rotate(240deg) translate(100%, 50%);}
	90%{transform: scale(1.25) rotate(-5deg) translate(-5%, -10%);}
}




.drama{
	display: none;
	position: absolute;
	top: -2%;
	left: 57.7%;
	height: 102%;
}
.drama-anim{
	-webkit-animation: drama-anim 0.6s linear both;
	animation: drama-anim 0.6s linear both;
}
@-webkit-keyframes
drama-anim {
	0% {top: -105%}
	90% {top: 20%}
}
@keyframes
drama-anim {
	0% {top: -105%}
	90% {top: 20%}
}


.from-dark-anim{
	-webkit-animation: from-dark-anim 1s ease-in both;
	animation: from-dark-anim 1s ease-in both;
}
@-webkit-keyframes
from-dark-anim {
	0% {filter: brightness(0); -webkit-filter: brightness(0);}
}
@keyframes
from-dark-anim {
	0% {filter: brightness(0); -webkit-filter: brightness(0);}
}
.go-dark-anim{
	-webkit-animation: go-dark-anim 1s ease-in both;
	animation: go-dark-anim 1s ease-in both;
}
@-webkit-keyframes
go-dark-anim {
	100% {filter: brightness(0); -webkit-filter: brightness(0);}
}
@keyframes
go-dark-anim {
	100% {filter: brightness(0); -webkit-filter: brightness(0);}
}

.ts-2{
	width: 65%;
	right: 7.5%;
	border-radius: 2vmin;
	top: 5%;
}
.ts-3{
	width: 45%;
	right: 1%;
	text-align: left;
	border-radius: 3vmin;
	top: 10%;
	padding: 2%;
}
.ts-3>p{
	margin: 2%;
}

.text-story-2{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	text-align: center;
	padding: 1%;
	font-size: 3vw;
	color: #595959;
}
.text-story-2>p{
	margin: 1% 0%;
}
@media (min-aspect-ratio:4/3){
	.text-story-2{
		font-size: 4.1vh;
	}
}

.bg-p3-1{
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 61%;
}

.bg-p3-2{
	display: none;
	position: absolute;
	bottom: 0%;
	left: 40.18%;
	height: 61%;
}
.bg-p3-3{
	display: none;
	position: absolute;
	bottom: 0%;
	left: 60%;
	height: 61%;
}

.slide-top{
	-webkit-animation: slide-top 0.6s linear both;
	animation: slide-top 0.6s linear both;
}
@-webkit-keyframes
slide-top {
	0% {bottom: -100%}
	90% {bottom: 20%}
}
@keyframes
slide-top {
	0% {bottom: -100%}
	90% {bottom: 20%}
}













.text-story-3{
	position: absolute;
	width: 80%;
	text-align: center;
	padding: 1%;
	top: 62%;
	left: 10%;
	font-size: 3vw;
	color: #595959;
}
.text-story-3>p{
	margin: 1% 0%;
}
@media (min-aspect-ratio:4/3){
	.text-story-3{
		font-size: 4.1vh;
	}
}

.bg-p4-1{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 60%;
}

.bg-p4-2{
	display: none;
	position: absolute;
	top: 0%;
	left: 31%;
	height: 60%;
}
.bg-p4-3{
	display: none;
	position: absolute;
	top: 0%;
	right: 0%;
	height: 60%;
}

.slide-bottom{
	-webkit-animation: slide-bottom 0.6s linear both;
	animation: slide-bottom 0.6s linear both;
}
@-webkit-keyframes
slide-bottom {
	0% {top: -100%}
	90% {top: 20%}
}
@keyframes
slide-bottom {
	0% {top: -100%}
	90% {top: 20%}
}
