html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    background: url(../../../../../images/backgrounds/yellow_blue_bg.jpg);
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.5em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.centertext {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    font-size: 3vw;
    width: 81%;
    padding: 5%;
    text-align: center;
}

.centertextsmall {
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    font-size:2vw;
    width: 100%;
    padding: 5%;
}

.titletext {
    width: 50% !important;
    font-size: 10vmin;
}

.lefttitle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: #1EADB1;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 2.5vw;
    box-shadow: 0em 0.1em 0.3em black;
}

.righttitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 3vw;
}

.centertitle {
    position: absolute;
    top: 10%;
    font-size: 2vw;
    width: 100%;
    text-align: center;
}

.leftdefintext {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 40%;
    text-align: left;
}

.rightdefintext {
    position: absolute;
    top: 25%;
    right: 10%;
    font-size: 1.6vw;
    width: 40%;
    text-align: right;
}

.centerdefintext {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    font-size: 2vw;
    width: 40%;
    text-align: center;
}

.defintext {
    position: absolute;
    top: 25%;
    left: 10%;
}

.leftdefintext {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 40%;
    text-align: left;
}

.rightdefintext {
    position: absolute;
    top: 25%;
    right: 10%;
    width: 40%;
    text-align: right;
}

.hightext1{
    color: #3C80DC;
}

.hightext2 {
    color: #E94E06;
}


.hightext3 {
    border: 3px solid #8E7CC3;
    border-radius: 9px;
    margin: 0%;
}

.bottomtext {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    background: #B6D7A8;
    padding: 2%;
    text-align: center;
    font-size: 1.6vw;
    width: 73%;
}

.letshigh{
    background: #FFE599;
    padding: 1%;
}

.schtext{
    position: absolute;
    font-size: 2vw;
    left: 15%;
    top: 40%;
}

.schtext2{
    position: absolute;
    font-size: 2vw;
    right: 15%;
    top: 40%;
}

.tickmark {
    position: absolute;
    width: 7%;
    top: 50%;
    left: 22%;
}

.crossmark {
    position: absolute;
    width: 7%;
    top: 50%;
    right: 22%;
}

.tickmark2 {
    position: absolute;
    width: 5%;
    top: 54%;
    right: 10%;
}

.crossmark2 {
    position: absolute;
    width: 5%;
    top: 64%;
    right: 10%;
}

.schtext3 {
    position: absolute;
    top: 34%;
    right: 6%;
    background: #8E7CC3;
    color: white;
}

.ltext{
    position: absolute;
    top: 55%;
    left: 10%;
    font-size: 1.6vw;
    width: 40%;
    text-align: left;
}

.rtext1{
    position: absolute;
    top: 55%;
    right: 20%;
    font-size: 1.6vw;
    width: 40%;
    text-align: right;
}

.rtext2 {
    position: absolute;
    top: 65%;
    right: 20%;
    font-size: 1.6vw;
    width: 40%;
    text-align: right;
}

.parentcontainer {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 25%;
    height: 54%;
}


.children {
    width: 43.7%;
    height: 40%;
    display: inline-flex;
    display: -webkit-inline-flex;
    margin: 3%;
    border: 3px solid #c1c1c1;
    position: relative;
    visibility: hidden;
    border-radius: 15px;
}

.children > p:nth-of-type(1) {
    text-align: center;
    background: #6D9EEB;
    padding-top: 35%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 31%;
    padding: 4%;
    width: 98%;
    visibility: visible;
    color: white;
    border-radius: 15px;
}

.children > p:nth-of-type(2) {
    text-align: center;
    padding-top: 35%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 78%;
    padding: 5%;
    width: 100%;
}

.childcorr{
    background: #42c07a !important;
}

.parcorr{
    animation: corfade 1s linear 0.5s forwards;
}

@keyframes corfade{
   to {background-color: #D9EAD3;
    border: 3px solid #c1c1c1;
}
}

.childinc{
    background: #e1676a !important;
}

.parinc{
    animation: incfade 1s linear 0.5s forwards;
}

@keyframes incfade{
   to {background-color: #FFE599;
}
}

.forhover:hover{
    cursor: pointer;
    background: #4084ef !important;
}

.fruitset {
    cursor: pointer;
    position: absolute;
    width: 27%;
    left: 20%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.fruitsetleft {
    cursor: pointer;
    position: absolute;
    width: 18%;
    left: 9%;
    top: 24%;
}

.fruitsetright {
    cursor: pointer;
    position: absolute;
    width: 18%;
    right: 9%;
    top: 24%;
}

.apple {
    cursor: pointer;
    position: absolute;
    width: 15%;
    right: 20%;
    top: 28%;
}

.apple2 {
    cursor: pointer;
    position: absolute;
    width: 15%;
    right: 28%;
    top: 44%;
    transform: translateY(-50%);
}

.fruitsettext {
    cursor: pointer;
    position: absolute;
    left: 20%;
    top: 75%;
    padding: 1%;
    transform: translate(-50%, -50%);
}

.fruitsettextleft {
    cursor: pointer;
    position: absolute;
    left: 17%;
    top: 60%;
    background: #FFE599;
    padding: 1%;
    transform: translate(-50%, -50%);
}

.fruitsettextright {
    cursor: pointer;
    position: absolute;
    right: 8%;
    top: 60%;
    background: #FFE599;
    padding: 1%;
    transform: translate(-50%, -50%);
}
.p3questext {
    position: absolute;
    right: 13%;
    top: 58%;
    width: 30%;
    text-align: center;
}
.mybuttons {
    position: absolute;
    font-size: 2vw;
    text-align: center;
    background: #6FA8DC;
    color: white;
    padding: 1% 3%;
    border: 3px solid #D9D9D9;
    border-radius: 15px;
    z-index: 1;
}

.btnhover:hover{
    cursor: pointer;
    background: #1c92ff;
}

.yesbtn {
    right: 28%;
    top: 73%;
}

.nobtn {
    left: 73%;
    top: 73%;
}

.incorrectbtn{
    background: #EA9999;
    cursor: default;
}

.correctbtn{
    background: #93C47D;
    cursor: default;
}

.sundarcor {
    position: absolute;
    width: 19%;
    left: 32%;
    bottom: 10%;
    display: none;
}

.sundarinc {
    position: absolute;
    width: 19%;
    left: 32%;
    bottom: 10%;
    display: none;
}

.belongsto {
    position: absolute;
    left: 73%;
    top: 43%;
    font-size: 2vw;
}

.belongsto2 {
    position: absolute;
    left: 73%;
    top: 43%;
    font-size: 2vw;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.blueborder{
    border: 4px solid #91B6F0;
    border-radius: 15px; 
    padding: 1% 3%;
}

.redborder{
    border: 4px solid #D5A6BD;
    border-radius: 15px; 
    padding: 1% 3%;
}

.blngcomplete {
    position: absolute;
    left: 17%;
    top: 72%;
    transform: translate(-50%, -50%);
}

.blngcomplete2 {
    position: absolute;
    left: 17%;
    top: 84%;
    transform: translate(-50%, -50%);
}

.blngcompleteright {
    position: absolute;
    left: 81%;
    top: 72%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.blngcomplete2right {
    position: absolute;
    left: 81%;
    top: 84%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.simitext1 {
    position: absolute;
    left: 10%;
    top: 35%;
}

.simitext2 {
    position: absolute;
    right: 10%;
    bottom: 7%;
}

.belongbtn{
    top: 40%;
    right: 51%;
}

.nobelongbtn {
    top: 40%;
    left: 51%;
}

.desctext {
    background: #FFF2CC;
    position: absolute;
    transform: translate(-50% ,-50%);
    left: 50%;
    top: 70%;
    padding: 2%;
    border: 0.1em solid grey;
}
.diyimage{
    position: absolute;
    width: 102%;
    top: 0%;
    left: 0%;
}
.diytitle{
    position: absolute;
    width:100%;
    z-index:1;
}
