.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

.board:lang(en){
  font-family: abeezee;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
  background: #99D8C9;
}

div.textblock {
	position: relative;
}

div.imageblock {
	position: absolute;
	top: 39%;
	right: 5%;
	height: 55%;
	width: 40%;
}

/*============ exercise template ===================
==================================================== */
.exefin{
  z-index: 5;
}

.instruction {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  text-align: left;
  color: white;
  background: #5F72B2;
  border-bottom: 0.2em solid #60366F;
  padding: 1% 16% 1% 2%;
}

.question {
  position: absolutes;
  transform: translate(-50%,-50%);
  top: 35%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-family: abeezee;
}

.imagestartpos {
  width: 13%;
  display: none;
  position: absolute;
  right: 5%;
  top: 0%;
}

.imagestarttyp2{
  width: 8%;
  position: absolute;
  top: 0%;
  margin-left: 1%;
}

.optionscontainer {
  flex-basis: 40%;
  position: relative;
}

.optionsdiv {
  height: 18%;
  width: 90%;
  position: absolute;
  bottom: 7%;
  transform: translate(-50%);
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.optionsdiv p {
  display: inline;
  padding: 3% 5%;
  background: #FFCD53;
  border-radius: 15px;
  margin: 1%;
  border: 5px solid #FFCD53;
  font-family: patrick;
  width: 60%;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  .optionsdiv {
    height: 18%;
    width: 90%;
    position: absolute;
    bottom: 7%;
    transform: translate(-50%);
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


  .optionsdiv p {
    display: inline;
    padding: 3% 5%;
    background: #FFCD53;
    border-radius: 15px;
    margin: 1%;
    border: 5px solid #FFCD53;
    font-family: patrick;
    width: 60%;
  }

  .optionscontainer {
    flex-basis: 40%;
    position: relative;
  }
}
.typ2front {
    position: absolute;
    top: 40%;
    right: 65%;
}

.bigtype2{
  right: 72%;
}

.typ2extra {
  position: absolute;
  top: 22%;
  transform: translate(-50%);
  left: 50%;
  width: 90%;
}

.type2loopblock {
  position: absolute;
  top: 40%;
  left: 37%;
  text-align: left;
}

.bigblock{
  left: 30%;
}

input{
  width: 10%;
  text-align: center;
  color: black;
  border: 0.1em solid white;
  background: white;
}

.chckbtn{
  background: #3C78D8;
  border: 0.1em solid #1155CC;
  color: white;
  font-family: sniglet;
  padding: 1%;
  border-radius: 0.2em;
  margin-left: 2%;
}

.threeops{
  flex-basis: 20%;
}

.thrciico{
  width: 30%;
}

.eachloop{
  margin-bottom: 4%;
  display: none;
}

.eachloop .fraction2{
  width: 20%;
}

.corrfrac{
  transform: translateY(75%);
}

.corrfrac2{
  transform: translateY(225%);
}

.fracmaintain{
  transform: translateY(-50%);
}

.fracadjust{
  width: 20%;
}
/**
	this block is essential for implementing fractions
	fraction block essential code begin
*/
.fraction, .fraction2, .top, .bottom{
	padding: 0 0.3em;
}

.fraction, .fraction2 {
    display: inline-block;
    text-align: center;
}

.fraction2 {
   transform: translateY(25%);
}

.bottom{
    border-top: 0.1em solid #222;
    display: block;
}

.fractionblock{
	position:absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
}

/**
	fraction block essential end
*/

.forhover:hover{
  background: #D9D9D9;
  border: 0.2em solid #999999;
  cursor: pointer;
}

.forhover2:hover{
  background: #80A0F0;
  border: 0.1em solid #B7D4FF;
  cursor: pointer;
}

.multiopsblock {
  height: 45%;
  width: 90%;
  position: absolute;
  top: 35%;
  transform: translate(-50%);
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.multimcqiten {
  flex-basis: 22%;
  background: #F1C232;
  border: 0.2em solid #F1C232;
  border-radius: 10px;
  position: relative;
}



@media screen and (min-aspect-ratio: 4/3) {
	/*vh*/
  .instruction, .question{
		font-size: 5vh;
	}
  .buttonsel{
    font-size: 4vh;
  }
  .typ2front, .type2loopblock, .typ2extra, .optionsdiv p {
    font-size: 5vh;
  }
  .multimcqiten {
    font-size: 4vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
	/*vw*/
	.instruction, .question{
		font-size: 3.2vw;
	}
  .buttonsel{
    font-size: 2.3vw;
  }
  .typ2front, .type2loopblock, .typ2extra, .optionsdiv p {
    font-size: 2.3vw;
  }
  .multimcqiten {
    font-size: 1.7vw;
  }
}
