#front_page {

    position: relative;
    width: 100%;
    height: 100%;

}
.front_page_title {

    position: absolute !important;
    transform: translateX(-50%);
    left: 52%;
    font-size: 5vmin;
    font-family: montserrat;
    top: 10%;
		color: white;

}
#totalBox
{
	position: relative;
	width: 100%;
	height: 85%;
	padding: 1%;

}

#insidebox1
{
	width: 50%;
	height: 100%;

	position: absolute;
	padding: 2%;
}
#insidebox2
{
	width: 50%;
	height: 100%;
	position: absolute;
	left: 50%;
	padding: 2%;
}
#animationBox
{
	position: absolute;
	width: 45%;
	padding: 1%;
	top:45%;
	left: 27%;
	display: none;

}

.animationBoxCls
{
	top:20%!important;
	left: 10%!important;
	width: 65%!important;

}

#animationBox1
{
	position: absolute;

	padding: 1%;

	top:10%;
	left: 10%;
	width: 65%;

	display: none;

}


#animationBox img,
#animationBox1 img
{
	width: 100%;
}

#textBox,
#textBox1
{
	position: relative;
	width: 90%;
	padding: 5%;

	color: #106043;
	text-align: center;

}

#nextBtn
{
	display: none;
	width: 8%;
	cursor: pointer;
	position: absolute;
	bottom:1%;
	right: 1%;
	text-align: right;
	cursor: pointer;
	color:black;
	font-size:2em;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;

}


#PrevBtn
{
	display: none;
	width: 8%;

	position: absolute;
	bottom:1%;
	left: 1%;
	cursor: pointer;
	color:black;
	font-size:2em;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

/*#refreshBtn
{

	right: 1%;
    position: absolute;

    display: none;
    top:15%;
    width: 5%;
    text-align: right;

    cursor: pointer;

}*/

#p1_10,
#p1_11
{
	text-align: center;

}

#p1_conclusion
{
display: none;
 margin-top: 10%;
    text-align: center;

}

#p2_conclusion
{
display: none;
 margin-top: 5%;
    text-align: center;

}

.addAnimeCls
{
	left: 40% !important;
    top: 25% !important;
    width: 120% !important;
}

.addAnimeCls img
{
	width: 100%!important;
}


.changeTop
{
	top:38%!important;


	left: 27%!important;
	width: 50%!important;
}

#display_txt_3
{
	position: absolute;
	top:16%;
	font-size: 0.6em;
	left:29%;
	display: none;
	width:45%;
	/*background: #000;*/
	text-align: center;
}
