#listPage
{
	position: relative;
	
	background: #FF0000;
	width: 100%;
	margin-top: 1%;
}

.list-title
{
	color: #106043;
	font-size: 1.2em;
}

#left_list
{
	position: absolute;
	top:0%;
	left: 5%;
	width: 42%;
	
}


#right_list
{
	position: absolute;
	top:0%;
	left: 53%;
	width: 42%;
	
}

.listBox
{
	background: #C4E5DA;
	width: 100%;
	border:#000 1px solid;
	padding: 5%!important; 
	margin-top: 2%!important; 
}

.listBox img{

	width: 40%;
	 
	margin: 2%!important;
}

#p2_5
{
	position: absolute;
	width: 100%;
	text-align: center;
	top:92%;
	display: none;
}