.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	/*display: none;*/
	position: absolute;
	top: 85%;
	left: 93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top: 85%;
	left: 5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/
.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 10px;
	padding-top: 2%;
	line-height: 1.5em;
}






.wrapperIntro.firstPage
{
	background: #ffffff;
	height: 100%;
	width: 100%;
}

.wrapperIntro.firstPage .text0 {
	 background: #8e7cc3 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 1.7em;
    font-weight: bold;
    height: 10%;
    left: 0;
    padding-left: 17%;
    padding-top: 1.9%;
    position: absolute;
    top: 0;
    width: 46%;
	
}

.wrapperIntro.firstPage .text1 {
	color: #000000;
    display: none;
    font-size: 4em;
    left: 47.5%;
    position: absolute;
    top: 3%;
}

.wrapperIntro.firstPage .text2{
	
	background: #ff4047 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 1.7em;
    font-weight: bold;
    height: 10%;
    left: 54%;
    padding-left: 13%;
    padding-top: 1.9%;
    position: absolute;
    top: 0%;
    width: 46%;
}

.wrapperIntro.firstPage .text3
{
	color: #5c5c5c;
    font-size: 1.3em;
    left: 6%;
    position: absolute;
    top: 20%;
	display: none;
}

.wrapperIntro.firstPage .text4
{
	background: #60bae6 none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #888888;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 9%;
    left: 6%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    position: absolute;
    top: 29%;
}


.wrapperIntro.firstPage .text4:hover{
	background: #7ECDF1;
	cursor: pointer;
}


.wrapperIntro.firstPage .text5
{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 0;
    line-height: 37px;
    padding: 4%;
    position: absolute;
    text-align: justify;
    top: 14%;
}


.wrapperIntro.firstPage .text6
{
	 color: black;
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 37px;
    padding-left: 4%;
    padding-right: 6%;
    position: absolute;
    top: 28%;
}


.wrapperIntro.firstPage .text7
{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 4%;
    position: absolute;
    top: 37%;
}

.red{
	color: #FF684B;
}

.pink{
	color: #8484e1;
}

.green{
	color: #00B88A;
}

.button1 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 6%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button1:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button2 {
   background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 16%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button2:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button3 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 26%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button3:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button4 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 36%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button4:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button5 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 46%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button5:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button6 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 56%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button6:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button7 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 66%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
	
}

.button7:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.incorrect{
	background: #ff7660 !important;
}

.correct{
	background: #a4e361 !important;
}

/*second page*/

.wrapperIntro.second
{
	background: #ffffff;
	height: 100%;
	width: 100%;
}


.wrapperIntro.second .text0 {
	background: #8e7cc3 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 1.7em;
    font-weight: bold;
    height: 10%;
    left: 0;
    padding-left: 17%;
    padding-top: 1.9%;
    position: absolute;
    top: 0%;
    width: 46%;
	
}

.wrapperIntro.second .text1 {
	color: #000000;
    display: none;
    font-size: 4em;
    left: 47.5%;
    position: absolute;
    top: 3%;
}

.wrapperIntro.second .text2{
	
	background: #ff4047 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 1.7em;
    font-weight: bold;
    height: 10%;
    left: 54%;
    padding-left: 13%;
    padding-top: 1.9%;
    position: absolute;
    top: 0%;
    width: 46%;
}
.wrapperIntro.second .text3
{
	color: #000000;
    display: none;
    font-size: 1.3em;
    left: 4%;
    line-height: 37px;
    position: absolute;
    text-align: center;
    top: 21%;
}


.wrapperIntro.second .text4
{
	background: #60bae6 none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #888888;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 9%;
    left: 6%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    position: absolute;
    top: 29%;
}

.wrapperIntro.second .text4:hover{
	background: #7ECDF1;
	cursor: pointer;
}

.wrapperIntro.second .text5
{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 4%;
    position: absolute;
    top: 21%;
}

.wrapperIntro.second .text6
{
	color: #01b901;
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    left: 4%;
    position: absolute;
    top: 30%;
}

.wrapperIntro.second .text7
{
	color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 4%;
    position: absolute;
    top: 38%;
}

.wrapperIntro.second .text8
{
	position: absolute;
    top: 59%;
    font-size: 2em;
    line-height: 37px;
    font-weight: bold;
    color: #01B901;
    left: 25%;
	display: none;
}

.wrapperIntro.second .text9
{
	position: absolute;
    top: 59%;
    font-size: 2em;
    line-height: 37px;
    font-weight: bold;
    color: #01B901;
    left: 25%;
	display: none;
}

.button01 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 6%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button01:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button02 {
   background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 16%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button02:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button03 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 26%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button03:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button04 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 36%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button04:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button05 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 46%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button05:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button06 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 56%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
}

.button06:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

.button07 {
    background: #47A8E4 none repeat scroll 0 0;
    border: 1px solid #9fa6ac;
    border-radius: 12%;
    font-size: 1.3em;
    height: 7%;
    left: 66%;
    padding-top: 0.5%;
    position: absolute;
    text-align: center;
    top: 46%;
    width: 65px;
	display: none;
	color: #ffffff;
	
}

.button07:hover{
	
	background: #5DBFEE;
	cursor: pointer;
}

