.exponential {
  position   : relative;
  width      : 100%;
  height     : 100%;
  overflow   : hidden;
  box-shadow : inset 0 0 30px #f2f2f2;
  font-size  : 1.3em;
}

.exponential,
.exponential * {
  position : relative;
  margin   : 0;
  padding  : 0;
}

.exponential .nextBtn {
  /* display: none; */
  position : absolute;
  top      : 85%;
  left     : 93%;
  width    : 6%;
  height   : 10%;
}

.exponential .prevBtn {
  display  : none;
  position : absolute;
  top      : 85%;
  left     : 5%;
  width    : 6%;
  height   : 10%;
}

.exponential .board {
  position : relative;
  top      : 0%;
  left     : 0%;
  width    : 100%;
  height   : 100%;
}

/*  */

.exponential .board .wrapperIntro {
  top         : 0;
  left        : 0;
  width       : 100%;
  height      : 100%;
  padding     : 10px;
  padding-top : 2%;
  line-height : 1.5em;
}

.wrapperIntro.firstPage {
  /* background: rgba(15,173,187,0.5); */
  background : #ffffff;
}

.wrapperIntro.firstPage .text0 {
  display   : none;
  position  : absolute;
  top       : 7%;
  left      : 4%;
  color     : #0062bd;
  font-size : 2em;
}

.wrapperIntro.firstPage .text1 {
  display   : none;
  position  : absolute;
  top       : 20%;
  left      : 4%;
  color     : #5c5c5c;
  font-size : 1.5em;
}

.wrapperIntro.firstPage .text2 {
  display       : none;
  position      : absolute;
  top           : 36%;
  left          : 4%;
  width         : 20%;
  height        : 7%;
  padding-top   : 0.5%;
  padding-left  : 3.5%;
  color         : #5c5c5c;
  border        : 2px solid #8a8a8a;
  border-radius : 8px;
  background    : #ffd966 none repeat scroll 0 0;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text3 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 57%;
  width         : 13%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text3:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.firstPage .text4 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 41%;
  width         : 13%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text4:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.firstPage .text5 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 25%;
  width         : 13%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text5:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.firstPage .text6 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 6%;
  width         : 16%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text6:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.firstPage .text7 {
  display      : none;
  position     : absolute;
  top          : 48%;
  left         : 6%;
  width        : 87%;
  height       : 9%;
  padding-top  : 1%;
  padding-left : 3.5%;
  color        : #5c5c5c;
  border       : 1px solid #908c80;
  background   : #ffd966 none repeat scroll 0 0;
  font-size    : 1.3em;
}

.wrapperIntro.firstPage .text8 {
  display       : none;
  position      : absolute;
  top           : 57%;
  left          : 4%;
  width         : 20%;
  height        : 7%;
  padding-top   : 0.5%;
  padding-left  : 5.5%;
  color         : #5c5c5c;
  border        : 2px solid #8a8a8a;
  border-radius : 8px;
  background    : #ffd966 none repeat scroll 0 0;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text9 {
  display       : none;
  position      : absolute;
  top           : 57%;
  right         : 53%;
  width         : 17%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text9:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.firstPage .text10 {
  display       : none;
  position      : absolute;
  top           : 57%;
  right         : 37%;
  width         : 13%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text10:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.firstPage .text11 {
  display       : none;
  position      : absolute;
  top           : 57%;
  right         : 21%;
  width         : 13%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text11:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.firstPage .text12 {
  display       : none;
  position      : absolute;
  top           : 57%;
  right         : 6%;
  width         : 12%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.firstPage .text12:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.correct {
  background : #a4e361 !important;
}

.incorrect {
  background : #ff7660 !important;
}

/* second page */

.wrapperIntro.second {
  /* background: rgba(15,173,187,0.5); */
  background : #ffffff;
}

.wrapperIntro.second .text0 {
  display   : none;
  position  : absolute;
  top       : 7%;
  left      : 4%;
  color     : #0062bd;
  font-size : 2em;
}

.wrapperIntro.second .text1 {
  z-index   : 99;
  display   : none;
  position  : absolute;
  top       : 22%;
  left      : 8%;
  width     : 36%;
  color     : #5c5c5c;
  font-size : 1.3em;
}

.wrapperIntro.second .text2 {
  z-index   : 99;
  display   : none;
  position  : absolute;
  top       : 32%;
  left      : 8%;
  width     : 36%;
  color     : #5c5c5c;
  font-size : 1.3em;
}

.wrapperIntro.second .text3 {
  display       : none;
  position      : absolute;
  top           : 24%;
  left          : 52%;
  width         : 39% !important;
  height        : 11%;
  padding-top   : 2%;
  padding-left  : 2.5%;
  color         : #2292dd;
  border-radius : 9px;
  background    : #ffd966 none repeat scroll 0 0;
  font-size     : 1.3em;
}

.wrapperIntro.second .text4 {
  display: none;
  position: absolute;
  top: 44%;
  left: 7%;
  width: 45% !important;
  height: 17%;
  padding-top: 2%;
  padding-left: 3%;
  color: #2292dd;
  border-radius: 9px;
  background: #ffd966 none repeat scroll 0 0;
  font-size: 1.3em;
}

.wrapperIntro.second .text5 {
  display: none;
  position: absolute;
  top: 42%;
  left: 55%;
  width: 35% !important;
  height: 19%;
  padding-top: 4.5%;
  padding-left: 3.5%;
  color: #ffffff;
  border-radius: 8px;
  background: #9797e1 none repeat scroll 0 0;
  font-size: 1.3em;
  opacity: 0;
}

.wrapperIntro.second .text6 {
  display: none;
  position: absolute;
  top: 67%;
  left: 7%;
  width: 45% !important;
  height: 22%;
  padding-top: 2%;
  padding-left: 2.5%;
  color: #2292dd;
  border-radius: 9px;
  background: #ffd966 none repeat scroll 0 0;
}

.wrapperIntro.second .text7 {
  display: none;
  position: absolute;
  top: 65%;
  left: 55%;
  width: 35% !important;
  height: 19%;
  padding-top: 2%;
  padding-left: 3.5%;
  color: #ffffff;
  border-radius: 8px;
  background: #9797e1 none repeat scroll 0 0;
  font-size: 1.3em;
  line-height: 1.5em;
  opacity: 0;
}

.wrapperIntro.second .text8 {
  display     : none;
  position    : absolute;
  top         : 87%;
  left        : 21%;
  height      : 7%;
  color       : #5c5c5c;
  font-size   : 1.3em;
  font-weight : bold;
}

.ones {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #e0dfff none repeat scroll 0 0;
}

.twos {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #ffe387 none repeat scroll 0 0;
}

.threes {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #ffa47d none repeat scroll 0 0;
}

.fours {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #abda87 none repeat scroll 0 0;
}

.ones1 {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #e0dfff none repeat scroll 0 0;
}

.twos2 {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #ffe387 none repeat scroll 0 0;
}

.threes3 {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #ffa47d none repeat scroll 0 0;
}

.fours4 {
  padding       : 2%;
  border        : 2px solid #73818c;
  border-radius : 50%;
  background    : #abda87 none repeat scroll 0 0;
}

.yellow {
  color : #EEFF41;
}

.next {
  left : 25%;
}

/* third page */

.wrapperIntro.third {
  background : #ffffff;
}

.wrapperIntro.third .text0 {
  display   : none;
  position  : absolute;
  top       : 7%;
  left      : 4%;
  color     : #0062bd;
  font-size : 2em;
}

.wrapperIntro.third .text1 {
  display   : none;
  position  : absolute;
  top       : 16%;
  left      : 4%;
  color     : #5c5c5c;
  font-size : 1.5em;
}

.wrapperIntro.third .text2 {
  display   : none;
  position  : absolute;
  top       : 23%;
  left      : 4%;
  color     : #5c5c5c;
  font-size : 1.3em;
}

.wrapperIntro.third .text3 {
  display   : none;
  position  : absolute;
  top       : 29%;
  left      : 4%;
  color     : #5c5c5c;
  font-size : 1.3em;
}

.wrapperIntro.third .text4 {
  display       : none;
  position      : absolute;
  top           : 36%;
  left          : 4%;
  width         : 20%;
  height        : 7%;
  padding-top   : 0.5%;
  padding-left  : 3.5%;
  color         : #5c5c5c;
  border        : 2px solid #8a8a8a;
  border-radius : 8px;
  background    : #ffd966 none repeat scroll 0 0;
  font-size     : 1.3em;
}

.wrapperIntro.third .text5 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 53%;
  width         : 18%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text5:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.third .text6 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 39%;
  width         : 11%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text6:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.third .text7 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 25%;
  width         : 11%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text7:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.third .text8 {
  display       : none;
  position      : absolute;
  top           : 36%;
  right         : 6%;
  width         : 16%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text8:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.third .text9 {
  display       : none;
  position      : absolute;
  top           : 49%;
  left          : 30%;
  width         : 39%;
  height        : 12%;
  padding-top   : 2%;
  padding-left  : 5%;
  color         : #6c92ef;
  border-radius : 8px;
  background    : #ffd966 none repeat scroll 0 0;
  font-size     : 1.3em;
}

.wrapperIntro.third .text10 {
  display       : none;
  position      : absolute;
  top           : 55%;
  left          : 4%;
  width         : 20%;
  height        : 7%;
  padding-top   : 0.5%;
  padding-left  : 3.5%;
  color         : #5c5c5c;
  border        : 2px solid #8a8a8a;
  border-radius : 8px;
  background    : #ffd966 none repeat scroll 0 0;
  font-size     : 1.3em;
}

.wrapperIntro.third .text11 {
  display       : none;
  position      : absolute;
  top           : 55%;
  right         : 60%;
  width         : 11%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text11:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.third .text12 {
  display       : none;
  position      : absolute;
  top           : 55%;
  right         : 46%;
  width         : 11%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text12:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.third .text13 {
  display       : none;
  position      : absolute;
  top           : 55%;
  right         : 24%;
  width         : 20%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47a8e4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text13:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.wrapperIntro.third .text14 {
  display       : none;
  position      : absolute;
  top           : 55%;
  right         : 6%;
  width         : 16%;
  height        : 7%;
  padding       : 0.5% 2%;
  color         : #ffffff;
  border        : 2px solid #78858e;
  border-radius : 9px;
  background    : #47A8E4 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.3em;
}

.wrapperIntro.third .text14:hover {
  background : #5DBFEE;
  cursor     : pointer;
}

.green {
  color : #00B88A;
}

.wrapperIntro.third .text15 {
  display       : none;
  position      : absolute;
  top           : 70%;
  left          : 15%;
  width         : 74%;
  height        : 24%;
  padding-top   : 3%;
  padding-right : 3%;
  padding-left  : 3%;
  color         : #ffffff;
  border        : 1px solid #777469;
  background    : #ffc211 none repeat scroll 0 0;
  text-align    : center;
  font-size     : 1.5em;
  line-height   : 1.5em;
}

sub {
  bottom : -0.25em;
}

/* sub { bottom: 0.35em; font-size: 0.85em; } */

sub,
sup {
  position       : relative;
  vertical-align : baseline;
  font-size      : 65%;
  line-height    : 0;
}

sub {
  bottom : 0.7em;
  left   : 0%;
}

.wrapperIntro.second .text0,
.wrapperIntro.second .text1,
.wrapperIntro.second .text2,
.wrapperIntro.second .text3,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8{
  width: 100%;
}
@media screen and (min-aspect-ratio: 4/3) {
  .wrapperIntro.firstPage .text0,
  .wrapperIntro.firstPage .text1,
  .wrapperIntro.firstPage .text2,
  .wrapperIntro.firstPage .text3,
  .wrapperIntro.firstPage .text4,
  .wrapperIntro.firstPage .text5,
  .wrapperIntro.firstPage .text6,
  .wrapperIntro.firstPage .text7,
  .wrapperIntro.firstPage .text8,
  .wrapperIntro.firstPage .text9,
  .wrapperIntro.firstPage .text10,
  .wrapperIntro.firstPage .text11,
  .wrapperIntro.firstPage .text12,
  .wrapperIntro.firstPage .text13,
  .wrapperIntro.second .text0,
  .wrapperIntro.second .text1,
  .wrapperIntro.second .text2,
  .wrapperIntro.second .text3,
  .wrapperIntro.second .text4,
  .wrapperIntro.second .text5,
  .wrapperIntro.second .text6,
  .wrapperIntro.second .text7,
  .wrapperIntro.second .text8,
  .wrapperIntro.second .text9,
  .wrapperIntro.second .text12,
  .wrapperIntro.third .text0,
  .wrapperIntro.third .text1,
  .wrapperIntro.third .text2,
  .wrapperIntro.third .text3,
  .wrapperIntro.third .text4,
  .wrapperIntro.third .text5,
  .wrapperIntro.third .text6,
  .wrapperIntro.third .text7,
  .wrapperIntro.third .text8,
  .wrapperIntro.third .text9,
  .wrapperIntro.third .text10,
  .wrapperIntro.third .text11,
  .wrapperIntro.third .text12,
  .wrapperIntro.third .text13,
  .wrapperIntro.third .text14,
  .wrapperIntro.third .text15 {
    font-size : 3vh;
  }
}

@media
  screen
  and (max-aspect-ratio : 4/3) {
  .wrapperIntro.firstPage .text0,
  .wrapperIntro.firstPage .text1,
  .wrapperIntro.firstPage .text2,
  .wrapperIntro.firstPage .text3,
  .wrapperIntro.firstPage .text4,
  .wrapperIntro.firstPage .text5,
  .wrapperIntro.firstPage .text6,
  .wrapperIntro.firstPage .text7,
  .wrapperIntro.firstPage .text8,
  .wrapperIntro.firstPage .text9,
  .wrapperIntro.firstPage .text10,
  .wrapperIntro.firstPage .text11,
  .wrapperIntro.firstPage .text12,
  .wrapperIntro.firstPage .text13,
  .wrapperIntro.second .text0,
  .wrapperIntro.second .text1,
  .wrapperIntro.second .text2,
  .wrapperIntro.second .text3,
  .wrapperIntro.second .text4,
  .wrapperIntro.second .text5,
  .wrapperIntro.second .text6,
  .wrapperIntro.second .text7,
  .wrapperIntro.second .text8,
  .wrapperIntro.second .text9,
  .wrapperIntro.second .text12,
  .wrapperIntro.third .text0,
  .wrapperIntro.third .text1,
  .wrapperIntro.third .text2,
  .wrapperIntro.third .text3,
  .wrapperIntro.third .text4,
  .wrapperIntro.third .text5,
  .wrapperIntro.third .text6,
  .wrapperIntro.third .text7,
  .wrapperIntro.third .text8,
  .wrapperIntro.third .text9,
  .wrapperIntro.third .text10,
  .wrapperIntro.third .text11,
  .wrapperIntro.third .text12,
  .wrapperIntro.third .text13,
  .wrapperIntro.third .text14,
  .wrapperIntro.third .text15 {
    font-size : 1.4vw;
  }
}
