.exponential {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
    position: relative;
    margin: 0;
    padding: 0;
}

.exponential .nextBtn {
    /*display: none;*/
    position: absolute;
    top: 85%;
    left: 93%;
    width: 6%;
    height: 10%;
}

.exponential .prevBtn {
    display: none;
    position: absolute;
    top: 85%;
    left: 5%;
    width: 6%;
    height: 10%;
}

.exponential .board {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

/**/
.exponential .board .wrapperIntro {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    padding-top: 2%;
    line-height: 1.5em;
}




.wrapperIntro.firstPage
{
   /* background: rgba(15,173,187,0.5);*/
   background: #ffffff;
}

.wrapperIntro.firstPage .text0
{
      background: #c2649e none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 1.5em;
    height: 12%;
    left: 0;
    padding-top: 2.4%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.wrapperIntro.firstPage .text1
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 10%;
    position: absolute;
    top: 20%;
}

.wrapperIntro.firstPage .text2
{
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    left: 40%;
    line-height: 1.5em;
    position: absolute;
    top: 28%;
}


.wrapperIntro.firstPage .text3
{
    background: #9797e1 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 37%;
    left: 9%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 3%;
    position: absolute;
    text-align: justify;
    top: 44%;
    width: 40%;
}


.wrapperIntro.firstPage .text4
{
     background: #9797e1 none repeat scroll 0 0;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 37%;
    left: 54%;
    padding: 2% 4% 1%;
    position: absolute;
    text-align: justify;
    top: 44%;
    width: 40%;
}

.hcf {
    top: 9%;
}

.lcm {
    top: 9%;
}


.wrapperIntro.firstPage .text5
{
    color: #000000;
    font-size: 1.7em;
    font-weight: bold;
    left: 2%;
    line-height: 45px;
    padding-left: 6%;
    padding-right: 10%;
    position: absolute;
    top: 59%;
	display: none;
}

.yellow{
	color: #EEFF41;
}

.pink01{
	color: #FF00FF;
}

.purple01{
	color: #8E7CCE;
}

.green01{
	color: #00B897;
}

.red01{
	color: #FF684B;
}


.class_fifteen
{
    font-size: 1.8em;
    color: #C500C5;
	font-weight: bold;
	cursor: pointer;

}

.class_twenty
{
    color: #C500C5;
    font-weight: bold;
    font-size: 1.8em;
	cursor: pointer;

}

.class_twenty-three
{
    color: #C500C5;
    font-weight: bold;
    font-size: 1.8em;
	cursor: pointer;
}

.class_nineteen
{
    color: #C500C5;
    font-weight: bold;
    font-size: 1.8em;
	cursor: pointer;
}

.class_twelve
{
    color: #C500C5;
    font-weight: bold;
    font-size: 1.8em;
	cursor: pointer;
}

.class_thirteen
{
    color: #C500C5;
    font-weight: bold;
    font-size: 1.8em;
	cursor: pointer;
}

.class_seventeen
{
    color: #C500C5;
    font-weight: bold;
    font-size: 1.8em;
	cursor: pointer;
}

.class_eighteen
{
    color: #C500C5;
    font-weight: bold;
    font-size: 1.8em;
	cursor: pointer;
}

/*second page*/
.wrapperIntro.second
{
   /* background: rgba(15,173,187,0.5);*/
   background: #ffffff;
}
.wrapperIntro.second .text0
{
    color: #0062bd;
    display: none;
    font-size: 2em;
    left: 4%;
    position: absolute;
    top: 7%;
}


.wrapperIntro.second .text1
{
     color: #5c5c5c;
    display: none;
    font-size: 1.4em;
    left: 4%;
    position: absolute;
    top: 16%;
}


.wrapperIntro.second .text2
{
    background: #ffd966 none repeat scroll 0 0;
    border: 2px solid #8a8a8a;
    border-radius: 8px;
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    height: 7%;
    left: 4%;
    padding-left: 1.5%;
    padding-top: 0.5%;
    position: absolute;
    top: 24%;
    width: 40%;
}

.wrapperIntro.second .text3
{
    background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 42%;
    text-align: center;
    top: 24%;
    width: 10%;
}

.wrapperIntro.second .text3:hover
{
    cursor: pointer;
    background: #5DBFEE;
}


.wrapperIntro.second .text4
{
     background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 30%;
    text-align: center;
    top: 24%;
    width: 10%;
}
.wrapperIntro.second .text4:hover
{
    cursor: pointer;
    background: #5DBFEE;
}
.wrapperIntro.second .text5
{
    background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 18%;
    text-align: center;
    top: 24%;
    width: 10%;
}

.wrapperIntro.second .text5:hover
{
	cursor: pointer;
    background: #5DBFEE;
}

.wrapperIntro.second .text6
{
    background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 6%;
    text-align: center;
    top: 24%;
    width: 10%;
}

.wrapperIntro.second .text6:hover
{
	cursor: pointer;
    background: #5DBFEE;
}

.wrapperIntro.second .text7
{
    background: #ffd966 none repeat scroll 0 0;
    border: 2px solid #8a8a8a;
    border-radius: 8px;
    color: #5c5c5c;
    display: none;
    font-size: 1.3em;
    height: 7%;
    left: 4%;
    padding-left: 1.5%;
    padding-top: 0.5%;
    position: absolute;
    top: 38%;
    width: 40%;
}

.wrapperIntro.second .text8
{
    background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 42%;
    text-align: center;
    top: 38%;
    width: 10%;
}

.wrapperIntro.second .text8:hover
{
    cursor: pointer;
    background: #5DBFEE;
}


.wrapperIntro.second .text9
{
     background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 30%;
    text-align: center;
    top: 38%;
    width: 10%;
}
.wrapperIntro.second .text9:hover
{
    cursor: pointer;
    background: #5DBFEE;
}
.wrapperIntro.second .text10
{
    background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 18%;
    text-align: center;
    top: 38%;
    width: 10%;
}

.wrapperIntro.second .text10:hover
{
	cursor: pointer;
    background: #5DBFEE;
}

.wrapperIntro.second .text11
{
    background: #47A8E4 none repeat scroll 0 0;
    border: 2px solid #78858e;
    border-radius: 9px;
    color: #ffffff;
    display: none;
    font-size: 1.3em;
    height: 7%;
    padding: 0.5% 2%;
    position: absolute;
    right: 6%;
    text-align: center;
    top: 38%;
    width: 10%;
}

.wrapperIntro.second .text11:hover
{
	cursor: pointer;
    background: #5DBFEE;
}

.wrapperIntro.second .text12
{
    background: #ffc211 none repeat scroll 0 0;
    border: 2px solid #777469;
    color: #ffffff;
    display: none;
    font-size: 1.4em;
    height: 28%;
    left: 18%;
    line-height: 2em;
    padding-top: 2.5%;
    position: absolute;
    text-align: center;
    top: 59%;
    width: 65%;
}




/*third page*/

.wrapperIntro.third
{
    /*background: rgba(15,173,187,0.5);*/
	background: #ffffff;
}

.wrapperIntro.third .text0{
  background: none repeat scroll 0 0 #F35743;
	border-radius: 9px 9px 9px 9px;
	color: #000000;
	display: none;
	font-size: 1.8em;
	font-weight: bold;
	padding: 1% 1%;
	position: absolute;
	right: 23%;
	top: 51%;
}

.wrapperIntro.third .text0:hover
{
    cursor: pointer;
    background: #FFAC00;
}

.wrapperIntro.third .text1
{
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    right: 51%;
    top: 6%;
}

.wrapperIntro.third .text2
{
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 21%;
    right: 17%;
	display: none;
}

.wrapperIntro.third .text3
{
   display: none;
    font-size: 1.5em;
    font-weight: bold;
    height: 13%;
    left: 67%;
    padding-left: 0;
    position: absolute;
    top: 32%;
    width: 55%;
}

.wrapperIntro.third .text3 .first
{
    width: 34%;
	position: absolute;
	bottom: 87%;
	left: 16%;
	border-bottom: 1px solid #000000;
	padding-bottom: 1%;

}

.wrapperIntro.third .text3 .second
{
    left: 29%;
    position: absolute;
    top: 21%;

}

.wrapperIntro.third .text4
{
     display: none;
    font-size: 1.5em;
    font-weight: bold;
    height: 13%;
    left: 72%;
    padding-left: 0;
    position: absolute;
    top: 47%;
    width: 55%;
}

.wrapperIntro.third .text4 .third
{
    border-bottom: 1px solid #000000;
	left: 7%;
	padding-bottom: 1%;
	position: absolute;
	bottom: 82%;
	width: 36%;
}

.wrapperIntro.third .text4 .forth
{
     left: 22%;
    position: absolute;
    top: 26%;
}

.wrapperIntro.third .text5
{
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    left: 72%;
    padding-left: 0;
    position: absolute;
    top: 61%;
}

.fifth {
    border-bottom: 1px solid #000000;
    bottom: 86%;
    left: 30%;
    position: absolute;
    text-align: center;
    width: 23%;
}

.sixth {
    bottom: 28%;
    left: 36%;
    position: absolute;
}

.seven {
    top: 35px;
}

.wrapperIntro.third .text6
{
     display: none;
    font-size: 1.5em;
    font-weight: bold;
    left: 72%;
    padding-left: 0;
    position: absolute;
    top: 80%;
 }


table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th    {
    background-color: black;
    color: white;
}

.numbers_table
{
    font-size: 3em;
    width: 7%;
    font-weight: bold;
    text-align: center;
}

.value_table
{
      font-size: 3em;
    width: 7%;
    font-weight: bold;
    text-align: center;
}

.width_input, .width_input1, .width_input2, .width_input3, .width_input4, .width_input5, .width_input6, .width_input7
{
    width: 100%;
	text-align: center;
}

.table_diy2
{
    display: none;
    left: 12%;
    position: absolute;
    top: 15%;
    width: 51%;
}


.numbers_table1
{
    font-size: 3em;
    width: 95px;
    font-weight: bold;
    text-align: center;
}

.value_table1
{
      font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
    width: 145px;
}

.width_input_one
{
      width: 36px;
	  height: 39px;
	  text-align: center;
}

.width_input_two
{
      width: 36px;
	  height: 39px;
	  text-align: center;
}

.width_input_three
{
      width: 36px;
	  height: 39px;
	  text-align: center;
}

.width_input_four
{
      width: 36px;
	  height: 39px;
	  text-align: center;
}

/*.red{
	color: #D80000;
}

.purple{
	color: #0099FF;
	display: none;
}

.black{
	color: #000000;
	display: none;
}

.black1{
	color: #000000;
	display: none;


}*/

#correct, #wrong{
	 display: none;

}

.img01.img-responsive {
    left: 80%;
	margin-top: 30%;
	position: relative;
	width: 3%;

}

#correct1, #wrong1{
	 display: none;

}

.img02.img-responsive {
    left: 80%;
	margin-top: 35.5%;
	position: relative;
	width: 3%;

}

.ten {
    font-size: 1.5em;
    font-weight: bold;
    left: 68%;
    position: absolute;
    top: 32%;
	display: none;
}

.six {
    font-size: 1.5em;
    font-weight: bold;
    left: 86%;
    position: absolute;
    top: 32%;
	display: none;
}

.answer {
    background: none repeat scroll 0 0 #000000;
	border-radius: 9px 9px 9px 9px;
	display: none;
	font-size: 1em;
	font-weight: bold;
	padding: 1.5%;
	position: absolute;
	right: -44%;
	top: 58%;
}

.answer1 {
    background: none repeat scroll 0 0 #000000;
	border-radius: 9px 9px 9px 9px;
	display: none;
	font-size: 1em;
	font-weight: bold;
	padding: 1.5%;
	position: absolute;
	right: -44.4%;
	top: 70%;
}

.check{
	background: none repeat scroll 0 0 #F35743;
	border-radius: 9px 9px 9px 9px;
	color: #000000;
	display: none;
	font-size: 1.8em;
	font-weight: bold;
	padding: 0% 1%;
	position: absolute;
	right: -29%;
	top: 57%;
}

.check:hover
{
    cursor: pointer;
    background: #FFAC00;
}

.cf1,
.cf2,
.cf3{
	display: none;
}

/*fourth page*/

.wrapperIntro.fourth
{
    /*background: rgba(15,173,187,0.5);*/
	background: #ffffff;
}

.wrapperIntro.fourth .text0{
  color: #000000;
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    padding: 1% 2%;
    position: absolute;
    right: 54%;
    top: 2%;
}

.wrapperIntro.fourth .text1
{
   display: none;
    font-size: 1.1em;
    font-weight: bold;
    left: 4%;
    position: absolute;
    top: 10%;
}

.wrapperIntro.fourth .text2 {
    left: 58%;
    position: absolute;
    top: 56%;
	display: none;
}

.wrapperIntro.fourth .text3 {
    left: 66%;
    position: absolute;
    top: 66%;
	display: none;
}

/*.wrapperIntro.fourth .text4 {
     display: none;
    left: 66%;
    position: absolute;
    top: 78%;
}*/

.table_diy3
{
   display: none;
    left: 7%;
    position: absolute;
    top: 20%;
    width: 38%;
}

.kid {
     display: none;
    left: 52%;
    margin-top: 8%;
    position: absolute;
    width: 48%;
}

.width, .width1, .width2, .width3, .width4, .width5, .width6, .width7
{
    height: 39px;
    width: 43px;
	text-align: center;
}


.width-ans {
    height: 39px;
    width: 41px;
	 left: 25%;
	 text-align: center;
}

.wrapperIntro.fourth .text4{
	background: none repeat scroll 0 0 #F35743;
    border-radius: 9px;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    left: 76%;
    padding: 1%;
    position: absolute;
    top: 65%;
	display: none;
}

.wrapperIntro.fourth .text5{
	background: #ffffff none repeat scroll 0 0;
    border: 1px solid;
    border-radius: 9px;
    display: none;
    font-size: 1em;
    font-weight: bold;
    padding: 1%;
    position: absolute;
    right: 14%;
    top: 76%;
}

.wrapperIntro.fourth .text4 :hover
{
    cursor: pointer;
    background: #FFAC00;
}

.med {
    left: 95%;
    margin-top: -31%;
}

.med01 {
    border-top: 1px solid;
    left: 96%;
    text-align: center;
}

.med02 {
    left: 23%;
    margin-top: -23%;
}

.med03 {
    border-top: 1px solid;
    left: 24%;
    text-align: center;
}

#correct2, #wrong2{
	 display: none;

}

.img03.img-responsive {
     left: 90%;
    margin-top: 39%;
    position: relative;
    width: 3%;

}

.correct{
    background: #a4e361 !important;
}

.incorrect{
    background: #ff7660 !important;
}

.check_01{
	background: none repeat scroll 0 0 #F35743;
    border-radius: 9px;
    color: #000000;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    left: 23.5%;
    padding: 1%;
    position: absolute;
    top: 69%;
}

.check_01:hover
{
    cursor: pointer;
    background: #FFAC00;
}

.check_02{
	background: none repeat scroll 0 0 #F35743;
    border-radius: 9px;
    color: #000000;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    left: 34.5%;
    padding: 1%;
    position: absolute;
    top: 69%;
}

.check_02:hover
{
    cursor: pointer;
    background: #FFAC00;
}

@media screen and (min-aspect-ratio: 4/3){
	.wrapperIntro.firstPage .text0,
	.wrapperIntro.firstPage .text1,
	.wrapperIntro.firstPage .text2,
	.wrapperIntro.firstPage .text3,
	.wrapperIntro.firstPage .text4,
	.wrapperIntro.firstPage .text5,
	.wrapperIntro.firstPage .text6,
	.wrapperIntro.firstPage .text7,
	.wrapperIntro.firstPage .text8,
	.wrapperIntro.firstPage .text9,
	.wrapperIntro.firstPage .text10,
	.wrapperIntro.firstPage .text11,
	.wrapperIntro.firstPage .text12,
	.wrapperIntro.firstPage .text13,
	.wrapperIntro.second .text0,
	.wrapperIntro.second .text1,
	.wrapperIntro.second .text2,
	.wrapperIntro.second .text3,
	.wrapperIntro.second .text4,
	.wrapperIntro.second .text5,
	.wrapperIntro.second .text6,
	.wrapperIntro.second .text7,
	.wrapperIntro.second .text8,
	.wrapperIntro.second .text9,
  .wrapperIntro.second .text12{
		font-size: 2.9vh;
	}
}
@media screen and (max-aspect-ratio: 4/3){
	.wrapperIntro.firstPage .text0,
	.wrapperIntro.firstPage .text1,
	.wrapperIntro.firstPage .text2,
	.wrapperIntro.firstPage .text3,
	.wrapperIntro.firstPage .text4,
	.wrapperIntro.firstPage .text5,
	.wrapperIntro.firstPage .text6,
	.wrapperIntro.firstPage .text7,
	.wrapperIntro.firstPage .text8,
	.wrapperIntro.firstPage .text9,
	.wrapperIntro.firstPage .text10,
	.wrapperIntro.firstPage .text11,
	.wrapperIntro.firstPage .text12,
	.wrapperIntro.firstPage .text13,
	.wrapperIntro.second .text0,
	.wrapperIntro.second .text1,
	.wrapperIntro.second .text2,
	.wrapperIntro.second .text3,
	.wrapperIntro.second .text4,
	.wrapperIntro.second .text5,
	.wrapperIntro.second .text6,
	.wrapperIntro.second .text7,
	.wrapperIntro.second .text8,
	.wrapperIntro.second .text9,
  .wrapperIntro.second .text12{
		font-size: 1.4vw;
	}
}
