.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	/*display: none;*/
	position: absolute;
	top: 85%;
	left: 93%;
	width: 6%;
	height: 10%;
	z-index: 99;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top: 85%;
	left: 5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/


.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1.3em;
	color: #996699;
}

.wrapperIntro.firstPage .ind2 {
	font-size: 1.3em;
	color: #996699;
}

.wrapperIntro.firstPage .text1 b {
	font-size: 1em;
}

.wrapperIntro.firstPage .text1, .wrapperIntro.firstPage .text2,
	.wrapperIntro.firstPage .text3, .wrapperIntro.firstPage .text4,
	.wrapperIntro.firstPage .text5, .wrapperIntro.firstPage .text6,
	.wrapperIntro.firstPage .text7, .wrapperIntro.firstPage .text8,
	.wrapperIntro.firstPage .text9, .wrapperIntro.firstPage .text10,
	.wrapperIntro.firstPage .text11, .wrapperIntro.firstPage .text12 {
	font-size: 1em;
	z-index: 82;
}

.wrapperIntro.firstPage .maths0 {
	position: absolute;
	width: 20%;
	left: 40%;
	top: 20%;
	font-size: 18em;
	color: #007C00;
	text-align: center;
}

.wrapperIntro.firstPage .maths1 {
	position: absolute;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	top: 50%;
	display: none;
}

.wrapperIntro.firstPage .maths2 {
	position: absolute;
	top: 50%;
	right: 7%;
	font-size: 12em;
	color: #6600CC;
	text-align: center;
	display: none;
}

.wrapperIntro.firstPage .maths span.power {
	position: absolute;
	font-size: 0.5em;
	top: 0;
	left: 100%;
}

.wrapperIntro.firstPage .maths0 span.power {
	color: #0000FF;
}

.wrapperIntro.second .maths {
	font-size: 8em;
	text-align: center;
	color: #007C00;
}

.wrapperIntro.second .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	color: #0000FF;
}

.exponential .board .wrapperIntro.second {
	position: relative;
	background:#ffffff;
	
	

}


.wrapperIntro.second .text2 b {
	font-size: 1.3em;
}

/*
.wrapperIntro.second .text3 {
	font-size: 1.3em;
	color: #000088;
	text-align: center;
	display: none;
}

.wrapperIntro.second .text4 {
	margin-top: 3%;
	font-size: 2em;
	color: #000088;
	text-align: left;
	padding-left: 8%;
	display: none;
}

.wrapperIntro.second .text5 {
	margin-top: 3%;
	font-size: 1.3em;
	display: none;
}
*/
.wrapperIntro.baseAndIndices {
	
}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	/*width: 20%;*/
	/*background: #c9c9c9;*/
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 30%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 10%;
	right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 50%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 43%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 60%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
	position: absolute;
	bottom: 7%;
	left: 25%;
	font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1, .wrapperIntro.baseAndIndices .text2
	{
	position: absolute;
	font-size: 1.4em;
	width: 14%;
	padding: 0.5%;
	bottom: 5%;
	background: #573E7D;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 3px solid #573E7D;
}

.wrapperIntro.baseAndIndices .text1:hover, .wrapperIntro.baseAndIndices .text2:hover
	{
	background: #F2EDED;
	color: #573E7D;
}

.wrapperIntro.baseAndIndices .text1 {
	left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
	left: 60%;
}

.wrapperIntro.baseAndIndices2 {
	
}

.wrapperIntro.baseAndIndices2 .text0, .wrapperIntro.baseAndIndices2 .text1
	{
	font-size: 1.6em;
	color: #E36C09;
	padding-top: 2%;
	padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #6600CC;
}

.wrapperIntro.baseAndIndices2 .maths0 {
	top: 30%;
	left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
	top: 30%;
	right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
	top: 50%;
	left: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
	top: 50%;
	right: 30%;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 55%;
	left: 35%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	left: 0%;
	transform: rotate(40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text2:before {
	position: absolute;
	width: 30%;
	height: 3px;
	content: "";
	top: -20%;
	right: 0%;
	transform: rotate(-40deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3 {
	position: absolute;
	font-size: 3em;
	width: 30%;
	top: 25%;
	left: 37%;
	text-align: center;
	display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
	position: absolute;
	width: 35%;
	height: 3px;
	content: "";
	top: 120%;
	left: -2%;
	transform: rotate(140deg);
	background: #1F497D;
}

.wrapperIntro.baseAndIndices2 .text3:before {
	position: absolute;
	width: 45%;
	height: 3px;
	content: "";
	top: 128%;
	right: -15%;
	transform: rotate(-140deg);
	background: #1F497D;
}

.wrapperIntro.lastBaseIndices .text0 {
	text-align: center;
	font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
	position: absolute;
	width: 60%;
	top: 40%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
	/*color: #9901FF;*/
	color: #2A0055;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
	position: absolute;
	width: 60%;
	top: 50%;
	left: 20%;
	font-size: 1.5em;
	text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
	color: #CF2D92;
	font-size: 1.1em;
	text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
	position: absolute;
	font-size: 4em;
	text-align: center;
	color: #2A0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #CF2D92;
}

.wrapperIntro.lastBaseIndices .maths0 {
	top: 10%;
	left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
	top: 10%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
	top: 30%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
	top: 45%;
	right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
	top: 77%;
	left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
	top: 60%;
	right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
	top: 14%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
	top: 20%;
	left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
	top: 70%;
	right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
	top: 70%;
	left: 40%;
}

.wrapperIntro.firstPage .ind5 {
	color: #538cdb;
}

/*added by manish*/
.wrapperIntro.second .text1, .wrapperIntro.second .text2, .wrapperIntro.second .text3,
	.wrapperIntro.second .text4, .wrapperIntro.second .text5, .wrapperIntro.second .text6,
	.wrapperIntro.second .text7, .wrapperIntro.second .text8, .wrapperIntro.second .text9,
	.wrapperIntro.second .text10, .wrapperIntro.second .text11,
	.wrapperIntro.second .text12 ,.wrapperIntro.second .text13,.wrapperIntro.second.back .text14,.wrapperIntro.second.back .text15{
	font-size: 1em;
	display: none;
}

.wrapperIntro.second .text0 .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699;
}

.wrapperIntro.second .yellow {
	color: #F2C249;
}

.wrapperIntro.second .green {
	color: #00AAA0;
}

.wrapperIntro.second .imageholder01 {
	display: none;
}

.wrapperIntro.second .imageholder02 {
	display: none;
}

#fun_1>img {
	width: 54%;
}

#ball_1 {
	background: #F2C249;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	left: 20%; /*24%;*/
	top: 0;
}

#ball_2 {
	background: #C25B56;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
}

#ball_3 {
	background: #00AAA0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
	left: 20%; /*24%;*/
	top: 0;
}

.img-des1 {
	display: inline-flex;
	width: 100%;
}

.imageholder01 {
	width: 40%;
}

.image1des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

.img-des2 {
	display: inline-flex;
	width: 100%;
}

.imageholder02 {
	width: 40%;
}

.image2des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

/*first figure pachi ko styling*/

/********************third page****************/
.wrapperIntro.fourth .ind2 {
	color: #996699;
}

.wrapperIntro.fourth .imageholder03 {
	display: none;
}

#fullname {
	color: #cece00;
	position: absolute;
	top: 0;
	left: 14%; /*4%;*/
	transform: rotate(90deg) !important;
	font-weight: bold;
	font-size: 11px;
}

#firstname {
	color: #538cdb;
	position: absolute;
	left: 13%;
}

.imageholder01 {
	position: relative;
}

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/
.img-des3 {
	display: inline-flex;
	width: 100%;
}

.imageholder03 {
	width: 40%;
}

.image3des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

.des10 {
	margin-left: 9.55%;
}

.des11 {
	margin-left: 9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/
.img-des4 {
	display: inline-flex;
	width: 100%;
}

.imageholder04 {
	width: 40%;
}

.image4des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

.wrapperIntro.fourth .imageholder04 {
	display: none;
}

#fullname01 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 7%; /*13%; */
	transform: rotate(90deg) !important;
	font-weight: bold;
	font-size: 11px;
}

#firstname01 {
	color: #538cdb;
	position: absolute;
	left: 13%;
}

/*page4*/
.wrapperIntro.fourth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699;
}

.wrapperIntro.fourth .imageholder05 {
	display: none;
}

.wrapperIntro.fourth .imageholder06 {
	display: none;
}



/*.wrapperIntro.fourth .text2 {
	display: none;
}*/

.img-des5 {
	display: inline-flex;
	width: 100%;
}

.imageholder05 {
	width: 40%;
}

.image5des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input01 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output01 {
	color: #c25b56;
	position: absolute;
	left: 21%;
}

.main-fun {
	background: #a8a8fb none repeat scroll 0 0;
	border-radius: 5px;
	left: 17%;
	padding: 10px;
	position: absolute;
	top: 61%;
}

.img-des6 {
	display: inline-flex;
	width: 100%;
}

.imageholder06 {
	width: 40%;
}

.image6des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input02 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output02 {
	color: #c25b56;
	position: absolute;
	left: 21%;
}
/*******end of page 4*************/

/****page5*************/
.wrapperIntro.fifth .ind2 {
	/*font-weight: bold;*/
	font-size: 1em;
	color: #996699;
}

.wrapperIntro.fifth .imageholder07 {
	display: none;
}

.wrapperIntro.fifth .imageholder08 {
	display: none;
}

.wrapperIntro.fifth .text1 {
	display: none;
}

.wrapperIntro.fifth .text2 {
	display: none;
}

.img-des7 {
	display: inline-flex;
	width: 100%;
}

.imageholder07 {
	width: 40%;
}

.image7des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input03 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output03 {
	color: #C25B56;
	position: absolute;
	left: 21%;
}

.main-fun {
	background: #a8a8fb none repeat scroll 0 0;
	border-radius: 5px;
	left: 14.5%;
	width: 15%;
	position: absolute;
	top: 57%;
	text-align: center;
	font-style: bold;
}

.img-des8 {
	display: inline-flex;
	width: 100%;
}

.imageholder08 {
	width: 40%;
}

.image6des {
	float: right;
	padding-top: 60px;
	width: 60%;
}

#input04 {
	color: #00AAA0;
	position: absolute;
	top: 0;
	left: 21%; /*4%;*/
}

#output04 {
	color: #C25B56;
	position: absolute;
	left: 21%;
}

/******end of page5********/

/*added by manish*/
.wrapperIntro.second .des8 {
	border: 2px solid #538cdb;
	font-size: 1.5em;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 712px;
	display: none;
}

.p1_41 {
	border: 2px solid #538cdb;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 712px;
}

.p1_39 {
	margin-left: 19%;
}

.p1_40 {
	margin-left: 19%;
}

.image8des {
	margin-top: 100px;
}

/*added for unitary 02*/
.main-bg .img-responsive {
	width: 100%;
	height: 100%;
}

.deepa {
	position: absolute;
	right: 7%;
	top: 9%;
}

.img-containeer {
	border: 5px solid #ccc;
}

.img-a .img-responsive {
	width: 55%;
	height: 45%;
}

.img-b .img-responsive {
	width: 55%;
	height: 45%;
}

.img-c .img-responsive {
	width: 55%;
	height: 45%;
}

.img-d .img-responsive {
	width: 55%;
	height: 45%;
}



/*styles implemented by Rashik Maharjan*/
/*First page animation css for the moving  background*/

.dance
{
	 position: absolute;
    left: 29%;
    top: 5%;
	display: none;
    
}

.food
{
	position: absolute;
    left: 74%;
    top: 7%;
    width: 5%;
	display: none;
}

.smallant:hover,.mediumants:hover,.largeants:hover,.extraants:hover
{
	opacity: 0.8;
	cursor: pointer;
}
.smallant
{
	top: 65%;
    width: 36%;
    height: 35%;
    position: absolute;
}

.mediumants
{
	top: 65%;
    width: 36%;
    height: 35%;
    position: absolute;
    left: 21%;
}

.largeants
{
	top: 65%;
    width: 23%;
    height: 35%;
    position: absolute;
    left: 53%;
}

.extraants
{
	top: 65%;
    width: 23%;
    height: 35%;
    position: absolute;
    left: 75%;

}


.ant_pic
{
	position: absolute;
    right: 84%;
    top: 25%;
    width: 25%;
}

.ant_pic2
{
	position: absolute;
    top: 24%;
    left: 19%;
    width: 23%;
}

.ant_pic3
{
	position: absolute;
    top: 25%;
    left: 41%;
    width: 23%;
}

.ant_pic4
{
	position: absolute;
    top: 26%;
    left: 40%;
    width: 23%;
}

.ant_pic5
{
	position: absolute;
    top: 26%;
    left: 70%;
    width: 23%;
}

.ant_pic6
{
	position: absolute;
    top: 27%;
    left: 17%;
    width: 34%;
}

.ant_pic7
{
	position: absolute;
    top: 26%;
    left: 58%;
    width: 34%;
}

.ant_pic8
{
	position: absolute;
    top: 27%;
    left: 8%;
    width: 34%
}

.ant_pic9
{
	    position: absolute;
    top: 30%;
    left: 49%;
    width: 34%;
}

.bg{
	background: #000000 none repeat scroll 0 0;
    border: 2px solid;
    border-radius: 8%;
    
}

.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	background: #ffffff;
}
	/*background: url(../image/median.png) repeat-x; 
  	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	-o-background-size: cover !important;
  	background-size: cover !important;*/

/*	background-image: url(../image/bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;*/

	/*animation: animatedBackground 200s linear infinite !important;
	-webkit-animation: animatedBackground 200s linear infinite !important;
	-moz-animation: animatedBackground 200s linear infinite !important;
}

@-webkit-keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}

@-moz-keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}

@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}*/





/*for chapter titles and page titles*/

.wrapperIntro.firstPage .text0 {
	background: #8e7cc3 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: 0;
    padding-left: 17%;
    padding-top: 1%;
    position: absolute;
    top: 0%;
    width: 46%;
	display: none;
	
}

.wrapperIntro.firstPage .text1 {
	color: #000000;
    font-size: 5em;
    left: 47.5%;
    position: absolute;
    top: -3%;
	display: none;
}

.wrapperIntro.firstPage .text2{
	
	background: #ff4047 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: 54%;
    padding-left: 17%;
    padding-top: 1%;
    position: absolute;
    top: 0%;
    width: 46%;
	display: none;
}

.wrapperIntro.firstPage .text3{
	color: #D61E2E;
    font-size: 4em;
    font-weight: bold;
    left: 36%;
    position: absolute;
    top: 40%;
	display: none;
}



.wrapperIntro.firstPage .text4{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 49%;
    position: absolute;
    top: 61%;
	display: none;
}

.wrapperIntro.firstPage .text5{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 28%;
    position: absolute;
    top: 61%;
	display: none;
}

.wrapperIntro.firstPage .text6{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 66%;
    position: absolute;
    top: 61%;
	display: none;
}

.wrapperIntro.firstPage .text7{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 67%;
    position: absolute;
    top: 27%;
	display: none;
}

.arrow {
    left: 62%;
    position: absolute;
    top: 52%;
	display: none;
}

.arrow1 {
    left: 48%;
    position: absolute;
    top: 52%;
	display: none;
}

.arrow2 {
    left: 32%;
    position: absolute;
    top: 51%;
    transform: rotate(75deg);
	display: none;
}

.arrow3 {
     display: none;
    left: 62%;
    position: absolute;
    top: 33%;
    transform: rotate(267deg);
}

/*second page*/

.wrapperIntro.second .text0 {
	 background: #8e7cc3 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: 0;
    padding-left: 35%;
    padding-top: 1%;
    position: absolute;
    top: 0%;
    width: 83%;
	
}

.wrapperIntro.second .text1 {
	color: #5c5c5c;
    font-size: 1.5em;
    left: 3%;
    position: absolute;
    top: 18%;
}

.wrapperIntro.second .text2
{
    color: #5c5c5c;
    font-size: 1.5em;
    left: 3%;
    position: absolute;
    top: 26%;
 }

.wrapperIntro.second .text3
{
    color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 19%;
    position: absolute;
    top: 48%;
 }

.wrapperIntro.second .text4
{
    color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    left: 28%;
    position: absolute;
    top: 57%;
 }

.wrapperIntro.second .text5
{
    color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 37%;
    position: absolute;
    top: 48%;
   }

.wrapperIntro.second .text6
{
    color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    left: 33%;
    position: absolute;
    top: 57%;
   }

.wrapperIntro.second .text7
{
        position: absolute;
    top: 29%;
    font-weight: bold;
    font-size: 1.8em;
    right: 27%;
    color: #000000;
	display: none;
   }


.wrapperIntro.second .text8
{
    background: #ffd966 none repeat scroll 0 0;
    border-radius: 12px;
    color: #000000;
    display: none;
    font-size: 1.5em;
    height: 8%;
    left: 16%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    position: absolute;
    top: 70%;
   }
   
.green{
	color: #00B886;
}

.red{
	color: #e71861;
    font-size: 1.4em;
}

.wrapperIntro.second .text9
{
    background: #ffd966 none repeat scroll 0 0;
    border-radius: 12px;
    color: #000000;
    display: none;
    font-size: 1.5em;
    height: 8%;
    left: 16%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
    position: absolute;
    top: 82%;
   }
   
.wrapperIntro.second .text10 {
	 background: #ff4047 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: 85%;
    padding-left: 35%;
    padding-top: 1%;
    position: absolute;
    top: 0%;
    width: 51%;
	
}   

   
.border {
	border: 3px solid #00B88A;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    text-align: center;
}

.border1 {
	border: 3px solid #00B88A;
    border-radius: 49%;
    left: 10px;
    position: absolute;
    text-align: center;
    top: 0;
}

.border2{
	 border: 3px solid #00B88A;
    border-radius: 49%;
    left: 103px;
    position: absolute;
    text-align: center;
    top: 0;
}

.border3 {
	border: 3px solid #00B88A;
    border-radius: 49%;
    left: 253px;
    position: absolute;
    text-align: center;
    top: 0;
}

.three {
    left: 48px;
    position: absolute;
    top: 3px;
	
}

.four {
    left: 75px;
    position: absolute;
    top: 3px;
}

.six {
    left: 140px;
    position: absolute;
    top: 3px;
}

.seven {
   left: 168px;
    position: absolute;
    top: 3px;
}

.eight {
    left: 197px;
    position: absolute;
    top: 3px;
}

.nine {
    left: 226px;
    position: absolute;
    top: 3px;
}

.grey{
	color:#555;
}

.grey01{
	color:#cccccc;
}

/*third page end*/

.wrapperIntro.third .text0 {
	background: #8e7cc3 none repeat scroll 0 0;
    color: #8e7cc3;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: -30%;
    padding-left: 35%;
    padding-top: 1%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 99;
	
}

.wrapperIntro.third .text1 {
	 background: #ff4047 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: 24%;
    padding-left: 31%;
    padding-top: 1%;
    position: absolute;
    top: 0;
    width: 83%;
	
}  

.wrapperIntro.third .text2 {
	color: #5c5c5c;
    font-size: 1.5em;
    left: 3%;
    position: absolute;
    top: 18%;
	display: none;
}

.wrapperIntro.third .text3
{
    color: #5c5c5c;
    font-size: 1.5em;
    left: 3%;
    position: absolute;
    top: 26%;
	display: none;
 }
 
 .wrapperIntro.third .text4
{
    color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 37%;
    position: absolute;
    top: 48%;
   }

.wrapperIntro.third .text5
{
    color: #5c5c5c;
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    left: 28%;
    position: absolute;
    top: 57%;
   }
 
 .wrapperIntro.third .text6
{
     background: #ffd966 none repeat scroll 0 0;
    border-radius: 12px;
    color: #000000;
    display: none;
    font-size: 1.5em;
    height: 8%;
    left: 13%;
    padding-left: 2.5%;
    padding-top: 1%;
    position: absolute;
    top: 70%;
    width: 75%;
   }

.wrapperIntro.third .text7
{
     background: #ffd966 none repeat scroll 0 0;
    border-radius: 12px;
    color: #000000;
    display: none;
    font-size: 1.5em;
    height: 8%;
    left: 16%;
    padding-left: 11%;
    padding-top: 1%;
    position: absolute;
    top: 82%;
    width: 70%;
   }


/*third page*/


.wrapperIntro.fourth .text0 {
	background: #8e7cc3 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: 0;
    padding-left: 17%;
    padding-top: 1%;
    position: absolute;
    top: 0%;
    width: 46%;
	display: none;
	
}

.wrapperIntro.fourth .text2{
	
	background: #ff4047 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
    left: 54%;
    padding-left: 17%;
    padding-top: 1%;
    position: absolute;
    top: 0%;
    width: 46%;
	display: none;
}

.wrapperIntro.fourth .text3{
	color: #5c5c5c;
    display: none;
    font-size: 1.5em;
    left: 4%;
    position: absolute;
    top: 19%;
    width: 33%;
}

.wrapperIntro.fourth .text1 {
	color: #5c5c5c;
    font-size: 5em;
    left: 47.5%;
    position: absolute;
    top: -3%;
	display: none;
}

.wrapperIntro.fourth .text4{
	color: #D61E2E;
    font-size: 4em;
    font-weight: bold;
    left: 36%;
    position: absolute;
    top: 50%;
	display: none;
}

.wrapperIntro.fourth .text5{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 49%;
    position: absolute;
    top: 71%;
	display: none;
}

.wrapperIntro.fourth .text6{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 28%;
    position: absolute;
    top: 71%;
	display: none;
}

.wrapperIntro.fourth .text7{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 66%;
    position: absolute;
    top: 71%;
	display: none;
}

.wrapperIntro.fourth .text8{
	color: #555;
    font-size: 2em;
    font-weight: bold;
    left: 66%;
    position: absolute;
    top: 36%;
	display: none;
}

.wrapperIntro.fourth .text9 {
    font-size: 1.5em;
    left: 58%;
    position: absolute;
    top: 18%;
	color: #5c5c5c;
	display: none;
}

.wrapperIntro.fourth .arrow {
    left: 62%;
    position: absolute;
    top: 62%;
	display: none;
}

.wrapperIntro.fourth .arrow1 {
    left: 48%;
    position: absolute;
    top: 62%;
	display: none;
}

.wrapperIntro.fourth .arrow2 {
    left: 32%;
    position: absolute;
    top: 61%;
    transform: rotate(75deg);
	display: none;
}

.wrapperIntro.fourth .arrow3 {
    left: 61%;
    position: absolute;
    top: 43%;
   transform: rotate(-99deg);
	display: none;
}

/*fourth page*/

.textblock {
    top: 40%;
    position: relative;
	display: none;
}

p.onlyparatextstyle, p.paratextstyle {
    animation: 0.2s ease-out 0s normal forwards 1 running swipebackgroundkeyframe;
    background-image: linear-gradient(90deg, rgb(245, 242, 199) 50%, rgb(245, 242, 199) 50%);
    /*background-position: -100% 0;
    background-repeat: no-repeat;
    background-size: 200% 100%;*/
    box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    display: table;
    font-size: 1.5em;
    margin: 0 2%;
    padding: 3%;
    position: relative;
    text-align: center;
    width: 95%;
	
}

.red01{
	color:#FF4047;
}

.blue{
	color:#2292EA;
}

.wrapperIntro.fourth .text3{
	display: none;
	
}

.modebg{
	
    background: url(../image/sky.png) repeat-x !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    animation: animatedBackground 200s linear infinite !important;
    -webkit-animation: animatedBackground 200s linear infinite !important;
    -moz-animation: animatedBackground 200s linear infinite !important;
	
}

.wrapperIntro.fourth.modebg .text0
{
	 font-size: 6em;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 1%;
    right: 54%;
	display: none;
}

.wrapperIntro.fourth.modebg .text1 {
	color: #E65256;
    font-size: 2em;
    font-weight: bold;
    padding: 3%;
    position: absolute;
    top: 16%;
    z-index: 1000;
	display: none;
}


.mode-dance
{
	position: absolute;
    left: 29%;
    top: 85%;
}



@-webkit-keyframes animatedBackgroundmove {
    to { background-position: -5000% 0%; }
}

@-moz-keyframes animatedBackgroundmove {
    to { background-position: -5000% 0%; }
}

@keyframes animatedBackgroundmove {
    to { background-position: -5000% 0%; }
}

.wave1{
		position: absolute;
	    top: 1%;
	    width: 100%;
	    height: 100%;
        background-image: url(../image/wave1.png);
        background-repeat: repeat;
        background-size:90% 100%;
        background-position: 0% 0%;
        
        -webkit-animation : animatedBackgroundmove 90s linear infinite;
        -moz-animation    : animatedBackgroundmove 90s linear infinite;
        animation         : animatedBackgroundmove 90s linear infinite; 
}
@-webkit-keyframes animatedBackgroundmoveright {
    to { background-position: 0% 0%; }
}

@-moz-keyframes animatedBackgroundmoveright {
    to { background-position: 0% 0%; }
}

@keyframes animatedBackgroundmoveright {
    to { background-position: 0% 0%; }
}
.wave2{
	    z-index: 99;
		position: absolute;
	    top: 13%;
	    width: 100%;
	    height: 100%;

        background-image: url(../image/wave2.png);
        background-repeat: repeat;
        background-size:90% 100%;
        background-position: -5000% 0%;
        
        -webkit-animation : animatedBackgroundmoveright 120s linear infinite;
        -moz-animation    : animatedBackgroundmoveright 120s linear infinite;
        animation         : animatedBackgroundmoveright 120s linear infinite; 
}

.wave3{
	    position: absolute;
	    top: 25%;
	    width: 100%;
	    height: 100%;
        background-image: url(../image/wave3.png);
        background-repeat: repeat;
        background-size:90% 100%;
        background-position: 0% 0%;
        
        -webkit-animation : animatedBackgroundmove 90s linear infinite;
        -moz-animation    : animatedBackgroundmove 90s linear infinite;
        animation         : animatedBackgroundmove 90s linear infinite; 
}


.pirate
{
	position: absolute;
    top: 4%;
    width: 67%;
}



.modenightbg{
	
    background: url(../image/night.gif) repeat-x !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    animation: animatedBackground 40s linear infinite !important;
    -webkit-animation: animatedBackground 40s linear infinite !important;
    -moz-animation: animatedBackground 40s linear infinite !important;
}

.wrapperIntro.fourth.modebg.modenightbg .text1
{
	position: absolute;
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    padding: 3%;
	display: none;
}

.wrapperIntro.fourth.modebg.modenightbg .text2
{
	color: #000000;
    display: none;
    font-size: 2em;
    font-weight: bold;
    padding: 6%;
    position: absolute;
}

.wrapperIntro.fourth.modebg.modenightbg .text3
{
	color: #000000;
    display: none;
    font-size: 3em;
    font-weight: bold;
    left: 1%;
    padding: 3%;
    position: absolute;
    top: 5%;
}

    

    /*mode ants click*/
    .smallant:hover,.mediumants:hover,.largeants:hover,.extraants:hover
{
	opacity: 0.8;
	cursor: pointer;
}
.smallantmode
{
	top: 65%;
    width: 36%;
    height: 35%;
    position: absolute;
}

.mediumantsmode
{
	top: 65%;
    width: 36%;
    height: 35%;
    position: absolute;
    left: 21%;
}

.largeantsmode
{
	top: 65%;
    width: 23%;
    height: 35%;
    position: absolute;
    left: 53%;
}

.extraantsmode
{
	top: 65%;
    width: 23%;
    height: 35%;
    position: absolute;
    left: 75%;

}

.modeantcorrect
{
	background: #000000;
	border-radius: 50%;
}

.wrapperIntro.fourth.modebg .text4
{
    font-size: 3em;
    font-weight: bold;
    /* text-decoration: underline; */
    position: absolute;
    top: 7%;
    left: 2%;
    border-bottom: 3px solid #FFD940;
    color: #37A9DF;
	display: none;
}

.wrapperIntro.fourth.modebg .text5
{
	font-size: 1.8em;
    position: absolute;
    top: 21%;
    padding-left: 3.5%;
    padding-right: 0;
    color: #E65256;
    font-weight: bold;
	display: none;
}

.wrapperIntro.fourth.modebg .text6
{
	font-size: 1.8em;
    position: absolute;
    top: 30%;
    padding-left: 3%;
    padding-right: 0;
    color: #E65256;
    font-weight: bold;
	display: none;
}

.wrapperIntro.fourth.modebg .text7
{
	    font-size: 1.8em;
    position: absolute;
    top: 39%;
    padding-left: 3%;
    padding-right: 0;
    color: #E65256;
    font-weight: bold;
	display: none;
}

.wrapperIntro.fourth.modebg .text8
{
	   color: #E65256;
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 3.5%;
    padding-right: 0;
    position: absolute;
    top: 48%;
}

.wrapperIntro.fourth.modebg .text9
{
	 color: #E65256;
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 0;
    position: absolute;
    top: 57%;
}

.wrapperIntro.fourth.modebg .text10
{
	font-size: 3em;
    font-weight: bold;
    /* text-decoration: underline; */
    position: absolute;
    top: 7%;
    left: 2%;
    border-bottom: 3px solid #FFD940;
    color: #000000;
	display: none;
}

.wrapperIntro.fourth.modebg .text11
{
   color: #000000;
    font-size: 2em;
    font-weight: bold;
    padding: 7%;
    position: absolute;
    text-align: justify;
    top: 21%;
	display: none;
}

.wrapperIntro.fourth.modebg .text0{
	font-size: 3em;
    font-weight: bold;
    position: absolute;
    top: 7%;
    left: 2%;
    border-bottom: 3px solid #FFD940;
    color: #000000;
	
}

.wrapperIntro.fourth.modebg .text1{
	font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 39%;
    left: 2%;
    color: #000000;
    padding-right: 5%;
    text-align: justify;
    padding-left: 3%;
	
}

/*img {
    vertical-align: middle;
    height: 50%;
	width: 100%;
}*/

/*#strawberry > img {
    margin-top: 2%;
    width: 32%;
}

#watermelon > img {
   
    margin-top: 2%;
    width: 32%;
	
}

#banana > img {
   margin-top: 2%;
    width: 32%;
}

#bread > img {
   margin-top: 2%;
    width: 32%;
	 
}*/

li{
	background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    /*height: 17%;
    width: 17%;
	margin:40px -104px 0 0 !important;*/
	
    
}

/*.col-lg-8.col-md-8.col-sm-8.col-xs-8.mountan_names{
	 position: absolute;
    top: 73%;
}*/

/*.ui-sortable {
    display: -moz-inline-box;
    margin-top: 56%;
}


#sortable li:hover
{
	cursor :pointer;
}

.button 
{
	margin-top :36px;
	color:#000000;
}

#correct_icon,#incorrect_icon
{
	display : none;
	  height: 89px;
}

#correct_icon,#incorrect_icon
{
	  height: 89px;
}

.whole_content
{
	width:100%;
	height:100%;
	position:relative;
	background:#000000;
}

.button_check
{
	     position: absolute;
    left: 56%;
    top: 46%;
}

.right_wrong
{
	position: absolute;
    top: 48%;
    left: 72%;
}

.check
{
	background-color: #FF595B;
    color: #000000;
    font-size: 1.5em;
    border-color: #FF595B;
    border-radius: 9%;
}

.check:hover
{
	background-color: #37A2EA;
    color: #000000;
    font-size: 1.5em;
    border-color: #37A2EA;
    border-radius: 9%;
}*/



/*match*/


#sortable {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align:center;
	}
	
	#sortable li {
		height: 145px !important;
		margin: 260px 30px 19px;
		padding: 0.4em 0.4em 0.4em 1.5em;
		width: 15%;
		
	}
	#sortable li span {
		position: absolute;
		margin-left: -1.3em;
	}
.mainBox{
margin:0 auto;}

/* Give headings their own font */

h1, h2, h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}
h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	color:#4682B4;
}

.title {
     font-size: 1.6em;
    width: 97.5%;
    height: 10%;
    color: #000000;
    margin: auto;
    text-align: center;
    background: none repeat scroll 0 0 #FF595B;
    margin-top: 0%;
    padding-top: 1%;
}
.content_words{
	margin-top:0%;
	margin-left:0%;
	width:100%;
    background-image: url('../snow_fall/1.png'), url('../snow_fall/2.png'), url('../snow_fall/3.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 30s linear infinite;
	
}
li > #1{
	 background:green;
}
#sortable li:hover
{
	cursor :pointer;
}

.button 
{
	margin-top :36px;
	color:#000000;
	display: none;
}

#correct_icon,#incorrect_icon
{
	display : none;
	  height: 89px;
}
#correct_icon,#incorrect_icon
{
	height: 88px;
    margin-top: 8%;
}

.whole_content
{
	width:100%;
	height:100%
	position:relative;
	background:#000000;
}

.mountains
{
	position: relative;
    width: 50%;
    left: -0.1%;
    margin-top: 24%;
}

.mountains2
{
	     position: relative;
    width: 50.6%;
    left: 49.5%;
    margin-top: -20.5%;
    height: 33%;
}

.mountan_names
{
	position: absolute;
    top: 39%;
	
}


.button_check
{
	left: 71%;
    position: absolute;
    top: 59%;
}

.right_wrong
{
	position: absolute;
    top: 48%;
    left: 72%;
}

/*button designs*/
.check
{
	background-color: #FF595B;
    color: #000000;
    font-size: 1.5em;
    border-color: #FF595B;
    border-radius: 9%;
	z-index: 999;
}

.check:hover
{
	background-color: #37A2EA;
    color: #000000;
    font-size: 1.5em;
    border-color: #37A2EA;
    border-radius: 9%;
}

.ants_width
{
	width: 100%;
}

#correct_ant,#incorrect_ant
{
	position: absolute;
    top: 45%;
    left: 43%;
    width: 16%;
    display: none;
}







   
