<script>
$cssLoader('css/shared.css');
$cssLoader('css/page3.css');
</script>

<div class="pageContainer">
	<div class="headTitle"></div>
	<div id="animateBox">


	</div>

	<div id="nextbtn" class="arrowcls">
			
	</div>

	<div id="prevbtn" class="arrowcls">
		
	</div>
</div>




<script type="text/x-handlebars-template" id="template-1">

{{#if intitle}}
	<div class="intitle">{{intitle}}</div>
{{/if}}

{{#if img1}}
<div id="figBox">
	<div class="inbx"><img src="{{img1}}" /></div>
</div>
{{/if}}

<div class="alltext">
<div id="fstline" class="textMe">{{fstline}}</div>
<div id="sndline" class="textMe">{{sndline}}</div>
<div id="trdline" class="textMe">{{trdline}}</div>
<div id="forline" class="textMe">{{forline}}</div>
<div id="fifline" class="textMe">{{fifline}}</div>
</div>

</script>

<script>
$jsLoader('js/page3.js');

</script>