/*main lab container*/
.titletextyy {

    position: absolute !important;
    font-size: 5vmin !important;
    font-family: abeezee;
    transform: translateX(-50%);
    left: 50% !important;
    top: 12% !important;

}
#lab1{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;

	/*background-color: #37C2DA;*/

	overflow: hidden;

	/*change only this*/
	background-image: url("../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#lab1 *{
	margin:0;
	padding:0;
}

/*---------------------------------------------------------------------------------------------*/
	#lab1 > p:nth-of-type(1){
		-webkit-animation-duration: 5s;
	  	-moz-animation-duration: 5s;
	   	animation-duration: 5s;
	}
.front_page_title {

    position: absolute !important;
    font-size: 5vmin !important;
    font-family: abeezee;
    transform: translateX(-50%);
    left: 50% !important;
    top: 12% !important;

}
	#uses > figure{
		-webkit-animation-duration: 0.7s;
	  	-moz-animation-duration: 0.7s;
	   	animation-duration: 0.7s;
	}

	#uses > figure:nth-of-type(odd){
		-webkit-animation-delay: 1s;
	  	-moz-animation-delay: 1s;
	   	animation-delay: 1s;
	}

/*---------------------------------------------------------------------------------------------*/
/*first statement*/
#lab1 > p:nth-of-type(1){
	display: block;
	position: absolute;
	top:2%;
	left:0%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	color: rgb(200,70,30);
	text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.5);
}

/*second statement*/
#lab1 > p:nth-of-type(2){
	display: none;
	position: absolute;
	top:10%;
	left:0%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	color: rgb(200,70,30);
	text-shadow:0em 0.1em 0.3em rgba(0,0,0,0.5);
}

/*uses div*/
#uses{
	position: absolute;
	top:20%;
	left:0%;
	width:100%;
	height:80%;
	/*border:1px solid red;*/

	/*use of css flex here - promising eh!*/
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

#uses > figure{
	display: none;
	width: 30%;
	height: 40%;
	/*border:1px solid blue;*/
}

#uses > figure > img{
	width: 100%;
	height: 100%;
	/*border:1px solid blue;*/
}

#uses > figure > figcaption{
	width:100%;
	font-size: 1.3em;
	text-align: center;
}

#uses > figure:nth-of-type(odd) > figcaption{
	color: rgb(100,20,20);
}

#uses > figure:nth-of-type(even) > figcaption{
	color: rgb(200,20,150);
}
