<script type="text/javascript">
    $cssLoader("css/page8.css");
</script>



<div class="readingmap_page1">
    <div class="board">
    </div>
    <!-- <div class="bottom_image"> 
        <img src="activity/grade8/english/eng_grade8_leonardo_da_vinci/images/buttomband.png" class="img-responsive footer_bottom">  
    </div> -->

    <div class="nextBtn myNextStyle"> </div>
    <div class="prevBtn myPrevStyle"> </div>

 <div class="text">
        <h1 class="leo">Leonardo</p>
            <h1 class="vinci">and his Flying Machines</p>
    </div>

     <div class="sheep1">
        <img src="activity/grade8/english/eng_grade8_leonardo_da_vinci/images/sheep.gif" class="img-responsive sheep">
    </div>

      <div class="sheep2">
        <img src="activity/grade8/english/eng_grade8_leonardo_da_vinci/images/sheep1.gif" class="img-responsive smallsheep">
      </div>

       <div class="plane">
        <img src="activity/grade8/english/eng_grade8_leonardo_da_vinci/images/planes.gif" class="img-responsive planes">
      </div>

     <div class="glider">
        <img src="activity/grade8/english/eng_grade8_leonardo_da_vinci/images/paraglading.gif" class="img-responsive glide">
      </div> 

</div>

<script type="text/x-handlebars-template" id="slide1-template">
    <div class="slide1 coverBoardFull">
    	<div class="backgroundImagesContainer">
    		<img src="{{this.bgImgSrc}}" data-forwhichdialog="{{this.forwhichdialog}}" id="{{this.imageid}}">
    	</div>
    	<div class="talkHeads">
    		{{#each talkHeadImages}}
    			<img src="{{this.talkHeadImgSrc}}" data-whosehead="{{this.nameofwhosehead}}" data-highlight="{{this.highlightFlag}}">
    		{{/each}}
    	</div>
        <div class="dialogcontainer">
            <p id="{{this.dialog_id}}">
                <img class="listenAgainButton disableListenAgain" src="{{speakerImgSrc}}" title="{{listenAgainText}}">
                {{#each lineCountDialog}}
                    <span>{{this}}</span>
                {{/each}}
            </p>
        </div>        
    </div>
    
</script>

<script src="js/buzz.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $jsLoader("js/page8.js");
</script>