/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#int7
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
background-image: url("../bg.png");}

/*for all elements make sure that it does not inherit margin and psubing*/
#int7 *{
	margin:0;
	padding:0;	
}
/*------------------------------------------------------------------------------------------*/
/*speed for animation in example one next button*/
#ex1nxt, #ex2nxt, #ex3nxt{
	-webkit-animation-duration: 3s;
  	-moz-animation-duration: 3s;
   	animation-duration: 3s;
}

#ex1locate,#ex2locate,#ex3locate{
	-webkit-animation-duration: 2s;
  	-moz-animation-duration: 2s;
   	animation-duration: 2s;
}

#nxtEx{
	-webkit-animation-duration: 5s;
  	-moz-animation-duration: 5s;
   	animation-duration: 5s;
}

#again{
	-webkit-animation-duration: 10s;
  	-moz-animation-duration: 10s;
   	animation-duration: 10s;

   	-webkit-animation-delay: 0s;
  	-moz-animation-delay: 0s;
   	animation-delay: 0s;
}
/*------------------------------------------------------------------------------------------*/

/*topic*/
#int7Topic{
	position: absolute;
	top:2%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	font-weight: bolder;
	color:#D93537;
	border-bottom:0.2em solid rgba(217, 53, 55,0.6);
}

/*next example*/
#nxtEx{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;	
	}

/*subtraction example 1*/
#subEx1, #subEx2, #subEx3{
	position:absolute;
	top:20%;
	left:10%;
	width:80%;
	height:70%;
	/*border:1px solid green;*/
}

#subEx1 > em, #subEx2 > em, #subEx3 > em{
	position: absolute;
	top:0%;
	width:100%;
	text-align: center;
	font-size: 3em;
	color:rgb(180,70,10);
}

#ex1imageHolder,#ex2imageHolder,#ex3imageHolder{
	position: absolute;
	top:20%;
	left:10%;
	width:80%;
	height:15%;
	/*border:1px solid green;*/
}

#ex1imageHolder > img, #ex2imageHolder > img, #ex3imageHolder > img{
	position: absolute;
	top:0%;
	left:0%;
	width: 100%;
	height: 100%;
}

#ex1locate, #ex2locate, #ex3locate{
	/*display: none;*/
	position: absolute;
	top:0%;
	left:47%;
	width: 6%;
	height: 100%;
	border:0.2em solid rgba(180,100,0,4);
}

/*rule image*/
#ex1rule, #ex2rule, #ex3rule{
	display: none;
	position: absolute;
	top:63%;
	left:-10%;
	width:18%;
}

/*the steps list*/
#subEx1 > ol, #subEx2 > ol, #subEx3 > ol{
	position: absolute;
	top:50%;
	left:15%;
	width:80%;
	font-size: 1.3em;
	text-align: justify;
	psubing:0% 5%;
}

#subEx1 > ol > li, #subEx2 > ol > li, #subEx3 > ol > li{
	list-style-type: decimal;
	list-style-position: outside;
}

#subEx1 > ol > li:nth-of-type(n+2), #subEx2 > ol > li:nth-of-type(n+2), #subEx3 > ol > li:nth-of-type(n+2){
	display: none;
}

#subEx1 > ol > li:nth-of-type(odd), #subEx2 > ol > li:nth-of-type(odd), #subEx3 > ol > li:nth-of-type(odd){
	color:rgb(20,50,200);
}

#subEx1 > ol > li:nth-of-type(even), #subEx2 > ol > li:nth-of-type(even), #subEx3 > ol > li:nth-of-type(even){
	color:rgb(180,10,70);
}

/*example's next*/
/*example one next*/
#ex1nxt, #ex2nxt, #ex3nxt{
	position: absolute;
	top:60%;
	right:-5%;
	width: 6%;
	height: 15%;
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#ex1nxt:hover, #ex2nxt:hover, #ex3nxt:hover{
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

/*example two*/
#subEx2, #subEx3{
	display: none;
}
