<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
		    <!-- for question with image. text or image as options -->
		    {{#if uppertextblock}}
		    	<div class="uppertextblock">
		    		{{#each uppertextblock}}
		    			{{> uppertextcontent}}
		    		{{/each}}
		    	</div>
		    {{/if}}

		    {{#if imageblock}}
		    	<div class="imageblock">
		    		{{#each imageblock}}
		    			{{> imagecontent}}
		    		{{/each}}
		    	</div>
		    {{/if}}
     	</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="uppertextcontent-partial">
	<p class="{{textclass}}">{{{textdata}}}</p>
</script>

<script type="text/x-handlebars-template" id="imagecontent-partial">
	{{#each clickImg}}
		<div class="flex-container">
			<img src="{{imgsrc}}" class="{{imgclass}}">
			<figcaption class="{{figcapclass}}">{{{figcapdata}}}</figcaption>
		</div>
	{{/each}}
	<!-- {{#each imgRightShow}}
			<img src="{{imgsrc}}" class="{{imgclass}}">
	{{/each}}
	{{#each imgWrongShow}}
			<img src="{{imgsrc}}" class="{{imgclass}}">
	{{/each}} -->
</script>



<!-- js loader starts -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>