<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
        <div class="contentblock {{additionalclasscontentblock}}">
            <div class="vertical-horizontal-center questions">

            </div>

            {{#if questionblock}}
            <div class="questions">
            {{#each questionblock}}
            <div class="questionblock {{addquestionclass}}">
                {{> textcontent}}
            </div>
            {{/each}} {{/if}}
          </div>
            {{#if exerciseblock}} {{#each exerciseblock}} {{#if headerblock}}
            <div class="headerblock instruc">
                {{#each headerblock}} {{> textcontent}} {{/each}}
            </div>
            {{/if}}

            <div class="optionsdiv">
                {{#each options}}
                <div class="optionscontainer {{optionadd}}" id="{{id}}">
                    {{>textcontent}}
                </div>
                {{/each}}
            </div>
             {{/each}} {{/if}}
            <div class="imageblock">
              <img class="guessimg" src="{{imgsrc}}" />
            </div>

        </div>
    </div>
</script>

<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{{datahighlightflag}}}" data-highlightcustomclass="{{datahighlightcustomclass}}" data-splitintofractions="{{splitintofractionsflag}}">{{{textdata}}}</p>
</script>



<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>
