<script type="text/javascript">
    $cssLoader("css/page3.css");
</script>

    	<div class="maincontainer">
			<div class="board"></div>
			<div class="nextBtn myNextStyle"></div>
			<div class="prevBtn myPrevStyle"></div>
		</div>
		
		<script id="general-template" type="text/x-handlebars-template">
			{{! update templatecontains data for if it has header, instruction, headerinstruction
				or only has content --}}
				{{#if hasheaderblock}}
					<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
				{{else}}
					<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
				{{/if}}
				{{#if divtosnap}}<div class="{{snaptoobject}}"></div>{{/if}}

		 			{{! header block start--}}
						{{#if headerblock}}
							<div class="headerblock">
						{{#each headerblock}}
							{{> textcontent}}
						{{/each}}
							</div>
						{{/if}}
					{{! header block end--}}
			
			
							{{! content block starts--}}
								 <div class="contentblock {{contentblockadditionalclass}}">
							        {{#if contentblocknocenteradjust}}
							            <div class="vertical-horizontal-center">
							        {{/if}}
				
									{{! if the content has a upperblock of texts--}}
										{{#if uppertextblock}}
											<div class ="textblock {{uppertextblockadditionalclass}}">
												{{{firstpagetitle}}}
											
											
											{{#each uppertextblock}}
												{{>textcontent}}
											{{/each}}
													
											{{#if contentblocknocenteradjust }}
												</div>
											{{/if}}
											</div>
										{{/if}}
										
										{{! if we need an explanation block on right side}}
											{{#if explanationblock}}
												<div class ="explanationblock">
													{{#each explanationblock}}
														{{>explanationcontent}}
													{{/each}}
												</div>
											{{/if}}


										{{! image block if the content contains any images }}
										{{#if imageblockadditionalclass}}
											<div class={{"imageblockadditionalclass"}}>
										{{/if}}
										
										{{#if imageblock}}
										<div class="imageblock">
											{{#if contentblockcenteradjust}}
												<div class= "vertical-horizontal-center">
											{{/if}}
											
											{{#each imageblock}}
												{{>imagecontent}}
											{{/each}}
											
											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}
										
										{{#if imageblockadditionalclass}}
											</div>
										{{/if}}
										
										{{#if lowertextblock}}
										<div class="textblock {{lowertextblockadditionalclass}}">
											{{#if contentblocknocenteradjust}}
												<div class="vertical-horizontal-center">
											{{/if}}
											{{#each lowertextblock}}
												{{>textcontent}}
											{{/each}}
										
											{{#if contentblocknocenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}
										
										{{#if definitionblock}}
										<div class="definitionblock {{definitionblockadditionalclass}}">
											{{#each definitionblock}}
												{{>definitioncontent}}
											{{/each}}
										</div>
										
										{{/if}}
								</div>
				</div>
		</script>

		<!--partials are seperated as subtemplates in handlebars-->
		<script id="textcontent-partial" type="text/x-handlebars-template">
			<p data-answer="{{ans}}" class="{{textclass}}" data-highlight="{{datahighlightflag}}"
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
		</script>
		
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="imagecontent-partial" type="text/x-handlebars-template">
			{{#each imagetoshow}}
				<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
			{{/each}}
			<br>
			{{#each imagetodrop}}
				<div class="{{imgtodropclass}}">
					<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>	
				</div>
			{{/each}}
			{{#if imagelabels}}
				{{#each imagelabels}}
					<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
						data-highlightcustomclass="{{datahighlightcustomclass}}" 
						>{{{imagelabeldata}}}</label>
						
				{{/each}}
			{{/if}}
			
		</script>

		<script id="explanationcontent-partial" type="text/x-handlebars-template">
			<p class="expheader">{{{exptitle}}}</p>
			<div class="infocontainer">
				{{#each expinfo}}
					<p class="{{infoclass}}" data-highlight="{{datahighlightflag}}"
						data-highlightcustomclass="{{datahighlightcustomclass}}" 
						>{{{infodata}}}</p>
						
				{{/each}}
			</div>
			<div class="imgcontainer">

			{{#each imagetoshow}}
				<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
			{{/each}}

			{{#each spritetoshow}}
				<div class="{{spritecss}}"></div>
			{{/each}}
			</div>
			<br>
			
			
		</script>
		
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="definitioncontent-partial" type="text/x-handlebars-template">
			<img src="{{definitionimagesource}}" />
			<figcaption>{{definitiontextdata}}</figcaption>
			<p class ="definitiontextstyle" data-highlight="{{datahighlightflag}}" 
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{definitioninsrtuctiondata}}</p>
		</script>
<script src="js/buzz.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
	// $jsLoader("../../../../js/jquery-ui.js");
    $jsLoader("js/page3.js");
</script>

