.coverboardfull{
	font-family: abeezee;
}

.quad-slider{
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 25%;
  background: #BEB8CE;
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 75%;
    background: #21B8F8;
    color: white;
    font-size: 3vh;
    font-family: ABeeZee;
    padding: 1%;
		height: auto;
		z-index: 5;
}
@media (min-aspect-ratio:4/3){
	.headerblock{
		font-size: 3vh;
	}
}
@media (max-aspect-ratio:4/3){
	.headerblock{
		font-size: 2vw;
	}
}

.lightblue{
    position: relative;
    top: 8%;
    left: 25%;
    width: 75%;
    background: #FFCBCB;
    font-size: 1.9vw;
    padding: 1%;
		height: auto;
		z-index: 5;
}

@media(min-aspect-ratio:4/3){
	.lightblue{
		font-size: 2.7vh;
	}
}

.quad-btn-up, .quad-btn-down {
  position: absolute;
  display: block;
  width: 100%;
  height: 10%;
  cursor: pointer;
  border: none;
  outline: none;
  background: currentColor;
}

.quad-btn-up{
  top: 0%;
}

.quad-btn-down{
  bottom: 0%;
}

.quad-btn-up img, .quad-btn-down img{
  height: 100%;
}

.quad-btn-up img{
  transform: rotate(-90deg);
}

.quad-btn-down img{
  transform: rotate(90deg);
}

.quad-list-parent{
  position: absolute;
  width: 100%;
  height: 80%;
  top: 10%;
  background: #BEB8CE;
}

.quad-list-container {
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(-16.66%);
}

.sliderimg{
  height: 16.665%;
  display: block;
  transform: translate(-50%);
  left: 50%;
  padding: 6%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.imgwbwidth{
  width: 100%;
  vertical-align: middle;
}

.imgwbheight{
  height: 100%;
  vertical-align: middle;
}

.sliderimg:hover{
  cursor: pointer;
  transform: translate(-50%) scale(1.05);
}

.animfall{
  animation: 2s letsfall forwards;
}

@keyframes letsfall{
  0%{
    clip: rect(0em, 100em, 12em, 2em);
  }
  100%{
    clip: rect(0em, 100em, 0em, 2em);
  }
}

.sbmtbtn{
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 20%;
  font-family: sniglet;
  background: #FFCD53;
  font-size: 3.1vw;
  border: 0.15em solid #B45F06;
  border-radius: 0.5em;
}

.corsub{
  color: white;
  background: #98C02E;
  border: 0.15em solid #DEEF3C;
}

.incsub{
  color: white;
  background: #FF0000;
  border: 0.15em solid #980000;
}

.smbthov:hover{
  cursor: pointer;
  background: #CFE2F3;
  border: 0.15em solid #76ACDD;
}

@media(min-aspect-ratio:4/3){
	.sbmtbtn{
		font-size: 4.7vh;
	}
}

.rob-container {
    position: absolute;
    left: 25%;
    width: 51%;
    height: 80%;
    top: 20%;
}

[class*="robot"] {
  position: absolute;
  transform: translate(-50%);
  display: none;
}

.robot-head {
  width: 26%;
  left: 50%;
  top: 7%;
}

.robot-eyes {
  width: 13%;
  left: 50%;
  top: 10%;
}

.robot-mouth {
  width: 14%;
  left: 50%;
  top: 14%;
}

.robot-neck {
  width: 11%;
  left: 50%;
  top: 22%;
}

.robot-body {
  width: 45%;
  left: 50%;
  top: 28%;
  z-index: 5;
}

.robot-hands-1 {
  width: 30%;
  left: 20%;
  top: 32%;
}

.robot-hands-2 {
  width: 30%;
  left: 80%;
  top: 32%;
	transform: translate(-50%) scaleX(-1);
}

.robot-legs-1 {
  width: 10%;
  left: 42%;
  top: 56%;
}

.robot-legs-2 {
  width: 10%;
  left: 59%;
  top: 56%;
	transform: translate(-50%) scaleX(-1);
}

.errormsg {
  position: absolute;
  top: 40%;
  right: 3%;
  width: 20%;
  font-size: 2.1vw;
  padding: 1%;
  height: auto;
  z-index: 5;
  display: none;
  background: #FCECD8;
  border: 0.2em solid #CC0000;
}

@media(min-aspect-ratio:4/3){
	.errormsg{
		font-size: 2.7vh;
	}
}

.dancelefthand{
	transform-origin: 100% 50%;
	animation: lefthandanim 1s linear infinite;
}

@keyframes lefthandanim {
	0%{
		transform: translate(-50%) rotate(20deg);
	}
	50%{
		transform: translate(-50%) rotate(20deg);
	}
	75%{
		transform: translate(-50%) rotate(-20deg);
	}
	100%{
		transform: translate(-50%) rotate(20deg);
	}
}

.dancerighthand{
	transform-origin: 100% 50%;
	animation: righthandanim 1s linear infinite;
}

@keyframes righthandanim {
	0%{
		transform: translate(-150%) scaleX(-1) rotate(20deg);
	}
	25%{
		transform: translate(-150%) scaleX(-1) rotate(-20deg);
	}
	50%{
		transform: translate(-150%) scaleX(-1) rotate(20deg);
	}
	100%{
		transform: translate(-150%) scaleX(-1) rotate(20deg);
	}
}

.danceleftleg{
	transform-origin: 100% 0%;
	animation: leftleganim 1s linear infinite;
}

@keyframes leftleganim {
	0%{
		transform: translate(-50%) rotate(0deg);
	}
	25%{
		transform: translate(-50%) rotate(20deg);
	}
	50%{
		transform: translate(-50%) rotate(0deg);
	}
	100%{
		transform: translate(-50%) rotate(0deg);
	}
}

.dancerightleg{
	transform-origin: 100% 0%;
	animation: rightleganim 1s linear infinite;
}

@keyframes rightleganim {
	0%{
		transform: translate(-150%) scaleX(-1) rotate(0deg);
	}
	50%{
		transform: translate(-150%) scaleX(-1) rotate(0deg);
	}
	75%{
		transform: translate(-150%) scaleX(-1) rotate(20deg);
	}
	100%{
		transform: translate(-150%) scaleX(-1) rotate(0deg);
	}
}

.danceeye{
	animation: eyeanim 0.2s linear alternate infinite;
}

@keyframes eyeanim {
	100%{
		filter: hue-rotate(360deg);
	}
}

[class*="disco"] {
  position: absolute;
  transform: translate(-50%);
	height: 100%;
	top: 0%;
	z-index: 8;
	animation: eyeanim 4s linear alternate infinite;
}

.disco-1 {
  left: 25%;
}

.disco-2 {
  left: 50%;
}

.disco-3 {
  left: 75%;
}

@keyframes eyeanim {
	100%{
		filter: hue-rotate(360deg);
	}
}
