.bg-pink{
	background: #FCECD8;
}

.bg-pink2{
	background: #fff1b9ff;
}


.coverboardfull{
	font-family: abeezee;
}

div.headerblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background: #21B8F8;
  color: white;
  font-size: 2.5vw;
  padding: 1%;
	height: auto;
	z-index: 7;
}

@media(min-aspect-ratio:4/3){
	.headerblock{
		font-size: 3vh;
	}
}

.lightblue{
  position: absolute;
  top: 13%;
  left: 0%;
  width: 100%;
  background: #FFCBCB;
  font-size: 2.5vw;
  padding: 1%;
	height: auto;
	z-index: 5;
}

@media(min-aspect-ratio:4/3){
	.lightblue{
		font-size: 3vh;
	}
}

.tthese {
    position: absolute;
    top: 15%;
    left: 76%;
    background: #E06666;
    color: white;
    font-size: 2.5vw;
    padding: 2%;
    z-index: 5;
    border-radius: 1em;
}

@media(min-aspect-ratio:4/3){
	.tthese{
		font-size: 4vh;
	}
}


.lightblue2{
  position: absolute;
  top: 13%;
  left: 0%;
  width: 70%;
  background: #BEB8CE;
  font-size: 2.5vw;
  padding: 1%;
	height: auto;
	z-index: 5;
}

@media(min-aspect-ratio:4/3){
	.lightblue2{
		font-size: 3vh;
	}
}

.creamybg{
  position: absolute;
  top: 0%;
  left: 70%;
  width: 30%;
  height: 100%;
  background: #FCF1DF;
}

.glist {
    position: absolute;
    top: 35%;
    left: 71%;
    width: 28%;
    height: 64%;
    background: #D9D2E9;
    z-index: 6;
    padding: 2% 1% 2% 5%;
}

.coverboardfull ul {
  position: relative;
  list-style: url;
  text-align: left;
}

.sbmtbtn{
  position: absolute;
  bottom: 3%;
  right: 25%;
  width: 20%;
  font-family: sniglet;
  background: #3C78D8;
  font-size: 3.1vw;
  border: 0.15em solid #4770B0;
  border-radius: 0.5em;
	color: white;
}

.trybtn{
  position: absolute;
  bottom: 3%;
  right: 3%;
  width: 20%;
  font-family: sniglet;
  background: #FC5C9C;
  font-size: 3.1vw;
  border: 0.15em solid #FF93C2;
  border-radius: 0.5em;
	color: white;
}

.smbthov:hover, .trybtn:hover{
  cursor: pointer;
  background: #CFE2F3;
  border: 0.15em solid #76ACDD;
	color: black;
}

@media(min-aspect-ratio:4/3){
	.sbmtbtn, .trybtn{
		font-size: 4.7vh;
	}
}

.quaimg-1 {
  transform: translate(-50%,-50%);
  position: absolute;
  height: 43%;
  top: 61%;
  left: 31%;
}

[class*="angimg"] {
  transform: translate(-50%,-50%);
  position: absolute;
  height: 7%;
  left: 70%;
}

.angimg-1{
  top: 38%;
}

.angimg-2{
  top: 48%;
}

.angimg-3{
  top: 58%;
}

.angimg-4{
  top: 68%;
}

[class*="penimg"] {
  transform: translate(-50%,-50%);
  position: absolute;
  height: 33%;
  top: 48%;
}

.penimg-1{
  left: 13%;
}

.penimg-2{
  left: 38%;
}

.penimg-3{
  left: 58%;
}

[class*="capbox"] {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 71%;
  font-size: 2.5vw;
  width: 19%;
}

.capbox-1{
  left: 13%;
}

.capbox-2{
  left: 58%;
}

.capbox-3{
  left: 38%;
}

@media(min-aspect-ratio:4/3){
	[class*="capbox"] {
		font-size: 3.5vh;
	}
}

[class*="inpbox"] {
  transform: translate(-50%,-50%);
  position: absolute;
  font-size: 2.5vw;
  width: 10%;
}

.inpbox-1 {
  top: 33%;
  left: 8%;
}

.inpbox-2 {
  top: 44%;
  left: 55%;
}

.inpbox-3 {
  top: 70%;
  left: 55%;
}

.inpbox-4 {
  top: 88%;
  left: 8%;
}

.inpbox-5 {
  top: 38%;
  left: 80%;
  width: 21%;
}

.inpbox-6 {
  top: 38%;
  left: 85%;
  width: 21%;
}

.inpbox-7 {
  top: 48%;
  left: 85%;
  width: 21%;
}

.inpbox-8 {
  top: 58%;
  left: 85%;
  width: 21%;
}

.inpbox-9 {
  top: 68%;
  left: 85%;
  width: 21%;
}

input {
  width: 100%;
  text-align: center;
  color: black;
  border: 0.1em solid #666666;
  background: white;
  border-radius: 0.5em;
	text-transform: uppercase;
}


@media(min-aspect-ratio:4/3){
	[class*="inpbox"] {
		font-size: 3.5vh;
	}
}

.corrbox{
	background: #98C02E;
	border: 0.1em solid #DEEF3C;
	color: white;
}

.incorrbox{
	background: #FF0000;
	border: 0.1em solid #980000;
	color: white;
}

.boxdisabled{
  background: rgba(255, 0, 0, 0);
  border: none;
}
