<script>
$cssLoader('lesson.css');
$cssLoader('css/page10.css');
</script>



<div class="innercontent">
	<h2 class="header_title"></h2>
	<div class="p1_kids"></div>
	<div class="p1_insider">
	
    	<div class="txt_56"></div>


    	<div class="getImages">

    		<div class="object1" ></div>
	        <span class="txt_28_a"></span>
	        <div class="object2" ></div>
	        <span  class="txt_28_b"></span>
	        <div class="object3" ></div>
	        <span  class="txt_28_c"></span>
	        <div class="object4" ></div>
	        <span  class="txt_28_d"></span>

    	</div>


    	<div class="txt_57"></div>
		<div class="txt_52"></div>


        

		<div class="p10_insides">
		
			<div id="p10_solid"><img src="activity/grade7/science/sci_electricity_01/images/p10_2.png" />
				<span class="txt_53">Solid</span>
			</div>
			<div id="p10_water">
				<img src="activity/grade7/science/sci_electricity_01/images/p10_1.png" />
				<span class="txt_54">Solid</span>
			</div>
			
			<div id="p10_air">
				<img src="activity/grade7/science/sci_electricity_01/images/p10_3.png" />
				<span class="txt_55">Solid</span>
			</div>

		</div>

	</div>
	<div class="popUp"></div>

</div>



<script type="text/x-handlebars-template" id="my-template">
<div class="PopUpView">

    <div class="PopContent">
         <div class="closebtn closeJsBtn" id="innerbtn"> </div>
        
        <p class="titleText">{{title}}</p>
        <p>{{boundtext}}</p>
        

        <div  class="imgGif"><div class="newgif"><img src="" id="whatimgsrc" /></div>
		<div class="p10_refresh reloadjsbtn">{{{getrefresh}}}</div>
		</div>
        
		
       
    </div>
 </div>
	
</script>

<script>
$(function(){
    console.log("this is the html");
	loadTimelineProgress(1,1);	
	$(".header_title").html(data.string.txt_58);
	$(".txt_52").html(data.string.txt_52);
	$(".txt_56").html(data.string.txt_56);

	$(".txt_57").html(data.string.txt_57);

	$(".txt_53").html(data.string.txt_53);
	$(".txt_54").html(data.string.txt_54);
	$(".txt_55").html(data.string.txt_55);

	$(".txt_28_a").html(data.string.txt_28_a);
	$(".txt_28_b").html(data.string.txt_28_b);
	$(".txt_28_c").html(data.string.txt_28_c);
	$(".txt_28_d").html(data.string.txt_28_d);
	
	var countClick=0;
	var $popUp = $(".popUp");

	var next2=0;

	var $arr={'p10_water':'p10_1.png','p10_solid':'p10_2.png','p10_air':'p10_3.png'};
	var $arrName={'p10_water':data.string.txt_54,'p10_solid':data.string.txt_53,'p10_air':data.string.txt_55}
	
	
	var $newarr={'p10_water':'p10_9.gif','p10_solid':'p10_8.gif','p10_air':'p10_7.gif'};
	var $newArrName={'p10_water':data.string.txt_54,'p10_solid':data.string.txt_53,'p10_air':data.string.txt_55};

	var $newArrName2={'p10_water':data.string.txt_54_a,'p10_solid':data.string.txt_53_a,'p10_air':data.string.txt_55_a};

	
	$(".txt_56").delay(500).fadeIn(500,function(){
		
		$(".getImages").fadeIn(500,function(){

			$(".object1").animate({'left':'10%','width':'10%'},1000,function(){
				
				$(".txt_28_a").fadeIn(500);

				$(".object2").fadeIn(500).animate({'left':'25%','width':'20%'},1000,function(){
					
					$(".txt_28_b").fadeIn(500);

					$(".object3").fadeIn(500).animate({'left':'50%','width':'20%'},1000,function(){
						
						$(".txt_28_c").fadeIn(500);

						$(".object4").fadeIn(500).animate({'left':'75%','width':'20%'},1000,function(){
							$(".txt_28_d").fadeIn(500);
						});
					});
				});
			});// objects
		}).delay(8500).fadeOut(500,function(){
			$(".txt_57").fadeIn(500,function(){
				$(".txt_52").delay(500).fadeIn(500,function(){
					$(".p10_insides").fadeIn(500);
				});
			});
		});

	});

	$(".p10_insides div").click(function(){
		
		countClick++;
		var $id=$(this).attr('id');
		
		var imgVal=$newarr[$id];
		var getrefresh=getReloadBtn();

		var $data = {
		
			title : $newArrName[$id],
			boundtext:$newArrName2[$id],
			getrefresh:getrefresh

		}
		var source   = $("#my-template").html();
		var template = Handlebars.compile(source);
		var html = template($data);

		
		$popUp.fadeOut(10,function(){
			$popUp.html(html);
		}).delay(10).fadeIn(10,function(){

			$(".popUp").find(".closebtn").html(getCloseBtn());
			
		});
		$(".closebtn").show();
			var timestamp2 = new Date().getTime();
			$('.imgGif').find('#whatimgsrc').attr('src', 'activity/grade7/science/sci_electricity_01/images/'+imgVal+'?'+timestamp2);
		
		$popUp.show();
		next2++;
		
		$(".popUp").on('click','.p10_refresh',function(){
		
			var timestamp = new Date().getTime();
			$('.imgGif').find('#whatimgsrc').attr('src', 'activity/grade7/science/sci_electricity_01/images/'+imgVal+'?'+timestamp);
		});

	});


	$(".popUp").on('click','.closebtn',function(){

			if(countClick>=3)
				ole.footerNotificationHandler.pageEndSetNotification();

			$popUp.html('');
			
			$popUp.hide();
		



	});
	
	
	
	
});
</script>