<script>
	$cssLoader("css/page3.css");
</script>
<div class="chapter">
	<div class="board">
		Hello World!!!
	</div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>
<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
	{{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
    {{else}}
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}

        <div class="contentblock {{contentblockadditionalclass}}">
        	{{#if containscanvaselement}}
    		<div class="customcanvas">
	            <canvas id="customcanvasbase" width="250px" height="250px">
					Your browser does not support the HTML5 canvas tag.
				</canvas>
			</div>
			{{/if}}

			{{#each centertextblock}}
			<div class="center-text">
				{{> textcontent}}
            </div>
		    {{/each}}

            {{#if uppertextblock}}
            <div class="uppertextblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}

            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
            {{/if}}

            {{#if lowertextblock}}
            <div class="textblock lowertextblock {{lowertextblockadditionalclass}}">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
                <button class="help-button">Help!</button>
	          </div>
            {{/if}}

        	{{#if definitionblock}}
            <div class="definitionblock {{definitionBlockAdditionalClass}}">
                {{#each definitionblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        	{{/if}}

					{{#if numberblock}}
					<div class="numberblock">
							{{#each numberblock}}
									<p class="number-label">{{numberLabel}}</p>
									<p class="number">{{number}}</p>
							{{/each}}
							<div class="digitborder"></div>
					</div>
					{{/if}}

            {{#if droppableblock}}
            <div class="droppableblock">
                {{#each droppableblock}}
                <div class="{{divclass}}"></div>
                <p class="{{textclass}}">{{textdata}}</p>
                {{/each}}
            </div>
            {{/if}}

            {{#if draggableblock}}
            <div class="draggableblock">
            </div>
            {{/if}}



        </div> {{! content block end--}}
    </div>	{{! generalTemplateblock block end--}}
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
    <img class="{{imgclass}}" src="{{imgsrc}}"  data-answer="{{answer}}" alt="Image Missing">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
		<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script>
	$jsLoader("js/page3.js");
</script>
