.bg{
    position: absolute;
    width:102%;
}
.maintitle{
    position: absolute;
    width:100%;
    height:15%;
    background-color: #f28980;
    color: white;
}
.option{
    position: absolute;
    width: 29%;
    height: 17%;
    background-color: #3c78d8;
    border-radius: 20px;
    right: 10%;
    cursor: pointer;
    color: white;
}
.opt1{
    top:32%;
}
.opt2{
    top:62%;
}
.option:hover{
    border: 4px solid #E39540;
    background-color: #F9CB9C;
    color:#43434B;

}
.avoid-clicks {
    pointer-events: none;
}
.correctwrongimg{
    width: 20%;
    left: 70%;
    bottom: 35%;
}
.wrongans{
    background-color: #ff0000;
    color: black;
    border: 4px solid #af0000;
}
.correctans{
    background-color: #98c02e;
    color:white;
    border: 4px solid #deef3c;
}
.audio{
    position: absolute;
    width:5%;
    right:11%;
    z-index:2;
}
.a1{
    top:36%;
}
.a2{
    top:67%;
}
.image{
    position: absolute;
    top: 24%;
    left: 6%;
    width:35%;
}