.background{
    position: absolute;
    width: 102%;
}
.maintitle{
    position: absolute;
    width:100%;
    height:15%;
    background-color:#23a4d7 ;
    color: white;
}
.things{
    position: absolute;
    width:36%;
    background-color: white;
    top: 27%;
    left: 7%;
    border-radius: 50px;
    overflow: hidden;
    opacity: 0;
}
.things > img{
    top:-100%;
    z-index:2;
}
.naming{
    position: absolute;
    width: 30%;
    top: 44%;
    height: 20%;
    right: 12%;
    color: #674ea7;
    opacity: 0;
}
.audio{
    position: absolute;
    width: 5%;
    top: 45%;
    right: 6%;
}
.arrow{
    position: absolute;
    width:7%;
    left:22.5%;
    cursor: pointer;
}
.uparrow{
    top:16%;
}
.downarrow{
    top:87%;
}
.slider{
    animation:ST 1s linear 0s forwards ;
}
@keyframes ST {
    0% {
        top:-100%;
    }
    100% {
        top:0%;
        opacity: 1;
    }
}


@-moz-keyframes ST {
    0% {
        top:-100%;
    }
    100% {
        top:0%;
        opacity: 1;
    }
}

.blinkEffect
{
    animation: blink 0.5s linear alternate infinite;
}

@keyframes blink {
    from {
    transform:scale(1);
    }

    to {
        transform:scale(1.1);
    }
}

@-webkit-keyframes blink {
    from {
        transform:scale(1);
    }

    to {
        transform:scale(1.1);
    }
}