.bg{
    background-color: #fff5ec;
    background-size: 100% 100%;
}
.maintitle{
    position: absolute;
    width:100%;
    height:15%;
    background-color: #f28980;
    color: white;
}
.girl{
    position: absolute;
    bottom: 0%;
    width: 30%;
}
.dialbox{
    position: absolute;
    left: 26%;
    top: 20%;
    width:37%;
}
.dialbox > p{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 11%;
    height: 100%;
}
.audio{
    position: absolute;
    width: 5%;
    top: 24%;
    z-index: 2;
    left: 53%;
}
.option{
    position: absolute;
    width: 20%;
    height: 37%;
    border: 4px solid #7b74d4;
    background-color: white;
    border-radius: 20px;
    right:10%;
    cursor: pointer;
}
.opt1{
    top:18%;
}
.opt2{
    top:60%;
}
.option:hover{
    border: 4px solid #f6b26b;

}
.avoid-clicks {
    pointer-events: none;
}
.correctwrongimg{
    width: 20%;
    left: 70%;
    bottom: 35%;
}
.wrongans{
    border: 4px solid #af0000;
}
.correctans{
    border: 4px solid #deef3c;
}