.ghadi {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.ghadi, .ghadi * {
	position: relative;
	margin: 0;
	padding: 0;
}

.ghadi .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.ghadi .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background: linear-gradient(#FFCC33, #FFCC33, #FFD761, #FFFFCC, #FFFFFF);
}

.description_title {
    font-size: 6.5vmin;
    color: #000;
    margin-bottom: 2%;
  	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.textblock {
    width: 47%;
	left: 3%;
    text-align: left;
    top: 17%;
}

.title{
	font-size: 6.5vmin;
	top: 4%;
	left: 50%;
	position: absolute;
	color: #000;
	transform: translateX(-50%);
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.white{
	color: #000;
	text-shadow: -0.5px 0 #fff, 0 0.5px #fff, 0.5px 0 #fff, 0 -0.5px #fff;
}

.description1{
	font-size: 3.56vmin;
	text-align: right;
}

.textblack{
	color: #45818e;
	font-size: 3vmin;
}

.textyellow{
	color: orange;
	font-size: 3vmin;
}

.imageblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.ltb_top_right_40{
	width: 40%;
	right: 5%;
	top: 7%;
	background-color: #fff;
	position: absolute;
	height: auto;
	z-index: 10;
}

.ltb_top_left_40{
	width: auto;
	left: 4%;
	top: 20%;
	position: absolute;
	height: auto;
	z-index: 10;
	background: #F0F6C8;
	padding: 0.5em;
	border-radius: 0.5em;
}

.utb{
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

#span_speec_text{
	color: #000;
}

.background-img{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.talking, .talking2{
	position: absolute;
	height: 40%;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
}

.talking2{
	display: none;
}


.dialogcontainer_left, .dialogcontainer_right, .dialogcontainer_left2, .dialogcontainer_right2{
	position: absolute;
	background-size: 100% 100%;
	padding: 1em 1em 1em 1em;
	display: none;
}

.dialogcontainer_left{
	height: 44%;
	width: 34%;
	top: 40%;
	right: 62%;
	background-image: url("../images/padbubble-16.png");
	z-index:2;
}

.dialogcontainer_left2{
	height: 16%;
	width: 22%;
	top: 48%;
	right: 60%;
	background-image: url("../images/padbubble-16.png");
	z-index:2;
}

.dialogcontainer_right{
    height: 40%;
	width: 30%;
	top: 18%;
	right: 8%;
	background-image: url("../images/bubbles_c.png");
	z-index:2;
}

.dialogcontainer_right2{
    height: 18%;
	width: 20%;
	top: 35%;
	right: 20%;
	background-image: url("../images/bubbles_c.png");
	z-index:2;
}

.dialogimage_image{
	position: absolute;
	height: auto;
	width: 35%;
	left: 58%;
	top: 45%;
	transform: translateY(-50%);
}

.mirror1{
	transform: scale(-1);
}

.mirror2{
	transform: scaleX(-1) translateY(-50%);
}

.dialogimage2, .dialogimage2_b{
	position: absolute;
	height: 80%;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.dialogimage2_b{
	height: 62%;
}

.dialogcontent2{
	font-size: 2.56 vmin;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: normal;
}

.imagelabel{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: normal;
}

@media screen and (min-aspect-ratio: 4/3) { 
	/* vh */
	.imagelabel, .dialogcontent2{
		font-size: 5vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	/* vw */
	.imagelabel, .dialogcontent2{
		font-size: 4.2vw;
	}
}
