<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="ABS">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="svg-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}}">    
        {{#if uppertextblock}}
            <div class="textblock">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if svgblock}}
            <div class="svgwrapper">                 
                {{#each svgblock}}                           
                    {{> svgcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if textlistblock}}
            <div class="textlistblock">
                {{#each textlistblock}}
                    {{> textlistcontent}}
                {{/each}}
            </div>
            {{/if}}
        {{#if imageblock}}
            <div class="imageblock">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if lowertextblock}}
            <div class="textblock">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}">{{imagelabeldata}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="svgcontent-partial" type="text/x-handlebars-template">
     {{#each svgheading}}
        {{> textcontent}}
     {{/each}}
     
     <div class="svgcontainer">{{!-- load actual svg image here --}}</div>
     <div class="imagecharacteristicsbox">
        <p class="imagecharacteristicheading">{{imagecharacteristicheadingdata}}</p>
        <div class="">
            {{#each imagecharacterstics}}
                <p><b>{{natureofimage}} : </b><span data-highlight="{{datahighlightflag}}">{{naturedetail}}<span></p>
            {{/each}}
        </div>
     </div>
    
     {{!-- load snap svg --}}
     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
</script>

<script id="textlistcontent-partial" type="text/x-handlebars-template">
    <ol class="{{olclassname}}" start="{{startnum}}"> 
        {{#each listtype}}
            <li data-highlight="{{datahighlightflag}}">{{listtypedata}}</li> 
            {{#if listsubtype}}
                <ul>
                {{#each listsubtype}}
                    <li>{{listsubtypedata}}</li>
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ol>
</script>


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>