@media only screen and (min-width: 640px) and (max-width: 767px) {
	.question {
		font-size : 14px !important;
	}
	.image_container
	{
		height : 157px !important;
	}
	.neutral {
		font-size : 12px !important;
	}
	
	.answers {
  			margin-left: -9px !important;
			}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.question {
		font-size : 25px !important;
	}
	.image_container
	{
		  height: 214px !important;
	}
	.imgHolder {
		margin-left : -12px !important
	}
	
	.answers {
		  margin-left: -29px !important;
	}
	
	.question
	{
		margin-left : 100px !important;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.question {
		font-size : 25px !important;
	}
	.image_container
	{
		  height: 214px !important;
	}
	.imgHolder {
		margin-left : -12px !important
	}
	
	.answers {
		  margin-left: -29px !important;
	}
	
	.question
	{
		margin-left : 100px !important;
	}
}

.sm1 {
 width: 100%;
 max-height: 100%;
 height: 100%;
 position: relative;
 x overflow: hidden;
 font-size: 1.3em;
x background: #D4F7F5;
 /*box-shadow: inset 0 0 150px #63C2CE;*/
}

.sm1, .sm1 * {
 position: relative;
 margin: 0;
 padding: 0;
}
.sm1 .nextBtn {
	display: none;
  	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;	
}

.title1 {
 font-size: 1.6em;
 width: 100%;
 height: 10%;
 /*background: #000;*/
 color: #4059AD;
 margin: auto;
 margin-top: 5%;
 text-align: center;
}
.title {
 font-size: 24px;
 width: 100%;
 padding:3%;
 /*background: #000;*/
 color: #fff;
 margin: auto;
 text-align: center;
 background:none repeat scroll 0 0 #4682b4;
}

.board {
 width: 100%;
 box-shadow: 0 -10px 10px -10px #383838;
 text-align: center;
 
}

.mainholder {
    padding-top: 5%;
}

.flipHolder {
 
 width: 50%;
 box-shadow: 0 -10px 10px -10px #383838;
 text-align: center;
 
}
.qAHolder {
 display: inline-block;
 xwidth: 65%;
 margin-top: 0%
}

.imgHolder {
    /*padding-top: 6%;*/
 padding:2%;
 xwidth: 16%;;
}


.question {
 xwidth: 95%;
 text-align: left;
 xcolor:#000000;
 xbackground: #FFFFFF;
 margin: auto;
 xpadding: 10px;
 xmargin-bottom: 10px;
 font-size:1.2em;
 xborder-bottom-left-radius: 10px;
 xborder-bottom-right-radius: 10px;
 xbox-shadow: 0 10px 10px -5px #393939;
 padding-left:10%;
  background-color: #f7f5f6;
    background-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #feffff;
    color: #4a4a4a;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
 
 }


.answers {
margin-left : -192px;
}

.answers ul li {
 background-color: #f7f5f6;
  background-image: linear-gradient(to bottom, #f7f5f6, #dddddd);
 padding: 2%;
  border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #feffff;
    color: #4a4a4a;
 xborder-radius: 10px;
 xbox-shadow: 0 0 0 3px #fff, 0 0 0 5px #006400;
  font-size: 17px;
   
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
   cursor: pointer;
    display: block;
    margin-left: 13%;
    margin-right: 17%;
    margin-top: 20px;
    xmax-width: 100%;
 text-align:center;
 
}

.answers .neutral:hover {
 background: #a5b8da;
 background-image:linear-gradient(to bottom, #a5b8da, #7089b3);
 color: #fff;
}

.neutral {
 background: #ffff00;
}


.imgHolder1 {
 display: inline-block;
 width: 50%;
 margin-top: 5%;
 vertical-align: top;
 /*box-shadow: 0 10px 10px -10px #383838;*/
}

.imgHolder1 img {
 width: 50%;
}

.result
{
    bottom: 5%;
    color: #fff;
    display: none;
    font-size: 1.3em;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 241px;
    width: 100%;
    z-index: 10;
    color:black;
   }

.wrong {
	 background-color: #a90329 !important;
	 background-image: linear-gradient(to bottom, #eb715b, #ed6e40) !important;
	 font-weight:bold !important;
	 color:#4a4a4a !important;
}

.right  {
 background-color:  #a9db80 !important;
 background-image: linear-gradient(to bottom, #a9db80, #96c56f)!important;
    color: #4a4a4a !important;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
 font-weight:bold;

}

@media only screen and (min-width: 779px) and (max-width: 979px) {
	
}
#image_cont{
	
	height:246px
}
