.wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
     background: url(../images/bg.jpg) no-repeat 100% 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text{

    height: 100%;
    position: relative;
     
}

.wholetext
{
    font-size: 2em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    font-weight: bold;
    color: #CB2C85;
    opacity: 0.95;
}

@media screen and (min-aspect-ratio: 4/3) { 
	 .wholetext{
	 	font-size: 4vh;	
	 }
}

@media screen and (max-aspect-ratio: 4/3) { 
	 .wholetext{
	 	font-size: 3.56vw;
	 }
}