<script type="text/javascript">
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("../../../../css/common-exercise/template_exercise_mcq_picture_choices_1.css");
     
    $cssLoader("exercise/css/exercise.css");
</script>


<div class="activity_container">
  <div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

	<script id="general-template" type="text/x-handlebars-template">
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{! content block starts--}}
			<div class="contentblock {{contentblockadditionalclass}}">
      {{#if exetype1}}
        <!-- <p class="instruction {{ques_class}}" data-highlight="{{datahighlightflag}}"
        data-highlightcustomclass="{{datahighlightcustomclass}}"><span id="num_ques">1</span>{{{instruction}}}</p> -->
        {{#each extratext}}
         <p class="{{extraclass}}">{{extradata}}</p>
         {{/each}}
        {{#each exetype1}}
          <div class="{{exerciseblockclass}}">
            <p class="question {{ques_class}}" data-highlight="{{datahighlightflag}}"	data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            <div class="{{optionsdivclass}}">
              {{#each exeoptions}}
                  <div class="optionscontainer {{optcontainerextra}}">
                      <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>

                      <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">
                      <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
                  </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
       {{/if}}
       {{#each extratextblock}}
            <p class="textclass {{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
       {{/each}}

			{{#each imageblock}}
        	{{> imagecontent}}
    	{{/each}}

      {{#each imgtxtblock}}
        <div class="{{imagetextcontainerclass}}">
            {{#each imagestoshow}}
              <div class="{{imgblockclass}}">
                    <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
              </div>
            {{/each}}
            {{#each texttoshow}}
              <div class="{{textblkclass}}">
                <p class="textclass {{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
              </div>
            {{/each}}
        </div>
      {{/each}}

      {{#each hintblock}}
        <div class="{{hintblockclass}}">
          <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
          <p class="textclass {{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
        </div>
      {{/each}}

      {{#each imgoptnblk}}
        <div class="{{imgblkclass}}">
          <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
          <img src="images/correct.png" class="corincimg {{startposextra}} corctopt">
          <img src="images/wrong.png" class="corincimg {{startposextra}} wrngopt">
        </div>
      {{/each}}

      {{#each dragdiv}}
        <div class="{{dragclass}}">
          {{#each dragdivoptns}}
              <p class="textclass {{textclass}}" data-answer="{{dataanswer}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
          {{/each}}
        </div>
      {{/each}}
      {{#each dropdiv}}
        <div class="{{dropclass}}">
        {{#each dropdivoptns}}
          <div class="{{dropplaceclass}}">
            <p class="textclass {{textclass}}" data-answer="{{dataanswer}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
          </div>
        {{/each}}
        </div>
      {{/each}}

      {{#each tricoinblock}}
        <div class="{{tricoincontinerclass}}">
          {{#each triangle}}
            <div class="{{triangledivclass}}">
              <img src="" class="triangle {{triangleclassextra}}">
              <p class="textclass {{textclass}}" data-answer="{{dataanswer}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
            </div>
          {{/each}}
          <div class="{{coincontainerclass}}">
            {{#each coin}}
            <img src="" class="coin {{coinclass}}">
            <!-- <img src="" class="coin coin2"> -->
            {{/each}}
          </div>
        </div>
      {{/each}}

			{{#each svgblock}}
				<div id="{{svgblock}}"></div>
			{{/each}}

			</div>
		</div>
	</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript" src="js/common-exercise/template_exercise_mcq_picture_choices_1.js"></script>

<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script src="js/snap.svg/ver_0_5_1/snap.svg-min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise.js");
</script>
