/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#int5
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
background-image: url("../bg.png");}

/*for all elements make sure that it does not inherit margin and padding*/
#int5 *{
	margin:0;
	padding:0;	
}
/*------------------------------------------------------------------------------------------*/

/*topic*/
#int5Topic{
	position: absolute;
	top:2%;
	width:100%;
	text-align: center;
	font-size: 1.3em;
	font-weight: bolder;
	color:#D93537;
	border-bottom:0.2em solid rgba(217, 53, 55,0.6);
}

/*thermometer div*/
#thermometer{
	position: absolute;
	top:10%;
	left:5%;
	width:13%;
	height:80%;
	/*border:1px solid red;*/
}

/*thermometer div png*/
#thermoBg{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
}

/*area to drag the slider over*/
#dragArea{
	/*these properties are calculated and important*/
	position: absolute;
	top:6.3%;
	left:20%;
	width:35%;
	height:74.5% !important;
	/*border:1px solid blue;*/
}

/*slider*/
 #slideMe{
 	/*these properties are calculated and important*/
	position: absolute;
	/*keep the slider at 0 degree*/
	top:48%;
	left:0%;
	width:100%;
	height:4%;
	cursor:move;
	/*border:1px solid red;*/
} 

#mercury{
	position: absolute;
	left:16%;
	/*define its bottom since we have to */
	bottom:0%; 
	width:72.5%;
	height:50%;
	background-color: #FF0049;
	-webkit-box-shadow:0em 0em 0.1em 0em #FF0049;
	box-shadow:0em 0em 0.1em 0em #FF0049;
}

/*number line*/

#numberLine{
	position: absolute;
	top:85%;
	left:24.5%;
	width:61%;
	height:9%;
	/*border:1px solid black;*/
}
 
#nLineBg{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
}

#moveArea{
	position: absolute;
	top:0%;
	left:5%;
	width:92%;
	height:75%;
}

#slideNline{
	position: absolute;
	top:-5%;
	right:50%;
	width:2.5%;
	height:100%;
	cursor:move;
}

/*the detail div*/
#detail{
	position: absolute;
	top:10%;
	left:25%;
	width:70%;
	height:65%;
	/*border:1px solid blue;*/
}

/*degree celcius*/
#degree{
	position: absolute;
	top:45%;
	left:7%;
	font-size:4em;
	background-color: rgba(255,255,255,0.5);
	border:0.1em solid rgba(180,180,0,0.5);
	border-radius: 5%;
	padding:0% 1%;
}

#detail > ul{
	position: absolute;
	top:0%;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: #D52054;
	text-shadow:0em 0.1em 0.05em rgba(0, 0, 0, 0.2);
}

#detail > ul > li{
	display: none;
	text-align: justify;
	list-style-position: outside;
	list-style-type: disc;
}

#detail > ul > li:nth-of-type(1){
	color:darkblue;
}

#detail > ul > li:nth-of-type(2){
	color:darkgreen;
}

#degreeImage{
	position: absolute;
	top:35%;
	left:40%;
	width: 50%;
	height: 55%;
	/*border:1px solid red;*/
}

#degreeImage > img{
	position: absolute;
	top: 0%;
	left:0%;
	width:100%;
	height: 100%;
}

#degreeImage > figCaption{
	position: absolute;
	top:100%;
	left:-30%;
	width:160%;
	text-align: center;
	font-size: 1.3em;
	color:black;
	text-shadow:0em 0.1em 0.05em rgba(0, 180, 0, 0.2);
}

table {
    font-size: .9em;
}