<!--
Title : General Template
-->

<script type="text/javascript">
    $cssLoader("playtime/css/playtimetemplate.css");
    $cssLoader("playtime/css/playtime.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="activity_container">
    <div id="loading-wrapper">
        <div id="loading-text">
            LOADING
        </div>
        <div id="loading-content"></div>
    </div>
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
    or only has content --}}
    {{#if hasheaderblock}}
    <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
            {{/if}}
            {{! header block start--}}
            {{#if headerblock}}
            <div class="headerblock {{headerblockadditionalclass}}">
                {{#each headerblock}}
                {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{! header block end--}}
            {{! content block start--}}
            <div class="contentblock {{contentblockadditionalclass}}">
                {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
                <div class="coverboardfull {{coverboardadditionalclass}}">
                    {{#each imageblock}}
                    {{#each imagestoshow}}
                    <div class="{{imgdiv}}">
                        <img class="{{imgclass}}" src="">
                    </div>
                    {{/each}}
                    {{/each}}

                    {{#each imageblock1}}
                    {{#each imageblock}}
                    <div class="{{commonImgDiv}} img1">
                        {{#each imagestoshow}}
                        <div class="{{imgdiv}}">
                            <img class="{{imgclass}}" src="">
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                    {{/each}}

                    {{#if uppertextblock}}
                    <div class="textblock {{uppertextblockadditionalclass}}">
                        {{#each uppertextblock}}
                        {{> textcontent}}
                        {{/each}}
                    </div>
                    {{/if}}

                    {{#if textblock}}
                    {{#each textblock}}
                    <div class="{{textdiv}}" data-answer="{{ans}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">
                        <p class="{{textclass}}">{{{textdata}}}</p>
                    </div>
                    {{/each}}
                    {{/if}}


                    {{#each svgblock}}
                    <div id="{{svgblock}}" class="{{svgclass}}">
                    </div>
                    {{/each}}

                </div>
            </div>
            {{! content block end--}}
        </div>
    </div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}"
       data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
    <img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script src="js/snap.svg/ver_0_5_1/snap.svg-min.js" type="text/javascript"></script>

<script type="text/javascript">
    $jsLoader("playtime/js/playtime.js");
    $jsLoader("js/commonjs.js");
</script>
