.headTitle,
#headTitle1
{
	width: 100%;
	text-align: center;
	font-size: 2em;
	color: #000;
	position: relative;
}

#headTitle1
{
	margin-top: 20%;
	font-size: 3em;
}
#nextbtn
{
	bottom: 0%;
	right: 0%;
	position: absolute;
	font-size: 2.2em;
	display: none;
	cursor: pointer;
	width: 6%;
}
#figBox
{

	width: 100%;
	position: relative;
	height: 100%;
}
.figBoxex
{
	width: 100%;
	position: relative;
	height: 80%;
	background:#fff;
	border:#2C3747 2px solid;
	padding: 2% 4%;
	margin-top: 5%;
	font-size: 1.3em;
}

#firstText
{
	color: #0E780E;
	margin: 2% auto;
	width: 100%;
}
#eq1,
#eq2,
#eq3
{
	color: #02058B;
	margin: 3% auto;
	font-size: 1.8em;
	width: 100%;
	text-align: center;

}
#secondText
{
	color:#0B77E3;
	margin: 2% auto;
	width: 100%;

}

#thirdText
{
	color:#992B00;
	margin: 2% auto;
	width: 100%;
	text-align: center;

}
#equationBx
{
	margin: 3% auto;
	width: 100%;
	color: Blue;



}
#equationBx div
{
	display: inline-block;
	vertical-align: middle;


}
.valbx
{
	width: 35%;
	text-align: right;

}
.valbx,
.eqbx
{
	font-size: 2.2em;

}
.inputbx
{
	text-align: left;
	color: black
}
#inputfst
{
	width: 30%;
	text-align: left;
}
.glyphicon-ok
{
	color: green;
	font-size: 2.3em;
}
.glyphicon-remove
{
	color: red;
	font-size: 2.3em;
}
#correctans
{
	font-size: 1.4em;
	color: green;
}
.cover_image{
	width: 100%;
	top: 0%;
	position: absolute;
	left: 0%;
}
