body:lang(np), body:lang(np) * {
    font-family: Laila !important;
}
.coverpagetext{
  position: absolute;
  color: #7d5fff;
  font-size: 5.2vw;
  width: 100%;
  z-index: 1;
  top: 0%;
  font-family: Laila;
}
.pink_bg{
  width: 100%;
  height: 100%;
}
.ghar{
  width: 100%;
  height: 100%;
}
.covertext{
  position: absolute;
  width: 100%;
  height: 10%;
  background-color:#00818a;
  color: white;
  z-index: 5;
}
.text-1{
  top: 10%;
  font-size: 3.3vw;
  position: absolute;
  left: 0%;
  text-align: center;
  width: 100%;
}
.text{
  position: absolute;
  font-size: 3.2vw;
  top: 0%;
}
.text1{
  left: 7%;
}
.text2{
  left: 25%;
}
.text3{
  left: 45%;
}
.text4{
  left: 65%;
}
.text5{
  left: 86%;
}
.text-2{
  position: absolute;
  top: 45%;
  font-size: 3.2vw;
}
.text6{
left: 15%;
}
.text7{
  left: 32%;
}
.text8{
  left: 56%;
}
.text9{
  left: 76%;
}
.girl{
  position: absolute;
  bottom: 0%;
  right: 10%;
  height: 37%;
  width: 29%;
}
.girl2{
  position: absolute;
  bottom: 0%;
  right: 12%;
  width: 29%;
  height: 37%;
}
.girl3{
  position: absolute;
  bottom: 0.5%;
  right: 12%;
  width: 29%;
  height: 37%;
  z-index: 5;
}
.covertext1{
  position: absolute;
  width: 100%;
  height: 17%;
  background-color:#00818a;
  color: white;
  z-index: 5;
  padding: 1% 1%;
}
#gothsvg{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#Layer_1{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.highlights{
  color:#ffff00;
  transform: scale(1.2);
  cursor: pointer;
}
#flower:hover,#cow:hover,#toilet:hover,#dhiki:hover,#doko:hover,#cowshed:hover, #bisun:hover,#dhara:hover,#roof:hover,#ladder:hover, #dog:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.test{
  width:20%;
  cursor: pointer;
  -webkit-animation: scaleAnim .5s linear forwards;
  animation: scaleAnim .5s linear forwards;
}
@-webkit-keyframes scaleAnim {
  100%{transform: scale(1.01);}
}
@keyframes scaleAnim {
    100%{transform:translateX(1%) translateY(1%) translateZ(1%)}
}

@media (min-aspect-ratio: 4/3){
   .text, .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9{
    font-size: 4vh;
	}
  .coverpagetext{
    font-size: 8.2vh;
  }

}
@media (max-aspect-ratio: 4/3){
   .text, .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9{
      font-size: 2.6vw;
  	}
    .coverpagetext{
      font-size: 4.2vw;
    }
}
