body:lang(np), body:lang(np) * {
    font-family: Laila !important;
}
.coverpagetext{
  position: absolute;
  color: #fff;
  font-size: 4.2vw;
  width: 100%;
  z-index: 5;
  top: 0%;
}
.pink_bg{
  width: 100%;
  height: 100%;
}
.ghar{
  width: 100%;
  height: 100%;
}
.covertext{
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #d65d7a;
  color: white;
  z-index: 6;
  top: 0%;
  padding: 1%;
}
.text-1{
  top: 16%;
  font-size: 3.6vw;
  position: absolute;
  left: 83%;
  text-align: center;
  transform: translateX(-50%);
  width: 17%;
  height: 10%;
  z-index: 6;
  font-size: 3.2vw;
  background-color: #9900ff;
  border-radius: 0.5em;
  padding: 1%;
  color: #ffff00;
  cursor: pointer;
}
.speaker {
  top: 19%;
  position: absolute;
  left: 89%;
  text-align: center;
  transform: translateX(-50%);
  width: 3%;
  z-index: 7;
  cursor: pointer;
  }
.covertext1{
  position: absolute;
  width: 17%;
  height: 10%;
  background-color: #9900ff;
  color: #ffff00;
  z-index: 6;
  padding: 1% 1%;
  left: 43%;
  top: 4%;
  border-radius: 0.5em;
}
#gothsvg{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 5;
}
#Layer_1{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.scale_anim{
  0%{transform: scale(1,1);}
  50%{transform: scale(1.02, 1.02);}
  100%{transform: scale(1, 1) ;}
}
.test{
  cursor: pointer;
  -webkit-animation: scaleAnim 1s linear forwards;
  animation: scaleAnim 1s linear forwards;
}
@-webkit-keyframes scaleAnim {
  0%{transform: scale(1,1);}
  25%{transform: scale(1.02, 1.02);}
  100%{transform: scale(1, 1) ;}
}
@keyframes scaleAnim {
  0%{transform: scale(1,1);}
  25%{transform: scale(1.02, 1.02);}
  100%{transform: scale(1, 1) ;}
}
#flower:hover,#cowshed:hover, #tree:hover, #bisun:hover,#dhara:hover,#roof:hover,#ladder:hover, #dog:hover, #aagan:hover{
  transform: scale(1.02);
  cursor: pointer;
}
@media (min-aspect-ratio: 4/3){
	.coverpagetext, .text-1,.covertext{
    font-size: 4vh;
	}
}
@media (max-aspect-ratio: 4/3){
  	.coverpagetext, .text-1,.covertext{
      font-size: 3.2vw;
  	}
}
