
.rightans{
    background-color: rgb(106, 168, 79);
    color:white;
}
.wrongans{
    background-color: rgb(166, 28, 0);
    color:white;

}
.question{
    position: absolute;
    width: 100%;
    height: 18%;
    font-size: 2.5vw;
    top: 12.4%;
    border-top: 4px solid;
}
.commondiv{
    position: absolute;
    width: 50%;
    top: 30%;
    height: 68%;
}
.correctimg{
    position: absolute;
    width: 60%;
    left: 20%;
}
.correctimg1{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 1%;
}
.leftdiv{
    left:0;
}
.rightdiv{
    right: 0;
}
.wrongimg{
    position: absolute;
    width: 35%;
    left: 30%;
    top: 22%;
}
.wrongimg1{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 1%;
}
.textdiv{
    position: absolute;
    width: 94%;
    height: 18%;
    border: 2px solid #3d85c6;
    bottom: 2%;
    left: 3%;
    border-radius: 14px;
    background-color: #9fc5e8;
}
.hoverclass{
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:#43434B;
    border-radius: 9px;
    transition:0.5s;
    cursor: pointer;
}
.textdivhoverclass{
    border:none;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:#43434B;
    border-radius: 9px;
    transition:0.5s;
    cursor: pointer;
}

.correctans{
    pointer-events: none;
    background-color: #98C02E;
    border:3px solid;
    border-color: #DEEF3C;
    border-radius:14px;
    color: white;
}
.wrongans{
    pointer-events: none;
    background-color:#FF0000;
    border:3px solid;
    border-color: #980000;
    color: white;
    border-radius: 3vmin;
}
.correctWrongImg{
    position: absolute;
    width: 7%;
    left: 45%;
    bottom: 113%;
}
.background1{
    background-color: #f1f1f1;
    background-size: 100% 100%;
}
.clicktitle{
  position: absolute;
  width: 50%;
  left: 10%;
  text-align: left;
  top: 2.5%;
  font-size: 4vmin;
}
