<script>
$cssLoader('css/shared.css');
$cssLoader('css/page1.css');
</script>

<div class="pageContainer">
	<img class="cover_image" src= "activity/grade7/math/math_data_mean_01/images/page1/coverpage.png" />
<div class="headTitle"></div>

	<div id="figBox">





	</div>

	<div id="nextbtn" class="arrowcls"></div>
	<div id="repeatBtn"></div>
</div>

<script>
$jsLoader('js/page1.js');

</script>



<script type="text/x-handlebars-template" id="template-1">
{{#if img1}}
<div id="drawme_1">
	<img src="{{img1}}" />
</div>
{{/if}}

{{#if firstText}}
<div  id="{{firstText_1}}">{{firstText}}</div>
{{/if}}


{{#if mytable}}
<div class="tabme_1">
<table class="tg">
  <tr>
    <th class="tg-031e" rowspan="2">{{tabtxt1}}</th>
    <th class="tg-031e" colspan="3">{{tabtxt2}}</th>
  </tr>
  <tr>
    <td class="tg-031e th1">{{tabtxt3}}</td>
    <td class="tg-031e th1">{{tabtxt4}}</td>
    <td class="tg-031e th1">{{tabtxt5}}</td>
  </tr>
  <tr class="">
    <td class="tg-031e">{{tabtxt6}}</td>
    <td class="tg-031e">{{tabtxt7}}</td>
    <td class="tg-031e">{{tabtxt8}}</td>
    <td class="tg-031e">{{tabtxt9}}</td>
  </tr>
   <tr class="">
    <td class="tg-031e">{{tabtxt10}}</td>
    <td class="tg-031e">{{tabtxt11}}</td>
    <td class="tg-031e">{{tabtxt12}}</td>
    <td class="tg-031e">{{tabtxt13}}</td>
  </tr>
   <tr class="">
    <td class="tg-031e">{{tabtxt14}}</td>
    <td class="tg-031e">{{tabtxt15}}</td>
    <td class="tg-031e">{{tabtxt16}}</td>
    <td class="tg-031e">{{tabtxt17}}</td>
  </tr>
</table>
</div>
{{/if}}



{{#if secText}}
<div  id="{{secText_1}}">{{secText}}</div>
{{/if}}


{{#if myGraph}}
<div class="allGraph">
  <div class="myGraph">
  <div class="{{sixthText_1}}">{{{sixthText}}}</div>

    <div id="grafico">
      <div class="riga"  id="riga1"><div>70</div></div>
      <div class="riga" id="riga2"><div>60</div></div>
      <div class="riga"  id="riga3"><div>50</div></div>
      <div class="riga" id="riga4"><div>40</div></div>
      <div class="riga"  id="riga5"><div>30</div></div>
      <div class="riga"  id="riga6"><div>20</div></div>
      <div class="riga"  id="riga7"><div>10</div></div>
      <div class="riga"  id="riga8"><div></div></div>

      <div id="col0" class="column"></div>
      <div id="col1"  class="column"></div>
      <div id="col2"  class="column"></div>


      <div id="col3"  class="column"></div>
      <div id="col4"  class="column"></div>
      <div id="col5"  class="column"></div>

      <div id="col6"  class="column"></div>
      <div id="col7"  class="column"></div>
      <div id="col8"  class="column"></div>

      <div class="labelGraph">
        <div id="grpahlab1">{{lab1Text1}}</div>
        <div id="grpahlab2">{{lab1Text2}}</div>
        <div id="grpahlab3">{{lab1Text3}}</div>
      </div>


      <div class="labelGraph2">
        <div id="graphlab1"><div></div>{{lab2Text1}}</div>
        <div id="graphlab2"><div></div>{{lab2Text2}}</div>
        <div id="graphlab3"><div></div>{{lab2Text3}}</div>
      </div>

    </div>
  </div>



  <div class="textGraph">
    <div  id="{{trdText_1}}">{{trdText}}</div>
    <div  id="{{frthText_1}}">{{frthText}}</div>
  </div>
</div>
{{/if}}


</script>

<script type="text/x-handlebars-template" id="template-2">

<div id="planetTab">
  <div class="planetRow">
    {{#each tabVal}}
      <div>{{this}}</div>
    {{/each}}
  </div>

  <div class="planetRow2">
    {{#each tabVal2}}
      <div>{{this}}</div>
    {{/each}}
  </div>
</div>


<div class="allGraph2">
  <div class="myGraph2">


    <div id="grafico2">

      <div class="rigas" id="rigas1"><div>3</div></div>
      <div class="rigas"  id="rigas2"><div>2.5</div></div>
      <div class="rigas" id="rigas3"><div>2</div></div>
      <div class="rigas"  id="rigas4"><div>1.5</div></div>
      <div class="rigas"  id="rigas5"><div>1</div></div>
      <div class="rigas"  id="rigas6"><div>0.5</div></div>
      <div class="rigas"  id="rigas7"><div>0</div></div>

      <div id="pla1" class="column2"></div>
      <div id="pla2"  class="column2"></div>

      <div id="pla3"  class="column2"></div>
      <div id="pla4"  class="column2"></div>

      <div id="pla5"  class="column2"></div>
      <div id="pla6"  class="column2"></div>

      <div id="pla7"  class="column2"></div>
      <div id="pla8"  class="column2"></div>

      <div id="pla9"  class="column2"></div>
      <div id="pla10"  class="column2"></div>

      <div id="pla11"  class="column2"></div>
      <div id="pla12"  class="column2"></div>

      <div id="pla13"  class="column2"></div>
      <div id="pla14"  class="column2"></div>

      <div id="pla17"  class="column2"></div>
      <div id="pla18"  class="column2"></div>

      <div class="plaGraph">
        <div id="plalab1">{{lab1Text1}}</div>
        <div id="plalab2">{{lab1Text2}}</div>
        <div id="plalab3">{{lab1Text3}}</div>
        <div id="plalab4">{{lab1Text4}}</div>
        <div id="plalab5">{{lab1Text5}}</div>
        <div id="plalab6">{{lab1Text6}}</div>
        <div id="plalab7">{{lab1Text7}}</div>
        <div id="plalab8">{{lab1Text8}}</div>
         <div id="plalab9">{{lab1Text9}}</div>
      </div>


      <div class="plaGraph2">
        <div id="plagraphlab1"><div></div>{{lab2Text1}}</div>
        <div id="plagraphlab2"><div></div>{{lab2Text2}}</div>

      </div>

    </div>
  </div>


</div>

<div class="{{firstText_2}}">{{firstText}}</div>

</script>
