<script>
$cssLoader('css/shared.css');
$cssLoader('css/page3.css');
</script>

<div class="pageContainer">

<div class="headTitle"></div>

	<div id="figBox">

		


		
	</div>
		
	<div id="nextbtn" class="arrowcls"></div>
	<div id="repeatBtn"></div>
</div>

<script>
$jsLoader('js/page3.js');

</script>

<script type="text/x-handlebars-template" id="template-1">
{{#if img1}}
<div id="drawme_1">
  <img src="{{img1}}" />
</div>
{{/if}}

{{#if firstText}}
<div  id="{{firstText_1}}">{{firstText}}</div>
{{/if}}

{{#if firstText2}}
<div  id="{{firstText_2}}">{{firstText2}}</div>
{{/if}}

{{#if firstText3}}
<div  id="{{firstText_3}}">{{firstText3}}</div>
{{/if}}




{{#if mytable}}
<div class="tabme_1" id="{{tabl_2}}">
  <table class="tg {{halfmetoo}}">
    
    <tr>
     <td class="tg-031e th1">{{tabtxt1}}</td>
      <td class="tg-031e th1">{{tabtxt2}}</td>      
    </tr>

    <tr class="">
      <td class="tg-031e">{{tabtxt3}}</td>      
      <td class="tg-031e">{{tabtxt4}}</td>      
    </tr>

     <tr class="">
      <td class="tg-031e">{{tabtxt5}}</td>      
      <td class="tg-031e">{{tabtxt6}}</td> 
    </tr>

     <tr class="">
      <td class="tg-031e">{{tabtxt7}}</td>      
      <td class="tg-031e">{{tabtxt8}}</td> 
    </tr>

    <tr class="">
      <td class="tg-031e">{{tabtxt9}}</td>      
      <td class="tg-031e">{{tabtxt10}}</td> 
    </tr>
    <tr class="">
     <td class="tg-031e">{{tabtxt11}}</td>      
      <td class="tg-031e">{{tabtxt12}}</td> 
    </tr>
    <tr class="">
      <td class="tg-031e">{{tabtxt13}}</td>      
      <td class="tg-031e">{{tabtxt14}}</td> 
    </tr>
  </table>
{{#if mytable2}}
  <table class="tg {{halfmetoo}}">
    
    <tr>
      <td class="tg-031e th1">{{tabtxt1_1}}</td>
      <td class="tg-031e th1">{{tabtxt2_1}}</td>
      <td class="tg-031e th1">{{tabtxt3_1}}</td>        
    </tr>

    <tr class="">          
      <td class="tg-031e">{{tabtxt4_1}}</td>
      <td class="tg-031e">{{tabtxt5_1}}</td>      
      <td class="tg-031e">{{tabtxt6_1}}</td>      
    </tr>

    <tr class="">
      <td class="tg-031e">{{tabtxt7_1}}</td>      
      <td class="tg-031e">{{tabtxt8_1}}</td> 
      <td class="tg-031e">{{tabtxt9_1}}</td>   
    </tr>

     <tr class="">
      <td class="tg-031e">{{tabtxt10_1}}</td>
      <td class="tg-031e">{{tabtxt11_1}}</td>      
      <td class="tg-031e">{{tabtxt12_1}}</td>  
    </tr>

    <tr class="">
      <td class="tg-031e">{{tabtxt13_1}}</td>      
      <td class="tg-031e">{{tabtxt14_1}}</td> 
       <td class="tg-031e">{{tabtxt15_1}}</td>   
      
    </tr>
    <tr class="">
      <td class="tg-031e">{{tabtxt16_1}}</td>      
      <td class="tg-031e">{{tabtxt17_1}}</td> 
      <td class="tg-031e">{{tabtxt18_1}}</td>   
     
    </tr>
     <tr class="">
      <td class="tg-031e">{{tabtxt19_1}}</td>      
      <td class="tg-031e">{{tabtxt20_1}}</td> 
      <td class="tg-031e">{{tabtxt21_1}}</td>   
     
    </tr>
  </table>
{{/if}}
 
</div>
{{/if}}



{{#if firstText4}}
<div  id="{{firstText_4}}">{{firstText4}}</div>
{{/if}}


{{#if firstText_5}}
<div  id="{{firstText_5}}">

  <div class="halftext">{{firstText5a}}</div>

  <div  class="{{halftextname}}">
    <div class="underlineMe">{{firstText5b}}</div>
    <div>{{firstText5bb}}</div>
  </div>
    <div  class="halftext2">=
    </div>

  <div class="{{halftextname2}}">
    <div class="underlineMe">{{firstText5c}}</div>
    <div>{{firstText5cc}}</div>
  </div>

  {{#if halftext3}}
   <div  class="halftext3">=
    </div>
  {{/if}}

  <div  class="halftext5">{{firstText5d}}</div>

  {{#if lastOfClass}}
  <div class="lastOfClass">{{lastOfClass}}</div>
  {{/if}}

</div>
{{/if}}

</script>