/*heartBeat font*/
	.heartBeat{
	  -webkit-animation: pulse 0.3s linear alternate infinite;
	  -moz-animation: pulse 0.3s linear alternate infinite;
	  -ms-animation: pulse 0.3s linear alternate infinite;
	  animation: pulse 0.3s linear alternate infinite;
	}

	@keyframes "pulse" {
	 0% {
	    font-size: 1.3em;
	 }
	 
	 100% {
	    font-size: 1.35em;
	 }

	}

	@-moz-keyframes pulse {
	 0% {
	    font-size: 1.3em;
	 }
	 
	 100% {
	    font-size: 1.35em;
	 }

	}

	@-webkit-keyframes "pulse" {
	 0% {
	    font-size: 1.3em;
	 }
	 
	 100% {
	    font-size: 1.35em;
	 }
	}