p {
    margin: 0;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.advantagesofanimals {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.advantagesofanimals .advantagesofanimals * {
    position: relative;
    margin: 0;
    padding: 0;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.imgHolder {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock div.imgHolder {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock div.imgHolder {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock div.imgHolder {
    top: 0%;
    height: 100%;
}


/*div.textblock {
	position: relative;
}*/

div.firstpage {
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage {
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}


/*.bg-img{
	z-index: -1000;
}*/

div.definitionblock>img {
    position: relative;
    width: 50%;
    left: -20%;
}

div.definitionblock>figcaption {
    position: relative;
    margin-top: -8%;
    left: -21%;
    font-size: 2em;
    color: rgb(201, 136, 116);
}

.textblock {
    top: 0%;
    position: absolute;
    left: 9.7%;
    width: 100%;
    bottom: 80%;
    background: blue;
    text-align: center;
}


/**styles for pages**/

@font-face {
    font-family: "Amaranth";
    src: url("../../../../../fonts/amaranath/amaranth-regular.ttf");
}

.introBlock {
    top: 45%;
    background: none;
    left: 0%;
    color: #FF546C;
}

.insideText {
    font-size: 5vmin;
}

.insideText:lang(en){
    font-family: amaranth;
}
.secondPageBlock {
    top: 4%;
    animation-duration: 3s !important;
}

.cuteText {
    font-size: 5.5vmin;

}
.lowerblockadd {
    background: none;
    top: 76%;
    left: 0%;
    animation-delay: 1s !important;
    animation-duration: 3s !important;
}

.oddPage{
  animation-delay: 1s !important;
}
.lowerText {
    font-size: 4vmin;
}

div.slideshowblock {
    position: absolute;
    top: 22%;
    left: 25%;
    margin: 0;
    width: 50%;
    height: 55%;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    text-align: center;
    border: 1px solid green;
    background-color: #F5EACE;
    border: 32px solid transparent;
    border-image: url('../images/border_1.png') 37% round;
}

div.slideshowblock img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 3px solid #7aaca0;
}

.slideshow0 {
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
}

.slideshow1 {
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}

.slideshow2 {
    animation: fade3 8s infinites;
    -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 1
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.firstImg {
    position: absolute;
    height: 53%;
    width: 45%;
    left: 2%;
    top: 18%;
    border-radius: 10px;
    animation-delay: 1s !important;
    animation-duration: 2s !important;
}

.secondImg {
    left: 54%;
    animation-delay: 3s !important;
    animation-duration: 2s !important;
}

.thirdImg {
    left: 68%;
    animation-delay: 5s !important;
    animation-duration: 2s !important;
}

.bee {
    left: 27%;
}

.edit1 {
    height: 35%;
    width: 30%;
}

.edit2 {
    height: 35%;
    width: 30%;
    left: 34%;
    top: 26%;
}

.edit3 {
    height: 35%;
    width: 30%;
    top: 35%;
    left: 66%;
}
.simplebg {
    width: 100%;
    height: 100%;
    background-color: #ade6dc;
    background-size: 100% 100%;
}
