p {
    margin: 0;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.advantagesofanimals {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.advantagesofanimals .advantagesofanimals * {
    position: relative;
    margin: 0;
    padding: 0;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    background: white;
}

.imgHolder {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock div.imgHolder {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock div.imgHolder {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock div.imgHolder {
    top: 0%;
    height: 100%;
}


/*div.textblock {
	position: relative;
}*/

div.firstpage {
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage {
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.imageblock {
    position: absolute;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}


/*.bg-img{
	z-index: -1000;
}*/

div.definitionblock>img {
    position: relative;
    width: 50%;
    left: -20%;
}

div.definitionblock>figcaption {
    position: relative;
    margin-top: -8%;
    left: -21%;
    font-size: 2em;
    color: rgb(201, 136, 116);
}

.textblock {
    top: 0%;
    position: absolute;
    left: 9.7%;
    width: 100%;
    bottom: 80%;
    background: blue;
    text-align: center;
}


/**styles for pages**/

@font-face {
    font-family: "Amaranth";
    src: url("../../../../../fonts/amaranath/amaranth-regular.ttf");
}

.introBlock {
    top: 45%;
    background: none;
    left: 0%;
}

.insideText {
    font-size: 5vmin;
}

.insideText:lang(en){
    font-family: amaranth;
}
.secondPageBlock {
    top: 0%;
    animation-duration: 3s !important;
    -webkit-text-fill-color: #ffb0bd;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #67817c
}

.cuteText {
    font-size: 5vmin;
    -webkit-text-fill-color: #ffb0bd;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #67817c
}

.lowerblockadd {
    background: none;
    top: 83%;
    left: 0%;
    animation-delay: 5s !important;
    animation-duration: 3s !important;
}

.lowerText {
    font-size: 3vmin;
}

.lowerText2 {
    font-size: 3.5vmin;
    animation-delay: 7s !important;
    animation-duration: 2s !important;
}

div.slideshowblock {
    position: absolute;
    top: 22%;
    left: 25%;
    margin: 0;
    width: 50%;
    height: 55%;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    text-align: center;
    border: 1px solid green;
    background-color: #F5EACE;
    border: 32px solid transparent;
    border-image: url('../images/border_1.png') 37% round;
}

div.slideshowblock img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.slideshow0 {
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
}

.slideshow1 {
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}

.slideshow2 {
    animation: fade3 8s infinites;
    -webkit-animation: fade3 8s infinite;
}

.slideshow3 {
    animation: fade4 8s infinite;
    -webkit-animation: fade4 8s infinite;
}

.slideshow4 {
    animation: fade5 8s infinite;
    -webkit-animation: fade5 8s infinite;
}

.slideshow5 {
    animation: fade6 8s infinite;
    -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    16.666% {
        opacity: 0
    }
    32.222% {
        opacity: 0
    }
    48.888% {
        opacity: 0
    }
    64.444 {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }
    16.666% {
        opacity: 1
    }
    32.222% {
        opacity: 0
    }
    48.888% {
        opacity: 0
    }
    64.444 {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }
    16.666% {
        opacity: 0
    }
    32.222% {
        opacity: 1
    }
    48.888% {
        opacity: 0
    }
    64.444 {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade4 {
    0% {
        opacity: 0
    }
    16.666% {
        opacity: 0
    }
    32.222% {
        opacity: 1
    }
    48.888% {
        opacity: 0
    }
    64.444 {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade5 {
  0% {
      opacity: 0
  }
  16.666% {
      opacity: 0
  }
  32.222% {
      opacity: 0
  }
  48.888% {
      opacity: 1
  }
  64.444 {
      opacity: 0
  }
  100% {
      opacity: 0
  }
}

@keyframes fade6 {
  0% {
      opacity: 0
  }
  16.666% {
      opacity: 0
  }
  32.222% {
      opacity: 0
  }
  48.888% {
      opacity: 0
  }
  64.444 {
      opacity: 1
  }
  100% {
      opacity: 0
  }
}

.firstImg {
    position: absolute;
    height: 35%;
    width: 30%;
    left: 2%;
    top: 30%;
    border-radius: 10px;
    animation-delay: 1s !important;
    animation-duration: 2s !important;
}

.secondImg {
    left: 35%;
    animation-delay: 3s !important;
    animation-duration: 2s !important;
}

.thirdImg {
    left: 68%;
    animation-delay: 5s !important;
    animation-duration: 2s !important;
}

.bee {
    left: 27%;
}

.animate1 {
    position: absolute;
    height: 31%;
    width: 20%;
    top: 29%;
    left: 38%;
    border-radius: 112px;
    display: none;
    border: 3px solid #00CADC;
    opacity: 0;
}

.animate2 {
    position: absolute;
    height: 31%;
    width: 20%;
    top: 29%;
    left: 38%;
    border-radius: 112px;
    display: none;
    border: 3px solid #00CADC;
    opacity: 0;
}

.animate3 {
    position: absolute;
    height: 31%;
    width: 20%;
    top: 29%;
    left: 38%;
    border-radius: 112px;
    display: none;
    border: 3px solid #00CADC;
    opacity: 0;
}

.firstImgrow {
    position: absolute;
    height: 40%;
    width: 30%;
    left: 2%;
    top: 24%;
    border-radius: 10px;
    animation-delay: 1s !important;
    animation-duration: 2s !important;
}

.secondImgrow {
    left: 35%;
    animation-delay: 3s !important;
    animation-duration: 2s !important;
}

.thirdImgrow {
    left: 68%;
    animation-delay: 5s !important;
    animation-duration: 2s !important;
}

.madalImg {
    left: 52%;
    height: 20%;
    width: 23%;
    top: 57%;
    animation-delay: 7s !important;
    animation-duration: 2s !important;
}

.anotherblock {
    position: absolute;
    top: 10%;
    left: 29%;
    color: grey;
    font-size: 3.2vmin;
    animation-delay: 2s !important;
    animation-duration: 2s !important;
}

.shuffle {
    opacity: 0;
    display: none;
    height: 40%;
    left: 30%;
    width: 40%;
    animation-delay: 1s !important;
}

.manure1 {}

.manure2 {
    top: 35%;
}

.anotheradd {
    top: 59%;
    font-family: Amaranth;
    animation-delay: 3s !important;
    animation-duration: 3s !important;
}

.inside {
    font-size: 4.2vmin;
    color: grey;
}

.border {
    border: 8px solid transparent;
    border-image: url("../images/border_1.png") 45% round;
}
.simplebg {
    width: 100%;
    height: 100%;
    background-color: #ade6dc;
    background-size: 100% 100%;
}
