.rocktype_example {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.rocktype_example, .rocktype_example * {
	position: relative;
	margin: 0;
	padding: 0;
}

.rocktype_example .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;	
}

.rocktype_example .board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/*********
*****activity specific******
******************/

.board .textWrapper{
	position: relative;
	width: 100%;
	height:100%;
}

.board .textWrapper > p{
	position: relative;
	display: table;
	margin: 25% auto;
	font-size: 1.2em;
}

.board .classificationWrapper{
	position: relative;
	width: 100%;
	height:100%;   
}

.board .classificationWrapper > p{
	height:5%;
	font-size: 1.3em;
	display: table;
	margin:0 auto;
}

.board .classificationWrapper div.rocks{
	position: relative;
	top:2%;
	width: 100%;
	height:91%;
}

.board .classificationWrapper div.rocks div{
	position: absolute;
	height: 100%;

    border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid rgba(180,255,255,1);
}

.board .classificationWrapper div.rocks div.igneous{
	width: 20%;
	left:2%;
}

.board .classificationWrapper div.rocks div.sedimentary{
	width: 40%;
	left:23%;
}

.board .classificationWrapper div.rocks div.metamorphic{
	width: 35%;
	left:64%;
}

.board .classificationWrapper div.rocks p.rockTitle{
	width: 100%;
	height: 17%;
	text-align: center;
    font-size: 1.2em;

	/*border: 1px solid blue;*/
}

.board .classificationWrapper div.rocks div.igneous p.rockTitle{
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #9C1408;
	border: 2px solid #F02C05;
	color:#FAB700;
}

.board .classificationWrapper div.rocks div.sedimentary p.rockTitle{
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #FFDC7E;
	border: 2px solid #E89E32;
	color:#FF7609;
}

.board .classificationWrapper div.rocks div.metamorphic p.rockTitle{
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #D9BBA0;
	border: 2px solid #A67B56;
	color:#403E2C;
}

.board .classificationWrapper div.rocks ul.rockExamples{
	top:3%;
	width: 100%;
	height: 77%;
	
	/*border: 1px solid blue;*/
}

.board .classificationWrapper div.rocks ul.rockExamples figure{
	width: 50%;
	left:5%;
	/*border: 1px solid blue;*/
}

.board .classificationWrapper div.rocks ul.rockExamples figure li{
	font-size: 1.3em;
}

.board .classificationWrapper div.rocks ul.rockExamples figure *:not(li){
	display: none;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(-n+4){
	position: absolute;
	top:0%;
	left: 5%;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(n+5){
	position: absolute;
	top:0%;
	left: 55%;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(2){
	top:25%;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(3){
	top:50%;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(4){
	top:75%;
}

 .board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(6){
	top: 25%;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(7){
	top: 50%;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure:nth-of-type(8){
	top: 75%;
} 

.board .classificationWrapper div.rocks ul.rockExamples > figure > img{
	width: 50%;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.board .classificationWrapper div.igneous ul.rockExamples > figure > img{
	width: 100%;
	height: auto;
}

.board .classificationWrapper div.rocks ul.rockExamples > figure > figcaption{
	font-size: 1em;
}

.tooltipImage{
	width: 10em;
	height: 8em;	
}