.earth_stones_whereabouts {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.earth_stones_whereabouts, .mixture * {
	position: relative;
	margin: 0;
	padding: 0;
}

.earth_stones_whereabouts .nextBtn{
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.earth_stones_whereabouts .prevBtn{
	display: none;
	position: absolute;
	top:85%;
	left:1%;
	width: 6%;
	height: 10%;
}

/* **********
************ */

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 90%;
}

.board > img{
	position: relative;
	width: 60%;
	border: 2px solid #ccc;
	border-radius:5px;
	display: table;
	margin:0 auto;
	margin-top:5%;
}

.board > p{
	position: relative;
	display: table;
	margin:0 auto;
	margin-top:2%;
	font-size: 1.2em;
	font-weight: normal;
	color: black;
}
