.rock_types {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.rock_types, .mixture * {
	position: relative;
	margin: 0;
	padding: 0;
}

.rock_types .nextBtn{
	display: none;
	position: absolute;
	bottom:0.5%;
	left:93%;
	width: 6%;
	height: 10%;	
}

 .rock_types .prevBtn{
	display: none;
	position: absolute;
	bottom:0.5%;
	left:1%;
	width: 6%;
	height: 10%;	
} 

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;	
}

/* **********
************ */
.board .textWrapper, .board .rockTypesWrapperClass, .board .metamorphicWrapper{
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	height:100%;
	background: url("../images/page10/island.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.board .textWrapper p.information{
	display: none;
	position: absolute;
	top:5%;
	left:20%;
	width: 80%;
	font-size: 1.7em;
	color:black;
	padding:0% 2% 0% 7%;
	color:#A13915;
}

.board .textWrapper p.igneous{
	display: none;
	position: absolute;
	top:55%;
	right:69%;
	font-size: 1.2em;
	color:black;
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #9C1408;
	border: 2px solid #F02C05;
	color:#FAB700;
}

.board .textWrapper p.sedimentary{
	display: none;
	position: absolute;
	top:68.5%;
	right:1%;
	font-size: 1.2em;
	color:black;
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #FFDC7E;
	border: 2px solid #E89E32;
	color:#FF7609;
}

.board .textWrapper p.metamorphic{
	display: none;
	position: absolute;
	top:80.5%;
	right:1%;
	font-size: 1.2em;
	color:black;
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #D9BBA0;
	border: 2px solid #A67B56;
	color:#403E2C;
}

/**
** Igneous Rock
**/
.rockTypesWrapperClass p.igneousTitle{
	position: absolute;
	top:55%;
	right:69%;
	font-size: 1.2em;
	color:black;
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #9C1408;
	border: 2px solid #F02C05;
	color:#FAB700;
}

.rockTypesWrapperClass div.igneous{
	position: absolute;
	top:3%;
	left: 31%;
	width: 69%;
	height: 97%;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid rgba(180,255,255,1);
	color:black; 
}

.rockTypesWrapperClass div.igneous > p:nth-of-type(1){
	padding: 1% 2%;
	height: 25%;
}

.rockTypesWrapperClass div.igneous > p:nth-of-type(1) > span{
	color:#1695A3;
	font-size: 1.2em;
}

.rockTypesWrapperClass div.igneous .exampleRock{
	position: relative;
	top:10%;
	left: 0;	
	width: 100%;
	height: 60%;
	border-radius: 5px;
}

.rockTypesWrapperClass div.igneous .exampleRock figure{	
	position: relative;
	width: 25%;
	height: 35%;
	float: left;
	margin-left: 15%;
}

.rockTypesWrapperClass div.igneous .exampleRock figure:nth-of-type(n+3){	
	margin-top: 8%;
}

.rockTypesWrapperClass div.igneous .exampleRock figure img{	
	width: 100%;
	height: 100%;

	border: 2px solid #ccc;
	border-radius:5px;
}

.rockTypesWrapperClass div.igneous .exampleRock figure figcaption{	
	font-weight: normal;
	color: black;
	text-align: center;
}

/**
** sedimentary Rock
**/
.rockTypesWrapperClass p.sedimentaryTitle{
	position: absolute;
	top:68.5%;
	left:66.5%;
	font-size: 1.2em;
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #FFDC7E;
	border: 2px solid #E89E32;
	color:#FF7609;
}

.rockTypesWrapperClass div.sedimentary{
	position: absolute;
	top:0%;
	left: 0%;
	width: 66.5%;
	height: 90%;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid rgba(180,255,255,1);
	color:black;
}

.rockTypesWrapperClass div.sedimentary > p:nth-of-type(1){
	padding: 1% 2%;
	height: 25%;
}

.rockTypesWrapperClass div.sedimentary > p:nth-of-type(1) > span{
	color:#1695A3;
	font-size: 1.2em;
}

.rockTypesWrapperClass div.sedimentary .exampleRock{
	position: relative;	
	margin-top:12%;
	width: 100%;
	height: 60%;
	border-radius: 5px;
}

.rockTypesWrapperClass div.sedimentary .exampleRock figure{	
	position: relative;
	width: 25%;
	height: 35%;
	float: left;
	margin-left: 15%;
}

.rockTypesWrapperClass div.sedimentary .exampleRock figure:nth-of-type(n+3){	
	margin-top: 8%;
}

.rockTypesWrapperClass div.sedimentary .exampleRock figure img{	
	width: 100%;
	height: 100%;

	border: 2px solid #ccc;
	border-radius:5px;
}

.rockTypesWrapperClass div.sedimentary .exampleRock figure figcaption{	
	text-align: center;
}

/**
** metamorphic Rock
**/
.rockTypesWrapperClass p.metamorphicTitle, .metamorphicWrapper p.metamorphicTitle{
	position: absolute;
	top:80.5%;
	left:61%;
	font-size: 1.2em;
	color:black;
	padding:0.2em 0.5em;
	border-radius: 5px;
	background-color: #D9BBA0;
	border: 2px solid #A67B56;
	color:#403E2C;
}

.rockTypesWrapperClass div.metamorphic{
	position: absolute;
	top:0%;
	left: 0%;
	width: 61%;
	height: 90%;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid rgba(180,255,255,1);
	color:black;
}

.rockTypesWrapperClass div.metamorphic > p:nth-of-type(1){
	padding: 1% 2%;
	height: 25%;
}

.rockTypesWrapperClass div.metamorphic > p:nth-of-type(1) > span{
	color:#1695A3;
	font-size: 1.2em;
}

.rockTypesWrapperClass div.metamorphic .exampleRock{
	position: relative;
	margin-top: 6%;	
	width: 100%;
	height: 70%;
	border-radius: 5px;
}

.rockTypesWrapperClass div.metamorphic .exampleRock figure{	
	position: relative;
	width: 30%;
	height: 35%;
	float: left;
	margin-left: 14%;
}

.rockTypesWrapperClass div.metamorphic .exampleRock figure:nth-of-type(n+3){	
	margin-top: 8%;
}

.rockTypesWrapperClass div.metamorphic .exampleRock figure img{	
	width: 100%;
	height: 100%;

	border: 2px solid #ccc;
	border-radius:5px;
}

.rockTypesWrapperClass div.metamorphic .exampleRock figure figcaption{	
	text-align: center;
}

/**
** metamorphic explain
**/
.metamorphicWrapper div.metamorphosisContainer{
	position: absolute;
	top:0%;
	left: 0%;
	width: 61%;
	height: 90%;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.9);
	border: 2px solid rgba(180,255,255,1);
	color:black;
}

.metamorphicWrapper div.metamorphosisContainer > div{ 
	position: relative;
	width: 100%;
	height: 33%;
	/*border: 1px solid red;*/
}

.metamorphicWrapper div.metamorphosisContainer > div:nth-of-type(odd){ 
	background-color: rgba(0,0,0,0.05);
}

.metamorphicWrapper div.metamorphosisContainer > div > p{ 
	position: relative;
	margin-top: -3%;
	width: 100%;
	height: 33%;
	padding: 0 1%;
	/*border: 1px solid red;*/
}

.metamorphicWrapper div.metamorphosisContainer > div > div{ 
	position: relative;
	width: 100%;
	height:80%;
	/*border: 1px solid green;*/
}

.metamorphicWrapper div.metamorphosisContainer > div > div > img{ 
	position: relative;
	left: 10%;
	width: 80%;
	height:90%;
	/*border: 1px solid green;*/
}

.metamorphicWrapper div.metamorphosisContainer > div > div > p{ 
	position: absolute;
	top:50%;
	left:43%;
	width: 14%;
	/*border: 1px solid red;*/
	font-size: 0.9em;
	color: #DC3522;
}

.metamorphicWrapper div.metamorphosisContainer > div > div > b{ 
	position: absolute;
	top:35%;
	left:17%;
	/*border: 1px solid red;*/
	font-size: 0.9em;
	color: white;
	text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,1px 1px 0 #000;
}

.metamorphicWrapper div.metamorphosisContainer > div > div > b:nth-of-type(1){	
	top:35%;
	left:17%;
}

.metamorphicWrapper div.metamorphosisContainer > div > div > b:nth-of-type(2){ 	
	top:35%;
	left:67%;
}



