.stones_nepal {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.stones_nepal, .mixture * {
	position: relative;
	margin: 0;
	padding: 0;
}

.stones_nepal .nextBtn{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;	
}

.board{
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
	/*border: 1px solid red;*/
}

/* **********
	activity specific
************ */
.board > p{
	padding: 0% 3%;
	font-size: 2em;
	margin-top:25%;
}

.stonesInNepal{
	position: relative;
	top: 0%;
	left: 0%;
	width:100%;
	height: 100%;
}

.stonesInNepal > p{
	position: relative;
	top:5%;
	font-size: 1.5em;
}

.varietyStones{
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height: 80%;
	/*border: 1px solid green;*/
}

.varietyStones > figure{
	width:15%;
	height: 20%;
	float:left;
	margin-left:1.4%;
}

.varietyStones > figure:nth-of-type(-n+7){
	margin-top: 5%;
}

.varietyStones > figure:nth-of-type(n+7){
	margin-top: 12%;
}

.varietyStones > figure > img{
	width:100%;
	height: 100%;
	border: 2px solid #ccc;
	border-radius:5px;
}

