.stones_property {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.stones_property, .stones_property * {
	position: relative;
	margin: 0;
	padding: 0;
}

.stones_property .nextBtn{
	display: none;
	position: absolute;
	bottom:1%;
	right:1%;
	width: 6%;
	height: 10%;
}

.stones_property .board {
	width: 100%;
	height: 100%;
}

.stones_property .board .introText {
	position: relative;
	top:45%;
	left: 0%;
	display: table;
	margin: 0 auto;
	font-size: 2em;
}

.stones_property .board .wrapperProperty {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;

	border: 1px solid green;
}

.stones_property .board .wrapperProperty .propertyList {
	position: absolute;
	top:20%;
	left:2%;
	width: 28%;
	height: 60%;
}

.stones_property .board .wrapperProperty .propertyList ul{
	width: 100%;
	height: 100%;
	border: 2px solid #935234;
}

.stones_property .board .wrapperProperty .propertyList .listTitle {
	color: white;
	background: #935234;
	text-align: center;
	padding: 2% 1%;
}

.stones_property .board .wrapperProperty .propertyList ul li {
	padding: 3% 2%;
	color: black;
	font-size: 1.1em;
}

.stones_property .board .wrapperProperty .propertyList ul li:nth-of-type(n+2) {
	position: relative;
	margin-top:20%;
	padding: 3% 2%;
	color: black;
	font-size: 1.1em;
}

.stones_property .board .wrapperProperty .propertyList ul li > span{
	position: absolute;
	padding: 0.3% 3%;
	color: white;
	background-color: #935234;
	font-weight: bold;
}

.stones_property .board .wrapperProperty .propertyList ul li > p{
	position: absolute;
	left: 20%;
	color: black;
}

.stones_property .board .wrapperProperty .propertyMain {
	position: absolute;
	top:7%;
	left:35%;
	width: 65%;
	height: 70%;
	/*border: 1px solid red;	*/
}

.stones_property .board .wrapperProperty .propertyMain div.propertiesTitle {
	position: relative;
	top:0%;
	left: 0%;
	font-size: 1.3em;

	border-top: 5px solid #FF9207;
}

.stones_property .board .wrapperProperty .propertyMain div.propertiesTitle span{
	position: absolute;
	padding: 2% 2% .5% 2%;
	color: white;
	background-color: #FF9207;
	font-weight: bold;
}
.stones_property .board .wrapperProperty .propertyMain div.propertiesTitle > p{
	position: absolute;
	padding-top: 1%;
	left: 9%;
	color: black;
}

.stones_property .board .wrapperProperty .propertyMain .propertiesImg {
	position: relative;
	margin-top: 10%;
	width: 100%;
	height: 70%;
	/*border: 1px solid red;*/
}

.stones_property .board .wrapperProperty .propertyMain .propertiesImg img{
	position: relative;
	width:35%;
	height: 50%;
	border: 2px solid #ccc;
	border-radius:5px;
}

.stones_property .board .wrapperProperty .propertyMain .propertiesImg img:nth-of-type(2n){
	margin-left: 20%;
}

.stones_property .board .wrapperProperty .propertyMain .propertiesImg img:nth-of-type(n+3){
	margin-top: 10%;
}

.stones_property .board .wrapperProperty .propertyMain .propertiesImg img:nth-of-type(odd){
	margin-left: 5%;
}

.stones_property .board .wrapperProperty .propertyMain .propertiesImg img:nth-of-type(-n+2){
	margin-top: 5%;
}

.stones_property .board .wrapSummary {
	padding: 5% 15%;
}

.stones_property .board .wrapSummary ul {
	border: 1px solid #935234;
	height: 60%;
	font-size: 1.3em;
}

.stones_property .board .wrapSummary .listTitle {
	background: #935234;
	color: white;
	text-align: center;
	font-size: 1.3em;
	font-weight: normal;
	padding:3% 5%;
}

.stones_property .board .wrapSummary ul li {
	position: relative;
	color: rgba(42, 101, 88, 1);
	padding:3% 2%;
}

.stones_property .board .wrapSummary ul li:nth-of-type(n+2) {
	margin-top: 5%;
}

.stones_property .board .wrapSummary ul li span{
	position: absolute;
	padding: 1% 1%;
	color: white;
	background-color: #935234;
	font-weight: bold;
}

.stones_property .board .wrapSummary ul li p{
	position: absolute;
	padding: 1% 1%;
	left: 7%;
	color: black;
}
