/* CSS Document */

#innerMeasureContent
{

	
	width:100%;
	height: 100%;
	 
	position:relative;
	text-align:center;
	
	
	overflow:hidden;
}
#innerMeasureContent *
{
padding:0;
margin:0;
}


