
@font-face {
    font-family: davinci;
    src: url(../font/davinci_font.ttf);
}



.readingmap_page1, .readingmap_page2 {
	width: 100%;
	height: 100%;
	position: relative;
background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.readingmap_page1, .readingmap_page1 *, .readingmap_page2 , .readingmap_page2 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
    right: 0%;
    position: absolute;
    display: none;
    cursor: pointer;
    width: 7%;
    height: 10%;
} 

.prevBtn
{
	bottom: 1%;
    left: 0%;
    position: absolute;
    display: none;
    cursor: pointer;
    width: 7%;
    height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/

div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
        display: none;
	width: 18%;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width:40%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	 left: 33%;
    opacity: 1;
    padding-top: 12%;
    position: absolute;
    width: 32%;
}

/**
* head image container
*/

div.dialogcontainer{
	xposition: absolute;
	xbottom: 0;
	xleft: 0;
	xwidth: 100%;
	xpadding: 2% 10%;
	xtext-align: left;
	xcolor:white;
	xbackground-color: rgba(0,0,0,0.3);
	xfont-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}


#dialog_1main{
	width: 56%;
    left: 1%;
    top: 1%;
    font-size: 3vmin;
    position: absolute;
    text-align: justify;
    margin-top: 2%;
	color: #5c5c5c;
    background: rgba(255,255,255,0.7);
}

#dialog_2main{
    background: rgba(255,255,255,0.7);
    color: rgb(83, 83, 83);
    font-size: 3vmin;
    left: 43%;
    padding: 3%;
    position: absolute;
    text-align: justify;
    top: 0;
    width: 57%;
}

#dialog_3main{
   color: #5c5c5c;
    font-size: 2.5vmin;
    left: 1%;
    padding: 3%;
    position: absolute;
    text-align: justify;
    top: 1%;
    width: 57%;
     background: rgba(255,255,255,0.7);
}


#dialog_4main{
     color: #5c5c5c;
    font-size: 2.5vmin;
    left: 1%;
    padding: 3%;
    position: absolute;
    text-align: justify;
    top: 1%;
    width: 40%;
     background: rgba(255,255,255,0.7);
}


#dialog_5main{
    color: #5c5c5c;
    font-size: 2.5vmin;
    left: 44%;
    padding: 3%;
    position: absolute;
    text-align: justify;
    top: 13%;
    width: 54%;
     background: rgba(255,255,255,0.7);
}

#dialog_6main{
	 color: #5c5c5c;
    font-size: 2.5vmin;
    left: 48%;
    padding: 1%;
    position: absolute;
    text-align: justify;
    top: 18%;
    width: 48%;
     background: rgba(255,255,255,0.7);
}

#dialog_7main{
    color: #5c5c5c;
    font-size: 2.5vmin;
    left: 44%;
    padding: 2%;
    position: absolute;
    text-align: justify;
    top: 12%;
    width: 54%;
     background: rgba(255,255,255,0.7);
}

#dialog_8main{
    color: #5c5c5c;
    font-size: 2.5vmin;
    left: 1%;
    padding: 2%;
    position: absolute;
    text-align: justify;
    top: -1%;
    width: 74%;
     background: rgba(255,255,255,0.7);
}

#dialog_9main{
     color: #5c5c5c;
    font-size: 2.5vmin;
    left: -1%;
    padding: 3%;
    position: absolute;
    text-align: justify;
    top: -4%;
    width: 76%;
}

#dialog_10main{
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #ffffff;
    font-size: 2.5vmin;
    left: 1%;
    padding: 3%;
    position: absolute;
    text-align: justify;
    top: 1%;
    width: 47%;
}

div.progressDiv {
	display: none;
    height: 325px;
    left: 16%;
    position: absolute;
    top: 20%;
    width: 46%;
}

.statChartHolder {
width: 35%;
height: 90%;
position: relative;
border-right: 1px solid #ccc;
top: 15px;
    display: inline-block;
}

.statRightHolder {
display: inline-block;
height: 90%;
width: 64%;
position: relative;
top: -32px;
margin: 0;
}
.statRightHolder ul {
list-style: none;
    margin: 0;
}
.statRightHolder li {
border-bottom: 1px solid #ccc;
height: 85px;
width: 95%;
position: relative;
top: -25px;
}
.statRightHolder h3 {
display: inline-block;
margin-right: 15px;
color: #B6B5B5;
font-weight: 300;
font-size: 38px;
}
.statRightHolder span {
display: inline-block;
color: #B6B5B5;
font-size: 21px;
font-weight: 300;
}

.statsLeft {
    list-style:none;
    display:inline-block;
    width:45%;
}
.statsLeft li {
width: 100%;
height: 14px;
border: none;
top: 5px;
margin-bottom: 25px;
}
.statsLeft h3{
    font-size:17px;
    display: inline-block;
}
.statsLeft span{
    font-size: 17px;
    display:inline-block;
}
.statsRight {
width: 45%;
display: inline-block;
position: absolute;
}
.statsRight li {
width: 100%;
height: 14px;
border: none;
top: 5px;
margin-bottom: 25px;
}
.statsRight h3{
    font-size:17px;
    display: inline-block;
}
.statsRight span{
    font-size: 17px;
    display:inline-block;
}



/*Sabrina*/

.map_indexes
{
	width:100%;
	height:100%;
	position:relative;
	background:green;
}

/*icon 1*/
@keyframes up-map1 {
    0% {
        transform: scale(1);
        opacity: .25
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .25;
    }
}
.mappin1:hover
{
	cursor: pointer;
}

.mappin1{
     background: #00cae9 none repeat scroll 0 0;
    border-radius: 50% 50% 50% 0;
    /*bottom: 72%;*/
    height: 7px;
    left: 26.5%;
    margin: -44% 0 0 -20px;
    position: relative;
    transform: rotate(-45deg);
    width: 9px;
	display:none;
}
     


.icon1{
    background-color: #01CADC;
    /*position: absolute;*/
    xtop: 43.3%;
    xright: 20.3%;
    -webkit-animation: up-map1 1s infinite;
    -moz-animation: up-map1 1s infinite;
    -o-animation: up-map1 1s infinite;
    animation: up-map1 1s infinite;
    z-index: 99;
}

/*#gif_mountain
{
	 display: none;
    left: 12%;
    margin-top: -33.2%;
    position: relative;
    width: 4%;
}

#gif_mountain1{
 display: none;
    left: 13%;
    margin-top: -34%;
    position: relative;
    width: 4%;
}

#gif_mountain2{
 display: none;
    left: 1.4%;
    margin-top: -27%;
    position: relative;
    width: 4%;
}

#gif_mountain3{
 display: none;
    left: -9.6%;
    margin-top: -22%;
    position: relative;
    width: 4%;
}*/

.text01{
    
   background: rgba(0, 0, 0, 0) url("../images/mountain-animation.gif") repeat scroll 100% 100% / cover ;
    display: none;
    font-size: 1.8vmin;
    font-weight: bold;
    height: 1%;
    left: 16.4%;
    margin-top: -34%;
    padding-top: 2%;
    position: relative;
    width: 7%;
	
}

.text02{
    
    background: rgba(0, 0, 0, 0) url("../images/mountain-animation.gif") repeat scroll 100% 100% / cover ;
    display: none;
    font-size: 1.8vmin;
    font-weight: bold;
    height: 1%;
    left: 9.4%;
    margin-top: 0;
    padding-top: 2%;
    position: relative;
    width: 7%;
}

.text03{
    
    background: rgba(0, 0, 0, 0) url("../images/mountain-animation.gif") repeat scroll 100% 100% / cover ;
    display: none;
    font-size: 1.8vmin;
    font-weight: bold;
    height: 1%;
    left: 13.4%;
    margin-top: 3%;
    padding-top: 2%;
    position: relative;
    width: 7%;
}

.text04{
    
    background: rgba(0, 0, 0, 0) url("../images/mountain-animation.gif") repeat scroll 100% 100% / cover ;
    display: none;
    font-size: 1.8vmin;
    font-weight: bold;
    height: 1%;
    left: 6.4%;
    margin-top: 3%;
    padding-top: 2%;
    position: relative;
    width: 7%;
}



/*page 7*/
/*#butterflies1{
	
    display: none;
    left: 7%;
    margin-top: -54%;
    opacity: 0.7;
    position: relative;
    width: 19%;

   
	
}

#reptiles1{
	 display: none;
    left: 9%;
    margin-top: -54%;
    opacity: 0.7;
    position: relative;
    width: 19%;
}

#amphibians1{
	display: none;
    left: 11%;
    margin-top: -54%;
    opacity: 0.7;
    position: relative;
    width: 19%;
}

#fishes1{
	 display: none;
    left: 13%;
    margin-top: -53%;
    opacity: 0.7;
    position: relative;
    width: 19%;
}

#butterflies1:hover, #reptiles1:hover, #amphibians1:hover, #fishes1:hover{
	cursor: pointer;
	opacity: 1;
	transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}*/


#contain{
  clear: both;
  
}

/*.img-responsive{
    width: 100px;
    height: 100px;
    /*background-color: aqua;
    float: left;
    margin-right: 14px;
    cursor: pointer;
}*/

#contain:hover div.text{
     display: block;
}

.text{
    
    background: rgba(0, 0, 0, 0) url("../images/butterfly.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 38.5%;
    margin-top: -59%;
    padding-left: 3%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text1{
    
   background: rgba(0, 0, 0, 0) url("../images/reptile.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 18.5%;
    margin-top: -41.3%;
    padding-left: 4%;
    padding-top: 8%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text2{
    
   background: rgba(0, 0, 0, 0) url("../images/amphibians.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 38.5%;
    margin-top: -41.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text3{
    
   background: rgba(0, 0, 0, 0) url("../images/fish.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 58.5%;
    margin-top: -41.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

/*page6*/

/*#rhododendron1{
	
    display: none;
    left: 7%;
    margin-top: -58%;
    opacity: 0.8;
    position: relative;
    width: 17%;
}

#primrose1{
	  display: none;
    left: 10%;
    margin-top: -58%;
    opacity: 0.8;
    position: relative;
    width: 17%;
}

#orchid1{
	display: none;
    left: 13%;
    margin-top: -58%;
    opacity: 0.8;
    position: relative;
    width: 17%;
}

#bamboo1{
	 display: none;
    left: 16%;
    margin-top: -58%;
    opacity: 0.8;
    position: relative;
    width: 17%;
}

#oak1{
	display: none;
    left: -52%;
    margin-top: -40%;
    opacity: 0.8;
    position: relative;
    width: 17%;
}

#fodder1{
	  display: none;
    left: 38%;
    margin-top: -42%;
    opacity: 0.8;
    position: relative;
    width: 17%;
}

#herb1{
	 display: none;
    left: 41%;
    margin-top: -42%;
    opacity: 0.8;
    position: relative;
    width: 17%;
}*/

/*#rhododendron1:hover, #primrose1:hover, #orchid1:hover, #bamboo1:hover, #oak1:hover, #fodder1:hover, #herb1:hover {
	cursor: pointer;
	opacity: 1;
	transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
}*/


.text4{
    background: rgba(0, 0, 0, 0) url("../images/rhododendron.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 9.5%;
    margin-top: -58.3%;
    padding-left: 1%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
	float: left;
}

.text5{
    background: rgba(0, 0, 0, 0) url("../images/primrose.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 28.5%;
    margin-top: -58.3%;
    padding-left: 3%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text6{
   background: rgba(0, 0, 0, 0) url("../images/orchid.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 47.5%;
    margin-top: -58.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text7{
   background: rgba(0, 0, 0, 0) url("../images/bamboos.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 66.5%;
    margin-top: -58.3%;
    padding-left: 3%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
	float: left;
}

.text8{
    background: rgba(0, 0, 0, 0) url("../images/oak.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 18.5%;
    margin-top: -40.3%;
    padding-left: 5%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text9{
     background: rgba(0, 0, 0, 0) url("../images/fodder.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 38.5%;
    margin-top: -40.3%;
    padding-left: 2%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text10{
    background: rgba(0, 0, 0, 0) url("../images/herb.png") repeat scroll 100% 100% / cover ;
    border-radius: 49%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 27%;
    left: 58.5%;
    margin-top: -40.3%;
    padding-left: 1%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

/*page8*/

.text11{
    
   background: rgba(0, 0, 0, 0) url("../images/bird.png") repeat scroll 100% 100% / cover ;
    border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 2.5%;
    margin-top: -56.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text12{
    
   background: rgba(0, 0, 0, 0) url("../images/mammal.png") repeat scroll 100% 100% / cover ;
    border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 21.5%;
    margin-top: -56.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text13{
    
   background: rgba(0, 0, 0, 0) url("../images/cleopard.png") repeat scroll 100% 100% / cover ;
    border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 40.5%;
    margin-top: -56.3%;
    padding-left: 5%;
    padding-top: 6%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text14{
    
   background: rgba(0, 0, 0, 0) url("../images/panda.png") repeat scroll 100% 100% / cover ;
    border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 11.5%;
    margin-top: -41.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text15{
    
   background: rgba(0, 0, 0, 0) url("../images/deer.png") repeat scroll 100% 100% / cover ;
    border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 30.5%;
    margin-top: -41.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text16{
    
   background: rgba(0, 0, 0, 0) url("../images/ghoral.png") repeat scroll 100% 100% / cover ;
    border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 2.5%;
    margin-top: -26.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text17{
    
   background: rgba(0, 0, 0, 0) url("../images/himalithar.png") repeat scroll 100% 100% / cover ;
     border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 21.5%;
    margin-top: -26.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

.text18{
    
   background: rgba(0, 0, 0, 0) url("../images/pleopard.png") repeat scroll 100% 100% / cover ;
    border-radius: 46%;
    color: #ffffff;
    display: none;
    float: left;
    font-size: 2.3vmin;
    font-weight: bold;
    height: 26%;
    left: 40.5%;
    margin-top: -26.3%;
    padding-left: 4%;
    padding-top: 7%;
    position: relative;
    width: 16%;
    z-index: 99;
}

/*page9*/

.sherpa{
	background: rgba(0, 0, 0, 0) url("../images/sherpa.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 2%;
    margin-top: -59%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}

.rai{
	 background: rgba(0, 0, 0, 0) url("../images/rai.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 19%;
    margin-top: -14.5%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}

.magar{
	background: rgba(0, 0, 0, 0) url("../images/magar.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 36%;
    margin-top: -14%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}

.gurung{
	background: rgba(0, 0, 0, 0) url("../images/gurung.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 9%;
    margin-top: 1%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}

.tamang{
	 background: rgba(0, 0, 0, 0) url("../images/tamang.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 26%;
    margin-top: -14.5%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}

.brahmin{
	 background: rgba(0, 0, 0, 0) url("../images/brahmin.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 2%;
    margin-top: 1.5%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}

.newar{
	 background: rgba(0, 0, 0, 0) url("../images/newar.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 19%;
    margin-top: -14%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}

.chhetri{
	background: rgba(0, 0, 0, 0) url("../images/chhetri.jpg") repeat scroll 100% 100% / cover ;
    border-radius: 50%;
    display: none;
    height: 24%;
    left: 36%;
    margin-top: -15%;
    position: relative;
    width: 15%;
	border: 2px solid #ffffff;
}
