#ex2_t2
{
    text-align: center;
    display: none;
}

#myquest
{
    position: relative;
    width: 100%;
   
  height: 85%;

    padding: 2%;
   
}

.multiple
{
     position: relative;
     width: 100%;
}
.mulQues
{
 -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  text-align: center;
  margin: 2.5em 0px;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  font-family: Chalkboard, 'Comic Sans';

  width: 30%;
  float: left;
  height: 50%;
  
  margin-left: 3%!important;
  padding:3%!important;
}

.mulQues:after {
  display: block;
  content: "";
  position: absolute; 
  width: 30%;
  height: 15%;
  top: -10%;
  left: 30%;    
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);  
}

.mulQues input
{
    width: 70%;
    text-align: center;
}


.questions
{
    width: 80%;
    
    margin: 4% auto 8% auto!important;
    text-align: center;
    background: #fff;

    -webkit-box-shadow: 0 20px 20px #777;
    -moz-box-shadow: 0 20px 20px #777;
    box-shadow: 0 20px 20px #777;

    font-size: 1.3em;
    line-height: 2em;
}


.mulQues p 
{
    margin-bottom: 4%!important;
    color: blue;
     font-size: 1.3em;
      height: 55%;
}

.checkAns
{
     color:purple;
     font-size: 2em;
}

.checknext
{
    position: absolute!important;
    bottom:1%;
    right: 1%;
    cursor: pointer;
    width: 7%;
    
}

.borderMe
{
    -webkit-box-shadow: 0 0 10px 0 #FF0000;
    -moz-box-shadow: 0 0 10px 0 #FF0000;
    box-shadow: 0 0 10px 0 #FF0000;
}

.nextBtn
{
  color: green;
  cursor: pointer;
  font-size: 2em;
  position: absolute!important;
  bottom:1%;
  right: 1%;
  z-index:100;
  display: none;
  width: 8%;
}

.imgCor
{
    width: 15%;
    position: absolute!important;
    top:70%;
    left: 45%;
    display: none;
}
.imgCor img 
{
    width: 100%;
}
#tabme
{
    display: none;
    width: 100%;

}

.newTab
{
    width: 100%;
}
.mytar
{
    background: #fff;
    font-size: 1.2em;
  

}
.mytar td
{
      padding:0 2%!important;
}
.mytartd
{
    background: #F2E4C2;
}

.reloadThis
{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 6%;
  height: 10%;
}


.nextBtn:hover #activityNextHoverBtn
{
  display: block;
}

.nextBtn:hover #activityNextBtn
{
  display: none;
}


.checknext:hover #arrowNextHoverBtn
{
  display: block;
}

.checknext:hover #arrowNextBtn
{
  display: none;
}