/*class to add for next page blink*/
.nextPageBlink
{
	animation-duration: 1s;
  animation-name: nextPage;
  animation-iteration-count: infinite;
}

@keyframes nextPage {
  0% {
    opacity: 0;
    color:yellow;
  }

  25% {
   opacity: 0.3;
   color:green;
  }

  50% {
   opacity: 0.7;
   color:blue;
  }

   75% {
   opacity: 1;
   color:brown;
  }

   100% {
   opacity: 0.5;
   color:black;
  }
}


/*class to be added for the blinkEffect*/
.blinkEffect
{
  animation-duration: 1.5s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}




