<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">

            <div class="scoreboard">
                <img id="egg0" src="images/musicnote/node01.png" class="eggs"/>
                <img id="egg1" src="images/musicnote/node02.png" class="eggs"/>
                <img id="egg2" src="images/musicnote/node03.png" class="eggs"/>
                <img id="egg3" src="images/musicnote/node04.png" class="eggs"/>
                <img id="egg4" src="images/musicnote/node05.png" class="eggs"/>
                <img id="egg5" src="images/musicnote/node06.png" class="eggs"/>
                <img id="egg6" src="images/musicnote/node07.png" class="eggs"/>
                <img id="egg7" src="images/musicnote/node08.png" class="eggs"/>
                <img id="egg7" src="images/musicnote/node09.png" class="eggs"/>
                <img id="egg7" src="images/musicnote/node10.png" class="eggs"/>
               
            </div>
            <div class="exefin">

            </div>

            <div class="congratulation">
                <p class="congratulationtext">Congratulations !!</p>
                <p>You scored <span id="score"></span> out of 10.</p>
                
            </div>


    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    
                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
                    <div class = "vertical-horizontal-center">
            </div>

            {{#if exerciseblock}}
            {{#each exerciseblock}}
                    <p class="question {{ques_class}}"><span id="num_ques">1</span>{{{textdata}}}</p>
                    
                    {{#if quesimg}}
                    <img src="{{ques_img}}" class="questionimg">
                    {{/if}}

                    <div class="optionsdiv">
                    {{#each exeoptions}}
                        <div class="optionscontainer">
                            <p class="forhover buttonsel {{forshuffle}}">{{optdata}}</p>
                        </div>
                    {{/each}}
                    </div>

                    <div class="band">
                        <img src="images/band/croc-and-congas01.png" class="anim croc">
                        <img src="images/band/red-panda-on-recorder01.png" class="anim panda">
                        <img src="images/band/rhino-on-keyboard01.png" class="anim rhino">
                        <img src="images/band/snow-leopardess-on-sax01.png" class="anim leo">
                        <img src="images/band/sundari-maracas01.png" class="anim sundar">
                    </div>
            {{/each}}

             {{/if}}

             </div>
            </div>
        </script>

<script type="text/javascript" src="js/buzz.min.js"></script>
<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise1.js");
</script>