@font-face {
    font-family: sniglet;
    src: url("../../../../../../fonts/sniglet.ttf");
}
body {

    font-family: 'Sniglet !important';

}

.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}
.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
    z-index: 1000!important;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
    z-index: 1000!important;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;

    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

/*============ exercise template ===================
==================================================== */
.c, .d {
    height: 35%;
    top: 47%;
    border-radius: .4em;
    cursor: pointer;
}

.c {
    left: -4%;
}
.d {
    left: 8%;
}
.c:hover, .d:hover {
    transform: scale(1.1);
    transition: .2s;
}
@font-face {
    font-family: josefinslab;
    src: url("../../../../../../fonts/josefinslab.ttf");
}
@media (min-aspect-ratio: 4/3) {
    .chapter{
        font-size: 4vw;
    }
    .contenttitle{
        font-size: 2vw;
    }
    .contenttitle1{
        font-size: 1.7vw;
    }
    .contentopic{
        font-size:1.8vw;
    }
    .draggable,.droppable,.droppable1{
        font-size: 3vw;
    }
}
.draggable{
    position: absolute;
    background-color: #707AD3;
    border-radius: 14px;
    width: 14%;
    height: 19%;
}
.draggable p{
    color:white;
}
.draggable:hover{
    transform: scale(0.9);
    border:2px solid;
    background-color: #F9CB9C;
    border-color: #E39540;
    color:#43434B;
    border-radius: 9px;
    transition:0.8s;
}
.dropbox{
    width: 7%;
    height: 150%;
    background-color: #D9D9D9;
    border: 0.1em solid #CCCCCC;
    border-radius: 14px;
    margin-left:2%;
    margin-right:2%;
}

.incorrect-ans{
    pointer-events: none;
    background-color:#FF0000;
    border:3px solid;
    border-color: #980000;
    color: white;
    border-radius: 3vmin;
}
.outerdiv{
    position: absolute;
    width: 52%;
    height: 61%;
    top: 12%;
    left: 55%;
}
.imagediv{
    position: absolute;
    width: 57%;
    height: 54%;
    top: 16%;
    left: 1%;
}
.question{
    position: absolute;
    top: 83%;
    width: 100%;
    height: 13%;
    left:0%;
}
/*.drop1{*/
    /*top: 80%;*/
    /*left: 85%;*/
/*}*/
.opt1{
    right: 23%;
    top: 25%;
}
.opt2{
    right: 50%;
    top: 25%;
}
.opt3{
    right: 77%;
    top: 25%;
}
.opt4{
    right: 23%;
    top: 70%;
 }
.opt5{
    right: 50%;
    top: 70%;
}
.opt6{
    right: 77%;
    top: 70%;
}
.correctcss{
    pointer-events: none;
    background-color: #98C02E;
    border:3px solid;
    border-color: #DEEF3C;
    border-radius:14px;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
}
/**/
.correctImg{
    bottom: 89%;
    width: 5%;
}
.correctImg1{
    bottom: 84%;
    width: 68%;
}
.correctImgptag{
    bottom: 70%;
    color: white;
}

.wrongImgptag{
    bottom: 86%;
    color: black;
}




.avoid-clicks {
    pointer-events: none;
}
.relativecls{
    position: relative;
    max-width: 100%;
    max-height:100%;
}
.title1{
    height: 14%;
    text-align: center;
    padding-top: 2%;
    background-color: #FFD966;
    padding-right: 18%;
}
.bg{
    background-color: #99D98C;
}
.bg1{

    background-color: #99D98C;
    width:100%;
    height:100%;
}
.q1{
    right: 26%;
}
.q2{
    left: 10%;

}
.q3{
    left:5%;
}
.q4{
    right: 12%;
}
.q5{
    left: 33%;
}
.q6{
    left: 25%;
}
.q7{
    left: 29%;
}
.drop2{
    top: 80%;
    left: 30%;
}
.drop3{
    top: 80%;
    left: 71%;
}
.drop4{
    top: 80%;
    left: 4%;
}
.drop5{
    top: 80%;
    left: 65%;
}
.drop6{
    top: 80%;
    left: 17%;
}
.drop7{
    top: 80%;
    left: 51%;
}
.drop8{
    top: 80%;
    left: 10%;
}
.drop9{
    top: 80%;
    left: 58%;
}
.drop10{
    top: 80%;
    left: 75%;
}
.drop11{
    top: 80%;
    left: 81%;
}
.drop12{
    top: 80%;
    left: 75%;
}
.number5{
    position: absolute;
    top: 84%;
    left: 1%;
}
.number6{
    position: absolute;
    top: 84%;
    left: 14%;
}
.number8{
    position: absolute;
    top: 84%;
    left: 6%;
}
.hovered{
    border: 0.1em dashed #CCCCCC;
    background: #E5E5E5;
}
.droppable > p{
    bottom:83%;
}