html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p {
	margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}


.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.chapter{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	box-shadow: inset 0 0 30px #f2f2f2;
}
.chapter .chapter *{
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}


.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}
.contentblock {
	height: 100%;
	width: 100%;
}

/*********** SPECIFIC CSS ***********/
.chapter-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
}

.bg-01 {
	background: url('../images/bg101.png') no-repeat;
	background-size: 100% 100%;
}

.conversation-wrapper {
	height: 100%;
	width: 100%;
}

.conversationblock {
	height: 70%;
	width: 60%;
	bottom: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	/*border: 1px solid black;*/
}
.conversationblock *,
.conversationblock-summary * {
	position: absolute;
}
.conversationblock img,
.conversationblock-summary img {
	bottom: 5%;
}

.neeraj-pic {
	height: 67%;
	left: 10%;
}
.radha-pic {
	height: 67%;
	right: 22%;
}
.mother-pic {
	height: 85%;
	right: 3%;
}
.speechbubble {
	background-image: url('../images/text-box01.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 30%;
	height: 25%;
	top: 3%;
	left: 12%;
}
.speechbubble p {
	padding: 5px;;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 37%;
	transform: translateY(-50%);
	font-size: 2.5vmin;
}
.speechbubble.reversed {
	background-image: url('../images/text-box02.png');
	left: 44%;
}
.imageblock {
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
}
.nurse-pic {
	position: absolute;
	top: 5%;
	height: 30%;
	right: 5%;
}
.conversationblock-summary {
	position: absolute;
	height: 47%;
	width: 47%;
	border: 2px solid black;
	border-radius: 10px;
}
.conversationblock-summary:nth-child(1) {
	top: 2%;
	left: 0%;
}
.conversationblock-summary:nth-child(2) {
	top: 2%;
	left: 50%;
}
.conversationblock-summary:nth-child(3) {
	bottom: 2%;
	left: 17%;
}
.nurse-summary {
	position: absolute;
	bottom: 5%;
	right: 5%;
	height: 35%;
}
.speechbubble-filter {
    filter: opacity(.5);
    -webkit-filter: opacity(.5);
}

.dialogueboxradha1 {
    width: 20%;
    z-index: 10;
    position: absolute;
    top: 37%;
    opacity: 0;
    font-size: 2vw;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    left: 29%;
    height: 10% !important;
}

.dialogueboxneeraj1 {
    width: 20%;
    z-index: 10;
    position: absolute;
    top: 37%;
    opacity: 0;
    font-size: 2vw;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    left: 43%;
    height: 10% !important;
}

.dialogueboxneeraj2 {
    width: 20%;
    z-index: 10;
    position: absolute;
    top: 33%;
    opacity: 0;
    font-size: 2vw;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    left: 43%;
    height: 11% !important;
}


.dialogueboxradha2 {
    width: 20%;
    z-index: 10;
    position: absolute;
    top: 36%;
    opacity: 0;
    font-size: 2vw;
    font-family: sniglet;
    padding: 1% 3% 1% 1% !important;
    left: 29%;
    height: 12% !important;
}

.fadein1{
    animation: fadein 1s forwards;
}

.toptext {
    position: absolute;
    width: 60%;
    font-size: 2.8vw;
    font-family: sniglet;
    padding: .7%;
    background: rgb(120, 164, 112);
    color: white;
    top: 13.5%;
    transform: translate(-50%);
    left: 50%;
    z-index: 9;
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
}


.professiondisc {
    position: absolute;
    top: 20%;
    transform: translateX(-50%);
    left: 50%;
    width: 60%; 
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}

[class*="template-dialougebox2-top"]::before {
    border-left: 3.1vh solid transparent;
        border-left-color: transparent;
    border-right: 3.1vh solid transparent;
        border-right-color: transparent;
    bottom: -2vh;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (min-aspect-ratio: 4/3){
	.dialogueboxradha1,.dialogueboxneeraj1,.dialogueboxneeraj2,.dialogueboxneeraj3,.dialogueboxradha2,.toptext{
		font-size: 2.88vmin;
	}
	.toptext{
		font-size: 2.7vmin;
	}
}