.bgimg{
	position: absolute;
	width: 102%;
	left: 0%;
	top: 0%;
}
.timeToThink {
	position: relative;
	top: 5%;
	left: 0;
	width: 40%;
	height: 60%;
}
.timeToThink_figdata {
	display: table;
	position: relative;
	left: 25%;
	width: 50%;
	font-size: 1.8em;
	color: #C98874;
	bottom: 75%;
}

.lowerpara {
	position: absolute;
	left: 0;
	margin-top: 45%;
	padding: 1%;
	opacity: 0;
	width: 100%;
	background: #ffecb3;
}

.lowerpara2 {
	position: absolute;
	left: 0;
	margin-top: 14%;
	padding: 2%;
	opacity: 0;
	width: 100%;
	background: #ffecb3;
}
.beambalance {
	position: absolute;
	left: 30%;
	margin-top: 5%;
	width: 40%;
	opacity: 0;
}
@keyframes movediv{
from {
	opacity: 0;
	left: -30%;
}
to {
	opacity: 1;
	left: 0;
}
}

@-moz-keyframes
movediv {from{
	opacity: 0;
	left: -30%;
}
to {
	opacity: 1;
	left: 0;
}
}

@-webkit-keyframes
movediv {from{
	opacity: 0;
	left: -30%;
}
to {
	opacity: 1;
	left: 0;
}
}

.textanim {
	animation: movediv 1s linear 1s 1 forwards;
	-webkit-animation: movediv 1s linear 1s 1 forwards;
	-moz-animation: movediv 1s linear 1s 1 forwards;
}

@keyframes show{
from {
	opacity: 0;
}
to {
	opacity: 1;
}
}

@-moz-keyframes
show {from{
	opacity: 0;
}
to {
	opacity: 1;
}
}

@-webkit-keyframes
show {from{
	opacity: 0;
}
to {
	opacity: 1;
}
}
.cssfadein {
	animation: show 1s linear 1s 1 forwards;
	-webkit-animation: show 1s linear 1s 1 forwards;
	-moz-animation: show 1s linear 1s 1 forwards;
}

.twoimgtogetheranim {
	position: relative;
	margin-top: 8%;
	display: inline-block;
	width: 25%;
	padding: 1%;
	opacity: 0;
	left: 0;
}

@keyframes shrink{
from {
	opacity: 1;
}
to {
	opacity: 1;
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.5); /* FF3.5+ */
	-ms-transform: scale(0.5); /* IE9 */
	-o-transform: scale(0.5); /* Opera 10.5+ */
	transform: scale(0.5);
}
}

@-moz-keyframes
shrink {from{
	opacity: 1;
}
to {
	opacity: 1;
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.5); /* FF3.5+ */
	-ms-transform: scale(0.5); /* IE9 */
	-o-transform: scale(0.5); /* Opera 10.5+ */
	transform: scale(0.5);
}
}

@-webkit-keyframes
shrink {from{
	opacity: 1;
}
to {
	opacity: 1;
	-webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
	-moz-transform: scale(0.5); /* FF3.5+ */
	-ms-transform: scale(0.5); /* IE9 */
	-o-transform: scale(0.5); /* Opera 10.5+ */
	transform: scale(0.5);
}
}

.shrinkimage {
	animation: shrink 1s linear 0.3s 1 forwards;
	-webkit-animation: shrink 1s linear 0.3s 1 forwards;
	-moz-animation: shrink 1s linear 0.3s 1 forwards;
}

.middlepara {
	position: absolute;
	margin-top: 20%;
	width: 35%;
	background: #D1F2AE;
	border-top-right-radius: 50px;
	padding: 1%;
	opacity: 0;
}

@keyframes movedivagain{
from {
	opacity: 1;
	left: 0%;
}
to {
	opacity: 1;
	left: 20%;
}
}

@-moz-keyframes
movedivagain {from{
	opacity: 1;
	left: 0%;
}
to {
	opacity: 1;
	left: 20%;
}
}

@-webkit-keyframes
movedivagain {from{
	opacity: 1;
	left: 0%;
}
to {
	opacity: 1;
	left: 20%;
}
}

.divslideleft {
	animation: movedivagain 1s ease-in 0s 1 forwards;
	-webkit-animation: movedivagain 1s ease-in 0s 1 forwards;
	-moz-animation: movedivagain 1s ease-in 0s 1 forwards;
}
/*=====  End of personal css  ======*/

.simplebg {
	background-color: #f5f5f5;
}

.firsttitle {
	font-size: 7vmin;
	color: #1f1f1f;
	position: absolute;
	width: 100%;
	padding: 1% 5%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:1;
}

.upperimageblockholder {
	position: absolute;
	width: 100%;
	height: 40%;
	padding: 0.5% 5%;
	background-color: #DEE8A8;
}

.draggable {
	width: 20%;
	position: absolute;
	left: 3%;
	top: 30%;
	cursor: grab;
}

.draganddropinst {
	width: 100%;
	position: absolute !important;
	top: 2%;
	font-size: 4.5vmin;
	text-align: center;
	left: 0%;
	font-weight: initial;
	color: #9345BF;
}

.specialdropdiv {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 40%;
	box-shadow: 0px 0px 12px #000000;
}

.birdlabel, .clothlabel, .shapelabel {
	width: 33.3%;
	position: absolute !important;
	top: 0;
	height: 12%;
	line-height: 100%;
	border: 1px solid #FFB5BA;
	font-size: 3.3 vmin;
	background-color: #FF5C65;
	line-height: 1.9;
	font-weight: initial;
	border-bottom: 2px solid #FFB5BA;
	color: #FFEF71;
}

.birddrop, .clothdrop, .shapedrop {
	width: 33.3%;
	position: absolute;
	top: 12%;
	height: 88%;
	border: 1px solid #FFB5BA;
}

.birddrop, .birdlabel {
	left: 0%;
}

.clothdrop, .clothlabel {
	left: 33.3%;
	width: 33.4%;
}

.shapedrop, .shapelabel {
	left: 66.7%;
}

.draggableposition4 {
	left: 53%;
	-webkit-animation: slidein4 1.5s linear 1 forwards;
	animation: slidein4 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein4{
to {
	left: 77%;
}
}

@keyframes
slidein4 {to{
	left: 77%;
}
}

.draggableposition3 {
	left: 27%;
	-webkit-animation: slidein3 1.5s linear 1 forwards;
	animation: slidein3 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein3{
to {
	left: 53%;
}
}

@keyframes
slidein3 {to{
	left: 53%;
}
}

.draggableposition2 {
	left: 3%;
	-webkit-animation: slidein2 1.5s linear 1 forwards;
	animation: slidein2 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein2{
to {
	left: 27%;
}
}

@keyframes
slidein2 {to{
	left: 27%;
}
}

.draggableposition1 {
	left: -24%;
	-webkit-animation: slidein1 1.5s linear 1 forwards;
	animation: slidein1 1.5s linear 1 forwards;
}

@-webkit-keyframes slidein1{
to {
	left: 3%;
}
}

@keyframes
slidein1 {to{
	left: 3%;
}
}

.hide {
	display: none;
}

.show {
	display: initial;
}

.disableanimation {
	-webkit-animation: emptyanimation 0.1s linear 1 forwards;
	animation: emptyanimation 0.1s linear 1 forwards;
}

@-webkit-keyframes emptyanimation{

}

@keyframes
emptyanimation {

}









