<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="biogas">    
    <div class="board">Hello World!!! [Lesson]</div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
           {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
                
                {{#if conclusionlist}}
                	<ol type="1">
                	{{#each conclusionlist}}
                		<li>{{{textdata}}}</li>
                	{{/each}}
                	</ol>
                {{/if}}
                
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
	                	{{#if extraimageblockclass}}
	                		<div class="{{extraimageblockclass}}">
	                	{{/if}}
                        		{{> imagecontent}}
	                    {{#if extraimageblockclass}}
	                		</div>
	                	{{/if}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}    
            
    </div>
    {{! content block end--}}
</div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>


<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>