

.min-anim-1{
	transform: full-rotate(-90deg);
	animation: full-rotate 1s linear both;
}
.min-anim-0{
	animation: full-rotate-2 1s linear both;
}
@keyframes
full-rotate {
	100% {transform: rotate(270deg);}
}
@keyframes
full-rotate-2 {
	0% {transform: rotate(-90deg);}
	100% {transform: rotate(270deg);}
}
.hl-hl{
	animation: hl-hl 1s linear infinite;
}
@keyframes
hl-hl {
	50% {background-color: #FF9100;}
}

.hl-hl-2{
	animation: hl-hl-2 1s linear infinite;
}
@keyframes
hl-hl-2 {
	0% {background-color: #00CADC;}
	50% {background-color: #1491F4;}
	100% {background-color: #00CADC;}
}

.hl-hl-3{
	transform: rotate(120deg);
	animation: hl-hl-2 1s linear infinite;
}
@keyframes
hl-hl-2 {
	0% {background-color: #00CADC;}
	50% {background-color: #1491F4;}
	100% {background-color: #00CADC;}
}

.fronttext{
	z-index: 10;
}





/*for all animations */
.hr-anim-1{
	animation: hr-anim-1 1s linear both;
}
@keyframes
hr-anim-1 {
	0% {transform: rotate(-90deg);}
	100% {transform: rotate(-60deg);}
}
.hr-anim-2{
	animation: hr-anim-2 1s linear both;
}
@keyframes
hr-anim-2 {
	0% {transform: rotate(-60deg);}
	100% {transform: rotate(-30deg);}
}
.hr-anim-3{
	animation: hr-anim-3 1s linear both;
}
@keyframes
hr-anim-3 {
	0% {transform: rotate(-30deg);}
	100% {transform: rotate(0deg);}
}
.hr-anim-4{
	animation: hr-anim-4 1s linear both;
}
@keyframes
hr-anim-4 {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(30deg);}
}
.hr-anim-5{
	animation: hr-anim-5 1s linear both;
}
@keyframes
hr-anim-5 {
	0% {transform: rotate(30deg);}
	100% {transform: rotate(60deg);}
}
.hr-anim-6{
	animation: hr-anim-6 1s linear both;
}
@keyframes
hr-anim-6 {
	0% {transform: rotate(60deg);}
	100% {transform: rotate(90deg);}
}
.hr-anim-7{
	animation: hr-anim-7 1s linear both;
}
@keyframes
hr-anim-7 {
	0% {transform: rotate(90deg);}
	100% {transform: rotate(120deg);}
}
.hr-anim-8{
	animation: hr-anim-8 1s linear both;
}
@keyframes
hr-anim-8 {
	0% {transform: rotate(120deg);}
	100% {transform: rotate(150deg);}
}
.hr-anim-9{
	animation: hr-anim-9 1s linear both;
}
@keyframes
hr-anim-9 {
	0% {transform: rotate(150deg);}
	100% {transform: rotate(180deg);}
}
.hr-anim-10{
	animation: hr-anim-10 1s linear both;
}
@keyframes
hr-anim-10 {
	0% {transform: rotate(180deg);}
	100% {transform: rotate(210deg);}
}
.hr-anim-11{
	animation: hr-anim-11 1s linear both;
}
@keyframes
hr-anim-11 {
	0% {transform: rotate(210deg);}
	100% {transform: rotate(240deg);}
}
.hr-anim-12{
	animation: hr-anim-12 1s linear both;
}
@keyframes
hr-anim-12 {
	0% {transform: rotate(240deg);}
	100% {transform: rotate(270deg);}
}
.hour_div{
	position: absolute;
	top: 56.5%;
	width: 8%;
	left: 78%;
	height: 3%;
	background-color: #287535;
	border-bottom-right-radius: 8.7% 50%;
	border-bottom-left-radius: 8.7% 50%;
	border-top-right-radius: 8.7% 50%;
	border-top-left-radius: 8.7% 50%;
	z-index: 7;
	transform-origin: 10% center;
	filter: drop-shadow(0px 0px 1px black);
}
.min_div{
	position: absolute;
	top: 56.5%;
	width: 10%;
	left: 78%;
	height: 3%;
	background-color: #BB1038;
	z-index: 6;
	transform-origin: 8% center;
	border-bottom-right-radius: 8.7% 50%;
	border-bottom-left-radius: 8.7% 50%;
	border-top-right-radius: 8.7% 50%;
	border-top-left-radius: 8.7% 50%;
	filter: drop-shadow(0px 0px 1px black);
}
.optioncontainer{
	position: absolute;
	top: 45%;
	left: 25.5%;
	height: 25%;
	width: 36%;
	/* background: #f00; */
}
.optionclass{
	/* position: relative; */
	width: 89%;
	height: 40%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}
.cirincor{
	position: absolute;
	width: 13%;
	left: 100%;
	top: 10%;
	display: none;
}
.opn_txt{
	position: relative;
	background: #7b74d4;
	border: 4px solid #7b74d4;
	border-radius: 1em;
	color: #fff;
}
.opn_txt:hover{
	background:  #f6b26b;
	border: 4px solid #e69138;
	cursor: pointer;
	color: #000;
}

.correct{
	fill:#98c02e;
	background:#98c02e;
	border: 4px solid #ff0;
	pointer-events: none;
}
.incorrect{
	fill: #ff0000;
	background:  #ff0000;
	border: 4px solid #980000;
	pointer-events: none;
}
.half_ten{
	transform: rotate(227deg);
}
.half_past{
	transform:rotate(90deg);
}
.half_five{
	transform: rotate(75deg);
}
.circle_correct{
	display: block !important;
	fill: #26793c;
}
.circle_incorrect{
	display: block !important;
	fill: #ff000f;
}
@media (min-aspect-ratio: 4/3) {
	.fnt_4{
		font-size: 4vh;
	}
}
@media (max-aspect-ratio: 4/3) {
	.fnt_4{
		font-size: 2vw;
	}
}
