.girl{
	position: absolute;
}
.girl-3{
	height: 60%;
	left: 10%;
	bottom: 0%;
}
.dg-1{
	cursor: pointer;
	bottom: 65%;
	left: 15%;
	width: 35%;
}
.monkey-bg{
	background: radial-gradient(#EECEE0, #B896A6);
}
.clock-option{
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	height: 100%;
	width: 70%;
}
.option{
	position: absolute;
	cursor: pointer;
	border-radius: 3vmin;
	background-color: #B7E9B0;
	border: 0.5vmin solid white;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1%;
	width:22%;
}
.option:hover{
	background-color: #FCD172;
}
.option-pos-1{
	top: 30%;
	left: 7%;
}
.option-pos-2{
	top: 30%;
	right: 7%;
}
.option-pos-3{
	top: 80%;
	left: 7%;
}
.option-pos-4{
	top: 80%;
	right: 7%;
}


.correct-icon1, .incorrect-icon1{
	display: none;
	position: absolute!important;
	height: 25%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100%;
}

.correct-ans{
	pointer-events: none;
	background-color: #4CAF50;
	border-color: #FBD582;
}
.incorrect-ans{
	pointer-events: none;
	background-color: #BA6B82;
	border: none;
}

.bg-diy{
	background-image: url('../images/bg_diy.png');
	background-size: 100% 100%;
}
.diy-text{
	position: absolute;
	bottom: 55%;
	width: 100%;
	left: 0%;
	color: black;
	font-weight: bold;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-size: 8vw;
}
@media (min-aspect-ratio:4/3){
	.diy-text{
		font-size: 10vh;
	}
}
