lolo.exponential {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential,
.exponential * {
  position: relative;
  margin: 0;
  padding: 0;
}

.exponential .nextBtn {
  display: none;
  /*display: none;*/
  position: absolute;
  top: 85%;
  left: 93%;
  width: 6%;
  height: 10%;
}

.exponential .prevBtn {
  display: none;
  position: absolute;
  top: 85%;
  left: 5%;
  width: 6%;
  height: 10%;
}

.exponential .board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

/**/

.exponential .board .wrapperIntro {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: #FFFBC7;*/
  padding: 3% 2% 2%;
}

.wrapperIntro.firstPage .text0 {
  color: #0c6db3;
  font-size: 2em;
  padding-bottom: 4%;
  text-align: center;
  text-shadow: 1px 1px #cccccc;
}

.wrapperIntro.firstPage .text0 .ind1 {
  font-weight: bold;
  font-size: 1.5em;
  /*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
  /*font-weight: bold;*/
  font-size: 1.3em;
  color: #996699;
}

.wrapperIntro.firstPage .ind2 {
  font-size: 1.3em;
  color: #996699;
}

.wrapperIntro.firstPage .text1 {
  color: #919191;
  display: none;
  font-size: 1.4em;
  padding: 4%;
  top: 30%;
  width: 50.5%;
  z-index: 1000;
}

.wrapperIntro.firstPage .text1 b {
  font-size: 1em;
}

.wrapperIntro.firstPage .text3,
.wrapperIntro.firstPage .text4,
.wrapperIntro.firstPage .text6 {
  color: #919191;
  display: none;
  font-size: 1.4em;
  left: 45%;

  top: 28%;
  width: 51.5%;
  z-index: 1000;
}

.exponential .board .wrapperIntro.second {
  position: relative;
}

.wrapperIntro.second .text2 {
  font-size: 1.3em;
}

.wrapperIntro.second .text2 b {
  font-size: 1.3em;
}

.wrapperIntro.baseAndIndices {
}

.wrapperIntro.baseAndIndices .maths {
  position: absolute;
  /*width: 20%;*/
  /*background: #c9c9c9;*/
  font-size: 3em;
  text-align: center;
  color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
  position: absolute;
  font-size: 0.8em;
  top: -20%;
  left: 100%;
  color: #434343;
}

.wrapperIntro.baseAndIndices .maths0 {
  top: 30%;
  left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
  top: 10%;
  left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
  top: 10%;
  right: 30%;
}

.wrapperIntro.baseAndIndices .maths3 {
  top: 50%;
  left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
  top: 43%;
  right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
  top: 60%;
  left: 40%;
}

.wrapperIntro.baseAndIndices .text0 {
  position: absolute;
  bottom: 7%;
  left: 25%;
  font-size: 1.3em;
}

.wrapperIntro.baseAndIndices .text1,
.wrapperIntro.baseAndIndices .text2 {
  position: absolute;
  font-size: 1.4em;
  width: 14%;
  padding: 0.5%;
  bottom: 5%;
  background: #573e7d;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid #573e7d;
}

.wrapperIntro.baseAndIndices .text1:hover,
.wrapperIntro.baseAndIndices .text2:hover {
  background: #f2eded;
  color: #573e7d;
}

.wrapperIntro.baseAndIndices .text1 {
  left: 35%;
}

.wrapperIntro.baseAndIndices .text2 {
  left: 60%;
}

.wrapperIntro.baseAndIndices2 {
}

.wrapperIntro.baseAndIndices2 .text0,
.wrapperIntro.baseAndIndices2 .text1 {
  font-size: 1.6em;
  color: #e36c09;
  padding-top: 2%;
  padding-left: 2%;
}

.wrapperIntro.baseAndIndices2 .text1 {
  display: none;
}

.wrapperIntro.baseAndIndices2 .maths {
  position: absolute;
  font-size: 4em;
  text-align: center;
  color: #6600cc;
}

.wrapperIntro.baseAndIndices2 .maths span.power {
  position: absolute;
  font-size: 0.8em;
  top: -20%;
  left: 100%;
  color: #6600cc;
}

.wrapperIntro.baseAndIndices2 .maths0 {
  top: 30%;
  left: 30%;
}

.wrapperIntro.baseAndIndices2 .maths1 {
  top: 30%;
  right: 30%;
}

.wrapperIntro.baseAndIndices2 .maths2 {
  top: 50%;
  left: 30%;
  display: none;
}

.wrapperIntro.baseAndIndices2 .maths3 {
  top: 50%;
  right: 30%;
  display: none;
}

.wrapperIntro.baseAndIndices2 .text2 {
  position: absolute;
  font-size: 3em;
  width: 30%;
  top: 55%;
  left: 35%;
  text-align: center;
  display: none;
}

.wrapperIntro.baseAndIndices2 .text2:after {
  position: absolute;
  width: 30%;
  height: 3px;
  content: "";
  top: -20%;
  left: 0%;
  transform: rotate(40deg);
  background: #1f497d;
}

.wrapperIntro.baseAndIndices2 .text2:before {
  position: absolute;
  width: 30%;
  height: 3px;
  content: "";
  top: -20%;
  right: 0%;
  transform: rotate(-40deg);
  background: #1f497d;
}

.wrapperIntro.baseAndIndices2 .text3 {
  position: absolute;
  font-size: 3em;
  width: 30%;
  top: 25%;
  left: 37%;
  text-align: center;
  display: none;
}

.wrapperIntro.baseAndIndices2 .text3:after {
  position: absolute;
  width: 35%;
  height: 3px;
  content: "";
  top: 120%;
  left: -2%;
  transform: rotate(140deg);
  background: #1f497d;
}

.wrapperIntro.baseAndIndices2 .text3:before {
  position: absolute;
  width: 45%;
  height: 3px;
  content: "";
  top: 128%;
  right: -15%;
  transform: rotate(-140deg);
  background: #1f497d;
}

.wrapperIntro.lastBaseIndices .text0 {
  text-align: center;
  font-size: 1.3em;
}

.wrapperIntro.lastBaseIndices .text1 {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 20%;
  font-size: 1.5em;
  text-align: center;
}

.wrapperIntro.lastBaseIndices .text1 span {
  /*color: #9901FF;*/
  color: #2a0055;
  font-size: 1.1em;
  text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .text2 {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 20%;
  font-size: 1.5em;
  text-align: center;
}

.wrapperIntro.lastBaseIndices .text2 span {
  color: #cf2d92;
  font-size: 1.1em;
  text-decoration: underline;
}

.wrapperIntro.lastBaseIndices .maths {
  position: absolute;
  font-size: 4em;
  text-align: center;
  color: #2a0055;
}

.wrapperIntro.lastBaseIndices .maths span.power {
  position: absolute;
  font-size: 0.8em;
  top: -20%;
  left: 100%;
  color: #cf2d92;
}

.wrapperIntro.lastBaseIndices .maths0 {
  top: 10%;
  left: 60%;
}

.wrapperIntro.lastBaseIndices .maths1 {
  top: 10%;
  left: 20%;
}

.wrapperIntro.lastBaseIndices .maths2 {
  top: 30%;
  left: 10%;
}

.wrapperIntro.lastBaseIndices .maths3 {
  top: 45%;
  right: 10%;
}

.wrapperIntro.lastBaseIndices .maths4 {
  top: 77%;
  left: 20%;
}

.wrapperIntro.lastBaseIndices .maths5 {
  top: 60%;
  left: 10%;
}

.wrapperIntro.lastBaseIndices .maths6 {
  top: 60%;
  right: 40%;
}

.wrapperIntro.lastBaseIndices .maths7 {
  top: 14%;
  right: 20%;
}

.wrapperIntro.lastBaseIndices .maths8 {
  top: 20%;
  left: 40%;
}

.wrapperIntro.lastBaseIndices .maths9 {
  top: 70%;
  right: 20%;
}

.wrapperIntro.lastBaseIndices .maths10 {
  top: 70%;
  left: 40%;
}

.wrapperIntro.firstPage .ind5 {
  color: #538cdb;
}

/*added by manish*/

.wrapperIntro.second .text2,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text9,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12 {
  font-size: 1em;
  display: none;
  line-height: 2.5em;
}

.wrapperIntro.second .text0 .ind2 {
  /*font-weight: bold;*/
  font-size: 1em;
  color: #996699;
}

.wrapperIntro.second .text4 {
  color: #000000;
  display: none;
  font-size: 1em;
}

.wrapperIntro.second .text7 {
  color: #000088;
  display: none;
  font-size: 1.3em;
  margin-left: 29.5%;
}

.wrapperIntro.second .text8 {
  color: #000088;
  display: none;
  font-size: 1.3em;
  margin-left: 29.5%;
}

.wrapperIntro.second .yellow {
  color: #f2c249;
}

.wrapperIntro.second .green {
  color: #00aaa0;
}

.wrapperIntro.second .imageholder01 {
  display: none;
}

.wrapperIntro.second .imageholder02 {
  display: none;
}

#fun_1 > img {
  width: 54%;
}

#ball_1 {
  background: #f2c249;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left: 20%; /*24%;*/
  top: 0;
}

#ball_2 {
  background: #c25b56;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
}

#ball_3 {
  background: #00aaa0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left: 20%; /*24%;*/
  top: 0;
}

.img-des1 {
  display: inline-flex;
  width: 100%;
}

.imageholder01 {
  width: 40%;
}

.image1des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

.img-des2 {
  display: inline-flex;
  width: 100%;
}

.imageholder02 {
  width: 40%;
}

.image2des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

/*first figure pachi ko styling*/

.des2 {
  margin-left: 151px;
}
.des3 {
  margin-left: 151px;
}

.des6 {
  margin-left: 151px;
}
.des7 {
  margin-left: 151px;
}
/********************third page****************/

.wrapperIntro.third .ind2 {
  color: #996699;
}

.wrapperIntro.third .imageholder03 {
  display: none;
}

#fullname {
  color: #cece00;
  position: absolute;
  top: 0;
  left: 14%; /*4%;*/
  transform: rotate(90deg) !important;
  font-weight: bold;
  font-size: 11px;
}

#firstname {
  color: #538cdb;
  position: absolute;
  left: 13%;
}

.imageholder01 {
  position: relative;
}

/*.wrapperIntro.third .text2{
	display:none;
}*/

/*THIRD PAGE IMAGE KO DES KO RIGHT DIV*/

.img-des3 {
  display: inline-flex;
  width: 100%;
}

.imageholder03 {
  width: 40%;
}

.image3des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

.des10 {
  margin-left: 9.55%;
}

.des11 {
  margin-left: 9.55%;
}
/*End of THIRD PAGE IMAGE KO DES KO RIGHT DIV*/

.img-des4 {
  display: inline-flex;
  width: 100%;
}

.imageholder04 {
  width: 40%;
}

.image4des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

.wrapperIntro.third .imageholder04 {
  display: none;
}

#fullname01 {
  color: #00aaa0;
  position: absolute;
  top: 0;
  left: 7%; /*13%; */
  transform: rotate(90deg) !important;
  font-weight: bold;
  font-size: 11px;
}

#firstname01 {
  color: #538cdb;
  position: absolute;
  left: 13%;
}

/*page4*/

.wrapperIntro.fourth .ind2 {
  /*font-weight: bold;*/
  font-size: 1em;
  color: #996699;
}

.wrapperIntro.fourth .imageholder05 {
  display: none;
}

.wrapperIntro.fourth .imageholder06 {
  display: none;
}

.wrapperIntro.fourth .text1 {
  display: none;
}

.wrapperIntro.fourth .text2 {
  display: none;
}

.img-des5 {
  display: inline-flex;
  width: 100%;
}

.imageholder05 {
  width: 40%;
}

.image5des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

#input01 {
  color: #00aaa0;
  position: absolute;
  top: 0;
  left: 21%; /*4%;*/
}

#output01 {
  color: #c25b56;
  position: absolute;
  left: 21%;
}

.main-fun {
  background: #a8a8fb none repeat scroll 0 0;
  border-radius: 5px;
  left: 17%;
  padding: 10px;
  position: absolute;
  top: 61%;
}

.img-des6 {
  display: inline-flex;
  width: 100%;
}

.imageholder06 {
  width: 40%;
}

.image6des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

#input02 {
  color: #00aaa0;
  position: absolute;
  top: 0;
  left: 21%; /*4%;*/
}

#output02 {
  color: #c25b56;
  position: absolute;
  left: 21%;
}
/*******end of page 4*************/

/****page5*************/

.wrapperIntro.fifth .ind2 {
  /*font-weight: bold;*/
  font-size: 1em;
  color: #996699;
}

.wrapperIntro.fifth .imageholder07 {
  display: none;
}

.wrapperIntro.fifth .imageholder08 {
  display: none;
}

.wrapperIntro.fifth .text1 {
  display: none;
}

.wrapperIntro.fifth .text2 {
  display: none;
}

.img-des7 {
  display: inline-flex;
  width: 100%;
}

.imageholder07 {
  width: 40%;
}

.image7des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

#input03 {
  color: #00aaa0;
  position: absolute;
  top: 0;
  left: 21%; /*4%;*/
}

#output03 {
  color: #c25b56;
  position: absolute;
  left: 21%;
}

.main-fun {
  background: #a8a8fb none repeat scroll 0 0;
  border-radius: 5px;
  left: 14.5%;
  width: 15%;
  position: absolute;
  top: 57%;
  text-align: center;
  font-weight: bold;
}

.img-des8 {
  display: inline-flex;
  width: 100%;
}

.imageholder08 {
  width: 40%;
}

.image6des {
  float: right;
  padding-top: 60px;
  width: 60%;
}

#input04 {
  color: #00aaa0;
  position: absolute;
  top: 0;
  left: 21%; /*4%;*/
}

#output04 {
  color: #c25b56;
  position: absolute;
  left: 21%;
}

/******end of page5********/

/*added by manish*/

.wrapperIntro.firstPage .text2 {
  padding-left: 11%;
  padding-top: 7%;
  color: #0068b3;
  display: none;
  font-size: 1.3em;
  text-align: center;
  width: 99.5%;
  z-index: 1000;
  position: absolute;
}

.wrapperIntro.firstPage .text4 {
  margin-left: 1%;
  color: #0068b3;
  margin-top: 1.5%;
  display: none;
  font-size: 1.3em;
  text-align: center;
  width: 99.5%;
  z-index: 1000;
  position: absolute;
}

.wrapperIntro.firstPage .text6 {
  margin-left: 18%;
  color: #538cdb;
  padding-bottom: 1%;
}

.wrapperIntro.firstPage .text7 {
  padding-top: 40px;
}

.wrapperIntro.second .text1 {
  clear: both;
  color: #5c5c5c;
  display: none;
  font-size: 1.3em;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-top: 2%;
}

.wrapperIntro.second .text2 {
  color: #fea200;
  margin-bottom: 1%;
  margin-left: 4%;
  font-size: 1.3em;
}

.wrapperIntro.second .des4 {
  padding-top: 10px;
}

.wrapperIntro.second .des8 {
  border: 2px solid #538cdb;
  font-size: 1.5em;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 712px;
  display: none;
}

.p1_41 {
  border: 2px solid #538cdb;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 712px;
}

.p1_39 {
  margin-left: 19%;
}

.p1_40 {
  margin-left: 19%;
}

.image8des {
  margin-top: 100px;
}
/*added by sangina*/

.wrapperIntro.third .ind5 {
  color: #0cf;
}

.wrapperIntro.fourth .text1 {
  display: none;
}
.wrapperIntro.fourth .text2 {
  display: none;
}
.wrapperIntro.fourth .text3 {
  display: none;
}

/*added by manish*/

.f3_2,
.f3_3,
.f3_4,
.f3_5 {
  display: none;
  width: 100%;
}

.f3_6 {
  display: none;
}

.img2 {
  width: 8%;
}

.img2 > img {
  width: 100%;
}

.img1 {
  width: 7%;
}

.img1 > img {
  width: 100%;
}
#p8_2 {
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.75);
  color: #224994;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-top: 8px;
  width: 80%;
  border: 3px solid #b8d73d;
}

#p2_11,
#p2_12,
#p2_15,
#p2_16,
#p2_17,
#p8_3 {
  border-radius: 10px;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.75);
  color: #224994;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-top: 8px;
  width: 80%;
  border: 3px solid #2ec3ed;
}

#p8_4,
#p8_5 {
  left: 27%;
  bottom: -150%;
}

#p8_6 {
  left: 27%;
  bottom: -50px;
  font-size: 1.3em;
}

.highlight {
  background: grey none repeat scroll 0 0;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.footerNotification .continuePage {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: medium none;
  height: 100%;
  left: 78%;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 17%;
}

.f3_6 {
  background: floralwhite none repeat scroll 0 0;
  border-radius: 5px;
  margin: 2% auto 0;
  padding: 1%;
  text-align: center;
  width: 76%;
}

.wrapperIntro.fourth .text1,
.wrapperIntro.fourth .text2,
.wrapperIntro.fourth .text3,
.wrapperIntro.fourth .text4,
.wrapperIntro.fourth .text5,
.wrapperIntro.fourth .text6,
.wrapperIntro.fourth .text7,
.wrapperIntro.fourth .text8,
.wrapperIntro.fourth .text9,
.wrapperIntro.fourth .text10 {
  display: none;
}

.f3_1 {
  padding-bottom: 3%;
  padding-top: 3%;
}

.f3_2 {
  padding-bottom: 3%;
}

.slideRight {
  animation-duration: 1s !important;
  animation-name: slideRight;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

.slideLeft {
  animation-duration: 1s !important;
  animation-name: slideRight;
  animation-timing-function: ease-in-out;
  visibility: visible !important;
}

.char-holder {
  width: 100%;
  display: inline-flex;
}

.char-a {
  left: 16%;
  width: 32%;
}

.char-b {
  right: 0;
  width: 32%;
}

.slideRight {
  animation-duration: 0.5s !important;
}

.slideLeft {
  animation-duration: 0.5s !important;
}

.row.char-holder {
  position: absolute;
  top: 48%;
}

.bubble1 {
  display: none;
  position: absolute;
  margin-top: -0.5%;
}

.bubble2 {
  display: none;
  position: absolute;
  top: 20%;
}

.wrapperIntro.third .bubble3 {
  display: none;
}

.wrapperIntro.firstPage .char-holder {
  position: absolute;
  margin-top: 10%;
}

.wrapperIntro.firstPage .char-b {
  position: absolute;
}

.wrapperIntro.firstPage .squirrel-listening01 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
  background: #c3f3ff;
}

.wrapperIntro.firstPage .Squirrel-Thinking01 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking01 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .boy-talking01 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .boy-listening01 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
  background: #c3f3ff;
}

.wrapperIntro.firstPage .squirrel-listening02 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking02 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking02 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .boy-talking02 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .boy-listening02 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .squirrel-listening03 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .Squirrel-Thinking03 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .squirrel-talking03 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .boy-talking03 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

.wrapperIntro.firstPage .boy-listening03 {
  border: 3px solid #0c6db3;
  border-radius: 50%;
  display: none;
  padding: 0;
  width: 56%;
}

/*
.wrapperIntro.firstPage .text0 {
    color: #0c6db3;
    font-size: 2.3em;
    padding-bottom: 4%;
    text-align: center;
    text-shadow: 1px 1px #cccccc;
}
*/
.wrapperIntro.second .text0 {
  background: #ff595b none repeat scroll 0 0;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffffff;
  font-size: 1.4em;
  margin-left: -9px;
  padding: 0.5% 1.25%;
  width: 13%;
}

.wrapperIntro.second .solution00,
.wrapperIntro.second .solution01,
.wrapperIntro.second .solution02,
.wrapperIntro.second .solution03,
.wrapperIntro.second .solution04,
.wrapperIntro.second .solution05,
.wrapperIntro.second .solution06 {
  display: none;
  font-size: 1em;
  color: #5c5c5c;
  line-height: 2.35em;
}

.wrapperIntro.second .text3 {
  font-size: 1.3em;
  height: 53%;
  margin-left: 0;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-top: 2%;
}

.wrapperIntro.second .highlights {
  background: #ffe38f none repeat scroll 0 0;
  border: 3px solid #ffc211;
  color: #8484e1;
  padding: 1%;
  text-align: center;
  width: 60%;
}

mfrac {
  font-family: arial;
  font-size: 1.3em;
}

/*added for fraction part*/

.fm-inline {
  font-family: arial;
  font-size: 1.3em;
  margin-right: 0.2em;
  color: #5c5c5c;
}

exmpletable th {
  border: 2px solid #000000;
  background: #d9d2e9 none repeat scroll 0 0;
  color: #000000;
  text-align: center;
}

table {
  margin-left: 34% !important;
  margin-top: 14% !important;
  width: 26%;
}

table,
th,
td {
  border: 2px solid #000000;
}
th {
  background: #d9d2e9;
  border: 2px solid #000000 !important;
}
th,
td {
  text-align: center;
  color: #000000;
}

.wrapperIntro.third .text0 {
  color: #0c6db3;
  font-size: 2em;
  position: absolute;
  top: 5%;
  display: none;
}

.wrapperIntro.third .text1 {
  display: none;
  position: absolute;
  top: 14%;
  font-size: 1.2em;
  color: #5c5c5c;
}

.wrapperIntro.third .text2 {
  color: #fea200;
  font-size: 1.3em;
  position: absolute;
  top: 20%;
  left: 2%;
  display: none;
}

.wrapperIntro.third .text3 {
  display: none;
  left: 40%;
  position: absolute;
  top: 55%;
}

.wrapperIntro.third .text4 {
  color: #5c5c5c;
  font-size: 1.5em;
  left: 43.6%;
  position: absolute;
  top: 55%;
  display: none;
}

.thirty {
  color: #5c5c5c;
  font-size: 1.5em;
  left: 47%;
  margin-top: 14%;
  position: absolute;
}

.ten {
  border-top: 1px solid;
  color: #5c5c5c;
  font-size: 1.5em;
  left: 47.3%;
  margin-top: 17%;
  position: absolute;
  text-align: center;
  width: 9%;
}

.wrapperIntro.third .text5 {
  color: #5c5c5c;
  font-size: 1.5em;
  left: 39%;
  position: absolute;
  top: 67%;
  display: none;
}

.wrapperIntro.third .text6 {
  display: none;
}

.wrapperIntro.third .text7 {
  color: #5c5c5c;
  font-size: 1.5em;
  left: 40%;
  position: absolute;
  top: 76%;
  display: none;
}

.wrapperIntro.third .text8 {
  color: #5c5c5c;
  font-size: 1.5em;
  left: 24%;
  position: absolute;
  top: 82%;
  display: none;
}

.wrapperIntro.third .text9 {
  border: 1px solid;
  color: #5c5c5c;
  font-size: 1.3em;
  left: 29%;
  padding-left: 2%;
  position: absolute;
  top: 47%;
  width: 39%;
  display: none;
  text-align: center;
}

.wrapperIntro.third .imageholder013 {
  display: none;
  left: 46%;
  margin-top: -5%;
  position: absolute;
  width: 1.7%;
}

.wrapperIntro.third .imageholder014 {
  display: none;
  left: 57%;
  margin-top: -5%;
  position: absolute;
  width: 1.7%;
}

.wrapperIntro.third .table01 {
  display: none;
}

.twenty {
  left: 31%;
  top: -18%;
}

.tens {
  border-top: 1px solid;
  left: 30.5%;
  text-align: center;
  top: -20%;
  width: 9%;
}

.solution05 {
  bottom: 28%;
}

.wrapperIntro.firstPage {
  background: rgba(0, 0, 0, 0) url("../image/page1/main-bg.jpg") repeat scroll 0
    0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bubble2::before {
  border-color: #3cd563 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 30px 30px 0;
  bottom: -35px;
  content: "";
  display: block;
  left: 27%;
  position: absolute;
  width: 0;
}

.bubble2 {
  background: #ffffff none repeat scroll 0 0;
  border: 5px solid #3cd563;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
  color: #333333;
  display: none;
  height: 26%;
  margin: 1em 0 3em;
  padding: 15px;
  position: absolute;
  top: 30%;
  width: 48%;
}

.bubble1::before {
  border-color: #fea92a rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 30px 30px 0;
  bottom: -35px;
  content: "";
  display: block;
  left: 69%;
  position: absolute;
  width: 0;
}

.bubble1 {
  background: #ffffff none repeat scroll 0 0;
  border: 5px solid #fea92a;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 5px 0 rgba(0, 0, 0, 0.75) inset;
  color: #333333;
  display: none;
  height: 26%;
  margin: 1em 0 3em;
  padding: 15px;
  position: absolute;
  right: 6%;
  top: 30%;
  width: 48%;
}

.wrapperIntro.firstPage .text2 {
  color: #919191;
  display: none;
  font-size: 1.4em;
  left: 41%;
  top: 25%;
  width: 45.5%;
  z-index: 1000;
}

.wrapperIntro.firstPage .text3 {
  color: #919191;
  display: none;
  font-size: 1.4em;
  left: 49%;
  top: 39%;
  width: 45.5%;
  z-index: 1000;
}

.wrapperIntro.firstPage .text4 {
  color: #919191;
  display: none;
  font-size: 1.4em;
  top: 40%;
  width: 47.5%;
  z-index: 1000;
}

.wrapperIntro.firstPage .text5 {
  color: #919191;
  display: none;
  font-size: 1.4em;
  left: 55%;
  top: 42%;
  width: 47.5%;
  z-index: 1000;
}
.wrapperIntro.second .solution03{
  width: 100%;
}
.wrapperIntro.second .solution04{
  width: 90%;
}
.wrapperIntro.second .solution05{
  margin-top: 6%;
}
@media screen and (min-aspect-ratio: 4/3){
  .wrapperIntro.third .text3,
  .wrapperIntro.third .text4,
  .wrapperIntro.third .text5{
    font-size: 2vh;
  }
  .wrapperIntro.third .text0,
  .wrapperIntro.third .text1,
  .wrapperIntro.third .text2,
  .wrapperIntro.third .text5,
  .wrapperIntro.third .text6,
  .wrapperIntro.third .text7,
  .wrapperIntro.third .text8,
  .wrapperIntro.third .text9,
  .thirty, .ten{
    font-size: 3vh;
  }
}
@media screen and (max-aspect-ratio: 4/3){
  .wrapperIntro.third .text0,
  .wrapperIntro.third .text1,
  .wrapperIntro.third .text2,
  .wrapperIntro.third .text3,
  .wrapperIntro.third .text4,
  .wrapperIntro.third .text5,
  .wrapperIntro.third .text6,
  .wrapperIntro.third .text7,
  .wrapperIntro.third .text8,
  .wrapperIntro.third .text9,
  .thirty, .ten{
    font-size: 1.9vw;
  }
}

@media screen and (min-height: 750px) {
  .thirty{
    margin-top: 16%;
  }
  .ten{
    margin-top: 19%;
  }
}
