.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.wrapperIntro {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*background: #c9c9c9;*/
}

.wrapperIntro.first .text0 {
	padding-top: 10%;
	text-align: center;
	font-size: 2em;
}

.wrapperIntro.first .text1,
.wrapperIntro.first .text2 {
	position: absolute;
	font-size: 4em;
	color: #6600CC;
	top: 40%;
}

.wrapperIntro.first .text1 {
	left: 30%;
}

.wrapperIntro.first .text2 {
	right: 30%;
}

.wrapperIntro.second {
	padding: 2% 4% 1% 4%;
	color: #e36c09;
}

.wrapperIntro.second .text0 {
	font-size: 1.3em;
	color: #0068b3;
	background-color:#D1D4F2;
	margin-left: -5%;
    margin-right: -5%;
    margin-top: -3%;
    padding: 3%;
	xbackground-image:url(../../../../../your%20turn.png);
	text-align:center;
}


.lokhar > img {
    left: -5%;
    margin-top: -3%;
    position: absolute;
    width: 22%;
    z-index: 100;
}

.wrapperIntro.second .text1 {
	margin : 3% 0% 1% 10%;
	display: none;
}

.wrapperIntro.second .text2 {
	margin : 1% 0% 1% 12%;
	display: none;
}

.wrapperIntro.second .text3 {
	margin : 1% 0% 1% 10%;
	display: none;
}

.wrapperIntro.second .text4 {
	margin : -1% 0% 1% 12%;
	display: none;
}

.wrapperIntro.second .text5 {
	/*text-align: center;*/
	margin : -2% 0% 1% 12%;
	display: none;
}
.wrapperIntro.second .text6 {
	/*text-align: center;*/
	margin : 1% 0% 1% 12%;
	display: none;
}

.wrapperIntro.second .text5 span:nth-child(1){
	/*display: none;*/
	color: #00B050;
	font-weight: bold;
}

.wrapperIntro.second .text5 span:nth-child(2){
	/*display: none;*/
	color: #00B0F0;
	font-weight: bold;
}

.wrapperIntro.second .text6 {
	margin: 2% 0% 2% 15%;
	font-size: 1em;
	display: none;
	margin-left:21.5%
}

.wrapperIntro.second .text7 {
	margin: 0% 0% 2% 1%;
	display: none;
}

.wrapperIntro.second .text8 {
	margin: -2% 0% 2% 15%;
	font-size: 1em;
	display: none;
	margin-left:21.5%
}


.wrapperIntro.second .lokharke {
	display: inline-block;
	width: 50%;
	margin: 0 0 0 25%;
	/*background: #000;*/
}

.wrapperIntro.second .lokharke img {
	width: 100%;
}

.wrapperIntro.second .lokharke .text1{
	position: absolute;
	top: 45%;
	right: 4%;
	width: 55%;
	/*background: #000;*/
}

/* third */
.wrapperIntro.third {
	padding:4%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: relative;
}

.wrapperIntro.third .text0 {
	color: #E67E27;
	font-size: 2em;
}

.wrapperIntro.third .text1,
.wrapperIntro.third .text2,
.wrapperIntro.third .text3 {
	font-size: 1.5em;
	margin: 1% 1% 1% 10%;
	/*display: none;*/
}

.wrapperIntro.third .text1 {
	margin-top: 5%;
	/*display: none;*/
}

.wrapperIntro.third .text4 {
	position: absolute;
	top: 15%;
	font-size: 1.3em;
	right: 5%;
	width: 50%;
	display: none;
}

.wrapperIntro.third .text5,
.wrapperIntro.third .text6,
.wrapperIntro.third .text7 {
	position: absolute;
	width: 50%;
	font-size: 1.3em;
	color: #00CADC;
	display: none;
}

.wrapperIntro.third .text5 {
	top: 22%;
	right: 1%;
}

.wrapperIntro.third .text6 {
	top: 30%;
	right: 1%;
}
.wrapperIntro.third .text7 {
	top: 38%;
	right: 1%;
}

.wrapperIntro.third .text5:after,
.wrapperIntro.third .text6:after,
.wrapperIntro.third .text7:after {
	position: absolute;
	content: "";
	width: 44%;
	height: 2px;
	top: 50%;
	right: 100%;
	background: #1212FF;
	transform : rotate(-1deg);
}

.wrapperIntro.third .text6:after {
	width: 34%;
}
.wrapperIntro.third .text7:after {
	width: 28%;
}

.wrapperIntro.third .text8 {
	font-size: 1.5em;
	color: #00B050;
	margin-top: 5%;
	display: none;
}

.wrapperIntro.forth {
	padding: 5%;
}

.wrapperIntro.forth .text0 {
	text-align: center;
	font-size: 2em;
}

.wrapperIntro.forth .text1,
.wrapperIntro.forth .text3,
.wrapperIntro.forth .text5,
.wrapperIntro.forth .text7 {
	margin-top: 10%;
	text-align: center;
	font-size: 2em;
	display: none;
}

.wrapperIntro.forth .text1 span:nth-child(1),
.wrapperIntro.forth .text3 span:nth-child(1),
.wrapperIntro.forth .text5 span:nth-child(1),
.wrapperIntro.forth .text7 span:nth-child(1){
	color: #9900FF;
}
.wrapperIntro.forth .text1 span:nth-child(2),
.wrapperIntro.forth .text3 span:nth-child(2),
.wrapperIntro.forth .text5 span:nth-child(1),
.wrapperIntro.forth .text7 span:nth-child(1){
	color: #FF9900;
}

.wrapperIntro.forth .text2,
.wrapperIntro.forth .text4,
.wrapperIntro.forth .text6,
.wrapperIntro.forth .text8 {
	text-align: center;
	margin-top: 5%;
	font-size: 1.5em;
	display: none;
}

.wrapperIntro.forth .text {}
.wrapperIntro.forth .text {}
.wrapperIntro.forth .text {}
.wrapperIntro.forth .text {}
.wrapperIntro.forth .text {}

/*question style */
.exponential .wrapperIntro .qaArea {
	/*color: #E36C09;*/
	font-size: 1em;
	padding: 1% 2% 2% 5%;
}

.exponential .wrapperIntro .qaArea > div {
	box-shadow: 0 10px 5px -5px #c9c9c9;
	margin-bottom: 4%;
}

.exponential .wrapperIntro .qaArea .qTitle span.q {
	color: #395E8A;
}

.exponential .wrapperIntro .qaArea .qTitle span{
	font-size: 1em;
	color:#333333;
}

.exponential .wrapperIntro .qaArea .qTitle sup {
	font-size: 0.7em;
}

.exponential .wrapperIntro .qaArea .ansArea {
	padding-left: 4%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.exponential .wrapperIntro .qaArea .ansArea input {
	width: 9%;
	/*background: #4F81BD;*/
	border: 2px solid #395E8A;
	border-radius: 5px;
	padding-left: 1%;
	/*color: #fff;*/
}
.exponential .wrapperIntro .qaArea .ansArea .powerString {
	margin-left: 3%;
}
.exponential .wrapperIntro .qaArea .ansArea input:focus {
	box-shadow: 0 0 5px #000;
}

.exponential .wrapperIntro .qaArea .showAns {
	margin-left: 50%;
	display: none;
	color: #000;
    font-size: 1em;
}

.exponential .wrapperIntro .qaArea .clicks {
	padding: 1% 0% 1% 3%;
}

.exponential .wrapperIntro .qaArea .clicks .check {
	margin-left: 1%;
	border: 1px solid #395E8A;
	padding: 5px;
	border-radius: 10px;
	background: #58448A;
	color: #fff;
	cursor: pointer;
}

.exponential .wrapperIntro .qaArea .clicks .check:hover {
	background: #fff;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .check:active {
	background: #EA9046;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .click {
	margin-left: 10%;
	border: 1px solid #395E8A;
	background: #565A8A;
	color: #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	display: none;
}

.exponential .wrapperIntro .qaArea .clicks .click:hover {
	background: #fff;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .clicks .click:active {
	background: #EA9046;
	color: #383838;
}

.exponential .wrapperIntro .qaArea .ansArea .check1,
.exponential .wrapperIntro .qaArea .ansArea .check2 {
	display: inline-block;
	width: 3%;
}

.exponential .wrapperIntro .qaArea .ansArea .check1 img,
.exponential .wrapperIntro .qaArea .ansArea .check2 img {
	width: 100%;
}
.baseString {
    color: #333333;
}

.powerString {
    color: #333333;
}

.ans {

    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 1px;
    box-shadow: -1px 3px 6px 0 rgba(50, 50, 50, 0.38);
    display: inline-block;
    float: right;
    font-size: 1em;
    margin: -25% auto 0;
    padding: 1%;
    width: 120%;
    left: 110%;

}

.lokharkeTxt{
	z-index: 100;
	padding: 3.5% 1% 1% 3%;
	position: absolute;
}
