.bg-1{
	background-color: #D9D9D9;
}

.text-1{
	position: absolute;
	top: 20%;
	width: 45%;
	left: 3%;
	border-radius: 3vmin;
	background-color: #00BA95;
	color: white;
	padding: 2%;
	font-family: amaranath;
	font-size: 2.5vw;
	text-align: center;
}
@media(min-aspect-ratio:4/3){
	.text-1{
		font-size: 3.3vh;
	}
}


.big-formula{
	position: absolute;
	top: 55%;
	left: 0%;
	width: 100%;
	color: #595959;
	transform: translateY(-50%);
	font-size: 10vw;
}
@media(min-aspect-ratio:4/3){
	.big-formula{
		font-size: 14h;
	}
}

.monkey{
	position: absolute;
	bottom: 3%;
	left: 3%;
	height: 40%;
}

.speech-monkey{
	position: absolute;
	font-family: amaranath;
	color: #595959;
	font-size: 2.5vw;
	padding: 1% 2%;
	padding-bottom: 5%;
}
@media(min-aspect-ratio:4/3){
	.speech-monkey{
		font-size: 3.3vh;
	}
}



.sp-1{
	position: absolute;
	left: 2%;
	bottom: 45%;
	width: 34%;
	text-align: left;
}
.pond{
	position: absolute;
	width: 55%;
	right: 2%;
	bottom: 8%;
}
.arrow-1{
	position: absolute;
	width: 55%;
	right: 2%;
	bottom: 3%;
}
.arrow-2{
	position: absolute;
	height: 61%;
	right: 60%;
	bottom: 8%;
}

.tag{
	position: absolute;
	font-size: 2.2vw;
}
@media(min-aspect-ratio:4/3){
	.tag{
		font-size: 2.9vh;
	}
}
.tag-1{
	bottom: 2%;
	transform: translateX(50%);
	right: 29.5%;
}
.tag-2{
	bottom: 36%;
	right: 57%;
}


.ptext-1{
	margin-top: 3%;
	text-align: center;
}


.what-area{
	position: absolute;
	bottom: 74%;
	transform: translateX(50%);
	right: 32%;
	font-size: 6vw;
}
@media(min-aspect-ratio:4/3){
	.what-area{
		font-size: 8.5vh;
	}
}


.zoomer-1{
	animation: zoomer-1 1s linear infinite;
	animation-delay: 1s;
	-webkit-animation: zoomer-1 1s linear infinite;
	animation-delay: 1s;
}
@-webkit-keyframes
zoomer-1 {
	50% {transform: scale(1.5) translateX(50%);}
}
@keyframes
zoomer-1 {
	50% {transform: scale(1.5) translateX(50%);}
}
.zoomer-2{
	animation: zoomer-2 1s linear infinite;
	animation-delay: 2s;
	-webkit-animation: zoomer-2 1s linear infinite;
	animation-delay: 2s;
}
@-webkit-keyframes
zoomer-2 {
	50% {transform: scale(1.5);}
}
@keyframes
zoomer-2 {
	50% {transform: scale(1.5);}
}



.top-area{
	position: absolute;
	font-family: amaranath;
	color: #595959;
	font-size: 3vw;
	left: 50%;
	bottom: 72%;
	width: 40%;
	text-align: left;
}
@media(min-aspect-ratio:4/3){
	.top-area{
		font-size: 4vh;
	}
}
.dont-1{
	margin-top: 5%;
}





.bg-diy{
	background-color: #CAB882;
}
.monkey-2{
	position: absolute;
	bottom: 3%;
	left: 10%;
	height: 60%;
}
.diy-text{
	position: absolute;
	bottom: 48%;
	left: 30%;
	width: 70%;
	color: #DA4D00;
	text-align: left;
	font-family: bangers;
	font-size: 8vw;
}
@media(min-aspect-ratio:4/3){
	.diy-text{
		font-size: 11vh;
	}
}




.bg-3{
	background-color: #85D4EE;
}
.input-1{
	top: 30%;
	width: 45%;
	height: 10%;
	left: 2.5%;
	z-index: 50;
}
.monkey-fb{
	display: none;
	position: absolute;
	top:80%;
	left: 25%;
	width: 12%;
}
.ques-text{
	position: absolute;
	top: 15%;
	width: 45%;
	left: 2.5%;
	color: #DA4D00;
	padding: 2%;
	font-family: amaranath;
	font-size: 2.5vw;
	text-align: center;
}
@media(min-aspect-ratio:4/3){
	.ques-text{
		font-size: 3.3vh;
	}
}
.hint-btn{
	position: absolute;
	top: 42%;
	left: 40%;
	transform: translateX(-50%);
	border-radius: 2vmin;
	color: white;
	font-family: sniglet;
	padding: 0.5% 2%;
	background-color: #C063D6;
	font-size: 2.2vw;
}
@media (min-aspect-ratio:4/3){
	.hint-btn{
		font-size: 3vh;
	}
}
.hint-btn:hover{
	cursor: pointer;
	filter: contrast(125%) brightness(125%);
	-webkit-filter: contrast(125%) brightness(125%);
}
.hint-text{
	display: none;
	position: absolute;
	top: 55%;
	width: 40%;
	left: 11%;
	color: #59596B;
	padding: 1%;
	font-family: amaranath;
	font-size: 3vw;
	text-align: left;
	background-color: #FFE599;
}
@media(min-aspect-ratio:4/3){
	.hint-text{
		font-size: 4vh;
	}
}
.btn-2{
	background-color: #F4CC70;
	border: none;
	color: #666969;
}



.garden{
	position: absolute;
	right: 4%;
	bottom: 10%;
	height: 80%;
}
.tag-3{
	bottom: 10%;
	right: 21%;
	transform: translateX(50%);
}
.tag-4{
	bottom: 51%;
	right: 41%;
}
.ans-input-box{
	width: 70%;
}
.input-intro{
	width: 50%;
}





.hl-blue{
	color: #4078D8;
}
.hl-brown{
	color: #72504F;
}


.sp-2{
	position: absolute;
	left: 10%;
	bottom: 45%;
	width: 40%;
	text-align: left;
}
.monkey-3{
	position: absolute;
	bottom: 3%;
	left: 15%;
	height: 40%;
}

.sp-3{
	position: absolute;
	left: 19%;
	bottom: 45%;
	width: 33%;
	text-align: left;
	z-index: 20;
}
.monkey-4{
	position: absolute;
	bottom: 5%;
	left: 20%;
	height: 40%;
}
.garden-2{
	position: absolute;
	left: 2%;
	height: 35%;
	bottom: 30%;
	z-index: 2;
}
.pond-2{
	position: absolute;
	right: 2%;
	height: 50%;
	bottom: 10%;
	z-index: 2;
}

.road-1{
	position: absolute;
	width: 8%;
	right: 15%;
	height: 40%;
	bottom: 60%;
	background-color: #999999;
	color: white;
	font-family: amaranath;
	font-size: 2.3vw;
}
.road-1>p{
	position: absolute;
	width: 100%;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
}
@media (min-aspect-ratio:4/3){
	.road-1{
		font-size: 1.7vw;
	}
}

.arrow-3{
	position: absolute;
	right: 26%;
	height: 40%;
	bottom: 60%;
}
.tag-5{
	bottom: 78%;
	right: 23%;
}







.modify-btn{
	position: absolute;
	bottom: 60%;
	left: 27%;
	transform: translateX(-50%);
	padding: 1% 4%;
	font-size: 3vw;
	margin: 0% 5%;
	font-family: sniglet;
	color: white;
	background-color: #3BA7CC;
	border: 0.5vmin solid #91D8FF;
	border-radius: 2vmin;
}
.modify-btn:hover{
	cursor: pointer;
	filter: brightness(125%) contrast(125%);
	-webkit-filter: brightness(125%) contrast(125%);
}
@media(min-aspect-ratio:4/3){
	.modify-btn{
		font-size: 4vh;
	}
}



.formula{
	z-index: 30;
	position: absolute;
	top: 15%;
	left: 32%;
	width: 13%;
	height: 11%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 0.5vmin solid #D5A857;
	color: black;
	font-family: amaranath;
	font-size: 2.5vw;
}
.formula>p{
	position: absolute;
}
.for-a{
	left: 20%;
	top: 50%;
	transform: translateY(-50%);
}
.for-eq{
	left: 40%;
	top: 50%;
	transform: translateY(-50%);
}
.for-l{
	left: 55%;
	top: 50%;
	transform: translateY(-50%);
}
.for-x{
	left: 70%;
	top: 50%;
	transform: translateY(-50%);
}
.for-b{
	left: 85%;
	top: 50%;
	transform: translateY(-50%);
}
@media(min-aspect-ratio:4/3){
	.formula{
		font-size: 3.3vh;
	}
}
.formula-anim{
	-webkit-animation: formula-anim 1s linear 1s both;
}
@keyframes
formula-anim {
	100% {background-color:#FFE599; border-color:#946F00; height: 18%;}
}

.for-a-anim{
	-webkit-animation: for-a-anim 2s linear 2s both
}
@keyframes
for-a-anim {
	30% {left: 20%;top: 30%;border-bottom: 0.3vmin solid black;}
	70% {left: 20%;top: 30%;border-bottom: 0.3vmin solid black;}
	100% {left: 70%;top: 30%;border-bottom: 0.3vmin solid black;}
}
.for-l-anim{
	-webkit-animation: for-l-anim 2s linear 2s both;
}
@keyframes
for-l-anim {
	30% {top: 65%; left: 20%;}
	70% {top: 65%; left: 20%;}
	100% {top: 65%; left:70%;}
}

.for-b-anim{
	-webkit-animation: for-b-anim 2s linear 2s both;
}
@keyframes
for-b-anim {
	30% {left: 65%;}
	70% {left: 65%;}
	100% {left:20%;}
}
.for-x-anim{
	-webkit-animation: for-x-anim 2s linear 2s both;
}
@keyframes
for-x-anim {
	10% {opacity:0;}
	100% {opacity:0;}
}
.last-feedback{
	display: none;
	position: absolute;
	top: 45%;
	left: 34%;
	width: 27%;
	padding: 1%;
	transform: translate(-50%, -50%);
	background-color: #FFE599;
	color: #595959;
	font-family: amaranath;
}

.using-formula{
	position: absolute;
	left: 12%;
	top: 12%;
	background-color: #C27BA0;
	color: white;
	font-family: amaranath;
	padding: 1% 2%;
}
.ans-formula{
	z-index: 30;
	position: absolute;
	top: 25%;
	left: 20%;
	padding: 3%;
	padding-top: 0%;
	background-color: #FFE599;
	border: 0.5vmin solid #946F00;
	color: black;
	font-family: amaranath;
}
.font-black{
	color: #434343;
}
.bg-diy2{
	background: radial-gradient(#689FFF, #91D4BC);
}



.using-formula, .ans-formula,.last-feedback{
	font-size: 2.5vw;
}

@media(min-aspect-ratio:4/3){
	.last-feedback, .using-formula, .ans-formula{
		font-size: 3.3vh;
	}
}












.road-2{
	position: absolute;
	width: 35%;
	right: 47%;
	height: 12%;
	bottom: 30%;
	background-color: #999999;
	color: white;
	font-family: amaranath;
	font-size: 2.3vw;
}
.road-2>p{
	position: absolute;
	width: 100%;
	left: 9%;
	top: 50%;
	transform: translateY(-50%);
}
@media (min-aspect-ratio:4/3){
	.road-2{
		font-size: 1.9vw;
	}
}


.arrow-4{
	position: absolute;
	left: 22%;
	height: 12%;
	bottom: 30%;
	z-index: 5;
}
.tag-2m{
	bottom: 34%;
	left: 21%;
	color: white;
}

.hint-2{
	display: none;
	top: auto;
	top: 30%;
	left: 19%;
}
.qt-2{
	color: #595959;
	top: 5%;
	left: 20%;
}
.input-2{
	top: 17%;
	width: 45%;
	height: 10%;
	left: 20%;
	z-index: 50;
}
.hint-btn-2{
	left: 57%;
	top: 30%;
}

.correct-last{
	display: none;
	position: absolute;
	top: 18%;
	left: 65%;
	width: 5%;
}


.text-last{
	left: 13%;
	top: 7%;
	width: 60%;
	text-align: center;
}
