<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/common-exercise/np_ex_fill_blanks.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

        <script id="general-template" type="text/x-handlebars-template">
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

                {{! content block starts--}}
                 <div class="contentblock {{additionalclasscontentblock}}">
            {{#if exerciseblock}}
            {{#each exerciseblock}}
                    {{#each sideimage}}
                         <img class="full-image" src="{{imgsrc}}" />
                    {{/each}}

                    <p class="instruction">{{{instructiondata}}}</p>
                    <p class="question {{ques_class}}"  data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>

                    <div class="optionsdiv">
                    {{#each exeoptions}}
                            <span class="forhover buttonsel {{forshuffle}}">{{optdata}}</span>
                    {{/each}}
                    </div>
            {{/each}}

             {{/if}}

             </div>
            </div>
        </script>


<!-- js loader starts -->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise2.js");
</script>
