.middletext {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 90%;
  top: 50%;
  font-size: 11.5vmin;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  font-family: laila;
  color: #351C75;
  font-weight: bold;
}

.uptext {
    background: #8E7CC3;
    width: 100%;
    top: 0%;
    color: white;
    padding: 1%;
    font-family: happymonkey;
}

.purpback{
  background: #D9D2E9;
  background-size: 100% 100%;
}

.theimg {
  position: absolute;
  width: 40%;
  transform: translate(-50%);
  top: 23%;
  left: 50%;
}

[class*="opt-"] {
  position: absolute;
  top: 83%;
  background: white;
  transform: translate(-50%);
  padding: 1%;
  font-size: 4vmin;
  white-space: nowrap;
  border-radius: 0.7em;
  border: 0.2em solid #fff;
}

.opt-1{
  left: 25%;
}

.opt-2{
  left: 75%;
}

.forhover:hover{
  cursor: pointer;
  background: #f9cb9c;
}

.correctans{
  background: #98c02e;
  border: 0.2em solid #deef3c;
}

.incorrectans{
  background: #ff0000;
  border: 0.2em solid #980000;
}
