[class*="text-type-"]{
    position: absolute;
    width: 67%;
    font-size: 4.5vmin;
    opacity: 0;
    z-index: 10;
    transform: translate(-50%, -50%);
    font-family: shortstack;
  }

.text-type-1 {
    font-size: 15.5vmin;
    animation: cssfadein 1s linear forwards;
    font-family: laila;
    left: 50%;
    color: #fff;
    top: 50%;
    font-weight: bold;
}

.text-type-2 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 90%;
    color: #fff;
    width: 90%;
}

.text-type-3 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 19%;
    width: 90%;
}

.text-type-4 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 53%;
    width: 90%;
    background: rgba(255,255,255,0.9);
    padding: 1%;
    border-radius: 1em;
}

.text-type-5 {
    animation: cssfadein 1s linear forwards;
    left: 73%;
    top: 24%;
    width: 50%;
}

.text-type-6 {
    animation: cssfadein 1s linear 1s forwards;
    left: 54%;
    top: 38%;
    font-size: 3.2vmin;
    width: 40%;
}

.text-type-7 {
    animation: cssfadein 1s linear forwards;
    left: 59%;
    top: 24%;
    width: 40%;
}

.text-type-8 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 15%;
    color: white;
}

.text-type-9 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 70%;
    color: #fff;
    width: 90%;
    font-size: 5vmin;
}

.text-type-10 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 50%;
    width: 60%;
    background: #F6B26B;
    padding: 2%;
    border-radius: 1em;
    color: white;
}


[class*="blck-"]{
  position: absolute;
  width: 20%;
  opacity: 0;
  transform: translate(-50%);
}

.blck-orange {
    top: 30%;
    left: 25%;
    animation: bounceeff 3s linear 1s forwards;
    -webkit-animation: bounceeff 3s linear 1s forwards;
}

.blck-wood {
    top: 30%;
    left: 50%;
    animation: bounceeff 4.5s linear 1s forwards;
    -webkit-animation: bounceeff 4.5s linear 1s forwards;
}

.blck-fire {
    top: 30%;
    left: 75%;
    animation: bounceeff 6s linear 1s forwards;
    -webkit-animation: bounceeff 6s linear 1s forwards;
}

[class*="animal-"]{
  position: absolute;
  opacity: 0;
  transform: translate(-50%);
}

.animal-1 {
    width: 14%;
    top: 38%;
    left: 44%;
    animation: bounceeff 0.6s linear forwards;
    -webkit-animation: bounceeff 0.6s linear forwards;
}

.animal-2 {
    width: 25%;
    top: 59%;
    left: 70%;
    animation: bounceeff 0.6s linear 1s forwards;
    -webkit-animation: bounceeff 0.6s linear 1s forwards;
}

.animal-3 {
    width: 20%;
    top: 1%;
    left: 75%;
    animation: bounceeff 0.6s linear 2s forwards;
    -webkit-animation: bounceeff 0.6s linear 2s forwards;
}

.animal-4 {
    width: 7%;
    top: 49%;
    left: 16%;
    animation: bounceeff 0.6s linear 3s forwards;
    -webkit-animation: bounceeff 0.6s linear 3s forwards;
}

.animal-5 {
    width: 6%;
    top: 57%;
    left: 25%;
    animation: bounceeff 0.6s linear 4s forwards;
    -webkit-animation: bounceeff 0.6s linear 4s forwards;
}

.animal-6 {
    width: 17%;
    top: 70%;
    left: 10%;
    animation: bounceeff 0.6s linear forwards;
    -webkit-animation: bounceeff 0.6s linear forwards;
    z-index: 99;
}

.animal-7 {
    width: 12%;
    top: 84%;
    left: 25%;
    animation: bounceeff 0.6s linear forwards;
    -webkit-animation: bounceeff 0.6s linear forwards;
    z-index: 99;
}

@keyframes bounceeff {
  0%{
    transform: translate(-50%, -10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  70%{
    opacity: 1;
    transform: translate(-50%, -5%);
  }
  100%{
    opacity: 1;
    transform: translate(-50%, 0%) scale(1);
  }
}

@-webkit-keyframes bounceeff {
  0%{
    transform: translate(-50%, -10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  70%{
    opacity: 1;
    transform: translate(-50%, -5%);
  }
  100%{
    opacity: 1;
    transform: translate(-50%, 0%) scale(1);
  }
}

.zoomit{
  background-position: 0% 0%;
  -webkit-animation: zoomme 1s linear forwards;
  animation: zoomme 1s linear forwards;
}

@keyframes zoomme{
    to{
      transform: scale(1.7);
    }
}

@-webkit-keyframes zoomme{
    to{
      transform: scale(1.7);
    }
}

.blackte{
  color: black;
  font-weight: bold;
}

.loseit1{
  -webkit-animation: fadeout 1s linear 1s forwards;
  animation: fadeout 1s linear 1s forwards;
}

.loseit2{
  -webkit-animation: fadeout 1s linear 3s forwards;
  animation: fadeout 1s linear 3s forwards;
}

@keyframes fadeout{
    to{
      opacity: 0;
    }
}

@-webkit-keyframes fadeout{
    to{
      opacity: 0;
    }
}

.greentxt{
  color: #2C8106;
}
