[class*="text-type-"]{
    position: absolute;
    width: 67%;
    font-size: 4.5vmin;
    opacity: 0;
    z-index: 10;
    transform: translate(-50%, -50%);
    font-family: shortstack;
  }

.text-type-1 {
    font-size: 15.5vmin;
    animation: cssfadein 1s linear forwards;
    font-family: laila;
    left: 50%;
    top: 40%;
    color: #8f5216;
    font-weight: bold;
}

.text-type-2 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 50%;
    color: #fff;
    width: 50%;
    font-size: 6vmin;
}

.text-type-3 {
    animation: cssfadein 1s linear 3s forwards;
    left: 50%;
    top: 36%;
    color: #fff;
    width: 90%;
    font-size: 6vmin;
}

.text-type-4 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 87%;
    color: #fff;
    width: 90%;
    font-size: 6vmin;
}

.text-type-5 {
    animation: cssfadein 1s linear forwards;
    left: 73%;
    top: 24%;
    width: 50%;
}

.text-type-6 {
    animation: cssfadein 1s linear 1s forwards;
    left: 54%;
    top: 38%;
    font-size: 3.2vmin;
    width: 40%;
}

.text-type-7 {
    animation: cssfadein 1s linear forwards;
    left: 59%;
    top: 24%;
    width: 40%;
}

.text-type-8 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 15%;
    color: white;
}

.text-type-9 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 70%;
    color: #fff;
    width: 90%;
    font-size: 5vmin;
}

.text-type-10 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 50%;
    width: 60%;
    background: #F6B26B;
    padding: 2%;
    border-radius: 1em;
    color: white;
}

.earthsp{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60%;
}

[class*="man-"]{
  position: absolute;
  width: 4%;
  opacity: 0;
}

.man-1 {
    top: 9%;
    left: 50%;
    animation: bounceeff 0.6s linear 1s forwards;
    -webkit-animation: bounceeff 0.6s linear 1s forwards;
}

.man-2 {
    top: 25%;
    left: 53%;
    animation: bounceeff2 0.6s linear forwards;
    -webkit-animation: bounceeff2 0.6s linear forwards;
}

.man-3 {
    top: 55%;
    left: 33%;
    animation: bounceeff3 0.6s linear 0.5s forwards;
    -webkit-animation: bounceeff3 0.6s linear 0.5s forwards;
}

.man-4 {
    top: 64%;
    left: 65%;
    animation: bounceeff 0.6s linear 1.3s forwards;
    -webkit-animation: bounceeff 0.6s linear 1.3s forwards;
}

.man-5 {
    top: 23%;
    left: 39%;
    animation: bounceeff2 0.6s linear 0.4s forwards;
    -webkit-animation: bounceeff2 0.6s linear 0.4s forwards;
}

.man-6 {
    top: 37%;
    left: 30%;
    animation: bounceeff3 0.6s linear 0.2s forwards;
    -webkit-animation: bounceeff3 0.6s linear 0.2s forwards;
}

@keyframes bounceeff {
  0%{
    transform: rotate(35deg) translateY(-10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: rotate(35deg) translateY(0%);
  }
  70%{
    opacity: 1;
    transform: rotate(35deg) translateY(-5%);
  }
  100%{
    opacity: 1;
    transform: rotate(35deg) translateY(0%) scale(1);
  }
}

@keyframes bounceeff2 {
  0%{
    transform: rotate(15deg) translateY(-10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: rotate(15deg) translateY(0%);
  }
  70%{
    opacity: 1;
    transform: rotate(15deg) translateY(-5%);
  }
  100%{
    opacity: 1;
    transform: rotate(15deg) translateY(0%) scale(1);
  }
}

@keyframes bounceeff3 {
  0%{
    transform: rotate(-20deg) translateY(-10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: rotate(-20deg) translateY(0%);
  }
  70%{
    opacity: 1;
    transform: rotate(-20deg) translateY(-5%);
  }
  100%{
    opacity: 1;
    transform: rotate(-20deg) translateY(0%) scale(1);
  }
}

@-webkit-keyframes bounceeff {
  0%{
    transform: rotate(35deg) translateY(-10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: rotate(35deg) translateY(0%);
  }
  70%{
    opacity: 1;
    transform: rotate(35deg) translateY(-5%);
  }
  100%{
    opacity: 1;
    transform: rotate(35deg) translateY(0%) scale(1);
  }
}

@-webkit-keyframes bounceeff2 {
  0%{
    transform: rotate(15deg) translateY(-10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: rotate(15deg) translateY(0%);
  }
  70%{
    opacity: 1;
    transform: rotate(15deg) translateY(-5%);
  }
  100%{
    opacity: 1;
    transform: rotate(15deg) translateY(0%) scale(1);
  }
}

@-webkit-keyframes bounceeff3 {
  0%{
    transform: rotate(-20deg) translateY(-10%) scale(0.5);
  }
  50%{
    opacity: 1;
    transform: rotate(-20deg) translateY(0%);
  }
  70%{
    opacity: 1;
    transform: rotate(-20deg) translateY(-5%);
  }
  100%{
    opacity: 1;
    transform: rotate(-20deg) translateY(0%) scale(1);
  }
}

.cover2 {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 200%;
  width: 100%;
  animation: soilanim 2s ease-out 1s forwards;
  -webkit-animation: soilanim 2s ease-out 1s forwards;
}

@keyframes soilanim {
  100%{
    top: -100%;
  }
}

@-webkit-keyframes soilanim {
  100%{
    top: -100%;
  }
}

.pesticides-sprite {
    position: absolute;
    top: 27%;
    left: 6%;
    width: 39%;
    height: 54%;
    background-size: 500% 100%;
    background-position: 0% 0%;
    z-index: 6;
    -webkit-animation: pestsprite 1s steps(5) infinite;
    animation: pestsprite 1s steps(5) infinite;
}

@keyframes pestsprite{
    to{
        background-position: -500% 0%;
    }
}

@-webkit-keyframes pestsprite{
    to{
        background-position: -500% 0%;
    }
}

.zoomit{
  background-position: 0% 0%;
  -webkit-animation: zoomme 1s linear forwards;
  animation: zoomme 1s linear forwards;
}

@keyframes zoomme{
    to{
      transform: scale(1.7);
    }
}

@-webkit-keyframes zoomme{
    to{
      transform: scale(1.7);
    }
}

.blackte{
  color: black;
  font-weight: bold;
}
