[class*="text-type-"]{
    position: absolute;
    width: 67%;
    font-size: 4.5vmin;
    opacity: 0;
    z-index: 10;
    transform: translate(-50%, -50%);
    font-family: shortstack;
  }

.text-type-1 {
    font-size: 15.5vmin;
    animation: cssfadein 1s linear forwards;
    font-family: laila;
    left: 50%;
    top: 15%;
    color: #06737b;
    font-weight: bold;
}

  .text-type-2 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 50%;
  }



  .text-type-3 {
      animation: cssfadein 1s linear forwards;
      left: 39%;
      top: 42%;
      overflow-wrap: break-word;
      width: 51%;
}

.text-type-4 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 20%;
    width: 90%;
}

.text-type-5 {
    animation: cssfadein 1s linear forwards;
    left: 50%;
    top: 50%;
    width: 60%;
    background: #F6B26B;
    padding: 2%;
    border-radius: 1em;
    color: white
}

.text-type-6 {
    left: 67%;
    top: 13%;
    animation: cssfadein 1s linear forwards;
}

.blackte{
  color: black;
  font-weight: bold;
}
.girl-added-sprite {
  position: absolute;
  top: 59%;
  left: -5%;
  width: 8% !important;
  height: 21%;
  background-size: 900% 100%;
  background-position: 100% 0%;
  z-index: 5;
}

.girlwalking-1{
  -webkit-animation: girlsprite 1s steps(8) infinite;
  animation: girlsprite 1s steps(8) infinite;
}

@keyframes girlsprite{
    to{
        background-position: -900% 0%;
    }
}

@-webkit-keyframes girlsprite{
    to{
        background-position: -900% 0%;
    }
}

@keyframes girlwalk-1{
    from{
      left: -3%;
    }
    to{
      left: 4%;
    }
}

@-webkit-keyframes girlwalk-1{
    from{
      left: -3%;
    }
    to{
      left: 4%;
    }
}

.industry-sprite {
    position: absolute;
    top: 1%;
    left: 8%;
    width: 29%;
    height: 59%;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: indussprite 1s steps(4) infinite;
    animation: indussprite 1s steps(4) infinite;
}

.industry-sprite-second {
    position: absolute;
    top: 3%;
    left: 57%;
    width: 34%;
    height: 92%;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: indussprite 1s steps(4) infinite;
    animation: indussprite 1s steps(4) infinite;
}

.car-sprite-second {
    position: absolute;
    top: 13%;
    left: 41%;
    width: 48% !important;
    height: 74%;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: indussprite 1s steps(4) infinite;
    animation: indussprite 1s steps(4) infinite;
}

.waste-sprite-second {
    position: absolute;
    top: 34%;
    left: 48%;
    width: 45%;
    height: 57%;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: indussprite 1s steps(4) infinite;
    animation: indussprite 1s steps(4) infinite;
}

.fire-sprite {
    position: absolute;
    top: 46%;
    left: 30%;
    width: 17%;
    height: 53%;
    background-size: 400% 100%;
    background-position: 0% 0%;
    z-index: 6;
    -webkit-animation: indussprite 1s steps(4) infinite;
    animation: indussprite 1s steps(4) infinite;
}

.car-sprite {
    position: absolute;
    top: 18%;
    left: 51%;
    width: 42% !important;
    height: 57%;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: indussprite 1s steps(4) infinite;
    animation: indussprite 1s steps(4) infinite;

}

.waste-sprite {
    position: absolute;
    top: 65%;
    left: 81%;
    width: 17%;
    height: 26%;
    background-size: 400% 100%;
    background-position: 0% 0%;
    -webkit-animation: indussprite 1s steps(4) infinite;
    animation: indussprite 1s steps(4) infinite;
}

@keyframes indussprite{
    to{
        background-position: -400% 0%;
    }
}

@-webkit-keyframes indussprite{
    to{
        background-position: -400% 0%;
    }
}

.highlightthis {
  cursor: pointer;
  border-radius: 2.5em;
    -webkit-animation: thistohigh 0.5s alternate infinite;
    animation: thistohigh 0.5s alternate infinite;
}

@keyframes thistohigh{
    from{
      border: 0.5em solid cornflowerblue;
    }
    to{
      border: 0.5em solid #154eb4;
    }
}

@-webkit-keyframes thistohigh{
  from{
    border: 0.5em solid cornflowerblue;
  }
    to{
      border: 0.5em solid #154eb4;
    }
}

.forextra {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border: 0.4em solid;
    z-index: 99;
    border-radius: 2em;
    -webkit-animation: extrazoom 2s ease-out forwards;
    animation: extrazoom 2s ease-out forwards;
}

@keyframes extrazoom{
    from{
      transform: scale(0.3);
    }
    to{
      transform: scale(1);
    }
}

@-webkit-keyframes extrazoom{
  from{
    transform: scale(0.3);
  }
    to{
      transform: scale(1);
    }
}

.closeico {
    position: absolute;
    width: 7%;
    top: 3%;
    right: 2%;
    cursor: pointer;
    z-index: 1;
}

.closeico:hover{
  transform: scale(1.1);
}

.cough {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 51%;
    width: 25%;
}

.circle {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 36%;
    width: 39%;
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 4s linear infinite;
}

@keyframes rotate{
    from{
      transform: translate(-50%) rotate(0deg);
    }
    to{
      transform: translate(-50%) rotate(360deg);
    }
}

@-webkit-keyframes rotate{
  from{
    transform: translate(-50%) rotate(0deg);
  }
    to{
      transform: translate(-50%) rotate(360deg);
    }
}

.bnwimg{
  filter: grayscale(100%);
}
.text-type-10 {
    animation: cssfadein 1s linear forwards;
    left: 25%;
    top: 42%;
    overflow-wrap: break-word;
    width: 42%;
}
