/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
    color: #FF6A65;
    font-size: 10vh;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    white-space: nowrap;
    background: beige;
    width: 100%;
    padding: 1%;
}
.center-text{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}
.coverboard{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

.description{
	color: #455A64;
}
.bottom_ins{
	z-index: 2;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 22%;
	background-color: #76CEDB;
}
.bottom_ins>p{
	position: absolute;
	left: 50%;
	width: 90%;
	top: 5%;
	transform: translateX(-50%);
}
/*for roads*/
.road_horizontal{
	background-color: #434343;
	width: 100%;
	left: 0%;
	height: 15%;
	top: 40%;
	transform: translateY(-50%);
	position: absolute;
}
.road_vertical{
	background-color: #434343;
	width: 8%;
	left: 50%;
	transform: translateX(-50%);
	height: 75%;
	top: 15%;
	position: absolute;
}
.restaurant{
	position: absolute;
	width: 18%;
	left: 8%;
	bottom: 67.5%;
	z-index: 5;
}
.school{
	position: absolute;
	width: 25%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 84%;
	z-index: 5;
}
.cinema{
	position: absolute;
	width: 18%;
	left: 75%;
	bottom: 67.5%;
	z-index: 5;
}
.arrow{
	position: absolute;
	width: 10%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 52%;
	z-index: 5;
}
.car{
	position: absolute;
	width: 4%;
	left: 48%;
	bottom: 30%;
	z-index: 6;
}
.central_arrow{
	cursor: pointer;
	position: absolute;
	height: 13%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1%;
	z-index: 6;
}
.central_arrow:hover{
	transform: translateX(-50%) scale(1.1);
}

.highlight_image{
	animation: highlight_image 1s infinite;
	-webkit-animation: highlight_image 1s infinite;
}
@-webkit-keyframes
highlight_image {
	50% {filter: drop-shadow(0px 0px 5px white); opacity: 0.8;}
}
@keyframes
highlight_image {
	50% {filter: drop-shadow(0px 0px 5px white); opacity: 0.8;}
}


.go_up {
	animation: go_up 2s ease-in forwards;
	-webkit-animation: go_up 2s ease-in forwards;
}

@-webkit-keyframes
go_up {
	100% {bottom: 67%;}
}
@keyframes
go_up {
	100% {bottom: 67%;}
}


.go_left {
	-webkit-animation: go_left 3s forwards linear;
	animation: go_left 3s forwards linear;
}

@-webkit-keyframes
go_left {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 43%; transform: rotate(-90deg);}
	100% {bottom: 53%; left: 15%; transform: rotate(-90deg);}
}
@keyframes
go_left {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 43%; transform: rotate(-90deg);}
	100% {bottom: 53%; left: 15%; transform: rotate(-90deg);}
}

.go_right {
	-webkit-animation: go_right 3s forwards linear;
	animation: go_right 3s forwards linear;
}

@-webkit-keyframes
go_right {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 53%; transform: rotate(90deg);}
	100% {bottom: 53%; left: 80%; transform: rotate(90deg);}
}
@keyframes
go_right {
	0% {left: 48%; bottom: 30%;}
	30% {bottom: 45%; left: 48%; transform: rotate(0deg);}
	60% {bottom: 53%; left: 53%; transform: rotate(90deg);}
	100% {bottom: 53%; left: 80%; transform: rotate(90deg);}
}

.grassbg {
    background: url("../images/7ae2e7d4cc3bda7c6a61ea10144f3240.jpg");
    background-size: 26% 20%;
}

.frontimg {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 68%;
    width: 100%;
    border-top: 0.5em solid cadetblue;
}

.center_img{
	position: absolute;
	top: 35%;
	width: 15%;
	left: 50%;
	transform: translateX(-50%);
}
.text-center-dir{
	position: absolute;
	top: 60%;
	width: 15%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}
.left_img{
	position: absolute;
	top: 35%;
	width: 15%;
	left: 50%;
	transform: translateX(-175%);
}
.text-left-dir{
	position: absolute;
	top: 60%;
	width: 15%;
	text-align: center;
	left: 50%;
	transform: translateX(-175%);
}
.right_img{
	position: absolute;
	top: 35%;
	width: 15%;
	left: 50%;
	transform: translateX(75%);
}
.text-right-dir{
	position: absolute;
	top: 60%;
	width: 15%;
	text-align: center;
	left: 50%;
	transform: translateX(75%);
}
.great-job{
	position: absolute;
	width: 100%;
	top: 12%;
	left: 0%;
	text-align: center;
	transform: translateY(-50%);
}
.move-on{
	position: absolute;
	width: 100%;
	top: 90%;
	left: 0%;
	text-align: center;
	font-style: italic;
	transform: translateY(-50%);
}
.cv_img{
  position: absolute;
  top: 45%;
  width: 20%;
}
.left_dir{
  left:15%;
}
.mid_dir{
  left:40%;
}
.right_dir{
  left:65%;
}
/*=====  End of Custom Style  ======*/
