

.permoblig {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	line-height: 1.2;
	font-family: laila;
}

.permoblig, .permoblig * {
	position: relative;
	margin: 0;
	padding: 0;
}

.permoblig .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.permoblig .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generaltemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

.coverboardfull, .textblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	font-family: laila;
}

.dottedbackground{
	background-image: url("../images/dooted_bg.png");
	background-size: 175% 175%;
	background-repeat: no-repeat;
}

.firsttitle{
	position: relative;
	color: #000;
	height: auto;
	/*padding: 0% 7%;*/
	/*background-color: #84D9DE;*/
}

.maintitle {
	position: relative;
	width: 100%;
	top: 7.5%;
	transform: translateY(-50%);
	font-weight: bold;
}

.maintitle2 {
	position: relative;
	width: 46%;
	left: 27%;
	padding: 1% 1%;
	background-color: rgba(132, 217, 222, 0.7);
}

.totalsequence {
    background: #D6F86D;
    height: 3.3vmin;
	width: 3.3vmin;
	border: #0FC530 0.4vmin solid;
	opacity: 1;
}

.activeTimeLine {
	background-color: #00dd00;
}

.additional_ltb{
	top: 15%;
	height: 85%;
	background-color: rgba(132, 217, 222, 1);
	position: absolute;
}

.options{
	width: 80%;
	left: 10%;
	margin: 2%;
	padding: 2%;
	background-color: #fff;
	border-radius: 0.5em;
	cursor: pointer;
	border: 0.2em solid #000;
}

.options:hover{
	border: 0.2em solid #FFFF00;
}

.disable, .disable:hover{
	border: 0.05em solid #000;
}

.correct, .correct:hover{
	background: #78c269;
	border: 0.2em solid #78c269;
}

.incorrect, .incorrect:hover{
	background: #f63979;
	border: 0.2em solid #f63979;
}

@media screen and (min-aspect-ratio: 4/3) {
	.maintitle, .maintitle2{
		font-size: 5vh;
	}

	.miantitle_sub{
		font-size: 3vh;
	}

	.options{
		font-size: 3.56vh;
	}

}

@media screen and (max-aspect-ratio: 4/3) {
	.maintitle, .maintitle2{
		font-size: 4.56vw;
	}

	.miantitle_sub{
		font-size: 2.56vw;
	}

	.options{
		font-size: 3vw;
	}

}
