

.permoblig {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: laila;
}

.permoblig, .permoblig * {
	position: relative;
	margin: 0;
	padding: 0;
}

.permoblig .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.permoblig .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generaltemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.firsttitle{
	background-color: #EFE4C5;
	color: #3a3a3a;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}

.coverboardfull, .textblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	font-family: laila;
}

.orange_bg{
	background-color: #FFE599;
}

.purple_bg{
	background-color: #B4A7D6; 
}

.yellow_bg{
	background-color: #FFE599;
}

.table{
	position: absolute;
	width: 88%;
	left: 12%;
	bottom: 1%;
	height: 44%;
	z-index: 100;
}

.dialogcontainer1, .dialogcontainer1_b, .dialogcontainer2, .dialogcontainer2_b, .dialogcontainer3_b, 
.dialogcontainer3, .dialogcontainer4, .dialogcontainer4_b, .dialogcontainer5, .dialogcontainer5_b, 
.dialogcontainer6_b, .dialogcontainer7_b, .dialogcontainer8_b, .dialogcontainer6 {
	position: absolute;
	background-size: 100% 100%;
}

.dialogcontainer1{
	height: 24%;
	width: 50%;
	top: 5%;
	left: 19%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.dialogcontainer2{
	height: 16%;
	width: 29%;
	top: 13%;
	left: 20%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.dialogcontainer3{
	height: 20%;
	width: 45%;
	top: 12%;
	left: 35%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.dialogcontainer4{
	height: 26%;
	width: 52%;
	top: 0%;
	left: 23%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.dialogcontainer5{
	height: 17%;
	width: 35%;
	top: 16%;
	right: 2%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.dialogcontainer6{
	height: 22%;
	width: 47%;
	top: 17%;
	left: 15%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.mirror_rotate{
	transform: scaleX(-1);
}

.dialogcontainer1_b{
	height: 28%;
	width: 45%;
	top: 6%;
	right: 37%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer2_b{
	height: 30%;
	width: 50%;
	top: 9%;
	right: 25%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer3_b{
	height: 28%;
	width: 45%;
	top: 7%;
	left: 0%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer4_b{
	height: 22%;
	width: 38%;
	top: 14%;
	right: 42%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer5_b{
	height: 25%;
	width: 45%;
	top: 18%;
	right: 27%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer6_b{
	height: 22%;
	width: 45%;
	top: 14%;
	right: 25%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer7_b{
	height: 17%;
	width: 37%;
	top: 18%;
	right: 25%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer8_b{
	height: 15%;
	width: 35%;
	top: 27%;
	right: 27%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontent, .dialogcontent2 {
	position: absolute;
	transform: translateY(-50%);
}

.dialogimage{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.dialogcontent{
	top: 45%;
	width: 84%;
	left: 8%;
	font-weight: normal;
}

.dialogcontent2{
	top: 44%;
	width: 85%;
	left: 8%;
	font-weight: normal;
	transform: scaleX(-1) translateY(-50%);
}

.sagar1{
	position: absolute;
	left: 2%;
	height: 76%;
	top: 21%;
}

.niti1{
	position: absolute;
	left: 2%;
	height: 62%;
	top: 34%;
	transform: scaleX(-1);
}

.teacher{
	position: absolute;
	left: 8%;
	height: 85%;
	top: 16%;
}

.teacher_boy_girl_1, .teacher_boy_girl_2{
	position: absolute;
	height: 62%;
	bottom: 2%;
}

.teacher_boy_girl_1{
	right: 14%;
}

.teacher_boy_girl_2{
	right: 2%;
}

.copy_table_1, .copy_table_2_1, .copy_table_2_2{
	position: absolute;
	width: 10%;
	z-index: 101;
	top: 59%;
}

.copy_table_1{
	left: 68%;
}

.copy_table_2_1{
	left: 40%	
}

.copy_table_2_2{
	left: 66%;
}

.one_girl_table, .fourkids_table_1, .fourkids_table_2, .fourkids_table_3, .fourkids_table_4{
	position: absolute;
	height: 70%;
	top: 29%;
}

.one_girl_table{
	left: 52%;
}

.fourkids_table_1{
	left: 20%;
}

.fourkids_table_2{
	left: 35%;
} 

.fourkids_table_3{
	left: 50%;
} 

.fourkids_table_4{
	left: 67%;
}

.bag{
	position: absolute;
	height: 30%;
	bottom: 0%;
	left: 7%;
	z-index: 101;
}

@media screen and (min-aspect-ratio: 4/3) { 
	.dialogcontent, .dialogcontent2, .dialogcontent3, .balckboard_text_left{
		font-size: 3.26vh;	
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	.dialogcontent, .dialogcontent2, .dialogcontent3, .balckboard_text_left{
		font-size: 2.32vw;	
	}
}