

.permoblig {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
	color: #5a5a5a;
	line-height: 1.2;
	font-family: laila;
}

.permoblig, .permoblig * {
	position: relative;
	margin: 0;
	padding: 0;
}

.permoblig .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.permoblig .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.generaltemplateblock, .contentblock{
	position: absolute;
	height: 100%;
	width: 100%;
}

.firsttitle{
	background-color: #EFE4C5;
	color: #3a3a3a;
}

.imageblock{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
}

.coverboardfull, .textblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textblock{
	font-family: laila;
}

.maintitle {
	position: relative;
	width: 100%;
}

.maintitle_sub{
	position: relative;
	width: 40%;
	left: 55%;
	text-align: left;
}

.dialogcontainer1, .dialogcontainer1_b, .dialogcontainer2, .dialogcontainer2_b, .dialogcontainer3_b {
	position: absolute;
	background-size: 100% 100%;
}

.dialogcontainer1{
	height: 30%;
	width: 50%;
	top: 10%;
	left: 28%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.dialogcontainer2{
	height: 22%;
	width: 38%;
	top: 17%;
	left: 28%;
	padding: 1em 1em 2em 1em;
	background-image: url("../images/padbubble-16.png");
}

.mirror_rotate{
	transform: scaleX(-1);
}

.dialogcontainer1_b{
	height: 36%;
	width: 52%;
	top: 4%;
	right: 25%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer2_b{
	height: 30%;
	width: 50%;
	top: 9%;
	right: 25%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontainer3_b{
	height: 28%;
	width: 42%;
	top: 10%;
	right: 25%;
	padding: 1em 1em 1em 1em;
	background-image: url("../images/bubblesc.png");
}

.dialogcontent, .dialogcontent2 {
	position: absolute;
	transform: translateY(-50%);
}

.dialogimage{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.dialogcontent{
	top: 45%;
	width: 80%;
	left: 10%;
	font-weight: normal;
}

.dialogcontent2{
	top: 44%;
	width: 85%;
	left: 8%;
	font-weight: normal;
	transform: scaleX(-1) translateY(-50%);
}

.librarian, .teacher{
	position: absolute;
	height: 60%;
	top: 35%;	
}

.teacher{
	left: 20%;
}

.librarian{
	right: 15%;
}

@media screen and (min-aspect-ratio: 4/3) { 
	.maintitle{
		font-size: 6vh;
	}
	
	.miantitle_sub{
		font-size: 3vh;
	}
	
	.dialogcontent, .dialogcontent2, .dialogcontent3{
		font-size: 3.26vh;	
	}
	
}

@media screen and (max-aspect-ratio: 4/3) { 
	.maintitle{
		font-size: 5.56vw;
	}
	
	.miantitle_sub{
		font-size: 2.56vw;
	}
	
	.dialogcontent, .dialogcontent2, .dialogcontent3{
		font-size: 2.32vw;	
	}
	
}