.bg-p2{
	background-color: #5EA9E9;
}

.top-text-p2 {
	position: absolute;
	width: 40%;
	height: 40%;
	padding: 2% 1%;
	font-family: sniglet;
	background-color: #FFEDD6;
	left: 2%;
	top: 2%;
	z-index: 15;
	border-radius: 3vmin;
	font-size: 2.3vw;
	text-align: left;
	color: #434343;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
@media(min-aspect-ratio:4/3){
	.top-text-p2{
		font-size: 3vh;
	}
}
.top-text-p2>p {
	position: relative;
	width: 100%;
}



.equationblock{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.equationblock>*{
	position: relative;
}
.eq-data{
	font-family: abeezee;
	font-size: 7.3vw;
	text-align: center;
}
@media(min-aspect-ratio:4/3){
	.eq-data{
		font-size: 10vh;
	}
}

.sign-img{
	width: 8%;
}
.equal-img{
	width: 8%;
}
.data-lhs{
	width: 8%;
}
.data-rhs{
	width: 16%;
}

.equation-top-left{
	position: absolute;
	top: 2%;
	left: 47.5%;
	width: 50%;
	height: 20%;
}
.equation-top-left-2{
	position: absolute;
	top: 22%;
	left: 47.5%;
	width: 50%;
	height: 20%;
}


.data-lhs-20{
	width: 20%;
}
.blank-data{
	background-color: white;
	border-radius: 2vmin;
	width: 20%;
	border: 0.4vmin solid #666666;
}

.middle-p2-text{
	position: absolute;
	width: 100%;
	font-family: sniglet;
	background-color: #FF7F78;
	left: 0%;
	top: 45%;
	padding: 1% 2%;
	z-index: 15;
	font-size: 3.5vw;
	color: white;
}
@media(min-aspect-ratio:4/3){
	.middle-p2-text{
		font-size: 4.8vh;
	}
}
.bottom-option-container{
	position: absolute;
	bottom: 15%;
	width: 100%;
	height: 18%;
	padding: 0% 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.bottom-option{
	position: relative;
	width: 15%;
	height: 100%;
	font-family: abeezee;
	z-index: 15;
	font-size: 6vw;
	color: white;
}

@media(min-aspect-ratio:4/3){
	.bottom-option{
		font-size: 7.5vh;
	}
}
.bttexxt, .bttexxt-nohover{
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 1vmin 0px;
	background-color: #7B74D4;
	border-radius: 2vmin;
	border: 0.5vmin solid transparent;
}
.bttexxt:hover{
	background-color: #F6B26B;
	border-color: #E69138;
	color: #434343;
}
.bttexxt>p, .bttexxt-nohover>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cor-incor{
	display: none !important;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5vmin;
	width: 40%;
}
.incorrect-answer{
	border: 0.5vmin solid #980000;
	background-color: #FF0000!important;
	color: #000000!important;
}
.correct-answer{
	border: 0.5vmin solid #DEEF3C;
	background-color: #98C02E!important;
	color: #FFFFFF!important;
}
.display-block{
	display: block;
}



.fill-option{
	position: relative;
	width: 15%;
	height: 100%;
	font-family: abeezee;
	z-index: 15;
	font-size: 6vw;
	color: white;
}

@media(min-aspect-ratio:4/3){
	.fill-option{
		font-size: 7.5vh;
	}
}




.equation-top-2{
	position: absolute;
	top: 27%;
	left: 10%;
	width: 80%;
	height: 20%;
}
.equation-top-1{
	position: absolute;
	top: 7%;
	left: 10%;
	width: 80%;
	height: 20%;
}
.bottom-text-p2 {
	position: absolute;
	width: 95%;
	height: 30%;
	padding: 2% 1%;
	font-family: sniglet;
	background-color: #FFEDD6;
	left: 2.5%;
	bottom: 10%;
	z-index: 15;
	border-radius: 3vmin;
	font-size: 4.7vw;
	text-align: center;
	color: #434343;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
@media(min-aspect-ratio:4/3){
	.bottom-text-p2{
		font-size: 6vh;
	}
}
.bottom-text-p2>p {
	position: relative;
	width: 100%;
}


.header-p2 {
	position: absolute;
	width: 100%;
	height: 12%;
	font-family: sniglet;
	background-color: #315B75;
	left: 0%;
	top: 0%;
	z-index: 15;
	font-size: 4.4vw;
	color: white;
}
@media(min-aspect-ratio:4/3){
	.header-p2{
		font-size: 5.5vh;
	}
}
.header-p2-text {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.equation-top{
	position: absolute;
	top: 20%;
	left: 15%;
	width: 70%;
	height: 20%;
}

.middle-p2-text-2{
	position: absolute;
	width: 100%;
	font-family: sniglet;
	background-color: #F0A694;
	left: 0%;
	top: 45%;
	padding: 1% 2%;
	z-index: 15;
	font-size: 3.3vw;
	color: white;
}
@media(min-aspect-ratio:4/3){
	.middle-p2-text-2{
		font-size: 4.5vh;
	}
}

.equation-top-3{
	position: absolute;
	top: 12%;
	left: 10%;
	width: 80%;
	height: 20%;
}
.equation-bottom-1{
	position: absolute;
	bottom: 15%;
	right: 30%;
	width: 40%;
	height: 20%;
}
.equation-bottom-1 .equal-img{
	width: 20%;
}
.guess-number{
	width: 15%;
	background-color: #EFEFEF;
	border-radius: 2vmin;
}
.submit-button, .tryagain-button{
	position: absolute;
	cursor: pointer;
	right: 8%;
	width: 20%;
	font-family: sniglet;
	padding: 0.5% 0%;
	border-radius: 2vmin;
	font-size: 3.5vw;
}
.submit-button{
	pointer-events: none;
	bottom: 20%;
	background-color: #999999;
	color: black;
	border: 0.5vmin solid #666666;
}
.submit-button:hover{
	transform: scale(1.05);
}
@media(min-aspect-ratio:4/3){
	.submit-button, .tryagain-button{
		font-size: 4.5vh;
	}
}
.active-submit{
	pointer-events: all;
	background-color: #FFCD53;
	border-color: #B45F06;
}
.tryagain-button{
	display: none;
	top: 82%;
	background-color: #FC5C9C;
	border: 0.5vmin solid #FF93C2;
	color: white;
}
.tryagain-button:hover{
	background-color: #FCB2C1;
	border-color: #FF93C2;
}
.input-option{
	position: relative;
	width: 25%;
	height: 100%;
}
.default-input-p2{
	position: absolute;
	top: 10%;
	left: 0%;
	height: 90%;
	width: 100%;
	background-color: #EFEFEF;
	border-radius: 2vmin;
	border: 0.5vmin solid #666666;
	font-family: abeezee;
	font-size: 6.5vw;
	text-align: center;
}
@media(min-aspect-ratio:4/3){
	.default-input-p2{
		font-size: 8vh;
	}
}
















.width-15{
	width: 15%;
}

.color-black{
	color: #000
}
