/**********************
 * for slider portion *
 **********************/

.top-text-block-2{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 15%;
	background-color: #A64D79;
}
.top-equation-text-2{
	position: absolute;
	top: 50%;
	left: 2.5%;
	transform: translateY(-50%);
	width: 95%;
	color: white;
	font-size: 3.2vw;
	font-family: sniglet;
}
@media(min-aspect-ratio:4/3){
	.top-equation-text-2{
		font-size: 4vh;
	}
}
.bg-diy-inside-2{
	background-color: #FAD270;
}

.equationblock2{
	position: absolute;
	background-color: #FFEDD6;
	color: #212121;
	top: 15%;
	left: 0%;
	height: 45%;
	width: 100%;
	padding: 0% 5%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.equationblock2>*{
	position: relative;
}
.eq-button{
	cursor: pointer;
	width: 20%;
	background-color: #999999;
	color: white;
	font-family: sniglet;
	padding: 1% 0%;
	border-radius: 2vmin;
	border: 0.5vmin solid #666666;
	font-size: 4.5vw;
}
.eq-button:hover{
	background-color: #80A0F0;
	border-color: #B7D4FF;
}
@media(min-aspect-ratio:4/3){
	.eq-button{
		font-size: 5.7vh;
	}
}

.eq-data2{
	font-family: abeezee;
	font-size: 7vw;
}
@media(min-aspect-ratio:4/3){
	.eq-data2{
		font-size: 9vh;
	}
}

.input-slider{
	width: 13%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.input-slider-data{
	width: 100%;
	height: 55%;
	background-color: white;
	border: 0.5vmin solid #666666;
	border-radius: 3vmin;
}
.slider-data{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.incrementer, .decrementer{
	cursor: pointer;
	height: 20%;
}

.sign-img2{
	height: 25%;
}
.equal-img2{
	height: 20%;
}

.bottom-number-labels{
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 100%;
	height: 5%;
	background-color: black;
	color: white;
	font-family: Arial;
	font-size: 2vw;
}
@media(min-aspect-ratio:4/3){
	.bottom-number-labels{
		font-size: 2.6vh;
	}
}
.bottom-label-text{
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.number-slider-div{
	position: absolute;
	left: 0%;
	bottom: 5%;
	width: 100%;
	height: 20%;
}
.slider-common{
	position: absolute;
	top: 10%;
	height: 35%;
}
.initial-slider{
	left: 0%;
	width: 30%;
	border-top-left-radius: 2vmin;
	border-bottom-left-radius: 2vmin;
	background-color: #49C9D7;
}
.added-slider{
	background-color: #FF0000;
}
.slider-arrow{
	position: absolute;
	top: 0%;
	height: 100%;
	left: 20%;
	transform: translateX(-50%);
}


.try-again-button{	cursor: pointer;
	width: 20%;
	color: white;
	font-family: sniglet;
	padding: 1% 0%;
	border-radius: 2vmin;
	border: 0.5vmin solid #FF93C2;
	background-color: #FC5C9C;
	font-size: 3.5vw;
}

@media(min-aspect-ratio:4/3){
	.try-again-button{
		font-size: 4.5vh;
	}
}
.try-again-button:hover{
	background-color: #FC5C9C;
	border-color: #FF93C2;
}
.feedbacktext-2{
	display: none;
	z-index: 5;
	left: 50%;
	bottom: 25%;
	transform: translateX(-50%);
	position: absolute;
	font-size: 3.5vw;
	color: #212121;
}
@media(min-aspect-ratio:4/3){
	.feedbacktext-2{
		font-size: 4.5vh;
	}
}








.bg-p4{
	background-color: #5EA9E9;
}

.big-textblock {
	position: absolute;
	width: 95%;
	height: 70%;
	padding: 3% 3%;
	font-family: abeezee;
	background-color: #FFEDD6;
	left: 2.5%;
	top: 15%;
	z-index: 15;
	border-radius: 6vmin;
	font-size: 5vw;
	text-align: left;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}
@media(min-aspect-ratio:4/3){
	.big-textblock{
		font-size: 6.5vh;
	}
}
.big-textblock>p {
	position: relative;
	width: 100%;
}










.bg-p4-2{
	background-color: #FFEDD6;
}

.top-instruction{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 12%;
	background-color: #7B9ED3;
}
.top-instruction-text{
	position: absolute;
	top: 50%;
	left: 2.5%;
	transform: translateY(-50%);
	width: 95%;
	color: white;
	font-size: 3vw;
	font-family: sniglet;
}
@media(min-aspect-ratio:4/3){
	.top-instruction-text{
		font-size: 3.9vh;
	}
}





.equationblock{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.equationblock>*{
	position: relative;
}
.eq-data{
	font-family: abeezee;
	font-size: 7.3vw;
	text-align: center;
}
@media(min-aspect-ratio:4/3){
	.eq-data{
		font-size: 10vh;
	}
}

.sign-img{
	width: 8%;
}
.equal-img{
	width: 8%;
}
.blank-data{
	background-color: white;
	border-radius: 2vmin;
	width: 20%;
	border: 0.4vmin solid #666666;
}

.incorrect-answer{
	border: 0.5vmin solid #980000;
	background-color: #FF0000!important;
	color: #000000!important;
}
.correct-answer{
	border: 0.5vmin solid #DEEF3C;
	background-color: #98C02E!important;
	color: #FFFFFF!important;
}

.cor-incor{
	display: none;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5vmin;
	width: 40%;
}
.submit-button, .tryagain-button{
	position: absolute;
	cursor: pointer;
	bottom: 5%;
	width: 20%;
	font-family: sniglet;
	padding: 0.5% 0%;
	border-radius: 2vmin;
	font-size: 3.5vw;
}
.submit-button{
	pointer-events: none;
	left: 5%;
	background-color: #666666;
	color: #D9D9D9;
	border: 0.5vmin solid #434343;
}
.submit-button:hover{
	background-color: #80A0F0;
	border-color: #B7D4FF;
}
@media(min-aspect-ratio:4/3){
	.submit-button, .tryagain-button{
		font-size: 4.5vh;
	}
}
.active-submit{
	pointer-events: all;
	background-color: #3C78D8;
	border-color: #1155CC;
	color: white;
}
.tryagain-button{
	display: none;
	left: 28%;
	background-color: #FC5C9C;
	border: 0.5vmin solid #FF93C2;
	color: white;
}
.tryagain-button:hover{
	background-color: #FCB2C1;
	border-color: #FF93C2;
}
.input-option{
	position: relative;
	width: 25%;
	height: 100%;
}
.default-input-p2{
	position: absolute;
	top: 10%;
	left: 0%;
	height: 90%;
	width: 100%;
	background-color: #EFEFEF;
	border-radius: 2vmin;
	border: 0.5vmin solid #666666;
	font-family: abeezee;
	font-size: 6.5vw;
	text-align: center;
}
@media(min-aspect-ratio:4/3){
	.default-input-p2{
		font-size: 8vh;
	}
}

.feedback-soln{
	display: none;
	position: absolute;
	right: 2.5%;
	top: 15%;
	width: 40%;
	height: 80%;
	border: 0.3vmin solid black;
	background-color: #E3B59C;
	color: #434343;
	font-size: 4vw;
	padding: 4% 2%;
	text-align: left;
}
@media(min-aspect-ratio:4/3){
	.feedback-soln{
		font-size: 5.4vh;
	}
}
.feedback-soln>*{
	opacity: 0;
}
.total-soln-text{
	white-space: pre;
}
.soln-conclusion-text{
	margin-top: 10%;
}

.lhs-soln{
	display: inline-block;
	width: 40%;
	text-align: right;
}
.rhs-soln{
	display: inline-block;
	width: 60%;
	text-align: left;
}






.equation-multiply{
	position: absolute;
	left: 5%;
	width: 40%;
	height: 20%;
}
.equation-multiply .equal-img{
	width: 16%;
}
.equation-multiply>p{
	width: 25%;
}
.equation-ex-1{
	top: 20%;
}
.equation-ex-2{
	top: 50%;
}



.equation-divide{
	position: absolute;
	left: 5%;
	width: 40%;
	height: 30%;
}
.equation-divide .equal-img{
	width: 16%;
}
.equation-divide>p{
	width: 25%;
}





.div-soln-step-1, .div-soln-step-1>.rhs-soln{
	display: flex;
	align-items: center;
}


.text-hidden{
	visibility: hidden;
}
.left-aligned{
	text-align: left;
}
.display-block{
	display: block;
}





.soln-fade-in-0 {
	animation: appear 1s linear 1s both;
	-webkit-animation: appear 1s linear 1s both;
}
.soln-fade-in-1 {
	animation: appear 1s linear 2s both;
	-webkit-animation: appear 1s linear 2s both;
}
.soln-fade-in-2 {
	animation: appear 1s linear 3s both;
	-webkit-animation: appear 1s linear 3s both;
}
.soln-fade-in-3 {
	animation: appear 1s linear 4s both;
	-webkit-animation: appear 1s linear 4s both;
}
.soln-fade-in-4 {
	animation: appear 1s linear 5s both;
	-webkit-animation: appear 1s linear 5s both;
}
.soln-fade-in-5 {
	animation: appear 1s linear 6s both;
	-webkit-animation: appear 1s linear 6s both;
}