.lesson-title,.lesson-title2 {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	z-index: 15;
	font-size: 5vw;
	font-family: abeezee;
	color: white;
}
.lesson-title2{
	top: 30%;
	font-size: 3vw;
	color: #674ea6;
}
@media(min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 6.5vh;
	}
}
.fullimage{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
.bg-p1{
	background-color: #5EA9E9;
}

.header-p1 {
	position: absolute;
	width: 100%;
	height: 12%;
	font-family: sniglet;
	background-color: #68594C;
	left: 0%;
	top: 0%;
	z-index: 15;
	font-size: 4.4vw;
	color: white;
}
@media(min-aspect-ratio:4/3){
	.header-p1{
		font-size: 5.5vh;
	}
}
.header-p1-text {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}



.equationblock{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.equationblock>*{
	position: relative;
}
.eq-data{
	font-family: abeezee;
	font-size: 7.3vw;
	text-align: center;
}
@media(min-aspect-ratio:4/3){
	.eq-data{
		font-size: 10vh;
	}
}

.sign-img{
	width: 8%;
}
.equal-img{
	width: 8%;
}
.apple-lhs, .data-lhs{
	width: 8%;
}
.apple-rhs, .data-rhs{
	width: 16%;
}

.equation-top{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 20%;
	padding: 0% 5%;
}
.equation-bottom{
	position: absolute;
	top: 60%;
	width: 100%;
	height: 20%;
	padding: 0% 5%;
}







.blank-data{
	background-color: white;
	border-radius: 2vmin;
	width: 12%;
	border: 0.4vmin solid #666666;
	padding: 1% 0%;
}
.middle-p1-text{
	position: absolute;
	width: 100%;
	font-family: sniglet;
	background-color: #F0A694;
	left: 0%;
	top: 45%;
	padding: 1% 2%;
	z-index: 15;
	font-size: 3.3vw;
	color: white;
}
@media(min-aspect-ratio:4/3){
	.middle-p1-text{
		font-size: 4.5vh;
	}
}
.bottom-option-container{
	position: absolute;
	bottom: 15%;
	width: 100%;
	height: 18%;
	padding: 0% 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.bottom-option{
	position: relative;
	width: 15%;
	height: 100%;
	font-family: abeezee;
	z-index: 15;
	font-size: 6vw;
	color: white;
}

@media(min-aspect-ratio:4/3){
	.bottom-option{
		font-size: 7.5vh;
	}
}
.bttexxt{
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 1vmin 0px;
	background-color: #7B74D4;
	border-radius: 2vmin;
	border: 0.5vmin solid transparent;
}
.bttexxt:hover{
	background-color: #F6B26B;
	border-color: #E69138;
	color: #434343;
}
.bttexxt>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cor-incor{
	display: none;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5vmin;
	width: 40%;
}
.incorrect-answer{
	border: 0.5vmin solid #980000;
	background-color: #FF0000!important;
	color: #000000!important;
}
.correct-answer{
	border: 0.5vmin solid #DEEF3C;
	background-color: #98C02E!important;
	color: #FFFFFF!important;
}
.display-block{
	display: block;
}



.fill-option{
	position: relative;
	width: 15%;
	height: 100%;
	font-family: abeezee;
	z-index: 15;
	font-size: 6vw;
	color: white;
}

@media(min-aspect-ratio:4/3){
	.fill-option{
		font-size: 7.5vh;
	}
}

.equation-bottom-2{
	position: absolute;
	top: 55%;
	width: 100%;
	height: 40%;
	padding: 0% 10%;
}

.apple-lhs-2{
	width: 5%;
}
.apple-rhs-2{
	width: 10%;
}
