body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.grayBg{
  background: #E0DFD5;
}
.topTxt
{
  position: absolute;
  left: 0%;
  width: 100%;
  background: #AA865D;
  color: #fff;
  font-family: laila !important;
  font-size: 3vw;
  padding: 1%;
}
.bigBox
{
  position: absolute;
  border: 4px solid #9C6D3C;
  top: 25%;
  height: 66%;
  width: 40%;
  border-radius: 2em;
}
.lbox
{
  left: 5%;
}
.rbox
{
  right: 5%;
}
.txtContainer
{
  position: absolute;
  left: 0%;
  width: 100%;
  height: 20%;
}
.top{
  top: 0%;
}
.mid{
  top: 45%;
}
.btm{
  top: 70%;
}
.boxTop
{
  position: absolute;
  top: 5%;
  left: 46%;
  transform: translateX(-46%);
  background: #6D9EEB;
  font-family: laila !important;
  color: #fff;
  font-size: 3vw;
  padding: 2%;
  width: 40%;
  border-radius: 0.5em;
}
.midtxt{
  position: absolute;
  color: #fff;
  font-family: laila !important;
  padding: 1%;
  font-size: 3vw;
  width: 17%;
}
.orangebox{
  background: #F09D51;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}
.mtleft{
  left: 15.5%;
}
.mtright{
  right: 20%;
}
.mtb1, .mtb2{
  color: #000;
}
.fullpagebox{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #fff;
  border: 4px solid #9C6D3C;
  border-radius: 5em;
}
.midbox{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-80%,-20%);
  height: 61%;
  width: 31%;
}
.boxtext{
  position: relative;
  font-size: 5vh;
}
.blueHighlightTXt{
  color: #0097A7;
}
.sideOrgBox{
  position: absolute;
  left: 65%;
  height: 30%;
  width: 34%;
  background: #F09D51;
  color: #fff;
  top: 20%;
  padding: 1.8%;
  border-radius: 1em;
}
.btmTxtBox{
  position: absolute;
  top: 87%;
  left: 50%;
  width: 76%;
  height: 20%;
  transform: translate(-49%,-99%);
}
.optionsdiv {
  top: 65%;
  display: block;
  width: 66%;
  left: 26%;
  transform: translateX(-4%);
  text-align: center;
  position: absolute;
  height: 22%;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.optionsdiv p {
  display: block;
  background: #7B5DC8;
  border-radius: 6px;
  font-size: 4vmin;
  width: 80%;
  height: 65%;
  top: 0%;
  left: 6%;
  color: #ffffff;
  font-family: sniglet;
  text-align: center;
  padding: 6%;
  border: 4px solid  #7B5DC8;
}

.optionscontainer {
  height: 100%;
  width: 100%;
}

.imagestartpos {
  width: 19%;
  margin-left: 1%;
  display: none;
  top: 89%;
  transform: translateY(-50%);
  left: 40%;
  position: absolute;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #F9CB9C;
    border:4px solid #E69138;
}
.question{
  position: absolute;
  top: 15%;
  left: 0%;
  font-size: 2.5vw;
  width: 100%;
  text-align: center;
}
.sentence {
  position: absolute;
  top: 38%;
  left: 0%;
  width: 100%;
  font-size: 2.5vw;
}
.midLongBox{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
}
.transparent{
  background: transparent !important;
  color: #000 !important;
  border: transparent !important;
}
.topFifty{
  top: 50%;
  left: 20%;
}

.arrow{
  z-index: 20;
  position: absolute;
  width: 11%;
}
.arup{
  top: 22%;
  left: 52.5%;
}
.arst{
  top: 34%;
  left: 50.5%;
  width: 13%;
}
.ardn{
  top: 36%;
  left: 51.5%;
  width: 12%;
}
.box{
  position: absolute;
  top: 28%;
  left: 7%;
  background: #fff;
  border: 4px solid #9C6D3C;
  height: 58%;
  width: 27%;
  border-radius: 1em;
}
.boxTopTxt{
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
  font-size: 4.5vh;
  padding: 2% 3%;
}
.undLine{
  position: absolute;
  top: 30%;
  background: #000;
  width: 80%;
  height: .5%;
  left: 10%;
}
.boxbtmTxt{
  position: relative;
  top: 33%;
  font-size: 4.5vh;
  left: 0%;
  width: 100%;
}

.sec{
  left: 38.5%;
}
.third{
  left: 70%;
}
.twinArw{
  position: absolute;
  top: 38%;
  left: 15%;
  width: 20%;
}
.twnsec{
  left: 64%;
}
.dwn_arw{
  position: absolute;
  top: 36%;
  left: 14%;
  width: 11%;
  transform: rotateY(180deg);
}
.dwnSec{
  left: 64%;
}
.imgContainer{
  position: absolute;
  top: 46%;
  left: 15%;
  height: 17%;
  width: 20%;
  background: #F09D51;
  border-radius: 1em;
}
.drghik, .drghuk{
  left: 64%;
}
.sign{
  position: absolute;
  top: 0%;
  left: 27%;
  width: 50%;
}
.pinkTXt{
  color: #F81F92;
}
.ans{
  position: absolute;
  top: 38%;
  left: 0%;
  width: 100%;
  font-size: 3vw;
  z-index: 100;
}
.serialtxt{
  display: none;
}
@media (min-aspect-ratio:4/3){
	.topletter{
		font-size: 2.6vw;
	}
  .boxbtmTxt, .boxTopTxt{
    font-size: 4.5vh;
  }
  .boxtext{
    font-size: 5vh;
  }
  /*.boxbtmTxt, .boxTopTxt{
    font-size: 2vw;
  }*/
}
