body:lang(np), body:lang(np) * {
    font-family: laila !important;
}
.stryXtx{
  position: absolute;
  color: #9C6D3C;
  font-size: 2.3vw;
  top: 2%;
  left: 0%;
}
.story{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
}
.fstTxt{
  left: 3%;
  width: 38%;
}
.background{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.hide{
  opacity: 0;
}

.t15{
  top: 15%;
}
.speechbox{
  opacity: 0;
}
.sp-1{
  position: absolute;
  top: 0%;
  left: 52%;
  width: 39%;
  height: 41%;
  padding: 7% 6% 8% 5%;
}
.show{
  opacity: 1;
}
.box{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.txt1{
  font-size: 3.5vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fadeInFast{
  animation: fadeIn 1s linear forwards !important;
}
@keyframes fadeIn {
  100%{opacity: 1;}
}


.sld4_sp{
  top: 14%;
  left: 68%;
  width: 32%;
  height: 32%;
  padding: 4% 6% 8% 5%;
}
.sld5_sp{
  top: 5%;
  left: 44%;
  width: 47%;
  height: 33%;
  padding: 3% 3% 4% 3%;
}
.sld3_sp{
  top: 55%;
  left: 33%;
  width: 39%;
  height: 33%;
  padding: 5% 5% 4% 3%;
}
.sld4_sec_sp{
  top: 15%;
  left: 11%;
  width: 58%;
  height: 32%;
  padding: 3% 3% 5% 3%;
}
.sld5_sec_sp{
  top: 3%;
  left: 30%;
  width: 58%;
  height: 25%;
  padding: 3% 3% 5% 3%;
}
.sld6_sp{
  position: absolute;
  width: 38%;
  height: 19%;
  padding: 3% 3% 3% 3%;
}
.s7Fst{
  top: 32%;
  left: 22%;
  opacity: 0;
  width: 25%;
}
.s7Sec{
  top: 69%;
  left: 21%;
  opacity: 0;
}
.wid50{
  left: 38%;
  width: 50%;
}
.rotated{
  transform: rotateX(180deg);
}

.bgAnim{
  animation: zoom 2s linear forwards;
}

@keyframes zoom {
  25%{transform: perspective(500px) translateZ(0px);right: 0%;}
  100%{transform: perspective(500px) translateZ(125px);right: 13%;}
}
.zoomOutz{
  animation: zoomout 2s linear forwards;
}
@keyframes zoomout{
  0%{top:0%; transform: perspective(500px) translateZ(104px);right: 13%;}
  100%{top:0%; transform: perspective(500px) translateZ(0px);right: 0%;}
}

@media (min-aspect-ratio:4/3){
	.stryXtx, .story{
		font-size: 4vh;
	}
  .txt1{
		font-size: 3.5vh;
  }
}
