body:lang(np), body:lang(np) * {
    font-family: laila !important;
}

.grayBg{
  background: #E0DFD5;
}
.topTxt
{
  position: absolute;
  left: 0%;
  width: 100%;
  background: #AA865D;
  color: #fff;
  font-family: laila !important;
  font-size: 3vw;
  padding: 1%;
}
.bigBox
{
  position: absolute;
  border: 4px solid #9C6D3C;
  top: 25%;
  height: 66%;
  width: 40%;
  border-radius: 2em;
}
.lbox
{
  left: 5%;
}
.rbox
{
  right: 5%;
}
.txtContainer
{
  position: absolute;
  left: 0%;
  width: 100%;
  height: 20%;
}
.top{
  top: 0%;
}
.mid{
  top: 45.4%;
}
.btm{
  top: 70%;
}
.boxTop
{
  position: absolute;
  top: 5%;
  left: 46%;
  transform: translateX(-46%);
  background: #6D9EEB;
  font-family: laila !important;
  color: #fff;
  font-size: 3vw;
  padding: 2%;
  width: 40%;
  border-radius: 0.5em;
}
.midtxt{
  position: absolute;
  color: #fff;
  font-family: laila !important;
  padding: 1%;
  font-size: 3vw;
  width: 17%;
}
.orangebox{
  background: #F09D51;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}
.mtleft{
  left: 16%;
}
.mtright{
  right: 20%;
}
.mtb1, .mtb2{
  color: #000;
}
.fullpagebox{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #fff;
  border: 4px solid #9C6D3C;
  border-radius: 5em;
}
.midbox{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-65%,-6%);
  height: 61%;
  width: 67%;
  text-align: left;
}
.boxtext{
  position: relative;
  font-size: 2.6vw;
}
.blueHighlightTXt{
  color: #0097A7;
}
.sideOrgBox{
  position: absolute;
  left: 65%;
  height: 30%;
  width: 34%;
  background: #F09D51;
  color: #fff;
  top: 20%;
  padding: 1.8%;
  border-radius: 1em;
}
.btmTxtBox{
  position: absolute;
  top: 87%;
  left: 50%;
  width: 76%;
  height: 20%;
  transform: translate(-49%,-99%);
}
.optionsdiv {
  top: 65%;
  display: block;
  width: 66%;
  left: 26%;
  transform: translateX(-4%);
  text-align: center;
  position: absolute;
  height: 15%;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.optionsdiv p {
  display: block;
  background: #0097A7;
  border-radius: 6px;
  font-size: 4vmin;
  width: 80%;
  height: 90%;
  top: 37%;
  left: 6%;
  color: #ffffff;
  font-family: sniglet;
  text-align: center;
  padding: 3% 20%;
}

.optionscontainer {
  height: 82%;
  width: 100%;
}

.imagestartpos {
  width: 26%;
  margin-left: 1%;
  display: none;
  top: 57%;
  transform: translateY(-50%);
  left: 85%;
  position: absolute;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #F9CB9C;
    border:4px solid #E69138;
}
.question{
  position: absolute;
  top: 20%;
  left: 0%;
  font-size: 3vw;
  width: 100%;
  text-align: center;
}
.sentence {
  position: absolute;
  top: 38%;
  left: 0%;
  width: 100%;
  font-size: 3vw;
}
.midLongBox{
  position: absolute;
  top: 40%;
  left: 0%;
  width: 100%;
}
.transparent{
  background: transparent !important;
  color: #000 !important;
}
.topFifty{
  top: 50%;
}
.block{
  position: absolute;
  top: 19%;
  left: 5%;
  height: 58%;
  width: 25%;
}
.blk2{
  left: 37.5%;
}
.blk3{
  left: 70%;
}
.droppable{
  position: absolute;
  top: 80%;
  background: #EFEFEF;
  width: 100%;
  height: 20%;
  border-radius: 1em;
  border: 4px solid #B7B7B7;
}
.draggablecontainerclass{
  position: absolute;
  top: 80%;
  left: 2%;
  width: 96%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.dragable{
  position: relative;
  width: 26%;
  height: 100%;
  background: #7B5DC8;
  color: #fff;
  padding: .5%;
  font-size: 5vh;
  border-radius: .5em;
  text-align: center;
}
.dragable{
  cursor: pointer;
}
.hovered{
  border: 4px dashed #999999;
}
.blkimg{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 82%;
}
.imgName{
  position: absolute;
  top: 80%;
  width: 100%;
}
.imgName p{
  font-size: 3vw;
}
.topBoxtxt
{
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
  font-size: 3vw;
}
.btmBoxtxt
{
  position: absolute;
  bottom: 4%;
  left: 0%;
  width: 100%;
  font-size: 2.2vw;
}
.twoVw{
  font-size: 3.3vh !important;
}
.lastImgTxt{
  position: absolute;
  top: 20%;
  width: 30%;
  height: 70%;
}
.lit1{
  left: 10%;
}
.lit2{
  left: 62%;
}
.smallFnt{
  font-size: 2.6vw;
}

.corAns{
  position: absolute;
  font-size: 2vw;
  left: 0%;
  top: 0%;
  width: 100%;
  padding: 4%;
  color: #fff;
}
.arrow{
  z-index: 20;
  position: absolute;
  width: 11%;
}
.arup{
  top: 22%;
  left: 52.5%;
}
.arst{
  top: 34%;
  left: 47.5%;
  width: 16%;
}
.ardn{
  top: 37%;
  left: 54.5%;
  width: 9%;
}
.box{
  position: absolute;
  top: 28%;
  left: 7%;
  background: #fff;
  border: 4px solid #9C6D3C;
  height: 58%;
  width: 27%;
  border-radius: 1em;
}
.boxTopTxt{
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
  font-size: 4.5vh;
  padding: 2% 3%;
}
.undLine{
  position: absolute;
  top: 30%;
  background: #000;
  width: 80%;
  height: .5%;
  left: 10%;
}
.boxbtmTxt{
  position: relative;
  top: 33%;
  font-size: 4.5vh;
  left: 0%;
  width: 100%;
}

.sec{
  left: 38.5%;
}
.third{
  left: 70%;
}.twinArw{
  position: absolute;
  top: 38%;
  left: 15%;
  width: 20%;
}
.twnsec{
  left: 64%;
}
.dwn_arw{
  position: absolute;
  top: 36%;
  left: 23%;
  width: 11%;
  /*transform: rotateY(180deg);*/
}
.dwnSec{
  left: 73%;
}
.imgContainer{
  position: absolute;
  top: 46%;
  left: 15%;
  height: 17%;
  width: 20%;
  background: #F09D51;
  border-radius: 1em;
}
.drghik, .drghuk{
  left: 64%;
}
.sign{
  position: absolute;
  top: 0%;
  left: 27%;
  width: 50%;
}
.serialtxt{
    display: none;
}
@media (min-aspect-ratio:4/3){
	.topletter{
		font-size: 5vh;
	}
  .boxbtmTxt, .boxTopTxt{
    font-size: 4.5vh;
  }
  .twoVw{
    font-size: 3.3vh;
  }
  .dragable{
    font-size: 5vh;
  }
  .topBoxtxt{
    font-size: 5.5vh;
  }
  .boxtext{
    font-size: 4.3vh;
  }
}
@media (max-aspect-ratio:4/3){
	.topletter{
		font-size: 2.6vw;
	}
  .boxbtmTxt, .boxTopTxt{
    font-size: 2.9vw;
  }
  .twoVw{
    font-size: 2vw;
  }

  .dragable{
    font-size: 3vw;
  }
  .topBoxtxt{
    font-size: 3vw;
  }
  .boxtext{
    font-size: 2.5vw;
  }
}
