<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("css/common.css");
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("exercise/css/ex3.css");
</script>
<!-- <![CDATA[>]]>  -->
<div class="activity_container">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
            <div class = "vertical-horizontal-center">
    </div>
	{{#if uppertextblock}}
    <div class="textblock {{uppertextblockadditionalclass}}">
    	{{#each uppertextblock}}
    		<p class="question_number my_font_big {{question_no_class}}"></p>
       		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
    	{{/each}}
    </div>
    {{/if}}
  	{{#each extratextblock}}
  		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
  	{{/each}}


    {{#each exetype1}}
      <div class="exccontainer">
        <div class="qndiv">
          {{#each qntxt}}
            <p class="{{ques_class}}" data-highlight="{{datahighlightflag}}"	data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
          {{/each}}
        </div>
        <div class="{{optionsdivclass}}">
          {{#each exeoptions}}
              <div class="optionscontainer {{optcontainerextra}}">
                  <p class="forhover buttonsel {{optaddclass}}">{{optdata}}</p>

                  <img src="images/correct.png" class="imagestartpos {{startposextra}} corctopt">

                  <img src="images/wrong.png" class="imagestartpos {{startposextra}} wrngopt">
              </div>
          {{/each}}
        </div>
      </div>
    {{/each}}


     </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise3.js");
</script>
