<body>
<script type="text/javascript">
$cssLoader("exercise/css/exercise2.cell.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="cell">
    <div class="title">
        <span>cell exercise</span>
    </div>
    <div class="nextBtn nextPrevBtn"></div>
    <div class="endBtn myNextStyle"></div>
   
    <!-- <span class="glyphicon glyphicon-circle-arrow-right nextBtn nextPrevBtn" data-btn="next">
    </span> -->
    
<!-- tortoise movement -->
<div class="advancement">
    <img src="$ref/exercise/images/exercise/flag.png" alt="flag" id="flag">
    <div class="green"></div>
    <div class="tortoise">
        <img src="$ref/exercise/images/exercise/turtle01.png" alt="" id="tortoise1">
        <img src="$ref/exercise/images/exercise/turtle02.png" alt="" id="tortoise2">
    </div>
</div>

    <div class="board">

    </div>
</div>

<!--
below starts templating
 -->
<script type="text/x-handlebars-template" id="first-story-template">
    <div class="storyWrapper">
        <div>&nbsp;</div>
        <img src="{{sun}}" alt="sun" id="sun">
        <div class="storyBoard">{{story}}</div>
        <div class="enter">{{enter}}</div>
        <img src="{{{storyImg1}}}" alt="" id="storyTeller">
        <img src="{{{storyImg2}}}" alt="" id="storyFlag">
    </div>
</script>
<script type="text/x-handlebars-template" id="qA-templete">
    <div class="wrapper">
        <div class="qAHolder">
            <span class="imgCrot">
                <img src="{{correctImg}}" class="correctImg" alt="correct">
                <img src="{{wrongImg}}" class="wrongImg" alt="wrong">
            </span>
            <div class="question">{{{question}}}</div>

            <div class="answers">
                <ul>
                    {{#each answers}}
                        <li class="neutral {{correct}}" data-correct="{{correct}}">{{{ans}}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    </script>
     <script type="text/x-handlebars-template" id="qAImage-templete">
<div class="wrapper">
    <div class="qAHolder multipleImg">
        <span class="imgCrot">
            <img src="{{correctImg}}" class="correctImg" alt="correct">
            <img src="{{wrongImg}}" class="wrongImg" alt="wrong">
        </span>
        <div class="question">{{{question}}}</div>

        <div class="answers">
            <ul>
                {{#each answers}}
                    <li class="neutral {{correct}}" data-correct="{{correct}}"><span>{{{ans}}}</span></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
    </script>


<script type="text/x-handlebars-template" id="results-template">
    <div class="endWrapper">
        <div>&nbsp;</div>
        <div class="endBoard">{{story}}</div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
$jsLoader("exercise/js/exercise2.cell.js");
</script>
</body>