<body>
<script type="text/javascript">
$cssLoader("exercise/css/exercise1.cell.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="cell">

    <div class="title">
        <span>cell</span>
    </div>
    <span class="glyphicon glyphicon-circle-arrow-right nextBtn">
    </span>
    <div class="questions">

    </div>
    <div class="board">

    </div>
    <div class="lastMsg"><span class="finalText"></div>
</div>

<script type="text/x-handlebars-template" id="first-template">
    <div class="clickers options" id="clicker1" data-anum="1" title="{{title1}}">{{name1}}</div>
    <div class="clickers options" id="clicker2" data-anum="2" title="{{title2}}">{{name2}}</div>
    <div class="clickers options" id="clicker3" data-anum="3" title="{{title3}}">{{name3}}</div>
    <div class="clickers options" id="clicker4" data-anum="4" title="{{title4}}">{{name4}}</div>
    <div class="clickers options" id="clicker5" data-anum="5" title="{{title5}}">{{name5}}</div>
    <div class="clickers options" id="clicker6" data-anum="6" title="{{title6}}">{{name6}}</div>
    <div class="clickers options" id="clicker7" data-anum="7" title="{{title7}}">{{name7}}</div>

    <div class="smallClickers options" id="clicker8" data-anum="8" title="{{title8}}">{{name8}}</div>
    <div class="smallClickers options" id="clicker9" data-anum="9" title="{{title9}}">{{name9}}</div>
    <div class="smallClickers options" id="clicker10" data-anum="10" title="{{title10}}">{{name10}}</div>

    <img src="{{img1}}" alt="plant cell and animal cell" id="cellPA">
</script>

<script type="text/x-handlebars-template" id="questions-template">

</script>

<script type="text/x-handlebars-template" id="inst-template">
    <div class="popInst">
        <span class="closeButton myCloseStyle"></span>
        <p>{{inst}} </p>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("exercise/js/exercise1.cell.js");
</script>
</body>