.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none !important;
	/*display: none;*/
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 3% 85px 10px;
    background: #fff;
    position: relative;
}

.wrapperIntro .firstPage {
    background: #D1D4F2 none repeat scroll 0% 0%;
}

.wrapperIntro.firstPage .text0{
	text-align: center;
	color: #333;
    font-size: 1.3em;
    margin-top: -1%;
	
}

.wrapperIntro.firstPage .text1{
	text-align: justify;
	color: #fff;
    font-size: 1em;
    margin-top: 19%;
	display:none;
	left:24%
    
}
.wrapperIntro.firstPage .text2{
	text-align: justify;
	color: #fff;
    font-size: 1em;
    margin-top: 6%;
	display:none;
	left: 24%;
    
}

.wrapperIntro.firstPage .text0 .ind1 {
	font-weight: bold;
	/*color: #fff;*/
}

.wrapperIntro.firstPage .text0 .ind2 {
	/*font-weight: bold;*/
	color: #0068b3;
}

.wrapperIntro.firstPage .ind2{
	color: #0068b3;
}



/*.wrapperIntro.firstPage .text2,
.wrapperIntro.firstPage .text3{
	font-size: 1em;
	display: none;
	margin-bottom : 3px;
}
.wrapperIntro.firstPage .text5, .wrapperIntro.firstPage .text6,
.wrapperIntro.firstPage .text7, .wrapperIntro.firstPage .text8,
.wrapperIntro.firstPage .text10, .wrapperIntro.firstPage .text11 {
	margin-left : 8%;
}

.wrapperIntro.firstPage .text12{
	margin-left : 11%;
}

.wrapperIntro.firstPage .ind3{
	color: #00B050;
}
.wrapperIntro.firstPage .ind4{
	color: #000;
}
.wrapperIntro.firstPage .text8,.wrapperIntro.firstPage .text11 {
	color: #F90 !important;
}*/



.main-bg .img-responsive {
    left: 12%;
    margin-top: 3%;
    position: absolute;
    width: 77%;
}

.text0,.text1,.text2, .text4,
.text5, .text6, .text7, .text8{
	display:none;
}

.exponential .board .second {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    padding: 3% 5% 3% 3%;
}
.wrapperIntro.second .text0{

    font-size: 1.3em;
    background: #FF595B none repeat scroll 0px 0px;
    padding: 1% 4%;
    width: 18%;
    color: #FFF;
}

.wrapperIntro.second .text1, .wrapperIntro.second .text2, .wrapperIntro.second .text8 {
    margin-left: 4%;
}
.wrapperIntro.second .text2,
.wrapperIntro.second .text8 {
    color: #FFA712;
}

.wrapperIntro.second .text1 {
    margin-top: 2%;
}

.wrapperIntro.second .text1,
.wrapperIntro.second .text2,
.wrapperIntro.second .text4,
.wrapperIntro.second .text5,
.wrapperIntro.second .text6,
.wrapperIntro.second .text7,
.wrapperIntro.second .text8,
.wrapperIntro.second .text10,
.wrapperIntro.second .text11,
.wrapperIntro.second .text12
{

	display:none;
	line-height: 1.7em;
	font-size: 1em;
	
}


/* .wrapperIntro.second .text3, .wrapperIntro.second .text4, .wrapperIntro.second .text5, .wrapperIntro.second .text6, .wrapperIntro.second .text7,
.wrapperIntro.second .text9, .wrapperIntro.second .text10, .wrapperIntro.second .text11, .wrapperIntro.second .text12 {
    margin-left: 8%;
    background-color: #E7E7E7;
    padding: 1% 0px 0px 2%;
} */


.wrapperIntro.second .solution00, .wrapperIntro.second .solution01, .wrapperIntro.second .solution02, .wrapperIntro.second .solution03, .wrapperIntro.second .solution04, .wrapperIntro.second .solution05, .wrapperIntro.second .solution06, .wrapperIntro.second .solution07, .wrapperIntro.second .solution08, .wrapperIntro.second .solution09, .wrapperIntro.second .solution10 {
    display: none;
    color: #5C5C5C;
    line-height: 1.5em;
}
.wrapperIntro.second .text3,
.wrapperIntro.second .text9{
	left: 4%;
	padding: 1%;
}

.wrapperIntro.second .text3
{
	height:34%;
}

.wrapperIntro.second .text9{
	height:24%;
}