<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4.function.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea">
		
		</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>{{couter}})</span>
            <div class="q">
			<span class="term1">{{term1}}</span><span class="symbol">{{sym}}</span><span class="term2">{{term2}}</span>
			<img src='activity/grade7/math/math_function_01/image/funmachine.png'>
			</div>
        </div>
		
        <div class="ansArea">
            <span class="baseString">{{baseString}} = </span><input type="text" class="base">
            <span class="check1"></span>
            <span class="check2"></span>
			<span class="wrong-note blink">{{wrongnote}}</span>

            <span class="showAns">
                
				<span class="answer">{{answer}}: </span>
				<span class="process">{{term1}} {{term2}}<br/><span class="baseString right">{{baseString}} = </span>
                 </span>
                <span class="ans">{{ans}}</span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.function.js");
</script>