<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page7.function.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>



<!--page1--->

<script type="text/x-handlebars-template" id="intro-template">
   <div class="wrapperIntro {{justClass}}">

		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>

        {{/each}}

			<div class="img-des1">
				<div id="id_1" class="imageholder01">
					<div id="fun_1" class="functionimages" ><img src="activity/grade7/math/math_function_01/image/funmachine.png"/></div>

					<div id="input01" class="">
					</div>

					<div class="main-fun-a">+7</div>
					<div class="main-fun-b">8+7</div>

					<div id="output01" class="">
					</div>

				</div>

						<div class="image1des">
							<div class="des1"></div>
							<div class="des2"></div>
							<div class="des3"></div>
							<div class="des4"></div>
							<div class="des5"></div>
						</div>



				</div>


						<div class="des6"></div>
						<div class="des7"></div>
						<div class="des8"></div>
						<div class="des9"></div>
						<div class="des10"></div>
						<div class="des11"></div>

	</div>

</script>



<!--end of page1-->

<!--end of page2-->


<script type="text/x-handlebars-template" id="intro-template01">
   <div class="wrapperIntro {{justClass}}">

		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>

        {{/each}}

			<div class="img-des2">
				<div id="id_1" class="imageholder02">
					<div id="fun_1" class="functionimages" ><img src="activity/grade7/math/math_function_01/image/funmachine.png"/></div>

					<div id="input02" class="">
					</div>

					<div class="main-fun-c">÷8</div>
					<div class="main-fun-d">40÷8</div>

					<div id="output02" class="">
					</div>

				</div>

						<div class="image2des">
						<div class="des12"></div>
						<div class="des13"></div>
						<div class="des14"></div>
						<div class="des15"></div>
						<div class="des16"></div>

						</div>

				</div>

			<div class="des17"></div>
			<div class="des18"></div>
			<div class="des19"></div>
			<div class="des20"></div>
			<div class="des21"></div>
			<div class="des22"></div>



	</div>

</script>
<!--end of page2-->



<!--PAGE3----->


<script type="text/x-handlebars-template" id="intro-template02">
   <div class="wrapperIntro {{justClass}}">

		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>

        {{/each}}

			<div class="img-des3">
				<div id="id_1" class="imageholder03">
					<div id="fun_1" class="functionimages" ><img src="activity/grade7/math/math_function_01/image/funmachine.png"/></div>

					<div id="input03" class="">
					</div>

					<div class="main-fun2-e">(?X5)+6</div>
					<div class="main-fun2-f">(9X5)+6</div>

					<div id="output03" class="">
					</div>

				</div>

						<div class="image3des">
						<div class="des23"></div>
						<div class="des24"></div>
						<div class="des25"></div>
						<div class="des26"></div>
						<div class="des27"></div>
						<div class="des28"></div>

						</div>

				</div>

			<div class="des29"></div>
			<div class="des30"></div>
			<div class="des31"></div>
			<div class="des32"></div>
			<div class="des33"></div>
			<div class="des34"></div>



	</div>

</script>


<!---END OF PAGE 3--->


<!---page4--->



<script type="text/x-handlebars-template" id="intro-template03">
   <div class="wrapperIntro {{justClass}}">

		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>

        {{/each}}


		<div class="col-md-12 main-imgholder">

			<div id="id_1" class="col-md-4 imageholder04">
				<div class="example1"></div>
					<div id="fun_01" class="functionimages" ><img src="activity/grade7/math/math_function_01/image/funmachine.png"/></div>

					<div id="input04" class="">
					</div>

					<div class="main-fun-a1">+7</div>
					<div class="main-fun-a2">8+7</div>

					<div id="output04" class="">
					</div>

			</div>



			<div id="id_1" class="col-md-4 imageholder05">
			<div class="des38"></div><!--example2-->
					<div id="fun_02" class="functionimages" ><img src="activity/grade7/math/math_function_01/image/funmachine.png"/></div>

					<div id="input05" class="">
					</div>

					<div class="main-fun-b1">÷8</div>
					<div class="main-fun-b2">40÷8</div>

					<div id="output05" class="">
					</div>

			</div>



			<div id="id_1" class="col-md-4 imageholder06">
			<div class="des42"></div><!--example3-->
					<div id="fun_03" class="functionimages" ><img src="activity/grade7/math/math_function_01/image/funmachine.png"/></div>

					<div id="input06" class="">
					</div>

					<div class="main-fun-c1">(?X5)+6</div>
					<div class="main-fun-c2">(9X5)+6</div>

					<div id="output06" class="">
					</div>

			</div>


		</div>


		<div class="desholder">

			<div class="img-des4">


						<div class="image4des">
						<div class="des35"></div>
						<div class="des36"></div>
						<div class="des37"></div>

						</div>

				</div>





			<div class="img-des5">


						<div class="image5des">
						<div class="des39"></div>
						<div class="des40"></div>
						<div class="des41"></div>
						</div>

				</div>



				<div class="img-des6">


						<div class="image6des">
						<div class="des43"></div>
						<div class="des44"></div>
						<div class="des45"></div>
						</div>

				</div>


				</div>


						<div class="des46"></div>
						<div class="des47"></div>
						<div class="des48"></div>



	</div>

</script>




<!--end of page4---->



<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page7.function.js");
</script>
