<script type="text/javascript"
src="js/jquery-ui1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
 $cssLoader("css/page8.function.css");
 $cssLoader("css/sweetalert.css");
</script>

<div class="container container_layout">
 <div class="" >
  <div class="titles">
  
 
 </div>
 <div class="row fun" id="wrapper">
   
     
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
   
   </div>
    
 </div>
</div>


<script type="text/x-handlebars-template" id="qaArea-template">
	<div class="yourTurn">{{yourTurn}}</div>

  <div class="qTitle">{{qTitle1}}</div>
  <div class="qTitle">{{qTitle2}}</div> 
 <div class="col-md-12 q{{couter}}">
 
	   
	   
		<div id="fun_1" class="col-md-4 functionimages" >
			<span class="term2">{{term1}} {{term2}}</span> 
			<img src="activity/grade7/math/math_function_01/image/funmachine.png"/>
		</div>
		
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		<div id="cardSlots">
		</div>
		</div>
		
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		<div id="cardPile">
		</div>
	   </div>
	  
        
   <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
         </div>
	
 <div class="ansArea">
             <span class="check1"></span>
             <span class="check2"></span>
    <span class="wrong-note">{{wrongnote}}</span>

             <span class="showAns">
    <span class="process"><br/>
    <span class="baseString right">Answer = </span>
                 </span>
                <span class="ans"> {{ans}}</span>
            </span>
   </div>	

  </div>
</script>
<script type="text/javascript">
 
 $jsLoader("js/page8.function.js"); 
 $jsLoader("js/sweetalert.min.js"); 
</script>