html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: proxima;
    src: url("../../../../../fonts/proxima_nova/proxima.ttf");
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet.ttf");
}

@font-face {
    font-family: cmarket;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: linear-gradient(90deg, #8C5CA6 90%, #19B4A2 0%);
    color: white;
    font-family: cmarket;
    font-size: 3.3vw;
    padding: 1%;
    font-weight: bold;
}


div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
    font-family: cmarket;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}
.activeTimeLine {
    background: #076242;
}
.totalsequence {
    border: #076242 0.3vmin solid;
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

[class*="day"]{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 16%;
}

.day-0 {
    left: 9%;
    top: 45%;
    z-index: 5;
}
.day-1 {
    left: 23%;
    top: 39%;
}
.day-2 {
    left: 31%;
    top: 57%;
}
.day-3 {
    left: 41%;
    top: 73%;
}
.day-4 {
    left: 54%;
    top: 62%;
}
.day-5 {
    left: 64%;
    top: 44%;
}
.day-6 {
    left: 78%;
    top: 41%;
}
.day-7 {
    left: 90%;
    top: 52%;
}


[class*="leg"] {
    position: absolute;
    background: url(../images/legs_sprite.png);
    background-size: 500% 100%;
    width: 6%;
    height: 7%;
}
@keyframes smokeanim{
      100% { background-position: -500% 0%; }
}
.leg-1 {
    left: 20%;
    top: 54%;
    transform: translate(-50%, -50%) rotate(20deg);
    animation: smokeanim 0.6s infinite steps(5) forwards alternate;
}
.leg-2 {
    left: 28%;
    top: 72%;
    transform: translate(-50%, -50%) rotate(11deg);
    animation: smokeanim 0.9s infinite steps(5) forwards alternate;
}
.leg-3 {
    left: 41%;
    top: 89%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: smokeanim 0.6s infinite steps(5) forwards alternate;
}
.leg-4 {
    left: 56%;
    top: 78%;
    transform: translate(-50%, -50%) rotate(-10deg);
    animation: smokeanim 0.7s infinite steps(5) forwards alternate;
}
.leg-5 {
    left: 67%;
    top: 59%;
    transform: translate(-50%, -50%) rotate(-9deg);
    animation: smokeanim 1s infinite steps(5) forwards alternate;
}
.leg-6 {
    left: 78%;
    top: 57%;
    transform: translate(-50%, -50%) rotate(20deg);
    animation: smokeanim 0.7s infinite steps(5) forwards alternate;
}
.leg-7 {
    left: 92%;
    top: 67%;
    transform: translate(-50%, -50%) rotate(-11deg);
    animation: smokeanim 0.5s infinite steps(5) forwards alternate;
}

[class*="dtext"] {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #E9A86E;
    padding: 1%;
    font-size: 3.5vmin;
    box-shadow: 7px 8px 11px 1px grey;
    z-index: 99;
}

.dtext-1 {
    left: 25%;
    top: 13%;
}

.dtext-2 {
    left: 44%;
    bottom: 53%;
    width: 23%;
}

.dtext-3 {
    left: 68%;
    bottom: -4%;
}

.dtext-4 {
    left: 76%;
    bottom: -5%;
}

.dtext-5 {
    left: 51%;
    bottom: 74%;
}

.dtext-6 {
    left: 67%;
    bottom: 73%;
}

.dtext-7 {
    right: -19%;
    bottom: 12%;
}

.selectme{
    z-index: 10;
    transition-duration: 0.5s;
    animation: scaleit 1s ease-in alternate infinite;
}

@keyframes scaleit{
    0%{transform: translate(-50%, -50%) scale(1.3);}
    100%{transform: translate(-50%, -50%) scale(1.4);}
}

.fadein{
    opacity: 0;
    animation: fade-in 1s linear forwards;
}

@keyframes
fade-in {
    100% {opacity: 1;}
}

.rotate{
    transform-origin: 50% 65%;
    transform: translate(-50%, -50%) rotate(-15deg);
    animation: rotateit 3s infinite alternate;
}

@keyframes
rotateit {
    100% {transform: translate(-50%, -50%) rotate(15deg);}
}

.flipbox {
    position: absolute;
    height: 80%;
    width: 100%;
    bottom: 0%;
}


.section {
    width: 16%;
    height: 45%;
    perspective: 800px;
    display: inline-block;
    margin: 1% 2%;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.seone {
    top: 20%;
    left: 4%;
}

.setwo {
    top: 20%;
    left: 36%;
}

.sethree {
    top: 20%;
    left: 68%;
}

.sefour {
    top: 60%;
    left: 4%;
}

.sefive {
    top: 60%;
    left: 36%;
}

.sesix {
    top: 60%;
    left: 68%;
}

.se2one {
    top: 60%;
    left: 25%;
transform: translate(-50%, -50%);
}

.se2two {
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
}

.se2three {
    top: 60%;
    left: 75%;
transform: translate(-50%, -50%);
}

.se2four {
    top: 87%;
    left: 25%;
transform: translate(-50%, -50%);
}

.se2five {
    top: 87%;
    left: 50%;
transform: translate(-50%, -50%);
}

.se2six {
    top: 87%;
    left: 75%;
transform: translate(-50%, -50%);
    }

.front1 {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-size: 2em;
    text-align: center;
    border-radius: 30px;
    cursor: default;
    color: white;
    border: 5px solid white;
    background: #c7eafb;
    border: 0.5vmin solid #00aeef;
}

.back1 {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    background: #f9caca;
    border: 0.5vmin solid #e65c5c;
    transform: rotateY( 180deg );
    font-size: 3vmin;
    padding-top: 25%;
}

.flipped {
    transform: rotateY( 180deg );
}

.front1 > img {
    width: 60%;
    height: auto;
    margin-top: 21%;
}
.uptext{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 15%;
    font-size: 3.5vmin;
}

.catter {
    position: absolute;
    width: 30%;
    left: 64%;
    top: 34%;
    animation: titleanim 2s linear infinite;
}

@keyframes titleanim{
    40%{
        transform: translateY(0%);
    }
    70%{
        transform: translateY(-5%);
    }
    80%{
        transform: translateY(0%);
    }
    85%{
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(0%);
    }
}

.thetitle {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 35%;
    top: 33%;
    color: #993298;
    font-size: 11vmin;
}
