.matter {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #B6D6FB;
  background: url(../images/exercise/pattern3.jpg);
  /*box-shadow: inset 0 0 30px #f2f2f2;*/
}

.matter, .matter * {
  position: relative;
  margin: 0;
  padding: 0;
}

.nextBtn {
  cursor: pointer;
  position: absolute;
  /*height: 10%;*/
  color: #006400;
  font-size: 2em;
  z-index: 100;
  right: 20%;
  /*bottom: 1%;*/
  top: 50%;
  right: 2%;
  display: none;
  width: 7%;
}

.nextBtn:hover #activityNextHoverBtn {
  display: block;
}

.nextBtn:hover #activityNextBtn {
  display: none;
}

.nextBtn:hover {
  color: #90EE90;
}

.title {
  font-size: 1.6em;
  width: 100%;
  height: 15%;
  /*background: #000;*/
  color: #4059AD;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  display: none;
}

.prevBtn {
  cursor: pointer;
  position: absolute;
  color: #006400;
  font-size: 2em;
  z-index: 100;
  left: 2%;
  top: 80%;
  display: none;
}

.advancement {
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 15%;
  bottom: 0;
  display: none;
  /*background: #000;*/
}

.advancement .tortoise {
  position: absolute;
  width: 8%;
  display: inline-block;
  bottom: 20%;
  left: 0%;
  padding-left: 10px;
  padding-right: 10px;
}

.advancement .tortoise img {
  width: 100%;
}

.advancement .tortoise #tortoise2 {
  display: none;
}

.advancement #flag {
  width: 8%;
  /*background: #c9c9c9;*/
  display: inline-block;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.advancement .green {
  background: #006400;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
}

.board {
  width: 100%;
  text-align: center;
}

.board .wrapper {
  width: 100%;
  box-shadow: 0 -10px 10px -10px #383838;
}

.qAHolder {
  display: inline-block;
  width: 85%;
}

.question {
  width: 95%;
  text-align: center;
  color: rgba(142, 25, 171, 1);
  text-shadow: 1px 0px #c9c9c9;
  background: #363EC4;
  background: url(../images/exercise/pattern1.jpg);
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.4em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 10px -5px #393939;
}

.answers {}

.imgCrot {
  /*background: #000;*/
  width: 10%;
  position: absolute;
  right: -5%;
  z-index: 10;
}

.imgCrot img {
  width: 100%;
}

.imgCrot .correctImg, .imgCrot .wrongImg {
  display: none;
}

.answers ul li {
  display: inline-block;
  width: 30%;
  margin-top: 15px;
  padding: 2% 0%;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #006400;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.answers ul li img {
  margin: auto;
  width: 50%;
  display: block;
}

.multipleImg li {
  vertical-align: top;
  /*height: 50%;*/
  /*min-height: 50%;*/
  max-height: 50%;
  font-size: 0.8em;
}

.answers .neutral:hover {
  /*background: #363EC4;*/
  background: #EAE24F;
  /*color: #fff;*/
}

.neutral {
  background: #ffff00;
  background: url(../images/exercise/pattern2.jpg);
}

.imgHolder {
  display: inline-block;
  width: 25%;
  margin-top: 5%;
  vertical-align: top;
  /*box-shadow: 0 10px 10px -10px #383838;*/
}

.imgHolder img {
  width: 100%;
}

.result {
  width: 60%;
  position: absolute;
  bottom: 5%;
  left: 20%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 2%;
  color: #fff;
  box-shadow: 0 10px 10px #383838;
  font-size: 1.3em;
  display: none;
}

.wrong {
  /*background: #FE0300;*/
  background: #AD2727;
  /*color: #c9c9c9;*/
  color: #fff;
}

.right {
  background: green;
  color: #fff;
}

/*storys*/
.storyWrapper {
  width: 100%;
  height: 100%;
}

.storyWrapper #sun {
  position: absolute;
  /*z-index: 5;*/
  top: -5%;
  right: 0%;
}

.storyWrapper .storyBoard {
  margin: 7% auto;
  padding: 10px;
  width: 70%;
  min-height: 40%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px #c9c9c9;
  z-index: 3;
  text-align: justify;
}

.storyWrapper .enter {
  position: absolute;
  width: 40%;
  padding: 10px;
  background: #006400;
  background: url(../images/exercise/greenbtn.png);
  background-size: 10px 100%;
  border-radius: 10px;
  text-align: center;
  left: 30%;
  bottom: 10%;
  cursor: pointer;
  color: #fff;
  z-index: 6;
}

.storyWrapper #storyTeller {
  position: absolute;
  width: 15%;
  left: 0%;
  bottom: 12%;
  z-index: 5;
  box-shadow: 0 10px 15px -15px #006400;
}

.storyWrapper #storyFlag {
  position: absolute;
  width: 18%;
  right: 7%;
  bottom: 10%;
  transform: rotate(20deg);
  z-index: 2;
}

.endBoard {
  margin: 25% auto;
  width: 80%;
  background: #fff;
  /*height: 50%;*/
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 10px -10px #383838;
}

.repeat {
  position: absolute;
  font-size: 6em;
  top: 35%;
  right: 50%;
  z-index: 10;
  color: #006400;
  display: none;
  cursor: pointer;
  height: 8%;
  width: 5%;
}
