.matter {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #F6F7F1;
	/*background: url(../images/bg03.png);*/
	/*box-shadow: inset 0 0 30px #f2f2f2;*/
}

.matter, .matter * {
	position: relative;
	margin: 0;
	padding: 0;
}

.nextBtn {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: #006400;
	font-size: 2em;
	z-index: 100;
	right: 20%;
	/*bottom: 1%;*/
	top: 68%;
	right: 2%;
	display: none;
}

.nextBtn:hover {
	color: #90EE90;
}

.title {
	font-size: 1.6em;
	width: 100%;
	height: 15%;
	/*background: #000;*/
	color: #20B0E0;
	margin: auto;
	margin-top: 3%;
	text-align: center;
	/*display: none;*/
}

.canvasHolder {
	margin: auto;
	margin-top: 10px;
	width: 506px;
	border: 2px solid #c9c9c9;
	padding: 1px;
	box-shadow: 0 10px 10px #c9c9c9
}


.iceWater {
	width: 100%;
	/*background: #000;*/
}

.iceWater .thermometer {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	/*background: #c9c9c9;*/
	text-align: center;
}

.iceWater .thermometer img{
	width: 60%;
}

.iceWater .all {
	vertical-align: top;
	display: inline-block;
	width: 79%;
	text-align: center;
}

.iceWater .picture {
	display: inline-block;
	/*background: #c9c9c9;*/
	width: 30%;
}

.iceWater .picture img {
	/*background: #000;*/
	width: 100%;
}

.iceWater .desc {
	display: inline-block;
	text-align: justify;
	width: 65%;
	color: #D0E5EE;
	background: #006400;
	/*height: 35%;*/
	vertical-align: top;
	padding: 10px;
	box-shadow:  0 10px 10px #383838;
}

#dragArea{
	/*these properties are calculated and important*/
	position: absolute;
	top:6.3%;
	left:32%;
	width:21.5%;
	height:74.5% !important;
	z-index: 10;
}

/*slider*/
 #slideMe{
 	/*these properties are calculated and important*/
	position: absolute;
	/*keep the slider at 0 degree*/
	top:72%;
	left:-2%;
	width:95%;
	height:4%;
	cursor:move;
	/*border:1px solid red;*/
}

#mercury{
	position: absolute;
	left:10%;
	/*define its bottom since we have to */
	bottom:0%;
	width: 68%;
	height: 27%;
	background-color: #DD7373;
}

.first {
	margin: auto;
	width: 100%;
	text-align: center;

}

.first .defination {
	margin: auto;
	margin-bottom: 10px;
	width: 98%;
	height: 20%;
	text-align: justify;
	padding: 10px;
	background: #4B72DD;
	color: #f2f2f2;
	box-shadow: 0 10px 10px -10px #383838;
}

.first .paperCut {
	width: 100%;
	text-align: center;
	/*margin-bottom: 10px;*/
	background: #B4E0AC;
	padding: 10px;
}

.first .paperCut img {
	margin: auto;
	display: inline-block;
}

.first .paperCut #img1 {
	width: 20%;
	margin-right: 5%;
}

.first .paperCut #img2 {
	position: absolute;
	width: 12%;
	bottom: 25%;
	cursor: pointer;
}

.first .below {
	background: #B4E0AC;
	width: 100%;
	height: 15%;
}

.first .paperDesc {
	margin: auto;
	width: 70%;
	background: #8E153B;
	padding: 10px;
	color: #DBDB62;
}

.first .defineEg {
	margin: auto;
	margin-bottom: 10px;
	width: 98%;
	height: 20%;
	text-align: justify;
	padding: 10px;
	background: #4B72DD;
	color: #f2f2f2;
	box-shadow: 0 10px 10px -10px #383838;
}

/*types page*/
.typesOfChange {
	text-align: center;
}
.showTitle {
	margin: auto;
	width: 80%;
	padding: 20px;
	background: #2C4E89;
	color: #fff;
	text-align: center;
	box-shadow: 0 10px 10px -10px #383838;
}

.arrowDown {
	display: block;
	margin: 1% auto;
	width: 5%;
	/*background: #c0c0c0;*/
	text-align: center;
	font-size: 2em;
	cursor: pointer;
}
.arrowDown:hover #arrowNextHoverBtn{
	display: block;
}
.arrowDown:hover #arrowNextBtn
{
	display: none;
}
.physicalCircle {
	/*width: */
	display: inline-block;
	margin: 5% 10%;
	width: 23%;
	font-size: 1.3em;
	height: 37%;
	padding: 9% 0;
	color: #fff;
	background: #8E153B;
	border-radius: 50%;
	text-align: center;
	vertical-align: top;
	/*background: yellow;*/
}

.chemicalCircle {
	display: inline-block;
	margin: 5% 10%;
	width: 23%;
	font-size: 1.3em;
	height: 37%;
	padding: 9% 0;
	color: #fff;
	background: #006400;
	border-radius: 50%;
	text-align: center;
	vertical-align: top;
}