<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="periodictable_activity">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, footer, headerfooter
        or only has content --}}
    {{#if hasonlyheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasonlyheaderblock">
        {{else}}
            {{#if hasonlyfooterblock}}
                <div class="generaltemplateblock" data-templatecontains="hasonlyfooterblock">
            {{else}}
                {{#if hasheaderfooterblock}}
                    <div class="generaltemplateblock" data-templatecontains="hasheaderfooterblock">
                {{else}}
                    <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
                {{/if}}
            {{/if}}
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        <div class="vertical-horizontal-center">
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}

    {{! footer block start--}}
        {{#if footerblock}}
            <div class="footerblock">
                {{#each footerblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! footer block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>