<body>
<script type="text/javascript">
$cssLoader("exercise/css/exercise.pressure.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="exponential">
    <div class="title">
        <span>pressure exercise</span>
    </div>
    <div class=" nextBtn nextPrevBtn" data-btn="next">  </div>
    <span class="glyphicon glyphicon-circle-arrow-left prevBtn nextPrevBtn" data-btn="prev"></span>

<!-- tortoise movement -->
<div class="advancement">
    <img src="$ref/exercise/images/flag.png" alt="flag" id="flag">
    <div class="green"></div>
    <div class="tortoise">
        <div class="hintBox"></div>
        <img src="$ref/exercise/images/rhino01.png" alt="" class="rhino" id="tortoise1">
        <img src="$ref/exercise/images/rhino02.png" alt="" class="rhino" id="tortoise2">
    </div>
</div>

    <div class="board">

    </div>

<script type="text/x-handlebars-template" id="qA-templete">
    <div class="wrapper">
        <div class="qAHolder">
            <span class="imgCrot">
                <img src="{{correctImg}}" class="correctImg" alt="correct">
                <img src="{{wrongImg}}" class="wrongImg" alt="wrong">
            </span>
            <div class="question"><span class="quest">{{{question}}}</span>
                <span class="hint">{{{hint}}}</span>
            </div>

            <div class="answers">
                <ul>
                    {{#each answers}}
                        <li class="neutral {{correct}}" data-correct="{{correct}}">{{{ans}}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!-- <div class="imgHolder"><img src="{{img}}" alt=""> -->
        </div>
    </div>
    </script>

<script type="text/x-handlebars-template" id="hintSolution-template">
    {{#each hintSolution}}
        <div class="hintSolution1">
            {{{equalsto @index}}}
            {{{this}}}
        </div>
    {{/each}}
</script>



<script type="text/x-handlebars-template" id="results-template">
    <div class="endWrapper">
        <div>&nbsp;</div>
        <div class="endBoard">{{story}}</div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/common.exponential.js");
    $jsLoader("exercise/js/exercise4.pressure.js");
</script>
</body>
