@font-face {
    font-family:HappyMonkey;
    src: url("../../../../../../fonts/happy_monkey/HappyMonkey-Regular.ttf");
}
@font-face {
    font-family:amaranath;
    src: url("../../../../../../fonts/amaranath/amaranth-bold.ttf");
}
@font-face {
    font-family: ChelseaMarket-Regular;
    src: url("../../../../../../fonts/ChelseaMarket-Regular.ttf");
}
@font-face {
    font-family: Andika-Regular;
    src: url("../../../../../../fonts/Andika-Regular.ttf");
}

.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    /*background : #fff;*/
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 1000!important;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*============ exercise template ===================
==================================================== */



.exefin {
	display: none;
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin{
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backtrue{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 1% !important;
}

div.imageblock {
	position: absolute;
	width: 100%;
	height: 100%;
	/*border     : 1px solid green; */
}

.jump_rhino {
	-webkit-animation: jump_rhino 0.5s cubic-bezier(0,.5,1,.5);
	animation: jump_rhino 0.5s cubic-bezier(.5,1,1,.75);
}
@keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}
@-webkit-keyframes
jump_rhino{
	50% {transform: translateY(-150%);}
}

.zoom_rhino {
	-webkit-animation: zoom_rhino 1s linear forwards;
	animation: zoom_rhino 1s linear forwards;
	animation-delay:0.75s;
	transform-origin: bottom right;
}
.zoom_marks_rhino {
	-webkit-animation: zoom_marks_rhino 1s linear forwards;
	animation: zoom_marks_rhino 1s linear forwards;
	animation-delay:0.75s;
}
@keyframes
zoom_marks_rhino{
	100% {transform: scale(2);right: 35%;  top: 15%;}
}
@-webkit-keyframes
zoom_marks_rhino{
	100% {transform: scale(2); right: 35%; top: 15%;}
}

@keyframes
zoom_rhino{
	100% {transform: scale(2.5);right: 0%;  bottom: 50%;}
}
@-webkit-keyframes
zoom_rhino{
	100% {transform: scale(2.5); right: 0%; bottom: 50%;}
}

/*--------- for exercise -------------*/
.main_bg{
	background-color: #dd7e6b ;

}
/*------------------ specific blocks ------------------*/
.textblock{
	position: absolute;
}
.topbox{
  top: 0%;
  left: 5%;
  width: 84%;
  font-size: 2vw;
  z-index: 223;
  font-family: josefinSans;
  position: absolute;
  color: #fff;
  padding: 3% 1% 2%;
  z-index: 1;
}

.color{
	color:#ffffff;
}
.instruction_div{
	top: 0%;
	padding: 0% 2%;
	height: 100%;
	width: 100%;
	text-align: left;
	/*background-color:#fff;*/

}
/*.instruction_div>*{
	position: relative;
	margin-top: 1%;
}*/
.question_number{
top: -1%;
text-align: left;
color: #ffffff;
left: 0%;
z-index: 100;
}
.instruction{
	/*font-weight: bold;*/
}
.correct{
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 10%;
	padding: 5%!important;
	border: 3px solid #FCD172;
	background-color: #6EB260;
	color: white;
	width:20%;
}
.incorrect{
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 10%;
	padding: 5%!important;
	background-color: #BA6B82;
	color: black;
	width:20%;
}

.correct:hover{
	opacity: 0.6;
}
.incorrect:hover{
	opacity: 0.6;
}
.passage2{
	position: absolute;
	left: 0%;
	top: 70%;
	width: 95%;
	font-family: Andika-Regular;
	color: #0B5394;
	font-size: 1.8vw;
}
.passage1{
	position: absolute;
	left: 10%;
	top: 20%;
	width: 95%;
	font-family: Andika-Regular;
	color: #0B5394;
	font-size: 1.8vw;
	text-align: left;
}
.highlight_text{
	font-weight: bold;
	color: #EEA22B;
}
/*mcq*/

.exccontainer{
  position: absolute;
  top: 57%;
  left: 50%;
  height: 80%;
  width: 90%;
  transform: translate(-50%,-50%);
  border-bottom-left-radius: 2em;
  background: #fff;
  border-bottom-right-radius: 2em;
}
.optionsdiv {
  top: 26%;
  display: flex;
  left: 10%;
  flex-direction: row;
  text-align: left;
  position: absolute;
  height: 70%;
  width: 55%;
  flex-wrap: wrap;
}

.optionscontainer {
  width: 100%;
}

.imagestartpos {
  position: absolute;
  width: 10%;
  margin-left: 1%;
  display: none;
  left: 89%;
  top: 38%;
}
.top57{
  top: 57%;
}

.optionsdiv p {
  padding: 2%;
  background: #926EED;
  border-radius: 15px;
  font-size: 3vh;
  border: 5px solid #926EED;
  font-family: proximaNova;
  width: 90%;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover:hover {
  background-color: #f9cb9c;
  border: 5px solid #f6b26b;
  color: #000;
  cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
  background-color: #f9cb9c;
	border: 5px solid #f6b26b;
}
.markboard_rhino {
	z-index: 251;
	background-color: transparent;
}
.qndiv{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 20%;
}
.topQn{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%,-50%);
  font-family: josefinSans;
  text-align: left;
}
.exmpl{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 1%;
  background: #d9d2e9;
  text-align: left;
}
.lngrDiv{
  left: 0%;
  height: 70%;
  width: 80%;
}
.smlCorIncor{
  width: 6%;
  left: 91%;
}
#player_score_rhino {
	order: -1;
	font-size: 4.5vmin;
	text-align: center;
	color: white;
	top: 60%;
	left: 32%;
	font-family: amaranath;
}
.shwLtr{
  display: none;
}
/*-------------------------
 ------- for fonts --------
 --------------------------*/


.my_font_very_big{
	font-size: 4vw;
}

.my_font_big{
	font-size: 3.3vw;
}
.my_font_medium{
	font-size: 2.2vw;
}
.my_font_small{
	font-size: 1.5vw;
}
.ex-number-template-score{
  z-index: 100;
}
@media (min-aspect-ratio: 4/3){
	.optionsblock{
		font-size: 4vh;
	}
  	.topbox{
  		font-size: 5vh;
  	}
   .exmpl, .optionsdiv p{
     font-size: 3vh;
   }
  .topQn{
    font-size: 3.5vh;
  }
	.passage1{
		font-size: 3vh;

	}
}
@media (max-aspect-ratio: 4/3){
	.topbox, .optionsblock{
		font-size: 2vw;
	}
   .exmpl, .optionsdiv p{
     font-size: 2vw;
   }
  .topQn{
    font-size: 2vw;
  }
	.passage1{
		font-size: 1.8vw;

	}
}
