.care_of_animals_and_plants {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.care_of_animals_and_plants, .care_of_animals_and_plants * {
	position: relative;
	margin: 0;
	padding: 0;
}

.care_of_animals_and_plants .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}
.main_question:lang(np){
	padding :0%;
}

.care_of_animals_and_plants .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: sniglet;
	/*comfortaa_regular*/
}
.chapter_title {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-size: 5vw;
    color: white;
    top: 50%;
    background: RGBA(224, 78, 78,.8);
    padding: 2%;
    border-radius: 2vmin;
    width: 60%;
    z-index: 1;
}
.bg_full {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.flip{
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}
.dialogue1 {
    position: absolute;
    font-size: 2vw;
    width: 46%;
    height: 35%;
    top: 7%;
    left: 5%;
}
.dialoguebox1 {
    position: absolute;
    width: 100%;
    left: 0;
		height: 100%;
		top: 0;
}
.text_inside {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 40%;
    width: 90%;
    text-align: center;
    padding: 10%;
}
.yellow_bg{
	background: #EECB64;
}
.option_box1, .option_box2 {
    position: absolute;
    background: #D3759E;
    width: 35%;
    height: 54%;
    z-index: 2;
    top: 33%;
    left: 10%;
    cursor: pointer;
}
.option_box1:hover, .option_box2:hover {
	transform: scale(1.1);
	transition: .2s;
	background: #666666;
}
.option_box2{
	left: 55%;
}

.option_image1,.option_image2 {
    width: 100%;
		top: 0;
		left: 0;
		position: absolute;
}
.title_class {
    position: absolute;
    /*background: #D3759E;*/
    width: 100%;
    bottom: 0;
    padding: 1%;
    font-size: 2.4vw;
    color: white;
}
.main_question {
    position: absolute;
    font-size: 2.5vw;
    background: #EC5D63;
    color: white;
    padding: 1%;
    width: 100%;
    top: 0;
    left: 0;
}
.instruction {
    position: absolute;
    font-size: 2vw;
    background: #76A5AF;
    color: white;
    font-family: comfortaa_regular;
    width: 100%;
    top: 11%;
    padding: .5%;
}
.girl {
    position: absolute;
    width: 10%;
    top: 44%;
    left: 44%;
}
.boy {
    position: absolute;
    width: 15%;
    top: 42%;
    left: 55%;
}
@media (min-aspect-ratio: 4/3) {
	.dialogue1,.title_class {
		font-size: 5vmin;
	}
	.instruction{
		font-size: 4vmin;
	}
	.title_class:lang(np) {
    font-size: 3.5vmin;
}
}
