<body>
<script type="text/javascript">
$cssLoader("css/field.magnet.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="magnet">
	<div class="title">
		field about magnet
	</div>

	<div class="nextBtn"></div>

	<div class="fieldBox">
		
	</div>

</div>

<script type="text/x-handlebars-template" id="field-template">
    <div id="{{getId}}">
    	<div class="desc">{{desc}}</div>
    	<div class="image">
    		<img src="{{image}}" alt="">
    	</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="power-template">
      <div id="{{getId}}">
    	<div class="desc">{{desc}}</div>
    	<div class="image">
    		<img src="{{image1}}" alt="">
    		<img src="{{image2}}" alt="">
    	</div>
    </div>
</script>
<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("js/field.magnet.js");

</script>
</body>