<body>
<script type="text/javascript">
$cssLoader("css/find.magnet.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="magnet">
	<div class="popUp"></div>
	<div class="title">where is magnet found</div>
	<div class="foundPicture">
		<div class="objects" id="natural" >
			<img src="$ref/images/natural.png" alt="">
			<span class="imageTitle">natural</span>
		</div>
		<div class="objects" id="manmade">
			<img src="$ref/images/manmade.png" alt="">
			<span class="imageTitle">man made</span>
		</div>
	</div>
</div>

<script type="text/x-handlebars-template" id="popup-template">
	<div class="magnetPopUp">
		<span class="myCloseStyle closeBtn"></span>
		<h1>{{title}}</h1>
		<div>
			<img src="{{images}}">
			<p>{{defination}}</p>
		</div>
	</div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
$jsLoader("js/find.magnet.js");

</script>
</body>