<body>
<script type="text/javascript">
$cssLoader("css/story.magnet.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="magnet">
	<div class="title">
		story about magnet
	</div>

	<div class="nextBtn">
	</div>

	<div class="storyBox">
		story box
	</div>

</div>


<script type="text/x-handlebars-template" id="pirate-talk">
    <div class="say1">{{say}}</div>
	<img src="{{image}}" alt="" class="alone">
</script>

<script type="text/x-handlebars-template" id="pirate-fall">
<div class="{{newClass}}">
	<div class="say2">{{say}}</div>
	<img src="{{image}}" alt="" class="fall">
	<div class="desc">{{discription}}</div>
</div>
</script>

<script type="text/x-handlebars-template" id="">
    
</script>
<!-- js loader starts -->
<script type="text/javascript">

$jsLoader("js/story.magnet.js");

</script>
</body>