<script type="text/javascript">
	$cssLoader("exercise/css/exercisetemplate.css");
	$cssLoader("../../../../css/rhino_template.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{! content block starts--}}
		<div class="contentblock {{contentblockadditionalclass}}">
			{{#each uppertextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
			{{/each}}
			{{#if optionsblock}}
				<div class="optionsblock {{optionsblockadditionalclass}}">
					{{#each optionsblock}}
						<div>
							<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							<img class="correct-incorrect cor" src="images/correct.png">
							<img class="correct-incorrect incor" src="images/wrong.png">
						</div>
					{{/each}}
				</div>
			{{/if}}
			<img class="center-image" src="{{imagesrc}}">
		</div>
	</div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
	$jsLoader("js/buzz.min.js");
	$jsLoader("exercise/js/exercise1.js");
</script>
