@font-face {
	font-family: "Warnes";
	font-style: normal;
	font-weight: 400;
	src: local("Warnes"), local("Warnes-Regular"), url("IeM26aZh6wEmm42pWGUMfg.woff2") format("woff2");
}

.my_activity {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.my_activity, .my_activity * {
	position: relative;
	margin: 0;
	padding: 0;
}

.my_activity .nextBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.my_activity .prevBtn {
	display: none;
	position: absolute;
	z-index: 1000;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bg_story_0 {
	background-image: url("../images/05.png");
	background-size: 100% 75%;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.bg_story_1 {
	background-image: url("../images/01.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_2 {
	background-image: url("../images/02.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_3 {
	background-image: url("../images/03.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_4 {
	background-image: url("../images/04.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_5 {
	background-image: url("../images/05.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_6 {
	background-image: url("../images/06.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_7 {
	background-image: url("../images/07.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_8 {
	background-image: url("../images/08.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_9 {
	background-image: url("../images/09.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_10 {
	background-image: url("../images/10.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_11 {
	background-image: url("../images/11.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_12 {
	background-image: url("../images/11_a.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_13 {
	background-image: url("../images/12.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_14 {
	background-image: url("../images/13.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_15 {
	background-image: url("../images/14_a.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_16 {
	background-image: url("../images/14.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_17 {
	background-image: url("../images/15.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_18 {
	background-image: url("../images/16.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_19 {
	background-image: url("../images/17.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_20 {
	background-image: url("../images/18.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_21 {
	 background-image: url("../images/19.png");
	 background-size: 100% 75%;
	 background-repeat: no-repeat
 }
.bg_story_22 {
	background-image: url("../images/20.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_23 {
	background-image: url("../images/21.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_24 {
	background-image: url("../images/22.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_25 {
	background-image: url("../images/23.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_26{
	background-image: url("../images/24.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_27{
	background-image: url("../images/25.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_28{
	background-image: url("../images/26.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
.bg_story_29{
	background-image: url("../images/27.png");
	background-size: 100% 75%;
	background-repeat: no-repeat
}
/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*===================================
 =            HeaderBlock            =
 ===================================*/

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
	/*border   : 1px solid red;*/
}

div.headerblock p.headertextstyle {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1% 2%;
	font-size: 1.3em;
	font-weight: bold;
	color: rgb(238, 110, 115);
	background-color: rgb(252, 252, 252);
	text-align: center;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock {
	height: 13%;
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle {
	padding: 2%;
}

/*=====  End of HeaderBlock  ======*/


/*====================================
 =            ContentBlock            =
 ====================================*/

div.generalTemplateblock div.contentblock {
	position: absolute;
	width: 100%;
	padding: 1%;
	/*border   : 1px solid blue;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 13%;
	height: 87%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

/*=====  End of ContentBlock  ======*/

/*==================================
 =            Text Block            =
 ==================================*/

div.textblock {
	position: absolute;
	/*border   : 1px solid green; */
}

.bottom_para {
	position: absolute;
	top: 75%;
	height: 25%;
	width: 100%;
	left: 0%;
	padding: 1% 6%;
	text-align: center;
	font-family: Sniglet;
	background-color: #B5F0E7;
}
.bottom_para>p, .bottom_para>span{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 80%;
}

.text_story {
	/*background-color: #FFD36B;*/
	color: black;
	border-radius: 5px;
}
.text_on {
	/*text-shadow: 0px 0px 1px #00FF21;*/
	/*filter: drop-shadow(0px 0px 5px #00FF21);*/
	color: black;
}
.is_playing{
	color: #B34C01!important;
}
.text_off {
	color: #55f;
	/*text-shadow: 0px 0px 1px #FFE97F;
	filter: drop-shadow(0px 0px 5px #FFE97F);*/
}

.go_off {
	animation: go_off 1.5s;
	-webkit-animation: go_off 1.5s;
}

.text_inactive {
	cursor: pointer;
	color: #333;
	padding: 0 0.5% 0 0.5%;
	/*text-shadow: 0px 0px 2px #0094FF;
	filter: drop-shadow(0px 0px 5px #0094FF);*/
}

.text_inactive:hover {
	/*text-shadow: 0px 0px 1px #B200FF;
	filter: drop-shadow(0px 0px 5px #B200FF);*/
	background: #FF5B61;
	padding: 0 0.5% 0 0.5%;
	border-radius: 5px;
	color: white;
}

.text_active {
	color: black;
	/*text-shadow: 0px 0px 1px #00FF21;
	filter: drop-shadow(0px 0px 5px #00FF21);*/
	background: #FFCD54;
	padding: 0 0.5% 0 0.5%;
	border-radius: 5px;	
}

.its_hidden {
	display: none;
}

/* -------- speech box ends --------- */


/*----------------------------------
 |			Animations			   |
 -------------------------------- */
.fade_in {
	animation: appear 3s;
	-webkit-animation: appear 3s;
}

@-webkit-keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}
@keyframes
appear {
0%   {opacity: 0;}
100% {opacity: 1;}
}

.fade_away {
	animation: disappear 3s;
	-webkit-animation: disappear 3s;
}

@-webkit-keyframes
disappear {
0%   {opacity: 1;}
100% {opacity: 0;}
}
@keyframes
disappear {
0%   {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes
go_off {
0%   {color: #000; text-shadow: 0px 0px 1px #00FF21; filter: drop-shadow(0px 0px 5px #00FF21);}
100% {color: #555; text-shadow: 0px 0px 1px #FFE97F; filter: drop-shadow(0px 0px 5px #FFE97F);}
}
@keyframes
go_off {
0%   {color: #000; text-shadow: 0px 0px 1px #00FF21; filter: drop-shadow(0px 0px 5px #00FF21);}
100% {color: #555; text-shadow: 0px 0px 1px #FFE97F; filter: drop-shadow(0px 0px 5px #FFE97F);}
}

/*=====  End of Text Block  ======*/

/*===================================
 =            Image Block            =
 ===================================*/

div.imageblock {
	position: absolute;
	right: 1%;
	width: 3.5%;
	top: 77%;
	z-index: 10;
	/*border     : 1px solid green; */
}

div.droppableblock {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 20%;
	/*border     : 1px solid green; */
}

div.imageblock label {
	position: absolute;
}

.horizontal_center {
	left: 50%;
	transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	text-align: center;
}

.cover_full {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* === Activity Specific Image Blocks === */


/*=====  End of Image Block  ======*/

/*============================================
 =            Definition layout               =
 ============================================*/
div.definitionblock > img {
	position: relative;
	width: 50%;
	left: -20%;
}

div.definitionblock > figcaption {
	position: relative;
	margin-top: -8%;
	left: -21%;
	font-size: 2em;
	color: rgb(201, 136, 116);
}

div.definitionblock > p.definitiontextstyle {
	position: relative;
	text-align: left;
	margin-top: 15%;
	font-size: 1.5em;
	padding: 0% 2%;
	/* border  : 1px solid red; */
}

/*=====  End of Definition layout  ======*/

/*=====  End of general template layout  ======*/

/*====================================
 =            Custom Style            =
 ====================================*/
.lesson-title {
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    font-size: 10vmin;
    font-family: sniglet;
    width: 100%;
    background: rgb(153,204,51);
    height: 26%;
    box-shadow: .01em .1em .1em .01em rgba(0,0,0,.1);
    padding-top: 4%;
    text-shadow: .01em .1em .01em rgba(0,0,0,.1);
}

.audio_icon{
	display: none;
	cursor: pointer;
	width: 100%;
}
/*====================================
 =           Question Div            =
 ====================================*/

#span_speec_text{
	color: #FF671F;
}

/*=====  End of Question Div  ======*/

/*=====  End of Custom Style  ======*/
