.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
.board>*{
	margin: 0;
}

/*-------------------------------------
 * ----   vocablist list block   ------
 * ------------------------------------*/
.vocablist-wordslist{
	position: absolute;
	top: 0%;
	left:0%;
	width: 60%;
	height: 100%;
	padding: 11% 0% 5% 0%;
	background-color: #72EDEC;
	border-right: 1vmin solid #A9FEFC;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

.vocablist-col-slider{
	position: absolute;
	z-index: 100;
	width: 1.5%;
	top: 50%;
	height: 8%;
	cursor: pointer;
}

.vocablist-col-slider-left{
	display: none;
	left:0.5%;
	background-image: url("../images/arrow_l.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.vocablist-col-slider-right{
	display: none;
	left: 57%;
	background-image: url("../images/arrow_r.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.vocablist-word-col{
	width: 50%;
	min-width: 50%;
	height: 100%;
	padding: 0% 5%;
	text-align: left;
	float: left;
}
.vocablist-word-col>div{
	height: 12.5%;
	display: flex;
	align-items: center;
}
.vocablist-each-word{
	color: black;
	font-size: 2.2vw;
	padding: 1% 4%!important;
}
.vocablist-each-word-clicked{
	color: white;
	border-radius: 3px;
	background-color: #F82668;
}
.vocablist-each-word:hover:not(.vocablist-each-word-clicked){
	cursor: pointer;
	color: white;
	border-radius: 3px;
	background-color: #A74900;
}
/*-------------------------------------
 * ----  vocablist meaning block ------
 * ------------------------------------*/
.vocablist-meaning{
	position: absolute;
	top: 0%;
	left:60%;
	width: 40%;
	height: 100%;
	padding: 10% 2% 4% 2%;
	background-color: white;
	overflow: auto;
}
.vocablist-meaning>*{
	margin: 1%;
	position: relative;
}
.vocablist-meaning-image{
	border: 2px solid white;
	box-shadow: 0px 0px 1px #888;
	width: 75%;
}
.vocablist-meaning-header{
	text-align: center;
	font-size: 3vw;
	color: #DE2860;
	text-shadow: -1px -1px #FF0000; 
}
.vocablist-meaning-desc{
	text-align: center;
	font-size: 2.2vw;
	color: black; 
}

.vocablist-meaning-translation{
	text-align: center;
	font-size: 2.2vw;
	color: #4D73DB;
	font-style: italic; 
}


/*-------------------------------------
 * ----vocablist background block------
 * ------------------------------------*/

.vocablist-backgroundblock{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 5;
	padding: 0;
}
.vocablist-backgroundblock>*{
	margin: 0;
}
.vocablist-text-header{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 30%;
	font-size: 3vw;
	color: #356074;
	text-shadow: 1px 1px solid #888;
	z-index: 10;
}

.vocablist-image-banner{
	left: 0%;
	top: 1%;
	position: absolute;
	width: 57%;
	height: 10%;
	height: 10%;
	z-index: 10;
	background-size: 100% 100%;
}

.vocablist-image-grass{
	left: 0%;
	width: 100%;
	bottom: 0;
	position: absolute;
	z-index: 10;
}
.vocablist-image-balloon{
	position: absolute;
	width: 12%;
	top: -9%;
	left: 1%;
	z-index: 15;
}


/*-------------------------------------
 * ----  for responsive fonts     -----
 * ------------------------------------*/


@media (min-aspect-ratio: 4/3){
	.vocablist-text-header{
		font-size: 4vmin;
	}
	
	.vocablist-each-word{
		font-size: 3.3vmin;
	}
	
	.vocablist-meaning-header{
		font-size: 4vmin;
	}
	.vocablist-meaning-desc{
		font-size: 3.3vmin;
	}

	.vocablist-meaning-translation{
		font-size: 3.3vmin;
	}
}
