<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page1.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="chemicalreaction_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
        {{#if tableheader}}
            <div class="tableheader">
                {{#each tableheader}}
                    {{> tablecontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! header block end--}}
   
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if shellcapacityblock}}
            <div class="shellcapacityblock {{shellcapacityblockadditionalclass}}">
                {{#each shellcapacityblock}}
                    {{> shellcapacitycontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if tableblock}}
            <div class="tableblock {{tableblockadditionalclass}}">
                {{#each tableblock}}
                    {{> tablecontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">   
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<script id="shellcapacitycontent-partial" type="text/x-handlebars-template">
    <p class="firstline" data-highlight="{{datahighlightflagfirstline}}" data-highlightcustomclass="{{datahighlightcustomclassfirstline}}">{{{firstline}}}</p>
    <p class="shellselection">{{{secondline}}}
        <span class="selectcontainer">
        	<select>
        		{{#each shelloptions}}
            		<option value="{{optionvalue}}">{{optiontext}}</option>
        		{{/each}}
        	</select>
        </span> 
    </p>
    <p class="thirdline">{{{thirdline}}}<span>1</span></p>
    <p class="fourthline">{{{fourthline}}}2 &#x02A2F; <span>1</span><sup>2</sup></p>
    <p class="fifthline">= 2 &#x02A2F; (<span>1</span>)<sup>2</sup></p>
    <p class="sixthline">= <span>2</span></p>
</script>

<script id="tablecontent-partial" type="text/x-handlebars-template">
    <table>
      <tr>
      {{#each tableheading}}
        <th>{{this}}</th>
      {{/each}}
      </tr>
      {{#each element}}
         <tr>
            {{extractelementdetails this}}
         </tr>
      {{/each}}
    </table>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.js");
</script>