<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page6.exponential.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        {{#each maths}}
            <div class="maths maths{{@index}}">
                <span class="base"> {{{this.base}}}</span>
                <span class="power {{#if ../animate}}smallbubbleUp{{/if}}"
                >{{this.exponent}}</span>
            </div>
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="how-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        <div class="lokharke">
            <img src="images/lokharke/1.png"/>
            <div class="bubble">{{{lokharkeText}}}
            </div>
            <div class="bubble2">{{{lokharkeText2}}}</div>
        </div>

        <img src="{{plane}}" class="plane"/>

        <img src="{{parachute}}" class=" parachute parachute1"/>
        <img src="{{parachute}}" class=" parachute parachute2"/>
        <img src="{{parachute}}" class=" parachute parachute3"/>
        <img src="{{parachute}}" class=" parachute parachute4"/>

        <div class="powerDrop">
            <div class="leftSife">
                <span>2</span>
                x
                <span>2</span>
                x
                <span>2</span>
                x
                <span>2</span>
            </div>
            <div class="equal">=</div>
            <div class="rightSide">
                <span>
                    <span class="base">2</span>
                    <sup class="power power1">1</sup>
                </span>
                x
                <span>
                    <span class="base">2</span>
                    <sup class="power power2">1</sup>
                </span>
                x
                <span>
                    <span class="base">2</span>
                    <sup class="power power3">1</sup>
                </span>
                x
                <span>
                    <span class="base">2</span>
                    <sup class="power power4">1</sup>
                </span>
            </div>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page6.exponential.js");
</script>