<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page7.exponential.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea"></div>
         <div class="showAns">a</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>{{couter}}: </span>
            <span class="q">{{{expand}}} = </span>
            {{#if example}}
            <span class="exBP">
                <span class="base">{{{base}}}</span>
                <sup class="power">{{{power}}} </sup>
            </span>
            {{else}}
                <span class="base"><input type="text"/></span>
                <sup class="power"><input type="text"/></sup>
                <span class="checkShow"></span>
            {{/if}}
        </div>
        {{#if example}}
        <div class="showAns">
            <div class="expandForm">= {{{expandWithOne}}}</div>
            <div class="addTop">=
                <span class="base">{{base}}</span>
                <span class="power">{{topAdder}}</span>
            </div>
            <div class="add">=
                <span class="base">{{base}}</span>
                <sup class="power">{{power}}</sup>
            </div>
        </div>
        {{/if}}
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="showAns-template">
    <div class="qTitle">
        <span>{{couter}}: </span>
        <span class="q">{{{expand}}} = ?<sup>?</sup></span>
    </div>
    <div class="expandForm">= {{{expandWithOne}}}</div>
    <div class="addTop">=
        <span class="base">{{base}}</span>
        <span class="power">{{topAdder}}</span>
    </div>
    <div class="add">=
        <span class="base">{{base}}</span>
        <sup class="power">{{power}}</sup>
    </div>
</script>



<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/common.exponential.js");
    $jsLoader("js/page7.exponential.js");
</script>