<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page2.exponential.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>{{couter}})</span>
            <span class="q">{{base}}<sup>{{power}}</sup></span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{baseString}} = </span><input type="text" class="base">
            <span class="check1"></span>
            <span class="powerString">{{powerString}} = </span>
            <input type="text" class="power">
            <span class="check2"></span>

            <span class="showAns">
                <span class="ans">{{answer}}: </span>
                <span class="baseString">{{baseString}} = </span>
                <span class="base">{{base}}</span>,
                <span class="powerString">{{powerString}} = </span>
                <span class="power">{{power}}</span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.exponential.js");
</script>