#diImg1,#diImg2,#diImg3,#diImg4, #diag1,#diag2,#diag3,#diag4,#diag5,#diag6,#diag7,#diag8,#diag9,#diag10,#diag11,#diag12,#diag13,#diag14,#diag15,#diag16 {
	display : none;
}

@media screen and (min-aspect-ratio: 4/3) { 
	.character_dialouges{
		font-size: 4vh;
		line-height: 1.2;
	}
}

@media screen and (max-aspect-ratio: 4/3) { 
	.character_dialouges{
		font-size: 3.5vw;
		line-height: 1;
	}
}

.start_dialouge
	{
		margin-left : 39px;
	}
@media only screen and (min-width: 779px) and (max-width: 979px) {
	.character_image_modify {
  								height: 73px !important;
							}
	#footer{
		background :rgba(0,0,0,0.72) !important;
	}
	.start_dialouge
	{
		margin-left : 39px !important;
	}
	.buttons
	{
		font-size : 12px !important;
	}
	#diag1,#diag2,#diag3,#diag4,#diag5,#diag6 {
 				font-size : 15px;	
			}
}


.container_bg {
 	height: 100%;
  	position: relative;
  	overflow: hidden;
  	font-size: 1.3em;
  	xbackground: url("../images/slide1_bg.jpg") ;  
  	x-moz-background-size: cover;  
  	xbackground-size: cover;
	border-style: solid;
	border-width: 7px ;
	border-color: black ;
	background : white;
}
.related_images
{
	margin-top : 49px;
}
.row.character_images {
    margin-top: 7px;
}

.row_bg_overlay{
	background-color:white;
    height: 100%;
    width:100%;
   
}
.row_header{
	margin-top:10px;
}

.start_dialouge
{
	margin-left : 41px;
}
.character_images{
	margin-top : 15px;
}
.img_rounded
{
	 height: 19%;
}
.character_image_modify
{
	background: white;
	height : 93px;
}
.image_content{
	margin-top:2%;
}
.images_dialouges
{
	position : relative;
	top : -193px;
	}
	
.character_contents
{
	z-index : 1000;
}
.image-container
{
	text-align:center;
}

.dialouge_images
{
	height : 580px;
	width:100%;
	xborder : 9px solid #CCCCCC;
}

.footer_row{
	bottom: 0;
    position: absolute;
    width: 100%;
    height : 22%;
}
#footer
{
    background-color:rgba(0,0,0,0.72);
}
.modules
{
	margin: 0;
    /*padding-bottom: 30px;*/
    position: relative;
    height: 100%;
    width: 100%;
}
.character_dialouges
{
	color: white;
}

.footer_dialouges
{
	width:100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

/*for pop up*/

.finishtxt {
	z-index: 1000;
	background-color: #85a1b9;
    box-shadow: 2px 2px 5px #000000;
    color: #ffffff;
    display: none;
    font-size: 1.5em;
    left: 8%;
    margin-bottom: 15px;
    padding: 20px;
    position: absolute;
    top: 40%;
    width: 83%;
}


/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/*end of for pop up*/


