<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
   
    	<div class="linesegment">
			<div class="board"></div>
			<div class="nextBtn myNextStyle"></div>
			<div class="prevBtn myPrevStyle"></div>
		</div>
		
		<script id="general-template" type="text/x-handlebars-template">
			{{! update templatecontains data for if it has header, instruction, headerinstruction
				or only has content --}}
				{{#if hasheaderblock}}
					<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
				{{else}}
					<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
				{{/if}}
				{{#if divtosnap}}<div class="{{snaptoobject}}"></div>{{/if}}

		 			{{! header block start--}}
						{{#if headerblock}}
							<div class="headerblock">
						{{#each headerblock}}
							{{> textcontent}}
						{{/each}}
							</div>
						{{/if}}
					{{! header block end--}}
			
					 {{! if there is a filter div present--}}
					    {{#if filterdiv}}
					        <div class="{{filterdivclass}}">
					        	 {{#each filtertextblock}}
					                    {{> textcontent}}
					             {{/each}}
					            {{#if filterimageblock}}
					            <div class="imageblock {{imageblockadditionalclass}}">
					                    {{#each filterimageblock}}
					                        {{> imagecontent}}
					                    {{/each}}
					            </div>
					            {{/if}}
					        </div>
					    {{/if}}
					    {{! end of code for filter div--}}
    
    
							{{! content block starts--}}
								<div class="contentblock {{additionalclasscontentblock}}">
									{{! content block content wrapper is used for content orientation i.e. center 
										horizontally or vertically}}
										{{#if contentblocknocenteradjust}}
											<div class = "coverboardfull">
										{{else}}
											<div class = "vertical-horizontal-center">
										{{/if}}
										</div>
				  				{{#if pagedividevertical}}
								<div class="wrapperIntro {{justClass}} sec">
							        <div class="{{leftsidediv}}"> 
							        
									</div>
							
									<div class="{{rightsidediv}}"> 
										
									</div>
							    </div>
								{{/if}}
									{{! if the content has a upperblock of texts--}}
										{{#if uppertextblock}}
											<div class ="textblock {{verticla-horizontal-center}}">
												{{{firstpagetitle}}}
											{{#if contentblocknocenteradjust }}
												<div class ="verticla-horizontal-center">
											{{/if}}
											
											{{#each uppertextblock}}
												{{>textcontent}}
											{{/each}}
													
											{{#if contentblocknocenteradjust }}
												</div>
											{{/if}}
											</div>
										{{/if}}
										
										{{! draggable image block if the content contains any draggable object}}
										{{#if draggableimageblock}}
										<div class="draggableimageblock {{imageblockadditionalclass}}">
											{{#if contentblockcenteradjust}}
												<div class= "verticla-horizontal-center">
											{{/if}}
											
											{{#each draggableimageblock}}
												{{>imagecontent}}
											{{/each}}
											
											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}
										
										{{! image block if the content contains any images }}
										{{#if imageblockadditionalclass}}
											<div class={{"imageblockadditionalclass"}}>
										{{/if}}
										
										{{#if imageblock}}
										<div class="imageblock">
											{{#if contentblockcenteradjust}}
												<div class= "vertical-horizontal-center">
											{{/if}}
											
											{{#each imageblock}}
												{{>imagecontent}}
											{{/each}}
											
											{{#if contentblockcenteradjust}}
												</div>
											{{/if}}
											
											{{#each extraimagearray}}
											<div class="{{extraimage}}"></div>
											{{/each}}
										</div>
										{{/if}}
										
										{{#if imageblockadditionalclass}}
											</div>
										{{/if}}
										
										{{#if lowertextblock}}
										<div class="textblock {{lowertextblockadditionalclass}}"  id="imageblock">
											{{#if contentblocknocenteradjust}}
												<div class="vertical-horizontal-center">
											{{/if}}
											{{#each lowertextblock}}
												{{>textcontent}}
											{{/each}}
										
											{{#if contentblocknocenteradjust}}
												</div>
											{{/if}}
										</div>
										{{/if}}
										
										{{#if definitionblock}}
										<div class="definitionblock {{definitionblockadditionalclass}}">
											{{#each definitionblock}}
												{{>definitioncontent}}
											{{/each}}
										</div>
										
										{{/if}}
								
								</div>
								
								
				</div>
				
		</script>
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="textcontent-partial" type="text/x-handlebars-template">
			<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" 
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
		</script>
		
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="imagecontent-partial" type="text/x-handlebars-template">
			
					
				
			{{#each imagetoshow}}
				<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
			{{/each}}
			<br>
			{{#each imagetodrop}}
				<div class="{{imgtodropclass}}">
					<img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>	
				</div>
			{{/each}}
			{{#if imagelabels}}
				{{#each imagelabels}}
					<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
						data-highlightcustomclass="{{datahighlightcustomclass}}" 
						>{{{imagelabeldata}}}</label>
						
				{{/each}}
			{{/if}}
			
		</script>
		
		<!--partials are seperated as subtemplates in handlebars-->
		<script id="definitioncontent-partial" type="text/x-handlebars-template">
			<img src="{{definitionimagesource}}" />
			<figcaption>{{definitiontextdata}}</figcaption>
			<p class ="definitiontextstyle" data-highlight="{{datahighlightflag}}" 
				data-highlightcustomclass="{{datahighlightcustomclass}}">{{definitioninsrtuctiondata}}</p>
		</script>

<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>

