.coverbg{
  background-color: #39b54a;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.treebg{
  background-image: url("../images/bg01.png");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.forestbg{
  background-image: url("../images/bg03.png");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.ashahead {
  position: absolute;
  height: 14.8%;
  width: 9%;
  z-index: 30;
  left: 0%;
  background-color: #f6b26b;
}
.ashahead.short{
  top: 5%;
}

.lastimage {
  position: absolute;
  top: 5%;
}
.lastimage1 {
  position: absolute;
  top: 65%;
}
.butterflygifclass.smallone {
  top: 66.1%;
  left: 26.9%;
  height: 7.3%;
  width: 8%;
  opacity: 0;
  animation: fadein 1s 1s forwards;
}
.image1 {
  height: 23%;
  width: 16%;
  left: 7%;
}
.image2 {
	height: 13%;
	width: 12%;
	left: 31%;
	top: 9%;
}
.image3 {
  height: 21%;
  width: 13%;
  left: 50%;
}
.image4 {
  height: 20%;
  width: 15%;
  left: 70%;
}
.image5 {
  height: 12%;
  width: 9%;
  left: 10%;
}
.image6 {
  height: 13%;
  width: 11%;
  left: 30%;
}
.image7 {
	height: 15%;
	width: 11%;
	left: 71%;
	top: 67%;
}
.image8 {
  height: 21%;
  width: 18%;
  left: 48%;
  top: 60%;
}
.instructionlast {
  position: absolute;
  top: 38%;
  left: 10%;
  width: 80%;
  background-color: #eeedd9;
  font-size: 4.5vmin;
  font-family: sniglet;
  padding: 2%;
}

.opacity{
  opacity:.2;
}

.instructionhead{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 11%;
  width: 100%;
  background-color: #eeedd9;
  font-size: 4.5vmin;
  font-family: sniglet;
  box-shadow: 3px 3px 5px 6px #09090966;
  padding: 2% 0% 7% 0%;
}
.bgparrotclass{
  height:100%;
  width:100%;

}

.handclass.beeclass {
	top: 56.5%;
	left: 79.8%;
}

.handclass.dragonflyclass {
	top: 53%;
	left: 38%;
	height: 8.1%;
	width: 4%;
}

.bigowl{
  transform: scale(2);
  transform-origin: 60% 15%;
}

.handclass {
  position: absolute;
  top: 46%;
  left: 64%;
  height: 8%;
  width: 4%;
  opacity: 0;
  animation: fadein 1s 2.5s linear forwards;
  cursor: pointer;
  z-index: 40;
}
.handclass.butterflyclass {
	top: 50.1%;
	left: 24.3%;
	height: 9.7%;
	width: 5%;
}

.handclass.ladybugclass {
  position: absolute;
  top: 47%;
  left: 23%;
}
.instructionhead.short{
  width: 55%;
  top: 5%;
}
.instructionhead.ins{
  width: 55%;
  top: 5%;
}
.butterflygifclass {
  position: absolute;
  top: 42%;
  left: 18.4%;
  height: 17%;
  width: 14%;
}

.ladybuggifclass {
  position: absolute;
  top: 43%;
  left: 20.5%;
  height: 11%;
  width: 8%;
}
.beegifclass {
  position: absolute;
  top: 51.8%;
  left: 76.6%;
  height: 19%;
  width: 13%;
  transform: scaleX(-1);
}

.dragonflygifclass {
  position: absolute;
  top: 51.5%;
  left: 33.5%;
  height: 11.9%;
  width: 11%;
  transform: rotate(35deg);

}

.zoombutterfly{
  animation: zoombutterfly 7s ease-in-out forwards;
}
.zoomdragonfly{
  animation: zoomdragonfly 7s ease-in-out forwards;
}
.zoomladybug{
  animation: zoomladybug 7s ease-in-out forwards;
}
.zoombee{
  animation: zoombee 7s ease-in-out forwards;
}
.zoomout{
  animation: zoomout 2s ease-in-out forwards;
}

.instructionhead,.ashahead{
  left: -100%;
  animation: slidefromleft 1s 1s ease-out forwards;
}

.bigbutterfly{
  transform: scale(2.3);
  transform-origin: 35% 85%;
}
.bigdragonfly{
  transform: scale(2);
  transform-origin: 40% 50%;
}
.bigladybug{
  transform: scale(2.3);
  transform-origin: 15% 85%;
}
.bigbee{
  transform: scale(2.3);
  transform-origin: 100% 75%;
}
@keyframes zoombutterfly{
	0%{
	    transform: scale(1);
      transform-origin: initial;
	}
  40% {
      transform: scale(2.3);
      transform-origin: 35% 85%;
  }
  50% {
      transform: scale(2.3);
      transform-origin: 35% 85%;
  }
  60% {
      transform: scale(2.3);
      transform-origin: 35% 85%;
  }
  100% {
      transform: scale(2.3);
      transform-origin: 35% 85%;
  }
}

@keyframes zoombee{
	0%{
	    transform: scale(1);
      transform-origin: initial;
	}
  40% {
      transform: scale(2.3);
      transform-origin: 100% 75%;
  }
  50% {
      transform: scale(2.3);
      transform-origin: 100% 75%;
  }
  60% {
      transform: scale(2.3);
      transform-origin: 100% 75%;
  }
  100% {
      transform: scale(2.3);
      transform-origin: 100% 75%;
  }
}

@keyframes zoomdragonfly{
	0%{
	    transform: scale(1);
      transform-origin: initial;
	}
  40% {
      transform: scale(2);
      transform-origin: 40% 50%;
  }
  50% {
      transform: scale(2);
      transform-origin: 40% 50%;
  }
  60% {
      transform: scale(2);
      transform-origin: 40% 50%;
  }
  100% {
      transform: scale(2);
      transform-origin: 40% 50%;
  }
}

@keyframes zoomladybug{
	0%{
	    transform: scale(1);
      transform-origin: initial;
	}
  40% {
      transform: scale(2.3);
      transform-origin: 15% 85%;
  }
  50% {
      transform: scale(2.3);
      transform-origin: 15% 85%;
  }
  60% {
      transform: scale(2.3);
      transform-origin: 15% 85%;
  }
  100% {
      transform: scale(2.3);
      transform-origin: 15% 85%;
  }
}

@keyframes zoomduck{
	0%{
	    transform: scale(1);
      transform-origin: initial;
	}
  40% {
      transform: scale(2);
      transform-origin: 70% 90%;
  }
  50% {
      transform: scale(2);
      transform-origin: 70% 90%;
  }
  60% {
      transform: scale(2);
      transform-origin: 70% 90%;
  }
  100% {
      transform: scale(2);
      transform-origin: 70% 90%;
  }
}

@keyframes zoomin{
	0%{
	    transform: scale(1);

	}

  100% {
      transform: scale(2.5);

  }}

  @keyframes zoomout{
    100% {
        transform: scale(1);

    }}


/*  100% {
      transform: scale(1);
      transform-origin: initial;
  }*/


@keyframes fadein{
  0%
  {
     opacity:0;
  }

  100%
  {
    opacity:1;
  }
}

@keyframes slidefromleft{
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
