.activity_exercise {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_exercise, .activity_exercise * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_exercise .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%; 
}

/* .activity_exercise .prevBtn{
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;    
} */

/*==================================================
=            divs to push template into            =
==================================================*/

.board{
    position   : relative;
    top        : 0%;
    left       : 0%;
    width      : 100%;
    height     : 100%;
    text-align : center;

    background : -moz-linear-gradient(105deg, rgba(46,31,58,1) 0%, rgba(115,83,159,1) 53%, rgba(115,83,159,1) 100%); /* ff3.6+ */
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(115,83,159,1)), color-stop(47%, rgba(115,83,159,1)), color-stop(100%, rgba(46,31,58,1))); /* safari4+,chrome */
    background : -webkit-linear-gradient(105deg, rgba(46,31,58,1) 0%, rgba(115,83,159,1) 53%, rgba(115,83,159,1) 100%); /* safari5.1+,chrome10+ */
    background : -o-linear-gradient(105deg, rgba(46,31,58,1) 0%, rgba(115,83,159,1) 53%, rgba(115,83,159,1) 100%); /* opera 11.10+ */
    background : -ms-linear-gradient(105deg, rgba(46,31,58,1) 0%, rgba(115,83,159,1) 53%, rgba(115,83,159,1) 100%); /* ie10+ */
    background : linear-gradient(345deg, rgba(46,31,58,1) 0%, rgba(115,83,159,1) 53%, rgba(115,83,159,1) 100%); /* w3c */
    filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#73539F', endColorstr='#2E1F3A',GradientType=0 ); /* ie6-9 */
}

/*-----  End of divs to push template into  ------*/


/*==========================================
=            quizboard template            =
==========================================*/
.quizboard{
    position           : absolute;
    top                : 3%;
    left               : 2%;
    width              : 75%;
    height             : 94%;
    background-color   : rgb(253, 253, 253);
    border-radius      : 5px;
    -webkit-box-shadow : 3px 8px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow    : 3px 8px 5px -3px rgba(0,0,0,0.75);
    box-shadow         : 3px 8px 5px -3px rgba(0,0,0,0.75);
}

.quizboard .question{
    position   : relative;
    top        : 2%;
    left       : 0;
    text-align : left;
    padding    : 0.5% 2%;
    font-size  : 1.5em;
    /*border   : 1px solid red;*/
}

.quizboard .question b{
    position         : relative;    
    padding          : 0.2% 1%;
    color            : white;
    background-color : rgb(60, 73, 82);
}

.quizboard .question span{
    position : relative;    
    padding  : 0.2% 1%;
    color    : rgb(65, 74, 81);
}

/*if quiz board has no description content class "hasdescriptionclass" in options div*/
.quizboard .options{
    display   : table;
    margin    : 0 auto;
    /*border  : 1px solid red;*/
    position  : relative;
    top       : 3%;
    min-width : 50%; /*this is important if the any options in questions have fraction
                        or else width is enough*/
    padding   : 1%;
}

/*if quiz board has description content class "hasdescriptionclass" in options div*/
.quizboard .options.hasdescriptionclass{
    margin   : 0;
    /*border : 1px solid red;*/
    position : relative;    
    top      : 5%;
    width    : 50%;
    padding  : 1%;
}

.quizboard .options p{
    position           : relative;  
    padding            : 2%;
    color              : white;
    font-size          : 1.3em;
    background-color   : rgb(55, 162, 234);
    cursor             : pointer;
    border-radius      : 5px;
    left: 5%;
    width: 80%;
    -webkit-box-shadow : 0px 10px 5px -7px rgba(55,162,234,1);
    -moz-box-shadow    : 0px 10px 5px -7px rgba(55,162,234,1);
    box-shadow         : 0px 10px 5px -7px rgba(55,162,234,1);

    transition         : background-color 0.1s ease-out, box-shadow 0.1s ease-out;
    -moz-transition    : background-color 0.1s ease-out, box-shadow 0.1s ease-out;
    -webkit-transition : background-color 0.1s ease-out, box-shadow 0.1s ease-out;
}

.fraction{
    display         : inline-table;
    text-align      : center; /*this can be here or inside .fraction's child */
    vertical-align  : middle; /*oh wow this is a wow align test without this and see what wow LOL*/
    border-collapse : collapse;
    font-size       : 0.8em;
}

/*.fraction .numerator,
.fraction .denominator{
    display : table-row;
}

.fraction .numerator{
    border-bottom : solid white 2px;
}

.fraction .summarynumerator{
    border-bottom : 1px black solid !important;
}*/

.quizboard .options p img{
    position   : absolute;
    top        : 0%;
    left       : 100%;
    width      : 15%;
    visibility : hidden;
}

.quizboard .options p[data-correct^="correct"][data-isclicked^="clicked"]{
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
    background-color   : rgb(45, 205, 95);
    pointer-events     : none;
}

.quizboard .options p[data-correct^="correct"][data-isclicked^="clicked"] img{
    visibility:visible;
}

.quizboard .options p[data-correct^="incorrect"][data-isclicked^="clicked"]{
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
    background-color   : rgb(251, 87, 78);
    pointer-events     : none;
}

.quizboard .options p[data-correct^="incorrect"][data-isclicked^="clicked"] img{
    visibility : visible;
}

/*define horizontal grid sizing according to additional class*/
.quizboard .options[class*='numberofoptions2'] p,
.quizboard .options[class*='numberofoptions3'] p,
.quizboard .options[class*='numberofoptions4'] p{
    margin: 8% 4%;
}

.quizboard .options[class*='numberofoptions5'] p{
    margin : 5% 1%;
}

.quizboard .options[class*='numberofoptions6'] p{
    margin : 3% 1%;
}

.quizboard .options p : hover{
    background-color      : rgb(253, 185, 78);
    -webkit-box-shadow    : 0px 10px 5px -7px rgba(253, 185, 78,1);
    -moz-box-shadow       : 0px 10px 5px -7px rgba(253, 185, 78,1);
    box-shadow            : 0px 10px 5px -7px rgba(253, 185, 78,1);
}

.quizboard .options p[data-correct^='is']{
    background-color   : rgb(253, 185, 78);
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    box-shadow         : none;
}

/*if quiz board has description container*/
.descriptioncontainer{
    position   : absolute;
    top        : 20%;
    left       : 55%;
    width      : 45%;
    height     : 70%;
    text-align : left;
    /*border   : 1px solid red;*/
}

.descriptioncontainer .descriptioncontent{
    position          : relative;   
    top               : 50%;
    left              : 50%;
    transform         : translate(-50%, -50%);
    -moz-transform    : translate(-50%, -50%);
    -webkit-transform : translate(-50%, -50%);
    text-align        : center;
}

.descriptioncontainer .descriptioncontent img.flashlight{
    position      : relative;   
    width         : 30%;
    margin-bottom : 3%;
}

.descriptioncontainer .descriptioncontent blockquote{
    position   : relative;  
    text-align : left;
    padding    : 3%;
}

/*-----  End of quizboard template  ------*/

/*============================================
=            Score board template            =
============================================*/
.scoreboard{
    position           : absolute;
    top                : 5%;
    right              : 2%;
    width              : 21%;
    padding            : 1% 0.5% 0.5% 2%;
    text-align         : left;
    background-color   : rgb(253, 253, 253);
    border-radius      : 0px 5px 5px 0px;
    -webkit-box-shadow : 3px 8px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow    : 3px 8px 5px -3px rgba(0,0,0,0.75);
    box-shadow         : 3px 8px 5px -3px rgba(0,0,0,0.75);
}

.scoreboard .scoretext,
.scoreboard .totalproblemstext{
    position  : relative;
    font-size : 1.3em;
    color     : rgb(116, 84, 159);
}

.scoreboard .scorecount{
    padding   : 1%;
    font-size : 1.4em;
}

.scoreboard .scorecount * : nth-last-of-type(n+1){
        margin-right  : 5%
}

.scoreboard .scorecount span{
    background-color : rgb(54, 68, 79);
    font-size        : 1.2em;
    color            : rgb(247, 255, 255);
    padding          : 1% 8%;
    border-radius    : 8px;
}
.scoreboard .scorecount b{
    color       : rgb(54, 68, 79);
    font-size   : 1.7em;
    padding     : 3%;
    font-weight : bolder;
}

.scoreboard .totalproblemscount{
    position   : relative;
    font-size  : 1.7em;
    color      : rgb(56, 70, 79);
    text-align : center;
}

.scoreboard .scoregraph{
    position : relative;
    width    : 100%;
    padding  : 5%;
}

.scoreboard .scoregraph span{
    position         : relative;
    width            : 14.05%;
    height           : 1.1em;
    margin-top       : 1.5%;
    margin-right     : 1.5%;
    background-color : rgb(121, 112, 131);
    float            : left;

    transition         : background-color 0.2s linear;
    -moz-transition    : background-color 0.2s linear;
    -webkit-transition : background-color 0.2s linear;
}

.scoreboard .scoregraph span[data-correct^="incorrect"]{    
    background-color : rgb(251, 87, 78);
}

.scoreboard .scoregraph span[data-correct^="correct"]{  
    background-color : rgb(45, 205, 95);
}


/*-----  End of Score board template  ------*/

/*===============================================
=            Congratulation template            =
===============================================*/
.congratulationcontainer{
    position           : absolute;
    top                : 3%;
    left               : 2%;
    width              : 96%;
    height             : 94%;
    background-color   : rgb(253, 253, 253);
    border-radius      : 5px;
    -webkit-box-shadow : 3px 8px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow    : 3px 8px 5px -3px rgba(0,0,0,0.75);
    box-shadow         : 3px 8px 5px -3px rgba(0,0,0,0.75);
}

.congratulationcontainer .congratulationtext{
    position   : relative;
    margin-top : 3%;
    font-size  : 1.7em;
    color      : rgb(113, 83, 157);
}

.congratulationcontainer .congratiulationimage{
    position : relative;
    width    : 20%;
}

.congratulationcontainer .congratulationcompletedtext,
.congratulationcontainer .congratulationyourscoretext{
    position   : relative;
    font-size  : 1.5em;
    color      : rgb(74, 74, 74);
}

.congratulationcontainer .congratulationcompletedtext{
    margin-top : 3%;
}

.congratulationcontainer .congratulationyourscoretext{
    margin-top : 1%;
}

.congratulationcontainer .congratulationscoregraph{
    display  : table;
    margin   : 0 auto;
    position : relative;
    width    : 20%;
    padding  : 2%;
}

.congratulationcontainer .congratulationscoregraph span{
    position         : relative;
    width            : 14.05%;
    height           : 1.1em;
    margin-top       : 1.5%;
    margin-right     : 1.5%;
    background-color : rgb(121, 112, 131);
    float            : left;
}

.congratulationcontainer .congratulationscoregraph span[data-correct^="incorrect"]{ 
    background-color : rgb(251, 87, 78);
}

.congratulationcontainer .congratulationscoregraph span[data-correct^="correct"]{   
    background-color : rgb(45, 205, 95);
}

.congratulationcontainer .congratulationreviewtext{
    position   : relative;
    margin-top : 2%;
    color      : rgb(114, 82, 157);
    font-size  : 1.3em;
    cursor     : pointer;
}

/*-----  End of Congratulation template  ------*/


/*=====================================
=            summary block            =
=====================================*/
.quizsummary{
    position           : absolute;
    top                : 2%;
    left               : 2.5%;
    width              : 95%;
    height             : 96%;
    padding            : 0% 1%;
    background-color   : rgb(253, 253, 253);
    border-radius      : 5px;
    -webkit-box-shadow : 3px 8px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow    : 3px 8px 5px -3px rgba(0,0,0,0.75);
    box-shadow         : 3px 8px 5px -3px rgba(0,0,0,0.75);
    overflow-y         : scroll !important;
}

.quizsummarytitle{
    position    : relative;
    margin-top  : 2%;
    font-size   : 1.4em;
    color       : rgb(114, 84, 156);
    font-weight : bold;
}

/*override all default border given by bootstrap*/
.quizsummary table tbody *{
    border : none !important;
}

.quizsummary table tbody th:last-child,
.quizsummary table tbody tr td:last-child{  
    text-align : center;
}

.quizsummary table tbody tr td:first-child{ 
    text-align  : center;
    color       : white;
    /*font-weight : bold;*/
    font-size   : 1em;
}

table.summarycontainer th:last-child{   
    background-color : rgb(118, 202, 117);
    color            : white;
}

table.summarycontainer tbody tr[data-iscorrect="correct"]{
    border-bottom : 2px solid rgb(118, 202, 117) !important;
}

table.summarycontainer tbody tr[data-iscorrect="correct"] td:first-child{
    background-color : rgb(118, 202, 117) !important;
}

table.summarycontainer tbody tr[data-iscorrect="incorrect"]{
    border-bottom : 2px solid rgb(249, 100, 70) !important;
}

table.summarycontainer tbody tr[data-iscorrect="incorrect"] td:first-child{
    background-color : rgb(249, 100, 70) !important;
}

/*just to keep space between rows in table html tables are s**t*/
table.summarycontainer tr.spacer{
    height : 15px;
}

/*-----  End of summary block  ------*/


