.activity_container {
	width      : 100%;
	height     : 100%;
	position   : relative;
	overflow   : hidden;
	font-size  : 1.3em;
	background : #fff;
	box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
	position : relative;
	margin   : 0;
	padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
    	position          : relative;
    	top               : 45%;
    	left              : 50%;
    	transform         : translate(-50%, -50%);
    	-moz-transform    : translate(-50%, -50%);
    	-webkit-transform : translate(-50%, -50%);
    	text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 45%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }

        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generaltemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }

    /*===================================
    =            HeaderBlock            =
    ===================================*/

        div.headerblock{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 10%;
            /*border   : 1px solid red;*/
        }

        div.headerblock p.headertextstyle{
            position         : relative;
            top              : 0;
            left             : 0;
            width            : 100%;
            padding          : 1% 2%;
            font-size        : 1.3em;
            font-weight      : bold;
            color            : rgb(238, 110, 115);
            background-color : #C0EFFF;
            text-align       : center;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock{
            height:13%;
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.headerblock p.headertextstyle{
            padding : 2%;
        }

    /*=====  End of HeaderBlock  ======*/

    /*====================================
    =            ContentBlock            =
    ====================================*/

        div.generaltemplateblock div.contentblock{
            position : absolute;
            width    : 100%;
            padding  : 1%;
            /*border   : 1px solid blue;*/
        }

        div.generaltemplateblock[data-templatecontains='hasheaderblock'] div.contentblock{
            top    : 13%;
            height : 87%;
        }

        div.generaltemplateblock[data-templatecontains='hasonlycontent'] div.contentblock{
            top    : 0%;
            height : 100%;
        }

    /*=====  End of ContentBlock  ======*/

    /*===================================
    =        InstructionBlock           =
    ===================================*/

        div.instructionblock{
            position         : absolute;
            left             : 8%;
            width            : 84%;
            height           : 50%;
            background-color : white;

            -webkit-transition : top 0.3s ease-in;
            -o-transition      : top 0.3s ease-in;
            transition         : top 0.3s ease-in;

            border : 4px solid rgba(238, 238, 238,0.7 );
            border-radius: 5px;

            -webkit-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: inset 0px -1px 8px -1px rgba(0,0,0,0.75);

            background-color: rgb(238, 238, 238);
        }

        div.instructionblock[data-instructionblockshow='true']{
            top    : 50%;
        }

        div.instructionblock[data-instructionblockshow='false']{
            top    : 100%;
        }

        div.instructionblock div.instructionsets{
            position   : absolute;
            top        : 0%;
            left       : 0%;
            height     : 100%;
            width      : 100%;
            font-size  : 1.15em;
        }

        div.instructionblock div.instructionsets ol li{
            padding             : 0.5% 2%;
            list-style-position : inside;
            text-align          : left;
        }

        div.instructionblock div.instructionsets ol li:nth-of-type(n+2){
            margin-top:0.5%;
        }

        div.instructionblock div.toggleinstructionblock{
            position : absolute;
            bottom   : 100%;
            left     : 45%;
            width    : 10%;
            padding  : 0.7% 1%;
            cursor   : pointer;

            -webkit-box-shadow : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            -moz-box-shadow    : inset 0px 1px 1px 0px rgba(255,255,255,.4);
            box-shadow         : inset 0px 1px 1px 0px rgba(255,255,255,.4);

            -webkit-border-radius : 4px;
            -moz-border-radius    : 4px;
            border-radius         : 7px;

            background-image : -webkit-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -moz-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -ms-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : -o-linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
            background-image : linear-gradient(bottom, #383838 0%, #444444 49%, #555 50%, #555 100%);
        }

        div.instructionblock div.toggleinstructionblock span{
            font-size   : 1.3em;
            font-weight : bold;
            color       : white;

            -webkit-transition : transform 0.4s ease-out;
            -o-transition      : transform 0.4s ease-out;
            -moz-transition    : transform 0.4s ease-out;
            transition         : transform 0.4s ease-out;
        }

        div.instructionblock[data-instructionblockshow='false'] div.toggleinstructionblock span{
            -webkit-transform : rotate(540deg);
            -ms-transform     : rotate(540deg);
            -moz-transform    : rotate(540deg);
            -o-transform      : rotate(540deg);
            transform         : rotate(540deg);
        }

    /*=====  End of InstructionBlock  ======*/


    /*==================================
    =            Text Block            =
    ==================================*/
        @-webkit-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @-moz-keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        @keyframes swipebackgroundkeyframe {
            to { background-position : 0% 0%;}
        }

        div.textblock{
            position   : relative;
            margin-top : 1%;
            /*border   : 1px solid green; */
        }

        p.simpletextstyle{
            display    : table;
            margin     : 0 auto;
            position   : relative;
            margin-top : 1%;
            padding    : 1% 3%;
            font-size  : 1.3em;
            text-align : left;
            /* border  : 1px solid red; */
        }

        p.bigheadingtextstyle{
            display     : table;
            margin      : 0 auto;
            position    : relative;
            padding     : 1%;
            font-size   : 1.6em;
            font-weight : bold;
            /* border   : 1px solid red; */

            color : rgb(1, 174, 250);
        }

        p.singleparawithimagetextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.2em;
            text-align       : center;
            color            : black;
            background-color : rgb(198, 234, 248);
        }

        p.onlyparatextstyle,
        p.paratextstyle{
            display          : table;
            margin           : 0 0%;
            position         : relative;
            padding          : 3%;
            width            : 100%;
            font-size        : 1.5em;
            text-align       : left;

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);

            background-image: -webkit-linear-gradient(90deg, rgb(28, 183, 205) 50%, rgb(28, 183, 205) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(28, 183, 205) 50%, rgb(28, 183, 205) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(28, 183, 205) 50%, rgb(28, 183, 205) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(28, 183, 205) 50%, rgb(28, 183, 205) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(28, 183, 205) 50%, rgb(28, 183, 205) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;
            color: #fff;

            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        p.onlyparatextstyle{
            text-align: center;
        }

        p.bottomparatextstyle{
            display          : table;
            margin           : 0 auto;
            position         : relative;
            padding          : 2% 3%;
            width            : 80%;
            font-size        : 1.2em;
            text-align       : left;
            color            : black;
            background-color : rgb(198, 234, 248);

            -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
            box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
        }

        p.polybgtextstyle{
            display:table;
            margin:0 auto;
            position:relative;
            margin-top: 1%;
            padding:4%;
            font-size: 1.4em;
            text-align: left;

            /* svg image bg pulled from common images folder */
            background:url(../../../../../images/backgrounds/polygonbackground.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.formulatextstyle{
            display   : table;
            margin    : 0 auto;
            position  : relative;
            margin-top: 3%;
            padding   : 3%;
            color     : rgb(135, 41, 213);
            font-size : 1.3em;

            background:url(../../../../../images/backgrounds/greybackground_animated.svg);
            background-repeat: no-repeat;
            background-size:100% 100%;
        }

        p.sideboxtextstyle{
            display          : table;
            margin           : 0 2%;
            position         : relative;
            padding          : 5% 5%;
            width            : 95%;
            font-size        : 1.2em;
            text-align       : left;
            background-color : rgb(255, 247, 208);

            border        : 2px solid rgb(247, 204, 27);
            border-radius : 5px;
        }

        .swipebackgroundstyle{
            position   : relative;
            width      : 100%;
            text-align : left;
            padding    : 1% 5%;
            margin-top : 2%;
            font-size  : 1.1em;
            color      : black;

            background-image: -webkit-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Chrome 10+, Saf5.1+ */
            background-image:    -moz-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* FF3.6+ */
            background-image:     -ms-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* IE10 */
            background-image:      -o-linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* Opera 11.10+ */
            background-image:         linear-gradient(90deg, rgb(255, 211, 80) 50%, rgb(255, 211, 80) 50%); /* W3C */

            background-repeat   : no-repeat;
            background-size     : 200% 100%;
            background-position : -100% 0%;

            -webkit-animation : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -moz-animation    : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            -o-animation      : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
            animation         : swipebackgroundkeyframe 0.2s ease-out 1 forwards;
        }

        .swipebackgroundstyle:after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;

            z-index           : -1;
            -webkit-transform : rotate(0.8deg);
            -ms-transform     : rotate(0.8deg);
            -o-transform      : rotate(0.8deg);
            transform         : rotate(0.8deg);
        }

        .swipebackgroundstyle:before{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 100%;
            height           : 100%;
            background-color : rgba(0,0,0,0.1);
            border-radius    : 5px;

            z-index           : -2;
            -webkit-transform : rotate(1.6deg);
            -ms-transform     : rotate(1.6deg);
            -o-transform      : rotate(1.6deg);
            transform         : rotate(1.6deg);
        }

        .royalbluehighlightstyle{
            color : rgb(0, 0, 255);
        }

        .orangehighlight{
            color : rgb(197,6,6);
        }

        .textalignleft{
            text-align: left;
        }

    /*=====  End of Text Block  ======*/

    /*=====================================
    =            svg block                =
    =====================================*/
        div.svgwrapper{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer{
            position : absolute;
            top      : 0%;
            left     : 0%;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        div.svgcontainer > svg{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

    /*=====  End of svg block  ======*/

    /*===================================
    =            Image Block            =
    ===================================*/

        div.imageblock{
            position      : relative;
            margin-top    : 2%;
            margin-bottom : 2%;
            /*border     : 1px solid green; */
        }

        img.singleimgstyle{
            display  : table;
            margin   : 0 auto;
            position : relative;
            padding  : 1%;
            width    : 40%;
        }

        div.imageblock label{
           position : absolute;
        }

        img.twoimgtogether{
            position : relative;
            display  : inline-block;
            width    : 20%;
        }

        img.twoimgtogether:nth-of-type(1){
            margin-right : 20%;
        }

        img.twoimgtogetherlowspacing:nth-of-type(1){
            margin-right : 10%;
        }

        img.threeimgtogether{
            position   : relative;
            display    : inline-block;
            width      : 20%;
            margin-top : 2%;
        }

        img.threeimgtogether:nth-of-type(-n+3){
            margin-right : 10%;
        }

        img.threeimgtogetherlowspacing:nth-of-type(1){
            margin-right : 6%;
        }
    /*=====  End of Image Block  ======*/

    /*============================================
    =            Definition Block                =
    ============================================*/
        div.definitionblock > img{
            position : relative;
            width    : 50%;
            left     : -20%;
        }

        div.definitionblock > figcaption{
            position   : relative;
            margin-top : -8%;
            left       : -21%;
            font-size  : 2em;
            color      : rgb(201, 136, 116);
        }

        div.definitionblock > p.definitiontextstyle{
            position   : relative;
            text-align : left;
            margin-top : 15%;
            font-size  : 1.5em;
            padding    : 0% 2%;
            /* border  : 1px solid red; */
        }

        div.definitionblock > p.definitiontextstyle > span.definitionhighlight{
            color            : white;
            background-color : #00CADC;
            box-shadow       : 0 0 0 0.1em hsl(0, 0%, 80%),
                               0 0 0 0.2em hsl(0, 0%, 90%);
            padding          : 0.05% 0.5%;
        }

    /*=====  End of Definition Block  ======*/

    /*==============================================
    =            Diy Splash Page Block             =
    ==============================================*/

        div.diysplashblock{
            position : relative;
            width    : 100%;
            /*border   : 1px solid red;*/
        }

        div.diysplashblock > figure{
            position : relative;
            display  : table;
            margin   : 0 auto;
            width    : 40%;
            /*border : 1px solid red;*/
        }

        div.diysplashblock > figure > img{
            width: 100%;
        }

        div.diysplashblock > figure > figcaption{
            position    : absolute;
            top         : 12%;
            left        : 3%;
            width       : 90%;
            margin      : 0 auto;
            font-size   : 1.5em;
            color       : #C98865;
            font-weight : bold;
            /*border    : 1px solid red;*/
        }

        div.diysplashblock > p{
            position   : relative;
            color      : black;
            margin-top : 3%;
            font-size  : 1.5em;
            padding    : 0% 2%;
        }

    /*=====  End of Diy Splash Page block  ======*/

    /*=================================
    =            Diy Block            =
    =================================*/
        div.diyblock{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall{
            position : relative;
            top      : 0%;
            width    : 100%;
            height   : 17%; /* you can change the height according to need */
            /*border   : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure{
            position : relative;
            top      : 0;
            left     : 0;
            width    : 20%;
            height   : 100%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > img{
            position : relative;
            width    : 60%;
            /*border : 1px solid red;*/
        }

        div.diyblock > div.diySmall > figure > figcaption{
            position  : absolute;
            top       : 5%;
            left      : 24%;
            width     : 53%;
            font-size : 0.8em;
            color     : #C98865;

            /*border:1px solid red;*/
        }

        div.diyblock > div.diySmall > p{
            position         : absolute;
            top              : 2%;
            right            : 0%;
            width            : 82%;
            padding          : 1% 1%;
            font-size        : 1.1em;
            text-align       : left;
            border           : 2px solid #DB9E36;
            border-radius    : 4px 4px 4px 4px;
            background-color : #FFD34E;
            color            : #BD4932;
        }

        div.diyblock > div.diyworkarea{
            position   : relative;
            margin-top : 1.5%;
            left       : 0%;
            width      : 100%;
            height     : 80%; /*you can change the height according to need */
            /*border     : 1px solid red;*/
        }
    /*=====  End of Diy block  ======*/

/*=====  End of general template layout  ======*/

/*====================================
=            Custom Style            =
====================================*/


    div.formulablock{
        position         : relative;
        margin           : 0% auto;
        width            : 60%;
        padding          : 3%;
        font-size : 1.5em;
    }

    div.formulablock > div{
        display    : inline-block;
        margin-top : 0em;
    }

    div.formulablock > div.lhscontainer{
        margin-top   : -12%;
        margin-right : 2%;
    }

    div.formulablock > div.rhscontainer > span.numerator{
        border-bottom: 2px solid black;
    }

    div.textblock.fishinoceantext,
    div.imageblock.imagefishinocean{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
        margin   : 0 0;
        /*border   : 1px solid red;*/
    }

    div.textblock.fishinoceantext p{
        position           : absolute;
        width              : 60%;
        left               : 40%;
        top                : 10%;
        background         : white;
        -webkit-box-shadow : none;
        -moz-box-shadow    : none;
        box-shadow         : none;
        padding            : 2%;
        border-radius      : 0.3em;
        font-size          : 1.3em;
        color              : black;
    }

    div.imageblock.imagefishinocean > img{
        position: absolute;
        top : 0%;
        left : 0%;
        width: 100%
    }

    /*misc block start*/

        div.miscblock{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid red;*/
        }

        div.pressurelab{
            position : relative;
            width    : 100%;
            height   : 100%;
            /*border   : 1px solid blue;*/
        }

        img.oceanwater{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

        div.ocean{
            position : absolute;
            top      : 0;
            left     : 0;
            width    : 60%;
            height   : 90%;
            /*border   : 1px solid blue;*/
        }

        img.fish{
            position : absolute;
            top      : 45%;
            width    : 20%;
        }

        img.fish:hover{
            cursor : grab;
        }

        img.fish:active{
            cursor : move;
        }

        div.pressuregauge{
            position : absolute;
            top      : 0%;
            left     : 60%;
            width    : 40%;
            height   : 50%;
            /*border   : 1px solid blue;*/
        }

        div.gaugecontainer{
            position : absolute;
            top      : 15%;
            left     : 17.5%;
            width    : 65%;
            height   : 80%;
            /*border   : 1px solid blue;*/
        }

        .pressuregaugetext{
            position         : relative;
            display          : table;
            margin           : 3% auto;
            font-weight      : bold;
        }

        .lowtext{
            position    : absolute;
            top         : 54%;
            left        : 25%;
            font-weight : bold;
        }

        .hightext{
            position    : absolute;
            top         : 54%;
            right       : 25%;
            font-weight : bold;
        }

        img.gaugecase{
            position : absolute;
            top      : 0%;
            left     : 0;
            width    : 100%;
            height   : 100%;
        }

        img.needle{
            position : absolute;
            top      : 2.5%;
            left     : 5%;
            width    : 90%;
            height   : 95%;

            -ms-transform     : rotate(0deg); /* IE 9 */
            -webkit-transform : rotate(0deg); /* Chrome, Safari, Opera */
            transform         : rotate(0deg);

            -ms-transform-origin     : center center; /* IE 9 */
            -webkit-transform-origin : center center; /* Chrome, Safari, Opera */
            transform-origin         : center center;
        }

        p.fishtextcontainer{
            position      : absolute;
            top           : 48%;
            margin-top    : 1%;
            width         : 40%;
            right          : 0%;
            background    : white;
            text-align    : left;
            padding       : 2%;
            border-radius : 0.3em;
            font-size     : 1.2em;
            color         : black;
        }

        @-webkit-keyframes scaleuppara{
            0%{
               -webkit-transform : scale(0);
            }

            100%{
                -webkit-transform : scale(1);
            }
        }

        @keyframes scaleuppara{
            0%{
                transform : scale(0);
            }

            100%{
                transform : scale(1);
            }
        }

        p.fishtextcontainer.textscaleup{
            -webkit-animation : scaleuppara 0.5s linear;
            animation         : scaleuppara 0.5s linear;
        }

        @-webkit-keyframes scaledownpara{
            to{
                -webkit-transform : scale(0);
            }
        }

        @keyframes scaledownpara{
            to{
                transform : scale(0);
            }
        }

        p.fishtextcontainer.textscaledown{
            -webkit-animation : scaledownpara 0.2s linear forwards;
            animation         : scaledownpara 0.2s linear forwards;
        }

    /* misc block end*/

/*=====  End of Custom Style  ======*/

/*maths css starts*/
.headertextstyle{
    position         : absolute;
    margin-top       : -1%;
    left             : 0;
    width            : 100%;
    padding          : 2% 2%;
    font-size        : 1.3em;
    font-weight      : bold;
    color            : #fff;
    background-color : rgb(0, 175, 136);
    text-align       : center;
}

.middletextparagraph{
    position: absolute;
    font-size: 1.2em;
    margin-top: 8%;
    width: 30%;
    left: 0%;
}

.group1{
    position: absolute;
    margin-top: 38%;
    width: 30%;
    left: 50%;
}
.group2{
    position: absolute;
    margin-top: 25%;
    width: 40%;
    left: 40%;
}

.group3{
    position: absolute;
    margin-top: 30%;
    width: 32%;
    left: 45%;
}
.group4{
    position: absolute;
    margin-top: 24%;
    width: 38%;
    left: 40%;
}

.kabindai{
    position: absolute;
    margin-top: 30%;
    width: 8%;
    left: 20%;
    /*transform: rotate(-180deg);*/
}

.bigfont{
    font-size: 1.6em;
    color: #E12069;
}

.bigfontgreen{
    font-size: 1.6em;
    color: #00AF88;
}

.colorchange{
    color: #E12069;
}
.greaterthan{
    position: absolute;
    margin-top: 6%;
    left: 28%;
    font-size: 2.4em;
    width: 5%;
}
.instruction1{
    position: absolute;
    margin-top: 14%;
    font-size: 1.2em;
    width: 100%;
}
.lessthansign{
    position: absolute;
    margin-top: 15%;
    font-size: 2em;
    width: 8%;
    font-weight: bold;
    opacity: 0;
    left: 10%;
}

.morethansign{
    position: absolute;
    margin-top: 15%;
    font-size: 2em;
    width: 5%;
    font-weight: bold;
    right: 36%;
    opacity: 0;

}
.morethanequalsign{
    position: absolute;
    margin-top: 15%;
    font-size: 2em;
    width: 5%;
    font-weight: bold;
    right: 12%;
    opacity: 0;
}

.lessthanequalsign{
    position: absolute;
    margin-top: 15%;
    font-size: 2em;
    width: 5%;
    font-weight: bold;
    left: 35%;
    opacity: 0;
}
.clickmore{
    position: absolute;
    margin-top: 16%;
    width: 5%;
    right: 35.5%;
    opacity: 0;
    cursor: pointer;
}

.clickless{
    position: absolute;
    margin-top: 16%;
    width: 5%;
    left: 12%;
    opacity: 0;
    cursor: pointer;

}

.clickmoreequal{
    position: absolute;
    margin-top: 16%;
    width: 5%;
    right: 12%;
    opacity: 0;
    cursor: pointer;

}

.clicklessequal{
    position: absolute;
    margin-top: 16%;
    left: 35%;
    width: 5%;
    opacity: 0;
    cursor: pointer;
}

.lesstitle{
    position: absolute;
    margin-top: 20%;
    font-size: 1.2em;
    /*font-weight: bold;*/
    left: 10%;
    width: 20%;
    opacity: 0;
}

.lesslhs{
    position: absolute;
    margin-top: 25%;
    font-size: 1.2em;
    width: 20%;
    left: 15%;
    padding: 1%;
    background: #E1FDEF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    opacity: 0;
}

.lesseg1{
    position: absolute;
    margin-top: 30%;
    font-size: 1.2em;
    width: 20%;
    left: 20%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
}

.lesseg2{
    position: absolute;
    margin-top: 35%;
    /*font-size: 1.2em;*/
    width: 20%;
    left: 25%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.lesslast{
    position: absolute;
    margin-top: 43%;
    border-radius: 8px;
    font-style: italic;
    /*font-size: 1.2em;*/
    width: 15%;
    left: 7.5%;
    padding: 1%;
    opacity: 0;
    background: #FFC5AC;
}
.lesseqtitle{
    position: absolute;
    margin-top: 20%;
    font-size: 1.2em;
    /*font-weight: bold;*/
    left: 35%;
    width: 25%;
    opacity: 0;
}

.lesseqlhs{
    position: absolute;
    margin-top: 25%;
    font-size: 1.2em;
    width: 20%;
    left: 40%;
    padding: 1%;
    background: #E1FDEF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    opacity: 0;
}

.lesseqeg1{
    position: absolute;
    margin-top: 30%;
    font-size: 1.2em;
    width: 20%;
    left: 45%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
}

.lesseqeg2{
    position: absolute;
    margin-top: 35%;
    /*font-size: 1.2em;*/
    width: 20%;
    left: 50%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.lesseqlast{
    position: absolute;
    margin-top: 43%;
    border-radius: 8px;
    font-style: italic;
    /*font-size: 1.2em;*/
    width: 15%;
    left: 29.5%;
    padding: 1%;
    opacity: 0;
    background: #FFC5AC;
}
.moretitle{
    position: absolute;
    margin-top: 20%;
    font-size: 1.2em;
    /*font-weight: bold;*/
    right: 20%;
    width: 20%;
    opacity: 0;
}

.morelhs{
    position: absolute;
    margin-top: 25%;
    font-size: 1.2em;
    width: 20%;
    right: 20%;
    padding: 1%;
    background: #E1FDEF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    opacity: 0;
}

.moreeg1{
    position: absolute;
    margin-top: 30%;
    font-size: 1.2em;
    width: 20%;
    right: 15%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
}

.moreeg2{
    position: absolute;
    margin-top: 35%;
    /*font-size: 1.2em;*/
    width: 20%;
    right: 10%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.morelast{
    position: absolute;
    margin-top: 43%;
    border-radius: 8px;
    font-style: italic;
    /*font-size: 1.2em;*/
    width: 15%;
    right: 31%;
    padding: 1%;
    opacity: 0;
    background: #FFC5AC;
}
.moreeqtitle{
    position: absolute;
    margin-top: 20%;
    font-size: 1.2em;
    /*font-weight: bold;*/
    right: -5%;
    width: 25%;
    opacity: 0;
}

.moreeqlhs{
    position: absolute;
    margin-top: 25%;
    font-size: 1.2em;
    width: 20%;
    right: -10%;
    padding: 1%;
    background: #E1FDEF;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    opacity: 0;
}

.moreeqeg1{
    position: absolute;
    margin-top: 30%;
    font-size: 1.2em;
    width: 20%;
    right: -15%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
}

.moreeqeg2{
    position: absolute;
    margin-top: 35%;
    /*font-size: 1.2em;*/
    width: 20%;
    right: -20%;
    padding: 1%;
    opacity: 0;
    background: #E1FDEF;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.moreeqlast{
    position: absolute;
    margin-top: 43%;
    border-radius: 8px;
    font-style: italic;
    /*font-size: 1.2em;*/
    width: 15%;
    right: 7.5%;
    padding: 1%;
    opacity: 0;
    background: #FFC5AC;
}

@keyframes fadein {
    0%{
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cssfadein{
    animation: fadein 1s linear 0.5s 1 forwards;
    -webkit-animation: fadein 1s linear 0.5s 1 forwards;
    -moz-animation: fadein 1s linear 0.5s 1 forwards;
}
.cssfadeinzero{
    animation: fadein 1s linear 0s 1 forwards;
    -webkit-animation: fadein 1s linear 0s 1 forwards;
    -moz-animation: fadein 1s linear 0s 1 forwards;
}
.cssfadein1{
    animation: fadein 1s linear 1.5s 1 forwards;
    -webkit-animation: fadein 1s linear 1.5s 1 forwards;
    -moz-animation: fadein 1s linear 1.5s 1 forwards;
}

@keyframes fadeout {
    0%{
        opacity: 1;

    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    0%{
        opacity: 1;

    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    0%{
        opacity: 1;

    }
    100% {
        opacity: 0;
    }
}

.cssfadeout{
    animation: fadeout 1s linear 0s 1 forwards;
    -webkit-animation: fadeout 1s linear 0s 1 forwards;
    -moz-animation: fadeout 1s linear 0s 1 forwards;
}
@keyframes goleft {
    from{
        opacity: 0;
    }
    to {
        left: 5%;
        opacity: 1;
    }
}

@-moz-keyframes goleft {
    from{
        opacity: 0;
    }
    to {
        left: 5%;
        opacity: 1;
    }
}

@-webkit-keyframes goleft {
    from{
        opacity: 0;
    }
    to {
        left: 5%;
        opacity: 1;
    }
}

.cssgoleft{
    animation: goleft 1s linear 0.5s 1 forwards;
    -webkit-animation: goleft 1s linear 0.5s 1 forwards;
    -moz-animation: goleft 1s linear 0.5s 1 forwards;
}

@keyframes goleftagain {
    from{
        opacity: 0;
    }
    to {
        left: 27%;
        opacity: 1;
    }
}

@-moz-keyframes goleftagain {
    from{
        opacity: 0;
    }
    to {
        left: 27%;
        opacity: 1;
    }
}

@-webkit-keyframes goleftagain {
    from{
        opacity: 0;
    }
    to {
        left: 27%;
        opacity: 1;
    }
}

.cssgoleftagain{
    animation: goleftagain 1s linear 0.5s 1 forwards;
    -webkit-animation: goleftagain 1s linear 0.5s 1 forwards;
    -moz-animation: goleftagain 1s linear 0.5s 1 forwards;
}

@keyframes goright {
    from{
        opacity: 0;
    }
    to {
        right: 29%;
        opacity: 1;
    }
}

@-moz-keyframes goright {
    from{
        opacity: 0;
    }
    to {
        right: 29%;
        opacity: 1;
    }
}

@-webkit-keyframes goright {
    from{
        opacity: 0;
    }
    to {
        right: 29%;
        opacity: 1;
    }
}

.cssgoright{
    animation: goright 1s linear 0.5s 1 forwards;
    -webkit-animation: goright 1s linear 0.5s 1 forwards;
    -moz-animation: goright 1s linear 0.5s 1 forwards;
}

@keyframes gorightagain {
    from{
        opacity: 0;
    }
    to {
        right: 5%;
        opacity: 1;
    }
}

@-moz-keyframes gorightagain {
    from{
        opacity: 0;
    }
    to {
        right: 5%;
        opacity: 1;
    }
}

@-webkit-keyframes gorightagain {
    from{
        opacity: 0;
    }
    to {
        right: 5%;
        opacity: 1;
    }
}

.cssgorightagain{
    animation: gorightagain 1s linear 0.5s 1 forwards;
    -webkit-animation: gorightagain 1s linear 0.5s 1 forwards;
    -moz-animation: gorightagain 1s linear 0.5s 1 forwards;
}

.smallloku{
    position: absolute;
    width: 10%;
    margin-top: 0%;
    left: 2%;
}

.customheading{
    position: absolute;
    width: 85%;
    left: 12%;
    margin-top: 2%;
    font-size: 1.2em;
}

.condition1{
    position: absolute;
    margin-top: 15%;
    width: 50%;
    font-size: 1.1em;
    left: 0;
}

.condition2{
    position: absolute;
    margin-top: 30%;
    font-size: 1.1em;
    width: 50%;
    left: 0;
}

.examplebox{
    position: absolute !important;
    margin-top: 10% !important;
    right: 0 !important;
    width: 50% !important;
    height: 60% !important;
    background: #EBEBFF;
}

.foreg{
    position: absolute;
    width: 80%;
    margin-top: 2%;
    background: #fff;
    left: 10%;
    border-radius: 8px;
}

.firstone{
    position: absolute;
    margin-top: 10%;
    font-size: 2em;
    left: 30%;
    width: 30%;
    transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
}
.firstback{
    position: absolute;
    margin-top: 10%;
    font-size: 2em;
    left: 30%;
    width: 30%;
    transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    opacity: 0;
    transform: rotate(180deg);

}

.secondone{
    position: absolute;
    margin-top: 40%;
    font-size: 2em;
    left: 30%;
    width: 30%;
    transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
}
.secondback{
    position: absolute;
    margin-top: 40%;
    font-size: 2em;
    left: 30%;
    width: 35%;
    transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    /*transform: rotate(180deg);*/
    opacity: 0;
}


.flip1{
    position: absolute;
    margin-top: 20%;
    right: 2%;
    font-size: 1.2em;
    background: #0088AF;
    width: 27%;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    padding: 1%;
    z-index: 999;
    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}
.unflip1{
    position: absolute;
    margin-top: 20%;
    right: 2%;
    font-size: 1.2em;
    background: #0088AF;
    width: 27%;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    padding: 1%;
    z-index: 999;
    display: none;
    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}

.flip2{
    position: absolute;
    margin-top: 40%;
    right: 2%;
    font-size: 1.2em;
    background: #0088AF;
    width: 27%;
    color: #fff;
    border-radius: 8px;
    padding: 1%;
    z-index: 999;
    cursor: pointer;
    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}
.unflip2{
    position: absolute;
    margin-top: 40%;
    right: 2%;
    font-size: 1.2em;
    background: #0088AF;
    width: 27%;
    color: #fff;
    border-radius: 8px;
    padding: 1%;
    z-index: 999;
    cursor: pointer;
    display: none;
    -webkit-box-shadow : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    -moz-box-shadow    : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    box-shadow         : 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
}
/*.flip1:hover{
    background: #00b4e6;
}*/

/*@keyframes switchplacesix {
    from{
        left: 55%;
    }
    to {
        left: 35%;
    }
}

@-moz-keyframes switchplacesix {
    from{
        left: 55%;
    }
    to {
        left: 35%;
    }
}

@-webkit-keyframes switchplacesix {
    from{
        left: 55%;
    }
    to {
        left: 35%;
    }
}

.cssswitchplacesix{
    animation: switchplacesix 1s linear 0s 1 forwards;
    -webkit-animation: switchplacesix 1s linear 0s 1 forwards;
    -moz-animation: switchplacesix 1s linear 0s 1 forwards;
}

@keyframes switchplacefour {
    from{
        left: 35%;
    }
    to {
        left: 55%;
    }
}

@-moz-keyframes switchplacefour {
    from{
        left: 35%;
    }
    to {
        left: 55%;
    }
}

@-webkit-keyframes switchplacefour {
    from{
        left: 35%;
    }
    to {
        left: 55%;
    }
}

.cssswitchplacefour{
    animation: switchplacefour 1s linear 0s 1 forwards;
    -webkit-animation: switchplacefour 1s linear 0s 1 forwards;
    -moz-animation: switchplacefour 1s linear 0s 1 forwards;
}*/

@keyframes rotatesign {
    to {
        transform: rotate(180deg);
        opacity: 0;
    }
}

@-moz-keyframes rotatesign {
    to {
        transform: rotate(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes rotatesign {
    to {
        opacity: 0;
        transform: rotate(180deg);
    }
}

.cssrotatesign{
    animation: rotatesign 0.5s linear 0s 1 forwards;
    -webkit-animation: rotatesign 0.5s linear 0s 1 forwards;
    -moz-animation: rotatesign 0.5s linear 0s 1 forwards;
}

@keyframes antirotatesign {
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@-moz-keyframes antirotatesign {
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes antirotatesign {
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
}

.cssantirotatesign{
    animation: antirotatesign 0.5s linear 0s 1 forwards;
    -webkit-animation: antirotatesign 0.5s linear 0s 1 forwards;
    -moz-animation: antirotatesign 0.5s linear 0s 1 forwards;
}

.headingtextexample{
    position: absolute;
    font-size: 1.4em;
    right: 0;
    margin-top: 8%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #fff;
    z-index: 999;
    padding: 1%;
}

.buttons{
    position: absolute;
    right: 0;
    margin-top: 5%;
    width: 60%;
}

.fullbg{
    position: absolute;
    margin-top: 20%;
    left: 23%;
    width: 60%;
    /*height: 100%;*/
}

.bluebackground{
    background: #C0EFFF;
}
.heading{
    position: absolute;
    font-size: 2.4em;
    z-index: 99;
    font-weight: bolder;
    width: 40%;
    left: 30%;
    margin-top: 8%;
}

.offwhite{
    background: #F5EACE;
}
/*maths css ends*/
