/*class to move small bubble up*/
  @keyframes smallUp {
    0% {
      opacity: 1;
      top:95%;
    }

    40% {
      opacity: 1;
      top:70%;
    }

     90% {
      opacity: 1;
     top:10%;
    }

     100% {
      opacity: 1;
     top:0%;
    }
  }

  @-webkit-keyframes smallUp {
    0% {
      opacity: 1;
      top:95%;
    }

    40% {
      opacity: 1;
      top:70%;
    }

     90% {
      opacity: 1;
     top:10%;
    }

     100% {
      opacity: 0;
     top:0%;
    }
  }


  .smallbubbleUp
  {
    animation-duration: 3s;
    animation-name:smallUp;
    animation-timing-function:linear;
    animation-iteration-count:1;

    -webkit-animation-duration: 3s;
    -webkit-animation-name:smallUp;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count:1;
  }

