.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	position: relative;
	top:0%;
	left: 0%;
}

.exponential .wrapperIntro .top.text0 {
	width: 80%;
	margin: 2% auto;
	text-align: center;
	color: #E47111;
	font-size: 2em;

}

.highlight {
	/*color : #00B050;*/
	color: #006400;
	font-weight: bold;
}

.exponential .wrapperIntro .top.text1 {
	/*width: 80%;*/
	margin: 2% auto;
	padding-left: 4%;
	font-size: 1.3em;
}

.exponential .wrapperIntro .top.text2 {
	text-align: center;
	font-size: 1.3em;
}

.exponential .wrapperIntro .box {
	border: 1px solid #E47111;
	width: 95%;
	margin: 1% auto;
	padding: 10px;
	font-size: 1.3em;
}

.exponential .wrapperIntro .lokharke {
	font-size: 2em;
	width: 80%;
	margin: auto;
	text-align: center;
}

@font-face {
    font-family: mathFont;
    src: url(black_jack.ttf);
}

.mathsFont {
	/*font-family: serif;*/
	font-family: mathFont;
	font-style: italic;
}

.denoMino {
	display: inline-block;
	text-align: center;
}

.denoMino .denominator {
	border-top: 2px solid #383838;
	/*width: 200%;*/
	/*left: -50%;*/
}

.denoMinoPlus,
.equalsTo {
	vertical-align: top;
	margin: 2% 2% 0 2%;
	display: inline-block;
}