.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 10px;
	padding-top: 2%;
}

.wrapperIntro .text0,
.wrapperIntro .text1 {
	font-size: 1.3em;
	display: none;
}

.wrapperIntro .text1 > b {
	color: #006400;
}

.wrapperIntro .text2 {
	margin: 4% 0 0 10%;
	font-size: 1.3em;
	color: #FF9900;
	display: none;
}

.wrapperIntro .text3,
.wrapperIntro .text4,
.wrapperIntro .text5 {
	position: absolute;
	font-size: 8em;
	left: 40%;
	top: 30%;
	text-align: center;
	width: 10%;
	display: none;
}

.wrapperIntro .text6 {
	position: absolute;
	font-size: 1.3em;
	left: 40%;
	top: 50%;
	width: 20%;
	border: 1px solid #006400;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	display: none;
}

.wrapperIntro .text6:hover {
	background: #006400;
	color: #fff;
}

.wrapperIntro .text {}

.wrapperIntro .text {}
