.qaBox .qadivide .inputs input:nth-child(1),
.qaBox .qadivide .inputs input:nth-child(1) {
	/*margin-top: -7%;*/
	margin: -12% 0 5% 1%;
	left: 7%;
	/*top: -50%;*/
	/*width: 30%;*/
}

.wrapperIntro .solve {
	width: 75%;
}

.qaBox .qadivide .inputs input:nth-child(2),
.qaBox .qadivide .inputs input:nth-child(2){
	/*display: none;*/
	/*background: #c9c9c9;*/
	position: absolute;
	top: 170%;
	width: 50%;
	left: 76%;
	font-size: 1em;
}

.qaBox> .qa1.qadivide >.inputs:after,
.qaBox> .qa2.qadivide >.inputs:after  {
	position: absolute;
	width: 125%;
	/*height: 3px;*/
	height: 2px;
	content: "";
	left: 58%;
	top:119%;
	/*transform : rotate(140deg);*/
	background: #1F497D;
}
.qaBox .qa1 .inputs input:nth-child(3),
.qaBox .qa2 .inputs input:nth-child(3){
	position: absolute;
	top: 159%;
	left: 133%;
	width: 41%;
	height: 100% !important;
}
.wrapperIntro .qaBox .qa1 .inputs input,
.qaBox .qa2 .inputs input{
	font-size: 1em;
}
/* for firefox */
@supports (-moz-appearance:none)  {
	.qaBox .qadivide .inputs input:nth-child(2),
	.qaBox .qadivide .inputs input:nth-child(2){
		/*display: none;*/
		/*background: #c9c9c9;*/
		position: absolute;
		top: -115%;
		width: 50%;
		left: 76%;
		font-size: 1em;
	}
    .qaBox> .qa1.qadivide >.inputs:after,
.qaBox> .qa2.qadivide >.inputs:after  {
	position: absolute;
	width: 125%;
	/*height: 3px;*/
	height: 2px;
	content: "";
	left: 58%;
	top:-174%;
	/*transform : rotate(140deg);*/
	background: #1F497D;
}
.qaBox .qa1 .inputs input:nth-child(3),
.qaBox .qa2 .inputs input:nth-child(3){
	position: absolute;
	top: -115%;
	left: 133%;
	width: 41%;
	height: 100% !important;
}

}