.exponential {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.exponential, .exponential * {
	position: relative;
	margin: 0;
	padding: 0;
}

.exponential .nextBtn {
	display: none;
	position: absolute;
	top:85%;
	left:93%;
	width: 6%;
	height: 10%;
}

.exponential .prevBtn {
	display: none;
	position: absolute;
	top:85%;
	left:5%;
	width: 6%;
	height: 10%;
}

.exponential .board {
	position: relative;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

/**/

.exponential .board .wrapperIntro{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*background: #FFFBC7;*/
	padding: 10px;
	padding-top: 2%;
}

.wrapperIntro.baseAndIndices {}

.wrapperIntro.baseAndIndices .maths {
	position: absolute;
	font-size: 3em;
	text-align: center;
	color: #434343;
}

.wrapperIntro.baseAndIndices .maths span.power {
	position: absolute;
	font-size: 0.8em;
	top: -20%;
	left: 100%;
	color: #FF00FF;
	display: none;
}

.wrapperIntro.baseAndIndices .maths0 {
	top: 35%;
	left: 50%;
}

.wrapperIntro.baseAndIndices .maths1 {
	top: 20%;
	left: 20%;
}

.wrapperIntro.baseAndIndices .maths2 {
	top: 35%;
	right: 20%;
}

.wrapperIntro.baseAndIndices .maths3 {
	top: 60%;
	left: 10%;
}

.wrapperIntro.baseAndIndices .maths4 {
	top: 60%;
	right: 10%;
}

.wrapperIntro.baseAndIndices .maths5 {
	top: 75%;
	left: 40%;
}

.wrapperIntro.baseAndIndices .text0,
.wrapperIntro.baseAndIndices .text1 {
	font-size: 1.3em;
	position: relative;
	width: 100%;
	text-align: center;
}

.wrapperIntro.baseAndIndices .text1 {
	display: none;
}

.wrapperIntro.baseAndIndices .text1:after {
	position: absolute;
	content: "";
	width : 10%;
	height: 270%;
	background: url(../image/smiley.png);
	/*background: #000;*/
	background-size: 100% 100%;
	left: 70%;
	top: 0%;
	z-index: 1;
}

.wrapperIntro.how {}

.wrapperIntro.how .text0,
.wrapperIntro.how .text1 {
	display: inline-block;
	color: #E36C09;
	font-size: 2em;
}
.wrapperIntro.how .text0 {
	margin-left: 30%;
}
.wrapperIntro.how .text2,
.wrapperIntro.how .text3 {
	margin: 1% 0 2% 10%;
	display: none;
}

.wrapperIntro.how .text {}

.wrapperIntro.how .lokharke {
	position: absolute;
	bottom: 1%;
	left: 10%;
	width: 15%;
	display: none;
}

.wrapperIntro.how .lokharke img {
	width: 100%;
}

.wrapperIntro.how .lokharke .bubble
{
position: absolute;
top: 0;
left: 120%;
text-align: center;
width: 80%;
height: 50%;
padding: 5%;
font-size: 1.3em;
background: #E6FFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 2px;
}

.wrapperIntro.how .lokharke .bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 48px 11px 0;
border-color: transparent #E6FFFF;
display: block;
width: 0;
z-index: 1;
left: -48px;
top: 31px;
}

.wrapperIntro.how .lokharke .bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 12px 49px 12px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
left: -51px;
top: 30px;
}

.wrapperIntro.how .lokharke .bubble2
{
position: absolute;
top: 0;
left: 120%;
text-align: left;
width: 200%;
height: 90%;
padding: 5%;
font-size: 1em;
background: #E6FFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 2px;
display: none;
}

.wrapperIntro.how .lokharke .bubble2:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 11px 48px 11px 0;
border-color: transparent #E6FFFF;
display: block;
width: 0;
z-index: 1;
left: -48px;
top: 31px;
}

.wrapperIntro.how .lokharke .bubble2:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 12px 49px 12px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
left: -51px;
top: 30px;
}

.wrapperIntro.how .powerDrop {
	width: 100%;
	position: absolute;
	top: 60%;
	text-align: center;
	font-size: 2em;
	display: none;
}

.wrapperIntro.how .powerDrop > * {
	display: inline-block;
}

.wrapperIntro.how .powerDrop .rightSide .power {
	/*opacity: 0;*/
	color: #E36C09;
	font-weight: bold;
	display: none;
}

.wrapperIntro.how .plane {
	position: absolute;
	width: 10%;
	top: 30%;
	left: -10%;
}

.wrapperIntro.how .parachute {
	position: absolute;
	top: 20%;
	left: 55%;
	width: 5%;
	display: none;
}

.wrapperIntro.how .parachute2 {
	left: 57%;
}

.wrapperIntro.how .parachute3 {
	left: 60%;
}

.wrapperIntro.how .parachute4 {
	left : 64%;
}

.wrapperIntro.how .text4,
.wrapperIntro.how .text5,
.wrapperIntro.how .text6,
.wrapperIntro.how .text7 {
	display: none;
	color: #00CADC;
	margin-left: 20%;
	/*text-align: center;*/
}

.wrapperIntro.how .text4 {
	display: block;
	/*text-align: center;*/
	color: #E7822F;
	font-size: 1.3em;
	/*margin-left: 20%;*/
}
