.exponential .wrapperIntro .box .text0,
.exponential .wrapperIntro .box .text4,
.exponential .wrapperIntro .box .text8 {
	text-decoration: underline;
	/*margin: 0% 0 0 0%;*/
}

.exponential .wrapperIntro .box .text1,
.exponential .wrapperIntro .box .text5,
.exponential .wrapperIntro .box .text9 {
	margin: 0% 0 0 10%;
	/*display: inline-block;*/
	/*width: 20%;*/
}

.exponential .wrapperIntro .box .text2,
.exponential .wrapperIntro .box .text6,
.exponential .wrapperIntro .box .text10 {
	margin: 0% 0 0 3%;
	display: inline;
	vertical-align: top;
}

.exponential .wrapperIntro .box .text3,
.exponential .wrapperIntro .box .text7,
.exponential .wrapperIntro .box .text11 {
	display: inline;
	margin: 0% 0 0% 0%;
	vertical-align: top;
}

.exponential .wrapperIntro .box .text11 {
	margin: 0 0 0 0;
}

.exponential .wrapperIntro .box {
	display: none;
}

.exponential .wrapperIntro .box > div {
	opacity: 0;
}

.exponential .wrapperIntro .lokharke {
	display: none;
}

.exponential .wrapperIntro .top.text1,
.exponential .wrapperIntro .top.text2 {
	display: none;
}

.exponential .wrapperIntro .box .text1 {
	font-size: 1.3em;
}

.exponential .wrapperIntro .box .goTop,
.exponential .wrapperIntro .box .RHS {
	/*display: none;*/
	color: #E47111;
	font-weight: bold;
}

.exponential .wrapperIntro .box .text5 {
	font-size: 1.3em;
}

