.readingmap_exercise1 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_exercise1, .readingmap_exercise2 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

div.navigationbuttons{
	position: absolute;
	bottom:0%;
	right:0%;
	width:20%;
	height:20%;
	background:rgba(119, 119, 119,0.4);
	border: 2px solid rgba(119, 119, 119,0.8);
	border-radius:5px;
}

div.directionBtn.label{
	display:inline-block;
	position: absolute;
	/*display: none;*/
	cursor: pointer;
	padding : 1.2em;
}

div.rightBtn{
	bottom: 1%;
	right: 5%;	
} 

div.leftBtn{
	bottom: 1%;
	right: 60%;
}

div.frontBtn{
	bottom: 50%;
	right: 30%;
}



div.maparea{
	position:absolute;
	top: 0;
	left:0;
	height:100%;
	width:100%;
}

img.patanmap{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

div.nodes{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	/*border:2px solid red;*/
}

div.nodes > div{
	position:absolute;
	width:2%;
	height:3%;
	background:red;
	opacity:0;
}

div.nodeZ{
	left:33.5%;
	bottom:2%;
}

div.nodeA{
	left:33.5%;
	bottom:26%;
}

div.nodeB{
	left:69.3%;
	bottom:26%;
}

div.nodeC{
	left:33.6%;
	bottom:67.8%;
}

div.nodeD{
	 left:69.3%;
	bottom:67.8%; 
}

/* div.nodeE{
	left:10.4%;
	bottom:26%;
}

div.nodeF{
	left:10.4%;
	bottom:67.8%;
} */

@keyframes charanimation{
  100% { background-position:100% 0%; }
}

@-webkit-keyframes charanimation{
  100% { background-position:100% 0%; }
}

.characterWalkCycle{
	animation-name: charanimation;
	-webkit-animation-name: charanimation;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

div.characters{
	position:absolute;
	bottom:2%;
	left:25%;
	width:2.5%;
	height:5%;
	
	transition-property:left, bottom;
	-webkit-transition-property:left, bottom;
	transition-duration:2s, 2s;
	-webkit-transition-duration:2s, 2s;
	transition-timing-function : linear;
	-webkittransition-timing-function : linear;
}

/* div.nodeAnodeB{
	transition-duration:2s, 2s;
	-webkit-transition-duration:2s, 2s;
} */

div.characters[data-direction="moveright"]{
	background: url("../images/exercise1/moveright.png") no-repeat;
	background-size:700% 100%;
	background-position:0% 0%;
	animation-timing-function: steps(6);
    -webkit-animation-timing-function: steps(6);
}

div.characters[data-direction="moveleft"]{
	background: url("../images/exercise1/moveleft.png") no-repeat;
	background-size:700% 100%;
	background-position:0% 0%;
	animation-timing-function: steps(6);
    -webkit-animation-timing-function: steps(6);
}

div.characters[data-direction="movefront"]{
	background: url("../images/exercise1/movefront.png") no-repeat;
	background-size:500% 100%;
	background-position:0% 0%;
	animation-timing-function: steps(4);
    -webkit-animation-timing-function: steps(4);
}

div.youarehere{
	display:none;
	position:absolute;
	bottom:8%;
	left:33%;
}


@-webkit-keyframes bounce {
	0%, 20%, 60%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-20px);}
	80% {-webkit-transform: translateY(-10px);}
}

@-moz-keyframes bounce {
	0%, 20%, 60%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-20px);}
	80% {-moz-transform: translateY(-10px);}
}

@keyframes bounce {
	0%, 20%, 60%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	80% {transform: translateY(-10px);}
}

div.youarehere > span{
	font-size: 2em;
	color:rgb(242, 17, 143);

	animation: bounce 2s ease-in-out infinite;
	-moz-animation: bounce 2s ease-in-out infinite;
	-webkit-animation: bounce 2s ease-in-out infinite;
}

div.youarehere > b{
	font-size: 1.3em;
	color:rgb(0, 201, 219);
}

p.messageboard{
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	width:100%;
	
	background-color:rgb(255, 250, 247);
	color:rgb(0, 201, 219);
	border:2px solid rgb(217, 217, 217);
	padding:1% 1%;
	font-size: 1.2em;
	opacity:1;

	-moz-transition:opacity 0.8s linear;
	-webkit-transition:opacity 0.8s linear;
	transition:opacity 0.8s linear;	
}

p.messageboard:hover{
	opacity:0.1;
	cursor:none;
}