.punctuation {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 2vmin;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
    font-family: happy_monkey, cursive;
}

.brown_highlight{
  /* background-color: brown; */
	border-radius: 0.5em;
  font-size: 1.5em;
  /* height: 15%; */
  -webkit-animation: flashquen linear 1s infinite;
	animation: flashquen linear 1s infinite;
}
@-webkit-keyframes flashquen {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flashquen {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

.headerblock {
    color: #FF9900;
    background: #D9EAD3;
    padding: 1%;
    width: 100%;
    font-weight: bold;
    font-size: 6vmin;
    z-index: 1;
}

.punctuation, .punctuation * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.punctuation .nextBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    right     : 0%;
    width     : 7%;
    height    : 10%;
}

.punctuation .prevBtn{
    display : none;
    position  : absolute;
    bottom    : 0%;
    left      : 0%;
    width     : 7%;
    height    : 10%;
}

/*=====================================
=            common styles            =
=====================================*/
    .board{
        position   : relative;
        top        : 0%;
        left       : 0%;
        width      : 100%;
        height     : 100%;
        text-align : center;
    }

    .vertical-horizontal-center{
        position          : relative;
        top               : 42%;
        left              : 50%;
        transform         : translate(-50%, -50%);
        -moz-transform    : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
        text-align        : center;
    }

    .vertical-center{
        position          : relative;
        top               : 50%;
        transform         : translateY(-50%);
        -moz-transform    : translateY(-50%);
        -webkit-transform : translateY(-50%);
        text-align        : center;
    }

    .coverboardfull{
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
    }

    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */
    }


/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: #9EDED3;
}

.imageblock, .textblock{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
/*
.background_front{
	background-image: url("../images/pestel_bg.png");
	background-size: 100% 100%;
} */

.background_color1{
	background-color: #DD7E6B;
}

.background_color2{
	background-color: #B4A7D6;
}

.background_color3{
	background-color: #EA9999;
}

.background_color4{
	background-color: #A4C2F4;
}

.description_title{
	opacity: 0;
	font-family: happy_monkey;
	-webkit-animation: fadein 1s linear forwards;
	animation: fadein 1s linear forwards;
	width: 90%;
	left: 5%;
	color: #741B47;
	font-weight: bold;
	transform: translateY(-40%);
}

.moaroon_color{
	color: #741B47;
}

.darkblue_color{
	color: #20124D;
}

.darkbrown_color{
	color: #3D2002;
}

.violet_color{
	color: #741B47;
}

.darkgreen_color{
	color: #3D2002;
}

.description2{
	opacity: 0;
	font-family: happy_monkey;
	position: relative;
	-webkit-animation: fadein 1s linear forwards;
	animation: fadein 1s linear forwards;
	width: 90%;
	left: 5%;
	margin-top: 2%;
	font-weight: bold;
}

@-webkit-keyframes fadein{
	100%{
		opacity: 1;
	}
}

@keyframes fadein{
	100%{
		opacity: 1;
	}
}

.image{
	position: absolute;
	height: 60%;
	top: 32%;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (min-aspect-ratio: 4/3) {
	.description_title{
		font-size: 7vh;
	}
	.description2{
		font-size: 5vh;
	}
}

@media screen and (max-aspect-ratio: 4/3) {
	.description_title{
		font-size: 6.56vw;
	}
	.description2{
		font-size: 4.56vw;
	}
}
