<script>
	$cssLoader("css/page1.css");
	$cssLoader("css/common.css");
</script>
<div class="charofanimals vertical-horizontal-center">
	<div class="board">
		Hello World!!!
	</div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction or only has content --}} {{#if hasheaderblock}}
	<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
		{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
			{{/if}}

			{{#if hasbgimg}}
				<div class="bg-img"></div>
			{{/if}}

			{{! header block start--}} {{#if headerblock}}
			<div class="headerblock">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
			{{/if}} {{! header block end--}} {{! content block starts--}}
			<div class="contentblock {{additionalclasscontentblock}}">
				{{! content block content wrapper is used for content orientation i.e. center horizontally or vertically}} {{#if contentblocknocenteradjust}}
				<div class="coverboardfull">
					{{else}}
					<div class="vertical-horizontal-center">
						{{/if}}
					</div>

					{{#if imageblock}}
						<div class="imageblock {{imgblckaddclass}}">
							{{#if contentblockcenteradjust}}
								<div class="vertical-horizontal-center">
							{{/if}} 
								{{#each imageblock}} 	
									{{>imagecontent}} 
								{{/each}} 
							{{#if contentblockcenteradjust}}
								</div>
							{{/if}}
						</div>
					{{/if}} 
					
					{{#if maintextblock}}
					<div class="textblock title-texts">
						{{#if contentblocknocenteradjust}}
						<div class="vertical-horizontal-center">
							{{/if}}
							{{#each maintextblock}}
								{{>textcontent}}
							 {{/each}}
						{{#if contentblocknocenteradjust}}
						</div>
						{{/if}}
					</div>
					{{/if}} 

					{{#if definitionblock}}
						<div class="definitionblock {{definitionblockadditionalclass}}">
							{{#each definitionblock}}
								{{>definitioncontent}}
							{{/each}}
						</div>
					{{/if}}
					
					{{#if storytextblock}}
		            <div class="{{storytextblockadditionalclass}}">
		                {{#each storytextblock}}
		                    	<span class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</span>
		                {{/each}}
		            </div>
		            {{/if}}

				</div>
			</div>

</script>
<!--partials are seperated as subtemplates in handlebars-->
<script id="textcontent-partial" type="text/x-handlebars-template">
	{{#each texttoshow}}
		<p class="{{textclass}}">{{{textdata}}}</p>
	{{/each}}
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagetoshow}}
		<img class="{{imgclass}}" src="{{imgsrc}}" /> 
	{{/each}}
</script>

<!--partials are seperated as subtemplates in handlebars-->
<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<p class="{{definitionclass}}">{{{definitiondata}}}</p>
	<p class="{{definitionclass2}}">{{{definitiondata}}}</p>
</script>

<!-- Js loader -->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script>
	$jsLoader("js/page1.js");
</script>
