<!--
    ===================================================================
    ==========================EXERCISE TEMPLATE TYPE 2 ================
    ===================================================================
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercisetemplate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="activity_container">

            <!-- <div class="scoreboard">

            </div>
              <div class="exefin"></div>

            <div class="congratulation">
                <p class="congratulationtext">Congratulations !!</p>
                <p class="youscored">
                    <span class="exelabeltext1"></span>
                    <span id="score"></span>
                    <span class="exelabeltext2"></span>
                    <span id="total">10</span>
                    <span class="exelabeltext3"></span>
                    </p>
            </div>

            <div class="exenextbtn">
                <img src="images/exercisetextbox.png">
                <p class="nxtbtntext">Go to main page</p>
            </div> -->

    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    <div class="generalTemplateblock" data-templatecontains="hasonlycontent">

        {{! content block starts--}}
         <div class="contentblock {{contentblockadditionalclass}}">
		    <!-- for question with image. text or image as options -->
		    {{#if textblock}}
	            <div class="textblock {{textblockadditionalclass}}">
                    {{#each textblock}}
                         <p class="{{textclass}}">{{{textdata}}}</p>
                    {{/each}}
	            </div>
            {{/if}}
            {{#if subtextblock}}
	            <div class="subtextblock {{subtextblockadditionalclass}}">
                    {{#each subtextblock}}
                         <p class="{{subtextclass}}">{{{subtextdata}}}</p>
                    {{/each}}
	            </div>
            {{/if}}
            {{#if uppertextblock}}
            	<div class="uppertextblock">
            		{{#if draggableblocknocenteradjust}}
		                <div class="vertical-horizontal-center">
		            {{/if}}
	            		{{#each uppertextblock}}
	            			{{> uppertextcontent}}
	            		{{/each}}
	            	{{#if draggableblocknocenteradjust}}
		                </div>
		            {{/if}}
            	</div>
            {{/if}}
		    {{#if draggableblock}}
		        <div class="draggableblock {{draggableblockadditionalclass}}">
		            {{#if draggableblocknocenteradjust}}
		                <div class="vertical-horizontal-center">
		            {{/if}}
		                {{#each draggableblock}}
		                    {{> draggablecontent}}
		                {{/each}}
		            {{#if draggableblocknocenteradjust}}
		                </div>
		            {{/if}}
		        </div>
		    {{/if}}
		    {{#if droppableblock}}
		        <div class="droppableblock {{droppableblockadditionalclass}}">
		            {{#if droppableblocknocenteradjust}}
		                <div class="vertical-horizontal-center">
		            {{/if}}
		                {{#each droppableblock}}
		                    {{> droppablecontent}}
		                {{/each}}
		            {{#if droppableblocknocenteradjust}}
		                </div>
		            {{/if}}
		        </div>
		    {{/if}}
     	</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="uppertextcontent-partial">
	<p class="{{textclass}}">{{{textdata}}}</p>
</script>

<script id="draggablecontent-partial" type="text/x-handlebars-template">
    {{#each draggables}}
			<div class = "draggable {{draggableclass}}" data-dropped="{{has_been_dropped}}">
		        <img class="{{imgclass}}" src="{{imgsrc}}">
		        <label class="{{labelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{labeldata}}}</label>
			</div>
	 {{/each}}
</script>

<script id="droppablecontent-partial" type="text/x-handlebars-template">
	 {{#each droppables}}
			<div class = "droppablecontainer {{droppablecontainerclass}}">
				{{#if headerdata}}
                  	<p class="{{headerclass}}">{{{headerdata}}}</p>
                  	<div class = "droppableheader {{droppableclass}}">
                {{else}}
					<div class = "droppable {{droppableclass}}">
                {{/if}}
		        <label class="{{labelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{labeldata}}}</label>
					</div>
			</div>
	 {{/each}}
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
    $jsLoader("exercise/js/exercise.js");
</script>
