.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 0%;
	margin-top: 9%;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}

/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/
/*top to bottom dragdiv*/
@font-face {
    font-family: acme;
    src: url('../../../../../fonts/Acme-Regular.ttf');
}
.uppertxt{
position: absolute;
width: 100%;
height: 14%;
background-color: #9878d9;
color: white;
z-index: 10;
}
/*type 1 exercise*/

.maintitle p{
    font-family: acme !important;
}
.objdiv{
    position: absolute;
    width: 100%;
    top: 0;
}
.objdiv1 {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #9878d9;
    color: white;
}
.dragdiv{
    position: absolute;
    width: 100%;
    height:50%;
    top:13%;
    background-color: #c4b4a5;
}
.options_container{
  top: 10%;
  background: #fff;
  border-radius: 1em;
  width: 20%;
  height: 57%;
  display: inline-block;
  margin: 1%;
  z-index: 1000;
}
.img_prop{
  position: absolute;
  width: 55%;
  left: 16%;
  top: 0%;
  z-index: 1000;
  cursor: pointer;

}
.img_prop_sec{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
}
.options_container_sec{
  position: absolute;
  top: 10%;
  background: #fff;
  border-radius: 1em;
  width: 25%;
  height: 82%;

}
.box_1{
    left: 5%;
}
.box_2{
    left: 37%;
}
.box_3{
    left: 69%;
}
.box_txt{
  top: 76%;
  font-family: Acme;
  font-size: 2.5vh;
}
.dropplace_prop{
  position: absolute;
  top: 55%;
  left: 10%;
  background: #fff;
  width: 80%;
  height: 20%;
  border: 4px solid #000;
}
.dropdiv{
    position: absolute;
    background-color: #eeddcb;
    width:100%;
    height:50%;
    bottom:0%;
}
.hovered{
    border: 4px dashed black !important;
    background: #E5E5E5;
}
/*top to bottom dragdiv ends*/

/*sideways dragdiv starts*/
.dropdiv_1{
    position: absolute;
    background-color: #eeddcb;
    width:60%;
    right:0%;
    height: 100%;
    bottom:0%;
}
.dragdiv_1{
    position: absolute;
    width: 40%;
    height:100%;
    top:0%;
    left: 0%;
    background-color: #c4b4a5;
    display: flex;
    flex-flow: column;
}
.dragdiv_2{
    position: absolute;
    width: 60%;
    height: 97%;
    top: 3%;
    left: 0%;
    background-color: #c4b4a5;
    display: flex;
    flex-wrap: wrap;
}
.dropdiv_2{
    position: absolute;
    background-color: #eeddcb;
    width:40%;
    right:0%;
    height: 100%;
    bottom:0%;
    display: flex;
    flex-flow: column;
}
.options_lhs{
  top: 12%;
  background: #fff;
  border-radius: 1em;
  width: 34%;
  height: 19%;
  margin: 1%;
  left: 10%;
}
.options_lhs_sec{
  top: 13%;
  background: #fff;
  border-radius: 1em;
  width: 34%;
  height: 34%;
  margin: 2%;
  left: 10%;
}
.options_container_lhs{
  top: 15%;
  background: #fff;
  border-radius: 1em;
  width: 62%;
  height: 24%;
  margin: 1%;
  left: 10%;
}
.options_container_rhs{
  top: 13%;
  background: #fff;
  width: 82%;
  height: 24%;
  margin: 2.5%;
  left: 10%;
}
.options_rhs{
  top: 13%;
  width: 82%;
  height: 33%;
  margin: 5%;
  left: 10%;
}
.img_drag{
  position: absolute;
  width: 45%;
  left: 16%;
  top: 0%;
  z-index: 1000;
  cursor: pointer;

}
.img_drag_sec{
  position: absolute;
  width: 69%;
  left: 17%;
  top: 0%;
  z-index: 1000;
  cursor: pointer;
}
.dropplace_prop_sec{
  position: absolute;
  top: 30%;
  left: 0%;
  background: #fff;
  width: 100%;
  height: 73%;
  border: 4px solid #000;
}
.drop_sec{
  position: absolute;
  top: 30%;
  left: 0%;
  background: #fff;
  width: 100%;
  height: 68%;
  border: 4px solid #000;
}
.txt_prop{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  padding: .5%;
  font-size: 2vh;
  background: #4A86E8;
  color: #fff;
  border: 4px solid #000;
  height: 33%;
  font-weight: bold;
}
.txt_prop_sec{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  padding: .5%;
  font-size: 1.5vw;
  color: #000;
}

.txt_prop_third{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 0%;
  padding: .5%;
  font-size: 2vw;
  background: #4A86E8;
  color: #fff;
  border: 4px solid #000;
  height: 33%;
}
/*sideways dragdiv ends*/
/*exercise 6*/
.full_img{
  position: absolute;
  top: 28%;
  width: 65%;
  height: 50%;
  background: #fff;
  left: 15%;
  border-radius: 2em;
}
.full_img_dragable{
  position: absolute;
  top: 66%;
  width: 30%;
  height: 12%;
  left: 33%;
  background: #fff;
  z-index: 100;
  border: 2px solid #000;
  border-radius: 1em;
}
.inside_full{
  position: relative;
  width: 30%;
  top: 32%;
  z-index: 100;
}
.inside_full_sec{
  position: relative;
  width: 90%;
  top: 15%;
  z-index: 100;
}
.inside_drag{
  position: relative;
  width: 40%;
  z-index: 1000;
  cursor: pointer;
  bottom: 0%;
}
.hidden{
  display: none;
}
/*exercise 6 ends*/
/*mcq css*/
.exefin{
  z-index: 5;
}

.question {
    position: absolute;
    top: 85%;
    width: auto;
    font-size: 5vmin;
    text-align: center;
    font-family: sniglet;
    transform: translate(-50%);
    left: 25%;
}

.sentence {
    position: absolute;
    top: 12%;
    width: 100%;
    font-size: 5vmin;
    text-align: center;
    font-family: sniglet;
    background: #78909C;
    padding: 1%;
    color: white;
}

.optionsdiv {
  top: 32%;
  display: flex;
  left: 50%;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
  text-align: left;
  position: absolute;
  height: 60%;
  width: 43%;
}

.optionscontainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: left;
    width: 100%;
}

.imagestartpos {
  position: absolute;
  width: 13%;
  margin-left: 1%;
  display: none;
  margin-top: 12%;
  left: -7%;
  bottom: 71%;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}

.optionsdiv p {
  display: inline;
  padding: 5%;
  background: #FFCD53;
  border-radius: 15px;
  margin: 1%;
  font-size: 3vmin;
  border: 5px solid #FFCD53;
  font-family: Abeezee;
  width: 84%;
  text-align: center;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover {
    background: #D9D9D9;
    border: 5px solid #999999;
    cursor: pointer;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}
.bg_crm{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #EEDDCB;
}
.left_big{
  position: absolute;
  top: 0%;
  left: 10%;
  width: 73%;
  height: 95%;
  background: #fff;
}
.lhs_drag{
  position: absolute;
  top: 30%;
  width: 40%;
  height: 50%;
}
.qnimg{
  position: relative;
  width: 87%;
}
.toptxt{
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 10;
  color: #fff;
  font-family: Acme;
  width: 84%;
  font-size: 3vw;
  padding: 1%;
  transform: translateY(-50%);
}
/*mcq*/
.dragable{
  z-index: 1000;
}
 /*----------------------type 5 exercise end---------------------*/
 @media screen and (min-aspect-ratio: 4/3) {
 	.covertext{
 		font-size: 6vh;
 	}
   .toptxt, .question_1, .question_2, .question_3, .question_4, .optionsdiv_4 p, .optionsdiv_3 p,.optionsdiv_2 p,.optionsdiv_1 p{
     font-size: 5vh;
   }
   .txt {
     font-size: 5vh;
   }
  .box_txt{
   font-size: 2.5vh;
  }
  .txt_prop{
    font-size: 2.1vh;
  }
 }
 @media screen and (max-aspect-ratio: 4/3) {
 	.covertext{
 		font-size: 3vw;
 	}
   .toptxt, .question_1, .question_2, .question_3, .question_4, .optionsdiv_4 p, .optionsdiv_3 p,.optionsdiv_2 p,.optionsdiv_1 p{
     font-size: 2.5vw;
   }
   .txt {
     font-size: 2.5vw;
   }
  .box_txt{
   font-size: 2vw;
  }
  .txt_prop{
    font-size: 1.5vw;
  }
 }
