.covertext {
    position: absolute;
    color: #674EA7;
    font-size: 12vmin;
    top: 12%;
    right: 22%;
    filter: drop-shadow(0.01em 0.01em 0.05em white);
}

.poembox {
    position: absolute;
    left: 2%;
    top: 2%;
    background: white;
    padding: 2%;
    font-size: 5vmin;
    color: #F22D83;
}

[class*='img']{
    position: absolute;
    transform: translate(-50%, -50%);
}
/*slide 1*/

.p1img1 {
    width: 28%;
    top: 84%;
    left: 21%;
}

.p1img2 {
    width: 19%;
    top: 84%;
    left: 58%;
}

.p1img3 {
    width: 21%;
    top: 89%;
    left: 84%;
}

/*slide 2*/

.p2img1 {
    width: 22%;
    top: 82%;
    left: 30%;
}

.p2img2 {
    width: 18%;
    top: 79%;
    left: 65%;
}

.rotgirl{
  animation: rotgirl 1.5s linear forwards;
  -webkit-animation: rotgirl 1.5s linear forwards;
}

@keyframes rotgirl {
  100%{
    transform: translate(-50%, -50%) rotate(10deg);
  }
}

@-webkit-keyframes rotgirl {
  100%{
    transform: translate(-50%, -50%) rotate(10deg);
  }
}

.tear1 {
    position: absolute;
    width: 2%;
    top: 53%;
    left: 58%;
    display: none;
    animation: tearroll1 1.5s linear infinite;
    -webkit-animation: tearroll1 1.5s linear infinite;
}

.tear2 {
    position: absolute;
    width: 3%;
    top: 50%;
    left: 65%;
    display: none;
    animation: tearroll1 1.2s linear 0.3s infinite;
    -webkit-animation: tearroll1 1.2s linear 0.3s infinite;
}


@keyframes tearroll1 {
  100%{
    opacity: 0.3;
    transform: translateY(50%);
  }
}

@-webkit-keyframes tearroll1 {
  100%{
    opacity: 0.3;
    transform: translateY(50%);
  }
}

/*slide 3*/
.p3img1 {
    width: 18%;
    top: 38%;
    left: 57%;
}

.imgkoili {
    width: 18%;
    top: 36%;
    left: 20%;
}

.imgbee {
    width: 14%;
    top: 37%;
    left: 81%;
}

.flippeep{
    transform: translate(-50%, -50%) scaleX(-1);
}

/*slide 4*/
.p4img1 {
    height: 64%;
    top: 52%;
    left: 57%;
}

/*slide 5*/

.p5img1 {
    width: 9%;
    top: 50%;
    left: 55%;
}

.ringing{
  animation: ring 0.5s linear alternate 0.5s infinite;
  -webkit-animation: ring 0.5s linear alternate 0.5s infinite;
  transform-origin: 50% 100%;
}

@keyframes ring {
  0%{
    transform: translate(-50%, -50%) rotate(10deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(-10deg);
  }
}

.p5img2 {
    width: 39%;
    top: 67%;
    left: 80%;
}

.p5img3 {
    width: 45%;
    top: 69%;
    left: 24%;
}

/*slide 6*/
.p6img1 {
    width: 20%;
    top: 58%;
    left: 23%;
}

.p6img2 {
    width: 47%;
    top: 73%;
    left: 74%;
}

/*slide 7*/
.p7img1 {
    width: 66%;
    top: 67%;
    left: 140%;
}

.movecyc{
  animation: cycle 5s linear forwards;
  -webkit-animation: cycle 5s linear forwards;
}

@keyframes cycle {
  100%{
    left: -35%;
  }
}
/*slide 8*/
.p8img1 {
    width: 60%;
    top: 62%;
    left: 50%;
}
