<!--
    Title : General Template for Epaath Activity
 -->
<link  rel="stylesheet" href="css/ashish_fonts.css"/>
<script type="text/javascript">
    $cssLoader("../../../../css/rhino_template.css");
    $cssLoader("exercise/css/exercise.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="mixture">
    <div class="board">An open source project initiatied and developed by OLE Nepal to enhance the teaching learning experience.

    </div>

    <div id="successMessage" class="cong">
		<span class="closebtn1" onclick="this.parentElement.style.display='none';ole.activityComplete.finishingcall();">&times;</span>

		Congratulations on finishing the exercise.

	</div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}

    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
           {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if uppertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if uppertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}

            {{#if imageblock}}
                        <div class="imageblock">
                            {{#if contentblockcenteradjust}}
                            <div class= "vertical-horizontal-center">
                                {{/if}}

                                {{#each imageblock}}
                                {{>imagecontent}}
                                {{/each}}

                                {{#if contentblockcenteradjust}}
                            </div>
                            {{/if}}
                        </div>
                        {{/if}}

            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if lowertextblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if lowertextblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}

        </div>
    </div>
    {{! content block end--}}
</div>
</script>

<!-- partials separated as subtemplate in handlebars -->

<script id="textcontent-partial" type="text/x-handlebars-template">
	{{#if tripleinputfields}}
		<div class="inputcontainer">
			<span class="input_span"><input class= "input_value" type="text"/> mins.</span>
			<input class= "check" type="button" value="Check"/>
			<input class= "hint" type="button" value="Hint"/>
		</div>
	{{else}}
    	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}"  data-splitintofractions = "{{splitintofractionsflag}}">{{{textdata}}}</p>
    {{/if}}
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
                {{#each imagetoshow}}
                <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
                {{/each}}
                <br>
                {{#each imagetodrop}}
                <div class="{{imgtodropclass}}">
                    <img id="{{imgid}}" class="{{imgclass}}" src="{{imgsrc}}"/>
                </div>
                {{/each}}
                {{#if imagelabels}}
                {{#each imagelabels}}
                <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}"
                data-highlightcustomclass="{{datahighlightcustomclass}}"
                >{{{imagelabeldata}}}</label>

                {{/each}}
                {{/if}}

</script>



<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("../../../../js/common-exercise/select_from_span.js");
    $jsLoader("exercise/js/exercise.js");
</script>
