
/*=====================================
=            common styles            =
=====================================*/
.board,.board_prev, .board_next {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
}
.vertical-horizontal-center{
    position          : relative;
    top               : 42%;
    left              : 50%;
    transform         : translate(-50%, -50%);
    -moz-transform    : translate(-50%, -50%);
    -webkit-transform : translate(-50%, -50%);
    text-align        : center;
}

.vertical-center{
    position          : relative;
    top               : 50%;
    transform         : translateY(-50%);
    -moz-transform    : translateY(-50%);
    -webkit-transform : translateY(-50%);
    text-align        : center;
}


    /*================================================
    =            Notification Pulse Style            =
    ================================================*/
        /**
            How to use:
            - To enable notification pulse add 'data-usernotification="notifyuser"'
              attribute to the html element inside board div
         */

        @keyframes pulse {
         0% { transform   : scale(0); opacity: 0.0; }
         25% { transform  : scale(0); opacity: 0.6; }
         50% { transform  : scale(0.1); opacity: 0.8; }
         75% { transform  : scale(0.5); opacity: 1; }
         100% { transform : scale(1); opacity: 0.0; }
        }

        @-moz-keyframes pulse {
         0% { -moz-transform   : scale(0); opacity: 0.0; }
         25% { -moz-transform  : scale(0); opacity: 0.6; }
         50% { -moz-transform  : scale(0.1); opacity: 0.8; }
         75% { -moz-transform  : scale(0.5); opacity: 1; }
         100% { -moz-transform : scale(1); opacity: 0.0; }
        }

        @-webkit-keyframes pulse {
         0% { -webkit-transform   : scale(0); opacity: 0.0; }
         25% { -webkit-transform  : scale(0); opacity: 0.6; }
         50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
         75% { -webkit-transform  : scale(0.5); opacity: 1; }
         100% { -webkit-transform : scale(1); opacity: 0.0; }
        }


        /*for all element inside board*/
        .board *[data-usernotification*="notifyuser"]{
            cursor : pointer;
        }

        .board *[data-usernotification*="notifyuser"]::after{
            content          : "";
            position         : absolute;
            top              : 0;
            left             : 0;
            width            : 2em;
            height           : 2em;
            background-color : white;
            border           : 2px solid black;
            border-radius    : 50%;

            -webkit-animation : pulse 1.2s ease-out infinite;
            -moz-animation    : pulse 1.2s ease-out infinite;
            animation         : pulse 1.2s ease-out infinite;
        }

    /*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/


/*===============================================
=            general template layout            =
===============================================*/

    div.generalTemplateblock{
        position : absolute;
        top      : 0%;
        left     : 0%;
        width    : 100%;
        height   : 100%;
        /*border   : 1px solid red; */


}

/*=====  End of general template layout  ======*/

/*=========================================================
=            general templated specific styles            =
=========================================================*/

/*=====  End of general templated specific styles  ======*/




.img_scratch{
     position: absolute;
   display: none;
    top: 48%;
    right: 59%;
    width: 15%;
    z-index: 36;
}
.img_scratch1{
     position: absolute;
    display: none;
    top: 35%;
    right: 43%;
    width: 15%;
    z-index: 36;
}

.img_scratch_1{
     position: absolute;
    display: none;
    top: 48%;
    right: 59%;
    width: 15%;
    z-index: 36;
}
.img_scratch1_1{
        position: absolute;
    display: none;
   top: 35%;
    right: 43%;
    width: 15%;
    z-index: 36;
}

.imageblock{
    width: 100%;
    height: 100%;
}



.img3_slide1{
	position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 19%;
}


.img3_slide3{
    position: absolute;
    width: 36%;
    right: 1%;
    top: 22%;
 }

.img3_slide5{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 19%;
}


.img3_slide7{

     transform: scale(1.3);     

}

.img4_slide17{
    position: absolute;
    top: 52%;
    height: 13%;
    right: 6%;
    z-index: 21;
}



.img1_slide7{
    position: absolute;
    right: 0%;
    bottom: 73%;
    height: 30%;
    z-index: 15;
    width: 20%;
}

.img2_slide7{
    position: absolute;
    top: 77%;
    left: 0%;
    width: 92%;
}


.img2_slide9a{
    position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;

    left: 20%;
    display: none;
    z-index: 21;
}

.img_normal{
    position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;
    display: none;
    z-index: 21;
}


.img2_slide10a{
    position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;
    display: none;


}

.img_cloud{
     position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;
    display: none;

}

.img01_slide9{

    position: absolute;
    width: 15%;
    top: 33%;
    height: 34%;
    left: 33%;
    z-index: 21;
}

.img02_slide9{
    position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;
}

.img2_slide9b{
     position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;

}

.img2_slide9c{
     position: absolute;
    width: 45%;
    top: 21%;
    height: 56%;
    left: 18%;
    display: none;

}

.img2_slide9d{
         position: absolute;
width: 40%;
top: 26%;
height: 46%;
left: 20%;
display: none;
}


.img3_slide9{
    position: absolute;
    width: 41%;
    top: 2%;
    height: 30%;
    left: 47%;
}

.img01_slide8{
    position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;
    display: none;
}


.img02_slide8{
     position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;
    display: none;
}

.img03_slide8{
    position: absolute;
    width: 41%;
    top: 26%;
    height: 47%;
    left: 20%;
    display: none;
}

.img04_slide8{
    position: absolute;
    top: 28%;
    left: 53%;
    height: 17%;
    z-index: 15;
    display: none;
}

.img3_slide9b{
    position: absolute;
    top: 28%;
    left: 53%;
    height: 17%;
    z-index: 15;
    display: none;
}

.img4_slide9{
    position: absolute;
    top: 32%;
    left: 48%;
}

.img8_slide9{
    position: absolute;
    top: 27%;
    height: 34%;
    left: 34%;
}

.img7_slide9{
    position: absolute;
    width: 41%;
    top: 2%;
    height: 47%;
    left: 47%;
}

.img9_slide9{
    position: absolute;
    top: 34%;
    height: 13%;
    right: 9%;
    z-index: 15;
}

.img1_slide10{
       position: absolute;
    top: 33%;
    height: 14%;
    right: 40%;
    z-index: 15;
    display: none;
}

.img10_slide9{
    position: absolute;
    top: 30%;
    height: 44%;
    left: 22%;
    display: none;
        
}

.img1_slide12{
    position: absolute;
    top: 57%;
    height: 13%;
    right: 8%;
    z-index: 15;
}

.img1_slide15{
         position: absolute;
    top: 77%;
    height: 13%;
    right: 4%;
    z-index: 15;
}


.img02_slide15{
     position: absolute;
    top: 34%;
    height: 13%;
    right: 39%;
    z-index: 15;
}

.img1_slide17{
    position: absolute;
    top: 34%;
    height: 13%;
    right: 6%;
    z-index: 21;
}


.img2_slide17{
    position: absolute;
    top: 52%;
    height: 13%;
    right: 16%;
    z-index: 21;
}

.img3_slide17{
    position: absolute;
    top: 72%;
    height: 13%;
    right: 5%;
    z-index: 21;
}



.group_camel17{
  position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    top: 0%;

}

.discuss-1{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
}

.board_prev{
    top: 0%;
    left: -100%;
}

.board_next{
    top: 0%;
    left: 100%;
}

.imagestartpos {
    
    width: 7%;
    margin-left: 1%;
    display: none;

}


.bold{

    text-style:bold;
    font-style: italic;
}

.p3_s0_1{
    position: absolute;
    left: 29%;
    color: #FFFFFF;
    font-family: chelsea_market;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    top: 6%;
    height: 16%;
    width: 50%;
    font-size: 3vw;
    text-align: justify;
    z-index:100;
}

.p3_s0_2{
    position: absolute;
    text-align: justify;
    left: 29%;
    top: 25%;
    width: 67%;
    height: 64%;
    z-index:100;
}

.background_yellow{
    background-color: #FFD966;

}



.p3_s1_1{
    position: absolute;
    color: #FFFFFF;
    background-color: #FFD966;
    height: 20%;
    font-weight: bold;
    width: 100%;
}


.p3_s1_2{
    position: absolute;
    background-color: #FFE599;
    top: 20%;
    height: 20%;
    width: 100%;
}




.p3_s1_3{
    position: relative;
    font-size: 1.66vw;
    padding: 3%;
    text-align: left;
    background-color: #FFF2CC;
 font-family: Catamaran;
}


.p3_s1_4{
     position: absolute;
    font-size: 1.52vw;
    text-align: left;
    padding: 5%;
    top: 48%;
    color: red;
 font-family: Catamaran;
}

.p3_s1_5{
     position: absolute;
    font-size: 1.52vw;
    text-align: left;
    padding: 5%;
    top: 55%;
 font-family: Catamaran;
}

.p3_s1_6{
     position: absolute;
    font-size: 1.52vw;
    text-align: left;
    padding: 5%;
    top: 60%;
 font-family: Catamaran;
}

.p3_s1_7{
     position: absolute;
    font-size: 1.52vw;
    text-align: left;
    padding: 5%;
    top: 65%;
 font-family: Catamaran;
}
.p3_s2_1{
    position: absolute;
    text-align: justify;
    top: 4%;
    color: #C59000;
    width: 96%;
    height: 20%;
    left: 2%;
    z-index:100;
}
.p3_s2_2{
    position: absolute;
    text-align: justify;
    color: #C59000;
    top: 28%;
    width: 61%;
    height: 66%;
    left: 2%;
    z-index:100;
}
.p3_s3_1{
    position: relative;
    height: 20%;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #F1C232;
    z-index:100;
}

.p3_s3_3{
    position: relative;
    font-size: 1.66vw;
    padding: 2%;
    text-align: left;
    width: 55%;
    border-radius: 15px;
    border: 5px solid #D4D4D4;
    margin: 1%;
    color: #000;
     background: #674EA7;
 font-family: Catamaran;
    z-index:100;

}
.p3_s3_4{
      position: relative;
    font-size: 1.66vw;
    padding: 2%;
    text-align: left;
    width: 55%;
    border-radius: 15px;
    border: 5px solid #D4D4D4;
    margin: 1%;
    color: #000;
 background: #674EA7;
 font-family: Catamaran;
    z-index:100;

}

.p3_s3_5{
        position: relative;
    font-size: 1.66vw;
    padding: 2%;
    text-align: left;
    width: 55%;
    border-radius: 15px;
    border: 5px solid #D4D4D4;
    margin: 1%;
    color: #000;
 background: #674EA7;
 font-family: Catamaran;
    z-index:100;

}

.p3_s3_6{
      position: relative;
    font-size: 1.66vw;
    padding: 2%;
    text-align: left;
    width: 55%;
    border-radius: 15px;
    border: 5px solid #D4D4D4;
    margin: 1%;
    color: #000;
     background: #674EA7;
 font-family: Catamaran;
    z-index:100;

}

.p3_s3_7{
     position: absolute;
    font-size: 1.52vw;
    text-align: left;
    height: 10%;
    left: 4%;
    padding: 2%;
    top: 65%;
 font-family: Catamaran;
    z-index:100;
}

.p3_s4_1{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: justify;
    background-color: #ffffff;
    color: #c5901f;
}

.p3_s5_1{
    position: absolute;
    left: 25%;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    top: 20%;
    width: 51%;
    height: 15%;
}

.p3_s5_2{
    position: absolute;
    width: 75%;
    height: 38%;
    text-align: justify;
    top: 37%;
    left: 25%;
}


.p3_s5_3{
    position: absolute;
    font-size: 1.52vw;
    text-align: left;
    left: 35%;
    top: 42%;
     width: 60%;
}

.p3_s6_1{
    position: absolute;
    bottom: 0%;
    background-color: #FFD966;
    width: 100%;
    z-index: 2;
    height: 32%;
}

.img1{
    position: absolute;
    top: 3%;
    left: 23%;
}

.p3_s6_2{
    font-size: 1.52vw;
    text-align: left;
    font-family: Catamaran;
    position: absolute;
    top: 79%;
    padding: 4%;
    display: none;
    z-index: 21;
    animation:scroll 9s;
    display: none;
 font-family: Catamaran;
}

@keyframes scroll{
    0% {left: -99%;}
    100% {left:   0%;}
}


.p3_s7_1{
    position: absolute;
    text-align: justify;
    top: 0%;
    left: 5%;
    width: 75%;
    height: 23%;
}

.p3_s7_1_1{
    position: absolute;
    top: 30%;
    right: 0%;
    width: 20%;
    font-style: italic;
    background: #FFE69C;
    height: 78%;
    z-index: 2;
    padding-bottom: 42%;
}
.p3_s7_1_2{
    font-size: 1.52vw;
    position: absolute;
    top: 56%;
    right: 3%;
    width: 15%;
    text-align: center;
    font-style: italic;
    z-index: 2;
}

.p3_s7_1_3{
   font-size: 1.52vw;
    position: absolute;
    top: 80%;
    right: 3%;
    width: 15%;
    text-align: center;
    font-style: italic;
    z-index: 2;
    font-family: Catamaran;

}

.p3_s17{
    position: absolute;
    top: 28%;
    width: 100%;
    left: 0%;
    background-color: RGBA(238, 199, 97,.9);
    height: 74%;
    z-index: 2;
}
.p3_s17_1{
    position: absolute;
    top: 40%;
    width: 80%;
    text-align: justify;
    left: 2%;
    z-index: 2;
}



.p3_s17_2{
    position: absolute;
    top: 60%;
    width: 80%;
    text-align: left;
    z-index: 12;
    left: 2%;
}

.p3_s17_3{
    position: absolute;
    top: 78%;
    width: 80%;
    text-align: justify;
    z-index: 2;
    left: 2%;
}




.p3_s18{
    position: absolute;
    text-align: justify;
    padding: 4%;
    height: 50%;
    width: 80%;
    left: 0%;
    z-index: 2;
    background-color: RGBA(238, 199, 97,.9);
    bottom: 0%;
}


.p3_s19{
    position: absolute;
    bottom: 3%;
    width: 41%;
    z-index: 2;
    background-color: RGBA(238, 199, 97,.9);
    border-radius: 1em;
    left: 2%;
    height: 30%;
}


.underline1{

    text-decoration: underline;
}

.img3_slide3{
    top: 26%;
    right: 3%;
    position: absolute;
    width: 33%;
}

.background-yellow{
    width: 100%;
    height: 100%;
    background-color: #C1FDF7;
}



.optionsdiv {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 40%;
    background-color: #C1FDF7;
    left: 0%;
}
.loweroptionsdiv{
    position: absolute;
    width: 100%;
    height: 80%;
}

.optionscontainer{
    position: absolute;
    width: 65%;
    left: 19%;
    border-radius: 14px;
    height: 20%;
    border: 2px solid #D4D4D4;
    color: #FFFFFF;
    background: #674EA7;
}
.optionscontainer1{
    position: absolute;
    width: 65%;
    left: 19%;
    border-radius: 14px;
    height: 20%;
    border: 2px solid #D4D4D4;
    color: #FFFFFF;
    background: #674EA7;
}

.class1{
    top:5%;
}
.class2{
    top:28%;
}
.class3{
    top:51%;
}
.class4{
    top:74%;
}





/*.forhover{*/
    /*cursor: pointer;*/
/*}*/

/*.forhover:hover.class1 {*/
    /*background: #A4C2F4;*/
    /*border: 5px solid #6fa8dc;*/
    /*color: #000*/
/*}*/

/*.forhover:hover.class2 {*/
     /*background: #A4C2F4;*/
    /*border: 5px solid #6fa8dc;*/
    /*color: #000*/
/*}*/

/*.forhover:hover.class3 {*/
     /*background: #A4C2F4;*/
    /*border: 5px solid #6fa8dc;*/
    /*color: #000*/
/*}*/

/*.forhover:hover.class4 {*/
     /*background: #A4C2F4;*/
    /*border: 5px solid #6fa8dc;*/
    /*color: #000*/
/*}*/




/*.forhoverimg:hover{*/
    /*background-color: #f9cb9cff;*/
    /*border: 5px solid #FFD966;*/
/*}*/



.underlinee{
    text-decoration: underline;
}
@font-face {
    font-family: shortstack;
    src: url("../../../../../fonts/shortstack-regular.ttf");
}
.p3_s13_1{
    top: 20%;
    position: absolute;
    width: 100%;
    height: 20%;
}
.p3_s13_1 p{
    font-family:shortstack !important;
    font-weight: bold;
}

.p3_s13{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 25%;
    font-weight: bold;
}

.italic{
   font-style: italic;
}




.move_left_1{
    animation: move_left_kf_1 4s linear forwards;
}

.move_left_2{
    animation: move_left_kf_2 4s linear forwards;
}

@keyframes move_left_kf_1{
    100%{
        left: -100%;
    }
}

@keyframes move_left_kf_2{
    100%{
        left: 0%;
    }
}

.move_right_1{
    animation: move_right_kf_1 4s linear;
}

.move_right_2{
    animation: move_right_kf_2 4s linear;
}

@keyframes move_right_kf_1{
    100%{
        left: 0%;
    }
}

@keyframes move_right_kf_2{
    100%{
        left: 100%;
    }
}


.scaleanimate{
    top: 15%;
    -webkit-animation: scaleanimatekf 3s cubic-bezier(.59,-0.63,.59,1.43) 0.2s forwards;
    animation: scaleanimatekf 3s cubic-bezier(.59,-0.63,.59,1.43) 0.2s forwards;
}

@-webkit-keyframes scaleanimatekf{
   
    100%{
        top: 0;
        transform: scale(0.8);
    } 
}

@keyframes scaleanimatekf{ 
   
    100% {
        top: 0;
        transform: scale(0.8);
    } 
}

.slideinleft{
    right: 100%;
    -webkit-animation: slideinleftkf 1.5s cubic-bezier(.59,-0.63,.59,1.43) 0.2s forwards;
    animation: slideinleftkf 1.5s cubic-bezier(.59,-0.63,.59,1.43) 2s forwards;
    animation-duration: 5s;
}

@-webkit-keyframes slideinleftkf{
   
    100%{
        right: 0;
    } 
}

@keyframes slideinleftkf{ 
   
    100% {
        right: 0;
    } 
}

.optionscontainer:hover{
    transform: scale(1);
    border:2px solid;
    background-color: #F9CB9C;
    border-color:#E69138;
    color:#43434B;
    border-radius: 9px;
    transition:0.8s;
    cursor: pointer;
}

.selectedoption{
    border-radius: 9px;
    border:2px solid #3C78D8;
    color:white;
    background-color: #A4C2F4;
    color:#43434B;
}

.p3_s7_1_1a{
    position: absolute;
    top: 27%;
    right: 0%;
    width: 20%;
    font-style: italic;
    background: #FFE69C;
    height: 78%;
    z-index: 2;
    padding-bottom: 42%;
}
.img9_slide9a{
    position: absolute;
    top: 36%;
    height: 13%;
    right: 9%;
    z-index: 2;
}
.img1_slide12a{
    position: absolute;
    top: 60%;
    height: 13%;
    right: 8%;
    z-index: 2;
}

.img1_slide15a {
    position: absolute;
    top: 85%;
    height: 13%;
    right: 8%;
    z-index: 15;
}
.endimg{
    opacity: 0.2;
}