.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 85%;
	left: 0%;
	top: 0%;
	margin-top: 9%;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}
/*loading css*/

/*-------------- For Loading ---------------*/

#loading-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #222;
}

#loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 3vmin;
}

#loading-content {
	display: block;
	position: absolute;
	left: 40%;
	top: 33.35%;
	width: 20%;
	height: 33.3%;
	transform: translate(-50%, -50%);
	border: 3px solid #F00;
}

#loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 15%;
	right: 15%;
	top: 15%;
	bottom: 15%;
}

#loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/

 /*----------------------type 1 exercise start---------------------*/
.greenbg{
  background: #49B5BC;
}
.question {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  text-align: center;
  font-family: abeezee;
  color: #fff;
}

.imagestartpos {
  width: 53%;
  display: none;
  position: absolute;
  left: 70%;
  bottom: 79%;
}
.optionscontainer {
      position: relative;
      margin: 7%;
      height: 50%;
      width: 100%;
      border-radius: .7em;
}

.optionsdiv {
  height: 24%;
  width: 83%;
  position: absolute;
  top: 68%;
  transform: translate(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  z-index: 20;
}
.optionsdiv p {
  display: block;
  padding: 1% 1% 3% 1%;
  background: #0097A7;
  border-radius: 15px;
  margin: -1%;
  border: 5px solid #0097A7;
  font-family: abeezee;
  width: 72%;
  /* height: 90%; */
  color: #fff;
  left: 15%;
  text-align: center;
  font-size: 6vh;
}
.forhover:hover{
  background: #F6B26B;
  border: 4px solid #E69138;
}
.car1{
  position: absolute;
  top: 70%;
  width: 5%;
  z-index: 20;
}
.car1_sec{
  position: absolute;
  top: 67%;
  width: 5%;
  z-index: 20;
}
.rightshow{
  right: 3%;
  transform: rotate(-90deg);
}
.leftshow{
  left: 3%;
  transform: rotate(90deg);
}
.low_img{
  position: absolute;
  top: 52%;
  left: 0%;
  width: 100%;
}
 /*----------------------type 1 exercise end---------------------*/
/*----------------------type 2 exercise start---------------------*/
.question_2 {
  position: absolute;
  top: 45%;
  left: 2%;
  width: 54%;
  text-align: center;
  font-family: abeezee;
  color: #fff;
  text-align: left;
}

.optionscontainer_2 {
  position: relative;
  /* margin: 9%; */
  height: 50%;
  width: 100%;
  border-radius: .7em;
}

.optionsdiv_2 {
  height: 70%;
  width: 8%;
  position: absolute;
  top: 29%;
  transform: translate(-50%);
  left: 78.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 20;
}
.optionsdiv_2 p {
  display: block;
  padding: 1% 1% 3% 1%;
  background: #0097A7;
  border-radius: 15px;
  margin: -1%;
  border: 5px solid #0097A7;
  font-family: abeezee;
  width: 72%;
  /* height: 90%; */
  color: #fff;
  left: 15%;
  text-align: center;
  font-size: 4vw;
}
.forhover:hover{
  background: #F6B26B;
  border: 4px solid #E69138;
}
.car_2{
  position: absolute;
  top: 14%;
  width: 4%;
  left: 76.6%;
  transform: rotate(180deg);
  z-index: 30;
}
.car_2_sec{
  position: absolute;
  top: 14%;
  width: 3.5%;
  left: 76.6%;
  transform: rotate(180deg);
  z-index: 30;
}
.car_bot{
  top: 86%;
  transform: rotate(180deg);
}
.side_img{
  position: absolute;
  top: 12.5%;
  left: 56%;
  width: 45%;
}
.side_img_sec{
  position: absolute;
  top: 12.5%;
  left: 60%;
  width: 40%;
  height: 100%;
}
 /*----------------------type 2 exercise end---------------------*/
 /*----------------------type 3 exercise start---------------------*/
 .question_3 {
   position: absolute;
   top: 13%;
   left: 5%;
   width: 90%;
   text-align: center;
   font-family: abeezee;
   font-size: 2vw;
   color: #fff;
   height: 14%;
 }

 .optionscontainer_3 {
   width: 50%;
   border-radius: .7em;
 }

 .optionsdiv_3 {
   height: 25%;
   width: 100%;
   position: absolute;
   top: 26%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row;
   flex-wrap: wrap;
   left: 1%;
 }
 .optionsdiv_3 p {
   display: block;
   padding: 1% 1% 2% 1%;
   background: #FFCD53;
   border-radius: 15px;
   margin: -1%;
   border: 5px solid #FFCD53;
   font-family: abeezee;
   width: 72%;
   color: #000;
   left: 15%;
   text-align: center;
   font-size: 2vw;
 }
 .forhover:hover{
   background: #F6B26B;
   border: 4px solid #E69138;
 }
 .car_3{
   position: absolute;
   top: 71%;
   width: 5%;
 }
 .car_bot{
   top: 84%;
   /*transform: rotate(180deg);*/
 }
.imagestartpos_3 {
  width: 13%;
  display: none;
  position: absolute;
  left: 81%;
  bottom: -9%;
}
/*----------------------type 3 exercise end---------------------*/
/*----------------------type 4 exercise start---------------------*/
.question_4 {
  position: absolute;
  top: 15%;
  left: 2%;
  width: 48%;
  text-align: center;
  font-family: abeezee;
  font-size: 2vw;
  color: #fff;
}

.optionscontainer_4 {
  width: 100%;
  border-radius: .7em;
  margin: 2%;
}

.optionsdiv_4 {
  height: 65%;
  width: 45%;
  position: absolute;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  left: 4%;
}
.optionsdiv_4 p {
  display: block;
  padding: 1% 1% 2% 1%;
  background: #FFCD53;
  border-radius: 15px;
  margin: -1%;
  border: 5px solid #FFCD53;
  font-family: abeezee;
  width: 95%;
  color: #000;
  left: 5%;
  text-align: center;
  font-size: 2vw;
}
.forhover:hover{
  background: #F6B26B;
  border: 4px solid #E69138;
}
.car_4{
  position: absolute;
  top: 85%;
  width: 4%;
  left: 76.5%;
  z-index: 30;
}
.car_bot{
  top: 84%;
  /*transform: rotate(180deg);*/
}
.imagestartpos_4 {
 width: 13%;
 display: none;
 position: absolute;
 left: 81%;
 bottom: -9%;
}

 /*----------------------type 4 exercise end---------------------*/

 /*----------------------type 5 exercise start---------------------*/
 .question_5 {
   position: absolute;
   top: 15%;
   left: 5%;
   width: 90%;
   text-align: center;
   font-family: abeezee;
   font-size: 2vw;
   z-index: 30;
   color: #fff;
 }

 .optionscontainer_5 {
   width: 25%;
   border-radius: .7em;
   height: 25%;
   z-index: 30;
 }

.optionscontainer_sec {
  width: 25%;
  border-radius: .7em;
  height: 25%;
  z-index: 30;
  z-index: 30;
}

 .optionsdiv_5 {
   height: 24%;
   width: 100%;
   position: absolute;
   top: 66%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row;
   flex-wrap: wrap;
   left: 0%;
   z-index: 1000;
 }

  .optionsdiv_sec {
    height: 25%;
    width: 100%;
    position: absolute;
    top: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    left: 0%;
    z-index: 1000;
  }
 .optionsdiv_5 p {
   display: block;
   padding: 1% 1% 2% 1%;
   background: #fff;
   border-radius: 5px;
   margin: -1%;
   border: 5px solid #fff;
   font-family: abeezee;
   width: 90%;
   /* height: 90%; */
   color: #fff;
   left: 5%;
   text-align: center;
   font-size: 2vw;
   z-index: 30;
 }
 .optionsdiv_sec p {
   display: block;
   padding: 1% 1% 2% 1%;
   background: #FFCD53;
   border-radius: 5px;
   margin: -1%;
   border: 5px solid #FFCD53;
   font-family: abeezee;
   width: 90%;
   /* height: 90%; */
   color: #000;
   left: 6%;
   text-align: center;
   font-size: 1.3vw;
   z-index: 30;
  }
 .forhover:hover{
   background: #F6B26B;
   border: 4px solid #E69138;
   cursor: pointer;
 }
 .car_5{
  position: absolute;
  top: 71%;
  width: 3.5%;
  left: 4%;
  z-index: 30;
  transform: rotate(90deg);
 }
 .car_bot{
   top: 86%;
   transform: rotate(0deg);
 }
 .imagestartpos_5 {
   width: 13%;
   display: none;
   position: absolute;
   left: 88%;
   bottom: 17%;
   z-index: 40;
 }
 /*image selection page*/
 .opt_img{
   position: absolute;
   width: 13%;
   z-index: 50;
 }
 .opt_img_1{
   position: absolute;
   width: 13%;
   z-index: 50;
  }
.opt_img_2{
   position: absolute;
   width: 10%;
   z-index: 50;
 }
 .opt_img_sec{
   position: absolute;
   width: 13%;
   z-index: 100;
  }
 .opt_img:hover{
   cursor: pointer;
 }
 .up{
   top: 52%;
 }
 .dwn{
   top: 81%;
 }
 .op1{
   left: 2%;
 }
 .op2{
   left: 21%;
 }
 .op3{
   left: 41%;
 }
 .op4{
   left: 61%;
 }
 .op5{
   left: 81%;
 }
 .op6{
   left: 2%;
 }
 .op7{
   left: 21%;
 }
 .op8{
   left: 41%;
 }
 .op9{
   left: 61%;
 }
 .op10{
   left: 81%;
 }
 .car_6{
   position: absolute;
   top: 69%;
   width: 4%;
   z-index: 30;
 }
 .lf{
   left: 60%;
 }
 .rt{
   left: 85%;
 }
 .ops1{
   top: 12.5%;
 }
 .ops2{
   top: 37.5%;
 }
 .ops3{
   top: 61.5%;
 }
 .ops4{
   top: 85.5%;
 }
 .ops5{
   top: 12.5%;
 }
 .ops6{
   top: 37.5%;
 }
 .ops7{
   top: 61.5%;
 }
 .ops8{
   top: 85.5%;
 }
 .highlight{
   animation: hghlght 1s linear infinite;
 }
 @keyframes hghlght {
   0%{transform : scale(1,1);}
   100%{transform : scale(1.1, 1.1);}

 }
 .grayscale{
   filter: grayscale(100%);
 }
 .rightwrong{
  width: 8%;
  position: absolute;
  top: 0%;
  margin-left: 1%;
}
.op1_sec{
  left: 5%;
}
.op2_sec{
  left: 30%;
}
.op3_sec{
  left: 56%;
}
.op4_sec{
  left: 80%;
}
.op6_sec{
  left: 5%;
}
.op7_sec{
  left: 30%;
}
.op8_sec{
  left: 56%;
}
.op9_sec{
  left: 80%;
}
.hovered{
    border: 4px dashed #CCCCCC !important;
    z-index: 1200;
}
 /*----------------------type 5 exercise end---------------------*/
 @media screen and (min-aspect-ratio: 4/3) {
 	/*vw*/
 	.covertext{
 		font-size: 8vh;
 	}
   .question_1, .question_2, .question_3, .question_4, .optionsdiv_4 p, .optionsdiv_3 p,.optionsdiv_2 p,.optionsdiv_1 p, .question_5{
     font-size: 4vh;
   }
   .txt{
     font-size: 6vh;
   }
   .optionsdiv p{
     font-size: 6vh;
   }
 }
 @media screen and (max-aspect-ratio: 4/3) {
 	/*vw*/
 	.covertext{
 		font-size: 4vw;
 	}
   .question_1, .question_2, .question_3, .question_4, .optionsdiv_4 p, .optionsdiv_3 p,.optionsdiv_2 p,.optionsdiv_1 p, .question_5{
     font-size: 2vw;
   }
   .txt{
     font-size: 3vw;
   }
   .optionsdiv p{
     font-size: 3vw;
   }
 }
