.diy-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color:#fff2cc;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4.5vw;
  transform: translate(-50% ,-50%);
  font-family: Quicksand;
}
.fairy{
  position: absolute;
  width: 15%;
  top: 48%;
  left: 15%;
}
.chibi{
  position: absolute;
  width: 20%;

}
.fairy-1{
  top: 16%;
  left: 0%;
  display: none;
}

.fairy-2{
  top: 55%;
  left: 0%;
  display: none;
}
.mainImgContain{
  position: absolute;
  width: 50%;
  left: 25%;
  top: 10%;
  height: 50%;
}
.chalkboard{
  position: absolute;
  width: 100%;
  left: 0%;
  top: 3%;
  /* display: none; */
  /* font-family: Sniglet; */
}
.uppertitle{
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  font-size: 2.3vw;
  padding: 1%;
  font-family: Bree serif;
}
.hi{
  color: #ffe67f;
}
.sp-1{
  position: absolute;
  top: 12%;
  left: 15%;
  width: 26%;
  padding: 3% 4% 7% 7%;
  display: none;
	/* font-family: Sniglet; */
}
.sp-2{
  position: absolute;
  top: 50%;
  left: 15%;
  display: none;
  width: 32%;
  padding: 3% 4% 7% 7%;
	/* font-family: Sniglet; */
}
.text-box{
  width: 80%;
  font-size: 2.0vw;
  font-family: Quicksand;
}
.color-text{
  color: #ffe67f;
  font-weight: 1.5;
}
.toptext{
  position: absolute;
  width: 100%;
  top: 25%;
  font-size: 2.2vw;
  font-family: Sniglet;
  color: #fff;
  /* display: none; */
}
.tptxt{
  position: absolute;
  width: 100%;
  top: 25%;
  font-size: 2.2vw;
  font-family: Sniglet;
  color: #fff;
  display: none;
}
.plus-num{
  position: absolute;
  width: 100%;
  top: 50%;
  display: none;
  font-size: 2.2vw;
  font-family: Sniglet;
  color: #fff;
  left: 5%;
}
.imagestartpos {
  position: absolute;
  width: 14%;
  display: none;
  left: 75%;
  top: 19%;
  transform: translateY(-7%);
}
.optionsdiv{
    position: absolute;
    width: 70%;
    height: 30%;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    left: 15%;
    justify-content: space-around;
    opacity: 0;
}

.optionscontainer{
  position: relative;
  width: 40%;
  background-color: #597fca;
  padding: 5%;
  border-radius: 1em;
  color: #fff;
  height: 0%;
  cursor: pointer;
}
.opti.corrects{
	pointer-events: none;
	background-color: #98C02E;
	border: 0.5vmin solid #DEEF3C;
	color: white;
}
.opti.incorrect{
	pointer-events: none;
	background-color: #FF0000;
	border: 0.5vmin solid #980000;
	color: white;
}
.optionscontainer p{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 90%;
}
.tick{
  left: 100%;
}
.hidn{
  display: none;
}
.frac{
  border-top: 3px solid yellow;
}

.hide1{
    position: absolute;
    width: 100%;
    font-size: 3.2vw;
    color: #fff;
    font-family: Sniglet;
}
.firsrow{
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0%;
  font-size: 3.2vw;
  color: #fff;
  font-family: Sniglet;
  display: none;
}

.secrow{
  top: 20%;
  left: 70%;
  border: 3px solid #000;
  width: 22%;
  display: none;
  background: #ffe67f;
  color: black;
}
.thdrow{
  top: 40%;
  left: 3%;
  display: none;
}
.fourow{
  top: 55%;
  left: 2%;
display: none;
}
.fifrow{
  top: 70%;
  left: 4%;
  display: none;
}

@media (min-aspect-ratio:4/3){
 .text{
   font-size: 6.5vh;
 }
 .text-box{
   font-size: 2.8vh;
 }
 .uppertitle,.toptext,.plus-num,.firsrow,.hide1,.tpxt{
   font-size: 3.5vh;
 }
}
.oboTxt {
  line-height: 2;
}
