.bg-diy{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffe7ce;
}
.chibi-fairy{
	position: absolute;
	width: 20%;
	top: 40%;
	left: 20%;
}
.text-1{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 79%;
	transform: translate(-50%,-50%);
}
.sp-1{
	position: absolute;
	top: 47%;
	left: 35%;
	width: 35%;
	padding: 7% 4% 7% 7%;
	font-family: Sniglet;
	display: none;
}
.sp-x{
	position: absolute;
	top: 73%;
	left: 16%;
	width: 61%;
	padding: 7% 4% 7% 7%;
	font-family: Sniglet;
}
.txt1{
	width: 80%;
	left: 55% !important;
}
.box1{
	border: 2px solid black;
	background: #fff;
}
.sp-2{
	position: absolute;
	top: 50%;
	left: 70%;
	width: 25%;
	padding: 1% 1% 3% 1%;
	font-family: Sniglet;
	display: none;
	height: 21%;
}
.speechbox > p {
    position: absolute;
    width: 85%;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
}
.sp-3{
	position: absolute;
	top: 47%;
	left: 15%;
	width: 35%;
	padding: 7% 4% 7% 7%;
	font-family: Sniglet;
opacity: 0;
}
.sp-4{
	position: absolute;
	top: 37%;
	left: 57%;
	width: 41%;
	padding: 7% 4% 7% 7%;
	font-family: Sniglet;
	height: 54%;
	opacity: 0;
	/* display: none; */
}
.kite{
  position: absolute;
  width: 50%;
  top: 0%;
  left: 0%;
}
.text-box{
	position: absolute;
	width: 80%;
	height: 60%;
	border: 5px solid #f76b8a;
	border-radius: 1.5em;
	top: 20%;
	left: 10%;
	transform: rotateZ(-7deg);
	background-color: #fff;
	color: #597fca;
	font-weight: bold;
	font-size: 5.5vw;
	padding: 10%;
}
.txt{
	font-family: Mitr;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.middle-text{
	position: absolute;
	width: 100%;
	top: 10%;
	font-family: Mitr;
	font-size: 3.2vw;
}
.small-box{
	position: absolute;
	width: 4%;
	height: 36%;
	background-color: #fff;
	left: 40%;
	border: 2px solid #000;
	color: #f76b8a;
}
.chibi-fairy-1{
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: 20%;
  transform: rotateY(-180deg);
	display: none;
}
.right-box{
	position: absolute;
	width: 100%;
	top: 0%;
	left: 78%;
}
.text-2{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 79%;
	transform: translate(-50%,-50%);
}
.text-3{
	width: 53%;
}
.bottom-option-container{
	position: absolute;
	bottom: 5%;
	width: 40%;
	height: 35%;
	padding: 0% 4%;
	display: flex ;
	align-items: center;
	justify-content: space-around;
	left: 17%;
	border: 3px solid #597fca;
	border-radius: 2em;
	background-color: #fffee7;
}
.bottom-option{
	position: relative;
	width: 22%;
	height: 27%;
	font-family: Poppins;
	z-index: 15;
	font-size: 6vw;
	color: white;
	top: 15%;
}
.bttexxt{
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 1vmin 0px;
	background-color: #f76b8a;
	border-radius: 2vmin;
	border: 0.5vmin solid transparent;
}
.bttexxt:hover{
	background-color: #F6B26B;
	border-color: #E69138;
	color: #434343;
}
.bttexxt>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cor-incor{
	display: none;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5vmin;
	width: 40%;
}
.incorrect-answer{
	border: 0.5vmin solid #980000;
	background-color: #FF0000!important;
	color: #000000!important;
}
.correct-answer{
	border: 0.5vmin solid #DEEF3C;
	background-color: #98C02E!important;
	color: #FFFFFF!important;
}
.display-block{
	display: block;
}
.box-text{
	position: absolute;
	width: 100%;
	top: 10%;
	left: 0%;
	z-index: 1;
	font-family: Mitr;
}
.fairy{
	top: 58%;
	display: none;
}
.fairy-1{
	top: 58%;
	left: 0%;
	opacity: 0;
}
.chi-fairy{
	position: absolute;
	width: 20%;
	top: 70%;
	left: 0%;
}
.fai1{

}
.fai2{
	position: absolute;
	width: 20%;
	top: 70%;
	left: 0%;
	display: none;
	-webkit-animation: faianim 2s forwards 2s linear;
	animation: faianim 2s forwards 2s linear;
}
@-webkit-keyframes faianim{
	100%{
		left: 55%;
	}
}
@keyframes faianim {
	100%{
		left: 55%;
	}
}
.text-highlight{
	color: #f76b8a;
	font-family: Poppins;
}
.text-highlight-1{
	color: #fff;
	opacity: 0;
	font-family: Poppins;
	font-size: 5.2vw;
}
.mainContain1{
	position: absolute;
	width: 40%;
	left: 5%;
	top: 5%;
	height: 65%;
}
.mainContain2{
	position: absolute;
	width: 40%;
	left: 55%;
	top: 5%;
	height: 65%;
	display: none;
}
.top-text{
	position: absolute;
	width: 60%;
	left: 20%;
	top: 0%;
	background: #597fca;
	font-size: 2.3vw;
	font-family: Mitr;
	color: #fff;
}
.bigCont1,.bigCont2{
	position: absolute;
	width: 100%;
	height: 83%;
	top: 15%;
	left: 0%;
	font-family: Mitr;
	border: 5px solid pink;
	background-color: #f1ede8
}
.quen{
	font-size: 2.3vw;

}
.lower-div{
	position: absolute;
	width: 100%;
	top: 32%;
	height: 15%;
	left: 0%;
}
.lower-div1{
	position: absolute;
	width: 100%;
	top: 60%;
	height: 15%;
	left: 0%;
}
.input-class,.input-class1{
	position: absolute;
	width: 12%;
	left: 36%;
	height: 100%;
	text-align: center;
}
.lower-text-p{
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	font-size: 2.3vw;
	transform: translate(-50%,-50%);
}

.low-text{
	position: absolute;
	width: 100%;
	top: 55%;
	left: 0%;
	font-size: 2.3vw;
}
.submit-button,.submit-button1{
	position: absolute;
	width: 30%;
	top: 80%;
	left: 35%;
	font-size: 2.3vw;
	font-family: Sniglet;
	background: #ffcd53;
	cursor: pointer;
	border: 2px solid #b45f06;
	border-radius: 0.5em;
}
.eqn1{
	position: absolute;
	width: 100%;
	top: 10%;
	left: 0%;
	font-size: 2.3vw;
	font-family: Mitr;
}
.eqn2{
	position: absolute;
	width: 100%;
	left: 0%;
	font-size: 2.3vw;
	font-family: Mitr;
	top: 25%;
}
.eqn3{
	position: absolute;
	width: 100%;
	top: 40%;
	font-size: 2.3vw;
	font-family: Mitr;
	left: 0%;
}

.heigt{
	height: 90%;
}
.coverpage{
	position: absolute;
	width: 100%;
	top: 0%;
	height: 100%;
	left: 0%;
}
.titletxt{
	position: absolute;
	width: 100%;
	top: 15%;
	height: 20%;
	z-index: 1;
	left: 0%;
}
.titletext{
	position: absolute;
	width: 80%;
	left: 15%;
	top: 40%;
	font-size: 7vw;
	z-index: 1;
	color: #fff;
}
@media(min-aspect-ratio:4/3){
 .middle-text,.top-text,.lower-text-p,.quen,.low-text,.submit-button,.submit-button1{
	 font-size: 3.2vh;
 }
 .text-box, .text-highlight-1{
	 font-size: 4.5vh;
 }
 .bottom-option{
	 font-size: 7.5vh;
 }
 .eqn1,.eqn2,.eqn3{
	 font-size: 3.2vh;
 }
 .titletext{
	 font-size: 10vh;
 }

}
