<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page4_volume.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    
    <div class="wrapperIntro {{justClass}}">    
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        
    </div> 
    <!--<img src="activity/grade8/math/math_mean_median_mode/image/but.gif" class="fly_butter"> --> 
   
</script>

<script type="text/x-handlebars-template" id="intro02-template">
    
    <div class="wrapperIntro {{justClass}}">    
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        
    </div> 
    <!--<img src="activity/grade8/math/math_mean_median_mode/image/but.gif" class="fly_butter">-->  
   
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4_volume.js");
    
</script>