<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page2_volume.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>


     <!-- <div class="smallant" id="bread">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic2">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic3">
      </div>

      <div class="mediumants" id="strawberry">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic4">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic5">
      </div>

      <div class="largeants" id="banana">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic6">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic7">
      </div>

      <div class="extraants" id="watermelon">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic8">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic9">
      </div>

    </div>

</script>-->


<link rel="stylesheet" href="css/jquery-ui1.css">
<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

<script type="text/javascript">
	$cssLoader("css/match.css");
</script>

<script type="text/x-handlebars-template" id="intro-template">
<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
      <img src="activity/grade8/math/math_mean_median_mode/image/tomato.gif" class="dance">
      <img src="activity/grade8/math/math_mean_median_mode/image/food2.gif" class="food">
<script>
	var answer123 = [];

	$(function() {
		answer123 = [ "strawberry", "bread", "banana", "wm" ];
		var pos = 0;

		$("#sortable").sortable({
			stop : function(event, ui) {
				//console.log(ui.item);
				//console.log(ui.item.attr('id'));
				pos = (ui.item.index());
				correctans = (answer123[pos]);
				useranswer = $.trim(ui.item.text());
				if (correctans == useranswer) {
				} else {
					//alert("Incorrect");
				}
			}
		});
		$("#sortable").disableSelection();
	});

	function submit() {
		var answer_submit = [];
		$(".submit_answer").each(function(abcd, dsa) {
			answer_submit.push($(dsa).attr('data'));
		});

		console.log(answer123);
		console.log(answer_submit);
		var is_same = (answer123.length == answer_submit.length)
				&& answer123.every(function(element, index) {
					return element === answer_submit[index];
				});
		console.log(is_same);
		if (is_same == true) {
			$("#incorrect_icon").hide();
			$("#correct_icon").show();
            $(".nextBtn .mynextStyle").show();
            $("#activity-page-next-btn-enabled").show();

			//ole.footerNotificationHandler.pageEndSetNotification();
		} else {
			$("#incorrect_icon").show();
			$(".nextBtn .mynextStyle").hide();
		}
	}
</script>


<div class="whole_content">

	<div class="row content_words">
		<div id="wrapper">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 mountan_names">
				<ul id="sortable">

					<li class="ui-state-default sortable submit_answer" id='2'data='strawberry'>
						<img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ants_width"/></li>

					<li class="ui-state-default sortable submit_answer" id='3'data='banana'>
						<img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ants_width"/></li>

					<li class="ui-state-default sortable submit_answer" id='4'data='wm'>
						<img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ants_width"/></li>

					<li class="ui-state-default sortable submit_answer" id='1'data='bread'>
						<img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ants_width"/></li>
				</ul>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 right_wrong">
				<img src="images/correct.png" id="correct_icon" class="img-responsive"> <img
					src="images/wrong.png" id="incorrect_icon" class="img-responsive">
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 button_check">
				<div class="button">
					<button class="check" id="submit" onclick="submit()"></button>
				</div>
			</div>

		</div>

	</div>
</div>
</div>
</script>



<script type="text/x-handlebars-template" id="intro02-template">

    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        </div>
        <div class="smallant1" id="bread">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.png" class="ant_pic" id="wrong1">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.png" class="ant_pic2" id="wrong2">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.png" class="ant_pic3" id="wrong3">
      </div>

      <div class="mediumants2" id="strawberry">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.png" class="ant_pic4" id="wrong4">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.png" class="ant_pic5" id="five">
      </div>

      <div class="largeants3" id="banana">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.png" class="ant_pic6" id="wrong5">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.png" class="ant_pic7" id="wrong6">
      </div>

      <div class="extraants4" id="watermelon">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.png" class=" ant_pic8" id="wrong7">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.png" class="ant_pic9" id="wrong8">
      </div>

      <img src="images/correct.png" id="correct_ant">
      <img src="images/wrong.png" id="incorrect_ant">


</script>


<script type="text/x-handlebars-template" id="intro03-template">

    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
    </div>
</script>


<script type="text/x-handlebars-template" id="intro04-template">

    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
    </div>

     <div class="wave1">
    </div>

    <div class="wave2">
    </div>

    <div class="wave3">
    </div>
    <img src="activity/grade8/math/math_mean_median_mode/image/pirate-ship.png" class="pirate">

    <div class="smallantmode" id="bread">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic2">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic3">
      </div>

      <div class="mediumantsmode" id="strawberry">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic4">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic5">
      </div>

      <div class="largeantsmode" id="banana">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic6">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic7">
      </div>

      <div class="extraantsmode" id="watermelon">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic8">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic9">
      </div>

</script>
<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2_volume.js");

</script>
