<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page2_1volume.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<!--<script type="text/x-handlebars-template" id="intro-template">
    
    <div class="wrapperIntro {{justClass}}">    
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
      <img src="activity/grade8/math/math_mean_median_mode/image/tomato.gif" class="dance">
      <img src="activity/grade8/math/math_mean_median_mode/image/food2.gif" class="food">

      <div class="smallant" id="bread">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic2">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic3">
      </div>

      <div class="mediumants" id="strawberry">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic4">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic5">
      </div>
      
      <div class="largeants" id="banana">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic6">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic7">
      </div>
      
      <div class="extraants" id="watermelon">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic8">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic9">
      </div>
 
    </div>      
   
</script>-->

<script type="text/x-handlebars-template" id="intro02-template">
    
    <div class="wrapperIntro {{justClass}}">    
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}} 
        </div>

       

        <div class="smallant1" id="bread">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.png" class="ant_pic" id="wrong1">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.png" class="ant_pic2" id="wrong2">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.png" class="ant_pic3" id="wrong3">
      </div>

      <div class="mediumants2" id="strawberry">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.png" class="ant_pic4" id="wrong4">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.png" class="ant_pic5" id="five">
      </div>
      
      <div class="largeants3" id="banana">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.png" class="ant_pic6" id="wrong5">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.png" class="ant_pic7" id="wrong6">
      </div>
      
      <div class="extraants4" id="watermelon">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.png" class=" ant_pic8" id="wrong7">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.png" class="ant_pic9" id="wrong8">
      </div>
   
</script>


<script type="text/x-handlebars-template" id="intro03-template">
    
    <div class="wrapperIntro {{justClass}}">    
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}} 
    </div>
</script>


<script type="text/x-handlebars-template" id="intro-template">
    
    <div class="wrapperIntro {{justClass}}">    
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}} 
    </div>



    <div class="wave1"> 
    </div>

    <div class="wave2"> 
    </div>

    <div class="wave3"> 
    </div>
    <img src="activity/grade8/math/math_mean_median_mode/image/pirate-ship.png" class="pirate">

    <div class="smallantmode" id="bread">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic2">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-bread.gif" class="ant_pic3">
      </div>

      <div class="mediumantsmode" id="strawberry">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic4">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-strawberry.gif" class="ant_pic5">
      </div>
      
      <div class="largeantsmode" id="banana">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic6">
          <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-banana.gif" class="ant_pic7">
      </div>
      
      <div class="extraantsmode" id="watermelon">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic8">
         <img src="activity/grade8/math/math_mean_median_mode/image/ant-with-wm.gif" class="ant_pic9">
      </div>
	    <img src="images/correct.png" id="correct_ant"> 
        <img src="images/wrong.png" id="incorrect_ant"> 

</script>
<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2_1volume.js");
    
</script>