.lets-look{
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	animation: lets-look 0.5s ease-in both;
	-webkit-animation: lets-look 0.5s ease-in both;
	animation-delay: 8.5s;
}

@-webkit-keyframes
lets-look {
	0% {bottom: -10%;}
	90% {bottom: 14%;}
}
@keyframes
lets-look {
	0% {bottom: -10%;}
	90% {bottom: 14%;}
}
.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.center-image-large{
	position: absolute;
	top: 25%;
	width: 50%;
	left: 25%;
	border-radius: 2vmin;
}
.lesson-title {

    font-size: 7vmin;
    transform: translate(-50%,-50%);
    z-index: 10;
    font-family: sniglet;
    top: 24%;
    position: absolute;
    left: 74%;
    width: 60%;

}
.green_bg{
	background: #8ab9c3;
}
.textblock{
	width: 100%;
	height: 100%;
}
.blackboard {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 1%;
	border: 3vmin solid #BF9353;
	background-color: #000000;
	background: radial-gradient(#40B78F, #146E65);
	border-color: #784321;
	color: white;
}
.blackboard::before {
	position: absolute;
	content: '';
	width: 8%;
	height: 3%;
	bottom: 0%;
	right: 3.5%;
	background-color: #ffffff;
	border-radius: 0 0 0.5vmin 0.5vmin;
}
.blackboard::after {
	position: absolute;
	content: '';
	width: 9%;
	height: 3%;
	bottom: 3%;
	right: 3%;
	background-color: #B7B7B7;
	border-radius: 0.3vmin;
}


.rules-title{
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 2%;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.rules-list{
	position: absolute;
	top: 5%;
	padding: 2%;
	left: 4%;
	width: 55%;
	height: 78%;
	text-align: left;
}

.rules-list li{
	position: relative;
	margin: 0.5% 0%;
}
.rule-image{
	position: absolute;
	right: 3%;
	width: 40%;
	bottom: 10%;
}
.clothes-image{
	width: 60%;
}
.garbage-image{
	width: 50%;
}
.my_font_medium{
	font-size: 2vw;
}
@media (min-aspect-ratio: 4/3){
	.my_font_medium{
		font-size: 3.15vmin !important;
	}
}
