.header-text-2{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 15%;
	background-color: #FFD966;
	border: 0.5vmin solid #6AA84F;
}
.header-text-2>p{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}
.center-text-2{
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	transform: translateY(-50%);
	background-color: #AD67FF;
	color: white;
	padding: 2%;
}
.question-text{
	position: absolute;
	bottom: 70%;
	width: 100%;
	text-align: center;
	color: #E7517A;
}
.option{
	cursor: pointer;
	position: absolute;
	top: 35%;
	width: 25%;
	height: 30%;
	padding: 4% 1%;
	text-align: center;
	background-color: #B7E9B0;
	border: 1vmin solid #D9D9D9;
	border-radius: 3vmin;
}
.option>p{
	position: absolute;
	top: 50%;
	left: 2%;
	width: 96%;
	transform: translateY(-50%);
}
.option-l0{
	width: 35%;
}
.option:not(.selected-option):hover{
	background-color: #FCD172;
}
.opt-1{
	right: 53%;
}
.opt-2{
	left: 53%;
}
.selected-option{
	background-color: #6EB260;
	border-color: #FCD172;
}

.feedback{
	display: none;
	position: absolute;
	bottom: 0%;
	left: 100%;
	width: 100%;
	padding: 2%;
	background-color: #BAEEF4;
	animation: slide-in 0.5s both;
	-webkit-animation: slide-in 0.5s both;
}

@-webkit-keyframes
slide-in {
	100% {left: 0%;}
}
@keyframes
slide-in {
	100% {left: 0%;}
}
.listblock{
	display: none;
	position: absolute;
	padding: 2%;
	top: 4%;
	width: 40%;	
	height: 92%;
	background-color: #EEEEEE;
	text-align: left;
	border-radius: 5vmin;
	border: 0.2vmin solid #D9D9D9;
	overflow: auto;
}
.listblock>p{
	position: relative;
	text-align: center;
	color: #E86689;
	margin-bottom: 5%;
}
.negative-list{
	right: 2%;
}
.positive-list{
	left: 2%;
}
.listblock li{
	display: none;
	margin: 4% 3%;
	font-size: 2vw;
}
@media (min-aspect-ratio: 4/3){
	.listblock li{
		font-size: 2.6vmin;
	}
}
.squirrel{
	position: absolute;
	bottom: 0%;
	width: 25%;
	left: 37.5%;
	z-index: 10;
}

.slide-down{
	animation: slide-down 0.5s ease-in both;
	-webkit-animation: slide-down 0.5s ease-in both;
}

@-webkit-keyframes
slide-down {
	0% {top: -100%;}
	90% {top: 8%;}
}
@keyframes
slide-down {
	0% {top: -100%;}
	90% {top: 8%;}
}
}



