.readingmap_page2 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.readingmap_page2, .readingmap_page2 *
{
	position: relative;
	margin: 0;
	padding: 0;
} 

.board{	
	position: relative;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

 .nextBtn
{
	bottom: 1%;
	right: 0%;
	position: absolute;
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
} 

.prevBtn
{
	bottom: 1%;
	left: 0%;
	position: absolute;	
	display: none;
	cursor: pointer;
	width: 7%;
	height: 10%;
}

.coverBoardFull{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left: 0%;
}

.vertical-horizontal-center{
	position: relative;	
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
 	-moz-transform: translate(-50%, -50%);
 	-webkit-transform: translate(-50%, -50%);
 	text-align: center;
}

div.board > div.slide1{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}

/**
* background image container
*/
div.backgroundImagesContainer{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div.backgroundImagesContainer > img{
	position: absolute;
	top:0;
	left: 0;
 	width: 100%;
 	height: 100%;

 	-webkit-animation: fadein 2s 1 forwards; /* Chrome, Safari, Opera */
    animation: fadein 2s 1 forwards;
 }


/**
* head image container
*/
div.talkHeads{
	position: absolute;
	top:0;
	right: 0;
	width: 18%;
		display: none;
	/*border: 1px solid red;*/
}

div.talkHeads > img{
	position: relative;
	display: inline;
	top: 0;
	right: 0;
	width:40%;
	opacity:0.3;
	/*border: 1px solid red;*/
}

div.talkHeads > img[data-highlight^=highlight]{
	opacity:1;
}

/**
* head image container
*/

div.dialogcontainer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 2% 10%;
	text-align: left;
	color:white;
	background-color: rgba(0,0,0,0.3);
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p{
	position: relative;	
	text-align: left;
	color:white;
	font-size: 1.3em;
	font-weight: bold;
	/*border: 1px solid red;*/
}

div.dialogcontainer > p > img.listenAgainButton{
	position: relative;	
	width: 7%;
	/*display: none;*/
}

div.dialogcontainer > p > img.disableListenAgain{
	opacity: 0.7;
	background-color: grey;
	border-radius: 5px;
	pointer-events:none;
}

div.dialogcontainer > p > img.enableListenAgain{
	opacity: 1;
	background-color: yellow;
	border-radius: 5px;
	cursor:pointer;
	pointer-events:default;
}

div.dialogcontainer > p > span:nth-of-type(n+2){
	position: relative;
	display: none;
}

.dict
{
    position: absolute;
    top: 72.5%;
    right: 0%;
    background: #FDB01B; 
}

.dict:hover
{
	cursor: pointer;
	background: #FF595B;

}
.dictionary
{
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.information_box
{
	display: none;
	position: absolute;
    width: 100%;
    height: 78.5%;
    background:rgba(0,0,0,0.7);
    top: 0;
  
}

.close_info_box
{
	position: absolute;
    width: 6%;
    left: 1%;
    top: 3%;
    opacity: 0.7;
    z-index: 99;
}

.close_info_box:hover
{
	opacity: 1;
	cursor: pointer;

}

.wordmeaning
{
    background: #FDB01B;
}

.wordmeaning:hover
{
   	cursor: pointer;
	background: #FF595B;
}

.words
{
	width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
}

.images_words
{
	width: 50%;
    height: 59%;
    position: absolute;
    right: 0;
}

.words_meanings
{
	width: 50%;
    background: #FF595B;
    height: 41%;
    position: absolute;
    right: 0;
    top: 59%;
}

.click_words
{
	color: #ffffff;
    padding-top: 2%;
    padding-left: 18%;
    font-size: 1.3em;
    font-weight: bold;
}
.mainul
{
	position: absolute;
    top: 24%;
    left: 18%;
}

.firstlist
{
	color: #ffffff;
    font-size: 1.3em;
}

.firstlist:hover
{
	background: #FDB01B;
	cursor: pointer;
}
.imgone
{
	display: none;
	width: 100%;
}
.meaningone
{
	display: none;
	color: #ffffff;
    font-size: 1.8em;
    padding-left: 11%;
    padding-top: 0;
}