/*keep this same for all*/
/*the main div container parallel to and above mainBox div*/
#h1ex1
{
	position: relative;
	width:100%;
	height:100%;

	top:0%;
	left:0%;	

	/*background-color: #37C2DA;*/

	overflow: hidden;
	
	/*change only this*/
	background-image: url("../../bg.png");
}

/*for all elements make sure that it does not inherit margin and padding*/
#h1ex1 *{
	margin:0;
	padding:0;	
}
/*------------------------------------------------------------------------------------------*/

/*for css animation from animate css*/
/*
 #okay{
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
   animation-duration: 2s;
} 
*/
/*rotate right*/
	.rotateRight
	{
	  animation-duration: 5s;
	  animation-name: RotateR;
	  animation-timing-function: linear;
	  animation-iteration-count: infinite;

	  -webkit-animation-duration: 5s;
	  -webkit-animation-name: RotateR;
	  -webkit-animation-timing-function: linear;
	  -webkit-animation-iteration-count: infinite;
	}

	 @keyframes RotateR{
	  0% {
	      transform: rotate(0deg) ;
	    -webkit-transform: rotate(0deg) ;
	    -moz-transform: rotate(0deg) ;
	    -o-transform: rotate(0deg) ;
	    -ms-transform: rotate(0deg) ;
	  }

	  100% {
	        transform: rotate(360deg) ;
	    -webkit-transform: rotate(360deg) ;
	    -moz-transform: rotate(360deg) ;
	    -o-transform: rotate(360deg) ;
	    -ms-transform: rotate(360deg) ;
	     }
	 }

	 @-webkit-keyframes RotateR{
	  0%{
	      transform: rotate(0deg) ;
	    -webkit-transform: rotate(0deg) ;
	    -moz-transform: rotate(0deg) ;
	    -o-transform: rotate(0deg) ;
	    -ms-transform: rotate(0deg) ;
	  }


	  100%{
	       transform: rotate(360deg) ;
	    -webkit-transform: rotate(360deg) ;
	    -moz-transform: rotate(360deg) ;
	    -o-transform: rotate(360deg) ;
	    -ms-transform: rotate(360deg) ;
	  }
	 }

/*****************************************************************************************************/

/*main question*/
#mainQn{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;	
	text-align:center;
	padding:2% 1% 1% 1%;
	font-size: 1.4em;
	color: white;
	text-shadow:0em 0.1em 0.3em rgba(255, 255,255,0.5);
	background-color:#00C176;
	border-radius: 2%;
	box-shadow: 0.1em 0.2em 0.1em #888888;
}

/*board div*/
#board {
	position: absolute;
	top:20%;
	left:0%;
	width:100%;
	height:80%;
	text-align: center;
	/*border: 1px solid red;*/
}

#userAns{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	text-align: center;
	/*border: 1px solid blue;*/
}

#userImage{
	position: absolute;
	top:0%;
	left:28%;
	width:44%;
	height:82%;
}

#userAns > div{
	/*display: none;*/
	position:absolute;
	min-height:10%;
	min-width: 10%;
	padding:0.5% 2%;
	background:white;
	font-size: 1.5em;
	text-align: center;
	color:grey;
	border:0.11em solid black;
	border-radius: 5px;
	box-shadow: 0em 0.1em 0.1em #888888;
}


#dropVacuum{
	top:0%;
	left:70%;
}

#dropAlcohol{
	top:20%;
	right:71%;
}

#dropIndicator{
	top:28%;
	left:70%;
}

#dropMax{
	top:37%;
	left:70%;
}

#dropMin{
	top:50%;
	right:71%;
}

#dropMercury{
	top:73%;
	left:70%;
}

#draggable{
	position: absolute;
	bottom:0%;
	left:0%;
	width:100%;
	height:10%;
	/*border:1px solid red;*/

	/*use of css flex here - promising eh!*/
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
	
}

#draggable > p{
	font-size: 1.8em;
	cursor: move;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	-webkit-transition: text-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: text-shadow 0.5s;
}

#draggable > p:hover{
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}


#dragVacuum{
	color: #FF1177;
}

#dragAlcohol{
	color: #228DFF;
}

#dragIndicator{
	color: #BA01FF;
}

#dragMax{
	color: #E69900;
}

#dragMin{
	color: blue;
}

#dragMercury{
	color: darkgreen;
}


/*okay*/
#okay {
	cursor: pointer;
	position: absolute;
	/*height: 10%;*/
	color: darkgreen;
	font-size: 3em;
	z-index: 100;
	right: 7%;
	/*bottom: 1%;*/
	top: 85%;	
	display: none;
	/*-text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
	*/
	width: 6%;
}
#okay:hover #arrowNextHoverBtn
{
	display: block;
}

#okay:hover #arrowNextBtn
{
	display: none;
}
/*
#okay:hover {
	color: #253600;
}
*/
/*next question*/
#replay {
	display: none;
	position: absolute;
	right: 15%;
	top: 85%;	
	width: 5%;
	height: 8%;
}

#result{
	display: none;
	position: absolute;
	top:90%;
	width: 100%;
	text-align: center;
	font-size: 1.8em;
	color:black;
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

