<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/page11.css");
	
	function hidenext() {
	
	$(".nextBtn").hide();
		
	}
	
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="metalnonmetal_activity">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}
    
    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
   
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each uppertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each imageblock}}
                        {{> imagecontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                {{#if contentblocknocenteradjust}}
                    <div class="vertical-horizontal-center">
                {{/if}}
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
                {{#if contentblocknocenteradjust}}
                    </div>
                {{/if}}
            </div>
            {{/if}}
            {{#if selectfromlistblock}}
            <div class="selectfromlistblock {{selectfromlistblockadditionalclass}}">
                {{#each selectfromlistblock}}
                        {{>  selectfromlistcontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}

    {{! instruction block start--}}
        {{#if instructionblock}}
            <div class="instructionblock {{instructionblockadditionalclass}}" data-instructionblockshow="true">
                {{#each instructionblock}}
                    {{> instructioncontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! instruction block end--}}
    </div>
</script>


<!--script block-->

<script id="scriptfunc" type="text/x-handlebars-template">
    {{#if scriptblock}}
		{{#each scriptblock}}
			{{{scriptfunc}}}
		{{/each}}
    {{/if}}
</script>

<!--script block end-->


<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="instructioncontent-partial" type="text/x-handlebars-template">
    <div class="instructionsets">
        <ol class="vertical-horizontal-center"> 
            {{#each instruction}}
            <li class="text-primary" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{this}}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="toggleinstructionblock">
        <span class="glyphicon glyphicon-chevron-down"></span>
         <div class="glossy"></div>
    </div>
</script>

<script id="selectfromlistcontent-partial" type="text/x-handlebars-template">
    <div class="selectboxcontainer">
        <span class="text-info selectboxlabelstyle">{{selectboxlabel}} : </span>
        <span data-isclicked="" data-usernotification="updatenotification">
        <select class="selectbox">
            {{#each selectboxlist}}
                <option value="{{this.selectvalue}}">{{this.selectdata}}</option>
            {{/each}}
        </select>
        </span>
    </div>
    <div class="selecteditemcontainer">
        <img class="selecteditemimage" src="{{selecteditemimgsrc}}">
        <div class="selectediteminfo">
            <ul>
            {{#each iteminfolist}}
                <li><p>{{itemlabel}}:{{{spacecharacter}}}</p><b class="selecteditemvalue" data-itemlabeltype="{{itemlabeltype}}">{{itemvalue}}</b></li>
            {{/each}}
            </ul>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page11.js");
</script>