<!--
    Title : General Template for Epaath Activity
 -->
<script type="text/javascript">
    $cssLoader("css/page2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="metalnonmetal">    
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="svg-template" type="text/x-handlebars-template">
    <div class="{{typeoflayout}}">  
        {{#if headerblockwithimg}}
            <div class="headerblockwithimg">
                {{#each headerblockwithimg}}
                    {{>textcontent}}
                    {{>imagecontent}}
                {{/each}}
            </div>
        {{/if}}  
        {{#if uppertextblock}}
            <div class="textblock">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}

        {{#if usernotificationblock}}
            <div class="textblock" data-usernotification='notifyuser'>
                {{#each usernotificationblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if middletextblock}}
            <div class="textblock">
                {{#each middletextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if propertyblock}}
            <div class="propertyblock">
                {{#each propertyblock}}
                    {{> propertycontent}}
                {{/each}}
            </div>
            {{/if}}
        {{#if svgblock}}
            <div class="svgwrapper">                 
                {{#each svgblock}}                           
                    {{> svgcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imageblock}}
            <div class="imageblock">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imagetextblock}}
            <div class="textblock2">
                {{#each imagetextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if imageblockwidclick}}
            <div class="imageblockwidclick">
                {{#each imageblockwidclick}}
                    {{> imageclickcontent}}
                {{/each}}
            </div>
        {{/if}}
        {{#if lowertextblock}}
            <div class="textblock">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
    </div>
</script>




<script id="general-template" type="text/x-handlebars-template">    
    {{! update templatecontains data for if it has header, footer, headerfooter
        or only has content --}}
    {{#if hasonlyheaderblock}}
            <div class="generaltemplateblock" data-templatecontains="hasonlyheaderblock">
        {{else}}
            {{#if hasonlyfooterblock}}
                <div class="generaltemplateblock" data-templatecontains="hasonlyfooterblock">
            {{else}}
                {{#if hasheaderfooterblock}}
                    <div class="generaltemplateblock" data-templatecontains="hasheaderfooterblock">
                {{else}}
                    <div class="generaltemplateblock" data-templatecontains="hasonlycontent">
                {{/if}}
            {{/if}}
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentnocenteradjust}}
            <div class="coverboardfull">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
             
            {{#if imageblock}}
            <div class="imageblock {{imageblockadditionalclass}}">
                {{#each imageblock}}
                    {{> imagecontent}}
                {{/each}}
            </div>
            {{/if}}
            
             {{#if middletextblock}}
                {{#each middletextblock}}
                    {{> textcontent}}
                {{/each}}
            {{/if}}
            {{#if svgblock}}
            <div class="svgwrapper">                 
                {{#each svgblock}}                           
                    {{> svgcontent}}
                {{/each}}
            </div>
            {{/if}}
              {{#if textlistblock}}
            <div class="textlistblock">
                {{#each textlistblock}}
                    {{> textlistcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if lowertextblock}}
            <div class="lowertextblock {{lowertextblockadditionalclass}}">
                {{#each lowertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if usageslowrevealblock}}
                <div class="usageslowrevealblock">
                    {{#each usageslowrevealblock}}
                        {{> usageslowrevealcontent}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if timetothink}}
                {{#each timetothink}}
                    {{> timetothinkcontent}}
                {{/each}}
            {{/if}}
            
            {{#if usageblock}}
            <div class="usageblock">
                {{#each usageblock}}
                    {{> usagecontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if propertyblock}}
            <div class="propertyblock">
                {{#each propertyblock}}
                    {{> propertycontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#if propertysummaryblock}}
            <div class="propertysummaryblock">
                {{#each propertysummaryblock}}
                    {{> propertysummarycontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}

    {{! footer block start--}}
        {{#if footerblock}}
            <div class="footerblock">
                {{#each footerblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
        {{/if}}
    {{! footer block end--}}
    </div>
</script>

<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
    <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="cardcontent-partial" type="text/x-handlebars-template">
    <div class="card_block{{@index}}" data-hasimage="{{cardblockhasimageflag}}">
        <div class="content_wrapper_card_block">
            {{#if cardtitle}}
                {{#each cardtitle}}
                    <p class="card_title">{{{this}}}</p>
                {{/each}}
            {{/if}}
            <div class="card_content">
                {{#each cardcontenttext}}
                    <p class="card_content_text" data-highlight="{{datahighlightflag}}">{{{cardcontenttextdata}}}</p>
                {{/each}}
            </div>
        </div>
        {{#if cardimage}}
            {{#each cardimage}}
                <img class="card_content_image" src="{{this}}"/>
            {{/each}}
        {{/if}}
    </div>
</script>

<script id="usageslowrevealcontent-partial" type="text/x-handlebars-template">
    <p class="usageheading">{{usageheadingdata}}</p>
    {{#each cardcontentblock}}
        {{> cardcontent}}
    {{/each}}
    <div class="nextusageBtn myNextStyle"></div>
</script>

<script id="timetothinkcontent-partial" type="text/x-handlebars-template">
    <div class="timeToThink">
        <figure>
            <img src="{{timeToThinkImageSource}}">
            <figcaption>{{timeToThinkTextData}}</figcaption>
        </figure>
        <p class="paratextstyle">{{{timeToThinkInstructionData}}}</p>
    </div>
</script>

<script id="svgcontent-partial" type="text/x-handlebars-template">
     <div class="{{svgname}}">{{!-- load actual svg image here --}}</div>
     {{!-- load snap svg --}}
     <script src="js/snap.svg/snap.svg-min.js" type="text/javascript"><{{!}}/script>
</script>

<script id="textlistcontent-partial" type="text/x-handlebars-template">
    <ul class="{{olclassname}}"> 
        {{#each listtype}}
            <li>{{listtypedata}}</li> 
            {{#if listsubtype}}
                <ul>
                {{#each listsubtype}}
                    <li>{{listsubtypedata}}</li>
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ul>
</script>

<script id="usagecontent-partial" type="text/x-handlebars-template">
    <b class="usageheading">{{usageheadingdata}}</b>
    <p class="usagetext">{{usagetextdata}}</p>
    <div class="explainusage">
        {{#if explainusageimagecontent}}
            <div class="explainusageimagecontainer">
                {{#each explainusageimagecontent}}
                    <img src="{{explainusageimgsrc}}">
                {{/each}}
            </div>
        {{/if}}
        {{#if explainusagetextcontent}}
            {{#each explainusagetextcontent}}
            <blockquote class="explainusagetext" data-highlight="{{texthighlightflag}}">{{{explainusagetextdata}}}</blockquote>
            {{/each}}
        {{/if}}
    </div>
</script>

<script id="propertycontent-partial" type="text/x-handlebars-template">
    <div class="propertylistcontainer">
        <h4>{{propertycontainerheadingdata}}</h4>
        {{#if propertycontainerlist}}
            {{#each propertycontainerlist}}
                <p><span>{{propertylistcount}}</span><small>{{propertylistdata}}</small> </p>
            {{/each}}
        {{/if}}
    </div>
    <div class="explainpropertycontainer">
        <div class="mainproperty"><span>{{mainpropertycount}}</span><p>{{mainpropertytext}}</p>
        </div>
        <div class="propertyexplain">
            <img src="{{propertyexplainimgsrc}}">
            <p>{{propertyexplaindata}}</p>
        </div>
    </div>
</script>

<script id="propertysummarycontent-partial" type="text/x-handlebars-template">
    <ul>
        <div>{{propertysummaryheadingdata}}</div>
        {{#each propertysummarylist}}
        <li><span>{{propertysummarylistcount}}</span> <p>{{propertysummarylistdata}}</p> </li>
        {{/each}}
    </ul>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>