.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
}
.board:lang(en){
    font-family: amaranth;
}

.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: relative;
}



/*============ exercise template ===================
==================================================== */


.question_img {
    color: #674EA7;
    position: relative;
    top: 18%;
    font-size: 3.5vmin;
}

.optionsdiv_img {
    top: 20%;
    left: 48%;
    width: 50%;
    position: relative;
    height: 44%;
    display: flex;
    flex-wrap: wrap;
}

.optionscontainer {
    display: inline;
    position: relative;
    height: 100%;
}

.optionscontainer_img {
    text-align: center;
    flex-basis: 46%;
    height: 75%;
}

.imagestartpos_img {
    width: 9%;
    margin-left: 35%;
    margin-top: 0%;
    position: absolute;
    left: 38%;
    visibility: hidden;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 550%;
    visibility: hidden;
}

.optionsdiv p, .optionsdiv_img p {
    background: #8E7BC3;
    border-radius: 15px;
    color: white;
    border: 5px solid #ADAEDB;
    width: 70% !important;
    height: 83%;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover{
	background: #F1C131;
	color: #F66E20;
	border: 5px solid #FFD966;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}

.wrongans{
	background: #EA9999;
	color: #F66E20;
}

.rightans{
	background: #6AA84F;
}

.scoreboard {
    width: 100%;
    height: 11%;
    position: absolute;
    text-align: right;
    margin-top: 2%;
    border-bottom: 3px solid #8E7BC3;
    padding: 1%;
}

.exefin {
    width: 100%;
    height: 20%;
    position: absolute;
    padding-bottom: 1%;
    top: 25%;
    animation: fade-in 1s linear forwards;
    text-align: center;
}

.exefin .eggs{
    height: 78%
}

@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}

.eggs {
    height: 100%;
}

.eggmove{
	transform-origin: 50% 100%;
	animation: eggm 1s linear alternate 0s infinite;
}

@keyframes eggm{
	from{transform: rotate(10deg);}
	to{transform: rotate(-10deg);}
}

.questionimg {
    position: absolute;
    top: 32%;
    height: 51%;
    left: 9%;
}

.circleimg{
    background-image: url(../images/11.jpg) !important;
}

.backgroundtrue {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding: 6% 10% !important;
    margin: 3% !important;
}

/*options for question 1 */
.q1background1{
    background-image: url(../images/fish.png) !important;
}

.q1background2{
    background-image: url(../images/leopard.png) !important;
}

.q1background3{
    background-image: url(../images/elephant.png) !important;
}

.q1background4{
    background-image: url(../images/bee.png) !important;
}


/*options for question 2 */
.q2background1{
    background-image: url(../images/man.png) !important;
}

.q2background2{
    background-image: url(../images/frog.png) !important;
}

.q2background3{
    background-image: url(../images/horse.png) !important;
}

.q2background4{
    background-image: url(../images/rabit.png) !important;
}


/*options for question 3 */
.q3background1{
    background-image: url(../images/croc.png) !important;
}

.q3background2{
    background-image: url(../images/ship.png) !important;
}

.q3background3{
    background-image: url(../images/lion.png) !important;
}

.q3background4{
    background-image: url(../images/pic.png) !important;
}


/*options for question 4 */
.q4background1{
    background-image: url(../images/rabit.png) !important;
}

.q4background2{
    background-image: url(../images/buffalo.png) !important;
}

.q4background3{
    background-image: url(../images/cow.png) !important;
}

.q4background4{
    background-image: url(../images/fish.png) !important;
}


/*options for question 5 */
.q5background1{
    background-image: url(../images/horse.png) !important;
}

.q5background2{
    background-image: url(../images/eagle.png) !important;
}

.q5background3{
    background-image: url(../images/snake.png) !important;
}

.q5background4{
    background-image: url(../images/rabit.png) !important;
}


/*options for question 6 */
.q6background1{
    background-image: url(../images/tiger.png) !important;
}

.q6background2{
    background-image: url(../images/cow.png) !important;
}

.q6background3{
    background-image: url(../images/duck.png) !important;
}

.q6background4{
    background-image: url(../images/ship.png) !important;
}


/*options for question 7 */
.q7background1{
    background-image: url(../images/cow.png) !important;
}

.q7background2{
    background-image: url(../images/croc.png) !important;
}

.q7background3{
    background-image: url(../images/frog.png) !important;
}

.q7background4{
    background-image: url(../images/lion.png) !important;
}


/*options for question 8 */
.q8background1{
    background-image: url(../images/crow.png) !important;
}

.q8background2{
    background-image: url(../images/goat.png) !important;
}

.q8background3{
    background-image: url(../images/cow.png) !important;
}

.q8background4{
    background-image: url(../images/fish.png) !important;
}


/*options for question 9 */
.q9background1{
    background-image: url(../images/goat.png) !important;
}

.q9background2{
    background-image: url(../images/snake.png) !important;
}

.q9background3{
    background-image: url(../images/leopard.png) !important;
}

.q9background4{
    background-image: url(../images/eagle.png) !important;
}


/*options for question 10 */
.q10background1{
    background-image: url(../images/bee.png) !important;
}

.q10background2{
    background-image: url(../images/crow.png) !important;
}

.q10background3{
    background-image: url(../images/elephant.png) !important;
}

.q10background4{
    background-image: url(../images/pic.png) !important;
}

.questiontext {
    top: 90%;
    left: 24%;
    color: #9041CD;
    font-size: 4vmin;
    position: absolute;
    transform: translate(-50%,-50%);
}

.ani_caption {
    margin-right: 8%;
    color: #9041CD;
}
