<!--
Title : General Template
-->
<script type="text/javascript">
$cssLoader("../../../../css/gradient.css");
	$cssLoader("css/common.css");
	$cssLoader("css/page1,2,3,4.css");
	$cssLoader("../../../../css/commonpage/lessontemplate.css");

	$cssLoader("../../../../css/ashish_fonts.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
	<div id="loading-wrapper">
		<div id="loading-text">
			LOADING
		</div>
		<div id="loading-content"></div>
	</div>
	<div class="board"></div>
	<div class="nextBtn myNextStyle"></div>
	<div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	or only has content --}}
	{{#if hasheaderblock}}
		<div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	{{else}}
		<div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

		{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
				{{#each headerblock}}
					{{> textcontent}}
				{{/each}}
			</div>
		{{/if}}
		{{! header block end--}}
		{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
		{{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
			<div class="coverboardfull {{coverboardadditionalclass}}">
				{{#if uppertextblock}}
					<div class="textblock {{uppertextblockadditionalclass}}">
						{{#each uppertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each imageblock}}
					{{> imagecontent}}
				{{/each}}
				{{#if lowertextblock}}
					<div class="textblock {{lowertextblockadditionalclass}}">
						{{#each lowertextblock}}
							{{> textcontent}}
						{{/each}}
					</div>
				{{/if}}
				{{#each extratextblock}}
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
				{{/each}}
				{{#each speechbox}}
					<div class="speechbox {{speechbox}}">
						<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
						<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						{{#if audioicon}}
							<img class="audioicon {{audioclass}}" src="images/speaker.png">
						{{/if}}
					</div>
				{{/each}}
				{{#if formblock1}}
					<div class="formblock">
					<form id="theform">
						<span>3 + </span>
						<input type="text" name="firstname" class="inbox" maxlength="1">
						<span>= 10</span>
						 <submit class="submit_button enabled">{{{submit}}}</submit>
						</form>
					</div>
				{{/if}}
				{{#if formblock2}}
					<div class="formblock">
					<form id="theform">
						<input type="text" name="firstname" class="inbox" maxlength="1">
						<span> + 4 = 13</span>
						 <submit class="submit_button enabled">{{submit}}</submit>
						</form>
					</div>
				{{/if}}
				{{#each flexblockcontainers}}
						<div class="flexcontainerblock {{flexblockadditionalclass}}">
										{{#each flexblock}}
											{{!flex column start--}}
												<div class="{{flexboxcolumnclass}}">
								{{!flex row start--}}
														{{#each flexblockcolumn}}
															<div class="{{flexboxrowclass}}">
											{{>textcontent}}
															</div>
														{{/each}}
													{{!flex row end--}}
												</div>
											{{!flex column end--}}
										{{/each}}
										<div id="frogcontainer">
											<img id="gattifrog" src="">
											{{#each speechbox}}
												<div class="speechbox {{speechbox}}">
													<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
													<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
													{{#if audioicon}}
														<img class="audioicon {{audioclass}}" src="images/speaker.png">
													{{/if}}
												</div>
											{{/each}}

									</div>
						</div>
			 {{/each}}
			</div>
		</div>
		{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
	<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
	{{#each imagestoshow}}
		<img name="{{imgname}}" class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#if imagelabels}}
		{{#each imagelabels}}
			<label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
		{{/each}}
	{{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
	<img src="{{definitionImageSource}}">
		<figcaption>{{definitionTextData}}</figcaption>
	<p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript">
	$jsLoader("js/page2.js");
</script>
