body:lang(np), body:lang(np) * {
  font-family: laila !important;
}
.chapterName{
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40%;
  background-color: rgb(255,255,255,0.7);
  color: #3c78d8;
  height: 100%;
  font-size: 12vh;
  padding: 16% 1%;
}

[class*=background], [class*=fullPgImg]{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

[class*=btmTxt]{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
}
[class*=ylwLow]{
  background-color: rgb(229, 230, 142,0.8);
}
[class*=pad1]{
  padding: 1%;
}
[class*=fnt5]{
  font-size: 5vh;
}
.eyeBlinkGirl{
  position: absolute;
  left: 34%;
  top: 7%;
  width: 40%;
}



[class*=zoom1]{
  transform: perspective(400px) translatez(100px);
}

.zoomOutAnim{
  animation: zmOutAnm 2s linear forwards;
}
@keyframes zmOutAnm {
  100%{transform: perspective(400px) translatez(0px);}
}


.scooterZoomIn{
  animation: sctrZm 3s linear forwards;
}
@keyframes sctrZm {
  100%{    transform: scale(1.9,1.9);    left: 42%;    top: -35%;}
}

.sctrZm{
  transform: scale(1.9,1.9);
  left: 42%;
  top: -35%;
}


[class*=sclZmOut]{
  animation: sclZmOut 3s linear forwards;
}

@keyframes sclZmOut{
  100%{    transform: scale(1,1);    left: 0%;    top: 0%;}
}


.zomToBus{
  animation: busZm 3s linear forwards;
}
@keyframes busZm {
  100%{    transform: scale(1.9,1.9);    left: 42%;    top: 30%;}
}
.busZm{
  transform: scale(1.9,1.9);
  left: 42%;
  top: 30%;
}


.zmToCycle{
  animation: cyclZm 3s linear forwards;
}
@keyframes cyclZm {
  100%{transform: scale(1.9,1.9); left: -4%;  top: 11%;}
}
.cyclZm{
  transform: scale(1.9,1.9);
  left: -4%;
  top: 11%;
}

.zmToWalk{
  animation: walkZm 3s linear forwards;
}
@keyframes walkZm {
  100%{transform: scale(1.8,1.8); left: -37%; top: -37%;}
}

.blinkEyeGrl{
  position: absolute;
  width: 42%;
  left: 28%;
  top: 4%;
}

.mum_nodding{
  position: absolute;
  width: 21%;
  left: 2%;
  top: 9%;
}
.grlBlnkSml{
  position: absolute;
  width: 31%;
  left: 35%;
  top: 32%;
}
.teacherGif{
  position: absolute;
  right: -1%;
  width: 43%;
  top: 8%;
}
.glBlnkVrySml{
  position: absolute;
  width: 20%;
  left: 21%;
  top: 43%;
}
.mum_waving_hand{
  position: absolute;
  width: 13%;
  left: 10%;
  top: 14%;
}

.grlCryingWthMom{
  position: absolute;
  width: 46%;
  top: 2%;
  left: 20%;
}

.zmGrlCry{
  transform: scale(1.6,1.6);
  left: 9%;
  top: -25%;
}
.zmGrlCryAnim{
  animation: grlCryAnim 3s linear forwards;
}
@keyframes grlCryAnim {
  100%{transform: scale(1,1); top:0%; left:0%;}
}
.maam_blinking_eye{
  position: absolute;
  width: 27%;
  right: 4%;
  top: 11%;
}
.girl_blinking_eye_with_mum{
  position: absolute;
  width: 30%;
  left: 5%;
  top: 11%;
}

.mamZmIn{
  animation: zmToMam 5s linear forwards;
}
@keyframes zmToMam {
  0%{transform: scale(1,1);}
  100%{transform: scale(2,2);     left: -48%;     top: 27%;}
}
.mamZm{
  transform: scale(2,2);
  left: -48%;
  top: 27%;
}


.mamInGrlOut{
  animation: mamGrl 8s linear forwards;
}
@keyframes mamGrl {
  25%{transform: scale(1,1); left: 0%;    top: 0%;}
  40%{transform: scale(1,1); left: 0%;    top: 0%;}
  100%{transform: scale(2,2); left: 31%;  top: 7%;}
}


.zmImMomTlk{
  transform: scale(2,2);
  left: 41%;
  top: 24%;
}
.girl_blinking_eye{
  position: absolute;
  width: 27%;
  top: 14%;
  left: 27%;
}
.sidetxt{
  position: absolute;
  bottom: 0%;
  right: 0%;
  background: rgb(88, 137, 146,0.8);
  font-size: 6vh;
  width: 41%;
  padding: 4% 1% 4% 1%;
  color: #fff;
  border-top-left-radius: 2em;
}











.hidn{
  display: none;
}

@media (min-aspect-ratio:4/3){
  .chapterName{
    font-size:12vh;
  }
  [class*=fnt5]{
    font-size: 5vh;
  }
}
@media (max-aspect-ratio:4/3){
  .chapterName{
    font-size:9vw;
  }
  [class*=fnt5]{
    font-size: 3.5vw;
  }
}
