<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("exercise/css/exercise2.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="electricity_exercise">
    <div class="board">
        <div class="scoreboard scoreboard_7_8">
            <p class="scoretext"></p>
            <p class="scorecount">
                <span class="userscore">0</span><b>&#8260;</b><span class="outoftotal totalquestiondata"></span>
            </p>
            <p class="totalproblemstext"></p>
            <p class="totalproblemscount totalquestiondata"></p>
            <div class="scoregraph">                                
            </div>
        </div>
        <div class="quizboard"></div>
    </div>
    <div class="nextBtn myNextStyle"></div>
</div>

<!-- quiz template -->
<script id="quiz-template" type="text/x-handlebars-template"> 
<div class="instruction">{{{instext}}}</div>		    
    {{#if hasquiztemplate}}  
	
            <p class="question"><b># {{questioncount}}</b><span>{{{questiontextdata}}}</span></p>
            <div class="options numberofoptions{{numberofoptions}} {{hasdescriptionclass}}">
                {{#each optionsdata}}
                    <p class="opt" data-correct="{{this.isdatacorrect}}" data-isclicked=""><span>{{{this.optionstext}}}</span><img src="{{optionsmarksrcimg}}"></p>
					
				
				{{/each}}
            </div>
			
			<div class="questionimg">
			<img src="{{questionsrcimg}}">
			</div>
			
			
			
			
			
			
            {{#if descriptioncontent}}
                <div class="descriptioncontainer">
                    <div class="descriptioncontent">
                        {{#each descriptioncontent}}
						
                            {{#if imagecontent}}
                                {{#each imagecontent}}
                                    <img class="{{imgclass}}" src="{{imgsrc}}">
									
                                {{/each}}
                            {{/if}}
                            <blockquote>{{descriptioncontenttextdata}}</blockquote>            
                        {{/each}}
                    </div>
                </div>         
            {{/if}}
        {{/if}}
		
		
		
</script>

<!-- congratulation template -->
<script id="congratulation-template" type="text/x-handlebars-template"> 
<div class="congratulationcontainer">
    <p class="congratulationtext congratulationtext_7_8    ">{{{congratulationtextdata}}}</p>
    <img class="congratiulationimage" src="{{congratulationimgsrc}}">
    <p class="congratulationcompletedtext">{{{congratulationcompletedtextdata}}}</p>
    <p class="congratulationyourscoretext">{{{congratulationyourscoretextdata}}}</p>
    <div class="congratulationscoregraph"></div>
    <p class="congratulationreviewtext">{{{congratulationreviewtextdata}}}</p>
</div>
</script>

<!-- summary template -->
<script id="summary-template" type="text/x-handlebars-template"> 
<div class="quizsummary">
    <p class="quizsummarytitle">{{{quizsummarytitledata}}}</p>    
    <table class="summarycontainer table">
        <tr>
            {{#each tableheadingrow}}
                <th>{{{this}}}</th>
            {{/each}}
        </tr>
        {{#each tabledatarow}}
            <tr class="spacer"></tr>
            <tr data-iscorrect="{{this.iscorrectdata}}">
                {{#each tabledata}}
                    <td>{{{this}}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
</div>
</script>


<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/exercise2.js");
</script>