.bg1{
    background-color: #abe5ff;
    background-size: 100% 100%;
}
.question{
    position: absolute;
    width:100%;
    height:15%;
    padding-right: 15%;
    top:0;
    background-color: #fff2cc;
}
.draggable{
    position: absolute;
    width: 11%;
    height: 29%;
    text-align: center;
    background-color: #e452a9;
    border-radius: 25px;
    color: white;
    z-index: 2;

}
.draggable:hover{
    background-color: #d9d9d9;
    color: #d9d9d9;
    border:4px solid #666666 ;
    color: black;
    cursor: -webkit-grab;
    cursor: grab;
}
.droppable{
    position: absolute;
    width: 11%;
    height: 29%;
    text-align: center;
    bottom: 2%;
    background-color: white;
    border-radius: 25px;
    color: white;
    border:4px solid #666666;
}
.hovered{
    border: 0.2em dashed black;
    background: #E5E5E5;
    color: #E5E5E5;
}
.hovered .bottom{
    border-top: 0.1em solid #E5E5E5;
}
.opt1{
    bottom: 50%;
    left: 24%;
}
.opt2{
    bottom: 50%;
    left: 45%;
}
.opt3{
    bottom: 50%;
    left: 66%;
}
.o1{
    left: 20%;
}
.o2{
    left: 45%;
}
.o3{
    left: 68%;
}
.div1{
    position: absolute;
    width: 10%;
    bottom: 20%;
    border: 3px solid;
    height: 15%;
    left: 55%;
    border-radius: 40px;
    background-color: white;
}
.div11{
    position: absolute;
    width: 10%;
    bottom: 41%;
    border: 3px solid;
    height: 15%;
    left: 40%;
    border-radius: 40px;
    background-color: white;
}
.div12{
    position: absolute;
    width: 10%;
    bottom: 41%;
    border: 3px solid;
    height: 15%;
    left: 68%;
    border-radius: 40px;
    background-color: white;
}
.correctwrongimg{
    position: absolute;
    width: 39%;
    left: 31%;
    top: 113%;
}
.correctans{
    background-color: #98c02e;
    border:4px solid #deef3c ;
    color: white;
}
.wrongans{
    background-color:#FF0000;
    border:4px solid;
    border-color: #980000;
}
.submitbtn{
    position: absolute;
    bottom: 10%;
    right: 1%;
    width: 15%;
    border: 4px solid #b45f06;
    height: 10%;
    border-radius: 14px;
    background: #ffcd53;
    cursor: pointer;
}
.borderhide .bottom{
    border:none;
}
.emptydiv{
    position: absolute;
    width: 10%;
    border: 3px solid;
    top: 50%;
    left: 65%;
}
.correctwrongimg1{
    position: absolute;
    width: 39%;
    left: 131%;
    top: 39%;
}
.text1{
    position: absolute;
    width: 10%;
    height: 22%;
    left: 25%;
    top: 17%;
}
.text2{
    position: absolute;
    width: 10%;
    height: 22%;
    left: 45%;
    top: 17%;
}
.text3{
    position: absolute;
    width: 10%;
    height: 22%;
    left: 65%;
    top: 17%;
}
.temptext{
    position: absolute;
    width: 10%;
    height: 25%;
    left: 65%;
    top: 21%;
    border: 2px solid;
    border-radius: 22px;
    background: white;
}
.temptext .top,.temptext .bottom{
    color: white;
}
.plus{
    position: absolute;
    top: 44%;
    left: 38%;
}
.equalto{
    position: absolute;
    top: 44%;
    left: 59%;
}
#circlesvg{
    position: absolute;
    left:5%;
    bottom: 30%;
    width: 18%;
}
#circlesvg1{
    position: absolute;
    left: 32%;
    bottom: 30%;
    width: 18%;
}
#circlesvg2{
    position: absolute;
    left: 65%;
    bottom: 30%;
    width: 18%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #circlesvg1{
        position: absolute;
        left: 32%;
        bottom: 17%;
        width: 18%;
    }
    #circlesvg2{
        position: absolute;
        left: 65%;
        bottom: 17%;
        width: 18%;
    }
    #circlesvg{
        position: absolute;
        left:5%;
        bottom: 17%;
        width: 18%;
    }

}
.downarrow{
    position: absolute;
    width: 7%;
    bottom: 8%;
    left: 56.8%;
}
.downarrow2{
    position: absolute;
    width: 7%;
    bottom: 29%;
    left: 69.3%;
}
.frac1{
    position: absolute;
    bottom: 22%;
    left: 40%;
}
.frac2{
    position: absolute;
    bottom: 22%;
    left: 72%;
}
.f1{
    position: absolute;
    width: 10%;
    height: 39%;
    top: 30%;
    left: 23%;
}
.f2{
    position: absolute;
    width: 10%;
    height: 39%;
    padding-bottom: 25%;
    top: 30%;
    left: 45%;
}
.texttop1{
    position: absolute;
    width: 10%;
    height: 14%;
    right: 25%;
    top: 42%;
}
.texttop2{
    position: absolute;
    width: 10%;
    height: 14%;
    right: 25%;
    top: 59%;
}
.input1{
    position: absolute;
    width: 10%;
    height: 14%;
    right: 25%;
    top: 62%;
}
.input2{
    position: absolute;
    width: 10%;
    height: 14%;
    right: 25%;
    top: 82%;
}
.input3{
    position: absolute;
    width: 10%;
    height: 14%;
    right: 48%;
    top: 62%;
}
.input4{
    position: absolute;
    width: 10%;
    height: 14%;
    right: 46%;
    top: 79%;
    border: none;
    background: transparent;
}
.emptydiv1{
    position: absolute;
    width: 10%;
    height: 10%;
    right: 14%;
    top: 37%;
}
.emptydiv2{
    position: absolute;
    width: 10%;
    height: 10%;
    right: 14%;
    top: 54%;
}
.correctwrongimg2{
    position: absolute;
    width: 39%;
    left: 4%;
    top: 39%;
}
.graph1{
    width: 100%;
    height: 100%;
}
.exfrac1{
    /*position: absolute;*/
    /*bottom: 22%;*/
    /*left: 30%;*/
    position: absolute;
    bottom: 22%;
    left: 17%;
}
.exfrac2{
    position: absolute;
    bottom: 22%;
    left: 50%;
}
.sign1{
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 24%;
    left: 29%;
}
.sign2{
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 24%;
    left: 55%;
}
.f22{
    position: absolute;
    width: 10%;
    height: 39%;
    padding-bottom: 25%;
    top: 30%;
    left: 54%;
}
.f23{
    position: absolute;
    width: 10%;
    height: 39%;
    padding-bottom: 25%;
    top: 30%;
    left:80%;
}

.downarrow1{
    position: absolute;
    width: 7%;
    bottom: 29%;
    left: 41.3%;
}
.lessthan1{
    position: absolute;
    bottom: 2%;
    left: 37%;
}
.lessthan2{
    position: absolute;
    bottom: 2%;
    left: 61%;
}