<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("../../../../css/commonpage/dialougebox.css");
    $cssLoader("css/common.css");
    $cssLoader("css/page4.css");

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
	{{! update templatecontains data for if it has header, instruction, headerinstruction
	    or only has content --}}
	{{#if hasheaderblock}}
	        <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
	    {{else}}
	        <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
	{{/if}}

	{{! header block start--}}
		{{#if headerblock}}
			<div class="headerblock {{headerblockadditionalclass}}">
			{{#each headerblock}}
				{{> textcontent}}
			{{/each}}
			</div>
		{{/if}}
	{{! header block end--}}
	{{! content block start--}}
		<div class="contentblock {{contentblockadditionalclass}}">
			{{#if uppertextblock}}
			<div class="textblock {{uppertextblockadditionalclass}}">
				{{#each uppertextblock}}
					{{> textcontent}}
				{{/each}}
			</div>
			{{/if}}
			{{#if imageblock}}
			{{#each imageblock}}
				{{> imagecontent}}
			{{/each}}
			{{/if}}
			{{#if imagetemplate}}
				<div class="ole_temp_imagecontainer {{imagetemplateadditionalclass}}">
					{{#each imagetemplate}}
						<div class="imageparent {{imageparentadditionalclass}}">
							<img class="{{imgclass}}" src="{{imgsrc}}" />
							<p class ="imgtext {{textclass}}" data-highlight="{{datahighlightflag}}"
								data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
						</div>
					{{/each}}
				</div>
			{{/if}}
			<!-- for summary -->
			{{#if summaryblock}}
				<div class="summarycontainer {{summaryblockadditionalclass}}">
					{{#each summaryblock}}
						<div class="summaryparent {{summaryparentadditionalclass}}">
							<p class ="summarytext {{textclass}}" data-highlight="{{datahighlightflag}}"
								data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
							{{#if imgsrc}}
								<img src="{{imgsrc}}" />
							{{/if}}
						</div>
					{{/each}}
				</div>
			{{/if}}
			{{#if definitionblock}}
				<div class="definitionblock {{definitionblockadditionalclass}}">
					{{#each definitionblock}}
						{{> definitioncontent}}
					{{/each}}
				</div>
			{{/if}}
			{{#if lowertextblock}}
			<div class="textblock {{lowertextblockadditionalclass}}">
			        {{#each lowertextblock}}
			        	<div class="{{divclass}}">
			            	{{> textcontent}}
			            </div>
			        {{/each}}
			</div>
			{{/if}}
			{{#each clockblock}}
				<div class="clockblock {{clockblockclass}}">
					<img class="clockbody {{clockbodyclass}}" src="{{clockbodysrc}}" />
					<div class="hr-hand {{hrclass}}"></div>
					<div class="min-hand {{minclass}}"></div>
					<div class="center-dot {{dotclass}}"></div>
					{{#if q1data}}
						<p class="q1class {{q1class}}">{{q1data}}</p>
					{{/if}}
					{{#if q2data}}
						<p class="q2class {{q2class}}">{{q2data}}</p>
					{{/if}}
					{{#if q3data}}
						<p class="q3class {{q3class}}">{{q3data}}</p>
					{{/if}}
					{{#if q4data}}
						<p class="q4class {{q4class}}">{{q4data}}</p>
					{{/if}}
				</div>
			{{/each}}

			{{#each digiclock}}
				<div class="digiclockblock {{clockblockclass}}">
					<div class="digidisplay {{displayclass}}">
						<div class="digihr {{hrclass}}">
							<p>{{{hr}}}</p>
						</div>
						<div class="digimin {{minclass}}">
							<p>{{{min}}}</p>
						</div>
						<div class="digisep">
							<p>:</p>
						</div>
					</div>
				</div>
			{{/each}}

			{{#each extratextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
			{{/each}}
			{{#each diary}}
				<div class='diary {{diaryclass}}'>
					<div class="diary-front {{frontclass}}"></div>
					<div class="diary-mid {{midclass}}"></div>
					<div class="diary-display">
						<div class="listblock {{listblockadditionalclass}}">
							<ul>
								{{#each listitem}}
									<li class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</li>
								{{/each}}
							</ul>
						</div>
					</div>
					<div class="diary-back"></div>
					<img class="clickins {{clickme}}" src="{{clickmesrc}}">
				</div>
			{{/each}}
		</div>
		</div>
	{{! content block end--}}
	</div>
</script>
<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/buzz.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page4.js");
</script>
