.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    font-size  : 1.3em;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}
.topone{
	top: -12%;
	height: 10%;
	width: 50%;
	transform: translate(-50%,-50%);
	left: -19%;
	z-index: 15;
  font-size:4.5vmin;
}

.activity_container .nextBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    right    : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

.activity_container .prevBtn{
    display  : none;
    position : absolute;
    bottom   : 0%;
    left     : 0%;
    width    : 7%;
    height   : 10%;
    z-index  : 10;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

p{
	margin: 0;
}
.contentwithbg {
	width: 100%;
	height: 100%;
	background: url("../images/introduction-slide.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 12%;
	left: 0%;
	margin-top: 3px;
	text-align: center;
	height: 88%;
	width: 100%;
}

.board:lang(en){
    font-family: amaranth;
}
.vertical-horizontal-center {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.headerblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #E3D0DA;
	color: #CE00A7;

	/*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}

div.textblock {
	position: relative;
}

div.imageblock {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
}



/*============ exercise template ===================
==================================================== */

.question {
    color: #674EA7;
    position: relative;
    left: 2%;
    top: -7%;
    width: 95%;
    height: 30%;
    font-size: 4vmin;
    text-align: center;
}

.optionsdiv {
    bottom: 0%;
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.optionscontainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.imagestartpos {
    width: 15%;
    display: none;
}

.ispforimage{
	position: absolute;
    width: 21%;
    left: 38%;
    top: 490%;
    display: none;
}

.optionsdiv p{
    padding: 3% 5%;
    width: 65%;
    background: #8E7BC3;
    border-radius: 15px;
    color: white;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
}

.optimg {
    display: inline;
    border-radius: 15px;
    color: white;
    margin: 0% 1%;
    font-size: 4vmin;
    border: 5px solid #ADAEDB;
    cursor: pointer;
    width: 21%;
}

.forhover{
	cursor: pointer;
}

.forhover:hover{
	background: #F1C131;
	color: #F66E20;
	border: 5px solid #FFD966;
}

.forhoverimg:hover{
	color: #F66E20;
	border: 5px solid #FFD966;
}

.wrongans{
	background: #EA9999;
	color: #F66E20;
}

.rightans{
	background: #6AA84F;
}


@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}


.quesblock {
	display: none;
	position: absolute;
	bottom: 0%;
	height: 30%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	padding: 1% 4%;
}

.questionimg {
    position: relative;
    top: 27%;
    border: 2px solid blueviolet;
    border-radius: 15px;
    height: 32%;
}

.draggablecontainer {
    position: relative;
    top: 18%;
    width: 100%;
    background: aliceblue;
}

.droppablecontainer {
    position: relative;
    top: 28%;
    width: 100%;
    background: antiquewhite;
    height: 50%;
}

.drop1 {
    background: blueviolet;
    width: 50%;
    height: 83%;
    float: left;
}

.drop2 {
    background: aqua;
    width: 50%;
    height: 83%;
    float: left;
}

/*specific*/
.bg_main {
	background-image: url("../images/bg.png");
	background-size: cover;
}

.plant {
	cursor: pointer;
	position: absolute;
	max-width: 40%;
}
.plant:hover{
	filter: drop-shadow(0px 0px 5px black);
	transform: scale(1.05, 1.05);
}
/*image animation*/
.blink {
	animation: blink 2 1s ease-out;
	-webkit-animation: blink 2 1s ease-out;
}
@-webkit-keyframes
blink {
0% {filter: drop-shadow(0px 0px 0px white); transform: scale(1, 1);}
50% {filter: drop-shadow(0px 0px 5px black); transform: scale(1.05, 1.05);}
100% {filter: drop-shadow(0px 0px 0px white); transform: scale(1, 1);}
}
@keyframes
blink {
0% {filter: drop-shadow(0px 0px 0px white); transform: scale(1, 1);}
50% {filter: drop-shadow(0px 0px 5px black); transform: scale(1.05, 1.05);}
100% {filter: drop-shadow(0px 0px 0px white); transform: scale(1, 1);}
}
.tree {
	height: 40%;
}
.shrub {
	height: 20%;
}
.herb {
	height: 12%;
}
.position_1{
	position: absolute;
	bottom: 42%;
	left: 12%;
}
.position_2{
	position: absolute;
	bottom: 15%;
	left: 80%;
}
.position_3{
	position: absolute;
	bottom: 8%;
	left: 65%;
}
.position_4{
	position: absolute;
	bottom: 5%;
	left: 2%;
}
.position_5{
	position: absolute;
	bottom: 19%;
	left: 31%;
}
.position_6{
	position: absolute;
	bottom: 5%;
	left: 33%;
}
.position_7{
	position: absolute;
	bottom: 36%;
	left: 70%;
}
.position_8{
	position: absolute;
	bottom: 36%;
	left: 58%;
}
.position_9{
	position: absolute;
	bottom: 26%;
	left: 52%;
}
.position_10{
	position: absolute;
	bottom: 38%;
	left: 29%;
}

.black_img{
	display: none;
	z-index: 5;
	position: absolute;
	bottom: 30%;
	left: 0%;
	width: 100%;
	height: 90%;
}

/*image animation*/
.zoom_in {
	animation: zoom_in 2s ease-out forwards;
	-webkit-animation: zoom_in 2s ease-out forwards;
}
@-webkit-keyframes
zoom_in {
100% {bottom: 40%;z-index: 50;left:50%;transform:translateX(-50%) scale(1.3, 1.3);}
}
@keyframes
zoom_in {
100% {bottom: 40%;z-index: 50;left:50%;transform:translateX(-50%) scale(1.3, 1.3);}
}

.zoom_out {
	animation: zoom_out 2s ease-in-out forwards;
	-webkit-animation: zoom_out 2s ease-in-out forwards;
}
@-webkit-keyframes
zoom_out {
0% {bottom: 35%;z-index: 50;left:50%;transform:translateX(-50%) scale(1.3, 1.3);}
}
@keyframes
zoom_out {
0% {bottom: 35%;z-index: 50;left:50%;transform:translateX(-50%) scale(1.3, 1.3);}
}

/*image layer*/
.layer_down {
	animation: layer_down 2s ease-out;
	-webkit-animation: layer_down 2s ease-out;
}
@-webkit-keyframes
layer_down {
0% {bottom: 100%;}
}
@keyframes
layer_down {
0% {bottom: 100%;}
}

.layer_up {
	animation: layer_up 2s ease-out;
	-webkit-animation: layer_up 2s ease-out;
}
@-webkit-keyframes
layer_up {
100% {bottom: 100%;}
}
@keyframes
layer_up {
100% {bottom: 100%;}
}

/*question animation*/
.come_up {
	animation: come_up 2s ease-out;
	-webkit-animation: come_up 2s ease-out;
}
@-webkit-keyframes
come_up {
0% {bottom: -50%;}
}
@keyframes
come_up {
0% {bottom: -50%;}
}
.come_down {
	animation: come_down 2s ease-out;
	-webkit-animation: come_down 2s ease-out;
}
@-webkit-keyframes
come_down {
100% {bottom: -50%;}
}
@keyframes
come_down {
100% {bottom: -50%;}
}
.correct_ans{
	background: #6AA84F!important;
	border: 5px solid #B6D7A8!important;
}
.incorrect_ans{
	background: #EA9999!important;
	border: 5px solid #efb3b3!important;
	color: #F66E20;
}
