<script>
$cssLoader('exercise/css/exercise.css');
$cssLoader('exercise/css/exe1.css');
</script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<div id="exeBox">
  
    <div class="allquestion">

     </div>

     
    <img  id="Imgshow" src="$ref/exercise/images/correct.png" />
   
    <div id="nextBtnId"></div>   

</div>
<script>
$jsLoader('exercise/js/sharedexe.js');
$jsLoader('exercise/js/exe1.js');
</script>



<script type="text/x-handlebars-template" id="label-template">
<div id="quest"><span>{{myQuesion}}</span></div>
{{#if imgObjval}}
  <div class="imgValObj"><img src="{{imgObjval}}"/></div>
{{/if}}

<div id="showAns">
   {{#each optObj}}
       <div class="ans radioBx" id="{{optObj1}}" corr="{{yesno}}">
       <span>{{optObjval}}</span>

        </div>
   {{/each}}

   {{#each imgOpt}}
       <div class="ans imageBx" id="{{optObj1}}" corr="{{yesno}}">
       <img src="{{imgOptSrc}}"/>
        </div>
   {{/each}}
</div>
</script>


<script type="text/x-handlebars-template" id="label-template-2">
<div id="quest"><span>{{myQuesion}}</span></div>


<div id="showAns2">
  <div class="oneThirdBx">
    <div class="titleBox">{{titleBox1}}</div>
    <div class="droppedBox" id="droppedBox1">
    </div>
  </div>
  
  <div class="oneThirdBx2">
   {{#each imgOpt}}
       
       <img src="{{imgOptSrc}}" class="draggable" id="{{imgname}}"/>
       
   {{/each}}

  </div>

  <div class="oneThirdBx">
    <div class="titleBox">{{titleBox2}}</div>
     <div class="droppedBox" id="droppedBox2">
    </div>
  </div>
</div>
</script>



<script type="text/x-handlebars-template" id="template-2">


<div class="allAns">
   {{#each allansw}}
   <div class="rnum" id="{{quesno}}">
       <span class="glyphicon glyphicon-hand-right"></span>
        {{ques}}
        {{#if imgques}}<img src="{{imgques}}" class="questionImg" />{{/if}}
       
       
       {{#if qans}}<span>{{qans}}</span>{{/if}}
   </div>
   {{/each}}
</div>

<div class="result">
   <div><span>{{rite}} : </span> {{rnum}}</div>
   <div><span>{{wrng}} : </span> {{wnum}}</div>
</div>
</script>


