.wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
}

.mainword
{
    width: 70%;
    position: relative;
    left: 18%;
    top:55%;
    transform: translateY(-50%);
}

.mainword> div{
	margin: 0.2em;
	line-height: 1.2;
}

.symword
{
    width: 69%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0%;  
}

.checkanswer
{
    position: absolute;
    top: 75%;
    left: 69%;
    background: rgba(0,127,213,0.5);
    width: 10%;
    border-radius: 5px;
    position: absolute;
}


.checkanswer:hover
{
    cursor: pointer;
    background: rgba(0,127,213,0.6);
}

.check_answer
{
    color: #FF006D;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 16%;
    padding-top: 7%;
}

.text1
{
    position: absolute;
    top: 12%;
    left: 5%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text2
{
    position: absolute;
    left: 5%;
    top: 20%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text3
{
    position: absolute;
    left: 5%;
    top: 29%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold
}

.text4
{
    position: absolute;
    left: 5%;
    top: 37%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text5
{
    position: absolute;
    left: 5%;
    top: 45%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text6
{
    position: absolute;
    left: 5%;
    top: 53%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text7
{
    position: absolute;
    left: 5%;
    top: 62%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}
.text8
{
    position: absolute;
    left: 5%;
    top: 69%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text9
{
    position: absolute;
    left: 5%;
    top: 77%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text10
{
    position: absolute;
    left: 5%;
    top: 85%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text11
{
    position: absolute;
    left: 5%;
    top: 77%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text12
{
    position: absolute;
    left: 5%;
    top: 83%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}

.text13
{
    position: absolute;
    left: 5%;
    top: 89%;
    color: #3399fe;
    font-size: 1.3em;
    font-weight: bold;
}




.textlists
{
    position: absolute;
    top: 17%;
    left: 16%;
}

.textchanges
{
    border-top: none;
    text-align: center;
    border-left: none;
    border-right: none;
    border-color: rgba(51,153,254,0.5);
}

.text_1
{
	display: inline-flex;
	width: 66%;
    left: 4%;
    /*position: absolute;*/
    top: 12%;
    justify-content: space-between;
}

.text_2
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 20%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}

.text_3
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 28%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}

.text_4
{
	display: inline-flex;
	width: 66%;
    xborder-bottom: 1px solid #000;
    /*position: absolute;*/
    top: 36%;
    left: 4%;
    justify-content: space-between;
}

.text_5
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 44%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}

.text_6
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 52%;
    left: 4%;
    justify-content: space-between;
   x border-bottom: 1px solid #000;
}

.text_7
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 60%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}
.text_8
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 68%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}

.text_9
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 76%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}

.text_10
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 84%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}

.text_11
{

	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 75%;
    left: 4%;
    justify-content: space-between;
    xborder-bottom: 1px solid #000;
}

.text_12
{
	display: inline-flex;
	width: 66%;
    /*position: absolute;*/
    top: 82%;
    left: 4%;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.text_13
{
    display: inline-flex;
	width: 66%;
	/*position: absolute;*/
    top: 89%;
    left: 4%;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}






.fst,.sest,.tst,.fist,.sst,.sest,.est,.nst,.tenst,.sist,.seist,.eeist,.neist,.teist,.eleist,.tweist,.tweeist
{
    color: rgba(255,0,109,0.8);
    font-weight: bold;
    margin: 0em;
}


.title
{
    position: absolute;
    top: 0%;
    width: 100%;
    background: #FDB01B;
}

.title_tt
{
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
    padding-left: 1%;
    margin: 0;
}

.checkans{
    position: absolute;
    top: 85%;
    right: 12%;  
    }

.answer_box_return
{
    font-size: 1.3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(51,153,254,0.5);
}

.hint1,.hint2,.hint3,.hint4,.hint5,.hint6,.hint7,.hint8,.hint9,.hint10
{
    /*width: 21%;
    position: absolute;
    margin-top: -20%;
    left: 100%;
    opacity: 0.6;
    z-index: 1111;*/
}

.hint1:hover,.hint2:hover,.hint3:hover,.hint4:hover,.hint5:hover,.hint6:hover,.hint7:hover,.hint8:hover,.hint9:hover,.hint10:hover
{
  cursor: pointer;
  opacity: 1;
}




/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hint:hover .tooltiptext {
    visibility: visible;
}

#imagebox
{
    width: 50%;
    height: 50%;
   
    position: absolute;
    top: 19%;
    left: 46%;
}

.clickimg
{
    width: 100%;
}

.list {
    position: absolute;
    top: 5%;
    z-index: 1111;
    width: 100%;
    opacity: 0;
}

.click_for_hint
{
    position: absolute;
    top: 10%;
    right: 3%;
    background: #CB2C85;
    width: 22%;
    opacity:0.5;
    z-index: 9999;
}

.hidediv{
    opacity: 0 !important;
}
.click_for_hint:hover
{
    cursor: pointer;
    opacity: 1;
}

.words
{
    color: #ffffff;
    font-weight: bold;
    padding-left: 13%;
    padding-top: 4%;
    font-size: 1.5em;
}

.cc{
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.cc:hover
{
    opacity: 1;
    cursor: pointer;
}

@keyframes scrolldown {
    0%{
        opacity: 0;
        top: 5%;
       
    }
    100% { 
        opacity: 1;
        top: 10%;
    }
}
@-moz-keyframes scrolldown {
    0%{
        opacity: 0;
        top: 5%;
       
    }
    100% { 
        opacity: 1;
        top: 10%;
    }
}
@-webkit-keyframes scrolldown {
    0%{
        opacity: 0;
        top: 5%;
       
    }
    100% { 
        opacity: 1;
        top: 10%;
    }
}
.cssscrolldown{
    animation: scrolldown 2s linear 0.3s 1 forwards;
    -webkit-animation: scrolldown 2s linear 0.3s 1 forwards;
    -moz-animation: scrolldown 2s linear 0.3s 1 forwards;
}

.option-holder {
    cursor: pointer;
    left: 70%;
    list-style: outside none none;
    position: absolute;
    right: 3%;
    text-align: center;
    top: 55%;
	width: 33%;
	z-index: 101;
	transform: translateY(-50%);
}

.option-holder > li {
    background: rgb(0, 158, 217) none repeat scroll 0 0;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    width: 70%;
	line-height: 1.2;
	margin: 0.2em;
}

.hint1 {
    left: 30%;
    position: absolute;
    top: 11%;
    width: 5%;
}


.hint2 {
    left: 30%;
    position: absolute;
    top: 19%;
    width: 5%;
}

.hint3 {
    left: 30%;
    position: absolute;
    top: 27%;
    width: 5%;
}

.hint4 {
    left: 30%;
    position: absolute;
    top: 35%;
    width: 5%;
}

.hint5 {
    left: 30%;
    position: absolute;
    top: 43%;
    width: 5%;
}

.hint6 {
    left: 30%;
    position: absolute;
    top: 51%;
    width: 5%;
}

.hint7 {
    left: 30%;
    position: absolute;
    top: 59%;
    width: 5%;
}

.hint8 {
    left: 30%;
    position: absolute;
    top: 67%;
    width: 5%;
}

.hint9 {
    left: 30%;
    position: absolute;
    top: 75%;
    width: 5%;
}


.hint10{
    left: 30%;
    position: absolute;
    top: 83%;
    width: 5%;
}

#app1, #app2, #app3, #app4, #app5, #app6, #app7, #app8, #app9, #app10{
    background: rgb(204, 204, 204) none repeat scroll 0 0;
    /*border: 2px solid rgb(204, 204, 204);*/
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0;
    text-align: center;
    vertical-align: middle;
    width: 55%;
}


.finishtxt {
	z-index: 1000;
    padding: 20px;
    background-color: #46A7F5; /* Red */
    color: white;
    margin-bottom: 15px;
	position:absolute;
	top:40%;
	left:40%;
	display:none;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#app1{

	margin-left:20%;
}

#app2{

	margin-left:20%;
}

#app3{

	margin-left:26%;
}

#app4{

	margin-left:26%;
}

#app5{

	margin-left:27%;
}

#app6{

	margin-left:15%;
}
#app7{

	margin-left:22%;
}

#app8{

	margin-left:23%;
}

#app9{

	margin-left:25%;
}

#app10{

	margin-left:23%;
}

@media screen and (min-aspect-ratio: 4/3) { 
	 #app1, #app2, #app3, #app4, #app5, #app6, #app7, #app8, #app9, #app10,
	 .fst, .sest, .tst, .fist, .sst, .sest, .est, .nst, .tenst, .sist, 	 .seist, 
	 .eeist, .neist, .teist, .eleist, .tweist, .tweeist, .option-holder > li {
		 font-size: 3.56vh;
	 }
	 .face.front p { 
		 font-size: 3.56vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) { 
	 #app1, #app2, #app3, #app4, #app5, #app6, #app7, #app8, #app9, #app10,
	 .fst, .sest, .tst, .fist, .sst, .sest, .est, .nst, .tenst, .sist, .seist, 
	 .eeist, .neist, .teist, .eleist, .tweist, .tweeist, .option-holder > li {
		 font-size: 3vw;
	 }
	 .face.front p { 
		 font-size: 3vw;
	 }
}