body:lang(en){
    font-family: sniglet;
}
@font-face {
    font-family: ChelseaMarket-Regular;
    src: url("../../../../../fonts/ChelseaMarket-Regular.ttf");
}
.bg{
	background-color:#1E86BB;
}
.background{
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
}
.red{
  background-color: #91566C;
  color:#fff;
}
.white{
  background: #fff;
}
.green_op{
  background-color: #66CDAA;
  opacity:0.7;
  /* font-size: 2.5vw !important; */
}
/*--------------texts----------------*/
.toptxt{
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  padding:2%;
}
.toptxtFst{
  position: absolute;
  top: -15%;
  left: 0%;
  width: 100%;
  padding: 1%;
  height: 15%;
  font-size: 3.3vw;
}
.slideDwn{
  animation: sldDwn .5s linear forwards;
}
@keyframes sldDwn {
  100%{top: 0%;}
}
.fins{
  position: absolute;
  top: 38%;
  right: 5%;
  color: #000;
  font-size: 3vw;
  font-family: concert one;
  z-index: 10;
  opacity: 0;
}
.webft{
  position: absolute;
  top: 83%;
  right: 5%;
  color: #fff;
  font-size: 3vw;
  font-family: concert one;
  opacity: 0;
}
.midtxt_1{
  position: absolute;
  top: 44%;
  left: 0%;
  width: 100%;
  color: #000;
  padding: 2%;
  font-size: 4vw;
  font-family: comforta;
}
/*--------------images----------------*/

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 11%;
  left: 0%;
}
.prev_button {
  position: absolute;
  left: 6%;
  height: 18%;
  top: 42%;
  cursor: pointer;
  z-index: 20;
}
.next_button {
  position: absolute;
  right: 6%;
  height: 18%;
  top: 42%;
  cursor: pointer;
  z-index: 20;
}
.insidebox {
  position: absolute;
  top: 0%;
  width: 100%;
  left: 0%;
  height: 100%;
}
.text_inside {
    position: absolute;
    width: 100%;
    background: #B8F3F9;
    font-size: 2vw;
    top: auto;
    transform: translateX(-50%);
    left: 50%;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
}
.image_inside {
  width: 45%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.zoom_in_out{
  animation: zoom_in_out 1s ease-in-out infinite;
}
@keyframes zoom_in_out {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.anmNm{
position: absolute;
top: 20%;
left: 0%;
width: 100%;
color: #fff;
font-size: 4vw;
}

.green{
  background-color: #66CDAA;
  color:#000;
}
.toptxt{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  font-family: laila;
  font-size: 3vw;
  padding: 2%;
  z-index: 10;
  height: 15%;
}

.lefthalf{
  position:absolute;
  top: 0%;
  left:0%;
  width:50%;
  height:100%;
}

.righthalf{
  position:absolute;
  top: 0%;
  right:0%;
  width:50%;
  height:100%;
}
.lftxt{
  position: absolute;
  top: 35%;
  left: 5%;
  width: 43%;
  font-size: 2.4vw;
  text-align: left;
  padding: 0.5%;
  opacity: 0;
}

.fntlaila{
  font-family: laila;
}
.midtxt{
  position: absolute;
  top: 36%;
  left: 0%;
  width: 100%;
  color: #000;
  padding: 1%;
  font-size: 2vw;
  font-family: laila;
}
.midimg{
  position: absolute;
  top: 36%;
  left: 19%;
  height: 50%;
  width: 50%;
}
.lstSldTxt{
  position:absolute;
  top:90%;
  left:0%;
  width:100%;
  color:#fff;
  font-size: 3vw;
  display: none;
}
.show{
  animation:fadein 3s linear forwards;
}
.img1{
  position: absolute;
}
.eel{
  position: absolute;
  height: 19%;
  top: 20%;
  right: 1%;
}
.frog{
  position: absolute;
  height: 26%;
  top: 56%;
  right: 12%;
}
.fish{
  position: absolute;
  height: 16%;
  top: 29%;
  right: 27%;
}
.dolphin01{
  position: absolute;
  height: 40%;
  top: 44%;
  right: 5%;
}

.frog_3{
  position: absolute;
  height: 40%;
  top: 44%;
  right: 5%;
}
.fish_4{
  position: absolute;
  height: 40%;
  top: 53%;
  right: 7%;
  z-index: 10;
}
.turtle_l{
  position: absolute;
  height: 40%;
  top: 60%;
  right: 65%;
  z-index: 10;
}
.frog_l{
  position: absolute;
  height: 18%;
  top: 74%;
  left: 38%;
  z-index: 10;
}
.crock_l{
  position: absolute;
  height: 25%;
  top: 71%;
  left: 64%;
  z-index: 10;
  transform: rotateY(180deg);
  width: 26%;
}
.arrow1{
  position:absolute;
}
.arrow2{
  position:absolute;
}
.ar1_2{
  position: absolute;
  top: 49%;
  right: 4%;
  width: 13%;
  transform: rotate(-59deg);
  opacity: 0;
}
.ar2_2{
  position: absolute;
  top: 38%;
  right: 14%;
  width: 12%;
  transform: rotate(34deg);
  opacity: 0;
}
.ar3_2 {
	position: absolute;
	top: 80%;
	right: 8%;
	width: 4%;
	transform: rotate(70deg);
	opacity: 0;
}
.ar4_2{
  position: absolute;
  top: 50%;
  right: 5%;
  width: 13%;
  transform: rotate(-45deg);
  z-index: 10;
  opacity: 0;
}
.frog_line{
  position: absolute;
  top: 57%;
  left: 69%;
  width: 17%;
}
.fish_line{
  position: absolute;
  top: 24%;
  left: 51.3%;
  width: 22%;
}
.eil_line{
  position: absolute;
  top: 20%;
  left: 83%;
  width: 16%;
}
.blink{
  animation: blnk 1s linear infinite;
}
.fish_gill{
  position: absolute;
  top: 53%;
  left: 49%;
  width: 50%;
  z-index: 10;
}
@keyframes blnk{
  from{
    transform: scale(1,1);
  }
  to{
    transform: scale(1.15,1.15);
  }
}
.hidden{
  opacity: 0;
}
.jumping{
  position: absolute;
  height: 20%;
  top: 65%;
  left: 26%;
  z-index: 10;
}
.fadein{
  animation: fadeIn 1s linear forwards;
}
@keyframes fadeIn{
  100%{opacity: 1;}
}
.whiteTrs{
  background: #fff;
  opacity: 0.7;
  height: 20%;
  padding: 4%;
  font-size: 2.5vw;
}
.crfst{
  transform: rotateY(0deg);
  left: 72%;
  top: 64%;
}
.frogJmp{
  left: 56%;
  top: 77%;
  height: 20%;
  transform: rotateY(180deg);
}
.frog_2{
  height: 10%;
  top: 89%;
  left: 48%;
  z-index: 10;
  width: 5%;
}
.fintext{
  font-family: happymonkey !important;
}
/*************************************mediaquery**********************/
@media (max-aspect-ratio:4/3){
	.toptxt,.btmtxt{
		font-size:3vw;
	}
	.midtxt, .aqtc, .lstSldTxt{
		font-size:2.6vw;
	}
  .lftxt{
		font-size:2.7vw;
  }
}

@media (min-aspect-ratio:4/3){
	.toptxt,.btmtxt{
		font-size:3.8vh;
	}
	.midtxt, .aqtc, .lstSldTxt{
		font-size:3.6vh;
	}
  .lftxt{
		font-size:3.5vh;
  }
}
