.test{
 margin-top:30px;
 
}

.whole {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: url("../images/three.jpg") ;  
   -moz-background-size: cover;  
   background-size: cover;
	 border-style: solid;
 	border-width: 7px ;
 	border-color: black ;

 
}


.title{
 font-size:1.3em;
 }
 
.whole .title{
 position: relative;
 width: 100%;
 height: 15%;
 text-align: left;
 font-size: 1.2em;
 color: #FFFFFF;
 margin-top: 3%;
 vertical-align: middle;
 text-shadow: 1px 1px #c9c9c9;
 display: none;
 margin-left:4%
}

.imgholer{
	width: 100%;
	height: 80%;
	position: relative;
	overflow: hidden;
}

.list{
 position:relative;
 width:100%;
 height:100%
 margin-left:6%
 display: inline;
 list-style-type: none;
 allign:center;
}

.texts{
 text-align:center;
 position:relative;
 margin-left:3%;
 margin-top:2%;
 overflow:hidden;
}

/*------------------------------bu8bbles---------------------*/

.bubblebottomleft 
{
position: relative;
width: 400px;
height: 140px;
padding: 1px;
background: #FFFFFF;
-webkit-border-radius: 45px;
-moz-border-radius: 45px;
border-radius: 45px;
}

.bubblebottomleft:after 
{
content: "";
position: absolute;
bottom: -23px;
left: 47px;
border-style: solid;
border-width: 23px 8px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

/*------------------------------bu8bbles---------------------*/

.bubblebottomright 
{
 
position: relative;
width: 250px;
height: 135px;
padding: 1px;
background: #FFFFFF;
-webkit-border-radius: 45px;
-moz-border-radius: 45px;
border-radius: 45px;
}

.bubblebottomright:after 
{
content: "";
position: absolute;
bottom: -23px;
left: 163px;
border-style: solid;
border-width: 23px 8px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}


.bubbleleft 
{
position: relative;
width: 225px;
height: 100px;
padding: 1px;
background: #FFFFFF;
-webkit-border-radius: 45px;
-moz-border-radius: 45px;
border-radius: 45px;
}

.bubbleleft:after 
{
content: "";
position: absolute;
top: 45px;
left: -65px;
border-style: solid;
border-width: 8px 65px 8px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
}

#circles {
		margin-top: 20px;
		height: 20px;
	}
	#box > img {
    height: 67%;
	}
	.right {
		float: right;
	}

	.overflow {
		max-width: 100%;
	}
	.img_rounded {
		width: 22%;
	}
	.center {
		text-align: center;
	}

	.information_block {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		max-height: 700px;
		border: 4px solid #00000;
		-webkit-moz-border-radius: 25px;
	}

	.info {
		background: gray;
		margin-top: 10px;
		width: 100% %;
	}
	
	#box {
		margin-bottom: 20px;
	}
#dialogue {
		border: solid 1px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0.7);
		height: 100%;
		margin-left: 10px;
		margin-right: 10px;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
	}
	#reload{
		float:right;
	}