.wrapper
{
	width:100%;
	height:100%;
	position:relative;
	background: url(../images/eco_main.jpg) 100% 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opacity{
	
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width:100%;
	height:100%;
	position:relative;
  background-color:rgba(0,0,0,0.5); 
	
}

.explore_more
{
       font-size: 5vmin;
    font-weight: 700;
    opacity: 0.8;
}

.eco
{
      position: absolute;
    top: 74%;
    font-size: 5em;
    font-family: fantasy;
    color: #66CCFF;
    opacity: 0.4;
    left: 3%;
}
.explore
{
   color: #ffc265;
    font-family: fantasy;
    opacity: 0.5;
    position: absolute;
    right: 22%;
    top: 21%;
    z-index: 99;
}

.explore:hover
{
  cursor:pointer;
   opacity: 0.8;
    transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
	color: #ffffff;
}






