.wrapper
{
	width:100%;
	height:100%;
	position:relative;
}
.italy_map
{
	background: url(../exerciseimages/map_italy.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
	width: 100%;
	height: 100%;
}

.vinci
{
    height: 5%;
    width: 10%;
    position: absolute;
    top: 33%;
    left: 33%;
    border-radius: 34px;
    background: rgba(102,204,255,0.4);
}

.vinci_text
{
	padding-left: 26%;
    padding-top: 7%;
}

.florence
{
	position: absolute;
    top: 31%;
    background: green;
    width: 14%;
    height: 6%;
    left: 44%;
    background: rgba(102,204,255,0.4);
      border-radius: 34px;
}

.florence_text
{
	padding-top: 7%;
    padding-left: 17%;
}

.rome
{
	position: absolute;
    top: 47%;
    width: 11%;
    height: 6%;
    left: 48%;
    background: rgba(102,204,255,0.4);
    border-radius: 34px;
}

.rome_text
{
	padding-left: 20%;
    padding-top: 8%;
}

.milan
{
	height: 5%;
    width: 12%;
    position: absolute;
    top: 13%;
    left: 26%;
    background: rgba(102,204,255,0.4);
    border-radius: 34px;
}

.milan_text
{
	padding-left: 25%;
    padding-top: 5%;
}

.venice
{
	height: 6%;
    width: 10%;
    position: absolute;
    top: 13%;
    left: 48%;
    background: rgba(102,204,255,0.4);
    border-radius: 34px;
}

.venice_text
{
	padding-top: 10%;
    padding-left: 14%;
}

.pisa
{
	background: green;
    height: 8%;
    width: 9%;
    position: absolute;
    top: 24%;
    left: 30%;
    background: rgba(102,204,255,0.4);
      border-radius: 34px;
}

.pisa_text
{
	padding-left: 34%;
    padding-top: 19%;
}

.continue_exercise
{
    position: absolute;
    top: 79%;
    left: 3%;
    background: rgba(255,0,109,0.5);
    border-radius: 7px;
    width: 35%;
    text-align: center;
}

.continue
{
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    
}

.continue_exercise:hover
{
    cursor: pointer;
    background: rgba(255,0,109,0.6);
}


.data_xml
{
    display: none;
    position: absolute;
    top: 57%;
    left: 3%;
    width: 17%;
}

.location_1,.location_2,.location_3,.location_4,.location_5,.location_6
{
    font-weight: bold;
    color:#66CCFF;
}

.location_1:hover,.location_2:hover,.location_3:hover,.location_4:hover,.location_5:hover,.location_6:hover
{
   cursor: pointer;
}

.vinci_drop_box
{
	height: 100%;
}

.florence_drop_box
{
	height: 100%;
}

.rome_drop_box
{
	height: 100%;
}

.milan_drop_box
{
	height: 100%;
}

.venice_drop_box
{
	height: 100%;
}

.pisa_drop_box
{
	height: 100%;
}

#slot_1{
	z-index: 9999 !important;
	width: 100% !important;
    /*background: #aaa;*/
}

.drag_text
{   
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 23%;
}

.info_drag
{
    font-size: 1.5em;
    font-weight: bold;
    color: 3399FE;
    opacity: 0.8;
}

.drag_text_italy
{    background: #FFC815;
    padding-top: 1%;
    position: absolute;
    width: 34%;
    right: 0;
    top: 4%;
    padding-bottom: 1%;

}

.info_drag_italy
{
        text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
}