.wrapper
{
    width: 100%;
    height: 100%;
    position: relative;
     background: url(../exerciseimages/ex5.jpg) no-repeat 100% 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text{

    height: 100%;
    position: relative;
     
}

.wholetext
{
     background-color: rgba(204, 204, 204, 0.8);
    color: rgb(43, 83, 119);
    font-weight: bold;
    opacity: 0.95;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

@media screen and (min-aspect-ratio: 4/3) { 
	 .wholetext {
		 font-size: 3.56vh;
	 }
}

@media screen and (max-aspect-ratio: 4/3) { 
	 .wholetext {
		 font-size: 3vw;
	 }
}