.wrapper
{
	width:100%;
	height:100%;
	position:relative;
	xbackground: url(../images/lure.png) no-repeat center center fixed; 
  x-webkit-background-size: cover;
  x-moz-background-size: cover;
  x-o-background-size: cover;
  xbackground-size: cover;
}

.header_image
{
      position: absolute;
    bottom: -1%;
    width: 100%;
}

.birds
{

     position: absolute;
    bottom: 64%;
    width: 11%;
    left: 4%;
}


.notes
{
      position: absolute;
    bottom: 0;
    left: 2%;
    width: 96%;
}

.leo
{    
  font-family: fantasy;
    position: absolute;
    font-size: 4.5em;
    z-index: 99;
    opacity: 0.7;
    margin-top: -60%;
    margin-left: 5%;
    z-index: 99;
        left: 16%;
        color: #FBB106;
}

.vinci
{
      font-size: 4.5em;
    font-family: fantasy;
    position: absolute;
       left: 19.5%;
   xtop: 14%;
    z-index: 99;
    opacity: 0.7;
    margin-top: -54%;
    margin-left: 20%;
    color: #FBB106;
}

.explore
{
    position: absolute;
    font-family: fantasy;
    right: 4%;
    top: 80%;
    opacity: 0.3;
    z-index: 99;
}

.explore:hover
{
  cursor:pointer;
   opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}



.sky {
     height: 100%;
      background:#007fd5;
      position:relative;
      overflow:hidden;
      -webkit-animation:sky_background 50s ease-out infinite;
      -moz-animation:sky_background 50s ease-out infinite;
      -o-animation:sky_background 50s ease-out infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    
    .moon {
      background:url(../images/moon.png);
      position:absolute;
      left:0;
      height:100%;
      width:300%;
      -webkit-animation:moon 50s linear infinite;
      -moz-animation:moon 50s linear infinite;
      -o-animation:moon 50s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    
    .clouds_one {
      background:url(../images/cloud_one.png);
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_one 50s linear infinite;
      -moz-animation:cloud_one 50s linear infinite;
      -o-animation:cloud_one 50s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    .clouds_two {
      background:url(../images/cloud_two.png);
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_two 75s linear infinite;
      -moz-animation:cloud_two 75s linear infinite;
      -o-animation:cloud_two 75s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    .clouds_three {
      background:url(../images/cloud_three.png);
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:300%;
      -webkit-animation:cloud_three 100s linear infinite;
      -moz-animation:cloud_three 100s linear infinite;
      -o-animation:cloud_three 100s linear infinite;
      -webkit-transform:translate3d(0,0,0);
      -moz-transform:translate3d(0,0,0);
      -o-transform:translate3d(0,0,0)
    }
    
    @-webkit-keyframes sky_background {
      0% {
        background:#007fd5;
        color:#007fd5
      }
      
      50% {
        background:#007fd5;
        color:#a3d9ff
      }
      
      100% {
        background:#007fd5;
        color:#007fd5
      }
    }
    
    @-webkit-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }
    
    @-webkit-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-webkit-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes sky_background {
      0% {
        background:#007fd5;
        color:#007fd5
      }
      
      50% {
        background:#007fd5;
        color:#a3d9ff
      }
      
      100% {
        background:#007fd5;
        color:#007fd5
      }
    }
    
    @-moz-keyframes moon {
      0% {
        opacity: 0;
        left:-200%
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
      
      50% {
        opacity: 1;
        -moz-transform: scale(1);
        left:0%
        bottom:250px;
          -webkit-transform: scale(1);
      }
    
      100% {
        opacity: 0;
        bottom:500px;
        -moz-transform: scale(0.5);
          -webkit-transform: scale(0.5);
      }
    }
    
    @-moz-keyframes cloud_one {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_two {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }
    
    @-moz-keyframes cloud_three {
      0% {
        left:0
      }
    
      100% {
        left:-200%
      }
    }