.wrapper
{
	width:100%;
	height:100%;
	position:relative;
	background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.explore_more
{
      font-size: 2em;
}

.header_image
{
	    width: 100%;
}
.leo
{
	       font-family: fantasy;
    position: absolute;
    top: 44%;
    font-size: 7em;
    left: 5%;
    z-index: 99;
}

.vinci
{
	font-size: 7em;
    font-family: fantasy;
    position: absolute;
    left: 27%;
    top: 61%;
    z-index: 99;
}


.explore
{
    position: absolute;
    font-family: fantasy;
    right: 4%;
    top: 80%;
    opacity: 0.3;
    z-index: 99;
}

.explore:hover
{
  cursor:pointer;
   opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.footer_bottom
{
      position: absolute;
    top: 86%;
    width: 100%;
}

.splash
{
  position: absolute;
    width: 18%;
}




#pixie {
    width: 100%;
    position:absolute;
    xbackground:-moz-linear-gradient(top, #040429, #257eb7);
    xbackground:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#040429), color-stop(100%,#257eb7));
}
