.tesellation {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #fff;
  /*background: #D4F7F5;*/
  /*box-shadow: inset 0 0 150px #63C2CE;*/
}

.tesellation,
.tesellation * {
  position: relative;
  margin: 0;
  padding: 0;
}

.nextBtn {
  cursor: pointer;
  position: absolute;
  color: darkgreen;
  font-size: 2em;
  z-index: 100;
  right: 20%;
  /*bottom: 1%;*/
  top: 80%;
  right: 2%;
  display: none;
}

.nextBtn:hover {
  color: lightgreen;
}

.title {
  font-size: 1.6em;
  width: 100%;
  height: 20%;
  /*background: #000;*/
  color: #4059ad;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  display: none;
}

#preload {
  position: absolute;
  width: 20%;
  margin-top: 20%;
  left: 40%;
  z-index: 10;
}

.goalPostTop {
  position: absolute;
  z-index: 25;
  width: 35%;
  height: 22%;
  /*background: #000;*/
  bottom: 25%;
  right: 9%;
  transform: rotate(3deg);
  cursor: pointer;
}

.goalPostTop:hover {
  background: rgba(29, 224, 64, 0.5);
}

.svgContainer {
  position: relative;
  width: 100%;
}

.svgContainer .background {
  width: 100%;
}

.svgContainer .background img {
  width: 100%;
  /*height: 100%;*/
}

.svgContainer .svgHolder {
  position: absolute;
  width: 100%;
  z-index: 5;
  /*display: none;*/
}

.svgContainer .svgHolder svg {
  width: 100%;
  /*height: 100%;*/
}

.svgContainer .pictureOnWall {
  position: absolute;
  width: 10%;
  z-index: 5;
  right: 15%;
  top: 28%;
  /*display: none;*/
}

.svgContainer .pictureOnWall img {
  width: 100%;
}

.svgContainer .pictureOnWall:hover {
  box-shadow: 0 0 10px 2px #006400;
}

#football {
}

.popHolder {
  width: 60%;
  min-height: 20%;
}

.suggestToDo {
  position: absolute;
  z-index: 10;
  width: 47%;
  background: #2c3747;
  background: rgba(44, 55, 71, 0.9);
  padding: 10px;
  top: 5%;
  left: 0;
  color: #fff;
  box-shadow: 0 5px 10px #000;
  display: none;
}

.suggestToDo .clsBtn-ToDo {
  position: absolute;
  color: red;
  top: -29%;
  right: -3%;
  cursor: pointer;
}

.popUp {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.popHolder {
  position: relative;
  margin: auto;
  width: 60%;
  background: #fff;
  padding: 20px 10px;
}

.clsBtn-pop {
  position: absolute;
  right: -40px;
  top: -10px;
  z-index: 10;
  cursor: pointer;
}

.imgHolder {
  position: relative;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  box-shadow: 10px 10px 10px -5px #383838;
}

.imgHolder img {
  width: 100%;
}

.questHolder {
  position: relative;
  display: inline-block;
  width: 54%;
  margin-left: 2%;
}

.questHolder .question {
  position: relative;
  display: block;
  background: #5bc2a7;
  box-shadow: 0 10px 10px -10px #383838;
  padding: 10px 20px;
  text-align: center;
}

.questHolder .ans li {
  position: relative;
  display: block;
  border: 1px solid #ffcf53;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.questHolder .ans ul .opts {
  background: #ffcf56;
  box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #ffcf56;
  cursor: pointer;
}

.questHolder .ans ul .opts:hover {
  background: #3186ca;
  box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #3186ca;
  color: #fff;
}

.questHolder .ans ul .wrong {
  background: #f26963;
  box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #f26963;
  color: #fff;
  box-shadow: none;
}

.questHolder .ans ul .right {
  background: #006400;
  box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #006400;
  color: #fff;
  box-shadow: none;
}

.questHolder .ans ul .wrongFound {
  box-shadow: 0 0 0 5px #fff, 0 0 9px 7px #ffff00;
  cursor: pointer;
}

.popHolder .showAns {
  position: absolute;
  z-index: 10;
  background: rgba(151, 227, 208, 1);
  color: #000;
  width: 80%;
  text-align: center;
  font-size: 1em;
  top: 98%;
  left: 10%;
  box-shadow: 0 -10px 10px -10px #383838;
  padding: 5px;
  display: none;
}

.clickedAlready {
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  width: 40%;
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 1%;
  left: 30%;
  box-shadow: 0 -10px 10px -10px #383838;
  display: none;
}

.lastPop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 40;
  display: none;
  padding-top: 10%;
}

.wrapPop {
  margin: auto;
  padding: 10px;
  width: 60%;
  text-align: center;
  background: #fff;
}

.wrapPop .msg {
  font-size: 1.3em;
  display: block;
  background: #ffcf56;
  margin: 10px;
  color: #006400;
  padding: 5px 15px;
}

.wrapPop .glyphicon-repeat {
  display: inline-block;
  font-size: 2em;
  color: #006400;
  cursor: pointer;
}
