.tesellation {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #d4f7f5;
  box-shadow: inset 0 0 150px #63c2ce;
}

.tesellation,
.tesellation * {
  position: relative;
  margin: 0;
  padding: 0;
}

.nextBtn {
  cursor: pointer;
  position: absolute;
  color: darkgreen;
  font-size: 2em;
  z-index: 100;
  right: 20%;
  /*bottom: 1%;*/
  top: 85%;
  right: 2%;
  display: none;
}

.nextBtn:hover {
  color: lightgreen;
}

.title {
  font-size: 1.6em;
  width: 100%;
  height: 20%;
  /*background: #000;*/
  color: #4059ad;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.board {
  width: 100%;
}

.first {
  width: 100%;
  /*background: #000;*/
}

.first .desc {
  width: 85%;
  font-size: 1.3em;
  margin: auto;
}

.first .images4 {
  width: 96%;
  margin: auto;
}

.first .imgFirst {
  /*margin-top: 5%;*/
  width: 23%;
  display: inline-block;
  background: #fff;
  box-shadow: 0 10px 10px 0 #383838;
}

.first #img1 {
  margin-top: 03%;
}

.first #img2 {
  margin-left: 1%;
  margin-top: 3%;
}

.first #img3 {
  margin-left: 1%;
  margin-top: 3%;
}

.first #img4 {
  margin-left: 1%;
  margin-top: 3%;
}

.second {
  margin-top: 5%;
  width: 100%;
  /*background: #000;*/
  text-align: center;
}

.second .mainImg {
  width: 50%;
  box-shadow: 0 10px 15px 0 #383838;
}

.second .btnImg {
  width: 100%;
  margin: auto;
  margin-top: 4%;
  font-size: 1.3em;
  color: red;
}

.second .btnObj {
  width: 10%;
  background: #fff;
  cursor: pointer;
  background: yellow;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 15px #c9c900;
}

/*hexasquare*/
.hexaSquareDrag {
  width: 100%;
  /*background: #000;*/
}

.hexaSquareDrag .image1,
.hexaSquareDrag .arrow {
  position: absolute;
}

.hexaSquareDrag .image1 img {
  width: 40%;
}

.hexaSquareDrag .image1 {
  top: 10%;
  left: 15%;
  z-index: 5;
  cursor: move;
}

.hexaSquareDrag .arrow img {
  width: 20%;
  transform: rotate(270deg);
}

.hexaSquareDrag .arrow {
  top: 20%;
  left: 25%;
  z-index: 1;
}

.hexaSquareDrag .text1 {
  margin-top: 5%;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
}

.hexaSquareDrag .dropholder {
  padding: 10px;
  margin: auto;
  margin-top: 3%;
  width: 44%;
  height: 70%;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #383838, inset 0 0 10px 3px #c9c9c9;
}

.hexaSquareDrag .dropholder img {
  width: 100%;
  height: 100%;
  display: none;
}

/*tri square*/
.triSquareDrag {
  width: 100%;
  /*background: #000;*/
}

.triSquareDrag .image1,
.triSquareDrag .arrow {
  position: absolute;
}

.triSquareDrag .image1 img {
  width: 40%;
}

.triSquareDrag .image1 {
  top: 10%;
  left: 15%;
  z-index: 5;
  cursor: move;
}

.triSquareDrag .arrow img {
  width: 20%;
  transform: rotate(270deg);
}

.triSquareDrag .arrow {
  top: 20%;
  left: 25%;
  z-index: 1;
}

.triSquareDrag .text1 {
  margin-top: 5%;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
}

.triSquareDrag .dropholder {
  padding: 10px;
  margin: auto;
  margin-top: 3%;
  width: 52%;
  height: 70%;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #383838, inset 0 0 10px 3px #c9c9c9;
}

.triSquareDrag .dropholder img {
  width: 100%;
  height: 100%;
  display: none;
}

/*************************/
/*tri and square*/
.SquareTriDrag {
  width: 100%;
  /*background: #000;*/
}

.SquareTriDrag .image1,
.SquareTriDrag .arrow {
  position: absolute;
}

.SquareTriDrag .image1 img {
  width: 40%;
}

.SquareTriDrag .image1 {
  top: 10%;
  left: 15%;
  z-index: 5;
  cursor: move;
}

.SquareTriDrag .arrow img {
  width: 20%;
  transform: rotate(270deg);
}

.SquareTriDrag .arrow {
  top: 20%;
  left: 25%;
  z-index: 1;
}

.SquareTriDrag .text1 {
  margin-top: 5%;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
}

.SquareTriDrag .dropholder {
  padding: 10px;
  margin: auto;
  margin-top: 3%;
  width: 45%;
  height: 70%;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #383838, inset 0 0 10px 3px #c9c9c9;
}

.SquareTriDrag .dropholder img {
  width: 100%;
  height: 100%;
  display: none;
}

/************************/
.repeatHolder {
  position: absolute;
  top: 67%;
  right: 2%;
  width: 24%;
  z-index: 10;
  cursor: pointer;
  background: green;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

.repeatHolder .pull-right {
  padding-top: 10px;
  font-size: 1.6em;
}

.repeatHolder:hover {
  color: yellow;
}

.football .fblQuest {
  margin: auto;
  margin-top: 7%;
  padding: 10px;
  width: 70%;
  text-align: center;
  background: yellow;
  border-radius: 20px / 40px;
  font-size: 1.3em;
  box-shadow: 0 8px 6px -6px black, inset 0px 10px 10px #f4e47a;
}

.football .midfootball {
  width: 100%;
  margin-top: 1%;
  text-align: center;
}

.football .midfootball .fblAnime {
  width: 20%;
  margin-right: 1%;
  display: inline-block;
}

.football .midfootball .ans {
  width: 73%;
  display: inline-block;
  text-align: justify;
  background: #fff;
  color: #2d3451;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: 0 10px 10px #383838;
}

.football .midfootball .ans img {
  margin: auto;
  float: right;
}
