.tesellation {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #d4f7f5;
  box-shadow: inset 0 0 150px #63c2ce;
}

.tesellation,
.tesellation * {
  position: relative;
  margin: 0;
  padding: 0;
}

.nextBtn {
  cursor: pointer;
  position: absolute;
  color: darkgreen;
  font-size: 2em;
  z-index: 100;
  right: 20%;
  /*bottom: 1%;*/
  top: 85%;
  right: 2%;
  display: none;
}

.nextBtn:hover {
  color: lightgreen;
}

.title {
  font-size: 1.6em;
  width: 100%;
  height: 20%;
  /*background: #000;*/
  color: #4059ad;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.board {
  width: 100%;
}

.first {
  width: 100%;
  text-align: center;
}

.first .desc {
  margin: auto;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 80%;
  background: #f2f2f2;
  box-shadow: 0 10px 10px 0 #383838;
}

.first .images {
  vertical-align: top;
  width: 96%;
  /*background: #000;*/
  margin: auto;
}
.first .images img {
  vertical-align: top;
  width: 35%;
  margin-left: 1%;
  display: inline-block;
  background: #fff;
  box-shadow: 0 10px 10px 0 #383838;
  right: 29%;
}

.first .images .nextHalf {
  text-align: left;
  width: 60%;
  display: inline-block;
}

.first .images .nextHalf #img1 {
  width: 66%;
}

.first .images .nextHalf #img2 {
  margin-top: 3%;
  width: 40%;
}

.first .images .nextHalf #img4 {
  margin-top: 3%;
  width: 56%;
  /*display: none;*/
}

.allIcong {
  margin: auto;
  width: 85%;
  height: 60%;
  /*background: #000;*/
}
.desc2 {
  width: 60%;
  margin: auto;
  text-align: center;
  opacity: 0;
}
.allIcong .icons {
  position: absolute;
  width: 15%;
  background: #fff;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 0 0 5px #c9c9c9, 0 10px 10px #383838;
  cursor: pointer;
  display: none;
}

.allIcong .icons img {
  width: 100%;
  /*background: #000;*/
}

.allIcong #ico1 {
  bottom: 10%;
  left: 0;
}

.allIcong #ico2 {
  bottom: 40%;
  left: 40%;
}

.allIcong #ico3 {
  bottom: 30%;
  left: 80%;
}

.allIcong #ico4 {
  top: 107%;
  left: 80%;
}

.allIcong #ico5 {
  bottom: 60%;
  left: 20%;
}

.allIcong #ico6 {
  bottom: 0%;
  left: 60%;
}

.popUpLast .clsBtn {
  position: absolute;
  right: -40px;
  top: -10px;
  z-index: 10;
  cursor: pointer;
}

.popUpIcon {
  position: relative;
  width: 60%;
  /*background: rgba(255,255,255,0.6);*/
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.popUpIcon .clsBtn {
  position: absolute;
  /*margin-right: -105%;*/
  /*margin-top: -5%;*/
  top: 5%;
  right: 10%;
  color: rgba(22, 251, 8, 1);
  font-size: 2em;
  z-index: 10;
  cursor: pointer;
}

.popUpIcon .text1 {
  margin: auto;
  width: 96%;
  font-size: 1.3em;
  /*border-bottom: 1px dashed #9DDDE2;*/
  margin-bottom: 10px;
}

.popUpIcon .images img {
  width: 100%;
}
.popUpIcon .images {
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  background: #fff;
  box-shadow: 0px 10px 10px #383838;
}
