<!--
    Title : properties of metal
 -->
<script type="text/javascript">

    $cssLoader("css/page5.metalnonmetal.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="metalnonmetal">

    <div class="nextBtn"></div>

    <div class="board">

    </div>
</div>

<script type="text/x-handlebars-template" id="first-template">
	<div class="exception">
		<img src="images/funfact/funfact1.png" alt="">
		<span>{{{exception}}}</span>
	</div>
	<div class="introText">{{textIntro}}</div>
	<div class="subtitle">{{subtitle}}</div>
	<div class="wrapImg">
		<div class="holder1">
			<div class="imgAdd"><img src="{{img1}}" title="{{name1}}">
			</div>
			<span class="fullText">{{{text1}}}</span>
		</div>
		<div class="holder2">
			<div class="imgAdd"><img src="{{img2}}" title="{{name2}}">
			</div>
			<span class="fullText">{{{text2}}}</span>
		</div>
		<div class="holder3">
			<div class="imgAdd"><img src="{{img3}}" title="{{name3}}">
			</div>
			<span class="fullText">{{{text3}}}</span>
		</div>
	</div>
</script>

<script type="text/x-handlebars-template" id="second-template">
	<div class="magnetic">{{{magnetic}}}</div>
	<div class="imgMagnet"><img src="{{imgMagnet}}" alt=""></div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page5.metalnonmetal.js");
</script>