<!--
    Title : metal and non metals
    examples of metals
 -->
<script type="text/javascript">
    $cssLoader("css/page1.metalnonmetal.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>
<div class="metalnonmetal">
	
    <div class="nextBtn"></div>
	
	<div class="board">

	</div>

</div>

<script type="text/x-handlebars-template" id="first-template">
    <div class="introText">{{introText}}</div>
</script>

<script type="text/x-handlebars-template" id="second-template">
    <div class="imgSlide"><img src="{{imgEg}}" alt="imgEg"> </div>
    <div class="info">{{infotext}}</div>
</script>

<script type="text/x-handlebars-template" id="last-template">
    <div class="wrapAll">
        <div class="lastText">{{lastText}}</div>
        <div class="someDesc">{{someDesc}}</div>
        <div class="smallImg">
            {{#each imgs}}
                <img src="{{this}}" alt="">
            {{/each}}
        </div>
    </div>
</script>

    <!-- <div class="wrapAll">
        <div class="pop"><img src="{{popImg}}" alt=""></div>
        <div class="smallImg">
            {{#each imgs}}
                <img src="{{this}}" alt="">
            {{/each}}
        </div>
    </div> -->

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page1.metalnonmetal.js");
</script>