html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

p{
    margin: 0;
}

@font-face {
    font-family: sniglet;
    src: url("../../../../../fonts/sniglet/sniglet-regular.otf");
}

.contentwithbg {
    width: 100%;
    height: 100%;
    background: url("../images/introduction-slide.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nextBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 7%;
    height: 10%;
}

.prevBtn {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 7%;
    height: 10%;
}

.myNextStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myNextStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
    cursor: pointer;
    background-image: url("../../../../../images/arrows/arrow_prev.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.myPrevStyle:hover {
    background-image: url("../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
    background-image: url("../../../../../images/arrows/arrow_active_prev.png");
}

.board {
    position: relative;
    top: 0%;
    left: 0%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.vertical-horizontal-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.vertical-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}

.coverboardfull {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.generalTemplateblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    font-family: sniglet;
    /*border   : 1px solid red; */
}

div.headerblock {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20%;
    background-color: #E3D0DA;
    color: #CE00A7;
    
    /*border   : 1px solid red;*/
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
    top: 20%;
    height: 80%;
    position: absolute;
    width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
    top: 0%;
    height: 100%;
}

div.firstpage{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.fiftypage{
    position: relative;
    height: 50%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}


div.imageblock {
    position: relative;
    height: 100%;
    width: 100%;
    /*border     : 1px solid green; */
}

.maincontainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    box-shadow: inset 0 0 30px #f2f2f2;
}


.s1card1 {
    height: 20%;
    width: 50%;
    background: #8C5CA6;
    animation: card2ani 3s ease-out forwards;
    position: absolute;
    top: 0%;
    left: 0%;
}

.s1card2 {
    height: 20%;
    display: inline-block;
    width: 50%;
    background: #19B4A2;
    animation: card2ani 3s ease-out forwards;
    position: absolute;
    bottom: 0%;
    right: 0%;
}


.s2card1 {
    height: 100%;
    width: 50%;
    background: #8C5CA6;
    animation: card2ani2 3s ease-out forwards;
    position: absolute;
    top: 0%;
    left: 0%;
}

.s2card2 {
    height: 100%;
    width: 50%;
    background: #19B4A2;
    animation: card2ani2 3s ease-out forwards;
    position: absolute;
    top: 0%;
    right: 0%;
}


@keyframes card2ani{
    to{
        height: 100%;
    }
}

@webkit-keyframes card2ani{
    to{
        height: 100%;
    }
}

@keyframes card2ani2{
    to{
        height: 15%;
    }
}

@webkit-keyframes card2ani2{
    to{
        height: 15%;
    }
}

.slideslide {
    color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    font-size: 6.2vmin;
    font-weight: bold;
    width: 100%;
}

.middleheader {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 19%;
    left: 50%;
    background: #FE525E;
    padding: 1.5% 4%;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 0px 0px 25px 25px;
}

.card1 {
    width: 50%;
    height: 79%;
    float: left;
    position: absolute;
    border-right: 1px solid #ccc;
    bottom: 0;
}


.card2 {
    width: 50%;
    height: 79%;
    right: 0%;
    float: right;
    border-left: 1px solid #ccc;
    position: absolute;
    bottom: 0;
}

.insidetext {
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 10%;
    font-size: 2.2vw;
    width: 81%;
}

.upperimg {
    width: 30%;
}

.forthree {
    width: 30%;
    display: inline-block;
}

.forone {
    width: 100%;
    display: inline-block;
}

.threeimages {
    height: 25%;
}

.onlyone {
    height: 60%;
}

.captioncaption {
    margin: 4%;
    font-size: 1.2em;
}

.insideimgtext {
    color: #8C5CA6;
    font-weight: bold;
    margin-top: 10%;
}

.singleline {
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    margin-top: 1%;
}

.slfirst{
    margin-top: 10%;
}    


.singleline > *{
    display: inline;
    flex: 2;
}


.singleline > img{
    height: 100%;
    flex: 0.7;
}

.slmiddlecap {
    background: #FE525E;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 1.5% 4%;
    line-height: 3em;
    flex: 0.2;
}