<!--
    Title : exponential
    May be small documentation
 -->
  <script type="text/javascript"
src="js/jquery-ui1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    $cssLoader("exercise/css/page3.profitloss02.css");
    $cssLoader("css/sweetalert.css");
</script>
<script>

function isNumber(evt)
{
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46){
    	swal("Please enter only numbers!!");
    	return false;
    }
    return true;
}

</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
        hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
	<div class="lokhar"><img src="activity/grade8/math/math_unitary_02/image/your.png"/></div>
        <div class="titles">
            <div class="yourTurn"> {{yourTurn}}</div>
            <div class="qTitle">{{qTitle}}
            </div>
        </div>
        <div class="qaArea"></div>
    </div>
</script>

<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{baseString1}} = </span><span class="suffix">{{currency1}}</span><input type="text"  class="base1"   onkeypress="return isNumber(event)">
            <span class="check1"></span>
			
			<span class="baseString">{{baseString2}} = </span><span class="suffix">{{currency2}}</span><input type="text" class="base2"   onkeypress="return isNumber(event)">
            <span class="check2"></span>
			
			<span class="baseString">{{baseString3}} = </span><span class="suffix">{{currency3}} </span><input type="text" class="base3"   onkeypress="return isNumber(event)"> 
            <span class="check3"></span>
			</br></br>
			<span class="baseString">{{baseString4}} = </span><span class="suffix">{{currency4}}</span> <input type="text" class="base4"   onkeypress="return isNumber(event)"> 
            <span class="check4"></span>
			
			

            <span class="showAns">
                <span class="ans">{{answer}}:<br/> {{baseString1}} = Rs. {{ans1}},
					{{baseString2}} = Rs. {{ans2}},
					{{baseString3}} = Rs. {{ans3}}, 
					{{baseString4}} = Rs. {{ans4}}
					
				</span>
                <span class="baseString"></span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>


<script type="text/x-handlebars-template" id="qaArea1-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{couter}})</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString">{{baseString1}} = </span>  <input type="text" class="base1"  onkeypress="return isNumber(event)">
            <span class="check1"></span>
			
			<span class="baseString">{{baseString2}} = </span>  <input type="text" class="base2"  onkeypress="return isNumber(event)">
            <span class="check2"></span>
			
			<span class="baseString">{{baseString3}} = </span>  <input type="text" class="base3"  onkeypress="return isNumber(event)"> 
            <span class="check3"></span>
			
			
			

            <span class="showAns">
                <span class="ans">{{answer}}:<br/> {{baseString1}} = Rs. {{ans1}},
					{{baseString2}} = Rs. {{ans2}},
					{{baseString3}} = Rs. {{ans3}} 
					
					
				</span>
                <span class="baseString"></span>
            </span>

        </div>
        <div class="clicks">
            <span class="check" data-cls="{{couter}}">{{check}}</span>
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("exercise/js/page3.profitloss02.js");
    
    $jsLoader("js/sweetalert.min.js"); 
</script>