<!--
    Title : exponential
    May be small documentation
 -->
  <script type="text/javascript"
src="js/jquery-1.9.1.js"></script>

<script type="text/javascript"
src="activity/grade8/math/math_profit_loss_02/js/flip.js"></script>

<script type="text/javascript">
    $cssLoader("css/page2.profitloss02.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro5-template">

	<div class="wrapperIntro {{justClass}} fifth">
        <div class="main-bg1">
		<img src="activity/grade8/math/math_interest_02/image/page1/coverpage.png" class="img-responsive"/>
		</div>


		<div class="title1">{{title1}}</div>
		<div class="title2">{{title2}}</div>

    </div>
</script>
<!--slide1-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

		<div class="bubble1">
		</div>
		<div class="bubble2">
		</div>

		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>


			</div>

			<div class="char-b">
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>

			</div>

		</div>
    </div>
</script>

<!--end of slide1-->



<!--slide2-->

<script type="text/x-handlebars-template" id="intro2-template">
	<div class="wrapperIntro {{justClass}} sec">
            <div class="text0">{{{title}}}</div>
		<div id="card1">
			<div class="frontFirst">
				{{CPTitle}}
			</div>
			<div class="backFirst">
				<span class="title-1">{{CPTitle}}</span></br>
				<span class="desc">{{CPDesc}}<span class="orange">{{CPDesc_1}}</span>{{CPDesc_2}}<span class="orange">{{CPDesc_3}}</span></span>
			</div>
		</div>

		<div id="card2">
			<div class="frontSecond">
				{{SPTitle}}
			</div>
			<div class="backSecond">
				<span class="title-1">{{SPTitle}}</span><br>
				<span class="desc">{{SPDesc}}<span class="blue">{{SPDesc_1}}</span></span>
			</div>
		</div>

		<div id="card3">
			<div class="frontThird">
				{{MPTitle}}
			</div>
			<div class="backThird">
				<span class="title-1">{{MPTitle}}</span> <br>
				<span class="desc">{{MPDesc}}<span class="orange">{{MPDesc_1}}</span>{{MPDesc_2}}</span>
			</div>
		</div>

		<div id="card4">
			<div class="frontFourth">
				{{DisTitle}}
			</div>
			<div class="backFourth">
				<span class="title-1">{{DisTitle}}</span> </br>
				<span class="desc">{{DisDesc1}}<span class="blue">{{DisDesc1_1}}</span>{{DisDesc1_2}}</br>
				{{DisDesc2}}</br>
				<span class="thirdDesc">{{DisDesc3}}</span></br>
				<div class="grayborder">
					<span class="fourthDesc">{{DisDesc4}}</span></br>
					<span class="fifthDesc">{{DisDesc5}}</span></br>
				</span>
				</div>
			</div>
		</div>
   	 </div>
</script>

	</div>



<!--end of slide2-->

<!-------------------------------------------------------------------------------------------------->
<!--slide3-->
<script type="text/x-handlebars-template" id="intro3-template">
    <div class="wrapperIntro {{justClass}}">
		{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		<div class="bubble1">
			</div>

		<div class="row char-holder">

			<div class="char-a">
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			</div>

		</div>
    </div>
</script>

<!--end of slide3-->
<!--slide 4-->


<script type="text/x-handlebars-template" id="intro4-template">

<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
</div>
</script>

<!-- end of slide 4-->





<!-- js loader starts -->
<script type="text/javascript">
	$jsLoader("js/page2.profitloss02.js");
</script>
