<!--
    Title : exponential
    May be small documentation
 -->
 
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>


<script type="text/javascript"
src="activity/grade8/math/math_profit_loss_02/js/flip.js"></script>
<script type="text/javascript">
    $cssLoader("css/page8.profitloss02.css");
    $cssLoader("css/animation.css");
	$cssLoader("css/jqmath-0.4.0.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!--slide1-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        <div id="card1"> 
			<div class="frontFirst"> 
				{{PTitle}}
			</div> 
			<div class="backFirst">
				<span class="title1">{{PTitle}}</span> </br>
				<span class="desc">
				<span class="firstDesc">{{PDesc1}}</span></br>
				<span class="secondDesc"><i>{{PDesc2}}</i></span></br></br>
				<div class="thirdtDesc">
				<span class="">
									<p class="sentence">
										 {{PDesc3}}
										<span class="fraction">
											<em class="numerator">{{PDesc3_1}}</em>
											<strong class="denominator">{{LDesc3_2}}</strong>
										</span>
										{{{LDesc3_3}}}
									</p>
								
				</span>
			</div></br></br>
				</span>
			</div> 
		</div>

		<div id="card2"> 
			<div class="frontSecond"> 
				{{LTitle}}
			</div> 
			<div class="backSecond">
				<span class="title2">{{LTitle}}</span> </br>
				<span class="desc">
				<span class="firstDesc">{{LDesc1}}</span></br>
				<span class="secondDesc"><i>{{LDesc2}}</i></span></br></br>
				<div class="thirdtDesc">
					
										
										
				<span class="">
									<p class="sentence">
										{{LDesc3}}
										<span class="fraction">
											<em class="numerator">{{LDesc3_1}}</em>
											<strong class="denominator">{{LDesc3_2}}</strong>
										</span>
										{{{LDesc3_3}}}
									</p>
								
				</span>
				
				
</div></br></br>
				</span>
			</div> 
		</div>
    </div>
</script>

<!--end of slide1-->



<!--slide2-->
<script type="text/x-handlebars-template" id="intro2-template">
     <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}

    </div>
</script>




<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->






<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page8.profitloss02.js");
</script>