<!--
    Title : exponential
    May be small documentation
 -->
  <script type="text/javascript"
src="js/jquery-1.9.1.js"></script>

<script type="text/javascript"
src="activity/grade8/math/math_profit_loss_02/js/flip.js"></script>

<script type="text/javascript">
    $cssLoader("css/page4.profitloss02.css");
    $cssLoader("css/animation.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<!--slide1-->
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<div class="bub1">
		</div>
			
		<div class="bub2">
		</div>
		
		<div class="row char-holder">
		
			<div class="char-a">
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-02.png" class="squirrel-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-03.png" class="squirrel-talking03 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-listening-01.png" class="squirrel-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-listening-02.png" class="squirrel-listening02 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-listening-03.png" class="squirrel-listening03 img-responsive"/>
			</div>
			
			<div class="char-b">
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-listening-01.png" class="boy-listening01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-talking-01.png" class="boy-talking01 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-talking-02.png" class="boy-talking02 img-responsive"/>
			<img src="activity/grade8/math/math_profit_loss_02/image/boy-talking-03.png" class="boy-talking03 img-responsive"/>
			</div>
        
		</div>
    </div>
</script>

<!--end of slide1-->



<!--slide2-->
<script type="text/x-handlebars-template" id="intro2-template">
     <div class="wrapperIntro {{justClass}} sec">
        <div id="card1"> 
			<div class="frontFirst"> 
				{{PTitle}}
			</div> 
			<div class="backFirst">
				<span class="title1">{{PTitle}}</span> </br>
				<span class="desc">
				<span class="firstDesc">{{PDesc1}}</span></br>
				<span class="secondDesc">{{PDesc2}}</span></br></br>
				<span class="thirdtDesc"><i>{{PDesc3}}</i></span></br></br>
				<span class="fourthDesc">{{PDesc4}}</span></br>
				<span class="fifthDesc"><i>{{PDesc5}}</i></span></br>
				<span class="sixthDesc">{{PDesc6}}</span></br>
				</span>
			</div> 
		</div>

		<div id="card2"> 
			<div class="frontSecond"> 
				{{LTitle}}
			</div> 
			<div class="backSecond">
				<span class="title2">{{LTitle}}</span> </br>
				<span class="desc">
				<span class="firstDesc">{{LDesc1}}</span></br>
				<span class="secondDesc">{{LDesc2}}</span></br></br>
				<span class="thirdtDesc"><i>{{LDesc3}}</i></span></br></br>
				<span class="fourthDesc">{{LDesc4}}</span></br>
				<span class="fifthDesc"><i>{{LDesc5}}</i></span></br>
				<span class="sixthDesc">{{LDesc6}}</span></br>
				</span>
			</div> 
		</div>
    </div>
</script>




<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->

<!--slide3-->
<script type="text/x-handlebars-template" id="intro3-template">
     <div class="wrapperIntro {{justClass}}">
		{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		<div class="bubble1">
			</div>
		
		<div class="row char-holder">
		
			<div class="char-a">
			<img src="activity/grade8/math/math_profit_loss_02/image/squirrel-talking-01.png" class="squirrel-talking01 img-responsive"/>
			</div>
			
		</div>
    </div>
</script>

<!--end of slide3-->
<!--slide 4-->


<script type="text/x-handlebars-template" id="intro4-template">
	
<div class="wrapperIntro {{justClass}}">
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
</div>
</script>

<!-- end of slide 4-->





<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page4.profitloss02.js");
</script>