.pageContainer
{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;	
	padding: 1% 3%;
	background:#fff;
	
	
	
}

.arrowcls
{

	color:black;
	
text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

.crosscls
{
	color:darkred;
	
	text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

#nextbtn:hover #activityNextHoverBtn,
#prevbtn:hover #activityPrevHoverBtn
{
	display: block;
}
#nextbtn:hover #activityNextBtn,
#prevbtn:hover #activityPrevBtn
{
	display: none;
}

#closeImgbtn:hover #closeBtn
{
	display: none;
}

#closeImgbtn:hover #closeHoverBtn
{
	display: block;
}
