.activity_container {
    width      : 100%;
    height     : 100%;
    position   : relative;
    overflow   : hidden;
    background : #fff;
    box-shadow : inset 0 0 30px #f2f2f2;
}

.activity_container, .activity_container * {
    position : relative;
    margin   : 0;
    padding  : 0;
}

.nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
	z-index: 10000;
}

.myNextStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myNextStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover.png");
}

.myNextStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active.png");
}

.myPrevStyle {
	cursor: pointer;
	background-image: url("../../../../../../images/arrows/arrow_prev.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPrevStyle:hover {
	background-image: url("../../../../../../images/arrows/arrow_hover_prev.png");
}

.myPrevStyle:active {
	background-image: url("../../../../../../images/arrows/arrow_active_prev.png");
}

.board {
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	height: 100%;
	width: 100%;
    font-family: amaranth;
}

@font-face {
    font-family: amaranth;
    src: url("../fonts/amaranath/amaranth-regular.ttf");
}

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

div.generalTemplateblock[data-templatecontains='hasheaderblock'] div.contentblock {
	top: 20%;
	height: 80%;
	position: absolute;
	width: 100%;
}

div.generalTemplateblock[data-templatecontains='hasonlycontent'] div.contentblock {
	top: 0%;
	height: 100%;
}
.contentblock{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.exerciseblock{
	position: relative;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	font-family: sniglet;
}
.scoreboard_rhino~.board>.generalTemplateblock>.contentblock>.exerciseblock{
	margin-top: 5%;
}

/*----------------------------------------------
 * ------ css specific for this exercise -------
 * ---------------------------------------------*/


.mainbg{
	background-color: #FFE599;
}
.ex-number-template-score {
	top: 2vmin;
	right: 2vmin;
}
.instruction{
	position: absolute;
	top: 3%;
	width: 45%;
	left: 2%;
	text-align: left;
}
.question{
	position: absolute;
	top: 14%;
	width: 50%;
	left: 0%;
	text-align: center;
}

.drag-block{
	position: absolute;
	top: 25%;
	left: 0%;
	height: 65%;
	width: 50%;
	padding: 5%;
}

.drag-number{
	cursor: grab;
	position: absolute;
	background-color: #EEEEEE;
	border-radius: 1vmin;
	border: 0.3vmin solid black;
	width: 15%;
	height: 15%;
	font-size: 3vw;
	transform: translateX(-50%);
}
.drag-number:hover{
	transform: translateX(-50%) scale(1.05);
}
.drag-number>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dr-1, .dr-4, .dr-7, .dr-10{
	left: 20%;
}
.dr-2, .dr-5, .dr-8, .dr-11{
	left: 50%;
}
.dr-3, .dr-6, .dr-9, .dr-12{
	left: 80%;
}
.dr-1, .dr-2, .dr-3{
	top: 0%;
}
.dr-4, .dr-5, .dr-6{
	top: 25%;
}
.dr-7, .dr-8, .dr-9{
	top: 50%;
}
.dr-10, .dr-11, .dr-12{
	top: 75%;
}

.corincor-img{
	position: absolute;
	left: 105%;
	height: 80%;
	bottom: 10%;
}
.right-partition{
	position: absolute;
	width: 50%;
	left: 50%;
	top: 0%;
	height: 100%;
	background-color: #A4C2F4;
}

@media (min-aspect-ratio:4/3){
	.drag_number{
		font-size: 4.5vh;
	}
}

/*---------- for clock part ----------*/
.clockblock{
	position: absolute;
	width: 40%;
	height: 66.6%;
}
.clockbody{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 1;
}
.clocktext{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	z-index: 2;
}
.hr-hand{
	position: absolute;
	top: 48%;
	width: 17%;
	left: 48%;
	height: 4%;
	background-color: #287535;
	border-bottom-right-radius: 8.7% 50%;
	border-bottom-left-radius: 8.7% 50%;
	border-top-right-radius: 8.7% 50%;
	border-top-left-radius: 8.7% 50%;
	z-index: 7;
	transform-origin: 10% center;
	filter: drop-shadow(0px 0px 1px black);
}
.min-hand{
	position: absolute;
	top: 48%;
	width: 27.5%;
	left: 48%;
	height: 4%;
	background-color: #BB1038;
	z-index: 6;
	transform-origin: 8% center;
	border-bottom-right-radius: 8.7% 50%;
	border-bottom-left-radius: 8.7% 50%;
	border-top-right-radius: 8.7% 50%;
	border-top-left-radius: 8.7% 50%;
	filter: drop-shadow(0px 0px 1px black);
}
.dottedhand{
	position: absolute;
	top: 49%;
	width: 42%;
	left: 50%;
	height: 0;
	z-index: 6;
	padding:0;
	margin: 0;
	transform-origin: 0% center;
	border-bottom: 0.5vmin dashed red;
	border-top: 0.5vmin dashed red;
}
.center-dot{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3%;
	height: 3%;
	background-color: #EBE837;
	z-index: 8;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.clock-ex{
	top: 18%;
	left: 55%;
	width: 40%;
	height: 66.4%;
}


.hr-12{
	transform: rotate(-90deg);
}
.hr-11{
	transform: rotate(240deg);
}
.hr-10{
	transform: rotate(210deg);
}
.hr-9{
	transform: rotate(180deg);
}
.hr-8{
	transform: rotate(150deg);
}
.hr-7{
	transform: rotate(120deg);
}
.hr-6{
	transform: rotate(90deg);
}
.hr-5{
	transform: rotate(60deg);
}
.hr-4{
	transform: rotate(30deg);
}
.hr-2{
	transform: rotate(-30deg);
}
.hr-1{
	transform: rotate(-60deg);
}


.hmin-12{
	transform: rotate(-90deg);
}
.hmin-9{
	transform: rotate(82.5deg);
}
.hmin-6{
	transform: rotate(-45deg);
}
.hmin-4{
	transform: rotate(220deg);
}
.hmin-1{
	transform: rotate(122.5deg);
}



.hl-hand{
	background-color: #FFF77D;
	animation: hl-hand 1s linear infinite;
	-webkit-animation: hl-hand 1s linear infinite;
}
@-webkit-keyframes
hl-hand {
	50% {background-color: #EF9B0F;}
}
@keyframes
hl-hand {
	50% {background-color: #EF9B0F;}
}

