.thebg1{
	background: url("../images/bg04.png");
	background-size: 100% 100%;
}

.thebg2{
	background: url("../images/bg06.png");
	background-size: 100% 100%;
}

.covertext {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 71%;
  top: 45%;
  font-size: 9vmin;
  opacity: 0;
  animation: cssfadein 1s linear forwards;
  z-index: 10;
  font-family: pangolin;
  color: white;
}

.sp-1 {
  position: absolute;
  left: 25%;
  bottom: 43%;
  width: 39%;
  height: 29%;
}

.sp-2 {
  position: absolute;
  left: 16%;
  bottom: 63%;
  width: 39%;
  height: 29%;
}

 .speechbox>p{
 	transform: translateY(-50%);
 }

 .lokhar {
   position: absolute;
   transform: translateX(-50%);
   left: 75%;
   top: 53%;
   width: 29%;
 }

 .lokhar2 {
   position: absolute;
   transform: translateX(-50%);
   left: 50%;
   top: 46%;
   width: 35%;
}

 .theimgs {
   position: absolute;
   transform: translate(-50%, -50%);
   left: 25%;
   top: 44%;
   width: 41%;
   background: #538EBF;
   padding: 2%;
   border-radius: 2em;
 }

 .showit{
	 opacity: 1;
 }
