.thebg1{
	background: url("../images/bg01.png");
	background-size: 100% 100%;
}

.thebg2{
	background: url("../images/bg02.png");
	background-size: 100% 100%;
}

.thebg3{
	background: url("../images/bg03.png");
	background-size: 100% 100%;
}

.theblue{
	background: #86C8FB;
	background-size: 100% 100%;
}

.covertext {
    position: absolute;
    transform: translateX(-50%);
    left: 44%;
    width: 38%;
    top: 64%;
    font-size: 7vmin;
    opacity: 0;
    animation: cssfadein 1s linear forwards;
    z-index: 10;
    font-family: pangolin;
}

/*-------------------------
 * ------for flippers------
 * ------------------------*/
.balloon {
	position: relative;
	height: 51%;
}
.fliper-block {
  position: relative;
  top: 35%;
  left: 44.5%;
  width: 47%;
  height: 85%;
}
.flipper-block p {
	font-size: 2em;
	background-color: rgb(255,226,72);
}
.flipper {
	perspective: 1000px;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}
#present-flipper {
	text-align: left;
	cursor: pointer;
	height: 50%;
}
@keyframes slideUp {
	0% {top: 100%}
	100% {top: 10%}
}
.front h1, .back h1 {
  width: 100%;
  color: #990000;
  position: absolute;
  padding: 0.5% 0;
  margin-top: 0;
  text-align: center;
  background-color: #FFEEB0;
  border-radius: 0.55em 0.55em 0em 0em;
  font-size: 6vmin;
  padding: 2%;
}
.doFlip {
	transform: rotateX(180deg);
}
.back:after,
.front:after {
	content: '';
	height: 19%;
	width: 7%;
	background-image: url('../images/flip_arrow.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 100;
	position: absolute;
	right: 1%;
	bottom: 0%;
}
.front, .back {
	background-color: rgb(255,249,213);
	height: 100%;
	padding: 0;
	border-radius: 1em;
	/*background-color: rgb(64, 147, 195);*/
	backface-visibility: hidden;
	/*display: flex;*/
	/*justify-content: center;*/
	/*flex-flow: column;*/
	width: 100%;
	position: absolute;
}
.front {
	z-index: 2;
	transform: rotateX(0deg);
}
.back {
	z-index: 1;
	transform: rotateX(180deg);
}
.front p, .back p {
	position: absolute;
	width: 100%;
	top: 60%;
	transform: translateY(-50%);
	color: rgb(79,75,63);
	text-align: center;
	font-size: 4.5vmin;
}

.back p {
	font-family: ubuntu;
}
/*-------------------------
 * ----for flippers end----
 * ------------------------*/

 .sp-1 {
   position: absolute;
   left: 35%;
   bottom: 43%;
   width: 39%;
   height: 29%;
 }

 .sp-2 {
   position: absolute;
   left: 53%;
   bottom: 47%;
   width: 39%;
   height: 29%;
}

.sp-3 {
  position: absolute;
  left: 22%;
  bottom: 54%;
  width: 43%;
  height: 37%;
}

 .speechbox>p{
 	transform: translateY(-50%);
 }

 .lokhar {
   position: absolute;
   transform: translateX(-50%);
   left: 75%;
   top: 53%;
   width: 29%;
 }

 .lokhar2 {
   position: absolute;
   transform: translateX(-50%);
   left: 50%;
   top: 46%;
   width: 35%;
}

 .theimgs {
   position: absolute;
   transform: translate(-50%, -50%);
   left: 25%;
   top: 44%;
   width: 41%;
   background: #538EBF;
   padding: 2%;
   border-radius: 2em;
 }
