.opacity{
	animation: cssfadein 1s 2s forwards;
}
.thebg1{
	background: url("../images/bg11.png");
	background-size: 100% 100%;
}

.thebg2{
	background: url("../images/bg08.png");
	background-size: 100% 100%;
}

.thebg3{
	background: url("../images/bg10.png");
	background-size: 100% 100%;
}

.theblue{
	background: #86C8FB;
	background-size: 100% 100%;
}

.diybox{
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 70%;
}

.diyrolldown{
	animation: diyanim 1s linear forwards;
	-webkit-animation: diyanim 1s linear forwards;
}

.diyrollup{
	animation: diyupanim 1s linear forwards;
	-webkit-animation: diyupanim 1s linear forwards;
}

.formblock {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
		animation: formdown 1s linear forwards;
		-webkit-animation: formdown 1s linear forwards;
		font-size: 4vmin;
		font-family: pangolin;
		width: 60%;
}

.inpbox{
	width: 30%;
}

@keyframes diyanim {
	0%{
		bottom: 100%;
	}
	75%{
		bottom: 14%;
	}
	100%{
		bottom: 20%;
	}
}

@-webkit-keyframes diyanim {
	0%{
		bottom: 100%;
	}
	75%{
		bottom: 14%;
	}
	100%{
		bottom: 20%;
	}
}

@keyframes diyupanim {
	0%{
		bottom: 20%;
	}
	100%{
		bottom: 100%;
	}
}

@-webkit-keyframes diyupanim {
	0%{
		bottom: 20%;
	}
	100%{
		bottom: 100%;
	}
}

.covertext {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 71%;
    bottom: 120%;
    font-size: 11vmin;
    opacity: 1;
    z-index: 10;
    font-family: pangolin;
}

.battext {
    position: absolute;
    transform: translateX(-50%);
    left: 57%;
    width: 74%;
    top: 4%;
    opacity: 1;
    font-size: 4.5vmin;
}

.entertext {
    position: absolute;
    transform: translateX(-50%);
    left: 35%;
    bottom: 120%;
    font-size: 6vmin;
    opacity: 1;
    z-index: 10;
    font-family: pangolin;
}

.textrolldown{
	animation: diyte 1s linear forwards;
	-webkit-animation: diyte 1s linear forwards;
}

.textrollup{
	animation: diyupte 1s linear forwards;
	-webkit-animation: diyupte 1s linear forwards;
}

@keyframes diyte {
	0%{
		bottom: 120%;
	}
	75%{
		bottom: 34%;
	}
	100%{
		bottom: 40%;
	}
}

@-webkit-keyframes diyte {
	0%{
		bottom: 120%;
	}
	75%{
		bottom: 34%;
	}
	100%{
		bottom: 40%;
	}
}

@keyframes formdown {
	0%{
		bottom: 110%;
	}
	75%{
		bottom: 24%;
	}
	100%{
		bottom: 30%;
	}
}

@-webkit-keyframes formdown {
	0%{
		bottom: 110%;
	}
	75%{
		bottom: 24%;
	}
	100%{
		bottom: 30%;
	}
}

@keyframes diyupte {
	0%{
		bottom: 40%;
	}
	100%{
		bottom: 120%;
	}
}

@-webkit-keyframes diyupte {
	0%{
		bottom: 40%;
	}
	100%{
		bottom: 120%;
	}
}

.squeeze{
	height: 30%;
	animation: diy2anim 1s linear forwards;
	-webkit-animation: diy2anim 1s linear forwards;
}

@keyframes diy2anim {
	0%{
		bottom: 100%;
	}
	75%{
		bottom: 69%;
	}
	100%{
		bottom: 75%;
	}
}

@-webkit-keyframes diy2anim {
	0%{
		bottom: 100%;
	}
	75%{
		bottom: 69%;
	}
	100%{
		bottom: 75%;
	}
}

.textrolldown2{
	font-size: 7vmin;
	animation: diy2te 1s linear forwards;
	-webkit-animation: diy2te 1s linear forwards;
}

@keyframes diy2te {
	0%{
		bottom: 100%;
	}
	75%{
		bottom: 72%;
	}
	100%{
		bottom: 78%;
	}
}

@-webkit-keyframes diy2te {
	0%{
		bottom: 100%;
	}
	75%{
		bottom: 72%;
	}
	100%{
		bottom: 78%;
	}
}

.boy {
    position: absolute;
    width: 15%;
    transform: translateX(-50%);
    left: 75%;
    bottom: 20%;
		opacity: 0;
		animation: cssfadein 1s linear 1s forwards;
}

.girl {
    position: absolute;
    width: 15%;
    transform: translateX(-50%);
    left: 25%;
    bottom: 20%;
		opacity: 0;
		animation: cssfadein 1s linear 1s forwards;
}

.selected {
    position: absolute;
    width: 15%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 18%;
		opacity: 0;
		animation: cssfadein 1s linear forwards;
}

.nofade{
	opacity: 1;
}

.battery {
    position: absolute;
    width: 15%;
    left: 2%;
    top: 5%;
}

.letter {
    position: absolute;
    width: 53%;
    transform: translateX(-50%);
    left: 50%;
    top: 25%;
}

.letter-flip{
	transition: 0.3s;
	transform-style: preserve-3d;
	transform: translateX(-50%) rotateX(180deg);
	transform-origin: 50% 0%;

}

.forhover:hover{
	cursor: pointer;
	transform: translateX(-50%) scale(1.1);
}

.open {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    z-index: 5;
    background: #CC3333;
    padding: 2%;
    border-radius: 50%;
    font-size: 6vmin;
    color: white;
    font-family: pangolin;
		cursor: pointer;
    box-shadow: 0em 0em 0.3em black;
		animation: highopen 0.5s linear alternate infinite;
		-webkit-animation: highopen 0.5s linear alternate infinite;
}

@keyframes highopen {
	100%{
		transform: translate(-50%) scale(1.1);
	}
}

@-webkit-keyframes highopen {
	100%{
		transform: translate(-50%) scale(1.1);
	}
}

.lettertext {
    position: absolute;
    transform: translate(-50%);
    background: #F8DC75;
    left: 50%;
    top: 37%;
}

.bus {
    position: absolute;
    width: 80%;
    left: 100%;
    top: 33%;
}

.letterzoom{
	animation: zoomlet 2s linear forwards;
	-webkit-animation: zoomlet 2s linear forwards;
}

@keyframes zoomlet {
	100%{
		transform: translate(-50%) scale(1.8);
	}
}

@-webkit-keyframes zoomlet {
	100%{
		transform: translate(-50%) scale(1.8);
	}
}
