#toDo
{
	width: 100%;
	text-align: center;
	margin-bottom: 2.5%;

}


.alloption
{
	width: 100%;
	position: relative;
	height: 75%;
	

}
.box1
{
	display: inline-block;
	width: 30%;
	height: 100%;
	
	text-align: center;
	margin: 1.3%!important;

}



.polaroid {
	display: block;
	text-decoration: none;
	color: green;
	padding: 1%!important;
	width: 17%;
	border: 1px solid #BFBFBF;
	background-color: white;
	z-index: 2;
	font-size: 0.8em;
	-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);

	position: absolute!important; 
	text-align: center;
	line-height: 1;
}
.polaroid:hover,
.polaroid:focus,
.polaroid:active {
	z-index: 444;
	text-decoration: none;
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: rotate(0deg) scale(1.05);
	-moz-transform: rotate(0deg) scale(1.05);
	transform: rotate(0deg) scale(1.05);
}

.polaroid img {
	margin: 0 0 15px;
	width: 100%;
	
}

#img1
{

	right: 0%;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);

}

#img2
{
	left: 22%;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);

}

#img3
{
	left: 65%;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);

}

#img4
{
	left: 43%;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);

}

#img5
{
	left: 0%;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);

}
#img6
{
	top: 50%;
	left: 40%;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);

}


#img7
{
	left: 62%;
	top: 50%;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);

}


#img8
{
	right: 0%;
	top: 50%;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);

}



#img9
{
	left: 0%;
	top: 50%;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);

}


#img10
{
	left: 20%;
	top: 50%;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);

}

#retryBtnId{
	right: 0%;
	bottom: 0%;

cursor: pointer;
color:black;
font-size:2.5em;	
text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
width: 10%;

text-align: right;

}

#dragBox
{
	position: relative;
	width: 100%;
	height: 10%;
	margin-bottom: 0.5%;
	margin-top: -3%;
	text-align: center;
	

}
#dragBox2
{
	position: relative;
	width: 100%;
	height: 10%;
	text-align: center;
	
	
	

}
.draggable
{
	background: rgba(0, 0, 0, 0) linear-gradient(#930, #960) repeat scroll 0 0;
    border: 1px none #fcfc05;
    border-radius: 25px;
    color: #fff;
    cursor: move;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 800;
    height: 100%;
    line-height: 4;
    margin: 1% !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    text-align: center;
    z-index: 999;
	
}

#conclusion
{
	 background-color: #f5f2c7;
    bottom: 0;
    box-shadow: 2px 2px 3px -1px rgba(50, 50, 50, 0.48);
    cursor: pointer;
    display: none;
    font-size: 1.4em;
    margin-left: 10%;
    margin-top: -8%;
    padding: 1%;
    position: sticky;
    text-align: center;
    width: 78%;

}

.myNextStyle {
    cursor: pointer;
    display: none;
    height: 70px;
    position: absolute;
    right: 1%;
    top: 87%;
    width: 79px;
    z-index: 1000;
}
.summarybg{

	
  width: 100%;
  height: auto;
	
 
}

.earthw{
    left: 54%;
    
    top: 43%;

}

.humus{}

.rocks{}

.horc{
	position: absolute;
	left: 49%;
    top: 83%;}

.soilwr{}

.minerals{
	position: absolute;
	left: 18%;
    top: 45%;}

.horb{ 
	position: absolute;
	left: 49%;
    top: 58%;}

.lowlay{
	position: absolute;
	 left: 47%;
    top: 98%;}

.rodents{ 
	position: absolute;
	 left: 81%;
    top: 49%;}

.topsoil{
	position: absolute;
	left: 39%;
    top: 39%;}

.label{
	background-color: #4caf50;
    border: medium none;
    border-radius: 12px;
    color: white;
    display: inline-block;
    font-size: 16px;
  
    margin: 4px 2px;
    padding: 2px 12px;
    position: absolute;
    text-align: center;
    text-decoration: none;


}

p{
	font-size: 15px;
	font-weight: bold;
}


.electricity_activity {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 30px #f2f2f2 inset;

    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.board {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}