#exeBox {
	
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;	
	padding: 1% 3%;
	
	background:#FFFCF5;
	background:-moz-radial-gradient(#D4D2CD, transparent 3%);

	background:-webkit-radial-gradient(#D4D2CD, transparent 3%);

	background-position: 0 0, 5px 5px;

	-webkit-background-size:100px 100px;
	-moz-background-size:100px 100px;
	background-size:100px 100px;
}

#exeBox  * 
{
	position: relative;
	margin: 0;
	padding: 0;
}

#quest {
	font-size: 1.2em;
	color: #000;
	width: 100%;
	padding: 1.2%;
	margin: 5% auto;
	border-radius: 10px;
	background: rgba(255, 249, 99, 0.9);
	border: 1px solid #c9c9c9;
	color: #3A3A3A;
	text-align: center;
	height: 24%;


}

#nextBtnId
{
	width: 5%;
	
	font-size: 2.5em;
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 87%;

	display: none;

}


#retryBtnId
{
	width: 5%;
	
	font-size: 2em;
	cursor: pointer;
	position: absolute;
	
	display: none;

}

#exeBox .nextBtn{
 display: none;
    height: 10%;
    left: 93%;
    position: absolute;
    top: 88%;
    width: 6%;
    z-index: 10;
}