.mixture {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 1.3em;
  background: #fff;
  box-shadow: inset 0 0 30px #f2f2f2;
  font-family: happy_monkey, cursive;
}

.mixture,
.mixture * {
  position: relative;
  margin: 0;
  padding: 0;
}

.mixture .nextBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 7%;
  height: 10%;
}

.mixture .prevBtn {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 7%;
  height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-horizontal-center {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
}

.coverboardfull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 0.6;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.6;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
  cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  -webkit-animation: pulse 1.2s ease-out infinite;
  -moz-animation: pulse 1.2s ease-out infinite;
  animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generaltemplateblock {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  /*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.contentblock {
  position: relative;
  height: 100%;
  width: 100%;
}

.covering_topic {
  position: relative;
  width: auto;
  padding: 0.2em 0.5em;
  background-color: #a6f0ff;
  color: #524d52;
  top: 1%;
  left: 0;
  z-index: 50;
}

.textblock {
  position: relative;
  height: 100%;
  width: 100%;
}

.true_false_container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0.2em;
  margin: 2% 0%;
}

.true_false_container > p {
  padding-left: 0.5em;
  width: 74%;
  height: auto;
  position: relative;
  text-align: left;
}

#true,
#false {
  width: 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#true {
  right: 14%;
}

#false {
  right: 2%;
}

.option {
  width: 100%;
  height: auto;
  padding: 0.2em 0.3em;
  margin-top: 0.5em;
  background-color: #7285d4;
  border: 0.2em solid rgba(0, 0, 0, 0);
  color: #fff;
}

.option:hover {
  background-color: #6664c9;
  border: 0.2em solid #fabd15;
}

.option:active {
  background-color: #6664c9;
  border: 0.2em solid #fabd15;
  transform: translateY(4%);
}

.disable,
.disable:hover,
.disable:active {
  transform: translateY(0);
  background-color: #7285d4;
  border: 0.2em solid rgba(0, 0, 0, 0);
}

.correct,
.correct:hover,
.correct:active {
  background-color: #78c269;
  border: 0.2em solid #78c269;
}

.incorrect,
.incorrect:hover,
.incorrect:active {
  background-color: #f63979;
  border: 0.2em solid #f63979;
}

.closebtn1:hover {
  color: black;
}

.cong {
  background-color: #1bc402;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #000;
  color: white;
  display: none;
  font-size: 1.5em;
  left: 12%;
  margin-bottom: 15px;
  padding: 20px;
  position: absolute;
  top: 48%;
}

.closebtn1 {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (min-aspect-ratio: 4/3) {
  .covering_topic {
    font-size: 4vh;
  }

  .lowertextblock,
  .lowertextblock2,
  input,
  label {
    font-size: 3vh;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .covering_topic {
    font-size: 3.56vw;
  }

  .lowertextblock,
  .lowertextblock2,
  input,
  label {
    font-size: 2.2vw;
  }
}
