<!--
    Title :
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page_how_forecast.weatherclimate.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="weatherclimate">

    <div class="board">

    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
        <div class="title">{{text}}</div>
        <img src="{{img}}" alt="">
        <div class="desc">
        {{#each desc}}
            <div class="desc{{@index}} ">{{{this}}}</div>
        {{/each}}
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="area-template">
    <div class="wrapperArea {{anotherClass}}">
        <div class="title">{{{title}}}</div>
        <div class="instruction">{{instruction}}</div>
        <div class="instrumentHolder">
            {{#each instruments}}
                <div class="instruments">
                    <div class="title">{{{title}}}
                    </div>
                    <img src="{{img}}" alt="">

                    <div class="desc">{{{desc}}}</div>
                </div>
            {{/each}}
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page_how_forecast.weatherclimate.js");
</script>