<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page2.rational02.css");
    $cssLoader("css/animation.css");
	$cssLoader("css/jqmath-0.4.0.css");
</script>

<script src="./js/jqmath-etc-0.4.0.min.js"></script>
<link rel="stylesheet" href="./css/jqmath-0.4.0.css">
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
	
	 <div class="main-bg1">
		<img src="activity/grade8/math/math_rational_02/image/page2/clouds.jpg" class="img-responsive bg-img"/>
		</div>
	
	
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<div class="bigcloud">
		<img src="activity/grade8/math/math_rational_02/image/page2/cloud1.png" class="cloud1"/>
		</div>
		
		<div class="smallcloud">
		<img src="activity/grade8/math/math_rational_02/image/page2/cloud2.png" class="cloud2"/>
		</div>
		
		<div class="smallcloud2">
		<img src="activity/grade8/math/math_rational_02/image/page2/cloud2.png" class="cloud3"/>
		</div>
		
        
    </div>
</script>



<script type="text/x-handlebars-template" id="intro-template-title">
    <div class="wrapperIntro {{justClass}}">
	 
	
	
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        
    </div>
</script>

<script type="text/x-handlebars-template" id="intro2-template">
    <div class="wrapperIntro {{justClass}}">
	
		<div class="main-bg1">
			<img src="activity/grade8/math/math_rational_02/image/page2/clouds.jpg" class="img-responsive bg-img"/>
		</div>
		
	
	        {{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
		<div class="para">
		<img src="activity/grade8/math/math_rational_02/image/page2/para.png" class="parasuit"/>
		</div>
	
    
	</div>


</script>

<!--end of page2-->

<!-------------------------------------------------------------------------------------------------->

<!--page3-->


<script type="text/x-handlebars-template" id="intro3-template">
	
<div class="wrapperIntro {{justClass}}">
{{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
		
		<div class="bubble1">
			<!--<img src="activity/grade8/math/math_interest_02/image/bubble.png" class="img-responsive"/>-->
			</div>
			<div class="bubble2">
			<!--<img src="activity/grade8/math/math_interest_02/image/bubble2.png" class="img-responsive"/>-->
			</div>	
	
    </div>
</script>
</script>
		

</script>

<!-- end of page3-->


<!---page4--->


<script type="text/x-handlebars-template" id="intro4-template">
   <div class="wrapperIntro {{justClass}}">
   

	
		{{#each text}}
			<div class="text{{@index}}">{{{this}}}</div>
			
        {{/each}}
		
		
</script>

<!---end of page4--->



<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page2.rational02.js");
</script>