<!--
    Title : exponential
    May be small documentation
 -->
<script type="text/javascript">
    $cssLoader("css/page5.rational02.css");
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="exponential">

    <div class="board">
hello world
    </div>

    <!-- uncomment the line below for a next button on the fly -->
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>
<script type="text/x-handlebars-template" id="intro-template">
    <div class="wrapperIntro {{justClass}}">
      	<div class="lokhar">
          <img  class="youtTurnBoard"/>
          <p class="lokharkeTxt"></p>
        </div>
        {{#each text}}
            <div class="text{{@index}}">{{{this}}}</div>
        {{/each}}
        {{#if lokharke}}
            <div class="lokharke">
                <img src="{{lokharke}}" alt=""/>
                <div class="text1">{{{lokharkeText}}}
                </div>
            </div>
        {{/if}}
	<div class="qaArea"></div>
    </div>
</script>
<script type="text/x-handlebars-template" id="qaArea-template">
    <div class="q{{couter}}">
        <div class="qTitle">
            <span>Q{{counter}} )</span>
            <span class="q">{{text}}</span>
        </div>
        <div class="ansArea">
            <span class="baseString"> </span><input type="text" class="base first" value="{{terminating}}" data-cls="{{couter}}" readonly>
            <span class="check1 checkans"></span>
            <span class="powerString"></span>
            <input type="text" class="base second" value="{{recurring}}" data-cls="{{couter}}" readonly>
            <span class="check2 checkans"></span>

            <span class="showAns">
                <span class="ans">{{answer}}<br/>{{ans}}</span>
            </span>

        </div>
        <div class="clicks">
            <span class="click" data-cls="{{couter}}">{{clickToSee}}</span>
        </div>
    </div>
</script>

<!-- js loader starts -->
<script type="text/javascript">
    $jsLoader("js/page5.rational02.js");
</script>
