<script>
$cssLoader('css/shared.css');
$cssLoader('css/page2.css');
</script>

<div class="pageContainer">

<div class="headTitle"></div>

	<div id="figBox">
		
	</div>
		
	<div id="nextbtn" class="arrowcls">	</div>

	
</div>

<script>
$jsLoader('js/page5.js');

</script>


<script type="text/x-handlebars-template" id="template-1">

	<div class="drawme">
		{{#if imgs1}}
			<img src="{{img1}}" id="{{imgs1}}" class="{{clickme}}"/>
			{{#if labelobj}}
				<div class="labelObj" id="{{labelid}}">{{labelobj}}</div>
			{{/if}}
		{{/if}}

	</div>
	{{#if textObj}}
	<div class="textPlz">
		{{textObj}}
	</div>
	{{/if}}



</script>


<script type="text/x-handlebars-template" id="template-2">
<div class="template_2_box">
	
	<table class="divTab">
	<tr><td valign="middle">
	
		{{#if imgs1}}
			<img src="{{img1}}" id="{{imgs1}}" />
			
		{{/if}}
	
	</td>
	<td>
	<div class="mytextBox">
	{{#each textObj}}
			<div class="textblck">
				<span class="glyphicon glyphicon-play" ></span>{{this}}
			</div>
		{{/each}}
	</div>
	</td>
	</tr>
	</table>

	

	
</div>

</script>

