.lesson-title{
	position: absolute;
	left: 54%;
	bottom: 50.5%;
	color: black;
	width: 100%;
	z-index: 5;
	transform: translateX(-50%);
	font-size: 6vw;
	font-family: josefin sans;
}
.apple_tree {
	position: absolute;
	width: 27%;
	top: 46%;
	left: 0%;
}
.kid1{
	position: absolute;
	width: 9%;
	top: 53%;
	left: 5%;
}
.kid2{
	position: absolute;
	width: 9%;
	top: 54%;
	left: 19%;
}
.kid3{
	position: absolute;
	width: 9%;
	top: 50%;
	left: 32%;
}
.kid4{
	position: absolute;
	width: 9%;
	top: 49%;
	left: 46%;
}
.kid5{
	position: absolute;
	width: 9%;
	top: 49%;
	left: 59%;
	z-index: 10;
}
.niti11{
	position: absolute;
	width: 22%;
	top: 16%;
	left: 70%;
	z-index: 22;
}
.opt1{
	position: absolute;
	font-size: 2.2vmin;
}
.heading{
	position: absolute;
	width: 85%;
	top: 16%;
	left: 0%;
	z-index: 22;
	font-size: 4.2vmin;
	font-family: josefin sans;
	color: #1155cc;
}
.suraj{
	position: absolute;
	width: 15%;
	top: 16%;
	left: 75%;
	z-index: 22;
}
.niti01{
	position: absolute;
	width: 15%;
	top: 49%;
	left: 23%;
}
.niti02{
	position: absolute;
	width: 15%;
	top: 16%;
	left: 70%;
	z-index: 22;
}
.basket{
	position: absolute;
	width: 14%;
	top: 83%;
	left: 39%;
	z-index: 10;
}
.basket1{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 5%;
	z-index: 10;
}
.basket2{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 18%;
	z-index: 10;
}
.basket3{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 32%;
	z-index: 10;
}
.basket4{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 46%;
	z-index: 10;
}
.basket5{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 59%;
	z-index: 10;
}
.treetop{
	position: absolute;
	width: 36%;
	top: 10%;
	right: 2%;
}
.treetrunk{
	position: absolute;
	width: 15%;
	top: 46%;
	right: 13%;
}
.apple1{
	position: absolute;
	width: 6%;
	right: 17%;
	top: 14%;
}
.apple2{
	position: absolute;
	width: 6%;
	right: 23%;
	top: 24%;
}
.apple3{
	position: absolute;
	width: 6%;
	right: 27%;
	top: 35%;
}
.apple4{
	position: absolute;
	width: 6%;
	right: 12%;
	top: 24%;
}
.apple5{
	position: absolute;
	width: 6%;
	right: 17%;
	top: 35%;
}
.apple6{
	position: absolute;
	width: 6%;
	right: 7%;
	top: 34%;
}
.basketfull{
	position: absolute;
	width: 22%;
	top: 64%;
	left: 5%;
}
.info{
	position: absolute;
	top: 10%;
	font-size: 4.2vmin;
	text-align: left;
	left: 5%;
	width: 47%;
	font-family: inder;
}
.info1{
	position: absolute;
	top: 10%;
	font-size: 4.2vmin;
	text-align: left;
	left: 5%;
	width: 47%;
	font-family: inder;
}
.info2{
	position: absolute;
	top: 30%;
	font-size: 4.2vmin;
	text-align: left;
	left: 5%;
	width: 47%;
	font-family: inder;
}
.nine_apple{
	position: absolute;
	width: 22%;
	top: 64%;
	left: 73%;
}
.suraj01{
	position: absolute;
	top: 30%;
	left: 60%;
	width: 13%;
}
.bg{
	background-color: #d5f3ee;
}
.instruct{
	position: absolute;
	width: 80%;
	top: 7%;
	left: 10%;
	z-index: 22;
	font-size: 3.2vmin;
	font-family: josefin sans;
	color: black;
	text-align: left;
}
.contentbg{
	background-color: #c27ba0;
}
.niti06{
	position: absolute;
	top: 30%;
	left: 70%;
	width: 20%;
	z-index: 22;
}
.zoom_in{
	animation: zoom_in_tree .5s 3 ease-in-out forwards;
	-webkit-animation: zoom_in_tree .5s 3 ease-in-out forwards;
}
.shaking{
	animation: shakes 1s ease-in-out forwards;
	-webkit-animation: shakes 1s ease-in-out forwards;
}
@keyframes shakes {
	0%{
		transform:rotate(0deg);

	}
	10%{
		transform:rotate(-5deg);
	}
	20%{
		transform:rotate(0deg);
	}
	40%{
		transform:rotate(5deg);
	}
	50%{
		transform:rotate(0deg);
	}
	60%{
		transform:rotate(-5deg);
	}
	70%{
		transform:rotate(0deg);
	}
	80%{
		transform:rotate(5deg);
	}
	90%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(0deg);
	}
}
@-webkit-keyframes shakes {
	0%{
		transform:rotate(0deg);

	}
	10%{
		transform:rotate(-5deg);
	}
	20%{
		transform:rotate(0deg);
	}
	40%{
		transform:rotate(5deg);
	}
	50%{
		transform:rotate(0deg);
	}
	60%{
		transform:rotate(-5deg);
	}
	70%{
		transform:rotate(0deg);
	}
	80%{
		transform:rotate(5deg);
	}
	90%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(0deg);
	}
}
@keyframes zoom_in_tree {
	0%{
		transform: scale(1) rotate(0deg);
	}
	50%{
		transform: scale(1.08) rotate(0deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
}
@-webkit-keyframes zoom_in_tree {
	0%{
		transform: scale(1) rotate(0deg);
	}
	50%{
		transform: scale(1.08) rotate(0deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.left_char {
	position: absolute;
	width: 12%;
	left: 16%;
	top: 32%;
}
.right_char {
    position: absolute;
    width: 15%;
    left: 60%;
    top: 40%;
}
.textfill {
	position: relative;
	top: 39%;
	transform: translate(-50%,-25%);
	left: 54%;
	font-family: inder;
}
.dialog1, .dialog2, .dialog3, .dialog4 {
	position: absolute;
}

.dialog1 {
	width: 45%;
	height: 28%;
	top: 22%;
	left: 30%;
	font-family: sniglet;
	font-size: 2vw;
	padding: 3%;
	z-index: 22;
}
.dialog2 {
	width: 37%;
	height: 28%;
	top: 17%;
	left: 15%;
	font-family: sniglet;
	font-size: 2vw;
	padding: 3%;
	z-index: 22;
}
.dialog3 {
    width: 46%;
    height: 32%;
    top: 8%;
    left: 24%;
    font-family: sniglet;
    font-size: 1.7vw;
    padding: 3% 5% 2% 2%;
    z-index: 22;
}
.dialog5 {
	width: 35%;
	top: 31%;
	left: 35%;
	font-family: sniglet;
	font-size: 1.5vw;
	padding: 3%;
	z-index: 22;
}
.instruction{
	position: absolute;
	top: 40%;
	left: 0%;
	width: 80%;
	z-index: 22;
	font-size: 5.2vmin;
	font-family: josenfin sans;
}
.question{
	position: absolute;
	top: 49%;
	left: 0%;
	width: 80%;
	z-index: 22;
	font-size: 4vmin;
	font-family: josenfin sans;
	color: #674ea7;
}
.incorrect-answer{
	border: 0.5vmin solid #980000;
	background-color: #FF0000!important;
	color: #000000!important;
}
.correct-answer{
	border: 0.5vmin solid #DEEF3C;
	background-color: #98C02E!important;
	color: #FFFFFF!important;
}

.bottom-option{
	position: relative;
	width: 15%;
	height: 100%;
	font-family: abeezee;
	z-index: 15;
	font-size: 6vw;
	color: white;
}

@media(min-aspect-ratio:4/3){
	.bottom-option{
		font-size: 7.5vh;
	}
}
.bttexxt, .bttexxt-nohover{
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 1vmin 0px;
	background-color: #7B74D4;
	border-radius: 2vmin;
	border: 0.5vmin solid transparent;
}
.bttexxt:hover{
	background-color: #F6B26B;
	border-color: #E69138;
	color: #434343;
}
.bttexxt>p, .bttexxt-nohover>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cor-incor{
	display: none;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5vmin;
	width: 40%;
}
.step1{
	position: absolute;
	top: 34%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step2{
	position: absolute;
	top: 42%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step3{
	position: absolute;
	top: 50%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step4{
	position: absolute;
	top: 58%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step5{
	position: absolute;
	top: 78%;
	z-index: 22;
	width: 100%;
	left: 0%;
	font-size: 5.2vmin;
	color: #1155cc;
	font-weight: bold;
	font-family: josefin sans;
}
.display-block{
	display: block;
}
.bottom-option-container{
	position: absolute;
	bottom: 25%;
	width: 80%;
	height: 12%;
	padding: 0% 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.dialog_image1, .dialog_image2{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}
.mirror_image_X, .mirror_image_X2{
	transform: scaleX(-1);
}
.pencil {
    position: absolute;
    height: 30%;
    left: 19%;
    top: -30%;
		animation: top_down_animation 1s ease-in forwards;
		-webkit-animation: top_down_animation 1s ease-in forwards;
}
.hand {
    position: absolute;
    height: 15%;
    left: 17%;
    z-index: 1;
    top: -30%;
		animation: top_down_animation 1s ease-in forwards;
		-webkit-animation: top_down_animation 1s ease-in forwards;
}
.pencil_tag {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 22%;
    top: -30%;
		transform: rotate(-31deg);
		z-index: 3;
		animation: top_down_animation2 1s ease-in forwards;
		-webkit-animation: top_down_animation2 1s ease-in forwards;
}
.pencil_tag1 {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 23%;
    top: 23%;
    transform: rotate(-29deg);
}
.pencil_big {
    position: absolute;
    left: 18%;
    top: 20%;
    width: 11%;
}

.one_pencil {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 12%;
}
.pencil_big_towards_right {
    position: absolute;
    left: 32%;
    top: 20%;
    width: 11%;
}
.pencil_big_towards_right2 {
    position: absolute;
    left: 46%;
    top: 20%;
    width: 11%;
}
.pencil_tag1_towards_right {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 39.5%;
    top: 22%;
    transform: rotate(-29deg) translate(-50%,-50%);
}
.pencil_tag1_towards_right2 {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 51%;
    top: 23%;
    transform: rotate(-29deg);
}
@keyframes top_down_animation {
	to{
		top: 12%;
	}
}
-webkit-@keyframes top_down_animation {
	to{
		top: 12%;
	}
}
-webkit-@keyframes top_down_animation2 {
	to{
		top: 14%;
	}
}
@keyframes top_down_animation2 {
	to{
		top: 14%;
	}
}

.bg_blue {
    color: #3C78D8;
}
.money5 {
    position: absolute;
    height: 20%;
    bottom: -30%;
    left: 63%;
		animation: bottom_up1 1s ease-in forwards;
		-webkit-animation: bottom_up1 1s ease-in forwards;
}
.money5_still {
    position: absolute;
    height: 20%;
    top: 25%;
    left: 63%;
}
.money_hand {
    position: absolute;
    transform: rotate(180deg);
    bottom: -30%;
    left: 72%;
    height: 20%;
		z-index: 2;
		animation: bottom_up 1s ease-in forwards;
		-webkit-animation: bottom_up 1s ease-in forwards;
}
@keyframes bottom_up {
	to{
		bottom: 0%;
	}
}
-webkit-@keyframes bottom_up {
	to{
		bottom: 0%;
	}
}
@keyframes bottom_up1 {
	to{
		bottom: 10%;
	}
}
-webkit-@keyframes bottom_up1 {
	to{
		bottom: 10%;
	}
}
.scaleup,.scaleup1{
	animation: scaling_up .5s ease-out forwards;
	-webkit-animation: scaling_up .5s ease-out forwards;
}
@keyframes scaling_up {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
-webkit-@keyframes scaling_up {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
.top_text {
		position: absolute;
		font-size: 2.4vw;
		font-family: sniglet;
		width: 90%;
		top: 5%;
		left: 5%;
		background: #fff7d1;
		color: #484848;
		border-radius: 40px;
		padding: 1%;
		height: 90%;
		z-index: 9;
}
.right_sub_text {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 70%;
}
.two_pencil {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 15%;
}
.three_pencils {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 23%;
}
.money5_still_second {
    position: absolute;
    height: 20%;
    top: 54%;
    left: 63%;
}
.plus {
    position: absolute;
    font-size: 6vw;
    font-family: sniglet;
    color: yellow;
    left: 72%;
    top: 50%;
    transform: translateY(-50%);
}
.money_sub_text {
    font-size: 3vw;
    font-family: sniglet;
    position: absolute;
    color: white;
    top: 77%;
    left: 46%;
    width: 60%;
}

.money_sub_text2 {
    font-size: 3vw;
    font-family: sniglet;
    position: absolute;
    color: white;
    top: 87%;
    left: 46%;
    width: 60%;
}


.expanding_money{
	animation: expand_money .5s ease-in forwards;
	-webkit-animation: expand_money .5s ease-in forwards;

}
@keyframes expand_money {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
-webkit-@keyframes expand_money {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
.money5_1, .money5_2, .money5_3 {
    position: absolute;
    height: 15%;
    left: 65%;
    top: 17%;
}
.money5_2{
	top: 34%;
}
.money5_3{
	top: 51%;
}
.fadein_dialogue{
	animation: fadein_dialogue .6s ease-out forwards;
	-webkit-animation: fadein_dialogue .6s ease-out forwards;
}
@keyframes fadein_dialogue {
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
}
-webkit-@keyframes fadein_dialogue {
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
}
.width_change2 {
    left: 59%;
}
.abContainer{
	position: absolute;
	bottom: 7%;
	left: 5%;
	height: 30%;
	width: 22%;
	display: none;
}
.basketContainer{
	position: absolute;
	bottom: 0%;
	left: 0%;
	height: 50%;
	width: 100%;
}
.apleContainer{
	position: absolute;
	bottom: 50%;
	left: 0%;
	height: 50%;
	width: 100%;
}
.Aplbasket{
	position: absolute;top: 0%;
	left: 05;
	height: 100%;
	width: 100%;
}

.abc2{
	left: 73%;
}
.s13Txt{
	position: absolute;
	top: 5%;
	left: 44%;
	transform: translateX(-50%);
	width: 74%;
	font-size: 3.5vh;
	font-family: josefinSans;
	text-align: left;
}
.niti_13{
	position: absolute;
	width: 15%;
	top: 49%;
	right: 7%;
	z-index: 10;
}
.textContainer{
	position: absolute;
	top: 5%;
	left: 5%;
	height: 90%;
	width: 90%;
	background: #fff7d1;
	border-radius: 4em;
}

@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 7.5vh;
	}
	.one_pencil,.two_pencil,.money_sub_text,.money_sub_text2,.right_sub_text,.three_pencils{
		font-size: 5.7vmin;
	}
	.top_text {
    font-size: 4.45vmin;
	}
	.plus{
		font-size: 12vmin;
	}
	.dialog1, .dialog2 {
    font-size: 3.5vmin;
	}
	.pencil_tag{
		font-size: 3vmin;
	}
	.small_text{
		font-size: 6vmin;
	}
	.small_text:lang(np) {
    font-size: 5vmin;
	}
	.s13Txt{
		font-size: 3.5vh;
	}
	.info1, .info2{
		font-size: 4vh;
	}
}
@media (max-aspect-ratio:4/3){
.s13Txt, .info1, .info2{
	font-size: 2vw;
}
}
.kid6 {
    position: absolute;
    width: 8%;
    top: 50%;
    left: 73%;
    z-index: 10;
}

.basket6 {
    position: absolute;
    width: 9%;
    top: 83%;
    left: 73%;
    z-index: 10;
}