.diy_title {
    left: 37%;
  }
.dialog1{
  width: 39%;
  left:58%;
  top: 29%;
}
.dialog2 {
    width: 37%;
    left: 27%;
    top: 15%;
}
.shop_name {
    position: absolute;
    font-family: andika;
    font-size: 2vw;
    background: #7BAA4A;
    padding: 1%;
    color: white;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 1vmin;
    top: -1%;
}
@media (min-aspect-ratio:4/3){
	.shop_name{
		font-size: 4.5vmin;
	}

}
