.lesson-title{
	position: absolute;
	left: 50%;
	top: 46%;
	color: #595959;
	width: 100%;
	z-index: 5;
	transform: translateX(-50%);
	font-size: 6vw;
	font-family: arial;
}
.apple_tree {
	position: absolute;
	width: 27%;
	top: 46%;
	left: 0%;
}
.kid1{
	position: absolute;
	width: 9%;
	top: 53%;
	left: 5%;
}
.kid2{
	position: absolute;
	width: 9%;
	top: 54%;
	left: 19%;
}
.kid3{
	position: absolute;
	width: 9%;
	top: 50%;
	left: 32%;
}
.kid4{
	position: absolute;
	width: 9%;
	top: 49%;
	left: 46%;
}
.kid5{
	position: absolute;
	width: 9%;
	top: 49%;
	left: 59%;
	z-index: 10;
}
.niti11{
	position: absolute;
	width: 22%;
	top: 16%;
	left: 70%;
	z-index: 22;
}
.opt1{
	position: absolute;
	font-size: 2.2vmin;
}
.heading{
	position: absolute;
	width: 85%;
	top: 16%;
	left: 0%;
	z-index: 22;
	font-size: 4.2vmin;
	font-family: josefin sans;
	color: #1155cc;
}
.suraj{
	position: absolute;
	width: 15%;
	top: 16%;
	left: 75%;
	z-index: 22;
}
.niti01{
	position: absolute;
	width: 15%;
	top: 49%;
	left: 23%;
}
.niti02{
	position: absolute;
	width: 15%;
	top: 16%;
	left: 70%;
	z-index: 22;
}
.basket{
	position: absolute;
	width: 14%;
	top: 83%;
	left: 39%;
	z-index: 10;
}
.basket1{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 5%;
	z-index: 10;
}
.basket2{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 18%;
	z-index: 10;
}
.basket3{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 32%;
	z-index: 10;
}
.basket4{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 46%;
	z-index: 10;
}
.basket5{
	position: absolute;
	width: 9%;
	top: 83%;
	left: 59%;
	z-index: 10;
}
.treetop{
	position: absolute;
	width: 36%;
	top: 10%;
	right: 2%;
}
.treetrunk{
	position: absolute;
	width: 15%;
	top: 46%;
	right: 13%;
}
.apple1{
	position: absolute;
	width: 6%;
	right: 17%;
	top: 14%;
}
.apple2{
	position: absolute;
	width: 6%;
	right: 23%;
	top: 24%;
}
.apple3{
	position: absolute;
	width: 6%;
	right: 27%;
	top: 35%;
}
.apple4{
	position: absolute;
	width: 6%;
	right: 12%;
	top: 24%;
}
.apple5{
	position: absolute;
	width: 6%;
	right: 17%;
	top: 35%;
}
.apple6{
	position: absolute;
	width: 6%;
	right: 7%;
	top: 34%;
}
.basketfull{
	position: absolute;
	width: 22%;
	top: 64%;
	left: 5%;
}
.info{
	position: absolute;
	top: 0%;
	font-size: 4.2vmin;
	width: 100%;
	font-family: inder;
}
.info1{
	position: absolute;
	top: 10%;
	font-size: 4.2vmin;
	text-align: left;
	left: 5%;
	width: 47%;
	font-family: inder;
}
.info2{
	position: absolute;
	top: 30%;
	font-size: 4.2vmin;
	text-align: left;
	left: 5%;
	width: 47%;
	font-family: inder;
}
.nine_apple{
	position: absolute;
	width: 22%;
	top: 64%;
	left: 73%;
}
.suraj01{
	position: absolute;
	top: 30%;
	left: 60%;
	width: 13%;
}
.bg{
	background-color: #d5f3ee;
}
.instruct{
	position: absolute;
	width: 80%;
	top: 7%;
	left: 10%;
	z-index: 22;
	font-size: 3.2vmin;
	font-family: josefin sans;
	color: black;
	text-align: left;
}
.fairy{
	position: absolute;
	width: 18%;
	top: 30%;
	left: 10%;
	z-index: 22;
}
.fairy1{
	position: absolute;
	width: 12%;
	top: 17%;
	left: 10%;
	z-index: 22;
}
.fairy3{
	position: absolute;
	width: 20%;
	top: 35%;
	left: 10%;
	z-index: 22;
}
.fairy4{
	position: absolute;
	width: 17%;
	top: 54%;
	left: 4%;
	z-index: 22;
}
.roshan1{
	position: absolute;
	width: 14%;
	top: 47%;
	right: 10%;
	z-index: 22;
}
.contentbg{
	background-color: #5574c3;
}
.contentbg2{
	background-color: #fffbe5;
}
.niti06{
	position: absolute;
	top: 30%;
	left: 70%;
	width: 20%;
	z-index: 22;
}
.zoom_in{
	animation: zoom_in_tree .5s 3 ease-in-out forwards;
	-webkit-animation: zoom_in_tree .5s 3 ease-in-out forwards;
}
.shaking{
	animation: shakes 1s ease-in-out forwards;
	-webkit-animation: shakes 1s ease-in-out forwards;
}
@keyframes shakes {
	0%{
		transform:rotate(0deg);

	}
	10%{
		transform:rotate(-5deg);
	}
	20%{
		transform:rotate(0deg);
	}
	40%{
		transform:rotate(5deg);
	}
	50%{
		transform:rotate(0deg);
	}
	60%{
		transform:rotate(-5deg);
	}
	70%{
		transform:rotate(0deg);
	}
	80%{
		transform:rotate(5deg);
	}
	90%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(0deg);
	}
}
@-webkit-keyframes shakes {
	0%{
		transform:rotate(0deg);

	}
	10%{
		transform:rotate(-5deg);
	}
	20%{
		transform:rotate(0deg);
	}
	40%{
		transform:rotate(5deg);
	}
	50%{
		transform:rotate(0deg);
	}
	60%{
		transform:rotate(-5deg);
	}
	70%{
		transform:rotate(0deg);
	}
	80%{
		transform:rotate(5deg);
	}
	90%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(0deg);
	}
}
@keyframes zoom_in_tree {
	0%{
		transform: scale(1) rotate(0deg);
	}
	50%{
		transform: scale(1.08) rotate(0deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
}
@-webkit-keyframes zoom_in_tree {
	0%{
		transform: scale(1) rotate(0deg);
	}
	50%{
		transform: scale(1.08) rotate(0deg);
	}
	100%{
		transform: scale(1) rotate(0deg);
	}
}
.bg-full{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
.left_char {
	position: absolute;
	width: 12%;
	left: 16%;
	top: 32%;
}
.right_char {
    position: absolute;
    width: 15%;
    left: 60%;
    top: 40%;
}
.dad{
	position: absolute;
	z-index: 11;
	left: 8%;
	top: 17%;
	width: 10%;
}
.mum{
	position: absolute;
	z-index: 11;
	right: 8%;
	top: 17%;
	width: 10%;
}
.twentyrs{
	position: absolute;
	z-index: 11;
	width: 22%;
	left: 25%;
	top: 19%;
}
.twentyrs1{
	position: absolute;
	z-index: 11;
	width: 22%;
	right: 25%;
	top: 19%;
}
.fivers{
	position: absolute;
	z-index: 11;
	width: 22%;
	left: 25%;
	top: 42%;
}
.twors{
	position: absolute;
	z-index: 11;
	width: 10%;
	right: 31%;
	top: 43%;
	background-color: #cfcfcf;
}
.twors1{
	position: absolute;
	z-index: 11;
	width: 10%;
	right: 65%;
	top: 63%;
	background-color: #cfcfcf;
}
.oners{
	position: absolute;
	z-index: 11;
	width: 10%;
	left: 38%;
	top: 63%;
	background-color: #cfcfcf;
}
.text1{
	position: absolute;
	z-index: 11;
	bottom: 10%;
	left: 28%;
	font-size: 4.3vmin;
	font-weight: bold;
	font-family: proxima nova;
}
.text2{
	position: absolute;
	z-index: 11;
	bottom: 10%;
	right: 25%;
	font-size: 4.3vmin;
	font-weight: bold;
	font-family: proxima nova;
}
.text3{
	position: absolute;
	z-index: 11;
	top: 23%;
	left: 32%;
	font-size: 6.3vmin;
	border: 1px solid #999999;
	background-color: #fbe7ac;
	width: 7%;
	opacity: 0.6;
	border-radius: 15px;
}
.text4{
	position: absolute;
	z-index: 11;
	top: 23%;
	left: 60%;
	font-size: 6.3vmin;
	border: 1px solid #999999;
	background-color: #fbe7ac;
	width: 7%;
	opacity: 0.6;
	border-radius: 15px;
}
.text5{
	position: absolute;
	z-index: 11;
	top: 46%;
	font-size: 6.2vmin;
	left: 32%;
	border: 1px solid #999999;
	background-color: #fbe7ac;
	width: 7%;
	opacity: 0.6;
	border-radius: 15px;
}
.text6{
	position: absolute;
	z-index: 11;
	top: 47%;
	font-size: 6.2vmin;
	left: 61%;
	border: 1px solid #999999;
	background-color: #fbe7ac;
	width: 6%;
	height: 9%;
	opacity: 0.6;
	border-radius: 15px;
}
.text7{
	position: absolute;
	z-index: 11;
	top: 67%;
	font-size: 6.2vmin;
	left: 40%;
	border: 1px solid #999999;
	background-color: #fbe7ac;
	width: 6%;
	height: 9%;
	opacity: 0.6;
	border-radius: 15px;
}
.text8{
	position: absolute;
	z-index: 11;
	top: 67%;
	font-size: 6.2vmin;
	left: 27%;
	border: 1px solid #999999;
	background-color: #fbe7ac;
	width: 6%;
	height: 9%;
	opacity: 0.6;
	border-radius: 15px;
}
.text9{
	position: absolute;
	z-index: 11;
	top: 36%;
	font-size: 16.2vmin;
	left: 48%;
	opacity: 0.6;
	border-radius: 15px;
	color: black;
}
.textfill {
	position: relative;
	top: 39%;
	transform: translate(-50%,-25%);
	left: 54%;
	font-family: inder;
}
.clocknew3{
	position: absolute;
	top: 25%;
	right: 4%;
	width: 30%;
}
.step11{
	position: absolute;
	top: 15%;
	left: 10%;
	width: 50%;
	text-align: left;
	font-size: 4.2vmin;
	font-weight: bold;
	font-family: josefin sans;
	text-decoration: underline;
}
.step12{
	position: absolute;
	top: 32%;
	left: 10%;
	width: 45%;
	text-align: left;
	font-size: 3.2vmin;
	font-family: josefin sans;
}
.step13{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 45%;
	text-align: left;
	font-size: 3.2vmin;
	font-family: josefin sans;
}
.step14{
	position: absolute;
	top: 60%;
	left: 10%;
	width: 60%;
	text-align: left;
	font-size: 3.2vmin;
	font-family: josefin sans;
}
.step15{
	position: absolute;
	top: 84%;
	left: 5%;
	width: 90%;
	text-align: left;
	font-size: 3.2vmin;
	font-family: josefin sans;
	color: #cc4125;
}
.textfill1 {
	position: relative;
	top: 39%;
	transform: translate(-50%,-25%);
	left: 54%;
	font-family: inder;
}
.toptext1{
	position: absolute;
	top: 20%;
	z-index: 22;
	width: 100%;
	font-size: 7.2vmin;
	font-weight: bold;
}
.dialog1, .dialog2, .dialog3, .dialog4 {
	position: absolute;
}
.dialog9{
	width: 40%;
	top: 38%;
	left: 37%;
	font-family: josefin sans;
	font-size: 2vw;
	padding: 3%;
	z-index: 22;
}
.dialog10{
	width: 46%;
	top: 55%;
	left: 21%;
	font-family: josefin sans;
	font-size: 1.5vw;
	padding: 3%;
	z-index: 22;
}
.information{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 12%;
	background-color: #5574c3;
	font-family: josefin sans;
	font-size: 3.2vmin;
	color: white;
}
.contentbg11{
	background-color: #ffffe3
}
.dialog8{
	width: 70%;
	top: 20%;
	left: 15%;
	font-family: josefin sans;
	font-size: 2vw;
	padding: 3%;
	z-index: 22;
	height: 60%;

	animation-name: pulse_animation;
  animation-duration: 500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}
.dilak{
	position: absolute;
	width: 11%;
	top: 13%;
	left: 10%;
}
.clocknew{
	position: absolute;
	width: 21%;
	top: 44%;
	left: 30%;
}
.clocknew1{
	position: absolute;
	width: 21%;
	top: 44%;
	left: 60%;
}
.time1{
	position: absolute;
	width: 21%;
	top: 83%;
	left: 30%;
	font-size: 4.2vmin;
	color: #1155cc;
	font-family: josefin sans;
}
.time2{
	position: absolute;
	width: 21%;
	top: 83%;
	left: 60%;
	font-size: 4.2vmin;
	color: #1155cc;
	font-family: josefin sans;
}
.minute {
    position: absolute;
    width: 5%;
    top: 64%;
    left: 40%;
    transform: rotate(31deg);
}
.hour{
	position: absolute;
	width: 3%;
	top: 63%;
	left: 41%;
	transform: rotate(187deg);
}
.minute1{
	position: absolute;
	width: 5%;
	top: 60%;
	left: 66%;
	transform: rotate(212deg);
}
.hour1{
	position: absolute;
	width: 3%;
	top: 59.5%;
	left: 68.1%;
	transform: rotate(65deg);
}
@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.dialog11{
	width: 42%;
	top: 46%;
	left: 48%;
	font-family: josefin sans;
	font-size: 1.5vw;
	padding: 3%;
	z-index: 22;
}

.dialog12{
	width: 42%;
	top: 7%;
	left: 21%;
	font-family: josefin sans;
	font-size: 1.5vw;
	padding: 3%;
	z-index: 22;
}

.dialog {
    width: 40%;
    top: 20%;
    left: 31%;
    font-family: josefin sans;
    font-size: 2vw;
    padding: 5%;
    z-index: 22;
}
.dialog1 {
	width: 40%;
	height: 19%;
	top: 48%;
	left: 4%;
	font-family: inder;
	font-size: 2vw;
	padding: 3%;
	z-index: 22;
}
.dialog2 {
	width: 37%;
	height: 28%;
	top: 17%;
	left: 15%;
	font-family: sniglet;
	font-size: 2vw;
	padding: 3%;
	z-index: 22;
}
.dialog3 {
	width: 35%;
	height: 28%;
	top: 8%;
	left: 35%;
	font-family: sniglet;
	font-size: 1.5vw;
	padding: 3%;
	z-index: 22;
}
.dialog4{
	width: 40%;
	top: 20%;
	left: 31%;
	font-family: josefin sans;
	font-size: 2vw;
	padding: 3%;
	z-index: 22;
}
.dialog5 {
	width: 35%;
	top: 31%;
	left: 35%;
	font-family: sniglet;
	font-size: 1.5vw;
	padding: 3%;
	z-index: 22;
}
.instruction{
	position: absolute;
	top: 40%;
	left: 0%;
	width: 80%;
	z-index: 22;
	font-size: 5.2vmin;
	font-family: josenfin sans;
}
.question{
	position: absolute;
	top: 49%;
	left: 0%;
	width: 80%;
	z-index: 22;
	font-size: 4vmin;
	font-family: josenfin sans;
	color: #674ea7;
}
.incorrect-answer{
	border: 0.5vmin solid #980000;
	background-color: #FF0000!important;
	color: #000000!important;
}
.correct-answer{
	border: 0.5vmin solid #DEEF3C;
	background-color: #98C02E!important;
	color: #FFFFFF!important;
}

.bottom-option{
	position: relative;
	width: 15%;
	height: 100%;
	font-family: abeezee;
	z-index: 15;
	font-size: 6vw;
	color: white;
}

@media(min-aspect-ratio:4/3){
	.bottom-option{
		font-size: 7.5vh;
	}
}
.bttexxt, .bttexxt-nohover{
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 1vmin 0px;
	background-color: #7B74D4;
	border-radius: 2vmin;
	border: 0.5vmin solid transparent;
}
.bttexxt:hover{
	background-color: #F6B26B;
	border-color: #E69138;
	color: #434343;
}
.bttexxt>p, .bttexxt-nohover>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cor-incor{
	display: none;
	position: absolute;
	top: 105%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5vmin;
	width: 40%;
}
.step1{
	position: absolute;
	top: 34%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step2{
	position: absolute;
	top: 42%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step3{
	position: absolute;
	top: 50%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step4{
	position: absolute;
	top: 58%;
	z-index: 22;
	left: 10%;
	font-size: 4.2vmin;
	font-family: proxima nova;
}
.step5{
	position: absolute;
	top: 78%;
	z-index: 22;
	width: 100%;
	left: 0%;
	font-size: 5.2vmin;
	color: #1155cc;
	font-weight: bold;
	font-family: josefin sans;
}
.display-block{
	display: block;
}
.bottom-option-container{
	position: absolute;
	bottom: 25%;
	width: 80%;
	height: 12%;
	padding: 0% 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.dialog_image1, .dialog_image2{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}
.mirror_image_X, .mirror_image_X2{
	transform: scaleX(-1);
}
.pencil {
    position: absolute;
    height: 30%;
    left: 19%;
    top: -30%;
		animation: top_down_animation 1s ease-in forwards;
		-webkit-animation: top_down_animation 1s ease-in forwards;
}
.hand {
    position: absolute;
    height: 15%;
    left: 17%;
    z-index: 1;
    top: -30%;
		animation: top_down_animation 1s ease-in forwards;
		-webkit-animation: top_down_animation 1s ease-in forwards;
}
.pencil_tag {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 22%;
    top: -30%;
		transform: rotate(-31deg);
		z-index: 3;
		animation: top_down_animation2 1s ease-in forwards;
		-webkit-animation: top_down_animation2 1s ease-in forwards;
}
.pencil_tag1 {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 23%;
    top: 23%;
    transform: rotate(-29deg);
}
.pencil_big {
    position: absolute;
    left: 18%;
    top: 20%;
    width: 11%;
}

.one_pencil {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 12%;
}
.pencil_big_towards_right {
    position: absolute;
    left: 32%;
    top: 20%;
    width: 11%;
}
.pencil_big_towards_right2 {
    position: absolute;
    left: 46%;
    top: 20%;
    width: 11%;
}
.pencil_tag1_towards_right {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 39.5%;
    top: 22%;
    transform: rotate(-29deg) translate(-50%,-50%);
}
.pencil_tag1_towards_right2 {
    position: absolute;
    font-size: 1.5vw;
    font-family: sniglet;
    color: white;
    left: 51%;
    top: 23%;
    transform: rotate(-29deg);
}
@keyframes top_down_animation {
	to{
		top: 12%;
	}
}
-webkit-@keyframes top_down_animation {
	to{
		top: 12%;
	}
}
-webkit-@keyframes top_down_animation2 {
	to{
		top: 14%;
	}
}
@keyframes top_down_animation2 {
	to{
		top: 14%;
	}
}
.bgairport{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
}

.bg_blue {
    color: #3C78D8;
}
.money5 {
    position: absolute;
    height: 20%;
    bottom: -30%;
    left: 63%;
		animation: bottom_up1 1s ease-in forwards;
		-webkit-animation: bottom_up1 1s ease-in forwards;
}
.money5_still {
    position: absolute;
    height: 20%;
    top: 25%;
    left: 63%;
}
.money_hand {
    position: absolute;
    transform: rotate(180deg);
    bottom: -30%;
    left: 72%;
    height: 20%;
		z-index: 2;
		animation: bottom_up 1s ease-in forwards;
		-webkit-animation: bottom_up 1s ease-in forwards;
}
@keyframes bottom_up {
	to{
		bottom: 0%;
	}
}
-webkit-@keyframes bottom_up {
	to{
		bottom: 0%;
	}
}
@keyframes bottom_up1 {
	to{
		bottom: 10%;
	}
}
-webkit-@keyframes bottom_up1 {
	to{
		bottom: 10%;
	}
}
.scaleup,.scaleup1{
	animation: scaling_up .5s ease-out forwards;
	-webkit-animation: scaling_up .5s ease-out forwards;
}
@keyframes scaling_up {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
-webkit-@keyframes scaling_up {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
.top_text {
		position: absolute;
		font-size: 2.4vw;
		font-family: sniglet;
		width: 90%;
		top: 5%;
		left: 5%;
		background: #fff7d1;
		color: #484848;
		border-radius: 40px;
		padding: 1%;
		height: 90%;
		z-index: 9;
}
.right_sub_text {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 70%;
}
.two_pencil {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 15%;
}
.three_pencils {
    position: absolute;
    font-size: 3.5vw;
    font-family: sniglet;
    color: white;
    top: 66%;
    left: 23%;
}
.money5_still_second {
    position: absolute;
    height: 20%;
    top: 54%;
    left: 63%;
}
.plus {
    position: absolute;
    font-size: 6vw;
    font-family: sniglet;
    color: yellow;
    left: 72%;
    top: 50%;
    transform: translateY(-50%);
}
.money_sub_text {
    font-size: 3vw;
    font-family: sniglet;
    position: absolute;
    color: white;
    top: 77%;
    left: 46%;
    width: 60%;
}

.money_sub_text2 {
    font-size: 3vw;
    font-family: sniglet;
    position: absolute;
    color: white;
    top: 87%;
    left: 46%;
    width: 60%;
}


.expanding_money{
	animation: expand_money .5s ease-in forwards;
	-webkit-animation: expand_money .5s ease-in forwards;

}
@keyframes expand_money {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
-webkit-@keyframes expand_money {
	50%{
		transform: scaleX(1.2);
	}
	100%{
		transform: scaleX(1);
	}
}
.money5_1, .money5_2, .money5_3 {
    position: absolute;
    height: 15%;
    left: 65%;
    top: 17%;
}
.money5_2{
	top: 34%;
}
.money5_3{
	top: 51%;
}
.fadein_dialogue{
	animation: fadein_dialogue .6s ease-out forwards;
	-webkit-animation: fadein_dialogue .6s ease-out forwards;
}
@keyframes fadein_dialogue {
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
}
-webkit-@keyframes fadein_dialogue {
		0%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
}
.width_change2 {
    left: 59%;
}
@media (min-aspect-ratio:4/3){
	.lesson-title{
		font-size: 5.5vh;
	}
	.one_pencil,.two_pencil,.money_sub_text,.money_sub_text2,.right_sub_text,.three_pencils{
		font-size: 5.7vmin;
	}
	.top_text {
    font-size: 4.45vmin;
	}
	.plus{
		font-size: 12vmin;
	}
	.dialog1, .dialog2 {
    font-size: 3.5vmin;
	}
	.pencil_tag{
		font-size: 3vmin;
	}
	.small_text{
		font-size: 6vmin;
	}
	.small_text:lang(np) {
    font-size: 5vmin;
	}
}
