.animal_body_parts {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	font-size: 1.3em;
	background: #fff;
	box-shadow: inset 0 0 30px #f2f2f2;
}

.animal_body_parts, .animal_body_parts * {
	position: relative;
	margin: 0;
	padding: 0;
}

.animal_body_parts .nextBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 7%;
	height: 10%;
}

.animal_body_parts .prevBtn {
	display: none;
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 7%;
	height: 10%;
}

/*=====================================
 =            common styles            =
 =====================================*/
.board {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.vertical-horizontal-center {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

.coverboardfull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*================================================
 =            Notification Pulse Style            =
 ================================================*/
/**
 How to use:
 - To enable notification pulse add 'data-usernotification="notifyuser"'
 attribute to the html element inside board div
 */

@keyframes pulse {
0% { transform   : scale(0); opacity: 0.0; }
25% { transform  : scale(0); opacity: 0.6; }
50% { transform  : scale(0.1); opacity: 0.8; }
75% { transform  : scale(0.5); opacity: 1; }
100% { transform : scale(1); opacity: 0.0; }
}

@-moz-keyframes pulse {
0% { -moz-transform   : scale(0); opacity: 0.0; }
25% { -moz-transform  : scale(0); opacity: 0.6; }
50% { -moz-transform  : scale(0.1); opacity: 0.8; }
75% { -moz-transform  : scale(0.5); opacity: 1; }
100% { -moz-transform : scale(1); opacity: 0.0; }
}

@-webkit-keyframes pulse {
0% { -webkit-transform   : scale(0); opacity: 0.0; }
25% { -webkit-transform  : scale(0); opacity: 0.6; }
50% { -webkit-transform  : scale(0.1); opacity: 0.8; }
75% { -webkit-transform  : scale(0.5); opacity: 1; }
100% { -webkit-transform : scale(1); opacity: 0.0; }
}

/*for all element inside board*/
.board *[data-usernotification*="notifyuser"] {
	cursor: pointer;
}

.board *[data-usernotification*="notifyuser"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	-webkit-animation: pulse 1.2s ease-out infinite;
	-moz-animation: pulse 1.2s ease-out infinite;
	animation: pulse 1.2s ease-out infinite;
}

/*=====  End of Notification Pulse Style  ======*/

/*=====  End of common styles  ======*/

/*===============================================
 =            general template layout            =
 ===============================================*/

div.generalTemplateblock {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*border   : 1px solid red; */
}

/*=====  End of general template layout  ======*/

/*=========================================================
 =            general templated specific styles            =
 =========================================================*/

/*=====  End of general templated specific styles  ======*/

.imageblock {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0;
	position: absolute;
}

.contentblock {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-family: sniglet;
}
.bg_full {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.elephant {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 20%;
}
.textblock{
	height: 100%;
	width: 100%;
}
.playtime_text {
    position: absolute;
    z-index: 9;
    font-family: sniglet;
    font-size: 4vw;
    transform: translateX(-50%);
    left: 54%;
    top: 60%;
		color: white;
}
.bottom_text {
    position: absolute;
    font-size: 3vw;
    font-family: sniglet;
    background: rgba(255, 255, 255,.2);
    width: 100%;
    bottom: 0;
    z-index: 9;
    padding: 1%;
    color: white;
}
.kid1, .kid2 {
    position: absolute;
    width: 20%;
    top: 59%;
    left: 15%;
}
.elephant_without_kid {
    position: absolute;
    transform: scaleX(-1);
    width: 37%;
    top: 42%;
    left: 59%;
}
.kid2 {
    left: 20%;
}

.slide_div {
    position: absolute;
    height: 88%;
    width: 23%;
    background: #FAECC7;
    top: 12%;
    right: 0;
    z-index: 2;
    font-family: sniglet;
    right: -30%;
    font-size: 3vw;
}
.option {
    position: absolute;
    align-items: center;
    color: white;
    padding: 4%;
    border-radius: 1vmin;
    transform: translate(-50%,-50%) scale(1);
    left: 50%;
    cursor: pointer;
    width: 54%;
}
.option:hover{
	transform: translate(-50%,-50%) scale(1.1);
	transition: .2s;
}
.pos1 {
    background: #F44C80;
    top: 20%;
}
.pos2 {
    background: #22D2C5;
    top: 40%;
}
.pos3 {
    background: #F9A960;
    top: 60%;
}
.pos4 {
    background: #D6E63A;
    top: 80%;
}
.wrong{
  background: #FF0000;
  border-color: #980000;
  transition:.1s;
  pointer-events:none;
}
.right{
  background: #98C02E;
  border-color: #DEEF3C;
  transition:.1s;
}
.model_image {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    width: 50%;
    left: 40%;
}
.top_question {
    position: absolute;
    font-size: 3vw;
    font-family: sniglet;
    z-index: 5;
    width: 100%;
    background: #E4FFE0;
    padding: 1%;
    top: 0;
    left: 0;
    height: 12%;
    box-shadow: 0 .01vmin 1vmin .2vmin rgba(0, 0, 0,.3);
}
.blur{
	opacity: .7;
}
.animateslide{
	animation: slide_animator .5s ease-in-out forwards;
	-webkit-animation: slide_animator .5s ease-in-out forwards;
}
@keyframes slide_animator {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
			right: 0;
  }
}
@-webkit-keyframes slide_animator {
  0% {
      opacity: 0;
  }
  100% {
			right: 0;
      opacity: 1;
  }
}


.arrow1_elephant {
    position: absolute;
    height: 20%;
    transform: rotate(90deg);
    top: 68%;
    left: 64%;
}
.arrow2_elephant {
    position: absolute;
    height: 20%;
    transform: rotate(90deg);
    top: 56.5%;
    left: 68%;
}

.animate_arrow_elephant{
	animation: arrow_animator_elephant .5s ease-in-out infinite;
	-webkit-animation: arrow_animator_elephant .5s ease-in-out infinite;
}
@keyframes arrow_animator_elephant {
  50% {
      transform: rotate(90deg) scaleY(1.1);
			-webkit-transform:rotate(90deg) scaleY(1.1);
  }
  100% {
		-webkit-transform:rotate(90deg) scaleY(1);
		transform: rotate(90deg) scaleY(1);
  }
}
@-webkit-keyframes arrow_animator_elephant {
	50% {
      transform: rotate(90deg) scaleY(1.1);
			-webkit-transform:rotate(90deg) scaleY(1.1);
  }
  100% {
		-webkit-transform:rotate(90deg) scaleY(1);
		transform: rotate(90deg) scaleY(1);
  }
}

.arrow3_elephant {
    position: absolute;
    height: 20%;
    transform: rotate(-90deg);
    top: 56.5%;
    left: 8%;
}
.animate_arrow2_elephant{
	animation: arrow_animator2_elephant .5s ease-in-out infinite;
	-webkit-animation: arrow_animator2_elephant .5s ease-in-out infinite;
}
@keyframes arrow_animator2_elephant {
  50% {
      transform: rotate(-90deg) scaleY(1.1);
			-webkit-transform:rotate(-90deg) scaleY(1.1);
  }
  100% {
		-webkit-transform:rotate(-90deg) scaleY(1);
		transform: rotate(-90deg) scaleY(1);
  }
}
@-webkit-keyframes arrow_animator2_elephant {
	50% {
      transform: rotate(-90deg) scaleY(1.1);
			-webkit-transform:rotate(-90deg) scaleY(1.1);
  }
  100% {
		-webkit-transform:rotate(-90deg) scaleY(1);
		transform: rotate(-90deg) scaleY(1);
  }
}

.animate_elephant {
    position: absolute;
    top: 18%;
    width: 50%;
		animation: left_to_right 10s linear forwards;
		-webkit-animation: left_to_right 10s linear forwards;
}
@keyframes left_to_right {
  0% {
		left: -55%;
  }
  100% {
		left: 34%;
  }
}
@-webkit-keyframes left_to_right {
	0% {
		left: -55%;
  }
  100% {
		left: 34%;
  }
}
.tiger_images {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    width: 68%;
    left: 50%;
}
.arrow_tiger {
    position: absolute;
    height: 20%;
    transform: rotate(-90deg);
    top: 38.5%;
    left: 11.8%;
}
.bg_blue{
	background: #A9C9F9;
}

.arrow1_eagle {
    position: absolute;
    height: 20%;
    top: 19.5%;
    left: 45.8%;
}
.arrow2_eagle {
    position: absolute;
    transform: rotate(-90deg);
    height: 20%;
    top: 47.5%;
    left: 19%;
}
.arrow3_eagle {
    position: absolute;
    transform: rotate(-90deg);
    height: 20%;
    top: 77.5%;
    left: 23%;
}

.animate_arrow1_eagle {
		animation: animator_arrow1_eagle .5s linear infinite;
		-webkit-animation: animator_arrow1_eagle .5s linear infinite;
}
@keyframes animator_arrow1_eagle {
  50% {
		-webkit-transform: scaleY(1.1);
		transform: scaleY(1.1);
  }
  100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
  }
}
@-webkit-keyframes animator_arrow1_eagle {
	50% {
		-webkit-transform: scaleY(1.1);
		transform: scaleY(1.1);
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

.moving_bg {
    background: url("../../images/playtime/jungle01.png");
    background-size: 200% 100%;
		background-position: 0% 100%;
    z-index: 995;
    top: 0%;
    left: 0%;
		animation: move_bg 15s linear forwards;
		-webkit-animation: move_bg 15s linear forwards;
}
.moving_bg2 {
    background: url("../../images/playtime/jungle02.png");
    background-size: 200% 100%;
		background-position: 0% 100%;
    z-index: 995;
    top: 0%;
    left: 0%;
		animation: move_bg 15s linear forwards;
		-webkit-animation: move_bg 15s linear forwards;
}

@keyframes move_bg {
  100% {
		background-size: 200% 100%;
		background-position: 100% 100%;
  }
}
@-webkit-keyframes move_bg {
	100% {
		background-size: 200% 100%;
		background-position: 100% 100%;
  }
}

.btnNavigationSong,.messagediv{
	position: absolute;
}
.messagediv {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 23%;
    font-size: 3vw;
    font-family: Sniglet !important;
    background: rgba(255, 255, 255,.7);
}
.eagle_fly {
    position: absolute;
    width: 15%;
		left: 120%;
    top: 3%;
}
.eagle_move{
animation: eagle_move 5s linear forwards;
-webkit-animation: eagle_move 5s linear forwards;
}
@keyframes eagle_move {
  100% {
		left: 80%;
  }
}
@-webkit-keyframes eagle_move {
	100% {
		left: 80%;
  }
}

.dialog1, .dialog2, .dialog3, .dialog4 {
	position: absolute;
}
.dialog2 {
    width: 33%;
    height: 28%;
    bottom: 27%;
    left: 27%;
    font-family: sniglet;
    font-size: 2.5vw;
    padding: 3%;
    transform: translate(-50%,-50%);
}
.textfill {
    position: absolute;
    top: 42%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 80%;
}
.mirror_image_X, .mirror_image_X2{
	transform: scaleX(-1);
}
.dialog_image1 {
    position: absolute;
		height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.dialog3 {
    width: 33%;
    height: 20%;
    bottom: 70%;
    left: 55%;
    font-family: sniglet;
    font-size: 2.5vw;
    padding: 3%;
    transform: translate(-50%,-50%);
}
.dialog4 {
    width: 33%;
    height: 20%;
    bottom: 70%;
    left: 55%;
    font-family: sniglet;
    font-size: 2.5vw;
    padding: 3%;
    transform: translate(-50%,-50%);
}
.animate_tiger {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 100%;
    z-index: 99;
		animation: animatetiger 15s linear forwards;
		-webkit-animation: animatetiger 15s linear forwards;
}
@keyframes animatetiger {
  100% {
		left: -8%;
  }
}
@-webkit-keyframes animatetiger {
	100% {
		left: -8%;
	}
}
@media(min-aspect-ratio:4/3){
	.playtime_text{
		font-size: 9vmin;
	}
	.bottom_text,.top_question,.messagediv{
		font-size: 6vmin;
	}
	.slide_div{
		font-size: 6vmin;
	}
	.dialog2,.dialog3{
		font-size: 4.5vmin;
	}
}
