<!--
    Title : General Template
 -->
<script type="text/javascript">
    $cssLoader("css/common.css");
    $cssLoader("css/page1.css");
    $cssLoader("css/page2.css");
     
</script>
<!-- cssloader ends -->

<head>
	<!-- added to load data directly from server TO REMOVE DURING DEPLOYMENT-->
	<meta http-equiv=“Pragma” content=”no-cache”>
	<meta http-equiv=“Expires” content=”-1″>
	<meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
	<!-- added to load data directly from server ends -->
</head>

<div class="my_activity">
    <div class="board"></div>
    <div class="nextBtn myNextStyle"></div>
    <div class="prevBtn myPrevStyle"></div>
</div>

<script id="general-template" type="text/x-handlebars-template">
    {{! update templatecontains data for if it has header, instruction, headerinstruction
        or only has content --}}
    {{#if hasheaderblock}}
            <div class="generalTemplateblock" data-templatecontains="hasheaderblock">
        {{else}}
            <div class="generalTemplateblock" data-templatecontains="hasonlycontent">
    {{/if}}

    {{! header block start--}}
        {{#if headerblock}}
        <div class="headerblock {{headerblockadditionalclass}}">
            {{#each headerblock}}
                    {{> textcontent}}
            {{/each}}
        </div>
        {{/if}}
    {{! header block end--}}
    {{! content block start--}}
        <div class="contentblock {{contentblockadditionalclass}}">
        {{!content block content wrapper used for content orientation - centered vertically and horizontally--}}
        {{#if contentblocknocenteradjust}}
            <div class="coverboardfull {{coverboardadditionalclass}}">
        {{else}}
            <div class="vertical-horizontal-center">
        {{/if}}
            {{#if uppertextblock}}
            <div class="textblock {{uppertextblockadditionalclass}}">
                {{#each uppertextblock}}
                    {{> textcontent}}
                {{/each}}
            </div>
            {{/if}}
            {{#each imageblock}}
                {{> imagecontent}}
            {{/each}}
            {{#if lowertextblock}}
            <div class="textblock {{lowertextblockadditionalclass}}">
                    {{#each lowertextblock}}
                        {{> textcontent}}
                    {{/each}}
            </div>
            {{/if}}
			{{#each extratextblock}}
				<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
			{{/each}}
			{{#each bgblock}}
				<div class="bgdiv {{bgdiv}}">
					<img class="{{bgclass}}" src="{{bgsrc}}">
					<img class="{{imgclass}}" src="{{imgsrc}}">
				</div>
			{{/each}}
			{{#each speechbox}}
				<div class="speechbox {{speechbox}}">
					<img class="speechbg {{imgclass}}" src="{{imgsrc}}">
					<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
					{{#if audioicon}}
						<img class="audioicon {{audioclass}}" src="images/speaker.png">
					{{/if}}
				</div>
			{{/each}}
			{{#each popupblock}}
				<div class="popupdiv {{popupclass}}">
					<div class="popupheader">
						<p class='popupheadertext {{headerclass}}'>{{headerdata}}</p>
					</div>
					<div class="popuppage {{pageclass}}">
            <p class=' {{textclass}}'>{{textdata}}</p>
            <img class="{{imgclass}}" src="{{imgsrc}}">
          </div>
					<img class="wrong_button" src="images/white_wrong.png">
				</div>
			{{/each}}

            {{#if definitionblock}}
            <div class="definitionblock {{definitionblockadditionalclass}}">
                {{#each definitionblock}}
                    {{> definitioncontent}}
                {{/each}}
            </div>
            {{/if}}
        </div>
        </div>
    {{! content block end--}}
    </div>
</script>
<script id="popup-template" type="text/x-handlebars-template">
	{{#each image}}
		<img class="{{imgclass}}" src="{{imgsrc}}">
	{{/each}}
	{{#each text}}
		<p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
	{{/each}}
	{{#if textblock}}
		<div class="textblock {{textblockclass}}">
			{{#each textblock}}
				{{> textcontent}}
			{{/each}}
		</div>
	{{/if}}
	{{#each museumblock}}
		<div class="museumdiv {{museumdiv}}">
			<img class="{{bgclass}}" src="{{bgsrc}}">
			<img class="{{imgclass}}" src="{{imgsrc}}">
			<div class="door-m {{doorclass}}"></div>
		</div>
	{{/each}}
</script>


<!-- partials separated as subtemplate in handlebars -->
<script id="textcontent-partial" type="text/x-handlebars-template">
   <p class="{{textclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{textdata}}}</p>
</script>

<script id="imagecontent-partial" type="text/x-handlebars-template">
    {{#each imagestoshow}}
        <img class="{{imgclass}}" src="{{imgsrc}}">
    {{/each}}
    {{#if imagelabels}}
        {{#each imagelabels}}
            <label class="{{imagelabelclass}}" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{imagelabeldata}}}</label>
        {{/each}}
    {{/if}}
</script>

<script id="definitioncontent-partial" type="text/x-handlebars-template">
    <img src="{{definitionImageSource}}">
    <figcaption>{{definitionTextData}}</figcaption>
    <p class="definitiontextstyle" data-highlight="{{datahighlightflag}}" data-highlightcustomclass="{{datahighlightcustomclass}}">{{{definitionInstructionData}}}</p>
</script>

<!-- js loader starts -->
<script type="text/javascript" src="js/soundjs-0.6.2.min.js"></script>
<script type="text/javascript">
    $jsLoader("js/page2.js");
</script>
